@using System.Security.Claims;
@{
    ViewBag.Title = "Yearly Enquiries Detailed Reports (By Source)";
    ViewBag.ys_active = "background: none !important; color: #664dc9 !important;";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_branch = claims.Where(c => c.Type == ClaimTypes.GroupSid).Select(c => c.Value).SingleOrDefault();
}
<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title mb-0 text-primary">
            <span data-lang-key="yeary-enquiries-source">Yearly Enquiries Detailed Report (By Source)</span> 
        </h4>
    </div>
    <div class="page-rightheader">
        <div class="btn-list btn-animation">
            <button class="btn btn-outline-primary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#searchFilter" aria-expanded="false" aria-controls="collapseExample">
                <i class="fa fa-filter"></i>  <span data-lang-key="advance-filter">Advanced Filters</span>
            </button>
        </div>
    </div>
</div>
<div class="row">
    @if (TempData["InfoMessage"] != null)
    {
        <div class="col-12 d-flex justify-content-center">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong>Information!&nbsp;</strong><i class="fa fa-info-circle"></i> @TempData["InfoMessage"]
            </div>
        </div>
    }
    else if (TempData["ErrorMessage"] != null)
    {
        <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong>Error!&nbsp;</strong><i class="fa fa-ban"></i> @TempData["ErrorMessage"]
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
        <div class="mt-2" id="YearlyReportAlert"></div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card mb-0">
            <div class="card-status bg-primary-1"></div>
            <div class="collapse collapsed" id="searchFilter">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="form-group mb-2">
                                <label class="form-label font-weight-semibold">
                                    <span data-lang-key="branches">Branch<small>(es)</small></span>
                                </label>
                                <select class="form-control" id="select_branch" multiple="multiple">
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <div class="form-group mb-2">
                                <label class="form-label font-weight-semibold">
                                    <span data-lang-key="select-year">Select Year</span></label>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <span class="fe fe-clock"></span>
                                    </div>
                                </div>
                                <input class="form-control" id="select_year" placeholder="Year Range" type="text">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <div class="form-group mb-2">
                                <label class="form-label font-weight-semibold">&nbsp;</label>
                                <button class="btn btn-primary mb-2" type="button" id="btnSearch">
                                    <i class="fa fa-search-plus"></i> 
                                    <span data-lang-key="search">Search</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div id="progress-loader" style="display:none;">
                    <div class="progress progress-sm mb-3">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-teal progress-bar-indeterminate"></div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="tbl_yearly_report_source" class="table table-bordered table-hover text-nowrap resize-table" style="width: 100%;">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Yearly Enquiry Detailed Report Toast -->
    <div class="text-wrap">
        <div class="toast-main p-5">
            <div class="demo-static-toast">
                <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                    <div id="YearlyReportToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header text-dark">
                            <img src="~/assets/images/brand/favicon.ico" class="rounded me-2" alt="img" height="16">
                            <strong class="me-auto"><span data-lang-key="yearly-enquiries-report">Yearly Enquiries Report</span></strong>
                            <small><span data-lang-key="just-now">Just Now</span></small>
                            <button type="button" class="btn-close btn-close" data-bs-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="toast-body">
                            <i class="fe fe-check-circle me-2 text-success"></i> <b class="text-dark"><span data-lang-key=filtered>Filtered </span> </b> <b class="text-primary" id="report_count"> </b><span data-lang-key="records-in-about">record(s) in about</span>  <b id="etime"></b> ms
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Yearly Detailed Report History Details -->
<div class="modal fade overflow-auto" id="yearly_details" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content" id="yearly_details_body">
        </div>
    </div>
</div>
<!-- End Yearly Detailed Report History Details -->
@section myScripts{
    <script>
        //#region Page Load & Initialization
        $(function () {
            // Focus on select2 Dropdown
            $(document).on('select2:open', () => {
                document.querySelector('.select2-search__field').focus();
            });
            // Load Advanced Filters
            load_filters();
            // Load Yearly Report
            GetYearlyReport(0);
        });
        //#endregion

        //#region Load Advanced Filters
        var load_filters = function () {
            load_branches();

            $('#select_year').bootstrapdatepicker({
                format: "yyyy",
                viewMode: "year",
                minViewMode: "years",
                autoclose: true,
                multidate: false,
                multidateSeparator: "-",
                endDate: "today"
            })
            $("#select_year").bootstrapdatepicker("setDate", "today");

            $('#select_year').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 4)
                        return false;
                }
            });
        }
        // Load Branches
        var load_branches = function () {
            $('#select_branch').SumoSelect({
                placeholder: 'Select Branch(es)',
                captionFormat: '{0} Branch(es) Selected',
                captionFormatAllSelected: 'All {0} Branches selected!',
                csvDispCount: 3,
                okCancelInMulti: true,
                isClickAwayOk: true,
                search: true,
                searchText: 'Search here...',
                selectAll: true
            });

            $.ajax({
            url: '@Url.Action("GetBranches", "AppointmentList", new { area = "Appointment" })',
            type: "GET",
            dataType: "JSON",
            async: false,
            success: function (response) {
                pageLoad = true;
                $('#select_branch').html('');
                $('#select_branch')[0].sumo.reload();

                $.each(response, function (j) {
                    $('#select_branch')[0].sumo.add(response[j].id, response[j].text);
                    $('#select_branch')[0].sumo.selectItem(["@emp_branch.ToString()"]);
                });
            },
            error: function (xhr) {
                console.log("Failed! Error Message : " + xhr.statusText);
            }
            }).done(function (){
                $('#select_branch')[0].sumo.reload();
            });
        }
        //#endregion

        //#region Search Yearly Report Click
        $("#btnSearch").click(function (e) {
            e.preventDefault();
            if ($("#select_branch").val() != null && $("#select_branch").val() != 0 && $("#select_branch").val() != "") {
                if (($("#select_year").val() != null && $("#select_year").val() != 0 && $("#select_year").val() != "")) {
                    GetYearlyReport(1);
                }
                else {
                    Swal.fire({
                        title: "Attention!",
                        text: "Please Select Year to Filter record(s)!",
                        icon: "warning",
                        showCancelButton: 0,
                        confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60"
                    });
                }
            }
            else {
                Swal.fire({
                    title: "Attention!",
                    text: "You need to select atleast 1 Branch to Filter Report!",
                    icon: "warning",
                    showCancelButton: 0,
                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60"
                });
            }
        });
        //#endregion

        //#region Datatable Client Side Processing
        // Get Yearly Report Data
        var GetYearlyReport = function (search_type) {

            var _data = {
                "search_type"   : search_type,
                "branch_ids"    : $('#select_branch').val().toString(),
                "select_year"   : $('#select_year').val()
            }

            $.ajax({
                type: "GET",
                url: "@Url.Action("GetYearlyReportBySource", "Reports", new { area = "Marketing" })",
                data: _data,
                beforeSend: function () {
                    $('#progress-loader').show();
                },
                start_time: new Date().getTime(),
                success: function (response) {
                    $('#etime').html(new Date().getTime() - this.start_time);
                    if (response.isAuthorized != false) {
                        var arr = JSON.parse(response);
                        var dataObjData = arr.report;
                        var dataObjCol = [{ title: "Month", data: "Date" }];

                        $.each(arr.sources, function (key, value) {
                            var _col = { title: value, data: value, className: "text-center" }
                            dataObjCol.push(_col);
                        });

                        //#region Load Datatable
                        var table;
                        if ($.fn.dataTable.isDataTable('#tbl_yearly_report_source')) {
                            table = $('#tbl_yearly_report_source').DataTable();
                            table.clear().destroy();
                            $('#tbl_yearly_report_source').empty();
                            BindDataTable(dataObjCol, dataObjData);
                        }
                        else {
                            BindDataTable(dataObjCol, dataObjData);
                        }
                        //#endregion

                        //#region Total Records Filtered
                        var count_total;

                        if (dataObjData.length > 0) {
                            count_total = dataObjData.length;
                            $('#YearlyReportToast').show();
                            $('#report_count').html(count_total.toLocaleString());
                        }
                        //#endregion
                    }
                    else
                    {
                        console.log("You are not Authorized To View This Page!");
                    }
                },
                error: function (xhr) {
                    console.log("Failed! Error Message : " + xhr.statusText);
                    $('#progress-loader').hide();
                }
            }).done(function () {
                resizedt();
                setTimeout(function () {
                    $('#YearlyReportToast').fadeOut('fast');
                }, 5000);
                $('#progress-loader').hide();
            });
        }
        //#endregion

        //#region Bind DataTable
        var BindDataTable = function (dataObjCol, dataObjData) {
            var table = $("#tbl_yearly_report_source").DataTable({
                "columns": dataObjCol,
                "data": dataObjData,
                "deferRender": true,
                "pageLength": 100,
                "retrieve": true,
                "ordering": false,
                lengthChange: true,
                scrollX: true,
                scrollY: 600,
                scrollCollapse: true,
                fixedColumns: true,
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '<span class="text-primary font-weight-semi-bold">Search By Date</span>',
                    lengthMenu: '_MENU_',
                },
                buttons: [
                    {
                        extend: 'excel',
                        title: 'Yearly Enquiries Detailed Report (By Source)',
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.excelHtml5.action.call(this, e, dt, node, config);
                            exportLogs("Employee Exported Yearly Enquiries Detailed Report (By Source) to Excel!");
                        }
                    },
                    {
                        extend: 'pdf',
                        title: 'Yearly Enquiries Detailed Report (By Source)',
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.pdfHtml5.action.call(this, e, dt, node, config);
                            exportLogs("Employee Exported Yearly Enquiries Detailed Report (By Source) to PDF!");
                        }
                    },
                    {
                        extend: 'csv',
                        title: 'Yearly Enquiries Detailed Report (By Source)',
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.csvHtml5.action.call(this, e, dt, node, config);
                            exportLogs("Employee Exported Yearly Enquiries Detailed Report (By Source) to CSV!");
                        }
                    },
                    {
                        extend: 'print',
                        title: 'Yearly Enquiries Detailed Report (By Source)',
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.print.action.call(this, e, dt, node, config);
                            exportLogs("Employee Printed Yearly Enquiries Detailed Report (By Source)!");
                        }
                    }
                ],
            });
            table.buttons().container().appendTo('#tbl_yearly_report_source_wrapper .col-md-6:eq(0)');
            $('#tbl_yearly_report_source_wrapper thead tr th').each(function () { $(this).addClass('text-white bg-primary border-bottom-0 font-weight-semibold') });
        }
        //#endregion

        //#region Get Yearly Report History
        var yearlySourceHistory = function (app_year, month, source) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetYearlySourceHistory", "Reports", new { area = "Marketing" })?app_year=" + app_year + "&app_source_name=" + source + "&app_month=" + month,
                contentType: "application/json",
                dataType: "html",
                success: function (response) {
                    $("#yearly_details_body").html(response);
                    $("#yearly_details").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
        //#endregion

        //#region Export General Logs
        var exportLogs = function (desc) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ExportLogs", "AuditLogs", new { area = "Common" })?desc="+ desc,
                contentType: "application/json",
                dataType: "json"
            });
        }
        //#endregion

        //#region UI Functions
        // Resize Datatable
        function resizedt() {
            setTimeout(function () {
                $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
            }, 350);
        }
        // Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
        // Remove Error Class
        function error_Timeout(_id) {
            setTimeout(function () {
                $(".has-error").removeClass("has-error");
                $(".error").removeClass("error");
                $("#" + _id + "-error").text("");
            }, 5200);
        }
        //#endregion
    </script>
}