@model BusinessEntities.NurseStation.ReviewofSystems
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_AddROS" class="needs-validation" autocomplete="off">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div>
                <h4 class="page-title mb-0 text-primary">
                    Review Of Systems
                </h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Constitutional&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_1_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2 field-to-check", })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_1, new { @class = "form-control field-to-check", @placeholder = "Enter Constitutional" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Skin&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_2_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2 field-to-check", })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_2, new { @class = "form-control field-to-check", @placeholder = "Enter Skin" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Eye&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_3_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2 field-to-check", })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_3, new { @class = "form-control field-to-check", @placeholder = "Enter Eye" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">ENT&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_4_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2 field-to-check", })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_4, new { @class = "form-control field-to-check", @placeholder = "Enter ENT" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Respirator&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_5_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2 field-to-check", })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_5, new { @class = "form-control field-to-check", @placeholder = "Enter Respirator" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Cardiovascular&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_6_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2 field-to-check", })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_6, new { @class = "form-control field-to-check", @placeholder = "Enter Cardiovascular" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Gastro-Intestinal&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_7_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2 field-to-check", })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_7, new { @class = "form-control field-to-check", @placeholder = "Enter Gastro-Intestinal" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Genito-Urinary&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_8_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2 field-to-check", })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_8, new { @class = "form-control field-to-check", @placeholder = "Enter Genito-Urinary" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Neurological&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_9_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2 field-to-check", })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_9, new { @class = "form-control field-to-check", @placeholder = "Enter Neurological" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Musculo-skeletal&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_10_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2 field-to-check", })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_10, new { @class = "form-control field-to-check", @placeholder = "Enter Musculo-skeletaly" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Phychiatric&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_11_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2 field-to-check", })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_11, new { @class = "form-control field-to-check", @placeholder = "Enter Phychiatric" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Endocrine&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_12_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2 field-to-check", })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_12, new { @class = "form-control field-to-check", @placeholder = "Enter Endocrine" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Hematologic / Lymphatic&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_13_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2 field-to-check", })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_13, new { @class = "form-control field-to-check", @placeholder = "Enter Hematologic / Lymphatic" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Allergy / Immunologic&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_14_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2 field-to-check", })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_14, new { @class = "form-control field-to-check", @placeholder = "Enter Allergy / Immunologic" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Menstrual History&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_15_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2 field-to-check", })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_15, new { @class = "form-control field-to-check", @placeholder = "Enter Menstrual History" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Additional ROS&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_16_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2 field-to-check", })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_16, new { @class = "form-control field-to-check", @placeholder = "Enter Additional ROS" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-group mb-3">
                <label class="form-label text-black">Comments&nbsp;</label>
                @Html.TextAreaFor(m => m.rs_comments, new { @class = "form-control field-to-check", @placeholder = "Enter Comments" })
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-success" id="btn_Insert_ROS">Add</button>
                <button type="button" class="btn btn-outline-dark" id="btn_Reset_ReviewofSystems">Reset</button>
                <button type="button" class="btn btn-outline-danger me-1" id="btn_Close_ReviewofSystems" style="display:none" >
                    Close
                </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    //#region Partial View Onload
        $(function () {
        toggleButtonVisibility();

            $("#rs_1_type,#rs_2_type,#rs_3_type,#rs_4_type, #rs_5_type, #rs_6_type").select2({
                placeholder: 'Select Type',
                width: '100%',
                minimumResultsForSearch: '',
                dropdownParent: $('#form_AddROS'),
                escapeMarkup: function (markup) {
                    return markup;
                }
            });
            $( "#rs_7_type, #rs_8_type, #rs_9_type, #rs_10_type, #rs_11_type, #rs_12_type").select2({
                placeholder: 'Select Type',
                width: '100%',
                minimumResultsForSearch: '',
                dropdownParent: $('#form_AddROS'),
                escapeMarkup: function (markup) {
                    return markup;
                }
            });
            $("#rs_13_type, #rs_14_type, #rs_15_type, #rs_16_type ").select2({
                placeholder: 'Select Type',
                width: '100%',
                minimumResultsForSearch: '',
                dropdownParent: $('#form_AddROS'),
                escapeMarkup: function (markup) {
                    return markup;
                }
            });
        });
    //#endregion Partial View Onload
   
    //#region Button Visibility
    function toggleButtonVisibility() {
        if (areFieldsFilled()) {
            if ("@emp_designation.ToString()" === "Super Administrator") {
                $("#btn_Insert_ROS").show();
            } else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Insert_ROS").show();

                }
                else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Insert_ROS").show();
                    }
                    else {
                        $("#btn_Insert_ROS").hide();
                    }

                }
            }
        } else {
            $("#btn_Insert_ROS").hide();
        }
    }
    //#endregion
    //#region Validating
    function areFieldsFilled() {
        return $(".field-to-check").filter(function () {
            return this.value.trim() !== "";
        }).length > 0;
    }
    //#endregion

    $(".field-to-check").on("change input", toggleButtonVisibility);

    //#region Reset
        $('#btn_Reset_ReviewofSystems').on('click', function (e) {
            e.preventDefault();
            clearControls();
        });
    //#endregion Reset

    //#region Clear Controls
        var clearControls = function () {
            $("#rs_1").val("");
            $("#rs_2").val("");
            $("#rs_3").val("");
            $("#rs_4").val("");
            $("#rs_5").val("");
            $("#rs_6").val("");
            $("#rs_7").val("");
            $("#rs_8").val("");
            $("#rs_9").val("");
            $("#rs_10").val("");
            $("#rs_11").val("");
            $("#rs_12").val("");
            $("#rs_13").val("");
            $("#rs_14").val("");
            $("#rs_15").val("");
            $("#rs_16").val("");
            $("#rs_1_type").val("").trigger("change");
            $("#rs_2_type").val("").trigger("change");
            $("#rs_3_type").val("").trigger("change");
            $("#rs_4_type").val("").trigger("change");
            $("#rs_5_type").val("").trigger("change");
            $("#rs_6_type").val("").trigger("change");
            $("#rs_7_type").val("").trigger("change");
            $("#rs_8_type").val("").trigger("change");
            $("#rs_9_type").val("").trigger("change");
            $("#rs_10_type").val("").trigger("change");
            $("#rs_11_type").val("").trigger("change");
            $("#rs_12_type").val("").trigger("change");
            $("#rs_13_type").val("").trigger("change");
            $("#rs_14_type").val("").trigger("change");
            $("#rs_15_type").val("").trigger("change");
            $("#rs_16_type").val("").trigger("change");
            $("#rs_comments").val("").trigger("change");
        }
    //#endregion Clear Controls

  

    //#region Insert Button Click
        $('#btn_Insert_ROS').on('click', function (e) {
            e.preventDefault();
            
                $('#btn_Insert_ROS').removeClass("btn btn-success");
                $('#btn_Insert_ROS').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Insert_ROS').html("Saving the Record....");

                var _dataInsert = {
                "rsId": 0,
                "rs_appId": @emr.appId,
                "rs_1": $("#rs_1").val(),
                "rs_2": $("#rs_2").val(),
                "rs_3": $("#rs_3").val(),
                "rs_4": $("#rs_4").val(),
                "rs_5": $("#rs_5").val(),
                "rs_6": $("#rs_6").val(),
                "rs_7": $("#rs_7").val(),
                "rs_8": $("#rs_8").val(),
                "rs_9": $("#rs_9").val(),
                "rs_10": $("#rs_10").val(),
                "rs_11": $("#rs_11").val(),
                "rs_12": $("#rs_12").val(),
                "rs_13": $("#rs_13").val(),
                "rs_14": $("#rs_14").val(),
                "rs_15": $("#rs_15").val(),
                "rs_16": $("#rs_16").val(),
                "rs_1_type": $("#rs_1_type").val(),
                "rs_2_type": $("#rs_2_type").val(),
                "rs_3_type": $("#rs_3_type").val(),
                "rs_4_type": $("#rs_4_type").val(),
                "rs_5_type": $("#rs_5_type").val(),
                "rs_6_type": $("#rs_6_type").val(),
                "rs_7_type": $("#rs_7_type").val(),
                "rs_8_type": $("#rs_8_type").val(),
                "rs_9_type": $("#rs_9_type").val(),
                "rs_10_type": $("#rs_10_type").val(),
                "rs_11_type": $("#rs_11_type").val(),
                "rs_12_type": $("#rs_12_type").val(),
                "rs_13_type": $("#rs_13_type").val(),
                "rs_14_type": $("#rs_14_type").val(),
                "rs_15_type": $("#rs_15_type").val(),
                "rs_16_type": $("#rs_16_type").val(),
                "rs_comments": $("#rs_comments").val(),
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("InsertReviewofSystems", "ReviewofSystems", new { area = "NurseStation" })",
                    dataType: 'JSON',
                    data: _dataInsert,
                    success: function (data) {
                        $('#btn_Insert_ROS').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Insert_ROS').addClass("btn btn-success");
                        $('#btn_Insert_ROS').html("Add");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Review Of Systems Added Successfully!", "success");
                                Timeout();
                                GetReviewofSystems();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. Review Of Systems Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Insert_ROS').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Insert_ROS').addClass("btn btn-success");
                        $('#btn_Insert_ROS').html("Add");
                        Timeout();
                    }
                });
           
        });
     //#endregion Insert Button Click
</script>


