@model BusinessEntities.NurseStation.ReviewofSystems
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_EditROS" class="needs-validation" autocomplete="off">

    
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.rsId)
    @Html.HiddenFor(m => m.rs_appId)
    @Html.HiddenFor(m => m.rsId, new { @id = "ursId", @value = "@Model.rsId" })
    <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div>
                <h4 class="page-title mb-0 text-primary">
                    Edit Review of Systems
                </h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Constitutional&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_1_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2", @id = "urs_1_type" })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_1, new { @class = "form-control", @placeholder = "Enter Constitutional", @id = "urs_1" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Skin&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_2_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2", @id = "urs_2_type" })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_2, new { @class = "form-control", @placeholder = "Enter Skin", @id = "urs_2" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Eye&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_3_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2", @id = "urs_3_type" })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_3, new { @class = "form-control", @placeholder = "Enter Eye", @id = "urs_3" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">ENT&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_4_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2", @id = "urs_4_type" })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_4, new { @class = "form-control", @placeholder = "Enter ENT", @id = "urs_4" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Respirator&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_5_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2", @id = "urs_5_type" })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_5, new { @class = "form-control", @placeholder = "Enter Respirator", @id = "urs_5" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Cardiovascular&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_6_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2", @id = "urs_6_type" })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_6, new { @class = "form-control", @placeholder = "Enter Cardiovascular", @id = "urs_6" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Gastro-Intestinal&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_7_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2", @id = "urs_7_type" })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_7, new { @class = "form-control", @placeholder = "Enter Gastro-Intestinal", @id = "urs_7" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Genito-Urinary&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_8_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2", @id = "urs_8_type" })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_8, new { @class = "form-control", @placeholder = "Enter Genito-Urinary", @id = "urs_8" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Neurological&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_9_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2", @id = "urs_9_type" })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_9, new { @class = "form-control", @placeholder = "Enter Neurological", @id = "urs_9" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Musculo-skeletal&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_10_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2", @id = "urs_10_type" })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_10, new { @class = "form-control", @placeholder = "Enter Musculo-skeletaly", @id = "urs_10" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Phychiatric&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_11_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2", @id = "urs_11_type" })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_11, new { @class = "form-control", @placeholder = "Enter Phychiatric", @id = "urs_11" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Endocrine&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_12_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2", @id = "urs_12_type" })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_12, new { @class = "form-control", @placeholder = "Enter Endocrine", @id = "urs_12" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Hematologic / Lymphatic&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_13_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2", @id = "urs_13_type" })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_13, new { @class = "form-control", @placeholder = "Enter Hematologic / Lymphatic", @id = "urs_13" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Allergy / Immunologic&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_14_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2", @id = "urs_14_type" })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_14, new { @class = "form-control", @placeholder = "Enter Allergy / Immunologic", @id = "urs_14" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Menstrual History&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_15_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2", @id = "urs_15_type" })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_15, new { @class = "form-control", @placeholder = "Enter Menstrual History", @id = "urs_15" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Additional ROS&nbsp;</label>
                @Html.DropDownListFor(m => m.rs_16_type, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Normal", Value = "Normal" },
                         new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                         new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                      }, "Select Type", new { @class = "form-select select2", @id = "urs_16_type" })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.rs_16, new { @class = "form-control", @placeholder = "Enter Additional ROS", @id = "urs_16" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-group mb-3">
                <label class="form-label text-black">Comments&nbsp;</label>
                @Html.TextAreaFor(m => m.rs_comments, new { @class = "form-control", @placeholder = "Enter Comments", @id = "urs_comments" })
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning" id="btn_Update_ROS">Save Changes</button>
                <button type="submit" class="btn btn-sm btn-outline-danger" id="btn_Delete_ROS">Delete</button>
                <button type="button" class="btn btn-outline-danger me-1" id="btn_Close_ROS" style="display:none" >
                    Close
                </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    //#region Partial View Onload
         $(function () {

             if ("@emp_designation.ToString()" === "Super Administrator") {
                 $("#btn_Update_ROS").show();
                 $("#btn_Delete_ROS").show();
             } else {
                 if ("@emr.set_emr_lock" == "NoLock") {
                     $("#btn_Update_ROS").show();
                     $("#btn_Delete_ROS").show();

                 }
                 else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                         $("#btn_Update_ROS").show();
                         $("#btn_Delete_ROS").show();
                     }
                     else {
                         $("#btn_Update_ROS").hide();
                         $("#btn_Delete_ROS").hide();
                     }
                 }
             }
             $('#btn_Close_ReviewofSystems').click(function () {
                 $('#ros_add').hide();
             });
             $("#urs_1_type,#urs_2_type,#urs_3_type,#urs_4_type, #urs_5_type, #urs_6_type").select2({
                 placeholder: 'Select Type',
                 width: '100%',
                 minimumResultsForSearch: '',
                 dropdownParent: $('#form_AddROS'),
                 escapeMarkup: function (markup) {
                     return markup;
                 }
             });
             $("#urs_7_type, #urs_8_type, #urs_9_type, #urs_10_type, #urs_11_type, #urs_12_type").select2({
                 placeholder: 'Select Type',
                 width: '100%',
                 minimumResultsForSearch: '',
                 dropdownParent: $('#form_AddROS'),
                 escapeMarkup: function (markup) {
                     return markup;
                 }
             });
             $("#urs_13_type, #urs_14_type, #urs_15_type, #urs_16_type ").select2({
                 placeholder: 'Select Type',
                 width: '100%',
                 minimumResultsForSearch: '',
                 dropdownParent: $('#form_AddROS'),
                 escapeMarkup: function (markup) {
                     return markup;
                 }
             });
         });
    //#endregion Partial View Onload
    $('#btn_Close_ROS').click(function () {
        $('#ros_edit').hide();
    });
    //#region Clear Controls
        var clearControls = function () {
            $("#urs_1").val("");
            $("#urs_2").val("");
            $("#urs_3").val("");
            $("#urs_4").val("");
            $("#urs_5").val("");
            $("#urs_6").val("");
            $("#urs_7").val("");
            $("#urs_8").val("");
            $("#urs_9").val("");
            $("#urs_10").val("");
            $("#urs_11").val("");
            $("#urs_12").val("");
            $("#urs_13").val("");
            $("#urs_14").val("");
            $("#urs_15").val("");
            $("#urs_16").val("");
            $("#urs_1_type").val("");
            $("#urs_2_type").val("");
            $("#urs_3_type").val("");
            $("#urs_4_type").val("");
            $("#urs_5_type").val("");
            $("#urs_6_type").val("");
            $("#urs_7_type").val("");
            $("#urs_8_type").val("");
            $("#urs_9_type").val("");
            $("#urs_10_type").val("");
            $("#urs_11_type").val("");
            $("#urs_12_type").val("");
            $("#urs_13_type").val("");
            $("#urs_14_type").val("");
            $("#urs_15_type").val("");
            $("#urs_16_type").val("");
            $("#urs_comments").val("");
        }
    //#endregion Clear Controls

    //#region Update  Button Click
        $('#btn_Update_ROS').on('click', function (e) {
             e.preventDefault();
            if ($("#form_EditROS").valid()) {
                $('#btn_Update_ROS').removeClass("btn btn-success");
                $('#btn_Update_ROS').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Update_ROS').html("Updating the Record....");

                var _dataInsert = {
                    "rsId": $("#ursId").val(),
                    "rs_appId": $("#rs_appId").val(),
                    "rs_1": $("#urs_1").val(),
                    "rs_2": $("#urs_2").val(),
                    "rs_3": $("#urs_3").val(),
                    "rs_4": $("#urs_4").val(),
                    "rs_5": $("#urs_5").val(),
                    "rs_6": $("#urs_6").val(),
                    "rs_7": $("#urs_7").val(),
                    "rs_8": $("#urs_8").val(),
                    "rs_9": $("#urs_9").val(),
                    "rs_10": $("#urs_10").val(),
                    "rs_11": $("#urs_11").val(),
                    "rs_12": $("#urs_12").val(),
                    "rs_13": $("#urs_13").val(),
                    "rs_14": $("#urs_14").val(),
                    "rs_15": $("#urs_15").val(),
                    "rs_16": $("#urs_16").val(),
                    "rs_1_type": $("#urs_1_type").val(),
                    "rs_2_type": $("#urs_2_type").val(),
                    "rs_3_type": $("#urs_3_type").val(),
                    "rs_4_type": $("#urs_4_type").val(),
                    "rs_5_type": $("#urs_5_type").val(),
                    "rs_6_type": $("#urs_6_type").val(),
                    "rs_7_type": $("#urs_7_type").val(),
                    "rs_8_type": $("#urs_8_type").val(),
                    "rs_9_type": $("#urs_9_type").val(),
                    "rs_10_type": $("#urs_10_type").val(),
                    "rs_11_type": $("#urs_11_type").val(),
                    "rs_12_type": $("#urs_12_type").val(),
                    "rs_13_type": $("#urs_13_type").val(),
                    "rs_14_type": $("#urs_14_type").val(),
                    "rs_15_type": $("#urs_15_type").val(),
                    "rs_16_type": $("#urs_16_type").val(),
                    "rs_comments": $("#urs_comments").val(),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dataInsert)
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateReviewofSystems", "ReviewofSystems", new { area = "NurseStation" })",
                    dataType: 'JSON',
                    data: _dataInsert,
                    success: function (data) {
                        $('#ros_edit').hide();
                        $('#btn_Update_ROS').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Update_ROS').addClass("btn btn-success");
                        $('#btn_Update_ROS').html("Save Changes");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> ReviewofSystems Updated Successfully!", "success");
                                Timeout();
                                GetReviewofSystems();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. ReviewofSystems Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Update_ROS').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Update_ROS').addClass("btn btn-success");
                        $('#btn_Update_ROS').html("Save Changes");
                        Timeout();
                    }
                });
            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion Update  Button Click


    //#region Delete Click
        $('#btn_Delete_ROS').on('click', function (e) {
            e.preventDefault();
            $('#btn_Delete_ROS').removeClass("btn btn-success");
            $('#btn_Delete_ROS').addClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Delete_ROS').html("Deleting the Record....");

            $.ajax({
                url: '@Url.Action("DeleteReviewofSystems", "ReviewofSystems", new { area = "NurseStation" })?rsId=' + $("#ursId").val(),
                type: "POST",
                dataType: 'JSON',
                success: function (data) {
                    $('#btn_Delete_ROS').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Delete_ROS').addClass("btn btn-warning");
                    $('#btn_Delete_ROS').html("Delete");
                    if (data.isAuthorized) {
                        if (data.success) {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> Review of Systems Deleted Successfully!", "success");
                            GetReviewofSystems();
                            clearControls();
                            Timeout();
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Error!.. Failed to Delete..</strong><br/>" +
                                "</div></div>";
                            $("#error").html(html);
                        }
                    }
                    else {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                    }
                },
                error: function (xhr) {
                    $('#btn_Delete_ROS').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Delete_ROS').addClass("btn btn-Delete");
                    $('#btn_Delete_ROS').html("Delete");
                    Timeout();
                }
            })
        });
    //#endregion Delete Click
</script>

