@model IEnumerable<BusinessEntities.Appointment.AuditLogs.AppointmentLogs>
<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold" id="exampleModalLongTitle">Appointment Audit Logs For Visit ID&nbsp;</h5>
    @{
        int appId = 0;
        if (Model.Any())
        {
            appId = Model.ElementAt(0).appa_appId;
            <span class="badge bg-primary-light-1 text-uppercase">@appId</span>
        }
    }
    <button type="button" class="btn-close close-modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body p-4">
    <div class="row">
        @if (Model.Any())
        {
            <div class="col-md-12 col-lg-12">
                <div class="table-responsive" style="min-height:unset;">
                    <table id="tbl_app_logs" class="table table-bordered text-nowrap resize-table" style="width:100%;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #5b73e8; border-color: #5b73e8;">
                                <th class="border-bottom-0 font-weight-semibold text-white">In / Out Patient</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Appointment Date</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">From Time</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">To Time</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Room</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Doctor</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Patient</th>
                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Insurance</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Status</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Type</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Operation</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Log Date &amp; Time</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Made By</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var dr in Model)
                            {
                                <tr>
                                    <td class="fs-13">@dr.appa_inout</td>
                                    <td class="fs-13">@dr.appa_fdate.ToString("dd-MMMM-yyyy")</td>
                                    <td class="fs-13">@dr.appa_ftime_name</td>
                                    <td class="fs-13">@dr.appa_ttime_name</td>
                                    <td class="fs-13">@dr.appa_room_name</td>
                                    <td class="fs-13">@dr.appa_doctor_name</td>
                                    <td class="fs-13">@dr.appa_name</td>
                                    <td class="fs-13 text-wrap text-center">@Html.Raw(dr.appa_ins_name)</td>
                                    <td class="fs-13">@dr.appa_status</td>
                                    <td class="fs-13">@dr.appa_type</td>
                                    @if (dr.appa_operation == "Inserted")
                                    {
                                        <td class="fs-13 bg-success-transparent-2 font-weight-semibold">@dr.appa_operation</td>
                                        <td class="fs-13 bg-success-transparent-2 font-weight-semibold">@dr.appa_date_modified.ToString("dd-MM-yyyy | hh:mm:ss")</td>
                                        <td class="fs-13 bg-success-transparent-2 font-weight-semibold">@dr.appa_madeby_name</td>
                                    }
                                    else if (dr.appa_operation == "Updated")
                                    {
                                        <td class="fs-13 bg-warning-transparent-2 font-weight-semibold">@dr.appa_operation</td>
                                        <td class="fs-13 bg-warning-transparent-2 font-weight-semibold">@dr.appa_date_modified.ToString("dd-MM-yyyy | hh:mm:ss")</td>
                                        <td class="fs-13 bg-warning-transparent-2 font-weight-semibold">@dr.appa_madeby_name</td>
                                    }
                                    else
                                    {
                                        <td class="fs-13 bg-danger-transparent-2 font-weight-semibold">@dr.appa_operation</td>
                                        <td class="fs-13 bg-danger-transparent-2 font-weight-semibold">@dr.appa_date_modified.ToString("dd-MM-yyyy | hh:mm:ss")</td>
                                        <td class="fs-13 bg-danger-transparent-2 font-weight-semibold">@dr.appa_madeby_name</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {
            <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
                <div class="alert alert-light-info alert-dismissiblefade show" role="alert">
                    <strong><i class="fa fa-exclamation-circle pt-2"></i> Info!&nbsp;</strong> Appointment Log(s) Not Available!
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var table = $('#tbl_app_logs').DataTable({
            lengthChange: true,
            buttons: [{
                    extend: 'excel',
                    className: 'btn-secondary',
                    title: 'Appointment Audit Logs for @appId',
                    action: function (e, dt, node, config) {
                        $.fn.dataTable.ext.buttons.excelHtml5.action.call(this, e, dt, node, config);
                        exportLogs("Employee Exported Appointment Logs to Excel!");
                    }
                },
                {
                    extend: 'pdf',
                    className: 'btn-secondary',
                    title: 'Appointment Audit Logs for @appId',
                    action: function (e, dt, node, config) {
                        $.fn.dataTable.ext.buttons.pdfHtml5.action.call(this, e, dt, node, config);
                        exportLogs("Employee Exported Appointment Logs to PDF!");
                    }
                },
                {
                    extend: 'csv',
                    className: 'btn-secondary',
                    title: 'Appointment Audit Logs for @appId',
                    action: function (e, dt, node, config) {
                        $.fn.dataTable.ext.buttons.csvHtml5.action.call(this, e, dt, node, config);
                        exportLogs("Employee Exported Appointment Logs to CSV!");
                    }
                },
                {
                    extend: 'print',
                    className: 'btn-secondary',
                    title: 'Appointment Audit Logs for @appId',
                    action: function (e, dt, node, config) {
                        $.fn.dataTable.ext.buttons.print.action.call(this, e, dt, node, config);
                        exportLogs("Employee Printed Appointment Logs!");
                    }
                }],
            order: [[11, 'asc']],
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '<span class="text-primary font-weight-semi-bold">Search Logs</span>',
                lengthMenu: '_MENU_ ',
            }
        });

        table.buttons().container().appendTo('#tbl_app_logs_wrapper .col-md-6:eq(0)');
    });

    $(".close-modal").on('click', function (e) {
        e.preventDefault();
        var _from = $('#app_logs').attr("data-modal-from");

        $('#app_logs').modal('hide');

        if (_from === "patient-detail-view") {
            $('#patient_details').modal('toggle');
        }
    });
</script>
