
@model BusinessEntities.KPIReports.AuditLogsReport

<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold" id="exampleModalLongTitle">Audit Log of Visit Id&nbsp;</h5>
    <span class="badge bg-primary-light-1 text-uppercase"> @Model.appId </span>
    <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body p-4" style="background: #f5f5f5;">
    <!-- Row -->
    <div class="row">
     
        <div class="col-xl-12 col-lg-12">
            <div class="card p-1">
                <div class="panel-group accordion-panel" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default active">
                        <div class="panel-heading " role="tab" id="pat_vital">
                            <h4 class="panel-title">
                                <a role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#pnl_vital" aria-expanded="true" aria-controls="pnl_vital">
                                    <i class="fa fa-calendar-check-o me-2"></i>vital
                                    <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                                </a>
                            </h4>
                        </div>
                        <div id="pnl_vital" class="panel-collapse collapse" role="tabpanel" aria-labelledby="pat_vital">
                            <div class="panel-body">
                                <div class="table-responsive" style="min-height:unset;">
                                    <table id="tbl_vital" class="table table-bordered text-nowrap resize-table" style="width:100%;">
                                        <thead>
                                            <tr style="color: #fff !important; background-color: #5b73e8; border-color: #5b73e8; ">
                                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Temperature</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Pulse</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">BP</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">BPD</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Height</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Weight</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Respiratory</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">SpO2</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Hip</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Waist</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Head Circumference</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Urinalysis</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Notes</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Status</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Operation</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Made By</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Date & Time Recorded</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var (index, dr) in Model.vitalLogsKPI.Select((data, i) => (i, data)))
                                            {
                                                <tr>
                                                    <td class="fs-13">@index</td>
                                                    <td class="fs-13">@dr.signa_temp</td>
                                                    <td class="fs-13">@dr.signa_pulse</td>
                                                    <td class="fs-13">@dr.signa_bp</td>
                                                    <td class="fs-13">@dr.signa_bpd</td>
                                                    <td class="fs-13">@dr.signa_height</td>
                                                    <td class="fs-13">@dr.signa_weight</td>
                                                    <td class="fs-13">@dr.signa_resp</td>
                                                    <td class="fs-13">@dr.signa_spo2</td>
                                                    <td class="fs-13">@dr.signa_hip</td>
                                                    <td class="fs-13">@dr.signa_waist</td>
                                                    <td class="fs-13">@dr.signa_head</td>
                                                    <td class="fs-13">@dr.signa_uri</td>
                                                    <td class="fs-13">@dr.signa_notes</td>
                                                    <td class="fs-13">
                                                        @if (dr.signa_status.ToLower() == "active")
                                                        {
                                                            <span class="dot-label bg-success me-2 w-2 h-2"></span>
                                                            <span class=" text-success">Active</span>
                                                        }
                                                        else if (dr.signa_status.ToLower() == "deleted")
                                                        {
                                                            <span class="dot-label bg-danger me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-danger">Deleted</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="dot-label bg-dark me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-dark">@dr.signa_status</span>
                                                        }
                                                    </td>
                                                    <td class="fs-13">
                                                        @if (dr.signa_operation.ToLower() == "inserted")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-success me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-success">Active</span>

                                                        }
                                                        else if (dr.signa_operation.ToLower() == "updated")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-warning me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-warning">Updated</span>

                                                        }
                                                        else if (dr.signa_operation.ToLower() == "deleted")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-danger me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-danger">Deleted</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="font-weight-semibold text-dark">@dr.signa_operation</span>
                                                        }
                                                    </td>
                                                    <td class="fs-13">@dr.signa_madeby_name</td>
                                                    <td class="fs-13">
                                                        <i class="fa fa-calendar-check-o text-dark me-1"></i>
                                                        <i class="fa fa-clock-o text-dark me-1"></i>
                                                        @dr.signa_date_created.ToString() <br />
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default mt-2">
                        <div class="panel-heading" role="tab" id="pat_allergies">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#pnl_allergies" aria-expanded="false" aria-controls="pnl_allergies">
                                    <i class="fa fa-medkit me-2"></i>Allergies
                                    <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                                </a>
                            </h4>
                        </div>
                        <div id="pnl_allergies" class="panel-collapse collapse" role="tabpanel" aria-labelledby="pat_allergies">
                            <div class="panel-body ">
                                <div class="table-responsive" style="min-height:unset;">
                                    <table id="tbl_allergy" class="table table-bordered text-nowrap resize-table" style="width:100%;">
                                        <thead>
                                            <tr style="color: #fff !important; background-color: #5b73e8; border-color: #5b73e8; ">
                                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Allergy Type</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Allergy Severity</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Allergies</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Allergy For</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Other Allergy For</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Status</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Operation</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Made By</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Date & Time Recorded</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var (index, dr) in Model.allergiesLogsKPI.Select((data, i) => (i, data)))
                                            {
                                                <tr>
                                                    <td class="fs-13">@index</td>
                                                    <td class="fs-13">@dr.alla_type</td>
                                                    <td class="fs-13">@dr.alla_severity</td>
                                                    <td class="fs-13">@dr.allergiesa</td>
                                                    <td class="fs-13">@dr.alla_for</td>
                                                    <td class="fs-13">@dr.alla_pexam</td>
                                                    <td class="fs-13">
                                                        @if (dr.alla_status.ToLower() == "active")
                                                        {
                                                            <span class="dot-label bg-success me-2 w-2 h-2"></span>
                                                            <span class=" text-success">Active</span>
                                                        }
                                                        else if (dr.alla_status.ToLower() == "deleted")
                                                        {
                                                            <span class="dot-label bg-danger me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-danger">Deleted</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="dot-label bg-dark me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-dark">@dr.alla_status</span>
                                                        }
                                                    </td>
                                                    <td class="fs-13">
                                                        @if (dr.alla_operation.ToLower() == "inserted")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-success me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-success">Active</span>

                                                        }
                                                        else if (dr.alla_operation.ToLower() == "updated")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-warning me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-warning">Updated</span>

                                                        }
                                                        else if (dr.alla_operation.ToLower() == "deleted")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-danger me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-danger">Deleted</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="font-weight-semibold text-dark">@dr.alla_operation</span>
                                                        }
                                                    </td>
                                                    <td class="fs-13">@dr.alla_madeby_name</td>
                                                    <td class="fs-13">
                                                        <i class="fa fa-calendar-check-o text-dark me-1"></i>
                                                        <i class="fa fa-clock-o text-dark me-1"></i>
                                                        @dr.alla_date_created.ToString() <br />
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default mt-2">
                        <div class="panel-heading" role="tab" id="pat_pasthistory">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#pnl_pasthistory" aria-expanded="false" aria-controls="pnl_pasthistory">
                                    <i class="fa fa-medkit me-2"></i>Past Family History
                                    <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                                </a>
                            </h4>
                        </div>
                        <div id="pnl_pasthistory" class="panel-collapse collapse" role="tabpanel" aria-labelledby="pat_pasthistory">
                            <div class="panel-body ">
                                <div class="table-responsive" style="min-height:unset;">
                                    <table id="tbl_PastHistory" class="table table-bordered text-nowrap resize-table" style="width:100%;">
                                        <thead>
                                            <tr style="color: #fff !important; background-color: #5b73e8; border-color: #5b73e8; ">
                                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Past<br />History</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Other Past <br /> History</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Family <br />History</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Surgical<br /> History</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Smoking</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Smoking<br /> Habit Qty</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Smoking<br /> details</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Alcohol</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Alcohol<br /> Habit Qty</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Alcohol<br /> details</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Drug</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Drug<br /> Habit Qty</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Drug<br /> details</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Status</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Operation</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Made By</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Date & Time Recorded</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var (index, dr) in Model.pfaLogsKPI.Select((data, i) => (i, data)))
                                            {
                                                <tr>
                                                    <td class="fs-13">@index</td>
                                                    <td class="fs-13">@dr.pfa_past</td>
                                                    <td class="fs-13">@dr.pfa_other</td>
                                                    <td class="fs-13">@dr.pfa_family</td>
                                                    <td class="fs-13">@dr.pfa_surgical</td>
                                                    <td class="fs-13">@dr.pfa_smok</td>
                                                    <td class="fs-13">@dr.pfa_smok_habit</td>
                                                    <td class="fs-13">@dr.pfa_smok_details</td>
                                                    <td class="fs-13">@dr.pfa_alco</td>
                                                    <td class="fs-13">@dr.pfa_alco_habit</td>
                                                    <td class="fs-13">@dr.pfa_alco_details</td>
                                                    <td class="fs-13">@dr.pfa_drug</td>
                                                    <td class="fs-13">@dr.pfa_drug_habit</td>
                                                    <td class="fs-13">@dr.pfa_drug_details</td>
                                                    <td class="fs-13">
                                                        @if (dr.pfa_status.ToLower() == "active")
                                                        {
                                                            <span class="dot-label bg-success me-2 w-2 h-2"></span>
                                                            <span class=" text-success">Active</span>
                                                        }
                                                        else if (dr.pfa_status.ToLower() == "deleted")
                                                        {
                                                            <span class="dot-label bg-danger me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-danger">Deleted</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="dot-label bg-dark me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-dark">@dr.pfa_status</span>
                                                        }
                                                    </td>
                                                    <td class="fs-13">
                                                        @if (dr.pfa_operation.ToLower() == "inserted")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-success me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-success">Active</span>

                                                        }
                                                        else if (dr.pfa_operation.ToLower() == "updated")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-warning me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-warning">Updated</span>

                                                        }
                                                        else if (dr.pfa_operation.ToLower() == "deleted")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-danger me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-danger">Deleted</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="font-weight-semibold text-dark">@dr.pfa_operation</span>
                                                        }
                                                    </td>
                                                    <td class="fs-13">@dr.pfa_madeby_name</td>
                                                    <td class="fs-13">
                                                        <i class="fa fa-calendar-check-o text-dark me-1"></i>
                                                        <i class="fa fa-clock-o text-dark me-1"></i>
                                                        @dr.pfa_date_created.ToString() <br />
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default mt-2">
                        <div class="panel-heading" role="tab" id="pat_complaints">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#pnl_complaints" aria-expanded="false" aria-controls="pnl_complaints">
                                    <i class="fa fa-medkit me-2"></i> Chief Complaints
                                    <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                                </a>
                            </h4>
                        </div>
                        <div id="pnl_complaints" class="panel-collapse collapse" role="tabpanel" aria-labelledby="pat_complaints">
                            <div class="panel-body ">
                                <div class="table-responsive" style="min-height:unset;">
                                    <table id="tbl_complaints" class="table table-bordered text-nowrap resize-table" style="width:100%;">
                                        <thead>
                                            <tr style="color: #fff !important; background-color: #5b73e8; border-color: #5b73e8; ">
                                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Complaints</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Status</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Operation</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Made By</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Date & Time Recorded</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var (index, dr) in Model.complaintLogsKPI.Select((data, i) => (i, data)))
                                            {
                                                <tr>
                                                    <td class="fs-13">@index</td>
                                                    <td class="fs-13">@dr.complainta</td>

                                                    <td class="fs-13">
                                                        @if (dr.compa_status.ToLower() == "active")
                                                        {
                                                            <span class="dot-label bg-success me-2 w-2 h-2"></span>
                                                            <span class=" text-success">Active</span>
                                                        }
                                                        else if (dr.compa_status.ToLower() == "deleted")
                                                        {
                                                            <span class="dot-label bg-danger me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-danger">Deleted</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="dot-label bg-dark me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-dark">@dr.compa_status</span>
                                                        }
                                                    </td>
                                                    <td class="fs-13">
                                                        @if (dr.compa_operation.ToLower() == "inserted")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-success me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-success">Active</span>

                                                        }
                                                        else if (dr.compa_operation.ToLower() == "updated")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-warning me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-warning">Updated</span>

                                                        }
                                                        else if (dr.compa_operation.ToLower() == "deleted")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-danger me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-danger">Deleted</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="font-weight-semibold text-dark">@dr.compa_operation</span>
                                                        }
                                                    </td>
                                                    <td class="fs-13">@dr.compa_madeby_name</td>
                                                    <td class="fs-13">
                                                        <i class="fa fa-calendar-check-o text-dark me-1"></i>
                                                        <i class="fa fa-clock-o text-dark me-1"></i>
                                                        @dr.compa_date_created.ToString() <br />
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default mt-2">
                        <div class="panel-heading" role="tab" id="pat_hpi">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#pnl_hpi" aria-expanded="false" aria-controls="pnl_hpi">
                                    <i class="fa fa-medkit me-2"></i>  History of Present Illness
                                    <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                                </a>
                            </h4>
                        </div>
                        <div id="pnl_hpi" class="panel-collapse collapse" role="tabpanel" aria-labelledby="pat_hpi">
                            <div class="panel-body ">
                                <div class="table-responsive" style="min-height:unset;">
                                    <table id="tbl_hpi" class="table table-bordered text-nowrap resize-table" style="width:100%;">
                                        <thead>
                                            <tr style="color: #fff !important; background-color: #5b73e8; border-color: #5b73e8; ">
                                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Location</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Quality</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Severity</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Duration</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Timing</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Context</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Modifying Factor</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Symptoms</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Others</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Status</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Operation</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Made By</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Date & Time Recorded</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var (index, dr) in Model.hpiLogsKPI.Select((data, i) => (i, data)))
                                            {
                                                <tr>
                                                    <td class="fs-13">@index</td>
                                                    <td class="fs-13">@dr.hpia_loc</td>
                                                    <td class="fs-13">@dr.hpia_qua</td>
                                                    <td class="fs-13">@dr.hpia_sev</td>
                                                    <td class="fs-13">@dr.hpia_dur</td>
                                                    <td class="fs-13">@dr.hpia_tim</td>
                                                    <td class="fs-13">@dr.hpia_con</td>
                                                    <td class="fs-13">@dr.hpia_mod</td>
                                                    <td class="fs-13">@dr.hpia_sym</td>
                                                    <td class="fs-13">@dr.hpia_other</td>

                                                    <td class="fs-13">
                                                        @if (dr.hpia_status.ToLower() == "active")
                                                        {
                                                            <span class="dot-label bg-success me-2 w-2 h-2"></span>
                                                            <span class=" text-success">Active</span>
                                                        }
                                                        else if (dr.hpia_status.ToLower() == "deleted")
                                                        {
                                                            <span class="dot-label bg-danger me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-danger">Deleted</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="dot-label bg-dark me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-dark">@dr.hpia_status</span>
                                                        }
                                                    </td>
                                                    <td class="fs-13">
                                                        @if (dr.hpia_operation.ToLower() == "inserted")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-success me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-success">Active</span>

                                                        }
                                                        else if (dr.hpia_operation.ToLower() == "updated")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-warning me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-warning">Updated</span>

                                                        }
                                                        else if (dr.hpia_operation.ToLower() == "deleted")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-danger me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-danger">Deleted</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="font-weight-semibold text-dark">@dr.hpia_operation</span>
                                                        }
                                                    </td>
                                                    <td class="fs-13">@dr.hpia_madeby_name</td>
                                                    <td class="fs-13">
                                                        <i class="fa fa-calendar-check-o text-dark me-1"></i>
                                                        <i class="fa fa-clock-o text-dark me-1"></i>
                                                        @dr.hpia_date_created.ToString() <br />
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default mt-2">
                        <div class="panel-heading" role="tab" id="pat_ros">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#pnl_ros" aria-expanded="false" aria-controls="pnl_ros">
                                    <i class="fa fa-medkit me-2"></i>  Review of Systems
                                    <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                                </a>
                            </h4>
                        </div>
                        <div id="pnl_ros" class="panel-collapse collapse" role="tabpanel" aria-labelledby="pat_ros">
                            <div class="panel-body ">
                                <div class="table-responsive" style="min-height:unset;">
                                    <table id="tbl_ros" class="table table-bordered text-nowrap resize-table" style="width:100%;">
                                        <thead>
                                            <tr style="color: #fff !important; background-color: #5b73e8; border-color: #5b73e8; ">
                                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Const</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Skin</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Eye</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">ENT</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Respi</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Cardio</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Gastro<br />Intestinal</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Genito<br />Urinary</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Neuro</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Musculo<br />skeletal</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Phych</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Endo</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Hemato<br />Lymphatic</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Allergy<br />Immuno</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Menst<br />History</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Addi<br />ROS</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Note</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Status</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Operation</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Made By</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Date & Time Recorded</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var (index, dr) in Model.rosLogsKPI.Select((data, i) => (i, data)))
                                            {
                                                <tr>
                                                    <td class="fs-13">@index</td>
                                                    <td class="fs-13">@dr.rsa_1_type</td>
                                                    <td class="fs-13">@dr.rsa_2_type</td>
                                                    <td class="fs-13">@dr.rsa_3_type</td>
                                                    <td class="fs-13">@dr.rsa_4_type</td>
                                                    <td class="fs-13">@dr.rsa_5_type</td>
                                                    <td class="fs-13">@dr.rsa_6_type</td>
                                                    <td class="fs-13">@dr.rsa_7_type</td>
                                                    <td class="fs-13">@dr.rsa_8_type</td>
                                                    <td class="fs-13">@dr.rsa_9_type</td>
                                                    <td class="fs-13">@dr.rsa_10_type</td>
                                                    <td class="fs-13">@dr.rsa_11_type</td>
                                                    <td class="fs-13">@dr.rsa_12_type</td>
                                                    <td class="fs-13">@dr.rsa_13_type</td>
                                                    <td class="fs-13">@dr.rsa_14_type</td>
                                                    <td class="fs-13">@dr.rsa_15_type</td>
                                                    <td class="fs-13">@dr.rsa_16_type</td>
                                                    <td class="fs-13">@dr.rsa_comments</td>

                                                    <td class="fs-13">
                                                        @if (dr.rsa_status.ToLower() == "active")
                                                        {
                                                            <span class="dot-label bg-success me-2 w-2 h-2"></span>
                                                            <span class=" text-success">Active</span>
                                                        }
                                                        else if (dr.rsa_status.ToLower() == "deleted")
                                                        {
                                                            <span class="dot-label bg-danger me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-danger">Deleted</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="dot-label bg-dark me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-dark">@dr.rsa_status</span>
                                                        }
                                                    </td>
                                                    <td class="fs-13">
                                                        @if (dr.rsa_operation.ToLower() == "inserted")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-success me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-success">Active</span>

                                                        }
                                                        else if (dr.rsa_operation.ToLower() == "updated")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-warning me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-warning">Updated</span>

                                                        }
                                                        else if (dr.rsa_operation.ToLower() == "deleted")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-danger me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-danger">Deleted</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="font-weight-semibold text-dark">@dr.rsa_operation</span>
                                                        }
                                                    </td>
                                                    <td class="fs-13">@dr.rsa_madeby_name</td>
                                                    <td class="fs-13">
                                                        <i class="fa fa-calendar-check-o text-dark me-1"></i>
                                                        <i class="fa fa-clock-o text-dark me-1"></i>
                                                        @dr.rsa_date_created.ToString() <br />
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default mt-2">
                        <div class="panel-heading" role="tab" id="pat_nusenote">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#pnl_nusenote" aria-expanded="false" aria-controls="pnl_nusenote">
                                    <i class="fa fa-medkit me-2"></i>   Nurse Notes
                                    <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                                </a>
                            </h4>
                        </div>
                        <div id="pnl_nusenote" class="panel-collapse collapse" role="tabpanel" aria-labelledby="pat_nusenote">
                            <div class="panel-body ">
                                <div class="table-responsive" style="min-height:unset;">
                                    <table id="tbl_nusenote" class="table table-bordered text-nowrap resize-table" style="width:100%;">
                                        <thead>
                                            <tr style="color: #fff !important; background-color: #5b73e8; border-color: #5b73e8; ">
                                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Nurse Notes</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Status</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Operation</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Made By</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Date & Time Recorded</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var (index, dr) in Model.nusenoteLogsKPI.Select((data, i) => (i, data)))
                                            {
                                                <tr>
                                                    <td class="fs-13">@index</td>
                                                    <td class="fs-13">@dr.nurse_notes</td>
                                                    <td class="fs-13">
                                                        @if (dr.nurse_status.ToLower() == "active")
                                                        {
                                                            <span class="dot-label bg-success me-2 w-2 h-2"></span>
                                                            <span class=" text-success">Active</span>
                                                        }
                                                        else if (dr.nurse_status.ToLower() == "deleted")
                                                        {
                                                            <span class="dot-label bg-danger me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-danger">Deleted</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="dot-label bg-dark me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-dark">@dr.nurse_status</span>
                                                        }
                                                    </td>
                                                    <td class="fs-13">
                                                        @if (dr.nurse_operation.ToLower() == "inserted")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-success me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-success">Active</span>

                                                        }
                                                        else if (dr.nurse_operation.ToLower() == "updated")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-warning me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-warning">Updated</span>

                                                        }
                                                        else if (dr.nurse_operation.ToLower() == "deleted")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-danger me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-danger">Deleted</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="font-weight-semibold text-dark">@dr.nurse_operation</span>
                                                        }
                                                    </td>
                                                    <td class="fs-13">@dr.nurse_madeby_name</td>
                                                    <td class="fs-13">
                                                        <i class="fa fa-calendar-check-o text-dark me-1"></i>
                                                        <i class="fa fa-clock-o text-dark me-1"></i>
                                                        @dr.nurse_date_created.ToString() <br />
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default mt-2">
                        <div class="panel-heading" role="tab" id="pat_narrativediagnosis">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#pnl_narrativediagnosis" aria-expanded="false" aria-controls="pnl_narrativediagnosis">
                                    <i class="fa fa-medkit me-2"></i>   Narrative Diagnosis
                                    <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                                </a>
                            </h4>
                        </div>
                        <div id="pnl_narrativediagnosis" class="panel-collapse collapse" role="tabpanel" aria-labelledby="pat_narrativediagnosis">
                            <div class="panel-body ">
                                <div class="table-responsive" style="min-height:unset;">
                                    <table id="tbl_narrativediagnosis" class="table table-bordered text-nowrap resize-table" style="width:100%;">
                                        <thead>
                                            <tr style="color: #fff !important; background-color: #5b73e8; border-color: #5b73e8; ">
                                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Narrative Diagnosis</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Final Diagnosis</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Status</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Operation</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Made By</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Date & Time Recorded</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var (index, dr) in Model.narrativeLogsKPI.Select((data, i) => (i, data)))
                                            {
                                                <tr>
                                                    <td class="fs-13">@index</td>
                                                    <td class="fs-13">@dr.ntda_1</td>
                                                    <td class="fs-13">@dr.ntda_2</td>
                                                    <td class="fs-13">
                                                        @if (dr.ntda_status.ToLower() == "active")
                                                        {
                                                            <span class="dot-label bg-success me-2 w-2 h-2"></span>
                                                            <span class=" text-success">Active</span>
                                                        }
                                                        else if (dr.ntda_status.ToLower() == "deleted")
                                                        {
                                                            <span class="dot-label bg-danger me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-danger">Deleted</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="dot-label bg-dark me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-dark">@dr.ntda_status</span>
                                                        }
                                                    </td>
                                                    <td class="fs-13">
                                                        @if (dr.ntda_operation.ToLower() == "inserted")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-success me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-success">Active</span>

                                                        }
                                                        else if (dr.ntda_operation.ToLower() == "updated")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-warning me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-warning">Updated</span>

                                                        }
                                                        else if (dr.ntda_operation.ToLower() == "deleted")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-danger me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-danger">Deleted</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="font-weight-semibold text-dark">@dr.ntda_operation</span>
                                                        }
                                                    </td>
                                                    <td class="fs-13">@dr.ntda_madeby_name</td>
                                                    <td class="fs-13">
                                                        <i class="fa fa-calendar-check-o text-dark me-1"></i>
                                                        <i class="fa fa-clock-o text-dark me-1"></i>
                                                        @dr.ntda_date_created.ToString() <br />
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default mt-2">
                        <div class="panel-heading" role="tab" id="pat_patdiagnosis">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#pnl_patdiagnosis" aria-expanded="false" aria-controls="pnl_patdiagnosis">
                                    <i class="fa fa-medkit me-2"></i>    Patient Diagnosis
                                    <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                                </a>
                            </h4>
                        </div>
                        <div id="pnl_patdiagnosis" class="panel-collapse collapse" role="tabpanel" aria-labelledby="pat_patdiagnosis">
                            <div class="panel-body ">
                                <div class="table-responsive" style="min-height:unset;">
                                    <table id="tbl_patdiagnosis" class="table table-bordered text-nowrap resize-table" style="width:100%;">
                                        <thead>
                                            <tr style="color: #fff !important; background-color: #5b73e8; border-color: #5b73e8; ">
                                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Type</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Code</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Diagnosis</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Notes</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">year</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Status</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Operation</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Made By</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Date & Time Recorded</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var (index, dr) in Model.patdiagLogsKPI.Select((data, i) => (i, data)))
                                            {
                                                <tr>
                                                    <td class="fs-13">@index</td>
                                                    <td class="fs-13">@dr.pada_type</td>
                                                    <td class="fs-13">@dr.diag_code</td>
                                                    <td class="fs-13">@dr.diag_name</td>
                                                    <td class="fs-13">@dr.pada_notes</td>
                                                    <td class="fs-13">@dr.pada_year</td>
                                                    <td class="fs-13">
                                                        @if (dr.pada_status.ToLower() == "active")
                                                        {
                                                            <span class="dot-label bg-success me-2 w-2 h-2"></span>
                                                            <span class=" text-success">Active</span>
                                                        }
                                                        else if (dr.pada_status.ToLower() == "deleted")
                                                        {
                                                            <span class="dot-label bg-danger me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-danger">Deleted</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="dot-label bg-dark me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-dark">@dr.pada_status</span>
                                                        }
                                                    </td>
                                                    <td class="fs-13">
                                                        @if (dr.pada_operation.ToLower() == "inserted")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-success me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-success">Active</span>

                                                        }
                                                        else if (dr.pada_operation.ToLower() == "updated")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-warning me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-warning">Updated</span>

                                                        }
                                                        else if (dr.pada_operation.ToLower() == "deleted")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-danger me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-danger">Deleted</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="font-weight-semibold text-dark">@dr.pada_operation</span>
                                                        }
                                                    </td>
                                                    <td class="fs-13">@dr.pada_madeby_name</td>
                                                    <td class="fs-13">
                                                        <i class="fa fa-calendar-check-o text-dark me-1"></i>
                                                        <i class="fa fa-clock-o text-dark me-1"></i>
                                                        @dr.pada_date_created.ToString() <br />
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default mt-2">
                        <div class="panel-heading" role="tab" id="pat_addendum">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#pnl_addendum" aria-expanded="false" aria-controls="pnl_addendum">
                                    <i class="fa fa-medkit me-2"></i>    Addendum
                                    <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                                </a>
                            </h4>
                        </div>
                        <div id="pnl_addendum" class="panel-collapse collapse" role="tabpanel" aria-labelledby="pat_addendum">
                            <div class="panel-body ">
                                <div class="table-responsive" style="min-height:unset;">
                                    <table id="tbl_addendum" class="table table-bordered text-nowrap resize-table" style="width:100%;">
                                        <thead>
                                            <tr style="color: #fff !important; background-color: #5b73e8; border-color: #5b73e8; ">
                                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Addendum For</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Addendum</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Status</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Operation</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Made By</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Date & Time Recorded</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var (index, dr) in Model.addendumLogsKPI.Select((data, i) => (i, data)))
                                            {
                                                <tr>
                                                    <td class="fs-13">@index</td>
                                                    <td class="fs-13">@dr.addea_for_name</td>
                                                    <td class="fs-13">@dr.addea_notes</td>
                                                    <td class="fs-13">
                                                        @if (dr.addea_status.ToLower() == "active")
                                                        {
                                                            <span class="dot-label bg-success me-2 w-2 h-2"></span>
                                                            <span class=" text-success">Active</span>
                                                        }
                                                        else if (dr.addea_status.ToLower() == "deleted")
                                                        {
                                                            <span class="dot-label bg-danger me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-danger">Deleted</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="dot-label bg-dark me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-dark">@dr.addea_status</span>
                                                        }
                                                    </td>
                                                    <td class="fs-13">
                                                        @if (dr.addea_operation.ToLower() == "inserted")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-success me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-success">Active</span>

                                                        }
                                                        else if (dr.addea_operation.ToLower() == "updated")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-warning me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-warning">Updated</span>

                                                        }
                                                        else if (dr.addea_operation.ToLower() == "deleted")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-danger me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-danger">Deleted</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="font-weight-semibold text-dark">@dr.addea_operation</span>
                                                        }
                                                    </td>
                                                    <td class="fs-13">@dr.addea_madeby_name</td>
                                                    <td class="fs-13">
                                                        <i class="fa fa-calendar-check-o text-dark me-1"></i>
                                                        <i class="fa fa-clock-o text-dark me-1"></i>
                                                        @dr.addea_date_created.ToString() <br />
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default mt-2">
                        <div class="panel-heading" role="tab" id="pat_progressnote">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#pnl_progressnote" aria-expanded="false" aria-controls="pnl_progressnote">
                                    <i class="fa fa-medkit me-2"></i>     Progress Notes
                                    <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                                </a>
                            </h4>
                        </div>
                        <div id="pnl_progressnote" class="panel-collapse collapse" role="tabpanel" aria-labelledby="pat_progressnote">
                            <div class="panel-body ">
                                <div class="table-responsive" style="min-height:unset;">
                                    <table id="tbl_progressnote" class="table table-bordered text-nowrap resize-table" style="width:100%;">
                                        <thead>
                                            <tr style="color: #fff !important; background-color: #5b73e8; border-color: #5b73e8; ">
                                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Progress Notes</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Next visit plan </th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Other instructions </th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Status</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Operation</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Made By</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Date & Time Recorded</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var (index, dr) in Model.progressnoteLogsKPI.Select((data, i) => (i, data)))
                                            {
                                                <tr>
                                                    <td class="fs-13">@index</td>
                                                    <td class="fs-13">@dr.mna_notes</td>
                                                    <td class="fs-13">@dr.mna_visitPlan</td>
                                                    <td class="fs-13">@dr.mna_instructions</td>
                                                    <td class="fs-13">
                                                        @if (dr.mna_status.ToLower() == "active")
                                                        {
                                                            <span class="dot-label bg-success me-2 w-2 h-2"></span>
                                                            <span class=" text-success">Active</span>
                                                        }
                                                        else if (dr.mna_status.ToLower() == "deleted")
                                                        {
                                                            <span class="dot-label bg-danger me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-danger">Deleted</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="dot-label bg-dark me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-dark">@dr.mna_status</span>
                                                        }
                                                    </td>
                                                    <td class="fs-13">
                                                        @if (dr.mna_operation.ToLower() == "inserted")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-success me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-success">Active</span>

                                                        }
                                                        else if (dr.mna_operation.ToLower() == "updated")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-warning me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-warning">Updated</span>

                                                        }
                                                        else if (dr.mna_operation.ToLower() == "deleted")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-danger me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-danger">Deleted</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="font-weight-semibold text-dark">@dr.mna_operation</span>
                                                        }
                                                    </td>
                                                    <td class="fs-13">@dr.mna_madeby_name</td>
                                                    <td class="fs-13">
                                                        <i class="fa fa-calendar-check-o text-dark me-1"></i>
                                                        <i class="fa fa-clock-o text-dark me-1"></i>
                                                        @dr.mna_date_created.ToString() <br />
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default mt-2">
                        <div class="panel-heading" role="tab" id="pat_patTreatments">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#pnl_patTreatments" aria-expanded="false" aria-controls="pnl_patTreatments">
                                    <i class="fa fa-medkit me-2"></i>     Patient Treatments
                                    <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                                </a>
                            </h4>
                        </div>
                        <div id="pnl_patTreatments" class="panel-collapse collapse" role="tabpanel" aria-labelledby="pat_patTreatments">
                            <div class="panel-body ">
                                <div class="table-responsive" style="min-height:unset;">
                                    <table id="tbl_patTreatments" class="table table-bordered text-nowrap resize-table" style="width:100%;">
                                        <thead>
                                            <tr style="color: #fff !important; background-color: #5b73e8; border-color: #5b73e8; ">
                                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">CPT<br /> Code</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Treatment</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Qty</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Session</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">EXP.<br /> Date</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Unit<br /> Price</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Gross</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Discount</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Net</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">VAT<br /> Amount</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">NET+VAT</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Status</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Operation</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Made By</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white text-center">Date & Time Recorded</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var (index, dr) in Model.treatmentLogsKPI.Select((data, i) => (i, data)))
                                            {
                                                <tr>
                                                    <td class="fs-13">@index</td>
                                                    <td class="fs-13">@dr.tr_code</td>
                                                    <td class="fs-13">@dr.tr_name_type</td>
                                                    <td class="fs-13">@dr.pta_qty</td>
                                                    <td class="fs-13">@dr.pta_ses</td>
                                                    <td class="fs-13">@dr.pta_pack_exp_date</td>
                                                    <td class="fs-13">@dr.pta_uprice</td>
                                                    <td class="fs-13">@dr.pta_total</td>
                                                    <td class="fs-13">@dr.pta_disc</td>
                                                    <td class="fs-13">@dr.pta_net</td>
                                                    <td class="fs-13">@dr.pta_vat</td>
                                                    <td class="fs-13">@dr.pta_net_vat</td>
                                                    <td class="fs-13">
                                                        @if (dr.pta_status.ToLower() == "active")
                                                        {
                                                            <span class="dot-label bg-success me-2 w-2 h-2"></span>
                                                            <span class=" text-success">Active</span>
                                                        }
                                                        else if (dr.pta_status.ToLower() == "deleted")
                                                        {
                                                            <span class="dot-label bg-danger me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-danger">Deleted</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="dot-label bg-dark me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-dark">@dr.pta_status</span>
                                                        }
                                                    </td>
                                                    <td class="fs-13">
                                                        @if (dr.pta_operation.ToLower() == "inserted")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-success me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-success">Active</span>

                                                        }
                                                        else if (dr.pta_operation.ToLower() == "updated")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-warning me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-warning">Updated</span>

                                                        }
                                                        else if (dr.pta_operation.ToLower() == "deleted")
                                                        {
                                                            <span class="fa fa-dot-circle-o text-danger me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-danger">Deleted</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="font-weight-semibold text-dark">@dr.pta_operation</span>
                                                        }
                                                    </td>
                                                    <td class="fs-13">@dr.pta_madeby_name</td>
                                                    <td class="fs-13">
                                                        <i class="fa fa-calendar-check-o text-dark me-1"></i>
                                                        <i class="fa fa-clock-o text-dark me-1"></i>
                                                        @dr.pta_date_created.ToString() <br />
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row-->
</div>

<script>
    

</script>