@model BusinessEntities.NurseStation.VitalSigns

@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<form id="form_EditVital" class="needs-validation" autocomplete="off">

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mb-4 font-weight-semibold">
            <span class="text-danger" style="font-size:smaller">Required fields are marked with *</span>
        </div>
    </div>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.signId)
    @Html.HiddenFor(m => m.sign_appId)
    <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Temperature&nbsp;<span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.sign_temp, new { @class = "form-control", @placeholder = "Enter Temperature", @id = "usign_temp" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label">Pulse &nbsp;<span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.sign_pulse, new { @class = "form-control", @placeholder = "Enter Pulse", @id = "usign_pulse" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label">BPS &nbsp;<span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.sign_bp, new { @class = "form-control", @placeholder = "Enter BPS", @id = "usign_bp" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">BPD &nbsp;<span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.sign_bpd, new { @class = "form-control", @placeholder = "Enter BPD ", @id = "usign_bpd" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label">Height &nbsp;</label>
                @Html.TextBoxFor(m => m.sign_height, new { @class = "form-control", @placeholder = "Enter Height", @id = "usign_height" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Weight &nbsp;</label>
                @Html.TextBoxFor(m => m.sign_weight, new { @class = "form-control", @placeholder = "Enter Weight ", @id = "usign_weight" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label">Respiratory &nbsp;</label>
                @Html.TextBoxFor(m => m.sign_resp, new { @class = "form-control", @placeholder = "Enter Respiratory", @id = "usign_resp" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">SpO2 &nbsp;</label>
                @Html.TextBoxFor(m => m.sign_spo2, new { @class = "form-control", @placeholder = "Enter SpO2 ", @id = "usign_spo2" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label">Hip &nbsp;</label>
                @Html.TextBoxFor(m => m.sign_hip, new { @class = "form-control", @placeholder = "Enter Hip", @id = "usign_hip" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Waist &nbsp;</label>
                @Html.TextBoxFor(m => m.sign_waist, new { @class = "form-control", @placeholder = "Enter Waist ", @id = "usign_waist" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label">Head Circumference &nbsp;</label>
                @Html.TextBoxFor(m => m.sign_head, new { @class = "form-control", @placeholder = "Enter Head Circumference", @id = "usign_head" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Sugar&nbsp;</label>
                @Html.TextBoxFor(m => m.sign_sugar, new { @class = "form-control", @placeholder = "Enter Sugar ", @id = "usign_sugar" })
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-4">
            <div class="form-group mb-3">
                <label class="form-label text-black">Urinalysis (Protein&Glucose) &nbsp;</label>
                @Html.TextBoxFor(m => m.sign_uri, new { @class = "form-control", @placeholder = "Enter Urinalysis ", @id = "usign_uri" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="form-group mb-3">
                <label class="form-label text-black">Other Details&nbsp;</label>
                @Html.TextBoxFor(m => m.sign_notes, new { @class = "form-control", @placeholder = "Enter Other Details", @id = "usign_notes" })
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning" id="btn_Update_Vital">Save Changes</button>
                <button type="button" class="btn btn-outline-danger me-1" id="btn_Close_EditVital" style="display:none">
                    Close
                </button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    //#region Partial View Onload
         $(function () {
            $('#btn_Close_EditVital').click(function () {
                $('#vital_edit').hide();
            });

             if ("@emp_designation.ToString()" === "Super Administrator") {
                 $("#btn_Update_Vital").show();
             }
             else {
                 if ("@emr.set_emr_lock" == "NoLock") {
                     $("#btn_Update_Vital").show();

                 }
                 else {
                     if ("@emr.app_ae_date" >= "@emr.today") {
                         $("#btn_Update_Vital").show();
                     }
                     else {
                         $("#btn_Update_Vital").hide();
                     }
                 }
             }

            validate();
        });
    //#endregion Partial View Onload

    //#region Clear Controls
        var clearControls = function () {
            $("#usign_temp").val("");
            $("#usign_pulse").val("");
            $("#usign_bp").val("");
            $("#usign_notes").val("");
            $("#usign_height").val("");
            $("#usign_weight").val("");
            $("#usign_resp").val("");
            $("#usign_spo2").val("");
            $("#usign_waist").val("");
            $("#usign_hip").val("");
            $("#usign_uri").val("");
            $("#usign_head").val("");
            $("#usign_bmi").val("");
            $("#usign_bpd").val("");
            $("#usign_sugar").val("");
        }
    //#endregion Clear Controls


    //#region Update  Button Click
        $('#btn_Update_Vital').on('click', function (e) {
             e.preventDefault();
            if ($("#form_EditVital").valid()) {
                $('#btn_Update_Vital').removeClass("btn btn-success");
                $('#btn_Update_Vital').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Update_Vital').html("Updating the Record....");
                var _dataInsert = {
                    "signId": $("#signId").val(),
                    "sign_appId": $("#sign_appId").val(),
                    "sign_temp": $("#usign_temp").val(),
                    "sign_pulse": $("#usign_pulse").val(),
                    "sign_bp": $("#usign_bp").val(),
                    "sign_bpd": $("#usign_bpd").val(),
                    "sign_height": $("#usign_height").val(),
                    "sign_weight": $("#usign_weight").val(),
                    "sign_resp": $("#usign_resp").val(),
                    "sign_spo2": $("#usign_spo2").val(),
                    "sign_hip": $("#usign_hip").val(),
                    "sign_waist": $("#usign_waist").val(),
                    "sign_head": $("#usign_head").val(),
                    "sign_uri": $("#usign_uri").val(),
                    "sign_notes": $("#usign_notes").val(),
                    "sign_sugar": $("#usign_sugar").val(),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dataInsert)
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateVitalSigns", "VitalSigns", new { area = "NurseStation" })",
                    dataType: 'JSON',
                    data: _dataInsert,
                    success: function (data) {
                        $('#vital_edit').hide();
                        $('#btn_Update_Vital').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Update_Vital').addClass("btn btn-success");
                        $('#btn_Update_Vital').html("Save Changes");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> " + data.message + "", "success");
                                clearControls();
                                Timeout();
                                GetVitalSigns();
                                GetPreviousVitalSigns();
                                $('#vital_add').show();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong><i class='fa fa-exclamation-triangle text-warning'></i> " + data.message + "</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Update_Vital').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Update_Vital').addClass("btn btn-success");
                        $('#btn_Update_Vital').html("Save Changes");
                        Timeout();
                    }
                });
            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion Update  Button Click

    //#region Validation Initialization
        var validate = function () {
            $("#form_EditVital").validate({
                rules: {
                    sign_temp: {
                        required: true
                    },
                    sign_pulse: {
                        required: true
                    },
                    sign_bp: {
                        required: true
                    },
                    sign_bpd: {
                        required: true
                    },

                },
                messages: {
                    sign_temp: {
                        required: "Enter Temperature!"
                    },
                    sign_pulse: {
                        required: "Enter Pulse!"
                    },
                    sign_bp: {
                        required: "Enter BPS!"
                    },
                    sign_bpd: {
                        required: "Enter BPD!"
                    },

                },
                highlight: function (element) {
                    var elem = $(element);
                    $(element).parent().addClass('has-error');
                    error_timeout(elem.attr("id"));
                },
                unhighlight: function (element) {
                    var elem = $(element);
                    $(element).parent().removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'text-danger fw-bold',
                errorPlacement: function (error, element) {
                    var elem = $(element);
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });
            $('#sign_temp').keypress(function (e) {
                var charCode = (e.which) ? e.which : event.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                    return false;
            });
            $('#sign_pulse').keypress(function (e) {
                var charCode = (e.which) ? e.which : event.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                    return false;
            });
            $('#sign_bp').keypress(function (e) {
                var charCode = (e.which) ? e.which : event.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                    return false;
            });
            $('#sign_bpd').keypress(function (e) {
                var charCode = (e.which) ? e.which : event.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                    return false;
            });
            $('#sign_height').keypress(function (e) {
                var charCode = (e.which) ? e.which : event.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                    return false;
            });
            $('#sign_weight').keypress(function (e) {
                var charCode = (e.which) ? e.which : event.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                    return false;
            });
            $('#sign_resp').keypress(function (e) {
                var charCode = (e.which) ? e.which : event.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                    return false;
            });
            $('#sign_spo2').keypress(function (e) {
                var charCode = (e.which) ? e.which : event.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                    return false;
            });
            $('#sign_hip').keypress(function (e) {
                var charCode = (e.which) ? e.which : event.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                    return false;
            });
            $('#sign_waist').keypress(function (e) {
                var charCode = (e.which) ? e.which : event.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                    return false;
            });
            $('#sign_head').keypress(function (e) {
                var charCode = (e.which) ? e.which : event.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                    return false;
            });

        }
    //#endregion Validation Initialization
</script>