
@model BusinessEntities.EMR.NarrativeDiagnosis
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_AddNarrative" class="needs-validation" >
    @Html.AntiForgeryToken()
   
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group mb-3">
                <label class="form-label text-black">Template&nbsp;</label>
                @Html.DropDownListFor(m => m.title, new List<SelectListItem> { }, "Select Template", new { @class = "form-select  mb-2 select2", @id = "title" })
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="form-label">&nbsp;</label>
                    <button class="btn btn-outline-dark btn-sm ms-lg-2 ms-sm-2" type="button" id="addDiagnosis">
                        <i class="fa fa-bullseye"></i>
                        Add Diagnosis
                    </button>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group mb-3">
                <label class="form-label text-black">Narrative Diagnosis&nbsp;<span class="text-danger">*</span></label>
                @Html.TextAreaFor(m => m.ntd_1, new { @class = "form-control", @placeholder = "Enter Narrative Diagnosis", @row = "8" })
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group mb-3">
                <label class="form-label text-black">Final Diagnosis&nbsp;</label>
                @Html.TextAreaFor(m => m.ntd_2, new { @class = "form-control", @placeholder = "Enter Final Diagnosis", @row = "8" })
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-success" id="btn_Insert_Narrative">Add</button>
                <button type="button" class="btn btn-outline-dark" id="btn_Reset_Narrative">Reset</button>
                <button type="button" class="btn btn-outline-danger me-1" id="btn_Close_Narrative" style="display:none">
                    Close
                </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    //#region Partial View Onload
        $(function () {

            if ("@emp_designation.ToString()" === "Super Administrator") {
                $("#btn_Insert_Narrative").show();
            }
            else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Insert_Narrative").show();

                }
                else {
                     if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Insert_Narrative").show();
                    }
                    else {
                        $("#btn_Insert_Narrative").hide();
                    }
                }
            }
            $('#btn_Close_Narrative').click(function () {
                $('#narrative_add').hide();
            });
            load_Narrative();
            validate();
        });
    //#endregion Partial View Onload

     //#region Add Diagnosis
        $('#addDiagnosis').on('click', function (e) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("CreateDiagnosis", "Diagnosis", new { area = "Masters" })",
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $('#create_diag_modal').attr("data-modal-from", "create-narrative");
                    $("#create_diag_body").html(data);
                    $("#create_diag_modal").modal("show");
                },
                error: function (xhr) {
                    console.log("Error while Adding Diagnosis : " + xhr.statusText);
                }
            });
        });
     //#endregion

    //#region Create Diagnosis On Modal Close
        $('#create_diag_modal').on('hidden.bs.modal', function () {
            if (localStorage.getItem("newDiagnosis") != null) {
                var diagnosis = JSON.parse(localStorage.getItem("newDiagnosis"));
                setNarrative(diagnosis);
                localStorage.removeItem("newDiagnosis");
            }
        });
    //#endregion Create Diagnosis On Modal Close

    //#region set Narrative
        var setNarrative = function (response) {
            var data = {
                "id": response.id,
                "text": response.text,
            };
            var newOption = new Option(response.text, response.id, true, true);
            $('#title').append(newOption).trigger('change');

            $('#title').trigger({
                type: 'select2:select',
                params: {
                    data: data
                }
            });
        }
    //#endregion Set Narrative


    //#region load NarrativeDiagnosis
        var load_Narrative = function () {
           $("#title").select2({
                placeholder: 'Select Item',
                width: '100%',
                minimumResultsForSearch: '',
                minimumInputLength: 3,
                dropdownParent: $('#form_AddNarrative'),

                ajax: {
                    url: '@Url.Action("GetNarrative", "NarrativeDiagnosis", new { area = "EMR" })',
                    dataType: 'json',
                    delay: 250,
                    data: function (query) {
                        return {
                            query: query.term,
                        };
                    },
                    processResults: function (data) {
                        console.log(data);

                        return {
                            results: data,
                        };
                    },
                    cache: true
                }
            });
        };
    //#endregion load NarrativeDiagnosis

    //#region load NarrativeDiagnosis
        $('#title').on('select2:select', function (e) {
            var data = e.params.data;
            console.log(data);
            $('#ntd_1').val(data.id);
        });
    //#endregion load NarrativeDiagnosis


    //#region Validation Initialization
        var validate = function () {
            $("#form_AddNarrative").validate({
                rules: {
                    ntd_1: {
                        required: true
                    },
                },
                messages: {
                    ntd_1: {
                        required: "Please Enter Narrative Diagnosis!"
                    },
                },
                highlight: function (element) {
                    var elem = $(element);
                    $(element).parent().addClass('has-error');
                },
                unhighlight: function (element) {
                    var elem = $(element);
                    $(element).parent().removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'text-danger fw-bold',
                errorPlacement: function (error, element) {
                    var elem = $(element);
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });
            $('#ntd_1').on('change', function () {
                $(this).trigger('blur');
            });

        }
    //#endregion Validation Initialization

    //#region Insert Button Click
        $('#btn_Insert_Narrative').on('click', function (e) {
            e.preventDefault();
            if ($("#form_AddNarrative").valid()) {
                $('#btn_Insert_Narrative').removeClass("btn btn-success");
                $('#btn_Insert_Narrative').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Insert_Narrative').html("Saving the Record....");
                    var _dataInsert = {
                    "ntdId": 0,
                    "ntd_appId": @emr.appId,
                    "ntd_1": $("#ntd_1").val(),
                    "ntd_2": $("#ntd_2").val(),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("InsertNarrativeDiagnosis", "NarrativeDiagnosis", new { area = "EMR" })",
                    dataType: 'JSON',
                    data: _dataInsert,
                    success: function (data) {
                        $('#btn_Insert_Narrative').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Insert_Narrative').addClass("btn btn-success");
                        $('#btn_Insert_Narrative').html("Add");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Narrative Diagnosis Added Successfully!", "success");
                                clearControls();
                                Timeout();
                                GetNarrativeDiagnosis();
                                GetPreviousNarrativeDiagnosis();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. Narrative Diagnosis Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Insert_Narrative').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Insert_Narrative').addClass("btn btn-success");
                        $('#btn_Insert_Narrative').html("Add");
                        Timeout();
                    }
                });
            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
     //#endregion Insert Button Click

    //#region Reset
        $('#btn_Reset_Narrative').on('click', function (e) {
            e.preventDefault();
            clearControls();
        });
    //#endregion Reset

    //#region Clear Controls
        var clearControls = function () {
            $("#ntd_1").val("");
            $("#ntd_2").val("");
            $("#title").val("").trigger("change");

        }
    //#endregion Clear Controls

</script>




