@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Thread Lift";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Thread Lift Consent Form</h3>
            </div>
            <div class="card-body">
                <div id="ThreadLift_add" style="display:none">
                </div>
                <div id="ThreadLift_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="ThreadLift_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetThreadLiftInfo();
        ThreadLiftPreviousHistory();
    });

    //#endregion Page Load

    //#region Load GetThreadLiftInfo
    var GetThreadLiftInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetThreadLiftData", "ThreadLift", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditThreadLift();
                        $("#ThreadLift_add").hide();
                        $("#ThreadLift_edit").show();

                    }
                    else {
                        $("#ThreadLift_add").show();
                        $("#ThreadLift_edit").hide();
                        AddThreadLift();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load ThreadLift

    //#region Add ThreadLift
    function AddThreadLift() {
        var x = $("#ThreadLift_add");
        x.load("@Url.Action("CreateThreadLift", "ThreadLift", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add ThreadLift

    //#region Update ThreadLift

    function EditThreadLift() {
        var x = $("#ThreadLift_edit");
        x.load("@Url.Action("UpdateThreadLift", "ThreadLift", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update ThreadLift

    //#region Histroy of ThreadLift

    function ThreadLiftPreviousHistory() {
        var x = $("#ThreadLift_history");
x.load("@Url.Action("ThreadLiftPreviousHistory", "ThreadLift", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
});
}
//#endregion Histroy of ThreadLift

</script>