
@model BusinessEntities.EMR.Laboratory
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<!-- INTERNAL File Uploads css -->
<link href="~/assets/plugins/fancyuploder/fancy_fileupload.css" rel="stylesheet" />

<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold" id="exampleModalLongTitle">Uploaded Laboratory PDF's &nbsp;</h5>
    <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body p-4" style="background: #f5f5f5;">
    <!-- Row -->
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <form id="form_Patient_RadDoc" class="card" action="@Url.Action("UploadFiles", "Patient", new { area = "Patient" })" method="post" enctype="multipart/form-data">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group col-md-6">
                                <label class="form-label">From&nbsp;</label>
                                <select class="form-control select2 custom-select" id="lr_from">
                                    <option value="Internal">Internal</option>
                                    <option value="External">External</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group col-md-6">
                                <label class="form-label">Lab Name&nbsp;</label>
                                @Html.TextBoxFor(m => m.lr_lab_name, new { @class = "form-control", @placeholder = "Enter" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group mb-0">
                        <input id="pat_docs" type="file" name="files" accept=".jpg, .png, image/jpeg, image/png,.pdf" multiple>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End Row-->
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div id="div_pat_doc_list">
                        <div class="table-responsive" style="min-height:unset;">
                            <table id="tbl_doc_lists" class="table table-bordered text-nowrap" style="width:100%;">
                                <thead>
                                    <tr style="color: #fff !important; background-color: #5b73e8; border-color: #5b73e8; ">
                                        <th class="border-bottom-0 font-weight-semibold text-white text-center">emp_name</th>
                                        <th class="border-bottom-0 font-weight-semibold text-white text-center text-wrap">From</th>
                                        <th class="border-bottom-0 font-weight-semibold text-white text-center">Lab Name</th>
                                        <th class="border-bottom-0 font-weight-semibold text-white text-center">Attachment</th>
                                        <th class="border-bottom-0 font-weight-semibold text-white text-center">Uploaded Date &amp; Time</th>
                                        <th class="border-bottom-0 font-weight-semibold text-white text-center"><i class="fe fe-more-vertical" style="font-size: 20px;"></i></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal View Document -->
<div class="modal fade" id="view_doc_modal" data-bs-backdrop="static" data-bs-keyboard="false" data-modal-from="patient" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" id="size">
        <div class="modal-content shadow-lg" id="view_doc_modal_body">
        </div>
    </div>
</div>
<!-- End Modal View Document-->
<!-- INTERNAL File-Uploads Js-->
<script src="~/assets/plugins/fancyuploder/jquery.ui.widget.js"></script>
<script src="~/assets/plugins/fancyuploder/jquery.fileupload.js"></script>
<script src="~/assets/plugins/fancyuploder/jquery.iframe-transport.js"></script>
<script src="~/assets/plugins/fancyuploder/jquery.fancy-fileupload.js"></script>
<script src="~/assets/plugins/fancyuploder/fancy-uploader.js"></script>

<style>
    .ff_fileupload_dialog_background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.85);
        z-index: 99999999;
    }
</style>
<script>
    $(function () {
        $("#div_pat_doc_list").hide();
       // GetDocuments(@emr.appId, '@Model.ptId');

        $("#lr_from").select2({
            placeholder: 'Select VAT Type',
            width: '100%',
            dropdownParent: $('#form_Patient_RadDoc')
        });
		var token;
		$('#pat_docs').FancyFileUpload({
			params : {
				action : 'fileuploader'
			},
            maxfilesize: 5242880,
			startupload: function (SubmitUpload, e, data) {
                var formData = new FormData();
                formData.append('lr_test', @Model.ptId);
                formData.append('lr_appId', @emr.appId);
                formData.append('lr_from', $("#lr_from").val());
                formData.append('lr_lab_name', $("#lr_lab_name").val());
                formData.append('files', data.files[0]);

				$.ajax({
					url:  "@Url.Action("UploadLabFiles", "Laboratory", new { area = "EMR" })",
					data: formData,
					type: 'POST',
					contentType: false,
					processData: false,
					success: function(tokendata) {
						token = tokendata;
						console.log(tokendata);
                        SubmitUpload();
					},
					error: function(err) {
						console.log(err);
					}
				});
			},
			continueupload : function(e, data) {
				var ts = Math.round(new Date().getTime() / 1000);

				// Alternatively, just call data.abort() or return false here to terminate the upload but leave the UI elements alone.
				if (token.expires < ts)  data.ff_info.RemoveFile();
			},
			uploadcancelled : function(e, data) {
				console.log("uploadcancelled");
			},
			uploadcompleted : function(e, data) {
                //GetDocuments(@emr.appId, '@Model.ptId');
				data.ff_info.RemoveFile();
			}
		});
    });

    @*//#region Load Documents
    var GetDocuments = function (id, type) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetDocumentsById", "Patient", new { area = "Patient" })?id=" + id + "&type=" + type,
            dataType: 'json',
            success: function (response) {
                if (response.isSuccess) {
                    $("#div_pat_doc_list").show();
                    var table;
                    if ($.fn.dataTable.isDataTable('#tbl_doc_lists')) {
                        table = $('#tbl_doc_lists').DataTable();
                        table.clear();
                        table.rows.add(response.message).draw();
                    }
                    else {
                        BindDataTable(response.message);
                    }
                }
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion

    //#region Bind DataTable
    var BindDataTable = function (response) {
        var table = $("#tbl_doc_lists").DataTable({
            processing: true,
            "pageLength": 5,
            "retrieve": true,
            lengthChange: true,
            "aaData": response,
            "aoColumns": [
                { "mData": "doc_path" },
                { "mData": "doc_label" },
                { "mData": "doc_uploadedBy_name" },
                { "mData": "doc_datecreated" },
                { "mData": "docId" }
            ],
            "aoColumnDefs": [
                {
                    "aTargets": [0],
                    "className": "fs-13",
                    "render": function (data) {
                        var html = "";
                        if (data.endsWith(".pdf")) {
                            html = '<span><svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="red" class="bi bi-file-earmark-pdf" viewBox="0 0 16 16">  <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>  <path d="M4.603 14.087a.81.81 0 0 1-.438-.42c-.195-.388-.13-.776.08-1.102.198-.307.526-.568.897-.787a7.68 7.68 0 0 1 1.482-.645 19.697 19.697 0 0 0 1.062-2.227 7.269 7.269 0 0 1-.43-1.295c-.086-.4-.119-.796-.046-1.136.075-.354.274-.672.65-.823.192-.077.4-.12.602-.077a.7.7 0 0 1 .477.365c.088.164.12.356.127.538.007.188-.012.396-.047.614-.084.51-.27 1.134-.52 1.794a10.954 10.954 0 0 0 .98 1.686 5.753 5.753 0 0 1 1.334.05c.364.066.734.195.96.465.12.144.193.32.2.518.007.192-.047.382-.138.563a1.04 1.04 0 0 1-.354.416.856.856 0 0 1-.51.138c-.331-.014-.654-.196-.933-.417a5.712 5.712 0 0 1-.911-.95 11.651 11.651 0 0 0-1.997.406 11.307 11.307 0 0 1-1.02 1.51c-.292.35-.609.656-.927.787a.793.793 0 0 1-.58.029zm1.379-1.901c-.166.076-.32.156-.459.238-.328.194-.541.383-.647.547-.094.145-.096.25-.04.361.01.022.02.036.026.044a.266.266 0 0 0 .035-.012c.137-.056.355-.235.635-.572a8.18 8.18 0 0 0 .45-.606zm1.64-1.33a12.71 12.71 0 0 1 1.01-.193 11.744 11.744 0 0 1-.51-.858 20.801 20.801 0 0 1-.5 1.05zm2.446.45c.15.163.296.3.435.41.24.19.407.253.498.256a.107.107 0 0 0 .07-.015.307.307 0 0 0 .094-.125.436.436 0 0 0 .059-.2.095.095 0 0 0-.026-.063c-.052-.062-.2-.152-.518-.209a3.876 3.876 0 0 0-.612-.053zM8.078 7.8a6.7 6.7 0 0 0 .2-.828c.031-.188.043-.343.038-.465a.613.613 0 0 0-.032-.198.517.517 0 0 0-.145.04c-.087.035-.158.106-.196.283-.04.192-.03.469.046.822.024.111.054.227.09.346z"/></svg></span>';
                        } else {
                             html = '<span class="avatar avatar-xxl" style="background-image: url(' + data + ');border: 2px solid #d7d7d7;"></span>';
                        }
                        return '<div class="d-flex p-1 justify-content-center">' + html + '</div>';

                    }

                },
                {
                    "aTargets": [1],
                    "className": "fs-13 text-wrap"

                },
                {
                    "aTargets": [2],
                    "className": "fs-13 text-center"
                },
                {
                    "aTargets": [3],
                    "className": "fs-13 text-center",
                    "render": function (data) {
                        return moment(data).format("DD/MM/YYYY HH:mm:ss");
                    }
                },
                {
                    "aTargets": [4],
                    "className": "text-center",
                    "orderable": false,
                    "searchable": false,
                    "render": function (data) {

                        var html_links = '<div class="dropdown"><a type="button" class="" data-bs-toggle="dropdown"><i class="fe fe-more-vertical" style="font-size: 20px;"></i></a>' +
                                            '<div class="dropdown-menu" style="min-width:auto">' +
                                                '<a class="dropdown-item text-dark fw-bold" href="javascript:void(0)" onclick="view_doc(\'pat_doc\',' + data + ')"><i class="fe fe-search text-dark" style="font-size: 15px;margin-right: 0.5rem;"></i>&nbsp;View</a>' +
                                                '<a class="dropdown-item text-dark fw-bold" href="@Url.Action("DownloadFile", "PatientInsurance", new { area = "patient" })?type=pat_doc&id=' + data + '"><i class="fe fe-download-cloud text-dark" style="font-size: 15px;margin-right: 0.5rem;"></i>&nbsp;Download</a>' +
                                                '<a class="dropdown-item text-dark fw-bold" href="javascript:void(0)" onclick="delete_doc(' + data + ')"><i class="fe fe-trash text-danger" style="font-size: 15px;margin-right: 0.5rem;"></i>&nbsp;Delete</a>'+
                                            '</div>' +
                                        '</div>';

                        return html_links;
                    }
                }
            ],
            order: [[3, 'desc']],
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '<span class="text-primary font-weight-semi-bold">Search Document(s)</span>',
                lengthMenu: '_MENU_',
            },
            scrollX: true,
            scrollY: 500,
            scrollCollapse: true,
            fixedColumns: true,
            fixedHeader: {
                header: true,
                footer: true
            },
            buttons: [
                {
                    extend: 'excel',
                    className: 'btn-secondary',
                    title: 'Patient Documents',
                    exportOptions: {
                        columns: [1, 2, 3]
                    },
                    action: function (e, dt, node, config) {
                        $.fn.dataTable.ext.buttons.excelHtml5.action.call(this, e, dt, node, config);
                        exportLogs("Employee Exported Patient Documents with patId = @Model.refId to Excel!");
                    }
                },
                {
                    extend: 'pdf',
                    className: 'btn-secondary',
                    title: 'Patient Documents',
                    exportOptions: {
                        columns: [1, 2, 3]
                    },
                    action: function (e, dt, node, config) {
                        $.fn.dataTable.ext.buttons.pdfHtml5.action.call(this, e, dt, node, config);
                        exportLogs("Employee Exported Patient Documents with patId = @Model.refId to PDF!");
                    }
                },
                {
                    extend: 'csv',
                    className: 'btn-secondary',
                    title: 'Patient Documents',
                    exportOptions: {
                        columns: [1, 2, 3]
                    },
                    action: function (e, dt, node, config) {
                        $.fn.dataTable.ext.buttons.csvHtml5.action.call(this, e, dt, node, config);
                        exportLogs("Employee Exported Patient Documents with patId = @Model.refId to CSV!");
                    }
                },
                {
                    extend: 'print',
                    className: 'btn-secondary',
                    title: 'Patient Documents',
                    exportOptions: {
                        columns: [1, 2, 3]
                    },
                    action: function (e, dt, node, config) {
                        $.fn.dataTable.ext.buttons.print.action.call(this, e, dt, node, config);
                        exportLogs("Employee Printed Patient Documents with patId = @Model.refId Remarks!");
                    }
                }
            ]
        });
        table.buttons().container()
            .appendTo('#tbl_doc_lists_wrapper .col-md-6:eq(0)');

        setTimeout(function () {
            table.columns.adjust().draw();
        }, 350);

    }
    //#endregion Bind DataTable

    //#region Delete Remark
    var delete_doc = function (docId) {
        Swal.fire({
            title: "Are you sure you want to delete this Document ?",
            text: "This action will delete this Document!",
            icon: "question",
            showCancelButton: !0,
            confirmButtonText: 'Yes! I Confirm',
            cancelButtonText: 'No! Cancel Please',
            confirmButtonClass: "btn btn-success mt-2", cancelButtonClass: "btn btn-danger ms-2 mt-2", buttonsStyling: !1
        }).then(function (t) {
            if (t.value) {
                $.ajax({
                    url: '@Url.Action("DeleteDocument", "Patient", new { area = "Patient" })?docId=' + docId,
                    type: "GET",
                    dataType: "JSON",
                    success: function (data) {
                        if (data.isAuthorized) {
                            if (data.success) {
                                Swal.fire({
                                    title: "Success!",
                                    text: "Document is Deleted Successfully!",
                                    icon: "success",
                                    showCancelButton: 0,
                                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60"
                                });

                                GetDocuments(@Model.refId, '@Model.reftype');
                            }
                            else {
                                Swal.fire({
                                    title: "Error!",
                                    text: "Failed to Delete Remarks!",
                                    icon: "error",
                                    showCancelButton: 0,
                                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                                });
                            }
                        }
                        else {
                            Swal.fire({
                                title: "Access Denied!",
                                text: "You do not have enough privileges to delete this Remarks!",
                                icon: "error",
                                showCancelButton: 0,
                                confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                            });
                        }

                    },
                    error: function (xhr) {
                        Swal.fire({
                            title: "Error!",
                            text: "Failed to Delete Remarks! Please refresh the page and try again.",
                            icon: "error",
                            showCancelButton: 0,
                            confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                        });
                    }
                });
            }
        });
    }
    //#endregion Delete Denialcode

    //#region View Doc Modal
    var view_doc = function (type, id) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("ViewDocument", "PatientInsurance", new { area = "Patient" })?type=" + type + "&id=" + id,
            contentType: "application/json",
            dataType: "html",
            success: function (data) {
                $("#view_doc_modal_body").html(data);
                $("#view_doc_modal").modal("show");
            },
            error: function (xhr) {
                console.log(xhr);
            }
        });
    };
    //#endregion*@
</script>
