@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Colposcopy";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Informed Consent For Colposcopy</h3>
            </div>
            <div class="card-body">
                <div id="Colposcopy_add" style="display:none">
                </div>
                <div id="Colposcopy_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="Colposcopy_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetColposcopyInfo();
        ColposcopyPreviousHistory();
    });
    //#endregion

    //#region Load GetColposcopyInfo
    var GetColposcopyInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetColposcopyData", "Colposcopy", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditColposcopy();
                        $("#Colposcopy_add").hide();
                        $("#Colposcopy_edit").show();

                    }
                    else {
                        $("#Colposcopy_add").show();
                        $("#Colposcopy_edit").hide();
                        AddColposcopy();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load Colposcopy

    //#region Add Colposcopy
    function AddColposcopy() {
        var x = $("#Colposcopy_add");
        x.load("@Url.Action("CreateColposcopy", "Colposcopy", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add Colposcopy

    //#region Update Colposcopy
    function EditColposcopy() {
        var x = $("#Colposcopy_edit");
        x.load("@Url.Action("UpdateColposcopy", "Colposcopy", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update Colposcopy

    //#region Histroy of Colposcopy
    function ColposcopyPreviousHistory() {
        var x = $("#Colposcopy_history");
        x.load("@Url.Action("ColposcopyPreviousHistory", "Colposcopy", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>