@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Initial Evaluation Form";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Initial Speech And Language Evaluation Form
                </h3>
            </div>
            <div class="card-body">
                <div id="InitialEvaluationForm_add" style="display:none">
                </div>
                <div id="InitialEvaluationForm_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="InitialEvaluationForm_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetInitialEvaluationFormInfo();
        InitialEvaluationFormPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetInitialEvaluationFormInfo
    var GetInitialEvaluationFormInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetInitialEvaluationFormData", "InitialEvaluationForm", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditInitialEvaluationForm();
                        $("#InitialEvaluationForm_add").hide();
                        $("#InitialEvaluationForm_edit").show();

                    }
                    else {
                        $("#InitialEvaluationForm_add").show();
                        $("#InitialEvaluationForm_edit").hide();
                        AddInitialEvaluationForm();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load InitialEvaluationForm

    //#region Add InitialEvaluationForm
    function AddInitialEvaluationForm() {
        var x = $("#InitialEvaluationForm_add");
        x.load("@Url.Action("CreateInitialEvaluationForm", "InitialEvaluationForm", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add InitialEvaluationForm

    //#region Update InitialEvaluationForm
    function EditInitialEvaluationForm() {
        var x = $("#InitialEvaluationForm_edit");
        x.load("@Url.Action("UpdateInitialEvaluationForm", "InitialEvaluationForm", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update InitialEvaluationForm

    //#region Histroy of InitialEvaluationForm
    function InitialEvaluationFormPreviousHistory() {
        var x = $("#InitialEvaluationForm_history");
        x.load("@Url.Action("InitialEvaluationFormPreviousHistory", "InitialEvaluationForm", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>