@{
    ViewBag.Title = "NurseStation";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title mb-0 text-primary">Nurse Station</h4>
    </div>
    <div class="page-rightheader">
    </div>
</div>
<div class="modal-body p-4">
    <div class="panel panel-primary">
        <div class="tab_wrapper first_tab">
            <ul class="tab_list">
                <li class="active" id="hpi_title" data-bs-toggle="tab"><i class="fa fa-history font-size-15"></i> History of Present Illness(HPI)</li>
                <li id="allergies_title" data-bs-toggle="tab"><i class="fa fa-bed font-size-15"></i> Allergies</li>
                <li id="pfa_title" data-bs-toggle="tab"><i class="fa fa-sort-alpha-asc font-size-15"></i> Past / Family / Social History</li>
                <li id="ros_title" data-bs-toggle="tab"><i class="fa fa-podcast font-size-15"></i> Review of Systems</li>
                <li id="phyexam_title" data-bs-toggle="tab"><i class="fa fa-stethoscope font-size-15"></i> Physical Examination</li>
                <li id="nursenote_title" data-bs-toggle="tab"><i class="fa fa-stethoscope font-size-15"></i> Nurse Notes</li>
                <li id="signs_title" data-bs-toggle="tab"><i class="fa fa-stethoscope font-size-15"></i> Vital Signs</li>
                <li id="tpr_title" data-bs-toggle="tab"><i class="fa fa-bar-chart font-size-15"></i> TPR Charts</li>
                <li id="phyorder_title" data-bs-toggle="tab"><i class="fa fa-bar-chart font-size-15"></i> Physician Orders</li>
                <li id="labradiology_title" data-bs-toggle="tab"><i class="fa fa-bar-chart font-size-15"></i> Laboratory & Radiology</li>
            </ul>
            <div class="content_wrapper">
                <div class="tab_content active" id="hpi_content">
                </div>
                <div class="tab_content" id="allergies_content"></div>
                <div class="tab_content" id="pfa_content"></div>
                <div class="tab_content" id="ros_content"></div>
                <div class="tab_content" id="phyexam_content"></div>
                <div class="tab_content" id="nursenote_content"></div>
                <div class="tab_content" id="signs_content"></div>
                <div class="tab_content" id="tpr_content"></div>
                <div class="tab_content" id="labradiology_content"></div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
    <div id="Alert"></div>
    <div id="error"></div>
</div>

<script src="~/assets/js/tabs.js"></script>
<script type="text/javascript">
    //#region Page Load
    $(function () {
           $("#hpi_title").trigger("click");
    });
    var appdata = JSON.parse(localStorage.getItem("app"));
    //#endregion Page Load

    //#region Tab Click
        $('#hpi_title').on('click', function () {
            if (localStorage.getItem("app") != null) {
                _HPI(appdata);
            }
        });
        $('#allergies_title').on('click', function () {
            if (localStorage.getItem("app") != null) {
                _Allergies(appdata);
            }
        });
        $('#pfa_title').on('click', function () {
                if (localStorage.getItem("app") != null) {
                    _PastHistory(appdata);
                }
        });
        $('#ros_title').on('click', function () {
            if (localStorage.getItem("app") != null) {
                _ReviewofSystems(appdata);
            }
        });
        $('#nursenote_title').on('click', function () {
                if (localStorage.getItem("app") != null) {
                    _NurseNotes(appdata);
                }
        });
        $('#signs_title').on('click', function () {
            if (localStorage.getItem("app") != null) {
                _VitalSigns(appdata);
            }
        });
        $('#tpr_title').on('click', function () {
            if (localStorage.getItem("app") != null) {
                _TPRCharts(appdata);
            }
        });
        $('#phyexam_title').on('click', function () {
            if (localStorage.getItem("app") != null) {
                _PhyExam(appdata);
            }
        });
        $('#phyorder_title').on('click', function () {
            if (localStorage.getItem("app") != null) {
                _PhyOrder(appdata);
            }
        });
    //#endregion Tab Click

    //#region Tab Content
        var _HPI = function (app) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("HistoryofPresentIllness", "HistoryofPresentIllness", new { area = "NurseStation" })",
                contentType: "application/json",
                data: app,
                dataType: "html",
                success: function (data) {
                    $("#hpi_content").html(data);
                    $("#hpi_content").show();
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }

        var _Allergies = function (app) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Allergies", "Allergies", new { area = "NurseStation" })",
                contentType: "application/json",
                data: app,
                dataType: "html",
                success: function (data) {
                    $("#allergies_content").html(data);
                    $("#allergies_content").show();
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }

        var _PastHistory = function (app) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("PastHistory", "PastHistory", new { area = "NurseStation" })",
                contentType: "application/json",
                data: app,
                dataType: "html",
                success: function (data) {
                    $("#pfa_content").html(data);
                    $("#pfa_content").show();
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }

        var _ReviewofSystems = function (app) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("ReviewofSystems", "ReviewofSystems", new { area = "NurseStation" })",
                contentType: "application/json",
                data: app,
                dataType: "html",
                success: function (data) {
                    $("#ros_content").html(data);
                    $("#ros_content").show();
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }

        var _NurseNotes = function (app) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("NurseNotes", "NurseNotes", new { area = "NurseStation" })",
                contentType: "application/json",
                data: app,
                dataType: "html",
                success: function (data) {
                    $("#nursenote_content").html(data);
                    $("#nursenote_content").show();
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }

        var _VitalSigns = function (app) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("VitalSigns", "VitalSigns", new { area = "NurseStation" })",
                contentType: "application/json",
                data: app,
                dataType: "html",
                success: function (data) {
                    $("#signs_content").html(data);
                    $("#signs_content").show();
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }


        var _TPRCharts = function (app) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("TPRCharts", "TPRCharts", new { area = "NurseStation" })",
                contentType: "application/json",
                data: app,
                dataType: "html",
                success: function (data) {
                    $("#tpr_content").html(data);
                    $("#tpr_content").show();
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }

        var _PhyExam = function (app) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("PhysicalExamination", "PhysicalExamination", new { area = "NurseStation" })",
                contentType: "application/json",
                data: app,
                dataType: "html",
                success: function (data) {
                    $("#phyexam_content").html(data);
                    $("#phyexam_content").show();
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }

        var _PhyOrder = function (app) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("PhysicianOrders", "PhysicianOrders", new { area = "NurseStation" })",
                contentType: "application/json",
                data: app,
                dataType: "html",
                success: function (data) {
                    $("#phyorder_content").html(data);
                    $("#phyorder_content").show();
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion Tab Content
</script>