@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Botulinum Toxin Informed Consent (Upper Face)";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Botulinum Toxin Informed Consent (Upper Face) </h3>
            </div>
            <div class="card-body">
                <div id="BotoxConstantForm_add" style="display:none">
                </div>
                <div id="BotoxConstantForm_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="BotoxConstantForm_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetBotoxConstantFormInfo();
        BotoxConstantFormPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetBotoxConstantFormInfo
    var GetBotoxConstantFormInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetBotoxConstantFormData", "BotoxConstantForm", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditBotoxConstantForm();
                        $("#BotoxConstantForm_add").hide();
                        $("#BotoxConstantForm_edit").show();

                    }
                    else {
                        $("#BotoxConstantForm_add").show();
                        $("#BotoxConstantForm_edit").hide();
                        AddBotoxConstantForm();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load BotoxConstantForm

    //#region Add BotoxConstantForm
    function AddBotoxConstantForm() {
        var x = $("#BotoxConstantForm_add");
        x.load("@Url.Action("CreateBotoxConstantForm", "BotoxConstantForm", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add BotoxConstantForm

    // #region Update BotoxConstantForm
    function EditBotoxConstantForm() {
        var x = $("#BotoxConstantForm_edit");
        x.load("@Url.Action("UpdateBotoxConstantForm", "BotoxConstantForm", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update BotoxConstantForm

    // #region Histroy of BotoxConstantForm
    function BotoxConstantFormPreviousHistory() {
        var x = $("#BotoxConstantForm_history");
        x.load("@Url.Action("BotoxConstantFormPreviousHistory", "BotoxConstantForm", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion History of BotoxConstantForm

</script>