@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Weight Management Consent";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Weight Management Evaluation</h3>
            </div>
            <div class="card-body">
                <div id="WeightManagementConsent_add" style="display:none">
                </div>
                <div id="WeightManagementConsent_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="WeightManagementConsent_history">
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    //#region Page Load
    $(function () {
        GetWeightManagementConsentInfo();
        WeightManagementConsentPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetWeightManagementConsentInfo
    var GetWeightManagementConsentInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetWeightManagementConsentData", "WeightManagementConsent", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditWeightManagementConsent();
                        $("#WeightManagementConsent_add").hide();
                        $("#WeightManagementConsent_edit").show();

                    }
                    else {
                        $("#WeightManagementConsent_add").show();
                        $("#WeightManagementConsent_edit").hide();
                        AddWeightManagementConsent();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load WeightManagementConsent

    //#region Add WeightManagementConsent
    function AddWeightManagementConsent() {
        var x = $("#WeightManagementConsent_add");
        x.load("@Url.Action("CreateWeightManagementConsent", "WeightManagementConsent", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add WeightManagementConsent

    // #region Update WeightManagementConsent
    function EditWeightManagementConsent() {
        var x = $("#WeightManagementConsent_edit");
        x.load("@Url.Action("UpdateWeightManagementConsent", "WeightManagementConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update WeightManagementConsent

    // #region Histroy of WeightManagementConsent
    function WeightManagementConsentPreviousHistory() {
        var x = $("#WeightManagementConsent_history");
        x.load("@Url.Action("WeightManagementConsentPreviousHistory", "WeightManagementConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>