@using BusinessEntities;
@using System.Linq;
@using System.Security.Claims;

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "DischargeConjunctivalNewIndex";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }

}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Discharge Summary For Conjunctival Cyst Excision
                </h3>
            </div>
            <div class="card-body">
                <div id="DischargeConjunctivalNew_add" style="display:none">
                </div>
                <div id="DischargeConjunctivalNew_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="DischargeConjunctivalNew_history">
                </div>
            </div>
        </div>
    </div>
</div>
@*@section myScripts{*@
    <script>
        //#region Page Load
        $(function () {
            GetDischargeConjunctivalNewInfo();
            DischargeConjunctivalNewPreviousHistory();

        });
        //#endregion Page Load

        //#region Load GetDischargeConjunctivalNewInfo
        var GetDischargeConjunctivalNewInfo = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetDischargeConjunctivalNewData", "DischargeConjunctivalNew", new { area = "ConsentForms" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        if (response.length > 0) {
                            EditDischargeConjunctivalNew();
                            $("#DischargeConjunctivalNew_add").hide();
                            $("#DischargeConjunctivalNew_edit").show();

                        }
                        else {
                            $("#DischargeConjunctivalNew_add").show();
                            $("#DischargeConjunctivalNew_edit").hide();
                            AddDischargeConjunctivalNew();
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
        //#endregion Load DischargeConjunctivalNew

        //#region Add DischargeConjunctivalNew
        function AddDischargeConjunctivalNew() {
            var x = $("#DischargeConjunctivalNew_add");
            x.load("@Url.Action("CreateDischargeConjunctivalNew", "DischargeConjunctivalNew", new { area = "ConsentForms" })", function () {
          });
        }
        //#endregion Add DischargeConjunctivalNew

        //#region Update DischargeConjunctivalNew
        function EditDischargeConjunctivalNew() {
            var x = $("#DischargeConjunctivalNew_edit");
            x.load("@Url.Action("UpdateDischargeConjunctivalNew", "DischargeConjunctivalNew", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
          //#endregion Update DischargeConjunctivalNew

          //#region Histroy of DischargeConjunctivalNew
        function DischargeConjunctivalNewPreviousHistory() {
            var x = $("#DischargeConjunctivalNew_history");
            x.load("@Url.Action("DischargeConjunctivalNewPreviousHistory", "DischargeConjunctivalNew", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
        //#endregion History of DischargeConjunctivalNew


    </script>

@*}*@
