
@model BusinessEntities.EMR.CardioVascular
<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold" id="exampleModalLongTitle">View General Examination</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body p-4">
    <form id="form_CardioSystem" autocomplete="off" name="cardiovascular">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 mb-4 ">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div>
                            <h4 class="page-title mb-0 text-primary">
                                Respiratory System
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Heart Rate:&nbsp;</label></div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.cv_1_type&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.cv_1&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Rhythm:&nbsp;</label></div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.cv_2_type&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.cv_2&nbsp;</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> JVP:&nbsp;</label></div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.cv_3_type&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.cv_3&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Heart Sounds	:&nbsp;</label></div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.cv_4_type&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.cv_4&nbsp;</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Murmur	:&nbsp;</label></div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.cv_5_type&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.cv_5&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left">    Peripheral Pulses	:&nbsp;</label></div>
                        </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.cv_6_type&nbsp;</label>
                        </div>
                    </div>
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <div class="form-group mb-3">
                                <label class="form-label text-black text-left">@Model.cv_6&nbsp;</label>
                            </div>
                        </div>
                    </div>

                </div>
        </div>
    </form>
</div>
