@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Tooth Fillings Arabic";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header" dir="rtl">
                <h3 class="card-title">موافقة المريض على بدء علاج حشوات الأسنان</h3>
            </div>
            <div class="card-body">
                <div id="ToothFillingsArabic_add" style="display:none">
                </div>
                <div id="ToothFillingsArabic_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="ToothFillingsArabic_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetToothFillingsArabicInfo();
        ToothFillingsArabicPreviousHistory();
    });

    //#endregion Page Load

    //#region Load GetToothFillingsArabicInfo
    var GetToothFillingsArabicInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetToothFillingsArabicData", "ToothFillingsArabic", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditToothFillingsArabic();
                        $("#ToothFillingsArabic_add").hide();
                        $("#ToothFillingsArabic_edit").show();

                    }
                    else {
                        $("#ToothFillingsArabic_add").show();
                        $("#ToothFillingsArabic_edit").hide();
                        AddToothFillingsArabic();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load ToothFillingsArabic

    //#region Add ToothFillingsArabic
    function AddToothFillingsArabic() {
        var x = $("#ToothFillingsArabic_add");
        x.load("@Url.Action("CreateToothFillingsArabic", "ToothFillingsArabic", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add ToothFillingsArabic

    //#region Update ToothFillingsArabic

    function EditToothFillingsArabic() {
        var x = $("#ToothFillingsArabic_edit");
        x.load("@Url.Action("UpdateToothFillingsArabic", "ToothFillingsArabic", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update ToothFillingsArabic

    //#region Histroy of ToothFillingsArabic

    function ToothFillingsArabicPreviousHistory() {
        var x = $("#ToothFillingsArabic_history");
        x.load("@Url.Action("ToothFillingsArabicPreviousHistory", "ToothFillingsArabic", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Histroy of ToothFillingsArabic
</script>