@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Ortho Elastic";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Ortho Elastic Instructions</h3>
            </div>
            <div class="card-body">
                <div id="OrthoElastic_add" style="display:none">
                </div>
                <div id="OrthoElastic_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="OrthoElastic_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetOrthoElasticInfo();
        OrthoElasticPreviousHistory();
    });

    //#endregion Page Load

    //#region Load GetOrthoElasticInfo
    var GetOrthoElasticInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetOrthoElasticData", "OrthoElastic", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    console.log(response.length);
                    if (response.length > 0) {
                        EditOrthoElastic();
                        $("#OrthoElastic_add").hide();
                        $("#OrthoElastic_edit").show();

                    }
                    else {
                        $("#OrthoElastic_add").show();
                        $("#OrthoElastic_edit").hide();
                        AddOrthoElastic();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load OrthoElastic

    //#region Add OrthoElastic
    function AddOrthoElastic() {
        var x = $("#OrthoElastic_add");
        x.load("@Url.Action("CreateOrthoElastic", "OrthoElastic", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add OrthoElastic

    //#region Update OrthoElastic
    function EditOrthoElastic() {
        var x = $("#OrthoElastic_edit");
        x.load("@Url.Action("UpdateOrthoElastic", "OrthoElastic", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update OrthoElastic

    //#region History of OrthoElastic
    function OrthoElasticPreviousHistory() {
        var x = $("#OrthoElastic_history");
        x.load("@Url.Action("OrthoElasticPreviousHistory", "OrthoElastic", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion History of OrthoElastic
</script>
