@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConcentForms.OrthoElastic

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<form id="form_OrthoElasticEdit" autocomplete="off" name="OrthoElastic" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5 mt-5 text-justify">
        <p>Elastics move the teeth in a direction which cannot be accomplished with braces alone.</p>
        <p>Your teeth and jaws may be tender the first few days of wearing the elastics. This is normal and should begin to disappear within a week. If it persists longer, please call our office. Rinsing with hot salt water will help take away the tenderness.</p>
        <p>It may seem hard for you to put on the elastics at first; however it will become easier with practice</p>
        <p>Change the elastics routinely even if they are not broken. After a while, elastics lose their strength. Change them at least after each meal and before bedtime.</p>
        <p>Carry extra elastics with you at all times. If you don’t have enough elastic to last until next appointment, please stop by our office and pick more up. We don’t want you to run out.</p>
        <p>Elastics wear is an important key to speed of your treatment and the final results we can achieve. The diagram below shows the correct placement. Please call us if you have any question or concern. Good luck with your elastics</p>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="3" class="font-weight-bold text-danger fs-18 width=100%">
                        Sign here, only if all of your questions have been answered to your satisfaction
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <div id="upat_sign_box" class="d-none">
                            <img alt="stamp" id="upat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="50%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold"> Patient Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                    <td width="50%">
                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue">
                        Patient Signature
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center">Doctor's Sign & Stamp</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update">Save Changes</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                <button type="button" class="btn btn-danger btn-sm" id="btn_DeleteForm">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print"> Download/Print </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Update").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Update").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Update").show();
                }
                else {
                    $("#btn_Update").hide();
                }
            }
        }

        GetSignaturename('patient');
        GetSignaturename('witness');
    });

    //#region Update  Click
$('#btn_Update').on('click', function (e) {
    e.preventDefault();
    if ($("#form_OrthoElasticEdit").valid()) {
        $('#btn_Update').removeClass("btn btn-sm btn-success");
        $('#btn_Update').addClass("btn btn-sm btn-success btn-loaders btn-icon");
        $('#btn_Update').html("Updating the Record....");

        var _dateInsert = {
            "oeId": 0,
            "oe_appId": @emr.appId,
            "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
        }

        console.log(_dateInsert);

        $.ajax({
            type: "Post",
            url: "@Url.Action("EditOrthoElastic", "OrthoElastic", new {area = "ConsentForms" })",
            dataType: 'JSON',
            data: _dateInsert,
            success: function (data) {
                $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                $('#btn_Update').addClass("btn btn-sm btn-warning");
                $('#btn_Update').html("Save Changes");

                if (data.isSuccess) {
                    if (data.isEdited) {
                        var alertPlaceholder = document.getElementById("Alert");

                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>  Ortho Elastic Consent Form Updated Successfully!", "success");

                        //GetOrthoElastic();
                        Timeout();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Warning.. Ortho Elastic Consent Form already Exists..</strong><br/>" +
                            "</div></div>";
                        $("#Alert1").html(html);
                    }
                }
                else {
                    let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                    "<div class='alert alert-danger' role='alert'>" +
                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                    "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                    $.each(data.message, function (index, value) {
                        html += "<li><small>" + value + "</small><li>";
                        var elem = $("#" + index);
                        if (elem.hasClass("select2-hidden-accessible")) {
                            $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                        }
                        else {
                            $(elem).addClass(" is-invalid");
                        }

                        setTimeout(function () {
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                            }
                            else {
                                $(elem).removeClass("is-invalid");
                            }
                            }, 5000);
                    });

                    html += "</ul></div></div>";

                    $("#error").html(html);
                }
            },
            error: function (xhr) {
                $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                $('#btn_Update').addClass("btn btn-sm btn-warning");
                $('#btn_Update').html("Save Changes");
                Timeout();
            }
        });
    }
    else {
        $('.modal-body').animate({
            scrollTop: ($('.has-error').offset().top - 300)
        }, 2000);
    }
});
//#endregion Update Click

    //#region Delete Click
    $('#btn_DeleteForm').on('click', function (e) {
        e.preventDefault();
        $('#btn_DeleteForm').removeClass("btn btn-success");
        $('#btn_DeleteForm').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_DeleteForm').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteOrthoElastic", "OrthoElastic", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-warning");
                $('#btn_DeleteForm').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>Ortho Elastic Consent Form Deleted Successfully!", "success");
                        clearControls();
                        Timeout();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-Delete");
                $('#btn_DeleteForm').html("Delete");
                Timeout();
            }
        })
    });
//#endregion

    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("#upat_sign,#uwit_sign").attr("src", "");
    }
    //#endregion Clear Controls

    //#region Print
$('#btn_Print').on('click', function (e) {
    e.preventDefault();
    $('#btn_Print').removeClass("btn btn-success");
    $('#btn_Print').addClass("btn btn-success btn-loaders btn-icon");
    $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "OrthoElastic", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=OrthoElastic",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {
                if (data.success) {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
    //#endregion Print

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
             var _data = {
                 "patId": @emr.patId,
                 "person": id,
                 "form": "OrthoElastic",
                 "appId": @emr.appId,
                 "formname":"Ortho Elastic",
                 "formlink":"",
                 "eSign":""
             }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
var openSignaturePad = function (id) {
    var _data = {
        "patId": @emr.patId,
        "person": id,
        "form": "OrthoElastic",
        "appId": @emr.appId,
        "formname":"Ortho Elastic",
        "formlink":"",
        "eSign":""
    }
    $.ajax({
        type: "GET",
        url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
        contentType: "application/json",
        dataType: "html",
        data: _data,
        success: function (response) {
            $("#signature_pad_body").html(response);
            $("#signature_pad").modal("show");
        },
        error: function (xhr) {
            console.log("Error :" + xhr.statusText);
        }
    });
}
//#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
    if (localStorage.getItem("sign") != null) {
        GetSignaturename('patient');
        GetSignaturename('witness');
        localStorage.removeItem("sign");
    }
});

    //#region Get Signature
var GetSignaturename = function  (person) {
    $.ajax({
        url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=OrthoElastic',
        type: "GET",
        dataType: "json",
        async: false,
        success: function (response) {
            console.log(response);
            let sign = response[0].psb_sign;
            if (response[0].person == "patient") {
                $("#upat_sign_box").removeClass("d-none");
                $("#upat_sign").attr("src", sign);
            }
            if (response[0].person == "witness") {
                $("#uwit_sign_box").removeClass("d-none");
                $("#uwit_sign").attr("src", sign);
            }
        },
        error: function (xhr) {
            console.log(xhr);
            alert(xhr);
        }

    });
};
//#endregion Get Signature

    //#region Alert Timeout
function Timeout() {
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4200);
}
//#endregion Alert Timeout


</script>
