@model BusinessEntities.EMRForms.HealthInternational
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="modal-body p-4">
    <form id="form_HealthInternationalDecision" class="fs-14" autocomplete="off" name="HealthInternational" ondrop="return false;" onpaste="return false;" oncut="return false;">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.chinId, new { @id = "chinId", @value = "@Model.chinId" })

        <div class="row text-justify">
            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                <div>
                    <h5 class="font-weight-bold text-black">Important information for Medical Providers:</h5>
                </div>
                <div class="form-group row">
                    <p class="text-black text-justify">
                        Please complete the claim form in BLOCK CAPITALS and submit it to Us within 30 days from the end of the month in which Treatment is given,
                        or as per the contractually agreed submission period.
                    </p>
                    <p class="text-black text-justify">
                        You can scan this claim form, receipts/diagnostic reports/discharge reports and membership card, and email them to MEAService@now-health.com or fax them to +971 (0) 4450 1416.
                    </p>
                    <p class="text-black text-justify">
                        If you have any questions about this form, please call us on +971 (0) 4450 1415 or email us at MEAService@now-health.com.
                    </p>
                </div>
                <div class="card-body">
                    <div class="row outer-border">
                        <div class="col-lg-12 col-md-12 ps-0">
                            <div class="form-group row">
                                <h5 class="font-weight-bold text-black ps-3">Section 1: Member and Patient Information: (to be completed by the patient)</h5>
                            </div>
                            <div class="form-group row">
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">Planholder’s name</label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.chin_1, new { @class = "form-control", @id = "chin_1", @maxlength = "10" })
                                    </div>
                                </div>
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">Patient’s name</label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">
                                        Membership number
                                    </label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.chin_2, new { @class = "form-control", @id = "chin_2", @maxlength = "10" })
                                    </div>
                                </div>
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">
                                        Date of birth (dd/mm/yyyy)
                                    </label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">
                                        Gender
                                    </label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_gender&nbsp;</span>
                                    </div>
                                </div>
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">
                                        Telephone number
                                    </label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.chin_3, new { @class = "form-control", @id = "chin_3", @maxlength = "10" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">
                                        Medical record number (if available)
                                    </label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.chin_3, new { @class = "form-control", @id = "chin_4", @maxlength = "10" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="card-body">
                    <div class="row outer-border">
                        <div class="col-lg-12 col-md-12 ps-0">
                            <div>
                                <h5 class="font-weight-bold text-black">Section 2: Medical Information (to be completed by the doctor responsible for the patient’s Treatment)</h5>
                            </div>
                            <div class="form-group row">
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">
                                        Provider name
                                    </label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.chin_5, new { @class = "form-control mb-1", @id = "chin_5", @maxlength = "10" })
                                    </div>
                                </div>
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">Provider address</label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.chin_6, new { @class = "form-control", @id = "chin_6", @maxlength = "10" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" form-label">
                                    Medical Condition
                                </label>
                                <div>
                                    @Html.TextAreaFor(m => m.chin_7, new { @class = "form-control", @row = "2", @id = "chin_7" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" form-label">
                                    Diagnosis ICD 10 code
                                </label>
                                <div>
                                    <label class="text-black text-red text-left" id="diagnosis" name="">&nbsp;</label>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div>
                    <h5 class="font-weight-bold text-black ps-3">Relationship</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-lg-12 ps-0">
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label">
                                    Treatment date (dd/mm/yyyy):
                                </label>
                                <div class="col-md-6 col-lg-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fe fe-calendar"></i>
                                            </div>
                                        </div>
                                        @Html.TextBoxFor(m => m.chin_date1, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "chin_date1" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                                    <label class="col-md-6 col-lg-3 text-black">Type of claim: </label>
                                    <div class="d-flex  justify-content-center w-8  text-black">
                                        :
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left col-md-3">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="chin_checkbox" value="1">
                                                <span class="custom-control-label">Illness   </span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left col-md-3">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="chin_checkbox" value="2">
                                                <span class="custom-control-label">Injury    </span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left col-md-3">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="chin_checkbox" value="3">
                                                <span class="custom-control-label">Accident</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <p class="text-black text-justify">If the claim is due to an Accident and some of the costs are recoverable from a third party (for example a person or organisation involved in the Accident), please provide details:</p>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 col-lg-3 text-black">Type of condition:</label>
                                <div class="col-md-8 col-lg-4 d-flex">
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left col-md-3">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="chin_checkbox" value="4">
                                            <span class="custom-control-label">Acute</span>
                                        </label>
                                    </div>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left col-md-3">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="chin_checkbox" value="5">
                                            <span class="custom-control-label">Chronic</span>
                                        </label>
                                    </div>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left col-md-3">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="chin_checkbox" value="6">
                                            <span class="custom-control-label">Maternity</span>
                                        </label>
                                    </div>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left col-md-3">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="chin_checkbox" value="7">
                                            <span class="custom-control-label">Congenital</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 col-lg-3 text-black">Type of service :</label>
                                <div class="col-md-8 col-lg-4 d-flex">
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left col-md-3">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="chin_checkbox" value="8">
                                            <span class="custom-control-label">Out-Patient</span>
                                        </label>
                                    </div>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left col-md-3">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="chin_checkbox" value="9">
                                            <span class="custom-control-label">Day-Patient</span>
                                        </label>
                                    </div>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left col-md-3">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="chin_checkbox" value="10">
                                            <span class="custom-control-label">In-Patient</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-black">For In-Patient or Day-Patient Treatment</label>
                                <div>
                                    @Html.TextAreaFor(m => m.chin_8, new { @class = "form-control", @row = "2", @id = "chin_8" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-black">Treatment/Medication details</label>
                                <div>
                                    @Html.TextAreaFor(m => m.chin_9, new { @class = "form-control", @row = "2", @id = "chin_9" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label">
                                    Date on which the patient first consulted you for this Medical Condition (dd/mm/yyyy):
                                </label>
                                <div class="col-md-6 col-lg-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fe fe-calendar"></i>
                                            </div>
                                        </div>
                                        @Html.TextBoxFor(m => m.chin_date2, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "chin_date2" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label">
                                    Date on which the first onset of symptoms have been apparent to the patient (dd/mm/yyyy):
                                </label>
                                <div class="col-md-6 col-lg-3">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fe fe-calendar"></i>
                                            </div>
                                        </div>
                                        @Html.TextBoxFor(m => m.chin_date3, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "chin_date3" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-black">Did the patient receive any Treatment in the past for this Medical Condition? If yes, please provide details (include medical reports)</label>
                                <div>
                                    @Html.TextAreaFor(m => m.chin_10, new { @class = "form-control", @row = "2", @id = "chin_10" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label">
                                    Total claimed amount
                                </label>
                                <div class="col-md-6 col-lg-3">
                                    @Html.TextBoxFor(m => m.chin_11, new { @class = "form-control", @id = "chin_11", @maxlength = "10" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <h5 class="font-weight-bold text-black ps-3">Medical Practitioner Declaration:</h5>
                            </div>
                            <div class="form-group row">
                                <div>
                                    <p class="text-black text-justify">I declare that I am the patient’s Medical Practitioner and that:</p>
                                    <ul class="list-style2">
                                        <li>The particulars given herein are, to the best of my knowledge, true and correct</li>
                                        <li>I have applied the conditions detailed in the Provider Agreement and Manual held with Now Health, where applicable; and</li>
                                        <li>The Plan member’s claim detailed herein is covered by their Plan Benefits and that if any payment is invalid Underwriters shall be entitled to recover the erroneous payment.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="text-black">Signature and Stamp</label>
                                <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="text-black">Date</label>
                                <span class="font-weight-normal1 text-capitalize text-left">@emr.app_fdate&nbsp;</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 ps-0">
                            <div class="form-group row">
                                <h5 class="font-weight-bold text-black ps-3">Section 3: Patient declaration and authorisation<br />Declaration</h5>
                            </div>
                            <div class="form-group row">
                                <p class="text-black text-justify">
                                    I hereby declare that I am the patient/patient’s guardian* (if the patient is under 16 years of age) (*please cross out if not applicable).
                                </p>
                                <p class="text-black text-justify">
                                    I wish to claim Benefit and declare the information I have given is, to the best of my knowledge, true, correct and complete even if it is not in my own handwriting
                                </p>
                                <p class="text-black text-justify">I understand it is unlawful for me to knowingly provide false, incomplete or misleading facts or information to Now Health International for the purpose of defrauding or attempting to defraud Now Health International or the Underwriters. Penalties may include imprisonment, fines, denial of coverage, rescission of Benefits and legal damages.I agree to the data protection declaration above and understand that cover is provided in accordance with the terms and conditions of the WorldCare Plan.</p>
                                <p class="text-black text-justify">I consent to Now Health International seeking medical reports if needed from my Medical Practitioner, so Now Health International can deal with my claim for Benefit.</p>
                                <p class="text-black text-justify">I do (NOT)* wish to see the medical report before it is sent to Now Health International. *Delete the word NOT if You wish to see the report</p>
                                <p class="text-black text-justify">I hereby consent to authorise any Doctor and/or Hospital who has treated or advised me to provide Now Health International with any information they may require in connection with this claim.</p>
                                <p class="text-black text-justify">When completed and signed by the patient and Medical Practitioner (when appropriate), please return this form and the accompanying invoices and payment receipts to: Now Health International Gulf Third Party Administrators LLC, Ground floor, Al Shaiba Building, Dubai Outsource Zone, PO Box 502163, Dubai, UAE.</p>
                                <p class="text-black text-justify">I have read the declaration in Section 3.</p>
                                <p class="text-black text-justify">I agree to the declaration and understand that any claim for Benefit is in accordance with the terms and conditions of the Plan</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="text-black">Policyholder signature</label>
                                <div class="form-group mb-3" style="display:none" id="patimg"><img alt="Signature" src="" id="pat_sign" class="avatar avatar-xl bsquare" /></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="text-black">Date </label>
                                <label class="text-black text-red text-left" id="psb_date_witness" name="">&nbsp;</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="row mt-2">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="btn-list btn-animation">
                        <button type="submit" class="btn btn-success" id="btn_Insert_HealthInternational">Save</button>
                        <button type="button" class="btn btn-outline-dark" id="btn_Reset_HealthInternational">Reset</button>
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-danger me-1" id="btn_Close_HealthInternational" style="display:none">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@*@section myScripts{*@
<script type="text/javascript">
    //#region Page Load
    var formName1 = $(form_HealthInternationalDecision).closest('form').attr('name');
        $(function () {
            validate();
            set_date();
            //Get_AllPatientDiagnosis();
        });
    //#endregion

    //#region Load set Date
        var set_date = function () {
            $('#chin_date1,#chin_date2,#chin_date3').bootstrapdatepicker({
                format: "dd-MM-yyyy",
                viewMode: "date",
                todayHighlight: true,
                autoclose: true,
                multidate: false,
                multidateSeparator: "-"
            });
            $("#chin_date1,#chin_date2,#chin_date3").bootstrapdatepicker("setDate", '');
        }
    //#endregion

    //#region Load Get All Diagnosis
        var Get_AllPatientDiagnosis = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllPatientDiagnosis", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#diagnosis').text(response[0].Diagnosis);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
    //#endregion

    //#region Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
    //#endregion

    //#region Reset
        $('#btn_Reset_HealthInternational').on('click', function (e) {
            e.preventDefault();
            clearControls();
        });
    //#endregion

    //#region Validation Initialization
        var validate = function () {
            $('#chin_11').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
            $("#chin_11").on('input', function () {
                var disc = $(this).val();
                if (disc == "" || disc == null || disc == undefined) {
                    $("#chin_11").val(0.00);
                }
            });
            $('#chin_date1').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#chin_date2').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#chin_date3').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
        }
    //#endregion

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "HealthInternational",
                "appId": @emr.appId,
                "formname":"HealthInternational",
                "formlink":"PrintHealthInternationalClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
        var openSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "HealthInternational",
                "appId": @emr.appId,
                "formname":"HealthInternational",
                "formlink":"PrintHealthInternationalClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Clear Controls
        var clearControls = function () {
            $("#chin_1").val("");
            $("#chin_2").val("");
            $("#chin_3").val("");
            $("#chin_5").val("");
            $("#chin_6").val("");
            $("#chin_7").val("");
            $("#chin_8").val("");
            $("#chin_9").val("");
            $("#chin_10").val("");
            $("#chin_11").val("");
            $("#chin_date1").bootstrapdatepicker("setDate", '');
            $("#chin_date2").bootstrapdatepicker("setDate", '');
            $("#chin_date3").bootstrapdatepicker("setDate", '');
            var elements = document.getElementsByClassName('custom-control-input');
            Array.prototype.forEach.call(elements, function (element) {
                element.checked = false;
            });
        }
    //#endregion

    //#region Insert Button Click
    $('#btn_Insert_HealthInternational').on('click', function (e) {
        e.preventDefault();
        console.log("eeeeeeeeeeeeeeeeeeee");
        if ($("#form_HealthInternationalDecision").valid()) {
            console.log("dsppppppppppppppppp");
            $('#btn_Insert_HealthInternational').removeClass("btn btn-success");
            $('#btn_Insert_HealthInternational').addClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Insert_HealthInternational').html("Saving the Record....");
            var chin_chkbox = "";
            $('.custom-control-input:checked').each(function (index) {
                chin_chkbox = chin_chkbox + ',' + $(this).val();
            });
            var chin_checkbox = chin_chkbox.substring(1);
            var _dataInsert = {
            "chinId": 0,
            "chin_appId": @emr.appId,
            "chin_checkbox": chin_checkbox,
            "chin_1": $("#chin_1").val(),
            "chin_2": $("#chin_2").val(),
            "chin_3": $("#chin_3").val(),
            "chin_4": $("#chin_4").val(),
            "chin_5": $("#chin_5").val(),
            "chin_6": $("#chin_6").val(),
            "chin_7": $("#chin_7").val(),
            "chin_8": $("#chin_8").val(),
            "chin_9": $("#chin_9").val(),
            "chin_10": $("#chin_10").val(),
                "chin_11": $("#chin_11").val(),
                "chin_date1": moment($("#chin_date1").val()).format("YYYY-MM-DD"),
                "chin_date2": moment($("#chin_date2").val()).format("YYYY-MM-DD"),
                "chin_date3": moment($("#chin_date3").val()).format("YYYY-MM-DD"),
            "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }
            console.log(_dataInsert);
            $.ajax({
        type: "POST",
        url: "@Url.Action("InsertHealthInternational", "ReimbursementForms", new { area = "EMRForms" })",
        dataType: 'JSON',
        data: _dataInsert,
        success: function (data) {
        $('#btn_Insert_HealthInternational').removeClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Insert_HealthInternational').addClass("btn btn-success");
        $('#btn_Insert_HealthInternational').html("Add");

        if (data.isSuccess) {
        if (data.isInserted) {
        GetHealthInternational();
        var alertPlaceholder = document.getElementById("Alert");
        function alert(e, t) {
            var l = document.createElement("div");
            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
        }
        alert("<i class='fe fe-check-circle text-white'></i> HealthInternational Claim Form Added Successfully!", "success");
        Timeout();
        Edithealthinternational();
        }
        else {
            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                "<div class='alert alert-light-warning' role='alert'>" +
                "<button type='button' class='btn-close text-warning' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                "<strong><i class='fa fa-exclamation-triangle text-warning'></i> HealthInternational Claim Form Alredy Exists!</strong><br/>" +
                "</div></div>";
            $("#error").html(html);
        }
        }
        else {
        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
            "<div class='alert alert-light-danger' role='alert'>" +
            "<button type='button' class='btn-close text-danger' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
            "<strong><i class='fa fa-ban text-danger'></i> Validation Error! Please validate before submitting.&nbsp;</strong><br/><ul>";

        $.each(data.message, function (index, value) {
            html += "<li><small>" + value + "</small><li>";
            var elem = $("#" + index);
            if (elem.hasClass("select2-hidden-accessible")) {
                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
            }
            else {
                $(elem).addClass(" is-invalid");
            }

            setTimeout(function () {
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                }
                else {
                    $(elem).removeClass("is-invalid");
                }
            }, 5000);
        });
        html += "</ul></div></div>";
        $("#error").html(html);
        }
        },
        error: function (xhr) {
        $('#btn_Insert_HealthInternational').removeClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Insert_HealthInternational').addClass("btn btn-success");
        $('#btn_Insert_HealthInternational').html("Add");
        Timeout();
        }
        });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
//#endregion

</script>
@*}*@
<style>
    .outer-border {
        border: 2px solid #000; /* You can adjust the border thickness and color as needed */
        padding: 10px; /* Optional: Add padding for spacing */
    }
</style>
