@model BusinessEntities.EMRForms.Mednet
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<form id="form_MednetDecision" autocomplete="off" name="Mednet" ondrop="return false;" onpaste="return false;" oncut="return false;" class="fs-14">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.cmcnId, new { @id = "cmcnId", @value = "@Model.cmcnId" })
    <div class="row">
        <div class="col-lg-12 col-md-12 d-flex">
            <div class="col-lg-6 col-md-6 ps-4">
                <img src="~/images/Reimbursement_Forms/med1.png" />
            </div>
            <div class="col-lg-6 col-md-6 text-right pe-6">
                <img src="~/images/Reimbursement_Forms/med.png" />
            </div>
        </div>
    </div>
    <div>
        <hr class="new4" />
    </div>
    <div class="row">
        <div class="card-body pb-0">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group row">
                        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                            <label class="col-md-4 form-label">Card Holder’s Name<span class="text-danger">*</span></label>
                            <div class="d-flex  justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-md-6">
                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                            </div>
                        </div>
                        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                            <label class="col-md-4 form-label">Date of Birth</label>
                            <div class="d-flex  justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-md-6">
                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                            <label class="col-md-4 form-label">Valid Until<span class="text-danger">*</span></label>
                            <div class="d-flex  justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-md-6">
                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pi_edate&nbsp;</span>
                            </div>
                        </div>
                        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                            <label class="col-md-4 form-label">	Contact Telephone</label>
                            <div class="d-flex  justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-md-6">
                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_mob&nbsp;</span>
                            </div>
                        </div>
                    </div>
                    <div class="row ps-2">
                        <h3 class="card-title font-weight-bold">To be Completed by the Treating Physician</h3>
                    </div>
                    <div class="row ps-2">
                        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                            <div class="card border-dark">
                                <div class="card-header bg-gray">
                                    <h6 class="card-title">
                                        Dear Doctor: The beneficiary participating in the MedNet Program is consulting you for medical care and kindly requests you to complete this
                                        form.
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <div class="form-horizontal">
                                        <div class="form-group row">
                                            <label class="col-md-4 col-lg-3 text-black">Diagnosis</label>
                                            <div class="col-md-8 col-lg-9">
                                                <label class="text-black text-red text-left" id="diagnosis" name="">&nbsp;</label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-4 col-lg-3 text-black">Date of onset of symptoms</label>
                                            <div class="col-md-8 col-lg-3 ps-0">
                                                <div class="col-md-8 col-lg-8 input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <i class="fe fe-calendar"></i>
                                                        </div>
                                                    </div>
                                                    @Html.TextBoxFor(m => m.cmcn_date1, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "cmcn_date1" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-4 col-lg-3 text-black">
                                                If, hospitalized
                                            </label>
                                            <div class="col-md-8 col-lg-3 ps-0 mb-1">
                                                <div class="col-md-8 col-lg-8 input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <i class="fe fe-calendar"></i>
                                                        </div>
                                                    </div>
                                                    @Html.TextBoxFor(m => m.cmcn_date2, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "cmcn_date2" })
                                                </div>
                                            </div>
                                            <label class="col-md-4 col-lg-3 text-black">
                                                Discharge
                                            </label>
                                            <div class="col-md-8 col-lg-3">
                                                <div class="col-md-8 col-lg-8 input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <i class="fe fe-calendar"></i>
                                                        </div>
                                                    </div>
                                                    @Html.TextBoxFor(m => m.cmcn_date3, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "cmcn_date3" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-4 col-lg-3 text-black">Case Management</label>
                                            <div class="col-md-8 col-lg-9">
                                                @Html.TextBoxFor(m => m.cmcn_5, new { @class = "form-control", @id = "cmcn_5", @maxlength = "20" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-4 col-lg-3 text-black">Actual Costs</label>
                                            <div class="col-md-8 col-lg-9">
                                                @Html.TextBoxFor(m => m.cmcn_6, new { @class = "form-control", @id = "cmcn_6", @maxlength = "20" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row ps-2">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h3 class="card-title font-weight-bold">Treatment Plan</h3>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <label class="form-label">
                                Diagnosis
                            </label>
                            <label class="text-black text-red text-left" id="diagnosis1" name="">&nbsp;</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <label class="form-label">
                                Pharmaceuticals
                            </label>
                            <label class="text-black text-red text-left" id="Prescriptions_details" name="">&nbsp;</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <label class="form-label text-red text-left" style="display:none" id="psb_date_witness" name="">&nbsp;</label>
                            <label class="text-black">
                                Date
                            </label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group mb-3" style="display:none" id="patimg"><img alt="Signature" src="" id="pat_sign" class="avatar avatar-xl bsquare" /></div>
                            <label class="text-black">
                                Cardholder’s signature
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 text-black">Physician’s Name</label>
                        <div class="col-md-3 ps-0">
                            <span class="font-weight-normal1 text-capitalize text-left">@emr.doc_name&nbsp;</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 text-black">Telephone No.</label>
                        <div class="col-md-3 ps-0">
                            <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_tel&nbsp;</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 text-black">Date</label>
                        <div class="col-md-3 ps-0">
                            <span class="font-weight-normal1 text-capitalize text-left">@emr.app_fdate&nbsp;</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 text-black">Signature</label>
                        <div class="col-md-3 ps-0">
                            <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="form-label text-decoration-underline">CHECKLIST</label>
                        <div class="col-md-12">
                            <ul>
                                <li class="d-flex">
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="met_check" value="1">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>Completed “Reimbursement Form”
                                </li>
                                <li class="d-flex">
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="met_check" value="2">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>Full and Complete Medical Report / Diagnosis / Discharge summary from the treating doctor
                                </li>
                                <li class="d-flex">
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="met_check" value="3">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>Original itemized invoices or receipts for the amount claimed (Invoice must show cost per service)
                                </li>
                                <li class="d-flex">
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="met_check" value="4">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>Personalized SOAP / Maternity SOAP / Dental SOAP (if applicable)
                                </li>
                                <li class="d-flex">
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="met_check" value="5">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>Copies of results of diagnostic tests
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="form-group row">
                        <p class="text-justify">
                            For treatment within UAE, please submit your claim <span class="font-weight-bold">within 60 days</span> from the date of treatment. For treatment
                            outside UAE, the claim must be submitted <span class="font-weight-bold">within 90 days</span> from the date of treatment.
                        </p>
                    </div>
                    <div class="form-group row">
                        <label class="text-justify form-label font-italic text-decoration-underline">
                            IN-HOSPITAL NON- EMERGENCY ADMISSION
                        </label>
                    </div>
                    <div class="form-group row">
                        <p class="text-justify">
                            The MedNet Claims Centre should be notified, at least 7 days in advance for arranging elective treatment on free
                            access basis at a network facility outside UAE, if applicable.
                        </p>
                        <p class="text-justify">
                            <span class="font-weight-bold">Within UAE</span> (24 hours a day, 7-days a week)
                        </p>
                        <p class="text-justify">
                            Toll Free Phone - 800 4882
                        </p>
                        <p class="text-justify">
                            Toll Free Fax - 800 4883
                        </p>
                        <p class="text-justify">
                            <span class="font-weight-bold"> Outside UAE</span> (24 hours a day, 7- days a week)
                        </p>
                        <p class="text-justify">
                            Phone - 00 971 4 3900749
                        </p>
                        <p class="text-justify">
                            Fax - 00 971 4 3908598
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row ">
        <div class="row mt-2">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="btn-list btn-animation">
                    <button type="submit" class="btn btn-success" id="btn_Insert_Mednet">Save</button>
                    <button type="button" class="btn btn-outline-dark" id="btn_Reset_Mednet">Reset</button>
                    <div class="btn-group mr-2">
                        <div class="dropdown">
                            <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-outline-danger me-1" id="btn_Close_Mednet" style="display:none">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
@*@section myScripts{*@
<script type="text/javascript">
    //#region Page Load
        var formName1 = $(form_MednetDecision).closest('form').attr('name');
        $(function () {
            Get_AllPatientDiagnosis();
            Get_AllPatientDrugs();
            set_date();
            validate();
        });
    //#endregion

    //#region Load Get All Diagnosis
        var Get_AllPatientDiagnosis = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllPatientDiagnosis", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#diagnosis').text(response[0].Diagnosis);
                        $('#diagnosis1').text(response[0].Diagnosis);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion

    //#region Validation Initialization
        var validate = function () {
            $('#cmcn_date1').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#cmcn_date2').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#cmcn_date3').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });

        }
    //#endregion

    //#region Load set Date
        var set_date = function () {
            $('#cmcn_date1,#cmcn_date2,#cmcn_date3').bootstrapdatepicker({
                    format: "dd-MM-yyyy",
                    viewMode: "date",
                    todayHighlight: true,
                    autoclose: true,
                    multidate: false,
                    multidateSeparator: "-"
            });
            $("#cmcn_date1,#cmcn_date2,#cmcn_date3").bootstrapdatepicker("setDate", '');
        }
    //#endregion

    //#region Load Get Patient Complaints
        var Get_Patient_Complaints = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Get_Patient_Complaints", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        var str2 = response[0].complaints;
                        var regex = /(|<([^>]+)>)/ig;
                        $("#cmcn_3").text(str2.replace(/(<p>|<\/p>)/g, ""));
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
    //#endregion

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "Mednet",
                "appId": @emr.appId,
                "formname":"Mednet",
                "formlink":"PrintMednetClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
        var openSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "Mednet",
                "appId": @emr.appId,
                "formname":"Mednet",
                "formlink":"PrintMednetClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Reset
        $('#btn_Reset_Mednet').on('click', function (e) {
            e.preventDefault();
            clearControls();
        });
    //#endregion

    //#region Clear Controls
        var clearControls = function () {
            $("#cmcn_5").val("");
            $("#cmcn_6").val("");
            $("#cmcn_date1").bootstrapdatepicker("setDate", '');
            $("#cmcn_date2").bootstrapdatepicker("setDate", '');
            $("#cmcn_date3").bootstrapdatepicker("setDate", '');
            var elements = document.getElementsByClassName('custom-control-input');
            Array.prototype.forEach.call(elements, function (element) {
            element.checked = false;
            });
        }
    //#endregion

    //#region Insert Button Click
        $('#btn_Insert_Mednet').on('click', function (e) {
            e.preventDefault();
            if ($("#form_MednetDecision").valid()) {
                $('#btn_Insert_Mednet').removeClass("btn btn-success");
                $('#btn_Insert_Mednet').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Insert_Mednet').html("Saving the Record....");
                var cmcn_chkbox = "";
                $('.custom-control-input:checked').each(function (index) {
                    cmcn_chkbox = cmcn_chkbox + ',' + $(this).val();
                });
                var cmcn_checkbox = cmcn_chkbox.substring(1);
                var _dataInsert = {
                "cmcnId": 0,
                "cmcn_appId": @emr.appId,
                "cmcn_chk": cmcn_checkbox,
                "cmcn_1": '',
                "cmcn_2": '',
                "cmcn_3": '',
                "cmcn_4": '',
                "cmcn_5": $("#cmcn_5").val(),
                "cmcn_6": $("#cmcn_6").val(),
                "cmcn_7": '',
                "cmcn_date1": moment($("#cmcn_date1").val()).format("YYYY-MM-DD"),
                "cmcn_date2": moment($("#cmcn_date2").val()).format("YYYY-MM-DD"),
                "cmcn_date3": moment($("#cmcn_date3").val()).format("YYYY-MM-DD"),
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dataInsert);
            $.ajax({
            type: "POST",
            url: "@Url.Action("InsertMednet", "ReimbursementForms", new { area = "EMRForms" })",
            dataType: 'JSON',
            data: _dataInsert,
            success: function (data) {
            $('#btn_Insert_Mednet').removeClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Insert_Mednet').addClass("btn btn-success");
            $('#btn_Insert_Mednet').html("Add");

            if (data.isSuccess) {
            if (data.isInserted) {
            GetMednet();
            var alertPlaceholder = document.getElementById("Alert");
            function alert(e, t) {
                var l = document.createElement("div");
                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
            }
            alert("<i class='fe fe-check-circle text-white'></i> Mednet Claim Form Added Successfully!", "success");
            Timeout();
            Editmednet()
            }
                else {
                    let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                        "<div class='alert alert-light-warning' role='alert'>" +
                        "<button type='button' class='btn-close text-warning' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong><i class='fa fa-exclamation-triangle text-warning'></i> Mednet Claim Form Alredy Exists!</strong><br/>" +
                        "</div></div>";
                    $("#error").html(html);
                }
            }
            else {
            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                "<div class='alert alert-light-danger' role='alert'>" +
                "<button type='button' class='btn-close text-danger' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                "<strong><i class='fa fa-ban text-danger'></i> Validation Error! Please validate before submitting.&nbsp;</strong><br/><ul>";

            $.each(data.message, function (index, value) {
                html += "<li><small>" + value + "</small><li>";
                var elem = $("#" + index);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                }
                else {
                    $(elem).addClass(" is-invalid");
                }

                setTimeout(function () {
                    if (elem.hasClass("select2-hidden-accessible")) {
                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                    }
                    else {
                        $(elem).removeClass("is-invalid");
                    }
                }, 5000);
            });
            html += "</ul></div></div>";
            $("#error").html(html);
            }
            },
            error: function (xhr) {
            $('#btn_Insert_Mednet').removeClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Insert_Mednet').addClass("btn btn-success");
            $('#btn_Insert_Mednet').html("Add");
            Timeout();
            }
            });
            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion

    //#region Load Get Drugs
        var Get_AllPatientDrugs = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Get_AllPatientDrugs", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#Prescriptions_details').text(response[0].Prescriptions);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion

</script>
@*}*@
<style>
    hr.new4 {
        border: 5px solid gray;
        height: 5px;
    }
</style>