

@model BusinessEntities.EMRForms.OmanInsurance
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<form id="form_OmanInsuranceDecision" autocomplete="off" name="OmanInsurance" ondrop="return false;" onpaste="return false;" oncut="return false;" class="fs-14">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.cornId, new { @id = "cornId", @value = "@Model.cornId" })

    <!-- Row-->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header bg-teal text-white">
                    <h4 class="card-title">1. Claimant Details</h4>
                </div>
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">
                                    Claimant Name
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.corn_1, new { @class = "form-control", @id = "corn_1", @maxlength = "50" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">
                                    Card Number
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.corn_2, new { @class = "form-control mb-1", @id = "corn_2", @maxlength = "50" })
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">Mobile No.</label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.corn_3, new { @class = "form-control", @id = "corn_3", @maxlength = "50" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">
                                    Email Address
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.corn_4, new { @class = "form-control", @id = "corn_4", @maxlength = "50" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-teal text-white">
                    <h4 class="card-title">2. Principal Member Bank Details (in case not provided already or needs to be updated)</h4>
                </div>
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">
                                    Account Name
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.corn_5, new { @class = "form-control mb-1", @id = "corn_5", @maxlength = "50" })
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">
                                    Bank A/C # :
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.corn_6, new { @class = "form-control", @id = "corn_6", @maxlength = "50" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">
                                    Bank Name
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.corn_7, new { @class = "form-control mb-1", @id = "corn_7", @maxlength = "50" })
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">Branch</label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.corn_8, new { @class = "form-control", @id = "corn_8", @maxlength = "50" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">
                                    IBAN (23 digits)
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.corn_9, new { @class = "form-control", @id = "corn_9", @maxlength = "50" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-teal text-white">
                    <h4 class="card-title">3. Claim Details</h4>
                </div>
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">
                                    Is the claim in UAE?
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-3 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="car_checkbox[1]" value="1">
                                        <span class="custom-control-label">Yes</span>
                                    </label>
                                </div>
                                <div class="col-md-3 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="car_checkbox[1]" value="2">
                                        <span class="custom-control-label">No</span>
                                    </label>
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">
                                    If No, precise Country
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.corn_10, new { @class = "form-control", @id = "corn_10", @maxlength = "50" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">
                                    Name of Hospital/Dr.
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.corn_11, new { @class = "form-control mb-1", @id = "corn_11", @maxlength = "50" })
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">Mobile No.</label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.corn_12, new { @class = "form-control", @id = "corn_12", @maxlength = "50" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0 mb-1">
                                <label class="col-md-4 form-label">
                                    Date of Treatment
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-3" style="min-width:290px">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fe fe-calendar"></i>
                                            </div>
                                        </div>
                                        @Html.TextBoxFor(m => m.corn_date1, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "corn_date1" })
                                    </div>

                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0 mt-1">
                                <label class="col-md-4 form-label">
                                    Number of Invoices
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.corn_13, new { @class = "form-control", @id = "corn_13", @maxlength = "50" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0 mb-1">
                                    <label class="col-md-4 form-label">
                                        Total Amount Claimed
                                    </label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.corn_14, new { @class = "form-control", @id = "corn_14", @maxlength = "50" })
                                    </div>
                                </div>
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">
                                        Currency
                                    </label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.corn_16, new { @class = "form-control", @id = "corn_16", @maxlength = "50" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <p>For breakdown of Total Amount Claimed, use attached summary table cover sheet to tabulate entries in chronological order.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-teal text-white">
                    <h4 class="card-title">4. Medical Details – to be completed by the treating Doctor</h4>
                </div>
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">
                                    Is it work related?
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-3 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="car_checkbox[3]" value="3">
                                        <span class="custom-control-label">Yes</span>
                                    </label>
                                </div>
                                <div class="col-md-3 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="car_checkbox[3]" value="4">
                                        <span class="custom-control-label">No</span>
                                    </label>
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">
                                    If Yes, specify
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.corn_17, new { @class = "form-control", @id = "corn_17", @maxlength = "50" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 form-label">
                                Treatment Type
                            </label>
                            <div class="col-md-2">
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="corn_check" value="5">
                                        <span class="custom-control-label">In-Patient</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="corn_check" value="6">
                                        <span class="custom-control-label">Out-Patient </span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="corn_check" value="7">
                                        <span class="custom-control-label">Day Care</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="text-black">Chief Complaint </label>
                            <div>
                                <label class="text-black text-red text-left" id="complaints" name="">&nbsp;</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="text-black">Diagnosis</label>
                            <div>
                                <label class="text-black text-red text-left" id="diagnosis" name="">&nbsp;</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="text-black">Treatment Details</label>
                            <div>
                                <label class="text-black text-red text-left" id="treatments" name="">&nbsp;</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="text-black text-justify">l, the undersigned treating doctor, hereby declare I have attended to this patient and the particulars provided are correct and accurate to the best of my knowledge</p>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <div> <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" /></div>
                                <label class="text-black">
                                    Signature & Stamp
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <div><span class="font-weight-normal1 text-capitalize text-left">@emr.app_fdate&nbsp;</span></div>
                                <label class="text-black">
                                    Date
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-teal text-white">
                    <h4 class="card-title">5. Claimant’s Declaration & Authorization</h4>
                </div>
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <p class="text-black text-justify">
                                I confirm that all particulars filled are true, accurate and complete. I hereby authorize (i) the medical provider/other entities to provide & discuss health/treatment details with Oman Insurance Company (‘Insurer’) and/or its third party administrator (ii) the Insurer to (a) disclose my personal/claim information for claim processing or as may be required (b) to use alternate claim payout option if required (iii) contact me for claim/other products information. I understand that (i) any person, who intentionally conceals, makes false or misleading statement to obtain claim reimbursement, is subject to penalization and legal action (ii) acceptance of claim form does not constitute acceptance of liability by the Insurer (iii) my claim is subject to terms and conditions of my policy. This authorization shall remain valid notwithstanding death or incapacity. A photocopy or facsimile copy of this authorization shall be as valid as the original.
                            </p>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 col-md-4 col-lg-4">
                                <div>  @Html.TextBoxFor(m => m.corn_18, new { @class = "form-control", @id = "corn_18", @maxlength = "50" })</div>
                                <label class="text-black">
                                    Claimant Name
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4">
                                <div><div class="form-group mb-3" style="display:none" id="patimg"><img alt="Signature" src="" id="pat_sign" class="avatar avatar-xl bsquare" /></div></div>
                                <label class="text-black">
                                    Signature
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-4 col-lg-4">
                                <div>   <label class="form-label text-red text-left" id="upsb_date_witness" name="">&nbsp;</label></div>
                                <label class="text-black">
                                    Date
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h2 class=" text-azure font-weight-bold">How to Complete the Form</h2>
                </div>
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <div class="col-sm-12 col-md-7 col-lg-6">
                                <p class="text-black text-justify">
                                    One Claim Form per person, family members must apply individually.
                                    For the required supporting documentation, use the attached Summary
                                    Table as cover sheet. Before you submit, check your Table of Benefits in
                                    your policy document for exclusions to avoid rejections.
                                </p>
                                <p class="text-black text-justify">
                                    Please submit the form within 120 days of treatment to ensure timely
                                    processing. Both you and the attending doctor must fill in the claim form
                                    for each individual visit or course of treatment. Please look at the below
                                    definitions to understand who is Principal member, Dependant and
                                    Claimant.
                                </p>
                                <p class="text-black text-justify mt-4"><span class="text-azure font-weight-bold">Principal Member</span> is the insured employee under the policy. </p>
                                <p class="text-black text-justify"><span class="text-azure font-weight-bold">Dependant</span> refers to Principal Member’s spouse or children.</p>
                                <p class="text-black text-justify"><span class="text-azure font-weight-bold">PClaimant</span> is the person undertaking the treatment. </p>
                                <p class="text-black text-justify mt-4 text-azure "><span class="font-weight-bold">Principal Member:</span> Please fill section 2</p>
                                <ul class="list-style">
                                    <li class="text-black text-justify">
                                        Enter the bank details including the IBAN of the account where we
                                        can transfer the settled claim amount for you or your dependant.
                                        You don’t need to enter the details here in case you update them on OICare portal. In case the IBAN is
                                        not provided, we will issue a cheque which will take 10 additional days.
                                    </li>
                                </ul>
                                <p class="text-black text-justify mt-4 text-azure "><span class="font-weight-bold">Claimant:</span> Please fill section 1, 3 & 5</p>

                                <ul class="list-style">
                                    <li class="text-black text-justify">
                                        Fill in your name and card number. Give us your contact details so we can keep you informed on the
                                        progress of your claim by SMS or e-mail.
                                    </li>
                                    <li class="text-black text-justify">
                                        Include the breakdown of expenses that need reimbursement.
                                        Complete the summary table on the next page giving the full required details. Each invoice detail should
                                        be on a separate line.
                                    </li>
                                    <li class="text-black text-justify">Read the Declaration section carefully and remember to sign and date the form.</li>
                                </ul>
                                <p class="text-black text-justify mt-4 text-azure "><span class="font-weight-bold">Doctor: </span> Please fill section 4</p>

                                <ul class="list-style">
                                    <li class="text-black text-justify">
                                        Please ensure that the doctor completes each question of the Medical section in full and then signs and
                                        stamps it.
                                    </li>
                                </ul>

                            </div>
                            <div class="col-sm-12 col-md-5 col-lg-6">
                                <img src="~/images/Reimbursement_Forms/oman2.png" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <h4 class=" text-azure font-weight-bold">Claim Submission</h4>
                            <div class="table-responsive" style="min-height:150px">
                                <table id="tbl_Treatment" class="table table-striped table-bordered text-nowrap" style="width: 60%; cursor: pointer;">
                                    <tbody>
                                        <tr style="border-color: #06c0d9;">
                                            <td>
                                                <span class="text-azure font-weight-bold">Send your claim to:</span>
                                            </td>
                                            <td>
                                                Medical Claims Department<br />
                                                Oman Insurance Company<br />
                                                Level 3, Al Rigga Business Centre,<br />
                                                Al Rigga Street, Deira<br />
                                                PO 5209, Dubai, UAE<br />
                                                Tel: +971 4 230 2700
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="text-black text-justify mt-4 text-azure "><span class="font-weight-bold">Claim Processing</span></p>
                            <p class="text-black text-justify">
                                Your claim will be assessed in full confidentiality by one of our personal advisers. If OIC has received all
                                required documents and information, you will receive within 21 working days the reimbursement in UAE Dirham
                                along with a claim report and explanations in the case of declined amounts.
                            </p>
                            <p class="text-black text-justify">
                                It is preferable and recommended for the reimbursement claim form to be submitted within thirty (30) days of
                                the original claim knowing that claims submitted after ninety (90) days of treatment shall not be accepted.
                            </p>
                        </div>
                        <div class="form-group row">
                            <h4 class=" text-azure font-weight-bold">Claim Submission</h4>
                            <div class="table-responsive" style="min-height:150px">
                                <table id="tbl_Treatment" class="table table-striped table-bordered text-nowrap" style="width: 60%; cursor: pointer;">
                                    <tbody>
                                        <tr style="border-color: #06c0d9;">
                                            <td>
                                                <span class="text-azure font-weight-bold">
                                                    If you have any enquiries,
                                                    contact us on:
                                                </span>
                                            </td>
                                            <td>
                                                <h2 class="font-weight-bold text-azure ">800 4746</h2>
                                                UAE Toll Free 8am till 8pm Sunday to Thursday, 8am till 4pm on Saturday<br />
                                                Fax: +971 (0) 4 238 4769<br />
                                                service@tameen.ae
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="table-responsive">
                                <table id="tbl_Treatment" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                                    <thead>
                                        <tr style="color: #fff !important; background-color: #06c0d9; border-color: #3C457D; ">
                                            <th class="border-bottom-0 font-weight-semibold text-white" style="min-width:150px">Sequence Number</th>
                                            <th class="border-bottom-0 font-weight-semibold text-white" style="min-width:150px">Service Date</th>
                                            <th class="border-bottom-0 font-weight-semibold text-white" style="min-width:150px">Provider Name</th>
                                            <th class="border-bottom-0 font-weight-semibold text-white" style="min-width:150px">Service Description</th>
                                            <th class="border-bottom-0 font-weight-semibold text-white" style="min-width:150px">Invoice ref. Number</th>
                                            <th class="border-bottom-0 font-weight-semibold text-white" style="min-width:150px">Invoice ref. Number</th>
                                            <th class="border-bottom-0 font-weight-semibold text-white" style="min-width:150px">Invoice ref. Number</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>@Html.TextBoxFor(m => m.corn_19, new { @class = "form-control", @id = "corn_19", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_20, new { @class = "form-control", @id = "corn_20", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_21, new { @class = "form-control", @id = "corn_21", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_22, new { @class = "form-control", @id = "corn_22", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_23, new { @class = "form-control", @id = "corn_23", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_24, new { @class = "form-control", @id = "corn_24", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_25, new { @class = "form-control", @id = "corn_25", @maxlength = "50" })</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.TextBoxFor(m => m.corn_26, new { @class = "form-control", @id = "corn_26", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_27, new { @class = "form-control", @id = "corn_27", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_28, new { @class = "form-control", @id = "corn_28", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_29, new { @class = "form-control", @id = "corn_29", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_30, new { @class = "form-control", @id = "corn_30", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_31, new { @class = "form-control", @id = "corn_31", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_32, new { @class = "form-control", @id = "corn_32", @maxlength = "50" })</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.TextBoxFor(m => m.corn_33, new { @class = "form-control", @id = "corn_33", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_34, new { @class = "form-control", @id = "corn_34", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_35, new { @class = "form-control", @id = "corn_35", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_36, new { @class = "form-control", @id = "corn_36", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_37, new { @class = "form-control", @id = "corn_37", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_38, new { @class = "form-control", @id = "corn_38", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_39, new { @class = "form-control", @id = "corn_39", @maxlength = "50" })</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.TextBoxFor(m => m.corn_40, new { @class = "form-control", @id = "corn_40", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_41, new { @class = "form-control", @id = "corn_41", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_42, new { @class = "form-control", @id = "corn_42", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_43, new { @class = "form-control", @id = "corn_43", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_44, new { @class = "form-control", @id = "corn_44", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_45, new { @class = "form-control", @id = "corn_45", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_46, new { @class = "form-control", @id = "corn_46", @maxlength = "50" })</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.TextBoxFor(m => m.corn_47, new { @class = "form-control", @id = "corn_47", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_48, new { @class = "form-control", @id = "corn_48", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_49, new { @class = "form-control", @id = "corn_49", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_50, new { @class = "form-control", @id = "corn_50", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_51, new { @class = "form-control", @id = "corn_51", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_52, new { @class = "form-control", @id = "corn_52", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_53, new { @class = "form-control", @id = "corn_53", @maxlength = "50" })</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.TextBoxFor(m => m.corn_54, new { @class = "form-control", @id = "corn_54", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_55, new { @class = "form-control", @id = "corn_55", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_56, new { @class = "form-control", @id = "corn_56", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_57, new { @class = "form-control", @id = "corn_57", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_58, new { @class = "form-control", @id = "corn_58", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_59, new { @class = "form-control", @id = "corn_59", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_60, new { @class = "form-control", @id = "corn_60", @maxlength = "50" })</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.TextBoxFor(m => m.corn_61, new { @class = "form-control", @id = "corn_61", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_62, new { @class = "form-control", @id = "corn_62", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_63, new { @class = "form-control", @id = "corn_63", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_64, new { @class = "form-control", @id = "corn_64", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_65, new { @class = "form-control", @id = "corn_65", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_66, new { @class = "form-control", @id = "corn_66", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.corn_67, new { @class = "form-control", @id = "corn_67", @maxlength = "50" })</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <p class="text-black text-justify">
                                In case you have more invoices to send, please photocopy this sheet.
                            </p>
                            <p class="text-black text-justify">
                                It is preferable and recommended for the reimbursement claim form to be submitted within thirty (30) days of
                                the original claim knowing that claims submitted after ninety (90) days of treatment shall not be accepted.
                            </p>
                        </div>
                        <div class="form-group row">
                            <div class="table-responsive">
                                <table id="tbl_Treatment" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                                    <thead>
                                        <tr style="color: #fff !important; background-color: #06c0d9; border-color: #3C457D; ">
                                            <th class="border-bottom-0 font-weight-semibold text-white">Checklist - Before you submit, please check that you have included all of the following as applicable:</th>
                                            <th class="border-bottom-0 font-weight-semibold text-white"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1. Completed, stamped and signed Reimbursement Claim Form	</td>
                                            <td>
                                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                        <input type="checkbox" class="custom-control-input" name="corn_check" value="8">
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>2. Original invoices/bills showing payments confirmation	</td>
                                            <td>
                                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                        <input type="checkbox" class="custom-control-input" name="corn_check" value="9">
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3. Original invoices/bills showing payments confirmation	</td>
                                            <td>
                                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                        <input type="checkbox" class="custom-control-input" name="corn_check" value="10">
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>4. All claims submitted must be in original & translated to either English or Arabic for the settlemen	</td>
                                            <td>
                                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                        <input type="checkbox" class="custom-control-input" name="corn_check" value="11">
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>5. Healthcare Insurance card copy of the claimant	</td>
                                            <td>
                                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                        <input type="checkbox" class="custom-control-input" name="corn_check" value="12">
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>6. Summary Table of Invoices (above) completed	</td>
                                            <td>
                                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                        <input type="checkbox" class="custom-control-input" name="corn_check" value="13">
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>7. You have retained a copy of the Form, Summary Table and original invoices and report for your reference	</td>
                                            <td>
                                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                        <input type="checkbox" class="custom-control-input" name="corn_check" value="14">
                                                        <span class="custom-control-label"></span>
                                                    </label>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-header bg-teal text-white">
                            <h4 class="card-title">1. Claimant Details</h4>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-4">
                                <div>@Html.TextBoxFor(m => m.corn_15, new { @class = "form-control", @id = "corn_15", @maxlength = "50" })</div>
                                <label class="text-black">Member Name</label>
                            </div>
                            <div class="col-md-4">
                                <div><div class="form-group mb-3" style="display:none" id="upatimg"><img alt="Signature" src="" id="upat_sign" class="avatar avatar-xl bsquare" /></div></div>
                                <label class="text-black">Signature </label>
                            </div>
                            <div class="col-md-4">
                                <div><label class="form-label text-red text-left" style="display:none" id="psb_date_witness" name="">&nbsp;</label></div>
                                <label class="text-black">Date</label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <p class="text-black text-justify text-center">
                                Oman Insurance Company (P.S.C.), Paid up Capital 461,872,125, C.R. No. 41952, Insurance Authority No. 9 dated 24/12/1984<br />
                                Head Office: P.O. Box 5209, Dubai, United Arab Emirates. Tel.: 800 4746 Fax: +971 4 233 7775, www.tameen.ae
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->

    <div class="row ">
        <div class="row mt-2">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="btn-list btn-animation">
                    <button type="submit" class="btn btn-success" id="btn_Insert_OmanInsurance">Save</button>
                    <button type="button" class="btn btn-outline-dark" id="btn_Reset_OmanInsurance">Reset</button>
                    <div class="btn-group mr-2">
                        <div class="dropdown">
                            <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="warningMessage" class="text-danger" style="display: none;">Please fill in at least one field before submitting.</div>
            </div>
        </div>
    </div>

</form>
@*@section myScripts{*@
<script type="text/javascript">
    //#region Page Load
        var formName1 = $(form_OmanInsuranceDecision).closest('form').attr('name');
        $(function () {
            Get_EMRINFO();
            set_date();
            validate();
        });
    //#endregion Page Load

    // Function to check if any field is filled
    function isAnyFieldFilledOrSelected() {
        var isFilledOrSelected = false;

        // Check input fields
        $('.form-control').each(function () {
            if ($(this).val().trim() !== '') {
                isFilledOrSelected = true;
                return false; // Exit the loop if any input field is filled
            }
        });

        // Check checkboxes and radio buttons
        $('input[type="checkbox"], input[type="radio"]').each(function () {
            if ($(this).is(':checked')) {
                isFilledOrSelected = true;
                return false; // Exit the loop if any checkbox or radio button is selected
            }
        });

        return isFilledOrSelected;
    }

    //#region Load Get Diagnosis,treatments,history,invoice
        var Get_EMRINFO = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetEmrInfo", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#complaints').text(response[0].complaints);
                        $('#diagnosis').text(response[0].diagnosis);
                        $('#treatments').text(response[0].treatments);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion

    //#region Validation Initialization
        var validate = function () {

            $('#corn_date1').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });


        }
    //#endregion Validation Initialization

    //#region Load set Date
        var set_date = function () {
            $('#corn_date1').bootstrapdatepicker({
                    format: "dd-MM-yyyy",
                    viewMode: "date",
                    todayHighlight: true,
                    autoclose: true,
                    multidate: false,
                    multidateSeparator: "-"
            });
            $("#corn_date1").bootstrapdatepicker("setDate", '');
        }
    //#endregion

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": formName1,
                "appId": @emr.appId,
                "formname":"OmanInsurance",
                "formlink":"PrintOmanInsuranceClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
        var openSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": formName1,
                "appId": @emr.appId,
                "formname":"OmanInsurance",
                "formlink":"PrintOmanInsuranceClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
    //#endregion

    //#region Reset
        $('#btn_Reset_OmanInsurance').on('click', function (e) {
            e.preventDefault();
            clearControls();
        });
    //#endregion

    //#region Clear Controls
        var clearControls = function () {
        $("#corn_1").val("");
        $("#corn_2").val("");
        $("#corn_3").val("");
        $("#corn_4").val("");
        $("#corn_5").val("");
        $("#corn_6").val("");
        $("#corn_7").val("");
        $("#corn_8").val("");
        $("#corn_9").val("");
        $("#corn_10").val("");
        $("#corn_11").val("");
        $("#corn_12").val("");
        $("#corn_13").val("");
        $("#corn_14").val("");
        $("#corn_15").val("");
        $("#corn_16").val("");
        $("#corn_17").val("");
        $("#corn_18").val("");
        $("#corn_19").val("");
        $("#corn_20").val("");
        $("#corn_21").val("");
        $("#corn_22").val("");
        $("#corn_23").val("");
        $("#corn_24").val("");
        $("#corn_25").val("");
        $("#corn_26").val("");
        $("#corn_27").val("");
        $("#corn_28").val("");
        $("#corn_29").val("");
        $("#corn_30").val("");
        $("#corn_31").val("");
        $("#corn_32").val("");
        $("#corn_33").val("");
        $("#corn_34").val("");
        $("#corn_35").val("");
        $("#corn_36").val("");
        $("#corn_37").val("");
        $("#corn_38").val("");
        $("#corn_39").val("");
        $("#corn_40").val("");
        $("#corn_41").val("");
        $("#corn_42").val("");
        $("#corn_43").val("");
        $("#corn_44").val("");
        $("#corn_45").val("");
        $("#corn_46").val("");
        $("#corn_47").val("");
        $("#corn_48").val("");
        $("#corn_49").val("");
        $("#corn_50").val("");
        $("#corn_51").val("");
        $("#corn_52").val("");
        $("#corn_53").val("");
        $("#corn_54").val("");
        $("#corn_55").val("");
        $("#corn_56").val("");
        $("#corn_57").val("");
        $("#corn_58").val("");
        $("#corn_59").val("");
        $("#corn_60").val("");
        $("#corn_61").val("");
        $("#corn_62").val("");
        $("#corn_63").val("");
        $("#corn_64").val("");
        $("#corn_65").val("");
        $("#corn_66").val("");
        $("#corn_67").val("");
        $("#corn_date1").bootstrapdatepicker("setDate", '');
        var elements = document.getElementsByClassName('custom-control-input');
        Array.prototype.forEach.call(elements, function (element) {
            element.checked = false;
        });
    }
    //#endregion

    //#region Insert Button Click
        $('#btn_Insert_OmanInsurance').on('click', function (e) {
            e.preventDefault();
            if (isAnyFieldFilledOrSelected()) {
               if ($("#form_OmanInsuranceDecision").valid()) {
                    $('#btn_Insert_OmanInsurance').removeClass("btn btn-success");
                    $('#btn_Insert_OmanInsurance').addClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Insert_OmanInsurance').html("Saving the Record....");
                    var corn_chkbox = "";
                    $('.custom-control-input:checked').each(function (index) {
                        corn_chkbox = corn_chkbox + ',' + $(this).val();
                    });
                    var corn_checkbox = corn_chkbox.substring(1);
                    var _dataInsert = {
                    "cornId": 0,
                    "corn_appId": @emr.appId,
                    "corn_checkbox": corn_checkbox,
                    "corn_1": $("#corn_1").val(),
                    "corn_2": $("#corn_2").val(),
                    "corn_3": $("#corn_3").val(),
                    "corn_4": $("#corn_4").val(),
                    "corn_5": $("#corn_5").val(),
                    "corn_6": $("#corn_6").val(),
                    "corn_7": $("#corn_7").val(),
                    "corn_8": $("#corn_8").val(),
                    "corn_9": $("#corn_9").val(),
                    "corn_10": $("#corn_10").val(),
                    "corn_11": $("#corn_11").val(),
                    "corn_12": $("#corn_12").val(),
                    "corn_13": $("#corn_13").val(),
                    "corn_14": $("#corn_14").val(),
                    "corn_15": $("#corn_15").val(),
                    "corn_16": $("#corn_16").val(),
                    "corn_17": $("#corn_17").val(),
                    "corn_18": $("#corn_18").val(),
                    "corn_19": $("#corn_19").val(),
                    "corn_20": $("#corn_20").val(),
                    "corn_21": $("#corn_21").val(),
                    "corn_22": $("#corn_22").val(),
                    "corn_23": $("#corn_23").val(),
                    "corn_24": $("#corn_24").val(),
                    "corn_25": $("#corn_25").val(),
                    "corn_26": $("#corn_26").val(),
                    "corn_27": $("#corn_27").val(),
                    "corn_28": $("#corn_28").val(),
                    "corn_29": $("#corn_29").val(),
                    "corn_30": $("#corn_30").val(),
                    "corn_31": $("#corn_31").val(),
                    "corn_32": $("#corn_32").val(),
                    "corn_33": $("#corn_33").val(),
                    "corn_34": $("#corn_34").val(),
                    "corn_35": $("#corn_35").val(),
                    "corn_36": $("#corn_36").val(),
                    "corn_37": $("#corn_37").val(),
                    "corn_38": $("#corn_38").val(),
                    "corn_39": $("#corn_39").val(),
                    "corn_40": $("#corn_40").val(),
                    "corn_41": $("#corn_41").val(),
                    "corn_42": $("#corn_42").val(),
                    "corn_43": $("#corn_43").val(),
                    "corn_44": $("#corn_44").val(),
                    "corn_45": $("#corn_45").val(),
                    "corn_46": $("#corn_46").val(),
                    "corn_47": $("#corn_47").val(),
                    "corn_48": $("#corn_48").val(),
                    "corn_49": $("#corn_49").val(),
                    "corn_50": $("#corn_50").val(),
                    "corn_51": $("#corn_51").val(),
                    "corn_52": $("#corn_52").val(),
                    "corn_53": $("#corn_53").val(),
                    "corn_54": $("#corn_54").val(),
                    "corn_55": $("#corn_55").val(),
                    "corn_56": $("#corn_56").val(),
                    "corn_57": $("#corn_57").val(),
                    "corn_58": $("#corn_58").val(),
                    "corn_59": $("#corn_59").val(),
                    "corn_60": $("#corn_60").val(),
                    "corn_61": $("#corn_61").val(),
                    "corn_62": $("#corn_62").val(),
                    "corn_63": $("#corn_63").val(),
                    "corn_64": $("#corn_64").val(),
                    "corn_65": $("#corn_65").val(),
                    "corn_66": $("#corn_66").val(),
                    "corn_67": $("#corn_67").val(),
                    "corn_date1": moment($("#corn_date1").val()).format("YYYY-MM-DD"),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                    }
                    console.log(_dataInsert);
                $.ajax({
                type: "POST",
                url: "@Url.Action("InsertOmanInsurance", "ReimbursementForms", new { area = "EMRForms" })",
                dataType: 'JSON',
                data: _dataInsert,
                success: function (data) {
                $('#btn_Insert_OmanInsurance').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Insert_OmanInsurance').addClass("btn btn-success");
                $('#btn_Insert_OmanInsurance').html("Add");

                if (data.isSuccess) {
                if (data.isInserted) {
                GetOmanInsurance();
                var alertPlaceholder = document.getElementById("Alert");
                function alert(e, t) {
                    var l = document.createElement("div");
                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                }
                alert("<i class='fe fe-check-circle text-white'></i> OmanInsurance Claim Form Added Successfully!", "success");
                Timeout();
                Editomaninsurance()
                }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-light-warning' role='alert'>" +
                            "<button type='button' class='btn-close text-warning' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong><i class='fa fa-exclamation-triangle text-warning'></i> OmanInsurance Claim Form Alredy Exists!</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                    "<div class='alert alert-light-danger' role='alert'>" +
                    "<button type='button' class='btn-close text-danger' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                    "<strong><i class='fa fa-ban text-danger'></i> Validation Error! Please validate before submitting.&nbsp;</strong><br/><ul>";

                $.each(data.message, function (index, value) {
                    html += "<li><small>" + value + "</small><li>";
                    var elem = $("#" + index);
                    if (elem.hasClass("select2-hidden-accessible")) {
                        $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                    }
                    else {
                        $(elem).addClass(" is-invalid");
                    }

                    setTimeout(function () {
                        if (elem.hasClass("select2-hidden-accessible")) {
                            $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                        }
                        else {
                            $(elem).removeClass("is-invalid");
                        }
                    }, 5000);
                });
                html += "</ul></div></div>";
                $("#error").html(html);
                }
                },
                error: function (xhr) {
                $('#btn_Insert_OmanInsurance').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Insert_OmanInsurance').addClass("btn btn-success");
                $('#btn_Insert_OmanInsurance').html("Add");
                Timeout();
                }
                });
                }
                else {
                    $('.modal-body').animate({
                        scrollTop: ($('.has-error').offset().top - 300)
                    }, 2000);
                }
            } else {
                // Show a message box or alert indicating that at least one field must be filled
                //alert('Please fill in at least one field before submitting.');
                $('#warningMessage').show();
                // Prevent form submission
                return false;
            }

        });
    //#endregion
</script>
@*}*@
