@model BusinessEntities.EMRForms.NasPrescription
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="modal-body p-4">
    <form id="form_NasPrescriptionDecision" class="fs-14" autocomplete="off" name="NasPrescription" ondrop="return false;" onpaste="return false;" oncut="return false;">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.cnrnId, new { @id = "cnrnId", @value = "@Model.cnrnId" })

        <div class="row">
            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                <div class="card-body">
                    <div class="row outer-border">
                        <div class="col-lg-12 col-md-12 ps-0">
                            <div class="form-group row">
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">
                                        Ref No :
                                    </label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.cnrn_1, new { @class = "form-control", @id = "cnrn_1", @maxlength = "50" })
                                    </div>
                                </div>
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-12 col-lg-4 form-label"> ( IMPORTANT: Please copy from the Consultation Form )</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">
                                        PATIENT NAME
                                    </label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="text-black">DIAGNOSIS</label>
                                <div>
                                    <label class="text-black text-red text-left" id="diagnosis" name="">&nbsp;</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <h6 class="text-black">NATURE OF TREATMENT : ( Please use separate sheet for each group)</h6>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-3 col-lg-1">
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="cnrn_check" value="1">
                                            <span class="custom-control-label">Pharmacy</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-2">
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="cnrn_check" value="2">
                                            <span class="custom-control-label">Diagnostic</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-2">
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="cnrn_check" value="3">
                                            <span class="custom-control-label">Physiotherapy </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3 col-lg-2">
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="cnrn_check" value="4">
                                            <span class="custom-control-label">Others</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row outer-border">
                        <div class="col-lg-12 col-md-12 ps-0">
                            <div class="form-group">
                                <label class="text-black">ITEM</label>
                                <div>
                                    <label class="text-black text-red text-left" id="Prescriptions_details" name="">&nbsp;</label>
                                </div>
                            </div>
                            <div class="form-group ">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.app_fdate&nbsp;</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <label class="text-black">
                                        Signature & Stamp
                                    </label>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <label class="text-black">
                                        Date
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h5 class="font-weight-bold text-black ps-3">FOR PROVIDERS USE</h5>
                </div>
                <div class="card-body">
                    <div class="row outer-border">
                        <div class="col-lg-12 col-md-12 ps-0">
                            <div class="form-group row">
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">
                                        CARD NO
                                    </label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.cnrn_2, new { @class = "form-control mb-1", @id = "cnrn_2", @maxlength = "50" })
                                    </div>
                                </div>
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">
                                        AMOUNT CLAIMED
                                    </label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.cnrn_3, new { @class = "form-control", @id = "cnrn_3", @maxlength = "50" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">
                                        PAYER
                                    </label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.cnrn_4, new { @class = "form-control mb-1", @id = "cnrn_4", @maxlength = "50" })
                                    </div>
                                </div>
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">
                                        DATE
                                    </label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.cnrn_5, new { @class = "form-control", @id = "cnrn_5", @maxlength = "50" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">
                                        NAME
                                    </label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.cnrn_6, new { @class = "form-control", @id = "cnrn_6", @maxlength = "50" })
                                    </div>
                                </div>
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">
                                        Signature and Stamp
                                    </label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row outer-border">
                        <div class="col-lg-12 col-md-12 ps-0">
                            <div class="form-group row">
                                <p class="text-justify text-black">
                                    I hereby certify having received prescribed treatment and allow NAS authorized personnel to obtain any requisite medical 
                                    details from my current and previous physicians and/or case files.
                                </p>
                            </div>
                            <div class="form-group">
                                <div class="form-group mb-3" style="display:none" id="patimg"><img alt="Signature" src="" id="pat_sign" class="avatar avatar-xl bsquare" /></div>
                                <label class="text-black">BENEFICIARYS’ SIGNATURE</label>
                            </div>
                            <div class="form-group row">
                                <p class="text-justify text-black">NAS Administration Services , P.O Box 44505 Abu Dhabi , UAE Tel : 02-6777997 Fax : 02- 6766227</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row ">
            <div class="row mt-2">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="btn-list btn-animation">
                        <button type="submit" class="btn btn-success" id="btn_Insert_NasPrescription">Save</button>
                        <button type="button" class="btn btn-outline-dark" id="btn_Reset_NasPrescription">Reset</button>
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-danger me-1" id="btn_Close_NasPrescription" style="display:none">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@*@section myScripts{*@
<script type="text/javascript">
    //#region Page Load
        var formName1 = $(form_NasPrescriptionDecision).closest('form').attr('name');
        $(function () {
            validate();
            Get_EMRINFO();
            Get_AllPatientDrugs();
        });
    //#endregion

    //#region Load Get Drugs
        var Get_AllPatientDrugs = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Get_AllPatientDrugs", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#Prescriptions_details').text(response[0].Prescriptions);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion

    //#region Load Get Diagnosis,treatments,history,invoice
        var Get_EMRINFO = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetEmrInfo", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#diagnosis').text(response[0].diagnosis);
                        $('#treatments').text(response[0].treatments);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion

    //#region Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
    //#endregion

    //#region Reset
        $('#btn_Reset_NasPrescription').on('click', function (e) {
            e.preventDefault();
            clearControls();
        });
    //#endregion

    //#region Validation Initialization
        var validate = function () {
            $('#cnrn_3').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
            $("#cnrn_3").on('input', function () {
                var disc = $(this).val();
                if (disc == "" || disc == null || disc == undefined) {
                    $("#cnrn_3").val(0.00);
                }
            });
        }
    //#endregion

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "NasPrescription",
                "appId": @emr.appId,
                "formname":"NasPrescription",
                "formlink":"PrintNasPrescriptionClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
        var openSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "NasPrescription",
                "appId": @emr.appId,
                "formname":"NasPrescription",
                "formlink":"PrintNasPrescriptionClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Clear Controls
        var clearControls = function () {
            $("#cnrn_1").val("");
            $("#cnrn_2").val("");
            $("#cnrn_3").val("");
            $("#cnrn_5").val("");
            $("#cnrn_6").val("");
        }
    //#endregion

    //#region Insert Button Click
        $('#btn_Insert_NasPrescription').on('click', function (e) {
            e.preventDefault();
            if ($("#form_NasPrescriptionDecision").valid()) {
                $('#btn_Insert_NasPrescription').removeClass("btn btn-success");
                $('#btn_Insert_NasPrescription').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Insert_NasPrescription').html("Saving the Record....");
                var cnrn_chkbox = "";
                $('.custom-control-input:checked').each(function (index) {
                    cnrn_chkbox = cnrn_chkbox + ',' + $(this).val();
                });
                var cnrn_chk = cnrn_chkbox.substring(1);
                var _dataInsert = {
                "cnrnId": 0,
                "cnrn_appId": @emr.appId,
                "cnrn_chk": cnrn_chk,
                "cnrn_1": $("#cnrn_1").val(),
                "cnrn_2": $("#cnrn_2").val(),
                "cnrn_3": $("#cnrn_3").val(),
                "cnrn_4": $("#cnrn_4").val(),
                "cnrn_5": $("#cnrn_5").val(),
                "cnrn_6": $("#cnrn_6").val(),
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dataInsert);
            $.ajax({
            type: "POST",
            url: "@Url.Action("InsertNasPrescription", "ReimbursementForms", new { area = "EMRForms" })",
            dataType: 'JSON',
            data: _dataInsert,
            success: function (data) {
            $('#btn_Insert_NasPrescription').removeClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Insert_NasPrescription').addClass("btn btn-success");
            $('#btn_Insert_NasPrescription').html("Add");

            if (data.isSuccess) {
            if (data.isInserted) {
            GetNasPrescription();
            var alertPlaceholder = document.getElementById("Alert");
            function alert(e, t) {
                var l = document.createElement("div");
                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
            }
            alert("<i class='fe fe-check-circle text-white'></i> NasPrescription Claim Form Added Successfully!", "success");
            Timeout();
            Editnasprescription();
            }
            else {
                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                    "<div class='alert alert-light-warning' role='alert'>" +
                    "<button type='button' class='btn-close text-warning' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                    "<strong><i class='fa fa-exclamation-triangle text-warning'></i> NasPrescription Claim Form Alredy Exists!</strong><br/>" +
                    "</div></div>";
                $("#error").html(html);
            }
            }
            else {
            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                "<div class='alert alert-light-danger' role='alert'>" +
                "<button type='button' class='btn-close text-danger' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                "<strong><i class='fa fa-ban text-danger'></i> Validation Error! Please validate before submitting.&nbsp;</strong><br/><ul>";

            $.each(data.message, function (index, value) {
                html += "<li><small>" + value + "</small><li>";
                var elem = $("#" + index);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                }
                else {
                    $(elem).addClass(" is-invalid");
                }

                setTimeout(function () {
                    if (elem.hasClass("select2-hidden-accessible")) {
                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                    }
                    else {
                        $(elem).removeClass("is-invalid");
                    }
                }, 5000);
            });
            html += "</ul></div></div>";
            $("#error").html(html);
            }
            },
            error: function (xhr) {
            $('#btn_Insert_NasPrescription').removeClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Insert_NasPrescription').addClass("btn btn-success");
            $('#btn_Insert_NasPrescription').html("Add");
            Timeout();
            }
            });
            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion

</script>
@*}*@
<style>
    .outer-border {
        border: 2px solid #000; /* You can adjust the border thickness and color as needed */
        padding: 10px; /* Optional: Add padding for spacing */
    }
</style>