@model BusinessEntities.EMRForms.Inayah
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="modal-body p-4">
    <form id="form_InayahDecision" class="fs-14" autocomplete="off" name="Inayah" ondrop="return false;" onpaste="return false;" oncut="return false;">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.cir_Id, new { @id = "cir_Id", @value = "@Model.cir_Id" })

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 justify-content-center">
                <h4 class="text-center">INAYAH REIMBURSEMENT CLAIM FORM</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="text-black text-justify">
                    Issuance of this form does not amount to admission of any liability of under the policy on the part of the insurers. Please give the following information
                    correctly and completely to enable us process your claim promptly. If the claim is under Personal Accident Insurance, please complete a Personal Accident Claim Form
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                <div class="form-group row pb-0 mt-3">
                    <label class="col-md-12 form-label">1.Policyholder's Details</label>
                </div>
                <div class="card-body pt-0 pb-0">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row d-flex">
                                <label class="col-md-6 col-lg-4 form-label text-justify">a. Name of the Insured/patient (in whose name policy is issued)</label>
                                <div class="col-md-6 col-lg-8">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-4 form-label" for="Policyholder"> b. Inayah Member ID</label>
                                <div class="col-md-6 col-lg-8">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pi_insno&nbsp;</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-4 form-label">c. Policy Number</label>
                                <div class="col-md-6 col-lg-8">
                                    @if (@emr.pi_polocyno != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pi_polocyno&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-4 form-label">d.  Date of Birth (Patient)</label>
                                <div class="col-md-6 col-lg-8">
                                    @if (@emr.pat_dob != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-4 form-label">e.  Email-ID</label>
                                <div class="col-md-6 col-lg-8">
                                    @if (@emr.pat_email != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_email&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-4 form-label">f. Residential Address</label>
                                <div class="col-md-6 col-lg-8">
                                    @if (@emr.pat_address != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_address&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-4 form-label">g. Contact No</label>
                                <div class="col-md-6 col-lg-8">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_mob&nbsp;</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-4 form-label">h. Fax No</label>
                                <div class="col-md-6 col-lg-8">
                                    @if (@emr.pat_fax != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_fax&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 col-lg-4 form-label">2. Nature of Disease/Illness contracted or injury sustained</label>
                    <div class="col-md-6 col-lg-6">
                        <label class="form-label text-red text-left" id="app_complaints" name="">&nbsp;</label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-6 col-lg-4 form-label text-justify">3. Date on which injury was sustained/Disease or illness first detected</label>
                    <div class="col-md-6 col-lg-2">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>
                            </div>
                            @Html.TextBoxFor(m => m.cir_d1, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "cir_d1" })
                        </div>
                    </div>
                </div>
                <div class="form-group row pb-0 mt-3">
                    <label class="col-md-12 form-label">4. Treating Physician's Details</label>
                </div>
                <div class="card-body pt-0 pb-0">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row d-flex">
                                <label class="col-md-6 col-lg-3 form-label">a. Physician's Name</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.doc_name&nbsp;</span>
                                </div>
                                <label class="col-md-6 col-lg-3 form-label" for="Policyholder"> b. Tel Number</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_tel&nbsp;</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label">c. Fax Number</label>
                                <div class="col-md-6 col-lg-3">
                                    @if (@emr.emp_fax != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_fax&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                                <label class="col-md-6 col-lg-3 form-label">d. Address</label>
                                <div class="col-md-6 col-lg-3">
                                    @if (@emr.emp_address != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_address&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="form-group mb-3"><img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" /></div>
                                <p class="text-black">Signature & Seal of Treating Physician / Surgeon</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row pb-0 mt-3">
                    <label class="col-md-12 form-label">5. Clinic's Details</label>
                </div>
                <div class="card-body pt-0 pb-0">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label">a. Name</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.set_company&nbsp;</span>
                                </div>
                                <label class="col-md-6 col-lg-3 form-label" for="Policyholder"> b. Address</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.set_address&nbsp;</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label">c. Date of Admission</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.app_fdate&nbsp;</span>
                                </div>
                                <label class="col-md-6 col-lg-3 form-label">d. Date of Discharge</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.app_fdate&nbsp;</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label">e. Registration No</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.set_permit_no&nbsp;</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row pb-0 mt-3">
                    <label class="col-md-12 form-label text-justify">6. Are you at present covered under any other similar type of scheme like P.A. Cancer Insurance, Mediclaim (Individual or Group), Health Insurance, etc. If Yes, Please give particulars of each</label>
                </div>
                <div class="card-body pt-0 pb-0">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row d-flex">
                                <label class="col-md-6 col-lg-4 text-black text-justify">a. Is this the first year of coverage under Mediclaim Policy?</label>
                                <div class="col-sm-12 col-md-3 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="cir_checkbox[1]" value="1">
                                        <span class="custom-control-label">Yes</span>
                                    </label>&nbsp;
                                </div>
                                <div class="col-sm-12 col-md-3 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="cir_checkbox[1]" value="2">
                                        <span class="custom-control-label">No</span>
                                    </label>&nbsp;
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-4 text-black text-justify">If no, since when have you been continuously insured under Mediclaim Policy. Give details</label>
                                <div class="col-md-6 col-lg-8">
                                    @Html.TextAreaFor(m => m.cir_details, new { @class = "form-control", @row = "2", @id = "cir_details" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-4 text-black text-justify"> b. Is this the first claim under this policy </label>
                                <div class="col-sm-12 col-md-3 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="cir_checkbox[2]" value="3">
                                        <span class="custom-control-label">Yes</span>
                                    </label>&nbsp;
                                </div>
                                <div class="col-sm-12 col-md-3 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="cir_checkbox[2]" value="4">
                                        <span class="custom-control-label">No</span>
                                    </label>&nbsp;
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-4 text-black text-justify">If no, please quote Previous claim number and details</label>
                                <div class="col-md-6 col-lg-8">
                                    @Html.TextAreaFor(m => m.cir_claim, new { @class = "form-control", @row = "2", @id = "cir_claim" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row pb-0 mt-3">
                    <label class="col-md-12 form-label text-justify">7. In support of the above claim, I enclose the following original documents (Please indicated by</label>
                </div>
                <div class="card-body pt-0 pb-0">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="cir_checkbox" value="5">
                                            <span class="custom-control-label">Bill, Receipt and Discharge certificate / card from the Hospital</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="cir_checkbox" value="6">
                                            <span class="custom-control-label">Pathological test reports</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="cir_checkbox" value="7">
                                            <span class="custom-control-label">Duly filled claim form by the medical practitioner</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row pb-0 mt-3">
                    <label class="col-md-12 form-label text-justify">8. Summary of expenses incurred for which original bills / receipts / cash memos are enclosed:</label>
                </div>
                <div class="card-body pt-0 pb-0">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-2 text-black">Total of Hospital Bil</label>
                                <div class="col-md-6 col-lg-2">
                                    @Html.TextBoxFor(m => m.cir_total, new { @class = "form-control", @id = "cir_total", @placeholder = "Ex: 250.00" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-2 text-black">Medicines purchased from chemists</label>
                                <div class="col-md-6 col-lg-2">
                                    @Html.TextBoxFor(m => m.cir_medicines, new { @class = "form-control", @id = "cir_medicines", @placeholder = "Ex: 50.00" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-2 text-black">Other expenses not included above</label>
                                <div class="col-md-6 col-lg-2">
                                    @Html.TextBoxFor(m => m.cir_expenses, new { @class = "form-control", @id = "cir_expenses", @placeholder = "Ex: 200.00" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-2 text-black">Grand Total</label>
                                <div class="col-md-6 col-lg-2">
                                    @Html.TextBoxFor(m => m.cir_grand, new { @class = "form-control", @id = "cir_grand", @placeholder = "Ex: 250.00" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <label class="col-md-12 form-label">9. Patient’s Declaration</label>
                </div>
                <div class="form-group row mt-3">
                    <p class="col-md-12 text-black text-justify">
                        I declare that all the details given on this claim form are true and accurate and I hereby warrant the truth of the foregoing particulars in every respect and I agree that if have made or shall make any false or untrue statement, suppression or concealment my right to claim reimbursement of the said expenses shall be absolutely forfeited. In case INAYAH LLC is not liable to settle the hospital bill to discrepancy in documentation, I take complete responsibility to settle the bill. For this claim I authorise any medical practitioner, Specialist, Conultant who has attended me/the patient, in the past or present, to give any details that may be asked by INAYAH TPA LLC.
                        I also authorize TPA to receive payment from insurance company as reimbursement of hospital bills incurred on my treatment.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group row">
                    <div class="form-group mb-3"><img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" /></div>
                    <p class="text-black">Treating Doctor’s Signature</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group row">
                    <div class="form-group mb-3" id="patimg"><img alt="Signature" src="" id="pat_sign" class="avatar avatar-xl bsquare" /></div>
                    <p class="text-black">Patient/Insured Signature</p>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="btn-list btn-animation">
                    <button type="submit" class="btn btn-success" id="btn_Insert_Inayah">Save</button>
                    <button type="button" class="btn btn-outline-dark" id="btn_Reset_Inayah">Reset</button>
                    <div class="btn-group mr-2">
                        <div class="dropdown">
                            <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                            </div>
                        </div>
                    </div>                  
                    <button type="button" class="btn btn-outline-danger me-1" id="btn_Close_Inayah" style="display:none">
                        Close
                    </button>
                </div>
            </div>
        </div>

    </form>
</div>
@*@section myScripts{*@
<script type="text/javascript">
    //#region Page Load
        var formName1 = $(form_InayahDecision).closest('form').attr('name');
        $(function () {
            validate();
            set_date();
            Get_Patient_Complaints();
        });
    //#endregion Page Load

    //#region Load set Date
        var set_date = function () {
            $('#cir_d1').bootstrapdatepicker({
                format: "dd-MM-yyyy",
                viewMode: "date",
                todayHighlight: true,
                autoclose: true,
                multidate: false,
                multidateSeparator: "-"
            });
            $("#cir_d1").bootstrapdatepicker("setDate", '');
        }
    //#endregion

    //#region Validation Initialization
        var validate = function () {
            $('#cir_d1').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#cir_total').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
            $("#cir_total").on('input', function () {
                var disc = $(this).val();
                if (disc == "" || disc == null || disc == undefined) {
                    $("#cir_total").val(0.00);
                }
            });
            $('#cir_medicines').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
            $("#cir_medicines").on('input', function () {
                var disc = $(this).val();
                if (disc == "" || disc == null || disc == undefined) {
                    $("#cir_medicines").val(0.00);
                }
            });
            $('#cir_expenses').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
            $("#cir_expenses").on('input', function () {
                var disc = $(this).val();
                if (disc == "" || disc == null || disc == undefined) {
                    $("#cir_expenses").val(0.00);
                }
            });
            $('#cir_grand').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
            $("#cir_grand").on('input', function () {
                var disc = $(this).val();
                if (disc == "" || disc == null || disc == undefined) {
                    $("#cir_grand").val(0.00);
                }
            });

        }
    //#endregion

    //#region Load Get Patient Complaints
         var Get_Patient_Complaints = function () {
             $.ajax({
                 type: "GET",
                 url: "@Url.Action("Get_Patient_Complaints", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                 success: function (response) {
                     if (response.length > 0) {
                         var str2 = response[0].complaints;
                         var regex = /(|<([^>]+)>)/ig;
                         $("#carf_3").text(str2.replace(/(<p>|<\/p>)/g, ""));
                     }
                 },
                 error: function (xhr) {
                     console.log(xhr);
                 }
             });
         }
     //#endregion

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "Inayah",
                "appId": @emr.appId,
                "formname":"Inayah",
                "formlink":"PrintInayah.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
        var openSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "Inayah",
                "appId": @emr.appId,
                "formname":"Inayah",
                "formlink":"PrintInayah.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
    //#endregion

    //#region Reset
        $('#btn_Reset_Inayah').on('click', function (e) {
            e.preventDefault();
            clearControls();
        });
    //#endregion

    //#region Clear Controls
        var clearControls = function () {
            $("#cir_d1").bootstrapdatepicker("setDate", '');
            $("#cir_details").val("");
            $("#cir_claim").val("");
            $("#cir_total").val("");
            $("#cir_medicines").val("");
            $("#cir_expenses").val("");
            $("#cir_grand").val("");
            var elements = document.getElementsByClassName('custom-control-input');
            Array.prototype.forEach.call(elements, function (element) {
                element.checked = false;
            });

        }
    //#endregion

    //#region Insert Button Click
        $('#btn_Insert_Inayah').on('click', function (e) {
            e.preventDefault();
            if ($("#form_InayahDecision").valid()) {
                $('#btn_Insert_Inayah').removeClass("btn btn-success");
                $('#btn_Insert_Inayah').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Insert_Inayah').html("Saving the Record....");
                var cir_chkbox = "";
                $('.custom-control-input:checked').each(function (index) {
                    cir_chkbox = cir_chkbox + ',' + $(this).val();
                });
                var cir_checkbox = cir_chkbox.substring(1);
                var _dataInsert = {
                "cir_Id": 0,
                "cir_appId": @emr.appId,
                "cir_checkbox": cir_checkbox,
                "cir_details": $("#cir_details").val(),
                "cir_claim": $("#cir_claim").val(),
                "cir_total": $("#cir_total").val(),
                "cir_medicines": $("#cir_medicines").val(),
                "cir_expenses": $("#cir_expenses").val(),
                "cir_grand": $("#cir_grand").val(),
                "cir_d1": moment($("#cir_d1").val()).format("YYYY-MM-DD"),
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dataInsert);
            $.ajax({
            type: "POST",
            url: "@Url.Action("InsertInayah", "ReimbursementForms", new { area = "EMRForms" })",
            dataType: 'JSON',
            data: _dataInsert,
            success: function (data) {
                $('#btn_Insert_Inayah').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Insert_Inayah').addClass("btn btn-success");
                $('#btn_Insert_Inayah').html("Add");

                if (data.isSuccess) {
                if (data.isInserted) {
                GetInayah();
                var alertPlaceholder = document.getElementById("Alert");
                function alert(e, t) {
                    var l = document.createElement("div");
                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                }
                alert("<i class='fe fe-check-circle text-white'></i> Inayah Claim Form Added Successfully!", "success");
                Timeout();
                EditInayah();
            }
                else {
                    let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                        "<div class='alert alert-light-warning' role='alert'>" +
                        "<button type='button' class='btn-close text-warning' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong><i class='fa fa-exclamation-triangle text-warning'></i> Inayah Claim Form Alredy Exists!</strong><br/>" +
                        "</div></div>";
                    $("#error").html(html);
                }
            }
            else {
            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                "<div class='alert alert-light-danger' role='alert'>" +
                "<button type='button' class='btn-close text-danger' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                "<strong><i class='fa fa-ban text-danger'></i> Validation Error! Please validate before submitting.&nbsp;</strong><br/><ul>";

            $.each(data.message, function (index, value) {
                html += "<li><small>" + value + "</small><li>";
                var elem = $("#" + index);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                }
                else {
                    $(elem).addClass(" is-invalid");
                }

                setTimeout(function () {
                    if (elem.hasClass("select2-hidden-accessible")) {
                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                    }
                    else {
                        $(elem).removeClass("is-invalid");
                    }
                }, 5000);
            });
            html += "</ul></div></div>";
            $("#error").html(html);
            }
            },
            error: function (xhr) {
            $('#btn_Insert_Inayah').removeClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Insert_Inayah').addClass("btn btn-success");
            $('#btn_Insert_Inayah').html("Add");
            Timeout();
            }
            });
            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion

</script>
@*}*@
