@model BusinessEntities.EMRForms.Emirates
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="modal-body p-4">
    <form id="form_EmiratesDecision" class="fs-14" autocomplete="off" name="Emirates" ondrop="return false;" onpaste="return false;" oncut="return false;">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.cer_Id, new { @id = "cer_Id", @value = "@Model.cer_Id" })
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-left">
                <div class="text-success">
                    <h5>Section A - Employee Details (<span class="text-danger">*</span> Mandatory Fields)</h5>
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-11 col-md-6 col-lg-2 ps-0">
                    <label class="text-black">
                        Claim ID number &nbsp;<span class="text-danger">*</span>
                    </label>
                </div>
                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    @if (@emr.pi_insno != "")
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pi_insno&nbsp;</span>
                    }
                    else
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                    }
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-11 col-md-6 col-lg-2 ps-0">
                    <label class="text-black">
                        Name of Employee &nbsp;<span class="text-danger">*</span>
                    </label>
                </div>
                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    @if (@emr.doc_name != "")
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">@emr.doc_name&nbsp;</span>
                    }
                    else
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-left">
                <div class="text-success">
                    <h5>Section B – Patient Medical Details (To be fully completed by treating doctor or dentist)</h5>
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-12 col-md-6 col-lg-2 ps-0">
                    <label class="form-label ">
                        Patient Name
                    </label>
                </div>
                <div class="d-flex  justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    @if (@emr.pat_name != "")
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                    }
                    else
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                    }
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-12 col-md-6 col-lg-2 ps-0">
                    <label class="form-label ">
                        DOB
                    </label>
                </div>
                <div class="d-flex  justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    @if (@emr.pat_dob != "")
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                    }
                    else
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                    }
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-11 col-md-6 col-lg-2 ps-0">
                    <label class="text-black">
                        Complaints / Onset / History &nbsp;
                    </label>
                </div>
                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <label class="form-label text-red text-left" id="app_complaints" name="">&nbsp;</label>
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-11 col-md-6 col-lg-2 ps-0">
                    <label class="text-black">
                        Planned Treatment &nbsp;
                    </label>
                </div>
                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <label class="form-label text-red text-left" id="treat_details" name="">&nbsp;</label>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="text-black text-justify">
                    I declare that I am the patient’s treating doctor/dentist and that the particulars given are to the best of my knowledge true and correct
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
                <span class="text-capitalize text-left text-red">@emr.app_fdate&nbsp;</span>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
                <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <label class="form-label">
                    Date
                </label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <label class="form-label">
                    Signature & Stamp
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-left">
                <div class="text-success">
                    <h5>Section C – Patient / Spouse / Guardian Signature (* Mandatory Fields)</h5>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="text-black text-justify">
                    I hereby authorise the Emirates Group to obtain any and all medical records, reports and test results, either in original hard-copy form or via access
                    to electronic data systems, as may be required to validate my claim. I consent to the Emirates Group disclosing my medical records, reports and test
                    results for the purpose of processing and validating my claim. In addition, I understand any such medical information provided to the Emirates Group
                    will be accessible to Emirates Group employees (including employees of wholly owned subsidiaries) on the Emirates Medical Benefits System Employee
                    Portal via confidential log-in.
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group mb-3" style="display:none" id="patimg"><img alt="Signature" src="" id="pat_sign" class="avatar avatar-xl bsquare" /></div>
                <label class="form-label mb-2 text-danger">
                    Patient's Signature
                </label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <label class="form-label text-red text-left" id="psb_date_witness" name="">&nbsp;</label>
                <label class="form-label mb-2 text-danger">
                    Date
                </label>
            </div>
            
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-left">
                <div class="text-success">
                    <h5>Section D – Employee Checklist (* Mandatory Fields)</h5>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 mb-2">
                <div class="table-responsive">
                    <table id="tbl_Treatment" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #808080; border-color: #3C457D; ">
                                <th class="border-bottom-0 font-weight-semibold text-white">Employee check</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Documents Submitted</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">For MB use only</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="cer_checkbox" value="1">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>Claim form <span class="text-danger">*</span></td>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="cer_checkbox" value="2">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="cer_checkbox" value="3">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>Original receipts<span class="text-danger">*</span></td>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="cer_checkbox" value="4">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="cer_checkbox" value="5">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>Prescription copy<span class="text-danger">*</span></td>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="cer_checkbox" value="6">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="cer_checkbox" value="7">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>EK referral</td>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="cer_checkbox" value="8">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="cer_checkbox" value="9">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>Breakdown of costs</td>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="cer_checkbox" value="10">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="cer_checkbox" value="11">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                </td>
                                <td>Medical / Lab / Investigation report – LMP date if pregnant</td>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="cer_checkbox" value="12">
                                            <span class="custom-control-label"></span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">               
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3 d-flex">
                <label class="text-black">
                    Category&nbsp;:&nbsp;&nbsp;
                </label>            
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="cer_checkbox[1]" value="13">
                    <span class="custom-control-label">A</span>
                </label>&nbsp;
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="cer_checkbox[1]" value="14">
                    <span class="custom-control-label">B</span>
                </label>
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="cer_checkbox[1]" value="15">
                    <span class="custom-control-label">C</span>
                </label>&nbsp;
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="cer_checkbox[1]" value="16">
                    <span class="custom-control-label">D</span>
                </label>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-2 d-flex">
                <label class="text-black">
                    Processor&nbsp;:&nbsp;&nbsp;
                </label>            
                @Html.TextBoxFor(m => m.cer_processor, new { @class = "form-control", @id = "cer_processor", @width = "20px", @maxlength = "10" })
            </div>
            <div class="col-sm-12 col-md-12 col-lg-2 d-flex mt-1">
                <label class="text-black">
                    Date&nbsp;:&nbsp;&nbsp;
                </label>            
                <span class="font-weight-normal1 text-capitalize text-left">@emr.app_fdate&nbsp;</span>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-2 d-flex">
                <label class="text-black">
                    Payable&nbsp;:&nbsp;&nbsp;
                </label>          
                @Html.TextBoxFor(m => m.cer_payable, new { @class = "form-control mb-1", @id = "cer_payable", @width = "20px", @maxlength = "10" })
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3 d-flex">
                <label class="text-black">
                    Non-Payable&nbsp;:&nbsp;&nbsp;
                </label>           
                @Html.TextBoxFor(m => m.cer_nonpayable, new { @class = "form-control", @id = "cer_nonpayable", @width = "20px", @maxlength = "10" })
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="btn-list btn-animation">
                    <button type="submit" class="btn btn-success" id="btn_Insert_Emirates">Save</button>
                    <button type="button" class="btn btn-outline-dark" id="btn_Reset_Emirates">Reset</button>
                    <div class="btn-group mr-2">
                        <div class="dropdown">
                            <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@*@section myScripts{*@
<script type="text/javascript">
    //#region Page Load
        var formName1 = $(form_EmiratesDecision).closest('form').attr('name');
        $(function () {
            Get_AllPatientDiagnosis();
            Get_Patient_Treatments();
            Get_Patient_Complaints();
        });
    //#endregion

    //#region Load Get Patient Complaints
        var Get_Patient_Complaints = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Get_Patient_Complaints", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        var str2 = response[0].complaints;
                        var regex = /(|<([^>]+)>)/ig;
                        $("#app_complaints").text(str2.replace(/(<p>|<\/p>)/g, ""));
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
    //#endregion

    //#region Load Get All Diagnosis
        var Get_AllPatientDiagnosis = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllPatientDiagnosis", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#pat_Diagnosis').text(response[0].Diagnosis);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion

    //#region Load Get_Patient_Treatments
        var Get_Patient_Treatments = function () {
             $.ajax({
                type: "GET",
                url: "@Url.Action("Get_Patient_Treatment", "ReimbursementForms", new { area = "EMRForms" })?appId=" +@emr.appId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#treat_details').text(response[0].treatments);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
             });
         }
    //#endregion

    //#region Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
    //#endregion

    //#region Reset
        $('#btn_Reset_Emirates').on('click', function (e) {
            e.preventDefault();
            clearControls();
        });
    //#endregion

    //#region Clear Controls
        var clearControls = function () {
            $("#cer_checkbox").val("");
            $("#cer_processor").val("");
            $("#cer_payable").val("");
            $("#cer_nonpayable").val("");
        }
    //#endregion

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "Emirates",
                "appId": @emr.appId,
                "formname": "Emirates",
                "formlink":"PrintEmiratesClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
        var openSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "Emirates",
                "appId": @emr.appId,
                "formname": "Emirates",
                "formlink":"PrintEmiratesClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Insert Button Click
        $('#btn_Insert_Emirates').on('click', function (e) {
            e.preventDefault();
            if ($("#form_EmiratesDecision").valid()) {
                $('#btn_Insert_Emirates').removeClass("btn btn-success");
                $('#btn_Insert_Emirates').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Insert_Emirates').html("Saving the Record....");
                var cer_chkbox = "";
                $('.custom-control-input:checked').each(function (index) {
                    cer_chkbox = cer_chkbox + ',' + $(this).val();
                });
                var cer_checkbox = cer_chkbox.substring(1);

                var _dataInsert = {
                "cer_Id": 0,
                "cer_appId": @emr.appId,
                "cer_checkbox": cer_checkbox,
                "cer_processor": $("#cer_processor").val(),
                "cer_payable": $("#cer_payable").val(),
                "cer_nonpayable": $("#cer_nonpayable").val(),
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
            $.ajax({
            type: "POST",
            url: "@Url.Action("InsertEmirates", "ReimbursementForms", new { area = "EMRForms" })",
            dataType: 'JSON',
            data: _dataInsert,
            success: function (data) {
            $('#btn_Insert_Emirates').removeClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Insert_Emirates').addClass("btn btn-success");
            $('#btn_Insert_Emirates').html("Add");

            if (data.isSuccess) {
            if (data.isInserted) {
            GetEmirates();
            var alertPlaceholder = document.getElementById("Alert");
            function alert(e, t) {
                var l = document.createElement("div");
                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
            }
            alert("<i class='fe fe-check-circle text-white'></i> Emirates Claim Form Added Successfully!", "success");
            Timeout();
            Editemirates();
            }
            else {
                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                    "<div class='alert alert-light-warning' role='alert'>" +
                    "<button type='button' class='btn-close text-warning' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                    "<strong><i class='fa fa-exclamation-triangle text-warning'></i> Emirates Claim Form Alredy Exists!</strong><br/>" +
                    "</div></div>";
                $("#error").html(html);
            }
            }
            else {
            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                "<div class='alert alert-light-danger' role='alert'>" +
                "<button type='button' class='btn-close text-danger' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                "<strong><i class='fa fa-ban text-danger'></i> Validation Error! Please validate before submitting.&nbsp;</strong><br/><ul>";

            $.each(data.message, function (index, value) {
                html += "<li><small>" + value + "</small><li>";
                var elem = $("#" + index);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                }
                else {
                    $(elem).addClass("is-invalid");
                }

                setTimeout(function () {
                    if (elem.hasClass("select2-hidden-accessible")) {
                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                    }
                    else {
                        $(elem).removeClass("is-invalid");
                    }
                }, 5000);
            });
            html += "</ul></div></div>";
            $("#error").html(html);
            }
            },
            error: function (xhr) {
            $('#btn_Insert_Emirates').removeClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Insert_Emirates').addClass("btn btn-success");
            $('#btn_Insert_Emirates').html("Add");
            Timeout();
            }
            });
            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion

</script>
@*}*@
