@model BusinessEntities.EMRForms.NASNLGIC
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="modal-body p-4">
    <form id="form_NASNLGICDecision" class="fs-14" autocomplete="off" name="NASNLGIC" ondrop="return false;" onpaste="return false;" oncut="return false;">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.nalnId, new { @id = "nalnId", @value = "@Model.nalnId" })

        <div class="row">
            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                <div>
                    <h5 class="font-weight-bold ps-0">Administrative Section(To be completed fully by the employee/guardian)</h5>
                </div>
                <div class="card-body">
                    <div class="row  outer-border">
                        <div class="col-lg-12 col-md-12 ps-0">
                            <div class="form-group row">
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">Patient's Name</label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                    </div>
                                </div>
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">Patient's Address</label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @if (@emr.pat_address != "")
                                        {
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_address&nbsp;</span>
                                        }
                                        else
                                        {
                                            <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">Nationality</label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @if (@emr.pat_nationality != "")
                                        {
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_nationality&nbsp;</span>
                                        }
                                        else
                                        {
                                            <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                        }
                                    </div>
                                </div>
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">Date Of Birth</label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @if (@emr.pat_dob != "")
                                        {
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                                        }
                                        else
                                        {
                                            <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">
                                        Employee Name
                                    </label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.naln_1, new { @class = "form-control mb-1", @id = "naln_1", @maxlength = "20" })
                                    </div>
                                </div>
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">Insurance Card No of the person who received treatment(it is diffrent for each number of the family</label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.naln_2, new { @class = "form-control", @id = "naln_2", @maxlength = "50" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">
                                        Employee No/Staff ID
                                    </label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.naln_4, new { @class = "form-control mb-1", @id = "naln_4", @maxlength = "10" })
                                    </div>
                                </div>
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">Company Name of the Employee</label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.naln_5, new { @class = "form-control", @id = "naln_5", @maxlength = "20" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">Employee's Email address</label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.naln_6, new { @class = "form-control", @id = "naln_6", @maxlength = "20" })
                                    </div>
                                </div>
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">
                                        Employee's Tel number
                                    </label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.naln_7, new { @class = "form-control", @id = "naln_7", @maxlength = "14" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row mt-4">
                        <h5 class="font-weight-bold ps-0">
                            Medical section (To be fully completed by patient s medical practitioner-all boxes must be completed in block capitals)
                        </h5>
                    </div>
                    <div class="row outer-border mt-4">
                        <div class="col-lg-12 col-md-12 ps-0">
                            <div class="form-group row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <label class="text-black col-sm-12 col-md-12 col-lg-12">
                                        Physician's Name & Adresss
                                    </label>
                                    <div class="col-md-12 col-lg-12">
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.doc_name&nbsp;</span>
                                    </div>
                                    <div class="col-md-12 col-lg-12">
                                        @if (@emr.emp_address != "")
                                        {
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_address&nbsp;</span>
                                        }
                                        else
                                        {
                                            <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                        }
                                    </div>
                                    <div class="col-md-12 col-lg-12">
                                        <p class="text-black text-justify">I declare that I am the patient's medical practitioner, and that the particulars given are to the best of my knowledge true and correct.</p>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <label class="text-black col-sm-12 col-md-12 col-lg-12">
                                        Date symptoms first noticed
                                    </label>
                                    <div class="col-md-12 col-lg-12">
                                        <div class="col-md-12 col-lg-5 input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fe fe-calendar"></i>
                                                </div>
                                            </div>
                                            @Html.TextBoxFor(m => m.naln_date1, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "naln_date1" })
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12">
                                        <label class="col-md-10 form-label">
                                            Physician s Signature and stamp
                                        </label>
                                    </div>
                                    <div class="col-md-12 col-lg-12">
                                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <label class="form-label ps-0">
                                        Diagnosis
                                    </label>
                                    <div class="col-md-12">
                                        @Html.TextAreaFor(m => m.naln_18, new { @class = "form-control", @row = "2", @id = "naln_18" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-sm-12 col-md-12 col-lg-12 ps-0">
                            <label class="form-label">
                                Other insurer's details (If the treatment is accident-related or covered under another insurance policy please provide name of insurance company)
                            </label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(m => m.naln_8, new { @class = "form-control", @row = "2", @id = "naln_8" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-12 col-lg-12 ps-0">
                            <h5 class="font-weight-bold ps-0">
                                Financial Section (to be completed by employee/guardian)
                            </h5>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="tbl_1" class="table table-striped table-bordered text-nowrap" style="width: 50%; cursor: pointer;">
                                        <thead>
                                            <tr style="color: #fff !important; background-color: #808080; border-color: #3C457D; ">
                                                <th class="border-bottom-0 font-weight-semibold text-white">Out Patient Treatment</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Claimed Amount and Currency</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">In Patient Treatment</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Claimed Amount and Currency</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Consultation  </td>
                                                <td> @Html.TextBoxFor(m => m.naln_9, new { @class = "form-control", @id = "naln_9", @maxlength = "10" })</td>
                                                <td>Hospital charges/ Room</td>
                                                <td>@Html.TextBoxFor(m => m.naln_10, new { @class = "form-control", @id = "naln_10", @maxlength = "10" })</td>
                                            </tr>
                                            <tr>
                                                <td>Pharmacy</td>
                                                <td>@Html.TextBoxFor(m => m.naln_11, new { @class = "form-control", @id = "naln_11", @maxlength = "10" })</td>
                                                <td>Surgery/Anesthesia/OT</td>
                                                <td>@Html.TextBoxFor(m => m.naln_12, new { @class = "form-control", @id = "naln_12", @maxlength = "10" })</td>
                                            </tr>
                                            <tr>
                                                <td>Diagnostic/Lab/Others</td>
                                                <td>@Html.TextBoxFor(m => m.naln_13, new { @class = "form-control", @id = "naln_13", @maxlength = "10" })</td>
                                                <td>Drugs/Labs/Others</td>
                                                <td>@Html.TextBoxFor(m => m.naln_14, new { @class = "form-control", @id = "naln_14", @maxlength = "10" })</td>
                                            </tr>
                                            <tr>
                                                <td>Country of Treatment</td>
                                                <td colspan="3">@Html.TextBoxFor(m => m.naln_15, new { @class = "form-control", @id = "naln_15", @maxlength = "100" })</td>
                                            </tr>
                                            <tr>
                                                <td>Total Claimed Amount and Claimed Currency</td>
                                                <td colspan="3">@Html.TextBoxFor(m => m.naln_16, new { @class = "form-control", @id = "naln_16", @maxlength = "10" })</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h5 class="font-weight-bold ps-0">
                            Patient's declaration and conset
                        </h5>
                    </div>
                    <div class="outer-border">
                        <div class="form-group row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <p class="form-label text-justify ps-0">
                                    I confirm I am the patient/patient s spouse or guardian (if patient under 16 years of age) and wish to claim benefits and declare that
                                    all the particulars given above are to the best of my knowledge true and correct. I hereby consent to and authorise the medical practitioner
                                    involved in the patient's care to discuss treatments detailes and discharge arrangements with NAS. I agree that a copy of this consent shall
                                    i have the validity of original.
                                </p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <label class="col-md-5 form-label"> Signature of the Insured/Guardian:</label>
                                <div id="patimg"><img alt="Signature" src="" id="pat_sign" class="avatar avatar-xxl bsquare" /></div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <label class="col-md-3 form-label">Date:</label>
                                <div class="col-md-2 col-md-6">
                                    <label class="form-label text-red text-left" id="psb_date_witness" name="">&nbsp;</label>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>                
                <div>
                    <h5 class="font-weight-bold ps-0 text-center">
                        GENERAL INSTRUSCTIONS
                    </h5>
                </div>
                <div class="card-body pt-0">
                    <ul class="list-style5 text-justify text-black">
                        <li>Please read the form carefully and make sure to complete all important information. NASNLGIC cannot process any incomplete application (i.e. lacking information and documentation). For complete list of requirements refer to statement no. 3.</li>
                        <li>Use a separate form for each Insured Member. Reimbursement Claim Forms can be obtained from your Insurance Company. If you have any questions regarding this form or any other aspects of your cover, please telephone NASNLGIC (+9712 6940800) or Toll Free 800 2311.</li>
                        <li>
                            <p class="font-weight-bold">
                                Submit the following essential documents along with your duly filled Reimbursement Claim Form:
                            </p>
                            <ul>
                                <li>
                                    Copy of your Insurance Card
                                </li>
                                <li>
                                    Itemized bill/invoices (especially for lab, pharmacy, dental treatment, radiology tests) with date clearly mentioned in handwritten invoices.
                                </li>
                                <li>
                                    Receipts for the invoices clearly indicating the amount paid.
                                </li>
                                <li>
                                    Original medication prescription given by the treating doctor
                                </li>
                                <li>
                                    Investigation results/reports like laboratory test, x-ray, etc.
                                </li>
                                <li>
                                    Medical report/ discharge summary stamped and signed by the doctor for hospitalization cases only
                                </li>
                                <li>
                                    Copy of passport showing exit and re-entry to UAEor any other similar documents (e.g. e- gate) for treatment outside UAE only
                                </li>
                                <li>
                                    Documents written in other languages are required to be translated to English or Arabic only
                                </li>
                            </ul>
                        </li>
                        <li>
                            Please submit the completed documents:
                            @Html.TextAreaFor(m => m.naln_17, new { @class = "form-control", @row = "2", @id = "naln_17" })
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="row mt-2">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="btn-list btn-animation">
                        <button type="submit" class="btn btn-success" id="btn_Insert_NASNLGIC">Save</button>
                        <button type="button" class="btn btn-outline-dark" id="btn_Reset_NASNLGIC">Reset</button>
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-danger me-1" id="btn_Close_NASNLGIC" style="display:none">
                            Close
                        </button>
                    </div>
                    <div id="warningMessage" class="text-danger" style="display: none;">Please fill in at least one field before submitting.</div>
                </div>
            </div>
        </div>
    </form>
</div>
@*@section myScripts{*@
<script type="text/javascript">
    //#region Page Load
        var formName1 = $(form_NASNLGICDecision).closest('form').attr('name');
        $(function () {
            validate();
            set_date();
            Get_AllPatientDiagnosis();
        });
    //#endregion

    //#region Load set Date
        var set_date = function () {
            $('#naln_date1').bootstrapdatepicker({
                format: "dd-MM-yyyy",
                viewMode: "date",
                todayHighlight: true,
                autoclose: true,
                multidate: false,
                multidateSeparator: "-"
            });
            $("#naln_date1").bootstrapdatepicker("setDate", '');
        }
    //#endregion

    //#region Load Get All Diagnosis
        var Get_AllPatientDiagnosis = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllPatientDiagnosis", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#naln_18').text(response[0].Diagnosis);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion

    //#region Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
    //#endregion

    //#region Reset
        $('#btn_Reset_NASNLGIC').on('click', function (e) {
            e.preventDefault();
            clearControls();
        });
    //#endregion

    //#region Validation Initialization
        var validate = function () {
            $('#naln_date1').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#naln_9').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
            $("#naln_9").on('input', function () {
                var disc = $(this).val();
                if (disc == "" || disc == null || disc == undefined) {
                    $("#naln_9").val(0.00);
                }
            });
            $('#naln_10').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
            $("#naln_9").on('input', function () {
                var disc = $(this).val();
                if (disc == "" || disc == null || disc == undefined) {
                    $("#naln_9").val(0.00);
                }
            });
            $('#naln_11').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
            $("#naln_11").on('input', function () {
                var disc = $(this).val();
                if (disc == "" || disc == null || disc == undefined) {
                    $("#naln_11").val(0.00);
                }
            });
            $('#naln_12').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
            $("#naln_12").on('input', function () {
                var disc = $(this).val();
                if (disc == "" || disc == null || disc == undefined) {
                    $("#naln_12").val(0.00);
                }
            });

            $('#naln_13').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
            $("#naln_13").on('input', function () {
                var disc = $(this).val();
                if (disc == "" || disc == null || disc == undefined) {
                    $("#naln_13").val(0.00);
                }
            });
            $('#naln_14').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
            $("#naln_14").on('input', function () {
                var disc = $(this).val();
                if (disc == "" || disc == null || disc == undefined) {
                    $("#naln_14").val(0.00);
                }
            });

        }

    //#endregion

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            localStorage.removeItem("sign");
        }
    });

    //#region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=' + formName1,
                type: "GET",
                dataType: "json",
                async: false,
                success: function (response) {
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY HH:mm");
                    if (response[0].person == "patient") {
                        $("#patimg").show();
                        $("#pat_sign").attr("src", sign);
                        $("#pat_sign").removeClass("avatar avatar-xxl bsquare");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
    //#endregion Get Signature

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "NASNLGIC",
                "appId": @emr.appId,
                "formname":"NASNLGIC",
                "formlink":"PrintNASNLGIC",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
        var openSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "NASNLGIC",
                "appId": @emr.appId,
                "formname":"NASNLGIC",
                "formlink":"PrintNASNLGIC",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Clear Controls
        var clearControls = function () {
            $("#naln_1").val("");
            $("#naln_2").val("");
            $("#naln_4").val("");
            $("#naln_5").val("");
            $("#naln_6").val("");
            $("#naln_7").val("");
            $("#naln_8").val("");
            $("#naln_9").val("");
            $("#naln_10").val("");
            $("#naln_11").val("");
            $("#naln_12").val("");
            $("#naln_13").val("");
            $("#naln_14").val("");
            $("#naln_15").val("");
            $("#naln_16").val("");
            $("#naln_17").val("");
            $("#naln_18").val("");
            $("#naln_date1").bootstrapdatepicker("setDate", '');
        }
    //#endregion
    //#region Function to check if any field is filled
        function isAnyFieldFilledOrSelected() {
            var isFilledOrSelected = false;

            // Check input fields
            $('.form-control').each(function () {
                if ($(this).val().trim() !== '') {
                    isFilledOrSelected = true;
                    return false; // Exit the loop if any input field is filled
                }
            });

            // Check checkboxes and radio buttons
            $('input[type="checkbox"], input[type="radio"]').each(function () {
                if ($(this).is(':checked')) {
                    isFilledOrSelected = true;
                    return false; // Exit the loop if any checkbox or radio button is selected
                }
            });

            return isFilledOrSelected;
        }
    //#endregion
    //#region Insert Button Click
        $('#btn_Insert_NASNLGIC').on('click', function (e) {
            e.preventDefault();
            if (isAnyFieldFilledOrSelected()) {
                if ($("#form_NASNLGICDecision").valid()) {
                    $('#btn_Insert_NASNLGIC').removeClass("btn btn-success");
                    $('#btn_Insert_NASNLGIC').addClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Insert_NASNLGIC').html("Saving the Record....");

                    var _dataInsert = {
                    "nalnId": 0,
                    "naln_appId": @emr.appId,
                    "naln_1": $("#naln_1").val(),
                    "naln_2": $("#naln_2").val(),
                    "naln_3": '',
                    "naln_4": $("#naln_4").val(),
                    "naln_5": $("#naln_5").val(),
                    "naln_6": $("#naln_6").val(),
                    "naln_7": $("#naln_7").val(),
                    "naln_8": $("#naln_8").val(),
                    "naln_9": $("#naln_9").val(),
                    "naln_10": $("#naln_10").val(),
                    "naln_11": $("#naln_11").val(),
                    "naln_12": $("#naln_12").val(),
                    "naln_13": $("#naln_13").val(),
                    "naln_14": $("#naln_14").val(),
                    "naln_15": $("#naln_15").val(),
                    "naln_16": $("#naln_16").val(),
                    "naln_17": $("#naln_17").val(),
                    "naln_18": $("#naln_18").val(),
                    "naln_date1": moment($("#naln_date1").val()).format("YYYY-MM-DD"),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                    }
                    console.log(_dataInsert);
                $.ajax({
                type: "POST",
                url: "@Url.Action("InsertNASNLGIC", "ReimbursementForms", new { area = "EMRForms" })",
                dataType: 'JSON',
                data: _dataInsert,
                success: function (data) {
                $('#btn_Insert_NASNLGIC').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Insert_NASNLGIC').addClass("btn btn-success");
                $('#btn_Insert_NASNLGIC').html("Add");

                if (data.isSuccess) {
                if (data.isInserted) {
                GetNASNLGIC();
                var alertPlaceholder = document.getElementById("Alert");
                function alert(e, t) {
                    var l = document.createElement("div");
                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                }
                alert("<i class='fe fe-check-circle text-white'></i> NASNLGIC Claim Form Added Successfully!", "success");
                Timeout();
                Editnasnlgic();
                }
                else {
                    let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                        "<div class='alert alert-light-warning' role='alert'>" +
                        "<button type='button' class='btn-close text-warning' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong><i class='fa fa-exclamation-triangle text-warning'></i> NASNLGIC Claim Form Alredy Exists!</strong><br/>" +
                        "</div></div>";
                    $("#error").html(html);
                }
                }
                else {
                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                    "<div class='alert alert-light-danger' role='alert'>" +
                    "<button type='button' class='btn-close text-danger' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                    "<strong><i class='fa fa-ban text-danger'></i> Validation Error! Please validate before submitting.&nbsp;</strong><br/><ul>";

                $.each(data.message, function (index, value) {
                    html += "<li><small>" + value + "</small><li>";
                    var elem = $("#" + index);
                    if (elem.hasClass("select2-hidden-accessible")) {
                        $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                    }
                    else {
                        $(elem).addClass(" is-invalid");
                    }

                    setTimeout(function () {
                        if (elem.hasClass("select2-hidden-accessible")) {
                            $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                        }
                        else {
                            $(elem).removeClass("is-invalid");
                        }
                    }, 5000);
                });
                html += "</ul></div></div>";
                $("#error").html(html);
                }
                },
                error: function (xhr) {
                $('#btn_Insert_NASNLGIC').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Insert_NASNLGIC').addClass("btn btn-success");
                $('#btn_Insert_NASNLGIC').html("Add");
                Timeout();
                }
                });
                }
                else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
                }
            } else {
                // Show a message box or alert indicating that at least one field must be filled
                //alert('Please fill in at least one field before submitting.');
                $('#warningMessage').show();
                // Prevent form submission
                return false;
            }
        });
    //#endregion

</script>
@*}*@

