@model BusinessEntities.EMRForms.Starwell
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="modal-body p-4">
    <form id="form_StarwellDecision" class="fs-14" autocomplete="off" name="Starwell" ondrop="return false;" onpaste="return false;" oncut="return false;">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.swId, new { @id = "swId", @value = "@Model.swId" })
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 ps-0">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <label class="form-label mb-2 text-danger">
                        Card Holder Details
                    </label>
                </div>
                <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                        <label class="form-label ">
                            Name
                        </label>
                    </div>
                    <div class="d-flex  justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-7">
                        @if (@emr.pat_name != "")
                        {
                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                        }
                        else
                        {
                            <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                        }
                    </div>
                </div>
                <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                        <label class="form-label ">
                            Ins Card No
                        </label>
                    </div>
                    <div class="d-flex  justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-7">
                        @if (@emr.pi_insno != "")
                        {
                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pi_insno&nbsp;</span>
                        }
                        else
                        {
                            <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                        }
                    </div>
                </div>
                <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                        <label class="form-label ">
                            Company Name
                        </label>
                    </div>
                    <div class="d-flex  justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-7">
                        @if (@emr.ic_name != "")
                        {
                            <span class="font-weight-normal1 text-capitalize text-left">@emr.ic_name&nbsp;</span>
                        }
                        else
                        {
                            <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                        }
                    </div>
                </div>
                <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                        <label class="form-label ">
                            Sex
                        </label>
                    </div>
                    <div class="d-flex  justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-7">
                        @if (@emr.pat_gender != "")
                        {
                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_gender&nbsp;</span>
                        }
                        else
                        {
                            <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                        }
                    </div>
                </div>
                <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                        <label class="form-label ">
                            Age
                        </label>
                    </div>
                    <div class="d-flex  justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-7">
                        @if (@emr.pat_age != "")
                        {
                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_age&nbsp;</span>
                        }
                        else
                        {
                            <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                        }
                    </div>
                </div>
                <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                        <label class="form-label ">
                            Mobile
                        </label>
                    </div>
                    <div class="d-flex  justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-7">
                        @if (@emr.pat_mob != "")
                        {
                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_mob&nbsp;</span>
                        }
                        else
                        {
                            <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                        }
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 ps-0">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <label class="form-label mb-2 text-danger">
                        Provider Details
                    </label>
                </div>
                <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                        <label class="form-label ">
                            Provider Name
                        </label>
                    </div>
                    <div class="d-flex  justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-7">
                        @if (@emr.set_company != "")
                        {
                            <span class="font-weight-normal1 text-capitalize text-left">@emr.set_company&nbsp;</span>
                        }
                        else
                        {
                            <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                        }
                    </div>
                </div>
                <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                        <label class="form-label ">
                            Emirates
                        </label>
                    </div>
                    <div class="d-flex  justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-7">
                        @if (@emr.set_city != "")
                        {
                            <span class="font-weight-normal1 text-capitalize text-left">@emr.set_city&nbsp;</span>
                        }
                        else
                        {
                            <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                        }
                    </div>
                </div>
                <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                        <label class="form-label ">
                            Address
                        </label>
                    </div>
                    <div class="d-flex  justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-7">
                        @if (@emr.set_address != "")
                        {
                            <span class="font-weight-normal1 text-capitalize text-left">@emr.set_address&nbsp;</span>
                        }
                        else
                        {
                            <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                        }
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-left">
                <div class="text-danger">
                    <h5>Clinical Details</h5>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3">
                <label class="form-label text-black">
                    Signs & Symptoms
                </label>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-2 d-flex">
                <label class="text-black">
                    Temp:
                </label>
                <label class="form-label text-red text-left" id="sign_temp" name="">&nbsp;</label>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-2 d-flex">
                <label class="text-black">
                    BP:
                </label>
                <label class="form-label text-red text-left" id="sign_bp" name="">&nbsp;</label>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-2 d-flex">
                <label class="text-black">
                    Pulse:
                </label>
                <label class="form-label text-red text-left" id="sign_pulse" name="">&nbsp;</label>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3 d-flex">
                <label class="text-black">
                    Notes:
                </label>
                <label class="form-label text-red text-left" id="sign_notes" name="">&nbsp;</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-11 col-md-6 col-lg-2">
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="sw_type" value="Emergency">
                    <span class="custom-control-label">Emergency </span>
                </label>&nbsp;
            </div>
            <div class="col-sm-11 col-md-6 col-lg-2">
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="sw_type" value="Work related">
                    <span class="custom-control-label">Work related</span>
                </label>
            </div>
            <div class="col-sm-11 col-md-6 col-lg-2">
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="sw_type" value="New visit">
                    <span class="custom-control-label">New visit</span>
                </label>&nbsp;
            </div>
            <div class="col-sm-11 col-md-6 col-lg-2">
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="sw_type" value="Follow up visit">
                    <span class="custom-control-label">Follow up visit</span>
                </label>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                <div class="col-sm-11 col-md-6 col-lg-1">
                    <label class="form-label text-black">
                        Diagnosis&nbsp;
                    </label>
                </div>
                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <label class="form-label text-red text-left" id="pat_Diagnosis" name="">&nbsp;</label>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <label class="form-label text-black">
                    Clinical Management Plan (Services at your clinic including Investigations)
                </label>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <label class="form-label text-red text-left" id="treat_details" name="">&nbsp;</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
                <span class="text-capitalize text-left text-red">@emr.doc_name&nbsp;</span>
                <label class="form-label">
                    Doctor Name
                </label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
                <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                <label class="form-label">
                    Signature & Stamp
                </label>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <label class="form-label text-black">
                    Diagnostics Procedures Referrals
                </label>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <label class="text-black">
                    Radiology
                </label>
                <label class="form-label text-red text-left" id="lbl_radiology" name="">&nbsp;</label>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
                <p class="text-black text-justify">
                    I here by authorize the Physician, Clinic, Hospital or Pharmacy to file a claim for medical services rendered & also I confirm that the above-mentioned examination/investigation/theraphy is given to meby signed Doctor. I agree that any other person who has provided medical services to me to furnish any and all information with regard to any medical History, Medical condition, or medical services and copies of all medical and clinic Records.
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mt-3">
                <div class="form-group mb-3" style="display:none" id="patimg"><img alt="Signature" src="" id="pat_sign" class="avatar avatar-xl bsquare" /></div>
                <label class="form-label mb-2 text-danger">
                    Patient's Signature
                </label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mt-3">
                <label class="form-label text-red text-left" id="psb_date_witness" name="">&nbsp;</label>
                <label class="form-label mb-2 text-danger">
                    Date
                </label>
            </div>
        </div>        
        <div class="row ">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <label class="form-label text-black">
                    Medication(To be filled by Treating Doctor Only)
                </label>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <label class="form-label text-red text-left" id="Prescriptions_details" name="">&nbsp;</label>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <label class="form-label text-danger">
                    Approval Details
                </label>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0 mt-2">
                    <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                        <label class="form-label">
                            P.A.Code
                        </label>
                    </div>
                    <div class="d-flex  justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-7">
                        @Html.TextBoxFor(m => m.sw_pappr, new { @class = "form-control",@style="width:200px", @id = "sw_pappr" })
                    </div>
                </div>
                <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0 mt-2">
                    <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                        <label class="form-label">
                            Date
                        </label>
                    </div>
                    <div class="d-flex  justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-7">
                        <div class="input-group" style="min-width:200px">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>
                            </div>
                            @Html.TextBoxFor(m => m.sw_pdate, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "sw_pdate" })
                        </div>
                    </div>
                </div>
                <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0 mt-2">
                    <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                        <label class="form-label">
                            Amount
                        </label>
                    </div>
                    <div class="d-flex  justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-7">
                        @Html.TextBoxFor(m => m.sw_pamount, new { @class = "form-control", @id = "sw_pamount", @style = "width:200px", @placeholder = "Ex: 250.00" })
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6">
                <label class="form-label text-black">
                    STARWELL Comments
                </label>
                @Html.TextAreaFor(m => m.sw_comments, new { @class = "form-control", @placeholder = "Further Treatment Plan", @row = "2", @id = "sw_comments" })
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <label class="form-label text-black">
                    For Pre-approval please Contact
                </label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <label class="form-label text-black">
                    Tel: 04 433 2753
                </label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <label class="form-label text-black">
                    Fax: 04 4370591
                </label>
            </div>
        </div>
        <div class="row ">
            <div class="row mt-2">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="btn-list btn-animation">
                        <button type="submit" class="btn btn-success" id="btn_Insert_Starwell">Save</button>
                        <button type="button" class="btn btn-outline-dark" id="btn_Reset_Starwell">Reset</button>
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-danger me-1" id="btn_Close_Starwell" style="display:none">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@*@section myScripts{*@
<script type="text/javascript">
    //#region Page Load
        var formName1 = $(form_StarwellDecision).closest('form').attr('name');
        $(function () {
            validate();
            set_date();
            Get_Patient_signs();
            Get_Patient_Treatments();
            Get_AllPatientDiagnosis();
            Get_Patient_Lab_Treatments();
            Get_AllPatientDrugs();
        });
    //#endregion Page Load

    //#region Load set Date
        var set_date = function () {
            $('#sw_pdate').bootstrapdatepicker({
                format: "dd-MM-yyyy",
                viewMode: "date",
                todayHighlight: true,
                autoclose: true,
                multidate: false,
                multidateSeparator: "-"
            });
            $("#sw_pdate").bootstrapdatepicker("setDate", '');
        }
    //#endregion

    //#region Validation Initialization
        var validate = function () {
            $('#sw_pdate').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#sw_pamount').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
            $("#sw_pamount").on('input', function () {
                var disc = $(this).val();
                if (disc == "" || disc == null || disc == undefined) {
                    $("#sw_pamount").val(0.00);
                }
            });
        }
    //#endregion

    //#region Load Get All Diagnosis
        var Get_AllPatientDiagnosis = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllPatientDiagnosis", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#pat_Diagnosis').text(response[0].Diagnosis);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion

    //#region Load Get_Patient_signs
        var Get_Patient_signs = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Get_Patient_Signs", "ReimbursementForms", new { area = "EMRForms" })?appId="+@emr.appId,
                success: function (response) {
                    if (response.length > 0) {
                        var str1 = response[0].sign_bp;
                        var str2 = response[0].sign_pulse;
                        var str3 = response[0].sign_temp;
                        var str4 = response[0].sign_notes;
                        var regex = /(|<([^>]+)>)/ig;
                        $("#sign_bp").text(str1.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_pulse").text(str2.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_temp").text(str3.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_notes").text(str4.replace(/(<p>|<\/p>)/g, ""));
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
    //#endregion

    //#region Load Get_Patient_Treatments
        var Get_Patient_Treatments = function () {
             $.ajax({
                type: "GET",
                url: "@Url.Action("Get_Patient_Treatment", "ReimbursementForms", new { area = "EMRForms" })?appId=" +@emr.appId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#treat_details').text(response[0].treatments);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
             });
         }
    //#endregion

    //#region Load Get_Patient_Lab_Treatments
        Get_Patient_Lab_Treatments = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Get_Patient_Lab_Treatments", "ReimbursementForms", new { area = "EMRForms" })?appId=" +@emr.appId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#lbl_radiology').text(response[0].lab_treatments);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
         }
    //#endregion

    //#region Load Get Drugs
    var Get_AllPatientDrugs = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("Get_AllPatientDrugs", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
            success: function (response) {
                if (response.length > 0) {
                    $('#Prescriptions_details').text(response[0].Prescriptions);
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": formName1,
                "appId": @emr.appId,
                "formname":"Starwell",
                "formlink":"PrintStarwellClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
        var openSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": formName1,
                "appId": @emr.appId,
                "formname":"Starwell",
                "formlink":"PrintStarwellClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
    //#endregion

    //#region Reset
        $('#btn_Reset_Starwell').on('click', function (e) {
            e.preventDefault();
            clearControls();
        });
    //#endregion

    //#region Clear Controls
        var clearControls = function () {
            $("#sw_pdate").bootstrapdatepicker("setDate", '');
            $("#sw_pappr").val("");
            $("#sw_comments").val("");
            $("#sw_pamount").val(0.00);
            var elements = document.getElementsByClassName('custom-control-input');
            Array.prototype.forEach.call(elements, function (element) {
                element.checked = false;
            });

        }
    //#endregion

    //#region Insert Button Click
        $('#btn_Insert_Starwell').on('click', function (e) {
            e.preventDefault();
            if ($("#form_StarwellDecision").valid()) {
                $('#btn_Insert_Starwell').removeClass("btn btn-success");
                $('#btn_Insert_Starwell').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Insert_Starwell').html("Saving the Record....");
                var sw_chkbox = "";
                $('.custom-control-input:checked').each(function (index) {
                    sw_chkbox = sw_chkbox + ',' + $(this).val();
                });
                var sw_checkbox = sw_chkbox.substring(1);
                var _dataInsert = {
                "swId": 0,
                "sw_appId": @emr.appId,
                "sw_type": sw_checkbox,
                "sw_pappr": $("#sw_pappr").val(),
                "sw_pamount": parseFloat($("#sw_pamount").val()),
                "sw_comments": $("#sw_comments").val(),
                "sw_pdate": moment($("#sw_pdate").val()).format("YYYY-MM-DD"),
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dataInsert);
            $.ajax({
            type: "POST",
            url: "@Url.Action("InsertStarwell", "ReimbursementForms", new { area = "EMRForms" })",
            dataType: 'JSON',
            data: _dataInsert,
            success: function (data) {
                $('#btn_Insert_Starwell').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Insert_Starwell').addClass("btn btn-success");
                $('#btn_Insert_Starwell').html("Add");

                if (data.isSuccess) {
                if (data.isInserted) {
                GetStarwell();
                var alertPlaceholder = document.getElementById("Alert");
                function alert(e, t) {
                    var l = document.createElement("div");
                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                }
                alert("<i class='fe fe-check-circle text-white'></i> Starwell Claim Form Added Successfully!", "success");
                Timeout();
                    EditStarwell();
            }
                else {
                    let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                        "<div class='alert alert-light-warning' role='alert'>" +
                        "<button type='button' class='btn-close text-warning' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong><i class='fa fa-exclamation-triangle text-warning'></i> Starwell Claim Form Alredy Exists!</strong><br/>" +
                        "</div></div>";
                    $("#error").html(html);
                }
            }
            else {
            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                "<div class='alert alert-light-danger' role='alert'>" +
                "<button type='button' class='btn-close text-danger' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                "<strong><i class='fa fa-ban text-danger'></i> Validation Error! Please validate before submitting.&nbsp;</strong><br/><ul>";

            $.each(data.message, function (index, value) {
                html += "<li><small>" + value + "</small><li>";
                var elem = $("#" + index);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                }
                else {
                    $(elem).addClass(" is-invalid");
                }

                setTimeout(function () {
                    if (elem.hasClass("select2-hidden-accessible")) {
                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                    }
                    else {
                        $(elem).removeClass("is-invalid");
                    }
                }, 5000);
            });
            html += "</ul></div></div>";
            $("#error").html(html);
            }
            },
            error: function (xhr) {
            $('#btn_Insert_Starwell').removeClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Insert_Starwell').addClass("btn btn-success");
            $('#btn_Insert_Starwell').html("Add");
            Timeout();
            }
            });
            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion

</script>
@*}*@
