@model BusinessEntities.EMRForms.QICNAS
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="modal-body p-4">
    <form id="form_QICNASDecision" class="fs-14" autocomplete="off" name="QICNAS" ondrop="return false;" onpaste="return false;" oncut="return false;">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.qnasId, new { @id = "qnasId", @value = "@Model.qnasId" })

        <div class="row">
            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                <div>
                    <h5 class="font-weight-bold ps-3">Part one – Personal details</h5>
                </div>
                <div class="card-body">
                    <div class="row outer-border">
                        <div class="col-lg-12 col-md-12 ps-0">
                            <div class="form-group row">
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">Members's Name</label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.qnas_1, new { @class = "form-control mb-1", @id = "qnas_1", @maxlength = "20" })
                                    </div>
                                </div>
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">Membership number from your card</label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.qnas_2, new { @class = "form-control", @id = "qnas_2", @maxlength = "20" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">Patient's name and address</label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_address&nbsp;</span>
                                    </div>
                                </div>
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">Staff ID No</label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.qnas_3, new { @class = "form-control", @id = "qnas_3", @maxlength = "20" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">
                                        Email address
                                    </label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_email&nbsp;</span>
                                    </div>
                                </div>
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">Date Of Birth</label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">
                                        Patient’s relationship to member
                                    </label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.qnas_5, new { @class = "form-control", @id = "qnas_5", @maxlength = "10" })
                                    </div>
                                </div>
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">Employee's Mob number</label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.qnas_6, new { @class = "form-control", @id = "qnas_6", @maxlength = "20" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">Nationality</label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_nationality&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h5 class="font-weight-bold ps-3 text-black text-justify">
                        Part two – Medical details (To be fully completed by patient s medical practitioner-all boxes must be completed in block capitals)
                    </h5>
                </div>
                <div class="card-body">
                    <div class="row outer-border">
                        <div class="col-lg-12 col-md-12 ps-0">
                            <div class="form-group row">
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <label class="text-black text-justify col-sm-12 col-md-12 col-lg-12">
                                        Medical practitioner’s name and address
                                    </label>
                                    <div class="col-md-12 col-lg-12">
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.doc_name&nbsp;</span>
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_address&nbsp;</span>
                                    </div>
                                    <div class="col-md-12 col-lg-12 ps-0">
                                        <label class="col-md-6 col-lg-4 form-label">
                                            Mob number
                                        </label>
                                        <div class="col-md-10 col-lg-4">
                                            @Html.TextBoxFor(m => m.qnas_7, new { @class = "form-control", @id = "qnas_7", @maxlength = "20" })
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12">
                                        <p class="text-black text-justify">I declare that I am the patient's medical practitioner, and that the particulars given are to the best of my knowledge true and correct.</p>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <label class="text-black col-sm-12 col-md-12 col-lg-12">
                                        Date symptoms first noticed
                                    </label>
                                    <div class="col-md-12 col-lg-12">
                                        <div class="col-md-4 col-lg-4 input-group" style="min-width:200px">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fe fe-calendar"></i>
                                                </div>
                                            </div>
                                            @Html.TextBoxFor(m => m.qnas_date1, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "qnas_date1" })
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-lg-12">
                                        <label class="col-md-6 col-lg-4 form-label">
                                            Fax number
                                        </label>
                                        <div class="col-md-10 col-lg-4">
                                            @Html.TextBoxFor(m => m.qnas_8, new { @class = "form-control", @id = "qnas_8", @maxlength = "20" })
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-12">
                                        <label class="col-md-10 col-lg-4 text-black text-justify">
                                            Physician s Signature and stamp
                                        </label>
                                    </div>
                                    <div class="col-md-12 col-lg-12">
                                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <label class="text-black text-justify ps-3">
                                        Medical condition requiring treatment
                                    </label>
                                    <div class="col-md-12">
                                        @Html.TextAreaFor(m => m.qnas_9, new { @class = "form-control", @row = "2", @id = "qnas_9" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <label class="text-black text-justify ps-3">
                                        Please give the date on which the patient first presented to any doctor for this condition
                                    </label>
                                    <div class="col-md-12">
                                        @Html.TextAreaFor(m => m.qnas_10, new { @class = "form-control", @row = "2", @id = "qnas_10" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <label class="text-black text-justify ps-3">
                                        Please give the full history of the medical condition requiring treatment including full details of any previous investigation/treatment together with relevant dates. Please also advise any further treatment planned.
                                    </label>
                                    <div class="col-md-12">
                                        @Html.TextAreaFor(m => m.qnas_11, new { @class = "form-control", @row = "2", @id = "qnas_11" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <label class="text-black text-justify ps-3">
                            Other insurer's details (If the treatment is accident-related or covered under another insurance policy please provide name of insurance company)
                        </label>
                        <div class="col-md-12">
                            @Html.TextAreaFor(m => m.qnas_12, new { @class = "form-control", @row = "2", @id = "qnas_12" })
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h5 class="font-weight-bold ps-3">
                            Details of Claimed Amount
                        </h5>
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="tbl_1" class="table table-striped table-bordered text-nowrap" style="width: 50%; cursor: pointer;">
                                    <thead>
                                        <tr style="color: #fff !important; background-color: #808080; border-color: #3C457D; ">
                                            <th class="border-bottom-0 font-weight-semibold text-white">Out Patient Treatment</th>
                                            <th class="border-bottom-0 font-weight-semibold text-white" style="min-width:150px">Amount</th>
                                            <th class="border-bottom-0 font-weight-semibold text-white">In Patient Treatment</th>
                                            <th class="border-bottom-0 font-weight-semibold text-white" style="min-width:150px">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Consultation  </td>
                                            <td> @Html.TextBoxFor(m => m.qnas_13, new { @class = "form-control", @id = "qnas_13", @maxlength = "10" })</td>
                                            <td>Hospital charges/ Room</td>
                                            <td>@Html.TextBoxFor(m => m.qnas_14, new { @class = "form-control", @id = "qnas_14", @maxlength = "10" })</td>
                                        </tr>
                                        <tr>
                                            <td>Pharmacy</td>
                                            <td>@Html.TextBoxFor(m => m.qnas_15, new { @class = "form-control", @id = "qnas_15", @maxlength = "10" })</td>
                                            <td>Surgery/Anesthesia/OT</td>
                                            <td>@Html.TextBoxFor(m => m.qnas_16, new { @class = "form-control", @id = "qnas_16", @maxlength = "10" })</td>
                                        </tr>
                                        <tr>
                                            <td>Diagnostic/Lab/Others</td>
                                            <td>@Html.TextBoxFor(m => m.qnas_17, new { @class = "form-control", @id = "qnas_17", @maxlength = "10" })</td>
                                            <td>Drugs/Labs/Others</td>
                                            <td>@Html.TextBoxFor(m => m.qnas_18, new { @class = "form-control", @id = "qnas_18", @maxlength = "10" })</td>
                                        </tr>
                                        <tr>
                                            <td>Total Amount</td>
                                            <td>@Html.TextBoxFor(m => m.qnas_19, new { @class = "form-control", @id = "qnas_19", @maxlength = "100" })</td>
                                            <td>Total Amount</td>
                                            <td>@Html.TextBoxFor(m => m.qnas_20, new { @class = "form-control", @id = "qnas_20", @maxlength = "10" })</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <label class="col-md-12 col-lg-3 text-black text-justify ps-3">
                            Please specify the Currency you require settlement to be made in:
                        </label>
                        <div class="col-md-12 col-lg-6">
                            @Html.TextAreaFor(m => m.qnas_21, new { @class = "form-control", @row = "2", @id = "qnas_21" })
                        </div>
                    </div>
                </div>
                <div>
                    <h5 class="font-weight-bold ps-3">
                        Patient's declaration and conset
                    </h5>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p class="form-label text-justify ps-3">
                            I confirm I am the patient/patient s spouse or guardian (if patient under 16 years of age) and wish to claim benefits and declare that all the particulars given above are to the best of my knowledge true and correct. I hereby consent to and authorise the medical practitioner involved in the patient's care to discuss treatments detailes and discharge arrangements with NAS. I agree that a copy of this consent shall i have the validity of original
                        </p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <label class="col-md-5 col-lg-4 form-label"> Signature of the Insured/Guardian:</label>
                        <div class="col-md-4">
                            <div class="form-group mb-3" style="display:none" id="patimg"><img alt="Signature" src="" id="pat_sign" class="avatar avatar-xl bsquare" /></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <label class="col-md-3 col-lg-2 form-label">Date:</label>
                        <div class="col-md-6">
                            <label class="form-label text-red text-left" id="upsb_date_witness" name="">&nbsp;</label>
                        </div>
                    </div>
                </div>
                <div>
                    <h5 class="font-weight-bold ps-3">
                        The claim form must be submitted within 90 days of start of the treatment along with all original receipts, invoices and Physicians’ prescriptions.
                    </h5>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="row mt-2">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="btn-list btn-animation">
                        <button type="submit" class="btn btn-success" id="btn_Insert_QICNAS">Save</button>
                        <button type="button" class="btn btn-outline-dark" id="btn_Reset_QICNAS">Reset</button>
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-danger me-1" id="btn_Close_QICNAS" style="display:none">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@*@section myScripts{*@
<script type="text/javascript">
    //#region Page Load
        var formName1 = $(form_QICNASDecision).closest('form').attr('name');
        $(function () {
            validate();
            set_date();
        });
    //#endregion

    //#region Load set Date
        var set_date = function () {
            $('#qnas_date1').bootstrapdatepicker({
                format: "dd-MM-yyyy",
                viewMode: "date",
                todayHighlight: true,
                autoclose: true,
                multidate: false,
                multidateSeparator: "-"
            });
            $("#qnas_date1").bootstrapdatepicker("setDate", '');
        }
    //#endregion

    //#region Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
    //#endregion

    //#region Reset
        $('#btn_Reset_QICNAS').on('click', function (e) {
            e.preventDefault();
            clearControls();
        });
    //#endregion

    //#region Validation Initialization
        var validate = function () {
            $('#qnas_date1').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#qnas_13').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
            $("#qnas_13").on('input', function () {
                var disc = $(this).val();
                if (disc == "" || disc == null || disc == undefined) {
                    $("#qnas_13").val(0.00);
                }
            });
            $('#qnas_14').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
            $("#qnas_14").on('input', function () {
                var disc = $(this).val();
                if (disc == "" || disc == null || disc == undefined) {
                    $("#qnas_14").val(0.00);
                }
            });
            $('#qnas_15').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
            $("#qnas_15").on('input', function () {
                var disc = $(this).val();
                if (disc == "" || disc == null || disc == undefined) {
                    $("#qnas_15").val(0.00);
                }
            });
            $('#qnas_16').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
            $("#qnas_16").on('input', function () {
                var disc = $(this).val();
                if (disc == "" || disc == null || disc == undefined) {
                    $("#qnas_16").val(0.00);
                }
            });

            $('#qnas_17').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
            $("#qnas_17").on('input', function () {
                var disc = $(this).val();
                if (disc == "" || disc == null || disc == undefined) {
                    $("#qnas_17").val(0.00);
                }
            });
            $('#qnas_18').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
            $("#qnas_18").on('input', function () {
                var disc = $(this).val();
                if (disc == "" || disc == null || disc == undefined) {
                    $("#qnas_18").val(0.00);
                }
            });
            $('#qnas_19').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
            $("#qnas_19").on('input', function () {
                var disc = $(this).val();
                if (disc == "" || disc == null || disc == undefined) {
                    $("#qnas_19").val(0.00);
                }
            });
            $('#qnas_20').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
            $("#qnas_20").on('input', function () {
                var disc = $(this).val();
                if (disc == "" || disc == null || disc == undefined) {
                    $("#qnas_20").val(0.00);
                }
            });

        }

    //#endregion

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "QICNAS",
                "appId": @emr.appId,
                "formname":"QICNAS",
                "formlink":"PrintQICNASClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
        var openSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "QICNAS",
                "appId": @emr.appId,
                "formname":"QICNAS",
                "formlink":"PrintQICNASClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Clear Controls
        var clearControls = function () {
            $("#qnas_1").val("");
            $("#qnas_2").val("");
            $("#qnas_3").val("");
            $("#qnas_5").val("");
            $("#qnas_6").val("");
            $("#qnas_7").val("");
            $("#qnas_8").val("");
            $("#qnas_9").val("");
            $("#qnas_10").val("");
            $("#qnas_11").val("");
            $("#qnas_12").val("");
            $("#qnas_13").val("");
            $("#qnas_14").val("");
            $("#qnas_15").val("");
            $("#qnas_16").val("");
            $("#qnas_17").val("");
            $("#qnas_18").val("");
            $("#qnas_19").val("");
            $("#qnas_20").val("");
            $("#qnas_21").val("");
        }
    //#endregion

    //#region Insert Button Click
        $('#btn_Insert_QICNAS').on('click', function (e) {
            e.preventDefault();
            if ($("#form_QICNASDecision").valid()) {
                $('#btn_Insert_QICNAS').removeClass("btn btn-success");
                $('#btn_Insert_QICNAS').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Insert_QICNAS').html("Saving the Record....");

                var _dataInsert = {
                "qnasId": 0,
                "qnas_appId": @emr.appId,
                "qnas_1": $("#qnas_1").val(),
                "qnas_2": $("#qnas_2").val(),
                "qnas_3": $("#qnas_3").val(),
                "qnas_4": '',
                "qnas_5": $("#qnas_5").val(),
                "qnas_6": $("#qnas_6").val(),
                "qnas_7": $("#qnas_7").val(),
                "qnas_8": $("#qnas_8").val(),
                "qnas_9": $("#qnas_9").val(),
                "qnas_10": $("#qnas_10").val(),
                "qnas_11": $("#qnas_11").val(),
                "qnas_12": $("#qnas_12").val(),
                "qnas_13": $("#qnas_13").val(),
                "qnas_14": $("#qnas_14").val(),
                "qnas_15": $("#qnas_15").val(),
                "qnas_16": $("#qnas_16").val(),
                "qnas_17": $("#qnas_17").val(),
                "qnas_18": $("#qnas_18").val(),
                "qnas_19": $("#qnas_19").val(),
                "qnas_20": $("#qnas_20").val(),
                "qnas_21": $("#qnas_21").val(),
                "qnas_date1": moment($("#qnas_date1").val()).format("YYYY-MM-DD"),
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dataInsert);
            $.ajax({
            type: "POST",
            url: "@Url.Action("InsertQICNAS", "ReimbursementForms", new { area = "EMRForms" })",
            dataType: 'JSON',
            data: _dataInsert,
            success: function (data) {
            $('#btn_Insert_QICNAS').removeClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Insert_QICNAS').addClass("btn btn-success");
            $('#btn_Insert_QICNAS').html("Add");

            if (data.isSuccess) {
            if (data.isInserted) {
            GetQICNAS();
            var alertPlaceholder = document.getElementById("Alert");
            function alert(e, t) {
                var l = document.createElement("div");
                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
            }
            alert("<i class='fe fe-check-circle text-white'></i> QICNAS Claim Form Added Successfully!", "success");
            Timeout();
            EditQICNAS();
            }
            else {
                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                    "<div class='alert alert-light-warning' role='alert'>" +
                    "<button type='button' class='btn-close text-warning' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                    "<strong><i class='fa fa-exclamation-triangle text-warning'></i> QICNAS Claim Form Alredy Exists!</strong><br/>" +
                    "</div></div>";
                $("#error").html(html);
            }
            }
            else {
            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                "<div class='alert alert-light-danger' role='alert'>" +
                "<button type='button' class='btn-close text-danger' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                "<strong><i class='fa fa-ban text-danger'></i> Validation Error! Please validate before submitting.&nbsp;</strong><br/><ul>";

            $.each(data.message, function (index, value) {
                html += "<li><small>" + value + "</small><li>";
                var elem = $("#" + index);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                }
                else {
                    $(elem).addClass(" is-invalid");
                }

                setTimeout(function () {
                    if (elem.hasClass("select2-hidden-accessible")) {
                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                    }
                    else {
                        $(elem).removeClass("is-invalid");
                    }
                }, 5000);
            });
            html += "</ul></div></div>";
            $("#error").html(html);
            }
            },
            error: function (xhr) {
            $('#btn_Insert_QICNAS').removeClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Insert_QICNAS').addClass("btn btn-success");
            $('#btn_Insert_QICNAS').html("Add");
            Timeout();
            }
            });
            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion

</script>
@*}*@
<style>
    .outer-border {
        border: 2px solid #000; /* You can adjust the border thickness and color as needed */
        padding: 10px; /* Optional: Add padding for spacing */
    }
</style>