@model BusinessEntities.EMRForms.AAFIYA
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<form id="form_AAFIYADecision" autocomplete="off" name="AAFIYA" ondrop="return false;" onpaste="return false;" oncut="return false;" class="fs-14">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ccaId, new { @id = "ccaId", @value = "@Model.ccaId" })

    <!-- Row-->
    <div class="row mt-2 text-justify">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-body outer-border">
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-4 ps-0">
                                <label class="col-md-4 text-red font-weight-semibold">
                                    Provider Name
                                </label>
                                <div class="d-flex justify-content-center w-8 form-label">
                                    :
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.cca_1, new { @class = "form-control", @id = "cca_1", @maxlength = "50" })
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-8 ps-0">
                                <label class="col-md-4 text-red font-weight-semibold">
                                    Patient Name
                                </label>
                                <div class="d-flex justify-content-center w-8 form-label">
                                    :
                                </div>
                                <div class="col-md-8">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-4 ps-0 mb-2">
                                <label class="col-md-4 text-red font-weight-semibold">
                                    Insurance Company
                                </label>
                                <div class="d-flex justify-content-center w-8 form-label">
                                    :
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.cca_2, new { @class = "form-control", @id = "cca_2", @maxlength = "50" })
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-4 ps-0">
                                <label class="col-md-4 text-red font-weight-semibold">
                                    Patient Mobile No
                                </label>
                                <div class="d-flex justify-content-center w-8 form-label">
                                    :
                                </div>
                                <div class="col-md-8">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_mob&nbsp;</span>
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-4 ps-0">
                                <label class="col-md-4 text-red font-weight-semibold">
                                    File No
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-8">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_code&nbsp;</span>
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-4 ps-0 mb-2">
                                <label class="col-md-4 text-red font-weight-semibold">
                                    Company Name
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.cca_3, new { @class = "form-control", @id = "cca_3", @maxlength = "50" })
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-4 ps-0">
                                <label class="col-md-4 text-red font-weight-semibold">
                                    Member ID
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.cca_4, new { @class = "form-control mb-1", @id = "cca_4", @maxlength = "50" })
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-4 ps-0">
                                <label class="col-md-4 text-red font-weight-semibold">
                                    Date Of Treatment
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fe fe-calendar"></i>
                                            </div>
                                        </div>
                                        @Html.TextBoxFor(m => m.cca_date1, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "cca_date1" })
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-4 ps-0">
                                <label class="col-md-4 text-red font-weight-semibold">
                                    Date Of Birth
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-8">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-4 ps-0">
                                <label class="col-md-4 text-red font-weight-semibold">
                                    Gender
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-8">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_gender&nbsp;</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="text-black">Chief Complaint </label>
                            <div>
                                <label class="text-black text-red text-left" id="complaints" name="">&nbsp;</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 text-black">Referral (if needed)</label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.cca_5, new { @class = "form-control", @id = "cca_5", @maxlength = "50" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="form-label">
                                Clinical Findings
                            </label>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label class="form-label">
                                    BP
                                </label>
                                <div>
                                    <label class="form-label text-red text-left" id="sign_bp" name="">&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">
                                    Temp
                                </label>
                                <div>
                                    <label class="form-label text-red text-left" id="sign_temp" name="">&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">
                                    Pulse
                                </label>
                                <div>
                                    <label class="form-label text-red text-left" id="sign_pulse" name="">&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">
                                    Notes
                                </label>
                                <div>
                                    <label class="form-label text-red text-left" id="sign_notes" name="">&nbsp;</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="text-black">Diagnosis</label>
                            <div>
                                <label class="text-black text-red text-left" id="diagnosis" name="">&nbsp;</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="cca_check" value="1">
                                        <span class="custom-control-label">PEC/CHRONIC</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="cca_check" value="2">
                                        <span class="custom-control-label">CONGENITAL</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="cca_check" value="3">
                                        <span class="custom-control-label">MATERNITY</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="cca_check" value="4">
                                        <span class="custom-control-label">DENTAL</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="cca_check" value="5">
                                        <span class="custom-control-label">OPTICAL</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="cca_check" value="6">
                                        <span class="custom-control-label">WORK RELATED OTHERS</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="text-black">Treatment Details</label>
                            <div>
                                <label class="text-black text-red text-left" id="treatments" name="">&nbsp;</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 text-black">Requested Investigations</label>
                            <div class="col-md-6">
                                @Html.TextAreaFor(m => m.cca_6, new { @class = "form-control", @row = "2", @id = "cca_6" })
                            </div>
                            <label class="col-md-2 text-black">Estimated Cost</label>
                            <div class="col-md-2">
                                @Html.TextBoxFor(m => m.cca_7, new { @class = "form-control", @id = "cca_7", @maxlength = "50" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="text-black">Prescription</label>
                                <div>
                                    @Html.TextBoxFor(m => m.cca_8, new { @class = "form-control", @id = "cca_8", @maxlength = "50" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="text-black">Dose</label>
                                <div>
                                    @Html.TextBoxFor(m => m.cca_9, new { @class = "form-control", @id = "cca_9", @maxlength = "50" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="text-black">Duration</label>
                                <div>
                                    @Html.TextBoxFor(m => m.cca_10, new { @class = "form-control", @id = "cca_10", @maxlength = "50" })
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="text-black">Estimated Costs</label>
                                <div>
                                    @Html.TextBoxFor(m => m.cca_11, new { @class = "form-control", @id = "cca_11", @maxlength = "50" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mt-2">
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <h5 class="font-weight-bold">MEDICAL PRACTITIONER’S DECLARATION </h5>
                                <p>I declare that I am the patient’s medical practitioner and that the particulars given are to the best of my knowledge true and correct.</p>
                                <label class="form-label">Doctor Name</label>
                                <div>
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.doc_name&nbsp;</span>
                                </div>
                                <label class="form-label">Doctor's Sign & Stamp</label>
                                <div>
                                    <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6 mt-2">
                                <h5 class="font-weight-bold">
                                    PATIENT’S DECLARATION :
                                </h5>
                                <p>I hereby authorize any Healthcare provider, Insurer, Employer or other organization to release any information regarding my medical condition & history to Aafiya for purpose of determining insurance benefits.</p>

                                <label class="form-label">Date</label>
                                <div>
                                    <label class="form-label text-red text-left" id="psb_date_witness" name="">&nbsp;</label>
                                </div>
                                <label class="form-label">Patient‘s Signature <span class="text-info">{Parent if minor}</span></label>
                                <div id="patimg">
                                    <img alt="Signature" src="" id="pat_sign" class="avatar avatar-xl bsquare" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <p class="text-red text-justify">
                                Aafiya Medical Billing Services reserve its right during the Agreement period with the service provider, survey and audit the
                                service provider’s operations with respect to its performance of services, the patient visit details and claims.
                            </p>
                        </div>
                        <div class="form-group bg-red-darker">
                            <p class="text-white text-justify text-center">
                                24/7 Claims Centre<br />
                                Helpline : 9714263 0666 | Tel : 971 4 283 8116 | Fax : 971 4 283 8115 | Email : claims@aafiya.ae | Website : www.aafiya.ae
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->

    <div class="row ">
        <div class="row mt-2">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="btn-list btn-animation">
                    <button type="submit" class="btn btn-success" id="btn_Insert_AAFIYA">Save</button>
                    <button type="button" class="btn btn-outline-dark" id="btn_Reset_AAFIYA">Reset</button>
                    <div class="btn-group mr-2">
                        <div class="dropdown">
                            <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="warningMessage" class="text-danger" style="display: none;">Please fill in at least one field before submitting.</div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    //#region Page Load
        var formName1 = $(form_AAFIYADecision).closest('form').attr('name');
        $(function () {
            set_date();
            validate();
            Get_EMRINFO();
            Get_Patient_signs();
        });
    //#endregion

    //#region Load Get Diagnosis,treatments,history,invoice
        var Get_EMRINFO = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetEmrInfo", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#complaints').text(response[0].complaints);
                        $('#diagnosis').text(response[0].diagnosis);
                        $('#treatments').text(response[0].treatments);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion
    //#region Load Get_Patient_signs
        var Get_Patient_signs = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Get_Patient_Signs", "ReimbursementForms", new { area = "EMRForms" })?appId="+@emr.appId,
                success: function (response) {
                    if (response.length > 0) {
                        var str1 = response[0].sign_bp;
                        var str2 = response[0].sign_pulse;
                        var str3 = response[0].sign_temp;
                        var str4 = response[0].sign_notes;
                        var regex = /(|<([^>]+)>)/ig;
                        $("#sign_bp").text(str1.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_pulse").text(str2.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_temp").text(str3.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_notes").text(str4.replace(/(<p>|<\/p>)/g, ""));
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
    //#endregion
    //#region Load set Date
        var set_date = function () {
            $('#cca_date1,#cca_date2,#cca_date3,#cca_date4').bootstrapdatepicker({
                format: "dd-MM-yyyy",
                viewMode: "date",
                todayHighlight: true,
                autoclose: true,
                multidate: false,
                multidateSeparator: "-"
            });
            $("#cca_date1,#cca_date2,#cca_date3,#cca_date4").bootstrapdatepicker("setDate", '');
            $('#cca_date5,#cca_date6,#cca_date7,#cca_date8').bootstrapdatepicker({
                format: "dd-MM-yyyy",
                viewMode: "date",
                todayHighlight: true,
                autoclose: true,
                multidate: false,
                multidateSeparator: "-"
            });
            $("#cca_date5,#cca_date6,#cca_date7,#cca_date8").bootstrapdatepicker("setDate", '');
        }
    //#endregion

    //#region Function to check if any field is filled
        function isAnyFieldFilledOrSelected() {
            var isFilledOrSelected = false;

            // Check input fields
            $('.form-control').each(function () {
                if ($(this).val().trim() !== '') {
                    isFilledOrSelected = true;
                    return false; // Exit the loop if any input field is filled
                }
            });

            // Check checkboxes and radio buttons
            $('input[type="checkbox"], input[type="radio"]').each(function () {
                if ($(this).is(':checked')) {
                    isFilledOrSelected = true;
                    return false; // Exit the loop if any checkbox or radio button is selected
                }
            });

            return isFilledOrSelected;
        }
    //#endregion

    //#region Validation Initialization
        var validate = function () {

            $('#cca_date1').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#cca_date2').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });

            $('#cca_date3').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#cca_date4').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#cca_date5').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#cca_date6').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#cca_date7').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#cca_date8').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });

        }
    //#endregion

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            localStorage.removeItem("sign");
        }
    });

    //#region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=' + formName1,
                type: "GET",
                dataType: "json",
                async: false,
                success: function (response) {
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY HH:mm");
                    if (response[0].person == "patient") {
                        $("#patimg").show();
                        $("#pat_sign").attr("src", sign);
                        $("#pat_sign").removeClass("avatar avatar-xxl bsquare");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
    //#endregion

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "AAFIYA",
                "appId": @emr.appId,
                "formname":"AAFIYA",
                "formlink":"PrintAAFIYA",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
        var openSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "AAFIYA",
                "appId": @emr.appId,
                "formname":"AAFIYA",
                "formlink":"PrintAAFIYA",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
    //#endregion

    //#region Reset
        $('#btn_Reset_AAFIYA').on('click', function (e) {
            e.preventDefault();
            clearControls();
        });
    //#endregion

    //#region Clear Controls
        var clearControls = function () {
        $("#cca_1").val("");
        $("#cca_2").val("");
        $("#cca_3").val("");
        $("#cca_4").val("");
        $("#cca_5").val("");
        $("#cca_6").val("");
        $("#cca_7").val("");
        $("#cca_8").val("");
        $("#cca_9").val("");
        $("#cca_10").val("");
        $("#cca_11").val("");
        $("#cca_12").val("");
        $("#cca_13").val("");
        $("#cca_14").val("");
        $("#cca_15").val("");
        $("#cca_16").val("");
        $("#cca_17").val("");
        $("#cca_18").val("");
        $("#cca_19").val("");
        $("#cca_20").val("");
        $("#cca_date1").bootstrapdatepicker("setDate", '');
        $("#cca_date2").bootstrapdatepicker("setDate", '');
        $("#cca_date3").bootstrapdatepicker("setDate", '');
        $("#cca_date4").bootstrapdatepicker("setDate", '');
        $("#cca_date5").bootstrapdatepicker("setDate", '');
        $("#cca_date6").bootstrapdatepicker("setDate", '');
        $("#cca_date7").bootstrapdatepicker("setDate", '');
        $("#cca_date8").bootstrapdatepicker("setDate", '');
        var elements = document.getElementsByClassName('custom-control-input');
        Array.prototype.forEach.call(elements, function (element) {
            element.checked = false;
        });
    }
    //#endregion

    //#region Insert Button Click
        $('#btn_Insert_AAFIYA').on('click', function (e) {
            e.preventDefault();
            if (isAnyFieldFilledOrSelected()) {
               if ($("#form_AAFIYADecision").valid()) {
                    $('#btn_Insert_AAFIYA').removeClass("btn btn-success");
                    $('#btn_Insert_AAFIYA').addClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Insert_AAFIYA').html("Saving the Record....");
                    var cca_chkbox = "";
                    $('.custom-control-input:checked').each(function (index) {
                        cca_chkbox = cca_chkbox + ',' + $(this).val();
                    });
                    var cca_checkbox = cca_chkbox.substring(1);
                    var _dataInsert = {
                    "ccaId": 0,
                    "cca_appId": @emr.appId,
                    "cca_chk": cca_checkbox,
                    "cca_1": $("#cca_1").val(),
                    "cca_2": $("#cca_2").val(),
                    "cca_3": $("#cca_3").val(),
                    "cca_4": $("#cca_4").val(),
                    "cca_5": $("#cca_5").val(),
                    "cca_6": $("#cca_6").val(),
                    "cca_7": $("#cca_7").val(),
                    "cca_8": $("#cca_8").val(),
                    "cca_9": $("#cca_9").val(),
                    "cca_10": $("#cca_10").val(),
                    "cca_11": $("#cca_11").val(),
                    "cca_12": $("#cca_12").val(),
                    "cca_13": $("#cca_13").val(),
                    "cca_14": $("#cca_14").val(),
                    "cca_15": $("#cca_15").val(),
                    "cca_16": $("#cca_16").val(),
                    "cca_17": $("#cca_17").val(),
                    "cca_18": $("#cca_18").val(),
                    "cca_19": $("#cca_19").val(),
                    "cca_20": $("#cca_20").val(),
                    "cca_date1": moment($("#cca_date1").val()).format("YYYY-MM-DD"),
                    "cca_date2": moment($("#cca_date2").val()).format("YYYY-MM-DD"),
                    "cca_date3": moment($("#cca_date3").val()).format("YYYY-MM-DD"),
                    "cca_date4": moment($("#cca_date4").val()).format("YYYY-MM-DD"),
                    "cca_date5": moment($("#cca_date5").val()).format("YYYY-MM-DD"),
                    "cca_date6": moment($("#cca_date6").val()).format("YYYY-MM-DD"),
                    "cca_date7": moment($("#cca_date7").val()).format("YYYY-MM-DD"),
                    "cca_date8": moment($("#cca_date8").val()).format("YYYY-MM-DD"),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                    }
                    console.log(_dataInsert);
                $.ajax({
                type: "POST",
                url: "@Url.Action("InsertAAFIYA", "ReimbursementForms", new { area = "EMRForms" })",
                dataType: 'JSON',
                data: _dataInsert,
                success: function (data) {
                $('#btn_Insert_AAFIYA').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Insert_AAFIYA').addClass("btn btn-success");
                $('#btn_Insert_AAFIYA').html("Add");

                if (data.isSuccess) {
                if (data.isInserted) {
                GetAAFIYA();
                var alertPlaceholder = document.getElementById("Alert");
                function alert(e, t) {
                    var l = document.createElement("div");
                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                }
                alert("<i class='fe fe-check-circle text-white'></i> AAFIYA Claim Form Added Successfully!", "success");
                Timeout();
                Editaafiya()
                }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-light-warning' role='alert'>" +
                            "<button type='button' class='btn-close text-warning' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong><i class='fa fa-exclamation-triangle text-warning'></i> AAFIYA Claim Form Alredy Exists!</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                    "<div class='alert alert-light-danger' role='alert'>" +
                    "<button type='button' class='btn-close text-danger' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                    "<strong><i class='fa fa-ban text-danger'></i> Validation Error! Please validate before submitting.&nbsp;</strong><br/><ul>";

                $.each(data.message, function (index, value) {
                    html += "<li><small>" + value + "</small><li>";
                    var elem = $("#" + index);
                    if (elem.hasClass("select2-hidden-accessible")) {
                        $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                    }
                    else {
                        $(elem).addClass(" is-invalid");
                    }

                    setTimeout(function () {
                        if (elem.hasClass("select2-hidden-accessible")) {
                            $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                        }
                        else {
                            $(elem).removeClass("is-invalid");
                        }
                    }, 5000);
                });
                html += "</ul></div></div>";
                $("#error").html(html);
                }
                },
                error: function (xhr) {
                $('#btn_Insert_AAFIYA').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Insert_AAFIYA').addClass("btn btn-success");
                $('#btn_Insert_AAFIYA').html("Add");
                Timeout();
                }
                });
                }
                else {
                    $('.modal-body').animate({
                        scrollTop: ($('.has-error').offset().top - 300)
                    }, 2000);
                }
            } else {
                // Show a message box or alert indicating that at least one field must be filled
                //alert('Please fill in at least one field before submitting.');
                $('#warningMessage').show();
                // Prevent form submission
                return false;
            }

        });
    //#endregion
</script>
<style>
    #warningMessage {
        color: red;
        background-color: #ffe6e6;
        font-size: 16px;
        padding: 10px;
        margin: 10px 0;
        font-weight: bold;
        text-align: center;
        border: 1px solid red;
        border-radius: 5px;
        display: block;
        transition: display 0.5s ease-in-out;
    }
</style>
