@model BusinessEntities.EMRForms.Healthnet
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="modal-body p-4">
    <form id="form_HealthnetDecision" class="fs-14" autocomplete="off" name="Healthnet" ondrop="return false;" onpaste="return false;" oncut="return false;">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.chr_Id, new { @id = "chr_Id", @value = "@Model.chr_Id" })

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 justify-content-center">
                <h4 class="text-center">REIMBURSEMENT FORM FOR OUT OF NETWORK TREATMENT</h4>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="form-label mb-2 text-danger">
                    INSTRUCTIONS: Please read the following information carefully before filling the form
                </p>
                <p class="form-label mb-2 text-danger">
                    Please fill Section A of this form and request your doctor to fill up Section B.
                </p>
                <p class="form-label mb-2 text-danger">
                    Please attach the following supporting documents to your claim form:
                </p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card-body ps-5 pe-5">
                    <ul class="list-style4 text-justify text-black">
                        <li>Original Itemized Bills / Invoices</li>
                        <li>Original Payments Receipts / Credit Card Slips.</li>
                        <li>Original Prescriptions.</li>
                        <li>Original Discharge Summary</li>
                        <li>Copies of Laboratory and Radiology Reports </li>
                        <li>Copies of Operative Notes and Histopathology Report in case of surgery</li>
                        <li>Copy of Birth Certificate in case of Child Birth</li>
                        <li>Copy of Pre-authorization Letter from Health Net</li>
                        <li>Legal tranlsation of all documents in case originals are in any language other than Arabic or English</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="text-black text-justify">
                    Please send your claim within 90 days of your treatment date to Medical Claims Department at the following address:
                    National General Insurance Co., 5th Floor, NGI House, Port Saeed, Deira, P.O.Box 154, Dubai
                </p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="text-black text-justify">
                    If You have any difficulty filling this form, Please contact our Customer Service Desk during office hours(08:00 a.m to 05:00 p.m except Friday & Saturday)
                    Telephone: +971 4 2115 800 or E-mail customerservice@ngiuae.com
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                <div class="panel-heading bg-gray-lighter text-danger bold justify-content-center">Section - A: Policyholder's Details (to be completed by the insured)</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label">1. HealthNet Policy / Card No</label>
                                <div class="col-md-6 col-lg-9">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pi_insno&nbsp;</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label"> 2. Name of Policyholder</label>
                                <div class="col-md-6 col-lg-2">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                </div>
                                <label class="col-md-6 col-lg-2 form-label"> Date of Birth</label>
                                <div class="col-md-6 col-lg-2">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                                </div>
                                <label class="col-md-6 col-lg-1 form-label"> Gender</label>
                                <div class="col-md-6 col-lg-1">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_gender&nbsp;</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label">3. Name of Employee (If different from Policyholder)</label>
                                <div class="col-md-6 col-lg-9">
                                    @Html.TextBoxFor(m => m.chr_1, new { @class = "form-control", @id = "chr_1", @width = "20px", @maxlength = "20" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-12 col-lg-3 form-label">4. Patient's relationship to insured</label>
                                <div class="col-sm-12 col-md-3 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="chr_2[1]" value="1">
                                        <span class="custom-control-label">Self</span>
                                    </label>&nbsp;
                                </div>
                                <div class="col-sm-12 col-md-3 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="chr_2[1]" value="2">
                                        <span class="custom-control-label">Spouse</span>
                                    </label>&nbsp;
                                </div>
                                <div class="col-sm-12 col-md-3 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="chr_2[1]" value="3">
                                        <span class="custom-control-label">Dependent </span>
                                    </label>&nbsp;
                                </div>
                                <div class="col-sm-12 col-md-3 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="chr_2[1]" value="4">
                                        <span class="custom-control-label">Child </span>
                                    </label>&nbsp;
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label">5. Contact Numbers</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_mob&nbsp;</span>
                                </div>
                                <label class="col-md-6 col-lg-1 form-label">Others</label>
                                <div class="col-md-6 col-lg-2">
                                    @Html.TextBoxFor(m => m.chr_2, new { @class = "form-control", @id = "chr_2", @width = "20px", @maxlength = "14" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label">6. E-mail address</label>
                                <div class="col-md-6 col-lg-9">
                                    @if (@emr.pat_email != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_email&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>

                            <div class="form-group row mb-0">
                                <label class="col-md-6 col-lg-3 form-label">7. Total Claimed Amount (in original currency)</label>
                                <div class="col-md-6 col-lg-9">
                                    @Html.TextBoxFor(m => m.chr_amount, new { @class = "form-control", @id = "chr_amount", @width = "20px" })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="panel-heading bg-gray-lighter text-danger bold justify-content-center">Declaration / Authorization</div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
                <p class="text-black text-justify">
                    I certify that all information contained in / provided with the claim form is complete and correct. I hereby authorize any doctor, hospital, clinic or medical provider,
                    any insurance company or any other organization or person who has medical record or information about me and / or of my family members (if covered under HealthNet Insurance Policy)
                    to furnish it to National General Insurance Co.(PSC). Any photocopy of this declaration / authorization shall be deemed as effective as the original.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group row">
                    <div class="form-group mb-3" style="display:none" id="patimg"><img alt="Signature" src="" id="pat_sign" class="avatar avatar-xl bsquare" /></div>
                    <p class="text-black">Signature of Policyholder</p>
                    <p class="text-black">(Self & behalf of Family Member)</p>
                    <p class="text-black">Date:<span class="font-weight-normal1 text-capitalize text-left">@emr.today&nbsp;</span></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                <div class="panel-heading bg-gray-lighter text-danger bold justify-content-center">Section - B: Patient's Details (to be completed by Treating Doctor)</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label">Name of the Patient</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                </div>
                                <label class="col-md-6 col-lg-3 form-label">Date of Birth</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label">Name of the Treating Physician / Surgeon</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.doc_name&nbsp;</span>
                                </div>
                                <label class="col-md-6 col-lg-3 form-label">Speciality</label>
                                <div class="col-md-i6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_speciality&nbsp;</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label"> Licence / Registration No</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_license&nbsp;</span>
                                </div>
                                <label class="col-md-6 col-lg-3 form-label">Name & Address of Hospital / Clinic</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.set_company&nbsp;</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label"> Telephone No</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.set_tel&nbsp;</span>
                                </div>
                                <label class="col-md-6 col-lg-3 form-label">Email address</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.set_email&nbsp;</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 text-black">Are you patient's primary physician?</label>
                                <div class="col-sm-12 col-md-3 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="chr_2[2]" value="5">
                                        <span class="custom-control-label">Yes</span>
                                    </label>&nbsp;
                                </div>
                                <div class="col-sm-12 col-md-3 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="chr_2[2]" value="6">
                                        <span class="custom-control-label">No</span>
                                    </label>&nbsp;
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 text-black"> Presenting Complaints</label>
                                <div class="col-md-6 col-lg-9">
                                    <label class="text-black text-red text-left" id="complaints" name="">&nbsp;</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 text-black">Duration of Symptoms</label>
                                <div class="col-md-6 col-lg-2">
                                    @Html.TextBoxFor(m => m.chr_symptom, new { @class = "form-control", @id = "chr_symptom", @width = "20px", @maxlength = "20" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 text-black">Onset of Condition</label>
                                <div class="col-md-6 col-lg-9">
                                    @Html.TextAreaFor(m => m.chr_condition, new { @class = "form-control", @row = "2", @id = "chr_condition", @maxlength = "300" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 text-black">Relevent Past Medical / Surgical History</label>
                                <div class="col-md-6 col-lg-9">
                                    @Html.TextAreaFor(m => m.chr_history, new { @class = "form-control", @row = "2", @id = "chr_history", @maxlength = "300" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 text-black">Diagnosis</label>
                                <div class="col-md-6 col-lg-3">
                                    <label class="text-black text-red text-left" id="diag_names" name="">&nbsp;</label>
                                </div>
                                <label class="col-md-6 col-lg-3 text-black">ICD Code</label>
                                <div class="col-md-6 col-lg-3">
                                    <label class="text-black text-red text-left" id="diag_codes" name="">&nbsp;</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 text-black">Etiology</label>
                                <div class="col-md-6 col-lg-9">
                                    @Html.TextAreaFor(m => m.chr_etiology, new { @class = "form-control", @row = "2", @id = "chr_etiology", @maxlength = "300" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-12 col-lg-3 text-black">Plan / Details of Managment</label>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="card-body">
                                        <ul class="list-style3">
                                            <li>
                                                <div class="form-group row">
                                                    <label class="col-md-6 col-lg-2 text-black">Procedure</label>
                                                    <div class="col-md-6 col-lg-6">
                                                        <label class="text-black text-red text-left" id="pt_tr_name" name="">&nbsp;</label>
                                                    </div>
                                                    <label class="col-md-6 col-lg-2 text-black">CPT Code</label>
                                                    <div class="col-md-6 col-lg-2">
                                                        <label class="text-black text-red text-left" id="pt_tr_code" name="">&nbsp;</label>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-group row">
                                                    <label class="col-md-6 col-lg-2 text-black">Laboratory Test</label>
                                                    <div class="col-md-6 col-lg-10">
                                                        <label class="text-black text-red text-left" id="chr_lab" name="">&nbsp;</label>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-group row">
                                                    <label class="col-md-6 col-lg-2 text-black">Radiology / Investigations</label>
                                                    <div class="col-md-6 col-lg-10">
                                                        <label class="text-black text-red text-left" id="chr_radiology" name="">&nbsp;</label>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-12 col-lg-2 form-label">In case of Hospitalization</label>
                                <label class="col-md-6 col-lg-2 text-black">Date of Admission:</label>
                                <div class="col-md-6 col-lg-2 mb-1">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fe fe-calendar"></i>
                                            </div>
                                        </div>
                                        @Html.TextBoxFor(m => m.chr_d1, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "chr_d1" })
                                    </div>
                                </div>
                                <label class="col-md-6 col-lg-2 text-black">	Date of Discharge:</label>
                                <div class="col-md-6 col-lg-2">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fe fe-calendar"></i>
                                            </div>
                                        </div>
                                        @Html.TextBoxFor(m => m.chr_d2, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "chr_d2" })
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="form-group row">
                    <div class="form-group mb-3"><img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" /></div>
                    <p class="text-black">Signature & Seal of Treating Physician / Surgeon</p>
                    <p class="text-black">Date:<span class="font-weight-normal1 text-capitalize text-left">@emr.app_fdate&nbsp;</span></p>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="panel-heading bg-gray-lighter text-danger bold justify-content-center">Section - C For Office Use Only (to be completed by Claims Manager)</div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
                <label class="mb-2 text-black">
                    Remarks
                </label>
                @Html.TextAreaFor(m => m.chr_remarks, new { @class = "form-control", @row = "2", @id = "chr_remarks" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group row">
                    <div class="form-group mb-3" style="display:none" id="Managerimg"><img alt="Signature" src="" id="Manager_sign" class="avatar avatar-xl bsquare" /></div>
                    <p class="text-black">Claims Manager's Signature</p>
                    <p class="text-black">Date: <label class="form-label text-red text-left" id="psb_date_Manager" name="">&nbsp;</label></p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group row">
                    <div class="form-group mb-3" style="display:none" id="Authorizedimg"><img alt="Signature" src="" id="Authorized_sign" class="avatar avatar-xl bsquare" /></div>
                    <p class="text-black">Authorized Signatory's Signature</p>
                    <p class="text-black">Date: <label class="form-label text-red text-left" id="psb_date_Authorized" name="">&nbsp;</label></p>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="btn-list btn-animation">
                    <button type="submit" class="btn btn-success" id="btn_Insert_Healthnet">Save</button>
                    <button type="button" class="btn btn-outline-dark" id="btn_Reset_Healthnet">Reset</button>
                    <div class="btn-group mr-2">
                        <div class="dropdown">
                            <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group mr-2">
                        <div class="dropdown">
                            <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Claims Manager's Signature
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" onclick="openSignaturePad('Manager')">Tab</a>
                                <a class="dropdown-item" onclick="openWacomTabSignaturePad('Manager')">Wacom Tab</a>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group mr-2">
                        <div class="dropdown">
                            <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Authorized Signatory's Signature
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" onclick="openSignaturePad('Authorized')">Tab</a>
                                <a class="dropdown-item" onclick="openWacomTabSignaturePad('Authorized')">Wacom Tab</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

    </form>
</div>
@*@section myScripts{*@
<script type="text/javascript">

    //#region Page Load
        var formName1 = $(form_HealthnetDecision).closest('form').attr('name');
        $(function () {
            validate();
            set_date();
            Get_EMRINFO();
        });
    //#endregion Page Load

    //#region Load set Date
        var set_date = function () {
            $('#chr_d1,#chr_d2').bootstrapdatepicker({
                format: "dd-MM-yyyy",
                viewMode: "date",
                todayHighlight: true,
                autoclose: true,
                multidate: false,
                multidateSeparator: "-"
            });
            $("#chr_d1,#chr_d2").bootstrapdatepicker("setDate", '');
        }
    //#endregion

    //#region Validation Initialization
        var validate = function () {
            $('#chr_d1').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#chr_d2').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#chr_2').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                else {
                    if (e.target.value.length >= 15)
                        return false;
                }
            });
        }
    //#endregion

    //#region Load Get Diagnosis,treatments,history,invoice
        var Get_EMRINFO = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetEmrInfo", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#chr_amount').text(response[0].inv_net);
                        $('#chr_history').text(response[0].past);
                        $('#pt_tr_code').text(response[0].pt_tr_code);
                        $('#pt_tr_name').text(response[0].pt_tr_name);
                        $('#diag_names').text(response[0].diag_names);
                        $('#diag_codes').text(response[0].diag_codes);
                        $('#complaints').text(response[0].complaints);
                        $('#chr_lab').text(response[0].chr_lab);
                        $('#chr_radiology').text(response[0].chr_radiology);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "Healthnet",
                "appId": @emr.appId,
                "formname":"Healthnet",
                "formlink":"PrintHealthnetClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
        var openSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "Healthnet",
                "appId": @emr.appId,
                "formname":"Healthnet",
                "formlink":"PrintHealthnetClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
    //#endregion

    //#region Reset
        $('#btn_Reset_Healthnet').on('click', function (e) {
            e.preventDefault();
            clearControls();
        });
    //#endregion

    //#region Clear Controls
        var clearControls = function () {
            $("#chr_d1").bootstrapdatepicker("setDate", '');
            $("#chr_d2").bootstrapdatepicker("setDate", '');
            $("#chr_1").val("");
            $("#chr_2").val("");
            $("#chr_amount").val("");
            $("#chr_symptom").val("");
            $("#chr_condition").val("");
            $("#chr_history").val("");
            $("#chr_etiology").val("");
            $("#chr_lab").val("");
            $("#chr_radiology").val("");
            $("#chr_remarks").val("");
            var elements = document.getElementsByClassName('custom-control-input');
            Array.prototype.forEach.call(elements, function (element) {
                element.checked = false;
            });
        }
    //#endregion

    //#region Insert Button Click
        $('#btn_Insert_Healthnet').on('click', function (e) {
            e.preventDefault();
            if ($("#form_HealthnetDecision").valid()) {
                $('#btn_Insert_Healthnet').removeClass("btn btn-success");
                $('#btn_Insert_Healthnet').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Insert_Healthnet').html("Saving the Record....");
                var chr_chkbox = "";
                $('.custom-control-input:checked').each(function (index) {
                    chr_chkbox = chr_chkbox + ',' + $(this).val();
                });
                var chr_checkbox = chr_chkbox.substring(1);
                var _dataInsert = {
                "chr_Id": 0,
                "chr_appId": @emr.appId,
                "chr_checkbox": chr_checkbox,
                "chr_1": $("#chr_1").val(),
                "chr_2": $("#chr_2").val(),
                "chr_amount": $("#chr_amount").val(),
                "chr_symptom": $("#chr_symptom").val(),
                "chr_condition": $("#chr_condition").val(),
                "chr_history": $("#chr_history").val(),
                "chr_etiology": $("#chr_etiology").val(),
                "chr_lab": $("#chr_lab").text(),
                "chr_radiology": $("#chr_radiology").text(),
                "chr_remarks": $("#chr_remarks").val(),
                "chr_d1": moment($("#chr_d1").val()).format("YYYY-MM-DD"),
                "chr_d2": moment($("#chr_d2").val()).format("YYYY-MM-DD"),
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dataInsert);
            $.ajax({
            type: "POST",
            url: "@Url.Action("InsertHealthnet", "ReimbursementForms", new { area = "EMRForms" })",
            dataType: 'JSON',
            data: _dataInsert,
            success: function (data) {
                $('#btn_Insert_Healthnet').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Insert_Healthnet').addClass("btn btn-success");
                $('#btn_Insert_Healthnet').html("Add");

                if (data.isSuccess) {
                if (data.isInserted) {
                GetHealthnet();
                var alertPlaceholder = document.getElementById("Alert");
                function alert(e, t) {
                    var l = document.createElement("div");
                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                }
                alert("<i class='fe fe-check-circle text-white'></i> Healthnet Claim Form Added Successfully!", "success");
                Timeout();
                Edithealthnet();
            }
                else {
                    let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                        "<div class='alert alert-light-warning' role='alert'>" +
                        "<button type='button' class='btn-close text-warning' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong><i class='fa fa-exclamation-triangle text-warning'></i> Healthnet Claim Form Alredy Exists!</strong><br/>" +
                        "</div></div>";
                    $("#error").html(html);
                }
            }
            else {
            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                "<div class='alert alert-light-danger' role='alert'>" +
                "<button type='button' class='btn-close text-danger' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                "<strong><i class='fa fa-ban text-danger'></i> Validation Error! Please validate before submitting.&nbsp;</strong><br/><ul>";

            $.each(data.message, function (index, value) {
                html += "<li><small>" + value + "</small><li>";
                var elem = $("#" + index);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                }
                else {
                    $(elem).addClass(" is-invalid");
                }

                setTimeout(function () {
                    if (elem.hasClass("select2-hidden-accessible")) {
                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                    }
                    else {
                        $(elem).removeClass("is-invalid");
                    }
                }, 5000);
            });
            html += "</ul></div></div>";
            $("#error").html(html);
            }
            },
            error: function (xhr) {
            $('#btn_Insert_Healthnet').removeClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Insert_Healthnet').addClass("btn btn-success");
            $('#btn_Insert_Healthnet').html("Add");
            Timeout();
            }
            });
            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion

</script>
@*}*@
