@model BusinessEntities.EMRForms.Gulfcare
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="modal-body p-4">
    <form id="form_GulfcareDecision" class="fs-14" autocomplete="off" name="Gulfcare" ondrop="return false;" onpaste="return false;" oncut="return false;">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.gucnId, new { @id = "gucnId", @value = "@Model.gucnId" })

        <div class="row">
            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                <div>
                    <h5 class="font-weight-bold ps-3">Section 1 – Member Information</h5>
                </div>
                <div class="card-body">
                    <div class="row outer-border">
                        <div class="col-lg-12 col-md-12 ps-0">
                            <div class="form-group row">
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">Patient name (as printed on card)</label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">Membership number from your card</label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pi_insno&nbsp;</span>
                                    </div>
                                </div>
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">Date Of Birth</label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">

                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">
                                        Principal name (as printed on card)
                                    </label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.gucn_1, new { @class = "form-control", @id = "gucn_1", @maxlength = "10" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">
                                        Principal contact information
                                    </label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.gucn_2, new { @class = "form-control", @id = "gucn_2", @maxlength = "10" })
                                    </div>
                                </div>
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">Mob number</label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.gucn_3, new { @class = "form-control", @id = "gucn_3", @maxlength = "20" })
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                    <label class="col-md-4 form-label">E-mail</label>
                                    <div class="d-flex  justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-md-6">
                                        @Html.TextBoxFor(m => m.gucn_4, new { @class = "form-control", @id = "gucn_4", @maxlength = "20" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h5 class="font-weight-bold ps-3 text-black text-justify text-center">
                        Section 2 – Medical Information <br />(To be fully completed by patient’s medical practitioner – all boxes must be completed in BLOCK letters.)
                    </h5>
                </div>
                <div class="card-body">
                    <div class="row outer-border">
                        <div class="col-sm-6 col-md-12 col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Country of treatment </label>
                                @Html.TextBoxFor(m => m.gucn_5, new { @class = "form-control", @id = "gucn_5", @maxlength = "20" })
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-12 col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Provider name and contact information</label>
                                @Html.TextBoxFor(m => m.gucn_6, new { @class = "form-control", @id = "gucn_6", @maxlength = "20" })
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-12 col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Date when first symptoms were noticed</label>
                                @Html.TextBoxFor(m => m.gucn_7, new { @class = "form-control", @id = "gucn_7", @maxlength = "20" })
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-12 col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Physician name and contact information </label>
                                @Html.TextBoxFor(m => m.gucn_8, new { @class = "form-control", @id = "gucn_8", @maxlength = "20" })
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-6">
                            <div class="form-group">
                                <p>I declare that I am the patient’s medical practitioner, and that the particulars given are to the best of my knowledge true and correct</p>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Physician signature and official stamp :</label>
                                <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12">
                            <div class="form-group">
                                <p class="text-black text-justify text-center">Please provide details of diagnosis (primary and secondary) or symptom(s) and prescribed treatment(s) or investigation(s).</p>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-12 col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Symptoms </label>
                                @Html.TextAreaFor(m => m.gucn_9, new { @class = "form-control", @row = "2", @id = "gucn_9" })
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-12 col-lg-6">
                            <div class="form-group">
                                <label class="form-label">Treatment / investigation</label>
                                @Html.TextAreaFor(m => m.gucn_10, new { @class = "form-control", @row = "2", @id = "gucn_10" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <h5 class="font-weight-bold ps-3">
                            Section 3 – Claimed Invoices
                        </h5>
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table id="tbl_1" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                                    <thead>
                                        <tr style="color: #fff !important; background-color: #808080; border-color: #3C457D; ">
                                            <th class="border-bottom-0 font-weight-semibold text-white">No</th>
                                            <th class="border-bottom-0 font-weight-semibold text-white" style="min-width:200px">Invoice number</th>
                                            <th class="border-bottom-0 font-weight-semibold text-white" style="min-width:200px">Claimed amount</th>
                                            <th class="border-bottom-0 font-weight-semibold text-white" style="min-width:200px">Currency</th>
                                            <th class="border-bottom-0 font-weight-semibold text-white">No</th>
                                            <th class="border-bottom-0 font-weight-semibold text-white" style="min-width:200px">Invoice number</th>
                                            <th class="border-bottom-0 font-weight-semibold text-white" style="min-width:200px">Claimed amount</th>
                                            <th class="border-bottom-0 font-weight-semibold text-white" style="min-width:200px">Currency</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>@Html.TextBoxFor(m => m.gucn_11, new { @class = "form-control", @id = "gucn_11", @maxlength = "20" })</td>
                                            <td>@Html.TextBoxFor(m => m.gucn_12, new { @class = "form-control", @id = "gucn_12", @maxlength = "20" })</td>
                                            <td>@Html.TextBoxFor(m => m.gucn_13, new { @class = "form-control", @id = "gucn_13", @maxlength = "20" })</td>
                                            <td>5</td>
                                            <td>@Html.TextBoxFor(m => m.gucn_14, new { @class = "form-control", @id = "gucn_14", @maxlength = "20" })</td>
                                            <td>@Html.TextBoxFor(m => m.gucn_15, new { @class = "form-control", @id = "gucn_15", @maxlength = "20" })</td>
                                            <td>@Html.TextBoxFor(m => m.gucn_16, new { @class = "form-control", @id = "gucn_16", @maxlength = "20" })</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>@Html.TextBoxFor(m => m.gucn_17, new { @class = "form-control", @id = "gucn_17", @maxlength = "20" })</td>
                                            <td>@Html.TextBoxFor(m => m.gucn_18, new { @class = "form-control", @id = "gucn_18", @maxlength = "20" })</td>
                                            <td>@Html.TextBoxFor(m => m.gucn_19, new { @class = "form-control", @id = "gucn_19", @maxlength = "20" })</td>
                                            <td>6</td>
                                            <td>@Html.TextBoxFor(m => m.gucn_20, new { @class = "form-control", @id = "gucn_20", @maxlength = "20" })</td>
                                            <td>@Html.TextBoxFor(m => m.gucn_21, new { @class = "form-control", @id = "gucn_21", @maxlength = "20" })</td>
                                            <td>@Html.TextBoxFor(m => m.gucn_22, new { @class = "form-control", @id = "gucn_22", @maxlength = "20" })</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>@Html.TextBoxFor(m => m.gucn_23, new { @class = "form-control", @id = "gucn_23", @maxlength = "20" })</td>
                                            <td>@Html.TextBoxFor(m => m.gucn_24, new { @class = "form-control", @id = "gucn_24", @maxlength = "20" })</td>
                                            <td>@Html.TextBoxFor(m => m.gucn_25, new { @class = "form-control", @id = "gucn_25", @maxlength = "20" })</td>
                                            <td>7</td>
                                            <td>@Html.TextBoxFor(m => m.gucn_26, new { @class = "form-control", @id = "gucn_26", @maxlength = "20" })</td>
                                            <td>@Html.TextBoxFor(m => m.gucn_27, new { @class = "form-control", @id = "gucn_27", @maxlength = "20" })</td>
                                            <td>@Html.TextBoxFor(m => m.gucn_28, new { @class = "form-control", @id = "gucn_28", @maxlength = "20" })</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>@Html.TextBoxFor(m => m.gucn_29, new { @class = "form-control", @id = "gucn_29", @maxlength = "20" })</td>
                                            <td>@Html.TextBoxFor(m => m.gucn_30, new { @class = "form-control", @id = "gucn_30", @maxlength = "20" })</td>
                                            <td>@Html.TextBoxFor(m => m.gucn_31, new { @class = "form-control", @id = "gucn_31", @maxlength = "20" })</td>
                                            <td>8</td>
                                            <td>@Html.TextBoxFor(m => m.gucn_32, new { @class = "form-control", @id = "gucn_32", @maxlength = "20" })</td>
                                            <td>@Html.TextBoxFor(m => m.gucn_33, new { @class = "form-control", @id = "gucn_33", @maxlength = "20" })</td>
                                            <td>@Html.TextBoxFor(m => m.gucn_34, new { @class = "form-control", @id = "gucn_34", @maxlength = "20" })</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">Total claimed amount per currency</td>
                                            <td colspan="5">@Html.TextBoxFor(m => m.gucn_41, new { @class = "form-control", @id = "gucn_41", @maxlength = "20" })</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h5 class="font-weight-bold ps-3 text-black text-justify text-center">
                        Section 4 – Settlement
                    </h5>
                </div>
                <div class="card-body">
                    <div class="row outer-border">
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group row d-flex">
                                <label class="text-black  col-md-6 col-lg-3">Settlement currency : Settlement by </label>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left col-md-2 col-lg-3">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="gucn_checkbox" value="1">
                                        <span class="custom-control-label">Cheque</span>
                                    </label>
                                </div>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left col-md-4 col-lg-3">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="gucn_checkbox" value="2">
                                        <span class="custom-control-label">Wire Transfer</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="form-label">(A) Bank name</label>
                                @Html.TextBoxFor(m => m.gucn_35, new { @class = "form-control", @id = "gucn_35", @maxlength = "20" })
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="form-label">(B) Account title</label>
                                @Html.TextBoxFor(m => m.gucn_36, new { @class = "form-control", @id = "gucn_36", @maxlength = "20" })
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="form-label">(C) IBAN number / Account number </label>
                                @Html.TextBoxFor(m => m.gucn_37, new { @class = "form-control", @id = "gucn_37", @maxlength = "20" })
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="form-label">(D) SWIFT code  </label>
                                @Html.TextBoxFor(m => m.gucn_38, new { @class = "form-control", @id = "gucn_38", @maxlength = "20" })
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="form-label">(E) Bank address </label>
                                @Html.TextBoxFor(m => m.gucn_39, new { @class = "form-control", @id = "gucn_39", @maxlength = "20" })
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-6">
                            <div class="form-group">
                                <label class="form-label">(F) Beneficiary address </label>
                                @Html.TextBoxFor(m => m.gucn_40, new { @class = "form-control", @id = "gucn_40", @maxlength = "20" })
                            </div>
                        </div>                        
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">    
                        <div class="col-md-12">
                            <div class="form-group text-black font-weight-bold text-justify">
                                <h4 class="text-black font-weight-bold">Important Notes:</h4>
                                <p>
                                    Please submit the medical reports from your treating physician, pharmacy prescriptions, investigations requests and their results,
                                    invoices with itemized breakdown and original receipts. In case of online submission, please retain the original documents as they may be
                                    required to finalize your claim.
                                </p>
                                <p>
                                    NAS prior approval is required for all non-emergency hospitalizations. Before admission, you are kindly required to e-mail a detailed medical
                                    report and cost estimate of the proposed treatment on official letterhead duly signed and stamped by the treating physician to claimscenter@nas.ae.
                                </p>
                                <p>Cheques are issued in the name of the principal and are valid for 6 months from the date of issue.</p>
                                <p>
                                    For transfers within the U.A.E., fields (A), (B) and (C) are mandatory. For transfers outside the U.A.E., please complete all fields in the settlement
                                    section above. In case IBAN is not available in the destination country (e.g. India), please enter bank account number in lieu of IBAN number.
                                </p>
                                <p>
                                    Claim settlements in currencies other than your bank account currency may result in foreign exchange charges. Please check with your bank regarding
                                    these and any additional fees that may be charged by your bank on incoming remittances.
                                </p>
                                <p>
                                    NAS bears no liability for any incorrect bank account details provided above. Furthermore, any charges related to corrective action shall be deducted
                                    from the final settlement.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row outer-border">
                                <h4 class="text-black font-weight-bold">Patient's declaration and conset</h4>
                                <p>
                                    I, the undersigned, confirm that I am the patient/patient’s spouse or guardian (if patient is under 18 years of age) and I wish to claim benefits
                                    and declare that all the particulars given above are to the best of my knowledge true and correct. In addition, I authorize and request any hospital,
                                    physician, and any other health provider to furnish NAS Administration Services with the complete information including copies of their records in
                                    connection with medical treatment and/ or other services provided to me or to my dependent. I also agree that a copy of this consent shall have the
                                    validity of the original. Signature of the principal and or spouse
                                </p>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <div>
                                        <div class="form-group mb-3" style="display:none" id="patimg"><img alt="Signature" src="" id="pat_sign" class="avatar avatar-xl bsquare" /></div>
                                    </div>
                                    <label class="form-label"> Signature of the Insured/Guardian:</label>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <div>
                                        <label class="form-label text-red text-left" id="upsb_date_witness" name="">&nbsp;</label>
                                    </div>
                                    <label class="form-label">Date:</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="row mt-2">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="btn-list btn-animation">
                        <button type="submit" class="btn btn-success" id="btn_Insert_Gulfcare">Save</button>
                        <button type="button" class="btn btn-outline-dark" id="btn_Reset_Gulfcare">Reset</button>
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-danger me-1" id="btn_Close_Gulfcare" style="display:none">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@*@section myScripts{*@
<script type="text/javascript">
    //#region Page Load
        var formName1 = $(form_GulfcareDecision).closest('form').attr('name');
        $(function () {
            validate();
        });
    //#endregion

    //#region Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
    //#endregion

    //#region Reset
        $('#btn_Reset_Gulfcare').on('click', function (e) {
            e.preventDefault();
            clearControls();
        });
    //#endregion

    //#region Validation Initialization
        var validate = function () {
            $('#gucn_12').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
            $("#gucn_12").on('input', function () {
                var disc = $(this).val();
                if (disc == "" || disc == null || disc == undefined) {
                    $("#gucn_12").val(0.00);
                }
            });
            $('#gucn_15').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
            $("#gucn_15").on('input', function () {
                var disc = $(this).val();
                if (disc == "" || disc == null || disc == undefined) {
                    $("#gucn_15").val(0.00);
                }
            });
            $('#gucn_18').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
            $("#gucn_18").on('input', function () {
                var disc = $(this).val();
                if (disc == "" || disc == null || disc == undefined) {
                    $("#gucn_18").val(0.00);
                }
            });
            $('#gucn_21').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
            $("#gucn_21").on('input', function () {
                var disc = $(this).val();
                if (disc == "" || disc == null || disc == undefined) {
                    $("#gucn_21").val(0.00);
                }
            });
            $('#gucn_24').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
            $("#gucn_24").on('input', function () {
                var disc = $(this).val();
                if (disc == "" || disc == null || disc == undefined) {
                    $("#gucn_24").val(0.00);
                }
            });
            $('#gucn_27').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
            $("#gucn_27").on('input', function () {
                var disc = $(this).val();
                if (disc == "" || disc == null || disc == undefined) {
                    $("#gucn_27").val(0.00);
                }
            });
            $('#gucn_30').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
            $("#gucn_30").on('input', function () {
                var disc = $(this).val();
                if (disc == "" || disc == null || disc == undefined) {
                    $("#gucn_30").val(0.00);
                }
            });
            $('#gucn_33').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
            $("#gucn_33").on('input', function () {
                var disc = $(this).val();
                if (disc == "" || disc == null || disc == undefined) {
                    $("#gucn_33").val(0.00);
                }
            });
        }

    //#endregion

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "Gulfcare",
                "appId": @emr.appId,
                "formname":"Gulfcare",
                "formlink":"PrintGulfcareClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
        var openSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "Gulfcare",
                "appId": @emr.appId,
                "formname":"Gulfcare",
                "formlink":"PrintGulfcareClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Clear Controls
        var clearControls = function () {
            $("#gucn_1").val("");
            $("#gucn_2").val("");
            $("#gucn_3").val("");
            $("#gucn_5").val("");
            $("#gucn_6").val("");
            $("#gucn_7").val("");
            $("#gucn_8").val("");
            $("#gucn_9").val("");
            $("#gucn_10").val("");
            $("#gucn_11").val("");
            $("#gucn_12").val("");
            $("#gucn_13").val("");
            $("#gucn_14").val("");
            $("#gucn_15").val("");
            $("#gucn_16").val("");
            $("#gucn_17").val("");
            $("#gucn_18").val("");
            $("#gucn_19").val("");
            $("#gucn_20").val("");
            $("#gucn_21").val("");
            $("#gucn_22").val("");
            $("#gucn_23").val("");
            $("#gucn_24").val("");
            $("#gucn_25").val("");
            $("#gucn_26").val("");
            $("#gucn_27").val("");
            $("#gucn_28").val("");
            $("#gucn_27").val("");
            $("#gucn_30").val("");
            $("#gucn_31").val("");
            $("#gucn_32").val("");
            $("#gucn_33").val("");
            $("#gucn_34").val("");
            $("#gucn_35").val("");
            $("#gucn_36").val("");
            $("#gucn_37").val("");
            $("#gucn_38").val("");
            $("#gucn_37").val("");
            $("#gucn_40").val("");
            $("#gucn_41").val("");
        }
    //#endregion

    //#region Insert Button Click
        $('#btn_Insert_Gulfcare').on('click', function (e) {
            e.preventDefault();
            if ($("#form_GulfcareDecision").valid()) {
                $('#btn_Insert_Gulfcare').removeClass("btn btn-success");
                $('#btn_Insert_Gulfcare').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Insert_Gulfcare').html("Saving the Record....");
                var gucn_chkbox = "";
                $('.custom-control-input:checked').each(function (index) {
                    gucn_chkbox = gucn_chkbox + ',' + $(this).val();
                });
                var gucn_checkbox = gucn_chkbox.substring(1);
                var _dataInsert = {
                "gucnId": 0,
                "gucn_appId": @emr.appId,
                "gucn_checkbox": gucn_checkbox,
                "gucn_1": $("#gucn_1").val(),
                "gucn_2": $("#gucn_2").val(),
                "gucn_3": $("#gucn_3").val(),
                "gucn_4": $("#gucn_4").val(),
                "gucn_5": $("#gucn_5").val(),
                "gucn_6": $("#gucn_6").val(),
                "gucn_7": $("#gucn_7").val(),
                "gucn_8": $("#gucn_8").val(),
                "gucn_9": $("#gucn_9").val(),
                "gucn_10": $("#gucn_10").val(),
                "gucn_11": $("#gucn_11").val(),
                "gucn_12": $("#gucn_12").val(),
                "gucn_13": $("#gucn_13").val(),
                "gucn_14": $("#gucn_14").val(),
                "gucn_15": $("#gucn_15").val(),
                "gucn_16": $("#gucn_16").val(),
                "gucn_17": $("#gucn_17").val(),
                "gucn_18": $("#gucn_18").val(),
                "gucn_19": $("#gucn_19").val(),
                "gucn_20": $("#gucn_20").val(),
                "gucn_21": $("#gucn_21").val(),
                "gucn_22": $("#gucn_22").val(),
                "gucn_23": $("#gucn_23").val(),
                "gucn_24": $("#gucn_24").val(),
                "gucn_25": $("#gucn_25").val(),
                "gucn_26": $("#gucn_26").val(),
                "gucn_27": $("#gucn_27").val(),
                "gucn_28": $("#gucn_28").val(),
                "gucn_27": $("#gucn_27").val(),
                "gucn_30": $("#gucn_30").val(),
                "gucn_31": $("#gucn_31").val(),
                "gucn_32": $("#gucn_32").val(),
                "gucn_33": $("#gucn_33").val(),
                "gucn_34": $("#gucn_34").val(),
                "gucn_35": $("#gucn_35").val(),
                "gucn_36": $("#gucn_36").val(),
                "gucn_37": $("#gucn_37").val(),
                "gucn_38": $("#gucn_38").val(),
                "gucn_37": $("#gucn_37").val(),
                "gucn_40": $("#gucn_40").val(),
                "gucn_41": $("#gucn_41").val(),
                "gucn_42": '',
                "gucn_43": '',
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dataInsert);
            $.ajax({
            type: "POST",
            url: "@Url.Action("InsertGulfcare", "ReimbursementForms", new { area = "EMRForms" })",
            dataType: 'JSON',
            data: _dataInsert,
            success: function (data) {
            $('#btn_Insert_Gulfcare').removeClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Insert_Gulfcare').addClass("btn btn-success");
            $('#btn_Insert_Gulfcare').html("Add");

            if (data.isSuccess) {
            if (data.isInserted) {
            GetGulfcare();
            var alertPlaceholder = document.getElementById("Alert");
            function alert(e, t) {
                var l = document.createElement("div");
                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
            }
            alert("<i class='fe fe-check-circle text-white'></i> Gulfcare Claim Form Added Successfully!", "success");
            Timeout();
            Editgulfcare();
            }
            else {
                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                    "<div class='alert alert-light-warning' role='alert'>" +
                    "<button type='button' class='btn-close text-warning' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                    "<strong><i class='fa fa-exclamation-triangle text-warning'></i> Gulfcare Claim Form Alredy Exists!</strong><br/>" +
                    "</div></div>";
                $("#error").html(html);
            }
            }
            else {
            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                "<div class='alert alert-light-danger' role='alert'>" +
                "<button type='button' class='btn-close text-danger' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                "<strong><i class='fa fa-ban text-danger'></i> Validation Error! Please validate before submitting.&nbsp;</strong><br/><ul>";

            $.each(data.message, function (index, value) {
                html += "<li><small>" + value + "</small><li>";
                var elem = $("#" + index);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                }
                else {
                    $(elem).addClass(" is-invalid");
                }

                setTimeout(function () {
                    if (elem.hasClass("select2-hidden-accessible")) {
                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                    }
                    else {
                        $(elem).removeClass("is-invalid");
                    }
                }, 5000);
            });
            html += "</ul></div></div>";
            $("#error").html(html);
            }
            },
            error: function (xhr) {
            $('#btn_Insert_Gulfcare').removeClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Insert_Gulfcare').addClass("btn btn-success");
            $('#btn_Insert_Gulfcare').html("Add");
            Timeout();
            }
            });
            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion

</script>
@*}*@
<style>
    .outer-border {
        border: 2px solid #000; /* You can adjust the border thickness and color as needed */
        padding: 10px; /* Optional: Add padding for spacing */
    }
</style>