
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMRForms.NextcareMajid
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_EditNextcareMajid" class="needs-validation fs-14" >

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.cnmnId)
    @Html.HiddenFor(m => m.cnmn_appId)

    <!-- Row-->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="form-group row">
                    <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                        <h6 class="font-italic text-justify">Please fill Clearly(<span class="text-red">All fields mandatory</span>)</h6>
                    </div>
                    <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                        <label class="col-md-4 form-label">
                            Form No:
                        </label>
                        <div class="d-flex  justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-md-6">
                            @Html.TextBoxFor(m => m.cnmn_2, new { @class = "form-control", @id = "ucnmn_2", @maxlength = "50" })
                        </div>
                    </div>
                </div>
                <div class="card-header bg-blue-dark text-white font-weight-bold">
                    <h4 class="card-title">ADMINISTRATIVE</h4>
                </div>
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">
                                    Healthcare Provider
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.cnmn_1, new { @class = "form-control", @id = "ucnmn_1", @maxlength = "50" })
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">
                                    Patient’s Name
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">
                                    Date of Service
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fe fe-calendar"></i>
                                            </div>
                                        </div>
                                        @Html.TextBoxFor(m => m.cnmn_date1, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "ucnmn_date1" })
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">Patient’s Tel</label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_mob&nbsp;</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">
                                    DOB
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">Sex</label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_gender&nbsp;</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">
                                    Card No
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.cnmn_38, new { @class = "form-control mb-1", @id = "ucnmn_38", @maxlength = "50" })
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">Patient's Employer</label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.cnmn_39, new { @class = "form-control", @id = "ucnmn_39", @maxlength = "50" })
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="card-header bg-blue-dark text-white font-weight-bold">
                    <h4 class="card-title text-justify">SUBJECTIVE (To be completed by Physician)</h4>
                </div>
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="form-label text-justify">
                                Symptom(s) As Described by Patient (CHIEF COMPLAINT)
                            </label>
                            <div>
                                <label class="form-label text-red text-left" id="complaints" name="">&nbsp;</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label text-justify">
                                    Date of Present Symptom Onset
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fe fe-calendar"></i>
                                            </div>
                                        </div>
                                        @Html.TextBoxFor(m => m.cnmn_date2, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "ucnmn_date2" })
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label text-justify">
                                    What date did the Patient first feel same / similar Symptom(s)
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fe fe-calendar"></i>
                                            </div>
                                        </div>
                                        @Html.TextBoxFor(m => m.cnmn_date3, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "ucnmn_date3" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-6 col-lg-5 form-label text-justify">
                                    Is the Patient under any type of treatment / Med
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-3 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="cnmn_checkbox[1]" value="1" id="1">
                                        <span class="custom-control-label">Yes</span>
                                    </label>
                                </div>
                                <div class="col-md-3 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="cnmn_checkbox[1]" value="2" id="2">
                                        <span class="custom-control-label">No</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-6 col-lg-5 form-label text-justify">
                                    If yes, indicate what assessment and since when
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6 col-lg-2">
                                    @Html.TextBoxFor(m => m.cnmn_31, new { @class = "form-control", @id = "ucnmn_31", @maxlength = "50" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-header bg-blue-dark text-white font-weight-bold">
                    <h4 class="card-title text-justify">OBJECTIVE / ASSESSMENT (To be completed by Physician)</h4>
                </div>
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="form-label">
                                Clinical Findings
                            </label>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2">
                                <label class="form-label">
                                    BP
                                </label>
                                <div>
                                    <label class="form-label text-red text-left" id="sign_bp" name="">&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">
                                    Temp
                                </label>
                                <div>
                                    <label class="form-label text-red text-left" id="sign_temp" name="">&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">
                                    Pulse
                                </label>
                                <div>
                                    <label class="form-label text-red text-left" id="sign_pulse" name="">&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">
                                    Notes
                                </label>
                                <div>
                                    <label class="form-label text-red text-left" id="sign_notes" name="">&nbsp;</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12 col-lg-1">
                                <label class="form-label">
                                    Cause:
                                </label>
                            </div>
                            <div class="col-md-4 col-lg-2">
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="cnmn_check" value="3" id="3">
                                        <span class="custom-control-label">Physical Illness</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-1">
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="cnmn_check" value="4" id="4">
                                        <span class="custom-control-label">Accident</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-2">
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="cnmn_check" value="5" id="5">
                                        <span class="custom-control-label">Maternity</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-2">
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="cnmn_check" value="6" id="6">
                                        <span class="custom-control-label">Preventive</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-1">
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="cnmn_check" value="7" id="7">
                                        <span class="custom-control-label">Dental</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-2">
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="cnmn_check" value="8" id="8">
                                        <span class="custom-control-label">Work Related</span>
                                    </label>
                                </div>
                            </div>
                            
                        </div>
                        <div class="form-group row">
                            <div class="col-md-0 col-lg-1">
                            </div>
                            <div class="col-md-4 col-lg-2">
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="cnmn_check" value="10" id="10">
                                        <span class="custom-control-label">Acute</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-1">
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="cnmn_check" value="11" id="11">
                                        <span class="custom-control-label">Chronic</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-2">
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="cnmn_check" value="12" id="12">
                                        <span class="custom-control-label">Confirmed</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-2">
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="cnmn_check" value="13" id="13">
                                        <span class="custom-control-label">Suspected</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-1">
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="cnmn_check" value="9" id="9">
                                        <span class="custom-control-label">Other</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="form-label">
                                Assessment/Diagnosis: INDICATE DIAGNOSIS NOT SYMPTOM
                            </label>
                            <label class="form-label">
                                <label class="form-label text-red text-left" id="pat_Diagnosis" name="">&nbsp;</label>
                            </label>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-6 col-lg-4 form-label text-justify">
                                Is Assessment/ Diagnosis related to another Assessment?
                            </label>
                            <div class="col-md-3 col-lg-2">
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="cnmn_checkbox[14]" value="14" id="14">
                                    <span class="custom-control-label">Yes</span>
                                </label>
                            </div>
                            <div class="col-md-3 col-lg-2">
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="cnmn_checkbox[14]" value="15" id="15">
                                    <span class="custom-control-label">No</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-6 col-lg-5 form-label text-justify">
                                If yes, specify: (i.e. Retinopathy related to Diabetes):
                            </label>
                            <div class="col-md-6 col-lg-2">
                                @Html.TextBoxFor(m => m.cnmn_32, new { @class = "form-control", @id = "ucnmn_32", @maxlength = "50" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-header bg-blue-dark text-white font-weight-bold">
                    <h4 class="card-title text-justify">MEDICAL PLAN (Itemized Original Invoice and Application Prescriptions/ Reports /Results must be enclosed to consider claim.)</h4>
                </div>
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <div class="table-responsive">
                                <table id="tbl_Treatment" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                        <input type="checkbox" class="custom-control-input" name="cnmn_check" value="16" id="16">
                                                        <span class="custom-control-label">Consultation</span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td style="min-width:150px">Cost</td>
                                            <td>
                                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                        <input type="checkbox" class="custom-control-input" name="cnmn_check" value="17" id="17">
                                                        <span class="custom-control-label">Physiotherapy</span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td style="min-width:150px">Cost</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.TextBoxFor(m => m.cnmn_3, new { @class = "form-control", @id = "ucnmn_3", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.cnmn_4, new { @class = "form-control", @id = "ucnmn_4", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.cnmn_5, new { @class = "form-control", @id = "ucnmn_5", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.cnmn_6, new { @class = "form-control", @id = "ucnmn_6", @maxlength = "50" })</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.TextBoxFor(m => m.cnmn_7, new { @class = "form-control", @id = "ucnmn_7", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.cnmn_8, new { @class = "form-control", @id = "ucnmn_8", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.cnmn_9, new { @class = "form-control", @id = "ucnmn_9", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.cnmn_10, new { @class = "form-control", @id = "ucnmn_10", @maxlength = "50" })</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                        <input type="checkbox" class="custom-control-input" name="cnmn_check" value="18" id="18">
                                                        <span class="custom-control-label">Pharmacy</span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Cost</td>
                                            <td>
                                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                        <input type="checkbox" class="custom-control-input" name="cnmn_check" value="19" id="19">
                                                        <span class="custom-control-label text-justify">Laboratory/Radiology/Other</span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Cost</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.TextBoxFor(m => m.cnmn_11, new { @class = "form-control", @id = "ucnmn_11", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.cnmn_12, new { @class = "form-control", @id = "ucnmn_12", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.cnmn_13, new { @class = "form-control", @id = "ucnmn_13", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.cnmn_14, new { @class = "form-control", @id = "ucnmn_14", @maxlength = "50" })</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.TextBoxFor(m => m.cnmn_15, new { @class = "form-control", @id = "ucnmn_15", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.cnmn_16, new { @class = "form-control", @id = "ucnmn_16", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.cnmn_17, new { @class = "form-control", @id = "ucnmn_17", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.cnmn_18, new { @class = "form-control", @id = "ucnmn_18", @maxlength = "50" })</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.TextBoxFor(m => m.cnmn_19, new { @class = "form-control", @id = "ucnmn_19", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.cnmn_20, new { @class = "form-control", @id = "ucnmn_20", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.cnmn_21, new { @class = "form-control", @id = "ucnmn_21", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.cnmn_22, new { @class = "form-control", @id = "ucnmn_22", @maxlength = "50" })</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.TextBoxFor(m => m.cnmn_23, new { @class = "form-control", @id = "ucnmn_23", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.cnmn_24, new { @class = "form-control", @id = "ucnmn_24", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.cnmn_25, new { @class = "form-control", @id = "ucnmn_25", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.cnmn_26, new { @class = "form-control", @id = "ucnmn_26", @maxlength = "50" })</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.TextBoxFor(m => m.cnmn_27, new { @class = "form-control", @id = "ucnmn_27", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.cnmn_28, new { @class = "form-control", @id = "ucnmn_28", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.cnmn_29, new { @class = "form-control", @id = "ucnmn_29", @maxlength = "50" })</td>
                                            <td>@Html.TextBoxFor(m => m.cnmn_30, new { @class = "form-control", @id = "ucnmn_30", @maxlength = "50" })</td>
                                        </tr>

                                        <tr>
                                            <td>Total Charges</td>
                                            <td colspan="3">@Html.TextBoxFor(m => m.cnmn_38, new { @class = "form-control", @id = "ucnmn_38", @maxlength = "50" })</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-12 col-lg-2">
                                Was In-Patient Required?
                            </label>
                            <label class="col-md-12 col-lg-2">
                                Length of stay:
                            </label>
                            <div class="col-md-12 col-lg-2">
                                @Html.TextBoxFor(m => m.cnmn_35, new { @class = "form-control", @id = "ucnmn_35", @maxlength = "50" })
                            </div>
                            <label class="col-md-12 col-lg-2">
                                Indicate Provider:
                            </label>
                            <div class="col-md-12 col-lg-2">
                                @Html.TextBoxFor(m => m.cnmn_36, new { @class = "form-control", @id = "ucnmn_36", @maxlength = "50" })
                            </div>
                            <label class="col-md-12 col-lg-1">
                                Cost:
                            </label>
                            <div class="col-md-12 col-lg-1">
                                @Html.TextBoxFor(m => m.cnmn_37, new { @class = "form-control", @id = "ucnmn_37", @maxlength = "50" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-6 col-lg-4 form-label text-justify">
                                    Discharge Summary: Itemized Invoices, Reports & Receipts Attached?
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-3 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="cnmn_checkbox[20]" value="20" id="20">
                                        <span class="custom-control-label">Yes</span>
                                    </label>
                                </div>
                                <div class="col-md-3 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="cnmn_checkbox[20]" value="21" id="21">
                                        <span class="custom-control-label">No</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="form-horizontal">
                                <div class="form-group row">
                                    <label class="col-md-3 form-label">Treating Physician</label>
                                    <div class="col-md-9">
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.doc_name&nbsp;</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-label text-justify" for="example-email">Name & Address of Facility:</label>
                                    <div class="col-md-9">
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.set_company&nbsp;</span>
                                        <span class="font-weight-normal1 text-capitalize text-left  text-justify">@emr.set_address&nbsp;</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-label" for="example-email">Tel/Fax:</label>
                                    <div class="col-md-9">
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.set_tel&nbsp;</span>/
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.set_fax&nbsp;</span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 form-label" for="example-email">Email:</label>
                                    <div class="col-md-9">
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.set_email&nbsp;</span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-3 form-label">Signature/Stamp</label>
                                    <div class="col-md-9">
                                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="form-horizontal">
                                <div class="form-group row">
                                    <p class="text-justify text-black text-justify">
                                        I hereby authorize any Healthcare Provider, Insurer, Employer or other Organization to release any information regarding my medical condition & history to NEXtCARE for the purpose of determining insurance benefits.
                                    </p>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-5 form-label text-justify">Patient’s Signature(Parent if Minor):</label>
                                    <div class="col-md-2">
                                        <div class="form-group mb-3" style="display:none" id="upatimg"><img alt="Signature" src="" id="upat_sign" class="avatar avatar-xl bsquare" /></div>
                                    </div>
                                    <label class="col-md-2 form-label">Date:</label>
                                    <div class="col-md-3">
                                        <label class="form-label text-red text-left" id="upsb_date_witness" name="">&nbsp;</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update_NextcareMajid">Save Changes</button>
                <button type="submit" class="btn btn-sm btn-outline-danger" id="btn_Delete_NextcareMajid">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-light " id="btn_Print_RadioDeci" onclick="PrintNextcareMajid()">
                    <i class="fa fa-print">&nbsp;&nbsp;</i>Print
                </button>
                <div class="btn-group mr-2">
                    <div class="dropdown">
                        <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                            <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-outline-danger" id="btn_Close_EditNextcareMajid" style="display:none">
                    Close
                </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    //#region Partial View Onload
        var formName1 = $(form_EditNextcareMajid).closest('form').attr('name');
        $(function () {
            validate();
            set_date();
            GetSignaturename('patient');
            GetCheckedValues("@Model.cnmn_checkbox");
            Get_Patient_signs();
            Get_EMRINFO();
        });
    //#endregion

    //#region Load set Date
        var set_date = function () {
            $('#ucnmn_date1,#ucnmn_date2,#ucnmn_date3').bootstrapdatepicker({
                    format: "dd-MM-yyyy",
                    viewMode: "date",
                    todayHighlight: true,
                    autoclose: true,
                    multidate: false,
                    multidateSeparator: "-"
            });
            var d1 = "@Model.cnmn_date1";
            if (d1 != "1/1/1950 12:00:00 AM") {
                $("#ucnmn_date1").bootstrapdatepicker("setDate", moment(new Date("@Model.cnmn_date1")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#ucnmn_date1").bootstrapdatepicker("setDate", '');
            }
            var d2 = "@Model.cnmn_date2";
            if (d2 != "1/1/1950 12:00:00 AM") {
                $("#ucnmn_date2").bootstrapdatepicker("setDate", moment(new Date("@Model.cnmn_date2")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#ucnmn_date2").bootstrapdatepicker("setDate", '');
            }

            var d3 = "@Model.cnmn_date3";
            if (d3 != "1/1/1950 12:00:00 AM") {
                $("#ucnmn_date3").bootstrapdatepicker("setDate", moment(new Date("@Model.cnmn_date3")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#ucnmn_date3").bootstrapdatepicker("setDate", '');
            }
        }
    //#endregion

    //#region Load Get Diagnosis,treatments,history,invoice
         var Get_EMRINFO = function () {
             $.ajax({
                 type: "GET",
                 url: "@Url.Action("GetEmrInfo", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                 success: function (response) {
                     if (response.length > 0) {
                         $('#complaints').text(response[0].complaints);
                         $('#pat_Diagnosis').text(response[0].diagnosis);
                     }
                 },
                 error: function (xhr) {
                     console.log(xhr);
                 }
             })
         }
    //#endregion

    //#region Load Get_Patient_signs
        var Get_Patient_signs = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Get_Patient_Signs", "ReimbursementForms", new { area = "EMRForms" })?appId="+@emr.appId,
                success: function (response) {
                    if (response.length > 0) {
                        var str1 = response[0].sign_bp;
                        var str2 = response[0].sign_pulse;
                        var str3 = response[0].sign_temp;
                        var str4 = response[0].sign_notes;
                        var regex = /(|<([^>]+)>)/ig;
                        $("#sign_bp").text(str1.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_pulse").text(str2.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_temp").text(str3.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_notes").text(str4.replace(/(<p>|<\/p>)/g, ""));
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
    //#endregion

    //#region Get CheckedValues
        var GetCheckedValues = function (checknames) {
            var str = checknames;
            var myarray = str.split(',');
            for (var i = 0; i < myarray.length; i++) {
                $('.custom-control-input').each(function () {
                    if (this.id == myarray[i]) {
                        $("#" +this.id).attr('checked', 'checked');
                        $("#" +this.id).prop("checked", true);
                    }
                });
            }

        }
    //#endregion

    //#region Update  Button Click
        $('#btn_Update_NextcareMajid').on('click', function (e) {
                e.preventDefault();
            if ($("#form_EditNextcareMajid").valid()) {
                console.log($("#cnmnId").val());
                $('#btn_Update_NextcareMajid').removeClass("btn btn-success");
                $('#btn_Update_NextcareMajid').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Update_NextcareMajid').html("Updating the Record....");
                var cnmn_chkbox = "";
                $('.custom-control-input:checked').each(function (index) {
                    cnmn_chkbox = cnmn_chkbox + ',' + $(this).val();
                });
                var cnmn_checkbox = cnmn_chkbox.substring(1);
                var _dataInsert = {
                    "cnmnId": @Model.cnmnId,
                    "cnmn_appId": @emr.appId,
                    "cnmn_checkbox": cnmn_checkbox,
                    "cnmn_1": $("#ucnmn_1").val(),
                    "cnmn_1": $("#ucnmn_1").val(),
                    "cnmn_2": $("#ucnmn_2").val(),
                    "cnmn_3": $("#ucnmn_3").val(),
                    "cnmn_4": $("#ucnmn_4").val(),
                    "cnmn_5": $("#ucnmn_5").val(),
                    "cnmn_6": $("#ucnmn_6").val(),
                    "cnmn_7": $("#ucnmn_7").val(),
                    "cnmn_8": $("#ucnmn_8").val(),
                    "cnmn_9": $("#ucnmn_9").val(),
                    "cnmn_10": $("#ucnmn_10").val(),
                    "cnmn_11": $("#ucnmn_11").val(),
                    "cnmn_12": $("#ucnmn_12").val(),
                    "cnmn_13": $("#ucnmn_13").val(),
                    "cnmn_14": $("#ucnmn_14").val(),
                    "cnmn_15": $("#ucnmn_15").val(),
                    "cnmn_16": $("#ucnmn_16").val(),
                    "cnmn_17": $("#ucnmn_17").val(),
                    "cnmn_18": $("#ucnmn_18").val(),
                    "cnmn_19": $("#ucnmn_19").val(),
                    "cnmn_20": $("#ucnmn_20").val(),
                    "cnmn_21": $("#ucnmn_21").val(),
                    "cnmn_22": $("#ucnmn_22").val(),
                    "cnmn_23": $("#ucnmn_23").val(),
                    "cnmn_24": $("#ucnmn_24").val(),
                    "cnmn_25": $("#ucnmn_25").val(),
                    "cnmn_26": $("#ucnmn_26").val(),
                    "cnmn_27": $("#ucnmn_27").val(),
                    "cnmn_28": $("#ucnmn_28").val(),
                    "cnmn_29": $("#ucnmn_29").val(),
                    "cnmn_30": $("#ucnmn_30").val(),
                    "cnmn_31": $("#ucnmn_31").val(),
                    "cnmn_32": $("#ucnmn_32").val(),
                    "cnmn_33": '',
                    "cnmn_34": '',
                    "cnmn_35": $("#ucnmn_35").val(),
                    "cnmn_36": $("#ucnmn_36").val(),
                    "cnmn_37": $("#ucnmn_37").val(),
                    "cnmn_38": $("#ucnmn_38").val(),
                    "cnmn_39": $("#ucnmn_39").val(),
                    "cnmn_40": '',
                    "cnmn_41":'',
                    "cnmn_date1": moment($("#ucnmn_date1").val()).format("YYYY-MM-DD"),
                    "cnmn_date2": moment($("#ucnmn_date2").val()).format("YYYY-MM-DD"),
                    "cnmn_date3": moment($("#ucnmn_date3").val()).format("YYYY-MM-DD"),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dataInsert)
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateNextcareMajid", "ReimbursementForms", new { area = "EMRForms" })",
                    dataType: 'JSON',
                    data: _dataInsert,
                    success: function (data) {
                        $('#btn_Update_NextcareMajid').removeClass("btn btn-warning btn-loaders btn-icon");
                        $('#btn_Update_NextcareMajid').addClass("btn btn-warning");
                        $('#btn_Update_NextcareMajid').html("Save Changes");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                GetNextcareMajid();
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible"  role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> NextcareMajid Updated Successfully!", "success");
                                Timeout();
                                $("#nextcaremajid_edit").show();
                                $("#nextcaremajid_edit").hide();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. NextcareMajid Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else
                        {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Update_NextcareMajid').removeClass("btn btn-warning btn-loaders btn-icon");
                        $('#btn_Update_NextcareMajid').addClass("btn btn-warning");
                        $('#btn_Update_NextcareMajid').html("Save Changes");
                        Timeout();
                    }
                });

            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion

    //#region Delete Click
        $('#btn_Delete_NextcareMajid').on('click', function (e) {
            e.preventDefault();
            $('#btn_Delete_NextcareMajid').removeClass("btn btn-success");
            $('#btn_Delete_NextcareMajid').addClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Delete_NextcareMajid').html("Deleting the Record....");
            $.ajax({
                url: '@Url.Action("DeleteNextcareMajid", "ReimbursementForms", new { area = "EMRForms" })?cnmnId=' + @Model.cnmnId,
                type: "POST",
                dataType: 'JSON',
                success: function (data) {
                    $('#btn_Delete_NextcareMajid').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Delete_NextcareMajid').addClass("btn btn-warning");
                    $('#btn_Delete_NextcareMajid').html("Delete");
                    if (data.isAuthorized) {
                        if (data.success) {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> NextcareMajid Claim Deleted Successfully!", "success");
                            clearControls();
                            $("#nextcaremajid_edit").hide();
                            $("#nextcaremajid_edit").show();
                            Addnextcaremajid();
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Error!.. Failed to Delete..</strong><br/>" +
                                "</div></div>";
                            $("#error").html(html);
                        }
                    }
                    else {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                    }
                },
                error: function (xhr) {
                    $('#btn_Delete_NextcareMajid').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Delete_NextcareMajid').addClass("btn btn-Delete");
                    $('#btn_Delete_NextcareMajid').html("Delete");
                    Timeout();
                }
            })
        });
    //#endregion

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "NextcareMajid",
                "appId": @emr.appId,
                "formname":"NextcareMajid",
                "formlink":"PrintNextcareMajid",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
        var openSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "NextcareMajid",
                "appId": @emr.appId,
                "formname":"NextcareMajid",
                "formlink":"PrintNextcareMajid",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                    GetSignaturename('patient');
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=NextcareMajid',
                    type: "GET",
                    dataType: "json",
                    async: false,
                    success: function (response) {
                    console.log(response);
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_created).format("DD-MM-YYYY HH:mm");
                        if (response[0].person == "patient") {
                        console.log("fffffffffffff");
                        $("#upatimg").show();
                        $("#upat_sign").attr("src", sign);
                        $("#upsb_date_witness").text(date);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
    //#endregion

    //#region Validation Initialization
        var validate = function () {

            $('#ucnmn_date1').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#ucnmn_date3').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#ucnmn_date2').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });


        }
    //#endregion

    //#region Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
    //#endregion

    //#region Clear Controls
        var clearControls = function () {
            $("#ucnmn_1").val("");
            $("#ucnmn_2").val("");
            $("#ucnmn_3").val("");
            $("#ucnmn_4").val("");
            $("#ucnmn_5").val("");
            $("#ucnmn_6").val("");
            $("#ucnmn_7").val("");
            $("#ucnmn_8").val("");
            $("#ucnmn_9").val("");
            $("#ucnmn_10").val("");
            $("#ucnmn_11").val("");
            $("#ucnmn_12").val("");
            $("#ucnmn_13").val("");
            $("#ucnmn_14").val("");
            $("#ucnmn_15").val("");
            $("#ucnmn_16").val("");
            $("#ucnmn_17").val("");
            $("#ucnmn_18").val("");
            $("#ucnmn_19").val("");
            $("#ucnmn_20").val("");
            $("#ucnmn_21").val("");
            $("#ucnmn_22").val("");
            $("#ucnmn_23").val("");
            $("#ucnmn_24").val("");
            $("#ucnmn_25").val("");
            $("#ucnmn_26").val("");
            $("#ucnmn_27").val("");
            $("#ucnmn_28").val("");
            $("#ucnmn_29").val("");
            $("#ucnmn_30").val("");
            $("#ucnmn_31").val("");
            $("#ucnmn_32").val("");
            //$("#ucnmn_33").val("");
            //$("#ucnmn_34").val("");
            $("#ucnmn_35").val("");
            $("#ucnmn_36").val("");
            $("#ucnmn_37").val("");
            $("#ucnmn_38").val("");
            $("#ucnmn_39").val("");
            //$("#ucnmn_40").val("");
            $("#cnmn_date1").bootstrapdatepicker("setDate", '');
            $("#cnmn_date2").bootstrapdatepicker("setDate", '');
            $("#cnmn_date3").bootstrapdatepicker("setDate", '');
            var elements = document.getElementsByClassName('custom-control-input');
            Array.prototype.forEach.call(elements, function (element) {
                element.checked = false;
            });
        }
    //#endregion

    //#region Print NextcareMajid Request
        function PrintNextcareMajid() {
            window.open("@Url.Action("PrintNextcareMajid", "ReimbursementForms", new { area = "EMRForms" })?cnmnId=" + @Model.cnmnId)
        }
    //#endregion

</script>
