@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMRForms.NGI
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="modal-body p-4">
    <form id="form_EditNGI" class="needs-validation fs-14" >
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ngId)
        @Html.HiddenFor(m => m.ng_appId)
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                <div class="form-group mb-3"><label class="form-label"> FORM NO ZH :&nbsp;</label></div>
                <div class="form-group mb-3">
                    @Html.TextBoxFor(m => m.ng_no, new { @class = "form-control", @placeholder = "Enter Voucher No", @id = "ung_no", @width = "20px", @maxlength = "20" })&nbsp;
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 justify-content-center">
                <h4 class="text-center">REIMBURSEMENT FORM FOR OUT OF NETWORK TREATMENT</h4>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="form-label mb-2 text-danger">
                    INSTRUCTIONS: Please read the following information carefully before filling the form
                </p>
                <p class="form-label mb-2 text-danger">
                    Please fill Section A of this form and request your doctor to fill up Section B.
                </p>
                <p class="form-label mb-2 text-danger">
                    Please attach the following supporting documents to your claim form:
                </p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card-body ps-5 pe-5">
                    <ul class="list-style4 text-justify text-black">
                        <li>Original Itemized Bills / Invoices</li>
                        <li>Original Payments Receipts / Credit Card Slips.</li>
                        <li>Original Prescriptions.</li>
                        <li>Original Discharge Summary</li>
                        <li>Copies of Laboratory and Radiology Reports </li>
                        <li>Copies of Operative Notes and Histopathology Report in case of surgery</li>
                        <li>Copy of Birth Certificate in case of Child Birth</li>
                        <li>Copy of Pre-authorization Letter from Health Net</li>
                        <li>Legal tranlsation of all documents in case originals are in any language other than Arabic or English</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="text-black text-justify">
                    Please send your claim within 90 days of your treatment date to Medical Claims Department at the following address:
                    National General Insurance Co., 5th Floor, NGI House, Port Saeed, Deira, P.O.Box 154, Dubai
                </p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="text-black text-justify">
                    If You have any difficulty filling this form, Please contact our Customer Service Desk during office hours(08:00 a.m to 05:00 p.m except Friday & Saturday)
                    Telephone: +971 4 2115 800 or E-mail customerservice@ngiuae.com
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                <div class="panel-heading bg-gray-lighter text-danger bold justify-content-center">Section - A: Policyholder's Details (to be completed by the insured)</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label">1. HealthNet Policy / Card No</label>
                                <div class="col-md-6 col-lg-9">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pi_insno&nbsp;</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label" for="Policyholder"> 2. Name of Policyholder</label>
                                <div class="col-md-6 col-lg-9">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label">3. Name of Employee (If different from Policyholder)</label>
                                <div class="col-md-6 col-lg-9">
                                    @Html.TextBoxFor(m => m.ng_1, new { @class = "form-control", @id = "ung_1", @width = "20px", @maxlength = "20" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-12 col-lg-3 form-label">4. Patient's relationship to insured</label>
                                <div class="col-sm-12 col-md-3 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="ng_2[1]" value="1" id="1">
                                        <span class="custom-control-label">Self</span>
                                    </label>&nbsp;
                                </div>
                                <div class="col-sm-12 col-md-3 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="ng_2[1]" value="2" id="2">
                                        <span class="custom-control-label">Spouse</span>
                                    </label>&nbsp;
                                </div>
                                <div class="col-sm-12 col-md-3 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="ng_2[1]" value="3" id="3">
                                        <span class="custom-control-label">Dependent </span>
                                    </label>&nbsp;
                                </div>
                                <div class="col-sm-12 col-md-3 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="ng_2[1]" value="4" id="4">
                                        <span class="custom-control-label">Child </span>
                                    </label>&nbsp;
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label">5. Contact Numbers</label>
                                <div class="col-md-6 col-lg-9">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_mob&nbsp;</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label">6. E-mail address</label>
                                <div class="col-md-6 col-lg-9">
                                    @if (@emr.pat_email != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_email&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>

                            <div class="form-group row mb-0">
                                <label class="col-md-6 col-lg-3 form-label">7. Total Claimed Amount (in original currency)</label>
                                <div class="col-md-6 col-lg-9">
                                    <label class="form-label text-red text-left" id="inv_net" name="">&nbsp;</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="panel-heading bg-gray-lighter text-danger bold justify-content-center">Declaration / Authorization</div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
                <p class="text-black text-justify">
                    I certify that all information contained in / provided with the claim form is complete and correct. I hereby authorize any doctor, hospital, clinic or medical provider,
                    any insurance company or any other organization or person who has medical record or information about me and / or of my family members (if covered under HealthNet Insurance Policy)
                    to furnish it to National General Insurance Co.(PSC). Any photocopy of this declaration / authorization shall be deemed as effective as the original.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group row">
                    <div class="form-group mb-3" style="display:none" id="upatimg"><img alt="Signature" src="" id="upat_sign" class="avatar avatar-xl bsquare" /></div>
                    <p class="text-black">Signature of Policyholder</p>
                    <p class="text-black">(Self & behalf of Family Member)</p>
                    <p class="text-black">Date: <label class="form-label text-red text-left" id="upsb_date_witness" name="">&nbsp;</label></p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group row">
                    <div class="form-group mb-3" style="display:none" id="uwitimg"><img alt="Signature" src="" id="uwit_sign" class="avatar avatar-xl bsquare" /></div>
                    <p class="text-black">Signature & Seal of the Employer / Sponsor</p>
                    <p class="text-black">(Optional for Group Scheme Only)</p>
                    <p class="text-black">Date: <label class="form-label text-red text-left" id="upsb_date_witness2" name="">&nbsp;</label></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                <div class="panel-heading bg-gray-lighter text-danger bold justify-content-center">Section - B: Patient's Details (to be completed by Treating Doctor)</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label">Name of the Patient</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                </div>
                                <label class="col-md-6 col-lg-3 form-label">Date of Birth</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label">Name of the Treating Physician / Surgeon</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.doc_name&nbsp;</span>
                                </div>
                                <label class="col-md-6 col-lg-3 form-label">Speciality</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_speciality&nbsp;</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label"> Licence / Registration No</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_license&nbsp;</span>
                                </div>
                                <label class="col-md-6 col-lg-3 form-label">Name & Address of Hospital / Clinic</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.set_company&nbsp;</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label"> Telephone No</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.set_tel&nbsp;</span>
                                </div>
                                <label class="col-md-6 col-lg-3 form-label">Email address</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.set_email&nbsp;</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 text-black">Are you patient's primary physician?</label>
                                <div class="col-sm-12 col-md-3 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="ng_2[2]" value="5" id="5">
                                        <span class="custom-control-label">Yes</span>
                                    </label>&nbsp;
                                </div>
                                <div class="col-sm-12 col-md-3 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="ng_2[2]" value="6" id="6">
                                        <span class="custom-control-label">No</span>
                                    </label>&nbsp;
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 text-black" for="Policyholder"> Presenting Complaints</label>
                                <div class="col-md-6 col-lg-9">
                                    <label class="text-black text-red text-left" id="complaints" name="">&nbsp;</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 text-black">Duration of Symptoms</label>
                                <div class="col-md-6 col-lg-2">
                                    @Html.TextBoxFor(m => m.ng_2, new { @class = "form-control", @id = "ung_2", @width = "20px", @maxlength = "20" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 text-black">Onset of Condition</label>
                                <div class="col-md-6 col-lg-9">
                                    @Html.TextBoxFor(m => m.ng_on, new { @class = "form-control", @id = "ung_on", @width = "20px", @maxlength = "100" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 text-black">Relevent Past Medical / Surgical History</label>
                                <div class="col-md-6 col-lg-9">
                                    <label class="text-black text-red text-left" id="past" name="">&nbsp;</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 text-black">Diagnosis</label>
                                <div class="col-md-6 col-lg-3">
                                    <label class="text-black text-red text-left" id="diag_names" name="">&nbsp;</label>
                                </div>
                                <label class="col-md-6 col-lg-3 text-black">ICD Code</label>
                                <div class="col-md-6 col-lg-3">
                                    <label class="text-black text-red text-left" id="diag_codes" name="">&nbsp;</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 text-black">Etiology</label>
                                <div class="col-md-6 col-lg-9">
                                    @Html.TextBoxFor(m => m.ng_eti, new { @class = "form-control", @id = "ung_eti", @width = "20px", @maxlength = "20" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-12 col-lg-3 text-black">Plan / Details of Managment</label>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="card-body">
                                        <ul class="list-style3">
                                            <li>
                                                <div class="form-group row">
                                                    <label class="col-md-6 col-lg-2 text-black">Procedure</label>
                                                    <div class="col-md-6 col-lg-6">
                                                        <label class="text-black text-red text-left" id="pt_tr_name" name="">&nbsp;</label>
                                                    </div>
                                                    <label class="col-md-6 col-lg-2 text-black">CPT Code</label>
                                                    <div class="col-md-6 col-lg-2">
                                                        <label class="text-black text-red text-left" id="pt_tr_code" name="">&nbsp;</label>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-group row">
                                                    <label class="col-md-6 col-lg-2 text-black">Laboratory Test</label>
                                                    <div class="col-md-6 col-lg-10">
                                                        <label class="text-black text-red text-left" id="lab_treatments" name="">&nbsp;</label>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-group row">
                                                    <label class="col-md-6 col-lg-2 text-black">Radiology / Investigations</label>
                                                    <div class="col-md-6 col-lg-10">
                                                        <label class="text-black text-red text-left" id="rad_treatments" name="">&nbsp;</label>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-12 col-lg-2 form-label">In case of Hospitalization</label>
                                <label class="col-md-6 col-lg-2 text-black">Date of Admission:</label>
                                <div class="col-md-6 col-lg-2 mb-1">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fe fe-calendar"></i>
                                            </div>
                                        </div>
                                        @Html.TextBoxFor(m => m.ng_3, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "ung_3" })
                                    </div>
                                </div>
                                <label class="col-md-6 col-lg-2 text-black">	Date of Discharge:</label>
                                <div class="col-md-6 col-lg-2">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fe fe-calendar"></i>
                                            </div>
                                        </div>
                                        @Html.TextBoxFor(m => m.ng_4, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "ung_4" })
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="form-group row">
                    <div class="form-group mb-3"><img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" /></div>
                    <p class="text-black">Signature & Seal of Treating Physician / Surgeon</p>
                    <p class="text-black">Date:<span class="font-weight-normal1 text-capitalize text-left">@emr.today&nbsp;</span></p>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="panel-heading bg-gray-lighter text-danger bold justify-content-center">Section - C For Office Use Only (to be completed by Claims Manager)</div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
                <label class="mb-2 text-black">
                    Remarks
                </label>
                @Html.TextAreaFor(m => m.ng_comments, new { @class = "form-control", @row = "2", @id = "ung_comments" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group row">
                    <div class="form-group mb-3" style="display:none" id="upatimg2"><img alt="Signature" src="" id="upat_sign2" class="avatar avatar-xl bsquare" /></div>
                    <p class="text-black">Signature of Policyholder</p>
                    <p class="text-black">(Self & behalf of Family Member)</p>
                    <p class="text-black">Date: <label class="form-label text-red text-left" id="upsb_date_witness3" name="">&nbsp;</label></p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group row">
                    <div class="form-group mb-3" style="display:none" id="uwitimg2"><img alt="Signature" src="" id="uwit_sign2" class="avatar avatar-xl bsquare" /></div>
                    <p class="text-black">Signature & Seal of the Employer / Sponsor</p>
                    <p class="text-black">(Optional for Group Scheme Only)</p>
                    <p class="text-black">Date: <label class="form-label text-red text-left" id="upsb_date_witness4" name="">&nbsp;</label></p>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="btn-list btn-animation">
                    <button type="submit" class="btn btn-warning btn-sm" id="btn_Update_NGI">Save Changes</button>
                    <button type="submit" class="btn btn-sm btn-outline-danger" id="btn_Delete_NGI">Delete</button>
                    <div class="btn-group mr-2">
                        <div class="dropdown">
                            <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group mr-2">
                        <div class="dropdown">
                            <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Employer / Sponsor
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" onclick="openSignaturePad('witness')">Tab</a>
                                <a class="dropdown-item" onclick="openWacomTabSignaturePad('witness')">Wacom Tab</a>
                            </div>
                        </div>
                    </div>
                   
                    <button type="button" class="btn btn-sm btn-outline-light " id="btn_Print_RadioDeci" onclick="PrintNGI()">
                        <i class="fa fa-print">&nbsp;&nbsp;</i>Print
                    </button>
                    <button type="button" class="btn btn-outline-danger" id="btn_Close_EditNGI" style="display:none">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">

    //#region Partial View Onload
        var formName1 = $(form_EditNGI).closest('form').attr('name');
        $(function () {
            validate();
            set_date();
            Get_EMRINFO();
            GetSignaturename('patient');
            GetSignaturename('witness');
            GetCheckedValues("@Model.ng_5");
        });
    //#endregion

    //#region Get CheckedValues
        var GetCheckedValues = function (checknames) {
            var str = checknames;
            console.log(str);
            var myarray = str.split(',');
            for (var i = 0; i < myarray.length; i++) {
                $('.custom-control-input').each(function () {
                    if (this.id == myarray[i]) {

                        $("#" + this.id).attr('checked', 'checked');
                        $("#" + this.id).prop("checked", true);
                    }
                });
            }
        }
    //#endregion

    //#region Load set Date
        var set_date = function () {
            $('#ung_3,#ung_4').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-"
            });
            var d1 = "@Model.ng_3";
            if (d1 != "1/1/1950 12:00:00 AM") {
                $("#ung_3").bootstrapdatepicker("setDate", moment(new Date("@Model.ng_3")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#ung_3").bootstrapdatepicker("setDate", '');
            }
            var d2 = "@Model.ng_4";
            if (d2 != "1/1/1950 12:00:00 AM") {
                $("#ung_4").bootstrapdatepicker("setDate", moment(new Date("@Model.ng_4")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#ung_4").bootstrapdatepicker("setDate", '');
            }
        }
    //#endregion

    //#region Validation Initialization
        var validate = function () {
            $('#ng_3').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#ng_4').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
        }
    //#endregion

    //#region Load Get Diagnosis,treatments,history,invoice
        var Get_EMRINFO = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetEmrInfo", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#inv_net').text(response[0].inv_net);
                        $('#past').text(response[0].past);
                        $('#pt_tr_code').text(response[0].pt_tr_code);
                        $('#pt_tr_name').text(response[0].pt_tr_name);
                        $('#diag_names').text(response[0].diag_names);
                        $('#diag_codes').text(response[0].diag_codes);
                        $('#complaints').text(response[0].complaints);
                        $('#lab_treatments').text(response[0].lab_treatments);
                        $('#rad_treatments').text(response[0].rad_treatments);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion

    //#region Update Button Click
        $('#btn_Update_NGI').on('click', function (e) {
            e.preventDefault();
            if ($("#form_EditNGI").valid()) {

                $('#btn_Update_NGI').removeClass("btn btn-success");
                $('#btn_Update_NGI').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Update_NGI').html("Updating the Record....");
                var ng_chkbox = "";
                $('.custom-control-input:checked').each(function (index) {
                    ng_chkbox = ng_chkbox + ',' + $(this).val();
                });
                var ng_checkbox = ng_chkbox.substring(1);

                var _dataInsert = {
                "ngId": @Model.ngId,
                "ng_appId": @emr.appId,
                "ng_5": ng_checkbox,
                "ng_1": $("#ung_1").val(),
                "ng_2": $("#ung_2").val(),
                "ng_on": $("#ung_on").val(),
                "ng_eti": $("#ung_eti").val(),
                "ng_no": $("#ung_no").val(),
                "ng_comments": $("#ung_comments").val(),
                "ng_3": moment($("#ung_3").val()).format("YYYY-MM-DD"),
                "ng_4": moment($("#ung_4").val()).format("YYYY-MM-DD"),
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateNGI", "ReimbursementForms", new { area = "EMRForms" })",
                    dataType: 'JSON',
                    data: _dataInsert,
                    success: function (data) {
                        $('#btn_Update_NGI').removeClass("btn btn-warning btn-loaders btn-icon");
                        $('#btn_Update_NGI').addClass("btn btn-warning");
                        $('#btn_Update_NGI').html("Save Changes");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                GetNGI();
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible"  role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> NGI Updated Successfully!", "success");
                                Timeout();
                                $("#NGI_edit").show();
                                $("#NGI_add").hide();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. NGI Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else
                        {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Update_NGI').removeClass("btn btn-warning btn-loaders btn-icon");
                        $('#btn_Update_NGI').addClass("btn btn-warning");
                        $('#btn_Update_NGI').html("Save Changes");
                        Timeout();
                    }
                });

            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion

    //#region Delete Click
        $('#btn_Delete_NGI').on('click', function (e) {
            e.preventDefault();
            $('#btn_Delete_NGI').removeClass("btn btn-success");
            $('#btn_Delete_NGI').addClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Delete_NGI').html("Deleting the Record....");
                $.ajax({
                    url: '@Url.Action("DeleteNGI", "ReimbursementForms", new { area = "EMRForms" })?ngId=' + @Model.ngId,
                    type: "POST",
                    dataType: 'JSON',
                    success: function (data) {
                        $('#btn_Delete_NGI').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Delete_NGI').addClass("btn btn-warning");
                        $('#btn_Delete_NGI').html("Delete");
                        if (data.isAuthorized) {
                            if (data.success) {
                                GetNGI();
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> NGI Claim Deleted Successfully!", "success");
                                clearControls();
                                $("#NGI_edit").hide();
                                $("#NGI_add").show();
                                Addngi();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Error!.. Failed to Delete..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Delete_NGI').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Delete_NGI').addClass("btn btn-Delete");
                        $('#btn_Delete_NGI').html("Delete");
                        Timeout();
                    }
                })
        });
    //#endregion

    //#region Clear Controls
        var clearControls = function () {
            $("#ung_symptoms_date").bootstrapdatepicker("setDate", '');
            $("#ung_diag").val("");
            var elements = document.getElementsByClassName('custom-control-input');
            Array.prototype.forEach.call(elements, function (element) {
                element.checked = false;
            });
        }
    //#endregion

    //#region Print NGI Request
        function PrintNGI() {
            window.open("@Url.Action("PrintNGI", "ReimbursementForms", new { area = "EMRForms" })?ngId=" + @Model.ngId)
        }
    //#endregion

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "NGI",
                "appId": @emr.appId,
                "formname":"NGI",
                "formlink":"PrintNGIClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
        var openSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "NGI",
                "appId": @emr.appId,
                "formname":"NGI",
                "formlink":"PrintNGIClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=NGI',
                    type: "GET",
                    dataType: "json",
                    async: false,
                success: function (response) {
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_created).format("DD-MM-YYYY HH:mm");
                    if (response[0].person == "patient") {
                        $("#upatimg").show();
                        $("#upatimg2").show();
                        $("#upat_sign").attr("src", sign);
                        $("#upat_sign2").attr("src", sign);
                        $("#upsb_date_witness").text(date);
                        $("#upsb_date_witness2").text(date);
                    }
                    if (response[0].person == "witness") {
                        $("#uwitimg").show();
                        $("#uwitimg2").show();
                        $("#uwit_sign").attr("src", sign);
                        $("#uwit_sign2").attr("src", sign);
                        $("#upsb_date_witness3").text(date);
                        $("#upsb_date_witness4").text(date);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
    //#endregion
</script>
