
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMRForms.Neuron
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="modal-body p-4">
    <form id="form_EditNeuron" class="needs-validation fs-14" >
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.nrId)
        @Html.HiddenFor(m => m.nr_appId)
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <label class="form-label mb-2 text-danger text-center text-justify">
                    If you have questions regarding this form or any other aspects of your Cover  Please call Neuron on 800 4408
                </label>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <label class="form-label mb-2 text-danger">
                    Details of Member / Patient
                </label>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                    <label class="form-label">
                        Member's Name
                    </label>
                </div>
                <div class="d-flex  justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-7">
                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                    <label class="form-label">
                        Membership Number from your Card
                    </label>
                </div>
                <div class="d-flex  justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-7">
                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_code&nbsp;</span>
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                    <label class="form-label">
                        Claim Number
                    </label>
                </div>
                <div class="d-flex  justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-7">
                    @Html.TextBoxFor(m => m.nr_1, new { @class = "form-control", @id = "unr_1", @width = "20px", @maxlength = "30" })
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-6 mt-2 ">
                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                    <label class="form-label mb-2">Date of Birth</label>
                </div>
                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-7 mb-2">
                    @if (@emr.pat_dob != "")
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                    }
                    else
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                    }
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-6 mt-2">
                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                    <label class="form-label">
                        E-mail<span class="text-red">*</span>
                    </label>
                </div>
                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-7 mb-2">
                    @if (@emr.pat_email != "")
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_email&nbsp;</span>
                    }
                    else
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                    }
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-6 mt-2">
                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                    <label class="form-label">
                        Contact No.<span class="text-red">*</span>
                    </label>
                </div>
                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-7 mb-2">
                    @if (@emr.pat_mob != "")
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_mob&nbsp;</span>
                    }
                    else
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                    }
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                    <label class="form-label">
                        Patient's Relationship to Member
                    </label>
                </div>
                <div class="d-flex  justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-7">
                    @Html.TextBoxFor(m => m.nr_2, new { @class = "form-control", @id = "unr_2", @width = "20px", @maxlength = "30" })
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                    <label class="form-label">
                        Fax No.
                    </label>
                </div>
                <div class="d-flex  justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-7">
                    @if (@emr.pat_fax != "")
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_fax&nbsp;</span>
                    }
                    else
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <label class="form-label mb-2 text-danger text-justify">
                    Medical Section(to be fully completed by treating physician or dentist - all boxes must be completed in block capitals)
                </label>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                    <label class="form-label">
                        Medical Practitioner's Name
                    </label>
                </div>
                <div class="d-flex  justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-7">
                    <span class="font-weight-normal1 text-uppercase text-left">@emr.doc_name&nbsp;</span>
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                    <label class="form-label">
                        Address
                    </label>
                </div>
                <div class="d-flex  justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-7">
                    @if (@emr.emp_address != "")
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_address&nbsp;</span>
                    }
                    else
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                    }
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                    <label class="form-label">
                        Date Symptoms first noticed by Patient
                    </label>
                </div>
                <div class="d-flex  justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fe fe-calendar"></i>
                            </div>
                        </div>
                        @Html.TextBoxFor(m => m.nr_date1, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "unr_date1" })
                    </div>
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                    <label class="form-label">
                        Tel Number
                    </label>
                </div>
                <div class="d-flex  justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-7">
                    @if (@emr.emp_tel != "")
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_tel&nbsp;</span>
                    }
                    else
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                    }
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                    <label class="form-label">
                        Fax Number
                    </label>
                </div>
                <div class="d-flex  justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-7">
                    @if (@emr.emp_fax != "")
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_fax&nbsp;</span>
                    }
                    else
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                    }
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <label class="text-black text-justify">
                    I declare that I am the patient's treating Physician/Dentist and that the particulars given are to the best of my knowledge true and correct
                </label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mt-2 ">
                <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                <label class="form-label mb-2 text-danger">
                    Doctor signature
                </label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mt-2 ">
                <span class="font-weight-normal1 text-uppercase text-left">@emr.app_fdate&nbsp;</span>
                <label class="form-label mb-2 text-danger">
                    Date
                </label>
            </div>
        </div>
        <div class="row">
            <div class="d-flex col-sm-12 col-md-12 col-lg-12 mt-2">
                <div class="col-sm-11 col-md-6 col-lg-3 ps-0">
                    <label class="text-black">
                        Medical Condition Requiring Treatment&nbsp;
                    </label>
                </div>
                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <label class="form-label text-red text-left" id="treat_details" name="">&nbsp;</label>
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-12 mt-2">
                <div class="col-sm-11 col-md-6 col-lg-3 ps-0">
                    <label class="text-black">
                        Please give date on which your patient first presented to any doctor for this condition&nbsp;
                    </label>
                </div>
                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fe fe-calendar"></i>
                            </div>
                        </div>
                        @Html.TextBoxFor(m => m.nr_date2, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "unr_date2" })
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="text-black text-justify">
                    Please give a full history of the medical condition requiring treatment including full details of any previous investigation/treatment
                    together with relevant dates. Please also advice any further treatment planned.
                </p>
                @Html.TextAreaFor(m => m.nr_his, new { @class = "form-control", @row = "2", @id = "unr_his" })
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
                <label class="text-black mb-2 text-justify">
                    Other Insurer's Details(If the Treatment is accident-related or covered under another insurance policy please provise the details)
                </label>
            </div>
            <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                    <label class="form-label">
                        Insurance Company Name
                    </label>
                </div>
                <div class="d-flex  justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-7">
                    @if (@emr.ic_name != "")
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">@emr.ic_name&nbsp;</span>
                    }
                    else
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                    }
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                    <label class="form-label">
                        Policy Number
                    </label>
                </div>
                <div class="d-flex  justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-7">
                    @if (@emr.pi_insno != "")
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pi_insno&nbsp;</span>
                    }
                    else
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                    }
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-10 mt-2">
                <p class="text-black text-justify">
                    I Confirm I am the Patient(or the patient's parent or guardian if the patient is under 16 years of age) and wish to claim benifits and declare that all
                    the particulars given above are to the best of my knowledge true and correct, in respect of any medical claim, I hereby consent to and authorize the
                    medical practitioner, health professional or other relevant medical establishment to provide and discuss any health / treatment details medical records
                    or discharge arrangements (post and present) with and to the insurer and / or third Party administrator. I agree that a copy of this consent shall
                    have the validity of the original.
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1">
                <div class="form-group mb-3" style="display:none" id="upatimg"><img alt="Signature" src="" id="upat_sign" class="avatar avatar-xl bsquare" /></div>
                <label class="form-label mb-2 text-danger">
                    Patient's Signature
                </label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1">
                <label class="form-label text-red text-left" id="upsb_date_witness" name="">&nbsp;</label>
                <label class="form-label mb-2 text-danger">
                    Date
                </label>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mt-2">
            <label class="form-label mb-2 text-danger text-justify">
                Claim Formshould be submitted within 90 days of start date of the treatment along with all original.
            </label>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="btn-list btn-animation">
                    <button type="submit" class="btn btn-warning btn-sm" id="btn_Update_Neuron">Save Changes</button>
                    <button type="submit" class="btn btn-sm btn-outline-danger" id="btn_Delete_Neuron">Delete</button>
                    <div class="btn-group mr-2">
                        <div class="dropdown">
                            <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-light " id="btn_Print_RadioDeci" onclick="PrintNeuron()">
                        <i class="fa fa-print">&nbsp;&nbsp;</i>Print
                    </button>
                    <button type="button" class="btn btn-outline-danger" id="btn_Close_EditNeuron" style="display:none">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">

    //#region Partial View Onload
        var formName1 = $(form_EditNeuron).closest('form').attr('name');
        $(function () {
            validate();
            set_date();
            Get_Patient_Treatments();
            GetSignaturename('patient');
        });
    //#endregion

    //#region Load set Date
        var set_date = function () {
            $('#unr_date1,#unr_date2').bootstrapdatepicker({
                    format: "dd-MM-yyyy",
                    viewMode: "date",
                    todayHighlight: true,
                    autoclose: true,
                    multidate: false,
                    multidateSeparator: "-"
            });
            var d1 = "@Model.nr_date1";
            if (d1 != "1/1/1950 12:00:00 AM") {
                $("#unr_date1").bootstrapdatepicker("setDate", moment(new Date("@Model.nr_date1")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#unr_date1").bootstrapdatepicker("setDate", '');
            }
            var d2 = "@Model.nr_date2";
            if (d2 != "1/1/1950 12:00:00 AM") {
                $("#unr_date2").bootstrapdatepicker("setDate", moment(new Date("@Model.nr_date2")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#unr_date2").bootstrapdatepicker("setDate", '');
            }

        }
    //#endregion

    //#region Load Get_Patient_Treatments
        var Get_Patient_Treatments = function () {
             $.ajax({
                type: "GET",
                url: "@Url.Action("Get_Patient_Treatment", "ReimbursementForms", new { area = "EMRForms" })?appId=" +@emr.appId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#treat_details').text(response[0].treatments);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
             });
         }
    //#endregion

    //#region Update Button Click
        $('#btn_Update_Neuron').on('click', function (e) {
            e.preventDefault();
            if ($("#form_EditNeuron").valid()) {

                $('#btn_Update_Neuron').removeClass("btn btn-success");
                $('#btn_Update_Neuron').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Update_Neuron').html("Updating the Record....");

                var _dataInsert = {
                "nrId": @Model.nrId,
                "nr_appId": @emr.appId,
                "nr_date1": moment($("#unr_date1").val()).format("YYYY-MM-DD"),
                "nr_date2": moment($("#unr_date2").val()).format("YYYY-MM-DD"),
                "nr_1": $("#unr_1").val(),
                "nr_2": $("#unr_2").val(),
                "nr_his": $("#unr_his").val(),

                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateNeuron", "ReimbursementForms", new { area = "EMRForms" })",
                    dataType: 'JSON',
                    data: _dataInsert,
                    success: function (data) {
                        $('#btn_Update_Neuron').removeClass("btn btn-warning btn-loaders btn-icon");
                        $('#btn_Update_Neuron').addClass("btn btn-warning");
                        $('#btn_Update_Neuron').html("Save Changes");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                GetNeuron();
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible"  role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Neuron Updated Successfully!", "success");
                                Timeout();
                                $("#Neuron_edit").show();
                                $("#Neuron_add").hide();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. Neuron Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else
                        {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Update_Neuron').removeClass("btn btn-warning btn-loaders btn-icon");
                        $('#btn_Update_Neuron').addClass("btn btn-warning");
                        $('#btn_Update_Neuron').html("Save Changes");
                        Timeout();
                    }
                });

            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion

    //#region Delete Click
        $('#btn_Delete_Neuron').on('click', function (e) {
            e.preventDefault();
            $('#btn_Delete_Neuron').removeClass("btn btn-success");
            $('#btn_Delete_Neuron').addClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Delete_Neuron').html("Deleting the Record....");
                $.ajax({
                    url: '@Url.Action("DeleteNeuron", "ReimbursementForms", new { area = "EMRForms" })?nrId=' + @Model.nrId,
                    type: "POST",
                    dataType: 'JSON',
                    success: function (data) {
                        $('#btn_Delete_Neuron').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Delete_Neuron').addClass("btn btn-warning");
                        $('#btn_Delete_Neuron').html("Delete");
                        if (data.isAuthorized) {
                            if (data.success) {
                                GetNeuron();
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Neuron Claim Deleted Successfully!", "success");
                                clearControls();
                                $("#Neuron_edit").hide();
                                $("#Neuron_add").show();
                                Addemirates();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Error!.. Failed to Delete..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Delete_Neuron').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Delete_Neuron').addClass("btn btn-Delete");
                        $('#btn_Delete_Neuron').html("Delete");
                        Timeout();
                    }
                })
        });
    //#endregion

    //#region Clear Controls
        var clearControls = function () {
            $("#nr_date1").bootstrapdatepicker("setDate", '');
            $("#nr_date2").bootstrapdatepicker("setDate", '');
            $("#nr_his").val("");
            $("#nr_1").val("");
            $("#nr_2").val("");
        }
    //#endregion

    //#region Print Neuron Request
        function PrintNeuron() {
            window.open("@Url.Action("PrintNeuron", "ReimbursementForms", new { area = "EMRForms" })?nrId=" + @Model.nrId)
        }
    //#endregion

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "Neuron",
                "appId": @emr.appId,
                "formname":"Neuron",
                "formlink":"PrintNeuronClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
        var openSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "Neuron",
                "appId": @emr.appId,
                "formname":"Neuron",
                "formlink":"PrintNeuronClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=Neuron',
                    type: "GET",
                    dataType: "json",
                    async: false,
                success: function (response) {
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_created).format("DD-MM-YYYY HH:mm");
                    if (response[0].person == "patient") {
                        $("#upatimg").show();
                        $("#upat_sign").attr("src", sign);
                        $("#upsb_date_witness").text(date);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
    //#endregion

    //#region Validation Initialization
        var validate = function () {
            $('#unr_date1').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#unr_date2').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
        }
    //#endregion Validation Initialization
</script>
