
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMRForms.SAICO
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_EditSAICO" class="needs-validation fs-14" >

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.sacnId)
    @Html.HiddenFor(m => m.sacn_appId)
   
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 bg-gray-100 border-dark">
            <div class="mt-2">
                <h5 class="font-weight-bold ps-3">Section A.  Important Information:  Please Read</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 ps-0">
                        <div class="form-group row">
                            <p class="form-label text-justify">
                                Please complete and sign this claim form, and submit it along with itemsied bills and receipts detailing the services rendered.
                            </p>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-6 col-md-6">
                                <p class="form-label text-justify">
                                    Send your completed form, itemsied bills and receipts
                                </p>
                                <p class="form-label text-justify">
                                    By fax: in Saudi Arabia:  +96614601881
                                </p>
                                <p class="form-label text-justify ps-7">
                                    in UAE: +97142955231
                                </p>
                                <p class="form-label text-justify ps-7">
                                    in Bahrain:  +97317213915
                                </p>
                                <p class="form-label text-justify ps-7">
                                    in Qatar:  +9744325420
                                </p>
                                <p class="form-label text-justify ps-7">
                                    in Kuwait:  +9652475498
                                </p>
                                <p class="form-label text-justify">
                                    By mail:  SAICO Claims Dept.,
                                </p>
                                <p class="form-label text-justify ps-7">
                                    Saudi Arabian Insurance Co. B.S.C. ©
                                </p>
                                <p class="form-label text-justify ps-7">
                                    P.O. Box 29397, Riyadh 11457, Kingdom of Saudi Arabia
                                </p>
                            </div>
                            <div class="col-lg-3 col-md-3 bg-white border-dark">
                                <p class="form-label text-justify">
                                    Questions?  Please contact SAICO
                                </p>
                                <p class="form-label text-justify">
                                    By Phone:  in Saudi Arabia:  +96612150634
                                </p>
                                <p class="form-label text-justify ps-7">
                                    in UAE:  +97142958852
                                </p>
                                <p class="form-label text-justify ps-7">
                                    in Bahrain:  +97317213912
                                </p>
                                <p class="form-label text-justify ps-7">
                                    in Qatar:  +9744322781
                                </p>
                                <p class="form-label text-justify ps-7">
                                    in Kuwait:  +9652475497
                                </p>
                                <p class="form-label text-justify">
                                    By mail:  cigname@saicoins.com
                                </p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <p class="form-label text-justify">
                                SAICO is able to process your claim from this claim form or any standard claim form your provider might give you to complete.<br />
                                Please ensure that you include your SAICO Member No. if you submit a claim form other than this one.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 border-dark">
            <div>
                <h5 class="font-weight-bold mt-4 ps-3">Section B.  Employee and Patient Information<span class="font-italic">(Please complete a separate claim form for each family member)</span></h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 ps-0">
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">
                                    1.Employee Name
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.doc_name&nbsp;</span>
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">2.Patient's Name</label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">
                                    3.Employee's Date of Birth
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fe fe-calendar"></i>
                                            </div>
                                        </div>
                                        @Html.TextBoxFor(m => m.sacn_d6, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "usacn_d6" })
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">4.Patient's Date Of Birth</label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    @if (@emr.pat_dob != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">
                                    5.Telephone
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_mob&nbsp;</span>
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">6.Email address </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_email&nbsp;</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">
                                    7. SAICO Member No.
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pi_insno&nbsp;</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 col-md-12 col-lg-12 ps-0">
                                <div class="d-flex col-sm-12 col-md-12 col-lg-10">
                                    <p class="text-black text-justify">
                                        8. Do you have any other health or travel insurance policy from which you may receive full or partial reimbursement for these expenses?
                                    </p>
                                </div>
                                <div class="d-flex col-sm-12 col-md-6 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="sacn_checkbox[1]" value="1" id="1">
                                        <span class="custom-control-label">Yes</span>
                                    </label>&nbsp;
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="sacn_checkbox[1]" value="2" id="2">
                                        <span class="custom-control-label">No</span>
                                    </label>&nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 ps-0">
                    <div class="form-group row">
                        <div class="col-sm-12 col-md-12 col-lg-12 border-dark">
                            <h5 class="font-weight-bold ps-3 mt-4">
                                Section C <span class="font-italic"> (continued)</span>
                            </h5>
                            <h6 class="ps-3">
                                1. List of expenses for which reimbursement is claimed, the amount, and to whom payment should be made.
                            </h6>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table id="tbl_1" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                                        <thead>
                                            <tr style="color: #fff !important; background-color: #808080; border-color: #3C457D; ">
                                                <th class="border-bottom-0 font-weight-semibold text-white">Diagnosis<span class="font-italic">(reason for treatment)</span></th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Date of Service<span class="font-italic">(earliest if multiple)</span></th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Amount<span class="font-italic">(local currency)</span></th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Payment to<span class="font-italic">(employee/provider)</span></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>@Html.TextBoxFor(m => m.sacn_1, new { @class = "form-control", @id = "usacn_1", @maxlength = "200" })</td>
                                                <td>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">
                                                                <i class="fe fe-calendar"></i>
                                                            </div>
                                                        </div>
                                                        @Html.TextBoxFor(m => m.sacn_d1, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "usacn_d1" })
                                                    </div>
                                                </td>
                                                <td>@Html.TextBoxFor(m => m.sacn_2, new { @class = "form-control", @id = "usacn_2", @maxlength = "10" })</td>
                                                <td>@Html.TextBoxFor(m => m.sacn_3, new { @class = "form-control", @id = "usacn_3", @maxlength = "200" })</td>
                                            </tr>
                                            <tr>
                                                <td>@Html.TextBoxFor(m => m.sacn_4, new { @class = "form-control", @id = "usacn_4", @maxlength = "200" })</td>
                                                <td>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">
                                                                <i class="fe fe-calendar"></i>
                                                            </div>
                                                        </div>
                                                        @Html.TextBoxFor(m => m.sacn_d2, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "usacn_d2" })
                                                    </div>
                                                </td>
                                                <td>@Html.TextBoxFor(m => m.sacn_5, new { @class = "form-control", @id = "usacn_5", @maxlength = "10" })</td>
                                                <td>@Html.TextBoxFor(m => m.sacn_6, new { @class = "form-control", @id = "usacn_6", @maxlength = "200" })</td>
                                            </tr>
                                            <tr>
                                                <td>@Html.TextBoxFor(m => m.sacn_7, new { @class = "form-control", @id = "usacn_7", @maxlength = "200" })</td>
                                                <td>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">
                                                                <i class="fe fe-calendar"></i>
                                                            </div>
                                                        </div>
                                                        @Html.TextBoxFor(m => m.sacn_d3, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "usacn_d3" })
                                                    </div>
                                                </td>
                                                <td>@Html.TextBoxFor(m => m.sacn_8, new { @class = "form-control", @id = "usacn_8", @maxlength = "10" })</td>
                                                <td>@Html.TextBoxFor(m => m.sacn_9, new { @class = "form-control", @id = "usacn_9", @maxlength = "200" })</td>
                                            </tr>
                                            <tr>
                                                <td>@Html.TextBoxFor(m => m.sacn_10, new { @class = "form-control", @id = "usacn_10", @maxlength = "200" })</td>
                                                <td>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">
                                                                <i class="fe fe-calendar"></i>
                                                            </div>
                                                        </div>
                                                        @Html.TextBoxFor(m => m.sacn_d4, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "usacn_d4" })
                                                    </div>
                                                </td>
                                                <td>@Html.TextBoxFor(m => m.sacn_11, new { @class = "form-control", @id = "usacn_11", @maxlength = "10" })</td>
                                                <td>@Html.TextBoxFor(m => m.sacn_12, new { @class = "form-control", @id = "usacn_12", @maxlength = "200" })</td>
                                            </tr>
                                            <tr>
                                                <td>@Html.TextBoxFor(m => m.sacn_13, new { @class = "form-control", @id = "usacn_13", @maxlength = "200" })</td>
                                                <td>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <div class="input-group-text">
                                                                <i class="fe fe-calendar"></i>
                                                            </div>
                                                        </div>
                                                        @Html.TextBoxFor(m => m.sacn_d5, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "usacn_d5" })
                                                    </div>
                                                </td>
                                                <td>@Html.TextBoxFor(m => m.sacn_14, new { @class = "form-control", @id = "usacn_14", @maxlength = "10" })</td>
                                                <td>@Html.TextBoxFor(m => m.sacn_15, new { @class = "form-control", @id = "usacn_15", @maxlength = "200" })</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-lg-12 col-md-12 ps-0">
                    <div class="form-group row mt-4">
                        <div class="col-sm-12 col-md-12 col-lg-12 border-dark">
                            <h5 class="font-weight-bold ps-3 mt-4">
                                Section C.  Payment Details
                            </h5>
                            <h6 class="ps-3">
                                2. Payment method.
                            </h6>
                            <p class="text-black text-justify ps-3">
                                Payment will be made by cheque. Unless you instruct us otherwise, your reimbursement cheque will be sent to your employer’s local address,
                                and your employer will then deliver it to you. If you would like to receive payment at an alternate address, please tick the box below and
                                fill in the mailing information.
                            </p>
                            <p class="text-black text-justify ps-3">
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="sacn_checkbox" value="3" id="3">
                                        <span class="custom-control-label"> Please send my reimbursement cheque to the address below:</span>
                                    </label>
                                </div>
                            </p>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <label class="col-md-2 text-black">Name:</label>
                                <div class="col-md-10">
                                    @Html.TextBoxFor(m => m.sacn_16, new { @class = "form-control", @id = "usacn_16", @maxlength = "20" })
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <label class="col-md-2 text-black">Address:</label>
                                <div class="col-md-10">
                                    @Html.TextAreaFor(m => m.sacn_17, new { @class = "form-control", @row = "2", @id = "usacn_17" })
                                </div>
                            </div>
                            <p class="text-black text-justify font-italic ps-3">Please note:  Reimbursement for claims made on this form will be in the currency of the country where services were rendered.  </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-0">
            <p class="text-black text-justify">
                <span class="font-weight-bold font-italic">Fraud Notice:</span> Any person who knowingly and with intent to injure, defraud,
                or deceive any insurer, files a statement of claim containing false, incomplete, or misleading information commits a fraudulent insurance act, which is a crime.
            </p>
            <p class="text-black text-justify">
                <span class="font-weight-bold font-italic">Patient’s Signature and Release:</span>
                (parent or guardian, if claim is for a minor): I certify that the information supplied is true and correct.
                I authorise the release of all records or other information which may be necessary to determine benefits payable. The information provided on this
                form may be used and disclosed to other persons or entities, including my Plan Sponsor, for the purpose of processing of this claim and performing
                health plan administration.
            </p>
            <div class="form-group row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <label class="col-md-8 text-black"> Signature of the Insured/Guardian:</label>
                    <div class="col-md-4">
                        <div class="form-group mb-3" style="display:none" id="upatimg"><img alt="Signature" src="" id="upat_sign" class="avatar avatar-xl bsquare" /></div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <label class="col-md-3 col-lg-2 text-black">Date:</label>
                    <div class="col-md-6">
                        <label class="text-black text-red text-left" id="upsb_date_witness" name="">&nbsp;</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row mt-4">
                <div class="col-lg-12 col-md-12 ps-0">

                    <div class="col-sm-12 col-md-12 col-lg-12 border-dark">
                        <h5 class="font-weight-bold ps-3 mt-4">
                            This section to be completed by SAICO
                        </h5>
                        <div class="form-group row">
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left col-sm-12 col-md-6 col-lg-2">
                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="sacn_checkbox" value="4" id="4">
                                    <span class="custom-control-label"> Approve:</span>
                                </label>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                @Html.TextBoxFor(m => m.sacn_18, new { @class = "form-control", @id = "usacn_18", @maxlength = "50" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left col-sm-12 col-md-6 col-lg-2">
                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="sacn_checkbox" value="5" id="5">
                                    <span class="custom-control-label"> Other:</span>
                                </label>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4">
                                @Html.TextBoxFor(m => m.sacn_19, new { @class = "form-control", @id = "usacn_19", @maxlength = "50" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update_SAICO">Save Changes</button>
                <button type="submit" class="btn btn-sm btn-outline-danger" id="btn_Delete_SAICO">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-light " id="btn_Print_RadioDeci" onclick="PrintSAICO()">
                    <i class="fa fa-print">&nbsp;&nbsp;</i>Print
                </button>
                <button class="btn btn-sm btn-outline-secondary mb-2" id="patient" type="button" onclick="openSignaturePad(this.id)">
                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i>Patient's Sign
                </button>
                <button type="button" class="btn btn-outline-danger" id="btn_Close_EditSAICO" style="display:none">
                    Close
                </button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">

    //#region Partial View Onload
        var formName1 = $(form_EditSAICO).closest('form').attr('name');
        $(function () {
            validate();
            set_date();
            GetSignaturename('patient');
            GetCheckedValues("@Model.sacn_checkbox");
        });
    //#endregion

    //#region Load set Date
        var set_date = function () {
            $('#usacn_d1,#usacn_d2,#usacn_d3,#usacn_d4').bootstrapdatepicker({
                    format: "dd-MM-yyyy",
                    viewMode: "date",
                    todayHighlight: true,
                    autoclose: true,
                    multidate: false,
                    multidateSeparator: "-"
            });
            var d1 = "@Model.sacn_d1";
            if (d1 != "1/1/1950 12:00:00 AM") {
                $("#usacn_d1").bootstrapdatepicker("setDate", moment(new Date("@Model.sacn_d1")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#usacn_d1").bootstrapdatepicker("setDate", '');
            }
            var d2 = "@Model.sacn_d2";
            if (d2 != "1/1/1950 12:00:00 AM") {
                $("#usacn_d2").bootstrapdatepicker("setDate", moment(new Date("@Model.sacn_d2")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#usacn_d2").bootstrapdatepicker("setDate", '');
            }

            var d3 = "@Model.sacn_d3";
            if (d3 != "1/1/1950 12:00:00 AM") {
                $("#usacn_d3").bootstrapdatepicker("setDate", moment(new Date("@Model.sacn_d3")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#usacn_d3").bootstrapdatepicker("setDate", '');
            }
            var d4 = "@Model.sacn_d4";
            if (d4 != "1/1/1950 12:00:00 AM") {
                $("#usacn_d4").bootstrapdatepicker("setDate", moment(new Date("@Model.sacn_d4")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#usacn_d4").bootstrapdatepicker("setDate", '');
            }

            $('#usacn_d5,#usacn_d6').bootstrapdatepicker({
                    format: "dd-MM-yyyy",
                    viewMode: "date",
                    todayHighlight: true,
                    autoclose: true,
                    multidate: false,
                    multidateSeparator: "-"
            });
            var d5 = "@Model.sacn_d5";
            if (d5 != "1/1/1950 12:00:00 AM") {
                $("#usacn_d5").bootstrapdatepicker("setDate", moment(new Date("@Model.sacn_d5")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#usacn_d5").bootstrapdatepicker("setDate", '');
            }
            var d6 = "@Model.sacn_d6";
            if (d6 != "1/1/1950 12:00:00 AM") {
                $("#usacn_d6").bootstrapdatepicker("setDate", moment(new Date("@Model.sacn_d6")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#usacn_d6").bootstrapdatepicker("setDate", '');
            }
        }
    //#endregion

    //#region Get CheckedValues
        var GetCheckedValues = function (checknames) {
            var str = checknames;
            var myarray = str.split(',');

            for (var i = 0; i < myarray.length; i++) {
                $('.custom-control-input').each(function () {
                    if (this.id == myarray[i]) {
                        $("#" +this.id).attr('checked', 'checked');
                        $("#" +this.id).prop("checked", true);

                    }
                });
            }

        }
    //#endregion

    //#region Update  Button Click
        $('#btn_Update_SAICO').on('click', function (e) {
                e.preventDefault();
            if ($("#form_EditSAICO").valid()) {
                console.log($("#sacnId").val());
                $('#btn_Update_SAICO').removeClass("btn btn-success");
                $('#btn_Update_SAICO').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Update_SAICO').html("Updating the Record....");
                var sacn_chkbox = "";
                $('.custom-control-input:checked').each(function (index) {
                    sacn_chkbox = sacn_chkbox + ',' + $(this).val();
                });
                var sacn_checkbox = sacn_chkbox.substring(1);
                var _dataInsert = {
                    "sacnId": @Model.sacnId,
                    "sacn_appId": @emr.appId,
                    "sacn_checkbox": sacn_checkbox,
                    "sacn_r1": $("#usacn_1").val(),
                    "sacn_r1": $("#usacn_1").val(),
                    "sacn_r2": $("#usacn_2").val(),
                    "sacn_r3": $("#usacn_3").val(),
                    "sacn_r4": $("#usacn_4").val(),
                    "sacn_r5": $("#usacn_5").val(),
                    "sacn_r6": $("#usacn_6").val(),
                    "sacn_r7": $("#usacn_7").val(),
                    "sacn_r8": $("#usacn_8").val(),
                    "sacn_r9": $("#usacn_9").val(),
                    "sacn_r10": $("#usacn_10").val(),
                    "sacn_r11": $("#usacn_11").val(),
                    "sacn_r12": $("#usacn_12").val(),
                    "sacn_r13": $("#usacn_13").val(),
                    "sacn_r14": $("#usacn_14").val(),
                    "sacn_r15": $("#sacn_r15").val(),
                    "sacn_r16": $("#sacn_r16").val(),
                    "sacn_r17": $("#sacn_r17").val(),
                    "sacn_r18": $("#usacn_18").val(),
                    "sacn_r19": $("#usacn_19").val(),
                    "sacn_d1": moment($("#usacn_d1").val()).format("YYYY-MM-DD"),
                    "sacn_d2": moment($("#usacn_d2").val()).format("YYYY-MM-DD"),
                    "sacn_d3": moment($("#usacn_d3").val()).format("YYYY-MM-DD"),
                    "sacn_d4": moment($("#usacn_d4").val()).format("YYYY-MM-DD"),
                    "sacn_d5": moment($("#usacn_d5").val()).format("YYYY-MM-DD"),
                    "sacn_d6": moment($("#usacn_d6").val()).format("YYYY-MM-DD"),
                    "sacn_d7": moment($("#usacn_d7").val()).format("YYYY-MM-DD"),
                    "sacn_d8": moment($("#usacn_d8").val()).format("YYYY-MM-DD"),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dataInsert)
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateSAICO", "ReimbursementForms", new { area = "EMRForms" })",
                    dataType: 'JSON',
                    data: _dataInsert,
                    success: function (data) {
                        $('#btn_Update_SAICO').removeClass("btn btn-warning btn-loaders btn-icon");
                        $('#btn_Update_SAICO').addClass("btn btn-warning");
                        $('#btn_Update_SAICO').html("Save Changes");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                GetSAICO();
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible"  role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> SAICO Updated Successfully!", "success");
                                Timeout();
                                $("#saico_edit").show();
                                $("#saico_add").hide();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. SAICO Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else
                        {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Update_SAICO').removeClass("btn btn-warning btn-loaders btn-icon");
                        $('#btn_Update_SAICO').addClass("btn btn-warning");
                        $('#btn_Update_SAICO').html("Save Changes");
                        Timeout();
                    }
                });

            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion

    //#region Delete Click
        $('#btn_Delete_SAICO').on('click', function (e) {
            e.preventDefault();
            $('#btn_Delete_SAICO').removeClass("btn btn-success");
            $('#btn_Delete_SAICO').addClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Delete_SAICO').html("Deleting the Record....");

                $.ajax({
                    url: '@Url.Action("DeleteSAICO", "ReimbursementForms", new { area = "EMRForms" })?sacnId=' + $("#sacnId").val(),
                    type: "POST",
                    dataType: 'JSON',
                    success: function (data) {
                        $('#btn_Delete_SAICO').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Delete_SAICO').addClass("btn btn-warning");
                        $('#btn_Delete_SAICO').html("Delete");
                        if (data.isAuthorized) {
                            if (data.success) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> SAICO Claim Deleted Successfully!", "success");
                                clearControls();
                                $("#saico_edit").hide();
                                $("#saico_add").show();
                                Addsaico();
                                Timeout();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Error!.. Failed to Delete..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Delete_SAICO').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Delete_SAICO').addClass("btn btn-Delete");
                        $('#btn_Delete_SAICO').html("Delete");
                        Timeout();
                    }
                })
        });
    //#endregion

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": formName1,
                "appId": @emr.appId,
                "formname":"SAICO",
                "formlink":"PrintSAICOClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
        var openSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": formName1,
                "appId": @emr.appId,
                "formname":"SAICO",
                "formlink":"PrintSAICOClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=SAICO',
                    type: "GET",
                    dataType: "json",
                    async: false,
                success: function (response) {
                    console.log("fgxghszd");
                    console.log(response);
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_created).format("DD-MM-YYYY HH:mm");
                    if (response[0].person == "patient") {
                        $("#upatimg").show();
                        $("#upat_sign").attr("src", sign);
                        $("#upsb_date_witness").text(date);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
    //#endregion

    //#region Validation Initialization
        var validate = function () {

            $("#form_SAICODecision").validate({
                rules: {
                    sacn_r1: {
                        required: true
                    },

                },
                messages: {
                    sacn_r1: {
                        required: "Please Enter Group Name!"
                    },

                },
                highlight: function (element) {
                    var elem = $(element);
                    $(element).parent().addClass('has-error');
                    error_timeout(elem.attr("id"));
                },
                unhighlight: function (element) {
                    var elem = $(element);
                    $(element).parent().removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'text-danger fw-bold',
                errorPlacement: function (error, element) {
                    var elem = $(element);
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

        }
    //#endregion Validation Initialization

    //#region Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
    //#endregion

    //#region Clear Controls
        var clearControls = function () {
            $("#usacn_1").val("");
            $("#usacn_2").val("");
            $("#usacn_3").val("");
            $("#usacn_4").val("");
            $("#usacn_5").val("");
            $("#usacn_6").val("");
            $("#usacn_7").val("");
            $("#usacn_8").val("");
            $("#usacn_9").val("");
            $("#usacn_10").val("");
            $("#usacn_11").val("");
            $("#usacn_12").val("");
            $("#usacn_13").val("");
            $("#usacn_14").val("");
            $("#usacn_15").val("");
            $("#usacn_16").val("");
            $("#usacn_17").val("");
            $("#usacn_18").val("");
            $("#usacn_19").val("");

            $("#usacn_d1").bootstrapdatepicker("setDate", '');
            $("#usacn_d2").bootstrapdatepicker("setDate", '');
            $("#usacn_d3").bootstrapdatepicker("setDate", '');
            $("#usacn_d4").bootstrapdatepicker("setDate", '');
            $("#usacn_d5").bootstrapdatepicker("setDate", '');
            $("#usacn_d6").bootstrapdatepicker("setDate", '');
            var elements = document.getElementsByClassName('custom-control-input');
            Array.prototype.forEach.call(elements, function (element) {
                element.checked = false;
            });
        }
    //#endregion

    //#region Print SAICO Request
        function PrintSAICO() {
            window.open("@Url.Action("PrintSAICO", "ReimbursementForms", new { area = "EMRForms" })?sacnId=" + @Model.sacnId)
        }
    //#endregion

</script>