

@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMRForms.Nextcare
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_EditNextcare" class="needs-validation fs-14" >

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.cncnId)
    @Html.HiddenFor(m => m.cncn_appId)

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <h1>REIMBURSEMENT FORM</h1>
            <h6>24 hour Tel: 04-2708800, Fax: 04 2708592</h6>
            <h6>Please Complete Clearly (All Fields Mandatory)</h6>
        </div>
    </div>
    <!-- Row -->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 text-justify col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">ADMINISTRATIVE</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-horizontal">
                                <div class="form-group row">
                                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                                        <label class="col-md-4 form-label text-success">Healthcare Provider</label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.set_company&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                                        <label class="col-md-4 form-label text-success">Patient’s Name</label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                                        <label class="col-md-4 form-label text-success">Date of Service</label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.app_fdate&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                                        <label class="col-md-4 form-label text-success">Patient’s Tel</label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_mob&nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                                        <label class="col-md-4 form-label text-success">DOB</label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                                        <label class="col-md-4 form-label text-success">Sex</label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_gender&nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                                        <label class="col-md-4 form-label text-success">Emirates ID</label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_emirateid&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                                        <label class="col-md-4 form-label text-success">Email address<span class="text-danger">*</span></label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_email&nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                                        <label class="col-md-4 col-lg-2 form-label text-success">Insurance Company</label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.cncn_1, new { @class = "form-control", @id = "ucncn_1", @maxlength = "50" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                                        <label class="col-md-4 form-label text-success">Account Name</label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.cncn_2, new { @class = "form-control mb-1", @id = "ucncn_2", @maxlength = "20" })
                                        </div>
                                    </div>
                                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                                        <label class="col-md-4 form-label text-success">UAE IBAN Number</label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.cncn_3, new { @class = "form-control", @id = "ucncn_3", @maxlength = "20" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                                        <label class="col-md-4 form-label text-success">UAE Bank Name</label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.cncn_4, new { @class = "form-control mb-1", @id = "ucncn_4", @maxlength = "20" })
                                        </div>
                                    </div>
                                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                                        <label class="col-md-4 form-label text-success">UAE Swift Code</label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.cncn_5, new { @class = "form-control", @id = "ucncn_5", @maxlength = "20" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-header">
                    <h4 class="card-title">OBJECTIVE / ASSESSMENT (To be completed by Physician)</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-horizontal">
                                <div class="form-group row">
                                    <label class="col-md-3 form-label">Vital Signs</label>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-lg-1 text-black" for="example-email">Temp</label>
                                    <div class="col-md-1">
                                        <label class="form-label text-red text-left" id="sign_temp" name="">&nbsp;</label>
                                    </div>
                                    <label class="col-md-1 col-lg-1 text-black" for="example-email">BP</label>
                                    <div class="col-md-1">
                                        <label class="form-label text-red text-left" id="sign_bp" name="">&nbsp;</label>
                                    </div>
                                    <label class="col-md-2 col-lg-1 text-black" for="example-email">Pulse</label>
                                    <div class="col-md-1">
                                        <label class="form-label text-red text-left" id="sign_pulse" name="">&nbsp;</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 text-black">Past Medical & Surgical History</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.cncn_6, new { @class = "form-control", @id = "ucncn_6" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 text-black">Clinical Details & Description of Present Case</label>
                                    <div class="col-md-9">
                                        @Html.TextBoxFor(m => m.cncn_7, new { @class = "form-control", @id = "ucncn_7" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-12 col-lg-1 text-black">Cause:</label>
                                    <div class="col-md-4 col-lg-2" >
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="cncn_chk" value="1" id="1">
                                                <span class="custom-control-label">Physical Illness </span>
                                            </label>&nbsp;
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-1">
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="cncn_chk" value="2" id="2">
                                                <span class="custom-control-label">Accident  </span>
                                            </label>&nbsp;
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-1">
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="cncn_chk" value="3" id="3">
                                                <span class="custom-control-label">Maternity  </span>
                                            </label>&nbsp;
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-1">
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="cncn_chk" value="4" id="4">
                                                <span class="custom-control-label">Preventive  </span>
                                            </label>&nbsp;
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-1">
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="cncn_chk" value="5" id="5">
                                                <span class="custom-control-label">Psychiatric</span>
                                            </label>&nbsp;
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-1">
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="cncn_chk" value="6" id="6">
                                                <span class="custom-control-label">Dental</span>
                                            </label>&nbsp;
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-2">
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="cncn_chk" value="7" id="7">
                                                <span class="custom-control-label">Work Related</span>
                                            </label>&nbsp;
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-1">
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="cncn_chk" value="8" id="8">
                                                <span class="custom-control-label">Acute</span>
                                            </label>&nbsp;
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-1">
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="cncn_chk" value="9" id="9">
                                                <span class="custom-control-label">Chronic  </span>
                                            </label>&nbsp;
                                        </div>
                                    </div>
                                    <div class="col-md-0 col-lg-1">
                                    </div>
                                    <div class="col-md-4 col-lg-1">
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="cncn_chk" value="10" id="10">
                                                <span class="custom-control-label">Confirmed </span>
                                            </label>&nbsp;
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-1">
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="cncn_chk" value="11" id="11">
                                                <span class="custom-control-label">Suspected  </span>
                                            </label>&nbsp;
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-1">
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="cncn_chk" value="12" id="12">
                                                <span class="custom-control-label">Other </span>
                                            </label>&nbsp;
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-12 text-success font-weight-bold">Assessment / Diagnosis: INDICATE DIAGNOSIS NOT SYMPTOM</label>
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(m => m.cncn_8, new { @class = "form-control", @id = "ucncn_8" })
                                    </div>
                                    <label class="col-md-6 col-lg-4 text-black">Is Assessment / Diagnosis related to another Assessment?</label>
                                    <div class="col-md-3 col-lg-1">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="cncn_chk[13]" value="13" id="13">
                                            <span class="custom-control-label">Yes </span>
                                        </label>&nbsp;
                                    </div>
                                    <div class="col-md-3 col-lg-1">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="cncn_chk[13]" value="14" id="14">
                                            <span class="custom-control-label">No</span>
                                        </label>&nbsp;
                                    </div>
                                    <div class="col-md-0 cxol-lg-6">
                                    </div>
                                    <label class="col-md-6 col-lg-4 text-black"> If yes, specify: (i.e. Retinopathy related to Diabetes)</label>
                                    <div class="col-md-6 col-lg-8">
                                        @Html.TextBoxFor(m => m.cncn_9, new { @class = "form-control", @id = "ucncn_9" })
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-header">
                    <h4 class="card-title">SUBJECTIVE (To be completed by Physician)</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-horizontal">
                                <div class="form-group row">
                                    <label class="col-md-6 col-lg-3 text-black">Symptom(s) As Described by Patient (CHIEF COMPLAINT) </label>
                                    <div class="col-md-6 col-lg-9">
                                        @Html.TextBoxFor(m => m.cncn_10, new { @class = "form-control", @id = "ucncn_10" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-6 col-lg-3 text-black">Date of Present Symptom Onset</label>
                                    <div class="col-md-6 col-lg-9">
                                        <div class="input-group col-md-10 col-lg-3">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fe fe-calendar"></i>
                                                </div>
                                            </div>
                                            @Html.TextBoxFor(m => m.cncn_date1, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "ucncn_date1" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-6 col-lg-3  text-black">What date did the Patient first feel same / similar symptom(s)</label>
                                    <div class="col-md-6 col-lg-9">
                                        <div class="input-group col-md-10 col-lg-3">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fe fe-calendar"></i>
                                                </div>
                                            </div>
                                            @Html.TextBoxFor(m => m.cncn_date2, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "ucncn_date2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-6 col-lg-3 text-black">Is the Patient under any type of treatment / Meds</label>
                                    <div class="col-md-3 col-lg-1">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="cncn_chk[15]" value="15" id="15">
                                            <span class="custom-control-label">Yes </span>
                                        </label>&nbsp;
                                    </div>
                                    <div class="col-md-3 col-lg-1">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="cncn_chk[15]" value="16" id="16">
                                            <span class="custom-control-label">No</span>
                                        </label>&nbsp;
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-6 col-lg-3 text-black">If yes, indicate what assessment and since when</label>
                                    <div class="col-md-6 col-lg-9">
                                        @Html.TextBoxFor(m => m.cncn_11, new { @class = "form-control", @id = "ucncn_11" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-12 text-success font-weight-bold">MEDICAL PLAN Itemized Original Invoices and Applicable Prescriptions / Reports / Results must be enclosed to consider claim</label>
                                    <div class="col-md-9">
                                        <label class="text-black text-red text-left" id="treatments" name="">&nbsp;</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="text-black col-md-12 col-lg-3">Was In-patient Required? Length of Stay</label>
                                    <div class="col-md-12 col-lg-1">
                                        @Html.TextBoxFor(m => m.cncn_12, new { @class = "form-control", @id = "ucncn_12" })
                                    </div>
                                    <label class="text-black col-md-12 col-lg-2">Indicate Provider</label>
                                    <div class="col-md-12 col-lg-1">
                                        @Html.TextBoxFor(m => m.cncn_13, new { @class = "form-control", @id = "ucncn_13" })
                                    </div>
                                    <label class="text-black col-md-12 col-lg-1">Cost</label>
                                    <div class="col-md-12 col-lg-1">
                                        @Html.TextBoxFor(m => m.cncn_14, new { @class = "form-control", @id = "ucncn_14" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-6 col-lg-4 text-black font-italic">Discharge Summary: Itemized Invoices, Reports & Receipts Attached?</label>
                                    <div class="col-md-6 col-lg-2">
                                        @Html.TextBoxFor(m => m.cncn_15, new { @class = "form-control", @id = "ucncn_15" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-md-3 text-success font-weight-bold">Treating Physician Name</label>
                                            <div class="col-md-9">
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.doc_name&nbsp;</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 text-success font-weight-bold">Name & Address of Facility:</label>
                                            <div class="col-md-9">
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.set_address&nbsp;</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 text-success font-weight-bold">Tel / Fax:</label>
                                            <div class="col-md-9">
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.set_tel&nbsp;</span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 text-success font-weight-bold">Email:</label>
                                            <div class="col-md-9">
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.set_email&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <p class="text-black text-justify font-italic">
                                            I hereby authorize any Healthcare Provider, Insurer, Employer
                                            or other Organization to release any information regarding my
                                            medical condition & history to NEXtCARE for the purpose of
                                            determining insurance benefits.
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 col-lg-2 text-black">Signature & Stamp:</label>
                                    <div class="col-md-2 col-lg-1">
                                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                                    </div>
                                    <label class="col-md-3 col-lg-3 text-black">Patient’s Signature (Parent if minor):</label>
                                    <div class="col-md-2 col-lg-1">
                                        <div class="form-group mb-3" style="display:none" id="upatimg"><img alt="Signature" src="" id="upat_sign" class="avatar avatar-xl bsquare" /></div>
                                    </div>
                                    <label class="col-md-2 col-lg-1 text-black">Date:</label>
                                    <div class="col-md-2 col-lg-1">
                                        <label class="form-label text-red text-left" id="psb_date_witness" name="">&nbsp;</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update_Nextcare">Save Changes</button>
                <button type="submit" class="btn btn-sm btn-outline-danger" id="btn_Delete_Nextcare">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-light " id="btn_Print_RadioDeci" onclick="PrintNextcare()">
                    <i class="fa fa-print">&nbsp;&nbsp;</i>Print
                </button>
                <div class="btn-group mr-2">
                    <div class="dropdown">
                        <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                            <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-outline-danger" id="btn_Close_EditNextcare" style="display:none">
                    Close
                </button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">

    //#region Partial View Onload
        var formName1 = $(form_EditNextcare).closest('form').attr('name');
        $(function () {
            validate();
            Get_EMRINFO();
            Get_Patient_signs();
            set_date();
            GetSignaturename('patient');
            GetCheckedValues("@Model.cncn_chk");
        });
    //#endregion

    //#region Load Get_Patient_signs
        var Get_Patient_signs = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Get_Patient_Signs", "ReimbursementForms", new { area = "EMRForms" })?appId="+@emr.appId,
                success: function (response) {
                    if (response.length > 0) {
                        var str1 = response[0].sign_bp;
                        var str2 = response[0].sign_pulse;
                        var str3 = response[0].sign_temp;
                        var regex = /(|<([^>]+)>)/ig;
                        $("#sign_bp").text(str1.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_pulse").text(str2.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_temp").text(str3.replace(/(<p>|<\/p>)/g, ""));
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
    //#endregion

    //#region Load Get Diagnosis,treatments,history,invoice
        var Get_EMRINFO = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetEmrInfo", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#cncn_6').text(response[0].past);
                        $('#cncn_8').text(response[0].diagnosis);
                        $('#treatments').text(response[0].treatments);
                        $('#cncn_7').text(response[0].complaints);
                        $('#cncn_10').text(response[0].complaints);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion

    //#region Load set Date
        var set_date = function () {
            $('#ucncn_date1,#ucncn_date2').bootstrapdatepicker({
                    format: "dd-MM-yyyy",
                    viewMode: "date",
                    todayHighlight: true,
                    autoclose: true,
                    multidate: false,
                    multidateSeparator: "-"
            });
            var d1 = "@Model.cncn_date1";
            if (d1 != "1/1/1950 12:00:00 AM") {
                $("#ucncn_date1").bootstrapdatepicker("setDate", moment(new Date("@Model.cncn_date1")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#ucncn_date1").bootstrapdatepicker("setDate", '');
            }
            var d2 = "@Model.cncn_date2";
            if (d2 != "1/1/1950 12:00:00 AM") {
                $("#ucncn_date2").bootstrapdatepicker("setDate", moment(new Date("@Model.cncn_date2")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#ucncn_date2").bootstrapdatepicker("setDate", '');
            }
        }
    //#endregion

    //#region Get CheckedValues
        var GetCheckedValues = function (checknames) {
            var str = checknames;
            var myarray = str.split(',');

            for (var i = 0; i < myarray.length; i++) {
                $('.custom-control-input').each(function () {
                    if (this.id == myarray[i]) {
                        $("#" +this.id).attr('checked', 'checked');
                        $("#" +this.id).prop("checked", true);

                    }
                });
            }

        }
    //#endregion

    //#region Update  Button Click
        $('#btn_Update_Nextcare').on('click', function (e) {
                e.preventDefault();
            if ($("#form_EditNextcare").valid()) {
                console.log($("#cncnId").val());
                $('#btn_Update_Nextcare').removeClass("btn btn-success");
                $('#btn_Update_Nextcare').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Update_Nextcare').html("Updating the Record....");
                var cncn_chkbox = "";
                $('.custom-control-input:checked').each(function (index) {
                    cncn_chkbox = cncn_chkbox + ',' + $(this).val();
                });
                var cncn_checkbox = cncn_chkbox.substring(1);
                var _dataInsert = {
                    "cncnId": @Model.cncnId,
                    "cncn_appId": @emr.appId,
                    "cncn_1": $("#ucncn_1").val(),
                    "cncn_2": $("#ucncn_2").val(),
                    "cncn_3": $("#ucncn_3").text(),
                    "cncn_4": $("#ucncn_4").val(),
                    "cncn_5": $("#ucncn_5").val(),
                    "cncn_6": $("#ucncn_6").val(),
                    "cncn_7": $("#ucncn_7").val(),
                    "cncn_8": $("#ucncn_8").val(),
                    "cncn_9": $("#ucncn_9").val(),
                    "cncn_10": $("#ucncn_10").val(),
                    "cncn_11": $("#ucncn_11").val(),
                    "cncn_12": $("#ucncn_12").val(),
                    "cncn_13": $("#ucncn_13").val(),
                    "cncn_14": $("#ucncn_14").val(),
                    "cncn_15": $("#ucncn_15").val(),
                    "cncn_chk": cncn_checkbox,
                    "cncn_date1": moment($("#ucncn_date1").val()).format("YYYY-MM-DD"),
                    "cncn_date2": moment($("#ucncn_date2").val()).format("YYYY-MM-DD"),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dataInsert)
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateNextcare", "ReimbursementForms", new { area = "EMRForms" })",
                    dataType: 'JSON',
                    data: _dataInsert,
                    success: function (data) {
                        $('#btn_Update_Nextcare').removeClass("btn btn-warning btn-loaders btn-icon");
                        $('#btn_Update_Nextcare').addClass("btn btn-warning");
                        $('#btn_Update_Nextcare').html("Save Changes");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                GetNextcare();
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible"  role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Nextcare Updated Successfully!", "success");
                                Timeout();
                                $("#Nextcare_edit").show();
                                $("#Nextcare_add").hide();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. Nextcare Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else
                        {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Update_Nextcare').removeClass("btn btn-warning btn-loaders btn-icon");
                        $('#btn_Update_Nextcare').addClass("btn btn-warning");
                        $('#btn_Update_Nextcare').html("Save Changes");
                        Timeout();
                    }
                });

            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion

    //#region Delete Click
        $('#btn_Delete_Nextcare').on('click', function (e) {
            e.preventDefault();
            $('#btn_Delete_Nextcare').removeClass("btn btn-success");
            $('#btn_Delete_Nextcare').addClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Delete_Nextcare').html("Deleting the Record....");

                $.ajax({
                    url: '@Url.Action("DeleteNextcare", "ReimbursementForms", new { area = "EMRForms" })?cncnId=' + $("#cncnId").val(),
                    type: "POST",
                    dataType: 'JSON',
                    success: function (data) {
                        $('#btn_Delete_Nextcare').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Delete_Nextcare').addClass("btn btn-warning");
                        $('#btn_Delete_Nextcare').html("Delete");
                        if (data.isAuthorized) {
                            if (data.success) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Nextcare Claim Deleted Successfully!", "success");
                                clearControls();
                                $("#Nextcare_edit").hide();
                                $("#Nextcare_add").show();
                                AddNextcare();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Error!.. Failed to Delete..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Delete_Nextcare').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Delete_Nextcare').addClass("btn btn-Delete");
                        $('#btn_Delete_Nextcare').html("Delete");
                        Timeout();
                    }
                })
        });
    //#endregion

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "Nextcare",
                "appId": @emr.appId,
                "formname":"Nextcare",
                "formlink":"PrintNextcareClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
        var openSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "Nextcare",
                "appId": @emr.appId,
                "formname":"Nextcare",
                "formlink":"PrintNextcareClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=Nextcare',
                    type: "GET",
                    dataType: "json",
                    async: false,
                success: function (response) {
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_created).format("DD-MM-YYYY HH:mm");
                    if (response[0].person == "patient") {
                        $("#upatimg").show();
                        $("#upat_sign").attr("src", sign);
                        $("#upsb_date_witness").text(date);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
    //#endregion

    //#region Validation Initialization
        var validate = function () {
            $('#ucncn_date1').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#ucncn_date2').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
        }
    //#endregion

    //#region Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
    //#endregion

    //#region Clear Controls
    var clearControls = function () {
        $("#ucncn_1").val("");
        $("#ucncn_2").val("");
        $("#ucncn_3").val("");
        $("#ucncn_4").val("");
        $("#ucncn_5").val("");
        $("#ucncn_6").val("");
        $("#ucncn_7").val("");
        $("#ucncn_8").val("");
        $("#ucncn_9").val("");
        $("#ucncn_10").val("");
        $("#ucncn_11").val("");
        $("#ucncn_12").val("");
        $("#ucncn_13").val("");
        $("#ucncn_14").val("");
        $("#ucncn_15").val("");
        $("#cmcn_date1").bootstrapdatepicker("setDate", '');
        $("#cmcn_date2").bootstrapdatepicker("setDate", '');
        var elements = document.getElementsByClassName('custom-control-input');
        Array.prototype.forEach.call(elements, function (element) {
            element.checked = false;
        });
    }
//#endregion

    //#region Print Nextcare Request
        function PrintNextcare() {
            window.open("@Url.Action("PrintNextcare", "ReimbursementForms", new { area = "EMRForms" })?cncnId=" + @Model.cncnId)
        }
    //#endregion

</script>
