
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMRForms.Alkhazna
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_EditAlkhazna" class="needs-validation fs-14" >

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ckneId)
    @Html.HiddenFor(m => m.ckne_appId)
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <img src="~/images/Reimbursement_Forms/khazna.png" />
        </div>
    </div>
    <!-- Row -->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="panel-heading bg-gray-lighter text-black font-weight-bold text-center">MEDICAL PROVIDER ADMINISTRATOR’S SECTION</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-horizontal border-dark">
                                <div class="form-group row">
                                    <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                                        <label class="col-md-4 form-label">Group’s Name</label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.ckne_3, new { @class = "form-control", @placeholder = "Enter Group Name", @id = "uckne_3", @maxlength = "20" })&nbsp;
                                        </div>
                                    </div>
                                    <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                                        <label class="col-md-4 form-label">Provider’s Name</label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.set_company&nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                                        <label class="col-md-4 form-label">Patient’s Name</label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                                        <label class="col-md-4 form-label">Doctor’s Name</label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.doc_name&nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                                        <label class="col-md-4 form-label">Policy No</label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pi_insno&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                                        <label class="col-md-4 form-label">Date</label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <i class="fe fe-calendar"></i>
                                                    </div>
                                                </div>
                                                @Html.TextBoxFor(m => m.ckne_date2, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "uckne_date2" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                                        <label class="col-md-4 form-label">DOB</label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                                        <label class="col-md-4 form-label">Insured Tel No</label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_mob&nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                                        <label class="col-md-4 form-label">Admission Date</label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text">
                                                        <i class="fe fe-calendar"></i>
                                                    </div>
                                                </div>
                                                @Html.TextBoxFor(m => m.ckne_date1, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "uckne_date1" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-heading bg-gray-lighter text-black font-weight-bold text-center">DOCTOR’S SECTION</div>
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-2 text-black">Medical History:</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(m => m.ckne_1, new { @class = "form-control", @id = "uckne_1", @row = "2", @maxlength = "500" })&nbsp;
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 text-black">Clinical Symptoms & Onset Date:</label>
                            <div class="col-md-10">
                                @Html.TextAreaFor(m => m.ckne_2, new { @class = "form-control", @id = "uckne_2", @row = "2", @maxlength = "500" })&nbsp;
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 text-black">Diagnosis or R/O:</label>
                            <div class="col-md-10">
                                <label class="text-black text-red text-left" id="diagnosis" name="">&nbsp;</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 text-black">Treatments:</label>
                            <div class="col-md-10">
                                <label class="text-black text-red text-left" id="treatments" name="">&nbsp;</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 text-black">Classification of Medical Case:</label>
                            <div class="col-md-1">
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ckne_chk" value="1" id="1">
                                        <span class="custom-control-label">Chronic </span>
                                    </label>&nbsp;
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ckne_chk" value="2" id="2">
                                        <span class="custom-control-label">Maternity</span>
                                    </label>&nbsp;
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ckne_chk" value="3" id="3">
                                        <span class="custom-control-label">Dental</span>
                                    </label>&nbsp;
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ckne_chk" value="4" id="4">
                                        <span class="custom-control-label">Optical</span>
                                    </label>&nbsp;
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="form-label">Out Patient Investigations / Treatment required</label>
                        <div class="table-responsive" style="min-height:200px">
                            <table id="tbl_1" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                                <thead>
                                    <tr style="color: #fff !important; background-color: #808080; border-color: #3C457D; ">
                                        <th class="border-bottom-0 font-weight-semibold text-white">Laboratory</th>
                                        <th class="border-bottom-0 font-weight-semibold text-white">Radiology</th>
                                        <th class="border-bottom-0 font-weight-semibold text-white">Others</th>
                                        <th class="border-bottom-0 font-weight-semibold text-white">Medicines / IVFluids</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><label class="text-black text-red text-left" id="lab_treatments" name="">&nbsp;</label></td>
                                        <td><label class="text-black text-red text-left" id="rad_treatments" name="">&nbsp;</label></td>
                                        <td><label class="text-black text-red text-left" id="other_treatments" name="">&nbsp;</label></td>
                                        <td><label class="text-black text-red text-left" id="Prescriptions_details" name="">&nbsp;</label></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 text-black">Doctor’s signature & Stamp:</label>
                        <div class="col-md-10">
                            <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </div>
                </div>
                <div class="panel-heading bg-gray-lighter text-black font-weight-bold text-center">
                    INSURANCE DEPARTMENT’S SECTION (FOR PRE-AUTHORIZATION’S REQUEST)
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label">Out Patient Investigations / Treatment required</label>
                    <div class="table-responsive">
                        <table id="tbl_1" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                            <thead>
                                <tr style="color: #fff !important; background-color: #808080; border-color: #3C457D; ">
                                    <th class="border-bottom-0 font-weight-semibold text-white">Items</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Gross Rates</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Aproved Rates Items Gross Rates (Filled by AKIC)</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Net Rates (Filled by AKIC)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Room & Board</td>
                                    <td>@Html.TextBoxFor(m => m.ckne_4, new { @class = "form-control", @id = "uckne_4", @maxlength = "20" })&nbsp;</td>
                                    <td>@Html.TextBoxFor(m => m.ckne_5, new { @class = "form-control", @id = "uckne_5", @maxlength = "20" })</td>
                                    <td>@Html.TextBoxFor(m => m.ckne_6, new { @class = "form-control", @id = "uckne_6", @maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td>Surgeon’s Fee</td>
                                    <td>@Html.TextBoxFor(m => m.ckne_7, new { @class = "form-control", @id = "uckne_7", @maxlength = "20" })&nbsp;</td>
                                    <td>@Html.TextBoxFor(m => m.ckne_8, new { @class = "form-control", @id = "uckne_8", @maxlength = "20" })</td>
                                    <td>@Html.TextBoxFor(m => m.ckne_9, new { @class = "form-control", @id = "uckne_9", @maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td>Anesthetist’s Fees</td>
                                    <td>@Html.TextBoxFor(m => m.ckne_10, new { @class = "form-control", @id = "uckne_10", @maxlength = "20" })&nbsp;</td>
                                    <td>@Html.TextBoxFor(m => m.ckne_11, new { @class = "form-control", @id = "uckne_11", @maxlength = "20" })</td>
                                    <td>@Html.TextBoxFor(m => m.ckne_12, new { @class = "form-control", @id = "uckne_12", @maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td>Anesthetist’s Fees</td>
                                    <td>@Html.TextBoxFor(m => m.ckne_13, new { @class = "form-control", @id = "uckne_13", @maxlength = "20" })&nbsp;</td>
                                    <td>@Html.TextBoxFor(m => m.ckne_14, new { @class = "form-control", @id = "uckne_14", @maxlength = "20" })</td>
                                    <td>@Html.TextBoxFor(m => m.ckne_15, new { @class = "form-control", @id = "uckne_15", @maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td>Consultations Fees</td>
                                    <td>@Html.TextBoxFor(m => m.ckne_16, new { @class = "form-control", @id = "uckne_16", @maxlength = "20" })&nbsp;</td>
                                    <td>@Html.TextBoxFor(m => m.ckne_17, new { @class = "form-control", @id = "uckne_17", @maxlength = "20" })</td>
                                    <td>@Html.TextBoxFor(m => m.ckne_18, new { @class = "form-control", @id = "uckne_18", @maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td>Consultations Fees</td>
                                    <td>@Html.TextBoxFor(m => m.ckne_19, new { @class = "form-control", @id = "uckne_19", @maxlength = "20" })&nbsp;</td>
                                    <td>@Html.TextBoxFor(m => m.ckne_20, new { @class = "form-control", @id = "uckne_20", @maxlength = "20" })</td>
                                    <td>@Html.TextBoxFor(m => m.ckne_21, new { @class = "form-control", @id = "uckne_21", @maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td>Radiology</td>
                                    <td>@Html.TextBoxFor(m => m.ckne_22, new { @class = "form-control", @id = "uckne_22", @maxlength = "20" })&nbsp;</td>
                                    <td>@Html.TextBoxFor(m => m.ckne_23, new { @class = "form-control", @id = "uckne_23", @maxlength = "20" })</td>
                                    <td>@Html.TextBoxFor(m => m.ckne_24, new { @class = "form-control", @id = "uckne_24", @maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td>Medicines</td>
                                    <td>@Html.TextBoxFor(m => m.ckne_25, new { @class = "form-control", @id = "uckne_25", @maxlength = "20" })&nbsp;</td>
                                    <td>@Html.TextBoxFor(m => m.ckne_26, new { @class = "form-control", @id = "uckne_26", @maxlength = "20" })</td>
                                    <td>@Html.TextBoxFor(m => m.ckne_27, new { @class = "form-control", @id = "uckne_27", @maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td>Others</td>
                                    <td>@Html.TextBoxFor(m => m.ckne_28, new { @class = "form-control", @id = "uckne_28", @maxlength = "20" })&nbsp;</td>
                                    <td>@Html.TextBoxFor(m => m.ckne_29, new { @class = "form-control", @id = "uckne_29", @maxlength = "20" })</td>
                                    <td>@Html.TextBoxFor(m => m.ckne_30, new { @class = "form-control", @id = "uckne_30", @maxlength = "20" })</td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td>@Html.TextBoxFor(m => m.ckne_31, new { @class = "form-control", @id = "uckne_31", @maxlength = "20" })&nbsp;</td>
                                    <td>@Html.TextBoxFor(m => m.ckne_32, new { @class = "form-control", @id = "uckne_32", @maxlength = "20" })</td>
                                    <td>@Html.TextBoxFor(m => m.ckne_33, new { @class = "form-control", @id = "uckne_33", @maxlength = "20" })</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-heading bg-gray-lighter text-black font-weight-bold text-center">
                    PATIENT’S SECTION
                </div>
                <div class="form-group row">
                    <p class="text-black text-justify">
                        I hereby authorize Al Khazna Insurance Company’s authorized representatives to obtain any requisite medical details from my current and previous
                        medical records / doctors. Also, I guarantee to pay any expenses not covered by insurance plan or in excess of the limits provided under the plan or any
                        deductible or co-insurance determined by this plan.
                    </p>
                </div>
                <div class="form-group row">
                    <label class="col-md-1 text-black">Date:</label>
                    <div class="col-md-1">
                        <label class="form-label text-red text-left" id="upsb_date_witness" name="">&nbsp;</label>
                    </div>
                    <label class="col-md-4 text-black">Insured member’s signature (Parent/Guardian if Minor):</label>
                    <div class="col-md-1">
                        <div class="form-group mb-3" style="display:none" id="upatimg"><img alt="Signature" src="" id="upat_sign" class="avatar avatar-xl bsquare" /></div>
                    </div>
                </div>
                <div class="form-group row">
                    <p class="text-black text-justify">
                        <span class="font-weight-bold">Al Khazna Head Office:</span> Villa No.51, Delma St., Muroor Area, P.O.Box: 73343 - Abu Dhabi,, U.A.E., Tel. 02-6969700 - Fax 02-6418299
                    </p>
                    <p class="text-black text-justify">
                        <span class="font-weight-bold">Main Branches:</span> Al Ain: Khalfan Al Dhaheri Building, Khalifa St., P.O.Box: 20755 Al Ain, UAE, Tel. 03- 7661700 - Fax.03- 7666404
                        Dubai: Al Masaood Building, Airport St., P.O.Box: 8953 Dubai, UAE, Tel. 04- 2944088 - Fax.04-2944433
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->


    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update_Alkhazna">Save Changes</button>
                <button type="submit" class="btn btn-sm btn-outline-danger" id="btn_Delete_Alkhazna">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-light " id="btn_Print_RadioDeci" onclick="PrintAlkhazna()">
                    <i class="fa fa-print">&nbsp;&nbsp;</i>Print
                </button>
                <div class="btn-group mr-2">
                    <div class="dropdown">
                        <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                            <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">

    //#region Partial View Onload
        var formName1 = $(form_EditAlkhazna).closest('form').attr('name');
        $(function () {
            Get_EMRINFO();
            set_date();
            validate();
            GetSignaturename('patient');
            Get_AllPatientDrugs();
            GetCheckedValues("@Model.ckne_chk");
        });
    //#endregion

    //#region Load set Date
        var set_date = function () {
            $('#uckne_date1,#uckne_date2').bootstrapdatepicker({
                    format: "dd-MM-yyyy",
                    viewMode: "date",
                    todayHighlight: true,
                    autoclose: true,
                    multidate: false,
                    multidateSeparator: "-"
            });
            var d1 = "@Model.ckne_date1";
            if (d1 != "1/1/1950 12:00:00 AM") {
                $("#uckne_date1").bootstrapdatepicker("setDate", moment(new Date("@Model.ckne_4")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#uckne_date1").bootstrapdatepicker("setDate", '');
            }
            var d2 = "@Model.ckne_date2";
            if (d2 != "1/1/1950 12:00:00 AM") {
                $("#uckne_date2").bootstrapdatepicker("setDate", moment(new Date("@Model.ckne_date2")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#uckne_date2").bootstrapdatepicker("setDate", '');
            }
        }
    //#endregion

    //#region Get CheckedValues
        var GetCheckedValues = function (checknames) {
            var str = checknames;
            var myarray = str.split(',');

            for (var i = 0; i < myarray.length; i++) {
                $('.custom-control-input').each(function () {
                    if (this.id == myarray[i]) {
                        $("#" +this.id).attr('checked', 'checked');
                        $("#" +this.id).prop("checked", true);

                    }
                });
            }

        }
    //#endregion

    //#region Load Get Drugs
        var Get_AllPatientDrugs = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Get_AllPatientDrugs", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#Prescriptions_details').text(response[0].Prescriptions);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion

    //#region Load Get Diagnosis,treatments,history,invoice
        var Get_EMRINFO = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetEmrInfo", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#uckne_1').text(response[0].past);
                        $('#diagnosis').text(response[0].diagnosis);
                        $('#treatments').text(response[0].treatments);
                        $('#uckne_2').text(response[0].complaints);
                        $('#lab_treatments').text(response[0].lab_treatments);
                        $('#rad_treatments').text(response[0].rad_treatments);
                        $('#other_treatments').text(response[0].other_treatments);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion

    //#region Update  Button Click
        $('#btn_Update_Alkhazna').on('click', function (e) {
                e.preventDefault();
            if ($("#form_EditAlkhazna").valid()) {
                console.log($("#ckneId").val());
                $('#btn_Update_Alkhazna').removeClass("btn btn-success");
                $('#btn_Update_Alkhazna').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Update_Alkhazna').html("Updating the Record....");
                var ckne_check = "";
                $('.custom-control-input:checked').each(function (index) {
                    ckne_check = ckne_check + ',' + $(this).val();
                });
                var ckne_checkbx = ckne_check.substring(1);
                var _dataInsert = {
                    "ckneId": @Model.ckneId,
                    "ckne_appId": @emr.appId,
                    "ckne_1": $("#uckne_1").val(),
                    "ckne_2": $("#uckne_2").val(),
                    "ckne_3": $("#uckne_3").val(),
                    "ckne_4": $("#uckne_4").val(),
                    "ckne_5": $("#uckne_5").val(),
                    "ckne_6": $("#uckne_6").val(),
                    "ckne_7": $("#uckne_7").val(),
                    "ckne_8": $("#uckne_8").val(),
                    "ckne_9": $("#uckne_9").val(),
                    "ckne_10": $("#uckne_10").val(),
                    "ckne_11": $("#uckne_11").val(),
                    "ckne_12": $("#uckne_12").val(),
                    "ckne_13": $("#uckne_13").val(),
                    "ckne_14": $("#uckne_14").val(),
                    "ckne_15": $("#uckne_15").val(),
                    "ckne_16": $("#uckne_16").val(),
                    "ckne_17": $("#uckne_17").val(),
                    "ckne_18": $("#uckne_18").val(),
                    "ckne_19": $("#uckne_19").val(),
                    "ckne_20": $("#uckne_20").val(),
                    "ckne_21": $("#uckne_21").val(),
                    "ckne_22": $("#uckne_22").val(),
                    "ckne_23": $("#uckne_23").val(),
                    "ckne_24": $("#uckne_24").val(),
                    "ckne_25": $("#uckne_25").val(),
                    "ckne_26": $("#uckne_26").val(),
                    "ckne_27": $("#uckne_27").val(),
                    "ckne_28": $("#uckne_28").val(),
                    "ckne_29": $("#uckne_29").val(),
                    "ckne_30": $("#uckne_30").val(),
                    "ckne_31": $("#uckne_31").val(),
                    "ckne_32": $("#uckne_32").val(),
                    "ckne_33": $("#uckne_33").val(),
                    "ckne_34": '',
                    "ckne_35": '',
                    "ckne_chk": ckne_checkbx,
                    "ckne_date1": moment($("#uckne_date1").val()).format("YYYY-MM-DD"),
                    "ckne_date2": moment($("#uckne_date2").val()).format("YYYY-MM-DD"),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dataInsert)
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateAlkhazna", "ReimbursementForms", new { area = "EMRForms" })",
                    dataType: 'JSON',
                    data: _dataInsert,
                    success: function (data) {
                        $('#btn_Update_Alkhazna').removeClass("btn btn-warning btn-loaders btn-icon");
                        $('#btn_Update_Alkhazna').addClass("btn btn-warning");
                        $('#btn_Update_Alkhazna').html("Save Changes");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                GetAlkhazna();
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible"  role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Alkhazna Updated Successfully!", "success");
                                Timeout();
                                $("#alkhazna_edit").show();
                                $("#alkhazna_add").hide();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. Alkhazna Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else
                        {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Update_Alkhazna').removeClass("btn btn-warning btn-loaders btn-icon");
                        $('#btn_Update_Alkhazna').addClass("btn btn-warning");
                        $('#btn_Update_Alkhazna').html("Save Changes");
                        Timeout();
                    }
                });

            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion

    //#region Delete Click
        $('#btn_Delete_Alkhazna').on('click', function (e) {
            e.preventDefault();
            $('#btn_Delete_Alkhazna').removeClass("btn btn-success");
            $('#btn_Delete_Alkhazna').addClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Delete_Alkhazna').html("Deleting the Record....");

                $.ajax({
                    url: '@Url.Action("DeleteAlkhazna", "ReimbursementForms", new { area = "EMRForms" })?ckneId=' + $("#ckneId").val(),
                    type: "POST",
                    dataType: 'JSON',
                    success: function (data) {
                        $('#btn_Delete_Alkhazna').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Delete_Alkhazna').addClass("btn btn-warning");
                        $('#btn_Delete_Alkhazna').html("Delete");
                        if (data.isAuthorized) {
                            if (data.success) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Alkhazna Claim Deleted Successfully!", "success");
                                clearControls();
                                $("#alkhazna_edit").hide();
                                $("#alkhazna_add").show();
                                Addalkhazna();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Error!.. Failed to Delete..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Delete_Alkhazna').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Delete_Alkhazna').addClass("btn btn-Delete");
                        $('#btn_Delete_Alkhazna').html("Delete");
                        Timeout();
                    }
                })
        });
    //#endregion

    //#region Validation Initialization
        var validate = function () {
            $('#uckne_date1').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#uckne_date2').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
        }
    //#endregion Validation Initialization

    //#region Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
    //#endregion

    //#region Clear Controls
    var clearControls = function () {
        $("#uckne_1").val("");
        $("#uckne_2").val("");
        $("#uckne_3").val("");
        $("#uckne_4").val("");
        $("#uckne_5").val("");
        $("#uckne_6").val("");
        $("#uckne_7").val("");
        $("#uckne_8").val("");
        $("#uckne_9").val("");
        $("#uckne_10").val("");
        $("#uckne_11").val("");
        $("#uckne_12").val("");
        $("#uckne_13").val("");
        $("#uckne_14").val("");
        $("#uckne_15").val("");
        $("#uckne_16").val("");
        $("#uckne_17").val("");
        $("#uckne_18").val("");
        $("#uckne_19").val("");
        $("#uckne_20").val("");
        $("#uckne_21").val("");
        $("#uckne_22").val("");
        $("#uckne_23").val("");
        $("#uckne_24").val("");
        $("#uckne_25").val("");
        $("#uckne_26").val("");
        $("#uckne_27").val("");
        $("#uckne_28").val("");
        $("#uckne_29").val("");
        $("#uckne_30").val("");
        $("#uckne_31").val("");
        $("#uckne_32").val("");
        $("#uckne_33").val("");
        var elements = document.getElementsByClassName('custom-control-input');
        Array.prototype.forEach.call(elements, function (element) {
            element.checked = false;
        });
        $("#uckne_date1").bootstrapdatepicker("setDate", '');
        $("#uckne_date2").bootstrapdatepicker("setDate", '');
    }
//#endregion

    //#region Print Alkhazna Request
        function PrintAlkhazna() {
            window.open("@Url.Action("PrintAlkhazna", "ReimbursementForms", new { area = "EMRForms" })?ckneId=" + @Model.ckneId)
        }
    //#endregion

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "Alkhazna",
                "appId": @emr.appId,
                "formname":"Alkhazna",
                "formlink":"PrintAlkhaznaClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
        var openSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "Alkhazna",
                "appId": @emr.appId,
                "formname":"Alkhazna",
                "formlink":"PrintAlkhaznaClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=Alkhazna',
                    type: "GET",
                    dataType: "json",
                    async: false,
                success: function (response) {
                    console.log("fgxghszd");
                    console.log(response);
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_created).format("DD-MM-YYYY HH:mm");
                    if (response[0].person == "patient") {
                        $("#upatimg").show();
                        $("#upat_sign").attr("src", sign);
                        $("#upsb_date_witness").text(date);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
    //#endregion

</script>
