
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMRForms.Mapfre
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_EditMapfre" class="needs-validation fs-14" >

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.maprId)
    @Html.HiddenFor(m => m.mapr_appId)

    <!-- Row-->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 text-justify col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-red font-weight-bold">1. INSURED/PATIENT’S DETAILS</h5>
                </div>
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">
                                    Title
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.mapr_1, new { @class = "form-control", @id = "umapr_1", @maxlength = "50" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">
                                    (Sur)name of policyholder
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.mapr_2, new { @class = "form-control", @id = "umapr_2", @maxlength = "50" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">
                                    I.D. card no.
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.mapr_3, new { @class = "form-control mb-1", @id = "umapr_3", @maxlength = "50" })
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">Date of birth of policyholder</label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fe fe-calendar"></i>
                                            </div>
                                        </div>
                                        @Html.TextBoxFor(m => m.mapr_date1, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "umapr_date1" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">
                                    Title
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.mapr_4, new { @class = "form-control", @id = "umapr_4", @maxlength = "50" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">
                                    (Sur)name of policyholder
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.mapr_5, new { @class = "form-control", @id = "umapr_5", @maxlength = "50" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">
                                    I.D. card no.
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.mapr_6, new { @class = "form-control mb-1", @id = "umapr_6", @maxlength = "50" })
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">Date of birth of policyholder</label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fe fe-calendar"></i>
                                            </div>
                                        </div>
                                        @Html.TextBoxFor(m => m.mapr_date2, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "umapr_date2" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                                <label class="col-md-4 col-lg-2 form-label">
                                    Address
                                </label>
                                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6 col-lg-7">
                                    @Html.TextBoxFor(m => m.mapr_7, new { @class = "form-control", @id = "umapr_7", @maxlength = "50" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">
                                    Telephone
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.mapr_8, new { @class = "form-control mb-1", @id = "umapr_8", @maxlength = "50" })
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                <label class="col-md-4 form-label">	Policy no.</label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.mapr_9, new { @class = "form-control", @id = "umapr_9", @maxlength = "50" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                                <label class="col-md-4 col-lg-2 form-label">
                                    Email
                                </label>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-md-6 col-lg-7">
                                    @Html.TextBoxFor(m => m.mapr_10, new { @class = "form-control", @id = "umapr_10", @maxlength = "50" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-header">
                    <h5 class="card-title text-red font-weight-bold">2. TO BE COMPLETED BY THE PATIENT/LEGAL GUARDIAN</h5>
                </div>
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-4 form-label">
                                Reason for seeking medical advice
                            </label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.mapr_11, new { @class = "form-control", @id = "umapr_11", @maxlength = "50" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 form-label">
                                Date of patient’s first visit to any doctor for this condition
                            </label>
                            <div class="col-md-8 col-lg-8">
                                <div class="input-group col-md-8 col-lg-4">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fe fe-calendar"></i>
                                        </div>
                                    </div>
                                    @Html.TextBoxFor(m => m.mapr_date3, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "umapr_date3" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 form-label">
                                Did treatment require in-patient treatment?
                            </label>
                            <div class="col-md-2">
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="mapr_checkbox[1]" value="1" id="1">
                                    <span class="custom-control-label">Yes</span>
                                </label>
                            </div>
                            <div class="col-md-2">
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="mapr_checkbox[1]" value="2" id="2">
                                    <span class="custom-control-label">No</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-12 col-lg-4 form-label">
                                If the answer is “YES” please advise:
                            </label>
                            <label class="col-md-4 col-lg-2 form-label">
                                Admission date:
                            </label>

                            <div class="input-group col-md-6 col-lg-2 mb-1">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-calendar"></i>
                                    </div>
                                </div>
                                @Html.TextBoxFor(m => m.mapr_date4, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "umapr_date4" })
                            </div>
                            <label class="col-md-4 col-lg-2 form-label">
                                Discharge date:
                            </label>
                            <div class="input-group col-md-6 col-lg-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-calendar"></i>
                                    </div>
                                </div>
                                @Html.TextBoxFor(m => m.mapr_date5, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "umapr_date5" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-12 form-label">
                                Attach hospital certificate(s) (if applicable)
                            </label>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 form-label">
                                Are any of the costs recoverable from a third party?
                            </label>
                            <div class="col-md-2">
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="mapr_checkbox[3]" value="3" id="3">
                                    <span class="custom-control-label">Yes</span>
                                </label>
                            </div>
                            <div class="col-md-2">
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="mapr_checkbox[3]" value="4" id="4">
                                    <span class="custom-control-label">No</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">
                                If “YES”, give details
                            </label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(m => m.mapr_12, new { @class = "form-control", @placeholder = "Please specify", @row = "2", @id = "umapr_12" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-header">
                    <h5 class="card-title text-red font-weight-bold">3. TO BE COMPLETED BY A REGISTERED MEDICAL OR DENTAL PRACTITIONER</h5>
                </div>
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-4 form-label">
                                Name patient(s)
                            </label>
                            <div class="col-md-8">
                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 form-label">
                                Details of the medical condition/symptoms
                            </label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.mapr_13, new { @class = "form-control", @id = "umapr_13", @maxlength = "50" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 form-label">
                                Diagnosis
                            </label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.mapr_14, new { @class = "form-control", @id = "umapr_14", @maxlength = "50" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 form-label">
                                Date of first consultation with the GP for this medical condition:
                            </label>
                            <div class="input-group col-md-8 col-lg-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-calendar"></i>
                                    </div>
                                </div>
                                @Html.TextBoxFor(m => m.mapr_date6, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "umapr_date6" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 form-label">
                                Treatment given
                            </label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.mapr_15, new { @class = "form-control", @id = "umapr_15", @maxlength = "50" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 form-label">
                                Treatment recommended
                            </label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.mapr_16, new { @class = "form-control", @id = "umapr_16", @maxlength = "50" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 form-label">
                                Does the patient require further treatment from a specialist?
                            </label>
                            <div class="col-md-2">
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="mapr_checkbox[5]" value="5" id="5">
                                    <span class="custom-control-label">Yes</span>
                                </label>
                            </div>
                            <div class="col-md-2">
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="mapr_checkbox[5]" value="6" id="6">
                                    <span class="custom-control-label">No</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 form-label">
                                Date
                            </label>
                            <div class="input-group col-md-8 col-lg-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-calendar"></i>
                                    </div>
                                </div>
                                @Html.TextBoxFor(m => m.mapr_date7, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "umapr_date7" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">
                                Signature of General Practitioner
                            </label>
                            <div class="col-md-12">
                                <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-header">
                    <h5 class="card-title text-red font-weight-bold">4. TO BE COMPLETED BY A SPECIALIST</h5>
                </div>
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-4 form-label">
                                Name patient(s)
                            </label>
                            <div class="col-md-8">
                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 form-label">
                                Details of the medical condition/symptoms
                            </label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.mapr_17, new { @class = "form-control", @id = "umapr_17", @maxlength = "50" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 form-label">
                                Diagnosis
                            </label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.mapr_18, new { @class = "form-control", @id = "umapr_18", @maxlength = "50" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 form-label">
                                Treatment given
                            </label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.mapr_19, new { @class = "form-control", @id = "umapr_19", @maxlength = "50" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 form-label">
                                Treatment recommended
                            </label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.mapr_20, new { @class = "form-control", @id = "umapr_20", @maxlength = "50" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 form-label">
                                Does the patient require further treatment from a specialist?
                            </label>
                            <div class="col-md-2">
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="mapr_checkbox[7]" value="7" id="7">
                                    <span class="custom-control-label">Yes</span>
                                </label>
                            </div>
                            <div class="col-md-2">
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="mapr_checkbox[7]" value="8" id="8">
                                    <span class="custom-control-label">No</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 form-label">
                                Date
                            </label>
                            <div class="input-group col-md-4 col-lg-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-calendar"></i>
                                    </div>
                                </div>
                                @Html.TextBoxFor(m => m.mapr_date8, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "umapr_date8" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label">
                                Signature of General Specialist
                            </label>
                            <div class="col-md-12">
                                <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-header">
                    <h5 class="card-title text-red font-weight-bold">DECLARATION</h5>
                </div>
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <p class="text-black text-justify">
                                I authorise MAPFRE Middlesea p.l.c. to share information with others (including insurers and Insurance Associations) in order to prevent
                                fraudulent claims. I declare that all the answers given and the statements made are true and correct. Furthermore I declare that I have not
                                withheld any information relevant to the claim. I give explicit and unequivocal consent to MAPFRE Middlesea p.l.c. to seek any information
                                from any doctor, surgeon, hospital, clinic, laboratory or persons that have records or knowledge of my health in order for the validity of
                                the claims to be established.
                            </p>
                            <p class="text-black text-justify">
                                I hereby authorise any doctor, surgeon, hospital, clinic, laboratory or persons that have records to provide full medical information
                                concerning myself and my dependants.
                            </p>
                            <p class="text-black text-justify">
                                I give consent to MAPFRE Middlesea p.l.c. to process my personal data supplied by myself or any person, body or entity in order to process,
                                handle and settle the claim.
                            </p>
                            <p class="text-black text-justify">
                                I authorise MAPFRE Middlesea p.l.c. to share information with others (including insurers and Insurance Associations) in order to prevent
                                fraudulent claims. I declare that all the answers given and the statements made are true and correct. Furthermore I declare that I have not
                                withheld any information relevant to the claim. I give explicit and unequivocal consent to MAPFRE Middlesea p.l.c. to seek any information
                                from any doctor, surgeon, hospital, clinic, laboratory or persons that have records or knowledge of my health in order for the validity of
                                the claims to be established
                            </p>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-8">
                                <div id="upatimg" class="col-md-3"><img alt="Signature" src="" id="upat_sign" class="avatar avatar-xxl bsquare" /></div>
                                <label class="form-label">
                                    Patient’s signature (If the patient is under 18 years of age, then the legal guardian must sign):
                                </label>
                            </div>
                            <div class="col-md-4">
                                <div>
                                    <label class="form-label text-red text-left" id="upsb_date_witness" name="">&nbsp;</label>
                                </div>
                                <label class="form-label">
                                    Date
                                </label>
                            </div>
                        </div>
                    </div>
                </div><div class="card-header">
                    <h5 class="card-title text-red font-weight-bold">DATA PROTECTION</h5>
                </div>
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <p class="text-black text-justify">
                                MAPFRE Middlesea p.l.c. is legally bound to follow the provisions of the Data Protection Act, 2001. MAPFRE Middlesea p.l.c. is registered
                                with the Office of the Commissioner for Data Protection to process data in accordance with this Act. The Data Protection Policy of MAPFRE
                                Middlesea p.l.c. is compliant with this Act, a copy of which is available on request.
                            </p>
                            <p class="text-black text-justify">
                                MAPFRE Middlesea p.l.c. (C-5553) is authorised by the Malta Financial Services Authority to carry on both Long Term and General Business
                                under the Insurance Business Act, 1998
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Row -->

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update_Mapfre">Save Changes</button>
                <button type="submit" class="btn btn-sm btn-outline-danger" id="btn_Delete_Mapfre">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-light " id="btn_Print_RadioDeci" onclick="PrintMapfre()">
                    <i class="fa fa-print">&nbsp;&nbsp;</i>Print
                </button>
                <div class="btn-group mr-2">
                    <div class="dropdown">
                        <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                            <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-outline-danger" id="btn_Close_EditMapfre" style="display:none">
                    Close
                </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    //#region Partial View Onload
        var formName1 = $(form_EditMapfre).closest('form').attr('name');
        $(function () {
            validate();
            set_date();
            GetSignaturename('patient');
            GetCheckedValues("@Model.mapr_chk");
        });
    //#endregion

    //#region Load set Date
        var set_date = function () {
            $('#umapr_date1,#umapr_date2,#umapr_date3,#umapr_date4,#umapr_date5,#umapr_date7,#umapr_date8,#umapr_date6').bootstrapdatepicker({
                    format: "dd-MM-yyyy",
                    viewMode: "date",
                    todayHighlight: true,
                    autoclose: true,
                    multidate: false,
                    multidateSeparator: "-"
            });
            var d1 = "@Model.mapr_date1";
            console.log(d1);
            if (d1 != "1/1/1950 12:00:00 AM") {
                $("#umapr_date1").bootstrapdatepicker("setDate", moment(new Date("@Model.mapr_date1")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#umapr_date1").bootstrapdatepicker("setDate", '');
            }
            var d2 = "@Model.mapr_date2";
            if (d2 != "1/1/1950 12:00:00 AM") {
                $("#umapr_date2").bootstrapdatepicker("setDate", moment(new Date("@Model.mapr_date2")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#umapr_date2").bootstrapdatepicker("setDate", '');
            }

            var d3 = "@Model.mapr_date3";
            if (d3 != "1/1/1950 12:00:00 AM") {
                $("#umapr_date3").bootstrapdatepicker("setDate", moment(new Date("@Model.mapr_date3")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#umapr_date3").bootstrapdatepicker("setDate", '');
            }
            var d4 = "@Model.mapr_date4";
            if (d4 != "1/1/1950 12:00:00 AM") {
                $("#umapr_date4").bootstrapdatepicker("setDate", moment(new Date("@Model.mapr_date4")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#umapr_date4").bootstrapdatepicker("setDate", '');
            }
            var d5 = "@Model.mapr_date5";
            if (d5 != "1/1/1950 12:00:00 AM") {
                $("#umapr_date5").bootstrapdatepicker("setDate", moment(new Date("@Model.mapr_date5")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#umapr_date5").bootstrapdatepicker("setDate", '');
            }
            var d6 = "@Model.mapr_date6";
            if (d6 != "1/1/1950 12:00:00 AM") {
                $("#umapr_date6").bootstrapdatepicker("setDate", moment(new Date("@Model.mapr_date6")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#umapr_date6").bootstrapdatepicker("setDate", '');
            }
            var d7 = "@Model.mapr_date7";
            if (d7 != "1/1/1950 12:00:00 AM") {
                $("#umapr_date7").bootstrapdatepicker("setDate", moment(new Date("@Model.mapr_date7")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#umapr_date7").bootstrapdatepicker("setDate", '');
            }
            var d8 = "@Model.mapr_date8";
            if (d8 != "1/1/1950 12:00:00 AM") {
                $("#umapr_date8").bootstrapdatepicker("setDate", moment(new Date("@Model.mapr_date8")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#umapr_date8").bootstrapdatepicker("setDate", '');
            }

        }
    //#endregion

    //#region Get CheckedValues
        var GetCheckedValues = function (checknames) {
            var str = checknames;
            var myarray = str.split(',');
            for (var i = 0; i < myarray.length; i++) {
                $('.custom-control-input').each(function () {
                    if (this.id == myarray[i]) {
                        $("#" +this.id).attr('checked', 'checked');
                        $("#" +this.id).prop("checked", true);
                    }
                });
            }

        }
    //#endregion

    //#region Update  Button Click
        $('#btn_Update_Mapfre').on('click', function (e) {
                e.preventDefault();
            if ($("#form_EditMapfre").valid()) {
                console.log($("#maprId").val());
                $('#btn_Update_Mapfre').removeClass("btn btn-success");
                $('#btn_Update_Mapfre').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Update_Mapfre').html("Updating the Record....");
                var mapr_chkbox = "";
                $('.custom-control-input:checked').each(function (index) {
                    mapr_chkbox = mapr_chkbox + ',' + $(this).val();
                });
                var mapr_checkbox = mapr_chkbox.substring(1);
                var _dataInsert = {
                    "maprId": @Model.maprId,
                    "mapr_appId": @emr.appId,
                    "mapr_chk": mapr_checkbox,
                    "mapr_1": $("#umapr_1").val(),
                    "mapr_2": $("#umapr_2").val(),
                    "mapr_3": $("#umapr_3").val(),
                    "mapr_4": $("#umapr_4").val(),
                    "mapr_5": $("#umapr_5").val(),
                    "mapr_6": $("#umapr_6").val(),
                    "mapr_7": $("#umapr_7").val(),
                    "mapr_8": $("#umapr_8").val(),
                    "mapr_9": $("#umapr_9").val(),
                    "mapr_10": $("#umapr_10").val(),
                    "mapr_11": $("#umapr_11").val(),
                    "mapr_12": $("#umapr_12").val(),
                    "mapr_13": $("#umapr_13").val(),
                    "mapr_14": $("#umapr_14").val(),
                    "mapr_15": $("#umapr_15").val(),
                    "mapr_16": $("#umapr_16").val(),
                    "mapr_17": $("#umapr_17").val(),
                    "mapr_18": $("#umapr_18").val(),
                    "mapr_19": $("#umapr_19").val(),
                    "mapr_20": $("#umapr_20").val(),
                    "mapr_date1": moment($("#umapr_date1").val()).format("YYYY-MM-DD"),
                    "mapr_date2": moment($("#umapr_date2").val()).format("YYYY-MM-DD"),
                    "mapr_date3": moment($("#umapr_date3").val()).format("YYYY-MM-DD"),
                    "mapr_date4": moment($("#mapr_date4").val()).format("YYYY-MM-DD"),
                    "mapr_date5": moment($("#mapr_date5").val()).format("YYYY-MM-DD"),
                    "mapr_date6": moment($("#mapr_date6").val()).format("YYYY-MM-DD"),
                    "mapr_date7": moment($("#mapr_date7").val()).format("YYYY-MM-DD"),
                    "mapr_date8": moment($("#mapr_date8").val()).format("YYYY-MM-DD"),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dataInsert)
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateMapfre", "ReimbursementForms", new { area = "EMRForms" })",
                    dataType: 'JSON',
                    data: _dataInsert,
                    success: function (data) {
                        $('#btn_Update_Mapfre').removeClass("btn btn-warning btn-loaders btn-icon");
                        $('#btn_Update_Mapfre').addClass("btn btn-warning");
                        $('#btn_Update_Mapfre').html("Save Changes");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                GetMapfre();
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible"  role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Mapfre Updated Successfully!", "success");
                                Timeout();
                                $("#Mapfre_edit").show();
                                $("#Mapfre_edit").hide();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. Mapfre Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else
                        {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Update_Mapfre').removeClass("btn btn-warning btn-loaders btn-icon");
                        $('#btn_Update_Mapfre').addClass("btn btn-warning");
                        $('#btn_Update_Mapfre').html("Save Changes");
                        Timeout();
                    }
                });

            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion

    //#region Delete Click
        $('#btn_Delete_Mapfre').on('click', function (e) {
            e.preventDefault();
            $('#btn_Delete_Mapfre').removeClass("btn btn-success");
            $('#btn_Delete_Mapfre').addClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Delete_Mapfre').html("Deleting the Record....");
            $.ajax({
                url: '@Url.Action("DeleteMapfre", "ReimbursementForms", new { area = "EMRForms" })?maprId=' + @Model.maprId,
                type: "POST",
                dataType: 'JSON',
                success: function (data) {
                    $('#btn_Delete_Mapfre').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Delete_Mapfre').addClass("btn btn-warning");
                    $('#btn_Delete_Mapfre').html("Delete");
                    if (data.isAuthorized) {
                        if (data.success) {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> Mapfre Claim Deleted Successfully!", "success");
                            clearControls();
                            $("#Mapfre_edit").hide();
                            $("#Mapfre_edit").show();
                            AddMapfre();
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Error!.. Failed to Delete..</strong><br/>" +
                                "</div></div>";
                            $("#error").html(html);
                        }
                    }
                    else {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                    }
                },
                error: function (xhr) {
                    $('#btn_Delete_Mapfre').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Delete_Mapfre').addClass("btn btn-Delete");
                    $('#btn_Delete_Mapfre').html("Delete");
                    Timeout();
                }
            })
        });
    //#endregion

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "Mapfre",
                "appId": @emr.appId,
                "formname":"Mapfre",
                "formlink":"PrintMapfre",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
        var openSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "Mapfre",
                "appId": @emr.appId,
                "formname":"Mapfre",
                "formlink":"PrintMapfre",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                    GetSignaturename('patient');
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=Mapfre',
                    type: "GET",
                    dataType: "json",
                    async: false,
                    success: function (response) {
                    console.log(response);
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_created).format("DD-MM-YYYY HH:mm");
                        if (response[0].person == "patient") {
                        $("#upatimg").show();
                        $("#upat_sign").attr("src", sign);
                        $("#upsb_date_witness").text(date);
                        $("#upat_sign").removeClass("avatar avatar-xxl bsquare");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
    //#endregion

    //#region Validation Initialization
        var validate = function () {

            $('#umapr_date1').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#umapr_date3').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#umapr_date2').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#umapr_date4').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#umapr_date5').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#umapr_date6').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#umapr_date7').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#umapr_date8').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });


        }
    //#endregion

    //#region Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
    //#endregion

    //#region Clear Controls
        var clearControls = function () {
            $("#umapr_1").val("");
            $("#umapr_2").val("");
            $("#umapr_3").val("");
            $("#umapr_4").val("");
            $("#umapr_5").val("");
            $("#umapr_6").val("");
            $("#umapr_7").val("");
            $("#umapr_8").val("");
            $("#umapr_9").val("");
            $("#umapr_10").val("");
            $("#umapr_11").val("");
            $("#umapr_12").val("");
            $("#umapr_13").val("");
            $("#umapr_14").val("");
            $("#umapr_15").val("");
            $("#umapr_16").val("");
            $("#umapr_17").val("");
            $("#umapr_18").val("");
            $("#umapr_19").val("");
            $("#umapr_20").val("");
            $("#umapr_date1").bootstrapdatepicker("setDate", '');
            $("#umapr_date2").bootstrapdatepicker("setDate", '');
            $("#umapr_date3").bootstrapdatepicker("setDate", '');
            $("#umapr_date4").bootstrapdatepicker("setDate", '');
            $("#umapr_date5").bootstrapdatepicker("setDate", '');
            $("#umapr_date6").bootstrapdatepicker("setDate", '');
            $("#umapr_date7").bootstrapdatepicker("setDate", '');
            $("#umapr_date8").bootstrapdatepicker("setDate", '');
            var elements = document.getElementsByClassName('custom-control-input');
            Array.prototype.forEach.call(elements, function (element) {
                element.checked = false;
            });
        }
    //#endregion

    //#region Print Mapfre Request
        function PrintMapfre() {
            window.open("@Url.Action("PrintMapfre", "ReimbursementForms", new { area = "EMRForms" })?maprId=" + @Model.maprId)
        }
    //#endregion

</script>
