
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMRForms.ArabOrient
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_EditArabOrient" class="needs-validation fs-14" >

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.caonId)
    @Html.HiddenFor(m => m.caon_appId)
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <img src="~/images/Reimbursement_Forms/arab.png" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <h1 class="font-weight-bold text-center">Professional Indemnity for Medical Practitioners</h1>
        </div>
    </div>

    <!-- Row -->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h6 class="card-title">
                        I. General Data
                    </h6>
                </div>
                <div class="card-body pb-0">
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                                <label class="col-md-3 text-justify text-black">1. Full Name</label>
                                <div class="d-flex  justify-content-center w-8  text-justify text-black">
                                    :
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.caon_1, new { @class = "form-control", @id = "ucaon_1", @maxlength = "20" })&nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                                <label class="col-md-3 text-justify text-black">2. Business Address</label>
                                <div class="d-flex  justify-content-center w-8  text-justify text-black">
                                    :
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.caon_2, new { @class = "form-control", @id = "ucaon_2", @maxlength = "20" })&nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                                <label class="col-md-3 text-justify text-black">3. UAE Medical Association No.</label>
                                <div class="d-flex  justify-content-center w-8  text-justify text-black">
                                    :
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.caon_3, new { @class = "form-control", @id = "ucaon_3", @maxlength = "20" })&nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                                <label class="col-md-3 text-justify text-black">4. Required Limit of Indemnity</label>
                                <div class="d-flex  justify-content-center w-8  text-justify text-black">
                                    :
                                </div>
                                <div class="col-md-6">
                                    @Html.TextBoxFor(m => m.caon_4, new { @class = "form-control", @id = "ucaon_4", @maxlength = "20" })&nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <label class="col-md-12 text-justify text-black">5. a. At what medical school / university did the proposer graduate and when?</label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.caon_5, new { @class = "form-control", @id = "ucaon_5", @maxlength = "20" })&nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <label class="col-md-12 text-justify text-black"> b. Professional Qualification Acquire</label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.caon_6, new { @class = "form-control", @id = "ucaon_6", @maxlength = "20" })&nbsp;
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <label class="col-md-12 text-justify text-black"> 6. Where and when has the proposer practiced his profession since graduation?</label>
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.caon_7, new { @class = "form-control", @id = "ucaon_7", @maxlength = "20" })&nbsp;
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-header">
                    <h4 class="card-title">II. Nature and Volume of your present and foreseeable future activities</h4>
                </div>
                <div class="card-body ps-6">
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-12 text-justify text-black">1. The proposer is practising as</label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.caon_8, new { @class = "form-control", @id = "ucaon_8", @maxlength = "20" })&nbsp;
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-12 text-justify text-black">2. Name (s) of qualified medical assistant(s) / technician(s)</label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.caon_9, new { @class = "form-control", @id = "ucaon_9", @maxlength = "20" })&nbsp;
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-12 text-justify text-black">3. Number of technicians employed</label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.caon_10, new { @class = "form-control", @id = "ucaon_10", @maxlength = "20" })&nbsp;
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-12 text-justify text-black">4. Number of nurses employed</label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.caon_11, new { @class = "form-control", @id = "ucaon_11", @maxlength = "20" })&nbsp;
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-12 text-justify text-black">5. Is the proposer under contract with or employed by any individual, firm or corporation? If so please give details.</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(m => m.caon_12, new { @class = "form-control", @row = "2", @id = "ucaon_12" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-12 text-justify text-black">6. Does the proposer own, wholly or in part, operate or administer any hospital, nursing home or other institution? If so, please give details including number of reserved beds.</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(m => m.caon_13, new { @class = "form-control", @row = "2", @id = "ucaon_13" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-12 text-justify text-black">7. Does the proposer own or operate x-ray machine or laser? If so, please give number, type and whether they are used for diagnosis or treatment or both</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(m => m.caon_14, new { @class = "form-control", @row = "2", @id = "ucaon_14" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-12 text-justify text-black">8.  Number of patients per year</label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.caon_15, new { @class = "form-control", @maxlength = "20", @id = "ucaon_15" })
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-header">
                    <h4 class="card-title">III. Previous Insurance / Previous Claims</h4>
                </div>
                <div class="card-body ps-6">
                    <div class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-12 text-justify text-black">1.  If the proposer has been previously insured please specify:</label>
                        </div>
                        <div class="form-group row ps-4">
                            <label class="col-md-12 text-justify text-black">Name of the Insurer</label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.caon_16, new { @class = "form-control", @id = "ucaon_16", @maxlength = "20" })&nbsp;
                            </div>
                        </div>
                        <div class="form-group row ps-4">
                            <label class="col-md-12 text-justify text-black">Policy Period</label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.caon_17, new { @class = "form-control", @id = "ucaon_17", @maxlength = "20" })&nbsp;
                            </div>
                        </div>
                        <div class="form-group row ps-4">
                            <label class="col-md-12 text-justify text-black">Limit of Indemnity</label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.caon_18, new { @class = "form-control", @id = "ucaon_18", @maxlength = "20" })&nbsp;
                            </div>
                        </div>
                        <div class="form-group row ps-4">
                            <label class="col-md-12 text-justify text-black">Deductible</label>
                            <div class="col-md-12">
                                @Html.TextBoxFor(m => m.caon_19, new { @class = "form-control", @id = "ucaon_19", @maxlength = "20" })&nbsp;
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-12 text-justify text-black">2. Has a previous application been declined?</label>
                            <div class="col-md-6 d-flex">
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="cir_checkbox[1]" value="1" id="1">
                                    <span class="custom-control-label">Yes</span>
                                </label>&nbsp;
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="cir_checkbox[1]" value="2" id="2">
                                    <span class="custom-control-label">No</span>
                                </label>&nbsp;
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-12 text-justify text-black">3. Has a previous Insurer required increased premium or special restrictions?</label>
                            <div class="col-md-6 d-flex">
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="cir_checkbox[3]" value="3" id="3">
                                    <span class="custom-control-label">Yes</span>
                                </label>&nbsp;
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="cir_checkbox[3]" value="4" id="4">
                                    <span class="custom-control-label">No</span>
                                </label>&nbsp;
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-12 text-justify text-black">4. Has a previous insurance been terminated / not been renewed by an Insurer?</label>
                            <div class="col-md-6 d-flex">
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="cir_checkbox[5]" value="5" id="5">
                                    <span class="custom-control-label">Yes</span>
                                </label>&nbsp;
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="cir_checkbox[5]" value="6" id="6">
                                    <span class="custom-control-label">No</span>
                                </label>&nbsp;
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-12 text-justify text-black">If so, please give detailed information</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(m => m.caon_20, new { @class = "form-control", @row = "2", @id = "ucaon_20" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-12 text-justify text-black">5. Have any claims or suits for malpractice been made against the proposer or any of his partners, assistants, nurses or technicians during the past five years?</label>
                            <div class="col-md-6 d-flex">
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="cir_checkbox[7]" value="7" id="7">
                                    <span class="custom-control-label">Yes</span>
                                </label>&nbsp;
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="cir_checkbox[7]" value="8" id="8">
                                    <span class="custom-control-label">No</span>
                                </label>&nbsp;
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-12 text-justify text-black">if so, please advise amount and background of each claim.</label>
                            <div class="col-md-12">
                                @Html.TextAreaFor(m => m.caon_21, new { @class = "form-control", @row = "2", @id = "ucaon_21" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <p class="text-justify text-black">I declare that the statement and particulars in this proposal are true and that I have not misstated or suppressed any material facts. I agree that this proposal, together with any other information supplied by me, shall form the basis of any contract of insurance effected thereon. Signing this proposal form does not bind the proposer or the Company to complete this insurance.</p>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 text-black">Date.</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fe fe-calendar"></i>
                                        </div>
                                    </div>
                                    @Html.TextBoxFor(m => m.caon_22, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "ucaon_22" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="text-black">Sign & Stamp</label>
                            <div class="col-md-12">
                                <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->


    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update_ArabOrient">Save Changes</button>
                <button type="submit" class="btn btn-sm btn-outline-danger" id="btn_Delete_ArabOrient">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-light " id="btn_Print_RadioDeci" onclick="PrintArabOrient()">
                    <i class="fa fa-print">&nbsp;&nbsp;</i>Print
                </button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">

    //#region Partial View Onload
        var formName1 = $(form_EditArabOrient).closest('form').attr('name');
        $(function () {
            set_date();
            validate();
            GetCheckedValues("@Model.caon_chk");
        });
    //#endregion

    //#region Load set Date
        var set_date = function () {
            $('#ucaon_22').bootstrapdatepicker({
                    format: "dd-MM-yyyy",
                    viewMode: "date",
                    todayHighlight: true,
                    autoclose: true,
                    multidate: false,
                    multidateSeparator: "-"
            });
            var d1 = "@Model.caon_22";
            if (d1 != "1/1/1950 12:00:00 AM") {
                $("#ucaon_22").bootstrapdatepicker("setDate", moment(new Date("@Model.caon_4")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#ucaon_22").bootstrapdatepicker("setDate", '');
            }         
        }
    //#endregion

    //#region Get CheckedValues
        var GetCheckedValues = function (checknames) {
            var str = checknames;
            var myarray = str.split(',');

            for (var i = 0; i < myarray.length; i++) {
                $('.custom-control-input').each(function () {
                    if (this.id == myarray[i]) {
                        $("#" +this.id).attr('checked', 'checked');
                        $("#" +this.id).prop("checked", true);

                    }
                });
            }

        }
    //#endregion

    //#region Update  Button Click
        $('#btn_Update_ArabOrient').on('click', function (e) {
                e.preventDefault();
            if ($("#form_EditArabOrient").valid()) {
                console.log($("#caonId").val());
                $('#btn_Update_ArabOrient').removeClass("btn btn-success");
                $('#btn_Update_ArabOrient').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Update_ArabOrient').html("Updating the Record....");
                var caon_check = "";
                $('.custom-control-input:checked').each(function (index) {
                    caon_check = caon_check + ',' + $(this).val();
                });
                var caon_checkbx = caon_check.substring(1);
                var _dataInsert = {
                    "caonId": @Model.caonId,
                    "caon_appId": @emr.appId,
                    "caon_1": $("#ucaon_1").val(),
                    "caon_2": $("#ucaon_2").val(),
                    "caon_3": $("#ucaon_3").val(),
                    "caon_4": $("#ucaon_4").val(),
                    "caon_5": $("#ucaon_5").val(),
                    "caon_6": $("#ucaon_6").val(),
                    "caon_7": $("#ucaon_7").val(),
                    "caon_8": $("#ucaon_8").val(),
                    "caon_9": $("#ucaon_9").val(),
                    "caon_10": $("#ucaon_10").val(),
                    "caon_11": $("#ucaon_11").val(),
                    "caon_12": $("#ucaon_12").val(),
                    "caon_13": $("#ucaon_13").val(),
                    "caon_14": $("#ucaon_14").val(),
                    "caon_15": $("#ucaon_15").val(),
                    "caon_16": $("#ucaon_16").val(),
                    "caon_17": $("#ucaon_17").val(),
                    "caon_18": $("#ucaon_18").val(),
                    "caon_19": $("#ucaon_19").val(),
                    "caon_20": $("#ucaon_20").val(),
                    "caon_21": $("#ucaon_21").val(),
                    "caon_chk": caon_checkbx,
                    "caon_22": moment($("#ucaon_22").val()).format("YYYY-MM-DD"),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dataInsert)
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateArabOrient", "ReimbursementForms", new { area = "EMRForms" })",
                    dataType: 'JSON',
                    data: _dataInsert,
                    success: function (data) {
                        $('#btn_Update_ArabOrient').removeClass("btn btn-warning btn-loaders btn-icon");
                        $('#btn_Update_ArabOrient').addClass("btn btn-warning");
                        $('#btn_Update_ArabOrient').html("Save Changes");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                GetArabOrient();
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible"  role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> ArabOrient Updated Successfully!", "success");
                                Timeout();
                                $("#araborient_edit").show();
                                $("#araborient_add").hide();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. ArabOrient Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else
                        {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Update_ArabOrient').removeClass("btn btn-warning btn-loaders btn-icon");
                        $('#btn_Update_ArabOrient').addClass("btn btn-warning");
                        $('#btn_Update_ArabOrient').html("Save Changes");
                        Timeout();
                    }
                });

            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion

    //#region Delete Click
        $('#btn_Delete_ArabOrient').on('click', function (e) {
            e.preventDefault();
            $('#btn_Delete_ArabOrient').removeClass("btn btn-success");
            $('#btn_Delete_ArabOrient').addClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Delete_ArabOrient').html("Deleting the Record....");

                $.ajax({
                    url: '@Url.Action("DeleteArabOrient", "ReimbursementForms", new { area = "EMRForms" })?caonId=' + $("#caonId").val(),
                    type: "POST",
                    dataType: 'JSON',
                    success: function (data) {
                        $('#btn_Delete_ArabOrient').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Delete_ArabOrient').addClass("btn btn-warning");
                        $('#btn_Delete_ArabOrient').html("Delete");
                        if (data.isAuthorized) {
                            if (data.success) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> ArabOrient Claim Deleted Successfully!", "success");
                                clearControls();
                                $("#araborient_edit").hide();
                                $("#araborient_add").show();
                                AddArabOrient();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Error!.. Failed to Delete..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Delete_ArabOrient').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Delete_ArabOrient').addClass("btn btn-Delete");
                        $('#btn_Delete_ArabOrient').html("Delete");
                        Timeout();
                    }
                })
        });
    //#endregion

    //#region Validation Initialization
        var validate = function () {
            $('#ucaon_22').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
        }
    //#endregion Validation Initialization

    //#region Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
    //#endregion

    //#region Clear Controls
    var clearControls = function () {
        $("#ucaon_1").val("");
        $("#ucaon_2").val("");
        $("#ucaon_3").val("");
        $("#ucaon_4").val("");
        $("#ucaon_5").val("");
        $("#ucaon_6").val("");
        $("#ucaon_7").val("");
        $("#ucaon_8").val("");
        $("#ucaon_9").val("");
        $("#ucaon_10").val("");
        $("#ucaon_11").val("");
        $("#ucaon_12").val("");
        $("#ucaon_13").val("");
        $("#ucaon_14").val("");
        $("#ucaon_15").val("");
        $("#ucaon_16").val("");
        $("#ucaon_17").val("");
        $("#ucaon_18").val("");
        $("#ucaon_19").val("");
        $("#ucaon_20").val("");
        $("#ucaon_21").val("");
        var elements = document.getElementsByClassName('custom-control-input');
        Array.prototype.forEach.call(elements, function (element) {
            element.checked = false;
        });
        $("#ucaon_22").bootstrapdatepicker("setDate", '');
    }
//#endregion

    //#region Print ArabOrient Request
        function PrintArabOrient() {
            window.open("@Url.Action("PrintArabOrient", "ReimbursementForms", new { area = "EMRForms" })?caonId=" + @Model.caonId)
        }
    //#endregion

</script>

