

@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMRForms.Axa
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_EditAxa" class="needs-validation fs-14" >

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.carfId)
    @Html.HiddenFor(m => m.carf_appId)

    <div class="row">
        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
            <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                <label class="form-label ">
                    Prior Approval No
                </label>
            </div>
            <div class="d-flex  justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7">
                @Html.TextBoxFor(m => m.carf_1, new { @class = "form-control mb-1", @id = "ucarf_1", @width = "20px" })
            </div>
        </div>
        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
            <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                <label class="form-label ">
                    Date Received
                </label>
            </div>
            <div class="d-flex  justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fe fe-calendar"></i>
                        </div>
                    </div>
                    @Html.TextBoxFor(m => m.carf_21, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "ucarf_21" })
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mt-2">
            <p class="text-black text-justify">
                Dear Doctor, we thank you for filling in medical sections B, C and D of this claim form and for signing, dating and stamping it. Dear Member,
                we thank you for completing all other sections of this claim form and for signing and dating it. All fields on the front page are compulsory.
                We thank you in advance for your cooperation which will enable fast and accurate processing.
            </p>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="form-label mb-2 text-danger">
                A. Administrative
            </label>
        </div>
        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
            <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                <label class="form-label ">
                    Membership No
                </label>
            </div>
            <div class="d-flex  justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7">
                @if (@emr.pi_insno != "")
                {
                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pi_insno&nbsp;</span>
                }
                else
                {
                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                }
            </div>
        </div>
        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
            <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                <label class="form-label ">
                    Group Name/ Company Name
                </label>
            </div>
            <div class="d-flex  justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7">
                @if (@emr.set_company != "")
                {
                    <span class="font-weight-normal1 text-capitalize text-left">@emr.set_company&nbsp;</span>
                }
                else
                {
                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                }
            </div>
        </div>
        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
            <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                <label class="form-label">
                    Patient's DOB
                </label>
            </div>
            <div class="d-flex  justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7">
                @if (@emr.pat_dob != "")
                {
                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                }
                else
                {
                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                }
            </div>
        </div>
        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
            <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                <label class="form-label ">
                    Gender
                </label>
            </div>
            <div class="d-flex  justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7">
                @if (@emr.pat_gender != "")
                {
                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_gender&nbsp;</span>
                }
                else
                {
                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                }
            </div>
        </div>
        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
            <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                <label class="form-label ">
                    Patient Name
                </label>
            </div>
            <div class="d-flex  justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7">
                @if (@emr.pat_name != "")
                {
                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                }
                else
                {
                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                }
            </div>
        </div>
        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
            <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                <label class="form-label ">
                    Patient Phone
                </label>
            </div>
            <div class="d-flex  justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7">
                @if (@emr.pat_mob != "")
                {
                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_mob&nbsp;</span>
                }
                else
                {
                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                }
            </div>
        </div>
        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
            <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                <label class="form-label ">
                    Policy/ Group No.#
                </label>
            </div>
            <div class="d-flex  justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7">
                @Html.TextBoxFor(m => m.carf_20, new { @class = "form-control mb-1", @id = "ucarf_20", @width = "20px" })
            </div>
        </div>
        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
            <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                <label class="form-label ">
                    Plan
                </label>
            </div>
            <div class="d-flex  justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7">
                @Html.TextBoxFor(m => m.carf_2, new { @class = "form-control", @id = "ucarf_2", @width = "20px" })
            </div>
        </div>

        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
            <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                <label class="form-label ">
                    Date Of Treatment
                </label>
            </div>
            <div class="d-flex  justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7">
                @if (@emr.app_fdate != "")
                {
                    <span class="font-weight-normal1 text-capitalize text-left">@emr.app_fdate&nbsp;</span>
                }
                else
                {
                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                }
            </div>
        </div>
        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
            <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                <label class="form-label ">
                    Admission Date
                </label>
            </div>
            <div class="d-flex  justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7">
                @if (@emr.app_fdate != "")
                {
                    <span class="font-weight-normal1 text-capitalize text-left">@emr.app_fdate&nbsp;</span>
                }
                else
                {
                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                }
            </div>
        </div>
        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
            <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                <label class="form-label ">
                    Discharge Date
                </label>
            </div>
            <div class="d-flex  justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7">
                @if (@emr.app_fdate != "")
                {
                    <span class="font-weight-normal1 text-capitalize text-left">@emr.app_fdate&nbsp;</span>
                }
                else
                {
                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                }
            </div>
        </div>
        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
            <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                <label class="form-label ">
                    Email Address
                </label>
            </div>
            <div class="d-flex  justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7">
                @if (@emr.pat_email != "")
                {
                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_email&nbsp;</span>
                }
                else
                {
                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                }
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="form-label mb-2 text-danger">
                B. Medical Section
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <label class="form-label text-black">
                Symptoms Presented
            </label>
            <label class="text-black text-left" id="carf_3" name="">&nbsp;</label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <label class="text-black">
                Date the patient first became aware of any signs or symptoms for this condition
            </label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fe fe-calendar"></i>
                    </div>
                </div>
                @Html.TextBoxFor(m => m.carf_22, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "ucarf_22" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <label class="text-black">
                Date on which the patient first presented to any doctor for this condition
            </label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fe fe-calendar"></i>
                    </div>
                </div>
                @Html.TextBoxFor(m => m.carf_23, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "ucarf_23" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="form-label text-black">
                Medical Condition/ Diagnosis
            </label>
            <label class="text-black text-left" id="pat_Diagnosis" name="">&nbsp;</label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="form-label text-black">
                Investigations((Describe necessary investigations requested to define the diagnosis)
            </label>
            <label class="text-black text-left" id="treat_details" name="">&nbsp;</label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="form-label mb-2 text-danger">
                C. Treatments Advised
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="form-label text-black">
                Drugs
            </label>
            <label class="text-black text-left" id="Prescriptions_details" name="">&nbsp;</label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="form-label mb-2 text-danger">
                D. Further Treatment Plan
            </label>
            @Html.TextAreaFor(m => m.carf_5, new { @class = "form-control", @placeholder = "Further Treatment Plan", @row = "2", @id = "ucarf_5" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="form-label mb-2 text-danger">
                E. Other Issuer Details
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <label class="text-black">
                Is the Treatment Accident Related ?
            </label>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 d-flex">
            <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="carf_18[1]" value="1" id="1">
                <span class="custom-control-label">Yes</span>
            </label>&nbsp;
            <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="carf_18[1]" value="2" id="2">
                <span class="custom-control-label">No</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <label class="text-black">
                Is it covered under another insurance policy?
            </label>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 d-flex">
            <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="carf_18[3]" value="3" id="3">
                <span class="custom-control-label">Yes</span>
            </label>&nbsp;
            <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="carf_18[3]" value="4" id="4">
                <span class="custom-control-label">No</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            @Html.TextAreaFor(m => m.carf_6, new { @class = "form-control", @placeholder = "If you have answered 'yes' to either of these questions, please give the name of the Insurance company involved", @row = "2", @id = "ucarf_6" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <p class="text-black text-justify">
                I confirm I am the patient, patientʼs parent or guardian (if patient under 16 years of age) and wish to claim and declare that all the particulars
                given above are to the best of my knowledge true and correct. I hereby consent to and authorise the medical practitioner involved in the patientʼs
                care to discuss treatment details and discharge arrangements with and to AXA Insurance. I agree that a copy of this consent shall have the validity
                of the original.
            </p>
            <div>
                <div class="form-group mb-3" style="display:none" id="upatimg"><img alt="Signature" src="" id="upat_sign" class="avatar avatar-xl bsquare" /></div>
                <label class="form-label mb-2 text-black">
                    Patient’s Signature
                </label>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <p class="text-black text-justify">
                I declare that I am the patientʼs medical practitioner, and that the
                particulars given are to the best of my knowledge true and correct.
            </p>
            <div class="d-flex">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <span class="font-weight-normal1 text-uppercase text-left">@emr.doc_name&nbsp;</span>
                    <label class="form-label mb-2 text-danger">
                        Name
                    </label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    <label class="form-label mb-2 text-danger">
                        Doctor signature
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="form-label mb-2 text-danger">
                F. Administrative specific to reimbursement claims
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <label class="text-black">
                Amount Claimed: Please ensure that the amount claimed here is supported by original invoices and prescription
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2">
            @Html.TextBoxFor(m => m.carf_7, new { @class = "form-control", @id = "ucarf_7" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <label class="text-black">
                Cheque beneficiary name: (IN CAPITAL LETTERS)
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 text-uppercase mb-2">
            @Html.TextBoxFor(m => m.carf_8, new { @class = "form-control", @id = "ucarf_8" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            <label class="text-black">
                Payment will be made in the currency defined in your plan unless we agreed otherwise in writing. In which currency was the treatment originally billed?
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2">
            @Html.TextBoxFor(m => m.carf_19, new { @class = "form-control", @id = "ucarf_19" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="text-black bold">
                Member's and Patient Details
            </label>
        </div>
        <div class="d-flex col-sm-12 col-md-12 col-lg-4">
            <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                <label class="form-label ">
                    Patient Name
                </label>
            </div>
            <div class="d-flex  justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7">
                @if (@emr.pat_name != "")
                {
                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                }
                else
                {
                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                }
            </div>
        </div>
        <div class="d-flex col-sm-12 col-md-12 col-lg-4">
            <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                <label class="form-label">
                    Telephone
                </label>
            </div>
            <div class="d-flex  justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7">
                @if (@emr.pat_mob != "")
                {
                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_mob&nbsp;</span>
                }
                else
                {
                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                }
            </div>
        </div>
        <div class="d-flex col-sm-12 col-md-12 col-lg-4">
            <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                <label class="form-label">
                    Fax
                </label>
            </div>
            <div class="d-flex  justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7">
                @if (@emr.pat_fax != "")
                {
                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_fax&nbsp;</span>
                }
                else
                {
                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                }
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <label class="text-black">
                Address to which payment should be sent if different from above?
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8">
            @Html.TextBoxFor(m => m.carf_9, new { @class = "form-control", @id = "ucarf_9" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="form-label mb-2 text-danger">
                G. Medical Provider Details:
            </label>
        </div>
        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
            <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                <label class="form-label">
                    Name of medical Provider
                </label>
            </div>
            <div class="d-flex  justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7">
                @if (@emr.set_company != "")
                {
                    <span class="font-weight-normal1 text-capitalize text-left">@emr.set_company&nbsp;</span>
                }
                else
                {
                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                }
            </div>
        </div>
        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
            <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                <label class="form-label">
                    Address
                </label>
            </div>
            <div class="d-flex  justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7">
                @if (@emr.set_address != "")
                {
                    <span class="font-weight-normal1 text-capitalize text-left">@emr.set_address&nbsp;</span>
                }
                else
                {
                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                }
            </div>
        </div>
        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
            <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                <label class="form-label">
                    Telephone
                </label>
            </div>
            <div class="d-flex  justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7">
                @if (@emr.set_tel != "")
                {
                    <span class="font-weight-normal1 text-capitalize text-left">@emr.set_tel&nbsp;</span>
                }
                else
                {
                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                }
            </div>
        </div>
        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
            <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                <label class="form-label">
                    fax
                </label>
            </div>
            <div class="d-flex  justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7">
                @if (@emr.set_fax != "")
                {
                    <span class="font-weight-normal1 text-capitalize text-left">@emr.set_fax&nbsp;</span>
                }
                else
                {
                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                }
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="form-label mb-2 text-danger">
                H. If you are claiming for treatment received outside your area of cover, please answer the following questions
            </label>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <label class="text-black">
                (a). Country where the treatment took place
            </label>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-8 mb-2">
            @Html.TextBoxFor(m => m.carf_10, new { @class = "form-control", @id = "ucarf_10" })
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <label class="text-black">
                (b). The reason for the patient being abroad
            </label>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-8 mb-2">
            @Html.TextBoxFor(m => m.carf_11, new { @class = "form-control", @id = "ucarf_11" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <label class="text-black">
                (c). Date of departure and return to own area of cover: From
            </label>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-2 mb-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fe fe-calendar"></i>
                    </div>
                </div>
                @Html.TextBoxFor(m => m.carf_24, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "ucarf_24" })
            </div>
        </div>
        <div class="col-sm-12 col-md-1 col-lg-1">
            <label class="text-black">
                To
            </label>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-2 mb-2">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fe fe-calendar"></i>
                    </div>
                </div>
                @Html.TextBoxFor(m => m.carf_25, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "ucarf_25" })
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            Are you claiming cash benefit for in-patient treatment? Please tick
        </div>
        <div class="d-flex col-sm-12 col-md-6 col-lg-4">
            <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="carf_18[5]" value="5" id="5">
                <span class="custom-control-label">Yes</span>
            </label>&nbsp;
            <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="carf_18[5]" value="6" id="6">
                <span class="custom-control-label">No</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="text-black bold">
                If Yes, please enclose a hospital certificate confirming the dates of stay
            </label>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="form-label mb-2 text-danger">
                I. Payment details for bank transfer:
            </label>
        </div>
        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
            <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                <label class="form-label">
                    Bank Account Number
                </label>
            </div>
            <div class="d-flex  justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7 mb-2">
                @Html.TextBoxFor(m => m.carf_12, new { @class = "form-control", @id = "ucarf_12" })
            </div>
        </div>
        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
            <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                <label class="form-label">
                    Bank Name
                </label>
            </div>
            <div class="d-flex  justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7 mb-2">
                @Html.TextBoxFor(m => m.carf_13, new { @class = "form-control", @id = "ucarf_13" })
            </div>
        </div>
        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
            <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                <label class="form-label">
                    Bank Address
                </label>
            </div>
            <div class="d-flex  justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7 mb-2">
                @Html.TextBoxFor(m => m.carf_14, new { @class = "form-control", @id = "ucarf_14" })
            </div>
        </div>
        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
            <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                <label class="form-label">
                    Beneficiary Name
                </label>
            </div>
            <div class="d-flex  justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7 mb-2">
                @Html.TextBoxFor(m => m.carf_15, new { @class = "form-control", @id = "ucarf_15" })
            </div>
        </div>
        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
            <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                <label class="form-label">
                    Bank Sort/Swift Code
                </label>
            </div>
            <div class="d-flex  justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7 mb-2">
                @Html.TextBoxFor(m => m.carf_16, new { @class = "form-control", @id = "ucarf_16" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="form-label mb-2 text-danger bold">
                AXA Use only
            </label>
        </div>
        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
            <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                <label class="form-label">
                    Batch No
                </label>
            </div>
            <div class="d-flex  justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7 mb-2">
                @Html.TextBoxFor(m => m.carf_17, new { @class = "form-control", @id = "ucarf_17" })
            </div>
        </div>
        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
            <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                <label class="form-label">
                    Bank Sort/Swift Code
                </label>
            </div>
            <div class="d-flex  justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-7 mb-2">
                @Html.TextBoxFor(m => m.carf_26, new { @class = "form-control", @id = "ucarf_26" })
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update_Axa">Save Changes</button>
                <button type="submit" class="btn btn-sm btn-outline-danger" id="btn_Delete_Axa">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-light " id="btn_Print_RadioDeci" onclick="PrintAxa()">
                    <i class="fa fa-print">&nbsp;&nbsp;</i>Print
                </button>
                <div class="btn-group mr-2">
                    <div class="dropdown">
                        <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                            <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-outline-danger" id="btn_Close_EditAxa" style="display:none">
                    Close
                </button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">

    //#region Partial View Onload
        var formName1 = $(form_EditAxa).closest('form').attr('name');
        $(function () {
            validate();
            Get_Patient_Complaints();
            Get_Patient_Treatments();
            Get_AllPatientDiagnosis();
            Get_AllPatientDrugs();
            set_date();
            GetSignaturename('patient');
            GetCheckedValues("@Model.carf_18");
        });
    //#endregion

    //#region Load set Date
        var set_date = function () {
            $('#ucarf_21,#ucarf_22,#ucarf_23,#ucarf_24,#ucarf_25,#ucarf_26').bootstrapdatepicker({
                    format: "dd-MM-yyyy",
                    viewMode: "date",
                    todayHighlight: true,
                    autoclose: true,
                    multidate: false,
                    multidateSeparator: "-"
            });
            var d1 = "@Model.carf_21";
            if (d1 != "1/1/1950 12:00:00 AM") {
                $("#ucarf_21").bootstrapdatepicker("setDate", moment(new Date("@Model.carf_21")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#ucarf_21").bootstrapdatepicker("setDate", '');
            }
            var d2 = "@Model.carf_22";
            if (d2 != "1/1/1950 12:00:00 AM") {
                $("#ucarf_22").bootstrapdatepicker("setDate", moment(new Date("@Model.carf_22")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#ucarf_22").bootstrapdatepicker("setDate", '');
            }

            var d3 = "@Model.carf_23";
            if (d3 != "1/1/1950 12:00:00 AM") {
                $("#ucarf_23").bootstrapdatepicker("setDate", moment(new Date("@Model.carf_23")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#ucarf_23").bootstrapdatepicker("setDate", '');
            }
            var d4 = "@Model.carf_24";
            if (d4 != "1/1/1950 12:00:00 AM") {
                $("#ucarf_24").bootstrapdatepicker("setDate", moment(new Date("@Model.carf_24")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#ucarf_24").bootstrapdatepicker("setDate", '');
            }
            var d5 = "@Model.carf_25";
            if (d5 != "1/1/1950 12:00:00 AM") {
                $("#ucarf_25").bootstrapdatepicker("setDate", moment(new Date("@Model.carf_25")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#ucarf_25").bootstrapdatepicker("setDate", '');
            }
            var d6 = "@Model.carf_26";
            if (d6 != "1/1/1950 12:00:00 AM") {
                $("#ucarf_26").bootstrapdatepicker("setDate", moment(new Date("@Model.carf_26")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#ucarf_26").bootstrapdatepicker("setDate", '');
            }

        }
    //#endregion

    //#region Load Get All Diagnosis
        var Get_AllPatientDiagnosis = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllPatientDiagnosis", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#pat_Diagnosis').text(response[0].Diagnosis);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion

    //#region Load Get Patient Complaints
        var Get_Patient_Complaints = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Get_Patient_Complaints", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        var str2 = response[0].complaints;
                        var regex = /(|<([^>]+)>)/ig;
                        $("#carf_3").text(str2.replace(/(<p>|<\/p>)/g, ""));
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
    //#endregion

    //#region Load Get_Patient_Treatments_table
        var Get_Patient_Treatments = function () {
            $.ajax({
            type: "GET",
            url: "@Url.Action("Get_Patient_Treatment", "ReimbursementForms", new { area = "EMRForms" })?appId=" +@emr.appId,
            success: function (response) {
                if (response.length > 0) {
                    $('#treat_details').text(response[0].treatments);
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
            });
        }
    //#endregion

    //#region Load Get Drugs
        var Get_AllPatientDrugs = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Get_AllPatientDrugs", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#Prescriptions_details').text(response[0].Prescriptions);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion

    //#region Get CheckedValues
        var GetCheckedValues = function (checknames) {
            var str = checknames;
            var myarray = str.split(',');

            for (var i = 0; i < myarray.length; i++) {
                $('.custom-control-input').each(function () {
                    if (this.id == myarray[i]) {
                        $("#" +this.id).attr('checked', 'checked');
                        $("#" +this.id).prop("checked", true);

                    }
                });
            }

        }
    //#endregion

    //#region Update  Button Click
        $('#btn_Update_Axa').on('click', function (e) {
                e.preventDefault();
            if ($("#form_EditAxa").valid()) {
                console.log($("#carfId").val());
                $('#btn_Update_Axa').removeClass("btn btn-success");
                $('#btn_Update_Axa').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Update_Axa').html("Updating the Record....");
                var carf_chkbox = "";
                $('.custom-control-input:checked').each(function (index) {
                    carf_chkbox = carf_chkbox + ',' + $(this).val();
                });
                var carf_checkbox = carf_chkbox.substring(1);
                var _dataInsert = {
                    "carfId": $("#carfId").val(),
                    "carf_appId": @emr.appId,
                    "carf_1": $("#ucarf_1").val(),
                    "carf_2": $("#ucarf_2").val(),
                    "carf_3": $("#ucarf_3").text(),
                    "carf_4": $("#ucarf_4").val(),
                    "carf_5": $("#ucarf_5").val(),
                    "carf_6": $("#ucarf_6").val(),
                    "carf_7": $("#ucarf_7").val(),
                    "carf_8": $("#ucarf_8").val(),
                    "carf_9": $("#ucarf_9").val(),
                    "carf_10": $("#ucarf_10").val(),
                    "carf_11": $("#ucarf_11").val(),
                    "carf_12": $("#ucarf_12").val(),
                    "carf_13": $("#ucarf_13").val(),
                    "carf_14": $("#ucarf_14").val(),
                    "carf_15": $("#ucarf_15").val(),
                    "carf_16": $("#ucarf_16").val(),
                    "carf_17": $("#ucarf_17").val(),
                    "carf_18": carf_checkbox,
                    "carf_19": $("#ucarf_19").val(),
                    "carf_20": $("#ucarf_20").val(),
                    "carf_21": moment($("#ucarf_21").val()).format("YYYY-MM-DD"),
                    "carf_22": moment($("#ucarf_22").val()).format("YYYY-MM-DD"),
                    "carf_23": moment($("#ucarf_23").val()).format("YYYY-MM-DD"),
                    "carf_24": moment($("#ucarf_24").val()).format("YYYY-MM-DD"),
                    "carf_25": moment($("#ucarf_25").val()).format("YYYY-MM-DD"),
                    "carf_26": moment($("#ucarf_26").val()).format("YYYY-MM-DD"),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dataInsert)
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateAxa", "ReimbursementForms", new { area = "EMRForms" })",
                    dataType: 'JSON',
                    data: _dataInsert,
                    success: function (data) {
                        $('#btn_Update_Axa').removeClass("btn btn-warning btn-loaders btn-icon");
                        $('#btn_Update_Axa').addClass("btn btn-warning");
                        $('#btn_Update_Axa').html("Save Changes");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                GetAxa();
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible"  role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Axa Updated Successfully!", "success");
                                Timeout();
                                $("#axa_edit").show();
                                $("#axa_add").hide();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. Axa Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else
                        {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Update_Axa').removeClass("btn btn-warning btn-loaders btn-icon");
                        $('#btn_Update_Axa').addClass("btn btn-warning");
                        $('#btn_Update_Axa').html("Save Changes");
                        Timeout();
                    }
                });

            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion

    //#region Delete Click
        $('#btn_Delete_Axa').on('click', function (e) {
            e.preventDefault();
            $('#btn_Delete_Axa').removeClass("btn btn-success");
            $('#btn_Delete_Axa').addClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Delete_Axa').html("Deleting the Record....");

                $.ajax({
                    url: '@Url.Action("DeleteAxa", "ReimbursementForms", new { area = "EMRForms" })?carfId=' + $("#carfId").val(),
                    type: "POST",
                    dataType: 'JSON',
                    success: function (data) {
                        $('#btn_Delete_Axa').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Delete_Axa').addClass("btn btn-warning");
                        $('#btn_Delete_Axa').html("Delete");
                        if (data.isAuthorized) {
                            if (data.success) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Axa Claim Deleted Successfully!", "success");
                                clearControls();
                                $("#axa_edit").hide();
                                $("#axa_add").show();
                                AddAxa();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Error!.. Failed to Delete..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Delete_Axa').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Delete_Axa').addClass("btn btn-Delete");
                        $('#btn_Delete_Axa').html("Delete");
                        Timeout();
                    }
                })
        });
    //#endregion

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "Axa",
                "appId": @emr.appId,
                "formname":"Axa",
                "formlink":"PrintAxaClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
        var openSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "Axa",
                "appId": @emr.appId,
                "formname":"Axa",
                "formlink":"PrintAxaClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=Axa',
                    type: "GET",
                    dataType: "json",
                    async: false,
                success: function (response) {
                    console.log("fgxghszd");
                    console.log(response);
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_created).format("DD-MM-YYYY HH:mm");
                    if (response[0].person == "patient") {
                        $("#upatimg").show();
                        $("#upat_sign").attr("src", sign);
                        $("#upsb_date_witness").text(date);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
    //#endregion

    //#region Validation Initialization
        var validate = function () {

            $("#form_AxaDecision").validate({
                rules: {
                    carf_3: {
                        required: true
                    },

                },
                messages: {
                    carf_3: {
                        required: "Please Enter Group Name!"
                    },

                },
                highlight: function (element) {
                    var elem = $(element);
                    $(element).parent().addClass('has-error');
                    error_timeout(elem.attr("id"));
                },
                unhighlight: function (element) {
                    var elem = $(element);
                    $(element).parent().removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'text-danger fw-bold',
                errorPlacement: function (error, element) {
                    var elem = $(element);
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

        }
    //#endregion

    //#region Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
    //#endregion

    //#region Clear Controls
        var clearControls = function () {
            $("#ucarf_1").val("");
            $("#ucarf_2").val("");
            $("#ucarf_3").val("");
            $("#ucarf_4").val("");
            $("#ucarf_5").val("");
            $("#ucarf_6").val("");
            $("#ucarf_7").val("");
            $("#ucarf_8").val("");
            $("#ucarf_9").val("");
            $("#ucarf_10").val("");
            $("#ucarf_11").val("");
            $("#ucarf_12").val("");
            $("#ucarf_13").val("");
            $("#ucarf_14").val("");
            $("#ucarf_15").val("");
            $("#ucarf_16").val("");
            $("#ucarf_17").val("");
            $("#ucarf_18").val("");
            $("#ucarf_19").val("");
            $("#ucarf_20").val("");
        }
    //#endregion

    //#region Print Axa Request
        function PrintAxa() {
            window.open("@Url.Action("PrintAxa", "ReimbursementForms", new { area = "EMRForms" })?carfId=" + $("#carfId").val())
        }
    //#endregion

</script>