@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMRForms.FMC
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="modal-body p-4">
    <form id="form_EditFMC" class="needs-validation fs-14" >
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.fcId)
        @Html.HiddenFor(m => m.fc_appId)
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <label class="form-label text-center ">
                    REIMBURSEMENT FORM
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-9 col-lg-10 mt-2">
                <div class="row">
                    <div class="d-flex align-items-center col-sm-12 col-md-12 col-lg-6">
                        <div class="col-sm-11 col-md-6 col-lg-3 ps-0">
                            <label class="text-black">
                                Date &nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <span class="font-weight-normal1 text-capitalize text-left">@emr.app_fdate&nbsp;</span>

                        </div>
                    </div>
                    <div class="d-flex align-items-center col-sm-12 col-md-12 col-lg-6">
                        <div class="col-sm-11 col-md-6 col-lg-4 ps-0">
                            <label class="text-black">
                                Clinic Name &nbsp;<span class="text-danger">*</span>
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <span class="font-weight-normal1 text-capitalize text-left">@emr.set_company&nbsp;</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex align-items-center col-sm-12 col-md-12 col-lg-6">
                        <div class="col-sm-11 col-md-6 col-lg-3 ps-0">
                            <label class="text-black">
                                Emirates ID &nbsp;<span class="text-danger">*</span>
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            @if (@emr.pat_emirateid != "")
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_emirateid&nbsp;</span>
                            }
                            else
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                            }
                        </div>
                    </div>
                    <div class="d-flex align-items-center col-sm-12 col-md-12 col-lg-6">
                        <div class="col-sm-11 col-md-6 col-lg-4 ps-0">
                            <label class="text-black">
                                Card Holder's Name &nbsp;<span class="text-danger">*</span>
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            @if (@emr.pat_name != "")
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                            }
                            else
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                        <div class="col-sm-11 col-md-6 col-lg-3 ps-0">
                            <label class="text-black">
                                Age &nbsp;<span class="text-danger">*</span>
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            @if (@emr.pat_age != "")
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_age&nbsp;</span>
                            }
                            else
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                            }
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                        <div class="col-sm-11 col-md-6 col-lg-4 ps-0">
                            <label class="text-black">
                                Gender &nbsp;<span class="text-danger">*</span>
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            @if (@emr.pat_gender != "")
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_gender&nbsp;</span>
                            }
                            else
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                        <div class="col-sm-11 col-md-6 col-lg-3 ps-0">
                            <label class="text-black">
                                Mobile No. &nbsp;<span class="text-danger">*</span>
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            @if (@emr.pat_mob != "")
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_mob&nbsp;</span>
                            }
                            else
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                            }
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                        <div class="col-sm-11 col-md-6 col-lg-4 ps-0">
                            <label class="text-black">
                                Ins Card No. &nbsp;<span class="text-danger">*</span>
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            @if (@emr.pi_insno != "")
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pi_insno&nbsp;</span>
                            }
                            else
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex align-items-center col-sm-12 col-md-12 col-lg-6">
                        <div class="col-sm-11 col-md-6 col-lg-3 ps-0">
                            <label class="text-black">
                                Valid Upto. &nbsp;<span class="text-danger">*</span>
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            @if (@emr.pi_edate != "")
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pi_edate&nbsp;</span>
                            }
                            else
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                            }
                        </div>
                    </div>
                    <div class="d-flex align-items-center col-sm-12 col-md-12 col-lg-6">
                        <div class="col-sm-11 col-md-6 col-lg-4 ps-0">
                            <label class="text-black">
                                Company Name. &nbsp;<span class="text-danger">*</span>
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            @if (@emr.ic_name != "")
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">@emr.ic_name&nbsp;</span>
                            }
                            else
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                        <div class="col-sm-11 col-md-6 col-lg-3 ps-0">
                            <label class="text-black">
                                Employee No. &nbsp;<span class="text-danger">*</span>
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            @if (@emr.emp_license != "")
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_license&nbsp;</span>
                            }
                            else
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                            }
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                        <div class="col-sm-11 col-md-6 col-lg-4 ps-0">
                            <label class="text-black">
                                Nationality. &nbsp;<span class="text-danger">*</span>
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            @if (@emr.pat_nationality != "")
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_nationality&nbsp;</span>
                            }
                            else
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-2">
                <div class="widgets-cards mx-auto mt-2">
                    @if (!string.IsNullOrEmpty(emr.pi_image))
                    {
                        <img alt="Insurance Card" src="@emr.pi_image" id="pi_image" class="avatar avatar-xxl" />
                    }
                    else
                    {
                        <img src='~/images/no-photo-card.jpg' alt="Insurance Card" />
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-left">
                <div class="text-danger">
                    <h5>Clinical Details</h5>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <label class="form-label text-black">
                    Signs & Symptoms
                </label>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                <div class="col-sm-11 col-md-6 col-lg-1">
                    <label class="text-black">
                        BP&nbsp;
                    </label>
                </div>
                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <label class="form-label text-red text-left" id="sign_bp" name="">&nbsp;</label>
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                <div class="col-sm-11 col-md-6 col-lg-1">
                    <label class="text-black">
                        Temp&nbsp;
                    </label>
                </div>
                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <label class="form-label text-red text-left" id="sign_temp" name="">&nbsp;</label>
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                <div class="col-sm-11 col-md-6 col-lg-1">
                    <label class="text-black">
                        Pulse&nbsp;
                    </label>
                </div>
                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <label class="form-label text-red text-left" id="sign_pulse" name="">&nbsp;</label>
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                <div class="col-sm-11 col-md-6 col-lg-1">
                    <label class="text-black">
                        Notes&nbsp;
                    </label>
                </div>
                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <label class="form-label text-red text-left" id="sign_notes" name="">&nbsp;</label>
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                <div class="col-sm-11 col-md-6 col-lg-2">
                    <label class="form-label text-black">
                        Date of Onset Illness&nbsp;
                    </label>
                </div>
                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fe fe-calendar"></i>
                            </div>
                        </div>
                        @Html.TextBoxFor(m => m.fc_symptoms_date, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "ufc_symptoms_date" })
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
                <div class="row">
                    <div class="col-sm-11 col-md-6 col-lg-2">
                        <label class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="fc_visit" value="Emergency" id="u1">
                            <span class="custom-control-label">Emergency </span>
                        </label>&nbsp;
                    </div>
                    <div class="col-sm-11 col-md-6 col-lg-2">
                        <label class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="fc_visit" value="Work related" id="u2">
                            <span class="custom-control-label">Work related</span>
                        </label>
                    </div>
                    <div class="col-sm-11 col-md-6 col-lg-2">
                        <label class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="fc_visit" value="New visit" id="u3">
                            <span class="custom-control-label">New visit</span>
                        </label>&nbsp;
                    </div>
                    <div class="col-sm-11 col-md-6 col-lg-2">
                        <label class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="fc_visit" value="Follow up visit" id="u4">
                            <span class="custom-control-label">Follow up visit</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                <div class="col-sm-11 col-md-6 col-lg-1">
                    <label class="form-label text-black">
                        Diagnosis&nbsp;
                    </label>
                </div>
                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <label class="form-label text-red text-left" id="pat_Diagnosis" name="">&nbsp;</label>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <label class="form-label text-black">
                    Management plan (Services inside the clinic including injections and investigations)
                </label>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <label class="form-label text-red text-left" id="treat_details" name="">&nbsp;</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
                <span class="text-capitalize text-left text-red">@emr.doc_name&nbsp;</span>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
                <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <label class="form-label">
                    Doctor Name
                </label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <label class="form-label">
                    Signature & Stamp
                </label>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <label class="form-label text-black">
                    Diagnostic Procedures referred outside
                </label>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                @Html.TextAreaFor(m => m.fc_diag, new { @class = "form-control", @placeholder = "Please specify", @row = "2", @id = "ufc_diag" })
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="text-black text-justify">
                    I hereby authorize the physician, Hospital or pharmacy to file a claim for medical services on my behalf and I confirm that the above-mentioned examination/Investigation/therapy
                    is given to me by the doctor. I hereby authorize any Clinic, Physician, Pharmacy or any other person who has provided medical services to me to furnish any and all information
                    with regard to any medical history, medical condition, or medical services and copies of all medical and Clinic records.
                </p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mt-3">
                <div class="form-group mb-3" style="display:none" id="upatimg"><img alt="Signature" src="" id="upat_sign" class="avatar avatar-xl bsquare" /></div>
                <label class="form-label mb-2 text-danger">
                    Patient's Signature
                </label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mt-3">
                <label class="form-label text-red text-left" id="upsb_date_witness" name="">&nbsp;</label>
                <label class="form-label mb-2 text-danger">
                    Date
                </label>
            </div>
        </div>
        

        <div class="row mt-2">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="btn-list btn-animation">
                    <button type="submit" class="btn btn-warning btn-sm" id="btn_Update_FMC">Save Changes</button>
                    <button type="submit" class="btn btn-sm btn-outline-danger" id="btn_Delete_FMC">Delete</button>
                    <div class="btn-group mr-2">
                        <div class="dropdown">
                            <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-sm btn-outline-light " id="btn_Print_RadioDeci" onclick="PrintFMC()">
                        <i class="fa fa-print">&nbsp;&nbsp;</i>Print
                    </button>
                    <button type="button" class="btn btn-outline-danger" id="btn_Close_EditFMC" style="display:none">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">

    //#region Partial View Onload
        var formName1 = $(form_EditFMC).closest('form').attr('name');
        $(function () {
            validate();
            set_date();
            Get_AllPatientDiagnosis();
            Get_Patient_Treatments();
            Get_Patient_signs();
            GetSignaturename('patient');
            GetCheckedValues("@Model.fc_visit");
        });
    //#endregion

    //#region Get CheckedValues
        var GetCheckedValues = function (checknames) {
            var data = checknames;
            if (checknames !== null) {
                var x = data.split(",");
                console.log(checknames);
                console.log(x);
                if (x != "") {
                    if (x.includes("Emergency")) {
                        $('#u1').attr('checked', 'checked');
                        $("#u1").prop("checked", true);
                    }
                    if (x.includes("Work related")) {
                        $('#u2').attr('checked', 'checked');
                        $("#u2").prop("checked", true);
                    }
                    if (x.includes("New visit")) {
                        $('#u3').attr('checked', 'checked');
                        $("#u3").prop("checked", true);
                    }
                    if (x.includes("Follow up visit")) {
                        $('#u4').attr('checked', 'checked');
                        $("#u4").prop("checked", true);
                    }

                }
            }
        }
    //#endregion


    //#region Load set Date
    var set_date = function () {
        $('#ufc_symptoms_date').bootstrapdatepicker({
         format: "dd-MM-yyyy",
         viewMode: "date",
         todayHighlight: true,
         autoclose: true,
         multidate: false,
         multidateSeparator: "-"
         });
         var d1 = "@Model.fc_symptoms_date";
         if (d1 != "1/1/1950 12:00:00 AM") {
             $("#ufc_symptoms_date").bootstrapdatepicker("setDate", moment(new Date("@Model.fc_symptoms_date")).format("DD-MMMM-YYYY"));
         }
         else {
             $("#ufc_symptoms_date").bootstrapdatepicker("setDate", '');
         }
    }
    //#endregion

    //#region Validation Initialization
        var validate = function () {
            $('#fc_symptoms_date').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
        }
    //#endregion Validation Initialization

    //#region Load Get_Patient_signs
        var Get_Patient_signs = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Get_Patient_Signs", "ReimbursementForms", new { area = "EMRForms" })?appId="+@emr.appId,
                success: function (response) {
                    if (response.length > 0) {
                        var str1 = response[0].sign_bp;
                        var str2 = response[0].sign_pulse;
                        var str3 = response[0].sign_temp;
                        var str4 = response[0].sign_notes;
                        var regex = /(|<([^>]+)>)/ig;
                        $("#sign_bp").text(str1.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_pulse").text(str2.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_temp").text(str3.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_notes").text(str4.replace(/(<p>|<\/p>)/g, ""));
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
    //#endregion

    //#region Load Get All Diagnosis
        var Get_AllPatientDiagnosis = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllPatientDiagnosis", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#pat_Diagnosis').text(response[0].Diagnosis);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion

    //#region Load Get_Patient_Treatments
        var Get_Patient_Treatments = function () {
             $.ajax({
                type: "GET",
                url: "@Url.Action("Get_Patient_Treatment", "ReimbursementForms", new { area = "EMRForms" })?appId=" +@emr.appId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#treat_details').text(response[0].treatments);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
             });
         }
    //#endregion

    //#region Update Button Click
        $('#btn_Update_FMC').on('click', function (e) {
            e.preventDefault();
            if ($("#form_EditFMC").valid()) {

                $('#btn_Update_FMC').removeClass("btn btn-success");
                $('#btn_Update_FMC').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Update_FMC').html("Updating the Record....");
                var fc_chkbox = "";
                $('.custom-control-input:checked').each(function (index) {
                    fc_chkbox = fc_chkbox + ',' + $(this).val();
                });
                var fc_checkbox = fc_chkbox.substring(1);

                var _dataInsert = {
                "fcId": @Model.fcId,
                "fc_appId": @emr.appId,
                "fc_symptoms_date": moment($("#ufc_symptoms_date").val()).format("YYYY-MM-DD"),
                "fc_visit": fc_checkbox,
                "fc_diag": $("#ufc_diag").val(),
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateFMC", "ReimbursementForms", new { area = "EMRForms" })",
                    dataType: 'JSON',
                    data: _dataInsert,
                    success: function (data) {
                        $('#btn_Update_FMC').removeClass("btn btn-warning btn-loaders btn-icon");
                        $('#btn_Update_FMC').addClass("btn btn-warning");
                        $('#btn_Update_FMC').html("Save Changes");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                GetFMC();
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible"  role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> FMC Updated Successfully!", "success");
                                Timeout();
                                $("#FMC_edit").show();
                                $("#FMC_add").hide();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. FMC Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else
                        {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Update_FMC').removeClass("btn btn-warning btn-loaders btn-icon");
                        $('#btn_Update_FMC').addClass("btn btn-warning");
                        $('#btn_Update_FMC').html("Save Changes");
                        Timeout();
                    }
                });

            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion

    //#region Delete Click
        $('#btn_Delete_FMC').on('click', function (e) {
            e.preventDefault();
            $('#btn_Delete_FMC').removeClass("btn btn-success");
            $('#btn_Delete_FMC').addClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Delete_FMC').html("Deleting the Record....");
                $.ajax({
                    url: '@Url.Action("DeleteFMC", "ReimbursementForms", new { area = "EMRForms" })?fcId=' + @Model.fcId,
                    type: "POST",
                    dataType: 'JSON',
                    success: function (data) {
                        $('#btn_Delete_FMC').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Delete_FMC').addClass("btn btn-warning");
                        $('#btn_Delete_FMC').html("Delete");
                        if (data.isAuthorized) {
                            if (data.success) {
                                GetFMC();
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> FMC Claim Deleted Successfully!", "success");
                                clearControls();
                                $("#FMC_edit").hide();
                                $("#FMC_add").show();
                                Addfmc();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Error!.. Failed to Delete..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Delete_FMC').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Delete_FMC').addClass("btn btn-Delete");
                        $('#btn_Delete_FMC').html("Delete");
                        Timeout();
                    }
                })
        });
    //#endregion

    //#region Clear Controls
        var clearControls = function () {
            $("#ufc_symptoms_date").bootstrapdatepicker("setDate", '');
            $("#ufc_diag").val("");
            var elements = document.getElementsByClassName('custom-control-input');
            Array.prototype.forEach.call(elements, function (element) {
                element.checked = false;
            });
        }
    //#endregion

    //#region Print FMC Request
        function PrintFMC() {
            window.open("@Url.Action("PrintFMC", "ReimbursementForms", new { area = "EMRForms" })?fcId=" + $("#fcId").val())
        }
    //#endregion

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "FMC",
                "appId": @emr.appId,
                "formname":"FMC",
                "formlink":"PrintFMCClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
        var openSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "FMC",
                "appId": @emr.appId,
                "formname":"FMC",
                "formlink":"PrintFMCClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=FMC',
                    type: "GET",
                    dataType: "json",
                    async: false,
                success: function (response) {
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_created).format("DD-MM-YYYY HH:mm");
                    if (response[0].person == "patient") {
                        $("#upatimg").show();
                        $("#upat_sign").attr("src", sign);
                        $("#upsb_date_witness").text(date);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
    //#endregion
</script>
