@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMRForms.MSH
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="modal-body p-4">
    <form id="form_EditMSH" class="needs-validation fs-14" >
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.cmr_Id)
        @Html.HiddenFor(m => m.cmr_appId)
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <label class="form-label mb-2 text-danger">
                    TO BE COMPLETED BY THE EMPLOYEE
                </label>
            </div>
            <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                    <label class="form-label ">
                        Patient Name
                    </label>
                </div>
                <div class="d-flex  justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-7">
                    @if (@emr.pat_name != "")
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                    }
                    else
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                    }
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                    <label class="form-label ">
                        Group Name
                    </label>
                </div>
                <div class="d-flex  justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-7">
                    @Html.TextBoxFor(m => m.cmr_groupname, new { @class = "form-control", @id = "ucmr_groupname", @width = "20px", @maxlength = "20" })
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                    <label class="form-label ">
                        Date of Birth
                    </label>
                </div>
                <div class="d-flex  justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-7">
                    @if (@emr.pat_dob != "")
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                    }
                    else
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                    }
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                    <label class="form-label ">
                        Policy Number
                    </label>
                </div>
                <div class="d-flex  justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-7">
                    @if (@emr.pi_insno != "")
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pi_insno&nbsp;</span>
                    }
                    else
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                    }
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                    <label class="form-label ">
                        Street Address
                    </label>
                </div>
                <div class="d-flex  justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-7">
                    @if (@emr.pat_address != "")
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_address&nbsp;</span>
                    }
                    else
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                    }
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                    <label class="form-label ">
                        City
                    </label>
                </div>
                <div class="d-flex  justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-7">
                    @if (@emr.pat_city != "")
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_city&nbsp;</span>
                    }
                    else
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                    }
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                    <label class="form-label ">
                        Postal/Zip Code
                    </label>
                </div>
                <div class="d-flex  justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-7">
                    @if (@emr.pat_pobox != "")
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_pobox&nbsp;</span>
                    }
                    else
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                    }
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                    <label class="form-label ">
                        Email
                    </label>
                </div>
                <div class="d-flex  justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-7">
                    @if (@emr.pat_email != "")
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_email&nbsp;</span>
                    }
                    else
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                    }
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                    <label class="form-label ">
                        Phone (include country code)
                    </label>
                </div>
                <div class="d-flex  justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-7">
                    @if (@emr.pat_mob != "")
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_mob&nbsp;</span>
                    }
                    else
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                    }
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                    <label class="form-label ">
                        Phone (include country code)
                    </label>
                </div>
                <div class="d-flex  justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-7">
                    @if (@emr.pat_mob != "")
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_mob&nbsp;</span>
                    }
                    else
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                    }
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <label class="form-label mb-2 text-danger">
                    CLAIM INFORMATION
                </label>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="text-black text-justify">
                    All claims must be supported by original documents. Receipts must indicate the date the expense was incurred, the person for whom the service was provided,
                    who prescribed or provided the service or supply, and the nature of the service or supply. Unless otherwise specified, all claim cheques will be
                    payable to the Employee, and mailed to his or her address as indicated above.
                </p>
                <p class="text-black text-justify">
                    LIST OF EXPENSES (Each expense must be listed separately. If more space is required, please attach another page)
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="table-responsive">
                    <table id="tbl_Treatment" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #808080; border-color: #3C457D; ">
                                <th class="border-bottom-0 font-weight-semibold text-white">Patient Name</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Relationship to Employee</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Date of Service YR/MM/DD</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Health Expenses<span class="text-danger">*</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Dental Expenses<span class="text-danger">*</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Amount Charged</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                </td>
                                <td>
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_contact_role&nbsp;</span>
                                </td>
                                <td>
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.app_fdate&nbsp;</span>
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.cmr_health, new { @class = "form-control", @id = "ucmr_health", @placeholder = "Ex: 250.00" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.cmr_dental, new { @class = "form-control", @id = "ucmr_dental", @placeholder = "Ex: 250.00" })
                                </td>
                                <td>
                                    @Html.TextBoxFor(m => m.cmr_amount, new { @class = "form-control", @id = "ucmr_amount", @placeholder = "Ex: 250.00" })
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5">TOTAL AMOUNT CLAIMED FOR ALL SERVICES (INCLUDING CURRENCY):</td>
                                <td>
                                    @Html.TextBoxFor(m => m.cmr_total, new { @class = "form-control", @id = "ucmr_total", @placeholder = "Ex: 250.00" })
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="text-black text-justify">
                    *Claim only the total amount, minus any amount already paid by a medical and/or dental plan.
                </p>
                <p class="text-black text-justify">
                    At MSH INTERNATIONAL, we recognize and respect the importance of privacy. When you submit a claim, the insurers establish a confidential file that is kept
                    in the offices of the insurers or the offices of an organization authorized by the insurers. We limit access to information in your file to insurer staff
                    and/or the insurers who require it to perform their duties, to persons to whom you have granted access, and to persons authorized by law. We use this
                    information for the purpose of assessing your claim and administering the group benefits plan. Personal information is protected from unauthorized use
                    and disclosure in accordance with the Freedom of Information and Protection of Privacy Act. I also give MSH INTERNATIONAL permission to send communications
                    pertaining to my claims and the administration of my group benefits plan to the email I supply on this claim form.
                </p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 d-flex">
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="cmr_checkbox[1]" value="1" id="1">
                    <span class="custom-control-label">Accept</span>
                </label>
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="cmr_checkbox[1]" value="2" id="2">
                    <span class="custom-control-label">Not Accept</span>
                </label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mt-2 ">
                <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                <label class="form-label mb-2 text-danger">
                    Doctor signature
                </label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mt-2 ">
                <span class="font-weight-normal1 text-uppercase text-left">@emr.app_fdate&nbsp;</span>
                <label class="form-label mb-2 text-danger">
                    Date
                </label>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="btn-list btn-animation">
                    <button type="submit" class="btn btn-warning btn-sm" id="btn_Update_MSH">Save Changes</button>
                    <button type="submit" class="btn btn-sm btn-outline-danger" id="btn_Delete_MSH">Delete</button>

                    <button type="button" class="btn btn-sm btn-outline-light " id="btn_Print_RadioDeci" onclick="PrintMSH()">
                        <i class="fa fa-print">&nbsp;&nbsp;</i>Print
                    </button>
                    <button type="button" class="btn btn-outline-danger" id="btn_Close_EditMSH" style="display:none">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">

    //#region Partial View Onload
        var formName1 = $(form_EditMSH).closest('form').attr('name');
        $(function () {
            validate();
            GetCheckedValues("@Model.cmr_checkbox");
            console.log($("#cmr_Id").val());
        });
    //#endregion


    //#region Get CheckedValues
        var GetCheckedValues = function (checknames) {
            var str = checknames;
            console.log(str);
            var myarray = str.split(',');
            for (var i = 0; i < myarray.length; i++) {
                $('.custom-control-input').each(function () {
                    if (this.id == myarray[i]) {

                        $("#" +this.id).attr('checked', 'checked');
                        $("#" +this.id).prop("checked", true);
                    }
                });
            }
        }
    //#endregion

    //#region Update Button Click
        $('#btn_Update_MSH').on('click', function (e) {
            e.preventDefault();
            if ($("#form_EditMSH").valid()) {
                console.log($("#cmr_Id").val());
                $('#btn_Update_MSH').removeClass("btn btn-success");
                $('#btn_Update_MSH').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Update_MSH').html("Updating the Record....");
                var cmr_chkbox = "";
                $('.custom-control-input:checked').each(function (index) {
                    cmr_chkbox = cmr_chkbox + ',' + $(this).val();
                });
                var cmr_checkbox = cmr_chkbox.substring(1);
                var _dataInsert = {
                "cmr_Id": $("#cmr_Id").val(),
                "cmr_appId": @emr.appId,
                "cmr_checkbox": cmr_checkbox,
                "cmr_groupname": $("#ucmr_groupname").val(),
                "cmr_health": $("#ucmr_health").val(),
                "cmr_dental": $("#ucmr_dental").val(),
                "cmr_amount": $("#ucmr_amount").val(),
                "cmr_total": $('#ucmr_total').val(),
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dataInsert)
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateMSH", "ReimbursementForms", new { area = "EMRForms" })",
                    dataType: 'JSON',
                    data: _dataInsert,
                    success: function (data) {
                        $('#btn_Update_MSH').removeClass("btn btn-warning btn-loaders btn-icon");
                        $('#btn_Update_MSH').addClass("btn btn-warning");
                        $('#btn_Update_MSH').html("Save Changes");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                GetMSH();
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible"  role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> MSH Updated Successfully!", "success");
                                Timeout();
                                $("#MSH_edit").show();
                                $("#MSH_add").hide();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. MSH Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else
                        {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Update_MSH').removeClass("btn btn-warning btn-loaders btn-icon");
                        $('#btn_Update_MSH').addClass("btn btn-warning");
                        $('#btn_Update_MSH').html("Save Changes");
                        Timeout();
                    }
                });

            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion

    //#region Delete Click
        $('#btn_Delete_MSH').on('click', function (e) {
            e.preventDefault();
            $('#btn_Delete_MSH').removeClass("btn btn-success");
            $('#btn_Delete_MSH').addClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Delete_MSH').html("Deleting the Record....");

                $.ajax({
                    url: '@Url.Action("DeleteMSH", "ReimbursementForms", new { area = "EMRForms" })?cmr_Id=' + $("#cmr_Id").val(),
                    type: "POST",
                    dataType: 'JSON',
                    success: function (data) {
                        $('#btn_Delete_MSH').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Delete_MSH').addClass("btn btn-warning");
                        $('#btn_Delete_MSH').html("Delete");
                        if (data.isAuthorized) {
                            if (data.success) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> MSH Claim Deleted Successfully!", "success");
                                clearControls();
                                $("#MSH_edit").hide();
                                $("#MSH_add").show();
                                AddMSH();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Error!.. Failed to Delete..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Delete_MSH').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Delete_MSH').addClass("btn btn-Delete");
                        $('#btn_Delete_MSH').html("Delete");
                        Timeout();
                    }
                })
        });
    //#endregion

    //#region Validation Initialization
        var validate = function () {
        $("#form_MSHDecision").validate({
            rules: {
                ucmr_health: {
                    required: true
                },
                ucmr_dental: {
                    required: true
                },
            },
            messages: {
                ucmr_health: {
                    required: "Please Enter Health Expences!"
                },
                ucmr_dental: {
                    required: "Please Enter Dental Expences!"
                },
            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

        $('#ucmr_health').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }

            if (parseFloat(inputValue) > 1000000) {
                return false;
            }
        });
        $("#ucmr_health").on('input', function () {
            var disc = $(this).val();
            if (disc == "" || disc == null || disc == undefined) {
                $("#ucmr_health").val(0.00);
            }
        });
        $('#ucmr_dental').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }

            if (parseFloat(inputValue) > 1000000) {
                return false;
            }
        });
        $("#ucmr_dental").on('input', function () {
            var disc = $(this).val();
            if (disc == "" || disc == null || disc == undefined) {
                $("#ucmr_dental").val(0.00);
            }
        });
        }
    //#endregion

    //#region Clear Controls
        var clearControls = function () {
            $("#ucmr_groupname").val("");
            $("#ucmr_health").val("");
            $("#ucmr_dental").val("");
            $("#ucmr_amount").val("");
            $("#ucmr_total").val("");
        }
    //#endregion

    //#region Print MSH Request
        function PrintMSH() {
            window.open("@Url.Action("PrintMSH", "ReimbursementForms", new { area = "EMRForms" })?cmr_Id=" + $("#cmr_Id").val())
        }
    //#endregion
</script>
