@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMRForms.Healthnet
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="modal-body p-4">
    <form id="form_EditHealthnet" class="needs-validation fs-14" >
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.chr_Id)
        @Html.HiddenFor(m => m.chr_appId)
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 justify-content-center">
                <h4 class="text-center">REIMBURSEMENT FORM FOR OUT OF NETWORK TREATMENT</h4>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="form-label mb-2 text-danger">
                    INSTRUCTIONS: Please read the following information carefully before filling the form
                </p>
                <p class="form-label mb-2 text-danger">
                    Please fill Section A of this form and request your doctor to fill up Section B.
                </p>
                <p class="form-label mb-2 text-danger">
                    Please attach the following supporting documents to your claim form:
                </p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card-body ps-5 pe-5">
                    <ul class="list-style4 text-justify text-black">
                        <li>Original Itemized Bills / Invoices</li>
                        <li>Original Payments Receipts / Credit Card Slips.</li>
                        <li>Original Prescriptions.</li>
                        <li>Original Discharge Summary</li>
                        <li>Copies of Laboratory and Radiology Reports </li>
                        <li>Copies of Operative Notes and Histopathology Report in case of surgery</li>
                        <li>Copy of Birth Certificate in case of Child Birth</li>
                        <li>Copy of Pre-authorization Letter from Health Net</li>
                        <li>Legal tranlsation of all documents in case originals are in any language other than Arabic or English</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="text-black text-justify">
                    Please send your claim within 90 days of your treatment date to Medical Claims Department at the following address:
                    National General Insurance Co., 5th Floor, Healthnet House, Port Saeed, Deira, P.O.Box 154, Dubai
                </p>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <p class="text-black text-justify">
                    If You have any difficulty filling this form, Please contact our Customer Service Desk during office hours(08:00 a.m to 05:00 p.m except Friday & Saturday)
                    Telephone: +971 4 2115 800 or E-mail customerservice@ngiuae.com
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                <div class="panel-heading bg-gray-lighter text-danger bold justify-content-center">Section - A: Policyholder's Details (to be completed by the insured)</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label">1. HealthNet Policy / Card No</label>
                                <div class="col-md-6 col-lg-9">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pi_insno&nbsp;</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label"> 2. Name of Policyholder</label>
                                <div class="col-md-6 col-lg-2">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                </div>
                                <label class="col-md-6 col-lg-2 form-label"> Date of Birth</label>
                                <div class="col-md-6 col-lg-2">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                                </div>
                                <label class="col-md-6 col-lg-1 form-label"> Gender</label>
                                <div class="col-md-6 col-lg-1">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_gender&nbsp;</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label">3. Name of Employee (If different from Policyholder)</label>
                                <div class="col-md-6 col-lg-9">
                                    @Html.TextBoxFor(m => m.chr_1, new { @class = "form-control", @id = "uchr_1", @width = "20px", @maxlength = "20" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-12 col-lg-3 form-label">4. Patient's relationship to insured</label>
                                <div class="col-sm-12 col-md-3 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="chr_2[1]" value="1" id="1">
                                        <span class="custom-control-label">Self</span>
                                    </label>&nbsp;
                                </div>
                                <div class="col-sm-12 col-md-3 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="chr_2[1]" value="2" id="2">
                                        <span class="custom-control-label">Spouse</span>
                                    </label>&nbsp;
                                </div>
                                <div class="col-sm-12 col-md-3 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="chr_2[1]" value="3" id="3">
                                        <span class="custom-control-label">Dependent </span>
                                    </label>&nbsp;
                                </div>
                                <div class="col-sm-12 col-md-3 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="chr_2[1]" value="4" id="4">
                                        <span class="custom-control-label">Child </span>
                                    </label>&nbsp;
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label">5. Contact Numbers</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_mob&nbsp;</span>
                                </div>
                                <label class="col-md-6 col-lg-1 form-label">Others</label>
                                <div class="col-md-6 col-lg-2">
                                    @Html.TextBoxFor(m => m.chr_2, new { @class = "form-control", @id = "uchr_2", @width = "20px", @maxlength = "14" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label">6. E-mail address</label>
                                <div class="col-md-6 col-lg-9">
                                    @if (@emr.pat_email != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_email&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>

                            <div class="form-group row mb-0">
                                <label class="col-md-6 col-lg-3 form-label">7. Total Claimed Amount (in original currency)</label>
                                <div class="col-md-6 col-lg-9">
                                    @Html.TextBoxFor(m => m.chr_amount, new { @class = "form-control", @id = "uchr_amount", @width = "20px" })
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="panel-heading bg-gray-lighter text-danger bold justify-content-center">Declaration / Authorization</div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
                <p class="text-black text-justify">
                    I certify that all information contained in / provided with the claim form is complete and correct. I hereby authorize any doctor, hospital, clinic or medical provider,
                    any insurance company or any other organization or person who has medical record or information about me and / or of my family members (if covered under HealthNet Insurance Policy)
                    to furnish it to National General Insurance Co.(PSC). Any photocopy of this declaration / authorization shall be deemed as effective as the original.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group row">
                    <div class="form-group mb-3" style="display:none" id="upatimg"><img alt="Signature" src="" id="upat_sign" class="avatar avatar-xl bsquare" /></div>
                    <p class="text-black">Signature of Policyholder</p>
                    <p class="text-black">(Self & behalf of Family Member)</p>
                    <p class="text-black">Date:<span class="font-weight-normal1 text-capitalize text-left">@emr.today&nbsp;</span></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                <div class="panel-heading bg-gray-lighter text-danger bold justify-content-center">Section - B: Patient's Details (to be completed by Treating Doctor)</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label">Name of the Patient</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                </div>
                                <label class="col-md-6 col-lg-3 form-label">Date of Birth</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label">Name of the Treating Physician / Surgeon</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.doc_name&nbsp;</span>
                                </div>
                                <label class="col-md-6 col-lg-3 form-label">Speciality</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_speciality&nbsp;</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label"> Licence / Registration No</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_license&nbsp;</span>
                                </div>
                                <label class="col-md-6 col-lg-3 form-label">Name & Address of Hospital / Clinic</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.set_company&nbsp;</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 form-label"> Telephone No</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.set_tel&nbsp;</span>
                                </div>
                                <label class="col-md-6 col-lg-3 form-label">Email address</label>
                                <div class="col-md-6 col-lg-3">
                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.set_email&nbsp;</span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 text-black">Are you patient's primary physician?</label>
                                <div class="col-sm-12 col-md-3 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="chr_2[2]" value="5" id="5">
                                        <span class="custom-control-label">Yes</span>
                                    </label>&nbsp;
                                </div>
                                <div class="col-sm-12 col-md-3 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="chr_2[2]" value="6" id="6">
                                        <span class="custom-control-label">No</span>
                                    </label>&nbsp;
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 text-black"> Presenting Complaints</label>
                                <div class="col-md-6 col-lg-9">
                                    <label class="text-black text-red text-left" id="complaints" name="">&nbsp;</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 text-black">Duration of Symptoms</label>
                                <div class="col-md-6 col-lg-2">
                                    @Html.TextBoxFor(m => m.chr_symptom, new { @class = "form-control", @id = "uchr_symptom", @width = "20px", @maxlength = "20" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 text-black">Onset of Condition</label>
                                <div class="col-md-6 col-lg-3">
                                    @Html.TextAreaFor(m => m.chr_condition, new { @class = "form-control", @row = "2", @id = "uchr_condition", @maxlength = "300" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 text-black">Relevent Past Medical / Surgical History</label>
                                <div class="col-md-6 col-lg-9">
                                    @Html.TextAreaFor(m => m.chr_history, new { @class = "form-control", @row = "2", @id = "uchr_history", @maxlength = "300" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 text-black">Diagnosis</label>
                                <div class="col-md-6 col-lg-3">
                                    <label class="text-black text-red text-left" id="diag_names" name="">&nbsp;</label>
                                </div>
                                <label class="col-md-6 col-lg-3 text-black">ICD Code</label>
                                <div class="col-md-6 col-lg-3">
                                    <label class="text-black text-red text-left" id="diag_codes" name="">&nbsp;</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 text-black">Etiology</label>
                                <div class="col-md-6 col-lg-9">
                                    @Html.TextAreaFor(m => m.chr_etiology, new { @class = "form-control", @row = "2", @id = "uchr_etiology", @maxlength = "300" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-6 col-lg-3 text-black">Plan / Details of Managment</label>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="card-body">
                                        <ul class="list-style3">
                                            <li>
                                                <div class="form-group row">
                                                    <label class="col-md-6 col-lg-2 text-black">Procedure</label>
                                                    <div class="col-md-6 col-lg-6">
                                                        <label class="text-black text-red text-left" id="pt_tr_name" name="">&nbsp;</label>
                                                    </div>
                                                    <label class="col-md-6 col-lg-2 text-black">CPT Code</label>
                                                    <div class="col-md-6 col-lg-2">
                                                        <label class="text-black text-red text-left" id="pt_tr_code" name="">&nbsp;</label>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-group row">
                                                    <label class="col-md-6 col-lg-2 text-black">Laboratory Test</label>
                                                    <div class="col-md-6 col-lg-10">
                                                        <label class="text-black text-red text-left" id="chr_lab" name="">&nbsp;</label>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="form-group row">
                                                    <label class="col-md-6 col-lg-2 text-black">Radiology / Investigations</label>
                                                    <div class="col-md-6 col-lg-10">
                                                        <label class="text-black text-red text-left" id="chr_radiology" name="">&nbsp;</label>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-12 col-lg-2 form-label">In case of Hospitalization</label>
                                <label class="col-md-6 col-lg-2 text-black">Date of Admission:</label>
                                <div class="col-md-6 col-lg-2 mb-1">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fe fe-calendar"></i>
                                            </div>
                                        </div>
                                        @Html.TextBoxFor(m => m.chr_d1, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "uchr_d1" })
                                    </div>
                                </div>
                                <label class="col-md-6 col-lg-2 text-black">	Date of Discharge:</label>
                                <div class="col-md-6 col-lg-2">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fe fe-calendar"></i>
                                            </div>
                                        </div>
                                        @Html.TextBoxFor(m => m.chr_d2, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "uchr_d2" })
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="form-group row">
                    <div class="form-group mb-3"><img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" /></div>
                    <p class="text-black">Signature & Seal of Treating Physician / Surgeon</p>
                    <p class="text-black">Date:<span class="font-weight-normal1 text-capitalize text-left">@emr.app_fdate&nbsp;</span></p>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="panel-heading bg-gray-lighter text-danger bold justify-content-center">Section - C For Office Use Only (to be completed by Claims Manager)</div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
                <label class="mb-2 text-black">
                    Remarks
                </label>
                @Html.TextAreaFor(m => m.chr_remarks, new { @class = "form-control", @row = "2", @id = "uchr_remarks" })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="form-group row">
                    <div class="form-group mb-3" style="display:none" id="uManagerimg"><img alt="Signature" src="" id="uManager_sign" class="avatar avatar-xl bsquare" /></div>
                    <p class="text-black">Claims Manager's Signature</p>
                    <p class="text-black">Date: <label class="form-label text-red text-left" id="upsb_date_Manager" name="">&nbsp;</label></p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="form-group row">
                    <div class="form-group mb-3" style="display:none" id="uAuthorizedimg"><img alt="Signature" src="" id="uAuthorized_sign" class="avatar avatar-xl bsquare" /></div>
                    <p class="text-black">Authorized Signatory's Signature</p>
                    <p class="text-black">Date: <label class="form-label text-red text-left" id="upsb_date_Authorized" name="">&nbsp;</label></p>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="btn-list btn-animation">
                    <button type="submit" class="btn btn-warning btn-sm" id="btn_Update_Healthnet">Save Changes</button>
                    <button type="submit" class="btn btn-sm btn-outline-danger" id="btn_Delete_Healthnet">Delete</button>
                    <div class="btn-group mr-2">
                        <div class="dropdown">
                            <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group mr-2">
                        <div class="dropdown">
                            <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Claims Manager's Signature
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" onclick="openSignaturePad('Manager')">Tab</a>
                                <a class="dropdown-item" onclick="openWacomTabSignaturePad('Manager')">Wacom Tab</a>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group mr-2">
                        <div class="dropdown">
                            <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> uthorized Signatory's Signature
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" onclick="openSignaturePad('Authorized')">Tab</a>
                                <a class="dropdown-item" onclick="openWacomTabSignaturePad('Authorized')">Wacom Tab</a>
                            </div>
                        </div>
                    </div>                    
                    <button type="button" class="btn btn-sm btn-outline-light " id="btn_Print_RadioDeci" onclick="PrintHealthnet()">
                        <i class="fa fa-print">&nbsp;&nbsp;</i>Print
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">

    //#region Partial View Onload
        var formName1 = $(form_EditHealthnet).closest('form').attr('name');
        $(function () {
            validate();
            set_date();
            Get_EMRINFO();
            GetSignaturename('patient');
            GetSignaturename('Manager');
            GetSignaturename('Authorized');
            GetCheckedValues("@Model.chr_checkbox");
        });
    //#endregion

    //#region Get CheckedValues
        var GetCheckedValues = function (checknames) {
            var str = checknames;
            console.log(str);
            var myarray = str.split(',');
            for (var i = 0; i < myarray.length; i++) {
                $('.custom-control-input').each(function () {
                    if (this.id == myarray[i]) {

                        $("#" + this.id).attr('checked', 'checked');
                        $("#" + this.id).prop("checked", true);
                    }
                });
            }
        }
    //#endregion

    //#region Load set Date
        var set_date = function () {
            $('#uchr_d1,#uchr_d2').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-"
            });
            var d1 = "@Model.chr_d1";
            if (d1 != "1/1/1950 12:00:00 AM") {
                $("#uchr_d1").bootstrapdatepicker("setDate", moment(new Date("@Model.chr_d1")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#uchr_d1").bootstrapdatepicker("setDate", '');
            }
            var d2 = "@Model.chr_d2";
            if (d2 != "1/1/1950 12:00:00 AM") {
                $("#uchr_d2").bootstrapdatepicker("setDate", moment(new Date("@Model.chr_d2")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#uchr_d2").bootstrapdatepicker("setDate", '');
            }
        }
    //#endregion

    //#region Validation Initialization
        var validate = function () {
            $('#uchr_d1').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#uchr_d2').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#uchr_amount').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
            $("#uchr_amount").on('input', function () {
                var disc = $(this).val();
                if (disc == "" || disc == null || disc == undefined) {
                    $("#uchr_amount").val(0.00);
                }
            });
            $('#uchr_2').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                var inputValue = $(this).val() + String.fromCharCode(charCode);

                if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                    return false;
                }

                if (parseFloat(inputValue) > 1000000) {
                    return false;
                }
            });
        }
    //#endregion

    //#region Load Get Diagnosis,treatments,history,invoice
         var Get_EMRINFO = function () {
             $.ajax({
                 type: "GET",
                 url: "@Url.Action("GetEmrInfo", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                 success: function (response) {
                     if (response.length > 0) {
                         $('#uchr_amount').text(response[0].inv_net);
                         $('#uchr_history').text(response[0].past);
                         $('#pt_tr_code').text(response[0].pt_tr_code);
                         $('#pt_tr_name').text(response[0].pt_tr_name);
                         $('#diag_names').text(response[0].diag_names);
                         $('#diag_codes').text(response[0].diag_codes);
                         $('#complaints').text(response[0].complaints);
                         $('#uchr_lab').text(response[0].chr_lab);
                         $('#uchr_radiology').text(response[0].chr_radiology);
                     }
                 },
                 error: function (xhr) {
                     console.log(xhr);
                 }
             })
         }
     //#endregion

    //#region Update Button Click
        $('#btn_Update_Healthnet').on('click', function (e) {
            e.preventDefault();
            if ($("#form_EditHealthnet").valid()) {

                $('#btn_Update_Healthnet').removeClass("btn btn-success");
                $('#btn_Update_Healthnet').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Update_Healthnet').html("Updating the Record....");
                var chr_chkbox = "";
                $('.custom-control-input:checked').each(function (index) {
                    chr_chkbox = chr_chkbox + ',' + $(this).val();
                });
                var chr_checkbox = chr_chkbox.substring(1);

                var _dataInsert = {
                "chr_Id": @Model.chr_Id,
                "chr_appId": @emr.appId,
                "chr_checkbox": chr_checkbox,
                "chr_1": $("#uchr_1").val(),
                "chr_2": $("#uchr_2").val(),
                "chr_amount": $("#uchr_amount").val(),
                "chr_symptom": $("#uchr_symptom").val(),
                "chr_condition": $("#uchr_condition").val(),
                "chr_history": $("#uchr_history").val(),
                "chr_etiology": $("#uchr_etiology").val(),
                "chr_lab": $("#uchr_lab").text(),
                "chr_radiology": $("#uchr_radiology").text(),
                "chr_remarks": $("#uchr_remarks").val(),
                "chr_d1": moment($("#uchr_d1").val()).format("YYYY-MM-DD"),
                "chr_d2": moment($("#uchr_d2").val()).format("YYYY-MM-DD"),
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateHealthnet", "ReimbursementForms", new { area = "EMRForms" })",
                    dataType: 'JSON',
                    data: _dataInsert,
                    success: function (data) {
                        $('#btn_Update_Healthnet').removeClass("btn btn-warning btn-loaders btn-icon");
                        $('#btn_Update_Healthnet').addClass("btn btn-warning");
                        $('#btn_Update_Healthnet').html("Save Changes");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                GetHealthnet();
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible"  role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Healthnet Updated Successfully!", "success");
                                Timeout();
                                $("#Healthnet_edit").show();
                                $("#Healthnet_add").hide();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. Healthnet Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else
                        {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Update_Healthnet').removeClass("btn btn-warning btn-loaders btn-icon");
                        $('#btn_Update_Healthnet').addClass("btn btn-warning");
                        $('#btn_Update_Healthnet').html("Save Changes");
                        Timeout();
                    }
                });

            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion

    //#region Delete Click
        $('#btn_Delete_Healthnet').on('click', function (e) {
            e.preventDefault();
            $('#btn_Delete_Healthnet').removeClass("btn btn-success");
            $('#btn_Delete_Healthnet').addClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Delete_Healthnet').html("Deleting the Record....");
                $.ajax({
                    url: '@Url.Action("DeleteHealthnet", "ReimbursementForms", new { area = "EMRForms" })?chr_Id=' + @Model.chr_Id,
                    type: "POST",
                    dataType: 'JSON',
                    success: function (data) {
                        $('#btn_Delete_Healthnet').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Delete_Healthnet').addClass("btn btn-warning");
                        $('#btn_Delete_Healthnet').html("Delete");
                        if (data.isAuthorized) {
                            if (data.success) {
                                GetHealthnet();
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Healthnet Claim Deleted Successfully!", "success");
                                clearControls();
                                $("#Healthnet_edit").hide();
                                $("#Healthnet_add").show();
                                Addhealthnet();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Error!.. Failed to Delete..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Delete_Healthnet').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Delete_Healthnet').addClass("btn btn-Delete");
                        $('#btn_Delete_Healthnet').html("Delete");
                        Timeout();
                    }
                })
        });
    //#endregion

    //#region Clear Controls
        var clearControls = function () {
            $("#uchr_d1").bootstrapdatepicker("setDate", '');
            $("#uchr_d2").bootstrapdatepicker("setDate", '');
            $("#uchr_1").val("");
            $("#uchr_2").val("");
            $("#uchr_amount").val("");
            $("#uchr_symptom").val("");
            $("#uchr_condition").val("");
            $("#uchr_history").val("");
            $("#uchr_etiology").val("");
            $("#uchr_lab").val("");
            $("#uchr_radiology").val("");
            $("#uchr_remarks").val("");
            var elements = document.getElementsByClassName('custom-control-input');
            Array.prototype.forEach.call(elements, function (element) {
                element.checked = false;
            });
        }
    //#endregion

    //#region Print Healthnet Request
        function PrintHealthnet() {
            window.open("@Url.Action("PrintHealthnet", "ReimbursementForms", new { area = "EMRForms" })?chr_Id=" + @Model.chr_Id)
        }
    //#endregion


    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "Healthnet",
                "appId": @emr.appId,
                "formname":"Healthnet",
                "formlink":"PrintHealthnetClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
        var openSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "Healthnet",
                "appId": @emr.appId,
                "formname":"Healthnet",
                "formlink":"PrintHealthnetClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=Healthnet',
                    type: "GET",
                    dataType: "json",
                    async: false,
                success: function (response) {
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_created).format("DD-MM-YYYY HH:mm");
                    if (response[0].person == "patient") {
                        $("#upatimg").show();
                        $("#upat_sign").attr("src", sign);
                        $("#upsb_date_witness").text(date);
                    }
                    if (response[0].person == "Manager") {
                        $("#uManagerimg").show();
                        $("#uManager_sign").attr("src", sign);
                        $("#upsb_date_Manager").text(date);
                    }
                    if (response[0].person == "Authorized") {
                        $("#uAuthorizedimg").show();
                        $("#uAuthorized_sign").attr("src", sign);
                        $("#upsb_date_Authorized").text(date);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
    //#endregion
</script>
