
@model BusinessEntities.EMRForms.Maxcare
@using BusinessEntities;
@using System.Linq;
@using System.Security.Claims;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                @*<div class="col-lg-12 col-md-12 text-center d-flex">
                        <img src="~/images/Reimbursement_Forms/maxcare.png" />
                    </div>*@
                <div class="col-lg-12 col-md-12 text-left">
                    <img src="~/images/Reimbursement_Forms/maxcare.png" />
                </div>                
                <div id="maxcare_add">
                </div>
                <div id="maxcare_edit" style="display:none">
                </div>

                <div>
                    <h4 class="page-title mb-0 text-primary">
                        Previous History
                    </h4>
                </div>
                <div class="table-responsive">
                    <table id="tbl_PreMaxcare" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #808080; border-color: #3C457D; ">
                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Date</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Doctor</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
        $(function () {
            $("#maxcare_add").show();
            $("#maxcare_edit").hide();
            GetMaxcare();
            GetPreviousMaxcare();
            });
    //#endregion

    //#region Load Maxcare
        var GetMaxcare = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllMaxcare", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        var _data = response;
                        console.log(response);
                        if (_data.length > 0) {
                            Editmaxcare();
                            $("#maxcare_add").hide();
                            $("#maxcare_edit").show();
                        }
                        else {
                            $("#maxcare_add").show();
                            $("#maxcare_edit").hide();
                            Addmaxcare();
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion

    //#region Load PreviousMaxcare
        var GetPreviousMaxcare = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetAllPreMaxcare", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
            success: function (response) {
                if (response.isAuthorized != false) {
                    var table;
                    if ($.fn.dataTable.isDataTable('#tbl_PreMaxcare')) {
                        table = $('#tbl_PreMaxcare').DataTable();
                        table.clear();
                        table.rows.add(response).draw();
                    }
                    else {
                        console.log(response);
                        BindDataTableP(response);
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion

    //#region Previous Bind Datatable
        var BindDataTableP = function (response) {
        var table = $("#tbl_PreMaxcare").DataTable({
            fixedHeader: {
                header: true,
                footer: true
            },
            processing: true,
            "deferRender": true,
            "pageLength": 100,
            "retrieve": true,
            lengthChange: true,
            "aaData": response,
            "aoColumns": [
                {
                    "mData": "maxnId",
                    "orderable": false,
                    "searchable": false,
                    "className": "text-center",
                    "render": function (data, type, row, meta) {
                        let _index = (meta.row) + 1;
                        if (_index >= 10) {
                            return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>" + _index + "</a>";
                        }
                        else {
                            return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>0" + _index + "</a>";
                        }
                    }
                },

                {
                    "mData": "app_fdate",
                    "className": "text-left",
                    "render": function (data) {
                        return moment(data).format('DD-MM-YYYY')
                    }
                },
                {
                    "mData": "doctor_name",
                    "className": 'text-justify text-wrap'
                },

                {
                    "mData": "maxnId",
                    "className": 'btn-view text-center',
                    "orderable": false,
                    "searchable": false,
                    "render": function (maxnId, type, full, meta) {
                        var Action = '';
                        //View Details
                        Action += '<a id=btn_View_Maxcare onclick="PrintPreMaxcare(' + full.maxnId + ')" ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/></svg></a> ';

                        return Action;
                    }
                },
            ],
            order: [[0, 'asc']],
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '<span class="text-primary font-weight-semi-bold">Search By Code/Tittle</span>',
                lengthMenu: '_MENU_',
                scrollX: "100%",
            },
            scrollX: true,
            scrollY: 500,
            scrollCollapse: true,
            buttons: [
                {
                    extend: 'excel',
                    title: 'Previous Maxcare Claim Request',
                    footer: 'true',
                    className: 'oldbutton',
                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                },
                {
                    extend: 'pdf',
                    title: 'Previous Maxcare Claim Request',
                    footer: 'true',
                    className: 'oldbutton',
                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                },
                {
                    extend: 'csv',
                    title: 'Previous Maxcare Claim Request',
                    footer: 'true',
                    className: 'oldbutton',
                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                },
                {
                    extend: 'print',
                    title: 'Previous Maxcare Claim Request',
                    footer: 'true',
                    className: 'oldbutton',
                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                }
            ]
        });
        table.buttons().container().appendTo('#tbl_PreMaxcare_wrapper .col-md-6:eq(0)');
    };
    //#endregion

    //#region Print Adnic Request
    function PrintPreMaxcare(maxnId) {
            window.open("@Url.Action("PrintMaxcare", "ReimbursementForms", new { area = "EMRForms" })?maxnId=" + maxnId)
        }
    //#endregion

    //#region Add Maxcare
        function Addmaxcare( ) {
            $('#maxcare_edit').hide();
            var x = $("#maxcare_add");
            x.load("@Url.Action("CreateMaxcare", "ReimbursementForms", new { area = "EMRForms" })", function () {
                $("#maxcare_add").show();
            });
        }
    //#endregion

    //#region Edit Maxcare
        function Editmaxcare() {
        var x = $("#maxcare_edit");
        x.load("@Url.Action("EditMaxcare", "ReimbursementForms", new { area = "EMRForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion

</script>

