@model BusinessEntities.EMRForms.AAFIYA
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    ViewBag.Title = "Print AAFIYA Reimbursement Claim Form";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";

    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" onclick="printDiv('printDiv')" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>
<div class="row fs-14" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-center">
                    <img src="@Model.set_header_image" />
                </div>
                <!-- Row-->
                <div class="row">
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-horizontal">
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-4 col-lg-4 ps-0">
                                            <label class="col-md-4 text-red">
                                                Provider Name
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-8">
                                                @if (@Model.cca_1 != "")
                                                {
                                                    <label class="text-black text-left">@Model.cca_1</label>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                }
                                            </div>
                                        </div>
                                        <div class="d-flex col-sm-12 col-md-8 col-lg-8 ps-0">
                                            <label class="col-md-2 text-red">
                                                Patient Name
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-10">
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-4 col-lg-4 ps-0">
                                            <label class="col-md-4 form-label">
                                                Insurance Company
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-8">
                                                @if (@Model.cca_2 != "")
                                                {
                                                    <label class="text-black text-left">@Model.cca_2</label>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                }
                                            </div>
                                        </div>
                                        <div class="d-flex col-sm-12 col-md-4 col-lg-4 ps-0">
                                            <label class="col-md-4 text-red">
                                                Patient Mobile No
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-8">
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_mob&nbsp;</span>
                                            </div>
                                        </div>
                                        <div class="d-flex col-sm-12 col-md-4 col-lg-4 ps-0">
                                            <label class="col-md-4 form-label">
                                                File No
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-8">
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_code&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-4 col-lg-4 ps-0">
                                            <label class="col-md-4 form-label">
                                                Company Name
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-8">
                                                @if (@Model.cca_3 != "")
                                                {
                                                    <label class="text-black text-left">@Model.cca_3</label>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                }
                                            </div>
                                        </div>
                                        <div class="d-flex col-sm-12 col-md-8 col-lg-8 ps-0">
                                            <label class="col-md-2 text-red">
                                                Member ID
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-10">
                                                @if (@Model.cca_4 != "")
                                                {
                                                    <label class="text-black text-left">@Model.cca_4</label>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-4 col-lg-4 ps-0">
                                            <label class="col-md-4 text-red">
                                                Date Of Treatment
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-8">
                                                @if (@Model.cca_dd1 != "1-January-1950")
                                                {
                                                    <label class="text-black text-left">@Model.cca_dd1</label>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                }
                                            </div>
                                        </div>
                                        <div class="d-flex col-sm-12 col-md-4 col-lg-4 ps-0">
                                            <label class="col-md-4 form-label">
                                                Date Of Birth
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-8">
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                                            </div>
                                        </div>
                                        <div class="d-flex col-sm-12 col-md-4 col-lg-4 ps-0">
                                            <label class="col-md-4 form-label">
                                                Gender
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-8">
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_gender&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <label class="form-label">Chief Complaint </label>
                                        <div>
                                            <label class="text-black text-red text-left" id="complaints" name="">&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 text-black">Referral (if needed) : </label>
                                        <div class="col-md-4">
                                            <label class="form-label text-left">@Model.cca_5</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="form-label">
                                            Clinical Findings
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2">
                                            <label class="form-label">
                                                BP
                                            </label>
                                            <label class="form-label text-red text-left" id="sign_bp" name="">&nbsp;</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">
                                                Temp
                                            </label>
                                            <label class="form-label text-red text-left" id="sign_temp" name="">&nbsp;</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">
                                                Pulse
                                            </label>
                                            <label class="form-label text-red text-left" id="sign_pulse" name="">&nbsp;</label>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-label">
                                                Notes
                                            </label>
                                            <label class="form-label text-red text-left" id="sign_notes" name="">&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Diagnosis</label>
                                        <div>
                                            <label class="text-black text-red text-left" id="diagnosis" name="">&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2">
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="cca_check" value="1" id="1">
                                                    <span class="custom-control-label">PEC/CHRONIC</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="cca_check" value="2" id="2">
                                                    <span class="custom-control-label">CONGENITAL</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="cca_check" value="3" id="3">
                                                    <span class="custom-control-label">MATERNITY</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="cca_check" value="4" id="4">
                                                    <span class="custom-control-label">DENTAL</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="cca_check" value="5" id="5">
                                                    <span class="custom-control-label">OPTICAL</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="cca_check" value="6" id="6">
                                                    <span class="custom-control-label">WORK RELATED OTHERS</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Treatment Details</label>
                                        <div>
                                            <label class="text-black text-red text-left" id="treatments" name="">&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 form-label">Requested Investigations</label>
                                        <div class="col-md-6">
                                            <label class="text-black text-left">@Model.cca_6</label>
                                        </div>
                                        <label class="col-md-2 form-label">Estimated Cost</label>
                                        <div class="col-md-2">
                                            <label class="text-black text-left">@Model.cca_7</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label class="form-label">Prescription</label>
                                            <div>
                                                <label class="text-black text-left">@Model.cca_8</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">Dose</label>
                                            <div>
                                                <label class="text-black text-left">@Model.cca_9</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">Duraion</label>
                                            <div>
                                                <label class="text-black text-left">@Model.cca_10</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-label">Estimated Costs</label>
                                            <div>
                                                <label class="text-black text-left">@Model.cca_11</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                            <h5>MEDICAL PRACTITIONER DECLARATION </h5>
                                            <p>I declare that I am the patient’s medical practitioner and that the particulars given are to the best of my knowledge true and correct.</p>
                                            <div class="col-md-6">
                                                <label class="form-label">Doctor Name</label>
                                                <div>
                                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.doc_name&nbsp;</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label">Doctor's Sign & Stamp</label>
                                                <div>
                                                    <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                            <h5>
                                                PATIENT’S DECLARATION :
                                            </h5>
                                            <p>I hereby authorize any Healthcare provider, Insurer, Employer or other organization to release any information regarding my medical condition & history to Aafiya for purpose of determining insurance benefits.</p>
                                            <div class="col-md-6">
                                                <label class="form-label">Date</label>
                                                <div>
                                                    <label class="form-label text-red text-left" id="upsb_date_witness" name="">&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="form-label">Patient ‘s signature{Parent if minor}</label>
                                                <div>
                                                    <div id="upatimg" class="col-md-3"><img alt="Signature" src="" id="upat_sign" class="avatar avatar-xxl bsquare" /></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p class="text-red text-justify">
                                            Aafiya Medical Billing Services reserve its right during the Agreement period with the service provider, survey and audit the
                                            service provider’s operations with respect to its performance of services, the patient visit details and claims.
                                        </p>
                                    </div>
                                    <div class="form-group bg-red-darker">
                                        <p class="text-white text-justify text-center">
                                            24/7 Claims Centre<br />
                                            Helpline : 9714263 0666 | Tel : 971 4 283 8116 | Fax : 971 4 283 8115 | Email : claims@aafiya.ae | Website : www.aafiya.ae
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Row -->
                <div class="text-center">
                    <img src="@Model.set_footer_image" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //#region Partial View Onload
        $(function () {
        GetSignaturename('patient');
        GetCheckedValues("@Model.cca_chk");
        });
    //#endregion

    //#region Get CheckedValues
        var GetCheckedValues = function (checknames) {
            var str = checknames;
            console.log(str);
            var myarray = str.split(',');
            for (var i = 0; i < myarray.length; i++) {
                $('.custom-control-input').each(function () {
                    if (this.id == myarray[i]) {
                        $("#" + this.id).attr('checked', 'checked');
                        $("#" + this.id).prop("checked", true);
                    }
                });
            }
        }
    //#endregion

    //#region Print
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    //#endregion

    //#region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=AAFIYA',
                    type: "GET",
                    dataType: "json",
                    async: false,
                success: function (response) {
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_created).format("DD-MM-YYYY HH:mm");
                    if (response[0].person == "patient") {
                        $("#upatimg").show();
                        $("#upat_sign").attr("src", sign);
                        $("#upsb_date_witness").text(date);
                        $("#upat_sign").removeClass("avatar avatar-xxl bsquare");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
    //#endregion

</script>
