
@model BusinessEntities.EMRForms.Adnic
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    ViewBag.Title = "Print Invoice";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";

    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>
<div class="row fs-14" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-center">
                    <img src="@Model.set_header_image" />
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-4 ">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div>
                                    <h4 class="page-title mb-0 text-primary">
                                        REIMBURSEMENT MEDICAL CLAIM FORM
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row">
                                <div class="panel-heading bg-azure-light text-white font-weight-bold">1. Patient Details</div>
                                <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2">
                                    <div class="col-sm-11 col-md-6 col-lg-2">
                                        <label class="form-label mb-2">
                                            Patient's Name&nbsp;
                                        </label>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                                        <span class="text-capitalize text-left text-black">@emr.pat_name&nbsp;</span>
                                    </div>
                                </div>
                                <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2">
                                    <div class="col-sm-12 col-md-6 col-lg-2">
                                        <label class="form-label mb-2">Patient Health Card No</label>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                                        @if (@emr.pi_insno != "")
                                        {
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pi_insno&nbsp;</span>
                                        }
                                        else
                                        {
                                            <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2">
                                    <div class="col-sm-12 col-md-6 col-lg-2">
                                        <label class="form-label mb-2">
                                            Group Member's Name&nbsp;<span class="text-red">*</span>
                                        </label>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-3 mb-2">
                                        <label class="form-label text-black text-left">@Model.ads_group_mem&nbsp;</label>
                                    </div>
                                </div>
                                <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2">
                                    <div class="col-sm-12 col-md-6 col-lg-2">
                                        <label class="form-label">Type of Plan</label>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-3 mb-2">
                                        @if (@emr.app_ic_name != "")
                                        {
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.app_ic_name&nbsp;</span>
                                        }
                                        else
                                        {
                                            <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2">
                                    <div class="col-sm-12 col-md-6 col-lg-2">
                                        <label class="form-label">
                                            Employer's Name&nbsp;
                                        </label>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-3 mb-2">
                                        @if (@emr.doc_name != "")
                                        {
                                            <span class="text-capitalize text-left text-black">@emr.doc_name&nbsp;</span>
                                        }
                                        else
                                        {
                                            <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                        }
                                    </div>
                                </div>
                                <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2">
                                    <div class="col-sm-12 col-md-6 col-lg-2">
                                        <label class="form-label">Telephone No</label>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-3 mb-2">
                                        @if (@emr.pat_mob != "")
                                        {
                                            <span class="text-capitalize text-left text-black">@emr.pat_mob&nbsp;</span>
                                        }
                                        else
                                        {
                                            <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2">
                                    <div class="col-sm-12 col-md-6 col-lg-2">
                                        <label class="form-label">
                                            Email ID&nbsp;
                                        </label>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                                        @if (@emr.pat_email != "")
                                        {
                                            <span class="text-capitalize text-left text-black">@emr.pat_email&nbsp;</span>
                                        }
                                        else
                                        {
                                            <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                        }
                                    </div>
                                </div>
                                <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2">
                                    <div class="col-sm-12 col-md-6 col-lg-2">
                                        <label class="form-label">Address</label>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                        :
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                                        @if (@emr.pat_address != "")
                                        {
                                            <span class="text-capitalize text-left text-black">@emr.pat_address&nbsp;</span>
                                        }
                                        else
                                        {
                                            <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                        }
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2">
                                    <div class="col-sm-12 col-md-6 col-lg-2">
                                        <label class="form-label">Date of Birth</label>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center w-8 form-label">
                                        :
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                                        @if (@emr.pat_dob != "")
                                        {
                                            <span class="text-capitalize text-left text-black">@emr.pat_dob&nbsp;</span>
                                        }
                                        else
                                        {
                                            <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                        }
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-3">
                                </div>
                            </div>


                            <div class="row">
                                <div class="panel-heading bg-azure-light text-white font-weight-bold">2. Reason for not using listed helathcare facilities(Kindly indicate)</div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="ads_reason" value="Emergency" id="u1">
                                            <span class="custom-control-label">Emergency</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="ads_reason" value="Elective" id="u2">
                                            <span class="custom-control-label">Elective</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="ads_reason" value="Service Not Available" id="u3">
                                            <span class="custom-control-label">Service Not Available</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="ads_reason" value="On vacation/business trip outside UAE" id="u4">
                                            <span class="custom-control-label">On vacation/business trip outside UAE</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <label class="form-label">
                                        Other(s) please specify:
                                    </label>
                                </div>
                                <div class="col-sm-9 col-md-9 col-lg-9">
                                    <label class="form-label text-black text-left">@Model.ads_reason_other&nbsp;</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="panel-heading bg-azure-light text-white font-weight-bold"> 3. Medical Information(To be filled by treating doctor for all outpatient for cases like hospitalization procedures surgeries-detailed medical report is required)</div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <label class="form-label">
                                        Condition Requiring treatment
                                    </label>
                                    <label class="form-label text-black text-left">@Model.ads_condition&nbsp;</label>
                                    @*<label class="form-label text-black text-align-left" id="complaint" name="">
                                        </label>*@
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <label class="form-label">
                                        Visit Date
                                    </label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="fe fe-calendar"></i>
                                            </div>
                                        </div>
                                        <label class="form-label text-black text-left">@Model.ads_visit&nbsp;</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <label class="form-label">
                                        Onset and duration of illness:
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <label class="form-label text-black text-left">@Model.ads_onset_duration&nbsp;</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <label class="form-label">
                                        Treatment Details
                                    </label>
                                    <label class="form-label text-black text-left">@Model.ads_treat_details&nbsp;</label>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <label class="form-label">
                                        Name of the Doctor:
                                    </label>
                                    <label class="form-label text-red text-capitalize text-left">@emr.app_doctor_department&nbsp;</label>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <label class="form-label">
                                        Date :
                                    </label>
                                    <label class="form-label text-left">@emr.app_fdate&nbsp;</label>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <label class="form-label">
                                        Signature & Stamp :
                                    </label>
                                    <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                                </div>
                            </div>

                            <div class="panel-heading bg-azure-light text-white font-weight-bold">
                                <div class="col-sm-6 col-md-6 col-sm-6">
                                    4. Name & Address of the Hospital/Clinic
                                </div>
                                <div class="col-sm-6 col-md-6 col-sm-6 ">
                                    Treatment Details
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3 ">
                                    <label class="form-label text-left">@emr.set_company&nbsp;</label>
                                </div>
                                <div class="col-sm-9 col-md-9 col-lg-9 ">
                                    <div class="table-responsive">
                                        <table id="tbl_Treatment" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                                            <thead>
                                                <tr style="color: #fff !important; background-color: #808080; border-color: #3C457D; ">
                                                    <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                                    <th class="border-bottom-0 font-weight-semibold text-white">CPT Code</th>
                                                    <th class="border-bottom-0 font-weight-semibold text-white">Treatment</th>
                                                    <th class="border-bottom-0 font-weight-semibold text-white">Type</th>
                                                    <th class="border-bottom-0 font-weight-semibold text-white">Price</th>
                                                    <th class="border-bottom-0 font-weight-semibold text-white">Auth. Code</th>
                                                    <th class="border-bottom-0 font-weight-semibold text-white">Auth. Date</th>
                                                    <th class="border-bottom-0 font-weight-semibold text-white">Exp. Date</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <label class="form-label">
                                        Currency(If treatment availed outside UAE)
                                    </label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="panel-heading bg-azure-light text-white font-weight-bold"> 5.Bank Details</div>

                                <div class="col-sm-3 col-md-3 col-lg-3 ">
                                    <label class="form-label">
                                        Bank Details(Compulsory):
                                    </label>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3 ">
                                    <label class="form-label text-black text-left">@Model.ads_bankDetails&nbsp;</label>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3 ">
                                    <label class="form-label">

                                    </label>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3 ">
                                    <label class="form-label">

                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3 ">
                                    <label class="form-label">
                                        Account Holder Name:
                                    </label>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3 ">
                                    <label class="form-label text-black text-left">@Model.ads_account_holder&nbsp;</label>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3 ">
                                    <label class="form-label">

                                    </label>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3 ">
                                    <label class="form-label">

                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3 ">
                                    <label class="form-label">
                                        Bank Name:
                                    </label>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3 ">
                                    <label class="form-label text-black text-left">@Model.ads_bank_name&nbsp;</label>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3 ">
                                    <label class="form-label">

                                    </label>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3 ">
                                    <label class="form-label">

                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3 ">
                                    <label class="form-label">
                                        Bank Address:
                                    </label>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3 ">
                                    <label class="form-label text-black text-left">@Model.ads_bank_address&nbsp;</label>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3 ">
                                    <label class="form-label">

                                    </label>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3 ">
                                    <label class="form-label">

                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3 ">
                                    <label class="form-label">
                                        Currency:
                                    </label>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3 ">
                                    <label class="form-label text-black text-left">@Model.ads_bank_currency&nbsp;</label>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3 ">
                                    <label class="form-label">
                                        SWIFT Code:
                                    </label>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3 ">
                                    <label class="form-label text-black text-left">@Model.ads_bank_swiftcode&nbsp;</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="panel-heading bg-azure-light text-white font-weight-bold">  6.Other Information</div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <label class="form-label">
                                        Is the above case work related
                                    </label>
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <label class="form-label">
                                        @Html.RadioButtonFor(x => x.ads_oth_above, true) Yes
                                        @Html.RadioButtonFor(x => x.ads_oth_above, false) No
                                    </label>
                                </div>
                                <div class="col-sm-7 col-md-7 col-lg-7">
                                    <label class="form-label">
                                        <label class="form-label text-black text-left">@Model.ads_oth_above_det&nbsp;</label>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <label class="form-label">
                                        Is the claim covered by another insurance
                                    </label>
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2">
                                    <label class="form-label">
                                        @Html.RadioButtonFor(x => x.ads_oth_claim, true) Yes
                                        @Html.RadioButtonFor(x => x.ads_oth_claim, false) No
                                    </label>
                                </div>
                                <div class="col-sm-7 col-md-7 col-lg-7">

                                    <label class="form-label text-black text-left">
                                        (Please specify the amount reimbursed and by which insurance company)
                                    </label>
                                    <label class="form-label text-black text-left">@Model.ads_oth_claim_det&nbsp;</label>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="panel-heading bg-azure-light text-white font-weight-bold"> 7. Declaration</div>
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <p class="text-justify text-black">
                                        I, the undersigned hereby declared that the information above is true and complete and that reimbursement requested is for expense paid by me for the treatment of my medical condition.
                                    </p>
                                    <p class="text-justify text-black">
                                        I agree to submit to ADNIC any requested document mandatory / deemed necessary to process my above claim . I hereby authorize ADNIC to approach ,and any doctor / Medical facility/ any Institution or any person who has any record / medical information about me or my family member to provide ADNIC with complete information including copies of the records when requested.
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <label class="form-label text-black text-left">@Model.ads_witnessname&nbsp;</label>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group mb-3" style="display:none" id="witimg"><img alt="Signature" src="" id="wit_sign" class="avatar avatar-xl bsquare" /></div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <label class="form-label text-red text-left" id="psb_date_witness" name="">&nbsp;</label>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <label class="form-label text-black text-left">@Model.ads_contact&nbsp;</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <label class="form-label">
                                        Name Relationship to the Card Holder
                                    </label>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <label class="form-label">
                                        Signature
                                    </label>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <label class="form-label">
                                        Date
                                    </label>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <label class="form-label">
                                        Contact No.
                                    </label>
                                </div>

                            </div>

                            <div class="row ">
                                <div class="panel-heading bg-azure-light text-white font-weight-bold"> Instructions</div>
                            </div>
                            <div class="row ">
                                <div class="card-body ps-5 pe-5">
                                    <ul class="list-style2 text-justify text-black">
                                        <li>This form needs to be completed by the insured member (Card holder), only if the provider is not submitting the claim on his behalf.</li>
                                        <li>Please read the form carefully and make sure to complete all pertinent information. ADNIC will not be able to process any incomplete Reimbursement Claim Form with lacking proper documentation.</li>
                                        <li>Use a separate form for each Member.</li>
                                        <li>All the documents including invoices and medical reports should be in either English or Arabic. Documents in other languages must be translated by an official public translator prior to submission.</li>
                                        <li>
                                            The following documents to be attached to your duly filled Reimbursement Claim Form.
                                            <ol style="list-style-type:disc;">
                                                <li>Copy of Card.</li>
                                                <li>Original itemized bill/Invoices (dated) and receipts of payment.</li>
                                                <li>Original prescription for medication given by the treating doctor ( except for controlled drugs) . Validity of the prescription is limited to 60 days and for controlled drugs is limited to 3 days in line with HAAD</li>
                                                <li>Investigation requests/reports like laboratory tests, x-rays, etc.</li>
                                            </ol>
                                            Additional requirements to above:<br />
                                            For Inpatient (Hospitalization Cases)
                                            <ol style="list-style-type:disc;">
                                                <li>Medical Report/Discharge Summary stamped & signed by the treating Doctor.</li>
                                            </ol>
                                            For treatment availed Outside the UAE
                                            <ol style="list-style-type:disc;">
                                                <li>Copy of passport showing Exit & Re-entry to UAE or any other similar documents (E.g.: E-gate)</li>
                                                <li>Elective treatment is subject to ADNIC prior approval at all times.</li>
                                            </ol>
                                        </li>
                                        <li>Please retain copies of receipts and documents enclosed with your claim, as ADNIC will retain original documents.</li>
                                        <li>All claims s ubject to reimbursement availed within or outside UAE should be submitted within 120 days of incurred treatment.</li>
                                        <li>
                                            Please submit all the above required documents directly to MSH international - DIFC Liberty House Office No 304, Level - 3, P.O Box 506537, Dubai, United Arab Emirates<br />
                                            If you need assistance in filling this form please call MSH Toll Free (UAE): 800674823|+971 4 365 1350
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row">
                                <div class="panel-heading bg-azure-light text-white font-weight-bold">  Instructions to complete the Form</div>
                            </div>
                            <div class="row ">
                                <div class="card-body ps-5 pe-5">
                                    <ul class="list-style2 text-justify text-black">
                                        <li>Please write your name & Card Number as mentioned in the Card</li>
                                        <li>Medical Information – Request your treating doctor to fill up brief medical information about your condition and treatment.</li>
                                        <li>Provider Name & Address – Kindly use more than one line if necessary to provide this information about each facility where  you were treated.</li>
                                        <li>Bill No. – Please write the serial number/reference number printed on the bill/receipt/invoice for each service separately.</li>
                                        <li>Service Date – State date of treatment for each service against each bill.</li>
                                        <li>Description of Services –State type of service like Consultation/Pharmacy/Investigations/Physiotherapy/Dental/ Hospitalization.</li>
                                        <li>Amount – State the exact amount as appears on the invoices</li>
                                        <li>Total – Total amount of all the invoices submitted with this form for reimbursement from ADNIC</li>
                                        <li>Currency – Name of the currency in which actual payment was made.</li>
                                        <li>If treatment due to road traffic accident a police report is required to be submitted with this form.</li>
                                        <li>Declaration – Kindly write your name, signature, date, the contact number and relationship to the cardholder.</li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <img src="@Model.set_footer_image" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
          GetSignaturename('Witness');
        var data = "@Model.ads_reason";
        var x = data.split(",");
        if (x != "") {
            if (x.includes("Emergency")) {
                $('#u1').attr('checked', 'checked');
                $("#u1").prop("checked", true);
            }
            if (x.includes("Elective")) {
                $('#u2').attr('checked', 'checked');
                $("#u2").prop("checked", true);
            }
            if (x.includes("Service Not Available")) {
                $('#u3').attr('checked', 'checked');
                $("#u3").prop("checked", true);
            }
            if (x.includes("On vacation/business trip outside UAE")) {
                $('#u4').attr('checked', 'checked');
                $("#u4").prop("checked", true);
            }

        }
    });
     //#region Get Signature
        var GetSignaturename = function ( person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + "@Model.ads_appId" + '&person=' + person + '&form="Adnic"',
                    type: "GET",
                    dataType: "json",
                    async: false,
                success: function (response) {
                    console.log(response);
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY HH:mm");

                    if (response[0].person == "witness") {
                        $("#witimg").show();
                        $("#wit_sign").attr("src", sign);
                        $("#psb_date_witness").text(date);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
    //#endregion Get Signature
</script>