@model BusinessEntities.EMRForms.Inayah
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    ViewBag.Title = "Print Inayah Reimbursement Claim Form";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";

    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" onclick="printDiv('printDiv')" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>
<div class="row fs-14" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-center">
                    <img src="@Model.set_header_image" />
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p class="text-black text-justify">
                            Issuance of this form does not amount to admission of any liability of under the policy on the part of the insurers. Please give the following information
                            correctly and completely to enable us process your claim promptly. If the claim is under Personal Accident Insurance, please complete a Personal Accident Claim Form
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                        <div class="form-group row pb-0 mt-3">
                            <label class="col-md-12 form-label">1.Policyholder's Details</label>
                        </div>
                        <div class="card-body pt-0 pb-0">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group row d-flex">
                                        <label class="col-md-4 form-label text-justify">a. Name of the Insured/patient (in whose name policy is issued)</label>
                                        <div class="col-md-8">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 form-label" for="Policyholder"> b. Inayah Member ID</label>
                                        <div class="col-md-8">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pi_insno&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 form-label">c. Policy Number</label>
                                        <div class="col-md-8">
                                            @if (@emr.pi_polocyno != "")
                                            {
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pi_polocyno&nbsp;</span>
                                            }
                                            else
                                            {
                                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 form-label">d.  Date of Birth (Patient)</label>
                                        <div class="col-md-8">
                                            @if (@emr.pat_dob != "")
                                            {
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                                            }
                                            else
                                            {
                                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 form-label">e.  Email-ID</label>
                                        <div class="col-md-8">
                                            @if (@emr.pat_email != "")
                                            {
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_email&nbsp;</span>
                                            }
                                            else
                                            {
                                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 form-label">f. Residential Address</label>
                                        <div class="col-md-8">
                                            @if (@emr.pat_address != "")
                                            {
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_address&nbsp;</span>
                                            }
                                            else
                                            {
                                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 form-label">g. Contact No</label>
                                        <div class="col-md-8">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_mob&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 form-label">h. Fax No</label>
                                        <div class="col-md-8">
                                            @if (@emr.pat_fax != "")
                                            {
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_fax&nbsp;</span>
                                            }
                                            else
                                            {
                                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 form-label">2. Nature of Disease/Illness contracted or injury sustained</label>
                            <div class="col-md-8">
                                <label class="form-label text-red text-left" id="app_complaints" name="">&nbsp;</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 form-label text-justify">3. Date on which injury was sustained/Disease or illness first detected</label>
                            <div class="col-md-2">
                                <label class="text-black text-left">@Model.cir_date1&nbsp;</label>&nbsp;
                            </div>
                        </div>
                        <div class="form-group row pb-0 mt-3">
                            <label class="col-md-12 form-label">4. Treating Physician's Details</label>
                        </div>
                        <div class="card-body pt-0 pb-0">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group row d-flex">
                                        <label class="col-md-3 form-label">a. Physician's Name</label>
                                        <div class="col-md-3">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.doc_name&nbsp;</span>
                                        </div>
                                        <label class="col-md-3 form-label" for="Policyholder"> b. Tel Number</label>
                                        <div class="col-md-3">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_tel&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 form-label">c. Fax Number</label>
                                        <div class="col-md-3">
                                            @if (@emr.emp_fax != "")
                                            {
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_fax&nbsp;</span>
                                            }
                                            else
                                            {
                                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                            }
                                        </div>
                                        <label class="col-md-3 form-label">d. Address</label>
                                        <div class="col-md-3">
                                            @if (@emr.emp_address != "")
                                            {
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_address&nbsp;</span>
                                            }
                                            else
                                            {
                                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="form-group mb-3"><img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" /></div>
                                        <p class="text-black">Signature & Seal of Treating Physician / Surgeon</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row pb-0 mt-3">
                            <label class="col-md-12 form-label">5. Clinic's Details</label>
                        </div>
                        <div class="card-body pt-0 pb-0">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-3 form-label">a. Name</label>
                                        <div class="col-md-3">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.set_company&nbsp;</span>
                                        </div>
                                        <label class="col-md-3 form-label" for="Policyholder"> b. Address</label>
                                        <div class="col-md-3">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.set_address&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 form-label">c. Date of Admission</label>
                                        <div class="col-md-3">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.app_fdate&nbsp;</span>
                                        </div>
                                        <label class="col-md-3 form-label">c. Date of Discharge</label>
                                        <div class="col-md-3">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.app_fdate&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 form-label">c. Registration No</label>
                                        <div class="col-md-3">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.set_permit_no&nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row pb-0 mt-3">
                            <label class="col-md-12 form-label text-justify">6. Are you at present covered under any other similar type of scheme like P.A. Cancer Insurance, Mediclaim (Individual or Group), Health Insurance, etc. If Yes, Please give particulars of each</label>
                        </div>
                        <div class="card-body pt-0 pb-0">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group row d-flex">
                                        <label class="col-md-4 text-black text-justify">a. Is this the first year of coverage under Mediclaim Policy?</label>
                                        <div class="col-sm-12 col-md-6 col-lg-2">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="cir_checkbox[1]" value="1" id="1">
                                                <span class="custom-control-label">Yes</span>
                                            </label>&nbsp;
                                        </div>
                                        <div class="col-sm-12 col-md-6 col-lg-2">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="cir_checkbox[1]" value="2" id="2">
                                                <span class="custom-control-label">No</span>
                                            </label>&nbsp;
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 text-black text-justify">If no, since when have you been continuously insured under Mediclaim Policy. Give details</label>
                                        <div class="col-md-8">
                                            <label class="text-black text-left">@Model.cir_details&nbsp;</label>&nbsp;
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 text-black text-justify"> b. Is this the first claim under this policy </label>
                                        <div class="col-sm-12 col-md-6 col-lg-2">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="cir_checkbox[2]" value="3" id="3">
                                                <span class="custom-control-label">Yes</span>
                                            </label>&nbsp;
                                        </div>
                                        <div class="col-sm-12 col-md-6 col-lg-2">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="cir_checkbox[2]" value="4" id="4">
                                                <span class="custom-control-label">No</span>
                                            </label>&nbsp;
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 text-black text-justify">If no, please quote Previous claim number and details</label>
                                        <div class="col-md-8">
                                            <label class="text-black text-left">@Model.cir_claim</label>&nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row pb-0 mt-3">
                            <label class="col-md-12 form-label text-justify">7. In support of the above claim, I enclose the following original documents (Please indicated by</label>
                        </div>
                        <div class="card-body pt-0 pb-0">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="cir_checkbox" value="5" id="5">
                                                    <span class="custom-control-label">Bill, Receipt and Discharge certificate / card from the Hospital</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="cir_checkbox" value="6" id="6">
                                                    <span class="custom-control-label">Pathological test reports</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="cir_checkbox" value="7" id="7">
                                                    <span class="custom-control-label">Duly filled claim form by the medical practitioner</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row pb-0 mt-3">
                            <label class="col-md-12 form-label text-justify">8. Summary of expenses incurred for which original bills / receipts / cash memos are enclosed:</label>
                        </div>
                        <div class="card-body pt-0 pb-0">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-2 text-black">Total of Hospital Bil</label>
                                        <div class="col-md-2">
                                            <label class="text-black text-left">@Model.cir_total</label>&nbsp;
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 text-black">Medicines purchased from chemists</label>
                                        <div class="col-md-2">
                                            <label class="text-black text-left">@Model.cir_medicines</label>&nbsp;
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 text-black">Other expenses not included above</label>
                                        <div class="col-md-2">
                                            <label class="text-black text-left">@Model.cir_expenses</label>&nbsp;
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 text-black">Grand Total</label>
                                        <div class="col-md-2">
                                            <label class="text-black text-left">@Model.cir_grand</label>&nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row mt-3">
                            <label class="col-md-12 form-label">9. Patient’s Declaration</label>
                        </div>
                        <div class="form-group row mt-3">
                            <p class="col-md-12 text-black text-justify">
                                I declare that all the details given on this claim form are true and accurate and I hereby warrant the truth of the foregoing particulars in every respect and I agree that if have made or shall make any false or untrue statement, suppression or concealment my right to claim reimbursement of the said expenses shall be absolutely forfeited. In case INAYAH LLC is not liable to settle the hospital bill to discrepancy in documentation, I take complete responsibility to settle the bill. For this claim I authorise any medical practitioner, Specialist, Conultant who has attended me/the patient, in the past or present, to give any details that may be asked by INAYAH TPA LLC.
                                I also authorize TPA to receive payment from insurance company as reimbursement of hospital bills incurred on my treatment.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group row">
                            <div class="form-group mb-3"><img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" /></div>
                            <p class="text-black">Treating Doctor’s Signature</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group row">
                            <div class="form-group mb-3" id="upatimg"><img alt="Signature" src="" id="upat_sign" class="avatar avatar-xl bsquare" /></div>
                            <p class="text-black">Patient/Insured Signature</p>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <img src="@Model.set_footer_image" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //#region Partial View Onload
        $(function () {
            Get_Patient_Complaints();
            GetSignaturename('patient');
            GetCheckedValues("@Model.cir_checkbox");
        });
    //#endregion

    //#region Get CheckedValues
        var GetCheckedValues = function (checknames) {
            var str = checknames;
            console.log(str);
            var myarray = str.split(',');
            for (var i = 0; i < myarray.length; i++) {
                $('.custom-control-input').each(function () {
                    if (this.id == myarray[i]) {

                        $("#" + this.id).attr('checked', 'checked');
                        $("#" + this.id).prop("checked", true);
                    }
                });
            }
        }
    //#endregion

    //#region Load Get Patient Complaints
     var Get_Patient_Complaints = function () {
         $.ajax({
             type: "GET",
             url: "@Url.Action("Get_Patient_Complaints", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
             success: function (response) {
                 if (response.length > 0) {
                     var str2 = response[0].complaints;
                     var regex = /(|<([^>]+)>)/ig;
                     $("#app_complaints").text(str2.replace(/(<p>|<\/p>)/g, ""));
                 }
             },
             error: function (xhr) {
                 console.log(xhr);
             }
         });
     }
 //#endregion

    //#region Print
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    //#endregion

    //#region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=Inayah',
                    type: "GET",
                    dataType: "json",
                    async: false,
                success: function (response) {
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_created).format("DD-MM-YYYY HH:mm");
                    if (response[0].person == "patient") {
                        $("#upatimg").show();
                        $("#upat_sign").attr("src", sign);
                        $("#upsb_date_witness").text(date);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
    //#endregion

</script>
