




@model BusinessEntities.EMRForms.Allianz
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    ViewBag.Title = "Print Allianz Reimbursement Claim Form";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";

    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" onclick="printDiv('printDiv')" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>
<div class="row fs-14" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-center">
                    <img src="@Model.set_header_image" />
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-4 ">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div>
                                    <h4 class="page-title text-center mb-0 text-primary">
                                        ALLIANZ REIMBURSEMENT MEDICAL CLAIM FORM
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <label class="form-label mb-2 text-danger">
                                    To help us provide you with a fast and efficient service, we kindly ask you to note the following:
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="card-body ps-5 pe-5">
                                    <ul class="list-style2 text-justify text-black">
                                        <li>A fully completed form will speed up the assessment and pay ment of your claim</li>
                                        <li>
                                            All relevant original invoices must me attached. Unfortunately, photocopies, receipts and credit card slips cannot be accepted.
                                            We recommend that you keep copies of all documents submitted, should you required them at a later date.
                                        </li>
                                        <li>A separate claim form if required for every patient and each medical condition</li>
                                        <li>
                                            Finally, We kindly ask that you complete this form in BLOCK CAPITALS and post to the address bellow within six month after
                                            the end of the insurance year. Beyond this time we are nt obliged to settle the claim
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <label class="form-label mb-2 text-danger">
                                    1. Policyholder details
                                </label>
                            </div>
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label ">
                                        Insurance Number
                                    </label>
                                </div>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7">
                                    @if (@emr.pi_polocyno != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pi_polocyno&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label mb-2">Title</label>
                                </div>
                                <div class="d-flex justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7">
                                    @if (@emr.pat_gender == "Male")
                                    {
                                        <div class="col-sm-12 d-flex col-md-6 col-lg-2">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" value="0" checked="checked">
                                                <span class="custom-control-label">Mr.</span>
                                            </label>
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" value="0">
                                                <span class="custom-control-label">Mrs</span>
                                            </label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-12 col-md-6 col-lg-2 d-flex">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" value="0">
                                                <span class="custom-control-label">Mr.</span>
                                            </label>
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" value="0" checked="checked">
                                                <span class="custom-control-label">Mrs</span>
                                            </label>
                                        </div>

                                    }
                                </div>
                            </div>

                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2 ">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label ">
                                        Surname
                                    </label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7 mb-2">
                                    @if (@emr.pat_lname != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_lname&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2 ">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label mb-2">First Name</label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7 mb-2">
                                    @if (@emr.pat_name != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>

                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2 ">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label ">
                                        Correspondence Address
                                    </label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7 mb-2">
                                    @if (@emr.pat_address != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_address&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2 ">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label mb-2">Phone No. daytime</label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7 mb-2">
                                    @if (@emr.pat_mob != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_mob&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>

                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2 ">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label ">
                                        Phone No. Evening
                                    </label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7 mb-2">
                                    @if (@emr.pat_mob != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_mob&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2 ">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label mb-2">Fax</label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7 mb-2">
                                    @if (@emr.pat_fax != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_fax&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>

                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2 ">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label mb-2">Email </label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7 mb-2">
                                    @if (@emr.pat_email != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_email&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <label class="form-label mb-2 text-danger">
                                    2. Patient details
                                </label>
                            </div>
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label mb-2">Title</label>
                                </div>
                                <div class="d-flex justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7">
                                    @if (@emr.pat_gender == "Male")
                                    {
                                        <div class="col-sm-12 d-flex col-md-6 col-lg-2">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" value="0" checked="checked">
                                                <span class="custom-control-label">Mr.</span>
                                            </label>
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" value="0">
                                                <span class="custom-control-label">Mrs</span>
                                            </label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-sm-12 col-md-6 col-lg-2 d-flex">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" value="0">
                                                <span class="custom-control-label">Mr.</span>
                                            </label>
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" value="0" checked="checked">
                                                <span class="custom-control-label">Mrs</span>
                                            </label>
                                        </div>

                                    }
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2 ">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label ">
                                        Surname
                                    </label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7 mb-2">
                                    @if (@emr.pat_lname != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_lname&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2 ">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label mb-2">First Name</label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7 mb-2">
                                    @if (@emr.pat_name != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2 ">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label mb-2">Date of Birth </label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7 mb-2">
                                    @if (@emr.pat_dob != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2 ">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label mb-2">Is this claim related to an accident?</label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 d-flex col-md-6 col-lg-2">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="ali_1[1]" value="1" id="1">
                                        <span class="custom-control-label">Yes</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="ali_1[1]" value="2" id="2">
                                        <span class="custom-control-label">No</span>
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <label class="form-label mb-2 text-danger">
                                    3. Payment details
                                </label>
                            </div>

                            <div class="d-flex col-sm-12 col-md-12 col-lg-12 mt-2 ">
                                <div class="col-sm-12 col-md-6 col-lg-2 ps-0">
                                    <label class="text-black">
                                        <span class="text-black bold">Option 1:</span> Payment to be
                                    </label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-8">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="ali_1[3]" value="3" id="3">
                                        <span class="custom-control-label">Policyholer/Insured </span>
                                    </label>
                                </div>
                            </div>

                            <div class="d-flex col-sm-12 col-md-12 col-lg-12 mt-2 ">
                                <div class="col-sm-12 col-md-6 col-lg-2 ps-0">
                                    <label class="text-black">
                                        Payment to be made in
                                    </label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-8 d-flex">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="ali_1[4]" value="4" id="4">
                                        <span class="custom-control-label">Inoice Currency </span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="ali_1[4]" value="5" id="5">
                                        <span class="custom-control-label">Other Currency &nbsp;&nbsp;(please specify)</span>
                                    </label>
                                    <div class="col-sm-12 col-md-6 col-lg-2">
                                        <label class="text-black text-left">@Model.all_2&nbsp;</label>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-12 mt-2 ">
                                <div class="col-sm-12 col-md-6 col-lg-2 ps-0">
                                    <label class="text-black">
                                        Preffered payment method
                                    </label>
                                </div>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-9 d-flex">
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="ali_1[6]" value="6" id="6">
                                        <span class="custom-control-label">Cheque</span>
                                    </label>
                                    <label class="custom-control custom-radio">
                                        <input type="radio" class="custom-control-input" name="ali_1[6]" value="7" id="7">
                                        <span class="custom-control-label">Bank transfer&nbsp;&nbsp;(please fill in bank details)</span>
                                    </label>
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2 ">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="text-black">
                                        Name of bank account
                                    </label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7">
                                    <label class="text-black text-left">@Model.all_3&nbsp;</label>
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2 ">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="text-black">
                                        Sort/branch code
                                    </label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7 d-flex">
                                    <label class="text-black text-left">@Model.all_4&nbsp;</label>
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2 ">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="text-black">
                                        Swift code
                                    </label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7 d-flex">
                                    <label class="text-black text-left">@Model.all_5&nbsp;</label>
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2 ">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="text-black">
                                        Bank name
                                    </label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7">
                                    <label class="text-black text-left">@Model.all_6&nbsp;</label>
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2 ">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="text-black">
                                        Bank Address
                                    </label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7">
                                    <label class="text-black text-left">@Model.all_7&nbsp;</label>
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-12 mt-2 ">
                                <label class="text-black">
                                    Option 2 Payment to  Provider to Medical Service (e.g Hospital, Specialist, MRI)
                                    Please tick if direct billing has been previously agreed with Allianz Worldwide Care
                                </label>
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="ali_1[8]" value="8" id="8">
                                    <span class="custom-control-label"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <label class="form-label mb-2 text-danger">
                                    4. Patient signature and release of medical record.
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <p class="text-black text-justify">
                                    I certify that to the best of my knowledge, this claim form does not conntain ant false, misleading or
                                    incomplete information. I Understand that in the event that this claim is found to be fraudulent in whole or part the policy will be invalidated
                                    and i will be liable for prosecution. In respect of any medical claim. I hereby authorise my medical practitioner health profissional or other
                                    revelant medical establishment to provide any health details or medical records that may be requested by Allianz Worldwide care Limited or their
                                    appointed representativies.If a minor was treated, a parent or guardian should sign this section.
                                </p>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group mb-3" style="display:none" id="upatimg"><img alt="Signature" src="" id="upat_sign" class="avatar avatar-xl bsquare" /></div>
                                <label class="form-label mb-2 text-black">
                                    Patient’s Signature
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <label class="form-label text-red text-left" id="upsb_date_witness" name="">&nbsp;</label>
                                <label class="form-label mb-2 text-black">
                                    Date
                                </label>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <label class="form-label mb-2 text-danger">
                                    Section 5 and 6 to be completed by treating doctor in BLOCK CAPITALS unless your invoices contain details of the diagnoses as well as nature of the treatment
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <label class="form-label mb-2 text-danger">
                                    5. Medical provider information.
                                </label>
                            </div>
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label ">
                                        Name of doctor/specialist
                                    </label>
                                </div>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7">
                                    @if (@emr.doc_name != "")
                                    {
                                        <span class="font-weight-normal1 text-uppercase text-left">@emr.doc_name&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label ">
                                        Qualifications/credentials
                                    </label>
                                </div>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7">
                                    @if (@emr.emp_designation != "")
                                    {
                                        <span class="font-weight-normal1 text-uppercase text-left">@emr.emp_designation&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label ">
                                        Name of hospital/clinic
                                    </label>
                                </div>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7">
                                    @if (@emr.set_company != "")
                                    {
                                        <span class="font-weight-normal1 text-uppercase text-left">@emr.set_company&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label ">
                                        Address
                                    </label>
                                </div>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7">
                                    @if (@emr.emp_address != "")
                                    {
                                        <span class="font-weight-normal1 text-uppercase text-left">@emr.emp_address&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label ">
                                        Phone
                                    </label>
                                </div>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7">
                                    @if (@emr.emp_tel != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_tel&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label ">
                                        Fax
                                    </label>
                                </div>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7">
                                    @if (@emr.emp_fax != "")
                                    {
                                        <span class="font-weight-normal1 text-uppercase text-left">@emr.emp_fax&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label ">
                                        Email
                                    </label>
                                </div>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7">
                                    @if (@emr.emp_email != "")
                                    {
                                        <span class="font-weight-normal1 text-uppercase text-left">@emr.emp_email&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <label class="form-label mb-2 text-danger">
                                    6. Medical information.
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-3">
                                <label class="text-black text-justify">
                                    Has Treatment Guarantee been obtained?
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-9 d-flex">
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="ali_1[9]" value="9" id="9">
                                    <span class="custom-control-label">Yes  </span>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="ali_1[9]" value="10" id="10">
                                    <span class="custom-control-label">No</span>
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-3">
                                <label class="text-black text-justify">
                                    Indicate type of Treatment received
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-9 d-flex">
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="ali_1[11]" value="11" id="11">
                                    <span class="custom-control-label">Elective</span>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="ali_1[11]" value="12" id="12">
                                    <span class="custom-control-label">Emergency</span>
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-3">
                                <label class="text-black text-justify">
                                    Indicate type of condition
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-9 d-flex">
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="ali_1[13]" value="13" id="13">
                                    <span class="custom-control-label">Acute </span>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="ali_1[13]" value="14" id="14">
                                    <span class="custom-control-label">Emergency</span>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="ali_1[13]" value="15" id="15">
                                    <span class="custom-control-label">Acute episode of chronic</span>
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 mt-2">
                                <label class="text-black text-justify">
                                    Please provide full details of medical condition requiring treatment, including ICD code/DSM-IV
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 mt-2">
                                <label class="text-black text-left">@Model.all_8&nbsp;</label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-5 mt-2">
                                <label class="text-black text-justify">
                                    On what date did the patient forst present these symptioms to you?
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2 mt-2">

                                <label class="text-black text-left">@Model.all_13&nbsp;</label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-5 mt-2">
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6 mt-2">
                                <label class="text-black text-justify">
                                    Prior to consulting you, When did the patient first notice signs of symptioms of the medical condition?
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2 mt-2">

                                <label class="text-black text-left">@Model.all_14&nbsp;</label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4">
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6 mt-2">
                                <label class="text-black text-justify">
                                    Are you aware of any treatment given for this or any related illness in the past?
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2 d-flex mt-2">
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="ali_1[16]" value="16" id="16">
                                    <span class="custom-control-label">Yes</span>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="ali_1[16]" value="17" id="17">
                                    <span class="custom-control-label">Acute episode of chronic</span>
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
                                <label class="text-black text-justify">
                                    If Yes, please provide details
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 mt-2">
                                <label class="text-black text-left">@Model.all_9&nbsp;</label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 mt-2">
                                <label class="text-red text-justify">
                                    Applicable to physiotherapy/psychotherapy claims only. Please provide full referral details
                                </label>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                                <div class="col-sm-12 col-md-6 col-lg-2 ps-0 mt-2">
                                    <label class="form-label ">
                                        Name of referring physician
                                    </label>
                                </div>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-3 mt-2">
                                    <label class="text-black text-left">@Model.all_10&nbsp;</label>
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                                <div class="col-sm-12 col-md-6 col-lg-2 ps-0 mt-2">
                                    <label class="form-label ">
                                        Telephone number
                                    </label>
                                </div>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-3 mt-2">
                                    <label class="text-black text-left">@Model.all_11&nbsp;</label>
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                                <div class="col-sm-12 col-md-6 col-lg-2 ps-0 mt-2">
                                    <label class="form-label ">
                                        Date of referral
                                    </label>
                                </div>
                                <div class="d-flex  justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-3 mt-2">
                                    <label class="text-black text-left">@Model.all_15&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 mt-2">
                                <label class="text-red text-justify">
                                    Applicable to dental treatment claims only
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6 mt-2">
                                <label class="text-black text-justify">
                                    Was the patient suffering from dental pain at the time he /she visited you for treatment?
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 d-flex mt-2">
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="ali_1[18]" value="18" id="18">
                                    <span class="custom-control-label">Yes</span>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="ali_1[18]" value="19" id="19">
                                    <span class="custom-control-label">No</span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 mt-2 ">
                                <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                                <label class="form-label mb-2 text-danger">
                                    Doctor signature
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 mt-2 ">
                                <span class="font-weight-normal1 text-uppercase text-left">@emr.app_fdate&nbsp;</span>
                                <label class="form-label mb-2 text-danger">
                                    Date
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 mt-2 ">
                                <p class="form-label text-justify">
                                    The conditionally of patient and member information is of paramount consern to Allianz Worldwide Care fully completes with European data protection logistiaion and international medical confidentialy with guideliness. You have a right to access the personal data that is held aby you. You also have the right to request that we amend or delete any information which you believe is inaccurate or out of date.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //#region Partial View Onload
        $(function () {
        GetCheckedValues("@Model.all_1");
        GetSignaturename('patient');
        });
    //#endregion

    //#region Print
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    //#endregion

    //#region Get CheckedValues
        var GetCheckedValues = function (checknames) {
            var str = checknames;
            var myarray = str.split(',');
            for (var i = 0; i < myarray.length; i++) {
                $('.custom-control-input').each(function () {
                    if (this.id == myarray[i]) {
                        $("#" +this.id).attr('checked', 'checked');
                        $("#" +this.id).prop("checked", true);
                    }
                });
            }
        }
    //#endregion

    //#region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=Allianz',
                    type: "GET",
                    dataType: "json",
                    async: false,
                success: function (response) {
                    console.log("fgxghszd");
                    console.log(response);
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_created).format("DD-MM-YYYY HH:mm");
                    if (response[0].person == "patient") {
                        $("#upatimg").show();
                        $("#upat_sign").attr("src", sign);
                        $("#upsb_date_witness").text(date);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
    //#endregion
</script>
