@model BusinessEntities.EMRForms.NASQIC
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    ViewBag.Title = "Print NASQIC Reimbursement Claim Form";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";

    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" onclick="printDiv('printDiv')" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>
<div class="row fs-14" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-center">
                    <img src="@Model.set_header_image" />
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-4 ">

                        <div class="row">
                            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                                <div>
                                    <h5 class="font-weight-bold ps-3">Details of Member/Patient</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group row">
                                                <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                                    <label class="col-md-4 form-label">Patient's Name</label>
                                                    <div class="d-flex  justify-content-center w-8  form-label">
                                                        :
                                                    </div>
                                                    <div class="col-md-6">
                                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                                    </div>
                                                </div>
                                                <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                                    <label class="col-md-4 form-label">Patient's Address</label>
                                                    <div class="d-flex  justify-content-center w-8  form-label">
                                                        :
                                                    </div>
                                                    <div class="col-md-6">
                                                        @if (@emr.pat_address != "")
                                                        {
                                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_address&nbsp;</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                                    <label class="col-md-4 form-label">Nationality</label>
                                                    <div class="d-flex  justify-content-center w-8  form-label">
                                                        :
                                                    </div>
                                                    <div class="col-md-6">
                                                        @if (@emr.pat_nationality != "")
                                                        {
                                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_nationality&nbsp;</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                        }
                                                    </div>
                                                </div>
                                                <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                                    <label class="col-md-4 form-label">Date Of Birth</label>
                                                    <div class="d-flex  justify-content-center w-8  form-label">
                                                        :
                                                    </div>
                                                    <div class="col-md-6">
                                                        @if (@emr.pat_dob != "")
                                                        {
                                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                                    <label class="col-md-4 form-label">
                                                        Employee Name
                                                    </label>
                                                    <div class="d-flex  justify-content-center w-8  form-label">
                                                        :
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="text-black text-left">@Model.nasq_1&nbsp;</label>
                                                    </div>
                                                </div>
                                                <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                                    <label class="col-md-4 form-label">Insurance Card No of the person who received treatment(it is diffrent for each number of the family</label>
                                                    <div class="d-flex  justify-content-center w-8  form-label">
                                                        :
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="text-black text-left">@Model.nasq_2&nbsp;</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                                    <label class="col-md-4 form-label">
                                                        Employee No/Staff ID
                                                    </label>
                                                    <div class="d-flex  justify-content-center w-8  form-label">
                                                        :
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="text-black text-left">@Model.nasq_4&nbsp;</label>
                                                    </div>
                                                </div>
                                                <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                                    <label class="col-md-4 form-label">Company Name of the Employee</label>
                                                    <div class="d-flex  justify-content-center w-8  form-label">
                                                        :
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="text-black text-left">@Model.nasq_5&nbsp;</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                                    <label class="col-md-4 form-label">Employee's Email address</label>
                                                    <div class="d-flex  justify-content-center w-8  form-label">
                                                        :
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="text-black text-left">@Model.nasq_6&nbsp;</label>
                                                    </div>
                                                </div>
                                                <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                                    <label class="col-md-4 form-label">
                                                        Employee's Tel number
                                                    </label>
                                                    <div class="d-flex  justify-content-center w-8  form-label">
                                                        :
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="text-black text-left">@Model.nasq_7&nbsp;</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <h5 class="font-weight-bold ps-3">
                                        Medical section (To be fully completed by patient s medical practitioner-all boxes must be completed in block capitals)
                                    </h5>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <label class="text-black col-sm-12 col-md-12 col-lg-12">
                                            Employee's Tel number
                                        </label>
                                        <div class="col-md-12 col-lg-12">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.doc_name&nbsp;</span>
                                        </div>
                                        <div class="col-md-12 col-lg-12">
                                            @if (@emr.emp_address != "")
                                            {
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_address&nbsp;</span>
                                            }
                                            else
                                            {
                                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                            }
                                        </div>
                                        <div class="col-md-12 col-lg-12">
                                            <p class="text-black text-justify">I declare that I am the patient's medical practitioner, and that the particulars given are to the best of my knowledge true and correct.</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <label class="text-black col-sm-12 col-md-12 col-lg-12">
                                            Date symptoms first noticed
                                        </label>
                                        <div class="col-md-12 col-lg-12">
                                            <label class="text-black text-left">@Model.nasq_d1&nbsp;</label>
                                        </div>
                                        <div class="col-md-12 col-lg-12">
                                            <label class="col-md-4 form-label">
                                                Physician s Signature and stamp
                                            </label>
                                        </div>
                                        <div class="col-md-12 col-lg-12">
                                            <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <label class="form-label ps-3">
                                            Diagnosis
                                        </label>
                                        <div class="col-md-12">
                                            <label class="text-black text-left">@Model.nasq_18&nbsp;</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <label class="form-label ps-3">
                                            Other insurer's details (If the treatment is accident-related or covered under another insurance policy please provide name of insurance company)
                                        </label>
                                        <div class="col-md-12">
                                            <label class="text-black text-left">@Model.nasq_8&nbsp;</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <h5 class="font-weight-bold ps-3">
                                            Patient's Section
                                        </h5>
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table id="tbl_1" class="table table-striped table-bordered text-nowrap" style="width: 50%; cursor: pointer;">
                                                    <thead>
                                                        <tr style="color: #fff !important; background-color: #808080; border-color: #3C457D; ">
                                                            <th class="border-bottom-0 font-weight-semibold text-white">Out Patient Treatment</th>
                                                            <th class="border-bottom-0 font-weight-semibold text-white">Claimed Amount and Currency</th>
                                                            <th class="border-bottom-0 font-weight-semibold text-white">In Patient Treatment</th>
                                                            <th class="border-bottom-0 font-weight-semibold text-white">Claimed Amount and Currency</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Consultation  </td>
                                                            <td>
                                                                <label class="text-black text-left">@Model.nasq_9&nbsp;</label>
                                                            </td>
                                                            <td>Hospital charges/ Room</td>
                                                            <td>
                                                                <label class="text-black text-left">@Model.nasq_10&nbsp;</label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Pharmacy</td>
                                                            <td>
                                                                <label class="text-black text-left">@Model.nasq_11&nbsp;</label>
                                                            </td>
                                                            <td>Surgery/Anesthesia/OT</td>
                                                            <td>
                                                                <label class="text-black text-left">@Model.nasq_12&nbsp;</label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Diagnostic/Lab/Others</td>
                                                            <td>
                                                                <label class="text-black text-left">@Model.nasq_13&nbsp;</label>
                                                            </td>
                                                            <td>Drugs/Labs/Others</td>
                                                            <td>
                                                                <label class="text-black text-left">@Model.nasq_14&nbsp;</label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Country of Treatment</td>
                                                            <td colspan="3">
                                                                <label class="text-black text-left">@Model.nasq_15&nbsp;</label>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>Total Claimed Amount and Claimed Currency</td>
                                                            <td colspan="3">
                                                                <label class="text-black text-left">@Model.nasq_16&nbsp;</label>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <h5 class="font-weight-bold ps-3">
                                        Patient's declaration and conset
                                    </h5>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <p class="form-label text-justify ps-3">
                                            I confirm I am the patient/patient s spouse or guardian (if patient under 16 years of age) and wish to claim benefits and declare that all the particulars given above are to the best of my knowledge true and correct. I hereby consent to and authorise the medical practitioner involved in the patient's care to discuss treatments detailes and discharge arrangements with NASQIC. I agree that a copy of this consent shall i have the validity of original
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <label class="col-md-4 form-label"> Signature of the Insured/Guardian:</label>
                                        <div class="col-md-4">
                                            <div class="form-group mb-3" style="display:none" id="upatimg"><img alt="Signature" src="" id="upat_sign" class="avatar avatar-xl bsquare" /></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <label class="col-md-2 form-label">Date:</label>
                                        <div class="col-md-6">
                                            <label class="form-label text-red text-left" id="upsb_date_witness" name="">&nbsp;</label>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <h5 class="font-weight-bold ps-3">
                                        GENERAL INSTRUSCTIONS
                                    </h5>
                                </div>
                                <div class="card-body pt-0">
                                    <ul class="list-style5 text-justify text-black">
                                        <li>Please read the form carefully and make sure to complete all important information. NASQIC cannot process any incomplete application (i.e. lacking information and documentation). For complete list of requirements refer to statement no. 3.</li>
                                        <li>Use a separate form for each Insured Member. Reimbursement Claim Forms can be obtained from your Insurance Company. If you have any questions regarding this form or any other aspects of your cover, please telephone NASQIC (+9712 6940800) or Toll Free 800 2311.</li>
                                        <li>
                                            <p class="font-weight-bold">
                                                Submit the following essential documents along with your duly filled Reimbursement Claim Form:
                                            </p>
                                            <ul>
                                                <li>
                                                    Copy of your Insurance Card
                                                </li>
                                                <li>
                                                    Itemized bill/invoices (especially for lab, pharmacy, dental treatment, radiology tests) with date clearly mentioned in handwritten invoices.
                                                </li>
                                                <li>
                                                    Receipts for the invoices clearly indicating the amount paid.
                                                </li>
                                                <li>
                                                    Original medication prescription given by the treating doctor
                                                </li>
                                                <li>
                                                    Investigation results/reports like laboratory test, x-ray, etc.
                                                </li>
                                                <li>
                                                    Medical report/ discharge summary stamped and signed by the doctor for hospitalization cases only
                                                </li>
                                                <li>
                                                    Copy of passport showing exit and re-entry to UAEor any other similar documents (e.g. e- gate) for treatment outside UAE only
                                                </li>
                                                <li>
                                                    Documents written in other languages are required to be translated to English or Arabic only
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            Please submit the completed documents:
                                            <label class="text-black text-left">@Model.nasq_17&nbsp;</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //#region Partial View Onload
    $(function () {
        GetSignaturename('patient');
        });
    //#endregion

    //#region Print
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    //#endregion

    //#region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=NASQIC',
                    type: "GET",
                    dataType: "json",
                    async: false,
                success: function (response) {
                    console.log("fgxghszd");
                    console.log(response);
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_created).format("DD-MM-YYYY HH:mm");
                    if (response[0].person == "patient") {
                        $("#upatimg").show();
                        $("#upat_sign").attr("src", sign);
                        $("#upsb_date_witness").text(date);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
    //#endregion


</script>
