

@model BusinessEntities.EMRForms.Healthnet
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    ViewBag.Title = "Print Healthnet Reimbursement Claim Form";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";

    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" onclick="printDiv('printDiv')" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>
<div class="row fs-14" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-center">
                    <img src="@Model.set_header_image" />
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 justify-content-center">
                        <h4 class="text-center">REIMBURSEMENT FORM FOR OUT OF NETWORK TREATMENT</h4>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p class="form-label mb-2 text-danger">
                            INSTRUCTIONS: Please read the following information carefully before filling the form
                        </p>
                        <p class="form-label mb-2 text-danger">
                            Please fill Section A of this form and request your doctor to fill up Section B.
                        </p>
                        <p class="form-label mb-2 text-danger">
                            Please attach the following supporting documents to your claim form:
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="card-body ps-5 pe-5">
                            <ul class="list-style4 text-justify text-black">
                                <li>Original Itemized Bills / Invoices</li>
                                <li>Original Payments Receipts / Credit Card Slips.</li>
                                <li>Original Prescriptions.</li>
                                <li>Original Discharge Summary</li>
                                <li>Copies of Laboratory and Radiology Reports </li>
                                <li>Copies of Operative Notes and Histopathology Report in case of surgery</li>
                                <li>Copy of Birth Certificate in case of Child Birth</li>
                                <li>Copy of Pre-authorization Letter from Health Net</li>
                                <li>Legal tranlsation of all documents in case originals are in any language other than Arabic or English</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p class="text-black text-justify">
                            Please send your claim within 90 days of your treatment date to Medical Claims Department at the following address:
                            National General Insurance Co., 5th Floor, NGI House, Port Saeed, Deira, P.O.Box 154, Dubai
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p class="text-black text-justify">
                            If You have any difficulty filling this form, Please contact our Customer Service Desk during office hours(08:00 a.m to 05:00 p.m except Friday & Saturday)
                            Telephone: +971 4 2115 800 or E-mail customerservice@ngiuae.com
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                        <div class="panel-heading bg-gray-lighter text-danger bold justify-content-center">Section - A: Policyholder's Details (to be completed by the insured)</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-3 form-label">1. HealthNet Policy / Card No</label>
                                        <div class="col-md-9">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pi_insno&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 form-label"> 2. Name of Policyholder</label>
                                        <div class="col-md-2">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                        </div>
                                        <label class="col-md-2 form-label"> Date of Birth</label>
                                        <div class="col-md-2">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                                        </div>
                                        <label class="col-md-1 form-label"> Gender</label>
                                        <div class="col-md-1">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_gender&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 form-label">3. Name of Employee (If different from Policyholder)</label>
                                        <div class="col-md-9">
                                            <label class="text-black text-left">@Model.chr_1&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 form-label">4. Patient's relationship to insured</label>
                                        <div class="col-sm-12 col-md-6 col-lg-2">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="chr_2[1]" value="1" id="1">
                                                <span class="custom-control-label">Self</span>
                                            </label>&nbsp;
                                        </div>
                                        <div class="col-sm-12 col-md-6 col-lg-2">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="chr_2[1]" value="2" id="2">
                                                <span class="custom-control-label">Spouse</span>
                                            </label>&nbsp;
                                        </div>
                                        <div class="col-sm-12 col-md-6 col-lg-2">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="chr_2[1]" value="3" id="3">
                                                <span class="custom-control-label">Dependent </span>
                                            </label>&nbsp;
                                        </div>
                                        <div class="col-sm-12 col-md-6 col-lg-2">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="chr_2[1]" value="4" id="4">
                                                <span class="custom-control-label">Child </span>
                                            </label>&nbsp;
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 form-label">5. Contact Numbers</label>
                                        <div class="col-md-3">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_mob&nbsp;</span>
                                        </div>
                                        <label class="col-md-1 form-label">Others</label>
                                        <div class="col-md-2">
                                            <label class="text-black text-left">@Model.chr_2&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 form-label">6. E-mail address</label>
                                        <div class="col-md-9">
                                            @if (@emr.pat_email != "")
                                            {
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_email&nbsp;</span>
                                            }
                                            else
                                            {
                                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                            }
                                        </div>
                                    </div>

                                    <div class="form-group row mb-0">
                                        <label class="col-md-3 form-label">7. Total Claimed Amount (in original currency)</label>
                                        <div class="col-md-9">
                                            <label class="text-black text-left">@Model.chr_amount&nbsp;</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="panel-heading bg-gray-lighter text-danger bold justify-content-center">Declaration / Authorization</div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
                        <p class="text-black text-justify">
                            I certify that all information contained in / provided with the claim form is complete and correct. I hereby authorize any doctor, hospital, clinic or medical provider,
                            any insurance company or any other organization or person who has medical record or information about me and / or of my family members (if covered under HealthNet Insurance Policy)
                            to furnish it to National General Insurance Co.(PSC). Any photocopy of this declaration / authorization shall be deemed as effective as the original.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group row">
                            <div class="form-group mb-3" style="display:none" id="upatimg"><img alt="Signature" src="" id="upat_sign" class="avatar avatar-xl bsquare" /></div>
                            <p class="text-black">Signature of Policyholder</p>
                            <p class="text-black">(Self & behalf of Family Member)</p>
                            <p class="text-black">Date:<span class="font-weight-normal1 text-capitalize text-left">@emr.today&nbsp;</span></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                        <div class="panel-heading bg-gray-lighter text-danger bold justify-content-center">Section - B: Patient's Details (to be completed by Treating Doctor)</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-3 form-label">Name of the Patient</label>
                                        <div class="col-md-3">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                        </div>
                                        <label class="col-md-3 form-label">Date of Birth</label>
                                        <div class="col-md-3">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 form-label">Name of the Treating Physician / Surgeon</label>
                                        <div class="col-md-3">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.doc_name&nbsp;</span>
                                        </div>
                                        <label class="col-md-3 form-label">Speciality</label>
                                        <div class="col-md-3">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_speciality&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 form-label"> Licence / Registration No</label>
                                        <div class="col-md-3">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_license&nbsp;</span>
                                        </div>
                                        <label class="col-md-3 form-label">Name & Address of Hospital / Clinic</label>
                                        <div class="col-md-3">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.set_company&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 form-label"> Telephone No</label>
                                        <div class="col-md-3">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.set_tel&nbsp;</span>
                                        </div>
                                        <label class="col-md-3 form-label">Email address</label>
                                        <div class="col-md-3">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.set_email&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 text-black">Are you patient's primary physician?</label>
                                        <div class="col-sm-12 col-md-6 col-lg-2">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="chr_2[2]" value="5" id="5">
                                                <span class="custom-control-label">Yes</span>
                                            </label>&nbsp;
                                        </div>
                                        <div class="col-sm-12 col-md-6 col-lg-2">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="chr_2[2]" value="6" id="6">
                                                <span class="custom-control-label">No</span>
                                            </label>&nbsp;
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 text-black"> Presenting Complaints</label>
                                        <div class="col-md-9">
                                            <label class="text-black text-red text-left" id="complaints" name="">&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 text-black">Duration of Symptoms</label>
                                        <div class="col-md-2">
                                            <label class="text-black text-left">@Model.chr_symptom&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 text-black">Onset of Condition</label>
                                        <div class="col-md-9">
                                            <label class="text-black text-left">@Model.chr_condition&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 text-black">Relevent Past Medical / Surgical History</label>
                                        <div class="col-md-9">
                                            <label class="text-black text-left">@Model.chr_history&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 text-black">Diagnosis</label>
                                        <div class="col-md-3">
                                            <label class="text-black text-red text-left" id="diag_names" name="">&nbsp;</label>
                                        </div>
                                        <label class="col-md-3 text-black">ICD Code</label>
                                        <div class="col-md-3">
                                            <label class="text-black text-red text-left" id="diag_codes" name="">&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 text-black">Etiology</label>
                                        <div class="col-md-9">
                                            <label class="text-black text-left">@Model.chr_etiology&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 text-black">Plan / Details of Managment</label>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <div class="card-body">
                                                <ul class="list-style3">
                                                    <li>
                                                        <div class="form-group row">
                                                            <label class="col-md-2 text-black">Procedure</label>
                                                            <div class="col-md-6">
                                                                <label class="text-black text-red text-left" id="pt_tr_name" name="">&nbsp;</label>
                                                            </div>
                                                            <label class="col-md-2 text-black">CPT Code</label>
                                                            <div class="col-md-2">
                                                                <label class="text-black text-red text-left" id="pt_tr_code" name="">&nbsp;</label>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-group row">
                                                            <label class="col-md-2 text-black">Laboratory Test</label>
                                                            <div class="col-md-10">
                                                                <label class="text-black text-red text-left" id="chr_lab" name="">&nbsp;</label>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="form-group row">
                                                            <label class="col-md-2 text-black">Radiology / Investigations</label>
                                                            <div class="col-md-10">
                                                                <label class="text-black text-red text-left" id="chr_radiology" name="">&nbsp;</label>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 form-label">In case of Hospitalization</label>
                                        <label class="col-md-2 text-black">Date of Admission:</label>
                                        <div class="col-md-2">
                                            <label class="text-black text-left">@Model.chr_date1&nbsp;</label>
                                        </div>
                                        <label class="col-md-2 text-black">	Date of Discharge:</label>
                                        <div class="col-md-2">
                                            <label class="text-black text-left">@Model.chr_date2&nbsp;</label>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group row">
                            <div class="form-group mb-3"><img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" /></div>
                            <p class="text-black">Signature & Seal of Treating Physician / Surgeon</p>
                            <p class="text-black">Date:<span class="font-weight-normal1 text-capitalize text-left">@emr.app_fdate&nbsp;</span></p>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="panel-heading bg-gray-lighter text-danger bold justify-content-center">Section - C For Office Use Only (to be completed by Claims Manager)</div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
                        <label class="mb-2 text-black">
                            Remarks
                        </label>
                        <label class="text-black text-left">@Model.chr_remarks&nbsp;</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group row">
                            <div class="form-group mb-3" style="display:none" id="uManagerimg"><img alt="Signature" src="" id="uManager_sign" class="avatar avatar-xl bsquare" /></div>
                            <p class="text-black">Claims Manager's Signature</p>
                            <p class="text-black">Date: <label class="form-label text-red text-left" id="upsb_date_Manager" name="">&nbsp;</label></p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group row">
                            <div class="form-group mb-3" style="display:none" id="uAuthorizedimg"><img alt="Signature" src="" id="uAuthorized_sign" class="avatar avatar-xl bsquare" /></div>
                            <p class="text-black">Authorized Signatory's Signature</p>
                            <p class="text-black">Date: <label class="form-label text-red text-left" id="upsb_date_Authorized" name="">&nbsp;</label></p>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <img src="@Model.set_footer_image" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //#region Partial View Onload
        $(function () {
            Get_EMRINFO();
            GetSignaturename('patient');
            GetSignaturename('Manager');
            GetSignaturename('Authorized');
            GetCheckedValues("@Model.chr_checkbox");
        });
    //#endregion

    //#region Get CheckedValues
        var GetCheckedValues = function (checknames) {
            var str = checknames;
            console.log(str);
            var myarray = str.split(',');
            for (var i = 0; i < myarray.length; i++) {
                $('.custom-control-input').each(function () {
                    if (this.id == myarray[i]) {

                        $("#" + this.id).attr('checked', 'checked');
                        $("#" + this.id).prop("checked", true);
                    }
                });
            }
        }
    //#endregion

    //#region Load Get Diagnosis,treatments,history,invoice
        var Get_EMRINFO = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetEmrInfo", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#chr_amount').text(response[0].inv_net);
                        $('#chr_history').text(response[0].past);
                        $('#pt_tr_code').text(response[0].pt_tr_code);
                        $('#pt_tr_name').text(response[0].pt_tr_name);
                        $('#diag_names').text(response[0].diag_names);
                        $('#diag_codes').text(response[0].diag_codes);
                        $('#complaints').text(response[0].complaints);
                        $('#chr_lab').text(response[0].chr_lab);
                        $('#chr_radiology').text(response[0].chr_radiology);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion

    //#region Print
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    //#endregion

    //#region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=Healthnet',
                    type: "GET",
                    dataType: "json",
                    async: false,
                success: function (response) {
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_created).format("DD-MM-YYYY HH:mm");
                    if (response[0].person == "patient") {
                        $("#upatimg").show();
                        $("#upat_sign").attr("src", sign);
                        $("#upsb_date_witness").text(date);
                    }
                    if (response[0].person == "Manager") {
                        $("#uManagerimg").show();
                        $("#uManager_sign").attr("src", sign);
                        $("#upsb_date_Manager").text(date);
                    }
                    if (response[0].person == "Authorized") {
                        $("#uAuthorizedimg").show();
                        $("#uAuthorized_sign").attr("src", sign);
                        $("#upsb_date_Authorized").text(date);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
    //#endregion

</script>
