@model BusinessEntities.EMRForms.Mapfre
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    ViewBag.Title = "Print Mapfre Reimbursement Claim Form";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";

    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" onclick="printDiv('printDiv')" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>
<div class="row fs-14" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-center">
                    <img src="@Model.set_header_image" />
                </div>
                <div class="card-header text-white font-weight-bold">
                    <h2 class="card-title">
                        Health Insurance Claim Form
                    </h2>
                </div>
                <div class="">
                    <h5 class="card-title text-red font-weight-bold">
                        IMPORTANT NOTES
                    </h5>
                    <p class="text-black text-justify">
                        A referral by your General Practitioner prior consultations with specialists, therapists and any diagnostic procedures is recommended,
                        except for consultations/treatment given by gynaecologists, paediatricians or ophthalmologists. You must always contact MAPFRE
                        Middlesea p.l.c. before receiving planned in-patient treatment, C.T./M.R.I. scan, to enable us to confirm eligibility and extent of cover.
                        Claims, together with original receipts, to be submitted within 3 months of initial date of treatment.
                    </p>
                </div>
                <!-- Row-->
                <div class="row">
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-title text-red font-weight-bold">1. INSURED/PATIENT’S DETAILS</h5>
                            </div>
                            <div class="card-body bg-gray-lightest">
                                <div class="form-horizontal">
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">
                                                Title
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                @if (@Model.mapr_1 != "")
                                                {
                                                    <label class="text-black text-left">@Model.mapr_1</label>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">
                                                (Sur)name of policyholder
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                @if (@Model.mapr_2 != "")
                                                {
                                                    <label class="text-black text-left">@Model.mapr_2</label>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                }
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">
                                                I.D. card no.
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                @if (@Model.mapr_3 != "")
                                                {
                                                    <label class="text-black text-left">@Model.mapr_3</label>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                }
                                            </div>
                                        </div>
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">Date of birth of policyholder</label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                @if (@Model.mapr_dd1 != "1-January-1950")
                                                {
                                                    <label class="text-black text-left">@Model.mapr_dd1</label>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">
                                                Title
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                @if (@Model.mapr_4 != "")
                                                {
                                                    <label class="text-black text-left">@Model.mapr_4</label>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">
                                                (Sur)name of policyholder
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                @if (@Model.mapr_5 != "")
                                                {
                                                    <label class="text-black text-left">@Model.mapr_5</label>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">
                                                I.D. card no.
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                @if (@Model.mapr_6 != "")
                                                {
                                                    <label class="text-black text-left">@Model.mapr_6</label>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                }
                                            </div>
                                        </div>
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">Date of birth of policyholder</label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                @if (@Model.mapr_dd2 != "1-January-1950")
                                                {
                                                    <label class="text-black text-left">@Model.mapr_dd2</label>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                }
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                                            <label class="col-md-2 form-label">
                                                Address
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-7">
                                                @if (@Model.mapr_7 != "")
                                                {
                                                    <label class="text-black text-left">@Model.mapr_7</label>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">
                                                Telephone
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                @if (@Model.mapr_8 != "")
                                                {
                                                    <label class="text-black text-left">@Model.mapr_8</label>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                }
                                            </div>
                                        </div>
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">	Policy no.</label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                @if (@Model.mapr_9 != "")
                                                {
                                                    <label class="text-black text-left">@Model.mapr_9</label>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                                            <label class="col-md-2 form-label">
                                                Email
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-7">
                                                @if (@Model.mapr_10 != "")
                                                {
                                                    <label class="text-black text-left">@Model.mapr_10</label>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header">
                                <h5 class="card-title text-red font-weight-bold">2. TO BE COMPLETED BY THE PATIENT/LEGAL GUARDIAN</h5>
                            </div>
                            <div class="card-body bg-gray-lightest">
                                <div class="form-horizontal">
                                    <div class="form-group row">
                                        <label class="col-md-4 form-label">
                                            Reason for seeking medical advice
                                        </label>
                                        <div class="col-md-8">
                                            @if (@Model.mapr_11 != "")
                                            {
                                                <label class="text-black text-left">@Model.mapr_11</label>
                                            }
                                            else
                                            {
                                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 form-label">
                                            Date of patient’s first visit to any doctor for this condition
                                        </label>
                                        <div class="col-md-8">
                                            @if (@Model.mapr_dd3 != "1-January-1950")
                                            {
                                                <label class="text-black text-left">@Model.mapr_dd3</label>
                                            }
                                            else
                                            {
                                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 form-label">
                                            Did treatment require in-patient treatment?
                                        </label>
                                        <div class="col-md-2">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="mapr_checkbox[1]" value="1" id="1">
                                                <span class="custom-control-label">Yes</span>
                                            </label>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="mapr_checkbox[1]" value="2" id="2">
                                                <span class="custom-control-label">No</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 form-label">
                                            If the answer is “YES” please advise:
                                        </label>
                                        <label class="col-md-2 form-label">
                                            Admission date:
                                        </label>

                                        <div class="col-md-2">
                                            @if (@Model.mapr_dd4 != "1-January-1950")
                                            {
                                                <label class="text-black text-left">@Model.mapr_dd4</label>
                                            }
                                            else
                                            {
                                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                            }
                                        </div>
                                        <label class="col-md-2 form-label">
                                            Discharge date:
                                        </label>
                                        <div class="col-md-2">
                                            @if (@Model.mapr_dd5 != "1-January-1950")
                                            {
                                                <label class="text-black text-left">@Model.mapr_dd5</label>
                                            }
                                            else
                                            {
                                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-12 form-label">
                                            Attach hospital certificate(s) (if applicable)
                                        </label>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 form-label">
                                            Are any of the costs recoverable from a third party?
                                        </label>
                                        <div class="col-md-2">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="mapr_checkbox[3]" value="3" id="3">
                                                <span class="custom-control-label">Yes</span>
                                            </label>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="mapr_checkbox[3]" value="4" id="4">
                                                <span class="custom-control-label">No</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">
                                            If “YES”, give details
                                        </label>
                                        <div class="col-md-12">
                                            <label class="text-black text-left">@Model.mapr_12</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-header">
                                <h5 class="card-title text-red font-weight-bold">3. TO BE COMPLETED BY A REGISTERED MEDICAL OR DENTAL PRACTITIONER</h5>
                            </div>
                            <div class="card-body bg-gray-lightest">
                                <div class="form-horizontal">
                                    <div class="form-group row">
                                        <label class="col-md-4 form-label">
                                            Name patient(s)
                                        </label>
                                        <div class="col-md-8">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 form-label">
                                            Details of the medical condition/symptoms
                                        </label>
                                        <div class="col-md-8">
                                            <label class="text-black text-left">@Model.mapr_13</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 form-label">
                                            Diagnosis
                                        </label>
                                        <div class="col-md-8">
                                            <label class="text-black text-left">@Model.mapr_14</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 form-label">
                                            Date of first consultation with the GP for this medical condition:
                                        </label>
                                        <div class="col-md-2">
                                            @if (@Model.mapr_dd6 != "1-January-1950")
                                            {
                                                <label class="text-black text-left">@Model.mapr_dd6</label>
                                            }
                                            else
                                            {
                                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 form-label">
                                            Treatment given
                                        </label>
                                        <div class="col-md-8">
                                            <label class="text-black text-left">@Model.mapr_15</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 form-label">
                                            Treatment recommended
                                        </label>
                                        <div class="col-md-8">
                                            <label class="text-black text-left">@Model.mapr_16</label>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-4 form-label">
                                            Does the patient require further treatment from a specialist?
                                        </label>
                                        <div class="col-md-2">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="mapr_checkbox[5]" value="5" id="5">
                                                <span class="custom-control-label">Yes</span>
                                            </label>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="mapr_checkbox[5]" value="6" id="6">
                                                <span class="custom-control-label">No</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 form-label">
                                            Date
                                        </label>
                                        <div class="col-md-2">
                                            @if (@Model.mapr_dd7 != "1-January-1950")
                                            {
                                                <label class="text-black text-left">@Model.mapr_dd7</label>
                                            }
                                            else
                                            {
                                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                            }
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">
                                            Signature of General Practitioner
                                        </label>
                                        <div class="col-md-12">
                                            <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header">
                                <h5 class="card-title text-red font-weight-bold">4. TO BE COMPLETED BY A SPECIALIST</h5>
                            </div>
                            <div class="card-body bg-gray-lightest">
                                <div class="form-horizontal">
                                    <div class="form-group row">
                                        <label class="col-md-4 form-label">
                                            Name patient(s)
                                        </label>
                                        <div class="col-md-8">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 form-label">
                                            Details of the medical condition/symptoms
                                        </label>
                                        <div class="col-md-8">
                                            <label class="text-black text-left">@Model.mapr_17</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 form-label">
                                            Diagnosis
                                        </label>
                                        <div class="col-md-8">
                                            <label class="text-black text-left">@Model.mapr_18</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 form-label">
                                            Treatment given
                                        </label>
                                        <div class="col-md-8">
                                            <label class="text-black text-left">@Model.mapr_19</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 form-label">
                                            Treatment recommended
                                        </label>
                                        <div class="col-md-8">
                                            <label class="text-black text-left">@Model.mapr_20</label>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-4 form-label">
                                            Does the patient require further treatment from a specialist?
                                        </label>
                                        <div class="col-md-2">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="mapr_checkbox[5]" value="7" id="7">
                                                <span class="custom-control-label">Yes</span>
                                            </label>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="mapr_checkbox[5]" value="8" id="8">
                                                <span class="custom-control-label">No</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 form-label">
                                            Date
                                        </label>
                                        <div class="col-md-2">
                                            <label class="text-black text-left">@Model.mapr_8</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">
                                            Signature of General Specialist
                                        </label>
                                        <div class="col-md-12">
                                            <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header">
                                <h5 class="card-title text-red font-weight-bold">DECLARATION</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-horizontal">
                                    <div class="form-group row">
                                        <p class="text-black text-justify">
                                            I authorise MAPFRE Middlesea p.l.c. to share information with others (including insurers and Insurance Associations) in order to prevent
                                            fraudulent claims. I declare that all the answers given and the statements made are true and correct. Furthermore I declare that I have not
                                            withheld any information relevant to the claim. I give explicit and unequivocal consent to MAPFRE Middlesea p.l.c. to seek any information
                                            from any doctor, surgeon, hospital, clinic, laboratory or persons that have records or knowledge of my health in order for the validity of
                                            the claims to be established.
                                        </p>
                                        <p class="text-black text-justify">
                                            I hereby authorise any doctor, surgeon, hospital, clinic, laboratory or persons that have records to provide full medical information
                                            concerning myself and my dependants.
                                        </p>
                                        <p class="text-black text-justify">
                                            I give consent to MAPFRE Middlesea p.l.c. to process my personal data supplied by myself or any person, body or entity in order to process,
                                            handle and settle the claim.
                                        </p>
                                        <p class="text-black text-justify">
                                            I authorise MAPFRE Middlesea p.l.c. to share information with others (including insurers and Insurance Associations) in order to prevent
                                            fraudulent claims. I declare that all the answers given and the statements made are true and correct. Furthermore I declare that I have not
                                            withheld any information relevant to the claim. I give explicit and unequivocal consent to MAPFRE Middlesea p.l.c. to seek any information
                                            from any doctor, surgeon, hospital, clinic, laboratory or persons that have records or knowledge of my health in order for the validity of
                                            the claims to be established
                                        </p>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-8">
                                            <div id="upatimg" class="col-md-3"><img alt="Signature" src="" id="upat_sign" class="avatar avatar-xxl bsquare" /></div>
                                            <label class="form-label">
                                                Patient’s signature (If the patient is under 18 years of age, then the legal guardian must sign):
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <div>
                                                <label class="form-label text-red text-left" id="upsb_date_witness" name="">&nbsp;</label>
                                            </div>
                                            <label class="form-label">
                                                Date
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="card-header">
                                <h5 class="card-title text-red font-weight-bold">DATA PROTECTION</h5>
                            </div>
                            <div class="card-body">
                                <div class="form-horizontal">
                                    <div class="form-group row">
                                        <p class="text-black text-justify">
                                            MAPFRE Middlesea p.l.c. is legally bound to follow the provisions of the Data Protection Act, 2001. MAPFRE Middlesea p.l.c. is registered
                                            with the Office of the Commissioner for Data Protection to process data in accordance with this Act. The Data Protection Policy of MAPFRE
                                            Middlesea p.l.c. is compliant with this Act, a copy of which is available on request.
                                        </p>
                                        <p class="text-black text-justify">
                                            MAPFRE Middlesea p.l.c. (C-5553) is authorised by the Malta Financial Services Authority to carry on both Long Term and General Business
                                            under the Insurance Business Act, 1998
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Row -->
                <div class="text-center">
                    <img src="@Model.set_footer_image" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //#region Partial View Onload
        $(function () {
        GetSignaturename('patient');
        GetCheckedValues("@Model.mapr_chk");
        });
    //#endregion  

    //#region Get CheckedValues
        var GetCheckedValues = function (checknames) {
            var str = checknames;
            console.log(str);
            var myarray = str.split(',');
            for (var i = 0; i < myarray.length; i++) {
                $('.custom-control-input').each(function () {
                    if (this.id == myarray[i]) {
                        $("#" + this.id).attr('checked', 'checked');
                        $("#" + this.id).prop("checked", true);
                    }
                });
            }
        }
    //#endregion

    //#region Print
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    //#endregion

    //#region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=Mapfre',
                    type: "GET",
                    dataType: "json",
                    async: false,
                success: function (response) {
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_created).format("DD-MM-YYYY HH:mm");
                    if (response[0].person == "patient") {
                        $("#upatimg").show();
                        $("#upat_sign").attr("src", sign);
                        $("#upsb_date_witness").text(date);
                        $("#upat_sign").removeClass("avatar avatar-xxl bsquare");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
    //#endregion

</script>
