

@model BusinessEntities.EMRForms.OmanInsurance
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    ViewBag.Title = "Print OmanInsurance Reimbursement Claim Form";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";

    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">

        <button id="btnPrint" type="button" onclick="printDiv('printDiv')" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>
<div class="row fs-14" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="col-lg-12 col-md-12 text-right">
                    <img src="~/images/Reimbursement_Forms/oman1.png" />
                </div>
                <div class="col-lg-12 col-md-12 text-center">
                    <h1>Reimbursement Claim Form</h1>
                    <h2 class="text-blue">Healthcare Insurance</h2>
                </div>
                <div class="col-lg-12 col-md-12 text-center">
                    <p class="text-justify text-black">
                        One Claim Form per person, family members must apply individually. Please refer to page 2 for instructions on how to fill the form. For the required supporting documentation, use the attached Summary Table as cover sheet. Before you submit, check your Table of Benefits in your policy document for exclusions to avoid rejections. Please submit the form within 30 days of treatment to ensure timely processing. Only original claim forms will be accepted as each form carries a unique form number. To download a form, please visit our website www.tameen.ae
                    </p>
                </div>
                <!-- Row-->
                <div class="row">
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header bg-teal text-white">
                                <h4 class="card-title">1. Claimant Details</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-horizontal">
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">
                                                Claimant Name
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <label class="text-black text-left">@Model.corn_1</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">
                                                Card Number
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <label class="text-black text-left">@Model.corn_2</label>
                                            </div>
                                        </div>
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">Mobile No.</label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <label class="text-black text-left">@Model.corn_3</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">
                                                Email Address
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <label class="text-black text-left">@Model.corn_4</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header bg-teal text-white">
                                <h4 class="card-title">2. Principal Member Bank Details (in case not provided already or needs to be updated)</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-horizontal">
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">
                                                Account Name
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <label class="text-black text-left">@Model.corn_5</label>
                                            </div>
                                        </div>
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">
                                                Bank A/C # :
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <label class="text-black text-left">@Model.corn_6</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">
                                                Bank Name
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <label class="text-black text-left">@Model.corn_7</label>
                                            </div>
                                        </div>
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">Branch</label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <label class="text-black text-left">@Model.corn_8</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">
                                                IBAN (23 digits)
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <label class="text-black text-left">@Model.corn_9</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header bg-teal text-white">
                                <h4 class="card-title">3. Claim Details</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-horizontal">
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">
                                                Is the claim in UAE?
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-2">
                                                <label class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" name="car_checkbox[1]" value="1" id="1">
                                                    <span class="custom-control-label">Yes</span>
                                                </label>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" name="car_checkbox[1]" value="2" id="2">
                                                    <span class="custom-control-label">No</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">
                                                If No, precise Country
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <label class="text-black text-left">@Model.corn_10</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">
                                                Name of Hospital/Dr.
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <label class="text-black text-left">@Model.corn_11</label>
                                            </div>
                                        </div>
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">Mobile No.</label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <label class="text-black text-left">@Model.corn_12</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">
                                                Date of Treatment
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-3">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <i class="fe fe-calendar"></i>
                                                        </div>
                                                    </div>
                                                    <label class="text-black text-left">@Model.corn_13</label>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">
                                                Number of Invoices
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <label class="text-black text-left">@Model.corn_14</label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                                <label class="col-md-4 form-label">
                                                    Total Amount Claimed
                                                </label>
                                                <div class="d-flex  justify-content-center w-8  form-label">
                                                    :
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="text-black text-left">@Model.corn_15</label>
                                                </div>
                                            </div>
                                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                                <label class="col-md-4 form-label">
                                                    Currency
                                                </label>
                                                <div class="d-flex  justify-content-center w-8  form-label">
                                                    :
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="text-black text-left">@Model.corn_16</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <p>For breakdown of Total Amount Claimed, use attached summary table cover sheet to tabulate entries in chronological order.</p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header bg-teal text-white">
                                <h4 class="card-title">4. Medical Details – to be completed by the treating Doctor</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-horizontal">
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">
                                                Is it work related?
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-2">
                                                <label class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" name="car_checkbox[3]" value="3" id="3">
                                                    <span class="custom-control-label">Yes</span>
                                                </label>
                                            </div>
                                            <div class="col-md-2">
                                                <label class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" name="car_checkbox[3]" value="4" id="4">
                                                    <span class="custom-control-label">No</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">
                                                If Yes, specify
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <label class="text-black text-left">@Model.corn_17</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 form-label">
                                            Treatment Type
                                        </label>
                                        <div class="col-md-2">
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="corn_check" value="5" id="5">
                                                    <span class="custom-control-label">In-Patient</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="corn_check" value="6" id="6">
                                                    <span class="custom-control-label">Out-Patient </span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="corn_check" value="7" id="7">
                                                    <span class="custom-control-label">Day Care</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="text-black">Chief Complaint </label>
                                        <div>
                                            <label class="text-black text-red text-left" id="complaints" name="">&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="text-black">Diagnosis</label>
                                        <div>
                                            <label class="text-black text-red text-left" id="diagnosis" name="">&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="text-black">Treatment Details</label>
                                        <div>
                                            <label class="text-black text-red text-left" id="treatments" name="">&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p class="text-black text-justify">l, the undersigned treating doctor, hereby declare I have attended to this patient and the particulars provided are correct and accurate to the best of my knowledge</p>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                            <div> <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" /></div>
                                            <label class="text-black">
                                                Signature & Stamp
                                            </label>
                                        </div>
                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                            <div><span class="font-weight-normal1 text-capitalize text-left">@emr.app_fdate&nbsp;</span></div>
                                            <label class="text-black">
                                                Date
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header bg-teal text-white">
                                <h4 class="card-title">5. Claimant’s Declaration & Authorization</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-horizontal">
                                    <div class="form-group">
                                        <p class="text-black text-justify">
                                            I confirm that all particulars filled are true, accurate and complete. I hereby authorize (i) the medical provider/other entities to provide & discuss health/treatment details with Oman Insurance Company (‘Insurer’) and/or its third party administrator (ii) the Insurer to (a) disclose my personal/claim information for claim processing or as may be required (b) to use alternate claim payout option if required (iii) contact me for claim/other products information. I understand that (i) any person, who intentionally conceals, makes false or misleading statement to obtain claim reimbursement, is subject to penalization and legal action (ii) acceptance of claim form does not constitute acceptance of liability by the Insurer (iii) my claim is subject to terms and conditions of my policy. This authorization shall remain valid notwithstanding death or incapacity. A photocopy or facsimile copy of this authorization shall be as valid as the original.
                                        </p>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12 col-md-4 col-lg-4">
                                            <div>
                                                <label class="text-black text-left">@Model.corn_18</label>
                                            </div>
                                            <label class="text-black">
                                                Claimant Name
                                            </label>
                                        </div>
                                        <div class="col-sm-12 col-md-4 col-lg-4">
                                            <div><div class="form-group mb-3" style="display:none" id="upatimg"><img alt="Signature" src="" id="upat_sign" class="avatar avatar-xl bsquare" /></div></div>
                                            <label class="text-black">
                                                Signature
                                            </label>
                                        </div>
                                        <div class="col-sm-12 col-md-4 col-lg-4">
                                            <div>   <label class="form-label text-red text-left" id="upsb_date_witness" name="">&nbsp;</label></div>
                                            <label class="text-black">
                                                Date
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header">
                                <h2 class=" text-azure font-weight-bold">How to Complete the Form</h2>
                            </div>
                            <div class="card-body">
                                <div class="form-horizontal">
                                    <div class="form-group row">
                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                            <p class="text-black text-justify">
                                                One Claim Form per person, family members must apply individually.
                                                For the required supporting documentation, use the attached Summary
                                                Table as cover sheet. Before you submit, check your Table of Benefits in
                                                your policy document for exclusions to avoid rejections.
                                            </p>
                                            <p class="text-black text-justify">
                                                Please submit the form within 120 days of treatment to ensure timely
                                                processing. Both you and the attending doctor must fill in the claim form
                                                for each individual visit or course of treatment. Please look at the below
                                                definitions to understand who is Principal member, Dependant and
                                                Claimant.
                                            </p>
                                            <p class="text-black text-justify mt-4"><span class="text-azure font-weight-bold">Principal Member</span> is the insured employee under the policy. </p>
                                            <p class="text-black text-justify"><span class="text-azure font-weight-bold">Dependant</span> refers to Principal Member’s spouse or children.</p>
                                            <p class="text-black text-justify"><span class="text-azure font-weight-bold">PClaimant</span> is the person undertaking the treatment. </p>
                                            <p class="text-black text-justify mt-4 text-azure "><span class="font-weight-bold">Principal Member:</span> Please fill section 2</p>
                                            <ul class="list-style">
                                                <li class="text-black text-justify">
                                                    Enter the bank details including the IBAN of the account where we
                                                    can transfer the settled claim amount for you or your dependant.
                                                    You don’t need to enter the details here in case you update them on OICare portal. In case the IBAN is
                                                    not provided, we will issue a cheque which will take 10 additional days.
                                                </li>
                                            </ul>
                                            <p class="text-black text-justify mt-4 text-azure "><span class="font-weight-bold">Claimant:</span> Please fill section 1, 3 & 5</p>

                                            <ul class="list-style">
                                                <li class="text-black text-justify">
                                                    Fill in your name and card number. Give us your contact details so we can keep you informed on the
                                                    progress of your claim by SMS or e-mail.
                                                </li>
                                                <li class="text-black text-justify">
                                                    Include the breakdown of expenses that need reimbursement.
                                                    Complete the summary table on the next page giving the full required details. Each invoice detail should
                                                    be on a separate line.
                                                </li>
                                                <li class="text-black text-justify">Read the Declaration section carefully and remember to sign and date the form.</li>
                                            </ul>
                                            <p class="text-black text-justify mt-4 text-azure "><span class="font-weight-bold">Doctor: </span> Please fill section 4</p>

                                            <ul class="list-style">
                                                <li class="text-black text-justify">
                                                    Please ensure that the doctor completes each question of the Medical section in full and then signs and
                                                    stamps it.
                                                </li>
                                            </ul>

                                        </div>
                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                            <img src="~/images/Reimbursement_Forms/oman2.png" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <h4 class=" text-azure font-weight-bold">Claim Submission</h4>
                                        <div class="table-responsive" style="min-height:150px">
                                            <table id="tbl_Treatment" class="table table-striped table-bordered text-nowrap" style="width: 60%; cursor: pointer;">
                                                <tbody>
                                                    <tr style="border-color: #06c0d9;">
                                                        <td>
                                                            <span class="text-azure font-weight-bold">Send your claim to:</span>
                                                        </td>
                                                        <td>
                                                            Medical Claims Department<br />
                                                            Oman Insurance Company<br />
                                                            Level 3, Al Rigga Business Centre,<br />
                                                            Al Rigga Street, Deira<br />
                                                            PO 5209, Dubai, UAE<br />
                                                            Tel: +971 4 230 2700
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p class="text-black text-justify mt-4 text-azure "><span class="font-weight-bold">Claim Processing</span></p>
                                        <p class="text-black text-justify">
                                            Your claim will be assessed in full confidentiality by one of our personal advisers. If OIC has received all
                                            required documents and information, you will receive within 21 working days the reimbursement in UAE Dirham
                                            along with a claim report and explanations in the case of declined amounts.
                                        </p>
                                        <p class="text-black text-justify">
                                            It is preferable and recommended for the reimbursement claim form to be submitted within thirty (30) days of
                                            the original claim knowing that claims submitted after ninety (90) days of treatment shall not be accepted.
                                        </p>
                                    </div>
                                    <div class="form-group row">
                                        <h4 class=" text-azure font-weight-bold">Claim Submission</h4>
                                        <div class="table-responsive" style="min-height:150px">
                                            <table id="tbl_Treatment" class="table table-striped table-bordered text-nowrap" style="width: 60%; cursor: pointer;">
                                                <tbody>
                                                    <tr style="border-color: #06c0d9;">
                                                        <td>
                                                            <span class="text-azure font-weight-bold">
                                                                If you have any enquiries,
                                                                contact us on:
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <h2 class="font-weight-bold text-azure ">800 4746</h2>
                                                            UAE Toll Free 8am till 8pm Sunday to Thursday, 8am till 4pm on Saturday<br />
                                                            Fax: +971 (0) 4 238 4769<br />
                                                            service@tameen.ae
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="table-responsive">
                                            <table id="tbl_Treatment" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                                                <thead>
                                                    <tr style="color: #fff !important; background-color: #06c0d9; border-color: #3C457D; ">
                                                        <th class="border-bottom-0 font-weight-semibold text-white">Sequence Number</th>
                                                        <th class="border-bottom-0 font-weight-semibold text-white">Service Date</th>
                                                        <th class="border-bottom-0 font-weight-semibold text-white">Provider Name</th>
                                                        <th class="border-bottom-0 font-weight-semibold text-white">Service Description</th>
                                                        <th class="border-bottom-0 font-weight-semibold text-white">Invoice ref. Number</th>
                                                        <th class="border-bottom-0 font-weight-semibold text-white">Invoice ref. Number</th>
                                                        <th class="border-bottom-0 font-weight-semibold text-white">Invoice ref. Number</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><label class="text-black text-left">@Model.corn_19</label></td>
                                                        <td><label class="text-black text-left">@Model.corn_20</label></td>
                                                        <td><label class="text-black text-left">@Model.corn_21</label></td>
                                                        <td><label class="text-black text-left">@Model.corn_22</label></td>
                                                        <td><label class="text-black text-left">@Model.corn_23</label></td>
                                                        <td><label class="text-black text-left">@Model.corn_24</label></td>
                                                        <td><label class="text-black text-left">@Model.corn_25</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td> <label class="text-black text-left">@Model.corn_26</label></td>
                                                        <td> <label class="text-black text-left">@Model.corn_27</label></td>
                                                        <td> <label class="text-black text-left">@Model.corn_28</label></td>
                                                        <td> <label class="text-black text-left">@Model.corn_29</label></td>
                                                        <td> <label class="text-black text-left">@Model.corn_30</label></td>
                                                        <td> <label class="text-black text-left">@Model.corn_31</label></td>
                                                        <td> <label class="text-black text-left">@Model.corn_32</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td> <label class="text-black text-left">@Model.corn_33</label></td>
                                                        <td> <label class="text-black text-left">@Model.corn_34</label></td>
                                                        <td> <label class="text-black text-left">@Model.corn_35</label></td>
                                                        <td> <label class="text-black text-left">@Model.corn_36</label></td>
                                                        <td> <label class="text-black text-left">@Model.corn_37</label></td>
                                                        <td> <label class="text-black text-left">@Model.corn_38</label></td>
                                                        <td> <label class="text-black text-left">@Model.corn_39</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td> <label class="text-black text-left">@Model.corn_40</label></td>
                                                        <td> <label class="text-black text-left">@Model.corn_41</label></td>
                                                        <td> <label class="text-black text-left">@Model.corn_42</label></td>
                                                        <td> <label class="text-black text-left">@Model.corn_43</label></td>
                                                        <td> <label class="text-black text-left">@Model.corn_44</label></td>
                                                        <td> <label class="text-black text-left">@Model.corn_45</label></td>
                                                        <td> <label class="text-black text-left">@Model.corn_46</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td> <label class="text-black text-left">@Model.corn_47</label></td>
                                                        <td> <label class="text-black text-left">@Model.corn_48</label></td>
                                                        <td> <label class="text-black text-left">@Model.corn_49</label></td>
                                                        <td> <label class="text-black text-left">@Model.corn_50</label></td>
                                                        <td> <label class="text-black text-left">@Model.corn_51</label></td>
                                                        <td> <label class="text-black text-left">@Model.corn_52</label></td>
                                                        <td> <label class="text-black text-left">@Model.corn_53</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td><label class="text-black text-left">@Model.corn_54</label></td>
                                                        <td><label class="text-black text-left">@Model.corn_55</label></td>
                                                        <td><label class="text-black text-left">@Model.corn_56</label></td>
                                                        <td><label class="text-black text-left">@Model.corn_57</label></td>
                                                        <td><label class="text-black text-left">@Model.corn_58</label></td>
                                                        <td><label class="text-black text-left">@Model.corn_59</label></td>
                                                        <td><label class="text-black text-left">@Model.corn_60</label></td>
                                                    </tr>
                                                    <tr>
                                                        <td><label class="text-black text-left">@Model.corn_61</label></td>
                                                        <td><label class="text-black text-left">@Model.corn_62</label></td>
                                                        <td><label class="text-black text-left">@Model.corn_63</label></td>
                                                        <td><label class="text-black text-left">@Model.corn_64</label></td>
                                                        <td><label class="text-black text-left">@Model.corn_65</label></td>
                                                        <td><label class="text-black text-left">@Model.corn_66</label></td>
                                                        <td><label class="text-black text-left">@Model.corn_67</label></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p class="text-black text-justify">
                                            In case you have more invoices to send, please photocopy this sheet.
                                        </p>
                                        <p class="text-black text-justify">
                                            It is preferable and recommended for the reimbursement claim form to be submitted within thirty (30) days of
                                            the original claim knowing that claims submitted after ninety (90) days of treatment shall not be accepted.
                                        </p>
                                    </div>
                                    <div class="form-group row">
                                        <div class="table-responsive">
                                            <table id="tbl_Treatment" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                                                <thead>
                                                    <tr style="color: #fff !important; background-color: #06c0d9; border-color: #3C457D; ">
                                                        <th class="border-bottom-0 font-weight-semibold text-white">Checklist - Before you submit, please check that you have included all of the following as applicable:</th>
                                                        <th class="border-bottom-0 font-weight-semibold text-white"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1. Completed, stamped and signed Reimbursement Claim Form	</td>
                                                        <td>
                                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                                    <input type="checkbox" class="custom-control-input" name="corn_check" value="8" id="8">
                                                                    <span class="custom-control-label"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2. Original invoices/bills showing payments confirmation	</td>
                                                        <td>
                                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                                    <input type="checkbox" class="custom-control-input" name="corn_check" value="9" id="9">
                                                                    <span class="custom-control-label"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3. Original invoices/bills showing payments confirmation	</td>
                                                        <td>
                                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                                    <input type="checkbox" class="custom-control-input" name="corn_check" value="10" id="10">
                                                                    <span class="custom-control-label"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>4. All claims submitted must be in original & translated to either English or Arabic for the settlemen	</td>
                                                        <td>
                                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                                    <input type="checkbox" class="custom-control-input" name="corn_check" value="11" id="11">
                                                                    <span class="custom-control-label"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>5. Healthcare Insurance card copy of the claimant	</td>
                                                        <td>
                                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                                    <input type="checkbox" class="custom-control-input" name="corn_check" value="12" id="12">
                                                                    <span class="custom-control-label"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>6. Summary Table of Invoices (above) completed	</td>
                                                        <td>
                                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                                    <input type="checkbox" class="custom-control-input" name="corn_check" value="13" id="13">
                                                                    <span class="custom-control-label"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>7. You have retained a copy of the Form, Summary Table and original invoices and report for your reference	</td>
                                                        <td>
                                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                                    <input type="checkbox" class="custom-control-input" name="corn_check" value="14" id="14">
                                                                    <span class="custom-control-label"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="card-header bg-teal text-white">
                                        <h4 class="card-title">1. Claimant Details</h4>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <label class="text-black">Member Name</label>
                                            <div><label class="text-black text-left">@Model.corn_15</label></div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="text-black">Signature </label>
                                            <div><div class="form-group mb-10" style="display:none" id="upatimg1"><img alt="Signature" src="" id="upat_sign1" class="avatar avatar-xl bsquare" /></div></div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="text-black">Date</label>
                                            <div><label class="form-label text-red text-left" style="display:none" id="upsb_date_witness1" name="">&nbsp;</label></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <p class="text-black text-justify text-center">
                                            Oman Insurance Company (P.S.C.), Paid up Capital 461,872,125, C.R. No. 41952, Insurance Authority No. 9 dated 24/12/1984<br />
                                            Head Office: P.O. Box 5209, Dubai, United Arab Emirates. Tel.: 800 4746 Fax: +971 4 233 7775, www.tameen.ae
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Row -->
                <div class="text-center">
                    <img src="@Model.set_footer_image" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //#region Partial View Onload
        $(function () {
            Get_EMRINFO();
            GetSignaturename('patient');
            GetCheckedValues("@Model.corn_checkbox");
        });
    //#endregion

    //#region Load Get Diagnosis,treatments,history,invoice
         var Get_EMRINFO = function () {
             $.ajax({
                 type: "GET",
                 url: "@Url.Action("GetEmrInfo", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                 success: function (response) {
                     if (response.length > 0) {
                         $('#complaints').text(response[0].complaints);
                         $('#diagnosis').text(response[0].diagnosis);
                         $('#treatments').text(response[0].treatments);
                     }
                 },
                 error: function (xhr) {
                     console.log(xhr);
                 }
             })
         }
     //#endregion

    //#region Get CheckedValues
        var GetCheckedValues = function (checknames) {
            var str = checknames;
            console.log(str);
            var myarray = str.split(',');
            for (var i = 0; i < myarray.length; i++) {
                $('.custom-control-input').each(function () {
                    if (this.id == myarray[i]) {
                        $("#" + this.id).attr('checked', 'checked');
                        $("#" + this.id).prop("checked", true);
                    }
                });
            }
        }
    //#endregion

    //#region Print
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    //#endregion

    //#region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=OmanInsurance',
                    type: "GET",
                    dataType: "json",
                    async: false,
                    success: function (response) {
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_created).format("DD-MM-YYYY HH:mm");
                        if (response[0].person == "patient") {
                        console.log("ssssssssssssssssssssssrrrrrrrrrrrrrr");
                        $("#upatimg").show();
                        $("#upatimg1").show();
                        $("#upat_sign").attr("src", sign);
                        $("#upat_sign1").attr("src", sign);
                        $("#upsb_date_witness").text(date);
                        $("#upsb_date_witness1").text(date);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
    //#endregion

</script>

<style>
    .outer-border {
        border: 2px solid #000; /* You can adjust the border thickness and color as needed */
        padding: 10px; /* Optional: Add padding for spacing */
    }
</style>