
@model BusinessEntities.EMRForms.Dubaicare
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    ViewBag.Title = "Print Dubaicare Reimbursement Claim Form";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";

    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" onclick="printDiv('printDiv')" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>
<div class="row fs-14" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-center">
                    <img src="@Model.set_header_image" />
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <label class="form-label text-center ">
                            REIMBURSEMENT FORM
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                        <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                            <label class="form-label ">
                                Patient Name
                            </label>
                        </div>
                        <div class="d-flex  justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-7">
                            @if (@emr.pat_name != "")
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                            }
                            else
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                            }
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                        <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                            <label class="form-label ">
                                Healthcare Provider
                            </label>
                        </div>
                        <div class="d-flex  justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-7">
                            @if (@emr.set_company != "")
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">@emr.set_company&nbsp;</span>
                            }
                            else
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                            }
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                        <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                            <label class="form-label ">
                                Telephone no
                            </label>
                        </div>
                        <div class="d-flex  justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-7">
                            @if (@emr.pat_mob != "")
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_mob&nbsp;</span>
                            }
                            else
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                            }
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                        <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                            <label class="form-label ">
                                Date of service
                            </label>
                        </div>
                        <div class="d-flex  justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-7">
                            @if (@emr.app_fdate != "")
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">@emr.app_fdate&nbsp;</span>
                            }
                            else
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                            }
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                        <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                            <label class="form-label ">
                                DOB
                            </label>
                        </div>
                        <div class="d-flex  justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-7">
                            @if (@emr.pat_dob != "")
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                            }
                            else
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                            }
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                        <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                            <label class="form-label ">
                                Gender
                            </label>
                        </div>
                        <div class="d-flex  justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-7">
                            @if (@emr.pat_gender != "")
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_gender&nbsp;</span>
                            }
                            else
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                            }
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                        <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                            <label class="form-label ">
                                Membership Number
                            </label>
                        </div>
                        <div class="d-flex  justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-7">
                            @if (@emr.pi_insno != "")
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pi_insno&nbsp;</span>
                            }
                            else
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <label class="form-label mb-2 text-danger">
                            Medical Section
                        </label>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <label class="form-label text-black">
                            Symptoms & Diagnosis
                        </label>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <label class="form-label text-red text-left" id="pat_Diagnosis" name="">&nbsp;</label>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <label class="form-label text-black">
                            Details of Physical findings
                        </label>
                    </div>
                    <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                        <div class="col-sm-11 col-md-6 col-lg-2">
                            <label class="text-black">
                                BP&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <label class="form-label text-red text-left" id="sign_bp" name="">&nbsp;</label>
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                        <div class="col-sm-11 col-md-6 col-lg-2">
                            <label class="text-black">
                                Temp&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <label class="form-label text-red text-left" id="sign_temp" name="">&nbsp;</label>
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                        <div class="col-sm-11 col-md-6 col-lg-2">
                            <label class="text-black">
                                Pulse&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <label class="form-label text-red text-left" id="sign_pulse" name="">&nbsp;</label>
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                        <div class="col-sm-11 col-md-6 col-lg-2">
                            <label class="text-black">
                                Notes&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <label class="form-label text-red text-left" id="sign_notes" name="">&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 mt-2">
                        <label class="form-label text-black">
                            Details of Investigations done
                        </label>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <label class="text-black text-left">@Model.cdr_invest&nbsp;</label>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 mt-2">
                        <label class="form-label text-black">
                            Details of Treatments  done
                        </label>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <label class="form-label text-red text-left" id="treat_details" name="">&nbsp;</label>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 mt-2">
                        <label class="text-black">
                            Itemised original Receipts and applicable prescriptions /reports/results must be enclosed to consider the claim.
                        </label>
                    </div>
                    <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2 ">
                        <div class="col-sm-11 col-md-6 col-lg-4 ps-0">
                            <label class="text-black">
                                Medical Practitioner's Name&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            @if (@emr.doc_name != "")
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">@emr.doc_name&nbsp;</span>
                            }
                            else
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                            }
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2">
                        <div class="col-sm-11 col-md-6 col-lg-4 ps-0">
                            <label class="text-black">
                                Address&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            @if (@emr.emp_address != "")
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_address&nbsp;</span>
                            }
                            else
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                            }
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                        <div class="col-sm-11 col-md-6 col-lg-4 ps-0">
                            <label class="text-black">
                                Telephone&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            @if (@emr.emp_tel != "")
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_tel&nbsp;</span>
                            }
                            else
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                            }
                        </div>
                    </div>
                    <div class="col-sm-11 col-md-12 col-lg-12 mt-2">
                        <label class="text-black">
                            I declare that I am the patient's medical practitioner, and that the particulars given are to the best of my knowledge true and correct
                        </label>
                    </div>
                    <div class="col-sm-11 col-md-6 col-lg-6 mt-2">
                        <label class="form-label text-black">
                            Sign & Stamp&nbsp;
                        </label>
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </div>
                    <div class="col-sm-11 col-md-6 col-lg-6 mt-2">
                        <label class=" form-label text-black">
                            Date&nbsp;
                        </label>
                        <span class="font-weight-normal1 text-capitalize text-left">@emr.app_fdate&nbsp;</span>
                    </div>


                </div>
                <div class="row ">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <label class="form-label mb-2 text-danger">
                            Patient's declaration & consent
                        </label>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <p class="text-black text-justify">
                            I confirm that I am the patient/ patient's parent or guardian and wish to claim benefits, and declare that all the particulars given above are to the
                            best of my knowledge true and correct. I hereby consent to and authorize the medical practitioner involved in the patient's care to discuss treatment
                            details and discharge arrangements with and to DubaiCare. I agree that a copy of this consent shall have the validity of the original
                        </p>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="form-group mb-3" style="display:none" id="upatimg"><img alt="Signature" src="" id="upat_sign" class="avatar avatar-xl bsquare" /></div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <label class="form-label text-red text-left" id="upsb_date_witness" name="">&nbsp;</label>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <label class="form-label mb-2 text-danger">
                            Patient's Signature
                        </label>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <label class="form-label mb-2 text-danger">
                            Date
                        </label>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-12 col-md-12 col-lg-12 mt-2">
                        <label class="form-label text-black text-center">
                            DubaiCare, P.O. Box 3027 Dubai – UAE Toll Free: 800 3 82467.
                        </label>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <label class="form-label text-black text-center">
                            For any enquiry please call from 08.00 am to 17.00 pm (Sunday to Thursday)
                        </label>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 mt-2">
                        <label class="form-label text-black text-left">
                            For Bank transfers, please furnish below details
                        </label>
                    </div>
                    <div class="d-flex col-sm-12 col-md-12 col-lg-12 mt-2">
                        <div class="col-sm-11 col-md-6 col-lg-2 ps-0">
                            <label class="text-black">
                                Beneficiary Name&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <label class="text-black text-left">@Model.cdr_name&nbsp;</label>
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-12 col-lg-12 mt-2">
                        <div class="col-sm-11 col-md-6 col-lg-2 ps-0">
                            <label class="text-black">
                                Beneficiary Address&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <label class="text-black text-left">@Model.cdr_address&nbsp;</label>
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-12 col-lg-12 mt-2">
                        <div class="col-sm-11 col-md-6 col-lg-2 ps-0">
                            <label class="text-black">
                                Account No&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <label class="text-black text-left">@Model.cdr_account&nbsp;</label>
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-12 col-lg-12 mt-2">
                        <div class="col-sm-11 col-md-6 col-lg-2 ps-0">
                            <label class="text-black">
                                IBAN No&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <label class="text-black text-left">@Model.cdr_iban&nbsp;</label>
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-12 col-lg-12 mt-2">
                        <div class="col-sm-11 col-md-6 col-lg-2 ps-0">
                            <label class="text-black">
                                Swift Code&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <label class="text-black text-left">@Model.cdr_scode&nbsp;</label>
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-12 col-lg-12 mt-2">
                        <div class="col-sm-11 col-md-6 col-lg-2 ps-0">
                            <label class="text-black">
                                Bank Name&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <label class="text-black text-left">@Model.cdr_bank&nbsp;</label>
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-12 col-lg-12 mt-2">
                        <div class="col-sm-11 col-md-6 col-lg-2 ps-0">
                            <label class="text-black">
                                Branch Name&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <label class="text-black text-left">@Model.cdr_branch&nbsp;</label>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <img src="@Model.set_footer_image" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //#region Partial View Onload
        $(function () {
            Get_AllPatientDiagnosis();
            Get_Patient_signs();
            Get_Patient_Lab_Treatments();
            Get_Patient_Treatments();
            GetSignaturename('patient');
        });
    //#endregion

    //#region Load Get All Diagnosis
        var Get_AllPatientDiagnosis = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllPatientDiagnosis", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#pat_Diagnosis').text(response[0].Diagnosis);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion

    //#region Load Get_Patient_signs
        var Get_Patient_signs = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Get_Patient_Signs", "ReimbursementForms", new { area = "EMRForms" })?appId="+@emr.appId,
                success: function (response) {
                    if (response.length > 0) {
                        var str1 = response[0].sign_bp;
                        var str2 = response[0].sign_pulse;
                        var str3 = response[0].sign_temp;
                        var str4 = response[0].sign_notes;
                        var regex = /(|<([^>]+)>)/ig;
                        $("#sign_bp").text(str1.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_pulse").text(str2.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_temp").text(str3.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_notes").text(str4.replace(/(<p>|<\/p>)/g, ""));
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
    //#endregion

    //#region Load Get_Patient_Lab_Treatments
        Get_Patient_Lab_Treatments = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Get_Patient_Lab_Treatments", "ReimbursementForms", new { area = "EMRForms" })?appId=" +@emr.appId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#cdr_invest').text(response[0].lab_treatments);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
    //#endregion

    //#region Load Get_Patient_Treatments
        var Get_Patient_Treatments = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Get_Patient_Treatment", "ReimbursementForms", new { area = "EMRForms" })?appId=" +@emr.appId,
                success: function (response) {
                if (response.length > 0) {
                    $('#treat_details').text(response[0].treatments);
                }
                },
                error: function (xhr) {
                console.log(xhr);
                }
            });
        }
    //#endregion

    //#region Print
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    //#endregion

    //#region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=Dubaicare',
                type: "GET",
                dataType: "json",
                async: false,
                success: function (response) {
                console.log("fgxghszd");
                console.log(response);
                let sign = response[0].psb_sign;
                var date = moment(response[0].psb_date_created).format("DD-MM-YYYY HH:mm");
                if (response[0].person == "patient") {
                    $("#upatimg").show();
                    $("#upat_sign").attr("src", sign);
                    $("#upsb_date_witness").text(date);
                }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }
            });
        };
    //#endregion

</script>
