

@model BusinessEntities.EMRForms.NasDental
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    ViewBag.Title = "Print NasDental Reimbursement Claim Form";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";

    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">

        <button id="btnPrint" type="button" onclick="printDiv('printDiv')" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>
<div class="row fs-14" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="col-lg-12 col-md-12 text-center d-flex">
                    <img src="~/images/Reimbursement_Forms/oman1.png" />
                </div>
                <div class="col-lg-12 col-md-12 text-center">
                    <h1>Reimbursement Claim Form</h1>
                    <h2 class="text-blue">Healthcare Insurance</h2>
                </div>
                <div class="col-lg-12 col-md-12 text-center">
                    <p class="text-justify text-black">
                        One Claim Form per person, family members must apply individually. Please refer to page 2 for instructions on how to fill the form. For the required supporting documentation, use the attached Summary Table as cover sheet. Before you submit, check your Table of Benefits in your policy document for exclusions to avoid rejections. Please submit the form within 30 days of treatment to ensure timely processing. Only original claim forms will be accepted as each form carries a unique form number. To download a form, please visit our website www.tameen.ae
                    </p>
                </div>
                <!-- Row-->
                <div class="row">
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                        <div>
                            <h5 class="font-weight-bold text-black ps-3">PATIENT INFORMATION</h5>
                        </div>
                        <div class="card-body">
                            <div class="row outer-border">
                                <div class="col-lg-12 col-md-12 ps-0">
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">
                                                FAMILY NAME
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <label class="text-black text-left">@Model.cndn_1</label>
                                            </div>
                                        </div>
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">GIVEN NAME</label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <label class="text-black text-left">@Model.cndn_2</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">
                                                DATE OF BIRTH
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                                            </div>
                                        </div>
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">GENDER </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_gender&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 text-black">
                                                CARD NBR
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  text-black">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <label class="text-black text-left">@Model.cndn_3</label>
                                            </div>
                                        </div>
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 text-black">
                                                PAYER
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  text-black">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <label class="text-black text-left">@Model.cndn_4</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <h5 class="font-weight-bold text-black ps-3">CASE INFORMATION</h5>
                        </div>
                        <div class="card-body">
                            <div class="row outer-border">
                                <div class="col-lg-12 col-md-12 ps-0">

                                    <div class="form-group">
                                        <label class="text-black">DIAGNOSIS</label>
                                        <div>
                                            <label class="text-black text-red text-left" id="diagnosis" name="">&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="text-black">AETIOLOGY</label>
                                        <div>
                                            <label class="text-black text-left">@Model.cndn_5</label>
                                        </div>
                                        <div>
                                            <span class="text-black text-center">( Please indicate the exact cause in case of injuries )</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="text-black">PROCEDURE/ MANAGEMENT PLANNED</label>
                                        <div>
                                            <label class="text-black text-red text-left" id="treatments" name="">&nbsp;</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row outer-border">
                                <div class="col-lg-12 col-md-12 ps-0">

                                    <div class="form-group row">
                                        <label class="text-black col-md-3">
                                            TREATING DENTAL SPECIALIST :
                                        </label>
                                        <div class="col-md-5">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.doc_name&nbsp;</span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="text-black col-md-3">HOSPITAL /CLINIC:</label>
                                        <div class="col-md-5">
                                            <label class="text-black text-left">@Model.cndn_6</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="text-black col-md-3">CONSULTATION DETAILS:</label>
                                        <div class="col-md-1">
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="cndn_check" value="1" id="1">
                                                    <span class="custom-control-label">NEW</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="cndn_check" value="1" id="2">
                                                    <span class="custom-control-label">FOLLOW-UP</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="text-black">CONSULTATION FEES:</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label class="text-black text-left">@Model.cndn_7</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                            <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                                            <label class="text-black">
                                                Signature & Stamp
                                            </label>
                                        </div>
                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.app_fdate&nbsp;</span>
                                            <label class="text-black">
                                                Date
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <p class="text-justify text-black">I hereby allow NAS authorized personnel to obtain any requisite medical details from my current and previous physicians and/or case files.</p>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-group mb-3" style="display:none" id="upatimg"><img alt="Signature" src="" id="upat_sign" class="avatar avatar-xl bsquare" /></div>
                                        <label class="text-black">BENEFICIARYS’ SIGNATURE</label>
                                    </div>
                                    <div class="form-group row">
                                        <p class="text-justify text-black">NAS Administration Services , P.O Box 44505 Abu Dhabi , UAE Tel : 02-6777997 Fax : 02- 6766227</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- End Row -->
                <div class="text-center">
                    <img src="@Model.set_footer_image" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //#region Partial View Onload
        $(function () {
            Get_EMRINFO();
            GetSignaturename('patient');
            GetCheckedValues("@Model.cndn_chk");
        });
    //#endregion

    //#region Load Get Diagnosis,treatments,history,invoice
        var Get_EMRINFO = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetEmrInfo", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#diagnosis').text(response[0].diagnosis);
                        $('#treatments').text(response[0].treatments);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion

    //#region Get CheckedValues
        var GetCheckedValues = function (checknames) {
            var str = checknames;
            console.log(str);
            var myarray = str.split(',');
            for (var i = 0; i < myarray.length; i++) {
                $('.custom-control-input').each(function () {
                    if (this.id == myarray[i]) {
                        $("#" + this.id).attr('checked', 'checked');
                        $("#" + this.id).prop("checked", true);
                    }
                });
            }
        }
    //#endregion

    //#region Print
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    //#endregion

    //#region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=NasDental',
                    type: "GET",
                    dataType: "json",
                    async: false,
                success: function (response) {
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_created).format("DD-MM-YYYY HH:mm");
                    if (response[0].person == "patient") {
                        $("#upatimg").show();
                        $("#upat_sign").attr("src", sign);
                        $("#upsb_date_witness").text(date);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
    //#endregion

</script>

<style>
    .outer-border {
        border: 2px solid #000; /* You can adjust the border thickness and color as needed */
        padding: 10px; /* Optional: Add padding for spacing */
    }
</style>