

@model BusinessEntities.EMRForms.DamanWT
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    ViewBag.Title = "Print Amity Reimbursement Claim Form";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";

    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" onclick="printDiv('printDiv')" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>

<div class="row fs-14" id="printDiv">
    <div class="col-md-12">
        <div class="cdrd overflow-hidden">
            <div class="cdrd-body">
                <div class="row mb-2 mt-2 text-center">
                    <div class="col-md-11 bg-red-dark">
                        <h2 class="panel-heading bg-red-dark text-white">Reimbursement Claim Form</h2>
                    </div>
                    <div class="col-md-1">
                        <img src="~/images/Reimbursement_Forms/daman.png" />
                    </div>
                </div>
                <div class="row">
                    <p class="form-label mb-2 text-danger font-italic">
                        Please read the instructions and guidelines on page 2 before filling the form. Section 1, 2 and 4 to be filled by the cardholder only and Section 3 to be filled by the treating doctor.
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                        <div class="panel-heading bg-red-dark text-white-80"> 1 . Card Holder's Information</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-3 form-label">Name</label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                            </div>
                                        </div>
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-3 form-label">Daman Card No</label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                @if (@emr.pi_insno != "")
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pi_insno&nbsp;</span>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-3 form-label">Mobile No</label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_mob&nbsp;</span>
                                            </div>
                                        </div>
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-3 form-label">E-mail</label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                @if (@emr.pat_email != "")
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_email&nbsp;</span>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-3 form-label">Address</label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                @if (@emr.pat_address != "")
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_address&nbsp;</span>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-heading bg-red-dark text-white-80">2. Claims Payment Details</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group row">
                                        <p class="text-black text-justify">
                                            Wire Transfer (Please provide your bank account details):<br />
                                            Note: Daman does not impose any additional fees on all payment transactions related to claim reimbursements. Charges may only be applicable based on the internal policies and procedures of the respective bank.
                                        </p>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 text-black">Principal Beneficiary Name </label>
                                        <div class="col-md-4">
                                            <label class="text-black text-left">@Model.cdr_e1&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 text-black">Bank Name</label>
                                        <div class="col-md-4">
                                            <label class="text-black text-left">@Model.cdr_e2&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 text-black">Swift Code Number (For International Transfers)</label>
                                        <div class="col-md-4">
                                            <label class="text-black text-left">@Model.cdr_e3&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 text-black">IBAN</label>
                                        <div class="col-md-4">
                                            <label class="text-black text-left">@Model.cdr_e4&nbsp;</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel-heading bg-red-dark text-white-80 text-justify">3.Medical Information (To be filled by treating Doctor for all outpatient treatment. For cases like hospitalization, procedures, surgeries-detailed Medical report is required)</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-2 text-black">Visit Date</label>
                                        <div class="col-md-2">

                                            <label class="text-black text-left">@Model.cdr_dd1&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 text-black">Chief Complaints</label>
                                        <div class="col-md-4">
                                            <label class="text-black text-red text-left" id="complaints" name="">&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 text-black">Medical History</label>
                                        <div class="col-md-4">
                                            <label class="text-black text-red text-left" id="past" name="">&nbsp;</label>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-2 text-black">Diagnosis</label>
                                        <div class="col-md-4">
                                            <label class="text-black text-red text-left" id="diagnosis" name="">&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 text-black">Treatment cause is work related</label>
                                        <div class="col-md-1">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="cdr_checkbox[1]" value="1" id="1">
                                                <span class="custom-control-label">Yes</span>
                                            </label>
                                        </div>
                                        <div class="col-md-1">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="cdr_checkbox[1]" value="2" id="2">
                                                <span class="custom-control-label">No</span>
                                            </label>
                                        </div>
                                        <label class="col-md-1 text-black">Please Specify</label>
                                        <div class="col-md-2">
                                            <label class="text-black text-left">@Model.cdr_e7&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 text-black">Treatment Details</label>
                                        <div class="col-md-4">
                                            <label class="text-black text-red text-left" id="treatments" name="">&nbsp;</label>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <p class="text-black text-justify">
                                            I declare that I have attended to this patient and that the particulars given are true and correct to the best of my knowledge.
                                        </p>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 form-label">Name (Medical Practitioner):</label>
                                        <div class="col-md-2">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.doc_name&nbsp;</span>
                                        </div>
                                        <label class="col-md-1 form-label">Signature:</label>
                                        <div class="col-md-2">
                                            <div class="form-group mb-3"><img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" /></div>
                                        </div>
                                        <label class="col-md-1 form-label">Date:</label>
                                        <div class="col-md-2">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.app_fdate&nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-heading bg-red-dark text-white-80">4. Claim Information (Refer to Appendix A.Gemeral Instruction)</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-1 text-black">Reason for not using Daman's network of medical services providers(Kindly indicate)</label>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-1">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="cdr_checkbox[3]" value="3" id="3">
                                                <span class="custom-control-label">Emergency</span>
                                            </label>
                                        </div>
                                        <div class="col-md-1">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="cdr_checkbox[3]" value="4" id="4">
                                                <span class="custom-control-label">Family Doctor</span>
                                            </label>
                                        </div>
                                        <div class="col-md-1">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="cdr_checkbox[3]" value="5" id="5">
                                                <span class="custom-control-label">Personal Choice</span>
                                            </label>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="cdr_checkbox[3]" value="6" id="6">
                                                <span class="custom-control-label">Service not available elsewhere</span>
                                            </label>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="cdr_checkbox[3]" value="7" id="7">
                                                <span class="custom-control-label">Vacation/Business Trip outside UAE</span>
                                            </label>
                                        </div>
                                        <div class="col-md-1">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="cdr_checkbox[3]" value="8" id="8">
                                                <span class="custom-control-label">Others</span>
                                            </label>
                                        </div>
                                        <label class="col-md-1 text-black">Please Specify</label>
                                        <div class="col-md-2">
                                            <label class="text-black text-left">@Model.cdr_e10&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="table-responsive">
                                            <table id="tbl_gdData" class="table table-striped table-bordered text-nowrap" style="width: 50%; cursor: pointer;">
                                                <thead>
                                                    <tr style="color: #fff !important; background-color: #808080; border-color: #3C457D; ">
                                                        <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                                        <th class="border-bottom-0 font-weight-semibold text-white">Name & Address of Hospital/Clinic</th>
                                                        <th class="border-bottom-0 font-weight-semibold text-white">Bill No</th>
                                                        <th class="border-bottom-0 font-weight-semibold text-white">Treatment Date</th>
                                                        <th class="border-bottom-0 font-weight-semibold text-white">Description of Services</th>
                                                        <th class="border-bottom-0 font-weight-semibold text-white">Amount</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 text-black">Currency (If treatment availed outside UAE)</label>
                                        <div class="col-md-4">
                                            <label class="text-black text-left">@Model.cdr_e8&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 text-black">Total</label>
                                        <div class="col-md-4">
                                            <label class="text-black text-left">@Model.cdr_e9&nbsp;</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-heading bg-red-dark text-white-80">5. Declaration</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group row">
                                        <p class="text-black text-justify">
                                            I, the undersigned, declare that the information above is correct and that the reimbursement requested is for the expenses paid by me for the treatment of my covered condition. I hereby authorize any Doctor, Hospital, Clinic or Medical Provider; any Insurance Company or any Company, Institution or any other person who has any record or information about me and/ or any of my family members to provide National Health Insurance Company - Daman with the complete information including copies of their records with reference to any sickness or accident, any treatment, examination, advice or hospitalization or any other information required by Daman. I am fully aware that any person who intentionally makes any false and/or misleading statement and/or information to obtain reimbursement from Daman is subject to penalization.
                                        </p>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 form-label">Name of Card Holder/ Legal Guardian/ Legal Representative:</label>
                                        <div class="col-md-2">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                        </div>
                                        <label class="col-md-1 form-label">Signature:</label>
                                        <div class="col-md-2">
                                            <div class="form-group mb-3" style="display:none" id="upatimg"><img alt="Signature" src="" id="upat_sign" class="avatar avatar-xl bsquare" /></div>
                                        </div>
                                        <label class="col-md-1 form-label">Date:</label>
                                        <div class="col-md-2">
                                            <label class="form-label text-red text-left" id="upsb_date_witness" name="">&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 text-black">Mobile No</label>
                                        <div class="col-md-4">
                                            <label class="text-black text-left">@Model.cdr_e11&nbsp;</label>
                                        </div>
                                        <label class="col-md-2 text-black">Relationship to card Holder</label>
                                        <div class="col-md-4">
                                            <label class="text-black text-left">@Model.cdr_e12&nbsp;</label>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-heading bg-red-dark text-white-80">5.  Appendix A:General Instuctions</div>
                        <div class="card-body pt-0">
                            <ul class="list-style5 text-justify text-black">
                                <li>In compliance with the instructions of the Health Authority- Abu Dhabi and UAE law, ali Information related to the Claim are strictly confidential and shall not be disclosed to any third party.</li>
                                <li>This form can be used for all types of medical plans and has to be completed by the insured member (Card holder), only if provider is not submiting the claim on his behalf.</li>
                                <li>Use separate form for each Daman member.</li>
                                <li>
                                    Please read the form carefully and make sure to complete all pertinent Information. Daman will not be able to process any incomplete
                                    Claim Reimbursement Form without complete documentation as listed below:
                                    <div class="table-responsive">
                                        <table id="tbl_1" class="table table-striped table-bordered text-nowrap" style="width: 50%; cursor: pointer;">
                                            <tbody>
                                                <tr>
                                                    <td>Essential Documents:</td>
                                                    <td>
                                                        Original itemized bill / Invoices with date
                                                        Original Prescription for medication given by the treating docter.
                                                        Investigation results / reports like laboratory tests, x-rays, etc. for procedures above AED 1,000.00
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Additional Requirements for Inpatient(Hospitalization Cases):</td>
                                                    <td>Medical Report / Discharge Summary stamped & signed by the treating Doctor</td>
                                                </tr>
                                                <tr>
                                                    <td>Additional Requirements for treatment availed outside the UAE:</td>
                                                    <td>Passport copy with the entry/exit stamp or any other proof must be provided.</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </li>
                                <li>Note: Please keep copies of receipts and documents enclosed wtth vour claim as Daman will not return the original documents unless it is a case of total rejection.</li>

                                <li>
                                    <p class="font-weight-bold">
                                        Payment Preference:
                                    </p>
                                    <ul>
                                        <li>All fields marked with (*) are mandatory and have to be provided by tne member at the time of submission of the ctaim form. Daman will not be responsible for any incorrect information provided by you, especially in respect of incorrect bank information.</li>
                                        <li>Swift code information is only necessary for international transfers</li>
                                        <li>The wire transfer payment will be deposited into the principal account number</li>
                                        <li>Wire Transfer payment fee is guaranteed paid by Dam an; any amount charged as a result of this service need to be discussed by the member with his/her respective bank.</li>
                                    </ul>
                                </li>
                                <li>
                                    All claims subject to reimbursement should be submitted to Daman from the last treatment dates as mentioned below:
                                    <ul>
                                        <li> Within 120 Days in case for services taken Inside and outside UAE for all Enhanced Plans</li>
                                        <li>Within 180 Days in case for services taKen inside and outside the UAE for Premier Plan</li>
                                        <li>Within 60 Days in case for services taken inside UAE for Abu Dhabi card holders</li>
                                        <li>Coverage outside UAE is limited to 90 days per treatment. A single holiday — or Business trip may not exceed 90 days.</li>
                                    </ul>
                                </li>
                                <li>Please note thot the claim mignt take an additional five working days if submitted in a language other than English and Arabic.</li>
                                <li>To ensure efficient and prompt set:element of your claims, please submit all the above re9uired documents directly to Customer Support Desk in any of Daman’s Branches for convenience.</li>

                            </ul>
                            <div class="form-group row">
                                <p class="text-black text-justify">
                                    If you have any question or need assistance in filling this form,
                                    Please call 800 4 32626 within the UAE or +971 2 6E49S55 Outside UAE
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <img src="@Model.set_footer_image" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    //#region Partial View Onload
        $(function () {
            Get_EMRINFO();
            GetSignaturename('patient');
            GetCheckedValues("@Model.cdr_checkbox");
        });
    //#endregion

    //#region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
            url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=DamanWT',
                type: "GET",
                dataType: "json",
                async: false,
                success: function (response) {
                let sign = response[0].psb_sign;
                var date = moment(response[0].psb_date_created).format("DD-MM-YYYY HH:mm");
                if (response[0].person == "patient") {
                    $("#upatimg").show();
                    $("#upat_sign").attr("src", sign);
                    $("#upsb_date_witness").text(date);
                }
            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr);
            }

            });
        };
    //#endregion

    //#region Get CheckedValues
        var GetCheckedValues = function (checknames) {
            var str = checknames;
            var myarray = str.split(',');

            for (var i = 0; i < myarray.length; i++) {
                $('.custom-control-input').each(function () {
                    if (this.id == myarray[i]) {
                        $("#" + this.id).attr('checked', 'checked');
                        $("#" + this.id).prop("checked", true);
                    }
                });
            }

        }
    //#endregion

    //#region Print
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    //#endregion

    //#region Load Get Diagnosis,treatments,history,invoice
        var Get_EMRINFO = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetEmrInfo", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#past').text(response[0].past);
                        $('#complaints').text(response[0].complaints);
                        $('#diagnosis').text(response[0].diagnosis);
                        $('#treatments').text(response[0].treatments);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion

</script>