

@model BusinessEntities.EMRForms.Metlife
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    ViewBag.Title = "Print Metlife Reimbursement Claim Form";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";

    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" onclick="printDiv('printDiv')" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>

<div class="row fs-14" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="row">
                    <img src="~/images/Reimbursement_Forms/met.png" />
                </div>
                <div class="form-group row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div>
                                <h3 class="card-title font-weight-bold text-justify">To avoid any delays in the processing of your claim, please ensure that</h3>
                            </div>
                            <div class="card-body ps-5 pe-5 pb-2">
                                <ul class="list-style2">
                                    <li class=" text-justify">
                                        All original claim documents should be submitted either in English or Arabic. Documents in other languages must be translated by an official public translator
                                        prior to submission
                                    </li>
                                    <li class=" text-justify">
                                        All necessary original claims documents are to be submitted within 30 days of the incurred date. Subject to your policy terms and conditions, MetLife reserves
                                        the right to deny claims that you submit after 90 days of the incurred date.
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <h3 class="card-title font-weight-bold">Requirements</h3>
                            </div>
                            <div class="card-body ps-5 pe-5 pt-2 pb-0">
                                <ul class="list-style2 font-weight-bold">
                                    <li class=" text-justify">
                                        Medical Claim Reimbursement Form (if not submitting the claim on e-services)
                                    </li>
                                    <li class=" text-justify">
                                        Attending Physician Section (mandatory)
                                    </li>
                                    <li class="text-justify">Supporting documents - Please refer to the checklist on page 2</li>
                                </ul>
                            </div>
                            <div>
                                <hr class="new4" />
                            </div>
                            <div>
                                <h3 class="card-title font-weight-bold text-justify">EMPLOYEE’S SECTION (*All Fields are Mandatory) – Not required if submitting the claim directly on e-Services</h3>
                            </div>
                            <div class="card-body pb-0">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group row">
                                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                                <label class="col-md-4 form-label">Employees’s Full Name<span class="text-danger">*</span></label>
                                                <div class="d-flex  justify-content-center w-8  form-label">
                                                    :
                                                </div>
                                                <div class="col-md-6">
                                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.doc_name&nbsp;</span>
                                                </div>
                                            </div>
                                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                                <label class="col-md-4 form-label">Date of Birth</label>
                                                <div class="d-flex  justify-content-center w-8  form-label">
                                                    :
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="text-black text-left">@Model.met_4&nbsp;</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                                <label class="col-md-4 form-label">Patient’s Full Name<span class="text-danger">*</span></label>
                                                <div class="d-flex  justify-content-center w-8  form-label">
                                                    :
                                                </div>
                                                <div class="col-md-6">
                                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                                </div>
                                            </div>
                                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                                <label class="col-md-4 form-label">Date of Birth</label>
                                                <div class="d-flex  justify-content-center w-8  form-label">
                                                    :
                                                </div>
                                                <div class="col-md-6">
                                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                                <label class="col-md-4 form-label">Employee’s Nationality<span class="text-danger">*</span></label>
                                                <div class="d-flex  justify-content-center w-8  form-label">
                                                    :
                                                </div>
                                                <div class="col-md-6">
                                                    @if (@emr.emp_nat != "")
                                                    {
                                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_nat&nbsp;</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                                <label class="col-md-4 form-label">
                                                    Patient’s Nationality<span class="text-danger">*</span>
                                                </label>
                                                <div class="d-flex  justify-content-center w-8  form-label">
                                                    :
                                                </div>
                                                <div class="col-md-6">
                                                    @if (@emr.pat_nationality != "")
                                                    {
                                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_nationality&nbsp;</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                                <label class="col-md-4 form-label">Employee Contact No<span class="text-danger">*</span></label>
                                                <div class="d-flex  justify-content-center w-8  form-label">
                                                    :
                                                </div>
                                                <div class="col-md-6">
                                                    @if (@emr.emp_tel != "")
                                                    {
                                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_tel&nbsp;</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                                <label class="col-md-4 form-label">Policy Number<span class="text-danger">*</span></label>
                                                <div class="d-flex  justify-content-center w-8  form-label">
                                                    :
                                                </div>
                                                <div class="col-md-6">
                                                    @if (@emr.pi_polocyno != "")
                                                    {
                                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pi_polocyno&nbsp;</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                                <label class="col-md-4 form-label">
                                                    Patient Member ID<span class="text-danger">*</span>
                                                </label>
                                                <div class="d-flex  justify-content-center w-8  form-label">
                                                    :
                                                </div>
                                                <div class="col-md-6">
                                                    @if (@emr.pi_insno != "")
                                                    {
                                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pi_insno&nbsp;</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                                <label class="col-md-4 form-label">Employee E-mail Address<span class="text-danger">*</span></label>
                                                <div class="d-flex  justify-content-center w-8  form-label">
                                                    :
                                                </div>
                                                <div class="col-md-6">
                                                    @if (@emr.emp_address != "")
                                                    {
                                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_address&nbsp;</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                    }
                                                </div>
                                            </div>
                                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                                <label class="col-md-4 form-label">
                                                    Patient Address<span class="text-danger">*</span>
                                                </label>
                                                <div class="d-flex  justify-content-center w-8  form-label">
                                                    :
                                                </div>
                                                <div class="col-md-6">
                                                    @if (@emr.pat_address != "")
                                                    {
                                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_address&nbsp;</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <hr class="new4" />
                            </div>
                            <div>
                                <h3 class="card-title font-weight-bold">REIMBURSEMENT METHOD</h3>
                            </div>
                            <div class="card-body ps-3 pe-3 pt-2 pb-0">
                                <div class="card-body pb-0 pb-0 pt-0">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group row">
                                                <div class="col-md-2">
                                                    <label class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" name="met_check[1]" value="1" id="1">
                                                        <span class="custom-control-label">Wire Transfer</span>
                                                    </label>
                                                </div>
                                                <div class="col-md-2">
                                                    <label class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" name="met_check[1]" value="2" id="2">
                                                        <span class="custom-control-label">Cheque</span>
                                                    </label>
                                                </div>
                                                <div class="col-md-12">
                                                    <label class="form-label font-weight-bold">
                                                        Bank detail must be updated on e-services
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-horizontal">
                                                <div class="form-group row">
                                                    <label class="col-md-2 form-label">Total Amount Claimed</label>
                                                    <div class="col-md-3">
                                                        <label class="text-black text-left">@Model.met_claim_amount&nbsp;</label>
                                                    </div>
                                                    <label class="col-md-1 form-label">Currency</label>
                                                    <div class="col-md-3">
                                                        <label class="text-black text-left">@Model.met_currency&nbsp;</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <hr class="new4" />
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card pb-0 pt-0">
                                        <div>
                                            <h3 class="card-title font-weight-bold">AUTHORIZATION STATEMENT</h3>
                                        </div>
                                        <div class="card-body ps-5 pe-5">
                                            <ul class="list-style">
                                                <li class="text-black text-justify">
                                                    I hereby certify that all answers and all original documents submitted with the claim form are complete and true. I hereby authorize any doctor, hospital, or medical provider, any insurance company
                                                    or any other company, institution or any other person who has any record or information about me and / or any of my family members to provide MetLife (American Life Insurance Company) with the
                                                    complete information's, including copies of their records with reference to my sickness or accident, any treatment, examination, advice, or hospitalization. Any photocopy of this authorization shall be
                                                    taken as the original copy.
                                                </li>
                                            </ul>
                                        </div>
                                        <div>
                                            <h3 class="card-title font-weight-bold"> DISCLAIMER</h3>
                                        </div>
                                        <div class="card-body ps-5 pe-5 pb-0 pt-0">
                                            <ul class="list-style">
                                                <li class="text-black text-justify">
                                                    I hereby authorize MetLife to wire transfer claim reimbursements to the account indicated above. This agreement will remain in effect until I give written notice to withdraw from wire transfer or MetLife
                                                    notifies me that this service has been terminated. If ever MetLife credits more money than the correct benefit amount to the account due to duplicate or erroneous electronic funds transfers, I authorize
                                                    MetLife to revise the Transaction and withdraw the overpayment.
                                                </li>
                                                <li class="text-black text-justify">
                                                    MetLife will bear charges on account of claims reimbursement levied by the remitting bank. All charges that may be levied by the beneficiary’s bank / other third-party provider will be borne by the
                                                    beneficiary. We suggest confirming these charges, if any, with your banking provider”.
                                                </li>
                                                <li class="text-black text-justify">
                                                    I verify that the documentation submitted electronically is true and unaltered and I have all the original documents that can be presented upon request of the Insurance Company. I also accept and
                                                    recognize that at the sole discretion of the MetLife, these documents may be requested at any time during a period of one year counted from the submission of the claim, which I will provide within a
                                                    period not exceeding of 30 days from the request. Failing to comply could imply the claim to be declined. If the case is confirmed to be declined, I will reimburse any amount paid by MetLife to me or
                                                    to any party as related to this claim.
                                                </li>
                                                <li class="text-blue text-justify">
                                                    MetLife will not provide coverage in, reimburse for treatment obtained in, reimburse for services received in, or make wire transfers or any payments to the countries identified on
                                                    OFAC’s sanctions list, including but not limited to payments to any financial institutions or medical providers located in a sanctioned country. Also, MetLife will not pay a claim to
                                                    individuals who: i) are residing in a sanctioned country; ii) are listed on the OFAC Specially Designated Nationals (SDN) list or any other international or local sanctions list; or iii) have
                                                    traveled to a sanctioned country for purposes of receiving medical, or other treatment or services, subject to the Policy and / or Supplementary contract terms and conditions.
                                                </li>
                                                <li class="text-black text-justify">
                                                    I hereby provide MetLife my unambiguous consent to process, share, and transfer my personal data to a recipient outside the country (e.g. to the Company Headquarters in the USA and / or to other
                                                    branches or affiliates of the Insurer’s Group and Reinsurer) where the transfer, sharing, is necessary for the performance of the contract or for the compliance with any legal obligation to which the
                                                    Company is subject and where necessary transfer, share any such information with the regulators and other law enforcement agencies for the performance of its obligations related to the international
                                                    sanctions and other regulations applicable to the Company
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
                                    <span class="text-capitalize text-left text-red">@emr.doc_name&nbsp;</span>
                                    <label class="form-label">
                                        Doctor Name
                                    </label>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
                                    <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                                    <label class="form-label">
                                        Signature & Stamp
                                    </label>
                                </div>
                            </div>
                            <div>
                                <hr class="new4" />
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                                    <div class="card pb-0 pt-0">
                                        <div class="card-header">
                                            <h4 class="card-title">ATTENDING PHYSICIAN SECTION (*Mandatory Fields)</h4>
                                            <h6 class="card-title font-italic">To be filled by attending physician</h6>
                                        </div>
                                        <div class="card-body pb-0 pt-0">
                                            <div class="form-horizontal">
                                                <div class="form-group row">
                                                    <label class="col-md-2 form-label">Patient’s Full Name</label>
                                                    <div class="col-md-3">
                                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                                    </div>
                                                    <label class="col-md-1 form-label">Date of Birth</label>
                                                    <div class="col-md-3">
                                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label">Chief Complains<span class="text-danger">*</span></label>
                                                    <label class="text-black text-red text-left" id="complaints" name="">&nbsp;</label>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label">Diagnosis<span class="text-danger">*</span></label>
                                                    <label class="text-black text-red text-left" id="diagnosis" name="">&nbsp;</label>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label">How long has the patient been suffering from this sickness?<span class="text-danger">*</span></label>
                                                    <label class="form-label">Please specify the date symptoms first appeared.</label>
                                                    <label class="text-black text-left">@Model.met_1&nbsp;</label>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label">If treated by other medical provider please specify the name and treatment details</label>
                                                    <label class="text-black text-left">@Model.met_2&nbsp;</label>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label">If the claim is resulting from pregnancy / childbirth, please provide the LMP<span class="text-danger">*</span></label>
                                                    <label class="text-black text-left">@Model.met_3&nbsp;</label>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label">Details of the treatment (other than Prescription)</label>
                                                    <label class="text-black text-red text-left" id="treatments" name="">&nbsp;</label>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label">If further treatment or operative procedure anticipated, please provide the details</label>
                                                    <label class="text-black text-red text-left" id="Prescriptions_details" name="">&nbsp;</label>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label">Physician’s Name, Address and Tel. No.</label>
                                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.doc_name&nbsp;,</span>
                                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_address&nbsp;,</span>
                                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_tel&nbsp;</span>
                                                </div>
                                                <div class="form-group">
                                                    <label class="form-label">Physician’s Signature and Stamp</label>
                                                    <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <hr class="new4" />
                            </div>
                            <!-- Row -->
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                    <div class="card pb-0 pt-0">
                                        <div class="card-body pb-0 pt-0">
                                            <div class="row mt-4">
                                                <div class="col-lg-12">
                                                    <h3 class="card-title font-weight-bold">CHECKLIST FOR INSURED MEMBER</h3>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="table-responsive">
                                                        <table id="tbl_Treatment" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                                                            <thead>
                                                                <tr style="color: #fff !important; background-color: dodgerblue; border-color: #3C457D; ">
                                                                    <th class="border-bottom-0 font-weight-semibold text-white">REQUIRED</th>
                                                                    <th class="border-bottom-0 font-weight-semibold text-white">CHECK BOX</th>
                                                                    <th class="border-bottom-0 font-weight-semibold text-white">DOCUMENT</th>
                                                                    <th class="border-bottom-0 font-weight-semibold text-white">NOTE</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>YES</td>
                                                                    <td>
                                                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                                                <input type="checkbox" class="custom-control-input" name="met_check" value="7" id="7">
                                                                                <span class="custom-control-label"></span>
                                                                            </label>
                                                                        </div>
                                                                    </td>
                                                                    <td>Claim Form (including Attending Physician Section)</td>
                                                                    <td>Fully completed and signed by you and your physician / surgeon</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>YES</td>
                                                                    <td>
                                                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                                                <input type="checkbox" class="custom-control-input" name="met_check" value="8" id="8">
                                                                                <span class="custom-control-label"></span>
                                                                            </label>
                                                                        </div>
                                                                    </td>
                                                                    <td>Detailed medical report</td>
                                                                    <td>Detailing ailment / diagnosis or accident with dates it started / happened, signed by your treating physicia</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>YES</td>
                                                                    <td>
                                                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                                                <input type="checkbox" class="custom-control-input" name="met_check" value="9" id="9">
                                                                                <span class="custom-control-label"></span>
                                                                            </label>
                                                                        </div>
                                                                    </td>
                                                                    <td>Original hospital / clinic bil</td>
                                                                    <td>Original</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>If applicable</td>
                                                                    <td>
                                                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                                                <input type="checkbox" class="custom-control-input" name="met_check" value="10" id="10">
                                                                                <span class="custom-control-label"></span>
                                                                            </label>
                                                                        </div>
                                                                    </td>
                                                                    <td>Copy of all relevant X-Rays / Echography / MRIs and reports</td>
                                                                    <td>Should reflect your name and date they were taken</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>If applicable</td>
                                                                    <td>
                                                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                                                <input type="checkbox" class="custom-control-input" name="met_check" value="11" id="11">
                                                                                <span class="custom-control-label"></span>
                                                                            </label>
                                                                        </div>
                                                                    </td>
                                                                    <td>Copy of all lab tests and reports</td>
                                                                    <td>Only related to this incident</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>If applicable</td>
                                                                    <td>
                                                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                                                <input type="checkbox" class="custom-control-input" name="met_check" value="12" id="12">
                                                                                <span class="custom-control-label"></span>
                                                                            </label>
                                                                        </div>
                                                                    </td>
                                                                    <td>Copy of police report</td>
                                                                    <td>Required if claim relates to an accident</td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <h3 class="card-title font-weight-bold text-blue font-italic">Please remember</h3>
                                                </div>
                                                <div class="col-lg-12">
                                                    <p class="text-black text-justify">
                                                        To help us process your insurance claim as quickly as possible, we ask you to provide the above documents. Otherwise your claim could be
                                                        delayed or potentially rejected.
                                                    </p>
                                                </div>

                                                <div class="col-lg-12">
                                                    <div class="expanel expanel-secondary">
                                                        <div class="expanel-heading">
                                                            <h3 class="expanel-title">HOW TO SUBMIT THE CLAIM</h3>
                                                        </div>
                                                        <div class="expanel-body bg-blue-light">
                                                            Login to e-Services <span class="font-weight-bold">OR</span> Please contact your H.R. for the Claim Submission Process
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--End Row -->
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <img src="@Model.set_footer_image" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    //#region Partial View Onload
        $(function () {
            Get_EMRINFO();
            GetSignaturename('patient');
            Get_AllPatientDrugs();
            GetCheckedValues("@Model.met_check");
        });
    //#endregion

    //#region Load Get Drugs
        var Get_AllPatientDrugs = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Get_AllPatientDrugs", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#Prescriptions_details').text(response[0].Prescriptions);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion

    //#region Get CheckedValues
        var GetCheckedValues = function (checknames) {
            var str = checknames;
            var myarray = str.split(',');

            for (var i = 0; i < myarray.length; i++) {
                $('.custom-control-input').each(function () {
                    if (this.id == myarray[i]) {
                        $("#" + this.id).attr('checked', 'checked');
                        $("#" + this.id).prop("checked", true);
                    }
                });
            }

        }
    //#endregion

    //#region Print
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    //#endregion

    //#region Load Get Diagnosis,treatments,history,invoice
        var Get_EMRINFO = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetEmrInfo", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#past').text(response[0].past);
                        $('#complaints').text(response[0].complaints);
                        $('#diagnosis').text(response[0].diagnosis);
                        $('#treatments').text(response[0].treatments);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion

</script>
<style>
    hr.new4 {
        border: 5px solid #007CC3;
        height: 5px;
    }
</style>