

@model BusinessEntities.EMRForms.Alkhazna
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    ViewBag.Title = "Print Alkhazna Reimbursement Claim Form";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";

    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" onclick="printDiv('printDiv')" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>
<div class="row fs-14" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-center">
                    <img src="@Model.set_header_image" />
                </div>
                <!-- Row -->
                <div class="row">
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="panel-heading bg-gray-lighter text-black font-weight-bold text-center">MEDICAL PROVIDER ADMINISTRATOR’S SECTION</div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-horizontal border-dark">
                                            <div class="form-group row">
                                                <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                                                    <label class="col-md-4 form-label">Group’s Name</label>
                                                    <div class="d-flex  justify-content-center w-8  form-label">
                                                        :
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="text-black text-left">@Model.ckne_3</label>
                                                    </div>
                                                </div>
                                                <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                                                    <label class="col-md-4 form-label">Provider’s Name</label>
                                                    <div class="d-flex  justify-content-center w-8  form-label">
                                                        :
                                                    </div>
                                                    <div class="col-md-6">
                                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.set_company&nbsp;</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                                                    <label class="col-md-4 form-label">Patient’s Name</label>
                                                    <div class="d-flex  justify-content-center w-8  form-label">
                                                        :
                                                    </div>
                                                    <div class="col-md-6">
                                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                                    </div>
                                                </div>
                                                <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                                                    <label class="col-md-4 form-label">Doctor’s Name</label>
                                                    <div class="d-flex  justify-content-center w-8  form-label">
                                                        :
                                                    </div>
                                                    <div class="col-md-6">
                                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.doc_name&nbsp;</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                                                    <label class="col-md-4 form-label">Policy No</label>
                                                    <div class="d-flex  justify-content-center w-8  form-label">
                                                        :
                                                    </div>
                                                    <div class="col-md-6">
                                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pi_insno&nbsp;</span>
                                                    </div>
                                                </div>
                                                <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                                                    <label class="col-md-4 form-label">Date</label>
                                                    <div class="d-flex  justify-content-center w-8  form-label">
                                                        :
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="text-black text-left">@Model.ckne_dd2</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                                                    <label class="col-md-4 form-label">DOB</label>
                                                    <div class="d-flex  justify-content-center w-8  form-label">
                                                        :
                                                    </div>
                                                    <div class="col-md-6">
                                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                                                    </div>
                                                </div>
                                                <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                                                    <label class="col-md-4 form-label">Insured Tel No</label>
                                                    <div class="d-flex  justify-content-center w-8  form-label">
                                                        :
                                                    </div>
                                                    <div class="col-md-6">
                                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_mob&nbsp;</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                                                    <label class="col-md-4 form-label">Admission Date</label>
                                                    <div class="d-flex  justify-content-center w-8  form-label">
                                                        :
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="text-black text-left">@Model.ckne_dd1</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-heading bg-gray-lighter text-black font-weight-bold text-center">DOCTOR’S SECTION</div>
                            <div class="card-body">
                                <div class="form-horizontal">
                                    <div class="form-group row">
                                        <label class="col-md-2 text-black">Medical History:</label>
                                        <div class="col-md-10">
                                            <label class="text-black text-left">@Model.ckne_1</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 text-black">Clinical Symptoms & Onset Date:</label>
                                        <div class="col-md-10">
                                            <label class="text-black text-left">@Model.ckne_2</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 text-black">Diagnosis or R/O:</label>
                                        <div class="col-md-10">
                                            <label class="text-black text-red text-left" id="diagnosis" name="">&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 text-black">Treatments:</label>
                                        <div class="col-md-10">
                                            <label class="text-black text-red text-left" id="treatments" name="">&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 text-black">Classification of Medical Case:</label>
                                        <div class="col-md-1">
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="ckne_chk" value="1" id="1">
                                                    <span class="custom-control-label">Chronic </span>
                                                </label>&nbsp;
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="ckne_chk" value="2" id="2">
                                                    <span class="custom-control-label">Maternity</span>
                                                </label>&nbsp;
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="ckne_chk" value="3" id="3">
                                                    <span class="custom-control-label">Dental</span>
                                                </label>&nbsp;
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="ckne_chk" value="4" id="4">
                                                    <span class="custom-control-label">Optical</span>
                                                </label>&nbsp;
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1" class="form-label">Out Patient Investigations / Treatment required</label>
                                    <div class="table-responsive" style="min-height:200px">
                                        <table id="tbl_1" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                                            <thead>
                                                <tr style="color: #fff !important; background-color: #808080; border-color: #3C457D; ">
                                                    <th class="border-bottom-0 font-weight-semibold text-white">Laboratory</th>
                                                    <th class="border-bottom-0 font-weight-semibold text-white">Radiology</th>
                                                    <th class="border-bottom-0 font-weight-semibold text-white">Others</th>
                                                    <th class="border-bottom-0 font-weight-semibold text-white">Medicines / IVFluids</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><label class="text-black text-red text-left" id="lab_treatments" name="">&nbsp;</label></td>
                                                    <td><label class="text-black text-red text-left" id="rad_treatments" name="">&nbsp;</label></td>
                                                    <td><label class="text-black text-red text-left" id="other_treatments" name="">&nbsp;</label></td>
                                                    <td><label class="text-black text-red text-left" id="Prescriptions_details" name="">&nbsp;</label></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-2 text-black">Doctor’s signature & Stamp:</label>
                                    <div class="col-md-10">
                                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                                    </div>
                                </div>
                            </div>
                            <div class="panel-heading bg-gray-lighter text-black font-weight-bold text-center">
                                INSURANCE DEPARTMENT’S SECTION (FOR PRE-AUTHORIZATION’S REQUEST)
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="form-label">Out Patient Investigations / Treatment required</label>
                                <div class="table-responsive">
                                    <table id="tbl_1" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                                        <thead>
                                            <tr style="color: #fff !important; background-color: #808080; border-color: #3C457D; ">
                                                <th class="border-bottom-0 font-weight-semibold text-white">Items</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Gross Rates</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Aproved Rates Items Gross Rates (Filled by AKIC)</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Net Rates (Filled by AKIC)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Room & Board</td>
                                                <td><label class="text-black text-left">@Model.ckne_4</label>&nbsp;</td>
                                                <td><label class="text-black text-left">@Model.ckne_5</label></td>
                                                <td><label class="text-black text-left">@Model.ckne_6</label></td>
                                            </tr>
                                            <tr>
                                                <td>Surgeon’s Fee</td>
                                                <td><label class="text-black text-left">@Model.ckne_7</label></td>
                                                <td><label class="text-black text-left">@Model.ckne_8</label></td>
                                                <td><label class="text-black text-left">@Model.ckne_9</label></td>
                                            </tr>
                                            <tr>
                                                <td>Anesthetist’s Fees</td>
                                                <td><label class="text-black text-left">@Model.ckne_10</label></td>
                                                <td><label class="text-black text-left">@Model.ckne_11</label></td>
                                                <td><label class="text-black text-left">@Model.ckne_12</label></td>
                                            </tr>
                                            <tr>
                                                <td>Anesthetist’s Fees</td>
                                                <td><label class="text-black text-left">@Model.ckne_13</label></td>
                                                <td><label class="text-black text-left">@Model.ckne_14</label></td>
                                                <td><label class="text-black text-left">@Model.ckne_15</label></td>
                                            </tr>
                                            <tr>
                                                <td>Consultations Fees</td>
                                                <td><label class="text-black text-left">@Model.ckne_16</label></td>
                                                <td><label class="text-black text-left">@Model.ckne_17</label></td>
                                                <td><label class="text-black text-left">@Model.ckne_18</label></td>
                                            </tr>
                                            <tr>
                                                <td>Consultations Fees</td>
                                                <td><label class="text-black text-left">@Model.ckne_19</label></td>
                                                <td><label class="text-black text-left">@Model.ckne_20</label></td>
                                                <td><label class="text-black text-left">@Model.ckne_21</label></td>
                                            </tr>
                                            <tr>
                                                <td>Radiology</td>
                                                <td><label class="text-black text-left">@Model.ckne_22</label></td>
                                                <td><label class="text-black text-left">@Model.ckne_23</label></td>
                                                <td><label class="text-black text-left">@Model.ckne_24</label></td>
                                            </tr>
                                            <tr>
                                                <td>Medicines</td>
                                                <td><label class="text-black text-left">@Model.ckne_25</label></td>
                                                <td><label class="text-black text-left">@Model.ckne_26</label></td>
                                                <td><label class="text-black text-left">@Model.ckne_27</label></td>
                                            </tr>
                                            <tr>
                                                <td>Others</td>
                                                <td><label class="text-black text-left">@Model.ckne_28</label></td>
                                                <td><label class="text-black text-left">@Model.ckne_29</label></td>
                                                <td><label class="text-black text-left">@Model.ckne_30&nbsp;</label></td>
                                            </tr>
                                            <tr>
                                                <td>Total</td>
                                                <td><label class="text-black text-left">@Model.ckne_31&nbsp;</label></td>
                                                <td><label class="text-black text-left">@Model.ckne_32&nbsp;</label></td>
                                                <td><label class="text-black text-left">@Model.ckne_33&nbsp;</label> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="panel-heading bg-gray-lighter text-black font-weight-bold text-center">
                                PATIENT’S SECTION
                            </div>
                            <div class="form-group row">
                                <p class="text-black text-justify">
                                    I hereby authorize Al Khazna Insurance Company’s authorized representatives to obtain any requisite medical details from my current and previous
                                    medical records / doctors. Also, I guarantee to pay any expenses not covered by insurance plan or in excess of the limits provided under the plan or any
                                    deductible or co-insurance determined by this plan.
                                </p>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-1 text-black">Date:</label>
                                <div class="col-md-1">
                                    <label class="form-label text-red text-left" id="upsb_date_witness" name="">&nbsp;</label>
                                </div>
                                <label class="col-md-4 text-black">Insured member’s signature (Parent/Guardian if Minor):</label>
                                <div class="col-md-1">
                                    <div class="form-group mb-3" style="display:none" id="upatimg"><img alt="Signature" src="" id="upat_sign" class="avatar avatar-xl bsquare" /></div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <p class="text-black text-justify">
                                    <span class="font-weight-bold">Al Khazna Head Office:</span> Villa No.51, Delma St., Muroor Area, P.O.Box: 73343 - Abu Dhabi,, U.A.E., Tel. 02-6969700 - Fax 02-6418299
                                </p>
                                <p class="text-black text-justify">
                                    <span class="font-weight-bold">Main Branches:</span> Al Ain: Khalfan Al Dhaheri Building, Khalifa St., P.O.Box: 20755 Al Ain, UAE, Tel. 03- 7661700 - Fax.03- 7666404
                                    Dubai: Al Masaood Building, Airport St., P.O.Box: 8953 Dubai, UAE, Tel. 04- 2944088 - Fax.04-2944433
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row -->
                <div class="text-center">
                    <img src="@Model.set_footer_image" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //#region Partial View Onload
        $(function () {
            Get_EMRINFO();
            Get_AllPatientDrugs();
            GetSignaturename('patient');
            GetCheckedValues("@Model.ckne_chk");
        });
    //#endregion

    //#region Get CheckedValues
        var GetCheckedValues = function (checknames) {
            var str = checknames;
            var myarray = str.split(',');

            for (var i = 0; i < myarray.length; i++) {
                $('.custom-control-input').each(function () {
                    if (this.id == myarray[i]) {
                        $("#" + this.id).attr('checked', 'checked');
                        $("#" + this.id).prop("checked", true);

                    }
                });
            }

        }
    //#endregion

    //#region Print
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    //#endregion

    //#region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=Alkhazna',
                type: "GET",
                dataType: "json",
                async: false,
                success: function (response) {
                let sign = response[0].psb_sign;
                var date = moment(response[0].psb_date_created).format("DD-MM-YYYY HH:mm");
                if (response[0].person == "patient") {
                    $("#upatimg").show();
                    $("#upat_sign").attr("src", sign);
                    $("#upsb_date_witness").text(date);
                }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }
            });
        };
    //#endregion

     //#region Load Get Drugs
         var Get_AllPatientDrugs = function () {
             $.ajax({
                 type: "GET",
                 url: "@Url.Action("Get_AllPatientDrugs", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                 success: function (response) {
                     if (response.length > 0) {
                         $('#Prescriptions_details').text(response[0].Prescriptions);
                     }
                 },
                 error: function (xhr) {
                     console.log(xhr);
                 }
             })
         }
     //#endregion

     //#region Load Get Diagnosis,treatments,history,invoice
         var Get_EMRINFO = function () {
             $.ajax({
                 type: "GET",
                 url: "@Url.Action("GetEmrInfo", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                 success: function (response) {
                     if (response.length > 0) {
                         $('#ckne_1').text(response[0].past);
                         $('#diagnosis').text(response[0].diagnosis);
                         $('#treatments').text(response[0].treatments);
                         $('#ckne_2').text(response[0].complaints);
                         $('#lab_treatments').text(response[0].lab_treatments);
                         $('#rad_treatments').text(response[0].rad_treatments);
                         $('#other_treatments').text(response[0].other_treatments);
                     }
                 },
                 error: function (xhr) {
                     console.log(xhr);
                 }
             })
         }
     //#endregion

</script>
