

@model BusinessEntities.EMRForms.SAICO
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    ViewBag.Title = "Print SAICO Reimbursement Claim Form";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";

    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" onclick="printDiv('printDiv')" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>
<div class="row fs-14" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-center">
                    <img src="@Model.set_header_image" />
                </div>
                <div class="row">
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 bg-gray-100 border-dark">
                        <div class="mt-2">
                            <h5 class="font-weight-bold ps-3">Section A.  Important Information:  Please Read</h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 ps-0">
                                    <div class="form-group row">
                                        <p class="form-label text-justify">
                                            Please complete and sign this claim form, and submit it along with itemsied bills and receipts detailing the services rendered.
                                        </p>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-6 col-md-6">
                                            <p class="form-label text-justify">
                                                Send your completed form, itemsied bills and receipts
                                            </p>
                                            <p class="form-label text-justify">
                                                By fax: in Saudi Arabia:  +96614601881
                                            </p>
                                            <p class="form-label text-justify ps-7">
                                                in UAE: +97142955231
                                            </p>
                                            <p class="form-label text-justify ps-7">
                                                in Bahrain:  +97317213915
                                            </p>
                                            <p class="form-label text-justify ps-7">
                                                in Qatar:  +9744325420
                                            </p>
                                            <p class="form-label text-justify ps-7">
                                                in Kuwait:  +9652475498
                                            </p>
                                            <p class="form-label text-justify">
                                                By mail:  SAICO Claims Dept.,
                                            </p>
                                            <p class="form-label text-justify ps-7">
                                                Saudi Arabian Insurance Co. B.S.C. ©
                                            </p>
                                            <p class="form-label text-justify ps-7">
                                                P.O. Box 29397, Riyadh 11457, Kingdom of Saudi Arabia
                                            </p>
                                        </div>
                                        <div class="col-lg-3 col-md-3 bg-white border-dark">
                                            <p class="form-label text-justify">
                                                Questions?  Please contact SAICO
                                            </p>
                                            <p class="form-label text-justify">
                                                By Phone:  in Saudi Arabia:  +96612150634
                                            </p>
                                            <p class="form-label text-justify ps-7">
                                                in UAE:  +97142958852
                                            </p>
                                            <p class="form-label text-justify ps-7">
                                                in Bahrain:  +97317213912
                                            </p>
                                            <p class="form-label text-justify ps-7">
                                                in Qatar:  +9744322781
                                            </p>
                                            <p class="form-label text-justify ps-7">
                                                in Kuwait:  +9652475497
                                            </p>
                                            <p class="form-label text-justify">
                                                By mail:  cigname@saicoins.com
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <p class="form-label text-justify">
                                            SAICO is able to process your claim from this claim form or any standard claim form your provider might give you to complete.<br />
                                            Please ensure that you include your SAICO Member No. if you submit a claim form other than this one.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 border-dark">
                        <div>
                            <h5 class="font-weight-bold mt-4 ps-3">Section B.  Employee and Patient Information<span class="font-italic">(Please complete a separate claim form for each family member)</span></h5>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 ps-0">
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">
                                                1.Employee Name
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.doc_name&nbsp;</span>
                                            </div>
                                        </div>
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">2.Patient's Name</label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">
                                                3.Employee's Date of Birth
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <label class="text-black text-left">@Model.sacn_d6&nbsp;</label>
                                            </div>
                                        </div>
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">4.Patient's Date Of Birth</label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                @if (@emr.pat_dob != "")
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">
                                                5.Telephone
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_mob&nbsp;</span>
                                            </div>
                                        </div>
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">6.Email address </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_email&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-6 col-lg-6 ps-0">
                                            <label class="col-md-4 form-label">
                                                7. SAICO Member No.
                                            </label>
                                            <div class="d-flex  justify-content-center w-8  form-label">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pi_insno&nbsp;</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12 col-md-12 col-lg-12 ps-0">
                                            <div class="d-flex col-sm-12 col-md-12 col-lg-10">
                                                <p class="text-black text-justify">
                                                    8. Do you have any other health or travel insurance policy from which you may receive full or partial reimbursement for these expenses?
                                                </p>
                                            </div>
                                            <div class="d-flex col-sm-12 col-md-6 col-lg-2">
                                                <label class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" name="sacn_checkbox[1]" value="1" id="1">
                                                    <span class="custom-control-label">Yes</span>
                                                </label>&nbsp;
                                                <label class="custom-control custom-radio">
                                                    <input type="radio" class="custom-control-input" name="sacn_checkbox[1]" value="2" id="2">
                                                    <span class="custom-control-label">No</span>
                                                </label>&nbsp;
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 ps-0">
                                <div class="form-group row">
                                    <div class="col-sm-12 col-md-12 col-lg-12 border-dark">
                                        <h5 class="font-weight-bold ps-3 mt-4">
                                            Section C <span class="font-italic"> (continued)</span>
                                        </h5>
                                        <h6 class="ps-3">
                                            1. List of expenses for which reimbursement is claimed, the amount, and to whom payment should be made.
                                        </h6>
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table id="tbl_1" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                                                    <thead>
                                                        <tr style="color: #fff !important; background-color: #808080; border-color: #3C457D; ">
                                                            <th class="border-bottom-0 font-weight-semibold text-white">Diagnosis<span class="font-italic">(reason for treatment)</span></th>
                                                            <th class="border-bottom-0 font-weight-semibold text-white">Date of Service<span class="font-italic">(earliest if multiple)</span></th>
                                                            <th class="border-bottom-0 font-weight-semibold text-white">Amount<span class="font-italic">(local currency)</span></th>
                                                            <th class="border-bottom-0 font-weight-semibold text-white">Payment to<span class="font-italic">(employee/provider)</span></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td> <label class="text-black text-left">@Model.sacn_1&nbsp;</label></td>
                                                            <td>
                                                                <label class="text-black text-left">@Model.sacn_d1&nbsp;</label>
                                                            </td>
                                                            <td> <label class="text-black text-left">@Model.sacn_2&nbsp;</label></td>
                                                            <td> <label class="text-black text-left">@Model.sacn_3&nbsp;</label></td>
                                                        </tr>
                                                        <tr>
                                                            <td> <label class="text-black text-left">@Model.sacn_4&nbsp;</label></td>
                                                            <td>
                                                                <label class="text-black text-left">@Model.sacn_d2&nbsp;</label>
                                                            </td>
                                                            <td> <label class="text-black text-left">@Model.sacn_5&nbsp;</label></td>
                                                            <td> <label class="text-black text-left">@Model.sacn_6&nbsp;</label></td>
                                                        </tr>
                                                        <tr>
                                                            <td> <label class="text-black text-left">@Model.sacn_7&nbsp;</label></td>
                                                            <td>
                                                                <label class="text-black text-left">@Model.sacn_d3&nbsp;</label>
                                                            </td>
                                                            <td> <label class="text-black text-left">@Model.sacn_8&nbsp;</label></td>
                                                            <td> <label class="text-black text-left">@Model.sacn_9&nbsp;</label></td>
                                                        </tr>
                                                        <tr>
                                                            <td> <label class="text-black text-left">@Model.sacn_10&nbsp;</label></td>
                                                            <td>
                                                                <label class="text-black text-left">@Model.sacn_d4&nbsp;</label>
                                                            </td>
                                                            <td> <label class="text-black text-left">@Model.sacn_11&nbsp;</label></td>
                                                            <td> <label class="text-black text-left">@Model.sacn_12&nbsp;</label></td>
                                                        </tr>
                                                        <tr>
                                                            <td> <label class="text-black text-left">@Model.sacn_13&nbsp;</label></td>
                                                            <td>
                                                                <label class="text-black text-left">@Model.sacn_d5&nbsp;</label>
                                                            </td>
                                                            <td> <label class="text-black text-left">@Model.sacn_14&nbsp;</label></td>
                                                            <td> <label class="text-black text-left">@Model.sacn_15&nbsp;</label></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 ps-0">
                                <div class="form-group row mt-4">
                                    <div class="col-sm-12 col-md-12 col-lg-12 border-dark">
                                        <h5 class="font-weight-bold ps-3 mt-4">
                                            Section C.  Payment Details
                                        </h5>
                                        <h6 class="ps-3">
                                            2. Payment method.
                                        </h6>
                                        <p class="text-black text-justify ps-3">
                                            Payment will be made by cheque. Unless you instruct us otherwise, your reimbursement cheque will be sent to your employer’s local address,
                                            and your employer will then deliver it to you. If you would like to receive payment at an alternate address, please tick the box below and
                                            fill in the mailing information.
                                        </p>
                                        <p class="text-black text-justify ps-3">
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="sacn_checkbox" value="3" id="3">
                                                    <span class="custom-control-label"> Please send my reimbursement cheque to the address below:</span>
                                                </label>
                                            </div>
                                        </p>
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <label class="col-md-2 text-black">Name:</label>
                                            <div class="col-md-10">
                                                <label class="text-black text-left">@Model.sacn_16&nbsp;</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <label class="col-md-2 text-black">Address:</label>
                                            <div class="col-md-10">
                                                <label class="text-black text-left">@Model.sacn_17&nbsp;</label>
                                            </div>
                                        </div>
                                        <p class="text-black text-justify font-italic ps-3">Please note:  Reimbursement for claims made on this form will be in the currency of the country where services were rendered.  </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pt-0">
                        <p class="text-black text-justify">
                            <span class="font-weight-bold font-italic">Fraud Notice:</span> Any person who knowingly and with intent to injure, defraud,
                            or deceive any insurer, files a statement of claim containing false, incomplete, or misleading information commits a fraudulent insurance act, which is a crime.
                        </p>
                        <p class="text-black text-justify">
                            <span class="font-weight-bold font-italic">Patient’s Signature and Release:</span>
                            (parent or guardian, if claim is for a minor): I certify that the information supplied is true and correct.
                            I authorise the release of all records or other information which may be necessary to determine benefits payable. The information provided on this
                            form may be used and disclosed to other persons or entities, including my Plan Sponsor, for the purpose of processing of this claim and performing
                            health plan administration.
                        </p>
                        <div class="form-group row">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <label class="col-md-8 text-black"> Signature of the Insured/Guardian:</label>
                                <div class="col-md-4">
                                    <div class="form-group mb-3" style="display:none" id="upatimg"><img alt="Signature" src="" id="upat_sign" class="avatar avatar-xl bsquare" /></div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <label class="col-md-2 text-black">Date:</label>
                                <div class="col-md-6">
                                    <label class="text-black text-red text-left" id="upsb_date_witness" name="">&nbsp;</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row mt-4">
                            <div class="col-lg-12 col-md-12 ps-0">

                                <div class="col-sm-12 col-md-12 col-lg-12 border-dark">
                                    <h5 class="font-weight-bold ps-3 mt-4">
                                        This section to be completed by SAICO
                                    </h5>
                                    <div class="form-group row">
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left col-sm-12 col-md-6 col-lg-2">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="sacn_checkbox" value="4" id="4">
                                                <span class="custom-control-label"> Approve:</span>
                                            </label>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4">
                                            <label class="text-black text-left">@Model.sacn_18&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left col-sm-12 col-md-6 col-lg-2">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="sacn_checkbox" value="5" id="5">
                                                <span class="custom-control-label"> Other:</span>
                                            </label>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4">
                                            <label class="text-black text-left">@Model.sacn_19&nbsp;</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <img src="@Model.set_footer_image" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //#region Partial View Onload
        $(function () {
           GetSignaturename('patient');
           GetCheckedValues("@Model.sacn_checkbox");
        });
    //#endregion

    //#region Get CheckedValues
        var GetCheckedValues = function (checknames) {
            var str = checknames;
            console.log(str);
            var myarray = str.split(',');
            for (var i = 0; i < myarray.length; i++) {
                $('.custom-control-input').each(function () {
                    if (this.id == myarray[i]) {
                        $("#" + this.id).attr('checked', 'checked');
                        $("#" + this.id).prop("checked", true);
                    }
                });
            }
        }
    //#endregion

    //#region Print
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    //#endregion

    //#region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=SAICO',
                    type: "GET",
                    dataType: "json",
                    async: false,
                success: function (response) {
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_created).format("DD-MM-YYYY HH:mm");
                    if (response[0].person == "patient") {
                        $("#upatimg").show();
                        $("#upat_sign").attr("src", sign);
                        $("#upsb_date_witness").text(date);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
    //#endregion

</script>
