



@model BusinessEntities.EMRForms.Alico
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    ViewBag.Title = "Print Alico Reimbursement Claim Form";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";

    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" onclick="printDiv('printDiv')" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>
<div class="row fs-14" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-center">
                    <img src="@Model.set_header_image" />
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-4 ">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div>
                                    <h4 class="page-title text-center mb-0 text-primary">
                                        ALICO REIMBURSEMENT MEDICAL CLAIM FORM
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <label class="form-label mb-2 text-danger">
                                    Employee’s Section (*All Fields are Mandatory)
                                </label>
                            </div>
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2 ">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label ">
                                        Employees’s Full Name<span class="text-red">*</span>
                                    </label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7 mb-2">
                                    @if (@emr.doc_name != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.doc_name&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2 ">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label mb-2">Date of Birth</label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7 mb-2">
                                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2 ">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label ">
                                        Patient’s Full Name<span class="text-red">*</span>
                                    </label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7 mb-2 ">
                                    @if (@emr.pat_name != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2 ">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label mb-2">Date of Birth</label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7 mb-2">
                                    @if (@emr.pat_dob != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label ">
                                        Employee’s Nationality<span class="text-red">*</span>
                                    </label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7 mb-2">
                                    @if (@emr.emp_nat != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_nat&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label mb-2">Patient’s Nationality<span class="text-red">*</span></label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7 mb-2">
                                    @if (@emr.pat_nationality != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_nationality&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label">
                                        Employee Contact No.<span class="text-red">*</span>
                                    </label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7 mb-2">
                                    @if (@emr.emp_tel != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_tel&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label mb-2">
                                        Policy Number<span class="text-red">*</span>
                                        (Mentioned on your Medical Card) <span class="text-red">*</span>
                                    </label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7 mb-2">
                                    @if (@emr.pi_polocyno != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.pi_polocyno&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label">
                                        Certificate Number<span class="text-red">*</span>
                                        (Mentioned on your Medical Card)
                                    </label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7 mb-2">
                                    <label class="form-label text-black text-left">@Model.ali_ins4&nbsp;</label>
                                </div>
                            </div>
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label">
                                        Employee E-mail<span class="text-red">*</span>
                                    </label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7 mb-2">
                                    @if (@emr.emp_email != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_email&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2">
                                <div class="col-sm-12 col-md-6 col-lg-4 ps-0">
                                    <label class="form-label mb-2">
                                        Address<span class="text-red">*</span>
                                    </label>
                                </div>
                                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                    :
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-7 mb-2">
                                    @if (@emr.emp_address != "")
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">@emr.emp_address&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2 ">
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <label class="text-black mb-2">
                                    REIMBURSEMENT METHOD
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-2">
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="ali_checkbox[1]" value="1" id="1">
                                    <span class="custom-control-label">Wire Transfer</span>
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-2">
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="ali_checkbox[1]" value="2" id="2">
                                    <span class="custom-control-label">Cheque</span>
                                </label>
                            </div>
                        </div>
                        <div class="row mt-2 ">
                            <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
                                <label class="text-black mb-2">
                                    Primary Insured’s Bank Name<span class="text-red">*</span> & Swift Code<span class="text-red">*</span> (If not using IBAN)
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
                                <label class="form-label text-black text-left">@Model.ali_ins1&nbsp;</label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
                                <label class="form-label text-black text-left">@Model.ali_ins2&nbsp;</label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
                                <label class="text-black mb-2">
                                    IBAN / Account No.<span class="text-red">*</span> (Bahrain, Kuwait,Qatar and UAE - Provide IBAN for Wire Transfer)
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
                                <label class="form-label text-black text-left">@Model.ali_ins3&nbsp;</label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
                                <label class="text-black mb-2">
                                    Payment made in the name of
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-8 d-flex mt-2">
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="ali_checkbox[3]" value="3" id="3">
                                    <span class="custom-control-label">Employee</span>
                                </label>&nbsp;
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="ali_checkbox[3]" value="4" id="4">
                                    <span class="custom-control-label">Employer Group</span>
                                </label>
                                <label class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="ali_checkbox[3]" value="5" id="5">
                                    <span class="custom-control-label">Assigned Provider</span>
                                </label>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-2 mt-2">
                                <label class="text-black">
                                    Total Amount Claimed
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-3">
                                <label class="form-label text-black text-left">@Model.ali_ins5&nbsp;</label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-1">
                                <label class="text-black">
                                    Currency
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-3">
                                <label class="form-label text-black text-left">@Model.ali_ins6&nbsp;</label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-3">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <label class="form-label mb-2 text-danger">
                                    EMPLOYER’s Section
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-2 mt-2 ">
                                <label class="text-black">
                                    Employer’s Claim No
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-2 mt-2 ">
                                <label class="form-label text-black text-left">@Model.ali_ins7&nbsp;</label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-8 mt-2 ">
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 mt-2 ">
                                <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                                <label class="form-label mb-2 text-danger">
                                    Employer’s Signature & Stamp
                                </label>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <label class="form-label mb-2 text-danger">
                                    CLAIM SUBMISSION REQUIREMENTS
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <label class="text-black">
                                    To avoid any delays in the processing of your claim, please ensure that:
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="card-body ps-5 pe-5">
                                    <ul class="list-style2 text-justify text-black">
                                        <li>All fields on the form should be answered. Do not leave any blanks. Use block letters.</li>
                                        <li>All original claim documents should be submitted either in English or Arabic. Documents in other languages must be translated by an official public translator prior to submission.</li>
                                        <li>Provider Name & Address – Kindly use more than one line if necessary to provide this information about each facility where  you were treated.</li>
                                        <li>All necessary original claims documents are to be submitted within 30 days of the incurred date. Claims received after 90 days will not be processed.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <label class="text-black">
                                    The following original documents are to be attached:
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <div class="card-body ps-5 pe-5">
                                    <ul class="list-style2 text-justify text-black">
                                        <li>Official receipt showing the attending physician’s detailed charges along with his stamp and signature.</li>
                                        <li>Itemized pharmacy bill showing the date of purchase, name of patient, quantity and name of drugs along with the physician’s prescription.</li>
                                        <li>Official receipt showing charges for each of the Lab Test, X-ray films, and other examinations done and supported by the respective physician’s request to undergo examinations and copies of the results of examinations undertaken.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <div class="card-body ps-5 pe-5">
                                    <ul class="list-style2 text-justify text-black">
                                        <li>Itemized hospital bill supported by the official hospital receipt for the total amount paid.</li>
                                        <li>Official receipt showing Attending Physician’s or Surgeon’s charges along with his stamp and signature.</li>
                                        <li>Detailed hospital discharge report.</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 mt-2">
                                <label class="form-label mb-2 text-danger">
                                    AUTHORIZATION STATEMENT
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <p class="text-justify text-black">
                                    I hereby certify that all answers and all original documents submitted with the claim form are complete and true. I hereby authorize any doctor, hospital,
                                    or medical provider, any insurance company or any other company, institution or any other person who has any record or information about me and / or any
                                    of my family members to provide Metlife Alico (American Life Insurance Company) with the complete information's, including copies of their records with
                                    reference to my sickness or accident, any treatment, examination, advice, or hospitalization. Any photocopy of this authorization shall be taken as the
                                    original copy.
                                </p>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 mt-2">
                                <label class="form-label mb-2 text-danger">
                                    DISCLAIMER
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <p class="text-justify text-black">
                                    I hereby authorize Metlife Alico to wire transfer claim reimbursements to the account indicated above. This agreement will remain in effect until I give written notice to withdraw from wire transfer or Metlife Alico notifies me that this service has been terminated. If ever Metlife Alico credits more money than the correct benefit amount to the account due to duplicate or erroneous electronic funds transfers, I authorize Metlife Alico to revise the Transaction and withdraw the overpayment.
                                </p>
                                <p class="text-justify text-black">
                                    Metlife Alico will bear charges on account of claims reimbursement levied by the remitting bank. All charges that may be levied by the beneficiary’s bank / other third-party provider will be borne by the beneficiary. We suggest confirming these charges, if any, with your banking provider”.
                                </p>
                                <p class="text-justify text-black">
                                    I verify that the documentation submitted electronically is true and unaltered and I have all the original documents that can be presented upon request of the Insurance Company. I also accept and recognize that at the sole discretion of the MetLife Alico, these documents may be requested at any time during a period of one year counted from the submission of the claim, which I will provide within a period not exceeding of 30 days from the request. Failing to comply could imply the claim to be declined. If the case is confirmed to be declined, I will reimburse any amount paid by MetLife Alico to me or to any party as related to this claim.
                                </p>
                                <p class="text-justify text-black">
                                    i hereby understand no coverage and / or payment under the Policy and/or any supplementary contract (if any) will be provided / made if the person entitled to receive such payment is (i) residing in any sanctioned country, or (ii) is listed on the Office of Foreign Asset Control (OFAC) Specially Designed Nationals (SDN) list or any international or local sanction list, (iii) the payment is claimed for any services received in any sanctioned country, subject to the Policy and / or Supplementary contract terms and conditions.
                                </p>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                                <label class="form-label mb-2 text-danger">
                                    Employee’s Signature
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-6">
                                <span class="text-capitalize text-left text-black">@emr.app_fdate&nbsp;</span>
                                <label class="form-label mb-2 text-danger">
                                    Date
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <label class="form-label mb-2 text-danger">
                                    ATTENDING PHYSICIAN SECTION (<span class="text-red">*</span>Mandatory Fields)
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-2">
                                Patient’s Full Name
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <span class="text-capitalize text-left text-black">@emr.pat_name&nbsp;</span>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-2">
                                Date of Birth
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-2">
                                <span class="text-capitalize text-left text-black">@emr.pat_dob&nbsp;</span>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12 mt-2">
                                <label class="text-black">
                                    Chief Complains<span class="text-red">*</span>
                                </label>
                                <label class="form-label text-black text-left">@Model.ali_ins8&nbsp;</label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <label class="text-black">
                                    Diagnosis<span class="text-red">*</span>
                                </label>
                                <label class="form-label text-black text-left">@Model.ali_ins9&nbsp;</label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <label class="text-black">
                                    How long has the patient been suffering from this sickness?
                                    (Please specify the date symptoms first appeared.)
                                </label>
                                <label class="form-label text-black text-left">@Model.ali_ins10&nbsp;</label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <label class="text-black">
                                    If treated by other medical provider please specify the name and treatment details
                                </label>
                                <label class="form-label text-black text-left">@Model.ali_ins11&nbsp;</label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <label class="text-black">
                                    If the claim is resulting from pregnancy / childbirth, please provide the LMP
                                </label>
                                <label class="form-label text-black text-left">@Model.ali_ins12&nbsp;</label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <label class="text-black">
                                    Details of the treatment (other than Prescription)
                                </label>
                                <label class="form-label text-black text-left">@Model.ali_ins13&nbsp;</label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <label class="text-black">
                                    If further treatment or operative procedure anticipated, please provide the details
                                </label>
                                <label class="form-label text-black text-left">@Model.ali_ins14&nbsp;</label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-3">
                                <span class="text-capitalize text-left text-black">@emr.doc_name&nbsp;</span><br />
                                <label class="text-black">
                                    Physician’s Name
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-3">
                                <span class="text-capitalize text-left text-black">@emr.emp_address&nbsp;</span><br />
                                <label class="text-black">
                                    Address
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-3">
                                <span class="text-capitalize text-left text-black">@emr.emp_tel&nbsp;</span><br />
                                <label class="text-black">
                                    Tel. No
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-3">
                                <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" /><br />
                                <label class="text-black">
                                    Physician’s Signature and Stamp
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="table-responsive">
                                    <table id="tbl_Treatment" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                                        <thead>
                                            <tr style="color: #fff !important; background-color: #808080; border-color: #3C457D; ">
                                                <th class="border-bottom-0 font-weight-semibold text-white">REQUIRED</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">CHECK BOX</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">DOCUMENT</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">NOTE</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>YES</td>
                                                <td>
                                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                            <input type="checkbox" class="custom-control-input" name="ali_checkbox" value="7" id="7">
                                                            <span class="custom-control-label"></span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Claim Form (including Attending Physician Section)</td>
                                                <td>Fully completed and signed by you and your physician / surgeon</td>
                                            </tr>
                                            <tr>
                                                <td>YES</td>
                                                <td>
                                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                            <input type="checkbox" class="custom-control-input" name="ali_checkbox" value="8" id="8">
                                                            <span class="custom-control-label"></span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Detailed medical report</td>
                                                <td>Detailing ailment / diagnosis or accident with dates it started / happened, signed by your treating physicia</td>
                                            </tr>
                                            <tr>
                                                <td>YES</td>
                                                <td>
                                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                            <input type="checkbox" class="custom-control-input" name="ali_checkbox" value="9" id="9">
                                                            <span class="custom-control-label"></span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Original hospital / clinic bil</td>
                                                <td>Original</td>
                                            </tr>
                                            <tr>
                                                <td>If applicable</td>
                                                <td>
                                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                            <input type="checkbox" class="custom-control-input" name="ali_checkbox" value="10" id="10">
                                                            <span class="custom-control-label"></span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Copy of all relevant X-Rays / Echography / MRIs and reports</td>
                                                <td>Should reflect your name and date they were taken</td>
                                            </tr>
                                            <tr>
                                                <td>If applicable</td>
                                                <td>
                                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                            <input type="checkbox" class="custom-control-input" name="ali_checkbox" value="11" id="11">
                                                            <span class="custom-control-label"></span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Copy of all lab tests and reports</td>
                                                <td>Only related to this incident</td>
                                            </tr>
                                            <tr>
                                                <td>If applicable</td>
                                                <td>
                                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                            <input type="checkbox" class="custom-control-input" name="ali_checkbox" value="12" id="12">
                                                            <span class="custom-control-label"></span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>Copy of police report</td>
                                                <td>Required if claim relates to an accident</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //#region Partial View Onload
        $(function () {
        Get_Patient_Complaints();
        Get_Patient_Diagnosis();
        Get_Patient_Treatments();
        GetCheckedValues("@Model.ali_checkbox");
        });
    //#endregion

    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }

    //#region Load Get Patient Complaints
        var Get_Patient_Complaints = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Get_Patient_Complaints", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        var str2 = response[0].complaints;
                        var regex = /(|<([^>]+)>)/ig;
                        $("#ali_ins9").text(str2.replace(/(<p>|<\/p>)/g, ""));
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
    //#endregion

    //#region Load Get_Patient_Diagnosis
        var Get_Patient_Diagnosis = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Get_Patient_Diagnosis", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        var str2 = response[0].diag_names;
                        var regex = /(|<([^>]+)>)/ig;
                        $("#ali_ins9").text(str2.replace(/(<p>|<\/p>)/g, ""));
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
    //#endregion

    //#region Load Get_Patient_Treatments
        var Get_Patient_Treatments = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Get_Patient_Treatment", "ReimbursementForms", new { area = "EMRForms" })?appId=" +@emr.appId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#ali_ins11').text(response[0].treatments);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
    //#endregion

    //#region Get CheckedValues
        var GetCheckedValues = function (checknames) {
            var str = checknames;
            var myarray = str.split(',');
            for (var i = 0; i < myarray.length; i++) {
                $('.custom-control-input').each(function () {
                    if (this.id == myarray[i]) {
                        $("#" +this.id).attr('checked', 'checked');
                        $("#" +this.id).prop("checked", true);
                    }
                });
            }
        }
    //#endregion
</script>
