@model BusinessEntities.EMRForms.EmiratesInsurance
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    ViewBag.Title = "Print EmiratesInsurance Reimbursement Claim Form";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";

    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" onclick="printDiv('printDiv')" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>
<div class="row fs-14" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">               
                <!-- Row-->
                <div class="row">
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="col-lg-12 col-md-12 text-left">
                                    <img src="~/images/Reimbursement_Forms/emiratesinsurance.png" />
                                </div>
                                <div class="form-horizontal">
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                                            <label class="col-md-6 text-black">
                                                MEDICAL EXPENSES CLAIM FORM
                                            </label>
                                            <div class="col-md-6 text-black text-right" dir="rtl">
                                                نموذج المطالبة بالنفقات الطبية
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                                            <label class="col-md-4 text-black">
                                                Policy No
                                            </label>
                                            <div class="col-md-4">
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pi_polocyno&nbsp;</span>
                                            </div>
                                            <div class="col-md-4 text-black text-right" dir="rtl">
                                                لا توجد سياسة
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                                            <label class="col-md-4 text-black">
                                                Name of Insured /Employer
                                            </label>
                                            <div class="col-md-4">
                                                <label class="text-black text-left">@Model.cce_1</label>
                                            </div>
                                            <div class="col-md-4 text-black text-right" dir="rtl">
                                                اسم المؤمن عليه / صاحب العمل
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                                            <label class="col-md-4 text-black">
                                                Name of Employee
                                            </label>
                                            <div class="col-md-4">
                                                <label class="text-black text-left">@Model.cce_2</label>
                                            </div>
                                            <div class="col-md-4 text-black text-right" dir="rtl">
                                                اسم الموظف
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                                            <label class="col-md-4 text-black">
                                                To be Completed by Doctor
                                            </label>
                                            <div class="col-md-4">
                                                <label class="text-black text-left">@Model.cce_3</label>
                                            </div>
                                            <div class="col-md-4 text-black text-right" dir="rtl">
                                                ليتم استكماله من قبل دكتور
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                                            <label class="col-md-4 text-black">
                                                Name of Patient
                                            </label>
                                            <div class="col-md-4">
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                                            </div>
                                            <div class="col-md-4 text-black text-right" dir="rtl">
                                                اسم المريض
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                                            <label class="col-md-4 text-black">
                                                Age of Patient
                                            </label>
                                            <div class="col-md-4">
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_age&nbsp;</span>
                                            </div>
                                            <div class="col-md-4 text-black text-right" dir="rtl">
                                                عمر المريض
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                                            <label class="col-md-4 text-black">
                                                Date of Treatment
                                            </label>
                                            <div class="col-md-4">
                                                <span class="font-weight-normal1 text-capitalize text-left">@emr.app_fdate&nbsp;</span>
                                            </div>
                                            <div class="col-md-4 text-black text-right" dir="rtl">
                                                تاريخ العلاج
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                                            <label class="col-md-4 text-black">
                                                Date of onset of Sickness
                                            </label>
                                            <div class="col-md-4">
                                                @if (@Model.cce_dd1 != "1-January-1950")
                                                {
                                                    <label class="text-black text-left">@Model.cce_dd1</label>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                }
                                            </div>
                                            <div class="col-md-4 text-black text-right" dir="rtl">
                                                تاريخ ظهور المرض
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                                            <label class="col-md-4 text-black">
                                                Diagnosis (se overleaf)
                                            </label>
                                            <div class="col-md-4">
                                                <label class="text-black text-left">@Model.cce_4</label>
                                            </div>
                                            <div class="col-md-4 text-black text-right" dir="rtl">
                                                التشخيص (على السطح العلوي)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                                            <label class="col-md-4 text-black">
                                                Has the Patient suffered from this illness before?
                                            </label>
                                            <div class="col-md-4 row">
                                                <div class="col-md-4">
                                                    <label class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" name="maxn_checkbox[1]" value="1">
                                                        <span class="custom-control-label">Yes</span>
                                                    </label>
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" name="maxn_checkbox[1]" value="2">
                                                        <span class="custom-control-label">No</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-4 text-black text-right" dir="rtl">
                                                هل عانى المريض من هذا المرض من قبل؟
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                                            <label class="col-md-4 text-black">
                                                If Yes, give Peroid and details.
                                            </label>
                                            <div class="col-md-4">
                                                <label class="text-black text-left">@Model.cce_20</label>
                                            </div>
                                            <div class="col-md-4 text-black text-right" dir="rtl">
                                                إذا كان الجواب نعم ، فاذكر الحيض والتفاصيل.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                                            <label class="col-md-4 text-black">
                                                Doctor Name /Signature /Stamp
                                            </label>
                                            <div class="col-md-4">
                                                <div class="col-md-6">
                                                    <span class="font-weight-normal1 text-capitalize text-left">@emr.doc_name&nbsp;</span>
                                                </div>
                                                <div class="col-md-6">
                                                    <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                                                </div>
                                            </div>
                                            <div class="col-md-4 text-black text-right" dir="rtl">
                                                اسم الطبيب / التوقيع / الختم
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="table-responsive">
                                            <table id="tbl_Treatment" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                                                <tbody>
                                                    <tr>
                                                        <th>Details of Paid Expenses	</th>
                                                        <th>Dirham</th>
                                                        <th>Foreign Currency</th>
                                                        <th dir="rtl">تفاصيل المصاريف المدفوعة</th>
                                                    </tr>
                                                    <tr>
                                                        <td>1.Consulatation Fees</td>
                                                        <td>
                                                            <label class="text-black text-left">@Model.cce_5</label>
                                                        </td>
                                                        <td><label class="text-black text-left">@Model.cce_6</label></td>
                                                        <td dir="rtl">
                                                            1- رسوم الإذن
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2.Medicine	</td>
                                                        <td><label class="text-black text-left">@Model.cce_7</label></td>
                                                        <td><label class="text-black text-left">@Model.cce_8</label></td>
                                                        <td dir="rtl">
                                                            2- الطب
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>6.X-Ray,Lab.Tests	</td>
                                                        <td><label class="text-black text-left">@Model.cce_9</label></td>
                                                        <td><label class="text-black text-left">@Model.cce_10</label></td>
                                                        <td dir="rtl">
                                                            6-الأشعة السينية ، الاختبارات المعملية
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>4.Hospital(Room charges)	</td>
                                                        <td><label class="text-black text-left">@Model.cce_11</label></td>
                                                        <td><label class="text-black text-left">@Model.cce_12</label></td>
                                                        <td dir="rtl">
                                                            4.المستشفى (رسوم الغرفة)
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>5.Operation	</td>
                                                        <td><label class="text-black text-left">@Model.cce_13</label></td>
                                                        <td><label class="text-black text-left">@Model.cce_14</label></td>
                                                        <td dir="rtl">
                                                            5. العملية
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>6.Any other costs	</td>
                                                        <td><label class="text-black text-left">@Model.cce_15</label></td>
                                                        <td><label class="text-black text-left">@Model.cce_16</label></td>
                                                        <td dir="rtl">
                                                            6- أية تكاليف أخرى
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>TOTAL</td>
                                                        <td><label class="text-black text-left">@Model.cce_17</label></td>
                                                        <td><label class="text-black text-left">@Model.cce_18</label></td>
                                                        <td dir="rtl">
                                                            المجموع
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-6 text-black">
                                            THIS FORM MUST BE FULLY COMPLETED AND RETURNED ALONG WITH BILLS LAB REPORTS AND OTHER INVESTIGATIONS
                                        </label>
                                        <div class="col-md-6 text-black text-right" dir="rtl">
                                            يجب إكمال هذا النموذج بالكامل وإعادته مع تقارير معمل الفواتير والتحقيقات الأخرى
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                                            <label class="col-md-4 text-black">
                                                Date of 1st Visit
                                            </label>
                                            <div class="col-md-4">
                                                @if (@Model.cce_dd2 != "1-January-1950")
                                                {
                                                    <label class="text-black text-left">@Model.cce_dd2</label>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                }
                                            </div>
                                            <div class="col-md-4 text-black text-right" dir="rtl">
                                                تاريخ الزيارة الأولى
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                                            <label class="col-md-4 text-black">
                                                Date of 2nd Visit
                                            </label>
                                            <div class="col-md-4">
                                                @if (@Model.cce_dd3 != "1-January-1950")
                                                {
                                                    <label class="text-black text-left">@Model.cce_dd3</label>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                }
                                            </div>
                                            <div class="col-md-4 text-black text-right" dir="rtl">
                                                تاريخ الزيارة الثانية
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                                            <label class="col-md-4 text-black">
                                                Date of 6rd Visit
                                            </label>
                                            <div class="col-md-4">
                                                @if (@Model.cce_dd4 != "1-January-1950")
                                                {
                                                    <label class="text-black text-left">@Model.cce_dd4</label>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                }
                                            </div>
                                            <div class="col-md-4 text-black text-right" dir="rtl">
                                                تاريخ الزيارة الثالثة
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                                            <label class="col-md-4 text-black">
                                                Date of 4th Visit
                                            </label>
                                            <div class="col-md-4">
                                                @if (@Model.cce_dd6 != "1-January-1950")
                                                {
                                                    <label class="text-black text-left">@Model.cce_dd6</label>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                }
                                            </div>
                                            <div class="col-md-4 text-black text-right" dir="rtl">
                                                تاريخ الزيارة الرابعة
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                                            <label class="col-md-4 text-black">
                                                Date of 5th Visit
                                            </label>
                                            <div class="col-md-4">
                                                @if (@Model.cce_dd7 != "1-January-1950")
                                                {
                                                    <label class="text-black text-left">@Model.cce_dd7</label>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                }
                                            </div>
                                            <div class="col-md-4 text-black text-right" dir="rtl">
                                                تاريخ الزيارة الخامسة
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                                            <label class="col-md-4 text-black">
                                                Date of 6th Visit
                                            </label>
                                            <div class="col-md-4">
                                                @if (@Model.cce_dd5 != "1-January-1950")
                                                {
                                                    <label class="text-black text-left">@Model.cce_dd5</label>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                                                }
                                            </div>
                                            <div class="col-md-4 text-black text-right" dir="rtl">
                                                تاريخ الزيارة السادسة
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                                            <label class="col-md-4 text-black">
                                                To BE COMPLETED BY THE DOCTOR
                                            </label>
                                            <div class="col-md-4">
                                                <label class="text-black text-left">@Model.cce_19</label>
                                            </div>
                                            <div class="col-md-4 text-black text-right" dir="rtl">
                                                ليتم استكماله من قبل الطبيب
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                                            <label class="col-md-4 text-black">
                                                General Notes:-<br />
                                                [Presenting complaints ,CL/F, INV.done ,Diagnosis & Treatment]
                                            </label>
                                            <div class="col-md-4">
                                                <label class="text-black text-left">@Model.cce_21</label>
                                            </div>
                                            <div class="col-md-4 text-black text-right" dir="rtl">
                                                ملاحظات عامة: -<br />
                                                [تقديم الشكاوى والتشخيص والعلاج]
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <h6>EMPLOYERS CERTIFICATION	</h6>
                                    </div>
                                    <div class="form-group row">
                                        <p class="text-black text-justify">
                                            I/We here by certify that he above named employee / patients is a member of our Group Insurance Program and the information stated above is correct to the best of my/our Knowledge and belief
                                        </p>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <div>
                                                <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xxl bsquare" />
                                            </div>
                                            <label class="form-label">
                                                Signature of Employer
                                            </label>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="font-weight-normal1 text-capitalize text-left">@emr.app_fdate&nbsp;</span>
                                            <label class="form-label">
                                                Date
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Row -->
                <div class="text-center">
                    <img src="@Model.set_footer_image" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //#region Partial View Onload
        $(function () {
        GetCheckedValues("@Model.cce_chk");
        });
    //#endregion

    //#region Get CheckedValues
        var GetCheckedValues = function (checknames) {
            var str = checknames;
            console.log(str);
            var myarray = str.split(',');
            for (var i = 0; i < myarray.length; i++) {
                $('.custom-control-input').each(function () {
                    if (this.id == myarray[i]) {
                        $("#" + this.id).attr('checked', 'checked');
                        $("#" + this.id).prop("checked", true);
                    }
                });
            }
        }
    //#endregion

    //#region Print
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    //#endregion    

</script>
