

@model BusinessEntities.EMRForms.ArabOrient
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    ViewBag.Title = "Print ArabOrient Reimbursement Claim Form";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";

    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" onclick="printDiv('printDiv')" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>
<div class="row fs-14" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-center">
                    <img src="@Model.set_header_image" />
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                        <h1 class="font-weight-bold text-center">Professional Indemnity for Medical Practitioners</h1>
                    </div>
                </div>
                <!-- Row -->
                <div class="row">
                    <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h6 class="card-title">
                                    I. General Data
                                </h6>
                            </div>
                            <div class="card-body pb-0">
                                <div class="form-horizontal">
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                                            <label class="col-md-3 text-justify text-black">1. Full Name</label>
                                            <div class="d-flex  justify-content-center w-8  text-justify text-black">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <label class="text-black text-left">@Model.caon_1&nbsp;</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                                            <label class="col-md-3 text-justify text-black">2. Business Address</label>
                                            <div class="d-flex  justify-content-center w-8  text-justify text-black">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <label class="text-black text-left">@Model.caon_2&nbsp;</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                                            <label class="col-md-3 text-justify text-black">3. UAE Medical Association No.</label>
                                            <div class="d-flex  justify-content-center w-8  text-justify text-black">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <label class="text-black text-left">@Model.caon_3&nbsp;</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                                            <label class="col-md-3 text-justify text-black">4. Required Limit of Indemnity</label>
                                            <div class="d-flex  justify-content-center w-8  text-justify text-black">
                                                :
                                            </div>
                                            <div class="col-md-6">
                                                <label class="text-black text-left">@Model.caon_4&nbsp;</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <label class="col-md-12 text-justify text-black">5. a. At what medical school / university did the proposer graduate and when?</label>
                                            <div class="col-md-12">
                                                <label class="text-black text-left">@Model.caon_5&nbsp;</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <label class="col-md-12 text-justify text-black"> b. Professional Qualification Acquire</label>
                                            <div class="col-md-12">
                                                <label class="text-black text-left">@Model.caon_6&nbsp;</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <label class="col-md-12 text-justify text-black"> 6. Where and when has the proposer practiced his profession since graduation?</label>
                                            <div class="col-md-12">
                                                <label class="text-black text-left">@Model.caon_7&nbsp;</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-header">
                                <h4 class="card-title">II. Nature and Volume of your present and foreseeable future activities</h4>
                            </div>
                            <div class="card-body ps-6">
                                <div class="form-horizontal">
                                    <div class="form-group row">
                                        <label class="col-md-3 text-justify text-black">1. The proposer is practising as</label>
                                        <div class="col-md-9">
                                            <label class="text-black text-left">@Model.caon_8&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 text-justify text-black">2. Name (s) of qualified medical assistant(s) / technician(s)</label>
                                        <div class="col-md-8">
                                            <label class="text-black text-left">@Model.caon_9&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 text-justify text-black">3. Number of technicians employed</label>
                                        <div class="col-md-9">
                                            <label class="text-black text-left">@Model.caon_10&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 text-justify text-black">4. Number of nurses employed</label>
                                        <div class="col-md-9">
                                            <label class="text-black text-left">@Model.caon_11&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-12 text-justify text-black">5. Is the proposer under contract with or employed by any individual, firm or corporation? If so please give details.</label>
                                        <div class="col-md-12">
                                            <label class="text-black text-left">@Model.caon_12&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-12 text-justify text-black">6. Does the proposer own, wholly or in part, operate or administer any hospital, nursing home or other institution? If so, please give details including number of reserved beds.</label>
                                        <div class="col-md-12">
                                            <label class="text-black text-left">@Model.caon_13&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-12 text-justify text-black">7. Does the proposer own or operate x-ray machine or laser? If so, please give number, type and whether they are used for diagnosis or treatment or both</label>
                                        <div class="col-md-12">
                                            <label class="text-black text-left">@Model.caon_14&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 text-justify text-black">8.  Number of patients per year</label>
                                        <div class="col-md-3">
                                            <label class="text-black text-left">@Model.caon_15&nbsp;</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="card-header">
                                <h4 class="card-title">III. Previous Insurance / Previous Claims</h4>
                            </div>
                            <div class="card-body ps-6">
                                <div class="form-horizontal">
                                    <div class="form-group row">
                                        <label class="col-md-6 text-justify text-black">1.  If the proposer has been previously insured please specify:</label>
                                    </div>
                                    <div class="form-group row ps-4">
                                        <label class="col-md-2 text-justify text-black">Name of the Insurer</label>
                                        <div class="col-md-9">
                                            <label class="text-black text-left">@Model.caon_16&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row ps-4">
                                        <label class="col-md-2 text-justify text-black">Policy Period</label>
                                        <div class="col-md-9">
                                            <label class="text-black text-left">@Model.caon_17&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row ps-4">
                                        <label class="col-md-2 text-justify text-black">Limit of Indemnity</label>
                                        <div class="col-md-9">
                                            <label class="text-black text-left">@Model.caon_18&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row ps-4">
                                        <label class="col-md-2 text-justify text-black">Deductible</label>
                                        <div class="col-md-9">
                                            <label class="text-black text-left">@Model.caon_19&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 text-justify text-black">2. Has a previous application been declined?</label>
                                        <div class="col-md-3 d-flex">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="cir_checkbox[1]" value="1" id="1">
                                                <span class="custom-control-label">Yes</span>
                                            </label>&nbsp;
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="cir_checkbox[1]" value="2" id="2">
                                                <span class="custom-control-label">No</span>
                                            </label>&nbsp;
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 text-justify text-black">3. Has a previous Insurer required increased premium or special restrictions?</label>
                                        <div class="col-md-3 d-flex">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="cir_checkbox[3]" value="3" id="3">
                                                <span class="custom-control-label">Yes</span>
                                            </label>&nbsp;
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="cir_checkbox[3]" value="4" id="4">
                                                <span class="custom-control-label">No</span>
                                            </label>&nbsp;
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-5 text-justify text-black">4. Has a previous insurance been terminated / not been renewed by an Insurer?</label>
                                        <div class="col-md-3 d-flex">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="cir_checkbox[5]" value="5" id="5">
                                                <span class="custom-control-label">Yes</span>
                                            </label>&nbsp;
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="cir_checkbox[5]" value="6" id="6">
                                                <span class="custom-control-label">No</span>
                                            </label>&nbsp;
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-6 text-justify text-black">If so, please give detailed information</label>
                                        <div class="col-md-12">
                                            <label class="text-black text-left">@Model.caon_20&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-8 text-justify text-black">5. Have any claims or suits for malpractice been made against the proposer or any of his partners, assistants, nurses or technicians during the past five years?</label>
                                        <div class="col-md-3 d-flex">
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="cir_checkbox[7]" value="7" id="7">
                                                <span class="custom-control-label">Yes</span>
                                            </label>&nbsp;
                                            <label class="custom-control custom-radio">
                                                <input type="radio" class="custom-control-input" name="cir_checkbox[7]" value="8" id="8">
                                                <span class="custom-control-label">No</span>
                                            </label>&nbsp;
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-6 text-justify text-black">if so, please advise amount and background of each claim.</label>
                                        <div class="col-md-12">
                                            <label class="text-black text-left">@Model.caon_21&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <p class="text-justify text-black">I declare that the statement and particulars in this proposal are true and that I have not misstated or suppressed any material facts. I agree that this proposal, together with any other information supplied by me, shall form the basis of any contract of insurance effected thereon. Signing this proposal form does not bind the proposer or the Company to complete this insurance.</p>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-1 text-black">Date.</label>
                                        <div class="col-md-3">
                                            <label class="text-black text-left">@Model.caon_dd22&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="text-black">Sign & Stamp</label>
                                        <div class="col-md-12">
                                            <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row -->
                <div class="text-center">
                    <img src="@Model.set_footer_image" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //#region Partial View Onload
        $(function () {
            GetCheckedValues("@Model.caon_chk");
        });
    //#endregion

    //#region Get CheckedValues
        var GetCheckedValues = function (checknames) {
            var str = checknames;
            var myarray = str.split(',');

            for (var i = 0; i < myarray.length; i++) {
                $('.custom-control-input').each(function () {
                    if (this.id == myarray[i]) {
                        $("#" + this.id).attr('checked', 'checked');
                        $("#" + this.id).prop("checked", true);

                    }
                });
            }

        }
    //#endregion

    //#region Print
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        }
    //#endregion

</script>
