@using BusinessEntities;
@model BusinessEntities.EMR.LaserMarking
@{
    ViewBag.Title = "Print Girl Growth Charts Above 2 Years";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" onclick="printDiv('printDiv')" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>
<div class="row" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-center">
                    <img src="@Model.set_header_image" />
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div>
                            <h4 class="page-title mb-0 text-primary">
                                Girl Growth Charts Above 2 Years
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-sm-12 col-md-6 col-lg-12">
                        <div class="row border ">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name:&nbsp;</label></div>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID:&nbsp;</label></div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <label class="form-label text-red text-left">@emr.pat_emirateid&nbsp;</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No :&nbsp;</label></div>

                                    </div>

                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <label class="form-label text-red text-left">@emr.pat_code&nbsp;</label>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3"><label class="form-label text-black"> DOB&nbsp;</label></div>

                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <label class="form-label text-red text-left">@emr.pat_dob&nbsp;</label>
                                    </div>

                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3"><label class="form-label text-black"> Nationality:&nbsp;</label></div>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <label class="form-label text-red text-left">@emr.pat_nationality&nbsp;</label>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3"><label class="form-label text-black">Gender&nbsp;</label></div>

                                    </div>

                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <label class="form-label text-red text-left">@emr.pat_gender&nbsp;</label>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name	:&nbsp;</label></div>

                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <label class="form-label text-red text-left">@emr.doc_name&nbsp;</label>
                                    </div>

                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3"><label class="form-label text-black">Date&nbsp;</label></div>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-sm-12 col-md-6 col-lg-12">
                        <div class="form-group mb-3">
                            <img src="@Model.lfm_doc" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-12">
                        <div class="form-group mb-3">
                            <label class="form-label text-black">Notes&nbsp;</label>
                            <div id="pnote">

                            </div>
                        </div>

                    </div>
                </div>

                <div class="text-center">
                    <img src="@Model.set_footer_image" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var uchartnote = $('<textarea />').html("@Model.lfm_doc2").text();
    $('#pnote').html(uchartnote);

    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>




