@using System.Data
@model DataTable
@{
    ViewBag.Title = "Insurance Outstanding Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title mb-0 text-primary">Insurance Outstanding Summary</h4>
    </div>
    <div class="page-rightheader">
        <div class="btn-list">
            <button class="btn btn-secondary mb-2" type="button" id="printReport">
                <i class="fa fa-print"></i> Print
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div id="progress_loader" style="display:none;">
                    <div class="progress progress-sm mb-3">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-teal progress-bar-indeterminate"></div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="tbl_ins_outstanding" class="table table-striped table-bordered text-nowrap resize-table" style="width: 100%;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #3C457D; border-color: #3C457D;">
                                @foreach (var column in Model.Columns)
                                {
                                    <th class="border-bottom-0 font-weight-semibold text-white">@column</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow dr in Model.Rows)
                            {
                                <tr>
                                    @for (int columnIndex = 0; columnIndex < Model.Columns.Count; columnIndex++)
                                    {
                                        <td class="text-end">@dr[columnIndex]</td>
                                    }
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                @foreach (DataColumn column in Model.Columns)
                                {
                                    if (column.DataType == typeof(decimal))
                                    {
                                        decimal total = Model.AsEnumerable().Sum(r => r.Field<decimal>(column.ColumnName));
                                        <td class="text-end fs-14 font-weight-semibold">@total</td>
                                    }
                                    else
                                    {
                                        <td class="text-end fs-14 font-weight-semibold text-primary">Total : </td>
                                    }
                                }
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section myScripts{
    <style>
        @@media (min-width: 1200px) {
            .dt-buttons.btn-group {
                position: absolute;
                top: 0;
                left: 155px;
            }
        }
    </style>
    <script type="text/javascript">
        //#region Document Load
        $(function () {
            var table = $('#tbl_ins_outstanding').DataTable({
                pageLength: 100,
                lengthChange: true,
                buttons: [
                    {
                        extend: 'excel',
                        title: 'Insurance Outstanding Summary',
                        footer: 'true',
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.excelHtml5.action.call(this, e, dt, node, config);
                            exportLogs("Employee Exported Insurance Outstanding Summary to Excel!");
                        }
                    }
                ],
                info: false,
                ordering: false,
                "bPaginate": true,
                "bFilter": false,
                "bInfo": false,
                searching: false,
            });
            table.buttons().container().appendTo('#tbl_ins_outstanding_wrapper .col-md-6:eq(0)');
        });
        //#endregion

        //#region Export General Logs
        var exportLogs = function (desc) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ExportLogs", "AuditLogs", new { area = "Common" })?desc="+ desc,
                contentType: "application/json",
                dataType: "json"
            });
        }
        //#endregion

        //#region Print Report
        document.getElementById('printReport').addEventListener('click', handlePrintButtonClick);

        function handlePrintButtonClick() {
            var printWindow = window.open('', '_blank');

            var tableData = $('#tbl_ins_outstanding').clone();

            $(printWindow.document.body).html(tableData);

            $.ajax({
                type: "GET",
                url: "@Url.Action("PrintReport", "InsuranceOutstandingSummary", new { area = "Reports" })",
                success: function (response) {
                    if (response.isAuthorized) {
                        printWindow.print();
                    }
                    else {
                        Swal.fire({
                            title: "Access Denied!",
                            text: "You do not have enough privileges to Print this Report!",
                            icon: "error",
                            showCancelButton: 0,
                            confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                        });
                    }
                },
                error: function (xhr) {
                    console.log("Failed! Error Message : " + xhr.statusText);
                }
            });
        }
        //#endregion
    </script>
}