@model IEnumerable<BusinessEntities.Accounts.Accounting.AccountCategories>
@using System.Security.Claims;
@{
    ViewBag.Title = "Accounts & Material Management - Account Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var empId = claims.Where(c => c.Type == ClaimTypes.Sid).Select(c => c.Value).SingleOrDefault();
    var emp_name = claims.Where(c => c.Type == ClaimTypes.GivenName).Select(c => c.Value).SingleOrDefault();
    var emp_dept = claims.Where(c => c.Type == ClaimTypes.Locality).Select(c => c.Value).SingleOrDefault();
    var emp_department = claims.Where(c => c.Type == ClaimTypes.Surname).Select(c => c.Value).SingleOrDefault();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    var company = claims.Where(c => c.Type == ClaimTypes.PrimarySid).Select(c => c.Value).SingleOrDefault();
    var emp_branch = claims.Where(c => c.Type == ClaimTypes.GroupSid).Select(c => c.Value).SingleOrDefault();
}

<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title mb-0 text-primary">Account Categories</h4>
    </div>
    <div class="page-rightheader">
        <div class="btn-list">
            <button class="btn btn-outline-primary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#searchFilter" aria-expanded="false" aria-controls="collapseExample">
                <i class="fa fa-filter"></i> Advanced Filters
            </button>
            <a id="btn_Add_Category" data-bs-toggle="modal" data-bs-target="#add_category_modal" class="btn btn-secondary" onclick="addAccountCategory()"><i class="mdi mdi-plus"></i>&nbsp;Add Account Category</a>
        </div>
    </div>
</div>

<div class="row mt-2 mb-2">
    <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
        <div id="AccountCategoryAlert"></div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card mb-0">
            <div class="card-status bg-primary-1"></div>
            <div class="collapse" id="searchFilter">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="form-group mb-2">
                                <label class="form-label font-weight-semibold">Branch<small>(es)</small></label>
                                <select class="form-control" id="select_branch" multiple="multiple">
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="form-group mb-2">
                                <label class="form-label font-weight-semibold">Account Period</label>
                                <select class="form-control" id="select_period">
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="form-group mb-2">
                                <label class="form-label font-weight-semibold">Account Group<small>(s)</small></label>
                                <select class="form-control" id="select_group" multiple="multiple">
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="form-group mb-2">
                                <label class="form-label font-weight-semibold">Account Type<small>(s)</small></label>
                                <select class="form-control" id="select_type" multiple="multiple">
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="form-group mb-2">
                                <label class="form-label font-weight-semibold">&nbsp;</label>
                                <button class="btn btn-primary mb-2" type="button" id="btnSearch">
                                    <i class="fa fa-search-plus"></i>&nbsp;Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div id="progress-loader" style="display:none;">
                    <div class="progress progress-sm mb-3">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-teal progress-bar-indeterminate"></div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="tbl_account_categories" class="table table-striped table-bordered text-nowrap resize-table" style="width: 100%;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #3C457D; border-color: #3C457D; ">
                                <th class="border-bottom-0 font-weight-semibold text-white">Branch</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Group</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Code</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Category</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Type</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Debit</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Credit</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Edit</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Logs</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Group Name</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th class="text-right fs-17 text-primary font-weight-bold">Total :</th>
                                <th class="text-end fs-16 font-weight-bold"></th>
                                <th class="text-end fs-16 font-weight-bold"></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Create Accounting Category Modal-->
<div class="modal fade" id="add_category_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" id="sizeC">
        <div class="modal-content" id="add_category_modal_body">
        </div>
    </div>
</div>

<!--Update Accounting Category Modal-->
<div class="modal fade" id="edit_category_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" id="sizeU">
        <div class="modal-content" id="edit_category_modal_body">
        </div>
    </div>
</div>

<!--Accounting Category Audit Log Modal-->
<div class="modal fade overflow-auto" id="audit_logs_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" data-modal-from="account_period_logs" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="sizeL">
        <div class="modal-content" id="audit_logs_body">
        </div>
    </div>
</div>

<!--Create Accounting Group Modal-->
<div class="modal fade" id="add_group_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" id="sizeAG">
        <div class="modal-content" id="add_group_modal_body">
        </div>
    </div>
</div>

<!--Accounting Category Details Modal-->
<div class="modal fade overflow-auto" id="account_category_details_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" data-modal-from="account_period_logs" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="sizeAC">
        <div class="modal-content" id="account_category_details_body">
        </div>
    </div>
</div>

@section myScripts{
    <style>
        .dataTables_scrollBody {
            min-height: 300px !important;
        }
    </style>
    <script type="text/javascript">
        //#region Page Load
        $(function () {
            load_filters();
        });
        //#endregion

        //#region Load Advanced Filters
        var load_filters = function () {
            load_branches();

            load_types();

            load_periods();

            $('#select_group').SumoSelect({
                placeholder: 'Select Group(s)',
                captionFormat: '{0} Group(s) Selected',
                captionFormatAllSelected: 'All {0} Groups selected!',
                csvDispCount: 3,
                okCancelInMulti: true,
                isClickAwayOk: true,
                search: true,
                searchText: 'Search here...',
                selectAll: true
            });
        }

        // Load Branches
        var load_branches = function () {
            $('#select_branch').SumoSelect({
                placeholder: 'Select Branch(es)',
                captionFormat: '{0} Branch(es) Selected',
                captionFormatAllSelected: 'All {0} Branches selected!',
                csvDispCount: 3,
                okCancelInMulti: true,
                isClickAwayOk: true,
                search: true,
                searchText: 'Search here...',
                selectAll: true
            });

            $.ajax({
                url: '@Url.Action("GetBranches", "AccountGroups", new { area = "Accounts" })',
                type: "GET",
                dataType: "json",
                async: false,
                success: function (response) {
                    $('#select_branch').html('');
                    $('#select_branch')[0].sumo.reload();

                    if ("@emp_designation.ToString()" != "Super Administrator") {
                        $('#select_branch')[0].sumo.add(@emp_branch.ToString(), "@company.ToString()");
                        $('#select_branch')[0].sumo.selectItem(["@emp_branch.ToString()"]);
                    }
                    else {
                        $.each(response, function (j) {
                            $('#select_branch')[0].sumo.add(response[j].id, response[j].text);
                            $('#select_branch')[0].sumo.selectItem(["@emp_branch.ToString()"]);
                        });
                    }
                },
                error: function (xhr) {
                    console.log("Failed! Error Message : " + xhr.statusText);
                }
            }).done(function () {
                $('#select_branch')[0].sumo.reload();

                $('#select_branch').on('change', function () {
                    load_groups();
                });
            });
        }

        // Load Types
        var load_types = function () {
            $('#select_type').SumoSelect({
                placeholder: 'Select Type(s)',
                captionFormat: '{0} Type(s) Selected',
                captionFormatAllSelected: 'All {0} Types selected!',
                csvDispCount: 3,
                okCancelInMulti: true,
                isClickAwayOk: true,
                search: true,
                searchText: 'Search here...',
                selectAll: true
            })

            $('#select_type').html('');
            $('#select_type')[0].sumo.reload();

            $('#select_type')[0].sumo.add("Assets", "Assets");
            $('#select_type')[0].sumo.add("Liabilities", "Liabilities");
            $('#select_type')[0].sumo.add("Income", "Income");
            $('#select_type')[0].sumo.add("Expenses", "Expenses");
            $('#select_type')[0].sumo.add("Equity", "Equity");

            $('#select_type')[0].sumo.reload();
        }

        // Load Periods
        var load_periods = function () {
            $("#select_period").select2({
                placeholder: 'Select Period',
                width: '100%',
                minimumResultsForSearch: '',
                maximumInputLength: 10,
                escapeMarkup: function (markup) {
                    return markup;
                }
            });

            $.ajax({
                url: '@Url.Action("GetActiveAccountPeriods", "AccountPeriods", new { area = "Accounts" })',
                dataType: 'json',
                delay: 250,
                data: function (query) {
                    return {
                        query: query.term,
                        type: 0
                    };
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                },
                cache: true
            }).done(function (response) {
                var select2 = $("#select_period");
                select2.empty();

                $.each(response, function (index, item) {
                    select2.append(new Option(item.text, item.id, false, false));
                });

                var firstOption = response[0];

                if (firstOption) {
                    select2.val(firstOption.id).trigger({
                        type: 'select2:select',
                        params: {
                            data: firstOption
                        }
                    });
                }

                getAccountCategories();
            });
        }

        // Load Groups
        $('#select_period').on('select2:select', function () {
            load_groups();
        });

        $('#select_period').on('select2:unselecting', function () {
            $('#select_group').html('');
            $('#select_group')[0].sumo.reload();
        });

        var load_groups = function () {
            if ($('#select_period').val() != null && $('#select_branch').val().toString() != "") {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetAccountGroupsByBranchPeriod", "AccountGroups", new { area = "Accounts" })?ag_period=' + $('#select_period').val() + "&ag_branch=" + $('#select_branch').val().toString(),
                    dataType: 'json',
                    success: function (response) {
                        $('#select_group').html('');
                        $('#select_group')[0].sumo.reload();

                        if (response.length > 0) {
                            $.each(response, function (j) {
                                $('#select_group')[0].sumo.add(response[j].id, response[j].text);
                            });
                        }
                    },
                    error: function (xhr) {
                        console.log(xhr);
                        console.log("Failed to Load Groups! Error Message : " + xhr.statusText);
                    }
                }).done(function () {
                    $('#select_group')[0].sumo.reload();
                });
            }
            else {
                $('#select_group').html('');
                $('#select_group')[0].sumo.reload();
            }
        }
        //#endregion

        //#region Search Account Categories
        $("#btnSearch").click(function (e) {
            e.preventDefault();

            if ($("#select_branch").val() != null && $("#select_branch").val() != 0 && $("#select_branch").val() != "") {
                if (($("#select_period").val() != null && $("#select_period").val() != 0 && $("#select_period").val() != "") ||
                    ($("#select_group").val() != null && $("#select_group").val() != 0 && $("#select_group").val() != "") ||
                    ($("#select_type").val() != null && $("#select_type").val() != 0 && $("#select_type").val() != "")) {

                    getAccountCategories();
                }
                else {
                    Swal.fire({
                        title: "Attention!",
                        text: "Search by Either of the following filters : Account Period / Type(s) / Group(s)",
                        icon: "warning",
                        showCancelButton: 0,
                        confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60"
                    });
                }
            }
            else {
                Swal.fire({
                    title: "Attention!",
                    text: "You need to select atleast 1 Branch to Filter Account Categories!",
                    icon: "warning",
                    showCancelButton: 0,
                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60"
                });
            }
        });
        //#endregion

        //#region Load Account Categories
        function getAccountCategories() {
            var branch = "";

            if ("@emp_designation.ToString()" != "Super Administrator") {
                branch = @emp_branch.ToString();
            }
            else {
                branch = $('#select_branch').val().toString();
            }

            var _data = {
                "select_branch": branch,
                "select_period": $("#select_period :selected").val(),
                "select_types": $("#select_type").val().toString(),
                "select_group": $("#select_group").val().toString()
            }

            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAccountCategories", "AccountCategories", new { area = "Accounts" })",
                beforeSend: function () {
                    $('#progress-loader').show();
                },
                data: _data,
                success: function (response) {
                    if (response.isAuthorized) {
                        var table;
                        if ($.fn.dataTable.isDataTable('#tbl_account_categories')) {
                            table = $('#tbl_account_categories').DataTable();
                            table.clear();
                            table.rows.add(response.ac_list).draw();
                        }
                        else {
                            BindDataTable(response.ac_list);
                        }
                    }
                    $('#progress-loader').hide();
                },
                error: function (xhr) {
                    console.log(xhr);
                    $('#progress-loader').hide();
                }
            });
        }
        //#endregion

        //#region Bind Datatable
        var BindDataTable = function (response) {
            var numberRenderer = $.fn.dataTable.render.number(',', '.', 2,).display;

            var table = $("#tbl_account_categories").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                processing: true,
                "deferRender": true,
                "paging": false,
                "retrieve": true,
                lengthChange: true,
                scrollX: true,
                scrollY: 500,
                scrollCollapse: true,
                "aaData": response,
                "aoColumns": [
                    {
                        "mData": "set_company"
                    },
                    {
                        "mData": "ac_code_group"
                    },
                    {
                        "mData": "ac_code"
                    },
                    {
                        "className": "text-dark font-weight-semibold",
                        "mData": "ac_category",
                        "render": function (ac_category, type, full, meta) {
                            return '<a class="text-dark cursor" href="javascript:void(0)" onclick="viewCategoryDetails(' + full.acId + ',\'' + full.ac_code + '\',\'' + ac_category + '\',\'' + full.ac_type + '\',\'' + full.ac_period + '\')">' + ac_category + '</a>';
                        }
                    },
                    {
                        "mData": "ac_type"
                    },
                    {
                        "mData": "ac_debit",
                        "className": "text-end fs-12 font-weight-semibold",
                        "render": $.fn.dataTable.render.number(',', '.', 2)
                    },
                    {
                        "mData": "ac_credit",
                        "className": "text-end fs-12 font-weight-semibold",
                        "render": $.fn.dataTable.render.number(',', '.', 2)
                    },
                    {
                        "orderable": false,
                        "searchable": false,
                        "mData": "acId",
                        "className": 'text-center',
                        "render": function (acId, type, full, meta) {
                            var visible = full.actionvisible;
                            var status = full.ac_status;

                            if (status == "Active") {
                                if (visible === "True") {
                                    return '<button type="button" onclick="editAccountCategory(\'' + acId + '\')" class="btn btn-sm btn-outline-primary">Edit</button>';
                                }
                                else {
                                    return '<span class="badge rounded-pill text-danger mt-2 border-danger">Allocated</span>';
                                }
                            }
                            else {
                                return '';
                            }
                        }
                    },
                    {
                        "orderable": false,
                        "searchable": false,
                        "mData": "acId",
                        "className": 'text-center',
                        "render": function (acId, type, full, meta) {
                            return '<button type="button" onclick="viewAuditLogs(\'' + acId + '\')" class="btn btn-sm btn-outline-dark">Logs</button>';
                        }
                    },
                    {
                        "visible":false,
                        "orderable":false,
                        "searchable":false,
                        "mData": "ag_group"
                    }
                ],
                order: [[0, 'asc']],
                buttons: [
                    {
                        extend: 'excel',
                        title: 'Account Categories Detail',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6]
                        },
                        action: function (e, dt, node, config) {
                            //$.fn.dataTable.ext.buttons.excelHtml5.action.call(this, e, dt, node, config);
                            exportToExcel();
                            exportLogs("Employee Exported Account Categories to Excel!");
                        }
                    },
                    {
                        extend: 'pdf',
                        title: 'Account Categories Detail',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6]
                        },
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.pdfHtml5.action.call(this, e, dt, node, config);
                            exportLogs("Employee Exported Account Categories to PDF!");
                        }
                    },
                    {
                        extend: 'csv',
                        title: 'Account Categories Detail',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6]
                        },
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.csvHtml5.action.call(this, e, dt, node, config);
                            exportLogs("Employee Exported Account Categories to CSV!");
                        }
                    },
                    {
                        extend: 'print',
                        title: 'Account Categories Detail',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6]
                        },
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.print.action.call(this, e, dt, node, config);
                            exportLogs("Employee Printed Account Categories!");
                        }
                    }
                ],
                language: {
                    searchPlaceholder: 'Search...',
                    zeroRecords: "No Record(s) Found",
                    infoEmpty: "No Record(s) Available",
                    sSearch: '<span class="text-primary font-weight-semi-bold">Search By Group / Category / Type / Status</span>',
                    scrollX: "100%",
                    lengthMenu: '_MENU_ ',
                    sEmptyTable: '<span class="text-secondary">No Record(s) Available Based On Request</span>',
                },
                drawCallback: function (settings) {
                    var api = this.api();
                    var rows = api.rows({ page: 'current' }).nodes();
                    var lastType = null;
                    var lastGroup = null;

                    api.column(4, { page: 'current' }).data().each(function (group, i) {
                        if (lastType !== group) {
                            $(rows).eq(i).before(
                                '<tr class="group font-weight-bold fs-17"><td colspan="9"> <span class="">Group Type :</span> <span class=" text-primary">' + group + '</span></td></tr>'
                            );
                            lastType = group;
                        }

                        var currentGroup = api.cell(i, 9).data();
                        if (lastGroup !== currentGroup) {
                            $(rows).eq(i).before(
                                '<tr class="subgroup font-weight-semibold"><td colspan="9"><span class="fs-15 ms-2">Group :</span> <span class=" text-secondary">' + currentGroup + '</span></td></tr>'
                            );
                            lastGroup = currentGroup;
                        }
                    });
                },
                footerCallback: function (row, data, start, end, display) {
                    var api = this.api();

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
                    };

                    var total = api.column(5).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    $(api.column(5).footer()).html(numberRenderer(total.toFixed(2)));

                    var total = api.column(6).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    $(api.column(6).footer()).html(numberRenderer(total.toFixed(2)));
                },
            });

            table.buttons().container().appendTo('#tbl_account_categories_wrapper .col-md-6:eq(0)');
        }
        //#endregion

        //#region View Category Detailed View
        var viewCategoryDetails = function (acId, ac_code, ac_category, ac_type, ac_period) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("ViewAccountCategoryDetails", "AccountCategories", new { area = "Accounts" })?acId=" + acId + "&ac_code=" + ac_code + "&ac_category=" + ac_category + "&ac_type=" + ac_type + "&ac_period=" + ac_period,
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $("#account_category_details_body").html(data);
                    $("#account_category_details_modal").modal("show");
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        };
        //#endregion

        //#region Add Account Categories
        function addAccountCategory() {
            $("#spinner2").show();
            $.ajax({
                type: "GET",
                url: "@Url.Action("CreateAccountCategory", "AccountCategories", new { area = "Accounts" })",
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $('#add_category_modal').attr("data-modal-from", "create-category");
                    $("#add_category_modal_body").html(data);
                    $("#add_category_modal").modal("show");
                },
                error: function (xhr) {
                    console.log(xhr);
                    $("#spinner2").hide();
                },
                complete: function () {
                    // Hide spinner when request is complete
                    $("#spinner2").hide();
                }
            });
        }
        //#endregion

        //#region Edit Account Categories
        function editAccountCategory(acId) {
            $("#spinner2").show();
            $.ajax({
                type: "GET",
                url: "@Url.Action("EditAccountCategory", "AccountCategories", new { area = "Accounts" })?acId=" + acId,
                contentType: "application/json",
                dataType: "html",
                success: function(data) {
                    $("#edit_category_modal_body").html(data);
                    $("#edit_category_modal").modal("show");
                },
                error : function (xhr) {
                    console.log(xhr);
                    $("#spinner2").hide();
                },
                complete: function () {
                    // Hide spinner when request is complete
                    $("#spinner2").hide();
                }
            });
        }
        //#endregion

        //#region Account Categories Audit Logs
        var viewAuditLogs = function (acId) {
            $("#spinner2").show();
            $.ajax({
                type: "GET",
                url: "@Url.Action("AccountCategoryAuditLogs", "AccountCategories", new { area = "Accounts" })?acId=" + acId,
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $("#audit_logs_body").html(data);
                    $("#audit_logs_modal").modal("show");
                },
                error: function (xhr) {
                    console.log(xhr);
                    $("#spinner2").hide();
                },
                complete: function () {
                    // Hide spinner when request is complete
                    $("#spinner2").hide();
                }
            });
        };
        //#endregion

        //#region Export General Logs
        var exportLogs = function (desc) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ExportLogs", "AuditLogs", new { area = "Common" })?desc="+ desc,
                contentType: "application/json",
                dataType: "json"
            });
        }
        //#endregion

        //#region Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
        //#endregion
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.5/xlsx.full.min.js"></script>
    <script>
        function exportToExcel() {
            var table = document.getElementById('tbl_account_categories');
            var wb = XLSX.utils.table_to_book(table, { sheet: "Sheet1" });
            XLSX.writeFile(wb, 'AccountCategories.xlsx');
        }
    </script>
}