@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConsentForms.StressTest

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_StressTest" autocomplete="off" name="StressTest" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5 mt-5 text-justify">
        <p class="font-weight-semibold">PROCEDURE</p>
        <p>Your doctor has referred you for an exercise stress test. The exercise stress test will evaluate your heart and vascular system’s response to exercise. It will help diagnose blocked arteries in the heart (coronary artery disease), assess abnormal heart beats, and check pacemaker function.</p>
        <p>
            You will be connected to an electrocardiograph (ECG), which records your heart beat, and a blood pressure monitor. Your heart will be exercised or ‘stressed’ by walking on a treadmill. The speed and slope of the treadmill will increase every three minutes. Exercise intensity may be high. The test will be stopped if you have significant chest pain, become very tired or very short of breath.
        </p>
        <p>
            Your heart rate, electrocardiogram and blood pressure will be monitored during and after the test. If you feel unwell or experience any symptoms you should tell the doctor or technician immediately.
        </p>
        <p class="font-weight-semibold"><span style="text-decoration: underline;">RISKS OF THIS PROCEDURE</span></p>
        <p>Some of the more serious risks of this procedure are</p>
        <p>1 in 1,000 people </p>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <ul style="list-style:disc" class="ms-5">
                <li>Abnormal heart beat</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <ul style="list-style:disc" class="ms-5">
                <li>Development of fluid in the lungs. You may need medication to treat this</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <ul style="list-style:disc" class="ms-5">
                <li>Chest pain. This is treated with medication.</li>
            </ul>
        </div>
        <p>1 in 2,500 people </p>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <ul style="list-style:disc" class="ms-5">
                <li><p>Heart attack</p></li>
            </ul>
        </div>
        <p>1 in 10,000 people </p>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <ul style="list-style:disc" class="ms-5">
                <li><p>Death. The danger is greater if you have heart disease or blocked arteries (coronary artery disease) in the heart already.</p></li>
            </ul>
        </div>
        <p>There is a small risk of muscle or joint injury.</p>
        <p class="font-weight-semibold">Please advise staff if you have any of the following conditions.</p>
        <p class="font-weight-semibold">Stress testing should not be performed in the following situations:</p>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <ul style="list-style:disc" class="ms-5">
                <li>Very recent heart attack (within 2 days).</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <ul style="list-style:disc" class="ms-5">
                <li>Unstable chest pain (angina) not yet settled by medical treatment.</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <ul style="list-style:disc" class="ms-5">
                <li>Abnormal heart beats, which are causing symptoms or affecting the blood supply to your body.</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <ul style="list-style:disc" class="ms-5">
                <li>Heart valve problems causing symptoms.</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <ul style="list-style:disc" class="ms-5">
                <li>Fluid in the lungs that is not controlled by medication and is causing symptoms.</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <ul style="list-style:disc" class="ms-5">
                <li>Recent blood clots in the lungs.</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <ul style="list-style:disc" class="ms-5">
                <li>Current swelling of the heart muscle or the sac containing the heart.</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <ul style="list-style:disc" class="ms-5">
                <li>Recent tearing of the wall of the large artery (aorta).</li>
            </ul>
        </div>

        <p>Please note that this test is not 100% accurate and a negative result does not guarantee you do not have heart disease</p>
        <p class="font-weight-semibold">CONSENT</p>
        <p>
            I   <label class="form-label-sm text-red">@emr.pat_name&nbsp;</label>,<label class="form-label-sm text-red">@emr.pat_dob&nbsp;</label>(date of birth), have read and fully understood the above information regarding the test procedure and associated risks.
        </p>
        <p>I hereby consent to undergoing the procedure of an exercise stress test to be performed at the Doctors Clinic Diagnostic Center.</p>
        <p>I also consent to such further treatment measures as may be deemed necessary during the course of the procedure.</p>

    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="3" class="font-weight-bold text-danger fs-18" width="100%">
                        Sign here, only if all of your questions have been answered to your satisfaction
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <div id="pat_sign_box">
                            <img alt="Signature" src="" id="pat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="34%">
                        <div id="wit_sign_box">
                            <img alt="Signature" src="" id="wit_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>

                    <td width="33%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize mt-1">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold"> Patient Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left mt-2" id="psb_date_patient" name="">&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                    <td width="34%">
                        @Html.TextBoxFor(m => m.stf_1, new { @class = "form-control form-control-sm mb-0 text-center", @id = "stf_1" })<br />
                        Witness Name
                        <br /><br /><label class="form-label text-red text-left mt-0" id="psb_date_witness" name="">&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize mt-2">@emr.doc_name&nbsp;</label>
                        <span class="font-weight-semibold">Doctor’s Name</span>
                        <br /><br /><br />
                        <label class="form-label text-red text-left mt-1" id="stf_date_doctor"></label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue" width="33%">
                        Patient / Parent / Guardian Signature
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue  text-center" width="34%">
                        Witness
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> witness
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('witness')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('witness')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center" width="33%">Doctor’s Signature</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-success btn-sm" id="btn_Insert">Save</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset_C">Reset</button>
                <button type="button" class="btn btn-danger btn-sm d-none" id="btn_Delete">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success d-none" id="btn_Print_C"> Download/Print </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Insert").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Insert").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Insert").show();
                }
                else {
                    $("#btn_Insert").hide();
                }
            }
        }

        validate();

    });

    //#region Validation Initialization
    var validate = function () {
        $("#form_StressTest").validate({
            rules: {
                stf_1: {
                    required: true
                },
            },
            messages: {
                stf_1: {
                    required: "Please Enter Witness Name"
                },
            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
    //#endregion

    //#region Add  Click
    $('#btn_Insert').on('click', function (e) {
        e.preventDefault();
        if ($("#form_StressTest").valid()) {
            $('#btn_Insert').removeClass("btn btn-sm btn-success");
            $('#btn_Insert').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Insert').html("Saving the Record....");

            var _dateInsert = {
                "stfId": 0,
                "stf_appId": @emr.appId,
                "stf_1": $("#stf_1").val(),
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }
            console.log(_dateInsert);
            $.ajax({
                type: "Post",
                url: "@Url.Action("InsertStressTest", "StressTest", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-sm btn-success");
                    $('#btn_Insert').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isInserted) {
                            GetStressTestInfo();
                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> Stress Test Form Saved Successfully!", "success");
                            Timeout();
                            $("#btn_Delete").removeClass("d-none");
                            $("#btn_Print").removeClass("d-none");
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning..Stress Test Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-sm btn-warning");
                    $('#btn_Insert').html("Add");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion Add Click

    //#region Delete Click
    $('#btn_Delete').on('click', function (e) {
        e.preventDefault();
        $('#btn_Delete').removeClass("btn btn-success");
        $('#btn_Delete').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Delete').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteStressTest", "StressTest", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-warning");
                $('#btn_Delete').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i> Stress Test Form Deleted Successfully!", "success");
                        clearControls();
                        GetStressTest();

                        $('#btn_Delete').addClass("d-none");
                        $("#pat_sign_box").addClass("d-none");
                        $("#wit_sign_box").addClass("d-none");
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-Delete");
                $('#btn_Delete').html("Delete");
                Timeout();
            }
        })
    });
//#endregion

//#region Print
    $('#btn_Print_C').on('click', function (e) {
    e.preventDefault();
        $('#btn_Print_C').removeClass("btn btn-success");
        $('#btn_Print_C').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Print_C').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "StressTest", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=StressTest",
        dataType: 'JSON',
        success: function (data) {
            console.log(data);
            if (data.isAuthorized) {
                if (data.success) {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print

    //#region Reset
    $('#btn_Reset_C').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("#pat_sign,#wit_sign").attr("src", "");

    }
    //#endregion Clear Controls
    //#region Wacom Tab Signature
    var openWacomTabSignaturePad = function (id) {
       var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "StressTest",
            "appId": @emr.appId,
            "formname":"Stress Test",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
//#endregion
    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "StressTest",
            "appId": @emr.appId,
            "formname":"Stress Test",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {

            GetSignaturename('patient');
            GetSignaturename('witness');
            localStorage.removeItem("sign");
        }
    });

    //#region Get Signature
    var GetSignaturename = function  (person) {
        $.ajax({
            url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=StressTest',
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                console.log(response);
                let sign = response[0].psb_sign;
                var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY");

                if (response[0].person == "patient") {
                    $("#pat_sign_box").removeClass("d-none");
                    $("#psb_date_patient").html(date);
                    $("#pat_sign").attr("src", sign);
                }
                if (response[0].person == "witness") {
                    $("#wit_sign_box").removeClass("d-none");
                    $("#wit_sign").attr("src", sign);
                    $("#psb_date_witness").html(date);
                }
            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr);
            }

        });
    };
    //#endregion Get Signature

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout

</script>