@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Stress Test";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Exercise Stress Test Consent Form</h3>
            </div>
            <div class="card-body">
                <div id="StressTest_add" style="display:none">
                </div>
                <div id="StressTest_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="StressTest_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetStressTestInfo();
        StressTestPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetStressTestInfo
    var GetStressTestInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetStressTestData", "StressTest", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditStressTest();
                        $("#StressTest_add").hide();
                        $("#StressTest_edit").show();

                    }
                    else {
                        $("#StressTest_add").show();
                        $("#StressTest_edit").hide();
                        AddStressTest();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load StressTest

    //#region Add StressTest
    function AddStressTest() {
        var x = $("#StressTest_add");
        x.load("@Url.Action("CreateStressTest", "StressTest", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add StressTest

    //#region Update StressTest
    function EditStressTest() {
        var x = $("#StressTest_edit");
        x.load("@Url.Action("UpdateStressTest", "StressTest", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update StressTest

    //#region Histroy of StressTest
    function StressTestPreviousHistory() {
        var x = $("#StressTest_history");
        x.load("@Url.Action("StressTestPreviousHistory", "StressTest", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>