@using BusinessEntities;
@using System.Linq;
@using System.Security.Claims;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    ViewBag.Title = "DischargeUltralasikTreatmentNewIndex";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Discharge Summary For Ultralasik Treatment Procedure
                </h3>
            </div>
            <div class="card-body">
                <div id="DischargeUltralasikTreatmentNew_add" style="display:none">
                </div>
                <div id="DischargeUltralasikTreatmentNew_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="DischargeUltralasikTreatmentNew_history">
                </div>
            </div>
        </div>
    </div>
</div>
@section myScripts{
    <script>
        //#region Page Load
        $(function () {
            GetDischargeUltralasikTreatmentNewInfo();
           DischargeUltralasikTreatmentNewPreviousHistory();

        });
        //#endregion Page Load

        //#region Load GetDischargeUltralasikTreatmentNewInfo
        var GetDischargeUltralasikTreatmentNewInfo = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetDischargeUltralasikTreatmentNewData", "DischargeUltralasikTreatmentNew", new { area = "ConsentForms" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        if (response.length > 0) {
                            EditDischargeUltralasikTreatmentNew();
                            $("#DischargeUltralasikTreatmentNew_add").hide();
                            $("#DischargeUltralasikTreatmentNew_edit").show();

                        }
                        else {
                            $("#DischargeUltralasikTreatmentNew_add").show();
                            $("#DischargeUltralasikTreatmentNew_edit").hide();
                            AddDischargeUltralasikTreatmentNew();
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
        //#endregion Load DischargeUltralasikTreatmentNew

        //#region Add DischargeUltralasikTreatmentNew
        function AddDischargeUltralasikTreatmentNew() {
            var x = $("#DischargeUltralasikTreatmentNew_add");
            x.load("@Url.Action("CreateDischargeUltralasikTreatmentNew", "DischargeUltralasikTreatmentNew", new { area = "ConsentForms" })", function () {
          });
        }
        //#endregion Add DischargeUltralasikTreatmentNew

        //#region Update DischargeUltralasikTreatmentNew
        function EditDischargeUltralasikTreatmentNew() {
            var x = $("#DischargeUltralasikTreatmentNew_edit");
            x.load("@Url.Action("UpdateDischargeUltralasikTreatmentNew", "DischargeUltralasikTreatmentNew", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
          //#endregion Update DischargeUltralasikTreatmentNew

          //#region Histroy of DischargeUltralasikTreatmentNew
        function DischargeUltralasikTreatmentNewPreviousHistory() {
            var x = $("#DischargeUltralasikTreatmentNew_history");
            x.load("@Url.Action("DischargeUltralasikTreatmentNewPreviousHistory", "DischargeUltralasikTreatmentNew", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
        //#endregion History of DischargeUltralasikTreatmentNew


    </script>

}