@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Dmax Endodontic";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Consent for Endodontic Procedures</h3>
            </div>
            <div class="card-body">
                <div id="DmaxEndodontic_add" style="display:none">
                </div>
                <div id="DmaxEndodontic_edit">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="DmaxEndodontic_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetDmaxEndodonticInfo();
        DmaxEndodonticPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetDmaxEndodonticInfo
    var GetDmaxEndodonticInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetDmaxEndodonticData", "DmaxEndodontic", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditDmaxEndodontic();
                        $("#DmaxEndodontic_add").hide();
                        $("#DmaxEndodontic_edit").show();

                    }
                    else {
                        $("#DmaxEndodontic_add").show();
                        $("#DmaxEndodontic_edit").hide();
                        AddDmaxEndodontic();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load DmaxEndodontic

    //#region Add DmaxEndodontic
    function AddDmaxEndodontic() {
        var x = $("#DmaxEndodontic_add");
        x.load("@Url.Action("CreateDmaxEndodontic", "DmaxEndodontic", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add DmaxEndodontic

    //#region Update DmaxEndodontic
    function EditDmaxEndodontic() {
        var x = $("#DmaxEndodontic_edit");
        x.load("@Url.Action("UpdateDmaxEndodontic", "DmaxEndodontic", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update DmaxEndodontic

    //#region Histroy of DmaxEndodontic
    function DmaxEndodonticPreviousHistory() {
        var x = $("#DmaxEndodontic_history");
        x.load("@Url.Action("DmaxEndodonticPreviousHistory", "DmaxEndodontic", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion History of DmaxEndodontic
</script>