@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConsentForms.ElectroArabicDerma

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_ElectroArabicDerma" autocomplete="off" name="ElectroArabicDerma" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-right" dir="rtl">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> اسم المريض</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> الهوية الإماراتية</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">رقم الملف</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> تاريخ الميلاد</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> الجنسية</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">جنس</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">اسم الطبيب</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">تاريخ</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5 mt-5 text-justify">
        <div dir="rtl">
            <p>
                ي غير المرغوب فيها. كما هو الحال بالنسبة للتشامات والحلامات الجلدية . فإن السبب
                الحالي في كي الجنوي جن طريي قطع إمدادات الدم مما بؤدي إلئ نته وجعير األعى حير الشبيعي بشكل فحال دون الإأشرار بالأستجة
                .المحيطة
            </p>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <ol>
                    <li class="mb-2">عدم الراحة - قد تشحر بيعض الانزعاج أتناء الملاج</li>
                    <li class="mb-2">
                        الخام الجروح - يمكن أن يؤدي الحلاج إلى تورم أو ترحات أو تتشر أو تتر في المناطق المحالجة . والكي قد تتطلب من أسبوع
                        إلى نلاتة أسابيع للشغاء. بمجرد أن يللئم السطح، كد يسبح ورديا أو حساما للنمس لمدة أسبوعين إلى أربعة أسلبيع إضافية ، أو
                        لفترة أطول في بعض المرضى
                    </li>
                    <li class="mb-2">
                        كدعات / تويدم حدوي كد تحدث كدملت في المتطذة المسالجة. بالإنافة إلى ذللك قد
                        . تعد عدوى الجلد أمزا محتمل على الرغم من تدرته . كلما تم إجراء عملية جلذ
                    </li>
                    <li class="mb-2">
                         تغيرات الصبغة (لون الجلد - أتناء عملية الشفاء . هناك احتمال طفيف بأن تصبح المنطقة المعالجة أفتح أو أغمق في اللون
                        .مقارنة بالجلد المحيط. عادة ما يكون هذا مؤقتا ، ولكن في حالات نادرة . قد يكون ذائكا
                    </li>
                    <li class="mb-2">
                         الذنب - التندب هو أمر نادر ال
                        .جميع تطليمات ما بحد الملاج بعناية
                         ولكنه يكون محتملأ عندما يتمزق سطح الجلد. لتتليل كتيرات الندوب ، من المهم أن تتبع
                    </li>
                    <li class="mb-2">
                        لنزيف: من لادر حدوت نزيف حادولكن يمكن أن يحت بمد إجراءات الملاج بلترددات الاسلكية في حالة حدرت نزيف
                        يكون الملاج الإضاقي ضروريا
                    </li>
                    <li class="mb-2">
                        علم أمراض الجلد: قد تؤدني الطاقة الموجهة إلى الآفات الجلدية إلى تبخير الآفة. يمكن علاج الآفات المصسطبتة الحميدة فتطد.
                        استتر طبيب الأمراض الجلدية الخاص بك للحصول على تصريح للعلاج إذا تخيرت الأقة في اللون أو الحجم أو مرتفعة للخلية أو
                        .مؤلمة عند اللمسن
                    </li>
                    <li>
                        رد فعل تحسسي: في حالات نادرة، تم الإبلاغ عن الحساسية الموضحعية للريط اللاصق ، والمواد الحافظة المستخدمة فيى
                        التجديل أد الستحضرات الموضمية. رعاية ما بحد الملاج، حتى تستط الترة الريتة:٠. حانظ على الشرة جأنة كذر
                        الإمكان ، استخدم الكحول المطاطي مرتين يوميا للحقاظ عليها نظيفة ، استخدم مامموراو إذا كان هناك احمرار حول المناطو
                        المعالجة . لا تحلول إزالة الترة قيل أن تزول بشكل طبيمي  لا تضمي المكياج انتيل لمدة دد ساعة على الأقل لانه سوف
                        يذعج مواقع العلاج.  لا تسمر لمدة أسبوع بعد العلاج ، ولا يوجد ساونا أو مسبح أو حوض استحمام ساخن لمدة أسبوعين. ضع
                        واتي من التمس بدرجة 25 5۴على الأل بل ويحد الحلاج لحماية بشرتك.
                    </li>
                </ol>
            </div>

            <p>
                بعد سقوط القشرة، يمكنك استخدام مرهم فيكامينات أ و د لمساعدة الجلد على التعافي بشكل أسرع. لتسريع الخلايا ، يوصى بتتشير الجلد
                بعد شهر. يجب أن يكم إجراؤه مرة واحدة في الأسبوع بكثاقة منخفضة وتجاوز المكان عدة تمريرات. الامتثال لإرشادات الرعاية اللاحقة
                ضرورية للشفاء والوقلية من الندوب وفرط التبغ ونقص التصيغ. قد يحتاج المريض للعودة إلى المركز في غضرن م أيام لمراقية
                العلاج
            </p>
            <p>
                يخر المركز الملبي الأسخرالي رحايتك راحتمامك يبلاج الجلد صمماقالاعج: برجى قراءة ومليء هذا: نمرذج الإقصاح والإقزاج بالكاملم:ء.
                والتأكد من أن العنوان و
            </p>
            <p>
                لديك الحق في أن يتم إيلاغك حتى تتمكن من اتخاذ القرار بشأن الخضوع للإجراء أم لا . بعد معرقة المخاطر والمخاطر التي تنطوي
                عليها. هذا الكتف لأ يهدف إلى تخويتك. إنها مجرد محاولة لجلك على اطلاع افضل حتى تتمكن من منح أو حجب موافتلك على
                الإجراء. الموافقة المستتيرة والتنازل عن المسؤولية أنا بمرجب هذا أسرح وأوجه ١له تنفي إجراء معالجة تتتيح الجلد لكي
                الكهريائي) قي المجالا
            </p>
            <p>
                أنا أفهم أن الجلد المعالج قد يكون أحمر ومتورما مع تشكل قشور رفيعة وريقة ويجب أن أبتي المناطق المعالجة مغطة ب مأحممةراهم
                يجب أن تستترق هذه العملية من أسبوع إلى تلاتة أسابيع، ولكن قد تستغرق من شهر إلى تلاتة أتهر في
                بعض الحالات النادرة. يجب ألا أخنض التشرة لأن ذلك قد يسبب ندبات ويطيل من فترة الشفاء
            </p>
            <p>
                أنا ل أتتاول عصو٤ءه ولم أتتاول مصوناءه لمدة 6 أتهر على الأكل قيل استتناف العلاج. أفهم أتني قد أحتاج إلى علاجات متحدة
                لتحقيق النتيجة المرجوة وأن عملية الشفاء الكاملة واستعادة لون البترة يمكن أن تستخرق من أشهر إلى سنة في بعض الحالان
            </p>
            <p>
                مليا أقيم أن هذا الحلاج غير موصى به لمرضى السكر أو للأخاص التين يعانون من ارتفاع ضخط الدم. أنا لست مصايا بعرض
                السكر ولا أعني من ارتفاع ضخط الذمة
            </p>
            <p>.تم شرح جميع جوانب العلاج والمضاعفات والرعلية اللاحقة وفيمها</p>
            <p>
                أتهد أن بقعة العلاج الخاصة بي (علامة الجلد ، البتعة المسطبغة . الميلي التحيرات الدموية المكسورة وما إلى ذلك) كد تم تتييمها من
                ..كبل طبيب أو طبيب أمراض جلدية وهي حميدة وأنا اتحمل المسؤولية الكاملة عن قرار إجراء إزالة مستحضرات التجميل
            </p>
            <p>اقرار ٠. لن احاسب مركز أستراليا الطبي أو مولخيه أو أصحابه . ولايجب أن تحمل المسؤولية لهم وانا على علم أكني قيلت</p>
            <p>
                أن يسبب لي علاج الكي الكيربائي أي مشاكل غير متوقعة. أعالج على مسؤوليتي الخاصة ولايتحمل المركز أي مسؤوليات
                أوالالكزامات:
            </p>

        </div>
    </div>

    <div class="row mt-2" dir="rtl">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="3" class="font-weight-bold text-danger fs-18" width="100%">
                        قم بالتوقيع هنا، فقط إذا تمت الإجابة على جميع أسئلتك بما يرضيك
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <div id="pat_sign_box">
                            <img alt="stamp" id="pat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="50%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold">اسم المريض</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="psb_date_patient" name="">&nbsp;</label>
                        <span class="font-weight-semibold">تاريخ</span>
                    </td>
                    <td width="50%">
                        <label class="form-label text-red text-left text-capitalize">@emr.doc_name&nbsp;</label>
                        <span class="font-weight-semibold">اسم الطبيب</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="eleca_date_doctor"></label>
                        <span class="font-weight-semibold">تاريخ</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue" width="33%">
                        توقيع المريض
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center" width="50%">توقيع الطبيب</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-success btn-sm" id="btn_Insert">Save</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset_C">Reset</button>
                <button type="button" class="btn btn-danger btn-sm d-none" id="btn_Delete">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success d-none" id="btn_Print_C"> Download/Print </button>
            </div>
        </div>
    </div>
</form>


<script type="text/javascript">


    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Insert").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Insert").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Insert").show();
                }
                else {
                    $("#btn_Insert").hide();
                }
            }
        }

    });

    //#region Add  Click
    $('#btn_Insert').on('click', function (e) {
        e.preventDefault();
        $('#btn_Insert').removeClass("btn btn-sm btn-success");
            $('#btn_Insert').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Insert').html("Saving the Record....");


            var _dateInsert = {
                "elecaId": 0,
                "eleca_appId": @emr.appId,

                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

            console.log(_dateInsert);

            $.ajax({
                type: "Post",
                url: "@Url.Action("InsertElectroArabicDerma", "ElectroArabicDerma", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-sm btn-success");
                    $('#btn_Insert').html("Save Changes");



                    if (data.isSuccess) {
                        if (data.isInserted) {
                            GetElectroArabicDermaInfo();
                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>ElectroArabic Derma Form Saved Successfully!", "success");

                            Timeout();

                            $("#btn_Delete").removeClass("d-none");
                            $("#btn_Print").removeClass("d-none");
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning.. ElectroArabic Derma Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-sm btn-warning");
                    $('#btn_Insert').html("Add");
                    Timeout();
                }
            });

    });
    //#endregion Add Click

    //#region Delete Click
    $('#btn_Delete').on('click', function (e) {
        e.preventDefault();
        $('#btn_Delete').removeClass("btn btn-success");
        $('#btn_Delete').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Delete').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteElectroArabicDerma", "ElectroArabicDerma", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-warning");
                $('#btn_Delete').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>ElectroArabic Derma Form Deleted Successfully!", "success");
                        clearControls();
                        GetElectroArabicDerma();

                        $('#btn_Delete').addClass("d-none");
                        $("#pat_sign_box").addClass("d-none");

                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-Delete");
                $('#btn_Delete').html("Delete");
                Timeout();
            }
        })
    });
//#endregion

    //#region Reset
    $('#btn_Reset_C').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Print
    $('#btn_Print_C').on('click', function (e) {
        e.preventDefault();
        $('#btn_Print_C').removeClass("btn btn-success");
        $('#btn_Print_C').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Print_C').html("Printing the Record....");
        $.ajax({
            type: "Get",
            url: "@Url.Action("PrintPDFConsent", "ElectroArabicDerma", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=ElectroArabicDerma",
            dataType: 'JSON',
            success: function (data) {
                if (data.isAuthorized) {
                    if (data.success) {
                        window.location.href = data.message.pdfPath
                    }
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        });
    });
    //#endregion Print

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("#pat_sign").attr("src", "");

    }
    //#endregion Clear Controls

    //#region Wacom Tab Signature
 var openWacomTabSignaturePad = function (id) {
         var _data = {
              "patId": @emr.patId,
              "person": id,
             "form": "ElectroArabicDerma",
              "appId": @emr.appId,
             "formname":"ElectroArabic Derma",
              "formlink":"",
              "eSign":""
          }
         $.ajax({
             type: "GET",
             url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
             contentType: "application/json",
             dataType: "html",
             data: _data,
             success: function (response) {
                 $("#signature_pad_body").html(response);
                 $("#signature_pad").modal("show");
             },
             error: function (xhr) {
                 console.log("Error :" + xhr.statusText);
             }
         });
     }
 //#endregion

    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "ElectroArabicDerma",
            "appId": @emr.appId,
            "formname":"ElectroArabic Derma",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            localStorage.removeItem("sign");
        }
    });

    // #region Get Signature
 var GetSignaturename = function  (person) {
     $.ajax({
         url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=ElectroArabicDerma',
         type: "GET",
         dataType: "json",
         async: false,
         success: function (response) {
             console.log(response);
             let sign = response[0].psb_sign;
             var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY");

             if (response[0].person == "patient") {
                 $("#pat_sign_box").removeClass("d-none");
                 $("#psb_date_patient").html(date);
                 $("#pat_sign").attr("src", sign);
             }
         },
         error: function (xhr) {
             console.log(xhr);
             alert(xhr);
         }

     });
 };
 // #endregion Get Signature

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout
</script>