@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Electro Arabic Derma";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header" dir="rtl">
                <h3 class="card-title">الكي الكهربائي (التخثير الكهربائي)-عربي</h3>
            </div>
            <div class="card-body">
                <div id="ElectroArabicDerma_add" style="display:none">
                </div>
                <div id="ElectroArabicDerma_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="ElectroArabicDerma_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetElectroArabicDermaInfo();
        ElectroArabicDermaPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetElectroArabicDermaInfo
    var GetElectroArabicDermaInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetElectroArabicDermaData", "ElectroArabicDerma", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditElectroArabicDerma();
                        $("#ElectroArabicDerma_add").hide();
                        $("#ElectroArabicDerma_edit").show();

                    }
                    else {
                        $("#ElectroArabicDerma_add").show();
                        $("#ElectroArabicDerma_edit").hide();
                        AddElectroArabicDerma();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load ElectroArabicDerma

    //#region Add ElectroArabicDerma
    function AddElectroArabicDerma() {
        var x = $("#ElectroArabicDerma_add");
        x.load("@Url.Action("CreateElectroArabicDerma", "ElectroArabicDerma", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add ElectroArabicDerma

    // #region Update ElectroArabicDerma
    function EditElectroArabicDerma() {
        var x = $("#ElectroArabicDerma_edit");
        x.load("@Url.Action("UpdateElectroArabicDerma", "ElectroArabicDerma", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update ElectroArabicDerma

    //#region Histroy of ElectroArabicDerma
    function ElectroArabicDermaPreviousHistory() {
        var x = $("#ElectroArabicDerma_history");
        x.load("@Url.Action("ElectroArabicDermaPreviousHistory", "ElectroArabicDerma", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>