@using BusinessEntities;
@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Adnic Claim Form";

        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 mb-4 font-weight-semibold">
                    <span class="text-danger" style="font-size:smaller">Required fields are marked with *</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="font-weight-semibold text-blue">
                        <div>Adnic Claim Form</div>
                    </div>
                </div>
            </div>
            <div></div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row border-dark">
                        <img src="~/images/header_images/adnic.jpg" />
                    </div>
                </div>
            </div>
            <div id="AdnicClaim_add" style="display:none"></div>
            <div id="AdnicClaim_edit"></div>
            <div id="AdnicClaim_history"></div>
        </div>
    </div>
</div>

@*@section myScripts{*@
    <script type="text/javascript">
        //#region Page Load
        $(function () {
            GetAdnicClaimInfo();

            AdnicClaimPreviousHistory();
        });
        //#endregion

        //#region Load Get Adnic Claim Info
        var GetAdnicClaimInfo = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAdnicClaimData", "AdnicClaim", new { area = "InsuranceForms" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        if (response.length > 0) {
                            EditAdnicClaim();
                            $("#AdnicClaim_add").hide();
                            $("#AdnicClaim_edit").show();

                        }
                        else {
                            $("#AdnicClaim_add").show();
                            $("#AdnicClaim_edit").hide();
                            AddAdnicClaim();
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
        //#endregion

        //#region Add Adnic Claim
        function AddAdnicClaim() {
            var x = $("#AdnicClaim_add");
            x.load("@Url.Action("CreateAdnicClaim", "AdnicClaim", new { area = "InsuranceForms" })", function () {
          });
        }
        //#endregion

        //#region Update Adnic Claim
        function EditAdnicClaim() {
            var x = $("#AdnicClaim_edit");
            x.load("@Url.Action("UpdateAdnicClaim", "AdnicClaim", new { area = "InsuranceForms" })?appId=" + @emr.appId, function () {
          });
        }
        //#endregion

        //#region History of Adnic Claim
        function AdnicClaimPreviousHistory() {
            var x = $("#AdnicClaim_history");
            x.load("@Url.Action("AdnicClaimPreviousHistory", "AdnicClaim", new { area = "InsuranceForms" })?appId=" + @emr.appId, function () {
          });
        }
        //#endregion
    </script>
@*}*@