@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.InsuranceForms.AdnicClaim

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<form id="form_AdnicClaim" autocomplete="off" name="AdnicClaim" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div>&nbsp;</div>
        <div class="row">
            @*<div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="row border-dark ">
                    <div class="table table-bordered-dark table-condensed">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4 border-dark">
                                &nbsp;
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4 text-dark border-dark">
                                ADNIC MEDICAL INSURANCE SCHEME
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4 text-dark border-dark">
                                INSURANCE COPY
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="table table-bordered-dark table-condensed">
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4 border-dark">
                                &nbsp;
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4 text-dark border-dark text-center">
                                ADNIC MEDICAL INSURANCE SCHEME
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-4 text-dark border-dark text-right">
                                INSURANCE COPY
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row border-dark">
                        <div class="text-center text-dark">
                            CLAIM FORM - DIRECT BILLING
                        </div>
                    </div>
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row border-dark">
                        <div class="text-center text-dark">
                            --------------------------------------------------------------------------------
                        </div>
                    </div>
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="table table-bordered-dark table-condensed">
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3 border-dark text-danger">
                                <p class="text-black">PART 1</p>
                                <p>COMPLETE PART 1 OF THIS FORM.</p>
                                <p>Part 2 must be completed by the doctor / specialist giving details of treatment received.</p>
                                <p>Submit this form with original account(s) within 45 days of the expenditure being incurred.</p>
                                <p>Your claim will not be considered if not submitted within the above Period.A NEW CLAIM FORM IS REQUIRED EACH TIME YOU SUBMIT ACCOUNTS.</p>
                            </div>
                            @*<div class="col-sm-1 col-md-1 col-lg-1 border-dark">

                        </div>*@
                            <div class="col-sm-9 col-md-9 col-lg-9 text-dark border-dark text-right">
                                <div class="row">
                                    <div class="col-sm-5 col-md-5 col-lg-5 text-justify">
                                        Patient's Membership No:<label class="form-label text-red text-left">@emr.pi_insno&nbsp;</label>
                                    </div>
                                    <div class="col-sm-5 col-md-5 col-lg-5 text-justify">

                                        <div class="row text-left">
                                            <br />
                                            <div>
                                                Voucher No.:@Html.TextBoxFor(m => m.ac_voucher, new { @class = "form-control-sm", @placeholder = "Enter Voucher No", @id = "ac_voucher" })&nbsp;
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-3 text-justify">
                                        Group Member's Name (Mr./Mrs./Miss)
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3"> Employer's Name</div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-3 text-justify">
                                        @Html.TextBoxFor(m => m.ac_groupname, new { @class = "form-control-sm", @placeholder = "Enter Group Member's Name", @id = "ac_groupname" })&nbsp;

                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-4 text-right">
                                        @Html.TextBoxFor(m => m.ac_employer, new { @class = "form-control-sm", @placeholder = "Enter Employer's Name", @id = "ac_employer" })&nbsp;

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-3 text-justify">
                                        Patient's Name (if not Group Member)
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">Patient's date of birth</div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-3 text-justify">
                                        <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <label class="form-label text-left text-red text-capitalize">@emr.pat_dob&nbsp;</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-3 text-justify">
                                        Patient's Contact No./Mobile <br />(Mandatory)
                                    </div>
                                    <div vlass="row">
                                        <div class="col-sm-3 col-md-3 col-lg-3 text-justify">
                                            <label class="form-label text-red text-left">@emr.pat_mob&nbsp;</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 mb-4 text-justify">
                                        If Patient is not the Group Member, tick relationship
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2 mb-4 text-justify">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="ac_rel" id="ac_rel11" value="Wife">
                                            <span class="custom-control-label">Wife</span>
                                        </label>

                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2 mb-4 text-justify">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="ac_rel" id="ac_rel12" value="Husband">
                                            <span class="custom-control-label">Husband</span>
                                        </label>

                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2 mb-4 text-justify">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="ac_rel" id="ac_rel3" value=" Child ">
                                            <span class="custom-control-label"> Child </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-3 text-justify">
                                        For an in-patient stay in hospital
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        Admission Date
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        Discharge Date
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-3 text-justify">
                                        Please enter date(s) of admission and discharge
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-3 text-justify">
                                        Is the cost of this treatment also covered by any other insurer? (Mandatory)
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3 text-justify">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="ac_ins" id="ac_ins21" value="Yes">
                                            <span class="custom-control-label">Yes</span>
                                        </label>

                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3 text-justify">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="ac_ins" id="ac_ins22" value="No">
                                            <span class="custom-control-label">No</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-3 text-justify">
                                        Was the treatment necessary as the result of an accident?
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3 text-justify">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="ac_acc" id="ac_acc31" value="Yes">
                                            <span class="custom-control-label">Yes</span>
                                        </label>

                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3 text-justify">
                                        <label class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" name="ac_acc" id="ac_acc32" value="No">
                                            <span class="custom-control-label">No</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 text-justify">
                                        If the answer to either question is YES, please give full details.
                                    </div>
                                    <div vlass="row">
                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                            @Html.TextBoxFor(m => m.ac_acc_details, new { @class = "form-control form-control-sm", @placeholder = "Enter details", @id = "ac_acc_details" })&nbsp;
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6 text-justify">
                                        <p>I hereby claim for costs of treatment and declare that, to the best of my knowledge and belief, all information given in support of this claim is true and complete.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-3 text-justify">
                                        <div class="text-dark">
                                            Member's Signature
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-3 text-justify">
                                        <div id="pat_sign_box" class="d-none">
                                            <img alt="stamp" id="pat_sign" class="avatar avatar-xl bsquare" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 text-right">
                                        <div class="text-dark">Date: <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 text-dark">
                    PART 2
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 text-dark">
                    Condition requiring treatment @Html.TextBoxFor(m => m.ac_cond, new { @class = "form-control form-control-sm", @placeholder = "Enter Condition", @id = "ac_cond" })&nbsp;

                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">

                    To be completed by Doctor/Specialist who carried out the treatment
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 text-dark">
                    Details of treatment / operation / on set of illness @Html.TextBoxFor(m => m.ac_set, new { @class = "form-control form-control-sm", @placeholder = "Enter set of illness", @id = "ac_set" })&nbsp;

                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 text-dark">
                    Please complete this form in BLOCK CAPITALS
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 text-dark">
                    Name(s), qualification and address(es)/License No. of Doctor / Specialist / Provider License No.
                    occupational <label class="form-label text-red text-left">@emr.doc_name&nbsp;</label>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 text-dark">
                    Doctor Signature/Stamp
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 text-dark">
                    <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                </div>

            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 text-dark">
                    Date:<label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                </div>
            </div>

            <div>&nbsp;</div>
            <div class="text-center">
                <div class="btn-group mr-2">
                    <div class="dropdown">
                        <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                            <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="text-center text-dark">
                Sheikh Khalifa St. P.O.Box.839 - Abu Dhabi - Tel:6264000 - Telex: 223450 ADNIC EM - Telfax: 6268600 - E-mail:adnic@adnic.ae
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12 col-md-6 col-lg-12 text-center">
                <div class="btn-list btn-animation">
                    <button type="submit" class="btn btn-success btn-sm" id="btn_Insert">Add</button>
                    <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                    <button type="button" class="btn btn-danger btn-sm d-none" id="btn_Delete">Delete</button>
                    <button type="button" class="btn btn-sm btn-outline-success d-none" id="btn_Print"> Download/Print</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Insert").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Insert").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Insert").show();
                }
                else {
                    $("#btn_Insert").hide();
                }
            }
        }

        validate();
    });

    //#region Validation Initialization
    var validate = function () {
        $("#form_AdnicClaim").validate({
            rules: {
                ac_voucher: {
                    required: true
                },
                //ac_rel: {
                //    required: true
                //},
                //ac_ins: {
                //    required: true
                //},
                //ac_acc: {
                //    required: true
                //},
                ac_acc_details: {
                    required: true
                },
                ac_cond: {
                    required: true
                },
                ac_groupname: {
                    required: true
                },
                ac_employer: {
                    required: true
                },
                ac_set: {
                    required: true
                },

            },
            messages: {
                ac_voucher: {
                    required: "Please Enter Voucher No"
                },
                //ac_rel: {
                //    required: "Please Enter relationship"
                //},
                //ac_ins: {
                //    required: "Please Enter other insurer"
                //},
                //ac_acc: {
                //    required: "Please Enter accident"
                //},
                ac_acc_details: {
                    required: "Please Enter details"
                },
                ac_cond: {
                    required: "Please Enter Conditions"
                },
                ac_groupname: {
                    required: "Please Enter Group Member's Name"
                },
                ac_employer: {
                    required: "Please Enter Employer's Name"
                },
                ac_set: {
                    required: "Please Enter set of illness"
                },

            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

    }
    //#endregion

    //#region Add  Click
    $('#btn_Insert').on('click', function (e) {
        e.preventDefault();
        if ($("#form_AdnicClaim").valid()) {
            $('#btn_Insert').removeClass("btn btn-sm btn-success");
            $('#btn_Insert').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Insert').html("Saving the Record....");
            //var icc_4_ = $.map($(':checkbox[name=icc_4]:checked'), function (n, i) {
            //    return n.value;
            //}).join(',');

            var ac_rel = "";

            if ($('#ac_rel11').prop('checked')) {
                ac_rel = "Wife";
            }
            else if ($('#ac_rel12').prop('checked')) {
                ac_rel = "Husband";
            }
            else if ($('#ac_rel13').prop('checked')) {
                ac_rel = "Child";
            }


            var ac_ins = "";

            if ($('#ac_ins21').prop('checked')) {
                ac_ins = "Yes";
            }
            else if ($('#ac_ins22').prop('checked')) {
                ac_ins = "No";
            }

            var ac_acc = "";

            if ($('#ac_acc31').prop('checked')) {
                ac_acc = "Yes";
            }
            else if ($('#ac_acc32').prop('checked')) {
                ac_acc = "No";
            }


            var _dateInsert = {
                "acId": 0,
                "ac_appId": "@emr.appId",
                "ac_voucher": $("#ac_voucher").val(),
                "ac_acc_details": $("#ac_acc_details").val(),
                "ac_cond": $("#ac_cond").val(),
                "ac_groupname": $("#ac_groupname").val(),
                "ac_employer": $("#ac_employer").val(),
                "ac_set": $("#ac_set").val(),
                //"ac_rel": $("input[name='ac_rel']:checked").val(),
                //"ac_ins": $("input[name='ac_ins']:checked").val(),
                //"ac_acc": $("input[name='ac_acc']:checked").val(),
                "ac_rel": ac_rel,
                "ac_ins": ac_ins,
                "ac_acc": ac_acc,
                //"ac_status": "Active",
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

            $.ajax({
                type: "Post",
                url: "@Url.Action("InsertAdnicClaim", "AdnicClaim", new {area = "InsuranceForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-sm btn-success");
                    $('#btn_Insert').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isInserted) {
                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>  Adnic Claim Saved Successfully!", "success");
                            Timeout();
                            $("#btn_Delete").removeClass("d-none");
                            $("#btn_Print").removeClass("d-none");
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning.. Adnic Claim already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-sm btn-warning");
                    $('#btn_Insert').html("Add");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion Add Click

   //#region Delete Click
    $('#btn_Delete').on('click', function (e) {
        e.preventDefault();
        $('#btn_Delete').removeClass("btn btn-success");
        $('#btn_Delete').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Delete').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteAdnicClaim", "AdnicClaim", new { area = "InsuranceForms" })?appId=' + "@emr.appId",
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-warning");
                $('#btn_Delete').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>Adnic Claim Deleted Successfully!", "success");
                        clearControls();
                        Timeout();

                        $('#btn_Delete').addClass("d-none");
                        $("#pat_sign_box").addClass("d-none");

                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-Delete");
                $('#btn_Delete').html("Delete");
                Timeout();
            }
        })
    });
//#endregion

//#region Print
$('#btn_Print').on('click', function (e) {
    e.preventDefault();
    $('#btn_Print').removeClass("btn btn-success");
    $('#btn_Print').addClass("btn btn-success btn-loaders btn-icon");
    $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "AdnicClaim", new {area = "InsuranceForms" })?appId=" + "@emr.appId" + "&form=AdnicClaim",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {
                if (data.success) {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print

  //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
 //#endregion Reset

    //#region Clear Controls
     var clearControls = function () {
        $(".form-control").val("");
        $("input[name='ac_rel']:radio").prop('checked', false);
        $("input[name='ac_ins']:radio").prop('checked', false);
        $("input[name='ac_acc']:radio").prop('checked', false);
     }

 //#endregion Clear Controls

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
              var _data = {
                "patId": "@emr.patId",
                "person": id,
                 "form": "AdnicClaim",
                "appId": "@emr.appId",
                 "formname":"Adnic Claim",
                "formlink":"",
                "eSign":""
             }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion


    //#region Signature
    var openSignaturePad = function (id) {
     var _data = {
        "patId": "@emr.patId",
        "person": id,
         "form": "AdnicClaim",
        "appId": "@emr.appId",
         "formname":"Adnic Claim",
        "formlink":"",
        "eSign":""
     }
    $.ajax({
        type: "GET",
        url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
        contentType: "application/json",
        dataType: "html",
        data: _data,
        success: function (response) {
            $("#signature_pad_body").html(response);
            $("#signature_pad").modal("show");
        },
        error: function (xhr) {
            console.log("Error :" + xhr.statusText);
        }
    });
}
//#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            //GetSignaturename('witness');
            localStorage.removeItem("sign");
        }
    });

    //#region Get Signature
    var GetSignaturename = function  (person) {
    $.ajax({
        url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + "@emr.appId" + '&person=' + person + '&form=AdnicClaim',
        type: "GET",
        dataType: "json",
        async: false,
        success: function (response) {
            console.log(response);
            let sign = response[0].psb_sign;
            if (response[0].person == "patient") {
                $("#pat_sign_box").removeClass("d-none");
                $("#pat_sign").attr("src", sign);
            }

        },
        error: function (xhr) {
            console.log(xhr);
            alert(xhr);
        }

    });
};
//#endregion Get Signature

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout

</script>

