@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Tatto Removal";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Consent Form For Tattoo Removal NDYAG Laser Therapy <br /><span dir="rtl">الموافقه على العلاج بالليزر لازالة الوشم </span></h3>
            </div>
            <div class="card-body">
                <div id="TattoRemoval_add" style="display:none">
                </div>
                <div id="TattoRemoval_edit">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="TattoRemoval_history">
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    //#region Page Load
    $(function () {
        GetTattoRemovalInfo();
        TattoRemovalPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetTattoRemovalInfo
    var GetTattoRemovalInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetTattoRemovalData", "TattoRemoval", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditTattoRemoval();
                        $("#TattoRemoval_add").hide();
                        $("#TattoRemoval_edit").show();

                    }
                    else {
                        $("#TattoRemoval_add").show();
                        $("#TattoRemoval_edit").hide();
                        AddTattoRemoval();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load TattoRemoval

    //#region Add TattoRemoval
    function AddTattoRemoval() {
        var x = $("#TattoRemoval_add");
        x.load("@Url.Action("CreateTattoRemoval", "TattoRemoval", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add TattoRemoval

    // #region Update TattoRemoval
    function EditTattoRemoval() {
        var x = $("#TattoRemoval_edit");
        x.load("@Url.Action("UpdateTattoRemoval", "TattoRemoval", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion

    //#region Histroy of TattoRemoval
    function TattoRemovalPreviousHistory() {
        var x = $("#TattoRemoval_history");
        x.load("@Url.Action("TattoRemovalPreviousHistory", "TattoRemoval", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>