@using BusinessEntities;
@using System.Linq;
@using System.Security.Claims;
@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Isotretinoin Consent";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"> Isotretinoin Consent Form</h3>
            </div>
            <div class="card-body">
                <div id="IsotretinoinConsent_add" style="display:none">
                </div>
                <div id="IsotretinoinConsent_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="IsotretinoinConsent_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetIsotretinoinConsentInfo();
        IsotretinoinConsentPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetIsotretinoinConsentInfo
    var GetIsotretinoinConsentInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetIsotretinoinConsentData", "IsotretinoinConsent", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditIsotretinoinConsent();
                        $("#IsotretinoinConsent_add").hide();
                        $("#IsotretinoinConsent_edit").show();

                    }
                    else {
                        $("#IsotretinoinConsent_add").show();
                        $("#IsotretinoinConsent_edit").hide();
                        AddIsotretinoinConsent();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load IsotretinoinConsent

    //#region Add IsotretinoinConsent
    function AddIsotretinoinConsent() {
        var x = $("#IsotretinoinConsent_add");
        x.load("@Url.Action("CreateIsotretinoinConsent", "IsotretinoinConsent", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add IsotretinoinConsent

    //#region Update IsotretinoinConsent
    function EditIsotretinoinConsent() {
        var x = $("#IsotretinoinConsent_edit");
        x.load("@Url.Action("UpdateIsotretinoinConsent", "IsotretinoinConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update IsotretinoinConsent

    //#region Histroy of IsotretinoinConsent
    function IsotretinoinConsentPreviousHistory() {
        var x = $("#IsotretinoinConsent_history");
        x.load("@Url.Action("IsotretinoinConsentPreviousHistory", "IsotretinoinConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>