@model BusinessEntities.Masters.Employees
<!-- INTERNAL telephoneinput css-->
<link href="~/assets/plugins/telephoneinput2/intlTelInput.css" rel="stylesheet" />
<!-- Color Picker css-->
<link href="~/assets/plugins/date-picker/date-picker.css" rel="stylesheet" />
<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold">Create New Employee</h5>
    <button type="button" class="btn-close btnCloseCreate" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body p-4">
    <form id="form_Add_Employee" enctype="multipart/form-data" >
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 mb-4 font-weight-semibold">
                <span class="text-danger" style="font-size:smaller">Required fields are marked with *</span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="panel-group accordion-panel" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default active">
                    <div class="panel-heading bg-azure-lightest" role="tab" id="headingOne0">
                        <h4 class="panel-title">
                            <a role="button" data-bs-toggle="collapse" data-parent="#accordion1" aria-expanded="true" aria-controls="collapseOne0">
                                Employee Information
                                <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne0" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne0">
                        <div class="col mt-5">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-4">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Branch&nbsp;<span class="text-danger">*</span></label>
                                        @Html.DropDownListFor(m => m.emp_branch, new SelectList(Model.BranchList, "id", "text"), "Please Select", new { @class = "form-select select2" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Code&nbsp;</label>
                                        @Html.TextBoxFor(m => m.emp_fax, new { @class = "form-control", @placeholder = "Ex : DOC-813", @maxlength = "20" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group mb-3">
                                        <label class="form-label">First Name&nbsp;<span class="text-danger">*</span></label>
                                        @Html.TextBoxFor(m => m.emp_name, new { @class = "form-control", @placeholder = "Ex : Shawn", @maxlength = "50" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Last Name&nbsp;<span class="text-danger">*</span></label>
                                        @Html.TextBoxFor(m => m.emp_lname, new { @class = "form-control", @placeholder = "Ex : Dias", @maxlength = "50" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Gender&nbsp;</label>
                                        @Html.DropDownListFor(m => m.emp_gender, new List<SelectListItem>
                                        {
                                            new SelectListItem{ Text="Male", Value = "Male" },
                                            new SelectListItem{ Text="Female", Value = "Female" },
                                        }, "Select Gender", new { @class = "form-select select2" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Department&nbsp;<span class="text-danger">*</span></label>
                                        @Html.DropDownListFor(m => m.emp_dept, new SelectList(Model.DepartmentList, "deptId", "department"), "Please Select", new { @class = "form-select select2" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Designation&nbsp;<span class="text-danger">*</span></label>
                                        @Html.DropDownListFor(m => m.emp_desig, new SelectList(Model.DesignationList, "id", "text"), "Please Select", new { @class = "form-select select2" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Nationality&nbsp;<span class="text-danger">*</span></label>
                                        @Html.DropDownListFor(m => m.emp_nat, new SelectList(Model.NationalityList, "id", "text"), "Please Select", new { @class = "form-select select2" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-2 col-lg-2">
                                    <div class="form-group mb-3">
                                        <label class="form-label">License</label>
                                        @Html.TextBoxFor(m => m.emp_license, new { @class = "form-control", @placeholder = "Ex : G549LI324", @maxlength = "14" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group">
                                        <label class="form-label">Mobile #&nbsp;<span class="text-danger">*</span></label>
                                        <div class="input-group">
                                            <div class="d-flex">
                                                @Html.TextBoxFor(m => m.emp_mob, new { @type = "tel", @class = "form-control mb-2", @style = "width:100%;" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group">
                                        <label class="form-label">Telephone #&nbsp;</label>
                                        <div class="input-group">
                                            <div class="d-flex">
                                                @Html.TextBoxFor(m => m.emp_tel, new { @type = "tel", @class = "form-control mb-2", @style = "width:100%;" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group">
                                        <label class="form-label">EMID #&nbsp;</label>
                                        @Html.TextBoxFor(m => m.emp_address, new { @class = "form-control mb-2", @placeholder = "Ex:784-1991-1234567-8", @maxlength = "18" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group">
                                        <label class="form-label">Email&nbsp;<span class="text-danger">*</span></label>
                                        @Html.TextBoxFor(m => m.emp_email, new { @class = "form-control mb-2", @placeholder = "Ex : username@domain.com", @type = "email", @maxlength = "60" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Teeth&nbsp;</label>
                                        @Html.DropDownListFor(m => m.emp_teeth, new List<SelectListItem>
                                           {
                                              new SelectListItem{ Text="Universal", Value = "Universal" },
                                              new SelectListItem{ Text="International", Value = "International" },
                                              new SelectListItem{ Text="British", Value = "British" },
                                           }, "Select Teeth", new { @class = "form-select select2" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Malaffi/Nabidh/Riayati Speciality&nbsp;</label>
                                        @Html.DropDownListFor(m => m.emp_speciality, new List<SelectListItem> { }, "Select Speciality", new { @class = "form-select mb-2 select2" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group mb-3">
                                        <label class="form-label">DHA Speciality&nbsp;</label>
                                        @Html.DropDownListFor(m => m.emp_dha_speciality, new List<SelectListItem> { }, "Select DHA Speciality", new { @class = "form-select mb-2 select2" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Color Code&nbsp;</label>
                                        @Html.TextBoxFor(m => m.emp_color, new { @placeholder = "Select Color", @type = "text" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2 d-none" id="doctorView">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Scheduler&nbsp;<span class="text-danger">*</span></label>
                                        @Html.DropDownListFor(m => m.emp_scheduler, new List<SelectListItem>
                                        {
                                            new SelectListItem{ Text="NO", Value = "0" },
                                            new SelectListItem{ Text="YES", Value = "1" }
                                        }, new { @class = "form-select select2" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group">
                                        <label class="form-label">Disc. Allowed %</label>
                                        @Html.TextBoxFor(m => m.emp_disc_allowed, new { @class = "form-control mb-2 text-right", @placeholder = "Ex: 10.00", @min = 0, @max = 100, @onkeypress = "return validateOneDecimalNumeric(this,event);" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group">
                                        <label class="form-label">Sign&nbsp;<a style="cursor:pointer"><i class="fe fe-info text-info fs-14" title="File should be less than 5 MB (Allowed Formats : .jpg/.png/.gif | Resolution : 500X500)"></i></a></label>
                                        <div class="input-group file-browser">
                                            @Html.TextBoxFor(m => m.emp_sign, new { @class = "form-control browse-file", @placeholder = "Choose", @readonly = "readonly", @title = "File should be less than 5 MB (Allowed Formats : .jpg/.png/.gif | Resolution : 500X500)" })
                                            <label class="input-group-text btn btn-primary">
                                                Browse <input type="file" id="sign" name="emp_sign" class="file-browserinput" style="display: none;" accept=".png,.jpg,.jpeg,.gif" onchange="document.getElementById('emp_sign').value = this.value.split('\\').pop().split('/').pop()">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group">
                                        <label class="form-label">Photo&nbsp;<a style="cursor:pointer"><i class="fe fe-info text-info fs-14" title="File should be less than 5 MB (Allowed Formats : .jpg/.png/.gif | Resolution : 500X500)"></i></a></label>
                                        <div class="input-group file-browser">
                                            @Html.TextBoxFor(m => m.emp_photo, new { @class = "form-control browse-file", @placeholder = "Choose", @readonly = "readonly", @title = "File should be less than 5 MB (Allowed Formats : .jpg/.png/.gif | Resolution : 500X500)" })
                                            <label class="input-group-text btn btn-primary">
                                                Browse <input type="file" id="photo" name="emp_photo" class="file-browserinput" style="display: none;" accept=".png,.jpg,.jpeg,.gif" onchange="document.getElementById('emp_photo').value = this.value.split('\\').pop().split('/').pop()">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group">
                                        <label class="form-label">EMID Front&nbsp;<a style="cursor:pointer"><i class="fe fe-info text-info fs-14" title="File should be less than 5 MB (Allowed Formats : .jpg/.png/.gif | Resolution : 500X500)"></i></a></label>
                                        <div class="input-group file-browser">
                                            @Html.TextBoxFor(m => m.emp_emid, new { @class = "form-control browse-file", @placeholder = "Choose EMID Front", @readonly = "readonly", @title = "File should be less than 5 MB (Allowed Formats : .jpg/.png/.gif | Resolution : 500X500)" })
                                            <label class="input-group-text btn btn-primary">
                                                Browse <input type="file" id="emid" name="emp_emid" class="file-browserinput" style="display: none;" accept=".png,.jpg,.jpeg,.gif" onchange="document.getElementById('emp_emid').value = this.value.split('\\').pop().split('/').pop()">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group">
                                        <label class="form-label">EMID Back&nbsp;<a style="cursor:pointer"><i class="fe fe-info text-info fs-14" title="File should be less than 5 MB (Allowed Formats : .jpg/.png/.gif | Resolution : 500X500)"></i></a></label>
                                        <div class="input-group file-browser">
                                            @Html.TextBoxFor(m => m.emp_stamp, new { @class = "form-control browse-file", @placeholder = "Choose EMID Back", @readonly = "readonly", @title = "File should be less than 5 MB (Allowed Formats : .jpg/.png/.gif | Resolution : 500X500)" })
                                            <label class="input-group-text btn btn-primary">
                                                Browse <input type="file" id="stamp" name="emp_stamp" class="file-browserinput" style="display: none;" accept=".png,.jpg,.jpeg,.gif" onchange="document.getElementById('emp_stamp').value = this.value.split('\\').pop().split('/').pop()">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group mb-3">
                                        <label class="form-label text-black">WhatsApp Instance ID&nbsp;</label>
                                        @Html.TextBoxFor(m => m.emp_whatsappId, new { @class = "form-control", @placeholder = "Ex : 649xxxxx97", @maxlength = "50" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group mb-3">
                                        <label class="form-label text-black">WhatsApp Access Token&nbsp;</label>
                                        @Html.TextBoxFor(m => m.emp_whatsappToken, new { @class = "form-control", @placeholder = "Ex : xxxxF1xxxxx", @maxlength = "60" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Password Validity</label>
                                        @Html.DropDownListFor(m => m.emp_pwd_validity, new List<SelectListItem>
                                        {
                                            new SelectListItem{ Value="30", Text="30"},
                                            new SelectListItem{ Value="60", Text="60" },
                                            new SelectListItem{ Value="90", Text="90" ,Selected=true},
                                             new SelectListItem{ Value="120", Text="120" },
                                        }, "Please Select", new { @class = "form-control select2 mb-2" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Software Access From Outside Facility</label>
                                        @Html.DropDownListFor(m => m.emp_outside_access, new List<SelectListItem>
                                        {
                                            new SelectListItem{ Value="Allowed", Text="Allowed"},
                                            new SelectListItem{ Value="NotAllowed", Text="NotAllowed" }
                                        }, "Please Select", new { @class = "form-control select2 mb-2" })
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default mt-2 active">
                    <div class="panel-heading" role="tab" id="headingThree3">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" aria-expanded="false" aria-controls="collapseThree3">
                                ClinicSoft Login Information
                                <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree3" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingThree3">
                        <div class="panel-body ">
                            <div class="row">
                                <div class="col-sm-6 col-md-4 col-lg-4">
                                    <div class="form-group mb-3">
                                        <label class="form-label text-black">Employee Working Branch(es)&nbsp;<span class="text-danger">*</span></label>
                                        @Html.DropDownListFor(m => m.emp_work_branch, new SelectList(Model.BranchList, "id", "text"), new { @class = "form-control mb-3", @multiple = "multiple" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-4">
                                    <div class="form-group mb-3">
                                        <label class="form-label text-black">Username&nbsp;<span class="text-danger">*</span> </label>
                                        <div class="input-icon">
                                            <span class="input-icon-addon text-primary">
                                                <i class="fe fe-user fs-14"></i>
                                            </span>
                                            @Html.TextBoxFor(m => m.emp_login, new { @class = "form-control", @placeholder = "Enter Username", @maxlength = "14" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group mb-3">
                                        <label class="form-label text-black">Password <i class="fe fe-info text-info" style="cursor:pointer" data-bs-placement="top" data-bs-toggle="tooltip" title="Must contain min 8 and max 15 characters, 1 uppercase letter, 1 lowercase letter, 1 numeric & 1 special character"></i>&nbsp;<span class="text-danger">*</span></label>
                                        <div class="input-icon">
                                            <span class="input-icon-addon text-primary">
                                                <i class="fe fe-eye-off fs-14"></i>
                                            </span>
                                            @Html.TextBoxFor(m => m.emp_pass, new { @class = "form-control", @placeholder = "Enter Password", @type = "password", @maxlength = "12" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group mb-3">
                                        <label class="form-label text-black">Confirm Password&nbsp;<span class="text-danger">*</span></label>
                                        <div class="input-icon">
                                            <span class="input-icon-addon text-primary">
                                                <i class="fe fe-eye-off fs-14"></i>
                                            </span>
                                            @Html.TextBoxFor(m => m.emp_confirmpass, new { @class = "form-control", @placeholder = "Enter Confirm Password", @type = "password", @maxlength = "12" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default mt-2">
                    <div class="panel-heading " role="tab" id="headingOne1">
                        <h4 class="panel-title">
                            <a role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                                <span class="mt-5">DHA / DOH / MOH Login Information</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>Malaffi / Nabidh / Riayati Flag</span>
                                <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne1">
                        <div class="col mt-5">
                            <div class="row">
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group mb-3">
                                        <label class="form-label text-black">DHA / DOH  Username&nbsp;</label>
                                        <div class="input-icon">
                                            <span class="input-icon-addon text-primary">
                                                <i class="fe fe-user fs-14"></i>
                                            </span>
                                            @Html.TextBoxFor(m => m.emp_dha_login, new { @class = "form-control", @placeholder = "Enter DHA / DOH  Username", @maxlength = "10" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group mb-3">
                                        <label class="form-label text-black">DHA / DOH Password&nbsp;</label>
                                        <div class="input-icon">
                                            <span class="input-icon-addon text-primary">
                                                <i class="fe fe-eye-off fs-14"></i>
                                            </span>
                                            @Html.TextBoxFor(m => m.emp_dha_pass, new { @class = "form-control", @placeholder = "Enter DHA / DOH  Password", @type = "password", @maxlength = "15" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group mb-3">
                                        <label class="form-label text-black"> MOH Username&nbsp;</label>
                                        <div class="input-icon">
                                            <span class="input-icon-addon text-primary">
                                                <i class="fe fe-user fs-14"></i>
                                            </span>
                                            @Html.TextBoxFor(m => m.emp_moh_login, new { @class = "form-control", @placeholder = "Enter  MOH Username", @maxlength = "10" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group mb-3">
                                        <label class="form-label text-black"> MOH Password&nbsp;</label>
                                        <div class="input-icon">
                                            <span class="input-icon-addon text-primary">
                                                <i class="fe fe-eye-off fs-14"></i>
                                            </span>
                                            @Html.TextBoxFor(m => m.emp_moh_pass, new { @class = "form-control", @placeholder = "Enter  MOH Password", @type = "password", @maxlength = "15" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Sync (Malaffi / Nabidh / Riayati)</label>
                                        @Html.DropDownListFor(m => m.emp_flag, new List<SelectListItem>
                                        {
                                            new SelectListItem{ Value="Yes", Text="Yes"},
                                            new SelectListItem{ Value="No", Text="No" ,Selected=true},
                                        }, "Please Select", new { @class = "form-control select2 mb-2" })
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default mt-2">
                    <div class="panel-heading" role="tab" id="headingTwo2">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                Commission Information
                                <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo2">
                        <div class="panel-body ">
                            <div class="row">
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group">
                                        <label class="form-label">Consultation %</label>
                                        @Html.TextBoxFor(m => m.emp_consultation_commi, new { @class = "form-control mb-2 text-right", @placeholder = "Ex: 0.00", @min = 0, @man = 100, @onkeypress = "return validateOneDecimalNumeric(this,event);" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group">
                                        <label class="form-label">Procedure %</label>
                                        @Html.TextBoxFor(m => m.emp_procedure_commi, new { @class = "form-control mb-2 text-right", @placeholder = "Ex: 0.00", @min = 0, @man = 100, @onkeypress = "return validateOneDecimalNumeric(this,event);" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group">
                                        <label class="form-label">Lab %</label>
                                        @Html.TextBoxFor(m => m.emp_lab_commi, new { @class = "form-control mb-2 text-right", @placeholder = "Ex: 0.00", @min = 0, @man = 100, @onkeypress = "return validateOneDecimalNumeric(this,event);" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group">
                                        <label class="form-label">Radiology %</label>
                                        @Html.TextBoxFor(m => m.emp_rad_commi, new { @class = "form-control mb-2 text-right", @placeholder = "Ex: 0.00", @min = 0, @man = 100, @onkeypress = "return validateOneDecimalNumeric(this,event);" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group">
                                        <label class="form-label">Pharmacy %</label>
                                        @Html.TextBoxFor(m => m.emp_pha_commi, new { @class = "form-control mb-2 text-right", @placeholder = "Ex: 0.00", @min = 0, @man = 100, @onkeypress = "return validateOneDecimalNumeric(this,event);" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-2">
                                    <div class="form-group">
                                        <label class="form-label">Maternity %</label>
                                        @Html.TextBoxFor(m => m.emp_met_commi, new { @class = "form-control mb-2 text-right", @placeholder = "Ex: 0.00", @min = 0, @man = 100, @onkeypress = "return validateOneDecimalNumeric(this,event);" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center" id="error"></div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="btn-list btn-animation">
                    <button type="submit" class="btn btn-success" id="btn_Insert_Emp">Create Employee</button>
                    <button type="button" class="btn btn-outline-danger me-1 btnCloseCreate" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<!--INTERNAL telephoneinput js-->
<script src="~/assets/plugins/telephoneinput2/intlTelInput.min.js"></script>
<script src="~/assets/plugins/telephoneinput2/intlTelInput-jquery.min.js"></script>
<!-- Color Picker js-->
<script src="~/assets/plugins/spectrum-colorpicker/spectrum.js"></script>
<style>
    .sp-container {
        z-index: 99999999 !important;
    }
</style>
<script type="text/javascript">

    //#region Page Load
    $(function () {
        mobileFieldInititalization();

        $('#emp_address').mask('999-9999-9999999-9');

        $('#emp_work_branch').SumoSelect({
            placeholder: "Select Branch(es)",
            csvDispCount: 3,
            okCancelInMulti: true,
            isClickAwayOk: true,
            search: true,
            searchText: 'Enter here.',
            selectAll: true,
            Selection: false
        });

        $("#emp_branch").select2({
            placeholder: 'Select Branch',
            width: '100%',
            minimumResultsForSearch: '',
            maximumInputLength: 10,
            dropdownParent: $('#form_Add_Employee'),
            escapeMarkup: function (markup) {
                return markup;
            }
        });

        $("#emp_gender").select2({
            placeholder: 'Select Gender',
            width: '100%',
            minimumResultsForSearch: -1,
            dropdownParent: $('#form_Add_Employee'),
            escapeMarkup: function (markup) {
                return markup;
            }
        });

        $("#emp_scheduler").select2({
            placeholder: 'Please Select',
            width: '100%',
            minimumResultsForSearch: -1,
            dropdownParent: $('#form_Add_Employee'),
            escapeMarkup: function (markup) {
                return markup;
            }
        });

        $("#emp_dept").select2({
            placeholder: 'Select Department',
            width: '100%',
            minimumResultsForSearch: '',
            maximumInputLength: 10,
            dropdownParent: $('#form_Add_Employee'),
            escapeMarkup: function (markup) {
                return markup;
            }
        });

        $("#emp_desig").select2({
            placeholder: 'Select Designation',
            width: '100%',
            minimumResultsForSearch: '',
            maximumInputLength: 10,
            dropdownParent: $('#form_Add_Employee'),
            escapeMarkup: function (markup) {
                return markup;
            }
        });

        $('#emp_desig').on('select2:select', function (e) {
            var _data = e.params.data.text;

            if (_data == "Doctor") {
                $("#doctorView").removeClass("d-none");
            }
            else {
                if (!$("#doctorView").hasClass("d-none")) {
                    $("#doctorView").addClass("d-none");
                }
            }
        });

        $("#emp_nat").select2({
            placeholder: 'Select Nationality',
            width: '100%',
            minimumResultsForSearch: '',
            maximumInputLength: 10,
            dropdownParent: $('#form_Add_Employee'),
            escapeMarkup: function (markup) {
                return markup;
            }
        });

        $("#emp_teeth").select2({
            placeholder: 'Select Teeth',
            width: '100%',
            minimumResultsForSearch: '',
            dropdownParent: $('#form_Add_Employee'),
            escapeMarkup: function (markup) {
                return markup;
            }
        });

        $('#emp_color').spectrum({
            type: "flat",
            showInput: true,
            preferredFormat: "hex",
            color: '#0061da'
        });
        $('#emp_flag').select2({
            minimumResultsForSearch: '',
            dropdownParent: $('#form_Add_Employee'),
            width: '100%'
        });
        $('#emp_speciality').select2({
            minimumResultsForSearch: '',
            dropdownParent: $('#form_Add_Employee'),
            width: '100%'
        });

        $('#emp_pwd_validity').select2({
            minimumResultsForSearch: '',
            dropdownParent: $('#form_Add_Employee'),
            width: '100%'
        });
        
        $('#emp_outside_access').select2({
            minimumResultsForSearch: '',
            dropdownParent: $('#form_Add_Employee'),
            width: '100%'
        });

       /* load_speciality("HAAD");*/
        load_dhaspeciality();
        validation();
    });
    //#endregion

    //#region International Telephone Input
    var mobileFieldInititalization = function () {
        $("#emp_mob").intlTelInput({
            initialCountry: "auto",
            geoIpLookup: callback => {
                fetch("https://ipapi.co/json")
                    .then(res => res.json())
                    .then(data => callback(data.country_code))
                    .catch(() => callback("ae"));
            },
            separateDialCode: true,
            numberType: "MOBILE",
            allowExtensions: true,
            autoPlaceholder: "polite",
            preventInvalidNumbers: true,
            formatOnDisplay: true,
            autoInsertDialCode: true,
            preferredCountries: ["ae"],
            //allowDropdown: false,
            utilsScript: "../../assets/plugins/telephoneinput2/utils.js"
        });

        $("#emp_tel").intlTelInput({
            initialCountry: "auto",
            geoIpLookup: callback => {
                fetch("https://ipapi.co/json")
                    .then(res => res.json())
                    .then(data => callback(data.country_code))
                    .catch(() => callback("ae"));
            },
            separateDialCode: true,
            allowExtensions: true,
            autoPlaceholder: "polite",
            preventInvalidNumbers: true,
            formatOnDisplay: true,
            autoInsertDialCode: true,
            preferredCountries: ["ae"],
            //allowDropdown: false,
            utilsScript: "../../assets/plugins/telephoneinput2/utils.js"
        });
    }
    //#endregion

    //#region Validation Initialization
    var validation = function () {
        $.validator.addMethod("intlPhoneNumber", function (value, element) {
            return value === '' || $("#" + element.id).intlTelInput('isValidNumber');
        }, "Invalid Phone number");

        $.validator.addMethod('checkpass', function (value) {
            return /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@$!%*?&])[A-Za-z\d@@$!%*?&]{8,15}$/.test(value);
            return PasswordRegex.test(checkpass);
        }, 'Password does not meet the length / Complexity requirements!');

        $("#form_Add_Employee").validate({
            focusInvalid: true,
            rules:
            {
                emp_branch: {
                    required: true
                },
                emp_email: {
                    required: true
                },
                emp_name: {
                    required: true
                },
                emp_lname: {
                    required: true
                },
                emp_dept: {
                    required: true
                },
                emp_desig: {
                    required: true
                },
                emp_mob: {
                    required: true,
                    intlPhoneNumber :true
                },
                emp_login: {
                    required: true,
                    minlength: 5
                },
                emp_pass: {
                    required: true,
                    checkpass: true
                },
                emp_confirmpass: {
                    required: function () {
                        if ($("#emp_pass").val() != "") {
                            return true;
                        }
                        else {
                            return false
                        }
                    },
                    equalTo: "#emp_pass"
                },
                emp_work_branch: {
                    required: true
                },
                emp_nat: {
                    required: true
                },
                emp_license: {
                    required: function () {
                        if ($('#emp_desig :selected').text() == "Doctor" || $('#emp_desig :selected').text() == "Nurse") {
                            return true;
                        }
                        else
                            return false;
                    },
                    minlength:14,
                    maxlength:14
                },
                emp_speciality: {
                    required: function () {
                        if ($('#emp_desig :selected').text() == "Doctor")
                            return true;
                        else
                            return false;
                    }
                },
                emp_tel: {
                    intlPhoneNumber: true
                }
            },
            messages: {
                emp_branch: {
                    required: "Please Select Branch"
                },
                emp_email: {
                    required: "Enter E-Mail ID"
                },
                emp_name: {
                    required: "Enter First Name"
                },
                emp_lname: {
                    required: "Enter Last Name"
                },
                emp_dept: {
                    required: "Please Select Department"
                },
                emp_desig: {
                    required: "Please Select Designation"
                },
                emp_mob: {
                    required: "Enter Mobile No."
                },
                emp_login: {
                    required: "Enter login name",
                    minlength : "Min 5 characters"
                },
                emp_pass: {
                    required: "Enter Password"
                },
                emp_confirmpass: {
                    required: "Please Confirm Password!",
                    equalTo: "Confirm Password doesn't match!"
                },
                emp_work_branch: {
                    required: "Select Work Branch(es)"
                },
                emp_nat: {
                    required: "Select Nationality"
                },
                emp_license: {
                    required: "Please Enter License",
                    minlength: "Enter Valid License",
                    maxlength: "Enter Valid License"
                },
                emp_speciality: {
                    required: "Please Select Speciality"
                }
            },
            highlight: function (element) {
                var elem = $(element);

                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                }
                else {
                    elem.parent().addClass('has-error');
                }
                $(element).parent().addClass('has-error');
                error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                } else {
                    elem.removeClass('has-error');
                }
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);

                if (elem.hasClass("select2-hidden-accessible")) {
                    element = $("#select2-" + elem.attr("id") + "-container").parent();
                    error.insertAfter(element);
                }
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            }
        });

        $('#sign').on('change', function () {
            const fileSize = this.files[0].size / 1024 / 1024;
            if (fileSize > 5) {
                $("#emp_sign").val('');
                $("#sign").val('');

                var alertPlaceholder = document.getElementById("error");
                function alert(e, t) {
                    var l = document.createElement("div");
                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close"><span aria-hidden="true">&times;</span></button></div>', alertPlaceholder.append(l)
                }
                alert("<i class='fa fa-times text-white'></i> File size shouldn't exceed 5 MB!", "warning");

                Timeout();
            }
        });

        $('#photo').on('change', function () {
            if (this.files[0] != undefined) {
                const fileSize = this.files[0].size / 1024 / 1024;
                if (fileSize > 5) {
                    $("#emp_photo").val('');
                    $("#photo").val('');

                    var alertPlaceholder = document.getElementById("error");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close"><span aria-hidden="true">&times;</span></button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fa fa-times text-white'></i> File size shouldn't exceed 5 MB!", "warning");

                    Timeout();
                }
            }
        });

        $('#emid').on('change', function () {
            if (this.files[0] != undefined) {
                const fileSize = this.files[0].size / 1024 / 1024;
                if (fileSize > 5) {
                    $("#emp_emid").val('');
                    $("#emid").val('');

                    var alertPlaceholder = document.getElementById("error");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close"><span aria-hidden="true">&times;</span></button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fa fa-times text-white'></i> File size shouldn't exceed 5 MB!", "warning");

                    Timeout();
                }
            }
        });

        $('#stamp').on('change', function () {
            if (this.files[0] != undefined) {
                const fileSize = this.files[0].size / 1024 / 1024;
                if (fileSize > 5) {
                    $("#emp_stamp").val('');
                    $("#stamp").val('');

                    var alertPlaceholder = document.getElementById("error");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close"><span aria-hidden="true">&times;</span></button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fa fa-times text-white'></i> File size shouldn't exceed 5 MB!", "warning");

                    Timeout();
                }
            }
        });

        $('#emp_mob').on('change', function () {
            $(this).trigger('blur');
        });

        $('#emp_branch').on('change', function () {
            $(this).trigger('blur');
        });

        $('#emp_dept').on('change', function () {
            $(this).trigger('blur');
        });

        $('#emp_desig').on('change', function () {
            $(this).trigger('blur');
        });

        $('#emp_nat').on('change', function () {
            $(this).trigger('blur');
        });

        $('#emp_work_branch').on('change', function () {
            $(this).trigger('blur');
        });

        $('#emp_name').keypress(function (e) {
            $('#emp_login').val($('#emp_name').val());
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^a-zA-Z ]/g))
                return false;
        });

        $('#emp_lname').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^a-zA-Z ]/g))
                return false;
        });

        $('#emp_mob').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9]/g)) {
                return false;
            }
            else {
                if (e.target.value.length >= 13)
                    return false;
            }
        });

        $('#emp_tel').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9]/g)) {
                return false;
            }
            else {
                if (e.target.value.length >= 13)
                    return false;
            }
        });

        $('#emp_email').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^a-z0-9@@.]/g))
                return false;
        });

        $('#emp_disc_allowed').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }

            if (parseFloat(inputValue) > 100) {
                return false;
            }
        });

        $('#emp_consultation_commi').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }

            if (parseFloat(inputValue) > 100) {
                return false;
            }
        });

        $('#emp_procedure_commi').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }

            if (parseFloat(inputValue) > 100) {
                return false;
            }
        });

        $('#emp_lab_commi').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }

            if (parseFloat(inputValue) > 100) {
                return false;
            }
        });

        $('#emp_rad_commi').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }

            if (parseFloat(inputValue) > 100) {
                return false;
            }
        });

        $('#emp_pha_commi').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }

            if (parseFloat(inputValue) > 100) {
                return false;
            }
        });

        $('#emp_met_commi').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }

            if (parseFloat(inputValue) > 100) {
                return false;
            }
        });

        $('#emp_pass').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/g))
                return false;
        });

        $('#emp_confirmpass').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/g))
                return false;
        });

        $("#emp_fax").keypress(function (e) {
            var charCode = (e.which) ? e.which : e.charCode;

            if (String.fromCharCode(charCode).match(/[^0-9A-z-]/g))
                e.preDefault();
        });

        $("#emp_disc_allowed").on('input', function () {
            var disc = $(this).val();
            if (disc == "" || disc == null || disc == undefined) {
                $("#emp_disc_allowed").val(0.00);
            }
        });

        $("#emp_consultation_commi").on('input', function () {
            var deci = $(this).val();
            if (deci == "" || deci == null || deci == undefined) {
                $("#emp_consultation_commi").val(0.00);
            }
        });

        $("#emp_procedure_commi").on('input', function () {
            var deci = $(this).val();
            if (deci == "" || deci == null || deci == undefined) {
                $("#emp_procedure_commi").val(0.00);
            }
        });

        $("#emp_lab_commi").on('input', function () {
            var deci = $(this).val();
            if (deci == "" || deci == null || deci == undefined) {
                $("#emp_lab_commi").val(0.00);
            }
        });

        $("#emp_rad_commi").on('input', function () {
            var deci = $(this).val();
            if (deci == "" || deci == null || deci == undefined) {
                $("#emp_rad_commi").val(0.00);
            }
        });

        $("#emp_met_commi").on('input', function () {
            var deci = $(this).val();
            if (deci == "" || deci == null || deci == undefined) {
                $("#emp_met_commi").val(0.00);
            }
        });

        $("#emp_pha_commi").on('input', function () {
            var deci = $(this).val();
            if (deci == "" || deci == null || deci == undefined) {
                $("#emp_pha_commi").val(0.00);
            }
        });
    }
    //#endregion

    //#region Validate Decimal
    function validateOneDecimalNumeric(el, evt) {
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        var number = el.value.split('.');
        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        //just one dot
        if (number.length > 1 && charCode == 46) {
            return false;
        }
        //get the Current position
        var caratPos = getSelectionStart(el);
        var dotPos = el.value.indexOf(".");
        if (caratPos > dotPos && dotPos > -1 && (number[1].length > 1)) {
            return false;
        }
        return true;
    }
    function getSelectionStart(o) {
        if (o.createTextRange) {
            var r = document.selection.createRange().duplicate()
            r.moveEnd('character', o.value.length)
            if (r.text == '') return o.value.length
            return o.value.lastIndexOf(r.text)
        } else return o.selectionStart
    }
    //#endregion

    //#region Change Nabidh/Malaffi/Riyathi
        $('#emp_branch').on('select2:select', function (e) {
            var data = e.params.data;
            if ($("#emp_branch").val() > 0) {
                $.ajax({
                    url: '@Url.Action("GetSetupinfo", "Employees", new { area = "Masters" })?setId=' + $("#emp_branch").val(),
                    type: "GET",
                    dataType: "json",
                    async: false,
                    success: function (response) {
                        if (response.length > 0) {
                            var _type = response[0].set_city;
                            load_speciality(_type);
                        }
                    },
                    error: function (xhr) {
                        console.log("Failed to Load Specilaities! Error : " + xhr.statusText);
                    }
                });
            }
            else {

            }

        });
    //#endregion

    //#region Load Speciality
    var load_speciality = function (_type) {
        $.ajax({
            url: '@Url.Action("GetSpeciality", "Employees", new { area = "Masters" })?_type=' + _type,
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                $("#emp_speciality").select2({
                    placeholder: 'Select Speciality',
                    width: '100%',
                    minimumResultsForSearch: '',
                    maximumInputLength: 10,
                    dropdownParent: $('#form_Add_Employee'),
                    escapeMarkup: function (markup) {
                        return markup;
                    }
                });

                if (response.length > 0) {

                    $.each(response, function (j) {
                        var newOption = new Option(response[j].text, response[j].id);
                        $('#emp_speciality').append(newOption).trigger('change');
                    });
                }
            },
            error: function (xhr) {
                console.log("Failed to Load Specilaities! Error : " + xhr.statusText);
            }
        });
    };
    //#endregion

    //#region Load DHA Speciality
    var load_dhaspeciality = function () {
        $.ajax({
            url: '@Url.Action("GetDHASpeciality", "Employees", new { area = "Masters" })',
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                $("#emp_dha_speciality").select2({
                    placeholder: 'Select DHA Speciality',
                    width: '100%',
                    minimumResultsForSearch: '',
                    maximumInputLength: 10,
                    dropdownParent: $('#form_Add_Employee'),
                    escapeMarkup: function (markup) {
                        return markup;
                    }
                });

                if (response.length > 0) {
                    $.each(response, function (j) {
                        var newOption = new Option(response[j].text, response[j].id);
                        $('#emp_dha_speciality').append(newOption).trigger('change');
                    });
                }
            },
            error: function (xhr) {
                console.log("Failed to DHA Specilaities! Error : " + xhr.statusText);
            }
        });
    };
    //#endregion

    $('#emp_name').on('change', function () {

    });

    //#region Insert Employee Click
    $('#btn_Insert_Emp').on('click', function (e) {
        e.preventDefault();

        if ($("#form_Add_Employee").valid()) {

            $('#btn_Insert_Emp').removeClass("btn btn-success");
            $('#btn_Insert_Emp').addClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Insert_Emp').parent().addClass("curdrop");
            $('.btnCloseCreate').addClass("disabled");
            $('#btn_Insert_Emp').html("Creating.. Please Wait");

            var formData = new FormData();
            var files = $('input[type=file]');

            formData.append("__RequestVerificationToken", $('input[name="__RequestVerificationToken"]').val());
            formData.append("empId", 0);
            formData.append("emp_login", $("#emp_login").val().trim());
            formData.append("emp_pass", $("#emp_pass").val());
            formData.append("emp_name", $("#emp_name").val().trim());
            formData.append("emp_gender", $("#emp_gender").val());
            formData.append("emp_tel", $("#emp_tel").intlTelInput("getNumber"));
            formData.append("emp_mob", $("#emp_mob").intlTelInput("getNumber"));
            formData.append("emp_fax", $("#emp_fax").val().trim());
            formData.append("emp_email", $("#emp_email").val().trim());
            formData.append("emp_address", $("#emp_address").val().trim());
            formData.append("emp_license", $("#emp_license").val().trim());
            formData.append("emp_teeth", $("#emp_teeth").val());
            formData.append("emp_work_branch", $("#emp_work_branch").val().toString());
            formData.append("emp_dept", $("#emp_dept").val());
            formData.append("emp_desig", $("#emp_desig").val());
            formData.append("emp_nat", $("#emp_nat").val());
            formData.append("emp_color", $("#emp_color").spectrum('get').toString());
            formData.append("emp_branch", $("#emp_branch").val());
            formData.append("emp_consultation_commi", parseFloat($("#emp_consultation_commi").val()));
            formData.append("emp_procedure_commi", parseFloat($("#emp_procedure_commi").val()));
            formData.append("emp_lab_commi", parseFloat($("#emp_lab_commi").val()));
            formData.append("emp_rad_commi", parseFloat($("#emp_rad_commi").val()));
            formData.append("emp_pha_commi", parseFloat($("#emp_pha_commi").val()));
            formData.append("emp_met_commi", parseFloat($("#emp_met_commi").val()));
            formData.append("emp_disc_allowed", parseFloat($("#emp_disc_allowed").val()));
            formData.append("emp_speciality", $("#emp_speciality option:selected").text());
            formData.append("emp_dha_login", $("#emp_dha_login").val().trim());
            formData.append("emp_dha_pass", $("#emp_dha_pass").val().trim());
            formData.append("emp_lname", $("#emp_lname").val().trim());
            formData.append("emp_whatsappId", $("#emp_whatsappId").val().trim());
            formData.append("emp_whatsappToken", $("#emp_whatsappToken").val().trim());
            formData.append("emp_dha_speciality", $("#emp_dha_speciality").val());
            formData.append("emp_scheduler", $("#emp_scheduler").val());
            formData.append("emp_moh_login", $("#emp_moh_login").val());
            formData.append("emp_moh_pass", $("#emp_moh_pass").val());
            formData.append("emp_pwd_validity", $("#emp_pwd_validity").val());
            formData.append("emp_outside_access", $("#emp_outside_access").val());
            formData.append("emp_flag", $("#emp_flag").val());

            for (var i = 0; i < files.length; i++) {
                if (files[i].value == "" || files[i].value == null) {
                    if (files[i].name === "emp_sign") {
                        formData.append("emp_sign", $("#emp_sign").val());
                    }
                    else if (files[i].name === "emp_photo") {
                        formData.append("emp_photo", $("#emp_photo").val());
                    }
                    else if (files[i].name === "emp_emid") {
                        formData.append("emp_emid", $("#emp_emid").val());
                    }
                    else if (files[i].name === "emp_stamp") {
                        formData.append("emp_stamp", $("#emp_stamp").val());
                    }
                }
                else {
                    formData.append(files[i].name, files[i].files[0]);
                }
            }

            $.ajax({
                type: "POST",
                url: "@Url.Action("InsertEmployee", "Employees", new { area = "Masters" })",
                dataType: 'json',
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    $('#btn_Insert_Emp').parent().removeClass("curdrop");
                    $('#btn_Insert_Emp').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Insert_Emp').addClass("btn btn-success");
                    $('#btn_Insert_Emp').html("Create Employee");
                    $('.btnCloseCreate').removeClass("disabled");
                    $("#error").html('');

                    if (data.isSuccess) {
                        if (data.isInserted) {
                            var alertPlaceholder = document.getElementById("EmployeeAlert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close"><span aria-hidden="true">&times;</span></button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> " + data.message +"", "success");
                            $('#employee_modal_create').modal("hide");
                            GetEmployees();
                            Timeout();
                        }
                        else {
                            let html = "<div class='alert alert-light-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16 text-warning' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong><i class='fa fa-exclamation-triangle text-warning'></i> " + data.message +"</strong><br/>" +
                                "</div>";
                            $("#error").html(html);
                        }
                    }
                    else
                    {
                        if (data.max_users == undefined || data.max_users == "") {
                            let html = "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16 text-white' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error Summary!</strong><br/><ul class='list-group mt-2'>";

                            $.each(data.message, function (index, value) {
                                html += "<li class='list-group-item list-group-item-danger text-black' style='width:300px'><small><i class='fa fa-circle me-2' aria-hidden='true'></i> " + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div>";
                            $("#error").html(html);
                        }
                        else {
                            var alertPlaceholder = document.getElementById("error");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-light-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close text-danger" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fa fa-times text-danger'></i> " + data.max_users, "danger");
                        }
                    }
                },
                error: function (xhr) {
                    $('#btn_Insert_Emp').parent().removeClass("curdrop");
                    $('#btn_Insert_Emp').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Insert_Emp').addClass("btn btn-success");
                    $('#btn_Insert_Emp').html("Create Employee");
                    $('.btnCloseCreate').removeClass("disabled");
                    console.log("Failed to Create Employee! Error : " + xhr.statusText);
                    $('#employee_modal_create').modal('toggle');
                    Timeout();
                }
            }).done(function () {
                $('#btn_Insert_Emp').parent().removeClass("curdrop");
                $('#btn_Insert_Emp').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Insert_Emp').addClass("btn btn-success");
                $('#btn_Insert_Emp').html("Create Employee");
                $('.btnCloseCreate').removeClass("disabled");
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion

</script>