@model BusinessEntities.Masters.DoctorDetailInfo
<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold">Detailed information of &nbsp;</h5>
    <span class="badge bg-primary-light-1 text-uppercase"> @Model.emp_name </span>
    <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body p-4" style="background: #f5f5f5;">
    <div class="row">
        <div class="col-xl-3 col-lg-4">
            <div class="card box-widget widget-user">
                <div class="widget-user-image mx-auto mt-5">
                    @if (!string.IsNullOrEmpty(@Model.emp_info.emp_photo))
                    {
                        <img alt="Photo" src="~/images/patient_images/@Model.emp_info.emp_photo" class="rounded-circle" />
                    }
                    else
                    {
                        if (!string.IsNullOrEmpty(Model.emp_info.emp_gender))
                        {
                            if (Model.emp_info.emp_gender.ToLower().Trim() == "male")
                            {
                                <img alt="Photo" src="~/images/no-photo-male.jpg" class="rounded-circle" />
                            }
                            else if (Model.emp_info.emp_gender.ToLower().Trim() == "female")
                            {
                                <img alt="Photo" src="~/images/no-photo-female.jpg" class="rounded-circle" />
                            }
                            else
                            {
                                <img alt="Photo" src="~/assets/images/clinicsoft9/emid.jpg" class="rounded-circle" />
                            }
                        }
                        else
                        {
                            <img alt="Photo" src="~/assets/images/clinicsoft9/emid.jpg" class="rounded-circle" />
                        }
                    }
                </div>
                <div class="card-body pt-7">
                    <div class="pro-user text-center">
                        <h3 class="pro-user-username mb-1 fs-22">@Model.emp_info.emp_name @Model.emp_info.emp_lname</h3>
                        <h6 class="pro-user-desc text-muted">@Model.emp_info.emp_address</h6>
                    </div>
                    <div>
                        <div class="mb-3">
                            <div class="d-flex">
                                <div class="Recent-transactions-img brround bg-azure text-white font-weight-normal1">
                                    <i class="fa fa-user-secret text-white"></i>
                                </div>
                                <div class="">
                                    <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">@Model.emp_info.designation</a>
                                    <p class="text-muted fs-11">Designation</p>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex">
                                <div class="Recent-transactions-img brround bg-warning-1 text-white font-weight-normal1">
                                    <i class="fa fa-building-o text-white"></i>
                                </div>
                                <div class="">
                                    <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">@Model.emp_info.department</a>
                                    <p class="text-muted fs-11">Department</p>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex">
                                <div class="Recent-transactions-img brround bg-cyan text-white font-weight-normal1">
                                    <i class="fa fa-user-plus text-white"></i>
                                </div>
                                <div class="">
                                    <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">@Model.emp_info.emp_speciality</a>
                                    <p class="text-muted fs-11">Speciality</p>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex">
                                <div class="Recent-transactions-img brround bg-primary text-white font-weight-normal1">
                                    <i class="fa fa-id-card-o text-white"></i>
                                </div>
                                <div class="">
                                    <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">@Model.emp_info.emp_license</a>
                                    <p class="text-muted fs-11">License</p>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex">
                                <div class="Recent-transactions-img brround bg-danger text-white font-weight-normal1">
                                    <i class="fa fa-mobile-phone text-white"></i>
                                </div>
                                <div class="">
                                    <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">@Model.emp_info.emp_mob</a>
                                    <p class="text-muted fs-11">Mobile No</p>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex">
                                <div class="Recent-transactions-img brround bg-info text-white font-weight-normal1">
                                    <i class="fa fa-envelope-o text-white"></i>
                                </div>
                                <div class="">
                                    <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">@Model.emp_info.emp_email</a>
                                    <p class="text-muted fs-11">Email ID</p>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex">
                                <div class="Recent-transactions-img brround bg-success text-white font-weight-normal1">
                                    @{
                                        if (!string.IsNullOrEmpty(Model.emp_info.emp_gender))
                                        {
                                            if (Model.emp_info.emp_gender.ToLower().Trim() == "male")
                                            {
                                                <i class="fa fa-male text-white"></i>
                                            }
                                            else if (Model.emp_info.emp_gender.ToLower().Trim() == "female")
                                            {
                                                <i class="fa fa-female text-white"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-male text-white"></i>
                                            }
                                        }
                                        else
                                        {
                                            <i class="fa fa-male text-white"></i>
                                        }
                                    }
                                </div>
                                <div class="">
                                    <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">@Model.emp_info.emp_gender</a>
                                    <p class="text-muted fs-11">Gender</p>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex">
                                <div class="Recent-transactions-img brround bg-secondary text-white font-weight-normal1">
                                    <i class="fa fa-flag-o text-white"></i>
                                </div>
                                <div class="">
                                    <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">@Model.emp_info.nationality</a>
                                    <p class="text-muted fs-11">Nationality</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-lg-3">
                    <div class="card">
                        <div class="card-body text-center list-icons">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="svg-icon2 text-primary icon-dropshadow-primary bi bi-coin" viewBox="0 0 16 16">
                                <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z" />
                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z" />
                            </svg>
                            <p class="card-text mt-3 mb-0">Total Cash Sales</p>
                            <p class="h2 text-center font-weight-bold">@Model.acc_summary.CashSales.ToString("N2")</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-3">
                    <div class="card">
                        <div class="card-body text-center list-icons">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="svg-icon2 fill-secondary icon-dropshadow-secondary bi bi-cash-coin" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z" />
                                <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z" />
                                <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z" />
                                <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z" />
                            </svg>
                            <p class="card-text mt-3 mb-0">Total Insurance Sales</p>
                            <p class="h2 text-center font-weight-bold">@Model.acc_summary.InsSales.ToString("N2")</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-3">
                    <div class="card">
                        <div class="card-body text-center list-icons">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="svg-icon2 icon-dropshadow-secondary bi bi-receipt" viewBox="0 0 16 16">
                                <path d="M1.92.506a.5.5 0 0 1 .434.14L3 1.293l.646-.647a.5.5 0 0 1 .708 0L5 1.293l.646-.647a.5.5 0 0 1 .708 0L7 1.293l.646-.647a.5.5 0 0 1 .708 0L9 1.293l.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .801.13l.5 1A.5.5 0 0 1 15 2v12a.5.5 0 0 1-.053.224l-.5 1a.5.5 0 0 1-.8.13L13 14.707l-.646.647a.5.5 0 0 1-.708 0L11 14.707l-.646.647a.5.5 0 0 1-.708 0L9 14.707l-.646.647a.5.5 0 0 1-.708 0L7 14.707l-.646.647a.5.5 0 0 1-.708 0L5 14.707l-.646.647a.5.5 0 0 1-.708 0L3 14.707l-.646.647a.5.5 0 0 1-.801-.13l-.5-1A.5.5 0 0 1 1 14V2a.5.5 0 0 1 .053-.224l.5-1a.5.5 0 0 1 .367-.27zm.217 1.338L2 2.118v11.764l.137.274.51-.51a.5.5 0 0 1 .707 0l.646.647.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.646.646.646-.646a.5.5 0 0 1 .708 0l.509.509.137-.274V2.118l-.137-.274-.51.51a.5.5 0 0 1-.707 0L12 1.707l-.646.647a.5.5 0 0 1-.708 0L10 1.707l-.646.647a.5.5 0 0 1-.708 0L8 1.707l-.646.647a.5.5 0 0 1-.708 0L6 1.707l-.646.647a.5.5 0 0 1-.708 0L4 1.707l-.646.647a.5.5 0 0 1-.708 0l-.509-.51z" />
                                <path d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm8-6a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z" />
                            </svg>
                            <p class="card-text mt-3 mb-0">Total Received</p>
                            <p class="h2 text-center font-weight-bold">@Model.acc_summary.Received.ToString("N2")</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row me-0 ms-0">
                    <div class="col-xl-2 col-lg-6 col-sm-6 pe-0 ps-0 border-end">
                        <div class="card-body text-center text-info">
                            <p class="mb-1">Booked</p>
                            <h2 class="mb-1 font-weight-bold">@Model.app_status_summary.Booked.ToString("D2")</h2>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-6 col-sm-6 pe-0 ps-0 border-end">
                        <div class="card-body text-center text-primary">
                            <p class="mb-1">Confirmed</p>
                            <h2 class="mb-1 font-weight-bold">@Model.app_status_summary.Confirmed.ToString("D2")</h2>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-6 col-sm-6 pe-0 ps-0 border-end">
                        <div class="card-body text-center text-azure">
                            <p class="mb-1">Arrived</p>
                            <h2 class="mb-1 font-weight-bold">@Model.app_status_summary.Arrived.ToString("D2")</h2>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-6 col-sm-6 pe-0 ps-0 border-end">
                        <div class="card-body text-center text-success">
                            <p class="mb-1">Completed</p>
                            <h2 class="mb-1 font-weight-bold">@Model.app_status_summary.Completed.ToString("D2")</h2>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-6 col-sm-6 pe-0 ps-0 border-end">
                        <div class="card-body text-center text-gray-dark">
                            <p class="mb-1">Cancelled</p>
                            <h2 class="mb-1 font-weight-bold">@Model.app_status_summary.Cancelled.ToString("D2")</h2>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-6 col-sm-6 pe-0 ps-0">
                        <div class="card-body text-center text-danger">
                            <p class="mb-1">Deleted</p>
                            <h2 class="mb-1 font-weight-bold">@Model.app_status_summary.Deleted.ToString("D2")</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card p-1">
                <div class="panel-group accordion-panel" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default active">
                        <div class="panel-heading " role="tab" id="doc_appointments">
                            <h4 class="panel-title">
                                <a role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#pnl_doc_appointments" aria-expanded="true" aria-controls="pnl_doc_appointments">
                                    <i class="fa fa-calendar-check-o me-2"></i>Appointments
                                    <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                                </a>
                            </h4>
                        </div>
                        <div id="pnl_doc_appointments" class="panel-collapse collapse" role="tabpanel" aria-labelledby="doc_appointments">
                            <div class="panel-body">
                                <div class="table-responsive" style="min-height:unset;">
                                    <table id="tbl_doc_app_summary" class="table table-bordered text-nowrap resize-table" style="width:100%;">
                                        <thead>
                                            <tr style="color: #fff !important; background-color: #5b73e8; border-color: #5b73e8; ">
                                                <th class="border-bottom-0 font-weight-semibold text-white">Visit ID</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Date &amp; Time</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Room</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Doctor</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Patient</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Type</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Status</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Remark</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Made By</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var dr in Model.summary.app_summary)
                                            {
                                                <tr>
                                                    <td class="fs-13">@dr.appId</td>
                                                    <td class="fs-13">
                                                        <i class="fa fa-calendar-check-o text-dark me-1"></i>
                                                        @dr.app_fdate.ToString("dd-MM-yyyy") <br />
                                                        <i class="fa fa-clock-o text-dark me-1"></i>
                                                        @dr.app_doc_ftime - @dr.app_doc_ttime
                                                    </td>
                                                    <td class="fs-13">@dr.room</td>
                                                    <td class="fs-13">@dr.app_doctor</td>
                                                    <td class="fs-13">@dr.app_patient</td>
                                                    <td class="fs-13">
                                                        @if (dr.app_type.ToLower() == "first time")
                                                        {
                                                            <span class="font-weight-semibold text-primary">First Time</span>
                                                        }
                                                        else if (dr.app_type.ToLower() == "followup")
                                                        {
                                                            <span class="font-weight-semibold text-secondary">Followup</span>
                                                        }
                                                        else if (dr.app_type.ToLower() == "repeat")
                                                        {
                                                            <span class="font-weight-semibold text-danger">Repeat</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="font-weight-semibold text-dark">@dr.app_type</span>
                                                        }
                                                    </td>
                                                    <td class="fs-13">
                                                        @if (dr.app_status.ToLower() == "booked")
                                                        {
                                                            <span class="dot-label bg-info me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-info">Booked</span>
                                                        }
                                                        else if (dr.app_status.ToLower() == "confirmed")
                                                        {
                                                            <span class="dot-label bg-primary me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-primary">Confirmed</span>
                                                        }
                                                        else if (dr.app_status.ToLower() == "arrived")
                                                        {
                                                            <span class="dot-label bg-secondary me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-secondary">Arrived</span>
                                                        }
                                                        else if (dr.app_status.ToLower() == "invoiced")
                                                        {
                                                            <span class="dot-label bg-success me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-success">Completed</span>
                                                        }
                                                        else if (dr.app_status.ToLower() == "cancelled")
                                                        {
                                                            <span class="dot-label bg-gray me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-gray-dark">Cancelled</span>
                                                        }
                                                        else if (dr.app_status.ToLower() == "deleted")
                                                        {
                                                            <span class="dot-label bg-danger me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-danger">Deleted</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="dot-label bg-dark me-2 w-2 h-2"></span>
                                                            <span class="font-weight-semibold text-dark">@dr.app_status</span>
                                                        }
                                                    </td>
                                                    <td class="fs-13">
                                                        @if (string.IsNullOrEmpty(dr.remarks.Trim()))
                                                        {
                                                            <span class="text-muted">No Remarks</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="text-info text-wrap">@dr.remarks</span>
                                                        }
                                                    </td>
                                                    <td class="fs-13">@dr.app_madeby_name</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default mt-2">
                        <div class="panel-heading" role="tab" id="doc_treatments">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#pnl_pat_treatments" aria-expanded="false" aria-controls="pnl_pat_treatments">
                                    <i class="fa fa-medkit me-2"></i>Patient Treatments / Procedures
                                    <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                                </a>
                            </h4>
                        </div>
                        <div id="pnl_pat_treatments" class="panel-collapse collapse" role="tabpanel" aria-labelledby="doc_treatments">
                            <div class="panel-body ">
                                <div class="table-responsive" style="min-height:unset;">
                                    <table id="tbl_pat_treatment_summary" class="table table-bordered text-nowrap resize-table" style="width:100%;">
                                        <thead>
                                            <tr style="color: #fff !important; background-color: #5b73e8; border-color: #5b73e8; ">
                                                <th class="border-bottom-0 font-weight-semibold text-white">Visit ID</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">CPT Code</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Treatment</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Qty</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Unit Price</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Total</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Discount</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">VAT</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">NET + VAT</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var dr in Model.summary.treatment_summary)
                                            {
                                                int _val = (dr.pt_tr_name.Length >= 50) ? 1 : 0;
                                                <tr>
                                                    <td class="fs-13">
                                                        @dr.appId.ToString() <br />
                                                        <i class="fa fa-calendar-check-o text-dark me-1"></i>
                                                        @dr.pt_app_fdate.ToString("dd-MM-yyyy") <br />
                                                    </td>
                                                    <td class="fs-13">@dr.pt_tr_code</td>
                                                    <td class="fs-13 text-wrap">
                                                        @if (_val == 1)
                                                        {
                                                            @dr.pt_tr_name.Substring(0, 50)
                                                            <span class="text-muted-dark ms-1" title="@dr.pt_tr_name">...</span>
                                                        }
                                                        else
                                                        {
                                                            @dr.pt_tr_name
                                                        }
                                                        <br />
                                                        <small class="text-info">(@dr.ip_name)</small>
                                                    </td>
                                                    <td class="fs-13 text-muted">@dr.pt_qty</td>
                                                    <td class="fs-13 text-end">@decimal.Parse(dr.pt_uprice.ToString()).ToString("N2") </td>
                                                    <td class="fs-13 text-end">@decimal.Parse(dr.pt_total.ToString()).ToString("N2")</td>
                                                    <td class="fs-13 text-end">@decimal.Parse(dr.pt_disc.ToString()).ToString("N2")</td>
                                                    <td class="fs-13 text-end">@decimal.Parse(dr.pt_vat.ToString()).ToString("N2")</td>
                                                    <td class="fs-13 text-end">@decimal.Parse(dr.pt_total.ToString()).ToString("N2")</td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="4" class="text-end fs-14 font-weight-semibold">Total:</th>
                                                <th class="text-end fs-14 font-weight-semibold text-dark"></th>
                                                <th class="text-end fs-14 font-weight-semibold text-dark"></th>
                                                <th class="text-end fs-14 font-weight-semibold text-dark"></th>
                                                <th class="text-end fs-14 font-weight-semibold text-dark"></th>
                                                <th class="text-end fs-14 font-weight-semibold text-dark"></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default mt-2">
                        <div class="panel-heading" role="tab" id="doc_invoices">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#pnl_doc_invoices" aria-expanded="false" aria-controls="pnl_doc_invoices">
                                    <i class="fa fa-file-pdf-o me-2"></i>Invoices
                                    <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                                </a>
                            </h4>
                        </div>
                        <div id="pnl_doc_invoices" class="panel-collapse collapse" role="tabpanel" aria-labelledby="doc_invoices">
                            <div class="panel-body ">
                                <div class="table-responsive" style="min-height:unset;">
                                    <table id="tbl_doc_invoice_summary" class="table table-bordered text-nowrap resize-table" style="width:100%;">
                                        <thead>
                                            <tr style="color: #fff !important; background-color: #5b73e8; border-color: #5b73e8; ">
                                                <th class="border-bottom-0 font-weight-semibold text-white">Visit ID</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Invoice #</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Type</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Date &amp; Time</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Status</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Gross</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Discount</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Net</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">VAT</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">NET+VAT</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var dr in Model.summary.invoices_summary)
                                            {
                                                <tr>
                                                    <td class="fs-13">
                                                        @dr.inv_appId.ToString() <br />
                                                        <i class="fa fa-calendar-check-o text-dark me-1"></i>
                                                        @dr.app_fdate.ToString("dd-MM-yyyy") <br />
                                                    </td>
                                                    <td class="fs-13">@dr.inv_no</td>
                                                    <td class="fs-13 text-wrap">
                                                        @if (dr.inv_type.ToLower() == "cash")
                                                        {
                                                            <span class="text-primary">Cash</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="text-info">@dr.inv_type</span>
                                                        }
                                                    </td>
                                                    <td class="fs-13">
                                                        <i class="fa fa-calendar-check-o text-dark me-1"></i>
                                                        @dr.inv_date.ToString("dd-MM-yyyy") <br />
                                                        <i class="fa fa-clock-o text-dark me-1"></i>
                                                        @dr.inv_date.ToString("HH:mm:ss")
                                                    </td>
                                                    <td class="fs-13 text-wrap">
                                                        @if (dr.inv_status.ToLower() == "paid")
                                                        {
                                                            <span class="dot-label bg-success me-2 w-2 h-2"></span>
                                                            <span class="text-success">Paid</span>
                                                        }
                                                        else if (dr.inv_status.ToLower() == "partly paid")
                                                        {
                                                            <span class="dot-label bg-orange me-2 w-2 h-2"></span>
                                                            <span class="text-orange">Partly Paid</span>
                                                        }
                                                        else if (dr.inv_status.ToLower() == "unpaid")
                                                        {
                                                            <span class="dot-label bg-danger me-2 w-2 h-2"></span>
                                                            <span class="text-danger">Unpaid</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="dot-label bg-dark me-2 w-2 h-2"></span>
                                                            <span class="text-dark">@dr.inv_status</span>
                                                        }
                                                    </td>
                                                    <td class="fs-13 text-end">@decimal.Parse(dr.inv_total.ToString()).ToString("N2") </td>
                                                    <td class="fs-13 text-end">@decimal.Parse(dr.inv_disc.ToString()).ToString("N2")</td>
                                                    <td class="fs-13 text-end">@decimal.Parse(dr.inv_net.ToString()).ToString("N2")</td>
                                                    <td class="fs-13 text-end">@decimal.Parse(dr.inv_vat.ToString()).ToString("N2")</td>
                                                    <td class="fs-13 text-end">@decimal.Parse(dr.inv_netvat.ToString()).ToString("N2")</td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="5" class="text-end fs-14 font-weight-semibold">Total:</th>
                                                <th class="text-end fs-14 font-weight-semibold text-dark"></th>
                                                <th class="text-end fs-14 font-weight-semibold text-dark"></th>
                                                <th class="text-end fs-14 font-weight-semibold text-dark"></th>
                                                <th class="text-end fs-14 font-weight-semibold text-dark"></th>
                                                <th class="text-end fs-14 font-weight-semibold text-dark"></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default mt-2">
                        <div class="panel-heading" role="tab" id="pat_doc_receipts">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#pnl_doc_receipts" aria-expanded="false" aria-controls="pnl_doc_receipts">
                                    <i class="fa fa-file-excel-o me-2"></i>Receipts
                                    <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                                </a>
                            </h4>
                        </div>
                        <div id="pnl_doc_receipts" class="panel-collapse collapse" role="tabpanel" aria-labelledby="pat_doc_receipts">
                            <div class="panel-body ">
                                <div class="table-responsive" style="min-height:unset;">
                                    <table id="tbl_doc_receipts_summary" class="table table-bordered text-nowrap resize-table" style="width:100%;">
                                        <thead>
                                            <tr style="color: #fff !important; background-color: #5b73e8; border-color: #5b73e8; ">
                                                <th class="border-bottom-0 font-weight-semibold text-white">Rec. Code</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Invoice #</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Patient</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Cash</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Credit Card</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Credit Card Charges</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Cheque</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Bank</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Allocated</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Voucher</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Loyality</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Bad Debit</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Received</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Refunded</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Net</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Receipt By</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var dr in Model.summary.receipts_summary)
                                            {
                                                <tr>
                                                    <td class="fs-13">@dr.rec_code</td>
                                                    <td class="fs-13">
                                                        @dr.rec_invoice_no.ToString() <br />
                                                        <i class="fa fa-calendar-check-o text-dark me-1"></i>
                                                        @dr.rec_date.ToString("dd-MM-yyyy") <br />
                                                    </td>
                                                    <td class="fs-13">@dr.rec_patient</td>
                                                    <td class="fs-13 text-end">@decimal.Parse(dr.rec_cash.ToString()).ToString("N2") </td>
                                                    <td class="fs-13 text-end">@decimal.Parse(dr.rec_cc.ToString()).ToString("N2")</td>
                                                    <td class="fs-13 text-end">@decimal.Parse(dr.rec_cc_charges.ToString()).ToString("N2")</td>
                                                    <td class="fs-13 text-end">@decimal.Parse(dr.rec_chq.ToString()).ToString("N2")</td>
                                                    <td class="fs-13 text-end">@decimal.Parse(dr.rec_bt.ToString()).ToString("N2")</td>
                                                    <td class="fs-13 text-end">@decimal.Parse(dr.rec_allocated.ToString()).ToString("N2")</td>
                                                    <td class="fs-13 text-end">@decimal.Parse(dr.rec_vamount.ToString()).ToString("N2")</td>
                                                    <td class="fs-13 text-end">@decimal.Parse(dr.rec_lamount.ToString()).ToString("N2")</td>
                                                    <td class="fs-13 text-end">@decimal.Parse(dr.rec_debit.ToString()).ToString("N2")</td>
                                                    <td class="fs-13 text-end">@decimal.Parse(dr.rec_total.ToString()).ToString("N2")</td>
                                                    <td class="fs-13 text-end">@decimal.Parse(dr.total_refunded.ToString()).ToString("N2")</td>
                                                    <td class="fs-13 text-end">@decimal.Parse(dr.total_net.ToString()).ToString("N2")</td>
                                                    <td class="fs-13">@dr.rec_madeby_name</td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="3" class="text-end fs-14 font-weight-semibold">Total:</th>
                                                <th class="text-end fs-14 font-weight-semibold text-dark"></th>
                                                <th class="text-end fs-14 font-weight-semibold text-dark"></th>
                                                <th class="text-end fs-14 font-weight-semibold text-dark"></th>
                                                <th class="text-end fs-14 font-weight-semibold text-dark"></th>
                                                <th class="text-end fs-14 font-weight-semibold text-dark"></th>
                                                <th class="text-end fs-14 font-weight-semibold text-dark"></th>
                                                <th class="text-end fs-14 font-weight-semibold text-dark"></th>
                                                <th class="text-end fs-14 font-weight-semibold text-dark"></th>
                                                <th class="text-end fs-14 font-weight-semibold text-dark"></th>
                                                <th class="text-end fs-14 font-weight-semibold text-dark"></th>
                                                <th class="text-end fs-14 font-weight-semibold text-dark"></th>
                                                <th class="text-end fs-14 font-weight-semibold text-dark"></th>
                                                <th class="text-end fs-14 font-weight-semibold text-dark"></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default mt-2">
                        <div class="panel-heading" role="tab" id="doc_packageorder">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#pnl_doc_packageorder" aria-expanded="false" aria-controls="pnl_doc_packageorder">
                                    <i class="fa fa-send-o me-2"></i>Package Orders
                                    <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                                </a>
                            </h4>
                        </div>
                        <div id="pnl_doc_packageorder" class="panel-collapse collapse" role="tabpanel" aria-labelledby="doc_packageorder">
                            <div class="panel-body">
                                <div class="table-responsive" style="min-height:unset;">
                                    <table id="tbl_doc_po_summary" class="table table-bordered text-nowrap resize-table" style="width:100%;">
                                        <thead>
                                            <tr style="color: #fff !important; background-color: #5b73e8; border-color: #5b73e8; ">
                                                <th class="border-bottom-0 font-weight-semibold text-white">Ref.No</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Package</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Service</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Qty</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Used</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Available</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var dr in Model.summary.po_summary)
                                            {
                                                int _pk = (dr.ps_packagename.Length >= 50) ? 1 : 0;
                                                int _sr = (dr.service_name.Length >= 50) ? 1 : 0;
                                                <tr>
                                                    <td class="fs-13">@dr.po_refno</td>
                                                    <td class="fs-13 text-wrap">
                                                        @if (_pk == 1)
                                                        {
                                                            @dr.ps_packagename.Substring(0, 50)
                                                            <span class="text-muted-dark ms-1" title="@dr.ps_packagename">...</span>
                                                        }
                                                        else
                                                        {
                                                            @dr.ps_packagename
                                                        }
                                                        <br />
                                                        <small class="text-info">(@dr.package_code)</small>
                                                    </td>
                                                    <td class="fs-13 text-wrap">
                                                        @if (_sr == 1)
                                                        {
                                                            @dr.service_name.Substring(0, 50)
                                                            <span class="text-muted-dark ms-1" title="@dr.service_name">...</span>
                                                        }
                                                        else
                                                        {
                                                            @dr.service_name
                                                        }
                                                        <br />
                                                        <small class="text-info">(@dr.service_code)</small>
                                                    </td>
                                                    <td class="fs-13 text-end text-dark">@dr.ps_qty.ToString("D2")</td>
                                                    <td class="fs-13 text-end text-info">@dr.used_ses.ToString("D2")</td>
                                                    <td class="fs-13 text-end text-success">@dr.avail_ses.ToString("D2")</td>
                                                    <td class="fs-13">
                                                        @if (dr.po_status.ToLower() == "active")
                                                        {
                                                            <span class="font-weight-semibold text-info">Active</span>
                                                        }
                                                        else if (dr.po_status.ToLower() == "invoiced")
                                                        {
                                                            <span class="font-weight-semibold text-success">Invoiced</span>
                                                        }
                                                        else if (dr.po_status.ToLower() == "deleted")
                                                        {
                                                            <span class="font-weight-semibold text-danger">Deleted</span>
                                                        }
                                                        else
                                                        {
                                                            <span class="font-weight-semibold text-dark">@dr.po_status</span>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default mt-2">
                        <div class="panel-heading" role="tab" id="doc_remittances">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#pnl_doc_remittances" aria-expanded="false" aria-controls="pnl_doc_remittances">
                                    <i class="mdi mdi-file-xml me-2"></i>Remittances
                                    <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                                </a>
                            </h4>
                        </div>
                        <div id="pnl_doc_remittances" class="panel-collapse collapse" role="tabpanel" aria-labelledby="doc_remittances">
                            <div class="panel-body">
                                <div class="table-responsive" style="min-height:unset;">
                                    <table id="tbl_doc_remittances" class="table table-bordered text-nowrap resize-table" style="width:100%;">
                                        <thead>
                                            <tr style="color: #fff !important; background-color: #5b73e8; border-color: #5b73e8; ">
                                                <th class="border-bottom-0 font-weight-semibold text-white">Invoice #</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Transaction Date</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Treatment Code</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Net Claim</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Payment Amount</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Denial Description</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var dr in Model.summary.doctor_remittances)
                                            {
                                                int _rm = (dr.denial_desc.Length >= 50) ? 1 : 0;
                                                <tr>
                                                    <td class="fs-13 text-end text-dark">@dr.xrea_claimId</td>
                                                    <td class="fs-13 text-end text-dark">@dr.xrec_TransactionDate</td>
                                                    @if (dr.treatment != "")
                                                    {
                                                        <td class="fs-13 text-end text-dark">@dr.treatment</td>
                                                    }
                                                    else
                                                    {
                                                        <td class="fs-13 text-end text-muted">N/A</td>
                                                    }
                                                    <td class="fs-13 text-end text-dark">@dr.xrea_net</td>
                                                    <td class="fs-13 text-end text-dark">@dr.xrea_PaymentAmount</td>
                                                    <td class="fs-13 text-wrap">
                                                        @if (_rm == 1)
                                                        {
                                                            @dr.denial_desc.Substring(0, 50)
                                                            <span class="text-muted-dark ms-1" title="@dr.denial_desc">...</span>
                                                        }
                                                        else
                                                        {
                                                            @dr.denial_desc
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //#region Page Load
    $(function () {
        load_doc_app_summary();
        load_doc_treatment_summary();
        load_doc_invoice_summary();
        load_receipts_summary();
        load_po_summary();
        load_doc_remittances();
    });
    //#endregion

    //#region Load Datatables
    var load_doc_app_summary = function () {
        var table = $('#tbl_doc_app_summary').DataTable({
            lengthChange: true,
            //buttons: ['copy', 'excel', 'pdf', 'print'],
            order: [[0, 'asc']],
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '<span class="text-primary font-weight-semi-bold">Search</span>',
                lengthMenu: '_MENU_ ',
            }
        });
        table.buttons().container().appendTo('#tbl_doc_app_summary_wrapper .col-md-6:eq(0)');
    }

    var load_doc_treatment_summary = function () {
        var table = $('#tbl_pat_treatment_summary').DataTable({
            lengthChange: true,
            //buttons: ['copy', 'excel', 'pdf', 'print'],
            order: [[0, 'asc']],
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '<span class="text-primary font-weight-semi-bold">Search</span>',
                lengthMenu: '_MENU_ ',
            }
        });
        table.buttons().container().appendTo('#tbl_pat_treatment_summary_wrapper .col-md-6:eq(0)');
    }

    var load_doc_invoice_summary = function () {
        var numberRenderer = $.fn.dataTable.render.number(',', '.', 2,).display;

        var table = $('#tbl_doc_invoice_summary').DataTable({
            lengthChange: true,
            //buttons: ['copy', 'excel', 'pdf', 'print'],
            order: [[0, 'asc']],
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '<span class="text-primary font-weight-semi-bold">Search</span>',
                lengthMenu: '_MENU_ ',
            },
            footerCallback: function (row, data, start, end, display) {
                var api = this.api();

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
                };

                // Footer Total
                total1 = api.column(5).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                total2 = api.column(6).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                total3 = api.column(7).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                total4 = api.column(8).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                total5 = api.column(9).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);

                $(api.column(5).footer()).html(numberRenderer(total1.toFixed(2)));
                $(api.column(6).footer()).html(numberRenderer(total2.toFixed(2)));
                $(api.column(7).footer()).html(numberRenderer(total3.toFixed(2)));
                $(api.column(8).footer()).html(numberRenderer(total4.toFixed(2)));
                $(api.column(9).footer()).html(numberRenderer(total5.toFixed(2)));
            }
        });
        table.buttons().container().appendTo('#tbl_doc_invoice_summary_wrapper .col-md-6:eq(0)');
    }

    var load_receipts_summary = function () {
        var numberRenderer = $.fn.dataTable.render.number(',', '.', 2,).display;

        var table = $('#tbl_doc_receipts_summary').DataTable({
            lengthChange: true,
            //buttons: ['copy', 'excel', 'pdf', 'print'],
            order: [[0, 'asc']],
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '<span class="text-primary font-weight-semi-bold">Search</span>',
                lengthMenu: '_MENU_ ',
            },
            footerCallback: function (row, data, start, end, display) {
                var api = this.api();

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
                };

                // Footer Total
                total1 = api.column(3).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                total2 = api.column(4).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                total3 = api.column(5).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                total4 = api.column(6).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                total5 = api.column(7).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                total6 = api.column(8).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                total7 = api.column(9).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                total8 = api.column(10).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                total9 = api.column(11).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                total10 = api.column(12).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                total11 = api.column(13).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                total12 = api.column(14).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);

                $(api.column(3).footer()).html(numberRenderer(total1.toFixed(2)));
                $(api.column(4).footer()).html(numberRenderer(total2.toFixed(2)));
                $(api.column(5).footer()).html(numberRenderer(total3.toFixed(2)));
                $(api.column(6).footer()).html(numberRenderer(total4.toFixed(2)));
                $(api.column(7).footer()).html(numberRenderer(total5.toFixed(2)));
                $(api.column(8).footer()).html(numberRenderer(total6.toFixed(2)));
                $(api.column(9).footer()).html(numberRenderer(total7.toFixed(2)));
                $(api.column(10).footer()).html(numberRenderer(total8.toFixed(2)));
                $(api.column(11).footer()).html(numberRenderer(total9.toFixed(2)));
                $(api.column(12).footer()).html(numberRenderer(total10.toFixed(2)));
                $(api.column(13).footer()).html(numberRenderer(total11.toFixed(2)));
                $(api.column(14).footer()).html(numberRenderer(total12.toFixed(2)));
            }
        });
        table.buttons().container().appendTo('#tbl_doc_receipts_summary_wrapper .col-md-6:eq(0)');
    }

    var load_po_summary = function () {
        var table = $('#tbl_doc_po_summary').DataTable({
            lengthChange: true,
            //buttons: ['copy', 'excel', 'pdf', 'print'],
            order: [[0, 'asc']],
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '<span class="text-primary font-weight-semi-bold">Search</span>',
                lengthMenu: '_MENU_ ',
            }
        });
        table.buttons().container().appendTo('#tbl_doc_po_summary_wrapper .col-md-6:eq(0)');
    }

    var load_doc_remittances = function () {
        var table = $('#tbl_doc_remittances').DataTable({
            lengthChange: true,
            //buttons: ['copy', 'excel', 'pdf', 'print'],
            order: [[0, 'asc']],
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '<span class="text-primary font-weight-semi-bold">Search</span>',
                lengthMenu: '_MENU_ ',
            }
        });
        table.buttons().container().appendTo('#tbl_doc_remittances_wrapper .col-md-6:eq(0)');
    }
    //#endregion
</script>