@model BusinessEntities.Masters.ChangeEmployeePassword

<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold">Update Employee Login</h5>
    <button type="button" class="btn-close btnCloseCreate" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body p-4">
    <form id="form_Edit_Login" enctype="multipart/form-data" >
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 mb-4 font-weight-semibold">
                <span class="text-danger" style="font-size:smaller">Required fields are marked with *</span>
            </div>
        </div>

        <div class="row mt-2">
            <div class="panel-group accordion-panel" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default mt-2 active">
                    <div class="panel-heading" role="tab" id="headingThree3">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" aria-expanded="false" aria-controls="collapseThree3">
                                ClinicSoft Login Information
                                <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree3" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingThree3">
                        <div class="panel-body ">
                            <div class="row">
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group mb-3">
                                        <label class="form-label text-black">Username&nbsp;<span class="text-danger">*</span> </label>
                                        <div class="input-icon">
                                            <span class="input-icon-addon text-primary">
                                                <i class="fe fe-user fs-14"></i>
                                            </span>
                                            @Html.TextBoxFor(m => m.cemp_login, new { @class = "form-control", @placeholder = "Enter Username", @maxlength = "14" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group mb-3">
                                        <label class="form-label text-black">Password <i class="fe fe-info text-info" style="cursor:pointer" data-bs-placement="top" data-bs-toggle="tooltip" title="Must contain min 8 and max 15 characters, 1 uppercase letter, 1 lowercase letter, 1 numeric & 1 special character"></i>&nbsp;<span class="text-danger">*</span></label>
                                        <div class="input-icon">
                                            <span class="input-icon-addon text-primary">
                                                <i class="fe fe-eye-off fs-14"></i>
                                            </span>
                                            @Html.TextBoxFor(m => m.cpassword, new { @class = "form-control", @placeholder = "Enter Password", @type = "password", @maxlength = "12" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4 col-lg-3">
                                    <div class="form-group mb-3">
                                        <label class="form-label text-black">Confirm Password&nbsp;<span class="text-danger">*</span></label>
                                        <div class="input-icon">
                                            <span class="input-icon-addon text-primary">
                                                <i class="fe fe-eye-off fs-14"></i>
                                            </span>
                                            @Html.TextBoxFor(m => m.cconfirm_password, new { @class = "form-control", @placeholder = "Enter Confirm Password", @type = "password", @maxlength = "12" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center" id="error"></div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="btn-list btn-animation">
                    <button type="submit" class="btn btn-warning" id="btn_Edit_Login">Update Login</button>
                    <button type="button" class="btn btn-outline-danger me-1 btnCloseCreate" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    //#region Page Load
    $(function () {
        validation();
    });
    //#endregion

    //#region Validation Initialization
    var validation = function () {

        $.validator.addMethod('checkpass', function (value) {
            return /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@$!%*?&])[A-Za-z\d@@$!%*?&]{8,15}$/.test(value);
            return PasswordRegex.test(checkpass);
        }, 'Password does not meet the length / Complexity requirements!');

        $("#form_Edit_Login").validate({
            focusInvalid: true,
            rules:
            {
                cemp_login: {
                    required: true,
                    minlength: 5
                },
                cpassword: {
                    required: true,
                    checkpass: true
                },
                cconfirm_password: {
                    required: function () {
                        if ($("#cpassword").val() != "") {
                            return true;
                        }
                        else {
                            return false
                        }
                    },
                    equalTo: "#cpassword"
                }
            },
            messages: {
                cemp_login: {
                    required: "Enter login name",
                    minlength : "Min 5 characters"
                },
                cpassword: {
                    required: "Enter Password"
                },
                cconfirm_password: {
                    required: "Please Confirm Password!",
                    equalTo: "Confirm Password doesn't match!"
                }
            },
            highlight: function (element) {
                var elem = $(element);

                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                }
                else {
                    elem.parent().addClass('has-error');
                }
                $(element).parent().addClass('has-error');
                error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                } else {
                    elem.removeClass('has-error');
                }
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);

                if (elem.hasClass("select2-hidden-accessible")) {
                    element = $("#select2-" + elem.attr("id") + "-container").parent();
                    error.insertAfter(element);
                }
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            }
        });

        $('#cpassword').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/g))
                return false;
        });

        $('#cconfirm_password').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/g))
                return false;
        });
    }
    //#endregion

    //#region Update Employee Login Click
    $('#btn_Edit_Login').on('click', function (e) {
        e.preventDefault();

        if ($("#form_Edit_Login").valid()) {
            var flag = false;
            var editId = parseInt("@Model.empId");
            var logged = parseInt("@Model.cemp_loggedin");

            if (editId == logged) {
                Swal.fire({
                    title: "Confirm Signout on Password Change ?",
                    text: "You will be signed out of your current session & redirected to Login Screen!",
                    icon: "question",
                    showCancelButton: !0,
                    confirmButtonText: 'Yes! I Confirm',
                    cancelButtonText: 'No! Cancel Please',
                    confirmButtonClass: "btn btn-success mt-2", cancelButtonClass: "btn btn-danger ms-2 mt-2", buttonsStyling: !1
                }).then(function (t) {
                    if (t.value) {
                        flag = true;
                    }
                });
            }
            else {
                flag = true;
            }

            if (flag) {
                $('#btn_Edit_Login').removeClass("btn btn-success");
                $('#btn_Edit_Login').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Edit_Login').parent().addClass("curdrop");
                $('.btnCloseCreate').addClass("disabled");
                $('#btn_Edit_Login').html("Creating.. Please Wait");

                var formData = new FormData();
                formData.append("__RequestVerificationToken", $('input[name="__RequestVerificationToken"]').val());
                formData.append("empId", "@Model.empId");
                formData.append("username", $("#cemp_login").val().trim());
                formData.append("password", $("#cpassword").val());

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ChangePassword", "Employees", new { area = "Masters" })",
                    dataType: 'json',
                    contentType: false,
                    processData: false,
                    data: formData,
                    success: function (data) {
                        $('#btn_Edit_Login').parent().removeClass("curdrop");
                        $('#btn_Edit_Login').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Edit_Login').addClass("btn btn-success");
                        $('#btn_Edit_Login').html("Update Login");
                        $('.btnCloseCreate').removeClass("disabled");
                        $("#error").html('');

                        if (data.isSuccess) {
                            var alertPlaceholder = document.getElementById("EmployeeAlert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close"><span aria-hidden="true">&times;</span></button></div>', alertPlaceholder.append(l)
                            }

                            alert("<i class='fe fe-check-circle text-white'></i> " + data.message + "", "success");

                            $('#employee_login').modal('toggle');

                            Timeout();

                            if (editId == logged) {
                                $.ajax({
                                    url: "@Url.Action("Logoff", "Authentication", new { area = "Authentication" })",
                                    type: "GET",
                                    contentType: "application/json",
                                    dataType: "html",
                                    success: function (data) {
                                        window.location.href = "@Url.Action("DashboardIndex", "MyDashboard", new { area = "Dashboard" })";
                                    },
                                    error: function (xhr) {
                                        Swal.fire({
                                            title: "Error!",
                                            text: "Failed to Sign Out! Please refresh the Page and Try Again.",
                                            icon: "error",
                                            showCancelButton: 0,
                                            confirmButtonColor: "#0bb197",
                                            cancelButtonColor: "#ff3d60",
                                        });
                                    }
                                });
                            }
                        }
                        else {
                            let html = "<div class='alert alert-light-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16 text-warning' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong><i class='fa fa-exclamation-triangle text-warning'></i> " + data.message + "</strong><br/>" +
                                "</div>";

                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Edit_Login').parent().removeClass("curdrop");
                        $('#btn_Edit_Login').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Edit_Login').addClass("btn btn-success");
                        $('#btn_Edit_Login').html("Update Login");
                        $('.btnCloseCreate').removeClass("disabled");
                        console.log("Failed to Update Login! Error : " + xhr.statusText);
                        $('#employee_modal_login').modal('toggle');
                        Timeout();
                    }
                }).done(function () {
                    $('#btn_Edit_Login').parent().removeClass("curdrop");
                    $('#btn_Edit_Login').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Edit_Login').addClass("btn btn-success");
                    $('#btn_Edit_Login').html("Update Login");
                    $('.btnCloseCreate').removeClass("disabled");
                });
            }
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion
</script>