@model BusinessEntities.Masters.Employees

<style>
    #sizeEV {
        max-width: 800px;
    }
</style>
<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold">Employee Details </h5>
    <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body p-4" style="background: #f5f5f5;">
    <div class="main-proifle">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <div class="box-widget widget-user">
                    <div class="widget-user-image1 d-xl-flex d-block">
                        @if (!string.IsNullOrEmpty(Model.emp_photo))
                        {
                            <img alt="User Avatar" class="avatar brround p-0" src="~/images/employee_photos/@Model.emp_photo">
                        }
                        else
                        {
                            if (!string.IsNullOrEmpty(Model.emp_gender))
                            {
                                if (Model.emp_gender.ToLower().Trim() == "male")
                                {
                                    <img alt="User Avatar" class="avatar brround p-0" src="~/images/no-photo-male.jpg">
                                }
                                else if (Model.emp_gender.ToLower().Trim() == "female")
                                {
                                    <img alt="User Avatar" class="avatar brround p-0" src="~/images/no-photo-female.jpg">
                                }
                                else
                                {
                                    <img alt="User Avatar" class="avatar brround p-0" src="~/images/no-photo-doctor.jpg">
                                }
                            }
                            else
                            {
                                <img alt="User Avatar" class="avatar brround p-0" src="~/images/no-photo-doctor.jpg">
                            }
                        }

                        <div class="mt-1 ms-xl-5">
                            <h4 class="pro-user-username mb-3 font-weight-bold">@Model.emp_name @Model.emp_lname <i class="fa fa-check-circle" style="color:@Model.emp_color"></i></h4>
                            <ul class="mb-0 pro-details">
                                <li><span class="profile-icon bg-danger-transparent text-danger"><i class="fa fa-drivers-license"></i></span><span class="h6 mt-3">@Model.emp_address</span></li>
                                @if (Model.emp_email != "")
                                {
                                    <li><span class="profile-icon bg-success-transparent text-success"><i class="fe fe-mail"></i></span><span class="h6 mt-3">@Model.emp_email</span></li>
                                }
                                else
                                {
                                    <li><span class="profile-icon bg-success-transparent text-success"><i class="fe fe-mail"></i></span><span class="h6 mt-3 text-muted">N/A</span></li>
                                }
                                <li><span class="profile-icon bg-warning-transparent text-warning"><i class="fe fe-flag"></i></span><span class="h6 mt-3">@Model.nationality</span></li>
                                <li><span class="profile-icon bg-info-transparent text-info"><i class="fe fe-phone-call"></i></span><span class="h6 mt-3">@Model.emp_mob</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-cover">
            <div class="wideget-user-tab">
                <div class="tab-menu-heading p-0">
                    <div class="tabs-menu1 px-3">
                        <ul class="nav">
                            <li><a href="#about" class="active fs-14" data-bs-toggle="tab">About</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12">
            <div class="border-0">
                <div class="tab-content">
                    <div class="tab-pane active" id="about">
                        <div class="card">
                            <div class="card-body">
                                <div class="main-profile-contact-list d-lg-flex">
                                    <div class="media me-5">
                                        <div class="media-icon bg-primary-transparent text-primary me-4">
                                            <i class="fa fa-home"></i>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="font-weight-bold mb-1">@Model.set_company</h6>
                                            <span>Branch</span>
                                        </div>
                                    </div>
                                    <div class="media me-5">
                                        <div class="media-icon bg-secondary-transparent-2 text-secondary me-4">
                                            <i class="fa fa-briefcase"></i>
                                        </div>
                                        <div class="media-body">
                                            <h6 class="font-weight-bold mb-1">@Model.designation</h6>
                                            <span>Designation</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <dl class="row">
                                    <dt class="col-sm-3">Username</dt>
                                    <dt class="col-sm-1"> : </dt>
                                    <dt class="col-sm-8">@Model.emp_login</dt>
                                    @if (Model.emp_fax != "")
                                    {
                                        <dt class="col-sm-3">Code</dt>
                                        <dt class="col-sm-1"> : </dt>
                                        <dt class="col-sm-8">@Model.emp_fax</dt>
                                    }
                                    @if (Model.emp_gender != "")
                                    {
                                        <dt class="col-sm-3">Gender</dt>
                                        <dt class="col-sm-1"> : </dt>
                                        <dt class="col-sm-8">@Model.emp_gender</dt>
                                    }
                                    else
                                    {
                                        <dt class="col-sm-3">Gender</dt>
                                        <dt class="col-sm-1"> : </dt>
                                        <dt class="col-sm-8">Unknown</dt>
                                    }
                                    <dt class="col-sm-3">Department</dt>
                                    <dt class="col-sm-1"> : </dt>
                                    <dt class="col-sm-8">@Model.department</dt>
                                    @if (Model.emp_teeth != "")
                                    {
                                        <dt class="col-sm-3">Teeth</dt>
                                        <dt class="col-sm-1"> : </dt>
                                        <dt class="col-sm-8">@Model.emp_teeth</dt>
                                    }
                                    <dt class="col-sm-3">Disc. Allowed</dt>
                                    <dt class="col-sm-1"> : </dt>
                                    <dt class="col-sm-8">@Model.emp_disc_allowed %</dt>
                                    @if (Model.emp_license != "")
                                    {
                                        <dt class="col-sm-3">License</dt>
                                        <dt class="col-sm-1"> : </dt>
                                        <dt class="col-sm-8">@Model.emp_license</dt>
                                    }
                                    @if (Model.emp_speciality != "")
                                    {
                                        <dt class="col-sm-3">Speciality</dt>
                                        <dt class="col-sm-1"> : </dt>
                                        <dt class="col-sm-8">@Model.emp_speciality</dt>
                                    }
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 d-flex justify-content-center">
            <button id="btn_Print" class="btn btn-primary">Print</button>
            <button id="btn_Close" class="btn btn-outline-danger ms-2" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>
<script>

    //#region Print Button Event
    $('#btn_Print').on('click', function (e) {
        $('#_header').show();
        $('#_footer').show();
        _url = "@Url.Action("PrintEmployee", "Employees", new { area = "Masters" })?empId="+@Model.empId;
        var win = window.open(_url, '_blank', 'location=yes,height=auto,width=auto,scrollbars=yes,status=yes');

        if (win) {
            win.focus();
        }
    });
    //#endregion

</script>