@model BusinessEntities.Masters.Employees
<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold">Detailed information of &nbsp;</h5>
    <span class="badge bg-primary-light-1 text-uppercase"> @Model.emp_name @Model.emp_lname</span>
    <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body p-4" style="background: #f5f5f5;">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-12">
            <div class="card box-widget widget-user">
                <div class="widget-user-image mx-auto mt-5">
                    @if (!string.IsNullOrEmpty(Model.emp_photo))
                    {
                        <img alt="Employee Photo" src="~/images/employee_photos/@Model.emp_photo" class="rounded-circle" />
                    }
                    else
                    {
                        if (!string.IsNullOrEmpty(Model.emp_gender))
                        {
                            if (Model.emp_gender.ToLower().Trim() == "male")
                            {
                                <img alt="Employee Avatar" src="~/images/no-photo-male.jpg" class="rounded-circle" />
                            }
                            else if (Model.emp_gender.ToLower().Trim() == "female")
                            {
                                <img alt="Employee Avatar" src="~/images/no-photo-female.jpg" class="rounded-circle" />
                            }
                            else
                            {
                                <img alt="Employee Avatar" src="~/images/no-photo-doctor.jpg" class="rounded-circle" />
                            }
                        }
                        else
                        {
                            <img alt="Employee Avatar" src="~/images/no-photo-doctor.jpg" class="rounded-circle" />
                        }
                    }
                </div>
                <div class="card-body pt-5">
                    <div class="pro-user text-center">
                        <h3 class="pro-user-username  mb-1 fs-22"><span class="fs-14"><i class="fa fa-circle" style="color:@Model.emp_color"></i></span> @Model.emp_name @Model.emp_lname</h3>
                        <h6 class="pro-user-desc text-muted">@Model.emp_address</h6>
                    </div>
                    <div class="mt-lg-2">
                        <div class="mb-3">
                            <div class="d-flex">
                                <div class="Recent-transactions-img brround bg-primary text-white font-weight-normal1">
                                    <i class="fa fa-id-card-o text-white"></i>
                                </div>
                                <div class="">
                                    <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">@Model.emp_login</a>
                                    <p class="text-muted fs-11">Username</p>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex">
                                <div class="Recent-transactions-img brround bg-success text-white font-weight-normal1">
                                    @{
                                        if (!string.IsNullOrEmpty(Model.emp_gender))
                                        {
                                            if (Model.emp_gender.ToLower().Trim() == "male")
                                            {
                                                <i class="fa fa-male text-white"></i>
                                            }
                                            else if (Model.emp_gender.ToLower().Trim() == "female")
                                            {
                                                <i class="fa fa-female text-white"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-male text-white"></i>
                                            }
                                        }
                                        else
                                        {
                                            <i class="fa fa-question text-white"></i>
                                        }
                                    }
                                </div>
                                <div class="">
                                    @{
                                        if (!string.IsNullOrEmpty(Model.emp_gender))
                                        {
                                            <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">@Model.emp_gender</a>
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">Unknown</a>
                                        }
                                        <p class="text-muted fs-11">Gender</p>
                                    }

                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex">
                                <div class="Recent-transactions-img brround bg-danger text-white font-weight-normal1">
                                    <i class="fa fa-mobile-phone text-white"></i>
                                </div>
                                <div class="">
                                    <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">@Model.emp_mob</a>
                                    <p class="text-muted fs-11">Mobile No</p>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex">
                                <div class="Recent-transactions-img brround bg-info text-white font-weight-normal1">
                                    <i class="fa fa-envelope-o text-white"></i>
                                </div>
                                <div class="">
                                    <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">@Model.emp_email</a>
                                    <p class="text-muted fs-11">Email ID</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="main-profile-contact-list d-lg-flex">
                        <div class="media me-5">
                            <div class="media-icon bg-cyan-transparent text-cyan me-4">
                                <i class="fa fa-home"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="font-weight-bold mb-1 text-uppercase">@Model.set_company</h6>
                                <span>Branch</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="main-profile-contact-list d-lg-flex">
                        <div class="media me-5">
                            <div class="media-icon bg-primary-transparent text-primary me-4">
                                <i class="fa fa-building"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="font-weight-bold mb-1 text-capitalize">@Model.department</h6>
                                <span>Department</span>
                            </div>
                        </div>
                        <div class="media me-5">
                            <div class="media-icon bg-secondary-transparent text-secondary me-4">
                                <i class="fa fa-briefcase"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="font-weight-bold mb-1 text-capitalize">@Model.designation</h6>
                                <span>Designation</span>
                            </div>
                        </div>
                        <div class="media me-5">
                            <div class="media-icon bg-warning-transparent text-warning me-4">
                                <i class="fa fa-flag"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="font-weight-bold mb-1 text-capitalize">@Model.nationality</h6>
                                <span>Nationality</span>
                            </div>
                        </div>
                        <div class="media me-5">
                            <div class="media-icon bg-success-transparent text-success me-4">
                                <i class="fa fa-money"></i>
                            </div>
                            <div class="media-body">
                                <h6 class="font-weight-bold mb-1">@Model.emp_disc_allowed.ToString("N2")</h6>
                                <span>Discount Allowed %</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row me-0 ms-0">
                    <div class="col-xl-2 col-lg-6 col-sm-6 pe-0 ps-0 border-end">
                        <div class="card-body text-center text-primary">
                            <p class="mb-1">Consultation %</p>
                            <h2 class="mb-1 font-weight-bold">@Model.emp_consultation_commi.ToString("N2")</h2>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-6 col-sm-6 pe-0 ps-0 border-end">
                        <div class="card-body text-center text-azure">
                            <p class="mb-1">Procedure %</p>
                            <h2 class="mb-1 font-weight-bold">@Model.emp_procedure_commi.ToString("N2")</h2>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-6 col-sm-6 pe-0 ps-0 border-end">
                        <div class="card-body text-center text-success">
                            <p class="mb-1">Lab %</p>
                            <h2 class="mb-1 font-weight-bold">@Model.emp_lab_commi.ToString("N2")</h2>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-6 col-sm-6 pe-0 ps-0 border-end">
                        <div class="card-body text-center text-gray-dark">
                            <p class="mb-1">Radiology %</p>
                            <h2 class="mb-1 font-weight-bold">@Model.emp_rad_commi.ToString("N2")</h2>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-6 col-sm-6 pe-0 ps-0">
                        <div class="card-body text-center text-danger">
                            <p class="mb-1">Pharamacy %</p>
                            <h2 class="mb-1 font-weight-bold">@Model.emp_pha_commi.ToString("N2")</h2>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-6 col-sm-6 pe-0 ps-0 border-end">
                        <div class="card-body text-center text-info">
                            <p class="mb-1">Maternity %</p>
                            <h2 class="mb-1 font-weight-bold">@Model.emp_met_commi.ToString("N2")</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>