@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMR.HealthDeclaration
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<form id="form_declaration" autocomplete="off" name="HealthDeclaration" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()

    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group mb-3">
                    <h4 class="form-label text-black text-center">HEALTH DECLARATION</h4>
                    <h4 class="form-label text-black text-center" dir="rtl"> التاريخ المرضي </h4>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3"><label class="form-label text-black"> Medical History&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="form-group mb-3">
                    <label class="form-label text-black"> Yes&nbsp;&nbsp;No</label>
                </div>
                <div class="form-group mb-3" dir="rtl">
                    <label class="form-label text-black text-right">نعم &nbsp;&nbsp;لا</label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3" dir="rtl"><label class="form-label text-black text-right">	التاريخ المرضي&nbsp;</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3"><label class="form-label ">Have you had any of the following problems?&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio1" value="1" id="u1">
                        <span class="custom-control-label"></span>
                    </label>
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio1" value="2" id="u2">
                        <span class="custom-control-label"></span>
                    </label>
                </div>

            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3" dir="rtl"><label class="form-label  text-right">   هل تعاني من أي من المشاكل الآتية ؟!&nbsp;</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3"><label class="form-label ">Hearth Problems&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio2" value="3" id="u3">
                        <span class="custom-control-label"></span>
                    </label>
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio2" value="4" id="u4">
                        <span class="custom-control-label"></span>
                    </label>
                </div>

            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3" dir="rtl"><label class="form-label  text-right">  أمراض القلب&nbsp;</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3"><label class="form-label ">High or Low Blood Pressure&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio3" value="5" id="u5">
                        <span class="custom-control-label"></span>
                    </label>
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio3" value="6" id="u6">
                        <span class="custom-control-label"></span>
                    </label>
                </div>
                <div>
                    @Html.TextBoxFor(m => m.chd_Prob4, new { @type = "text", @class = "form-control field-to-check", @placeholder = "High or Low Blood Pressure", @id = "chd_Prob4" })
                </div>

            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3" dir="rtl"><label class="form-label  text-right">  ارتفاع أو انخفاض ضغط الدم&nbsp;</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3"><label class="form-label ">Infectious Disease ( Hepatitis, HIV, etc )&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio4" value="7" id="u7">
                        <span class="custom-control-label"></span>
                    </label>
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio4" value="8" id="u8">
                        <span class="custom-control-label"></span>
                    </label>
                </div>

            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3" dir="rtl"><label class="form-label  text-right">  الأمراض المعدية( التهاب الكبد الوبائي، الأيدز، الخ )&nbsp;</label></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3"><label class="form-label ">Rheumatic Disease&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio5" value="9" id="u9">
                        <span class="custom-control-label"></span>
                    </label>
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio5" value="10" id="u10">
                        <span class="custom-control-label"></span>
                    </label>
                </div>

            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3" dir="rtl"><label class="form-label  text-right">  أمراض الروماتيزم&nbsp;</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3"><label class="form-label ">Asthma&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio6" value="11" id="u11">
                        <span class="custom-control-label"></span>
                    </label>
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio6" value="12" id="u12">
                        <span class="custom-control-label"></span>
                    </label>
                </div>

            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3" dir="rtl"><label class="form-label  text-right">  الربو&nbsp;</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3"><label class="form-label ">Diabetes&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio7" value="13" id="u13">
                        <span class="custom-control-label"></span>
                    </label>
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio7" value="14" id="u14">
                        <span class="custom-control-label"></span>
                    </label>
                </div>

            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3" dir="rtl"><label class="form-label  text-right">  السكري&nbsp;</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3"><label class="form-label ">Epilepsy&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio8" value="15" id="u15">
                        <span class="custom-control-label"></span>
                    </label>
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio8" value="16" id="u16">
                        <span class="custom-control-label"></span>
                    </label>
                </div>

            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3" dir="rtl"><label class="form-label  text-right">  لصرع&nbsp;</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3"><label class="form-label ">Have you ever had any liver disease?&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio9" value="17" id="u17">
                        <span class="custom-control-label"></span>
                    </label>
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio9" value="18" id="u18">
                        <span class="custom-control-label"></span>
                    </label>
                </div>

            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3" dir="rtl"><label class="form-label  text-right">  هل عانيت سابقاً من أمراض الكبد ؟&nbsp;</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3"><label class="form-label ">Have you ever had any Kidney disease?&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio10" value="19" id="u19">
                        <span class="custom-control-label"></span>
                    </label>
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio10" value="20" id="u20">
                        <span class="custom-control-label"></span>
                    </label>
                </div>

            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3" dir="rtl"><label class="form-label  text-right">  هل عانيت سابقاً من أمراض الكلى ؟&nbsp;</label></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3"><label class="form-label ">Do you have or any of your relatives have / had Creutzfeldt - Jacob Disease?&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio11" value="21" id="u21">
                        <span class="custom-control-label"></span>
                    </label>
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio11" value="22" id="u22">
                        <span class="custom-control-label"></span>
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3" dir="rtl"><label class="form-label  text-right"> هل عانيت أو أحد أفراد عائلتك من مرض كروتزفيلد ( اضطرابات الدماغ و النخاع الشوكي و الأعصاب )&nbsp;</label></div>
            </div>
        </div>
        <div class="expanel-heading">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group mb-3"><label class="form-label ">Allergies&nbsp;</label></div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-2">
                    <div class="form-group mb-3">
                        <label class="form-label text-black text-center" id="pat_code">&nbsp;</label>
                    </div>

                </div>

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group mb-3" dir="rtl"><label class="form-label text-right"> الحساسية&nbsp;</label></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3"><label class="form-label ">Have you had any allergy to:&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio12" value="23" id="u23">
                        <span class="custom-control-label"></span>
                    </label>
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio12" value="24" id="u24">
                        <span class="custom-control-label"></span>
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3" dir="rtl"><label class="form-label  text-right">هل لديك أي حساسية من &nbsp;</label></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3"><label class="form-label ">Penicillin&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio13" value="25" id="u25">
                        <span class="custom-control-label"></span>
                    </label>
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio13" value="26" id="u26">
                        <span class="custom-control-label"></span>
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3" dir="rtl"><label class="form-label  text-right">البنسلين &nbsp;</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3"><label class="form-label ">Local Anesthesia&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio14" value="27" id="u27">
                        <span class="custom-control-label"></span>
                    </label>
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio14" value="28" id="u28">
                        <span class="custom-control-label"></span>
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3" dir="rtl"><label class="form-label  text-right">	للتخدير الموضعي &nbsp;</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3"><label class="form-label ">Later ( rubber / elastics )&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio15" value="29" id="u29">
                        <span class="custom-control-label"></span>
                    </label>
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio15" value="30" id="u30">
                        <span class="custom-control-label"></span>
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3" dir="rtl"><label class="form-label  text-right">	للمواد المطاطية &nbsp;</label></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3"><label class="form-label ">Metal (tin, chromium, zinc, etc )&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio16" value="31" id="u31">
                        <span class="custom-control-label"></span>
                    </label>
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio16" value="32" id="u32">
                        <span class="custom-control-label"></span>
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3" dir="rtl"><label class="form-label  text-right">	للمعادن ( القصدير، الكروم، الزنك، الخ) &nbsp;</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3"><label class="form-label ">Food&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio17" value="33" id="u33">
                        <span class="custom-control-label"></span>
                    </label>
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio17" value="34" id="u34">
                        <span class="custom-control-label"></span>
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3" dir="rtl"><label class="form-label  text-right">	لأي مواد غذائية&nbsp;</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3"><label class="form-label ">Any other medical or non – medical materials&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio18" value="35" id="u35">
                        <span class="custom-control-label"></span>
                    </label>
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio18" value="36" id="u36">
                        <span class="custom-control-label"></span>
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3" dir="rtl"><label class="form-label  text-right">	أي مواد أخرى، طبية أو غير طبية&nbsp;</label></div>
            </div>
        </div>
        <div class="expanel-heading mb-2">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group mb-3"><label class="form-label ">At Present&nbsp;</label></div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-2">
                    <div class="form-group mb-3">
                        <label class="form-label text-black text-center" id="pat_code">&nbsp;</label>
                    </div>

                </div>

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group mb-3" dir="rtl"><label class="form-label text-right"> في الوقت الحالي&nbsp;</label></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3"><label class="form-label ">Do you receive any medical treatment or any daily medicine? Please specify:&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio19" value="37" id="u37">
                        <span class="custom-control-label"></span>
                    </label>
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio19" value="38" id="u38">
                        <span class="custom-control-label"></span>
                    </label>
                </div>
                <div>
                    @Html.TextBoxFor(m => m.chd_Prob1, new { @type = "text", @class = "form-control", @placeholder = "Do you receive any medical treatment or any daily medicine", @id = "chd_Prob1" })
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3" dir="rtl"><label class="form-label  text-right">	هل تتعاطى أي علاجات طبية أو أي أدوية يومية ؟ حدد من فضلك:&nbsp;</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3"><label class="form-label ">Do you bleed profusely during or after surgery / tooth extraction?&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio20" value="39" id="u39">
                        <span class="custom-control-label"></span>
                    </label>
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio20" value="40" id="u40">
                        <span class="custom-control-label"></span>
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3" dir="rtl"><label class="form-label  text-right">	هل تنزف شديداً بعد أثناء أو بعد العمليات الجراحية، أو خلع الأسنان ؟&nbsp;</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3"><label class="form-label ">Are you pregnant? ( female only )&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio21" value="41" id="u41">
                        <span class="custom-control-label"></span>
                    </label>
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input field-to-check" name="radio21" value="42" id="u42">
                        <span class="custom-control-label"></span>
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3" dir="rtl"><label class="form-label  text-right">	هل أنتِ حامل ؟ ( للسيدات فقط )&nbsp;</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3"><label class="form-label ">What are the dental / medical problems that you are having now?	&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                @Html.TextBoxFor(m => m.chd_Prob2, new { @type = "text", @class = "form-control field-to-check", @placeholder = "Please specify", @id = "chd_Prob2" })
                @Html.TextBoxFor(m => m.chd_Prob3, new { @type = "text", @class = "form-control field-to-check", @placeholder = "Please specify", @id = "chd_Prob3" })
                @Html.TextBoxFor(m => m.chd_Prob5, new { @type = "text", @class = "form-control field-to-check", @placeholder = "Please specify", @id = "chd_Prob5" })
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3" dir="rtl"><label class="form-label  text-right">	حدد المشاكل الطبية أو مشاكل الأسنان التي تعاني منها في الوقت الحالي :&nbsp;</label></div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3 rounded-circle" id="img1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#fbec5d" class="bi bi-emoji-laughing-fill" viewBox="0 0 16 16"><path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5c0 .501-.164.396-.415.235C6.42 6.629 6.218 6.5 6 6.5c-.218 0-.42.13-.585.235C5.164 6.896 5 7 5 6.5 5 5.672 5.448 5 6 5s1 .672 1 1.5zm5.331 3a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5zm-1.746-2.765C10.42 6.629 10.218 6.5 10 6.5c-.218 0-.42.13-.585.235C9.164 6.896 9 7 9 6.5c0-.828.448-1.5 1-1.5s1 .672 1 1.5c0 .501-.164.396-.415.235z" /></svg>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3 rounded-circle " id="img2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#ffe135" class="bi bi-emoji-neutral-fill" viewBox="0 0 16 16"><path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm-3 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8z" /></svg><div class="form-group mb-3">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3 rounded-circle " id="img3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#f5c71a" class="bi bi-emoji-frown-fill" viewBox="0 0 16 16"><path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm-2.715 5.933a.5.5 0 0 1-.183-.683A4.498 4.498 0 0 1 8 9.5a4.5 4.5 0 0 1 3.898 2.25.5.5 0 0 1-.866.5A3.498 3.498 0 0 0 8 10.5a3.498 3.498 0 0 0-3.032 1.75.5.5 0 0 1-.683.183zM10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8z" /></svg>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3 rounded-circle " id="img4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#ffa500" class="bi bi-emoji-expressionless-fill" viewBox="0 0 16 16">
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM4.5 6h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm5 0h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm-5 4h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1z" />
                            </svg>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3 rounded-circle " id="img5">
                            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#ff7518" class="bi bi-emoji-dizzy-fill" viewBox="0 0 16 16">
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM4.146 5.146a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 1 1 .708.708l-.647.646.647.646a.5.5 0 1 1-.708.708L5.5 7.207l-.646.647a.5.5 0 1 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 0-.708zm5 0a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 1 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 0-.708zM8 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z" />
                            </svg>

                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3 rounded-circle " id="img6">
                            <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#ff4500" class="bi bi-emoji-angry-fill" viewBox="0 0 16 16">
                                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM4.053 4.276a.5.5 0 0 1 .67-.223l2 1a.5.5 0 0 1 .166.76c.071.206.111.44.111.687C7 7.328 6.552 8 6 8s-1-.672-1-1.5c0-.408.109-.778.285-1.049l-1.009-.504a.5.5 0 0 1-.223-.67zm.232 8.157a.5.5 0 0 1-.183-.683A4.498 4.498 0 0 1 8 9.5a4.5 4.5 0 0 1 3.898 2.25.5.5 0 1 1-.866.5A3.498 3.498 0 0 0 8 10.5a3.498 3.498 0 0 0-3.032 1.75.5.5 0 0 1-.683.183zM10 8c-.552 0-1-.672-1-1.5 0-.247.04-.48.11-.686a.502.502 0 0 1 .166-.761l2-1a.5.5 0 1 1 .448.894l-1.009.504c.176.27.285.64.285 1.049 0 .828-.448 1.5-1 1.5z" />
                            </svg>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-center">0&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-center">2&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-center">4&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-center">6&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3">

                            <label class="form-label text-black text-center">8&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-center">10&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-center">NO HURT&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-center">
                                HURTS LITTLE BIT&nbsp;
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-center">
                                HURTS LITTLE MORE&nbsp;
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-center">
                                HURTS EVEN MORE&nbsp;
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3">

                            <label class="form-label text-black text-center">
                                HURTS WHOLE LOT&nbsp;
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-center">
                                HURTS WORST&nbsp;
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <input class="rangeslider1 field-to-check" data-extra-classes="irs-outline" id="pa_pain" name="example_name" type="text">
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="form-group mb-3"><label class="form-label text-black">Patient or Legal Guardian Name:&nbsp;</label></div>
                <div class="form-group mb-3"><label class="form-label text-red text-capitalize text-left">@emr.pat_name&nbsp;</label></div>
                <div class="form-group mb-3"><label class="form-label text-black">Signature:&nbsp;</label></div>
                <div class="form-group mb-3 " style="display:none" id="patimg"><img alt="Signature" src="" id="pat_sign" class="avatar avatar-xl bsquare" /></div>
                <div class="form-group mb-3"><label class="form-label text-black">Date:&nbsp;</label></div>
                <div class="form-group mb-3"><label class="form-label text-red text-left" id="psb_date_patient" name="">&nbsp;</label></div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12 col-md-6 col-lg-12 text-center">
                <div class="btn-list btn-animation">
                    <div class="btn-group mr-2">
                        <div class="dropdown">
                            <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-sm btn-success" id="btn_Insert_declaration">Add Health Declaration</button>
                    <button type="button" class="btn btn-sm btn-outline-dark" id="btn_Reset_declaration">Reset</button>

                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">

    //#region Partial View Onload
    var formName = $(form_declaration).closest('form').attr('name');
        $(function () {

            toggleButtonVisibility();
            $('#pa_pain').ionRangeSlider({
                min: 0,
                max: 10,
                from: 0,
            });
        });
    //#endregion

    //#region Button Visibility
    function toggleButtonVisibility() {
        if (areFieldsFilled()) {
            if ("@emp_designation.ToString()" === "Super Administrator") {
                    $("#btn_Insert_declaration").show();
            }
            else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Insert_declaration").show();

                }
                else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Insert_declaration").show();
                    }
                    else {
                        $("#btn_Insert_declaration").hide();
                    }
                }
            }
        } else {
            $("#btn_Insert_declaration").hide();
        }
    }
    //#endregion

    //#region Validating
    function areFieldsFilled() {
        return $(".field-to-check").filter(function () {
            return this.type === "radio" ? this.checked : this.value.trim() !== "";
        }).length > 0;
    }
    //#endregion

    $(".field-to-check").on("change input", toggleButtonVisibility);

    //#region Slider Event
    $('#pa_pain').on("change", function () {
        var $inp = $(this);
        var from = $inp.prop("value"); // reading input value
        var from2 = $inp.data("from"); // reading input data-from attribute
        if (from == 0) {
            $('#img1').addClass("btn  btn-outline-success");
        } else if (from == 2) {
            $('#img2').addClass("btn  btn-outline-success");
        } else if (from == 4) {
            $('#img3').addClass("btn  btn-outline-success");
        } else if (from == 6) {
            $('#img4').addClass("btn  btn-outline-success");
        } else if (from == 8) {
            $('#img5').addClass("btn  btn-outline-success");
        } else if (from == 10) {
            $('#img6').addClass("btn  btn-outline-success");
        } else {
            $('#img1').removeClass("btn  btn-outline-success");
            $('#img2').removeClass("btn  btn-outline-success");
            $('#img3').removeClass("btn  btn-outline-success");
            $('#img4').removeClass("btn  btn-outline-success");
            $('#img5').removeClass("btn  btn-outline-success");
            $('#img6').removeClass("btn  btn-outline-success");
        }
    });
    //#endregion Slider Event



    //#region Add  Click
        $('#btn_Insert_declaration').on('click', function (e) {
            e.preventDefault();

                $('#btn_Insert_declaration').removeClass("btn btn-sm btn-success");
                $('#btn_Insert_declaration').addClass("btn btn-sm btn-success btn-loaders btn-icon");
                $('#btn_Insert_declaration').html("Saving the Record....");
                var chd_checkbox_ = "";
                $('.custom-control-input:checked').each(function (index) {
                    chd_checkbox_ = chd_checkbox_ + ',' + $(this).val();
                });
                var _dateInsert = {
                    "chd_Id": 0,
                    "chd_appId": @emr.appId,
                    "chd_Prob1": $("#chd_Prob1").val(),
                    "chd_Prob2": $("#chd_Prob2").val(),
                    "chd_Prob3": $("#chd_Prob3").val(),
                    "chd_Prob4": $("#chd_Prob4").val(),
                    "chd_Prob5": $("#chd_Prob5").val(),
                    "chd_checkbox": chd_checkbox_,
                    "pa_pain": $("#pa_pain").val(),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                $.ajax({
                        type: "Post",
                        url: "@Url.Action("InsertHealthDeclaration", "JustificationLetter", new {area = "EMR" })",
                        dataType: 'JSON',
                        data: _dateInsert,
                        success: function (data) {
                            $('#btn_Insert_declaration').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                            $('#btn_Insert_declaration').addClass("btn btn-sm btn-success");
                            $('#btn_Insert_declaration').html("Add Health Declaration");
                            if (data.isSuccess) {
                                if (data.isInserted) {
                                    var alertPlaceholder = document.getElementById("Alert");
                                    function alert(e, t) {
                                        var l = document.createElement("div");
                                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                    }
                                    alert("<i class='fe fe-check-circle text-white'></i>  Health Declaration Saved Successfully!", "success");
                                    GetHealthDeclaration();
                                    Timeout();
                                }
                                else {

                                    let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                        "<div class='alert alert-warning' role='alert'>" +
                                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                        "<strong>Warning.. Health Declaration Alredy Exists..</strong><br/>" +
                                        "</div></div>";
                                    $("#Alert").html(html);
                                }
                            }
                            else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                            "<div class='alert alert-danger' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                        },
                            error: function (xhr) {
                                $('#btn_Insert_declaration').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                                $('#btn_Insert_declaration').addClass("btn btn-sm btn-warning");
                                $('#btn_Insert_declaration').html("Add Health Declaration");
                            Timeout();
                        }
                });

        });
    //#endregion Add Click
    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {

            GetSignaturename('patient');
            localStorage.removeItem("sign");
        }
    });

    //#region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=HealthDeclaration',
                    type: "GET",
                    dataType: "json",
                    async: false,
                success: function (response) {
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY HH:mm");
                    if (response[0].person == "patient") {
                        $("#patimg").show();
                        $("#pat_sign").attr("src", sign);
                        $("#psb_date_patient").text(date);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
    //#endregion Get Signature
    //#region Reset
    $('#btn_Reset_declaration').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".custom-control-input").prop("checked", false);
        var instance = $('#pa_pain').data("ionRangeSlider");
            instance.update({
                from: 0 //your new value ionRangeSlider
            });
        toggleButtonVisibility();
    }
    //#endregion Clear Controls
</script>