
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMR.JustificationLetter
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_EditDentHis" class="needs-validation" >

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.jlId)
    @Html.HiddenFor(m => m.jl_appId)
    @Html.HiddenFor(m => m.jlId, new { @id = "ujlId", @value = "@Model.jlId" })
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-12 mb-4 ">

            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group mb-3">
                    <label class="form-label text-black">Notes&nbsp;<span class="text-danger">*</span></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fe fe-calendar"></i>
                            </div>
                        </div>
                        @Html.TextBoxFor(m => m.jl_date, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "ujl_date" })
                    </div>
                    <div class="form-label mt-2"></div>
                    <div id="unotes">

                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12 col-md-6 col-lg-12 text-center">
                    <div class="btn-list btn-animation">
                        <button type="submit" class="btn btn-sm btn-warning" id="btn_Update_Justification">Save Changes</button>
                        <button type="submit" class="btn btn-sm btn-outline-danger" id="btn_Delete_Justification">Delete</button>
                        <button type="submit" class="btn btn-sm btn-outline-light" id="btn_Print_Justification" onclick="PrintJustificationLetter(@Model.jlId)">
                            <i class="fa fa-print">&nbsp;&nbsp;</i>Print
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<script>
    //#region Page Load
        $(function () {

            if ("@emp_designation.ToString()" === "Super Administrator") {
                $("#btn_Update_Justification,#btn_Delete_Justification").show();
            } else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Update_Justification,#btn_Delete_Justification").show();

                }
                else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Update_Justification,#btn_Delete_Justification").show();
                    }
                    else {
                        $("#btn_Update_Justification,#btn_Delete_Justification").hide();
                    }
                }
            }
            var icons = Quill.import('ui/icons');
            icons['bold'] = '<i class="fa fa-bold" aria-hidden="true"><\/i>';
            icons['italic'] = '<i class="fa fa-italic" aria-hidden="true"><\/i>';
            icons['underline'] = '<i class="fa fa-underline" aria-hidden="true"><\/i>';
            icons['strike'] = '<i class="fa fa-strikethrough" aria-hidden="true"><\/i>';
            icons['list']['ordered'] = '<i class="fa fa-list-ol" aria-hidden="true"><\/i>';
            icons['list']['bullet'] = '<i class="fa fa-list-ul" aria-hidden="true"><\/i>';

            var toolbarOptions = [
                [{
                    'header': [1, 2, 3, 4, 5, 6, false]
                }],
                ['bold', 'italic', 'underline', 'strike'],
                [{
                    'list': 'ordered'
                }, {
                    'list': 'bullet'
                }]

            ];

            uquill = new Quill('#unotes', {
                modules: {
                    toolbar: toolbarOptions
                },
                theme: 'snow'
            });
             var realHTML = $('<textarea />').html("@Model.jl_note").text();
             uquill.root.innerHTML = realHTML;
            $('#ujl_date').bootstrapdatepicker({
                format: "dd-MM-yyyy",
                viewMode: "date",
                todayHighlight: true,
                autoclose: true,
                multidate: false,
                multidateSeparator: "-"
            });

            $("#ujl_date").bootstrapdatepicker("setDate", moment(new Date("@Model.jl_date")).format("DD-MMMM-YYYY"));

        });

    //#endregion Page Load


    //#region Update  Button Click
        $('#btn_Update_Justification').on('click', function (e) {
             e.preventDefault();
            var isvalid = true;

            if (uquill.getText().trim().length == 0) {
                $("#unotes").attr("style", "border:1px solid red;");
                error_timeout_quil($("#unotes"));
                isvalid = false;
            }
            if (isvalid) {
                $('#btn_Update_Justification').removeClass("btn btn-sm btn-success");
                $('#btn_Update_Justification').addClass("btn btn-sm btn-success btn-loaders btn-icon");

                var _dataInsert = {
                    "jlId": @Model.jlId,
                    "jl_appId": $("#jl_appId").val(),
                    "jl_date": $('#ujl_date').val(),
                    "jl_note": uquill.root.innerHTML,
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateJustificationLetter", "JustificationLetter", new { area = "EMR" })",
                    dataType: 'JSON',
                    data: _dataInsert,
                    success: function (data) {
                        $('#btn_Update_Justification').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                        $('#btn_Update_Justification').addClass("btn btn-sm btn-warning");
                        $('#btn_Update_Justification').html("Save Changes");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Justification Letter Updated Successfully!", "success");
                                Timeout();
                                GetJustificationLetter();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. Justification Letter Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Update_Justification').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                        $('#btn_Update_Justification').addClass("btn btn-sm btn-warning");
                        $('#btn_Update_Justification').html("Save Changes");
                        Timeout();
                    }
                });
            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion Update  Button Click


    //#region Delete Click
        $('#btn_Delete_Justification').on('click', function (e) {
            e.preventDefault();
            $('#btn_Delete_Justification').removeClass("btn btn-sm btn-success");
            $('#btn_Delete_Justification').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Delete_Justification').html("Deleting the Record....");

                $.ajax({
                    url: '@Url.Action("DeleteJustificationLetter", "JustificationLetter", new { area = "EMR" })?jlId=' + @Model.jlId,
                    type: "POST",
                    dataType: 'JSON',
                    success: function (data) {
                        $('#btn_Delete_Justification').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                        $('#btn_Delete_Justification').addClass("btn btn-sm btn-warning");
                        $('#btn_Delete_Justification').html("Delete");
                        if (data.isAuthorized) {
                            if (data.success) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Justification Letter Deleted Successfully!", "success");
                                clearControls();
                                GetJustificationLetter();
                                Timeout();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Error!.. Failed to Delete..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Delete_Justification').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                        $('#btn_Delete_Justification').addClass("btn btn-sm btn-Delete");
                        $('#btn_Delete_Justification').html("Delete");
                        Timeout();
                    }
                })
        });
    //#endregion Delete Click

   //#region Clear Controls
    var clearControls = function () {
        uquill.root.innerHTML = "";
        $("#ujl_date").bootstrapdatepicker("setDate", moment(new Date("@emr.today")).format("DD-MMMM-YYYY"));
    }
    //#endregion Clear Controls
</script>

