@model IEnumerable<BusinessEntities.Masters.ToothTreatmentsCategory>
@{
    ViewBag.Title = "Tooth Treatments Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title mb-0 text-primary" data-lang-key="Tooth-treatments-category">Tooth Treatments Category</h4>
    </div>
    <div class="page-rightheader">
        <div class="btn-list">
            <a data-bs-toggle="modal" data-bs-target="#ttc_modal" class="btn btn-secondary" onclick="addToothTreatmentsCategory()" data-lang-key="add-tooth-treatment-category"><i class="mdi mdi-plus"></i>&nbsp;Add Tooth Treatment Category</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
        <div id="ToothTreatmentCategoryAlert"></div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tbl_ttcategory" class="table table-striped table-bordered text-nowrap resize-table" style="width: 100%;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #3C457D; border-color: #3C457D;">
                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="procedure">Procedure</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="Tooth-treatments-category">Tooth Treatment Category</span>
                                </th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="sub-category">Sub Category</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="status">Status</span>
                                </th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="edit">Edit</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="delete">Delete</span></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Tooth Treatment Category Modal -->
<div class="modal fade" id="ttc_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="size">
        <div class="modal-content" id="ttc_modal_body">
        </div>
    </div>
</div>
<!-- End Tooth Treatment Category Modal -->
@section myScripts{
    <script type="text/javascript">
        //#region Page Load
        $(function () {
            GetToothTreatmentsCategory();

            // Focus Search On Opening Select2
            $(document).on('select2:open', () => {
                document.querySelector('.select2-search__field').focus();
            });
        });
        //#endregion

        //#region Load Tooth Treatments Category
        var GetToothTreatmentsCategory = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllToothTreatmentsCategory", "ToothTreatmentsCategory", new { area = "Masters" })",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        var table;
                        if ($.fn.dataTable.isDataTable('#tbl_ttcategory')) {
                            table = $('#tbl_ttcategory').DataTable();
                            table.clear();
                            table.rows.add(response).draw();
                        }
                        else {
                            BindDataTable(response);
                        }
                    }
                    else {
                        console.log("Access Denied!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
         //#endregion

        //#region Bind Datatable
        var BindDataTable = function (response) {
            var table = $("#tbl_ttcategory").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                processing: true,
                "deferRender": true,
                "pageLength": 100,
                "retrieve": true,
                lengthChange: true,
                scrollX: true,
                scrollY: 500,
                scrollCollapse: true,
                "aaData": response,
                "aoColumns": [
                    {
                        "mData": "cctId",
                        "orderable": false,
                        "searchable": false,
                        "className": "text-center",
                        "render": function (data, type, row, meta) {
                            let _index = (meta.row) + 1;
                            if (_index >= 10) {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>" + _index + "</a>";
                            }
                            else {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>0" + _index + "</a>";
                            }
                        }
                    },
                    { "mData": "cct_code" },
                    { "mData": "cct_category" },
                    { "mData": "cct_sub_category" },
                    {
                        "className": 'text-center',
                        "mData": "cctId",
                        "render": function (cctId, type, full, meta) {
                            var visible = full.actionvisible;
                            var cct_status = full.cct_status;

                            if (visible === "True") {
                                if (full.cct_status === "Active") {
                                    return '<button type="button" class="badge rounded-pill bg-success mt-2 border-success" style="width: 60px;" onclick="updateStatus(\'' + cctId + '\',\' Active \')">Active</button>'

                                }
                                else if (full.cct_status === "Inactive") {
                                    return '<button type="button" class="badge rounded-pill bg-warning mt-2 border-warning" style="width: 60px;" onclick="updateStatus(\'' + cctId + '\',\'Inactive\')">Inactive</button>'

                                }
                                else if (full.cct_status === "Deleted") {
                                    return '<button type="button" class="badge rounded-pill bg-danger mt-2 border-danger" style="width: 60px;" onclick="updateStatus(\'' + cctId + '\',\'Deleted\')">Deleted</button>'
                                }
                                else {
                                    return ''
                                }
                            }
                            else {
                                return '<span class="badge rounded-pill text-danger mt-2 border-danger">Allocated</span>'
                            }
                        }
                    },
                    {
                        "mData": "cctId",
                        "className": 'text-center',
                        "orderable": false,
                        "searchable": false,
                        "render": function (cctId, type, full, meta) {
                            var status = full.cct_status;
                            var visible = full.actionvisible;
                            if (status === "Active" && visible === "True") {
                                return '<button type="button" data-bs-toggle="modal" data-bs-target="#ttc_modal" onclick="editToothTreatmentsCategory(' + cctId + ')" class="btn btn-sm btn-outline-primary">Edit</button>';
                            }
                            else {
                                return ''
                            }
                        }
                    },
                    {
                        "mData": "cctId",
                        "className": 'text-center',
                        "orderable": false,
                        "searchable": false,
                        "render": function (cctId, type, full, meta) {
                            var status = full.cct_status;
                            var visible = full.actionvisible;
                            if (status === "Active" && visible === "True") {
                                return '<button type="button" onclick="deleteToothTreatmentsCategory(' + cctId + ')" class="btn btn-sm btn-outline-danger">Delete</button>';
                            }
                            else {
                                return ''
                            }
                        }
                    }
                ],
                order: [[1, 'asc']],
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '<span class="text-primary font-weight-semi-bold">Search By Procedure / Category / Sub Category / Status</span>',
                    lengthMenu: '_MENU_',
                    scrollX: "100%"
                },
                scrollX: true,
                scrollY: 500,
                scrollCollapse: true,
                buttons: [
                    {
                        extend: 'excel',
                        title: 'Tooth Treatments Category',
                        footer: 'true',
                        exportOptions: {
                            columns: [1, 2, 3, 4]
                        },
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.excelHtml5.action.call(this, e, dt, node, config);
                            exportLogs("Employee Exported Tooth Treatments Category to Excel!");
                        }
                    },
                    {
                        extend: 'pdf',
                        title: 'Tooth Treatments Category',
                        footer: 'true',
                        exportOptions: {
                            columns: [1, 2, 3, 4]
                        },
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.pdfHtml5.action.call(this, e, dt, node, config);
                            exportLogs("Employee Exported Tooth Treatments Category to PDF!");
                        }
                    },
                    {
                        extend: 'csv',
                        title: 'Tooth Treatments Category',
                        footer: 'true',
                        exportOptions: {
                            columns: [1, 2, 3, 4]
                        },
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.csvHtml5.action.call(this, e, dt, node, config);
                            exportLogs("Employee Exported Tooth Treatments Category to CSV!");
                        }
                    },
                    {
                        extend: 'print',
                        title: 'Tooth Treatments Category',
                        footer: 'true',
                        exportOptions: {
                            columns: [1, 2, 3, 4]
                        },
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.print.action.call(this, e, dt, node, config);
                            exportLogs("Employee Printed Tooth Treatments Category!");
                        }
                    }
                ]
            });
            table.buttons().container().appendTo('#tbl_ttcategory_wrapper .col-md-6:eq(0)');
        }
        //#endregion

        //#region Add Tooth Treatments Category
        function addToothTreatmentsCategory() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("CreateToothTreatmentsCategory", "ToothTreatmentsCategory", new { area = "Masters" })",
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $("#ttc_modal_body").html(data);
                    $("#ttc_modal").modal("show");
                },
                error: function (xhr) {
                    console.log("Error while Adding Tooth Treatments Category : " + xhr.statusText);
                }
            });
        }
        //#endregion

        //#region Edit Tooth Treatments Category
        function editToothTreatmentsCategory(cctId) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("EditToothTreatmentsCategory", "ToothTreatmentsCategory", new { area = "Masters" })?cctId=" + cctId,
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $("#ttc_modal_body").html(data);
                    $("#ttc_modal").modal("show");
                },
                error: function (xhr) {
                    console.log("Error while Adding Tooth Treatments Category : " + xhr.statusText);
                }
            });
        }
        //#endregion

        //#region Update Tooth Treatments Category Status
        var updateStatus = function (cctId, cct_status) {
            cct_status = (cct_status == "Deleted" || cct_status == "Inactive") ? "Active" : "Inactive"

            Swal.fire({
                title: "Are you sure you want to change status ?",
                text: "This action will change the status of the selected Tooth Treatments Category!",
                icon: "question",
                showCancelButton: !0,
                confirmButtonText: 'Yes! I Confirm',
                cancelButtonText: 'No! Cancel Please',
                confirmButtonClass: "btn btn-success mt-2", cancelButtonClass: "btn btn-danger ms-2 mt-2", buttonsStyling: !1
            }).then(function (t) {
                if (t.value) {
                    $.ajax({
                        url: "@Url.Action("UpdateToothTreatmentsCategoryStatus", "ToothTreatmentsCategory", new { area="Masters"})?cctId=" + cctId + "&cct_status=" + cct_status,
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            if (data.isAuthorized) {
                                if (data.success) {
                                    GetToothTreatmentsCategory();
                                    Swal.fire({
                                        title: "Success!",
                                        text: data.message,
                                        icon: "success",
                                        showCancelButton: 0,
                                        confirmButtonColor: "#0bb197"
                                    });
                                }
                                else {
                                    Swal.fire({
                                        title: "Action Forbidden!",
                                        text: data.message,
                                        icon: "error",
                                        showCancelButton: 0,
                                        confirmButtonColor: "#0bb197"
                                    });
                                }
                            }
                            else {
                                Swal.fire({
                                    title: "Access Denied!",
                                    text: "You do not have enough privileges to change this Status!",
                                    icon: "error",
                                    showCancelButton: 0,
                                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                                });
                            }
                        },
                        error: function (xhr) {
                            Swal.fire({
                                title: "Error!",
                                text: "Failed to Update Tooth Treatments Category Status! Please refresh the Page and Try Again.",
                                icon: "error",
                                showCancelButton: 0,
                                confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                            });
                        }
                    });
                }
            });
        }
        //#endregion

        //#region Delete Tooth Treatments Category
        var deleteToothTreatmentsCategory = function (cctId) {
            Swal.fire({
                title: "Are you sure you want to delete this Tooth Treatments Category ?",
                text: "This action will delete the selected record!",
                icon: "question",
                showCancelButton: !0,
                confirmButtonText: 'Yes! I Confirm',
                cancelButtonText: 'No! Cancel Please',
                confirmButtonClass: "btn btn-success mt-2", cancelButtonClass: "btn btn-danger ms-2 mt-2", buttonsStyling: !1
            }).then(function (t) {
                if (t.value) {
                    $.ajax({
                        url: '@Url.Action("DeleteToothTreatmentsCategory", "ToothTreatmentsCategory", new { area = "Masters" })?cctId=' + cctId +'&cct_status=Deleted',
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            if (data.isAuthorized) {
                                if (data.success) {
                                    GetToothTreatmentsCategory();
                                    Swal.fire({
                                        title: "Success!",
                                        text: data.message,
                                        icon: "success",
                                        showCancelButton: 0,
                                        confirmButtonColor: "#0bb197"
                                    });
                                }
                                else {
                                    Swal.fire({
                                        title: "Action Forbidden!",
                                        text: data.message,
                                        icon: "error",
                                        showCancelButton: 0,
                                        confirmButtonColor: "#0bb197"
                                    });
                                }
                            }
                            else {
                                Swal.fire({
                                    title: "Access Denied!",
                                    text: "You do not have enough privileges to delete Tooth Treatments Categories!!",
                                    icon: "error",
                                    showCancelButton: 0,
                                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                                });
                            }
                        },
                        error: function (xhr) {
                            Swal.fire({
                                title: "Error!",
                                text: "Failed to Delete Tooth Treatments Category! Please refresh the Page and Try Again.",
                                icon: "error",
                                showCancelButton: 0,
                                confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                            });
                        }
                    });
                }
            });
        }
        //#endregion

        //#region Export General Logs
        var exportLogs = function (desc) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ExportLogs", "AuditLogs", new { area = "Common" })?desc="+ desc,
                contentType: "application/json",
                dataType: "json"
            });
        }
        //#endregion

        //#region UI / UX Functions
        function resizedt() {
            setTimeout(function () {
                $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
            }, 350);
        }
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
        var alertPlaceholder = document.getElementById("ToothTreatmentCategoryAlert");
        function alert(e, t) {
            var l = document.createElement("div");
            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
        }
        //#endregion
    </script>
}