@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
    ViewBag.Title = "Doctor Queries";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_layout.cshtml";
}

<style type="text/css">
    #tbl_doctor_queries_wrapper .dataTables_scroll .dataTables_scrollBody {
        min-height: auto;
    }
</style>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card shadow-sm">
            <div class="card-header d-flex justify-content-between">
                <h3 class="card-title text-primary fs-16">Doctor Queries</h3>
                <button class="btn btn-outline-primary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#compose" aria-expanded="false" aria-controls="composeExample">
                    <i class="fe fe-message-circle"></i> Compose Message
                </button>
            </div>

            <div class="card-body collapse show" id="compose">
                <div id="Queries_add" style="display:none;">
                </div>
                <div id="Queries_Edit" style="display:none;">
                </div>
                <div id="error"></div>
                <div id="Alert"></div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table id="tbl_doctor_queries" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #3C457D; border-color: #3C457D; ">
                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Posted Date</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Posted By</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Message</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Posted To</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Reply Date</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Reply</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Edit</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Delete</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section myScripts{
    <script type="text/javascript">
        //#region Page Load
        $(function () {
            addDoctorQuery();

            getDoctorQueries();

            $(document).on('select2:open', () => {
                document.querySelector('.select2-search__field').focus();
            });
        });
        //#endregion

        //#region Load Doctor Queries
        var getDoctorQueries = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllDoctorQueries", "DoctorQueries", new { area = "EMR" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized) {
                        var table;

                        if ($.fn.dataTable.isDataTable('#tbl_doctor_queries')) {
                            table = $('#tbl_doctor_queries').DataTable();
                            table.clear();
                            table.rows.add(response.message).draw();
                        }
                        else {
                            BindDataTable(response.message);
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            }).done(function () {
                resizedt();
            });
        }
        //#endregion

        //#region Bind Datatable
        var BindDataTable = function (response) {
            var table = $("#tbl_doctor_queries").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                processing: true,
                "deferRender": true,
                "pageLength": 100,
                "retrieve": true,
                lengthChange: true,
                "aaData": response,
                "aoColumns": [
                    {
                        "mData": "qaId",
                        "orderable": false,
                        "searchable": false,
                        "className": "text-center",
                        "render": function (data, type, row, meta) {
                            let _index = (meta.row) + 1;

                            if (_index >= 10) {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>" + _index + "</a>";
                            }
                            else {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>0" + _index + "</a>";
                            }
                        }
                    },
                    {
                        "mData": "qa_date_created",
                        "render": function (qa_date_created, type, full, meta) {
                            if (type === 'display' || type === 'filter') {
                                return moment(qa_date_created).format('DD-MM-YYYY HH:mm:ss');
                            }

                            return moment(qa_date_created).format('YYYY-MM-DD');
                        }
                    },
                    {
                        "mData": "qa_from_name"
                    },
                    {
                        "mData": "qa_query"
                    },
                    {
                        "mData": "qa_to_name"
                    },
                    {
                        "mData": "qa_date_modified",
                        "render": function (qa_date_modified, type, full, meta) {
                            if (type === 'display' || type === 'filter') {
                                return moment(qa_date_modified).format('DD-MM-YYYY HH:mm:ss');
                            }

                            return moment(qa_date_modified).format('YYYY-MM-DD');
                        }
                    },
                    {
                        "mData": "response"
                    },
                    {
                        "mData": "qaId",
                        "className": 'btn-edit text-center',
                        "orderable": false,
                        "searchable": false,
                        "render": function (qaId, type, full, meta) {
                            var status = full.qa_status;

                            if (status === "Opened") {
                                if ("@emp_designation.ToString()" === "Super Administrator") {
                                    return '<button type="button"  onclick="editDoctorQuery(' + qaId + ')" class="btn btn-sm btn-outline-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply" viewBox="0 0 16 16">  <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z"/></svg></button>';
                                }
                                else {
                                    if ("@emr.set_emr_lock" == "NoLock") {
                                        if ("@emr.app_ae_date" >= "@emr.today") {
                                            return '<button type="button"  onclick="editDoctorQuery(' + qaId + ')" class="btn btn-sm btn-outline-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply" viewBox="0 0 16 16">  <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z"/></svg></button>';
                                        }
                                        else {
                                            return '';
                                        }
                                    }
                                    else {
                                        return '<button type="button"  onclick="editDoctorQuery(' + qaId + ')" class="btn btn-sm btn-outline-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply" viewBox="0 0 16 16">  <path d="M6.598 5.013a.144.144 0 0 1 .202.134V6.3a.5.5 0 0 0 .5.5c.667 0 2.013.005 3.3.822.984.624 1.99 1.76 2.595 3.876-1.02-.983-2.185-1.516-3.205-1.799a8.74 8.74 0 0 0-1.921-.306 7.404 7.404 0 0 0-.798.008h-.013l-.005.001h-.001L7.3 9.9l-.05-.498a.5.5 0 0 0-.45.498v1.153c0 .108-.11.176-.202.134L2.614 8.254a.503.503 0 0 0-.042-.028.147.147 0 0 1 0-.252.499.499 0 0 0 .042-.028l3.984-2.933zM7.8 10.386c.068 0 .143.003.223.006.434.02 1.034.086 1.7.271 1.326.368 2.896 1.202 3.94 3.08a.5.5 0 0 0 .933-.305c-.464-3.71-1.886-5.662-3.46-6.66-1.245-.79-2.527-.942-3.336-.971v-.66a1.144 1.144 0 0 0-1.767-.96l-3.994 2.94a1.147 1.147 0 0 0 0 1.946l3.994 2.94a1.144 1.144 0 0 0 1.767-.96v-.667z"/></svg></button>';
                                    }
                                }
                            }
                            else {
                                return '';
                            }
                        }
                    },
                    {
                        "mData": "qaId",
                        "className": 'btn-delete text-center',
                        "orderable": false,
                        "searchable": false,
                        "render": function (qaId, type, full, meta) {
                            var status = full.qa_status;

                            if (status === "Opened") {
                                if ("@emp_designation.ToString()" === "Super Administrator") {
                                    return '<button type="button" onclick="deleteDoctorQuery(' + qaId + ')" class="btn btn-sm btn-outline-danger">Delete</button>';
                                }
                                else {
                                    if ("@emr.set_emr_lock" == "NoLock") {
                                        if ("@emr.app_ae_date" >= "@emr.today") {
                                            return '<button type="button" onclick="deleteDoctorQuery(' + qaId + ')" class="btn btn-sm btn-outline-danger">Delete</button>';
                                        }
                                        else {
                                            return '';
                                        }
                                    }
                                    else {
                                        return '<button type="button" onclick="deleteDoctorQuery(' + qaId + ')" class="btn btn-sm btn-outline-danger">Delete</button>';
                                    }
                                }
                            }
                            else {
                                return '';
                            }
                        }
                    }
                ],
                order: [[0, 'asc']],
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '<span class="text-primary font-weight-semi-bold">Search Query</span>',
                    lengthMenu: '_MENU_',
                    scrollX: "100%",
                },
                scrollX: true,
                scrollY: 500,
                scrollCollapse: true,
                buttons: [
                    {
                        extend: 'excel',
                        title: 'Doctor Queries',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                        }
                    },
                    {
                        extend: 'pdf',
                        title: 'Doctor Queries',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                        }
                    },
                    {
                        extend: 'csv',
                        title: 'Doctor Queries',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                        }
                    },
                    {
                        extend: 'print',
                        title: 'Doctor Queries',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8]
                        }
                    }
                ]
            });

            table.buttons().container().appendTo('#tbl_doctor_queries_wrapper .col-md-6:eq(0)');
        };
        //#endregion

        //#region Add Doctor Query
        function addDoctorQuery() {
            $('#Queries_Edit').hide();

            $.ajax({
                type: "GET",
                url: "@Url.Action("CreateDoctorQuery", "DoctorQueries", new { area = "EMR" })",
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $("#Queries_add").html(data);
                },
                error: function (xhr) {
                    console.log("Error while Adding Doctor Queries : " + xhr.statusText);
                }
            }).done(function () {
                $("#Queries_add").show();
            });
        }
        //#endregion

        //#region Edit Doctor Query
        function editDoctorQuery(qaId) {
            $('#Queries_add').hide();

            $.ajax({
                type: "GET",
                url: "@Url.Action("EditDoctorQueries", "DoctorQueries", new { area = "EMR" })?qaId=" + qaId,
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $("#Queries_Edit").html(data);
                },
                error: function (xhr, status, error) {
                    console.log("Error: " + status + " - " + error);
                }
            }).done(function () {
                $("#Queries_Edit").show();
            });
        }
        //#endregion

        //#region Delete Doctor Queries
        var deleteDoctorQuery = function (qaId) {
            Swal.fire({
                title: "Are you sure you want to delete this Query ?",
                text: "The selected Query will be deleted!",
                icon: "question",
                showCancelButton: !0,
                confirmButtonText: 'Yes! I Confirm',
                cancelButtonText: 'No! Cancel Please',
                confirmButtonClass: "btn btn-success mt-2", cancelButtonClass: "btn btn-danger ms-2 mt-2", buttonsStyling: !1
            }).then(function (t) {
                if (t.value) {
                    $.ajax({
                        url: '@Url.Action("DeleteDoctorQueries", "DoctorQueries", new { area = "EMR" })?qaId=' + qaId,
                        type: "POST",
                        dataType: 'json',
                        success: function (data) {
                            if (data.isAuthorized) {
                                if (data.success) {
                                    getDoctorQueries();

                                    Swal.fire({
                                        title: "Success!",
                                        text: "Doctor Query Deleted Successfully!",
                                        icon: "success",
                                        showCancelButton: 0,
                                        confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60"
                                    });
                                }
                                else {
                                    Swal.fire({
                                        title: "Error!",
                                        text: "Failed to Delete Doctor Query!",
                                        icon: "error",
                                        showCancelButton: 0,
                                        confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                                    });
                                }
                            }
                            else {
                                Swal.fire({
                                    title: "Access Denied!",
                                    text: "You do not have Enough Privileges to Delete this Doctor Query!",
                                    icon: "error",
                                    showCancelButton: 0,
                                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                                });
                            }
                        },
                        error: function (xhr) {
                            Swal.fire({
                                title: "Error!",
                                text: "Failed to Delete Doctor Query! Please Refresh The Page & Try Again.",
                                icon: "error",
                                showCancelButton: 0,
                                confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                            });
                        }
                    });
                }
            });
        }
        //#endregion

        //#region UI/UX Functions
        function resizedt() {
            setTimeout(function () {
                $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
            }, 350);
        }

        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }

        function error_timeout_quil(id) {
            setTimeout(function () {
                id.attr("style", "border:1px solid black;color:black;");
            }, 3200);
        }
        //#endregion
    </script>
}