@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Laser Assessment";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Laser Assessment Form<br /><span dir="rtl">نموذج تقييم الليزر</span>
                </h3>
            </div>
            <div class="card-body">
                <div id="LaserAssessment_add" style="display:none">
                </div>
                <div id="LaserAssessment_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="LaserAssessment_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetLaserAssessmentInfo();
        LaserAssessmentPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetLaserAssessmentInfo
    var GetLaserAssessmentInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetLaserAssessmentData", "LaserAssessment", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditLaserAssessment();
                        $("#LaserAssessment_add").hide();
                        $("#LaserAssessment_edit").show();

                    }
                    else {
                        $("#LaserAssessment_add").show();
                        $("#LaserAssessment_edit").hide();
                        AddLaserAssessment();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load LaserAssessment

    //#region Add LaserAssessment
    function AddLaserAssessment() {
        var x = $("#LaserAssessment_add");
        x.load("@Url.Action("CreateLaserAssessment", "LaserAssessment", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add LaserAssessment

    //#region Update LaserAssessment
    function EditLaserAssessment() {
        var x = $("#LaserAssessment_edit");
        x.load("@Url.Action("UpdateLaserAssessment", "LaserAssessment", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update LaserAssessment

    //#region Histroy of LaserAssessment
    function LaserAssessmentPreviousHistory() {
        var x = $("#LaserAssessment_history");
        x.load("@Url.Action("LaserAssessmentPreviousHistory", "LaserAssessment", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>