@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConsentForms.LaserAssessment

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_LaserAssessmentEdit" autocomplete="off" name="LaserAssessment" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name <br />اسم المريض</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID <br />هويه الإمارات</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No <br />رقم الملف</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB <br />تاريخ الميلاد</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality <br />جنسية</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender <br />جنس</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name <br />اسم الطبيب</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date <br />تاريخ</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5 mt-5 text-justify font-weight-normal1">
        <div class="col-lg-6">
            <p>
                Patient Name &nbsp;<span dir="rtl"> :اسم المريض</span>
                <label class="text-red text-left">@emr.pat_name&nbsp;</label>
            </p>
        </div>
        <div class="col-lg-6">
            <p>
                Mobile No &nbsp;<span dir="rtl"> :رقم الموبايل</span>
                <label class="text-red text-left">@emr.pat_mob&nbsp;</label>
            </p>
        </div>
        <div class="col-lg-12">
            <p>
                Emergency Contact  &nbsp;<span dir="rtl"> :اسم و رقم جهة تواصل للطوارئ </span>
            </p>
        </div>
        <div class="col-lg-12">
            @Html.TextBoxFor(m => m.lac_12, new { @class = "form-control mb-2 mt-2", @id = "ulac_12", @maxlength = "250" })
        </div>
        <div class="col-lg-12">
            <p>
                Area(s) to be treated   &nbsp;<span dir="rtl"> :المنطقة التي سوف يتم معالجتها  </span>
            </p>
        </div>
        <div class="col-lg-12">
            @Html.TextAreaFor(m => m.lac_13, new { @class = "form-control mb-2 mt-2", @rows = "2", @columns = "2", @id = "ulac_13", @maxlength = "250" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 group">
            <p> Are you currently under the care of another physician? &nbsp;<span dir="rtl"> ? هل انت تحت اشراف طبيب اخر حاليا    </span></p>
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-2">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="ulac_1" id="ulac_rb_11" value="No">
                        <span class="custom-control-label">NO&nbsp;لا</span>
                    </label>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-2">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="ulac_1" id="ulac_rb_12" value="Yes">
                        <span class="custom-control-label">YES&nbsp;نعم </span>
                    </label>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    Please Specify من فضلك حدد  :
                    @Html.TextBoxFor(m => m.lac_14, new { @class = "form-control mb-2 mt-2", @id = "ulac_14", @maxlength = "250" })
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 group">
            <p> For female patients, are you pregnant, trying to conceive, or breastfeeding ? &nbsp;<span dir="rtl"> ? بالنسبة للمرضى النساء,هل أنت حامل ,محاولة حمل او </span></p>
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-2">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="ulac_2" id="ulac_rb_21" value="No">
                        <span class="custom-control-label">NO&nbsp;لا</span>
                    </label>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-2">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="ulac_2" id="ulac_rb_22" value="Yes">
                        <span class="custom-control-label">YES&nbsp;نعم </span>
                    </label>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    Please Specify من فضلك حدد  :
                    @Html.TextBoxFor(m => m.lac_15, new { @class = "form-control mb-2 mt-2", @id = "ulac_15", @maxlength = "250" })
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 group">
            <p> Do you have any allergy ?   &nbsp;<span dir="rtl"> ? هل انت تعاني من الحساسية  </span></p>
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-2">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="ulac_3" id="ulac_rb_31" value="No">
                        <span class="custom-control-label">NO&nbsp;لا</span>
                    </label>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-2">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="ulac_3" id="ulac_rb_32" value="Yes">
                        <span class="custom-control-label">YES&nbsp;نعم </span>
                    </label>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    Please Specify من فضلك حدد  :
                    @Html.TextBoxFor(m => m.lac_16, new { @class = "form-control mb-2 mt-2", @id = "ulac_16", @maxlength = "250" })
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 group">
            <p> Do you have any medical condition or past illness ? &nbsp;<span dir="rtl"> ? هل لديك أي حالة طبية أو مرض سابق  </span></p>
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-2">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="ulac_4" id="ulac_rb_41" value="No">
                        <span class="custom-control-label">NO&nbsp;لا</span>
                    </label>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-2">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="ulac_4" id="ulac_rb_42" value="Yes">
                        <span class="custom-control-label">YES&nbsp;نعم </span>
                    </label>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    Please Specify من فضلك حدد  :
                    @Html.TextBoxFor(m => m.lac_17, new { @class = "form-control mb-2 mt-2", @id = "ulac_17", @maxlength = "250" })
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 group">
            <p>Do you have photosensitive disorder such as epilepsy ,lupus,sun rash,vitiligo,porphyria,Scleroderma ? &nbsp;<span dir="rtl"> ? هل لديك اضطراب حساسية للضوء مثل الصرع والذئبة والطفح الجلدي والبهاق والبرفيريا وتصلب الجلد  </span></p>
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-2">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="ulac_5" id="ulac_rb_51" value="No">
                        <span class="custom-control-label">NO&nbsp;لا</span>
                    </label>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-2">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="ulac_5" id="ulac_rb_52" value="Yes">
                        <span class="custom-control-label">YES&nbsp;نعم </span>
                    </label>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    Please Specify من فضلك حدد  :
                    @Html.TextBoxFor(m => m.lac_18, new { @class = "form-control mb-2 mt-2", @id = "ulac_18", @maxlength = "250" })
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 group">
            <p>Are you currently taking any medications ?   &nbsp;<span dir="rtl"> ? هل تأخذ حاليا أي علاج  </span></p>
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-2">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="ulac_6" id="ulac_rb_61" value="No">
                        <span class="custom-control-label">NO&nbsp;لا</span>
                    </label>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-2">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="ulac_6" id="ulac_rb_62" value="Yes">
                        <span class="custom-control-label">YES&nbsp;نعم </span>
                    </label>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    Please Specify من فضلك حدد  :
                    @Html.TextBoxFor(m => m.lac_19, new { @class = "form-control mb-2 mt-2", @id = "ulac_19", @maxlength = "250" })
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 group mt-4">
            <p>Please check medication / supplements taken for the past 6 months.  &nbsp;<span dir="rtl"> يرجى التحقق من الأدوية / المكملات الغذائية التي تم تناولها خلال الأشهر الستة الماضية.  </span></p>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="ulac_11" id="ulac_chk_111" value="1">
                        <span class="custom-control-label">Accutane&nbsp;العلاج بالذهب </span>
                    </label>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="ulac_11" id="ulac_chk_112" value="2">
                        <span class="custom-control-label">Contraceptives&nbsp;موانع الحمل </span>
                    </label>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    Please Specify من فضلك حدد  :
                    @Html.TextBoxFor(m => m.lac_20, new { @class = "form-control mb-2 mt-2", @id = "ulac_20", @maxlength = "250" })
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 group">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="ulac_11" id="ulac_chk_113" value="3">
                        <span class="custom-control-label">Antihistamine &nbsp;<span dir="rtl">مضادات الهيستامين</span></span>
                    </label>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="ulac_11" id="ulac_chk_114" value="4">
                        <span class="custom-control-label">Antibiotic&nbsp;مضاد حيوي  </span>
                    </label>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    Please Specify من فضلك حدد  :
                    @Html.TextBoxFor(m => m.lac_21, new { @class = "form-control mb-2 mt-2", @id = "ulac_21", @maxlength = "250" })
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 group">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="ulac_11" id="ulac_chk_115" value="5">
                        <span class="custom-control-label">Gold Therapy  &nbsp;<span dir="rtl">العلاج بالذهب  </span></span>
                    </label>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="ulac_11" id="ulac_chk_116" value="6">
                        <span class="custom-control-label">Ibuprofen&nbsp;ايبوبروفين  </span>
                    </label>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="ulac_11" id="ulac_chk_117" value="7">
                        <span class="custom-control-label">Aspirin  &nbsp;<span dir="rtl">اسبيرين </span></span>
                    </label>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="ulac_11" id="ulac_chk_118" value="8">
                        <span class="custom-control-label">Antihypertensive&nbsp;خافض للضغط  </span>
                    </label>
                </div>

            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            Please Specify من فضلك حدد  :
            @Html.TextBoxFor(m => m.lac_22, new { @class = "form-control mb-2 mt-2", @id = "ulac_22", @maxlength = "250" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 group">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="ulac_11" id="ulac_chk_119" value="9">
                        <span class="custom-control-label">Fish Oils   &nbsp;<span dir="rtl">زيت السمك  </span></span>
                    </label>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="ulac_11" id="ulac_chk_1110" value="10">
                        <span class="custom-control-label">Others&nbsp;آحرون  </span>
                    </label>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    Please Specify من فضلك حدد  :
                    @Html.TextBoxFor(m => m.lac_23, new { @class = "form-control mb-2 mt-2", @id = "ulac_23", @maxlength = "250" })
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 group">
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="ulac_11" id="ulac_chk_1111" value="11">
                        <span class="custom-control-label">St. John’s Wort &nbsp;<span dir="rtl">نبتة سانت جون  </span></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 group mt-4">
            <p> Do you have any tattoos or permanent makeup ?  &nbsp;<span dir="rtl"> ? هل لديك اي وشوم او مكياج دائم    </span></p>
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-2">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="ulac_7" id="ulac_rb_71" value="No">
                        <span class="custom-control-label">NO&nbsp;لا</span>
                    </label>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-2">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="ulac_7" id="ulac_rb_72" value="Yes">
                        <span class="custom-control-label">YES&nbsp;نعم </span>
                    </label>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    Please Specify من فضلك حدد  :
                    @Html.TextBoxFor(m => m.lac_24, new { @class = "form-control mb-2 mt-2", @id = "ulac_24", @maxlength = "250" })
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 group">
            <p> Do you have history of keloid or hypertrophic scar ?   &nbsp;<span dir="rtl"> ? هل لديك تاريخ من الجدرة أو الندب الضخمة     </span></p>
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-2">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="ulac_8" id="ulac_rb_81" value="No">
                        <span class="custom-control-label">NO&nbsp;لا</span>
                    </label>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-2">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="ulac_8" id="ulac_rb_82" value="Yes">
                        <span class="custom-control-label">YES&nbsp;نعم </span>
                    </label>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    Please Specify من فضلك حدد  :
                    @Html.TextBoxFor(m => m.lac_25, new { @class = "form-control mb-2 mt-2", @id = "ulac_25", @maxlength = "250" })
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 group">
            <p> Have you had any cosmetic procedure such as Botox , filler , threads , chemical peeling ?    &nbsp;<span dir="rtl"> ?  هل لديك  اي اجراء تجميلي متل الفيلر والبوتوكس و الخيوط الشد التجميلية و التقشير الكيميائي       </span></p>
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-2">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="ulac_9" id="ulac_rb_91" value="No">
                        <span class="custom-control-label">NO&nbsp;لا</span>
                    </label>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-2">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="ulac_9" id="ulac_rb_92" value="Yes">
                        <span class="custom-control-label">YES&nbsp;نعم </span>
                    </label>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    Please Specify type and date of treatment <br /><span dir="rtl">يرجى تحديد نوع وتاريخ العلاج</span> :&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.TextBoxFor(m => m.lac_26, new { @class = "form-control mb-2 mt-2", @id = "ulac_26", @maxlength = "250" })
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2 text-align-left">
                    Date  <br />
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fe fe-calendar"></i>
                            </div>
                        </div>
                        <input id="ulac_32" class="form-control" pulaceholder="DD-MMM-YYYY" type="text" autocomplete="off">
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 group mt-4">
                    <p>Please select the one that best describe you if you were exposed to the sun for long hours without sunblock   &nbsp;<span dir="rtl"> يرجى اختيار المنتج الذي يصفك بشكل أفضل إذا كنت تتعرض لأشعة الشمس لساعات طويلة دون استخدام واقي الشمس  </span></p>
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="ulac_11" id="ulac_chk_1115" value="15">
                                <span class="custom-control-label">Always burns,never tans&nbsp;دائما حروق ولا تسمير ابدا   </span>
                            </label>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="ulac_11" id="ulac_chk_1116" value="16">
                                <span class="custom-control-label">Rarely burns,tans with ease&nbsp;نادرا ما احترق و تسمير بسهولة   </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 group">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="ulac_11" id="ulac_chk_1117" value="17">
                                <span class="custom-control-label">Usually burns,never tans&nbsp;عادة ما تحترق ، ولا تسمير أبدًا   </span>
                            </label>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="ulac_11" id="ulac_chk_1118" value="18">
                                <span class="custom-control-label">Very rarely burns,tans very easily&nbsp; نادرا جدا ما احترق و تسمير بسهولة   </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 group">
                    <div class="row">
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="ulac_11" id="ulac_chk_1119" value="19">
                                <span class="custom-control-label">Burns mildly,tans slowly   &nbsp;حروق خفيفة ، تسمر ببطء   </span>
                            </label>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="ulac_11" id="ulac_chk_1120" value="20">
                                <span class="custom-control-label">Never Burns ,always Tans &nbsp; لاحروق و دائما تسمير   </span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12  mb-2 mt-2">
                    <p>Check any previous hair removal history if applicable   &nbsp;<span dir="rtl"> تحقق من أي تاريخ سابق لإزالة الشعر إن أمكن  </span></p>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-2">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="ulac_11" id="ulac_chk_1121" value="21">
                                <span class="custom-control-label">Waxing&nbsp;واكس  </span>
                            </label>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-2">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="ulac_11" id="ulac_chk_1122" value="22">
                                <span class="custom-control-label">Plucking&nbsp;نتف </span>
                            </label>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-2">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="ulac_11" id="ulac_chk_1123" value="23">
                                <span class="custom-control-label">Electrolysis&nbsp; التحليل الكهربائي</span>
                            </label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="ulac_11" id="ulac_chk_1124" value="24">
                                <span class="custom-control-label">Shaving &nbsp;حلاقة </span>
                            </label>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-2">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="ulac_11" id="ulac_chk_1125" value="25">
                                <span class="custom-control-label">Others &nbsp;آحرون </span>
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
                        Please Specify من فضلك حدد  :
                        @Html.TextBoxFor(m => m.lac_30, new { @class = "form-control mb-2 mt-2", @id = "ulac_30", @maxlength = "250" })
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
                    Please check any tanning history and specify date of last use      &nbsp;<span dir="rtl">  من فضلك اختر تاريخ التعرض للشمس و حدد تاريخ اخر مرة   </span>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="ulac_11" id="ulac_chk_1112" value="12">
                        <span class="custom-control-label">Long Sun Exposure &nbsp; التعرض لاشعة الشمس لمدة طويلة   </span>
                    </label>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
                    @Html.TextAreaFor(m => m.lac_27, new { @class = "form-control mb-2 mt-2", @rows = "2", @columns = "2", @id = "ulac_27", @maxlength = "250" })
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
                    Date
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fe fe-calendar"></i>
                            </div>
                        </div>
                        <input id="ulac_33" class="form-control" pulaceholder="DD-MMM-YYYY" type="text" autocomplete="off">
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="ulac_11" id="ulac_chk_1113" value="13">
                        <span class="custom-control-label">Tanning Booth &nbsp; جهاز التسمير   </span>
                    </label>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
                    @Html.TextAreaFor(m => m.lac_28, new { @class = "form-control mb-2 mt-2", @rows = "2", @columns = "2", @id = "ulac_28", @maxlength = "250" })
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
                    Date
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fe fe-calendar"></i>
                            </div>
                        </div>
                        <input id="ulac_34" class="form-control" pulaceholder="DD-MMM-YYYY" type="text" autocomplete="off">
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="ulac_11" id="ulac_chk_1114" value="14">
                        <span class="custom-control-label">Spray Tans  &nbsp; بخاخات التسمير   </span>
                    </label>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    @Html.TextAreaFor(m => m.lac_29, new { @class = "form-control mb-2 mt-2", @rows = "2", @columns = "2", @id = "ulac_29", @maxlength = "250" })
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 mb-2">
                    Date
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fe fe-calendar"></i>
                            </div>
                        </div>
                        <input id="ulac_35" class="form-control" pulaceholder="DD-MMM-YYYY" type="text" autocomplete="off">
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 group mb-2 mt-2">
                    <p> Have your done any laser hair removal before ?   &nbsp;<span dir="rtl"> ? هل قمت بعمل ليزر لازالة الشعر من قبل  </span></p>
                    <div class="row">
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="ulac_10" id="ulac_rb_101" value="No">
                                <span class="custom-control-label">NO&nbsp;لا</span>
                            </label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="ulac_10" id="ulac_rb_102" value="Yes">
                                <span class="custom-control-label">YES&nbsp;نعم </span>
                            </label>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 ">
                            Please Specify the number of sessions done and date of last session&nbsp;<br /> <span dir="rtl">يرجى تحديد عدد الجلسات المنجزة وتاريخ آخر جلسة</span>  :
                            @Html.TextBoxFor(m => m.lac_31, new { @class = "form-control mb-2 mt-2", @id = "ulac_31", @maxlength = "250" })
                        </div>
                        <div class="col-sm-4 col-md-12 col-lg-12 text-align-left">
                            <br />Date
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-calendar"></i>
                                    </div>
                                </div>
                                <input id="ulac_36" class="form-control" pulaceholder="DD-MMM-YYYY" type="text" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 group mt-6">
                            <p class="text-center fs-18">  I attest the above information to be true , knowing my technician relies on this for safe and effective treatment  <br /><span dir="rtl"> أشهد أن المعلومات الواردة أعلاه صحيحة ، مع العلم أن فني يعتمد على هذا للحصول على علاج آمن وفعال  </span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="3" class="font-weight-bold text-danger fs-18" width="100%">
                        Sign here, only if all of your questions have been answered to your satisfaction<br />قم بالتوقيع هنا، فقط إذا تمت الإجابة على جميع أسئلتك بما يرضيك
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <div id="upat_sign_box" class="d-none">
                            <img alt="stamp" id="upat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold"> Patient Name<br />اسم المريض</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="upsb_date_patient"></label>
                        <span class="font-weight-semibold">Date<br />تاريخ</span>
                    </td>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize">@emr.doc_name&nbsp;</label>
                        <span class="font-weight-semibold">Doctor’s Name<br />اسم الطبيب</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="ulac_date_doctor">@Model.lac_date_modified&nbsp;</label>
                        <span class="font-weight-semibold">Date<br />تاريخ</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue" width="33%">
                        Patient Signature<br />توقيع المريض
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center" width="33%">Doctor’s Signature<br />توقيع الطبيب</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update">Save Changes</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                <button type="button" class="btn btn-danger btn-sm" id="btn_DeleteForm">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print"> Download/Print </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Update").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Update").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Update").show();
                }
                else {
                    $("#btn_Update").hide();
                }
            }
        }
        validate();
        GetSignaturename('patient');
        GetSignaturename('witness');
        GetCheckedValues();
        GetRadioValues();
        //getdates();
        $('#ulac_32').bootstrapdatepicker({
             format: "dd-MM-yyyy",
             viewMode: "date",
             todayHighlight: true,
             autoclose: true,
             multidate: false,
             multidateSeparator: "-"
        });
        $("#ulac_32").bootstrapdatepicker("setDate", moment(new Date("@Model.lac_32")).format("DD-MMMM-YYYY"));

        $('#ulac_33').bootstrapdatepicker({
         format: "dd-MM-yyyy",
         viewMode: "date",
         todayHighlight: true,
         autoclose: true,
         multidate: false,
         multidateSeparator: "-"
        });
        $("#ulac_33").bootstrapdatepicker("setDate", moment(new Date("@Model.lac_33")).format("DD-MMMM-YYYY"));

        $('#ulac_34').bootstrapdatepicker({
         format: "dd-MM-yyyy",
         viewMode: "date",
         todayHighlight: true,
         autoclose: true,
         multidate: false,
         multidateSeparator: "-"
        });
        $("#ulac_34").bootstrapdatepicker("setDate", moment(new Date("@Model.lac_34")).format("DD-MMMM-YYYY"));

        $('#ulac_35').bootstrapdatepicker({
         format: "dd-MM-yyyy",
         viewMode: "date",
         todayHighlight: true,
         autoclose: true,
         multidate: false,
         multidateSeparator: "-"
        });
        $("#ulac_35").bootstrapdatepicker("setDate", moment(new Date("@Model.lac_35")).format("DD-MMMM-YYYY"));

        $('#ulac_36').bootstrapdatepicker({
         format: "dd-MM-yyyy",
         viewMode: "date",
         todayHighlight: true,
         autoclose: true,
         multidate: false,
         multidateSeparator: "-"
        });
        $("#ulac_36").bootstrapdatepicker("setDate", moment(new Date("@Model.lac_36")).format("DD-MMMM-YYYY"));

    });

    //#region Validation Initialization
    var validate = function () {
        $("#form_LaserAssessmentEdit").validate({
            rules: {
                lac_12: {
                    required: true
                },
            },
            messages: {
                lac_12: {
                    required: "Please Enter Emergency Contact"
                },

            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
    //#endregion

    //#region Update  Click
$('#btn_Update').on('click', function (e) {
    e.preventDefault();
    if ($("#form_LaserAssessmentEdit").valid()) {
        console.log($("#lacId").val());
        $('#btn_Update').removeClass("btn btn-sm btn-success");
        $('#btn_Update').addClass("btn btn-sm btn-success btn-loaders btn-icon");
        $('#btn_Update').html("Updating the Record....");

        var ulac_11_ = $.map($(':checkbox[name=ulac_11]:checked'), function (n, i) {
             return n.value;
        }).join(',');

             var ulac_1 = "";
                if ($('#ulac_rb_11').prop('checked')) {
                    ulac_1 = "No";
                }
                else if ($('#ulac_rb_12').prop('checked')) {
                    ulac_1 = "Yes";
                }

                var ulac_2 = "";
                if ($('#ulac_rb_21').prop('checked')) {
                    ulac_2 = "No";
                }
                else if ($('#ulac_rb_22').prop('checked')) {
                    ulac_2 = "Yes";
                }

                var ulac_3 = "";
                if ($('#ulac_rb_31').prop('checked')) {
                    ulac_3 = "No";
                }
                else if ($('#ulac_rb_32').prop('checked')) {
                    ulac_3 = "Yes";
                }

                var ulac_4 = "";
                if ($('#ulac_rb_41').prop('checked')) {
                    ulac_4 = "No";
                }
                else if ($('#ulac_rb_42').prop('checked')) {
                    ulac_4 = "Yes";
                }

                var ulac_5 = "";
                if ($('#ulac_rb_51').prop('checked')) {
                    ulac_5 = "No";
                }
                else if ($('#ulac_rb_52').prop('checked')) {
                    ulac_5 = "Yes";
                }

                var ulac_6 = "";
                if ($('#ulac_rb_61').prop('checked')) {
                    ulac_6 = "No";
                }
                else if ($('#ulac_rb_62').prop('checked')) {
                    ulac_6 = "Yes";
                }

                var ulac_7 = "";
                if ($('#ulac_rb_71').prop('checked')) {
                    ulac_7 = "No";
                }
                else if ($('#ulac_rb_72').prop('checked')) {
                    ulac_7 = "Yes";
                }

                var ulac_8 = "";
                if ($('#ulac_rb_81').prop('checked')) {
                    ulac_8 = "No";
                }
                else if ($('#ulac_rb_82').prop('checked')) {
                    ulac_8 = "Yes";
                }

                var ulac_9 = "";
                if ($('#ulac_rb_91').prop('checked')) {
                    ulac_9 = "No";
                }
                else if ($('#ulac_rb_92').prop('checked')) {
                    ulac_9 = "Yes";
                }

                var ulac_10 = "";
                if ($('#ulac_rb_101').prop('checked')) {
                    ulac_10 = "No";
                }
                else if ($('#ulac_rb_102').prop('checked')) {
                    ulac_10 = "Yes";
                }

                var _dateInsert = {
                    "lacId": 0,
                    "lac_appId": @emr.appId,
                    "lac_1": ulac_1,
                    "lac_2": ulac_2,
                    "lac_3": ulac_3,
                    "lac_4": ulac_4,
                    "lac_5": ulac_5,
                    "lac_6": ulac_6,
                    "lac_7": ulac_7,
                    "lac_8": ulac_8,
                    "lac_9": ulac_9,
                    "lac_10":ulac_10,
                    "lac_11":ulac_11_,
                    "lac_12": $("#ulac_12").val(),
                    "lac_13": $("#ulac_13").val(),
                    "lac_14": $("#ulac_14").val(),
                    "lac_15": $("#ulac_15").val(),
                    "lac_16": $("#ulac_16").val(),
                    "lac_17": $("#ulac_17").val(),
                    "lac_18": $("#ulac_18").val(),
                    "lac_19": $("#ulac_19").val(),
                    "lac_20": $("#ulac_20").val(),
                    "lac_21": $("#ulac_21").val(),
                    "lac_22": $("#ulac_22").val(),
                    "lac_23": $("#ulac_23").val(),
                    "lac_24": $("#ulac_24").val(),
                    "lac_25": $("#ulac_25").val(),
                    "lac_26": $("#ulac_26").val(),
                    "lac_27": $("#ulac_27").val(),
                    "lac_28": $("#ulac_28").val(),
                    "lac_29": $("#ulac_29").val(),
                    "lac_30": $("#ulac_30").val(),
                    "lac_31": $("#ulac_31").val(),
                    "lac_32": $("#ulac_32").val(),
                    "lac_33": $("#ulac_33").val(),
                    "lac_34": $("#ulac_34").val(),
                    "lac_35": $("#ulac_35").val(),
                    "lac_36": $("#ulac_36").val(),

               "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
             }

        console.log(_dateInsert);

        $.ajax({
            type: "Post",
            url: "@Url.Action("EditLaserAssessment", "LaserAssessment", new {area = "ConsentForms" })",
            dataType: 'JSON',
            data: _dateInsert,
            success: function (data) {
                $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                $('#btn_Update').addClass("btn btn-sm btn-warning");
                $('#btn_Update').html("Save Changes");

                if (data.isSuccess) {
                    if (data.isEdited) {
                        GetLaserAssessmentInfo();
                        var alertPlaceholder = document.getElementById("Alert");

                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>Laser Assessment Consent Form Updated Successfully!", "success");
                        Timeout();
                        $("#LaserAssessment_edit").show();
                        $("#LaserAssessment_add").hide();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Warning.. Laser Assessment Consent Form already Exists..</strong><br/>" +
                            "</div></div>";
                        $("#Alert").html(html);
                    }
                }
                else {
                    let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                    "<div class='alert alert-danger' role='alert'>" +
                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                    "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                    $.each(data.message, function (index, value) {
                        html += "<li><small>" + value + "</small><li>";
                        var elem = $("#" + index);
                        if (elem.hasClass("select2-hidden-accessible")) {
                            $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                        }
                        else {
                            $(elem).addClass(" is-invalid");
                        }

                        setTimeout(function () {
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                            }
                            else {
                                $(elem).removeClass("is-invalid");
                            }
                            }, 5000);
                    });

                    html += "</ul></div></div>";

                    $("#error").html(html);
                }
            },
            error: function (xhr) {
                $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                $('#btn_Update').addClass("btn btn-sm btn-warning");
                $('#btn_Update').html("Save Changes");
                Timeout();
            }
        });
    }
    else {
        $('.modal-body').animate({
            scrollTop: ($('.has-error').offset().top - 300)
        }, 2000);
    }
});
//#endregion Update Click

    //#region Print
$('#btn_Print').on('click', function (e) {
    e.preventDefault();
    $('#btn_Print').removeClass("btn btn-success");
    $('#btn_Print').addClass("btn btn-success btn-loaders btn-icon");
    $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "LaserAssessment", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=LaserAssessment",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {

                if (data.success)
                    console.log(data);
                    console.log(data.message.pdfPath); {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print

    //#region Delete Click
    $('#btn_DeleteForm').on('click', function (e) {
        e.preventDefault();
        $('#btn_DeleteForm').removeClass("btn btn-success");
        $('#btn_DeleteForm').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_DeleteForm').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteLaserAssessment", "LaserAssessment", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-warning");
                $('#btn_DeleteForm').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>Laser Assessment Consent Form Deleted Successfully!", "success");
                        clearControls();
                        $("#LaserAssessment_edit").hide();
                        $("#LaserAssessment_add").show();
                        AddLaserAssessment();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-Delete");
                $('#btn_DeleteForm').html("Delete");
                Timeout();
            }
        })
    });
//#endregion

    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("input[name='ulac_1']:radio").prop('checked', false);
        $("input[name='ulac_2']:radio").prop('checked', false);
        $("input[name='ulac_3']:radio").prop('checked', false);
        $("input[name='ulac_4']:radio").prop('checked', false);
        $("input[name='ulac_5']:radio").prop('checked', false);
        $("input[name='ulac_6']:radio").prop('checked', false);
        $("input[name='ulac_7']:radio").prop('checked', false);
        $("input[name='ulac_8']:radio").prop('checked', false);
        $("input[name='ulac_9']:radio").prop('checked', false);
        $("input[name='ulac_10']:radio").prop('checked', false);
        $("input[name='ulac_11']:checkbox").prop('checked', false);
        $("#upat_sign").attr("src", "");
        $("#ulac_32").bootstrapdatepicker("setDate", '');
        $("#ulac_33").bootstrapdatepicker("setDate", '');
        $("#ulac_34").bootstrapdatepicker("setDate", '');
        $("#ulac_35").bootstrapdatepicker("setDate", '');
        $("#ulac_36").bootstrapdatepicker("setDate", '');

    }
    //#endregion Clear Controls

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "LaserAssessment",
                "appId": @emr.appId,
                "formname":"Laser Assessment",
                "formlink":"",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "LaserAssessment",
            "appId": @emr.appId,
            "formname":"Laser Assessment",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            GetSignaturename('witness');
            localStorage.removeItem("sign");
        }
    });

    //#region Get Signature
var GetSignaturename = function  (person) {
    $.ajax({
        url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=LaserAssessment',
        type: "GET",
        dataType: "json",
        async: false,
        success: function (response) {
            //console.log(response);
            let sign = response[0].psb_sign;
            var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY HH:mm");

            if (response[0].person == "patient") {
                $("#upat_sign_box").removeClass("d-none");
                $("#upsb_date_patient").text(date);
                $("#upat_sign").attr("src", sign);
            }

        },
        error: function (xhr) {
            console.log(xhr);
            alert(xhr);
        }

    });
};
//#endregion Get Signature

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout

    //#region Get RadioValues
    var GetRadioValues = function (checknames1, checknames2, checknames3, checknames4, checknames5, checknames6, checknames7, checknames8, checknames9, checknames10) {
        var checknames1 = "@Model.lac_1";
        var checknames2 = "@Model.lac_2";
        var checknames3 = "@Model.lac_3";
        var checknames4 = "@Model.lac_4";
        var checknames5 = "@Model.lac_5";
        var checknames6 = "@Model.lac_6";
        var checknames7 = "@Model.lac_7";
        var checknames8 = "@Model.lac_8";
        var checknames9 = "@Model.lac_9";
        var checknames10 = "@Model.lac_10";

        if (checknames1 !== null) {
            if (checknames1 != "") {
                if (checknames1 == "No") {
                    $('#ulac_rb_11').attr('checked', 'checked');
                    $("#ulac_rb_11").prop("checked", true);
                }
                if (checknames1 == "Yes") {
                    $('#ulac_rb_12').attr('checked', 'checked');
                    $("#ulac_rb_12").prop("checked", true);
                }
            }
        }
        if (checknames2 !== null) {
            if (checknames2 != "") {
                if (checknames2 == "No") {
                    $('#ulac_rb_21').attr('checked', 'checked');
                    $("#ulac_rb_21").prop("checked", true);
                }
                if (checknames2 == "Yes") {
                    $('#ulac_rb_22').attr('checked', 'checked');
                    $("#ulac_rb_22").prop("checked", true);
                }
            }
        }
        if (checknames3 !== null) {
            if (checknames3 != "") {
                if (checknames3 == "No") {
                    $('#ulac_rb_31').attr('checked', 'checked');
                    $("#ulac_rb_31").prop("checked", true);
                }
                if (checknames3 == "Yes") {
                    $('#ulac_rb_32').attr('checked', 'checked');
                    $("#ulac_rb_32").prop("checked", true);
                }
            }
        }
        if (checknames4 !== null) {
            if (checknames4 != "") {
                if (checknames4 == "No") {
                    $('#ulac_rb_41').attr('checked', 'checked');
                    $("#ulac_rb_41").prop("checked", true);
                }
                if (checknames4 == "Yes") {
                    $('#ulac_rb_42').attr('checked', 'checked');
                    $("#ulac_rb_42").prop("checked", true);
                }
            }
        }
        if (checknames5 !== null) {
            if (checknames5 != "") {
                if (checknames5 == "No") {
                    $('#ulac_rb_51').attr('checked', 'checked');
                    $("#ulac_rb_51").prop("checked", true);
                }
                if (checknames5 == "Yes") {
                    $('#ulac_rb_52').attr('checked', 'checked');
                    $("#ulac_rb_52").prop("checked", true);
                }
            }
        }
        if (checknames6 !== null) {
            if (checknames6 != "") {
                if (checknames6 == "No") {
                    $('#ulac_rb_61').attr('checked', 'checked');
                    $("#ulac_rb_61").prop("checked", true);
                }
                if (checknames6 == "Yes") {
                    $('#ulac_rb_62').attr('checked', 'checked');
                    $("#ulac_rb_62").prop("checked", true);
                }
            }
        }
        if (checknames7 !== null) {
            if (checknames7 != "") {
                if (checknames7 == "No") {
                    $('#ulac_rb_71').attr('checked', 'checked');
                    $("#ulac_rb_71").prop("checked", true);
                }
                if (checknames7 == "Yes") {
                    $('#ulac_rb_72').attr('checked', 'checked');
                    $("#ulac_rb_72").prop("checked", true);
                }
            }
        }
        if (checknames8 !== null) {
            if (checknames8 != "") {
                if (checknames8 == "No") {
                    $('#ulac_rb_81').attr('checked', 'checked');
                    $("#ulac_rb_81").prop("checked", true);
                }
                if (checknames8 == "Yes") {
                    $('#ulac_rb_82').attr('checked', 'checked');
                    $("#ulac_rb_82").prop("checked", true);
                }
            }
        }
        if (checknames9 !== null) {
            if (checknames9 != "") {
                if (checknames9 == "No") {
                    $('#ulac_rb_91').attr('checked', 'checked');
                    $("#ulac_rb_91").prop("checked", true);
                }
                if (checknames9 == "Yes") {
                    $('#ulac_rb_92').attr('checked', 'checked');
                    $("#ulac_rb_92").prop("checked", true);
                }
            }
        }
        if (checknames10 !== null) {
            if (checknames10 != "") {
                if (checknames10 == "No") {
                    $('#ulac_rb_101').attr('checked', 'checked');
                    $("#ulac_rb_101").prop("checked", true);
                }
                if (checknames10 == "Yes") {
                    $('#ulac_rb_102').attr('checked', 'checked');
                    $("#ulac_rb_102").prop("checked", true);
                }
            }
        }
    }
    //#endregion Get CheckedValues

    //#region Get CheckedValues
     var GetCheckedValues = function (checknames) {
     var checknames = "@Model.lac_11";

       if (checknames !== null) {

         if (checknames != "") {
          var str = "@Model.lac_11";
          var myarray = str.split(',');
          for (var i = 0; i < myarray.length; i++) {
             $('.custom-control-input').each(function () {
                 if (myarray.includes($(this).val())) {
                     $(this).prop("checked", true);
                 }
             });
         }
         console.log(myarray)
     }
   }
 }
    //#endregion

    //#region Date Picker
    var getdates = function () {
        $('#ulac_32, #ulac_33, #ulac_34, #ulac_35, #ulac_36').bootstrapdatepicker({
           format: "dd-MM-yyyy",
           viewMode: "date",
           todayHighlight: true,
           autoclose: true,
           multidate: false,
           multidateSeparator: "-"
        });

        $("#ulac_32, #ulac_33, #ulac_34, #ulac_35, #ulac_36").bootstrapdatepicker("setDate", moment(new Date("@Model.lac_32,@Model.lac_33,@Model.lac_34,@Model.lac_35,@Model.lac_36")).format("DD-MMMM-YYYY"));

    }

//#endregion
</script>
