@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Tatto Removal Derma";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"> Tatto Removal Consent Form</h3>
            </div>
            <div class="card-body">
                <div id="TattoRemovalDerma_add" style="display:none">
                </div>
                <div id="TattoRemovalDerma_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="TattoRemovalDerma_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetTattoRemovalDermaInfo();
        TattoRemovalDermaPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetTattoRemovalDermaInfo
    var GetTattoRemovalDermaInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetTattoRemovalDermaData", "TattoRemovalDerma", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditTattoRemovalDerma();
                        $("#TattoRemovalDerma_add").hide();
                        $("#TattoRemovalDerma_edit").show();

                    }
                    else {
                        $("#TattoRemovalDerma_add").show();
                        $("#TattoRemovalDerma_edit").hide();
                        AddTattoRemovalDerma();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load TattoRemovalDerma

    //#region Add TattoRemovalDerma
    function AddTattoRemovalDerma() {
        var x = $("#TattoRemovalDerma_add");
        x.load("@Url.Action("CreateTattoRemovalDerma", "TattoRemovalDerma", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add TattoRemovalDerma

    // #region Update TattoRemovalDerma
    function EditTattoRemovalDerma() {
        var x = $("#TattoRemovalDerma_edit");
        x.load("@Url.Action("UpdateTattoRemovalDerma", "TattoRemovalDerma", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update TattoRemovalDerma

    //#region Histroy of TattoRemovalDerma
    function TattoRemovalDermaPreviousHistory() {
        var x = $("#TattoRemovalDerma_history");
        x.load("@Url.Action("TattoRemovalDermaPreviousHistory", "TattoRemovalDerma", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>