@using BusinessEntities;
@using System.Linq;
@using System.Security.Claims;

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Mesotherapy Consent";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Mesotherapy Consent Form</h3>
            </div>
            <div class="card-body">
                <div id="Mesotherapy_add" style="display:none">
                </div>
                <div id="Mesotherapy_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="Mesotherapy_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        //#region Page Load
        $(function () {
            GetMesotherapyInfo();
            MesotherapyPreviousHistory();
        });

        //#endregion Page Load

        //#region Load GetMesotherapyInfo
        var GetMesotherapyInfo = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetMesotherapyData", "Mesotherapy", new { area = "ConsentForms" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        if (response.length > 0) {
                            EditMesotherapy();
                            $("#Mesotherapy_add").hide();
                            $("#Mesotherapy_edit").show();

                        }
                        else {
                            $("#Mesotherapy_add").show();
                            $("#Mesotherapy_edit").hide();
                            AddMesotherapy();
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
        //#endregion Load Mesotherapy

        //#region Add Mesotherapy
        function AddMesotherapy() {
            var x = $("#Mesotherapy_add");
            x.load("@Url.Action("CreateMesotherapy", "Mesotherapy", new { area = "ConsentForms" })", function () {
          });
        }
        //#endregion Add Mesotherapy

        //#region Update Mesotherapy

        function EditMesotherapy() {
            var x = $("#Mesotherapy_edit");
            x.load("@Url.Action("UpdateMesotherapy", "Mesotherapy", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
        //#endregion Update Mesotherapy

        //#region Histroy of Mesotherapy

        function MesotherapyPreviousHistory() {
            var x = $("#Mesotherapy_history");
    x.load("@Url.Action("MesotherapyPreviousHistory", "Mesotherapy", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
  });
}
//#endregion Histroy of Mesotherapy

</script>
