@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Lipolysis Injection";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Lipolysis Injection consent Form<br /><span dir="rtl">نموذج الموافقة على حقن تحلل الدهون</span>
                </h3>
            </div>
            <div class="card-body">
                <div id="LipolysisInjection_add" style="display:none">
                </div>
                <div id="LipolysisInjection_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="LipolysisInjection_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetLipolysisInjectionInfo();
        LipolysisInjectionPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetLipolysisInjectionInfo
    var GetLipolysisInjectionInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetLipolysisInjectionData", "LipolysisInjection", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditLipolysisInjection();
                        $("#LipolysisInjection_add").hide();
                        $("#LipolysisInjection_edit").show();

                    }
                    else {
                        $("#LipolysisInjection_add").show();
                        $("#LipolysisInjection_edit").hide();
                        AddLipolysisInjection();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load LipolysisInjection

    //#region Add LipolysisInjection
    function AddLipolysisInjection() {
        var x = $("#LipolysisInjection_add");
        x.load("@Url.Action("CreateLipolysisInjection", "LipolysisInjection", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add LipolysisInjection

    //#region Update LipolysisInjection
    function EditLipolysisInjection() {
        var x = $("#LipolysisInjection_edit");
        x.load("@Url.Action("UpdateLipolysisInjection", "LipolysisInjection", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update LipolysisInjection

    //#region Histroy of LipolysisInjection
    function LipolysisInjectionPreviousHistory() {
        var x = $("#LipolysisInjection_history");
        x.load("@Url.Action("LipolysisInjectionPreviousHistory", "LipolysisInjection", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>