@using System.Configuration;
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConsentForms.EyeForm1
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_EyeForm1Edit" autocomplete="off" name="EyeForm1" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5 table-responsive">
        <div class="content" name="example">
            <div class="content-inner">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-12">
                        <div class="form-group mb-3">
                            <button id="udrawingdot" class="btn bg-dark-transparent btn-icon btn-svg udrawing-mode" data-mode="udot" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                    <circle cx="8" cy="8" r="8" />
                                </svg>
                            </button>
                            <button id="udrawingcheck" class="btn bg-dark-transparent btn-icon btn-svg udrawing-mode" data-mode="ucheck" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                                </svg>
                            </button>
                            <button id="udrawingcircle" class="btn bg-dark-transparent btn-icon btn-svg udrawing-mode" data-mode="ucircle" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                </svg>
                            </button>
                            <button id="udrawingcupping" class="btn bg-dark-transparent btn-icon btn-svg udrawing-mode" data-mode="ucupping" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash2" viewBox="0 0 16 16">
                                    <path d="M14 3a.7.7 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225A.7.7 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2M3.215 4.207l1.493 8.957a1 1 0 0 0 .986.836h4.612a1 1 0 0 0 .986-.836l1.493-8.957C11.69 4.689 9.954 5 8 5s-3.69-.311-4.785-.793" />
                                </svg>
                            </button>
                            <button id="uundo_button" class="btn bg-dark-transparent btn-icon btn-svg" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z" />
                                    <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z" />
                                </svg>
                            </button>
                            <button id="udrawingeraser" class="btn bg-dark-transparent btn-icon btn-svg udrawing-mode" data-mode="ueraser" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser-fill text-danger" viewBox="0 0 16 16">
                                    <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293z" />
                                </svg>
                            </button>
                            <input id="ucolor_picker" type="text">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-7">
                        <div>
                            <canvas id="uimageCanvas" width="650" height="400"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-5">
                        <div class="form-group mb-3">
                            <label class="form-label text-black">Notes&nbsp;<span class="text-danger">*</span></label>
                            @Html.TextAreaFor(m => m.efn1_1, new { @class = "form-control-sm", @id = "uefn1_1", @style = "width:500px", @maxlength = "250", @rows = "8" })&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="3" class="font-weight-bold text-danger fs-18" width="100%">
                        Sign here, only if all of your questions have been answered to your satisfaction
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <div id="upat_sign_box" class="d-none">
                            <img alt="stamp" id="upat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="50%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold"> Patient Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="upsb_date_patient"></label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                    <td width="50%">
                        <label class="form-label text-red text-left text-capitalize">@emr.doc_name&nbsp;</label>
                        <span class="font-weight-semibold">Doctor’s Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="uefn1_date_doctor">@Model.efn1_date_modified&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue" width="33%">
                        Patient Signature
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center" width="50%">Doctor’s Signature</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update">Save Changes</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                <button type="button" class="btn btn-danger btn-sm" id="btn_DeleteForm">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print"> Download/Print </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
  // region page load
    var formName1 = $(form_EyeForm1Edit).closest('form').attr('name');
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Update").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Update").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Update").show();
                }
                else {
                    $("#btn_Update").hide();
                }
            }
        }
        validate();
        GetSignaturename('patient');
        Loadimage();

        $('#ucolor_picker').spectrum({
            type: "flat",
            showInput: true,
            preferredFormat: "hex",
            color: '#0061da'
        });

        const udrawingButtons = document.querySelectorAll('.udrawing-mode');
        udrawingButtons.forEach((button) => {
            button.addEventListener('click', function () {
                uDrawingMode = button.getAttribute('data-mode');
            });
        });

    });
    // end page load
     var uisErasing = false;

//#region drawing
var ucanvas = document.getElementById('uimageCanvas');
var uctx = ucanvas.getContext('2d');
var udrawingHistory = [];
var uDrawingMode = 'udot';


//#region Load an image
var Loadimage = function () {
 /*console.log("323");*/
 var uimage = new Image();
 if ("@Model.efn1_doc" != "") {
     uimage.src = "@ConfigurationManager.AppSettings["ClinicSoftEndPoint"].ToString()" + "@Model.efn1_doc";
 }
 else {
     uimage.src = "@ConfigurationManager.AppSettings["ClinicSoftEndPoint"].ToString()" + "images/ConsentForms/MasterImages/eye_1.jpg";
 }
 uimage.onload = function () {
     // Draw the image onto the canvas
     uctx.drawImage(uimage, 0, 0, ucanvas.width, ucanvas.height);
 };
}
// Add drawing functionality
var uisDrawing = false;
var ulastX, ulastY;

ucanvas.addEventListener('mousedown', function (e) {
    var rect = ucanvas.getBoundingClientRect();
    var x = e.clientX - rect.left;
    var y = e.clientY - rect.top;

    if (uisErasing) {
        uerase(x, y);
    } else {
        if (uDrawingMode === 'udot') {
            udrawDot(x, y);
        } else if (uDrawingMode === 'ucheck') {
            udrawcheckMark(x, y);
        }
        else if (uDrawingMode === 'ucircle') {
            udrawingCircle(x, y);
        }
        else if (uDrawingMode === 'ucupping') {
            udrawingCupping(x, y);
        }
        else if (uDrawingMode === 'ueraser') {
            udrawingEraser(x, y);
        }
    }
    uisDrawing = true;
    udrawingHistory.push(canvas.toDataURL());
});



ucanvas.addEventListener('mousemove', function (e) {

    if (uisErasing) {
        var x = e.clientX - ucanvas.getBoundingClientRect().left;
        var y = e.clientY - ucanvas.getBoundingClientRect().top;
        uerase(x, y);
    } else if (!uisDrawing) {
        return;
    }

    if (!uisDrawing) return;

    var x = e.offsetX - ucanvas.getBoundingClientRect().left;
    var y = e.offsetY - ucanvas.getBoundingClientRect().top;


    uisDrawing = true;
    udrawingHistory.push(ucanvas.toDataURL());
});

function udrawDot(x, y) {
    uctx.fillStyle = $("#ucolor_picker").val();
    uctx.beginPath();
    uctx.arc(x, y, 5, 0, Math.PI * 2);
    uctx.fill();
    udrawingHistory.push(ucanvas.toDataURL());
}

var udrawcheckMark = function (x, y) {
    uctx.strokeStyle = $("#ucolor_picker").val();
    uctx.lineWidth = 2;
    uctx.beginPath();
    uctx.moveTo(x - 20, y);
    uctx.lineTo(x - 10, y + 10);
    uctx.lineTo(x + 20, y - 20);
    uctx.stroke();
    udrawingHistory.push(ucanvas.toDataURL());
}

var udrawingCircle = function (x, y) {
    uctx.strokeStyle = $("#ucolor_picker").val();
    uctx.lineWidth = 2;
    uctx.beginPath();
    uctx.arc(x, y, 5, 0, Math.PI * 2); // Use the arc method to draw a circle
    uctx.stroke();
    udrawingHistory.push(ucanvas.toDataURL());
}

var udrawingCupping = function (x, y) {
    uctx.strokeStyle = $("#ucolor_picker").val(); // Set color for the trash icon
    uctx.lineWidth = 2;
    uctx.beginPath();
    uctx.moveTo(x - 8, y - 16);
    uctx.lineTo(x + 8, y - 16);
    uctx.lineTo(x + 4, y - 2);
    uctx.lineTo(x - 4, y - 2);
    uctx.closePath();
    uctx.stroke();
    udrawingHistory.push(ucanvas.toDataURL());
}

var udrawingEraser = function (x, y) {
    var squareSize = 20;
    uctx.fillStyle = "#ffffff";
    uctx.beginPath();
    uctx.rect(x - squareSize / 2, y - squareSize / 2, squareSize, squareSize);
    uctx.fill();
    udrawingHistory.push(ucanvas.toDataURL());
    $("#ucolor_picker").val("#000000");
}

function uerase(x, y) {
    uctx.fillStyle = '#ffffff';
    uctx.beginPath();
    uctx.arc(x, y, 10, 0, Math.PI * 2);
    uctx.fill();
    udrawingHistory.push(ucanvas.toDataURL());
}

ucanvas.addEventListener('mouseup', function () {
    uisDrawing = false;
});

//#region Undo
$('#uundo_button').on('click', function (e) {
    if (udrawingHistory.length > 1) {
        udrawingHistory.pop(); // Remove the current state
        var uimg = new Image();
        uimg.src = udrawingHistory[udrawingHistory.length - 1];
        uimg.onload = function () {
            uctx.clearRect(0, 0, ucanvas.width, ucanvas.height);
            uctx.drawImage(uimg, 0, 0, ucanvas.width, ucanvas.height);
        };
    }
});
//#endregion Undo
    //#region Validation Initialization
    var validate = function () {
        $("#form_EyeForm1Edit").validate({
            rules: {
                efn1_1: {
                    required: true
                },
            },
            messages: {
                efn1_1: {
                    required: "Please Enter Note"
                },
            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
    //#endregion
    //#region Update  Click
    $('#btn_Update').on('click', function (e) {
        e.preventDefault();
        if ($("#form_EyeForm1Edit").valid()) {
            console.log($("#efn1Id").val());
            $('#btn_Update').removeClass("btn btn-sm btn-success");
            $('#btn_Update').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Update').html("Updating the Record....");

            var canvas = $("#uimageCanvas").get(0);
            var imgData = canvas.toDataURL();
            console.log(imgData);

             var _dateInsert = {
              "efn1Id": 0,
              "efn1_appId": @emr.appId,
              "efn1_1": $("#uefn1_1").val(),
              "image": imgData,
              "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
         }
            console.log(_dateInsert);

            $.ajax({
                type: "Post",
                url: "@Url.Action("EditEyeForm1", "EyeForm1", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Update').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-success");
                    $('#btn_Update').html("Save Changes");



                    if (data.isSuccess) {
                        if (data.isEdited) {
                            GetEyeForm1Info();
                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>Eye Form1 Consent Updated Successfully!", "success");

                            Timeout();
                            $("#EyeForm1_edit").show();
                            $("#EyeForm1_add").hide();
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning.. Eye Form1 already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert1").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Update').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }

    });
    //#endregion Update Click

            //#region Delete Click
    $('#btn_DeleteForm').on('click', function (e) {
        e.preventDefault();
        $('#btn_DeleteForm').removeClass("btn btn-success");
        $('#btn_DeleteForm').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_DeleteForm').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteEyeForm1", "EyeForm1", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-warning");
                $('#btn_DeleteForm').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>Eye Form1 Deleted Successfully!", "success");
                        clearControls();
                        $("#EyeForm1_edit").hide();
                        $("#EyeForm1_add").show();
                        AddEyeForm1();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-Delete");
                $('#btn_DeleteForm').html("Delete");
                Timeout();
            }
        })
    });
//#endregion

    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        Loadimage();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("#upat_sign").attr("src", "");
        //Loadimage();

    }
    //#endregion Clear Controls

        //#region Print
$('#btn_Print').on('click', function (e) {
    e.preventDefault();
    $('#btn_Print').removeClass("btn btn-sm btn-success");
    $('#btn_Print').addClass("btn btn-sm btn-success btn-loaders btn-icon");
    $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "EyeForm1", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=EyeForm1",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {
                if (data.success) {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
    //#endregion Print

    //#region Wacom Tab Signature
    var openWacomTabSignaturePad = function (id) {
        var _data = {
             "patId": @emr.patId,
             "person": id,
            "form": "EyeForm1",
             "appId": @emr.appId,
            "formname":"Eye Form1",
             "formlink":"",
             "eSign":""
         }
        $.ajax({
            type: "GET",
            url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
   //#endregion

    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "EyeForm1",
            "appId": @emr.appId,
            "formname":"Eye Form1",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
           localStorage.removeItem("sign");
        }
    });

           //#region Get Signature
var GetSignaturename = function  (person) {
    $.ajax({
        url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=EyeForm1',
        type: "GET",
        dataType: "json",
        async: false,
        success: function (response) {
            //console.log(response);
            let sign = response[0].psb_sign;
            var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY HH:mm");

            if (response[0].person == "patient") {
                $("#upat_sign_box").removeClass("d-none");
                $("#upsb_date_patient").text(date);
                $("#upat_sign").attr("src", sign);
            }

        },
        error: function (xhr) {
            console.log(xhr);
            alert(xhr);
        }

    });
};
//#endregion Get Signature

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout
</script>