@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Hair Filler Consent Index";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }

}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Mesotherapy+Hair Filler+Exosome(Hair-Face)Consent Form
                    <br /><span>استمارة موافقة الميزوثيرابي+فيلر الشعر+إكسوسوم (الشعر-الوجه)</span>
                </h3>
            </div>
            <div class="card-body">
                <div id="HairFillerConsent_add" style="display:none">
                </div>
                <div id="HairFillerConsent_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="HairFillerConsent_history">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //#region Page Load
    $(function () {
        GetHairFillerConsentInfo();
        GetHairFillerConsentPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetHairFillerConsentInfo
    var GetHairFillerConsentInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetHairFillerConsentData", "HairFillerConsent", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditHairFillerConsent();
                        $("#HairFillerConsent_add").hide();
                        $("#HairFillerConsent_edit").show();

                    }
                    else {
                        $("#HairFillerConsent_add").show();
                        $("#HairFillerConsent_edit").hide();
                        AddHairFillerConsent();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load HairFillerConsent

    //#region Add HairFillerConsent
    function AddHairFillerConsent() {
        var x = $("#HairFillerConsent_add");
        x.load("@Url.Action("CreateHairFillerConsent", "HairFillerConsent", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add HairFillerConsent

    //#region Update HairFillerConsent
    function EditHairFillerConsent() {
        var x = $("#HairFillerConsent_edit");
        x.load("@Url.Action("UpdateHairFillerConsent", "HairFillerConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update HairFillerConsent

    //#region Histroy of HairFillerConsent
    function GetHairFillerConsentPreviousHistory() {
        var x = $("#HairFillerConsent_history");
        x.load("@Url.Action("HairFillerConsentPreviousHistory", "HairFillerConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>