@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "General Consent";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}


<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"> General Consent Form</h3>
            </div>
            <div class="card-body">
                <div id="GeneralConsent_add" style="display:none">
                </div>
                <div id="GeneralConsent_edit">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="GeneralConsent_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetGeneralConsentInfo();
        GeneralConsentPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetGeneralConsentInfo
        var GetGeneralConsentInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetGeneralConsentData", "GeneralConsent", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditGeneralConsent();
                        $("#GeneralConsent_add").hide();
                        $("#GeneralConsent_edit").show();

                    }
                    else {
                        $("#GeneralConsent_add").show();
                        $("#GeneralConsent_edit").hide();
                        AddGeneralConsent();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load GeneralConsent

    //#region Add GeneralConsent
        function AddGeneralConsent() {
            var x = $("#GeneralConsent_add");
        x.load("@Url.Action("CreateGeneralConsent", "GeneralConsent", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add GeneralConsent

    //#region Update GeneralConsent
        function EditGeneralConsent() {
            var x = $("#GeneralConsent_edit");
        x.load("@Url.Action("UpdateGeneralConsent", "GeneralConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update GeneralConsent

        //#region Histroy of GeneralConsent
        function GeneralConsentPreviousHistory() {
            var x = $("#GeneralConsent_history");
        x.load("@Url.Action("GeneralConsentPreviousHistory", "GeneralConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion History of GeneralConsent
</script>
