@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Eylea Injection";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Informed Consent For Intravitreal Eylea Injection Procedure</h3>
            </div>
            <div class="card-body">
                <div id="EyleaInjection_add" style="display:none">
                </div>
                <div id="EyleaInjection_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="EyleaInjection_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetEyleaInjectionInfo();
        EyleaInjectionPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetEyleaInjectionInfo
    var GetEyleaInjectionInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetEyleaInjectionData", "EyleaInjection", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditEyleaInjection();
                        $("#EyleaInjection_add").hide();
                        $("#EyleaInjection_edit").show();

                    }
                    else {
                        $("#EyleaInjection_add").show();
                        $("#EyleaInjection_edit").hide();
                        AddEyleaInjection();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load EyleaInjection

    //#region Add EyleaInjection
    function AddEyleaInjection() {
        var x = $("#EyleaInjection_add");
        x.load("@Url.Action("CreateEyleaInjection", "EyleaInjection", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add EyleaInjection

    //#region Update EyleaInjection
    function EditEyleaInjection() {
        var x = $("#EyleaInjection_edit");
        x.load("@Url.Action("UpdateEyleaInjection", "EyleaInjection", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update EyleaInjection

        //#region Histroy of EyleaInjection
    function EyleaInjectionPreviousHistory() {
        var x = $("#EyleaInjection_history");
        x.load("@Url.Action("EyleaInjectionPreviousHistory", "EyleaInjection", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion History of EyleaInjection


</script>