@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Patient's Checklist For Laser Hair Removal";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Patient's Checklist For Laser Hair Removal</h3>
            </div>
            <div class="card-body">
                <div id="PatientLaserHairRemovalDerma_add" style="display:none">
                </div>
                <div id="PatientLaserHairRemovalDerma_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="PatientLaserHairRemovalDerma_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetPatientLaserHairRemovalDermaInfo();
        PatientLaserHairRemovalDermaPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetPatientLaserHairRemovalDermaInfo
    var GetPatientLaserHairRemovalDermaInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetPatientLaserHairRemovalDermaData", "PatientLaserHairRemovalDerma", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditPatientLaserHairRemovalDerma();
                        $("#PatientLaserHairRemovalDerma_add").hide();
                        $("#PatientLaserHairRemovalDerma_edit").show();

                    }
                    else {
                        $("#PatientLaserHairRemovalDerma_add").show();
                        $("#PatientLaserHairRemovalDerma_edit").hide();
                        AddPatientLaserHairRemovalDerma();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load PatientLaserHairRemovalDerma

    //#region Add PatientLaserHairRemovalDerma
    function AddPatientLaserHairRemovalDerma() {
        var x = $("#PatientLaserHairRemovalDerma_add");
        x.load("@Url.Action("CreatePatientLaserHairRemovalDerma", "PatientLaserHairRemovalDerma", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add PatientLaserHairRemovalDerma

    //#region Update PatientLaserHairRemovalDerma
    function EditPatientLaserHairRemovalDerma() {
        var x = $("#PatientLaserHairRemovalDerma_edit");
        x.load("@Url.Action("UpdatePatientLaserHairRemovalDerma", "PatientLaserHairRemovalDerma", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update PatientLaserHairRemovalDerma

    //#region Histroy of PatientLaserHairRemovalDerma
    function PatientLaserHairRemovalDermaPreviousHistory() {
        var x = $("#PatientLaserHairRemovalDerma_history");
        x.load("@Url.Action("PatientLaserHairRemovalDermaPreviousHistory", "PatientLaserHairRemovalDerma", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>