@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Velashape Informed";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Velashape Informed Consent</h3>
            </div>
            <div class="card-body">
                <div id="VelashapeInformed_add" style="display:none">
                </div>
                <div id="VelashapeInformed_edit">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="VelashapeInformed_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetVelashapeInformedInfo();
        VelashapeInformedPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetVelashapeInformedInfo
    var GetVelashapeInformedInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetVelashapeInformedData", "VelashapeInformed", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditVelashapeInformed();
                        $("#VelashapeInformed_add").hide();
                        $("#VelashapeInformed_edit").show();

                    }
                    else {
                        $("#VelashapeInformed_add").show();
                        $("#VelashapeInformed_edit").hide();
                        AddVelashapeInformed();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load VelashapeInformed

    //#region Add VelashapeInformed
    function AddVelashapeInformed() {
        var x = $("#VelashapeInformed_add");
        x.load("@Url.Action("CreateVelashapeInformed", "VelashapeInformed", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add VelashapeInformed

    // #region Update VelashapeInformed
    function EditVelashapeInformed() {
        var x = $("#VelashapeInformed_edit");
        x.load("@Url.Action("UpdateVelashapeInformed", "VelashapeInformed", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update VelashapeInformed

    //#region Histroy of VelashapeInformed
    function VelashapeInformedPreviousHistory() {
        var x = $("#VelashapeInformed_history");
        x.load("@Url.Action("VelashapeInformedPreviousHistory", "VelashapeInformed", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>
