@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Coolsculpting Consent";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Coolsculpting Consent Form</h3>
            </div>
            <div class="card-body">
                <div id="CoolsculptingConsent_add" style="display:none">
                </div>
                <div id="CoolsculptingConsent_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="CoolsculptingConsent_history">
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    //#region Page Load
    $(function () {
        GetCoolsculptingConsentInfo();
        CoolsculptingConsentPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetCoolsculptingConsentInfo
    var GetCoolsculptingConsentInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetCoolsculptingConsentData", "CoolsculptingConsent", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditCoolsculptingConsent();
                        $("#CoolsculptingConsent_add").hide();
                        $("#CoolsculptingConsent_edit").show();

                    }
                    else {
                        $("#CoolsculptingConsent_add").show();
                        $("#CoolsculptingConsent_edit").hide();
                        AddCoolsculptingConsent();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load CoolsculptingConsent

    //#region Add CoolsculptingConsent
    function AddCoolsculptingConsent() {
        var x = $("#CoolsculptingConsent_add");
        x.load("@Url.Action("CreateCoolsculptingConsent", "CoolsculptingConsent", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add CoolsculptingConsent

    //#region Update CoolsculptingConsent
    function EditCoolsculptingConsent() {
        var x = $("#CoolsculptingConsent_edit");
        x.load("@Url.Action("UpdateCoolsculptingConsent", "CoolsculptingConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update CoolsculptingConsent

    //#region History of Coolsculpting
    function CoolsculptingConsentPreviousHistory() {
        var x = $("#CoolsculptingConsent_history");
        x.load("@Url.Action("CoolsculptingConsentPreviousHistory", "CoolsculptingConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>