@using System.Configuration;
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_Cupping" autocomplete="off" name="CuppingTherapy" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-12">
            <div class="form-group mb-3">
                <button id="drawingdot" class="btn bg-dark-transparent btn-icon btn-svg drawing-mode" data-mode="dot" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                        <circle cx="8" cy="8" r="8" />
                    </svg>
                </button>
                <button id="drawingcheck"  class="btn bg-dark-transparent btn-icon btn-svg drawing-mode" data-mode="check" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                    </svg>
                </button>
                <input id="color_picker" type="text">
                <button id="undo_button" class="btn bg-dark-transparent btn-icon btn-svg" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z" />
                        <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-7">
            <div class="content" name="example">
                <canvas id="cuppingCanvas" width="578" height="650"></canvas>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-5">
            <div class="form-group mb-3">
                <label class="form-label text-black">Notes&nbsp;<span class="text-danger">*</span></label>
                <div id="CuppingNote">

                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-sm btn-success" id="btn_Insert_Cupping">Add Cupping</button>
                <button type="button" class="btn btn-sm btn-outline-dark" id="btn_Reset_BotoxDraw">Reset</button>

            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    //#region Partial View Onload
        $(function () {
            if ("@emp_designation.ToString()" === "Super Administrator") {
                    $("#btn_Insert_Cupping").show();
            }
            else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Insert_Cupping").show();

                }
                else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Insert_Cupping").show();
                    }
                    else {
                        $("#btn_Insert_Cupping").hide();
                    }
                }
            }
            $("#drawingMode").select2({
                placeholder: 'Select Drawing Mode',
                width: '7%',
                minimumResultsForSearch: '',
                dropdownParent: $('#form_Cupping'),
                escapeMarkup: function (markup) {
                    return markup;
                }
            });
            $('#color_picker').spectrum({
                type: "flat",
                showInput: true,
                preferredFormat: "hex",
                color: '#0061da'
            });
            var icons = Quill.import('ui/icons');
            icons['bold'] = '<i class="fa fa-bold" aria-hidden="true"><\/i>';
            icons['italic'] = '<i class="fa fa-italic" aria-hidden="true"><\/i>';
            icons['underline'] = '<i class="fa fa-underline" aria-hidden="true"><\/i>';
            icons['strike'] = '<i class="fa fa-strikethrough" aria-hidden="true"><\/i>';
            icons['list']['ordered'] = '<i class="fa fa-list-ol" aria-hidden="true"><\/i>';
            icons['list']['bullet'] = '<i class="fa fa-list-ul" aria-hidden="true"><\/i>';

            var toolbarOptions = [
                [{
                    'header': [1, 2, 3, 4, 5, 6, false]
                }],
                ['bold', 'italic', 'underline', 'strike'],
                [{
                    'list': 'ordered'
                }, {
                    'list': 'bullet'
                }]

            ];

            quill = new Quill('#CuppingNote', {
                modules: {
                    toolbar: toolbarOptions
                },
                theme: 'snow'
            });
            Loadimage();
        });
    //#endregion Partial View Onload

    var isErasing = false;
    

    //#region drawing
    var canvas = document.getElementById('cuppingCanvas');
    var ctx = canvas.getContext('2d');
    var drawingHistory = [];
    var DrawingMode = 'dot';

    //#region Load an image
    var Loadimage = function () {
        var image = new Image();
        image.src = "@ConfigurationManager.AppSettings["ClinicSoftEndPoint"].ToString()" + "images/Therapy/cupping.jpg";
        image.onload = function () {
            ctx.drawImage(image, 0, 0, canvas.width, canvas.height);
        };
    }


    // Add drawing functionality
    var isDrawing = false;
    var lastX, lastY;

    canvas.addEventListener('mousedown', function (e) {
        var rect = canvas.getBoundingClientRect();
        var x = e.clientX - rect.left;
        var y = e.clientY - rect.top;

        if (isErasing) {
            erase(x, y);
        } else {
            if (DrawingMode === 'dot') {
                drawDot(x, y);
            } else if (DrawingMode === 'check') {
                drawcheckMark(x, y);
            }
        }
    });
    
    const drawingButtons = document.querySelectorAll('.drawing-mode');
    drawingButtons.forEach((button) => {
        button.addEventListener('click', function () {
            DrawingMode = button.getAttribute('data-mode');
        });
    });

    canvas.addEventListener('mousemove', function (e) {

        if (isErasing) {
            var x = e.clientX - canvas.getBoundingClientRect().left;
            var y = e.clientY - canvas.getBoundingClientRect().top;
            erase(x, y);
        } else if (!isDrawing) {
            return;
        }

        if (!isDrawing) return;

        var x = e.offsetX - canvas.getBoundingClientRect().left;
        var y = e.offsetY - canvas.getBoundingClientRect().top;


        isDrawing = true;
        drawingHistory.push(canvas.toDataURL());
    });
    function drawDot(x, y) {
        ctx.fillStyle = $("#color_picker").val();
        ctx.beginPath();
        ctx.arc(x, y, 10, 0, Math.PI * 2);
        ctx.fill();
        drawingHistory.push(canvas.toDataURL());
    }
    var drawcheckMark = function (x, y) {
        ctx.strokeStyle = $("#color_picker").val();
        ctx.lineWidth = 2;
        ctx.beginPath();
        ctx.moveTo(x - 20, y);
        ctx.lineTo(x - 10, y + 10);
        ctx.lineTo(x + 20, y - 20);
        ctx.stroke();
        drawingHistory.push(canvas.toDataURL());
    }
    function erase(x, y) {
        ctx.fillStyle = '#ffffff';
        ctx.beginPath();
        ctx.arc(x, y, 10, 0, Math.PI * 2);
        ctx.fill();
        drawingHistory.push(canvas.toDataURL());
    }
    canvas.addEventListener('mouseup', function () {
        isDrawing = false;
    });



    //#region Undo
    $('#undo_button').on('click', function (e) {
        if (drawingHistory.length > 0) {
            var lastState = drawingHistory.pop();
            var img = new Image();
            img.onload = function () {
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                ctx.drawImage(img, 0, 0);
            };
            img.src = lastState;
        }

    });
    //#endregion Undo

     //#region Add  Click
        $('#btn_Insert_Cupping').on('click', function (e) {
            e.preventDefault();
            var isvalid = true;

            if (quill.getText().trim().length == 0) {
                $("#CuppingNote").attr("style", "border:1px solid red;");
                error_timeout_quil($("#CuppingNote"));
                isvalid = false;
            }


            if (isvalid) {
                $('#btn_Insert_Cupping').removeClass("btn btn-sm btn-success");
                $('#btn_Insert_Cupping').addClass("btn btn-sm btn-success btn-loaders btn-icon");
                $('#btn_Insert_Cupping').html("Saving the Record....");

               var canvas = $("#cuppingCanvas").get(0);
                var imgData = canvas.toDataURL();

                var chartname = "@emr.patId"+"_"+"CuppingTherapy"+"_"+"@emr.appId";
                var _dateInsert = {
                    "lfmId": "0",
                    "lfm_appId": @emr.appId,
                    "lfm_patId": "@emr.patId",
                    "lfm_doc": chartname,
                    "image": imgData,
                    "lfm_doc2": quill.root.innerHTML,
                    "lfm_form": "CuppingTherapy",
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                $.ajax({
                    type: "Post",
                    url: "@Url.Action("UploadCupping", "Cupping", new {area = "EMR" })",
                    dataType: 'JSON',
                    data: _dateInsert,
                    success: function (response) {
                        $('#btn_Insert_Cupping').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                        $('#btn_Insert_Cupping').addClass("btn btn-sm btn-success");
                        $('#btn_Insert_Cupping').html("Add Cupping");
                        if (response.isSuccess) {
                            if (response.isInserted) {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>  Botox Picture Men Saved Successfully!", "success");
                            GetCuppingTherapy();
                            Timeout();
                        }
                        else {

                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning.. Botox Picture Men Alredy Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                        }
                        else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                                $.each(response.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                            }, 5000);
                        });
                        html += "</ul></div></div>";
                        $("#error").html(html);
                        }
                    },
                        error: function (xhr) {
                            $('#btn_Insert_Cupping').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                            $('#btn_Insert_Cupping').addClass("btn btn-sm btn-warning");
                            $('#btn_Insert_Cupping').html("Add Cupping");
                        Timeout();
                    }
                });
            }

        });
    //#endregion Add Click

    //#region Reset
    $('#btn_Reset_BotoxDraw').on('click', function (e) {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        Loadimage();
        quill.root.innerHTML = "";
    });
    //#endregion Reset
</script>
