@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMR.ENTExamThroat
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_ENTThroat" autocomplete="off" name="ENTExamThroat" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()

    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-12">
            <div class="expanel expanel-default">
                <div class="expanel-heading">
                    <h3 class="expanel-title">Throat</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Lip</label>
                @Html.TextBoxFor(m => m.et_lip, new { @class = "form-control field-to-check", @placeholder = "Ex : Clinical History will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Vestibulum Oris</label>
                @Html.TextBoxFor(m => m.et_vest, new { @class = "form-control field-to-check", @placeholder = "Ex : Amplification History will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Teeth and Gingiva</label>
                @Html.TextBoxFor(m => m.et_teeth, new { @class = "form-control field-to-check", @placeholder = "Ex : Current Hearing Aid Brand and Style will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Oral Mucosa</label>
                @Html.TextBoxFor(m => m.et_oral, new { @class = "form-control field-to-check", @placeholder = "Ex : Listening Needs will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Hard/soft Palate</label>
                @Html.TextBoxFor(m => m.et_hard, new { @class = "form-control field-to-check", @placeholder = "Ex : Tests Performed will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Tongue</label>
                @Html.TextBoxFor(m => m.et_tong, new { @class = "form-control field-to-check", @placeholder = "Ex : Results will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Retromolar tongue</label>
                @Html.TextBoxFor(m => m.et_retro, new { @class = "form-control field-to-check", @placeholder = "Ex : Results will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Anterior pillars</label>
                @Html.TextBoxFor(m => m.et_apill, new { @class = "form-control field-to-check", @placeholder = "Ex : Results will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Posterior pillars</label>
                @Html.TextBoxFor(m => m.et_ppill, new { @class = "form-control field-to-check", @placeholder = "Ex : Results will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Oropharynx</label>
                @Html.TextBoxFor(m => m.et_orop, new { @class = "form-control field-to-check", @placeholder = "Ex : Results will go here...", @maxlenth = "1500" })
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-12">
            <div class="expanel expanel-default">
                <div class="expanel-heading">
                    <h3 class="expanel-title">Hypopharynx and Larynx</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Base Tongue</label>
                @Html.TextBoxFor(m => m.et_base, new { @class = "form-control field-to-check", @placeholder = "Ex : Clinical History will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Vallecula</label>
                @Html.TextBoxFor(m => m.et_valle, new { @class = "form-control field-to-check", @placeholder = "Ex : Vallecula will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Epiglottis</label>
                @Html.TextBoxFor(m => m.et_epig, new { @class = "form-control field-to-check", @placeholder = "Ex : Epiglottis will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">False cords</label>
                @Html.TextBoxFor(m => m.et_false, new { @class = "form-control field-to-check", @placeholder = "Ex : False cords will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Ventricles</label>
                @Html.TextBoxFor(m => m.et_vent, new { @class = "form-control field-to-check", @placeholder = "Ex : Ventricles will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Arytenoids</label>
                @Html.TextBoxFor(m => m.et_aryt, new { @class = "form-control field-to-check", @placeholder = "Ex : Arytenoids will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Aryepiglottic folds</label>
                @Html.TextBoxFor(m => m.et_arye, new { @class = "form-control field-to-check", @placeholder = "Ex : Aryepiglottic folds will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Vocal Cords</label>
                @Html.TextBoxFor(m => m.et_vocal, new { @class = "form-control field-to-check", @placeholder = "Ex : Vocal Cords will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Anterior commissure</label>
                @Html.TextBoxFor(m => m.et_acomm, new { @class = "form-control field-to-check", @placeholder = "Ex : Anterior commissure will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Posterior commissure</label>
                @Html.TextBoxFor(m => m.et_pcomm, new { @class = "form-control field-to-check", @placeholder = "Ex : Posterior commissure will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Subglottis</label>
                @Html.TextBoxFor(m => m.et_subg, new { @class = "form-control field-to-check", @placeholder = "Ex : Subglottis will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Pyriform Fossae</label>
                @Html.TextBoxFor(m => m.et_pyrif, new { @class = "form-control field-to-check", @placeholder = "Ex : Pyriform Fossae will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Post-cricoid region</label>
                @Html.TextBoxFor(m => m.et_postc, new { @class = "form-control field-to-check", @placeholder = "Ex : Post-cricoid region will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Posterior pharyngeal wall</label>
                @Html.TextBoxFor(m => m.et_postp, new { @class = "form-control field-to-check", @placeholder = "Ex : Posterior pharyngeal will go here...", @maxlenth = "1500" })
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-12">
            <div class="expanel expanel-default">
                <div class="expanel-heading">
                    <h3 class="expanel-title">Neck</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Parotids</label>
                @Html.TextBoxFor(m => m.et_paro, new { @class = "form-control field-to-check", @placeholder = "Ex : Parotids will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Thyroid</label>
                @Html.TextBoxFor(m => m.et_thy, new { @class = "form-control field-to-check", @placeholder = "Ex : Thyroid will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Traches</label>
                @Html.TextBoxFor(m => m.et_trac, new { @class = "form-control field-to-check", @placeholder = "Ex : Traches will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Larynx</label>
                @Html.TextBoxFor(m => m.et_lary, new { @class = "form-control field-to-check", @placeholder = "Ex : Larynx will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Lymph nodes</label>
                @Html.TextBoxFor(m => m.et_lymp, new { @class = "form-control field-to-check", @placeholder = "Ex : Lymph nodes will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Other</label>
                @Html.TextBoxFor(m => m.et_others, new { @class = "form-control field-to-check", @placeholder = "Ex : Other will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-group mb-3">
                <label class="form-label text-black">Notes</label>
                @Html.TextBoxFor(m => m.et_notes, new { @class = "form-control field-to-check", @placeholder = "Ex : Notes will go here...", @maxlenth = "1500" })
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-sm btn-success" id="btn_Insert_ENTThroat">Add Throat Exam</button>
                <button type="button" class="btn btn-sm btn-outline-dark" id="btn_Reset_ENTThroat">Reset</button>

            </div>
        </div>
    </div>
</form>
<script type="text/javascript">

    //#region Partial View Onload
        $(function () {
            toggleButtonVisibility();

        });
    //#endregion

    //#region Button Visibility
    function toggleButtonVisibility() {
        if (areFieldsFilled()) {
            if ("@emp_designation.ToString()" === "Super Administrator") {
                    $("#btn_Insert_ENTThroat").show();
            }
            else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Insert_ENTThroat").show();

                }
                else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Insert_ENTThroat").show();
                    }
                    else {
                        $("#btn_Insert_ENTThroat").hide();
                    }
                }
            }
        } else {
            $("#btn_Insert_ENTThroat").hide();
        }
    }
    //#endregion

    //#region Validating
    function areFieldsFilled() {
        return $(".field-to-check").filter(function () {
            return  this.value.trim() !== "";
        }).length > 0;
    }
    //#endregion

    $(".field-to-check").on("change input", toggleButtonVisibility);

    //#region Add  Click
        $('#btn_Insert_ENTThroat').on('click', function (e) {
            e.preventDefault();

                $('#btn_Insert_ENTThroat').removeClass("btn btn-sm btn-success");
                $('#btn_Insert_ENTThroat').addClass("btn btn-sm btn-success btn-loaders btn-icon");
                $('#btn_Insert_ENTThroat').html("Saving the Record....");
                var _dateInsert = {
                    "etId": 0,
                    "et_appId": @emr.appId,
                    "et_lip": $("#et_lip").val(),
                    "et_base": $("#et_base").val(),
                    "et_vest": $("#et_vest").val(),
                    "et_valle": $("#et_valle").val(),
                    "et_teeth": $("#et_teeth").val(),
                    "et_epig": $("#et_epig").val(),
                    "et_oral": $("#et_oral").val(),
                    "et_false": $("#et_false").val(),
                    "et_hard": $("#et_hard").val(),
                    "et_vent": $("#et_vent").val(),
                    "et_tong": $("#et_tong").val(),
                    "et_aryt": $("#et_aryt").val(),
                    "et_retro": $("#et_retro").val(),
                    "et_arye": $("#et_arye").val(),
                    "et_tons": $("#et_tons").val(),
                    "et_vocal": $("#et_vocal").val(),
                    "et_apill": $("#et_apill").val(),
                    "et_acomm": $("#et_acomm").val(),
                    "et_pcomm": $("#et_pcomm").val(),
                    "et_orop": $("#et_orop").val(),
                    "et_subg": $("#et_subg").val(),
                    "et_pyrif": $("#et_pyrif").val(),
                    "et_paro": $("#et_paro").val(),
                    "et_postc": $("#et_postc").val(),
                    "et_postp": $("#et_postp").val(),
                    "et_thy": $("#et_thy").val(),
                    "et_trac": $("#et_trac").val(),
                    "et_lary": $("#et_lary").val(),
                    "et_lymp": $("#et_lymp").val(),
                    "et_others": $("#et_others").val(),
                    "et_notes": $("#et_notes").val(),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                $.ajax({
                        type: "Post",
                        url: "@Url.Action("InsertENTExamThroat", "ENT", new {area = "EMR" })",
                        dataType: 'JSON',
                        data: _dateInsert,
                        success: function (data) {
                            $('#btn_Insert_ENTThroat').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                            $('#btn_Insert_ENTThroat').addClass("btn btn-sm btn-success");
                            $('#btn_Insert_ENTThroat').html("Add Note");
                            if (data.isSuccess) {
                                if (data.isInserted) {
                                    var alertPlaceholder = document.getElementById("Alert");
                                    function alert(e, t) {
                                        var l = document.createElement("div");
                                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                    }
                                    alert("<i class='fe fe-check-circle text-white'></i>  ENT Examination Throat Saved Successfully!", "success");
                                    GetENTExamThroat();
                                    Timeout();
                                }
                                else {

                                    let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                        "<div class='alert alert-warning' role='alert'>" +
                                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                        "<strong>Warning.. ENT Examination Throat Alredy Exists..</strong><br/>" +
                                        "</div></div>";
                                    $("#Alert").html(html);
                                }
                            }
                            else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                            "<div class='alert alert-danger' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 100);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                        },
                            error: function (xhr) {
                                $('#btn_Insert_ENTThroat').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                                $('#btn_Insert_ENTThroat').addClass("btn btn-sm btn-warning");
                                $('#btn_Insert_ENTThroat').html("Add Throat Exam");
                            Timeout();
                        }
                });

        });
    //#endregion Add Click

    //#region Reset
    $('#btn_Reset_ENTThroat').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
    }
    //#endregion Clear Controls

</script>
