@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMR.ENTExamNose
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_ENTNose" autocomplete="off" name="ENTExamNose" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">External Nose</label>
                @Html.TextBoxFor(m => m.en_ext, new { @class = "form-control field-to-check", @placeholder = "Enter Details For External Nose...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Vestibule Nose</label>
                @Html.TextBoxFor(m => m.en_vest, new { @class = "form-control field-to-check", @placeholder = "Ex :Enter Details For Vestibule Nose...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Floor</label>
                @Html.TextBoxFor(m => m.en_floor, new { @class = "form-control field-to-check", @placeholder = "Ex : Enter Details For Floor...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Septum</label>
                @Html.TextBoxFor(m => m.en_sept, new { @class = "form-control field-to-check", @placeholder = "Ex : Septum...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Nasal Mucosa</label>
                @Html.TextBoxFor(m => m.en_nasal, new { @class = "form-control field-to-check", @placeholder = "Ex : Nasal Mucosa...", @maxlenth = "1500" })
            </div>
        </div>

    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-12">
            <div class="expanel expanel-default">
                <div class="expanel-heading">
                    <h3 class="expanel-title">Posterior Rhinoscopy</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Choane</label>
                @Html.TextBoxFor(m => m.en_choane, new { @class = "form-control field-to-check", @placeholder = "Enter Details For External Nose...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Nasopharynx</label>
                @Html.TextBoxFor(m => m.en_nasop, new { @class = "form-control field-to-check", @placeholder = "Ex :Enter Details For Vestibule Nose...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Eustachian Tube</label>
                @Html.TextBoxFor(m => m.en_eust, new { @class = "form-control field-to-check", @placeholder = "Ex : Enter Details For Floor...", @maxlenth = "1500"})
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Rosenmuller Fossa	</label>
                @Html.TextBoxFor(m => m.en_rose, new { @class = "form-control field-to-check", @placeholder = "Ex : Septum...", @maxlenth = "1500",  })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Lymphoid tissue</label>
                @Html.TextBoxFor(m => m.en_lymp, new { @class = "form-control field-to-check", @placeholder = "Ex : Nasal Mucosa...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Other</label>
                @Html.TextBoxFor(m => m.en_other, new { @class = "form-control field-to-check", @placeholder = "Ex : Nasal Mucosa...", @maxlenth = "1500" })
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-12">
            <div class="expanel expanel-default">
                <div class="expanel-heading">
                    <h3 class="expanel-title">Lateral Wall</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-1">
            <div class="form-group mb-3">
                <label class="form-label text-black">&nbsp; </label>
                <label class="form-label text-black">Right</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black text-center">Inferior Meatus</label>
                @Html.TextBoxFor(m => m.en_imear, new { @class = "form-control field-to-check", @placeholder = "Ex : Pinna Right Ear will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black text-center">Inferior Turbinate	</label>
                @Html.TextBoxFor(m => m.en_iturbr, new { @class = "form-control field-to-check", @placeholder = "Please Enter Something here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black text-center">Middle Meatus	</label>
                @Html.TextBoxFor(m => m.en_mmear, new { @class = "form-control field-to-check", @placeholder = "Please Enter Something here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black text-center">Middle Turbinate</label>
                @Html.TextBoxFor(m => m.en_mturbr, new { @class = "form-control field-to-check", @placeholder = "Please Enter Something here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black text-center">Superior Meatus	</label>
                @Html.TextBoxFor(m => m.en_smear, new { @class = "form-control field-to-check", @placeholder = "Please Enter Something here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-1">
            <div class="form-group mb-3">
                <label class="form-label text-black text-center">Superior Turbinate	</label>
                @Html.TextBoxFor(m => m.en_sturbr, new { @class = "form-control field-to-check", @placeholder = "Please Enter Something here...", @maxlenth = "1500" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-1">
            <div class="form-group mb-3">
                <label class="form-label text-black">&nbsp; </label>
                <label class="form-label text-black">Left</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.en_imeal, new { @class = "form-control field-to-check", @placeholder = "Ex : Pinna Right Ear will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.en_iturbl, new { @class = "form-control field-to-check", @placeholder = "Please Enter Something here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.en_mmeal, new { @class = "form-control field-to-check", @placeholder = "Please Enter Something here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.en_mturbl, new { @class = "form-control field-to-check", @placeholder = "Please Enter Something here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.en_smeal, new { @class = "form-control field-to-check", @placeholder = "Please Enter Something here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-1">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.en_sturbl, new { @class = "form-control field-to-check", @placeholder = "Please Enter Something here...", @maxlenth = "1500" })
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-12">
            <div class="expanel expanel-default">
                <div class="expanel-heading">
                    <h3 class="expanel-title">Sinuses</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-1">
            <div class="form-group mb-3">
                <label class="form-label text-black">&nbsp; </label>
                <label class="form-label text-black">Right</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black text-center">Frontal</label>
                @Html.TextBoxFor(m => m.en_frontr, new { @class = "form-control field-to-check", @placeholder = "Ex : Pinna Right Ear will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black text-center">Maxillary</label>
                @Html.TextBoxFor(m => m.en_maxilr, new { @class = "form-control field-to-check", @placeholder = "Please Enter Something here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black text-center">Ethmoid</label>
                @Html.TextBoxFor(m => m.en_ethmr, new { @class = "form-control field-to-check", @placeholder = "Please Enter Something here...", @maxlenth = "1500" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-1">
            <div class="form-group mb-3">
                <label class="form-label text-black">Left</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.en_frontl, new { @class = "form-control field-to-check", @placeholder = "Ex : Pinna Right Ear will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.en_maxill, new { @class = "form-control field-to-check", @placeholder = "Please Enter Something here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.en_ethml, new { @class = "form-control field-to-check", @placeholder = "Please Enter Something here...", @maxlenth = "1500" })
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-group mb-3">
                <label class="form-label text-black">Notes</label>
                @Html.TextBoxFor(m => m.en_notes, new { @class = "form-control field-to-check", @placeholder = "Please Enter Something here...", @maxlenth = "1500" })
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-sm btn-success" id="btn_Insert_ENTNose">Add Nose Exam</button>
                <button type="button" class="btn btn-sm btn-outline-dark" id="btn_Reset_ENTNose">Reset</button>

            </div>
        </div>
    </div>
</form>
<script type="text/javascript">

    //#region Partial View Onload
        $(function () {
            toggleButtonVisibility();

        });
    //#endregion

    //#region Button Visibility
    function toggleButtonVisibility() {
        if (areFieldsFilled()) {
            if ("@emp_designation.ToString()" === "Super Administrator") {
                    $("#btn_Insert_ENTNose").show();
            }
            else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Insert_ENTNose").show();

                }
                else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Insert_ENTNose").show();
                    }
                    else {
                        $("#btn_Insert_ENTNose").hide();
                    }
                }
            }
        } else {
            $("#btn_Insert_ENTNose").hide();
        }
    }
    //#endregion

    //#region Validating
    function areFieldsFilled() {
        return $(".field-to-check").filter(function () {
            return  this.value.trim() !== "";
        }).length > 0;
    }
    //#endregion

    $(".field-to-check").on("change input", toggleButtonVisibility);

    //#region Add  Click
        $('#btn_Insert_ENTNose').on('click', function (e) {
            e.preventDefault();

                $('#btn_Insert_ENTNose').removeClass("btn btn-sm btn-success");
                $('#btn_Insert_ENTNose').addClass("btn btn-sm btn-success btn-loaders btn-icon");
                $('#btn_Insert_ENTNose').html("Saving the Record....");
                var _dateInsert = {
                    "enId": 0,
                    "en_appId": @emr.appId,
                    "en_ext": $("#en_ext").val(),
                    "en_vest": $("#en_vest").val(),
                    "en_floor": $("#en_floor").val(),
                    "en_sept": $("#en_sept").val(),
                    "en_nasal": $("#en_nasal").val(),
                    "en_imear": $("#en_imear").val(),
                    "en_imeal": $("#en_imeal").val(),
                    "en_iturbr": $("#en_iturbr").val(),
                    "en_iturbl": $("#en_iturbl").val(),
                    "en_mmear": $("#en_mmear").val(),
                    "en_mmeal": $("#en_mmeal").val(),
                    "en_mturbr": $("#en_mturbr").val(),
                    "en_mturbl": $("#en_mturbl").val(),
                    "en_smear": $("#en_smear").val(),
                    "en_smeal": $("#en_smeal").val(),
                    "en_sturbr": $("#en_sturbr").val(),
                    "en_sturbl": $("#en_sturbl").val(),
                    "en_choane": $("#en_choane").val(),
                    "en_nasop": $("#en_nasop").val(),
                    "en_eust": $("#en_eust").val(),
                    "en_rose": $("#en_rose").val(),
                    "en_lymp": $("#en_lymp").val(),
                    "en_other": $("#en_other").val(),
                    "en_frontr": $("#en_frontr").val(),
                    "en_frontl": $("#en_frontl").val(),
                    "en_maxilr": $("#en_maxilr").val(),
                    "en_maxill": $("#en_maxill").val(),
                    "en_ethmr": $("#en_ethmr").val(),
                    "en_ethml": $("#en_ethml").val(),
                    "en_notes": $("#en_notes").val(),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                $.ajax({
                        type: "Post",
                        url: "@Url.Action("InsertENTExamNose", "ENT", new {area = "EMR" })",
                        dataType: 'JSON',
                        data: _dateInsert,
                        success: function (data) {
                            $('#btn_Insert_ENTNose').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                            $('#btn_Insert_ENTNose').addClass("btn btn-sm btn-success");
                            $('#btn_Insert_ENTNose').html("Add Note");
                            if (data.isSuccess) {
                                if (data.isInserted) {
                                    var alertPlaceholder = document.getElementById("Alert");
                                    function alert(e, t) {
                                        var l = document.createElement("div");
                                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                    }
                                    alert("<i class='fe fe-check-circle text-white'></i>  ENT Examination Nose Saved Successfully!", "success");
                                    GetENTExamNose();
                                    Timeout();
                                }
                                else {

                                    let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                        "<div class='alert alert-warning' role='alert'>" +
                                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                        "<strong>Warning.. ENT Examination Nose Alredy Exists..</strong><br/>" +
                                        "</div></div>";
                                    $("#Alert").html(html);
                                }
                            }
                            else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                            "<div class='alert alert-danger' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 100);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                        },
                            error: function (xhr) {
                                $('#btn_Insert_ENTNose').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                                $('#btn_Insert_ENTNose').addClass("btn btn-sm btn-warning");
                                $('#btn_Insert_ENTNose').html("Add Nose Exam");
                            Timeout();
                        }
                });

        });
    //#endregion Add Click

    //#region Reset
    $('#btn_Reset_ENTNose').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
    }
    //#endregion Clear Controls

</script>

