@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMR.EarMicroscopy
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_EarMicroscopy" autocomplete="off" name="EarMicroscopy" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-12">
            <div class="row border ">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name:&nbsp;</label></div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID:&nbsp;</label></div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_emirateid&nbsp;</label>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Department:&nbsp;</label></div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-2">
                            <label class="form-label text-red text-left">@emr.emp_dept_name&nbsp;</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No :&nbsp;</label></div>

                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code&nbsp;</label>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB&nbsp;</label></div>

                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob&nbsp;</label>
                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality:&nbsp;</label></div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality&nbsp;</label>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender&nbsp;</label></div>

                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender&nbsp;</label>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name	:&nbsp;</label></div>

                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name&nbsp;</label>
                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date&nbsp;</label></div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row mt-2">
        <div class="expanel-heading mb-2">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group mb-3"><label class="form-label ">Tympanic membrane&nbsp;</label></div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">Right</label>
                <img alt="stamp" src="~/images//ENT/ent_ear1.jpg" id="ent_ear1" class=" bsquare" />
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">Left</label>
                <img alt="stamp1" src="~/images//ENT/ent_ear2.jpg" id="ent_ear2" class=" bsquare" />
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group mb-3">
                <label class="form-label text-black">Notes</label>
                @Html.TextAreaFor(m => m.emr_notes, new { @class = "form-control field-to-check", @placeholder = "Ex : Results will go here...", @maxlenth = "1500" })
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-sm btn-success" id="btn_Insert_EarMicroscopy">Add Ear Microscopy</button>
                <button type="button" class="btn btn-sm btn-outline-dark" id="btn_Reset_EarMicroscopy">Reset</button>

            </div>
        </div>
    </div>
</form>
<script type="text/javascript">

    //#region Partial View Onload
        $(function () {
            toggleButtonVisibility();

        });
    //#endregion

    //#region Button Visibility
    function toggleButtonVisibility() {
        if (areFieldsFilled()) {
            if ("@emp_designation.ToString()" === "Super Administrator") {
                    $("#btn_Insert_EarMicroscopy").show();
            }
            else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Insert_EarMicroscopy").show();

                }
                else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Insert_EarMicroscopy").show();
                    }
                    else {
                        $("#btn_Insert_EarMicroscopy").hide();
                    }
                }
            }
        } else {
            $("#btn_Insert_EarMicroscopy").hide();
        }
    }
    //#endregion

    //#region Validating
    function areFieldsFilled() {
        return $(".field-to-check").filter(function () {
            return  this.value.trim() !== "";
        }).length > 0;
    }
    //#endregion

    $(".field-to-check").on("change input", toggleButtonVisibility);

    //#region Add  Click
        $('#btn_Insert_EarMicroscopy').on('click', function (e) {
            e.preventDefault();

                $('#btn_Insert_EarMicroscopy').removeClass("btn btn-sm btn-success");
                $('#btn_Insert_EarMicroscopy').addClass("btn btn-sm btn-success btn-loaders btn-icon");
                $('#btn_Insert_EarMicroscopy').html("Saving the Record....");
                var _dateInsert = {
                    "emrId": 0,
                    "emr_appId": @emr.appId,
                    "emr_notes": $("#emr_notes").val(),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dateInsert);
                $.ajax({
                        type: "Post",
                        url: "@Url.Action("InsertEarMicroscopy", "ENT", new {area = "EMR" })",
                        dataType: 'JSON',
                        data: _dateInsert,
                        success: function (data) {
                            $('#btn_Insert_EarMicroscopy').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                            $('#btn_Insert_EarMicroscopy').addClass("btn btn-sm btn-success");
                            $('#btn_Insert_EarMicroscopy').html("Add Note");
                            if (data.isSuccess) {
                                if (data.isInserted) {
                                    var alertPlaceholder = document.getElementById("Alert");
                                    function alert(e, t) {
                                        var l = document.createElement("div");
                                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                    }
                                    alert("<i class='fe fe-check-circle text-white'></i>  Ear Microscopy Saved Successfully!", "success");
                                    GetEarMicroscopy();
                                    Timeout();
                                }
                                else {

                                    let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                        "<div class='alert alert-warning' role='alert'>" +
                                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                        "<strong>Warning.. Ear Microscopy Alredy Exists..</strong><br/>" +
                                        "</div></div>";
                                    $("#Alert").html(html);
                                }
                            }
                            else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                            "<div class='alert alert-danger' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 100);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                        },
                            error: function (xhr) {
                                $('#btn_Insert_EarMicroscopy').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                                $('#btn_Insert_EarMicroscopy').addClass("btn btn-sm btn-warning");
                                $('#btn_Insert_EarMicroscopy').html("Add");
                            Timeout();
                        }
                });

        });
    //#endregion Add Click

    //#region Reset
    $('#btn_Reset_EarMicroscopy').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
    }
    //#endregion Clear Controls

</script>

