@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMR.Vestibular
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_Vestibular" autocomplete="off" name="Vestibular" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">&nbsp; </label>
                <label class="form-label text-black">Pinna</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                <label class="form-label text-black text-center">Right</label>
                @Html.TextBoxFor(m => m.ee_pinr, new { @class = "form-control field-to-check", @placeholder = "Ex : Pinna Right Ear will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                <label class="form-label text-black text-center">Left</label>
                @Html.TextBoxFor(m => m.ee_pinl, new { @class = "form-control field-to-check", @placeholder = "Ex : Pinna Left Ear will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Preaurical Region</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_pregr, new { @class = "form-control field-to-check", @placeholder = "Ex : Preaurical Region Right Ear will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_pregl, new { @class = "form-control field-to-check", @placeholder = "Ex : Preaurical Region Left Ear will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Post Sulcus</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_postr, new { @class = "form-control field-to-check", @placeholder = "Ex : Post Sulcus Right Ear  will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_postl, new { @class = "form-control field-to-check", @placeholder = "Ex : Post Sulcus Left Ear will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">EAC</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_eacr, new { @class = "form-control field-to-check", @placeholder = "Ex : EAC Right Ear will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_eacl, new { @class = "form-control field-to-check", @placeholder = "Ex : EAC Left Ear will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Timpanic Membrane	</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_tympr, new { @class = "form-control field-to-check", @placeholder = "Ex : Timpanic Membrane Right Ear  will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_tympl, new { @class = "form-control field-to-check", @placeholder = "Ex : Timpanic Membrane Left Ear will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Mastoid Tenderness</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_masr, new { @class = "form-control field-to-check", @placeholder = "Ex : Mastoid Tenderness Right Ear will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_masl, new { @class = "form-control field-to-check", @placeholder = "Ex : Mastoid Tenderness Left Ear Ear will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Facial Nerves Function	</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_facr, new { @class = "form-control field-to-check", @placeholder = "Ex : Facial Nerves Function Right Ear  will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_facl, new { @class = "form-control field-to-check", @placeholder = "Ex : Facial Nerves Function Left Ear will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Nystagmus</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_nysr, new { @class = "form-control field-to-check", @placeholder = "Ex :Nystagmus Right Ear will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_nysl, new { @class = "form-control field-to-check", @placeholder = "Ex : Nystagmus Left Ear will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Eustachian Tube</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_eustr, new { @class = "form-control field-to-check", @placeholder = "Ex :Eustachian Tube Right Ear will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_eustl, new { @class = "form-control field-to-check", @placeholder = "Ex : Eustachian Tube Left Ear will go here...", @maxlenth = "1500" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-group mb-3">
                <label class="form-label text-black">Notes</label>
                @Html.TextAreaFor(m => m.ee_notes, new { @class = "form-control field-to-check", @placeholder = "Ex : Eustachian Tube Left Ear will go here...", @maxlenth = "1500" })
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-sm btn-success" id="btn_Insert_Vestibular">Add Vestibular</button>
                <button type="button" class="btn btn-sm btn-outline-dark" id="btn_Reset_Vestibular">Reset</button>

            </div>
        </div>
    </div>
</form>
<script type="text/javascript">

    //#region Partial View Onload
        $(function () {
            toggleButtonVisibility();
        });
    //#endregion

    //#region Button Visibility
    function toggleButtonVisibility() {
        if (areFieldsFilled()) {
            if ("@emp_designation.ToString()" === "Super Administrator") {
                    $("#btn_Insert_Vestibular").show();
            }
            else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Insert_Vestibular").show();

                }
                else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Insert_Vestibular").show();
                    }
                    else {
                        $("#btn_Insert_Vestibular").hide();
                    }
                }
            }
        } else {
            $("#btn_Insert_Vestibular").hide();
        }
    }
    //#endregion

    //#region Validating
    function areFieldsFilled() {
        return $(".field-to-check").filter(function () {
            return  this.value.trim() !== "";
        }).length > 0;
    }
    //#endregion

    $(".field-to-check").on("change input", toggleButtonVisibility);

    //#region Add  Click
        $('#btn_Insert_Vestibular').on('click', function (e) {
            e.preventDefault();

                $('#btn_Insert_Vestibular').removeClass("btn btn-sm btn-success");
                $('#btn_Insert_Vestibular').addClass("btn btn-sm btn-success btn-loaders btn-icon");
                $('#btn_Insert_Vestibular').html("Saving the Record....");
                var _dateInsert = {
                    "eeId": 0,
                    "ee_appId": @emr.appId,
                    "ee_pinr": $("#ee_pinr").val(),
                    "ee_pinl": $("#ee_pinl").val(),
                    "ee_pregr": $("#ee_pregr").val(),
                    "ee_pregl": $("#ee_pregl").val(),
                    "ee_postr": $("#ee_postr").val(),
                    "ee_postl": $("#ee_postl").val(),
                    "ee_eacr": $("#ee_eacr").val(),
                    "ee_eacl": $("#ee_eacl").val(),
                    "ee_tympr": $("#ee_tympr").val(),
                    "ee_tympl": $("#ee_tympl").val(),
                    "ee_masr": $("#ee_masr").val(),
                    "ee_masl": $("#ee_masl").val(),
                    "ee_facr": $("#ee_facr").val(),
                    "ee_facl": $("#ee_facl").val(),
                    "ee_nysr": $("#ee_nysr").val(),
                    "ee_nysl": $("#ee_nysl").val(),
                    "ee_eustr": $("#ee_eustr").val(),
                    "ee_eustl": $("#ee_eustl").val(),
                    "ee_notes": $("#ee_notes").val(),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                $.ajax({
                        type: "Post",
                        url: "@Url.Action("InsertVestibular", "ENT", new {area = "EMR" })",
                        dataType: 'JSON',
                        data: _dateInsert,
                        success: function (data) {
                            $('#btn_Insert_Vestibular').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                            $('#btn_Insert_Vestibular').addClass("btn btn-sm btn-success");
                            $('#btn_Insert_Vestibular').html("Add Note");
                            if (data.isSuccess) {
                                if (data.isInserted) {
                                    var alertPlaceholder = document.getElementById("Alert");
                                    function alert(e, t) {
                                        var l = document.createElement("div");
                                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                    }
                                    alert("<i class='fe fe-check-circle text-white'></i>  Vestibular Saved Successfully!", "success");
                                    GetVestibular();
                                    Timeout();
                                }
                                else {

                                    let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                        "<div class='alert alert-warning' role='alert'>" +
                                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                        "<strong>Warning.. Vestibular Alredy Exists..</strong><br/>" +
                                        "</div></div>";
                                    $("#Alert").html(html);
                                }
                            }
                            else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                            "<div class='alert alert-danger' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 100);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                        },
                            error: function (xhr) {
                                $('#btn_Insert_Vestibular').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                                $('#btn_Insert_Vestibular').addClass("btn btn-sm btn-warning");
                                $('#btn_Insert_Vestibular').html("Add Vestibular");
                            Timeout();
                        }
                });

        });
    //#endregion Add Click

    //#region Reset
    $('#btn_Reset_Vestibular').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
    }
    //#endregion Clear Controls

</script>

