@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMR.AudiologyNote
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_EditAudiology" class="needs-validation" >

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.audId)
    @Html.HiddenFor(m => m.aud_appId)
    @Html.HiddenFor(m => m.audId, new { @id = "uaudId", @value = "@Model.audId" })

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
            <div class="form-group mb-3">
                <label class="form-label text-black">Clinical History</label>
                @Html.TextAreaFor(m => m.aud_clinic, new { @class = "form-control field-to-check", @placeholder = "Ex : Clinical History will go here...", @maxlenth = "1500",@id= "uaud_clinic" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">Amplification History	</label>
                @Html.TextAreaFor(m => m.aud_ampli, new { @class = "form-control field-to-check", @placeholder = "Ex : Amplification History will go here...", @maxlenth = "1500", @id = "uaud_ampli" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">Current Hearing Aid Brand and Style	</label>
                @Html.TextAreaFor(m => m.aud_style, new { @class = "form-control field-to-check", @placeholder = "Ex : Current Hearing Aid Brand and Style will go here...", @maxlenth = "1500", @id = "uaud_style" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">Listening Needs</label>
                @Html.TextAreaFor(m => m.aud_needs, new { @class = "form-control field-to-check", @placeholder = "Ex : Listening Needs will go here...", @maxlenth = "1500", @id = "uaud_needs" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">Tests Performed</label>
                @Html.TextAreaFor(m => m.aud_tests, new { @class = "form-control field-to-check", @placeholder = "Ex : Tests Performed will go here...", @maxlenth = "1500", @id = "uaud_tests" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">Results</label>
                @Html.TextAreaFor(m => m.aud_results, new { @class = "form-control field-to-check", @placeholder = "Ex : Results will go here...", @maxlenth = "1500", @id = "aud_results" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">Results</label>
                @Html.TextAreaFor(m => m.aud_manage, new { @class = "form-control field-to-check", @placeholder = "Ex : Results will go here...", @maxlenth = "1500", @id = "uaud_manage" })
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-sm btn-warning" id="btn_Update_Audio">Save Changes</button>
                <button type="submit" class="btn btn-sm btn-outline-danger" id="btn_Delete_Audio">Delete</button>
            </div>
        </div>
    </div>

</form>


<script>
    //#region Page Load
        $(function () {
            validate();
            if ("@emp_designation.ToString()" === "Super Administrator") {
                $("#btn_Update_Audio,#btn_Delete_Audio").show();
            } else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Update_Audio,#btn_Delete_Audio").show();

                }
                else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Update_Audio,#btn_Delete_Audio").show();
                    }
                    else {
                        $("#btn_Update_Audio,#btn_Delete_Audio").hide();
                    }
                }
            }
        });

    //#endregion Page Load

    

     //#endregion Get CheckedValues
    //#region Update  Button Click
        $('#btn_Update_Audio').on('click', function (e) {
             e.preventDefault();
                $('#btn_Update_Audio').removeClass("btn btn-sm btn-success");
                $('#btn_Update_Audio').addClass("btn btn-sm btn-success btn-loaders btn-icon");
                $('#btn_Update_Audio').html("Updating the Record....");
                
                var _dataInsert = {
                    "audId": @Model.audId,
                    "aud_appId": $("#uaud_appId").val(),
                    "aud_clinic": $("#uaud_clinic").val(),
                    "aud_ampli": $("#uaud_ampli").val(),
                    "aud_style": $("#uaud_style").val(),
                    "aud_needs": $("#uaud_needs").val(),
                    "aud_tests": $("#uaud_tests").val(),
                    "aud_results": $("#uaud_results").val(),
                    "aud_manage": $("#uaud_manage").val(),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateAudiologyNote", "ENT", new { area = "EMR" })",
                    dataType: 'JSON',
                    data: _dataInsert,
                    success: function (data) {
                        $('#btn_Update_Audio').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                        $('#btn_Update_Audio').addClass("btn btn-sm btn-warning");
                        $('#btn_Update_Audio').html("Save Changes");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Audiology Note Updated Successfully!", "success");
                                Timeout();
                                GetAudiologyNote();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. Audiology Note Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Update_Audio').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                        $('#btn_Update_Audio').addClass("btn btn-sm btn-warning");
                        $('#btn_Update_Audio').html("Save Changes");
                        Timeout();
                    }
                });
        });
    //#endregion Update  Button Click


    //#region Delete Click
        $('#btn_Delete_Audio').on('click', function (e) {
            e.preventDefault();
            $('#btn_Delete_Audio').removeClass("btn btn-sm btn-success");
            $('#btn_Delete_Audio').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Delete_Audio').html("Deleting the Record....");

                $.ajax({
                    url: '@Url.Action("DeleteAudiologyNote", "ENT", new { area = "EMR" })?audId=' + @Model.audId,
                    type: "POST",
                    dataType: 'JSON',
                    success: function (data) {
                        $('#btn_Delete_Audio').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                        $('#btn_Delete_Audio').addClass("btn btn-sm btn-warning");
                        $('#btn_Delete_Audio').html("Delete");
                        if (data.isAuthorized) {
                            if (data.success) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Audiology Note Deleted Successfully!", "success");
                                clearControls();
                                GetAudiologyNote();
                                Timeout();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Error!.. Failed to Delete..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Delete_Audio').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                        $('#btn_Delete_Audio').addClass("btn btn-sm btn-Delete");
                        $('#btn_Delete_Audio').html("Delete");
                        Timeout();
                    }
                })
        });
    //#endregion Delete Click
   
    //#region Clear Controls
        var clearControls = function () {
            $(".form-control").val("");
        }
    //#endregion Clear Controls
</script>



