
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMR.Vestibular
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_EditAudiology" class="needs-validation" >

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.eeId)
    @Html.HiddenFor(m => m.ee_appId)
    @Html.HiddenFor(m => m.eeId, new { @id = "ueeId", @value = "@Model.eeId" })

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">&nbsp; </label>
                <label class="form-label text-black">Pinna</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                <label class="form-label text-black text-center">Right</label>
                @Html.TextBoxFor(m => m.ee_pinr, new { @class = "form-control field-to-check", @placeholder = "Ex : Pinna Right Ear will go here...", @maxlenth = "1500",@id= "uee_pinr" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                <label class="form-label text-black text-center">Left</label>
                @Html.TextBoxFor(m => m.ee_pinl, new { @class = "form-control field-to-check", @placeholder = "Ex : Pinna Left Ear will go here...", @maxlenth = "1500",@id= "uee_pinl" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Preaurical Region</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_pregr, new { @class = "form-control field-to-check", @placeholder = "Ex : Preaurical Region Right Ear will go here...", @maxlenth = "1500",@id= "uee_pregr" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_pregl, new { @class = "form-control field-to-check", @placeholder = "Ex : Preaurical Region Left Ear will go here...", @maxlenth = "1500",@id= "uee_pregl" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Post Sulcus</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_postr, new { @class = "form-control field-to-check", @placeholder = "Ex : Post Sulcus Right Ear  will go here...", @maxlenth = "1500",@id= "uee_postr" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_postl, new { @class = "form-control field-to-check", @placeholder = "Ex : Post Sulcus Left Ear will go here...", @maxlenth = "1500",@id= "uee_postl" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">EAC</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_eacr, new { @class = "form-control field-to-check", @placeholder = "Ex : EAC Right Ear will go here...", @maxlenth = "1500",@id= "uee_eacr" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_eacl, new { @class = "form-control field-to-check", @placeholder = "Ex : EAC Left Ear will go here...", @maxlenth = "1500",@id= "uee_eacl" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Timpanic Membrane	</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_tympr, new { @class = "form-control field-to-check", @placeholder = "Ex : Timpanic Membrane Right Ear  will go here...", @maxlenth = "1500",@id= "uee_tympr" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_tympl, new { @class = "form-control field-to-check", @placeholder = "Ex : Timpanic Membrane Left Ear will go here...", @maxlenth = "1500",@id= "uee_tympl" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Mastoid Tenderness</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_masr, new { @class = "form-control field-to-check", @placeholder = "Ex : Mastoid Tenderness Right Ear will go here...", @maxlenth = "1500", @id = "uee_masr" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_masl, new { @class = "form-control field-to-check", @placeholder = "Ex : Mastoid Tenderness Left Ear Ear will go here...", @maxlenth = "1500",@id= "uee_masl" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Facial Nerves Function	</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_facr, new { @class = "form-control field-to-check", @placeholder = "Ex : Facial Nerves Function Right Ear  will go here...", @maxlenth = "1500",@id= "uee_facr" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_facl, new { @class = "form-control field-to-check", @placeholder = "Ex : Facial Nerves Function Left Ear will go here...", @maxlenth = "1500",@id= "uee_facl" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Nystagmus</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_nysr, new { @class = "form-control field-to-check", @placeholder = "Ex :Nystagmus Right Ear will go here...", @maxlenth = "1500",@id= "uee_nysr" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_nysl, new { @class = "form-control field-to-check", @placeholder = "Ex : Nystagmus Left Ear will go here...", @maxlenth = "1500",@id= "uee_nysl" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Eustachian Tube</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_eustr, new { @class = "form-control field-to-check", @placeholder = "Ex :Eustachian Tube Right Ear will go here...", @maxlenth = "1500",@id= "uee_eustr" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.ee_eustl, new { @class = "form-control field-to-check", @placeholder = "Ex : Eustachian Tube Left Ear will go here...", @maxlenth = "1500",@id= "uee_eustl" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-group mb-3">
                <label class="form-label text-black">Notes</label>
                @Html.TextAreaFor(m => m.ee_notes, new { @class = "form-control field-to-check", @placeholder = "Ex : Eustachian Tube Left Ear will go here...", @maxlenth = "1500",@id= "uee_notes" })
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-sm btn-warning" id="btn_Update_Vestibular">Save Changes</button>
                <button type="submit" class="btn btn-sm btn-outline-danger" id="btn_Delete_Vestibular">Delete</button>
            </div>
        </div>
    </div>

</form>


<script>
    //#region Page Load
        $(function () {
            validate();
            if ("@emp_designation.ToString()" === "Super Administrator") {
                $("#btn_Update_Vestibular,#btn_Delete_Vestibular").show();
            } else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Update_Vestibular,#btn_Delete_Vestibular").show();

                }
                else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Update_Vestibular,#btn_Delete_Vestibular").show();
                    }
                    else {
                        $("#btn_Update_Vestibular,#btn_Delete_Vestibular").hide();
                    }
                }
            }
        });

    //#endregion Page Load

    //#region Update  Button Click
        $('#btn_Update_Vestibular').on('click', function (e) {
             e.preventDefault();
                $('#btn_Update_Vestibular').removeClass("btn btn-sm btn-success");
                $('#btn_Update_Vestibular').addClass("btn btn-sm btn-success btn-loaders btn-icon");
                $('#btn_Update_Vestibular').html("Updating the Record....");

                var _dataInsert = {
                    "eeId": @Model.eeId,
                    "ee_appId": $("#uee_appId").val(),
                    "ee_pinr": $("#uee_pinr").val(),
                    "ee_pinl": $("#uee_pinl").val(),
                    "ee_pregr": $("#uee_pregr").val(),
                    "ee_pregl": $("#uee_pregl").val(),
                    "ee_postr": $("#uee_postr").val(),
                    "ee_postl": $("#uee_postl").val(),
                    "ee_eacr": $("#uee_eacr").val(),
                    "ee_eacl": $("#uee_eacl").val(),
                    "ee_tympr": $("#uee_tympr").val(),
                    "ee_tympl": $("#uee_tympl").val(),
                    "ee_masr": $("#uee_masr").val(),
                    "ee_masl": $("#uee_masl").val(),
                    "ee_facr": $("#uee_facr").val(),
                    "ee_facl": $("#uee_facl").val(),
                    "ee_nysr": $("#uee_nysr").val(),
                    "ee_nysl": $("#uee_nysl").val(),
                    "ee_eustr": $("#uee_eustr").val(),
                    "ee_eustl": $("#uee_eustl").val(),
                    "ee_notes": $("#uee_notes").val(),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateVestibular", "ENT", new { area = "EMR" })",
                    dataType: 'JSON',
                    data: _dataInsert,
                    success: function (data) {
                        $('#btn_Update_Vestibular').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                        $('#btn_Update_Vestibular').addClass("btn btn-sm btn-warning");
                        $('#btn_Update_Vestibular').html("Save Changes");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Vestibular Updated Successfully!", "success");
                                Timeout();
                                GetVestibular();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. Vestibular Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Update_Vestibular').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                        $('#btn_Update_Vestibular').addClass("btn btn-sm btn-warning");
                        $('#btn_Update_Vestibular').html("Save Changes");
                        Timeout();
                    }
                });
        });
    //#endregion Update  Button Click


    //#region Delete Click
        $('#btn_Delete_Vestibular').on('click', function (e) {
            e.preventDefault();
            $('#btn_Delete_Vestibular').removeClass("btn btn-sm btn-success");
            $('#btn_Delete_Vestibular').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Delete_Vestibular').html("Deleting the Record....");

                $.ajax({
                    url: '@Url.Action("DeleteVestibular", "ENT", new { area = "EMR" })?eeId=' + @Model.eeId,
                    type: "POST",
                    dataType: 'JSON',
                    success: function (data) {
                        $('#btn_Delete_Vestibular').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                        $('#btn_Delete_Vestibular').addClass("btn btn-sm btn-warning");
                        $('#btn_Delete_Vestibular').html("Delete");
                        if (data.isAuthorized) {
                            if (data.success) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Vestibular Deleted Successfully!", "success");
                                clearControls();
                                GetVestibular();
                                Timeout();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Error!.. Failed to Delete..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Delete_Vestibular').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                        $('#btn_Delete_Vestibular').addClass("btn btn-sm btn-Delete");
                        $('#btn_Delete_Vestibular').html("Delete");
                        Timeout();
                    }
                })
        });
    //#endregion Delete Click

    //#region Clear Controls
        var clearControls = function () {
            $(".form-control").val("");
        }
    //#endregion Clear Controls
</script>



