@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMR.ENTExamThroat
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_EditAudiology" class="needs-validation" >

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.etId)
    @Html.HiddenFor(m => m.et_appId)
    @Html.HiddenFor(m => m.etId, new { @id = "uetId", @value = "@Model.etId" })

    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-12">
            <div class="expanel expanel-default">
                <div class="expanel-heading">
                    <h3 class="expanel-title">Throat</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Lip</label>
                @Html.TextBoxFor(m => m.et_lip, new { @class = "form-control field-to-check", @placeholder = "Ex : Clinical History will go here...", @maxlenth = "1500",@id= "uet_lip" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Vestibulum Oris</label>
                @Html.TextBoxFor(m => m.et_vest, new { @class = "form-control field-to-check", @placeholder = "Ex : Amplification History will go here...", @maxlenth = "1500",@id= "uet_vest" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Teeth and Gingiva</label>
                @Html.TextBoxFor(m => m.et_teeth, new { @class = "form-control field-to-check", @placeholder = "Ex : Current Hearing Aid Brand and Style will go here...", @maxlenth = "1500",@id= "uet_teeth" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Oral Mucosa</label>
                @Html.TextBoxFor(m => m.et_oral, new { @class = "form-control field-to-check", @placeholder = "Ex : Listening Needs will go here...", @maxlenth = "1500",@id= "uet_oral" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Hard/soft Palate</label>
                @Html.TextBoxFor(m => m.et_hard, new { @class = "form-control field-to-check", @placeholder = "Ex : Tests Performed will go here...", @maxlenth = "1500" ,@id= "uet_hard" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Tongue</label>
                @Html.TextBoxFor(m => m.et_tong, new { @class = "form-control field-to-check", @placeholder = "Ex : Results will go here...", @maxlenth = "1500",@id= "uet_tong" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Retromolar tongue</label>
                @Html.TextBoxFor(m => m.et_retro, new { @class = "form-control field-to-check", @placeholder = "Ex : Results will go here...", @maxlenth = "1500" ,@id= "uet_retro" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Anterior pillars</label>
                @Html.TextBoxFor(m => m.et_apill, new { @class = "form-control field-to-check", @placeholder = "Ex : Results will go here...", @maxlenth = "1500" ,@id= "uet_apill" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Posterior pillars</label>
                @Html.TextBoxFor(m => m.et_ppill, new { @class = "form-control field-to-check", @placeholder = "Ex : Results will go here...", @maxlenth = "1500",@id= "uet_ppill" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Oropharynx</label>
                @Html.TextBoxFor(m => m.et_orop, new { @class = "form-control field-to-check", @placeholder = "Ex : Results will go here...", @maxlenth = "1500" ,@id= "uet_orop" })
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-12">
            <div class="expanel expanel-default">
                <div class="expanel-heading">
                    <h3 class="expanel-title">Hypopharynx and Larynx</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Base Tongue</label>
                @Html.TextBoxFor(m => m.et_base, new { @class = "form-control field-to-check", @placeholder = "Ex : Clinical History will go here...", @maxlenth = "1500" ,@id= "uet_base" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Vallecula</label>
                @Html.TextBoxFor(m => m.et_valle, new { @class = "form-control field-to-check", @placeholder = "Ex : Vallecula will go here...", @maxlenth = "1500" ,@id= "uet_valle" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Epiglottis</label>
                @Html.TextBoxFor(m => m.et_epig, new { @class = "form-control field-to-check", @placeholder = "Ex : Epiglottis will go here...", @maxlenth = "1500",@id= "uet_epig" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">False cords</label>
                @Html.TextBoxFor(m => m.et_false, new { @class = "form-control field-to-check", @placeholder = "Ex : False cords will go here...", @maxlenth = "1500" ,@id= "uet_false" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Ventricles</label>
                @Html.TextBoxFor(m => m.et_vent, new { @class = "form-control field-to-check", @placeholder = "Ex : Ventricles will go here...", @maxlenth = "1500",@id= "uet_vent" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Arytenoids</label>
                @Html.TextBoxFor(m => m.et_aryt, new { @class = "form-control field-to-check", @placeholder = "Ex : Arytenoids will go here...", @maxlenth = "1500",@id= "uet_aryt" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Aryepiglottic folds</label>
                @Html.TextBoxFor(m => m.et_arye, new { @class = "form-control field-to-check", @placeholder = "Ex : Aryepiglottic folds will go here...", @maxlenth = "1500",@id= "uet_arye" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Vocal Cords</label>
                @Html.TextBoxFor(m => m.et_vocal, new { @class = "form-control field-to-check", @placeholder = "Ex : Vocal Cords will go here...", @maxlenth = "1500",@id= "uet_vocal" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Anterior commissure</label>
                @Html.TextBoxFor(m => m.et_acomm, new { @class = "form-control field-to-check", @placeholder = "Ex : Anterior commissure will go here...", @maxlenth = "1500",@id= "uet_acomm" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Posterior commissure</label>
                @Html.TextBoxFor(m => m.et_pcomm, new { @class = "form-control field-to-check", @placeholder = "Ex : Posterior commissure will go here...", @maxlenth = "1500",@id= "uet_pcomm" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Subglottis</label>
                @Html.TextBoxFor(m => m.et_subg, new { @class = "form-control field-to-check", @placeholder = "Ex : Subglottis will go here...", @maxlenth = "1500" ,@id= "uet_subg" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Pyriform Fossae</label>
                @Html.TextBoxFor(m => m.et_pyrif, new { @class = "form-control field-to-check", @placeholder = "Ex : Pyriform Fossae will go here...", @maxlenth = "1500",@id= "uet_pyrif" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Post-cricoid region</label>
                @Html.TextBoxFor(m => m.et_postc, new { @class = "form-control field-to-check", @placeholder = "Ex : Post-cricoid region will go here...", @maxlenth = "1500",@id= "uet_postc" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Posterior pharyngeal wall</label>
                @Html.TextBoxFor(m => m.et_postp, new { @class = "form-control field-to-check", @placeholder = "Ex : Posterior pharyngeal will go here...", @maxlenth = "1500",@id= "uet_postp" })
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-12">
            <div class="expanel expanel-default">
                <div class="expanel-heading">
                    <h3 class="expanel-title">Neck</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Parotids</label>
                @Html.TextBoxFor(m => m.et_paro, new { @class = "form-control field-to-check", @placeholder = "Ex : Parotids will go here...", @maxlenth = "1500" ,@id= "uet_paro" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Thyroid</label>
                @Html.TextBoxFor(m => m.et_thy, new { @class = "form-control field-to-check", @placeholder = "Ex : Thyroid will go here...", @maxlenth = "1500",@id= "uet_thy" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Traches</label>
                @Html.TextBoxFor(m => m.et_trac, new { @class = "form-control field-to-check", @placeholder = "Ex : Traches will go here...", @maxlenth = "1500",@id= "uet_trac" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Larynx</label>
                @Html.TextBoxFor(m => m.et_lary, new { @class = "form-control field-to-check", @placeholder = "Ex : Larynx will go here...", @maxlenth = "1500",@id= "uet_lary" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Lymph nodes</label>
                @Html.TextBoxFor(m => m.et_lymp, new { @class = "form-control field-to-check", @placeholder = "Ex : Lymph nodes will go here...", @maxlenth = "1500",@id= "uet_lymp" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Other</label>
                @Html.TextBoxFor(m => m.et_others, new { @class = "form-control field-to-check", @placeholder = "Ex : Other will go here...", @maxlenth = "1500",@id= "uet_others" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-group mb-3">
                <label class="form-label text-black">Notes</label>
                @Html.TextBoxFor(m => m.et_notes, new { @class = "form-control field-to-check", @placeholder = "Ex : Notes will go here...", @maxlenth = "1500" ,@id= "uet_notes" })
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-sm btn-warning" id="btn_Update_ENTThroat">Save Changes</button>
                <button type="submit" class="btn btn-sm btn-outline-danger" id="btn_Delete_ENTThroat">Delete</button>
                <button type="submit" class="btn btn-sm btn-outline-light" id="btn_Print_ENTThroat" onclick="PrintENTExamThroat(@Model.etId)">
                    <i class="fa fa-print">&nbsp;&nbsp;</i>Print
                </button>
            </div>
        </div>
    </div>

</form>
<script>
    //#region Page Load
        $(function () {
            if ("@emp_designation.ToString()" === "Super Administrator") {
                $("#btn_Update_ENTThroat,#btn_Delete_ENTThroat").show();
            } else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Update_ENTThroat,#btn_Delete_ENTThroat").show();

                }
                else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Update_ENTThroat,#btn_Delete_ENTThroat").show();
                    }
                    else {
                        $("#btn_Update_ENTThroat,#btn_Delete_ENTThroat").hide();
                    }
                }
            }
        });

    //#endregion Page Load



     //#endregion Get CheckedValues
    //#region Update  Button Click
        $('#btn_Update_ENTThroat').on('click', function (e) {
             e.preventDefault();
                $('#btn_Update_ENTThroat').removeClass("btn btn-sm btn-success");
                $('#btn_Update_ENTThroat').addClass("btn btn-sm btn-success btn-loaders btn-icon");
                $('#btn_Update_ENTThroat').html("Updating the Record....");

                var _dataInsert = {
                    "etId": @Model.etId,
                    "et_appId": $("#uet_appId").val(),
                    "et_lip": $("#uet_lip").val(),
                    "et_base": $("#uet_base").val(),
                    "et_vest": $("#uet_vest").val(),
                    "et_valle": $("#uet_valle").val(),
                    "et_teeth": $("#uet_teeth").val(),
                    "et_epig": $("#uet_epig").val(),
                    "et_oral": $("#uet_oral").val(),
                    "et_false": $("#uet_false").val(),
                    "et_hard": $("#uet_hard").val(),
                    "et_vent": $("#uet_vent").val(),
                    "et_tong": $("#uet_tong").val(),
                    "et_aryt": $("#uet_aryt").val(),
                    "et_retro": $("#uet_retro").val(),
                    "et_arye": $("#uet_arye").val(),
                    "et_tons": $("#uet_tons").val(),
                    "et_vocal": $("#uet_vocal").val(),
                    "et_apill": $("#uet_apill").val(),
                    "et_acomm": $("#uet_acomm").val(),
                    "et_pcomm": $("#uet_pcomm").val(),
                    "et_orop": $("#uet_orop").val(),
                    "et_subg": $("#uet_subg").val(),
                    "et_pyrif": $("#uet_pyrif").val(),
                    "et_paro": $("#uet_paro").val(),
                    "et_postc": $("#uet_postc").val(),
                    "et_postp": $("#uet_postp").val(),
                    "et_thy": $("#uet_thy").val(),
                    "et_trac": $("#uet_trac").val(),
                    "et_lary": $("#uet_lary").val(),
                    "et_lymp": $("#uet_lymp").val(),
                    "et_others": $("#uet_others").val(),
                    "et_notes": $("#uet_notes").val(),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateENTExamThroat", "ENT", new { area = "EMR" })",
                    dataType: 'JSON',
                    data: _dataInsert,
                    success: function (data) {
                        $('#btn_Update_ENTThroat').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                        $('#btn_Update_ENTThroat').addClass("btn btn-sm btn-warning");
                        $('#btn_Update_ENTThroat').html("Save Changes");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> ENT Examination Throat Updated Successfully!", "success");
                                Timeout();
                                GetENTExamThroat();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. ENT Examination Throat Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Update_ENTThroat').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                        $('#btn_Update_ENTThroat').addClass("btn btn-sm btn-warning");
                        $('#btn_Update_ENTThroat').html("Save Changes");
                        Timeout();
                    }
                });
        });
    //#endregion Update  Button Click


    //#region Delete Click
        $('#btn_Delete_ENTThroat').on('click', function (e) {
            e.preventDefault();
            $('#btn_Delete_ENTThroat').removeClass("btn btn-sm btn-success");
            $('#btn_Delete_ENTThroat').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Delete_ENTThroat').html("Deleting the Record....");

                $.ajax({
                    url: '@Url.Action("DeleteENTExamThroat", "ENT", new { area = "EMR" })?etId=' + @Model.etId,
                    type: "POST",
                    dataType: 'JSON',
                    success: function (data) {
                        $('#btn_Delete_ENTThroat').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                        $('#btn_Delete_ENTThroat').addClass("btn btn-sm btn-warning");
                        $('#btn_Delete_ENTThroat').html("Delete");
                        if (data.isAuthorized) {
                            if (data.success) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> ENT Examination Throat Deleted Successfully!", "success");
                                clearControls();
                                GetENTExamThroat();
                                Timeout();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Error!.. Failed to Delete..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Delete_ENTThroat').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                        $('#btn_Delete_ENTThroat').addClass("btn btn-sm btn-Delete");
                        $('#btn_Delete_ENTThroat').html("Delete");
                        Timeout();
                    }
                })
        });
    //#endregion Delete Click

    //#region Clear Controls
        var clearControls = function () {
            $(".form-control").val("");
        }
    //#endregion Clear Controls
</script>



