@using BusinessEntities;
@model BusinessEntities.EMR.ENTExamThroat
@{
    ViewBag.Title = "Print Invoice";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" onclick="printDiv('printDiv')" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>
<div class="row" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-center">
                    <img src="@Model.set_header_image" />
                </div>
                <div class="row ">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div>
                                    <h4 class="page-title mb-0 text-primary">
                                        ENT Examination - Throat
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-12 col-md-6 col-lg-12">
                                <div class="expanel expanel-default">
                                    <div class="expanel-heading">
                                        <h3 class="expanel-title">Throat</h3>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="col-sm-12 col-md-12 col-lg-2">
                                <div class="form-group mb-3">
                                    <label class="form-label">Lip</label>
                                    <label class="text-left">@Model.et_lip&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2">
                                <div class="form-group mb-3">
                                    <label class="form-label">Vestibulum Oris</label>
                                    <label class="text-left">@Model.et_vest&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2">
                                <div class="form-group mb-3">
                                    <label class="form-label">Teeth and Gingiva</label>
                                    <label class="text-left">@Model.et_teeth&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2">
                                <div class="form-group mb-3">
                                    <label class="form-label">Oral Mucosa</label>
                                    <label class="text-left">@Model.et_oral&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2">
                                <div class="form-group mb-3">
                                    <label class="form-label">Hard/soft Palate</label>
                                    <label class="text-left">@Model.et_hard&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2">
                                <div class="form-group mb-3">
                                    <label class="form-label">Tongue</label>
                                    <label class="text-left">@Model.et_tong&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2">
                                <div class="form-group mb-3">
                                    <label class="form-label">Retromolar tongue</label>
                                    <label class="text-left">@Model.et_retro&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2">
                                <div class="form-group mb-3">
                                    <label class="form-label">Anterior pillars</label>
                                    <label class="text-left">@Model.et_apill&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2">
                                <div class="form-group mb-3">
                                    <label class="form-label">Posterior pillars</label>
                                    <label class="text-left">@Model.et_ppill&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2">
                                <div class="form-group mb-3">
                                    <label class="form-label">Oropharynx</label>
                                    <label class="text-left">@Model.et_orop&nbsp;</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-12 col-md-6 col-lg-12">
                                <div class="expanel expanel-default">
                                    <div class="expanel-heading">
                                        <h3 class="expanel-title">Hypopharynx and Larynx</h3>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="col-sm-12 col-md-12 col-lg-2">
                                <div class="form-group mb-3">
                                    <label class="form-label">Base Tongue</label>
                                    <label class="text-left">@Model.et_base&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2">
                                <div class="form-group mb-3">
                                    <label class="form-label">Vallecula</label>
                                    <label class="text-left">@Model.et_valle&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2">
                                <div class="form-group mb-3">
                                    <label class="form-label">Epiglottis</label>
                                    <label class="text-left">@Model.et_epig&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2">
                                <div class="form-group mb-3">
                                    <label class="form-label">False cords</label>
                                    <label class="text-left">@Model.et_false&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2">
                                <div class="form-group mb-3">
                                    <label class="form-label">Ventricles</label>
                                    <label class="text-left">@Model.et_vent&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2">
                                <div class="form-group mb-3">
                                    <label class="form-label">Arytenoids</label>
                                    <label class="text-left">@Model.et_aryt&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2">
                                <div class="form-group mb-3">
                                    <label class="form-label">Aryepiglottic folds</label>
                                    <label class="text-left">@Model.et_arye&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2">
                                <div class="form-group mb-3">
                                    <label class="form-label">Vocal Cords</label>
                                    <label class="text-left">@Model.et_vocal&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2">
                                <div class="form-group mb-3">
                                    <label class="form-label">Anterior commissure</label>
                                    <label class="text-left">@Model.et_acomm&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2">
                                <div class="form-group mb-3">
                                    <label class="form-label">Posterior commissure</label>
                                    <label class="text-left">@Model.et_pcomm&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2">
                                <div class="form-group mb-3">
                                    <label class="form-label">Subglottis</label>
                                    <label class="text-left">@Model.et_subg&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2">
                                <div class="form-group mb-3">
                                    <label class="form-label">Pyriform Fossae</label>
                                    <label class="text-left">@Model.et_pyrif&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2">
                                <div class="form-group mb-3">
                                    <label class="form-label">Post-cricoid region</label>
                                    <label class="text-left">@Model.et_postc&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2">
                                <div class="form-group mb-3">
                                    <label class="form-label">Posterior pharyngeal wall</label>
                                    <label class="text-left">@Model.et_postp&nbsp;</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-12 col-md-6 col-lg-12">
                                <div class="expanel expanel-default">
                                    <div class="expanel-heading">
                                        <h3 class="expanel-title">Neck</h3>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="col-sm-12 col-md-12 col-lg-2">
                                <div class="form-group mb-3">
                                    <label class="form-label">Parotids</label>
                                    <label class="text-left">@Model.et_paro&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2">
                                <div class="form-group mb-3">
                                    <label class="form-label">Thyroid</label>
                                    <label class="text-left">@Model.et_thy&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2">
                                <div class="form-group mb-3">
                                    <label class="form-label">Traches</label>
                                    <label class="text-left">@Model.et_trac&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2">
                                <div class="form-group mb-3">
                                    <label class="form-label">Larynx</label>
                                    <label class="text-left">@Model.et_lary&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2">
                                <div class="form-group mb-3">
                                    <label class="form-label">Lymph nodes</label>
                                    <label class="text-left">@Model.et_lymp&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-2">
                                <div class="form-group mb-3">
                                    <label class="form-label">Other</label>
                                    <label class="text-left">@Model.et_others&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group mb-3">
                                    <label class="form-label">Notes</label>
                                    <label class="text-left">@Model.et_notes&nbsp;</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <img src="@Model.set_footer_image" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>


