@model IEnumerable<BusinessEntities.Masters.Referals>
@{
    ViewBag.Title = "Referrals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title mb-0 text-primary" data-lang-key="referrals">Referrals</h4>
    </div>
    <div class="page-rightheader">
        <div class="btn-list">
            <a data-bs-toggle="modal" data-bs-target="#referral_modal" class="btn btn-secondary" onclick="addReferral()"><i class="mdi mdi-plus"></i>&nbsp;<span data-lang-key="add-referral">Add Referral</span></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
        <div id="ReferralAlert"></div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tbl_referrals" class="table table-striped table-bordered text-nowrap resize-table" style="width: 100%; cursor: pointer;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #3C457D; border-color: #3C457D; ">
                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="type">Type</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="login">Login</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="name">Name</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="company">Company</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="mobile">Mobile</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="phone">Phone</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="fax">Fax</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="city">City</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="email">E-Mail</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="country">Country</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="status">Status</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="edit">Edit</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="delete">Delete</span></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Referral Modal -->
<div class="modal fade" id="referral_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="size">
        <div class="modal-content" id="referral_modal_body">
        </div>
    </div>
</div>
<!-- End Referral Modal -->
@section myScripts{
    <script>
        //#region Page Load
        $(function () {
            GetReferals();
            // Focus on select2 Dropdown
            $(document).on('select2:open', () => {
                document.querySelector('.select2-search__field').focus();
            });
        });
        //#endregion

        //#region Get All Referrals
        var GetReferals = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllReferrals", "Referals", new { area = "Masters" })",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        var table;
                        if ($.fn.dataTable.isDataTable('#tbl_referrals')) {
                            table = $('#tbl_referrals').DataTable();
                            table.clear();
                            table.rows.add(response).draw();
                        }
                        else {
                            BindDataTable(response);
                        }
                    }
                    else {
                        console.log("Access Denied!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            }).done(function () {
                resizedt();
            });
        }
        //#endregion

        //#region Bind DataTable
        var BindDataTable = function (response) {
            var table = $("#tbl_referrals").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                processing: true,
                "deferRender": true,
                "pageLength": 100,
                "retrieve": true,
                lengthChange: true,
                "aaData": response,
                "aoColumns": [
                    {
                        "mData": "refId",
                        "orderable": false,
                        "searchable": false,
                        "className": "text-center",
                        "render": function (data, type, row, meta) {
                            let _index = (meta.row) + 1;
                            if (_index >= 10) {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>" + _index + "</a>";
                            }
                            else {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>0" + _index + "</a>";
                            }
                        }
                    },
                    { "mData": "ref_type" },
                    { "mData": "ref_login" },
                    { "mData": "ref_name" },
                    {
                        "mData": "ref_company",
                        "render": function (ref_company) {
                            if (ref_company != "" && ref_company != "na") {
                                return ref_company
                            }
                            else {
                                return "<span class='text-muted'>N/A</span>";
                            }
                        }
                    },
                    { "mData": "ref_mob" },
                    {
                        "mData": "ref_tel",
                        "render": function (ref_tel) {
                            if (ref_tel != "" && ref_tel != "na") {
                                return ref_tel
                            }
                            else {
                                return "<span class='text-muted'>N/A</span>";
                            }
                        }
                    },
                    {
                        "mData": "ref_fax",
                        "render": function (ref_fax) {
                            if (ref_fax != "" && ref_fax != "na") {
                                return ref_fax
                            }
                            else {
                                return "<span class='text-muted'>N/A</span>";
                            }
                        }
                    },
                    {
                        "mData": "ref_city",
                        "render": function (ref_city) {
                            if (ref_city != "" && ref_city != "na") {
                                return ref_city
                            }
                            else {
                                return "<span class='text-muted'>N/A</span>";
                            }
                        }
                    },
                    {
                        "mData": "ref_email",
                        "render": function (ref_email) {
                            if (ref_email != "" && ref_email != "na") {
                                return "<a class='text-black' href='mailto:" + ref_email + "'>" + ref_email + "</a>";
                            }
                            else {
                                return "<span class='text-muted'>N/A</span>";
                            }
                        }
                    },
                    { "mData": "country" },
                    {
                        "className": 'text-center',
                        "mData": "refId",
                        "render": function (refId, type, full, meta) {
                            var visible = full.actionvisible;
                            var ref_status = full.ref_status;

                            if (visible === "True") {
                                if (full.ref_status === "Active") {
                                    return '<button type="button" class="badge rounded-pill bg-success mt-2 border-success" style="width: 60px;" onclick="updateStatus(\'' + refId + '\',\' Active \')">' + ref_status + '</button>'
                                }
                                else if (full.ref_status === "Inactive") {
                                    return '<button type="button" class="badge rounded-pill bg-warning mt-2 border-warning" style="width: 60px;" onclick="updateStatus(\'' + refId + '\',\'Inactive\')">' + ref_status + '</button>'
                                }
                                else if (full.ref_status === "Deleted") {
                                    return '<button type="button" class="badge rounded-pill bg-danger mt-2 border-danger" style="width: 60px;" onclick="updateStatus(\'' + refId + '\',\'Deleted\')">' + ref_status + '</button>'
                                }
                                else {
                                    return ''
                                }
                            }
                            else {
                                return '<span class="badge rounded-pill text-danger mt-2 border-danger">Allocated</span>'
                            }
                        }
                    },
                    {
                        "mData": "refId",
                        "className": 'text-center',
                        "orderable": false,
                        "searchable": false,
                        "render": function (refId, type, full, meta) {
                            var status = full.ref_status;
                            var visible = full.actionvisible;
                            if (status === "Active" && visible === "True") {

                                return '<button type="button" data-bs-toggle="modal" data-bs-target="#referral_modal" onclick="editReferral(' + refId + ')" class="btn btn-sm btn-outline-primary">Edit</button>';
                            }
                            else {
                                return ''
                            }
                        }
                    },
                    {
                        "mData": "refId",
                        "className": 'text-center',
                        "orderable": false,
                        "searchable": false,
                        "render": function (refId, type, full, meta) {
                            var status = full.ref_status;
                            var visible = full.actionvisible;
                            if (status === "Active" && visible === "True") {
                                return '<button type="button" onclick="deleteReferral(' + refId + ')" class="btn btn-sm btn-outline-danger">Delete</button>';
                            }
                            else {
                                return ''
                            }
                        }
                    }
                ],
                order: [[0, 'asc']],
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '<span class="text-primary font-weight-semi-bold">Search By Type / Name / Company / Mobile / Country</span>',
                    scrollX: "100%",
                    lengthMenu: '_MENU_ ',
                },
                scrollX: true,
                scrollY: 500,
                scrollCollapse: true,
                buttons: [
                    {
                        extend: 'excel',
                        title: 'Referrals',
                        footer: 'true',
                        exportOptions: {
                            columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
                        },
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.excelHtml5.action.call(this, e, dt, node, config);
                            exportLogs("Employee Exported Referrals to Excel!");
                        }
                    },
                    {
                        extend: 'pdf',
                        title: 'Referrals',
                        footer: 'true',
                        exportOptions: {
                            columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
                        },
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.pdfHtml5.action.call(this, e, dt, node, config);
                            exportLogs("Employee Exported Referrals to PDF!");
                        }
                    },
                    {
                        extend: 'csv',
                        title: 'Referrals',
                        footer: 'true',
                        exportOptions: {
                            columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
                        },
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.csvHtml5.action.call(this, e, dt, node, config);
                            exportLogs("Employee Exported Referrals to CSV!");
                        }
                    },
                    {
                        extend: 'print',
                        title: 'Referrals',
                        footer: 'true',
                        exportOptions: {
                            columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
                        },
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.print.action.call(this, e, dt, node, config);
                            exportLogs("Employee Printed Referrals!");
                        }
                    }
                ]
            });
            table.buttons().container().appendTo('#tbl_referrals_wrapper .col-md-6:eq(0)');
        };
        //#endregion

        //#region Add Referral
        function addReferral() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("CreateReferal", "Referals", new { area = "Masters" })",
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $("#referral_modal_body").html(data);
                    $("#referal_modal").modal("show");
                },
                error: function (xhr) {
                    console.log("Error while Adding Referral : " + xhr.statusText);
                }
            });
        }
        //#endregion

        //#region Edit Referral
        function editReferral(refId) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("EditReferal", "Referals", new { area = "Masters" })?refId=" + refId,
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $("#referral_modal_body").html(data);
                    $("#referal_modal").modal("show");
                },
                error: function (xhr) {
                    console.log("Error while Editing Referral : " + xhr.statusText);
                }
            });
        }
        //#endregion

        //#region Update Referral Status
        var updateStatus = function (refId, ref_status) {
            ref_status = (ref_status == "Deleted" || ref_status == "Inactive") ? "Active" : "Inactive"

            Swal.fire({
                title: "Are you sure you want to change status ?",
                text: "This action will change the status of the selected Referral!",
                icon: "question",
                showCancelButton: !0,
                confirmButtonText: 'Yes! I Confirm',
                cancelButtonText: 'No! Cancel Please',
                confirmButtonClass: "btn btn-success mt-2", cancelButtonClass: "btn btn-danger ms-2 mt-2", buttonsStyling: !1
            }).then(function (t) {
                if (t.value) {
                    $.ajax({
                        url: "@Url.Action("UpdateReferralStatus", "Referals", new { area = "Masters" })?refId=" + refId + "&ref_status=" + ref_status,
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            if (data.isAuthorized) {
                                if (data.success) {
                                    GetReferals();
                                    Swal.fire({
                                        title: "Success!",
                                        text: data.message,
                                        icon: "success",
                                        showCancelButton: 0,
                                        confirmButtonColor: "#0bb197"
                                    });
                                }
                                else {
                                    Swal.fire({
                                        title: "Action Forbidden!",
                                        text: data.message,
                                        icon: "error",
                                        showCancelButton: 0,
                                        confirmButtonColor: "#0bb197"
                                    });
                                }
                            }
                            else {
                                Swal.fire({
                                    title: "Access Denied!",
                                    text: "You do not have enough privileges to change Referral Status!",
                                    icon: "error",
                                    showCancelButton: 0,
                                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                                });
                            }
                        },
                        error: function (xhr) {
                            Swal.fire({
                                title: "Error!",
                                text: "Failed to Change Referral Status! Please Refresh the Page & Try Again.",
                                icon: "error",
                                showCancelButton: 0,
                                confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                            });
                        }
                    });
                }
            });
        }
        //#endregion

        //#region Delete Referral
        var deleteReferral = function (refId) {
            Swal.fire({
                title: "Are you sure you want to delete this Referral ?",
                text: "This action will delete this Referral!",
                icon: "question",
                showCancelButton: !0,
                confirmButtonText: 'Yes! I Confirm',
                cancelButtonText: 'No! Cancel Please',
                confirmButtonClass: "btn btn-success mt-2", cancelButtonClass: "btn btn-danger ms-2 mt-2", buttonsStyling: !1
            }).then(function (t) {
                if (t.value) {
                    $.ajax({
                        url: '@Url.Action("DeleteReferralStatus", "Referals", new { area = "Masters" })?refId=' + refId +'&ref_status=Deleted',
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            if (data.isAuthorized) {
                                if (data.success) {
                                    GetReferals();
                                    Swal.fire({
                                        title: "Success!",
                                        text: data.message,
                                        icon: "success",
                                        showCancelButton: 0,
                                        confirmButtonColor: "#0bb197"
                                    });
                                }
                                else {
                                    Swal.fire({
                                        title: "Action Forbidden!",
                                        text: data.message,
                                        icon: "error",
                                        showCancelButton: 0,
                                        confirmButtonColor: "#0bb197"
                                    });
                                }
                            }
                            else {
                                Swal.fire({
                                    title: "Access Denied!",
                                    text: "You do not have enough privileges to delete Referral!",
                                    icon: "error",
                                    showCancelButton: 0,
                                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                                });
                            }
                        },
                        error: function (xhr) {
                            Swal.fire({
                                title: "Error!",
                                text: "Failed to Delete Referral! Please Refresh the Page & Try Again.",
                                icon: "error",
                                showCancelButton: 0,
                                confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                            });
                        }
                    });
                }
            });
        }
        //#endregion

        //#region Export General Logs
        var exportLogs = function (desc) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ExportLogs", "AuditLogs", new { area = "Common" })?desc="+ desc,
                contentType: "application/json",
                dataType: "json"
            });
        }
        //#endregion

        //#region UI / UX Functions
        var alertPlaceholder = document.getElementById("ReferralAlert");
        function alert(e, t) {
            var l = document.createElement("div");
            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
        }
        function resizedt() {
            setTimeout(function () {
                $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
            }, 350);
        }
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
         //#endregion
    </script>
}