@model List<BusinessEntities.Invoice.MultiReceiptInvoice>

<div class="modal-body p-0">
    <div class="row row-deck">
        <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-header p-0">
                    <h3 class="card-title">
                        @Model.Count.ToString("D2") Invoice(s) Selected
                    </h3>
                    <div class="card-options">
                        <a href="javascript:void(0);" class="btn btn-sm btn-primary me-2">Total : AED @Model.Sum(m => m.inv_net).ToString("N2")</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger">O/S : AED @Model.Sum(m => m.outstanding).ToString("N2")</a>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive" style="min-height:50px;">
                        <table class="table table-hover card-table table-vcenter text-nowrap">
                            <thead class="border-bottom-0 pt-3 pb-3">
                                <tr>
                                    <th class="text-center">S.No</th>
                                    <th>Invoice No</th>
                                    <th>Date</th>
                                    <th class="text-end">Net</th>
                                    <th class="text-end">Paid</th>
                                    <th class="text-end">Outstanding</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int count = 0;
                                    foreach (BusinessEntities.Invoice.MultiReceiptInvoice m in Model)
                                    {
                                        decimal paid = m.inv_net - m.outstanding;
                                        count++;
                                        <tr>
                                            <td class="text-center">@count.ToString("D2")</td>
                                            <td><span class="font-weight-normal1">@m.inv_no</span></td>
                                            <td class="text-muted">@m.inv_date</td>
                                            <td class="fs-13 text-info text-end">@m.inv_net.ToString("N2")</td>
                                            <td class="fs-13 text-success text-end">@paid.ToString("N2")</td>
                                            <td class="fs-13 text-danger text-end">@m.outstanding.ToString("N2")</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                @if (Model.Count > 0)
                {
                    <div class="card-footer">
                        <button type="button" class="btn btn-outline-info me-2" id="proceed_multi_receipt"><i class="fe fe-shopping-cart"></i>&nbsp;Confirm Proceed to Payment</button>
                        <button type="button" class="btn btn-outline-danger me-2" id="reset_multi_receipt"><i class="fe fe-refresh-cw"></i>&nbsp; Reset Invoice</button>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="row" id="divMultiPayOptions">
        <form id="form_multi_receipt_pay" >
            <div class="">
                <h3 class="card-title">
                    Pay By :
                </h3>

                <div class="row mt-5">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-start">
                        <div class="form-group font-weight-bold">
                            <label class="custom-switch mb-2">
                                <span class="custom-switch-description me-2 font-weight-bold text-dark">Cheque</span>
                                <input type="checkbox" name="custom-switch-checkbox1" class="custom-switch-input" onchange="payby(3, $(this).is(':checked'))" checked="checked" id="chkChq">
                                <span class="custom-switch-indicator custom-switch-indicator-secondary"></span>
                            </label>

                            <label class="custom-switch mb-2">
                                <span class="custom-switch-description me-2 font-weight-bold text-dark">Bank Transfer</span>
                                <input type="checkbox" name="custom-switch-checkbox1" class="custom-switch-input" onchange="payby(4, $(this).is(':checked'))" id="chkBT">
                                <span class="custom-switch-indicator custom-switch-indicator-warning"></span>
                            </label>

                            <label class="custom-switch mb-2">
                                <span class="custom-switch-description me-2 font-weight-bold text-dark">Advance</span>
                                <input type="checkbox" name="custom-switch-checkbox1" class="custom-switch-input" onchange="payby(5, $(this).is(':checked'))" id="chkAdv">
                                <span class="custom-switch-indicator custom-switch-indicator-danger"></span>
                            </label>

                            <label class="custom-switch mb-2">
                                <span class="custom-switch-description me-2 font-weight-bold text-dark">Voucher</span>
                                <input type="checkbox" name="custom-switch-checkbox1" class="custom-switch-input" onchange="payby(6, $(this).is(':checked'))" id="chkVou">
                                <span class="custom-switch-indicator custom-switch-indicator-dark"></span>
                            </label>

                            <label class="custom-switch mb-2">
                                <span class="custom-switch-description me-2 font-weight-bold text-dark">Loyalty</span>
                                <input type="checkbox" name="custom-switch-checkbox1" class="custom-switch-input" onchange="payby(7, $(this).is(':checked'))" id="chkLoy">
                                <span class="custom-switch-indicator custom-switch-indicator-success"></span>
                            </label>
                            <label class="custom-switch mb-2">
                                <span class="custom-switch-description me-2 font-weight-bold text-dark">Bad Debit</span>
                                <input type="checkbox" name="custom-switch-checkbox1" class="custom-switch-input" onchange="payby(8, $(this).is(':checked'))" id="chkBD">
                                <span class="custom-switch-indicator custom-switch-indicator-info"></span>
                            </label>
                            <label class="custom-switch mb-2">
                                <span class="custom-switch-description me-2 font-weight-bold text-dark">Tabby</span>
                                <input type="checkbox" name="custom-switch-checkbox1" class="custom-switch-input" onchange="payby(9, $(this).is(':checked'))" id="chkTabby">
                                <span class="custom-switch-indicator custom-switch-indicator-secondary"></span>
                            </label>
                            <label class="custom-switch mb-2">
                                <span class="custom-switch-description me-2 font-weight-bold text-dark">Selfology</span>
                                <input type="checkbox" name="custom-switch-checkbox1" class="custom-switch-input" onchange="payby(10, $(this).is(':checked'))" id="chkSelf">
                                <span class="custom-switch-indicator custom-switch-indicator-warning"></span>
                            </label>
                            <label class="custom-switch mb-2">
                                <span class="custom-switch-description me-2 font-weight-bold text-dark">Spotify</span>
                                <input type="checkbox" name="custom-switch-checkbox1" class="custom-switch-input" onchange="payby(11, $(this).is(':checked'))" id="chkSpoti">
                                <span class="custom-switch-indicator custom-switch-indicator-danger"></span>
                            </label>
                            <label class="custom-switch mb-2">
                                <span class="custom-switch-description me-2 font-weight-bold text-dark">Cobone</span>
                                <input type="checkbox" name="custom-switch-checkbox1" class="custom-switch-input" onchange="payby(12, $(this).is(':checked'))" id="chkCob">
                                <span class="custom-switch-indicator custom-switch-indicator-dark"></span>
                            </label>
                            <label class="custom-switch mb-2">
                                <span class="custom-switch-description me-2 font-weight-bold text-dark">Group-n Add</span>
                                <input type="checkbox" name="custom-switch-checkbox1" class="custom-switch-input" onchange="payby(13, $(this).is(':checked'))" id="chkGroup">
                                <span class="custom-switch-indicator custom-switch-indicator-success"></span>
                            </label>
                            <label class="custom-switch mb-2">
                                <span class="custom-switch-description ms-0 me-2 font-weight-bold text-dark">Stripe</span>
                                <input type="checkbox" name="custom-switch-checkbox1" class="custom-switch-input" onchange="payby(14, $(this).is(':checked'))" id="chkStripe">
                                <span class="custom-switch-indicator custom-switch-indicator-success"></span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-4 font-weight-semibold">
                        <span class="text-danger" style="font-size:smaller">Required fields are marked with *</span><br />
                        <span class="text-info" style="font-size:smaller">Voucher is <strong> &nbsp;one time use</strong> only, &nbsp; After Using of Voucher balance amount is <strong> &nbsp;not redeemable</strong></span> <br />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Cash</span></label>
                            <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" id="rec_cash" name="rec_cash" oninput="validate(this,0)">
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Credit Card  </span></label>
                            <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" id="rec_cc" name="rec_cc" oninput="validate(this,0)">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Chrg. (%)</span></label>
                            <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" id="rec_cc_per" name="rec_cc_per" oninput="validate(this,0)">
                        </div>
                    </div>

                    <div class="col-md-2" id="divCq">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Cheque Amt. </span></label>
                            <input class="form-control font-weight-semibold" placeholder="" type="text" value="0.00" id="rec_chq" name="rec_chq" oninput="validate(this,0)">
                        </div>
                    </div>
                    <div class="col-md-3" id="divCqNo">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Cheque No. </span></label>
                            <input class="form-control font-weight-semibold" placeholder="Eg:123456" type="text" id="rec_chq_no" name="rec_chq_no">
                        </div>
                    </div>
                    <div class="col-md-3" id="divCqBank">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Bank Name </span></label>
                            <input class="form-control font-weight-semibold" placeholder="Eg:ADCB" type="text" id="rec_chq_bank" name="rec_chq_bank">
                        </div>
                    </div>
                    <div class="col-md-3" id="divCqDate">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Cheque Date </span></label>
                            <input type="text" id="rec_chq_date" class="form-control font-weight-semibold" placeholder="Ex:DD-MMMM-YYYY" />
                        </div>
                    </div>
                    <div class="col-md-2 d-none" id="divBT">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Bank Transfer </span></label>
                            <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" id="rec_bt" name="rec_bt" oninput="validate(this,0)">
                        </div>
                    </div>
                    <div class="col-md-3 d-none" id="divBT_Bank">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Bank Name </span></label>
                            <select class="form-select select2" id="rec_bt_bank"></select>
                        </div>
                    </div>
                    <div class="col-md-3 d-none" id="divAdv">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Advance </span></label>
                            <select class="form-select select2" id="rec_advance"></select>
                        </div>
                    </div>
                    <div class="col-md-2 d-none" id="divAdvName">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Allocated </span></label>
                            <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" id="rec_allocated" name="rec_allocated" oninput="validate(this,0)">
                        </div>
                    </div>
                    <div class="col-md-3 d-none" id="divVou">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Voucher </span></label>
                            <select class="form-select select2" id="rec_voucher"></select>
                        </div>
                    </div>
                    <div class="col-md-3 d-none" id="divLoy">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Loyalty </span></label>
                            <select class="form-select select2" id="rec_loyalty"></select>
                        </div>
                    </div>
                    <div class="col-md-2 d-none" id="divLoyCou">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Amount </span></label>
                            <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" id="rec_lamount" name="rec_lamount" oninput="validate(this,0)">
                        </div>
                    </div>
                    <div class="col-md-2 d-none" id="divBD">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Bad Debit</span></label>
                            <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" id="rec_debit" name="rec_debit" oninput="validate(this,0)">
                        </div>
                    </div>
                    <div class="col-md-2 d-none" id="divTabby">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Tabby </span></label>
                            <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" id="rec_tabby" name="rec_tabby" oninput="validate(this,0)">
                        </div>
                    </div>
                    <div class="col-md-2 d-none" id="divSoft">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Selfology </span></label>
                            <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" id="rec_self" name="rec_self" oninput="validate(this,0)">
                        </div>
                    </div>
                    <div class="col-md-2 d-none" id="divSpo">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Spotify </span></label>
                            <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" id="rec_spoti" name="rec_spoti" oninput="validate(this,0)">
                        </div>
                    </div>
                    <div class="col-md-2 d-none" id="divCob">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Cobone </span></label>
                            <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" id="rec_cob" name="rec_cob" oninput="validate(this,0)">
                        </div>
                    </div>
                    <div class="col-md-2 d-none" id="divGro">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Group-n Add </span></label>
                            <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" id="rec_group" name="rec_group" oninput="validate(this,0)">
                        </div>
                    </div>
                    <div class="col-md-2 d-none" id="divStripe">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Stripe </span></label>
                            <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" id="rec_stripe" name="rec_stripe" oninput="validate(this,0)">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                        <textarea id="rec_notes" name="rec_notes" class="form-control" rows="5" placeholder="Enter receipts notes..."></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
                        <div class="form-group">
                            <div id="error"></div>
                        </div>
                        <div class="form-group">
                            <label class="form-label mt-1">&nbsp;<span class="text-danger" id="error_receipts"></span></label>
                        </div>
                    </div>
                </div>

                <div class="float-end mb-4">
                    <button type="button" class="btn btn-primary me-2" id="pay_receipts"><i class="si si-wallet"></i> Pay Receipts</button>
                    <button type="button" class="btn btn-outline-dark me-2" id="reset_receipts"><i class="fe fe-x"></i> Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    //#region Load Event
    $(function () {
        $("#divMultiPayOptions").hide();
        $('#reset_multi_receipt').hide();
        $('#pay_receipts').hide();
        $('#rec_chq_date').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-"
        });

        $("#rec_chq_date").bootstrapdatepicker("setDate", 'today');

        $("#rec_bt_bank").select2({
            placeholder: 'Select Bank',
            width: '100%',
            dropdownParent: $('#form_multi_receipt_pay')
        });

        $("#rec_advance").select2({
            placeholder: 'Select Advance',
            width: '100%',
            dropdownParent: $('#form_multi_receipt_pay')
        });

        $("#rec_voucher").select2({
            placeholder: 'Select Voucher',
            width: '100%',
            dropdownParent: $('#form_multi_receipt_pay')
        });

        $("#rec_loyalty").select2({
            placeholder: 'Select Loyality',
            width: '100%',
            dropdownParent: $('#form_multi_receipt_pay')
        });

        load_banks();
            load_advances();
            load_vouchers();
            load_loyalty();

            receipt_validation();
    });
    //#endregion Load Event

    $('#proceed_multi_receipt').on('click', function (e) {
        $(".chkbox").prop('disabled', true);
        $(".chkbox-inner").removeClass('bg-lime');
        $(".chkbox-inner").addClass('bg-gray');

        $("#divMultiPayOptions").show();
        $('#reset_multi_receipt').show();
        $('#proceed_multi_receipt').hide();
    });

    $('#reset_multi_receipt').on('click', function (e) {
        $(".chkbox").prop('disabled', false);
        temp_arr = [];
        $(".chkbox").prop('checked', false);
        $(".chkbox-inner").addClass('bg-lime');
        $(".chkbox-inner").removeClass('bg-gray');
        $("#inv_tab_content").html('');
    });

    //PayBy Options
    var payby = function (id, isChecked) {
            if (id == 1) { //Cash
                if (isChecked) {
                    $("#divCash").removeClass("d-none");
                }
                else {
                    $("#divCash").addClass("d-none");
                }
            }

            if (id == 2) { //Credit Card
                if (isChecked) {
                    $("#divCC").removeClass("d-none");
                    $("#divCC_Per").removeClass("d-none");
                }
                else {
                    $("#divCC").addClass("d-none");
                    $("#divCC_Per").addClass("d-none");
                }
            }

            if (id == 3) { //Cheque
                if (isChecked) {
                    $("#divCq").removeClass("d-none");
                    $("#divCqNo").removeClass("d-none");
                    $("#divCqBank").removeClass("d-none");
                    $("#divCqDate").removeClass("d-none");
                }
                else {
                    $("#divCq").addClass("d-none");
                    $("#divCqNo").addClass("d-none");
                    $("#divCqBank").addClass("d-none");
                    $("#divCqDate").addClass("d-none");
                }
            }

            if (id == 4) { //Bank Transfer
                if (isChecked) {
                    $("#divBT").removeClass("d-none");
                    $("#divBT_Bank").removeClass("d-none");
                }
                else {
                    $("#divBT").addClass("d-none");
                    $("#divBT_Bank").addClass("d-none");
                }
            }

            if (id == 5) { //Advance
                if (isChecked) {
                    $("#divAdv").removeClass("d-none");
                    $("#divAdvName").removeClass("d-none");
                }
                else {
                    $("#divAdv").addClass("d-none");
                    $("#divAdvName").addClass("d-none");
                }
            }

            if (id == 6) { //Voucher
                if (isChecked) {
                    $("#divVou").removeClass("d-none");
                }
                else {
                    $("#divVou").addClass("d-none");
                }
            }

            if (id == 7) { //Loyality
                if (isChecked) {
                    $("#divLoy").removeClass("d-none");
                    $("#divLoyCou").removeClass("d-none");
                }
                else {
                    $("#divLoy").addClass("d-none");
                    $("#divLoyCou").addClass("d-none");
                }
            }

            if (id == 8) { //Bad Debit
                if (isChecked) {
                    $("#divBD").removeClass("d-none");
                }
                else {
                    $("#divBD").addClass("d-none");
                }
            }

            if (id == 9) { //Tabby
                if (isChecked) {
                    $("#divTabby").removeClass("d-none");
                }
                else {
                    $("#divTabby").addClass("d-none");
                }
            }

            if (id == 10) { //Sofology
                if (isChecked) {
                    $("#divSoft").removeClass("d-none");
                }
                else {
                    $("#divSoft").addClass("d-none");
                }
            }

            if (id == 11) { //Spotify
                if (isChecked) {
                    $("#divSpo").removeClass("d-none");
                }
                else {
                    $("#divSpo").addClass("d-none");
                }
            }

            if (id == 12) { //Cobone
                if (isChecked) {
                    $("#divCob").removeClass("d-none");
                }
                else {
                    $("#divCob").addClass("d-none");
                }
            }

            if (id == 13) { //Group-n Add
                if (isChecked) {
                    $("#divGro").removeClass("d-none");
                }
                else {
                    $("#divGro").addClass("d-none");
                }
            }

            if (id == 14) { //Stripe
                if (isChecked) {
                    $("#divStripe").removeClass("d-none");
                }
                else {
                    $("#divStripe").addClass("d-none");
                }
            }
    }

    //Load Banks
    var load_banks = function () {
        $.ajax({
            url: '@Url.Action("BankNamesForBankTransfers", "Receipt", new { area = "Invoice" })',
            type: "GET",
            dataType: "JSON",
            async: false,
            success: function (response) {
                $('#rec_bt_bank').empty();
                var _data = response;
                if (_data.length > 0) {
                    var optNone = new Option("Select Any", "0", false, false);
                    $('#rec_bt_bank').append(optNone).trigger('change');

                    $.each(response, function (j) {
                        var label = response[j]["acc_code"] + " | " + response[j]["acc_name"] + " | " + response[j]["acc_cbal"];
                        var newOption = new Option(label, response[j]["acc_code"],  false, false);
                        $('#rec_bt_bank').append(newOption).trigger('change');
                    });

                    $('#rec_bt_bank').val("0").trigger('change');
                }
            },
            error: function (xhr) {
                console.log("Failed! Error Message : " + xhr.statusText);
            }
        })
    }

    //Load Receipt Advance
    var load_advances = function () {
        $.ajax({
            url: '@Url.Action("ReceiptAdvanceByPatId", "Receipt", new { area = "Invoice" })?patId=' + @Model[0].patId+'&rec_doctor=' + @Model[0].rec_doctor,
            type: "GET",
            dataType: "JSON",
            async: false,
            success: function (response) {
                $('#rec_advance').empty();
                var _data = response;
                if (_data.length > 0) {
                    $.each(response, function (j) {
                        var label = response[j]["rec_code"] + " | " + response[j]["rec_date"] + "| [" + response[j]["rec_amount"] + "] | " + response[j]["rec_advance"];
                        var newOption = new Option(label, response[j]["recId"],  false, false);
                        $('#rec_advance').append(newOption).trigger('change');
                    });

                    $('#rec_advance').val(0).trigger('change');
                }
            },
            error: function (xhr) {
                console.log("Failed! Error Message : " + xhr.statusText);
            }
        })
    }

    //Load Vouchers
    var load_vouchers = function () {
        $.ajax({
            url: '@Url.Action("ReceiptVouchers", "Receipt", new { area = "Invoice" })',
            type: "GET",
            dataType: "JSON",
            async: false,
            success: function (response) {
                $('#rec_voucher').empty();
                var _data = response;
                if (_data.length > 0) {
                    $.each(response, function (j) {
                        var label = response[j]["vou_code"] + " | " + response[j]["vou_edate"] + " | " + response[j]["vou_amount"];
                        var newOption = new Option(label, response[j]["vouId"],  false, false);
                        $('#rec_voucher').append(newOption).trigger('change');
                    });

                    $('#rec_voucher').val(0).trigger('change');
                }
            },
            error: function (xhr) {
                console.log("Failed! Error Message : " + xhr.statusText);
            }
        })
    }

    //Load Receipt Loyality
    var load_loyalty = function () {
        $.ajax({
            url: '@Url.Action("ReceiptLoyalityEarnsByPatId", "Receipt", new { area = "Invoice" })?patId=' + @Model[0].patId,
            type: "GET",
            dataType: "JSON",
            async: false,
            success: function (response) {
                $('#rec_loyalty').empty();
                var _data = response;
                if (_data.length > 0) {
                    $.each(response, function (j) {
                        var label = response[j]["rec_code"] + " | " + response[j]["rec_date"] + " | " + response[j]["rec_loyalty"];
                        var newOption = new Option(label, response[j]["recId"],  false, false);
                        $('#rec_loyalty').append(newOption).trigger('change');
                    });

                    $('#rec_loyalty').val(0).trigger('change');
                }
            },
            error: function (xhr) {
                console.log("Failed! Error Message : " + xhr.statusText);
            }
        })
    }

    //Receipt Validation
    var receipt_validation = function () {
        $('#rec_cash').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#rec_cc').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#rec_cc_per').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#rec_chq').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#rec_bt').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#rec_allocated').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#rec_lamount').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#rec_debit').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#rec_tabby').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#rec_self').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#rec_spoti').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#rec_cob').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#rec_group').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#rec_stripe').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });
    }

    //Bank Transfer Bank Change Event
    $('#rec_bt_bank').on('select2:select', function (e) {
        calculation_receipts();
    });

    //Advance Receipt Change Event
    $('#rec_advance').on('select2:select', function (e) {
        calculation_receipts();
    });

    //Voucher Receipt Change Event
    $('#rec_voucher').on('select2:select', function (e) {
        calculation_receipts();
    });

    //Loyalty Receipt Change Event
    $('#rec_loyalty').on('select2:select', function (e) {
        calculation_receipts();
    });

    //Calculation for Receipts
    var calculation_receipts = function () {
        var error = 0;

        var _cash = $("#rec_cash").val();
        var _cc = $("#rec_cc").val();
        var _cc_per = $("#rec_cc_per").val();
        var _chq = $("#rec_chq").val();
        var _bt = $("#rec_bt").val();
        var _allocated = $("#rec_allocated").val();
        var _vamount = 0;
        var _lamount = $("#rec_lamount").val();
        var _debit = $("#rec_debit").val();
        var _tabby = $("#rec_tabby").val();
        var _self = $("#rec_self").val();
        var _spoti = $("#rec_spoti").val();
        var _cobone = $("#rec_cob").val();
        var _group = $("#rec_group").val();
        var _stripe = $("#rec_stripe").val();

        //Voucher Amount
        if (parseInt($("#rec_voucher").val()) > 0) {
            var selected_text = $("#rec_voucher option:selected").text();
            var value_arr = selected_text.split("|");
            var amount = value_arr[2].trim().replace(" ", "");

            _vamount = amount;
        }

        //Advance Allocated
        if (($("#rec_advance").val() != null) &&
            ($("#rec_advance").val() != undefined) &&
            ($("#rec_advance").val() != "") && ($("#rec_advance").val() != NaN)) {
            var selected_text = $("#rec_advance option:selected").text();
            var value_arr = selected_text.split("|");
            var amount = value_arr[2].trim().replace(" ", "");

            if (!(parseFloat(amount) >= parseFloat(_allocated))) {
                error++;
                $("#error_receipts").html("Allocated Amount Should be less than or equal to " + amount);
                $("#rec_advance").attr("style", "border:1px solid red;color:red;");
                $("#rec_allocated").attr("style", "border:1px solid red;color:red;");
            }
            else {
                $("#error_receipts").html("");
                $("#rec_advance").attr("style", "border:1px solid #ecebf1;color:#728096;");
                $("#rec_allocated").attr("style", "border:1px solid #ecebf1;color:#728096;");
            }
        }


        //Loyalty
        if (parseInt($("#rec_loyalty").val()) > 0) {
            var selected_text = $("#rec_loyalty option:selected").text();
            var value_arr = selected_text.split("|");
            var amount = value_arr[2].trim().replace(" ", "");

            if (!(parseFloat(amount) >= parseFloat(_lamount))) {
                error++;
                $("#error_receipts").html("Loyalty Allocation be less than or equal to " + amount);
                $("#rec_loyalty").attr("style", "border:1px solid red;color:red;");
                $("#rec_lamount").attr("style", "border:1px solid red;color:red;");
            }
            else {
                $("#error_receipts").html("");
                $("#rec_loyalty").attr("style", "border:1px solid #ecebf1;color:#728096;");
                $("#rec_lamount").attr("style", "border:1px solid #ecebf1;color:#728096;");
            }
        }

        //Cheque
        if (parseFloat(_chq) > 0) {
            if (!(($("#rec_chq_no").val() != null) &&
                ($("#rec_chq_no").val() != undefined) && ($("#rec_chq_no").val() != "") &&
                ($("#rec_chq_no").val() != NaN))) {
                error++;
                $("#error_receipts").html("Cheque No is Required ");
                $("#rec_chq_no").attr("style", "border:1px solid red;color:red;");
            }
            else {
                $("#error_receipts").html("");
                $("#rec_chq_no").attr("style", "border:1px solid #ecebf1;color:#728096;");
            }

            if (!(($("#rec_chq_date").val() != null) &&
                ($("#rec_chq_date").val() != undefined) &&
                ($("#rec_chq_date").val() != "") && ($("#rec_chq_date").val() != NaN))) {
                error++;
                $("#error_receipts").html("Cheque Date is Required ");
                $("#rec_chq_date").attr("style", "border:1px solid red;color:red;");
            }
            else {
                $("#error_receipts").html("");
                $("#rec_chq_date").attr("style", "border:1px solid #ecebf1;color:#728096;");
            }

            if (!(($("#rec_chq_bank").val() != null) &&
                ($("#rec_chq_bank").val() != undefined) &&
                ($("#rec_chq_bank").val() != "") && ($("#rec_chq_bank").val() != NaN))) {
                error++;
                $("#error_receipts").html("Bank Name is Required ");
                $("#rec_chq_bank").attr("style", "border:1px solid red;color:red;");
            }
            else {
                $("#error_receipts").html("");
                $("#rec_chq_bank").attr("style", "border:1px solid #ecebf1;color:#728096;");
            }
        }

        //Bank Transfer
        if (parseFloat(_bt) > 0) {
            if (($("#rec_bt_bank").val() != null) &&
                ($("#rec_bt_bank").val() != undefined) &&
                ($("#rec_bt_bank").val() != "") &&
                ($("#rec_bt_bank").val() != NaN)) {
                $("#error_receipts").html("");
                $("#rec_bt_bank").attr("style", "border:1px solid #ecebf1;color:#728096;");

                var selected_text = $("#rec_bt_bank option:selected").text();
                var value_arr = selected_text.split("|");
                var amount = value_arr[2].trim().replace(" ", "");

                if (!(parseFloat(amount) >= parseFloat(_bt))) {
                    error++;
                    $("#error_receipts").html("Bank Transferred Should be less than or equal to " + amount);
                    $("#rec_bt").attr("style", "border:1px solid red;color:red;");
                    $("#rec_bt_bank").attr("style", "border:1px solid red;color:red;");
                }
                else {
                    $("#error_receipts").html("");
                    $("#rec_bt").attr("style", "border:1px solid #ecebf1;color:#728096;");
                    $("#rec_bt_bank").attr("style", "border:1px solid #ecebf1;color:#728096;");
                }
            }
            else {
                error++;
                $("#error_receipts").html("Bank Account is Required for Bank Transfers");
                $("#rec_bt_bank").attr("style", "border:1px solid red;color:red;");
            }
        }
        debugger;
        if (error == 0) {
            var rec_total = parseFloat(_cash) + parseFloat(_cc) + parseFloat(_chq) + parseFloat(_bt) + parseFloat(_allocated) + parseFloat(_lamount) +
                parseFloat(_debit) + parseFloat(_tabby) + parseFloat(_self) + parseFloat(_spoti) + parseFloat(_cobone) + parseFloat(_group) + parseFloat(_stripe);

            var invTotal = parseFloat(@Model.Sum(m=> m.outstanding));

            if (parseFloat(invTotal) >= parseFloat(rec_total)) {

                if (parseFloat(_vamount) > 0) {
                    rec_total = rec_total + parseFloat(_vamount);

                    if (parseFloat(invTotal) >= parseFloat(rec_total)) {
                        $("#error_receipts").html("");
                    }
                    else {
                        var selected_text = $("#rec_voucher option:selected").text();
                        var value_arr = selected_text.split("|");
                        var amount = value_arr[2].trim().replace(" ", "");

                        var balance = parseFloat(rec_total) - parseFloat(invTotal);

                        $("#error_receipts").html("<span class='text-info mt-1'><i class='fa fa-info-circle'></i><span class='ms-2'>" + balance + " AED of your voucher amount not redeemable</span></span>");
                        rec_total = invTotal;
                    }

                }
                else {
                    $("#error_receipts").html("");
                } if (parseFloat(rec_total) > 0) {
                    $('#pay_receipts').show();
                }
                else {
                    $('#pay_receipts').show();
                }


            }
            else {
                $('#pay_receipts').hide();
                $("#error_receipts").html("Receipt total is not more than invoice outstanding");
            }
        }
        else {
            $('#pay_receipts').hide();
        }
    }

    //Clear Treatments
    var clearReceipts = function () {
        $("#rec_cash").val("0.00");
        $("#rec_cc").val("0.00");
        $("#rec_cc_per").val("0.00");
        $("#rec_chq").val("0.00");
        $("#rec_chq_no").val("");
        $("#rec_chq_bank").val("");
        $("#rec_chq_date").bootstrapdatepicker("setDate", 'today');
        $("#rec_bt").val("0.00");
        $("#rec_bt_bank").val("");
        $("#rec_advance").empty();
        $("#rec_allocated").val("0.00");
        $("#rec_voucher").empty();
        $("#rec_loyalty").empty();
        $("#rec_lamount").val("0.00");
        $("#rec_debit").val("0.00");
        $("#rec_tabby").val("0.00");
        $("#rec_self").val("0.00");
        $("#rec_spoti").val("0.00");
        $("#rec_cob").val("0.00");
        $("#rec_group").val("0.00");
        $("#rec_stripe").val("0.00");
        $("#rec_notes").val("");

        $("#pay_receipts").hide();
        }

    //#region Validate Max value for Controls
    var validate = function (e, max) {
        var t = e.value;
        var j = (t.indexOf(".") >= 0) ? (t.substr(0, t.indexOf(".")) + t.substr(t.indexOf("."), 3)) : t;
        e.value = (max == 0) ? j : ((j >= max) ? max : j);
    }
    //#endregion Validate Max value for Controls

    //#region Focus In/Out Events
    $("#rec_cash").focusin(function () {
        localStorage.setItem("temp_cash", $(this).val());
    });

    $("#rec_cash").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_cash");
            calculation_receipts();
        }
        else {
            $(this).val(localStorage.getItem("temp_cash"));
            localStorage.removeItem("temp_cash");
        }
    });

    $("#rec_cc").focusin(function () {
        localStorage.setItem("temp_cc", $(this).val());
    });

    $("#rec_cc").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_cc");
            calculation_receipts();
        }
        else {
            $(this).val(localStorage.getItem("temp_cc"));
            localStorage.removeItem("temp_cc");
        }
    });

    $("#rec_cc_per").focusin(function () {
        localStorage.setItem("temp_cc_per", $(this).val());
    });

    $("#rec_cc_per").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_cc_per");
            calculation_receipts();
        }
        else {
            $(this).val(localStorage.getItem("temp_cc_per"));
            localStorage.removeItem("temp_cc_per");
        }
    });

    $("#rec_chq").focusin(function () {
        localStorage.setItem("temp_chq", $(this).val());
    });

    $("#rec_chq").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_chq");
            calculation_receipts();
        }
        else {
            $(this).val(localStorage.getItem("temp_chq"));
            localStorage.removeItem("temp_chq");
        }
    });

    $("#rec_chq_no").focusout(function () {
        calculation_receipts();
    });

    $("#rec_chq_bank").focusout(function () {
        calculation_receipts();
    });

    $("#rec_chq_date").focusout(function () {
        calculation_receipts();
    });

    $("#rec_bt").focusin(function () {
        localStorage.setItem("temp_bt", $(this).val());
    });

    $("#rec_bt").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_bt");
            calculation_receipts();
        }
        else {
            $(this).val(localStorage.getItem("temp_bt"));
            localStorage.removeItem("temp_bt");
        }
    });

    $("#rec_allocated").focusin(function () {
        localStorage.setItem("temp_allocated", $(this).val());
    });

    $("#rec_allocated").focusout(function () {
        if (($("#rec_advance").val() != null) && ($("#rec_advance").val() != undefined) && ($("#rec_advance").val() != "") && ($("#rec_advance").val() != NaN)) {
            var val = parseFloat($(this).val());
            if (val >= 0) {
                localStorage.removeItem("temp_allocated");
                calculation_receipts();
            }
            else {
                $(this).val(localStorage.getItem("temp_allocated"));
                localStorage.removeItem("temp_allocated");
            }
        }
        else {
            $(this).val("0.00");
            localStorage.removeItem("temp_allocated");
        }
    });

    $("#rec_lamount").focusin(function () {
        localStorage.setItem("temp_lamount", $(this).val());
    });

    $("#rec_lamount").focusout(function () {
        if (parseInt($("#rec_loyalty").val()) > 0) {
            var val = parseFloat($(this).val());
            if (val >= 0) {
                localStorage.removeItem("temp_lamount");
                calculation_receipts();
            }
            else {
                $(this).val(localStorage.getItem("temp_lamount"));
                localStorage.removeItem("temp_lamount");
            }
        }
        else {
            $(this).val("0.00");
            localStorage.removeItem("temp_lamount");
        }
    });

    $("#rec_debit").focusin(function () {
        localStorage.setItem("temp_debit", $(this).val());
    });

    $("#rec_debit").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_debit");
            calculation_receipts();
        }
        else {
            $(this).val(localStorage.getItem("temp_debit"));
            localStorage.removeItem("temp_debit");
        }
    });

    $("#rec_tabby").focusin(function () {
        localStorage.setItem("temp_tabby", $(this).val());
    });

    $("#rec_tabby").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_tabby");
            calculation_receipts();
        }
        else {
            $(this).val(localStorage.getItem("temp_tabby"));
            localStorage.removeItem("temp_tabby");
        }
    });

    $("#rec_self").focusin(function () {
        localStorage.setItem("temp_self", $(this).val());
    });

    $("#rec_self").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_self");
            calculation_receipts();
        }
        else {
            $(this).val(localStorage.getItem("temp_self"));
            localStorage.removeItem("temp_self");
        }
    });

    $("#rec_spoti").focusin(function () {
        localStorage.setItem("temp_spoti", $(this).val());
    });

    $("#rec_spoti").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_spoti");
            calculation_receipts();
        }
        else {
            $(this).val(localStorage.getItem("temp_spoti"));
            localStorage.removeItem("temp_spoti");
        }
    });

    $("#rec_cob").focusin(function () {
        localStorage.setItem("temp_cob", $(this).val());
    });

    $("#rec_cob").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_cob");
            calculation_receipts();
        }
        else {
            $(this).val(localStorage.getItem("temp_cob"));
            localStorage.removeItem("temp_cob");
        }
    });

    $("#rec_group").focusin(function () {
        localStorage.setItem("temp_group", $(this).val());
    });

    $("#rec_group").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_group");
            calculation_receipts();
        }
        else {
            $(this).val(localStorage.getItem("temp_group"));
            localStorage.removeItem("temp_group");
        }
    });

    $("#rec_stripe").focusin(function () {
        localStorage.setItem("temp_stripe", $(this).val());
    });

    $("#rec_stripe").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_stripe");
            calculation_receipts();
        }
        else {
            $(this).val(localStorage.getItem("temp_stripe"));
            localStorage.removeItem("temp_stripe");
        }
    });

    //#endregion Focus In/Out Events

    //Alert Timeout
    function timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }

    $('#reset_receipts').on('click', function (e) {
        clearReceipts();
    });

    $('#pay_receipts').on('click', function (e) {
        var _receipt = {
            "recId": 0,
            "rec_code": '',
            "rec_date": $("#rec_chq_date").val(),
            "rec_patient": 0,
            "rec_invoice": 0,
            "rec_cash": parseFloat($("#rec_cash").val()),
            "rec_cc": parseFloat($("#rec_cc").val()),
            "rec_cc_per": parseFloat($("#rec_cc_per").val()),
            "rec_chq": parseFloat($("#rec_chq").val()),
            "rec_chq_no": $("#rec_chq_no").val(),
            "rec_chq_date": $("#rec_chq_date").val(),
            "rec_chq_bank": $("#rec_chq_bank").val(),
            "rec_bt": parseFloat($("#rec_bt").val()),
            "rec_bt_bank": $("#rec_bt_bank").val(),
            "rec_advance": parseInt($("#rec_advance").val()),
            "rec_allocated": parseFloat($("#rec_allocated").val()),
            "rec_notes": $("#rec_notes").val(),
            "rec_madeby": 0,
            "rec_debit": parseFloat($("#rec_debit").val()),
            "rec_branch": 0,
            "rec_voucher": parseInt($("#rec_voucher").val()),
            "rec_vamount": parseFloat($("#rec_vamount").val()),
            "rec_loyalty": parseInt($("#rec_loyalty").val()),
            "rec_lamount": parseFloat($("#rec_lamount").val()),
            "rec_loy_value": parseFloat($("#rec_loy_value").val()),
            "rec_tabby": parseFloat($("#rec_tabby").val()),
            "rec_self": parseFloat($("#rec_self").val()),
            "rec_spoti": parseFloat($("#rec_spoti").val()),
            "rec_group": parseFloat($("#rec_group").val()),
            "rec_cob": parseFloat($("#rec_cob").val()),
            "rec_stripe": parseFloat($("#rec_stripe").val())
        }

        var _multiReceiptViewModal = {
            "receipts": _receipt,
            "invoices": @Html.Raw(Json.Encode(Model))
        }

        $.ajax({
            url: '@Url.Action("GenerateMultiReceipt", "Receipt", new { area = "Invoice" })',
            type: "POST",
            dataType: "json",
            data: _multiReceiptViewModal,
            async: false,
            success: function (data) {
                if (data.isSuccess) {
                    e.preventDefault();
                    e.stopPropagation();
                    $.growl.notice({
                        title: "Success",
                        message: data.message
                    });

                    $('#rec_patient').val(@Model[0].patId).trigger('change');
                    $('#rec_patient').trigger({
                        type: 'select2:select'
                    });
                }
                else {
                    let html = "<div class='alert alert-danger alert-dismissible' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='Close' aria-label='Close'>×</button>" +
                        "<strong>Error.. " + data.message + "</strong><br/>" +
                        "</div>";
                    $("#error").html(html);
                    timeout();
                }

            },
            error: function (xhr) {
                console.log(xhr);
            }
        });
    });
</script>
