@model BusinessEntities.Invoice.Receipts
@using System.Security.Claims;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var empId = claims.Where(c => c.Type == ClaimTypes.Sid).Select(c => c.Value).SingleOrDefault();
    var emp_name = claims.Where(c => c.Type == ClaimTypes.GivenName).Select(c => c.Value).SingleOrDefault();
    var emp_dept = claims.Where(c => c.Type == ClaimTypes.Locality).Select(c => c.Value).SingleOrDefault();
    var emp_department = claims.Where(c => c.Type == ClaimTypes.Surname).Select(c => c.Value).SingleOrDefault();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    var company = claims.Where(c => c.Type == ClaimTypes.PrimarySid).Select(c => c.Value).SingleOrDefault();
    var emp_branch = claims.Where(c => c.Type == ClaimTypes.GroupSid).Select(c => c.Value).SingleOrDefault();
}
<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold" id="exampleModalLongTitle">Create New Receipt</h5>
    <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body p-4">
    <form id="form_rec">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label class="form-label">Select Patient&nbsp;<span class="text-danger">*</span></label>
                    <select placeholder="Select Any" class="form-select select2 mb-2" id="rec_patient" name="rec_patient">
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group mb-2">
                    <label class="form-label font-weight-semibold">Doctor<small>(s)</small></label>
                    <select placeholder="Select Any Doctor" class="form-select select2 mb-2" id="rec_doctor" name="rec_doctor">
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group mb-0">
                    <label class="form-label"><span class="text-info">Date&nbsp;<span class="text-danger">*</span></span></label>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fe fe-calendar"></i>
                        </div>
                    </div>
                    <input type="text" id="rec_date" class="form-control font-weight-semibold" placeholder="Ex : DD-MMMM-YYYY" />
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label class="form-label"><span class="text-info">Receipt Code </span></label>
                    <input class="form-control font-weight-semibold" placeholder="Eg:Rec-0001" type="text" readonly value="@Model.rec_code">
                </div>
            </div>
        </div>
        </form>
        <div class="row m-0">
            <div class="col-lg-4 p-md-0">
                <div class="border p-0 invoicelist" id="invoicelist">
                    <div class="card-body p-0">
                        <div class="tab-menu-heading sub-panel-heading p-0 border-0">
                            <div class="tabs-menu" id="inv_tab_menu">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 p-md-0">
                <div class="panel-body tabs-menu-body p-3 invoice-print d-block invoicedetailspage" id="invoicedetailspage">
                    <div class="tab-content" id="inv_tab_content">
                    </div>
                </div>
            </div>
        </div>

</div>

<script type="text/javascript">
    var temp_arr = [];

    //#region Document Load
    $(function () {
        // Focus on select2 Dropdown

        $('#rec_date').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-"
        });

        $("#rec_date").bootstrapdatepicker("setDate", 'today');
        $("#rec_patient").select2({
            placeholder: 'Select Patient',
            width: '100%',
            dropdownParent: $('#addnew_receipt_modal'),
            minimumInputLength: 3,
            escapeMarkup: function (markup) {
                return markup;
            },
            ajax: {
                url: '@Url.Action("SearchPatients", "Receipt", new { area = "Invoice" })',
                dataType: 'json',
                delay: 250,
                data: function (query) {
                    return {
                        query: query.term
                    };
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                },
                cache: true
            }
        });
        loadDoctors();
    });
    //#endregion
    //#region Load Doctors
        var loadDoctors = function () {
            $("#rec_doctor").select2({
                placeholder: 'Select Doctor',
                width: '100%',
                maximumInputLength: 6,
                dropdownParent: $('#form_rec')
            });

            $.ajax({
                url: '@Url.Action("GetDoctorsByBranch", "Appointment", new { area = "Appointment" })?app_branch=' + @emp_branch,
                type: "GET",
                dataType: "json",
                async: false,
                success: function (response) {
                    $('#rec_doctor').empty();

                    $('#rec_doctor').append('<option value="">Select Doctor</option>');
                    $('#rec_doctor').val('-1');
                    $('#rec_doctor').trigger('change');

                    if (response.length > 0) {
                        $.each(response, function (j) {
                            var newOption = new Option(response[j]["Text"], response[j]["Value"], (response[j]["Value"] == -1) ? true : false, (response[j]["Value"] == -1) ? true : false);

                            $('#rec_doctor').append(newOption).trigger('change');
                        });
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
    //#endregion
    //#region Select Patient
    $('#rec_patient').on('select2:select', function (e) {
        $.ajax({
            url: '@Url.Action("GetPatientInvoiceList", "Invoice", new { area = "Invoice" })?patId=' + $('#rec_patient').val(),
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                var _menus = '';
                var _contents = '';
                if (response.isSuccess) {
                    var _defaultId = 0;

                    _menus += '<ul class="nav panel-tabs border-0">';
                    $.each(response.data, function (index, value) {

                        let _class = "";
                        let invId = "#invId_" + value["invId"];
                        let inv_no = value["inv_no"];
                        let rec_doctor_name = value["rec_doctor_name"];
                        let inv_date = value["inv_date"];
                        let inv_net = value["inv_net"];
                        let outstanding = value["patient_balance"];
                        let rec_count = value["rec_count"];
                        let inv_status = '';
                        let img = '';


                        let liId = "li_" + value["invId"];



                        if (index === 0) {
                            _defaultId = value["invId"];
                            _class = "active";
                        }
                        else {
                            _class = "";
                        }


                        if (value["inv_status"].toLowerCase().trim() === "paid") {
                            inv_status = '<span class="dot-label bg-success me-2 w-2 h-2"></span>Paid';
                        }
                        else if (value["inv_status"].toLowerCase().trim() === "partly paid") {
                            inv_status = '<span class="dot-label bg-warning me-2 w-2 h-2"></span>Partly Paid';
                        }
                        else if (value["inv_status"].toLowerCase().trim() === "deleted") {
                            inv_status = '<span class="dot-label bg-danger me-2 w-2 h-2"></span>Deleted';
                        }
                        else if (value["inv_status"].toLowerCase().trim() === "unpaid") {
                            inv_status = '<span class="dot-label bg-info me-2 w-2 h-2"></span>Unpaid';
                        }
                        else {
                            inv_status = '<span class="dot-label bg-dark me-2 w-2 h-2"></span>' + value["inv_status"];
                        }

                        _menus += '<div class="d-flex align-items-center">';

                        let onclick = 'onclick="load_multi_receipts_by_invoice(' + parseInt(value["invId"]) + ',\'' + inv_no + '\',' + inv_net + ',' + outstanding + ',' + rec_count + ',\'' + inv_date + '\')"';


                        _menus += '<label class="colorinput ms-4">' +
                            '<input name="color" type="checkbox" value="azure" class="colorinput-input chkbox"  id="chk_' + value["invId"] + '"' + onclick + '>' +
                                        '<span class="colorinput-color bg-lime chkbox-inner"></span> ' +
                                  '</label>';


                        _menus += '<li class="' + _class + '" onclick="load_receipts_by_invoice(' + parseInt(value["invId"]) + ')" id="' + liId + '" >' +
                            '<a class="d-flex" data-bs-toggle="tab" href="' + invId + '" aria-expanded="true">' +
                            '<div class="mt-1">' +
                            '<h5 class="mb-1 font-weight-bold mt-0">' + inv_no + ' - O/S : <span class="text-danger font-weight-bold">' + parseFloat(outstanding).toFixed(2) + ' </span> of <span class="text-info font-weight-bold">' + parseFloat(inv_net).toFixed(2) + '</span></h5>' +
                            '<p class="mb-0 text-muted">' +
                            '<span class="me-2 text-info"><i class="fe fe-calender me-2"></i> ' + moment(inv_date).format("DD-MM-YYYY | HH:mm") + '</span>' +
                            '<span class="me-1"> ' + inv_status + ' |</span>' +
                            ((parseInt(rec_count) == 0) ? '<span class="text-dark">No Receipts</span>' : '<span class="text-info">' + parseInt(rec_count) + ' receipt(s) </span>') +
                            '</p>' +
                            '<h5 class="mb-1 font-weight-bold mt-0">' + rec_doctor_name + '</h5>' +
                            '</div>' +
                            '</a>' +
                            '</li>';

                        _menus += '</div>';

                    });
                    _menus += '</ul>';

                    $("#inv_tab_menu").html(_menus);

                    if (_defaultId > 0) {
                        let el = "#li_" + _defaultId;
                        $(el).trigger("click");
                    }
                }
                else {
                    $("#inv_tab_menu").html("");
                    $("#inv_tab_content").html("");
                }
            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr);
            }
        });
    });
    //#endregion


    //#region Select Patient
        $('#rec_doctor').on('select2:select', function (e) {
            $.ajax({
                url: '@Url.Action("GetPatientInvoiceList", "Invoice", new { area = "Invoice" })?patId=' + $('#rec_patient').val() + '&empId=' + $('#rec_doctor').val(),
                type: "GET",
                dataType: "json",
                async: false,
                success: function (response) {
                    var _menus = '';
                    var _contents = '';
                    if (response.isSuccess) {
                        var _defaultId = 0;

                        _menus += '<ul class="nav panel-tabs border-0">';
                        $.each(response.data, function (index, value) {

                            let _class = "";
                            let invId = "#invId_" + value["invId"];
                            let inv_no = value["inv_no"];
                            let rec_doctor_name = value["rec_doctor_name"];
                            let inv_date = value["inv_date"];
                            let inv_net = value["inv_net"];
                            let outstanding = value["patient_balance"];
                            let rec_count = value["rec_count"];
                            let inv_status = '';
                            let img = '';


                            let liId = "li_" + value["invId"];



                            if (index === 0) {
                                _defaultId = value["invId"];
                                _class = "active";
                            }
                            else {
                                _class = "";
                            }


                            if (value["inv_status"].toLowerCase().trim() === "paid") {
                                inv_status = '<span class="dot-label bg-success me-2 w-2 h-2"></span>Paid';
                            }
                            else if (value["inv_status"].toLowerCase().trim() === "partly paid") {
                                inv_status = '<span class="dot-label bg-warning me-2 w-2 h-2"></span>Partly Paid';
                            }
                            else if (value["inv_status"].toLowerCase().trim() === "deleted") {
                                inv_status = '<span class="dot-label bg-danger me-2 w-2 h-2"></span>Deleted';
                            }
                            else if (value["inv_status"].toLowerCase().trim() === "unpaid") {
                                inv_status = '<span class="dot-label bg-info me-2 w-2 h-2"></span>Unpaid';
                            }
                            else {
                                inv_status = '<span class="dot-label bg-dark me-2 w-2 h-2"></span>' + value["inv_status"];
                            }

                            _menus += '<div class="d-flex align-items-center">';

                            let onclick = 'onclick="load_multi_receipts_by_invoice(' + parseInt(value["invId"]) + ',\'' + inv_no + '\',' + inv_net + ',' + outstanding + ',' + rec_count + ',\'' + inv_date + '\')"';


                            _menus += '<label class="colorinput ms-4">' +
                                '<input name="color" type="checkbox" value="azure" class="colorinput-input chkbox"  id="chk_' + value["invId"] + '"' + onclick + '>' +
                                            '<span class="colorinput-color bg-lime chkbox-inner"></span> ' +
                                      '</label>';


                            _menus += '<li class="' + _class + '" onclick="load_receipts_by_invoice(' + parseInt(value["invId"]) + ')" id="' + liId + '" >' +
                                '<a class="d-flex" data-bs-toggle="tab" href="' + invId + '" aria-expanded="true">' +
                                '<div class="mt-1">' +
                                '<h5 class="mb-1 font-weight-bold mt-0">' + inv_no + ' - O/S : <span class="text-danger font-weight-bold">' + parseFloat(outstanding).toFixed(2) + ' </span> of <span class="text-info font-weight-bold">' + parseFloat(inv_net).toFixed(2) + '</span></h5>' +
                                '<p class="mb-0 text-muted">' +
                                '<span class="me-2 text-info"><i class="fe fe-calender me-2"></i> ' + moment(inv_date).format("DD-MM-YYYY | HH:mm") + '</span>' +
                                '<span class="me-1"> ' + inv_status + ' |</span>' +
                                ((parseInt(rec_count) == 0) ? '<span class="text-dark">No Receipts</span>' : '<span class="text-info">' + parseInt(rec_count) + ' receipt(s) </span>') +
                                '</p>' +
                                '<h5 class="mb-1 font-weight-bold mt-0">' + rec_doctor_name + '</h5>' +
                                '</div>' +
                                '</a>' +
                                '</li>';

                            _menus += '</div>';

                        });
                        _menus += '</ul>';

                        $("#inv_tab_menu").html(_menus);

                        if (_defaultId > 0) {
                            let el = "#li_" + _defaultId;
                            $(el).trigger("click");
                        }
                    }
                    else {
                        $("#inv_tab_menu").html("");
                        $("#inv_tab_content").html("");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }
            });
        });
        //#endregion


    var load_receipts_by_invoice = function (invId) {
        $(".chkbox").prop('disabled', false);
        temp_arr = [];
        $(".chkbox").prop('checked', false);
        $(".chkbox-inner").addClass('bg-lime');
        $(".chkbox-inner").removeClass('bg-gray');

        let _contentId = "#inv_rec_" + invId;
        let inv_contentId = "invId_" + invId;

        $.ajax({
            type: "GET",
            url: "@Url.Action("InvoiceReceipts", "Receipt", new { area = "Invoice" })?invId=" + invId + "&patId=" + $("#rec_patient").val() + "&rec_date=" + moment($("#rec_date").val()).format("YYYY-MM-DD"),
            contentType: "application/json",
            dataType: "html",
            success: function (response) {
                localStorage.setItem("rec_from", "invoice_receipts");

                $("#inv_tab_content").html('');

                var _contents = '<div class="tab-pane active" id="' + inv_contentId + '">' +
                    '<div class="card-body p-0" id="' + inv_contentId + '">' +
                    response +
                    '</div>' +
                    '</div>';

                $("#inv_tab_content").html(_contents);
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });

    }

    var load_multi_receipts_by_invoice = function (invId, inv_no, inv_net, outstanding, rec_count, inv_date) {
        let inv_contentId = "invId_" + invId;

        var el = "#chk_" + invId;
        var doctor = 0;
        var isChecked = $(el).prop('checked');
        if ($('#rec_doctor').val() != "") {
            doctor = $('#rec_doctor').val()
        }

        if (isChecked) {
            var obj = {
                "invId": parseInt(invId),
                "inv_no": inv_no,
                "rec_doctor": parseInt(doctor),
                "inv_net": parseFloat(inv_net),
                "outstanding": parseFloat(outstanding),
                "rec_count": parseInt(rec_count),
                "inv_date": moment(inv_date).format("DD-MMMM-YYYY"),
                "patId": parseInt($("#rec_patient").val())
            }

            temp_arr.push(obj);
        }
        else {
            var new_arr =  $.grep(temp_arr, function (item) {
                return item["invId"] !== parseInt(invId);
            });

            temp_arr = new_arr;
        }

        if (temp_arr.length > 0) {
            console.log(temp_arr);

            $.ajax({
                type: "POST",
                url: "@Url.Action("MultiReceipts", "Receipt", new { area = "Invoice" })",
                data: { selected_invoices : temp_arr },
                dataType: "html",
                success: function (response) {
                    $("#inv_tab_content").html('');

                    var _contents = '<div class="tab-pane active" id="' + inv_contentId + '">' +
                        '<div class="card-body p-0" id="' + inv_contentId + '">' +
                        response +
                        '</div>' +
                        '</div>';

                    $("#inv_tab_content").html(_contents);

                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
        else {
            $("#inv_tab_content").html("");
        }

    };

    $(".close-modal").on('click', function (e) {
        //load_receipts();
    });
</script>