@model BusinessEntities.Invoice.ReceiptPrint

@{
    ViewBag.Title = "Print Receipt";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string amount_in_words = SecurityLayer.NumberToWords.ConvertAmount(double.Parse(Model.total.ToString()));
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>
<div class="row" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-center">
                    <img src="@Model.set_header_image" />
                </div>
                <div class="row pt-4 pb-4 mt-2">
                    <div class="col-sm-4 col-md-4 col-lg-4 text-start">
                        <h3 class="text-primary">AED @Model.total.ToString("N2")</h3>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 text-center">
                        @if (Model.rec_type.ToLower().Contains("refund"))
                        {
                            <h2 class="text-primary">REFUND VOUCHER <br /> @Model.rec_code</h2>
                        }
                        else if (Model.rec_type.ToLower() == "advance")
                        {
                            <h2 class="text-primary">ADVANCE VOUCHER <br /> @Model.rec_code</h2>
                        }
                        else if (Model.rec_type.ToLower() == "loyalty")
                        {
                            <h2 class="text-primary">LOYALTY VOUCHER <br /> @Model.rec_code</h2>
                        }
                        else
                        {
                            <h2 class="text-primary">RECEIPT VOUCHER <br /> @Model.rec_code</h2>
                        }
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 text-end">
                        <h3 class="text-primary">@Model.rec_date</h3>
                    </div>
                </div>

                <div class="dropdown-divider"></div>

                <div class="row fs-15">
                    <div class="col-sm-12 col-md-12 col-lg-12 mt-2">
                        Receive from Mr./Mrs./M/s.<strong class="ms-2 text-info fs-15">@Model.pat_code - @Model.pat_name</strong>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 mt-2">
                        The sum of :<strong class="ms-2 text-info fs-15">@amount_in_words</strong>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 mt-2">
                        @{
                            <span class="me-2"> By Cash :</span><strong class="ms-2 text-info fs-15">@Model.rec_cash.ToString("N2")</strong>

                            if (Model.rec_cc > 0)
                            {
                                <span class="me-2 ms-2">/ By Credit Card  :</span><strong class="ms-2 text-info fs-15">@Model.rec_cc.ToString("N2")</strong>
                            }
                            if (Model.rec_chq > 0)
                            {
                                <span class="me-2 ms-2">/ By Cheque  :</span><strong class="ms-2 text-info fs-15">@Model.rec_chq.ToString("N2")</strong>
                            }
                            if (Model.rec_bt > 0)
                            {
                                <span class="me-2 ms-2">/ By Bank Transfer  :</span><strong class="ms-2 text-info fs-15">@Model.rec_bt.ToString("N2")</strong>
                            }
                            if (Model.rec_allocated > 0)
                            {
                                <span class="me-2 ms-2">/ By Allocated  :</span><strong class="ms-2 text-info fs-15">@Model.rec_allocated.ToString("N2")</strong>
                            }
                            if (Model.rec_debit > 0)
                            {
                                <span class="me-2 ms-2">/ By Bad Debit  :</span><strong class="ms-2 text-info fs-15">@Model.rec_debit.ToString("N2")</strong>
                            }
                            if (Model.rec_tabby > 0)
                            {
                                <span class="me-2 ms-2">/ By Tabby   :</span><strong class="ms-2 text-info fs-15">@Model.rec_tabby.ToString("N2")</strong>
                            }
                            if (Model.rec_self > 0)
                            {
                                <span class="me-2 ms-2">/ By Selfology   :</span><strong class="ms-2 text-info fs-15">@Model.rec_self.ToString("N2")</strong>
                            }
                            if (Model.rec_spoti > 0)
                            {
                                <span class="me-2 ms-2">/ By Spotify   :</span><strong class="ms-2 text-info fs-15">@Model.rec_spoti.ToString("N2")</strong>
                            }
                            if (Model.rec_cob > 0)
                            {
                                <span class="me-2 ms-2">/ By Cobone   :</span><strong class="ms-2 text-info fs-15">@Model.rec_cob.ToString("N2")</strong>
                            }
                            if (Model.rec_group > 0)
                            {
                                <span class="me-2 ms-2">/ By Group-N-Add   :</span><strong class="ms-2 text-info fs-15">@Model.rec_group.ToString("N2")</strong>
                            }
                            if (Model.rec_stripe > 0)
                            {
                                <span class="me-2 ms-2">/ By Stripe   :</span><strong class="ms-2 text-info fs-15">@Model.rec_stripe.ToString("N2")</strong>
                            }
                        }
                    </div>
                </div>

                @if (Model.rec_cc > 0)
                {
                    if (Model.rec_cc_per > 0)
                    {
                        <div class="row pt-4 pb-4 mt-4 fs-15">
                            <div class="col-sm-12 col-md-12 col-lg-12 text-start">
                                <strong class="me-2"> Bank Charges of (%) :</strong>
                                <span class="text-info">@Model.rec_cc_per.ToString("N2")</span>
                            </div>
                        </div>
                    }
                }

                @if (Model.rec_chq > 0)
                {
                    <div class="row pt-4 pb-4 mt-4 fs-15">
                        <div class="col-sm-12 col-md-12 col-lg-12 text-start">
                            <strong class="me-2"> Cheque Number :</strong>
                            <span class="text-info">@Model.rec_chq_no</span>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 text-start">
                            <strong class="me-2">Bank :</strong>
                            <span class="text-info">@Model.rec_chq_bank</span>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 text-start">
                            <strong class="me-2">Cheque Date :</strong>
                            <span>@Model.rec_chq_date.ToString("dd-MM-yyyy")</span>
                        </div>
                    </div>
                }
                <div class="row pt-4 pb-4 mt-4 fs-15">
                    <div class="col-sm-12 col-md-12 col-lg-12 text-start">
                        <strong class="me-2">Notes:</strong>
                        <span class="text-info">@Model.rec_notes</span>
                    </div>                   
                </div>
                <div class="row pt-4 pb-4 mt-4 fs-15">
                    <div class="col-sm-6 col-md-6 col-lg-6 text-start">
                        <strong class="me-2">Receipt By</strong>
                        <span class="text-info">@Model.madeby_name</span>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 text-end">
                        <strong class="me-2">Print Date</strong>
                        <span>@DateTime.Now.ToString("dd-MMM-yyyy HH:mm:ss")</span>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="text-center">
                    <img src="@Model.set_footer_image" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //#region Print Receipt
    $('#btnPrint').on('click', function (e) {
        var elem = 'printDiv';
        var header_str = '<html><head><title>' + document.title + '</title></head><body>';
        var footer_str = '</body></html>';
        var new_str = document.getElementById(elem).innerHTML;
        var old_str = document.body.innerHTML;
        document.body.innerHTML = header_str + new_str + footer_str;
        window.print();
        document.body.innerHTML = old_str;
        return false;
    });
    //#endregion
</script>

