@model List<BusinessEntities.Invoice.ReceiptAudit>
@{ string rec_code = "";}
<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold" id="exampleModalLongTitle">Receipt Audit Logs </h5>
    <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body p-4">
    <div class="row">
        @if (Model.Any())
        {
            <div class="col-md-12 col-lg-12">
                <div class="table-responsive" style="min-height:unset;">
                    <table id="tbl_rec_logs" class="table table-bordered text-nowrap resize-table" style="width:100%;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #5b73e8; border-color: #5b73e8;">
                                <th class="border-bottom-0 font-weight-semibold text-white">Code</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Date</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Type</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Cash</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">CC</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Chq</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">BT</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">All.</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Debit</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Voucher</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Loyalty</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Tabby</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Self.</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Spoti.</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Group.</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Cobone</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Stripe</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Status</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Operation</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Log Date &amp; Time</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Made By</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (BusinessEntities.Invoice.ReceiptAudit dr in Model)
                            {
                                rec_code = dr.reca_code;
                                <tr>
                                    <td class="fs-13">@dr.reca_code</td>
                                    <td class="fs-13">@dr.reca_date</td>
                                    <td class="fs-13">@dr.reca_type</td>
                                    <td class="fs-13 text-end">@dr.reca_cash.ToString("N2")</td>
                                    <td class="fs-13 text-end">@dr.reca_cc.ToString("N2")</td>
                                    <td class="fs-13 text-end">@dr.reca_chq.ToString("N2")</td>
                                    <td class="fs-13 text-end">@dr.reca_bt.ToString("N2")</td>
                                    <td class="fs-13 text-end">@dr.reca_allocated.ToString("N2")</td>
                                    <td class="fs-13 text-end">@dr.reca_debit.ToString("N2")</td>
                                    <td class="fs-13 text-end">@dr.reca_vamount.ToString("N2")</td>
                                    <td class="fs-13 text-end">@dr.reca_lamount.ToString("N2")</td>
                                    <td class="fs-13 text-end">@dr.reca_tabby.ToString("N2")</td>
                                    <td class="fs-13 text-end">@dr.reca_self.ToString("N2")</td>
                                    <td class="fs-13 text-end">@dr.reca_spoti.ToString("N2")</td>
                                    <td class="fs-13 text-end">@dr.reca_group.ToString("N2")</td>
                                    <td class="fs-13 text-end">@dr.reca_cob.ToString("N2")</td>
                                    <td class="fs-13 text-end">@dr.reca_stripe.ToString("N2")</td>
                                    <td class="fs-13">@dr.reca_status.ToString() <br /> @dr.reca_status2.ToString()</td>
                                    @if (dr.reca_operation == "Inserted")
                                    {
                                        <td class="fs-13 bg-success-transparent-2 font-weight-semibold">@dr.reca_operation</td>
                                        <td class="fs-13 bg-success-transparent-2 font-weight-semibold">@dr.reca_date_modified</td>
                                        <td class="fs-13 bg-success-transparent-2 font-weight-semibold">@dr.reca_madeby_name</td>
                                    }
                                    else if (dr.reca_operation == "Updated")
                                    {
                                        <td class="fs-13 bg-warning-transparent-2 font-weight-semibold">@dr.reca_operation</td>
                                        <td class="fs-13 bg-warning-transparent-2 font-weight-semibold">@dr.reca_date_modified</td>
                                        <td class="fs-13 bg-warning-transparent-2 font-weight-semibold">@dr.reca_madeby_name</td>
                                    }
                                    else
                                    {
                                        <td class="fs-13 bg-danger-transparent-2 font-weight-semibold">@dr.reca_operation</td>
                                        <td class="fs-13 bg-danger-transparent-2 font-weight-semibold">@dr.reca_date_modified</td>
                                        <td class="fs-13 bg-danger-transparent-2 font-weight-semibold">@dr.reca_madeby_name</td>
                                    }
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th class="border-bottom-0 font-weight-bold text-primary" colspan="3"></th>
                                <th class="border-bottom-0 font-weight-bold text-primary text-end">@Model.Sum(e => e.reca_cash).ToString("N2")</th>
                                <th class="border-bottom-0 font-weight-bold text-primary text-end">@Model.Sum(e => e.reca_cc).ToString("N2")</th>
                                <th class="border-bottom-0 font-weight-bold text-primary text-end">@Model.Sum(e => e.reca_chq).ToString("N2")</th>
                                <th class="border-bottom-0 font-weight-bold text-primary text-end">@Model.Sum(e => e.reca_bt).ToString("N2")</th>
                                <th class="border-bottom-0 font-weight-bold text-primary text-end">@Model.Sum(e => e.reca_allocated).ToString("N2")</th>
                                <th class="border-bottom-0 font-weight-bold text-primary text-end">@Model.Sum(e => e.reca_debit).ToString("N2")</th>
                                <th class="border-bottom-0 font-weight-bold text-primary text-end">@Model.Sum(e => e.reca_vamount).ToString("N2")</th>
                                <th class="border-bottom-0 font-weight-bold text-primary text-end">@Model.Sum(e => e.reca_lamount).ToString("N2")</th>
                                <th class="border-bottom-0 font-weight-bold text-primary text-end">@Model.Sum(e => e.reca_tabby).ToString("N2")</th>
                                <th class="border-bottom-0 font-weight-bold text-primary text-end">@Model.Sum(e => e.reca_self).ToString("N2")</th>
                                <th class="border-bottom-0 font-weight-bold text-primary text-end">@Model.Sum(e => e.reca_spoti).ToString("N2")</th>
                                <th class="border-bottom-0 font-weight-bold text-primary text-end">@Model.Sum(e => e.reca_group).ToString("N2")</th>
                                <th class="border-bottom-0 font-weight-bold text-primary text-end">@Model.Sum(e => e.reca_cob).ToString("N2")</th>
                                <th class="border-bottom-0 font-weight-bold text-primary text-end">@Model.Sum(e => e.reca_stripe).ToString("N2")</th>
                                <th class="border-bottom-0 font-weight-bold text-primary" colspan="4"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        }
        else
        {
            <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
                <div class="alert alert-light-info alert-dismissiblefade show" role="alert">
                    <strong><i class="fa fa-exclamation-circle pt-2"></i> Info!&nbsp;</strong> Receipt Log(s) Not Available!
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    //#region Document Load
    $(function () {
        var table = $('#tbl_rec_logs').DataTable({
            lengthChange: true,
            buttons: [
                {
                    extend: 'excel',
                    title: 'Receipt Audit Logs',
                    footer: 'true',
                    className: 'btn-secondary',
                    exportOptions: {
                        columns: [0, 2, 4]
                    },
                    action: function (e, dt, node, config) {
                        $.fn.dataTable.ext.buttons.excelHtml5.action.call(this, e, dt, node, config);
                        exportLogs("Employee Exported Receipt Audit Logs for @rec_code to Excel!");
                    }
                },
                {
                    extend: 'pdf',
                    title: 'Receipt Audit Logs',
                    footer: 'true',
                    className: 'btn-secondary',
                    exportOptions: {
                        columns: [0, 2, 4]
                    },
                    action: function (e, dt, node, config) {
                        $.fn.dataTable.ext.buttons.pdfHtml5.action.call(this, e, dt, node, config);
                        exportLogs("Employee Exported Receipt Audit Logs for @rec_code to PDF!");
                    }
                },
                {
                    extend: 'csv',
                    title: 'Receipt Audit Logs',
                    footer: 'true',
                    className: 'btn-secondary',
                    exportOptions: {
                        columns: [0, 2, 4]
                    },
                    action: function (e, dt, node, config) {
                        $.fn.dataTable.ext.buttons.csvHtml5.action.call(this, e, dt, node, config);
                        exportLogs("Employee Exported Receipt Audit Logs for @rec_code to CSV!");
                    }
                },
                {
                    extend: 'print',
                    title: 'Receipt Audit Logs',
                    className: 'btn-secondary',
                    footer: 'true',
                    exportOptions: {
                        columns: [0, 2, 4]
                    },
                    action: function (e, dt, node, config) {
                        $.fn.dataTable.ext.buttons.print.action.call(this, e, dt, node, config);
                        exportLogs("Employee Printed Receipt Audit Logs for @rec_code!");
                    }
                }
            ],
            order: [[19, 'desc']],
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '<span class="text-primary font-weight-semi-bold">Search Logs</span>',
                lengthMenu: '_MENU_ ',
            }
        });
        table.buttons().container().appendTo('#tbl_rec_logs_wrapper .col-md-6:eq(0)');
    });
    //#endregion
</script>
