@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Dmax Prp Consent";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PRP CONSENT FORM</h3>
            </div>
            <div class="card-body">
                <div id="DmaxPrpConsent_add" style="display:none">
                </div>
                <div id="DmaxPrpConsent_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="DmaxPrpConsent_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetDmaxPrpConsentInfo();
        DmaxPrpConsentPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetDmaxPrpConsentInfo
    var GetDmaxPrpConsentInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetDmaxPrpConsentData", "DmaxPrpConsent", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditDmaxPrpConsent();
                        $("#DmaxPrpConsent_add").hide();
                        $("#DmaxPrpConsent_edit").show();

                    }
                    else {
                        $("#DmaxPrpConsent_add").show();
                        $("#DmaxPrpConsent_edit").hide();
                        AddDmaxPrpConsent();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load DmaxPrpConsent

    //#region Add DmaxPrpConsent
    function AddDmaxPrpConsent() {
        var x = $("#DmaxPrpConsent_add");
        x.load("@Url.Action("CreateDmaxPrpConsent", "DmaxPrpConsent", new { area = "ConsentForms" })", function () {
    });
    }
    //#endregion Add DmaxPrpConsent

    // #region Update DmaxPrpConsent
    function EditDmaxPrpConsent() {
        var x = $("#DmaxPrpConsent_edit");
        x.load("@Url.Action("UpdateDmaxPrpConsent", "DmaxPrpConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
    });
    }
    //#endregion Update DmaxPrpConsent

    // #region History of DmaxPrpConsent
    function DmaxPrpConsentPreviousHistory() {
        var x = $("#DmaxPrpConsent_history");
        x.load("@Url.Action("DmaxPrpConsentPreviousHistory", "DmaxPrpConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
    });
    }
    //#endregion History of DmaxPrpConsent
</script>