@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConsentForms.MinorsPsychotherapyConsent

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_MinorsPsychotherapyConsentEdit" autocomplete="off" name="MinorsPsychotherapyConsent" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4 col-sm-12 col-md-12 col-lg-12 text-justify">
        <p>
            Welcome to The <label class="text-red">@emr.set_company</label>. As part of our therapeutic working relationship, we wish
            to make clear the rights and responsibilities we share. The following is intended to provide you with
            information concerning the manner in which this center operates. Please read the following information
            carefully. If you have any questions, please do not hesitate to bring them to the attention of your therapist.
            Psychologists are required by law to provide this information to patients.
        </p>
        <p class="fw-bold">ADMINISTRATION OF PRACTICE</p>
        <p>
            At the <label class="text-red">@emr.set_company</label>, we are a team of licensed psychologists registered by the Dubai Health Authority.
            We are also licensed in the country where we completed our training and abide by the rules and regulations
            guiding ethical practice set out by our respective psychological organizations. Should you have any
            complaints regarding the service you receive, do not hesitate to bring your concerns to the attention of the
            clinic director, Dr. Katerine LeMay, Ph.D., C. Psych.
        </p>
        <p class="fw-bold">FEES AND DURATION</p>
        <p>
            Psychotherapy typically takes place over a period of time. The number of sessions depends on the
            recommendation of the clinician and is normally 50 minutes in duration per session. Fees for all clinical
            services are billed at an hourly rate and paid at the end of each session by credit card; cheques are not
            accepted. Further, with regards to insurance companies, services are on a pay-and-claim basis.
            Consequently, all claims will have to be put through by the patient/parent. To assist us, kindly bring along
            the claim form and present it to the therapist at the beginning of the session.
        </p>
        <p class="fw-bold">APPOINTMENT CANCELLATION POLICY</p>
        <p>
            The appointment time is held exclusively for your child/you. If the person whom the appointment is booked
            for arrives late, the session cannot be extended. The session will be charged in full if we don’t receive the
            cancellation within 24hrs of the appointed time. Insurance does not pay for any part of missed
            appointments.
        </p>
        <p class="fw-bold">COMMITMENT TO CHANGE</p>
        <p>
            Effective psychotherapy requires a commitment to change. As with other efforts, you will get out of it what
            you put into it. Our therapists value building a safe, confidential, and non-judgmental therapeutic
            relationship to facilitate the exploration and resolution of difficult feelings, emotional reactions, and
            problematic thoughts and behaviors negatively impacting your life. Should you feel that your needs are not
            being met, we ask that you discuss these with your therapist. You are free to terminate services at any time.
            Should you wish to do so, please inform your therapist so that your file may be closed, and any planned
            appointments cancelled
        </p>
        <p class="fw-bold">QUESTIONNAIRES</p>
        <p>
            You may be asked to answer one or more questionnaires. The purpose of this is to help in your assessment
            and to provide additional information that will help in your treatment. You are not obligated to answer these
            questionnaires.
        </p>
        <p class="fw-bold">SERVICES FOR MINORS (THOSE BELOW 18 YEARS OF AGE)</p>
        <p>
            Parents have the right to access the records of their children who are under 18 years. However, to maintain
            the effectiveness of services, we request that parents limit their access to general information only, except
            when there is risk of harm (at which point the therapist is required to inform the consenting caregiver). It is
            not unusual for the clinicians to provide feedback and meet with parents as per need or as discussed. For
            children of divorced or separated parents, consent for services must be provided by the custodian, unless
            legal documents are furnished which prove other arrangements. Our therapists will not communicate with
            lawyers for either parent or guardian. If custody is shared, the clinician may share any information provided
            by one parent with the other.
        </p>
        <p class="fw-bold">BENEFITS AND RISKS ASSOCIATED WITH PSYCHOTHERAPY</p>
        <p>
            Benefits include emotional support, improved mental health, enhanced self-awareness and personal
            growth, improved relationships, and support during life transitions. It provides a safe space for individuals to
            express themselves, work through mental health concerns, and develop coping strategies. Psychotherapy
            can lead to positive changes, increased self-acceptance, and better communication skills.
        </p>
        <p>
            However, there are risks and limitations to consider. Engaging in therapy can evoke discomfort as
            individuals confront difficult experiences. Immediate solutions should not be expected, as therapy is
            typically a gradual process. There is a small risk of encountering unethical practitioners, so it's crucial to
            research and choose qualified professionals. Therapy requires a commitment of time, energy, and financial
            resources. It may not be the sole solution for every mental health concern, and some conditions may
            require additional interventions. It's important to have open communication with your therapist to discuss
            potential benefits, risks, and individual concerns before starting therapy.
        </p>
        <p class="fw-bold">CONFIDENTIALITY </p>
        <p>
            The matters you discuss with your therapist are, except in highly unusual circumstances, completely
            confidential. Information about your situation will not be divulged to anyone without your permission.
            There are, however, situations in which confidentiality cannot be maintained:
        </p>
        <p>
            <ol class="listorder" style="border:none;">
                <li class="listorder" style="border:none">If your therapist believes that you are at serious risk of harming yourself or someone else.</li>
                <li class="listorder" style="border:none">If your therapist receives information about child abuse (physical, sexual, emotional), or neglect.</li>
                <li class="listorder" style="border:none">
                    If ordered to do so by the court, the Dubai Health Authority, and the Community Development
                    Authority, your therapist or clinic management must surrender the information they request.
                </li>
                <li class="listorder" style="border:none">
                    If your therapist receives information about the inappropriate sexual conduct of a regulated health
                    professional.
                </li>
                <li class="listorder" style="border:none">
                    If the Dubai Health Authority and or the Community Development Authority requests to see your file
                    during a facility inspection.
                </li>
            </ol>
        </p>
        <p>
            We would like to inform you that data breaches may occur unexpectedly when using online video
            platforms, emails, and social media. Should you communicate personal information using these modes
            of communication we will assume that you have made an informed decision.
        </p>
        <p>
            Our clinicians may consult with other professionals about your case. These individuals are bound to a
            confidentiality agreement with the <label class="text-red">@emr.set_company</label>. Patients and consent providers
            have the right to refuse such agreements.
        </p>
        <p>
            By signing below, you attest that you have read and understood the information written on both pages
            of this document and that a copy has been provided to you for your personal records.
        </p>
        <p class="fw-bold">
            DEMOGRAPHIC INFORMATION
        </p>
        <p>
            Thank you for completing this questionnaire. Please note that the information gathered remains
            confidential and is only used for the purpose of providing services.
        </p>
        <div class="col-sm-12 col-md-12 col-lg-3 mb-2 mt-2">
            <label> Relationship Status<span class="text-red">*</span>:</label>
            @Html.TextBoxFor(m => m.mpc_RelationshipStatus, new { @class = "form-control", @id = "umpc_RelationshipStatus", @width = "20px" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3 mb-2 mt-2">
            <label> Preferred language for session:<span class="text-red">*</span></label>
            @Html.TextBoxFor(m => m.mpc_session, new { @class = "form-control", @id = "umpc_session", @width = "20px" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2">
            <label>
                How long have you been living in Dubai?<span class="text-red">*</span>
            </label>
            @Html.TextBoxFor(m => m.mpc_living, new { @class = "form-control", @id = "umpc_living", @width = "20px" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            Insurance provider:
            <label class="text-red">@emr.ic_name</label>
        </div>
        <div class="row mb-2 mt-2 d-flex align-items-center">
            <div class="col-lg-2">Did a physician or psychiatrist refer you?</div>
            <div class="col-lg-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="umpc_radio1" id="umpc_radio11" value="Yes">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="umpc_radio1" id="umpc_radio12" value="No">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            If yes, please provide their name<span class="text-red">*</span>:
            @Html.TextBoxFor(m => m.mpc_provider, new { @class = "form-control", @id = "umpc_provider", @width = "20px" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            <div class="row d-flex gap-4 align-items-center">
                <div class="fw-bold">Type of service:</div>
                <div class="col-lg-2">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                            <input type="checkbox" class="custom-control-input" name="umpc_chk1" id="umpc_chk11" value="1">
                            <span class="custom-control-label">Individual</span>
                        </label>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                            <input type="checkbox" class="custom-control-input" name="umpc_chk1" id="umpc_chk12" value="2">
                            <span class="custom-control-label">Couples Therapy</span>
                        </label>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                            <input type="checkbox" class="custom-control-input" name="umpc_chk1" id="umpc_chk13" value="3">
                            <span class="custom-control-label">Single Consultation</span>
                        </label>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                            <input type="checkbox" class="custom-control-input" name="umpc_chk1" id="umpc_chk14" value="4">
                            <span class="custom-control-label">Other</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            <div class="row d-flex gap-4 align-items-center">
                <div class="fw-bold">Preferred means of contact: </div>
                <div class="col-lg-2">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                            <input type="checkbox" class="custom-control-input" name="umpc_chk2" id="umpc_chk21" value="5">
                            <span class="custom-control-label">Mobile</span>
                        </label>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                            <input type="checkbox" class="custom-control-input" name="umpc_chk2" id="umpc_chk22" value="6">
                            <span class="custom-control-label">Whatsapp</span>
                        </label>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                            <input type="checkbox" class="custom-control-input" name="umpc_chk2" id="umpc_chk23" value="7">
                            <span class="custom-control-label">Email</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-2 mt-2 d-flex align-items-center">
            <div class="col-2">First time seeking therapy?</div>
            <div class="col-lg-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="umpc_radio2" id="umpc_radio21" value="Yes">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="umpc_radio2" id="umpc_radio22" value="No">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2 fw-bold">
            EMERGENCY CONTACT
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
            Name<span class="text-red">*</span>: @Html.TextBoxFor(m => m.mpc_name, new { @class = "form-control", @id = "umpc_name", @width = "20px" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
            Mobile Number<span class="text-red">*</span>:
            @Html.TextBoxFor(m => m.mpc_mobile, new { @class = "form-control", @id = "umpc_mobile", @width = "20px" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
            Relationship<span class="text-red">*</span>:
            @Html.TextBoxFor(m => m.mpc_Relationship, new { @class = "form-control", @id = "umpc_Relationship", @width = "20px" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2 fw-bold">Were you ever prescribed the following:</div>
        <div class="row mb-2 mt-2 d-flex align-items-center">
            <div class="col-lg-2">Anti-depressants</div>
            <div class="col-lg-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="umpc_radio3" id="umpc_radio31" value="Yes">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="umpc_radio3" id="umpc_radio32" value="No">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-4 mb-2 mt-2">
                If yes, please specify the name of the medication:
                @Html.TextBoxFor(m => m.mpc_medication1, new { @class = "form-control", @id = "umpc_medication1", @width = "20px" })
            </div>
            <div class="col-lg-4 mb-2 mt-2">
                date and duration:
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fe fe-calendar"></i>
                        </div>
                    </div>
                    <input id="umpc_date1" class="form-control" placeholder="DD-MMM-YYYY" type="text" autocomplete="off">
                </div>
            </div>
        </div>
        <div class="row mb-2 mt-2 d-flex align-items-center">
            <div class="col-lg-2">Anti-anxiet</div>
            <div class="col-lg-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="umpc_radio4" id="umpc_radio41" value="Yes">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="umpc_radio4" id="umpc_radio42" value="No">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
                If yes, please specify the name of the medication:
                @Html.TextBoxFor(m => m.mpc_medication2, new { @class = "form-control", @id = "umpc_medication2", @width = "20px" })
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
                date and duration:
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fe fe-calendar"></i>
                        </div>
                    </div>
                    <input id="umpc_date2" class="form-control" placeholder="DD-MMM-YYYY" type="text" autocomplete="off">
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            Other<span class="text-red">*</span>: @Html.TextBoxFor(m => m.mpc_other, new { @class = "form-control", @id = "umpc_other", @width = "20px" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            Describe your physical health in general (Do you have pain, suffer from irritable bowel syndrome or
            other digestive problems, heart problems, etc.?)<span class="text-red">*</span>: @Html.TextAreaFor(m => m.mpc_general, new { @class = "form-control", @id = "umpc_general", @width = "20px" })
        </div>
    </div>
    <div class="row mt-2 table-responsive">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="3" class="font-weight-bold text-danger fs-18" width="100%">
                        Sign here, only if all of your questions have been answered to your satisfaction
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <div id="upat_sign_box">
                            <img alt="Signature" src="" id="upat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <div id="uwit_sign_box">
                            <img alt="stamp" id="uwit_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold"> Patient Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="psb_date_patient" name="">&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                    <td width="33%">
                        @Html.TextBoxFor(m => m.mpc_wit, new { @class = "form-control text-center", @id = "umpc_wit", @width = "20px" })
                        <span class="font-weight-semibold">Witness Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="psb_date_witness" name="">&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize">@emr.doc_name&nbsp;</label>
                        <span class="font-weight-semibold">Doctor’s Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="umpc_date_doctor">&nbsp;@Model.mpc_date_modified</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue" width="33%">
                        Patient/Relationship  Signature
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue" width="33%">
                        Witness Signature
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> witness
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('witness')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('witness')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center" width="33%">Doctor’s Signature</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update">Save Changes</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                <button type="button" class="btn btn-danger btn-sm" id="btn_DeleteForm">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print"> Download/Print </button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    // region page load

    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Update").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Update").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Update").show();
                }
                else {
                    $("#btn_Update").hide();
                }
            }
        }

        validate();
        GetSignaturename('patient');
        GetSignaturename('witness');
        GetRadioValues();
        GetCheckedValues();


        $('#umpc_date1').bootstrapdatepicker({
         format: "dd-MM-yyyy",
         viewMode: "date",
         todayHighlight: true,
         autoclose: true,
         multidate: false,
         multidateSeparator: "-"
     });
     $("#umpc_date1").bootstrapdatepicker("setDate", moment(new Date("@Model.mpc_date1")).format("DD-MMMM-YYYY"));

    $('#umpc_date2').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
           multidateSeparator: "-"
    });
    $("#umpc_date2").bootstrapdatepicker("setDate", moment(new Date("@emr.today")).format("DD-MMMM-YYYY"));

        $("#umpc_radio11").on("change", function () {
            if ($(this).is(":checked")) {
                $("#umpc_provider").removeAttr("disabled");
            }
        });

        $("#umpc_radio12").on("change", function () {
            if ($(this).is(":checked")) {
                $("#umpc_provider").attr("disabled", "true");
            }
        });

        $("#umpc_radio31").on("change", function () {
            if ($(this).is(":checked")) {
                $("#umpc_medication1").removeAttr("disabled");
            }
        });

        $("#umpc_radio32").on("change", function () {
            if ($(this).is(":checked")) {
                $("#umpc_medication1").attr("disabled", "true");
            }
        });

        $("#umpc_radio41").on("change", function () {
            if ($(this).is(":checked")) {
                $("#umpc_medication2").removeAttr("disabled");
            }
        });

        $("#umpc_radio42").on("change", function () {
            if ($(this).is(":checked")) {
                $("#umpc_medication2").attr("disabled", "true");
            }
        });

    });

    //#region Validation Initialization
    var validate = function () {
        $("#form_MinorsPsychotherapyConsentEdit").validate({
            rules: {
                mpc_wit: {
                    required: true
                },
            },
            messages: {
                mpc_wit: {
                    required: "Please Enter Enter Witness Name"
                },
            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });


    }
   //#endregion

    //#region Update  Click
    $('#btn_Update').on('click', function (e) {
        e.preventDefault();
        if ($("#form_MinorsPsychotherapyConsentEdit").valid()) {
            console.log($("#mpcId").val());
        $('#btn_Update').removeClass("btn btn-sm btn-success");
        $('#btn_Update').addClass("btn btn-sm btn-success btn-loaders btn-icon");
        $('#btn_Update').html("Updating the Record....");



            var umpc_chk1_ = $.map($(':checkbox[name=umpc_chk1]:checked'), function (n, i) {
                return n.value;
            }).join(',');
            console.log(umpc_chk1_);

            var umpc_chk2_ = $.map($(':checkbox[name=umpc_chk2]:checked'), function (n, i) {
                return n.value;
            }).join(',');
            console.log(umpc_chk2_);



            var umpc_radio1 = "";

            if ($('#umpc_radio11').prop('checked')) {
                umpc_radio1 = "Yes";
            }
            else if ($('#umpc_radio12').prop('checked')) {
                umpc_radio1 = "No";
            }



            var umpc_radio2 = "";

            if ($('#umpc_radio21').prop('checked')) {
                umpc_radio2 = "Yes";
            }
            else if ($('#umpc_radio22').prop('checked')) {
                umpc_radio2 = "No";
            }

            var umpc_radio3 = "";

            if ($('#umpc_radio31').prop('checked')) {
                umpc_radio3 = "Yes";
            }
            else if ($('#umpc_radio32').prop('checked')) {
                umpc_radio3 = "No";
            }


            var umpc_radio4 = "";

            if ($('#umpc_radio41').prop('checked')) {
                umpc_radio4 = "Yes";
            }
            else if ($('#umpc_radio42').prop('checked')) {
                umpc_radio4 = "No";
            }





            var _dateInsert = {
                  "mpcId": 0,
                  "mpc_appId": @emr.appId,
                  "mpc_wit": $("#umpc_wit").val(),
                  "mpc_RelationshipStatus": $("#umpc_RelationshipStatus").val(),
                  "mpc_session": $("#umpc_session").val(),
                  "mpc_living": $("#umpc_living").val(),
                  "mpc_radio1": umpc_radio1,
                  "mpc_chk1": umpc_chk1_,
                  "mpc_chk2": umpc_chk2_,
                  "mpc_radio2": umpc_radio2,
                  "mpc_name": $("#umpc_name").val(),
                  "mpc_mobile": $("#umpc_mobile").val(),
                  "mpc_Relationship": $("#umpc_Relationship").val(),
                  "mpc_radio3": umpc_radio3,
                  "mpc_date1": $("#umpc_date1").val(),
                  "mpc_radio4": umpc_radio4,
                  "mpc_date2": $("#umpc_date2").val(),
                  "mpc_other": $("#umpc_other").val(),
                  "mpc_general": $("#umpc_general").val(),
                "mpc_provider": $("#umpc_provider").val(),
                "mpc_medication1": $("#umpc_medication1").val(),
                "mpc_medication2": $("#umpc_medication2").val(),

              "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
        }
            console.log(_dateInsert);

            $.ajax({
                type: "Post",
                url: "@Url.Action("EditMinorsPsychotherapyConsent", "MinorsPsychotherapyConsent", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Update').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-success");
                    $('#btn_Update').html("Save Changes");



                    if (data.isSuccess) {
                        if (data.isEdited) {
                            GetMinorsPsychotherapyConsentInfo();
                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>Minors Psychotherapy Consent Updated Successfully!", "success");

                            Timeout();
                            $("#MinorsPsychotherapyConsent_edit").show();
                            $("#MinorsPsychotherapyConsent_add").hide();
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning..Minors Psychotherapy Consent already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert1").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Update').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }

    });
    //#endregion Update Click

      //#region Delete Click
    $('#btn_DeleteForm').on('click', function (e) {
        e.preventDefault();
        $('#btn_DeleteForm').removeClass("btn btn-success");
        $('#btn_DeleteForm').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_DeleteForm').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteMinorsPsychotherapyConsent", "MinorsPsychotherapyConsent", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-warning");
                $('#btn_DeleteForm').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>Minors Psychotherapy Consent Deleted Successfully!", "success");
                        clearControls();

                        $("#MinorsPsychotherapyConsent_edit").hide();
                        $("#MinorsPsychotherapyConsent_add").show();
                        AddMinorsPsychotherapyConsent();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-Delete");
                $('#btn_DeleteForm').html("Delete");
                Timeout();
            }
        })
    });
//#endregion

    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("#upat_sign,#uwit_sign").attr("src", "");
        $("input[name='umpc_radio1']:radio").prop('checked', false);
        $("input[name='umpc_radio2']:radio").prop('checked', false);
        $("input[name='umpc_radio3']:radio").prop('checked', false);
        $("input[name='umpc_radio4']:radio").prop('checked', false);
        $("input[name='umpc_chk1']:checkbox").prop('checked', false);
        $("input[name='umpc_chk2']:checkbox").prop('checked', false);
    }
    //#endregion Clear Controls

        //#region Print
$('#btn_Print').on('click', function (e) {
    e.preventDefault();
    $('#btn_Print').removeClass("btn btn-sm btn-success");
    $('#btn_Print').addClass("btn btn-sm btn-success btn-loaders btn-icon");
    $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "MinorsPsychotherapyConsent", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=MinorsPsychotherapyConsent",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {
                if (data.success) {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print
//#region Wacom Tab Signature
    var openWacomTabSignaturePad = function (id) {
        var _data = {
             "patId": @emr.patId,
             "person": id,
            "form": "MinorsPsychotherapyConsent",
             "appId": @emr.appId,
            "formname":"MinorsPsychotherapyConsent",
             "formlink":"",
             "eSign":""
         }
        $.ajax({
            type: "GET",
            url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
//#endregion
    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "MinorsPsychotherapyConsent",
            "appId": @emr.appId,
            "formname":"MinorsPsychotherapyConsent",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            GetSignaturename('witness');
           localStorage.removeItem("sign");
        }
    });

           //#region Get Signature
    var GetSignaturename = function  (person) {
        $.ajax({
            url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=MinorsPsychotherapyConsent',
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                console.log(response);
                let sign = response[0].psb_sign;
                var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY hh:mm");

                if (response[0].person == "patient") {
                    $("#upat_sign_box").removeClass("d-none");
                    $("#upsb_date_patient").html(date);
                    $("#upat_sign").attr("src", sign);
                }
                if (response[0].person == "witness") {
                    $("#uwit_sign_box").removeClass("d-none");
                    $("#upsb_date_witness").html(date);
                    $("#uwit_sign").attr("src", sign);
                }

            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr);
            }

        });
    };
//#endregion Get Signature

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout
    //#region Get GetRadioValues
    var GetRadioValues = function (checknames1, checknames2, checknames3, checknames4) {
    var checknames1 = "@Model.mpc_radio1";
    var checknames2 = "@Model.mpc_radio2";
    var checknames3 = "@Model.mpc_radio3";
    var checknames4 = "@Model.mpc_radio4";

    if (checknames1 !== null) {

        if (checknames1 != "") {
            if (checknames1 == "Yes") {
                $("#umpc_provider").removeAttr("disabled");
                $('#umpc_radio11').attr('checked', 'checked');
                $("#umpc_radio11").prop("checked", true);

            }
            if (checknames1 == "No") {

                $("#umpc_provider").attr("disabled", "true");
                $('#umpc_radio12').attr('checked', 'checked');
                $("#umpc_radio12").prop("checked", true);

            }



        }
        }

        if (checknames2 !== null) {

            if (checknames2 != "") {
                if (checknames2 == "Yes") {

                    $('#umpc_radio21').attr('checked', 'checked');
                    $("#umpc_radio21").prop("checked", true);

                }
                if (checknames2 == "No") {
                    $('#umpc_radio22').attr('checked', 'checked');
                    $("#umpc_radio22").prop("checked", true);

                }



            }
        }


        if (checknames3 !== null) {

            if (checknames3 != "") {
                if (checknames3 == "Yes") {
                    $("#umpc_medication1").removeAttr("disabled");
                    $('#umpc_radio31').attr('checked', 'checked');
                    $("#umpc_radio31").prop("checked", true);

                }
                if (checknames3 == "No") {
                    $("#umpc_medication1").attr("disabled", "true");
                    $('#umpc_radio32').attr('checked', 'checked');
                    $("#umpc_radio32").prop("checked", true);

                }



            }
        }

        if (checknames4 !== null) {

            if (checknames4 != "") {
                if (checknames4 == "Yes") {
                    $("#umpc_medication2").removeAttr("disabled");
                    $('#umpc_radio41').attr('checked', 'checked');
                    $("#umpc_radio41").prop("checked", true);

                }
                if (checknames4 == "No") {
                    $("#umpc_medication2").attr("disabled", "true");
                    $('#umpc_radio42').attr('checked', 'checked');
                    $("#umpc_radio42").prop("checked", true);

                }



            }
        }
}

    //#endregion Get GetRadioValues
      //#region Get CheckedValues
    var GetCheckedValues = function (checknames1, checknames2) {
     var checknames1 = "@Model.mpc_chk1";
     var checknames2 = "@Model.mpc_chk2";



 if (checknames1 !== null) {
    if (checknames1 != "") {
        var str = "@Model.mpc_chk1";
          var myarray = str.split(',');
          for (var i = 0; i < myarray.length; i++) {
             $('.custom-control-input').each(function () {
               if (myarray.includes($(this).val())) {
                $(this).prop("checked", true);
               }
             });
          }
     console.log(myarray)
    }



}
 if (checknames2 !== null) {
      if (checknames2 != "") {
          var str = "@Model.mpc_chk2";
          var myarray = str.split(',');
          for (var i = 0; i < myarray.length; i++) {
             $('.custom-control-input').each(function () {
             if (myarray.includes($(this).val())) {
               $(this).prop("checked", true);
             }
          });
               }
          console.log(myarray)
      }

    }

}
//#endregion

</script>