@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Dmax Laser Treatment";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Laser Treatment Consent Form</h3>
            </div>
            <div class="card-body">
                <div id="DmaxLaserTreatment_add" style="display:none">
                </div>
                <div id="DmaxLaserTreatment_edit">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="DmaxLaserTreatment_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetDmaxLaserTreatmentInfo();
        DmaxLaserTreatmentPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetDmaxLaserTreatmentInfo
    var GetDmaxLaserTreatmentInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetDmaxLaserTreatmentData", "DmaxLaserTreatment", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditDmaxLaserTreatment();
                        $("#DmaxLaserTreatment_add").hide();
                        $("#DmaxLaserTreatment_edit").show();

                    }
                    else {
                        $("#DmaxLaserTreatment_add").show();
                        $("#DmaxLaserTreatment_edit").hide();
                        AddDmaxLaserTreatment();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load DmaxLaserTreatment

    //#region Add DmaxLaserTreatment
    function AddDmaxLaserTreatment() {
        var x = $("#DmaxLaserTreatment_add");
        x.load("@Url.Action("CreateDmaxLaserTreatment", "DmaxLaserTreatment", new { area = "ConsentForms" })", function () {
    });
    }
    //#endregion Add DmaxLaserTreatment

    // #region Update DmaxLaserTreatment
    function EditDmaxLaserTreatment() {
        var x = $("#DmaxLaserTreatment_edit");
        x.load("@Url.Action("UpdateDmaxLaserTreatment", "DmaxLaserTreatment", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
    });
    }
    //#endregion Update DmaxLaserTreatment

    // #region History of DmaxLaserTreatment
    function DmaxLaserTreatmentPreviousHistory() {
        var x = $("#DmaxLaserTreatment_history");
        x.load("@Url.Action("DmaxLaserTreatmentPreviousHistory", "DmaxLaserTreatment", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
    });
    }
    //#endregion History of DmaxLaserTreatment
</script>
