@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Excision Multiple";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Excision Of Multiple Chalazion</h3>
            </div>
            <div class="card-body">
                <div id="ExcisionMultiple_add" style="display:none">
                </div>
                <div id="ExcisionMultiple_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="ExcisionMultiple_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetExcisionMultipleInfo();
        ExcisionMultiplePreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetExcisionMultipleInfo
    var GetExcisionMultipleInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetExcisionMultipleData", "ExcisionMultiple", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditExcisionMultiple();
                        $("#ExcisionMultiple_add").hide();
                        $("#ExcisionMultiple_edit").show();

                    }
                    else {
                        $("#ExcisionMultiple_add").show();
                        $("#ExcisionMultiple_edit").hide();
                        AddExcisionMultiple();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load ExcisionMultiple

    //#region Add ExcisionMultiple
    function AddExcisionMultiple() {
        var x = $("#ExcisionMultiple_add");
        x.load("@Url.Action("CreateExcisionMultiple", "ExcisionMultiple", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add ExcisionMultiple

    //#region Update ExcisionMultiple
    function EditExcisionMultiple() {
        var x = $("#ExcisionMultiple_edit");
        x.load("@Url.Action("UpdateExcisionMultiple", "ExcisionMultiple", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update ExcisionMultiple

    //#region Histroy of ExcisionMultiple
    function ExcisionMultiplePreviousHistory() {
        var x = $("#ExcisionMultiple_history");
        x.load("@Url.Action("ExcisionMultiplePreviousHistory", "ExcisionMultiple", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>