
@model BusinessEntities.Masters.Packages
<form id="form_AddCPTItem" class="needs-validation">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.pkgId)
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mb-4 font-weight-semibold">
            <span class="text-danger" style="font-size:smaller">Required fields are marked with *</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group mb-3">
                <label class="form-label">CPT Code&nbsp;<span class="text-danger">*</span></label>
                @Html.DropDownListFor(m => m.ps_services, new List<SelectListItem> { }, "Select CPT Code", new { @class = "form-select mb-2 select2", @id = "ps_services" })
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group mb-3">
                <label class="form-label">Session/Qty&nbsp;<span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.ps_qty, new { @class = "form-control mb-2 text-right", @id = "ps_qty", @placeholder = "1.00", @min = 0, @max = 100, @onkeypress = "return validateOneNumeric(this,event);" })
            </div>
        </div>
        <div class="row mt-2">
            <div id="error"></div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="btn-list btn-animation">
                    <button type="submit" class="btn btn-success" id="btn_Insert_Test">Create Package Service</button>
                    <button type="button" class="btn btn-outline-danger me-1 CloseTest" id="btn_Close_Add">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    //#region Page Load
    $(function () {

        $('#btn_Close_Add').click(function () {
            $('#pkg_add').hide();
        });

        $("#ps_services").select2({
            placeholder: 'Select CPT Code',
            width: '100%',
            minimumInputLength: 3,
            maximumInputLength: 6,
            dropdownParent: $('#form_AddCPTItem'),

            ajax: {
                url: '@Url.Action("GetCPTCodes", "PackagesAndServices", new { area = "Masters" })',
                dataType: 'json',
                delay: 250,
                data: function (query) {
                    return {
                        query: query.term,
                    };
                },
                processResults: function (data) {
                    return {
                        results: data,
                    };
                },
                cache: true
            }
        });

        validation();
    });
    //#endregion

    //#region Load CPT Codes
    var load_CPTCode = function (ps_services) {
        $.ajax({
            url: '@Url.Action("GetCPTCodes", "PackagesAndServices", new { area = "Masters" })?query=' + ps_services,
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                var data = {
                    "id": response[0].Value,
                    "text": response[0].Text,
                };

                var newOption = new Option(response[0].text, response[0].id, true, true);
                $('#ps_services').append(newOption).trigger('change');

                $('#ps_services').trigger({
                    type: 'select2:select',
                    params: {
                        data: data
                    }
                });
            },
            error: function (xhr) {
                console.log(xhr.statusText);
            }
        });
    };
    //#endregion

    //#region Validation Initialization
    var validation = function () {
        $("#form_AddCPTItem").validate({
            focusInvalid: true,
            rules:
            {
                ps_services: {
                    required: true
                },
            },
            messages: {
                ps_services: {
                    required: "Please Select CPT Code"
                }
            },
            highlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                } else {
                    elem.parent().addClass('has-error');
                }
                $(element).parent().addClass('has-error');
            },
            unhighlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                } else {
                    elem.removeClass('has-error');
                }
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    element = $("#select2-" + elem.attr("id") + "-container").parent();
                    error.insertAfter(element);
                } else {
                    error.insertAfter(element);
                }
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

        $('#ps_services').on('change', function () {
            $(this).trigger('blur');
        });
    }
   //#endregion


    //#region Insert Package Click
    $('#btn_Insert_Test').on('click', function (e) {
        e.preventDefault();

        if ($("#form_AddCPTItem").valid()) {
            $('#btn_Insert_Test').removeClass("btn btn-success");
            $('#btn_Insert_Test').addClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Insert_Test').parent().addClass("curdrop");
            $('.CloseTest').addClass("disabled");
            $('#btn_Insert_Test').html("Creating... Please Wait");

            var _dataInsert = {
                "psId": 0,
                "ps_services": $("#ps_services").val(),
                "ps_qty": $("#ps_qty").val(),
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }
            $.ajax({
                type: "POST",
                url: "@Url.Action("InsertSevicesToPackage", "PackagesAndServices", new {area = "Masters" })",
                dataType: 'json',
                data: _dataInsert,
                success: function (data) {
                    $('#btn_Insert_Test').parent().removeClass("curdrop");
                    $('.CloseTest').removeClass("disabled");
                    $('#btn_Insert_Test').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Insert_Test').addClass("btn btn-success");
                    $('#btn_Insert_Test').html("Create Package Service");

                    if (data.isSuccess) {
                        if (data.isInserted) {
                            var alertPlaceholder = document.getElementById("PackagesAlert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> Package Service Created Successfully!", "success");
                            $("#ps_services").val('').trigger('change')
                            GetPackages();
                            Timeout();
                        }
                        else {
                            $("#ps_services").val('').trigger('change')
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-light-warning' role='alert'>" +
                                "<button type='button' class='btn-close text-warning' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong><i class='fa fa-exclamation-triangle text-warning'></i> Package Service Already Exists!</strong><br/>" +
                                "</div></div>";
                            $("#error").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-light-danger' role='alert'>" +
                            "<button type='button' class='btn-close text-danger' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong><i class='fa fa-ban text-danger'></i> Validation Error! Please validate before submitting.&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                            }, 5000);
                        });

                        html += "</ul></div></div>";
                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    $('#btn_Insert_Test').parent().removeClass("curdrop");
                    $('.CloseTest').removeClass("disabled");
                    $('#btn_Insert_Test').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Insert_Test').addClass("btn btn-success");
                    $('#btn_Insert_Test').html("Create Package Service");
                    Timeout();
                }
            })
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion
</script>