@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConsentForms.PatientConsentArabic
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_PatientConsentArabic" autocomplete="off" name="PatientConsentArabic" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-right" dir="rtl">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> اسم المريض</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> الهوية الإماراتية</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">رقم الملف</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> تاريخ الميلاد</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> الجنسية</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">جنس</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">اسم الطبيب</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">تاريخ</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5 mt-5 text-justify" dir="rtl">
        <div>****يرجى القراءة والتوقيع في الجزء السفلي من االستمار </div>
        <div>
            <ol>
                <li>
                    <p>
                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2  text-right" style="float: right;">
                            <input type="checkbox" class="custom-control-input" name="pca_check" value="1">
                            <span class="custom-control-label"></span>
                        </label>
                        األشعة السينية
                    </p>
                </li>
                <li>
                    <p>
                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2  text-right" style="float: right;">
                            <input type="checkbox" class="custom-control-input" name="pca_check" value="2">
                            <span class="custom-control-label">
                            </span>
                        </label>
                        األدوية - أفهم أن المضادات الحيوية والمسكنات واألدوية األخرى- يمكن أن يسبب تفاعالت تحسسية ، احمرار وانتفاخ األنسجة ، ألم ، حكة ، قيء و / أوصدمة تأقية )رد فعل تحسسي شديد(
                    </p>
                </li>
                <li>
                    <p>
                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2  text-right" style="float: right;">
                            <input type="checkbox" class="custom-control-input" name="pca_check" value="3">
                            <span class="custom-control-label">
                            </span>
                        </label>
                        لتغييرات في خطة العالج - إجراء اإلضافة بسبب الحالة التي تم العثور عليها أثناء العمل على األسنان التي لم يتم اكتشافها أثناء الفحص ، واألكثرشيوع هو عالج قناة الجذر بعد إجراء ترميم روتيني. أعطي إذني لطبيب األسنان إلجراء أي / جميع التغييرات واإلضافات حسب الضرورة
                    </p>
                </li>
                <li>
                    <p>
                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2  text-right" style="float: right;">
                            <input type="checkbox" class="custom-control-input" name="pca_check" value="4">
                            <span class="custom-control-label">
                            </span>
                        </label>
                        خلع األسنان - تم شرح بديل لإلزالة )عالج قناة الجذر ، التيجان ، جراحة اللثة ، إلخ( وأنا أفوض طبيب األسنان إلزالة األسنان التالية. أنا أتفهم المخاطر التي ينطوي عليها إزالة األسنان ، وبعضها األلم ، والتورم ، وانتشار العدوى ، والسنخ الجاف ، فقدان اإلحساس بأسناني وشفتي ولسان و األنسجة المحيطة التي يمكن أن تستمر لفترة غير محددة من الوقت )أيام أو أشهر( أو الفك المكسور.
                    </p>
                </li>

                <li>
                    <p>
                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2  text-right" style="float: right;">
                            <input type="checkbox" class="custom-control-input" name="pca_check" value="5">
                            <span class="custom-control-label"> </span>
                        </label>
                        التوج والجسور واألغطية - امع األسنان ً أدرك أنه في بعض األحيان ال يمكن مطابقة لون األسنان الطبيعية تمام ا على ضمان امؤقتة ، والتي قد تؤتي ثمارها بسهولة ويجب أن أكون حريص ً ً ا أنني قد أرتدي تيجان االصطناعية. أفهم أيض ً االحتفاظ بها حتى تسليم التيجان الدائمة. أدرك الفرصة األخيرة إلجراء تغييرات في تاجي الجديد ، الجسر ، أو الغطاء )بما في ذلك الشكل والمالءمة والحجم واللون( قبل التثبيت.
                    </p>
                </li>
                <li>
                    <p>
                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2  text-right" style="float: right;">
                            <input type="checkbox" class="custom-control-input" name="pca_check" value="6">
                            <span class="custom-control-label"> </span>
                        </label>
                        المعالجة اللبية )قناة الجذر)- أدرك أنه ليس هناك ما يضمن أن معالجة قناة الجذر ستنقذ أسناني ، وأن المضاعفات يمكن أن تحدث من العالج ، وأنه في بعض األحيان يتم تثبيت األجسام المعدنية في السن أو تمتد من خالل الجذر ، والتي ال يؤثر بالضرورة على نجاح العالج ، فأنا أفهم أنه في بعض األحيان قد تكون اإلجراءات الجراحية اإلضافية ضرورية بعد عالج قناة الجذر )استئصال القمة).
                    </p>
                </li>
                <li>
                    <p>
                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2  text-right" style="float: right;">
                            <input type="checkbox" class="custom-control-input" name="pca_check" value="7">
                            <span class="custom-control-label"></span>
                        </label>
                        الحشوات - أفهم أنه يجب توخي الحذر عند مضغ الحشوات خاصة خالل الـ 24 ساعة األولى لتجنب الكسر. أدرك أن ا بسبب تسوس إضافي. أفهم أن الحساسية الكبيرة شائعة بعد ً ا أكثر تكلفة تم تشخيصه في البداية قد يكون مطلوب ً حشو ا. ً تأثيرحشوة موضوعة حديث
                    </p>
                </li>
                <li>
                    <p>
                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2  text-right" style="float: right;">
                            <input type="checkbox" class="custom-control-input" name="pca_check" value="8">
                            <span class="custom-control-label"></span>
                        </label>
                        طقم األسنان ، كاملة أو جزئية - أتفهم صعوبة ارتداء أطقم األسنان. تعتبر البقع المؤلمة وتغير الكالم وصعوبة األكل من المشكالت الشائعة. قد تكون أطقم األسنان الفورية )وضع أطقم األسنان بعد قلعهامباشرة( مؤلمة. قد تتطلب أطقم ا والعديد من خطوط التبطين. ريلين دائم كبيرً ً األسنان الفورية تعديًل ستكون هناك حاجة في وقت الحق. لم يتم تضمين هذا في رسوم طقم األسنان. أنا أتحمل مسؤولية العودة لتسليم أطقم األسنان. أتفهم أن عدم االلتزام بموعد التسليم الخاص بي قد يؤدي إلى نتائج سيئة أطقم األسنان الثابتة. أدرك أن أطقم األسنان الكاملة أو الجزئية مصنوعة من البالستيك والمعدن و / أو البورسلين. تم شرح مشاكل ارتداء هذه األجهزة ، بما في ذلك االرتخاء والوجع واحتمال الكسر.
                    </p>
                </li>
                <li>
                    <p>
                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2  text-right" style="float: right;">
                            <input type="checkbox" class="custom-control-input" name="pca_check" value="9">
                            <span class="custom-control-label"> </span>
                        </label>
                        أنا ، الموقع أدناه ، أشهد أنني أبلغني بشكل صحيح من قبل طبيب األسنان الذي أتعامل معه ا للقيام بالعالج ً بشأن صور األشعة السينية واألدوية واألدوية وخطة عالج األسنان وأنني الئق طبي وإجراءات طب األسنان والسعر ،المضاعفات التي قد تنشأ. لقد أتيحت لي الفرصة لقراءة هذا النمو ذج وطرح األسئلة. تم الرد على أسئلتي بما يرضي. أوافق على العالج المقترح
                    </p>
                    <p>
                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2  text-right" style="float: right;">
                            <input type="checkbox" class="custom-control-input" name="pca_check" value="10">
                            <span class="custom-control-label"> </span>
                        </label>
                        أنا ، الموقع أدناه ، أشهد أنني أبلغني بشكل صحيح من قبل طبيب األسنان الذي أتعامل معه ا للقيام بالعالج ً بشأن صور األشعة السينية واألدوية واألدوية وخطة عالج األسنان وأنني الئق طبي وإجراءات طب األسنان والسعر ،المضاعفات التي قد تنشأ. لقد أتيحت لي الفرصة لقراءة هذا النمو ذج وطرح األسئلة. تم الرد على أسئلتي بما يرضي. أوافق على العالج المقترح
                    </p>
                    <p>
                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2  text-right" style="float: right;">
                            <input type="checkbox" class="custom-control-input" name="pca_check" value="11">
                            <span class="custom-control-label">
                            </span>
                        </label>
                        لموافقة المسبقة عن األنف واألذن والحنجرة - الفحص السريري ألنف األذن والحنجرة والرأس والعنق واألذن )تنظير األذن و الفحص المجهري ، تنظير Edoscopy-Oto ، تنظيف الشفط ، أخذ المسحة ، التطبيق الموضعي ، D / Iللخراجات ، إزالة الجسم الغريب ، إلخ.( األنف )تنظير األنف األمامي ، تطبيق الرش الموضعي ، التنظير األنفي الصلب التشخيصي والعالجي ، الكي األنفي للرعاف ، الخزعة وتنظير األنف الخلفي ، وما إلى ذلك( الحلق )الفحص ، الفحص اليدوي ، أخذ مسحة الحلق ، التطبيق الموضعي ، D / Iللخراج حول اللوزتين ، تنظير الحنجرة غير المباشر IDL ، تقييم الصوت والمجرى الهوائي ، إلخ(. فحص الرقبة بما في ذلك المعلومات المقدمة حول طبيعة األمراض ، ودورة التشخيص ، وخيارات العالج والعالج البديلة ، والمخاطر والمضاعفات المحتملة
                    </p>
                </li>
                <li>
                    <p>
                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2  text-right" style="float: right;">
                            <input type="checkbox" class="custom-control-input" name="pca_check" value="12">
                            <span class="custom-control-label">
                            </span>
                        </label>
                        آخر
                    </p>
                    <p>
                        @Html.TextAreaFor(m => m.pca_2, new { @class = "form-control", @placeholder = "Please specify", @row = "2", @id = "pca_2" })
                    </p>
                </li>
            </ol>
        </div>
        <div class="row">
            <div class="col-lg-12 mb-2 mt-2">
                للحصول على معلومات العيادة، كيف تعرفت على عيادتنا؟ يرجى ذكر الاسم.
            </div>
            <div class="col-lg-4">
                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2 text-right" style="float: right;">
                    <input type="checkbox" class="custom-control-input" name="pca_check" value="13">
                    <span class="custom-control-label">
                    </span>
                </label>
                <span class="font-weight-semibold">مجلة</span>
                @Html.TextBoxFor(m => m.pca_3, new { @class = "form-control", @row = "2", @id = "pca_3" })
            </div>
            <div class="col-lg-4">
                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2 text-right" style="float: right;">
                    <input type="checkbox" class="custom-control-input" name="pca_check" value="14">
                    <span class="custom-control-label">
                    </span>
                </label>
                <span class="font-weight-semibold">مدرسة</span>
                @Html.TextBoxFor(m => m.pca_4, new { @class = "form-control", @row = "2", @id = "pca_4" })
            </div>
            <div class="col-lg-4">
                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2 text-right" style="float: right;">
                    <input type="checkbox" class="custom-control-input" name="pca_check" value="15">
                    <span class="custom-control-label"></span>
                </label>
                <span class="font-weight-semibold">مؤسسة</span>
                @Html.TextBoxFor(m => m.pca_5, new { @class = "form-control", @row = "2", @id = "pca_5" })
            </div>
        </div>
        <div class="row mb-2 mt-2">
            <div class="col-lg-6 font-weight-semibold mb-2 mt-2">
                شركة التأمين  @Html.TextBoxFor(m => m.pca_6, new { @class = "form-control", @row = "2", @id = "pca_6" })
            </div>
            <div class="col-lg-6 font-weight-semibold mb-2 mt-2">
                موظفيك/صديقك/قريبك:
                @Html.TextBoxFor(m => m.pca_7, new { @class = "form-control", @row = "2", @id = "pca_7" })
            </div>
        </div>
    </div>
    <div class="row mt-2" dir="rtl">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="3" class="font-weight-bold text-danger fs-18">
                        قم بالتوقيع هنا، فقط إذا تمت الإجابة على جميع أسئلتك بما يرضيك
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="pat_sign_box" class="d-none">
                            <img alt="stamp" id="pat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td>
                        <div id="wit_sign_box" class="d-none">
                            <img alt="stamp" id="wit_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td>
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold">اسم المريض</span>
                        <br /><br />
                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">تاريخ</span>
                    </td>
                    <td width="33%">
                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">تاريخ</span>

                    </td>
                    <td width="33%">
                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">تاريخ</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue text-center">
                        توقيع المريض
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue  text-center">
                        توقيع ولي الأمر/الوصي إذا كان المريض قاصرًا
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Guardian
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('witness')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('witness')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center">Doctor’s Sign/Stamp</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-success btn-sm" id="btn_Insert">Save</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                <button type="button" class="btn btn-danger btn-sm d-none" id="btn_Delete">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success d-none" id="btn_Print"> Download/Print </button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">


    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Insert").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Insert").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Insert").show();
                }
                else {
                    $("#btn_Insert").hide();
                }
            }
        }
        validate();

    });

    //#region Validation Initialization
    var validate = function () {
        $("#form_PatientConsentArabic").validate({
            rules: {
                pca_2: {
                    required: true
                },

            },
            messages: {
                pca_2: {
                    required: "Please Enter Other"
                },
            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

    }
    //#endregion


    //#region Add  Click
    $('#btn_Insert').on('click', function (e) {
        e.preventDefault();
        if ($("#form_PatientConsentArabic").valid()) {
            $('#btn_Insert').removeClass("btn btn-sm btn-success");
            $('#btn_Insert').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Insert').html("Saving the Record....");
            var pca_chkbox = "";
            $('.custom-control-input:checked').each(function (index) {
                pca_chkbox = pca_chkbox + ',' + $(this).val();
            });
            var _dateInsert = {
                "pcaId": 0,
                "pca_appId": @emr.appId,
                "pca_1": pca_chkbox,
                "pca_2": $("#pca_2").val(),
                "pca_3": $("#pca_3").val(),
                "pca_4": $("#pca_4").val(),
                "pca_5": $("#pca_5").val(),
                "pca_6": $("#pca_6").val(),
                "pca_7": $("#pca_7").val(),

                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }
            console.log(_dateInsert);

            $.ajax({
                type: "Post",
                url: "@Url.Action("InsertPatientConsentArabic", "PatientConsentArabic", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-sm btn-success");
                    $('#btn_Insert').html("Save Changes");
                    if (data.isSuccess) {
                        if (data.isInserted) {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>Patient Consent Consent Form Saved Successfully!", "success");
                            Timeout();
                            $("#btn_Delete").removeClass("d-none");
                            $("#btn_Print").removeClass("d-none");
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning..Patient Consent Consent Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-sm btn-warning");
                    $('#btn_Insert').html("Add");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }

    });
    //#endregion Add Click

    //#region Delete Click
    $('#btn_Delete').on('click', function (e) {
        e.preventDefault();
        $('#btn_Delete').removeClass("btn btn-success");
        $('#btn_Delete').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Delete').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeletePatientConsentArabic", "PatientConsentArabic", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-warning");
                $('#btn_Delete').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>Patient Consent Consent Form Deleted Successfully!", "success");
                        clearControls();
                        Timeout();

                        $('#btn_Delete').addClass("d-none");
                        $("#pat_sign_box").addClass("d-none");
                        $("#wit_sign_box").addClass("d-none");
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-Delete");
                $('#btn_Delete').html("Delete");
                Timeout();
            }
        })
    });
//#endregion

    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Print
    $('#btn_Print').on('click', function (e) {
        e.preventDefault();
        $('#btn_Print').removeClass("btn btn-sm btn-success");
        $('#btn_Print').addClass("btn btn-sm btn-success btn-loaders btn-icon");
        $('#btn_Print').html("Printing the Record....");
        $.ajax({
            type: "Get",
            url: "@Url.Action("PrintPDFConsent", "PatientConsentArabic", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=PatientConsentArabic",
            dataType: 'JSON',
            success: function (data) {
                if (data.isAuthorized) {
                    if (data.success) {
                        window.location.href = data.message.pdfPath
                    }
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        });
    });
    //#endregion Print

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("input[name='pca_check']:checkbox").prop('checked', false);
        $("#pat_sign").attr("src", "");
        $("#wit_sign").attr("src", "");
    }
    //#endregion Clear Controls

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "PatientConsentArabic",
                "appId": @emr.appId,
                "formname":"Patient Consent",
                "formlink":"",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "PatientConsentArabic",
            "appId": @emr.appId,
            "formname":"PatientConsent Arabic",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            GetSignaturename('witness');
            localStorage.removeItem("sign");
        }
    });

    //#region Get Signature
    var GetSignaturename = function  (person) {
        $.ajax({
            url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=PatientConsentArabic',
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                console.log(response);
                let sign = response[0].psb_sign;
                if (response[0].person == "patient") {
                    $("#pat_sign_box").removeClass("d-none");
                    $("#pat_sign").attr("src", sign);
                }
                if (response[0].person == "witness") {
                    $("#wit_sign_box").removeClass("d-none");
                    $("#wit_sign").attr("src", sign);
                }

            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr);
            }

        });
    };
    //#endregion Get Signature

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout
</script>
