@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Patient Consent Arabic";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header" dir="rtl">
                <h3 class="card-title">  نموذج موافقة المريض</h3>
            </div>
            <div class="card-body">
                <div id="PatientConsentArabic_add" style="display:none">
                </div>
                <div id="PatientConsentArabic_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="PatientConsentArabic_history">
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    //#region Page Load
    $(function () {
        GetPatientConsentArabicInfo();
        PatientConsentArabicPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetPatientConsentArabicInfo
    var GetPatientConsentArabicInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetPatientConsentArabicData", "PatientConsentArabic", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditPatientConsentArabic();
                        $("#PatientConsentArabic_add").hide();
                        $("#PatientConsentArabic_edit").show();

                    }
                    else {
                        $("#PatientConsentArabic_add").show();
                        $("#PatientConsentArabic_edit").hide();
                        AddPatientConsentArabic();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load PatientConsentArabic

    //#region Add PatientConsentArabic
    function AddPatientConsentArabic() {
        var x = $("#PatientConsentArabic_add");
        x.load("@Url.Action("CreatePatientConsentArabic", "PatientConsentArabic", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add PatientConsentArabic

    //#region Update PatientConsentArabic
    function EditPatientConsentArabic() {
        var x = $("#PatientConsentArabic_edit");
        x.load("@Url.Action("UpdatePatientConsentArabic", "PatientConsentArabic", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update PatientConsentArabic

    //#region History of PatientConsentArabic
    function PatientConsentArabicPreviousHistory() {
        var x = $("#PatientConsentArabic_history");
        x.load("@Url.Action("PatientConsentArabicPreviousHistory", "PatientConsentArabic", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion History of PatientConsentArabic
</script>