@model BusinessEntities.EMR.GeneralExamination
<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold" id="exampleModalLongTitle">View General Examination</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body p-4">
    <form id="form_GeneralExam" autocomplete="off" name="generalexamination">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 mb-4 ">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div>
                            <h4 class="page-title mb-0 text-primary">
                                General Examination
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Built:&nbsp;</label></div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_1_type&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_1&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Pallor:&nbsp;</label></div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_2_type&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_2&nbsp;</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Cyanosis:&nbsp;</label></div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_3_type&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_3&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Icterus:&nbsp;</label></div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_4_type&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_4&nbsp;</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Eye:&nbsp;</label></div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_5_type&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_5&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Fundi:&nbsp;</label></div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_6_type&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_6&nbsp;</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Pupils:&nbsp;</label></div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_7_type&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_7&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Nystagmus:&nbsp;</label></div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_8_type&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_8&nbsp;</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Ear:&nbsp;</label></div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_9_type&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_9&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Neck:&nbsp;</label></div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_10_type&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_10&nbsp;</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Thyroid:&nbsp;</label></div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_11_type&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_11&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Nose:&nbsp;</label></div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_12_type&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_12&nbsp;</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Sinuses:&nbsp;</label></div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_13_type&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_13&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Throat:&nbsp;</label></div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_14_type&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_14&nbsp;</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Breast:&nbsp;</label></div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_15_type&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_15&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Tremors:&nbsp;</label></div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_16_type&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_16&nbsp;</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Peripheral Vessels:&nbsp;</label></div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_17_type&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_17&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Carotids:&nbsp;</label></div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_18_type&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_18&nbsp;</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Lymphadenopathy:&nbsp;</label></div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_19_type&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_19&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Cervical:&nbsp;</label></div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_20_type&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_20&nbsp;</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Axillary:&nbsp;</label></div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_21_type&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_21&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Inguinal:&nbsp;</label></div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_22_type&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_22&nbsp;</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Edema:&nbsp;</label></div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_23_type&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_23&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Genitals:&nbsp;</label></div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_24_type&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_24&nbsp;</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Others:&nbsp;</label></div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_25_type&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.ge_25&nbsp;</label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>