@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Radiology Report";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Radiology Report</h3>
            </div>
            <div class="card-body">
                <div id="RadiologyReport_add" style="display:none">
                </div>
                <div id="RadiologyReport_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="RadiologyReport_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetRadiologyReportInfo();
        RadiologyReportPreviousHistory();
    });

    //#endregion Page Load

    //#region Load GetRadiologyReportInfo
    var GetRadiologyReportInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetRadiologyReportData", "RadiologyReport", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditRadiologyReport();
                        $("#RadiologyReport_add").hide();
                        $("#RadiologyReport_edit").show();

                    }
                    else {
                        $("#RadiologyReport_add").show();
                        $("#RadiologyReport_edit").hide();
                        AddRadiologyReport();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load RadiologyReport

    //#region Add RadiologyReport
    function AddRadiologyReport() {
        var x = $("#RadiologyReport_add");
        x.load("@Url.Action("CreateRadiologyReport", "RadiologyReport", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add RadiologyReport

    //#region Update RadiologyReport
    function EditRadiologyReport() {
        var x = $("#RadiologyReport_edit");
        x.load("@Url.Action("UpdateRadiologyReport", "RadiologyReport", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update RadiologyReport

    //#region Histroy of RadiologyReport
    function RadiologyReportPreviousHistory() {
        var x = $("#RadiologyReport_history");
        x.load("@Url.Action("RadiologyReportPreviousHistory", "RadiologyReport", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion History of RadiologyReport
</script>