@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Consent Ortho Arabic";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header" dir="rtl">
                <h3 class="card-title">موافقة المريض علىبدء علاج العصب</h3>
            </div>
            <div class="card-body">
                <div id="ConsentOrthoArb_add" style="display:none">
                </div>
                <div id="ConsentOrthoArb_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="ConsentOrthoArb_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetConsentOrthoArbInfo();
        ConsentOrthoArbPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetConsentOrthoArbInfo
        var GetConsentOrthoArbInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetConsentOrthoArbData", "ConsentOrthoArb", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditConsentOrthoArb();
                        $("#ConsentOrthoArb_add").hide();
                        $("#ConsentOrthoArb_edit").show();

                    }
                    else {
                        $("#ConsentOrthoArb_add").show();
                        $("#ConsentOrthoArb_edit").hide();
                        AddConsentOrthoArb();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load ConsentOrthoArb

    //#region Add ConsentOrthoArb
        function AddConsentOrthoArb() {
            var x = $("#ConsentOrthoArb_add");
        x.load("@Url.Action("CreateConsentOrthoArb", "ConsentOrthoArb", new { area = "ConsentForms" })", function () {
      });
    }
    //#endregion Add ConsentOrthoArb

    //#region Update ConsentOrthoArb
        function EditConsentOrthoArb() {
            var x = $("#ConsentOrthoArb_edit");
        x.load("@Url.Action("UpdateConsentOrthoArb", "ConsentOrthoArb", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
      });
    }
      //#endregion Update ConsentOrthoArb

      //#region Histroy of ConsentOrthoArb
        function ConsentOrthoArbPreviousHistory() {
            var x = $("#ConsentOrthoArb_history");
        x.load("@Url.Action("ConsentOrthoArbPreviousHistory", "ConsentOrthoArb", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
      });
    }
    //#endregion History of ConsentOrthoArb


</script>