@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConsentForms.ConsentOrthoArb

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_ConsentOrthoArbEdit" autocomplete="off" name="ConsentOrthoArb" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-right" dir="rtl">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> اسم المريض</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> الهوية الإماراتية</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">رقم الملف</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> تاريخ الميلاد</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> الجنسية</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">جنس</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">اسم الطبيب</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">تاريخ</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5 mt-5 text-justify" dir="rtl">
        <p>
            يتم تقديم المعلومات التالية بشكل روتيني إلى أي شخص يود علاج تقويم الأسنان في عيادتنا. عندما تدرك فوائد الإبتسامة المُرضية والأسنان الصحية يجب أن تكون ايضاً على علم أن علاج تقويم الأسنان مثل اي علاج آخر في الجسم لديه بعض المخاطر الكامنة والقيود. هؤلاء نادراً ما يجعلون نتيجة العلاج غير مرضية بما فيه الكفاية.ولكن ينبغي النظر فيها لإتخاذ قرار بدء علاج تقويم الأسنان
        </p>
        <p>.النظر فيها لإتخاذ قرار بدء علاج تقويم الأسنان</p>
        <p class="text-red text-decoration-underline">مسؤؤليات المريض: </p>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <ul style="list-style-type:disc" class="me-5">
                <li>فمن مسؤولية المريض متابعة تنظيف الأسنان بالفرشاه والالتزام بتعليمات نظافة الفم التي تعطى لكم ، بذلك لن يكون هناك ضرر بالأسنان والأنسجة المحيطة بها</li>
                <li>.أن يلتزم المريض بجميع المواعيد في اليوم والوقت المناسب</li>
                <li>أن يلتزم بإستخدام الأجهزة الرأسية ، المطاط و أجهزة التثبيت إذا كانت ضرورية ، بحيث يكون وقت العلاج قصير قدر الإمكان وحتى نتمكن من تحقيق أفضل نتيجة</li>
                <li> سيكون هناك رسوم تقويم الأسنان إضافية لاستبدال الأجهزة (المثبت أو التقويم) التي تضيع أو تتلف بسبب إهمال المريض المتكرر،أو أي تمديد مفرط للعلاج بسبب عدم وجود عملية تعاون مع المريض</li>
                <li>100% تعاون المريض مهم جداً</li>
            </ul>
        </div>
        <p class="text-red text-decoration-underline">حقوق المريض:</p>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <ul style="list-style-type:disc" class="me-5">
                <li>.حق الرفض أو عدم إكمال العلاج</li>
                <li>والحق في أن يكون على علم حول نتائج قرار المريض لرفض أو التوقف عن العلاج وبشأن الرعاية وبدائل العلاج المتاحة</li>
            </ul>
        </div>
        <p class="text-red text-decoration-underline">نظافة الفم:</p>
        <p>لكلس ، التسوس أو أمراض اللثة يمكن أن تحدث إذا كان المريض لا يعمل على تفريش أسنانه بشكل صحيح ودقيق خلال فترة العلاج. و الالتزام بنظافة الفم وإزالة القلح أمر لا بد منه. يجب التقليل من السكريات والوجبات الجانبية قدر الإمكان</p>
        <p class="text-red text-decoration-underline">الأسنان غير الحيوية أو الميتة هو احتمال:</p>
        <p>الأسنان التى اصيبت لصدمة من حشوة عميقة أو حتى ضربة يمكن أن تموت على المدى الطويل من الزمن مع أو بدون علاج تقويم الأسنان. الأسنان الغير حيوية التي لم يتم الكشف عنها يمكن أن تظهر خلال حركة تقويم الأسنان، وعندها يجب اجراء علاج سحب العصب للحفاظ علية</p>
        <p class="text-red text-decoration-underline">إمتصاص الجذر:</p>
        <p>في بعض الحالات، يتم تقصير النهايات الجذرية للأسنان اثناء العلاج. هذا ما يسمى إمتصاص الجذر. في ظل الظروف الصحية إمتصاص الجذر ليست ضارة. ومع ذلك في حالة أمراض اللثة لاحقاً على مدى العمر يمكن لإمتصاص الجذر أن يقلل من عمر الأسنان المتضررة. يجب معرفة أن ليس كل امتصاص جذري ينشأ من علاج تقويم الأسنان. الصدمات، الجروح ، الإنحشار ، إضرابات الغدد الصماء وأسباب مجهولة يمكن أيضاً أن تسبب امتصاص الجذور</p>
        <p class="text-red text-decoration-underline">قضايا النمو:</p>
        <p>
            أحياناً الشخص الذي نمى بشكل طبيعي وفي نسب متوسطة قد لا يستمر بالقيام بذلك.إذا أصبح النمو غير متناسب، يمكن أن تتأثر علاقة الفك وأهداف العلاج الأصلي قد تكون عرضة للخطر. تنافر نمو الهيكل العظمي هي عملية بيولوجية خارجة عن سيطرة علاج تقويم الأسنان. بعض مرضى تقويم الأسنان يحتاجون الى جراحة الفم للحصول على نتيجة علاج معقولة لحالتهم . معظم المرضى ضعيفي النو ، ضعيفي الإستجابة للعلاج أو ضعيفي التعاون يمكن أن يحتاجون لجراحة الفم لاستكمال حالتهم
        </p>
        <p class="text-red text-decoration-underline">أنسجة اللثة:</p>
        <p>
            علاقة عظام اللثة حول الأسنان يعتمد دائما على ما إذا كان هناك ما يكفي من العظام لدعم أنسجة اللثة بشكل صحيح. مرات عديدة عندما تكون الأسنان مزدحمة جداً ويتم تقويمها يصبح هناك نقص في العظام التي تدعم الأنسجة المحيطة بالأسنان وبالتالي كفاف انسجة اللثة والدعم قد لا يكون كافي ويتطلب تدخل باللثة
        </p>
        <p class="text-red text-decoration-underline">وقت العلاج:</p>
        <p>الوقت الاجمالي من العلاج يمكن أن يتأخر بما يتجاوز تقديراتنا. نقص أو ضعف النمو الوجهي ، عدم التعاون في استعمال المطاط أو الأجهزة الرأسية ، كسر الاجهزه أو التغيب عن المواعيد كل هذه عوامل مهمة يمكا أن تعمل على إطالة مدة العلاج و تأثر على النتيجة المتوقعة</p>
        <p class="text-red text-decoration-underline">أجهزة إضافية للفم:</p>
        <p>يجب أن تتبع التعليمات بكل حذر، الأجهزة الخارجية التي يتم سحبها الى الخارج عند ارفاق القوة المرنة يمكن أن يسبب ضررا للوجة أو العينين. ومع ذلك، فإننا نستخدم أجهزة مع مكملات تعطي ميزة السلامة للحد من هذا الاحتمال. دائماً تذكر ازالة القوة المطبقة قبل ازالة القناع الوجهي من أسنانك. لتقليل احتمال الإصابة ، يجب عدم ممارسة الرياضة والأنشطة المشابهة حين ارتداء الأجهزة الراسية</p>
        <p class="text-red text-decoration-underline">المفصل الفكي الصدعي:</p>
        <p>قد تحدث مشكلة للمفصل الفكي الصدعي . على الرغم من أنها نادرة، إلا انها ممكنه. محاذات الاسنان أو تصحيح إطباق الأسنان احيانا يمكن أن يعمل على تحسين الأسباب ذات الصلة بآلام المفصل الفكي الصدعي ولكن ليس في جميع الحالات. يلعب التوتر دورا في تواتر وشدة آلام المفاصل ويوجد هناك العديد من العوامل المسببه للإختلال الوظيفي للمفصل الفكي الصدعي</p>
        <p class="text-red text-decoration-underline">حالات عادية جدا:</p>
        <p>ابتعلاع الأدوات ، تكسر الأسنان ، وقوع الحشوة و الحساسية من اللاتكس أو النيكل قليلا ما تحدث ولكنها ممكنة</p>
        <p class="text-red text-decoration-underline">التوقعات:</p>
        <p>جميع مرضى تقويم الاسنان يستطيعون توقع التحسن في حالة أسنانهم الخاصة لكن في العديد من الحالات الكمال أو التحسن المطلق مستحيل بسبب نقص توازن العضلات ، شكل وحجم الأسنان واختلاف درجة التعاون اثناء العلاج بالإضافة الى جانب العوامل الوراثية التي تؤثر على نتيجة العلاج للجميع</p>
        <p class="text-red text-decoration-underline">الإنتكاس:</p>
        <p>تميل الأسنان للعودة إلى وضعهم الأصلي بعد علاج تقويم الأسنان هذا ما يسمى بالإنتكاس. المشاكل الشديدة جداً لها نسبة ميل للإنتكاس والمنطقة الأكثر شيوعا هي الأسنان الأمامية السفلى. بعد إزالة التقويم يتم وضع مثبت لتقليل نسبة الإنتكاس. التعاون في لبس المثبت هو أمر ضروري. سنقوم بعمل تصحيحنا بأعلى المعايير وفي كثير من الحالات علاج الحالة أمر ضروري لاستيعاب ميول الارتداد. إذا توقف المريض عن استخدام المثبت فإن نسبة من الانتكاس يمكن أن تحدث</p>
        <p>
            أوافق على التقاط الصور الفوتوغرافية، نماذج الدراسة والاشعة السينية قبل ، خلال وبعد علاج تقويم الأسنان للمساعدة في الخطة وبرنامج العلاج. اذا اثبت أن الحالة ذات أهمية خاصة سيحتفظ الطبيب بالحق في تقديم السجلات أو الأوراق العلمية للمناقشة مع الأخصائيين
        </p>
        <p>قر بأنني قد قرأت أو قُرأ لي محتويات هذا النموذج وملاحظة المخاطر و القيود التي ينطوي عليها ذلك والموافقة على علاج تقويم الأسنان</p>
        <p>في حالة أني أود التوقف عن العلاج، فقد تم إبلاغي وفهمت المخاطر المرتبطة مع ترك حالتي بدون علاج، ادرك أن صحتي العامة قد تتأثر بقراري . لذا لن أقوم بتحميل الطبيب ، طاقم العمل أو أي شخص مرتبط بممارسة طب الأسنان المسؤؤلية للتغير الذي سيحصل لصحتي العامة الناتج عن هذا الشرط . لقد اتيحت لي الفرصة لطرح اسئلة حول حالتي، خيارات العلاج و رفض العلاج. لقد قام مزود الموقع ادناه الإجابة على جميع أسئلتي. لقد فهمت النطاق الكامل للوضع وانا اخذ قرار الموافقة</p>
        <p class="text-red text-decoration-underline">استمارة الموافقة المسبقة:</p>
        <p> إجابات مرضية. أنا طوعا اتحمل جميع المخاطر المحتملة ،بما في ذلك خطر حدوث ضرر كبير، إن وجد، والذي قد يرتبط بأي مرحلة من مراحل العلاج ، على أمل الحصول على النتائج المرجوة، والتي من الممكن أو غير الممكن تحقيقها. الرسوم (إن وجدت) لهذه الخدمة لقد تم شرحها وهي مرضية. من خلال التوقيع على هذا النموذج أنا أعطي بحرية موافقتي للسماح للدكتور<label class="text-red">@emr.doc_name&nbsp;</label> أو/ و أحد مساعديه لتقديم العلاج لتقديم العلاج أو اي دواء و /أو التخدير الذي يعتبر ضروري للعلاج</p>
        <p>
            <div class="custom-controls-stacked">
                <p class="text-right">
                    <span dir="rtl">
                        <input type="radio" name="ucpco_1" id="ucpco_11" value="Yes">&nbsp;لقد أتيحت لي الفرصة لطرح الأسئلة وقمت بالموافقة على العلاج المقترح كما هو موضح أعلاه
                    </span>
                </p>
                <p class="text-right">
                    <span dir="rtl">
                        <input type="radio" name="ucpco_1" id="ucpco_12" value="No">&nbsp;لقد قمت برفض إعطاء الموافقة للعلاج المقترج كما هو موضح أعلاه وقد تم شرح العواقب المحتملة المرتبطة بالرفض
                    </span>
                </p>
            </div>
        </p>

    </div>
    <div class="row mt-2" dir="rtl">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr dir="rtl">
                    <td colspan="3" class="font-weight-bold text-danger fs-18" width="100%">
                        قم بالتوقيع هنا فقط إذا تمت الموافقة على جميع الأسئلة
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <div id="upat_sign_box" class="d-none">
                            <img alt="stamp" id="upat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="34%">
                        <div id="uwit_sign_box" class="d-none">
                            <img alt="stamp" id="uwit_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold"> اسم المريض</span>
                        <br /><br />
                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">التاريخ	</span>
                    </td>
                    <td width="34%">
                        <label class="form-label text-red text-left text-capitalize">
                            @Html.TextBoxFor(m => m.cpco_2, new { @class = "form-control text-center form-control-sm", style = "text-align:center", @id = "ucpco_2" })
                        </label>
                        <span class="font-weight-semibold"> هوية الشاهد</span>
                        <br /><br />
                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">التاريخ	</span>
                    </td>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize">@emr.doc_name&nbsp;</label>
                        <span class="font-weight-semibold"> اسم الطبيب</span>
                        <br /><br />
                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">التاريخ	</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue" width="33%">
                        توقيع المريض/ الممثل المفوض قانونا
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue" width="34%">
                        توقيع الشاهد
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> witness
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('witness')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('witness')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center" width="33%">الطبيب </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update">Save Changes</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                <button type="button" class="btn btn-danger btn-sm" id="btn_DeleteForm">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print"> Download/Print </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Update").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Update").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Update").show();
                }
                else {
                    $("#btn_Update").hide();
                }
            }
        }
        validate();
        GetSignaturename('patient');
        GetSignaturename('witness');
        GetCheckedValues();
        Get_Patient_Diagnosis();
    });

    //#region Validation Initialization
    var validate = function () {
        $("#form_ConsentOrthoArbEdit").validate({
            rules: {
                cpco_2: {
                    required: true
                },

            },
            messages: {
                cpco_2: {
                    required: "Please Enter Witness ID!"
                },

            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
    //#endregion

    //#region Update  Click
    $('#btn_Update').on('click', function (e) {
        e.preventDefault();
        if ($("#form_ConsentOrthoArbEdit").valid()) {
            console.log($("#cpcoId").val());
            $('#btn_Update').removeClass("btn btn-sm btn-success");
            $('#btn_Update').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Update').html("Updating the Record....");
            //var ucvca_1_ = $.map($(':checkbox[name=ucvca_1]:checked'), function (n, i) {
            //    return n.value;
            //}).join(',');

            var ucpco_1 = "";

            if ($('#ucpco_11').prop('checked')) {
                ucpco_1 = "Yes";
            }
            else if ($('#ucpco_12').prop('checked')) {
                ucpco_1 = "No";
            }

            var _dateInsert = {
                "cpcoId": 0,
                "cpco_appId": @emr.appId,
                "cpco_2": $("#ucpco_2").val(),
                "cpco_1": ucpco_1,
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

            console.log(_dateInsert);

            $.ajax({
                type: "Post",
                url: "@Url.Action("EditConsentOrthoArb", "ConsentOrthoArb", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isEdited) {
                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>  Consent Ortho Arb Form Updated Successfully!", "success");
                            Timeout();
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning.. Consent Ortho Arb Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion Update Click

        //#region Print
$('#btn_Print').on('click', function (e) {
    e.preventDefault();
    $('#btn_Print').removeClass("btn btn-success");
    $('#btn_Print').addClass("btn btn-success btn-loaders btn-icon");
    $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "ConsentOrthoArb", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=ConsentOrthoArb",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {

                if (data.success)
                    console.log(data);
                    console.log(data.message.pdfPath); {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print

    //#region Delete Click
    $('#btn_DeleteForm').on('click', function (e) {
        e.preventDefault();
        $('#btn_DeleteForm').removeClass("btn btn-success");
        $('#btn_DeleteForm').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_DeleteForm').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteConsentOrthoArb", "ConsentOrthoArb", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-warning");
                $('#btn_DeleteForm').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>Consent Ortho Arb Form Deleted Successfully!", "success");
                        clearControls();
                        Timeout();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-Delete");
                $('#btn_DeleteForm').html("Delete");
                Timeout();
            }
        })
    });
//#endregion


    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $("input[name='ucpco_1']:radio").prop('checked', false);
        $(".form-control-sm").val("");
        $("#upat_sign,#uwit_sign").attr("src", "");
    }
    //#endregion Clear Controls

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "ConsentOrthoArb",
                "appId": @emr.appId,
                "formname":"Consent Ortho Arb",
                "formlink":"",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
        var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "ConsentOrthoArb",
            "appId": @emr.appId,
            "formname":"Consent Ortho Arb",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            GetSignaturename('witness');
            localStorage.removeItem("sign");
        }
    });

    //#region Get Signature
    var GetSignaturename = function  (person) {
        $.ajax({
            url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=ConsentOrthoArb',
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                console.log(response);
                let sign = response[0].psb_sign;
                if (response[0].person == "patient") {
                    $("#upat_sign_box").removeClass("d-none");
                    $("#upat_sign").attr("src", sign);
                }
                if (response[0].person == "witness") {
                    $("#uwit_sign_box").removeClass("d-none");
                    $("#uwit_sign").attr("src", sign);
                }
            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr);
            }

        });
    };
    //#endregion Get Signature

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout

    //#region Get CheckedValues
    var GetCheckedValues = function (checknames) {
        var checknames = "@Model.cpco_1";

        if (checknames !== null) {

            if (checknames != "") {
                if (checknames == "Yes") {
                    $('#ucpco_11').attr('checked', 'checked');
                    $("#ucpco_11").prop("checked", true);

                }
                if (checknames == "No") {
                    $('#ucpco_12').attr('checked', 'checked');
                    $("#ucpco_12").prop("checked", true);

                }

            }
        }
    }
//#endregion Get CheckedValues
</script>

