

@model BusinessEntities.Accounts.MaterialManagement.StockTransferRequest

<div class="modal-header py-4 px-5">
    <h5 class="modal-title text-primary font-weight-semibold" id="exampleModalLongTitle">Create Stock Transfer Request</h5>
    <button aria-label="Close" data-bs-dismiss="modal" class="btn-close" type="button"><span aria-hidden="true">×</span></button>
</div>

<div class="modal-body p-4">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mb-4 font-weight-semibold">
            <span class="text-danger" style="font-size:smaller">Required fields are marked with *</span>
        </div>
    </div>

    <form id="form_AddTransferRequest">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group">
                    <label class="form-label text-black">Rquesting Branch&nbsp;<span class="text-danger">*</span></label>
                    @Html.DropDownList("str_request_branch", (IEnumerable<SelectListItem>)ViewData["BranchList"], "Please Select", new { @class = "form-select select2" })
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group">
                    <label class="form-label text-black">From Branch&nbsp;<span class="text-danger">*</span></label>
                    @Html.DropDownList("str_from_branch", (IEnumerable<SelectListItem>)ViewData["BranchList"], "Please Select", new { @class = "form-select select2" })
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <div class="form-group">
                    <label class="form-label text-black">Date&nbsp;<span class="text-danger">*</span></label>
                    @Html.TextBoxFor(sup => sup.str_date, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", maxlength = "18" })
                </div>
            </div>
        </div>
        <div id="divItems">
            <div class="row" style="border: 1px solid #0e2672; border-width: 1px 0 1px 0px;">
                <div class="mt-5">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label class="form-label text-black">
                                        Items&nbsp;<span class="text-danger">*&nbsp;<label id="lbl_message" class="fw-bold"></label></span>
                                        &nbsp;<a id="btnItemEnquiry" title="Central Store Item Enquiry" style="cursor: pointer"><i class="fa fa-question-circle text-info"></i></a>
                                    </label>
                                    <select class="form-control select2" id="item_request_name">
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-2">
                                <div class="form-group">
                                    <label class="form-label">Qty / UoM&nbsp;<span class="text-danger">*&nbsp;<label id="lbl_request_qty" class="fw-bold"></label></span></label>
                                    <div class="input-group">
                                        <input type="text" id="item_request_qty" class="form-control" maxlength="8" onkeypress="return validateOneDecimalNumeric(this,event);" value="0" />
                                        <div class="input-group-append" style="max-width: 70%; min-width: 50%;">
                                            <select class="form-control select2" id="item_request_uom"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-3">
                                <div class="form-group">
                                    <label class="form-label text-black">Items Description</label>
                                    <input type="text" id="item_request_desc" class="form-control" maxlength="495" />
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-2">
                                <div class="form-group">
                                    <label class="form-label text-black">&nbsp;</label>
                                    <button type="button" class="btn btn-secondary" id="btnAddItem" onclick="addStockItemToList();"> <i class="mdi mdi-plus"></i>&nbsp;Add Item</button>

                                    <button type="button" class="btn btn-outline-dark" id="btn_Reset">Reset</button>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label class="form-label text-danger">&nbsp;<span class="text-danger" id="lbl_request_branch_error"></span></label>
                                    <label class="form-label text-danger">&nbsp;<span class="text-danger" id="lbl_request_calculation_error"></span></label>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 d-flex justify-content-center" id="exists">
                                <div id="ExistAlert"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="table-responsive">
                                <table id="tbl_stockTransferRequest_items" class="table table-striped table-bordered text-nowrap resize-table" style="width: 100%; cursor: pointer;">
                                    <thead>
                                        <tr style="color: #fff !important; background-color: #3C457D; border-color: #3C457D;">
                                            <th class="border-bottom-0 font-weight-semibold text-white">ID</th>
                                            <th class="border-bottom-0 font-weight-semibold text-white">Code</th>
                                            <th class="border-bottom-0 font-weight-semibold text-white">Item</th>
                                            <th class="border-bottom-0 font-weight-semibold text-white">Qty</th>
                                            <th class="border-bottom-0 font-weight-semibold text-white">UoM</th>
                                            <th class="border-bottom-0 font-weight-semibold text-white">Description</th>
                                            <th class="border-bottom-0 font-weight-semibold text-white"></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td class="text-end fs-14 font-weight-semibold" style="text-align: right !important;"><span class="text-right text-dark fw-bold">Total : &nbsp;</span></td>
                                            <td class="text-end fs-14 font-weight-semibold"></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
                    <div id="stock_transfer_request_error" class="text-center" style="max-width:500px"></div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
                    <div id="StockRequestAlert"></div>
                </div>
                @if (TempData["ErrorMessage_Insert"] != null)
                {
                    <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            <strong>Error!&nbsp;</strong>@TempData["ErrorMessage_Insert"]
                        </div>
                    </div>
                }
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <button type="submit" class="btn btn-success" id="btn_Insert"><i class="fe fe-check-circle"></i>&nbsp;Confirm & Save</button>
                    <button type="button" class="btn btn-outline-danger me-1" data-bs-dismiss="modal">
                        <i class="fe fe-x"></i> Close
                    </button>
                    <label class="text-red" id="request_error_message"></label>
                    <input type="hidden" id="hi_request_item_uom" value="0" />
                    <input type="hidden" id="hi_request_item_uom2" value="0" />
                    <input type="hidden" id="hi_request_item_uom3" value="0" />
                    <input type="hidden" id="hi_mfactor" value="0" />
                    <input type="hidden" id="hi_mfactor2" value="" />
                    <input type="hidden" id="hi_itemId" value="0" />
                    <input type="hidden" id="hi_request_item_qty" value="0" />
                    <input type="hidden" id="hi_request_item_qty2" value="0" />
                    <input type="hidden" id="hi_request_item_qty3" value="0" />
                    <input type="hidden" id="hi_item_request_name" value="" />
                    <input type="hidden" id="hi_item_request_code" value="" />
                    <input type="hidden" id="hi_ib_cost" value="0" />
                    <input type="hidden" id="hi_ib_cost2" value="0" />
                    <input type="hidden" id="hi_ib_cost3" value="0" />
                    <input type="hidden" id="hi_ib_sprice" value="0" />
                    <input type="hidden" id="hi_ib_sprice2" value="0" />
                    <input type="hidden" id="hi_ib_sprice3" value="0" />
                    <input type="hidden" id="hi_item_request_expiry" value="0" />
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    var stockTransferRequest_arr = [];

    //#region Page Load
    $(function () {
        $('#str_request_branch').select2({
            minimumResultsForSearch: '',
            placeholder: 'Select Requesting Branch',
            dropdownParent: $('#form_AddTransferRequest'),
            width: '100%'
        });
        $('#str_from_branch').select2({
            dropdownParent: $('#form_AddTransferRequest'),
            placeholder: 'Select From Branch',
            width: '100%'
        });

        $('#item_request_uom').select2({
            dropdownParent: $('#form_AddTransferRequest'),
            placeholder: 'Select UoM',
            width: '100%'
        });

        // Get the current date
        var currentDate = new Date();
        // Get last year date
        var lastYearDate = new Date(currentDate.getFullYear() - 1, currentDate.getMonth(), currentDate.getDate());

        $('#str_date').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-",
            startDate: lastYearDate,
            endDate: currentDate
        });
        $("#str_date").bootstrapdatepicker("setDate", "today");

        $("#item_request_name").select2({
            placeholder: 'Select a Item',
            width: '100%',
            dropdownParent: $('#form_AddTransferRequest'),
            minimumInputLength: 3,
            escapeMarkup: function (markup) {
                return markup;
            },
            ajax: {
                url: '@Url.Action("SearchItems", "PurchaseOrders", new { area = "MaterialManagement" })',
                dataType: 'json',
                delay: 250,
                data: function (query) {
                    $('#lbl_message').text('');
                    if ($('#str_from_branch').val().trim() != "") {
                        return {
                            query: query.term,
                            branch: $('#str_from_branch').val()
                        };
                    }
                    else {
                        $('#lbl_message').text('Select From Branch First');
                        return {
                            query: '',
                            branch: 0
                        }
                    }
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                },
                cache: true
            }
        });
        BindDataTable(null);
        validation();
    });
    //#endregion

    //#region From Branch Change Event
    $('#str_from_branch').on('change', function () {
        stockTransferRequest_arr= [];
        GetTransferItems(stockTransferRequest_arr);
        clearData();

    });

    //#endregion

    //#region Adding Validation on Main Form
    var validation = function () {
        $("#form_AddTransferRequest").validate({
            focusInvalid: true,
            rules:
            {
                str_request_branch: {
                    required: true,
                },
                str_from_branch: {
                    required: true,
                },
                str_date: {
                    required: true,
                },
            },
            messages: {
                str_request_branch: {
                    required: "Select From Branch",
                },
                str_from_branch: {
                    required: "Select From Branch",
                },
                str_date: {
                    required: "Select Date",
                },
            },
            highlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                } else {
                    elem.parent().addClass('has-error');
                }
                $(element).parent().addClass('has-error');
                Error_Timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                } else {
                    elem.removeClass('has-error');
                }
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    element = $("#select2-" + elem.attr("id") + "-container").parent();
                    error.insertAfter(element);
                } else {
                    error.insertAfter(element);
                }
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
    $('#str_date').keypress(function (e) {
        var charCode = (e.which) ? e.which : e.keyCode
        if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
            return false;

        }
        else {
            if (e.target.value.length >= 18)
                return false;
        }
    });
    //#endregion

    //#region Validate Text Box with One Decimal and numeric only on Key Press
    function validateOneDecimalNumeric(el, evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        var number = el.value.split('.');
        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        //just one dot
        if (number.length > 1 && charCode == 46) {
            return false;
        }
        //get the Current position
        var caratPos = getSelectionStart(el);
        var dotPos = el.value.indexOf(".");
        if (caratPos > dotPos && dotPos > -1 && (number[1].length > 1)) {
            return false;
        }
        return true;
    }
    function getSelectionStart(o) {
        if (o.createTextRange) {
            var r = document.selection.createRange().duplicate()
            r.moveEnd('character', o.value.length)
            if (r.text == '') return o.value.length
            return o.value.lastIndexOf(r.text)
        } else return o.selectionStart
    }
    //#endregion

    //#region Item Select Event
    $('#item_request_name').on('select2:select', function (e) {
        var data = e.params.data;
        if (data.id > 0) {
            $.ajax({
                url: '@Url.Action("GetRequestedItemDetail", "StockTransfer", new { area = "MaterialManagement" })?id=' + data.id,
                type: "GET",
                dataType: "json",
                async: false,
                success: function (response) {
                    $("#item_request_uom").empty();
                    if (response.length > 0) {
                        var item_uom = response[0].item_uom;
                        var item_uom2 = response[0].item_uom2;
                        var item_uom3 = response[0].item_uom3;
                        var newOption = "";
                        newOption = new Option(item_uom, item_uom, true, true);
                        $("#item_request_uom").append(newOption).trigger('change');
                        if (item_uom != item_uom2) {
                            newOption = new Option(item_uom2, item_uom2, true, true);
                            $("#item_request_uom").append(newOption).trigger('change');
                        }
                        if (item_uom2 != item_uom3) {
                            newOption = new Option(item_uom3, item_uom3, true, true);
                            $("#item_request_uom").append(newOption).trigger('change');
                        }
                        $('#item_request_uom').val(response[0].item_uom).trigger('change');

                        $('#hi_request_item_qty').val(parseFloat(response[0].item_qty).toFixed(2));
                        $('#hi_request_item_qty2').val(parseFloat(response[0].item_qty2).toFixed(2));
                        $('#hi_request_item_qty3').val(parseFloat(response[0].item_qty3).toFixed(2));
                        $('#hi_request_item_uom').val(response[0].item_uom);
                        $('#hi_request_item_uom2').val(response[0].item_uom2);
                        $('#hi_request_item_uom3').val(response[0].item_uom3);
                        $('#hi_mfactor').val(response[0].item_m_factor);
                        $('#hi_mfactor2').val(response[0].item_m_factor2);
                        $('#hi_itemId').val(response[0].itemId);
                        $('#hi_item_request_name').val(response[0].item_name);
                        $('#hi_item_request_code').val(response[0].item_code);
                        $('#hi_ib_cost').val(response[0].item_cost);
                        $('#hi_ib_cost2').val(response[0].item_cost2);
                        $('#hi_ib_cost3').val(response[0].item_cost3);
                        $('#hi_ib_sprice').val(response[0].item_sprice);
                        $('#hi_ib_sprice2').val(response[0].item_sprice2);
                        $('#hi_ib_sprice3').val(response[0].item_sprice);
                        $('#hi_item_expiry').val('19-April-2050');
                        $('#item_request_qty').val('0');
                    }
                    else {
                        $('#item_request_qty').val('0');
                        $('#item_request_uom').val('-1').trigger('change');
                        $('#hi_request_item_qty').val('0');
                        $('#hi_request_item_qty2').val('0');
                        $('#hi_request_item_qty3').val('0');
                        $('#hi_request_item_uom').val('');
                        $('#hi_request_item_uom2').val('');
                        $('#hi_request_item_uom3').val('');
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr.statusText);
                }
            }).done(function () {
                //$('#select2-item_request_name-container').attr("title", $('#hi_item_request_name').val());
                setTimeout(function () {
                    $('#select2-item_request_name-container').attr("title", $('#hi_item_request_name').val());
                }, 100);
            });
        }
    });
    //#endregion
    
    //#region Adding Item Calculation
    $("#item_request_qty").focusout('input', function () {
        AddingCalculation();
    });
    $('#item_request_uom').on('select2:select', function (e) {
        AddingCalculation();
    });

    var AddingCalculation = function () {
        $("#lbl_request_calculation_error").text("");
        $("#lbl_request_branch_error").text("");
        $("#lbl_request_qty").text("");
        let _qty = $("#item_request_qty").val();
        let _uom = $("#item_request_uom").val();
        let _itemQty = $("#hi_request_item_qty").val();
        let _itemQty2 = $("#hi_request_item_qty2").val();
        let _itemQty3 = $("#hi_request_item_qty3").val();
        let _item_uom = $("#hi_request_item_uom").val();
        let _item_uom2 = $("#hi_request_item_uom2").val();
        let _item_uom3 = $("#hi_request_item_uom3").val();
        if (_uom !== undefined && _uom !== null && _uom !== "" && _uom.length > 0) {
            if (_item_uom === undefined || _item_uom === null || _item_uom === "" ||
                _item_uom2 === undefined || _item_uom2 === null || _item_uom2 === "" ||
                _item_uom3 === undefined || _item_uom3 === null || _item_uom3 === "") {
                $('#item_request_name').parent().addClass('has-error');
                Error_Timeout("item_request_name");
                $("#lbl_request_qty").text("Stock Qty Not Selected");
            }
            else {
                if (_qty === "" || _qty === null || _qty === undefined) {
                    _qty = 0;
                    $("#item_request_qty").val("0");
                }

                if (_itemQty === "" || _itemQty === null || _itemQty === undefined) {
                    _itemQty = 0;
                    $("#hi_request_item_qty").val("0");
                }

                if (_itemQty2 === "" || _itemQty2 === null || _itemQty2 === undefined) {
                    _itemQty2 = 0;
                    $("#hi_request_item_qty2").val("0");
                }

                if (_itemQty3 === "" || _itemQty3 === null || _itemQty3 === undefined) {
                    _itemQty3 = 0;
                    $("#hi_request_item_qty3").val("0");
                }

                //if (_uom === _item_uom) {
                //    if (parseFloat(_qty) > parseFloat(_itemQty)) {
                //        $("#lbl_request_calculation_error").text("Transfer Qty should be less than Stock Qty");
                //        $("#item_request_qty").attr("style", "border:1px solid red;color:red;");
                //    }
                //    else {
                //        $("#lbl_request_calculation_error").text("");
                //        $("#item_request_qty").attr("style", "border:1px solid #ecebf1;color:#728096;");
                //    }
                //}
                //else if (_uom === _item_uom2) {
                //    if (parseFloat(_qty) > parseFloat(_itemQty2)) {
                //        $("#lbl_request_calculation_error").text("Transfer Qty should be less than Stock Qty");
                //        $("#item_request_qty").attr("style", "border:1px solid red;color:red;");
                //    }
                //    else {
                //        $("#lbl_request_calculation_error").text("");
                //        $("#item_request_qty").attr("style", "border:1px solid #ecebf1;color:#728096;");
                //    }
                //}
                //else if (_uom === _item_uom3) {
                //    if (parseFloat(_qty) > parseFloat(_itemQty3)) {
                //        $("#lbl_request_calculation_error").text("Transfer Qty should be less than Stock Qty");
                //        $("#item_request_qty").attr("style", "border:1px solid red;color:red;");
                //    }
                //    else {
                //        $("#lbl_request_calculation_error").text("");
                //        $("#item_request_qty").attr("style", "border:1px solid #ecebf1;color:#728096;");
                //    }
                //}
            }
        }
        else {
            $('#item_request_uom').parent().addClass('has-error');

            Error_Timeout("item_uom");
        }

    }
    //#endregion

    //#region Bind DataTable
    var BindDataTable = function (response) {
        var numberRenderer1 = $.fn.dataTable.render.number(',', '.', 2,).display;
        var table = $("#tbl_stockTransferRequest_items").DataTable({
            processing: true,
            paging: false,
            ordering: false,
            info: false,
            "searching": false,
            "retrieve": true,
            lengthChange: false,
            "aaData": response,
            "aoColumns": [
                {
                    "mData": "str_itemId",
                    "visible": false
                },
                { "mData": "str_item_code" },
                {
                    "mData": "item_request_name",
                    "className": "fs-13 td_max_width"
                },
                {
                    "mData": "str_oqty",
                    "className": "fs-13 text-end",
                    "render": $.fn.dataTable.render.number(',', '.', 2)
                },
                {
                    "mData": "str_ouom",
                    "className":"text-center"
                },
                { "mData": "str_notes" },
                {
                    "mData": "str_itemId",
                    "className": "fs-13 text-center dt-delete",
                    "render": function (data) {
                        var html = "<i class='fe fe-trash text-danger curpointer' id='remove-item' style='font-size: 15px;'></i>";
                        return html;
                    }
                }

            ],
            scrollX: true,
            scrollY: 500,
            scrollCollapse: true,
            fixedColumns: true,
            fixedHeader: {
                header: true,
                footer: true
            },
            footerCallback: function (row, data, start, end, display) {
                var api = this.api();

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
                };

                total_qty = api.column(3).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                $(api.column(3).footer()).html(numberRenderer1(total_qty.toFixed(2)));

            }
        });
        table.buttons().container()
            .appendTo('#tbl_stockTransferRequest_items_wrapper .col-md-6:eq(0)');

        // Remove Items From DataTable
        table.on('click', '#remove-item', function (e) {
            var row = $(this).parents('tr');
            var data_row = table.row($(this).closest('tr')).data();

            Swal.fire({
                title: "Are you sure you want to delete this Item From List?",
                text: "This action will delete this Item from Selection!",
                icon: "question",
                showCancelButton: !0,
                confirmButtonText: 'Yes! I Confirm',
                cancelButtonText: 'No! Cancel Please',
                confirmButtonClass: "btn btn-success mt-2",
                cancelButtonClass: "btn btn-danger ms-2 mt-2",
                buttonsStyling: !1
            }).then(function (t) {
                if (t.value) {
                    stockTransferRequest_arr = $.grep(stockTransferRequest_arr, function (n, i) {
                        return (n.str_itemId !== data_row.str_itemId);
                    });

                    if ($(row).hasClass('child')) {
                        table.row($(row).prev('tr')).remove().draw();
                    } else {
                        table.row(row).remove().draw();
                    }

                    Swal.fire({
                        title: "Success!",
                        text: "Item Deleted Successfully!",
                        icon: "success",
                        showCancelButton: 0,
                        confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60"
                    });


                }
            });
        });

        setTimeout(function () {
            resizedt_name('tbl_stockTransferRequest_items');
        }, 100);
    }
    //#endregion

    //#region Add Items To List
    var addStockItemToList = function () {
        if (StockItemsValid()) {
            var exists = false;

            if (stockTransferRequest_arr.length > 0) {
                exists = stockTransferRequest_arr.some(function (check) {
                    return check.str_itemId === $("#item_request_name").val();
                });
            }

            if (exists) {
                var data = $("#item_request_name option:selected").text();
                /*data = (data.length >= 75) ? (data.substring(0, 75) + "...") : data;*/
                console.log(data)

                Swal.fire({
                    title: "Transfer Item Exists!",
                    html: "<strong style='color:red;'>" + data + "</strong>.<br/> is Already Exists in list Please remove existing one and add again.",
                    icon: "warning",
                    showCancelButton: 0,
                    confirmButtonText: 'OK',
                    confirmButtonClass: "btn btn-success mt-2",
                    buttonsStyling: !1
                })
            }
            else {
                bindItems();
                clearData();
            }
        }
        else {
            //$('.modal-body').animate({
            //    scrollTop: ($('.has-error').offset().top - 300)
            //}, 2000);
            var alertPlaceholder = document.getElementById("stock_transfer_request_error");
            function alert(e, t) {
                var l = document.createElement("div");
                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>', alertPlaceholder.append(l)
            }
            alert("<i class='fa fa-exclamation-triangle text-warning'></i>Please Fill Mandatory fields!", "warning");
            Timeout();
        }
    }

    //BindItems
    var bindItems = function () {
        var data = {
            "stdId":0,
            "str_date": $("#str_date").val(),
            "str_refno": '',
            "str_itemId": $("#hi_itemId").val(),
            "str_notes": $("#item_request_desc").val(),
            "str_oqty": $("#item_request_qty").val(),
            "str_ouom": $("#item_request_uom").val(),
            "str_from_branch": $("#str_from_branch").val(),
            "str_request_branch": $("#str_request_branch").val(),
            "str_item_uom": $("#hi_request_item_uom").val(),
            "str_item_uom2": $("#hi_request_item_uom2").val(),
            "str_item_uom3": $("#hi_request_item_uom3").val(),
            "str_item_mfactor": $("#hi_mfactor").val(),
            "str_item_mfactor2": $("#hi_mfactor2").val(),
            "item_request_name": $("#hi_item_request_name").val(),
            "str_item_code": $("#hi_item_request_code").val(),
            "str_item_cost": $("#hi_ib_cost").val(),
            "str_item_cost2": $("#hi_ib_cost2").val(),
            "str_item_cost3": $("#hi_ib_cost3").val(),
            "str_item_sprice": $("#hi_ib_sprice").val(),
            "str_item_sprice2": $("#hi_ib_sprice2").val(),
            "str_item_sprice3": $("#hi_ib_sprice3").val(),
            "str_item_expiry": '19-April-2050'
        }

        stockTransferRequest_arr.push(data);

        GetTransferItems(stockTransferRequest_arr);

    }
    //Load Items in DataTable
    var GetTransferItems = function (response) {
        if (response != null && response != undefined) {
            var table;
            if ($.fn.dataTable.isDataTable('#tbl_stockTransferRequest_items')) {
                table = $('#tbl_stockTransferRequest_items').DataTable();
                table.clear();
                table.rows.add(response).draw();
            }
            else {
                BindDataTable(response);
            }
        }
    }
    //#endregion

    //#region Items Table Validation
    var StockItemsValid = function () {
        let _qty = $('#item_request_qty').val().trim();
        let _uom = $("#item_request_uom").val();
        let _itemQty = $("#hi_request_item_qty").val();
        let _itemQty2 = $("#hi_request_item_qty2").val();
        let _itemQty3 = $("#hi_request_item_qty3").val();
        let _item_uom = $("#hi_request_item_uom").val();
        let _item_uom2 = $("#hi_request_item_uom2").val();
        let _item_uom3 = $("#hi_request_item_uom3").val();
        var count = 0;

        if ($('#item_request_name').val() == undefined || $('#item_request_name').val() == null || $('#item_request_name').val() == '' || $('#item_request_name').val().length == 0) {
            $("#select2-item_request_name-container").parent().addClass('error');
            count++;
            Error_Timeout("item_request_name");
        }

        if ($('#str_from_branch').val() == undefined || $('#str_from_branch').val() == null || $('#str_from_branch').val() == '' || $('#str_from_branch').val().length == 0) {
            $("#select2-str_from_branch-container").parent().addClass('error');
            count++;
            Error_Timeout("str_from_branch");
        }

        if ($('#str_request_branch').val() == undefined || $('#str_request_branch').val() == null || $('#str_request_branch').val() == '' || $('#str_request_branch').val().length == 0) {
            $("#select2-str_request_branch-container").parent().addClass('error');
            count++;
            Error_Timeout("str_request_branch");
        }

        if ($('#str_from_branch').val() === $('#str_request_branch').val()) {
            $("#select2-str_from_branch-container").parent().addClass('error');
            $("#select2-str_request_branch-container").parent().addClass('error');
            count++;
            Error_Timeout("str_from_branch");
            Error_Timeout("str_request_branch");
            $("#lbl_request_branch_error").text("From Branch and To Branch cannot be same.");
        }
        else {
            $("#lbl_request_branch_error").text("");
        }

        if ($('#str_date').val() == undefined || $('#str_date').val() == null || $('#str_date').val() == '' || $('#str_date').val().length == 0) {
            $("#str_date").parent().addClass('has-error');
            count++;
            Error_Timeout("str_date");
        }

        if (_qty === "" || _qty === null || _qty === undefined) {
            $("#lbl_request_calculation_error").text("Qty should be more than 0");
            $("#item_request_qty").attr("style", "border:1px solid red;color:red;");
            count++;
            Error_Timeout("item_request_qty");
        }
        else {
            $("#lbl_request_calculation_error").text("");
            $("#item_request_qty").attr("style", "border:1px solid #ecebf1;color:#728096;");
        }

        if (_uom !== undefined && _uom !== null && _uom !== "" && _uom.length > 0) {
            if (_item_uom === undefined || _item_uom === null || _item_uom === "" ||
                _item_uom2 === undefined || _item_uom2 === null || _item_uom2 === "" ||
                _item_uom3 === undefined || _item_uom3 === null || _item_uom3 === "") {
                $('#item_request_name').parent().addClass('has-error');
                count++;
                Error_Timeout("item_request_name");
                $("#lbl_request_qty").text("Stock Item Not Selected");
            }
            else {
                if (_qty === "" || _qty === null || _qty === undefined) {
                    _qty = 0;
                    $("#item_request_qty").val("0");
                }

                if (_itemQty === "" || _itemQty === null || _itemQty === undefined) {
                    _itemQty = 0;
                    $("#hi_request_item_qty").val("0");
                }

                if (_itemQty2 === "" || _itemQty2 === null || _itemQty2 === undefined) {
                    _itemQty2 = 0;
                    $("#hi_request_item_qty2").val("0");
                }

                if (_itemQty3 === "" || _itemQty3 === null || _itemQty3 === undefined) {
                    _itemQty3 = 0;
                    $("#hi_request_item_qty3").val("0");
                }
            }
        }
        else {
            $('#item_request_uom').parent().addClass('has-error');
            count++;
            Error_Timeout("item_uom");
        }

        if (count == 0) {
            if (_qty <= 0) {
                $("#lbl_request_calculation_error").text("Qty should be more than 0");
                $("#item_request_qty").attr("style", "border:1px solid red;color:red;");
                count++;
                Error_Timeout("item_request_qty");
            }
            else {
                $("#lbl_request_calculation_error").text("");
                $("#item_request_qty").attr("style", "border:1px solid #ecebf1;color:#728096;");
            }
        }

        if ($('#hi_request_item_uom').val() == '' || $('#hi_request_item_uom').val().length == 0 ||
            $('#hi_mfactor').val() == '' || $('#hi_mfactor').val() == 0 ||
            $('#hi_mfactor2').val() == '' || $('#hi_mfactor2').val() == 0 ||
            $('#hi_itemId').val() == '' || $('#hi_itemId').val() == 0
        ) {
            $("#select2-item_request_name-container").parent().addClass('error');           
            count++;
            Error_Timeout("item_request_name");
        }

        if (count > 0)
            return false;
        else
            return true;
    }
    //#endregion

    //#region Validate Stock Transfer Request Items Table
    var ItemsTableValid = function () {
        var count = 0;
        if ($("#tbl_stockTransferRequest_items > tbody > tr").length <= 0) {
            count++;
            $('#tbl_stockTransferRequest_items').parent().addClass('has-error');
            Error_Timeout("tbl_stockTransferRequest_items");
        }
        else {
            var td_text = "";
            $("#tbl_stockTransferRequest_items tbody tr").each(function () {
                var row = $(this);
                td_text = row.find("td").eq(0).html();
            });
            if (td_text.trim() === "No data available in table") {
                count++;
                $('#tbl_stockTransferRequest_items').parent().addClass('has-error');
                Error_Timeout("tbl_stockTransferRequest_items");
            }
        }
        if (count > 0)
            return false;
        else
            return true;
    }
    //#endregion

    //#region Insert Stock Transfer Request on Button Click
    $('#btn_Insert').on('click', function (e) {
        e.preventDefault();
        var t = 0;
        if ($('#form_AddTransferRequest').valid() && ItemsTableValid() ) {
            Swal.fire({
                title: "Save",
                text: "Are you sure want to Create Stock Transfer Request!.",
                icon: "question",
                showCancelButton: !0,
                confirmButtonText: 'Yes! I Confirm',
                cancelButtonText: 'No! Cancel Please',
                confirmButtonClass: "btn btn-success mt-2",
                cancelButtonClass: "btn btn-danger ms-2 mt-2",
                buttonsStyling: !1
            }).then(function (t) {
                if (t.value) {
                    if (stockTransferRequest_arr.length > 0) {
                        var transferQty = {
                            stockTransferRequestList: stockTransferRequest_arr,
                            __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                        }
                        $.ajax({
                            url: '@Url.Action("InsertStockTransferRequest", "StockTransfer", new { area = "MaterialManagement" })',
                            type: "POST",
                            dataType: "json",
                            data: transferQty,
                            beforeSend: function () {
                                $('#btn_Insert').removeClass("btn btn-success");
                                $('#btn_Insert').addClass("btn btn-success btn-loaders btn-icon");
                                $('#btn_Insert').parent().addClass("curdrop");
                                $('#btn_Insert').html("Saving.. Please Wait");
                                $('.btn-close').addClass("disabled");

                            },
                            async: false,
                            success: function (data) {
                                $('#btn_Insert').removeClass("btn btn-success btn-loaders btn-icon");
                                $('#btn_Insert').addClass("btn btn-success");
                                $('#btn_Insert').parent().removeClass("curdrop");
                                $('#btn_Insert').html(" Confirm & Save");
                                $('.btn-close').removeClass("disabled");
                                if (data.isInserted) {

                                    Get_StockTransferRequests($('#str_date').val().trim(), $('#str_date').val().trim());
                                    var alertPlaceholder = document.getElementById("StockTransferRequestAlert");
                                    function alert(e, t) {
                                        var l = document.createElement("div");
                                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                    }
                                    alert("<i class='fe fe-check-circle text-white'></i>Stock Transfer Request Inserted Successfully!", "success");
                                    $('#StockTransferRequest_modal').modal('toggle');
                                    Timeout();

                                }
                                else {
                                    $("#stock_transfer_request_error").html('');
                                    var error_message = data.message;
                                    if (error_message == "Error While Inserting Stock Transfer Request!") {
                                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                            "<div class='alert alert-light-warning' role='alert' style=';color:#744f04'>" +
                                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                            "<strong><i class='fe fe-alert-triangle'></i>&nbsp;" + error_message + "&nbsp;</strong></div></div>";
                                        $("#stock_transfer_request_error").html(html);
                                    }
                                    else {
                                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                            "<div class='alert alert-danger' role='alert'>" +
                                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                            "<strong><i class='fe fe-alert-circle text-white' ></i>&nbsp;Validation Error.. Please correct before you Update!&nbsp;</strong><br/><ul>";
                                        $.each(data.message, function (index, value) {
                                            html += "<li><small>" + value + "</small><li>";
                                            var elem = $("#" + index);
                                            if (elem.hasClass("select2-hidden-accessible")) {
                                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                            }
                                            else {
                                                $(elem).addClass(" is-invalid");
                                            }
                                            setTimeout(function () {
                                                if (elem.hasClass("select2-hidden-accessible")) {
                                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                                }
                                                else {
                                                    $(elem).removeClass("is-invalid");
                                                }
                                            }, 5000);
                                        });
                                        html += "</ul></div></div>";
                                        $("#stock_transfer_request_error").html(html);
                                    }
                                    Timeout();
                                }
                            },
                            error: function (xhr) {
                                AddingCalculation('Qty1');
                                $('#btn_Insert').removeClass("btn btn-success btn-loaders btn-icon");
                                $('#btn_Insert').addClass("btn btn-success");
                                $('#btn_Insert').parent().removeClass("curdrop");
                                $('#btn_Insert').html(" Confirm & Save");
                                $('.btn-close').removeClass("disabled");
                                var alertPlaceholder = document.getElementById("ConsumptionAlert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close text-white" data-bs-dismiss="alert" aria-hidden="true">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-x-circle text-white'></i> Failed to Create Stock Transfer Request!", "danger");
                                $('#StockTransferRequest_modal').modal('toggle');
                                Timeout();
                            }
                        });
                    }
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
            var alertPlaceholder = document.getElementById("stock_transfer_request_error");
            function alert(e, t) {
                var l = document.createElement("div");
                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>', alertPlaceholder.append(l)
            }
            alert("<i class='fa fa-exclamation-triangle text-warning'></i>Please Make sure to Add Atleast one Items & Fill Mandatory fields!", "warning");
            Timeout();
        }
    });
    //#endregion

    //#region Item Enquiry View
    $('#btnItemEnquiry').on('click', function (e) {
        e.preventDefault();
        $("#spinner2").show();
        $.ajax({
            type: "GET",
            url: "@Url.Action("StockItemEnquiry", "PurchaseOrders", new { area = "MaterialManagement" })",
            contentType: "application/json",
            dataType: "html",
            success: function (data) {
                $('#StockTransferRequest_modal').modal('hide');
                $('#CentralStoreItems_modal').attr("data-modal-from", "item-enquiry-stock-transfer");

                $("#CentralStoreItems_body").html(data);
                $("#CentralStoreItems_modal").modal("show");
            },
            error: function (xhr) {
                console.log(xhr);
                $("#spinner2").hide();
            },
            complete: function () {
                // Hide spinner when request is complete
                $("#spinner2").hide();
            }
        });
    });
    //#endregion

    //#region Clear Text Boxes Data
    var clearData = function () {
        $('#item_request_name').val('0').trigger('change');       
        $('#error_message').val('');
        $('#lbl_request_calculation_error').val('');
        $('#lbl_request_qty').val('');
        $('#lbl_message').val('');
        $('#item_request_desc').val('');
        $('#item_request_qty').val('0');
        $('#item_request_uom').val('0');
        $('#item_itemQty').val('0');
        $('#item_itemQty2').val('0');
        $('#item_itemQty3').val('0');
        $('#hi_itemId').val('0');
        $('#hi_item_request_name').val('');
        $('#hi_item_request_code').val('');
        $('#hi_request_item_uom').val('');
        $('#hi_request_item_uom2').val('');
        $('#hi_request_item_uom3').val('');
    }
    //#endregion

    //#region Rest Items Detail Feilds
    $('#btn_Reset').click(function () {
        clearData();
    });
    //#endregion

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion

    //#region Remove Valiate Error Class Timeout
    function Error_Timeout(_id) {
        setTimeout(function () {
            $(".has-error").removeClass("has-error");
            $(".error").removeClass("error");
            $("#" + _id + "-error").text("");
        }, 4200);
    }
    //#endregion
</script>


