
@model BusinessEntities.Accounts.MaterialManagement.StockTransferRequestList

@{
    ViewBag.Title = "Print Stock Transfer Request";
}
<title>ClinicSoft 9.0 - Powered By Vision Technologies | @ViewBag.Title</title>

<link rel="icon" href="~/assets/images/brand/favicon.ico" type="image/x-icon" />

<!--Bootstrap css -->
<link id="style" href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
@*<link id="style" href="@Url.Content("~/assets/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet">*@

<link id="style" href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
@*<link id="style" href="@Url.Content("~/assets/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet">*@
<!-- Style css -->
<link href="~/assets/css/style.css" rel="stylesheet" />
<link href="~/assets/css/dark.css" rel="stylesheet" />
<link href="~/assets/css/skin-modes.css" rel="stylesheet" />

<!-- Animate css -->
<link href="~/assets/css/animated.css" rel="stylesheet" />

<!-- P-scroll bar css-->
<link href="~/assets/plugins/p-scrollbar/p-scrollbar.css" rel="stylesheet" />

<!---Icons css-->
<link href="~/assets/css/icons.css" rel="stylesheet" />

<!-- Simplebar css -->
<link rel="stylesheet" href="~/assets/plugins/simplebar/css/simplebar.css">

<!-- INTERNAL Morris Charts css -->
<link href="~/assets/plugins/morris/morris.css" rel="stylesheet" />

<!-- INTERNAL Select2 css -->
<link href="~/assets/plugins/select2/select2.min.css" rel="stylesheet" />

<!---Icons css-->
<link href="~/assets/css/icons.css" rel="stylesheet" />

<!-- INTERNAL Fullcalendar css-->
<link href='~/assets/plugins/fullcalendar/fullcalendar.css' rel='stylesheet' />
<link href='~/assets/plugins/fullcalendar/fullcalendar.print.min.css' rel='stylesheet' media='print' />

<!--Date Picker-->
<link href="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet" />

<!-- Data table css -->
@*<link href="~/assets/plugins/datatables/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatables/Responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />*@
<link href="~/assets/plugins/datatables/DataTables/css/dataTables.bootstrap5.css" rel="stylesheet" />
<link href="~/assets/plugins/datatables/Buttons/css/buttons.bootstrap5.min.css" rel="stylesheet">
<link href="~/assets/plugins/datatables/Responsive/css/responsive.bootstrap5.min.css" rel="stylesheet" />
<link href="~/assets/plugins/datatables/Select/css/select.dataTables.min.css" rel="stylesheet" />
<link href="~/assets/plugins/datatables/Checkbox/dataTables.checkboxes.css" rel="stylesheet" />

<!-- Color Skin css -->
<link id="theme" href="~/assets/colors/color1.css" rel="stylesheet" type="text/css" />

<!--- INTERNAL Sweetalert css-->
<link href="~/assets/plugins/sweet-alert/jquery.sweet-modal.min.css" rel="stylesheet" />
<link href="~/assets/plugins/sweet-alert/sweetalert.css" rel="stylesheet" />
<link href="~/assets/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<!-- INTERNAL Accordion Css -->
<link href="~/assets/plugins/accordion/accordion.css" rel="stylesheet" />
<!-- INTERNAL Mutipleselect css-->
<!--<link rel="stylesheet" href="~/assets/plugins/multipleselect/multiple-select.css">-->
<!-- INTERNAL multi css-->
<!--<link rel="stylesheet" href="~/assets/plugins/multi/multi.min.css">-->
<!-- INTERNAL Sumoselect css-->
<link rel="stylesheet" href="~/assets/plugins/sumoselect/sumoselect.css">
<link href="~/assets/plugins/charts-c3/c3-chart.css" rel="stylesheet" />
<link href="~/assets/plugins/notify/css/jquery.growl.css" rel="stylesheet" />
<link href="~/assets/plugins/notify/css/notifIt.css" rel="stylesheet" />
<link href="~/assets/plugins/prism/prism.css" rel="stylesheet" />
<link href="~/assets/css/custom.css" rel="stylesheet" />
<!-- INTERNAL  Tabs css-->
<link href="~/assets/plugins/tabs/style.css" rel="stylesheet" />
<!-- Jquery js-->
<script src="~/assets/js/jquery.min.js"></script>


<!-- INTERNAl Quill css -->
<link href="~/assets/plugins/quill/quill.snow.css" rel="stylesheet">
<link href="~/assets/plugins/quill/quill.bubble.css" rel="stylesheet">

<!-- Row-->
<div class="row" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-center">
                    <img src="@Model.stockTransferRequestList[0].set_header_image" />
                </div>

                <h2 class="font-weight-bold text-primary">Stock Transfer Request Detail</h2>
                <div class="row fw-bold">
                    <div class="col-sm-12 col-md-5 col-lg-5">
                        <div class="expanel expanel-default">
                            <div class="expanel-heading">
                                <h3 class="expanel-title">Invoice Detail</h3>
                            </div>
                            <div class="expanel-body">
                                <div class="row">
                                    <div class="col-sm-6 col-md-3 col-lg-3">
                                        <strong>Code</strong>
                                    </div>
                                    <div class="col-sm-6 col-md-1 col-lg-1">
                                        <strong>:</strong>
                                    </div>
                                    <div class="col-sm-12 col-md-8 col-lg-8">
                                        @Model.stockTransferRequestList[0].str_refno
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-3 col-lg-3">
                                        <strong>Date</strong>
                                    </div>
                                    <div class="col-sm-6 col-md-1 col-lg-1">
                                        <strong>:</strong>
                                    </div>
                                    <div class="col-sm-12 col-md-8 col-lg-8">
                                        @Model.stockTransferRequestList[0].str_date
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-3 col-lg-3">
                                        <strong>From Branch</strong>
                                    </div>
                                    <div class="col-sm-6 col-md-1 col-lg-1">
                                        <strong>:</strong>
                                    </div>
                                    <div class="col-sm-12 col-md-8 col-lg-8">
                                        @Model.stockTransferRequestList[0].from_branch_name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-3 col-lg-3">
                                        <strong>Requested Branch</strong>
                                    </div>
                                    <div class="col-sm-6 col-md-1 col-lg-1">
                                        <strong>:</strong>
                                    </div>
                                    <div class="col-sm-12 col-md-8 col-lg-8">
                                        @Model.stockTransferRequestList[0].requested_branch_name
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6 col-md-3 col-lg-3">
                                        <strong>Madeby</strong>
                                    </div>
                                    <div class="col-sm-6 col-md-1 col-lg-1">
                                        <strong>:</strong>
                                    </div>
                                    <div class="col-sm-12 col-md-8 col-lg-8">
                                        @Model.stockTransferRequestList[0].madeby
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="dropdown-divider"></div>

                <div class="dropdown-divider"></div>
                <div class="table-responsive push">
                    <table class="table table-bordered table-hover text-nowrap">
                        <tr class=" ">
                            <th class="text-center " style="width: 1%"></th>
                            <th class="border-bottom-0 font-weight-semibold">Code</th>
                            <th class="border-bottom-0 font-weight-semibold">Item</th>
                            <th class="border-bottom-0 font-weight-semibold">Qty</th>
                            <th class="border-bottom-0 font-weight-semibold">UOM</th>
                            <th class="border-bottom-0 font-weight-semibold">Description</th>
                            <th class="border-bottom-0 font-weight-semibold">Status</th>
                        </tr>
                        @{int count = 0; }
                        @foreach (BusinessEntities.Accounts.MaterialManagement.StockTransferRequest i in Model.stockTransferRequestList)
                        {
                            count++;

                            <tr>
                                <td class="text-center">@count.ToString("D2")</td>
                                <td>@i.str_item_code  </td>
                                <td>@i.item_name </td>
                                <td class="text-end">@i.str_oqty.ToString("N2") </td>
                                <td class="text-center">@i.str_ouom.ToString() </td>
                                <td>@i.str_notes.ToString() </td>
                                <td>@i.str_status.ToString() </td>
                            </tr>

                        }

                    </table>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 ">
                        <label class="fs-15 fw-bold">Prepared by</label><br />
                        <label class="fw-bold">@Model.stockTransferRequestList[0].madeby</label>

                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <label class="pull-right fs-15 fw-bold">Approved by</label>
                    </div>
                </div>
                <div class="text-center">
                    <img src="@Model.stockTransferRequestList[0].set_footer_image" />
                </div>

            </div>
        </div>
    </div>
</div>
<style>
    footer{
        display:none;
    }
</style>
<script type="text/javascript">
    //#region Page Load & Initialization
    $(function () {
        $('.navbar ').addClass('d-none');
        var elem = 'printDiv';
        var header_str = '<html><head><title>' + document.title + '</title></head><body>';
        var footer_str = '</body></html>';
        var new_str = document.getElementById(elem).innerHTML;
        var old_str = document.body.innerHTML;
        document.body.innerHTML = header_str + new_str + footer_str;
        window.print();
        document.body.innerHTML = old_str;
        return false;
    });
    //#endregion
</script>








