@model BusinessEntities.EMR.PainScale
@using BusinessEntities;
@using System.Linq;
@using System.Security.Claims;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
    ViewBag.Title = "Index";
    var id = TempData["Layout"] as string;
    var layoutPath = string.IsNullOrEmpty(id)
    ? "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml"
    : null;
    Layout = layoutPath;
}
<div class="row">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong>Error!&nbsp;</strong>@TempData["ErrorMessage"]
            </div>
        </div>
    }
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">

            <div class="card-body">
                <div>
                    <form id="form_Pain" autocomplete="off" name="painscale" ondrop="return false;" onpaste="return false;" oncut="return false;" >
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.paId, new { @id = "upaId", @value = "@Model.paId" })
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 mb-4 ">
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div>
                                            <h4 class="page-title mb-0 text-primary">
                                                PAIN MEASUREMENT SCALE
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                                        <div class="row">
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group mb-3">
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-md-1 col-lg-1">
                                                <div class="form-group mb-3 rounded-circle" id="img1">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#fbec5d" class="bi bi-emoji-laughing-fill" viewBox="0 0 16 16"><path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5c0 .501-.164.396-.415.235C6.42 6.629 6.218 6.5 6 6.5c-.218 0-.42.13-.585.235C5.164 6.896 5 7 5 6.5 5 5.672 5.448 5 6 5s1 .672 1 1.5zm5.331 3a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5zm-1.746-2.765C10.42 6.629 10.218 6.5 10 6.5c-.218 0-.42.13-.585.235C9.164 6.896 9 7 9 6.5c0-.828.448-1.5 1-1.5s1 .672 1 1.5c0 .501-.164.396-.415.235z" /></svg>
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-md-1 col-lg-1">
                                                <div class="form-group mb-3 rounded-circle " id="img2">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#ffe135" class="bi bi-emoji-neutral-fill" viewBox="0 0 16 16"><path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm-3 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8z" /></svg><div class="form-group mb-3">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-md-1 col-lg-1">
                                                <div class="form-group mb-3 rounded-circle " id="img3">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#f5c71a" class="bi bi-emoji-frown-fill" viewBox="0 0 16 16"><path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm-2.715 5.933a.5.5 0 0 1-.183-.683A4.498 4.498 0 0 1 8 9.5a4.5 4.5 0 0 1 3.898 2.25.5.5 0 0 1-.866.5A3.498 3.498 0 0 0 8 10.5a3.498 3.498 0 0 0-3.032 1.75.5.5 0 0 1-.683.183zM10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8z" /></svg>
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-md-1 col-lg-1">
                                                <div class="form-group mb-3 rounded-circle " id="img4">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#ffa500" class="bi bi-emoji-expressionless-fill" viewBox="0 0 16 16">
                                                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM4.5 6h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm5 0h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm-5 4h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1z" />
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-md-1 col-lg-1">
                                                <div class="form-group mb-3 rounded-circle " id="img5">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#ff7518" class="bi bi-emoji-dizzy-fill" viewBox="0 0 16 16">
                                                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM4.146 5.146a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 1 1 .708.708l-.647.646.647.646a.5.5 0 1 1-.708.708L5.5 7.207l-.646.647a.5.5 0 1 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 0-.708zm5 0a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708.708l-.647.646.647.646a.5.5 0 0 1-.708.708l-.646-.647-.646.647a.5.5 0 1 1-.708-.708l.647-.646-.647-.646a.5.5 0 0 1 0-.708zM8 13a2 2 0 1 1 0-4 2 2 0 0 1 0 4z" />
                                                    </svg>

                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-md-1 col-lg-1">
                                                <div class="form-group mb-3 rounded-circle " id="img6">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="#ff4500" class="bi bi-emoji-angry-fill" viewBox="0 0 16 16">
                                                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zM4.053 4.276a.5.5 0 0 1 .67-.223l2 1a.5.5 0 0 1 .166.76c.071.206.111.44.111.687C7 7.328 6.552 8 6 8s-1-.672-1-1.5c0-.408.109-.778.285-1.049l-1.009-.504a.5.5 0 0 1-.223-.67zm.232 8.157a.5.5 0 0 1-.183-.683A4.498 4.498 0 0 1 8 9.5a4.5 4.5 0 0 1 3.898 2.25.5.5 0 1 1-.866.5A3.498 3.498 0 0 0 8 10.5a3.498 3.498 0 0 0-3.032 1.75.5.5 0 0 1-.683.183zM10 8c-.552 0-1-.672-1-1.5 0-.247.04-.48.11-.686a.502.502 0 0 1 .166-.761l2-1a.5.5 0 1 1 .448.894l-1.009.504c.176.27.285.64.285 1.049 0 .828-.448 1.5-1 1.5z" />
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group mb-3">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group mb-3">
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-md-1 col-lg-1">
                                                <div class="form-group mb-3">
                                                    <label class="form-label text-black text-center">0&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-md-1 col-lg-1">
                                                <div class="form-group mb-3">
                                                    <label class="form-label text-black text-center">2&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-md-1 col-lg-1">
                                                <div class="form-group mb-3">
                                                    <label class="form-label text-black text-center">4&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-md-1 col-lg-1">
                                                <div class="form-group mb-3">
                                                    <label class="form-label text-black text-center">6&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-md-1 col-lg-1">
                                                <div class="form-group mb-3">

                                                    <label class="form-label text-black text-center">8&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-md-1 col-lg-1">
                                                <div class="form-group mb-3">
                                                    <label class="form-label text-black text-center">10&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group mb-3">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group mb-3">
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-md-1 col-lg-1">
                                                <div class="form-group mb-3">
                                                    <label class="form-label text-black text-center">NO HURT&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-md-1 col-lg-1">
                                                <div class="form-group mb-3">
                                                    <label class="form-label text-black text-center">
                                                        HURTS LITTLE BIT&nbsp;
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-md-1 col-lg-1">
                                                <div class="form-group mb-3">
                                                    <label class="form-label text-black text-center">
                                                        HURTS LITTLE MORE&nbsp;
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-md-1 col-lg-1">
                                                <div class="form-group mb-3">
                                                    <label class="form-label text-black text-center">
                                                        HURTS EVEN MORE&nbsp;
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-md-1 col-lg-1">
                                                <div class="form-group mb-3">

                                                    <label class="form-label text-black text-center">
                                                        HURTS WHOLE LOT&nbsp;
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-1 col-md-1 col-lg-1">
                                                <div class="form-group mb-3">
                                                    <label class="form-label text-black text-center">
                                                        HURTS WORST&nbsp;
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group mb-3">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <input class="rangeslider1" data-extra-classes="irs-outline" id="pa_pain" name="example_name" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="row">
                                    <div class="col-sm-12 col-lg-12 text-center">
                                        <div class="btn-list btn-animation">
                                            <button type="submit" class="btn  btn-success" id="btn_Insert_Pain">Add Pain</button>
                                            <button type="submit" class="btn  btn-outline-warning" id="btn_Update_Pain">Save Changes</button>
                                            <button type="submit" class="btn  btn-outline-danger" id="btn_Delete_Pain">Delete</button>
                                            <button type="button" class="btn  btn-outline-light" id="btn_Print_Pain" style="display:none" >
                                                <i class="fa fa-print">&nbsp;&nbsp;</i>Print
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div>
                    <h4 class="page-title mb-0 text-primary">
                        Previous History
                    </h4>
                </div>
                <div class="table-responsive">
                    <table id="tbl_PrePainScale" class="table table-striped table-bordered text-nowrap resize-table" style="width: 100%; cursor: pointer;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #808080; border-color: #3C457D; ">
                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Date</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Doctor</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="pa_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="size">
        <div class="modal-content" id="pa_body">
        </div>
    </div>
</div>

<script>
    //#region Page Load
        $(function () {
            BindDataTablePainP(null);
            GetPreviousPainScale();
            GetPainScale();
            validate();
            if ("@emp_designation.ToString()" === "Super Administrator") {
               $("#btn_Insert_Pain").show();
            } else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Insert_Pain").show();

                }
                else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Insert_Pain").show();
                    }
                    else {
                        $("#btn_Insert_Pain").hide();
                    }
                }
            }
            $('#pa_pain').ionRangeSlider({
                min: 0,
                max: 10,
                from:0,
            });
        });
    //#endregion Page Load

    //#region Slider Event
    $('#pa_pain').on("change", function () {
        var $inp = $(this);
        var from = $inp.prop("value"); // reading input value
        var from2 = $inp.data("from"); // reading input data-from attribute
        if (from == 0) {
            $('#img1').addClass("btn  btn-outline-success");
        }else if (from == 2) {
            $('#img2').addClass("btn  btn-outline-success");
        }else if (from == 4) {
            $('#img3').addClass("btn  btn-outline-success");
        }else if (from == 6) {
            $('#img4').addClass("btn  btn-outline-success");
        }else if (from == 8) {
            $('#img5').addClass("btn  btn-outline-success");
        }else if (from == 10) {
            $('#img6').addClass("btn  btn-outline-success");
        } else {
            $('#img1').removeClass("btn  btn-outline-success");
            $('#img2').removeClass("btn  btn-outline-success");
            $('#img3').removeClass("btn  btn-outline-success");
            $('#img4').removeClass("btn  btn-outline-success");
            $('#img5').removeClass("btn  btn-outline-success");
            $('#img6').removeClass("btn  btn-outline-success");
        }
    });
    //#endregion Slider Event

    //#region Load PainScale
        var GetPainScale = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllPainScale", "PainScale", new { area = "EMR" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        var _data = response;
                        if (_data.length > 0) {
                            $('#upaId').val(response[0].paId);
                            var instance = $('#pa_pain').data("ionRangeSlider");
                            instance.update({
                                from: response[0].pa_pain //your new value ionRangeSlider
                            });
                            if ("@emp_designation.ToString()" === "Super Administrator") {
                                $("#btn_Update_Pain,#btn_Delete_Pain,#btn_Print_Pain").show();
                            } else {
                                if ("@emr.set_emr_lock" == "NoLock") {
                                    $("#btn_Update_Pain,#btn_Delete_Pain,#btn_Print_Pain").show();

                                }
                                else {
                                    if ("@emr.app_ae_date" >= "@emr.today") {
                                        $("#btn_Update_Pain,#btn_Delete_Pain,#btn_Print_Pain").show();
                                    }
                                    else {
                                        $("#btn_Update_Pain,#btn_Delete_Pain,#btn_Print_Pain").hide();
                                    }
                                }
                            }
                            $("#btn_Insert_Pain").hide();

                        }
                        else {
                            if ("@emp_designation.ToString()" === "Super Administrator") {
                                $("#btn_Insert_Pain").show();
                            } else {
                                if ("@emr.set_emr_lock" == "NoLock") {
                                    $("#btn_Insert_Pain").show();
                                }
                                else {
                                     if ("@emr.app_ae_date" >= "@emr.today") {
                                        $("#btn_Insert_Pain").show();
                                    }
                                    else {
                                        $("#btn_Insert_Pain").hide();
                                    }
                                }
                            }
                            $("#btn_Update_Pain,#btn_Delete_Pain,#btn_Print_Pain").hide();

                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            }).done(function () {
                resizedt();
            });
        }
    //#endregion Load PainScale

    //#region Load PreviousPainScale
        var GetPreviousPainScale = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllPrePainScale", "PainScale", new { area = "EMR" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.isAuthorized != false) {
                        var table;
                        if ($.fn.dataTable.isDataTable('#tbl_PrePainScale')) {
                            table = $('#tbl_PrePainScale').DataTable();
                            table.clear();
                            table.rows.add(response).draw();
                        }
                        else {
                            console.log(response);
                            BindDataTablePainP(response);
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion Load PreviousPainScale

    //#region Previous Bind Datatable
        var BindDataTablePainP = function (response) {
            var table = $("#tbl_PrePainScale").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                processing: true,
                "deferRender": true,
                "pageLength": 100,
                "retrieve": true,
                lengthChange: true,
                "aaData": response,
                "aoColumns": [
                    {
                        "mData": "paId",
                        "orderable": false,
                        "searchable": false,
                        "className": "text-center",
                        "render": function (data, type, row, meta) {
                            let _index = (meta.row) + 1;
                            if (_index >= 10) {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>" + _index + "</a>";
                            }
                            else {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>0" + _index + "</a>";
                            }
                        }
                    },
                    {
                        "mData": "app_fdate",
                        "className": "text-left",
                        "render": function (data) {
                            return moment(data).format('DD-MM-YYYY')
                        }
                    },
                    {
                        "mData": "doctor_name",
                        "className": 'text-justify text-wrap'
                    },
                    {
                        "mData": "paId",
                        "className": 'btn-view text-center',
                        "orderable": false,
                        "searchable": false,
                        "render": function (paId, type, full, meta) {
                            var Action = '';
                            //Copy Data
                            if ("@emp_designation.ToString()" === "Super Administrator") {
                                Action += '<a id=btn_Copy_Pain onclick="CopyPrevious(' + paId + ')" class="me-2" ><i class="fa fa-lg fa-copy" ></i></a>';
                                }
                                else {
                                    if ("@emr.set_emr_lock" != "NoLock") {
                                        if ("@emr.app_ae_date" >= "@emr.today") {
                                            Action += '<a id=btn_Copy_Pain onclick="CopyPrevious(' + paId + ')" class="me-2" ><i class="fa fa-lg fa-copy" ></i></a>';
                                        }
                                        else {
                                            Action += ''
                                            }
                                    }
                                    else {
                                        Action += '<a id=btn_Copy_Pain onclick="CopyPrevious(' + paId + ')" class="me-2" ><i class="fa fa-lg fa-copy" ></i></a>';
                                    }
                                }
                                //View Details
                            Action += '<a id=btn_View_Pain onclick="ViewGeneralExam(' + full.paId + ')" ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#3C457D" class="fa fa-copy" viewBox="0 0 16 16">< path d = "M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" /><path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" /></svg ></a> ';

                                return Action;
                            }
                    },
                ],
                order: [[0, 'asc']],
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '<span class="text-primary font-weight-semi-bold">Search By Code/Tittle</span>',
                    lengthMenu: '_MENU_',
                    scrollX: "100%",
                },
                scrollX: true,
                scrollY: 500,
                scrollCollapse: true,
                buttons: [
                    {
                        extend: 'excel',
                        title: 'Previous PainScale',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2]
                        }
                    },
                    {
                        extend: 'pdf',
                        title: 'Previous PainScale',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2]
                        }
                    },
                    {
                        extend: 'csv',
                        title: 'Previous PainScale',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2]
                        }
                    },
                    {
                        extend: 'print',
                        title: 'Previous PainScale',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2]
                        }
                    }
                ]
            });
            table.buttons().container().appendTo('#tbl_PrePainScale_wrapper .col-md-6:eq(0)');
        };
    //#endregion Previous Bind Datatable

    //#region Copy Previous  Pain Scale
        function CopyPrevious(paId) {
            var x = $("#btn_Copy_Pain");
                $.ajax({
                type: "GET",
                    url: "@Url.Action("CopyPainScale", "PainScale", new { area = "EMR" })?paId=" + paId,
                success: function (response) {
                    if (response.isAuthorized != false) {
                        var _data = response;
                        console.log(response);
                        if (_data.length > 0) {
                            console.log(response[0].pa_3_type);
                            $('#pa_pain').val(response[0].pa_pain);
                        }

                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion Copy Previous  Pain Scale

    //#region Add  Click
        $('#btn_Insert_Pain').on('click', function (e) {
            e.preventDefault();
            if ($("#form_Pain").valid()) {
                $('#btn_Insert_Pain').removeClass("btn btn-success");
                $('#btn_Insert_Pain').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Insert_Pain').html("Saving the Record....");
                var _dateInsert = {
                    "paId": 0,
                    "pa_appId": @emr.appId,
                    "pa_pain": $("#pa_pain").val(),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dateInsert);
                $.ajax({
                    type: "Post",
                    url: "@Url.Action("InsertPainScale", "PainScale", new {area = "EMR" })",
                    dataType: 'JSON',
                    data: _dateInsert,
                    success: function (data) {
                        $('#btn_Insert_Pain').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Insert_Pain').addClass("btn btn-success");
                        $('#btn_Insert_Pain').html("Add Pain");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                console.log(data);
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i>  General Examination Saved Successfully!", "success");
                                GetPainScale();
                                Timeout();
                            }
                            else {

                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. General Examination Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#Alert").html(html);
                            }
                        }
                       else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-danger' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Insert_Pain').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Insert_Pain').addClass("btn btn-success");
                        $('#btn_Insert_Pain').html("Add Pain");
                        Timeout();
                    }
                });

            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion Add Click

    //#region Update  Click
        $('#btn_Update_Pain').on('click', function (e) {
            e.preventDefault();
            if ($("#form_Pain").valid()) {
                $('#btn_Update_Pain').removeClass("btn btn-success");
                $('#btn_Update_Pain').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Update_Pain').html("Updating the Record....");
                var _dateInsert = {
                    "paId": $("#upaId").val(),
                    "pa_appId": @emr.appId,
                    "pa_pain": $("#pa_pain").val(),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dateInsert);
                $.ajax({
                        type: "Post",
                        url: "@Url.Action("UpdatePainScale", "PainScale", new {area = "EMR" })",
                        dataType: 'JSON',
                         data: _dateInsert,
                         success: function (data) {
                             $('#btn_Update_Pain').removeClass("btn btn-success btn-loaders btn-icon");
                             $('#btn_Update_Pain').addClass("btn btn-warning");
                             $('#btn_Update_Pain').html("Save Changes");
                             if (data.isSuccess) {
                                if (data.isInserted) {
                                    var alertPlaceholder = document.getElementById("Alert");
                                    function alert(e, t) {
                                        var l = document.createElement("div");
                                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                    }
                                    alert("<i class='fe fe-check-circle text-white'></i>  General Examination Updated Successfully!", "success");
                                    GetPainScale();
                                    Timeout();
                                }
                                else {
                                    let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                        "<div class='alert alert-warning' role='alert'>" +
                                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                        "<strong>Warning..  General Examination Alredy Exists..</strong><br/>" +
                                        "</div></div>";
                                    $('#tab12').click();
                                    $("#Alert").html(html);
                                }
                             }
                             else {
                                 let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                     "<div class='alert alert-danger' role='alert'>" +
                                     "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                     "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                                 $.each(data.message, function (index, value) {
                                     html += "<li><small>" + value + "</small><li>";
                                     var elem = $("#" + index);
                                     if (elem.hasClass("select2-hidden-accessible")) {
                                         $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                     }
                                     else {
                                         $(elem).addClass(" is-invalid");
                                     }

                                     setTimeout(function () {
                                         if (elem.hasClass("select2-hidden-accessible")) {
                                             $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                         }
                                         else {
                                             $(elem).removeClass("is-invalid");
                                         }
                                     }, 5000);
                                 });
                                 html += "</ul></div></div>";
                                 $("#error").html(html);
                             }
                        },
                        error: function (xhr) {
                            $('#btn_Update_Pain').removeClass("btn btn-success btn-loaders btn-icon");
                            $('#btn_Update_Pain').addClass("btn btn-warning");
                            $('#btn_Update_Pain').html("Save Changes");
                            Timeout();
                        }

                    })
            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion Update Click

    //#region Delete Click
        $('#btn_Delete_Pain').on('click', function (e) {
            e.preventDefault();
                $('#btn_Delete_Pain').removeClass("btn btn-success");
                $('#btn_Delete_Pain').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete_Pain').html("Deleting the Record....");

                $.ajax({
                    url: '@Url.Action("DeletePainScale", "PainScale", new { area = "EMR" })?paId=' + $("#upaId").val(),
                    type: "POST",
                    dataType: 'JSON',
                    success: function (data) {
                        $('#btn_Delete_Pain').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Delete_Pain').addClass("btn btn-warning");
                        $('#btn_Delete_Pain').html("Delete");
                        if (data.isAuthorized) {
                            if (data.success) {

                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> General Examination Deleted Successfully!", "success");
                                GetPainScale();
                                Timeout();
                                clearControls();
                            }
                            else {

                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Error!.. Failed to Delete..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Delete_Pain').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Delete_Pain').addClass("btn btn-Delete");
                        $('#btn_Delete_Pain').html("Delete");
                        Timeout();
                    }
                })
        });
    //#endregion Delete Click

    //#region View Pain Scale
        function ViewGeneralExam(paId) {
             var x = $("#pa_body");
            x.load("@Url.Action("ViewPainScale", "PainScale", new { area = "EMR" })?paId=" + paId, function () {
                    $("#pa_modal").modal("show");
            });
        }
    //#endregion View Pain Scale


    //#region Print Pain Scale
        $('#btn_Print_Pain').on('click', function (e) {
             var x = $("#pa_body");
            x.load("@Url.Action("ViewPainScale", "PainScale", new { area = "EMR" })?paId=" + $("#upaId").val(), function () {
                    $("#pa_modal").modal("show");
            });
        });
    //#endregion Print Pain Scale


    // #region Validation Initialization
        var validate = function () {
            $("#form_Pain").validate({
                rules: {
                    pa_pain: {
                        required: true
                    },

                },
                messages: {
                    pa_pain: {
                        required: "Please Select Atlest One"
                    },

                },
                highlight: function (element) {
                    var elem = $(element);
                    $(element).parent().addClass('has-error');
                },
                unhighlight: function (element) {
                    var elem = $(element);
                    $(element).parent().removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'text-danger fw-bold',
                errorPlacement: function (error, element) {
                    var elem = $(element);
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

        }
    //#endregion Validation Initialization


    //#region Resize Datatable
        function resizedt() {
            setTimeout(function () {
                $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
            }, 350);
        }
    //#endregion Resize Datatable

    //#region Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
    //#endregion Alert Timeout
    //#region Clear Controls
    var clearControls = function () {
        var instance = $('#pa_pain').data("ionRangeSlider");
        instance.update({
            from: 0 //your new value ionRangeSlider
        });
        $('#img1').removeClass("btn  btn-outline-success");
        $('#img2').removeClass("btn  btn-outline-success");
        $('#img3').removeClass("btn  btn-outline-success");
        $('#img4').removeClass("btn  btn-outline-success");
        $('#img5').removeClass("btn  btn-outline-success");
        $('#img6').removeClass("btn  btn-outline-success");
    }
    //#endregion Clear Controls
</script>
