@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Chemical Peeling";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header" dir="rtl">
                <h3 class="card-title">نموذج الموافقة على التقشير الكيميائي عربي</h3>
            </div>
            <div class="card-body">
                <div id="ChemicalPeelingArb_add" style="display:none">
                </div>
                <div id="ChemicalPeelingArb_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="ChemicalPeelingArb_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetChemicalPeelingArbInfo();
        ChemicalPeelingArbPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetChemicalPeelingArbInfo
    var GetChemicalPeelingArbInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetChemicalPeelingArbData", "ChemicalPeelingArb", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditChemicalPeelingArb();
                        $("#ChemicalPeelingArb_add").hide();
                        $("#ChemicalPeelingArb_edit").show();

                    }
                    else {
                        $("#ChemicalPeelingArb_add").show();
                        $("#ChemicalPeelingArb_edit").hide();
                        AddChemicalPeelingArb();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load ChemicalPeelingArb

    //#region Add ChemicalPeelingArb
    function AddChemicalPeelingArb() {
        var x = $("#ChemicalPeelingArb_add");
        x.load("@Url.Action("CreateChemicalPeelingArb", "ChemicalPeelingArb", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add ChemicalPeelingArb

    //#region Update ChemicalPeelingArb
    function EditChemicalPeelingArb() {
        var x = $("#ChemicalPeelingArb_edit");
        x.load("@Url.Action("UpdateChemicalPeelingArb", "ChemicalPeelingArb", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update ChemicalPeelingArb

    //#region Histroy of ChemicalPeelingArb
    function ChemicalPeelingArbPreviousHistory() {
        var x = $("#ChemicalPeelingArb_history");
        x.load("@Url.Action("ChemicalPeelingArbPreviousHistory", "ChemicalPeelingArb", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>