@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Mesotherapy Consent";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">MESOTHERAPY CONSENT FORM</h3>
            </div>
            <div class="card-body">
                <div id="DmaxMesotherapyConsent_add" style="display:none">
                </div>
                <div id="DmaxMesotherapyConsent_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="DmaxMesotherapyConsent_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetDmaxMesotherapyConsentInfo();
        DmaxMesotherapyConsentPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetDmaxMesotherapyConsentInfo
    var GetDmaxMesotherapyConsentInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetDmaxMesotherapyConsentData", "DmaxMesotherapyConsent", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditDmaxMesotherapyConsent();
                        $("#DmaxMesotherapyConsent_add").hide();
                        $("#DmaxMesotherapyConsent_edit").show();

                    }
                    else {
                        $("#DmaxMesotherapyConsent_add").show();
                        $("#DmaxMesotherapyConsent_edit").hide();
                        AddDmaxMesotherapyConsent();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load DmaxMesotherapyConsent

    //#region Add DmaxMesotherapyConsent
    function AddDmaxMesotherapyConsent() {
        var x = $("#DmaxMesotherapyConsent_add");
        x.load("@Url.Action("CreateDmaxMesotherapyConsent", "DmaxMesotherapyConsent", new { area = "ConsentForms" })", function () {
    });
    }
    //#endregion Add DmaxMesotherapyConsent

    // #region Update DmaxMesotherapyConsent
    function EditDmaxMesotherapyConsent() {
        var x = $("#DmaxMesotherapyConsent_edit");
        x.load("@Url.Action("UpdateDmaxMesotherapyConsent", "DmaxMesotherapyConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
    });
    }
    //#endregion Update DmaxMesotherapyConsent

    // #region History of DmaxMesotherapyConsent
    function DmaxMesotherapyConsentPreviousHistory() {
        var x = $("#DmaxMesotherapyConsent_history");
        x.load("@Url.Action("DmaxMesotherapyConsentPreviousHistory", "DmaxMesotherapyConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
    });
    }
    //#endregion
</script>