@model BusinessEntities.EMR.PatientTreatments
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
    ViewBag.Title = "Edit Insurance Treatments";
}

<form id="form_Edit_Ins_Treatment">
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="form-label">Treatments &amp; Procedures&nbsp;<span class="text-danger">*</span></label>
                <select placeholder="Select Any" class="form-select select2 mb-2" id="upt_treatment" name="upt_treatment">
                </select>
                <input type="hidden" value="0" id="uhi_pt_tr_code">
                <input type="hidden" value="0" id="uhi_pt_tr_name">
                <input type="hidden" value="0" id="uhi_isPackage">
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label class="form-label">Notes&nbsp;</label>
                <input class="form-control font-weight-semibold" placeholder="Enter Notes" type="text" value="@Model.pt_notes" id="upt_notes" name="upt_notes" maxlength="250" />
            </div>
        </div>

        <div class="col-md-1 d-none">
            <div class="form-group mb-3">
                <label class="form-label text-black">Teeth&nbsp;</label>
                <div class="form-group mb-3">
                    <select class="form-control" id="upt_teeth" name="upt_teeth">
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-2 d-none">
            <div class="form-group mb-3">
                <label class="form-label text-black">Surface&nbsp;</label>
                <div class="form-group mb-3">
                    <select class="form-control" id="upt_sur" name="upt_sur" multiple="multiple">
                    </select>
                </div>
            </div>
        </div>

        <div class="col-md-1">
            <div class="form-group">
                <label class="form-label">Qty&nbsp;<span class="text-danger">*</span></label>
                <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="@Model.pt_qty" id="upt_qty" name="upt_qty" oninput="validate(this,1000)">
            </div>
        </div>

        <div class="col-md-1">
            <div class="form-group">
                <label class="form-label">Session</label>
                <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="@Model.pt_ses" id="upt_ses" name="upt_ses" oninput="validate(this,100)">
            </div>
        </div>

        <div class="col-md-1">
            <div class="form-group">
                <label class="form-label">Unit Price&nbsp;<span class="text-danger">*</span></label>
                <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="@Model.pt_uprice" readonly="readonly" id="upt_uprice" name="upt_uprice" oninput="validate(this,100000)" />
            </div>
        </div>

        <div class="col-md-1">
            <div class="form-group">
                <label class="form-label">Total&nbsp;<span class="text-danger">*</span></label>
                <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="@Model.pt_total" id="upt_total" name="upt_total" oninput="validate(this,0)" readonly="readonly" />
            </div>
        </div>

        <div class="col-md-1 d-none">
            <div class="form-group">
                <label class="form-label">Discount</label>
                <input class="form-control text-end font-weight-semibold" placeholder="" type="text" id="upt_disc" name="upt_disc" oninput="validate(this,100000)" />
            </div>
        </div>

        <div class="col-md-1 d-none">
            <div class="form-group">
                <label class="form-label">Disc.Type</label>
                <select placeholder="Select Any" class="form-select select2 mb-2" id="upt_disc_type" name="upt_disc_type">
                    <option value="0">%</option>
                    <option value="1" selected>Fixed</option>
                </select>
            </div>
        </div>

        <div class="col-md-1">
            <div class="form-group">
                <label class="form-label">Disc.Value</label>
                <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="@Model.pt_disc" id="upt_disc_value" name="upt_disc_value" oninput="validate(this,0)" readonly>
            </div>
        </div>

        <div class="col-md-2 d-none">
            <div class="form-group">
                <label class="form-label">Coupon</label>
                <select placeholder="Select Any" class="form-select select2 mb-2" id="upt_coupon" name="upt_coupon">
                </select>
            </div>
        </div>

        <div class="col-md-1 d-none">
            <div class="form-group">
                <label class="form-label">Coupon Disc.</label>
                <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="@Model.pt_coupon_disc" id="upt_coupon_disc" name="upt_coupon_disc" oninput="validate(this,0)" readonly>
            </div>
        </div>

        <div class="col-md-1 d-none">
            <div class="form-group">
                <label class="form-label">NET&nbsp;<span class="text-danger">*</span></label>
                <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="@Model.pt_net" id="upt_net" name="upt_net" oninput="validate(this,0)" readonly>
            </div>
        </div>

        <div class="col-md-1 d-none">
            <div class="form-group">
                <label class="form-label">VAT %</label>
                <select placeholder="Select Any" class="form-select select2 mb-2" id="upt_vat_type" name="upt_vat_type">
                    <option value="0">0 %</option>
                    <option value="5">5 %</option>
                    <option value="Exempt">Exempt</option>
                </select>
            </div>
        </div>

        <div class="col-md-1 d-none">
            <div class="form-group mt-4">
                <div class="custom-controls-stacked">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="urdoVATType" value="Inclusive" id="urdoVATIn">
                        <span class="custom-control-label">Inclusive</span>
                    </label>
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="urdoVATType" value="Exclusive" id="urdoVATEx" checked="checked">
                        <span class="custom-control-label">Exclusive</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="col-md-1 d-none">
            <div class="form-group">
                <label class="form-label">VAT&nbsp;<span class="text-danger">*</span></label>
                <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="@Model.pt_vat" id="upt_vat" name="upt_vat" oninput="validate(this,0)" readonly>
                <input type="hidden" value="0" id="uhi_pt_vat">
                <input type="hidden" value="0" id="uhi_pt_vat2">
            </div>
        </div>

        <div class="col-md-1">
            <div class="form-group">
                <label class="form-label">Share&nbsp;<span class="text-danger">*</span></label>
                <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="@Model.pat__share" id="upat_share" name="upat_share" oninput="validate(this,0)" />
            </div>
        </div>

        <div class="col-md-1">
            <div class="form-group">
                <label class="form-label">NET&nbsp;<span class="text-danger">*</span></label>
                <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="@Model.pt_net_vat" id="upt_netvat" name="upt_netvat" oninput="validate(this,0)" readonly>
            </div>
        </div>

        <div class="col-md-3">
            <div class="btn-list">
                <label class="form-label">&nbsp;</label><br />
                <input type="hidden" id="upat_share_new" />
                <input type="hidden" id="upat_net" />
                <input type="hidden" id="uallowed_limit" />
                <span class="text-danger" id="uerror_msg"></span>
                <button type="submit" class="btn btn-warning" id="ubtnUpdateTreatment">Save Changes</button>
                <button type="button" class="btn btn-outline-dark" id="ubtn_Reset">Reset</button>
                <button type="button" class="btn btn-outline-danger" id="ubtn_Close">Close</button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    //#region Page Load
    $(function () {
        $("#upt_treatment").select2({
            placeholder: 'Select Treatment/Procedure',
            width: '100%',
            dropdownParent: $('#form_Edit_Ins_Treatment'),
            minimumInputLength: 3,
            escapeMarkup: function (markup) {
                return markup;
            },
            ajax: {
                url: '@Url.Action("SearchInsuranceTreatments", "PatientTreatments", new { area = "EMR" })',
                dataType: 'json',
                delay: 250,
                data: function (query) {
                    return {
                        query: query.term,
                        appId: '@emr.appId'
                    };
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                },
                cache: true
            }
        });

        $("#upt_vat_type").select2({
            placeholder: 'Select VAT Type',
            width: '100%',
            dropdownParent: $('#form_Edit_Ins_Treatment')
        });

        $("#upt_disc_type").select2({
            placeholder: 'Select Discount Type',
            width: '100%',
            dropdownParent: $('#form_Edit_Ins_Treatment')
        });

        $("#upt_coupon").select2({
            placeholder: 'Select Coupon',
            width: '100%',
            dropdownParent: $('#form_Edit_Ins_Treatment')
        });

        $('#upt_teeth').SumoSelect({
            placeholder: 'Select Tooth(s)',
            captionFormat: '{0} Tooth(s) Selected',
            captionFormatAllSelected: 'All {0} Tooth selected!',
            csvDispCount: 3,
            okCancelInMulti: true,
            isClickAwayOk: true,
            search: true,
            searchText: 'Search here...',
            selectAll: false,
            dropdownParent: $('#form_Edit_Ins_Treatment'),
        });

        validation_edit();

        load_PatientTreatments("@Model.pt_treatment");

        $("#upt_disc_type").val("@Model.pt_barcode");

        $("#upt_vat_type").val("@Model.pt_vat_type");

        var ptStatus = "@Model.pt_status";

        if (ptStatus === "Invoiced") {
            $("#upt_treatment").prop("disabled", true);
            $("#upt_qty").prop("disabled", true);
        }
    });
    //#endregion

    //#region Treatment Select Event
    $('#upt_treatment').on('select2:select', function (e) {
        var data = e.params.data;
        var isPackage = 0;

        if (data.text.toLowerCase().includes("package")) { isPackage = 1; }

        $.ajax({
            url: '@Url.Action("SelectTreatment", "Invoice", new { area = "Invoice" })?trId=' + data.id + "&appId=" + @Model.pt_appId + "&isPackage=" + isPackage,
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                $("#uhi_pt_tr_code").val(response["tr_values"].tr_code);
                $("#uhi_pt_tr_name").val(response["tr_values"].tr_name);
                $("#uhi_isPackage").val(isPackage);
                $("#upt_disc").val(response["tr_values"].tr_disc);
                $("#upt_uprice").val(response["tr_values"].tr_price);
                $("#uhi_pt_vat").val(response["tr_values"].tr_vat);
                $("#uhi_pt_vat2").val(response["tr_values"].tr_vat2);

                var type = response["tr_values"].tr_disc_type;

                if (type == "%") {
                    type = 0;
                }
                else {
                    type = 1;
                }

                $('#upt_disc_type').val(type).trigger('change');

                if (response["tr_values"].tr_tooth == "Required") {
                    load_teeth_edit();
                }
                else {
                    $('#upt_teeth').html('');
                    $('#upt_teeth')[0].sumo.reload();
                }

                $('#upt_vat_type').val(response["tr_values"].tr_vat).trigger('change');
            },
            error: function (xhr) {
                console.log(xhr);
            }
        }).done(function () {
            load_surfaces_edit();

            calculation_edit();
        });
    });
    //#endregion

    //#region Load Teeth No.
    var load_teeth_edit = function () {
        var value = "@Model.pt_teeth";

        $.ajax({
            url: '@Url.Action("GetTeeth", "PatientTreatments", new { area = "EMR" })?query=',
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                $('#upt_teeth').html('');
                $('#upt_teeth')[0].sumo.reload();

                $.each(response, function (j) {
                    $('#upt_teeth')[0].sumo.add(response[j].text, response[j].text);
                });

                $('#upt_teeth')[0].sumo.reload();
            },
            error: function (xhr) {
                console.log("Failed to Load Teeth! Error Message : " + xhr.statusText);
            }
        }).done(function () {
            if (value != "") {
                $('#upt_teeth')[0].sumo.selectItem(value);
            }

            $('#upt_teeth')[0].sumo.reload();
        });
    }
    //#endregion

    //#region Load Surfaces
    var load_surfaces_edit = function () {
        var _data = "@Model.pt_sur";

        $('#upt_sur').SumoSelect({
            placeholder: 'Select Surface(s)',
            captionFormat: '{0} Surface(s) Selected',
            captionFormatAllSelected: 'All {0} Surfaces selected!',
            csvDispCount: 3,
            okCancelInMulti: true,
            isClickAwayOk: true,
            search: true,
            searchText: 'Search here...',
            selectAll: true,
            dropdownParent: $('#form_Edit_Ins_Treatment'),
        });

        $.ajax({
            url: '@Url.Action("GetToothSurface", "OralExamination", new { area = "EMR" })?query=',
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                $('#upt_sur').html('');
                $('#upt_sur')[0].sumo.reload();

                $.each(response, function (j) {
                    $('#upt_sur')[0].sumo.add(response[j].text, response[j].text);
                });
            },
            error: function (xhr) {
                console.log("Failed to Load Surfac(es)! Error Message : " + xhr.statusText);
            }
        }).done(function () {
            if (_data != "") {
                var arr = _data.split(",");

                $.each(arr, function (index, value) {
                    $('#upt_sur')[0].sumo.selectItem(value.trim());
                });
            }

            $('#upt_sur')[0].sumo.reload();
        });
    }
    //#endregion

    //#region Load Patient Diagnosis
    var load_PatientTreatments = function (pt_treatment) {
        $.ajax({
            url: '@Url.Action("SearchTreatmentsforEdit", "Invoice", new { area = "Invoice" })?trId=' + pt_treatment + "&appId=" + @emr.appId,
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                var data = {
                    "id": response[0].id,
                    "text": response[0].text,
                };

                $('#upt_treatment').val(response[0].text);

                var newOption = new Option(response[0].text, response[0].id, true, true);

                $('#upt_treatment').append(newOption).trigger('change');

                $('#upt_treatment').trigger({
                    type: 'select2:select',
                    params: {
                        data: data
                    }
                });
            },
            error: function (xhr) {
                console.log(xhr);
            }
        });
    }
    //#endregion

    //#region Validation Initialisation
    var validation_edit = function () {
        $('#upt_qty').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;

            if (!/^\d*\.?\d{0,3}$/.test(inputValue) || inputValue.split('.').length > 2) {
                return false;
            }
        });

        $('#upat_share').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;

            if (!/^\d*\.?\d{0,3}$/.test(inputValue) || inputValue.split('.').length > 2) {
                return false;
            }
        });

        $('#upt_ses').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;

            if (String.fromCharCode(charCode).match(/[^0-9]/g))
                return false;
        });

        $('#upt_uprice').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;

            if (!/^\d*\.?\d{0,3}$/.test(inputValue) || inputValue.split('.').length > 2) {
                return false;
            }
        });

        $('#upt_total').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;

            if (!/^\d*\.?\d{0,3}$/.test(inputValue) || inputValue.split('.').length > 2) {
                return false;
            }
        });

        $('#upt_disc').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;

            if (!/^\d*\.?\d{0,3}$/.test(inputValue) || inputValue.split('.').length > 2) {
                return false;
            }
        });

        $('#upt_disc_value').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;

            if (!/^\d*\.?\d{0,3}$/.test(inputValue) || inputValue.split('.').length > 2) {
                return false;
            }
        });

        $('#upt_coupon_disc').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;

            if (!/^\d*\.?\d{0,3}$/.test(inputValue) || inputValue.split('.').length > 2) {
                return false;
            }
        });

        $('#upt_net').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;

            if (!/^\d*\.?\d{0,3}$/.test(inputValue) || inputValue.split('.').length > 2) {
                return false;
            }
        });

        $('#upt_vat').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;

            if (!/^\d*\.?\d{0,3}$/.test(inputValue) || inputValue.split('.').length > 2) {
                return false;
            }
        });

        $('#upt_netvat').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;

            if (!/^\d*\.?\d{0,3}$/.test(inputValue) || inputValue.split('.').length > 2) {
                return false;
            }
        });

        $('#upt_treatment').on('change', function () {
            $(this).trigger('blur');
        });

        $('#upt_vat_type').on('change', function () {
            $(this).trigger('blur');
        });

        $('#upt_qty').on('change', function () {
            $(this).trigger('blur');
        });

        $('#upt_ses').on('change', function () {
            $(this).trigger('blur');
        });

        $('#upt_uprice').on('change', function () {
            $(this).trigger('blur');
        });

        $('#upt_total').on('change', function () {
            $(this).trigger('blur');
        });

        $('#upt_disc').on('change', function () {
            $(this).trigger('blur');
        });

        $('#upt_disc_type').on('change', function () {
            $(this).trigger('blur');
        });

        $('#upt_disc_value').on('change', function () {
            $(this).trigger('blur');
        });

        $('#upt_coupon').on('change', function () {
            $(this).trigger('blur');
        });

        $('#upt_coupon_disc').on('change', function () {
            $(this).trigger('blur');
        });

        $('#upt_net').on('change', function () {
            $(this).trigger('blur');
        });

        $('#upt_vat').on('change', function () {
            $(this).trigger('blur');
        });

        $('#upt_netvat').on('change', function () {
            $(this).trigger('blur');
        });

        $("#form_Edit_Ins_Treatment").validate({
            focusInvalid: true,
            rules:
            {
                "upt_treatment": {
                    required: true
                },
                "upt_qty": {
                    required: true,
                    minlength: 1,
                    min: 1,
                    max: 1000
                },
                "upt_ses": {
                    required: true,
                    minlength: 1,
                    min: 0,
                    max: 100
                },
                "upt_uprice": {
                    required: true,
                    minlength: 1,
                    min: 1,
                    max: 100000
                },
                "upt_total": {
                    required: true,
                    minlength: 1,
                    min: 1
                },
                "upt_disc": {
                    required: true,
                    minlength: 1,
                    min: 0,
                    max: 100000
                },
                "upt_disc_type": {
                    required: true
                },
                "upt_disc_value": {
                    required: true,
                    minlength: 1,
                    min: 0
                },
                "upt_coupon_disc": {
                    required: true,
                    minlength: 1,
                    min: 0
                },
                "upt_net": {
                    required: true,
                    minlength: 1,
                    min: 1
                },
                "upt_vat": {
                    required: true,
                    minlength: 1
                },
                "upt_netvat": {
                    required: true,
                    minlength: 1,
                    min: 1
                },
            },
            messages: {
                "upt_treatment": {
                    required: "Select Treatment"
                },
                "upt_qty": {
                    required: "Enter Qty",
                    minlength: "Give atleast 0",
                    min: "Min. Qty is 1",
                    max: "Max. Qty is 1000"
                },
                "upt_ses": {
                    required: "Enter Session",
                    minlength: "Min. 1 Degit",
                    min: "Min. Value is 0",
                    max: "Max. Value is 100"
                },
                "upt_uprice": {
                    required: "Enter Unit Price",
                    minlength: "Give atleast 0",
                    min: "Min. Value is 1",
                    max: "Max. Value is 100000"
                },
                "upt_total": {
                    required: "Enter Total",
                    minlength: "Give atleast 0",
                    min: "Min. Value is 1"
                },
                "upt_disc": {
                    required: "Enter Discount",
                    minlength: "Give atleast 0",
                    min: "Min. Value is 0",
                    max: "Max. Value is 100000"
                },
                "upt_disc_type": {
                    required: "Select Discount Type"
                },
                "upt_disc_value": {
                    required: "Enter Discount Value",
                    minlength: "Give atleast 0",
                    min: "Min. Value is 0"
                },
                "upt_coupon_disc": {
                    required: "Enter Coupon Value",
                    minlength: "Give atleast 0",
                    min: "Min. Value is 0"
                },
                "upt_net": {
                    required: "Enter Net",
                    minlength: "Give atleast 0",
                    min: "Min. Value is 1"
                },
                "upt_vat": {
                    required: "Enter VAT",
                    minlength: "Give atleast 0"
                },
                "upt_netvat": {
                    required: "Enter Net+VAT",
                    minlength: "Give atleast 0",
                    min: "Min. Value is 1"
                },
            },
            highlight: function (element) {
                var elem = $(element);

                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                } else {
                    elem.parent().addClass('has-error');
                }

                $(element).parent().addClass('has-error');
            },
            unhighlight: function (element) {
                var elem = $(element);

                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                } else {
                    elem.removeClass('has-error');
                }

                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);

                if (elem.hasClass("select2-hidden-accessible")) {
                    element = $("#select2-" + elem.attr("id") + "-container").parent();
                    error.insertAfter(element);
                } else {
                    error.insertAfter(element);
                }

                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
    //#endregion

    //#region Validate Max value for Controls
    var validate = function (e, max) {
        var t = e.value;
        var j = (t.indexOf(".") >= 0) ? (t.substr(0, t.indexOf(".")) + t.substr(t.indexOf("."), 3)) : t;
        e.value = (max == 0) ? j : ((j >= max) ? max : j);
    }
    //#endregion

    //#region Calculation Events
    // VAT Type Change Event
    $('#upt_vat_type').on('select2:select', function (e) {
        calculation_edit();
    });

    // VAT Inclusive/Exclusive Event
    $('input[type=radio][name=urdoVATType]').change(function () {
        calculation_edit();
    });

    // Coupon Change Event
    $('#upt_coupon').on('select2:select', function (e) {
        calculation_edit();
    });

    var calculation_edit = function () {
        var pt_qty = $("#upt_qty").val();
        var pt_uprice = $("#upt_uprice").val();
        var pt_share = $("#upat_share").val();
        $("#upat_share").val(parseFloat(pt_share).toFixed(2));

        var pt_total = parseFloat(pt_qty) * parseFloat(pt_uprice);
        $("#upt_total").val(pt_total);

        var coupon_value = 0;
        var pt_disc_value = 0;

        if (parseInt($("#upt_coupon").val()) > 0) {
            $("#upt_disc").val(pt_disc_value);

            var coupon_name = $("#upt_coupon option:selected").text();
            var coupon_arr = coupon_name.split("-");
            var coupon_per = coupon_arr[1].trim().replace("%", "");
            coupon_value = (parseFloat(pt_total) * parseFloat(coupon_per)) / 100;
        }
        else {
            var pt_disc = $("#upt_disc").val();

            if (parseInt($("#upt_disc_type").val()) == 1) {
                pt_disc_value = parseFloat(pt_disc);
            }
            else if (parseInt($("#upt_disc_type").val()) == 0) {
                pt_disc_value = (parseFloat(pt_total) * parseFloat(pt_disc)) / 100;
            }
        }

        $("#upt_disc_value").val(pt_disc_value);
        $("#upt_coupon_disc").val(coupon_value);

        var pt_net = parseFloat(pt_total) - parseFloat(pt_share) - (parseFloat(pt_disc_value) + parseFloat(coupon_value));
        $("#upt_net").val(pt_net.toFixed(2));

        var pt_vat = 0;

        $("#upt_vat").val(pt_vat);

        var pt_netvat = parseFloat(pt_net) + parseFloat(pt_vat);
        $("#upt_netvat").val(pt_netvat);

        if (!(pt_disc_value == 0 && pt_total == 0)) {
            if (pt_disc_value >= pt_total) {
                $("#uerror_msg").html("Discount should be less than Total Amount");
                $("#upt_total").attr("style", "border:1px solid red;color:red;");
                $("#upt_disc_value").attr("style", "border:1px solid red;color:red;");
            }
            else {
                $("#uerror_msg").html("");
                $("#upt_total").attr("style", "border:1px solid #ecebf1;color:#728096;");
                $("#upt_disc_value").attr("style", "border:1px solid #ecebf1;color:#728096;");

                if (!(coupon_value == 0 && pt_total == 0)) {
                    if (coupon_value >= pt_total) {
                        $("#upt_total").attr("style", "border:1px solid red;color:red;");
                        $("#upt_coupon_disc").attr("style", "border:1px solid red;color:red;");
                        $("#uerror_msg").html("Coupon Discount should be less than Total Amount");
                    }
                    else {
                        $("#upt_total").attr("style", "border:1px solid #ecebf1;color:#728096;");
                        $("#upt_coupon_disc").attr("style", "border:1px solid #ecebf1;color:#728096;");
                        $("#uerror_msg").html("");
                    }
                }
                else {
                    $("#upt_total").attr("style", "border:1px solid #ecebf1;color:#728096;");
                    $("#upt_coupon_disc").attr("style", "border:1px solid #ecebf1;color:#728096;");
                    $("#uerror_msg").html("");
                }
            }
        }
        else {
            $("#uerror_msg").html("");
            $("#upt_total").attr("style", "border:1px solid #ecebf1;color:#728096;");
            $("#upt_disc_value").attr("style", "border:1px solid #ecebf1;color:#728096;");
        }
    }
    //#endregion

    //#region Load Patient Share
    var load_patient_share_edit = function (appId, ptId, qty, uprice, disc, id, new_share) {
        $.ajax({
            url: '@Url.Action("GetPatientShareEdit", "PatientTreatments", new { area = "EMR" })?appId=' + appId + '&ptId=' + ptId + "&qty=" + qty + "&uprice=" + uprice + "&disc=" + disc + "&id=" + id + "&new_share=" + new_share,
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                $("#upat_share_new").val(response.share);
                $("#upat_net").val(response.net);
                $("#uallowed_limit").val(response.allowed_limit);
            },
            error: function (xhr) {
                console.log("Failed to Load Patient Share! Error Message : " + xhr.statusText);
            }
        });;
    }
    //#endregion

    //#region Update Treatment Click
    $('#ubtnUpdateTreatment').on('click', function (e) {
        e.preventDefault();

        if ($("#form_Edit_Ins_Treatment").valid()) {
            updateTreatment();
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion

    //#region Update Treatment Method
    var updateTreatment = function () {
        load_patient_share_edit("@emr.appId", $("#upt_treatment").val(), parseFloat($("#upt_qty").val()), parseFloat($("#upt_uprice").val()), parseFloat($("#upt_disc_value").val()), @Model.ptId, parseFloat($("#upat_share").val()));

        var pt_vat = 0;

        if ($("#upt_vat_type").val() == "5") {
            pt_vat = (parseFloat($("#upat_share").val()) * 5) / 100;
        }

        $("#upt_vat").val(pt_vat.toFixed(2));

        var data = {
            "ptId": "@Model.ptId",
            "pt_appId": @emr.appId,
            "pt_treatment": $("#upt_treatment").val(),
            "pt_mode": "Edit",
            "pt_qty": parseFloat($("#upt_qty").val()).toFixed(2),
            "pt_notes": $("#upt_notes").val(),
            "pt_type": "Insurance",
            "pt_teeth": "",
            "pt_sur": "",
            "pt_auth_code": "",
            "pt_resub_type": "",
            "pt_resub_notes": "",
            "pt_ses": parseFloat($("#upt_ses").val()),
            "pt_treat_type": "0",
            "pt_uprice": parseFloat($("#upt_uprice").val()).toFixed(2),
            "pt_disc_value": parseFloat($("#upt_disc_value").val()).toFixed(2),
            "pt_total": parseFloat($("#upt_total").val()).toFixed(2),
            "pt_disc": parseFloat($("#upt_disc").val()).toFixed(2),
            "pt_ded": "0",
            "pt_copay": "0",
            "pt_net": parseFloat($("#upat_net").val()).toFixed(2),
            "pt_netvat": parseFloat($("#upat_net").val()).toFixed(2),
            "pt_dcopay": "0",
            "pt_auth_edate": moment("1900-01-01").format("YYYY-MM-DD"),
            "pt_auth_adate": moment("2100-01-01").format("YYYY-MM-DD"),
            "pt_share": parseFloat($("#upat_share_new").val()).toFixed(2),
            "pt_dded": "0",
            "pt_lded": "0",
            "pt_rded": "0",
            "pt_mded": "0",
            "pt_sded": "0",
            "pt_pded": "0",
            "pt_ceiling": "0",
            "pt_vat_type": $("#upt_vat_type").val(),
            "pt_vat": parseFloat($("#upt_vat").val()).toFixed(2),
            "pt_barcode": "0",
            "pt_pdisc": "0",
            "pt_coupon": "",
            "pt_coupon_disc": "0",
            "isAllowed": $("#uallowed_limit").val(),
        }

        $.ajax({
            url: '@Url.Action("UpdateInsuranceTreatments", "PatientTreatments", new { area = "EMR" })',
            type: "POST",
            dataType: "json",
            data: data,
            async: false,
            success: function (data) {
                var alertPlaceholder = document.getElementById("errorInsEdit");

                function alert(e, t) {
                    var l = document.createElement("div");
                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                }

                if (data.isSuccess) {
                    alert("<i class='fe fe-check-circle text-white'></i> " + data.message + "", "success");

                    getInsTreatments();

                    clearData();

                    $('#ubtn_Close').click();
                }
                else {
                    if (data.invId == -1) {
                        alert("<i class='fe fe-alert-triangle text-white'></i> " + data.message + "", "warning");
                    }
                    else {
                        alert("<i class='fe fe-minus-circle text-white'></i> " + data.message + "!", "danger");
                    }
                }

                Timeout();
            },
            error: function (xhr) {
                console.log(xhr);
            }
        });
    }
    //#endregion

    //#region Focus In/Out Events
    $("#upt_qty").focusin(function () {
        localStorage.setItem("temp_qty", $(this).val());
    });

    $("#upt_qty").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 1) {
            localStorage.removeItem("temp_qty");
            calculation_edit();
        }
        else {
            $(this).val(localStorage.getItem("temp_qty"));
            localStorage.removeItem("temp_qty");
        }
    });

    $("#upt_ses").focusin(function () {
        localStorage.setItem("temp_ses", $(this).val());
    });

    $("#upt_ses").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 1) {
            localStorage.removeItem("temp_ses");
            calculation_edit();
        }
        else {
            $(this).val(localStorage.getItem("temp_ses"));
            localStorage.removeItem("temp_ses");
        }
    });

    $("#upt_uprice").focusin(function () {
        localStorage.setItem("temp_uprice", $(this).val());
    });

    $("#upt_uprice").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_uprice");
            calculation_edit();
        }
        else {
            $(this).val(localStorage.getItem("temp_uprice"));
            localStorage.removeItem("temp_uprice");
        }
    });

    $("#upt_disc").focusin(function () {
        localStorage.setItem("temp_disc", $(this).val());
    });

    $("#upt_disc").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_disc");
            $('#upt_coupon').val(0).trigger('change');
            $('#upt_coupon_disc').val("0.00");
            calculation_edit();
        }
        else {
            $(this).val(localStorage.getItem("temp_disc"));
            localStorage.removeItem("temp_disc");
        }
    });

    $("#upat_share").focusin(function () {
        localStorage.setItem("temp_share", $(this).val());
    });

    $("#upat_share").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_share");
            calculation_edit();
        }
        else {
            $(this).val(localStorage.getItem("temp_share"));
            localStorage.removeItem("temp_share");
        }
    });
    //#endregion

    //#region Reset Click
    $('#ubtn_Reset').on('click', function (e) {
        e.preventDefault();

        clearData();
    });

    // Clear Data
    var clearData = function () {
        $("#upt_treatment").empty();
        $('#upt_vat_type').val("0").trigger('change');
        $("#urdoVATEx").prop("checked", true);
        $("#upt_qty").val("1.00");
        $("#upt_ses").val("1");
        $("#upt_uprice").val("0.00");
        $("#upt_total").val("0.00");
        $("#upt_disc").val("0.00");
        $('#upt_disc_type').val(1).trigger('change');
        $("#upt_disc_value").val("0.00");
        $("#upt_coupon").empty();
        $("#upt_coupon_disc").val("0.00");
        $("#upt_net").val("0.00");
        $("#upt_vat").val("0.00");
        $("#upt_netvat").val("0.00");
        $("#uhi_pt_tr_code").val("0");
        $("#uhi_pt_tr_name").val("0");
        $("#uhi_isPackage").val("0");
        $("#uhi_pt_vat").val("0");
        $("#uhi_pt_vat2").val("0");
    }

    $('#ubtn_Close').on('click', function (e) {
        e.preventDefault();

        $("#InsTreat_edit").hide();
        $("#InsTreat_add").show();
    });
    //#endregion

    //#region Discount Type Change Event
    $('#upt_disc_type').on('select2:select', function (e) {
        $('#upt_coupon').val(0).trigger('change');
        $('#upt_coupon_disc').val("0.00");

        calculation_edit();
    });
    //#endregion

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion
</script>