@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
    ViewBag.Title = "Narrative Diagnosis";
    Layout = "~/Areas/Documentation/Views/Shared/_Doc_layout.cshtml";
}

<style type="text/css">
    #tbl_narrative_wrapper .dataTables_scroll .dataTables_scrollBody {
        min-height: auto;
    }

    #tbl_Prenarrative_wrapper .dataTables_scroll .dataTables_scrollBody {
        min-height: auto;
    }
</style>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card shadow-sm">
            <div class="card-header">
                <h3 class="card-title text-primary fs-16">Narrative Diagnosis</h3>
            </div>
            <div class="card-body">
                <div class="row pb-2">
                    <div class="col-sm-12 col-md-12 d-flex justify-content-center">
                        <div id="errorCreate"></div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table id="tbl_narrative" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #3C457D; border-color: #3C457D; ">
                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Narrative Diagnosis</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Final Diagnosis</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card shadow-sm">
            <div class="card-header">
                <h3 class="card-title fs-16 text-primary">Previous History</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tbl_Prenarrative" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #808080; border-color: #3C457D; ">
                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Date</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Doctor</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Narrative Diagnosis</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Final Diagnosis</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section myScripts{
    <script type="text/javascript">
        //#region Page Load
        $(function () {
            getNarrativeDiagnosis();

            getPreviousNarrativeDiagnosis();
        });
        //#endregion

        //#region Load Narrative Diagnosis
        var getNarrativeDiagnosis = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllNarrativeDiagnosis", "NarrativeDiagnosis", new { area = "EMR" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        var table;
                        if ($.fn.dataTable.isDataTable('#tbl_narrative')) {
                            table = $('#tbl_narrative').DataTable();
                            table.clear();
                            table.rows.add(response).draw();
                        }
                        else {
                            BindDataTableNarrative(response);
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
        //#endregion

        //#region Load PreviousNarrativeDiagnosis
        var getPreviousNarrativeDiagnosis = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllPreNarrativeDiagnosis", "NarrativeDiagnosis", new { area = "EMR" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.isAuthorized != false) {
                        var table;
                        if ($.fn.dataTable.isDataTable('#tbl_Prenarrative')) {
                            table = $('#tbl_Prenarrative').DataTable();
                            table.clear();
                            table.rows.add(response).draw();
                        }
                        else {
                            BindDataTableNarrativeP(response);
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
        //#endregion

        //#region Bind Datatable
        var BindDataTableNarrative = function (response) {
            var table = $("#tbl_narrative").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                processing: true,
                "deferRender": true,
                "pageLength": 100,
                "retrieve": true,
                lengthChange: true,
                "aaData": response,
                "aoColumns": [
                    {
                        "mData": "ntdId",
                        "orderable": false,
                        "searchable": false,
                        "className": "text-center",
                        "render": function (data, type, row, meta) {
                            let _index = (meta.row) + 1;
                            if (_index >= 10) {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>" + _index + "</a>";
                            }
                            else {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>0" + _index + "</a>";
                            }
                        }
                    },
                    {
                        "mData": "ntd_1"
                    },
                    {
                        "mData": "ntd_2"

                    }
                ],
                order: [[0, 'asc']],
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '<span class="text-primary font-weight-semi-bold">Search By Narrative Diagnosis</span>',
                    lengthMenu: '_MENU_',
                    scrollX: "100%",
                },
                scrollX: true,
                scrollY: 500,
                scrollCollapse: true,
                buttons: [
                    {
                        extend: 'excel',
                        title: 'Narrative Diagnosis',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2]
                        }
                    },
                    {
                        extend: 'pdf',
                        title: 'Narrative Diagnosis',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2]
                        }
                    },
                    {
                        extend: 'csv',
                        title: 'Narrative Diagnosis',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2]
                        }
                    },
                    {
                        extend: 'print',
                        title: 'Narrative Diagnosis',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2]
                        }
                    }
                ]
            });

            table.buttons().container().appendTo('#tbl_narrative_wrapper .col-md-6:eq(0)');
        };
        //#endregion

        //#region Previous Bind Datatable
        var BindDataTableNarrativeP = function (response) {
            var table = $("#tbl_Prenarrative").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                processing: true,
                "deferRender": true,
                "pageLength": 100,
                "retrieve": true,
                lengthChange: true,
                "aaData": response,
                "aoColumns": [
                    {
                        "mData": "ntdId",
                        "orderable": false,
                        "searchable": false,
                        "className": "text-center",
                        "render": function (data, type, row, meta) {
                            let _index = (meta.row) + 1;
                            if (_index >= 10) {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>" + _index + "</a>";
                            }
                            else {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>0" + _index + "</a>";
                            }
                        }
                    },
                    {
                        "mData": "app_fdate",
                        "className": "text-left",
                        "render": function (app_fdate, type, full, meta) {
                            if (type === 'display' || type === 'filter') {
                                return moment(app_fdate).format('DD-MM-YYYY');
                            }

                            return moment(app_fdate).format('YYYY-MM-DD');
                        }
                    },
                    {
                        "mData": "doctor_name"
                    },
                    {
                        "mData": "ntd_1"
                    },
                    {
                        "mData": "ntd_2"
                    },

                ],
                order: [[0, 'asc']],
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '<span class="text-primary font-weight-semi-bold">Search Narrative Diagnosis</span>',
                    lengthMenu: '_MENU_',
                    scrollX: "100%",
                },
                scrollX: true,
                scrollY: 500,
                scrollCollapse: true,
                buttons: [
                    {
                        extend: 'excel',
                        title: 'Previous Narrative Diagnosis',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        }
                    },
                    {
                        extend: 'pdf',
                        title: 'Previous Narrative Diagnosis',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        }
                    },
                    {
                        extend: 'csv',
                        title: 'Previous NarrativeDiagnosis',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        }
                    },
                    {
                        extend: 'print',
                        title: 'Previous NarrativeDiagnosis',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        }
                    }
                ]
            });

            table.buttons().container().appendTo('#tbl_Prenarrative_wrapper .col-md-6:eq(0)');
        };
        //#endregion

        //#region Resize Datatable
        function resizedt() {
            setTimeout(function () {
                $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
            }, 350);
        }
        //#endregion
    </script>
}