@using BusinessEntities;
@using System.Linq;
@using System.Security.Claims;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "DischargeChalazionIncisionNewIndex";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }

}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Discharge Summary For Chalazion Incision And Curettage
                </h3>
            </div>
            <div class="card-body">
                <div id="DischargeChalazionIncisionNew_add" style="display:none">
                </div>
                <div id="DischargeChalazionIncisionNew_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="DischargeChalazionIncisionNew_history">
                </div>
            </div>
        </div>
    </div>
</div>
@*@section myScripts{*@
    <script>
        //#region Page Load
        $(function () {
            GetDischargeChalazionIncisionNewInfo();
            DischargeChalazionIncisionNewPreviousHistory();

        });
        //#endregion Page Load

        //#region Load GetDischargeChalazionIncisionNewInfo
        var GetDischargeChalazionIncisionNewInfo = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetDischargeChalazionIncisionNewData", "DischargeChalazionIncisionNew", new { area = "ConsentForms" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        if (response.length > 0) {
                            EditDischargeChalazionIncisionNew();
                            $("#DischargeChalazionIncisionNew_add").hide();
                            $("#DischargeChalazionIncisionNew_edit").show();

                        }
                        else {
                            $("#DischargeChalazionIncisionNew_add").show();
                            $("#DischargeChalazionIncisionNew_edit").hide();
                            AddDischargeChalazionIncisionNew();
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
        //#endregion Load DischargeChalazionIncisionNew

        //#region Add DischargeChalazionIncisionNew
        function AddDischargeChalazionIncisionNew() {
            var x = $("#DischargeChalazionIncisionNew_add");
            x.load("@Url.Action("CreateDischargeChalazionIncisionNew", "DischargeChalazionIncisionNew", new { area = "ConsentForms" })", function () {
          });
        }
        //#endregion Add DischargeChalazionIncisionNew

        //#region Update DischargeChalazionIncisionNew
        function EditDischargeChalazionIncisionNew() {
            var x = $("#DischargeChalazionIncisionNew_edit");
            x.load("@Url.Action("UpdateDischargeChalazionIncisionNew", "DischargeChalazionIncisionNew", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
          //#endregion Update DischargeChalazionIncisionNew

          //#region Histroy of DischargeChalazionIncisionNew
        function DischargeChalazionIncisionNewPreviousHistory() {
            var x = $("#DischargeChalazionIncisionNew_history");
            x.load("@Url.Action("DischargeChalazionIncisionNewPreviousHistory", "DischargeChalazionIncisionNew", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
        //#endregion History of DischargeChalazionIncisionNew


    </script>

@*}*@