@model BusinessEntities.Appointment.Appointment

<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold" id="exampleModalLongTitle">Update Appointment</h5>
    <div class="card-options float-end">
        <a href="javascript:void(0);" class="option-dots border-0 bg-white-transparent" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fe fe-more-vertical fs-20 text-primary"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-start">
            <a class="dropdown-item curpointer" onclick="registrationDesk('@Model.appId')">
                Reg. Forms
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pc-display-horizontal float-end text-primary" viewBox="0 0 16 16"><path d="M1.5 0A1.5 1.5 0 0 0 0 1.5v7A1.5 1.5 0 0 0 1.5 10H6v1H1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1h-5v-1h4.5A1.5 1.5 0 0 0 16 8.5v-7A1.5 1.5 0 0 0 14.5 0h-13Zm0 1h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5ZM12 12.5a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0Zm2 0a.5.5 0 1 1 1 0 .5.5 0 0 1-1 0ZM1.5 12h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1ZM1 14.25a.25.25 0 0 1 .25-.25h5.5a.25.25 0 1 1 0 .5h-5.5a.25.25 0 0 1-.25-.25Z" /></svg>
            </a>
            @if (Model.app_status == "Arrived" || Model.app_status == "Invoiced")
            {
                <a class="dropdown-item curpointer" onclick="openEMR('@Model.appId', 'NurseStation')">
                    Nurse Station
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-pulse float-end text-secondary" viewBox="0 0 16 16">  <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053.918 3.995.78 5.323 1.508 7H.43c-2.128-5.697 4.165-8.83 7.394-5.857.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17c3.23-2.974 9.522.159 7.394 5.856h-1.078c.728-1.677.59-3.005.108-3.947C13.486.878 10.4.28 8.717 2.01L8 2.748ZM2.212 10h1.315C4.593 11.183 6.05 12.458 8 13.795c1.949-1.337 3.407-2.612 4.473-3.795h1.315c-1.265 1.566-3.14 3.25-5.788 5-2.648-1.75-4.523-3.434-5.788-5Z"></path>  <path d="M10.464 3.314a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.5a.5.5 0 0 0 0 1H4a.5.5 0 0 0 .416-.223l1.473-2.209 1.647 4.118a.5.5 0 0 0 .945-.049l1.598-5.593 1.457 3.642A.5.5 0 0 0 12 9h3.5a.5.5 0 0 0 0-1h-3.162l-1.874-4.686Z"></path></svg>
                </a>
                <a class="dropdown-item curpointer" onclick="openEMR('@Model.appId', 'EMR')">
                    Go to EMR
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-plus-fill float-end text-danger" viewBox="0 0 16 16">
                        <path d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3Zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3Z" />
                        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5v-1Zm4.5 6V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5a.5.5 0 0 1 1 0Z" />
                    </svg>
                </a>
                <a class="dropdown-item curpointer" onclick="quickCashBilling('@Model.appId')">
                    Billing
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-coin float-end text-primary" viewBox="0 0 16 16">
                        <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z" />
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z" />
                    </svg>
                </a>
            }
            <a class="dropdown-item curpointer" onclick="appRemarks('@Model.appId')">
                Remarks
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-blockquote-left float-end text-primary" viewBox="0 0 16 16">
                    <path d="M2.5 3a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1h-11zm5 3a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1h-6zm0 3a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1h-6zm-5 3a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1h-11zm.79-5.373c.112-.078.26-.17.444-.275L3.524 6c-.122.074-.272.17-.452.287-.18.117-.35.26-.51.428a2.425 2.425 0 0 0-.398.562c-.11.207-.164.438-.164.692 0 .36.072.65.217.873.144.219.385.328.72.328.215 0 .383-.07.504-.211a.697.697 0 0 0 .188-.463c0-.23-.07-.404-.211-.521-.137-.121-.326-.182-.568-.182h-.282c.024-.203.065-.37.123-.498a1.38 1.38 0 0 1 .252-.37 1.94 1.94 0 0 1 .346-.298zm2.167 0c.113-.078.262-.17.445-.275L5.692 6c-.122.074-.272.17-.452.287-.18.117-.35.26-.51.428a2.425 2.425 0 0 0-.398.562c-.11.207-.164.438-.164.692 0 .36.072.65.217.873.144.219.385.328.72.328.215 0 .383-.07.504-.211a.697.697 0 0 0 .188-.463c0-.23-.07-.404-.211-.521-.137-.121-.326-.182-.568-.182h-.282a1.75 1.75 0 0 1 .118-.492c.058-.13.144-.254.257-.375a1.94 1.94 0 0 1 .346-.3z" />
                </svg>
            </a>
            <a class="dropdown-item curpointer" onclick="addReceipt('@Model.app_ins')">
                Receipts
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-receipt-cutoff float-end text-primary" viewBox="0 0 16 16">
                    <path d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zM11.5 4a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z" />
                    <path d="M2.354.646a.5.5 0 0 0-.801.13l-.5 1A.5.5 0 0 0 1 2v13H.5a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1H15V2a.5.5 0 0 0-.053-.224l-.5-1a.5.5 0 0 0-.8-.13L13 1.293l-.646-.647a.5.5 0 0 0-.708 0L11 1.293l-.646-.647a.5.5 0 0 0-.708 0L9 1.293 8.354.646a.5.5 0 0 0-.708 0L7 1.293 6.354.646a.5.5 0 0 0-.708 0L5 1.293 4.354.646a.5.5 0 0 0-.708 0L3 1.293 2.354.646zm-.217 1.198.51.51a.5.5 0 0 0 .707 0L4 1.707l.646.647a.5.5 0 0 0 .708 0L6 1.707l.646.647a.5.5 0 0 0 .708 0L8 1.707l.646.647a.5.5 0 0 0 .708 0L10 1.707l.646.647a.5.5 0 0 0 .708 0L12 1.707l.646.647a.5.5 0 0 0 .708 0l.509-.51.137.274V15H2V2.118l.137-.274z" />
                </svg>
            </a>
            <a class="dropdown-item curpointer" onclick="editPatient('@Model.app_ins')">
                Update Patient
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-check float-end text-primary" viewBox="0 0 16 16">
                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z" />
                </svg>
            </a>
            <a class="dropdown-item" onclick="documentsPatient('@Model.app_ins')" style="cursor:pointer;">
                Documents
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-images float-end" viewBox="0 0 16 16">
                    <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                    <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z" />
                </svg>
            </a>
            <a class="dropdown-item" onclick="detailPatient('@Model.app_ins')">
                History
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-history float-end text-orange" viewBox="0 0 16 16">
                    <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z" />
                    <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z" />
                    <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z" />
                </svg>
            </a>
        </div>
    </div>
</div>

<div class="modal-body p-4">
    <form id="form_Update_Appointment">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 mb-4 font-weight-semibold">
                <span class="text-danger" style="font-size:smaller">Required fields are marked with *</span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="form-group">
                    <label class="form-label"> Branch&nbsp;<span class="text-danger">*</span></label>
                    @Html.DropDownListFor(m => m.app_branch, (IEnumerable<SelectListItem>)ViewData["BranchList"], "Please Select", new { @class = "form-select select2", @id = "uapp_branch" })
                </div>
            </div>
            <div class="col-sm-6 col-md-2 col-lg-2">
                <div class="form-group">
                    <label class="form-label"> In/Out&nbsp;<span class="text-danger">*</span></label>
                    @Html.DropDownListFor(m => m.app_inout, new List<SelectListItem>
                    {
                        new SelectListItem{ Value="Out Patient", Text="Out Patient", Selected=true},
                        new SelectListItem{ Value="In Patient", Text="In Patient"},
                        new SelectListItem{ Value="Emergency", Text="Emergency"},
                        new SelectListItem{ Value="Preadmit", Text="Preadmit"},
                        new SelectListItem{ Value="Recurring patient", Text="Recurring Patient"},
                    }, "Select Visit Type", new { @class = "form-select select2 mb-4", @id = "uapp_inout" })
                </div>
            </div>
            <div class="col-sm-6 col-md-2 col-lg-2">
                <div class="form-group">
                    <label class="form-label"> Room&nbsp;<span class="text-danger">*</span></label>
                    @Html.DropDownListFor(m => m.app_room, (IEnumerable<SelectListItem>)ViewData["RoomList"], "Please Select", new { @class = "form-select select2", @id = "uapp_room" })
                </div>
            </div>
            <div class="col-sm-6 col-md-2 col-lg-2">
                <div class="form-group">
                    <label class="form-label"> Doctor&nbsp;<span class="text-danger">*</span></label>
                    @Html.DropDownListFor(m => m.app_doctor, (IEnumerable<SelectListItem>)ViewData["DoctorsList"], "Please Select", new { @class = "form-select select2", @id = "uapp_doctor" })
                </div>
            </div>
            <div class="col-sm-6 col-md-2 col-lg-2">
                <div class="form-group">
                    <label class="form-label"> Followup Type&nbsp;<span class="text-danger">*</span></label>
                    @Html.DropDownListFor(m => m.app_type, new List<SelectListItem>
                    {
                        new SelectListItem{ Value="First Time", Text="First Time", Selected=true},
                        new SelectListItem{ Value="Follow Up", Text="Follow Up"},
                        new SelectListItem{ Value="Repeat", Text="Repeat"}
                    }, "Select Type", new { @class = "form-select select2 mb-4", @id = "uapp_type" })
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-6 col-md-2 col-lg-2">
                <div class="form-group">
                    <label class="form-label"> Date&nbsp;<span class="text-danger">*</span> </label>
                    @Html.TextBoxFor(model => model.app_fdate, new { @class = "form-control mb-4", @placeholder = "YYYY/MM/DD", @id = "uapp_fdate" })
                </div>
            </div>
            <div class="col-sm-6 col-md-2 col-lg-2">
                <div class="form-group">
                    <label class="form-label"> From&nbsp;<span class="text-danger">*</span></label>
                    @Html.DropDownListFor(m => m.app_ftime, (IEnumerable<SelectListItem>)ViewData["FromTimeList"], "Please Select", new { @class = "form-select select2", @id = "uapp_ftime" })
                </div>
            </div>
            <div class="col-sm-6 col-md-2 col-lg-2">
                <div class="form-group">
                    <label class="form-label"> To&nbsp;<span class="text-danger">*</span></label>
                    @Html.DropDownListFor(m => m.app_ttime, (IEnumerable<SelectListItem>)ViewData["ToTimeList"], "Please Select", new { @class = "form-select select2", @id = "uapp_ttime" })
                </div>
            </div>
            <div class="col-sm-6 col-md-2 col-lg-2">
                <div class="form-group">
                    <label class="form-label"> Status&nbsp;<span class="text-danger">*</span></label>
                    @Html.DropDownListFor(m => m.app_status, (IEnumerable<SelectListItem>)ViewData["StatusList"], "Please Select", new { @class = "form-select select2", @id = "uapp_status" })
                </div>
            </div>
            <div class="col-sm-6 col-md-2 col-lg-2">
                <div class="form-group">
                    <label class="form-label"> Is it an Emergency?</label>
                    @Html.DropDownListFor(m => m.app_emergency, new List<SelectListItem>
                    {
                        new SelectListItem{ Value="NO", Text="NO", Selected=true},
                        new SelectListItem{ Value="YES", Text="YES"}
                    }, "Emergency Type", new { @class = "form-select select2 mb-4", @id = "uapp_emergency" })
                </div>
            </div>
            <div class="col-sm-6 col-md-2 col-lg-2">
                <div class="form-group">
                    <label class="form-label"> Eligibility Ref. </label>
                    @Html.TextBoxFor(model => model.app_eligibility, new { @class = "form-control mb-4", @placeholder = "Eligibility #", @id = "uapp_eligibility" })
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="form-group">
                <label class="form-label"> Search Patient By&nbsp;<span class="text-danger">*</span></label>
                <div class="custom-controls d-flex flex-row justify-content-left">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="urdo_s_patient" value="1">
                        <span class="custom-control-label">MRN</span>
                    </label>
                    <label class="custom-control custom-radio ms-2">
                        <input type="radio" class="custom-control-input" name="urdo_s_patient" value="2">
                        <span class="custom-control-label">Name</span>
                    </label>
                    <label class="custom-control custom-radio ms-2">
                        <input type="radio" class="custom-control-input" name="urdo_s_patient" value="3" checked>
                        <span class="custom-control-label">Mobile No</span>
                    </label>
                    <label class="custom-control custom-radio ms-2">
                        <input type="radio" class="custom-control-input" name="urdo_s_patient" value="4">
                        <span class="custom-control-label">Emirates ID</span>
                    </label>

                    <div class="btn-list ms-2">
                        <button class="btn btn-outline-success btn-sm" type="button" id="btnCreatePatientU">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus me-1" viewBox="0 0 16 16">
                                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                            </svg>
                            Add New Patient
                        </button>
                        <button class="btn btn-outline-info btn-sm" type="button" id="btnCreateEnquiryU">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-paper me-1" viewBox="0 0 16 16">
                                <path d="M4 0a2 2 0 0 0-2 2v1.133l-.941.502A2 2 0 0 0 0 5.4V14a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V5.4a2 2 0 0 0-1.059-1.765L14 3.133V2a2 2 0 0 0-2-2H4Zm10 4.267.47.25A1 1 0 0 1 15 5.4v.817l-1 .6v-2.55Zm-1 3.15-3.75 2.25L8 8.917l-1.25.75L3 7.417V2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v5.417Zm-11-.6-1-.6V5.4a1 1 0 0 1 .53-.882L2 4.267v2.55Zm13 .566v5.734l-4.778-2.867L15 7.383Zm-.035 6.88A1 1 0 0 1 14 15H2a1 1 0 0 1-.965-.738L8 10.083l6.965 4.18ZM1 13.116V7.383l4.778 2.867L1 13.117Z" />
                            </svg>
                            Add New Enquiry
                        </button>
                    </div>
                </div>

                @Html.DropDownListFor(m => m.app_patient, new List<SelectListItem> { }, "Search for", new { @class = "form-select select2 mb-4", @id = "uapp_patient" })
            </div>
        </div>
        <div id="u_divPackageOrderInfo" class="row mt-2">
            <label class="col-sm-12 col-lg-12"><span class="fs-11 text-info font-italic font-weight-semibold">This Patient have Package Order</span></label>
            <div class="col-sm-6 col-lg-6">
                <div class="form-group">
                    <label class="form-label"> Package Order</label>
                    @Html.DropDownListFor(m => m.app_package_order, new List<SelectListItem> { }, "Search for", new { @class = "form-select select2 mb-4", @id = "uapp_package_order" })
                </div>
            </div>
            <div class="col-sm-6 col-lg-6">
                <div class="form-group">
                    <label class="form-label"> Package Service</label>
                    @Html.DropDownListFor(m => m.app_service, new List<SelectListItem> { }, "Search for", new { @class = "form-select select2 mb-4", @id = "uapp_service" })
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12 col-lg-12 text-center">
                <div class="btn-list btn-animation">
                    @if (Model.app_status != "Invoiced" && Model.app_status != "Deleted")
                    {
                        <button type="submit" class="btn btn-warning" id="btn_Update_Appointment">Save Changes</button>
                        <button type="button" class="btn btn-info" id="btnClone">Clone Appointment</button>
                        <button type="button" class="btn btn-indigo" id="btnRebook">Re-Book Appointment</button>
                        <button type="button" class="btn btn-danger" id="btnDelete">Delete Appointment</button>
                    }
                    <button type="button" class="btn btn-outline-danger me-1 close-modal" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Modal Documents -->
<div class="modal fade overflow-auto" id="patient_documents" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true" data-modal-from="patient">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="sizeAL">
        <div class="modal-content" id="patient_documents_body">
        </div>
    </div>
</div>
<!-- End Modal Documents -->
<!-- Modal Patient Details -->
<div class="modal fade overflow-auto" id="patient_details" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true" data-modal-from="patient">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content" id="patient_details_body">
        </div>
    </div>
</div>
<!-- End Modal Patient Details -->

<script type="text/javascript">

    //#region Document Load
    var _from = $('#update_appointment_modal').attr("data-modal-from");
    $(function () {
        $("#u_divPackageOrderInfo").hide();

        $("#uapp_inout").select2({
            placeholder: 'Select Visit Type',
            width: '100%',
            dropdownParent: $('#update_appointment_modal')
        });

        $("#uapp_branch").select2({
            placeholder: 'Select a Branch',
            width: '100%',
            dropdownParent: $('#update_appointment_modal')
        });

        $("#uapp_room").select2({
            placeholder: 'Select a Room',
            width: '100%',
            dropdownParent: $('#update_appointment_modal')
        });

        $("#uapp_doctor").select2({
            placeholder: 'Select a Doctor',
            width: '100%',
            dropdownParent: $('#update_appointment_modal')
        });

        $('#uapp_fdate').bootstrapdatepicker({
            format: "yyyy-mm-dd",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-"
        });

        $("#uapp_ftime").select2({
            placeholder: 'Select a TimeSlot',
            width: '100%',
            dropdownParent: $('#update_appointment_modal')
        });

        $("#uapp_ttime").select2({
            placeholder: 'Select a TimeSlot',
            width: '100%',
            dropdownParent: $('#update_appointment_modal')
        });

        $("#uapp_patient").select2({
            placeholder: 'Select a Patient',
            width: '100%',
            dropdownParent: $('#update_appointment_modal'),
            minimumInputLength: 3,
            escapeMarkup: function (markup) {
                return markup;
            },
            ajax: {
                url: '@Url.Action("SearchPatients", "RoomScheduler",  new { area = "Appointment" })',
                dataType: 'json',
                delay: 250,
                data: function (query) {
                    return {
                        query: query.term,
                        type: $("input[name='urdo_s_patient']:checked").val()
                    };
                },
                processResults: function (data) {
                    console.log(data);
                    return {
                        results: data
                    };
                },
                cache: true
            }
        });

        setPatient(@Model.app_patient);

        $("#uapp_type").select2({
            placeholder: 'Select Type',
            width: '100%',
            dropdownParent: $('#update_appointment_modal')
        });

        $("#uapp_status").select2({
            placeholder: 'Select Status',
            width: '100%',
            dropdownParent: $('#update_appointment_modal')
        });

        $("#uapp_emergency").select2({
            placeholder: 'Select Emergency Type',
            width: '100%',
            dropdownParent: $('#update_appointment_modal')
        });

        $("#uapp_package_order").select2({
            placeholder: 'Select Package Order',
            width: '100%',
            dropdownParent: $('#update_appointment_modal')
        });

        $("#uapp_service").select2({
            placeholder: 'Select Service',
            width: '100%',
            dropdownParent: $('#update_appointment_modal'),
            escapeMarkup: function (markup) {
                return markup;
            }
        });

        validation();
    });
    //#endregion

    //#region Set Patient Details
    var setPatient = function (app_ins) {
        $.ajax({
            url: '@Url.Action("SearchPatients", "RoomScheduler",  new { area = "Appointment" })?query=' + app_ins +'&type=5',
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                var data = {
                    "id": response[0].id,
                    "text": response[0].text,

                };

                var newOption = new Option(response[0].text, response[0].id, true, true);
                $('#uapp_patient').append(newOption).trigger('change');

                $('#uapp_patient').trigger({
                    type: 'select2:select',
                    params: {
                        data: data
                    }
                });

            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr);
            }
        });
    }
    //#endregion

    //#region Validation initialization
    var validation = function () {
        $("#form_Update_Appointment").validate({
            focusInvalid: true,
            rules:
            {
                app_branch: {
                    required: true
                },
                app_room: {
                    required: true
                },
                app_doctor: {
                    required: true
                },
                app_fdate: {
                    required: true
                },
                app_ftime: {
                    required: true
                },
                app_ttime: {
                    required: true
                },
                app_patient: {
                    required: true
                },
                app_type: {
                    required: true
                },
                app_status: {
                    required: true
                }
            },
            messages: {
                app_branch: {
                    required: "Select the Branch"
                },
                app_room: {
                    required: "Select the Room"
                },
                app_doctor: {
                    required: "Select the Doctor"
                },
                app_fdate: {
                    required: "Select the Appointment Date"
                },
                app_ftime: {
                    required: "Select the From time"
                },
                app_ttime: {
                    required: "Select the To time"
                },
                app_patient: {
                    required: "Select the Patient"
                },
                app_type: {
                    required: "Select the Followup Type"
                },
                app_status: {
                    required: "Select the Appointment Status"
                }
            },
            highlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                } else {
                    elem.parent().addClass('has-error');
                }
                $(element).parent().addClass('has-error');
            },
            unhighlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                } else {
                    elem.removeClass('has-error');
                }
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    element = $("#select2-" + elem.attr("id") + "-container").parent();
                    error.insertAfter(element);
                } else {
                    error.insertAfter(element);
                }
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

        $('#uapp_branch').on('change', function () {
            $(this).trigger('blur');
        });
        $('#uapp_room').on('change', function () {
            $(this).trigger('blur');
        });
        $('#uapp_doctor').on('change', function () {
            $(this).trigger('blur');
        });
        $('#uapp_fdate').on('change', function () {
            $(this).trigger('blur');
        });
        $('#uapp_ftime').on('change', function () {
            $(this).trigger('blur');
        });
        $('#uapp_ttime').on('change', function () {
            $(this).trigger('blur');
        });
        $('#uapp_patient').on('change', function () {
            $(this).trigger('blur');
        });
        $('#uapp_type').on('change', function () {
            $(this).trigger('blur');
        });
        $('#uapp_status').on('change', function () {
            $(this).trigger('blur');
        });
        $('#uapp_fdate').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                return false;

            }
            else {
                if (e.target.value.length >= 10)
                    return false;
            }
        });
    };
    //#endregion

    //#region Patient Select Event
    $('#uapp_patient').on('select2:select', function (e) {
        var _app_fdate = $('#uapp_fdate').val();
        var _app_doctor = $('#uapp_doctor').val();
        var data = e.params.data;

        if (data.id > 0) {
            $.ajax({
                url: '@Url.Action("GetPackageOrders", "RoomScheduler",  new { area = "Appointment" })?app_ins=' + data.id,
                type: "GET",
                dataType: "json",
                async: false,
                success: function (response) {
                    var _data = response;
                    if (_data.length > 0) {

                        $.each(response, function (j) {
                            var newOption = new Option(response[j].po_details, response[j].poId, (@Model.app_package_order === response[j].poId) ? true :false,  (@Model.app_package_order === response[j].poId) ? true :false);
                            $('#uapp_package_order').append(newOption).trigger('change');
                        });

                        var data = {
                            "id": @Model.app_package_order,
                            "text": $('#uapp_package_order').val()
                        };


                        $('#uapp_package_order').trigger({
                            type: 'select2:select',
                            params: {
                                data: data
                            }
                        });

                        $("#u_divPackageOrderInfo").show();

                    }
                    else {
                        $("#u_divPackageOrderInfo").hide();
                        $("#app_package_order").val('');
                        $("#app_service").val('');
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }
            });

            if (!(_app_fdate === undefined || _app_fdate === "" || _app_fdate === null) &&
                !(_app_doctor === undefined || _app_doctor === 0 || _app_doctor === "" || _app_doctor === null)

            ) {
                $.ajax({
                url: '@Url.Action("GetAppointmentFollowupStatus", "RoomScheduler", new { area = "Appointment" })?piId=' + data.id + "&app_doctor=" + _app_doctor + "&app_fdate=" + _app_fdate ,
                type: "GET",
                dataType: "json",
                async: false,
                success: function (response) {
                    if (response !== null && response !== "") {
                        $('#uapp_type').val(response).trigger('change');
                    }
                    else {
                        $('#uapp_type').val("First Time").trigger('change');
                    }
                    //console.log(response);
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }
            });
            }
        }
    });
    //#endregion

    //#region Package Order Select Event
    $('#uapp_package_order').on('select2:select', function (e) {
        console.log(e);
        var piId = $('#uapp_patient').val();
        var data = e.params.data;

        if (data.id > 0) {
            $.ajax({
                url: '@Url.Action("GetPackageOrderServices", "RoomScheduler", new { area = "Appointment" })?piId=' + piId + '&poId=' + data.id,
                type: "GET",
                dataType: "json",
                async: false,
                success: function (response) {
                    var _data = response;
                    if (_data.length > 0) {
                        $.each(response, function (j) {
                            var newOption = new Option(response[j].ps_info, response[j].psId, (@Model.app_service === response[j].psId) ? true :false,  (@Model.app_service === response[j].psId) ? true :false);
                            $('#uapp_service').append(newOption).trigger('change');
                        });
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }
            });
        }
    });
    //#endregion

    //#region Branch Selection
    $('#uapp_branch').on('select2:select', function (e) {
        var data = e.params.data;
        if (data.id > 0) {
            loadRoomsByBranch(data);
            loadDoctorsByBranch(data);
        }
    });
    //#endregion

    //#region Load Rooms By Branch
    var loadRoomsByBranch = function (data) {
         $.ajax({
            url: '@Url.Action("GetRoomsByBranch", "RoomScheduler", new { area = "Appointment" })?app_branch=' + data.id,
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                console.log(response);
                $('#uapp_room').empty();
                var _data = response;
                if (_data.length > 0) {
                    $.each(response, function (j) {
                        var newOption = new Option(response[j]["Text"], response[j]["Value"], (@Model.app_room === response[j]["Value"]) ? true :false,  (@Model.app_room === response[j]["Value"]) ? true :false);
                        $('#uapp_room').append(newOption).trigger('change');
                    });
                }
            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr);
            }
        });
    }
    //#endregion

    //#region Load Doctors By Branch
    var loadDoctorsByBranch = function (data) {
         $.ajax({
            url: '@Url.Action("GetDoctorsByBranch", "RoomScheduler", new { area = "Appointment" })?app_branch=' + data.id,
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                console.log(response);
                $('#uapp_doctor').empty();
                var _data = response;
                if (_data.length > 0) {
                    $.each(response, function (j) {
                        var newOption = new Option(response[j]["Text"], response[j]["Value"],  (@Model.app_doctor === response[j]["Value"]) ? true :false,  (@Model.app_doctor === response[j]["Value"]) ? true :false);
                        $('#uapp_doctor').append(newOption).trigger('change');
                    });
                }
            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr);
            }
        });
    }
    //#endregion

    //#region Insert Insurance Company Click
    $('#btn_Update').on('click', function (e) {
        e.preventDefault();

        if ($("#form_Update_Appointment").valid()) {
            var _appData = {
                "appId"                 : (@Model.appId),
                "app_room"              : $("#uapp_room").val(),
                "app_fdate"             : moment($("#uapp_fdate").val()).format("YYYY-MM-DD"),
                "app_tdate"             : moment($("#uapp_fdate").val()).format("YYYY-MM-DD"),
                "app_ftime"             : $("#uapp_ftime").val(),
                "app_ttime"             : $("#uapp_ttime").val(),
                "app_ins"               : $("#uapp_patient").val(),
                "app_doctor"            : $("#uapp_doctor").val(),
                "app_type"              : $("#uapp_type").val(),
                "app_status"            : $("#uapp_status").val(),
                "app_branch"            : $("#uapp_branch").val(),
                "app_inout"             : $("#uapp_inout").val(),
                "app_emergency"         : $("#uapp_emergency").val(),
                "app_eligibility"       : $("#uapp_eligibility").val(),
                "app_reason_for_visit"  : $("#uapp_reason_for_visit").val(),
                "app_package_order"     : $("#uapp_package_order").val(),
                "app_comments"          : $("#uapp_comments").val(),
                "app_service"           : $("#uapp_service").val(),
            }

            $.ajax({
                type: "POST",
                url: "@Url.Action("EditAppointment", "RoomScheduler", new { area = "Appointment" })",
                dataType: 'JSON',
                data: _appData,
                success: function (data) {
                    let _id = parseInt(data);
                    var _toast_html = "";

                    if (_id !== undefined && _id !== "" && _id !== null) {
                        if (_id === -1) {
                            _toast_html = toast_html('info', 'Appointment', '<i class="fe fe-alert-triangle me-2 text-warning"></i> Appointment already exist with same details...');
                        }
                        else if (_id > 0) {
                            _toast_html = toast_html('success', 'Appointment', '<i class="fe fe-check-circle me-2 text-success"></i> You have successfully updated the appointment...');
                            Calendar.init();
                        }
                        else {
                            _toast_html = toast_html('error', 'Appointment', '<i class="fe fe-slash me-2 text-danger"></i> Failed To Update The Appointment!');
                        }
                    }
                    else {
                        _toast_html = toast_html('error', 'Appointment', '<i class="fe fe-slash me-2 text-danger"></i> Failed To Update The Appointment!');
                    }

                    $('#update_appointment_modal').modal('toggle');
                    var calenderToast = document.getElementById('calenderToast');
                    calenderToast.innerHTML = _toast_html;
                    var toast = new bootstrap.Toast(calenderToast)
                    toast.show();
                },
                error: function (xhr) {
                    $('#update_appointment_modal').modal('toggle');

                    var _toast_html = toast_html('error', 'Appointment', 'Error in updating the appointment...');
                    var calenderToast = document.getElementById('calenderToast');
                    calenderToast.innerHTML = _toast_html;
                    var toast = new bootstrap.Toast(calenderToast)
                    toast.show();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion

    //#region Clone / Re-book / Delete Appointment
    $("#btnClone").click(function () {
        localStorage.setItem("clone_appointment", @Model.appId);
        $('#update_appointment_modal').modal('toggle');
    });

    $("#btnRebook").click(function () {
        localStorage.setItem("copy_appointment", @Model.appId);
        $('#update_appointment_modal').modal('toggle');
    });

    $("#btnDelete").click(function () {
        Swal.fire({
            title: "Are you sure you want to Delete this appointment ?",
            text: "This action will Delete this Appointment!",
            icon: "question",
            showCancelButton: !0,
            confirmButtonText: 'Yes! I confirm',
            cancelButtonText: 'No! Cancel Please',
            confirmButtonClass: "btn btn-success mt-2",
            cancelButtonClass: "btn btn-danger ms-2 mt-2",
            buttonsStyling: !1
        }).then(function (t) {
            if (t.value) {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("DeleteAppointment", "RoomScheduler", new { area = "Appointment" })?appId="+ @Model.appId,
                    contentType: "application/json",
                    dataType: "json",
                    success: function (response) {
                        if (parseInt(response) > 0) {
                            $('#update_appointment_modal').modal('toggle');
                            Calendar.init();

                            var _toast_html = "";
                            _toast_html = toast_html('success', 'Appointment', 'You have successfully Deleted the appointment...');
                            var calenderToast = document.getElementById('calenderToast');
                            calenderToast.innerHTML = _toast_html;
                            var toast = new bootstrap.Toast(calenderToast)
                            toast.show();
                        }
                        else {
                            var _toast_html = "";
                            _toast_html = toast_html('error', 'Appointment', 'Error in Deleting the Appointment...');
                            var calenderToast = document.getElementById('calenderToast');
                            calenderToast.innerHTML = _toast_html;
                            var toast = new bootstrap.Toast(calenderToast)
                            toast.show();
                        }
                    },
                    error: function (xhr) {
                        console.log(xhr);
                        alert(xhr);
                    }
                });
            }
        });
    });
    //#endregion

    //#region Toast Body
    var toast_html = function (type, heading, content) {
        var div = "";

        if (type === "success") {
            div = '<div class="toast-header bg-success text-white">';
        }
        else if (type === "error") {
            div = '<div class="toast-header bg-danger text-white">';
        }
        else if (type === "info") {
            div = '<div class="toast-header bg-info text-white">';
        }
        else if (type === "warning") {
            div = '<div class="toast-header bg-warning text-white">';
        }
        else {
            div = '<div class="toast-header bg-primary text-white">';
        }

        var html = div +
            '<strong class="me-auto">' + heading +'</strong>' +
            '<small>just now</small>' +
            '<button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close">' +
            '<span aria-hidden="true">×</span>' +
            '</button>' +
            '</div>' +
            '<div class="toast-body">' +
            content
            '</div>';

        return html;
    }
    //#endregion

    //#region Create Patient
    $('#btnCreatePatientU').on('click', function (e) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("CreatePatient", "Patient", new { area = "Patient" })",
            contentType: "application/json",
            dataType: "html",
            success: function (data) {
                if (_from === "create-appointment") {
                    $('#create_appointment_modal').modal('hide');
                }
                else if (_from === "appointment-list") {
                    $('#update_appointment_modal').modal('hide');
                }
                else if (_from === "update-appointment") {
                    $('#update_appointment_modal').modal('hide');
                }
                $('#create_patient_modal').attr("data-modal-from", "update-appointment");

                $("#create_patient_modal_body").html(data);
                $('#create_patient_modal').modal('show');
            },
            error: function (xhr) {
                console.log("Error : "+xhr.statusText);
            }
        });
    });
    //#endregion

    //#region Create Enquiry Patient
    $('#btnCreateEnquiryU').on('click', function (e) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("CreateInquiryPatient", "Patient", new { area = "Patient" })",
            contentType: "application/json",
            dataType: "html",
            success: function (data) {
                if (_from === "create-appointment") {
                    $('#update_appointment_modal').modal('hide');
                }
                else if (_from === "appointment-list") {
                    $('#update_appointment_modal').modal('hide');
                }
                else if (_from === "update-appointment") {
                    $('#update_appointment_modal').modal('hide');
                }
                $('#inquiry_modal').attr("data-modal-from", "update-appointment");

                $("#inquiry_modal_body").html(data);
                $('#inquiry_modal').modal('show');
            },
            error: function (xhr) {
                console.log("Error : " + xhr.statusText);
            }
        });
    });
    //#endregion

    //#region Create Enquiry Patient On Modal Close
    $('#inquiry_modal').on('hidden.bs.modal', function () {
        if (localStorage.getItem("newInquiry") != null) {
            var patient = JSON.parse(localStorage.getItem("newInquiry"));
            setPatient(patient.piId);
            $('#app_status').val("Enquiry").trigger("change");
            localStorage.removeItem("newInquiry");
        }
    });
    //#endregion

    //#region Registration (Front Desk)
    var registrationDesk = function (appId) {
        window.open("@Url.Action("RegistrationMain", "RegistrationMain", new { area = "FrontDesk" })?appId=" + appId, "_blank");
    }
    //#endregion

    //#region Electronic Medical Records
    var openEMR = function (appId, type) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetEMRPatientInfo", "Appointment", new { area = "Appointment" })' + "?appId=" + appId,
            dataType: 'json',
            success: function (response) {
                localStorage.setItem("type", type);

                if (type == "EMR") {
                    window.open("@Url.Action("CheifComplaints", "CheifComplaints", new { area = "EMR" })");
                }
                else {
                    window.open("@Url.Action("VitalSigns", "VitalSigns", new { area = "NurseStation" })");
                }
            },
            error: function (xhr) {
                console.log(xhr.statusText);
            }
        });
    }
    //#endregion

    //#region Quick Cash Billing
    var quickCashBilling = function (appId) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("QuickCashBilling", "Invoice", new { area = "Invoice" })",
            contentType: "application/json",
            data: { "appId": appId },
            dataType: "html",
            success: function (data) {
                $('#quick_billing').attr("data-modal-from", "update-appointment");
                $("#quick_billing_body").html(data);
                $("#quick_billing").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion

    //#region Appointment Remarks
    var appRemarks = function (appId) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("PatientRemarks", "Patient", new { area = "Patient" })?id=" + appId + "&flag=Appointment&fdate=" + moment('@Model.app_fdate').format("YYYY-MM-DD") + "&ftime=" + @Model.app_ftime + "&patId=" + @Model.app_ins,
            contentType: "application/json",
            dataType: "html",
            success: function (response) {
                $('#patient_remarks').attr("data-modal-from", "update-appointment");
                $("#patient_remarks_body").html(response);
                $("#patient_remarks").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion

    //#region Edit Patient
    var editPatient = function(patId) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("EditPatient", "Patient", new { area = "Patient" })?patId=" + patId,
            contentType: "application/json",
            dataType: "html",
            success: function (data) {
                $('#edit_patient_modal').attr("data-modal-from", "update-appointment");
                $("#edit_patient_modal_body").html(data);
                $("#edit_patient_modal").modal("show");
            },
            error: function (xhr) {
                console.log(xhr);
            }
        });
    };
    //#endregion

    //#region New Receipt
    var addReceipt = function (patId) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("NewReceipt", "Receipt", new { area = "Invoice" })",
            contentType: "application/json",
            dataType: "html",
            success: function (response) {
                $("#addnew_receipt_modal_body").html(response);
                $("#addnew_receipt_modal").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion

    //#region Patient Documents
    var documentsPatient = function (patId) {
        var myContent = "<div>" + $("#upat_name").val() + "</div>";

        $.ajax({
            type: "GET",
            url: "@Url.Action("PatientDocuments", "Patient", new { area = "Patient" })?patId=" + patId + "&pat_name=" + $(myContent).text(),
            contentType: "application/json",
            dataType: "html",
            success: function (response) {
                $("#patient_documents_body").html(response);
                $("#patient_documents").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion

    //#region Patient Details
    var detailPatient = function (patId) {
        var myContent = "<div>" + $("#upat_name").val() + "</div>";

        $.ajax({
            type: "GET",
            url: "@Url.Action("PatientDetail", "Patient", new { area = "Patient" })?patId=" + patId + "&pat_name=" + $(myContent).text(),
            contentType: "application/json",
            dataType: "html",
            success: function (response) {
                $("#patient_details_body").html(response);
                $("#patient_details").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion

</script>


