@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConsentForms.FacialConsentArbDerma

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}


<form id="form_FacialConsentArbDermaEdit" autocomplete="off" name="FacialConsentArbDerma" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-right" dir="rtl">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> اسم المريض</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> الهوية الإماراتية</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">رقم الملف</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> تاريخ الميلاد</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> الجنسية</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">جنس</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">اسم الطبيب</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">تاريخ</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5 mt-5 text-justify" dir="rtl">
        <div class="form-group">
            <p>الهدف من علاج الوجه كما هو الحال في أي إجراء تجميلي ، هو التحسين ، وليس الكمال. أفهم أن نتائجي قد لا تكون مثالية. في حالة علاج الوجه ، يختلف عدد العلاجات اللازمة بين الأفراد والمناطق التي يتم علاجها. </p>
            <p>أفهم أن ممارسة التجميل ليست علمًا دقيقًا وأنه لا يمكن تقديم أي ضمانات محددة بشأن النتائج المستثناة. </p>
        </div>
        <div class="row d-flex align-items-center mb-2" dir="rtl">
            <div class="col-lg-4 text-right">
                هل هذا أول علاج للوجه لك؟
            </div>
            <div class="col-lg-1 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_14" id="uftfa_141" value="1">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_14" id="uftfa_142" value="2">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center mb-2" dir="rtl">
            <div class="col-lg-4 text-right">
                هل هناك أي مجالات محددة تهمك؟
            </div>
            <div class="col-lg-3 text-right">
                @Html.TextBoxFor(m => m.ftfa_1, new { @class = "form-control", @id = "uftfa_1", @maxlength = "250" })<br />
            </div>
        </div>
        <div class="row d-flex align-items-center mb-2" dir="rtl">
            <div class="col-lg-4 text-right">
                هل أنت حاليًا تحت رعاية طبيب لأي حالة جلدية أو مشكلة أخرى؟
            </div>
            <div class="col-lg-3 text-right">
                @Html.TextBoxFor(m => m.ftfa_2, new { @class = "form-control", @id = "uftfa_2", @maxlength = "250" })<br />
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 row d-flex align-items-center mb-2" dir="rtl">
            <div class="col-lg-4 text-right">
                هل أنت حامل أو تعتقد أنك حامل؟
            </div>
            <div class="col-lg-1 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_15" id="uftfa_151" value="1">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_15" id="uftfa_152" value="2">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 row d-flex align-items-center mb-2" dir="rtl">
            <div class="col-lg-4 text-right">
                هل تأخذين وسائل منع
            </div>
            <div class="col-lg-1 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_16" id="uftfa_161" value="1">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_16" id="uftfa_162" value="2">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2 text-right d-flex">
                <span class="mt-2">لا إذا كانت الإجابة بنعم ، أي نوع؟</span>&nbsp;
            </div>
            <div class="col-lg-4 text-right d-flex">
                @Html.TextBoxFor(m => m.ftfa_3, new { @class = "form-control", @id = "uftfa_3", @style = "width:300px", @maxlength = "250" })<br />
            </div>
        </div>
        <div class="row d-flex align-items-center mb-2" dir="rtl">
            <div class="col-lg-4 text-right">
                هل تتناول أدوية بديلة للهرمونات؟ نعم لا إذا كانت الإجابة بنعم ، أي نوع؟
            </div>
            <div class="col-lg-1 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_17" id="uftfa_171" value="1">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_17" id="uftfa_172" value="2">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2 text-right d-flex">
                <span class="mt-2">لإجابة بنعم ، أي نوع؟</span>
            </div>
            <div class="col-lg-4 text-right d-flex">
                @Html.TextBoxFor(m => m.ftfa_4, new { @class = "form-control", @style = "width:300px", @id = "uftfa_4", @maxlength = "250" })
            </div>
        </div>
        <div class="row d-flex align-items-center mb-2" dir="rtl">
            <div class="col-lg-4 text-right">
                ل ترتدي العدسات اللاصقة؟
            </div>
            <div class="col-lg-1 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_18" id="uftfa_181" value="1">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_18" id="uftfa_182" value="2">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center mb-2" dir="rtl">
            <div class="col-lg-4 text-right">
                هل تعاني من الإجهاد؟
            </div>
            <div class="col-lg-1 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_19" id="uftfa_191" value="1">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_19" id="uftfa_192" value="2">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center mb-2" dir="rtl">
            <div class="col-lg-4 text-right">
                هل تم تشخيصك بسرطان الجلد؟
            </div>
            <div class="col-lg-1 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_20" id="uftfa_201" value="1">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_20" id="uftfa_202" value="2">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center mb-2 text-right" dir="rtl">
            <div class="col-lg-4">
                هل تستخدم حاليًا أو سبق لك استخدام أي من الأدوية المدرجة؟ ضع دائرة حول كل ما ينطبق.
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-right">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftfa_21" id="uftfa_2111" value="1">
                        <span class="custom-control-label">Tazarac</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-right">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftfa_21" id="uftfa_2112" value="2">
                        <span class="custom-control-label">Retin-A</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-right">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftfa_21" id="uftfa_2113" value="3">
                        <span class="custom-control-label">Renova</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-right">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftfa_21" id="uftfa_2114" value="4">
                        <span class="custom-control-label">Differin</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-right">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftfa_21" id="uftfa_2115" value="5">
                        <span class="custom-control-label">Azelex</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-right">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftfa_21" id="uftfa_2116" value="6">
                        <span class="custom-control-label">Glycolic or Alphahydroxy Acids</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center mb-2" dir="rtl">
            <div class="col-lg-8 text-right">
                منذ متى وأنت تستخدم الدواء المحاط بدائرة أعلاه؟
            </div>
            <div class="col-lg-4 text-right d-flex">
                @Html.TextBoxFor(m => m.ftfa_5, new { @class = "form-control", @style = "width:300px", @id = "uftfa_5", @maxlength = "250" })<br />
            </div>
        </div>
        <div class="row d-flex align-items-center mb-2" dir="rtl">
            <div class="col-lg-4 text-right">
                هل لديك أي نوع من الحساسية؟ نعم لا ?
            </div>
            <div class="col-lg-1 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_22" id="uftfa_221" value="1">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_22" id="uftfa_222" value="2">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2 text-right d-flex">
                <span class="mt-0">الإجابة بنعم ، أي نوع؟</span>
            </div>
            <div class="col-lg-4 text-right d-flex">
                @Html.TextBoxFor(m => m.ftfa_6, new { @class = "form-control", @style = "width:300px", @id = "uftfa_6", @maxlength = "250" })<br />
            </div>
        </div>
        <div class="row d-flex align-items-center mb-2" dir="rtl">
            <div class="col-lg-4 text-right">
                هل تتناول حاليا أي أدوية؟ نعم / لا إذا كانت الإجابة بنعم ، فما نوعها وكم مدتها
            </div>
            <div class="col-lg-1 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_23" id="uftfa_231" value="1">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_23" id="uftfa_232" value="2">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2 text-right d-flex">
                <span class="mt-0"> إذا كانت الإجابة نعم ، فإلى متى؟</span>&nbsp;&nbsp;&nbsp;
            </div>
            <div class="col-lg-4 text-right d-flex">
                @Html.TextBoxFor(m => m.ftfa_7, new { @class = "form-control", @id = "uftfa_7", @style = "width:300px", @maxlength = "250" })<br />
            </div>
        </div>
        <div class="row d-flex align-items-center mb-2" dir="rtl">
            <div class="col-lg-4 text-right">
                ل سبق لك استخدام Accutane؟ نعم / لا
            </div>
            <div class="col-lg-1 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_24" id="uftfa_241" value="1">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_24" id="uftfa_242" value="2">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-6 text-right">
                @Html.TextBoxFor(m => m.ftfa_8, new { @class = "form-control col-md-6", @id = "uftfa_8", @maxlength = "250" })<br />
            </div>
        </div>
        <div class="row d-flex align-items-center mb-2" dir="rtl">
            <div class="col-lg-4 text-right">
                هل لديك حب الشباب؟ نعم/ لا
            </div>
            <div class="col-lg-1 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_25" id="uftfa_251" value="1">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_25" id="uftfa_252" value="2">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-6 text-right">
                @Html.TextBoxFor(m => m.ftfa_9, new { @class = "form-control col-md-6", @id = "uftfa_9", @maxlength = "250" })<br />
            </div>
        </div>
        <div class="row d-flex align-items-center mb-2" dir="rtl">
            <div class="col-lg-4 text-right">
                إذا كانت الإجابة نعم ، فإلى متى؟ هل تعاني من عيوب متكررة؟ نعم /لا
            </div>
            <div class="col-lg-1 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_26" id="uftfa_261" value="1">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_26" id="uftfa_262" value="2">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-6 text-right">
                @Html.TextBoxFor(m => m.ftfa_10, new { @class = "form-control col-md-6", @id = "uftfa_10", @maxlength = "250" })<br />
            </div>
        </div>
        <div class="row d-flex align-items-center mb-2 text-right" dir="rtl">
            <div class="col-lg-12">
                أي من هذه المنتجات تستخدمه حاليًا على وجهك؟ ضع دائرة حول كل ما ينطبق
            </div>
        </div>
        <div class="row d-flex align-items-center mb-2 text-right" dir="rtl">
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-right">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftfa_21" id="uftfa_2117" value="7">
                        <span class="custom-control-label">Other</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-right">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftfa_21" id="uftfa_2118" value="8">
                        <span class="custom-control-label">Sunscreen</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-right">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftfa_21" id="uftfa_2119" value="9">
                        <span class="custom-control-label">Cream</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-right">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftfa_21" id="uftfa_2120" value="10">
                        <span class="custom-control-label">Mask</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-right">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftfa_21" id="uftfa_2121" value="11">
                        <span class="custom-control-label">Scrub</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-right">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftfa_21" id="uftfa_2122" value="12">
                        <span class="custom-control-label">Toner</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-right">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftfa_21" id="uftfa_2123" value="13">
                        <span class="custom-control-label">Cleansing Milk</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-right">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftfa_21" id="uftfa_2124" value="14">
                        <span class="custom-control-label">Soap</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mb-4" dir="rtl">
            @Html.TextAreaFor(m => m.ftfa_11, new { @class = "form-control", @id = "uftfa_11", @maxlength = "250" })<br />
        </div>
        <div class="row d-flex align-items-center mb-2" dir="rtl">
            <div class="col-lg-6 text-right">
                كم من الماء العادي تستهلك يوميا؟
            </div>
            <div class="col-lg-6 text-right">
                @Html.TextBoxFor(m => m.ftfa_12, new { @class = "form-control col-md-6", @id = "uftfa_12", @maxlength = "250" })<br />
            </div>
        </div>
        <div class="col-lg-12 mb-2" dir="rtl">
            هل سبق لك أن عانيت من أي من الحالات التالية على بشرتك؟ ضع دائرة حول كل ما ينطبق.
        </div>
        <div class="row d-flex align-items-center mb-2 text-right" dir="rtl">
            <div class="col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-right">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftfa_21" id="uftfa_2125" value="15">
                        <span class="custom-control-label">Flakiness</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-right">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftfa_21" id="uftfa_2126" value="16">
                        <span class="custom-control-label">Tightness</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-right">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftfa_21" id="uftfa_2127" value="17">
                        <span class="custom-control-label">Obvious Dryness</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row d-flex mb-2" dir="rtl">
            <div class="col-lg-4 text-right" dir="rtl">
                هل واجهت تألق زيتي خلال النهار؟ نعم/ لا / من حين لآخر ؟
            </div>

            <div class="col-lg-1 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_27" id="uftfa_272" value="2">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_27" id="uftfa_273" value="3">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_27" id="uftfa_271" value="1">
                        <span class="custom-control-label">Occasionally</span>
                    </label>
                </div>
            </div>

        </div>
        <div class="row d-flex align-items-center mb-2" dir="rtl">
            <div class="col-lg-4 text-right">
                هل تعانين حاليًا من الدورة الشهرية؟ نعم / لا
            </div>
            <div class="col-lg-1 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_28" id="uftfa_281" value="1">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_28" id="uftfa_282" value="2">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center mb-2" dir="rtl">
            <div class="col-lg-4 text-right">
                هل بدأت أي دواء جديد؟ نعم لا إذا كانت الإجابة بنعم ، أي نوع؟
            </div>
            <div class="col-lg-1 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_29" id="uftfa_291" value="1">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1 d-flex">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftfa_29" id="uftfa_292" value="2">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-6 text-right">
                @Html.TextBoxFor(m => m.ftfa_13, new { @class = "form-control col-md-6", @id = "uftfa_13", @maxlength = "250" })<br />
            </div>
        </div>
        <div class="row d-flex align-items-center mb-2" dir="rtl">
            <div class="col-lg-12 text-right">
                هل جميع المعلومات الموجودة في نموذج تاريخك الصحي محدثة؟ نعم/ لا إذا كان الجواب بالنفي ، يرجى استكمال نموذج صحة جديد.
            </div>
            <div class="row d-flex align-items-center mb-2" dir="rtl">
                <div class="col-lg-1 d-flex">
                    <div class="form-radio">
                        <label class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="uftfa_30" id="uftfa_301" value="1">
                            <span class="custom-control-label">No</span>
                        </label>
                    </div>
                </div>
                <div class="col-lg-1 d-flex">
                    <div class="form-radio">
                        <label class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="uftfa_30" id="uftfa_302" value="2">
                            <span class="custom-control-label">Yes</span>
                        </label>
                    </div>
                </div>
                <div class="col-lg-4 d-flex">
                    <div class="form-radio">
                        <label class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" name="uftfa_30" id="uftfa_303" value="3">
                            <span class="custom-control-label">If no, please complete a new Health History Form.</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mb-2" dir="rtl">
                أفهم أنني قد أشعر ببعض الانزعاج والاحمرار والتورم لمدة ساعتين إلى 7 أيام ، والحكة أو التهيج ، وتقشير الجلد أو التقشر لمدة تصل إلى 7 أيام بعد العملية ، وقد يكون لدي ندبات محتملة نتيجة لذلك
            </div>
            <div class="col-lg-12 mb-2" dir="rtl">
                قراري الخضوع لهذا العلاج وأقر بأنني قد قرأت وفهمت بالكامل الموافقة المذكورة أعلاه. لقد أتيحت لي فرصة كبيرة للمناقشة وتم الرد على جميع أسئلتي بما يرضي. أوافق بموجب هذا على إجراء علاج الوجه. ويشكل هذا الإفشاء الكامل ويحل محل أي إفصاحات شفهية أو مكتوبة سابقة. المركز الطبي الأسترالي غير مسؤول عن أي إصابة أو رد فعل تحسسي أو أي خدش جلدي نتيجة للخدمات التي تتم علي.
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="3" class="font-weight-bold text-danger fs-18" width="100%">
                        قم بالتوقيع هنا، فقط إذا تمت الإجابة على جميع أسئلتك بما يرضيك
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <div id="upat_sign_box">
                            <img alt="stamp" id="upat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold">اسم المريض</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="upsb_date_patient"></label>
                        <span class="font-weight-semibold">تاريخ</span>
                    </td>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize">@emr.doc_name&nbsp;</label>
                        <span class="font-weight-semibold">اسم الطبيب</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="uftfa_date_doctor">@Model.ftfa_date_modified&nbsp;</label>
                        <span class="font-weight-semibold">تاريخ</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue" width="33%">
                        توقيع المريض
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center" width="33%">توقيع الطبيب</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update">Save Changes</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                <button type="button" class="btn btn-danger btn-sm" id="btn_DeleteForm">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print"> Download/Print </button>
            </div>
        </div>
    </div>

</form>

<script type="text/javascript">
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Update").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Update").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Update").show();
                }
                else {
                    $("#btn_Update").hide();
                }
            }
        }
        validate();
        GetCheckedValues();
        GetRadioValues();
        GetSignaturename('patient');
        GetSignaturename('witness');
    });

    //#region Validation Initialization
    var validate = function () {
        $("#form_FacialConsentArbDermaEdit").validate({
            rules: {
                ftfa_11: {
                    required: true
                },
            },
            messages: {
                ftfa_11: {
                    required: "Please Enter Other"
                },
            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
    //#endregion

  //#region Get CheckedValues
     var GetCheckedValues = function (checknames) {
     var checknames = "@Model.ftfa_21";

       if (checknames !== null) {

         if (checknames != "") {
          var str = "@Model.ftfa_21";
          var myarray = str.split(',');
          for (var i = 0; i < myarray.length; i++) {
             $('.custom-control-input').each(function () {
                 if (myarray.includes($(this).val())) {
                     $(this).prop("checked", true);
                 }
             });
         }
         console.log(myarray)
     }
   }
 }
//#endregion
               //#region Get GetRadioValues
        var GetRadioValues = function (checknames) {
        var checknames = "@Model.ftfa_14";

        if (checknames !== null) {

            if (checknames != "") {
                if (checknames == "1") {
                    $('#uftfa_141').attr('checked', 'checked');
                    $("#uftfa_141").prop("checked", true);

                }
                if (checknames == "2") {
                    $('#uftfa_142').attr('checked', 'checked');
                    $("#uftfa_142").prop("checked", true);

                }

            }
        }
        var checknames = "@Model.ftfa_15";

         if (checknames !== null) {

        if (checknames != "") {
            if (checknames == "1") {
                $('#uftfa_151').attr('checked', 'checked');
                $("#uftfa_151").prop("checked", true);

            }
            if (checknames == "2") {
                $('#uftfa_152').attr('checked', 'checked');
                $("#uftfa_152").prop("checked", true);

            }

        }
    }
        var checknames = "@Model.ftfa_16";

          if (checknames !== null) {

         if (checknames != "") {
             if (checknames == "1") {
                 $('#uftfa_161').attr('checked', 'checked');
                 $("#uftfa_161").prop("checked", true);

             }
             if (checknames == "2") {
                 $('#uftfa_162').attr('checked', 'checked');
                 $("#uftfa_162").prop("checked", true);

             }

         }
     }
        var checknames = "@Model.ftfa_17";

         if (checknames !== null) {

        if (checknames != "") {
            if (checknames == "1") {
                $('#uftfa_171').attr('checked', 'checked');
                $("#uftfa_171").prop("checked", true);

            }
            if (checknames == "2") {
                $('#uftfa_172').attr('checked', 'checked');
                $("#uftfa_172").prop("checked", true);

            }

        }
    }
        var checknames = "@Model.ftfa_18";

         if (checknames !== null) {

        if (checknames != "") {
            if (checknames == "1") {
                $('#uftfa_181').attr('checked', 'checked');
                $("#uftfa_181").prop("checked", true);

            }
            if (checknames == "2") {
                $('#uftfa_182').attr('checked', 'checked');
                $("#uftfa_182").prop("checked", true);

            }

        }
    }

        var checknames = "@Model.ftfa_19";

         if (checknames !== null) {

        if (checknames != "") {
            if (checknames == "1") {
                $('#uftfa_191').attr('checked', 'checked');
                $("#uftfa_191").prop("checked", true);

            }
            if (checknames == "2") {
                $('#uftfa_192').attr('checked', 'checked');
                $("#uftfa_192").prop("checked", true);

            }

        }
    }
        var checknames = "@Model.ftfa_20";

         if (checknames !== null) {

        if (checknames != "") {
            if (checknames == "1") {
                $('#uftfa_201').attr('checked', 'checked');
                $("#uftfa_201").prop("checked", true);

            }
            if (checknames == "2") {
                $('#uftfa_202').attr('checked', 'checked');
                $("#uftfa_202").prop("checked", true);

            }

        }
    }

        var checknames = "@Model.ftfa_22";

         if (checknames !== null) {

        if (checknames != "") {
            if (checknames == "1") {
                $('#uftfa_221').attr('checked', 'checked');
                $("#uftfa_221").prop("checked", true);

            }
            if (checknames == "2") {
                $('#uftfa_222').attr('checked', 'checked');
                $("#uftfa_222").prop("checked", true);

            }

        }
    }
        var checknames = "@Model.ftfa_23";

         if (checknames !== null) {

        if (checknames != "") {
            if (checknames == "1") {
                $('#uftfa_231').attr('checked', 'checked');
                $("#uftfa_231").prop("checked", true);

            }
            if (checknames == "2") {
                $('#uftfa_232').attr('checked', 'checked');
                $("#uftfa_232").prop("checked", true);

            }

        }
    }
        var checknames = "@Model.ftfa_24";

         if (checknames !== null) {

        if (checknames != "") {
            if (checknames == "1") {
                $('#uftfa_241').attr('checked', 'checked');
                $("#uftfa_241").prop("checked", true);

            }
            if (checknames == "2") {
                $('#uftfa_242').attr('checked', 'checked');
                $("#uftfa_242").prop("checked", true);

            }

        }
    }
        var checknames = "@Model.ftfa_25";
         if (checknames !== null) {

        if (checknames != "") {
            if (checknames == "1") {
                $('#uftfa_251').attr('checked', 'checked');
                $("#uftfa_251").prop("checked", true);

            }
            if (checknames == "2") {
                $('#uftfa_252').attr('checked', 'checked');
                $("#uftfa_252").prop("checked", true);

            }

        }
    }
        var checknames = "@Model.ftfa_26";
         if (checknames !== null) {

        if (checknames != "") {
            if (checknames == "1") {
                $('#uftfa_261').attr('checked', 'checked');
                $("#uftfa_261").prop("checked", true);

            }
            if (checknames == "2") {
                $('#uftfa_262').attr('checked', 'checked');
                $("#uftfa_262").prop("checked", true);

            }

        }
    }

        var checknames = "@Model.ftfa_27";
         if (checknames !== null) {

        if (checknames != "") {
            if (checknames == "1") {
                $('#uftfa_271').attr('checked', 'checked');
                $("#uftfa_271").prop("checked", true);

            }
            if (checknames == "2") {
                $('#uftfa_272').attr('checked', 'checked');
                $("#uftfa_272").prop("checked", true);

            }

            if (checknames == "3") {
                $('#uftfa_273').attr('checked', 'checked');
                $("#uftfa_273").prop("checked", true);

            }

        }
    }



            var checknames = "@Model.ftfa_28";
         if (checknames !== null) {

        if (checknames != "") {
            if (checknames == "1") {
                $('#uftfa_281').attr('checked', 'checked');
                $("#uftfa_281").prop("checked", true);

            }
            if (checknames == "2") {
                $('#uftfa_282').attr('checked', 'checked');
                $("#uftfa_282").prop("checked", true);

            }

        }
    }


         var checknames = "@Model.ftfa_29";
         if (checknames !== null) {

        if (checknames != "") {
            if (checknames == "1") {
                $('#uftfa_291').attr('checked', 'checked');
                $("#uftfa_291").prop("checked", true);

            }
            if (checknames == "2") {
                $('#uftfa_292').attr('checked', 'checked');
                $("#uftfa_292").prop("checked", true);

            }

        }
    }

             var checknames = "@Model.ftfa_30";
         if (checknames !== null) {

        if (checknames != "") {
            if (checknames == "1") {
                $('#uftfa_301').attr('checked', 'checked');
                $("#uftfa_301").prop("checked", true);

            }
            if (checknames == "2") {
                $('#uftfa_302').attr('checked', 'checked');
                $("#uftfa_302").prop("checked", true);

            }
            if (checknames == "3") {
                $('#uftfa_303').attr('checked', 'checked');
                $("#uftfa_303").prop("checked", true);

            }

        }
    }
}

  //#endregion Get GetRadioValues

    //#region Update  Click
    $('#btn_Update').on('click', function (e) {
        e.preventDefault();
        if ($("#form_FacialConsentArbDermaEdit").valid()) {
            console.log($("#ftfaId").val());
            $('#btn_Update').removeClass("btn btn-sm btn-success");
            $('#btn_Update').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Update').html("Updating the Record....");

            var uftfa_21_ = $.map($(':checkbox[name=uftfa_21]:checked'), function (n, i) {
                return n.value;
            }).join(',');


            var uftfa_14 = "";

            if ($('#uftfa_141').prop('checked')) {
                uftfa_14 = "1";
            }
            else if ($('#uftfa_142').prop('checked')) {
                uftfa_14 = "2";
            }



            var uftfa_15 = "";

            if ($('#uftfa_151').prop('checked')) {
                uftfa_15 = "1";
            }
            else if ($('#uftfa_152').prop('checked')) {
                uftfa_15 = "2";
            }



            var uftfa_16 = "";

            if ($('#uftfa_161').prop('checked')) {
                uftfa_16 = "1";
            }
            else if ($('#uftfa_162').prop('checked')) {
                uftfa_16 = "2";
            }



            var uftfa_17 = "";

            if ($('#uftfa_171').prop('checked')) {
                uftfa_17 = "1";
            }
            else if ($('#uftfa_172').prop('checked')) {
                uftfa_17 = "2";
            }


            var uftfa_18 = "";

            if ($('#uftfa_181').prop('checked')) {
                uftfa_18 = "1";
            }
            else if ($('#uftfa_182').prop('checked')) {
                uftfa_18 = "2";
            }


            var uftfa_19 = "";

            if ($('#uftfa_191').prop('checked')) {
                uftfa_19 = "1";
            }
            else if ($('#uftfa_192').prop('checked')) {
                uftfa_19 = "2";
            }



            var uftfa_20 = "";

            if ($('#uftfa_201').prop('checked')) {
                uftfa_20 = "1";
            }
            else if ($('#uftfa_202').prop('checked')) {
                uftfa_20 = "2";
            }



            var uftfa_22 = "";

            if ($('#uftfa_221').prop('checked')) {
                uftfa_22 = "1";
            }
            else if ($('#uftfa_222').prop('checked')) {
                uftfa_22 = "2";
            }



            var uftfa_23 = "";

            if ($('#uftfa_231').prop('checked')) {
                uftfa_23 = "1";
            }
            else if ($('#uftfa_232').prop('checked')) {
                uftfa_23 = "2";
            }



            var uftfa_24 = "";

            if ($('#uftfa_241').prop('checked')) {
                uftfa_24 = "1";
            }
            else if ($('#uftfa_242').prop('checked')) {
                uftfa_24 = "2";
            }



            var uftfa_25 = "";

            if ($('#uftfa_251').prop('checked')) {
                uftfa_25 = "1";
            }
            else if ($('#uftfa_252').prop('checked')) {
                uftfa_25 = "2";
            }


            var uftfa_26 = "";

            if ($('#uftfa_261').prop('checked')) {
                uftfa_26 = "1";
            }
            else if ($('#uftfa_262').prop('checked')) {
                uftfa_26 = "2";
            }



            var uftfa_27 = "";

            if ($('#uftfa_271').prop('checked')) {
                uftfa_27 = "1";
            }
            else if ($('#uftfa_272').prop('checked')) {
                uftfa_27 = "2";
            }


            var uftfa_28 = "";

            if ($('#uftfa_281').prop('checked')) {
                uftfa_28 = "1";
            }
            else if ($('#uftfa_282').prop('checked')) {
                uftfa_28 = "2";
            }


            var uftfa_29 = "";

            if ($('#uftfa_291').prop('checked')) {
                uftfa_29 = "1";
            }
            else if ($('#uftfa_292').prop('checked')) {
                uftfa_29 = "2";
            }


            var uftfa_30 = "";

            if ($('#uftfa_301').prop('checked')) {
                uftfa_30 = "1";
            }
            else if ($('#uftfa_302').prop('checked')) {
                uftfa_30 = "2";
            }

            else if ($('#uftfa_303').prop('checked')) {
                uftfa_30 = "3";
            }



            var _dateInsert = {
             "ftfaId": 0,
             "ftfa_appId": @emr.appId,
             "ftfa_1": $("#uftfa_1").val(),
             "ftfa_2": $("#uftfa_2").val(),
             "ftfa_3": $("#uftfa_3").val(),
             "ftfa_4": $("#uftfa_4").val(),
             "ftfa_5": $("#uftfa_5").val(),
             "ftfa_6": $("#uftfa_6").val(),
             "ftfa_7": $("#uftfa_7").val(),
             "ftfa_8": $("#uftfa_8").val(),
             "ftfa_9": $("#utfa_9").val(),
             "ftfa_10": $("#uftfa_10").val(),
             "ftfa_11": $("#uftfa_11").val(),
             "ftfa_12": $("#uftfa_12").val(),
             "ftfa_13": $("#uftfa_13").val(),
             "ftfa_14": uftfa_14,
             "ftfa_15": uftfa_15,
             "ftfa_16": uftfa_16,
             "ftfa_17": uftfa_17,
             "ftfa_18": uftfa_18,
             "ftfa_19": uftfa_19,
             "ftfa_20": uftfa_20,
             "ftfa_21": uftfa_21_,
             "ftfa_22": uftfa_22,
             "ftfa_23": uftfa_23,
             "ftfa_24": uftfa_24,
             "ftfa_25": uftfa_25,
             "ftfa_26": uftfa_26,
             "ftfa_27": uftfa_27,
             "ftfa_28": uftfa_28,
             "ftfa_29": uftfa_29,
             "ftfa_30": uftfa_30,
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

            console.log(_dateInsert);

            $.ajax({
                type: "Post",
                url: "@Url.Action("EditFacialConsentArbDerma", "FacialConsentArbDerma", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isEdited) {
                            GetFacialConsentArbDermaInfo();
                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> FacialConsentArb Derma Updated Successfully!", "success");
                            Timeout();
                            $("#FacialConsentArbDerma_edit").show();
                            $("#FacialConsentArbDerma_add").hide();
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning.. FacialConsentArb Derma already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion Update Click

        //#region Print
$('#btn_Print').on('click', function (e) {
    e.preventDefault();
    $('#btn_Print').removeClass("btn btn-success");
    $('#btn_Print').addClass("btn btn-success btn-loaders btn-icon");
    $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "FacialConsentArbDerma", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=FacialConsentArbDerma",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {

                if (data.success)
                    console.log(data);
                    console.log(data.message.pdfPath); {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print

    //#region Delete Click
    $('#btn_DeleteForm').on('click', function (e) {
        e.preventDefault();
        $('#btn_DeleteForm').removeClass("btn btn-success");
        $('#btn_DeleteForm').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_DeleteForm').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteFacialConsentArbDerma", "FacialConsentArbDerma", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-warning");
                $('#btn_DeleteForm').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>FacialConsentArb Derma Form Deleted Successfully!", "success");
                        clearControls();
                        $("#FacialConsentArbDerma_edit").hide();
                        $("#FacialConsentArbDerma_add").show();
                        AddFacialConsentArbDerma();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-Delete");
                $('#btn_DeleteForm').html("Delete");
                Timeout();
            }
        })
    });
//#endregion


    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("input[name='uftfa_21']:checkbox").prop('checked', false);
        $("input[name='uftfa_14']:radio").prop('checked', false);
        $("input[name='uftfa_15']:radio").prop('checked', false);
        $("input[name='uftfa_16']:radio").prop('checked', false);
        $("input[name='uftfa_17']:radio").prop('checked', false);
        $("input[name='uftfa_18']:radio").prop('checked', false);
        $("input[name='uftfa_19']:radio").prop('checked', false);
        $("input[name='uftfa_20']:radio").prop('checked', false);
        $("input[name='uftfa_22']:radio").prop('checked', false);
        $("input[name='uftfa_23']:radio").prop('checked', false);
        $("input[name='uftfa_24']:radio").prop('checked', false);
        $("input[name='uftfa_25']:radio").prop('checked', false);
        $("input[name='uftfa_26']:radio").prop('checked', false);
        $("input[name='uftfa_27']:radio").prop('checked', false);
        $("input[name='uftfa_28']:radio").prop('checked', false);
        $("input[name='uftfa_29']:radio").prop('checked', false);
        $("input[name='uftfa_30']:radio").prop('checked', false);
        $("#upat_sign").attr("src", "");


    }
    //#endregion Clear Controls
    //#region Wacom Tab Signature
    var openWacomTabSignaturePad = function (id) {
       var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "FacialConsentArbDerma",
            "appId": @emr.appId,
            "formname":"FacialConsentArbDerma",
            "formlink":"PrintFacialConsentArbDerma",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
//#endregion
    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "FacialConsentArbDerma",
            "appId": @emr.appId,
            "formname":"FacialConsentArb Derma",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            GetSignaturename('witness');
            localStorage.removeItem("sign");
        }
    });

       //#region Get Signature
   var GetSignaturename = function  (person) {
       $.ajax({
           url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=FacialConsentArbDerma',
           type: "GET",
           dataType: "json",
           async: false,
           success: function (response) {
               //console.log(response);
               let sign = response[0].psb_sign;
               var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY");

               if (response[0].person == "patient") {
                   $("#upat_sign_box").removeClass("d-none");
                   $("#upsb_date_patient").text(date);
                   $("#upat_sign").attr("src", sign);
               }
           },
           error: function (xhr) {
               console.log(xhr);
               alert(xhr);
           }

       });
   };
   //#endregion Get Signature

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout

</script>