@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Medical Consent New";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Medical Consent New Form</h3>
            </div>
            <div class="card-body">
                <div id="MedicalConsentNew_add" style="display:none">
                </div>
                <div id="MedicalConsentNew_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="MedicalConsentNew_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetMedicalConsentNewInfo();
        MedicalConsentNewPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetMedicalConsentNewInfo
    var GetMedicalConsentNewInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetMedicalConsentNewData", "MedicalConsentNew", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditMedicalConsentNew();
                        $("#MedicalConsentNew_add").hide();
                        $("#MedicalConsentNew_edit").show();

                    }
                    else {
                        $("#MedicalConsentNew_add").show();
                        $("#MedicalConsentNew_edit").hide();
                        AddMedicalConsentNew();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load MedicalConsentNew

    //#region Add MedicalConsentNew
    function AddMedicalConsentNew() {
        var x = $("#MedicalConsentNew_add");
        x.load("@Url.Action("CreateMedicalConsentNew", "MedicalConsentNew", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add MedicalConsentNew

    //#region Update MedicalConsentNew
    function EditMedicalConsentNew() {
        var x = $("#MedicalConsentNew_edit");
        x.load("@Url.Action("UpdateMedicalConsentNew", "MedicalConsentNew", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update MedicalConsentNew

    //#region Histroy of MedicalConsentNew
    function MedicalConsentNewPreviousHistory() {
        var x = $("#MedicalConsentNew_history");
        x.load("@Url.Action("MedicalConsentNewPreviousHistory", "MedicalConsentNew", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion History of MedicalConsentNew
</script>
