@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Language Progress Form";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Speech And Language Progress Form
                </h3>
            </div>
            <div class="card-body">
                <div id="LanguageProgressForm_add" style="display:none">
                </div>
                <div id="LanguageProgressForm_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="LanguageProgressForm_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetLanguageProgressFormInfo();
        LanguageProgressFormPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetLanguageProgressFormInfo
    var GetLanguageProgressFormInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetLanguageProgressFormData", "LanguageProgressForm", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditLanguageProgressForm();
                        $("#LanguageProgressForm_add").hide();
                        $("#LanguageProgressForm_edit").show();

                    }
                    else {
                        $("#LanguageProgressForm_add").show();
                        $("#LanguageProgressForm_edit").hide();
                        AddLanguageProgressForm();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load LanguageProgressForm

    //#region Add LanguageProgressForm
    function AddLanguageProgressForm() {
        var x = $("#LanguageProgressForm_add");
        x.load("@Url.Action("CreateLanguageProgressForm", "LanguageProgressForm", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add LanguageProgressForm

    // #region Update LanguageProgressForm
    function EditLanguageProgressForm() {
        var x = $("#LanguageProgressForm_edit");
        x.load("@Url.Action("UpdateLanguageProgressForm", "LanguageProgressForm", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update LanguageProgressForm

    // #region Histroy of LanguageProgressForm
    function LanguageProgressFormPreviousHistory() {
        var x = $("#LanguageProgressForm_history");
        x.load("@Url.Action("LanguageProgressFormPreviousHistory", "LanguageProgressForm", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>