@model IEnumerable<BusinessEntities.Masters.LinkCouponsToProcedure>
@{
    ViewBag.Title = "Discount Coupons and Treatments Link";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title mb-0 text-primary" data-lang-key="discount-and-treatments-link">Discount and Treatments Link</h4>
    </div>
    <div class="page-rightheader">
        <div class="btn-list">
            <a data-bs-toggle="modal" data-bs-target="#disc_link_modal" class="btn btn-secondary" onclick="linkCouponToProcedure()" data-lang-key="link-coupon-to-procedure"><i class="mdi mdi-plus"></i>&nbsp;Link Coupon To Procedure</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
        <div id="CouponsProcedureAlert"></div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tbl_coupons_procedure" class="table table-striped table-bordered text-nowrap resize-table" style="width: 100%; cursor: pointer;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #3C457D; border-color: #3C457D; ">
                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="discount"> Discount</span>
                                </th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="CPT-code">CPT Code</span>
                                </th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="treatments">Treatments</span>
                                </th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="status">Status</span>
                                </th>
                                </th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="edit">Edit</span>
                               
                                </th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="delete">Delete</span>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Link Modal -->
<div class="modal fade" id="disc_link_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" id="size">
        <div class="modal-content" id="disc_link_body">
        </div>
    </div>
</div>
<!-- End Link Modal -->
@section myScripts{
    <script>
        //#region Page Load
        $(function () {
            GetCouponsProcedure();
        });
        //#endregion

        //#region Load Coupons Linked to Procedure
        var GetCouponsProcedure = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllCouponsProcedure", "LinkCouponsToProcedure", new { area = "Masters" })",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        var table;
                        if ($.fn.dataTable.isDataTable('#tbl_coupons_procedure')) {
                            table = $('#tbl_coupons_procedure').DataTable();
                            table.clear();
                            table.rows.add(response).draw();
                        }
                        else {
                            BindDataTable(response);
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
        //#endregion

        //#region Bind DataTable
        var BindDataTable = function (response) {
            var table = $("#tbl_coupons_procedure").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                processing: true,
                "deferRender": true,
                "pageLength": 100,
                "retrieve": true,
                lengthChange: true,
                "aaData": response,
                "aoColumns": [
                    {
                        "mData": "dtlId",
                        "orderable": false,
                        "searchable": false,
                        "className": "text-center",
                        "render": function (data, type, row, meta) {
                            let _index = (meta.row) + 1;
                            if (_index >= 10) {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>" + _index + "</a>";
                            }
                            else {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>0" + _index + "</a>";
                            }
                        }
                    },
                    { "mData": "disc_name" },
                    { "mData": "dtl_discId" },
                    {
                        "mData": "tr_name",
                        "className": 'text-justify text-wrap',
                    },
                    {
                        "className": 'text-center',
                        "mData": "dtlId",
                        "render": function (dtlId, type, full, meta) {
                            var visible = full.actionvisible;
                            var dtl_status = full.dtl_status;

                            if (visible === "True") {
                                if (full.dtl_status === "Active") {
                                    return '<button type="button" class="badge rounded-pill bg-success mt-2 border-success" style="width: 60px;" onclick="updateStatus(\'' + dtlId + '\',\' Active \')">' + dtl_status + '</button>'
                                }
                                else if (full.dtl_status === "Inactive") {
                                    return '<button type="button" class="badge rounded-pill bg-warning mt-2 border-warning" style="width: 60px;" onclick="updateStatus(\'' + dtlId + '\',\'Inactive\')">' + dtl_status + '</button>'
                                }
                                else if (full.dtl_status === "Deleted") {
                                    return '<button type="button" class="badge rounded-pill bg-danger mt-2 border-danger" style="width: 60px;" onclick="updateStatus(\'' + dtlId + '\',\'Deleted\')">' + dtl_status + '</button>'
                                }
                                else {
                                    return ''
                                }
                            }
                            else {
                                return '<span class="badge rounded-pill text-danger mt-2 border-danger">Allocated</span>'
                            }

                        }
                    },
                    {
                        "mData": "dtlId",
                        "className": 'text-center',
                        "orderable": false,
                        "visible":false,
                        "searchable": false,
                        "render": function (dtlId, type, full, meta) {
                            var status = full.dtl_status;
                            var visible = full.actionvisible;
                            if (status === "Active" && visible === "True") {
                                return '<button type="button" data-bs-toggle="modal" data-bs-target="#disc_link_modal" onclick="editLinkCouponToProcedure(' + dtlId + ')" class="btn btn-sm btn-outline-primary">Edit</button>';
                            }
                            else {
                                return ''
                            }
                        }
                    },
                    {
                        "mData": "dtlId",
                        "className": 'text-center',
                        "orderable": false,
                        "searchable": false,
                        "render": function (dtlId, type, full, meta) {
                            var status = full.dtl_status;
                            var visible = full.actionvisible;
                            if (status === "Active" && visible === "True") {
                                return '<button type="button" onclick="deleteLinkCouponToProcedure(' + dtlId + ')" class="btn btn-sm btn-outline-danger">Delete</button>';
                            }
                            else {
                                return ''
                            }
                        }
                    }
                ],
                order: [[0, 'asc']],
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '<span class="text-primary font-weight-semi-bold">Search By Discount / CPT / Treatments</span>',
                    scrollX: "100%",
                    lengthMenu: '_MENU_ ',
                },
                scrollX: true,
                scrollY: 500,
                scrollCollapse: true,
                buttons: [
                    {
                        extend: 'excel',
                        title: 'Discount and Treatments Link',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        },
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.excelHtml5.action.call(this, e, dt, node, config);
                            exportLogs("Employee Exported Discount and Treatments Link to Excel!");
                        }
                    },
                    {
                        extend: 'pdf',
                        title: 'Discount and Treatments Link',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        },
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.pdfHtml5.action.call(this, e, dt, node, config);
                            exportLogs("Employee Exported Discount and Treatments Link to PDF!");
                        }
                    },
                    {
                        extend: 'csv',
                        title: 'Discount and Treatments Link',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        },
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.csvHtml5.action.call(this, e, dt, node, config);
                            exportLogs("Employee Exported Discount and Treatments Link to CSV!");
                        }
                    },
                    {
                        extend: 'print',
                        title: 'Discount and Treatments Link',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        },
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.print.action.call(this, e, dt, node, config);
                            exportLogs("Employee Printed Discount and Treatments Link!");
                        }
                    }
                ]
            });
            table.buttons().container().appendTo('#tbl_coupons_procedure_wrapper .col-md-6:eq(0)');
        };
        //#endregion

        //#region Add Link Coupon To Procedure
        function linkCouponToProcedure() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("CreateLinkCouponsToProcedure", "LinkCouponsToProcedure", new { area = "Masters" })",
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $("#disc_link_body").html(data);
                    $("#disc_link_modal").modal("show");
                },
                error: function (xhr) {
                    console.log("Error while Creating Link : " + xhr.statusText);
                }
            });
        }
        //#endregion

        //#region Update Link Coupon To Procedure Status
        var updateStatus = function (dtlId, dtl_status) {
            dtl_status = (dtl_status == "Deleted" || dtl_status == "Inactive") ? "Active" : "Inactive"

            Swal.fire({
                title: "Are you sure you want to change status ?",
                text: "This action will change the status of the selected Discount and Treatments Link!",
                icon: "question",
                showCancelButton: !0,
                confirmButtonText: 'Yes! I Confirm',
                cancelButtonText: 'No! Cancel Please',
                confirmButtonClass: "btn btn-success mt-2", cancelButtonClass: "btn btn-danger ms-2 mt-2", buttonsStyling: !1
            }).then(function (t) {
                if (t.value) {
                    $.ajax({
                        url: "@Url.Action("UpdateLinkCouponToProcedureStatus", "LinkCouponsToProcedure", new { area = "Masters" })?dtlId=" + dtlId + "&dtl_status=" + dtl_status,
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            if (data.isAuthorized) {
                                if (data.success) {
                                    GetCouponsProcedure();
                                    Swal.fire({
                                        title: "Success!",
                                        text: data.message,
                                        icon: "success",
                                        showCancelButton: 0,
                                        confirmButtonColor: "#0bb197"
                                    });
                                }
                                else {
                                    Swal.fire({
                                        title: "Action Forbidden!",
                                        text: data.message,
                                        icon: "error",
                                        showCancelButton: 0,
                                        confirmButtonColor: "#0bb197"
                                    });
                                }
                            }
                            else {
                                Swal.fire({
                                    title: "Access Denied!",
                                    text: "You do not have enough privileges to change Status!",
                                    icon: "error",
                                    showCancelButton: 0,
                                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                                });
                            }
                        },
                        error: function (xhr) {
                            Swal.fire({
                                title: "Error!",
                                text: "Failed to Update Link Coupons To Procedure Status! Please refresh the Page and Try Again.",
                                icon: "error",
                                showCancelButton: 0,
                                confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                            })
                        }
                    });
                }
            });
        }
        //#endregion

        //#region Delete Link Coupon To Procedure
        var deleteLinkCouponToProcedure = function (dtlId) {
            Swal.fire({
                title: "Are you sure you want to delete this Discount and Treatments Link ?",
                text: "This action will delete this Discount and Treatments Link!",
                icon: "question",
                showCancelButton: !0,
                confirmButtonText: 'Yes! I Confirm',
                cancelButtonText: 'No! Cancel Please',
                confirmButtonClass: "btn btn-success mt-2", cancelButtonClass: "btn btn-danger ms-2 mt-2", buttonsStyling: !1
            }).then(function (t) {
                if (t.value) {
                    $.ajax({
                        url: '@Url.Action("DeleteLinkCouponToProcedure", "LinkCouponsToProcedure", new { area = "Masters" })?dtlId=' + dtlId +'&dtl_status=Deleted',
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            if (data.isAuthorized) {
                                if (data.success) {
                                    GetCouponsProcedure();
                                    Swal.fire({
                                        title: "Success!",
                                        text: data.message,
                                        icon: "success",
                                        showCancelButton: 0,
                                        confirmButtonColor: "#0bb197"
                                    });
                                }
                                else {
                                    Swal.fire({
                                        title: "Action Forbidden!",
                                        text: data.message,
                                        icon: "error",
                                        showCancelButton: 0,
                                        confirmButtonColor: "#0bb197"
                                    });
                                }
                            }
                            else {
                                Swal.fire({
                                    title: "Access Denied!",
                                    text: "You do not have enough privileges to delete designations!",
                                    icon: "error",
                                    showCancelButton: 0,
                                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                                });
                            }
                        },
                        error: function (xhr) {
                            Swal.fire({
                                title: "Error!",
                                text: "Failed to Delete Discount and Treatments Link! Please refresh the page and try again.",
                                icon: "error",
                                showCancelButton: 0,
                                confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                            });
                        }
                    });
                }
            });
        }
        //#endregion

        //#region Export General Logs
        var exportLogs = function (desc) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ExportLogs", "AuditLogs", new { area = "Common" })?desc="+ desc,
                contentType: "application/json",
                dataType: "json"
            });
        }
        //#endregion

        //#region UI / UX Functions
        function resizedt() {
            setTimeout(function () {
                $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
            }, 350);
        }
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
        //#endregion
    </script>
}