@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@using BusinessEntities.Common
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
    ViewBag.Title = "Index";
    ViewBag.qemr = "VS";
    Layout = "~/Areas/Documentation/Views/Shared/_Doc_layout.cshtml";
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row mt-2">
                    <div class="panel-group accordion-panel" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default active">
                            <div class="panel panel-default mt-2">
                                <div class="panel-heading" role="tab" id="headingTwo1">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1" aria-expanded="true" aria-controls="collapseTwo1">
                                            Vital Signs

                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo1" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingTwo1">
                                    <div class="panel-body ">
                                        <div class="row">
                                            <div class="table-responsive">
                                                <table id="tbl_vital" class="table table-striped table-bordered text-nowrap resize-table" style="width: 100%; cursor: pointer;">
                                                    <thead>
                                                        <tr style="color: #fff !important; background-color: #3C457D; border-color: #3C457D; ">
                                                            <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                                            <th class="border-bottom-0 font-weight-semibold text-white">Temperature</th>
                                                            <th class="border-bottom-0 font-weight-semibold text-white">Pulse</th>
                                                            <th class="border-bottom-0 font-weight-semibold text-white">BPS</th>
                                                            <th class="border-bottom-0 font-weight-semibold text-white">BPD</th>
                                                            <th class="border-bottom-0 font-weight-semibold text-white">Height</th>
                                                            <th class="border-bottom-0 font-weight-semibold text-white">Weight</th>
                                                            <th class="border-bottom-0 font-weight-semibold text-white">BMI</th>
                                                            <th class="border-bottom-0 font-weight-semibold text-white">Respiratory</th>
                                                            <th class="border-bottom-0 font-weight-semibold text-white">SpO2</th>
                                                            <th class="border-bottom-0 font-weight-semibold text-white">Hip</th>
                                                            <th class="border-bottom-0 font-weight-semibold text-white">Waist</th>
                                                            <th class="border-bottom-0 font-weight-semibold text-white">Head Circumference</th>
                                                            <th class="border-bottom-0 font-weight-semibold text-white">Urinalysis</th>
                                                            <th class="border-bottom-0 font-weight-semibold text-white">Other Details</th>

                                                        </tr>
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default mt-2">
                                    <div class="panel-heading" role="tab" id="headingTwo2">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseTwo2" aria-expanded="true" aria-controls="collapseTwo2">
                                                Allergies

                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo2" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingTwo2">
                                        <div class="panel-body ">
                                            <div class="row">
                                                <div class="table-responsive">
                                                    <table id="tbl_allergy" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                                                        <thead>
                                                            <tr style="color: #fff !important; background-color: #3C457D; border-color: #3C457D; ">
                                                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                                                <th class="border-bottom-0 font-weight-semibold text-white">Allergy Type</th>
                                                                <th class="border-bottom-0 font-weight-semibold text-white">Allergy Severity</th>
                                                                <th class="border-bottom-0 font-weight-semibold text-white">Allergies</th>
                                                                <th class="border-bottom-0 font-weight-semibold text-white">Allergy For</th>
                                                                <th class="border-bottom-0 font-weight-semibold text-white">Other Allergy For</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default mt-2">
                                    <div class="panel-heading" role="tab" id="headingThree3">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseThree3" aria-expanded="true" aria-controls="collapseThree3">
                                                Past/Family History&nbsp;
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree3" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingThree3">
                                        <div class="panel-body ">
                                            <div class="row">

                                                <div class="table-responsive">
                                                    <table id="tbl_PastHistory" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                                                        <thead>
                                                            <tr style="color: #fff !important; background-color: #3C457D; border-color: #3C457D; ">
                                                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                                                <th class="border-bottom-0 font-weight-semibold text-white">Date</th>
                                                                <th class="border-bottom-0 font-weight-semibold text-white">Doctor</th>
                                                                <th class="border-bottom-0 font-weight-semibold text-white">Past<br />History</th>
                                                                <th class="border-bottom-0 font-weight-semibold text-white">Other Past <br /> History</th>
                                                                <th class="border-bottom-0 font-weight-semibold text-white">Family <br />History</th>
                                                                <th class="border-bottom-0 font-weight-semibold text-white">Surgical<br /> History</th>
                                                                <th class="border-bottom-0 font-weight-semibold text-white">Smoking</th>
                                                                <th class="border-bottom-0 font-weight-semibold text-white">Smoking<br /> Habit Qty</th>
                                                                <th class="border-bottom-0 font-weight-semibold text-white">Smoking<br /> details</th>
                                                                <th class="border-bottom-0 font-weight-semibold text-white">Alcohol</th>
                                                                <th class="border-bottom-0 font-weight-semibold text-white">Alcohol<br /> Habit Qty</th>
                                                                <th class="border-bottom-0 font-weight-semibold text-white">Alcohol<br /> details</th>
                                                                <th class="border-bottom-0 font-weight-semibold text-white">Drug</th>
                                                                <th class="border-bottom-0 font-weight-semibold text-white">Drug<br /> Habit Qty</th>
                                                                <th class="border-bottom-0 font-weight-semibold text-white">Drug<br /> details</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default mt-2">
                                    <div class="panel-heading" role="tab" id="headingThree4">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseThree4" aria-expanded="true" aria-controls="collapseThree4">

                                                Chief Complaints

                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree4" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingThree4">
                                        <div class="panel-body ">
                                            <div class="row">
                                                <div class="table-responsive">
                                                    <table id="tbl_complaints" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                                                        <thead>
                                                            <tr style="color: #fff !important; background-color: #3C457D; border-color: #3C457D; ">
                                                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                                                <th class="border-bottom-0 font-weight-semibold text-white">Complaints</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
        $(function () {
            var appId = "@emr.appId";
            if (appId !== "") {

                GetVitalSigns();
                GetAllergies();
                GetPastHistory();
                GetCheifComplaints();
            }
        });
    //#endregion Page Load
    //#region Load VitalSigns
        var GetVitalSigns = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllVitalSigns", "VitalSigns", new { area = "NurseStation" })?appId=" + "@emr.appId",
                success: function (response) {

                    if (response.isAuthorized != false) {
                        var table;
                        if ($.fn.dataTable.isDataTable('#tbl_vital')) {
                            table = $('#tbl_vital').DataTable();
                            table.clear();
                            table.rows.add(response).draw();
                        }
                        else {
                            console.log(response);
                            BindDataTable(response);
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion Load VitalSigns

     //#region Bind Datatable
        var BindDataTable = function (response) {
            var table = $("#tbl_vital").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                processing: true,
                "deferRender": true,
                "pageLength": 50,
                "retrieve": true,
                lengthChange: true,
                "aaData": response,
                "aoColumns": [
                    {
                        "mData": "signId",
                        "orderable": false,
                        "searchable": false,
                        "className": "text-center",
                        "render": function (data, type, row, meta) {
                            let _index = (meta.row) + 1;
                            if (_index >= 10) {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>" + _index + "</a>";
                            }
                            else {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>0" + _index + "</a>";
                            }
                        }
                    },
                    {
                        "mData": "sign_temp",
                        "className": "text-left"
                    },
                    {
                        "mData": "sign_pulse",
                        "className": 'text-left',

                    },
                    {
                        "mData": "sign_bp",
                        "className": "text-left"
                    },
                    {
                        "mData": "sign_bpd",
                        "className": "text-left"
                    },
                    {
                        "mData": "sign_height",
                        "className": "text-left"
                    },
                    {
                        "mData": "sign_weight",
                        "className": "text-left"
                    },
                    {
                        "mData": "sign_bmi",
                        "className": "text-left"
                    },
                    {
                        "mData": "sign_resp",
                        "className": "text-left"
                    },
                    {
                        "mData": "sign_spo2",
                        "className": "text-left"
                    },
                    {
                        "mData": "sign_hip",
                        "className": "text-left"
                    },
                    {
                        "mData": "sign_waist",
                        "className": "text-left"
                    },
                    {
                        "mData": "sign_head",
                        "className": "text-left"
                    },
                    {
                        "mData": "sign_uri",
                        "className": "text-left"
                    },
                    {
                        "mData": "sign_notes",
                        "className": "text-left"
                    },

                ],
                order: [[1, 'asc']],
                "searching": false,
                "bPaginate": false,
                "bLengthChange": false,
                "bInfo": false,
                scrollX: true,
                scrollY: 500,
                scrollCollapse: true,



            });

        };
    //#endregion Bind Datatable

    //#region Load Allergies
        var GetAllergies = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllAllergies", "Allergies", new { area = "NurseStation" })?appId=" + "@emr.appId",
                success: function (response) {

                    if (response.isAuthorized != false) {
                        var table;
                        if ($.fn.dataTable.isDataTable('#tbl_allergy')) {
                            table = $('#tbl_allergy').DataTable();
                            table.clear();
                            table.rows.add(response).draw();
                        }
                        else {
                            console.log(response);
                            BindDataTableallergy(response);
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion Load Allergies

    //#region Bind Datatable
        var BindDataTableallergy = function (response) {
            var table = $("#tbl_allergy").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                processing: true,
                "deferRender": true,
                "pageLength": 100,
                "retrieve": true,
                lengthChange: true,
                "aaData": response,
                "aoColumns": [
                    {
                        "mData": "allId",
                        "orderable": false,
                        "searchable": false,
                        "className": "text-center",
                        "render": function (data, type, row, meta) {
                            let _index = (meta.row) + 1;
                            if (_index >= 10) {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>" + _index + "</a>";
                            }
                            else {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>0" + _index + "</a>";
                            }
                        }
                    },
                    {
                        "mData": "all_type",
                        "className": "text-left"
                    },
                    {
                        "mData": "allergies",
                        "className": 'text-left',

                    },
                    {
                        "mData": "all_severity",
                        "className": "text-left"
                    },
                    {
                        "mData": "all_for",
                        "className": "text-left"
                    },
                    {
                        "mData": "all_pexam",
                        "className": "text-left"
                    },

                ],
                order: [[1, 'asc']],
                "searching": false,
                scrollX: true,
                scrollY: 500,
                "bPaginate": false,
                "bLengthChange": false,
                "bInfo": false,
                scrollCollapse: true,

            });
            table.buttons().container().appendTo('#tbl_allergy_wrapper .col-md-6:eq(0)');
        };
    //#endregion Bind Datatable

    //#region Load PastHistory
        var GetPastHistory = function () {
            $.ajax({
                type: "GET",
                 url: "@Url.Action("GetAllPastHistory", "PastHistory", new { area = "NurseStation" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        var table;
                        if ($.fn.dataTable.isDataTable('#tbl_PastHistory')) {
                            table = $('#tbl_PastHistory').DataTable();
                            table.clear();
                            table.rows.add(response).draw();
                        }
                        else {
                            console.log(response);
                            BindDataTableP(response);
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion Load PastHistory
    //#region  Bind Datatable
    var BindDataTableP = function (response) {
        var table = $("#tbl_PastHistory").DataTable({
            fixedHeader: {
                header: true,
                footer: true
            },
            processing: true,
            "deferRender": true,
            "pageLength": 100,
            "retrieve": true,
            lengthChange: true,
            "aaData": response,
            "aoColumns": [
                {
                    "mData": "pfId",
                    "orderable": false,
                    "searchable": false,
                    "className": "text-center",
                    "render": function (data, type, row, meta) {
                        let _index = (meta.row) + 1;
                        if (_index >= 10) {
                            return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>" + _index + "</a>";
                        }
                        else {
                            return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>0" + _index + "</a>";
                        }
                    }
                },
                {
                    "mData": "app_fdate",
                    "className": "text-left",
                    "render": function (data) {
                        return moment(data).format('DD-MM-YYYY')
                    }
                },
                {
                    "mData": "doctor_name",
                    "className": "text-left"
                },
                {
                    "mData": "pf_past",
                    "className": 'text-justify text-wrap'
                },
                {
                    "mData": "pf_other",
                    "className": 'text-left',

                },
                {
                    "mData": "pf_family",
                    "className": "text-left"
                },
                {
                    "mData": "pf_surgical",
                    "className": "text-left"
                },
                {
                    "mData": "pf_smok",
                    "className": "text-left"
                },
                {
                    "mData": "pf_smok_habit",
                    "className": "text-left"
                },
                {
                    "mData": "pf_smok_details",
                    "className": "text-left"
                },
                {
                    "mData": "pf_alco",
                    "className": "text-left"
                },
                {
                    "mData": "pf_alco_habit",
                    "className": "text-left"
                },
                {
                    "mData": "pf_alco_details",
                    "className": "text-left"
                },
                {
                    "mData": "pf_drug",
                    "className": "text-left"
                },
                {
                    "mData": "pf_drug_habit",
                    "className": "text-left"
                },
                {
                    "mData": "pf_drug_details",
                    "className": "text-left"
                },

            ],
            order: [[0, 'asc']],
            "searching": false,
            scrollX: true,
            scrollY: 500,
            "bPaginate": false,
            "bLengthChange": false,
            "bInfo": false,
        });
    };
    //#endregion  Bind Datatable
    //#region Load CheifComplaints
        var GetCheifComplaints = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllCheifComplaints", "CheifComplaints", new { area = "EMR" })?appId=" + "@emr.appId",
                success: function (response) {

                    if (response.isAuthorized != false) {
                        var table;
                        if ($.fn.dataTable.isDataTable('#tbl_complaints')) {
                            table = $('#tbl_complaints').DataTable();
                            table.clear();
                            table.rows.add(response).draw();
                        }
                        else {
                            console.log(response);
                            BindDataTablecomplaints(response);
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion Load CheifComplaints

       //#region Bind Datatable
    var BindDataTablecomplaints = function (response) {
            var table = $("#tbl_complaints").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                processing: true,
                "deferRender": true,
                "pageLength": 100,
                "retrieve": true,
                lengthChange: true,
                "aaData": response,
                "aoColumns": [
                    {
                        "mData": "compId",
                        "orderable": false,
                        "searchable": false,
                        "className": "text-center",
                        "render": function (data, type, row, meta) {
                            let _index = (meta.row) + 1;
                            if (_index >= 10) {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>" + _index + "</a>";
                            }
                            else {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>0" + _index + "</a>";
                            }
                        }
                    },

                    {
                        "mData": "complaint",
                        "className": 'text-left',

                    },

                ],
                order: [[1, 'asc']],
                "searching": false,
                scrollX: true,
                scrollY: 500,
                "bPaginate": false,
                "bLengthChange": false,
                "bInfo": false,

            });
        };
    //#endregion Bind Datatable
</script>

