@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Hijjama Therapy";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Hijjama Therapy consent Form<br /><span dir="rtl">نموذج الموافقة على العلاج بالحجامة</span></h3>
            </div>
            <div class="card-body">
                <div id="HijjamaTherapy_add" style="display:none">
                </div>
                <div id="HijjamaTherapy_edit">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="HijjamaTherapy_history">
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    //#region Page Load
    $(function () {
        GetHijjamaTherapyInfo();
        HijjamaTherapyPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetHijjamaTherapyInfo
    var GetHijjamaTherapyInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetHijjamaTherapyData", "HijjamaTherapy", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditHijjamaTherapy();
                        $("#HijjamaTherapy_add").hide();
                        $("#HijjamaTherapy_edit").show();

                    }
                    else {
                        $("#HijjamaTherapy_add").show();
                        $("#HijjamaTherapy_edit").hide();
                        AddHijjamaTherapy();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load HijjamaTherapy

    //#region Add HijjamaTherapy
    function AddHijjamaTherapy() {
        var x = $("#HijjamaTherapy_add");
        x.load("@Url.Action("CreateHijjamaTherapy", "HijjamaTherapy", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add HijjamaTherapy

    //#region Update HijjamaTherapy
    function EditHijjamaTherapy() {
        var x = $("#HijjamaTherapy_edit");
        x.load("@Url.Action("UpdateHijjamaTherapy", "HijjamaTherapy", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update HijjamaTherapy

    //#region Histroy of HijjamaTherapy
    function HijjamaTherapyPreviousHistory() {
        var x = $("#HijjamaTherapy_history");
        x.load("@Url.Action("HijjamaTherapyPreviousHistory", "HijjamaTherapy", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>