@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Dmax Botox";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"> Botox Consent Form</h3>
            </div>
            <div class="card-body">
                <div id="DmaxBotox_add" style="display:none">
                </div>
                <div id="DmaxBotox_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="DmaxBotox_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetDmaxBotoxInfo();
        DmaxBotoxPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetDmaxBotoxInfo
    var GetDmaxBotoxInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetDmaxBotoxData", "DmaxBotox", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditDmaxBotox();
                        $("#DmaxBotox_add").hide();
                        $("#DmaxBotox_edit").show();

                    }
                    else {
                        $("#DmaxBotox_add").show();
                        $("#DmaxBotox_edit").hide();
                        AddDmaxBotox();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load DmaxBotox

    //#region Add DmaxBotox
    function AddDmaxBotox() {
        var x = $("#DmaxBotox_add");
        x.load("@Url.Action("CreateDmaxBotox", "DmaxBotox", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add DmaxBotox

    //#region Update DmaxBotox
    function EditDmaxBotox() {
        var x = $("#DmaxBotox_edit");
        x.load("@Url.Action("UpdateDmaxBotox", "DmaxBotox", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update DmaxBotox

    //#region Histroy of DmaxBotox
    function DmaxBotoxPreviousHistory() {
        var x = $("#DmaxBotox_history");
        x.load("@Url.Action("DmaxBotoxPreviousHistory", "DmaxBotox", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>