@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Weight Reduction Consent";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Weight Loss Program Consent Form<br /><span dir="rtl">نموذج الموافقة على برنامج فقدان الوزن </span></h3>
            </div>
            <div class="card-body">
                <div id="WeightReductionConsent_add" style="display:none">
                </div>
                <div id="WeightReductionConsent_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="WeightReductionConsent_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetWeightReductionConsentInfo();
        WeightReductionConsentPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetWeightReductionConsentInfo
    var GetWeightReductionConsentInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetWeightReductionConsentData", "WeightReductionConsent", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditWeightReductionConsent();
                        $("#WeightReductionConsent_add").hide();
                        $("#WeightReductionConsent_edit").show();

                    }
                    else {
                        $("#WeightReductionConsent_add").show();
                        $("#WeightReductionConsent_edit").hide();
                        AddWeightReductionConsent();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load WeightReductionConsent

    //#region Add WeightReductionConsent
    function AddWeightReductionConsent() {
        var x = $("#WeightReductionConsent_add");
        x.load("@Url.Action("CreateWeightReductionConsent", "WeightReductionConsent", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add WeightReductionConsent

    // #region Update WeightReductionConsent
    function EditWeightReductionConsent() {
        var x = $("#WeightReductionConsent_edit");
        x.load("@Url.Action("UpdateWeightReductionConsent", "WeightReductionConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update WeightReductionConsent

    // #region Histroy of WeightReductionConsent
    function WeightReductionConsentPreviousHistory() {
        var x = $("#WeightReductionConsent_history");
        x.load("@Url.Action("WeightReductionConsentPreviousHistory", "WeightReductionConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>