@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMR.VaccinationRecord
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<form id="form_VaccinationRecord" autocomplete="off" name="VaccinationRecord" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <table class="table table-bordered card-table table-vcenter text-nowrap">
                <thead>
                    <tr class="border-top">
                        <th>Name of Vaccine</th>
                        <th>Year</th>
                        <th>Date</th>
                        <th>Name of Vaccine</th>
                        <th>Year</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">  <label class="form-label">BCG</label></td>
                        <td>
                            <label class="form-label">1-6 Months</label>
                            <label class="form-label">4-6 Years</label>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>
                                @Html.TextBoxFor(m => m.vac_rec_date1, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date1" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date2, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date2" })
                            </div>
                        </td>
                        <td> <label class="form-label">Rota Rix</label></td>
                        <td>
                            <label class="form-label">6 Weeks</label>
                            <label class="form-label">3Months</label>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date3, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date3" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date4, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date4" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row"><label class="form-label">Hepatitis B</label></td>
                        <td>
                            <label class="form-label">2 Weeks</label>
                            <label class="form-label">6 Weeks</label>
                            <label class="form-label">6 Months</label>
                            <label class="form-label">8 Months</label>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date5, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date5" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date6, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date6" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date7, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date7" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>
                                @Html.TextBoxFor(m => m.vac_rec_date8, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date8" })
                            </div>
                        </td>
                        <td scope="row"><label class="form-label">Hib</label></td>
                        <td>
                            <label class="form-label">2 Months</label>
                            <label class="form-label">4 Months</label>
                            <label class="form-label">6 Months</label>
                            <label class="form-label">18 Months</label>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date9, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date9" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date10, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date10" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date11, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date11" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date12, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date12" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row"><label class="form-label">M.M.R</label></td>
                        <td>
                            <label class="form-label">12 Months</label>
                            <label class="form-label">4 Years</label>
                            <label class="form-label">10 Years</label>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date13, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date13" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date14, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date14" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date15, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date15" })
                            </div>
                        </td>
                        <td scope="row"><label class="form-label">Hepatitis A</label></td>
                        <td>
                            <label class="form-label">15 Months</label>
                            <label class="form-label">21 Months</label>
                            <label class="form-label">10 Years</label>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date16, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date16" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date17, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date17" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date18, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date18" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row"><label class="form-label">Meningococcal A-C</label></td>
                        <td>
                            <label class="form-label">2 Years</label>
                            <label class="form-label">5 Years</label>
                            <label class="form-label">11 Years</label>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date19, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date19" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date20, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date20" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date21, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date21" })
                            </div>
                        </td>
                        <td scope="row"><label class="form-label">Typhoid</label></td>
                        <td>
                            <label class="form-label">2 Years</label>
                            <label class="form-label">5 Years</label>
                            <label class="form-label">11 Years</label>
                        </td>
                        <td>
                            <div class="form-group mb-3">
                                <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date22, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date22" })
                                </div>
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-calendar"></i>
                                    </div>

                                    @Html.TextBoxFor(m => m.vac_rec_date23, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date23" })
                                </div>
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-calendar"></i>
                                    </div>

                                    @Html.TextBoxFor(m => m.vac_rec_date24, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date24" })
                                </div>
                            </div>
                        </td>                                 
                    </tr>
                    <tr class="border-bottom">
                        <td scope="row"> <label class="form-label">Tetanus</label></td>
                        <td> <label class="form-label">8 Years</label></td>
                        <td><div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>
                                @Html.TextBoxFor(m => m.vac_rec_date27, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date27" })
                            </div>
                        </td>
                        <td scope="row"> <label class="form-label">Varicella</label></td>
                        <td>
                            <label class="form-label">12 Months</label>
                            <label class="form-label">18 Months</label>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date25, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date25" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>
                                @Html.TextBoxFor(m => m.vac_rec_date26, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date26" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> <label class="form-label">DPT-POLIO DTaP</label></td>
                        <td>
                            <label class="form-label">2 Months</label>
                            <label class="form-label">4 Months</label>
                            <label class="form-label">6 Months</label>
                            <label class="form-label">18 Months</label>
                            <label class="form-label">4 Years</label>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date28, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date28" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date29, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date29" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date30, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date30" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date31, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date31" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date32, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "vac_rec_date32" })
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-sm btn-success" id="btn_Insert_VaccRecord">Add Vaccination Record</button>
                <button type="button" class="btn btn-sm btn-outline-dark" id="btn_Reset_VaccRecord">Reset</button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">

    //#region Partial View Onload
    $(function () {

        $('#vac_rec_date1,#vac_rec_date2,#vac_rec_date3,#vac_rec_date4,#vac_rec_date5,#vac_rec_date6,#vac_rec_date7,#vac_rec_date8,#vac_rec_date9').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-",
        });
        $('#vac_rec_date10,#vac_rec_date11,#vac_rec_date12,#vac_rec_date13,#vac_rec_date14,#vac_rec_date15,#vac_rec_date16,#vac_rec_date17,#vac_rec_date18,#vac_rec_date19').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-"
        });
        $('#vac_rec_date20,#vac_rec_date21,#vac_rec_date22,#vac_rec_date23,#vac_rec_date24,#vac_rec_date25,#vac_rec_date26,#vac_rec_date27,#vac_rec_date28,#vac_rec_date29').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-"
        });
        $('#vac_rec_date30,#vac_rec_date31,#vac_rec_date32,#vac_rec_date33,#vac_rec_date34,#vac_rec_date35,#vac_rec_date36').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-"
        });
        clearControls();
        toggleButtonVisibility();
        
        });
    //#endregion

    //#region Button Visibility
    function toggleButtonVisibility() {
        if (areFieldsFilled()) {
            if ("@emp_designation.ToString()" === "Super Administrator") {
                    $("#btn_Insert_VaccRecord").show();
            }
            else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Insert_VaccRecord").show();

                }
                else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Insert_VaccRecord").show();
                    }
                    else {
                        $("#btn_Insert_VaccRecord").hide();
                    }
                }
            }
        } else {
            $("#btn_Insert_VaccRecord").hide();
        }
    }
    //#endregion

    //#region Validating
    function areFieldsFilled() {
        return $(".field-to-check").filter(function () {
            return  this.value.trim() !== "";
        }).length > 0;
    }
    //#endregion

    $(".field-to-check").on("change input", toggleButtonVisibility);

    //#region Add  Click
        $('#btn_Insert_VaccRecord').on('click', function (e) {
            e.preventDefault();
                $('#btn_Insert_VaccRecord').removeClass("btn btn-sm btn-success");
                $('#btn_Insert_VaccRecord').addClass("btn btn-sm btn-success btn-loaders btn-icon");
                $('#btn_Insert_VaccRecord').html("Saving the Record....");
                var _dateInsert = {
                    "vac_recId": 0,
                    "vac_rec_patId": @emr.patId,
                    "vac_rec_date1": $("#vac_rec_date1").val(),
                    "vac_rec_date2": $("#vac_rec_date2").val(),
                    "vac_rec_date3": $("#vac_rec_date3").val(),
                    "vac_rec_date4": $("#vac_rec_date4").val(),
                    "vac_rec_date5": $("#vac_rec_date5").val(),
                    "vac_rec_date6": $("#vac_rec_date6").val(),
                    "vac_rec_date7": $("#vac_rec_date7").val(),
                    "vac_rec_date8": $("#vac_rec_date8").val(),
                    "vac_rec_date9": $("#vac_rec_date9").val(),
                    "vac_rec_date10": $("#vac_rec_date10").val(),
                    "vac_rec_date11": $("#vac_rec_date11").val(),
                    "vac_rec_date12": $("#vac_rec_date12").val(),
                    "vac_rec_date13": $("#vac_rec_date13").val(),
                    "vac_rec_date14": $("#vac_rec_date14").val(),
                    "vac_rec_date15": $("#vac_rec_date15").val(),
                    "vac_rec_date16": $("#vac_rec_date16").val(),
                    "vac_rec_date17": $("#vac_rec_date17").val(),
                    "vac_rec_date18": $("#vac_rec_date18").val(),
                    "vac_rec_date19": $("#vac_rec_date19").val(),
                    "vac_rec_date20": $("#vac_rec_date20").val(),
                    "vac_rec_date21": $("#vac_rec_date21").val(),
                    "vac_rec_date22": $("#vac_rec_date22").val(),
                    "vac_rec_date23": $("#vac_rec_date23").val(),
                    "vac_rec_date24": $("#vac_rec_date24").val(),
                    "vac_rec_date25": $("#vac_rec_date25").val(),
                    "vac_rec_date26": $("#vac_rec_date26").val(),
                    "vac_rec_date27": $("#vac_rec_date27").val(),
                    "vac_rec_date28": $("#vac_rec_date28").val(),
                    "vac_rec_date29": $("#vac_rec_date29").val(),
                    "vac_rec_date30": $("#vac_rec_date30").val(),
                    "vac_rec_date31": $("#vac_rec_date31").val(),
                    "vac_rec_date32": $("#vac_rec_date32").val(),
                    "vac_rec_date33": $("#vac_rec_date33").val(),
                    "vac_rec_date34": $("#vac_rec_date34").val(),
                    "vac_rec_date35": $("#vac_rec_date35").val(),
                    "vac_rec_date36": $("#vac_rec_date36").val(),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                $.ajax({
                        type: "Post",
                        url: "@Url.Action("InsertVaccinationRecord", "Vaccination", new {area = "EMR" })",
                        dataType: 'JSON',
                        data: _dateInsert,
                        success: function (data) {
                            $('#btn_Insert_VaccRecord').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                            $('#btn_Insert_VaccRecord').addClass("btn btn-sm btn-success");
                            $('#btn_Insert_VaccRecord').html("Add Note");
                            if (data.isSuccess) {
                                if (data.isInserted) {
                                    var alertPlaceholder = document.getElementById("Alert");
                                    function alert(e, t) {
                                        var l = document.createElement("div");
                                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                    }
                                    alert("<i class='fe fe-check-circle text-white'></i>  Vaccination Record Saved Successfully!", "success");
                                    GetVaccinationRecord();
                                    Timeout();
                                }
                                else {

                                    let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                        "<div class='alert alert-warning' role='alert'>" +
                                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                        "<strong>Warning.. Vaccination Record Alredy Exists..</strong><br/>" +
                                        "</div></div>";
                                    $("#Alert").html(html);
                                }
                            }
                            else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                            "<div class='alert alert-danger' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 100);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                        },
                            error: function (xhr) {
                                $('#btn_Insert_VaccRecord').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                                $('#btn_Insert_VaccRecord').addClass("btn btn-sm btn-warning");
                                $('#btn_Insert_VaccRecord').html("Vaccination Record");
                            Timeout();
                        }
                });

        });
    //#endregion Add Click

    //#region Reset
    $('#btn_Reset_VaccRecord').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").bootstrapdatepicker("setDate",'');
    }
    //#endregion Clear Controls

</script>

