@model BusinessEntities.EMR.Vaccination
<form id="form_EditProgress" class="needs-validation" >


    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.pvId)
    @Html.HiddenFor(m => m.pv_appId)
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">
                    Vaccination &nbsp;<span class="text-danger">*</span>
                    @Html.DropDownListFor(m => m.pv_vaccination, new List<SelectListItem> { }, "Select Vaccination For", new { @class = "form-select  mb-2 select2", @id = "upv_vaccination" })

                </label>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">&nbsp;</label>
                <button class="btn btn-outline-dark btn-sm ms-lg-2 ms-sm-2" type="button" id="uaddVaccination">
                    <i class="fa fa-bullseye"></i>
                    Add Vaccine
                </button>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Dose&nbsp;<span class="text-danger">*</span></label>
                @Html.DropDownListFor(m => m.pv_dose, new List<SelectListItem> { }, "Select Vaccination For", new { @class = "form-select  mb-2 select2", @id = "upv_dose" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="form-group mb-3">
                <label class="form-label text-black">Notes&nbsp;</label>
                @Html.TextBoxFor(m => m.pv_notes, new { @class = "form-control", @placeholder = "Ex : Your notes will go here...", @maxlenth = "1500", @id = "upv_notes" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Batch No&nbsp;<span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.pv_batchno, new { @class = "form-control", @placeholder = "Ex : Batch No", @maxlenth = "15", @id = "upv_batchno" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Manufacturer&nbsp;<span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.pv_manufacturer, new { @class = "form-control", @placeholder = "Ex : Manufacturer", @maxlenth = "15",@id = "upv_manufacturer" })
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label mb-2">
                    Vaccination Expiry Date<span class="text-danger">*</span>
                </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fe fe-calendar"></i>
                        </div>
                    </div>
                    @Html.TextBoxFor(m => m.pv_exp_date, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "upv_exp_date" })
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label mb-2">
                    Next Vaccination Reminder
                </label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fe fe-calendar"></i>
                        </div>
                    </div>
                    @Html.TextBoxFor(m => m.pv_date, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "upv_date" })
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4">
            <div class="form-group mb-3">
                <label class="form-label text-black">Reminder Notes&nbsp;</label>
                @Html.TextBoxFor(m => m.pv_reminder_notes, new { @class = "form-control", @placeholder = "Ex : Reminder Notes", @maxlenth = "15", @id = "upv_reminder_notes" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-group mb-3">
                <div class="ql-wrapper ql-wrapper-demo">
                    <span class="errorr text-danger fw-bold"></span>
                    <div id="prog_notes">

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning" id="btn_Update_vaccine">Save Changes</button>
                <button type="button" class="btn btn-outline-danger me-1" id="btn_Close_Editvaccine">
                    Close
                </button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    //#region Partial View Onload
         $(function () {

                $("#upv_vaccination").select2({
                placeholder: 'Select For',
                width: '100%',
                minimumResultsForSearch: '',
                minimumInputLength: 3,
                dropdownParent: $('#form_AddVaccine'),

                ajax: {
                    url: '@Url.Action("GetVaccine", "Vaccination", new { area = "EMR" })',
                    dataType: 'json',
                    delay: 250,
                    data: function (query) {
                        return {
                            query: query.term,
                            flag: "Vaccine"
                        };
                    },
                    processResults: function (data) {
                        console.log(data);

                        return {
                            results: data,
                        };
                    },
                    cache: true
                }
            });
            $("#upv_dose").select2({
                placeholder: 'Select For',
                width: '100%',
                minimumResultsForSearch: '',
                minimumInputLength: 3,
                dropdownParent: $('#form_AddVaccine'),

                ajax: {
                    url: '@Url.Action("GetVaccine", "Vaccination", new { area = "EMR" })',
                    dataType: 'json',
                    delay: 250,
                    data: function (query) {
                        return {
                            query: query.term,
                            flag: "Dose"
                        };
                    },
                    processResults: function (data) {
                        console.log(data);

                        return {
                            results: data,
                        };
                    },
                    cache: true
                }
            });

            $('#upv_date,#upv_exp_date').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-"
            });
            $("#upv_date").bootstrapdatepicker("setDate", moment(new Date("@Model.pv_date")).format("DD-MMMM-YYYY"));
             $("#upv_exp_date").bootstrapdatepicker("setDate", moment(new Date("@Model.pv_exp_date")).format("DD-MMMM-YYYY"));
            Get_Vaccine("@Model.pv_vaccination");
            Get_Dose("@Model.pv_dose");
            validate();
        });
    //#endregion Partial View Onload

     //#region load Vaccine
        var Get_Vaccine = function (pv_vaccination) {
            $.ajax({
                url: '@Url.Action("GetVaccine", "Vaccination", new { area = "EMR" })?query=' + pv_vaccination + "&flag='Vaccine'" ,
                type: "GET",
                dataType: "json",
                async: false,

                success: function (response) {
                    var data = {
                        "id": response[0].id,
                        "text": response[0].text,
                    };
                    $('#upv_vaccination').val(response[0].text);
                    var newOption = new Option(response[0].text, response[0].id, true, true);
                    $('#upv_vaccination').append(newOption).trigger('change');
                    $('#upv_vaccination').trigger({
                        type: 'select2:select',
                        params: {
                            data: data
                        }
                    });

                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
        var Get_Dose = function (pv_dose) {
            $.ajax({
                url: '@Url.Action("GetVaccine", "Vaccination", new { area = "EMR" })?query=' + pv_dose + "&flag='Dose'" ,
                type: "GET",
                dataType: "json",
                async: false,

                success: function (response) {
                    var data = {
                        "id": response[0].id,
                        "text": response[0].text,
                    };
                    $('#upv_dose').val(response[0].text);
                    var newOption = new Option(response[0].text, response[0].id, true, true);
                    $('#upv_dose').append(newOption).trigger('change');
                    $('#upv_dose').trigger({
                        type: 'select2:select',
                        params: {
                            data: data
                        }
                    });

                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
    //#endregion load Vaccine
    //#region Close Vaccination
        $('#btn_Close_Editvaccine').click(function () {
            $('#vaccination_edit').hide();
            AddVaccination();
            $("#vaccination_add").show();
        });
    //#endregion Close Vaccination


    //#region Add NotesMaster
        $('#uaddVaccination').on('click', function (e) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("NotesMaster", "NotesMaster", new { area = "EMR" })",
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $('#vaccination_master_modal').attr("data-modal-from", "update-PatientVaccine");
                    $("#vaccination_master_body").html(data);
                    $("#vaccination_master_modal").modal("show");
                },
                error: function (xhr) {
                    console.log("Error while Adding Notes : " + xhr.statusText);
                }
            });
        });
     //#endregion

    //#region Create Diagnosis On Modal Close
        $('#vaccination_master_modal').on('hidden.bs.modal', function () {
            if (localStorage.getItem("newVaccine") != null) {
                var Vaccine = JSON.parse(localStorage.getItem("newVaccine"));
                setVaccine(Vaccine);
                localStorage.removeItem("newVaccine");
            }
        });
    //#endregion Create Diagnosis On Modal Close

    //#region set Narrative
        var setVaccine = function (response) {
            var data = {
                "id": response.id,
                "text": response.text,
            };
            var newOption = new Option(response.text, response.id, true, true);
            $('#upv_vaccination').append(newOption).trigger('change');

            $('#upv_vaccination').trigger({
                type: 'select2:select',
                params: {
                    data: data
                }
            });
        }
    //#endregion Set Narrative



    //#region Validation Initialization
    var validate = function () {
        $("#form_AddVaccine").validate({
            rules: {
                upv_vaccination: {
                    required: true
                },
                upv_dose: {
                    required: true
                },
                upv_batchno: {
                    required: true
                },
                upv_manufacturer: {
                    required: true
                },
                upv_exp_date: {
                    required: true
                },

            },
            messages: {
                upv_vaccination: {
                    required: "Please select Vaccination For!"
                },
                upv_dose: {
                    required: "Please select Dose !"
                },
                upv_batchno: {
                    required: "Please Enter Batch No !"
                },
                upv_manufacturer: {
                    required: "Please Enter Manufacture !"
                },
                upv_exp_date: {
                    required: "Please select Exp Date !"
                },

            },
            highlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                }
                else {
                    elem.parent().addClass('has-error');
                }
                $(element).parent().addClass('has-error');
                error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                } else {
                    elem.removeClass('has-error');
                }
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
        $('#upv_vaccination').on('change', function () {
            $(this).trigger('blur');
        });
        $('#upv_dose').on('change', function () {
            $(this).trigger('blur');
        });
        $('#upv_exp_date').on('change', function () {
            $(this).trigger('blur');
        });

    }
    //#endregion Validation Initialization

      //#region Update  Button Click
        $('#btn_Update_vaccine').on('click', function (e) {
             e.preventDefault();
            if ($("#form_AddVaccine").valid()) {
                $('#btn_Update_vaccine').removeClass("btn btn-success");
                $('#btn_Update_vaccine').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Update_vaccine').html("Updating the Record....");
                var _dataInsert = {
                    "pvId": $("#upvId").val(),
                    "pv_appId": $("#upv_appId").val(),
                    "pv_vaccination": $("#upv_vaccination").val(),
                    "pv_notes": $("#upv_notes").val(),
                    "pv_batchno": $("#upv_batchno").val(),
                    "pv_manufacturer": $("#upv_manufacturer").val(),
                    "pv_exp_date": $("#upv_exp_date").val(),
                    "pv_dose": $("#upv_dose").val(),
                    "pv_reminder_notes": $("#upv_reminder_notes").val(),
                    "pv_date": $("#upv_date").val(),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateVaccination", "Vaccination", new { area = "EMR" })",
                    dataType: 'JSON',
                    data: _dataInsert,
                    success: function (data) {
                        $('#allergy_edit').hide();
                        $('#btn_Update_vaccine').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Update_vaccine').addClass("btn btn-success");
                        $('#btn_Update_vaccine').html("Save Changes");
                        if (data.isSuccess) {
                            if (data.isUpdated) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Vaccination Updated Successfully!", "success");
                                clearControls();
                                Timeout();
                                GetVaccination();
                                GetPreviousVaccination();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. Vaccination Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Update_vaccine').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Update_vaccine').addClass("btn btn-success");
                        $('#btn_Update_vaccine').html("Save Changes");
                        Timeout();
                    }
                });
            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion Update  Button Click

    //#region Clear Controls
        var clearControls = function () {
            $(".form-control").val("");
            $(".form-select").val("").trigger("change");
        }
    //#endregion Clear Controls


</script>