@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMR.VaccinationRecord
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="Edit_VaccinationRecord" class="needs-validation" >

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.vac_recId)
    @Html.HiddenFor(m => m.vac_recId, new { @id = "uvac_recId", @value = "@Model.vac_recId" })
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-12 mb-4 ">
            <table class="table table-bordered card-table table-vcenter text-nowrap">
                <thead>
                    <tr class="border-top">
                        <th>Name of Vaccine</th>
                        <th>Year</th>
                        <th>Date</th>
                        <th>Name of Vaccine</th>
                        <th>Year</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="row">  <label class="form-label">BCG</label></td>
                        <td>
                            <label class="form-label">1-6 Months</label>
                            <label class="form-label">4-6 Years</label>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>
                                @Html.TextBoxFor(m => m.vac_rec_date1, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date1" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date2, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date2" })
                            </div>
                        </td>
                        <td> <label class="form-label">Rota Rix</label></td>
                        <td>
                            <label class="form-label">6 Weeks</label>
                            <label class="form-label">3Months</label>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date3, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date3" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date4, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date4" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row"><label class="form-label">Hepatitis B</label></td>
                        <td>
                            <label class="form-label">2 Weeks</label>
                            <label class="form-label">6 Weeks</label>
                            <label class="form-label">6 Months</label>
                            <label class="form-label">8 Months</label>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date5, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date5" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date6, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date6" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date7, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date7" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>
                                @Html.TextBoxFor(m => m.vac_rec_date8, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date8" })
                            </div>
                        </td>
                        <td scope="row"><label class="form-label">Hib</label></td>
                        <td>
                            <label class="form-label">2 Months</label>
                            <label class="form-label">4 Months</label>
                            <label class="form-label">6 Months</label>
                            <label class="form-label">18 Months</label>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date9, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date9" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date10, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date10" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date11, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date11" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date12, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date12" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row"><label class="form-label">M.M.R</label></td>
                        <td>
                            <label class="form-label">12 Months</label>
                            <label class="form-label">4 Years</label>
                            <label class="form-label">10 Years</label>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date13, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date13" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date14, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date14" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date15, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date15" })
                            </div>
                        </td>
                        <td scope="row"><label class="form-label">Hepatitis A</label></td>
                        <td>
                            <label class="form-label">15 Months</label>
                            <label class="form-label">21 Months</label>
                            <label class="form-label">10 Years</label>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date16, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date16" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date17, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date17" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date18, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date18" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td scope="row"><label class="form-label">Meningococcal A-C</label></td>
                        <td>
                            <label class="form-label">2 Years</label>
                            <label class="form-label">5 Years</label>
                            <label class="form-label">11 Years</label>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date19, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date19" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date20, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date20" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date21, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date21" })
                            </div>
                        </td>
                        <td scope="row"><label class="form-label">Typhoid</label></td>
                        <td>
                            <label class="form-label">2 Years</label>
                            <label class="form-label">5 Years</label>
                            <label class="form-label">11 Years</label>
                        </td>
                        <td>
                            <div class="form-group mb-3">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-calendar"></i>
                                    </div>

                                    @Html.TextBoxFor(m => m.vac_rec_date22, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date22" })
                                </div>
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-calendar"></i>
                                    </div>

                                    @Html.TextBoxFor(m => m.vac_rec_date23, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date23" })
                                </div>
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-calendar"></i>
                                    </div>

                                    @Html.TextBoxFor(m => m.vac_rec_date24, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date24" })
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="border-bottom">
                        <td scope="row"> <label class="form-label">Tetanus</label></td>
                        <td> <label class="form-label">8 Years</label></td>
                        <td>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>
                                @Html.TextBoxFor(m => m.vac_rec_date27, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date27" })
                            </div>
                        </td>
                        <td scope="row"> <label class="form-label">Varicella</label></td>
                        <td>
                            <label class="form-label">12 Months</label>
                            <label class="form-label">18 Months</label>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date25, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date25" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>
                                @Html.TextBoxFor(m => m.vac_rec_date26, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date26" })
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td> <label class="form-label">DPT-POLIO DTaP</label></td>
                        <td>
                            <label class="form-label">2 Months</label>
                            <label class="form-label">4 Months</label>
                            <label class="form-label">6 Months</label>
                            <label class="form-label">18 Months</label>
                            <label class="form-label">4 Years</label>
                        </td>
                        <td>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date28, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date28" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date29, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date29" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date30, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date30" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date31, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date31" })
                            </div>
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>

                                @Html.TextBoxFor(m => m.vac_rec_date32, new { @class = "form-control field-to-check", @placeholder = "DD-MMMM-YYYY", @id = "uvac_rec_date32" })
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-12 mb-4 ">
            <div class="row mt-2">
                <div class="col-sm-12 col-md-6 col-lg-12 text-center">
                    <div class="btn-list btn-animation">
                        <button type="submit" class="btn btn-sm btn-warning" id="btn_Update_VaccRecord">Save Changes</button>
                        <button type="submit" class="btn btn-sm btn-outline-danger" id="btn_Delete_VaccRecord">Delete</button>
                        <button type="submit" class="btn btn-sm btn-outline-light" id="btn_Print_VaccRecord" onclick="PrintVaccinationRecord(@Model.vac_recId)">
                            <i class="fa fa-print">&nbsp;&nbsp;</i>Print
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<script>
    //#region Page Load
        $(function () {

            if ("@emp_designation.ToString()" === "Super Administrator") {
                $("#btn_Update_VaccRecord,#btn_Delete_VaccRecord").show();
            } else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Update_VaccRecord,#btn_Delete_VaccRecord").show();

                }
                else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Update_VaccRecord,#btn_Delete_VaccRecord").show();
                    }
                    else {
                        $("#btn_Update_VaccRecord,#btn_Delete_VaccRecord").hide();
                    }
                }
            }
            $('#uvac_rec_date1,#uvac_rec_date2,#uvac_rec_date3,#uvac_rec_date4,#uvac_rec_date5,#uvac_rec_date6,#uvac_rec_date7,#uvac_rec_date8,#uvac_rec_date9').bootstrapdatepicker({
                format: "dd-MM-yyyy",
                viewMode: "date",
                todayHighlight: true,
                autoclose: true,
                multidate: false,
                multidateSeparator: "-"
            });
            $('#uvac_rec_date10,#uvac_rec_date11,#uvac_rec_date12,#uvac_rec_date13,#uvac_rec_date14,#uvac_rec_date15,#uvac_rec_date16,#uvac_rec_date17,#uvac_rec_date18,#uvac_rec_date19').bootstrapdatepicker({
                format: "dd-MM-yyyy",
                viewMode: "date",
                todayHighlight: true,
                autoclose: true,
                multidate: false,
                multidateSeparator: "-"
            });
            $('#uvac_rec_date20,#uvac_rec_date21,#uvac_rec_date22,#uvac_rec_date23,#uvac_rec_date24,#uvac_rec_date25,#uvac_rec_date26,#uvac_rec_date27,#uvac_rec_date28,#uvac_rec_date29').bootstrapdatepicker({
                format: "dd-MM-yyyy",
                viewMode: "date",
                todayHighlight: true,
                autoclose: true,
                multidate: false,
                multidateSeparator: "-"
            });
            $('#uvac_rec_date30,#uvac_rec_date31,#uvac_rec_date32,#uvac_rec_date33,#uvac_rec_date34,#uvac_rec_date35,#uvac_rec_date36').bootstrapdatepicker({
                format: "dd-MM-yyyy",
                viewMode: "date",
                todayHighlight: true,
                autoclose: true,
                multidate: false,
                multidateSeparator: "-"
            });
            LoadDates();

        });

    //#endregion Page Load

    //#region LoadDates
    var LoadDates = function () {
        if ("@Model.vac_rec_date1" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date1").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date1")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date1").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date2" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date2").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date2")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date2").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date3" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date3").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date3")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date3").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date4" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date4").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date4")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date4").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date5" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date5").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date5")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date5").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date6" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date6").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date6")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date6").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date7" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date7").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date7")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date7").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date8" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date8").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date8")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date8").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date9" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date9").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date9")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date9").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date10" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date10").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date10")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date10").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date11" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date11").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date11")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date11").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date12" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date12").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date12")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date12").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date13" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date13").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date13")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date13").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date14" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date14").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date14")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date14").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date15" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date15").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date15")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date15").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date16" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date16").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date16")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date16").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date17" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date17").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date17")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date17").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date18" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date18").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date18")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date18").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date19" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date19").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date19")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date19").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date20" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date20").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date20")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date20").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date21" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date21").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date21")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date21").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date22" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date22").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date22")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date22").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date23" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date23").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date23")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date23").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date24" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date24").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date24")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date24").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date25" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date25").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date25")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date25").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date26" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date26").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date26")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date26").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date27" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date27").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date27")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date27").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date28" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date28").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date28")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date28").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date29" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date29").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date29")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date29").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date30" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date30").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date30")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date30").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date31" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date31").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date31")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date31").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date32" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date32").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date32")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date32").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date33" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date33").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date33")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date33").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date34" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date34").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date34")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date34").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date35" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date35").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date35")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date35").bootstrapdatepicker("setDate", '');
        }
        if ("@Model.vac_rec_date36" != "1/1/1900 12:00:00 AM") {
            $("#uvac_rec_date36").bootstrapdatepicker("setDate", moment(new Date("@Model.vac_rec_date36")).format("DD-MMMM-YYYY"));
        }
        else {
            $("#uvac_rec_date36").bootstrapdatepicker("setDate", '');
        }
    }
    //#endregion LoadDates
    //#region Update  Button Click
        $('#btn_Update_VaccRecord').on('click', function (e) {
             e.preventDefault();
            if ($("#Edit_VaccinationRecord").valid()) {
                $('#btn_Update_VaccRecord').removeClass("btn btn-sm btn-success");
                $('#btn_Update_VaccRecord').addClass("btn btn-sm btn-success btn-loaders btn-icon");
                $('#btn_Update_VaccRecord').html("Updating the Record....");

                var _dataInsert = {
                    "vac_recId": @Model.vac_recId,
                    "vac_rec_patId": @Model.vac_rec_patId,
                    "vac_rec_date1": $("#uvac_rec_date1").val(),
                    "vac_rec_date2": $("#uvac_rec_date2").val(),
                    "vac_rec_date3": $("#uvac_rec_date3").val(),
                    "vac_rec_date4": $("#uvac_rec_date4").val(),
                    "vac_rec_date5": $("#uvac_rec_date5").val(),
                    "vac_rec_date6": $("#uvac_rec_date6").val(),
                    "vac_rec_date7": $("#uvac_rec_date7").val(),
                    "vac_rec_date8": $("#uvac_rec_date8").val(),
                    "vac_rec_date9": $("#uvac_rec_date9").val(),
                    "vac_rec_date10": $("#uvac_rec_date10").val(),
                    "vac_rec_date11": $("#uvac_rec_date11").val(),
                    "vac_rec_date12": $("#uvac_rec_date12").val(),
                    "vac_rec_date13": $("#uvac_rec_date13").val(),
                    "vac_rec_date14": $("#uvac_rec_date14").val(),
                    "vac_rec_date15": $("#uvac_rec_date15").val(),
                    "vac_rec_date16": $("#uvac_rec_date16").val(),
                    "vac_rec_date17": $("#uvac_rec_date17").val(),
                    "vac_rec_date18": $("#uvac_rec_date18").val(),
                    "vac_rec_date19": $("#uvac_rec_date19").val(),
                    "vac_rec_date20": $("#uvac_rec_date20").val(),
                    "vac_rec_date21": $("#uvac_rec_date21").val(),
                    "vac_rec_date22": $("#uvac_rec_date22").val(),
                    "vac_rec_date23": $("#uvac_rec_date23").val(),
                    "vac_rec_date24": $("#uvac_rec_date24").val(),
                    "vac_rec_date25": $("#uvac_rec_date25").val(),
                    "vac_rec_date26": $("#uvac_rec_date26").val(),
                    "vac_rec_date27": $("#uvac_rec_date27").val(),
                    "vac_rec_date28": $("#uvac_rec_date28").val(),
                    "vac_rec_date29": $("#uvac_rec_date29").val(),
                    "vac_rec_date30": $("#uvac_rec_date30").val(),
                    "vac_rec_date31": $("#uvac_rec_date31").val(),
                    "vac_rec_date32": $("#uvac_rec_date32").val(),
                    "vac_rec_date33": $("#uvac_rec_date33").val(),
                    "vac_rec_date34": $("#uvac_rec_date34").val(),
                    "vac_rec_date35": $("#uvac_rec_date35").val(),
                    "vac_rec_date36": $("#uvac_rec_date36").val(),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateVaccinationRecord", "Vaccination", new { area = "EMR" })",
                    dataType: 'JSON',
                    data: _dataInsert,
                    success: function (data) {
                        $('#btn_Update_VaccRecord').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                        $('#btn_Update_VaccRecord').addClass("btn btn-sm btn-warning");
                        $('#btn_Update_VaccRecord').html("Save Changes");
                        if (data.isSuccess) {
                            if (data.isUpdated) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Vaccination Record Updated Successfully!", "success");
                                Timeout();
                                GetVaccinationRecord();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. Vaccination Record Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Update_VaccRecord').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                        $('#btn_Update_VaccRecord').addClass("btn btn-sm btn-warning");
                        $('#btn_Update_VaccRecord').html("Save Changes");
                        Timeout();
                    }
                });
            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion Update  Button Click


    //#region Delete Click
        $('#btn_Delete_VaccRecord').on('click', function (e) {
            e.preventDefault();
            $('#btn_Delete_VaccRecord').removeClass("btn btn-sm btn-success");
            $('#btn_Delete_VaccRecord').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Delete_VaccRecord').html("Deleting the Record....");

                $.ajax({
                    url: '@Url.Action("DeleteVaccinationRecord", "Vaccination", new { area = "EMR" })?vac_recId=' + @Model.vac_recId,
                    type: "POST",
                    dataType: 'JSON',
                    success: function (data) {
                        $('#btn_Delete_VaccRecord').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                        $('#btn_Delete_VaccRecord').addClass("btn btn-sm btn-warning");
                        $('#btn_Delete_VaccRecord').html("Delete");
                        if (data.isAuthorized) {
                            if (data.success) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Vaccination Record Deleted Successfully!", "success");
                                clearControls();
                                GetVaccinationRecord();
                                Timeout();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Error!.. Failed to Delete..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Delete_VaccRecord').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                        $('#btn_Delete_VaccRecord').addClass("btn btn-sm btn-Delete");
                        $('#btn_Delete_VaccRecord').html("Delete");
                        Timeout();
                    }
                })
        });
    //#endregion Delete Click


    //#region Clear Controls
        var clearControls = function () {
            $(".form-control").bootstrapdatepicker("setDate", '');

        }
    //#endregion Clear Controls
</script>


