@using BusinessEntities;
@model BusinessEntities.EMR.VaccinationRecord
@{
    ViewBag.Title = "Print Fibroptic Laryngoscopy Report";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" onclick="printDiv('printDiv')" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>
<div class="row" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-center">
                    <img src="@Model.set_header_image" />
                </div>
                <div class="row ">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div>
                                    <h4 class="page-title mb-0 text-primary">
                                        Vaccination Record
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-12">
                                <div class="row border ">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="row">
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name:&nbsp;</label></div>
                                            </div>
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                                            </div>
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID:&nbsp;</label></div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <label class="form-label text-red text-left">@emr.pat_emirateid&nbsp;</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No :&nbsp;</label></div>

                                            </div>

                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <label class="form-label text-red text-left">@emr.pat_code&nbsp;</label>
                                            </div>
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <div class="form-group mb-3"><label class="form-label text-black"> DOB&nbsp;</label></div>

                                            </div>
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <label class="form-label text-red text-left">@emr.pat_dob&nbsp;</label>
                                            </div>

                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <div class="form-group mb-3"><label class="form-label text-black"> Nationality:&nbsp;</label></div>
                                            </div>
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <label class="form-label text-red text-left">@emr.pat_nationality&nbsp;</label>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <div class="form-group mb-3"><label class="form-label text-black">Gender&nbsp;</label></div>

                                            </div>

                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <label class="form-label text-red text-left">@emr.pat_gender&nbsp;</label>
                                            </div>
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name	:&nbsp;</label></div>

                                            </div>
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <label class="form-label text-red text-left">@emr.doc_name&nbsp;</label>
                                            </div>

                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <div class="form-group mb-3"><label class="form-label text-black">Date&nbsp;</label></div>
                                            </div>
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="row">
                                <div class="col-sm-12 col-md-6 col-lg-12 mb-4 ">
                                    <table class="table table-bordered card-table table-vcenter text-nowrap">
                                        <thead>
                                            <tr class="border-top">
                                                <th>Name of Vaccine</th>
                                                <th>Year</th>
                                                <th>Date</th>
                                                <th>Name of Vaccine</th>
                                                <th>Year</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td scope="row">  <label class="form-label">BCG</label></td>
                                                <td>
                                                    <label class="form-label">1-6 Months</label>
                                                    <label class="form-label">4-6 Years</label>
                                                </td>
                                                <td>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date1.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date1.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }
                                                        
                                                    </div>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date2.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date2.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }
                                                    </div>
                                                </td>
                                                <td> <label class="form-label">Rota Rix</label></td>
                                                <td>
                                                    <label class="form-label">6 Weeks</label>
                                                    <label class="form-label">3Months</label>
                                                </td>
                                                <td>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date3.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date3.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }

                                                    </div>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date4.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date4.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><label class="form-label">Hepatitis B</label></td>
                                                <td>
                                                    <label class="form-label">2 Weeks</label>
                                                    <label class="form-label">6 Weeks</label>
                                                    <label class="form-label">6 Months</label>
                                                    <label class="form-label">8 Months</label>
                                                </td>
                                                <td>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date5.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date5.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }

                                                    </div>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date6.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date6.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date7.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date7.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }

                                                    </div>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date8.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date8.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }
                                                    </div>
                                                </td>
                                                <td scope="row"><label class="form-label">Hib</label></td>
                                                <td>
                                                    <label class="form-label">2 Months</label>
                                                    <label class="form-label">4 Months</label>
                                                    <label class="form-label">6 Months</label>
                                                    <label class="form-label">18 Months</label>
                                                </td>
                                                <td>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date9.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date9.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }

                                                    </div>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date10.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date10.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date11.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date11.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }

                                                    </div>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date12.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date12.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><label class="form-label">M.M.R</label></td>
                                                <td>
                                                    <label class="form-label">12 Months</label>
                                                    <label class="form-label">4 Years</label>
                                                    <label class="form-label">10 Years</label>
                                                </td>
                                                <td>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date13.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date13.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date14.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date14.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }

                                                    </div>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date15.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date15.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }
                                                    </div>
                                                </td>
                                                <td scope="row"><label class="form-label">Hepatitis A</label></td>
                                                <td>
                                                    <label class="form-label">15 Months</label>
                                                    <label class="form-label">21 Months</label>
                                                    <label class="form-label">10 Years</label>
                                                </td>
                                                <td>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date16.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date16.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date17.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date17.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }

                                                    </div>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date18.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date18.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td scope="row"><label class="form-label">Meningococcal A-C</label></td>
                                                <td>
                                                    <label class="form-label">2 Years</label>
                                                    <label class="form-label">5 Years</label>
                                                    <label class="form-label">11 Years</label>
                                                </td>
                                                <td>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date19.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date19.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date20.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date20.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }

                                                    </div>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date21.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date21.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }
                                                    </div>
                                                </td>
                                                <td scope="row"><label class="form-label">Typhoid</label></td>
                                                <td>
                                                    <label class="form-label">2 Years</label>
                                                    <label class="form-label">5 Years</label>
                                                    <label class="form-label">11 Years</label>
                                                </td>
                                                <td>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date22.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date22.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date23.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date23.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }

                                                    </div>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date24.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date24.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="border-bottom">
                                                <td scope="row"> <label class="form-label">Tetanus</label></td>
                                                <td> <label class="form-label">8 Years</label></td>
                                                <td>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date27.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date27.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }
                                                    </div>
                                                </td>
                                                <td scope="row"> <label class="form-label">Varicella</label></td>
                                                <td>
                                                    <label class="form-label">12 Months</label>
                                                    <label class="form-label">18 Months</label>
                                                </td>
                                                <td>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date25.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date25.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date26.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date26.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td> <label class="form-label">DPT-POLIO DTaP</label></td>
                                                <td>
                                                    <label class="form-label">2 Months</label>
                                                    <label class="form-label">4 Months</label>
                                                    <label class="form-label">6 Months</label>
                                                    <label class="form-label">18 Months</label>
                                                    <label class="form-label">4 Years</label>
                                                </td>
                                                <td>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date28.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date28.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date30.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date30.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date31.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date31.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }
                                                    </div>
                                                    <div class="input-group-prepend">
                                                        @{
                                                            if (@Model.vac_rec_date32.ToString("dd/MM/yyyy") != "01/01/1900")
                                                            {
                                                                <label class="form-label">@Model.vac_rec_date32.ToString("dd/MM/yyyy")</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="form-label"></label>
                                                            }
                                                        }
                                                    </div>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-11 col-md-12 col-lg-4">
                                <span class="text-capitalize text-left text-red">@emr.doc_name&nbsp;</span>
                                <span class="text-capitalize text-left text-red">@emr.emp_license&nbsp;</span>
                                <label class="form-label mb-2">
                                    Doctor Name & Licence
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-11 col-md-12 col-lg-4">
                                <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                                <label class="form-label mb-2">
                                    Signature/Stamp
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="text-center">
                    <img src="@Model.set_footer_image" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    console.log("@Model.vac_rec_date29.ToString("dd/MM/yyyy")");
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>


