@model BusinessEntities.Masters.SourcewiseCampaigns
<style>
    #sizeCamp {
        max-width: 800px;
    }
</style>
<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold">Create New Campaign</h5>
    <button type="button" class="btn-close close-camp-modal" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body p-4">
    <form id="form_Create_Campaign" class="needs-validation" >
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 mb-4 font-weight-semibold">
                <span class="text-danger" style="font-size:smaller">Required fields are marked with *</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="form-label">
                        Source&nbsp;<span class="text-danger">*</span>
                    </label>
                    @Html.DropDownListFor(m => m.esc_eqcId, new List<SelectListItem> { }, "Search for", new { @class = "form-select select2" })
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="form-label">Title&nbsp;<span class="text-danger">*</span></label>
                    @Html.TextBoxFor(m => m.esc_title, new { @class = "form-control", @placeholder = "Enter Campaign" })
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group mb-3">
                    <label class="form-label text-black font-weight-semibold">Issued Date&nbsp;<span class="text-danger">*</span></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fe fe-calendar"></i>
                            </div>
                        </div>
                        @Html.TextBoxFor(m => m.esc_start_date, new { @class = "form-control", @placeholder = "DD-MM-YYYY", @id = "esc_start_date" })
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group mb-3">
                    <label class="form-label text-black font-weight-semibold">Expiry Date&nbsp;<span class="text-danger">*</span></label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fe fe-calendar"></i>
                            </div>
                        </div>
                        @Html.TextBoxFor(m => m.esc_end_date, new { @class = "form-control", @placeholder = "DD-MM-YYYY", @id = "esc_end_date" })
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group mb-3">
                    <label class="form-label text-black">Description</label>
                    @Html.TextAreaFor(m => m.esc_desc, new { @class = "form-control", @placeholder = "Enter Description" })
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div id="errorCamp"></div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="btn-list btn-animation">
                    <button type="submit" class="btn btn-success" id="btn_Insert_Campaign">Create Campaign</button>
                    <button type="button" class="btn btn-outline-danger me-1 close-camp-modal" id="btn_Close_Add">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">

    //#region Document Onload
    $(function () {
        $('#esc_start_date').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-",
            startDate: new Date()
        });
        $("#esc_start_date").bootstrapdatepicker("setDate", 'today');

        $('#esc_end_date').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-",
            startDate: new Date()
        });
        $("#esc_end_date").bootstrapdatepicker("setDate", '+1w');

        validate();

        load_sources();
    });
    //#endregion

    //#region Validation Initialization
    var validate = function () {
        $("#form_Create_Campaign").validate({
            rules: {
                esc_eqcId: {
                    required: true
                },
                esc_title: {
                    required: true
                },
                esc_start_date: {
                    required: true
                },
                esc_end_date: {
                    required: true
                }
            },
            messages: {
                esc_eqcId: {
                    required: "Please Select Source"
                },
                esc_title: {
                    required: "Please Enter Campaign"
                },
                esc_start_date: {
                    required: "Please Enter Start Date"
                },
                esc_end_date: {
                    required: "Please Enter End Date"
                }
            },
            highlight: function (element) {
                var elem = $(element);

                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                }
                else {
                    elem.parent().addClass('has-error');
                }
                $(element).parent().addClass('has-error');
                error_Timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                } else {
                    elem.removeClass('has-error');
                }
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-semibold',
            errorPlacement: function (error, element) {
                var elem = $(element);

                if (elem.hasClass("select2-hidden-accessible")) {
                    element = $("#select2-" + elem.attr("id") + "-container").parent();
                    error.insertAfter(element);
                }
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                }
                else {
                    error.insertAfter(element);
                }
            }
        });

        $('#esc_title').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^a-zA-Z ]/g))
                return false;
        });

        $('#esc_start_date').on('change', function () {
            $(this).trigger('blur');
        });

        $('#esc_end_date').on('change', function () {
            $(this).trigger('blur');
        });

        $('#esc_start_date').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                return false;

            }
            else {
                if (e.target.value.length >= 18)
                    return false;
            }
        });

        $('#esc_end_date').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                return false;

            }
            else {
                if (e.target.value.length >= 18)
                    return false;
            }
        });
    }
    //#endregion

    //#region Load Sources
    var load_sources = function () {
        $("#esc_eqcId").select2({
            placeholder: 'Select Source',
            width: '100%',
            dropdownParent: $('#form_Create_Campaign'),
            minimumInputLength: '',
            escapeMarkup: function (markup) {
                return markup;
            },
            ajax: {
                url: '@Url.Action("GetSources", "Marketing", new { area = "Marketing" })',
                dataType: 'json',
                delay: 250,
                data: function (query) {
                    return {
                        query: query.term
                    };
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                },
                cache: true
            }
        });
    }
    //#endregion

    //#region Insert Campaign Button Click
    $('#btn_Insert_Campaign').on('click', function (e) {
        e.preventDefault();
        if ($("#form_Create_Campaign").valid()) {

            $('#btn_Insert').removeClass("btn btn-success");
            $('#btn_Insert').addClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Insert').html("Creating.. Please Wait");

            let isValid = true;
            let start_frm = moment($("#esc_start_date").val());
            let end_to = moment($("#esc_end_date").val());

            // Check if Date Range is valid
            if (($("#esc_start_date").val() != null && $("#esc_start_date").val() != 0 && $("#esc_start_date").val() != "" && $("#esc_start_date").val() != undefined) && ($("#esc_end_date").val() != null && $("#esc_end_date").val() != 0 && $("#esc_end_date").val() != "" && $("#esc_end_date").val() != undefined)) {
                if (start_frm.isValid() && end_to.isValid()) {
                    if (end_to.diff(start_frm, 'days') <= 0) {
                        isValid = false;

                        var index = [];
                        index.push("esc_start_date");
                        index.push("esc_end_date");

                        $.each(index, function (i, v) {
                            if (index[i] != null && index[i] != "") {
                                var elem = $("#" + index[i]);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            }
                        });

                        e.stopPropagation();
                    }
                }
            }

            if (isValid) {
                create_campaign();
            }
            else {
                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                    "<div class='alert alert-light-warning' role='alert'>" +
                    "<button type='button' class='btn-close text-warning' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                    "<i class='fe fe-alert-triangle'></i> <strong>Expiry Date can't be less than Issue Date!</strong><br/>" +
                    "</div></div>";
                $("#errorCamp").html(html);
            }
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion

    //#region Create Campaign
    var create_campaign = function () {

        var _dataInsert = {
            "escId": 0,
            "esc_eqcId": $("#esc_eqcId :selected").val(),
            "esc_title": $("#esc_title").val().trim(),
            "esc_desc": $("#esc_desc").val().trim(),
            "esc_start_date": moment($("#esc_end_date").val()).format("YYYY-MM-DD"),
            "esc_end_date": moment($("#esc_start_date").val()).format("YYYY-MM-DD"),
            "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
        }

        $.ajax({
            type: "POST",
            url: "@Url.Action("InsertCampaign", "Marketing", new { area = "Marketing" })",
            dataType: 'JSON',
            data: _dataInsert,
            success: function (data) {
                $('#btn_Insert').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Insert').addClass("btn btn-success");
                $('#btn_Insert').html("Create Campaign");

                var _from = $('#campaign_modal').attr("data-modal-from");

                if (data.isSuccess) {
                    if (data.isInserted) {
                        var campaign = {
                            "escId": data.message,
                            "esc_title": $("#esc_title").val().trim(),
                            "id": $("#esc_eqcId :selected").val(),
                            "text": $("#esc_eqcId :selected").text(),
                        }

                        localStorage.setItem("newCampaign", JSON.stringify(campaign));

                        if (_from === "create-enquiry") {
                            $('#campaign_modal').modal('hide');
                            $('#create_enquiry').modal('toggle');
                        }
                        else if (_from === "update-enquiry") {
                            $('#campaign_modal').modal('hide');
                            $('#update_enquiry').modal('toggle');
                        }
                       
                        clearControls();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-light-warning' role='alert'>" +
                            "<button type='button' class='btn-close text-warning' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<i class='fe fe-alert-triangle'></i> <strong>Warning! Campaign Already Exists.</strong><br/>" +
                            "</div></div>";
                        $("#errorCamp").html(html);
                    }
                }
                else {
                    let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                        "<div class='alert alert-light-danger' role='alert'>" +
                        "<button type='button' class='btn-close text-danger' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<i class='fa fa-ban'></i> <strong>Error! Please validate before you submit the form.&nbsp;</strong><br/><ul>";

                    $.each(data.message, function (index, value) {
                        html += "<li><small>" + value + "</small><li>";
                        var elem = $("#" + index);
                        if (elem.hasClass("select2-hidden-accessible")) {
                            $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                        }
                        else {
                            $(elem).addClass(" is-invalid");
                        }

                        setTimeout(function () {
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                            }
                            else {
                                $(elem).removeClass("is-invalid");
                            }
                        }, 5000);
                    });

                    html += "</ul></div></div>";
                    $("#errorCamp").html(html);
                }
            },
            error: function (xhr) {
                console.log(xhr.statusText);
                $('#btn_Insert').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Insert').addClass("btn btn-success");
                $('#btn_Insert').html("Create Campaign");
            }
        });
    }
    //#endregion

    //#region Clear Controls
    var clearControls = function () {
        $("#eqcId").val("").text("").trigger("change");
        $("#esc_title").val("");
        $("#esc_desc").val("");
        $("#esc_start_date").bootstrapdatepicker("setDate", "today");
        $("#esc_end_date").bootstrapdatepicker("setDate", "+1w");
    }
    //#endregion

    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion

    //#region Close Campaign Click
    $('.close-camp-modal').on('click', function (e) {
        e.preventDefault();
        var _from = $('#campaign_modal').attr("data-modal-from");

        if (_from === "create-enquiry") {
            $('#campaign_modal').modal('hide');
            $('#create_enquiry').modal('toggle');
        }
        else if (_from === "update-enquiry") {
            $('#campaign_modal').modal('hide');
            $('#update_enquiry').modal('toggle');
        }
        else {
            $('#campaign_modal').modal('hide');
        }
    });
    //#endregion

</script>