@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConsentForms.VascularConsent

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_VascularConsentEdit" autocomplete="off" name="VascularConsent" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5 mt-5 text-justify col-sm-12 col-md-12 col-lg-12">
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            I hereby authorize Dr.<label class="text-red text-left">@emr.doc_name&nbsp;</label> or,
            @Html.TextBoxFor(m => m.pic_1, new { @class = "form-control-sm", @id = "upic_1", @maxlength = "250" })  under Dr.<label class="text-red text-left">@emr.doc_name&nbsp;</label>’s supervision to remove or lighten the appearance of
            vascular and/or pigmented lesions. The procedure involves using a laser or pulsed light device to coagulate the vessels or vascular lesions and/or treat pigmented lesions, age spots, and sun spots by melanin absorption. I understand it may take multiple treatments to obtain optimal results. Although these devices are effective in most cases, no guarantees can be made. I understand I may not experience complete clearance, and that it may take multiple treatments. Some conditions may not respond at all and, in rare cases, may become worse
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2 font-weight-semibold">The procedure may result in the following adverse experiences or risks:</div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            <ul style="list-style-type:disc;">
                <li class="mb-2 mt-2"><span class="font-weight-semibold">DISCOMFORT</span>&nbsp;Some discomfort may be experienced during treatment.</li>
                <li class="mb-2 mt-2"><span class="font-weight-semibold">REDNESS/SWELLING/BRUISING</span>&nbsp;Short term redness (erythema) is common and swelling (edema) of the treated area may occur. Additionally, there may be some bruising.</li>
                <li class="mb-2 mt-2"><span class="font-weight-semibold">SKIN COLOR CHANGES</span>&nbsp;During the healing process, there is a slight possibility that the treated area may become either lighter (hypopigmentation) or darker (hyperpigmentation) in color compared to the surrounding skin. This is usually temporary, but, on a rare occasion, it may be permanent.</li>
                <li class="mb-2 mt-2"><span class="font-weight-semibold">WOUNDS</span>&nbsp;Treatment can result in burning, blistering or bleeding of the treated areas. If any of these occur, please call our office</li>
                <li class="mb-2 mt-2"><span class="font-weight-semibold">BURNS and INFECTION</span>&nbsp;Infection is a rare possibility whenever the skin surface is disrupted, though proper wound care should prevent this. If signs of infection develop, such as pain, heat or surrounding redness, please call our office(Phone number) @Html.TextBoxFor(m => m.pic_2, new { @class = "form-control-sm", @id = "upic_2", @maxlength = "250" })</li>
                <li class="mb-2 mt-2"><span class="font-weight-semibold">SCARRING</span>&nbsp;Scarring is a rare occurrence, but it is a possibility if the skin’s surface is disrupted. To minimize the chances of scarring, it is IMPORTANT that you follow all post-treatment instructions provided by your healthcare staff.</li>
                <li class="mb-2 mt-2"><span class="font-weight-semibold">EYE EXPOSURE</span>&nbsp;Protective eyewear (shields) will be provided to you during the treatment. Failure to wear eye shields during the entire treatment may cause severe and permanent eye damage.</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2 font-weight-semibold">I acknowledge the following points have been discussed with me:</div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            <ul style="list-style-type:disc;">
                <li class="mb-2 mt-2"> Potential benefits of the proposed procedure, including the possibility that the procedure may not work for me</li>
                <li class="mb-2 mt-2">Alternative treatments such as sclerotherapy or surgery</li>
                <li class="mb-2 mt-2">Reasonably anticipated health consequences if the procedure is not performed</li>
                <li class="mb-2 mt-2">Possible complications/risks involved with the proposed procedure and subsequent healing period</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2"><span class="font-weight-semibold">For women of childbearing age :</span>By signing below I confirm that I am not pregnant and do not intend to become pregnant anytime during the course of treatment. Futher more, I agree to keep Dr. <label class="text-red text-left">@emr.doc_name&nbsp;</label> and staff informed should I become pregnant during the course of treatment.</div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">Photographic documentation will be taken. I hereby &nbsp;do  <input type="radio" id="upic_31" value="Yes" name="upic_3" class="me-2" />&nbsp;do not<input type="radio" id="upic_32" value="No" name="upic_3" class="me-2" />authorize the use of my photographs for teaching purposes.</div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2 font-weight-semibold">ACKNOWLEDGMENT</div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">BY MY SIGNATURE BELOW, I ACKNOWLEDGE THAT I HAVE READ AND FULLY UNDERSTAND THE CONTENTS OF THIS INFORMED CONSENT FOR TREATMENT OF VASCULAR/PIGMENTED LESIONS AND THAT I HAVE HAD ALL MY QUESTIONS ANSWERED TO MY SATISFACTION BY MY HEALTHCARE TEAM.</div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="3" class="font-weight-bold text-danger fs-18" width="100%">
                        Sign here, only if all of your questions have been answered to your satisfaction
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <div id="upat_sign_box" class="d-none">
                            <img alt="stamp" id="upat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    @*<td width="33%">
                            <div id="wit_sign_box" class="d-none">
                                <img alt="stamp" id="wit_sign" class="avatar avatar-xl bsquare" />
                            </div>
                        </td>*@
                    <td width="33%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold"> Patient Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                    @*<td width="33%">
                            <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                            <span class="font-weight-semibold">Date</span>
                        </td>*@
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize">@emr.doc_name&nbsp;</label>
                        <span class="font-weight-semibold">Doctor’s Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue" width="33%">
                        Patient Signature
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    @*<td class="font-weight-semibold text-blue" width="33%">
                            Witness Signature
                            <br />
                            <button class="btn btn-sm btn-outline-secondary mb-2" id="witness" type="button" onclick="openSignaturePad(this.id)">
                                <i class="fa fa-paint-brush">&nbsp;&nbsp;</i>Witness
                            </button>
                        </td>*@
                    <td class="font-weight-semibold text-blue text-center" width="33%">Doctor’s Sign & Stamp</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update">Save Changes</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                <button type="button" class="btn btn-danger btn-sm" id="btn_DeleteForm">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print"> Download/Print </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Update").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Update").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Update").show();
                }
                else {
                    $("#btn_Update").hide();
                }
            }
        }
        validate();
        GetSignaturename('patient');
        GetCheckedValues();
    });

    //#region Validation Initialization
    var validate = function () {
        $("#form_VascularConsentEdit").validate({
            rules: {
                pic_1: {
                    required: true
                },
                pic_2: {
                    required: true
                },


            },
            messages: {
                pic_1: {
                    required: "Please Enter Doctor Name"
                },
                pic_2: {
                    required: "Please Enter Phone Number"
                },


            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
    //#endregion

    //#region Update  Click
    $('#btn_Update').on('click', function (e) {
        e.preventDefault();
        if ($("#form_VascularConsentEdit").valid()) {
            console.log($("#iccId").val());
            $('#btn_Update').removeClass("btn btn-sm btn-success");
            $('#btn_Update').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Update').html("Updating the Record....");

            var upic_3 = "";

            if ($('#upic_31').prop('checked')) {
                upic_3 = "Yes";
            }
            else if ($('#upic_32').prop('checked')) {
                upic_3 = "No";
            }

            var _dateInsert = {
                "picId": 0,
                "pic_appId": @emr.appId,
                "pic_1": $("#upic_1").val(),
                "pic_2": $("#upic_2").val(),
                "pic_3": upic_3,
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

            console.log(_dateInsert);

            $.ajax({
                type: "Post",
                url: "@Url.Action("EditVascularConsent", "VascularConsent", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isEdited) {
                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>  Vascular Consent Form Updated Successfully!", "success");
                            Timeout();
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning.. Vascular Consent Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion Update Click

        //#region Print
$('#btn_Print').on('click', function (e) {
    e.preventDefault();
    $('#btn_Print').removeClass("btn btn-success");
    $('#btn_Print').addClass("btn btn-success btn-loaders btn-icon");
    $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "VascularConsent", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=VascularConsent",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {

                if (data.success)
                    console.log(data);
                    console.log(data.message.pdfPath); {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print

    //#region Delete Click
    $('#btn_DeleteForm').on('click', function (e) {
        e.preventDefault();
        $('#btn_DeleteForm').removeClass("btn btn-success");
        $('#btn_DeleteForm').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_DeleteForm').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteVascularConsent", "VascularConsent", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-warning");
                $('#btn_DeleteForm').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>Vascular Consent Form Deleted Successfully!", "success");
                        clearControls();
                        Timeout();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-Delete");
                $('#btn_DeleteForm').html("Delete");
                Timeout();
            }
        })
    });
//#endregion


    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("input[name='upic_3']:radio").prop('checked', false);
        $("#upat_sign").attr("src", "");
    }
    //#endregion Clear Controls
    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "VascularConsent",
                "appId": @emr.appId,
                "formname":"Vascular Consent",
                "formlink":"",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion
    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "VascularConsent",
            "appId": @emr.appId,
            "formname":"Vascular Consent",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            localStorage.removeItem("sign");
        }
    });

    //#region Get Signature
    var GetSignaturename = function  (person) {
        $.ajax({
            url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=VascularConsent',
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                console.log(response);
                let sign = response[0].psb_sign;
                if (response[0].person == "patient") {
                    $("#upat_sign_box").removeClass("d-none");
                    $("#upat_sign").attr("src", sign);
                }

            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr);
            }

        });
    };
    //#endregion Get Signature

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout

    //#region Get CheckedValues
    var GetCheckedValues = function (checknames) {
        var checknames = "@Model.pic_3";

        if (checknames !== null) {

            if (checknames != "") {
                if (checknames == "Yes") {
                    $('#upic_31').attr('checked', 'checked');
                    $("#upic_31").prop("checked", true);

                }
                if (checknames == "No") {
                    $('#upic_32').attr('checked', 'checked');
                    $("#upic_32").prop("checked", true);

                }

            }
        }
    }
//#endregion Get CheckedValues
</script>


