@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConsentForms.FacialFiller

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_FacialFiller" autocomplete="off" name="FacialFiller" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name <br />اسم المريض</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID <br />هويه الإمارات</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No <br />رقم الملف</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB <br />تاريخ الميلاد</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality <br />جنسية</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender <br />جنس</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name <br />اسم الطبيب</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date <br />تاريخ</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5 mt-5">

        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row text-justify">
                <div class="col-lg-6 mb-4 text-justify">
                    I, the undersigned hereby consent to allow myself to undertake FACIAL FILLERS / BOTOX/ RRS LONGLASTING procedures which discussed during our consultation for the purpose of aesthetic enhancement
                </div>
                <div dir="rtl" class="col-lg-6  mb-4 text-right text-justify">
                    أنا ، الموقع أدناه ، أوافق على السماح لنفسي بالقيام بإجراءات FACIAL FILLERS / BOTOX / RRS LONGLASTING التي تمت مناقشتها خلال استشارتنا لغرض لتحسين الجمالي
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row text-justify">
                <div class="col-lg-6 mb-4 text-justify">
                    <ol>
                        <li>Facial Fillers , Botox and RRS Long Lasting are temporary to long lasting solutions administered through a few tiny facial injections on specific areas of the face</li>
                        <li>I am aware that these services will be provided to me by licensed doctors, nurses, physician’s assistance and other medical staff </li>
                        <li>Bruises are common and normal during and after the treatment  and it will subsides after few hours</li>
                        <li>I declare that I have not done Botox to any part of my body during the past 3 months</li>
                        <li>
                            I hereby acknowledge that I am advised to adhere the following instruction as;<br />
                            <ul style="list-style:disc" class="ms-5">
                                <li><p>Avoid exercise for three days after facial /fillers/RRS Long Lasting and botox treatment</p></li>
                                <li><p>Away from hot bath and hot water for 3 days</p></li>
                                <li><p>Avoid sleeping on any side of your face for 3 days</p></li>
                                <li><p>Avoid rubbing or massaging the injection area</p></li>
                            </ul>
                        </li>
                        <li>I agree that if I should have any questions or concerns regarding my treatment results. I will notify the clinic immediately so that timely follow-up and intervention can be provided</li>
                        <li>I acknowledge that this treatment have been thoroughly explained to me  in a detailed in all clear manner with its benefits and risks  and other unknown and unexpected side effects from the procedure </li>
                        <li>All of my questions have been satisfactorily answered and I agree to adhere to all safety precautions and instructions after the treatment</li>
                        <li>Top Life Physiotherapy and Hijjama Center is not responsible for any complications that may occur due to non-compliance with the instruction required for this procedure</li>
                        <li>I hereby give my voluntary consent to undergo Facial Fillers/ RRS Long Lasting and Botox and release Top Life Physiotherapy and Hijjama Center, its medical staff, and administrations from any liability associated with the procedure</li>
                    </ol>
                </div>
                <div dir="rtl" class="col-lg-6  mb-4 text-right text-justify">
                    <ol class="mb-2 fs-15 text-justify">
                        <li>حشو الوجه والبوتوكس عبارة عن حلول مؤقتة إلى طويلة الأمد تُعطى من خلال عدد قليل من حقن الوجه الصغيره في مناطق معينة من الوجه </li>
                        <li>أدرك أن هذه الخدمات سيتم توفيرها لي من قبل أطباء وممرضات ومساعدة طبيب وطاقم طبي آخر</li>
                        <li>الكدمات شائعة وطبيعية أثناء وبعد العلاج وتختفي في بعض الأحيان</li>
                        <li>أقر انني لم اقم بعمل بوتوكس لاي منطقة في الجسم خلال الــ 3 شهور الماضية</li>
                        <li>
                            أقر بموجب هذا بأنني تم نصحي بالالتزام بالتعليمات على النحو التالي:<br />
                            <ul style="list-style:disc" class="me-5">
                                <li><p> تجنب ممارسة الرياضة لمدة ثلاثة أيام بعد حشو الوجه وعلاج البوتوكس والابره الاسبانيه</p></li>
                                <li><p>الابتعاد عن الحمام الساخن والماء الساخن لمدة 3 أيام</p></li>
                                <li><p>تجنب النوم على أي جانب من وجهك لمدة 3 أيام</p></li>
                                <li><p>تجنب فرك أو تدليك منطقة الحقن</p></li>
                            </ul>
                        </li>
                        <li>أوافق على أنه إذا كان لدي أي أسئلة أو مخاوف بشأن نتائج علاجي. سأقوم بإخطار العيادة على الفور حتى يمكن توفير المتابعة والتدخل في الوقت المناسب</li>
                        <li>
                            تم شرح جميع طرق العلاج اللازمة لي بشكل مفصل وبكل طريقة واضحة والآثار الجانبية المحتملة
                            قد تحدث بعض الاعراض الجانبية الغير معروفة والغير متوقعة في بعض الاحيان .
                        </li>
                        <li>	تمت الإجابة على جميع أسئلتي بصورة مرضية وأوافق على الالتزام بجميع احتياطات وتعليمات السلامة بعد العلاج</li>
                        <li>
                            مركز توب لايف للعلاج الطبيعي والحجامة غير مسؤول عن أي
                            مضاعفات قد تحدث بسبب عدم الامتثال للتعليمات المطلوبة
                            لهذا الاجراء
                        </li>
                        <li>أمنح بهذا موافقتي علي الخضوع/الابره الاسبانيه RRS LONGLASTING FACIAL FILLERS / BOTOX دون ادني مستوي علي مركز توب لايف للعلاج الطبيعي وطاقمه الطبي وادارته من اي مسئولية ترتبط بالاجراء.</li>

                    </ol>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row text-justify">
                <div class="col-lg-6 mb-4 font-weight-semibold">
                    "I agree that healthcare provider(s) involved in my care at this facility will access my health information through the Health Information Exchange System(NABIDH) in accordance with the Laws of the United Arab Emirates, Emirate of Dubai Legislation and Dubai Health Authority Policies "
                </div>
                <div dir="rtl" class="col-lg-6  mb-4 text-justify font-weight-semibold">
                    اوافق بان يقوم مزاولي المهن الصحية المشرفين علي تقديم خدمات الرعاية الصحية لي في هذه المنشاة. بالاطلاع علي معلوماتي الصحية في نظام تبادل  المعلومات الصحية(نابض) وفقا للتشريعات السارية في دولة الامارات العربية المتحدة بشكل عام و امارة دبي بشكل خاص بمافيها القرارات الصادرة عن هيئة الصحة في دبي
                </div>
            </div>
        </div>

    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="3" class="font-weight-bold text-danger fs-18" width="100%">
                        Sign here, only if all of your questions have been answered to your satisfaction<br />قم بالتوقيع هنا، فقط إذا تمت الإجابة على جميع أسئلتك بما يرضيك
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <div id="pat_sign_box">
                            <img alt="stamp" id="pat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <div id="wit_sign_box">
                            <img alt="stamp" id="wit_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold"> Patient Name<br />اسم المريض</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="psb_date_patient" name="">&nbsp;</label>
                        <span class="font-weight-semibold">Date<br />تاريخ</span>
                    </td>
                    <td width="33%">
                        @Html.TextBoxFor(m => m.ffc_1, new { @class = "form-control form-control-sm", style = "text-align:center", @id = "ffc_1", @maxlength = "250" })<br />
                        <span class="font-weight-semibold">Witness Name<br />اسم الشاهد</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="psb_date_witness" name="">&nbsp;</label>
                        <span class="font-weight-semibold">Date<br />تاريخ</span>
                    </td>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize">@emr.doc_name&nbsp;</label>
                        <span class="font-weight-semibold">Doctor’s Name<br />اسم الطبيب</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="ffc_date_doctor"></label>
                        <span class="font-weight-semibold">Date<br />تاريخ</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue" width="33%">
                        Patient Signature<br />توقيع المريض
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue" width="33%">
                        Witness Signature<br />توقيع الشاهد
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> witness
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('witness')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('witness')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center" width="33%">Doctor’s Signature<br />توقيع الطبيب</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-success btn-sm" id="btn_Insert">Save</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset_C">Reset</button>
                <button type="button" class="btn btn-danger btn-sm d-none" id="btn_Delete">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success d-none" id="btn_Print_C"> Download/Print </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Insert").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Insert").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Insert").show();
                }
                else {
                    $("#btn_Insert").hide();
                }
            }
        }

        validate();
    });

    //#region Validation Initialization
    var validate = function () {
        $("#form_FacialFiller").validate({
            rules: {
                ffc_1: {
                    required: true
                },
            },
            messages: {
                ffc_1: {
                    required: "Please Enter Witness Name"
                },
            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
    //#endregion

    //#region Add  Click
    $('#btn_Insert').on('click', function (e) {
        e.preventDefault();
        if ($("#form_FacialFiller").valid()) {
            $('#btn_Insert').removeClass("btn btn-sm btn-success");
            $('#btn_Insert').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Insert').html("Saving the Record....");

            var _dateInsert = {
                "ffcId": 0,
                "ffc_appId": @emr.appId,
                "ffc_1": $("#ffc_1").val(),
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }
            console.log(_dateInsert);

            $.ajax({
                type: "Post",
                url: "@Url.Action("InsertFacialFiller", "FacialFiller", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-sm btn-success");
                    $('#btn_Insert').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isInserted) {
                            GetFacialFillerInfo();
                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>  Facial Filler Consent Form Saved Successfully!", "success");
                            Timeout();
                            $("#btn_Delete").removeClass("d-none");
                            $("#btn_Print_C").removeClass("d-none");
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning..Facial Filler Consent Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-sm btn-warning");
                    $('#btn_Insert').html("Add");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion Add Click

    //#region Delete Click
    $('#btn_Delete').on('click', function (e) {
        e.preventDefault();
        $('#btn_Delete').removeClass("btn btn-success");
        $('#btn_Delete').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Delete').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteFacialFiller", "FacialFiller", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-warning");
                $('#btn_Delete').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i> FacialFiller Consent Form Deleted Successfully!", "success");
                        clearControls();
                        Timeout();

                        $('#btn_Delete').addClass("d-none");
                        $("#pat_sign_box").addClass("d-none");
                        $("#wit_sign_box").addClass("d-none");
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-Delete");
                $('#btn_Delete').html("Delete");
                Timeout();
            }
        })
    });
//#endregion

    //#region Print
    $('#btn_Print_C').on('click', function (e) {
        console.log('Hello')
        e.preventDefault();
        $('#btn_Print_C').removeClass("btn btn-success");
        $('#btn_Print_C').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Print_C').html("Printing the Record....");
        $.ajax({
            type: "Get",
            url: "@Url.Action("PrintPDFConsent", "FacialFiller", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=FacialFiller",
            dataType: 'JSON',
            success: function (data) {
                if (data.isAuthorized) {
                    if (data.success) {
                        window.location.href = data.message.pdfPath
                    }
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        });
    });
    //#endregion Print

    //#region Reset
    $('#btn_Reset_C').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("#pat_sign,#wit_sign").attr("src", "");

    }
    //#endregion Clear Controls

    //#region Wacom Tab Signature
var openWacomTabSignaturePad = function (id) {
        var _data = {
    "patId": @emr.patId,
    "person": id,
    "form": "FacialFiller",
    "appId": @emr.appId,
    "formname":"Facial Filler",
    "formlink":"",
    "eSign":""
}
        $.ajax({
            type: "GET",
            url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
//#endregion

    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "FacialFiller",
            "appId": @emr.appId,
            "formname":"Facial Filler",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            GetSignaturename('witness');
            localStorage.removeItem("sign");
        }
    });

     //#region Get Signature
 var GetSignaturename = function  (person) {
     $.ajax({
         url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=FacialFiller',
         type: "GET",
         dataType: "json",
         async: false,
         success: function (response) {
             console.log(response);
             let sign = response[0].psb_sign;
             var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY");

             if (response[0].person == "patient") {
                 $("#pat_sign_box").removeClass("d-none");
                 $("#psb_date_patient").html(date);
                 $("#pat_sign").attr("src", sign);
             }
             if (response[0].person == "witness") {
                 $("#wit_sign_box").removeClass("d-none");
                 $("#wit_sign").attr("src", sign);
                 $("#psb_date_witness").html(date);
             }
         },
         error: function (xhr) {
             console.log(xhr);
             alert(xhr);
         }

     });
 };
 //#endregion Get Signature

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout

</script>
