@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Facial Filler";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Facial Filler/RRS Long Lasting/Botox Consent Form<br /><span dir="rtl">حشو الوجه / RRS طويل الأمد / نموذج الموافقة على البوتوكس</span>
                </h3>
            </div>
            <div class="card-body">
                <div id="FacialFiller_add" style="display:none">
                </div>
                <div id="FacialFiller_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="FacialFiller_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetFacialFillerInfo();
        FacialFillerPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetFacialFillerInfo
    var GetFacialFillerInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetFacialFillerData", "FacialFiller", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditFacialFiller();
                        $("#FacialFiller_add").hide();
                        $("#FacialFiller_edit").show();

                    }
                    else {
                        $("#FacialFiller_add").show();
                        $("#FacialFiller_edit").hide();
                        AddFacialFiller();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load FacialFiller

    //#region Add FacialFiller
    function AddFacialFiller() {
        var x = $("#FacialFiller_add");
        x.load("@Url.Action("CreateFacialFiller", "FacialFiller", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add FacialFiller

    //#region Update FacialFiller
    function EditFacialFiller() {
        var x = $("#FacialFiller_edit");
        x.load("@Url.Action("UpdateFacialFiller", "FacialFiller", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update FacialFiller

    //#region Histroy of FacialFiller
    function FacialFillerPreviousHistory() {
        var x = $("#FacialFiller_history");
        x.load("@Url.Action("FacialFillerPreviousHistory", "FacialFiller", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>