@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Ematrix";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Ematrix Consent Form1</h3>
            </div>
            <div class="card-body">
                <div id="Ematrix1_add" style="display:none">
                </div>
                <div id="Ematrix1_edit">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="Ematrix1_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetEmatrix1Info();
        Ematrix1PreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetEmatrix1Info
    var GetEmatrix1Info = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetEmatrix1Data", "Ematrix1", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditEmatrix1();
                        $("#Ematrix1_add").hide();
                        $("#Ematrix1_edit").show();

                    }
                    else {
                        $("#Ematrix1_add").show();
                        $("#Ematrix1_edit").hide();
                        AddEmatrix1();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load Ematrix1

    //#region Add Ematrix1
    function AddEmatrix1() {
        var x = $("#Ematrix1_add");
        x.load("@Url.Action("CreateEmatrix1", "Ematrix1", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add Ematrix1

    // #region Update Ematrix1
    function EditEmatrix1() {
        var x = $("#Ematrix1_edit");
        x.load("@Url.Action("UpdateEmatrix1", "Ematrix1", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update Ematrix1

    //#region Histroy of Ematrix1
    function Ematrix1PreviousHistory() {
        var x = $("#Ematrix1_history");
        x.load("@Url.Action("Ematrix1PreviousHistory", "Ematrix1", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>