
@model BusinessEntities.Invoice.Receipts
<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold" id="exampleModalLongTitle">Create New Advance/Loyalty/Refund </h5>
    <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body p-4">
    <h3 class="card-title">

        <span class="badge rounded-pill bg-danger mt-2 pull-right" id="spn_outstanding"><span class="text-white"> <strong>Package Amount: </strong></span> <strong>&nbsp;@Model.total AED</strong></span>
    </h3>
    <div class="row">
        <div class="col-md-2 d-none">
            <div class="form-group">
                <div class="form-label">Type&nbsp;<span class="text-danger">*</span></div>
                <div class="btn-list">
                    <div class="btn-group" role="group" aria-label="Type of Receipt">
                        <input type="radio" class="btn-check" name="rdoType" id="rdoAdvance" value="Advance" autocomplete="off" checked>
                        <label class="btn btn-outline-info" for="rdoAdvance">Advance</label>
                    </div>
                </div>
            </div>
        </div>
        <form id="form_advance" >
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-label"><span class="text-info">Date&nbsp;<span class="text-danger">*</span></span></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fe fe-calendar"></i>
                                </div>
                            </div>
                            <input type="text" name="rec_date" id="rec_date" class="form-control font-weight-semibold" placeholder="Ex:DD-MMM-YYYY" autocomplete="off" />
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="form-label"><span class="text-info">Receipt Code </span></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text font-weight-bold text-dark" id="ig_rec_prefix">
                                    ADV-
                                </div>
                            </div>
                            <input class="form-control font-weight-semibold" placeholder="Eg:Rec-0001" type="text" readonly value="@Model.rec_code" name="rec_code" id="rec_code">
                        </div>
                    </div>
                </div>
            </div>
            <hr style="margin-top: 0.5rem; margin-bottom: 0.5rem; " />

            <div id="divAdvanceRefund">
                <h3 class="card-title">
                    Payment Mode :
                </h3>



                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Cash</span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-plus text-green pay"></i>
                                    </div>
                                </div>
                                <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" id="rec_cash" name="rec_cash" oninput="validate(this,0)">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Credit Card  </span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-plus text-green pay"></i>
                                    </div>
                                </div>
                                <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" id="rec_cc" name="rec_cc" oninput="validate(this,0)">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 d-none">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Chrg. (%)</span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-plus text-green pay"></i>
                                    </div>
                                </div>
                                <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" id="rec_cc_per" name="rec_cc_per" oninput="validate(this,0)">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 d-none" id="divCq">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Cheque Amt. </span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-plus text-green pay"></i>
                                    </div>
                                </div>
                                <input class="form-control font-weight-semibold" placeholder="" type="text" value="0.00" id="rec_chq" name="rec_chq" oninput="validate(this,0)">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 d-none" id="divCqNo">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Cheque No. </span></label>
                            <input class="form-control font-weight-semibold" placeholder="Eg:123456" type="text" id="rec_chq_no" name="rec_chq_no">
                        </div>
                    </div>
                    <div class="col-md-3 d-none" id="divCqBank">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Bank Name </span></label>
                            <input class="form-control font-weight-semibold" placeholder="Eg:ADCB" type="text" id="rec_chq_bank" name="rec_chq_bank">
                        </div>
                    </div>

                    <div class="col-md-2 d-none" id="divCqDate">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Cheque Date </span></label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-calendar"></i>
                                    </div>
                                </div>
                                <input type="text" id="rec_chq_date" class="form-control font-weight-semibold" placeholder="Ex:DD-MMM-YYYY" autocomplete="off" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 d-none" id="divBT">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Bank Transfer </span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-plus text-green pay"></i>
                                    </div>
                                </div>
                                <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" id="rec_bt" name="rec_bt" oninput="validate(this,0)">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 d-none" id="divBT_Bank">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Bank Name </span></label>
                            <select class="form-select select2" id="rec_bt_bank"></select>
                        </div>
                    </div>

                    <div class="col-md-2" id="divTabby">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Tabby </span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-plus text-green pay"></i>
                                    </div>
                                </div>
                                <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" id="rec_tabby" name="rec_tabby" oninput="validate(this,0)">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 d-none" id="divSoft">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Selfology </span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-plus text-green pay"></i>
                                    </div>
                                </div>
                                <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" id="rec_self" name="rec_self" oninput="validate(this,0)">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 d-none" id="divSpo">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Spotify </span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-plus text-green pay"></i>
                                    </div>
                                </div>
                                <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" id="rec_spoti" name="rec_spoti" oninput="validate(this,0)">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 d-none" id="divCob">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Cobone </span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-plus text-green pay"></i>
                                    </div>
                                </div>
                                <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" id="rec_cob" name="rec_cob" oninput="validate(this,0)">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 d-none" id="divGro">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Group-n Add </span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-plus text-green pay"></i>
                                    </div>
                                </div>
                                <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" id="rec_group" name="rec_group" oninput="validate(this,0)">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 d-none" id="divStripe">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Stripe </span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-plus text-green pay"></i>
                                    </div>
                                </div>
                                <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" id="rec_stripe" name="rec_stripe" oninput="validate(this,0)">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2" id="divTamara">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Tamara </span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-plus text-green pay"></i>
                                    </div>
                                </div>
                                <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" id="rec_tamara" name="rec_tamara" oninput="validate(this,0)">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 d-none" id="divExtra1">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Docmate Bal. </span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-plus text-green pay"></i>
                                    </div>
                                </div>
                                <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" id="rec_extra_pay1" name="rec_extra_pay1" oninput="validate(this,0)">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 d-none" id="divExtra2">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Insta Bal. </span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-plus text-green pay"></i>
                                    </div>
                                </div>
                                <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" id="rec_extra_pay2" name="rec_extra_pay2" oninput="validate(this,0)">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 d-none" id="divExtra3">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Other </span></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-plus text-green pay"></i>
                                    </div>
                                </div>
                                <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" id="rec_extra_pay3" name="rec_extra_pay3" oninput="validate(this,0)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="divLoyalty" class="d-none">
                <h3 class="card-title">
                    Loyalty Points :
                    <br /><br />
                    <span class="text-info font-weight-semibold" style="font-size: smaller; font-style: italic; text-transform: lowercase;">
                        this loyalty point will reflect in invoice &amp; billing
                    </span>
                </h3>

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text  ">
                                        <i class="fe fe-plus text-green pay"></i>
                                    </div>
                                </div>
                                <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" id="rec_loyalty_value" name="rec_loyalty_value" oninput="validate(this,0)">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                        <textarea id="rec_notes" name="rec_notes" class="form-control" rows="5" placeholder="Enter receipts notes..."></textarea>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
                    <div class="form-group">
                        <div id="error"></div>
                    </div>
                    <div class="form-group">
                        <label class="form-label mt-1">&nbsp;<span class="text-danger" id="error_receipts"></span></label>
                    </div>
                </div>
            </div>
            <div>
                <div class="float-end mb-4">
                    <button type="button" class="btn btn-primary me-2" id="pay_receipts"><i class="si si-wallet"></i> Pay Receipt</button>
                    <button type="button" class="btn btn-outline-dark me-2" id="reset_receipts"><i class="fe fe-x"></i> Reset</button>
                    <button type="button" class="btn btn-outline-danger me-2" data-bs-dismiss="modal"><i class="fe fe-minimize"></i> Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    //#region Load Event
    $(function () {
        $('#rec_date').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-"
        });

        $("#rec_date").bootstrapdatepicker("setDate", 'today');

        $('#rec_chq_date').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-"
        });

        $("#rec_chq_date").bootstrapdatepicker("setDate", 'today');

        $("#rec_bt_bank").select2({
            placeholder: 'Select Bank',
            width: '100%',
            dropdownParent: $('#form_advance')
        });

        load_banks();
        load_branches();
        receipt_validation();

        $("#divRefund").hide();
        $("#divLoyalty").hide();

        $("#pay_receipts").html('<i class="fe fe-plus-circle"></i> Make Advance Payment');
        $("#pay_receipts").addClass("btn-primary");
        $("#pay_receipts").removeClass("btn-danger btn-success");
    });
    //#endregion Load Event



    //Load Banks
    var load_banks = function () {
        $.ajax({
            url: '@Url.Action("BankNamesForBankTransfers", "Receipt", new { area = "Invoice" })',
            type: "GET",
            dataType: "JSON",
            async: false,
            success: function (response) {
                $('#rec_bt_bank').empty();
                var _data = response;
                if (_data.length > 0) {
                    var optNone = new Option("Select Any", "0", false, false);
                    $('#rec_bt_bank').append(optNone).trigger('change');

                    $.each(response, function (j) {
                        var label = response[j]["acc_code"] + " | " + response[j]["acc_name"] + " | " + response[j]["acc_cbal"];
                        var newOption = new Option(label, response[j]["acc_code"],  false, false);
                        $('#rec_bt_bank').append(newOption).trigger('change');
                    });

                    $('#rec_bt_bank').val("0").trigger('change');
                }
            },
            error: function (xhr) {
                console.log("Failed! Error Message : " + xhr.statusText);
            }
        })
    }

    //#region Receipt Validation
    var receipt_validation = function () {
        $('#rec_cash').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#rec_cc').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#rec_cc_per').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#rec_chq').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#rec_bt').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#rec_tabby').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#rec_self').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#rec_spoti').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#rec_cob').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#rec_group').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#rec_stripe').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#rec_loyalty_value').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#rec_tamara').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#rec_extra_pay1').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#rec_extra_pay2').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#rec_extra_pay3').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $("#form_advance").validate({
            focusInvalid: true,
            rules:
            {

                "rec_date": {
                    required: true
                }
            },
            messages: {

                "rec_date": {
                    required: "Please Select Date"
                }
            },
            highlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                } else {
                    elem.parent().addClass('has-error');
                }
                $(element).parent().addClass('has-error');
            },
            unhighlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                } else {
                    elem.removeClass('has-error');
                }
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    element = $("#select2-" + elem.attr("id") + "-container").parent();
                    error.insertAfter(element);
                } else {
                    error.insertAfter(element);
                }
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });


        $('#rec_date').on('change', function () {
            $(this).trigger('blur');
        });

    }

    //Validate Max value for Controls
    var validate = function (e, max) {
        var t = e.value;
        var j = (t.indexOf(".") >= 0) ? (t.substr(0, t.indexOf(".")) + t.substr(t.indexOf("."), 3)) : t;
        e.value = (max == 0) ? j : ((j >= max) ? max : j);
    }
    //#endregion Receipt Validation

    //Clear Treatments
    var clearReceipts = function () {
        $("#rec_cash").val("0.00");
        $("#rec_cc").val("0.00");
        $("#rec_cc_per").val("0.00");
        $("#rec_chq").val("0.00");
        $("#rec_chq_no").val("");
        $("#rec_chq_bank").val("");
        $("#rec_chq_date").bootstrapdatepicker("setDate", 'today');
        $("#rec_bt").val("0.00");
        $("#rec_bt_bank").val("");
        $("#rec_tabby").val("0.00");
        $("#rec_self").val("0.00");
        $("#rec_spoti").val("0.00");
        $("#rec_cob").val("0.00");
        $("#rec_group").val("0.00");
        $("#rec_stripe").val("0.00");
        $("#rec_loy_value").val("0.00");
        $("#rec_notes").val("");
        $("#rec_tamara").val("0.00");
        $("#rec_extra_pay1").val("0.00");
        $("#rec_extra_pay2").val("0.00");
        $("#rec_extra_pay3").val("0.00");

        $("#pay_receipts").hide();
        $("#hiRecId").val("0");
    }

    //Calculation for Receipts
    var calculation_refund = function () {
        var _type = 0;
        var rdo_type = $("input[name='rdoType']:checked").val();

        if (rdo_type == "Refund") {
            var error = 0;
            var refund_amount = 0;

            var _cash = $("#rec_cash").val();
            var _cc = $("#rec_cc").val();
            var _cc_per = $("#rec_cc_per").val();
            var _chq = $("#rec_chq").val();
            var _bt = $("#rec_bt").val();
            var _tabby = $("#rec_tabby").val();
            var _self = $("#rec_self").val();
            var _spoti = $("#rec_spoti").val();
            var _cobone = $("#rec_cob").val();
            var _group = $("#rec_group").val();
            var _stripe = $("#rec_stripe").val();
            var _tamara = $("#rec_tamara").val();
            var _extra1 = $("#rec_extra_pay1").val();
            var _extra2 = $("#rec_extra_pay2").val();
            var _extra3 = $("#rec_extra_pay3").val();



            //Cheque
            if (parseFloat(_chq) > 0) {
                if (!(($("#rec_chq_no").val() != null) &&
                    ($("#rec_chq_no").val() != undefined) && ($("#rec_chq_no").val() != "") &&
                    ($("#rec_chq_no").val() != NaN))) {
                    error++;
                    $("#error_receipts").html("Cheque No is Required ");
                    $("#rec_chq_no").attr("style", "border:1px solid red;color:red;");
                }
                else {
                    $("#error_receipts").html("");
                    $("#rec_chq_no").attr("style", "border:1px solid #ecebf1;color:#728096;");
                }

                if (!(($("#rec_chq_date").val() != null) &&
                    ($("#rec_chq_date").val() != undefined) &&
                    ($("#rec_chq_date").val() != "") && ($("#rec_chq_date").val() != NaN))) {
                    error++;
                    $("#error_receipts").html("Cheque Date is Required ");
                    $("#rec_chq_date").attr("style", "border:1px solid red;color:red;");
                }
                else {
                    $("#error_receipts").html("");
                    $("#rec_chq_date").attr("style", "border:1px solid #ecebf1;color:#728096;");
                }

                if (!(($("#rec_chq_bank").val() != null) &&
                    ($("#rec_chq_bank").val() != undefined) &&
                    ($("#rec_chq_bank").val() != "") && ($("#rec_chq_bank").val() != NaN))) {
                    error++;
                    $("#error_receipts").html("Bank Name is Required ");
                    $("#rec_chq_bank").attr("style", "border:1px solid red;color:red;");
                }
                else {
                    $("#error_receipts").html("");
                    $("#rec_chq_bank").attr("style", "border:1px solid #ecebf1;color:#728096;");
                }
            }

            //Bank Transfer
            if (parseFloat(_bt) > 0) {
                if (($("#rec_bt_bank").val() != null) &&
                    ($("#rec_bt_bank").val() != undefined) &&
                    ($("#rec_bt_bank").val() != "") &&
                    ($("#rec_bt_bank").val() != NaN)) {
                    $("#error_receipts").html("");
                    $("#rec_bt_bank").attr("style", "border:1px solid #ecebf1;color:#728096;");

                    var selected_text = $("#rec_bt_bank option:selected").text();
                    var value_arr = selected_text.split("|");
                    var amount = value_arr[2].trim().replace(" ", "");

                    if (!(parseFloat(amount) >= parseFloat(_bt))) {
                        error++;
                        $("#error_receipts").html("Bank Transferred Should be less than or equal to " + amount);
                        $("#rec_bt").attr("style", "border:1px solid red;color:red;");
                        $("#rec_bt_bank").attr("style", "border:1px solid red;color:red;");
                    }
                    else {
                        $("#error_receipts").html("");
                        $("#rec_bt").attr("style", "border:1px solid #ecebf1;color:#728096;");
                        $("#rec_bt_bank").attr("style", "border:1px solid #ecebf1;color:#728096;");
                    }
                }
                else {
                    error++;
                    $("#error_receipts").html("Bank Account is Required for Bank Transfers");
                    $("#rec_bt_bank").attr("style", "border:1px solid red;color:red;");
                }
            }

            if (error == 0) {
                var rec_total = parseFloat(_cash) + parseFloat(_cc) + parseFloat(_chq) + parseFloat(_bt) +
                    parseFloat(_tabby) + parseFloat(_self) + parseFloat(_spoti) + parseFloat(_cobone) +
                    parseFloat(_group) + parseFloat(_stripe) + parseFloat(_tamara) +
                    parseFloat(_extra1) + parseFloat(_extra2) + parseFloat(_extra3);


                if (parseFloat(refund_amount) >= parseFloat(rec_total)) {
                    $("#error_receipts").html("");
                    $('#pay_receipts').show();
                }
                else {
                    $('#pay_receipts').hide();
                    $("#error_receipts").html("Refund total is not more than invoiced or advanced amount");
                }
            }
            else {
                $('#pay_receipts').hide();
            }
        }
        else {
            $("#error_receipts").html("");
            $('#pay_receipts').show();
        }
    }

    //Bank Transfer Bank Change Event
    $('#rec_bt_bank').on('select2:select', function (e) {
        calculation_refund();
    });

    //#region Focus In/Out Events
    $("#rec_cash").focusin(function () {
        localStorage.setItem("temp_cash", $(this).val());
    });

    $("#rec_cash").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_cash");
            calculation_refund();
        }
        else {
            $(this).val(localStorage.getItem("temp_cash"));
            localStorage.removeItem("temp_cash");
        }
    });

    $("#rec_cc").focusin(function () {
        localStorage.setItem("temp_cc", $(this).val());
    });

    $("#rec_cc").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_cc");
            calculation_refund();
        }
        else {
            $(this).val(localStorage.getItem("temp_cc"));
            localStorage.removeItem("temp_cc");
        }
    });

    $("#rec_cc_per").focusin(function () {
        localStorage.setItem("temp_cc_per", $(this).val());
    });

    $("#rec_cc_per").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_cc_per");
            calculation_refund();
        }
        else {
            $(this).val(localStorage.getItem("temp_cc_per"));
            localStorage.removeItem("temp_cc_per");
        }
    });

    $("#rec_chq").focusin(function () {
        localStorage.setItem("temp_chq", $(this).val());
    });

    $("#rec_chq").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_chq");
            calculation_refund();
        }
        else {
            $(this).val(localStorage.getItem("temp_chq"));
            localStorage.removeItem("temp_chq");
        }
    });

    $("#rec_chq_no").focusout(function () {
        calculation_refund();
    });

    $("#rec_chq_bank").focusout(function () {
        calculation_refund();
    });

    $("#rec_chq_date").focusout(function () {
        calculation_refund();
    });

    $("#rec_bt").focusin(function () {
        localStorage.setItem("temp_bt", $(this).val());
    });

    $("#rec_bt").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_bt");
            calculation_refund();
        }
        else {
            $(this).val(localStorage.getItem("temp_bt"));
            localStorage.removeItem("temp_bt");
        }
    });

    $("#rec_tabby").focusin(function () {
        localStorage.setItem("temp_tabby", $(this).val());
    });

    $("#rec_tabby").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_tabby");
            calculation_refund();
        }
        else {
            $(this).val(localStorage.getItem("temp_tabby"));
            localStorage.removeItem("temp_tabby");
        }
    });

    $("#rec_self").focusin(function () {
        localStorage.setItem("temp_self", $(this).val());
    });

    $("#rec_self").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_self");
            calculation_refund();
        }
        else {
            $(this).val(localStorage.getItem("temp_self"));
            localStorage.removeItem("temp_self");
        }
    });

    $("#rec_spoti").focusin(function () {
        localStorage.setItem("temp_spoti", $(this).val());
    });

    $("#rec_spoti").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_spoti");
            calculation_refund();
        }
        else {
            $(this).val(localStorage.getItem("temp_spoti"));
            localStorage.removeItem("temp_spoti");
        }
    });

    $("#rec_cob").focusin(function () {
        localStorage.setItem("temp_cob", $(this).val());
    });

    $("#rec_cob").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_cob");
            calculation_refund();
        }
        else {
            $(this).val(localStorage.getItem("temp_cob"));
            localStorage.removeItem("temp_cob");
        }
    });

    $("#rec_group").focusin(function () {
        localStorage.setItem("temp_group", $(this).val());
    });

    $("#rec_group").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_group");
            calculation_refund();
        }
        else {
            $(this).val(localStorage.getItem("temp_group"));
            localStorage.removeItem("temp_group");
        }
    });

    $("#rec_stripe").focusin(function () {
        localStorage.setItem("temp_stripe", $(this).val());
    });

    $("#rec_stripe").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_stripe");
            calculation_refund();
        }
        else {
            $(this).val(localStorage.getItem("temp_stripe"));
            localStorage.removeItem("temp_stripe");
        }
    });

    $("#rec_loyalty_value").focusin(function () {
        localStorage.setItem("temp_loy_value", $(this).val());
    });

    $("#rec_loyalty_value").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_loy_value");
            calculation_refund();
        }
        else {
            $(this).val(localStorage.getItem("temp_loy_value"));
            localStorage.removeItem("temp_loy_value");
        }
    });

    $("#rec_tamara").focusin(function () {
        localStorage.setItem("temp_tamara", $(this).val());
    });

    $("#rec_tamara").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_tamara");
            calculation_refund();
        }
        else {
            $(this).val(localStorage.getItem("temp_tamara"));
            localStorage.removeItem("temp_stripe");
        }
    });

    $("#rec_tamara").focusin(function () {
        localStorage.setItem("temp_tamara", $(this).val());
    });

    $("#rec_tamara").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_tamara");
            calculation_refund();
        }
        else {
            $(this).val(localStorage.getItem("temp_tamara"));
            localStorage.removeItem("temp_stripe");
        }
    });

    $("#rec_extra_pay1").focusin(function () {
        localStorage.setItem("temp_extra1", $(this).val());
    });

    $("#rec_extra_pay1").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_extra1");
            calculation_refund();
        }
        else {
            $(this).val(localStorage.getItem("temp_extra1"));
            localStorage.removeItem("temp_extra1");
        }
    });

    $("#rec_extra_pay2").focusin(function () {
        localStorage.setItem("temp_extra2", $(this).val());
    });

    $("#rec_extra_pay2").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_extra2");
            calculation_refund();
        }
        else {
            $(this).val(localStorage.getItem("temp_extra2"));
            localStorage.removeItem("temp_extra2");
        }
    });

    $("#rec_extra_pay3").focusin(function () {
        localStorage.setItem("temp_extra3", $(this).val());
    });

    $("#rec_extra_pay3").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_extra3");
            calculation_refund();
        }
        else {
            $(this).val(localStorage.getItem("temp_extra3"));
            localStorage.removeItem("temp_extra3");
        }
    });

    //#endregion Focus In/Out Events

    //Select Patient


    $('#pay_receipts').on('click', function (e) {
        e.preventDefault();

        var _receipt = {};
        var _msg = '';
        var rdo_type = $("input[name='rdoType']:checked").val();
        var rdo_refund = $("input[name='rdoRefundOf']:checked").val();

        _msg = 'Advance amount credited successfully....!';
        _receipt = advance_obj();

        if ($("#form_advance").valid()) {
            $.ajax({
                url: '@Url.Action("GenerateReceipt", "Receipt", new { area = "Invoice" })',
                type: "POST",
                dataType: "json",
                data: _receipt,
                async: false,
                success: function (data) {
                    if (data.isSuccess) {
                        var alertPlaceholder = document.getElementById("AdvancePackReceiptAlert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i> " + _msg, "success");
                        clearReceipts();
                        $('#patient_packages').modal('hide');
                       // $("#pkg_order_modal_body").modal("show");
                        //$(".close-modal").click();
                        //timeout();
                        GetPackageOrders();
                    }
                    else {
                        let html = "<div class='alert alert-danger alert-dismissible' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='Close' aria-label='Close'>×</button>" +
                            "<strong>Error.. " + data.message + "</strong><br/>" +
                            "</div>";
                        $("#error").html(html);
                        timeout();
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });



    var advance_obj = function () {
        var _receipt = {
            "recId": 0,
            "rec_code": $("#rec_code").val(),
            "rec_prefix": "ADV-",
            "rec_type": "Advance",
            "rec_date": $("#rec_date").val(),
            "rec_patient": @Model.rec_patient,
            "rec_poId": @Model.rec_poId,
            "rec_invoice": 0,
            "rec_cash": parseFloat($("#rec_cash").val()),
            "rec_cc": parseFloat($("#rec_cc").val()),
            "rec_cc_per": parseFloat($("#rec_cc_per").val()),
            "rec_chq": parseFloat($("#rec_chq").val()),
            "rec_chq_no": $("#rec_chq_no").val(),
            "rec_chq_date": $("#rec_chq_date").val(),
            "rec_chq_bank": $("#rec_chq_bank").val(),
            "rec_bt": 0,
            "rec_bt_bank": "",
            "rec_advance": 0,
            "rec_allocated": 0,
            "rec_notes": $("#rec_notes").val(),
            "rec_madeby": 0,
            "rec_debit": 0,
            "rec_branch": 0,
            "rec_voucher": 0,
            "rec_vamount": 0,
            "rec_loyalty": 0,
            "rec_lamount": 0,
            "rec_loy_value": 0,
            "rec_tabby": parseFloat($("#rec_tabby").val()),
            "rec_self": parseFloat($("#rec_self").val()),
            "rec_spoti": parseFloat($("#rec_spoti").val()),
            "rec_group": parseFloat($("#rec_group").val()),
            "rec_cob": parseFloat($("#rec_cob").val()),
            "rec_stripe": parseFloat($("#rec_stripe").val()),
            "rec_tamara": parseFloat($("#rec_tamara").val()),
            "rec_extra_pay1": parseFloat($("#rec_extra_pay1").val()),
            "rec_extra_pay2": parseFloat($("#rec_extra_pay2").val()),
            "rec_extra_pay3": parseFloat($("#rec_extra_pay3").val())
        }

        return _receipt;
    }



    $('#reset_receipts').on('click', function () {
        clearReceipts();
    });
    //Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
</script>
