@model BusinessEntities.LoginViewModel

@{
    ViewBag.Title = "Login Authentication";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card-body mb-0">
        <div class="text-center mb-3">
            <a href="javascript:void(0);" class="text-white">A Clinic / Medical / Dental / Homecare Center Management Software</a>
        </div>
        <div class="input-group">
            <div class="input-group-text">
                <i class="fe fe-user"></i>
            </div>
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Your login name", @maxlength = "10", @id="txtusername" } })
        </div>
        <div class="form-group mt-2 mb-4">
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger font-weight-semibold" })
        </div>
        <div class="input-group mb-4">
            <div class="input-group" id="Password-toggle">
                <a href="" class="input-group-text">
                    <i class="fe fe-eye" aria-hidden="true"></i>
                </a>
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Your login password", @maxlength = "12", @id = "txtpassword" } })
            </div>
        </div>
        <div class="form-group mt-2 mb-4">
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger font-weight-semibold" })
        </div>
        <div class="form-group">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="chkremember">
                <span class="custom-control-label text-white-50">Remember Me <a href="@Url.Action("ForgotPassword","ForgotPassword", new { area="Authentication" })" class="btn-link text-white float-end">Forgot password ?</a></span>
            </label>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="errorMsg" class="text-danger text-center">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger font-weight-semibold fs-14" })
                </div>
                <input type="submit" value="Log In" class="btn btn-white text-primary btn-block d-grid px-4 font-weight-bold" id="btnLogin" />
            </div>
        </div>
        <div class="text-center pt-4">
            <div class="font-weight-normal fs-14 text-white-50">
                Password Expired or Change Password ?<br />
                <a class="btn-link font-weight-bold anchors text-white" href="@Url.Action("ChangePassword","Authentication", new { area="Authentication" })">Change Password</a>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(document).ready(function () {
        if (localStorage.getItem("remember_me") != null) {
            var login_data = JSON.parse(localStorage.getItem("remember_me"));
            $("#txtusername").val(login_data.username);
            $("#txtpassword").val(login_data.password);
            $("#chkremember").prop("checked", true);
        }

        $("#btnLogin").click(function (event) {
            if ($("#chkremember").prop("checked")) {
                var username = $("#txtusername").val();
                var password = $("#txtpassword").val();

                var login_data = {
                    "username": username,
                    "password": password
                }

                localStorage.setItem("remember_me", JSON.stringify(login_data));
            }
            else {
                if (localStorage.getItem("remember_me") != null) {
                    localStorage.removeItem("remember_me");
                }
            }
        });
    });
</script>
}
