@model BusinessEntities.Invoice.CreditNotePrint
@{
    ViewBag.Title = "PrintCreditNote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>
<div class="row" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-center">
                    <img src="@Model.cn_header.set_header_image" />
                </div>

                <h2 class="font-weight-bold text-primary">CREDIT NOTE MEMO</h2>

                <div class="card-body ps-0 pe-0">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <strong>Reg TRN No</strong>
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1 text-center">
                            <strong>:</strong>
                        </div>
                        <div class="col-sm-9 text-start">
                            <span>@Model.cn_header.set_vat_regno</span>
                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <strong>Facility Name</strong>
                        </div>
                        <div class="col-sm-1 text-center">
                            <strong>:</strong>
                        </div>
                        <div class="col-sm-9 col-md-9 col-lg-9 text-start">
                            <span>@Model.cn_header.set_company</span>
                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <strong>Address</strong>
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1 text-center">
                            <strong>:</strong>
                        </div>
                        <div class="col-sm-9 col-md-9 col-lg-9 text-start">
                            <span>@Model.cn_header.set_address</span><br />
                            <span>@Model.cn_header.set_tel/@Model.cn_header.set_mob</span>
                        </div>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="row pt-4 pb-4">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <strong>Credit Note No.</strong>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 text-center">
                        <strong>:</strong>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 text-start">
                        <span>@Model.cn_header.invc_no</span>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <strong>Invoice Date</strong>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 text-center">
                        <strong>:</strong>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 text-start">
                        <span>@Model.cn_header.invc_date</span>
                    </div>

                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <strong>Doctor</strong>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 text-center">
                        <strong>:</strong>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 text-start">
                        <span>@Model.cn_header.emp_name  (DHA # - @Model.cn_header.emp_license)</span>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <strong>Department</strong>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 text-center">
                        <strong>:</strong>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 text-start">
                        <span>@Model.cn_header.emp_dept_name</span>
                    </div>

                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <strong>Patient Name</strong>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 text-center">
                        <strong>:</strong>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 text-start">
                        <span>@Model.cn_header.pat_name</span>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <strong>MRN/File No.</strong>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 text-center">
                        <strong>:</strong>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 text-start">
                        <span>@Model.cn_header.pat_code</span>
                    </div>

                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <strong>Age / Gender</strong>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 text-center">
                        <strong>:</strong>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 text-start">
                        <span>@Model.cn_header.pat_age / @Model.cn_header.pat_gender</span>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <strong>Type</strong>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 text-center">
                        <strong>:</strong>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 text-start">
                        <span>@Model.cn_header.invc_type</span>
                    </div>

                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <strong>Visit Date</strong>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 text-center">
                        <strong>:</strong>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 text-start">
                        <span> @Model.cn_header.app_fdate </span>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <strong>Made By</strong>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 text-center">
                        <strong>:</strong>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 text-start">
                        <span> @Model.cn_header.madeby_name </span>
                    </div>

                </div>
                <div class="table-responsive push">
                    <table class="table table-bordered table-hover text-nowrap">
                        <tr class=" ">
                            <th class="text-center " style="width: 1%"></th>
                            <th class="text-wrap">Treatment/Procedure</th>
                            <th class="text-center" style="width: 1%">Qty</th>
                            <th class="text-end" style="width: 1%">Unit Price</th>
                            <th class="text-end" style="width: 1%">Gross</th>
                            <th class="text-end" style="width: 1%">Discount</th>
                            <th class="text-end" style="width: 1%">Net</th>
                            <th class="text-end" style="width: 1%">VAT</th>
                            <th class="text-end" style="width: 1%">Net + VAT</th>
                        </tr>
                        @{int count = 0; }
                        @foreach (BusinessEntities.Invoice.CreditNoteBody i in Model.cn_body)
                        {
                            count++;

                            <tr>
                                <td class="text-center">@count.ToString("D2")</td>
                                <td>
                                    <p class="font-weight-semibold mb-1">@i.tr_code</p>
                                    <div class="text-wrap">@i.tr_name</div>
                                </td>
                                <td class="text-end">@i.ptc_qty</td>
                                <td class="text-end">@i.ptc_uprice</td>
                                <td class="text-end">@i.ptc_total</td>
                                <td class="text-end">@i.ptc_disc</td>
                                <td class="text-end">@i.ptc_net</td>
                                <td class="text-end">@i.ptc_vat</td>
                                <td class="text-end">@i.ptc_netvat</td>
                            </tr>
                        }
                        <tr>
                            <td colspan="8" class="font-weight-semibold text-end">Net Amount (in AED)</td>
                            <td class="text-end">@Model.cn_header.invc_net</td>
                        </tr>

                        <tr>
                            <td colspan="8" class="font-weight-semibold text-end">VAT (in AED)</td>
                            <td class="text-end">@Model.cn_header.invc_vat</td>
                        </tr>
                        <tr>
                            <td colspan="8" class="font-weight-semibold text-end">Net + VAT (in AED)</td>
                            <td class="text-end">@Model.cn_header.invc_netvat</td>
                        </tr>

                    </table>
                </div>
                <p class="text-muted text-center">
                    <ol>
                        <li><strong>Disclaimer:</strong> This credit note memo is issued solely for the purpose of correcting billing errors or facilitating returns. It does not constitute an endorsement or warranty of any kind.</li>

                        <li><strong>Reference Numbers:</strong> Please reference this credit note memo number <strong>@Model.cn_header.invc_no</strong> for any future communication or transactions related to this credit.</li>

                        <li><strong>Validity Period:</strong> This credit note memo is valid for <strong>30 Days</strong> from the date of issuance. Please ensure to utilize the credit within this period.</li>

                        <li><strong>Contact Information:</strong> For any queries or further assistance, please contact our customer service department at <strong>@Model.cn_header.set_tel</strong> or email <strong>@Model.cn_header.set_email</strong>.</li>

                        <li><strong>Return Instructions:</strong> If this credit note memo is related to a product return, please follow our return instructions provided separately or contact our returns department for guidance.</li>

                        <li><strong>Terms and Conditions:</strong> All credits are subject to the terms and conditions outlined in our company policies. Please refer to our website or contact our customer service department for more information.</li>

                        <li><strong>Invoice Reference:</strong> This credit note memo is issued in reference to invoice number <strong>@Model.cn_header.inv_no</strong> dated <strong>@Model.cn_header.inv_date</strong>.</li> 

                        <li><strong>Tax Information:</strong> Please note that any applicable taxes associated with the original invoice have been adjusted accordingly in this credit note memo.</li>
                    </ol>
                </p>
                

                <div class="">
                    <h5 class="mb-5"><strong>Authorized Stamp &amp; Signature</strong></h5>
                </div>

                <div class="text-center">
                    <img src="@Model.cn_header.set_footer_image" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //#region Print Button Click
    $('#btnPrint').on('click', function (e) {
        var elem = 'printDiv';
        var header_str = '<html><head><title>' + document.title + '</title></head><body>';
        var footer_str = '</body></html>';
        var new_str = document.getElementById(elem).innerHTML;
        var old_str = document.body.innerHTML;
        document.body.innerHTML = header_str + new_str + footer_str;
        window.print();
        document.body.innerHTML = old_str;
        return false;
    });
    //#endregion
</script>

