@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConsentForms.DischargePlan
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_DischargePlanEdit" autocomplete="off" name="DischargePlan" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5 mt-5 text-justify justify-content-center">

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mt-0">
                <center>
                    <img src="~/images/ConsentForms/Ophthalmology/SurgeryData1.jpg" style="width:200px;height:150px" />
                </center>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 text-left font-weight-bold">
                Date of Surgery :
                <div class="col-lg-12 col-sm-12 col-md-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fe fe-calendar"></i>
                            </div>
                        </div>
                        <input id="udpn_1" class="form-control" placeholder="DD-MMM-YYYY" type="text" autocomplete="off">
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-12 text-left font-weight-bold">
                Time of Surgery :   <span class="ms-3">
                    @Html.TextBoxFor(m => m.dpn_2, new { @class = "form-control mb-2 mt-2", @placeholder = "HH:mm", @id = "udpn_2" })
                </span>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-12 text-left font-weight-bold">
                Type of Surgery : <span class="ms-3">
                    @Html.TextBoxFor(m => m.dpn_4, new { @class = "form-control mb-2 mt-2", @id = "udpn_4" })
                </span>
            </div>
        </div>
        <p class="font-weight-semibold ms-3 mt-3 mb-3">PRE-OPERATIVE CHECK-LIST</p>
        <div class="row ">
            <div class="col-lg-6">
                <span class="font-weight-semibold">
                    LEVEL OF CONSCIOUSNESS/MENTAL STATUS
                </span>
            </div>
            <div class="col-lg-6">
                <span class="font-weight-semibold">
                    AMBULATION
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-6">
                    <input type="checkbox" class="custom-control-input" name="udpn_6" id="udpn_61" value="1">
                    <span class="custom-control-label">
                        Fully awake and alert
                    </span>
                </label>
            </div>
            <div class="col-lg-6">
                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-6">
                    <input type="checkbox" class="custom-control-input" name="udpn_6" id="udpn_62" value="2">
                    <span class="custom-control-label">
                        Independent with steady gait
                    </span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-6">
                    <input type="checkbox" class="custom-control-input" name="udpn_6" id="udpn_63" value="3">
                    <span class="custom-control-label">
                        Drowsy
                    </span>
                </label>
            </div>
            <div class="col-lg-6">
                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-6">
                    <input type="checkbox" class="custom-control-input" name="udpn_6" id="udpn_64" value="4">
                    <span class="custom-control-label">
                        Gait unsteady and assistance required
                    </span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-6">
                    <input type="checkbox" class="custom-control-input" name="udpn_6" id="udpn_65" value="5">
                    <span class="custom-control-label">
                        Oriented
                    </span>
                </label>
            </div>
            <div class="col-lg-6">
                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-6">
                    <input type="checkbox" class="custom-control-input" name="udpn_6" id="udpn_66" value="6">
                    <span class="custom-control-label">
                        Non ambulatory; bed ridden/wheelchair-bound
                    </span>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-6">
                    <input type="checkbox" class="custom-control-input" name="udpn_6" id="udpn_67" value="7">
                    <span class="custom-control-label">
                        Others (please specify)
                    </span>
                </label>
            </div>
            <div class="col-lg-6">
                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-6">
                    <input type="checkbox" class="custom-control-input" name="udpn_6" id="udpn_68" value="8">
                    <span class="custom-control-label">
                        Other
                    </span>
                </label>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-6">
                <span class="font-weight-semibold">
                    DISCHARGE INSTRUCTIONS
                </span>
            </div>
            <div class="col-lg-6">
                <span class="font-weight-semibold">
                    DISCHARGE PREPARATION
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-6">
                    <input type="checkbox" class="custom-control-input" name="udpn_6" id="udpn_69" value="9">
                    <span class="custom-control-label">
                        Physician order sheet reviewed
                    </span>
                </label>
            </div>
            <div class="col-lg-6">
                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-6">
                    <input type="checkbox" class="custom-control-input" name="udpn_6" id="udpn_610" value="10">
                    <span class="custom-control-label">
                        Patient’s gown removed and redressed with supervision
                    </span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-6">
                    <input type="checkbox" class="custom-control-input" name="udpn_6" id="udpn_611" value="11">
                    <span class="custom-control-label">
                        Written discharge instruction reviewed and given
                    </span>
                </label>
            </div>
            <div class="col-lg-6">
                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-6">
                    <input type="checkbox" class="custom-control-input" name="udpn_6" id="udpn_612" value="12">
                    <span class="custom-control-label">
                        Valuables returned and identified by the patient
                    </span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-6">
                    <input type="checkbox" class="custom-control-input" name="udpn_6" id="udpn_613" value="13">
                    <span class="custom-control-label">
                        Post op teaching given
                    </span>
                </label>
            </div>
            <div class="col-lg-6">
                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-6">
                    <input type="checkbox" class="custom-control-input" name="udpn_6" id="udpn_614" value="14">
                    <span class="custom-control-label">
                        Prescription reviewed and given
                    </span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-6">
                    <input type="checkbox" class="custom-control-input" name="udpn_6" id="udpn_615" value="15">
                    <span class="custom-control-label">
                        LASIK/LASEK/CCL kit given
                    </span>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 border-light2 font-weight-semibold text-center">TIME</div>
            <div class="col-lg-6 border-light2 font-weight-semibold text-center">NURSES NOTES</div>
            <div class="col-lg-3 border-light2 font-weight-semibold text-center">NURSES SIGNATURE</div>
        </div>
        <div class="row">
            <div class="col-lg-3 border-light2 font-weight-semibold text-center pt-8">
                @Html.TextBoxFor(m => m.dpn_3, new { @class = "form-control mb-2 mt-2", @placeholder = "HH:mm", @id = "udpn_3" })
            </div>
            <div class="col-lg-6 border-light2 font-weight-semibold text-left">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="udpn_6" id="udpn_616" value="16">
                    <span class="custom-control-label">
                        Post op medicine instruction given.
                    </span>
                </label>
                <label class="custom-control custom-checkbox d-flex">
                    <input type="checkbox" class="custom-control-input" name="udpn_6" id="udpn_617" value="17">
                    <span class="custom-control-label">
                        Follow up appointment given.&nbsp;
                    </span>
                </label>
                <span>
                    @Html.TextBoxFor(m => m.dpn_5, new { @class = "form-control mb-1 mt-2", @id = "udpn_5" })
                </span>
                <span class="font-weight-semibold">Discharged via:</span>
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="udpn_6" id="udpn_618" value="18">
                    <span class="custom-control-label">
                        Ambulatory
                    </span>
                </label>
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="udpn_6" id="udpn_619" value="19">
                    <span class="custom-control-label">
                        Assistive device (wheelchair, cane, etc)
                    </span>
                </label>
                <span class="font-weight-semibold">Discharge to:</span>
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="udpn_6" id="udpn_620" value="20">
                    <span class="custom-control-label">
                        Home with family/companion
                    </span>
                </label>

            </div>
            <div class="col-lg-3 border-light2 font-weight-semibold text-center pt-9">
                <label class="form-label text-red text-left">@emr.doc_name&nbsp;</label>
            </div>
        </div>
    </div>


    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="2" class="font-weight-bold text-danger fs-18" width="100%">
                        Sign here, only if all of your questions have been answered to your satisfaction
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <div id="upat_sign_box">
                            <img alt="Signature" src="" id="upat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize mt-1">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold"> Patient Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left mt-2" id="upsb_date_patient" name="">&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize mt-1">@emr.doc_name&nbsp;</label>
                        <span class="font-weight-semibold">Doctor’s Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left mt-2" id="udpn_date_doctor">@Model.dpn_date_modified&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue" width="33%">
                        Patient Signature
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center" width="33%">Doctor’s Signature</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update">Save Changes</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                <button type="button" class="btn btn-danger btn-sm" id="btn_DeleteForm">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print"> Download/Print </button>
            </div>
        </div>
    </div>
</form>


<script type="text/javascript">
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Update").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Update").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Update").show();
                }
                else {
                    $("#btn_Update").hide();
                }
            }
        }
        validate();
        GetSignaturename('patient');
        GetCheckedValues();

             $('#udpn_1').bootstrapdatepicker({
             format: "dd-MM-yyyy",
             viewMode: "date",
             todayHighlight: true,
             autoclose: true,
             multidate: false,
             multidateSeparator: "-"
        });
        $("#udpn_1").bootstrapdatepicker("setDate", moment(new Date("@Model.dpn_1")).format("DD-MMMM-YYYY"));

        $('#udpn_2').timepicker();
        $('#udpn_3').timepicker();
    });

    //#region Validation Initialization
    var validate = function () {
        $("#form_DischargePlanEdit").validate({
            rules: {
                dpn_4: {
                    required: true
                },
            },
            messages: {
                dpn_4: {
                    required: "Please Enter Type Of Surgery"
                },
            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
    //#endregion

    //#region Update  Click
    $('#btn_Update').on('click', function (e) {
        e.preventDefault();
        if ($("#form_DischargePlanEdit").valid()) {
            console.log($("#dpnId").val());
            $('#btn_Update').removeClass("btn btn-sm btn-success");
            $('#btn_Update').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Update').html("Updating the Record....");

            var udpn_6_ = $.map($(':checkbox[name=udpn_6]:checked'), function (n, i) {
                return n.value;
            }).join(',');

            var _dateInsert = {
                "dpnId": 0,
                "dpn_appId": @emr.appId,
                "dpn_1": $("#udpn_1").val(),
                "dpn_2": $("#udpn_2").val(),
                "dpn_3": $("#udpn_3").val(),
                "dpn_4": $("#udpn_4").val(),
                "dpn_5": $("#udpn_5").val(),
                "dpn_6": udpn_6_,

                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

            console.log(_dateInsert);

            $.ajax({
                type: "Post",
                url: "@Url.Action("EditDischargePlan", "DischargePlan", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isEdited) {
                            GetDischargePlanInfo();
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>  Discharge Plan Form Updated Successfully!", "success");
                            Timeout();
                            $("#DischargePlan_edit").show();
                            $("#DischargePlan_add").hide();
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning..Discharge Plan Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion Update Click

        //#region Print
$('#btn_Print').on('click', function (e) {
    e.preventDefault();
    $('#btn_Print').removeClass("btn btn-success");
    $('#btn_Print').addClass("btn btn-success btn-loaders btn-icon");
    $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "DischargePlan", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=DischargePlan",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {

                if (data.success)
                    console.log(data);
                    console.log(data.message.pdfPath); {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print

    //#region Delete Click
    $('#btn_DeleteForm').on('click', function (e) {
        e.preventDefault();
        $('#btn_DeleteForm').removeClass("btn btn-success");
        $('#btn_DeleteForm').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_DeleteForm').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteDischargePlan", "DischargePlan", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-warning");
                $('#btn_DeleteForm').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i> Discharge Plan Form Deleted Successfully!", "success");
                        clearControls();

                        $("#DischargePlan_edit").hide();
                        $("#DischargePlan_add").show();
                        AddDischargePlan();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-Delete");
                $('#btn_DeleteForm').html("Delete");
                Timeout();
            }
        })
    });
//#endregion
    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("#upat_sign,#uwit_sign").attr("src", "");
        $("input[name='udpn_6']:checkbox").prop('checked', false);
        $("#udpn_1").bootstrapdatepicker("setDate", '');
    }
    //#endregion Clear Controls

     //#region Wacom Tab Signature
    var openWacomTabSignaturePad = function (id) {
       var _data = {
            "patId": @emr.patId,
            "person": id,
           "form": "DischargePlan",
            "appId": @emr.appId,
           "formname":"Discharge Plan",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
//#endregion

    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "DischargePlan",
            "appId": @emr.appId,
            "formname":"Discharge Plan",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            localStorage.removeItem("sign");
        }
    });

        // #region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=DischargePlan',
                type: "GET",
                dataType: "json",
                async: false,
                success: function (response) {
                    console.log(response);
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY");

                    if (response[0].person == "patient") {
                        $("#upat_sign_box").removeClass("d-none");
                        $("#upsb_date_patient").text(date);
                        $("#upat_sign").attr("src", sign);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
        //#endregion Get Signature

            //#region Get CheckedValues
     var GetCheckedValues = function (checknames) {
     var checknames = "@Model.dpn_6";

       if (checknames !== null) {

         if (checknames != "") {
          var str = "@Model.dpn_6";
          var myarray = str.split(',');
          for (var i = 0; i < myarray.length; i++) {
             $('.custom-control-input').each(function () {
                 if (myarray.includes($(this).val())) {
                     $(this).prop("checked", true);
                 }
             });
         }
         console.log(myarray)
     }
   }
 }
      //#endregion

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout

</script>
