@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConsentForms.CrownBridge

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<form id="form_CrownBridge" autocomplete="off" name="CrownBridge" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5 mt-5 text-justify">
        <div class="col-sm-12 col-md-12 col-lg-6">
            Tooth(s) # :
            @Html.TextBoxFor(m => m.icc_1, new { @class = "form-control mb-2", @id = "icc_1", @maxlength = "250" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            Bridge (s) # :
            @Html.TextBoxFor(m => m.icc_2, new { @class = "form-control mb-2", @id = "icc_2", @maxlength = "250" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2">I have been advised of and understand that treatment of dental conditions requiring crowns and / or fixed bridgework involves certain risks and possible unsuccessful results, including the possibility of failure. Even when care and diligence is exercised in the treatment of conditions requiring crowns and bridgework and fabrication of the same, there are no promises or guarantees of anticipated results or the length of time the crown and / or fixed bridgework will last. I agree to assume the risks associated with crowns and / or fixed bridgework, which include but are not limited to the following:</div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <ol>
                <li>
                    <p class="text-red text-decoration-underline">Reduction of tooth structure:</p>
                    <p>To replace decayed or otherwise traumatized teeth, it is necessary to modify the existing tooth or teeth so that crowns (caps) and / or bridges may be placed upon them. Tooth preparation will be done as conservatively as practical, but I understand that normally at least some of my existing tooth structure will be removed.</p>
                </li>

                <li>
                    <p class="text-red text-decoration-underline">Injury:</p>
                    <p>During the reduction of tooth structure or adjustments done to temporary restorations, it is possible for the tongue, cheek or other oral tissues to be inadvertently abraded or lacerated (cut).</p>
                </li>

                <li>
                    <p class="text-red text-decoration-underline">Numbness following use of anesthesia:</p>
                    <p>In order to reduce tooth structure without causing undue pain during the procedure, it is necessary to administer local anesthetic. Such administration may cause reactions or side effects, which include, but are not limited to, bruising, hematoma, cardiac stimulation, temporary or, rarely permanent numbness of the tongue, lips, teeth, jaws, and / or facial tissues and muscle soreness.</p>
                </li>

                <li>
                    <p class="text-red text-decoration-underline">Sensitivity of teeth:</p>
                    <p>Often, after the preparation of teeth for the reception of either crowns or bridges, the teeth may exhibit sensitivity, which can range from milk to severe. The sensitivity may last only for a short period of time or may last for much longer periods. If it is persistent, notify us so that we can determine the cause of the sensitivity and seek to treat that condition.</p>
                </li>

                <li>
                    <p class="text-red text-decoration-underline">Following crown preparation and placement for either individual teeth or bridge abutments, the involved tooth or teeth may require root canal treatment:</p>
                    <p>Teeth, after being crowned, may develop a condition known as pulpitis or pulpal degeneration. Usually this cannot be predetermined. The tooth or teeth may been traumatized from an accident, deep decay, extensive preparation, or other causes. It is often necessary to do root canal treatments in these teeth, particularly if teeth remain appreciably sensitive for a long period of time following crowning. Infrequently, the tooth (teeth) may abscess or otherwise not heal completely. In this event, periapical surgery or even extraction may be necessary.</p>

                    <span class="text-red">Patient’s Initials:</span>
                    @Html.TextBoxFor(m => m.icc_3, new { @class = "form-control form-control-sm", @id = "icc_3", @maxlength = "250" }) &nbsp;
                </li>

                <li>
                    <p class="text-red text-decoration-underline">Breakage:</p>
                    <p>Crowns and bridges may possibly chip and break. Many factors could contribute to this situation such as chewing excessively hard materials, changes in biting forces, traumatic blows to the mouth etc. Undetectable cracks may develop in crowns from these causes, but the crowns / bridges themselves may not actually break until sometime later. Breakage or chipping because of defective materials or construction is somewhat uncommon. If it occurs, it usually occurs soon after placement.</p>
                </li>

                <li>
                    <p class="text-red text-decoration-underline">Uncomfortable or strange feeling:</p>
                    <p>Crowns and bridges are artificial and therefore feel different from natural teeth. Most patients become accustomed to this feeling over time. In limited situations, muscle soreness or tenderness of the temporomandibular (TMI) – jaw joint – may persist for indeterminable periods of time, following placement of the prosthesis.</p>
                </li>

                <li>
                    <p class="text-red text-decoration-underline">Esthetics or appearance:</p>
                    <p>Patients will be given the opportunity to observe the appearance of crowns and bridges in place prior to final cementation. When satisfactory, this fact is acknowledged by an entry into the patient’s chart initialed by the patient.</p>
                </li>

                <li>
                    <p class="text-red text-decoration-underline">Longevity of crowns and bridges:</p>
                    <p>Many variables determine how long crowns and bridges can be expected to last. Among these are of the factors mentioned in the preceding paragraphs, including the general health of the patient, oral hygiene, regular dental checkups and diet. As a result, no guarantees can be made or assumed to be made regarding the longevity of the crowns and bridges.</p>
                </li>
            </ol>
        </div>

        <div class="text-red text-decoration-underline">I consent to photography, filming, recording, and x-rays of the procedure.I consent to photography, filming, recording, and x-rays of the procedure.</div>
        <div>It is the patient’s responsibility to seek attention from the dentist should any undue or unexpected problems occur. The patient must diligently follow any and all instructions, including the scheduling and attending all appointments. Failure to keep the cementations appointments can result in ultimate failure of the crown / bridge to fit properly.</div>
        <div>You have the right to refuse or discontinue treatment. You will be informed about the consequence of your decision to refuse or discontinue treatment and about available care and the treatment alternatives.</div>
        <div class="text-red text-decoration-underline">Informed Consent:</div>
        <div>
            I have been given the opportunity to ask any questions regarding the nature and purpose of crown and / or bridge treatment and have received answers to my satisfaction. I voluntarily assume any and all possible risks, including risk of substantial harm, if any, which may be associated with any phase of this treatment in hopes of obtaining the desired result, which may or may not be achieved. The fee (s) (if applicable), for this service have been explained to me and are satisfactory. By signing this form, I am freely giving my consent to allow and authorize &nbsp;<lable class="text-capitalize text-red">Dr.@emr.doc_name</lable>&nbsp;and / or his associates to render treatment and administering or any medications and / or anesthetics deemed necessary for my treatment.
        </div>

        <div>
            <div class="custom-controls-stacked">
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="icc_4" id="icc_41" value="Yes">
                    <span class="custom-control-label">I have been given the opportunity to ask questions and give my consent for the proposed treatment as Described above.</span>
                </label>
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="icc_4" id="icc_42" value="No">
                    <span class="custom-control-label">I refuse to give my consent for the proposed treatment(s) as described above and have been explained the potential consequences associated with this refusal.</span>
                </label>
            </div>
        </div>

    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="3" class="font-weight-bold text-danger fs-18" width="100%">
                        Sign here, only if all of your questions have been answered to your satisfaction
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <div id="pat_sign_box" class="d-none">
                            <img alt="stamp" id="pat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <div id="wit_sign_box" class="d-none">
                            <img alt="stamp" id="wit_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold"> Patient Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                    <td width="33%">
                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                    <td width="33%">
                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue" width="33%">
                        Patient Signature
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue" width="33%">
                        Witness Signature
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> witness
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('witness')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('witness')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center" width="33%">Dentist’s Sign/Stamp</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-success btn-sm" id="btn_Insert">Save</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                <button type="button" class="btn btn-danger btn-sm d-none" id="btn_Delete">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success d-none" id="btn_Print"> Download/Print </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    //#region Page Load
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Insert").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Insert").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Insert").show();
                }
                else {
                    $("#btn_Insert").hide();
                }
            }
        }

        validate();
    });
    //#endregion

    //#region Validation Initialization
    var validate = function () {
        $("#form_CrownBridge").validate({
            rules: {
                icc_1: {
                    required: true
                },
                icc_2: {
                    required: true
                },
                icc_3: {
                    required: true
                }
            },
            messages: {
                icc_1: {
                    required: "Please Enter Tooth(s)!"
                },
                icc_2: {
                    required: "Please Enter Bridge(s)!"
                },
                icc_3: {
                    required: "Please Enter Patient's Initials!"
                }
            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
    //#endregion

    //#region Add Click
    $('#btn_Insert').on('click', function (e) {
        e.preventDefault();

        if ($("#form_CrownBridge").valid()) {
            $('#btn_Insert').removeClass("btn btn-sm btn-success");
            $('#btn_Insert').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Insert').html("Saving the Record....");

            var icc_4 = "";

            if ($('#icc_41').prop('checked')) {
                icc_4 = "Yes";
            }
            else if ($('#icc_42').prop('checked')) {
                icc_4 = "No";
            }

            var _dateInsert = {
                "iccId": 0,
                "icc_appId": @emr.appId,
                "icc_1": $("#icc_1").val(),
                "icc_2": $("#icc_2").val(),
                "icc_3": $("#icc_3").val(),
                "icc_4": icc_4,
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

            $.ajax({
                type: "POST",
                url: "@Url.Action("InsertCrownBridge", "CrownBridge", new {area = "ConsentForms" })",
                dataType: 'json',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-sm btn-success");
                    $('#btn_Insert').html("Save");

                    if (data.isSuccess) {
                        if (data.isInserted) {
                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>  Crown Bridge Consent Form Saved Successfully!", "success");
                            Timeout();
                            $("#btn_Delete").removeClass("d-none");
                            $("#btn_Print").removeClass("d-none");
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning.. Crown Bridge Consent Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-sm btn-warning");
                    $('#btn_Insert').html("Save");
                    Timeout();
                }
            });
        }
        else {
            $('#form_CrownBridge').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 1500);
        }
    });
    //#endregion

    //#region Delete Click
    $('#btn_Delete').on('click', function (e) {
        e.preventDefault();
        $('#btn_Delete').removeClass("btn btn-success");
        $('#btn_Delete').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Delete').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteCrownBridge", "CrownBridge", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-warning");
                $('#btn_Delete').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i> Crown Bridge Consent Form Deleted Successfully!", "success");
                        clearControls();
                        Timeout();

                        $('#btn_Delete').addClass("d-none");
                        $("#pat_sign_box").addClass("d-none");
                        $("#wit_sign_box").addClass("d-none");
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-Delete");
                $('#btn_Delete').html("Delete");
                Timeout();
            }
        })
    });
//#endregion

    //#region Print
    $('#btn_Print').on('click', function (e) {
        e.preventDefault();
        $('#btn_Print').removeClass("btn btn-success");
        $('#btn_Print').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Print').html("Printing the Record....");
        $.ajax({
            type: "Get",
            url: "@Url.Action("PrintPDFConsent", "CrownBridge", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=CrownBridge",
            dataType: 'JSON',
            success: function (data) {
                if (data.isAuthorized) {
                    if (data.success) {
                        window.location.href = data.message.pdfPath
                    }
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        });
    });
    //#endregion Print

    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("#pat_sign,#wit_sign").attr("src", "");
        $("input[name='icc_4']:radio").prop('checked', false);


    }
    //#endregion Clear Controls

    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "CrownBridge",
            "appId": @emr.appId,
            "formname":"CrownBridge",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    //#region Wacom Tab Signature
         var openWacomTabSignaturePad = function (id) {
                 var _data = {
                     "patId": @emr.patId,
                    "person": id,
                    "form": "CrownBridge",
                    "appId": @emr.appId,
                    "formname":"CrownBridge",
                    "formlink":"",
                    "eSign":""
                 }
                 $.ajax({
                     type: "GET",
                     url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                     contentType: "application/json",
                     dataType: "html",
                     data: _data,
                     success: function (response) {
                         $("#signature_pad_body").html(response);
                         $("#signature_pad").modal("show");
                     },
                     error: function (xhr) {
                         console.log("Error :" + xhr.statusText);
                     }
                 });
             }
    //#endregion

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            GetSignaturename('witness');
            localStorage.removeItem("sign");
        }
    });

    //#region Get Signature
    var GetSignaturename = function  (person) {
        $.ajax({
            url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=CrownBridge',
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                console.log(response);
                let sign = response[0].psb_sign;
                if (response[0].person == "patient") {
                    $("#pat_sign_box").removeClass("d-none");
                    $("#pat_sign").attr("src", sign);
                }
                if (response[0].person == "witness") {
                    $("#wit_sign_box").removeClass("d-none");
                    $("#wit_sign").attr("src", sign);
                }
            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr);
            }

        });
    };
    //#endregion Get Signature

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout

</script>


