@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConsentForms.PregnancyForm

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_PregnancyForm" autocomplete="off" name="PregnancyForm" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5 mt-5 text-justify font-weight-semibold">
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">MENSTRUAL HISTORY</div>
        <div class="col-sm-12 col-md-12 col-lg-3 mb-2 mt-2">
            First day of last menstrual period @Html.TextBoxFor(m => m.ptf_1, new { @class = "form-control mb-2 mt-2 text-center", @id = "ptf_1" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3 mb-2 mt-2">
            Was it Light @Html.TextBoxFor(m => m.ptf_2, new { @class = "form-control mb-2 mt-2 ms-1 text-center", @id = "ptf_2" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3 mb-2 mt-2">
            Medium @Html.TextBoxFor(m => m.ptf_3, new { @class = "form-control mb-2 mt-2 ms-1 text-center", @id = "ptf_3" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3 mb-2 mt-2">
            Heavy @Html.TextBoxFor(m => m.ptf_4, new { @class = "form-control mb-2 mt-2 ms-1 text-center", @id = "ptf_4" })
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">Was this a normal period?</div>
            <div class="col-sm-12 col-md-3 col-lg-2 mb-2 mt-2">
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="ptf_radio1" id="ptf_radio11" value="11">
                    <span class="custom-control-label">Yes</span>
                </label>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-2 mb-2 mt-2">
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="ptf_radio1" id="ptf_radio12" value="12">
                    <span class="custom-control-label">NO</span>
                </label>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">Have you had: (Check all that apply)</div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">Nausea? @Html.TextBoxFor(m => m.ptf_5, new { @class = "form-control text-center", @id = "ptf_5" })</div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">Increased Urination?@Html.TextBoxFor(m => m.ptf_6, new { @class = "form-control text-center", @id = "ptf_6" })</div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2"></div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">Sleepy/Tiredness? &nbsp;&nbsp; @Html.TextBoxFor(m => m.ptf_7, new { @class = "form-control text-center", @id = "ptf_7" })</div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">Breast Tenderness?&nbsp;&nbsp; @Html.TextBoxFor(m => m.ptf_8, new { @class = "form-control text-center", @id = "ptf_8" })</div>
        <div class="font-weight-semibold mb-2 mt-4 text-decoration-underline">CONTRACEPTIVE HISTORY</div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">Are you currently using a birth control method?</div>
            <div class="col-sm-12 col-md-3 col-lg-2 mb-2 mt-2">
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="ptf_radio2" id="ptf_radio21" value="21">
                    <span class="custom-control-label">Yes</span>
                </label>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-2 mb-2 mt-2">
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="ptf_radio2" id="ptf_radio22" value="22">
                    <span class="custom-control-label">NO</span>
                </label>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            If you are currently using a birth control method, what is it?
            @Html.TextBoxFor(m => m.ptf_9, new { @class = "form-control", @id = "ptf_9" })
        </div>

        <div class="row mt-2">
            <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">Have you ever missed periods previously?</div>
            <div class="col-sm-12 col-md-3 col-lg-2 mb-2 mt-2">
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="ptf_radio3" id="ptf_radio31" value="31">
                    <span class="custom-control-label">Yes</span>
                </label>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-2 mb-2 mt-2">
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="ptf_radio3" id="ptf_radio32" value="32">
                    <span class="custom-control-label">NO</span>
                </label>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">Did you recently stop a birth control method? </div>
            <div class="col-sm-12 col-md-3 col-lg-2 mb-2 mt-2">
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="ptf_radio4" id="ptf_radio41" value="41">
                    <span class="custom-control-label">Yes</span>
                </label>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-2 mb-2 mt-2">
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="ptf_radio4" id="ptf_radio42" value="42">
                    <span class="custom-control-label">NO</span>
                </label>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">Number of sexual partners in the last 6 months?</div>
        <div class="col-sm-12 col-md-12 col-lg-8 mb-2 mt-2">
            @Html.TextBoxFor(m => m.ptf_10, new { @class = "form-control", @id = "ptf_10" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            Last year? @Html.TextBoxFor(m => m.ptf_11, new { @class = "form-control", @id = "ptf_11" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3 mb-2 mt-2">Sex of partners?</div>
        <div class="col-sm-12 col-md-12 col-lg-3 mb-2 mt-2">
            Male @Html.TextBoxFor(m => m.ptf_12, new { @class = "form-control", @id = "ptf_12" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3 mb-2 mt-2">
            Female  @Html.TextBoxFor(m => m.ptf_13, new { @class = "form-control", @id = "ptf_13" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3 mb-2 mt-2">
            Both @Html.TextBoxFor(m => m.ptf_14, new { @class = "form-control", @id = "ptf_14" })
        </div>
        <div class="font-weight-semibold mb-1 mt-5 text-decoration-underline">PREGNANCY HISTORY</div>
        <div class="row mt-1">
            <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">Have you ever been pregnant? </div>
            <div class="col-sm-12 col-md-3 col-lg-2 mb-2 mt-2">
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="ptf_radio5" id="ptf_radio51" value="51">
                    <span class="custom-control-label">Yes</span>
                </label>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-2 mb-2 mt-2">
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="ptf_radio5" id="ptf_radio52" value="52">
                    <span class="custom-control-label">NO</span>
                </label>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            Total number of pregnancies?  @Html.TextBoxFor(m => m.ptf_15, new { @class = "form-control", @id = "ptf_15" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            Date last pregnancy ended?  (Birth, miscarriage. abortion)
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fe fe-calendar"></i>
                    </div>
                </div>
                <input id="ptf_date1" class="form-control" placeholder="DD-MMM-YYYY" type="text" autocomplete="off">
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2">
            <label class="form-label"> # of live birth </label>
            @Html.TextBoxFor(m => m.ptf_16, new { @class = "form-control", @maxlength = "250", @id = "ptf_16" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2">
            <label class="form-label"> # 1st trimester abortions </label>
            @Html.TextBoxFor(m => m.ptf_17, new { @class = "form-control", @maxlength = "250", @id = "ptf_17" })

        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2">
            <label class="form-label"> # of children still living </label>
            @Html.TextBoxFor(m => m.ptf_18, new { @class = "form-control", @maxlength = "250", @id = "ptf_18" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2">
            <label class="form-label"> # 1st trimester abortions (12-20 wks) </label>
            @Html.TextBoxFor(m => m.ptf_19, new { @class = "form-control", @maxlength = "250", @id = "ptf_19" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2">
            <label class="form-label"> # of C-sections </label>
            @Html.TextBoxFor(m => m.ptf_20, new { @class = "form-control", @maxlength = "250", @id = "ptf_20" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2">
            <label class="form-label">  # ectopic pregnancies (tubal) </label>
            @Html.TextBoxFor(m => m.ptf_21, new { @class = "form-control", @maxlength = "250", @id = "ptf_21" })
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2">
            <label class="form-label"> # of stillborn deliveries </label>
            @Html.TextBoxFor(m => m.ptf_22, new { @class = "form-control", @maxlength = "250", @id = "ptf_22" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2">
            <label class="form-label">  # of miscarriages </label>
            @Html.TextBoxFor(m => m.ptf_23, new { @class = "form-control", @maxlength = "250", @id = "ptf_23" })
        </div>
        <div class="font-weight-semibold mb-3 mt-5 text-decoration-underline">FOR CLINIC USE ONLY   **************    DO NOT WRITE BELOW THIS LINE  ****************</div>
        <div class="col-sm-12 col-md-12 col-lg-3 mb-2 mt-2">Urine pregnancy test results:</div>
        <div class="col-sm-12 col-md-12 col-lg-3 mb-2 mt-2">
            Positive @Html.TextBoxFor(m => m.ptf_24, new { @class = "form-control text-center", @id = "ptf_24" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3 mb-2 mt-2">
            Negative @Html.TextBoxFor(m => m.ptf_25, new { @class = "form-control text-center", @id = "ptf_25" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3 mb-2 mt-2">
            Undetermined @Html.TextBoxFor(m => m.ptf_26, new { @class = "form-control text-center", @id = "ptf_26" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            If positive,   expected date of delivery
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fe fe-calendar"></i>
                    </div>
                </div>
                <input id="ptf_date2" class="form-control" placeholder="DD-MMM-YYYY" type="text" autocomplete="off">
            </div>
        </div>
        <div class="font-weight-semibold col-sm-12 col-md-12 col-lg-12 mb-2 mt-2 text-decoration-underline">Negative Results:</div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
            Scheduled appointment for Family Planning Clinic?
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
            Yes   @Html.TextBoxFor(m => m.ptf_27, new { @class = "form-control text-center", @id = "ptf_27" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
            Not needed/refused @Html.TextBoxFor(m => m.ptf_28, new { @class = "form-control text-center", @id = "ptf_28" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
            Barrier method provided?
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
            Yes   @Html.TextBoxFor(m => m.ptf_29, new { @class = "form-control text-center", @id = "ptf_29" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
            Not needed/refused @Html.TextBoxFor(m => m.ptf_30, new { @class = "form-control text-center", @id = "ptf_30" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 text-decoration-underline mb-2 mt-2">Counseling:</div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
            WIC  @Html.TextBoxFor(m => m.ptf_31, new { @class = "form-control", @maxlength = "250", @id = "ptf_31" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
            CAO Clinic   @Html.TextBoxFor(m => m.ptf_32, new { @class = "form-control", @maxlength = "250", @id = "ptf_32" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
            Private OB/GYN  @Html.TextBoxFor(m => m.ptf_33, new { @class = "form-control", @maxlength = "250", @id = "ptf_33" })
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 mt-2">
            <label class="form-label"> Comb. program app. </label>
            @Html.TextBoxFor(m => m.ptf_34, new { @class = "form-control", @maxlength = "250", @id = "ptf_34" })
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mt-2">
            <label class="form-label"> Has Medicaid </label>
            @Html.TextBoxFor(m => m.ptf_35, new { @class = "form-control", @maxlength = "250", @id = "ptf_35" })
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3 mt-2">
            <label class="form-label"> Sexually Transmitted Diseases  </label>
            @Html.TextBoxFor(m => m.ptf_36, new { @class = "form-control", @maxlength = "250", @id = "ptf_36" })
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mt-2">
            <label class="form-label"> Prenatal Care & Delivery </label>
            @Html.TextBoxFor(m => m.ptf_37, new { @class = "form-control", @maxlength = "250", @id = "ptf_37" })
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mt-2">
            <label class="form-label"> Condom use for STD Prevention  </label>
            @Html.TextBoxFor(m => m.ptf_38, new { @class = "form-control", @maxlength = "250", @id = "ptf_38" })
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mt-2">
            <label class="form-label"> Nutrition/Exercise information  </label>
            @Html.TextBoxFor(m => m.ptf_39, new { @class = "form-control", @maxlength = "250", @id = "ptf_39" })
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mt-2">
            <label class="form-label"> Birth Control options </label>
            @Html.TextBoxFor(m => m.ptf_40, new { @class = "form-control", @maxlength = "250", @id = "ptf_40" })
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mt-2">
            <label class="form-label"> Danger of Alcohol/Tobacco/Drug use  </label>
            @Html.TextBoxFor(m => m.ptf_41, new { @class = "form-control", @maxlength = "250", @id = "ptf_41" })
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mt-2">
            <label class="form-label"> Number of sexual partners </label>
            @Html.TextBoxFor(m => m.ptf_42, new { @class = "form-control", @maxlength = "250", @id = "ptf_42" })
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mt-2">
            <label class="form-label"> 	Danger of exposure to x-rays  </label>
            @Html.TextBoxFor(m => m.ptf_43, new { @class = "form-control", @maxlength = "250", @id = "ptf_43" })
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mt-2">
            <label class="form-label"> Pregnancy termination info</label>
            @Html.TextBoxFor(m => m.ptf_44, new { @class = "form-control", @maxlength = "250", @id = "ptf_44" })
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mt-2">
            <label class="form-label">Prenatal/post-partum visits</label>
            @Html.TextBoxFor(m => m.ptf_45, new { @class = "form-control", @maxlength = "250", @id = "ptf_45" })
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mt-2">
            <label class="form-label"> Infant care/Foster care/Adoption info</label>
            @Html.TextBoxFor(m => m.ptf_46, new { @class = "form-control", @maxlength = "250", @id = "ptf_46" })
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mt-2">
            <label class="form-label">Danger/signs of miscarriage</label>
            @Html.TextBoxFor(m => m.ptf_47, new { @class = "form-control", @maxlength = "250", @id = "ptf_47" })
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mt-2">
            <label class="form-label">All options counseling refused? </label>
            @Html.TextBoxFor(m => m.ptf_48, new { @class = "form-control", @maxlength = "250", @id = "ptf_48" })
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mt-2">
            <label class="form-label">Pt will parent the child?</label>
            <div class="font-weight-semibold d-flex">
                <div class="ms-0">
                    <label class="custom-control custom-radio ms-2">
                        <input type="radio" class="custom-control-input" name="ptf_radio6" id="ptf_radio61" value="61">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
                <div>
                    <label class="custom-control custom-radio ms-2">
                        <input type="radio" class="custom-control-input" name="ptf_radio6" id="ptf_radio62" value="62">
                        <span class="custom-control-label">NO</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mt-2">
            <label class="form-label"> Pre-pregnancy/Folic acid handout given?</label>
            @Html.TextBoxFor(m => m.ptf_49, new { @class = "form-control", @maxlength = "250", @id = "ptf_49" })
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mt-2">
            <label class="form-label">Proof of pregnancy given?</label>
            @Html.TextBoxFor(m => m.ptf_50, new { @class = "form-control", @maxlength = "250", @id = "ptf_50" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
            <div class="font-weight-semibold">
                <label class="form-label">Sheet with referral numbers given? </label>
                @Html.TextBoxFor(m => m.ptf_51, new { @class = "form-control", @maxlength = "250", @id = "ptf_51" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            Staff comments: @Html.TextAreaFor(m => m.ptf_52, new { @class = "form-control", @maxlength = "250", @id = "ptf_52" })
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="2" class="font-weight-bold text-danger fs-18" width="100%">
                        Sign here, only if all of your questions have been answered to your satisfaction
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <div id="pat_sign_box">
                            <img alt="Signature" src="" id="pat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize mt-1">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold"> Patient Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left mt-2" id="psb_date_patient" name="">&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize mt-2">@emr.doc_name&nbsp;</label>
                        <span class="font-weight-semibold">Doctor’s Name</span>
                        <br /><br /><br />
                        <label class="form-label text-red text-left mt-1" id="ptf_date_doctor"></label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue" width="33%">
                        Patient Signature
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center" width="33%">Doctor’s Signature</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-success btn-sm" id="btn_Insert">Save</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset_C">Reset</button>
                <button type="button" class="btn btn-danger btn-sm d-none" id="btn_Delete">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success d-none" id="btn_Print_C"> Download/Print </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Insert").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Insert").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Insert").show();
                }
                else {
                    $("#btn_Insert").hide();
                }
            }
        }

        validate();
          $('#ptf_date1').bootstrapdatepicker({
              format: "dd-MM-yyyy",
              viewMode: "date",
              todayHighlight: true,
              autoclose: true,
              multidate: false,
              multidateSeparator: "-"
            });
          $("#ptf_date1").bootstrapdatepicker("setDate", moment(new Date("@emr.today")).format("DD-MMMM-YYYY"));

        $('#ptf_date2').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-"
          });
        $("#ptf_date2").bootstrapdatepicker("setDate", moment(new Date("@emr.today")).format("DD-MMMM-YYYY"))

    });

    //#region Validation Initialization
    var validate = function () {
        $("#form_PregnancyForm").validate({
            rules: {
                ptf_52: {
                    required: true
                },
            },
            messages: {
                ptf_52: {
                    required: "Please Enter Staff Comments"
                },
            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
    //#endregion

    //#region Add  Click
    $('#btn_Insert').on('click', function (e) {
        e.preventDefault();
        if ($("#form_PregnancyForm").valid()) {
            $('#btn_Insert').removeClass("btn btn-sm btn-success");
            $('#btn_Insert').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Insert').html("Saving the Record....");

            var ptf_radio1 = "";
            if ($('#ptf_radio11').prop('checked')) {
                ptf_radio1 = "11";
            }
            else if ($('#ptf_radio12').prop('checked')) {
                ptf_radio1 = "12";
            }

            var ptf_radio2 = "";
            if ($('#ptf_radio21').prop('checked')) {
                ptf_radio2 = "21";
            }
            else if ($('#ptf_radio22').prop('checked')) {
                ptf_radio2 = "22";
            }

            var ptf_radio3 = "";
            if ($('#ptf_radio31').prop('checked')) {
                ptf_radio3 = "31";
            }
            else if ($('#ptf_radio32').prop('checked')) {
                ptf_radio3 = "32";
            }

            var ptf_radio4 = "";
            if ($('#ptf_radio41').prop('checked')) {
                ptf_radio4 = "41";
            }
            else if ($('#ptf_radio42').prop('checked')) {
                ptf_radio4 = "42";
            }
            var ptf_radio5 = "";
            if ($('#ptf_radio51').prop('checked')) {
                ptf_radio5 = "51";
            }
            else if ($('#ptf_radio52').prop('checked')) {
                ptf_radio5 = "52";
            }
            var ptf_radio6 = "";
            if ($('#ptf_radio61').prop('checked')) {
                ptf_radio6 = "61";
            }
            else if ($('#ptf_radio62').prop('checked')) {
                ptf_radio6 = "62";
            }

            var _dateInsert = {
                "ptfId": 0,
                "ptf_appId": @emr.appId,
                "ptf_1": $("#ptf_1").val(),
                "ptf_2": $("#ptf_2").val(),
                "ptf_3": $("#ptf_3").val(),
                "ptf_4": $("#ptf_4").val(),
                "ptf_5": $("#ptf_5").val(),
                "ptf_6": $("#ptf_6").val(),
                "ptf_7": $("#ptf_7").val(),
                "ptf_8": $("#ptf_8").val(),
                "ptf_9": $("#ptf_9").val(),
                "ptf_10": $("#ptf_10").val(),
                "ptf_11": $("#ptf_11").val(),
                "ptf_12": $("#ptf_12").val(),
                "ptf_13": $("#ptf_13").val(),
                "ptf_14": $("#ptf_14").val(),
                "ptf_15": $("#ptf_15").val(),
                "ptf_16": $("#ptf_16").val(),
                "ptf_17": $("#ptf_17").val(),
                "ptf_18": $("#ptf_18").val(),
                "ptf_19": $("#ptf_19").val(),
                "ptf_20": $("#ptf_20").val(),
                "ptf_21": $("#ptf_21").val(),
                "ptf_22": $("#ptf_22").val(),
                "ptf_23": $("#ptf_23").val(),
                "ptf_24": $("#ptf_24").val(),
                "ptf_25": $("#ptf_25").val(),
                "ptf_26": $("#ptf_26").val(),
                "ptf_27": $("#ptf_27").val(),
                "ptf_28": $("#ptf_28").val(),
                "ptf_29": $("#ptf_29").val(),
                "ptf_30": $("#ptf_30").val(),
                "ptf_31": $("#ptf_31").val(),
                "ptf_32": $("#ptf_32").val(),
                "ptf_33": $("#ptf_33").val(),
                "ptf_34": $("#ptf_34").val(),
                "ptf_35": $("#ptf_35").val(),
                "ptf_36": $("#ptf_36").val(),
                "ptf_37": $("#ptf_37").val(),
                "ptf_38": $("#ptf_38").val(),
                "ptf_39": $("#ptf_39").val(),
                "ptf_40": $("#ptf_40").val(),
                "ptf_41": $("#ptf_41").val(),
                "ptf_42": $("#ptf_42").val(),
                "ptf_43": $("#ptf_43").val(),
                "ptf_44": $("#ptf_44").val(),
                "ptf_45": $("#ptf_45").val(),
                "ptf_46": $("#ptf_46").val(),
                "ptf_47": $("#ptf_47").val(),
                "ptf_48": $("#ptf_48").val(),
                "ptf_49": $("#ptf_49").val(),
                "ptf_50": $("#ptf_50").val(),
                "ptf_51": $("#ptf_51").val(),
                "ptf_52": $("#ptf_52").val(),

                "ptf_radio1": ptf_radio1,
                "ptf_radio2": ptf_radio2,
                "ptf_radio3": ptf_radio3,
                "ptf_radio4": ptf_radio4,
                "ptf_radio5": ptf_radio5,
                "ptf_radio6": ptf_radio6,
                "ptf_date1": $("#ptf_date1").val(),
                "ptf_date2": $("#ptf_date2").val(),


                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }
            console.log(_dateInsert);
            $.ajax({
                type: "Post",
                url: "@Url.Action("InsertPregnancyForm", "PregnancyForm", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-sm btn-success");
                    $('#btn_Insert').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isInserted) {
                            GetPregnancyFormInfo();
                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>  Pregnancy Form Saved Successfully!", "success");
                            Timeout();
                            $("#btn_Delete").removeClass("d-none");
                            $("#btn_Print").removeClass("d-none");
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning..Pregnancy Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-sm btn-warning");
                    $('#btn_Insert').html("Add");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion Add Click

    //#region Delete Click
    $('#btn_Delete').on('click', function (e) {
        e.preventDefault();
        $('#btn_Delete').removeClass("btn btn-success");
        $('#btn_Delete').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Delete').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeletePregnancyForm", "PregnancyForm", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-warning");
                $('#btn_Delete').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i> Pregnancy Form Deleted Successfully!", "success");
                        clearControls();
                        GetPregnancyForm();

                        $('#btn_Delete').addClass("d-none");
                        $("#pat_sign_box").addClass("d-none");
                        $("#wit_sign_box").addClass("d-none");
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-Delete");
                $('#btn_Delete').html("Delete");
                Timeout();
            }
        })
    });
//#endregion

//#region Print
    $('#btn_Print_C').on('click', function (e) {
    e.preventDefault();
        $('#btn_Print_C').removeClass("btn btn-success");
        $('#btn_Print_C').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Print_C').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "PregnancyForm", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=PregnancyForm",
        dataType: 'JSON',
        success: function (data) {
            console.log(data);
            if (data.isAuthorized) {
                if (data.success) {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print

    //#region Reset
    $('#btn_Reset_C').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control").val("");
        $("#pat_sign,#wit_sign").attr("src", "");
        $("input[name='ptf_radio1']:radio").prop('checked', false);
        $("input[name='ptf_radio2']:radio").prop('checked', false);
        $("input[name='ptf_radio3']:radio").prop('checked', false);
        $("input[name='ptf_radio4']:radio").prop('checked', false);
        $("input[name='ptf_radio5']:radio").prop('checked', false);
        $("input[name='ptf_radio6']:radio").prop('checked', false);

        $("#ptf_date1").bootstrapdatepicker("setDate", '');
        $("#ptf_date2").bootstrapdatepicker("setDate", '');

    }
    //#endregion Clear Controls

    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "PregnancyForm",
            "appId": @emr.appId,
            "formname":"Pregnancy Form",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {

            GetSignaturename('patient');
            GetSignaturename('witness');
            localStorage.removeItem("sign");
        }
    });

    //#region Get Signature
    var GetSignaturename = function  (person) {
        $.ajax({
            url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=PregnancyForm',
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                console.log(response);
                let sign = response[0].psb_sign;
                var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY");

                if (response[0].person == "patient") {
                    $("#pat_sign_box").removeClass("d-none");
                    $("#psb_date_patient").html(date);
                    $("#pat_sign").attr("src", sign);
                }
                if (response[0].person == "witness") {
                    $("#wit_sign_box").removeClass("d-none");
                    $("#wit_sign").attr("src", sign);
                    $("#psb_date_witness").html(date);
                }
            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr);
            }

        });
    };
    //#endregion Get Signature

        //#region Wacom Tab Signature
     var openWacomTabSignaturePad = function (id) {
             var _data = {
                 "patId": @emr.patId,
                 "person": id,
                 "form": "PregnancyForm",
                 "appId": @emr.appId,
                 "formname":"Pregnancy Form",
                 "formlink":"",
                 "eSign":""
             }
             $.ajax({
                 type: "GET",
                 url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                 contentType: "application/json",
                 dataType: "html",
                 data: _data,
                 success: function (response) {
                     $("#signature_pad_body").html(response);
                     $("#signature_pad").modal("show");
                 },
                 error: function (xhr) {
                     console.log("Error :" + xhr.statusText);
                 }
             });
         }
      //#endregion

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout

</script>