@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Pregnancy Form";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Family Planning Clinic - Pregnancy Testing Form</h3>
            </div>
            <div class="card-body">
                <div id="PregnancyForm_add" style="display:none">
                </div>
                <div id="PregnancyForm_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="PregnancyForm_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetPregnancyFormInfo();
        PregnancyFormPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetPregnancyFormInfo
    var GetPregnancyFormInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetPregnancyFormData", "PregnancyForm", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditPregnancyForm();
                        $("#PregnancyForm_add").hide();
                        $("#PregnancyForm_edit").show();

                    }
                    else {
                        $("#PregnancyForm_add").show();
                        $("#PregnancyForm_edit").hide();
                        AddPregnancyForm();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load PregnancyForm

    //#region Add PregnancyForm
    function AddPregnancyForm() {
        var x = $("#PregnancyForm_add");
        x.load("@Url.Action("CreatePregnancyForm", "PregnancyForm", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add PregnancyForm

    //#region Update PregnancyForm
    function EditPregnancyForm() {
        var x = $("#PregnancyForm_edit");
        x.load("@Url.Action("UpdatePregnancyForm", "PregnancyForm", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update PregnancyForm

    //#region Histroy of PregnancyForm
    function PregnancyFormPreviousHistory() {
        var x = $("#PregnancyForm_history");
        x.load("@Url.Action("PregnancyFormPreviousHistory", "PregnancyForm", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>