@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Photo Consent";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Photo Consent</h3>
            </div>
            <div class="card-body">
                <div id="PhotoConsent_add" style="display:none">
                </div>
                <div id="PhotoConsent_edit">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="PhotoConsent_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetPhotoConsentInfo();
        PhotoConsentPreviousHistory();
    });

    //#endregion Page Load

    //#region Load GetPhotoConsentInfo
    var GetPhotoConsentInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetPhotoConsentData", "PhotoConsent", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditPhotoConsent();
                        $("#PhotoConsent_add").hide();
                        $("#PhotoConsent_edit").show();

                    }
                    else {
                        $("#PhotoConsent_add").show();
                        $("#PhotoConsent_edit").hide();
                        AddPhotoConsent();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load PhotoConsent

    //#region Add PhotoConsent
    function AddPhotoConsent() {
        var x = $("#PhotoConsent_add");
        x.load("@Url.Action("CreatePhotoConsent", "PhotoConsent", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add PhotoConsent

    //#region Update PhotoConsent

    function EditPhotoConsent() {
        var x = $("#PhotoConsent_edit");
        x.load("@Url.Action("UpdatePhotoConsent", "PhotoConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update PhotoConsent

    //#region Histroy of PhotoConsent

    function PhotoConsentPreviousHistory() {
        var x = $("#PhotoConsent_history");
        x.load("@Url.Action("PhotoConsentPreviousHistory", "PhotoConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Histroy of PhotoConsent

</script>