@using BusinessEntities;
@using System.Linq;
@using System.Security.Claims;

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "ConjunctivalCystExcisionNewIndex";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }

}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Operative Report For Conjunctival Cyst Excision
                </h3>
            </div>
            <div class="card-body">
                <div id="ConjunctivalCystExcisionNew_add" style="display:none">
                </div>
                <div id="ConjunctivalCystExcisionNew_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="ConjunctivalCystExcisionNew_history">
                </div>
            </div>
        </div>
    </div>
</div>

@*@section myScripts{*@
    <script>
        //#region Page Load
        $(function () {
            GetConjunctivalCystExcisionNewInfo();
            ConjunctivalCystExcisionNewPreviousHistory();

        });
        //#endregion Page Load

        //#region Load GetConjunctivalCystExcisionNewInfo
        var GetConjunctivalCystExcisionNewInfo = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetConjunctivalCystExcisionNewData", "ConjunctivalCystExcisionNew", new { area = "ConsentForms" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        if (response.length > 0) {
                            EditConjunctivalCystExcisionNew();
                            $("#ConjunctivalCystExcisionNew_add").hide();
                            $("#ConjunctivalCystExcisionNew_edit").show();

                        }
                        else {
                            $("#ConjunctivalCystExcisionNew_add").show();
                            $("#ConjunctivalCystExcisionNew_edit").hide();
                            AddConjunctivalCystExcisionNew();
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
        //#endregion Load ConjunctivalCystExcisionNew

        //#region Add ConjunctivalCystExcisionNew
        function AddConjunctivalCystExcisionNew() {
            var x = $("#ConjunctivalCystExcisionNew_add");
            x.load("@Url.Action("CreateConjunctivalCystExcisionNew", "ConjunctivalCystExcisionNew", new { area = "ConsentForms" })", function () {
          });
        }
        //#endregion Add ConjunctivalCystExcisionNew

        //#region Update ConjunctivalCystExcisionNew
        function EditConjunctivalCystExcisionNew() {
            var x = $("#ConjunctivalCystExcisionNew_edit");
            x.load("@Url.Action("UpdateConjunctivalCystExcisionNew", "ConjunctivalCystExcisionNew", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
          //#endregion Update ConjunctivalCystExcisionNew

          //#region Histroy of ConjunctivalCystExcisionNew
        function ConjunctivalCystExcisionNewPreviousHistory() {
            var x = $("#ConjunctivalCystExcisionNew_history");
            x.load("@Url.Action("ConjunctivalCystExcisionNewPreviousHistory", "ConjunctivalCystExcisionNew", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
        //#endregion History of ConjunctivalCystExcisionNew


    </script>

@*}*@
