@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Filler Informed";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Derma Filler Informed Consent</h3>
            </div>
            <div class="card-body">
                <div id="FillerInformed_add" style="display:none">
                </div>
                <div id="FillerInformed_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="FillerInformed_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetFillerInformedInfo();
        FillerInformedPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetFillerInformedInfo
        var GetFillerInformedInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetFillerInformedData", "FillerInformed", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditFillerInformed();
                        $("#FillerInformed_add").hide();
                        $("#FillerInformed_edit").show();

                    }
                    else {
                        $("#FillerInformed_add").show();
                        $("#FillerInformed_edit").hide();
                        AddFillerInformed();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load FillerInformed

    //#region Add FillerInformed
        function AddFillerInformed() {
            var x = $("#FillerInformed_add");
        x.load("@Url.Action("CreateFillerInformed", "FillerInformed", new { area = "ConsentForms" })", function () {
      });
    }
    //#endregion Add FillerInformed

    //#region Update FillerInformed
        function EditFillerInformed() {
            var x = $("#FillerInformed_edit");
        x.load("@Url.Action("UpdateFillerInformed", "FillerInformed", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
      });
    }
      //#endregion Update FillerInformed

      //#region Histroy of FillerInformed
        function FillerInformedPreviousHistory() {
            var x = $("#FillerInformed_history");
        x.load("@Url.Action("FillerInformedPreviousHistory", "FillerInformed", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
      });
    }
    //#endregion History of FillerInformed
</script>
