@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
    ViewBag.Title = "Doctor Diagnosis";
    Layout = "~/Areas/Documentation/Views/Shared/_Doc_layout.cshtml";
}

<style type="text/css">
    #tbl_patdignosis_wrapper .dataTables_scroll .dataTables_scrollBody {
        min-height: 100px;
    }

    #tbl_Prepatdignosis_wrapper .dataTables_scroll .dataTables_scrollBody {
        min-height: 100px;
    }
</style>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card shadow-sm">
            <div class="card-header d-flex justify-content-between">
                <h3 class="card-title text-primary fs-16">Doctor Diagnosis</h3>
            </div>
            <div class="card-body">
                <div id="patdignosis_add" style="display:none;">
                </div>

                <div id="patdignosis_edit">
                </div>

                <div class="table-responsive mt-2">
                    <table id="tbl_patdignosis" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #3C457D; border-color: #3C457D; ">
                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Type</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Code</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Diagnosis</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Year</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Notes</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card shadow-sm">
            <div class="card-header d-flex justify-content-between">
                <h3 class="card-title text-primary fs-16">Previous History</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tbl_Prepatdignosis" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #808080; border-color: #3C457D; ">
                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Date</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Doctor</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Type</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Code</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Diagnosis</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Notes</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">year</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section myScripts{
    <script type="text/javascript">
        //#region Page Load
        $(function () {
            getPatDiagnosis();

            getPreviousPatDiagnosis();
        });
        //#endregion

        //#region Load PatientDiagnosis
        var getPatDiagnosis = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllPatientDiagnosis", "PatientDiagnosis", new { area = "EMR" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized) {
                        var table;

                        if ($.fn.dataTable.isDataTable('#tbl_patdignosis')) {
                            table = $('#tbl_patdignosis').DataTable();
                            table.clear();
                            table.rows.add(response.message).draw();
                        }
                        else {
                            BindDataTable(response.message);
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
        //#endregion

        //#region Load PreviousPatientDiagnosis
        var getPreviousPatDiagnosis = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllPrePatientDiagnosis", "PatientDiagnosis", new { area = "EMR" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.isAuthorized) {
                        var table;
                        if ($.fn.dataTable.isDataTable('#tbl_Prepatdignosis')) {
                            table = $('#tbl_Prepatdignosis').DataTable();
                            table.clear();
                            table.rows.add(response.message).draw();
                        }
                        else {
                            BindPHDataTable(response.message);
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
        //#endregion

        //#region Bind Datatable
        var BindDataTable = function (response) {
            var table = $("#tbl_patdignosis").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                processing: true,
                "deferRender": true,
                "pageLength": 100,
                "retrieve": true,
                lengthChange: true,
                "aaData": response,
                "aoColumns": [
                    {
                        "mData": "padId",
                        "orderable": false,
                        "searchable": false,
                        "className": "text-center",
                        "render": function (data, type, row, meta) {
                            let _index = (meta.row) + 1;
                            if (_index >= 10) {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>" + _index + "</a>";
                            }
                            else {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>0" + _index + "</a>";
                            }
                        }
                    },
                    {
                        "mData": "pad_type"
                    },
                    {
                        "mData": "diag_code"
                    },
                    {
                        "mData": "diag_name",
                        "className": 'text-justify text-wrap'
                    },
                    {
                        "mData": "pad_year",
                        "className": 'text-left'
                    },
                    {
                        "mData": "pad_notes",
                        "className": 'text-justify text-wrap'
                    }
                ],
                order: [[0, 'asc']],
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '<span class="text-primary font-weight-semi-bold">Search By Diagnosis</span>',
                    lengthMenu: '_MENU_',
                    scrollX: "100%",
                },
                scrollX: true,
                scrollY: 500,
                scrollCollapse: true,
                buttons: [
                    {
                        extend: 'excel',
                        title: 'Doctor Diagnosis',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    },
                    {
                        extend: 'pdf',
                        title: 'Doctor Diagnosis',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    },
                    {
                        extend: 'csv',
                        title: 'Doctor Diagnosis',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    },
                    {
                        extend: 'print',
                        title: 'Doctor Diagnosis',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        }
                    }
                ]
            });

            table.buttons().container().appendTo('#tbl_patdignosis_wrapper .col-md-6:eq(0)');
        };
        //#endregion

        //#region Previous Bind Datatable
        var BindPHDataTable = function (response) {
            var table = $("#tbl_Prepatdignosis").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                processing: true,
                "deferRender": true,
                "pageLength": 100,
                "retrieve": true,
                lengthChange: true,
                "aaData": response,
                "aoColumns": [
                    {
                        "mData": "padId",
                        "orderable": false,
                        "searchable": false,
                        "className": "text-center",
                        "render": function (data, type, row, meta) {
                            let _index = (meta.row) + 1;
                            if (_index >= 10) {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>" + _index + "</a>";
                            }
                            else {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>0" + _index + "</a>";
                            }
                        }
                    },
                    {
                        "mData": "app_fdate",
                        "className": "text-left",
                        "render": function (data) {
                            if (type === 'display' || type === 'filter') {
                                return moment(data).format('DD-MM-YYYY');
                            }

                            return moment(data).format('YYYY-MM-DD');
                        }
                    },
                    {
                        "mData": "doctor_name"
                    },
                    {
                        "mData": "pad_type"
                    },
                    {
                        "mData": "diag_code"
                    },
                    {
                        "mData": "diag_name",
                        "className": 'text-justify text-wrap'
                    },
                    {
                        "mData": "pad_notes",
                        "className": 'text-justify text-wrap'
                    },
                    {
                        "mData": "pad_year"
                    }
                ],
                order: [[0, 'asc']],
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '<span class="text-primary font-weight-semi-bold">Search Patient Diagnosis</span>',
                    lengthMenu: '_MENU_',
                    scrollX: "100%",
                },
                scrollX: true,
                scrollY: 500,
                scrollCollapse: true,
                buttons: [
                    {
                        extend: 'excel',
                        title: 'Previous Patient Diagnosis',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7]
                        }
                    },
                    {
                        extend: 'pdf',
                        title: 'Previous Patient Diagnosis',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7]
                        }
                    },
                    {
                        extend: 'csv',
                        title: 'Previous Patient Diagnosis',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7]
                        }
                    },
                    {
                        extend: 'print',
                        title: 'Previous Patient Diagnosis',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7]
                        }
                    }
                ]
            });

            table.buttons().container().appendTo('#tbl_Prepatdignosis_wrapper .col-md-6:eq(0)');
        };
        //#endregion

        //#region Resize Datatable
        function resizedt() {
            setTimeout(function () {
                $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
            }, 350);
        }
        //#endregion

        //#region Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
        //#endregion
    </script>
}