@model IEnumerable<BusinessEntities.Masters.Vouchers>
@{
    ViewBag.Title = "Vouchers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title mb-0 text-primary" data-lang-key="vouchers">Vouchers</h4>
    </div>
    <div class="page-rightheader">
        <div class="btn-list">
            <a data-bs-toggle="modal" data-bs-target="#vouchers_modal" class="btn btn-secondary" onclick="addVoucher()" data-lang-key="add voucher"><i class="mdi mdi-plus"></i>&nbsp;Add Voucher</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
        <div id="VoucherAlert"></div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tbl_vouchers" class="table table-striped table-bordered text-nowrap resize-table" style="width: 100%; cursor: pointer;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #3C457D; border-color: #3C457D;">
                                <th class="border-bottom-0 font-weight-semibold text-white" >
                                    <span data-lang-key="branch">Branch</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="voucher-code">Voucher Code</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="voucher-from">Voucher From</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="voucher-date">Voucher Date</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="expiry-date">Expiry Date</span>
                                </th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="Amount">Amount</span>
                                </th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="Made-by">Made By</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="status">Status</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="edit">Edit</span>
                                </th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="delete">Delete</span></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th class="text-right text-dark font-weight-semibold">
                                    <span data-lang-key="total">Total:</span>  </th>
                                <th class="table_footer_align"></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vouchers Modal -->
<div class="modal fade" id="vouchers_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="size">
        <div class="modal-content" id="vouchers_modal_body">
        </div>
    </div>
</div>
<!-- End Vouchers Modal -->
@section myScripts{
    <script type="text/javascript">
        //#region Page Load
        $(document).ready(function () {
            GetVouchers();
        });
        //#endregion

        //#region Get Vouchers
        var GetVouchers = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllVouchers", "Vouchers", new { area = "Masters" })",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        var table;
                        if ($.fn.dataTable.isDataTable('#tbl_vouchers')) {
                            table = $('#tbl_vouchers').DataTable();
                            table.clear();
                            table.rows.add(response).draw();
                        }
                        else
                        {
                            BindDataTable(response);
                        }
                    }
                    else
                    {
                        console.log("Access Denied!");
                    }
                },
                error: function (xhr) {
                    console.log("Failed to Load Vouchers! Error : " + xhr.statusText);
                }
            })
        }
        //#endregion

        //#region Bind DataTable
        var BindDataTable = function (response) {
            var table = $("#tbl_vouchers").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                processing: true,
                "deferRender": true,
                "pageLength": 100,
                "retrieve": true,
                lengthChange: true,
                scrollX: true,
                scrollY: 500,
                scrollCollapse: true,
                "aaData": response,
                "aoColumns": [
                    { "mData": "vou_branch_name" },
                    { "mData": "vou_code" },
                    {
                        "mData": "vou_from",
                        "render": function (vou_from){
                            if (vou_from != "") {
                                return vou_from;
                            }
                            else {
                                return '<span class="text-muted">N/A</span>'
                            }
                        }
                    },
                    {
                        "mData": "vou_date",
                        "render": function (vou_date, type, full, meta) {
                            if (type === 'display' || type === 'filter') {
                                return moment(vou_date).format('DD-MM-YYYY');
                            }
                            return moment(vou_date).format('YYYY-MM-DD')
                        }
                    },
                    {
                        "mData": "vou_edate",
                        "render": function (vou_edate, type, full, meta) {
                            if (type === 'display' || type === 'filter') {
                                return moment(vou_edate).format('DD-MM-YYYY');
                            }
                            return moment(vou_edate).format('YYYY-MM-DD')
                        }
                    },
                    {
                        "mData": "vou_amount",
                        "className": 'text-right',
                        "render": $.fn.dataTable.render.number(',', '.', 2)
                    },
                    { "mData": "vou_madeby_name", "visible": false },
                    {
                        "className": 'text-center',
                        "mData": "vouId",
                        "render": function (vouId, type, full, meta) {
                            var visible = full.actionvisible;
                            var vou_status = full.vou_status;

                            if (visible === "True") {
                                if (vou_status === "New" || vou_status === "Active") {
                                    return '<button type="button" class="badge rounded-pill bg-success mt-2 border-success" style="width: 60px;">' + vou_status + '</button>'
                                }
                                else if (vou_status === "Used") {
                                    return '<button type="button" class="badge rounded-pill bg-warning mt-2 border-warning" style="width: 60px;">' + vou_status + '</button>'
                                }
                                else if (vou_status === "Expired") {
                                    return '<button type="button" class="badge rounded-pill bg-danger-2 mt-2 border-danger" style="width: 60px;">' + vou_status + '</button>'
                                }
                                else if (vou_status === "Deleted") {
                                    return '<button type="button" class="badge rounded-pill bg-danger mt-2 border-danger" style="width: 60px;">' + vou_status + '</button>'
                                }
                                else {
                                    return ''
                                }
                            }
                            else {
                                return '<span class="badge rounded-pill text-danger mt-2 border-danger">Allocated</span>'
                            }
                        }
                    },
                    {
                        "mData": "vouId",
                        "className": 'text-center',
                        "orderable": false,
                        "searchable": false,
                        "render": function (vouId, type, full, meta) {
                            var status = full.vou_status;
                            var visible = full.actionvisible;

                            if ((status === "Active" || status === "New") && visible === "True") {
                                return '<button type="button" data-bs-toggle="modal" data-bs-target="#vouchers_modal" onclick="editVoucher(' + full.vouId + ')" class="btn btn-sm btn-outline-primary">Edit</button>';
                            }
                            else {
                                return ''
                            }
                        }
                    },
                    {
                        "mData": "vouId",
                        "className": 'text-center',
                        "orderable": false,
                        "searchable": false,
                        "render": function (vouId, type, full, meta) {
                            var status = full.vou_status;
                            var visible = full.actionvisible;

                            if ((status === "Active" || status === "New") && visible === "True") {
                                return '<button type="button" onclick="deleteVoucher(' + full.vouId + ')" class="btn btn-sm btn-outline-danger">Delete</button>';
                            }
                            else {
                                return ''
                            }
                        }
                    }
                ],
                buttons: [
                    {
                        extend: 'excel',
                        title: 'Vouchers',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 7]
                        },
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.excelHtml5.action.call(this, e, dt, node, config);
                            exportLogs("Employee Exported Vouchers to Excel!");
                        }
                    },
                    {
                        extend: 'pdf',
                        title: 'Vouchers',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 7]
                        },
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.pdfHtml5.action.call(this, e, dt, node, config);
                            exportLogs("Employee Exported Vouchers to PDF!");
                        }
                    },
                    {
                        extend: 'csv',
                        title: 'Vouchers',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 7]
                        },
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.csvHtml5.action.call(this, e, dt, node, config);
                            exportLogs("Employee Exported Vouchers to CSV!");
                        }
                    },
                    {
                        extend: 'print',
                        title: 'Vouchers',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 7]
                        },
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.print.action.call(this, e, dt, node, config);
                            exportLogs("Employee Printed Vouchers!");
                        }
                    }
                ],
                order: [[3, 'desc']],
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api();

                    var intVal = function (i) {
                        return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
                    };
                    var numFormat = $.fn.dataTable.render.number('\,', '.', 2, '').display;

                    total_gc = api.column(5).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    $(api.column(5).footer()).html(numFormat(total_gc));
                },
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '<span class="text-primary font-weight-semi-bold">Search By Voucher / Amount / Branch / Status</span>',
                    scrollX: "100%",
                    lengthMenu: '_MENU_ '
                }
            });
            table.buttons().container().appendTo('#tbl_vouchers_wrapper .col-md-6:eq(0)');
        }
        //#endregion

        //#region Add Voucher
        function addVoucher() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("CreateVouchers", "Vouchers", new { area = "Masters" })",
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $("#vouchers_modal_body").html(data);
                    $("#vouchers_modal").modal("show");
                },
                error: function (xhr) {
                    console.log("Error while Adding Voucher : " + xhr.statusText);
                }
            });
        }
        //#endregion

        //#region Edit Voucher
        function editVoucher(vouId) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("EditVouchers", "Vouchers", new { area = "Masters" })?vouId=" + vouId,
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $("#vouchers_modal_body").html(data);
                    $("#vouchers_modal").modal("show");
                },
                error: function (xhr) {
                    console.log("Error while Adding Voucher : " + xhr.statusText);
                }
            });
        }
        //#endregion

        //#region Delete Voucher
        var deleteVoucher = function (vouId) {
            Swal.fire({
                title: "Are you sure you want to delete this Voucher ?",
                text: "This action will delete this Voucher!",
                icon: "question",
                showCancelButton: !0,
                confirmButtonText: 'Yes! I Confirm',
                cancelButtonText: 'No! Cancel Please',
                confirmButtonClass: "btn btn-success mt-2", cancelButtonClass: "btn btn-danger ms-2 mt-2", buttonsStyling: !1
            }).then(function (t) {
                if (t.value) {
                    $.ajax({
                        url: '@Url.Action("DeleteVoucher", "Vouchers", new { area = "Masters" })?vouId=' + vouId +'&vou_status=Deleted',
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            if (data.isAuthorized) {
                                if (data.success) {
                                    GetVouchers();
                                    Swal.fire({
                                        title: "Success!",
                                        text: data.message,
                                        icon: "success",
                                        showCancelButton: 0,
                                        confirmButtonColor: "#0bb197"
                                    });
                                }
                                else {
                                    Swal.fire({
                                        title: "Action Forbidden!",
                                        text: data.message,
                                        icon: "error",
                                        showCancelButton: 0,
                                        confirmButtonColor: "#0bb197"
                                    });
                                }
                            }
                            else {
                                Swal.fire({
                                    title: "Access Denied!",
                                    text: "You do not have enough privileges to delete voucher!",
                                    icon: "error",
                                    showCancelButton: 0,
                                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                                });
                            }
                        },
                        error: function (xhr) {
                            Swal.fire({
                                title: "Error!",
                                text: "Failed to Delete Voucher! Please Refresh the Page and Try Again.",
                                icon: "error",
                                showCancelButton: 0,
                                confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                            });
                        }
                    });
                }
            });
        }
        //#endregion

        //#region Export General Logs
        var exportLogs = function (desc) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ExportLogs", "AuditLogs", new { area = "Common" })?desc="+ desc,
                contentType: "application/json",
                dataType: "json"
            });
        }
        //#endregion

        //#region Alert Functions
        var alertPlaceholder = document.getElementById("VoucherAlert");
        function alert(e, t) {
            var l = document.createElement("div");
            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
        }
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
        //#endregion
    </script>
}