@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.NurseStation.PastHistory
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_AddPastHistory" class="needs-validation" >
    @Html.AntiForgeryToken()
   
    <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div>
                <h4 class="page-title mb-0 text-primary">
                    Past/Family History
                </h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">Past History&nbsp;</label>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="High Blood Pressure" id="1">
                        <span class="custom-control-label">High Blood Pressure</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Heart Attack" id="2">
                        <span class="custom-control-label">Heart Attack</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Rheumatic Fever" id="3">
                        <span class="custom-control-label">Rheumatic Fever</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Swollen Ankles" id="4">
                        <span class="custom-control-label">Swollen Ankles</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Fainting / Seizures" id="5">
                        <span class="custom-control-label">Fainting / Seizures</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Asthma" id="6">
                        <span class="custom-control-label">Asthma</span>
                    </label>
                </div>

            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Diabetes" id="7">
                        <span class="custom-control-label">Diabetes</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Kidney Disease" id="8">
                        <span class="custom-control-label">Kidney Disease</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Liver Disease" id="9">
                        <span class="custom-control-label">Liver Disease</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="AIDS/HIV Infection" id="10">
                        <span class="custom-control-label">AIDS/HIV Infection</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Thyroid Problem" id="11">
                        <span class="custom-control-label">Thyroid Problem</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Heart Disease" id="12">
                        <span class="custom-control-label">Heart Disease</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Anemia" id="13">
                        <span class="custom-control-label">Anemia</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Emphysema" id="14">
                        <span class="custom-control-label">Emphysema</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Cancer" id="15">
                        <span class="custom-control-label">Cancer</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Arthritis" id="16">
                        <span class="custom-control-label">Arthritis</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Joint Replacement/Implant" id="17">
                        <span class="custom-control-label">Joint Replacement/Implant</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Heart Trouble" id="18">
                        <span class="custom-control-label">Heart Trouble</span>
                    </label>
                </div>

            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Easily Winded" id="19">
                        <span class="custom-control-label">Easily Winded</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Stroke" id="20">
                        <span class="custom-control-label">Stroke</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="High Fever/Allergies" id="21">
                        <span class="custom-control-label">High Fever/Allergies</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Tuberculosis" id="22">
                        <span class="custom-control-label">Tuberculosis</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Radiation Theraphy" id="23">
                        <span class="custom-control-label">Radiation Theraphy</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Glaucoma" id="24">
                        <span class="custom-control-label">Glaucoma</span>
                    </label>
                </div>

            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Low Blood Pressure" id="25">
                        <span class="custom-control-label">Low Blood Pressure</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Epilepsy/Convulsions" id="26">
                        <span class="custom-control-label">Epilepsy/Convulsions</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Leukemia" id="27">
                        <span class="custom-control-label">Leukemia</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Pacemaker" id="28">
                        <span class="custom-control-label">Pacemaker</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Heart Murmur" id="29">
                        <span class="custom-control-label">Heart Murmur</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Angina" id="30">
                        <span class="custom-control-label">Angina</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label">&nbsp;</label>

                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Hepatitis/Jaundice" id="31">
                        <span class="custom-control-label">Hepatitis/Jaundice</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Stomach Trouble/Ulcers" id="32">
                        <span class="custom-control-label">Stomach Trouble/Ulcers</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Chest Pain" id="33">
                        <span class="custom-control-label">Chest Pain</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Recent Weight Loss" id="34">
                        <span class="custom-control-label">Recent Weight Loss</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Respiratory Problems" id="35">
                        <span class="custom-control-label">Respiratory Problems</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="pf_past" value="Other" id="36">
                        <span class="custom-control-label">Other</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">Other Past History&nbsp;<span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.pf_other, new { @class = "form-control", @placeholder = "Enter Other Past History" })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group mb-3">
                <label class="form-label">Family History&nbsp;</label>
                @Html.TextBoxFor(m => m.pf_family, new { @class = "form-control", @placeholder = "Enter Quality" })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group mb-3">
                <label class="form-label">Surgical History&nbsp;</label>
                @Html.TextBoxFor(m => m.pf_surgical, new { @class = "form-control", @placeholder = "Enter Surgical History" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2">
            <div>
                <h4 class="page-title mb-0 text-primary">
                    Social History
                </h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">Smoking&nbsp;</label>
                @Html.DropDownListFor(m => m.pf_smok, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Yes", Value = "Yes" },
                         new SelectListItem{ Text="No", Value = "No" },
                      }, "Select Type", new { @class = "form-select select2", })
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label">&nbsp;</label>
                @Html.DropDownListFor(m => m.pf_smok_habit, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="High", Value = "High" },
                         new SelectListItem{ Text="Low", Value = "Low" },
                         new SelectListItem{ Text="Medium", Value = "Medium" },
                         new SelectListItem{ Text="Never", Value = "Never" },
                         new SelectListItem{ Text="Occasional", Value = "Occasional" },
                         new SelectListItem{ Text="Other", Value = "Other" },
                         new SelectListItem{ Text="Unknown", Value = "Unknown" },
                      }, "Smoking Habit", new { @class = "form-select select2", })
            </div>
        </div>
        <div class="col-sm-1 col-md-1 col-lg-1">
            <div class="form-group mb-3">
                <label class="form-label">&nbsp;</label>
                <span class="form-label">if yes,</span>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group mb-3">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.pf_smok_details, new { @class = "form-control", @placeholder = "Enter smoking details" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">Alcohol&nbsp;</label>
                @Html.DropDownListFor(m => m.pf_alco, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Yes", Value = "Yes" },
                         new SelectListItem{ Text="No", Value = "No" },
                      }, "Select Type", new { @class = "form-select select2", })
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label">&nbsp;</label>
                @Html.DropDownListFor(m => m.pf_alco_habit, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="High", Value = "High" },
                         new SelectListItem{ Text="Low", Value = "Low" },
                         new SelectListItem{ Text="Medium", Value = "Medium" },
                         new SelectListItem{ Text="Never", Value = "Never" },
                         new SelectListItem{ Text="Occasional", Value = "Occasional" },
                         new SelectListItem{ Text="Other", Value = "Other" },
                         new SelectListItem{ Text="Unknown", Value = "Unknown" },
                      }, "Smoking Habit", new { @class = "form-select select2", })
            </div>
        </div>
        <div class="col-sm-1 col-md-1 col-lg-1">
            <div class="form-group mb-3">
                <label class="form-label">&nbsp;</label>
                <span class="form-label">if yes,</span>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group mb-3">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.pf_alco_details, new { @class = "form-control", @placeholder = "Enter smoking details" })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">Drug&nbsp;</label>
                @Html.DropDownListFor(m => m.pf_drug, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="Yes", Value = "Yes" },
                         new SelectListItem{ Text="No", Value = "No" },
                      }, "Select Type", new { @class = "form-select select2", })
            </div>
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label">&nbsp;</label>
                @Html.DropDownListFor(m => m.pf_drug_habit, new List<SelectListItem>
                      {
                         new SelectListItem{ Text="High", Value = "High" },
                         new SelectListItem{ Text="Low", Value = "Low" },
                         new SelectListItem{ Text="Medium", Value = "Medium" },
                         new SelectListItem{ Text="Never", Value = "Never" },
                         new SelectListItem{ Text="Occasional", Value = "Occasional" },
                         new SelectListItem{ Text="Other", Value = "Other" },
                         new SelectListItem{ Text="Unknown", Value = "Unknown" },
                      }, "Drug Habit", new { @class = "form-select select2", })
            </div>
        </div>
        <div class="col-sm-1 col-md-1 col-lg-1">
            <div class="form-group mb-3">
                <label class="form-label">&nbsp;</label>
                <span class="form-label">if yes,</span>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group mb-3">
                <label class="form-label">&nbsp;</label>
                @Html.TextBoxFor(m => m.pf_drug_details, new { @class = "form-control", @placeholder = "Enter Drug details" })
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-success" id="btn_Insert_PastHistory">Add</button>
                <button type="button" class="btn btn-outline-dark" id="btn_Reset_PastHistory">Reset</button>
                <button type="button" class="btn btn-outline-danger me-1" id="btn_Close_PastHistory" style="display:none" >
                    Close
                </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    //#region Partial View Onload
        $(function () {
            if ("@emp_designation.ToString()" === "Super Administrator") {
                $("#btn_Insert_PastHistory").show();
            } else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Insert_PastHistory").show();

                }
                else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Insert_PastHistory").show();
                    }
                    else {
                        $("#btn_Insert_PastHistory").hide();
                    }

                }
            }
            $('#btn_Close_PastHistory').click(function () {
                $('#pasthis_add').hide();
            });
            validate();
            clearControls();
            $("#pf_smok").select2({
                placeholder: 'Select Smoking',
                width: '100%',
                minimumResultsForSearch: '',
                dropdownParent: $('#form_AddPastHistory'),
                escapeMarkup: function (markup) {
                    return markup;
                }
            });
            $("#pf_smok_habit").select2({
                placeholder: 'Select Smoking Habit',
                width: '100%',
                minimumResultsForSearch: '',
                dropdownParent: $('#form_AddPastHistory'),
                escapeMarkup: function (markup) {
                    return markup;
                }
            });
            $("#pf_alco").select2({
                placeholder: 'Select Alcohol',
                width: '100%',
                minimumResultsForSearch: '',
                dropdownParent: $('#form_AddPastHistory'),
                escapeMarkup: function (markup) {
                    return markup;
                }
            });
            $("#pf_alco_habit").select2({
                placeholder: 'Select Alcohol Habit',
                width: '100%',
                minimumResultsForSearch: '',
                dropdownParent: $('#form_AddPastHistory'),
                escapeMarkup: function (markup) {
                    return markup;
                }
            });
            $("#pf_drug").select2({
                placeholder: 'Select Drug',
                width: '100%',
                minimumResultsForSearch: '',
                dropdownParent: $('#form_AddPastHistory'),
                escapeMarkup: function (markup) {
                    return markup;
                }
            });
            $("#pf_drug_habit").select2({
                placeholder: 'Select Drug Habit',
                width: '100%',
                minimumResultsForSearch: '',
                dropdownParent: $('#form_AddPastHistory'),
                escapeMarkup: function (markup) {
                    return markup;
                }
            });

        });
    //#endregion Partial View Onload

    //#region Reset
        $('#btn_Reset_PastHistory').on('click', function (e) {
            e.preventDefault();
            clearControls();
        });
    //#endregion Reset

    //#region Clear Controls
        var clearControls = function () {
            $("#pf_other").val("");
            $("#pf_family").val("");
            $("#pf_surgical").val("");
            $("#pf_smok").val("").trigger("change");
            $("#pf_smok_habit").val("").trigger("change");
            $("#pf_smok_details").val("");
            $("#pf_alco").val("").trigger("change");
            $("#pf_alco_habit").val("").trigger("change");
            $("#pf_alco_details").val("");
            $("#pf_drug").val("").trigger("change");
            $("#pf_drug_habit").val("").trigger("change");
            $("#pf_drug_details").val("");
            $("input[name='pf_past']:checkbox").prop('checked', false);
        }
    //#endregion Clear Controls

    //#region Validation Initialization
        var validate = function () {
            $('#pf_other').keypress(function (e) {
                var charCode = (e.which) ? e.which : event.keyCode
                if (String.fromCharCode(charCode).match(/[^a-zA-Z ]/g))
                    return false;
            });
            $("#form_AddPastHistory").validate({
                rules: {
                    pf_other: {
                        required: true
                    },

                },
                messages: {
                    pf_other: {
                        required: "Please Other Past History!"
                    },

                },
                highlight: function (element) {
                    var elem = $(element);
                    $(element).parent().addClass('has-error');
                    error_timeout(elem.attr("id"));
                },
                unhighlight: function (element) {
                    var elem = $(element);
                    $(element).parent().removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'text-danger fw-bold',
                errorPlacement: function (error, element) {
                    var elem = $(element);
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

        }
    //#endregion Validation Initialization

    //#region Insert Button Click
        $('#btn_Insert_PastHistory').on('click', function (e) {
            e.preventDefault();
            if ($("#form_AddPastHistory").valid()) {
                $('#btn_Insert_PastHistory').removeClass("btn btn-success");
                $('#btn_Insert_PastHistory').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Insert_PastHistory').html("Saving the Record....");

                var pf_past = $.map($(':checkbox[name=pf_past]:checked'), function (n, i) {
                    return n.value;
                }).join(',');
                var _dataInsert = {
                "pfId": 0,
                "pf_appId": @emr.appId,
                "pf_past": pf_past,
                "pf_other": $("#pf_other").val(),
                "pf_family": $("#pf_family").val(),
                "pf_surgical": $("#pf_surgical").val(),
                "pf_smok": $("#pf_smok").val(),
                "pf_smok_habit": $("#pf_smok_habit").val(),
                "pf_smok_details": $("#pf_smok_details").val(),
                "pf_alco": $("#pf_alco").val(),
                "pf_alco_habit": $("#pf_alco_habit").val(),
                "pf_alco_details": $("#pf_alco_details").val(),
                "pf_drug": $("#pf_drug").val(),
                "pf_drug_habit": $("#pf_drug_habit").val(),
                "pf_drug_details": $("#pf_drug_details").val(),
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("InsertPastHistory", "PastHistory", new { area = "NurseStation" })",
                    dataType: 'JSON',
                    data: _dataInsert,
                    success: function (data) {
                        $('#btn_Insert_PastHistory').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Insert_PastHistory').addClass("btn btn-success");
                        $('#btn_Insert_PastHistory').html("Add");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> " + data.message + "", "success");
                                Timeout();
                                GetPastHistory();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong><i class='fa fa-exclamation-triangle text-warning'></i> " + data.message + "</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }

                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Insert_PastHistory').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Insert_PastHistory').addClass("btn btn-success");
                        $('#btn_Insert_PastHistory').html("Add");
                        Timeout();
                    }
                });
            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
     //#endregion Insert Button Click
</script>

