@using BusinessEntities;
@{

    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
    ViewBag.Title = "Index";
    var id = TempData["Layout"] as string;
    var layoutPath = string.IsNullOrEmpty(id)
    ? "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml"
    : null;
        Layout = layoutPath;
}

<div class="row">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong>Error!&nbsp;</strong>@TempData["ErrorMessage"]
            </div>
        </div>
    }
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-4 font-weight-semibold">
                        <span class="text-danger" style="font-size:smaller">Required fields are marked with *</span>
                    </div>
                </div>
                <div id="pasthis_add">
                </div>
                <div id="pasthis_edit" style="display:none;">

                </div>

                <div>
                    <h4 class="page-title mb-0 text-primary">
                        Previous History
                    </h4>
                </div>
                <div class="table-responsive">
                    <table id="tbl_PrePastHistory" class="table table-striped table-bordered text-nowrap resize-table" style="width: 100%; cursor: pointer;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #808080; border-color: #3C457D; ">
                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Date</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Doctor</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Past<br />History</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Other Past <br /> History</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Family <br />History</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Surgical<br /> History</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Smoking</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Smoking<br /> Habit Qty</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Smoking<br /> details</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Alcohol</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Alcohol<br /> Habit Qty</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Alcohol<br /> details</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Drug</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Drug<br /> Habit Qty</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Drug<br /> details</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>
    //#region Page Load
        $(function () {
            $("body").addClass("app sidebar-mini sidenav-toggled");
            GetPastHistory();
            GetPreviousPastHistory();
        });
    //#endregion Page Load

    //#region Load PastHistory
        var GetPastHistory = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllPastHistory", "PastHistory", new { area = "NurseStation" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        var _data = response;
                        console.log(response);
                        if (_data.length > 0) {
                            EditPastHistory();
                            $("#pasthis_add").hide();
                            $("#pasthis_edit").show();
                        }
                        else {
                            $("#pasthis_edit").hide();
                            $("#pasthis_add").show();
                            AddPastHistory();

                            

                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion Load PastHistory

    //#region Load PreviousPastHistory
        var GetPreviousPastHistory = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllPrePastHistory", "PastHistory", new { area = "NurseStation" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.isAuthorized != false) {
                        var table;
                        if ($.fn.dataTable.isDataTable('#tbl_PrePastHistory')) {
                            table = $('#tbl_PrePastHistory').DataTable();
                            table.clear();
                            table.rows.add(response).draw();
                        }
                        else {
                            console.log(response);
                            BindDataTablePastHis(response);
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            }).done(function () {
                resizedt();
            });
        }
    //#endregion Load PreviousPastHistory

    //#region Previous Bind Datatable
        var BindDataTablePastHis = function (response) {
            var table = $("#tbl_PrePastHistory").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                processing: true,
                "deferRender": true,
                "pageLength": 100,
                "retrieve": true,
                lengthChange: true,
                "aaData": response,
                "aoColumns": [
                    {
                        "mData": "pfId",
                        "orderable": false,
                        "searchable": false,
                        "className": "text-center",
                        "render": function (data, type, row, meta) {
                            let _index = (meta.row) + 1;
                            if (_index >= 10) {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>" + _index + "</a>";
                            }
                            else {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>0" + _index + "</a>";
                            }
                        }
                    },
                    {
                        "mData": "app_fdate",
                        "className": "text-left",
                        "render": function (data) {
                            return moment(data).format('DD-MM-YYYY')
                        }
                    },
                    {
                        "mData": "doctor_name",
                        "className": "text-left"
                    },
                    {
                        "mData": "pf_past",
                        "className": 'text-justify text-wrap'
                    },
                    {
                        "mData": "pf_other",
                        "className": 'text-left',

                    },
                    {
                        "mData": "pf_family",
                        "className": "text-left"
                    },
                    {
                        "mData": "pf_surgical",
                        "className": "text-left"
                    },
                    {
                        "mData": "pf_smok",
                        "className": "text-left"
                    },
                    {
                        "mData": "pf_smok_habit",
                        "className": "text-left"
                    },
                    {
                        "mData": "pf_smok_details",
                        "className": "text-left"
                    },
                    {
                        "mData": "pf_alco",
                        "className": "text-left"
                    },
                    {
                        "mData": "pf_alco_habit",
                        "className": "text-left"
                    },
                    {
                        "mData": "pf_alco_details",
                        "className": "text-left"
                    },
                    {
                        "mData": "pf_drug",
                        "className": "text-left"
                    },
                    {
                        "mData": "pf_drug_habit",
                        "className": "text-left"
                    },
                    {
                        "mData": "pf_drug_details",
                        "className": "text-left"
                    },

                ],
                order: [[0, 'asc']],
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '<span class="text-primary font-weight-semi-bold">Search By Code/Tittle</span>',
                    lengthMenu: '_MENU_',
                    scrollX: "100%",
                },
                scrollX: true,
                scrollY: 500,
                scrollCollapse: true,
                buttons: [
                    {
                        extend: 'excel',
                        title: 'Previous PastHistory',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2, 3,4,5,6,7,8,9,10,11,12,13,14,15]
                        }
                    },
                    {
                        extend: 'pdf',
                        title: 'Previous PastHistory',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
                        }
                    },
                    {
                        extend: 'csv',
                        title: 'Previous PastHistory',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
                        }
                    },
                    {
                        extend: 'print',
                        title: 'Previous PastHistory',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
                        }
                    }
                ]
            });
            table.buttons().container().appendTo('#tbl_PrePastHistory_wrapper .col-md-6:eq(0)');
        };
    //#endregion Previous Bind Datatable

     //#region Add PastHistory
        function AddPastHistory() {
            $('#pasthis_edit').hide();
            var x = $("#pasthis_add");
            x.load("@Url.Action("CreatePastHistory", "PastHistory", new { area = "NurseStation" })", function () {
                $("#pasthis_add").show();
            });
        }
    //#endregion Add PastHistory

    //#region Edit PastHistory
        function EditPastHistory() {
            var x = $("#pasthis_edit");
            x.load("@Url.Action("EditPastHistory", "PastHistory", new { area = "NurseStation" })?appId=" + @emr.appId, function () {
            });
        }
    //#endregion Edit PastHistory

    //#region Resize Datatable
        function resizedt() {
            setTimeout(function () {
                $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
            }, 350);
        }
    //#endregion Resize Datatable

    //#region Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
    //#endregion Alert Timeout
    //#region Remove Error Class
        function error_timeout(_id) {
            setTimeout(function () {
                $(".has-error").removeClass("has-error");
                $(".error").removeClass("error");
                $("#" + _id + "-error").text("");
            }, 5200);
        }
    //#endregion
    </script>


