@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Lasik Procedure";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Informed Consent For Lasik/Lasek Procedure</h3>
            </div>
            <div class="card-body">
                <div id="LasikProcedure_add" style="display:none">
                </div>
                <div id="LasikProcedure_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="LasikProcedure_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetLasikProcedureInfo();
        LasikProcedurePreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetLasikProcedureInfo
    var GetLasikProcedureInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetLasikProcedureData", "LasikProcedure", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditLasikProcedure();
                        $("#LasikProcedure_add").hide();
                        $("#LasikProcedure_edit").show();

                    }
                    else {
                        $("#LasikProcedure_add").show();
                        $("#LasikProcedure_edit").hide();
                        AddLasikProcedure();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load LasikProcedure

    //#region Add LasikProcedure
    function AddLasikProcedure() {
        var x = $("#LasikProcedure_add");
        x.load("@Url.Action("CreateLasikProcedure", "LasikProcedure", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add LasikProcedure

    //#region Update LasikProcedure
    function EditLasikProcedure() {
        var x = $("#LasikProcedure_edit");
        x.load("@Url.Action("UpdateLasikProcedure", "LasikProcedure", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update LasikProcedure

        //#region Histroy of LasikProcedure
    function LasikProcedurePreviousHistory() {
        var x = $("#LasikProcedure_history");
        x.load("@Url.Action("LasikProcedurePreviousHistory", "LasikProcedure", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion History of LasikProcedure

</script>