@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConsentForms.ElectrocauteryDerma

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<form id="form_ElectrocauteryDerma" autocomplete="off" name="ElectrocauteryDerma" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-justify row mb-5 mt-5">
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2">ELECTROCAUTERY (ELECTROCOAGUIATION ), also known as Radio Frequency Diathermy, is a procedure where a fine wire probe is used to transmit radio waves to tissues near the probe. Molecules within the tissue are caused to vibrate, which leads to a rapid increase in temperature, leading to coagulation of proteins, vessels, and broken capillaries within the tissue. This process results in disappearance of unwanted skin growths. Same as for moles and skin tags, the current cause’s cauterization to the root by cutting off blood supply, effectively killing and destroying the abnormal growth without damaging the surrounding tissues. </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2">
            <ol>
                <li class="mt-1">DISCOMFORT - Some discomfort may be experienced during treatment.</li>
                <li class="mt-1">WOUND HEALING - Treatment can result in swelling, blistering, crusting, or flaking of the treated areas, which may require one to three weeks to heal. Once the surface has healed, it may be pink or sensitive to the sun for an additional two to four weeks, or longer in some patients.</li>
                <li class="mt-1">BRUISING/SWELLING/INFECTION - Bruising of the treated area may occur. Additionally, there may be some swelling noted. Finally, skin infection is a possibility although rare, whenever a skin procedure is performed.</li>
                <li class="mt-1">PIGMENT CHANGES (Skin Color) - During the healing process, there is a slight possibility that the treated area can become either lighter or darker in color compared to the surrounding skin. This is usually temporary, but, on a rare occasion, it may be permanent.</li>
                <li class="mt-1">SCARRING - Scarring is a rare occurrence, but it is a possibility when the skin’s surface is disrupted. To minimize the changes of scarring, it is IMPORTANT that you follow all posttreatment instructions carefully.</li>
                <li class="mt-1">BLEEDING: Pinpoint bleeding is rare but can occur following RF treatment procedures. Should bleeding occur, additional treatment might be necessary.</li>
                <li class="mt-1">SKIN PATOLOGY: Energy directed at skin lesions may potentially vaporize the lesion. Only clearly benign pigmented lesions can be treated. Check with your dermatologist for clearance for the treatment if the lesion has changed in color, size, extremely elevated or is painful to the touch</li>
                <li class="mt-1">ALLERGY REACTION: In rare cases, local allergies to tape, preservatives used in cosmetics or topical preparations, have been reported. Post-Treatment Care. Until the thin scabs fall off: • keep scab as dry as possible, to keep it clean use rubber alcohol twice a day , use Polysporin if there is a redness around treated areas, do not try to remove scab before it will come off naturally . • do not apply heavy makeup for at least 24 hours as it will disturb the treatment sites. • no tanning one week AFTER treatment, no sauna , swimming pool or hot tub for 2 weeks. Wear sunscreen of at least SPF 25 before and after treatment to protect your skin.</li>
            </ol>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2">After the scab falls off you can use Vitamins A&D ointment to help skin to recover faster. To speed up the cells turn over process Microdermabrasion is recommended one month later. It should be performed once a week at low intensity and go over the spot a few passes. Compliance with the aftercare guidelines is crucial for healing, prevention of scaring, hyper-pigmentation and hypo- pigmentation. Patient may need to return to the office in 10 days for the RF operator to observe the treatment. </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2">
            <lable class="text-red">@emr.set_company</lable> appreciates your patronage and interest in Skin Revislon Treatment Please read and fill out this: Disclosure and Release form completely, making certain that the address and You have the right to be informed so that you may make the decision whether or not to undergo the procedure, after knowing the risks and hazards involved. This disclosure is not meant to frighten you. It is simply an effort to make you better informed so you may give, or withhold, your consent to the procedure. Informed Consent and Waiver of Liability I hereby authorize and direct <lable class="text-red">@emr.set_company</lable> to perform the procedure of Skin Revision treatment (electrocautery) of the following areas: @Html.TextBoxFor(m => m.elec_1, new { @class = "form-control", @placeholder = "Enter  Area's Of Treatment", @id = "elec_1", @maxlength = "250" })&nbsp;
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2">I understand that the skin treated may be red and swollen with fine, thin scabs forming and I have to keep the treated areas covered with Polysporin until the thin scabs fall off. This process should 1 to 3 weeks, but can take as long as 1 to 3 months in some rare cases. I must not scratch the scabs, as this can cause scarring and prolong the healing time. </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2">I am not taking Accutane and did not take Accutane for at least 6 months prior to resuming treatment. I understand that I may need multiple treatments for the desired outcome and full healing process and recovery of skin color can take from 4 month to 1 year in some cases. </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2">PLEASE INITIALS:@Html.TextBoxFor(m => m.elec_2, new { @class = "form-control", @placeholder = "Enter  Patient's Initials", @id = "elec_2", @maxlength = "250" })&nbsp; </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2">I understand that this treatment is not recommended for diabetics or for people with high blood pressure. I am not diabetic nor do I have high blood pressure. If you have a pacemaker, are pregnant or have a baby within 6 month you are not a candidate for this treatment. </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2">I certify that I have no history of shingles or cold sores (herpes virus infections). If Yes, I shall see my physician for preventative treatment before receiving Electrocoagulation treatment. </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2">I was explained all aspects of treatment, complications, post care and understand them. </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2">I certify that my treatment spot (skin tag, pigmented spot, millia, broken capillaries and ect.) had been evaluated by a physician or dermatologist and it is benign and I accept all responsibility for the decision to have cosmetic removal done understand that takingBefore and after pictures is a condition of such procedures. I hereby forever release and discharge <lable class="text-red">@emr.set_company</lable> from any and all claims, action and demands arising out of use of said photographs I for website. </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2">ACKNOWLEDGMENT.' I shall not hold <lable class="text-red">@emr.set_company</lable>, its employees, or owners liable, nor shall place responsibility on am aware that I am accepting shoul Electrocautery treatment cause me any unexpected problems. I treatment at my own risk and that <lable class="text-red">@emr.set_company</lable> shall be released of all responsibilities and liabilities.</div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="3" class="font-weight-bold text-danger fs-18" width="100%">
                        Sign here, only if all of your questions have been answered to your satisfaction
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <div id="pat_sign_box">
                            <img alt="stamp" id="pat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <div id="wit_sign_box">
                            <img alt="stamp" id="wit_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold"> Patient Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="psb_date_patient" name="">&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                    <td width="33%">
                        @Html.TextBoxFor(m => m.elec_3, new { @class = "form-control form-control-sm", style = "text-align:center", @id = "elec_3", @maxlength = "250" })<br />
                        <span class="font-weight-semibold">Witness Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="psb_date_witness" name="">&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize">@emr.doc_name&nbsp;</label>
                        <span class="font-weight-semibold">Doctor’s Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="elec_date_doctor"></label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue" width="33%">
                        Patient Signature
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue" width="33%">
                        Witness Signature
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> witness
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('witness')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('witness')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center" width="33%">Doctor’s Signature</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-success btn-sm" id="btn_Insert">Save</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset_C">Reset</button>
                <button type="button" class="btn btn-danger btn-sm d-none" id="btn_Delete">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success d-none" id="btn_Print_C"> Download/Print </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Insert").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Insert").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Insert").show();
                }
                else {
                    $("#btn_Insert").hide();
                }
            }
        }

        validate();

    });

    //#region Validation Initialization
    var validate = function () {
        $("#form_ElectrocauteryDerma").validate({
            rules: {

               elec_1: {
                    required: true,
                },
                elec_2: {
                    required: true
                },
               elec_3: {
                    required: true
                },

            },
            messages: {
               elec_1: {
                    required: "Please Enter Area's Of Treatment"
                },
                elec_2: {
                    required: "Please Enter Patient's Initials"
                },
                elec_3: {
                    required: "Please Enter Witness Name"
                },



            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

    }
 //#endregion

    //#region Add  Click
    $('#btn_Insert').on('click', function (e) {
        e.preventDefault();
        if ($("#form_ElectrocauteryDerma").valid()) {
            $('#btn_Insert').removeClass("btn btn-sm btn-success");
            $('#btn_Insert').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Insert').html("Saving the Record....");

           var _dateInsert = {
              "elecId": 0,
              "elec_appId": @emr.appId,
              "elec_1": $("#elec_1").val(),
              "elec_2": $("#elec_2").val(),
              "elec_3": $("#elec_3").val(),

                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
           }

        console.log(_dateInsert);

            $.ajax({
                type: "Post",
                url: "@Url.Action("InsertElectrocauteryDerma", "ElectrocauteryDerma", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-sm btn-success");
                    $('#btn_Insert').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isInserted) {
                            GetElectrocauteryDermaInfo();
                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>Electrocautery Derma Form Saved Successfully!", "success");


                            Timeout();

                            $("#btn_Delete").removeClass("d-none");
                            $("#btn_Print").removeClass("d-none");
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning.. Electrocautery Derma Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-sm btn-warning");
                    $('#btn_Insert').html("Add");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }

    });
    //#endregion Add Click

   //#region Delete Click
    $('#btn_Delete').on('click', function (e) {
        e.preventDefault();
        $('#btn_Delete').removeClass("btn btn-success");
        $('#btn_Delete').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Delete').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteElectrocauteryDerma", "ElectrocauteryDerma", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-warning");
                $('#btn_Delete').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i> Electrocautery Derma Form Deleted Successfully!", "success");
                        clearControls();
                        GetElectrocauteryDerma();

                        $('#btn_Delete').addClass("d-none");
                        $("#pat_sign_box").addClass("d-none");
                        $("#wit_sign_box").addClass("d-none");
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-Delete");
                $('#btn_Delete').html("Delete");
                Timeout();
            }
        })
    });
//#endregion

    //#region Reset
    $('#btn_Reset_C').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

        //#region Print
    $('#btn_Print_C').on('click', function (e) {
        e.preventDefault();
        $('#btn_Print_C').removeClass("btn btn-sm btn-success");
        $('#btn_Print_C').addClass("btn btn-sm btn-success btn-loaders btn-icon");
        $('#btn_Print_C').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "ElectrocauteryDerma", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=ElectrocauteryDerma",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {
                if (data.success) {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print


    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("#pat_sign,#wit_sign").attr("src", "");

    }

    //#endregion Clear Controls

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "ElectrocauteryDerma",
                "appId": @emr.appId,
                "formname":"Electrocautery Derma",
                "formlink":"",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
            }
        //#endregion

   //#region Signature
    var openSignaturePad = function (id) {
    var _data = {
        "patId": @emr.patId,
        "person": id,
        "form": "ElectrocauteryDerma",
        "appId": @emr.appId,
        "formname":"Electrocautery Derma",
        "formlink":"",
        "eSign":""
    }
    $.ajax({
        type: "GET",
        url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
        contentType: "application/json",
        dataType: "html",
        data: _data,
        success: function (response) {
            $("#signature_pad_body").html(response);
            $("#signature_pad").modal("show");
        },
        error: function (xhr) {
            console.log("Error :" + xhr.statusText);
        }
    });
}
//#endregion Signature

$('#signature_pad').on('hidden.bs.modal', function () {
    if (localStorage.getItem("sign") != null) {

        GetSignaturename('patient');
        GetSignaturename('witness');
        localStorage.removeItem("sign");
    }
});

    //#region Get Signature
    var GetSignaturename = function  (person) {
        $.ajax({
            url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=ElectrocauteryDerma',
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                console.log(response);
                let sign = response[0].psb_sign;
                var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY");

                if (response[0].person == "patient") {
                    $("#pat_sign_box").removeClass("d-none");
                    $("#psb_date_patient").html(date);
                    $("#pat_sign").attr("src", sign);
                }
                if (response[0].person == "witness") {
                    $("#wit_sign_box").removeClass("d-none");
                    $("#wit_sign").attr("src", sign);
                    $("#psb_date_witness").html(date);
                }
            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr);
            }

        });
    };
    //#endregion Get Signature

//#region Alert Timeout
function Timeout() {
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4200);
}
//#endregion Alert Timeout

</script>
