@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Electrocautery Derma";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Electrocautery(Electrocoaguiation)</h3>
            </div>
            <div class="card-body">
                <div id="ElectrocauteryDerma_add" style="display:none">
                </div>
                <div id="ElectrocauteryDerma_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="ElectrocauteryDerma_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetElectrocauteryDermaInfo();
        ElectrocauteryDermaPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetElectrocauteryDermaInfo
    var GetElectrocauteryDermaInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetElectrocauteryDermaData", "ElectrocauteryDerma", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditElectrocauteryDerma();
                        $("#ElectrocauteryDerma_add").hide();
                        $("#ElectrocauteryDerma_edit").show();

                    }
                    else {
                        $("#ElectrocauteryDerma_add").show();
                        $("#ElectrocauteryDerma_edit").hide();
                        AddElectrocauteryDerma();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load ElectrocauteryDerma

    //#region Add ElectrocauteryDerma
    function AddElectrocauteryDerma() {
        var x = $("#ElectrocauteryDerma_add");
        x.load("@Url.Action("CreateElectrocauteryDerma", "ElectrocauteryDerma", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add ElectrocauteryDerma

    // #region Update ElectrocauteryDerma
    function EditElectrocauteryDerma() {
        var x = $("#ElectrocauteryDerma_edit");
        x.load("@Url.Action("UpdateElectrocauteryDerma", "ElectrocauteryDerma", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update ElectrocauteryDerma

    //#region Histroy of ElectrocauteryDerma
    function ElectrocauteryDermaPreviousHistory() {
        var x = $("#ElectrocauteryDerma_history");
        x.load("@Url.Action("ElectrocauteryDermaPreviousHistory", "ElectrocauteryDerma", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>