@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    ViewBag.Title = "Index";
    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Virtue Rf Consent";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Virtue Rf Model Consent Form
                    <br /><span dir="rtl">نموذج الموافقة على نموذج Virtue Rf </span>
                </h3>
            </div>
            <div class="card-body">
                <div id="VirtueRfConsent_add" style="display:none">
                </div>
                <div id="VirtueRfConsent_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="VirtueRfConsent_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetVirtueRfConsentInfo();
        VirtueRfConsentPreviousHistory();
    });
    //#endregion

    //#region Load GetVirtueRfConsentInfo
    var GetVirtueRfConsentInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetVirtueRfConsentData", "VirtueRfConsent", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditVirtueRfConsent();
                        $("#VirtueRfConsent_add").hide();
                        $("#VirtueRfConsent_edit").show();

                    }
                    else {
                        $("#VirtueRfConsent_add").show();
                        $("#VirtueRfConsent_edit").hide();
                        AddVirtueRfConsent();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load VirtueRfConsent

    //#region Add VirtueRfConsent
    function AddVirtueRfConsent() {
        var x = $("#VirtueRfConsent_add");
        x.load("@Url.Action("CreateVirtueRfConsent", "VirtueRfConsent", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add VirtueRfConsent

    // #region Update VirtueRfConsent
    function EditVirtueRfConsent() {
        var x = $("#VirtueRfConsent_edit");
        x.load("@Url.Action("UpdateVirtueRfConsent", "VirtueRfConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update VirtueRfConsent

    // #region Histroy of VirtueRfConsent
    function VirtueRfConsentPreviousHistory() {
        var x = $("#VirtueRfConsent_history");
        x.load("@Url.Action("VirtueRfConsentPreviousHistory", "VirtueRfConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>