@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Epilation Consent";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"> Epilation</h3>
            </div>
            <div class="card-body">
                <div id="EpilationConsent_add" style="display:none">
                </div>
                <div id="EpilationConsent_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="EpilationConsent_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetEpilationConsentInfo();
        EpilationConsentPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetEpilationConsentInfo
    var GetEpilationConsentInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetEpilationConsentData", "EpilationConsent", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditEpilationConsent();
                        $("#EpilationConsent_add").hide();
                        $("#EpilationConsent_edit").show();

                    }
                    else {
                        $("#EpilationConsent_add").show();
                        $("#EpilationConsent_edit").hide();
                        AddEpilationConsent();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load EpilationConsent

    //#region Add EpilationConsent
    function AddEpilationConsent() {
        var x = $("#EpilationConsent_add");
        x.load("@Url.Action("CreateEpilationConsent", "EpilationConsent", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add EpilationConsent

    //#region Update EpilationConsent
    function EditEpilationConsent() {
        var x = $("#EpilationConsent_edit");
        x.load("@Url.Action("UpdateEpilationConsent", "EpilationConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update EpilationConsent

    //#region Histroy of EpilationConsent
    function EpilationConsentPreviousHistory() {
        var x = $("#EpilationConsent_history");
        x.load("@Url.Action("EpilationConsentPreviousHistory", "EpilationConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>