@model BusinessEntities.Company
<div class="modal-header">
    <h5 class="modal-title text-primary font-weight-semibold" id="exampleModalLongTitle">Update Clinic Settings</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="card">
        <div class="card-body p-0">
            <form id="form_EditSetting" enctype="multipart/form-data" autocomplete="off" ondrop="return false;">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.setId)
                <div class="row row-sm">
                    <div class="col-lg mb-4 font-weight-semibold">
                        <span class="text-danger" style="font-size:smaller">Required fields are marked with *</span>
                    </div>
                </div>
                <div class="row">
                    <div class="panel-group accordion-panel" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default active">
                            <div class="panel-heading bg-azure-lightest" role="tab" id="required-headingOne1">
                                <h4 class="panel-title">
                                    <a role="button" data-bs-toggle="collapse" data-parent="#required-accordion1" aria-expanded="true" aria-controls="required-collapseOne1">
                                        <span style=" pointer-events:none;">Mandatory Clinic Information</span>
                                        <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="required-collapseOne1" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="required-headingOne1">
                                <div class="col mt-5">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">Licensed To&nbsp;<strong class="text-danger font-weight-bold">*</strong></label>
                                                @Html.TextBoxFor(model => model.set_company, new { @class = "form-control mb-2", @placeholder = "Ex : Vision Technologies", @readonly = "readonly", @required = "", @disabled = "", @maxlength = "60" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Telephone&nbsp;<strong class="text-danger font-weight-bold">*</strong></label>
                                                @Html.TextBoxFor(model => model.set_tel, new { @class = "form-control mb-2", @placeholder = "Ex : 065634883", @required = "", @maxlength = "15" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Mobile&nbsp;<strong class="text-danger font-weight-bold">*</strong></label>
                                                @Html.TextBoxFor(model => model.set_mob, new { @class = "form-control mb-2", @placeholder = "Ex : .0567777433", @required = "", @maxlength = "15" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Email&nbsp;<strong class="text-danger font-weight-bold">*</strong></label>
                                                @Html.TextBoxFor(model => model.set_email, new { @class = "form-control mb-2", @placeholder = "Ex : username@domain.com", @required = "", @maxlength = "55" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">P.O. Box&nbsp;<strong class="text-danger font-weight-bold">*</strong></label>
                                                @Html.TextBoxFor(model => model.set_pobox, new { @class = "form-control mb-2", @placeholder = "Ex : 00000", @required = "", @maxlength = "10" })
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Country&nbsp;<strong class="text-danger font-weight-bold">*</strong></label>
                                                @Html.DropDownList("set_country", (IEnumerable<SelectListItem>)ViewData["CountriesList"], "Please Select", new { @class = "form-select select2", @required = "required" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Facility ID(DHA/HAAD)&nbsp;<strong class="text-danger font-weight-bold">*</strong></label>
                                                @Html.TextBoxFor(model => model.set_permit_no, new { @class = "form-control mb-2", @placeholder = "Ex : DHA-A-000000", @maxlength = "18" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Facility ID(MOH)&nbsp;<strong class="text-danger font-weight-bold">*</strong></label>
                                                @Html.TextBoxFor(model => model.set_sat_ftime, new { @class = "form-control mb-2", @placeholder = "Ex : DHA-A-000000", @maxlength = "18" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">VAT Registration #&nbsp;<strong class="text-danger font-weight-bold">*</strong></label>
                                                @Html.TextBoxFor(model => model.set_vat_regno, new { @class = "form-control mb-2", @placeholder = "Enter VAT Reg. No.", @maxlength = "40" })
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Time Interval&nbsp;<strong class="text-danger font-weight-bold">*</strong></label>
                                                @Html.DropDownListFor(m => m.set_app_time_interval, new List<SelectListItem>
                                                {
                                                    new SelectListItem{ Value="5", Text="5"},
                                                    new SelectListItem{ Value="10", Text="10"},
                                                    new SelectListItem{ Value="15", Text="15"},
                                                    new SelectListItem{ Value="20", Text="20"},
                                                    new SelectListItem{ Value="30", Text="30"},
                                                    new SelectListItem{ Value="45", Text="45"},
                                                    new SelectListItem{ Value="60", Text="60"}
                                                }, "Please Select", new { @class = "form-control select2 mb-2" })
                                            </div>
                                        </div>
                                        
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Clinic Public IP&nbsp;<strong class="text-danger font-weight-bold">*</strong>&nbsp;<a style="cursor:pointer" id="viewPublicIP"><i class="fe fe-info fs-14" title="Check My Public IP"></i></a></label>
                                                @Html.TextBoxFor(model => model.set_public_ip, new { @class = "form-control mb-2", @placeholder = "Ex : 83.124.354.52", @maxlength = "28" })
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-md-3">
                                            <div class="form-group">
                                                <label class="form-label">Address&nbsp;<strong class="text-danger font-weight-bold">*</strong></label>
                                                @Html.TextAreaFor(model => model.set_address, new { @class = "form-control mb-2", @placeholder = "Ex : Damas Burj 200, Rolla - Sharjah, U.A.E.", @required = "", @maxlength = "180" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default mt-2 active">
                            <div class="panel-heading" role="tab" id="required-headingTwo2">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#required-accordion1" aria-expanded="false" aria-controls="required-collapseTwo2">
                                        Prefix Settings
                                        <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="required-collapseTwo2" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="required-headingTwo2">
                                <div class="col mt-5">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Invoice Prefix&nbsp;<strong class="text-danger font-weight-bold">*</strong></label>
                                                @Html.TextBoxFor(model => model.set_inv_prefix, new { @class = "form-control mb-2", @placeholder = "Ex : INV-AD-1", @maxlength = "10" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Receipt Prefix&nbsp;<strong class="text-danger font-weight-bold">*</strong></label>
                                                @Html.TextBoxFor(model => model.set_rec_prefix, new { @class = "form-control mb-2", @placeholder = "Ex : REC-AD-1", @maxlength = "10" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Purchase Order&nbsp;<strong class="text-danger font-weight-bold">*</strong></label>
                                                @Html.TextBoxFor(model => model.set_po_prefix, new { @class = "form-control mb-2", @placeholder = "Ex : PO-AD-1", @maxlength = "10" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Purchase Invoice&nbsp;<strong class="text-danger font-weight-bold">*</strong></label>
                                                @Html.TextBoxFor(model => model.set_pi_prefix, new { @class = "form-control mb-2", @placeholder = "Ex : PI-AD-1", @maxlength = "10" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Payments&nbsp;<strong class="text-danger font-weight-bold">*</strong></label>
                                                @Html.TextBoxFor(model => model.set_pay_prefix, new { @class = "form-control mb-2", @placeholder = "Ex : PAY-AD-1", @maxlength = "10" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Journals&nbsp;<strong class="text-danger font-weight-bold">*</strong></label>
                                                @Html.TextBoxFor(model => model.set_jl_prefix, new { @class = "form-control mb-2", @placeholder = "Ex : JL-AD-1", @maxlength = "10" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Patient File # (MRN)&nbsp;<strong class="text-danger font-weight-bold">*</strong></label>
                                                @Html.TextBoxFor(model => model.set_pat_prefix, new { @class = "form-control mb-2", @placeholder = "Ex : 100001", @maxlength = "10" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Currency&nbsp;</label>
                                                @Html.DropDownListFor(m => m.set_currency, new List<SelectListItem>
                                                {
                                                    new SelectListItem{ Value="AED", Text="AED"},
                                                    new SelectListItem{ Value="BHD", Text="BHD"},
                                                    new SelectListItem{ Value="QAR", Text="QAR"},
                                                    new SelectListItem{ Value="OMR", Text="OMR"},
                                                    new SelectListItem{ Value="INR", Text="INR"},
                                                    new SelectListItem{ Value="SAR", Text="SAR"}
                                                }, "Please Select", new { @class = "form-control select2 mb-2" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default mt-2">
                            <div class="panel-heading" role="tab" id="required-headingTwo3">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#required-accordion1" href="#required-collapseTwo3" aria-expanded="false" aria-controls="required-collapseTwo3">
                                        Additional Clinic Settings
                                        <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="required-collapseTwo3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="required-headingTwo3">
                                <div class="col mt-5">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Website</label>
                                                @Html.TextBoxFor(model => model.set_url, new { @class = "form-control mb-2", @placeholder = "Ex : https://www.visionsoftwares.com", @maxlength = "60" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">HAAD/DHA/MOH</label>
                                                @Html.DropDownListFor(m => m.set_city, new List<SelectListItem>
                                                {
                                                    new SelectListItem{ Value="HAAD", Text="HAAD"},
                                                    new SelectListItem{ Value="DHA", Text="DHA"},
                                                    new SelectListItem{ Value="MOH", Text="MOH"},
                                                }, "Please Select", new { @class = "form-control select2 mb-2" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">DHA/HAAD User</label>
                                                @Html.TextBoxFor(model => model.set_user, new { @class = "form-control mb-2", @placeholder = "Ex : visionsoftwares", @maxlength = "25" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">DHA/HAAD Password</label>
                                                @Html.TextBoxFor(model => model.set_pass, new { @class = "form-control mb-2", @placeholder = "Enter DHA/HAAD/MOH Password", @maxlength = "18", @type = "password" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Riyathi(MOH) User</label>
                                                @Html.TextBoxFor(model => model.set_riyathiuser, new { @class = "form-control mb-2", @placeholder = "Ex : visionsoftwares", @maxlength = "50" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Riyathi(MOH) Password</label>
                                                @Html.TextBoxFor(model => model.set_riyathipass, new { @class = "form-control mb-2", @placeholder = "Enter Riyathi Password", @maxlength = "18", @type = "password" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">EMR Lock&nbsp;<strong class="text-danger font-weight-bold">*</strong></label>
                                                @Html.DropDownListFor(m => m.set_emr_lock, new List<SelectListItem>
                                                {
                                                    new SelectListItem{ Value="NoLock", Text="No Lock"},
                                                    new SelectListItem{ Value="24HLock", Text="24H Lock"},
                                                    new SelectListItem{ Value="48HLock", Text="48H Lock"},
                                                    new SelectListItem{ Value="72HLock", Text="72H Lock"},
                                                }, "Please Select", new { @class = "form-control select2 mb-2" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Tax Year End Date</label>
                                                @Html.TextBoxFor(model => model.set_taxyear_enddate, new { @class = "form-control mb-2", @placeholder = "Ex : 2035", @maxlength = "12" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Company Thumbnail&nbsp;<a style="cursor:pointer" id="viewThumbnail"><i class="fe fe-info fs-14" title="View Thumbnail"></i></a></label>
                                                <div class="input-group file-browser mb-4">
                                                    <input type="text" value="@Model.set_thumbnail" id="set_thumbnail" class="form-control" readonly required title="File should be less than 5 MB (Allowed Formats : .jpg/png/gif)" />
                                                    <label class="input-group-text btn btn-primary">
                                                        Browse <input type="file" class="file-browserinput" style="display: none;" accept=".jpg,.jpeg,.png,.gif" id="fileUpload3" name="set_thumbnail" placeholder="Choose Thumbnail" onchange="document.getElementById('set_thumbnail').value = this.value.split('\\').pop().split('/').pop()">
                                                    </label>
                                                </div>
                                                <div class="d-none" id="tview">
                                                    <img class="shadow-lg img-responsive" src="~/images/header_images/@Model.set_thumbnail" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Company Header&nbsp;<a style="cursor:pointer" id="viewHeader"><i class="fe fe-info fs-14" title="View Header"></i></a></label>
                                                <div class="input-group file-browser mb-4">
                                                    <input type="text" value="@Model.set_header_image" id="set_header_image" class="form-control" readonly required title="File should be less than 5 MB (Allowed Formats : .jpg/png/gif)" />
                                                    <label class="input-group-text btn btn-primary">
                                                        Browse <input type="file" class="file-browserinput" style="display: none;" accept=".jpg,.jpeg,.png,.gif" id="fileUpload1" name="set_header_image" placeholder="Choose Header" onchange="document.getElementById('set_header_image').value = this.value.split('\\').pop().split('/').pop()">
                                                    </label>
                                                </div>
                                                <div class="d-none" id="hview">
                                                    <img class="shadow-lg img-responsive" src="~/images/header_images/@Model.set_header_image" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Company Footer&nbsp;<a style="cursor:pointer" id="viewFooter"><i class="fe fe-info fs-14" title="View Footer"></i></a></label>
                                                <div class="input-group file-browser mb-4">
                                                    <input type="text" value="@Model.set_footer_image" id="set_footer_image" class="form-control" readonly required title="File should be less than 5 MB (Allowed Formats : .jpg/png/gif)" />
                                                    <label class="input-group-text btn btn-primary">
                                                        Browse <input type="file" class="file-browserinput" style="display: none;" accept=".jpg,.jpeg,.png,.gif" id="fileUpload2" name="set_footer_image" placeholder="Choose Footer" onchange="document.getElementById('set_footer_image').value = this.value.split('\\').pop().split('/').pop()">
                                                    </label>
                                                </div>
                                                <div class="d-none" id="fview">
                                                    <img class="shadow-lg img-responsive" src="~/images/footer_images/@Model.set_footer_image" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Google Map Location</label>
                                                @Html.TextBoxFor(model => model.set_map_location, new { @class = "form-control mb-2", @placeholder = "Ex : https://goo.gl/maps/5FNxKYk8wLj9jC529", @maxlength = "80" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Multibilling&nbsp;<strong class="text-danger font-weight-bold">*</strong></label>
                                                @Html.DropDownListFor(m => m.set_sat_ttime, new List<SelectListItem>
                                                {
                                                    new SelectListItem{ Value="0", Text="No"},
                                                    new SelectListItem{ Value="1", Text="Yes"},
                                                }, "Please Select", new { @class = "form-control select2 mb-2" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Sync (Malaffi / Nabidh / Riayati)</label>
                                                @Html.DropDownListFor(m => m.set_sync, new List<SelectListItem>
                                                {
                                                    new SelectListItem{ Value="Yes", Text="Yes"},
                                                    new SelectListItem{ Value="No", Text="No"},
                                                }, "Please Select", new { @class = "form-control select2 mb-2" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2 set_mnr">
                                            <div class="form-group">
                                                <div class="custom-controls-stacked">
                                                    <label class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" name="set_mnr" value="Malaffi" id="1">
                                                        <span class="custom-control-label">Malaffi</span>
                                                    </label>
                                                    <label class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" name="set_mnr" value="Nabidh" id="2">
                                                        <span class="custom-control-label">Nabidh</span>
                                                    </label>
                                                    <label class="custom-control custom-radio">
                                                        <input type="radio" class="custom-control-input" name="set_mnr" value="Riayati" id="3">
                                                        <span class="custom-control-label">Riayati</span>
                                                    </label>
                                                    <label class="form-check-label" for="set_mnr">Toggle Any Syn</label>
                                                    <div class="invalid-feedback">More example invalid feedback text</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-4">
                                            <div class="form-group">
                                                <label class="form-label">Password Policy</label>
                                                <textarea style="resize:none" disabled readonly="readonly" class="form-control mb-2 text-info font-weight-normal">Password must be 8 to 12 characters long & include at least 1 uppercase letter, 1 lowercase letter, and 1 numeric.</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col-sm-4">
                                            <div id="error"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default mt-2">
                            <div class="panel-heading" role="tab" id="required-headingTwo4">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#required-accordion1" href="#required-collapseTwo4" aria-expanded="false" aria-controls="required-collapseTwo4">
                                        SMS Settings
                                        <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="required-collapseTwo4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="required-headingTwo4">
                                <div class="col mt-5">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Sender ID</label>
                                                @Html.TextBoxFor(model => model.set_sms_sender, new { @class = "form-control mb-4", @placeholder = "Ex : VisionTech", @maxlength = "100" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">API Key</label>
                                                @Html.TextBoxFor(model => model.set_sms_id, new { @class = "form-control mb-4", @placeholder = "Ex : DSS45TSDS-9A35-4887-9981-C1F37ACA5B46201147" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default mt-2">
                            <div class="panel-heading" role="tab" id="required-headingTwo5">
                                <h4 class="panel-title">
                                    <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#required-accordion1" href="#required-collapseTwo5" aria-expanded="false" aria-controls="required-collapseTwo5">
                                        E-Mail Settings
                                        <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="required-collapseTwo5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="required-headingTwo4">
                                <div class="col mt-5">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">IP / SMTP Address</label>
                                                @Html.TextBoxFor(model => model.set_auth_ip, new { @class = "form-control mb-2", @placeholder = "Ex : 72.18.138.98", @maxlength = "50" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Port No.</label>
                                                @Html.TextBoxFor(model => model.set_auth_port, new { @class = "form-control mb-2", @placeholder = "Ex : 587", @maxlength = "4" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Enable SSL</label>
                                                @Html.DropDownListFor(m => m.set_auth_ssl, new List<SelectListItem>
                                                {
                                                    new SelectListItem{ Value="Yes", Text="Yes"},
                                                    new SelectListItem{ Value="No", Text="No"}
                                                }, "Please Select", new { @class = "form-control select2 mb-2" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Username</label>
                                                @Html.TextBoxFor(model => model.set_auth_user, new { @class = "form-control mb-2", @placeholder = "Ex : clinicsoft@visionsoftwares.cpm", @maxlength = "60" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-2">
                                            <div class="form-group">
                                                <label class="form-label">Password</label>
                                                @Html.TextBoxFor(model => model.set_auth_pass, new { @class = "form-control mb-2", @placeholder = "Enter E-mail Password", @maxlength = "20", @type = "password" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer justify-content-center">
    <div class="btn-list btn-animation">
        <button type="button" class="btn btn-warning" id="btn_Update">Save Changes</button>
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
    </div>
</div>
<script type="text/javascript">
    //#region Page Load
    $(function () {
        $('#set_country').select2({
            dropdownParent: $('#form_EditSetting'),
            width: '100%',
            maximumInputLength: 15
        });
        $('#set_city').select2({
            minimumResultsForSearch: -1,
            dropdownParent: $('#form_EditSetting'),
            width: '100%'
        });
        $('#set_app_time_interval').select2({
            minimumResultsForSearch: -1,
            dropdownParent: $('#form_EditSetting'),
            width: '100%'
        });
        $('#set_emr_lock').select2({
            minimumResultsForSearch: -1,
            dropdownParent: $('#form_EditSetting'),
            width: '100%'
        });
        $('#set_sat_ttime').select2({
            minimumResultsForSearch: -1,
            dropdownParent: $('#form_EditSetting'),
            width: '100%'
        });
        $('#set_auth_ssl').select2({
            minimumResultsForSearch: -1,
            dropdownParent: $('#form_EditSetting'),
            width: '100%'
        });
        $('#set_sync').select2({
            minimumResultsForSearch: -1,
            dropdownParent: $('#form_EditSetting'),
            width: '100%'
        });
        $('#set_currency').select2({
            dropdownParent: $('#form_EditSetting'),
            width: '100%',
            maximumInputLength: 15
        });
        validation();
        GetCheckedValues();
    });
    //#endregion

    var GetCheckedValues = function () {
        var set_mnr_ = "@Model.set_mnr";
        if (set_mnr_ !== "") {
            var set_mnr_ = $("input[name='set_mnr'][value='" + "@Model.set_mnr" + "']").attr("id");
            $("#" + set_mnr_).attr('checked', 'checked');
            $("#" + set_mnr_).prop("checked", true);
        }
    }

    //#region Validation Initialisation
    var validation = function () {
        $('#set_tel').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9+]/g))
                return false;
        });
        $('#set_mob').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9+]/g))
                return false;
        });
        $('#set_pobox').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9A-Z+]/g))
                return false;
        });
        $('#set_email').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^a-z0-9A-Z@@.]/g))
                return false;
        });
        $.validator.addMethod('phone', function (value) {
            return /^(?:\+971|971|0)?(?:50|51|52|53|54|55|56|58|2|3|4|6|7|9)\d{7}$/.test(value);
            return PhoneRegex.test(phone);
        }, 'Enter a valid UAE Number');
        $.validator.addMethod('email', function (value) {
            return /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(value);
            return EmailRegex.test(email);
        }, 'Enter a valid E-mail Address');
        $.validator.addMethod('validUrl', function (value, element) {
            var url = $.validator.methods.url.bind(this);
            return url(value, element) || url('http://' + value, element);
        }, 'Enter a valid website URL');
        $.validator.addMethod('checkpass', function (value) {
            return /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@$!%*?&])[A-Za-z\d@@$!%*?&]{8,15}$/.test(value);
            return PasswordRegex.test(checkpass);
        }, 'Password does not meet the length / complexity / age or history requirements!');

        $("#form_EditSetting").validate({
            focusInvalid: true,
            rules: {
                set_tel: {
                    required: true,
                    phone: true
                },
                set_mob: {
                    required: true,
                    phone: true
                },
                set_email: {
                    required: true,
                    email: true
                },
                set_url: {
                    validUrl: true
                },
                set_country: {
                    required: true
                },
                set_permit_no: {
                    required: true
                },
                set_sat_ftime: {
                    required: true
                },
                set_vat_regno: {
                    required: true
                },
                set_inv_prefix: {
                    required: true
                },
                set_rec_prefix: {
                    required: true
                },
                set_po_prefix: {
                    required: true
                },
                set_pi_prefix: {
                    required: true
                },
                set_pay_prefix: {
                    required: true
                },
                set_jl_prefix: {
                    required: true
                },
                set_pat_prefix: {
                    required: true
                },
                set_emr_lock: {
                    required: true
                },
                set_sat_ttime: {
                    required: true
                },
                set_public_ip: {
                    required: true
                },
            },
            messages: {
                set_tel: {
                    required: "Enter Telephone #"
                },
                set_mob: {
                    required: "Enter Mobile #"
                },
                set_email: {
                    required: "Enter E-mail ID"
                },
                set_country: {
                    required: "Please Select Country"
                },
                set_permit_no: {
                    required: "Enter Your Facility ID"
                },
                set_sat_ftime: {
                    required: "Enter Your Facility ID"
                },
                set_vat_regno: {
                    required: "Enter VAT Registration No."
                },
                set_inv_prefix: {
                    required: "Enter Invoice Prefix"
                },
                set_rec_prefix: {
                    required: "Enter Receipt Prefix"
                },
                set_po_prefix: {
                    required: "Enter Purchase Order Prefix"
                },
                set_pi_prefix: {
                    required: "Enter Purchase Invoice Prefix"
                },
                set_pay_prefix: {
                    required: "Enter Payment Prefix"
                },
                set_jl_prefix: {
                    required: "Enter Journal Prefix"
                },
                set_pat_prefix: {
                    required: "Enter Patient File No."
                },
                set_emr_lock: {
                    required: "Please Select EMR Lock"
                },
                set_sat_ttime: {
                    required: "Please Select Multibilling Option"
                },
                set_public_ip: {
                    required: "Please Enter Clinic Public IP"
                },
            },
            highlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                } else {
                    elem.parent().addClass('has-error');
                }
                $(element).parent().addClass('has-error');
            },
            unhighlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                } else {
                    elem.removeClass('has-error');
                }
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    element = $("#select2-" + elem.attr("id") + "-container").parent();
                    error.insertAfter(element);
                } else {
                    error.insertAfter(element);
                }
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

        $('#set_country').on('change', function () {
            $(this).trigger('blur');
        });

        $('#set_app_time_interval').on('change', function () {
            $(this).trigger('blur');
        });

        $('#set_emr_lock').on('change', function () {
            $(this).trigger('blur');
        });
        $('#set_sat_ttime').on('change', function () {
            $(this).trigger('blur');
        });

        $('#fileUpload1').on('change', function () {
            if (this.files[0] != undefined) {
                const fileSize = this.files[0].size / 1024 / 1024;
                if (fileSize > 5) {
                    $("#set_header_image").val('');
                    $("#fileUpload1").val('');

                    var alertPlaceholder = document.getElementById("error");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close"><span aria-hidden="true">&times;</span></button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fa fa-times text-white'></i> Image size shouldn't exceed 5 MB!", "warning");

                    Timeout();
                }
            }
        });

        $('#fileUpload2').on('change', function () {
            if (this.files[0] != undefined) {
                const fileSize = this.files[0].size / 1024 / 1024;
                if (fileSize > 5) {
                    $("#set_footer_image").val('');
                    $("#fileUpload2").val('');

                    var alertPlaceholder = document.getElementById("error");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close"><span aria-hidden="true">&times;</span></button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fa fa-times text-white'></i> Image size shouldn't exceed 5 MB!", "warning");

                    Timeout();
                }
            }
        });

        $('#fileUpload3').on('change', function () {
            if (this.files[0] != undefined) {
                const fileSize = this.files[0].size / 1024 / 1024;
                if (fileSize > 5) {
                    $("#set_thumbnail").val('');
                    $("#fileUpload3").val('');

                    var alertPlaceholder = document.getElementById("error");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close"><span aria-hidden="true">&times;</span></button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fa fa-times text-white'></i> Image size shouldn't exceed 5 MB!", "warning");

                    Timeout();
                }
            }
        });
    }
    //#endregion

    //#region View / Hide Header
    $('#viewHeader').on('click', function (e) {
        if ($('#hview').hasClass("d-none")) {
            $('#hview').removeClass("d-none");
        }
        else {
            $('#hview').addClass("d-none");
        }
    });
    //#endregion

    //#region View / Hide Footer
    $('#viewFooter').on('click', function (e) {
        if ($('#fview').hasClass("d-none")) {
            $('#fview').removeClass("d-none");
        }
        else {
            $('#fview').addClass("d-none");
        }
    });
    //#endregion

    //#region View / Hide Thumbnail
    $('#viewThumbnail').on('click', function (e) {
        if ($('#tview').hasClass("d-none")) {
            $('#tview').removeClass("d-none");
        }
        else {
            $('#tview').addClass("d-none");
        }
    });
    //#endregion
    
    //#region View / Hide Thumbnail
    $('#viewPublicIP').on('click', function (e) {
        window.open('https://whatismyipaddress.com', '_blank');        
    });
    //#endregion

    //#region Change  Nabid/Malaffi/Riyathi
    $('#set_sync').on('select2:select', function (e) {
        var data = e.params.data;
        if ($("#set_sync").val() === "Yes") {
            $("input[name='set_mnr']").prop('required', true);
        }
        else {
            $("input[name='set_mnr']").prop('required', false);
        }

    });
    //#endregion

    //#region Button Update Click
    $('#btn_Update').on('click', function (e) {
        e.preventDefault()

        if ($("#form_EditSetting").valid()) {

            var formData = new FormData();
            var files = $('input[type=file]');
            var setId = $("#setId").val();
            var set_tel = $("#set_tel").val();
            var set_mob = $("#set_mob").val();
            var set_email = $("#set_email").val();
            var set_url = $("#set_url").val().trim();
            var set_pobox = $("#set_pobox").val().trim();
            var set_city = $("#set_city :selected").val();
            var set_country = $("#set_country :selected").val();
            var set_address = $("#set_address").val().trim();
            var set_vat_regno = $("#set_vat_regno").val().trim();
            var set_permit_no = $("#set_permit_no").val().trim();
            var set_sat_ftime = $("#set_sat_ftime").val().trim();
            var set_user = $("#set_user").val().trim();
            var set_pass = $("#set_pass").val();
            var set_inv_prefix = $("#set_inv_prefix").val().trim();
            var set_rec_prefix = $("#set_rec_prefix").val().trim();
            var set_po_prefix = $("#set_po_prefix").val().trim();
            var set_pi_prefix = $("#set_pi_prefix").val().trim();
            var set_pay_prefix = $("#set_pay_prefix").val().trim();
            var set_jl_prefix = $("#set_jl_prefix").val().trim();
            var set_pat_prefix = $("#set_pat_prefix").val().trim();
            var set_pat_prefix = $("#set_pat_prefix").val().trim();
            var set_map_location = $("#set_map_location").val().trim();
            var set_app_time_interval = $("#set_app_time_interval :selected").val();
            var set_emr_lock = $("#set_emr_lock :selected").val();
            var set_sat_ttime = $("#set_sat_ttime :selected").val();
            var set_taxyear_enddate = $("#set_taxyear_enddate").val().trim();
            var set_sms_sender = $("#set_sms_sender").val().trim();
            var set_sms_id = $("#set_sms_id").val().trim();
            var set_auth_ip = $("#set_auth_ip").val().trim();
            var set_auth_user = $("#set_auth_user").val().trim();
            var set_auth_pass = $("#set_auth_pass").val().trim();
            var set_sync = $("#set_sync").val();
            var set_currency = $("#set_currency").val().trim();
            var set_riyathiuser = $("#set_riyathiuser").val().trim();
            var set_riyathipass = $("#set_riyathipass").val().trim();
            var set_mnr = $("input[name='set_mnr']:checked").val();
            var set_public_ip = $("#set_public_ip").val().trim();
            var __RequestVerificationToken = $('input[name="__RequestVerificationToken"]').val();

            for (var i = 0; i < files.length; i++) {
                if (files[i].value == "" || files[i].value == null) {
                    if (files[i].name === "set_header_image") {
                        formData.append("set_header_image", $("#set_header_image").val());
                    }
                    else if (files[i].name === "set_footer_image") {
                        formData.append("set_footer_image", $("#set_footer_image").val());
                    }
                    else if (files[i].name === "set_thumbnail") {
                        formData.append("set_thumbnail", $("#set_thumbnail").val());
                    }
                }
                else {
                    formData.append(files[i].name, files[i].files[0]);
                }
            }

            formData.append("setId", setId);
            formData.append("set_tel", set_tel);
            formData.append("set_mob", set_mob);
            formData.append("set_email", set_email);
            formData.append("set_url", set_url);
            formData.append("set_pobox", set_pobox);
            formData.append("set_city", set_city);
            formData.append("set_country", set_country);
            formData.append("set_address", set_address);
            formData.append("set_vat_regno", set_vat_regno);
            formData.append("set_permit_no", set_permit_no);
            formData.append("set_sat_ftime", set_sat_ftime);
            formData.append("set_user", set_user);
            formData.append("set_pass", set_pass);
            formData.append("set_inv_prefix", set_inv_prefix);
            formData.append("set_rec_prefix", set_rec_prefix);
            formData.append("set_po_prefix", set_po_prefix);
            formData.append("set_pi_prefix", set_pi_prefix);
            formData.append("set_pay_prefix", set_pay_prefix);
            formData.append("set_jl_prefix", set_jl_prefix);
            formData.append("set_pat_prefix", set_pat_prefix);
            formData.append("set_map_location", set_map_location);
            formData.append("set_app_time_interval", set_app_time_interval);
            formData.append("set_emr_lock", set_emr_lock);
            formData.append("set_sat_ttime", set_sat_ttime);
            formData.append("set_taxyear_enddate", set_taxyear_enddate);
            formData.append("set_sms_sender", set_sms_sender);
            formData.append("set_sms_id", set_sms_id);
            formData.append("set_auth_ip", set_auth_ip);
            formData.append("set_auth_user", set_auth_user);
            formData.append("set_auth_pass", set_auth_pass);
            formData.append("set_sync", set_sync);
            formData.append("set_currency", set_currency);
            formData.append("set_riyathiuser", set_riyathiuser);
            formData.append("set_riyathipass", set_riyathipass);
            formData.append("set_mnr", set_mnr);
            formData.append("set_public_ip", set_public_ip);
            formData.append("__RequestVerificationToken", __RequestVerificationToken);

            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateSettings", "ClinicSettings", new { area= "Masters" })',
                dataType: 'json',
                contentType: false,
                processData: false,
                data: formData,
                success: function (response) {
                    if (response.isUpdated) {
                        load_Items();

                        var alertPlaceholder = document.getElementById("SettingsAlert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i> " + response.message, "success");
                        Timeout();
                        $('#setting_modal').modal('toggle');
                    }
                    else {
                        var alertPlaceholder = document.getElementById("error");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-alert-circle text-white'></i> " + response.message, "warning");
                        Timeout();
                    }
                },
                error: function (xhr, status, error) {
                    var alertPlaceholder = document.getElementById("SettingsAlert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-slash text-white'></i> Failed to Save Changes, Please Try Again! <b>Error Details :</b> "+ error+"", "danger");
                    Timeout();
                    $('#setting_modal').modal('toggle');
                }
            });
        }
        else
        {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion
</script>
