@model IEnumerable<BusinessEntities.Masters.AuditLogs.ClinicSettingsLogs>
<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold" id="exampleModalLongTitle">
        Company Audit Logs For&nbsp;
        @{
            var set_company = "";
            foreach (var dr in Model)
            {
                set_company = dr.seta_company;
                <span class="badge bg-primary-light-1 text-uppercase">@dr.seta_company</span> break;
            }
        }
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body p-4">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            @if (Model.Any())
            {
                <div class="table-responsive" style="min-height:auto">
                    <table id="tbl_set_logs" class="table table-bordered text-nowrap resize-table" style="width: 100%;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #5b73e8; border-color: #5b73e8;">
                                <th class="border-bottom-0 font-weight-semibold text-white">E-Mail</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Tel #</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Mob #</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">P.O. Box</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Country</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Address</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Operation</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Log Date &amp; Time</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Made By</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var dr in Model)
                            {
                                <tr>
                                    <td>@dr.seta_email</td>
                                    <td>@dr.seta_tel</td>
                                    <td>@dr.seta_mob</td>
                                    <td>@dr.seta_pobox</td>
                                    <td>@dr.country</td>
                                    <td class="text-wrap">@dr.seta_address</td>
                                    @if (dr.seta_operation == "Inserted")
                                    {
                                        <td class="fs-13 bg-success-transparent-2 font-weight-semibold">@dr.seta_operation</td>
                                        <td class="fs-13 bg-success-transparent-2 font-weight-semibold">@dr.seta_date_modified.ToString("dd-MM-yyyy | hh:mm:ss")</td>
                                        <td class="fs-13 bg-success-transparent-2 font-weight-semibold">@dr.modifyby_emp_name</td>
                                    }
                                    else if (dr.seta_operation == "Updated")
                                    {
                                        <td class="fs-13 bg-warning-transparent-2 font-weight-semibold">@dr.seta_operation</td>
                                        <td class="fs-13 bg-warning-transparent-2 font-weight-semibold">@dr.seta_date_modified.ToString("dd-MM-yyyy | hh:mm:ss")</td>
                                        <td class="fs-13 bg-warning-transparent-2 font-weight-semibold">@dr.modifyby_emp_name</td>
                                    }
                                    else
                                    {
                                        <td class="fs-13 bg-danger-transparent-2 font-weight-semibold">@dr.seta_operation</td>
                                        <td class="fs-13 bg-danger-transparent-2 font-weight-semibold">@dr.seta_date_modified.ToString("dd-MM-yyyy | hh:mm:ss")</td>
                                        <td class="fs-13 bg-danger-transparent-2 font-weight-semibold">@dr.modifyby_emp_name</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
                    <div class="alert alert-light-info alert-dismissiblefade show" role="alert">
                        <strong><i class="fa fa-exclamation-circle pt-2"></i> Info!&nbsp;</strong> Company Log(s) Not Available!
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    //#region Document Load
    $(function () {
        var table = $('#tbl_set_logs').DataTable({
            lengthChange: true,
            buttons: [
                {
                    extend: 'excel',
                    className: 'btn-secondary',
                    title: 'Company Audit Logs for @set_company',
                    action: function (e, dt, node, config) {
                        $.fn.dataTable.ext.buttons.excelHtml5.action.call(this, e, dt, node, config);
                        exportLogs("Employee Exported Company Logs to Excel!");
                    }
                },
                {
                    extend: 'pdf',
                    className: 'btn-secondary',
                    title: 'Employee Audit Logs for @set_company',
                    action: function (e, dt, node, config) {
                        $.fn.dataTable.ext.buttons.pdfHtml5.action.call(this, e, dt, node, config);
                        exportLogs("Employee Exported Company Logs to PDF!");
                    }
                },
                {
                    extend: 'csv',
                    className: 'btn-secondary',
                    title: 'Employee Audit Logs for @set_company',
                    action: function (e, dt, node, config) {
                        $.fn.dataTable.ext.buttons.csvHtml5.action.call(this, e, dt, node, config);
                        exportLogs("Employee Exported Company Logs to CSV!");
                    }
                },
                {
                    extend: 'print',
                    className: 'btn-secondary',
                    title: 'Employee Audit Logs for @set_company',
                    action: function (e, dt, node, config) {
                        $.fn.dataTable.ext.buttons.print.action.call(this, e, dt, node, config);
                        exportLogs("Employee Printed Company Logs!");
                    }
                }
            ],
            order: [[7, 'desc']],
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '<span class="text-primary font-weight-semi-bold">Search Logs</span>',
                lengthMenu: '_MENU_ ',
            }
        });
        table.buttons().container().appendTo('#tbl_set_logs_wrapper .col-md-6:eq(0)');
    });
    //#endregion
</script>