@using System.Configuration;
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConsentForms.PhysicalExamEntNew

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_PhysicalExamEntNewEdit" autocomplete="off" name="PhysicalExamEntNew" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5 mt-5 col-sm-12 col-md-12 col-lg-12 font-weight-semibold text-justify">
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
            <label class="form-label">Occupation:</label>
            @Html.TextBoxFor(m => m.pee_1, new { @class = "form-control", @id = "pee_1", @maxlength = "250" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2"><label class="form-label">Insurance  :  </label><label class="text-red">@emr.ic_name</label> </div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2"><label class="form-label">Referred By:</label><label class="text-red">@emr.doc_name</label> </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2 text-decoration-underline"><label class="form-label">Clinical History:</label></div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            <label class="form-label"> Chief Complaints  </label>  @Html.TextAreaFor(m => m.pee_2, new { @class = "form-control", @id = "pee_2", @maxlength = "250", @rows = "2" })&nbsp;
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
            <label class="form-label">  Ear :</label> @Html.TextBoxFor(m => m.pee_3, new { @class = "form-control", @id = "pee_3", @maxlength = "250" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
            <label class="form-label"> Nose :</label> @Html.TextBoxFor(m => m.pee_4, new { @class = "form-control", @id = "pee_4", @maxlength = "250" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
            <label class="form-label">Throat:</label> @Html.TextBoxFor(m => m.pee_5, new { @class = "form-control", @id = "pee_5", @maxlength = "250" })
        </div>
        <div class="row mb-2 mt-2 table-responsive">
            <p class="text-decoration-underline font-weight-semibold">Ears</p>
            <div class="col-lg-2">Rt.</div>
            <div class="col-lg-2">
                Lt.
            </div>
            <div class="content-inner">
                <div class="row col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="form-group mb-3">
                            <button id="udrawingdot" class="btn bg-dark-transparent btn-icon btn-svg udrawing-mode" data-mode="dot" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                    <circle cx="8" cy="8" r="8" />
                                </svg>
                            </button>
                            <button id="udrawingcheck" class="btn bg-dark-transparent btn-icon btn-svg udrawing-mode" data-mode="check" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                                </svg>
                            </button>
                            <button id="udrawingcircle" class="btn bg-dark-transparent btn-icon btn-svg udrawing-mode" data-mode="circle" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                </svg>
                            </button>
                            <button id="udrawingcupping" class="btn bg-dark-transparent btn-icon btn-svg udrawing-mode" data-mode="cupping" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash2" viewBox="0 0 16 16">
                                    <path d="M14 3a.7.7 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225A.7.7 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2M3.215 4.207l1.493 8.957a1 1 0 0 0 .986.836h4.612a1 1 0 0 0 .986-.836l1.493-8.957C11.69 4.689 9.954 5 8 5s-3.69-.311-4.785-.793" />
                                </svg>
                            </button>
                            <button id="uundo_button" class="btn bg-dark-transparent btn-icon btn-svg" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z" />
                                    <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z" />
                                </svg>
                            </button>
                            <button id="udrawingeraser" class="btn bg-dark-transparent btn-icon btn-svg udrawing-mode" data-mode="eraser" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser-fill text-danger" viewBox="0 0 16 16">
                                    <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293z" />
                                </svg>
                            </button>
                            <input id="ucolor_picker" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-inner">
                <div class="row col-sm-12 col-md-12 col-lg-12 mb-0">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div>
                            <canvas id="uimageCanvas" width="700" height="200"></canvas>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            @Html.TextBoxFor(m => m.pee_6, new { @class = "form-control mb-2 mt-2", @id = "upee_6", @maxlength = "250" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
            @Html.TextBoxFor(m => m.pee_7, new { @class = "form-control mb-2 mt-2", @id = "upee_7", @maxlength = "250" })

        </div>
        <div class="row mb-2 mt-2">
            <div class="col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk1" id="upee_chk11" value="1">
                        <span class="custom-control-label">
                            Renne R
                        </span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk1" id="upee_chk12" value="2">
                        <span class="custom-control-label">L</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk1" id="upee_chk13" value="3">
                        <span class="custom-control-label">Nystg R</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk1" id="upee_chk14" value="4">
                        <span class="custom-control-label">1</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk1" id="upee_chk15" value="5">
                        <span class="custom-control-label">2</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk1" id="upee_chk16" value="6">
                        <span class="custom-control-label">3/L</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk1" id="upee_chk17" value="7">
                        <span class="custom-control-label">1</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk1" id="upee_chk18" value="8">
                        <span class="custom-control-label">2</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk1" id="upee_chk19" value="9">
                        <span class="custom-control-label">3</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row mb-2 mt-2">
            <div class="col-lg-3">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk1" id="upee_chk110" value="10">
                        <span class="custom-control-label">Weber R</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk1" id="upee_chk111" value="11">
                        <span class="custom-control-label">L</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk1" id="upee_chk112" value="12">
                        <span class="custom-control-label"> Romberg N</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk1" id="upee_chk113" value="13">
                        <span class="custom-control-label">Ab</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row mb-2 mt-2">
            <div class="col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk1" id="upee_chk114" value="14">
                        <span class="custom-control-label">Barany R</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk1" id="upee_chk115" value="15">
                        <span class="custom-control-label">L</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk1" id="upee_chk116" value="16">
                        <span class="custom-control-label">Uttenborg N</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk1" id="upee_chk117" value="17">
                        <span class="custom-control-label">Ab</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk1" id="upee_chk118" value="18">
                        <span class="custom-control-label">R</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk1" id="upee_chk119" value="19">
                        <span class="custom-control-label">L</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row mb-2 mt-2">
            <div class="col-lg-3">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk1" id="upee_chk120" value="20">
                        <span class="custom-control-label">Gait&nbsp;&nbsp; N</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk1" id="upee_chk121" value="21">
                        <span class="custom-control-label">Ab</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2 text-decoration-underline"><label class="form-label">Nose</label></div>
        <div class="col-sm-12 col-md-12 col-lg-3 mb-2 mt-2">
            Ext : @Html.TextBoxFor(m => m.pee_8, new { @class = "form-control", @id = "upee_8", @maxlength = "250" })&nbsp;&nbsp;
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3 mb-2 mt-2">Bony: @Html.TextBoxFor(m => m.pee_9, new { @class = "form-control", @id = "upee_9", @maxlength = "250" })&nbsp;&nbsp;</div>
        <div class="col-sm-12 col-md-12 col-lg-3 mb-2 mt-2">Cartillage : @Html.TextBoxFor(m => m.pee_10, new { @class = "form-control", @id = "upee_10", @maxlength = "250" })&nbsp;&nbsp;</div>
        <div class="col-sm-12 col-md-12 col-lg-3 mb-2 mt-2">Tip: @Html.TextBoxFor(m => m.pee_11, new { @class = "form-control", @id = "upee_11", @maxlength = "250" })&nbsp;&nbsp;</div>
        <div class="row mb-2 mt-2">
            <div class=" col-lg-2 font-weight-semibold">Internal:Mucosa : </div>
            <div class="col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk2" id="upee_chk21" value="22">
                        <span class="custom-control-label">NOR</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk2" id="upee_chk22" value="23">
                        <span class="custom-control-label">Allg</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk2" id="upee_chk23" value="24">
                        <span class="custom-control-label">Congs</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk2" id="upee_chk24" value="25">
                        <span class="custom-control-label">VMR</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row mb-2 mt-2">
            <p class="col-lg-2 font-weight-semibold">Septum :</p>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk3" id="upee_chk31" value="26">
                        <span class="custom-control-label">ML</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk3" id="upee_chk32" value="27">
                        <span class="custom-control-label">Deviated R </span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk3" id="upee_chk33" value="28">
                        <span class="custom-control-label">L</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk3" id="upee_chk34" value="29">
                        <span class="custom-control-label">S-shaped</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk3" id="upee_chk35" value="30">
                        <span class="custom-control-label"> C-shaped</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk3" id="upee_chk36" value="31">
                        <span class="custom-control-label">Spurr</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">Turbinate:</div>
        <div class="col-sm-12 col-md-12 col-lg-6 d-flex mb-2 mt-2">
            Right
            <div class="col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk4" id="upee_chk41" value="32">
                        <span class="custom-control-label">N</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk4" id="upee_chk42" value="33">
                        <span class="custom-control-label">H</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 d-flex mb-2 mt-2">
            Left
            <div class="col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk4" id="upee_chk43" value="34">
                        <span class="custom-control-label">N</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk4" id="upee_chk44" value="35">
                        <span class="custom-control-label">H</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">Endoscopy:</div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">OM.C : </div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">Right : @Html.TextBoxFor(m => m.pee_12, new { @class = "form-control", @id = "upee_12", @maxlength = "250" })&nbsp;&nbsp;</div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">Left :@Html.TextBoxFor(m => m.pee_13, new { @class = "form-control", @id = "upee_13", @maxlength = "250" })&nbsp;&nbsp;</div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2 col-lg-4">N.F.R :</div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">Right : @Html.TextBoxFor(m => m.pee_14, new { @class = "form-control", @id = "upee_14", @maxlength = "250" })&nbsp;&nbsp;</div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">Left :@Html.TextBoxFor(m => m.pee_15, new { @class = "form-control", @id = "upee_15", @maxlength = "250" })&nbsp;&nbsp;</div>
        <div class="row mb-2 mt-2 table-responsive">
            <div class="content-inner">
                <div class="row col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="form-group mb-3">
                            <button id="udrawingdot2" class="btn bg-dark-transparent btn-icon btn-svg udrawing-mode" data-mode="dot2" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                    <circle cx="8" cy="8" r="8" />
                                </svg>
                            </button>
                            <button id="udrawingcheck2" class="btn bg-dark-transparent btn-icon btn-svg udrawing-mode" data-mode="check2" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                                </svg>
                            </button>
                            <button id="udrawingcircle2" class="btn bg-dark-transparent btn-icon btn-svg udrawing-mode" data-mode="circle2" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                </svg>
                            </button>
                            <button id="udrawingcupping2" class="btn bg-dark-transparent btn-icon btn-svg udrawing-mode" data-mode="cupping2" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash2" viewBox="0 0 16 16">
                                    <path d="M14 3a.7.7 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225A.7.7 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2M3.215 4.207l1.493 8.957a1 1 0 0 0 .986.836h4.612a1 1 0 0 0 .986-.836l1.493-8.957C11.69 4.689 9.954 5 8 5s-3.69-.311-4.785-.793" />
                                </svg>
                            </button>
                            <button id="uundo_button2" class="btn bg-dark-transparent btn-icon btn-svg" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z" />
                                    <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z" />
                                </svg>
                            </button>
                            <button id="udrawingeraser2" class="btn bg-dark-transparent btn-icon btn-svg udrawing-mode" data-mode="eraser2" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser-fill text-danger" viewBox="0 0 16 16">
                                    <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293z" />
                                </svg>
                            </button>
                            <input id="ucolor_picker2" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-inner">
                <div class="row col-sm-12 col-md-12 col-lg-12 mb-0">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div>
                            <canvas id="uimageCanvas2" width="300" height="200"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            @Html.TextBoxFor(m => m.pee_16, new { @class = "form-control mb-2 mt-2", @id = "upee_16", @maxlength = "250" })
        </div>
        <div class="row col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            <span>Tender:</span>
            <div class="col-lg-2">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="upee_chk5" id="upee_chk51" value="36">
                        <span class="custom-control-label">YES</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="upee_chk5" id="upee_chk52" value="37">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2"><label class="form-label">Throat:</label></div>
        <div class="row mb-2 mt-2 font-weight-semibold">
            <div class="col-sm-12 col-md-12 col-lg-2 mb-2 mt-2"><label class="form-label">Tonsills :</label></div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk6" id="upee_chk61" value="38">
                        <span class="custom-control-label">N</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk6" id="upee_chk62" value="39">
                        <span class="custom-control-label">/ 1</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk6" id="upee_chk63" value="40">
                        <span class="custom-control-label">2</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk6" id="upee_chk64" value="41">
                        <span class="custom-control-label">3</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk6" id="upee_chk65" value="42">
                        <span class="custom-control-label">/ K</span>
                    </label>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
                <label class="form-label"> Adenoids:</label> @Html.TextBoxFor(m => m.pee_17, new { @class = "form-control", @id = "upee_17", @maxlength = "250" })&nbsp;&nbsp;
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3 mb-2 mt-2">
            Acute:  @Html.TextBoxFor(m => m.pee_18, new { @class = "form-control", @id = "upee_18", @maxlength = "250" })&nbsp;&nbsp;
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3 mb-2 mt-2">
            Chronic: @Html.TextBoxFor(m => m.pee_19, new { @class = "form-control", @id = "upee_19", @maxlength = "250" })&nbsp;&nbsp;
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3 mb-2 mt-2">
            Pharyax: @Html.TextBoxFor(m => m.pee_20, new { @class = "form-control", @id = "upee_20", @maxlength = "250" })&nbsp;&nbsp;
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3 mb-2 mt-2">
            Teeth & Jaws: @Html.TextBoxFor(m => m.pee_21, new { @class = "form-control", @id = "upee_21", @maxlength = "250" })&nbsp;&nbsp;
        </div>
        <div class="row mb-2 mt-2 font-weight-semibold">
            <div class="col-lg-3">Larynx:</div>
            <div class="col-lg-3">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk7" id="upee_chk71" value="43">
                        <span class="custom-control-label">Mirror</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk7" id="upee_chk72" value="44">
                        <span class="custom-control-label">Flexible</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk7" id="upee_chk73" value="45">
                        <span class="custom-control-label">Rigid Ends</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row mb-2 mt-2 table-responsive">
            <div class="content-inner">
                <div class="row col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="form-group mb-3">
                            <button id="udrawingdot3" class="btn bg-dark-transparent btn-icon btn-svg udrawing-mode" data-mode="dot3" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                    <circle cx="8" cy="8" r="8" />
                                </svg>
                            </button>
                            <button id="udrawingcheck3" class="btn bg-dark-transparent btn-icon btn-svg udrawing-mode" data-mode="check3" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                                </svg>
                            </button>
                            <button id="udrawingcircle3" class="btn bg-dark-transparent btn-icon btn-svg udrawing-mode" data-mode="circle3" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                </svg>
                            </button>
                            <button id="udrawingcupping3" class="btn bg-dark-transparent btn-icon btn-svg udrawing-mode" data-mode="cupping3" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash2" viewBox="0 0 16 16">
                                    <path d="M14 3a.7.7 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225A.7.7 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2M3.215 4.207l1.493 8.957a1 1 0 0 0 .986.836h4.612a1 1 0 0 0 .986-.836l1.493-8.957C11.69 4.689 9.954 5 8 5s-3.69-.311-4.785-.793" />
                                </svg>
                            </button>
                            <button id="uundo_button3" class="btn bg-dark-transparent btn-icon btn-svg" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z" />
                                    <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z" />
                                </svg>
                            </button>
                            <button id="udrawingeraser3" class="btn bg-dark-transparent btn-icon btn-svg udrawing-mode" data-mode="eraser3" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser-fill text-danger" viewBox="0 0 16 16">
                                    <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293z" />
                                </svg>
                            </button>
                            <input id="ucolor_picker3" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-inner">
                <div class="row col-sm-12 col-md-12 col-lg-12 mb-0">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div>
                            <canvas id="uimageCanvas3" width="700" height="200"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            @Html.TextAreaFor(m => m.pee_22, new { @class = "form-control mb-2 mt-2", @id = "upee_22", @maxlength = "250" })
        </div>
        <div class="row mb-2 mt-2 font-weight-semibold d-flex">
            <div class="col-lg-2">Neck:</div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk8" id="upee_chk81" value="46">
                        <span class="custom-control-label">Node N</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk8" id="upee_chk82" value="47">
                        <span class="custom-control-label">Ab</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2"> @Html.TextBoxFor(m => m.pee_23, new { @class = "form-control", @id = "upee_23", @maxlength = "250" })&nbsp;&nbsp;</div>
            <div class="col-lg-3">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk8" id="upee_chk83" value="48">
                        <span class="custom-control-label">Thyroid N</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="upee_chk8" id="upee_chk84" value="49">
                        <span class="custom-control-label">Ab</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-2 mb-2 mt-2">Investigations :</div>
        <div class="col-sm-12 col-md-12 col-lg-5 mb-2 mt-2">
            P.T.A  @Html.TextBoxFor(m => m.pee_24, new { @class = "form-control", @id = "upee_24", @maxlength = "250" })&nbsp;&nbsp;
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5 mb-2 mt-2">
            Positional  @Html.TextBoxFor(m => m.pee_25, new { @class = "form-control", @id = "upee_25", @maxlength = "250" })&nbsp;&nbsp;
        </div>
        <div class="row mb-2 mt-2">
            <div class="col-lg-2">	Tympanometry: </div>
            <div class="row row-cols-lg-1 col-lg-4">
                <div class="col-lg-2">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                            <input type="checkbox" class="custom-control-input" name="upee_chk9" id="upee_chk91" value="50">
                            <span class="custom-control-label">R</span>
                        </label>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                            <input type="checkbox" class="custom-control-input" name="upee_chk9" id="upee_chk92" value="51">
                            <span class="custom-control-label">a</span>
                        </label>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                            <input type="checkbox" class="custom-control-input" name="upee_chk9" id="upee_chk93" value="52">
                            <span class="custom-control-label">b</span>
                        </label>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                            <input type="checkbox" class="custom-control-input" name="upee_chk9" id="upee_chk94" value="53">
                            <span class="custom-control-label">c</span>
                        </label>
                    </div>
                </div>
                <div class="row mb-2 mt-2">
                    <div class="col-lg-2">
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="upee_chk9" id="upee_chk95" value="54">
                                <span class="custom-control-label"> L</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="upee_chk9" id="upee_chk96" value="55">
                                <span class="custom-control-label"> a</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="upee_chk9" id="upee_chk97" value="56">
                                <span class="custom-control-label">b</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="upee_chk9" id="upee_chk98" value="57">
                                <span class="custom-control-label">c</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                Epley  @Html.TextBoxFor(m => m.pee_26, new { @class = "form-control", @id = "upee_26", @maxlength = "250" })&nbsp;&nbsp;
            </div>
        </div>
        <div class="col-lg-12 font-weight-semibold">Others @Html.TextBoxFor(m => m.pee_27, new { @class = "form-control", @id = "upee_27", @maxlength = "250" })&nbsp;&nbsp;</div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
            <span class="text-decoration-underline mb-2 mt-2"> X-ray :</span> @Html.TextAreaFor(m => m.pee_28, new { @class = "form-control", @id = "upee_28", @maxlength = "250", @rows = "2" })&nbsp;
        </div>
        <div class="ccol-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
            <span class="text-decoration-underline  mb-2 mt-2"> Lab  : </span> @Html.TextAreaFor(m => m.pee_29, new { @class = "form-control", @id = "upee_29", @maxlength = "250", @rows = "2" })&nbsp;
        </div>
        <div class="ccol-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
            <span class="text-decoration-underline  mb-2 mt-2"> Skin Allergic Test  : </span> @Html.TextAreaFor(m => m.pee_30, new { @class = "form-control", @id = "upee_30", @maxlength = "250", @rows = "2" })&nbsp;
        </div>
        <div class="ccol-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
            <span class="text-decoration-underline  mb-2 mt-2">  D.Diagnosis :</span> @Html.TextAreaFor(m => m.pee_31, new { @class = "form-control", @id = "upee_31", @maxlength = "250", @rows = "2" })&nbsp;
        </div>
        <div class="ccol-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
            <span class="text-decoration-underline  mb-2 mt-2">
                Treatments and Procedures :
            </span> @Html.TextAreaFor(m => m.pee_32, new { @class = "form-control", @id = "upee_32", @maxlength = "250", @rows = "2" })&nbsp;
        </div>
        <div class="ccol-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
            <span class="text-decoration-underline  mb-2 mt-2">
                Prescription:
            </span> @Html.TextAreaFor(m => m.pee_33, new { @class = "form-control", @id = "upee_33", @maxlength = "250", @rows = "2" })&nbsp;
        </div>
        <div class="ccol-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            <span class="text-decoration-underline  mb-2 mt-2">
                Plan:
            </span> @Html.TextAreaFor(m => m.pee_34, new { @class = "form-control", @id = "upee_34", @maxlength = "250", @rows = "2" })&nbsp;
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="3" class="font-weight-bold text-danger fs-18" width="100%">
                        Sign here, only if all of your questions have been answered to your satisfaction
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <div id="upat_sign_box" class="d-none">
                            <img alt="stamp" id="upat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="50%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold"> Patient Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="upsb_date_patient"></label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                    <td width="50%">
                        <label class="form-label text-red text-left text-capitalize">@emr.doc_name&nbsp;</label>
                        <span class="font-weight-semibold">Doctor’s Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="upee_date_doctor">@Model.pee_date_modified&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue" width="50%">
                        Patient Signature
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center" width="50%">Doctor’s Signature</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update">Save Changes</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                <button type="button" class="btn btn-danger btn-sm" id="btn_DeleteForm">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print"> Download/Print </button>
            </div>
        </div>
    </div>

</form>
<script type="text/javascript">
    // region page load
    var formName1 = $(form_PhysicalExamEntNewEdit).closest('form').attr('name');
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Update").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Update").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Update").show();
                }
                else {
                    $("#btn_Update").hide();
                }
            }
        }

        $('#ucolor_picker').spectrum({
            type: "flat",
            showInput: true,
            preferredFormat: "hex",
            color: '#0061da'
        });


        $('#ucolor_picker2').spectrum({
            type: "flat",
            showInput: true,
            preferredFormat: "hex",
            color: '#0061da'
        });

        $('#ucolor_picker3').spectrum({
            type: "flat",
            showInput: true,
            preferredFormat: "hex",
            color: '#0061da'
        });
        const udrawingButtons = document.querySelectorAll('.udrawing-mode');
        udrawingButtons.forEach((button) => {
            button.addEventListener('click', function () {
                uDrawingMode = button.getAttribute('data-mode');
            });
        });

        const udrawingButtons2 = document.querySelectorAll('.udrawing-mode');
        udrawingButtons2.forEach((button) => {
            button.addEventListener('click', function () {
                uDrawingMode2 = button.getAttribute('data-mode');
            });
        });

        const udrawingButtons3 = document.querySelectorAll('.udrawing-mode');
        udrawingButtons3.forEach((button) => {
            button.addEventListener('click', function () {
                uDrawingMode3 = button.getAttribute('data-mode');
            });
        });



        validate();
        Loadimage_Update();
        Loadimage2_Update();
        Loadimage3_Update();
        GetCheckedValues();
        GetRadioValues();
        GetSignaturename('patient');
        Get_EMRINFO();
    });
    //#end region Page Load
    //#region Drawing One
var uisErasing = false;
var ucanvas = document.getElementById('uimageCanvas');
var uctx = ucanvas.getContext('2d');
var udrawingHistory = [];
var uDrawingMode = 'dot';

//Load an image
var Loadimage_Update = function (img) {
    var image = new Image();
     if ("@Model.pee_doc1" != "") {
         image.src = "@ConfigurationManager.AppSettings["ClinicSoftEndPoint"].ToString()" + "@Model.pee_doc1";
     }
     else {
         image.src = "@ConfigurationManager.AppSettings["ClinicSoftEndPoint"].ToString()" + "images/ConsentForms/MasterImages/ent1.jpg";
     }
     image.onload = function () {
         // Draw the image onto the canvas
         uctx.drawImage(image, 0, 0, ucanvas.width, ucanvas.height);
     };
}

// Add drawing functionality
var uisDrawing = false;
var ulastX, ulastY;

ucanvas.addEventListener('mousedown', function (e) {
    var rect = ucanvas.getBoundingClientRect();
    var x = e.clientX - rect.left;
    var y = e.clientY - rect.top;

    if (uisErasing) {
        erase(x, y);
    }
    else {
        if (uDrawingMode === 'dot') {
            udrawDot(x, y);
        }
        else if (uDrawingMode === 'check') {
            udrawcheckMark(x, y);
        }
        else if (uDrawingMode === 'circle') {
            udrawingCircle(x, y);
        }
        else if (uDrawingMode === 'cupping') {
            udrawingCupping(x, y);
        }
        else if (uDrawingMode === 'eraser') {
            udrawingEraser(x, y);
        }
    }
    uisDrawing = true;
    udrawingHistory.push(ucanvas.toDataURL());
});


ucanvas.addEventListener('mousemove', function (e) {

    if (uisErasing) {
        var x = e.clientX - ucanvas.getBoundingClientRect().left;
        var y = e.clientY - ucanvas.getBoundingClientRect().top;
        uerase(x, y);
    } else if (!uisDrawing) {
        return;
    }

    if (!uisDrawing) return;

    var x = e.offsetX - ucanvas.getBoundingClientRect().left;
    var y = e.offsetY - ucanvas.getBoundingClientRect().top;

    uisDrawing = true;
    udrawingHistory.push(canvas.toDataURL());
});

function udrawDot(x, y) {
    uctx.fillStyle = $("#ucolor_picker").val();
    uctx.beginPath();
    uctx.arc(x, y, 5, 0, Math.PI * 2);
    uctx.fill();
    udrawingHistory.push(ucanvas.toDataURL());
}

var udrawcheckMark = function (x, y) {
    uctx.strokeStyle = $("#ucolor_picker").val();
    uctx.lineWidth = 2;
    uctx.beginPath();
    uctx.moveTo(x - 10, y);
    uctx.lineTo(x - 5, y + 5);
    uctx.lineTo(x + 10, y - 10);
    uctx.stroke();
    udrawingHistory.push(ucanvas.toDataURL());
}

var udrawingCircle = function (x, y) {
    uctx.strokeStyle = $("#ucolor_picker").val();
    uctx.lineWidth = 2;
    uctx.beginPath();
    uctx.arc(x, y, 5, 0, Math.PI * 2); // Use the arc method to draw a circle
    uctx.stroke();
    udrawingHistory.push(ucanvas.toDataURL());
}

var udrawingCupping = function (x, y) {
    uctx.strokeStyle = $("#ucolor_picker").val(); // Set color for the trash icon
    uctx.lineWidth = 2;
    uctx.beginPath();
    uctx.moveTo(x - 8, y - 16);
    uctx.lineTo(x + 8, y - 16);
    uctx.lineTo(x + 4, y - 2);
    uctx.lineTo(x - 4, y - 2);
    uctx.closePath();
    uctx.stroke();
    udrawingHistory.push(ucanvas.toDataURL());
}

var udrawingEraser = function (x, y) {
    var squareSize = 20;
    uctx.fillStyle = "#ffffff";
    uctx.beginPath();
    uctx.rect(x - squareSize / 2, y - squareSize / 2, squareSize, squareSize);
    uctx.fill();
    udrawingHistory.push(ucanvas.toDataURL());
    $("#ucolor_picker").val("#000000");
}

function uerase(x, y) {
    uctx.fillStyle = '#ffffff';
    uctx.beginPath();
    uctx.arc(x, y, 10, 0, Math.PI * 2);
    uctx.fill();
    udrawingHistory.push(ucanvas.toDataURL());
}
ucanvas.addEventListener('mouseup', function () {
    uisDrawing = false;
});


$('#uundo_button').on('click', function (e) {
    if (udrawingHistory.length > 0) {
        udrawingHistory.pop(); // Remove the current state
        var img = new Image();
        img.src = udrawingHistory[udrawingHistory.length - 1];
        img.onload = function () {
            uctx.clearRect(0, 0, ucanvas.width, ucanvas.height);
            uctx.drawImage(img, 0, 0, ucanvas.width, ucanvas.height);
        };
    }

});

//#endregion Drawing One

//#region Drawing Two
var uisErasing2 = false;
var ucanvas2 = document.getElementById('uimageCanvas2');
var uctx2 = ucanvas2.getContext('2d');
var udrawingHistory2 = [];
var uDrawingMode2 = 'dot2';

//Load an image
var Loadimage2_Update = function (img) {
    var image = new Image();
     if ("@Model.pee_doc2" != "") {
         image.src = "@ConfigurationManager.AppSettings["ClinicSoftEndPoint"].ToString()" + "@Model.pee_doc2";
     }
     else {
         image.src = "@ConfigurationManager.AppSettings["ClinicSoftEndPoint"].ToString()" + "images/ConsentForms/MasterImages/ent2.jpg";
     }
     image.onload = function () {
         // Draw the image onto the canvas
         uctx2.drawImage(image, 0, 0, ucanvas2.width, ucanvas2.height);
     };
}

// Add drawing functionality
var uisDrawing2 = false;

ucanvas2.addEventListener('mousedown', function (e) {
    var rect = ucanvas2.getBoundingClientRect();
    var x = e.clientX - rect.left;
    var y = e.clientY - rect.top;

    if (uisErasing2) {
        uerase2(x, y);
    } else {
        if (uDrawingMode2 === 'dot2') {
            udrawDot2(x, y);
        }
        else if (uDrawingMode2 === 'check2') {
            udrawcheckMark2(x, y);
        }
        else if (uDrawingMode2 === 'circle2') {
            udrawingCircle2(x, y);
        }
        else if (uDrawingMode2 === 'cupping2') {
            udrawingCupping2(x, y);
        }
        else if (uDrawingMode2 === 'eraser2') {
            udrawingEraser2(x, y);
        }
    }
    uisDrawing2 = true;
    udrawingHistory2.push(canvas2.toDataURL());
});



ucanvas2.addEventListener('mousemove', function (e) {

    if (uisErasing2) {
        var x = e.clientX - ucanvas2.getBoundingClientRect().left;
        var y = e.clientY - ucanvas2.getBoundingClientRect().top;
        uerase2(x, y);
    } else if (!uisDrawing2) {
        return;
    }

    if (!uisDrawing2) return;

    var x = e.offsetX - ucanvas2.getBoundingClientRect().left;
    var y = e.offsetY - ucanvas2.getBoundingClientRect().top;


    uisDrawing2 = true;
    udrawingHistory2.push(ucanvas2.toDataURL());
});

function udrawDot2(x, y) {
    uctx2.fillStyle = $("#ucolor_picker2").val();
    uctx2.beginPath();
    uctx2.arc(x, y, 5, 0, Math.PI * 2);
    uctx2.fill();
    udrawingHistory2.push(ucanvas2.toDataURL());
}

var udrawcheckMark2 = function (x, y) {
    uctx2.strokeStyle = $("#ucolor_picker2").val();
    uctx2.lineWidth = 2;
    uctx2.beginPath();
    uctx2.moveTo(x - 10, y);
    uctx2.lineTo(x - 5, y + 5);
    uctx2.lineTo(x + 10, y - 10);
    uctx2.stroke();
    udrawingHistory2.push(ucanvas2.toDataURL());
}

var udrawingCircle2 = function (x, y) {
    uctx2.strokeStyle = $("#ucolor_picker2").val();
    uctx2.lineWidth = 2;
    uctx2.beginPath();
    uctx2.arc(x, y, 5, 0, Math.PI * 2); // Use the arc method to draw a circle
    uctx2.stroke();
    udrawingHistory2.push(ucanvas2.toDataURL());
}

var udrawingCupping2 = function (x, y) {
    uctx2.strokeStyle = $("#ucolor_picker2").val(); // Set color for the trash icon
    uctx2.lineWidth = 2;
    uctx2.beginPath();
    uctx2.moveTo(x - 8, y - 16);
    uctx2.lineTo(x + 8, y - 16);
    uctx2.lineTo(x + 4, y - 2);
    uctx2.lineTo(x - 4, y - 2);
    uctx2.closePath();
    uctx2.stroke();
    udrawingHistory2.push(ucanvas2.toDataURL());
}

var udrawingEraser2 = function (x, y) {
    var squareSize = 20;
    uctx2.fillStyle = "#ffffff";
    uctx2.beginPath();
    uctx2.rect(x - squareSize / 2, y - squareSize / 2, squareSize, squareSize);
    uctx2.fill();
    udrawingHistory2.push(ucanvas2.toDataURL());
    $("#ucolor_picker2").val("#000000");
}

function uerase2(x, y) {
    uctx2.fillStyle = '#ffffff';
    uctx2.beginPath();
    uctx2.arc(x, y, 10, 0, Math.PI * 2);
    uctx2.fill();
    udrawingHistory2.push(ucanvas2.toDataURL());
}

ucanvas2.addEventListener('mouseup', function () {
    uisDrawing2 = false;
});


$('#uundo_button2').on('click', function (e) {
    if (udrawingHistory2.length > 1) {
        udrawingHistory2.pop(); // Remove the current state
        var img = new Image();
        img.src = udrawingHistory2[udrawingHistory2.length - 1];
        img.onload = function () {
            uctx2.clearRect(0, 0, ucanvas2.width, ucanvas2.height);
            uctx2.drawImage(img, 0, 0, ucanvas2.width, ucanvas2.height);
        };
    }

});
//#endregion drawing Two

//#region Drawing Three
var uisErasing3 = false;
var ucanvas3 = document.getElementById('uimageCanvas3');
var uctx3 = ucanvas3.getContext('2d');
var udrawingHistory3 = [];
var uDrawingMode3 = 'dot';

//Load an image
var Loadimage3_Update = function (img) {
   var image = new Image();
     if ("@Model.pee_doc3" != "") {
         image.src = "@ConfigurationManager.AppSettings["ClinicSoftEndPoint"].ToString()" + "@Model.pee_doc3";
     }
     else {
         image.src = "@ConfigurationManager.AppSettings["ClinicSoftEndPoint"].ToString()" + "images/ConsentForms/MasterImages/ent3.jpg";
     }
     image.onload = function () {
         // Draw the image onto the canvas
         uctx3.drawImage(image, 0, 0, ucanvas3.width, ucanvas3.height);
     };
}


// Add drawing functionality
var uisDrawing3 = false;

ucanvas3.addEventListener('mousedown', function (e) {
    var rect = ucanvas3.getBoundingClientRect();
    var x = e.clientX - rect.left;
    var y = e.clientY - rect.top;

    if (uisErasing3) {
        uerase3(x, y);
    } else {
        if (uDrawingMode3 === 'dot3') {
            udrawDot3(x, y);
        }
        else if (uDrawingMode3 === 'check3') {
            udrawcheckMark3(x, y);
        }
        else if (uDrawingMode3 === 'circle3') {
            udrawingCircle3(x, y);
        }
        else if (uDrawingMode3 === 'cupping3') {
            udrawingCupping3(x, y);
        }
        else if (uDrawingMode3 === 'eraser3') {
            udrawingEraser3(x, y);
        }
    }
    uisDrawing3 = true;
    udrawingHistory3.push(ucanvas3.toDataURL());
});


ucanvas3.addEventListener('mousemove', function (e) {
    if (uisErasing2) {
        var x = e.clientX - ucanvas3.getBoundingClientRect().left;
        var y = e.clientY - ucanvas3.getBoundingClientRect().top;
        uerase3(x, y);
    } else if (!uisDrawing3) {
        return;
    }

    if (!uisDrawing3) return;

    var x = e.offsetX - ucanvas3.getBoundingClientRect().left;
    var y = e.offsetY - ucanvas3.getBoundingClientRect().top;


    uisDrawing3 = true;
    udrawingHistory3.push(ucanvas3.toDataURL());
});

function udrawDot3(x, y) {
    uctx3.fillStyle = $("#ucolor_picker3").val();
    uctx3.beginPath();
    uctx3.arc(x, y, 5, 0, Math.PI * 2);
    uctx3.fill();
    udrawingHistory3.push(ucanvas3.toDataURL());
}

var udrawcheckMark3 = function (x, y) {
    uctx3.strokeStyle = $("#ucolor_picker3").val();
    uctx3.lineWidth = 2;
    uctx3.beginPath();
    uctx3.moveTo(x - 10, y);
    uctx3.lineTo(x - 5, y + 5);
    uctx3.lineTo(x + 10, y - 10);
    uctx3.stroke();
    udrawingHistory3.push(ucanvas3.toDataURL());
}

var udrawingCircle3 = function (x, y) {
    uctx3.strokeStyle = $("#ucolor_picker2").val();
    uctx3.lineWidth = 2;
    uctx3.beginPath();
    uctx3.arc(x, y, 5, 0, Math.PI * 2); // Use the arc method to draw a circle
    uctx3.stroke();
    udrawingHistory3.push(ucanvas3.toDataURL());
}

var udrawingCupping3 = function (x, y) {
    uctx3.strokeStyle = $("#ucolor_picker3").val(); // Set color for the trash icon
    uctx3.lineWidth = 2;
    uctx3.beginPath();
    uctx3.moveTo(x - 8, y - 16);
    uctx3.lineTo(x + 8, y - 16);
    uctx3.lineTo(x + 4, y - 2);
    uctx3.lineTo(x - 4, y - 2);
    uctx3.closePath();
    uctx3.stroke();
    udrawingHistory3.push(ucanvas3.toDataURL());
}

var udrawingEraser3 = function (x, y) {
    var squareSize = 20;
    uctx3.fillStyle = "#ffffff";
    uctx3.beginPath();
    uctx3.rect(x - squareSize / 2, y - squareSize / 2, squareSize, squareSize);
    uctx3.fill();
    udrawingHistory3.push(ucanvas3.toDataURL());
    $("#ucolor_picker3").val("#000000");
}

function uerase3(x, y) {
    uctx3.fillStyle = '#ffffff';
    uctx3.beginPath();
    uctx3.arc(x, y, 10, 0, Math.PI * 2);
    uctx3.fill();
    udrawingHistory3.push(ucanvas3.toDataURL());
}

ucanvas3.addEventListener('mouseup', function () {
    uisDrawing3 = false;
});


$('#uundo_button3').on('click', function (e) {
    if (udrawingHistory3.length > 1) {
        udrawingHistory3.pop(); // Remove the current state
        var img = new Image();
        img.src = udrawingHistory3[udrawingHistory3.length - 1];
        img.onload = function () {
            uctx3.clearRect(0, 0, ucanvas3.width, ucanvas3.height);
            uctx3.drawImage(img, 0, 0, ucanvas3.width, ucanvas3.height);
        };
    }

});
//#endregion Drawing Three

    //#region Validation Initialization
    var validate = function () {
        $("#form_PhysicalExamEntNewEdit").validate({
            rules: {
                pee_34: {
                    required: true,
                },
            },
            messages: {
                pee_34: {
                    required: "Please Enter Plan"
                },
            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

    }
    //#endregion

    //#region Load Get Diagnosis,treatments,history
        var Get_EMRINFO = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetEmrInfo", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                if (response.length > 0) {
                    $('#upee_2').text(response[0].complaints);

                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
            })
        }
    //#end region

    //#region Get CheckedValues
    var GetCheckedValues = function (checknames1, checknames2, checknames3, checknames4, checknames5, checknames6, checknames7, checknames8, checknames9) {
     var checknames = "@Model.pee_chk1";
     var checknames = "@Model.pee_chk2";
     var checknames = "@Model.pee_chk3";
     var checknames = "@Model.pee_chk4";
     var checknames = "@Model.pee_chk5";
     var checknames = "@Model.pee_chk6";
     var checknames = "@Model.pee_chk7";
     var checknames = "@Model.pee_chk8";
     var checknames = "@Model.pee_chk9";


    if (checknames1 !== null) {
    if (checknames1 != "") {
        var str = "@Model.pee_chk1";
          var myarray = str.split(',');
          for (var i = 0; i < myarray.length; i++) {
             $('.custom-control-input').each(function () {
                     if (myarray.includes($(this).val())) {
                         $(this).prop("checked", true);
                     }
             });
          }
     console.log(myarray)
    }



}
    if (checknames2 !== null) {
            if (checknames2 != "") {
                       var str = "@Model.pee_chk2";
                       var myarray = str.split(',');
               for (var i = 0; i < myarray.length; i++) {
                      $('.custom-control-input').each(function () {
                              if (myarray.includes($(this).val())) {
                                  $(this).prop("checked", true);
                              }
                      });
               }
          console.log(myarray)
         }

        }
    if (checknames3 !== null) {

             if (checknames3 != "") {
                   var str = "@Model.pee_chk3";
                   var myarray = str.split(',');
               for (var i = 0; i < myarray.length; i++) {
                  $('.custom-control-input').each(function () {
                          if (myarray.includes($(this).val())) {
                              $(this).prop("checked", true);
                          }
                  });
               }
          console.log(myarray)
         }



        }
    if (checknames4 !== null) {
            if (checknames4 != "") {
           var str = "@Model.pee_chk4";
           var myarray = str.split(',');
       for (var i = 0; i < myarray.length; i++) {
          $('.custom-control-input').each(function () {
                  if (myarray.includes($(this).val())) {
                      $(this).prop("checked", true);
                  }
          });
       }
  console.log(myarray)
 }



        }
    if (checknames6 !== null) {
            if (checknames6 != "") {
          var str = "@Model.pee_chk6";
          var myarray = str.split(',');
      for (var i = 0; i < myarray.length; i++) {
         $('.custom-control-input').each(function () {
                 if (myarray.includes($(this).val())) {
                     $(this).prop("checked", true);
                 }
         });
      }
 console.log(myarray)
}



        }
    if (checknames7 !== null) {
                if (checknames7 != "") {
              var str = "@Model.pee_chk7";
              var myarray = str.split(',');
          for (var i = 0; i < myarray.length; i++) {
             $('.custom-control-input').each(function () {
                     if (myarray.includes($(this).val())) {
                         $(this).prop("checked", true);
                     }
             });
          }
     console.log(myarray)
    }



        }
    if (checknames8 !== null) {
            if (checknames8 != "") {
          var str = "@Model.pee_chk8";
          var myarray = str.split(',');
      for (var i = 0; i < myarray.length; i++) {
         $('.custom-control-input').each(function () {
                 if (myarray.includes($(this).val())) {
                     $(this).prop("checked", true);
                 }
         });
      }
 console.log(myarray)
}



        }
    if (checknames9 !== null) {
            if (checknames9 != "") {
          var str = "@Model.pee_chk9";
          var myarray = str.split(',');
      for (var i = 0; i < myarray.length; i++) {
         $('.custom-control-input').each(function () {
                 if (myarray.includes($(this).val())) {
                     $(this).prop("checked", true);
                 }
         });
      }
 console.log(myarray)
}



     }


    }
//#endregion

    //#region Get GetRadioValues
    var GetRadioValues = function (checknames) {
    var checknames = "@Model.pee_chk5";

    if (checknames !== null) {

        if (checknames != "") {
            if (checknames == "Yes") {
                $('#upee_chk51').attr('checked', 'checked');
                $("#upee_chk51").prop("checked", true);

            }
            if (checknames == "No") {
                $('#upee_chk52').attr('checked', 'checked');
                $("#upee_chk52").prop("checked", true);

            }



        }
    }
}

  //#endregion Get GetRadioValues

    //#region Update  Click
    $('#btn_Update').on('click', function (e) {
        e.preventDefault();
        if ($("#form_PhysicalExamEntNewEdit").valid()) {
            console.log($("#peeId").val());
        $('#btn_Update').removeClass("btn btn-sm btn-success");
        $('#btn_Update').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Update').html("Updating the Record....");

            var upee_chk1_ = $.map($(':checkbox[name=upee_chk1]:checked'), function (n, i) {
                return n.value;
            }).join(',');
            console.log(upee_chk1_);

            var upee_chk2_ = $.map($(':checkbox[name=upee_chk2]:checked'), function (n, i) {
                return n.value;
            }).join(',');
            console.log(upee_chk2_);

            var upee_chk3_ = $.map($(':checkbox[name=upee_chk3]:checked'), function (n, i) {
                return n.value;
            }).join(',');
            console.log(upee_chk3_);

            var upee_chk4_ = $.map($(':checkbox[name=upee_chk4]:checked'), function (n, i) {
                return n.value;
            }).join(',');
            console.log(upee_chk4_);

            var upee_chk5_ = $.map($(':checkbox[name=upee_chk5]:checked'), function (n, i) {
                return n.value;
            }).join(',');
            console.log(upee_chk5_);


            var upee_chk6_ = $.map($(':checkbox[name=upee_chk6]:checked'), function (n, i) {
                return n.value;
            }).join(',');
            console.log(upee_chk6_);


            var upee_chk7_ = $.map($(':checkbox[name=upee_chk7]:checked'), function (n, i) {
                return n.value;
            }).join(',');
            console.log(upee_chk7_);


            var upee_chk8_ = $.map($(':checkbox[name=upee_chk8]:checked'), function (n, i) {
                return n.value;
            }).join(',');
            console.log(upee_chk8_);


            var upee_chk9_ = $.map($(':checkbox[name=upee_chk9]:checked'), function (n, i) {
                return n.value;
            }).join(',');
            console.log(upee_chk9_);



            var upee_chk5 = "";

            if ($('#upee_chk51').prop('checked')) {
                upee_chk5 = "1";
            }
            else if ($('#upee_chk52').prop('checked')) {
                upee_chk5 = "2";
            }

            var canvas = $("#uimageCanvas").get(0);
            var imgData = canvas.toDataURL();
            console.log(imgData);

            var canvas2 = $("#uimageCanvas2").get(0);
            var imgData2 = canvas2.toDataURL();
            console.log(imgData2);

            var canvas3 = $("#uimageCanvas3").get(0);
            var imgData3 = canvas3.toDataURL();
            console.log(imgData3);


            var _dateInsert = {
            "peeId": 0,
            "pee_appId": @emr.appId,
            "pee_1": $("#upee_1").val(),
            "pee_2": $("#upee_2").val(),
            "pee_3": $("#upee_3").val(),
            "pee_4": $("#upee_4").val(),
            "pee_5": $("#upee_5").val(),
            "pee_6": $("#upee_6").val(),
            "pee_7": $("#upee_7").val(),
            "pee_chk1": upee_chk1_,
            "pee_8": $("#upee_8").val(),
            "pee_9": $("#upee_9").val(),
            "pee_10": $("#upee_10").val(),
            "pee_11": $("#upee_11").val(),
            "pee_chk2": upee_chk2_,
            "pee_chk3": upee_chk3_,
            "pee_chk4": upee_chk4_,
            "pee_12": $("#upee_12").val(),
            "pee_13": $("#upee_13").val(),
            "pee_14": $("#upee_14").val(),
            "pee_15": $("#upee_15").val(),
            "pee_16": $("#upee_16").val(),
            "pee_17": $("#upee_17").val(),
            "pee_chk5": upee_chk5,
            "pee_chk6": upee_chk6_,
            "pee_18": $("#upee_18").val(),
            "pee_19": $("#upee_19").val(),
            "pee_20": $("#upee_20").val(),
            "pee_21": $("#upee_21").val(),
            "pee_chk7": upee_chk7_,
            "pee_22": $("#upee_22").val(),
            "pee_23": $("#upee_23").val(),
            "pee_24": $("#upee_24").val(),
            "pee_25": $("#upee_25").val(),
            "pee_26": $("#upee_26").val(),
            "pee_27": $("#upee_27").val(),
            "pee_chk8": upee_chk8_,
            "pee_chk9": upee_chk9_,
            "pee_28": $("#upee_28").val(),
            "pee_29": $("#upee_29").val(),
            "pee_30": $("#upee_30").val(),
            "pee_31": $("#upee_31").val(),
            "pee_32": $("#upee_32").val(),
            "pee_33": $("#upee_33").val(),
            "pee_34": $("#upee_34").val(),
            "image": imgData,
            "image2": imgData2,
            "image3": imgData3,
              "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
        }
            console.log(_dateInsert);

            $.ajax({
                type: "Post",
                url: "@Url.Action("EditPhysicalExamEntNew", "PhysicalExamEntNew", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Update').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-success");
                    $('#btn_Update').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isEdited) {
                            GetPhysicalExamEntNewInfo();

                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>PhysicalExamEnt New Updated Successfully!", "success");

                            Timeout();
                            $("#PhysicalExamEntNew_edit").show();
                            $("#PhysicalExamEntNew_add").hide();
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning..  PhysicalExamEnt New already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert1").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Update').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }

    });
    //#endregion Update Click

    //#region Delete Click
    $('#btn_DeleteForm').on('click', function (e) {
        e.preventDefault();
        $('#btn_DeleteForm').removeClass("btn btn-success");
        $('#btn_DeleteForm').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_DeleteForm').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeletePhysicalExamEntNew", "PhysicalExamEntNew", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-warning");
                $('#btn_DeleteForm').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>PhysicalExamEnt New Deleted Successfully!", "success");
                        clearControls();
                        $("#PhysicalExamEntNew_edit").hide();
                        $("#PhysicalExamEntNew_add").show();
                        AddPhysicalExamEntNew();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-Delete");
                $('#btn_DeleteForm').html("Delete");
                Timeout();
            }
        })
    });
//#endregion

    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
        uctx.clearRect(0, 0, ucanvas.width, ucanvas.height);
        Loadimage_Update();
        Loadimage2_Update();
        Loadimage3_Update();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("input[name='upee_chk1']:checkbox").prop('checked', false);
        $("input[name='upee_chk2']:checkbox").prop('checked', false);
        $("input[name='upee_chk3']:checkbox").prop('checked', false);
        $("input[name='upee_chk4']:checkbox").prop('checked', false);
        $("input[name='upee_chk5']:radio").prop('checked', false);
        $("input[name='upee_chk6']:checkbox").prop('checked', false);
        $("input[name='upee_chk7']:checkbox").prop('checked', false);
        $("input[name='upee_chk8']:checkbox").prop('checked', false);
        $("input[name='upee_chk9']:checkbox").prop('checked', false);
        $("#upat_sign").attr("src", "");

    }
    //#endregion Clear Controls

    //#region Print
$('#btn_Print').on('click', function (e) {
    e.preventDefault();
    $('#btn_Print').removeClass("btn btn-sm btn-success");
    $('#btn_Print').addClass("btn btn-sm btn-success btn-loaders btn-icon");
    $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "PhysicalExamEntNew", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=PhysicalExamEntNew",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {
                if (data.success) {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
    //#endregion Print

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "PhysicalExamEntNew",
            "appId": @emr.appId,
            "formname":"PhysicalExamEntNew",
            "formlink":"PrintPhysicalExamEntNew",
            "eSign":""
        }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "PhysicalExamEntNew",
            "appId": @emr.appId,
            "formname":"PhysicalExamEntNew",
            "formlink":"PrintPhysicalExamEntNew",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
           localStorage.removeItem("sign");
        }
    });

    //#region Get Signature
  var GetSignaturename = function  (person) {
      $.ajax({
          url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=PhysicalExamEntNew',
          type: "GET",
          dataType: "json",
          async: false,
          success: function (response) {
              //console.log(response);
              let sign = response[0].psb_sign;
              var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY");

              if (response[0].person == "patient") {
                  $("#upat_sign_box").removeClass("d-none");
                  $("#upsb_date_patient").text(date);
                  $("#upat_sign").attr("src", sign);
              }

          },
          error: function (xhr) {
              console.log(xhr);
              alert(xhr);
          }

      });
  };
  //#endregion Get Signature

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout
</script>