@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Botox Arabic";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Consent Botox - كونسنت البوتوكس بالعربي</h3>
            </div>
            <div class="card-body">
                <div id="BotoxArabic_add" style="display:none">
                </div>
                <div id="BotoxArabic_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="BotoxArabic_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetBotoxArabicInfo();
        BotoxArabicPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetBotoxArabicInfo
    var GetBotoxArabicInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetBotoxArabicData", "BotoxArabic", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditBotoxArabic();
                        $("#BotoxArabic_add").hide();
                        $("#BotoxArabic_edit").show();

                    }
                    else {
                        $("#BotoxArabic_add").show();
                        $("#BotoxArabic_edit").hide();
                        AddBotoxArabic();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load BotoxArabic

    //#region Add BotoxArabic
    function AddBotoxArabic() {
        var x = $("#BotoxArabic_add");
        x.load("@Url.Action("CreateBotoxArabic", "BotoxArabic", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add BotoxArabic

    //#region Update BotoxArabic
    function EditBotoxArabic() {
        var x = $("#BotoxArabic_edit");
        x.load("@Url.Action("UpdateBotoxArabic", "BotoxArabic", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update BotoxArabic

    //#region Histroy of BotoxArabic
    function BotoxArabicPreviousHistory() {
        var x = $("#BotoxArabic_history");
        x.load("@Url.Action("BotoxArabicPreviousHistory", "BotoxArabic", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion History of BotoxArabic
</script>