@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Massage Therapy";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Massage Therapy consent Form<br /><span dir="rtl">نموذج الموافقة على العلاج بالتدليك</span>
                </h3>
            </div>
            <div class="card-body">
                <div id="MassageTherapy_add" style="display:none">
                </div>
                <div id="MassageTherapy_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="MassageTherapy_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetMassageTherapyInfo();
        MassageTherapyPreviousHistory();
    });
    //#endregion

    //#region Load GetMassageTherapyInfo
    var GetMassageTherapyInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetMassageTherapyData", "MassageTherapy", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditMassageTherapy();
                        $("#MassageTherapy_add").hide();
                        $("#MassageTherapy_edit").show();

                    }
                    else {
                        $("#MassageTherapy_add").show();
                        $("#MassageTherapy_edit").hide();
                        AddMassageTherapy();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load MassageTherapy

    //#region Add MassageTherapy
    function AddMassageTherapy() {
        var x = $("#MassageTherapy_add");
        x.load("@Url.Action("CreateMassageTherapy", "MassageTherapy", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add MassageTherapy

    //#region Update MassageTherapy
    function EditMassageTherapy() {
        var x = $("#MassageTherapy_edit");
        x.load("@Url.Action("UpdateMassageTherapy", "MassageTherapy", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update MassageTherapy

    //#region Histroy of MassageTherapy
    function MassageTherapyPreviousHistory() {
        var x = $("#MassageTherapy_history");
        x.load("@Url.Action("MassageTherapyPreviousHistory", "MassageTherapy", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>