
@model IEnumerable<BusinessEntities.Accounts.MaterialManagement.MaterialConsumption>
@{
    ViewBag.Title = "Accounts & Material Management - Material Consumptions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title mb-0 text-primary">
            <span data-lang-key="material-consumptions">Material Consumptions</span></h4>
    </div>
    <div class="page-rightheader">
        <div class="btn-list btn-animation">
    
            <button class="btn btn-outline-primary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#searchFilter" aria-expanded="false" aria-controls="collapseExample">
                <i class="fa fa-filter"></i>
                <span data-lang-key="advance-filter">Advanced Filters</span>
            </button>

            <button class="btn btn-outline-primary ms-lg-2" type="button" id="btnVerify">
                <i class="fe fe-check-circle"></i>
                <span data-lang-key="verify">&nbsp;Verify</span>
            </button>
            <button class="btn btn-vimeo ms-lg-2" type="button" id="btnPostAccount">
                <i class="fa fa-line-chart"></i>
                <span data-lang-key="post-to-aaccount">Post To Account</span>
            </button>

            <button class="btn btn-secondary ms-lg-2" type="button" id="btn_AddConsumption">
                <i class="mdi mdi-plus"></i>
                <span data-lang-key="add-consumption">&nbsp;Add Consumption</span>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card mb-0">
            <div class="collapse" id="searchFilter">
                <div class="card-body">
                    <input type="hidden" id="hi_branch_selected" value="0" />
                    <div class="row">
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="form-group mb-2">
                                <label class="form-label font-weight-semibold">
                                    <span data-lang-key="branch">Branch</span></label>
                                @Html.DropDownList("select_branch", (IEnumerable<SelectListItem>)ViewData["BranchList"], "Any Select", new { @class = "form-select select2" })
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="form-group mb-2">
                                <label class="form-label font-weight-semibold">
                                    <span data-lang-key="doctors">Doctor</span></label>
                                <select id="select_doctor" class="form-select select2"></select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="form-group mb-2">
                                <label class="form-label font-weight-semibold">
                                    <span data-lang-key="room">Room</span>
                                </label>
                                <select id="select_room" class="form-select select2"></select>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="form-group mb-2">
                                <label class="form-label font-weight-semibold">
                                    <span data-lang-key="made-by">Made By</span></label>
                                <select id="select_madeby" class="form-select select2"></select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-2 col-lg-2">
                            <div class="form-group mb-2">
                                <label class="form-label font-weight-semibold">
                                    <span data-lang-key="Ref #">Ref#</span></label>
                            </div>
                            <input id="txt_refno" class="form-control" placeholder="Enter Ref no." type="text" autocomplete="off">
                        </div>
                        <div class="col-sm-6 col-md-2 col-lg-2">
                            <div class="form-group mb-2">
                                <label class="form-label font-weight-semibold">
                                    <span data-lang-key="item-name-code">Item Name / Code</span></label>
                            </div>
                            <input id="txt_item_code" class="form-control" placeholder="Enter Item name or code" type="text" autocomplete="off">
                        </div>
                        <div class="col-sm-6 col-md-2 col-lg-2">
                            <div class="form-group mb-2">
                                <label class="form-label font-weight-semibold">
                                    <span data-lang-key="date-from">Date From</span></label>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-calendar"></i>
                                    </div>
                                </div>
                                <input id="select_date_from" class="form-control" placeholder="DD-MM-YYYY" type="text" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-2 col-lg-2">
                            <div class="form-group mb-2">
                                <label class="form-label font-weight-semibold">
                                    <span data-lang-key="date-to">Date To</span></label>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-calendar"></i>
                                    </div>
                                </div>
                                <input id="select_date_to" class="form-control" placeholder="DD-MM-YYYY" type="text" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-2 col-lg-2">
                            <div class="form-group mb-2">
                                <label class="form-label font-weight-semibold">
                                    <span data-lang-key="status">Status<small>(es)</small></span></label>
                                <select id="select_status" class="form-control mb-4" multiple="multiple"></select>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-2 col-lg-2">
                            <div class="form-group mb-2">
                                <label class="form-label font-weight-semibold">&nbsp;</label>
                                <button class="btn btn-primary mb-2" type="button" id="btnSearch">
                                    <i class="fa fa-search-plus"></i> 
                                    <span data-lang-key="search">Search</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong>Error!&nbsp;</strong>@TempData["ErrorMessage"]
            </div>
        </div>
    }
    <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
        <div id="ConsumptionAlert"></div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-status bg-blue"></div>
            <div class="card-body">

                <div id="progress-loader" style="display:none;">
                    <div class="progress progress-sm mb-3">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-teal progress-bar-indeterminate"></div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="tbl_materialconsumption" class="table table-striped table-bordered text-nowrap resize-table" style="width: 100%; cursor: pointer;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #3C457D; border-color: #3C457D; ">
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="id">ID</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="branch">Branch</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="ref no">Ref No</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="date">Date</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="item">Item</span>
                                </th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="batch">Batch</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="qty/UoM">Qty/UoM</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="description">Description</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="doctors">Doctor</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="room">Room</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="made-by">Made By</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="status">Status</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="posted">Posted</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white text-center"><i class="fe fe-more-vertical" style="font-size: 20px;"></i></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@* Create Material Consumption popup Model *@
<div class="modal fade fade overflow-auto" id="consumption_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="size">
        <div class="modal-content" id="consumption_body">
        </div>
    </div>
</div>

@* Update Material Consumption popup Model *@
<div class="modal fade fade overflow-auto" id="edit_consumption_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="size">
        <div class="modal-content" id="edit_consumption_body">
        </div>
    </div>
</div>

@* View Material Consumption Audit Detail popup Model *@
<div class="modal fade overflow-auto" id="MaterialConsumptionAuditLog_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="size">
        <div class="modal-content" id="MaterialConsumptionAuditLog_body">
        </div>
    </div>
</div>

@* Items History popup Model *@
<div class="modal fade overflow-auto" id="ItemsHistory_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="size">
        <div class="modal-content" id="ItemsHistory_body">
        </div>
    </div>
</div>

@* Central Store Item Enquiry *@
<div class="modal fade" id="CentralStoreItems_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="size">
        <div class="modal-content" id="CentralStoreItems_body">
        </div>
    </div>
</div>



@section myScripts{
    <style>
        @@media (min-width: 1124px) {
            .dataTables_scrollHeadInner, .table {
                width: 100% !important
            }
        }

        .modal-lg {
            max-width: 1500px;
        }

        .dataTables_scrollBody {
            min-height: 300px !important;
        }
    </style>

    <script>

        //#region Page Load
        $(function () {
            $('#select_date_from').keypress(function (e) {
                var charCode = (e.which) ? e.which : event.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });

            $('#select_date_to').keypress(function (e) {
                var charCode = (e.which) ? e.which : event.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#select_branch').select2({
                minimumResultsForSearch: '',
                placeholder: 'Any Branch',
                width: '100%'
            });
            $('#select_doctor').select2({
                minimumResultsForSearch: '',
                placeholder: 'Any Doctor',
                width: '100%'
            });
            $('#select_room').select2({
                minimumResultsForSearch: '',
                placeholder: 'Any Room',
                width: '100%'
            });
            $('#select_madeby').select2({
                minimumResultsForSearch: '',
                placeholder: 'Any Madeby',
                width: '100%'
            });
            $('#select_date_from').bootstrapdatepicker({
                format: "dd-MM-yyyy",
                viewMode: "date",
                todayHighlight: true,
                autoclose: true,
                multidate: false,
                multidateSeparator: "-"
            });

            $('#select_date_to').bootstrapdatepicker({
                format: "dd-MM-yyyy",
                viewMode: "date",
                todayHighlight: true,
                autoclose: true,
                multidate: false,
                multidateSeparator: "-"
            });
            load_status();
            $("#select_date_to").bootstrapdatepicker("setDate", "tomorrow");
            $("#select_date_from").bootstrapdatepicker("setDate", "today");
            $('#txt_refno').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9+]/g))
                    return false;
            });
            var today_date = moment(new Date()).format('MM/DD/YYYY');
            Get_MaterialConsumption(today_date, today_date);

            // Focus on select2 Dropdown
            $(document).on('select2:open', () => {
                document.querySelector('.select2-search__field').focus();
            });
        });
        //#endregion

        //#region load status
        var load_status = function () {
            $('#select_status').SumoSelect({
                placeholder: 'Any Status',
                csvDispCount: 3,
                okCancelInMulti: true,
                isClickAwayOk: true,
                search: true,
                searchText: 'Enter here.',
                selectAll: true
            });

            $('#select_status').html('');
            $('#select_status')[0].sumo.reload();
            $('#select_status')[0].sumo.add("New", "New");
            $('#select_status')[0].sumo.add("Verified", "Verified");
            $('#select_status')[0].sumo.add("Deleted", "Deleted");

            $('#select_status')[0].sumo.reload();
        };
        //#endregion

        //#region load Doctors, Rooms and Madeby on Branch Change
        $('#select_branch').on('select2:select', function (e) {
            $('#select_doctor').empty();
            $('#select_room').empty();
            $('#select_madeby').empty();
            var branchId = $('#select_branch').val();
            if (branchId.length > 0) {
                $.ajax({
                    url: '@Url.Action("GetDoctorsRoomsMadeby_ByBranch", "MaterialsConsumption", new { area = "MaterialManagement" })?branchId=' + branchId,
                    type: "GET",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (response) {
                        if ((response.doctorList).length > 0) {
                            $('#select_doctor').empty();
                            $('#select_doctor').append('<option value="">Any Doctor</option>');
                            $('#select_doctor').val('-1');
                            $('#select_doctor').trigger('change');
                            $.each(response.doctorList, function (j) {
                                var newOption = new Option(response.doctorList[j].Text, response.doctorList[j].Id, (response.doctorList[j].Id === -1) ? true : false, (response.doctorList[j].Id === -1) ? true : false);
                                $('#select_doctor').append(newOption).trigger('change');
                            });

                            $('#select_room').empty();
                            $('#select_room').append('<option value="">Any Room</option>');
                            $('#select_room').val('-1');
                            $('#select_room').trigger('change');
                            $.each(response.roomList, function (j) {
                                var newOption = new Option(response.roomList[j].Text, response.roomList[j].Id, (response.roomList[j].Id === -1) ? true : false, (response.roomList[j].Id === -1) ? true : false);
                                $('#select_room').append(newOption).trigger('change');
                            });

                            $('#select_madeby').empty();
                            $('#select_madeby').append('<option value="">Any Madeby</option>');
                            $('#select_madeby').val('-1');
                            $('#select_madeby').trigger('change');
                            $.each(response.madebyList, function (j) {
                                var newOption = new Option(response.madebyList[j].Text, response.madebyList[j].Id, (response.madebyList[j].Id === -1) ? true : false, (response.madebyList[j].Id === -1) ? true : false);
                                $('#select_madeby').append(newOption).trigger('change');
                            });
                        }
                    },
                    error: function (xhr) {
                        console.log(xhr);
                        alert(xhr);
                    }
                });
            }
        });

        //#endregion

        //#region Filter on Button Click
        $("#btnSearch").click(function (e) {
            e.preventDefault();
            let isValid = true;
            var from_date = moment($('#select_date_from').val().trim(), 'DD-MMMM-YYYY');
            var to_date = moment($('#select_date_to').val().trim(), 'DD-MMMM-YYYY');
            // Check if Date From is a valid Date
            if (from_date != null && from_date != 0 && from_date != "" && from_date != undefined) {
                if (!from_date.isValid()) {
                    isValid = false;
                    e.stopPropagation();
                    return $.growl.error({
                        title: "Error",
                        message: "Invalid From Date!"
                    });
                }
            }
            // Check if Date To is a valid Date
            if (to_date != null && to_date != 0 && to_date != "" && to_date != undefined) {
                if (!to_date.isValid()) {
                    isValid = false;
                    e.stopPropagation();
                    return $.growl.error({
                        title: "Error",
                        message: "Invalid To Date!"
                    });
                }
            }
            if ((from_date != null && from_date != 0 && from_date != "" && from_date != undefined) && (to_date != null && to_date != 0 && to_date != "" && to_date != undefined)) {
                if (from_date.isValid() && to_date.isValid()) {
                    if (to_date.diff(from_date, 'days') <= 0) {
                        isValid = false;
                        var index = [];
                        index.push("select_date_from_app");
                        index.push("select_date_to_app");

                        $.each(index, function (i, v) {
                            if (index[i] != null && index[i] != "") {
                                var elem = $("#" + index[i]);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            }
                        });

                        e.stopPropagation();

                        return $.growl.error({
                            title: "Error!",
                            message: "Filter From Date should be less than To Date!"
                        });
                    }
                }
            }
            if (isValid) {
                search_MaterialConsumption();
            }
        });
        //#endregion

        //#region Load Material Consumption Data
        function Get_MaterialConsumption(fromdate, todate) {
            var _data = {
                "scr_branch": $('#select_branch').val().toString(),
                "scr_doctor": $('#select_doctor').val(),
                "scr_room": $('#select_room').val(),
                "scr_madeby": $('#select_madeby').val(),
                "scr_refno": $('#txt_refno').val().trim(),
                "item_code": $('#txt_item_code').val().trim(),
                "scr_status": $('#select_status').val().toString(),
                "from_date": fromdate,
                "to_date": todate
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetMaterialsConsumption", "MaterialsConsumption", new { area = "MaterialManagement"})",
                dataType: 'json',
                data: _data,
                beforeSend: function () {
                    $('#progress-loader').show();
                },
                success: function (response) {
                    $('#searchFilter').collapse('hide');
                    if (response.isAuthorized != false) {
                        var table;
                        if ($.fn.dataTable.isDataTable('#tbl_materialconsumption')) {
                            table = $('#tbl_materialconsumption').DataTable();
                           table.clear();
                           table.rows.add(response).draw();
                        }
                        else {
                            BindDataTable(response);
                        }
                    }
                    $('#progress-loader').hide();
                },
                error: function (xhr) {
                    console.log(xhr);
                    $('#progress-loader').hide();
                    $('#RowsCountToast').hide();
                }
            });
        }
        //#endregion

        //#region Bind Datatable
        var BindDataTable = function (response) {
            var table = $("#tbl_materialconsumption").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                processing: true,
                "deferRender": true,
                "pageLength": 100,
                "retrieve": true,
                lengthChange: true,
                scrollX: true,
                scrollY: 500,
                scrollCollapse: true,
                "aaData": response,
                "aoColumns": [
                    {
                        "mData": "scrId",
                    },
                    {
                        "className": "td_max_width",
                        "mData": "branch_name"
                    },
                    {
                        "mData": "scr_refno",
                    },
                    {
                        "mData": "scr_date",
                    },
                    {
                        "className": "td_max_width",
                        "mData": "scr_item",
                        "render": function (scr_item, type, full, meta) {
                            return '<a data-bs-toggle="modal" data-bs-target="#ItemsHistory_modal" onclick="ItemsHistory(\'' + full.scr_item + '\',\'' + full.item_code + '\',\'' + full.scr_branch + '\')"><span class="font-weight-bold text-info">' + full.item_code + " </span> </a> <br><span> " + full.item_name + '</span>'
                        }
                    },
                    {
                        "mData": "scr_batch",
                        "orderable": false,
                        "searchable": false,
                    },
                    {
                        "className": "td_max_width",
                        "mData": "scr_qty",
                        "render": function (scr_qty, type, full, meta) {
                            return '<span>' + full.scr_qty + " - " + full.scr_uom + '</span>'
                        }
                    },
                    {
                        "mData": "scr_desc",
                        "orderable": false,
                        "searchable": false,
                    },
                    {
                        "mData": "doctor_name",
                        "orderable": false,
                        "searchable": false,
                    },
                    {
                        "mData": "room",
                        "orderable": false,
                        "searchable": false,
                    },
                    {
                        "mData": "madeby",
                        "orderable": false,
                        "searchable": false,
                    },
                    {
                        "mData": "scrId",
                        "className": 'text-center',
                        "render": function (scrId, type, full, meta) {
                            var scr_status = full.scr_status;
                            if (scr_status === "New") {
                                return '<button type="button" class="badge rounded-pill bg-success mt-2 border-success" style="width: 60px;">New</button>'
                            }
                            else if (scr_status === "Verified") {
                                return '<button type="button" class="badge rounded-pill bg-warning mt-2 border-warning" style="width: 60px;">Verified</button>'
                            }
                            else if (scr_status === "Deleted") {
                                return '<button type="button" class="badge rounded-pill bg-danger mt-2 border-danger" style="width: 60px;">Deleted</button>'
                            }
                            else {
                                return ''
                            }
                        }
                    },
                    {
                        "mData": "scrId",
                        "className": "td_status_width",
                        "render": function (scrId, type, full, meta) {
                            var scr_status2 = full.scr_status2;
                            if (scr_status2 === "Posted") {
                                return '<i class="dot-label bg-success me-2 w-2 h-2"></i>&nbsp;<span class="font-weight-semibold text-success">Posted</span>'
                            }
                            else if (scr_status2 === "Pending") {
                                return '<i class="dot-label bg-warning me-2 w-2 h-2"></i>&nbsp;<span class="font-weight-semibold text-warning">Pending</span>'
                            }
                            else if (scr_status2 === "Deleted") {
                                return '<i class="dot-label bg-danger me-2 w-2 h-2"></i>&nbsp;<span class="font-weight-semibold text-danger">Deleted</span>'
                            }
                            else {
                                return '<i class="dot-label bg-primary me-2 w-2 h-2"></i>&nbsp;<span class="font-weight-semibold text-primary">' + scr_status2 + '</span>'
                            }
                        }
                    },
                    {
                        "className": "text-center",
                        "orderable": false,
                        "searchable": false,
                        "render": function (scrId, type, full, meta) {
                            var status = full.scr_status;
                            var html_links = '<div class="dropdown"><a type="button" class="" data-bs-toggle="dropdown"><i class="fe fe-more-vertical" style="font-size: 20px;"></i></a>' +
                                '<div class="dropdown-menu" style="min-width:auto">';
                            if (status === "New") {
                                html_links += '<a class="dropdown-item text-dark fw-bold" onclick="EditMaterialsConsumption(' + full.scrId + ')"><i class="fe fe-edit-2 text-success" style="font-size: 15px; margin-right: 0.6rem;"></i>&nbsp;Edit</a>';
                                html_links += '<a class="dropdown-item text-dark fw-bold" onclick="UpdateStatus(\'' + full.scrId + '\',\'Deleted\')"><i class="fe fe-trash text-danger" style="font-size: 15px; margin-right: 0.6rem;"></i>&nbsp;Delete</a>';
                                html_links += '<a class="dropdown-item text-dark fw-bold" onclick= "btnPrintMaterialsConsumption(\'' + full.scr_refno + '\')" > <i class="fa fa-print text-dark" style="font-size: 15px; margin-right: 0.6rem;"></i>&nbsp;Print</a > ';
                                html_links += '<a class="dropdown-item text-dark fw-bold" onclick= "MaterialsConsumptionAuditLog(\'' + full.scrId + '\')" > <i class="fa fa-eye text-dark" style="font-size: 15px; margin-right: 0.6rem;"></i>&nbsp;Log</a > ';
                            }
                            else if (status === "Verified") {
                                html_links += '<a class="dropdown-item text-dark fw-bold" onclick= "btnPrintMaterialsConsumption(\'' + full.scr_refno + '\')" > <i class="fa fa-print text-dark" style="font-size: 15px; margin-right: 0.6rem;"></i>&nbsp;Print</a > ';
                                html_links += '<a class="dropdown-item text-dark fw-bold" onclick= "MaterialsConsumptionAuditLog(\'' + full.scrId + '\')" > <i class="fa fa-eye text-dark" style="font-size: 15px; margin-right: 0.6rem;"></i>&nbsp;Log</a > ';
                            }
                            else {
                                html_links += '<a class="dropdown-item text-dark fw-bold" onclick= "MaterialsConsumptionAuditLog(\'' + full.scrId + '\')" > <i class="fa fa-eye text-dark" style="font-size: 15px; margin-right: 0.6rem;"></i>&nbsp;Log</a > ';
                            }
                            html_links += '</div></div>';
                            return html_links;
                        }
                    },
                ],
                "aoColumnDefs": [
                    {
                        "aTargets": [0],
                        "orderable": false,
                        "searchable": false,
                        "className": "select-checkbox text-center inbox-small-cells",
                        'checkboxes': {
                            'selectRow': true
                        }
                    },

                ],
                select: {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                order:[[2, 'desc']],
                buttons: [
                    {
                        extend: 'excel',
                        title: 'Materials Consumption Detail',
                        footer: 'true',
                        exportOptions: {
                            columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
                        }
                    },
                    {
                        extend: 'pdf',
                        title: 'Materials Consumption Detail',
                        footer: 'true',
                        exportOptions: {
                            columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
                        }
                    },
                    {
                        extend: 'csv',
                        title: 'Materials Consumption Detail',
                        footer: 'true',
                        exportOptions: {
                            columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
                        }
                    },
                    {
                        extend: 'print',
                        title: 'Materials Consumption Detail',
                        footer: 'true',
                        exportOptions: {
                            columns: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
                        }
                    }
                ],
                language: {
                    searchPlaceholder: 'Search...',
                    zeroRecords: "No Record Match - Sorry",
                    sSearch: '<span class="text-primary font-weight-semi-bold">Search By Code / Date / Branch / Item </span>',
                    sEmptyTable: '<span class="text-secondary">No Records Available Based On Request</span>',
                    scrollX: "100%",
                    lengthMenu: '_MENU_',
                },
                "drawCallback": function () {
                    $("#tbl_materialconsumption tr").each(function () {
                        if ($(this).find("td:eq(11)").text() === "Deleted" || $(this).find("td:eq(12)").text().trim() === "Posted") {
                            $($(this)).find("td:eq(0)").find("input[type='checkbox']").remove();
                        }
                    });
                },
                footerCallback: function (row, data, start, end, display) {
                    var api = this.api();

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
                    };
                    var numFormat = $.fn.dataTable.render.number('\,', '.', 2, '').display;

                    // Total Amount
                    _total = api.column(4).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    $(api.column(4).footer()).html(numFormat(_total));

                    // Total Discount
                    total_discount = api.column(5).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    $(api.column(5).footer()).html(numFormat(total_discount));


                }
            });
            table.buttons().container().appendTo('#tbl_materialconsumption_wrapper .col-md-6:eq(0)');

        }
        //#endregion Bind Datatable

        //#region Add Materials Consumption
        $('#btn_AddConsumption').click(function () {
            $("#spinner2").show();
            $.ajax({
                type: "GET",
                url: "@Url.Action("CreateMaterialConsumptions", "MaterialsConsumption", new { area = "MaterialManagement" })",
                contentType: "application/json",
                dataType: "html",
                success: function(data)
                {
                    $("#consumption_body").html(data);
                    $("#consumption_modal").modal("show");
                },
                error : function (xhr) {
                    console.log(xhr);
                    $("#spinner2").hide();
                },
                complete: function () {
                    // Hide spinner when request is complete
                    $("#spinner2").hide();
                }
            });
        });
        //#endregion

        //#region Search Material Consumption
        var search_MaterialConsumption = function ()
        {
            var from_date = $('#select_date_from').val().trim();
            var to_date = $('#select_date_to').val().trim();
            Get_MaterialConsumption(from_date, to_date);
        }
        //#endregion

        //#region Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
        //#endregion Alert Timeout

        //#region Print Materials Consumption
        var btnPrintMaterialsConsumption = function (scr_refno) {
            //$("#hiInvId").val("18380");
            window.open("@Url.Action("PrintMaterialsConsumption", "MaterialsConsumption", new { area = "MaterialManagement" })?scr_refno=" + scr_refno, "Materials Consumption Print");

        };
        //#endregion

        //#region Materials Consumption Audit Logs
        var MaterialsConsumptionAuditLog = function (scrId) {
            $("#spinner2").show();
            $.ajax({
                type: "GET",
                url: "@Url.Action("MaterialsConsumptionAuditLogs", "MaterialsConsumption", new { area = "MaterialManagement" })?scra_scrId=" + scrId,
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $("#MaterialConsumptionAuditLog_body").html(data);
                    $("#MaterialConsumptionAuditLog_modal").modal("show");
                },
                error: function (xhr) {
                    console.log(xhr);
                    $("#spinner2").hide();
                },
                complete: function () {
                    // Hide spinner when request is complete
                    $("#spinner2").hide();
                }
            });
        };
        //#endregion

        //#region Edit Materials Consumption
        var EditMaterialsConsumption = function (scrId) {
            $("#spinner2").show();
            $.ajax({
                type: "GET",
                url: "@Url.Action("MaterialConsumptionEdit", "MaterialsConsumption", new { area = "MaterialManagement" })?scrId=" + scrId,
                contentType: "application/json",
                dataType: "html",
                success: function (response) {
                    $("#edit_consumption_body").html(response);
                    $("#edit_consumption_modal").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                    $("#spinner2").hide();
                },
                complete: function () {
                    // Hide spinner when request is complete
                    $("#spinner2").hide();
                }
            });
        }
        //#endregion

        //#region Verify Materials Consumption
        $('#btnVerify').click(function () {
            var table = $("#tbl_materialconsumption").DataTable();
            var rows = $(table.$('input[type="checkbox"]').map(function () {
                return $(this).prop("checked") ? $(this).closest('tr') : null;
            }));
            if (rows.length > 0) {
                Swal.fire({
                    title: "Are you sure you want to Verified ?",
                    text: "This action will Vefiry the selected Items",
                    icon: "question",
                    showCancelButton: !0,
                    confirmButtonText: 'Yes! I Confirm',
                    cancelButtonText: 'No! Cancel Please',
                    confirmButtonClass: "btn btn-success mt-2", cancelButtonClass: "btn btn-danger ms-2 mt-2", buttonsStyling: !1
                }).then(function (t) {
                    if (t.value) {
                        var _Ids = "";
                        var status_count = 0;
                        $.each(rows, function (index, rowId) {
                            var _data = table.row(rowId).data();
                            if (_data.scr_status === "New") {
                                if (index == 0)
                                    _Ids = _data.scrId;
                                else
                                    _Ids += "," + _data.scrId;
                            }
                            else {
                                status_count += 1;
                            }
                        });
                        if (_Ids === null || _Ids === undefined || _Ids.length <= 0) {
                            if (status_count > 0) {
                                Swal.fire({
                                    title: "Alert!",
                                    text: "Selected Row(s) should be with New Status.!",
                                    icon: "info",
                                    showCancelButton: 0,
                                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                                });
                            }
                            else {
                                Swal.fire({
                                    title: "Alert!",
                                    text: "Row Selection Error. Please Refresh Page And Try Again!",
                                    icon: "info",
                                    showCancelButton: 0,
                                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                                });
                            }
                        }
                        else {
                            Updatefunction(_Ids, 'Verified');
                        }
                    }
                });
            }
            else {
                Swal.fire({
                    title: "Alert!",
                    text: "Please select at least one item to Verify!",
                    icon: "info",
                    showCancelButton: 0,
                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                });
            }
        });
        //#endregion

        //#region Update Material Consumption Status
        var UpdateStatus = function (scrId, scr_status) {
            Swal.fire({
                title: "Are you sure you want to Delete ?",
                text: "This action will delete the selected Consumed Item!",
                icon: "question",
                showCancelButton: !0,
                confirmButtonText: 'Yes! I Confirm',
                cancelButtonText: 'No! Cancel Please',
                confirmButtonClass: "btn btn-success mt-2", cancelButtonClass: "btn btn-danger ms-2 mt-2", buttonsStyling: !1
            }).then(function (t) {
                if (t.value) {
                    Updatefunction(scrId, scr_status);
                }
            });
        };

        var Updatefunction = function (scrId, scr_status) {
            $.ajax({
                url: "@Url.Action("MaterialConsumption_Status", "MaterialsConsumption", new { area = "MaterialManagement" })?data=" + scrId + "&status=" + scr_status,
                type: "POST",
                dataType: "JSON",
                success: function (data) {
                    return_value = data.isUpdated;
                    if (return_value > 0) {
                        title = "Success!";
                        text = "Status Changed Successfully!";
                        icon = "success";
                    }
                    else if (return_value == -2) {
                        title = "Warning!";
                        text = "Some Allocated Qty Excceds The Batches Qty!";
                        icon = "warning";
                    }
                    else if (return_value == -1) {
                        title = "Error!";
                        text = "Allocated Qty Excceds Batch Qty!";
                        icon = "error";

                    }
                    else {
                        title = "Error!";
                        text = data.message;
                        icon = "error";
                    }

                    if (title != '' && text != '' && icon != '') {
                        Swal.fire({
                            title: title,
                            text: text,
                            icon: icon,
                            showCancelButton: 0,
                            confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60"
                        });
                        search_MaterialConsumption();
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    Swal.fire({
                        title: "Error!",
                        text: "Failed to Change Status! Please refresh the Page and Try Again.",
                        icon: "error",
                        showCancelButton: 0,
                        confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                    })
                }
            }).done(function () {
            });
        }
        //#endregion

        //#region Post Material Consumption To Account
        $('#btnPostAccount').click(function () {
            var table = $("#tbl_materialconsumption").DataTable();
            var rows = $(table.$('input[type="checkbox"]').map(function () {
                return $(this).prop("checked") ? $(this).closest('tr') : null;
            }));
            if (rows.length > 0) {
                Swal.fire({
                    title: "Are you sure you want to Post ?",
                    text: "This action will post the selected Entries to chart of account!",
                    icon: "question",
                    showCancelButton: !0,
                    confirmButtonText: 'Yes! I Confirm',
                    cancelButtonText: 'No! Cancel Please',
                    confirmButtonClass: "btn btn-success mt-2", cancelButtonClass: "btn btn-danger ms-2 mt-2", buttonsStyling: !1
                }).then(function (t) {
                    if (t.value) {
                        var _Ids = "";
                        var status_count = 0
                        $.each(rows, function (index, rowId) {
                            var _data = table.row(rowId).data();
                            if (_data.scr_status == "Verified") {
                                if (index == 0)
                                    _Ids = _data.scrId;
                                else
                                    _Ids += "," + _data.scrId;
                            }
                            else {
                                status_count += 1
                            }
                        });
                        if (_Ids === null || _Ids === undefined || _Ids.length <= 0) {
                            if (status_count > 0) {
                                Swal.fire({
                                    title: "Alert!",
                                    text: "Selection Entry/Entries are not Verified!",
                                    icon: "info",
                                    showCancelButton: 0,
                                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                                });
                            }
                            else {
                                Swal.fire({
                                    title: "Alert!",
                                    text: "Row Selection Error. Please Refresh Page And Try Again!",
                                    icon: "info",
                                    showCancelButton: 0,
                                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                                });
                            }
                        }
                        else {
                            PostToAccount(_Ids);
                        }

                    }
                });
            }
            else {
                Swal.fire({
                    title: "Alert!",
                    text: "Please select at least one entry to post!",
                    icon: "info",
                    showCancelButton: 0,
                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                });
            }
        });

        var PostToAccount = function (pinvId) {

            $.ajax({
                url: "@Url.Action("PostMaterialConsumptionToAccount", "MaterialsConsumption", new { area = "MaterialManagement" })?data=" + pinvId,
                type: "POST",
                dataType: "JSON",
                success: function (data) {
                    if (data.isUpdated) {
                        Swal.fire({
                            title: "Success!",
                            text: "Posted Successfully!!",
                            icon: "success",
                            showCancelButton: 0,
                            confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60"
                        });
                        search_MaterialConsumption();
                    }
                    else {
                        Swal.fire({
                            title: "Error!",
                            text: data.message,
                            icon: "error",
                            showCancelButton: 0,
                            confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                        });
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    Swal.fire({
                        title: "Error!",
                        text: "Failed to Post to Account! Please refresh the Page and Try Again.",
                        icon: "error",
                        showCancelButton: 0,
                        confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                    })
                }
            });
        };
        //#endregion

        //#region Item History View
        var ItemsHistory = function (itemId, item_code, item_branch) {
            $("#spinner2").show();
            $.ajax({
                type: "GET",
                url: "@Url.Action("ItemHistory", "CentralStore", new { area = "MaterialManagement" })?itemId=" + itemId + "&item_code=" + item_code + "&item_branch=" + item_branch,
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $("#ItemsHistory_body").html(data);
                    $("#ItemsHistory_modal").modal("show");
                },
                error: function (xhr) {
                    console.log(xhr);
                    $("#spinner2").hide();
                },
                complete: function () {
                    // Hide spinner when request is complete
                    $("#spinner2").hide();
                }
            });
        };
        //#endregion

        //#region Remove Valiate Error Class Timeout
        function Error_Timeout(_id) {
            setTimeout(function () {
                $(".has-error").removeClass("has-error");
                $(".error").removeClass("error");
                $("#" + _id + "-error").text("");
            }, 4200);
        }
    //#endregion

        //#region UI Controls
        function resizedt(tbl_name) {
            setTimeout(function () {
                var tables = $.fn.dataTable.tables({ visible: true, api: true });
                if (tables) {
                    $('#' + tbl_name).DataTable().columns.adjust();
                }
            }, 450);
        }
//#endregion
    </script>
}