@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConsentForms.BotoxConsent

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_BotoxConsentEdit" autocomplete="off" name="BotoxConsent" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row col-sm-12 col-md-12 col-lg-12 mt-5 mb-5 text-justify">
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2">
            Botox, Dysport are medications that block the nerve activity to certain muscles .It is injected into desired muscle groups to relax then and thereby giving the overlying skin a smoother appearance.
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2" dir="rtl">
            البوتوكس ، الديسبورت هما عبارة عن أدوية تعمل على منع النشاط العصبي لعضلات معينة حيث يقوم الطبيب المعالج بالحقن لخطوط الوجه الديناميكية من اجل العمل على ارخاء هذه العضلات مما يعطي الجلد مظهر أكثر سلاسة
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2">
            You will notice a gradual decrease in muscle movement at the treated area over the following seven days .The effects will last from two month to six months.
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2" dir="rtl">
            ستلاحظ انحفاضات تدريجية في حركة العضلات للمنطقة المعالجة بعد سبعة أيام و سوف تستمر هذه التاثيرات من شهرين الى سبعة اشهر.
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2">
            <span class="text-red"> ***</span> You must notify us if you have myasthenia gravis or any other muscle –weakness disease.
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2" dir="rtl">
            <span class="text-red"> ***</span>الرجاء اعلامنا اذا كنت مصاب (ة) بمرض الوهن العضلي الوبيل أو اي ضعف في العضلات
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2">
            Following the injection you may experience any of the following: (please Initial)
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2" dir="rtl">
            بعد الحقن قد تواجه أيًا مما يلي: (من فضلك الأولي)
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2">
            Bruising at the sites of the injection fades in seven to ten days.
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2" dir="rtl">
            قد يحدث تجمع دموي تحت الجلد بعد الحقن مباشرة و لكن يختفي تدريجيا خلال سبعة الى عشرة أيام .
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2">
            Rarely drooping of the eyelid from diffusion of the medication into this area.
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2" dir="rtl">
            نادرا ما يجدث هبوط بالاجفان وان حدث ذلك فسيكون مؤقتا يختفي في غصون أسابيع .
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2">
            This usually subsides in 3-4 weeks without treatment.
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2" dir="rtl">
            في بعض الحالات لا تستجيب العضلات بشل متساوي نتيجة لزيادة انقباض بعض العضلات بشكل أكتر من الاخرى مما يؤدي الى عدم تناسق النتيجة و يمكن تلافي ذلك من خلال المراجعة بعد أسبوعين لاعطاء جرعات اضافية للعضلات التي لم تستجيب بشكل كافي .
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2">
            Rarely double vision may occur and will require the use of eye patch for 2-3 weeks until resolved.
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2" dir="rtl">
            نادرا ما تحدث الرؤية المزدوجة لدى بعض المرضى يتم معالجتها من خلال استخدام رقعة عينية لمدة تترواح من اسبوعين الى ثلاث اسابيع .
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2 text-decoration-underline font-weight-semibold">Instructions for the first FOUR hours post treatment:</div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2 text-decoration-underline font-weight-semibold" dir="rtl">التعليمات الواجب التقيد بها بعد اجراء البوتوكس</div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2">
            <ul style="list-style-type:disc;">
                <li class="mb-2 mt-2">Do not lie down or bend over the FOUR hours</li>
                <li class="mb-2 mt-2">Do not massage or rub the treated areas for FOUR hours.</li>
                <li class="mb-2 mt-2">Every 15 to 20 minutes exercise the treated muscles by making them contract and relax repeatedly for FOUR hours.</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2" dir="rtl">
            <ul style="list-style-type:disc;">
                <li class="mb-2 mt-2">ب على المريض تجنب الاستلقاء أو الميل الى الامام خلال مدة أربع ساعات بعد الحقن</li>
                <li class="mb-2 mt-2">عدم تدليك او فرك المنطقة المعالجة لمدة أربع ساعات</li>
                <li class="mb-2 mt-2">اجراء تمرينات للعضلات التي تم حقنها بالبوتوكس كل 15-20 دقيقة سيقوم الطبيب المعالج بشرحها لاربع ساعات</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2  text-decoration-underline">Voluntary consent</div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2 text-decoration-underline" dir="rtl">الموافقة الطوعية</div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2">
            <ul style="list-style-type:disc;">
                <li class="mb-2 mt-2">Botox and Dysport are FDA approved for blepharospasm and lines between the eyebrows .I have been informed that the use of Botox, Dysport in the other areas of the face and necks is an off –label indication (Non-FDA approved) but is allowed by law.</li>
                <li class="mb-2 mt-2">I have read the information and have had a chance to ask questions.</li>
                <li class="mb-2 mt-2">By signing below I signify that I understand the nature of this treatment and the possible side effects.</li>
                <li class="mb-2 mt-2">I consent to allow this form to be valid for all subsequent BOTOX/DYSPORT administration for a period of 1 year from the date on this consent.</li>
                <li class="mb-2 mt-2">I understand that the effect of Botox gradually disappears within 2-6 months.</li>
                <li class="mb-2 mt-2">Very rare but some patients will not respond to BOTOX injection.</li>
                <li class="mb-2 mt-2">
                    <span class="text-red">***</span>Myasthenia gravis is a chronic autoimmune neuromuscular disease characterized by varying degrees of weakness of the skeletal (voluntary) muscles of the body
                </li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2" dir="rtl">
            <ul style="list-style-type:disc;">
                <li class="mb-2 mt-2">
                    بوتوكس و الديسبورت حاصلين على موافقة ادارة الاغذية و العقاقير من منظمة الصحة الامريكية , لقد قام الطبيب المعالج بشرح طريقة الحقن و التفاصيل كما انني لا احمل الطبيب المركز مسوؤلية تجاه النتا ئج .
                </li>
                <li class="mb-2 mt-2">و فد اعلمت بأن تأثير الدواء يختفي خلال 6-4 أشهر و تعود الامور الى ما كانت عليه مسبقا .</li>
                <li class="mb-2 mt-2">من خلال التوقيع عاى هذه الاستمارة أكون على دراية تامة بتفاصيل العلاج و النتائج السلبية المحتملة</li>
                <li class="mb-2 mt-2">ان مدة صلاحية هذه الاستمارة هي سنة واحدة من تاريخ التوقيع المذكور ادناه</li>
                <li class="mb-2 mt-2">ينذر و لكن يمكن لبعض المرضى الايتجاوبوا لحقن البوتوكس</li>
                <li class="mb-2 mt-2">نادر جدًا ولكن بعض المرضى لن يستجيبوا لحقن البوتوكس</li>
                <li class="mb-2 mt-2">
                    <span class="text-red">***</span> الوهن العصبي الوبيل هو اضطراب عصبي عضلي مناعي ذاتي يؤدي الى تذبذب و ضعف العضلات .
                </li>
            </ul>
        </div>

    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="3" class="font-weight-bold text-danger fs-18" width="100%">
                        Sign here, only if all of your questions have been answered to your satisfaction<br />
                        قم بالتوقيع هنا، فقط إذا تمت الإجابة على جميع أسئلتك بما يرضيك
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <div id="upat_sign_box" class="d-none">
                            <img alt="stamp" id="upat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    @*<td width="33%">
                            <div id="wit_sign_box" class="d-none">
                                <img alt="stamp" id="wit_sign" class="avatar avatar-xl bsquare" />
                            </div>
                        </td>*@
                    <td width="33%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold"> Patient Name<br />اسم المريض</span>
                        <br /><br />
                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">Date<br />تاريخ</span>
                    </td>
                    @*<td width="33%">
                            <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                            <span class="font-weight-semibold">Date</span>
                        </td>*@
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize">@emr.doc_name&nbsp;</label>
                        <span class="font-weight-semibold">Doctor’s Name<br />اسم الطبيب</span>
                        <br /><br />
                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">Date<br />تاريخ</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue" width="33%">
                        Patient signature<br />توقيع المريض
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    @*<td class="font-weight-semibold text-blue" width="33%">
                            Witness Signature
                            <br />
                            <button class="btn btn-sm btn-outline-secondary mb-2" id="witness" type="button" onclick="openSignaturePad(this.id)">
                                <i class="fa fa-paint-brush">&nbsp;&nbsp;</i>Witness
                            </button>
                        </td>*@
                    <td class="font-weight-semibold text-blue text-center" width="33%">Doctor’s Sign & Stamp<br />توقيع وختم الطبيب</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update">Save Changes</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                <button type="button" class="btn btn-danger btn-sm" id="btn_DeleteForm">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print"> Download/Print </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Update").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Update").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Update").show();
                }
                else {
                    $("#btn_Update").hide();
                }
            }
        }
        validate();
        GetSignaturename('patient');
        GetCheckedValues();
    });

    //#region Validation Initialization
    var validate = function () {
        $("#form_BotoxConsentEdit").validate({
            rules: {
                //icc_1: {
                //    required: true
                //},


            },
            messages: {
                //icc_1: {
                //    required: "Please Enter Tooth(s)!"
                //},


            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
    //#endregion

    //#region Update  Click
    $('#btn_Update').on('click', function (e) {
        e.preventDefault();
        if ($("#form_BotoxConsentEdit").valid()) {
            console.log($("#bccId").val());
            $('#btn_Update').removeClass("btn btn-sm btn-success");
            $('#btn_Update').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Update').html("Updating the Record....");


            var _dateInsert = {
                "bccId": 0,
                "bcc_appId": @emr.appId,

                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

            console.log(_dateInsert);

            $.ajax({
                type: "Post",
                url: "@Url.Action("EditBotoxConsent", "BotoxConsent", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isEdited) {
                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>  Botox Consent Form Updated Successfully!", "success");
                            Timeout();
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning.. Botox Consent Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion Update Click

        //#region Print
$('#btn_Print').on('click', function (e) {
    e.preventDefault();
    $('#btn_Print').removeClass("btn btn-success");
    $('#btn_Print').addClass("btn btn-success btn-loaders btn-icon");
    $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "BotoxConsent", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=BotoxConsent",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {

                if (data.success)
                    console.log(data);
                    console.log(data.message.pdfPath); {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print

    //#region Delete Click
    $('#btn_DeleteForm').on('click', function (e) {
        e.preventDefault();
        $('#btn_DeleteForm').removeClass("btn btn-success");
        $('#btn_DeleteForm').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_DeleteForm').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteBotoxConsent", "BotoxConsent", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-warning");
                $('#btn_DeleteForm').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>Botox Consent Form Deleted Successfully!", "success");
                        clearControls();
                        Timeout();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-Delete");
                $('#btn_DeleteForm').html("Delete");
                Timeout();
            }
        })
    });
//#endregion


    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $("#upat_sign").attr("src", "");
    }
    //#endregion Clear Controls


    //#region Wacom Tab Signature
    var openWacomTabSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "BotoxConsent",
            "appId": @emr.appId,
            "formname":"Botox Consent",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion

    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "BotoxConsent",
            "appId": @emr.appId,
            "formname":"Botox Consent",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            localStorage.removeItem("sign");
        }
    });

    //#region Get Signature
    var GetSignaturename = function  (person) {
        $.ajax({
            url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=BotoxConsent',
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                console.log(response);
                let sign = response[0].psb_sign;
                if (response[0].person == "patient") {
                    $("#upat_sign_box").removeClass("d-none");
                    $("#upat_sign").attr("src", sign);
                }

            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr);
            }

        });
    };
    //#endregion Get Signature

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }

</script>

