@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConcentForms.ToothWhitening

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<form id="form_ToothWhitening" autocomplete="off" name="ToothWhitening" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row mb-5 mt-5 text-justify">

        <p>This information’s have been given to me so that I can make an informed decision about having my teeth whitened. I have the right to ask questions about any procedure before agreeing to undergo the procedure.</p>

        <p class="text-decoration-underline text-red">DESCRIPTION OF THE PROCEDURE</p>
        <p>
            In-office tooth whitening is a procedure designed to lighten the color of my teeth using a hydrogen peroxide gel. During the procedure, the whitening gel will be applied to my teeth for three (3), 15minute sessionsbefore
            and after the treatment, the shade of my upper -front teeth will be assessed and recorded.
        </p>

        <p class="text-decoration-underline text-red">ALTERNATIVE TREATMENTS:</p>
        <p>I understand there are alternative treatments for whitening my teeth for which my dentist can provide me additional information. These treatments include:Whitening Toothpastes/Gels, Take-Home Whitening Kits</p>

        <p class="text-decoration-underline text-red">RISKS OF TREATMENT</p>
        <p>
            I also understand that whitening treatment results may vary or regress due to a variety of circumstances. I understand that almost all natural teeth can benefit from whiteningtreatments and
            significant whitening can be achieved in most cases. I understand that whitening treatments are not intended to lighten artificial teeth, caps, crowns, veneers or porcelain, composite or other
            restorative materials and that people with darkly stained yellow or yellow-brown teeth frequently achieve better results than people with gray or bluish-gray teeth. I understand that teeth with
            multiple colorations, bands, splotches or spots due to tetracycline use or fluorosis do not whiten as well, may need multipletreatments or may not whiten at all. I understand that teeth with many fillings,
            cavities, chips or cracks will not lighten and are usually best treated with other non-bleaching alternatives. I understand that Provisionals or temporaries made from acrylics may become discolored after exposure to treatment.
        </p>
        <p>I understand that treatment is not recommended for patients with known sensitivity to resins, peroxides or glycols.</p>
        <p>I understand that the results of my Treatment cannot be guaranteed.</p>
        <p>I understand that in-office whitening treatments are considered generally safe by most dental professionals. I understand that some of the potential complications of this treatment include, but are not limited to:</p>

        <p class="text-decoration-underline text-red">Tooth Sensitivity/Pain-</p>
        <p>
            During the first 24 hours after treatment, many patients can experience some tooth sensitivity or pain. This is normal. Normally, tooth sensitivity or pain following a treatment subsides after a few days,
            but it may persist for longer periods of time in susceptible individuals. People with existing sensitivity, recession, exposed dentin, exposed root surfaces and occlusal wear facets (severely worn teeth),
            damaged or missing enamel, cracked teeth, abfractions (micro -cracks), open cavities, leaking fillings, or other dental conditions that cause sensitivity or allow penetration of the gel into the tooth may
            find that those conditions increase or prolong tooth sensitivity or pain after treatment.
        </p>

        <p class="text-decoration-underline text-red">Gum/Lip/Cheek Inflammation-</p>
        <p>Whitening may cause inflammation of your gums, lips, or cheek margins. The inflammation is usually temporary which will subside in a few days but may persist longer and may result in significant pain or discomfort.</p>

        <p class="text-decoration-underline text-red">Dry/Chapped Lips-</p>
        <p>
            The treatment involves three 15-minute sessions during which the mouth is kept open continuously for the entire treatment by a plastic retractor. This could result in dryness or chapping of the lips or cheek margins,
            which can be treated by application of lip balm, petroleum jelly or Vitamin E cream
        </p>

        <p class="text-decoration-underline text-red">Cavities or Leaking Fillings-</p>
        <p>Most dental whitening is indicated for the outside of the teeth, except for patients who have already undergone a rootcanal procedure.</p>
        <p>
            If any open cavities or fillings that are leaking and allowing gel to penetrate the tooth are present, significant pain and damage to the tooth could result. I understand that if my teeth have these conditions,
            I should have my cavities filled or my fillings re-done before undergoing the treatment.
        </p>
        <p class="text-decoration-underline text-red">Cervical Abrasion/Erosion-</p>
        <p>
            These are conditions which affect the roots of the teeth when the gums recede .These areasappear darker because they lack the enamel that covers the rest of the teeth. Even if these areas are not
            currently sensitive, they can allow the whitening gel to penetrate the teethcausing sensitivity, pain and possible damage to the nerve. I understand that if my teeth have these conditions,
            I should not undergo the treatment
        </p>

        <p class="text-decoration-underline text-red">Root Resorption-</p>
        <p>Whitening may cause inflammation of your gums, lips, or cheek margins. The inflammation is usually temporary which will subside in a few days but may persist longer and may result in significant pain or discomfort.</p>

        <p class="text-decoration-underline text-red">Gum/Lip/Cheek Inflammation-</p>
        <p>
            This is a condition where the root of the tooth starts to dissolve either from the inside or outside. Although the cause of this is still uncertain, I understand that there is evidence that indicates the incidence of
            root resorption is higher in patients who have undergone root canals followed by whitening procedures.
        </p>

        <p class="text-decoration-underline text-red">Relapse-</p>
        <p>
            After the treatment, it is natural for the teeth that underwent the whitening procedure to regress somewhat in their shading. This is natural and should be very gradual, but it can be accelerated by exposing the teeth to various staining agents.
            Treatment usually involves wearing a take-home tray or repeating the treatment.
        </p>
        <p>I understand that the results of the treatment are not intended to be permanent, repeat or take-home treatments may be needed for me to maintain the tooth shade I desire for my teeth.</p>
        <p>
            I understand that after treatment, I will be required to refrain from consuming any substances that could discolor my teeth for the first48 hoursafter treatment.
            These substances include: coffee, tea, colas, ALLtobacco products, mustard or ketchup, red wine, soy sauce, berry pie, red sauces and lipstick.
            I understand that there are other substances that could discolor my teeth which I should avoid during the first 48 hours after treatment.
            If I have any questions regarding any such substance, I understand that I can discuss with my dentist.
        </p>
        <p>
            The safety, efficacy, potential complications and risks of treatment can be explained to me by my dentist and I understand that more information on this will be provided to me upon my request.
            Since it is impossible to state every complication that may occur as a result of treatment, the list of complications in this form is incomplete.
        </p>
        <p>I consent to photography, filming, recording, and x-rays of the procedure to be performed for the advancement of dentistry, provided my identity is not revealed</p>
        <p>
            The basic procedures of treatment and the advantages and disadvantages, risks and known possible complications of alternative treatments have been explained to me by my
            dentist and my dentist has answered all my questions to my satisfaction.
        </p>
        <p>
            In signing this informed consent I am stating I have read this informed consent (or it has been read to me) and I fully understand it and the possible risks,
            complication and benefits that can result from the treatment and that I agree to undergo the treatment as described by my dentist.
        </p>

    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="3" class="font-weight-bold text-danger fs-18" width="100%">
                        Sign here, only if all of your questions have been answered to your satisfaction
                    </td>
                </tr>
                <tr>
                    <td width=33%>
                        <div id="pat_sign_box" class="d-none">
                            <img alt="stamp" id="pat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width=33%>
                        <div id="wit_sign_box" class="d-none width=33%">
                            <img alt="stamp" id="wit_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width=33%>
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width=33%>
                        <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold"> Patient Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                    <td width=33%>
                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                    <td width=33%>
                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue" width="33%">
                        Patient Signature
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue" width="33%">
                        Witness Signature
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i>Witness
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('witness')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('witness')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center width=33%">Dentist’s Sign & Stamp</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-success btn-sm" id="btn_Insert">Save</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                <button type="button" class="btn btn-danger btn-sm d-none" id="btn_Delete">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success d-none" id="btn_Print"> Download/Print </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Insert").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Insert").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Insert").show();
                }
                else {
                    $("#btn_Insert").hide();
                }
            }
        }


    });

    //#region Add  Click
    $('#btn_Insert').on('click', function (e) {
        e.preventDefault();
        if ($("#form_ToothWhitening").valid()) {
            $('#btn_Insert').removeClass("btn btn-sm btn-success");
            $('#btn_Insert').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Insert').html("Saving the Record....");

            var _dateInsert = {
                "ctwcId": 0,
                "ctwc_appId": @emr.appId,

                //"icc_status": "Active",
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

            $.ajax({
                type: "Post",
                url: "@Url.Action("InsertToothWhitening", "ToothWhitening", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-sm btn-success");
                    $('#btn_Insert').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isInserted) {
                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>  Tooth Whitening Consent Form Saved Successfully!", "success");
                            Timeout();
                            $("#btn_Delete").removeClass("d-none");
                            $("#btn_Print").removeClass("d-none");
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning.. Tooth Whitening Consent Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-sm btn-warning");
                    $('#btn_Insert').html("Add");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion Add Click

        //#region Delete Click
    $('#btn_Delete').on('click', function (e) {
        e.preventDefault();
        $('#btn_Delete').removeClass("btn btn-success");
        $('#btn_Delete').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Delete').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteToothWhitening", "ToothWhitening", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-warning");
                $('#btn_Delete').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i> Tooth Whitening Consent Form Deleted Successfully!", "success");
                        clearControls();
                        Timeout();

                        $('#btn_Delete').addClass("d-none");
                        $("#pat_sign_box").addClass("d-none");
                        $("#wit_sign_box").addClass("d-none");
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-Delete");
                $('#btn_Delete').html("Delete");
                Timeout();
            }
        })
    });
//#endregion

//#region Print
$('#btn_Print').on('click', function (e) {
    e.preventDefault();
    $('#btn_Print').removeClass("btn btn-success");
    $('#btn_Print').addClass("btn btn-success btn-loaders btn-icon");
    $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "ToothWhitening", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=ToothWhitening",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {
                if (data.success) {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print

    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("#pat_sign,#wit_sign").attr("src", "");
    }
    //#endregion Clear Controls

 //#region Signature
var openSignaturePad = function (id) {
    var _data = {
        "patId": @emr.patId,
        "person": id,
        "form": "ToothWhitening",
        "appId": @emr.appId,
        "formname":"Tooth Whitening",
        "formlink":"",
        "eSign":""
    }
    $.ajax({
        type: "GET",
        url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
        contentType: "application/json",
        dataType: "html",
        data: _data,
        success: function (response) {
            $("#signature_pad_body").html(response);
            $("#signature_pad").modal("show");
        },
        error: function (xhr) {
            console.log("Error :" + xhr.statusText);
        }
    });
}
//#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            GetSignaturename('witness');
            localStorage.removeItem("sign");
        }
    });

     //#region Wacom Tab Signature
   var openWacomTabSignaturePad = function (id) {
         var _data = {
              "patId": @emr.patId,
              "person": id,
             "form": "ToothWhitening",
              "appId": @emr.appId,
             "formname":"Tooth Whitening",
              "formlink":"",
              "eSign":""
          }
         $.ajax({
             type: "GET",
             url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
             contentType: "application/json",
             dataType: "html",
             data: _data,
             success: function (response) {
                 $("#signature_pad_body").html(response);
                 $("#signature_pad").modal("show");
             },
             error: function (xhr) {
                 console.log("Error :" + xhr.statusText);
             }
         });
     }
 //#endregion

    //#region Get Signature
var GetSignaturename = function  (person) {
    $.ajax({
        url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=ToothWhitening',
        type: "GET",
        dataType: "json",
        async: false,
        success: function (response) {
            console.log(response);
            let sign = response[0].psb_sign;
            if (response[0].person == "patient") {
                $("#pat_sign_box").removeClass("d-none");
                $("#pat_sign").attr("src", sign);
            }
            if (response[0].person == "witness") {
                $("#wit_sign_box").removeClass("d-none");
                $("#wit_sign").attr("src", sign);
            }
        },
        error: function (xhr) {
            console.log(xhr);
            alert(xhr);
        }

    });
};
//#endregion Get Signature

//#region Alert Timeout
function Timeout() {
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4200);
}
//#endregion Alert Timeout
</script>
