@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Tooth Whitening Treatment";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Informed Consent for Tooth Whitening Treatment</h3>
            </div>
            <div class="card-body">
                <div id="ToothWhitening_add" style="display:none">
                </div>
                <div id="ToothWhitening_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="ToothWhitening_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        //#region Page Load
        $(function () {
            GetToothWhiteningInfo();
            ToothWhiteningPreviousHistory();
        });

        //#endregion Page Load

        //#region Load GetToothWhiteningInfo
        var GetToothWhiteningInfo = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetToothWhiteningData", "ToothWhitening", new { area = "ConsentForms" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        console.log(response.length);
                        if (response.length > 0) {
                            EditToothWhitening();
                            $("#ToothWhitening_add").hide();
                            $("#ToothWhitening_edit").show();

                        }
                        else {
                            $("#ToothWhitening_add").show();
                            $("#ToothWhitening_edit").hide();
                            AddToothWhitening();
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
        //#endregion Load ToothWhitening

        //#region Add ToothWhitening
        function AddToothWhitening() {
            var x = $("#ToothWhitening_add");
            x.load("@Url.Action("CreateToothWhitening", "ToothWhitening", new { area = "ConsentForms" })", function () {
          });
        }
        //#endregion Add ToothWhitening

        //#region Update ToothWhitening
        function EditToothWhitening() {
            var x = $("#ToothWhitening_edit");
            x.load("@Url.Action("UpdateToothWhitening", "ToothWhitening", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
          //#endregion Update ToothWhitening

        //#region History of ToothWhitening
        function ToothWhiteningPreviousHistory() {
            var x = $("#ToothWhitening_history");
            x.load("@Url.Action("ToothWhiteningPreviousHistory", "ToothWhitening", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
        //#endregion History of ToothWhitening

</script>
