@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Prp Consent";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Prp Consent Form</h3>
            </div>
            <div class="card-body">
                <div id="PrpConsent_add" style="display:none">
                </div>
                <div id="PrpConsent_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="PrpConsent_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetPrpConsentInfo();
        PrpConsentPreviousHistory();
    });

    //#endregion Page Load

    //#region Load GetPrpConsentInfo
    var GetPrpConsentInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetPrpConsentData", "PrpConsent", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    console.log(response.length);
                    if (response.length > 0) {
                        EditPrpConsent();
                        $("#PrpConsent_add").hide();
                        $("#PrpConsent_edit").show();

                    }
                    else {
                        $("#PrpConsent_add").show();
                        $("#PrpConsent_edit").hide();
                        AddPrpConsent();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load PrpConsent

    //#region Add PrpConsent
    function AddPrpConsent() {
        var x = $("#PrpConsent_add");
        x.load("@Url.Action("CreatePrpConsent", "PrpConsent", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add PrpConsent

    //#region Update PrpConsent
    function EditPrpConsent() {
        var x = $("#PrpConsent_edit");
        x.load("@Url.Action("UpdatePrpConsent", "PrpConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update PrpConsent

    //#region History of PrpConsent
    function PrpConsentPreviousHistory() {
        var x = $("#PrpConsent_history");
        x.load("@Url.Action("PrpConsentPreviousHistory", "PrpConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>