@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Filler Informed Arb";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header" dir="rtl">
                <h3 class="card-title">(Filler)موافقة العلاج بالفيلر</h3>
            </div>
            <div class="card-body">
                <div id="FillerInformedArb_add" style="display:none">
                </div>
                <div id="FillerInformedArb_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="FillerInformedArb_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetFillerInformedArbInfo();
        FillerInformedArbPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetFillerInformedArbInfo
        var GetFillerInformedArbInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetFillerInformedArbData", "FillerInformedArb", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditFillerInformedArb();
                        $("#FillerInformedArb_add").hide();
                        $("#FillerInformedArb_edit").show();

                    }
                    else {
                        $("#FillerInformedArb_add").show();
                        $("#FillerInformedArb_edit").hide();
                        AddFillerInformedArb();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load FillerInformedArb

    //#region Add FillerInformedArb
        function AddFillerInformedArb() {
            var x = $("#FillerInformedArb_add");
        x.load("@Url.Action("CreateFillerInformedArb", "FillerInformedArb", new { area = "ConsentForms" })", function () {
      });
    }
    //#endregion Add FillerInformedArb

    //#region Update FillerInformedArb
        function EditFillerInformedArb() {
            var x = $("#FillerInformedArb_edit");
        x.load("@Url.Action("UpdateFillerInformedArb", "FillerInformedArb", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
      });
    }
      //#endregion Update FillerInformedArb

    //#region Histroy of FillerInformedArb
        function FillerInformedArbPreviousHistory() {
            var x = $("#FillerInformedArb_history");
        x.load("@Url.Action("FillerInformedArbPreviousHistory", "FillerInformedArb", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
      });
    }
    //#endregion
</script>