@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Eye Form II";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Eye Form Template 2</h3>
            </div>
            <div class="card-body">
                <div id="EyeForm2_add" style="display:none">
                </div>
                <div id="EyeForm2_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="EyeForm2_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetEyeForm2Info();
        EyeForm2PreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetEyeForm2Info
    var GetEyeForm2Info = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetEyeForm2Data", "EyeForm2", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditEyeForm2();
                        $("#EyeForm2_add").hide();
                        $("#EyeForm2_edit").show();

                    }
                    else {
                        $("#EyeForm2_add").show();
                        $("#EyeForm2_edit").hide();
                        AddEyeForm2();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load EyeForm2

    //#region Add EyeForm2
    function AddEyeForm2() {
        var x = $("#EyeForm2_add");
        x.load("@Url.Action("CreateEyeForm2", "EyeForm2", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add EyeForm2

    //#region Update EyeForm2
    function EditEyeForm2() {
        var x = $("#EyeForm2_edit");
        x.load("@Url.Action("UpdateEyeForm2", "EyeForm2", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update EyeForm2

    //#region Histroy of EyeForm2
    function EyeForm2PreviousHistory() {
        var x = $("#EyeForm2_history");
        x.load("@Url.Action("EyeForm2PreviousHistory", "EyeForm2", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>