@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Profhilo Consent";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Profhilo/Royal Needle Consent Form
                    <br /><span dir="rtl" class="text-right">نموذج الموافقة على بروفايلو/رويال نيدل </span>
                </h3>
            </div>
            <div class="card-body">
                <div id="ProfhiloConsent_add" style="display:none">
                </div>
                <div id="ProfhiloConsent_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="ProfhiloConsent_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetProfhiloConsentInfo();
        ProfhiloConsentPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetProfhiloConsentInfo
    var GetProfhiloConsentInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetProfhiloConsentData", "ProfhiloConsent", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditProfhiloConsent();
                        $("#ProfhiloConsent_add").hide();
                        $("#ProfhiloConsent_edit").show();

                    }
                    else {
                        $("#ProfhiloConsent_add").show();
                        $("#ProfhiloConsent_edit").hide();
                        AddProfhiloConsent();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load ProfhiloConsent

    //#region Add ProfhiloConsent
    function AddProfhiloConsent() {
        var x = $("#ProfhiloConsent_add");
        x.load("@Url.Action("CreateProfhiloConsent", "ProfhiloConsent", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add ProfhiloConsent

    // #region Update ProfhiloConsent
    function EditProfhiloConsent() {
        var x = $("#ProfhiloConsent_edit");
        x.load("@Url.Action("UpdateProfhiloConsent", "ProfhiloConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update ProfhiloConsent

    //#region Histroy of ProfhiloConsent
    function ProfhiloConsentPreviousHistory() {
        var x = $("#ProfhiloConsent_history");
        x.load("@Url.Action("ProfhiloConsentPreviousHistory", "ProfhiloConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>