@model BusinessEntities.Tools.TicketDocuments

<!-- INTERNAL File Uploads css -->
<link href="~/assets/plugins/fancyuploder/fancy_fileupload.css" rel="stylesheet" />

<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold" id="exampleModalLongTitle">Uploaded new document(s) for &nbsp;</h5>
    <span class="badge bg-primary-light-1 text-uppercase"> @Model.tdoc_ticket_code</span>
    <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body p-4" style="background: #f5f5f5;">
    <!-- Row -->
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <form id="form_PO_Doc" class="card" action="@Url.Action("UploadFiles", "Ticket", new { area = "Tools" })" method="post" enctype="multipart/form-data">
                @*@Html.AntiForgeryToken()*@
                <div class="card-body">
                    <div class="form-group" style="display:none;">
                        <label class="form-label">Document Description&nbsp;<small class="text-info">(Optional)</small></label>
                        <textarea id="doc_label" name="doc_label" class="form-control mb-2" placeholder="Ex: ClinicSoft Ticket Support Document" rows="4"></textarea>
                    </div>
                    <div class="form-group mb-0">
                        <input id="po_docs" type="file" name="files" accept=".jpg, .png, image/jpeg, image/png, application/pdf, .pdf, .doc, .docx" multiple>
                        <span class="text-red">Allowed format jpg, png, pdf</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End Row-->
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        Uploaded document information of Ticket Code  
                        <span class="badge bg-primary-light-1 text-uppercase"> @Model.tdoc_ticket_code</span>
                    </div>
                </div>
                <div class="card-body">
                    <div id="div_attachment_list">
                        <div class="table-responsive" style="min-height:unset;">
                            <table id="tbl_doc_lists" class="table table-bordered text-nowrap" style="width:100%;">
                                <thead>
                                    <tr style="color: #fff !important; background-color: #5b73e8; border-color: #5b73e8; ">
                                        <th class="border-bottom-0 font-weight-semibold text-white text-center">Document</th>
                                        <th class="border-bottom-0 font-weight-semibold text-white text-center text-wrap">Description</th>
                                        <th class="border-bottom-0 font-weight-semibold text-white text-center">Uploaded By</th>
                                        <th class="border-bottom-0 font-weight-semibold text-white text-center">Uploaded Date &amp; Time</th>
                                        <th class="border-bottom-0 font-weight-semibold text-white text-center"><i class="fe fe-more-vertical" style="font-size: 20px;"></i></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal View Document -->
<div class="modal fade" id="view_doc_modal" data-bs-backdrop="static" data-bs-keyboard="false" data-modal-from="TicketDosc " tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" id="size">
        <div class="modal-content" id="view_doc_modal_body">
        </div>
    </div>
</div>
<!-- End Modal View Document-->
<!-- INTERNAL File-Uploads Js-->
<script src="~/assets/plugins/fancyuploder/jquery.ui.widget.js"></script>
<script src="~/assets/plugins/fancyuploder/jquery.fileupload.js"></script>
<script src="~/assets/plugins/fancyuploder/jquery.iframe-transport.js"></script>
<script src="~/assets/plugins/fancyuploder/jquery.fancy-fileupload.js"></script>
<script src="~/assets/plugins/fancyuploder/fancy-uploader.js"></script>

<style>
    .ff_fileupload_dialog_background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.85);
        z-index: 99999999;
    }
</style>
<script>
    $(function () {
        $("#div_attachment_list").hide();

        GetDocuments(@Model.tdoc_ticket_code);

		var token;
		$('#po_docs').FancyFileUpload({
			params : {
				action : 'fileuploader'
			},
            maxfilesize: 5242880,
			startupload: function (SubmitUpload, e, data) {
				//var form = $('#form_PO_Doc')
                var formData = new FormData();
                formData.append('id', @Model.tdoc_ticket_code);
                formData.append('files', data.files[0]);
				$.ajax({
					url:  "@Url.Action("UploadFiles", "Ticket", new { area = "Tools" })",
					data: formData,
					type: 'POST',
					contentType: false,
					processData: false,
					success: function(tokendata) {
						token = tokendata;
                        SubmitUpload();
					},
					error: function(err) {
						console.log(err);
					}
				});
			},
			continueupload : function(e, data) {
				var ts = Math.round(new Date().getTime() / 1000);

				// Alternatively, just call data.abort() or return false here to terminate the upload but leave the UI elements alone.
				if (token.expires < ts)  data.ff_info.RemoveFile();
			},
			uploadcancelled : function(e, data) {
				console.log("uploadcancelled");
			},
			uploadcompleted : function(e, data) {
                GetDocuments(@Model.tdoc_ticket_code);
				data.ff_info.RemoveFile();
			}
		});
    });

    //#region Load Documents
    var GetDocuments = function (id) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetDocumentsById", "Ticket", new { area = "Tools" })?id=" + id,
            dataType: 'json',
            success: function (response) {
                //console.log(response);
                if (response.isSuccess) {
                    $("#div_attachment_list").show();
                    var table;
                    if ($.fn.dataTable.isDataTable('#tbl_doc_lists')) {
                        table = $('#tbl_doc_lists').DataTable();
                        table.clear();
                        table.rows.add(response.message).draw();
                    }
                    else {
                        BindDataTable(response.message);
                    }
                }
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Load Documents

    //#region Bind DataTable
    var BindDataTable = function (response) {
        var table = $("#tbl_doc_lists").DataTable({
            processing: true,
            "pageLength": 5,
            "retrieve": true,
            lengthChange: true,
            "aaData": response,
            "aoColumns": [
                { "mData": "tdoc_path" },
                { "mData": "tdoc_name" },
                { "mData": "madeby" },
                { "mData": "tdoc_datecreated" },
                { "mData": "tdocId" }
            ],
            "aoColumnDefs": [
                {
                    "aTargets": [0],
                    "className": "fs-13",
                    "render": function (data) {
                        var html = '<span class="avatar avatar-xxl" style="background-image: url(' + data +');border: 2px solid #d7d7d7;"></span>';

                        return '<div class="d-flex p-1 justify-content-center">'+html+'</div>';
                    }

                },
                {
                    "aTargets": [1],
                    "className": "fs-13 text-wrap"

                },
                {
                    "aTargets": [2],
                    "className": "fs-13 text-center"
                },
                {
                    "aTargets": [3],
                    "className": "fs-13 text-center",
                    "render": function (data) {
                        return moment(data).format("DD/MM/YYYY HH:mm:ss");
                    }
                },
                {
                    "aTargets": [4],
                    "className": "text-center",
                    "orderable": false,
                    "searchable": false,
                    "render": function (data) {

                        var html_links = '<div class="dropdown"><a type="button" class="" data-bs-toggle="dropdown"><i class="fe fe-more-vertical" style="font-size: 20px;"></i></a>' +
                                            '<div class="dropdown-menu" style="min-width:auto">' +
                                                '<a class="dropdown-item text-dark fw-bold" href="javascript:void(0)" onclick="view_doc(\'Purchase Invoice\',' + data + ')"><i class="fe fe-search text-dark" style="font-size: 15px;margin-right: 0.5rem;"></i>&nbsp;View</a>' +
                                                '<a class="dropdown-item text-dark fw-bold" href="/Tools/Ticket/DownloadFile?id=' + data + '"><i class="fe fe-download-cloud text-dark" style="font-size: 15px;margin-right: 0.5rem;"></i>&nbsp;Download</a>' +
                                                '<a class="dropdown-item text-dark fw-bold" href="javascript:void(0)" onclick="delete_doc(' + data + ')"><i class="fe fe-trash text-danger" style="font-size: 15px;margin-right: 0.5rem;"></i>&nbsp;Delete</a>'+
                                            '</div>' +
                                        '</div>';

                        return html_links;
                    }
                }
            ],
            order: [[3, 'desc']],
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '<span class="text-primary font-weight-semi-bold">Search Document(s)</span>',
                lengthMenu: '_MENU_',
            },
            scrollX: true,
            scrollY: 500,
            scrollCollapse: true,
            fixedColumns: true,
            fixedHeader: {
                header: true,
                footer: true
            }
        });
        table.buttons().container()
            .appendTo('#tbl_doc_lists_wrapper .col-md-6:eq(0)');

        setTimeout(function () {
            table.columns.adjust().draw();
        }, 350);

    }
    //#endregion Bind DataTable

    //#region Delete Remark
    var delete_doc = function (docId) {
        Swal.fire({
            title: "Are you sure you want to delete this Document ?",
            text: "This action will delete this Document!",
            icon: "question",
            showCancelButton: !0,
            confirmButtonText: 'Yes! I Confirm',
            cancelButtonText: 'No! Cancel Please',
            confirmButtonClass: "btn btn-success mt-2", cancelButtonClass: "btn btn-danger ms-2 mt-2", buttonsStyling: !1
        }).then(function (t) {
            if (t.value) {
                $.ajax({
                    url: '@Url.Action("DeleteDocument", "Ticket", new { area = "Tools" })?docId=' + docId,
                    type: "GET",
                    dataType: "JSON",
                    success: function (data) {
                        if (data.isAuthorized) {
                            if (data.success) {
                                Swal.fire({
                                    title: "Success!",
                                    text: "Document is Deleted Successfully!",
                                    icon: "success",
                                    showCancelButton: 0,
                                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60"
                                });

                                GetDocuments(@Model.tdoc_ticket_code);
                            }
                            else {
                                Swal.fire({
                                    title: "Error!",
                                    text: "Failed to Delete Remarks!",
                                    icon: "error",
                                    showCancelButton: 0,
                                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                                });
                            }
                        }
                        else {
                            Swal.fire({
                                title: "Access Denied!",
                                text: "You do not have enough privileges to delete this Remarks!",
                                icon: "error",
                                showCancelButton: 0,
                                confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                            });
                        }

                    },
                    error: function (xhr) {
                        Swal.fire({
                            title: "Error!",
                            text: "Failed to Delete Remarks! Please refresh the page and try again.",
                            icon: "error",
                            showCancelButton: 0,
                            confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                        });
                    }
                });
            }
        });
    }
    //#endregion Delete Denialcode

    //#region View Doc Modal
    var view_doc = function (type, id) {
        $.ajax({
            type: "GET",
            url: "@Url.Action("ViewDocument", "Ticket", new { area = "Tools" })?id=" + id,
            contentType: "application/json",
            dataType: "html",
            success: function (data) {
                $("#view_doc_modal_body").html(data);
                $("#view_doc_modal").modal("show");
            },
            error: function (xhr) {
                console.log(xhr);
            }
        });
    };
    //#endregion View Doc Modal
</script>


