@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");


    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Aafiya Form Dental Index";

        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}
<div id="alert_form">
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="row text-center mt-4">
                <div class="col-lg-12 col-md-12 col-lg-12 text-left">
                    <img src="~/images/InsuranceForms/AAFIYA/AafiyaForm.png" />
                </div>
            </div>
            <div class="card-header">
                <h3 class="card-title">Medical Claim Form</h3>
            </div>
            <div class="text-red p-2">Required fields are marked with *</div>
            <div class="card-body">
                <div id="AafiyaFormDental_add" style="display:none">
                </div>
                <div id="AafiyaFormDental_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="AafiyaFormDental_history">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //#region Page Load
    $(function () {
        GetAafiyaFormDentalInfo();
        AafiyaFormDentalPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetAafiyaFormDentalInfo
    var GetAafiyaFormDentalInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetAafiyaFormDentalData", "AafiyaFormDental", new { area = "InsuranceForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditAafiyaFormDental();
                        $("#AafiyaFormDental_add").hide();
                        $("#AafiyaFormDental_edit").show();

                    }
                    else {
                        $("#AafiyaFormDental_add").show();
                        $("#AafiyaFormDental_edit").hide();
                        AddAafiyaFormDental();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load AafiyaFormDental

    //#region Add AafiyaFormDental
    function AddAafiyaFormDental() {
        var x = $("#AafiyaFormDental_add");
        x.load("@Url.Action("CreateAafiyaFormDental", "AafiyaFormDental", new { area = "InsuranceForms" })", function () {
        });
    }
    //#endregion Add AafiyaFormDental

    // #region Update AafiyaFormDental
    function EditAafiyaFormDental() {
        var x = $("#AafiyaFormDental_edit");
        x.load("@Url.Action("UpdateAafiyaFormDental", "AafiyaFormDental", new { area = "InsuranceForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update AafiyaFormDental

    // #region Histroy of AafiyaFormDental
    function AafiyaFormDentalPreviousHistory() {
        var x = $("#AafiyaFormDental_history");
        x.load("@Url.Action("AafiyaFormDentalPreviousHistory", "AafiyaFormDental", new { area = "InsuranceForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Histroy of AafiyaFormDental
</script>