@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Micro Informed";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Microdermabrasion Informed Consent</h3>
            </div>
            <div class="card-body">
                <div id="MicroInformed_add" style="display:none">
                </div>
                <div id="MicroInformed_edit">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="MicroInformed_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetMicroInformedInfo();
        MicroInformedPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetMicroInformedInfo
    var GetMicroInformedInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetMicroInformedData", "MicroInformed", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditMicroInformed();
                        $("#MicroInformed_add").hide();
                        $("#MicroInformed_edit").show();

                    }
                    else {
                        $("#MicroInformed_add").show();
                        $("#MicroInformed_edit").hide();
                        AddMicroInformed();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load MicroInformed

    //#region Add MicroInformed
    function AddMicroInformed() {
        var x = $("#MicroInformed_add");
        x.load("@Url.Action("CreateMicroInformed", "MicroInformed", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add MicroInformed

    // #region Update MicroInformed
    function EditMicroInformed() {
        var x = $("#MicroInformed_edit");
        x.load("@Url.Action("UpdateMicroInformed", "MicroInformed", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update MicroInformed

    //#region Histroy of MicroInformed
    function MicroInformedPreviousHistory() {
        var x = $("#MicroInformed_history");
        x.load("@Url.Action("MicroInformedPreviousHistory", "MicroInformed", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>