@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Physiotherapy Assessment";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Physiotherapy Assessment Form</h3>
            </div>
            <div class="card-body">
                <div id="PhysiotherapyAssessment_add" style="display:none">
                </div>
                <div id="PhysiotherapyAssessment_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="PhysiotherapyAssessment_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetPhysiotherapyAssessmentInfo();
        PhysiotherapyAssessmentPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetPhysiotherapyAssessmentInfo
    var GetPhysiotherapyAssessmentInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetPhysiotherapyAssessmentData", "PhysiotherapyAssessment", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditPhysiotherapyAssessment();
                        $("#PhysiotherapyAssessment_add").hide();
                        $("#PhysiotherapyAssessment_edit").show();

                    }
                    else {
                        $("#PhysiotherapyAssessment_add").show();
                        $("#PhysiotherapyAssessment_edit").hide();
                        AddPhysiotherapyAssessment();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load PhysiotherapyAssessment

    //#region Add PhysiotherapyAssessment
    function AddPhysiotherapyAssessment() {
        var x = $("#PhysiotherapyAssessment_add");
        x.load("@Url.Action("CreatePhysiotherapyAssessment", "PhysiotherapyAssessment", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add PhysiotherapyAssessment

    // #region Update PhysiotherapyAssessment
    function EditPhysiotherapyAssessment() {
        var x = $("#PhysiotherapyAssessment_edit");
        x.load("@Url.Action("UpdatePhysiotherapyAssessment", "PhysiotherapyAssessment", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update PhysiotherapyAssessment

    //#region Histroy of PhysiotherapyAssessment
    function PhysiotherapyAssessmentPreviousHistory() {
        var x = $("#PhysiotherapyAssessment_history");
        x.load("@Url.Action("PhysiotherapyAssessmentPreviousHistory", "PhysiotherapyAssessment", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>