@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Slimming Machines";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Slimming Machines & Patient Concerned Areas</h3>
            </div>
            <div class="card-body">
                <div id="SlimmingMachines_add" style="display:none">
                </div>
                <div id="SlimmingMachines_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="SlimmingMachines_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetSlimmingMachinesInfo();
        SlimmingMachinesPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetSlimmingMachinesInfo
    var GetSlimmingMachinesInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetSlimmingMachinesData", "SlimmingMachines", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditSlimmingMachines();
                        $("#SlimmingMachines_add").hide();
                        $("#SlimmingMachines_edit").show();

                    }
                    else {
                        $("#SlimmingMachines_add").show();
                        $("#SlimmingMachines_edit").hide();
                        AddSlimmingMachines();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load SlimmingMachines

    //#region Add SlimmingMachines
    function AddSlimmingMachines() {
        var x = $("#SlimmingMachines_add");
        x.load("@Url.Action("CreateSlimmingMachines", "SlimmingMachines", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add SlimmingMachines

    //#region Update SlimmingMachines
    function EditSlimmingMachines() {
        var x = $("#SlimmingMachines_edit");
        x.load("@Url.Action("UpdateSlimmingMachines", "SlimmingMachines", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update SlimmingMachines

    //#region Histroy of SlimmingMachines
    function SlimmingMachinesPreviousHistory() {
        var x = $("#SlimmingMachines_history");
        x.load("@Url.Action("SlimmingMachinesPreviousHistory", "SlimmingMachines", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>