@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConsentForms.SlimmingMachines
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<form id="form_SlimmingMachinesEdit" autocomplete="off" name="SlimmingMachines" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5 mt-5 text-justify">

        <div class="row mb-2 mt-2 col-sm-12 col-md-12 col-lg-12 text-justify">
            <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex mt-2 mb-0">
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1"><h4>No</h4></div>
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1"><h4></h4></div>
                <div class="col-lg-4 border-light2 font-weight-semibold text-center pt-1"><h4>Machines Name</h4></div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex">
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">1</div>
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">
                    <label class="custom-control custom-checkbox ms-3">
                        <input type="checkbox" class="custom-control-input" name="usmf_1" id="usmf_11" value="1">
                        <span class="custom-control-label"></span>
                    </label>
                </div>
                <div class="col-lg-4 border-light2 font-weight-semibold text-left pt-1">POWERSHAPE 2 - 2303</div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex">
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">2</div>
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">
                    <label class="custom-control custom-checkbox ms-3">
                        <input type="checkbox" class="custom-control-input" name="usmf_1" id="usmf_12" value="2">
                        <span class="custom-control-label"></span>
                    </label>
                </div>
                <div class="col-lg-4 border-light2 font-weight-semibold text-left pt-1">LIPOZERO - 2007</div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex">
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">3</div>
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">
                    <label class="custom-control custom-checkbox ms-3">
                        <input type="checkbox" class="custom-control-input" name="usmf_1" id="usmf_13" value="3">
                        <span class="custom-control-label"></span>
                    </label>
                </div>
                <div class="col-lg-4 border-light2 font-weight-semibold text-left pt-1">LIPOZERO - 2008</div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex">
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">4</div>
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">
                    <label class="custom-control custom-checkbox ms-3">
                        <input type="checkbox" class="custom-control-input" name="usmf_1" id="usmf_14" value="4">
                        <span class="custom-control-label"></span>
                    </label>
                </div>
                <div class="col-lg-4 border-light2 font-weight-semibold text-left pt-1">COOL SHAPE</div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex">
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">5</div>
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">
                    <label class="custom-control custom-checkbox ms-3">
                        <input type="checkbox" class="custom-control-input" name="usmf_1" id="usmf_15" value="5">
                        <span class="custom-control-label"></span>
                    </label>
                </div>
                <div class="col-lg-4 border-light2 font-weight-semibold text-left pt-1">3 MAX</div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex">
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">6</div>
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">
                    <label class="custom-control custom-checkbox ms-3">
                        <input type="checkbox" class="custom-control-input" name="usmf_1" id="usmf_16" value="6">
                        <span class="custom-control-label"></span>
                    </label>
                </div>
                <div class="col-lg-4 border-light2 font-weight-semibold text-left pt-1">LIPOLASE</div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex">
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">7</div>
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">
                    <label class="custom-control custom-checkbox ms-3">
                        <input type="checkbox" class="custom-control-input" name="usmf_1" id="usmf_17" value="7">
                        <span class="custom-control-label"></span>
                    </label>
                </div>
                <div class="col-lg-4 border-light2 font-weight-semibold text-left pt-1">POWERSHAPE 2 - 1901</div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex">
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">8</div>
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">
                    <label class="custom-control custom-checkbox ms-3">
                        <input type="checkbox" class="custom-control-input" name="usmf_1" id="usmf_18" value="8">
                        <span class="custom-control-label"></span>
                    </label>
                </div>
                <div class="col-lg-4 border-light2 font-weight-semibold text-left pt-1">CORESCULPT - EMS</div>
            </div>
        </div>



        <div class="row mb-2 mt-2 col-sm-12 col-md-12 col-lg-12 text-justify">
            <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex mt-2 mb-0">
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1"><h4>No</h4></div>
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1"><h4></h4></div>
                <div class="col-lg-4 border-light2 font-weight-semibold text-center pt-1"><h4>Concerned Areas</h4></div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex">
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">1</div>
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">
                    <label class="custom-control custom-checkbox ms-3">
                        <input type="checkbox" class="custom-control-input" name="usmf_1" id="usmf_19" value="9">
                        <span class="custom-control-label"></span>
                    </label>
                </div>
                <div class="col-lg-4 border-light2 font-weight-semibold text-left pt-1">ABDOMEN</div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex">
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">2</div>
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">
                    <label class="custom-control custom-checkbox ms-3">
                        <input type="checkbox" class="custom-control-input" name="usmf_1" id="usmf_110" value="10">
                        <span class="custom-control-label"></span>
                    </label>
                </div>
                <div class="col-lg-4 border-light2 font-weight-semibold text-left pt-1">TUMMY:<br />Upper Tummy<br />Lower Tummy</div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex">
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">3</div>
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">
                    <label class="custom-control custom-checkbox ms-3">
                        <input type="checkbox" class="custom-control-input" name="usmf_1" id="usmf_111" value="11">
                        <span class="custom-control-label"></span>
                    </label>
                </div>
                <div class="col-lg-4 border-light2 font-weight-semibold text-left pt-1">THIGHS:<br />External Thighs<br />Internal Thighs</div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex">
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">4</div>
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">
                    <label class="custom-control custom-checkbox ms-3">
                        <input type="checkbox" class="custom-control-input" name="usmf_1" id="usmf_112" value="12">
                        <span class="custom-control-label"></span>
                    </label>
                </div>
                <div class="col-lg-4 border-light2 font-weight-semibold text-left pt-1">HIPS</div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex">
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">5</div>
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">
                    <label class="custom-control custom-checkbox ms-3">
                        <input type="checkbox" class="custom-control-input" name="usmf_1" id="usmf_113" value="13">
                        <span class="custom-control-label"></span>
                    </label>
                </div>
                <div class="col-lg-4 border-light2 font-weight-semibold text-left pt-1">LOVE HANDLES</div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex">
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">6</div>
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">
                    <label class="custom-control custom-checkbox ms-3">
                        <input type="checkbox" class="custom-control-input" name="usmf_1" id="usmf_114" value="14">
                        <span class="custom-control-label"></span>
                    </label>
                </div>
                <div class="col-lg-4 border-light2 font-weight-semibold text-left pt-1">ARMS</div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex">
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">7</div>
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">
                    <label class="custom-control custom-checkbox ms-3">
                        <input type="checkbox" class="custom-control-input" name="usmf_1" id="usmf_115" value="15">
                        <span class="custom-control-label"></span>
                    </label>
                </div>
                <div class="col-lg-4 border-light2 font-weight-semibold text-left pt-1">DOUBLE CHIM</div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex">
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">8</div>
                <div class="col-lg-1 border-light2 font-weight-semibold text-center pt-1">
                    <label class="custom-control custom-checkbox ms-3">
                        <input type="checkbox" class="custom-control-input" name="usmf_1" id="usmf_116" value="16">
                        <span class="custom-control-label"></span>
                    </label>
                </div>
                <div class="col-lg-4 border-light2 font-weight-semibold text-left pt-1">CORESCULPT - EMS</div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="2" class="font-weight-bold text-danger fs-18" width="100%">
                        Sign here, only if all of your questions have been answered to your satisfaction
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <div id="upat_sign_box">
                            <img alt="Signature" src="" id="upat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize mt-1">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold"> Patient Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left mt-2" id="upsb_date_patient" name="">&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize mt-1">@emr.doc_name&nbsp;</label>
                        <span class="font-weight-semibold">Doctor’s Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left mt-2" id="usmf_date_doctor">@Model.smf_date_modified&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue" width="33%">
                        Patient Signature
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center" width="33%">Doctor’s Signature</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update">Save Changes</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                <button type="button" class="btn btn-danger btn-sm" id="btn_DeleteForm">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print"> Download/Print </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Update").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Update").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Update").show();
                }
                else {
                    $("#btn_Update").hide();
                }
            }
        }
        validate();
        GetSignaturename('patient');
        GetCheckedValues();
    });

    //#region Validation Initialization
    var validate = function () {
        $("#form_SlimmingMachinesEdit").validate({
            rules: {
                //cef_2: {
                //    required: true
                //},

            },
            messages: {
                //cef_2: {
                //    required: "Please Enter Witness Name"
                //},

            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
    //#endregion

    //#region Update  Click
    $('#btn_Update').on('click', function (e) {
        e.preventDefault();
        if ($("#form_SlimmingMachinesEdit").valid()) {
            console.log($("#smfId").val());
            $('#btn_Update').removeClass("btn btn-sm btn-success");
            $('#btn_Update').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Update').html("Updating the Record....");

            var usmf_1_ = $.map($(':checkbox[name=usmf_1]:checked'), function (n, i) {
                return n.value;
            }).join(',');

            var _dateInsert = {
                "smfId": 0,
                "smf_appId": @emr.appId,
                "smf_1": usmf_1_,

                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

            console.log(_dateInsert);

            $.ajax({
                type: "Post",
                url: "@Url.Action("EditSlimmingMachines", "SlimmingMachines", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isEdited) {
                            GetSlimmingMachinesInfo();
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>  Slimming Machines Form Updated Successfully!", "success");
                            Timeout();
                            $("#SlimmingMachines_edit").show();
                            $("#SlimmingMachines_add").hide();
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning..Slimming Machines Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion Update Click

        //#region Print
$('#btn_Print').on('click', function (e) {
    e.preventDefault();
    $('#btn_Print').removeClass("btn btn-success");
    $('#btn_Print').addClass("btn btn-success btn-loaders btn-icon");
    $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "SlimmingMachines", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=SlimmingMachines",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {

                if (data.success)
                    console.log(data);
                    console.log(data.message.pdfPath); {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print

    //#region Delete Click
    $('#btn_DeleteForm').on('click', function (e) {
        e.preventDefault();
        $('#btn_DeleteForm').removeClass("btn btn-success");
        $('#btn_DeleteForm').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_DeleteForm').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteSlimmingMachines", "SlimmingMachines", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-warning");
                $('#btn_DeleteForm').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>Slimming Machines Form Deleted Successfully!", "success");
                        clearControls();

                        $("#SlimmingMachines_edit").hide();
                        $("#SlimmingMachines_add").show();
                        AddSlimmingMachines();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-Delete");
                $('#btn_DeleteForm').html("Delete");
                Timeout();
            }
        })
    });
//#endregion
    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("#upat_sign,#uwit_sign").attr("src", "");
        $("input[name='usmf_1']:checkbox").prop('checked', false);

    }
    //#endregion Clear Controls
        //#region Wacom Tab Signature
    var openWacomTabSignaturePad = function (id) {
       var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "SlimmingMachines",
            "appId": @emr.appId,
            "formname":"Slimming Machines",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
//#endregion
    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "SlimmingMachines",
            "appId": @emr.appId,
            "formname":"Slimming Machines",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            localStorage.removeItem("sign");
        }
    });

        // #region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=SlimmingMachines',
                type: "GET",
                dataType: "json",
                async: false,
                success: function (response) {
                    console.log(response);
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY");

                    if (response[0].person == "patient") {
                        $("#upat_sign_box").removeClass("d-none");
                        $("#upsb_date_patient").text(date);
                        $("#upat_sign").attr("src", sign);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
        //#endregion Get Signature

            //#region Get CheckedValues
     var GetCheckedValues = function (checknames) {
     var checknames = "@Model.smf_1";

       if (checknames !== null) {

         if (checknames != "") {
          var str = "@Model.smf_1";
          var myarray = str.split(',');
          for (var i = 0; i < myarray.length; i++) {
             $('.custom-control-input').each(function () {
                 if (myarray.includes($(this).val())) {
                     $(this).prop("checked", true);
                 }
             });
         }
         console.log(myarray)
     }
   }
 }
      //#endregion

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout

</script>
