
@model IEnumerable<BusinessEntities.Accounts.MaterialManagement.DirectStockTransfer>
@{
    ViewBag.Title = "Accounts & Material Management - Direct Stock Transfer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title mb-0 text-primary">
            <span data-lang-key="direct-stock-transfer">Direct Stock Transfer</span></h4>
    </div>
    <div class="page-rightheader">
        <div class="btn-list btn-animation">
            
            <button class="btn btn-outline-primary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#searchFilter" aria-expanded="false" aria-controls="collapseExample">
                <i class="fa fa-filter"></i>
                <span data-lang-key="advance-filter">Advanced Filters</span>
            </button>

            <button class="btn btn-outline-primary ms-lg-2" type="button" id="btnVerify">
                <i class="fe fe-check-circle"></i>
                <span data-lang-key="verify">&nbsp;Verify</span>
            </button>
            <button class="btn btn-vimeo ms-lg-2" type="button" id="btnPostAccount">
                <i class="fa fa-line-chart"></i>
                <span data-lang-key="post-to-aaccount">Post To Account</span>
            </button>

            <button class="btn btn-secondary ms-lg-2" type="button" id="btn_AddTransfer">
                <i class="mdi mdi-plus"></i>
                <span data-lang-key="add-transfer">&nbsp;Add Transfer</span>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card mb-0">
            <div class="collapse" id="searchFilter">
                <div class="card-body">
                    <input type="hidden" id="hi_branch_selected" value="0" />
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="form-group mb-2">
                                <label class="form-label font-weight-semibold">
                                    <span data-lang-key="transfer-branch">Transfer From Branch</span></label>
                                @Html.DropDownList("select_branch_from", (IEnumerable<SelectListItem>)ViewData["BranchList"], "Any Select", new { @class = "form-select select2" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="form-group mb-2">
                                <label class="form-label font-weight-semibold">
                                    <span data-lang-key="to-branch">To Branch</span></label>
                                @Html.DropDownList("select_branch_to", (IEnumerable<SelectListItem>)ViewData["BranchList"], "Any Select", new { @class = "form-select select2" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="form-group mb-2">
                                <label class="form-label font-weight-semibold">
                                    <span data-lang-key="ref no">Ref No#</span></label>
                            </div>
                            <input id="txt_refno" class="form-control" placeholder="Enter Ref no." type="text" autocomplete="off">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="form-group mb-2">
                                <label class="form-label font-weight-semibold">
                                    <span data-lang-key="item-name-code">Item Name / Code</span></label>
                            </div>
                            <input id="txt_item_code" class="form-control" placeholder="Enter Item name or code" type="text" autocomplete="off">
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="form-group mb-2">
                                <label class="form-label font-weight-semibold">
                                    <span data-lang-key="date-from">Date From</span></label>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-calendar"></i>
                                    </div>
                                </div>
                                <input id="select_date_from" class="form-control" placeholder="DD-MM-YYYY" type="text" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="form-group mb-2">
                                <label class="form-label font-weight-semibold">
                                    <span data-lang-key="date-to">Date To</span></label>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-calendar"></i>
                                    </div>
                                </div>
                                <input id="select_date_to" class="form-control" placeholder="DD-MM-YYYY" type="text" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="form-group mb-2">
                                <label class="form-label font-weight-semibold">
                                    <span data-lang-key="status">Status<small>(es)</small></span></label>
                                <select id="select_status" class="form-control mb-4" multiple="multiple"></select>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="form-group mb-2">
                                <label class="form-label font-weight-semibold">&nbsp;</label>
                                <button class="btn btn-primary mb-2" type="button" id="btnSearch">
                                    <i class="fa fa-search-plus"></i> 
                                    <span data-lang-key="search">Search</span>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong>Error!&nbsp;</strong>@TempData["ErrorMessage"]
            </div>
        </div>
    }
    <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
        <div id="DirectTransferAlert"></div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-status bg-blue"></div>
            <div class="card-body">

                <div id="progress-loader" style="display:none;">
                    <div class="progress progress-sm mb-3">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-teal progress-bar-indeterminate"></div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="tbl_directstocktransfer" class="table table-striped table-bordered text-nowrap resize-table" style="width: 100%; cursor: pointer;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #3C457D; border-color: #3C457D; ">
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="id">ID</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="ref no">Ref No</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="date">Date</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="from-branch">From Branch</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="to-branch">To Branch</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="item">Item</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="batch">Batch</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                Qty/UoM</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="description">Description</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="made-by">Made by</span>
                                </th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="status">Status</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="posted">Posted</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white text-center"><i class="fe fe-more-vertical" style="font-size: 20px;"></i></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="item-name">Item Name</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="item-code">Item Code</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="received-qty">Received Qty</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="received-UoM">Received UoM</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="received-qty2">Received Qty2</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="received-UoM2">Received UoM2</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="received-qty3">Received Qty3</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="received-UoM3">Received UoM3</span></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@* Create Direct Stock Transfer popup Model *@
<div class="modal fade fade overflow-auto" id="DirectTransfer_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="size">
        <div class="modal-content" id="DirectTransfer_body">
        </div>
    </div>
</div>

@* Update Direct Stock Transfer popup Model *@
<div class="modal fade fade overflow-auto" id="edit_DirectTransfer_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="size">
        <div class="modal-content" id="edit_DirectTransfer_body">
        </div>
    </div>
</div>

@* View Direct Stock Transfer Audit Detail popup Model *@
<div class="modal fade overflow-auto" id="DirectTransferAuditLog_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="size">
        <div class="modal-content" id="DirectTransferAuditLog_body">
        </div>
    </div>
</div>

@* Items History popup Model *@
<div class="modal fade overflow-auto" id="ItemsHistory_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="size">
        <div class="modal-content" id="ItemsHistory_body">
        </div>
    </div>
</div>


@* Central Store Item Enquiry *@
<div class="modal fade" id="CentralStoreItems_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="size">
        <div class="modal-content" id="CentralStoreItems_body">
        </div>
    </div>
</div>


@section myScripts{
    <style>
        @@media (min-width: 1124px) {
            .dataTables_scrollHeadInner, .table {
                width: 100% !important
            }
        }

        .modal-lg {
            max-width: 1500px;
        }

        .dataTables_scrollBody {
            min-height: 300px !important;
        }
    </style>

    <script>

        //#region Page Load
        $(function () {
            $('#select_date_from').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });

            $('#select_date_to').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
            $('#select_branch_from').select2({
                minimumResultsForSearch: '',
                placeholder: 'Any Branch',
                width: '100%'
            });
            $('#select_branch_to').select2({
                minimumResultsForSearch: '',
                placeholder: 'Any Branch',
                width: '100%'
            });
            $('#select_date_from').bootstrapdatepicker({
                format: "dd-MM-yyyy",
                viewMode: "date",
                todayHighlight: true,
                autoclose: true,
                multidate: false,
                multidateSeparator: "-"
            });

            $('#select_date_to').bootstrapdatepicker({
                format: "dd-MM-yyyy",
                viewMode: "date",
                todayHighlight: true,
                autoclose: true,
                multidate: false,
                multidateSeparator: "-"
            });
            load_status();
            $("#select_date_to").bootstrapdatepicker("setDate", "tomorrow");
            $("#select_date_from").bootstrapdatepicker("setDate", "today");
            $('#txt_refno').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9+]/g))
                    return false;
            });
            var today_date = moment(new Date()).format('MM/DD/YYYY');
            Get_DirectStockTransfer(today_date, today_date);

            // Focus on select2 Dropdown
            $(document).on('select2:open', () => {
                document.querySelector('.select2-search__field').focus();
            });
        });
        //#endregion

        //#region load status
        var load_status = function () {
            $('#select_status').SumoSelect({
                placeholder: 'Any Status',
                csvDispCount: 3,
                okCancelInMulti: true,
                isClickAwayOk: true,
                search: true,
                searchText: 'Enter here.',
                selectAll: true
            });

            $('#select_status').html('');
            $('#select_status')[0].sumo.reload();
            $('#select_status')[0].sumo.add("New", "New");
            $('#select_status')[0].sumo.add("Transfered", "Transfered");
            $('#select_status')[0].sumo.add("Cancelled", "Cancelled");
            $('#select_status')[0].sumo.add("Deleted", "Deleted");

            $('#select_status')[0].sumo.reload();
        };
        //#endregion

        //#region Filter on Button Click
        $("#btnSearch").click(function (e) {
            e.preventDefault();
            let isValid = true;
            var from_date = moment($('#select_date_from').val().trim(), 'DD-MMMM-YYYY');
            var to_date = moment($('#select_date_to').val().trim(), 'DD-MMMM-YYYY');
            // Check if Date From is a valid Date
            if (from_date != null && from_date != 0 && from_date != "" && from_date != undefined) {
                if (!from_date.isValid()) {
                    isValid = false;
                    e.stopPropagation();
                    return $.growl.error({
                        title: "Error",
                        message: "Invalid From Date!"
                    });
                }
            }
            // Check if Date To is a valid Date
            if (to_date != null && to_date != 0 && to_date != "" && to_date != undefined) {
                if (!to_date.isValid()) {
                    isValid = false;
                    e.stopPropagation();
                    return $.growl.error({
                        title: "Error",
                        message: "Invalid To Date!"
                    });
                }
            }
            if ((from_date != null && from_date != 0 && from_date != "" && from_date != undefined) && (to_date != null && to_date != 0 && to_date != "" && to_date != undefined)) {
                if (from_date.isValid() && to_date.isValid()) {
                    if (to_date.diff(from_date, 'days') < 0) {
                        isValid = false;
                        var index = [];
                        index.push("select_date_from_app");
                        index.push("select_date_to_app");

                        $.each(index, function (i, v) {
                            if (index[i] != null && index[i] != "") {
                                var elem = $("#" + index[i]);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            }
                        });

                        e.stopPropagation();

                        return $.growl.error({
                            title: "Error!",
                            message: "Filter From Date should be less than To Date!"
                        });
                    }
                }
            }
            if (isValid) {
                search_DirectStockTransfer();
            }
        });
        //#endregion

        //#region Load Direct Stock Transfer Data
        function Get_DirectStockTransfer(fromdate, todate) {
            var _data = {
                "std_from_branch": $('#select_branch_from').val().toString(),
                "std_to_branch": $('#select_branch_to').val().toString(),
                "std_refno": $('#txt_refno').val().trim(),
                "item_code": $('#txt_item_code').val().trim(),
                "std_status": $('#select_status').val().toString(),
                "from_date": fromdate,
                "to_date": todate
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetDirectStockTransfer", "StockTransfer", new { area = "MaterialManagement"})",
                dataType: 'json',
                data: _data,
                beforeSend: function () {
                    $('#progress-loader').show();
                },
                success: function (response) {
                    $('#searchFilter').collapse('hide');
                    if (response.isAuthorized != false) {
                        var table;
                        if ($.fn.dataTable.isDataTable('#tbl_directstocktransfer')) {
                            table = $('#tbl_directstocktransfer').DataTable();
                           table.clear();
                           table.rows.add(response).draw();
                        }
                        else {
                            BindDataTable(response);
                        }
                    }
                    $('#progress-loader').hide();
                },
                error: function (xhr) {
                    console.log(xhr);
                    $('#progress-loader').hide();
                    $('#RowsCountToast').hide();
                }
            });
        }
        //#endregion

        //#region Bind Datatable
        var BindDataTable = function (response) {
            var table = $("#tbl_directstocktransfer").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                processing: true,
                "deferRender": true,
                "pageLength": 100,
                "retrieve": true,
                lengthChange: true,
                scrollX: true,
                scrollY: 500,
                scrollCollapse: true,
                "aaData": response,
                "aoColumns": [
                    {
                        "mData": "stdId",
                    },
                    {
                        "mData": "std_refno",
                    },
                    {
                        "mData": "std_date",
                    },
                    {
                        "className": "td_max_width",
                        "mData": "from_branch_name"
                    },
                    {
                        "className": "td_max_width",
                        "mData": "to_branch_name"
                    },
                    {
                        "className": "td_max_width",
                        "mData": "std_itemId",
                        "render": function (std_itemId, type, full, meta) {
                            return '<a data-bs-toggle="modal" data-bs-target="#ItemsHistory_modal" onclick="ItemsHistory(\'' + full.std_itemId + '\',\'' + full.std_item_code + '\',\'' + full.std_from_branch + '\')"><span class="font-weight-bold text-info">' + full.std_item_code + " </span> </a> <br><span> " + full.item_name + '</span>'
                        }
                    },
                    {
                        "mData": "std_item_batch",
                        "orderable": false,
                        "searchable": false,
                    },
                    {
                        "className": "td_max_width",
                        "mData": "std_oqty",
                        "render": function (std_oqty, type, full, meta) {
                            return '<span>' + full.std_oqty + " - " + full.std_ouom + '</span>'
                        }
                    },
                    {
                        "mData": "std_notes",
                        "orderable": false,
                        "searchable": false,
                    },
                    {
                        "mData": "madeby",
                        "orderable": false,
                        "searchable": false,
                    },
                    {
                        "mData": "stdId",
                        "className": 'text-center',
                        "render": function (stdId, type, full, meta) {
                            var std_status = full.std_status;
                            if (std_status === "New") {
                                return '<button type="button" class="badge rounded-pill bg-success mt-2 border-success" style="width: 80px;">New</button>'
                            }
                            else if (std_status === "Transfered") {
                                return '<button type="button" class="badge rounded-pill bg-warning mt-2 border-warning" style="width: 80px;">Transfered</button>'
                            }
                            else if (std_status === "Cancelled") {
                                return '<button type="button" class="badge rounded-pill bg-info mt-2 border-info" style="width: 80px;">Cancelled</button>'
                            }
                            else if (std_status === "Deleted") {
                                return '<button type="button" class="badge rounded-pill bg-danger mt-2 border-danger" style="width: 80px;">Deleted</button>'
                            }
                            else {
                                return ''
                            }
                        }
                    },
                    {
                        "mData": "scrId",
                        "className": "td_status_width",
                        "render": function (scrId, type, full, meta) {
                            var std_status2 = full.std_status2;
                            if (std_status2 === "Posted") {
                                return '<i class="dot-label bg-success me-2 w-2 h-2"></i>&nbsp;<span class="font-weight-semibold text-success">Posted</span>'
                            }
                            else if (std_status2 === "Pending") {
                                return '<i class="dot-label bg-warning me-2 w-2 h-2"></i>&nbsp;<span class="font-weight-semibold text-warning">Pending</span>'
                            }
                            else if (std_status2 === "Deleted") {
                                return '<i class="dot-label bg-danger me-2 w-2 h-2"></i>&nbsp;<span class="font-weight-semibold text-danger">Deleted</span>'
                            }
                            else {
                                return '<i class="dot-label bg-primary me-2 w-2 h-2"></i>&nbsp;<span class="font-weight-semibold text-primary">' + std_status2 + '</span>'
                            }
                        }
                    },
                    {
                        "className": "text-center",
                        "orderable": false,
                        "searchable": false,
                        "render": function (stdId, type, full, meta) {
                            var status = full.std_status;
                            var std_status2 = full.std_status2;
                            var html_links = '<div class="dropdown"><a type="button" class="" data-bs-toggle="dropdown"><i class="fe fe-more-vertical" style="font-size: 20px;"></i></a>' +
                                '<div class="dropdown-menu" style="min-width:auto">';
                            if (status === "New") {
                                html_links += '<a class="dropdown-item text-dark fw-bold" onclick="EditDirectStockTransfer(' + full.stdId + ')"><i class="fe fe-edit-2 text-success" style="font-size: 15px; margin-right: 0.6rem;"></i>&nbsp;Edit</a>';
                                html_links += '<a class="dropdown-item text-dark fw-bold" onclick="UpdateStatus(\'' + full.stdId + '\',\'Deleted\')"><i class="fe fe-trash text-danger" style="font-size: 15px; margin-right: 0.6rem;"></i>&nbsp;Delete</a>';
                                html_links += '<a class="dropdown-item text-dark fw-bold" onclick= "btnPrintDirectStockTransfer(\'' + full.std_refno + '\')" > <i class="fa fa-print text-dark" style="font-size: 15px; margin-right: 0.6rem;"></i>&nbsp;Print</a > ';
                                html_links += '<a class="dropdown-item text-dark fw-bold" onclick= "DirectStockTransferAuditLog(\'' + full.stdId + '\')" > <i class="fa fa-eye text-dark" style="font-size: 15px; margin-right: 0.6rem;"></i>&nbsp;Log</a > ';
                            }
                            else if (status === "Transfered") {
                                html_links += '<a class="dropdown-item text-dark fw-bold" onclick= "btnPrintDirectStockTransfer(\'' + full.std_refno + '\')" > <i class="fa fa-print text-dark" style="font-size: 15px; margin-right: 0.6rem;"></i>&nbsp;Print</a > ';
                                html_links += '<a class="dropdown-item text-dark fw-bold" onclick= "DirectStockTransferAuditLog(\'' + full.stdId + '\')" > <i class="fa fa-eye text-dark" style="font-size: 15px; margin-right: 0.6rem;"></i>&nbsp;Log</a > ';
                            }
                            else {
                                html_links += '<a class="dropdown-item text-dark fw-bold" onclick= "DirectStockTransferAuditLog(\'' + full.stdId + '\')" > <i class="fa fa-eye text-dark" style="font-size: 15px; margin-right: 0.6rem;"></i>&nbsp;Log</a > ';
                            }
                            html_links += '</div></div>';
                            return html_links;
                        }
                    },
                    {
                        "mData": "item_name",
                        "orderable": false,
                        "searchable": false,
                        "visible": false,
                    },
                    {
                        "mData": "std_item_code",
                        "orderable": false,
                        "searchable": false,
                        "visible": false,
                    },
                    {
                        "mData": "std_rqty",
                        "orderable": false,
                        "searchable": false,
                        "visible": false,
                    },
                    {
                        "mData": "std_item_uom",
                        "orderable": false,
                        "searchable": false,
                        "visible": false,
                    },
                    {
                        "mData": "std_rqty2",
                        "orderable": false,
                        "searchable": false,
                        "visible": false,
                    },
                    {
                        "mData": "std_item_uom2",
                        "orderable": false,
                        "searchable": false,
                        "visible": false,
                    },
                    {
                        "mData": "std_rqty3",
                        "orderable": false,
                        "searchable": false,
                        "visible": false,
                    },
                    {
                        "mData": "std_item_uom3",
                        "orderable": false,
                        "searchable": false,
                        "visible": false,
                    },

                ],
                "aoColumnDefs": [
                    {
                        "aTargets": [0],
                        "orderable": false,
                        "searchable": false,
                        "className": "select-checkbox text-center inbox-small-cells",
                        'checkboxes': {
                            'selectRow': true
                        }
                    },

                ],
                select: {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                order:[[1, 'desc']],
                buttons: [
                    {
                        extend: 'excel',
                        title: 'Direct Stock Transfer Detail',
                        footer: 'true',
                        exportOptions: {
                            columns: [1, 2, 3, 11, 13, 14, 15, 16, 17, 18, 19, 20, 6, 8, 9, 10]
                        }
                    },
                    {
                        extend: 'pdf',
                        title: 'Direct Stock Transfer Detail',
                        footer: 'true',
                        exportOptions: {
                            columns: [1, 2, 3, 11, 13, 14, 15, 16, 17, 18, 19, 20, 6, 8, 9, 10]
                        }
                    },
                    {
                        extend: 'csv',
                        title: 'Direct Stock Transfer Detail',
                        footer: 'true',
                        exportOptions: {
                            columns: [1, 2, 3, 11, 13, 14, 15, 16, 17, 18, 19, 20, 6, 8, 9, 10]
                        }
                    },
                    {
                        extend: 'print',
                        title: 'Direct Stock Transfer Detail',
                        footer: 'true',
                        exportOptions: {
                            columns: [1, 2, 3, 11, 13, 14, 15, 16, 17, 18, 19, 20, 6, 8, 9, 10]
                        }
                    }
                ],
                language: {
                    searchPlaceholder: 'Search...',
                    zeroRecords: "No Record Match - Sorry",
                    sSearch: '<span class="text-primary font-weight-semi-bold">Search By Code / Date / Branch / Item </span>',
                    sEmptyTable: '<span class="text-secondary">No Records Available Based On Request</span>',
                    scrollX: "100%",
                    lengthMenu: '_MENU_',
                },
                "drawCallback": function () {
                    $("#tbl_directstocktransfer tr").each(function () {
                        if ($(this).find("td:eq(10)").text().trim() === "Deleted" || $(this).find("td:eq(11)").text().trim() === "Posted") {
                            $($(this)).find("td:eq(0)").find("input[type='checkbox']").remove();
                        }

                    });
                },
                footerCallback: function (row, data, start, end, display) {
                    var api = this.api();

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
                    };
                    var numFormat = $.fn.dataTable.render.number('\,', '.', 2, '').display;

                    // Total Amount
                    //_total = api.column(4).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    //$(api.column(4).footer()).html(numFormat(_total));

                }
            });
            table.buttons().container().appendTo('#tbl_directstocktransfer_wrapper .col-md-6:eq(0)');

        }
        //#endregion Bind Datatable

        //#region Create Direct Stock Transfer
        $('#btn_AddTransfer').click(function () {
            $("#spinner2").show();
            $.ajax({
                type: "GET",
                url: "@Url.Action("CreateDirectStockTransfer", "StockTransfer", new { area = "MaterialManagement" })",
                contentType: "application/json",
                dataType: "html",
                success: function(data)
                {
                    $("#DirectTransfer_body").html(data);
                    $("#DirectTransfer_modal").modal("show");
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert('Error: ' + xhr.statusText);
                    $("#spinner2").hide();
                },
                complete: function () {
                    // Hide spinner when request is complete
                    $("#spinner2").hide();
                }
            });
        });
        //#endregion

        //#region Search Direct Stock Transfer
        var search_DirectStockTransfer = function ()
        {
            var from_date = $('#select_date_from').val().trim();
            var to_date = $('#select_date_to').val().trim();
            Get_DirectStockTransfer(from_date, to_date);
        }
        //#endregion

        //#region Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
        //#endregion Alert Timeout

        //#region Print Direct Stock Transfer
        var btnPrintDirectStockTransfer = function (std_refno) {
            window.open("@Url.Action("PrintDirectStockTransfer", "StockTransfer", new { area = "MaterialManagement" })?std_refno=" + std_refno, "Direct Stock Transfer Print");

        };
        //#endregion

        //#region Direct Stock Transfer Audit Logs
        var DirectStockTransferAuditLog = function (stdId) {
            $("#spinner2").show();
            $.ajax({
                type: "GET",
                url: "@Url.Action("DirectStockTransferAuditLogs", "StockTransfer", new { area = "MaterialManagement" })?stda_stdId=" + stdId,
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $("#DirectTransferAuditLog_body").html(data);
                    $("#DirectTransferAuditLog_modal").modal("show");
                },
                error: function (xhr) {
                    console.log(xhr);
                    $("#spinner2").hide();
                },
                complete: function () {
                    // Hide spinner when request is complete
                    $("#spinner2").hide();
                }
            });
        };
        //#endregion

        //#region Edit Direct Stock Transfer
        var EditDirectStockTransfer = function (stdId) {
            $("#spinner2").show();
            $.ajax({
                type: "GET",
                url: "@Url.Action("DirectStockTransferEdit", "StockTransfer", new { area = "MaterialManagement" })?stdId=" + stdId,
                contentType: "application/json",
                dataType: "html",
                success: function (response) {
                    $("#edit_DirectTransfer_body").html(response);
                    $("#edit_DirectTransfer_modal").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                    $("#spinner2").hide();
                },
                complete: function () {
                    // Hide spinner when request is complete
                    $("#spinner2").hide();
                }
            });
        }
        //#endregion

        //#region Verify Direct Stock Transfer
        $('#btnVerify').on('click', function () {
            var table = $("#tbl_directstocktransfer").DataTable();
            var rows = $(table.$('input[type="checkbox"]').map(function () {
                return $(this).prop("checked") ? $(this).closest('tr') : null;
            }));
            if (rows.length > 0) {
                Swal.fire({
                    title: "Are you sure you want to Verified ?",
                    text: "This action will transfer the stock from one branch to another.",
                    icon: "question",
                    showCancelButton: !0,
                    confirmButtonText: 'Yes! I Confirm',
                    cancelButtonText: 'No! Cancel Please',
                    confirmButtonClass: "btn btn-success mt-2", cancelButtonClass: "btn btn-danger ms-2 mt-2", buttonsStyling: !1
                }).then(function (t) {
                    if (t.value) {
                        var _Ids = "";
                        $.each(rows, function (index, rowId) {
                            var _data = table.row(rowId).data();
                            var status_count = 0;
                            if (_data.std_status === "New") {
                                if (index == 0)
                                    _Ids = _data.stdId;
                                else
                                    _Ids += "," + _data.stdId;
                            }
                            else {
                                status_count += 1;
                            }
                        });
                        if (_Ids === null || _Ids === undefined || _Ids.length <= 0) {
                            if (status_count > 0) {
                                Swal.fire({
                                    title: "Alert!",
                                    text: "Selected Row(s) should be with New Status.!",
                                    icon: "info",
                                    showCancelButton: 0,
                                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                                });
                            }
                            else {
                                Swal.fire({
                                    title: "Alert!",
                                    text: "Row Selection Error. Please Refresh Page And Try Again!",
                                    icon: "info",
                                    showCancelButton: 0,
                                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                                });
                            }
                        }
                        else {
                            Updatefunction(_Ids, 'Verified');
                        }
                    }
                });
            }
            else {
                Swal.fire({
                    title: "Alert!",
                    text: "Please select at least one item to Verify!",
                    icon: "info",
                    showCancelButton: 0,
                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                });
            }
        });
        //#endregion

        //#region Update Direct Stock Transfer Status
        var UpdateStatus = function (stdId, std_status) {
            Swal.fire({
                title: "Are you sure you want to Delete ?",
                text: "This action will delete the selected Item!",
                icon: "question",
                showCancelButton: !0,
                confirmButtonText: 'Yes! I Confirm',
                cancelButtonText: 'No! Cancel Please',
                confirmButtonClass: "btn btn-success mt-2", cancelButtonClass: "btn btn-danger ms-2 mt-2", buttonsStyling: !1
            }).then(function (t) {
                if (t.value) {
                    Updatefunction(stdId, std_status);
                }
            });
        };

        var Updatefunction = function (stdId, std_status) {
            $.ajax({
                url: "@Url.Action("DirectStockTransfer_Status", "StockTransfer", new { area = "MaterialManagement" })?data=" + stdId + "&status=" + std_status,
                type: "POST",
                dataType: "JSON",
                success: function (data) {
                    return_value = data.isUpdated;
                    if (return_value > 0) {
                        title = "Success!";
                        text = "Status Changed Successfully!";
                        icon = "success";
                    }
                    else if (return_value == -2) {
                        title = "Warning!";
                        text = "Some Transfer Qty Excceds The Batches Qty!";
                        icon = "warning";
                    }
                    else if (return_value == -1) {
                        title = "Error!";
                        text = "Transfer Qty Excceds Batch Qty!";
                        icon = "error";

                    }
                    else {
                        title = "Error!";
                        text = data.message;
                        icon = "error";
                    }

                    if (title != '' && text != '' && icon != '') {
                        Swal.fire({
                            title: title,
                            text: text,
                            icon: icon,
                            showCancelButton: 0,
                            confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60"
                        });
                        search_DirectStockTransfer();
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    Swal.fire({
                        title: "Error!",
                        text: "Failed to Change Status! Please refresh the Page and Try Again.",
                        icon: "error",
                        showCancelButton: 0,
                        confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                    })
                }
            });
        }
        //#endregion

        //#region Post Direct Stock Transfer To Account
        $('#btnPostAccount').click(function () {
            var table = $("#tbl_directstocktransfer").DataTable();
            var rows = $(table.$('input[type="checkbox"]').map(function () {
                return $(this).prop("checked") ? $(this).closest('tr') : null;
            }));
            if (rows.length > 0) {
                Swal.fire({
                    title: "Are you sure you want to Post ?",
                    text: "This action will post the selected Entries to chart of account!",
                    icon: "question",
                    showCancelButton: !0,
                    confirmButtonText: 'Yes! I Confirm',
                    cancelButtonText: 'No! Cancel Please',
                    confirmButtonClass: "btn btn-success mt-2", cancelButtonClass: "btn btn-danger ms-2 mt-2", buttonsStyling: !1
                }).then(function (t) {
                    if (t.value) {
                        var _Ids = "";
                        var status_count = 0
                        $.each(rows, function (index, rowId) {
                            var _data = table.row(rowId).data();
                            if (_data.std_status == "Transfered") {
                                if (index == 0)
                                    _Ids = _data.stdId;
                                else
                                    _Ids += "," + _data.stdId;
                            }
                            else {
                                status_count += 1
                            }
                        });
                        if (_Ids === null || _Ids === undefined || _Ids.length <= 0) {
                            if (status_count > 0) {
                                Swal.fire({
                                    title: "Alert!",
                                    text: "Selection Entry/Entries are not Verified!",
                                    icon: "info",
                                    showCancelButton: 0,
                                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                                });
                            }
                            else {
                                Swal.fire({
                                    title: "Alert!",
                                    text: "Row Selection Error. Please Refresh Page And Try Again!",
                                    icon: "info",
                                    showCancelButton: 0,
                                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                                });
                            }
                        }
                        else {
                            PostToAccount(_Ids);
                        }
                    }
                });
            }
            else {
                Swal.fire({
                    title: "Alert!",
                    text: "Please select at least one invoice to post!",
                    icon: "info",
                    showCancelButton: 0,
                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                });
            }
        });

        var PostToAccount = function (pinvId) {
            $.ajax({
                url: "@Url.Action("PostDirectStockTransferToAccount", "StockTransfer", new { area = "MaterialManagement" })?data=" + pinvId,
                type: "POST",
                dataType: "JSON",
                success: function (data) {
                    if (data.isUpdated) {
                        Swal.fire({
                            title: "Success!",
                            text: "Posted Successfully!!",
                            icon: "success",
                            showCancelButton: 0,
                            confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60"
                        });
                        search_DirectStockTransfer();
                    }
                    else {
                        Swal.fire({
                            title: "Error!",
                            text: data.message,
                            icon: "error",
                            showCancelButton: 0,
                            confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                        });
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    Swal.fire({
                        title: "Error!",
                        text: "Failed to Post to Account! Please refresh the Page and Try Again.",
                        icon: "error",
                        showCancelButton: 0,
                        confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                    })
                }
            });
        };
        //#endregion

        //#region Item History View
        var ItemsHistory = function (itemId, item_code, item_branch) {
            $("#spinner2").show();
            $.ajax({
                type: "GET",
                url: "@Url.Action("ItemHistory", "CentralStore", new { area = "MaterialManagement" })?itemId=" + itemId + "&item_code=" + item_code + "&item_branch=" + item_branch,
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $("#ItemsHistory_body").html(data);
                    $("#ItemsHistory_modal").modal("show");
                },
                error: function (xhr) {
                    console.log(xhr);
                    $("#spinner2").hide();
                },
                complete: function () {
                    // Hide spinner when request is complete
                    $("#spinner2").hide();
                }
            });
        };
        //#endregion

        //#region Remove Valiate Error Class Timeout
        function Error_Timeout(_id) {
            setTimeout(function () {
                $(".has-error").removeClass("has-error");
                $(".error").removeClass("error");
                $("#" + _id + "-error").text("");
            }, 4200);
        }
    //#endregion

        //#region UI Controls
        function resizedt(tbl_name) {
            setTimeout(function () {
                var tables = $.fn.dataTable.tables({ visible: true, api: true });
                if (tables) {
                    $('#' + tbl_name).DataTable().columns.adjust();
                }
            }, 450);
        }
        //#endregion
    </script>
}