@model BusinessEntities.Invoice.InvoiceKeys

<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold" id="exampleModalLongTitle">Update @Model.inv_type Invoice - Quick @Model.inv_type Billing</h5>
    <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body p-4">
    <div class="panel panel-primary">
        <div class="tab_wrapper first_tab">
            <ul class="tab_list">
                <li class="active" id="tabPatient">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-gear" viewBox="0 0 16 16">
                        <path d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm.256 7a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Zm3.63-4.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382l.045-.148ZM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z" />
                    </svg>
                    &nbsp;Patient
                </li>
                <li id="tabDocDiag">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-medical" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v.634l.549-.317a.5.5 0 1 1 .5.866L9 6l.549.317a.5.5 0 1 1-.5.866L8.5 6.866V7.5a.5.5 0 0 1-1 0v-.634l-.549.317a.5.5 0 1 1-.5-.866L7 6l-.549-.317a.5.5 0 0 1 .5-.866l.549.317V4.5A.5.5 0 0 1 8 4zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                        <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z" />
                        <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" />
                    </svg>
                    &nbsp;Doctor Diagnosis
                </li>
                <li id="tabNarDiag">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-text" viewBox="0 0 16 16">
                        <path d="M5 10.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0-2a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z" />
                        <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z" />
                        <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" />
                    </svg>
                    &nbsp;Narrative Diagnosis
                </li>
                <li id="tabCodDiag">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-code" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8.646 5.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 8 8.646 6.354a.5.5 0 0 1 0-.708zm-1.292 0a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0 0 .708l2 2a.5.5 0 0 0 .708-.708L5.707 8l1.647-1.646a.5.5 0 0 0 0-.708z" />
                        <path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z" />
                        <path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z" />
                    </svg>
                    &nbsp;Coder Diagnosis
                </li>

                @if (Model.inv_type == "Cash")
                {
                    <li id="tabInvoice">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journals" viewBox="0 0 16 16">
                            <path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2 2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2z" />
                            <path d="M1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 2.5v.5H.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1H2v-.5a.5.5 0 0 0-1 0z" />
                        </svg>
                        &nbsp;Treatments &amp; Invoice
                    </li>
                }
                else
                {
                    <li id="tabInsInvoice">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journals" viewBox="0 0 16 16">
                            <path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2 2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2z" />
                            <path d="M1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 2.5v.5H.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1H2v-.5a.5.5 0 0 0-1 0z" />
                        </svg>
                        &nbsp;Insurance Treatments &amp; Invoice
                    </li>
                }

                <li id="tabMedical">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard-heart" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M5 1.5A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5v1A1.5 1.5 0 0 1 9.5 4h-3A1.5 1.5 0 0 1 5 2.5v-1Zm5 0a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1Z" />
                        <path d="M3 1.5h1v1H3a1 1 0 0 0-1 1V14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3.5a1 1 0 0 0-1-1h-1v-1h1a2 2 0 0 1 2 2V14a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V3.5a2 2 0 0 1 2-2Z" />
                        <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.31 8 6.982Z" />
                    </svg>
                    &nbsp;Medical Records
                </li>
                <li id="tabAudit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                        <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z" />
                        <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z" />
                        <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z" />
                    </svg>
                    &nbsp;Audit Logs
                </li>
                <li id="tabMsg2Doct" class="d-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-at" viewBox="0 0 16 16">
                        <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z" />
                        <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648Zm-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z" />
                    </svg>
                    &nbsp;Message to Doctor
                </li>
            </ul>
            <div class="content_wrapper">
                <div class="tab_content active" id="tabPatient_Content">
                </div>
                <div class="tab_content" id="tabDocDiag_Content">
                </div>
                <div class="tab_content" id="tabNarDiag_Content">
                </div>
                <div class="tab_content" id="tabCodDiag_Content">
                </div>
                @if (Model.inv_type == "Cash")
                {
                    <div class="tab_content" id="tabInvoice_Content" data-modal-from="invoice-list"></div>
                }
                else
                {
                    <div class="tab_content" id="tabInsInvoice_Content" data-modal-from="invoice-list"></div>
                }
                <div class="tab_content" id="tabMedical_Content">
                </div>
                <div class="tab_content" id="tabAudit_Content">
                </div>
                <div class="tab_content" id="tabMsg2Doct_Content">
                </div>

            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/tabs.js"></script>
<script type="text/javascript">

    //#region Page Load & Initialization
    $(function () {
        $('#tabPatient').click();
    });

    $('#tabPatient').on('click', function () {
        localStorage.setItem("calling_from", "invoice-list");
        _editPatient(@Model.patId);
    });

    $('#tabDocDiag').on('click', function () {
         localStorage.setItem("calling_from", "invoice-list");
        _editDocDiag();
    });

    $('#tabNarDiag').on('click', function () {
        _editNarDiag();
    });

    $('#tabCodDiag').on('click', function () {
        _editCodDiag();
    });

    $('#tabInvoice').on('click', function () {
        localStorage.setItem("calling_from", "invoice-list");
        _editInvoice(@Model.invId, "@Model.ins_dept");
    });

    $('#tabInsInvoice').on('click', function () {
        localStorage.setItem("calling_from", "invoice-list");
        _editInsInvoice(@Model.invId, "@Model.ins_dept");
    });

    $('#tabMedical').on('click', function () {
        _editMedical();
    });

    $('#tabAudit').on('click', function () {
        _editAudit();
    });

    $('#tabMsg2Doct').on('click', function () {
        _editMsg2Doct();
    });
    //#endregion

    // Edit Patient
    var _editPatient = function (patId) {
        console.log(patId)
        $.ajax({
            type: "GET",
            url: "@Url.Action("EditPatient", "Patient", new { area = "Patient" })?patId=" + patId,
            contentType: "application/json",
            dataType: "html",
            success: function (data) {
                $("#tabPatient_Content").html(data);
                $("#tabPatient_Content").show();
            },
            error: function (xhr) {
                console.log("Error : " + xhr.statusText);
            }
        });
    };

    // Edit Diagnosis
    var _editDocDiag = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("InvoicePatientDiagnosis", "Invoice", new { area = "Invoice" })",
            contentType: "application/json",
            dataType: "html",
            success: function (data) {
                $("#tabDocDiag_Content").html(data);
                $("#tabDocDiag_Content").show();
            },
            error: function (xhr) {
                console.log("Error : " + xhr.statusText);
            }
        });
    };

    // Edit Narrative Diagnosis
    var _editDocDiag = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("InvoicePatientDiagnosis", "Invoice", new { area = "Invoice" })",
            contentType: "application/json",
            dataType: "html",
            success: function (data) {
                $("#tabDocDiag_Content").html(data);
                $("#tabDocDiag_Content").show();
            },
            error: function (xhr) {
                console.log("Error : " + xhr.statusText);
            }
        });
    };

    // Edit Narrative Diagnosis
    var _editNarDiag = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("InvoiceNarrativeDiagnosis", "Invoice", new { area = "Invoice" })",
            contentType: "application/json",
            dataType: "html",
            success: function (data) {
                $("#tabNarDiag_Content").html(data);
                $("#tabNarDiag_Content").show();
            },
            error: function (xhr) {
                console.log("Error : " + xhr.statusText);
            }
        });
    };

    // Edit Narrative Diagnosis
    var _editCodDiag = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("InvoiceCoderDiagnosis", "Invoice", new { area = "Invoice" })",
            contentType: "application/json",
            dataType: "html",
            success: function (data) {
                $("#tabCodDiag_Content").html(data);
                $("#tabCodDiag_Content").show();
            },
            error: function (xhr) {
                console.log("Error : " + xhr.statusText);
            }
        });
    };

    // Edit Narrative Diagnosis
    var _editMedical = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("InvoicePrintMedical", "Invoice", new { area = "Invoice" })",
            contentType: "application/json",
            dataType: "html",
            success: function (data) {
                $("#tabMedical_Content").html(data);
                $("#tabMedical_Content").show();
            },
            error: function (xhr) {
                console.log("Error : " + xhr.statusText);
            }
        });
    };

    // Edit Audit
    var _editAudit = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("InvoiceAudit", "Invoice", new { area = "Invoice" })",
            contentType: "application/json",
            dataType: "html",
            success: function (data) {
                $("#tabAudit_Content").html(data);
                $("#tabAudit_Content").show();
            },
            error: function (xhr) {
                console.log("Error : " + xhr.statusText);
            }
        });
    };

    // Edit Msg2Doct
    var _editMsg2Doct = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("InvoiceMsg2Doct", "Invoice", new { area = "Invoice" })",
            contentType: "application/json",
            dataType: "html",
            success: function (data) {
                $("#tabMsg2Doct_Content").html(data);
                $("#tabMsg2Doct_Content").show();
            },
            error: function (xhr) {
                console.log("Error : " + xhr.statusText);
            }
        });
    };

    // Edit Invoice
    var _editInvoice = function (invId, dept) {
        if (dept == "Dental") {
            $.ajax({
                type: "GET",
                url: "@Url.Action("EditDentalCashBilling", "InsuranceInvoice", new { area = "Invoice" })?invId=" + invId,
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $("#tabInvoice_Content").html(data);
                    $("#tabInvoice_Content").show();
                },
                error: function (xhr) {
                    console.log("Error : " + xhr.statusText);
                }
            });
        }
        else {
            $.ajax({
                type: "GET",
                url: "@Url.Action("EditCashBilling", "Invoice", new { area = "Invoice" })?invId=" + invId,
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $("#tabInvoice_Content").html(data);
                    $("#tabInvoice_Content").show();
                },
                error: function (xhr) {
                    console.log("Error : " + xhr.statusText);
                }
            });
        }
    };

    // Edit Insurance Invoice
    var _editInsInvoice = function (invId, dept) {
        if (dept == "Dental") {
            $.ajax({
                type: "GET",
                url: "@Url.Action("EditSubDentalInsuranceBilling", "InsuranceInvoice", new { area = "Invoice" })?invId=" + invId,
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $("#tabInsInvoice_Content").html(data);
                    $("#tabInsInvoice_Content").show();
                },
                error: function (xhr) {
                    console.log("Error : " + xhr.statusText);
                }
            });
        }
        else {
            $.ajax({
                type: "GET",
                url: "@Url.Action("EditSubInsuranceBilling", "InsuranceInvoice", new { area = "Invoice" })?invId=" + invId,
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $("#tabInsInvoice_Content").html(data);
                    $("#tabInsInvoice_Content").show();
                },
                error: function (xhr) {
                    console.log("Error : " + xhr.statusText);
                }
            });
        }
    };

</script>