@model BusinessEntities.Invoice.InvoicePrint
@{
    ViewBag.Title = "Print Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>

<div class="row" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-center">
                    <img src="@Model.inv_header.set_header_image" />
                </div>

                <h2 class="font-weight-bold text-primary text-center mt-2">TAX INVOICE</h2>

                <div class="card-body ps-0 pe-0">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <strong class="font-weight-semibold">Reg TRN No</strong>
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1 text-center">
                            <strong>:</strong>
                        </div>
                        <div class="col-sm-9 text-start">
                            <span>@Model.inv_header.set_vat_regno</span>
                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <strong class="font-weight-semibold">Facility Name</strong>
                        </div>
                        <div class="col-sm-1 text-center">
                            <strong>:</strong>
                        </div>
                        <div class="col-sm-9 col-md-9 col-lg-9 text-start">
                            <span>@Model.inv_header.set_company</span>
                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <strong class="font-weight-semibold">Address</strong>
                        </div>
                        <div class="col-sm-1 col-md-1 col-lg-1 text-center">
                            <strong>:</strong>
                        </div>
                        <div class="col-sm-9 col-md-9 col-lg-9 text-start">
                            <span>@Model.inv_header.set_address</span><br />
                            <span>@Model.inv_header.set_tel/@Model.inv_header.set_mob</span>
                        </div>
                    </div>
                </div>

                <div class="dropdown-divider"></div>

                <div class="row pt-4 pb-4">
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <strong class="font-weight-semibold">Invoice No.</strong>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 text-center">
                        <strong>:</strong>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 text-start">
                        <span>@Model.inv_header.inv_no</span>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <strong class="font-weight-semibold">Invoice Date</strong>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 text-center">
                        <strong>:</strong>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 text-start">
                        <span>@Model.inv_header.inv_date</span>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <strong class="font-weight-semibold">Policy No.</strong>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 text-center">
                        <strong>:</strong>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 text-start">
                        <span>@Model.inv_header.pi_polocyno</span>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <strong class="font-weight-semibold">Card No</strong>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 text-center">
                        <strong>:</strong>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 text-start">
                        <span>@Model.inv_header.pi_insno</span>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <strong class="font-weight-semibold">Doctor</strong>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 text-center">
                        <strong>:</strong>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 text-start">
                        <span>@Model.inv_header.emp_name  (DHA # - @Model.inv_header.emp_license)</span>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <strong class="font-weight-semibold">Department</strong>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 text-center">
                        <strong>:</strong>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 text-start">
                        <span>@Model.inv_header.emp_dept_name</span>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <strong class="font-weight-semibold">Patient Name</strong>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 text-center">
                        <strong>:</strong>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 text-start">
                        <span>@Model.inv_header.pat_name</span>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <strong class="font-weight-semibold">MRN/File No.</strong>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 text-center">
                        <strong>:</strong>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 text-start">
                        <span>@Model.inv_header.pat_code</span>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <strong class="font-weight-semibold">Age / Gender</strong>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 text-center">
                        <strong>:</strong>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 text-start">
                        <span>@Model.inv_header.pat_age / @Model.inv_header.pat_gender</span>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <strong class="font-weight-semibold">Type</strong>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 text-center">
                        <strong>:</strong>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 text-start">
                        <span>@Model.inv_header.inv_type</span>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <strong class="font-weight-semibold">Visit Date</strong>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 text-center">
                        <strong>:</strong>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 text-start">
                        <span> @Model.inv_header.app_fdate </span>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <strong class="font-weight-semibold">Made By</strong>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 text-center">
                        <strong>:</strong>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 text-start">
                        <span> @Model.inv_header.madeby_name </span>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <strong class="font-weight-semibold">Ins. Company</strong>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 text-center">
                        <strong>:</strong>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 text-start">
                        <span> (@Model.inv_header.ic_code) @Model.inv_header.ic_name </span>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2">
                        <strong class="font-weight-semibold">Payer</strong>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1 text-center">
                        <strong>:</strong>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3 text-start">
                        <span> (@Model.inv_header.ip_code)  @Model.inv_header.ip_name </span>
                    </div>
                </div>

                <div class="table-responsive push">
                    <table class="table table-bordered table-hover text-nowrap">
                        <tr class=" ">
                            <th class="text-center" style="width: 1%"></th>
                            <th class="text-wrap font-weight-bold">Treatment Code</th>
                            <th class="text-wrap font-weight-bold">Treatment/Procedure</th>
                            <th class="text-center font-weight-bold" style="width: 1%">Qty</th>
                            <th class="text-end font-weight-bold" style="width: 1%">Unit Price</th>
                            <th class="text-end font-weight-bold" style="width: 1%">Total</th>
                            <th class="text-end font-weight-bold" style="width: 1%">Discount</th>
                            <th class="text-end font-weight-bold" style="width: 1%">Gross</th>
                            <th class="text-end font-weight-bold" style="width: 1%">Patient Share</th>
                            <th class="text-end font-weight-bold" style="width: 1%">NET</th>
                        </tr>

                        @{ int count = 0; }

                        @foreach (BusinessEntities.Invoice.InvoiceBody i in Model.inv_body)
                        {
                            count++;

                            <tr>
                                <td class="text-left">@count.ToString("D2")</td>
                                <td class="text-left">@i.pt_tr_code</td>
                                <td>
                                    <div class="text-wrap text-justify">@i.pt_tr_name</div>
                                </td>
                                <td class="text-end">@i.pt_qty</td>
                                <td class="text-end">@i.pt_uprice</td>
                                <td class="text-end">@i.pt_total</td>
                                <td class="text-end">@i.pt_disc</td>
                                <td class="text-end">@i.pt_gross</td>
                                <td class="text-end">@i.pt_share</td>
                                <td class="text-end">@i.pt_net</td>
                            </tr>
                        }

                        <tr>
                            <td colspan="9" class="font-weight-semibold text-end">Total Discount (in AED)</td>
                            <td class="text-end">@Model.inv_footer.inv_disc</td>
                        </tr>

                        <tr>
                            <td colspan="9" class="font-weight-semibold text-end">NET (in AED)</td>
                            <td class="text-end">@Model.inv_footer.inv_net</td>
                        </tr>

                        <tr>
                            <td colspan="9" class="font-weight-semibold text-end">Patient Share (in AED)</td>
                            <td class="text-end">@Model.inv_footer.total_pat_share</td>
                        </tr>

                        @if (decimal.Parse(Model.inv_footer.rec_cash) > 0)
                        {
                            <tr>
                                <td colspan="9" class="font-weight-semibold text-end">Paid by Cash (in AED) </td>
                                <td class="text-end">@Model.inv_footer.rec_cash</td>
                            </tr>
                        }

                        @if (decimal.Parse(Model.inv_footer.rec_cc) > 0)
                        {
                            <tr>
                                <td colspan="9" class="font-weight-semibold text-end">Paid by Credit Card (in AED) </td>
                                <td class="text-end">@Model.inv_footer.rec_cc</td>
                            </tr>
                            <tr>
                                <td colspan="9" class="font-weight-semibold text-end">Credit Card Charges (in AED) </td>
                                <td class="text-end">@Model.inv_footer.rec_cc_charges2</td>
                            </tr>
                        }

                        @if (decimal.Parse(Model.inv_footer.rec_chq) > 0)
                        {
                            <tr>
                                <td colspan="9" class="font-weight-semibold text-end">Paid by Cheque (in AED) </td>
                                <td class="text-end">@Model.inv_footer.rec_chq</td>
                            </tr>
                        }

                        @if (decimal.Parse(Model.inv_footer.rec_bt) > 0)
                        {
                            <tr>
                                <td colspan="8" class="font-weight-semibold text-end">Paid by Bank Transfer (in AED) </td>
                                <td class="text-end">@Model.inv_footer.rec_bt</td>
                            </tr>
                        }

                        @if (decimal.Parse(Model.inv_footer.rec_debit) > 0)
                        {
                            <tr>
                                <td colspan="9" class="font-weight-semibold text-end">Bad Debit (in AED) </td>
                                <td class="text-end">@Model.inv_footer.rec_debit</td>
                            </tr>
                        }

                        @if (decimal.Parse(Model.inv_footer.rec_allocated) > 0)
                        {
                            <tr>
                                <td colspan="9" class="font-weight-semibold text-end">Redeemed from Advance Allocation (in AED) </td>
                                <td class="text-end">@Model.inv_footer.rec_allocated</td>
                            </tr>
                        }

                        @if (decimal.Parse(Model.inv_footer.rec_vamount) > 0)
                        {
                            <tr>
                                <td colspan="9" class="font-weight-semibold text-end">Redeemed from Voucher (in AED) </td>
                                <td class="text-end">@Model.inv_footer.rec_vamount</td>
                            </tr>
                        }

                        @if (decimal.Parse(Model.inv_footer.rec_lamount) > 0)
                        {
                            <tr>
                                <td colspan="9" class="font-weight-semibold text-end">Redeemed from Loyalty Values (in AED) </td>
                                <td class="text-end">@Model.inv_footer.rec_lamount</td>
                            </tr>
                        }

                        @if (decimal.Parse(Model.inv_footer.rec_tabby) > 0)
                        {
                            <tr>
                                <td colspan="9" class="font-weight-semibold text-end">Paid by Tabby (in AED) </td>
                                <td class="text-end">@Model.inv_footer.rec_tabby</td>
                            </tr>
                        }

                        @if (decimal.Parse(Model.inv_footer.rec_self) > 0)
                        {
                            <tr>
                                <td colspan="9" class="font-weight-semibold text-end">Paid by Selfologi (in AED) </td>
                                <td class="text-end">@Model.inv_footer.rec_self</td>
                            </tr>
                        }

                        @if (decimal.Parse(Model.inv_footer.rec_spoti) > 0)
                        {
                            <tr>
                                <td colspan="9" class="font-weight-semibold text-end">Paid by Spotii (in AED) </td>
                                <td class="text-end">@Model.inv_footer.rec_spoti</td>
                            </tr>
                        }

                        @if (decimal.Parse(Model.inv_footer.rec_cob) > 0)
                        {
                            <tr>
                                <td colspan="9" class="font-weight-semibold text-end">Paid by Cobone (in AED) </td>
                                <td class="text-end">@Model.inv_footer.rec_cob</td>
                            </tr>
                        }

                        @if (decimal.Parse(Model.inv_footer.rec_group) > 0)
                        {
                            <tr>
                                <td colspan="9" class="font-weight-semibold text-end">Paid by Groupon (in AED) </td>
                                <td class="text-end">@Model.inv_footer.rec_group</td>
                            </tr>
                        }

                        @if (decimal.Parse(Model.inv_footer.rec_stripe) > 0)
                        {
                            <tr>
                                <td colspan="9" class="font-weight-semibold text-end">Paid by Stripe (in AED) </td>
                                <td class="text-end">@Model.inv_footer.rec_stripe</td>
                            </tr>
                        }

                        <tr>
                            <td colspan="9" class="font-weight-semibold text-end">Balance (in AED) </td>
                            <td class="text-end">@Model.inv_footer.patient_balance</td>
                        </tr>

                        <tr>
                            <td colspan="9" class="font-weight-semibold text-end">Advance Balance (in AED) </td>
                            <td class="text-end">@Model.inv_footer.advance_balance</td>
                        </tr>
                    </table>
                </div>

                <p class="text-muted text-center">Kindly note that this automated and uniquely dated invoice is payable on this visit before leaving the Center deposit will be automatically deducted upon settlement.</p>

                <div class="">
                    <h5 class="mb-5"><strong>Patient Signature</strong></h5>
                </div>

                <div class="text-center">
                    <img src="@Model.inv_header.set_footer_image" />
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //#region Print Button Click
    $('#btnPrint').on('click', function (e) {
        var elem = 'printDiv';
        var header_str = '<html><head><title>' + document.title + '</title></head><body>';
        var footer_str = '</body></html>';
        var new_str = document.getElementById(elem).innerHTML;
        var old_str = document.body.innerHTML;
        document.body.innerHTML = header_str + new_str + footer_str;
        window.print();
        document.body.innerHTML = old_str;
        return false;
    });
    //#endregion
</script>