@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Adnic Dental Auth";

        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-4 font-weight-semibold">
                        <span class="text-danger" style="font-size:smaller">Required fields are marked with *</span>
                    </div>
                </div>
                <div>&nbsp;</div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="font-weight-semibold text-blue">
                            <div>ADNIC Dental Pre-Auth Form</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row border-dark">
                            <img src="~/images/header_images/adnic.jpg" />
                        </div>
                    </div>
                </div>
                <div>&nbsp;</div>
                <div id="AdnicDentalAuth_add" style="display:none">
                </div>
                <div id="AdnicDentalAuth_edit">
                </div>
                <div id="AdnicDentalAuth_history">
                </div>
            </div>
        </div>
    </div>
</div>

@*@section myScripts{*@
<script>
        //#region Page Load
        $(function () {
            GetAdnicDentalAuthInfo();
            AdnicDentalAuthPreviousHistory();
        });
        //#endregion Page Load

        //#region Load GetAdnicDentalAuthInfo
        var GetAdnicDentalAuthInfo = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAdnicDentalAuthData", "AdnicDentalAuth", new { area = "InsuranceForms" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        console.log(response.length);
                        if (response.length > 0) {
                            EditAdnicDentalAuth();
                            $("#AdnicDentalAuth_add").hide();
                            $("#AdnicDentalAuth_edit").show();

                        }
                        else {
                            $("#AdnicDentalAuth_add").show();
                            $("#AdnicDentalAuth_edit").hide();
                            AddAdnicDentalAuth();
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
        //#endregion Load AdnicDentalAuth

        //#region Add AdnicDentalAuth
        function AddAdnicDentalAuth() {
            var x = $("#AdnicDentalAuth_add");
            x.load("@Url.Action("CreateAdnicDentalAuth", "AdnicDentalAuth", new { area = "InsuranceForms" })", function () {
          });
        }
        //#endregion Add AdnicDentalAuth

        //#region Update AdnicDentalAuth
        function EditAdnicDentalAuth() {
            var x = $("#AdnicDentalAuth_edit");
            x.load("@Url.Action("UpdateAdnicDentalAuth", "AdnicDentalAuth", new { area = "InsuranceForms" })?appId=" + @emr.appId, function () {
          });
        }
          //#endregion Update AdnicDentalAuth

        //#region History of AdnicDentalAuth
        function AdnicDentalAuthPreviousHistory() {
            var x = $("#AdnicDentalAuth_history");
            x.load("@Url.Action("AdnicDentalAuthPreviousHistory", "AdnicDentalAuth", new { area = "InsuranceForms" })?appId=" + @emr.appId, function () {
          });
        }
        //#endregion History of AdnicDentalAuth

</script>
@*}*@