@using BusinessEntities;
@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "DubaiCareClaimDentalIndex";

        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }

    List<BusinessEntities.EMR.PatientTreatments> treatments = ViewBag.PatientTreatments;

}

<div id="alert_form">
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"> DubaiCare Claim Form </h3>
            </div>
            <div class="text-red p-2">Required fields are marked with *</div>
            <div class="mt-2 d-flex justify-content-center"><img src="~/images/Insurance_Forms/DubaiCare/dubaicare.jpg" style="width:260px" /></div>
            <div class="d-flex justify-content-center"><img src="~/images/Insurance_Forms/DubaiCare/dubaicare1.jpg" style="width:260px" /></div>
            <div class="card-body">
                <div id="DubaiCareClaimDental_add" style="display:none">
                </div>
                <div id="DubaiCareClaimDental_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="DubaiCareClaimDental_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetDubaiCareClaimDentalInfo();
        DubaiCareClaimDentalPreviousHistory();
    });

    //#endregion Page Load

    //#region Load GetDubaiCareClaimDentalInfo
    var GetDubaiCareClaimDentalInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetDubaiCareClaimDentalData", "DubaiCareClaimDental", new { area = "InsuranceForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditDubaiCareClaimDental();
                        $("#DubaiCareClaimDental_add").hide();
                        $("#DubaiCareClaimDental_edit").show();

                    }
                    else {
                        $("#DubaiCareClaimDental_add").show();
                        $("#DubaiCareClaimDental_edit").hide();
                        AddDubaiCareClaimDental();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load DubaiCareClaimDental

    //#region Add DubaiCareClaimDental
    function AddDubaiCareClaimDental() {
        var x = $("#DubaiCareClaimDental_add");
        x.load("@Url.Action("CreateDubaiCareClaimDental", "DubaiCareClaimDental", new { area = "InsuranceForms" })", function () {
        });
    }
    //#endregion Add DubaiCareClaimDental

    // #region Update DubaiCareClaimDental
    function EditDubaiCareClaimDental() {
        var x = $("#DubaiCareClaimDental_edit");
        x.load("@Url.Action("UpdateDubaiCareClaimDental", "DubaiCareClaimDental", new { area = "InsuranceForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update DubaiCareClaimDental

    // #region Histroy of DubaiCareClaimDental
    function DubaiCareClaimDentalPreviousHistory() {
        var x = $("#DubaiCareClaimDental_history");
        x.load("@Url.Action("DubaiCareClaimDentalPreviousHistory", "DubaiCareClaimDental", new { area = "InsuranceForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>

