@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.InsuranceForms.DubaiCareClaimDental

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="modal-body p-4">
    <form id="form_DubaiCareClaimDentalEdit" class="fs-14" autocomplete="off" name="DubaiCareClaimDental" ondrop="return false;" onpaste="return false;" oncut="return false;">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.dcdId, new { @id = "dcdId", @value = "@Model.dcdId" })
        <div>
            <div class="font-weight-bold mb-5 text-center">
                REIMBURSEMENT CLAIM FORM
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 mt-2 table-bordered border-light2">
                    <div class="row">
                        <div class="d-flex align-items-center col-sm-12 col-md-12 col-lg-6">
                            <div class="col-sm-11 col-md-6 col-lg-5 ps-0">
                                <label class="text-black font-weight-semibold">
                                    Claim No.
                                </label>
                            </div>
                            <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.pi_insno&nbsp;</span>

                            </div>
                        </div>
                        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                            <div class="col-sm-11 col-md-6 col-lg-4 ps-0">
                                <label class="text-black font-weight-semibold">
                                    Authorization No.
                                </label>
                            </div>
                            <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <span class="font-weight-normal1 text-capitalize text-left text-red"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-flex align-items-start col-sm-12 col-md-12 col-lg-6">
                            <div class="col-sm-11 col-md-6 col-lg-5 ps-0">
                                <label class="text-black font-weight-semibold">
                                    Member Name/ Date of Birth
                                </label>
                            </div>
                            <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.pat_dob</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-start col-sm-12 col-md-12 col-lg-6">
                            <div class="col-sm-11 col-md-6 col-lg-4 ps-0">
                                <label class="text-black font-weight-semibold">
                                    Membership No
                                </label>
                            </div>
                            <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.pi_insno</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-flex align-items-start col-sm-12 col-md-12 col-lg-6">
                            <div class="col-sm-11 col-md-6 col-lg-5 ps-0">
                                <label class="text-black font-weight-semibold">
                                    Member Address/Tel
                                </label>
                            </div>
                            <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.pat_address,@emr.pat_mob</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-start col-sm-12 col-md-12 col-lg-6">
                            <div class="col-sm-11 col-md-6 col-lg-4 ps-0">
                                <label class="text-black font-weight-semibold">
                                    Expiry date of policy
                                </label>
                            </div>
                            <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.pi_edate</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border  border-light2 mb-2 mt-2">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="text-danger">
                        <h5>Medical Section</h5>
                    </div>
                </div>
                <div class="d-flex mb-2 mt-2">
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div>
                            <label class=" form-label text-black font-weight-semibold">
                                Medical Practitioner's Name and Address/Tel.
                            </label>
                            <label class="text-red">@emr.doc_name</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div>
                            <label class=" form-label text-black font-weight-semibold">
                                Medical condition<span class="text-red">*</span> :
                            </label>
                            @Html.TextBoxFor(m => m.dcd_1, new { @class = "form-control mb-2", @placeholder = "Please specify", @id = "udcd_1" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border border-light2 mb-2 mt-2">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div>
                        <label class=" form-label text-black font-weight-semibold">
                            declare that I am the patient's medical practitioner, and that the particulars given are to the best of my knowledge true and correct.
                        </label>
                        <label class="text-red">@emr.doc_name</label>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div>
                            <label class="form-label text-black font-weight-semibold">
                                Signature & Stamp
                            </label>
                            <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                            <label class="form-label mt-1">Date</label>
                            <label class="text-red text-left">@emr.app_fdate&nbsp;</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div>
                        <label class=" form-label text-black font-weight-semibold">
                            Please Give the date on which your patient first consulted any doctor for this condition
                        </label>
                        <label class="text-red">@emr.app_fdate</label>
                    </div>
                </div>
            </div>
            <div class="row border border-1 mt-2 mb-0 pt-2 pb-6">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <label class="form-label text-black">
                        History of medical condition:
                    </label>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    @Html.TextAreaFor(m => m.dcd_2, new { @class = "form-control", @placeholder = "Please specify", @id = "udcd_2" })
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 mt-2">
                    <label class="form-label text-black">
                        Details of Physical findings
                    </label>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    @Html.TextAreaFor(m => m.dcd_3, new { @class = "form-control", @placeholder = "Please specify", @id = "udcd_3" })
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 mt-2">
                    <label class="form-label text-black">
                        Details of any investigations done with relevant dates.
                    </label>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    @Html.TextAreaFor(m => m.dcd_4, new { @class = "form-control", @placeholder = "Please specify", @id = "udcd_4" })
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 mt-2">
                    <label class="form-label text-black">
                        Details of treatments done with relevant dates.
                    </label>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                    @Html.TextAreaFor(m => m.dcd_5, new { @class = "form-control", @placeholder = "Please specify", @id = "udcd_5" })
                </div>
                <div class=" row col-sm-12 col-md-12 col-lg-6 mt-2">
                    <span>
                        <label class="form-label"> Total Amount<span class="text-red">*</span> :</label>
                        <span>
                            @Html.TextBoxFor(m => m.dcd_6, new { @class = "form-control", @placeholder = "Please specify", @id = "udcd_6" })
                        </span>
                    </span>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12">
                </div>
            </div>
            <div class="row border border-light2 mb-2 mt-2 text-justify">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div>
                        <label class=" form-label text-black font-weight-semibold">
                            Patient's Declaration and Consent
                        </label>
                        I confirm that I am the patient/ patient's parent or guardian and wish to claim benefits, and declare that all the particulars given above are to the best of my knowledge true and correct. I hereby consent to and authorize the medical practitioner involved in the patient's care to discuss treatment details and discharge arrangements with and to DubaiCare. I agree that a copy of this consent shall have the validity of the original.
                    </div>
                </div>
                <div class="row col-sm-12 col-md-12 col-lg-6 mt-3">
                    <div class="col-sm-12 col-md-12 col-lg-2 mt-5">
                        <label class="form-label text-black font-weight-semibold">
                            Signature :
                        </label>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-2">
                        <div id="upat_sign_box" class="d-none">
                            <img alt="stamp" id="upat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-2 mt-5">
                        <label class="form-label mt-1">Date :</label>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-3 mt-5">
                        <label class="text-red text-left">@emr.app_fdate&nbsp;</label>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="btn-list btn-animation">
                        <button type="submit" class="btn btn-warning btn-sm" id="btn_Update">Save Changes</button>
                        <button type="button" class="btn btn-danger btn-sm" id="btn_DeleteForm">Delete</button>
                        <button type="button" class="btn btn-outline-dark btn-sm d-none" id="btn_Reset">Reset</button>
                        <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print"> Download/Print </button>
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    // region page load
    
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Update").show();
        }

        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Update").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Update").show();
                }
                else {
                    $("#btn_Update").hide();
                }
            }
        }

        validate();
        GetSignaturename('patient');

        $("#udcd_6").on("keypress", function (e) {
            let keycode = e.which ? e.which : e.keycode
            if (String.fromCharCode(keycode).match(/^[0-9.]/)) {
                return true;
            }
            return false;
        })

    });
    // end region page load

    //#region Validation Initialization
    var validate = function () {
        $("#form_DubaiCareClaimDentalEdit").validate({
            rules: {
                dcd_1: {
                    required: true
                },
                dcd_6: {
                    required: true
                },
            },
            messages: {
                dcd_1: {
                    required: "Please Enter Medical Condition"
                },
                dcd_6: {
                    required: "Please Enter Total Amount"
                },

            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

    }
   //#endregion

   //#region Update  Click
    $('#btn_Update').on('click', function (e) {
        e.preventDefault();
        if ($("#form_DubaiCareClaimDentalEdit").valid()) {
            console.log($("#dcdId").val());
            $('#btn_Update').removeClass("btn btn-sm btn-success");
            $('#btn_Update').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Update').html("Updating the Record....");

            var _dateInsert = {
                "dcdId": @Model.dcdId,
                "dcd_appId": @emr.appId,
                "dcd_1": $("#udcd_1").val(),
                "dcd_2": $("#udcd_2").val(),
                "dcd_3": $("#udcd_3").val(),
                "dcd_4": $("#udcd_4").val(),
                "dcd_5": $("#udcd_5").val(),
                "dcd_6": $("#udcd_6").val(),

                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

            console.log(_dateInsert);

            $.ajax({
                type: "Post",
                url: "@Url.Action("EditDubaiCareClaimDental", "DubaiCareClaimDental", new {area = "InsuranceForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isEdited) {
                            GetDubaiCareClaimDentalInfo();
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> DubaiCare Claim Form Updated Successfully!", "success");
                            Timeout();
                            $("#DubaiCareClaimDental_edit").show();
                            $("#DubaiCareClaimDental_add").hide();
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning.. DubaiCare Claim Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion Update Click

     //#region Print
$('#btn_Print').on('click', function (e) {
    e.preventDefault();
    $('#btn_Print').removeClass("btn btn-success");
    $('#btn_Print').addClass("btn btn-success btn-loaders btn-icon");
    $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "DubaiCareClaimDental", new {area = "InsuranceForms" })?appId=" + @emr.appId + "&form=DubaiCareClaimDental",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {

                if (data.success)
                    console.log(data);
                    console.log(data.message.pdfPath); {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print

    //#region Delete Click
    $('#btn_DeleteForm').on('click', function (e) {
        e.preventDefault();
        $('#btn_DeleteForm').removeClass("btn btn-success");
        $('#btn_DeleteForm').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_DeleteForm').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteDubaiCareClaimDental", "DubaiCareClaimDental", new { area = "InsuranceForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-warning");
                $('#btn_DeleteForm').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>DubaiCare Claim Form Deleted Successfully!", "success");
                        clearControls();

                        $("#DubaiCareClaimDental_edit").hide();
                        $("#DubaiCareClaimDental_add").show();
                        AddDubaiCareClaimDental();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-Delete");
                $('#btn_DeleteForm').html("Delete");
                Timeout();
            }
        })
    });
//#endregion
    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("#upat_sign").attr("src", "");

    }
    //#endregion Clear Controls

///#region Wacom Tab Signature
    var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "DubaiCareClaimDental",
                "appId": @emr.appId,
                "formname":"DubaiCareClaimDental",
                "formlink":"",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "DubaiCareClaimDental",
            "appId": @emr.appId,
            "formname":"DubaiCareClaimDental",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            localStorage.removeItem("sign");
        }
    });

        // #region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=DubaiCareClaimDental',
                type: "GET",
                dataType: "json",
                async: false,
                success: function (response) {
                    //console.log(response);
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY");

                    if (response[0].person == "patient") {
                        $("#upat_sign_box").removeClass("d-none");
                        $("#upsb_date_patient").text(date);
                        $("#upat_sign").attr("src", sign);
                    }

                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
        //#endregion Get Signature

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout
</script>
