
@model BusinessEntities.Masters.Medicines

<div class="modal-header py-4 px-5">
    <h5 class="modal-title text-primary font-weight-semibold" id="exampleModalLongTitle">Update Medicine</h5>
    <button aria-label="Close" data-bs-dismiss="modal" class="btn-close" type="button"><span aria-hidden="true">×</span></button>
</div>
<div class="modal-body p-4">
    <form id="form_UpdateMedicine">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.itemId)
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label text-black">Branch&nbsp;<span class="text-danger">*</span></label>
                    @Html.DropDownList("item_branch", (IEnumerable<SelectListItem>)ViewData["BranchList"], "Please Select", new { @class = "form-select select2" })
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label text-black">Code/Barcode</label>
                    @Html.TextBoxFor(model => model.item_code, new { @class = "form-control", @placeholder = "Ex : IT-00001", maxlength = "48" })
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label text-black">Type&nbsp;<span class="text-danger">*</span></label>
                    @Html.DropDownListFor(model => model.item_type, new List<SelectListItem>
                       {
                          new SelectListItem{ Text="Stock", Value = "Stock" },
                          new SelectListItem{ Text="Service", Value = "Service" },
                       }, "Select Type", new { @class = "form-control select2" })
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label text-black">Group&nbsp;<span class="text-danger">*</span></label>
                    @Html.DropDownList("item_category", (IEnumerable<SelectListItem>)ViewData["CategoryList"], "Please Select", new { @class = "form-select select2" })
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label text-black">Location&nbsp;<span class="text-danger">*</span></label>
                    @Html.DropDownList("item_location", (IEnumerable<SelectListItem>)ViewData["lcoationList"], "Please Select", new { @class = "form-select select2" })
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label text-black">Name&nbsp;<span class="text-danger">*</span></label>
                    @Html.TextBoxFor(model => model.item_name, new { @class = "form-control", @placeholder = "Ex : Paracetamol", maxlength = "1450" })
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label text-black">VAT %&nbsp;<span class="text-danger">*</span></label>
                    @Html.TextBoxFor(model => model.item_vat, new { @class = "form-control mb-4 text-right", @placeholder = "0.00", @style = "width:100%;", maxlength = "5", @onkeypress = "return validateOneDecimalNumeric2(this,event);" })
                </div>
            </div>
            <div class="ccol-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label text-black">Brand</label>
                    @Html.TextBoxFor(model => model.item_brand, new { @class = "form-control mb-4", @placeholder = "Ex : ADOL", @style = "width:100%;", maxlength = "1450" })
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label text-black">Dosage</label>
                    @Html.TextBoxFor(model => model.item_dosage, new { @class = "form-control", @placeholder = "Ex : SYRUP (100ML, BOTTLE)", maxlength = "1450" })
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label text-black">Strength</label>
                    @Html.TextBoxFor(model => model.item_strength, new { @class = "form-control", @placeholder = "Ex : ORAL", maxlength = "480" })
                </div>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label text-black">Description</label>
                    @Html.TextAreaFor(model => model.item_desc, new { @class = "form-control", maxlength = "248", rows = "1" })
                </div>
            </div>
            <div class="col-sm-6 col-md-1 col-lg-1">
                <div class="form-group">
                    <label class="form-label text-black">Min Qty&nbsp;<span class="text-danger">*</span></label>
                    @Html.TextBoxFor(model => model.item_min_qty, new { @class = "form-control mb-4 text-right", @placeholder = "0.00", @style = "width:100%;", maxlength = "5", @onkeypress = "return validateOneDecimalNumeric2(this,event);" })
                </div>
            </div>
            <div class="col-sm-6 col-md-1 col-lg-1">
                <div class="form-group">
                    <label class="form-label text-black">Max Qty&nbsp;<span class="text-danger">*</span></label>
                    @Html.TextBoxFor(model => model.item_max_qty, new { @class = "form-control mb-4 text-right", @placeholder = "0.00", @style = "width:100%;", maxlength = "5", @onkeypress = "return validateOneDecimalNumeric2(this,event);" })
                </div>
            </div>
        </div>
        <div class="card" style="border:1px solid #517983 !important; padding:10px;">
            <div class="row">
                <div class="col-sm-3 col-lg-3">
                    <div class="form-group">
                        <label class="form-label">Level 0 Detail&nbsp;<span class="text-danger">*</span></label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.item_cost, new { @class = "form-control text-right", @placeholder = "0.00", maxlength = "10", @onkeypress = "return validateOneDecimalNumeric(this,event);" })
                            <div class="input-group-append" style="max-width: 70%;">
                                @Html.DropDownList("item_uom", (IEnumerable<SelectListItem>)ViewData["UOMList"], "Please Select", new { @class = "form-select select2" })
                                @Html.TextBoxFor(model => model.item_sprice, new { @class = "form-control text-right", @placeholder = "0.00", maxlength = "10", @onkeypress = "return validateOneDecimalNumeric(this,event);" })
                            </div>
                        </div>
                        <div class="valid-feedback" style="color: #3904dc; display: block; ">
                            Cost Price - UOM - Sale Price
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 col-lg-1">
                    <div class="form-group">
                        <label class="form-label">M Factor #1&nbsp;<span class="text-danger">*</span></label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.item_m_factor, new { @class = "form-control text-right", @placeholder = "1", maxlength = "5" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <div class="form-group">
                        <label class="form-label">Level 1 Detail&nbsp;<span class="text-danger">*</span></label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.item_cost2, new { @class = "form-control text-right", @placeholder = "0.00", maxlength = "10", @onkeypress = "return validateOneDecimalNumeric(this,event);", @readonly = "true" })
                            <div class="input-group-append" style="max-width: 70%;">
                                @Html.DropDownList("item_uom2", (IEnumerable<SelectListItem>)ViewData["UOMList"], "Please Select", new { @class = "form-select select2" })
                                @Html.TextBoxFor(model => model.item_sprice2, new { @class = "form-control text-right", @placeholder = "0.00", maxlength = "10", @onkeypress = "return validateOneDecimalNumeric(this,event);", @readonly = "true" })
                            </div>
                        </div>
                        <div class="valid-feedback" style="color: #3904dc; display: block; ">
                            Cost Price - UOM - Sale Price
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 col-lg-1">
                    <div class="form-group">
                        <label class="form-label">M Factor #2&nbsp;<span class="text-danger">*</span></label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.item_m_factor2, new { @class = "form-control text-right", @placeholder = "1", maxlength = "5" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <div class="form-group">
                        <label class="form-label">Level 2 Detail&nbsp;<span class="text-danger">*</span></label>
                        <div class="input-group">
                            @Html.TextBoxFor(model => model.item_cost3, new { @class = "form-control text-right", @placeholder = "0.00", maxlength = "10", @onkeypress = "return validateOneDecimalNumeric(this,event);", @readonly = "true" })
                            <div class="input-group-append" style="max-width: 70%;">
                                @Html.DropDownList("item_uom3", (IEnumerable<SelectListItem>)ViewData["UOMList"], "Please Select", new { @class = "form-select select2" })

                                @Html.TextBoxFor(model => model.item_sprice3, new { @class = "form-control text-right", @placeholder = "0.00", maxlength = "10", @onkeypress = "return validateOneDecimalNumeric(this,event);", @readonly = "true" })
                            </div>
                        </div>
                        <div class="valid-feedback" style="color: #3904dc; display: block; ">
                            Cost Price - UOM - Sale Price
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-no">
            <div class="col-sm-6 col-md-3">
                <div class="form-group">
                    <label class="form-label">Item Image&nbsp;<a style="cursor:pointer" id="viewFooter"></a></label>
                    <div class="input-group file-browser mb-4">
                        <input type="text" value="@Model.item_image" id="item_image_name" class="form-control" readonly title="File should be less than 1 MB (Allowed Formats : .jpg/png/gif)" />
                        <label class="input-group-text btn btn-primary">
                            Browse <input type="file" class="file-browserinput" style="display: none;" accept=".jpg,.jpeg,.png,.gif" id="u_item_image" name="u_item_image" placeholder="Choose Footer">
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div id="error"></div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <button type="submit" class="btn btn-warning" id="btn_Medicine_Update">Save Changes</button>
                <button type="button" class="btn btn-outline-danger me-1" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

    //#region Page Load
    $(function () {
        $('#item_branch').select2({
            minimumResultsForSearch: '',
            dropdownParent: $('#form_UpdateMedicine'),
            width: '100%'
        });
        $('#item_category').select2({
            minimumResultsForSearch: '',
            dropdownParent: $('#form_UpdateMedicine'),
            width: '100%'
        });
        $('#item_type').select2({
            minimumResultsForSearch: '',
            dropdownParent: $('#form_UpdateMedicine'),
            width: '100%'
        });
        $('#item_location').select2({
            minimumResultsForSearch: '',
            dropdownParent: $('#form_UpdateMedicine'),
            width: '100%'
        });
        $("#item_uom").select2({
            placeholder: 'Select UOM',
            width: '100%',
            dropdownParent: $('#form_UpdateMedicine')
        });
        $("#item_uom2").select2({
            placeholder: 'Select UOM',
            width: '100%',
            dropdownParent: $('#form_UpdateMedicine')
        });
        $("#item_uom3").select2({
            placeholder: 'Select UOM',
            width: '100%',
            dropdownParent: $('#form_UpdateMedicine')
        });

        $('#item_m_factor').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9+]/g))
                return false;
        });
        $('#item_m_factor2').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9+]/g))
                return false;
        });
        $("#item_m_factor").val('1');
        $("#item_m_factor2").val('1');
        $("#item_vat").val('0');
        validation();
        var _img = '@Model.item_image';
        console.log("IMage = " +_img);
        document.getElementById('item_image_name').value = _img;
    });
    //#endregion

    //#region Item Image Size Check
    document.getElementById('u_item_image').addEventListener('change', function (event) {
        var selectedFile = event.target.files[0];
        var item_image_name = document.getElementById('item_image_name');

        if (selectedFile) {
            item_image_name.value = selectedFile.name;
        } else {
            item_image_name.value = '';
        }
    });
    //#endregion

    //#region Validate Text Box with One Decimal and numeric only on Key Press
    function validateOneDecimalNumeric(el, evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        var number = el.value.split('.');
        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        //just one dot
        if (number.length > 1 && charCode == 46) {
            return false;
        }
        //get the Current position
        var caratPos = getSelectionStart(el);
        var dotPos = el.value.indexOf(".");
        if (caratPos > dotPos && dotPos > -1 && (number[1].length > 1)) {
            return false;
        }
        return true;
    }
    function validateOneDecimalNumeric2(el, evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        var number = el.value.split('.');
        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        //just one dot
        if (number.length > 1 && charCode == 46) {
            return false;
        }
        //get the Current position
        var caratPos = getSelectionStart(el);
        var dotPos = el.value.indexOf(".");
        if (caratPos > dotPos && dotPos > -1 && (number[1].length > 1)) {
            return false;
        }
        //if (el.value > 10)
        //    return false;

        return true;
    }
    function getSelectionStart(o) {
        if (o.createTextRange) {
            var r = document.selection.createRange().duplicate()
            r.moveEnd('character', o.value.length)
            if (r.text == '') return o.value.length
            return o.value.lastIndexOf(r.text)
        } else return o.selectionStart
    }

    //#endregion

    //#region caluclation

    $('#item_m_factor').change(function () {
        let vat = $("#item_m_factor").val();
        if (vat.length > 0) {
            if (parseFloat(vat) <= 0)
                $("#item_m_factor").val('1');
        }
        else
            $("#item_m_factor").val('1');
    });
    $('#item_m_factor2').change(function () {
        let vat = $("#item_m_factor2").val();
        if (vat.length > 0) {
            if (parseFloat(vat) <= 0)
                $("#item_m_factor2").val('1');
        }
        else
            $("#item_m_factor2").val('1');
    });

    $('#item_cost').keyup(function () {
        costCalculation();
    });

    $('#item_sprice').keyup(function () {
        priceCalculation();
    });
    $('#item_m_factor').keyup(function () {
        costCalculation();
        priceCalculation();
    });
    $('#item_m_factor2').keyup(function () {
        costCalculation();
        priceCalculation();
    });

    function costCalculation() {
        let cost = $('#item_cost').val();
        let m_factor = $('#item_m_factor').val();
        let m_factor2 = $('#item_m_factor2').val();
        let cost2 = parseFloat(cost / m_factor);
        let cost3 = parseFloat(cost2 / m_factor2);
        $('#item_cost2').val(cost2);
        $('#item_cost3').val(cost3);
    }
    function priceCalculation() {
        let sprice = $('#item_sprice').val();
        let m_factor = $('#item_m_factor').val();
        let m_factor2 = $('#item_m_factor2').val();
        let sprice2 = parseFloat(sprice / m_factor);
        let sprice3 = parseFloat(sprice2 / m_factor2);
        $('#item_sprice2').val(sprice2);
        $('#item_sprice3').val(sprice3);
    }

    //#endregion

    //#region Adding Validation on Feilds
    var validation = function () {
        $("#form_UpdateMedicine").validate({
            focusInvalid: true,
            rules:
            {
                item_name: {
                    required: true,
                    minlength: 3
                },
                item_branch: {
                    required: true,
                },
                item_type: {
                    required: true,
                },
                item_category: {
                    required: true,
                },
                item_location: {
                    required: true,
                },
                item_vat: {
                    required: true,
                    number: true
                },
                item_cost: {
                    required: true,
                    number: true
                },
                item_cost2: {
                    required: true,
                    number: true
                },
                item_cost3: {
                    required: true,
                    number: true
                },
                item_sprice: {
                    required: true,
                    number: true
                },
                item_sprice2: {
                    required: true,
                    number: true
                },
                item_sprice3: {
                    required: true,
                    number: true
                },
                item_m_factor: {
                    required: true,
                    number: true
                },
                item_m_factor2: {
                    required: true,
                    number: true
                },
                item_min_qty: {
                    required: true,
                    number: true
                },
                item_max_qty: {
                    required: true,
                    number: true
                },
                item_uom: {
                    required: true,
                },
                item_uom2: {
                    required: true,
                },
                item_uom3: {
                    required: true,
                },

            },
            messages: {
                item_name: {
                    required: "Enter Item Name",
                    minlength: "Min 3 characters"
                },
                item_branch: {
                    required: "Select Branch",
                },
                item_type: {
                    required: "Select Type",
                },
                item_category: {
                    required: "Select Group",
                },
                item_location: {
                    required: "Select Location",
                },
                item_vat: {
                    required: "Enter VAT Percentage",
                    number: "Numbers & One Decimal Numbers Only"
                },
                item_cost: {
                    required: "Enter Cost Price",
                    number: "Numbers & One Decimal Numbers Only"
                },
                item_cost2: {
                    required: "Enter Cost Price",
                    number: "Numbers & One Decimal Numbers Only"
                },
                item_cost3: {
                    required: "Enter Cost Price",
                    number: "Numbers & One Decimal Numbers Only"
                },
                item_sprice: {
                    required: "Enter Sales Price",
                    number: "Numbers & One Decimal Numbers Only"
                },
                item_sprice2: {
                    required: "Enter Sales Price",
                    number: "Numbers & One Decimal Numbers Only"
                },
                item_sprice3: {
                    required: "Enter Sales Price",
                    number: "Numbers & One Decimal Numbers Only"
                },
                item_m_factor: {
                    required: "Enter Multiplication Factor",
                    number: "Numbers & One Decimal Numbers Only"
                },
                item_m_factor2: {
                    required: "Enter Multiplication Factor",
                    number: "Numbers & One Decimal Numbers Only"
                },
                item_min_qty: {
                    required: "Enter Minimum Qty Alert",
                    number: "Numbers & One Decimal Numbers Only"
                },
                item_max_qty: {
                    required: "Enter Maximum Qty Alert",
                    number: "Numbers & One Decimal Numbers Only"
                },
                item_uom: {
                    required: "Select UOM",
                },
                item_uom2: {
                    required: "Select UOM",
                },
                item_uom3: {
                    required: "Select UOM",
                },
            },
            highlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                } else {
                    elem.parent().addClass('has-error');
                }
                $(element).parent().addClass('has-error');
                Error_Timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                } else {
                    elem.removeClass('has-error');
                }
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    element = $("#select2-" + elem.attr("id") + "-container").parent();
                    error.insertAfter(element);
                } else {
                    error.insertAfter(element);
                }
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
    //#endregion

    //#region Update Room Click
    $('#btn_Medicine_Update').on('click', function (e) {
        e.preventDefault();

        if ($("#form_UpdateMedicine").valid()) {

            $('#btn_Medicine_Update').removeClass("btn btn-warning");
            $('#btn_Medicine_Update').addClass("btn btn-warning btn-loaders btn-icon");
            $('#btn_Medicine_Update').parent().addClass("curdrop");
            $('.btnCloseEdit').addClass("disabled");
            $('#btn_Medicine_Update').html("Saving Changes... Please Wait");

            var _dataUpdate = {
                "itemId": "@Model.itemId",
                "item_branch": $('#item_branch').val().trim(),
                "item_name": $('#item_name').val().trim(),
                "item_code": $('#item_code').val().trim(),
                "item_type": $('#item_type').val().trim(),
                "item_location": $('#item_location').val().trim(),
                "item_category": $('#item_category').val().trim(),
                "item_vat": $('#item_vat').val().trim(),
                "item_brand": $('#item_brand').val().trim(),
                "item_dosage": $('#item_dosage').val().trim(),
                "item_strength": $('#item_strength').val().trim(),
                "item_desc": $('#item_desc').val().trim(),
                "item_uom": $('#item_uom').val().trim(),
                "item_uom2": $('#item_uom2').val().trim(),
                "item_uom3": $('#item_uom3').val().trim(),
                "item_cost": $('#item_cost').val(),
                "item_cost2": $('#item_cost2').val(),
                "item_cost3": $('#item_cost3').val(),
                "item_sprice": $('#item_sprice').val(),
                "item_sprice2": $('#item_sprice2').val(),
                "item_sprice3": $('#item_sprice3').val(),
                "item_m_factor": $('#item_m_factor').val(),
                "item_m_factor2": $('#item_m_factor2').val(),
                "item_min_qty": $('#item_min_qty').val(),
                "item_max_qty": $('#item_max_qty').val(),
                "item_qty": 0,
                "item_qty2": 0,
                "item_qty3": 0,
                "item_opening_qty": 0,
                "item_opening_qty2": 0,
                "item_opening_qty3": 0,
                "item_supplier": 1,
                "item_account": ' ',
                "item_pur_account": ' ',
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateMedicine", "Medicines", new { area = "Masters" })",
                dataType: 'json',
                data: _dataUpdate,
                success: function (data) {
                    $('#btn_Medicine_Update').parent().removeClass("curdrop");
                    $('.btnCloseEdit').removeClass("disabled");
                    $('#btn_Medicine_Update').removeClass("btn btn-warning btn-loaders btn-icon");
                    $('#btn_Medicine_Update').addClass("btn btn-warning");
                    $('#btn_Medicine_Update').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isUpdated) {
                            GetMedicines();
                            alert("<i class='fe fe-check-circle text-white'></i> Medicine Updated Successfully!", "success");
                            $('#medicine_modal').modal('toggle');
                            Timeout();
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-light-warning' role='alert'>" +
                                "<button type='button' class='btn-close text-warning' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong><i class='fa fa-exclamation-triangle text-warning'></i> Medicine Already Exists with the same details!</strong><br/>" +
                                "</div></div>";
                            $("#errorEdit").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-light-danger' role='alert'>" +
                            "<button type='button' class='btn-close text-danger' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong><i class='fa fa-ban text-danger'></i> Validation Error! Please validate before submitting.</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                            }, 5000);
                        });

                        html += "</ul></div></div>";
                        $("#errorEdit").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Medicine_Update').parent().removeClass("curdrop");
                    $('.btnCloseEdit').removeClass("disabled");
                    $('#btn_Medicine_Update').removeClass("btn btn-warning btn-loaders btn-icon");
                    $('#btn_Medicine_Update').addClass("btn btn-warning");
                    $('#btn_Medicine_Update').html("Save Changes");

                    $('#medicine_modal').modal('toggle');
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion

    //#region Clear Text Boxes Data
    var clearData = function () {
        $('#item_name').val('');
        $('#item_code').val('');
        $('#item_vat').val('0');
        $('#item_brand').val('');
        $('#item_dosage').val('');
        $('#item_strangth').val('');
        $('#item_desc').val('');
        $('#item_min_qty').val('');
        $('#item_max_qty').val('');
        $('#item_branch').val('0').trigger('change');
        $('#item_category').val('0').trigger('change');
        $('#item_location').val('0').trigger('change');
        $('#item_type').val('0').trigger('change');
        $('#item_cost').val('');
        $('#item_cost2').val('');
        $('#item_cost3').val('');
        $('#item_sprice').val('');
        $('#item_sprice2').val('');
        $('#item_sprice3').val('');
        $('#item_m_factor').val('1');
        $('#item_m_factor2').val('1');
        $('#item_uom').val('0').trigger('change');
        $('#item_uom2').val('0').trigger('change');
        $('#item_uom3').val('0').trigger('change');
    }
    //#endregion

    //#region Remove Valiate Error Class Timeout
    function Error_Timeout(_id) {
        setTimeout(function () {
            $(".has-error").removeClass("has-error");
            $(".error").removeClass("error");
            $("#" + _id + "-error").text("");
        }, 4200);
    }
    //#endregion

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion
</script>
