@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConsentForms.ImageComparision

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_ImageComparision" autocomplete="off" name="ImageComparision" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-12 p-2">
            <div class="border ">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name:&nbsp;</label></div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID:&nbsp;</label></div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <label class="form-label text-red text-left">@emr.pat_emirateid&nbsp;</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No :&nbsp;</label></div>

                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code&nbsp;</label>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB&nbsp;</label></div>

                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob&nbsp;</label>
                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality:&nbsp;</label></div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality&nbsp;</label>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender&nbsp;</label></div>

                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender&nbsp;</label>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name	:&nbsp;</label></div>

                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name&nbsp;</label>
                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date&nbsp;</label></div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5 mt-5 mb-4 col-sm-12 col-md-12 col-lg-12 font-weight-semibold text-justify">
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            <label class="form-label">Title</label>
            @Html.TextBoxFor(m => m.cic_title, new { @class = "form-control", @width = "20px", @id = "cic_title", @maxlength = "250" })
        </div>
        <div class="form-group">
            <label class="form-label">ImageComparision Description&nbsp;<small class="text-info">(Optional)</small></label>
            <textarea id="cic_discription" name="cic_discription" class="form-control mb-2" placeholder="Ex:Patient Medical History Document" rows="4"></textarea>
        </div>
        <div class="form-group mb-0">
            <input id="cic_doc" type="file" name="files" accept=".jpg, .png, image/jpeg, image/png,.pdf" multiple>
            <input id="img_doc" type="file" name="files" accept=".jpg, .png, image/jpeg, image/png,.pdf" multiple>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-success btn-sm" id="btn_Insert">Save Changes</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset_C">Reset</button>
                <button type="submit" class="btn btn-outline-danger btn-sm" id="btn_Close_Add" style="display:none">
                    Close
                </button>
                <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print_C">Download/Print </button>
            </div>
        </div>
    </div>
</form>












<!--<style>
    .ff_fileupload_dialog_background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.85);
        z-index: 99999999;
    }
</style>
<script type="text/javascript">
    //#region page Load
        $(function () {


        var token;
		    $('#pat_docs').FancyFileUpload({
			    params : {
				    action : 'fileuploader'
			    },
                maxfilesize: 5242880,
			    startupload: function (SubmitUpload, e, data) {
                    var formData = new FormData();
                    formData.append('id', @emr.appId);-->
                    @*formData.append('type', '@Model.reftype');*@
                    <!--formData.append('label', $("#cic_label").val());
                    formData.append('files', data.files[0]);
                    formData.append('cic_category', '');

				    $.ajax({
					    url:  "@Url.Action("UploadFiles", "Patient", new { area = "Patient" })",
					    data: formData,
					    type: 'POST',
					    contentType: false,
					    processData: false,
					    success: function(tokendata) {
						    token = tokendata;
						    console.log(tokendata);
                            SubmitUpload();
					    },
					    error: function(err) {
						    console.log(err);
					    }
				    });
			    },
			    continueupload : function(e, data) {
				    var ts = Math.round(new Date().getTime() / 1000);

				    // Alternatively, just call data.abort() or return false here to terminate the upload but leave the UI elements alone.
				    if (token.expires < ts)  data.ff_info.RemoveFile();
			    },
			    uploadcancelled : function(e, data) {
				    console.log("uploadcancelled");
			    },
			    uploadcompleted : function(e, data) {-->
                    @*GetDocuments(@emr.appId, '@Model.cic_reftype');*@
				    <!--data.ff_info.RemoveFile();
			    }
            });
            });
    //#endregion page Load


</script>-->

