@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Regenera Consent";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Regenera Treatment Consent Form
                    <br /><span dir="rtl" class="text-right">نموذج الموافقة على علاج ريجينيرا </span>
                </h3>
            </div>
            <div class="card-body">
                <div id="RegeneraConsent_add" style="display:none">
                </div>
                <div id="RegeneraConsent_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="RegeneraConsent_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetRegeneraConsentInfo();
        RegeneraConsentPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetRegeneraConsentInfo
    var GetRegeneraConsentInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetRegeneraConsentData", "RegeneraConsent", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditRegeneraConsent();
                        $("#RegeneraConsent_add").hide();
                        $("#RegeneraConsent_edit").show();

                    }
                    else {
                        $("#RegeneraConsent_add").show();
                        $("#RegeneraConsentt_edit").hide();
                        AddRegeneraConsent();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load RegeneraConsent

    //#region Add RegeneraConsent
    function AddRegeneraConsent() {
        var x = $("#RegeneraConsent_add");
        x.load("@Url.Action("CreateRegeneraConsent", "RegeneraConsent", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add RegeneraConsent

    // #region Update RegeneraConsent
    function EditRegeneraConsent() {
        var x = $("#RegeneraConsent_edit");
        x.load("@Url.Action("UpdateRegeneraConsent", "RegeneraConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update RegeneraConsent

        // #region Histroy of RegeneraConsent
    function RegeneraConsentPreviousHistory() {
        var x = $("#RegeneraConsent_history");
        x.load("@Url.Action("RegeneraConsentPreviousHistory", "RegeneraConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion History of RegeneraConsent


</script>