@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Thread Lift Derma";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Informed Consent Thread Lift Procedure</h3>
            </div>
            <div class="card-body">
                <div id="ThreadLiftDerma_add" style="display:none">
                </div>
                <div id="ThreadLiftDerma_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="ThreadLiftDerma_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetThreadLiftDermaInfo();
        ThreadLiftDermaPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetThreadLiftDermaInfo
    var GetThreadLiftDermaInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetThreadLiftDermaData", "ThreadLiftDerma", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditThreadLiftDerma();
                        $("#ThreadLiftDerma_add").hide();
                        $("#ThreadLiftDerma_edit").show();

                    }
                    else {
                        $("#ThreadLiftDerma_add").show();
                        $("#ThreadLiftDerma_edit").hide();
                        AddThreadLiftDerma();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load ThreadLiftDerma

    //#region Add ThreadLiftDerma
    function AddThreadLiftDerma() {
        var x = $("#ThreadLiftDerma_add");
        x.load("@Url.Action("CreateThreadLiftDerma", "ThreadLiftDerma", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add ThreadLiftDerma

    // #region Update ThreadLiftDerma
    function EditThreadLiftDerma() {
        var x = $("#ThreadLiftDerma_edit");
        x.load("@Url.Action("UpdateThreadLiftDerma", "ThreadLiftDerma", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update ThreadLiftDerma

        // #region Histroy of ThreadLiftDerma
    function ThreadLiftDermaPreviousHistory() {
        var x = $("#ThreadLiftDerma_history");
        x.load("@Url.Action("ThreadLiftDermaPreviousHistory", "ThreadLiftDerma", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion History of ThreadLiftDerma

</script>