@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Prp Consent Form Index";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }

}


<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Prp Consent Form
                    <br /><span>نموذج موافقة Prp</span>
                </h3>
            </div>
            <div class="card-body">
                <div id="PrpConsentForm_add" style="display:none">
                </div>
                <div id="PrpConsentForm_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="PrpConsentForm_history">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //#region Page Load
    $(function () {
        GetPrpConsentFormInfo();
        PrpConsentFormPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetPrpConsentFormInfo
    var GetPrpConsentFormInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetPrpConsentFormData", "PrpConsentForm", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditPrpConsentForm();
                        $("#PrpConsentForm_add").hide();
                        $("#PrpConsentForm_edit").show();

                    }
                    else {
                        $("#PrpConsentForm_add").show();
                        $("#PrpConsentForm_edit").hide();
                        AddPrpConsentForm();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load PrpConsentForm

    //#region Add PrpConsentForm
    function AddPrpConsentForm() {
        var x = $("#PrpConsentForm_add");
        x.load("@Url.Action("CreatePrpConsentForm", "PrpConsentForm", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add PrpConsentForm

    //#region Update PrpConsentForm
    function EditPrpConsentForm() {
        var x = $("#PrpConsentForm_edit");
        x.load("@Url.Action("UpdatePrpConsentForm", "PrpConsentForm", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update PrpConsentForm

    //#region Histroy of PrpConsentForm
    function PrpConsentFormPreviousHistory() {
        var x = $("#PrpConsentForm_history");
        x.load("@Url.Action("PrpConsentFormPreviousHistory", "PrpConsentForm", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>