@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Photo Consent Derma";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Photograph/Media Consent And Release</h3>
            </div>
            <div class="card-body">
                <div id="PhotoConsentDerma_add" style="display:none">
                </div>
                <div id="PhotoConsentDerma_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="PhotoConsentDerma_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetPhotoConsentDermaInfo();
        PhotoConsentDermaPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetPhotoConsentDermaInfo
    var GetPhotoConsentDermaInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetPhotoConsentDermaData", "PhotoConsentDerma", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditPhotoConsentDerma();
                        $("#PhotoConsentDerma_add").hide();
                        $("#PhotoConsentDerma_edit").show();

                    }
                    else {
                        $("#PhotoConsentDerma_add").show();
                        $("#PhotoConsentDerma_edit").hide();
                        AddPhotoConsentDerma();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load PhotoConsentDerma

    //#region Add PhotoConsentDerma
    function AddPhotoConsentDerma() {
        var x = $("#PhotoConsentDerma_add");
        x.load("@Url.Action("CreatePhotoConsentDerma", "PhotoConsentDerma", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add PhotoConsentDerma

    // #region Update PhotoConsentDerma
    function EditPhotoConsentDerma() {
        var x = $("#PhotoConsentDerma_edit");
        x.load("@Url.Action("UpdatePhotoConsentDerma", "PhotoConsentDerma", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update PhotoConsentDerma

    // #region Histroy of PhotoConsentDerma
    function PhotoConsentDermaPreviousHistory() {
        var x = $("#PhotoConsentDerma_history");
        x.load("@Url.Action("PhotoConsentDermaPreviousHistory", "PhotoConsentDerma", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>