@using BusinessEntities;
@using System.Linq;
@using System.Security.Claims;

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");


    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "DischargeSummaryForCclIndex";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Discharge Summary For Ccl + Fcat
                </h3>
            </div>
            <div class="card-body">
                <div id="DischargeSummaryForCcl_add" style="display:none">
                </div>
                <div id="DischargeSummaryForCcl_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="DischargeSummaryForCcl_history">
                </div>
            </div>
        </div>
    </div>
</div>
@*@section myScripts{*@
    <script>
        //#region Page Load
        $(function () {
            GetDischargeSummaryForCclInfo();
            DischargeSummaryForCclPreviousHistory();

        });
        //#endregion Page Load

        //#region Load GetDischargeSummaryForCclInfo
        var GetDischargeSummaryForCclInfo = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetDischargeSummaryForCclData", "DischargeSummaryForCcl", new { area = "ConsentForms" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        if (response.length > 0) {
                            EditDischargeSummaryForCcl();
                            $("#DischargeSummaryForCcl_add").hide();
                            $("#DischargeSummaryForCcl_edit").show();

                        }
                        else {
                            $("#DischargeSummaryForCcl_add").show();
                            $("#DischargeSummaryForCcl_edit").hide();
                            AddDischargeSummaryForCcl();
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
        //#endregion Load DischargeSummaryForCcl

        //#region Add DischargeSummaryForCcl
        function AddDischargeSummaryForCcl() {
            var x = $("#DischargeSummaryForCcl_add");
            x.load("@Url.Action("CreateDischargeSummaryForCcl", "DischargeSummaryForCcl", new { area = "ConsentForms" })", function () {
          });
        }
        //#endregion Add DischargeSummaryForCcl

        //#region Update DischargeSummaryForCcl
        function EditDischargeSummaryForCcl() {
            var x = $("#DischargeSummaryForCcl_edit");
            x.load("@Url.Action("UpdateDischargeSummaryForCcl", "DischargeSummaryForCcl", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
          //#endregion Update DischargeSummaryForCcl

          //#region Histroy of DischargeSummaryForCcl
        function DischargeSummaryForCclPreviousHistory() {
            var x = $("#DischargeSummaryForCcl_history");
            x.load("@Url.Action("DischargeSummaryForCclPreviousHistory", "DischargeSummaryForCcl", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
        //#endregion History of DischargeSummaryForCcl


    </script>

@*}*@
