@model BusinessEntities.EMR.MedicalDecision
@{
    ViewBag.Title = "Print Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>
<div class="row" id="printDiv"  >
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-center">
                    <img src="@Model.set_header_image" />
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-4 ">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div>
                                    <h4 class="page-title mb-0 text-primary">
                                        Radiology Request
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label class="form-label">
                                        Number of Diagnosis or Management Options&nbsp;
                                    </label>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox"  Disabled class="custom-control-input" name="md_chk" value="1" id="u1">
                                            <span class="custom-control-label">Self limited or minor 1</span>
                                        </label>
                                    </div>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox"  Disabled class="custom-control-input" name="md_chk" value="2" id="u2">
                                            <span class="custom-control-label">Self limited or minor 2</span>
                                        </label>
                                    </div>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox"  Disabled class="custom-control-input" name="md_chk" value="3" id="u3">
                                            <span class="custom-control-label">Established problem, stable, improved</span>
                                        </label>
                                    </div>


                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label class="form-label">
                                        &nbsp;
                                    </label>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox"  Disabled class="custom-control-input" name="md_chk" value="4" id="u4">
                                            <span class="custom-control-label">Established problem, worsening</span>
                                        </label>
                                    </div>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox"  Disabled class="custom-control-input" name="md_chk" value="5" id="u5">
                                            <span class="custom-control-label">New problem: no additional work up plan</span>
                                        </label>
                                    </div>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox"  Disabled class="custom-control-input" name="md_chk" value="6" id="u6">
                                            <span class="custom-control-label">New problem: additional work up plan</span>
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label class="form-label">Amount / Complexity of Data to be reviewed&nbsp;</label>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox"  Disabled class="custom-control-input" name="md_chk" value="7" id="u7">
                                            <span class="custom-control-label">order of clinical lab</span>
                                        </label>
                                    </div>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox"  Disabled class="custom-control-input" name="md_chk" value="8" id="u8">
                                            <span class="custom-control-label">Radiology Exam(s) order</span>
                                        </label>
                                    </div>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox"  Disabled class="custom-control-input" name="md_chk" value="9" id="u9">
                                            <span class="custom-control-label">order of medicine</span>
                                        </label>
                                    </div>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox"  Disabled class="custom-control-input" name="md_chk" value="10" id="u10">
                                            <span class="custom-control-label">Discussion of tests w/other physicians</span>
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label class="form-label">&nbsp;</label>

                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox"  Disabled class="custom-control-input" name="md_chk" value="11" id="u11">
                                            <span class="custom-control-label">obtain old records</span>
                                        </label>
                                    </div>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox"  Disabled class="custom-control-input" name="md_chk" value="12" id="u12">
                                            <span class="custom-control-label">Independent Visualization of image tracing or specimen itself</span>
                                        </label>
                                    </div>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox"  Disabled class="custom-control-input" name="md_chk" value="13" id="u13">
                                            <span class="custom-control-label">Reviewed of old records</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">Risk of Complications Morbidity , Mortality&nbsp;</label>
                                    <label class="form-label text-black text-left">@Model.md_txt4&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">Notes on Review of old Records:&nbsp;</label>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox"  Disabled class="custom-control-input" name="md_chk" value="14" id="u14">
                                            <span class="custom-control-label">N/A</span>
                                        </label>
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox"  Disabled class="custom-control-input" name="md_chk" value="15" id="u15">
                                            <span class="custom-control-label">Review</span>
                                        </label>
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox"  Disabled class="custom-control-input" name="md_chk" value="16" id="u16">
                                            <span class="custom-control-label">Update</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">&nbsp;</label>
                                    <label class="form-label text-black text-left">@Model.md_txt2&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Notes of Review of Results (Lab, Diagnostics, Other Tests)&nbsp;</label>
                                    <label class="form-label text-black text-left">@Model.md_txt3&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">Last Assessment| Clinical |Impression :&nbsp;</label>
                                    <label class="form-label text-black text-left">@Model.md_txt1&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Treatment Plan:&nbsp;</label>
                                    <label class="form-label text-black text-left">@Model.md_txt5&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="form-label">Follow up:&nbsp;</label>
                                    <label class="form-label text-black text-left">@Model.md_txt6&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group mb-3">
                                    <label class="form-label">Other:&nbsp;</label>
                                    <label class="form-label text-black text-left">@Model.md_txt7&nbsp;</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="text-center">
                    <img src="@Model.set_footer_image" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        var data = "@Model.md_chk";
        var x = data.split(",");
        if (x != "") {
            console.log(x);
            if (x.includes("1")) {
                $('#u1').attr('checked', 'checked');
                $("#u1").prop("checked", true);
            }
            if (x.includes("2")) {
                $('#u2').attr('checked', 'checked');
                $("#u2").prop("checked", true);
            }
            if (x.includes("3")) {
                $('#u3').attr('checked', 'checked');
                $("#u3").prop("checked", true);
            }
            if (x.includes("4")) {
                $('#u4').attr('checked', 'checked');
                $("#u4").prop("checked", true);
            }
            if (x.includes("5")) {
                $('#u5').attr('checked', 'checked');
                $("#u5").prop("checked", true);
            }
            if (x.includes("6")) {
                $('#u6').attr('checked', 'checked');
                $("#u6").prop("checked", true);
            }
            if (x.includes("7")) {
                $('#u7').attr('checked', 'checked');
                $("#u7").prop("checked", true);
            }
            if (x.includes("8")) {
                $('#u8').attr('checked', 'checked');
                $("#u8").prop("checked", true);
            }
            if (x.includes("9")) {
                $('#u9').attr('checked', 'checked');
                $("#u9").prop("checked", true);
            }
            if (x.includes("10")) {
                $('#u10').attr('checked', 'checked');
                $("#u10").prop("checked", true);
            }
            if (x.includes("11")) {
                $('#u11').attr('checked', 'checked');
                $("#u11").prop("checked", true);
            }
            if (x.includes("12")) {
                $('#u12').attr('checked', 'checked');
                $("#u12").prop("checked", true);
            }
            if (x.includes("13")) {
                $('#u13').attr('checked', 'checked');
                $("#u13").prop("checked", true);
            }
            if (x.includes("14")) {
                $('#u14').attr('checked', 'checked');
                $("#u14").prop("checked", true);
            }
            if (x.includes("15")) {
                $('#u15').attr('checked', 'checked');
                $("#u15").prop("checked", true);
            }
            if (x.includes("16")) {
                $('#u16').attr('checked', 'checked');
                $("#u16").prop("checked", true);
            }

        }
    });
    //#region Print Button Click
    $('#btnPrint').on('click', function (e) {
        var elem = 'printDiv';
        var header_str = '<html><head><title>' + document.title + '</title></head><body>';
        var footer_str = '</body></html>';
        var new_str = document.getElementById(elem).innerHTML;
        var old_str = document.body.innerHTML;
        document.body.innerHTML = header_str + new_str + footer_str;
        window.print();
        document.body.innerHTML = old_str;
        return false;
    });

    //#endregion


</script>


