@using System.Data
@model DataTable

<style type="text/css">
    #sizeC {
        max-width: 1200px;
    }
</style>
<div class="modal-body shadow-lg">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="expanel expanel-primary">
                <div class="expanel-heading">
                    <h3 class="expanel-title">Recurring Appointments Overview</h3>
                </div>
                <div class="expanel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered border-top table-hover text-nowrap" id="tbl_bulk">
                            <thead>
                                <tr class="border-1 bg-secondary">
                                    <th class="wd-15p border-bottom-0 text-white">Appointment Date</th>
                                    <th class="wd-15p border-bottom-0 text-white">Day</th>
                                    <th class="wd-15p border-bottom-0 text-white">Start Time</th>
                                    <th class="wd-20p border-bottom-0 text-white">End Time</th>
                                    <th class="wd-20p border-bottom-0 text-white text-center">Slot Availability</th>
                                    <th class="wd-15p border-bottom-0 text-white text-center">Doctor Availability</th>
                                    <th class="wd-15p border-bottom-0 text-white text-center">Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (DataRow dr in Model.Rows)
                                {
                                    <tr>
                                        <td>@Convert.ToDateTime(dr["app_fdate"].ToString()).ToString("dd-MM-yyyy")</td>
                                        <td>@Convert.ToDateTime(dr["app_fdate"].ToString()).ToString("dddd")</td>
                                        <td>@dr["app_doc_ftime"].ToString()</td>
                                        <td>@dr["app_doc_ttime"].ToString()</td>
                                        @if (Convert.ToInt32(dr["isBooked"].ToString()) == 0)
                                        {
                                            <td class="text-center"><span class="badge bg-success-light border-success fs-11">Available</span></td>
                                        }
                                        else
                                        {
                                            <td class="text-center"><span class="badge bg-danger-light border-danger fs-11">Not Available</span></td>
                                        }
                                        @if (Convert.ToInt32(dr["isAvailable"].ToString()) == 1)
                                        {
                                            <td class="text-center"><span class="badge bg-success-light border-success fs-11">Available</span></td>
                                        }
                                        else
                                        {
                                            <td class="text-center"><span class="badge bg-danger-light border-danger fs-11">Not Available</span></td>
                                        }
                                        @if ((Convert.ToInt32(dr["isBooked"].ToString()) == 0) && (Convert.ToInt32(dr["isAvailable"].ToString()) == 1))
                                        {
                                            <td class="text-center"><i class="fe fe-check-circle fa-lg text-success" title="Booking Confirmed"></i></td>
                                        }
                                        else
                                        {
                                            <td class="text-center"><i class="fa fa-times fa-lg text-danger" title="Booking will be skipped"></i></td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="expanel-footer bg-white border-top-0 mb-2">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center">
                            <button class="btn btn-primary" type="button" id="btn_Confirm">Confirm</button>
                            <button type="button" class="btn btn-danger ms-2" data-bs-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    //#region Document Load
    $(function () {
        var table = $('#tbl_bulk').DataTable({
            "pageLength": 10,
            bFilter: false,
            bInfo: false
        });
    })
    //#endregion

    //#region Confirm Appointment Click
    $('#btn_Confirm').on('click', function (e) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("InsertBulkAppointments", "Appointment", new { area = "Appointment" })",
            dataType: 'json',
            success: function (response) {
                let _id = parseInt(response);
                var _toast_html = "";

                if (_id !== undefined && _id !== "" && _id !== null) {
                    if (_id === -1) {
                        _toast_html = toast_html('info', 'Appointment', '<i class="fe fe-alert-triangle me-2 text-warning"></i> Appointment already exists with the same details!');
                    }
                    else if (_id > 0) {
                        _toast_html = toast_html('success', 'Appointment', '<i class="fe fe-check-circle me-2 text-success"></i> You have successfully booked the appointment!');
                        Calendar.init();
                    }
                    else {
                        _toast_html = toast_html('error', 'Appointment', '<i class="fe fe-slash me-2 text-danger"></i> Failed to Book Appointment. Please Try Again!');
                    }
                }
                else {
                    _toast_html = toast_html('error', 'Appointment', '<i class="fe fe-slash me-2 text-danger"></i> Failed to Book Appointment. Please Try Again!');
                }

                $('#confirm_modal').modal('toggle');
                $('#create_appointment_modal').modal('toggle');

                var calenderToast = document.getElementById('calenderToast');
                calenderToast.innerHTML = _toast_html;
                var toast = new bootstrap.Toast(calenderToast)
                toast.show();
            },
            error: function (xhr) {
                console.log(xhr);
                $('#confirm_modal').modal('toggle');
                $('#create_appointment_modal').modal('toggle');

                var _toast_html = toast_html('error', 'Appointment', 'Error while Booking Appointments! ' + xhr.statusText);
                var calenderToast = document.getElementById('calenderToast');
                calenderToast.innerHTML = _toast_html;
                var toast = new bootstrap.Toast(calenderToast)
                toast.show();
            }
        });
    });
    //#endregion
</script>