@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Occupational Therapy Form";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Physiotherapy And Occupational Therapy Form
                </h3>
            </div>
            <div class="card-body">
                <div id="OccupationalTherapyForm_add" style="display:none">
                </div>
                <div id="OccupationalTherapyForm_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="OccupationalTherapyForm_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetOccupationalTherapyFormInfo();
        OccupationalTherapyFormPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetLanguageProgressFormInfo
    var GetOccupationalTherapyFormInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetOccupationalTherapyFormData", "OccupationalTherapyForm", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditOccupationalTherapyForm();
                        $("#OccupationalTherapyForm_add").hide();
                        $("#OccupationalTherapyForm_edit").show();

                    }
                    else {
                        $("#OccupationalTherapyForm_add").show();
                        $("#OccupationalTherapyForm_edit").hide();
                        AddOccupationalTherapyForm();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load OccupationalTherapyForm

    //#region Add OccupationalTherapyForm
    function AddOccupationalTherapyForm() {
        var x = $("#OccupationalTherapyForm_add");
        x.load("@Url.Action("CreateOccupationalTherapyForm", "OccupationalTherapyForm", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add OccupationalTherapyForm

    // #region Update OccupationalTherapyForm
    function EditOccupationalTherapyForm() {
        var x = $("#OccupationalTherapyForm_edit");
        x.load("@Url.Action("UpdateOccupationalTherapyForm", "OccupationalTherapyForm", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update OccupationalTherapyForm

    // #region Histroy of OccupationalTherapyForm
    function OccupationalTherapyFormPreviousHistory() {
        var x = $("#OccupationalTherapyForm_history");
        x.load("@Url.Action("OccupationalTherapyFormPreviousHistory", "OccupationalTherapyForm", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>