@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Alopecia Consent";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Alopecia Treatment Consent Form<br /><span dir="rtl">نموذج الموافقة على علاج الثعلبة</span></h3>
            </div>
            <div class="card-body">
                <div id="AlopeciaConsent_add" style="display:none">
                </div>
                <div id="AlopeciaConsent_edit">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="AlopeciaConsent_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetAlopeciaConsentInfo();
        AlopeciaConsentPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetAlopeciaConsentInfo
    var GetAlopeciaConsentInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetAlopeciaConsentData", "AlopeciaConsent", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditAlopeciaConsent();
                        $("#AlopeciaConsent_add").hide();
                        $("#AlopeciaConsent_edit").show();

                    }
                    else {
                        $("#AlopeciaConsent_add").show();
                        $("#AlopeciaConsent_edit").hide();
                        AddAlopeciaConsent();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load AlopeciaConsent

    //#region Add AlopeciaConsent
    function AddAlopeciaConsent() {
        var x = $("#AlopeciaConsent_add");
        x.load("@Url.Action("CreateAlopeciaConsent", "AlopeciaConsent", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add AlopeciaConsent

    //#region Update AlopeciaConsent
    function EditAlopeciaConsent() {
        var x = $("#AlopeciaConsent_edit");
        x.load("@Url.Action("UpdateAlopeciaConsent", "AlopeciaConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update AlopeciaConsent

    //#region Histroy of AlopeciaConsent
    function AlopeciaConsentPreviousHistory() {
        var x = $("#AlopeciaConsent_history");
        x.load("@Url.Action("AlopeciaConsentPreviousHistory", "AlopeciaConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>