@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Dmax Fractional Laser";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Fractional Laser Consent Form</h3>
            </div>
            <div class="card-body">
                <div id="DmaxFractionalLaser_add" style="display:none">
                </div>
                <div id="DmaxFractionalLaser_edit">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="DmaxFractionalLaser_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetDmaxFractionalLaserInfo();
    DmaxFractionalLaserPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetDmaxFractionalLaserInfo
    var GetDmaxFractionalLaserInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetDmaxFractionalLaserData", "DmaxFractionalLaser", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditDmaxFractionalLaser();
                        $("#DmaxFractionalLaser_add").hide();
                        $("#DmaxFractionalLaser_edit").show();

                    }
                    else {
                        $("#DmaxFractionalLaser_add").show();
                        $("#DmaxFractionalLaser_edit").hide();
                        AddDmaxFractionalLaser();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load DmaxFractionalLaser

    //#region Add DmaxFractionalLaser
    function AddDmaxFractionalLaser() {
        var x = $("#DmaxFractionalLaser_add");
        x.load("@Url.Action("CreateDmaxFractionalLaser", "DmaxFractionalLaser", new { area = "ConsentForms" })", function () {
    });
    }
    //#endregion Add DmaxFractionalLaser

    // #region Update DmaxFractionalLaser
    function EditDmaxFractionalLaser() {
        var x = $("#DmaxFractionalLaser_edit");
        x.load("@Url.Action("UpdateDmaxFractionalLaser", "DmaxFractionalLaser", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
    });
    }
    //#endregion Update DmaxFractionalLaser

    // #region History of DmaxFractionalLaser
    function DmaxFractionalLaserPreviousHistory() {
        var x = $("#DmaxFractionalLaser_history");
        x.load("@Url.Action("DmaxFractionalLaserPreviousHistory", "DmaxFractionalLaser", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
    });
    }
    //#endregion
</script>