@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Informed Consent Botox";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Informed Consent For Botox Botulinum Injections</h3>
            </div>
            <div class="card-body">
                <div id="InformedConsentBotox_add" style="display:none">
                </div>
                <div id="InformedConsentBotox_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="InformedConsentBotox_history">
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    //#region Page Load
    $(function () {
        GetInformedConsentBotoxInfo();
        InformedConsentBotoxPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetInformedConsentBotoxInfo
        var GetInformedConsentBotoxInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetInformedConsentBotoxData", "InformedConsentBotox", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditInformedConsentBotox();
                        $("#InformedConsentBotox_add").hide();
                        $("#InformedConsentBotox_edit").show();

                    }
                    else {
                        $("#InformedConsentBotox_add").show();
                        $("#InformedConsentBotox_edit").hide();
                        AddInformedConsentBotox();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load InformedConsentBotox

    //#region Add InformedConsentBotox
        function AddInformedConsentBotox() {
            var x = $("#InformedConsentBotox_add");
        x.load("@Url.Action("CreateInformedConsentBotox", "InformedConsentBotox", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add InformedConsentBotox

    //#region Update InformedConsentBotox
        function EditInformedConsentBotox() {
            var x = $("#InformedConsentBotox_edit");
        x.load("@Url.Action("UpdateInformedConsentBotox", "InformedConsentBotox", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update InformedConsentBotox

    //#region Histroy of InformedConsentBotox
    function InformedConsentBotoxPreviousHistory() {
        var x = $("#InformedConsentBotox_history");
    x.load("@Url.Action("InformedConsentBotoxPreviousHistory", "InformedConsentBotox", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
    });
}
//#endregion History of InformedConsentBotox
</script>