@using BusinessEntities;
@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Green Peel Consent Index";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }

}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Green Peel or Chemical Peeling Consent Form
                    <br /><span dir="rtl">نموذج الموافقة على التقشير الأخضر أو ​​التقشير الكيميائي</span>
                </h3>
            </div>
            <div class="card-body">
                <div id="GreenPeelConsent_add" style="display:none">
                </div>
                <div id="GreenPeelConsent_edit">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="GreenPeelConsent_history">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //#region Page Load
    $(function () {
        GetGreenPeelConsentInfo();
        GreenPeelConsentPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetGreenPeelConsentInfo
    var GetGreenPeelConsentInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetGreenPeelConsentData", "GreenPeelConsent", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditGreenPeelConsent();
                        $("#GreenPeelConsent_add").hide();
                        $("#GreenPeelConsent_edit").show();

                    }
                    else {
                        $("#GreenPeelConsent_add").show();
                        $("#GreenPeelConsent_edit").hide();
                        AddGreenPeelConsent();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load GreenPeelConsent

    //#region Add GreenPeelConsent
    function AddGreenPeelConsent() {
        var x = $("#GreenPeelConsent_add");
        x.load("@Url.Action("CreateGreenPeelConsent", "GreenPeelConsent", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add GreenPeelConsent

    //#region Update GreenPeelConsent
    function EditGreenPeelConsent() {
        var x = $("#GreenPeelConsent_edit");
        x.load("@Url.Action("UpdateGreenPeelConsent", "GreenPeelConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update GreenPeelConsent

    //#region Histroy of GreenPeelConsent
    function GreenPeelConsentPreviousHistory() {
        var x = $("#GreenPeelConsent_history");
        x.load("@Url.Action("GreenPeelConsentPreviousHistory", "GreenPeelConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>