@using BusinessEntities;
@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Amity Form Dental Index";

        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="row text-left mt-4">
                <div class="col-lg-12 col-md-12 col-lg-2 text-left" style="width:70px">
                    <img src="~/images/InsuranceForms/AMITY/AMITYForm.jpg" />
                </div>
                <div class="col-lg-12 col-md-12 col-lg-10 text-center">
                    <h3 class="card-title">AMITY HEALTH <br />Medical Provider Claim Form</h3>
                </div>
            </div>
            <div class="card-header">
                @*<h3 class="card-title">AMITY HEALTH <br/>Medical Provider Claim Form</h3>*@
            </div>
            <div class="text-red p-2">Required fields are marked with *</div>
            <div class="card-body">
                <div id="AmityFormDental_add" style="display:none">
                </div>
                <div id="AmityFormDental_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="AmityFormDental_history">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //#region Page Load
    $(function () {
        GetAmityFormDentalInfo();
        AmityFormDentalPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetAmityFormDentalInfo
    var GetAmityFormDentalInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetAmityFormDentalData", "AmityFormDental", new { area = "InsuranceForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditAmityFormDental();
                        $("#AmityFormDental_add").hide();
                        $("#AmityFormDental_edit").show();

                    }
                    else {
                        $("#AmityFormDental_add").show();
                        $("#AmityFormDental_edit").hide();
                        AddAmityFormDental();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load AmityFormDental

    //#region Add AmityFormDental
    function AddAmityFormDental() {
        var x = $("#AmityFormDental_add");
        x.load("@Url.Action("CreateAmityFormDental", "AmityFormDental", new { area = "InsuranceForms" })", function () {
        });
    }
    //#endregion Add AmityFormDental

    // #region Update AmityFormDental
    function EditAmityFormDental() {
        var x = $("#AmityFormDental_edit");
        x.load("@Url.Action("UpdateAmityFormDental", "AmityFormDental", new { area = "InsuranceForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update AmityFormDental

    // #region Histroy of AafiyaFormDental
    function AmityFormDentalPreviousHistory() {
        var x = $("#AmityFormDental_history");
        x.load("@Url.Action("AmityFormDentalPreviousHistory", "AmityFormDental", new { area = "InsuranceForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Histroy of AmityFormDental
</script>