@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.InsuranceForms.AmityFormDental

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<style>
    .vertical-text {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }

    /*div.text-start {
        border: 2px 0 0;
        transform: rotate(180deg);
    }*/
</style>


<form id="form_AmityFormDental" autocomplete="off" name="AmityFormDental" ondrop="return false;" onpaste="return false;" oncut="return false;" class="fs-14">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.mpdId, new { @id = "mpdId", @value = "@Model.mpdId" })
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="d-flex align-items-center border border-1 ">
                <div class="bg-red-dark text-white p-4">
                    <div class="vertical-text">Provider</div>
                </div>
                <div class="fw-bold justify-content-center">Provider Name</div>
                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                    :
                </div>
                <span class="text-red">@emr.set_company</span>
            </div>
            <div class="d-flex align-items-center border border-1">
                <div class="bg-red-dark text-white p-4">
                    <div class="vertical-text">Patient</div>
                </div>
                <div class="fw-bold justify-content-center">
                    Cover Number
                </div>
                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                    :
                </div>
                <span class="text-red">@emr.pi_insno</span>
            </div>
            <div class="d-flex align-items-center  border-bottom-0">
                <div class="bg-red-dark text-white p-4">
                    <div class="vertical-text">Patient</div>
                </div>
                <div class="fw-bold justify-content-center">
                    Cover Number
                </div>
                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                    :
                </div>
                <span class="text-red">@emr.pi_insno</span>
            </div>
        </div>
    </div>
</form>