@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");


    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Dental Implants Arabic";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card text-right">
            <div class="card-header" dir="rtl">
                <h3 class="card-title">موافقة المريض على بدء علاج زراعة الأسنان</h3>
            </div>
            <div class="card-body">
                <div id="DentalImplantsArabic_add" style="display:none">
                </div>
                <div id="DentalImplantsArabic_edit">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="DentalImplantsArabic_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetDentalImplantsArabicInfo();
        DentalImplantsArabicPreviousHistory();
    });

    //#endregion Page Load

    //#region Load GetDentalImplantsArabic
    var GetDentalImplantsArabicInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetDentalImplantsArabicData", "DentalImplantsArabic", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditDentalImplantsArabic();
                        $("#DentalImplantsArabic_add").hide();
                        $("#DentalImplantsArabic_edit").show();

                    }
                    else {
                        $("#DentalImplantsArabic_add").show();
                        $("#DentalImplantsArabic_edit").hide();
                        AddDentalImplantsArabic();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load DentalImplantsArabic

    //#region Add DentalImplantsArabic
    function AddDentalImplantsArabic() {
        var x = $("#DentalImplantsArabic_add");
        x.load("@Url.Action("CreateDentalImplantsArabic", "DentalImplantsArabic", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add DentalImplantsArabic

    //#region Update DentalImplantsArabic

    function EditDentalImplantsArabic() {
        var x = $("#DentalImplantsArabic_edit");
        x.load("@Url.Action("UpdateDentalImplantsArabic", "DentalImplantsArabic", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update DentalImplantsArabic

    //#region Histroy of DentalImplantsArabic

    function DentalImplantsArabicPreviousHistory() {
        var x = $("#DentalImplantsArabic_history");
        x.load("@Url.Action("DentalImplantsArabicPreviousHistory", "DentalImplantsArabic", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
    });
}
//#endregion Histroy of DentalImplantsArabic
</script>