@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConcentForms.DentalImplantsArabic

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<form id="form_DentalImplantsArabicEdit" autocomplete="off" name="DentalImplantsArabic" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-right" dir="rtl">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> اسم المريض</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> الهوية الإماراتية</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">رقم الملف</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> تاريخ الميلاد</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> الجنسية</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">جنس</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">اسم الطبيب</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">تاريخ</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5 mt-5 text-justify" dir="rtl">
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            . هذا النموذج سيقر بموافقتك على العلاج الموصى به من قبل اخصائي زرع الأسنان
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            <ol>
                <li>
                    <div class="mb-2 mt-2">
                        أفوض الدكتور الشيخ أنور حسين لأداء جراحة زرع الأسنان لي. وقد أوصى لي هذا الإجراء من قبل طبيب الأسنان الخاص بي كخيار ليحل محل الأسنان الطبيعية
                        <br />
                        أنا أسمح بوضع الزراعة في مناطق الأسنان @Html.TextBoxFor(m => m.pcda_1, new { @class = "form-control", @id = "upcda_1", @maxlength = "200" })
                    </div>
                </li>
                <li>
                    <div class="mb-2 mt-2">
                        قد اخترت الخضوع لهذا الإجراء بعد النظر في أشكال العلاجات البديلة لحالتي، والتي لا تشمل أي علاج على الإطلاق، أطقم الأسنان الكاملة أو الجزئية، أو الجسور الثابتة أو القابلة للإزالة. كل من هذه الأشكال البديلة من العلاجات لها فوائدها المحتملة الخاصة والمخاطر والتعقيدات التي تم شرحها لي
                    </div>
                </li>
                <li>
                    <div class="mb-2 mt-2"> أوافق على التخدير أو الأدوية الأخرى قبل ، أثناء أو بعد الإجراء من قبل الموظفين المؤهلين. أنا أفهم أن جميع أدوية التخدير أو التخدير تشمل الإمكانيات النادرة جدا للمخاطر أو المضاعفات، مثل الأضرار التي تلحق بالأعضاء الحيوية بما في ذلك الدماغ والقلب والرئتين والكبد والكلى. شلل؛ سكتة قلبية. و / أو الوفاة من أسباب معروفة وغير معروفة </div>
                </li>
                <li>
                    <div class="mb-2 mt-2">
                        أنا أفهم أن هناك مخاطر محتملة، مضاعفات وآثار جانبية مرتبطة بأي إجراء للأسنان. على الرغم من أنه من المستحيل سرد كل المخاطر المحتملة، والمضاعفات والآثار الجانبية، فقد أبلغت ببعض المخاطر المحتملة، والمضاعفات والآثار الجانبية لجراحة زرع الأسنان التي تشمل الآتي ولكن لا تنحصر علية: • ألم ما بعد الجراحة وعدم الراحة والتورم • النزيف •عدوى ما بعد الجراحة • إصابة أو تلف في الأسنان المجاورة أو جذور الأسنان • إصابة أو تلف الأعصاب في الفك السفلي مما يسبب خدرا مؤقتا أو دائما ووخز • أو ألم الذقن والشفتين ، الخد، اللثة أو اللسان
                        • القدرة المحددة لفتح الفم بسبب تورم أو وجع أو ضغط على مفصل الفك – متلازمة المفصل الفكي الصدعي • كسر الفك • فقدان عظام الفك • اختراق في تجويف الجيوب الأنفية • الفشل الميكانيكي للمرتكزات أو الوظائف أو الأسنان المرفقة• الفشل في الزراعة نفسها • الحساسية أو رد فعل سلبي على أي أدوية
                        <br />
                        على الرغم من أن معظم الإجراءات لها نتائج جيدة، وأنا أقر بأنه لم يتم تقديم أي ضمان لي عن نتائج هذا الإجراء أو وقوع أي مخاطر أو مضاعفات أو آثار جانبية
                    </div>
                </li>
                <li>
                    <div class="mb-2 mt-2">على حد علمي لقد قدمت تقريرا دقيقا عن تاريخ صحتي البدنية والعقلية. كما قدمت تقريرا عن أي ردود فعل تحسسية أو غير عادية مسبقة على الأدوية أو الطعام أو لدغ الحشرات أو التخدير أو حبوب اللقاح أو الغبار أو الدم أو أمراض الجسم أو اللثة أو ردود فعل الجلد أو نزيف غير طبيعي أو أي شروط أخرى تتعلق بصحتي </div>
                </li>
                <li>
                    <div class="mb-2 mt-2">أوافق على التقاط الصور الفوتوغرافية، التصوير والتسجيل و الأشعة السينية بشرط لا يتم الكشف عن هويتي </div>
                </li>
                <li>
                    <div class="mb-2 mt-2">نا اطلب واصرح لعمل خدمات طب الأسنان لي بما في ذلك زرع الأسنان والجراحات الأخرى وانا افهم تماما انه خلال وبعد الاجراء، الجراحة أو العلاج قد تصبح الظروف واضحة مما يسمح للطبيب بالحكم لعمل اجراء اضافي او بديل لنجاح شامل للعلاج. كما أنني أوافق على أي تعديل في التصميم أو المواد أو الرعاية، إذا شعرالطبيب أن هذا هو لمصلحتي </div>
                </li>
                <li>
                    <div class="mb-2 mt-2">أقر بأنني قد قرأت أو قُرأ لي محتويات هذا النموذج وسوف اتبع أي تعليمات متعلقة بهذا الإجراء. أنا أفهم المخاطر المحتملة والمضاعفات والآثار الجانبية التي قد تنطوي عليها أي علاج للأسنان أو الإجراء وقررت المضي قدما في هذا الإجراء بعد النظر في إمكانية كل من المخاطر المعروفة وغير المعروفة، والمضاعفات والآثار الجانبية وبدائل الإجراء. لقد اتيحت لي الفرصة لطرح اسئلة ولقد تمت الإجابة على اسئلتي بشكل مرضي. لدیك الحق في رفض العلاج أو التوقف عنھا. سيتم إعلامك بنتيجة قرارك برفض أو إيقاف العلاج والرعاية المتاحة وبدائل العلاج </div>
                </li>
            </ol>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            أنا أفهم أن جميع الأدوية محتمل أن يكون لديها مخاطر مصاحبة، وآثار جانبية وتفاعلات الأدوية. ولذلك فمن الأهمية أن أخبر طبيب الأسنان الخاص بي بجميع الأدوية التي استخدمها حالياً

        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            في حالة أني أود التوقف عن العلاج، فقد تم إبلاغي وفهمت المخاطر المرتبطة مع ترك حالتي بدون علاج، ادرك أن صحتي العامة قد تتأثر بقراري

        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            لن أقوم بتحميل الطبيب ، طاقم العمل أو أي شخص مرتبط بممارسة طب الأسنان المسؤؤلية للتغير الذي سيحصل لصحتي العامة الناتج عن هذا الوضع

        </div>

    </div>
    <div class="row mt-2" dir="rtl">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr dir="rtl" width="100%">
                    <td colspan="3" class="font-weight-bold text-danger fs-18">
                        <u>قم بالتوقيع هنا فقط إذا تمت الموافقة على جميع الأسئلة </u>
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <div id="upat_sign_box">
                            <img alt="stamp" id="upat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="34%">
                        <div id="uwit_sign_box">
                            <img alt="stamp" id="uwit_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        سم المريض
                        <br />
                        <label class="form-label text-red">@emr.pat_name&nbsp;</label>
                        لتاريخ
                        <br />
                        <label class="form-label text-red">@emr.app_fdate&nbsp;</label>

                    </td>
                    <td width="34%">
                        هوية الشاهد
                        <br />
                        @Html.TextBoxFor(m => m.pcda_2, new { @class = "form-control text-center", @id = "upcda_2", @maxlength = "200" })

                        التاريخ
                        <br />
                        <label class="form-label text-red">@emr.app_fdate&nbsp;</label>
                    </td>
                    <td width="33%">
                        وقيع الطبيب
                        <br />
                        <label class="form-label text-red">@emr.doc_name&nbsp;</label>

                        التاريخ
                        <label class="form-label text-red">@emr.app_fdate&nbsp;</label>

                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue text-center" width="33%">
                        توقيع المريض/ الممثل المفوض قانونا
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue  text-center" width="34%">
                        توقيع الشاهد
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> witness
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('witness')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('witness')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center" dir="rtl" width="33%">توقيع الطبيب </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update">Save Changes</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                <button type="button" class="btn btn-danger btn-sm" id="btn_Delete">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print"> Download/Print </button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">


    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Update").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Update").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Update").show();
                }
                else {
                    $("#btn_Update").hide();
                }
            }
        }
        validate();
        GetSignaturename('patient');
        GetSignaturename('witness');
    });

    //#region Validation Initialization
    var validate = function () {
        $("#form_DentalImplantsArabicEdit").validate({
            rules: {
                pcda_1: {
                    required: true
                },
                pcda_2: {
                    required: true
                },


            },
            messages: {

                pcda_1: {
                    required: "Please Enter Area of teeth!"
                },
                pcda_2: {
                    required: "Please Enter Witness ID!"
                },

            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

    }
    //#endregion

    //#region Update  Click
    $('#btn_Update').on('click', function (e) {
        e.preventDefault();
        if ($("#form_DentalImplantsArabicEdit").valid()) {
            console.log($("#pcdaId").val());
            $('#btn_Update').removeClass("btn btn-sm btn-success");
            $('#btn_Update').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Update').html("Updating the Record....");



            var _dateInsert = {
                "pcdaId": 0,
                "pcda_appId": @emr.appId,
                "pcda_1": $("#upcda_1").val(),
                "pcda_2": $("#upcda_2").val(),
              //"pcd_status": "Active",
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

            $.ajax({
                type: "Post",
                url: "@Url.Action("EditDentalImplantsArabic", "DentalImplantsArabic", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Update').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-success");
                    $('#btn_Update').html("Save changes");


                    if (data.isSuccess) {
                        if (data.isEdited) {
                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>DentalImplantsArabic Consent Form Updated Successfully!", "success");

                            Timeout();


                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning.. DentalImplants Arabic Consent Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert1").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Update').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }

    });
    //#endregion Update Click

        //#region Delete Click
    $('#btn_Delete').on('click', function (e) {
        e.preventDefault();
        $('#btn_Delete').removeClass("btn btn-success");
        $('#btn_Delete').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Delete').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteDentalImplantsArabic", "DentalImplantsArabic", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-warning");
                $('#btn_Delete').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i> DentalImplants Arabic Consent Form Deleted Successfully!", "success");
                        clearControls();
                        Timeout();


                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-Delete");
                $('#btn_Delete').html("Delete");
                Timeout();
            }
        })
    });
//#endregion

    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Print
$('#btn_Print').on('click', function (e) {
    e.preventDefault();
    $('#btn_Print').removeClass("btn btn-sm btn-success");
    $('#btn_Print').addClass("btn btn-sm btn-success btn-loaders btn-icon");
    $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "DentalImplantsArabic", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=DentalImplantsArabic",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {
                if (data.success) {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("#upat_sign,#uwit_sign").attr("src", "");

    }
    //#endregion Clear Controls

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "DentalImplantsArabic",
                "appId": @emr.appId,
                "formname":"DentalImplants Arabic",
                "formlink":"",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion


    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "DentalImplantsArabic",
            "appId": @emr.appId,
            "formname":"DentalImplants Arabic",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            GetSignaturename('witness');
            localStorage.removeItem("sign");
        }
    });

    //#region Get Signature
    var GetSignaturename = function  (person) {
        $.ajax({
            url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=DentalImplantsArabic',
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                console.log(response);
                let sign = response[0].psb_sign;
                if (response[0].person == "patient") {
                    $("#upat_sign_box").show();
                    $("#upat_sign").attr("src", sign);
                }
                if (response[0].person == "witness") {
                    $("#uwit_sign_box").show();
                    $("#uwit_sign").attr("src", sign);
                }
            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr);
            }

        });
    };
    //#endregion Get Signature

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout
</script>
