@model BusinessEntities.EMR.PatientDiagnosis
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<form id="form_AddPatDiagnosis" class="needs-validation" >
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.padId, new { @id = "cpadId" })

    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">
                    Diagnosis&nbsp;
                    <span class="text-danger font-weight-semibold">*</span>
                    <label class="custom-switch pull-right">
                        <input type="checkbox" class="custom-switch-input" id="check_fav" name="check_fav" value="1">
                        <span class="custom-switch-indicator"></span>
                        <small class="custom-switch-description bg-danger-light" style="color: #003aa3 !important;">Check to Search from Favorites</small>
                    </label>
                </label>
                @Html.DropDownListFor(m => m.pad_diagnosis, new List<SelectListItem> { }, "Search Diagnosis", new { @class = "form-select  mb-2 select2", @id = "pad_diagnosis" })
            </div>
        </div>

        <div class="col-sm-4 col-md-2 col-lg-2">
            <div class="form-group">
                <label class="form-label text-black">Year&nbsp;</label>
                @Html.TextBoxFor(m => m.pad_year, new { @class = "form-control", @placeholder = "Enter Year", @maxlength = "4", @value = 0 })
            </div>
        </div>

        <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="form-group mb-3">
                <label class="form-label text-black">Notes&nbsp;</label>
                @Html.TextAreaFor(m => m.pad_notes, new { @class = "form-control", @placeholder = "Enter Notes", @row = "6", @maxlength = "400" })
            </div>
        </div>

        <div class="col-sm-6 col-md-2 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Add To Favorites</label>
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="chkyes" value="1">
                    <span class="custom-control-label">&nbsp;</span>
                </label>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-success" id="btn_Insert_Paddiagnosis">Add Diagnosis</button>
                <button type="button" class="btn btn-outline-dark" id="btn_Reset_Paddiagnosis">Reset</button>
                <button type="button" class="btn btn-outline-danger me-1" id="btn_Close_Paddiagnosis" style="display:none">
                    Close
                </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    //#region Partial View Onload
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Insert_Paddiagnosis").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Insert_Paddiagnosis").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Insert_Paddiagnosis").show();
                }
                else {
                    $("#btn_Insert_Paddiagnosis").hide();
                }
            }
        }

        var padId = $("#cpadId").val();

        load_Paddiagnosis();

        if (padId > 0) {
            load_copy(@Model.pad_diagnosis);

            $("#pad_year").val("@Model.pad_year");

            $("#pad_notes").val("@Model.pad_notes");
        }

        validate();
    });
    //#endregion

    function fetchData(callback) {
        $.ajax({
            url: "@Url.Action("GetAllNarrativeDiagnosis", "NarrativeDiagnosis", new { area = "EMR" })?appId=" + "@emr.appId",
            type: 'GET',
            success: function (response) {
                if (response.length > 0) {
                    var obj = "true"
                }
                else {
                    var obj = "false"
                }

                callback(obj);
            },
            error: function (xhr, status, error) {
                console.log(error);
            }
        });
    }

    //#region Load Patient Diagnosis
    var load_Paddiagnosis = function () {
        $("#pad_diagnosis").select2({
            placeholder: 'Select Diagnosis',
            width: '100%',
            minimumInputLength: 3,
            minimumResultsForSearch: '',
            escapeMarkup: function (markup) {
                return markup;
            },
            dropdownParent: $('#form_AddPatDiagnosis'),
            ajax: {
                url: '@Url.Action("GetDiagnosis", "PatientDiagnosis", new { area = "EMR" })',
                dataType: 'json',
                delay: 250,
                data: function (query) {
                    return {
                        query: query.term,
                        type: $("input[name='check_fav']:checked").val()
                    };
                },
                processResults: function (data) {
                    return {
                        results: data,
                    };
                },
                cache: true
            }
        });
    };
    //#endregion

    //#region Load Copied Diagnosis
    var load_copy = function (pad_diagnosis) {
        $.ajax({
            url: '@Url.Action("GetDiagnosis", "PatientDiagnosis", new { area = "EMR" })?query=' + pad_diagnosis,
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                var data = {
                    "id": response[0].id,
                    "text": response[0].text,
                };

                $('#pad_diagnosis').val(response[0].text);

                var newOption = new Option(response[0].text, response[0].id, true, true);
                $('#pad_diagnosis').append(newOption).trigger('change');

                $('#pad_diagnosis').trigger({
                    type: 'select2:select',
                    params: {
                        data: data
                    }
                });
            },
            error: function (xhr) {
                console.log(xhr);
            }
        });
    };
    //#endregion

    //#region Load Narrative Diagnosis
    var getNarrativeDiagnosis = function () {
        var data = false;

        $.ajax({
            type: "GET",
            url: "@Url.Action("GetAllNarrativeDiagnosis", "NarrativeDiagnosis", new { area = "EMR" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.length > 0) {
                    data = true;
                }

                return data;
            },
            error: function (xhr) {
                console.log(xhr);
            }
        });
    }
    //#endregion

    //#region Validation Initialization
    var validate = function () {
        $("#form_AddPatDiagnosis").validate({
            rules: {
                pad_diagnosis: {
                    required: true
                }
            },
            messages: {
                pad_diagnosis: {
                    required: "Please Select Diagnosis!"
                }
            },
            highlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                } else {
                    elem.parent().addClass('has-error');
                }
                $(element).parent().addClass('has-error');
            },
            unhighlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                } else {
                    elem.removeClass('has-error');
                }
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    element = $("#select2-" + elem.attr("id") + "-container").parent();
                    error.insertAfter(element);
                } else {
                    error.insertAfter(element);
                }
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

        $('#pad_diagnosis').on('change', function () {
            $(this).trigger('blur');
        });

        $('#pad_year').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });
    }
    //#endregion

    //#region Insert Button Click
    $('#btn_Insert_Paddiagnosis').on('click', function (e) {
        e.preventDefault();

        if ($("#form_AddPatDiagnosis").valid()) {
            $('#btn_Insert_Paddiagnosis').removeClass("btn btn-success");
            $('#btn_Insert_Paddiagnosis').addClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Insert_Paddiagnosis').html("Saving the Record....");

            var chkyes = $("input[name='chkyes']:checked").val();

            var _dataInsert = {
                "padId": 0,
                "pad_appId": @emr.appId,
                "pad_diagnosis": $("#pad_diagnosis").val(),
                "pad_notes": $("#pad_notes").val(),
                "pad_year": $("#pad_year").val(),
                "pad_type": "",
                "chkyes": chkyes,
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

            $.ajax({
                type: "POST",
                url: "@Url.Action("InsertPatientDiagnosis", "PatientDiagnosis", new { area = "EMR" })",
                dataType: 'json',
                data: _dataInsert,
                success: function (data) {
                    $('#btn_Insert_Paddiagnosis').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Insert_Paddiagnosis').addClass("btn btn-success");
                    $('#btn_Insert_Paddiagnosis').html("Add Diagnosis");

                    if (data.isSuccess) {
                        debugger;
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i> " + data.message + "", "success");

                        clearControls();

                        Timeout();

                        getPatDiagnosis();
                    }
                    else {
                        debugger;
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-danger' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Validation Error! Please validate before you submit again!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                            }, 5000);
                        });
                        html += "</ul></div></div>";
                        $("#Alert").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Insert_Paddiagnosis').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Insert_Paddiagnosis').addClass("btn btn-success");
                    $('#btn_Insert_Paddiagnosis').html("Add Diagnosis");
                    console.log(xhr);
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
     //#endregion

    //#region Reset Click
    $('#btn_Reset_Paddiagnosis').on('click', function (e) {
        e.preventDefault();

        clearControls();
    });
    //#endregion

    //#region Clear Controls
    var clearControls = function () {
        $("#pad_notes").val("");
        $("#pad_year").val("");
        $("#pad_diagnosis").val("").trigger("change");
        $("input[name='check_fav']:checkbox").prop('checked', false);
        $("input[name='chkyes']:checkbox").prop('checked', false);
    }
    //#endregion
</script>