

@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMRForms.Amity
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_EditAmity" class="needs-validation fs-14" >

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.car_Id)
    @Html.HiddenFor(m => m.car_appId)

    <div class="row">
        <div class="col-sm-11 col-md-12 col-lg-12">
            <label class="form-label mb-2 text-danger">
                SECTION A: MEDICAL PROVIDER DETAILS
            </label>
        </div>
        <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2">
            <div class="col-sm-11 col-md-6 col-lg-2 ps-0">
                <label class="form-label mb-2">
                    Provider Name&nbsp;
                </label>
            </div>
            <div class="d-flex align-items-center justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                @if (@emr.ic_name != "")
                {
                    <span class="font-weight-normal1 text-capitalize text-left">@emr.ic_name&nbsp;</span>
                }
                else
                {
                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                }
            </div>
        </div>
        <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2">
            <div class="col-sm-11 col-md-6 col-lg-2 ps-0">
                <label class="form-label mb-2">
                    Provider License No&nbsp;
                </label>
            </div>
            <div class="d-flex align-items-center justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                @if (@emr.set_permit_no != "")
                {
                    <span class="font-weight-normal1 text-capitalize text-left">@emr.set_permit_no&nbsp;</span>
                }
                else
                {
                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                }
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-11 col-md-12 col-lg-12">
            <label class="form-label mb-2 text-danger">
                SECTION B: PATIENT DETAILS
            </label>
        </div>
        <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2">
            <div class="col-sm-11 col-md-6 col-lg-2 ps-0">
                <label class="form-label mb-2">
                    Patient Name&nbsp;
                </label>
            </div>
            <div class="d-flex align-items-center justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                @if (@emr.pat_name != "")
                {
                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_name&nbsp;</span>
                }
                else
                {
                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                }
            </div>
        </div>
        <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2">
            <div class="col-sm-11 col-md-6 col-lg-2 ps-0">
                <label class="form-label mb-2">
                    Patient Mobile No&nbsp;
                </label>
            </div>
            <div class="d-flex align-items-center justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                @if (@emr.pat_mob != "")
                {
                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_mob&nbsp;</span>
                }
                else
                {
                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2">
            <div class="col-sm-11 col-md-6 col-lg-2 ps-0">
                <label class="form-label mb-2">
                    Card Number&nbsp;
                </label>
            </div>
            <div class="d-flex align-items-center justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                @if (@emr.pi_insno != "")
                {
                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pi_insno&nbsp;</span>
                }
                else
                {
                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                }
            </div>
        </div>
        <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2">
            <div class="col-sm-11 col-md-6 col-lg-2 ps-0">
                <label class="form-label mb-2">
                    Patient File No&nbsp;
                </label>
            </div>
            <div class="d-flex align-items-center justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                @if (@emr.pat_code != "")
                {
                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_code&nbsp;</span>
                }
                else
                {
                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-flex col-sm-12 col-md-6 col-lg-6 mt-2">
            <div class="col-sm-11 col-md-6 col-lg-2 ps-0">
                <label class="form-label mb-2">
                    Patient DOB&nbsp;
                </label>
            </div>
            <div class="d-flex align-items-center justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3 mb-2">
                @if (@emr.pat_dob != "")
                {
                    <span class="font-weight-normal1 text-capitalize text-left">@emr.pat_dob&nbsp;</span>
                }
                else
                {
                    <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11 col-md-12 col-lg-12">
            <label class="form-label mb-2 text-danger">
                SECTION C : CLAIM DETAILS
            </label>
        </div>
        <div class="col-sm-11 col-md-6 col-lg-6">
            <label class="text-black mb-2">
                To be completed by Attending Physician (please tick √)&nbsp;
            </label>
        </div>
        <div class="col-sm-11 col-md-6 col-lg-6">
            <label class="text-black mb-2">
                Emergency case?(please tick √)&nbsp;
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="car_checkbox[1]" value="1" id="1">
                        <span class="custom-control-label">InPatient</span>
                    </label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="car_checkbox[1]" value="2" id="2">
                        <span class="custom-control-label">OutPatient</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-11 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-2">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="car_checkbox[3]" value="3" id="3">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-2">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="car_checkbox[4]" value="4" id="4">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11 col-md-6 col-lg-6">
            <label class="text-black mb-2">
                Chief Complaint and symptoms&nbsp;
            </label>
            <label class="form-label text-red text-left" id="ucar_e1" name="">&nbsp;</label>
        </div>
        <div class="col-sm-11 col-md-6 col-lg-6">
            <label class="text-black mb-2">
                What date did the patient first feel same/similar symptoms&nbsp;
            </label>
            <div class="input-group col-sm-12 col-md-12 col-lg-4">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fe fe-calendar"></i>
                    </div>
                </div>
                @Html.TextBoxFor(m => m.car_d1, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "ucar_d1" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <label class="text-black">
                Significant signs&nbsp;
            </label>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
            <label class="text-black mb-2">
                Pre Authorisation No: (If Applicable)&nbsp;
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-11 col-md-6 col-lg-2 ps-0">
                        <label class="text-black">
                            BP&nbsp;
                        </label>
                    </div>
                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <label class="form-label text-red text-left" id="sign_bp" name="">&nbsp;</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-11 col-md-6 col-lg-2 ps-0">
                        <label class="text-black">
                            Temp&nbsp;
                        </label>
                    </div>
                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <label class="form-label text-red text-left" id="sign_temp" name="">&nbsp;</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-11 col-md-6 col-lg-2 ps-0">
                        <label class="text-black">
                            Pulse&nbsp;
                        </label>
                    </div>
                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <label class="form-label text-red text-left" id="sign_pulse" name="">&nbsp;</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="d-flex col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-11 col-md-6 col-lg-2 ps-0">
                        <label class="text-black">
                            Notes&nbsp;
                        </label>
                    </div>
                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <label class="form-label text-red text-left" id="sign_notes" name="">&nbsp;</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 mt-4">
            @Html.TextBoxFor(m => m.car_e4, new { @class = "form-control", @placeholder = "Enter #", @id = "ucar_e4", @width = "20px" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <label class="text-black">
                Other conditions&nbsp;
            </label>
            @Html.TextBoxFor(m => m.car_e3, new { @class = "form-control", @id = "ucar_e3", @width = "20px" })
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
            <label class="text-black mb-2">
                Date of this Visit&nbsp;
            </label>
            <div class="input-group col-sm-12 col-md-12 col-lg-4">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fe fe-calendar"></i>
                    </div>
                </div>
                @Html.TextBoxFor(m => m.car_d2, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "ucar_d2" })
            </div>
        </div>
    </div>
    <div class="row">
        <label class="text-black">
            Diagnosis&nbsp;
        </label>
        <label class="form-label text-red text-left" id="car_e5" name="">&nbsp;</label>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-2">
            <label class="form-label">
                Mandatory&nbsp;
            </label>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <label class="text-black">
                ICD code(please tick √)&nbsp;
            </label>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-1">
            <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="car_checkbox[5]" value="5" id="5">
                <span class="custom-control-label">ICD9  </span>
            </label>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="car_checkbox[5]" value="6" id="6">
                <span class="custom-control-label">ICD10  </span>
            </label>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <label class="text-black">
                (See Amity Reference guide)&nbsp;
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-2">
            <label class="text-black">
                Principal code&nbsp;
            </label>
            @Html.TextBoxFor(m => m.car_e6, new { @class = "form-control", @id = "ucar_e6", @width = "20px" })
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <label class="text-black">
                2nd code&nbsp;
            </label>
            @Html.TextBoxFor(m => m.car_e7, new { @class = "form-control", @id = "ucar_e7", @width = "20px" })
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <label class="text-black">
                3rd code&nbsp;
            </label>
            @Html.TextBoxFor(m => m.car_e8, new { @class = "form-control", @id = "ucar_e8", @width = "20px" })
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <label class="text-black">
                4th code&nbsp;
            </label>
            @Html.TextBoxFor(m => m.car_e9, new { @class = "form-control", @id = "ucar_e9", @width = "20px" })
        </div>
    </div>
    <div class="row">
        <label class="text-black">
            Please tick ( √) where appropriate&nbsp;
        </label>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-2">
            <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="car_checkbox[7]" value="7" id="7">
                <span class="custom-control-label">Congenital</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-1">
            <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="car_checkbox[7]" value="8" id="8">
                <span class="custom-control-label">Chronic</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-1">
            <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="car_checkbox[7]" value="9" id="9">
                <span class="custom-control-label">RTA</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="car_checkbox[7]" value="10" id="10">
                <span class="custom-control-label">Psychiatric</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-1">
            <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="car_checkbox[7]" value="11" id="11">
                <span class="custom-control-label">Others</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-1">
            <label class="text-black">
                (please specify)&nbsp;
            </label>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            @Html.TextBoxFor(m => m.car_e10, new { @class = "form-control", @id = "ucar_e10", @width = "20px" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-1">
            <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="car_checkbox[12]" value="12" id="12">
                <span class="custom-control-label">Check-up</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-1">
            <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="car_checkbox[12]" value="13" id="13">
                <span class="custom-control-label">Acute</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-1">
            <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="car_checkbox[12]" value="14" id="14">
                <span class="custom-control-label">Infertility</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="car_checkbox[12]" value="15" id="15">
                <span class="custom-control-label">Work Related</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-1">
            <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="car_checkbox[12]" value="16" id="16">
                <span class="custom-control-label">Vaccination</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="car_checkbox[12]" value="17" id="17">
                <span class="custom-control-label">Pregnancy/Indicate LMP</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            @Html.TextBoxFor(m => m.car_e11, new { @class = "form-control", @id = "ucar_e11", @width = "20px" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11 col-md-12 col-lg-12">
            <label class="form-label mb-2 text-danger">
                SECTION D: PROPOSED MEDICAL MANAGEMENT PLAN
            </label>
        </div>
        <div class="col-sm-11 col-md-6 col-lg-12">
            <label class="text-black mb-2">
                Suggestive line(s) of management: kindly, enumerate the recommended investigations and / or procedures&nbsp;
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="table-responsive">
                <table id="tbl_Treatment" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                    <thead>
                        <tr style="color: #fff !important; background-color: #808080; border-color: #3C457D; ">
                            <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                            <th class="border-bottom-0 font-weight-semibold text-white">CPT Code</th>
                            <th class="border-bottom-0 font-weight-semibold text-white">Treatment</th>
                            <th class="border-bottom-0 font-weight-semibold text-white">Quantity</th>
                            <th class="border-bottom-0 font-weight-semibold text-white">Type</th>
                            <th class="border-bottom-0 font-weight-semibold text-white">Cost</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11 col-md-12 col-lg-8">
        </div>
        <div class="col-sm-11 col-md-6 col-lg-2">
            <label class="text-black mb-2">
                Total cost:&nbsp;
            </label>
        </div>
        <div class="col-sm-11 col-md-6 col-lg-1">
            <label class="text-black mb-2">
                @Html.TextBoxFor(m => m.car_e12, new { @class = "form-control", @id = "ucar_e12", @width = "20px" })
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11 col-md-6 col-lg-12">
            <label class="text-black mb-2">
                Anticipated management plan&nbsp;
            </label>
            @Html.TextAreaFor(m => m.car_e13, new { @class = "form-control", @placeholder = "Please specify", @row = "2", @id = "ucar_e13" })
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11 col-md-6 col-lg-4">
            <label class="text-black mb-2">
                Referral Doctors Name: (If Patient has been Referred) :&nbsp;
            </label>
        </div>
        <div class="col-sm-11 col-md-6 col-lg-3">
            <span class="text-capitalize text-left text-red">@emr.doc_name&nbsp;</span>
        </div>
        <div class="col-sm-11 col-md-6 col-lg-2">
            <label class="text-black mb-2">
                Licence No:&nbsp;
            </label>
        </div>
        <div class="col-sm-11 col-md-6 col-lg-3">
            <span class="text-capitalize text-left text-red">@emr.emp_license&nbsp;</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11 col-md-12 col-lg-12">
            <label class="form-label mb-2 text-danger">
                Patient declaration
            </label>
        </div>
        <div class="col-sm-11 col-md-6 col-lg-12">
            <p class="text-black mb-2 text-justify">
                I declare that I am the patient, patient's parent or guardian (if patient's under 16 years of age) and that all information provided in the claim
                form is to the best of my knowledge true and correct. This declaration gives Amity the permission to get all information about my claim including,
                but not limited to, my current medical and previous medical providers/physician, pharmacy or any other person who has provided medical services to
                me or my dependants. I agree that a copy of this consent shall have the validity of the original.
            </p>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12 col-md-6 col-lg-6">

            <div class="form-group mb-3" style="display:none" id="upatimg"><img alt="Signature" src="" id="upat_sign" class="avatar avatar-xl bsquare" /></div>
            <label class="form-label mb-2">
                signature
            </label>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <label class="form-label text-red text-left" id="upsb_date_witness" name="">&nbsp;</label>
            <label class="form-label mb-2">
                Date
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11 col-md-12 col-lg-12">
            <label class="form-label mb-2 text-danger">
                Medical practitioner declaration
            </label>
        </div>
        <div class="col-sm-11 col-md-6 col-lg-12">
            <p class="text-black mb-2 text-justify">
                I declare that all information mentioned is correct and that the medical services shown on this form were medically indicated
                and necessary for the management of this case.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11 col-md-12 col-lg-4">
            <span class="text-capitalize text-left text-red">@emr.doc_name&nbsp;</span>
            <label class="form-label mb-2">
                Name
            </label>
        </div>
        <div class="col-sm-11 col-md-12 col-lg-4">
            <span class="text-capitalize text-left text-red">@emr.emp_fax&nbsp;</span>
            <label class="form-label mb-2">
                Tel/Fax
            </label>
        </div>
        <div class="col-sm-11 col-md-12 col-lg-4">
            <span class="text-capitalize text-left text-red">@emr.emp_license&nbsp;</span>
            <label class="form-label mb-2">
                Licence No
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11 col-md-12 col-lg-4">
            <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
            <label class="form-label mb-2">
                Signature/Stamp
            </label>
        </div>
        <div class="col-sm-11 col-md-12 col-lg-4">
            <span class="text-capitalize text-left text-red">@emr.app_fdate&nbsp;</span>
            <label class="form-label mb-2">
                Date
            </label>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update_Amity">Save Changes</button>
                <button type="submit" class="btn btn-sm btn-outline-danger" id="btn_Delete_Amity">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-light " id="btn_Print_RadioDeci" onclick="PrintAmity()">
                    <i class="fa fa-print">&nbsp;&nbsp;</i>Print
                </button>
                <div class="btn-group mr-2">
                    <div class="dropdown">
                        <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                            <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-outline-danger" id="btn_Close_EditAmity" style="display:none">
                    Close
                </button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">

    //#region Partial View Onload
        var formName1 = $(form_EditAmity).closest('form').attr('name');
        $(function () {
            validate();
            Get_Patient_Complaints();
            Get_Patient_signs();
            Get_Patient_Diagnosis();
            set_date();
            Get_AllPatientTreatments();
            GetSignaturename('patient');
            GetCheckedValues("@Model.car_checkbox");
        });
    //#endregion

    //#region Load set Date
        var set_date = function () {
            $('#ucar_d1,#ucar_d2').bootstrapdatepicker({
                    format: "dd-MM-yyyy",
                    viewMode: "date",
                    todayHighlight: true,
                    autoclose: true,
                    multidate: false,
                    multidateSeparator: "-"
            });
            var d1 = "@Model.car_d1";
            if (d2 != "1/1/1950 12:00:00 AM") {
                $("#ucar_d1").bootstrapdatepicker("setDate", moment(new Date("@Model.car_d1")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#ucar_d1").bootstrapdatepicker("setDate", '');
            }
            var d2 = "@Model.car_d2";
            if (d2 != "1/1/1950 12:00:00 AM") {
                $("#ucar_d2").bootstrapdatepicker("setDate", moment(new Date("@Model.car_d2")).format("DD-MMMM-YYYY"));
            }
            else {
                $("#ucar_d2").bootstrapdatepicker("setDate", '');
            }
        }
    //#endregion

    //#region Load Get_Patient_Complaints
        var Get_Patient_Complaints = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Get_Patient_Complaints", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        var str2 = response[0].complaints;
                        var regex = /(|<([^>]+)>)/ig;
                        $("#ucar_e1").text(str2.replace(/(<p>|<\/p>)/g, ""));
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
    //#endregion

    //#region Load Get_Patient_signs
        var Get_Patient_signs = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Get_Patient_Signs", "ReimbursementForms", new { area = "EMRForms" })?appId="+@emr.appId,
                success: function (response) {
                    if (response.length > 0) {
                        var str1 = response[0].sign_bp;
                        var str2 = response[0].sign_pulse;
                        var str3 = response[0].sign_temp;
                        var str4 = response[0].sign_notes;
                        var regex = /(|<([^>]+)>)/ig;
                        $("#sign_bp").text(str1.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_pulse").text(str2.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_temp").text(str3.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_notes").text(str4.replace(/(<p>|<\/p>)/g, ""));
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
    //#endregion

    //#region Load Get_Patient_Diagnosis
        var Get_Patient_Diagnosis = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Get_Patient_Diagnosis", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        var str2 = response[0].diag_names;
                        var regex = /(|<([^>]+)>)/ig;
                        $("#car_e5").text(str2.replace(/(<p>|<\/p>)/g, ""));
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
    //#endregion

    //#region Get CheckedValues
        var GetCheckedValues = function (checknames) {
            var str = checknames;
            var myarray = str.split(',');
            for (var i = 0; i < myarray.length; i++) {
                $('.custom-control-input').each(function () {
                    if (this.id == myarray[i]) {
                        $("#" +this.id).attr('checked', 'checked');
                        $("#" +this.id).prop("checked", true);
                    }
                });
            }
        }
    //#endregion

    //#region Update  Button Click
        $('#btn_Update_Amity').on('click', function (e) {
            e.preventDefault();
            if ($("#form_EditAmity").valid()) {
                console.log($("#car_Id").val());
                $('#btn_Update_Amity').removeClass("btn btn-success");
                $('#btn_Update_Amity').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Update_Amity').html("Updating the Record....");
                var car_chkbox = "";
                $('.custom-control-input:checked').each(function (index) {
                    car_chkbox = car_chkbox + ',' + $(this).val();
                });
                var car_checkbox = car_chkbox.substring(1);
                var _dataInsert = {
                    "car_Id": $("#car_Id").val(),
                    "car_appId": @emr.appId,
                    "car_checkbox": car_checkbox,
                    "car_e1": $("#ucar_e1").text(),
                    "car_e2": '',
                    "car_e3": $("#ucar_e3").val(),
                    "car_e4": $("#ucar_e4").val(),
                    "car_e5": $('#ucar_e5').text(),
                    "car_e6": $("#ucar_e6").val(),
                    "car_e7": $("#ucar_e7").val(),
                    "car_e8": $("#ucar_e8").val(),
                    "car_e9": $("#ucar_e9").val(),
                    "car_e10": $("#ucar_e10").val(),
                    "car_e11": $("#ucar_e11").val(),
                    "car_e12": $("#ucar_e12").val(),
                    "car_e13": $("#ucar_e13").val(),
                    "car_d1": moment($("#ucar_d1").val()).format("YYYY-MM-DD"),
                    "car_d2": moment($("#ucar_d2").val()).format("YYYY-MM-DD"),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dataInsert)
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateAmity", "Amity", new { area = "EMRForms" })",
                    dataType: 'JSON',
                    data: _dataInsert,
                    success: function (data) {
                        $('#btn_Update_Amity').removeClass("btn btn-warning btn-loaders btn-icon");
                        $('#btn_Update_Amity').addClass("btn btn-warning");
                        $('#btn_Update_Amity').html("Save Changes");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                GetAmity();
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible"  role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Amity Updated Successfully!", "success");
                                Timeout();
                                $("#amity_edit").show();
                                $("#amity_add").hide();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. Amity Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else
                        {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Update_Amity').removeClass("btn btn-warning btn-loaders btn-icon");
                        $('#btn_Update_Amity').addClass("btn btn-warning");
                        $('#btn_Update_Amity').html("Save Changes");
                        Timeout();
                    }
                });

            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion

    //#region Delete Click
        $('#btn_Delete_Amity').on('click', function (e) {
            e.preventDefault();
            $('#btn_Delete_Amity').removeClass("btn btn-success");
            $('#btn_Delete_Amity').addClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Delete_Amity').html("Deleting the Record....");

                $.ajax({
                    url: '@Url.Action("DeleteAmity", "Amity", new { area = "EMRForms" })?car_Id=' + $("#car_Id").val(),
                    type: "POST",
                    dataType: 'JSON',
                    success: function (data) {
                        $('#btn_Delete_Amity').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Delete_Amity').addClass("btn btn-warning");
                        $('#btn_Delete_Amity').html("Delete");
                        if (data.isAuthorized) {
                            if (data.success) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Amity Claim Deleted Successfully!", "success");
                                clearControls();
                                $("#amity_edit").hide();
                                $("#amity_add").show();
                                Addamity();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Error!.. Failed to Delete..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Delete_Amity').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Delete_Amity').addClass("btn btn-Delete");
                        $('#btn_Delete_Amity').html("Delete");
                        Timeout();
                    }
                })
        });
    //#endregion

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
             var _data = {
                 "patId": @emr.patId,
                 "person": id,
                 "form": formName1,
                 "appId": @emr.appId,
                 "formname":"Amity",
                 "formlink":"PrintAmityClaim.aspx",
                 "eSign":""
             }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
        var openSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": formName1,
                "appId": @emr.appId,
                "formname":"Amity",
                "formlink":"PrintAmityClaim.aspx",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=Amity',
                    type: "GET",
                    dataType: "json",
                    async: false,
                success: function (response) {
                    console.log("fgxghszd");
                    console.log(response);
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_created).format("DD-MM-YYYY HH:mm");
                    if (response[0].person == "patient") {
                        $("#upatimg").show();
                        $("#upat_sign").attr("src", sign);
                        $("#upsb_date_witness").text(date);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
    //#endregion

    //#region Validation Initialization
        var validate = function () {
            $("#form_AmityDecision").validate({
                rules: {
                    ucar_e1: {
                        required: true
                    },

                },
                messages: {
                    ucar_e1: {
                        required: "Chief Complaint Required!"
                    },

                },
                highlight: function (element) {
                    var elem = $(element);
                    $(element).parent().addClass('has-error');
                    error_timeout(elem.attr("id"));
                },
                unhighlight: function (element) {
                    var elem = $(element);
                    $(element).parent().removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'text-danger fw-bold',
                errorPlacement: function (error, element) {
                    var elem = $(element);
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

        }
    //#endregion Validation Initialization

    //#region Clear Controls
        var clearControls = function () {
            $("#ucar_r1").val("");
            $("#ucar_r2").val("");
            $("#ucar_r3").val("");
            $("#ucar_r4").val("");
            $("#ucar_r5").val("");
            $("#ucar_r6").val("");
            $("#ucar_r7").val("");
            $("#ucar_r8").val("");
            $("#ucar_r9").val("");
            $("#ucar_r10").val("");
            $("#ucar_r11").val("");
            $("#ucar_r12").val("");
            $("#ucar_r13").val("");
            $("#ucar_d1").bootstrapdatepicker("setDate", '');
            $("#ucar_d2").bootstrapdatepicker("setDate", '');
        }
    //#endregion

    //#region Print Amity Request
        function PrintAmity() {
            window.open("@Url.Action("PrintAmity", "Amity", new { area = "EMRForms" })?car_Id=" + $("#car_Id").val())
        }
    //#endregion

    //#region Load Get_Patient_Treatments_table
        var Get_AllPatientTreatments = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllPatientTreatments", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.isAuthorized != false) {
                        var table;
                        if ($.fn.dataTable.isDataTable('#tbl_Treatment')) {
                            table = $('#tbl_Treatment').DataTable();
                            table.clear();
                            table.rows.add(response).draw();
                        }
                        else {
                            BindDataTableP(response);
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion

    //#region Bind Get_Patient_Treatments_table
        var BindDataTableP = function (response) {
            var table = $("#tbl_Treatment").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                processing: true,
                "deferRender": true,
                "retrieve": true,
                lengthChange: true,
                "aaData": response,
                "aoColumns": [
                    {
                        "mData": "ptId",
                        "orderable": false,
                        "searchable": false,
                        "className": "text-center",
                        "render": function (data, type, row, meta) {
                            let _index = (meta.row) + 1;
                            if (_index >= 10) {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>" + _index + "</a>";
                            }
                            else {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>0" + _index + "</a>";
                            }
                        }
                    },
                    {
                        "mData": "tr_code",
                        "className": 'text-justify text-wrap'
                    },
                    {
                        "mData": "tr_name",
                        "className": 'text-justify text-wrap'
                    },
                    {
                        "mData": "pt_qty",
                        "className": 'text-justify text-wrap'
                    },
                    {
                        "mData": "tr_type",
                        "className": 'text-justify text-wrap'
                    },

                    {
                         "mData": "tr_price",
                        "className": 'text-justify text-wrap'
                    },
                ],
                order: [[0, 'asc']],
                scrollX: true,
                scrollY: 500,
                scrollCollapse: true,
            });
        };
    //#endregion

</script>