@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Laser Vein Derma";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Consent Form For Laser Vein Removal Treatment</h3>
            </div>
            <div class="card-body">
                <div id="LaserVeinDerma_add" style="display:none">
                </div>
                <div id="LaserVeinDerma_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="LaserVeinDerma_history">
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    //#region Page Load
    $(function () {
        GetLaserVeinDermaInfo();
        LaserVeinDermaPreviousHistory();
    });

    //#endregion Page Load

    //#region Load GetLaserVeinDermaInfo
    var GetLaserVeinDermaInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetLaserVeinDermaData", "LaserVeinDerma", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditLaserVeinDerma();
                        $("#LaserVeinDerma_add").hide();
                        $("#LaserVeinDerma_edit").show();

                    }
                    else {
                        $("#LaserVeinDerma_add").show();
                        $("#LaserVeinDerma_edit").hide();
                        AddLaserVeinDerma();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load LaserVeinDerma

    //#region Add LaserVeinDerma
    function AddLaserVeinDerma() {
        var x = $("#LaserVeinDerma_add");
        x.load("@Url.Action("CreateLaserVeinDerma", "LaserVeinDerma", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add LaserVeinDerma

    // #region Update LaserVeinDerma
    function EditLaserVeinDerma() {
        var x = $("#LaserVeinDerma_edit");
        x.load("@Url.Action("UpdateLaserVeinDerma", "LaserVeinDerma", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update LaserVeinDerma

    //#region Histroy of LaserVeinDerma
    function LaserVeinDermaPreviousHistory() {
        var x = $("#LaserVeinDerma_history");
        x.load("@Url.Action("LaserVeinDermaPreviousHistory", "LaserVeinDerma", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>