@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Pars Plana";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"> Informed Consent For Pars Plana Vitrectomy Procedure</h3>
            </div>
            <div class="card-body">
                <div id="ParsPlana_add" style="display:none">
                </div>
                <div id="ParsPlana_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="ParsPlana_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetParsPlanaInfo();
        ParsPlanaPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetParsPlanaInfo
    var GetParsPlanaInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetParsPlanaData", "ParsPlana", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditParsPlana();
                        $("#ParsPlana_add").hide();
                        $("#ParsPlana_edit").show();

                    }
                    else {
                        $("#ParsPlana_add").show();
                        $("#ParsPlana_edit").hide();
                        AddParsPlana();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load ParsPlana

    //#region Add ParsPlana
    function AddParsPlana() {
        var x = $("#ParsPlana_add");
        x.load("@Url.Action("CreateParsPlana", "ParsPlana", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add ParsPlana

    //#region Update ParsPlana
    function EditParsPlana() {
        var x = $("#ParsPlana_edit");
        x.load("@Url.Action("UpdateParsPlana", "ParsPlana", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update ParsPlana

    //#region Histroy of ParsPlana
    function ParsPlanaPreviousHistory() {
        var x = $("#ParsPlana_history");
        x.load("@Url.Action("ParsPlanaPreviousHistory", "ParsPlana", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>