@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Laser Hair Bleaching";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Laser Hair Bleaching</h3>
            </div>
            <div class="card-body">
                <div id="LaserHairBleaching_add" style="display:none">
                </div>
                <div id="LaserHairBleaching_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="LaserHairBleaching_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetLaserHairBleachingInfo();
        LaserHairBleachingPreviousHistory();
    });

    //#endregion Page Load

    //#region Load GetLaserHairBleaching
    var GetLaserHairBleachingInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetLaserHairBleachingData", "LaserHairBleaching", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    console.log(response.length);
                    if (response.length > 0) {
                        EditLaserHairBleaching();
                        $("#LaserHairBleaching_add").hide();
                        $("#LaserHairBleaching_edit").show();

                    }
                    else {
                        $("#LaserHairBleaching_add").show();
                        $("#LaserHairBleaching_edit").hide();
                        AddLaserHairBleaching();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load LaserHairBleaching

    //#region Add LaserHairBleaching
    function AddLaserHairBleaching() {
        var x = $("#LaserHairBleaching_add");
        x.load("@Url.Action("CreateLaserHairBleaching", "LaserHairBleaching", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add LaserHairBleaching

    //#region Update LaserHairBleaching
    function EditLaserHairBleaching() {
        var x = $("#LaserHairBleaching_edit");
        x.load("@Url.Action("UpdateLaserHairBleaching", "LaserHairBleaching", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update LaserHairBleaching

    //#region History of LaserHairBleaching
    function LaserHairBleachingPreviousHistory() {
        var x = $("#LaserHairBleaching_history");
        x.load("@Url.Action("LaserHairBleachingPreviousHistory", "LaserHairBleaching", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>