@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Dmax Thread Lifting";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Thread Lifting Consent Form</h3>
            </div>
            <div class="card-body">
                <div id="DmaxThreadLifting_add" style="display:none">
                </div>
                <div id="DmaxThreadLifting_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="DmaxThreadLifting_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetDmaxThreadLiftingInfo();
        DmaxThreadLiftingPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetDmaxThreadLiftingInfo
    var GetDmaxThreadLiftingInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetDmaxThreadLiftingData", "DmaxThreadLifting", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditDmaxThreadLifting();
                        $("#DmaxThreadLifting_add").hide();
                        $("#DmaxThreadLifting_edit").show();

                    }
                    else {
                        $("#DmaxThreadLifting_add").show();
                        $("#DmaxThreadLifting_edit").hide();
                        AddDmaxThreadLifting();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load DmaxThreadLifting

    //#region Add DmaxThreadLifting
    function AddDmaxThreadLifting() {
        var x = $("#DmaxThreadLifting_add");
        x.load("@Url.Action("CreateDmaxThreadLifting", "DmaxThreadLifting", new { area = "ConsentForms" })", function () {
    });
    }
    //#endregion Add DmaxThreadLifting

    // #region Update DmaxThreadLifting
    function EditDmaxThreadLifting() {
        var x = $("#DmaxThreadLifting_edit");
        x.load("@Url.Action("UpdateDmaxThreadLifting", "DmaxThreadLifting", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
    });
    }
    //#endregion Update DmaxThreadLifting

    // #region History of DmaxThreadLifting
    function DmaxThreadLiftingPreviousHistory() {
        var x = $("#DmaxThreadLifting_history");
        x.load("@Url.Action("DmaxThreadLiftingPreviousHistory", "DmaxThreadLifting", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
    });
    }
    //#endregion History of DmaxThreadLifting
</script>