@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "PDO Arabic Derma";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header" dir="rtl">
                <h3 class="card-title">شركة تنمية نفط عمان-العربية</h3>
            </div>
            <div class="card-body">
                <div id="PdoArabicDerma_add" style="display:none">
                </div>
                <div id="PdoArabicDerma_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="PdoArabicDerma_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetPdoArabicDermaInfo();
        PdoArabicDermaPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetPdoArabicDermaInfo
    var GetPdoArabicDermaInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetPdoArabicDermaData", "PdoArabicDerma", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditPdoArabicDerma();
                        $("#PdoArabicDerma_add").hide();
                        $("#PdoArabicDerma_edit").show();

                    }
                    else {
                        $("#PdoArabicDerma_add").show();
                        $("#PdoArabicDerma_edit").hide();
                        AddPdoArabicDerma();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load PdoArabicDerma

    //#region Add PdoArabicDerma
    function AddPdoArabicDerma() {
        var x = $("#PdoArabicDerma_add");
        x.load("@Url.Action("CreatePdoArabicDerma", "PdoArabicDerma", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add PdoArabicDerma

    // #region Update PdoArabicDerma
    function EditPdoArabicDerma() {
        var x = $("#PdoArabicDerma_edit");
        x.load("@Url.Action("UpdatePdoArabicDerma", "PdoArabicDerma", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update PdoArabicDerma

    //#region Histroy of PdoArabicDerma
        function PdoArabicDermaPreviousHistory() {
            var x = $("#PdoArabicDerma_history");
            x.load("@Url.Action("PdoArabicDermaPreviousHistory", "PdoArabicDerma", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
            });
        }
    //#endregion
</script>