@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.InsuranceForms.NasAdviceForm

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="modal-body p-4">
    <form id="form_NasAdviceFormEdit" class="fs-14" autocomplete="off" name="NasAdviceForm" ondrop="return false;" onpaste="return false;" oncut="return false;">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.nafId, new { @id = "nafId", @value = "@Model.nafId" })
        <div>
            @*<div class="font-weight-bold mb-5 text-center">
                    PRESCRIPTION /ADVICE FORM
                </div>*@
            <div class="row">
                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
                    <div class="card-body">
                        <div class="row outer-border">
                            <div class="col-lg-12 col-md-12 ps-0">
                                <div class="form-group row">
                                    <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                        <label class="col-md-4 form-label">
                                            Ref No :
                                        </label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(m => m.naf_1, new { @class = "form-control", @id = "unaf_1", @maxlength = "50" })
                                        </div>
                                    </div>
                                    <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                        <label class="col-md-12 col-lg-4 form-label"> ( IMPORTANT: Please copy from the Consultation Form )</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                        <label class="col-md-4 form-label">
                                            PATIENT NAME
                                        </label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">
                                            <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.pat_name&nbsp;</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                        <label class="col-md-4 form-label">
                                            DIAGNOSIS
                                        </label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">
                                            <lable class="text-red" id=""></lable>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h6 class="text-black">NATURE OF TREATMENT : ( Please use separate sheet for each group)</h6>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 col-lg-1">
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="unaf_chk" id="unaf_chk1" value="1">
                                                <span class="custom-control-label">Pharmacy</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-2">
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="unaf_chk" id="unaf_chk2" value="2">
                                                <span class="custom-control-label">Diagnostic</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-2">
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="unaf_chk" id="unaf_chk3" value="3">
                                                <span class="custom-control-label">Physiotherapy </span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-lg-2">
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="unaf_chk" id="unaf_chk4" value="4">
                                                <span class="custom-control-label">Others</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row outer-border">
                            <div class="row col-lg-12 col-md-12 ps-0">
                                <div class="col-sm-12 col-md-6 col-lg-3 mt-3">
                                    <label class="text-black">
                                        DOCTOR'S SIGNATURE AND STAMP
                                    </label>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h5 class="font-weight-bold text-black ps-3">FOR PROVIDERS USE</h5>
                    </div>
                    <div class="card-body">
                        <div class="row outer-border">
                            <div class="col-lg-12 col-md-12 ps-0">
                                <div class="form-group row">
                                    <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                        <label class="col-md-4 form-label">
                                            CARD NO
                                        </label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">

                                        </div>
                                    </div>
                                    <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                        <label class="col-md-4 form-label">
                                            AMOUNT CLAIMED
                                        </label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">
                                            <lable class="text-red"></lable>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                        <label class="col-md-4 form-label">
                                            PAYER
                                        </label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">
                                            <lable class="text-red">@emr.ic_name</lable>
                                        </div>
                                    </div>
                                    <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                        <label class="col-md-4 form-label">
                                            DATE
                                        </label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">
                                            <lable class="text-red">@emr.app_fdate</lable>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                        <label class="col-md-4 form-label">
                                            NAME
                                        </label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">
                                            <lable class="text-red">@emr.pat_name</lable>
                                        </div>
                                    </div>
                                    <div class="d-flex col-sm-12 col-md-12 col-lg-6 ps-0">
                                        <label class="col-md-4 form-label">
                                            Signature and Stamp
                                        </label>
                                        <div class="d-flex  justify-content-center w-8  form-label">
                                            :
                                        </div>
                                        <div class="col-md-6">
                                            <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row outer-border">
                            <div class="col-lg-12 col-md-12 ps-0">
                                <div class="form-group row">
                                    <p class="text-justify text-black">
                                        I hereby certify having received prescribed treatment and allow NAS authorized personnel to obtain any requisite medical
                                        details from my current and previous physicians and/or case files.
                                    </p>
                                </div>
                                <div class="form-group">
                                    <div class="text-black">BENEFICIARYS’ SIGNATURE</div>
                                    <div id="upat_sign_box" class="">
                                        <img alt="stamp" id="upat_sign" class="avatar avatar-xl bsquare" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <p class="text-justify text-black">NAS Administration Services , P.O Box 44505 Abu Dhabi , UAE Tel : 02-6777997 Fax : 02- 6766227</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="btn-list btn-animation">
                        <button type="submit" class="btn btn-warning btn-sm" id="btn_Update">Save Changes</button>
                        <button type="button" class="btn btn-danger btn-sm" id="btn_DeleteForm">Delete</button>
                        <button type="button" class="btn btn-outline-dark btn-sm d-none" id="btn_Reset">Reset</button>
                        <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print"> Download/Print </button>
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    // region page load
    var formName1 = $(form_NasAdviceFormEdit).closest('form').attr('name');
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Update").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Update").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Update").show();
                }
                else {
                    $("#btn_Update").hide();
                }
            }
        }

        validate();
        GetSignaturename('patient');
        Get_Patient_signs();
        Get_PatientEMR();
        GetCheckedValues();

    });
    // end region page load

    //#region Validation Initialization
    var validate = function () {
        $("#form_NasAdviceFormEdit").validate({
            rules: {
                naf_1: {
                    required: true
                },

            },
            messages: {
                naf_1: {
                    required: "Please Enter Rf Number"
                },

            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

    }
   //#endregion

   //#region Load Get_Patient_signs
        var Get_Patient_signs = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Get_Patient_Signs", "ReimbursementForms", new { area = "EMRForms" })?appId="+@emr.appId,
                success: function (response) {
                    if (response.length > 0) {
                        var str1 = response[0].sign_bp;
                        var str2 = response[0].sign_pulse;
                        var str3 = response[0].sign_temp;
                        var str4 = response[0].sign_notes;
                        var regex = /(|<([^>]+)>)/ig;
                        $("#sign_bp").text(str1.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_pulse").text(str2.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_temp").text(str3.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_notes").text(str4.replace(/(<p>|<\/p>)/g, ""));
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
    //#endregion

    // #region Chief Complaints,Treatments,Diagnosis  page load validation
    function Get_PatientEMR() {
        let complaints = false, treatments = false, diagnosis = false;

        $.ajax({
            url: "@Url.Action("GetAllPatientTreatments", "PatientTreatments", new { area = "EMR" })?appId=" + "@emr.appId" + "&pt_type=Insurance",
            method: "GET",
            async: false,
            success: function (response) {
                console.log(response)
                if (response.length > 0) {
                    let htmlTreat = '';
                    let count = 0;

                    response.forEach(t => {
                        if (t.pt_status === "Invoiced") {
                            count++;
                            htmlTreat += `<div>${count}. ${t.tr_name}</div>`;
                        }
                    });
                    htmlTreat += '</div>';

                    if (count > 0) {
                        $('#utreat_details').append(htmlTreat);
                        treatments = true;
                    }
                    else {
                        $('#utreat_details').text("Nil");
                        treatments = false;
                    }
                }
                else {
                    $('#utreat_details').text("Nil");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        });

        $.ajax({
            url: "@Url.Action("GetAllPatientDiagnosis", "PatientDiagnosis", new { area = "EMR" })?appId=" + "@emr.appId",
            method: "GET",
            async: false,
            success: function (response) {
                if (response.message.length > 0) {
                    diagnosis = true;
                    let count = 1;
                    let htmlDiag = '<div class="d-flex flex-column gap-2">';
                    let htmlDiag_code = '<div class="d-flex flex-column gap-2">';

                    response.message.forEach(d => {
                        htmlDiag += `<div>${count}. ${d.diag_name}</div>`;
                        htmlDiag_code += `<div>${count}. ${d.diag_code}</div>`;
                        count++;
                    });

                    htmlDiag += '</div>';
                    htmlDiag_code += '</div>';

                    $('#upat_Diagnosis').append(htmlDiag);
                    $('#upat_Diagnosis_code').append(htmlDiag_code);
                }
                else {
                    $('#upat_Diagnosis').text("Nil");
                    $('#upat_Diagnosis_code').text("Nil");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })

        $.ajax({
            url: "@Url.Action("GetAllCheifComplaints", "CheifComplaints", new { area = "EMR" })?appId=" +@emr.appId,
            dataType: "json",
            method: "GET",
            async: false,
            success: function (response) {
                console.log(response);
                if (response.length > 0) {
                    complaints = true;
                    let count = 1;
                    let htmlcomp = '<div class="d-flex flex-column gap-2">';

                    response.forEach(d => {
                        htmlcomp += `<div>${count}. ${d.complaint}</div>`;

                        count++;
                    });

                    htmlcomp += '</div>';

                    $('#ucomplaints').append(htmlcomp);
                }
                else {
                    $('#ucomplaints').text("Nil");
                }
            },
            error: function (xhr) {
                console.log(xhr)
            }
        });

        if (complaints && treatments && diagnosis) {
            $("#btn_Insert").show();
        }
        else {
            let missing = [];

            if (!complaints) {
                missing.push('Complaints');
            }

            if (!diagnosis) {
                missing.push('Diagnosis');
            }

            if (!treatments) {
                missing.push('Treatments');
            }

            let missingString = missing.join(", ");

            let htmlAlert = `
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>${missingString}</strong> have not been filled yet.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">&#10006;</button>
                </div>
            `;

            $("#alert_form").append(htmlAlert);
            $("#btn_Insert").hide();
        }
    }
    //#endregion

   //#region Update  Click
    $('#btn_Update').on('click', function (e) {
        e.preventDefault();
        if ($("#form_NasAdviceFormEdit").valid()) {
            console.log($("#nafId").val());
            $('#btn_Update').removeClass("btn btn-sm btn-success");
            $('#btn_Update').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Update').html("Updating the Record....");

            var unaf_chk_ = $.map($(':checkbox[name=unaf_chk]:checked'), function (n, i) {
                return n.value;
            }).join(',');

            var _dateInsert = {
                "nafId": @Model.nafId,
                "naf_appId": @emr.appId,
                "naf_1": $("#unaf_1").val(),
                "naf_chk": unaf_chk_,

                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

            console.log(_dateInsert);

            $.ajax({
                type: "Post",
                url: "@Url.Action("EditNasAdviceForm", "NasAdviceForm", new {area = "InsuranceForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isEdited) {
                            GetNasAdviceFormInfo();
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> Nas Advice Form Updated Successfully!", "success");
                            Timeout();
                            $("#NasAdviceForm_edit").show();
                            $("#NasAdviceForm_add").hide();
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning.. Nas Advice Form Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion Update Click

     //#region Print
$('#btn_Print').on('click', function (e) {
    e.preventDefault();
    $('#btn_Print').removeClass("btn btn-success");
    $('#btn_Print').addClass("btn btn-success btn-loaders btn-icon");
    $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "NasAdviceForm", new {area = "InsuranceForms" })?appId=" + @emr.appId + "&form=NasAdviceForm",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {

                if (data.success)
                    console.log(data);
                    console.log(data.message.pdfPath); {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print

    //#region Delete Click
    $('#btn_DeleteForm').on('click', function (e) {
        e.preventDefault();
        $('#btn_DeleteForm').removeClass("btn btn-success");
        $('#btn_DeleteForm').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_DeleteForm').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteNasAdviceForm", "NasAdviceForm", new { area = "InsuranceForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-warning");
                $('#btn_DeleteForm').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>Nas Advice Form Deleted Successfully!", "success");
                        clearControls();

                        $("#NasAdviceForm_edit").hide();
                        $("#NasAdviceForm_add").show();
                        AddNasAdviceForm();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-Delete");
                $('#btn_DeleteForm').html("Delete");
                Timeout();
            }
        })
    });
//#endregion
    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("#upat_sign").attr("src", "");
        $("input[name='unaf_chk']:checkbox").prop('checked', false);

    }
    //#endregion Clear Controls

///#region Wacom Tab Signature
    var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "NasAdviceForm",
                "appId": @emr.appId,
                "formname":"NasAdviceForm",
                "formlink":"",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "NasAdviceForm",
            "appId": @emr.appId,
            "formname":"NasAdviceForm",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            localStorage.removeItem("sign");
        }
    });

        // #region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=NasAdviceForm',
                type: "GET",
                dataType: "json",
                async: false,
                success: function (response) {
                    //console.log(response);
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY");

                    if (response[0].person == "patient") {
                        $("#upat_sign_box").removeClass("d-none");
                        $("#upsb_date_patient").text(date);
                        $("#upat_sign").attr("src", sign);
                    }

                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
    //#endregion Get Signature

        //#region Get CheckedValues
        var GetCheckedValues = function (checknames) {
        var checknames = "@Model.naf_chk";

          if (checknames !== null) {

            if (checknames != "") {
             var str = "@Model.naf_chk";
             var myarray = str.split(',');
             for (var i = 0; i < myarray.length; i++) {
                $('.custom-control-input').each(function () {
                    if (myarray.includes($(this).val())) {
                        $(this).prop("checked", true);
                    }
                });
            }
            console.log(myarray)
        }
      }
    }
     //#endregion

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout
</script>