@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Laser Lightening";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"> Laser Lightening/Pigmentation Consent Form</h3>
            </div>
            <div class="card-body">
                <div id="LaserLightening_add" style="display:none">
                </div>
                <div id="LaserLightening_edit">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="LaserLightening_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetLaserLighteningInfo();
        LaserLighteningPreviousHistory();
    });

    //#endregion Page Load

    //#region Load GetLaserLighteningInfo
    var GetLaserLighteningInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetLaserLighteningData", "LaserLightening", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditLaserLightening();
                        $("#LaserLightening_add").hide();
                        $("#LaserLightening_edit").show();

                    }
                    else {
                        $("#LaserLightening_add").show();
                        $("#LaserLightening_edit").hide();
                        AddLaserLightening();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load LaserLightening

    //#region Add LaserLightening
    function AddLaserLightening() {
        var x = $("#LaserLightening_add");
        x.load("@Url.Action("CreateLaserLightening", "LaserLightening", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add LaserLightening

    //#region Update LaserLightening

    function EditLaserLightening() {
        var x = $("#LaserLightening_edit");
        x.load("@Url.Action("UpdateLaserLightening", "LaserLightening", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update LaserLightening

    //#region Histroy of LaserLightening
    function LaserLighteningPreviousHistory() {
        var x = $("#LaserLightening_history");
        x.load("@Url.Action("LaserLighteningPreviousHistory", "LaserLightening", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>