
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.InsuranceForms.NasPrescriptionClaim

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<div class="modal-body p-4">
    <form id="form_NasPrescriptionClaim" class="fs-14" autocomplete="off" name="NasPrescriptionClaim" ondrop="return false;" onpaste="return false;" oncut="return false;">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.npcId, new { @id = "npcId", @value = "@Model.npcId" })
        <div>
            @*<div class="font-weight-bold mb-5 text-center">
                PRESCRIPTION /ADVICE FORM
            </div>*@
            <div class="table table-bordered">
                <div class="row">
                    <div class="d-flex align-items-center col-sm-12 col-md-12 col-lg-8">
                        <div class="col-sm-12 col-md-3 col-lg-3">Ref No</div>
                        <div class="col-sm-12 col-md-5 col-lg-5">
                            @Html.TextBoxFor(m => m.npc_1, new { @class = "form-control", @placeholder = "Please specify", @id = "npc_1" })
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 text-left">
                        ( IMPORTANT: Please copy from the Consultation Form )
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="d-flex col-sm-12 col-md-12 col-lg-8">
                        <div class="col-sm-12 col-md-6 col-lg-3">PATIENT NAME</div>
                        <div class="col-sm-12 col-md-6 col-lg-5">
                            <lable class="text-red">@emr.pat_name</lable>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="d-flex col-sm-12 col-md-12 col-lg-8">
                        <div class="col-sm-12 col-md-6 col-lg-3">DIAGNOSIS</div>
                        <div class="col-sm-12 col-md-6 col-lg-5">
                            <label class="text-red" id="pat_Diagnosis"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="d-flex col-sm-12 col-md-12 col-lg-8 mb-3">
                    <div class="col-sm-12 col-md-6 col-lg-3">NATURE OF TREATMENT</div>
                    <div class="col-sm-12 col-md-6 col-lg-5">
                        <lable>( Please use separate sheet for each group )</lable>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 d-flex font-weight-semibold">
                <div class="col-sm-12 col-md-3 col-lg-2">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="npc_chk" id="npc_chk1" value="1">
                        <span class="custom-control-label">Pharmacy</span>
                    </label>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-2">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="npc_chk" id="npc_chk2" value="2">
                        <span class="custom-control-label">Diagnostic</span>
                    </label>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-2">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="npc_chk" id="npc_chk3" value="3">
                        <span class="custom-control-label">Physiotherapy</span>
                    </label>
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="npc_chk" id="npc_chk4" value="4">
                        <span class="custom-control-label">Others</span>
                    </label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="d-flex col-sm-12 col-md-12 col-lg-8">
                    <div class="col-sm-12 col-md-6 col-lg-3">Doctor’s Signature and Stamp</div>
                    <div class="col-sm-12 col-md-6 col-lg-5">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </div>
                </div>
            </div>
            <div class="font-weight-semibold">FOR PROVIDERS USE</div>
            <div class="row table table table-bordered">
                <div class="col-sm-12 col-md-12 col-lg-12 mt-2">
                    <div class="row">
                        <div class="d-flex align-items-center col-sm-12 col-md-12 col-lg-6">
                            <div class="col-sm-11 col-md-6 col-lg-5 ps-0">
                                <label class="text-black">
                                    CARD NO
                                </label>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-6 border-left-1">
                                <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.pi_insno&nbsp;</span>
                            </div>
                        </div>
                        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                            <div class="col-sm-11 col-md-6 col-lg-4 ps-0">
                                <label class="text-black">
                                    AMOUNT CLAIMED
                                </label>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <span class="font-weight-normal1 text-capitalize text-left text-red"></span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center col-sm-12 col-md-12 col-lg-6 mt-2">
                            <div class="col-sm-11 col-md-6 col-lg-5 ps-0">
                                <label class="text-black">
                                    PAYER
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 border-left-1">
                                <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.ic_name&nbsp;</span>
                            </div>
                        </div>
                        <div class="d-flex col-sm-12 col-md-12 col-lg-6 mt-2">
                            <div class="col-sm-11 col-md-6 col-lg-4 ps-0">
                                <label class="text-black">
                                    DATE
                                </label>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.app_fdate</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center col-sm-12 col-md-12 col-lg-6">
                            <div class="col-sm-11 col-md-6 col-lg-5 ps-0">
                                <label class="text-black">
                                    NAME
                                </label>
                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-6 border-left-1">
                                <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.doc_name</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center col-sm-12 col-md-12 col-lg-6">
                            <div class="col-sm-11 col-md-6 col-lg-4 ps-0">
                                <label class="text-black">
                                    Signature and Stamp
                                </label>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="mt-2">
                I hereby certify having received prescribed treatment and allow NAS authorized personnel to obtain any requisite medical details from my current and previous physicians and/or case files.
            </div>
            <div class="d-flex align-items-center col-sm-12 col-md-12 col-lg-6">
                <div class="col-sm-11 col-md-6 col-lg-4 ps-0">
                    <label class="text-black">
                        BENEFICIARYS’ SIGNATURE
                    </label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div id="pat_sign_box" class="">
                        <img alt="stamp" id="pat_sign" class="avatar avatar-xl bsquare" />
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="btn-list btn-animation">
                        <button type="submit" class="btn btn-success" id="btn_Insert">Save</button>
                        <button type="button" class="btn btn-outline-dark" id="btn_Reset_C">Reset</button>
                        <button type="button" class="btn btn-danger btn-sm d-none" id="btn_Delete">Delete</button>
                        <button type="button" class="btn btn-sm btn-outline-success d-none" id="btn_Print_C"> Download/Print </button>
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    // region page load

    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Insert").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Insert").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Insert").show();
                }
                else {
                    $("#btn_Insert").hide();
                }
            }
        }
        validate();
        Get_Patient_signs();
        Get_PatientEMR();
    });


    //#region Validation Initialization
    var validate = function () {
        $("#form_NasPrescriptionClaim").validate({
            rules: {
                npc_1: {
                    required: true,
                },
            },
            messages: {
                npc_1: {
                    required: "Please Enter Rf Number"
                },
            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
 //#endregion

    //#region Add  Click
    $('#btn_Insert').on('click', function (e) {
        e.preventDefault();
        if ($("#form_NasPrescriptionClaim").valid()) {
            $('#btn_Insert').removeClass("btn btn-sm btn-success");
            $('#btn_Insert').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Insert').html("Saving the Record....");

            var npc_chk_ = $.map($(':checkbox[name=npc_chk]:checked'), function (n, i) {
                return n.value;
            }).join(',');
            console.log(npc_chk_);

           var _dateInsert = {
                    "npcId": 0,
                    "npc_appId": @emr.appId,
                    "npc_1": $("#npc_1").val(),
                    "npc_chk": npc_chk_,

                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

        console.log(_dateInsert);

            $.ajax({
                type: "Post",
                url: "@Url.Action("InsertNasPrescriptionClaim", "NasPrescriptionClaim", new {area = "InsuranceForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-sm btn-success");
                    $('#btn_Insert').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isInserted) {
                            GetNasPrescriptionClaimInfo();
                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>Nas Prescription Claim Saved Successfully!", "success");


                            Timeout();
                            EditNasPrescriptionClaim()

                            $("#btn_Delete").removeClass("d-none");
                            $("#btn_Print").removeClass("d-none");
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning.. Nas Prescription Claim already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-sm btn-warning");
                    $('#btn_Insert').html("Add");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }

    });
    //#endregion Add Click

   //#region Delete Click
    $('#btn_Delete').on('click', function (e) {
        e.preventDefault();
        $('#btn_Delete').removeClass("btn btn-success");
        $('#btn_Delete').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Delete').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteNasPrescriptionClaim", "NasPrescriptionClaim", new { area = "InsuranceForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-warning");
                $('#btn_Delete').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>NNas Prescription Claim Form Deleted Successfully!", "success");
                        clearControls();
                        Timeout();

                        $('#btn_Delete').addClass("d-none");
                        $("#pat_sign_box").addClass("d-none");


                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-Delete");
                $('#btn_Delete').html("Delete");
                Timeout();
            }
        })
    });
//#endregion

    //#region Reset
    $('#btn_Reset_C').on('click', function (e) {
        e.preventDefault();
        clearControls();

    });
    //#endregion Reset

        //#region Print
    $('#btn_Print_C').on('click', function (e) {
        e.preventDefault();
        $('#btn_Print_C').removeClass("btn btn-sm btn-success");
        $('#btn_Print_C').addClass("btn btn-sm btn-success btn-loaders btn-icon");
        $('#btn_Print_C').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "NasPrescriptionClaim", new {area = "InsuranceForms" })?appId=" + @emr.appId + "&form=NasPrescriptionClaim",
        dataType: 'JSON',
        success: function (data) {
            console.log(data)
            if (data.isAuthorized) {
                if (data.success)
                    console.log(data);
                    console.log(data.message.pdfPath); {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print


    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("#pat_sign").attr("src", "");
        $("input[name='npc_chk']:checkbox").prop('checked', false);
    }
    //#endregion Clear Controls

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                 "patId": @emr.patId,
                 "person": id,
                 "form": "NasPrescriptionClaim",
                 "appId": @emr.appId,
                 "formname":"NasPrescriptionClaim",
                 "formlink":"",
                 "eSign":""
             }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion
   //#region Signature
    var openSignaturePad = function (id) {
    var _data = {
        "patId": @emr.patId,
        "person": id,
        "form": "NasPrescriptionClaim",
        "appId": @emr.appId,
        "formname":"NasPrescriptionClaim",
        "formlink":"",
        "eSign":""
    }
    $.ajax({
        type: "GET",
        url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
        contentType: "application/json",
        dataType: "html",
        data: _data,
        success: function (response) {
            $("#signature_pad_body").html(response);
            $("#signature_pad").modal("show");
        },
        error: function (xhr) {
            console.log("Error :" + xhr.statusText);
        }
    });
}
//#endregion Signature

$('#signature_pad').on('hidden.bs.modal', function () {
    if (localStorage.getItem("sign") != null) {
        GetSignaturename('patient');
        localStorage.removeItem("sign");
    }
});


    //#region Get Signature
    var GetSignaturename = function  (person) {
        $.ajax({
            url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=NasPrescriptionClaim',
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                console.log(response);
                let sign = response[0].psb_sign;
                var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY");

                if (response[0].person == "patient") {
                    $("#pat_sign_box").removeClass("d-none");
                    $("#psb_date_patient").html(date);
                    $("#pat_sign").attr("src", sign);
                }

            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr);
            }

        });
    };
    //#endregion Get Signature

//#region Alert Timeout
function Timeout() {
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4200);
}
    //#endregion Alert Timeout
 //#region Load Get_Patient_signs
        var Get_Patient_signs = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Get_Patient_Signs", "ReimbursementForms", new { area = "EMRForms" })?appId="+@emr.appId,
                success: function (response) {
                    if (response.length > 0) {
                        var str1 = response[0].sign_bp;
                        var str2 = response[0].sign_pulse;
                        var str3 = response[0].sign_temp;
                        var str4 = response[0].sign_notes;
                        var regex = /(|<([^>]+)>)/ig;
                        $("#sign_bp").text(str1.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_pulse").text(str2.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_temp").text(str3.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_notes").text(str4.replace(/(<p>|<\/p>)/g, ""));
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
    //#endregion

    // #region Chief Complaints,Treatments,Diagnosis  page load validation

    function Get_PatientEMR() {
        let complaints = false, treatments = false, diagnosis = false;

        $.ajax({
            url: "@Url.Action("GetAllPatientTreatments", "PatientTreatments", new { area = "EMR" })?appId=" + "@emr.appId" + "&pt_type=Insurance",
            method: "GET",
            async: false,
            success: function (response) {
                console.log(response)
                if (response.length > 0) {
                    let htmlTreat = '';
                    let count = 0;

                    response.forEach(t => {
                        if (t.pt_status === "Invoiced") {
                            count++;
                            htmlTreat += `<div>${count}. ${t.tr_name}</div>`;
                        }
                    });
                    htmlTreat += '</div>';

                    if (count > 0) {
                        $('#treat_details').append(htmlTreat);
                        treatments = true;
                    }
                    else {
                        $('#treat_details').text("Nil");
                        treatments = false;
                    }
                }
                else {
                    $('#treat_details').text("Nil");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        });

        $.ajax({
            url: "@Url.Action("GetAllPatientDiagnosis", "PatientDiagnosis", new { area = "EMR" })?appId=" + "@emr.appId",
            method: "GET",
            async: false,
            success: function (response) {
                if (response.message.length > 0) {
                    diagnosis = true;
                    let count = 1;
                    let htmlDiag = '<div class="d-flex flex-column gap-2">';
                    let htmlDiag_code = '<div class="d-flex flex-column gap-2">';

                    response.message.forEach(d => {
                        htmlDiag += `<div>${count}. ${d.diag_name}</div>`;
                        htmlDiag_code += `<div>${count}. ${d.diag_code}</div>`;
                        count++;
                    });

                    htmlDiag += '</div>';
                    htmlDiag_code += '</div>';

                    $('#pat_Diagnosis').append(htmlDiag);
                    $('#pat_Diagnosis_code').append(htmlDiag_code);
                }
                else {
                    $('#pat_Diagnosis').text("Nil");
                    $('#pat_Diagnosis_code').text("Nil");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })

        $.ajax({
            url: "@Url.Action("GetAllCheifComplaints", "CheifComplaints", new { area = "EMR" })?appId=" +@emr.appId,
            dataType: "json",
            method: "GET",
            async: false,
            success: function (response) {
                console.log(response);
                if (response.length > 0) {
                    complaints = true;
                    let count = 1;
                    let htmlcomp = '<div class="d-flex flex-column gap-2">';


                    response.forEach(d => {
                        htmlcomp += `<div>${count}. ${d.complaint}</div>`;

                        count++;
                    });

                    htmlcomp += '</div>';

                    $('#complaints').append(htmlcomp);
                }
                else {
                    $('#complaints').text("Nil");
                }
            },
            error: function (xhr) {
                console.log(xhr)
            }
        });

        if (complaints && treatments && diagnosis) {
            $("#btn_Insert").show();
        }
        else {
            let missing = [];

            if (!complaints) {
                missing.push('Complaints');
            }

            if (!diagnosis) {
                missing.push('Diagnosis');
            }

            if (!treatments) {
                missing.push('Treatments');
            }

            let missingString = missing.join(", ");

            let htmlAlert = `
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>${missingString}</strong> have not been filled yet.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">&#10006;</button>
                </div>
            `;

            $("#alert_form").append(htmlAlert);
            $("#btn_Insert").hide();
        }
    }

    //#endregion
</script>