@using BusinessEntities;
@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "NasPrescriptionClaimIndex";

        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }


}
<div id="alert_form">
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="text-red p-2">Required fields are marked with *</div>
            <div class="mt-2 d-flex justify-content-center"><img src="~/images/Insurance_Forms/Nas/nas.jpg" style="width:160px" /></div>
            <div class="card-header">
                <h3 class="card-title">PRESCRIPTION /ADVICE FORM</h3>
            </div>
            <div class="card-body">
                <div id="NasPrescriptionClaim_add" style="display:none">
                </div>
                <div id="NasPrescriptionClaim_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="NasPrescriptionClaim_history">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //#region Page Load
    $(function () {
        GetNasPrescriptionClaimInfo();
        NasPrescriptionClaimPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetNasPrescriptionClaimInfo
    var GetNasPrescriptionClaimInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetNasPrescriptionClaimData", "NasPrescriptionClaim", new { area = "InsuranceForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditNasPrescriptionClaim();
                        $("#NasPrescriptionClaim_add").hide();
                        $("#NasPrescriptionClaim_edit").show();

                    }
                    else {
                        $("#NasPrescriptionClaim_add").show();
                        $("#NasPrescriptionClaim_edit").hide();
                        AddNasPrescriptionClaim();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load NasPrescriptionClaim

    //#region Add NasPrescriptionClaim
    function AddNasPrescriptionClaim() {
        var x = $("#NasPrescriptionClaim_add");
        x.load("@Url.Action("CreateNasPrescriptionClaim", "NasPrescriptionClaim", new { area = "InsuranceForms" })", function () {
        });
    }
    //#endregion Add NasPrescriptionClaim

    // #region Update NasPrescriptionClaim
    function EditNasPrescriptionClaim() {
        var x = $("#NasPrescriptionClaim_edit");
        x.load("@Url.Action("UpdateNasPrescriptionClaim", "NasPrescriptionClaim", new { area = "InsuranceForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update NasPrescriptionClaim

    // #region Histroy of NasPrescriptionClaim
    function NasPrescriptionClaimPreviousHistory() {
        var x = $("#NasPrescriptionClaim_history");
        x.load("@Url.Action("NasPrescriptionClaimPreviousHistory", "NasPrescriptionClaim", new { area = "InsuranceForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>
