@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Slimming Consent";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Slimming Sheet</h3>
            </div>
            <div class="card-body">
                <div id="SlimmingConsent_add" style="display:none">
                </div>
                <div id="SlimmingConsent_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="SlimmingConsent_history">
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    //#region Page Load
    $(function () {
        GetSlimmingConsentInfo();
        SlimmingConsentPreviousHistory();


    });

    //#endregion Page Load

    //#region Load GetSlimmingConsentInfo
    var GetSlimmingConsentInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetSlimmingConsentData", "SlimmingConsent", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditSlimmingConsent();
                        $("#SlimmingConsent_add").hide();
                        $("#SlimmingConsent_edit").show();

                    }
                    else {
                        $("#SlimmingConsent_add").show();
                        $("#SlimmingConsent_edit").hide();
                        AddSlimmingConsent();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load SlimmingConsent

    //#region Add SlimmingConsent
    function AddSlimmingConsent() {
        var x = $("#SlimmingConsent_add");
        x.load("@Url.Action("CreateSlimmingConsent", "SlimmingConsent", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add SlimmingConsent

    // #region Update SlimmingConsent
    function EditSlimmingConsent() {
        var x = $("#SlimmingConsent_edit");
        x.load("@Url.Action("UpdateSlimmingConsent", "SlimmingConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update SlimmingConsent

    //#region Histroy of SlimmingConsent
    function SlimmingConsentPreviousHistory() {
        var x = $("#SlimmingConsent_history");
        x.load("@Url.Action("SlimmingConsentPreviousHistory", "SlimmingConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion History of SlimmingConsent

</script>