@using System.Security.Claims;
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    var company = claims.Where(c => c.Type == ClaimTypes.PrimarySid).Select(c => c.Value).SingleOrDefault();
    var emp_branch = claims.Where(c => c.Type == ClaimTypes.GroupSid).Select(c => c.Value).SingleOrDefault();
}
<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title mb-0 text-primary">
            Prior Requests & Authorizations
        </h4>
        <div class="row row-lg">
            <div class="col-lg">
                <div class="form-group">
                    <select id="s_branch" class="form-control mb-lg-6" multiple="multiple"></select>
                </div>
            </div>
            <div class="col-lg">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input id="s_dateFrom" class="form-control form-control-sm fc-datepicker" placeholder="Activity Data From" type="text">
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input id="s_dateTo" class="form-control form-control-sm fc-datepicker" placeholder="Activity Date To" type="text">
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="form-group">
                    <button type="button" class="btn btn-primary mt-1" id="btnSearch">Get Details</button>
                </div>
            </div>
        </div>
        <div class="row row-sm">
            <div class="col-lg">
                <h5 class="text-danger" id="spnErrorMessage"></h5>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body text-">
                <!-- Row-1 -->
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
                        <div class="card overflow-hidden dash1-card border-0 dash1">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-6">
                                        <div class="">
                                            <span class="fs-14 font-weight-normal">Prior Requests</span>
                                            <h2 class="mb-2 number-font carn1 font-weight-bold"><span id="spn_PriorRequests"></span></h2>
                                            <span class=""><i class="fe fe-arrow-up-circle"></i><span id="spn_Amt_PriorRequests"></span> <span class="ms-1 fs-11">AED</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-6 my-auto mx-auto">
                                        <div class="mx-auto text-right">
                                            <div id="spark1"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
                        <div class="card overflow-hidden dash1-card border-0 dash2">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-6">
                                        <div class="">
                                            <span class="fs-14">In Review</span>
                                            <h2 class="mb-2 mt-1 number-font carn2 font-weight-bold">0</h2>
                                            <span class=""><i class="fe fe-arrow-up-circle"></i> 15 <span class="ms-1 fs-11">AED</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-6 my-auto mx-auto">
                                        <div class="mx-auto text-right">
                                            <div id="spark2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
                        <div class="card overflow-hidden dash1-card border-0 dash3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-6">
                                        <div class="">
                                            <span class="fs-14">Ready to Submit</span>
                                            <h2 class="mb-2 mt-1 number-font carn2 font-weight-bold">0</h2>
                                            <span class=""><i class="fe fe-arrow-up-circle"></i> 62 <span class="ms-1 fs-11">AED</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-6 my-auto mx-auto">
                                        <div class="mx-auto text-right">
                                            <div id="spark3"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
                        <div class="card overflow-hidden dash1-card border-0 dash4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-6">
                                        <div class="text-justify">
                                            <span>Submitted for Approval</span>
                                            <h2 class="mb-2 mt-1 number-font carn2 font-weight-bold">0</h2>
                                            <span class=""><i class="fe fe-arrow-up-circle"></i> 53 <span class="ms-1 fs-11">AED</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-6 my-auto mx-auto">
                                        <div class="mx-auto text-right">
                                            <div id="spark4"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Row-1 -->
                <!-- Row-2 -->
                <div class="row">
                    <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
                        <div class="card overflow-hidden dash1-card border-0 dash4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-6">
                                        <div class="">
                                            <span class="fs-14 font-weight-normal">Approved</span>
                                            <h2 class="mb-2 number-font carn1 font-weight-bold">0</h2>
                                            <span class=""><i class="fe fe-arrow-up-circle"></i> 76 <span class="ms-1 fs-11">AED</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-6 my-auto mx-auto">
                                        <div class="mx-auto text-right">
                                            <div id="spark5"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
                        <div class="card overflow-hidden dash1-card border-0 dash1">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-6">
                                        <div class="">
                                            <span class="fs-14">Partly Approved</span>
                                            <h2 class="mb-2 mt-1 number-font carn2 font-weight-bold">0</h2>
                                            <span class=""><i class="fe fe-arrow-up-circle"></i> 15 <span class="ms-1 fs-11">AED</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-6 my-auto mx-auto">
                                        <div class="mx-auto text-right">
                                            <div id="spark6"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
                        <div class="card overflow-hidden dash1-card border-0 dash2">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-6">
                                        <div class="">
                                            <span class="fs-14">Rejected</span>
                                            <h2 class="mb-2 mt-1 number-font carn2 font-weight-bold">0</h2>
                                            <span class=""><i class="fe fe-arrow-up-circle"></i> 62 <span class="ms-1 fs-11">AED</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-6 my-auto mx-auto">
                                        <div class="mx-auto text-right">
                                            <div id="spark7"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-6 col-md-6 col-xm-12">
                        <div class="card overflow-hidden dash1-card border-0 dash3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-6">
                                        <div class="text-justify">
                                            <span>Cancelled</span>
                                            <h2 class="mb-2 mt-1 number-font carn2 font-weight-bold">0</h2>
                                            <span class=""><i class="fe fe-arrow-up-circle"></i> 53 <span class="ms-1 fs-11">AED</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-6 my-auto mx-auto">
                                        <div class="mx-auto text-right">
                                            <div id="spark8"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Row-2 -->
                <!-- Row-3 -->
                <div class="row">
                    <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header border-bottom-0">
                                <h3 class="card-title">Prior Requests Activity</h3>
                            </div>
                            <div class="card-body pt-0">
                                <div class="chart-wrapper">
                                    <div id="statistics"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    Recent Activity
                                </h3>
                                <div class="card-options">
                                    <a href="javascript:void(0);" class="btn btn-sm btn-primary">View All</a>
                                </div>
                            </div>
                            <div class="card-body p-0">
                                <ul class="recent-activity">
                                    <li class="mb-5 mt-5">
                                        <div>
                                            <span class="activity-timeline bg-primary text-white">1</span>
                                            <div class="activity-timeline-content">
                                                <span class="font-weight-normal1 fs-13">New Products,</span><span class="text-muted fs-12 float-end">6:45pm</span>
                                                <span class="activity-sub-content text-info fs-11">52% New products</span>
                                                <p class="text-muted fs-12 mt-1">More than 200 new products are added</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mb-5">
                                        <div>
                                            <span class="activity-timeline bg-success text-white">2</span>
                                            <div class="activity-timeline-content">
                                                <span class="font-weight-normal1 fs-13">New Sale,</span><span class="text-muted fs-12 float-end">1day ago</span>
                                                <span class="activity-sub-content text-danger fs-11">76% Profit earned.</span>
                                                <p class="text-muted fs-12 mt-1">$2,546 income earned in today sale</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mb-5">
                                        <div>
                                            <span class="activity-timeline bg-warning text-white">3</span>
                                            <div class="activity-timeline-content">
                                                <span class="font-weight-normal1 fs-13">New Customers,</span><span class="text-muted fs-12 float-end">7.45pm</span>
                                                <span class="activity-sub-content text-success fs-11">24% New customers</span>
                                                <p class="text-muted fs-12 mt-1">1.3k new customers reached us this year</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mb-5">
                                        <div>
                                            <span class="activity-timeline bg-info text-white">4</span>
                                            <div class="activity-timeline-content">
                                                <span class="font-weight-normal1 fs-13">New Reviews,</span><span class="text-muted fs-12 float-end">1min ago</span>
                                                <span class="activity-sub-content text-warning fs-11">96% Positive reviews.</span>
                                                <p class="text-muted fs-12 mt-1">There are 500 plus new reviews</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mb-5">
                                        <div>
                                            <span class="activity-timeline bg-danger text-white">5</span>
                                            <div class="activity-timeline-content">
                                                <span class="font-weight-normal1 fs-13">Customer Visits,</span><span class="text-muted fs-12 float-end">today</span>
                                                <span class="activity-sub-content text-secondary fs-11">33% target achieved.</span>
                                                <p class="text-muted fs-12 mt-1">daily 20 plus new customers visits us</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="mb-5 border-bottom-0">
                                        <div>
                                            <span class="activity-timeline bg-teal text-white">6</span>
                                            <div class="activity-timeline-content">
                                                <span class="font-weight-normal1 fs-13">Sale  Consistency,</span><span class="text-muted fs-12 float-end">3 days ago</span>
                                                <span class="activity-sub-content text-teal fs-11">90% growth.</span>
                                                <p class="text-muted fs-12 mt-1">More than 5 Sales happening every week</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Row-3 -->
            </div>
        </div>
    </div>
</div>
@section myScripts{
    <script type="text/javascript">
        $(function () {
            $('.fc-datepicker').datepicker({
                showOtherMonths: true,
                selectOtherMonths: true,
                dateFormat: "yy-mm-dd"
            });

            var d = new Date();
            $("#s_dateFrom").datepicker("setDate", d.getFullYear() + "-01-01");
            $("#s_dateTo").datepicker("setDate", d.getFullYear() + "-12-31");

            load_branches();


        })
        // Load Branches
        var load_branches = function () {
            $('#s_branch').SumoSelect({
                placeholder: 'Select Branch(es)',
                captionFormat: '{0} Branch(es) Selected',
                captionFormatAllSelected: 'All {0} Branches selected!',
                csvDispCount: 3,
                okCancelInMulti: true,
                isClickAwayOk: true,
                search: true,
                searchText: 'Search here...',
                selectAll: true
            });
            $.ajax({
            url: '@Url.Action("GetBranches", "PriorRequests", new { area = "PriorRequests" })',
            type: "GET",
            dataType: "JSON",
            async: false,
            success: function (response) {
                pageLoad = true;
                $('#s_branch').html('');
                $('#s_branch')[0].sumo.reload();

                if ("@emp_designation.ToString()" === "Doctor")
                {
                    $('#s_branch')[0].sumo.add(@emp_branch.ToString(), "@company.ToString()");
                    $('#s_branch')[0].sumo.selectItem(["@emp_branch.ToString()"]);
                }
                else
                {
                    $.each(response, function (j) {
                        $('#s_branch')[0].sumo.add(response[j].id, response[j].text);
                        $('#s_branch')[0].sumo.selectItem(["@emp_branch.ToString()"]);
                    });
                }
                pageLoad = false;
            },
            error: function (xhr) {
                console.log("Failed! Error Message : " + xhr.statusText);
            }
            }).done(function (){
                $('#s_branch')[0].sumo.reload();
            });
        }


        var get_authDetails = function () {
            $("#spnErrorMessage").html("");

            console.log($('#s_dateFrom').val());

            var _data = {
                "branch": $('#s_branch').val().toString(),
                "s_dateFrom": $('#s_dateFrom').val(),
                "s_dateTo": $('#s_dateTo').val()
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetAuthDetails")',
                dataType: 'json',
                data : _data,
                success: function (response) {
                    $("#spn_NumberofClaims").html(addCommas(response["data"]["NumberofClaims"]));
                    $("#spn_TM_NumberofClaims").html(addCommas(response["data"]["TM_NumberofClaims"]));
                    if (response["errorMessage"].toString() != "") {
                        $("#spnErrorMessage").html(response["errorMessage"].toString());
                    }
                    else {
                        $("#spnErrorMessage").html("");
                    }
                },
                error: function (xhr, status, error) {
                    console.log(error);
                    console.log(xhr);
                    console.log(status);
                }
            });
        }
        //#region Search Appointments Click
        $("#btnSearch").click(function (e) {
            e.preventDefault();
            get_authDetails();
        }
    </script>
}