
@model BusinessEntities.Accounts.Masters.Supplier

<!-- INTERNAL telephoneinput css-->
<link rel="stylesheet" href="~/assets/plugins/telephoneinput/telephoneinput.css">

<div class="modal-header py-4 px-5">
    <h5 class="modal-title text-primary font-weight-semibold" id="exampleModalLongTitle">Update Supplier</h5>
    <button aria-label="Close" data-bs-dismiss="modal" class="btn-close" type="button"><span aria-hidden="true">×</span></button>
</div>
<div class="modal-body p-4">
    <form id="form_UpdateSupplier" >
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.supId)
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group">
                    <label class="form-label text-black">Branch&nbsp;<span class="text-danger">*</span></label>
                    @Html.DropDownList("sup_branch", (IEnumerable<SelectListItem>)ViewData["BranchList"], "Please Select", new { @class = "form-select select2" })
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group">
                    <label class="form-label text-black">Supplier Name&nbsp;<span class="text-danger">*</span></label>
                    @Html.TextBoxFor(sup => sup.sup_name, new { @class = "form-control", @placeholder = "Ex : Vision Technologies", maxlength = "95" })
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group">
                    <label class="form-label text-black">VAT Reg No.</label>
                    @Html.TextBoxFor(sup => sup.sup_vat_regno, new { @class = "form-control", @placeholder = "Ex : 102101221445", maxlength = "40" })
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group">
                    <label class="form-label text-black">Telephone #</label>
                    @Html.TextBoxFor(sup => sup.sup_tel, new { @class = "form-control mb-4", @placeholder = "Ex : 06555555", @style = "width:100%;", maxlength = "15" })
                </div>
            </div>
            <div class="ccol-sm-12 col-md-6 col-lg-3">
                <div class="form-group">
                    <label class="form-label text-black">Mobile #</label>
                    @Html.TextBoxFor(sup => sup.sup_mob, new { @class = "form-control mb-4", @placeholder = "Ex : 9715685545455", @style = "width:100%;", maxlength = "15" })
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group">
                    <label class="form-label text-black">Email</label>
                    @Html.TextBoxFor(sup => sup.sup_email, new { @class = "form-control", @placeholder = "Ex : example@domain.com", maxlength = "90" })
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group">
                    <label class="form-label text-black">URL</label>
                    @Html.TextBoxFor(sup => sup.sup_url, new { @class = "form-control", @placeholder = "Ex : http://www.visionsoftwares.com", maxlength = "90" })
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group">
                    <label class="form-label text-black">Credit Days&nbsp;<span class="text-danger">*</span></label>
                    @Html.DropDownListFor(m => m.sup_credit, new List<SelectListItem>
                       {
                          new SelectListItem{ Text="0", Value = "0" },
                          new SelectListItem{ Text="7", Value = "7" },
                          new SelectListItem{ Text="15", Value = "15" },
                          new SelectListItem{ Text="30", Value = "30" },
                          new SelectListItem{ Text="45", Value = "45" },
                          new SelectListItem{ Text="60", Value = "60" },
                          new SelectListItem{ Text="75", Value = "75" },
                       }, "Select Category", new { @class = "form-control select2" })
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="form-label text-black">Address</label>
                    @Html.TextAreaFor(sup => sup.sup_address, new { @class = "form-control", maxlength = "248", rows = "3" })
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="form-label text-black">Notes</label>
                    @Html.TextAreaFor(sup => sup.sup_notes, new { @class = "form-control", maxlength = "950", rows = "3" })
                </div>
            </div>

        </div>
        <div class="row mt-2">
            <div id="sup_update_error"></div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <button type="submit" class="btn btn-warning" id="btn_Update">Save Changes</button>
                <button type="button" class="btn btn-outline-danger me-1" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </form>
</div>
<!--INTERNAL telephoneinput js-->
<script src="~/assets/plugins/telephoneinput/telephoneinput.js"></script>
<script type="text/javascript">
    //#region Page Load
    $(function () {
        $("#sup_tel").intlTelInput();
        $("#sup_mob").intlTelInput();
        $('#sup_branch').select2({
            minimumResultsForSearch: '',
            dropdownParent: $('#Supplier_body'),
            width: '100%'
        });
        $('#sup_credit').select2({
            minimumResultsForSearch: '',
            dropdownParent: $('#Supplier_body'),
            width: '100%'
        });
        $('#sup_name').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^a-zA-Z ]/g))
                return false;
        });
        $('#sup_tel').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9+]/g))
                return false;
        });
        $('#sup_mob').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9+]/g))
                return false;
        });
        $('#sup_obal').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
        });
       validation();
    });
    //#endregion

    //#region Update New Supplier on Button Click
    $('#btn_Update').on('click', function (e) {
        e.preventDefault();
        if ($('#form_UpdateSupplier').valid()) {
            var _dataUpdate = {
                "supId": $('#supId').val(),
                "sup_name": $('#sup_name').val().trim(),
                "sup_tel": $('#sup_tel').val().trim(),
                "sup_mob": $('#sup_mob').val().trim(),
                "sup_email": $('#sup_email').val().trim(),
                "sup_url": $('#sup_url').val().trim(),
                "sup_address": $('#sup_address').val().trim(),
                "sup_notes": $('#sup_notes').val().trim(),
                "sup_account": '999',
                "sup_credit": $('#sup_credit').val(),
                "sup_vat_regno": $('#sup_vat_regno').val().trim(),
                "sup_branch": $('#sup_branch').val(),
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }
            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateSupplier", "Supplier", new { area = "MaterialManagement"})",
                dataType: "JSON",
                data: _dataUpdate, beforeSend: function () {
                    $('#btn_Update').removeClass("btn btn-warning");
                    $('#btn_Update').addClass("btn btn-warning btn-loaders btn-icon");
                    $('#btn_Update').html("Saving....");
                },
                success: function (data) {
                    $('#btn_Update').removeClass("btn btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-warning");
                    $('#btn_Update').html("Save Changes");
                    if (data.isUpdated) {
                        clearData();
                        GetSupplier();
                        var alertPlaceholder = document.getElementById("SupplierAlert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i> Supplier Updated Successfully!", "success");
                        $('#SupplierEdit_body').modal('toggle');
                        Timeout();
                    }
                    else {
                        $("#sup_update_error").html('');
                        var error_message = data.message;
                        if (error_message == "Supplier already exists!") {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-light-warning' role='alert' style=';color:#744f04'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong><i class='fe fe-alert-triangle '></i>&nbsp;" + error_message + "&nbsp;</strong></div></div>";
                            $("#sup_update_error").html(html);
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong><i class='fe fe-alert-circle text-white' ></i>&nbsp;Validation Error.. Please correct before you submit!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }
                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });

                            html += "</ul></div></div>";
                            $("#sup_update_error").html(html);
                        }
                        Timeout();
                    }
                },
                error: function (xhr) {
                    clearData();
                    $('#btn_Update').removeClass("btn btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-warning");
                    $('#btn_Update').html("Save Changes");
                    var alertPlaceholder = document.getElementById("SupplierAlert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                            '<button type="button" class="btn-close text-white" data-bs-dismiss="alert" aria-hidden="true">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-x-circle text-white'></i> Failed to Update Supplier!", "danger");
                    $('#SupplierEdit_body').modal('toggle');
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion

    //#region Adding Validation on Feilds
    var validation = function () {
        $("#form_UpdateSupplier").validate({
            focusInvalid: true,
            rules:
            {
                sup_name: {
                    required: true,
                    minlength: 3
                },
                sup_branch: {
                    required: true,
                },
                sup_credit: {
                    required: true,
                },
                sup_email: {
                    email: true,
                },
                sup_url: {
                    url: true,
                },
            },
            messages: {
                sup_name: {
                    required: "Enter Supplier Name",
                    minlength: "Min 3 characters"
                },
                sup_branch: {
                    required: "Select Branch",
                },
                sup_credit: {
                    required: "Select Credit Days",
                },
                sup_email: {
                    required: "Enter Valid Email",
                },
                sup_url: {
                    required: "Enter Valid URL",
                },
            },
            highlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                } else {
                    elem.parent().addClass('has-error');
                }
                $(element).parent().addClass('has-error');
                Error_Timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                } else {
                    elem.removeClass('has-error');
                }
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    element = $("#select2-" + elem.attr("id") + "-container").parent();
                    error.insertAfter(element);
                } else {
                    error.insertAfter(element);
                }
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
    //#endregion

    //#region Clear Text Boxes Data
    var clearData = function () {
        $('#sup_name').val('');
        $('#sup_tel').val('+971');
        $('#sup_mob').val('+971');
        $('#sup_email').val('');
        $('#sup_url').val('');
        $('#sup_address').val('');
        $('#sup_notes').val('');
        $('#sup_credit').val('0').trigger('change');
        $('#sup_obal').val('0');
        $('#sup_obal_type').val('Debit').trigger('change');
        $('#sup_vat_regno').val('');
        $('#sup_branch').val('0').trigger('change');
    }
    //#endregion

    //#region Remove Valiate Error Class Timeout
    function Error_Timeout(_id) {
        setTimeout(function () {
            $(".has-error").removeClass("has-error");
            $(".error").removeClass("error");
            $("#" + _id +"-error").text("");
        }, 4200);
    }
    //#endregion

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion
</script>
