
@model BusinessEntities.Accounts.Masters.Supplier
<link href="@Url.Content("~/assets/css/style.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("/assets/css/dark.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/css/skin-modes.css")" rel="stylesheet" type="text/css" />

<script>
    window.print();
</script>
<div class="card">
    <div class="card-header">
        <div class="text-center align-content-center">
            <span class="text-center text-secondary" style="width:250px; font-weight:bold; font-size:17px; padding:5px; border-radius:2px;">Supplier Detail</span>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <label class="form-label text-secondary" style="font-size: 15px;">Personal Details</label>
                    </div>
                    <div class="card-body">
                        @Html.HiddenFor(m => m.supId)
                        <div class="mb-3">
                            <div class="d-flex">
                                <div class="Recent-transactions-img brround bg-primary text-white font-weight-normal1">B</div>
                                <div class="">
                                    <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">Branch</a>
                                    <p class="text-muted fs-11">Supplier Branch Name</p>
                                </div>
                                <span class="text-primary font-weight-normal fs-12 ms-auto">@Html.DisplayFor(s => s.branch_name)</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex">
                                <div class="Recent-transactions-img brround bg-success text-white font-weight-normal1">S</div>
                                <div class="">
                                    <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">Name</a>
                                    <p class="text-muted fs-11">Name of the supplier</p>
                                </div>
                                <span class="text-success font-weight-normal fs-12 ms-auto">@Html.DisplayFor(s => s.sup_name)</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex">
                                <div class="Recent-transactions-img brround bg-warning text-white font-weight-normal1">VT</div>
                                <div class="">
                                    <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">VAT Reg No.</a>
                                    <p class="text-muted fs-11">Supplier Value Added Tax No.</p>
                                </div>
                                <span class="text-warning font-weight-normal fs-12 ms-auto">@Html.DisplayFor(s => s.sup_vat_regno)</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex">
                                <div class="Recent-transactions-img brround bg-info text-white font-weight-normal1">TP</div>
                                <div class="">
                                    <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">Telephone #</a>
                                    <p class="text-muted fs-11">Land Line number of Supplier.</p>
                                </div>
                                <span class="text-info font-weight-normal fs-12 ms-auto">@Html.DisplayFor(s => s.sup_tel)</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex">
                                <div class="Recent-transactions-img brround bg-danger text-white font-weight-normal1">MN</div>
                                <div class="">
                                    <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">Mobile #</a>
                                    <p class="text-muted fs-11">Mobile number of Supplier.</p>
                                </div>
                                <span class="text-danger font-weight-normal fs-12 ms-auto">@Html.DisplayFor(s => s.sup_mob)</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex">
                                <div class="Recent-transactions-img brround bg-pink text-white font-weight-normal1">E</div>
                                <div class="">
                                    <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">Email</a>
                                    <p class="text-muted fs-11">Supplier Email Address.</p>
                                </div>
                                <span class="text-pink font-weight-normal fs-12 ms-auto">@Html.DisplayFor(s => s.sup_email)</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex">
                                <div class="Recent-transactions-img brround bg-orange text-white font-weight-normal1">U</div>
                                <div class="">
                                    <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">URL</a>
                                    <p class="text-muted fs-11">Uniform Resource Locator of Supplier</p>
                                </div>
                                <span class="text-orange font-weight-normal fs-12 ms-auto">@Html.DisplayFor(s => s.sup_url)</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex">
                                <div class="Recent-transactions-img brround bg-indigo text-white font-weight-normal1">AD</div>
                                <div class="">
                                    <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">Address</a>
                                    <p class="text-muted fs-11">Supplier Address</p>
                                </div>
                                <span class="text-indigo font-weight-normal fs-12 ms-auto">@Html.DisplayFor(s => s.sup_address)</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex">
                                <div class="Recent-transactions-img brround bg-teal text-white font-weight-normal1">NT</div>
                                <div class="">
                                    <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">Notes</a>
                                    <p class="text-muted fs-11">Special notes for supplier</p>
                                </div>
                                <span class="text-teal font-weight-normal fs-12 ms-auto">@Html.DisplayFor(s => s.sup_notes)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <label class="form-label text-secondary" style="font-size: 15px;">Account Details</label>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <div class="d-flex">
                                <div class="Recent-transactions-img brround bg-primary text-white font-weight-normal1">OB</div>
                                <div class="">
                                    <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">Opening Balance</a>
                                    <p class="text-muted fs-11">Amount with the supplier's account starts</p>
                                </div>
                                <span class="text-primary font-weight-normal fs-12 ms-auto">@Html.DisplayFor(s => s.sup_obal)</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex">
                                <div class="Recent-transactions-img brround bg-success text-white font-weight-normal1">AC</div>
                                <div class="">
                                    <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">Account</a>
                                    <p class="text-muted fs-11">Chart of account code for supplier</p>
                                </div>
                                <span class="text-success font-weight-normal fs-12 ms-auto">@Html.DisplayFor(s => s.sup_account)</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex">
                                <div class="Recent-transactions-img brround bg-warning text-white font-weight-normal1">AT</div>
                                <div class="">
                                    <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">Account Type</a>
                                    <p class="text-muted fs-11">Opening balance reflect in chart of account (Debit/Credit)</p>
                                </div>
                                <span class="text-warning font-weight-normal fs-12 ms-auto">
                                    @{
                                        if (Model.sup_obal_type == "D")
                                        {
                                            <label>Debit</label>
                                        }
                                        else
                                        {
                                            <label>Credit</label>
                                        } }
                                </span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex">
                                <div class="Recent-transactions-img brround bg-info text-white font-weight-normal1">CD</div>
                                <div class="">
                                    <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">Credit Days</a>
                                    <p class="text-muted fs-11">Allowed days for credit balcnce of the supplier</p>
                                </div>
                                <span class="text-info font-weight-normal fs-12 ms-auto">@Html.DisplayFor(s => s.sup_credit)&nbsp;Days</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex">
                                <div class="Recent-transactions-img brround bg-danger text-white font-weight-normal1">GRN</div>
                                <div class="">
                                    <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">Invoices Total</a>
                                    <p class="text-muted fs-11">Total Purchase invoice has created for supplier</p>
                                </div>
                                <span class="text-danger font-weight-normal fs-12 ms-auto">@Html.DisplayFor(s => s.invoice_total)</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex">
                                <div class="Recent-transactions-img brround bg-pink text-white font-weight-normal1">DP</div>
                                <div class="">
                                    <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">Total Paid</a>
                                    <p class="text-muted fs-11">Total payment has been done for supplier</p>
                                </div>
                                <span class="text-pink font-weight-normal fs-12 ms-auto">@Html.DisplayFor(s => s.total_paid)</span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex">
                                <div class="Recent-transactions-img brround bg-indigo text-white font-weight-normal1">TB</div>
                                <div class="">
                                    <a href="javascript:void(0);" class="font-weight-normal1 mb-1 fs-13">Total Balance</a>
                                    <p class="text-muted fs-11">Total pendding amount need to pay to supplier</p>
                                </div>
                                <span class="text-indigo font-weight-normal fs-12 ms-auto">@Html.DisplayFor(s => s.balance)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
