@model IEnumerable<BusinessEntities.Accounts.Masters.Supplier>
@{
    ViewBag.Title = "Accounts & Material Management - Suppliers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<style>
    @@media (min-width: 1124px) {
        .dataTables_scrollHeadInner, .table {
            width: 100% !important
        }
    }
    .dataTables_scrollBody {
        min-height: 450px !important;
    }
</style>*@

<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title mb-0 text-primary">
            <span data-lang-key="suppliers">Suppliers</span></h4>
    </div>
    <div class="page-rightheader">
        <div class="btn-list">
            <a href="" id="btn_Add_Supplier" data-bs-toggle="modal" data-bs-target="#Supplier_modal" class="btn btn-secondary" onclick="AddSupplier()"><i class="mdi mdi-plus"></i><span data-lang-key="add-supplier">&nbsp;Add Supplier</span></a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
        <div id="SupplierAlert"></div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div id="progress-loader" style="display:none;">
                    <div class="progress progress-sm mb-3">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-teal progress-bar-indeterminate"></div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="tbl_supplier" class="table table-striped table-bordered text-nowrap resize-table" style="width: 100%; cursor: pointer;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #3C457D; border-color: #3C457D; ">
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="code">Code</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="branch">Branch</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="name">Name</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="mobile/email">Mobile/Email</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="opn.bal">Opn.Bal.</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="invoice-total">Invoice Total</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="total-paid">Total Paid</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="balance">Balance</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="status">Status</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white text-center"><i class="fe fe-more-vertical" style="font-size: 20px;"></i></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="telephone">Telephone #</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="mobile">Mobile #</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="email">Email</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="accounts-code">Accounts Code</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">
                                    <span data-lang-key="VAT-reg-no">VAT Reg No</span></th>

                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th class="table_footer_align"><span class="text-right text-dark"> 
                                    <span data-lang-key="total">Total : &nbsp;</span></span></th>
                                <th class="table_footer_align"></th>
                                <th class="table_footer_align"></th>
                                <th class="table_footer_align"></th>
                                <th class="table_footer_align"></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@* popup Model *@
<div class="modal fade fade overflow-auto" id="Supplier_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="sizeC">
        <div class="modal-content" id="Supplier_body">
        </div>
    </div>
</div>

@* Supplier Edit popup Model *@
<div class="modal fade fade overflow-auto" id="SupplierEdit_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="size">
        <div class="modal-content" id="SupplierEdit_body">
        </div>
    </div>
</div>

@* View Supplier Detail popup Model *@
<div class="modal fade" id="SupplierView_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="size">
        <div class="modal-content" id="SupplierView_body">
        </div>
    </div>
</div>

@* Supplier Opening Balance popup Model *@
<div class="modal fade" id="SupplierOpeningBalance_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" id="size">
        <div class="modal-content" id="SupplierOpeningBalance_body">
        </div>
    </div>
</div>

@* Supplier History popup Model *@
<div class="modal fade" id="SupplierHistory_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" id="size">
        <div class="modal-content" id="SupplierHistory_body">
        </div>
    </div>
</div>


@section myScripts{
    <style>
        .dataTables_scrollBody {
            min-height: 300px !important;
        }
    </style>
    <script>
        //#region Page Load
        $(function () {
            GetSupplier();
        });
        //#endregion

        //#region Load Supplier
        function GetSupplier() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetSupplier", "Supplier", new { area = "MaterialManagement"})",
                beforeSend: function () {
                    $('#progress-loader').show();
                },
                success: function (response) {
                    if (response.isAuthorized != false) {
                        if ($.fn.dataTable.isDataTable('#tbl_supplier')) {
                            table = $('#tbl_supplier').DataTable();
                            table.clear();
                            table.rows.add(response).draw();
                        }
                        else {
                            BindDataTable(response);
                        }
                    }
                    $('#progress-loader').hide();
                },
                error: function (xhr) {
                    console.log(xhr);
                    $('#progress-loader').hide();
                }
            });
        }
        //#endregion

        //#region Bind Datatable
        var BindDataTable = function (response) {
            var table = $("#tbl_supplier").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                processing: true,
                "deferRender": true,
                "pageLength": 100,
                "retrieve": true,
                lengthChange: true,
                scrollX: true,
                scrollY: 500,
                scrollCollapse: true,
                "aaData": response,
                "aoColumns": [
                    {
                        "mData": "sup_code"
                    },
                    {
                        "mData": "branch_name"
                    },
                    {
                        "mData": "sup_name",
                        "className": "font-weight-bold text-info",
                        "render": function (data, type, full, meta) {
                            return '<a data-bs-toggle="modal" data-bs-target="#SupplierHistory_modal" onclick="SupplierHistory(\'' + full.supId + '\',\'' + full.sup_branch + '\')">' + data + ' <br> <span class="text-gray">' + full.sup_account + '</span></a>';
                        }
                    },
                    {
                        "mData": "sup_mob"
                    },
                    {
                        "mData": "sup_obal",
                        "searchable": false
                    },
                    {
                        "mData": "invoice_total",
                        "searchable": false
                    },
                    {
                        "mData": "total_paid",
                        "searchable": false
                    },
                    {
                        "mData": "balance",
                        "searchable": false
                    },
                    {
                        "mData": "supId",
                        "className": 'text-center',
                        "render": function (supId, type, full, meta) {
                            var visible = full.actionvisible;
                            var sup_status = full.sup_status;
                            if (visible === "True") {
                                if (sup_status === "Active") {
                                    return '<button type="button" class="badge rounded-pill bg-success mt-2 border-success" style="width: 60px;" onclick="ChangeStatus(\'' + supId + '\',\'Active\')">Active</button>'
                                }
                                else if (sup_status === "Inactive") {
                                    return '<button type="button" class="badge rounded-pill bg-warning mt-2 border-warning" style="width: 60px;" onclick="ChangeStatus(\'' + supId + '\',\'Inactive\')">Inactive</button>'
                                }
                                else if (sup_status === "Deleted") {
                                    return '<button type="button" class="badge rounded-pill bg-danger mt-2 border-danger" style="width: 60px;" onclick="ChangeStatus(\'' + supId + '\',\'Deleted\')">Deleted</button>'
                                }
                                else {
                                    return ''
                                }
                            }
                            else {
                                return '<span class="badge rounded-pill text-danger mt-2 border-danger">Allocated</span>'
                            }
                        }
                    },
                    {
                        "className": "text-center",
                        "orderable": false,
                        "searchable": false,
                        "render": function (supId, type, full, meta) {
                            var status = full.sup_status;
                            var visible = full.actionvisible;

                            var html_links = '<div class="dropdown"><a type="button" class="" data-bs-toggle="dropdown"><i class="fe fe-more-vertical" style="font-size: 20px;"></i></a>' +
                                '<div class="dropdown-menu" style="min-width:auto">' +
                                '<a class="dropdown-item text-dark fw-bold" onclick="ViewSupplier(' + full.supId + ')"><i class="fa fa-info-circle text-dark" style="font-size: 15px; margin-right: 0.6rem;"></i>&nbsp;Detail</a>';

                            if (status === "Active" && visible === "True") {
                                html_links += '<a class="dropdown-item text-dark fw-bold" onclick="EditSupplier(' + full.supId + ')"><i class="fe fe-edit-2 text-success" style="font-size: 15px; margin-right: 0.6rem;"></i>&nbsp;Edit</a>';

                            }
                            if (status === "Active" && visible === "True") {
                                html_links += '<a class="dropdown-item text-dark fw-bold" onclick="UpdateStatus(\'' + full.supId + '\',\'Deleted\')"><i class="fe fe-trash text-danger" style="font-size: 15px; margin-right: 0.6rem;"></i>&nbsp;Delete</a>';
                            }
                            html_links += '<a class="dropdown-item text-dark fw-bold" onclick="SupplierAuditLog(\'' + full.sup_code + '\')"><i class="fa fa-eye text-dark" style="font-size: 15px; margin-right: 0.6rem;"></i>&nbsp;Log</a>';
                            if (status === "Active" && visible === "True") {
                                html_links += '<a class="dropdown-item text-dark fw-bold" onclick="SupplierOpeningBalance(\'' + full.sup_account + '\',\'' + full.sup_obal + '\',\'' + full.sup_obal_type + '\',\'' + full.sup_branch + '\')"><i class="fa fa-money text-dark" style="font-size: 15px; margin-right: 0.6rem;"></i>&nbsp;Opening Balance</a>';

                            }
                            if (status === "Active") {
                                html_links += '<a class="dropdown-item text-dark fw-bold" onclick="SupplierAccounts(\'' + full.sup_account + '\',\'' + full.sup_name + '\',\'' + full.sup_branch + '\')"><i class="fa fa-line-chart text-dark" style="font-size: 15px; margin-right: 0.5rem;"></i>&nbsp;Accounts</a>';
                            }

                            if (status === "Active") {
                                html_links += '<a class="dropdown-item text-dark fw-bold" onclick="SupplierHistory(\'' + full.supId + '\',\'' + full.sup_branch + '\')"><i class="fa fa-history text-dark" style="font-size: 15px; margin-right: 0.6rem;"></i>&nbsp;History</a>';
                            }
                            html_links += '</div></div>';
                            return html_links;
                        }
                    },
                    {
                        "mData": "sup_tel"
                    },
                    {
                        "mData": "sup_mob"
                    },
                    {
                        "mData": "sup_email"
                    },
                    {
                        "mData": "sup_account"
                    },
                    {
                        "mData": "sup_vat_regno"
                    },
                ],
                "aoColumnDefs": [
                    {
                        "aTargets": [3],
                        "orderable": false,
                        "searchable": false,
                        "className": "text-start",
                        "render": function (data, type, full, meta) {
                            var sup_mob = data;
                            var sup_email = full.sup_email;
                            var html = '';
                            if (sup_mob != "" && sup_mob != null && sup_mob != undefined && sup_mob.length > 9) {
                                html += '<div class="tag tag-success"><a style="color:white;"  target="_blank" href="https://api.whatsapp.com/send?phone=' + sup_mob + '" >' +
                                    sup_mob +
                                    '<span class="tag-addon"><i class="fa fa-whatsapp"></i></span></a>' +
                                    '</div>';

                                if (sup_email != "" && sup_email != null && sup_email != undefined) {
                                    html += '<br/><div class="tag tag-info mt-1"><a style="color:white;" href = "mailto:' + sup_email + '">' +
                                        sup_email +
                                        '<span class="tag-addon"><i class="fa fa-envelope-o"></i></span></a>' +
                                        '</div>';
                                }
                            }
                            else {
                                if (sup_email != "" && sup_email != null && sup_email != undefined) {
                                    html += '<div class="tag tag-info"><a style="color:white;" href = "mailto:' + sup_email + '">' +
                                        sup_email +
                                        '<span class="tag-addon"><i class="fa fa-envelope-o"></i></span></a>' +
                                        '</div>';
                                }
                            }

                            return html;
                        }
                    },
                    {
                        "aTargets": [4],
                        "className": "fs-13 text-end",
                        "render": $.fn.dataTable.render.number(',', '.', 2)
                    },
                    {
                        "aTargets": [5],
                        "className": "fs-13 text-end",
                        "render": $.fn.dataTable.render.number(',', '.', 2)
                    },
                    {
                        "aTargets": [6],
                        "className": "fs-13 text-end",
                        "render": $.fn.dataTable.render.number(',', '.', 2)
                    },
                    {
                        "aTargets": [7],
                        "className": "fs-13 text-end",
                        "render": $.fn.dataTable.render.number(',', '.', 2)
                    },
                    {
                        "aTargets": [10],
                        "visible": false,
                        "searchable": false,
                    },
                    {
                        "aTargets": [11],
                        "visible": false,
                        "searchable": false,
                    },
                    {
                        "aTargets": [12],
                        "visible": false,
                        "searchable": false,
                    },
                    {
                        "aTargets": [13],
                        "visible": false,
                        "searchable": false,
                    },
                    {
                        "aTargets": [14],
                        "visible": false,
                        "searchable": false,
                    }
                ],
                order:[[0, 'desc']],
                buttons: [
                    {
                        extend: 'excel',
                        title: 'Suppliers',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14]
                        }
                    },
                    {
                        extend: 'pdf',
                        title: 'Suppliers',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14]
                        }
                    },
                    {
                        extend: 'csv',
                        title: 'Suppliers',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14]
                        }
                    },
                    {
                        extend: 'print',
                        title: 'Suppliers',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14]
                        }
                    }
                ],
                language: {
                    searchPlaceholder: 'Search...',
                    zeroRecords: "No Record Match - Sorry",
                    infoEmpty: "No Records Available",
                    sSearch: '<span class="text-primary font-weight-semi-bold">Search By Code / Branch / Name / Status </span>',
                    sEmptyTable: '<span class="text-secondary">No Records Available Based On Request</span>',
                    scrollX: "100%",
                    lengthMenu: '_MENU_ ',
                },
                footerCallback: function (row, data, start, end, display) {
                    var api = this.api();

                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {
                        return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
                    };
                    var numFormat = $.fn.dataTable.render.number('\,', '.', 2, '').display;

                    // Total Opening Balance
                    total_obal = api.column(4).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    $(api.column(4).footer()).html(numFormat(total_obal));

                    // Total Invoice
                    total_grn_purchase = api.column(5).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    $(api.column(5).footer()).html(numFormat(total_grn_purchase));

                    // Total Paid
                    total_d_purchase = api.column(6).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    $(api.column(6).footer()).html(numFormat(total_d_purchase));

                    // Total Balance
                    total_balance = api.column(7).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    $(api.column(7).footer()).html(numFormat(total_balance));

                }
            });
            table.buttons().container().appendTo('#tbl_supplier_wrapper .col-md-6:eq(0)');
        }
        //#endregion Bind Datatable

        //#region Add Supplier
        function AddSupplier() {
             $("#spinner2").show();
            $.ajax({
                type: "GET",
                url: "@Url.Action("CreateSupplier", "Supplier", new { area = "MaterialManagement" })",
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $('#Supplier_modal').attr("data-modal-from", "create-supplier");
                    $("#Supplier_body").html(data);
                    $("#Supplier_modal").modal("show");
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert('Error: ' + xhr.statusText);
                    $("#spinner2").hide();
                },
                complete: function () {
                    // Hide spinner when request is complete
                    $("#spinner2").hide();
                }
            });
        };
        //#endregion

        //#region Edit Supplier
        function EditSupplier(supId) {
             $("#spinner2").show();
            $.ajax({
                type: "GET",
                url: "@Url.Action("EditSupplier", "Supplier", new { area = "MaterialManagement" })?supId=" + supId,
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $("#SupplierEdit_body").html(data);
                    $("#SupplierEdit_modal").modal("show");
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert('Error: ' + xhr.statusText);
                    $("#spinner2").hide();
                },
                complete: function () {
                    // Hide spinner when request is complete
                    $("#spinner2").hide();
                }
            });
        }
        //#endregion

        //#region View Supplier Detail
        function ViewSupplier(supId) {

             $("#spinner2").show();
            $.ajax({
                type: "GET",
                url: "@Url.Action("ViewSupplier", "Supplier", new { area = "MaterialManagement" })?supId=" + supId,
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $("#SupplierView_body").html(data);
                    $("#SupplierView_modal").modal("show");
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert('Error: ' + xhr.statusText);
                    $("#spinner2").hide();
                },
                complete: function () {
                    // Hide spinner when request is complete
                    $("#spinner2").hide();
                }
            });
        }
        //#endregion

        //#region Supplier Audit Log Detail
        function SupplierAuditLog(sup_code) {         
             $("#spinner2").show();
            $.ajax({
                type: "GET",
                url: "@Url.Action("SupplierAuditLog", "Supplier", new { area = "MaterialManagement" })?sup_code=" + sup_code,
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $("#SupplierView_body").html(data);
                    $("#SupplierView_modal").modal("show");
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert('Error: ' + xhr.statusText);
                    $("#spinner2").hide();
                },
                complete: function () {
                    // Hide spinner when request is complete
                    $("#spinner2").hide();
                }
            });

        }
        //#endregion

        //#region Supplier Accounts Transactions Detail
        var SupplierAccounts = function (sup_account, sup_name, branch) {
            $("#spinner2").show();
            $.ajax({
                type: "GET",
                url: "@Url.Action("SupplierAccounts", "Supplier", new { area = "MaterialManagement" })?sup_account=" + sup_account + "&sup_name=" + sup_name + "&branch=" + branch ,
                contentType: "application/json",
                dataType: "html",
                //data: app,
                success: function (data) {
                    $("#SupplierView_body").html(data);
                    $("#SupplierView_modal").modal("show");
                },
                error: function (xhr) {
                    console.log(xhr);
                    $("#spinner2").hide();
                },
                complete: function () {
                    // Hide spinner when request is complete
                    $("#spinner2").hide();
                }
            });
        };
        //#endregion

        //#region Change Status
        function ChangeStatus(supId, sup_status) {
            if (sup_status != "Deleted")
                sup_status = (sup_status == "Inactive") ? "Active" : "Inactive"
            else
                sup_status = "Active"
            UpdateStatus(supId, sup_status)
        }
        //#endregion Change Status

        //#region Update Supplier Status
        var UpdateStatus = function (supId, sup_status) {
            var _title = "";
            var _text = "";
            if (sup_status == "Deleted") {
                _title = "Are you sure you want to Delete ?";
                _text = "This action will delete the selected Supplier!";
            }
            else {
                _title = "Are you sure you want to change status ?";
                _text = "This action will change the status of the selected Supplier to " + sup_status;
            }
            Swal.fire({
                title: _title,
                text: _text,
                icon: "question",
                showCancelButton: !0,
                confirmButtonText: 'Yes! I Confirm',
                cancelButtonText: 'No! Cancel Please',
                confirmButtonClass: "btn btn-success mt-2", cancelButtonClass: "btn btn-danger ms-2 mt-2", buttonsStyling: !1
            }).then(function (t) {
                if (t.value) {
                    $.ajax({
                        url: "@Url.Action("UpdateSupplier_Status", "Supplier", new { area = "MaterialManagement" })?supId=" + supId + "&sup_status=" + sup_status,
                        type: "POST",
                        dataType: "JSON",
                        success: function (data) {
                            if (data.isAuthorized) {
                                if (data.success) {
                                    Swal.fire({
                                        title: "Success!",
                                        text: "Status Changed Successfully!!",
                                        icon: "success",
                                        showCancelButton: 0,
                                        confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60"
                                    })
                                    GetSupplier();
                                }
                                else {
                                    Swal.fire({
                                        title: "Error!",
                                        text: data.message,
                                        icon: "error",
                                        showCancelButton: 0,
                                        confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                                    });
                                }
                            }
                            else {
                                Swal.fire({
                                    title: "Access Denied!",
                                    text: "You do not have enough privileges to perform this action!",
                                    icon: "error",
                                    showCancelButton: 0,
                                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                                });
                            }
                        },
                        error: function (xhr) {
                            console.log(xhr);
                            Swal.fire({
                                title: "Error!",
                                text: "Failed to Change Status! Please refresh the Page and Try Again.",
                                icon: "error",
                                showCancelButton: 0,
                                confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                            })
                        }
                    });
                }
            });
        };
        //#endregion

        //#region Add Supplier Opening Balnce
        var SupplierOpeningBalance = function (sup_account, sup_obal, sup_obal_type, sup_branch) {
            console.log(sup_branch);
            $("#spinner2").show();
            $.ajax({
                type: "GET",
                url: "@Url.Action("SupplierOpeningBalace", "Supplier", new { area = "MaterialManagement" })?sup_account=" + sup_account + "&sup_obal=" + sup_obal + "&sup_obal_type=" + sup_obal_type + "&sup_branch=" + sup_branch ,
                contentType: "application/json",
                dataType: "html",
                //data: app,
                success: function (data) {
                    $("#SupplierOpeningBalance_body").html(data);
                    $("#SupplierOpeningBalance_modal").modal("show");
                },
                error: function (xhr) {
                    console.log(xhr);
                    $("#spinner2").hide();
                },
                complete: function () {
                    // Hide spinner when request is complete
                    $("#spinner2").hide();
                }
            });
        };
        //#endregion

        //#region Supplier History
        var SupplierHistory = function (supId, sup_branch) {
            $("#spinner2").show();
            $.ajax({
                type: "GET",
                url: "@Url.Action("SupplierHistory", "Supplier", new { area = "MaterialManagement" })?supId=" + supId + "&sup_branch=" + sup_branch ,
                contentType: "application/json",
                dataType: "html",
                //data: app,
                success: function (data) {
                    $("#SupplierHistory_body").html(data);
                    $("#SupplierHistory_modal").modal("show");
                },
                error: function (xhr) {
                    console.log(xhr);
                    $("#spinner2").hide();
                },
                complete: function () {
                    // Hide spinner when request is complete
                    $("#spinner2").hide();
                }
            });
        };
        //#endregion

        //#region Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
        //#endregion Alert Timeout

        //#region UI Controls
        function resizedt(tbl_name) {
            setTimeout(function () {
                var tables = $.fn.dataTable.tables({ visible: true, api: true });
                if (tables) {
                    $('#' + tbl_name).DataTable().columns.adjust();
                }
            }, 450);
        }
        //#endregion

    </script>
}