@using System.Configuration;
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConsentForms.Echocardiogram

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_Echocardiogram" autocomplete="off" name="Echocardiogram" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5 mb-5">

        <h4 class="text-center bg-blue-light font-weight-semibold">Interpretation</h4>
        <div class="row col-sm-12 col-md-12 col-lg-12 d-flex font-weight-semibold">
            <div class=" row col-sm-12 col-md-12 col-lg-12 d-flex pt-3">
                <div class="col-sm-12 col-md-12 col-lg-12 text-align-left font-weight-semibold mt-3" style="color:cornflowerblue">
                    *General :
                    @Html.TextBoxFor(m => m.ern_1, new { @class = "form-control", @id = "ern_1", @maxlength = "250" })
                </div>
            </div>

            <div class=" row col-sm-12 col-md-12 col-lg-12 d-flex pt-3">
                <div class="col-sm-12 col-md-12 col-lg-6 text-align-left font-weight-semibold mt-3" style="color:cornflowerblue"> *Valves</div>
                <div class="col-sm-12 col-md-12 col-lg-2 text-align-left font-weight-semibold mt-3" style="color:cornflowerblue"> *Cardiac Chambers</div>
                <div class="col-sm-12 col-md-12 col-lg-4 text-align-left">
                    @Html.TextBoxFor(m => m.ern_8, new { @class = "form-control", @style = "width:250px", @id = "ern_8", @maxlength = "250" })
                </div>
            </div>

            <div class=" row col-sm-12 col-md-12 col-lg-12 d-flex pt-3">
                <div class="col-sm-12 col-md-12 col-lg-2 text-align-left mt-3"> Aortic Valves</div>
                <div class="col-sm-12 col-md-12 col-lg-4 text-align-left">
                    @Html.TextBoxFor(m => m.ern_2, new { @class = "form-control", @style = "width:250px", @id = "ern_2", @maxlength = "250" })
                </div>
                <div class="col-sm-12 col-md-12 col-lg-2 text-align-left mt-3"> Left Atrium</div>
                <div class="col-sm-12 col-md-12 col-lg-4 text-align-left">
                    @Html.TextBoxFor(m => m.ern_9, new { @class = "form-control", @style = "width:250px", @id = "ern_9", @maxlength = "250" })
                </div>
            </div>

            <div class=" row col-sm-12 col-md-12 col-lg-12 d-flex pt-3">
                <div class="col-sm-12 col-md-12 col-lg-2 text-align-left mt-3"> Mitral Valve</div>
                <div class="col-sm-12 col-md-12 col-lg-4 text-align-left">
                    @Html.TextBoxFor(m => m.ern_3, new { @class = "form-control", @style = "width:250px", @id = "ern_3", @maxlength = "250" })
                </div>
                <div class="col-sm-12 col-md-12 col-lg-2 text-align-left mt-3"> Right Atrium</div>
                <div class="col-sm-12 col-md-12 col-lg-4 text-align-left">
                    @Html.TextBoxFor(m => m.ern_10, new { @class = "form-control", @style = "width:250px", @id = "ern_10", @maxlength = "250" })
                </div>
            </div>
            <div class=" row col-sm-12 col-md-12 col-lg-12 d-flex pt-3">
                <div class="col-sm-12 col-md-12 col-lg-2 text-align-left mt-3"> Pulmonic Valve</div>
                <div class="col-sm-12 col-md-12 col-lg-4 text-align-left">
                    @Html.TextBoxFor(m => m.ern_4, new { @class = "form-control", @style = "width:250px", @id = "ern_4", @maxlength = "250" })
                </div>
                <div class="col-sm-12 col-md-12 col-lg-2 text-align-left mt-3"> Left Ventricle</div>
                <div class="col-sm-12 col-md-12 col-lg-4 text-align-left">
                    @Html.TextBoxFor(m => m.ern_11, new { @class = "form-control", @style = "width:250px", @id = "ern_11", @maxlength = "250" })
                </div>
            </div>
            <div class=" row col-sm-12 col-md-12 col-lg-12 d-flex pt-3">
                <div class="col-sm-12 col-md-12 col-lg-2 text-align-left mt-3"> Tricuspid Valve</div>
                <div class="col-sm-12 col-md-12 col-lg-4 text-align-left">
                    @Html.TextBoxFor(m => m.ern_5, new { @class = "form-control", @style = "width:250px", @id = "ern_5", @maxlength = "250" })
                </div>
                <div class="col-sm-12 col-md-12 col-lg-2 text-align-left mt-3"> Right Ventricle</div>
                <div class="col-sm-12 col-md-12 col-lg-4 text-align-left">
                    @Html.TextBoxFor(m => m.ern_12, new { @class = "form-control", @style = "width:250px", @id = "ern_12", @maxlength = "250" })
                </div>
            </div>
            <div class=" row col-sm-12 col-md-12 col-lg-12 d-flex pt-3">
                <div class="col-sm-12 col-md-12 col-lg-6 text-align-left font-weight-semibold mt-3" style="color:cornflowerblue"> *Heart vessels</div>
                <div class="col-sm-12 col-md-12 col-lg-6 text-align-left font-weight-semibold mt-3" style="color:cornflowerblue"> *Septal Walls</div>
            </div>
            <div class=" row col-sm-12 col-md-12 col-lg-12 d-flex pt-3">
                <div class="col-sm-12 col-md-12 col-lg-2 text-align-left mt-3"> Aorta</div>
                <div class="col-sm-12 col-md-12 col-lg-4 text-align-left">
                    @Html.TextBoxFor(m => m.ern_6, new { @class = "form-control", @style = "width:250px", @id = "ern_6", @maxlength = "250" })
                </div>
                <div class="col-sm-12 col-md-12 col-lg-2 text-align-left mt-3"> Atrial Septum</div>
                <div class="col-sm-12 col-md-12 col-lg-4 text-align-left">
                    @Html.TextBoxFor(m => m.ern_13, new { @class = "form-control", @style = "width:250px", @id = "ern_13", @maxlength = "250" })
                </div>
            </div>
            <div class=" row col-sm-12 col-md-12 col-lg-12 d-flex pt-3">
                <div class="col-sm-12 col-md-12 col-lg-2 text-align-left mt-3"> Pulmonary Artery</div>
                <div class="col-sm-12 col-md-12 col-lg-4 text-align-left">
                    @Html.TextBoxFor(m => m.ern_7, new { @class = "form-control", @style = "width:250px", @id = "ern_7", @maxlength = "250" })
                </div>
                <div class="col-sm-12 col-md-12 col-lg-2 text-align-left mt-3"> Ventricular Septum</div>
                <div class="col-sm-12 col-md-12 col-lg-4 text-align-left">
                    @Html.TextBoxFor(m => m.ern_14, new { @class = "form-control", @style = "width:250px", @id = "ern_14", @maxlength = "250" })
                </div>
            </div>

            <div class=" row col-sm-12 col-md-12 col-lg-12 d-flex pt-3">
                <div class="col-sm-12 col-md-12 col-lg-2 text-align-left font-weight-semibold mt-3" style="color:cornflowerblue"> *Pericardium</div>
            </div>
            <div class=" row col-sm-12 col-md-12 col-lg-12 d-flex pt-3">
                <div class="col-sm-12 col-md-12 col-lg-12 text-align-left font-weight-semibold mt-3" style="color:cornflowerblue">
                    *Intra-Cardiac thrombi or devices or vegetations
                    @Html.TextBoxFor(m => m.ern_15, new { @class = "form-control", @id = "ern_15", @maxlength = "250" })
                </div>
            </div>
            <div class=" row col-sm-12 col-md-12 col-lg-12 d-flex pt-3">
                <div class="col-sm-12 col-md-12 col-lg-3 text-align-left font-weight-semibold mt-4" style="color:cornflowerblue"> *Echocardiographic and Doppler Measurements :</div>
            </div>

            <div class="row table-responsive">
                <div class="col-sm-12 col-md-12 col-lg-12 d-flex mt-2 mb-0">
                    <div class="col-sm-12 col-md-12 col-lg-2 border-light2 font-weight-semibold text-center pt-2 pb-2" style="color:brown">Walls</div>
                    <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-center pt-2 pb-2" style="color:brown">Normal</div>
                    <div class="col-sm-12 col-md-12 col-lg-2 border-light2 font-weight-semibold text-center pt-2 pb-2" style="color:brown">Chamber</div>
                    <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-center pt-2 pb-2" style="color:brown">Normal</div>
                    <div class="col-sm-12 col-md-12 col-lg-2 border-light2 font-weight-semibold text-center pt-2 pb-2" style="color:brown">Systolic Function</div>
                    <div class="col-sm-12 col-md-12 col-lg-2 border-light2 font-weight-semibold text-center pt-2 pb-2" style="color:brown">Normal</div>
                    <div class="col-sm-12 col-md-12 col-lg-2 border-light2 font-weight-semibold text-center pt-2 pb-2" style="color:brown">PG: 22 mmhg</div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-12  d-flex mb-0">
                    <div class="col-sm-12 col-md-12 col-lg-2 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        IVSd: @Html.TextBoxFor(m => m.ern_16, new { @class = "form-control text-center ms-0", @style = "width:150px", @id = "ern_16", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        0.6-1.1cm  @Html.TextBoxFor(m => m.ern_17, new { @class = "form-control text-center ms-0", @style = "width:80px", @id = "ern_17", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-2 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        LVIDd:  @Html.TextBoxFor(m => m.ern_18, new { @class = "form-control text-center  ms-0", @style = "width:150px", @id = "ern_18", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        3.7-5.6 cm @Html.TextBoxFor(m => m.ern_19, new { @class = "form-control text-center  ms-0", @style = "width:80px", @id = "ern_19", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-2 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        EF:  @Html.TextBoxFor(m => m.ern_20, new { @class = "form-control text-center  ms-0", @style = "width:150px", @id = "ern_20", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-2 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        >50%  @Html.TextBoxFor(m => m.ern_21, new { @class = "form-control text-center  ms-0", @style = "width:150px", @id = "ern_21", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-2 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        RVSP:  @Html.TextBoxFor(m => m.ern_22, new { @class = "form-control text-center  ms-0", @style = "width:150px", @id = "ern_22", @maxlength = "250" })
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 d-flex mb-0">
                    <div class="col-sm-12 col-md-12 col-lg-2 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        IVSs cm @Html.TextBoxFor(m => m.ern_23, new { @class = "form-control text-center ms-0", @style = "width:150px", @id = "ern_23", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        0.8-2.0cm  @Html.TextBoxFor(m => m.ern_24, new { @class = "form-control text-center ms-0", @style = "width:80px", @id = "ern_24", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-2 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        LVIDdI:  @Html.TextBoxFor(m => m.ern_25, new { @class = "form-control text-center  ms-0", @style = "width:150px", @id = "ern_25", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-left pt-0 pb-1">
                        @Html.TextBoxFor(m => m.ern_26, new { @class = "form-control text-center  mt-5", @style = "width:80px", @id = "ern_26", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-2 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        FS:  @Html.TextBoxFor(m => m.ern_27, new { @class = "form-control text-center  ms-0", @style = "width:150px", @id = "ern_27", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-2 border-light2 font-weight-semibold text-left pt-0 pb-1">
                        @Html.TextBoxFor(m => m.ern_28, new { @class = "form-control text-center  mt-5", @style = "width:150px", @id = "ern_28", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-2 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        RAP:  @Html.TextBoxFor(m => m.ern_29, new { @class = "form-control text-center  ms-0", @style = "width:150px", @id = "ern_29", @maxlength = "250" })
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-12 d-flex mb-0">
                    <div class="col-sm-12 col-md-12 col-lg-2 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        PWd @Html.TextBoxFor(m => m.ern_30, new { @class = "form-control text-center ms-0", @style = "width:150px", @id = "ern_30", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        0.6-1.1cm  @Html.TextBoxFor(m => m.ern_31, new { @class = "form-control text-center ms-0", @style = "width:80px", @id = "ern_31", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-2 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        LVIDs  @Html.TextBoxFor(m => m.ern_32, new { @class = "form-control text-center  ms-0", @style = "width:150px", @id = "ern_32", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-left pt-0 pb-1">
                        @Html.TextBoxFor(m => m.ern_33, new { @class = "form-control text-center  mt-5", @style = "width:80px", @id = "ern_33", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-2 border-light2 font-weight-semibold text-left pt-0 pb-1">
                        @Html.TextBoxFor(m => m.ern_34, new { @class = "form-control text-center  mt-5", @style = "width:150px", @id = "ern_34", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-2 border-light2 font-weight-semibold text-left pt-0 pb-1">
                        @Html.TextBoxFor(m => m.ern_35, new { @class = "form-control text-center  mt-5", @style = "width:150px", @id = "ern_35", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-2 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        Pul ACT  @Html.TextBoxFor(m => m.ern_36, new { @class = "form-control text-center  ms-0", @style = "width:150px", @id = "ern_36", @maxlength = "250" })
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-12 d-flex mb-0">
                    <div class="col-sm-12 col-md-12 col-lg-2 border-light2 font-weight-semibold text-left pt-0 pb-1">
                        @Html.TextBoxFor(m => m.ern_37, new { @class = "form-control text-center mt-5", @style = "width:150px", @id = "ern_37", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-left pt-0 pb-1">
                        @Html.TextBoxFor(m => m.ern_38, new { @class = "form-control text-center mt-5", @style = "width:80px", @id = "ern_38", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-2 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        LA  @Html.TextBoxFor(m => m.ern_39, new { @class = "form-control text-center  ms-0", @style = "width:150px", @id = "ern_39", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-left pt-0 pb-1">
                        @Html.TextBoxFor(m => m.ern_40, new { @class = "form-control text-center  mt-5", @style = "width:80px", @id = "ern_40", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-2 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        E/A ratio  @Html.TextBoxFor(m => m.ern_41, new { @class = "form-control text-center  mt-0", @style = "width:150px", @id = "ern_41", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-2 border-light2 font-weight-semibold text-left pt-0 pb-1">
                        @Html.TextBoxFor(m => m.ern_42, new { @class = "form-control text-center  mt-5", @style = "width:150px", @id = "ern_42", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-2 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        RVOT TVI  @Html.TextBoxFor(m => m.ern_43, new { @class = "form-control text-center  ms-0", @style = "width:150px", @id = "ern_43", @maxlength = "250" })
                    </div>
                </div>

                <div class="col-sm-12 col-md-12 col-lg-12 d-flex mb-4">
                    <div class="col-sm-12 col-md-12 col-lg-2 border-light2 font-weight-semibold text-left pt-0 pb-1">
                        @Html.TextBoxFor(m => m.ern_44, new { @class = "form-control text-center mt-5", @style = "width:150px", @id = "ern_44", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-left pt-0 pb-1">
                        @Html.TextBoxFor(m => m.ern_45, new { @class = "form-control text-center mt-5", @style = "width:80px", @id = "ern_45", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-2 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        AO  @Html.TextBoxFor(m => m.ern_46, new { @class = "form-control text-center  ms-0", @style = "width:150px", @id = "ern_46", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-left pt-0 pb-1">
                        @Html.TextBoxFor(m => m.ern_47, new { @class = "form-control text-center  mt-5", @style = "width:80px", @id = "ern_47", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-2 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        E/E' ratio  @Html.TextBoxFor(m => m.ern_48, new { @class = "form-control text-center  mt-0", @style = "width:150px", @id = "ern_48", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-2 border-light2 font-weight-semibold text-left pt-0 pb-1">
                        @Html.TextBoxFor(m => m.ern_49, new { @class = "form-control text-center  mt-5", @style = "width:150px", @id = "ern_49", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-2 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        RV-FAC  @Html.TextBoxFor(m => m.ern_50, new { @class = "form-control text-center  ms-0", @style = "width:150px", @id = "ern_50", @maxlength = "250" })
                    </div>
                </div>
            </div>

            <div class=" row col-sm-12 col-md-12 col-lg-12 d-flex pt-3">
                <div class="col-sm-12 col-md-12 col-lg-12 text-align-left font-weight-semibold mt-0" style="color:cornflowerblue"> *Regional wall motion at rest (1=normal, 2= hypokinetic, 3= akinetic, 4=dyskinetic)</div>
            </div>
            <div class="row table-responsive table-condensed">
                <div class="col-sm-12 col-md-12 col-lg-12 d-flex mt-2 mb-0">
                    <div class="col-sm-12 col-md-12 col-lg-4 border-light2 font-weight-semibold text-center pt-2 pb-2" style="color:brown">Basal Segments</div>
                    <div class="col-sm-12 col-md-12 col-lg-4 border-light2 font-weight-semibold text-center pt-2 pb-2" style="color:brown">Mid Segments</div>
                    <div class="col-sm-12 col-md-12 col-lg-4 border-light2 font-weight-semibold text-center pt-2 pb-2" style="color:brown">Apical Segments</div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12  d-flex mb-0">
                    <div class="col-sm-12 col-md-12 col-lg-4 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        Anterior @Html.TextBoxFor(m => m.ern_51, new { @class = "form-control text-center ms-0", @style = "width:200px", @id = "ern_51", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        Anterior  @Html.TextBoxFor(m => m.ern_52, new { @class = "form-control text-center ms-0", @style = "width:200px", @id = "ern_52", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        Anterior  @Html.TextBoxFor(m => m.ern_53, new { @class = "form-control text-center  ms-0", @style = "width:200px", @id = "ern_53", @maxlength = "250" })
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12  d-flex mb-0">
                    <div class="col-sm-12 col-md-12 col-lg-4 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        Anteroseptal  @Html.TextBoxFor(m => m.ern_54, new { @class = "form-control text-center ms-0", @style = "width:200px", @id = "ern_54", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        Anteroseptal   @Html.TextBoxFor(m => m.ern_55, new { @class = "form-control text-center ms-0", @style = "width:200px", @id = "ern_55", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        septal   @Html.TextBoxFor(m => m.ern_56, new { @class = "form-control text-center  ms-0", @style = "width:200px", @id = "ern_56", @maxlength = "250" })
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12  d-flex mb-0">
                    <div class="col-sm-12 col-md-12 col-lg-4 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        Inferoseptal  @Html.TextBoxFor(m => m.ern_57, new { @class = "form-control text-center ms-0", @style = "width:200px", @id = "ern_57", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        Inferoseptal   @Html.TextBoxFor(m => m.ern_58, new { @class = "form-control text-center ms-0", @style = "width:200px", @id = "ern_58", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        Inferior    @Html.TextBoxFor(m => m.ern_59, new { @class = "form-control text-center  ms-0", @style = "width:200px", @id = "ern_59", @maxlength = "250" })
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12  d-flex mb-0">
                    <div class="col-sm-12 col-md-12 col-lg-4 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        Inferior   @Html.TextBoxFor(m => m.ern_60, new { @class = "form-control text-center ms-0", @style = "width:200px", @id = "ern_60", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        Inferior    @Html.TextBoxFor(m => m.ern_61, new { @class = "form-control text-center ms-0", @style = "width:200px", @id = "ern_61", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        Ateral     @Html.TextBoxFor(m => m.ern_62, new { @class = "form-control text-center  ms-0", @style = "width:200px", @id = "ern_62", @maxlength = "250" })
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12  d-flex mb-0">
                    <div class="col-sm-12 col-md-12 col-lg-4 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        Inferolateral    @Html.TextBoxFor(m => m.ern_63, new { @class = "form-control text-center ms-0", @style = "width:200px", @id = "ern_63", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        Inferolateral     @Html.TextBoxFor(m => m.ern_64, new { @class = "form-control text-center ms-0", @style = "width:200px", @id = "ern_64", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        True apex     @Html.TextBoxFor(m => m.ern_65, new { @class = "form-control text-center  ms-0", @style = "width:200px", @id = "ern_65", @maxlength = "250" })
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12  d-flex mb-0">
                    <div class="col-sm-12 col-md-12 col-lg-4 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        Anterolateral     @Html.TextBoxFor(m => m.ern_66, new { @class = "form-control text-center ms-0", @style = "width:200px", @id = "ern_66", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 border-light2 font-weight-semibold text-left pt-1 pb-1">
                        Anterolateral      @Html.TextBoxFor(m => m.ern_67, new { @class = "form-control text-center ms-0", @style = "width:200px", @id = "ern_67", @maxlength = "250" })
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4 border-light2 font-weight-semibold text-left pt-0 pb-1">
                        @Html.TextBoxFor(m => m.ern_68, new { @class = "form-control text-center  mt-5", @style = "width:200px", @id = "ern_68", @maxlength = "250" })
                    </div>
                </div>

            </div>
        </div>
        <div class="table-responsive">
            <div class="content-inner mt-5">
                <div class="row col-sm-12 col-md-12 col-lg-12">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group mb-3">
                            <button id="drawingdot" class="btn bg-dark-transparent btn-icon btn-svg drawing-mode" data-mode="dot" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                    <circle cx="8" cy="8" r="8" />
                                </svg>
                            </button>
                            <button id="drawingcheck" class="btn bg-dark-transparent btn-icon btn-svg drawing-mode" data-mode="check" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                                </svg>
                            </button>
                            <button id="drawingcircle" class="btn bg-dark-transparent btn-icon btn-svg drawing-mode" data-mode="circle" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                </svg>
                            </button>
                            <button id="drawingcupping" class="btn bg-dark-transparent btn-icon btn-svg drawing-mode" data-mode="cupping" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash2" viewBox="0 0 16 16">
                                    <path d="M14 3a.7.7 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225A.7.7 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2M3.215 4.207l1.493 8.957a1 1 0 0 0 .986.836h4.612a1 1 0 0 0 .986-.836l1.493-8.957C11.69 4.689 9.954 5 8 5s-3.69-.311-4.785-.793" />
                                </svg>
                            </button>
                            <button id="undo_button" class="btn bg-dark-transparent btn-icon btn-svg" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z" />
                                    <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z" />
                                </svg>
                            </button>
                            <button id="drawingeraser" class="btn bg-dark-transparent btn-icon btn-svg drawing-mode" data-mode="eraser" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser-fill text-danger" viewBox="0 0 16 16">
                                    <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293z" />
                                </svg>
                            </button>
                            <input id="color_picker" type="text">
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-inner">
                <div class="row col-sm-12 col-md-12 col-lg-12 mb-0">
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div>
                            <canvas id="imageCanvas" width="900" height="250"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" row col-sm-12 col-md-12 col-lg-12 d-flex pt-3">
            <div class="col-sm-12 col-md-12 col-lg-2 text-align-left font-weight-semibold mt-3" style="color:cornflowerblue"> CONCLUSION</div>
        </div>
        <div class=" row col-sm-12 col-md-12 col-lg-12 d-flex pt-0">
            <div class="col-sm-12 col-md-12 col-lg-12 text-align-left mt-1"> Normal left ventricular size with normal systolic function.</div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-align-left mt-1"> Normal right ventricular with normal function (TAPSI > 16 mm).</div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-align-left mt-1"> No regional wall motion abnormalities are noted at rest.</div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-align-left mt-1"> Normal left atrium.</div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-align-left mt-1"> No pericardial effusion</div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-align-left mt-1"> No intracardiac thrombi</div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-align-left mt-1"> Trivial TR</div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-align-left mt-3">
                <span style="color:cornflowerblue"> Notes</span>  @Html.TextAreaFor(m => m.ern_69, new { @class = "form-control mt-0", @id = "ern_69", @maxlength = "250" })
            </div>
        </div>

    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="3" class="font-weight-bold text-danger fs-18" width="100%">
                        Sign here, only if all of your questions have been answered to your satisfaction
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <div id="pat_sign_box">
                            <img alt="stamp" id="pat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="50%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold"> Patient Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="psb_date_witness" name="">&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                    <td width="50%">
                        <label class="form-label text-red text-left text-capitalize">@emr.doc_name&nbsp;</label>
                        <span class="font-weight-semibold">Doctor’s Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="ern_date_doctor"></label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue" width="33%">
                        Patient Signature
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center" width="50%">Doctor’s Signature</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-success btn-sm" id="btn_Insert">Save</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset_C">Reset</button>
                <button type="button" class="btn btn-danger btn-sm d-none" id="btn_Delete">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success d-none" id="btn_Print_C"> Download/Print </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Insert").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Insert").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Insert").show();
                }
                else {
                    $("#btn_Insert").hide();
                }
            }
        }

        validate();
        Loadimage();

        const drawingButtons = document.querySelectorAll('.drawing-mode');
        drawingButtons.forEach((button) => {
            button.addEventListener('click', function () {
                DrawingMode = button.getAttribute('data-mode');
            });
        });
        $('#color_picker').spectrum({
            type: "flat",
            showInput: true,
            preferredFormat: "hex",
            color: '#0061da'
        });
    });


    //#region Validation Initialization
    var validate = function () {
        $("#form_Echocardiogram").validate({
            rules: {
                ern_69: {
                    required: true
                },
            },
            messages: {
                ern_69: {
                    required: "Please Enter Notes"
                },
            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
 //#endregion
  var isErasing = false;

//#region drawing
var canvas = document.getElementById('imageCanvas');
var ctx = canvas.getContext('2d');
var drawingHistory = [];
var DrawingMode = 'dot';

//#region Load an image
var Loadimage = function () {
    var image = new Image();
    image.src = "@ConfigurationManager.AppSettings["ClinicSoftEndPoint"].ToString()" + "images/ConsentForms/MasterImages/Echocardiogram.jpg";
    console.log(image.src);
    image.onload = function () {
        ctx.drawImage(image, 0, 0, canvas.width, canvas.height);
    };
}


// Add drawing functionality
var isDrawing = false;
var lastX, lastY;

canvas.addEventListener('mousedown', function (e) {
    var rect = canvas.getBoundingClientRect();
    var x = e.clientX - rect.left;
    var y = e.clientY - rect.top;

    if (isErasing) {
        erase(x, y);
    } else {
        if (DrawingMode === 'dot') {
            drawDot(x, y);
        } else if (DrawingMode === 'check') {
            drawcheckMark(x, y);
        }
        else if (DrawingMode === 'circle') {
            drawingCircle(x, y);
        }
        else if (DrawingMode === 'cupping') {
            drawingCupping(x, y);
        }
        else if (DrawingMode === 'eraser') {
            erasingDraw(x, y);
        }
    }
    isDrawing = true;
    drawingHistory.push(canvas.toDataURL());
});

canvas.addEventListener('mousemove', function (e) {

    if (isErasing) {
        var x = e.clientX - canvas.getBoundingClientRect().left;
        var y = e.clientY - canvas.getBoundingClientRect().top;
        erase(x, y);
    } else if (!isDrawing) {
        return;
    }

    if (!isDrawing) return;

    var x = e.offsetX - canvas.getBoundingClientRect().left;
    var y = e.offsetY - canvas.getBoundingClientRect().top;


    isDrawing = true;
    drawingHistory.push(canvas.toDataURL());
});
function drawDot(x, y) {
    ctx.fillStyle = $("#color_picker").val();
    ctx.beginPath();
    ctx.arc(x, y, 5, 0, Math.PI * 2);
    ctx.fill();
    drawingHistory.push(canvas.toDataURL());
}
var drawcheckMark = function (x, y) {
    ctx.strokeStyle = $("#color_picker").val();
    ctx.lineWidth = 2;
    ctx.beginPath();
    ctx.moveTo(x - 20, y);
    ctx.lineTo(x - 10, y + 10);
    ctx.lineTo(x + 20, y - 20);
    ctx.stroke();
    drawingHistory.push(canvas.toDataURL());
}
var drawingCircle = function (x, y) {
    ctx.strokeStyle = $("#color_picker").val();
    ctx.lineWidth = 2;
    ctx.beginPath();
    ctx.arc(x, y, 5, 0, Math.PI * 2); // Use the arc method to draw a circle
    ctx.stroke();
    drawingHistory.push(canvas.toDataURL());
}

var drawingCupping = function (x, y) {
    ctx.strokeStyle = $("#color_picker").val(); // Set color for the trash icon
    ctx.lineWidth = 2;
    ctx.beginPath();
    ctx.moveTo(x - 8, y - 16);
    ctx.lineTo(x + 8, y - 16);
    ctx.lineTo(x + 4, y - 2);
    ctx.lineTo(x - 4, y - 2);
    ctx.closePath();
    ctx.stroke();
    drawingHistory.push(canvas.toDataURL());
}

var erasingDraw = function (x, y) {
    var squareSize = 20;
    ctx.fillStyle = "#ffffff";
    ctx.beginPath();
    ctx.rect(x - squareSize / 2, y - squareSize / 2, squareSize, squareSize);
    ctx.fill();
    drawingHistory.push(canvas.toDataURL());
    $("#color_picker").val("#000000");
}

function erase(x, y) {
    ctx.fillStyle = '#ffffff';
    ctx.beginPath();
    ctx.arc(x, y, 10, 0, Math.PI * 2);
    ctx.fill();
    drawingHistory.push(canvas.toDataURL());
}
canvas.addEventListener('mouseup', function () {
    isDrawing = false;
});



//#region Undo
$('#undo_button').on('click', function (e) {
    if (drawingHistory.length > 1) {
        drawingHistory.pop(); // Remove the current state
        var img = new Image();
        img.src = drawingHistory[drawingHistory.length - 1];
        img.onload = function () {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
        };
    }

});
//#endregion Undo
    //#region Add  Click
    $('#btn_Insert').on('click', function (e) {
        e.preventDefault();

        if ($("#form_Echocardiogram").valid()) {
       
            $('#btn_Insert').removeClass("btn btn-sm btn-success");
            $('#btn_Insert').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Insert').html("Saving the Record....");

            var canvas = $("#imageCanvas").get(0);
            var imgData = canvas.toDataURL();
            console.log(imgData);


            var _dateInsert = {
                "ernId": 0,
                "ern_appId": @emr.appId,
                "ern_1": $("#ern_1").val(),
                "ern_2": $("#ern_2").val(),
                "ern_3": $("#ern_3").val(),
                "ern_4": $("#ern_4").val(),
                "ern_5": $("#ern_5").val(),
                "ern_6": $("#ern_6").val(),
                "ern_7": $("#ern_7").val(),
                "ern_8": $("#ern_8").val(),
                "ern_9": $("#ern_9").val(),
                "ern_10": $("#ern_10").val(),
                "ern_11": $("#ern_11").val(),
                "ern_12": $("#ern_12").val(),
                "ern_13": $("#ern_13").val(),
                "ern_14": $("#ern_14").val(),
                "ern_15": $("#ern_15").val(),
                "ern_16": $("#ern_16").val(),
                "ern_17": $("#ern_17").val(),
                "ern_18": $("#ern_18").val(),
                "ern_19": $("#ern_19").val(),
                "ern_20": $("#ern_20").val(),
                "ern_21": $("#ern_21").val(),
                "ern_22": $("#ern_22").val(),
                "ern_23": $("#ern_23").val(),
                "ern_24": $("#ern_24").val(),
                "ern_25": $("#ern_25").val(),
                "ern_26": $("#ern_26").val(),
                "ern_27": $("#ern_27").val(),
                "ern_28": $("#ern_28").val(),
                "ern_29": $("#ern_29").val(),
                "ern_30": $("#ern_30").val(),
                "ern_31": $("#ern_31").val(),
                "ern_32": $("#ern_32").val(),
                "ern_33": $("#ern_33").val(),
                "ern_34": $("#ern_34").val(),
                "ern_35": $("#ern_35").val(),
                "ern_36": $("#ern_36").val(),
                "ern_37": $("#ern_37").val(),
                "ern_38": $("#ern_38").val(),
                "ern_39": $("#ern_39").val(),
                "ern_40": $("#ern_40").val(),
                "ern_41": $("#ern_41").val(),
                "ern_42": $("#ern_42").val(),
                "ern_43": $("#ern_43").val(),
                "ern_44": $("#ern_44").val(),
                "ern_45": $("#ern_45").val(),
                "ern_46": $("#ern_46").val(),
                "ern_47": $("#ern_47").val(),
                "ern_48": $("#ern_48").val(),
                "ern_49": $("#ern_49").val(),
                "ern_50": $("#ern_50").val(),
                "ern_51": $("#ern_51").val(),
                "ern_52": $("#ern_52").val(),
                "ern_53": $("#ern_53").val(),
                "ern_54": $("#ern_54").val(),
                "ern_55": $("#ern_55").val(),
                "ern_56": $("#ern_56").val(),
                "ern_57": $("#ern_57").val(),
                "ern_58": $("#ern_58").val(),
                "ern_59": $("#ern_59").val(),
                "ern_60": $("#ern_60").val(),
                "ern_61": $("#ern_61").val(),
                "ern_62": $("#ern_62").val(),
                "ern_63": $("#ern_63").val(),
                "ern_64": $("#ern_64").val(),
                "ern_65": $("#ern_65").val(),
                "ern_66": $("#ern_66").val(),
                "ern_67": $("#ern_67").val(),
                "ern_68": $("#ern_68").val(),
                "ern_69": $("#ern_69").val(),

                "image": imgData,

            }
            console.log(_dateInsert);
            $.ajax({
                type: "Post",
                url: "@Url.Action("InsertEchocardiogram", "Echocardiogram", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-sm btn-success");
                    $('#btn_Insert').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isInserted) {
                            GetEchocardiogramInfo();
                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> Echocardiogram Form Saved Successfully!", "success");
                            Timeout();
                            $("#btn_Delete").removeClass("d-none");
                            $("#btn_Print").removeClass("d-none");
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning..Echocardiogram already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-sm btn-warning");
                    $('#btn_Insert').html("Add");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion Add Click

    //#region Delete Click
    $('#btn_Delete').on('click', function (e) {
        e.preventDefault();
        $('#btn_Delete').removeClass("btn btn-success");
        $('#btn_Delete').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Delete').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteEchocardiogram", "Echocardiogram", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-warning");
                $('#btn_Delete').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i> Echocardiogram Form Deleted Successfully!", "success");
                        clearControls();
                        GetEchocardiogram();

                        $('#btn_Delete').addClass("d-none");
                        $("#pat_sign_box").addClass("d-none");
                        $("#wit_sign_box").addClass("d-none");
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-Delete");
                $('#btn_Delete').html("Delete");
                Timeout();
            }
        })
    });
//#endregion

//#region Print
    $('#btn_Print_C').on('click', function (e) {
    e.preventDefault();
        $('#btn_Print_C').removeClass("btn btn-success");
        $('#btn_Print_C').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Print_C').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "Echocardiogram", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=Echocardiogram",
        dataType: 'JSON',
        success: function (data) {
            console.log(data);
            if (data.isAuthorized) {
                if (data.success) {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print

    //#region Reset
    $('#btn_Reset_C').on('click', function (e) {
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        Loadimage();
        e.preventDefault();
        clearControls();

    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("#pat_sign,#wit_sign").attr("src", "");

    }
    //#endregion Clear Controls

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
               "patId": @emr.patId,
                "person": id,
                "form": "Echocardiogram",
                "appId": @emr.appId,
                "formname":"Echocardio gram",
                "formlink":"",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "Echocardiogram",
            "appId": @emr.appId,
            "formname":"Echocardio gram",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {

            GetSignaturename('patient');
            GetSignaturename('witness');
            localStorage.removeItem("sign");
        }
    });

    //#region Get Signature
    var GetSignaturename = function  (person) {
        $.ajax({
            url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=Echocardiogram',
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                console.log(response);
                let sign = response[0].psb_sign;
                var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY");

                if (response[0].person == "patient") {
                    $("#pat_sign_box").removeClass("d-none");
                    $("#psb_date_patient").html(date);
                    $("#pat_sign").attr("src", sign);
                }
            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr);
            }

        });
    };
    //#endregion Get Signature

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout

</script>
