@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Echocardiogram";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Echocardiogram Report</h3>
            </div>
            <div class="card-body">
                <div id="Echocardiogram_add" style="display:none">
                </div>
                <div id="Echocardiogram_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="Echocardiogram_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetEchocardiogramInfo();
        EchocardiogramPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetEchocardiogramInfo
    var GetEchocardiogramInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetEchocardiogramData", "Echocardiogram", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditEchocardiogram();
                        $("#Echocardiogram_add").hide();
                        $("#Echocardiogram_edit").show();

                    }
                    else {
                        $("#Echocardiogram_add").show();
                        $("#Echocardiogram_edit").hide();
                        AddEchocardiogram();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load Echocardiogram

    //#region Add Echocardiogram
    function AddEchocardiogram() {
        var x = $("#Echocardiogram_add");
        x.load("@Url.Action("CreateEchocardiogram", "Echocardiogram", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add Echocardiogram

    //#region Update Echocardiogram
    function EditEchocardiogram() {
        var x = $("#Echocardiogram_edit");
        x.load("@Url.Action("UpdateEchocardiogram", "Echocardiogram", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update Echocardiogram

    //#region Histroy of Echocardiogram
    function EchocardiogramPreviousHistory() {
        var x = $("#Echocardiogram_history");
        x.load("@Url.Action("EchocardiogramPreviousHistory", "Echocardiogram", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>