@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Laser Consent";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Laser Consent Form<br /><span dir="rtl">نموذج موافقة الليزر</span>
                </h3>
            </div>
            <div class="card-body">
                <div id="LaserConsent_add" style="display:none">
                </div>
                <div id="LaserConsent_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="LaserConsent_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetLaserConsentInfo();
        LaserConsentPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetLaserConsentInfo
    var GetLaserConsentInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetLaserConsentData", "LaserConsent", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditLaserConsent();
                        $("#LaserConsent_add").hide();
                        $("#LaserConsent_edit").show();

                    }
                    else {
                        $("#LaserConsent_add").show();
                        $("#LaserConsent_edit").hide();
                        AddLaserConsent();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load LaserConsent

    //#region Add LaserConsent
    function AddLaserConsent() {
        var x = $("#LaserConsent_add");
        x.load("@Url.Action("CreateLaserConsent", "LaserConsent", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add LaserConsent

    //#region Update LaserConsent
    function EditLaserConsent() {
        var x = $("#LaserConsent_edit");
        x.load("@Url.Action("UpdateLaserConsent", "LaserConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update LaserConsent

    //#region Histroy of LaserConsent
    function LaserConsentPreviousHistory() {
        var x = $("#LaserConsent_history");
        x.load("@Url.Action("LaserConsentPreviousHistory", "LaserConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>