@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Dmax Crown Bridge";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Informed Consent for Crown and Bridge Prosthetics</h3>
            </div>
            <div class="card-body">
                <div id="DmaxCrownBridge_add" style="display:none">
                </div>
                <div id="DmaxCrownBridge_edit">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="DmaxCrownBridge_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetDmaxCrownBridgeInfo();
        DmaxCrownBridgePreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetDmaxCrownBridgeInfo
    var GetDmaxCrownBridgeInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetDmaxCrownBridgeData", "DmaxCrownBridge", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditDmaxCrownBridge();
                        $("#DmaxCrownBridge_add").hide();
                        $("#DmaxCrownBridge_edit").show();

                    }
                    else {
                        $("#DmaxCrownBridge_add").show();
                        $("#DmaxCrownBridge_edit").hide();
                        AddDmaxCrownBridge();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load DmaxCrownBridge

    //#region Add DmaxCrownBridge
    function AddDmaxCrownBridge() {
        var x = $("#DmaxCrownBridge_add");
        x.load("@Url.Action("CreateDmaxCrownBridge", "DmaxCrownBridge", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add DmaxCrownBridge

    //#region Update DmaxCrownBridge
    function EditDmaxCrownBridge() {
        var x = $("#DmaxCrownBridge_edit");
        x.load("@Url.Action("UpdateDmaxCrownBridge", "DmaxCrownBridge", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update DmaxCrownBridge

    //#region Histroy of DmaxCrownBridge
    function DmaxCrownBridgePreviousHistory() {
        var x = $("#DmaxCrownBridge_history");
        x.load("@Url.Action("DmaxCrownBridgePreviousHistory", "DmaxCrownBridge", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>