@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConcentForms.ImplantConsent

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_ImplantConsentEdit" autocomplete="off" name="ImplantConsent" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5 mt-5 text-justify">
        <p class="font-weight-semibold">Recommended Treatment: -</p>
        <p>After a careful oral examination, radiographic evaluation and study of my dental condition, the dentist has advised me that my missing tooth/teeth may be replaced with artificial teeth supported by one or more dental implants. The procedure involves placing titanium dental implant screws into the jawbone. This procedure has 2 phases, surgical phase (placing the implants and later exposing them) followed by a prosthetic phase (getting the replacement teeth attached to the implant). </p>

        <p class="font-weight-semibold">Surgical Phase of Procedure -</p>
        <p>A local anesthetic will be used during the implant surgery. Gum tissue will be cut open and pulled away to expose the jawbone, a hole or holes will be drilled into the jawbone, and the titanium dental implant screw(s) will be placed. The soft tissue (gum) will be sutured over, closed over or around the implant(s). Healing will be allowed to proceed for a period of four to six months. I understand that dentures cannot be worn during the first one to two weeks of the healing phase. After the required healing time period, the implant will need to be exposed. A local anesthetic will be given, the overlying tissues will be opened and pulled away, and the stability of the implant will be verified. If the implant appears satisfactory, an attachment will be connected to the implant. If all goes as planned with no complications, plans and procedures to create an implant prosthetic, appliance or artificial crown may begin with your general dentist or prosthodontist. </p>

        <p class="font-weight-semibold">Prosthetic Phase of Treatment -</p>
        <p>I understand at this point I will be referred back to my general dentist or prosthodontist. This phase is just as important as the surgical phase for the long-term success of the oral reconstruction. During this phase, an implant prosthetic device will be attached to the implant. This procedure should be performed by my dentist</p>

        <p class="font-weight-semibold">Expected Benefits -</p>
        <p>The purpose of dental implants is to allow me more functional artificial teeth and/or improved appearance. The implants provide support, anchorage, and retention for artificial teeth or crowns.</p>

        <p class="font-weight-semibold">Principal Risks and Complications -</p>
        <p>Some patients do not respond successfully to dental implants, and in such cases, the implant may be lost. Implant surgery may not be successful in providing artificial teeth. Complications may result from the dental implant surgery involving the gums and jawbone, or from drugs or anesthetics. These complications include, but are not limited to post-surgical infection, bleeding, swelling, pain, facial bruising, transient (on rare occasion permanent) numbness of the jaw, lip, tongue, chin or gum, jaw joint pain or muscle spasm, cracking or bruising of the corners of the mouth, restricted ability to open the mouth for several days or weeks, impact on speech, allergic reactions, perforation of the drill hole into the sinus if an upper implant is being placed, accidental swallowing of foreign matter, and transient ( on rare occasion permanent) increased tooth looseness, tooth sensitivity to hot, cold, sweet or acidic foods. The exact duration of any complication cannot be determined, and they may be irreversible. I understand that the design and structure of the artificial tooth/teeth can be a substantial factor in the success or failure of the implant. It is always possible to have a successful, solid implant and the connection between the implant and the gum and/or bone may fail right away, or even months or years later, necessitating the removal of the implant.</p>

        <p class="font-weight-semibold">Necessary Follow-up Care and Self-Care -</p>
        <p>I understand that it is important for me to continue to see my general dentist for routine dental care, as well as to get the implants restored with artificial teeth. I have told the dentist and/or his/her staff about any pertinent medical conditions I have, allergies or prescription medications I am taking, including over the counter drugs such as aspirin. I understand I will need to come for post-op appointments following my surgery so that healing may be monitored and so the dentist may evaluate and report on the outcome of surgery to my general dentist and/or prosthodontist. I further understand that smoking excessive alcohol intake or inadequate oral hygiene may adversely affect healing and may limit the successful outcome of my surgery.</p>
        <p> I know that it is important to:</p>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <ol>
                <li class="mb-1">Abide by the specific prescriptions and instructions given to me</li>
                <li class="mb-1">See the dentist for post-operative care as needed</li>
                <li class="mb-1">Quit smoking, Implant failure rates are several times higher in smokers</li>
                <li class="mb-1">Perform excellent oral hygiene once instructed to; usually 1 week after the surgery is performed.</li>
                <li>Have my general dentist or prosthodontist restore the implant(s) once they are healed and I have been told I am ready for the prosthetic phase</li>
            </ol>
        </div>
        <p class="font-weight-semibold">Bone Graft -</p>
        <p>Sometimes bone grafting is necessary and performed at the time of the implant placement to build more bone around the implant screw if there is an inadequate width of bone due to bone loss or to grow bone at the bottom of some upper back teeth implants in order to “push” the sinus floor upward</p>
        <p>No Warranty or Guarantee No guarantee, warranty or assurance has been given to me that the proposed treatment will be successful. In most cases, it should be. Due to individual patient differences, however, there can never be a certainty of success. There is a risk of failure, relapse, additional treatment, or even worsening of my present condition, including possible loss of teeth despite the best of care </p>
        <p>Terms of Payment: The total cost is  @Html.TextBoxFor(m => m.imc_1, new { @class = "form-control-sm mb-2 text-center", @id = "uimc_1", @maxlength = "100" }) &nbsp;.    </p>
        <p>I was told and explained clearly that mode of payments will be in two stages:</p>
        <p>A. 80% will be paid after placement of implant on surgical phase, amounting to @Html.TextBoxFor(m => m.imc_2, new { @class = "form-control-sm text-center", @id = "uimc_2", @maxlength = "100" }) &nbsp; on the appointed date of surgery.</p>
        <p>B. 20% (prosthodontic) will be paid later during prosthodontic phase, amounting to  @Html.TextBoxFor(m => m.imc_3, new { @class = "form-control-sm text-center", @id = "uimc_3", @maxlength = "100" }) &nbsp; on prosthodontic appointed date.</p>

    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="3" class="font-weight-bold text-danger fs-18" width="100%">
                        Sign here, only if all of your questions have been answered to your satisfaction
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <div id="upat_sign_box">
                            <img alt="stamp" id="upat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="50%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold">Patient Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left text-capitalize">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                    <td width="50%">
                        <label class="form-label text-red text-left text-capitalize">@emr.doc_name&nbsp;</label>
                        <span class="font-weight-semibold">Doctor’s Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left text-capitalize">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue text-center" width="50%">
                        Patient  Signature
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>

                    <td class="font-weight-semibold text-blue text-center" width="50%">Doctor’s Sign & Stamp</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update">Save Changes</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                <button type="button" class="btn btn-danger btn-sm" id="btn_Delete">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print"> Download/Print </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">


    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Update").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Update").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Update").show();
                }
                else {
                    $("#btn_Update").hide();
                }
            }
        }
        validate();
        GetSignaturename('patient');

    });

    //#region Validation Initialization
    var validate = function () {
        $("#form_ImplantConsentEdit").validate({
            rules: {
                imc_1: {
                    required: true
                },
                imc_2: {
                    required: true
                },
                imc_3: {
                    required: true
                }

            },
            messages: {
                imc_1: {
                    required: "Please Enter Total Cost!"
                },
                imc_2: {
                    required: "Please Enter Amounting to the appointed!"
                },
                imc_3: {
                    required: "Please Enter Amounting to the Prosthodontic!"
                },

            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

    }
 //#endregion

    //#region Update  Click
    $('#btn_Update').on('click', function (e) {
        e.preventDefault();
        if ($("#form_ImplantConsentEdit").valid()) {
            console.log($("#imcId").val());
            $('#btn_Update').removeClass("btn btn-sm btn-success");
            $('#btn_Update').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Update').html("Updating the Record....");

            var _dateInsert = {
                "imcId": @Model.imcId,
                "imc_appId": @emr.appId,
                "imc_1": $("#uimc_1").val(),
                "imc_2": $("#uimc_2").val(),
                "imc_3": $("#uimc_3").val(),
                //"pc_status": "Active",
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

            console.log(_dateInsert);

            $.ajax({
                type: "Post",
                url: "@Url.Action("EditImplantConsent", "ImplantConsent", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Update').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-success");
                    $('#btn_Update').html("Save Changes");



                    if (data.isSuccess) {
                        if (data.isEdited) {
                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>Implant Consent Consent Form Updated Successfully!", "success");

                            Timeout();


                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning..Implant ConsentConsent Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert1").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Update').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion Update Click

    //#region Delete Click
    $('#btn_Delete').on('click', function (e) {
        e.preventDefault();
        $('#btn_Delete').removeClass("btn btn-success");
        $('#btn_Delete').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Delete').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteImplantConsent", "ImplantConsent", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-warning");
                $('#btn_Delete').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>Implant Consent Consent Form Deleted Successfully!", "success");
                        clearControls();
                        Timeout();


                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-Delete");
                $('#btn_Delete').html("Delete");
                Timeout();
            }
        })
    });
//#endregion

    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Print
    $('#btn_Print').on('click', function (e) {
        e.preventDefault();
        $('#btn_Print').removeClass("btn btn-sm btn-success");
        $('#btn_Print').addClass("btn btn-sm btn-success btn-loaders btn-icon");
        $('#btn_Print').html("Printing the Record....");
        $.ajax({
            type: "Get",
            url: "@Url.Action("PrintPDFConsent", "ImplantConsent", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=ImplantConsent",
            dataType: 'JSON',
            success: function (data) {
                if (data.isAuthorized) {
                    if (data.success) {
                        window.location.href = data.message.pdfPath
                    }
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        });
    });
    //#endregion Print

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("#upat_sign,#uwit_sign").attr("src", "");
    }
    //#endregion Clear Controls

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                 "patId": @emr.patId,
                 "person": id,
                 "form": "ImplantConsent",
                 "appId": @emr.appId,
                 "formname":"Implant Consent",
                 "formlink":"",
                 "eSign":""
             }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "ImplantConsent",
            "appId": @emr.appId,
            "formname":"Implant Consent",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            localStorage.removeItem("sign");
        }
    });

    //#region Get Signature
    var GetSignaturename = function  (person) {
        $.ajax({
            url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=ImplantConsent',
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                console.log(response);
                let sign = response[0].psb_sign;
                if (response[0].person == "patient") {
                    $("#upat_sign_box").removeClass("d-none");
                    $("#upat_sign").attr("src", sign);
                }

            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr);
            }

        });
    };
    //#endregion Get Signature

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout
</script>

