@model IEnumerable<BusinessEntities.Reports.YearlyReportHistory>

<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold">Yearly Referral Report Details</h5>
    <button type="button" class="btn-close btnCloseEnquiry" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body p-4">
    @if (Model.Any())
    {
        <div class="col-md-12 col-lg-12">
            <div class="table-responsive" style="min-height:unset;">
                <table id="tbl_yearly_history" class="table table-bordered table-hover text-nowrap resize-table" style="width:100%;">
                    <thead>
                        <tr style="color: #fff !important; background-color: #5b73e8; border-color: #5b73e8;">
                            <th class="border-bottom-0 font-weight-semibold text-white">Patient Name</th>
                            <th class="border-bottom-0 font-weight-semibold text-white">Mobile #</th>
                            <th class="border-bottom-0 font-weight-semibold text-white">E-Mail</th>
                            <th class="border-bottom-0 font-weight-semibold text-white">Emirates ID</th>
                            <th class="border-bottom-0 font-weight-semibold text-white">Gender</th>
                            <th class="border-bottom-0 font-weight-semibold text-white">Nationality</th>
                            <th class="border-bottom-0 font-weight-semibold text-white">Made By</th>
                            <th class="border-bottom-0 font-weight-semibold text-white">D/T Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dr in Model)
                        {
                            <tr>
                                <td class="fs-13">@dr.pat_name</td>
                                <td class="fs-13">@dr.pat_mob</td>
                                @if (!string.IsNullOrEmpty(dr.pat_email))
                                {
                                    <td class="fs-13">@dr.pat_email</td>
                                }
                                else
                                {
                                    <td class="fs-13 text-muted">N/A</td>
                                }
                                <td class="fs-13">@dr.pat_emirateid</td>
                                <td class="fs-13">@dr.pat_gender</td>
                                <td class="fs-13">@dr.nationality</td>
                                <td class="fs-13">@dr.pat_madeby_name</td>
                                <td class="fs-13">@dr.pat_date_created.ToString("dd-MMMM-yyyy HH:mm")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
            <div class="alert alert-light-info alert-dismissiblefade show" role="alert">
                <strong><i class="fa fa-exclamation-circle pt-2"></i> Info!&nbsp;</strong> No Record(s) currently exist!
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    //#region Document Load
    $(function () {
        var table = $('#tbl_yearly_history').DataTable({
            lengthChange: true,
            "pageLength": 25,
            buttons: [
                {
                    extend: 'excel',
                    className: 'btn-secondary',
                    title: 'Yearly Enquiries History (By Source)',
                    action: function (e, dt, node, config) {
                        $.fn.dataTable.ext.buttons.excelHtml5.action.call(this, e, dt, node, config);
                        exportLogs("Employee Exported Yearly Enquiries History (By Source) to Excel!");
                    }
                },
                {
                    extend: 'pdf',
                    className: 'btn-secondary',
                    title: 'Yearly Enquiries History (By Source)',
                    action: function (e, dt, node, config) {
                        $.fn.dataTable.ext.buttons.pdfHtml5.action.call(this, e, dt, node, config);
                        exportLogs("Employee Exported Yearly Enquiries History (By Source) to PDF!");
                    }
                },
                {
                    extend: 'csv',
                    className: 'btn-secondary',
                    title: 'Yearly Enquiries History (By Source)',
                    action: function (e, dt, node, config) {
                        $.fn.dataTable.ext.buttons.csvHtml5.action.call(this, e, dt, node, config);
                        exportLogs("Employee Exported Yearly Enquiries History (By Source) to CSV!");
                    }
                },
                {
                    extend: 'print',
                    className: 'btn-secondary',
                    title: 'Yearly Enquiries History (By Source)',
                    action: function (e, dt, node, config) {
                        $.fn.dataTable.ext.buttons.print.action.call(this, e, dt, node, config);
                        exportLogs("Employee Printed Yearly Enquiries History (By Source)!");
                    }
                }
            ],
            order: [[0, 'asc']],
            "aoColumnDefs": [
                {
                    "aTargets": [2],
                    "className": "text-wrap"
                },
            ],
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '<span class="text-primary font-weight-semi-bold">Search Date Registered / Patient Details / Made By</span>',
                lengthMenu: '_MENU_ ',
            }
        });

        table.buttons().container().appendTo('#tbl_yearly_history_wrapper .col-md-6:eq(0)');
    });
    //#endregion

    //#region Export General Logs
    var exportLogs = function (desc) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("ExportLogs", "AuditLogs", new { area = "Common" })?desc="+ desc,
            contentType: "application/json",
            dataType: "json"
        });
    }
    //#endregion
</script>