@using BusinessEntities;
@using System.Linq;
@using System.Security.Claims;

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "ColorVisionNewIndex";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }

}


<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Color Vision</h3>
            </div>
            <div class="card-body">
                <div id="ColorVisionNew_add" style="display:none">
                </div>
                <div id="ColorVisionNew_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="ColorVisionNew_history">
                </div>
            </div>
        </div>
    </div>
</div>

@*@section myScripts{*@
    <script>
        //#region Page Load
        $(function () {
           GetColorVisionNewInfo();
           ColorVisionNewPreviousHistory();

        });
        //#endregion Page Load

        //#region Load GetColorVisionNewInfo
        var GetColorVisionNewInfo = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetColorVisionNewData", "ColorVisionNew", new { area = "ConsentForms" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        if (response.length > 0) {
                            EditColorVisionNew();
                            $("#ColorVisionNew_add").hide();
                            $("#ColorVisionNew_edit").show();

                        }
                        else {
                            $("#ColorVisionNew_add").show();
                            $("#ColorVisionNew_edit").hide();
                            AddColorVisionNew();
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
        //#endregion Load ColorVisionNew

        //#region Add ColorVisionNew
        function AddColorVisionNew() {
            var x = $("#ColorVisionNew_add");
            x.load("@Url.Action("CreateColorVisionNew", "ColorVisionNew", new { area = "ConsentForms" })", function () {
          });
        }
        //#endregion Add ColorVisionNew

        //#region Update ColorVisionNew
        function EditColorVisionNew() {
            var x = $("#ColorVisionNew_edit");
            x.load("@Url.Action("UpdateColorVisionNew", "ColorVisionNew", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
          //#endregion Update ColorVisionNew

          //#region Histroy of ColorVisionNew
        function ColorVisionNewPreviousHistory() {
            var x = $("#ColorVisionNew_history");
            x.load("@Url.Action("ColorVisionNewPreviousHistory", "ColorVisionNew", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
        //#endregion History of ColorVisionNew


    </script>
@*}*@
