@model BusinessEntities.Masters.SourcewiseCampaigns
<form id="form_Add_Campaign" class="needs-validation" autocomplete="off" ondrop="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mb-4 font-weight-semibold">
            <span class="text-danger" style="font-size:smaller">Required fields are marked with *</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">Title&nbsp;<span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.esc_title, new { @class = "form-control", @placeholder = "Ex : National Day", @id = "esc_title", @maxlength="40" })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group mb-3">
                <label class="form-label text-black font-weight-semibold">Issued Date&nbsp;<span class="text-danger">*</span></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fe fe-calendar"></i>
                        </div>
                    </div>
                    @Html.TextBoxFor(m => m.esc_start_date, new { @class = "form-control", @placeholder = "Select Issue Date", @id = "esc_start_date" })
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group mb-3">
                <label class="form-label text-black font-weight-semibold">Expiry Date&nbsp;<span class="text-danger">*</span></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fe fe-calendar"></i>
                        </div>
                    </div>
                    @Html.TextBoxFor(m => m.esc_end_date, new { @class = "form-control", @placeholder = "Select Expiry Date", @id = "esc_end_date" })
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-group mb-3">
                <label class="form-label text-black">Description&nbsp;</label>
                @Html.TextAreaFor(m => m.esc_desc, new { @class = "form-control", @placeholder = "Enter Description", @maxlength = "1000" })
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div id="error"></div>
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-success" id="btn_Insert">Create Campaign</button>
                <button type="button" class="btn btn-outline-dark btnCloseCreate" id="btn_Reset">Reset</button>
                <button type="button" class="btn btn-outline-danger me-1 btnCloseCreate" id="btn_Close_Add">
                    Close
                </button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    //#region Partial View Onload
    $(function () {

        $('#btn_Close_Add').click(function () {
            $('#campaign_add').hide();
        });

        $('#esc_start_date').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-",
            startDate: new Date()
        });

        $("#esc_start_date").bootstrapdatepicker("setDate", 'today');

        $('#esc_end_date').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-",
            startDate: new Date()
        });

        $("#esc_end_date").bootstrapdatepicker("setDate", '+1w');

        validate();
    });
    //#endregion

    //#region Reset Controls
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion

    //#region Clear Controls
    var clearControls = function () {
        $("#esc_title").val("");
        $("#esc_desc").val("");
        $("#esc_start_date").bootstrapdatepicker("setDate", "today");
        $("#esc_end_date").bootstrapdatepicker("setDate", "+1w");
    }
    //#endregion

    //#region Validation Initialization
    var validate = function () {

        $("#form_Add_Campaign").validate({
            rules: {
                esc_title: {
                    required: true
                },
                esc_start_date: {
                    required: true
                },
                esc_end_date: {
                    required: true
                }
            },
            messages: {
                esc_title: {
                    required: "Please Enter Campaign Title"
                },
                esc_start_date: {
                    required: "Please Select Start Date"
                },
                esc_end_date: {
                    required: "Please Select End Date"
                }
            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

        $('#esc_title').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^a-zA-Z ]/g))
                return false;
        });

        $('#esc_start_date').on('change', function () {
            $(this).trigger('blur');
        });

        $('#esc_end_date').on('change', function () {
            $(this).trigger('blur');
        });

        $('#esc_start_date').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                return false;
            }
            else {
                if (e.target.value.length >= 18)
                    return false;
            }
        });

        $('#esc_end_date').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                return false;
            }
            else {
                if (e.target.value.length >= 18)
                    return false;
            }
        });
    }
    //#endregion

    //#region Insert Campaign Button Click
    $('#btn_Insert').on('click', function (e) {
        e.preventDefault();

        if ($("#form_Add_Campaign").valid()) {

            $('#btn_Insert').removeClass("btn btn-success");
            $('#btn_Insert').addClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Insert').parent().addClass("curdrop");
            $('.btnCloseCreate').addClass("disabled");
            $('#btn_Insert').html("Creating... Please Wait");

            let isValid = true;
            let start_frm = moment($("#esc_start_date").val(), "DD-MMMM-YYYY");
            let end_to = moment($("#esc_end_date").val(), "DD-MMMM-YYYY");

            // Check if Date Range is valid
            if (($("#esc_start_date").val() != null && $("#esc_start_date").val() != 0 && $("#esc_start_date").val() != "" && $("#esc_start_date").val() != undefined) && ($("#esc_end_date").val() != null && $("#esc_end_date").val() != 0 && $("#esc_end_date").val() != "" && $("#esc_end_date").val() != undefined)) {
                if (start_frm.isValid() && end_to.isValid()) {
                    if (end_to.diff(start_frm, 'days') <= 0) {
                        isValid = false;

                        var index = [];
                        index.push("esc_start_date");
                        index.push("esc_end_date");

                        $.each(index, function (i, v) {
                            if (index[i] != null && index[i] != "") {
                                var elem = $("#" + index[i]);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            }
                        });

                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-light-warning' role='alert'>" +
                            "<button type='button' class='btn-close text-warning' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<i class='fe fe-alert-triangle'></i> <strong>Expiry Date can't be less than Issue Date!</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                        Timeout();

                        $('#btn_Insert').parent().removeClass("curdrop");
                        $('.btnCloseCreate').removeClass("disabled");
                        $('#btn_Insert').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Insert').addClass("btn btn-success");
                        $('#btn_Insert').html("Create Campaign");

                        e.stopPropagation();
                    }
                }
            }

            if (isValid) {
                var _dataInsert = {
                    "escId": 0,
                    "esc_title": $("#esc_title").val().trim(),
                    "esc_desc": $("#esc_desc").val().trim(),
                    "esc_start_date": moment($("#esc_start_date").val()).format("YYYY-MM-DD"),
                    "esc_end_date": moment($("#esc_end_date").val()).format("YYYY-MM-DD"),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("InsertCampaign", "SourceCampaigns", new { area = "Masters" })",
                    dataType: 'json',
                    data: _dataInsert,
                    success: function (data) {
                        $('#campaign_add').hide();
                        $('#btn_Insert').parent().removeClass("curdrop");
                        $('.btnCloseCreate').removeClass("disabled");
                        $('#btn_Insert').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Insert').addClass("btn btn-success");
                        $('#btn_Insert').html("Create Campaign");

                        if (data.isSuccess) {
                            if (data.isInserted) {
                                var alertPlaceholder = document.getElementById("CampaignAlert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Campaign Created Successfully!", "success");
                                clearControls();
                                Timeout();
                                GetCampaigns();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-light-warning' role='alert'>" +
                                    "<button type='button' class='btn-close text-warning' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong><i class='fa fa-exclamation-triangle text-warning'></i> Campaign Already Exists with the same details!</strong><br/>" +
                                    "</div></div>";

                                $("#error").html(html);
                            }
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-light-danger' role='alert'>" +
                                "<button type='button' class='btn-close text-danger' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong><i class='fa fa-ban text-danger'></i> Validation Error! Please validate before submitting.&nbsp;</strong><br/><ul>";

                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });

                            html += "</ul></div></div>";

                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#campaign_add').hide();
                        $('#btn_Insert').parent().removeClass("curdrop");
                        $('.btnCloseCreate').removeClass("disabled");
                        $('#btn_Insert').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Insert').addClass("btn btn-success");
                        $('#btn_Insert').html("Create Campaign");
                        Timeout();
                    }
                });
            }
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion
</script>