@model BusinessEntities.Masters.SourcewiseCampaigns
<form id="form_Edit_Campaign" class="needs-validation" autocomplete="off" ondrop="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.escId)
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mb-4 font-weight-semibold">
            <span class="text-danger" style="font-size:smaller">Required fields are marked with *</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label class="form-label">Title&nbsp;<span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.esc_title, new { @class = "form-control", @placeholder = "Ex : Christmas Offer", @id = "uesc_title", @maxlength = "40" })
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group mb-3">
                <label class="form-label text-black font-weight-semibold">Issued Date&nbsp;<span class="text-danger">*</span></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fe fe-calendar"></i>
                        </div>
                    </div>
                    @Html.TextBoxFor(m => m.esc_start_date, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "uesc_start_date" })
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group mb-3">
                <label class="form-label text-black font-weight-semibold">Expiry Date&nbsp;<span class="text-danger">*</span></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fe fe-calendar"></i>
                        </div>
                    </div>
                    @Html.TextBoxFor(m => m.esc_end_date, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "uesc_end_date" })
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-group mb-3">
                <label class="form-label text-black">Description&nbsp;</label>
                @Html.TextAreaFor(m => m.esc_desc, new { @class = "form-control", @placeholder = "Enter Description", @id = "uesc_desc", @maxlength = "1000" })
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div id="errorEdit"></div>
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning" id="btn_Update_Source">Save Changes</button>
                <button type="button" class="btn btn-outline-danger me-1" id="btn_Close_Edit">
                    Close
                </button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">

    //#region Partial View Onload
    $(function () {

        $('#btn_Close_Edit').click(function () {
            $('#campaign_edit').hide();
        });

        $('#uesc_start_date').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-",
            startDate: moment("@Model.esc_start_date").format("DD-MM-YYYY")
        });

        $('#uesc_end_date').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: moment("@Model.esc_end_date").format("DD-MM-YYYY")
        });

        $("#uesc_start_date").bootstrapdatepicker("setDate", moment("@Model.esc_start_date").format("DD-MM-YYYY"));

        $("#uesc_end_date").bootstrapdatepicker("setDate", moment("@Model.esc_end_date").format("DD-MM-YYYY"));

        validate();
    });
    //#endregion

    //#region Validation Initialization
    var validate = function () {

        $("#form_Edit_Campaign").validate({
            rules: {
                esc_title: {
                    required: true
                },
                esc_start_date: {
                    required: true
                },
                esc_end_date: {
                    required: true
                }
            },
            messages: {
                esc_title: {
                    required: "Please Enter Campaign Title"
                },
                esc_start_date: {
                    required: "Please Select Start Date"
                },
                esc_end_date: {
                    required: "Please Select End Date"
                }
            },
            highlight: function (element) {
                $(element).parent().addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

        $('#uesc_start_date').on('change', function () {
            $(this).trigger('blur');
        });

        $('#uesc_end_date').on('change', function () {
            $(this).trigger('blur');
        });

        $('#uesc_start_date').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                return false;
            }
            else {
                if (e.target.value.length >= 18)
                    return false;
            }
        });

        $('#uesc_end_date').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                return false;
            }
            else {
                if (e.target.value.length >= 18)
                    return false;
            }
        });

        $('#uesc_title').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^a-zA-Z ]/g))
                return false;
        });
    }
    //#endregion

    //#region Update Button Click
    $('#btn_Update_Source').on('click', function (e) {
        e.preventDefault();

        if ($("#form_Edit_Campaign").valid()) {

            $('#btn_Update_Source').removeClass("btn btn-warning");
            $('#btn_Update_Source').addClass("btn btn-warning btn-loaders btn-icon");
            $('#btn_Update_Source').parent().addClass("curdrop");
            $('.closeEdit').addClass("disabled");
            $('#btn_Update_Source').html("Saving Changes... Please Wait");

            let isValidu = true;
            let start_frm = moment($("#uesc_start_date").val());
            let end_to = moment($("#uesc_end_date").val());

            // Check if Date Range is valid
            if (($("#uesc_start_date").val() != null && $("#uesc_start_date").val() != 0 && $("#uesc_start_date").val() != "" && $("#uesc_start_date").val() != undefined) && ($("#uesc_end_date").val() != null && $("#uesc_end_date").val() != 0 && $("#uesc_end_date").val() != "" && $("#uesc_end_date").val() != undefined)) {
                if (start_frm.isValid() && end_to.isValid()) {
                    if (end_to.diff(start_frm, 'days') <= 0) {
                        isValidu = false;

                        var index = [];
                        index.push("uesc_start_date");
                        index.push("uesc_end_date");

                        $.each(index, function (i, v) {
                            if (index[i] != null && index[i] != "") {
                                var elem = $("#" + index[i]);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            }
                        });

                        e.stopPropagation();
                    }
                }
            }

            if (isValidu) {
                var _dataUpdate = {
                    "escId": $("#escId").val(),
                    "esc_title": $("#uesc_title").val(),
                    "esc_desc": $("#uesc_desc").val().trim(),
                    "esc_start_date": moment($("#uesc_start_date").val()).format("YYYY-MM-DD"),
                    "esc_end_date": moment($("#uesc_end_date").val()).format("YYYY-MM-DD"),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateCampaign", "SourceCampaigns", new { area = "Masters" })",
                    dataType: 'json',
                    data: _dataUpdate,
                    success: function (data) {
                        $('#campaign_edit').hide();
                        $('#btn_Update_Source').parent().removeClass("curdrop");
                        $('.closeEdit').removeClass("disabled");
                        $('#btn_Update_Source').removeClass("btn btn-warning btn-loaders btn-icon");
                        $('#btn_Update_Source').addClass("btn btn-warning");
                        $('#btn_Update_Source').html("Save Changes");

                        if (data.isSuccess) {
                            if (data.isUpdated) {
                                var alertPlaceholder = document.getElementById("CampaignAlert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Campaign Updated Successfully!", "success");

                                clearControls();
                                Timeout();
                                GetCampaigns();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-light-warning' role='alert'>" +
                                    "<button type='button' class='btn-close text-warning' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong><i class='fa fa-exclamation-triangle text-warning'></i> Campaign Already Exists with the same details!</strong><br/>" +
                                    "</div></div>";
                                $("#errorEdit").html(html);
                            }
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });

                            html += "</ul></div></div>";
                            $("#errorEdit").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#campaign_edit').hide();
                        $('#btn_Update_Source').parent().removeClass("curdrop");
                        $('.closeEdit').removeClass("disabled");
                        $('#btn_Update_Source').removeClass("btn btn-warning btn-loaders btn-icon");
                        $('#btn_Update_Source').addClass("btn btn-warning");
                        $('#btn_Update_Source').html("Save Changes");

                        Timeout();
                    }
                });
            }
            else {
                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                    "<div class='alert alert-light-warning' role='alert'>" +
                    "<button type='button' class='btn-close text-warning' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                    "<i class='fe fe-alert-triangle'></i> <strong>Expiry Date can't be less than Issue Date!</strong><br/>" +
                    "</div></div>";
                $("#errorEdit").html(html);
                Timeout();

                $('#btn_Update_Source').parent().removeClass("curdrop");
                $('.closeEdit').removeClass("disabled");
                $('#btn_Update_Source').removeClass("btn btn-warning btn-loaders btn-icon");
                $('#btn_Update_Source').addClass("btn btn-warning");
                $('#btn_Update_Source').html("Save Changes");
            }
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
   });
    //#endregion

</script>