
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMR.IntraOralHardTissue
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_HardTissue" autocomplete="off" name="gastrointestinal" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()


    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-2">
            <div>
                <h4 class="page-title mb-0 text-primary">
                    Intra Oral Hard Tissue
                </h4>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group mb-3">
                <label class="form-label text-black">Reason for loss Of missing teeth&nbsp;</label>
                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2 ">
                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Extracted Due to Dental Caries" id="u2">
                    <span class="custom-control-label">Extracted Due to Dental Caries</span>
                </label>
                @Html.TextAreaFor(m => m.cht_11, new { @class = "form-control", @placeholder = "Enter Tooth mobility", @row = "1" })
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group mb-3">
                <label class="form-label text-black" style="margin-bottom: 24px !important;"></label>
                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Extracted Due to PeriDontal Diseases" id="u2">
                    <span class="custom-control-label">Extracted Due to PeriDontal Diseases</span>
                </label>
                @Html.TextAreaFor(m => m.cht_12, new { @class = "form-control", @placeholder = "Enter Findings", @row = "1" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-12">
            <table class="table table-bordered card-table table-vcenter text-nowrap ">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td class="form-label text-black" colspan="9">Deposits</td>
                    </tr>
                    <tr>
                        <td class="text-black w-10">Plaques</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_2" value="Absent" id="1">
                                    <span class="custom-control-label">Absent</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_2" value="Present" id="2">
                                    <span class="custom-control-label">Present</span>
                                </label>
                            </div>
                        </td>
                        <td class="text-black w-10">Calculus</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_3" value="Absent" id="3">
                                    <span class="custom-control-label">Absent</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_3" value="Supragingival" id="4">
                                    <span class="custom-control-label">Supragingival</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_3" value="Subgingival" id="5">
                                    <span class="custom-control-label">Subgingival</span>
                                </label>
                            </div>
                        </td>
                        <td class="text-black w-10">Supragingival Calculus</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_4" value="+" id="6">
                                    <span class="custom-control-label">+</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_4" value="++" id="7">
                                    <span class="custom-control-label">++</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_4" value="+++" id="8">
                                    <span class="custom-control-label">+++</span>
                                </label>
                            </div>
                        </td>

                    </tr>
                    <tr>

                        <td class="text-black w-10">Oral hygeine</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_5" value="Good" id="9">
                                    <span class="custom-control-label">Good</span>
                                </label><label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_5" value="Fair" id="10">
                                    <span class="custom-control-label">Fair</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_5" value="Poor" id="11">
                                    <span class="custom-control-label">Poor</span>
                                </label>
                            </div>
                        </td>

                        <td class="text-black w-10">Percussion of teeth</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_6" value="Non Tender" id="7">
                                    <span class="custom-control-label">Non Tender</span>
                                </label>
                                <span class="ms-2 mb-2"> @Html.TextBoxFor(m => m.cht_14, new { @class = "form-control", @placeholder = "Enter text", @id = "cht_14", @width = "10px" })</span>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_6" value="Tender" id="8">
                                    <span class="custom-control-label">Tender</span>
                                </label>

                                <span class="ms-2 mb-2"> @Html.TextBoxFor(m => m.cht_15, new { @class = "form-control", @placeholder = "Enter text", @id = "cht_15", @width = "10px" })</span>
                            </div>
                        </td>
                        <td class="text-black w-10">Vitality test</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_7" value="Not Done" id="7">
                                    <span class="custom-control-label">Not Done</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_7" value="Other" id="8">
                                    <span class="custom-control-label">Other</span>
                                </label>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-black w-10">Vitality test</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_8" value="Not Done" id="1">
                                    <span class="custom-control-label">Not Done</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_8" value="Other" id="2">
                                    <span class="custom-control-label">Other</span>
                                </label>
                                <span class="ms-2 mb-2"> @Html.TextBoxFor(m => m.cht_16, new { @class = "form-control", @placeholder = "Enter text", @id = "cht_16", @width = "10px" })</span>
                            </div>
                        </td>
                        <td class="text-black w-10">Cold test</td>
                        <td class="text-black w-2">:</td>
                        <td colspan="4">
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Normal Pulp" id="u2">
                                    <span class="custom-control-label">Normal Pulp;</span>
                                </label>
                                <span class="ms-2 mb-2"> @Html.TextBoxFor(m => m.cht_17, new { @class = "form-control", @placeholder = "Enter text", @id = "cht_17", @width = "10px" })</span>
                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Exaggrerated response with Pain" id="u2">
                                    <span class="custom-control-label">Exaggrerated response with Pain;</span>
                                </label>
                                <span class="ms-2 mb-2"> @Html.TextBoxFor(m => m.cht_10, new { @class = "form-control", @placeholder = "Enter text", @id = "cht_18", @width = "10px" })</span>
                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Absence Of Response" id="u2">
                                    <span class="custom-control-label">Absence Of Response;</span>
                                </label>
                                <span class="ms-2 mb-2"> @Html.TextBoxFor(m => m.cht_19, new { @class = "form-control", @placeholder = "Enter text", @id = "cht_19", @width = "10px" })</span>
                            </div>
                        </td>
                    </tr>


                    <tr>

                        <td class="text-black w-10" rowspan="2">Stains & No Stains</td>
                        <td class="text-black w-2">:</td>

                        <td class="text-black w-10">Extrensic :</td>
                        <td colspan="6">
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">

                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="smoking" id="u2">
                                    <span class="custom-control-label">smoking</span>
                                </label>
                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Tea" id="u2">
                                    <span class="custom-control-label">Tea</span>
                                </label>
                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Coffee" id="u2">
                                    <span class="custom-control-label">Coffee</span>
                                </label>
                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Food Color" id="u2">
                                    <span class="custom-control-label">Food Color</span>
                                </label>
                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Chromogenic Bacteria" id="u2">
                                    <span class="custom-control-label">Chromogenic Bacteria</span>
                                </label>                              
                            </div>
                        </td>

                    </tr>
                    <tr>

                        <td class="text-black w-2">:</td>

                        <td class="text-black w-10">Intrensic :</td>
                        <td colspan="6">
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">

                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Flourrish" id="u2">
                                    <span class="custom-control-label">Flourrish</span>
                                </label>
                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Medication" id="u2">
                                    <span class="custom-control-label">Medication</span>
                                </label>
                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Trauma" id="u2">
                                    <span class="custom-control-label">Trauma</span>
                                </label>
                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Aging" id="u2">
                                    <span class="custom-control-label">Aging</span>
                                </label>
                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Haemotological Disorder" id="u2">
                                    <span class="custom-control-label">Haemotological Disorder</span>
                                </label>
                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Pupal Changes" id="u2">
                                    <span class="custom-control-label">Pupal Changes</span>
                                </label>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">Dental Caries&nbsp;</label>
                <div class="form-group mb-3">
                    <select class="form-control select2-show-search" multiple="multiple" id="chtd_1">
                        <option value="Enamel">Enamel</option>
                        <option value="Dentin">Dentin</option>
                        <option value="Pulp">Pulp</option>
                        <option value="Root">Root</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">Teeth No&nbsp;</label>
                <div class="form-group mb-3">
                    <input class="form-control font-weight-semibold" placeholder="" type="text" value="0" id="chtd_2" maxlength="2" min="0" max="34" name="chtd_2" oninput="validate(this,34)">

                    @* @Html.TextBoxFor(m => m.chtd_2, new { @class = "form-control", @placeholder = "Enter Built", @id = "chtd_2" })*@
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">Surfaces&nbsp;</label>
                <div class="form-group mb-3">
                    <select class="form-control" id="chtd_3" multiple="multiple">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">&nbsp;</label>
                <div class="form-group mb-3">
                    <button type="submit" class="btn btn-info" id="btnSelectItem"><i class="fe fe-plus"></i> Select</button>
                </div>
            </div>
        </div>

    </div>

    <div class="row mt-2" id="listItems">
        <div class="col-sm-12 col-md-6 col-lg-12" p-0">
            <div class="table-responsive" style="min-height:unset;">
                <table id="dtTable_SelectItems" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr style="color: #fff !important; background-color: #3C457D; border-color: #3C457D; ">
                            <th class="border-bottom-0 font-weight-semibold text-white text-end">#</th>
                            <th class="border-bottom-0 font-weight-semibold text-white">Dental Caries</th>
                            <th class="border-bottom-0 font-weight-semibold text-white text-wrap">Teeth No</th>
                            <th class="border-bottom-0 font-weight-semibold text-white text-wrap">Surfaces</th>
                            <th class="border-bottom-0 font-weight-semibold text-white text-wrap"></th>

                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group mb-3">
                <label class="form-label text-black">Tooth mobility&nbsp;<span class="text-danger"> *</span></label>
                @Html.TextAreaFor(m => m.cht_13, new { @class = "form-control", @placeholder = "Enter Tooth mobility", @row = "1" })
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group mb-3">
                <label class="form-label text-black">Additional Clinical Findings&nbsp;<span class="text-danger"> *</span></label>
                @Html.TextAreaFor(m => m.cht_9, new { @class = "form-control", @placeholder = "Enter Findings", @row = "1" })
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-12 col-md-6 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-sm btn-success" id="btn_Insert_HardTissue">Add HardTissue</button>
                <button type="button" class="btn btn-sm btn-outline-dark" id="btn_Reset_HardTissue">Reset</button>

            </div>
        </div>
    </div>

</form>

<script type="text/javascript">
    var item_arr = [];
    //#region Partial View Onload
        $(function () {
            if ("@emp_designation.ToString()" === "Super Administrator") {
                    $("#btn_Insert_HardTissue").show();
            }
            else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Insert_HardTissue").show();

                }
                else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Insert_HardTissue").show();
                    }
                    else {
                        $("#btn_Insert_HardTissue").hide();
                    }
                }
            }


            $('#chtd_1').SumoSelect({
                placeholder: 'Select carie(s)',
                captionFormat: '{0} item(s) Selected',
                captionFormatAllSelected: 'All {0} items selected!',
                csvDispCount: 3,
                okCancelInMulti: true,
                isClickAwayOk: true,
                search: true,
                searchText: 'Search here...',
                selectAll: true,
                dropdownParent: $('#form_HardTissue'),
            });

            $("#listItems").hide();
            validate();
            load_Surfaces();

        });
    //#endregion Partial View Onload

    //#region load Surfaces
      var load_Surfaces = function () {
            $('#chtd_3').SumoSelect({
                placeholder: 'Select Surface(s)',
                captionFormat: '{0} Surface(s) Selected',
                captionFormatAllSelected: 'All {0} Surfaces selected!',
                csvDispCount: 3,
                okCancelInMulti: true,
                isClickAwayOk: true,
                search: true,
                searchText: 'Search here...',
                selectAll: true,
                 dropdownParent: $('#form_HardTissue'),
            });



            $.ajax({
                url: '@Url.Action("GetToothSurface", "OralExamination", new { area = "EMR" })?query=',
                type: "GET",
                dataType: "JSON",
                async: false,
                success: function (response) {
                    $('#chtd_3').html('');
                    $('#chtd_3')[0].sumo.reload();

                    $.each(response, function (j) {
                        $('#chtd_3')[0].sumo.add(response[j].id, response[j].text);
                            //$('#select_dept')[0].sumo.selectItem([response[j].id]);
                    });
                    $('#chtd_3')[0].sumo.reload();
                },
                error: function (xhr) {
                    console.log("Failed to Load Branch(es)! Error Message : " + xhr.statusText);
                }
            }).done(function () {
                $('#chtd_3')[0].sumo.reload();
            });
      }
    //#endregion load Surfaces

    //Add Treatment
    $('#btnSelectItem').on('click', function (e) {
        e.preventDefault();
        if ($("#chtd_2").val()!="") {
            var exists = false;

            if (item_arr.length > 0) {
                exists = item_arr.some(function (check) {
                    return check.chtd_2 === $("#chtd_2").val();
                });
            }

            if (exists) {
                var data = $("#hi_pt_tr_name").val();
                data = (data.length >= 75) ? (data.substring(0, 75) + "...") : data;

                Swal.fire({
                    title: "Item Exists!",
                    html: + "<strong style='color:red;'>" + data + "</strong>.<br/> is Already Exists in list Please remove existing one and add again.",
                    icon: "warning",
                    showCancelButton: 0,
                    confirmButtonText: 'OK',
                    confirmButtonClass: "btn btn-success mt-2",
                    buttonsStyling: !1
                })
            }
            else {
                $("#listItems").show();
                bindTreatment();
                clearData();
            }
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //BindTreatment
    var bindTreatment = function () {


        var data = {
            "chtdId": $("#chtd_2").val(),
            "chtd_appId": @emr.appId,
            "chtd_1": $("#chtd_1").val().toString(),
            "chtd_2": $("#chtd_2").val(),
            "chtd_3": $("#chtd_3 option:selected").text(),
        }


        item_arr.push(data);

        GetToothItems(item_arr);

        $("#btn_Insert_HardTissue").show();
    }
    //Load Tooth Items
        var GetToothItems = function (response) {
            if (response != null && response != undefined) {
                var table;
                console.log(response);
                if ($.fn.dataTable.isDataTable('#dtTable_SelectItems')) {
                    table = $('#dtTable_SelectItems').DataTable();
                    table.clear();
                    table.rows.add(response).draw();

                }
                else {
                    BindDataTableT(response);
                }
            }
        }
     //Bind Treatment DataTable
    var BindDataTableT = function (response) {


        var numberRenderer1 = $.fn.dataTable.render.number(',', '.', 2,).display;

        var table = $("#dtTable_SelectItems").DataTable({
            processing: true,
            paging: false,
            ordering: false,
            info: false,
            "searching": false,
            "retrieve": true,
            lengthChange: false,
            "aaData": response,
            "aoColumns": [
                { "mData": "chtdId" },
                { "mData": "chtd_1" },
                { "mData": "chtd_2" },
                { "mData": "chtd_3" },
                { "mData": "chtdId" },
            ],
            "aoColumnDefs": [
                {
                    "aTargets": [0],
                    "className": "fs-13 text-end",
                    "orderable": false,
                    "searchable": false,
                    "render": function (data, type, row, meta) {
                        let _index = (meta.row) + 1;
                        if (_index >= 10) {
                            return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>" + _index + "</a>";
                        }
                        else {
                            return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>0" + _index + "</a>";
                        }
                    }
                },
                {
                    "aTargets": [1],
                    "className": "fs-13 text-end",
                    "render": $.fn.dataTable.render.number(',', '.', 2)
                },
                {
                    "aTargets": [2],
                    "className": "fs-13 text-end",
                    "render": $.fn.dataTable.render.number(',', '.', 2)
                },
                {
                    "aTargets": [3],
                    "className": "fs-13 text-end",
                    "render": $.fn.dataTable.render.number(',', '.', 2)
                },
                {
                    "aTargets": [4],
                    "className": "fs-13 text-center dt-delete",
                    "render": function (data) {
                        var html = "<i class='fe fe-trash text-danger curpointer' id='remove-item' style='font-size: 15px;'></i>";
                        return html;
                    }
                },

            ],
            scrollX: true,
            scrollY: 500,
            scrollCollapse: true,
            fixedColumns: true,
            fixedHeader: {
                header: true,
                footer: true
            },

        });
        table.buttons().container()
            .appendTo('#dtTable_SelectItems_wrapper .col-md-6:eq(0)');



        // Remove Items From DataTable
        table.on('click', '#remove-item', function (e) {
            var row = $(this).parents('tr');
            var data_row = table.row($(this).closest('tr')).data();
            console.log(data_row.ptId)

            Swal.fire({
                title: "Are you sure you want to remove this Treatments From List?",
                text: "This action will remove this Treatment from Selection!",
                icon: "question",
                showCancelButton: !0,
                confirmButtonText: 'Yes! I Confirm',
                cancelButtonText: 'No! Cancel Please',
                confirmButtonClass: "btn btn-success mt-2",
                cancelButtonClass: "btn btn-danger ms-2 mt-2",
                buttonsStyling: !1
            }).then(function (t) {
                if (t.value) {
                    item_arr = $.grep(item_arr, function (n, i) {
                        return (n.ptId !== data_row.ptId);
                    });

                    console.log(item_arr)

                    if ($(row).hasClass('child')) {
                        table.row($(row).prev('tr')).remove().draw();
                    } else {
                        table.row(row).remove().draw();
                    }


                    Swal.fire({
                        title: "Success!",
                        text: "Treatment Removed Successfully!",
                        icon: "success",
                        showCancelButton: 0,
                        confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60"
                    });


                }
            });
        });

        resizedt();
    }

    // #region Validation Initialization
        var validate = function () {
            $('#chtd_2').keypress(function (e) {
                    var charCode = (e.which) ? e.which : event.keyCode
                    if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                        return false;

            });
            $("#form_HardTissue").validate({
                rules: {
                    cht_32: {
                        required: true
                    },

                },
                messages: {
                    cht_32: {
                        required: "Please enter Clinical Findings !"
                    },

                },
                highlight: function (element) {
                    var elem = $(element);
                    $(element).parent().addClass('has-error');
                },
                unhighlight: function (element) {
                    var elem = $(element);
                    $(element).parent().removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'text-danger fw-bold',
                errorPlacement: function (error, element) {
                    var elem = $(element);
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

        }
    //#endregion Validation Initialization

    //#region Add  Click
        $('#btn_Insert_HardTissue').on('click', function (e) {
            e.preventDefault();
            if ($("#form_HardTissue").valid()) {
                $('#btn_Insert_HardTissue').removeClass("btn btn-sm btn-success");
                $('#btn_Insert_HardTissue').addClass("btn btn-sm btn-success btn-loaders btn-icon");
                $('#btn_Insert_HardTissue').html("Saving the Record....");

                var _hard_tissue_info = {
                    "chtId": 0,
                    "cht_appId": @emr.appId,
                    "cht_1": $("input[name='cht_1']:checked").val(),
                    "cht_2": $("input[name='cht_2']:checked").val(),
                    "cht_3": $("input[name='cht_3']:checked").val(),
                    "cht_4": $("input[name='cht_4']:checked").val(),
                    "cht_5": $("input[name='cht_5']:checked").val(),
                    "cht_6": $("input[name='cht_6']:checked").val(),
                    "cht_7": $("input[name='cht_7']:checked").val(),
                    "cht_8": $("input[name='cht_8']:checked").val(),
                    "cht_9": $("#cht_9").val(),
                    "cht_10": $("#cht_10").val(),
                    "cht_11": $("#cht_11").val(),
                    "cht_12": $("#cht_12").val(),
                    "cht_13": $("#cht_13").val(),
                    "cht_14": $("#cht_14").val(),
                    "cht_15": $("#cht_15").val(),
                    "cht_16": $("#cht_16").val(),
                    "cht_17": $("#cht_17").val(),
                    "cht_18": $("#cht_18").val(),
                }
                var _dateInsert = {
                    hard_tissue_info: _hard_tissue_info,
                    HardTissue_tooth_items: item_arr,
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dateInsert);
                $.ajax({
                        type: "Post",
                        url: "@Url.Action("InsertIntraOralHardTissue", "OralExamination", new {area = "EMR" })",
                        dataType: 'JSON',
                        data: _dateInsert,
                        success: function (data) {
                            $('#btn_Insert_HardTissue').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                            $('#btn_Insert_HardTissue').addClass("btn btn-sm btn-success");
                            $('#btn_Insert_HardTissue').html("Add HardTissue");
                            if (data.isSuccess) {
                                if (data.isInserted) {
                                    var alertPlaceholder = document.getElementById("Alert");
                                    function alert(e, t) {
                                        var l = document.createElement("div");
                                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                    }
                                    alert("<i class='fe fe-check-circle text-white'></i>  IntraOral HardTissue Saved Successfully!", "success");
                                    GetIntraOralHardTissue();
                                    Timeout();
                                }
                                else {

                                    let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                        "<div class='alert alert-warning' role='alert'>" +
                                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                        "<strong>Warning.. IntraOral HardTissue Alredy Exists..</strong><br/>" +
                                        "</div></div>";
                                    $("#Alert").html(html);
                                }
                            }
                            else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                            "<div class='alert alert-danger' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                        },
                            error: function (xhr) {
                                $('#btn_Insert_HardTissue').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                                $('#btn_Insert_HardTissue').addClass("btn btn-sm btn-warning");
                                $('#btn_Insert_HardTissue').html("Add HardTissue");
                            Timeout();
                        }
                });

            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion Add Click

    //#region Reset
    $('#btn_Reset_HardTissue').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".custom-control-input").prop("checked", false);
    }
    //#endregion Clear Controls

    //#region Clear Data
    var clearData = function () {
        $("#chtd_2").val("");
        $(".custom-control-input").prop("checked", false);
        $('#chtd_1,#chtd_3')[0].sumo.unSelectAll();
    }
    //#endregion Clear Controls


</script>