
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMR.IntraOralSoftTissue
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_SoftTissue" autocomplete="off" name="gastrointestinal" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-12 mb-4 ">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-2">
                    <div>
                        <h4 class="page-title mb-0 text-primary">
                            Intra Oral Soft Tissue
                        </h4>
                    </div>
                </div>
            </div>
            <div class="row " style=" border:1px solid black;">

                <div class="col-sm-12 col-md-6 col-lg-12">
                    <div class="form-group mt-2 ">
                        <label class="form-label">
                            Gingiva&nbsp;
                        </label>
                    </div>
                </div>
                <div class="d-flex col-sm-12 col-md-6 col-lg-3 " style=" border:1px solid black;">
                    <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                        <label class="form-label ">
                            Color&nbsp;
                        </label>
                    </div>
                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-9">
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_1" value="Coral Pink" id="u1">
                                <span class="custom-control-label">Coral Pink</span>
                            </label>
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_1" value="Red" id="u2">
                                <span class="custom-control-label">Red</span>
                            </label>
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_1" value="Pale" id="u3">
                                <span class="custom-control-label">Pale</span>
                            </label>
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_1" value="Black" id="u4">
                                <span class="custom-control-label">Black</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="d-flex col-sm-12 col-md-6 col-lg-6 " style=" border:1px solid black;">
                    <div class="col-sm-11 col-md-6 col-lg-2 mt-2">
                        <label class="form-label ">
                            Consistancy&nbsp;
                        </label>
                    </div>
                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-10">
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_2" value="Firm and resilient" id="u5">
                                <span class="custom-control-label">Firm and resilient</span>
                            </label>
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_2" value="Diffuse Puffiness and Softening" id="u6">
                                <span class="custom-control-label">Diffuse Puffiness and Softening</span>
                            </label>
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_2" value="Soggy Puffiness that pits On Pressure" id="u7">
                                <span class="custom-control-label">Soggy Puffiness that pits On Pressure</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="d-flex col-sm-12 col-md-6 col-lg-3 " style=" border:1px solid black;">
                    <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                        <label class="form-label ">
                            Size&nbsp;
                        </label>
                    </div>
                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-9">
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_3" value="Normal" id="u8">
                                <span class="custom-control-label">Normal</span>
                            </label>
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_3" value="Altered" id="u9">
                                <span class="custom-control-label">Altered</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="d-flex col-sm-12 col-md-6 col-lg-3 " style=" border:1px solid black;">
                    <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                        <label class="form-label ">
                            Texture&nbsp;
                        </label>
                    </div>
                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-9">
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_5" value="Stippled,transulent appearance(Normal)" id="u10">
                                <span class="custom-control-label">Stippled,transulent appearance(Normal)</span>
                            </label>
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_5" value="Loss Of Stiplling" id="u11">
                                <span class="custom-control-label">Loss Of Stiplling</span>
                            </label>

                        </div>
                    </div>
                </div>
                <div class="d-flex col-sm-12 col-md-6 col-lg-6 " style=" border:1px solid black;">
                    <div class="col-sm-11 col-md-6 col-lg-2 mt-2">
                        <label class="form-label ">
                            Contour&nbsp;
                        </label>
                    </div>
                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-10">
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_4" value="Scalloped and Knife Edge Margin(Normal)" id="u12">
                                <span class="custom-control-label">Scalloped and Knife Edge Margin(Normal)</span>
                            </label>
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_4" value="Alternation in Contour" id="u13">
                                <span class="custom-control-label">Alternation in Contour</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="d-flex col-sm-12 col-md-6 col-lg-3 " style=" border:1px solid black;">
                    <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                        <label class="form-label ">
                            Position&nbsp;
                        </label>
                    </div>
                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-9">
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_6" value="Normal" id="u14">
                                <span class="custom-control-label">Normal</span>
                            </label>
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_6" value="Gingival Recession" id="u15">
                                <span class="custom-control-label">Gingival Recession</span>
                            </label>

                        </div>
                    </div>
                </div>
                <div class="d-flex col-sm-12 col-md-6 col-lg-6 " style=" border:1px solid black;">
                    <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                        <label class="form-label ">
                            Palpation&nbsp;
                        </label>
                    </div>
                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-9">
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_8" value="Non Tender" id="u16">
                                <span class="custom-control-label">Non Tender</span>
                            </label>
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_8" value="Tender" id="u17">
                                <span class="custom-control-label">Tender</span>
                            </label>
                            <span class="ms-2 mb-2"> @Html.TextBoxFor(m => m.cst_22, new { @class = "form-control", @placeholder = "Enter Voucher No", @id = "cst_22", @width = "20px" })</span>
                        </div>
                    </div>
                </div>
                <div class="d-flex col-sm-12 col-md-6 col-lg-6 " style=" border:1px solid black;">
                    <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                        <label class="form-label ">
                            Bleeding&nbsp;
                        </label>
                    </div>
                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-9">
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_7" value="No Bleeding" id="u18">
                                <span class="custom-control-label">No Bleeding</span>
                            </label>
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_7" value="Bleed Spontaneously" id="u19">
                                <span class="custom-control-label">Bleed Spontaneously</span>
                            </label>
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_7" value="Bleed on probing or palpation" id="u20">
                                <span class="custom-control-label">Bleed on probing or palpation</span>
                            </label>

                        </div>
                    </div>
                </div>

                <div class="d-flex col-sm-12 col-md-6 col-lg-6 " style=" border:1px solid black;">
                    <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                        <label class="form-label ">
                            Periodontal pocket&nbsp;
                        </label>
                    </div>
                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-9">
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_9" value="Absent" id="u21">
                                <span class="custom-control-label">Absent</span>
                            </label>
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_9" value="Probing reveals deepening of gingival sulcus" id="u22">
                                <span class="custom-control-label">Probing reveals deepening of gingival sulcus</span>
                            </label>

                        </div>
                    </div>
                </div>
                <div class="d-flex col-sm-12 col-md-6 col-lg-6 " style=" border:1px solid black;">
                    <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                        <label class="form-label ">
                            Buccal mucosa&nbsp;
                        </label>
                    </div>
                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-9">
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_10" value="Normal,Deep Pink Color" id="u23">
                                <span class="custom-control-label">Normal,Deep Pink Color</span>
                            </label>
                            <span class="ms-2 mb-2"> @Html.TextBoxFor(m => m.cst_23, new { @class = "form-control", @placeholder = "Enter text", @id = "cst_23", @width = "20px" })</span>

                        </div>
                    </div>
                </div>
                <div class="d-flex col-sm-12 col-md-6 col-lg-6 " style=" border:1px solid black;">
                    <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                        <label class="form-label ">
                            Floor Of Mouth&nbsp;
                        </label>
                    </div>
                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-9">
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_11" value="No relevant abnormal findings" id="u24">
                                <span class="custom-control-label">No relevant abnormal findings</span>
                            </label>
                            <span class="ms-2 mb-2"> @Html.TextBoxFor(m => m.cst_24, new { @class = "form-control", @placeholder = "Enter text", @id = "cst_24", @width = "20px" })</span>

                        </div>
                    </div>
                </div>
                <div class="d-flex col-sm-12 col-md-6 col-lg-6 " style=" border:1px solid black;">
                    <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                        <label class="form-label ">
                            Labial & buccal vestibule&nbsp;
                        </label>
                    </div>
                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-9">
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_12" value="No Swellings,Ulcers,Obliteration" id="u25">
                                <span class="custom-control-label">No Swellings,Ulcers,Obliteration</span>
                            </label>
                            <span class="ms-2 mb-2"> @Html.TextBoxFor(m => m.cst_25, new { @class = "form-control", @placeholder = "Enter text", @id = "cst_25", @width = "20px" })</span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style=" border:1px solid black;">
                <div class="col-sm-12 col-md-6 col-lg-12">
                    <div class="form-group mt-2">
                        <label class="form-label">
                            Tongue&nbsp;
                        </label>
                    </div>
                </div>
                <div class="d-flex col-sm-12 col-md-6 col-lg-3 " style=" border:1px solid black;">
                    <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                        <label class="form-label ">
                            Size&nbsp;
                        </label>
                    </div>
                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-9">
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_13" value="Normal" id="u26">
                                <span class="custom-control-label">Normal</span>
                            </label>
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_13" value="Altered" id="u27">
                                <span class="custom-control-label">Altered</span>
                            </label>
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_13" value="Enlarged" id="u28">
                                <span class="custom-control-label">Enlarged</span>
                            </label>

                        </div>
                    </div>
                </div>
                <div class="d-flex col-sm-12 col-md-6 col-lg-4 " style=" border:1px solid black;">
                    <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                        <label class="form-label ">
                            Activity&nbsp;
                        </label>
                    </div>
                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-9">
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_14" value="Normal" id="u29">
                                <span class="custom-control-label">Normal</span>
                            </label>
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_14" value="Tongue Thrusting" id="u30">
                                <span class="custom-control-label">Tongue Thrusting</span>
                            </label>

                        </div>
                    </div>
                </div>
                <div class="d-flex col-sm-12 col-md-6 col-lg-5 " style=" border:1px solid black;">
                    <div class="col-sm-11 col-md-6 col-lg-4 mt-2">
                        <label class="form-label ">
                            Lesions&nbsp;
                        </label>
                    </div>
                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-8">
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_15" value="No lesions" id="u31">
                                <span class="custom-control-label">No lesions</span>
                            </label>
                            <span class="ms-2 mb-2"> @Html.TextBoxFor(m => m.cst_26, new { @class = "form-control", @placeholder = "Enter text", @id = "cst_26", @width = "20px" })</span>
                        </div>
                    </div>
                </div>
                <div class="d-flex col-sm-12 col-md-6 col-lg-3 " style=" border:1px solid black;">
                    <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                        <label class="form-label ">
                            Lips&nbsp;
                        </label>
                    </div>
                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-9">
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_16" value="Normal" id="u32">
                                <span class="custom-control-label">Normal</span>
                            </label>
                            <span class="ms-2 mb-2"> @Html.TextBoxFor(m => m.cst_27, new { @class = "form-control", @placeholder = "Enter text", @id = "cst_27", @width = "20px" })</span>

                        </div>
                    </div>
                </div>
                <div class="d-flex col-sm-12 col-md-6 col-lg-4 " style=" border:1px solid black;">
                    <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                        <label class="form-label ">
                            Frenum&nbsp;
                        </label>
                    </div>
                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-9">
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_18" value="Normal" id="u33">
                                <span class="custom-control-label">Normal</span>
                            </label>
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_18" value="AbNormal" id="u34">
                                <span class="custom-control-label">AbNormal</span>
                            </label>
                            <span class="ms-2 mb-2"> @Html.TextBoxFor(m => m.cst_29, new { @class = "form-control", @placeholder = "Enter text", @id = "cst_29", @width = "20px" })</span>
                        </div>
                    </div>
                </div>
                <div class="d-flex col-sm-12 col-md-6 col-lg-5 " style=" border:1px solid black;">
                    <div class="col-sm-11 col-md-6 col-lg-4 mt-2">
                        <label class="form-label ">
                            Hard and Soft palate&nbsp;
                        </label>
                    </div>
                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-8">
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_17" value="Normal" id="u35">
                                <span class="custom-control-label">Normal</span>
                            </label>
                            <span class="ms-2 mb-2"> @Html.TextBoxFor(m => m.cst_28, new { @class = "form-control", @placeholder = "Enter text", @id = "cst_28", @width = "20px" })</span>

                        </div>
                    </div>
                </div>



                <div class="d-flex col-sm-12 col-md-6 col-lg-3 " style=" border:1px solid black;">
                    <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                        <label class="form-label ">
                            Breathing&nbsp;
                        </label>
                    </div>
                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-9">
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_20" value="Oral" id="u36">
                                <span class="custom-control-label">Oral</span>
                            </label>
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_20" value="Nasal" id="u37">
                                <span class="custom-control-label">Nasal</span>
                            </label>
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_20" value="Oral-Nasal" id="u38">
                                <span class="custom-control-label">Oral-Nasal</span>
                            </label>

                        </div>
                    </div>
                </div>
                <div class="d-flex col-sm-12 col-md-6 col-lg-4 " style=" border:1px solid black;">
                    <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                        <label class="form-label ">
                            Alveolar ridge&nbsp;
                        </label>
                    </div>
                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-9">
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_21" value="Normal" id="u39">
                                <span class="custom-control-label">Normal</span>
                            </label>

                            <span class="ms-2 mb-2"> @Html.TextBoxFor(m => m.cst_31, new { @class = "form-control", @placeholder = "Enter text", @id = "cst_31", @width = "20px" })</span>
                        </div>
                    </div>
                </div>
                <div class="d-flex col-sm-12 col-md-6 col-lg-5 " style=" border:1px solid black;">
                    <div class="col-sm-11 col-md-6 col-lg-4 mt-2">
                        <label class="form-label ">
                            Tonsils and Adenoids&nbsp;
                        </label>
                    </div>
                    <div class="d-flex align-items-center justify-content-center w-8  form-label">
                        :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-8">
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="cst_19" value="Normal" id="u40">
                                <span class="custom-control-label">Normal</span>
                            </label>
                            <span class="ms-2 mb-2"> @Html.TextBoxFor(m => m.cst_30, new { @class = "form-control", @placeholder = "Enter text", @id = "cst_30", @width = "20px" })</span>

                        </div>
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-sm-12 col-md-6 col-lg-12">
                    <div class="form-group mb-3">
                        <label class="form-label text-black">Additional Clinical Findings&nbsp;<span class="text-danger"> *</span></label>
                        @Html.TextAreaFor(m => m.cst_32, new { @class = "form-control", @placeholder = "Enter Note", @row = "1" })
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12 col-md-6 col-lg-12 text-center">
                    <div class="btn-list btn-animation">
                        <button type="submit" class="btn btn-sm btn-success" id="btn_Insert_SoftTissue">Add SoftTissue</button>
                        <button type="button" class="btn btn-sm btn-outline-dark" id="btn_Reset_SoftTissue">Reset</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    //#region Partial View Onload
        $(function () {
            if ("@emp_designation.ToString()" === "Super Administrator") {
                    $("#btn_Insert_SoftTissue").show();
            }
            else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Insert_SoftTissue").show();

                }
                else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Insert_SoftTissue").show();
                    }
                    else {
                        $("#btn_Insert_SoftTissue").hide();
                    }
                }
            }
            GetCheckedValues();
            validate();
        });
    //#endregion Partial View Onload

      //#region Get CheckedValues
    var GetCheckedValues = function () {
        var cst_1_ = "@Model.cst_1";
        if (cst_1_ !== "") {
            var cst_1_ = $("input[name='cst_1'][value='" + "@Model.cst_1" + "']").attr("id");
            $("#" + cst_1_).attr('checked', 'checked');
            $("#" + cst_1_).prop("checked", true);
        }
        var cst_2_ = "@Model.cst_2";
        if (cst_2_ !== "") {
            var cst_2_ = $("input[name='cst_2'][value='" + "@Model.cst_2" + "']").attr("id");
            $("#" + cst_2_).attr('checked', 'checked');
            $("#" + cst_2_).prop("checked", true);
        }

        var cst_3_ = "@Model.cst_3";
        if (cst_3_ !== "") {
            var cst_3_ = $("input[name='cst_3'][value='" + "@Model.cst_3" + "']").attr("id");
            $("#" + cst_3_).attr('checked', 'checked');
            $("#" + cst_3_).prop("checked", true);
        }
         var cst_4_ = "@Model.cst_4";
        if (cst_4_ !== "") {
            var cst_4_ = $("input[name='cst_4'][value='" + "@Model.cst_4" + "']").attr("id");
            $("#" + cst_4_).attr('checked', 'checked');
            $("#" + cst_4_).prop("checked", true);
        }
        var cst_5_ = "@Model.cst_5";
        if (cst_5_ !== "") {
            var cst_5_ = $("input[name='cst_5'][value='" + "@Model.cst_5" + "']").attr("id");
            $("#" + cst_5_).attr('checked', 'checked');
            $("#" + cst_5_).prop("checked", true);
        }
        var cst_6_ = "@Model.cst_6";
        if (cst_6_ !== "") {
            var cst_6_ = $("input[name='cst_6'][value='" + "@Model.cst_6" + "']").attr("id");
            $("#" + cst_6_).attr('checked', 'checked');
            $("#" + cst_6_).prop("checked", true);
        }
         var cst_7_ = "@Model.cst_7";
        if (cst_7_ !== "") {
            var cst_7_ = $("input[name='cst_7'][value='" + "@Model.cst_7" + "']").attr("id");
            $("#" + cst_7_).attr('checked', 'checked');
            $("#" + cst_7_).prop("checked", true);
        }
        var cst_8_ = "@Model.cst_8";
        if (cst_8_ !== "") {
            var cst_8_ = $("input[name='cst_8'][value='" + "@Model.cst_8" + "']").attr("id");
            $("#" + cst_8_).attr('checked', 'checked');
            $("#" + cst_8_).prop("checked", true);
        }
         var cst_9_ = "@Model.cst_9";
        if (cst_9_ !== "") {
            var cst_9_ = $("input[name='cst_9'][value='" + "@Model.cst_9" + "']").attr("id");
            $("#" + cst_9_).attr('checked', 'checked');
            $("#" + cst_9_).prop("checked", true);
        }
        var cst_10_ = "@Model.cst_10";
        if (cst_10_ !== "") {
            var cst_10_ = $("input[name='cst_10'][value='" + "@Model.cst_10" + "']").attr("id");
            $("#" + cst_10_).attr('checked', 'checked');
            $("#" + cst_10_).prop("checked", true);
        }
         var cst_11_ = "@Model.cst_11";
        if (cst_11_ !== "") {
            var cst_11_ = $("input[name='cst_11'][value='" + "@Model.cst_11" + "']").attr("id");
            $("#" + cst_11_).attr('checked', 'checked');
            $("#" + cst_11_).prop("checked", true);
        }
        var cst_12_ = "@Model.cst_12";
        if (cst_12_ !== "") {
            var cst_12_ = $("input[name='cst_12'][value='" + "@Model.cst_12" + "']").attr("id");
            $("#" + cst_12_).attr('checked', 'checked');
            $("#" + cst_12_).prop("checked", true);
        }
         var cst_13_ = "@Model.cst_13";
        if (cst_13_ !== "") {
            var cst_13_ = $("input[name='cst_13'][value='" + "@Model.cst_13" + "']").attr("id");
            $("#" + cst_13_).attr('checked', 'checked');
            $("#" + cst_13_).prop("checked", true);
        }
        var cst_14_ = "@Model.cst_14";
        if (cst_14_ !== "") {
            var cst_14_ = $("input[name='cst_14'][value='" + "@Model.cst_14" + "']").attr("id");
            $("#" + cst_14_).attr('checked', 'checked');
            $("#" + cst_14_).prop("checked", true);
        }
         var cst_15_ = "@Model.cst_15";
        if (cst_15_ !== "") {
            var cst_15_ = $("input[name='cst_15'][value='" + "@Model.cst_15" + "']").attr("id");
            $("#" + cst_15_).attr('checked', 'checked');
            $("#" + cst_15_).prop("checked", true);
        }
         var cst_16_ = "@Model.cst_16";
        if (cst_16_ !== "") {
            var cst_16_ = $("input[name='cst_16'][value='" + "@Model.cst_16" + "']").attr("id");
            $("#" + cst_16_).attr('checked', 'checked');
            $("#" + cst_16_).prop("checked", true);
        }
         var cst_17_ = "@Model.cst_17";
        if (cst_17_ !== "") {
            var cst_17_ = $("input[name='cst_17'][value='" + "@Model.cst_17" + "']").attr("id");
            $("#" + cst_17_).attr('checked', 'checked');
            $("#" + cst_17_).prop("checked", true);
        }
         var cst_18_ = "@Model.cst_18";
        if (cst_18_ !== "") {
            var cst_18_ = $("input[name='cst_18'][value='" + "@Model.cst_18" + "']").attr("id");
            $("#" + cst_18_).attr('checked', 'checked');
            $("#" + cst_18_).prop("checked", true);
        }
        var cst_19_ = "@Model.cst_19";
        if (cst_19_ !== "") {
            var cst_19_ = $("input[name='cst_19'][value='" + "@Model.cst_19" + "']").attr("id");
            $("#" + cst_19_).attr('checked', 'checked');
            $("#" + cst_19_).prop("checked", true);
        }
        var cst_20_ = "@Model.cst_20";
        if (cst_20_ !== "") {
            var cst_20_ = $("input[name='cst_20'][value='" + "@Model.cst_20" + "']").attr("id");
            $("#" + cst_20_).attr('checked', 'checked');
            $("#" + cst_20_).prop("checked", true);
        }
        var cst_21_ = "@Model.cst_21";
        if (cst_21_ !== "") {
            var cst_21_ = $("input[name='cst_21'][value='" + "@Model.cst_21" + "']").attr("id");
            $("#" + cst_21_).attr('checked', 'checked');
            $("#" + cst_21_).prop("checked", true);
        }
        var cst_22_ = "@Model.cst_22";
        if (cst_22_ !== "") {
            var cst_22_ = $("input[name='cst_22'][value='" + "@Model.cst_22" + "']").attr("id");
            $("#" + cst_22_).attr('checked', 'checked');
            $("#" + cst_22_).prop("checked", true);
        }
    }
    //#endregion Get CheckedValues

      // #region Validation Initialization
        var validate = function () {
            $("#form_SoftTissue").validate({
                rules: {
                    cst_32: {
                        required: true
                    },

                },
                messages: {
                    cst_32: {
                        required: "Please enter Clinical Findings !"
                    },

                },
                highlight: function (element) {
                    var elem = $(element);
                    $(element).parent().addClass('has-error');
                },
                unhighlight: function (element) {
                    var elem = $(element);
                    $(element).parent().removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'text-danger fw-bold',
                errorPlacement: function (error, element) {
                    var elem = $(element);
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

        }
    //#endregion Validation Initialization

    //#region Add  Click
        $('#btn_Insert_SoftTissue').on('click', function (e) {
            e.preventDefault();
            if ($("#form_SoftTissue").valid()) {
                $('#btn_Insert_SoftTissue').removeClass("btn btn-sm btn-success");
                $('#btn_Insert_SoftTissue').addClass("btn btn-sm btn-success btn-loaders btn-icon");
                $('#btn_Insert_SoftTissue').html("Saving the Record....");

                var _dateInsert = {
                    "cstId": 0,
                    "cst_appId": @emr.appId,
                    "cst_1": $("input[name='cst_1']:checked").val(),
                    "cst_2": $("input[name='cst_2']:checked").val(),
                    "cst_3": $("input[name='cst_3']:checked").val(),
                    "cst_4": $("input[name='cst_4']:checked").val(),
                    "cst_5": $("input[name='cst_5']:checked").val(),
                    "cst_6": $("input[name='cst_6']:checked").val(),
                    "cst_7": $("input[name='cst_7']:checked").val(),
                    "cst_8": $("input[name='cst_8']:checked").val(),
                    "cst_9": $("input[name='cst_9']:checked").val(),
                    "cst_10": $("input[name='cst_10']:checked").val(),
                    "cst_11": $("input[name='cst_11']:checked").val(),
                    "cst_12": $("input[name='cst_12']:checked").val(),
                    "cst_13": $("input[name='cst_13']:checked").val(),
                    "cst_14": $("input[name='cst_14']:checked").val(),
                    "cst_15": $("input[name='cst_15']:checked").val(),
                    "cst_16": $("input[name='cst_16']:checked").val(),
                    "cst_17": $("input[name='cst_17']:checked").val(),
                    "cst_18": $("input[name='cst_18']:checked").val(),
                    "cst_19": $("input[name='cst_19']:checked").val(),
                    "cst_20": $("input[name='cst_20']:checked").val(),
                    "cst_21": $("input[name='cst_21']:checked").val(),
                    "cst_22": $("#cst_22").val(),
                    "cst_23": $("#cst_23").val(),
                    "cst_24": $("#cst_24").val(),
                    "cst_25": $("#cst_25").val(),
                    "cst_26": $("#cst_26").val(),
                    "cst_27": $("#cst_27").val(),
                    "cst_28": $("#cst_28").val(),
                    "cst_29": $("#cst_29").val(),
                    "cst_30": $("#cst_30").val(),
                    "cst_31": $("#cst_31").val(),
                    "cst_32": $("#cst_32").val(),
                    "cst_32": $("#cst_32").val(),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dateInsert);
                $.ajax({
                        type: "Post",
                        url: "@Url.Action("InsertIntraOralSoftTissue", "OralExamination", new {area = "EMR" })",
                        dataType: 'JSON',
                        data: _dateInsert,
                        success: function (data) {
                            $('#btn_Insert_SoftTissue').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                            $('#btn_Insert_SoftTissue').addClass("btn btn-sm btn-success");
                            $('#btn_Insert_SoftTissue').html("Add SoftTissue");
                            if (data.isSuccess) {
                                if (data.isInserted) {
                                    var alertPlaceholder = document.getElementById("Alert");
                                    function alert(e, t) {
                                        var l = document.createElement("div");
                                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                    }
                                    alert("<i class='fe fe-check-circle text-white'></i>  IntraOral SoftTissue Saved Successfully!", "success");
                                    GetIntraOralSoftTissue();
                                    Timeout();
                                }
                                else {

                                    let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                        "<div class='alert alert-warning' role='alert'>" +
                                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                        "<strong>Warning.. IntraOral SoftTissue Alredy Exists..</strong><br/>" +
                                        "</div></div>";
                                    $("#Alert").html(html);
                                }
                            }
                            else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                            "<div class='alert alert-danger' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                        },
                            error: function (xhr) {
                                $('#btn_Insert_SoftTissue').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                                $('#btn_Insert_SoftTissue').addClass("btn btn-sm btn-warning");
                                $('#btn_Insert_SoftTissue').html("Add SoftTissue");
                            Timeout();
                        }
                });

            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion Add Click

    //#region Reset
    $('#btn_Reset_SoftTissue').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".custom-control-input").prop("checked", false);
    }
    //#endregion Clear Controls


</script>