@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMR.ExtraOralExam
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_ExtraOralExam" autocomplete="off" name="gastrointestinal" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ceoId, new { @id = "uceoId", @value = "@Model.ceoId" })

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-12 mb-4 ">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-2">
                    <div>
                        <h4 class="page-title mb-0 text-primary">
                            Extra Oral Examination
                        </h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-1">
                    <div class="form-group">
                        <label class="form-label">
                            Facial Symmetry&nbsp;
                        </label>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="1" id="1">
                                <span class="custom-control-label">Symmetrical</span>
                            </label>
                        </div>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="2" id="2">
                                <span class="custom-control-label">Asymmetrical</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-1">
                    <div class="form-group">
                        <label class="form-label">
                            Facial Profile&nbsp;
                        </label>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="3" id="3">
                                <span class="custom-control-label">Straight</span>
                            </label>
                        </div>

                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="4" id="4">
                                <span class="custom-control-label">Convex</span>
                            </label>
                        </div>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="5" id="5">
                                <span class="custom-control-label">Concave</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-2">
                    <div class="form-group">
                        <label class="form-label">
                            Lymphadenopathy&nbsp;
                        </label>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="6" id="6">
                                <span class="custom-control-label">Negative</span>
                            </label>
                        </div>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="7" id="7">
                                <span class="custom-control-label">Positive</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-1">
                    <div class="form-group">
                        <label class="form-label">Breathing&nbsp;</label>

                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="8" id="8">
                                <span class="custom-control-label">Nose</span>
                            </label>
                        </div>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="9" id="9">
                                <span class="custom-control-label">Mouth</span>
                            </label>
                        </div>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="10" id="10">
                                <span class="custom-control-label">Both</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-1">
                    <div class="form-group">
                        <label class="form-label">TMJ&nbsp;<span class="text-danger">*</span></label>

                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="11" id="11">
                                <span class="custom-control-label">Normal</span>
                            </label>
                        </div>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="12" id="12">
                                <span class="custom-control-label">Clicking</span>
                            </label>
                        </div>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="13" id="13">
                                <span class="custom-control-label">Plan</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-1">
                    <div class="form-group">
                        <label class="form-label">Mandibular&nbsp;</label>

                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="14" id="14">
                                <span class="custom-control-label">Normal</span>
                            </label>
                        </div>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="15" id="15">
                                <span class="custom-control-label">Deviation</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-1">
                    <div class="form-group">
                        <label class="form-label">Oral Hygiene&nbsp;</label>

                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="16" id="16">
                                <span class="custom-control-label">Good</span>
                            </label>
                        </div>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="17" id="17">
                                <span class="custom-control-label">Fair</span>
                            </label>
                        </div>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="18" id="18">
                                <span class="custom-control-label">Poor</span>
                            </label>
                        </div>

                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-2">
                    <div class="form-group">
                        <label class="form-label">
                            Growth & Development&nbsp;
                        </label>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="19" id="19">
                                <span class="custom-control-label">Primary</span>
                            </label>
                        </div>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="20" id="20">
                                <span class="custom-control-label">Early Mixed</span>
                            </label>
                        </div>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="21" id="21">
                                <span class="custom-control-label">Mixed</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-1">
                    <div class="form-group">
                        <label class="form-label" style="margin-bottom: 44px !important;">

                        </label>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="22" id="22">
                                <span class="custom-control-label">Late Mixed</span>
                            </label>
                        </div>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="23" id="23">
                                <span class="custom-control-label">Permanent</span>
                            </label>
                        </div>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="24" id="24">
                                <span class="custom-control-label">Mixed</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-2">
                    <div class="form-group">
                        <label class="form-label">
                            Midline
                        </label>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="25" id="25">
                                <span class="custom-control-label">Even</span>
                            </label>
                        </div>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="26" id="26">
                                <span class="custom-control-label">Shift to R Upper</span>
                            </label>
                        </div>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="27" id="27">
                                <span class="custom-control-label">Shift to R Lower</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-2">
                    <div class="form-group">
                        <label class="form-label" style="margin-bottom: 44px !important;">

                        </label>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="28" id="28">
                                <span class="custom-control-label">Shift to L Upper</span>
                            </label>
                        </div>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="29" id="29">
                                <span class="custom-control-label">Shift to L Lower</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-2">
                    <div class="form-group">
                        <label class="form-label">
                            Crossbite
                        </label>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="30" id="30">
                                <span class="custom-control-label">None</span>
                            </label>
                        </div>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="31" id="31">
                                <span class="custom-control-label">Present</span>
                            </label>
                            @Html.TextBoxFor(m => m.ceo_9, new { @class = "form-control ", @placeholder = "Enter Note" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-1">
                    <div class="form-group">
                        <label class="form-label">
                            Trauma
                        </label>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="32" id="32">
                                <span class="custom-control-label">None</span>
                            </label>
                        </div>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="33" id="33">
                                <span class="custom-control-label">Yes (teeth Involved)</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="form-group">
                        <label class="form-label" style="margin-bottom: 44px !important;">

                        </label>

                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">

                            @Html.TextBoxFor(m => m.ceo_10, new { @class = "form-control", @placeholder = "Enter Note" })
                        </div>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-2">
                    <div class="form-group">
                        <label class="form-label">
                            Arc Length
                        </label>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="34" id="34">
                                <span class="custom-control-label">Primary Insicor Spacing</span>
                            </label>
                        </div>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="35" id="35">
                                <span class="custom-control-label">Crowding</span>
                            </label>
                            @Html.TextBoxFor(m => m.ceo_3, new { @class = "form-control", @placeholder = "Enter Note" })
                        </div>

                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-2">
                    <div class="form-group">
                        <label class="form-label" style="margin-bottom: 44px !important;">

                        </label>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="36" id="36">
                                <span class="custom-control-label">Space Loss</span>
                            </label>
                        </div>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="37" id="37">
                                <span class="custom-control-label">Appliance in use</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-2">
                    <div class="form-group">
                        <label class="form-label" style="margin-bottom: 44px !important;">

                        </label>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">

                            @Html.TextBoxFor(m => m.ceo_4, new { @class = "form-control mb-2", @placeholder = "Enter Note" })
                        </div>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">

                            @Html.TextBoxFor(m => m.ceo_5, new { @class = "form-control mb-2", @placeholder = "Enter Note" })
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-2">
                    <div class="form-group">
                        <label class="form-label" style="margin-bottom: 44px !important;">

                        </label>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="38" id="38">
                                <span class="custom-control-label">Overjet </span>
                            </label>
                            @Html.TextBoxFor(m => m.ceo_6, new { @class = "form-control mb-2", @placeholder = "Enter Note" })
                        </div>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="39" id="39">
                                <span class="custom-control-label">Overbite</span>
                            </label>
                            @Html.TextBoxFor(m => m.ceo_7, new { @class = "form-control", @placeholder = "Enter Note" })
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-2">
                    <div class="form-group">
                        <label class="form-label" style="margin-bottom: 44px !important;">

                        </label>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                <input type="checkbox" class="custom-control-input" name="ceo_11" value="40" id="40">
                                <span class="custom-control-label">Openbite </span>
                            </label>
                            @Html.TextBoxFor(m => m.ceo_8, new { @class = "form-control", @placeholder = "Enter Note" })
                        </div>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group mb-3">
                        <label class="form-label text-black">Oral habits&nbsp;</label>
                        @Html.TextBoxFor(m => m.ceo_1, new { @class = "form-control", @placeholder = "Enter Note" })
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group mb-3">
                        <label class="form-label text-black">Soft tissue lesions&nbsp;</label>
                        @Html.TextBoxFor(m => m.ceo_2, new { @class = "form-control", @placeholder = "Enter Note" })
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-12">
                    <div class="form-group mb-3">
                        <label class="form-label text-black">Oral notes&nbsp;<span class="text-danger"> *</span></label>
                        @Html.TextAreaFor(m => m.ceo_12, new { @class = "form-control", @placeholder = "Enter Note", @row = "1" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-12 text-center">
                    <div class="btn-list btn-animation">
                        <button type="submit" class="btn btn-sm btn-success" id="btn_Insert_ExtraOralExam">Add</button>
                        <button type="button" class="btn btn-sm btn-outline-dark" id="btn_Reset_ExtraOralExam">Reset</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    //#region Partial View Onload
        $(function () {
            if ("@emp_designation.ToString()" === "Super Administrator") {
                    $("#btn_Insert_ExtraOralExam").show();
            }
            else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Insert_ExtraOralExam").show();

                }
                else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Insert_ExtraOralExam").show();
                    }
                    else {
                        $("#btn_Insert_ExtraOralExam").hide();
                    }
                }
            }
            var checknames = "@Model.ceo_11";
            if (checknames !== "") {
                GetCheckedValues(checknames);
            } else {
                // Handle the case when pretemp6 is null or empty
            }
            validate();
        });
    //#endregion Partial View Onload

    //#region Get CheckedValues
    var GetCheckedValues = function (checknames) {
        var data = checknames;
        if (checknames !== null) {
            var x = data.split(",");

            if (x != "") {
                if (x.includes("1")) {
                    $('#1').attr('checked', 'checked');
                    $("#1").prop("checked", true);
                }
                if (x.includes("2")) {
                    $('#2').attr('checked', 'checked');
                    $("#2").prop("checked", true);
                }
                if (x.includes("3")) {
                    $('#3').attr('checked', 'checked');
                    $("#3").prop("checked", true);
                }
                if (x.includes("4")) {
                    $('#4').attr('checked', 'checked');
                    $("#4").prop("checked", true);
                }
                if (x.includes("5")) {
                    $('#5').attr('checked', 'checked');
                    $("#5").prop("checked", true);
                }
                if (x.includes("6")) {
                    $('#6').attr('checked', 'checked');
                    $("#6").prop("checked", true);
                }
                if (x.includes("7")) {
                    $('#7').attr('checked', 'checked');
                    $("#7").prop("checked", true);
                }
                if (x.includes("8")) {
                    $('#8').attr('checked', 'checked');
                    $("#8").prop("checked", true);
                }
                if (x.includes("9")) {
                    $('#9').attr('checked', 'checked');
                    $("#9").prop("checked", true);
                }
                if (x.includes("10")) {
                    $('#10').attr('checked', 'checked');
                    $("#10").prop("checked", true);
                }
                if (x.includes("11")) {
                    $('#11').attr('checked', 'checked');
                    $("#11").prop("checked", true);
                }
                if (x.includes("12")) {
                    $('#12').attr('checked', 'checked');
                    $("#12").prop("checked", true);
                }
                if (x.includes("13")) {
                    $('#13').attr('checked', 'checked');
                    $("#13").prop("checked", true);
                }
                if (x.includes("14")) {
                    $('#14').attr('checked', 'checked');
                    $("#14").prop("checked", true);
                }
                if (x.includes("15")) {
                    $('#15').attr('checked', 'checked');
                    $("#15").prop("checked", true);
                }
                if (x.includes("16")) {
                    $('#16').attr('checked', 'checked');
                    $("#16").prop("checked", true);
                }
                if (x.includes("17")) {
                    $('#17').attr('checked', 'checked');
                    $("#17").prop("checked", true);
                }
                if (x.includes("18")) {
                    $('#18').attr('checked', 'checked');
                    $("#18").prop("checked", true);
                }
                if (x.includes("19")) {
                    $('#19').attr('checked', 'checked');
                    $("#19").prop("checked", true);
                }
                if (x.includes("20")) {
                    $('#20').attr('checked', 'checked');
                    $("#20").prop("checked", true);
                }
                if (x.includes("21")) {
                    $('#21').attr('checked', 'checked');
                    $("#21").prop("checked", true);
                }
                if (x.includes("22")) {
                    $('#22').attr('checked', 'checked');
                    $("#22").prop("checked", true);
                }
                if (x.includes("23")) {
                    $('#23').attr('checked', 'checked');
                    $("#23").prop("checked", true);
                }
                if (x.includes("24")) {
                    $('#24').attr('checked', 'checked');
                    $("#24").prop("checked", true);
                }
                if (x.includes("25")) {
                    $('#25').attr('checked', 'checked');
                    $("#25").prop("checked", true);
                }
                if (x.includes("26")) {
                    $('#26').attr('checked', 'checked');
                    $("#26").prop("checked", true);
                }
                if (x.includes("27")) {
                    $('#27').attr('checked', 'checked');
                    $("#27").prop("checked", true);
                }
                if (x.includes("28")) {
                    $('#28').attr('checked', 'checked');
                    $("#28").prop("checked", true);
                }
                if (x.includes("29")) {
                    $('#29').attr('checked', 'checked');
                    $("#29").prop("checked", true);
                }
                if (x.includes("30")) {
                    $('#30').attr('checked', 'checked');
                    $("#30").prop("checked", true);
                }
                if (x.includes("31")) {
                    $('#31').attr('checked', 'checked');
                    $("#31").prop("checked", true);
                }
                if (x.includes("32")) {
                    $('#32').attr('checked', 'checked');
                    $("#32").prop("checked", true);
                }
                if (x.includes("33")) {
                    $('#33').attr('checked', 'checked');
                    $("#33").prop("checked", true);
                }
                if (x.includes("34")) {
                    $('#34').attr('checked', 'checked');
                    $("#34").prop("checked", true);
                }
                if (x.includes("35")) {
                    $('#35').attr('checked', 'checked');
                    $("#35").prop("checked", true);
                }
                if (x.includes("36")) {
                    $('#36').attr('checked', 'checked');
                    $("#36").prop("checked", true);
                }
                if (x.includes("37")) {
                    $('#37').attr('checked', 'checked');
                    $("#37").prop("checked", true);
                }
                if (x.includes("38")) {
                    $('#38').attr('checked', 'checked');
                    $("#38").prop("checked", true);
                }
                if (x.includes("39")) {
                    $('#39').attr('checked', 'checked');
                    $("#39").prop("checked", true);
                }
                if (x.includes("40")) {
                    $('#40').attr('checked', 'checked');
                    $("#40").prop("checked", true);
                }

            }
        }
    }
    //#endregion Get CheckedValues

      // #region Validation Initialization
        var validate = function () {
            $("#form_ExtraOralExam").validate({
                rules: {
                    ceo_12: {
                        required: true
                    },

                },
                messages: {
                    ceo_12: {
                        required: "Please Oral notes!"
                    },

                },
                highlight: function (element) {
                    var elem = $(element);
                    $(element).parent().addClass('has-error');
                },
                unhighlight: function (element) {
                    var elem = $(element);
                    $(element).parent().removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'text-danger fw-bold',
                errorPlacement: function (error, element) {
                    var elem = $(element);
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

        }
    //#endregion Validation Initialization

    //#region Add  Click
        $('#btn_Insert_ExtraOralExam').on('click', function (e) {
            e.preventDefault();
            if ($("#form_ExtraOralExam").valid()) {
                $('#btn_Insert_ExtraOralExam').removeClass("btn btn btn-success");
                $('#btn_Insert_ExtraOralExam').addClass("btn btn btn-success btn-loaders btn-icon");
                $('#btn_Insert_ExtraOralExam').html("Saving the Record....");

                var ceo_11_ = $.map($(':checkbox[name=ceo_11]:checked'), function (n, i) {
                    return n.value;
                }).join(',');
                var _dateInsert = {
                    "ceoId": 0,
                    "ceo_appId": @emr.appId,
                    "ceo_1": $("#ceo_1").val(),
                    "ceo_2": $("#ceo_2").val(),
                    "ceo_3": $("#ceo_3").val(),
                    "ceo_4": $("#ceo_4").val(),
                    "ceo_5": $("#ceo_5").val(),
                    "ceo_6": $("#ceo_6").val(),
                    "ceo_7": $("#ceo_7").val(),
                    "ceo_8": $("#ceo_8").val(),
                    "ceo_9": $("#ceo_9").val(),
                    "ceo_10": $("#ceo_10").val(),
                    "ceo_11": ceo_11_,
                    "ceo_12": $("#ceo_12").val(),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                $.ajax({
                    type: "Post",
                    url: "@Url.Action("InsertExtraOralExam", "OralExamination", new {area = "EMR" })",
                    dataType: 'JSON',
                    data: _dateInsert,
                    success: function (data) {
                        $('#btn_Insert_ExtraOralExam').removeClass("btn btn btn-success btn-loaders btn-icon");
                        $('#btn_Insert_ExtraOralExam').addClass("btn btn btn-success");
                        $('#btn_Insert_ExtraOralExam').html("Add");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                console.log(data);
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i>  General Examination Saved Successfully!", "success");
                                GetExtraOralExam();
                                Timeout();
                            }
                            else {

                                let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. General Examination Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#Alert").html(html);
                            }
                        }
                        else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                            }, 5000);
                        });
                        html += "</ul></div></div>";
                        $("#error").html(html);
                    }
                    },
                    error: function (xhr) {
                        $('#btn_Insert_ExtraOralExam').removeClass("btn btn btn-success btn-loaders btn-icon");
                        $('#btn_Insert_ExtraOralExam').addClass("btn btn btn-warning");
                        $('#btn_Insert_ExtraOralExam').html("Add");
                        Timeout();
                    }
                });

            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion Add Click

    //#region Reset
    $('#btn_Reset_ExtraOralExam').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $("#ceo_1").val("");
        $("#ceo_2").val("");
        $("#ceo_3").val("");
        $("#ceo_4").val("");
        $("#ceo_5").val("");
        $("#ceo_6").val("");
        $("#ceo_7").val("");
        $("#ceo_8").val("");
        $("#ceo_9").val("");
        $("#ceo_10").val("");
        $("#ceo_12").val("");
        $("input[name='ceo_11']:checkbox").prop('checked', false);

    }
    //#endregion Clear Controls


</script>