
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMR.HardTissue
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_EditHardTissue" class="needs-validation" >

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.hard_tissue_info.chtId)
    @Html.HiddenFor(m => m.hard_tissue_info.cht_appId)
    @Html.HiddenFor(m => m.hard_tissue_info.chtId, new { @id = "uchtId", @value = "@Model.hard_tissue_info.chtId" })

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-2">
            <div>
                <h4 class="page-title mb-0 text-primary">
                    Intra Oral Hard Tissue
                </h4>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group mb-3">
                <label class="form-label text-black">Reason for loss Of missing teeth&nbsp;</label>
                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2 ">
                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Extracted Due to Dental Caries" id="u18">
                    <span class="custom-control-label">Extracted Due to Dental Caries</span>
                </label>
                @Html.TextAreaFor(m => m.hard_tissue_info.cht_11, new { @class = "form-control", @placeholder = "Enter Tooth mobility", @row = "1" })
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group mb-3">
                <label class="form-label text-black" style="margin-bottom: 24px !important;"></label>
                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Extracted Due to PeriDontal Diseases" id="u19">
                    <span class="custom-control-label">Extracted Due to PeriDontal Diseases</span>
                </label>
                @Html.TextAreaFor(m => m.hard_tissue_info.cht_12, new { @class = "form-control", @placeholder = "Enter Findings", @row = "1" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-12">
            <table class="table table-bordered card-table table-vcenter text-nowrap ">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td class="form-label text-black" colspan="9">Deposits</td>
                    </tr>
                    <tr>
                        <td class="text-black w-10">Plaques</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_2" value="Absent" id="u1">
                                    <span class="custom-control-label">Absent</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_2" value="Present" id="u2">
                                    <span class="custom-control-label">Present</span>
                                </label>
                            </div>
                        </td>
                        <td class="text-black w-10">Calculus</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_3" value="Absent" id="u3">
                                    <span class="custom-control-label">Absent</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_3" value="Supragingival" id="u4">
                                    <span class="custom-control-label">Supragingival</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_3" value="Subgingival" id="u5">
                                    <span class="custom-control-label">Subgingival</span>
                                </label>
                            </div>
                        </td>
                        <td class="text-black w-10">Supragingival Calculus</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_4" value="+" id="u6">
                                    <span class="custom-control-label">+</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_4" value="++" id="u7">
                                    <span class="custom-control-label">++</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_4" value="+++" id="u8">
                                    <span class="custom-control-label">+++</span>
                                </label>
                            </div>
                        </td>

                    </tr>
                    <tr>

                        <td class="text-black w-10">Oral hygeine</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_5" value="Good" id="u9">
                                    <span class="custom-control-label">Good</span>
                                </label><label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_5" value="Fair" id="u10">
                                    <span class="custom-control-label">Fair</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_5" value="Poor" id="u11">
                                    <span class="custom-control-label">Poor</span>
                                </label>
                            </div>
                        </td>

                        <td class="text-black w-10">Percussion of teeth</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_6" value="Non Tender" id="u12">
                                    <span class="custom-control-label">Non Tender</span>
                                </label>
                                <span class="ms-2 mb-2"> @Html.TextBoxFor(m => m.hard_tissue_info.cht_14, new { @class = "form-control", @placeholder = "Enter text", @id = "ucht_14", @width = "10px" })</span>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_6" value="Tender" id="u13">
                                    <span class="custom-control-label">Tender</span>
                                </label>

                                <span class="ms-2 mb-2"> @Html.TextBoxFor(m => m.hard_tissue_info.cht_15, new { @class = "form-control", @placeholder = "Enter text", @id = "ucht_15", @width = "10px" })</span>
                            </div>
                        </td>
                        <td class="text-black w-10">Vitality test</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_7" value="Not Done" id="u14">
                                    <span class="custom-control-label">Not Done</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_7" value="Other" id="u15">
                                    <span class="custom-control-label">Other</span>
                                </label>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-black w-10">Vitality test</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_8" value="Not Done" id="u16">
                                    <span class="custom-control-label">Not Done</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" name="cht_8" value="Other" id="u17">
                                    <span class="custom-control-label">Other</span>
                                </label>
                                <span class="ms-2 mb-2"> @Html.TextBoxFor(m => m.hard_tissue_info.cht_16, new { @class = "form-control", @placeholder = "Enter text", @id = "ucht_16", @width = "10px" })</span>
                            </div>
                        </td>
                        <td class="text-black w-10">Cold test</td>
                        <td class="text-black w-2">:</td>
                        <td colspan="4">
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Normal Pulp" id="u20">
                                    <span class="custom-control-label">Normal Pulp;</span>
                                </label>
                                <span class="ms-2 mb-2"> @Html.TextBoxFor(m => m.hard_tissue_info.cht_17, new { @class = "form-control", @placeholder = "Enter text", @id = "ucht_17", @width = "10px" })</span>
                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Exaggrerated response with Pain" id="u21">
                                    <span class="custom-control-label">Exaggrerated response with Pain;</span>
                                </label>
                                <span class="ms-2 mb-2"> @Html.TextBoxFor(m => m.hard_tissue_info.cht_10, new { @class = "form-control", @placeholder = "Enter text", @id = "ucht_18", @width = "10px" })</span>
                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Absence Of Response" id="u22">
                                    <span class="custom-control-label">Absence Of Response;</span>
                                </label>
                                <span class="ms-2 mb-2"> @Html.TextBoxFor(m => m.hard_tissue_info.cht_19, new { @class = "form-control", @placeholder = "Enter text", @id = "ucht_19", @width = "10px" })</span>
                            </div>
                        </td>
                    </tr>

                    <tr>

                        <td class="text-black w-10">Occlusion</td>
                        <td class="text-black w-2">:</td>
                        <td colspan="7">
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="No Stains" id="u23">
                                    <span class="custom-control-label">No Stains</span>
                                </label>
                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Extrinsic" id="u24">
                                    <span class="custom-control-label">Extrinsic</span>
                                </label>
                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Smoking" id="u25">
                                    <span class="custom-control-label">Smoking</span>
                                </label>
                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Tea" id="u26">
                                    <span class="custom-control-label">Tea</span>
                                </label>
                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Coffee" id="u27">
                                    <span class="custom-control-label">Coffee</span>
                                </label>
                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Food Colors" id="u28">
                                    <span class="custom-control-label">Food Colors</span>
                                </label>
                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Chromogenic Bacteria" id="u29">
                                    <span class="custom-control-label">Chromogenic Bacteria</span>
                                </label>
                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Intrinsic" id="u30">
                                    <span class="custom-control-label">Intrinsic</span>
                                </label>

                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Flourosis" id="u31">
                                    <span class="custom-control-label">Flourosis</span>
                                </label>
                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Medication" id="u32">
                                    <span class="custom-control-label">Medication</span>
                                </label>
                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Trauma" id="u33">
                                    <span class="custom-control-label">Trauma</span>
                                </label>
                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Aging" id="u34">
                                    <span class="custom-control-label">Aging</span>
                                </label>
                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Haemotological Disorder" id="u35">
                                    <span class="custom-control-label">Haemotological Disorder</span>
                                </label>
                                <label class="custom-control custom-checkbox text-black ms-sm-2 md-md-2 ms-lg-2">
                                    <input type="checkbox" class="custom-control-input" name="cht_1" value="Pulpal Changes" id="u36">
                                    <span class="custom-control-label">Pulpal Changes</span>
                                </label>
                            </div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">Dental Caries&nbsp;</label>
                <div class="form-group mb-3">
                    <select class="form-control select2-show-search" multiple="multiple" id="uchtd_1">
                        <option value="Enamel">Enamel</option>
                        <option value="Dentin">Dentin</option>
                        <option value="Pulp">Pulp</option>
                        <option value="Root">Root</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">Teeth No&nbsp;</label>
                <div class="form-group mb-3">
                    <input class="form-control font-weight-semibold" placeholder="" type="text" value="0" id="chtd_2" maxlength="2" min="0" max="34" name="chtd_2" oninput="validate(this,34)">

                    @* @Html.TextBoxFor(m => m.chtd_2, new { @class = "form-control", @placeholder = "Enter Built", @id = "uchtd_2" })*@
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">Surfaces&nbsp;</label>
                <div class="form-group mb-3">
                    <select class="form-control" id="uchtd_3" multiple="multiple">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">&nbsp;</label>
                <div class="form-group mb-3">
                    <button type="submit" class="btn btn-info" id="btnSelectItem"><i class="fe fe-plus"></i> Select</button>
                </div>
            </div>
        </div>

    </div>

    <div class="row mt-2" id="ulistItems">
        <div class="col-sm-12 col-md-6 col-lg-12" p-0">
            <div class="table-responsive" style="min-height:unset;">
                <table id="dtTable_SelectItems" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr style="color: #fff !important; background-color: #3C457D; border-color: #3C457D; ">
                            <th class="border-bottom-0 font-weight-semibold text-white text-end">#</th>
                            <th class="border-bottom-0 font-weight-semibold text-white">Dental Caries</th>
                            <th class="border-bottom-0 font-weight-semibold text-white text-wrap">Teeth No</th>
                            <th class="border-bottom-0 font-weight-semibold text-white text-wrap">Surfaces</th>
                            <th class="border-bottom-0 font-weight-semibold text-white text-wrap"></th>

                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group mb-3">
                <label class="form-label text-black">Tooth mobility&nbsp;<span class="text-danger"> *</span></label>
                @Html.TextAreaFor(m => m.hard_tissue_info.cht_13, new { @class = "form-control", @placeholder = "Enter Tooth mobility", @row = "1", @id = "ucht_13" })
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group mb-3">
                <label class="form-label text-black">Additional Clinical Findings&nbsp;<span class="text-danger"> *</span></label>
                @Html.TextAreaFor(m => m.hard_tissue_info.cht_9, new { @class = "form-control", @placeholder = "Enter Findings", @row = "1", @id = "ucht_9" })
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-sm btn-warning" id="btn_Update_HardTissue">Save Changes</button>
                <button type="submit" class="btn btn-sm btn-outline-danger" id="btn_Delete_HardTissue">Delete</button>
                <button type="submit" class="btn btn-sm btn-outline-light d-none" id="btn_Print_HardTissue" onclick="PrintIntraOralHardTissue(@Model.hard_tissue_info.chtId)">
                    <i class="fa fa-print">&nbsp;&nbsp;</i>Print
                </button>
            </div>
        </div>
    </div>

</form>
<script>
    //#region Page Load
    var item_arr = [];

    var deleted_item_arr = [];
        $(function () {
            //validate();
            if ("@emp_designation.ToString()" === "Super Administrator") {
                $("#btn_Update_HardTissue,#btn_Delete_HardTissue").show();
            } else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Update_HardTissue,#btn_Delete_HardTissue").show();

                }
                else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Update_HardTissue,#btn_Delete_HardTissue").show();
                    }
                    else {
                        $("#btn_Update_HardTissue,#btn_Delete_HardTissue").hide();
                    }
                }
            }
            $('#uchtd_1').SumoSelect({
                placeholder: 'Select carie(s)',
                captionFormat: '{0} item(s) Selected',
                captionFormatAllSelected: 'All {0} items selected!',
                csvDispCount: 3,
                okCancelInMulti: true,
                isClickAwayOk: true,
                search: true,
                searchText: 'Search here...',
                selectAll: true,
                dropdownParent: $('#form_EditHardTissue'),
            });

            GetCheckedValues();
            load_Surfaces();
            item_arr = @Html.Raw(Json.Encode(Model.HardTissue_tooth_items));
            BindDataTableT(item_arr);


        });

    //#endregion Page Load
    //#region load Surfaces
      var load_Surfaces = function () {
            $('#uchtd_3').SumoSelect({
                placeholder: 'Select Surface(s)',
                captionFormat: '{0} Surface(s) Selected',
                captionFormatAllSelected: 'All {0} Surfaces selected!',
                csvDispCount: 3,
                okCancelInMulti: true,
                isClickAwayOk: true,
                search: true,
                searchText: 'Search here...',
                selectAll: true,
                dropdownParent: $('#form_EditHardTissue'),
            });



            $.ajax({
                url: '@Url.Action("GetToothSurface", "OralExamination", new { area = "EMR" })?query=',
                type: "GET",
                dataType: "JSON",
                async: false,
                success: function (response) {
                    $('#uchtd_3').html('');
                    $('#uchtd_3')[0].sumo.reload();

                    $.each(response, function (j) {
                        $('#uchtd_3')[0].sumo.add(response[j].id, response[j].text);
                            //$('#select_dept')[0].sumo.selectItem([response[j].id]);
                    });
                    $('#uchtd_3')[0].sumo.reload();
                },
                error: function (xhr) {
                    console.log("Failed to Load Branch(es)! Error Message : " + xhr.statusText);
                }
            }).done(function () {
                $('#uchtd_3')[0].sumo.reload();
            });
      }
    //#endregion load Surfaces

    //Add Treatment
    $('#btnSelectItem').on('click', function (e) {
        e.preventDefault();
        if ($("#uchtd_2").val()!="") {
            var exists = false;

            if (item_arr.length > 0) {
                exists = item_arr.some(function (check) {
                    return check.chtd_2 === $("#uchtd_2").val();
                });
            }

            if (exists) {
                var data = $("#hi_pt_tr_name").val();
                data = (data.length >= 75) ? (data.substring(0, 75) + "...") : data;

                Swal.fire({
                    title: "Item Exists!",
                    html: + "<strong style='color:red;'>" + data + "</strong>.<br/> is Already Exists in list Please remove existing one and add again.",
                    icon: "warning",
                    showCancelButton: 0,
                    confirmButtonText: 'OK',
                    confirmButtonClass: "btn btn-success mt-2",
                    buttonsStyling: !1
                })
            }
            else {
                $("#ulistItems").show();
                bindTreatment();
                clearData();
            }
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //BindTreatment
    var bindTreatment = function () {

        var data = {
            "chtdId": $("#uchtd_2").val(),
            "pt_mode": "create",
            "chtd_appId": @emr.appId,
            "chtd_1": $("#uchtd_1").val().toString(),
            "chtd_2": $("#uchtd_2").val(),
            "chtd_3": $("#uchtd_3 option:selected").text(),
        }

        item_arr.push(data);

        GetToothItems(item_arr);

        $("#btn_Insert_HardTissue").show();
    }
    //Load Tooth Items
        var GetToothItems = function (response) {
            if (response != null && response != undefined) {
                var table;
                console.log(response);
                if ($.fn.dataTable.isDataTable('#dtTable_SelectItems')) {
                    table = $('#dtTable_SelectItems').DataTable();
                    table.clear();
                    table.rows.add(response).draw();

                }
                else {
                    BindDataTableT(response);
                }
            }
        }
     //Bind Treatment DataTable
    var BindDataTableT = function (response) {


        var numberRenderer1 = $.fn.dataTable.render.number(',', '.', 2,).display;

        var table = $("#dtTable_SelectItems").DataTable({
            processing: true,
            paging: false,
            ordering: false,
            info: false,
            "searching": false,
            "retrieve": true,
            lengthChange: false,
            "aaData": response,
            "aoColumns": [
                { "mData": "chtdId" },
                { "mData": "chtd_1" },
                { "mData": "chtd_2" },
                { "mData": "chtd_3" },
                { "mData": "chtdId" },
            ],
            "aoColumnDefs": [
                {
                    "aTargets": [0],
                    "className": "fs-13 text-start",
                    "orderable": false,
                    "searchable": false,
                    "render": function (data, type, row, meta) {
                        let _index = (meta.row) + 1;
                        if (_index >= 10) {
                            return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>" + _index + "</a>";
                        }
                        else {
                            return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>0" + _index + "</a>";
                        }
                    }
                },
                {
                    "aTargets": [1],
                    "className": "fs-13 text-start",
                },
                {
                    "aTargets": [2],
                    "className": "fs-13 text-center",
                },
                {
                    "aTargets": [3],
                    "className": "fs-13 text-start",
                },
                {
                    "aTargets": [4],
                    "className": "fs-13 text-center dt-delete",
                    "render": function (data) {
                        var html = "<i class='fe fe-trash text-danger curpointer' id='remove-item' style='font-size: 15px;'></i>";
                        return html;
                    }
                },

            ],
            scrollX: true,
            scrollY: 500,
            scrollCollapse: true,
            fixedColumns: true,
            fixedHeader: {
                header: true,
                footer: true
            },

        });
        table.buttons().container()
            .appendTo('#dtTable_SelectItems_wrapper .col-md-6:eq(0)');



        // Remove Items From DataTable
        table.on('click', '#remove-item', function (e) {
            var row = $(this).parents('tr');
            var data_row = table.row($(this).closest('tr')).data();
            console.log(data_row.chtdId)

            Swal.fire({
                title: "Are you sure you want to remove this Treatments From List?",
                text: "This action will remove this Treatment from Selection!",
                icon: "question",
                showCancelButton: !0,
                confirmButtonText: 'Yes! I Confirm',
                cancelButtonText: 'No! Cancel Please',
                confirmButtonClass: "btn btn-success mt-2",
                cancelButtonClass: "btn btn-danger ms-2 mt-2",
                buttonsStyling: !1
            }).then(function (t) {
                if (t.value) {

                    var mode_data = item_arr.find(e => e.chtdId === data_row.chtdId);
                    var mode = mode_data["pt_mode"];
                   
                    if (mode === "edit") {
                        deleted_item_arr.push(data_row.chtdId);
                        console.log(data_row.chtdId);
                    }
                    if (deleted_item_arr.length > 0) {
                        $.ajax({
                            url: '@Url.Action("DeleteHardTissueTooth", "OralExamination", new { area = "EMR" })?data=' + deleted_item_arr.toString(),
                            type: "POST",
                            dataType: "json",
                            async: false,
                            success: function (data) {

                            },
                            error: function (xhr) {
                                console.log(xhr);
                                alert(xhr);
                            }
                        });
                    }

                    item_arr = $.grep(item_arr, function (n, i) {
                        return (n.chtdId !== data_row.chtdId);
                    });


                    if ($(row).hasClass('child')) {
                        table.row($(row).prev('tr')).remove().draw();
                    } else {
                        table.row(row).remove().draw();
                    }


                    Swal.fire({
                        title: "Success!",
                        text: "Treatment Removed Successfully!",
                        icon: "success",
                        showCancelButton: 0,
                        confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60"
                    });


                }
            });
        });

        resizedt();
    }
        //#region Get CheckedValues
    var GetCheckedValues = function () {
        var cht_1_ = "@Model.hard_tissue_info.cht_1";
        if (cht_1_ !== "") {
            var ucht_1_ = $("input[name='cht_1'][value='" + "@Model.hard_tissue_info.cht_1" + "']").attr("id");
            $("#" + ucht_1_).attr('checked', 'checked');
            $("#" + ucht_1_).prop("checked", true);
        }
        var cht_2_ = "@Model.hard_tissue_info.cht_2";
        if (cht_2_ !== "") {
            var ucht_2_ = $("input[name='cht_2'][value='" + "@Model.hard_tissue_info.cht_2" + "']").attr("id");
            $("#" + ucht_2_).attr('checked', 'checked');
            $("#" + ucht_2_).prop("checked", true);
        }

        var cht_3_ = "@Model.hard_tissue_info.cht_3";
        if (cht_3_ !== "") {
            var ucht_3_ = $("input[name='cht_3'][value='" + "@Model.hard_tissue_info.cht_3" + "']").attr("id");
            $("#" + ucht_3_).attr('checked', 'checked');
            $("#" + ucht_3_).prop("checked", true);
        }
         var cht_4_ = "@Model.hard_tissue_info.cht_4";
        if (cht_4_ !== "") {
            var ucht_4_ = $("input[name='cht_4'][value='" + "@Model.hard_tissue_info.cht_4" + "']").attr("id");
            $("#" + ucht_4_).attr('checked', 'checked');
            $("#" + ucht_4_).prop("checked", true);
        }
        var cht_5_ = "@Model.hard_tissue_info.cht_5";
        if (cht_5_ !== "") {
            var ucht_5_ = $("input[name='cht_5'][value='" + "@Model.hard_tissue_info.cht_5" + "']").attr("id");
            $("#" + ucht_5_).attr('checked', 'checked');
            $("#" + ucht_5_).prop("checked", true);
        }
        var cht_6_ = "@Model.hard_tissue_info.cht_6";
        if (cht_6_ !== "") {
            var ucht_6_ = $("input[name='cht_6'][value='" + "@Model.hard_tissue_info.cht_6" + "']").attr("id");
            $("#" + ucht_6_).attr('checked', 'checked');
            $("#" + ucht_6_).prop("checked", true);
        }
         var cht_7_ = "@Model.hard_tissue_info.cht_7";
        if (cht_7_ !== "") {
            var ucht_7_ = $("input[name='cht_7'][value='" + "@Model.hard_tissue_info.cht_7" + "']").attr("id");
            $("#" + ucht_7_).attr('checked', 'checked');
            $("#" + ucht_7_).prop("checked", true);
        }
        var cht_8_ = "@Model.hard_tissue_info.cht_8";
        if (cht_8_ !== "") {
            var ucht_8_ = $("input[name='cht_8'][value='" + "@Model.hard_tissue_info.cht_8" + "']").attr("id");
            $("#" + ucht_8_).attr('checked', 'checked');
            $("#" + ucht_8_).prop("checked", true);
        }

        var data = "@Model.hard_tissue_info.cht_1";
        console.log(data)
        if (data !== null) {
            var x = data.split(",");

            if (x != "") {
                console.log(x);
            var ucht_8_ = $("input[name='cht_1'][value='" + x + "']").attr("id");
            $("#" + ucht_8_).attr('checked', 'checked');
            $("#" + ucht_8_).prop("checked", true);

            }
        }

    }
    //#endregion Get CheckedValues

      //#region Update  Button Click
        $('#btn_Update_HardTissue').on('click', function (e) {
             e.preventDefault();
            if ($("#form_EditHardTissue").valid()) {
                $('#btn_Update_HardTissue').removeClass("btn btn-success");
                $('#btn_Update_HardTissue').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Update_HardTissue').html("Updating the Record....");
               var _hard_tissue_info = {
                    "chtId": 0,
                    "cht_appId": @emr.appId,
                    "cht_1": $("input[name='ucht_1']:checked").val(),
                    "cht_2": $("input[name='ucht_2']:checked").val(),
                    "cht_3": $("input[name='ucht_3']:checked").val(),
                    "cht_4": $("input[name='ucht_4']:checked").val(),
                    "cht_5": $("input[name='ucht_5']:checked").val(),
                    "cht_6": $("input[name='ucht_6']:checked").val(),
                    "cht_7": $("input[name='ucht_7']:checked").val(),
                    "cht_8": $("input[name='ucht_8']:checked").val(),
                    "cht_9": $("#ucht_9").val(),
                    "cht_10": $("#ucht_10").val(),
                    "cht_11": $("#ucht_11").val(),
                    "cht_12": $("#ucht_12").val(),
                    "cht_13": $("#ucht_13").val(),
                    "cht_14": $("#ucht_14").val(),
                    "cht_15": $("#ucht_15").val(),
                    "cht_16": $("#ucht_16").val(),
                    "cht_17": $("#ucht_17").val(),
                    "cht_18": $("#ucht_18").val(),
                }
                var _dataInsert = {
                    hard_tissue_info: _hard_tissue_info,
                    HardTissue_tooth_items: item_arr,
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateIntraOralHardTissue", "OralExamination", new { area = "EMR" })",
                    dataType: 'JSON',
                    data: _dataInsert,
                    success: function (data) {
                        $('#pasthis_edit').hide();
                        $('#btn_Update_HardTissue').removeClass("btn btn-warning btn-loaders btn-icon");
                        $('#btn_Update_HardTissue').addClass("btn btn-warning");
                        $('#btn_Update_HardTissue').html("Save Changes");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Intra Oral HardTissue Updated Successfully!", "success");
                                Timeout();
                                GetIntraOralHardTissue();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. Intra Oral HardTissue Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Update_HardTissue').removeClass("btn btn-warning btn-loaders btn-icon");
                        $('#btn_Update_HardTissue').addClass("btn btn-warning");
                        $('#btn_Update_HardTissue').html("Save Changes");
                        Timeout();
                    }
                });
            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion Update  Button Click

      //#region Delete Click
        $('#btn_Delete_HardTissue').on('click', function (e) {
            e.preventDefault();
            $('#btn_Delete_HardTissue').removeClass("btn btn-sm btn-success");
            $('#btn_Delete_HardTissue').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Delete_HardTissue').html("Deleting the Record....");

                $.ajax({
                    url: '@Url.Action("DeleteIntraOralHardTissue", "OralExamination", new { area = "EMR" })?chtId=' + @Model.hard_tissue_info.chtId,
                    type: "POST",
                    dataType: 'JSON',
                    success: function (data) {
                        $('#btn_Delete_HardTissue').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                        $('#btn_Delete_HardTissue').addClass("btn btn-sm btn-warning");
                        $('#btn_Delete_HardTissue').html("Delete");
                        if (data.isAuthorized) {
                            if (data.success) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Intra Oral HardTissue Deleted Successfully!", "success");
                                clearControls();
                                GetIntraOralHardTissue();
                                GetPreviousIntraOralHardTissue();
                                Timeout();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Error!.. Failed to Delete..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this !", "Access Denied!");
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Delete_HardTissue').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                        $('#btn_Delete_HardTissue').addClass("btn btn-sm btn-Delete");
                        $('#btn_Delete_HardTissue').html("Delete");
                        Timeout();
                    }
                })
        });
    //#endregion Delete Click

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".custom-control-input").prop("checked", false);
    }
    //#endregion Clear Controls
</script>