@model BusinessEntities.EMR.ExtraOralExam
@{
    ViewBag.Title = "Print Invoice";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" onclick="printDiv('printDiv')" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>
<div class="row" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-center">
                    <img src="@Model.set_header_image" />
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div>
                            <h4 class="page-title mb-0 text-primary">
                                Extra Oral Examination
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-1">
                            <div class="form-group">
                                <label class="form-label">
                                    Facial Symmetry&nbsp;
                                </label>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="1" id="u1">
                                        <span class="custom-control-label">Symmetrical</span>
                                    </label>
                                </div>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="2" id="u2">
                                        <span class="custom-control-label">Asymmetrical</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-1">
                            <div class="form-group">
                                <label class="form-label">
                                    Facial Profile&nbsp;
                                </label>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="3" id="u3">
                                        <span class="custom-control-label">Straight</span>
                                    </label>
                                </div>

                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="4" id="u4">
                                        <span class="custom-control-label">Convex</span>
                                    </label>
                                </div>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="5" id="u5">
                                        <span class="custom-control-label">Concave</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="form-group">
                                <label class="form-label">
                                    Lymphadenopathy&nbsp;
                                </label>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="6" id="u6">
                                        <span class="custom-control-label">Negative</span>
                                    </label>
                                </div>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="7" id="u7">
                                        <span class="custom-control-label">Positive</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-1">
                            <div class="form-group">
                                <label class="form-label">Breathing&nbsp;</label>

                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="8" id="u8">
                                        <span class="custom-control-label">Nose</span>
                                    </label>
                                </div>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="9" id="u9">
                                        <span class="custom-control-label">Mouth</span>
                                    </label>
                                </div>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="10" id="u10">
                                        <span class="custom-control-label">Both</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-1">
                            <div class="form-group">
                                <label class="form-label">TMJ&nbsp;</label>

                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="11" id="u11">
                                        <span class="custom-control-label">Normal</span>
                                    </label>
                                </div>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="12" id="u12">
                                        <span class="custom-control-label">Clicking</span>
                                    </label>
                                </div>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="13" id="u13">
                                        <span class="custom-control-label">Plan</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-1">
                            <div class="form-group">
                                <label class="form-label">Mandibular&nbsp;</label>

                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="14" id="u14">
                                        <span class="custom-control-label">Normal</span>
                                    </label>
                                </div>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="15" id="u15">
                                        <span class="custom-control-label">Deviation</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-1">
                            <div class="form-group">
                                <label class="form-label">Oral Hygiene&nbsp;</label>

                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="16" id="u16">
                                        <span class="custom-control-label">Good</span>
                                    </label>
                                </div>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="17" id="u17">
                                        <span class="custom-control-label">Fair</span>
                                    </label>
                                </div>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="18" id="u18">
                                        <span class="custom-control-label">Poor</span>
                                    </label>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="form-group">
                                <label class="form-label">
                                    Growth & Development&nbsp;
                                </label>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="19" id="u19">
                                        <span class="custom-control-label">Primary</span>
                                    </label>
                                </div>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="20" id="u20">
                                        <span class="custom-control-label">Early Mixed</span>
                                    </label>
                                </div>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="21" id="u21">
                                        <span class="custom-control-label">Mixed</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-1">
                            <div class="form-group">
                                <label class="form-label" style="margin-bottom: 44px !important;">

                                </label>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="22" id="u22">
                                        <span class="custom-control-label">Late Mixed</span>
                                    </label>
                                </div>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="23" id="u23">
                                        <span class="custom-control-label">Permanent</span>
                                    </label>
                                </div>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="24" id="u24">
                                        <span class="custom-control-label">Mixed</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="form-group">
                                <label class="form-label">
                                    Midline
                                </label>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="25" id="u25">
                                        <span class="custom-control-label">Even</span>
                                    </label>
                                </div>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="26" id="u26">
                                        <span class="custom-control-label">Shift to R Upper</span>
                                    </label>
                                </div>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="27" id="u27">
                                        <span class="custom-control-label">Shift to R Lower</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="form-group">
                                <label class="form-label" style="margin-bottom: 44px !important;">

                                </label>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="28" id="u28">
                                        <span class="custom-control-label">Shift to L Upper</span>
                                    </label>
                                </div>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="29" id="u29">
                                        <span class="custom-control-label">Shift to L Lower</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="form-group">
                                <label class="form-label">
                                    Crossbite
                                </label>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="30" id="u30">
                                        <span class="custom-control-label">None</span>
                                    </label>
                                </div>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="31" id="u31">
                                        <span class="custom-control-label">Present</span>
                                    </label>
                                    <label class="form-label text-black text-left">@Model.ceo_9&nbsp;</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-1">
                            <div class="form-group">
                                <label class="form-label">
                                    Trauma
                                </label>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="32" id="u32">
                                        <span class="custom-control-label">None</span>
                                    </label>
                                </div>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="33" id="u33">
                                        <span class="custom-control-label">Yes (teeth Involved)</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="form-group">
                                <label class="form-label" style="margin-bottom: 44px !important;">

                                </label>

                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="form-label text-black text-left">@Model.ceo_10&nbsp;</label>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="form-group">
                                <label class="form-label">
                                    Arc Length
                                </label>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="34" id="u34">
                                        <span class="custom-control-label">Primary Insicor Spacing</span>
                                    </label>
                                </div>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="35" id="u35">
                                        <span class="custom-control-label">Crowding</span>
                                    </label>
                                    <label class="form-label text-black text-left">@Model.ceo_3&nbsp;</label>
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="form-group">
                                <label class="form-label" style="margin-bottom: 44px !important;">

                                </label>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="36" id="u36">
                                        <span class="custom-control-label">Space Loss</span>
                                    </label>
                                </div>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="37" id="u37">
                                        <span class="custom-control-label">Appliance in use</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="form-group">
                                <label class="form-label" style="margin-bottom: 44px !important;">

                                </label>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="form-label text-black text-left">@Model.ceo_4&nbsp;</label>
                                </div>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="form-label text-black text-left">@Model.ceo_5&nbsp;</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="form-group">
                                <label class="form-label" style="margin-bottom: 44px !important;">

                                </label>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="38" id="u38">
                                        <span class="custom-control-label">Overjet </span>
                                    </label>
                                    <label class="form-label text-black text-left">@Model.ceo_6&nbsp;</label>
                                </div>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="39" id="u39">
                                        <span class="custom-control-label">Overbite</span>
                                    </label>
                                    <label class="form-label text-black text-left">@Model.ceo_7&nbsp;</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-2">
                            <div class="form-group">
                                <label class="form-label" style="margin-bottom: 44px !important;">

                                </label>
                                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                        <input type="checkbox" class="custom-control-input" name="ceo_11" value="40" id="u40">
                                        <span class="custom-control-label">Openbite </span>
                                    </label>
                                    <label class="form-label text-black text-left">@Model.ceo_8&nbsp;</label>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group mb-3">
                                <label class="form-label text-black">Oral habits&nbsp;</label>
                                <label class="form-label text-black text-left">@Model.ceo_1&nbsp;</label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group mb-3">
                                <label class="form-label text-black">Soft tissue lesions&nbsp;</label>
                                <label class="form-label text-black text-left">@Model.ceo_2&nbsp;</label>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-12">
                            <div class="form-group mb-3">
                                <label class="form-label text-black">Oral notes&nbsp;</label>
                                <label class="form-label text-black text-left">@Model.ceo_12&nbsp;</label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="text-center">
                    <img src="@Model.set_footer_image" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
     //#region Page Load
        $(function () {
           
            var checknames = "@Model.ceo_11";
            if (checknames !== "") {
                GetCheckedValues(checknames);
            } else {
                // Handle the case when pretemp6 is null or empty
            }
        });

    //#endregion Page Load
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
    //#region Get CheckedValues
    var GetCheckedValues = function (checknames) {
        var data = checknames;
        if (checknames !== null) {
            var x = data.split(",");

            if (x != "") {
                if (x.includes("1")) {
                    $('#u1').attr('checked', 'checked');
                    $("#u1").prop("checked", true);
                }
                if (x.includes("2")) {
                    $('#u2').attr('checked', 'checked');
                    $("#u2").prop("checked", true);
                }
                if (x.includes("3")) {
                    $('#u3').attr('checked', 'checked');
                    $("#u3").prop("checked", true);
                }
                if (x.includes("4")) {
                    $('#u4').attr('checked', 'checked');
                    $("#u4").prop("checked", true);
                }
                if (x.includes("5")) {
                    $('#u5').attr('checked', 'checked');
                    $("#u5").prop("checked", true);
                }
                if (x.includes("6")) {
                    $('#u6').attr('checked', 'checked');
                    $("#u6").prop("checked", true);
                }
                if (x.includes("7")) {
                    $('#u7').attr('checked', 'checked');
                    $("#u7").prop("checked", true);
                }
                if (x.includes("8")) {
                    $('#u8').attr('checked', 'checked');
                    $("#u8").prop("checked", true);
                }
                if (x.includes("9")) {
                    $('#u9').attr('checked', 'checked');
                    $("#u9").prop("checked", true);
                }
                if (x.includes("10")) {
                    $('#u10').attr('checked', 'checked');
                    $("#u10").prop("checked", true);
                }
                if (x.includes("11")) {
                    $('#u11').attr('checked', 'checked');
                    $("#u11").prop("checked", true);
                }
                if (x.includes("12")) {
                    $('#u12').attr('checked', 'checked');
                    $("#u12").prop("checked", true);
                }
                if (x.includes("13")) {
                    $('#u13').attr('checked', 'checked');
                    $("#u13").prop("checked", true);
                }
                if (x.includes("14")) {
                    $('#u14').attr('checked', 'checked');
                    $("#u14").prop("checked", true);
                }
                if (x.includes("15")) {
                    $('#u15').attr('checked', 'checked');
                    $("#u15").prop("checked", true);
                }
                if (x.includes("16")) {
                    $('#u16').attr('checked', 'checked');
                    $("#u16").prop("checked", true);
                }
                if (x.includes("17")) {
                    $('#u17').attr('checked', 'checked');
                    $("#u17").prop("checked", true);
                }
                if (x.includes("18")) {
                    $('#u18').attr('checked', 'checked');
                    $("#u18").prop("checked", true);
                }
                if (x.includes("19")) {
                    $('#u19').attr('checked', 'checked');
                    $("#u19").prop("checked", true);
                }
                if (x.includes("20")) {
                    $('#u20').attr('checked', 'checked');
                    $("#u20").prop("checked", true);
                }
                if (x.includes("21")) {
                    $('#u21').attr('checked', 'checked');
                    $("#u21").prop("checked", true);
                }
                if (x.includes("22")) {
                    $('#u22').attr('checked', 'checked');
                    $("#u22").prop("checked", true);
                }
                if (x.includes("23")) {
                    $('#u23').attr('checked', 'checked');
                    $("#u23").prop("checked", true);
                }
                if (x.includes("24")) {
                    $('#u24').attr('checked', 'checked');
                    $("#u24").prop("checked", true);
                }
                if (x.includes("25")) {
                    $('#u25').attr('checked', 'checked');
                    $("#u25").prop("checked", true);
                }
                if (x.includes("26")) {
                    $('#u26').attr('checked', 'checked');
                    $("#u26").prop("checked", true);
                }
                if (x.includes("27")) {
                    $('#u27').attr('checked', 'checked');
                    $("#u27").prop("checked", true);
                }
                if (x.includes("28")) {
                    $('#u28').attr('checked', 'checked');
                    $("#u28").prop("checked", true);
                }
                if (x.includes("29")) {
                    $('#u29').attr('checked', 'checked');
                    $("#u29").prop("checked", true);
                }
                if (x.includes("30")) {
                    $('#u30').attr('checked', 'checked');
                    $("#u30").prop("checked", true);
                }
                if (x.includes("31")) {
                    $('#u31').attr('checked', 'checked');
                    $("#u31").prop("checked", true);
                }
                if (x.includes("32")) {
                    $('#u32').attr('checked', 'checked');
                    $("#u32").prop("checked", true);
                }
                if (x.includes("33")) {
                    $('#u33').attr('checked', 'checked');
                    $("#u33").prop("checked", true);
                }
                if (x.includes("34")) {
                    $('#u34').attr('checked', 'checked');
                    $("#u34").prop("checked", true);
                }
                if (x.includes("35")) {
                    $('#u35').attr('checked', 'checked');
                    $("#u35").prop("checked", true);
                }
                if (x.includes("36")) {
                    $('#u36').attr('checked', 'checked');
                    $("#u36").prop("checked", true);
                }
                if (x.includes("37")) {
                    $('#u37').attr('checked', 'checked');
                    $("#u37").prop("checked", true);
                }
                if (x.includes("38")) {
                    $('#u38').attr('checked', 'checked');
                    $("#u38").prop("checked", true);
                }
                if (x.includes("39")) {
                    $('#u39').attr('checked', 'checked');
                    $("#u39").prop("checked", true);
                }
                if (x.includes("40")) {
                    $('#u40').attr('checked', 'checked');
                    $("#u40").prop("checked", true);
                }

            }
        }
    }
    //#endregion Get CheckedValues
</script>