@model BusinessEntities.EMR.IntraOralSoftTissue
@{
    ViewBag.Title = "Print Intra Oral SoftTissue";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" onclick="printDiv('printDiv')" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>
<div class="row" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-center">
                    <img src="@Model.set_header_image" />
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div>
                            <h4 class="page-title mb-0 text-primary">
                                Intra Oral Soft Tissue
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="row " style=" border:1px solid black;">

                    <div class="col-sm-12 col-md-6 col-lg-12">
                        <div class="form-group mt-2 ">
                            <label class="form-label">
                                Gingiva&nbsp;
                            </label>
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-6 col-lg-3 " style=" border-top:1px solid black;">
                        <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                            <label class="form-label ">
                                Color&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-9">
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input text-black" name="ucst_1" value="Coral Pink" id="1">
                                    <span class="custom-control-label">Coral Pink</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_1" value="Red" id="2">
                                    <span class="custom-control-label">Red</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_1" value="Pale" id="3">
                                    <span class="custom-control-label">Pale</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_1" value="Black" id="4">
                                    <span class="custom-control-label">Black</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-6 col-lg-6 " style=" border-top:1px solid black;">
                        <div class="col-sm-11 col-md-6 col-lg-2 mt-2">
                            <label class="form-label ">
                                Consistancy&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-10">
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_2" value="Firm and resilient" id="5">
                                    <span class="custom-control-label">Firm and resilient</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_2" value="Diffuse Puffiness and Softening" id="6">
                                    <span class="custom-control-label">Diffuse Puffiness and Softening</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_2" value="Soggy Puffiness that pits On Pressure" id="7">
                                    <span class="custom-control-label">Soggy Puffiness that pits On Pressure</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-6 col-lg-3 " style=" border-top:1px solid black;">
                        <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                            <label class="form-label ">
                                Size&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-9">
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_3" value="Normal" id="8">
                                    <span class="custom-control-label">Normal</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_3" value="Altered" id="9">
                                    <span class="custom-control-label">Altered</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex col-sm-12 col-md-6 col-lg-3 " style=" border-top:1px solid black;">
                        <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                            <label class="form-label ">
                                Texture&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-9">
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_5" value="Stippled,transulent appearance(Normal)" id="10">
                                    <span class="custom-control-label">Stippled,transulent appearance(Normal)</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_5" value="Loss Of Stiplling" id="11">
                                    <span class="custom-control-label">Loss Of Stiplling</span>
                                </label>

                            </div>
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-6 col-lg-6 " style=" border-top:1px solid black;">
                        <div class="col-sm-11 col-md-6 col-lg-2 mt-2">
                            <label class="form-label ">
                                Contour&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-10">
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_4" value="Scalloped and Knife Edge Margin(Normal)" id="12">
                                    <span class="custom-control-label">Scalloped and Knife Edge Margin(Normal)</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_4" value="Alternation in Contour" id="13">
                                    <span class="custom-control-label">Alternation in Contour</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-6 col-lg-3 " style=" border-top:1px solid black;">
                        <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                            <label class="form-label ">
                                Position&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-9">
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_6" value="Normal" id="14">
                                    <span class="custom-control-label">Normal</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_6" value="Gingival Recession" id="15">
                                    <span class="custom-control-label">Gingival Recession</span>
                                </label>

                            </div>
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-6 col-lg-6 " style=" border-top:1px solid black;">
                        <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                            <label class="form-label ">
                                Palpation&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-9">
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_8" value="Non Tender" id="16">
                                    <span class="custom-control-label">Non Tender</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_8" value="Tender" id="17">
                                    <span class="custom-control-label">Tender</span>
                                </label>
                                <span class="ms-2 mb-2">
                                    <label class="form-label text-black text-left">@Model.cst_22&nbsp;</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-6 col-lg-6 " style=" border-top:1px solid black;">
                        <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                            <label class="form-label ">
                                Bleeding&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-9">
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_7" value="No Bleeding" id="18">
                                    <span class="custom-control-label">No Bleeding</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_7" value="Bleed Spontaneously" id="19">
                                    <span class="custom-control-label">Bleed Spontaneously</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_7" value="Bleed on probing or palpation" id="20">
                                    <span class="custom-control-label">Bleed on probing or palpation</span>
                                </label>

                            </div>
                        </div>
                    </div>

                    <div class="d-flex col-sm-12 col-md-6 col-lg-6 " style=" border-top:1px solid black;">
                        <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                            <label class="form-label ">
                                Periodontal pocket&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-9">
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_9" value="Absent" id="21">
                                    <span class="custom-control-label">Absent</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_9" value="Probing reveals deepening of gingival sulcus" id="22">
                                    <span class="custom-control-label">Probing reveals deepening of gingival sulcus</span>
                                </label>

                            </div>
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-6 col-lg-6 " style=" border-top:1px solid black;">
                        <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                            <label class="form-label ">
                                Buccal mucosa&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-9">
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_10" value="Normal,Deep Pink Color" id="23">
                                    <span class="custom-control-label">Normal,Deep Pink Color</span>
                                </label>
                                <span class="ms-2 mb-2"><label class="form-label text-black text-left">@Model.cst_23&nbsp;</label> </span>

                            </div>
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-6 col-lg-6 " style=" border-top:1px solid black;">
                        <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                            <label class="form-label ">
                                Floor Of Mouth&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-9">
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_11" value="No relevant abnormal findings" id="24">
                                    <span class="custom-control-label">No relevant abnormal findings</span>
                                </label>
                                <span class="ms-2 mb-2"> <label class="form-label text-black text-left">@Model.cst_24&nbsp;</label> </span>

                            </div>
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-6 col-lg-6 " style=" border-top:1px solid black;">
                        <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                            <label class="form-label ">
                                Labial & buccal vestibule&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-9">
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_12" value="No Swellings,Ulcers,Obliteration" id="25">
                                    <span class="custom-control-label">No Swellings,Ulcers,Obliteration</span>
                                </label>
                                <span class="ms-2 mb-2"><label class="form-label text-black text-left">@Model.cst_25&nbsp;</label> </span>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style=" border:1px solid black;">
                    <div class="col-sm-12 col-md-6 col-lg-12">
                        <div class="form-group mt-2">
                            <label class="form-label">
                                Tongue&nbsp;
                            </label>
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-6 col-lg-3 " style=" border-top:1px solid black;">
                        <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                            <label class="form-label ">
                                Size&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-9">
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_13" value="Normal" id="26">
                                    <span class="custom-control-label">Normal</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_13" value="Altered" id="27">
                                    <span class="custom-control-label">Altered</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_13" value="Enlarged" id="28">
                                    <span class="custom-control-label">Enlarged</span>
                                </label>

                            </div>
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-6 col-lg-4 " style=" border-top:1px solid black;">
                        <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                            <label class="form-label ">
                                Activity&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-9">
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_14" value="Normal" id="29">
                                    <span class="custom-control-label">Normal</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_14" value="Tongue Thrusting" id="30">
                                    <span class="custom-control-label">Tongue Thrusting</span>
                                </label>

                            </div>
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-6 col-lg-5 " style=" border-top:1px solid black;">
                        <div class="col-sm-11 col-md-6 col-lg-4 mt-2">
                            <label class="form-label ">
                                Lesions&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-8">
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_15" value="No lesions" id="31">
                                    <span class="custom-control-label">No lesions</span>
                                </label>
                                <span class="ms-2 mb-2"> <label class="form-label text-black text-left">@Model.cst_26&nbsp;</label>  </span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-6 col-lg-3 " style=" border-top:1px solid black;">
                        <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                            <label class="form-label ">
                                Lips&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-9">
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_16" value="Normal" id="32">
                                    <span class="custom-control-label">Normal</span>
                                </label>
                                <span class="ms-2 mb-2"> <label class="form-label text-black text-left">@Model.cst_27&nbsp;</label>  </span>

                            </div>
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-6 col-lg-4 " style=" border-top:1px solid black;">
                        <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                            <label class="form-label ">
                                Frenum&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-9">
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_18" value="Normal" id="33">
                                    <span class="custom-control-label">Normal</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_18" value="AbNormal" id="34">
                                    <span class="custom-control-label">AbNormal</span>
                                </label>
                                <span class="ms-2 mb-2"> <label class="form-label text-black text-left">@Model.cst_29&nbsp;</label>  </span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-6 col-lg-5 " style=" border-top:1px solid black;">
                        <div class="col-sm-11 col-md-6 col-lg-4 mt-2">
                            <label class="form-label ">
                                Hard and Soft palate&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-8">
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_17" value="Normal" id="35">
                                    <span class="custom-control-label">Normal</span>
                                </label>
                                <span class="ms-2 mb-2"><label class="form-label text-black text-left">@Model.cst_28&nbsp;</label>  </span>

                            </div>
                        </div>
                    </div>



                    <div class="d-flex col-sm-12 col-md-6 col-lg-3 " style=" border-top:1px solid black;">
                        <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                            <label class="form-label ">
                                Breathing&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-9">
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_20" value="Oral" id="36">
                                    <span class="custom-control-label">Oral</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_20" value="Nasal" id="37">
                                    <span class="custom-control-label">Nasal</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_20" value="Oral-Nasal" id="38">
                                    <span class="custom-control-label">Oral-Nasal</span>
                                </label>

                            </div>
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-6 col-lg-4 " style=" border-top:1px solid black;">
                        <div class="col-sm-11 col-md-6 col-lg-3 mt-2">
                            <label class="form-label ">
                                Alveolar ridge&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-9">
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_21" value="Normal" id="39">
                                    <span class="custom-control-label">Normal</span>
                                </label>

                                <span class="ms-2 mb-2"><label class="form-label text-black text-left">@Model.cst_31&nbsp;</label>  </span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-6 col-lg-5 " style=" border-top:1px solid black;">
                        <div class="col-sm-11 col-md-6 col-lg-4 mt-2">
                            <label class="form-label ">
                                Tonsils and Adenoids&nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-8">
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left mt-2">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input"  disabled name="ucst_19" value="Normal" id="40">
                                    <span class="custom-control-label">Normal</span>
                                </label>
                                <span class="ms-2 mb-2"><label class="form-label text-black text-left">@Model.cst_30&nbsp;</label>  </span>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="row mt-2" >
                    <div class="col-sm-12 col-md-6 col-lg-12">
                        <div class="form-group mb-3">
                            <label class="form-label text-black">Additional Clinical Findings&nbsp;<span class="text-danger"> *</span></label>
                            <label class="form-label text-black text-left">@Model.cst_32&nbsp;</label> 
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <img src="@Model.set_footer_image" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
     //#region Page Load
        $(function () {

            GetCheckedValues();
            
        });

    //#endregion Page Load
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }

      //#region Get CheckedValues
    var GetCheckedValues = function () {
        var cst_1_ = "@Model.cst_1";
        if (cst_1_ !== "") {
            var ucst_1_ = $("input[name='ucst_1'][value='" + "@Model.cst_1" + "']").attr("id");
            $("#" + ucst_1_).attr('checked', 'checked');
            $("#" + ucst_1_).prop("checked", true);
        }
        var cst_2_ = "@Model.cst_2";
        if (cst_2_ !== "") {
            var ucst_2_ = $("input[name='ucst_2'][value='" + "@Model.cst_2" + "']").attr("id");
            $("#" + ucst_2_).attr('checked', 'checked');
            $("#" + ucst_2_).prop("checked", true);
        }

        var cst_3_ = "@Model.cst_3";
        if (cst_3_ !== "") {
            var ucst_3_ = $("input[name='ucst_3'][value='" + "@Model.cst_3" + "']").attr("id");
            $("#" + ucst_3_).attr('checked', 'checked');
            $("#" + ucst_3_).prop("checked", true);
        }
         var cst_4_ = "@Model.cst_4";
        if (cst_4_ !== "") {
            var ucst_4_ = $("input[name='ucst_4'][value='" + "@Model.cst_4" + "']").attr("id");
            $("#" + ucst_4_).attr('checked', 'checked');
            $("#" + ucst_4_).prop("checked", true);
        }
        var cst_5_ = "@Model.cst_5";
        if (cst_5_ !== "") {
            var ucst_5_ = $("input[name='ucst_5'][value='" + "@Model.cst_5" + "']").attr("id");
            $("#" + ucst_5_).attr('checked', 'checked');
            $("#" + ucst_5_).prop("checked", true);
        }
        var cst_6_ = "@Model.cst_6";
        if (cst_6_ !== "") {
            var ucst_6_ = $("input[name='ucst_6'][value='" + "@Model.cst_6" + "']").attr("id");
            $("#" + ucst_6_).attr('checked', 'checked');
            $("#" + ucst_6_).prop("checked", true);
        }
         var cst_7_ = "@Model.cst_7";
        if (cst_7_ !== "") {
            var ucst_7_ = $("input[name='ucst_7'][value='" + "@Model.cst_7" + "']").attr("id");
            $("#" + ucst_7_).attr('checked', 'checked');
            $("#" + ucst_7_).prop("checked", true);
        }
        var cst_8_ = "@Model.cst_8";
        if (cst_8_ !== "") {
            var ucst_8_ = $("input[name='ucst_8'][value='" + "@Model.cst_8" + "']").attr("id");
            $("#" + ucst_8_).attr('checked', 'checked');
            $("#" + ucst_8_).prop("checked", true);
        }
         var cst_9_ = "@Model.cst_9";
        if (cst_9_ !== "") {
            var ucst_9_ = $("input[name='ucst_9'][value='" + "@Model.cst_9" + "']").attr("id");
            $("#" + ucst_9_).attr('checked', 'checked');
            $("#" + ucst_9_).prop("checked", true);
        }
        var cst_10_ = "@Model.cst_10";
        if (cst_10_ !== "") {
            var ucst_10_ = $("input[name='ucst_10'][value='" + "@Model.cst_10" + "']").attr("id");
            $("#" + ucst_10_).attr('checked', 'checked');
            $("#" + ucst_10_).prop("checked", true);
        }
         var cst_11_ = "@Model.cst_11";
        if (cst_11_ !== "") {
            var ucst_11_ = $("input[name='ucst_11'][value='" + "@Model.cst_11" + "']").attr("id");
            $("#" + ucst_11_).attr('checked', 'checked');
            $("#" + ucst_11_).prop("checked", true);
        }
        var cst_12_ = "@Model.cst_12";
        if (cst_12_ !== "") {
            var ucst_12_ = $("input[name='ucst_12'][value='" + "@Model.cst_12" + "']").attr("id");
            $("#" + ucst_12_).attr('checked', 'checked');
            $("#" + ucst_12_).prop("checked", true);
        }
         var cst_13_ = "@Model.cst_13";
        if (cst_13_ !== "") {
            var ucst_13_ = $("input[name='ucst_13'][value='" + "@Model.cst_13" + "']").attr("id");
            $("#" + ucst_13_).attr('checked', 'checked');
            $("#" + ucst_13_).prop("checked", true);
        }
        var cst_14_ = "@Model.cst_14";
        if (cst_14_ !== "") {
            var ucst_14_ = $("input[name='ucst_14'][value='" + "@Model.cst_14" + "']").attr("id");
            $("#" + ucst_14_).attr('checked', 'checked');
            $("#" + ucst_14_).prop("checked", true);
        }
         var cst_15_ = "@Model.cst_15";
        if (cst_15_ !== "") {
            var ucst_15_ = $("input[name='ucst_15'][value='" + "@Model.cst_15" + "']").attr("id");
            $("#" + ucst_15_).attr('checked', 'checked');
            $("#" + ucst_15_).prop("checked", true);
        }
         var cst_16_ = "@Model.cst_16";
        if (cst_16_ !== "") {
            var ucst_16_ = $("input[name='ucst_16'][value='" + "@Model.cst_16" + "']").attr("id");
            $("#" + ucst_16_).attr('checked', 'checked');
            $("#" + ucst_16_).prop("checked", true);
        }
         var cst_17_ = "@Model.cst_17";
        if (cst_17_ !== "") {
            var ucst_17_ = $("input[name='ucst_17'][value='" + "@Model.cst_17" + "']").attr("id");
            $("#" + ucst_17_).attr('checked', 'checked');
            $("#" + ucst_17_).prop("checked", true);
        }
         var cst_18_ = "@Model.cst_18";
        if (cst_18_ !== "") {
            var ucst_18_ = $("input[name='ucst_18'][value='" + "@Model.cst_18" + "']").attr("id");
            $("#" + ucst_18_).attr('checked', 'checked');
            $("#" + ucst_18_).prop("checked", true);
        }
        var cst_19_ = "@Model.cst_19";
        if (cst_19_ !== "") {
            var ucst_19_ = $("input[name='ucst_19'][value='" + "@Model.cst_19" + "']").attr("id");
            $("#" + ucst_19_).attr('checked', 'checked');
            $("#" + ucst_19_).prop("checked", true);
        }
        var cst_20_ = "@Model.cst_20";
        if (cst_20_ !== "") {
            var ucst_20_ = $("input[name='ucst_20'][value='" + "@Model.cst_20" + "']").attr("id");
            $("#" + ucst_20_).attr('checked', 'checked');
            $("#" + ucst_20_).prop("checked", true);
        }
        var cst_21_ = "@Model.cst_21";
        if (cst_21_ !== "") {
            var ucst_21_ = $("input[name='ucst_21'][value='" + "@Model.cst_21" + "']").attr("id");
            $("#" + ucst_21_).attr('checked', 'checked');
            $("#" + ucst_21_).prop("checked", true);
        }
        var cst_22_ = "@Model.cst_22";
        if (cst_22_ !== "") {
            var ucst_22_ = $("input[name='ucst_22'][value='" + "@Model.cst_22" + "']").attr("id");
            $("#" + ucst_22_).attr('checked', 'checked');
            $("#" + ucst_22_).prop("checked", true);
        }
    }
    //#endregion Get CheckedValues
</script>
