@model BusinessEntities.Masters.InsurancePayers
<form id="form_Add_IP" class="needs-validation" >
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mb-4 font-weight-semibold">
            <span class="text-danger" style="font-size:smaller">Required fields are marked with *</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">Payer Name&nbsp;<span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.ip_name, new { @class = "form-control", @placeholder = "Ex : DAMAN", @required = "", @maxlength = "80" })
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">Payer Code&nbsp;<span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.ip_code, new { @class = "form-control", @placeholder = "Ex : TPA675", @required = "", @maxlength = "30" })
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">Follow Up Days&nbsp;<span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.ip_followup, new { @class = "form-control", @placeholder = "Ex : 7", @required = "", @maxlength = "3" })
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">Contact Person </label>
                @Html.TextBoxFor(m => m.ip_cperson, new { @class = "form-control", @placeholder = "Ex : John Doe", @maxlength = "60" })
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">Telephone #</label>
                @Html.TextBoxFor(m => m.ip_tel, new { @class = "form-control", @placeholder = "Ex : 0506854795", @maxlength = "15" })
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">Fax #	</label>
                @Html.TextBoxFor(m => m.ip_fax, new { @class = "form-control", @placeholder = "Ex : 0564895712", @maxlength = "15" })
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">E-Mail ID</label>
                @Html.TextBoxFor(m => m.ip_email, new { @class = "form-control", @placeholder = "Ex : username@domain.com", @type = "email", @maxlength = "50" })
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <button type="submit" class="btn btn-success" id="btn_Insert_Payer">Create Insurance Payer</button>
            <button type="button" class="btn btn-outline-danger me-1" id="btn_Close_AddIP">
                Close
            </button>
        </div>
    </div>
</form>
<script type="text/javascript">
    //#region Partial View Onload
    $(function () {
        $('#btn_Close_AddIP').click(function () {
            $('#ip_add').hide();
        });
        validate();
    });
    //#endregion

    //#region Validation Initialization
    var validate = function () {
        $('#ip_name').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^a-zA-Z ]/g))
                return false;
        });
        $('#ip_followup').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9]/g))
                return false;
        });
        $('#ip_tel').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9+]/g))
                return false;
        });
        $('#ip_fax').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9+]/g))
                return false;
        });

        $("#form_Add_IP").validate({
            rules: {
                ip_name: {
                    required: true
                },
                ip_code: {
                    required: true
                },
                ip_followup: {
                    required: true
                }
            },
            messages: {
                ip_name: {
                    required: "Please Enter Payer Name!"
                },
                ip_code: {
                    required: "Please Enter Payer Code!"
                },
                ip_followup: {
                    required: "Enter No. of Follow up days!"
                }
            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

        $("#ip_followup").on('input', function () {
            var disc = $(this).val();
            if (disc == "" || disc == null || disc == undefined) {
                $("#ip_followup").val(0);
            }
        });
    }
    //#endregion

    //#region Insert Payer Button Click
    $('#btn_Insert_Payer').on('click', function (e) {
        e.preventDefault();
        
        if ($("#form_Add_IP").valid()) {
            var formData = new FormData();
            var ipId = 0;
            var ip_name = $('#ip_name').val().trim();
            var ip_code = $("#ip_code").val().trim();
            var ip_followup = $("#ip_followup").val();
            var ip_cperson = $("#ip_cperson").val();
            var ip_tel = $("#ip_tel").val();
            var ip_fax = $("#ip_fax").val();
            var ip_email = $("#ip_email").val();

            formData.append("ipId", ipId);
            formData.append("ip_name", ip_name);
            formData.append("ip_code", ip_code);
            formData.append("ip_followup", ip_followup);
            formData.append("ip_cperson", ip_cperson);
            formData.append("ip_tel", ip_tel);
            formData.append("ip_fax", ip_fax);
            formData.append("ip_email", ip_email);
            $.ajax({
                type: "POST",
                url: "@Url.Action("InsertInsurancePayer", "InsuranceCompanies", new { area="Masters"})",
                data: formData,
                dataType: 'json',
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {
                    if (data.isInserted) {
                        $("#ip_name").val('');
                        $("#ip_code").val('');
                        $("#ip_followup").val(0);
                        $("#ip_cperson").val('');
                        $("#ip_tel").val('');
                        $("#ip_fax").val('');
                        $("#ip_email").val('');

                        GetInsurancePayers();
                        alert("<i class='fe fe-check-circle text-white'></i> Insurance Payer Created Successfully!", "success");
                        Timeout();
                        GetInsuranceCompanies();
                    }
                    else {
                        $("#ip_name").val('');
                        $("#ip_code").val('');
                        alert("<i class='fe fe-alert-triangle text-white'></i> Insurance Payer Already Exists!", "warning");
                        Timeout();
                    }
                },
                error: function (xhr) {
                    alert("<i class='fe fe-x-circle text-white'></i> Failed to Create Insurance Payer! Error : " + xhr.statusText +"", "danger");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion
</script>