@model BusinessEntities.Masters.InsurancePayers
<form id="form_Edit_IP" class="needs-validation" >
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mb-4 font-weight-semibold">
            <span class="text-danger" style="font-size:smaller">Required fields are marked with *</span>
        </div>
    </div>
    @Html.HiddenFor(m => m.ipId)
    @Html.HiddenFor(m => m.ip_ins)
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">Payer Name&nbsp;<span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.ip_name, new { @class = "form-control", @placeholder = "Ex : DAMAN", @required = "", @id = "name", @maxlength = "80" })
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">Payer Code&nbsp;<span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.ip_code, new { @class = "form-control", @placeholder = "Ex : TPA675", @required = "", @id = "code", @maxlength = "30" })
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">Follow Up Days&nbsp;<span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.ip_followup, new { @class = "form-control", @placeholder = "Ex : 7", @required = "", @id = "followup", @maxlength = "3" })
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">Contact Person </label>
                @Html.TextBoxFor(m => m.ip_cperson, new { @class = "form-control", @placeholder = "Ex : John Doe", @id = "cperson", @maxlength = "60" })
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">Telephone #</label>
                @Html.TextBoxFor(m => m.ip_tel, new { @class = "form-control", @placeholder = "Ex : 0506854795", @id = "tel", @maxlength = "15" })
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">Fax #	</label>
                @Html.TextBoxFor(m => m.ip_fax, new { @class = "form-control", @placeholder = "Ex : 0564895712", @id = "fax", @maxlength = "15" })
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">E-Mail ID</label>
                @Html.TextBoxFor(m => m.ip_email, new { @class = "form-control", @placeholder = "Ex : username@domain.com", @type = "email", @id = "email", @maxlength = "50" })
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <button type="submit" class="btn btn-warning" id="btn_Update_Payer">Save Changes</button>
            <button type="button" class="btn btn-outline-danger me-1" id="btn_Close_EditIP">
                Close
            </button>
        </div>
    </div>
</form>
<script type="text/javascript">
    //#region Partial View Onload
    $(function () {
        $('#btn_Close_EditIP').click(function () {
            $('#ip_edit').hide();
        });
        validate();
    });
    //#endregion

    //#region Validation Initialization
    var validate = function () {
        $('#name').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^a-zA-Z ]/g))
                return false;
        });
        $('#followup').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9]/g))
                return false;
        });
        $('#tel').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9+]/g))
                return false;
        });
        $('#fax').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9+]/g))
                return false;
        });

        $("#form_Edit_IP").validate({
            rules: {
                ip_name: {
                    required: true
                },
                ip_code: {
                    required: true
                },
                ip_followup: {
                    required: true
                }
            },
            messages: {
                ip_name: {
                    required: "Please Enter Payer Name!"
                },
                ip_code: {
                    required: "Please Enter Payer Code!"
                },
                ip_followup: {
                    required: "Enter No. of Follow up days!"
                }
            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

        $("#followup").on('input', function () {
            var disc = $(this).val();
            if (disc == "" || disc == null || disc == undefined) {
                $("#ip_followup").val(0);
            }
        });
    }
    //#endregion

    //#region Update Payer Button Click
    $('#btn_Update_Payer').on('click', function (e) {
        e.preventDefault();
        if ($("#form_Edit_IP").valid()) {

            var formData = new FormData();
            var ipId = $('#ipId').val();
            var ip_ins = $('#ip_ins').val();
            var name = $('#name').val().trim();
            var code = $("#code").val().trim();
            var followup = $("#followup").val();
            var cperson = $("#cperson").val();
            var tel = $("#tel").val().trim();
            var fax = $("#fax").val().trim();
            var email = $("#email").val().trim();

            formData.append("ipId", ipId);
            formData.append("ip_ins", ip_ins);
            formData.append("ip_name", name);
            formData.append("ip_code", code);
            formData.append("ip_followup", followup);
            formData.append("ip_cperson", cperson);
            formData.append("ip_tel", tel);
            formData.append("ip_fax", fax);
            formData.append("ip_email", email);

            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateInsurancePayer", "InsuranceCompanies", new { area="Masters"})",
                data: formData,
                dataType: 'json',
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {
                    $('#ip_edit').hide();

                    if (data.isUpdated) {
                        $("#name").val('');
                        $("#code").val('');
                        $("#followup").val(0);
                        $("#cperson").val('');
                        $("#tel").val('');
                        $("#fax").val('');
                        $("#email").val('');

                        GetInsurancePayers();
                        alert("<i class='fe fe-check-circle text-white'></i> Insurance Payer Updated Successfully!", "success");
                        Timeout();
                    }
                    else {
                        $("#name").val('');
                        $("#code").val('');
                        $("#followup").val(0);

                        alert("<i class='fe fe-alert-triangle text-white'></i> Insurance Payer Already Exists!", "warning");
                        Timeout();
                    }
                },
                error: function (xhr) {
                    alert("<i class='fe fe-x-circle text-white'></i> Failed to Update Insurance Payer! Error : " + xhr.statusText +"", "danger");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion
</script>