@model BusinessEntities.Masters.InsuranceNetworks
<form id="form_Edit_INW" class=" needs-validation" >
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.isId)
    @Html.HiddenFor(m => m.is_icId)
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mb-4 font-weight-semibold">
            <span class="text-danger" style="font-size:smaller">Required fields are marked with *</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="form-group mb-3">
                <label class="form-label text-black">Title&nbsp;<span class="text-danger">*</span></label>
                @Html.TextAreaFor(m => m.is_title, new { @class = "form-control", @placeholder = "Enter your Network Title here...", @maxlength = "150", @id = "uis_title" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group">
                <label class="form-label">Routine Dental Co.Pay</label>
                @Html.TextBoxFor(m => m.is_dcopay, new { @class = "form-control mb-2 text-right", @placeholder = "Ex: 2.50", @onkeypress = "return validateOneDecimalNumeric(this,event);", @id = "uis_dcopay" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">&nbsp;</label>
                @Html.DropDownListFor(m => m.is_dcopay_type, new List<SelectListItem>
                {
                    new SelectListItem{ Text="Fixed", Value = "Fixed" },
                    new SelectListItem{ Text="%", Value = "%" },
                }, new { @class = "form-select select2", @id = "uis_dcopay_type" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group">
                <label class="form-label">Routine Dental Co.Pay Limit</label>
                @Html.TextBoxFor(m => m.is_dcopay_limit, new { @class = "form-control mb-2 text-right", @placeholder = "Ex: 1.00", @onkeypress = "return validateOneDecimalNumeric(this,event);", @id = "uis_dcopay_limit" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group">
                <label class="form-label">High Profile Dental Co.Pay</label>
                @Html.TextBoxFor(m => m.is_hp_dcopay, new { @class = "form-control mb-2 text-right", @placeholder = "Ex: 2.00", @onkeypress = "return validateOneDecimalNumeric(this,event);", @id = "uis_hp_dcopay" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">&nbsp;</label>
                @Html.DropDownListFor(m => m.is_hp_dcopay_type, new List<SelectListItem>
                {
                    new SelectListItem{ Text="Fixed", Value = "Fixed" },
                    new SelectListItem{ Text="%", Value = "%" },
                }, new { @class = "form-select select2", @id = "uis_hp_dcopay_type" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group">
                <label class="form-label">High Profile Dental Co.Pay Limit</label>
                @Html.TextBoxFor(m => m.is_hp_dcopay_limit, new { @class = "form-control mb-2 text-right", @placeholder = "Ex: 2.00", @onkeypress = "return validateOneDecimalNumeric(this,event);", @id = "uis_hp_dcopay_limit" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group">
                <label class="form-label">In Patient Dental Co.Pay</label>
                @Html.TextBoxFor(m => m.is_ip_dcopay, new { @class = "form-control mb-2 text-right", @placeholder = "Ex: 2.00", @onkeypress = "return validateOneDecimalNumeric(this,event);", @id = "uis_ip_dcopay" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">&nbsp;</label>
                @Html.DropDownListFor(m => m.is_ip_dcopay_type, new List<SelectListItem>
                {
                    new SelectListItem{ Text="Fixed", Value = "Fixed" },
                    new SelectListItem{ Text="%", Value = "%" },
                }, new { @class = "form-select select2", @id = "uis_ip_dcopay_type" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group">
                <label class="form-label">In Patient Dental Co.Pay Limit</label>
                @Html.TextBoxFor(m => m.is_ip_dcopay_limit, new { @class = "form-control mb-2 text-right", @placeholder = "Ex: 1.00", @onkeypress = "return validateOneDecimalNumeric(this,event);", @id = "uis_ip_dcopay_limit" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group">
                <label class="form-label">Medical Co.Pay</label>
                @Html.TextBoxFor(m => m.is_copay, new { @class = "form-control mb-2 text-right", @placeholder = "Ex: 1.00", @onkeypress = "return validateOneDecimalNumeric(this,event);", @id = "uis_copay" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">&nbsp;</label>
                @Html.DropDownListFor(m => m.is_copay_type, new List<SelectListItem>
                {
                    new SelectListItem{ Text="Fixed", Value = "Fixed" },
                    new SelectListItem{ Text="%", Value = "%" },
                }, new { @class = "form-select select2", @id = "uis_copay_type" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group">
                <label class="form-label">Medical Co.Pay Limit</label>
                @Html.TextBoxFor(m => m.is_copay_limit, new { @class = "form-control mb-2 text-right", @placeholder = "Ex: 1.00", @onkeypress = "return validateOneDecimalNumeric(this,event);", @id = "uis_copay_limit" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group">
                <label class="form-label">General Consultation Ded</label>
                @Html.TextBoxFor(m => m.is_cded, new { @class = "form-control mb-2 text-right", @placeholder = "Ex: 1.00", @onkeypress = "return validateOneDecimalNumeric(this,event);", @id = "uis_cded" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">&nbsp;</label>
                @Html.DropDownListFor(m => m.is_cded_type, new List<SelectListItem>
                {
                    new SelectListItem{ Text="Fixed", Value = "Fixed" },
                    new SelectListItem{ Text="%", Value = "%" },
                }, new { @class = "form-select select2", @id = "uis_cded_type" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group">
                <label class="form-label">General Consultation Ded Limit</label>
                @Html.TextBoxFor(m => m.is_cded_limit, new { @class = "form-control mb-2 text-right", @placeholder = "Ex: 1.00", @onkeypress = "return validateOneDecimalNumeric(this,event);", @id = "uis_cded_limit" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group">
                <label class="form-label">Dental Consultaion Ded</label>
                @Html.TextBoxFor(m => m.is_dded, new { @class = "form-control mb-2 text-right", @placeholder = "Ex: 2.00", @onkeypress = "return validateOneDecimalNumeric(this,event);", @id = "uis_dded" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">&nbsp;</label>
                @Html.DropDownListFor(m => m.is_dded_type, new List<SelectListItem>
                {
                    new SelectListItem{ Text="Fixed", Value = "Fixed" },
                    new SelectListItem{ Text="%", Value = "%" },
                }, new { @class = "form-select select2", @id = "uis_dded_type" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group">
                <label class="form-label">Dental Consultaion Ded Limit</label>
                @Html.TextBoxFor(m => m.is_dded_limit, new { @class = "form-control mb-2 text-right", @placeholder = "Ex: 2.00", @onkeypress = "return validateOneDecimalNumeric(this,event);", @id = "uis_dded_limit" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group">
                <label class="form-label">Pharmacy Ded</label>
                @Html.TextBoxFor(m => m.is_pded, new { @class = "form-control mb-2 text-right", @placeholder = "Ex: 2.00", @onkeypress = "return validateOneDecimalNumeric(this,event);", @id = "uis_pded" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">&nbsp;</label>
                @Html.DropDownListFor(m => m.is_pded_type, new List<SelectListItem>
                {
                    new SelectListItem{ Text="Fixed", Value = "Fixed" },
                    new SelectListItem{ Text="%", Value = "%" },
                }, new { @class = "form-select select2", @id = "uis_pded_type" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group">
                <label class="form-label">Pharmacy Ded Limit</label>
                @Html.TextBoxFor(m => m.is_pded_limit, new { @class = "form-control mb-2 text-right", @placeholder = "Ex: 1.00", @onkeypress = "return validateOneDecimalNumeric(this,event);", @id = "uis_pded_limit" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group">
                <label class="form-label">Lab Ded</label>
                @Html.TextBoxFor(m => m.is_lded, new { @class = "form-control mb-2 text-right", @placeholder = "Ex: 2.00", @onkeypress = "return validateOneDecimalNumeric(this,event);", @id = "uis_lded" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">&nbsp;</label>
                @Html.DropDownListFor(m => m.is_lded_type, new List<SelectListItem>
                {
                    new SelectListItem{ Text="Fixed", Value = "Fixed" },
                    new SelectListItem{ Text="%", Value = "%" },
                }, new { @class = "form-select select2", @id = "uis_lded_type" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group">
                <label class="form-label">Lab Ded Limit</label>
                @Html.TextBoxFor(m => m.is_lded_limit, new { @class = "form-control mb-2 text-right", @placeholder = "Ex: 2.00", @onkeypress = "return validateOneDecimalNumeric(this,event);", @id = "uis_lded_limit" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group">
                <label class="form-label">Radiology Ded</label>
                @Html.TextBoxFor(m => m.is_rded, new { @class = "form-control mb-2 text-right", @placeholder = "Ex: 1.00", @onkeypress = "return validateOneDecimalNumeric(this,event);", @id = "uis_rded" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">&nbsp;</label>
                @Html.DropDownListFor(m => m.is_rded_type, new List<SelectListItem>
                {
                    new SelectListItem{ Text="Fixed", Value = "Fixed" },
                    new SelectListItem{ Text="%", Value = "%" },
                }, new { @class = "form-select select2", @id = "uis_rded_type" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group">
                <label class="form-label">Radiology Ded Limit</label>
                @Html.TextBoxFor(m => m.is_rded_limit, new { @class = "form-control mb-2 text-right", @placeholder = "Ex: 1.00", @onkeypress = "return validateOneDecimalNumeric(this,event);", @id = "uis_rded_limit" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group">
                <label class="form-label">Maternity Ded</label>
                @Html.TextBoxFor(m => m.is_mded, new { @class = "form-control mb-2 text-right", @placeholder = "Ex: 1.00", @onkeypress = "return validateOneDecimalNumeric(this,event);", @id = "uis_mded" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">&nbsp;</label>
                @Html.DropDownListFor(m => m.is_mded_type, new List<SelectListItem>
                {
                    new SelectListItem{ Text="Fixed", Value = "Fixed" },
                    new SelectListItem{ Text="%", Value = "%" },
                }, new { @class = "form-select select2", @id = "uis_mded_type" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group">
                <label class="form-label">Maternity Ded Limit</label>
                @Html.TextBoxFor(m => m.is_mded_limit, new { @class = "form-control mb-2 text-right", @placeholder = "Ex: 1.00", @onkeypress = "return validateOneDecimalNumeric(this,event);", @id = "uis_mded_limit" })
            </div>
        </div>
        <div class="col-sm-3 col-md-6 col-lg-2">
            <div class="form-group">
                <label class="form-label">Allowed Limit</label>
                @Html.TextBoxFor(m => m.is_allowed_limit1, new { @class = "form-control mb-2 text-right", @placeholder = "Ex: 1.00", @onkeypress = "return validateOneDecimalNumeric(this,event);", @id = "uis_allowed_limit1" })
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div id="errorEdit"></div>
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning" id="btn_Update_Network">Save Changes</button>
                <button type="button" class="btn btn-outline-danger me-1" id="btn_Close_Edit">
                    Close
                </button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    //#region Partial View Onload
    $(function () {
        $('#btn_Close_Edit').click(function () {
            $('#inw_edit').hide();
        });

        $("#uis_dcopay_type").select2({
            width: '100%',
            minimumResultsForSearch: -1,
            dropdownParent: $('#form_Edit_INW'),
            escapeMarkup: function (markup) {
                return markup;
            }
        });

        $("#uis_hp_dcopay_type").select2({
            width: '100%',
            minimumResultsForSearch: -1,
            dropdownParent: $('#form_Edit_INW'),
            escapeMarkup: function (markup) {
                return markup;
            }
        });

        $("#uis_ip_dcopay_type").select2({
            width: '100%',
            minimumResultsForSearch: -1,
            dropdownParent: $('#form_Edit_INW'),
            escapeMarkup: function (markup) {
                return markup;
            }
        });

        $("#uis_copay_type").select2({
            width: '100%',
            minimumResultsForSearch: -1,
            dropdownParent: $('#form_Edit_INW'),
            escapeMarkup: function (markup) {
                return markup;
            }
        });

        $("#uis_cded_type").select2({
            width: '100%',
            minimumResultsForSearch: -1,
            dropdownParent: $('#form_Edit_INW'),
            escapeMarkup: function (markup) {
                return markup;
            }
        });

        $("#uis_dded_type").select2({
            width: '100%',
            minimumResultsForSearch: -1,
            dropdownParent: $('#form_Edit_INW'),
            escapeMarkup: function (markup) {
                return markup;
            }
        });

        $("#uis_pded_type").select2({
            width: '100%',
            minimumResultsForSearch: -1,
            dropdownParent: $('#form_Edit_INW'),
            escapeMarkup: function (markup) {
                return markup;
            }
        });

        $("#uis_lded_type").select2({
            width: '100%',
            minimumResultsForSearch: -1,
            dropdownParent: $('#form_Edit_INW'),
            escapeMarkup: function (markup) {
                return markup;
            }
        });

        $("#uis_rded_type").select2({
            width: '100%',
            minimumResultsForSearch: -1,
            dropdownParent: $('#form_Edit_INW'),
            escapeMarkup: function (markup) {
                return markup;
            }
        });

        $("#uis_mded_type").select2({
            width: '100%',
            minimumResultsForSearch: -1,
            dropdownParent: $('#form_Edit_INW'),
            escapeMarkup: function (markup) {
                return markup;
            }
        });

        clearControls();
        validate();
    });
    //#endregion

    //#region Validation Initialization
    var validate = function () {
        $("#form_Edit_INW").validate({
            rules: {
                is_title: {
                    required: true
                }
            },
            messages: {
                is_title: {
                    required: "Title shouldn't be empty!"
                }
            },
            highlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                } else {
                    elem.parent().addClass('has-error');
                }
                $(element).parent().addClass('has-error');
            },
            unhighlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                } else {
                    elem.removeClass('has-error');
                }
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    element = $("#select2-" + elem.attr("id") + "-container").parent();
                    error.insertAfter(element);
                } else {
                    error.insertAfter(element);
                }
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

        $('#uis_copay').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }

            if (parseInt(inputValue) > 100) {
                return false;
            }
        });
        $('#uis_dcopay').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }

            if (parseInt(inputValue) > 100) {
                return false;
            }
        });
        $('#uis_hp_dcopay').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }

            if (parseInt(inputValue) > 100) {
                return false;
            }
        });
        $('#uis_ip_dcopay').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }

            if (parseInt(inputValue) > 100) {
                return false;
            }
        });
        $('#uis_cded').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }

            if (parseInt(inputValue) > 100) {
                return false;
            }
        });
        $('#uis_dded').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }

            if (parseInt(inputValue) > 100) {
                return false;
            }
        });
        $('#uis_pded').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }

            if (parseInt(inputValue) > 100) {
                return false;
            }
        });
        $('#uis_lded').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }

            if (parseInt(inputValue) > 100) {
                return false;
            }
        });
        $('#uis_rded').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }

            if (parseInt(inputValue) > 100) {
                return false;
            }
        });
        $('#uis_mded').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }

            if (parseInt(inputValue) > 100) {
                return false;
            }
        });
        $('#uis_copay_limit').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }

            if (parseInt(inputValue) > 100) {
                return false;
            }
        });
        $('#uis_dcopay_limit').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }

            if (parseInt(inputValue) > 100) {
                return false;
            }
        });
        $('#uis_hp_dcopay_limit').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }

            if (parseInt(inputValue) > 100) {
                return false;
            }
        });
        $('#uis_ip_dcopay_limit').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }

            if (parseInt(inputValue) > 100) {
                return false;
            }
        });
        $('#uis_cded_limit').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }

            if (parseInt(inputValue) > 100) {
                return false;
            }
        });
        $('#uis_dded_limit').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }

            if (parseInt(inputValue) > 100) {
                return false;
            }
        });
        $('#uis_pded_limit').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }

            if (parseInt(inputValue) > 100) {
                return false;
            }
        });
        $('#uis_lded_limit').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }

            if (parseInt(inputValue) > 100) {
                return false;
            }
        });
        $('#uis_rded_limit').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }

            if (parseInt(inputValue) > 100) {
                return false;
            }
        });
        $('#uis_mded_limit').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }

            if (parseInt(inputValue) > 100) {
                return false;
            }
        });
        $('#uis_allowed_limit1').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode;
            var inputValue = $(this).val() + String.fromCharCode(charCode);

            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }

            if (parseInt(inputValue) > 100000) {
                return false;
            }
        });

        $("#uis_copay").on('input', function () {
            var _val = $(this).val();
            if (_val == "" || _val == null || _val == undefined) {
                $("#is_copay").val("0");
            }
        });
        $("#uis_dcopay").on('input', function () {
            var _val = $(this).val();
            if (_val == "" || _val == null || _val == undefined) {
                $("#is_dcopay").val("0");
            }
        });
        $("#uis_hp_dcopay").on('input', function () {
            var _val = $(this).val();
            if (_val == "" || _val == null || _val == undefined) {
                $("#is_hp_dcopay").val("0");
            }
        });
        $("#uis_ip_dcopay").on('input', function () {
            var _val = $(this).val();
            if (_val == "" || _val == null || _val == undefined) {
                $("#is_ip_dcopay").val("0");
            }
        });
        $("#uis_cded").on('input', function () {
            var _val = $(this).val();
            if (_val == "" || _val == null || _val == undefined) {
                $("#is_cded").val("0");
            }
        });
        $("#uis_dded").on('input', function () {
            var _val = $(this).val();
            if (_val == "" || _val == null || _val == undefined) {
                $("#is_dded").val("0");
            }
        });
        $("#uis_pded").on('input', function () {
            var _val = $(this).val();
            if (_val == "" || _val == null || _val == undefined) {
                $("#is_pded").val("0");
            }
        });
        $("#uis_lded").on('input', function () {
            var _val = $(this).val();
            if (_val == "" || _val == null || _val == undefined) {
                $("#is_lded").val("0");
            }
        });
        $("#uis_rded").on('input', function () {
            var _val = $(this).val();
            if (_val == "" || _val == null || _val == undefined) {
                $("#is_rded").val("0");
            }
        });
        $("#uis_mded").on('input', function () {
            var _val = $(this).val();
            if (_val == "" || _val == null || _val == undefined) {
                $("#is_mded").val("0");
            }
        });
        $("#uis_copay_limit").on('input', function () {
            var _val = $(this).val();
            if (_val == "" || _val == null || _val == undefined) {
                $("#is_copay_limit").val("0");
            }
        });
        $("#uis_dcopay_limit").on('input', function () {
            var _val = $(this).val();
            if (_val == "" || _val == null || _val == undefined) {
                $("#is_dcopay_limit").val("0");
            }
        });
        $("#uis_hp_dcopay_limit").on('input', function () {
            var _val = $(this).val();
            if (_val == "" || _val == null || _val == undefined) {
                $("#is_hp_dcopay_limit").val("0");
            }
        });
        $("#uis_ip_dcopay_limit").on('input', function () {
            var _val = $(this).val();
            if (_val == "" || _val == null || _val == undefined) {
                $("#is_ip_dcopay_limit").val("0");
            }
        });
        $("#uis_cded_limit").on('input', function () {
            var _val = $(this).val();
            if (_val == "" || _val == null || _val == undefined) {
                $("#is_cded_limit").val("0");
            }
        });
        $("#uis_dded_limit").on('input', function () {
            var _val = $(this).val();
            if (_val == "" || _val == null || _val == undefined) {
                $("#is_dded_limit").val("0");
            }
        });
        $("#uis_pded_limit").on('input', function () {
            var _val = $(this).val();
            if (_val == "" || _val == null || _val == undefined) {
                $("#is_pded_limit").val("0");
            }
        });
        $("#uis_lded_limit").on('input', function () {
            var _val = $(this).val();
            if (_val == "" || _val == null || _val == undefined) {
                $("#is_lded_limit").val("0");
            }
        });
        $("#uis_rded_limit").on('input', function () {
            var _val = $(this).val();
            if (_val == "" || _val == null || _val == undefined) {
                $("#is_rded_limit").val("0");
            }
        });
        $("#uis_mded_limit").on('input', function () {
            var _val = $(this).val();
            if (_val == "" || _val == null || _val == undefined) {
                $("#is_mded_limit").val("0");
            }
        });
        $("#uis_allowed_limit1").on('input', function () {
            var _val = $(this).val();
            if (_val == "" || _val == null || _val == undefined) {
                $("#is_allowed_limit1").val("0");
            }
        });
    }
    //#endregion

    //#region Update Network Button Click
    $('#btn_Update_Network').on('click', function (e) {
        e.preventDefault();

        if ($("#form_Edit_INW").valid()) {

            var _dataUpdate = {
                "isId": $("#isId").val(),
                "is_icId": $("#is_icId").val(),
                "is_title": $("#uis_title").val().trim(),
                "is_copay": parseFloat($("#uis_copay").val()),
                "is_dcopay": parseFloat($("#uis_dcopay").val()),
                "is_hp_dcopay": parseFloat($("#uis_hp_dcopay").val()),
                "is_ip_dcopay": parseFloat($("#uis_ip_dcopay").val()),
                "is_cded": parseFloat($("#uis_cded").val()),
                "is_dded": parseFloat($("#uis_dded").val()),
                "is_pded": parseFloat($("#uis_pded").val()),
                "is_lded": parseFloat($("#uis_lded").val()),
                "is_rded": parseFloat($("#uis_rded").val()),
                "is_mded": parseFloat($("#uis_mded").val()),
                "is_copay_limit": parseFloat($("#uis_copay_limit").val()),
                "is_dcopay_limit": parseFloat($("#uis_dcopay_limit").val()),
                "is_hp_dcopay_limit": parseFloat($("#uis_hp_dcopay_limit").val()),
                "is_ip_dcopay_limit": parseFloat($("#uis_ip_dcopay_limit").val()),
                "is_cded_limit": parseFloat($("#uis_cded_limit").val()),
                "is_dded_limit": parseFloat($("#uis_dded_limit").val()),
                "is_pded_limit": parseFloat($("#uis_pded_limit").val()),
                "is_lded_limit": parseFloat($("#uis_lded_limit").val()),
                "is_rded_limit": parseFloat($("#uis_rded_limit").val()),
                "is_mded_limit": parseFloat($("#uis_mded_limit").val()),
                "is_allowed_limit1": parseFloat($("#uis_allowed_limit1").val()),
                "is_copay_type": $("#uis_copay_type").val(),
                "is_dcopay_type": $("#uis_dcopay_type").val(),
                "is_hp_dcopay_type": $("#uis_hp_dcopay_type").val(),
                "is_ip_dcopay_type": $("#uis_ip_dcopay_type").val(),
                "is_cded_type": $("#uis_cded_type").val(),
                "is_dded_type": $("#uis_dded_type").val(),
                "is_pded_type": $("#uis_pded_type").val(),
                "is_lded_type": $("#uis_lded_type").val(),
                "is_rded_type": $("#uis_rded_type").val(),
                "is_mded_type": $("#uis_mded_type").val(),
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val(),
            }

            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateInsuranceNetwork", "InsuranceCompanies", new { area = "Masters" })",
                dataType: 'json',
                data: _dataUpdate,
                success: function (data) {
                    var alertPlaceholder = document.getElementById("InNetworkAlert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }

                    if (data.isSuccess) {
                        if (data.isUpdated) {
                            GetInsuranceCompanies();
                            alert("<i class='fe fe-check-circle text-white'></i> Insurance Network Updated Successfully!", "success");
                            $('#inw_edit').hide();
                            clearControls();
                            GetInsuranceNetworks();
                            Timeout();
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-light-warning' role='alert'>" +
                                "<button type='button' class='btn-close text-warning' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong><i class='fa fa-exclamation-triangle text-warning'></i> Insurance Network Already Exists with the same details!</strong><br/>" +
                                "</div></div>";
                            $("#errorEdit").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-light-danger' role='alert'>" +
                            "<button type='button' class='btn-close text-danger' style='margin-bottom:-5px;' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong><i class='fa fa-ban text-danger'></i> Validation Error! Please validate before submitting.</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                            }, 5000);
                        });

                        html += "</ul></div></div>";
                        $("#errorEdit").html(html);
                    }
                },
                error: function (xhr) {
                    $('#inw_edit').hide();
                    var alertPlaceholder = document.getElementById("InNetworkAlert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fa fa-ban text-danger'></i> Error while updating network! Please Try Again.", "danger");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion

    //#region Clear Controls
    var clearControls = function () {
        $("#is_title").val("");
        $("#is_copay_type").val("Fixed");
        $("#is_dcopay_type").val("Fixed");
        $("#is_hp_dcopay_type").val("Fixed");
        $("#is_ip_dcopay_type").val("Fixed");
        $("#is_cded_type").val("Fixed");
        $("#is_dded_type").val("Fixed");
        $("#is_pded_type").val("Fixed");
        $("#is_lded_type").val("Fixed");
        $("#is_rded_type").val("Fixed");
        $("#is_mded_type").val("Fixed");

        $("#is_copay").val(0);
        $("#is_dcopay").val(0);
        $("#is_hp_dcopay").val(0);
        $("#is_ip_dcopay").val(0);
        $("#is_cded").val(0);
        $("#is_dded").val(0);
        $("#is_pded").val(0);
        $("#is_lded").val(0);
        $("#is_rded").val(0);
        $("#is_mded").val(0);
        $("#is_copay_limit").val(0);
        $("#is_dcopay_limit").val(0);
        $("#is_hp_dcopay_limit").val(0);
        $("#is_ip_dcopay_limit").val(0);
        $("#is_cded_limit").val(0);
        $("#is_dded_limit").val(0);
        $("#is_pded_limit").val(0);
        $("#is_lded_limit").val(0);
        $("#is_rded_limit").val(0);
        $("#is_mded_limit").val(0);
        $("#is_allowed_limit1").val(0);
    }
    //#endregion
</script>
