@model IEnumerable<BusinessEntities.Masters.InsuranceCompanies>
@{
    ViewBag.Title = "Masters - Insurance Companies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    #tbl_ins_companies_wrapper .dataTables_scroll .dataTables_scrollBody {
        min-height: 250px;
    }
</style>

<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title mb-0 text-primary" data-lang-key="insurance-companies">Insurance Companies</h4>
    </div>
    <div class="page-rightheader">
        <div class="btn-list btn-animation">
            <a id="btn_Generate_Acc" class="btn btn-azure text-white d-none" ><i class="mdi mdi-account-key" data-lang-key="generate-chart"></i>&nbsp;Generate Chart of Account</a>
            <a href="" data-bs-toggle="modal" data-bs-target="#create_ic_modal" class="btn btn-secondary" onclick="addInsuranceCompany()" data-lang-key="add-insurance-company"><i class="mdi mdi-plus"></i>&nbsp;Add Insurance Company</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
        <div id="InsuranceAlert"></div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tbl_ins_companies" class="table table-striped table-bordered text-nowrap resize-table" style="width: 100%;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #3C457D; border-color: #3C457D;">
                                <th class="border-bottom-0 font-weight-semibold text-white"></th>
                                <th class="border-bottom-0 font-weight-semibold text-white" >
                                    <span data-lang-key="branch">Branch</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white" >
                                    <span data-lang-key="type">Type</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white" >
                                    <span data-lang-key="receiver-code">Receiver Code</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white" >
                                    <span data-lang-key="provider-code">Provider Code</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">P.F. (E & M)</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">P.F. (CPT)</th>
                                <th class="border-bottom-0 font-weight-semibold text-white" >
                                    <span data-lang-key="insurance-name">Insurance Name</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white" >
                                    <span data-lang-key="top-up-insurance">Top-Up Insurance</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white" >
                                    <span data-lang-key="share">Share(%)</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white" >
                                    <span data-lang-key="status">Status</span></th>
                                <th class="border-bottom-0 font-weight-semibold text-white" ><i class="fe fe-more-vertical" style="font-size: 20px;"></i></th>
                                <th class="border-bottom-0 font-weight-semibold text-white" >
                                    <span data-lang-key="account">Account</span></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th class="text-end fs-14 font-weight-semibold"></th>
                                <th class="text-end fs-14 font-weight-semibold"></th>
                                <th class="text-end fs-14 font-weight-semibold"></th>
                                <th class="text-end fs-14 font-weight-semibold"></th>
                                <th class="text-end fs-14 font-weight-semibold" >
                                    <span data-lang-key="total">Total :</span>
                                </th>
                                <th class="text-end fs-14 font-weight-semibold"></th>
                                <th class="text-end fs-14 font-weight-semibold"></th>
                                <th class="text-end fs-14 font-weight-semibold"></th>
                                <th class="text-end fs-14 font-weight-semibold"></th>
                                <th class="text-end fs-14 font-weight-semibold"></th>
                                <th class="text-end fs-14 font-weight-semibold"></th>
                                <th class="text-end fs-14 font-weight-semibold"></th>
                                <th class="text-end fs-14 font-weight-semibold"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Create Insurance Company Modal -->
<div class="modal fade" id="create_ic_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="sizeC">
        <div class="modal-content" id="create_ic_body">
        </div>
    </div>
</div>
<!-- End Create Insurance Company Modal -->
<!-- Update Insurance Company Modal -->
<div class="modal fade" id="update_ic_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="sizeU">
        <div class="modal-content" id="update_ic_body">
        </div>
    </div>
</div>


<!-- Insurance Notes Modal -->
<div class="modal fade" id="insurance_notes_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="sizeIN">
        <div class="modal-content" id="insurance_notes_body">
        </div>
    </div>
</div>


<!-- Insurance Networks Modal -->
<div class="modal fade" id="insurance_networks_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="sizeNW">
        <div class="modal-content" id="insurance_networks_body">
        </div>
    </div>
</div>


<!-- Insurance Payers Modal -->
<div class="modal fade" id="insurance_payers_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="sizeIP">
        <div class="modal-content" id="insurance_payers_body">
        </div>
    </div>
</div>


<!-- Insurance Companies Audit Logs Modal -->
<div class="modal fade" id="insurance_log_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="sizeIL">
        <div class="modal-content" id="insurance_log_body">
        </div>
    </div>
</div>


<!-- Insurance Payer Notes Modal -->
<div class="modal fade" id="ip_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="size-pn">
        <div class="modal-content" id="ip_body">
        </div>
    </div>
</div>


@* popup Model for Account Transaction*@
<div class="modal fade fade overflow-auto" id="account_detail_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="sizeC">
        <div class="modal-content" id="account_detail_body">
        </div>
    </div>
</div>

@section myScripts{
    <script type="text/javascript">
        //#region Page Load
        $(function () {
            // Toggle Sidebar
            $("body").addClass("app sidebar-mini sidenav-toggled");
            // Focus Search On Opening Select2
            $(document).on('select2:open', () => {
                document.querySelector('.select2-search__field').focus();
            });
            // Load Insurance Companies
            GetInsuranceCompanies();
        });
        //#endregion

        //#region Load Insurance Companies
        var GetInsuranceCompanies = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllInsuranceCompanies", "InsuranceCompanies", new { area = "Masters" })",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        var table;

                        if ($.fn.dataTable.isDataTable('#tbl_ins_companies')) {
                            table = $('#tbl_ins_companies').DataTable();
                            table.clear();
                            table.rows.add(response).draw();
                        }
                        else {
                            BindDataTable(response);
                        }
                    }
                    else {
                        console.log("Access Denied! You're not authorized to view the records");
                    }
                },
                error: function (xhr) {
                    console.log("Failed to Load Insurance Companies! " + xhr.statusText);
                }
            }).done(function () {
                resizedt();
            });
        }
        //#endregion

        //#region Bind Datatable
        var BindDataTable = function (response) {
            var numberRenderer = $.fn.dataTable.render.number(',', '.', 2,).display;
            var table = $("#tbl_ins_companies").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                processing: true,
                "deferRender": true,
                "pageLength": 100,
                "retrieve": true,
                lengthChange: true,
                scrollX: true,
                scrollY: 500,
                scrollCollapse: true,
                "aaData": response,
                "aoColumns": [
                    {
                        "mData": "icId",
                    },
                    { "mData": "set_company" },
                    { "mData": "ic_type" },
                    { "mData": "ic_code" },
                    {
                        "mData": "ic_city",
                        "render": function (ic_city) {
                            if (ic_city == "") {
                                return '<span class="text-muted">N/A</span>';
                            }
                            else {
                                return ic_city;
                            }
                        }
                    },
                    {
                        "mData": "ic_discount",
                        "className": 'text-right',
                        "render": $.fn.dataTable.render.number(',', '.', 2)
                    },
                    {
                        "mData": "ic_credit",
                        "className": 'text-right',
                        "render": $.fn.dataTable.render.number(',', '.', 2)
                    },
                    {
                        "mData": "ic_name",
                        "className": "td_max_width",
                        "render": function (ic_name, type, full, meta) {
                            return ic_name + " <br> <span class='text-info'>" + full.ic_account + "</span>";
                        }
                    },
                    {
                        "mData": "ic_topup_name",
                        "className": "td_max_width"
                    },
                    {
                        "mData": "ic_share",
                        "className": 'text-right',
                        "render": $.fn.dataTable.render.number(',', '.', 2)
                    },
                    {
                        "className": 'text-center',
                        "mData": "icId",
                        "render": function (icId, type, full, meta) {
                            var visible = full.actionvisible;
                            var ic_status = full.ic_status;

                            if (visible === "True") {
                                if (ic_status === "Active") {
                                    return '<button type="button" class="badge rounded-pill bg-success mt-2 border-success" style="width: 60px;" onclick="updateStatus(\'' + icId + '\',\' Active \')">Active</button>'
                                }
                                else if (ic_status === "Inactive") {
                                    return '<button type="button" class="badge rounded-pill bg-warning mt-2 border-warning" style="width: 60px;" onclick="updateStatus(\'' + icId + '\',\'Inactive\')">Inactive</button>'
                                }
                                else if (ic_status === "Deleted") {
                                    return '<button type="button" class="badge rounded-pill bg-danger mt-2 border-danger" style="width: 60px;" onclick="updateStatus(\'' + icId + '\',\'Deleted\')">Deleted</button>'
                                }
                                else {
                                    return ''
                                }
                            }
                            else {
                                return '<span class="badge rounded-pill text-danger mt-2 border-danger">Allocated</span>'
                            }
                        }
                    },
                    {
                        "mData": "icId",
                        "className": 'text-center',
                        "orderable": false,
                        "searchable": false,
                        "render": function (icId, type, full, meta) {
                            var ic_status = full.ic_status;
                            var visible = full.actionvisible;

                            var more =
                                '<div class="dropdown"><a type="button" class="text-dark" data-bs-toggle="dropdown"><i class="fe fe-more-vertical" style="font-size:20px;"></i></a><div class="dropdown-menu" style="min-width:auto">';

                            if (visible === "True" && ic_status === "Active") {
                                more += '<a class="dropdown-item text-dark fw-bold" data-bs-toggle="modal" data-bs-target="#update_ic_modal" onclick="editInsuranceCompany(' + icId + ')" style="cursor:pointer"><i class="fe fe-edit-2 text-success" style="font-size: 15px;margin-right: 0.6rem;"></i>&nbsp;Edit</a>' +
                                    '<a class="dropdown-item text-dark fw-bold" onclick="deleteInsuranceCompany(\'' + icId + '\')" style="cursor:pointer"><i class="fe fe-trash text-danger" style="font-size: 15px;margin-right: 0.6rem;cursor:pointer"></i>&nbsp;Delete</a>';
                            }

                            more += '<a class="dropdown-item text-dark fw-bold" data-bs-toggle="modal" data-bs-target="#insurance_networks_modal" onclick="insuranceNetworks(' + icId + ')" style="cursor:pointer"><i class="fa fa-globe text-orange" style="font-size: 15px;margin-right: 0.6rem;"></i>&nbsp;Networks</a>' +
                                '<a class="dropdown-item text-dark fw-bold" data-bs-toggle="modal" data-bs-target="#insurance_payers_modal" onclick="insurancePayers(' + icId + ')" style="cursor:pointer"><i class="fa fa-address-card-o text-secondary" style="font-size: 15px;margin-right: 0.4rem;"></i>&nbsp;Payers</a>' +
                                '<a class="dropdown-item text-dark fw-bold" data-bs-toggle="modal" data-bs-target="#insurance_notes_modal" onclick="insuranceNotes(' + icId + ')" style="cursor:pointer"><i class="fa fa-clipboard text-dark" style="font-size: 15px;margin-right: 0.6rem;"></i>&nbsp;Notes</a>' +
                                '<a class="dropdown-item text-dark fw-bold" data-bs-toggle="modal" data-bs-target="#account_detail_modal" onclick="InsuranceAccounts(\'' + full.ic_account + '\',\'' + full.ic_name + '\',\'' + full.ic_branch + '\')" style="cursor:pointer"><i class="fa fa-line-chart text-secondary" style="font-size: 15px;margin-right: 0.6rem;"></i>&nbsp;Accounts</a>' +
                                '<a class="dropdown-item text-dark fw-bold" data-bs-toggle="modal" data-bs-target="#insurance_log_modal" onclick="insuranceCompanyLogs(' + icId + ')" style="cursor:pointer"><i class="fa fa-eye" style="font-size: 15px;margin-right: 0.5rem;color:#046058 !important"></i>&nbsp;Logs</a>' +
                                '</div></div>';

                            return more;
                        }
                    },
                    {
                        "mData": "insurance_account",
                        "visible": false,
                        "orderable": false,
                        "searchable": false,
                    }
                ],
                "aoColumnDefs": [
                    {
                        "aTargets": [0],
                        "visible": false,
                        "orderable": false,
                        "searchable": false,
                        "className": "select-checkbox text-center inbox-small-cells",
                        'checkboxes': {
                            'selectRow': true
                        }
                    },

                ],
                select: {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                order: [[1, 'asc']],
                buttons: [
                    {
                        extend: 'excel',
                        title: 'Insurance Companies',
                        footer: 'true',
                        exportOptions: {
                            columns: [1, 2, 3, 4, 5, 6, 7, 8, 9]
                        },
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.excelHtml5.action.call(this, e, dt, node, config);
                            exportLogs("Employee Exported Insurance Companies Page to Excel!");
                        }
                    },
                    {
                        extend: 'pdf',
                        title: 'Insurance Companies',
                        footer: 'true',
                        exportOptions: {
                            columns: [ 1, 2, 3, 4, 5, 6, 7, 8, 9]
                        },
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.pdfHtml5.action.call(this, e, dt, node, config);
                            exportLogs("Employee Exported Insurance Companies Page to PDF!");
                        }
                    },
                    {
                        extend: 'csv',
                        title: 'Insurance Companies',
                        footer: 'true',
                        exportOptions: {
                            columns: [ 1, 2, 3, 4, 5, 6, 7, 8, 9]
                        },
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.csvHtml5.action.call(this, e, dt, node, config);
                            exportLogs("Employee Exported Insurance Companies Page to CSV!");
                        }
                    },
                    {
                        extend: 'print',
                        title: 'Insurance Companies',
                        footer: 'true',
                        exportOptions: {
                            columns: [ 1, 2, 3, 4, 5, 6, 7, 8, 9]
                        },
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.print.action.call(this, e, dt, node, config);
                            exportLogs("Employee Printed Insurance Companies Page!");
                        }
                    }
                ],
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '<span class="text-primary font-weight-semi-bold">Search By Insurance Name / Provider Code / Top-Up Insurance / Type</span>',
                    scrollX: "100%",
                    lengthMenu: '_MENU_ ',
                },
                "drawCallback": function () {
                    var table = $('#tbl_ins_companies').DataTable();
                    table.rows().every(function () {
                        var data = this.data();
                        var hiddenValue = data.insurance_account.trim();
                        if (hiddenValue === "TRUE" || hiddenValue === "") {
                            $(this.node()).find("td:eq(0) input[type='checkbox']").remove();
                        }
                    });
                },
                footerCallback: function (row, data, start, end, display) {
                    var api = this.api();

                    var intVal = function (i) {
                        return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
                    };

                    total = api.column(5).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    $(api.column(5).footer()).html(numberRenderer(total.toFixed(2)));


                    total = api.column(6).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    $(api.column(6).footer()).html(numberRenderer(total.toFixed(2)));

                    total = api.column(9).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    $(api.column(9).footer()).html(numberRenderer(total.toFixed(2)));
                }
            });

            table.buttons().container().appendTo('#tbl_ins_companies_wrapper .col-md-6:eq(0)');
        }
        //#endregion

        //#region Add Insurance Company
        function addInsuranceCompany() {
            $.ajax({
                type: "GET",
                url: "@Url.Action("CreateInsuranceCompany", "InsuranceCompanies", new { area = "Masters" })",
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $("#create_ic_body").html(data);
                    $("#create_ic_modal").modal("show");
                },
                error: function (xhr) {
                    console.log("Error while Adding Insurance Company : " + xhr.statusText);
                }
            });
        }
        //#endregion

        //#region Edit Insurance Company
        function editInsuranceCompany(icId) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("EditInsuranceCompany", "InsuranceCompanies", new { area = "Masters" })?icId=" + icId,
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $("#update_ic_body").html(data);
                    $("#update_ic_modal").modal("show");
                },
                error: function (xhr) {
                    console.log("Error while Editing Insurance Company : " + xhr.statusText);
                }
            });
        }
        //#endregion

        //#region Update Status
        var updateStatus = function (icId, ic_status) {
            ic_status = (ic_status == "Deleted" || ic_status == "Inactive") ? "Active" : "Inactive"

            Swal.fire({
                title: "Are you sure you want to change status ?",
                text: "This action will change the status of the selected Insurance Company!",
                icon: "question",
                showCancelButton: !0,
                confirmButtonText: 'Yes! I Confirm',
                cancelButtonText: 'No! Cancel Please',
                confirmButtonClass: "btn btn-success mt-2", cancelButtonClass: "btn btn-danger ms-2 mt-2", buttonsStyling: !1
            }).then(function (t) {
                if (t.value) {
                    $.ajax({
                        url: "@Url.Action("UpdateInsuranceCompanyStatus", "InsuranceCompanies", new { area="Masters"})?icId=" + icId + "&ic_status=" + ic_status,
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            if (data.isAuthorized) {
                                if (data.success) {
                                    GetInsuranceCompanies();
                                    Swal.fire({
                                        title: "Success!",
                                        text: data.message,
                                        icon: "success",
                                        showCancelButton: 0,
                                        confirmButtonColor: "#0bb197"
                                    });
                                }
                                else {
                                    Swal.fire({
                                        title: "Action Forbidden!",
                                        text: data.message,
                                        icon: "error",
                                        showCancelButton: 0,
                                        confirmButtonColor: "#0bb197"
                                    });
                                }
                            }
                            else {
                                Swal.fire({
                                    title: "Access Denied!",
                                    text: "You do not have enough privileges to change Insurance Company Status!",
                                    icon: "error",
                                    showCancelButton: 0,
                                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                                });
                            }
                        },
                        error: function (xhr) {
                            Swal.fire({
                                title: "Error!",
                                text: "Failed to Update Insurance Company Status! Please refresh the Page and Try Again.",
                                icon: "error",
                                showCancelButton: 0,
                                confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                            });
                        }
                    });
                }
            });
        }
        //#endregion

        //#region Delete Insurance Company
        var deleteInsuranceCompany = function (icId) {
            Swal.fire({
                title: "Are you sure you want to delete this Insurance Company ?",
                text: "This action will delete the selected record!",
                icon: "question",
                showCancelButton: !0,
                confirmButtonText: 'Yes! I Confirm',
                cancelButtonText: 'No! Cancel Please',
                confirmButtonClass: "btn btn-success mt-2", cancelButtonClass: "btn btn-danger ms-2 mt-2", buttonsStyling: !1
            }).then(function (t) {
                if (t.value) {
                    $.ajax({
                        url: '@Url.Action("DeleteInsuranceCompany", "InsuranceCompanies", new { area = "Masters" })?icId=' + icId +'&ic_status=Deleted',
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            if (data.isAuthorized) {
                                if (data.success) {
                                    GetInsuranceCompanies();
                                    Swal.fire({
                                        title: "Success!",
                                        text: data.message,
                                        icon: "success",
                                        showCancelButton: 0,
                                        confirmButtonColor: "#0bb197"
                                    });
                                }
                                else {
                                    Swal.fire({
                                        title: "Action Forbidden!",
                                        text: data.message,
                                        icon: "error",
                                        showCancelButton: 0,
                                        confirmButtonColor: "#0bb197"
                                    });
                                }
                            }
                            else {
                                Swal.fire({
                                    title: "Access Denied!",
                                    text: "You do not have enough privileges to delete Insurance Company!",
                                    icon: "error",
                                    showCancelButton: 0,
                                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                                });
                            }
                        },
                        error: function (xhr) {
                            Swal.fire({
                                title: "Error!",
                                text: "Failed to Delete Insurance Company! Please refresh the page and try again.",
                                icon: "error",
                                showCancelButton: 0,
                                confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                            });
                        }
                    });
                }
            });
        }
        //#endregion

        //#region Insurance Notes
        function insuranceNotes(icId) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("InsuranceNotes", "InsuranceCompanies", new { area = "Masters" })?icId=" + icId,
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $("#insurance_notes_body").html(data);
                    $("#insurance_notes_modal").modal("show");
                    resizedt();
                },
                error: function (xhr) {
                    console.log("Error while Opening Insurance Notes : " + xhr.statusText);
                }
            });
        }
        //#endregion

        //#region Insurance Networks
        function insuranceNetworks(icId) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("InsuranceNetworks", "InsuranceCompanies", new { area = "Masters" })?icId=" + icId,
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $("#insurance_networks_body").html(data);
                    $("#insurance_networks_modal").modal("show");
                    resizedt();
                },
                error: function (xhr) {
                    console.log("Error while Opening Insurance Networks : " + xhr.statusText);
                }
            });
        }
        //#endregion

        //#region Insurance Payers
        function insurancePayers(icId) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("InsurancePayers", "InsuranceCompanies", new { area = "Masters" })?icId=" + icId,
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $("#insurance_payers_body").html(data);
                    $("#insurance_payers_modal").modal("show");
                    resizedt();
                },
                error: function (xhr) {
                    console.log("Error while Opening Insurance Payers : " + xhr.statusText);
                }
            });
        }
        //#endregion

        //#region Export General Logs
        var exportLogs = function (desc) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ExportLogs", "AuditLogs", new { area = "Common" })?desc="+ desc,
                contentType: "application/json",
                dataType: "json"
            });
        }
        //#endregion

        //#region Insurance Company Logs
        function insuranceCompanyLogs(icId) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("InsuranceCompanyLogs", "InsuranceCompanies", new { area = "Masters" })?icId=" + icId,
                contentType: "application/json",
                dataType: "html",
                success: function (data) {
                    $("#insurance_log_body").html(data);
                    $("#insurance_log_modal").modal("show");
                    resizedt();
                },
                error: function (xhr) {
                    console.log("Error while Opening Insurance Audit Logs : " + xhr.statusText);
                }
            });
        }
        //#endregion

        //#region Insurance Accounts Transactions Detail
        var InsuranceAccounts = function (sup_account, sup_name, branch) {
            $("#spinner2").show();
            $.ajax({
                type: "GET",
                url: "@Url.Action("SupplierAccounts", "Supplier", new { area = "MaterialManagement" })?sup_account=" + sup_account + "&sup_name=" + sup_name + "&branch=" + branch,
                contentType: "application/json",
                dataType: "html",
                //data: app,
                success: function (data) {
                    $("#account_detail_body").html(data);
                    $("#account_detail_modal").modal("show");
                },
                error: function (xhr) {
                    console.log(xhr);
                    $("#spinner2").hide();
                },
                complete: function () {
                    // Hide spinner when request is complete
                    $("#spinner2").hide();
                }
            });
        };
        //#endregion

        //#region Generate Insurance Chart of Account
        $('#btn_Generate_Acc').click(function (e) {

            var table = $("#tbl_ins_companies").DataTable();

            var rows = $(table.$('input[type="checkbox"]').map(function () {
                return $(this).prop("checked") ? $(this).closest('tr') : null;
            }));

            if (rows.length > 0) {
                $('#tbl_ins_companies').removeClass("btn btn-azure text-white");
                $('#tbl_ins_companies').addClass("btn btn-info btn-loaders btn-icon text-white");
                $('#tbl_ins_companies').parent().addClass("curdrop");
                $('#tbl_ins_companies').html("Generating...");

                $.each(rows, function (index, rowId) {

                    var _data = table.row(rowId).data();

                    $.ajax({
                        url: '@Url.Action("GenerateSalesAccount", "Employees", new { area = "Masters" })?icId=' + _data.icId,
                        type: "POST",
                        dataType: "json",
                        success: function (response) {
                            $('#tbl_ins_companies').parent().removeClass("curdrop");
                            $('#tbl_ins_companies').removeClass("btn btn-info btn-loaders btn-icon text-white");
                            $('#tbl_ins_companies').addClass("btn btn-azure text-white");
                            $('#tbl_ins_companies').html("<i class='mdi mdi-account-key'></i> Generate Chart of Account");

                            if (response.success) {
                                //GetEmployees(1);
                                GetEmployees(0);
                                return $.growl.notice({
                                    title: "Success!",
                                    message: response.message
                                });
                            }
                            else {
                                return $.growl.warning({
                                    title: "Failure!",
                                    message: response.message
                                });
                            }
                        },
                        error: function (xhr) {
                            $('#tbl_ins_companies').parent().removeClass("curdrop");
                            $('#tbl_ins_companies').removeClass("btn btn-info btn-loaders btn-icon text-white");
                            $('#tbl_ins_companies').addClass("btn btn-azure text-white");
                            $('#tbl_ins_companies').html("<i class='mdi mdi-account-key'></i> Generate Chart of Account");
                            console.log(xhr);
                            return $.growl.error({
                                title: "Error while Generating Sales Account!",
                                message: xhr.statusText
                            });
                        }
                    });
                });
            }
            else {
                Swal.fire({
                    title: "Alert!",
                    text: "Please select atleast One Insurance to Generate Chart of Account!",
                    icon: "info",
                    showCancelButton: 0,
                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                });
            }
        });
        //#endregion

        //#region UI/UX Functions
        function resizedt() {
            setTimeout(function () {
                $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
            }, 350);
        }

        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 5200);
        }

        var alertPlaceholder = document.getElementById("InsuranceAlert");

        function alert(e, t) {
            var l = document.createElement("div");
            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
        }
        //#endregion
    </script>
}