@model BusinessEntities.EMR.RadiologyRequest
@{
    ViewBag.Title = "Print Invoice";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>
<div class="row" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-center">
                    <img src="@Model.set_header_image" />
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-4 ">
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div>
                                    <h4 class="page-title mb-0 text-primary">
                                        Medical decision making
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Clinical Findings&nbsp;</label>
                                        <label class="form-label text-black text-left">@Model.rdrf_finding&nbsp;</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="xray_ultra">
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">
                                            Plain x-ray&nbsp;
                                        </label>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="1" id="u1">
                                                <span class="custom-control-label">71010 Chest; single views, frontal</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="2" id="u2">
                                                <span class="custom-control-label">71020 Chest, g views, frontal and lateral;</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="3" id="u3">
                                                <span class="custom-control-label">74000 Abdomen; single anteroposterior views</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="4" id="u4">
                                                <span class="custom-control-label">70250 Skull; less than 4 views</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="5" id="u5">
                                                <span class="custom-control-label">70210 Sinuses, paranasal,Iess than 3 Views</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="6" id="u6">
                                                <span class="custom-control-label">70160 Nasal bones, complete, minimum of 3 views</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="7" id="u7">
                                                <span class="custom-control-label">70360 Neck, soft tissue</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="8" id="u8">
                                                <span class="custom-control-label">72040 Spine,cervical; 2 or 3 views</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="9" id="u9">
                                                <span class="custom-control-label">72070 Spine; tharocic, 2 views</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="10" id="u10">
                                                <span class="custom-control-label">72100 Spine, lumbosacral; 2 or 3 views</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="11" id="u11">
                                                <span class="custom-control-label">2080 Spine; thoracolumbar , 2 views</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="12" id="u12">
                                                <span class="custom-control-label">2220 Sacrum and coccyx, minimum of 2 views</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="13" id="u13">
                                                <span class="custom-control-label">72200 Sacroiliac joints; less than 3 views</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="14" id="u14">
                                                <span class="custom-control-label">73000 Clavicle, complete</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="15" id="u15">
                                                <span class="custom-control-label">73030 Shoulder; complete, minimum of 2 views</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="16" id="u16">
                                                <span class="custom-control-label">73060 Humerus-minimum of 2 views</span>
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">
                                            &nbsp;
                                        </label>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="17" id="u17">
                                                <span class="custom-control-label">73070 Elbow; 2 views</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="18" id="u18">
                                                <span class="custom-control-label">73090 Forearm, 2 views</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="19" id="u19">
                                                <span class="custom-control-label">73100 Wrist; 2 views</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="20" id="u20">
                                                <span class="custom-control-label">73140 Finger(s),minimum of 2 views</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="22" id="u22">
                                                <span class="custom-control-label">72170 Pelvis; 1 or 2 views</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="22" id="u22">
                                                <span class="custom-control-label">73510 Hip, unilateral; complete minimum of 2 views</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="23" id="u23">
                                                <span class="custom-control-label">73550 Femur, 2 views</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="24" id="u24">
                                                <span class="custom-control-label">73590 Tibia and fibula, 2 views</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="25" id="u25">
                                                <span class="custom-control-label">73560 Knee; 1 or 2 views</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="26" id="u26">
                                                <span class="custom-control-label">73600 Ankle; 2 views</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="27" id="u27">
                                                <span class="custom-control-label">73650 Calcaneus-minimum of 2 views</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="28" id="u28">
                                                <span class="custom-control-label">73620 Foot; 2 views</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="29" id="u29">
                                                <span class="custom-control-label">73660 Toe(s), minimum of 2 views</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="30" id="u30">
                                                <span class="custom-control-label">02601 Panorama</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="31" id="u31">
                                                <span class="custom-control-label">02701 Cephalomerty lateral</span>
                                            </label>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">Ultrasound study&nbsp;</label>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="32" id="u32">
                                                <span class="custom-control-label">76700 USG- abdominal -complete</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="33" id="u33">
                                                <span class="custom-control-label">76705 USG- abdominal - limited or follow-up</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="34" id="u34">
                                                <span class="custom-control-label">76770 USG- KUB/ retropertitoneal -complete</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="35" id="u35">
                                                <span class="custom-control-label">76775 USG- KUB/ retroperitoneal -limited</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="36" id="u36">
                                                <span class="custom-control-label">76856 USG- pelvic - complete</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="37" id="u37">
                                                <span class="custom-control-label">76857 USG- pelvic - limited or follow - up</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="38" id="u38">
                                                <span class="custom-control-label">76801 USG- OB- first trimester < 14 weeks</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="38" id="u38">
                                                <span class="custom-control-label">76805 USG-OB> or = 14 weeks</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="39" id="u39">
                                                <span class="custom-control-label">76811 USG-OB>or= 14 weeks -fetal and maternal evaluation plus detailed fetal anatomic examination</span>
                                            </label>
                                        </div>


                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">&nbsp;</label>

                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="40" id="u40">
                                                <span class="custom-control-label">76870 USG- scrotum and contents</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="41" id="u41">
                                                <span class="custom-control-label">76881 USG- extremity, nonvascular- complete</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="42" id="u42">
                                                <span class="custom-control-label">76882 USG- extremity, nonvascular -limited</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="43" id="u43">
                                                <span class="custom-control-label">76604 USG- chest(includes mediastinum)</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="44" id="u44">
                                                <span class="custom-control-label">76645 USG- breast(s) (unilateral or bilateral)</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="45" id="u45">
                                                <span class="custom-control-label">76536 USG- soft tissuses of head and neck</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="46" id="u46">
                                                <span class="custom-control-label">76604 USG- soft tissuses of chest/ upper back</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="47" id="u47">
                                                <span class="custom-control-label">76705 USG- soft tissuses of abdomen/ lower back</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="48" id="u48">
                                                <span class="custom-control-label">76857 USG- soft tissuses of buttocks/ pelvic</span>
                                            </label>
                                        </div>
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="49" id="u49">
                                                <span class="custom-control-label">76882 USG- soft tissues of axilIa/groin/upper extremity/ lower extremity</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group mb-3"><label class="form-label text-black">Patient or Legal Guardian Name:&nbsp;</label></div>
                                    <div class="form-group mb-3"><label class="form-label text-red text-capitalize text-left">@Model.pat_name&nbsp;</label></div>
                                    <div class="form-group mb-3"><label class="form-label text-black">Signature:&nbsp;</label></div>
                                    <div class="form-group mb-3 "  id="patimg"><img alt="Signature" src="" id="pat_sign" class="avatar avatar-xl bsquare" /></div>
                                    <div class="form-group mb-3"><label class="form-label text-black">Date:&nbsp;</label></div>
                                    <div class="form-group mb-3"><label class="form-label text-red text-left" id="upsb_date_patient" name="">&nbsp;</label></div>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group mb-3"><label class="form-label text-black">Witness or Interpreter’s Name:&nbsp;</label></div>
                                    <div class="form-group mb-3 col-sm-4 col-md-4 col-lg-4 ">
                                        <label class="form-label text-black text-left">@Model.rdrf_witness&nbsp;</label>
                                    </div>
                                    <div class="form-group mb-3"><label class="form-label text-black">Signature:&nbsp;</label></div>
                                    <div class="form-group mb-3"  id="witimg"><img alt="Signature" src="" id="wit_sign" class="avatar avatar-xl bsquare" /></div>
                                    <div class="form-group mb-3"><label class="form-label text-black">Date:&nbsp;</label></div>
                                    <div class="form-group mb-3">
                                        <label class="form-label text-red text-left" id="upsb_date_witness" name="">&nbsp;</label>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group mb-3"><label class="form-label text-black">Physician’s name:&nbsp;</label></div>
                                    <div class="form-group mb-3"><label class="form-label text-red text-capitalize text-left">@Model.doctor_name&nbsp;</label></div>
                                    <div class="form-group mb-3"><label class="form-label text-black">Signature:&nbsp;</label></div>
                                    <div class="form-group mb-3 " id="docsign">
                                        <img alt="Signature" src="@Model.doc_sign" id="udoc_sign" class="avatar avatar-xl bsquare" />
                                        <img alt="stamp" src="@Model.doc_stamp" id="udoc_stamp" class="avatar avatar-xl bsquare" />
                                    </div>
                                    <div class="form-group mb-3"><label class="form-label text-black">Date:&nbsp;</label></div>
                                    <div class="form-group mb-3"><label class="form-label text-red text-left" id="urdrf_date_doctor">@Model.rdrf_date_created</label></div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <img src="@Model.set_footer_image" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
          GetSignaturename( 'patient');
          GetSignaturename('Witness');
        var data = "@Model.rdrf_radio";
        var x = data.split(",");
        if (x != "") {
            if (x.includes("1")) {
                $('#u1').attr('checked', 'checked');
                $("#u1").prop("checked", true);
            }
            if (x.includes("2")) {
                $('#u2').attr('checked', 'checked');
                $("#u2").prop("checked", true);
            }
            if (x.includes("3")) {
                $('#u3').attr('checked', 'checked');
                $("#u3").prop("checked", true);
            }
            if (x.includes("4")) {
                $('#u4').attr('checked', 'checked');
                $("#u4").prop("checked", true);
            }
            if (x.includes("5")) {
                $('#u5').attr('checked', 'checked');
                $("#u5").prop("checked", true);
            }
            if (x.includes("6")) {
                $('#u6').attr('checked', 'checked');
                $("#u6").prop("checked", true);
            }
            if (x.includes("7")) {
                $('#u7').attr('checked', 'checked');
                $("#u7").prop("checked", true);
            }
            if (x.includes("8")) {
                $('#u8').attr('checked', 'checked');
                $("#u8").prop("checked", true);
            }
            if (x.includes("9")) {
                $('#u9').attr('checked', 'checked');
                $("#u9").prop("checked", true);
            }
            if (x.includes("10")) {
                $('#u10').attr('checked', 'checked');
                $("#u10").prop("checked", true);
            }
            if (x.includes("11")) {
                $('#u11').attr('checked', 'checked');
                $("#u11").prop("checked", true);
            }
            if (x.includes("12")) {
                $('#u12').attr('checked', 'checked');
                $("#u12").prop("checked", true);
            }
            if (x.includes("13")) {
                $('#u13').attr('checked', 'checked');
                $("#u13").prop("checked", true);
            }
            if (x.includes("14")) {
                $('#u14').attr('checked', 'checked');
                $("#u14").prop("checked", true);
            }
            if (x.includes("15")) {
                $('#u15').attr('checked', 'checked');
                $("#u15").prop("checked", true);
            }
            if (x.includes("16")) {
                $('#u16').attr('checked', 'checked');
                $("#u16").prop("checked", true);
            }
            if (x.includes("17")) {
                $('#u17').attr('checked', 'checked');
                $("#u17").prop("checked", true);
            }
            if (x.includes("18")) {
                $('#u18').attr('checked', 'checked');
                $("#u18").prop("checked", true);
            }
            if (x.includes("19")) {
                $('#u19').attr('checked', 'checked');
                $("#u19").prop("checked", true);
            }
            if (x.includes("20")) {
                $('#u20').attr('checked', 'checked');
                $("#u20").prop("checked", true);
            }
            if (x.includes("21")) {
                $('#u21').attr('checked', 'checked');
                $("#u21").prop("checked", true);
            }
            if (x.includes("22")) {
                $('#u22').attr('checked', 'checked');
                $("#u22").prop("checked", true);
            }
            if (x.includes("23")) {
                $('#u23').attr('checked', 'checked');
                $("#u23").prop("checked", true);
            }
            if (x.includes("24")) {
                $('#u24').attr('checked', 'checked');
                $("#u24").prop("checked", true);
            }
            if (x.includes("25")) {
                $('#u25').attr('checked', 'checked');
                $("#u25").prop("checked", true);
            }
            if (x.includes("26")) {
                $('#u26').attr('checked', 'checked');
                $("#u26").prop("checked", true);
            }
            if (x.includes("27")) {
                $('#u27').attr('checked', 'checked');
                $("#u27").prop("checked", true);
            }
            if (x.includes("28")) {
                $('#u28').attr('checked', 'checked');
                $("#u28").prop("checked", true);
            }
            if (x.includes("29")) {
                $('#u29').attr('checked', 'checked');
                $("#u29").prop("checked", true);
            }
            if (x.includes("30")) {
                $('#u30').attr('checked', 'checked');
                $("#u30").prop("checked", true);
            }
            if (x.includes("31")) {
                $('#u31').attr('checked', 'checked');
                $("#u31").prop("checked", true);
            }
            if (x.includes("32")) {
                $('#u32').attr('checked', 'checked');
                $("#u32").prop("checked", true);
            }
            if (x.includes("33")) {
                $('#u33').attr('checked', 'checked');
                $("#u33").prop("checked", true);
            }
            if (x.includes("34")) {
                $('#u34').attr('checked', 'checked');
                $("#u34").prop("checked", true);
            }
            if (x.includes("35")) {
                $('#u35').attr('checked', 'checked');
                $("#u35").prop("checked", true);
            }
            if (x.includes("36")) {
                $('#u36').attr('checked', 'checked');
                $("#u36").prop("checked", true);
            }
            if (x.includes("37")) {
                $('#u37').attr('checked', 'checked');
                $("#u37").prop("checked", true);
            }
            if (x.includes("38")) {
                $('#u38').attr('checked', 'checked');
                $("#u38").prop("checked", true);
            }
            if (x.includes("39")) {
                $('#u39').attr('checked', 'checked');
                $("#u39").prop("checked", true);
            }
            if (x.includes("40")) {
                $('#u40').attr('checked', 'checked');
                $("#u40").prop("checked", true);
            }
            if (x.includes("41")) {
                $('#u41').attr('checked', 'checked');
                $("#u41").prop("checked", true);
            }
            if (x.includes("42")) {
                $('#u42').attr('checked', 'checked');
                $("#u42").prop("checked", true);
            }
            if (x.includes("43")) {
                $('#u43').attr('checked', 'checked');
                $("#u43").prop("checked", true);
            }
            if (x.includes("44")) {
                $('#u44').attr('checked', 'checked');
                $("#u44").prop("checked", true);
            }
            if (x.includes("45")) {
                $('#u45').attr('checked', 'checked');
                $("#u45").prop("checked", true);
            }
            if (x.includes("46")) {
                $('#u46').attr('checked', 'checked');
                $("#u46").prop("checked", true);
            }
            if (x.includes("47")) {
                $('#u47').attr('checked', 'checked');
                $("#u47").prop("checked", true);
            }
            if (x.includes("48")) {
                $('#u48').attr('checked', 'checked');
                $("#u48").prop("checked", true);
            }
            if (x.includes("49")) {
                $('#u49').attr('checked', 'checked');
                $("#u49").prop("checked", true);
            }
        }
    });
     //#region Get Signature
        var GetSignaturename = function ( person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + "@Model.rdrf_appId" + '&person=' + person + '&form="RadiologyRequest"',
                    type: "GET",
                    dataType: "json",
                    async: false,
                success: function (response) {
                    console.log(response);
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY HH:mm");
                    if (response[0].person == "patient") {
                        $("#patimg").show();
                        $("#pat_sign").attr("src", sign);
                        $("#upsb_date_patient").text(date);
                    }
                    if (response[0].person == "witness") {
                        $("#witimg").show();
                        $("#wit_sign").attr("src", sign);
                        $("#upsb_date_witness").text(date);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
    //#endregion Get Signature
</script>