@model BusinessEntities.EMR.RadiologyRequest
@using BusinessEntities;
@using System.Linq;
@using System.Security.Claims;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
    ViewBag.Title = "Index";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
}

<div class="row">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong>Error!&nbsp;</strong>@TempData["ErrorMessage"]
            </div>
        </div>
    }
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">

            <div class="card-body">
                <div>
                    <form id="form_RadioDecision" autocomplete="off" name="RadiologyRequest" ondrop="return false;" onpaste="return false;" oncut="return false;">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.rdrf_Id, new { @id = "urdrf_Id", @value = "@Model.rdrf_Id" })
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 mb-4 font-weight-semibold">
                                <span class='badge bg-danger'>Required</span>
                                <span class="text-info" style="font-size:smaller">Please Fill atlest One Entry</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 mb-4 ">
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div>
                                            <h4 class="page-title mb-0 text-primary">
                                                Radiology Request
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="form-group mb-3">
                                            <label class="form-label">Clinical Findings&nbsp;</label>
                                            @Html.TextAreaFor(m => m.rdrf_finding, new { @class = "form-control", @placeholder = "Enter Clinical Findings", @row = "4", @id = "urdrf_finding" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="xray_ultra">
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <div class="form-group">
                                            <label class="form-label">
                                                Plain x-ray&nbsp;
                                            </label>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="1" id="u1">
                                                    <span class="custom-control-label">71010 Chest; single views, frontal</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="2" id="u2">
                                                    <span class="custom-control-label">71020 Chest, g views, frontal and lateral;</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="3" id="u3">
                                                    <span class="custom-control-label">74000 Abdomen; single anteroposterior views</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="4" id="u4">
                                                    <span class="custom-control-label">70250 Skull; less than 4 views</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="5" id="u5">
                                                    <span class="custom-control-label">70210 Sinuses, paranasal,Iess than 3 Views</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="6" id="u6">
                                                    <span class="custom-control-label">70160 Nasal bones, complete, minimum of 3 views</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="7" id="u7">
                                                    <span class="custom-control-label">70360 Neck, soft tissue</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="8" id="u8">
                                                    <span class="custom-control-label">72040 Spine,cervical; 2 or 3 views</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="9" id="u9">
                                                    <span class="custom-control-label">72070 Spine; tharocic, 2 views</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="10" id="u10">
                                                    <span class="custom-control-label">72100 Spine, lumbosacral; 2 or 3 views</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="11" id="u11">
                                                    <span class="custom-control-label">2080 Spine; thoracolumbar , 2 views</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="12" id="u12">
                                                    <span class="custom-control-label">2220 Sacrum and coccyx, minimum of 2 views</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="13" id="u13">
                                                    <span class="custom-control-label">72200 Sacroiliac joints; less than 3 views</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="14" id="u14">
                                                    <span class="custom-control-label">73000 Clavicle, complete</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="15" id="u15">
                                                    <span class="custom-control-label">73030 Shoulder; complete, minimum of 2 views</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="16" id="u16">
                                                    <span class="custom-control-label">73060 Humerus-minimum of 2 views</span>
                                                </label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <div class="form-group">
                                            <label class="form-label">
                                                &nbsp;
                                            </label>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="17" id="u17">
                                                    <span class="custom-control-label">73070 Elbow; 2 views</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="18" id="u18">
                                                    <span class="custom-control-label">73090 Forearm, 2 views</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="19" id="u19">
                                                    <span class="custom-control-label">73100 Wrist; 2 views</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="20" id="u20">
                                                    <span class="custom-control-label">73140 Finger(s),minimum of 2 views</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="22" id="u22">
                                                    <span class="custom-control-label">72170 Pelvis; 1 or 2 views</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="22" id="u22">
                                                    <span class="custom-control-label">73510 Hip, unilateral; complete minimum of 2 views</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="23" id="u23">
                                                    <span class="custom-control-label">73550 Femur, 2 views</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="24" id="u24">
                                                    <span class="custom-control-label">73590 Tibia and fibula, 2 views</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="25" id="u25">
                                                    <span class="custom-control-label">73560 Knee; 1 or 2 views</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="26" id="u26">
                                                    <span class="custom-control-label">73600 Ankle; 2 views</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="27" id="u27">
                                                    <span class="custom-control-label">73650 Calcaneus-minimum of 2 views</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="28" id="u28">
                                                    <span class="custom-control-label">73620 Foot; 2 views</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="29" id="u29">
                                                    <span class="custom-control-label">73660 Toe(s), minimum of 2 views</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="30" id="u30">
                                                    <span class="custom-control-label">02601 Panorama</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="31" id="u31">
                                                    <span class="custom-control-label">02701 Cephalomerty lateral</span>
                                                </label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <div class="form-group">
                                            <label class="form-label">Ultrasound study&nbsp;</label>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="32" id="u32">
                                                    <span class="custom-control-label">76700 USG- abdominal -complete</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="33" id="u33">
                                                    <span class="custom-control-label">76705 USG- abdominal - limited or follow-up</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="34" id="u34">
                                                    <span class="custom-control-label">76770 USG- KUB/ retropertitoneal -complete</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="35" id="u35">
                                                    <span class="custom-control-label">76775 USG- KUB/ retroperitoneal -limited</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="36" id="u36">
                                                    <span class="custom-control-label">76856 USG- pelvic - complete</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="37" id="u37">
                                                    <span class="custom-control-label">76857 USG- pelvic - limited or follow - up</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="38" id="u38">
                                                    <span class="custom-control-label">76801 USG- OB- first trimester < 14 weeks</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="38" id="u38">
                                                    <span class="custom-control-label">76805 USG-OB> or = 14 weeks</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="39" id="u39">
                                                    <span class="custom-control-label">76811 USG-OB>or= 14 weeks -fetal and maternal evaluation plus detailed fetal anatomic examination</span>
                                                </label>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <div class="form-group">
                                            <label class="form-label">&nbsp;</label>

                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="40" id="u40">
                                                    <span class="custom-control-label">76870 USG- scrotum and contents</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="41" id="u41">
                                                    <span class="custom-control-label">76881 USG- extremity, nonvascular- complete</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="42" id="u42">
                                                    <span class="custom-control-label">76882 USG- extremity, nonvascular -limited</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="43" id="u43">
                                                    <span class="custom-control-label">76604 USG- chest(includes mediastinum)</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="44" id="u44">
                                                    <span class="custom-control-label">76645 USG- breast(s) (unilateral or bilateral)</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="45" id="u45">
                                                    <span class="custom-control-label">76536 USG- soft tissuses of head and neck</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="46" id="u46">
                                                    <span class="custom-control-label">76604 USG- soft tissuses of chest/ upper back</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="47" id="u47">
                                                    <span class="custom-control-label">76705 USG- soft tissuses of abdomen/ lower back</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="48" id="u48">
                                                    <span class="custom-control-label">76857 USG- soft tissuses of buttocks/ pelvic</span>
                                                </label>
                                            </div>
                                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                                <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                    <input type="checkbox" class="custom-control-input" name="rdrf_radio" value="49" id="u49">
                                                    <span class="custom-control-label">76882 USG- soft tissues of axilIa/groin/upper extremity/ lower extremity</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group mb-3"><label class="form-label text-black">Patient or Legal Guardian Name:&nbsp;</label></div>
                                        <div class="form-group mb-3"><label class="form-label text-red text-capitalize text-left">@emr.pat_name&nbsp;</label></div>
                                        <div class="form-group mb-3"><label class="form-label text-black">Signature:&nbsp;</label></div>
                                        <div class="form-group mb-3 "  id="patimg"><img alt="Signature" src="" id="pat_sign" class="avatar avatar-xl bsquare" /></div>
                                        <div class="form-group mb-3"><label class="form-label text-black">Date:&nbsp;</label></div>
                                        <div class="form-group mb-3"><label class="form-label text-red text-left" id="upsb_date_patient" name="">&nbsp;</label></div>
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group mb-3"><label class="form-label text-black">Witness or Interpreter’s Name:&nbsp;</label></div>
                                        <div class="form-group mb-3 col-sm-4 col-md-4 col-lg-4 ">
                                            @Html.TextBoxFor(m => m.rdrf_witness, new { @class = "form-control", @placeholder = "Enter Witness", @id = "urdrf_witness", @width = "20px" })
                                        </div>
                                        <div class="form-group mb-3"><label class="form-label text-black">Signature:&nbsp;</label></div>
                                        <div class="form-group mb-3"  id="witimg"><img alt="Signature" src="" id="wit_sign" class="avatar avatar-xl bsquare" /></div>
                                        <div class="form-group mb-3"><label class="form-label text-black">Date:&nbsp;</label></div>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-red text-left" id="upsb_date_witness" name="">&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                        <div class="form-group mb-3"><label class="form-label text-black">Physician’s name:&nbsp;</label></div>
                                        <div class="form-group mb-3"><label class="form-label text-red text-capitalize text-left">&nbsp;</label></div>
                                        <div class="form-group mb-3"><label class="form-label text-black">Signature:&nbsp;</label></div>
                                        <div class="form-group mb-3 " style="display:none" id="docsign">
                                            <img alt="Signature" src="@Model.doc_sign" id="udoc_sign" class="avatar avatar-xl bsquare" />
                                            <img alt="stamp" src="@Model.doc_stamp" id="udoc_stamp" class="avatar avatar-xl bsquare" />
                                        </div>
                                        <div class="form-group mb-3"><label class="form-label text-black">Date:&nbsp;</label></div>
                                        <div class="form-group mb-3"><label class="form-label text-red text-left" id="urdrf_date_doctor">&nbsp;</label></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-lg-12 text-center">
                                        <div class="btn-list btn-animation">
                                            <div class="btn-group mr-2">
                                                <div class="dropdown">
                                                    <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                                        <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                                        <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="btn-group mr-2">
                                                <div class="dropdown">
                                                    <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                                        <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> witness
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" onclick="openSignaturePad('witness')">Tab</a>
                                                        <a class="dropdown-item" onclick="openWacomTabSignaturePad('witness')">Wacom Tab</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn btn-sm btn-success" id="btn_Insert_RadioDeci">Add</button>
                                            <button type="submit" class="btn btn-sm btn-outline-warning" id="btn_Update_RadioDeci">Save Changes</button>
                                            <button type="submit" class="btn btn-sm btn-outline-danger" id="btn_Delete_RadioDeci">Delete</button>
                                            <button type="button" class="btn btn-sm btn-outline-light" id="btn_Print_RadioDeci" onclick="PrintRadiology()">
                                                <i class="fa fa-print">&nbsp;&nbsp;</i>Print
                                            </button>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div>
                    <h4 class="page-title mb-0 text-primary">
                        Previous History
                    </h4>
                </div>
                <div class="table-responsive">
                    <table id="tbl_PreRadiologyRequest" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #808080; border-color: #3C457D; ">
                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Date</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Doctor</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@*@section myScripts{*@
<script>
        //#region Page Load
        var formName1 = $(form_RadioDecision).closest('form').attr('name');
        $(function () {
            GetPreviousRadiologyRequest();
            GetRadiologyRequest();
            validate();

            if ("@emp_designation.ToString()" === "Super Administrator") {
               $("#btn_Insert_RadioDeci").show();
            } else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Insert_RadioDeci").show();
                }
                else {

                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Insert_RadioDeci").show();
                    }
                    else {
                        $("#btn_Insert_RadioDeci").hide();
                    }
                }
            }
            $("#btn_Update_RadioDeci,#btn_Delete_RadioDeci,#btn_Print_RadioDeci").hide();
        });
    //#endregion Page Load

    //#region Load Radiology Request
        var GetRadiologyRequest = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllRadiologyRequest", "RadiologyRequest", new { area = "EMR" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        var _data = response;
                        if (response[0].rdrf_Id > 0) {
                            $('#urdrf_Id').val(response[0].rdrf_Id);
                            $('#urdrf_witness').val(response[0].rdrf_witness);
                            GetCheckedValues(response[0].rdrf_radio);
                            GetSignaturename('patient');
                            GetSignaturename('Witness');
                            $("#docsign").show();
                            $('#urdrf_date_doctor').text(moment(response[0].rdrf_date_created).format("DD-MM-YYYY HH:mm"));
                            if ("@emp_designation.ToString()" === "Super Administrator") {
                                $("#btn_Update_RadioDeci,#btn_Delete_RadioDeci,#btn_Print_RadioDeci").show();
                            } else {
                                if ("@emr.set_emr_lock" == "NoLock") {
                                    $("#btn_Update_RadioDeci,#btn_Delete_RadioDeci,#btn_Print_RadioDeci").show();

                                }
                                else {
                                    if ("@emr.app_ae_date" >= "@emr.today") {
                                        $("#btn_Update_RadioDeci,#btn_Delete_RadioDeci,#btn_Print_RadioDeci").show();
                                    }
                                    else {
                                        $("#btn_Update_RadioDeci,#btn_Delete_RadioDeci,#btn_Print_RadioDeci").hide();
                                    }
                                }
                            }
                            $("#btn_Insert_RadioDeci").hide();

                        }
                        else {
                            if ("@emp_designation.ToString()" === "Super Administrator") {
                                $("#btn_Insert_RadioDeci").show();
                            }
                            else {
                                if ("@emr.set_emr_lock" == "NoLock") {

                                    $("#btn_Insert_RadioDeci").show();

                                }
                                else {
                                    if ("@emr.app_ae_date" >= "@emr.today") {
                                        $("#btn_Insert_RadioDeci").show();
                                    }
                                    else {
                                        $("#btn_Insert_RadioDeci").hide();
                                    }
                                }
                            }
                            $("#btn_Update_RadioDeci,#btn_Delete_RadioDeci,#btn_Print_RadioDeci").hide();
                        }

                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion Load Radiology Request

        //#region Get CheckedValues
        var GetCheckedValues = function (checknames) {
            var data = checknames;
            if (checknames !== null) {
                var x = data.split(",");

            if (x != "") {
                if (x.includes("1")) {
                    $('#u1').attr('checked', 'checked');
                    $("#u1").prop("checked", true);
                }
                if (x.includes("2")) {
                    $('#u2').attr('checked', 'checked');
                    $("#u2").prop("checked", true);
                }
                if (x.includes("3")) {
                    $('#u3').attr('checked', 'checked');
                    $("#u3").prop("checked", true);
                }
                if (x.includes("4")) {
                    $('#u4').attr('checked', 'checked');
                    $("#u4").prop("checked", true);
                }
                if (x.includes("5")) {
                    $('#u5').attr('checked', 'checked');
                    $("#u5").prop("checked", true);
                }
                if (x.includes("6")) {
                    $('#u6').attr('checked', 'checked');
                    $("#u6").prop("checked", true);
                }
                if (x.includes("7")) {
                    $('#u7').attr('checked', 'checked');
                    $("#u7").prop("checked", true);
                }
                if (x.includes("8")) {
                    $('#u8').attr('checked', 'checked');
                    $("#u8").prop("checked", true);
                }
                if (x.includes("9")) {
                    $('#u9').attr('checked', 'checked');
                    $("#u9").prop("checked", true);
                }
                if (x.includes("10")) {
                    $('#u10').attr('checked', 'checked');
                    $("#u10").prop("checked", true);
                }
                if (x.includes("11")) {
                    $('#u11').attr('checked', 'checked');
                    $("#u11").prop("checked", true);
                }
                if (x.includes("12")) {
                    $('#u12').attr('checked', 'checked');
                    $("#u12").prop("checked", true);
                }
                if (x.includes("13")) {
                    $('#u13').attr('checked', 'checked');
                    $("#u13").prop("checked", true);
                }
                if (x.includes("14")) {
                    $('#u14').attr('checked', 'checked');
                    $("#u14").prop("checked", true);
                }
                if (x.includes("15")) {
                    $('#u15').attr('checked', 'checked');
                    $("#u15").prop("checked", true);
                }
                if (x.includes("16")) {
                    $('#u16').attr('checked', 'checked');
                    $("#u16").prop("checked", true);
                }
                if (x.includes("17")) {
                    $('#u17').attr('checked', 'checked');
                    $("#u17").prop("checked", true);
                }
                if (x.includes("18")) {
                    $('#u18').attr('checked', 'checked');
                    $("#u18").prop("checked", true);
                }
                if (x.includes("19")) {
                    $('#u19').attr('checked', 'checked');
                    $("#u19").prop("checked", true);
                }
                if (x.includes("20")) {
                    $('#u20').attr('checked', 'checked');
                    $("#u20").prop("checked", true);
                }
                if (x.includes("21")) {
                    $('#u21').attr('checked', 'checked');
                    $("#u21").prop("checked", true);
                }
                if (x.includes("22")) {
                    $('#u22').attr('checked', 'checked');
                    $("#u22").prop("checked", true);
                }
                if (x.includes("23")) {
                    $('#u23').attr('checked', 'checked');
                    $("#u23").prop("checked", true);
                }
                if (x.includes("24")) {
                    $('#u24').attr('checked', 'checked');
                    $("#u24").prop("checked", true);
                }
                if (x.includes("25")) {
                    $('#u25').attr('checked', 'checked');
                    $("#u25").prop("checked", true);
                }
                if (x.includes("26")) {
                    $('#u26').attr('checked', 'checked');
                    $("#u26").prop("checked", true);
                }
                if (x.includes("27")) {
                    $('#u27').attr('checked', 'checked');
                    $("#u27").prop("checked", true);
                }
                if (x.includes("28")) {
                    $('#u28').attr('checked', 'checked');
                    $("#u28").prop("checked", true);
                }
                if (x.includes("29")) {
                    $('#u29').attr('checked', 'checked');
                    $("#u29").prop("checked", true);
                }
                if (x.includes("30")) {
                    $('#u30').attr('checked', 'checked');
                    $("#u30").prop("checked", true);
                }
                if (x.includes("31")) {
                    $('#u31').attr('checked', 'checked');
                    $("#u31").prop("checked", true);
                }
                if (x.includes("32")) {
                    $('#u32').attr('checked', 'checked');
                    $("#u32").prop("checked", true);
                }
                if (x.includes("33")) {
                    $('#u33').attr('checked', 'checked');
                    $("#u33").prop("checked", true);
                }
                if (x.includes("34")) {
                    $('#u34').attr('checked', 'checked');
                    $("#u34").prop("checked", true);
                }
                if (x.includes("35")) {
                    $('#u35').attr('checked', 'checked');
                    $("#u35").prop("checked", true);
                }
                if (x.includes("36")) {
                    $('#u36').attr('checked', 'checked');
                    $("#u36").prop("checked", true);
                }
                if (x.includes("37")) {
                    $('#u37').attr('checked', 'checked');
                    $("#u37").prop("checked", true);
                }
                if (x.includes("38")) {
                    $('#u38').attr('checked', 'checked');
                    $("#u38").prop("checked", true);
                }
                if (x.includes("39")) {
                    $('#u39').attr('checked', 'checked');
                    $("#u39").prop("checked", true);
                }
                if (x.includes("40")) {
                    $('#u40').attr('checked', 'checked');
                    $("#u40").prop("checked", true);
                }
                if (x.includes("41")) {
                    $('#u41').attr('checked', 'checked');
                    $("#u41").prop("checked", true);
                }
                if (x.includes("42")) {
                    $('#u42').attr('checked', 'checked');
                    $("#u42").prop("checked", true);
                }
                if (x.includes("43")) {
                    $('#u43').attr('checked', 'checked');
                    $("#u43").prop("checked", true);
                }
                if (x.includes("44")) {
                    $('#u44').attr('checked', 'checked');
                    $("#u44").prop("checked", true);
                }
                if (x.includes("45")) {
                    $('#u45').attr('checked', 'checked');
                    $("#u45").prop("checked", true);
                }
                if (x.includes("46")) {
                    $('#u46').attr('checked', 'checked');
                    $("#u46").prop("checked", true);
                }
                if (x.includes("47")) {
                    $('#u47').attr('checked', 'checked');
                    $("#u47").prop("checked", true);
                }
                if (x.includes("48")) {
                    $('#u48').attr('checked', 'checked');
                    $("#u48").prop("checked", true);
                }
                if (x.includes("49")) {
                    $('#u49').attr('checked', 'checked');
                    $("#u49").prop("checked", true);
                }
            }
            }
        }
    //#endregion Get CheckedValues

     //#region Load PreviousRadiologyRequest
        var GetPreviousRadiologyRequest = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllPreRadiologyRequest", "RadiologyRequest", new { area = "EMR" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.isAuthorized != false) {
                        var table;
                        if ($.fn.dataTable.isDataTable('#tbl_PreRadiologyRequest')) {
                            table = $('#tbl_PreRadiologyRequest').DataTable();
                            table.clear();
                            table.rows.add(response).draw();
                        }
                        else {
                            console.log(response);
                            BindDataTableP(response);
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion Load PreviousRadiologyRequest

        //#region Previous Bind Datatable
        var BindDataTableP = function (response) {
            var table = $("#tbl_PreRadiologyRequest").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                processing: true,
                "deferRender": true,
                "pageLength": 100,
                "retrieve": true,
                lengthChange: true,
                "aaData": response,
                "aoColumns": [
                    {
                        "mData": "rdrf_Id",
                        "orderable": false,
                        "searchable": false,
                        "className": "text-center",
                        "render": function (data, type, row, meta) {
                            let _index = (meta.row) + 1;
                            if (_index >= 10) {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>" + _index + "</a>";
                            }
                            else {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>0" + _index + "</a>";
                            }
                        }
                    },

                    {
                        "mData": "app_fdate",
                        "className": "text-left",
                        "render": function (data) {
                            return moment(data).format('DD-MM-YYYY')
                        }
                    },
                    {
                        "mData": "doctor_name",
                        "className": 'text-justify text-wrap'
                    },

                    {
                        "mData": "rdrf_Id",
                        "className": 'btn-view text-center',
                        "orderable": false,
                        "searchable": false,
                        "render": function (rdrf_Id, type, full, meta) {
                            var Action = '';
                            //View Details
                            Action += '<a id=btn_View_Radiology onclick="PrintRadio(' + full.rdrf_Id + ')" ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">  <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>  <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/></svg></a> ';

                            return Action;
                        }
                    },
                ],
                order: [[0, 'asc']],
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '<span class="text-primary font-weight-semi-bold">Search By Code/Tittle</span>',
                    lengthMenu: '_MENU_',
                    scrollX: "100%",
                },
                scrollX: true,
                scrollY: 500,
                scrollCollapse: true,
                buttons: [
                    {
                        extend: 'excel',
                        title: 'Previous Radiology Request',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2, 3]
                        }
                    },
                    {
                        extend: 'pdf',
                        title: 'Previous Radiology Request',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2, 3]
                        }
                    },
                    {
                        extend: 'csv',
                        title: 'Previous Radiology Request',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2, 3]
                        }
                    },
                    {
                        extend: 'print',
                        title: 'Previous Radiology Request',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2, 3]
                        }
                    }
                ]
            });
            table.buttons().container().appendTo('#tbl_PreRadiologyRequest_wrapper .col-md-6:eq(0)');
        };
    //#endregion Previous Bind Datatable
        // #region Validation Initialization
        var validate = function () {
            $("#form_RadioDecision").validate({
                rules: {
                    rdrf_finding: {
                        required: true
                    },

                },
                messages: {
                    rdrf_finding: {
                        required: "Please Enter Clinical Findings!"
                    },

                },
                highlight: function (element) {
                    var elem = $(element);
                    $(element).parent().addClass('has-error');
                },
                unhighlight: function (element) {
                    var elem = $(element);
                    $(element).parent().removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'text-danger fw-bold',
                errorPlacement: function (error, element) {
                    var elem = $(element);
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

        }
    //#endregion Validation Initialization
    //#region Add  Click
        $('#btn_Insert_RadioDeci').on('click', function (e) {
            e.preventDefault();
            var rdrf_radio_ = $.map($(':checkbox[name=rdrf_radio]:checked'), function (n, i) {
                return n.value;
            }).join(',');
            /* if ((rdrf_radio_ != "") && ($("#urdrf_finding").val() != "")) {*/
            if ($("#form_RadioDecision").valid()) {
                $('#btn_Insert_RadioDeci').removeClass("btn btn-success");
                $('#btn_Insert_RadioDeci').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Insert_RadioDeci').html("Saving the Record....");


                var _dateInsert = {
                    "rdrf_Id": 0,
                    "rdrf_appId": @emr.appId,
                    "rdrf_finding": $("#urdrf_finding").val(),
                    "rdrf_witness": $("#urdrf_witness").val(),
                    "rdrf_radio": rdrf_radio_,
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                $.ajax({
                    type: "Post",
                    url: "@Url.Action("InsertRadiologyRequest", "RadiologyRequest", new {area = "EMR" })",
                    dataType: 'JSON',
                    data: _dateInsert,
                    success: function (data) {
                        $('#btn_Insert_RadioDeci').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Insert_RadioDeci').addClass("btn btn-success");
                        $('#btn_Insert_RadioDeci').html("Add");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i>  Medical Decision Saved Successfully!", "success");
                                GetRadiologyRequest();
                                Timeout();
                            }
                            else {

                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. Medical Decision Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#Alert").html(html);
                            }
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Insert_RadioDeci').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Insert_RadioDeci').addClass("btn btn-success");
                        $('#btn_Insert_RadioDeci').html("Add");
                        Timeout();
                    }
                });

            }
            else {
                //error++;
                //$("#urdrf_finding").attr("style", "border:1px solid red;color:red;");
                //$("#xray_ultra").attr("style", "border:1px solid red;color:red;");
                //let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                //    "<div class='alert alert-danger' role='alert'>" +
                //    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                //    "<strong>Error.. One Entry Is Required to save the form..</strong><br/>" +
                //    "</div></div>";
                //$("#Alert").html(html);
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion Add Click

        // #region Validation Initialization
        var validate = function () {
            $("#form_RadioDecision").validate({
                rules: {
                    rdrf_finding: {
                        required: true
                    },

                },
                messages: {
                    rdrf_finding: {
                        required: "Please Enter Clinical Findings!"
                    },

                },
                highlight: function (element) {
                    var elem = $(element);
                    $(element).parent().addClass('has-error');
                },
                unhighlight: function (element) {
                    var elem = $(element);
                    $(element).parent().removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'text-danger fw-bold',
                errorPlacement: function (error, element) {
                    var elem = $(element);
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

        }
    //#endregion Validation Initialization

     //#region Update  Click
        $('#btn_Update_RadioDeci').on('click', function (e) {
            e.preventDefault();
            if ($("#form_RadioDecision").valid()) {
                $('#btn_Update_RadioDeci').removeClass("btn btn-sm btn-success");
                $('#btn_Update_RadioDeci').addClass("btn btn-sm btn-success btn-loaders btn-icon");
                $('#btn_Update_RadioDeci').html("Updating the Record....");

                var rdrf_radio_ = $.map($(':checkbox[name=rdrf_radio]:checked'), function (n, i) {
                    return n.value;
                }).join(',');
                var _dateInsert = {
                    "rdrf_Id": $("#urdrf_Id").val(),
                    "rdrf_appId": @emr.appId,
                    "rdrf_finding": $("#urdrf_finding").val(),
                    "rdrf_witness": $("#urdrf_witness").val(),
                    "rdrf_radio": rdrf_radio_,
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                $.ajax({
                        type: "Post",
                        url: "@Url.Action("UpdateRadiologyRequest", "RadiologyRequest", new {area = "EMR" })",
                        dataType: 'JSON',
                         data: _dateInsert,
                         success: function (data) {
                             $('#btn_Update_RadioDeci').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                             $('#btn_Update_RadioDeci').addClass("btn btn-sm btn-warning");
                             $('#btn_Update_RadioDeci').html("Save Changes");
                             if (data.isSuccess) {
                                if (data.isInserted) {
                                    var alertPlaceholder = document.getElementById("Alert");
                                    function alert(e, t) {
                                        var l = document.createElement("div");
                                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                    }
                                    alert("<i class='fe fe-check-circle text-white'></i>  Radiology Request Updated Successfully!", "success");
                                    GetRadiologyRequest();
                                    Timeout();
                                }
                                else {
                                    let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                        "<div class='alert alert-warning' role='alert'>" +
                                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                        "<strong>Warning..  Radiology Request Alredy Exists..</strong><br/>" +
                                        "</div></div>";
                                    $('#tab12').click();
                                    $("#Alert").html(html);
                                }

                             }
                             else {
                                 let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                     "<div class='alert alert-danger' role='alert'>" +
                                     "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                     "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                                 $.each(data.message, function (index, value) {
                                     html += "<li><small>" + value + "</small><li>";
                                     var elem = $("#" + index);
                                     if (elem.hasClass("select2-hidden-accessible")) {
                                         $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                     }
                                     else {
                                         $(elem).addClass(" is-invalid");
                                     }

                                     setTimeout(function () {
                                         if (elem.hasClass("select2-hidden-accessible")) {
                                             $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                         }
                                         else {
                                             $(elem).removeClass("is-invalid");
                                         }
                                     }, 5000);
                                 });
                                 html += "</ul></div></div>";
                                 $("#error").html(html);
                             }
                        },
                        error: function (xhr) {
                            $('#btn_Update_RadioDeci').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                            $('#btn_Update_RadioDeci').addClass("btn btn-sm btn-warning");
                            $('#btn_Update_RadioDeci').html("Save Changes");
                            Timeout();
                        }

                    })
            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion Update Click

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": formName1,
                "appId": @emr.appId,
                "formname":"Radiology Request",
                "formlink":"PrintRadiologyRequest",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
        var openSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": formName1,
                "appId": @emr.appId,
                "formname":"Radiology Request",
                "formlink":"PrintRadiologyRequest",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {

            GetSignaturename('patient');
            GetSignaturename('Witness');
            localStorage.removeItem("sign");
        }
    });

     //#region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=' + formName1,
                type: "GET",
                dataType: "json",
                async: false,
                success: function (response) {
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY HH:mm");

                    if (response[0].person == "patient") {
                        $("#patimg").show();
                        $("#upsb_date_patient").text(date);
                        $("#pat_sign").attr("src", sign);
                    }

                    if (response[0].person == "witness") {
                        $("#witimg").show();
                        $("#wit_sign").attr("src", sign);
                        $("#upsb_date_witness").text(date);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        };
    //#endregion

      //#region Delete Click
        $('#btn_Delete_RadioDeci').on('click', function (e) {
            e.preventDefault();
                $('#btn_Delete_RadioDeci').removeClass("btn btn-success");
                $('#btn_Delete_RadioDeci').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete_RadioDeci').html("Deleting the Record....");

                $.ajax({
                    url: '@Url.Action("DeleteRadiologyRequest", "RadiologyRequest", new { area = "EMR" })?rdrf_Id=' + $("#urdrf_Id").val(),
                    type: "POST",
                    dataType: 'JSON',
                    success: function (data) {
                        $('#btn_Delete_RadioDeci').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Delete_RadioDeci').addClass("btn btn-warning");
                        $('#btn_Delete_RadioDeci').html("Delete");
                        if (data.isAuthorized) {
                            if (data.success) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Medical Decision Deleted Successfully!", "success");
                                clearControls();
                                GetRadiologyRequest();
                            }
                            else {

                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Error!.. Failed to Delete..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Delete_RadioDeci').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Delete_RadioDeci').addClass("btn btn-Delete");
                        $('#btn_Delete_RadioDeci').html("Delete");
                        Timeout();
                    }
                })
        });
    //#endregion Delete Click

        //#region Clear Controls
        var clearControls = function () {
            $("#urdrf_finding").val("");
            $("#urdrf_witness").val("");
            $(".custom-control-input").prop("checked", false);
            $("#pat_sign,#wit_sign").attr("src", "");

        }
    //#endregion Clear Controls

     //#region Print Radiology Request
        function PrintRadio(rdrf_Id) {
            window.open("@Url.Action("PrintRadiologyRequest", "RadiologyRequest", new { area = "EMR" })?rdrf_Id=" + rdrf_Id)
        }
        function PrintRadiology() {
            window.open("@Url.Action("PrintRadiologyRequest", "RadiologyRequest", new { area = "EMR" })?rdrf_Id=" + $("#urdrf_Id").val())
        }
    //#endregion Print Radiology Request
    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout
</script>
@*}*@
