@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "After Operation";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Instructions after Operation - تعليمات بعد العملية</h3>
            </div>
            <div class="card-body">
                <div id="AfterOperation_add" style="display:none">
                </div>
                <div id="AfterOperation_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="AfterOperation_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetAfterOperationInfo();
        AfterOperationPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetAfterOperationInfo
        var GetAfterOperationInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetAfterOperationData", "AfterOperation", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditAfterOperation();
                        $("#AfterOperation_add").hide();
                        $("#AfterOperation_edit").show();

                    }
                    else {
                        $("#AfterOperation_add").show();
                        $("#AfterOperation_edit").hide();
                        AddAfterOperation();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
        //#endregion Load AfterOperation

    //#region Add AfterOperation
    function AddAfterOperation() {
        var x = $("#AfterOperation_add");
        x.load("@Url.Action("CreateAfterOperation", "AfterOperation", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add AfterOperation

    //#region Update AfterOperation
    function EditAfterOperation() {
        var x = $("#AfterOperation_edit");
        x.load("@Url.Action("UpdateAfterOperation", "AfterOperation", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update AfterOperation

    //#region Histroy of AfterOperation
    function AfterOperationPreviousHistory() {
        var x = $("#AfterOperation_history");
        x.load("@Url.Action("AfterOperationPreviousHistory", "AfterOperation", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>