@using BusinessEntities;
@using System.Linq;
@using System.Security.Claims;

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "OperativeLucentisInjectionNewIndex";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }

}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Operative Report For Lucentis Injection
                </h3>
            </div>
            <div class="card-body">
                <div id="OperativeLucentisInjectionNew_add" style="display:none">
                </div>
                <div id="OperativeLucentisInjectionNew_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="OperativeLucentisInjectionNew_history">
                </div>
            </div>
        </div>
    </div>
</div>
@*@section myScripts{*@
    <script>
        //#region Page Load
        $(function () {
            GetOperativeLucentisInjectionNewInfo();
            OperativeLucentisInjectionNewPreviousHistory();

        });
        //#endregion Page Load

        //#region Load GetOperativeLucentisInjectionNewInfo
        var GetOperativeLucentisInjectionNewInfo = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetOperativeLucentisInjectionNewData", "OperativeLucentisInjectionNew", new { area = "ConsentForms" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        if (response.length > 0) {
                            EditOperativeLucentisInjectionNew();
                            $("#OperativeLucentisInjectionNew_add").hide();
                            $("#OperativeLucentisInjectionNew_edit").show();

                        }
                        else {
                            $("#OperativeLucentisInjectionNew_add").show();
                            $("#OperativeLucentisInjectionNew_edit").hide();
                            AddOperativeLucentisInjectionNew();
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
        //#endregion Load OperativeLucentisInjectionNew

        //#region Add OperativeLucentisInjectionNew
        function AddOperativeLucentisInjectionNew() {
            var x = $("#OperativeLucentisInjectionNew_add");
            x.load("@Url.Action("CreateOperativeLucentisInjectionNew", "OperativeLucentisInjectionNew", new { area = "ConsentForms" })", function () {
          });
        }
        //#endregion Add OperativeLucentisInjectionNew

        //#region Update OperativeLucentisInjectionNew
        function EditOperativeLucentisInjectionNew() {
            var x = $("#OperativeLucentisInjectionNew_edit");
            x.load("@Url.Action("UpdateOperativeLucentisInjectionNew", "OperativeLucentisInjectionNew", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
          //#endregion Update OperativeLucentisInjectionNew

          //#region Histroy of OperativeLucentisInjectionNew
        function OperativeLucentisInjectionNewPreviousHistory() {
            var x = $("#OperativeLucentisInjectionNew_history");
            x.load("@Url.Action("OperativeLucentisInjectionNewPreviousHistory", "OperativeLucentisInjectionNew", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
        //#endregion History of OperativeLucentisInjectionNew


    </script>
@*}*@

