@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
    ViewBag.Title = "Index";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
}
<div class="row">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong>Error!&nbsp;</strong>@TempData["ErrorMessage"]
            </div>
        </div>
    }

    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-4 font-weight-semibold">
                        <span class="text-danger" style="font-size:smaller">Required fields are marked with *</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-12">
                        <div>
                            <h4 class="page-title mb-0 text-primary">
                                Progress Notes
                            </h4>
                        </div>
                    </div>
                </div>
                <div id="prognoteadd">

                </div>
                <div id="prognoteedit">
                </div>
                <div class="table-responsive">
                    <table id="tbl_ProgNote" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #3C457D; border-color: #3C457D; ">
                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Progress Notes</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Next visit plan </th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Other instructions </th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Date Recorded</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Edit</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Delete</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div>
                    <h4 class="page-title mb-0 text-primary ">
                        Previous History
                    </h4>
                </div>
                <div class="table-responsive">
                    <table id="tbl_PreProgNote" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #808080; border-color: #3C457D; ">
                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Date</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Doctor</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">License</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Progress Notes</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Next visit plan </th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Other instructions </th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Date Recorded</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Notes Master Details -->
<div class="modal fade overflow-auto" id="notes_master_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true" data-modal-from="invoice-list">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content" id="notes_master_body">
        </div>
    </div>
</div>
<!-- End Modal Notes Master Details -->
<!-- Modal Notes Master Next Visit Details -->
<div class="modal fade overflow-auto" id="notes_master_nextvisit_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true" data-modal-from="invoice-list">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content" id="notes_master_nextvisit_body">
        </div>
    </div>
</div>
<!-- End Modal Notes Master  Next Visit Details -->

<!-- Modal Notes Master Next Visit Details -->
<div class="modal fade overflow-auto" id="notes_master_Instr_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true" data-modal-from="invoice-list">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content" id="notes_master_Instr_body">
        </div>
    </div>
</div>
<!-- End Modal Notes Master  Next Visit Details -->

@section myScripts{
    <script>
    //#region Page Load
        $(function () {

            GetProgressNotes();
            GetPreviousProgressNotes();
            AddProgressNotes();
            $("#prognoteadd").show();
        });
        //#endregion Page Load

    //#region Load ProgressNotes
        var GetProgressNotes = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllProgressNotes", "ProgressNotes", new { area = "EMR" })?appId=" + "@emr.appId",
                success: function (response) {

                    if (response.isAuthorized != false) {
                        var table;
                        if ($.fn.dataTable.isDataTable('#tbl_ProgNote')) {
                            table = $('#tbl_ProgNote').DataTable();
                            table.clear();
                            table.rows.add(response).draw();
                        }
                        else {
                            console.log(response);
                            BindDataTableProgress(response);
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion Load ProgressNotes

    //#region Load PreviousProgressNotes
        var GetPreviousProgressNotes = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllPreProgressNotes", "ProgressNotes", new { area = "EMR" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.isAuthorized != false) {
                        var table;
                        if ($.fn.dataTable.isDataTable('#tbl_PreProgNote')) {
                            table = $('#tbl_PreProgNote').DataTable();
                            table.clear();
                            table.rows.add(response).draw();
                        }
                        else {
                            console.log(response);
                            BindDataTableP(response);
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion Load PreviousProgressNotes

    //#region Bind Datatable
        var BindDataTableProgress = function (response) {
            var table = $("#tbl_ProgNote").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                processing: true,
                "deferRender": true,
                "pageLength": 100,
                "retrieve": true,
                lengthChange: true,
                "aaData": response,
                "aoColumns": [
                    {
                        "mData": "mnId",
                        "orderable": false,
                        "searchable": false,
                        "className": "text-center",
                        "render": function (data, type, row, meta) {
                            let _index = (meta.row) + 1;
                            if (_index >= 10) {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>" + _index + "</a>";
                            }
                            else {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>0" + _index + "</a>";
                            }
                        }
                    },
                    {
                        "mData": "mn_notes",
                        "className": 'text-left',

                    },
                    {
                        "mData": "mn_visitPlan",
                        "className": 'text-left',

                    },
                    {
                        "mData": "mn_instructions",
                        "className": 'text-left',

                    },
                    {
                        "mData": "mn_date_created",
                        "className": "text-left",
                        "render": function (data) {
                            return moment(data).format('DD-MM-YYYY')
                        }
                    },
                    {
                        "mData": "mnId",
                        "className": 'btn-edit text-center',
                        "orderable": false,
                        "searchable": false,
                        "render": function (mnId, type, full, meta) {
                            var status = full.mn_status;
                            if (status === "Active") {
                                if ("@emp_designation.ToString()" === "Super Administrator") {
                                    return '<button type="button"  onclick="EditProgressNotes(' + mnId + ')" class="btn btn-sm btn-outline-primary">Edit</button>';
                                }
                                else {
                                    if ("@emr.set_emr_lock" == "NoLock") {
                                        return '<button type="button"  onclick="EditProgressNotes(' + mnId + ')" class="btn btn-sm btn-outline-primary">Edit</button>';


                                    }
                                    else {

                                        if ("@emr.app_ae_date" >= "@emr.today") {
                                            return '<button type="button"  onclick="EditProgressNotes(' + mnId + ')" class="btn btn-sm btn-outline-primary">Edit</button>';
                                        }
                                        else {
                                                return ''
                                            }
                                    }
                                }
                            }
                            else {
                                return ''
                            }
                        }
                    },
                    {
                        "mData": "mnId",
                        "className": 'btn-delete text-center',
                        "orderable": false,
                        "searchable": false,
                        "render": function (mnId, type, full, meta) {
                            var status = full.mn_status;
                            if (status === "Active") {
                                if ("@emp_designation.ToString()" === "Super Administrator") {
                                    return '<button type="button" onclick="DeleteProgressNotes(' + mnId + ')" class="btn btn-sm btn-outline-danger">Delete</button>';
                                }
                                else {
                                    if ("@emr.set_emr_lock" == "NoLock") {
                                        return '<button type="button" onclick="DeleteProgressNotes(' + mnId + ')" class="btn btn-sm btn-outline-danger">Delete</button>';


                                        }
                                    else {

                                        if ("@emr.app_ae_date" >= "@emr.today") {
                                            return '<button type="button" onclick="DeleteProgressNotes(' + mnId + ')" class="btn btn-sm btn-outline-danger">Delete</button>';
                                        }
                                        else {
                                            return ''
                                            }
                                    }
                                }

                            }
                            else {
                                return ''
                            }
                        }
                    }
                ],
                order: [[0, 'asc']],
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '<span class="text-primary font-weight-semi-bold">Search By Code/Tittle</span>',
                    lengthMenu: '_MENU_',
                    scrollX: "100%",
                },
                scrollX: true,
                scrollY: 500,
                scrollCollapse: true,
                buttons: [
                    {
                        extend: 'excel',
                        title: 'Progress Notes',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 3]
                        }
                    },
                    {
                        extend: 'pdf',
                        title: 'Progress Notes',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 3]
                        }
                    },
                    {
                        extend: 'csv',
                        title: 'Progress Notes',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 3]
                        }
                    },
                    {
                        extend: 'print',
                        title: 'Progress Notes',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 3]
                        }
                    }
                ]
            });
            table.buttons().container().appendTo('#tbl__ProgNotewrapper .col-md-6:eq(0)');
        };
    //#endregion Bind Datatable

    //#region Previous Bind Datatable
        var BindDataTableP = function (response) {
            var table = $("#tbl_PreProgNote").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                processing: true,
                "deferRender": true,
                "pageLength": 100,
                "retrieve": true,
                lengthChange: true,
                "aaData": response,
                "aoColumns": [
                    {
                        "mData": "mnId",
                        "orderable": false,
                        "searchable": false,
                        "className": "text-center",
                        "render": function (data, type, row, meta) {
                            let _index = (meta.row) + 1;
                            if (_index >= 10) {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>" + _index + "</a>";
                            }
                            else {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>0" + _index + "</a>";
                            }
                        }
                    },
                    {
                        "mData": "app_fdate",
                        "className": "text-left",
                        "render": function (data) {
                            return moment(data).format('DD-MM-YYYY')
                        }
                    },
                    {
                        "mData": "doctor_name",
                        "className": "text-left"
                    },
                    {
                        "mData": "emp_license",
                        "className": "text-left"
                    },
                    {
                        "mData": "mn_notes",
                        "className": 'text-left',

                    },
                    {
                        "mData": "mn_visitPlan",
                        "className": 'text-left',

                    },
                    {
                        "mData": "mn_instructions",
                        "className": 'text-left',

                    },
                    {
                        "mData": "mn_date_created",
                        "className": "text-left",
                        "render": function (data) {
                            return moment(data).format('DD-MM-YYYY')
                        }
                    },
                ],
                order: [[0, 'asc']],
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '<span class="text-primary font-weight-semi-bold">Search By Code/Tittle</span>',
                    lengthMenu: '_MENU_',
                    scrollX: "100%",
                },
                scrollX: true,
                scrollY: 500,
                scrollCollapse: true,
                buttons: [
                    {
                        extend: 'excel',
                        title: 'Previous Progress Notes',
                        footer: 'true',
                        className:'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2, 3]
                        }
                    },
                    {
                        extend: 'pdf',
                        title: 'Previous Progress Notes',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2, 3]
                        }
                    },
                    {
                        extend: 'csv',
                        title: 'Previous Progress Notes',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2, 3]
                        }
                    },
                    {
                        extend: 'print',
                        title: 'Previous Progress Notes',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2, 3]
                        }
                    }
                ]
            });
            table.buttons().container().appendTo('#tbl_Pre_ProgNotewrapper .col-md-6:eq(0)');
        };
    //#endregion Previous Bind Datatable

    //#region Add ProgressNotes
        function AddProgressNotes() {
            $('#prognoteedit').hide();
            var x = $("#prognoteadd");
            x.load("@Url.Action("CreateProgressNotes", "ProgressNotes", new { area = "EMR" })", function () {
                $("#prognoteadd").show();
            });
        }
    //#endregion

    //#region Edit ProgressNotes
        function EditProgressNotes(mnId) {
            $('#prognoteadd').hide();
            var x = $("#prognoteedit");
            x.load("@Url.Action("EditProgressNotes", "ProgressNotes", new { area = "EMR" })?mnId=" + mnId + "&appId=" + @emr.appId, function () {
                $("#prognoteedit").show();
            });

        }
    //#endregion Edit ProgressNotes

    //#region Delete ProgressNotes
        var DeleteProgressNotes = function (mnId) {
            Swal.fire({
                title: "Are you sure you want to delete this ProgressNotes ?",
                text: "The selected ProgressNotes will be deleted!",
                icon: "question",
                showCancelButton: !0,
                confirmButtonText: 'Yes! I Confirm',
                cancelButtonText: 'No! Cancel Please',
                confirmButtonClass: "btn btn-success mt-2", cancelButtonClass: "btn btn-danger ms-2 mt-2", buttonsStyling: !1
            }).then(function (t) {
                if (t.value) {
                    $.ajax({
                        url: '@Url.Action("DeleteProgressNotes", "ProgressNotes", new { area = "EMR" })?mnId=' + mnId,
                        type: "POST",
                        dataType: 'JSON',
                        success: function (data) {
                            if (data.isAuthorized) {
                                if (data.success) {
                                    Swal.fire({
                                        title: "Success!",
                                        text: "ProgressNotes Deleted Successfully!",
                                        icon: "success",
                                        showCancelButton: 0,
                                        confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60"
                                    });
                                    GetProgressNotes();
                                }
                                else {
                                    Swal.fire({
                                        title: "Error!",
                                        text: "You Can't Change the status! Already exist an active ProgressNotes",
                                        icon: "error",
                                        showCancelButton: 0,
                                        confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                                    });
                                }
                            }
                            else {
                                Swal.fire({
                                    title: "Access Denied!",
                                    text: "You do not have Enough Privileges to Delete this ProgressNotes!",
                                    icon: "error",
                                    showCancelButton: 0,
                                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                                });
                            }

                        },
                        error: function (xhr) {
                            Swal.fire({
                                title: "Error!",
                                text: "Failed to Delete ProgressNotes! Please Refresh The Page & Try Again.",
                                icon: "error",
                                showCancelButton: 0,
                                confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                            });
                            GetProgressNotes();
                        }
                    });
                }
            });
        }
    //#endregion Delete ProgressNotes

    //#region Resize Datatable
        function resizedt() {
            setTimeout(function () {
                $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
            }, 350);
        }
    //#endregion Resize Datatable

    //#region Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
    //#endregion

    //#region Remove Error Class
        function error_timeout(_id) {
            setTimeout(function () {
                $(".has-error").removeClass("has-error");
                $(".error").removeClass("error");
                $("#" + _id + "-error").text("");
            }, 3200);
        }
    //#endregion

    //#region Remove Error Class Quil
        function error_timeout_quil(id) {
            setTimeout(function () {
                id.attr("style", "border:1px solid black;color:black;");
            }, 3200);
        }
    //#endregion
    </script>
}
