@using BusinessEntities;
@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Dental Implants";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Patient Consent For Dental Implants</h3>
            </div>
            <div class="card-body">
                <div id="DentalImplants_add" style="display:none">
                </div>
                <div id="DentalImplants_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="DentalImplants_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        //#region Page Load
        $(function () {
            GetDentalImplantsInfo();
            DentalImplantsPreviousHistroy();

        });

        //#endregion Page Load

        //#region Load GetDentalImplantsInfo
        var GetDentalImplantsInfo = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetDentalImplantsData", "DentalImplants", new { area = "ConsentForms" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        if (response.length > 0) {
                            EditDentalImplant();
                            $("#DentalImplants_add").hide();
                            $("#DentalImplants_edit").show();

                        }
                        else {
                            $("#DentalImplants_add").show();
                            $("#DentalImplants_edit").hide();
                            AddDentalImplants();
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
        //#endregion Load DentalImplants

        //#region Add DentalImplants
        function AddDentalImplants() {
            var x = $("#DentalImplants_add");
            x.load("@Url.Action("CreateDentalImplants", "DentalImplants", new { area = "ConsentForms" })", function () {
          });
        }
        //#endregion Add DentalImplants

        //#region Update DentalImplants
        function EditDentalImplant() {
            var x = $("#DentalImplants_edit");
            x.load("@Url.Action("UpdateDentalImplants", "DentalImplants", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
        //#endregion Update DentalImplants

        //#region Histroy of DentalImplants
        function DentalImplantsPreviousHistroy() {
            var x = $("#DentalImplants_histroy");
            x.load("@Url.Action("DentalImplantsPreviousHistroy", "DentalImplants", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
        //#endregion Histroy of DentalImplants

</script>