@model BusinessEntities.Accounts.MaterialManagement.Payment
@Html.AntiForgeryToken()
<div class="modal-header py-3 px-4" id="pay_head_div">
    <h5 class="modal-title text-primary font-weight-semibold" id="exampleModalLongTitle">Update Purchase Invoice Payment </h5>
    <button type="button" class="btn-close close-modal" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body p-4" id="pay_div">
    <div class="row">
        <form id="form_pinv_payment" >
            <div class="">
                <h3 class="card-title">
                    <span class="badge rounded-pill bg-danger mt-2 pull-right" id="spn_up_outstanding">
                        Outstanding Balance of <strong>
                            &nbsp;
                            @Model.invoice_code
                        </strong> is, &nbsp; AED <strong> &nbsp;@Model.invoice_balance</strong>
                    </span>
                </h3>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-4 font-weight-semibold">
                        <span class="text-secondary" style="font-size:smaller">Required atleat one payment mode *</span>
                    </div>
                </div>
                <div class="row">                    
                    <input type="hidden" id="u_hipayCode" value="" />
                    <input type="hidden" id="u_hiTotal" value="0" />
                    <div class="col-sm-12 col-md-12 col-lg-2">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Cash</span>&nbsp;<span class="text-secondary">*</span></label>
                            <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" maxlength="12" id="upay_cash" name="upay_cash" oninput="validate(this, 1000000)">
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-2">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Credit Card</span>&nbsp;<span class="text-secondary">*</span></label>
                            <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" maxlength="12" id="upay_cc" name="upay_cc" oninput="validate(this,1000000)">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-2">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Chrg. (%)</span></label>
                            <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" maxlength="5" id="upay_cc_per" name="upay_cc_per" oninput="validate(this,99)">
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-2" id="divCq">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Cheque Amt. </span>&nbsp;<span class="text-secondary">*</span></label>
                            <input class="form-control font-weight-semibold" placeholder="" type="text" value="0.00" maxlength="12" id="upay_chq" name="upay_chq" oninput="validate(this,1000000)">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3" id="divCqNo">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Cheque No. </span></label>
                            <input class="form-control font-weight-semibold" placeholder="Eg:123456" type="text" id="upay_chq_no" maxlength="15" name="upay_chq_no">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3" id="divCqBank">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Bank Name </span></label>
                            <input class="form-control font-weight-semibold" placeholder="Eg:ADCB" type="text" maxlength="49" id="upay_chq_bank" name="upay_chq_bank">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3" id="divCqDate">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Cheque Date </span></label>
                            <input type="text" id="upay_chq_date" class="form-control font-weight-semibold" maxlength="18" placeholder="Ex:DD-MMMM-YYYY" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-2" id="divBT">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Bank Transfer </span>&nbsp;<span class="text-secondary">*</span></label>
                            <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" maxlength="12" id="upay_bt" name="upay_bt" oninput="validate(this,1000000)">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3" id="divBT_Bank">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Bank Name </span></label>
                            <select class="form-select select2" id="upay_bt_bank"></select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3" id="divAdv">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Advance </span>&nbsp;<span class="text-secondary">*</span></label>
                            <select class="form-select select2" id="upay_advance"></select>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-2" id="divAdvName">
                        <div class="form-group">
                            <label class="form-label"><span class="text-info">Allocated </span></label>
                            <input class="form-control text-end font-weight-semibold" placeholder="" type="text" value="0.00" id="upay_allocated" name="upay_allocated" oninput="validate(this,0)">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-md-12">
                        <textarea id="upay_notes" name="upay_notes" class="form-control" rows="5" placeholder="Enter payment notes..."></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
                        <div class="form-group">
                            <div id="error"></div>
                        </div>
                        <div class="form-group">
                            <label class="form-label mt-1">&nbsp;<span class="text-danger" id="edit_invoice_payment_error"></span></label>
                        </div>
                    </div>
                </div>

                <div class="float-end mb-4">
                    <button type="button" class="btn btn-warning me-2" id="update_invoice_payment"><i class="si si-wallet"></i> Update Payment</button>
                </div>
            </div>
        </form>
    </div>

</div>

<script type="text/javascript">

    //#region Load Event
        $(function () {
            $('#upay_chq_date').bootstrapdatepicker({
                format: "dd-MM-yyyy",
                viewMode: "date",
                todayHighlight: true,
                autoclose: true,
                multidate: false,
                multidateSeparator: "-"
            });

            $("#upay_chq_date").bootstrapdatepicker("setDate", 'today');

            $("#upay_bt_bank").select2({
                placeholder: 'Select Bank',
                width: '100%',
                dropdownParent: $('#edit_payment_body')
            });

            $("#upay_advance").select2({
                placeholder: 'Select Advance',
                width: '100%',
                dropdownParent: $('#edit_payment_body')
            });

            load_banks();
            load_advances();
            payment_validation();
            editPayment();
        });
    //#endregion Load Event


    //#region Payment Section

    //Load Banks
    var load_banks = function () {
            $.ajax({
                url: '@Url.Action("BankNamesForBankTransfers", "Receipt", new { area = "Invoice" })',
                type: "GET",
                dataType: "JSON",
                async: false,
                success: function (response) {
                    $('#upay_bt_bank').empty();
                    var _data = response;
                    if (_data.length > 0) {
                        var optNone = new Option("Select Any", "0", false, false);
                        $('#upay_bt_bank').append(optNone).trigger('change');

                        $.each(response, function (j) {
                            var label = response[j]["acc_code"] + " | " + response[j]["acc_name"] + " | " + response[j]["acc_cbal"];
                            var newOption = new Option(label, response[j]["acc_code"], false, false);
                            $('#upay_bt_bank').append(newOption).trigger('change');
                        });

                        $('#upay_bt_bank').val("0").trigger('change');
                    }
                },
                error: function (xhr) {
                    console.log("Failed! Error Message : " + xhr.statusText);
                }
            })
        }

    //Load Payment Advance
    var load_advances = function () {
            $.ajax({
                url: '@Url.Action("AdvancePaymentsBySupllier", "PaymentAgainstInvoices", new { area = "MaterialManagement" })?pay_supplier=' + @Model.pay_supplier,
                type: "GET",
                dataType: "JSON",
                async: false,
                success: function (response) {
                    $('#upay_advance').empty();
                    var _data = response;
                    if (_data.length > 0) {
                        $.each(response, function (j) {
                            var label = response[j]["pay_code"] + " | " + response[j]["pay_date"] + " | " + response[j]["pay_advance"];
                            var newOption = new Option(label, response[j]["payId"], false, false);
                            $('#upay_advance').append(newOption).trigger('change');
                        });

                        $('#upay_advance').val(0).trigger('change');
                    }
                },
                error: function (xhr) {
                    console.log("Failed! Error Message : " + xhr.statusText);
                }
            })
        }


    //Payment Validation
    var payment_validation = function () {
            $('#upay_cash').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                    return false;
            });

            $('#upay_cc').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                    return false;
            });

            $('#upay_cc_per').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                    return false;
            });

            $('#upay_chq').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                    return false;
            });

            $('#upay_bt').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                    return false;
            });

            $('#upay_allocated').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                    return false;
            });
        }

    //Bank Transfer Bank Change Event
    $('#upay_bt_bank').on('select2:select', function (e) {
            calculation_payment();
        });

    //Advance Payment Change Event
    $('#upay_advance').on('select2:select', function (e) {
            calculation_payment();
        });

    //Calculation for Payments
    var calculation_payment = function () {
        var error = 0;
        var _cash = $("#upay_cash").val();
        var _cc = $("#upay_cc").val();
        var _cc_per = $("#upay_cc_per").val();
        var _chq = $("#upay_chq").val();
        var _bt = $("#upay_bt").val();
        var _allocated = $("#upay_allocated").val();
        var _vamount = 0;

        //Advance Allocated
        if (($("#upay_advance").val() != null) && ($("#upay_advance").val() != undefined) && ($("#upay_advance").val() != "") && ($("#upay_advance").val() != NaN)) {
            var selected_text = $("#upay_advance option:selected").text();
            var value_arr = selected_text.split("|");
            var amount = value_arr[2].replace(" ", "");

            if (!(parseFloat(amount) >= parseFloat(_allocated))) {
                error++;
                $("#edit_invoice_payment_error").html("Allocated Amount Should be less than or equal to " + amount);
                $("#upay_advance").attr("style", "border:1px solid red;color:red;");
                $("#upay_allocated").attr("style", "border:1px solid red;color:red;");
            }
            else {
                $("#edit_invoice_payment_error").html("");
                $("#upay_advance").attr("style", "border:1px solid #ecebf1;color:#728096;");
                $("#upay_allocated").attr("style", "border:1px solid #ecebf1;color:#728096;");
            }
        }


        //Cheque
        if (parseFloat(_chq) > 0) {
            if (!(($("#upay_chq_no").val() != null) &&
                ($("#upay_chq_no").val() != undefined) && ($("#upay_chq_no").val() != "") &&
                ($("#upay_chq_no").val() != NaN))) {
                error++;
                $("#edit_invoice_payment_error").html("Cheque No is Required ");
                $("#upay_chq_no").attr("style", "border:1px solid red;color:red;");
            }
            else {
                $("#edit_invoice_payment_error").html("");
                $("#upay_chq_no").attr("style", "border:1px solid #ecebf1;color:#728096;");
            }

            if (!(($("#upay_chq_date").val() != null) &&
                ($("#upay_chq_date").val() != undefined) &&
                ($("#upay_chq_date").val() != "") && ($("#upay_chq_date").val() != NaN))) {
                error++;
                $("#edit_invoice_payment_error").html("Cheque Date is Required ");
                $("#upay_chq_date").attr("style", "border:1px solid red;color:red;");
            }
            else {
                $("#edit_invoice_payment_error").html("");
                $("#upay_chq_date").attr("style", "border:1px solid #ecebf1;color:#728096;");
            }

            if (!(($("#upay_chq_bank").val() != null) &&
                ($("#upay_chq_bank").val() != undefined) &&
                ($("#upay_chq_bank").val() != "") && ($("#upay_chq_bank").val() != NaN))) {
                error++;
                $("#edit_invoice_payment_error").html("Bank Name is Required ");
                $("#upay_chq_bank").attr("style", "border:1px solid red;color:red;");
            }
            else {
                $("#edit_invoice_payment_error").html("");
                $("#upay_chq_bank").attr("style", "border:1px solid #ecebf1;color:#728096;");
            }
        }

        //Bank Transfer
        if (parseFloat(_bt) > 0) {
            if (($("#upay_bt_bank").val() != null) &&
                ($("#upay_bt_bank").val() != undefined) &&
                ($("#upay_bt_bank").val() != "") &&
                ($("#upay_bt_bank").val() != NaN)) {
                $("#edit_invoice_payment_error").html("");
                $("#upay_bt_bank").attr("style", "border:1px solid #ecebf1;color:#728096;");

                var selected_text = $("#upay_bt_bank option:selected").text();
                var value_arr = selected_text.split("|");
                var amount = value_arr[2].replace(" ", "");

                if (!(parseFloat(amount) >= parseFloat(_bt))) {
                    error++;
                    $("#edit_invoice_payment_error").html("Bank Transferred Should be less than or equal to " + amount);
                    $("#upay_bt").attr("style", "border:1px solid red;color:red;");
                    $("#upay_bt_bank").attr("style", "border:1px solid red;color:red;");
                }
                else {
                    $("#edit_invoice_payment_error").html("");
                    $("#upay_bt").attr("style", "border:1px solid #ecebf1;color:#728096;");
                    $("#upay_bt_bank").attr("style", "border:1px solid #ecebf1;color:#728096;");
                }
            }
            else {
                error++;
                $("#edit_invoice_payment_error").html("Bank Account is Required for Bank Transfers");
                $("#upay_bt_bank").attr("style", "border:1px solid red;color:red;");
            }
        }
        $("#edit_invoice_payment_error").html("");
        if (error == 0) {
            var pay_total = parseFloat(_cash) + parseFloat(_cc) + parseFloat(_chq) + parseFloat(_bt) + parseFloat(_allocated);

            var pinvTotal = 0;
            pinvTotal = parseFloat(@Model.invoice_balance) + parseFloat($("#u_hiTotal").val());
                        console.log(pinvTotal);
            if (parseFloat(pinvTotal) >= parseFloat(pay_total)) {

                if (parseFloat(_vamount) > 0) {
                    pay_total = pay_total + parseFloat(_vamount);
                }
                else {
                    $("#edit_invoice_payment_error").html("");
                }

                $("#update_invoice_payment").show();

            }
            else {
                $("#update_invoice_payment").hide();
                $("#edit_invoice_payment_error").html("Payment should be less than invoice outstanding");
            }
        }
        else {
            $("#update_invoice_payment").hide();
        }
    }
    //#endregion

    //#region Validate Max value for Controls
    var validate = function (e, max) {
        var t = e.value;
        var j = (t.indexOf(".") >= 0) ? (t.substr(0, t.indexOf(".")) + t.substr(t.indexOf("."), 3)) : t;
        e.value = (max == 0) ? j : ((j >= max) ? max : j);
    }
    //#endregion Validate Max value for Controls

    //#region Focus In/Out Events
    $("#upay_cash").focusin(function () {
        localStorage.setItem("temp_cash", $(this).val());
    });

    $("#upay_cash").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_cash");
            calculation_payment();
        }
        else {
            $(this).val(localStorage.getItem("temp_cash"));
            localStorage.removeItem("temp_cash");
        }
    });

    $("#upay_cc").focusin(function () {
        localStorage.setItem("temp_cc", $(this).val());
    });

    $("#upay_cc").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_cc");
            calculation_payment();
        }
        else {
            $(this).val(localStorage.getItem("temp_cc"));
            localStorage.removeItem("temp_cc");
        }
    });

    $("#upay_cc_per").focusin(function () {
        localStorage.setItem("temp_cc_per", $(this).val());
    });

    $("#upay_cc_per").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_cc_per");
            calculation_payment();
        }
        else {
            $(this).val(localStorage.getItem("temp_cc_per"));
            localStorage.removeItem("temp_cc_per");
        }
    });

    $("#upay_chq").focusin(function () {
        localStorage.setItem("temp_chq", $(this).val());
    });

    $("#upay_chq").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_chq");
            calculation_payment();
        }
        else {
            $(this).val(localStorage.getItem("temp_chq"));
            localStorage.removeItem("temp_chq");
        }
    });

    $("#upay_chq_no").focusout(function () {
        calculation_payment();
    });

    $("#upay_chq_bank").focusout(function () {
        calculation_payment();
    });

    $("#upay_chq_date").focusout(function () {
        calculation_payment();
    });

    $("#upay_bt").focusin(function () {
        localStorage.setItem("temp_bt", $(this).val());
    });

    $("#upay_bt").focusout(function () {
        var val = parseFloat($(this).val());
        if (val >= 0) {
            localStorage.removeItem("temp_bt");
            calculation_payment();
        }
        else {
            $(this).val(localStorage.getItem("temp_bt"));
            localStorage.removeItem("temp_bt");
        }
    });

    $("#upay_allocated").focusin(function () {
        localStorage.setItem("temp_allocated", $(this).val());
    });

    $("#upay_allocated").focusout(function () {
        if (($("#upay_advance").val() != null) && ($("#upay_advance").val() != undefined) && ($("#upay_advance").val() != "") && ($("#upay_advance").val() != NaN)) {
            var val = parseFloat($(this).val());
            if (val >= 0) {
                localStorage.removeItem("temp_allocated");
                calculation_payment();
            }
            else {
                $(this).val(localStorage.getItem("temp_allocated"));
                localStorage.removeItem("temp_allocated");
            }
        }
        else {
            $(this).val("0.00");
            localStorage.removeItem("temp_allocated");
        }
    });

    //#endregion Focus In/Out Events

//Alert Timeout
    function timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }

    var editPayment = function () {
        $("#update_invoice_payment").show();


        $("#u_hiTotal").val(@Model.total_paid);
        $("#u_hipayCode").val('@Model.pay_code');

        var total = @Model.invoice_balance;


        $("#spn_up_outstanding").html("Outstanding Balance of <strong> &nbsp;@Model.invoice_code</strong> is, &nbsp; AED <strong> &nbsp;" + (parseFloat(total) + parseFloat(@Model.total_paid)).toFixed(2) + "</strong>");
        if (parseFloat(@Model.pay_cash) > 0) {
            $("#upay_cash").val(@Model.pay_cash);
        }
        else {
            $("#upay_cash").val("0.00");
        }

        if (parseFloat(@Model.pay_cc) > 0) {
            $("#upay_cc").val(@Model.pay_cc);
        }
        else {
            $("#upay_cc").val("0.00");
        }

        if (parseFloat(@Model.pay_cc_per) > 0) {
            $("#upay_cc_per").val(@Model.pay_cc_per);
        }
        else {
            $("#upay_cc_per").val("0.00");
        }

        if (parseFloat(@Model.pay_chq) > 0) {
            $("#upay_chq").val('@Model.pay_chq');
            $("#upay_chq_no").val('@Model.pay_chq_no');
            $("#upay_chq_bank").val('@Model.pay_chq_bank');
            $("#upay_chq_date").bootstrapdatepicker("setDate", moment('@Model.pay_chq_date', 'DD/MM/YYYY').format("DD-MM-YYYY"));
        }
        else {
            $("#upay_chq").val("0.00");
            $("#upay_chq_no").val("");
            $("#upay_chq_bank").val("");
            $("#upay_chq_date").bootstrapdatepicker("setDate", 'today');
        }

        if (parseFloat(@Model.pay_bt) > 0) {
            $("#upay_bt").val(@Model.pay_bt);
            $("#upay_bt_bank").val('@Model.pay_bt_bank').trigger('change');
        }
        else {
            $("#upay_bt").val("0.00");
            $('#upay_bt_bank').val("0").trigger('change');
        }

        if (parseFloat(@Model.pay_allocated) > 0) {
            $("#upay_allocated").val(@Model.pay_allocated);
            $("#upay_advance").val('@Model.pay_advance').trigger('change');
        }
        else {
            $("#upay_allocated").val("0.00");
            $('#upay_advance').val("0").trigger('change');
        }
        $("#upay_notes").val('@Model.pay_notes');
    }
    $('#update_invoice_payment').on('click', function (e) {
        var _paydate = moment('@Model.pay_date', 'DD/MM/YYYY').format("MM/DD/YYYY");
        var _payment = {
            "payId": '@Model.payId',
            "pay_code": '@Model.pay_code',
            "pay_type": 'Invoice',
            "pay_date": _paydate,
            "pay_supplier": @Model.pay_supplier,
            "pay_invoice": @Model.pay_invoice,
            "pay_cash": parseFloat($('#upay_cash').val()),
            "pay_cc": parseFloat($('#upay_cc').val()),
            "pay_cc_per": parseFloat($('#upay_cc_per').val()),
            "pay_chq": parseFloat($('#upay_chq').val()),
            "pay_chq_no": $('#upay_chq_no').val().trim(),
            "pay_chq_date": $('#upay_chq_date').val().trim(),
            "pay_bt": parseFloat($('#upay_bt').val()),
            "pay_chq_bank": $('#upay_chq_bank').val(),
            "pay_bt_bank": $('#upay_bt_bank').val(),
            "pay_advance": $('#upay_advance').val(),
            "pay_allocated": parseFloat($("#upay_allocated").val()),
            "pay_notes": $('#upay_notes').val().trim(),
            "pay_branch": @Model.pay_branch,
            "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
        }
        $.ajax({
            url: '@Url.Action("UpdatePayment", "PaymentAgainstInvoices", new { area = "MaterialManagement" })',
            type: "POST",
            dataType: "json",
            data: _payment,
            async: false,
            success: function (data) {
                if (data.isSuccess) {
                    e.preventDefault();
                    e.stopPropagation();
                    $.growl.notice({
                        title: "Success",
                        message: data.message
                    });
                    search_Payments();
                    $('#edit_payment_modal').modal('toggle');
                }
                else {
                    let html = "<div class='alert alert-danger alert-dismissible' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='Close' aria-label='Close'>×</button>" +
                        "<strong>Error.. " + data.message + "</strong><br/>" +
                        "</div>";
                    $("#error").html(html);
                    timeout();
                }

            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr);
            }
        });

    });

</script>