@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Dental Surgery";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Patient Consent For Dental Surgery</h3>
            </div>
            <div class="card-body">
                <div id="DentalSurgery_add" style="display:none">
                </div>
                <div id="DentalSurgery_edit">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="DentalSurgery_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetDentalSurgeryInfo();
        DentalSurgeryPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetDentalSurgeryInfo
    var GetDentalSurgeryInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetDentalSurgeryData", "DentalSurgery", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditDentalSurgery();
                        $("#DentalSurgery_add").hide();
                        $("#DentalSurgery_edit").show();

                    }
                    else {
                        $("#DentalSurgery_add").show();
                        $("#DentalSurgery_edit").hide();
                        AddDentalSurgery();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load DentalSurgery

    //#region Add DentalSurgery
    function AddDentalSurgery() {
        var x = $("#DentalSurgery_add");
        x.load("@Url.Action("CreateDentalSurgery", "DentalSurgery", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add DentalSurgery

    //#region Update DentalSurgery
    function EditDentalSurgery() {
        var x = $("#DentalSurgery_edit");
        x.load("@Url.Action("UpdateDentalSurgery", "DentalSurgery", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update DentalSurgery

    //#region History of DentalSurgery
    function DentalSurgeryPreviousHistory() {
        var x = $("#DentalSurgery_history");
        x.load("@Url.Action("DentalSurgeryPreviousHistory", "DentalSurgery", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion History of DentalSurgery
</script>