@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "After Surgery";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Important Instruction After The Surgery</h3>
            </div>
            <div class="card-body">
                <div id="AfterSurgery_add" style="display:none">
                </div>
                <div id="AfterSurgery_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="AfterSurgery_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        //#region Page Load
        $(function () {
            GetAfterSurgeryInfo();
            AfterSurgeryPreviousHistory();
        });

        //#endregion Page Load

        //#region Load GetAfterSurgeryInfo
        var GetAfterSurgeryInfo = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAfterSurgeryData", "AfterSurgery", new { area = "ConsentForms" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        console.log(response.length);
                        if (response.length > 0) {
                            EditAfterSurgery();
                            $("#AfterSurgery_add").hide();
                            $("#AfterSurgery_edit").show();

                        }
                        else {
                            $("#AfterSurgery_add").show();
                            $("#AfterSurgery_edit").hide();
                            AddAfterSurgery();
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
        //#endregion Load AfterSurgery

        //#region Add AfterSurgery
        function AddAfterSurgery() {
            var x = $("#AfterSurgery_add");
            x.load("@Url.Action("CreateAfterSurgery", "AfterSurgery", new { area = "ConsentForms" })", function () {
          });
        }
        //#endregion Add AfterSurgery

        //#region Update AfterSurgery
        function EditAfterSurgery() {
            var x = $("#AfterSurgery_edit");
            x.load("@Url.Action("UpdateAfterSurgery", "AfterSurgery", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
          //#endregion Update AfterSurgery

        //#region History of AfterSurgery
        function AfterSurgeryPreviousHistory() {
            var x = $("#AfterSurgery_history");
            x.load("@Url.Action("AfterSurgeryPreviousHistory", "AfterSurgery", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
        //#endregion History of AfterSurgery

</script>
