@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Facial Treatment Derma";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"> Consent For Facial Treatment</h3>
            </div>
            <div class="card-body">
                <div id="FacialTreatmentDerma_add" style="display:none">
                </div>
                <div id="FacialTreatmentDerma_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="FacialTreatmentDerma_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetFacialTreatmentDermaInfo();
        FacialTreatmentDermaPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetFacialTreatmentDermaInfo
    var GetFacialTreatmentDermaInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetFacialTreatmentDermaData", "FacialTreatmentDerma", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditFacialTreatmentDerma();
                        $("#FacialTreatmentDerma_add").hide();
                        $("#FacialTreatmentDerma_edit").show();

                    }
                    else {
                        $("#FacialTreatmentDerma_add").show();
                        $("#FacialTreatmentDerma_edit").hide();
                        AddFacialTreatmentDerma();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load FacialTreatmentDerma

    //#region Add FacialTreatmentDerma
    function AddFacialTreatmentDerma() {
        var x = $("#FacialTreatmentDerma_add");
        x.load("@Url.Action("CreateFacialTreatmentDerma", "FacialTreatmentDerma", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add FacialTreatmentDerma

    // #region Update FacialTreatmentDerma
    function EditFacialTreatmentDerma() {
        var x = $("#FacialTreatmentDerma_edit");
        x.load("@Url.Action("UpdateFacialTreatmentDerma", "FacialTreatmentDerma", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update FacialTreatmentDerma

    //#region Histroy of FacialTreatmentDerma
    function FacialTreatmentDermaPreviousHistory() {
        var x = $("#FacialTreatmentDerma_history");
        x.load("@Url.Action("FacialTreatmentDermaPreviousHistory", "FacialTreatmentDerma", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>