@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConsentForms.FacialTreatmentDerma

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<form id="form_FacialTreatmentDermaEdit" autocomplete="off" name="FacialTreatmentDerma" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5 mt-5 mb-4 text-justify">
        <div class="form-group">
            <p>The goal of a Facial treatment as in any cosmetic procedure, is improvement, not perfection. I understand that my results may not be perfect. In the case of a facial treatment, the number of treatments necessary will vary among individuals and the areas being treated. </p>
            <p>I understand that the practice of cosmetology is not an exact science and that no specific guarantees can or have been made concerning the excepted results. </p>
        </div>

        <div class="row d-flex align-items-center mb-2">
            <div class="col-lg-4 font-weight-semibold">
                Is this your first facial treatment?
            </div>
            <div class="col-lg-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_14" id="uftf_141" value="1">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_14" id="uftf_142" value="2">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="row d-flex">
            <div class="col-lg-12 font-weight-semibold">
                Is there any specific area(s) that concern you?
                @Html.TextBoxFor(m => m.ftf_1, new { @class = "form-control", @id = "uftf_1", @maxlength = "250" })<br />
            </div>
        </div>

        <div class="row d-flex">
            <div class="col-lg-12 font-weight-semibold">
                Are you presently under a physician’s care for any skin condition or other problem?
                @Html.TextBoxFor(m => m.ftf_2, new { @class = "form-control", @id = "uftf_2", @maxlength = "250" })<br />
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-lg-4 font-weight-semibold">
                Are you pregnant or think you may be pregnant?
            </div>
            <div class="col-lg-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_15" id="uftf_151" value="1">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_15" id="uftf_152" value="2">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center mt-2">
            <div class="col-lg-4 font-weight-semibold">
                Are you taking birth control?
            </div>
            <div class="col-lg-1 mt-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_16" id="uftf_161" value="1">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1 mt-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_16" id="uftf_162" value="2">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-6 font-weight-semibold pt-0">
                <div class="d-flex">
                    <span class="mt-2"> If yes, what type?</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.TextBoxFor(m => m.ftf_3, new { @class = "form-control col-md-6 ms-9", @id = "uftf_3", @maxlength = "250" })<br />
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center mb-2 mt-2">
            <div class="col-lg-4 font-weight-semibold">
                Are you taking hormone replacement medication?
            </div>
            <div class="col-lg-1">
                <div class="form-radio mt-1">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_17" id="uftf_171" value="1">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1 mt-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_17" id="uftf_172" value="2">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-6 font-weight-semibold">
                <div class="d-flex">
                    <span class="mt-2"> If yes, what type?</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.TextBoxFor(m => m.ftf_4, new { @class = "form-control col-md-6 ms-9", @id = "uftf_4", @maxlength = "250" })<br />
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center mb-2">
            <div class="col-lg-4 font-weight-semibold">
                Do you wear contact lenses?
            </div>
            <div class="col-lg-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_18" id="uftf_181" value="1">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_18" id="uftf_182" value="2">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center mb-2">
            <div class="col-lg-4 font-weight-semibold">
                Do you often experience stress?
            </div>
            <div class="col-lg-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_19" id="uftf_191" value="1">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_19" id="uftf_192" value="2">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center mb-2">
            <div class="col-lg-4 font-weight-semibold">
                Have you been diagnosed with skin cancer?
            </div>
            <div class="col-lg-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_20" id="uftf_201" value="1">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_20" id="uftf_202" value="2">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center mb-2">
            <div class="col-lg-12 font-weight-semibold">
                Are you currently using or have you used in the past any of the listed medications? Circle all that apply.
            </div>
        </div>
        <div class="row d-flex align-items-center mb-2">
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftf_21" id="uftf_2111" value="1">
                        <span class="custom-control-label">Azelex</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftf_21" id="uftf_2112" value="2">
                        <span class="custom-control-label">Differin</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftf_21" id="uftf_2113" value="3">
                        <span class="custom-control-label">Renova</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftf_21" id="uftf_2114" value="4">
                        <span class="custom-control-label">Glycolic or Alphahydroxy Acids</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftf_21" id="uftf_2115" value="5">
                        <span class="custom-control-label">Retin-A</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftf_21" id="uftf_2116" value="6">
                        <span class="custom-control-label">Tazarac</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-lg-12 font-weight-semibold">
                How long did you use the medication circled above?
                @Html.TextBoxFor(m => m.ftf_5, new { @class = "form-control", @id = "uftf_5", @maxlength = "250" })

            </div>
        </div>
        <div class="row d-flex align-items-center mb-2 mt-2">
            <div class="col-lg-4 font-weight-semibold mt-2">
                Do you have any allergies?
            </div>
            <div class="col-lg-1 mt-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_22" id="uftf_221" value="1">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1 mt-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_22" id="uftf_222" value="2">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-6 font-weight-semibold">
                <div class="d-flex">
                    <span class="mt-2"> If yes, what type?</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.TextBoxFor(m => m.ftf_6, new { @class = "form-control col-md-6 ms-9", @id = "uftf_6", @maxlength = "250" })
                </div>
            </div>
        </div>

        <div class="row d-flex align-items-center">
            <div class="col-lg-4 font-weight-semibold">
                Are you currently taking any medications?
            </div>
            <div class="col-lg-1">
                <div class="form-radio mt-1">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_23" id="uftf_231" value="1">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="form-radio mt-1">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_23" id="uftf_232" value="2">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-6 font-weight-semibold">
                <div class="d-flex">
                    <span class="mt-2"> If yes, what type and for how long?</span>
                    @Html.TextBoxFor(m => m.ftf_7, new { @class = "form-control col-md-6 ms-2", @id = "uftf_7", @maxlength = "250" })
                </div>
            </div>
        </div>

        <div class="row d-flex align-items-center mt-2">
            <div class="col-lg-4 font-weight-semibold">
                Have you ever used Accutane?
            </div>
            <div class="col-lg-1">
                <div class="form-radio mt-1">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_24" id="uftf_241" value="1">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="form-radio mt-1">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_24" id="uftf_242" value="2">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-6 font-weight-semibold">
                <div class="d-flex">
                    <span class="mt-2">  If yes, for how long?</span>&nbsp;
                    @Html.TextBoxFor(m => m.ftf_8, new { @class = "form-control col-md-6 ms-9", @id = "uftf_8", @maxlength = "250" })<br />
                </div>
            </div>
        </div>

        <div class="row d-flex align-items-center mt-2">
            <div class="col-lg-4 font-weight-semibold">
                Do you have acne?
            </div>
            <div class="col-lg-1">
                <div class="form-radio mt-1">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_25" id="uftf_251" value="1">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="form-radio mt-1">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_25" id="uftf_252" value="2">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-6 font-weight-semibold">
                <div class="d-flex">
                    <span class="mt-2"> If yes, for how long?</span>&nbsp;
                    @Html.TextBoxFor(m => m.ftf_9, new { @class = "form-control col-md-6 ms-9", @id = "uftf_9", @maxlength = "250" })<br />
                </div>
            </div>
        </div>

        <div class="row d-flex align-items-center mt-2">
            <div class="col-lg-4 font-weight-semibold">
                Do you experience frequent blemishes?
            </div>
            <div class="col-lg-1">
                <div class="form-radio mt-1">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_26" id="uftf_261" value="1">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="form-radio mt-1">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_26" id="uftf_262" value="2">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-6 font-weight-semibold">
                <div class="d-flex">
                    <span class="mt-2">If yes, for how long?</span>&nbsp;
                    @Html.TextBoxFor(m => m.ftf_10, new { @class = "form-control col-md-6 ms-9", @id = "uftf_10", @maxlength = "250" })<br />
                </div>
            </div>
        </div>

        <div class="row d-flex align-items-center mb-2 mt-2">
            <div class="col-lg-12 font-weight-semibold">
                Which of these products are you currently using on your face? Circle all that apply.
            </div>
        </div>

        <div class="row d-flex align-items-center mb-2">
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftf_21" id="uftf_2117" value="7">
                        <span class="custom-control-label">Soap</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftf_21" id="uftf_2118" value="8">
                        <span class="custom-control-label">Cleansing Milk</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftf_21" id="uftf_2119" value="9">
                        <span class="custom-control-label">Toner</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftf_21" id="uftf_2120" value="10">
                        <span class="custom-control-label">Scrub</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftf_21" id="uftf_2121" value="11">
                        <span class="custom-control-label">Mask</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftf_21" id="uftf_2122" value="12">
                        <span class="custom-control-label">Cream</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftf_21" id="uftf_2123" value="13">
                        <span class="custom-control-label">Sunscreen </span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftf_21" id="uftf_2124" value="14">
                        <span class="custom-control-label">Other</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="row col-lg-12 mb-2">
            @Html.TextAreaFor(m => m.ftf_11, new { @class = "form-control ms-3", @id = "uftf_11", @maxlength = "250" })<br />
        </div>
        <div class="row d-flex align-items-center mb-2">
            <div class="col-lg-12 font-weight-semibold">
                How much plain water do you consume daily?
                @Html.TextBoxFor(m => m.ftf_12, new { @class = "form-control", @id = "uftf_12", @maxlength = "250" })<br />
            </div>
        </div>
        <div class="row col-lg-12 mb-2 font-weight-semibold">
            <span class="ms-0"> Have you ever experienced any of the following conditions with your skin? Circle all that apply.</span>
        </div>

        <div class="row d-flex align-items-center mb-2">
            <div class="col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftf_21" id="uftf_2125" value="15">
                        <span class="custom-control-label">Flakiness</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftf_21" id="uftf_2126" value="16">
                        <span class="custom-control-label">Tightness</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uftf_21" id="uftf_2127" value="17">
                        <span class="custom-control-label">Obvious Dryness</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="row d-flex mb-2">
            <div class="col-lg-4 font-weight-semibold">
                Do you ever experience oily shine during the day?
            </div>
            <div class="col-lg-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_27" id="uftf_271" value="1">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_27" id="uftf_272" value="2">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_27" id="uftf_273" value="3">
                        <span class="custom-control-label">Occasionally</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="row d-flex align-items-center mb-2">
            <div class="col-lg-4 font-weight-semibold">
                Are you currently having or will soon have your menstrual period?
            </div>
            <div class="col-lg-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_28" id="uftf_281" value="1">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_28" id="uftf_282" value="2">
                        <span class="custom-control-label">No </span>
                    </label>
                </div>
            </div>
        </div>

        <div class="row d-flex align-items-center mb-2">
            <div class="col-lg-4 font-weight-semibold">
                Are you currently having or will soon have your menstrual period?
            </div>
            <div class="col-lg-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_29" id="uftf_291" value="1">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_29" id="uftf_292" value="2">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-6 font-weight-semibold">
                <div class="d-flex">
                    <span class="mt-2"> If yes, what type?</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.TextBoxFor(m => m.ftf_13, new { @class = "form-control col-md-6 ms-9", @id = "uftf_13", @maxlength = "250" })<br />
                </div>
            </div>
        </div>

        <div class="row d-flex align-items-center mb-2">
            <div class="col-lg-4 font-weight-semibold">
                Is all the information on your health history form up to date?
            </div>
            <div class="col-lg-1 mt-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_30" id="uftf_301" value="1">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-1 mt-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_30" id="uftf_302" value="2">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-6 font-weight-semibold mt-1">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uftf_30" id="uftf_303" value="3">
                        <span class="custom-control-label">If no, please complete a new Health History Form.</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-lg-12 mb-2 font-weight-semibold">
            I understand that I may have some discomfort, redness and swelling for 2 hours to 7 days, itching or irritation, skin peeling or flaking for up to 7 days after the procedure and I could have possible scarring as a result.
        </div>

        <div class="col-lg-12 mb-2 font-weight-semibold">
            It is my decision to have this treatment and I certify that I have read and have full understanding of the above consent. I have been given ample opportunity for discussion and all of my questions have been answered to my satisfaction. I hereby consent to the facial treatment procedure. This constitutes the full disclosure and supersedes any previous verbal or written disclosures. Australia Medical Centre is not responsible for any injury or allergic reaction(s) or any skin abrasions as a result of the services performed on me.
        </div>

    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="3" class="font-weight-bold text-danger fs-18" width="100%">
                        Sign here, only if all of your questions have been answered to your satisfaction
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <div id="upat_sign_box">
                            <img alt="stamp" id="upat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold"> Patient Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="psb_date_patient" name="">&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize">@emr.doc_name&nbsp;</label>
                        <span class="font-weight-semibold">Doctor’s Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="uftf_date_doctor"></label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue" width="33%">
                        Patient Signature
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center" width="33%">Doctor’s Signature</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update">Save Changes</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                <button type="button" class="btn btn-danger btn-sm" id="btn_DeleteForm">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print"> Download/Print </button>
            </div>
        </div>
    </div>

</form>

<script type="text/javascript">
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Update").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Update").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Update").show();
                }
                else {
                    $("#btn_Update").hide();
                }
            }
        }
        validate();
        GetCheckedValues();
        GetRadioValues();
        GetSignaturename('patient');
        GetSignaturename('witness');
    });

    //#region Validation Initialization
    var validate = function () {
        $("#form_FacialTreatmentDermaEdit").validate({
            rules: {
                ftf_1: {
                    required: true
                },

            },
            messages: {
                ftf_1: {
                    required: "Please Enter area(s)"
                },

            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
    //#endregion

  //#region Get CheckedValues
     var GetCheckedValues = function (checknames) {
     var checknames = "@Model.ftf_21";

       if (checknames !== null) {

         if (checknames != "") {
          var str = "@Model.ftf_21";
          var myarray = str.split(',');
          for (var i = 0; i < myarray.length; i++) {
             $('.custom-control-input').each(function () {
                 if (myarray.includes($(this).val())) {
                     $(this).prop("checked", true);
                 }
             });
         }
         console.log(myarray)
     }
   }
 }
//#endregion
               //#region Get GetRadioValues
        var GetRadioValues = function (checknames) {
        var checknames = "@Model.ftf_14";

        if (checknames !== null) {

            if (checknames != "") {
                if (checknames == "1") {
                    $('#uftf_141').attr('checked', 'checked');
                    $("#uftf_141").prop("checked", true);

                }
                if (checknames == "2") {
                    $('#uftf_142').attr('checked', 'checked');
                    $("#uftf_142").prop("checked", true);

                }

            }
        }
        var checknames = "@Model.ftf_15";

         if (checknames !== null) {

        if (checknames != "") {
            if (checknames == "1") {
                $('#uftf_151').attr('checked', 'checked');
                $("#uftf_151").prop("checked", true);

            }
            if (checknames == "2") {
                $('#uftf_152').attr('checked', 'checked');
                $("#uftf_152").prop("checked", true);

            }

        }
    }
        var checknames = "@Model.ftf_16";

          if (checknames !== null) {

         if (checknames != "") {
             if (checknames == "1") {
                 $('#uftf_161').attr('checked', 'checked');
                 $("#uftf_161").prop("checked", true);

             }
             if (checknames == "2") {
                 $('#uftf_162').attr('checked', 'checked');
                 $("#uftf_162").prop("checked", true);

             }

         }
     }
        var checknames = "@Model.ftf_17";

         if (checknames !== null) {

        if (checknames != "") {
            if (checknames == "1") {
                $('#uftf_171').attr('checked', 'checked');
                $("#uftf_171").prop("checked", true);

            }
            if (checknames == "2") {
                $('#uftf_172').attr('checked', 'checked');
                $("#uftf_172").prop("checked", true);

            }

        }
    }
        var checknames = "@Model.ftf_18";

         if (checknames !== null) {

        if (checknames != "") {
            if (checknames == "1") {
                $('#uftf_181').attr('checked', 'checked');
                $("#uftf_181").prop("checked", true);

            }
            if (checknames == "2") {
                $('#uftf_182').attr('checked', 'checked');
                $("#uftf_182").prop("checked", true);

            }

        }
    }

        var checknames = "@Model.ftf_19";

         if (checknames !== null) {

        if (checknames != "") {
            if (checknames == "1") {
                $('#uftf_191').attr('checked', 'checked');
                $("#uftf_191").prop("checked", true);

            }
            if (checknames == "2") {
                $('#uftf_192').attr('checked', 'checked');
                $("#uftf_192").prop("checked", true);

            }

        }
    }
        var checknames = "@Model.ftf_20";

         if (checknames !== null) {

        if (checknames != "") {
            if (checknames == "1") {
                $('#uftf_201').attr('checked', 'checked');
                $("#uftf_201").prop("checked", true);

            }
            if (checknames == "2") {
                $('#uftf_202').attr('checked', 'checked');
                $("#uftf_202").prop("checked", true);

            }

        }
    }

        var checknames = "@Model.ftf_22";

         if (checknames !== null) {

        if (checknames != "") {
            if (checknames == "1") {
                $('#uftf_221').attr('checked', 'checked');
                $("#uftf_221").prop("checked", true);

            }
            if (checknames == "2") {
                $('#uftf_222').attr('checked', 'checked');
                $("#uftf_222").prop("checked", true);

            }

        }
    }
        var checknames = "@Model.ftf_23";

         if (checknames !== null) {

        if (checknames != "") {
            if (checknames == "1") {
                $('#uftf_231').attr('checked', 'checked');
                $("#uftf_231").prop("checked", true);

            }
            if (checknames == "2") {
                $('#uftf_232').attr('checked', 'checked');
                $("#uftf_232").prop("checked", true);

            }

        }
    }
        var checknames = "@Model.ftf_24";

         if (checknames !== null) {

        if (checknames != "") {
            if (checknames == "1") {
                $('#uftf_241').attr('checked', 'checked');
                $("#uftf_241").prop("checked", true);

            }
            if (checknames == "2") {
                $('#uftf_242').attr('checked', 'checked');
                $("#uftf_242").prop("checked", true);

            }

        }
    }
        var checknames = "@Model.ftf_25";
         if (checknames !== null) {

        if (checknames != "") {
            if (checknames == "1") {
                $('#uftf_251').attr('checked', 'checked');
                $("#uftf_251").prop("checked", true);

            }
            if (checknames == "2") {
                $('#uftf_252').attr('checked', 'checked');
                $("#uftf_252").prop("checked", true);

            }

        }
    }
        var checknames = "@Model.ftf_26";
         if (checknames !== null) {

        if (checknames != "") {
            if (checknames == "1") {
                $('#uftf_261').attr('checked', 'checked');
                $("#uftf_261").prop("checked", true);

            }
            if (checknames == "2") {
                $('#uftf_262').attr('checked', 'checked');
                $("#uftf_262").prop("checked", true);

            }

        }
    }

        var checknames = "@Model.ftf_27";
         if (checknames !== null) {

        if (checknames != "") {
            if (checknames == "1") {
                $('#uftf_271').attr('checked', 'checked');
                $("#uftf_271").prop("checked", true);

            }
            if (checknames == "2") {
                $('#uftf_272').attr('checked', 'checked');
                $("#uftf_272").prop("checked", true);

            }

            if (checknames == "3") {
                $('#uftf_273').attr('checked', 'checked');
                $("#uftf_273").prop("checked", true);

            }

        }
    }



            var checknames = "@Model.ftf_28";
         if (checknames !== null) {

        if (checknames != "") {
            if (checknames == "1") {
                $('#uftf_281').attr('checked', 'checked');
                $("#uftf_281").prop("checked", true);

            }
            if (checknames == "2") {
                $('#uftf_282').attr('checked', 'checked');
                $("#uftf_282").prop("checked", true);

            }

        }
    }


         var checknames = "@Model.ftf_29";
         if (checknames !== null) {

        if (checknames != "") {
            if (checknames == "1") {
                $('#uftf_291').attr('checked', 'checked');
                $("#uftf_291").prop("checked", true);

            }
            if (checknames == "2") {
                $('#uftf_292').attr('checked', 'checked');
                $("#uftf_292").prop("checked", true);

            }

        }
    }

             var checknames = "@Model.ftf_30";
         if (checknames !== null) {

        if (checknames != "") {
            if (checknames == "1") {
                $('#uftf_301').attr('checked', 'checked');
                $("#uftf_301").prop("checked", true);

            }
            if (checknames == "2") {
                $('#uftf_302').attr('checked', 'checked');
                $("#uftf_302").prop("checked", true);

            }
            if (checknames == "3") {
                $('#uftf_303').attr('checked', 'checked');
                $("#uftf_303").prop("checked", true);

            }

        }
    }
}

  //#endregion Get GetRadioValues

    //#region Update  Click
    $('#btn_Update').on('click', function (e) {
        e.preventDefault();
        if ($("#form_FacialTreatmentDermaEdit").valid()) {
            console.log($("#ftfId").val());
            $('#btn_Update').removeClass("btn btn-sm btn-success");
            $('#btn_Update').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Update').html("Updating the Record....");

            var uftf_21_ = $.map($(':checkbox[name=uftf_21]:checked'), function (n, i) {
                return n.value;
            }).join(',');


            var uftf_14 = "";

            if ($('#uftf_141').prop('checked')) {
                uftf_14 = "1";
            }
            else if ($('#uftf_142').prop('checked')) {
                uftf_14 = "2";
            }



            var uftf_15 = "";

            if ($('#uftf_151').prop('checked')) {
                uftf_15 = "1";
            }
            else if ($('#uftf_152').prop('checked')) {
                uftf_15 = "2";
            }



            var uftf_16 = "";

            if ($('#uftf_161').prop('checked')) {
                uftf_16 = "1";
            }
            else if ($('#uftf_162').prop('checked')) {
                uftf_16 = "2";
            }



            var uftf_17 = "";

            if ($('#uftf_171').prop('checked')) {
                uftf_17 = "1";
            }
            else if ($('#uftf_172').prop('checked')) {
                uftf_17 = "2";
            }


            var uftf_18 = "";

            if ($('#uftf_181').prop('checked')) {
                uftf_18 = "1";
            }
            else if ($('#uftf_182').prop('checked')) {
                uftf_18 = "2";
            }


            var uftf_19 = "";

            if ($('#uftf_191').prop('checked')) {
                uftf_19 = "1";
            }
            else if ($('#uftf_192').prop('checked')) {
                uftf_19 = "2";
            }



            var uftf_20 = "";

            if ($('#uftf_201').prop('checked')) {
                uftf_20 = "1";
            }
            else if ($('#uftf_202').prop('checked')) {
                uftf_20 = "2";
            }



            var uftf_22 = "";

            if ($('#uftf_221').prop('checked')) {
                uftf_22 = "1";
            }
            else if ($('#uftf_222').prop('checked')) {
                uftf_22 = "2";
            }



            var uftf_23 = "";

            if ($('#uftf_231').prop('checked')) {
                uftf_23 = "1";
            }
            else if ($('#uftf_232').prop('checked')) {
                uftf_23 = "2";
            }



            var uftf_24 = "";

            if ($('#uftf_241').prop('checked')) {
                uftf_24 = "1";
            }
            else if ($('#uftf_242').prop('checked')) {
                uftf_24 = "2";
            }



            var uftf_25 = "";

            if ($('#uftf_251').prop('checked')) {
                uftf_25 = "1";
            }
            else if ($('#uftf_252').prop('checked')) {
                uftf_25 = "2";
            }


            var uftf_26 = "";

            if ($('#uftf_261').prop('checked')) {
                uftf_26 = "1";
            }
            else if ($('#uftf_262').prop('checked')) {
                uftf_26 = "2";
            }



            var uftf_27 = "";

            if ($('#uftf_271').prop('checked')) {
                uftf_27 = "1";
            }
            else if ($('#uftf_272').prop('checked')) {
                uftf_27 = "2";
            }
            else if ($('#uftf_273').prop('checked')) {
                uftf_27 = "3";
            }


            var uftf_28 = "";

            if ($('#uftf_281').prop('checked')) {
                uftf_28 = "1";
            }
            else if ($('#uftf_282').prop('checked')) {
                uftf_28 = "2";
            }


            var uftf_29 = "";

            if ($('#uftf_291').prop('checked')) {
                uftf_29 = "1";
            }
            else if ($('#uftf_292').prop('checked')) {
                uftf_29 = "2";
            }


            var uftf_30 = "";

            if ($('#uftf_301').prop('checked')) {
                uftf_30 = "1";
            }
            else if ($('#uftf_302').prop('checked')) {
                uftf_30 = "2";
            }
            else if ($('#uftf_303').prop('checked')) {
                uftf_30 = "3";
            }



            var _dateInsert = {
             "ftfId": 0,
             "ftf_appId": @emr.appId,
             "ftf_1": $("#uftf_1").val(),
             "ftf_2": $("#uftf_2").val(),
             "ftf_3": $("#uftf_3").val(),
             "ftf_4": $("#uftf_4").val(),
             "ftf_5": $("#uftf_5").val(),
             "ftf_6": $("#uftf_6").val(),
             "ftf_7": $("#uftf_7").val(),
             "ftf_8": $("#uftf_8").val(),
             "ftf_9": $("#uftf_9").val(),
             "ftf_10": $("#uftf_10").val(),
             "ftf_11": $("#uftf_11").val(),
             "ftf_12": $("#uftf_12").val(),
             "ftf_13": $("#uftf_13").val(),
             "ftf_14": uftf_14,
             "ftf_15": uftf_15,
             "ftf_16": uftf_16,
             "ftf_17": uftf_17,
             "ftf_18": uftf_18,
             "ftf_19": uftf_19,
             "ftf_20": uftf_20,
             "ftf_21": uftf_21_,
             "ftf_22": uftf_22,
             "ftf_23": uftf_23,
             "ftf_24": uftf_24,
             "ftf_25": uftf_25,
             "ftf_26": uftf_26,
             "ftf_27": uftf_27,
             "ftf_28": uftf_28,
             "ftf_29": uftf_29,
             "ftf_30": uftf_30,
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

            console.log(_dateInsert);

            $.ajax({
                type: "Post",
                url: "@Url.Action("EditFacialTreatmentDerma", "FacialTreatmentDerma", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isEdited) {
                            GetFacialTreatmentDermaInfo();
                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> FacialTreatment Derma Updated Successfully!", "success");
                            Timeout();
                            $("#FacialConsentArbDerma_edit").show();
                            $("#FacialConsentArbDerma_add").hide();
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning.. FacialTreatment Derma already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion Update Click

        //#region Print
$('#btn_Print').on('click', function (e) {
    e.preventDefault();
    $('#btn_Print').removeClass("btn btn-success");
    $('#btn_Print').addClass("btn btn-success btn-loaders btn-icon");
    $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "FacialTreatmentDerma", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=FacialTreatmentDerma",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {

                if (data.success)
                    console.log(data);
                    console.log(data.message.pdfPath); {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print

    //#region Delete Click
    $('#btn_DeleteForm').on('click', function (e) {
        e.preventDefault();
        $('#btn_DeleteForm').removeClass("btn btn-success");
        $('#btn_DeleteForm').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_DeleteForm').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteFacialTreatmentDerma", "FacialTreatmentDerma", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-warning");
                $('#btn_DeleteForm').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>FacialTreatment Derma Form Deleted Successfully!", "success");
                        clearControls();
                        $("#FacialTreatmentDerma_edit").hide();
                        $("#FacialTreatmentDerma_add").show();
                        AddFacialTreatmentDerma();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-Delete");
                $('#btn_DeleteForm').html("Delete");
                Timeout();
            }
        })
    });
//#endregion


    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("input[name='uftf_21']:checkbox").prop('checked', false);
        $("input[name='uftf_14']:radio").prop('checked', false);
        $("input[name='uftf_15']:radio").prop('checked', false);
        $("input[name='uftf_16']:radio").prop('checked', false);
        $("input[name='uftf_17']:radio").prop('checked', false);
        $("input[name='uftf_18']:radio").prop('checked', false);
        $("input[name='uftf_19']:radio").prop('checked', false);
        $("input[name='uftf_20']:radio").prop('checked', false);
        $("input[name='uftf_22']:radio").prop('checked', false);
        $("input[name='uftf_23']:radio").prop('checked', false);
        $("input[name='uftf_24']:radio").prop('checked', false);
        $("input[name='uftf_25']:radio").prop('checked', false);
        $("input[name='uftf_26']:radio").prop('checked', false);
        $("input[name='uftf_27']:radio").prop('checked', false);
        $("input[name='uftf_28']:radio").prop('checked', false);
        $("input[name='uftf_29']:radio").prop('checked', false);
        $("input[name='uftf_30']:radio").prop('checked', false);
        $("#upat_sign").attr("src", "");


    }
    //#endregion Clear Controls

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
             var _data = {
                 "patId": @emr.patId,
                 "person": id,
                 "form": "FacialTreatmentDerma",
                 "appId": @emr.appId,
                 "formname":"FacialTreatment Derma",
                 "formlink":"PrintFacialTreatmentDerma",
                 "eSign":""
             }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "FacialTreatmentDerma",
            "appId": @emr.appId,
            "formname":"FacialTreatment Derma",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            GetSignaturename('witness');
            localStorage.removeItem("sign");
        }
    });

       //#region Get Signature
   var GetSignaturename = function  (person) {
       $.ajax({
           url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=FacialTreatmentDerma',
           type: "GET",
           dataType: "json",
           async: false,
           success: function (response) {
               //console.log(response);
               let sign = response[0].psb_sign;
               var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY");

               if (response[0].person == "patient") {
                   $("#upat_sign_box").removeClass("d-none");
                   $("#upsb_date_patient").text(date);
                   $("#upat_sign").attr("src", sign);
               }
           },
           error: function (xhr) {
               console.log(xhr);
               alert(xhr);
           }

       });
   };
   //#endregion Get Signature

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout

</script>
