@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConcentForms.OrthoConsent

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<form id="form_OrthoConsentEdit" autocomplete="off" name="OrthoConsent" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5 mt-5 text-justify">
        <p class="text-red text-center">
            ***Please read the following information carefully and ask about anything you do
            not understand. It will be our pleasure to explain it further.***
        </p>
        <p>
            Informed consent indicates your awareness of the negative as well as the positive
            aspects of orthodontic treatment. In the majority of cases, orthodontic treatment
            is an elective procedure. This means that one possible option is no treatment at
            all. Other alternative treatment plans may include: extraction of teeth, non-extraction
            ofteeth,prosthetic restoration or even surgery. Treatment of your teeth, like any
            other treatment of the body, has inherent risks and limitations. These risks are
            seldom serious enough to contraindicate treatment, but they should be considered
            in making the decision to undergo orthodontic treatment
        </p>
        <p class="font-weight-semibold">The patient’s responsibility -</p>
        <p>
            It is the patient’s responsibility to follow
            the brushing and oral hygiene instructions that are given, so that no harm will
            come to the teeth and surrounding tissues; to come to all appointments on the proper
            day and time ; to adhere to the list of food restrictionsin order to keep from damaging
            the teeth and orthodontic appliance;to wear headgear,elastics and retainers,if they
            are necessary,so that treatment time will be as short as possible and so we can
            achieve the best results ; and to visit the general dentist at least every six months
            for an examination and cleaning . There will be additional orthodontic charges for
            replacement of appliances (such as retainers or braces ) that are lost or damaged
            due to repeated patient neglect ,or any excessive extension of treatment due lack
            of patient co-operation .100% patient co-operation is very, very important.
        </p>
        <p class="font-weight-semibold">Oral hygiene -</p>
        <p>
            decalcification (permanent markings), decay,or gum disease
            can occur if patients do not brush their teeth properly and thoroughly during treatment
            period. Excellent oral hygiene and plaque removal is a must. Sugars and between
            meal snacks should be reduced as much as possible. Visit your family dentist regularly
        </p>
        <p class="font-weight-semibold">A non –vital or dead tooth is a possibility -</p>
        <p>
            A tooth that has been traumatized
            from a deep filling or even a minor blow can die over a long period of time with
            or without orthodontic treatment. an undetected non –vital tooth may flare up during
            orthodontic movement,requiring endodontic (root canal) treatment to maintain it
        </p>
        <p class="font-weight-semibold">Root resorption -</p>
        <p>
            In some cases,the root ends of the teeth are shortened
            during treatment .this is called root resorption. Under healthy circumstances the
            shortened roots are no disadvantage. However,in the event of gum discase in later
            life the root resorption may reduce the longevity of the affected teeth. It should
            be noted that not all root resorption arises from orthodontic treatment. Trauma,cuts,
            impaction,endocrine disorders, idiopathic reasons can also cause root resorption.
        </p>
        <p class="font-weight-semibold">Growth issues -</p>
        <p>
            Occasionally a person who has grown normally and in average
            proportions may not continue to do so. If growth becomes disproportionate,the jaw
            relation can be affected and original treatment objectives may have to be compromised.
            Skeletal growth disharmony is a biologic process beyond the orthodontist’s control.
            Some orthodontic patients will require oral surgery to obtain a reasonable treatment
            result to complete their case. Most patients we can inform ahead of time prior to
            starting any treatment that this is necessary. Some patients with poor growth, poor
            response to treatment, or poor co- operation may also require oral surgery to complete
            their cases
        </p>
        <p class="font-weight-semibold">Gum tissues -</p>
        <p>
            The bone-gum relationship around teeth is always dependent
            upon whether there is enough bone to support the gum tissue properly. Many times
            when very crowded teeth are straightened there is a lack of bone and supporting
            gum tissue surrounding the teeth. Therefore, the gum tissue contour and support
            may not be adequate and require periodontal intervention.
        </p>
        <p class="font-weight-semibold">Treatment time -</p>
        <p>
            The total time for treatment can be delayed beyond our estimate.
            Lack of, or poorly directed facial growth, poor elastic wear, or headgear co-operation,
            broken appliances and missed appointments are all important factors that could lengthen
            treatment time and affect the quality of the result
        </p>
        <p class="font-weight-semibold">Extra-oral appliances -</p>
        <p>
            Instructions must be followed very carefully. A Facebow
            or headgear that is pulled outward while elastic force is attached can cause damage
            to the face or eyes. However, we use appliances with a “snap away” safety feature
            to reduce this possibility. Always remember to release the forces before removing
            the facebow from your teeth. To reduce the possibility of injury, contact sports
            and similar activities should not be performed while a headgear is worn.
        </p>
        <p class="font-weight-semibold">TMJ -</p>
        <p>
            There is a risk that problems may occur in the temporomandibular joints
            (TMJ). Although this is rare, it is a possibility. Tooth alignment or bite correction
            sometimes can improve tooth related causes of TMJ pain, but this is not in all cases.
            Tension appears to play a role in the frequency and severity of joint pains, and
            there are many other causes of TMJ dysfunction.
        </p>
        <p class="font-weight-semibold">Very unusual occurrences -</p>
        <p>
            Swallowed appliances, chipped teeth, dislodged
            restorations and allergies to latex or nickel rarely occur but are possible
        </p>
        <p class="font-weight-semibold">Termination of treatment -</p>
        <p>
            It is understood that treatment can be terminated
            for failure to cooperate, missing appointments, not wearing appliances,excessive
            breakage, failure to keep financial commitments,relocation, personal conflicts or
            for any other reason the doctor feels necessary. If termination is necessary, the
            patient will be given ample time to locate another orthodontist to continue treatmentor
            the braces will be removed.
        </p>
        <p class="font-weight-semibold">Expectations -</p>
        <p>
            All orthodontic patients can expect improvement with their
            particularproblem, but, in many cases, absolute perfection is impossible due to
            lack of muscle balance, tooth shapes and sizes and varying degrees of co-operation
            during treatment, along with heredity aspects that affects everyone’s specific treatment
            results
        </p>
        <p class="font-weight-semibold">Relapse -</p>
        <p>
            Teeth have a tendency to return to their original position after
            orthodontic treatment this is called relapse. Very severe problems have a higher
            tendency to relapse and the most common area for relapse is the lower front teeth.
            after band removal, a positioner or retainers are placed to minimize relapse .full
            co-operation in wearing these appliances is vital .we will make our correction to
            the highest standards and in many cases over correct in order to accommodate the
            rebound tendencies . When retention is discontinued some relapse is still possible
        </p>
        <p class="font-weight-semibold">Termination of treatment -</p>
        <p>
            It is understood that treatment can be terminated
            for failure to cooperate, missing appointments, not wearing appliances,excessive
            breakage, failure to keep financial commitments,relocation, personal conflicts or
            for any other reason the doctor feels necessary. If termination is necessary, the
            patient will be given ample time to locate another orthodontist to continue treatmentor
            the braces will be removed.
        </p>
        <p>
            I consent to the taking of photographs , study models and x-rays before , during
            and after orthodontic treatment to assist in the planning and progress treatment
            objectives if the case proves to be of special scientific interest , the doctor
            reserves the right to present the records in scientific papers or demonstrations
            to the profession
        </p>
        <p>
            I certify that I have read or had read to me the contents of this form and do realize
            the risks and limitations involved, and consent to orthodontic treatment.
        </p>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="2" class="font-weight-bold text-danger fs-18" width="100%">
                        Sign here, only if all of your questions have been answered to your satisfaction
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <div id="upat_sign_box" class="d-none">
                            <img alt="stamp" id="upat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="50%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="50%">
                        <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold"> Patient Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                    <td width="50%">
                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue" width="50%">
                        Patient/ Parent/ Guardian Signature
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center" width="50%">Doctor's Sign & Stamp</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update">Save Changes</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                <button type="button" class="btn btn-danger btn-sm" id="btn_DeleteForm">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print"> Download/Print </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Update").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Update").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Update").show();
                }
                else {
                    $("#btn_Update").hide();
                }
            }
        }

        GetSignaturename('patient');
        GetSignaturename('witness');
    });

    //#region Update  Click
$('#btn_Update').on('click', function (e) {
    e.preventDefault();
    if ($("#form_OrthoConsentEdit").valid()) {
        $('#btn_Update').removeClass("btn btn-sm btn-success");
        $('#btn_Update').addClass("btn btn-sm btn-success btn-loaders btn-icon");
        $('#btn_Update').html("Updating the Record....");

        var _dateInsert = {
            "ocId": 0,
            "oc_appId": @emr.appId,
            "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
        }

        console.log(_dateInsert);

        $.ajax({
            type: "Post",
            url: "@Url.Action("EditOrthoConsent", "OrthoConsent", new {area = "ConsentForms" })",
            dataType: 'JSON',
            data: _dateInsert,
            success: function (data) {
                $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                $('#btn_Update').addClass("btn btn-sm btn-warning");
                $('#btn_Update').html("Save Changes");

                if (data.isSuccess) {
                    if (data.isEdited) {
                        var alertPlaceholder = document.getElementById("Alert");

                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>  Ortho Consent Consent Form Updated Successfully!", "success");

                        //GetOrthoConsent();
                        Timeout();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Warning.. Ortho Consent Consent Form already Exists..</strong><br/>" +
                            "</div></div>";
                        $("#Alert1").html(html);
                    }
                }
                else {
                    let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                    "<div class='alert alert-danger' role='alert'>" +
                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                    "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                    $.each(data.message, function (index, value) {
                        html += "<li><small>" + value + "</small><li>";
                        var elem = $("#" + index);
                        if (elem.hasClass("select2-hidden-accessible")) {
                            $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                        }
                        else {
                            $(elem).addClass(" is-invalid");
                        }

                        setTimeout(function () {
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                            }
                            else {
                                $(elem).removeClass("is-invalid");
                            }
                            }, 5000);
                    });

                    html += "</ul></div></div>";

                    $("#error").html(html);
                }
            },
            error: function (xhr) {
                $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                $('#btn_Update').addClass("btn btn-sm btn-warning");
                $('#btn_Update').html("Save Changes");
                Timeout();
            }
        });
    }
    else {
        $('.modal-body').animate({
            scrollTop: ($('.has-error').offset().top - 300)
        }, 2000);
    }
});
//#endregion Update Click

    //#region Delete Click
    $('#btn_DeleteForm').on('click', function (e) {
        e.preventDefault();
        $('#btn_DeleteForm').removeClass("btn btn-success");
        $('#btn_DeleteForm').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_DeleteForm').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteOrthoConsent", "OrthoConsent", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-warning");
                $('#btn_DeleteForm').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>Ortho Consent Form Deleted Successfully!", "success");
                        clearControls();
                        Timeout();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-Delete");
                $('#btn_DeleteForm').html("Delete");
                Timeout();
            }
        })
    });
//#endregion

    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("#upat_sign,#uwit_sign").attr("src", "");
    }
    //#endregion Clear Controls

    //#region Print
$('#btn_Print').on('click', function (e) {
    e.preventDefault();
    $('#btn_Print').removeClass("btn btn-success");
    $('#btn_Print').addClass("btn btn-success btn-loaders btn-icon");
    $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "OrthoConsent", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=OrthoConsent",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {
                if (data.success) {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
    //#endregion Print

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "OrthoConsent",
                "appId": @emr.appId,
                "formname":"Ortho Consent",
                "formlink":"",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
        var openSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "OrthoConsent",
                "appId": @emr.appId,
                "formname":"Ortho Consent",
                "formlink":"",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
    if (localStorage.getItem("sign") != null) {
        GetSignaturename('patient');
        GetSignaturename('witness');
        localStorage.removeItem("sign");
    }
});

    //#region Get Signature
var GetSignaturename = function  (person) {
    $.ajax({
        url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=OrthoConsent',
        type: "GET",
        dataType: "json",
        async: false,
        success: function (response) {
            console.log(response);
            let sign = response[0].psb_sign;
            if (response[0].person == "patient") {
                $("#upat_sign_box").removeClass("d-none");
                $("#upat_sign").attr("src", sign);
            }
            if (response[0].person == "witness") {
                $("#uwit_sign_box").removeClass("d-none");
                $("#uwit_sign").attr("src", sign);
            }
        },
        error: function (xhr) {
            console.log(xhr);
            alert(xhr);
        }

    });
};
//#endregion Get Signature

    //#region Alert Timeout
function Timeout() {
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4200);
}
//#endregion Alert Timeout


</script>
