@model BusinessEntities.Patient.PatientInsuranceDetails
<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold" id="exampleModalLongTitle">Create New Insurance for <strong class="text-secondary" id="pat_info"></strong></h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
</div>
<div class="modal-body p-4">
    <form id="form_Create_Patient_Insurance" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 mb-4 font-weight-semibold">
                <span class="text-danger" style="font-size:smaller">Required fields are marked with *</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label">TPA <span class="text-danger">*</span></label>
                    @Html.HiddenFor(model => model.pi_patient, new { @id = "pi_patient" })
                    @Html.HiddenFor(model => model.piId, new { @id = "piId" })
                    @Html.DropDownListFor(model => model.pi_insurance, new List<SelectListItem> { }, "Please Select", new { @class = "form-select  mb-2 select2", @id = "pi_insurance" })<br />
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label">Payer <span class="text-danger">*</span></label>
                    @Html.DropDownListFor(model => model.pi_payer, new List<SelectListItem> { }, "Please Select", new { @class = "form-select  mb-2 select2 ", @id = "pi_payer" })<br />
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label">Network <span class="text-danger">*</span></label>
                    @Html.DropDownListFor(model => model.pi_scheme, new List<SelectListItem> { }, "Please Select", new { @class = "form-select  mb-2 select2 ", @id = "pi_scheme" })<br />
                </div>
            </div>
            <div class="col-sm-1 col-lg-1">
                <div class="form-group">
                    <label class="form-label">Overall Limit</label>
                    @Html.TextBoxFor(model => model.pi_limit, new { @class = "form-control mb-2", @placeholder = "Ex:0.00", @id = "pi_limit" })
                </div>
            </div>
            <div class="col-sm-2 col-lg-2">
                <div class="form-group">
                    <label class="form-label">Ceiling Amount</label>
                    @Html.TextBoxFor(model => model.pi_ceiling, new { @class = "form-control mb-2", @placeholder = "Ex:0.00", @id = "pi_ceiling" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label">Insurance Card Number<span class="text-danger">*</span></label>
                    @Html.TextBoxFor(model => model.pi_insno, new { @class = "form-control mb-2", @placeholder = "Ex:INS123456", @id = "pi_insno" })
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label">Policy Number<span class="text-danger">*</span></label>
                    @Html.TextBoxFor(model => model.pi_polocyno, new { @class = "form-control mb-2", @placeholder = "Ex:PLS123456", @id = "pi_polocyno" })
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="form-group">
                    <label class="form-label">Start Date<span class="text-danger">*</span></label>
                    @Html.TextBoxFor(model => model.pi_idate, new { @class = "form-control mb-2", @placeholder = "DD/MM/YYYY", @id = "pi_idate" })
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="form-group">
                    <label class="form-label">Expiry Date<span class="text-danger">*</span></label>
                    @Html.TextBoxFor(model => model.pi_edate, new { @class = "form-control mb-2", @placeholder = "DD/MM/YYYY", @id = "pi_edate" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label">General Consultation Deduction </label>
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.pi_cded, new { @class = "form-control text-right  mb-2", @placeholder = "Ex:0.00", @id = "pi_cded" })
                        <div class="input-group-append">
                            @Html.DropDownListFor(model => model.pi_cded_type, new List<SelectListItem>
                            {
                                new SelectListItem{ Value="Fixed", Text="Fixed", Selected=true},
                                new SelectListItem{ Value="%", Text="%"}
                            }, "Please Select", new { @class = "form-select select2", @id = "pi_cded_type", @onchange = "$('#pi_cded').val('0');$('#pi_cded_limit').val('0');" })
                            @Html.TextBoxFor(model => model.pi_cded_limit, new { @class = "form-control text-right mb-2", @placeholder = "Ex:0.00", @id = "pi_cded_limit" })
                        </div>
                    </div>
                    <div class="valid-feedback" style="color: #3904dc; display: block; ">
                        Amount - Type - Limit
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label">Dental Consultation Deduction </label>
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.pi_dded, new { @class = "form-control text-right mb-2", @placeholder = "Ex:0.00", @id = "pi_dded" })
                        <div class="input-group-append">
                            @Html.DropDownListFor(model => model.pi_dded_type, new List<SelectListItem>
                            {
                                new SelectListItem{ Value="Fixed", Text="Fixed", Selected=true},
                                new SelectListItem{ Value="%", Text="%"}
                            }, "Please Select", new { @class = "form-select select2", @id = "pi_dded_type", @onchange = "$('#pi_dded').val('0');$('#pi_dded_limit').val('0');" })
                            @Html.TextBoxFor(model => model.pi_dded_limit, new { @class = "form-control text-right mb-2", @placeholder = "Ex:0.00", @id = "pi_dded_limit" })
                        </div>
                    </div>
                    <div class="valid-feedback" style="color: #3904dc; display: block; ">
                        Amount - Type - Limit
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label">Specialist Consultation Deduction </label>
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.pi_ip_dcopay, new { @class = "form-control text-right mb-2", @placeholder = "Ex:0.00", @id = "pi_ip_dcopay" })
                        <div class="input-group-append">
                            @Html.DropDownListFor(model => model.pi_ip_dcopay_type, new List<SelectListItem>
                            {
                                new SelectListItem{ Value="Fixed", Text="Fixed", Selected=true},
                                new SelectListItem{ Value="%", Text="%"}
                            }, "Please Select", new { @class = "form-select select2", @id = "pi_ip_dcopay_type", @onchange = "$('#pi_ip_dcopay').val('0');$('#pi_ip_dcopay_limit').val('0');" })
                            @Html.TextBoxFor(model => model.pi_ip_dcopay_limit, new { @class = "form-control text-right mb-2", @placeholder = "Ex:0.00", @id = "pi_ip_dcopay_limit" })
                        </div>
                    </div>
                    <div class="valid-feedback" style="color: #3904dc; display: block; ">
                        Amount - Type - Limit
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label">Routine Dental Co.Payment </label>
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.pi_dcopay, new { @class = "form-control text-right mb-2", @placeholder = "Ex:0.00", @id = "pi_dcopay" })
                        <div class="input-group-append">
                            @Html.DropDownListFor(model => model.pi_dcopay_type, new List<SelectListItem>
                            {
                                new SelectListItem{ Value="Fixed", Text="Fixed", Selected=true},
                                new SelectListItem{ Value="%", Text="%"}
                            }, "Please Select", new { @class = "form-select select2", @id = "pi_dcopay_type", @onchange = "$('#pi_dcopay').val('0');$('#pi_dcopay_limit').val('0');" })
                            @Html.TextBoxFor(model => model.pi_dcopay_limit, new { @class = "form-control text-right mb-2", @placeholder = "Ex:0.00", @id = "pi_dcopay_limit" })
                        </div>
                    </div>
                    <div class="valid-feedback" style="color: #3904dc; display: block; ">
                        Amount - Type - Limit
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label">Co.Payment </label>
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.pi_copay, new { @class = "form-control text-right mb-2", @placeholder = "Ex:0.00", @id = "pi_copay" })
                        <div class="input-group-append">
                            @Html.DropDownListFor(model => model.pi_copay_type, new List<SelectListItem>
                            {
                                new SelectListItem{ Value="Fixed", Text="Fixed", Selected=true},
                                new SelectListItem{ Value="%", Text="%"}
                            }, "Please Select", new { @class = "form-select select2", @id = "pi_copay_type", @onchange = "$('#pi_copay').val('0');$('#pi_copay_limit').val('0');" })
                            @Html.TextBoxFor(model => model.pi_copay_limit, new { @class = "form-control text-right mb-2", @placeholder = "Ex:0.00", @id = "pi_copay_limit" })
                        </div>
                    </div>
                    <div class="valid-feedback" style="color: #3904dc; display: block; ">
                        Amount - Type - Limit
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label">High Prof Dental Co.Pay </label>
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.pi_hdcopay, new { @class = "form-control text-right mb-2", @placeholder = "Ex:0.00", @id = "pi_hdcopay" })
                        <div class="input-group-append">
                            @Html.DropDownListFor(model => model.pi_hdcopay_type, new List<SelectListItem>
                            {
                                new SelectListItem{ Value="Fixed", Text="Fixed", Selected=true},
                                new SelectListItem{ Value="%", Text="%"}
                            }, "Please Select", new { @class = "form-select select2", @id = "pi_hdcopay_type", @onchange = "$('#pi_hdcopay').val('0');$('#pi_hdcopay_limit').val('0');" })
                            @Html.TextBoxFor(model => model.pi_hdcopay_limit, new { @class = "form-control text-right mb-2", @placeholder = "Ex:0.00", @id = "pi_hdcopay_limit" })
                        </div>
                    </div>
                    <div class="valid-feedback" style="color: #3904dc; display: block; ">
                        Amount - Type - Limit
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label">Pharmacy Deduction</label>
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.pi_pded, new { @class = "form-control text-right mb-2", @placeholder = "Ex:0.00", @id = "pi_pded" })
                        <div class="input-group-append">
                            @Html.DropDownListFor(model => model.pi_pded_type, new List<SelectListItem>
                            {
                                new SelectListItem{ Value="Fixed", Text="Fixed", Selected=true},
                                new SelectListItem{ Value="%", Text="%"}
                            }, "Please Select", new { @class = "form-select select2", @id = "pi_pded_type", @onchange = "$('#pi_pded').val('0');$('#pi_pded_limit').val('0');" })
                            @Html.TextBoxFor(model => model.pi_pded_limit, new { @class = "form-control text-right mb-2", @placeholder = "Ex:0.00", @id = "pi_pded_limit" })
                        </div>
                    </div>
                    <div class="valid-feedback" style="color: #3904dc; display: block; ">
                        Amount - Type - Limit
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label">Lab Deduction </label>
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.pi_ided, new { @class = "form-control text-right mb-2", @placeholder = "Ex:0.00", @id = "pi_ided" })
                        <div class="input-group-append">
                            @Html.DropDownListFor(model => model.pi_ided_type, new List<SelectListItem>
                            {
                                new SelectListItem{ Value="Fixed", Text="Fixed", Selected=true},
                                new SelectListItem{ Value="%", Text="%"}
                            }, "Please Select", new { @class = "form-select select2", @id = "pi_ided_type", @onchange = "$('#pi_ided').val('0');$('#pi_ided_limit').val('0');" })
                            @Html.TextBoxFor(model => model.pi_ided_limit, new { @class = "form-control text-right mb-2", @placeholder = "Ex:0.00", @id = "pi_ided_limit" })
                        </div>
                    </div>
                    <div class="valid-feedback" style="color: #3904dc; display: block; ">
                        Amount - Type - Limit
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label">Meternity Deduction</label>
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.pi_mded, new { @class = "form-control text-right mb-2", @placeholder = "Ex:0.00", @id = "pi_mded" })
                        <div class="input-group-append">
                            @Html.DropDownListFor(model => model.pi_mded_type, new List<SelectListItem>
                            {
                                new SelectListItem{ Value="Fixed", Text="Fixed", Selected=true},
                                new SelectListItem{ Value="%", Text="%"}
                            }, "Please Select", new { @class = "form-select select2", @id = "pi_mded_type" })
                            @Html.TextBoxFor(model => model.pi_mded_limit, new { @class = "form-control text-right mb-2", @placeholder = "Ex:0.00", @id = "pi_mded_limit" })
                        </div>
                    </div>
                    <div class="valid-feedback" style="color: #3904dc; display: block; ">
                        Amount - Type - Limit
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label">Radiology Deduction</label>
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.pi_rded, new { @class = "form-control text-right mb-2", @placeholder = "Ex:0.00", @id = "pi_rded" })
                        <div class="input-group-append">
                            @Html.DropDownListFor(model => model.pi_rded_type, new List<SelectListItem>
                            {
                                new SelectListItem{ Value="Fixed", Text="Fixed", Selected=true},
                                new SelectListItem{ Value="%", Text="%"}
                            }, "Please Select", new { @class = "form-select select2", @id = "pi_rded_type" })
                            @Html.TextBoxFor(model => model.pi_rded_limit, new { @class = "form-control text-right mb-2", @placeholder = "Ex:0.00", @id = "pi_rded_limit" })
                        </div>
                    </div>
                    <div class="valid-feedback" style="color: #3904dc; display: block; ">
                        Amount - Type - Limit
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label">Insurance Card Front</label>
                    <div class="input-group file-browser">
                        @Html.TextBoxFor(model => model.pi_image, new { @class = "form-control browse-file", @placeholder = "Choose", @id = "pi_image", @readonly = "readonly" })
                        <label class="input-group-text btn btn-primary">
                            Browse <input type="file" name="pi_image" class="file-browserinput" style="display: none;" onchange="document.getElementById('pi_image').value = this.value.split('\\').pop().split('/').pop()">
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-lg-3">
                <div class="form-group">
                    <label class="form-label">Insurance Card Back</label>
                    <div class="input-group file-browser">
                        @Html.TextBoxFor(model => model.pi_image2, new { @class = "form-control browse-file", @placeholder = "Choose", @id = "pi_image2", @readonly = "readonly" })
                        <label class="input-group-text btn btn-primary">
                            Browse <input type="file" name="pi_image2" class="file-browserinput" style="display: none;" onchange="document.getElementById('pi_image2').value = this.value.split('\\').pop().split('/').pop()">
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div id="error"></div>
            <div class="col-sm-12 col-lg-12 text-center">
                <div class="btn-list btn-animation">
                    <button type="submit" class="btn btn-success" id="btn_Insert_Patient_Insurance">Create Insurance</button>
                    <button type="button" class="btn btn-outline-dark" id="btn_Reset_Insurance">Reset</button>
                    <button type="button" class="btn btn-outline-danger me-1" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    //#region Document Load
    $(function () {
        pi_patient();

        $("#pi_insurance").select2({
            placeholder: 'Select TPA',
            width: '100%',
            dropdownParent: $('#form_Create_Patient_Insurance'),
            escapeMarkup: function (markup) {
                return markup;
            }
        });

        $("#pi_payer").select2({
            placeholder: 'Select Payer',
            width: '100%',
            dropdownParent: $('#form_Create_Patient_Insurance'),
            escapeMarkup: function (markup) {
                return markup;
            }
        });

        $("#pi_scheme").select2({
            placeholder: 'Select Network',
            width: '100%',
            dropdownParent: $('#form_Create_Patient_Insurance'),
            escapeMarkup: function (markup) {
                return markup;
            }
        });

        $('#pi_idate').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-"
        });

        $("#pi_idate").bootstrapdatepicker("setDate", moment().format("DD-MM-YYYY"));

        $('#pi_edate').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-"
        });

        $("#pi_edate").bootstrapdatepicker("setDate", moment().format("DD-MM-YYYY"));

        $("#pi_cded_type").select2({
            placeholder: 'Select Type',
            width: '100%',
            dropdownParent: $('#form_Create_Patient_Insurance')
        });

        $("#pi_dded_type").select2({
            placeholder: 'Select Type',
            width: '100%',
            dropdownParent: $('#form_Create_Patient_Insurance')
        });

        $("#pi_ip_dcopay_type").select2({
            placeholder: 'Select Type',
            width: '100%',
            dropdownParent: $('#form_Create_Patient_Insurance')
        });

        $("#pi_dcopay_type").select2({
            placeholder: 'Select Type',
            width: '100%',
            dropdownParent: $('#form_Create_Patient_Insurance')
        });

        $("#pi_copay_type").select2({
            placeholder: 'Select Type',
            width: '100%',
            dropdownParent: $('#form_Create_Patient_Insurance')
        });

        $("#pi_hdcopay_type").select2({
            placeholder: 'Select Type',
            width: '100%',
            dropdownParent: $('#form_Create_Patient_Insurance')
        });

        $("#pi_pded_type").select2({
            placeholder: 'Select Type',
            width: '100%',
            dropdownParent: $('#form_Create_Patient_Insurance')
        });

        $("#pi_ided_type").select2({
            placeholder: 'Select Type',
            width: '100%',
            dropdownParent: $('#form_Create_Patient_Insurance')
        });

        $("#pi_mded_type").select2({
            placeholder: 'Select Type',
            width: '100%',
            dropdownParent: $('#form_Create_Patient_Insurance')
        });

        $("#pi_rded_type").select2({
            placeholder: 'Select Type',
            width: '100%',
            dropdownParent: $('#form_Create_Patient_Insurance')
        });

        load_items();

        validation();
    });
    //#endregion

    //#region Patient Load for Insurance
    var pi_patient = function () {
        if (localStorage.getItem("patId") != null) {
            $("#pi_patient").val(localStorage.getItem("patId"));
            $("#pat_info").html(localStorage.getItem("pat_info"));
        }
        else {
            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                "<div class='alert alert-danger' role='alert'>" +
                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                "<strong>Please Select Patient to Create Patient Insurance&nbsp;</strong><br/><ul>";

            html += "</ul></div></div>";

            $("#error").html(html);
        }
    }
    //#endregion

    //#region Loading Items
    var load_items = function () {
        load_insurance_companies(0);
        load_insurance_payers();
        load_insurance_networks();
    }
    //#endregion

    //#region Load Insurance Companies
    var load_insurance_companies = function (icId) {
        $.ajax({
            url: '@Url.Action("GetPatient_InsuranceTPA", "PatientInsurance", new { area = "Patient" })?icId=' + icId,
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {

                $('#pi_insurance').empty();
                var _data = response;
                if (_data.length > 0) {
                    $.each(response, function (j) {
                        var newOption = new Option(response[j].Text, response[j].Value, (parseInt(response[j].Value) === 1) ? true : false, (parseInt(response[j].Value) === 1) ? true : false);
                        $('#pi_insurance').append(newOption).trigger('change');
                    });
                }
            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr);
            }
        });
    };
    //#endregion

    //#region load Insurance payers
    var load_insurance_payers = function () {
        $.ajax({
            url: '@Url.Action("GetPatient_InsurancePayers", "PatientInsurance", new { area = "Patient" })?ip_ins=' + $('#pi_insurance').val(),
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {

                $('#pi_payer').empty();
                var _data = response;
                if (_data.length > 0) {
                    $.each(response, function (j) {
                        var newOption = new Option(response[j].Text, response[j].Value, (parseInt(response[j].Value) === 1) ? true : false, (parseInt(response[j].Value) === 1) ? true : false);
                        $('#pi_payer').append(newOption).trigger('change');
                    });
                }
            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr);
            }
        });
    };
    //#endregion

    //#region load Insurance networks
    var load_insurance_networks = function () {
        $.ajax({
            url: '@Url.Action("GetPatient_InsuranceNetworks", "PatientInsurance", new { area = "Patient" })?is_icId=' + $('#pi_insurance').val(),
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {

                $('#pi_scheme').empty();
                var _data = response;
                if (_data.length > 0) {
                    $.each(response, function (j) {
                        var newOption = new Option(response[j].Text, response[j].Value, (parseInt(response[j].Value) === 1) ? true : false, (parseInt(response[j].Value) === 1) ? true : false);
                        $('#pi_scheme').append(newOption).trigger('change');
                    });
                }
            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr);
            }
        });
    };
    //#endregion load

    //#region Insurance Change Event
    $('#pi_insurance').on('select2:select', function (e) {
        var data = e.params.data;
        console.log(data);

        load_insurance_payers();
        load_insurance_networks();
    });
    //#endregion

    //#region Validation Initialization
    var validation = function () {
        $('#pi_idate').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                return false;

            }
            else {
                if (e.target.value.length >= 18)
                    return false;
            }
        });

        $('#pi_edate').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                return false;

            }
            else {
                if (e.target.value.length >= 18)
                    return false;
            }
        });


        $('#pi_limit').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#pi_ceiling').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#pi_cded').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }
            else {
                if ($("#pi_cded_type").val() == "%") {
                    if (parseFloat(e.target.value) >= 99)
                        return false;
                }
                else {
                    if (parseFloat(e.target.value) >= 999)
                        return false;
                }
            }

        });

        $('#pi_cded_limit').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#pi_dded').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }
            else {
                if ($("#pi_dded_type").val() == "%") {
                    if (parseFloat(e.target.value) >= 99)
                        return false;
                }
                else {
                    if (parseFloat(e.target.value) >= 999)
                        return false;
                }
            }
        });

        $('#pi_dded_limit').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#pi_ip_dcopay').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }
            else {
                if ($("#pi_ip_dcopay_type").val() == "%") {
                    if (parseFloat(e.target.value) >= 99)
                        return false;
                }
                else {
                    if (parseFloat(e.target.value) >= 999)
                        return false;
                }
            }
        });

        $('#pi_ip_dcopay_limit').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#pi_dcopay').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }
            else {
                if ($("#pi_dcopay_type").val() == "%") {
                    if (parseFloat(e.target.value) >= 99)
                        return false;
                }
                else {
                    if (parseFloat(e.target.value) >= 999)
                        return false;
                }
            }
        });

        $('#pi_dcopay_limit').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#pi_copay').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }
            else {
                if ($("#pi_copay_type").val() == "%") {
                    if (parseFloat(e.target.value) >= 99)
                        return false;
                }
                else {
                    if (parseFloat(e.target.value) >= 999)
                        return false;
                }
            }
        });

        $('#pi_copay_limit').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#pi_hdcopay').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }
            else {
                if ($("#pi_hdcopay_type").val() == "%") {
                    if (parseFloat(e.target.value) >= 99)
                        return false;
                }
                else {
                    if (parseFloat(e.target.value) >= 999)
                        return false;
                }
            }
        });

        $('#pi_hdcopay_limit').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#pi_pded').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }
            else {
                if ($("#pi_pded_type").val() == "%") {
                    if (parseFloat(e.target.value) >= 99)
                        return false;
                }
                else {
                    if (parseFloat(e.target.value) >= 999)
                        return false;
                }
            }
        });

        $('#pi_pded_limit').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#pi_ided').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }
            else {
                if ($("#pi_ided_type").val() == "%") {
                    if (parseFloat(e.target.value) >= 99)
                        return false;
                }
                else {
                    if (parseFloat(e.target.value) >= 999)
                        return false;
                }
            }
        });

        $('#pi_ided_limit').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#pi_mded').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }
            else {
                if ($("#pi_mded_type").val() == "%") {
                    if (parseFloat(e.target.value) >= 99)
                        return false;
                }
                else {
                    if (parseFloat(e.target.value) >= 999)
                        return false;
                }
            }
        });

        $('#pi_mded_limit').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $('#pi_rded').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g)) {
                return false;
            }
            else {
                if ($("#pi_rded_type").val() == "%") {
                    if (parseFloat(e.target.value) >= 99)
                        return false;
                }
                else {
                    if (parseFloat(e.target.value) >= 999)
                        return false;
                }
            }
        });

        $('#pi_rded_limit').keypress(function (e) {
            var charCode = (e.which) ? e.which : event.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9.]/g))
                return false;
        });

        $.validator.addMethod('non_cash', function (value) {
            var pi_insurance = $("#pi_insurance").val();

            if (pi_insurance == 1)
            {
                return true;
            }
            else
            {
                if (value == "") {
                    return false;
                }
                else {
                    return true;
                }
            }
        }, '');

        $("#form_Create_Patient_Insurance").validate({
            focusInvalid: true,
            rules:
            {
                "pi_insurance": {
                    required: true
                },
                "pi_payer": {
                    required: true
                },
                "pi_scheme": {
                    required: true
                },
                "pi_insno": {
                    non_cash: true
                },
                "pi_polocyno": {
                    non_cash: true
                },
                "pi_idate": {
                    non_cash: true
                },
                "pi_edate": {
                    non_cash: true
                }
            },
            messages: {
                "pi_insurance": {
                    required: "Select the TPA"
                },
                "pi_payer": {
                    required: "Select the Payer"
                },
                "pi_scheme": {
                    required: "Select the Network"
                },
                "pi_insno": {
                    non_cash: "Enter the Insurance Number"
                },
                "pi_polocyno": {
                    non_cash: "Enter the Policy Number"
                },
                "pi_idate": {
                    non_cash: "Select Issue Date"
                },
                "pi_edate": {
                    non_cash: "Select Expiry Date"
                }
            },
            highlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                } else {
                    elem.parent().addClass('has-error');
                }
                $(element).parent().addClass('has-error');
            },
            unhighlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                } else {
                    elem.removeClass('has-error');
                }
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    element = $("#select2-" + elem.attr("id") + "-container").parent();
                    error.insertAfter(element);
                } else {
                    error.insertAfter(element);
                }
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });


        $('#pi_insurance').on('change', function () {
            $(this).trigger('blur');
        });
        $('#pi_payer').on('change', function () {
            $(this).trigger('blur');
        });
        $('#pi_scheme').on('change', function () {
            $(this).trigger('blur');
        });
        $('#pi_insno').on('change', function () {
            $(this).trigger('blur');
        });
        $('#pi_polocyno').on('change', function () {
            $(this).trigger('blur');
        });
        $('#pi_idate').on('change', function () {
            $(this).trigger('blur');
        });
        $('#pi_edate').on('change', function () {
            $(this).trigger('blur');
        });

    };
    //#endregion

    //#region Insert Patient Insurance Click
    $('#btn_Insert_Patient_Insurance').on('click', function (e) {
        e.preventDefault();

        if ($("#form_Create_Patient_Insurance").valid()) {
            $('#btn_Insert_Patient_Insurance').removeClass("btn btn-success");
            $('#btn_Insert_Patient_Insurance').addClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Insert_Patient_Insurance').html("Saving the Record....");

            var form = $('#form_Create_Patient_Insurance')
            const formData = new FormData(form.get(0));

            formData.append("piId", parseInt($("#piId").val()));
            formData.append("pi_patient", parseInt($("#pi_patient").val()));
            formData.append("pi_insurance", parseInt($("#pi_insurance").val()));
            formData.append("pi_payer", parseInt($("#pi_payer").val()));
            formData.append("pi_scheme", parseInt($("#pi_scheme").val()));
            formData.append("pi_idate ", moment($("#pi_idate").val()).format("YYYY-MM-DD"));
            formData.append("pi_edate ", moment($("#pi_edate").val()).format("YYYY-MM-DD"));
            formData.append("pi_insno", $("#pi_insno").val());
            formData.append("pi_polocyno", $("#pi_polocyno").val());
            formData.append("pi_cded_type", $("#pi_cded_type").val());
            formData.append("pi_cded", parseFloat($("#pi_cded").val()));
            formData.append("pi_cded_limit", parseFloat($("#pi_cded_limit").val()));
            formData.append("pi_ip_dcopay_type", $("#pi_ip_dcopay_type").val());
            formData.append("pi_ip_dcopay", parseFloat($("#pi_ip_dcopay").val()));
            formData.append("pi_ip_dcopay_limit", parseFloat($("#pi_ip_dcopay_limit").val()));
            formData.append("pi_dded_type", $("#pi_dded_type").val());
            formData.append("pi_dded", parseFloat($("#pi_dded").val()));
            formData.append("pi_dded_limit", parseFloat($("#pi_dded_limit").val()));
            formData.append("pi_copay_type", $("#pi_copay_type").val());
            formData.append("pi_copay", parseFloat($("#pi_copay").val()));
            formData.append("pi_copay_limit", parseFloat($("#pi_copay_limit").val()));
            formData.append("pi_dcopay_type", $("#pi_dcopay_type").val());
            formData.append("pi_dcopay", parseFloat($("#pi_dcopay").val()));
            formData.append("pi_dcopay_limit", parseFloat($("#pi_dcopay_limit").val()));
            formData.append("pi_hdcopay_type", $("#pi_hdcopay_type").val());
            formData.append("pi_hdcopay", parseFloat($("#pi_hdcopay").val()));
            formData.append("pi_hdcopay_limit", parseFloat($("#pi_hdcopay_limit").val()));
            formData.append("pi_pded_type", $("#pi_pded_type").val());
            formData.append("pi_pded", parseFloat($("#pi_pded").val()));
            formData.append("pi_pded_limit", parseFloat($("#pi_pded_limit").val()));
            formData.append("pi_ided_type", $("#pi_ided_type").val());
            formData.append("pi_ided", parseFloat($("#pi_ided").val()));
            formData.append("pi_ided_limit", parseFloat($("#pi_ided_limit").val()));
            formData.append("pi_rded_type", $("#pi_rded_type").val());
            formData.append("pi_rded", parseFloat($("#pi_rded").val()));
            formData.append("pi_rded_limit", parseFloat($("#pi_rded_limit").val()));
            formData.append("pi_mded_type", $("#pi_mded_type").val());
            formData.append("pi_mded", parseFloat($("#pi_mded").val()));
            formData.append("pi_mded_limit", parseFloat($("#pi_mded_limit").val()));
            formData.append("pi_limit", parseFloat($("#pi_limit").val()));
            formData.append("pi_ceiling", parseFloat($("#pi_ceiling").val()));
            formData.append("pi_image", $("#pi_image").val());
            formData.append("pi_image2", $("#pi_image2").val());

            $.ajax({
                type: "POST",
                url: "@Url.Action("InsertPatientInsurance", "PatientInsurance", new { area = "Patient" })",
                dataType: 'JSON',
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    $('#btn_Insert_Patient_Insurance').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Insert_Patient_Insurance').addClass("btn btn-success");
                    $('#btn_Insert_Patient_Insurance').html("Create Insurance");

                    if (data.isSuccess) {
                        clearControls();
                        var alertPlaceholder = document.getElementById("PatientAlert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i> Patient Insurance Created Successfully!", "success");

                        $('#create_patient_insurance_model').modal('hide');
                        GetPatientsInsurances();
                        Timeout();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-danger' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (_index, value) {
                            html += "<li><small>" + value + "</small><li>";

                            var index = _index.split(',');

                            $.each(index, function (i, v) {
                                if (index[i] != null && index[i] != "") {
                                    var elem = $("#" + index[i]);
                                    console.log($("#" + index[i]));
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                    }
                                    else {
                                        $(elem).addClass(" is-invalid");
                                    }

                                    setTimeout(function () {
                                        if (elem.hasClass("select2-hidden-accessible")) {
                                            $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                        }
                                        else {
                                            $(elem).removeClass("is-invalid");
                                        }
                                    }, 5000);
                                }
                            });
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Insert_Patient_Insurance').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Insert_Patient_Insurance').addClass("btn btn-success");
                    $('#btn_Insert_Patient_Insurance').html("Create Insurance");
                    $('#create_patient_insurance_model').modal('toggle');

                    console.log(xhr);
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion

    //#region Clear Controls
    var clearControls = function () {
        pi_patient();

        $("#piId").val(0);
        load_items();
        $("#pi_idate").bootstrapdatepicker("setDate", "");
        $("#pi_edate").bootstrapdatepicker("setDate", "");
        $("#pi_insno").val("");
        $("#pi_polocyno").val("");

        $("#pi_cded_type").val("Fixed");
        $("#pi_cded").val(0);
        $("#pi_cded_limit").val(0);

        $("#pi_ip_dcopay_type").val("Fixed");
        $("#pi_ip_dcopay").val(0);
        $("#pi_ip_dcopay_limit").val(0);

        $("#pi_dded_type").val("Fixed");
        $("#pi_dded").val(0);
        $("#pi_dded_limit").val(0);

        $("#pi_copay_type").val("Fixed");
        $("#pi_copay").val(0);
        $("#pi_copay_limit").val(0);

        $("#pi_dcopay_type").val("Fixed");
        $("#pi_dcopay").val(0);
        $("#pi_dcopay_limit").val(0);

        $("#pi_hdcopay_type").val("Fixed");
        $("#pi_hdcopay").val(0);
        $("#pi_hdcopay_limit").val(0);

        $("#pi_pded_type").val("Fixed");
        $("#pi_pded").val(0);
        $("#pi_pded_limit").val(0);

        $("#pi_ided_type").val("Fixed");
        $("#pi_ided").val(0);
        $("#pi_ided_limit").val(0);

        $("#pi_rded_type").val("Fixed");
        $("#pi_rded").val(0);
        $("#pi_rded_limit").val(0);

        $("#pi_mded_type").val("Fixed");
        $("#pi_mded").val(0);
        $("#pi_mded_limit").val(0);

        $("#pi_limit").val(0);
        $("#pi_ceiling").val(0);
        $("#pi_image").val("");
        $("#pi_image2").val("");
    }
    //#endregion

    //#region Reset
    $('#btn_Reset_Insurance').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion
</script>