@using System.Security.Claims;
@{
    ViewBag.Title = "Appointment Status Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_branch = claims.Where(c => c.Type == ClaimTypes.GroupSid).Select(c => c.Value).SingleOrDefault();
}
<div class="page-header">
    <div class="page-leftheader">
        <h4 class="page-title mb-0 text-primary">
            Appointment Status Report
        </h4>
    </div>
    <div class="page-rightheader">
        <div class="btn-list btn-animation">
            <button class="btn btn-outline-primary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#searchFilter" aria-expanded="false" aria-controls="collapseExample">
                <i class="fa fa-filter"></i> Advanced Filters
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card mb-0">
            <div class="card-status bg-primary-1"></div>
            <div class="collapse" id="searchFilter">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="form-group mb-2">
                                <label class="form-label font-weight-semibold">Branch<small>(es)</small></label>
                                <select class="form-control" id="select_branch" multiple="multiple">
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <div class="form-group mb-2">
                                <label class="form-label font-weight-semibold">From Date</label>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-calendar"></i>
                                    </div>
                                </div>
                                <input id="date_from_status" class="form-control" placeholder="Select Enquiry Date From" type="text" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <div class="form-group mb-2">
                                <label class="form-label font-weight-semibold">To Date</label>
                            </div>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fe fe-calendar"></i>
                                    </div>
                                </div>
                                <input id="date_to_status" class="form-control" placeholder="Select Enquiry Date To" type="text" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-2">
                            <div class="form-group mb-2">
                                <label class="form-label font-weight-semibold">&nbsp;</label>
                                <button class="btn btn-primary mb-2" type="button" id="btnSearch">
                                    <i class="fa fa-search-plus"></i> Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div id="progress-loader" style="display:none;">
                    <div class="progress progress-sm mb-3">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-teal progress-bar-indeterminate"></div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="tbl_app_status_report" class="table table-striped table-bordered text-nowrap resize-table" style="width: 100%;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #3C457D; border-color: #3C457D;">
                                <th class="border-bottom-0 font-weight-semibold text-white">Date</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Booked</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Enquiry</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Confirmed</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Cancelled</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Arrived</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Invoiced</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Call Back</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">No Answer</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">No Show</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">With Doctor</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Deleted</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Nurse Station</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Nurse Completed</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Consultation Completed</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">In Process</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Getting</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Prior Request</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th class="text-end fs-14 font-weight-semibold">Total :</th>
                                <th class="text-end fs-14 font-weight-semibold"></th>
                                <th class="text-end fs-14 font-weight-semibold"></th>
                                <th class="text-end fs-14 font-weight-semibold"></th>
                                <th class="text-end fs-14 font-weight-semibold"></th>
                                <th class="text-end fs-14 font-weight-semibold"></th>
                                <th class="text-end fs-14 font-weight-semibold"></th>
                                <th class="text-end fs-14 font-weight-semibold"></th>
                                <th class="text-end fs-14 font-weight-semibold"></th>
                                <th class="text-end fs-14 font-weight-semibold"></th>
                                <th class="text-end fs-14 font-weight-semibold"></th>
                                <th class="text-end fs-14 font-weight-semibold"></th>
                                <th class="text-end fs-14 font-weight-semibold"></th>
                                <th class="text-end fs-14 font-weight-semibold"></th>
                                <th class="text-end fs-14 font-weight-semibold"></th>
                                <th class="text-end fs-14 font-weight-semibold"></th>
                                <th class="text-end fs-14 font-weight-semibold"></th>
                                <th class="text-end fs-14 font-weight-semibold"></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="text-wrap d-none" id="toastReport">
    <div class="toast-main p-5">
        <div class="demo-static-toast">
            <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                <div id="reportToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header text-dark">
                        <img src="~/assets/images/brand/favicon.ico" class="rounded me-2" alt="img" height="16">
                        <strong class="me-auto">Appointment Status Report</strong>
                        <button type="button" class="btn-close btn-close" data-bs-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="toast-body" id="toastBody">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section myScripts{
    <script>
        //#region Page Load & Initialization
        $(function () {
            // Load Advanced Filters
            load_filters();
            // Load Report By Status
            GetAppStatusReport(1);
        });
        //#endregion

        //#region Load Advanced Filters
        var load_filters = function () {
            load_branches();

            $('#date_from_status').bootstrapdatepicker({
                format: "dd-MM-yyyy",
                viewMode: "date",
                todayHighlight: true,
                autoclose: true,
                multidate: false,
                multidateSeparator: "-"
            });
            $("#date_from_status").bootstrapdatepicker("setDate", "today");

            $('#date_to_status').bootstrapdatepicker({
                format: "dd-MM-yyyy",
                viewMode: "date",
                todayHighlight: true,
                autoclose: true,
                multidate: false,
                multidateSeparator: "-"
            });
            $("#date_to_status").bootstrapdatepicker("setDate", "tomorrow");

            $('#date_from_status').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });

            $('#date_to_status').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
        }
        // Load Branches
        var load_branches = function () {
            $('#select_branch').SumoSelect({
                placeholder: 'Select Branch(es)',
                captionFormat: '{0} Branch(es) Selected',
                captionFormatAllSelected: 'All {0} Branches selected!',
                csvDispCount: 3,
                okCancelInMulti: true,
                isClickAwayOk: true,
                search: true,
                searchText: 'Search here...',
                selectAll: true
            });

            $.ajax({
            url: '@Url.Action("GetBranches", "AppointmentList", new { area = "Appointment" })',
            type: "GET",
            dataType: "JSON",
            async: false,
            success: function (response) {
                pageLoad = true;
                $('#select_branch').html('');
                $('#select_branch')[0].sumo.reload();

                $.each(response, function (j) {
                    $('#select_branch')[0].sumo.add(response[j].id, response[j].text);
                    $('#select_branch')[0].sumo.selectItem(["@emp_branch.ToString()"]);
                });
            },
            error: function (xhr) {
                console.log("Failed! Error Message : " + xhr.statusText);
            }
            }).done(function (){
                $('#select_branch')[0].sumo.reload();
            });
        }
        //#endregion

        //#region Search Status Report Click
        $("#btnSearch").click(function (e) {
            e.preventDefault();
            if ($("#select_branch").val() != null && $("#select_branch").val() != 0 && $("#select_branch").val() != "") {
                if (($("#date_from_status").val() != null && $("#date_from_status").val() != 0 && $("#date_from_status").val() != "") &&
                    ($("#date_to_status").val() != null && $("#date_to_status").val() != 0 && $("#date_to_status").val() != "")) {
                    let isValid = true;
                    let daily_frm = moment($("#date_from_status").val());
                    let daily_to = moment($("#date_to_status").val());

                    // Check if Date From is a valid Date
                    if ($("#date_from_status").val() != null && $("#date_from_status").val() != 0 && $("#date_from_status").val() != "" && $("#date_from_daily_source").val() != undefined) {
                        if (!daily_frm.isValid()) {
                            isValid = false;
                            e.stopPropagation();
                            return $.growl.error({
                                title: "Error",
                                message: "Invalid From Date!"
                            });
                        }
                    }
                    // Check if Date To is a valid Date
                    if ($("#date_to_status").val() != null && $("#date_to_status").val() != 0 && $("#date_to_status").val() != "" && $("#date_to_status").val() != undefined) {
                        if (!daily_to.isValid()) {
                            isValid = false;
                            e.stopPropagation();
                            return $.growl.error({
                                title: "Error",
                                message: "Invalid To Date!"
                            });
                        }
                    }
                    // Check if Date Range is valid
                    if (($("#date_from_status").val() != null && $("#date_from_status").val() != 0 && $("#date_from_status").val() != "" && $("#date_from_status").val() != undefined) && ($("#date_to_status").val() != null && $("#date_to_status").val() != 0 && $("#date_to_status").val() != "" && $("#date_to_status").val() != undefined)) {
                        if (daily_frm.isValid() && daily_to.isValid()) {
                            if (daily_to.diff(daily_frm, 'days') <= -1) {
                                isValid = false;

                                var index = [];
                                index.push("date_from_status");
                                index.push("date_to_status");

                                $.each(index, function (i, v) {
                                    if (index[i] != null && index[i] != "") {
                                        var elem = $("#" + index[i]);
                                        if (elem.hasClass("select2-hidden-accessible")) {
                                            $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                        }
                                        else {
                                            $(elem).addClass(" is-invalid");
                                        }

                                        setTimeout(function () {
                                            if (elem.hasClass("select2-hidden-accessible")) {
                                                $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                            }
                                            else {
                                                $(elem).removeClass("is-invalid");
                                            }
                                        }, 5000);
                                    }
                                });

                                e.stopPropagation();

                                return $.growl.error({
                                    title: "Error!",
                                    message: "From Date Filter should be less than To Date Filter!"
                                });
                            }
                        }
                    }
                    // Check If Valid
                    if (isValid) {
                        GetAppStatusReport(1);
                    }
                }
                else {
                    Swal.fire({
                        title: "Attention!",
                        text: "From Date & To Date is required to filter record(s)!",
                        icon: "warning",
                        showCancelButton: 0,
                        confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60"
                    });
                }
            }
            else {
                Swal.fire({
                    title: "Attention!",
                    text: "You need to select atleast 1 Branch to Filter Report!",
                    icon: "warning",
                    showCancelButton: 0,
                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60"
                });
            }
        });
        //#endregion

        //#region Datatable Client Side Processing
        // Get Appointment Status Report
        var GetAppStatusReport = function (search_type) {

            var _data = {
                "search_type"   : search_type,
                "branch_ids"    : $('#select_branch').val().toString(),
                "date_from"     : $('#date_from_status').val(),
                "date_to"       : $('#date_to_status').val()
            }

            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAppointmentStatusReport", "AppointmentStatusReport", new { area = "KPIReports" })",
                data: _data,
                beforeSend: function () {
                    $('#progress_loader').show();
                    $('#toastBody').html('');
                    $('#toastBody').html('<i class="fe fe-info me-2 text-info"></i> <b>Generating Report..</b> Please wait!');
                    $('#toastReport').removeClass("d-none");
                    $('#reportToast').show();
                },
                start_time: new Date().getTime(),
                success: function (response) {
                    if (response.isAuthorized != false) {

                        //#region Load Datatable
                        var table;
                        if ($.fn.dataTable.isDataTable('#tbl_app_status_report')) {
                            table = $('#tbl_app_status_report').DataTable();
                            table.clear();
                            table.rows.add(response).draw();
                        }
                        else {
                            BindDataTable(response);
                        }
                        //#endregion

                        //#region Toast Before / After Filtering
                        var etime = new Date().getTime() - this.start_time;
                        $('#toastBody').html('');
                        $('#toastBody').html('<i class="fe fe-check-circle me-2 text-success"></i> <b class="text-dark">Generated </b> report in about <b id="etime">' + etime + '</b> ms');
                        $('#reportToast').show();
                        //#endregion
                    }
                    else
                    {
                        console.log("You are not Authorized To View This Page!");
                    }
                },
                error: function (xhr) {
                    console.log("Failed! Error Message : " + xhr.statusText);
                    $('#progress-loader').hide();
                }
            }).done(function () {
                setTimeout(function () {
                    $('#reportToast').fadeOut('fast');
                    $('#toastReport').addClass("d-none");
                }, 5000);
                $('#progress_loader').hide();
            });
        }
        //#endregion

        //#region Bind DataTable
        var BindDataTable = function (response) {
            var table = $("#tbl_app_status_report").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                processing: true,
                "deferRender": true,
                "pageLength": 100,
                "retrieve": true,
                lengthChange: true,
                "aaData": response,
                "aoColumns": [
                    {
                        "mData": "app_fdate",
                        "render": function (app_fdate, type, full, meta) {
                            if (type === 'display' || type === 'filter') {
                                return moment(app_fdate).format("DD-MM-YYYY");
                            }
                            return moment(app_fdate).format("YYYY-MM-DD");
                        }
                    },
                    {
                        "className": "text-end",
                        "mData": "Booked",
                        "render": function (data, type, full, meta) {
                            if (parseInt(data) > 0) {
                                return '<a class="text-secondary font-weight-bold" style="cursor:pointer" onclick="appointmentList(\'' + moment(full.app_fdate).format("YYYY-MM-DD") + '\',\'Booked\')">' + data + '</a>';
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    {
                        "className": "text-end",
                        "mData": "Enquiry",
                        "render": function (data, type, full, meta) {
                            if (parseInt(data) > 0) {
                                return '<a class="text-secondary font-weight-bold" style="cursor:pointer" onclick="appointmentList(\'' + moment(full.app_fdate).format("YYYY-MM-DD") + '\',\'Enquiry\')">' + data + '</a>';
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    {
                        "className": "text-end",
                        "mData": "Confirmed",
                        "render": function (data, type, full, meta) {
                            if (parseInt(data) > 0) {
                                return '<a class="text-secondary font-weight-bold" style="cursor:pointer" onclick="appointmentList(\'' + moment(full.app_fdate).format("YYYY-MM-DD") + '\',\'Confirmed\')">' + data + '</a>';
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    {
                        "className": "text-end",
                        "mData": "Cancelled",
                        "render": function (data, type, full, meta) {
                            if (parseInt(data) > 0) {
                                return '<a class="text-secondary font-weight-bold" style="cursor:pointer" onclick="appointmentList(\'' + moment(full.app_fdate).format("YYYY-MM-DD") + '\',\'Cancelled\')">' + data + '</a>';
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    {
                        "className": "text-end",
                        "mData": "Arrived",
                        "render": function (data, type, full, meta) {
                            if (parseInt(data) > 0) {
                                return '<a class="text-secondary font-weight-bold" style="cursor:pointer" onclick="appointmentList(\'' + moment(full.app_fdate).format("YYYY-MM-DD") + '\',\'Arrived\')">' + data + '</a>';
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    {
                        "className": "text-end",
                        "mData": "Invoiced",
                        "render": function (data, type, full, meta) {
                            if (parseInt(data) > 0) {
                                return '<a class="text-secondary font-weight-bold" style="cursor:pointer" onclick="appointmentList(\'' + moment(full.app_fdate).format("YYYY-MM-DD") + '\',\'Invoiced\')">' + data + '</a>';
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    {
                        "className": "text-end",
                        "mData": "CallBack",
                        "render": function (data, type, full, meta) {
                            if (parseInt(data) > 0) {
                                return '<a class="text-secondary font-weight-bold" style="cursor:pointer" onclick="appointmentList(\'' + moment(full.app_fdate).format("YYYY-MM-DD") + '\',\'Call Back\')">' + data + '</a>';
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    {
                        "className": "text-end",
                        "mData": "NoAnswer",
                        "render": function (data, type, full, meta) {
                            if (parseInt(data) > 0) {
                                return '<a class="text-secondary font-weight-bold" style="cursor:pointer" onclick="appointmentList(\'' + moment(full.app_fdate).format("YYYY-MM-DD") + '\',\'No Answer\')">' + data + '</a>';
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    {
                        "className": "text-end",
                        "mData": "NoShow",
                        "render": function (data, type, full, meta) {
                            if (parseInt(data) > 0) {
                                return '<a class="text-secondary font-weight-bold" style="cursor:pointer" onclick="appointmentList(\'' + moment(full.app_fdate).format("YYYY-MM-DD") + '\',\'No Show\')">' + data + '</a>';
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    {
                        "className": "text-end",
                        "mData": "WithDoctor",
                        "render": function (data, type, full, meta) {
                            if (parseInt(data) > 0) {
                                return '<a class="text-secondary font-weight-bold" style="cursor:pointer" onclick="appointmentList(\'' + moment(full.app_fdate).format("YYYY-MM-DD") + '\',\'With Doctor\')">' + data + '</a>';
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    {
                        "className": "text-end",
                        "mData": "Deleted",
                        "render": function (data, type, full, meta) {
                            if (parseInt(data) > 0) {
                                return '<a class="text-secondary font-weight-bold" style="cursor:pointer" onclick="appointmentList(\'' + moment(full.app_fdate).format("YYYY-MM-DD") + '\',\'Deleted\')">' + data + '</a>';
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    {
                        "className": "text-end",
                        "mData": "NurseStation",
                        "render": function (data, type, full, meta) {
                            if (parseInt(data) > 0) {
                                return '<a class="text-secondary font-weight-bold" style="cursor:pointer" onclick="appointmentList(\'' + moment(full.app_fdate).format("YYYY-MM-DD") + '\',\'Nurse Station\')">' + data + '</a>';
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    {
                        "className": "text-end",
                        "mData": "NurseCompleted",
                        "render": function (data, type, full, meta) {
                            if (parseInt(data) > 0) {
                                return '<a class="text-secondary font-weight-bold" style="cursor:pointer" onclick="appointmentList(\'' + moment(full.app_fdate).format("YYYY-MM-DD") + '\',\'nurse completed\')">' + data + '</a>';
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    {
                        "className": "text-end",
                        "mData": "ConsultationCompleted",
                        "render": function (data, type, full, meta) {
                            if (parseInt(data) > 0) {
                                return '<a class="text-secondary font-weight-bold" style="cursor:pointer" onclick="appointmentList(\'' + moment(full.app_fdate).format("YYYY-MM-DD") + '\',\'consultation Completed\')">' + data + '</a>';
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    {
                        "className": "text-end",
                        "mData": "InProcess",
                        "render": function (data, type, full, meta) {
                            if (parseInt(data) > 0) {
                                return '<a class="text-secondary font-weight-bold" style="cursor:pointer" onclick="appointmentList(\'' + moment(full.app_fdate).format("YYYY-MM-DD") + '\',\'In Process\')">' + data + '</a>';
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    {
                        "className": "text-end",
                        "mData": "Getting",
                        "render": function (data, type, full, meta) {
                            if (parseInt(data) > 0) {
                                return '<a class="text-secondary font-weight-bold" style="cursor:pointer" onclick="appointmentList(\'' + moment(full.app_fdate).format("YYYY-MM-DD") + '\',\'Getting\')">' + data + '</a>';
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    {
                        "className": "text-end",
                        "mData": "PriorRequest",
                        "render": function (data, type, full, meta) {
                            if (parseInt(data) > 0) {
                                return '<a class="text-secondary font-weight-bold" style="cursor:pointer" onclick="appointmentList(\'' + moment(full.app_fdate).format("YYYY-MM-DD") + '\',\'Prior Request\')">' + data + '</a>';
                            }
                            else {
                                return data;
                            }
                        }
                    },
                ],
                order: [[0, 'desc']],
                buttons: [
                    {
                        extend: 'excel',
                        title: 'KPI - Appointment Status Report',
                        footer: 'true',
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.excelHtml5.action.call(this, e, dt, node, config);
                            exportLogs("Employee Exported KPI - Appointment Status Report to Excel!");
                        }
                    },
                    {
                        extend: 'pdf',
                        title: 'KPI - Appointment Status Report',
                        footer: 'true',
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.pdfHtml5.action.call(this, e, dt, node, config);
                            exportLogs("Employee Exported KPI - Appointment Status Report to PDF!");
                        }
                    },
                    {
                        extend: 'csv',
                        title: 'KPI - Appointment Status Report',
                        footer: 'true',
                        action: function (e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.csvHtml5.action.call(this, e, dt, node, config);
                            exportLogs("Employee Exported KPI - Appointment Status Report to CSV!");
                        }
                    },
                    {
                        extend: 'print',
                        title: 'KPI - Appointment Status Report',
                        footer: 'true',
                        action(e, dt, node, config) {
                            $.fn.dataTable.ext.buttons.print.action.call(this, e, dt, node, config);
                            exportLogs("Employee Printed KPI - Appointment Status Report!");
                        }
                    }
                ],
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '<span class="text-primary font-weight-semi-bold">Search By Date</span>',
                    lengthMenu: '_MENU_',
                },
                scrollX: true,
                scrollY: 500,
                scrollCollapse: true,
                fixedColumns: true,
                footerCallback: function (row, data, start, end, display) {
                    var api = this.api();

                    var intVal = function (i) {
                        return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
                    };

                    total = api.column(1).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    $(api.column(1).footer()).html(total);

                    total = api.column(2).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    $(api.column(2).footer()).html(total);

                    total = api.column(3).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    $(api.column(3).footer()).html(total);

                    total = api.column(4).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    $(api.column(4).footer()).html(total);

                    total = api.column(5).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    $(api.column(5).footer()).html(total);

                    total = api.column(6).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    $(api.column(6).footer()).html(total);

                    total = api.column(7).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    $(api.column(7).footer()).html(total);

                    total = api.column(8).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    $(api.column(8).footer()).html(total);

                    total = api.column(9).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    $(api.column(9).footer()).html(total);

                    total = api.column(10).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    $(api.column(10).footer()).html(total);

                    total = api.column(11).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    $(api.column(11).footer()).html(total);

                    total = api.column(12).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    $(api.column(12).footer()).html(total);

                    total = api.column(13).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    $(api.column(13).footer()).html(total);

                    total = api.column(14).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    $(api.column(14).footer()).html(total);

                    total = api.column(15).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    $(api.column(15).footer()).html(total);

                    total = api.column(16).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    $(api.column(16).footer()).html(total);

                    total = api.column(17).data().reduce(function (a, b) { return intVal(a) + intVal(b); }, 0);
                    $(api.column(17).footer()).html(total);
                },
            });
            table.buttons().container().appendTo('#tbl_app_status_report_wrapper .col-md-6:eq(0)');
        }
        //#endregion

        //#region Get Appointment List
        var appointmentList = function (app_fdate, app_status) {

            var _data = {
                "app_fdate": app_fdate,
                "app_status": app_status,
            }

            $.ajax({
                type: "POST",
                url: "@Url.Action("GetAppointmentList", "AppointmentStatusReport", new { area = "KPIReports" })?app_fdate=" + app_fdate + "&app_status=" + app_status,
                dataType: 'json',
                data: _data,
                success: function (response) {
                    window.open("@Url.Action("AppointmentStatusList", "AppointmentStatusList", new { area = "KPIReports" })");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
        //#endregion

        //#region Export General Logs
        var exportLogs = function (desc) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ExportLogs", "AuditLogs", new { area = "Common" })?desc="+ desc,
                contentType: "application/json",
                dataType: "json"
            });
        }
        //#endregion

        //#region UI Functions
        // Resize Datatable
        function resizedt() {
            setTimeout(function () {
                $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
            }, 350);
        }
        // Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
        // Remove Error Class
        function error_Timeout(_id) {
            setTimeout(function () {
                $(".has-error").removeClass("has-error");
                $(".error").removeClass("error");
                $("#" + _id + "-error").text("");
            }, 5200);
        }
        //#endregion
    </script>
}