@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConsentForms.MedicalHistoryNew

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_MedicalHistoryNew" autocomplete="off" name="MedicalHistoryNew" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5 mt-5">
        <div class="col-sm-12 col-md-12 col-lg-12 font-weight-semibold mb-3">Please complete the following questionnaire.</div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-5 border-light2 font-weight-semibold text-center pt-3"><h4>QUESTIONS</h4></div>
                <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-center pt-3"><h4>YES</h4></div>
                <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-center pt-3"><h4>NO</h4></div>
                <div class="col-sm-12 col-md-12 col-lg-5 border-light2 font-weight-semibold text-center pt-3"><h4>DETAILS</h4></div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-5 border-light2 font-weight-semibold text-justify pt-5">
                    Are you currently pregnant, breast feeding or
                    on fertility treatment? (if yes, please specify)
                </div>
                <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-center pt-5">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                        <label class="custom-control custom-radio ms-sm-2 md-md-2 ms-lg-2">
                            <input type="radio" class="custom-control-input" name="mhn_radio1" id="mhn_radio11" value="11">
                            <span class="custom-control-label"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-center pt-5">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                        <label class="custom-control custom-radio ms-sm-2 md-md-2 ms-lg-2">
                            <input type="radio" class="custom-control-input" name="mhn_radio1" id="mhn_radio12" value="12">
                            <span class="custom-control-label"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-5 border-light2 pt-1"> @Html.TextAreaFor(m => m.mhn_1, new { @class = "form-control mt-2", @id = "mhn_1", @maxlength = "250" })&nbsp;</div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-5 border-light2 font-weight-semibold text-justify pt-5">
                    Do you suffer from allergies? (if yes, please
                    specify)
                </div>
                <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-center pt-5">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                        <label class="custom-control custom-radio ms-sm-2 md-md-2 ms-lg-2">
                            <input type="radio" class="custom-control-input" name="mhn_radio2" id="mhn_radio21" value="21">
                            <span class="custom-control-label"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-center pt-5">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                        <label class="custom-control custom-radio ms-sm-2 md-md-2 ms-lg-2">
                            <input type="radio" class="custom-control-input" name="mhn_radio2" id="mhn_radio22" value="22">
                            <span class="custom-control-label"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-5 border-light2 pt-1"> @Html.TextAreaFor(m => m.mhn_2, new { @class = "form-control mt-2", @id = "mhn_2", @maxlength = "250" })&nbsp;</div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-5 border-light2 font-weight-semibold text-justify pt-5">
                    Have you ever suffered from anaphylaxis as a
                    result? (if yes, please specify)
                </div>
                <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-center pt-5">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                        <label class="custom-control custom-radio ms-sm-2 md-md-2 ms-lg-2">
                            <input type="radio" class="custom-control-input" name="mhn_radio3" id="mhn_radio31" value="31">
                            <span class="custom-control-label"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-center pt-5">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                        <label class="custom-control custom-radio ms-sm-2 md-md-2 ms-lg-2">
                            <input type="radio" class="custom-control-input" name="mhn_radio3" id="mhn_radio32" value="32">
                            <span class="custom-control-label"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-5 border-light2 pt-1"> @Html.TextAreaFor(m => m.mhn_3, new { @class = "form-control mt-2", @id = "mhn_3", @maxlength = "250" })&nbsp;</div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-5 border-light2 font-weight-semibold text-justify pt-5">
                    Are you currently receiving any medical
                    treatment? (if yes, please specify)
                </div>
                <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-center pt-5">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                        <label class="custom-control custom-radio ms-sm-2 md-md-2 ms-lg-2">
                            <input type="radio" class="custom-control-input" name="mhn_radio4" id="mhn_radio41" value="41">
                            <span class="custom-control-label"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-center pt-5">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                        <label class="custom-control custom-radio ms-sm-2 md-md-2 ms-lg-2">
                            <input type="radio" class="custom-control-input" name="mhn_radio4" id="mhn_radio42" value="42">
                            <span class="custom-control-label"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-5 border-light2 pt-1"> @Html.TextAreaFor(m => m.mhn_4, new { @class = "form-control mt-2", @id = "mhn_4", @maxlength = "250" })&nbsp;</div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-5 border-light2 font-weight-semibold text-justify pt-5">
                    Have you ever had a non-surgical treatment
                    before? (if yes, please specify)
                </div>
                <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-center pt-5">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                        <label class="custom-control custom-radio ms-sm-2 md-md-2 ms-lg-2">
                            <input type="radio" class="custom-control-input" name="mhn_radio5" id="mhn_radio51" value="51">
                            <span class="custom-control-label"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-center pt-5">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                        <label class="custom-control custom-radio ms-sm-2 md-md-2 ms-lg-2">
                            <input type="radio" class="custom-control-input" name="mhn_radio5" id="mhn_radio52" value="52">
                            <span class="custom-control-label"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-5 border-light2 pt-1"> @Html.TextAreaFor(m => m.mhn_5, new { @class = "form-control mt-2", @id = "mhn_5", @maxlength = "250" })&nbsp;</div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-5 border-light2 font-weight-semibold text-justify pt-5">
                    Have you ever had a reaction after receiving
                    treatment? (if yes, please specify)
                </div>
                <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-center pt-5">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                        <label class="custom-control custom-radio ms-sm-2 md-md-2 ms-lg-2">
                            <input type="radio" class="custom-control-input" name="mhn_radio6" id="mhn_radio61" value="61">
                            <span class="custom-control-label"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-center pt-5">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                        <label class="custom-control custom-radio ms-sm-2 md-md-2 ms-lg-2">
                            <input type="radio" class="custom-control-input" name="mhn_radio6" id="mhn_radio62" value="62">
                            <span class="custom-control-label"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-5 border-light2 pt-1"> @Html.TextAreaFor(m => m.mhn_6, new { @class = "form-control mt-2", @id = "mhn_6", @maxlength = "250" })&nbsp;</div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-5 border-light2 font-weight-semibold text-justify pt-5">
                    Do you suffer from any illnesses? e.g. angina,
                    epilepsy, diabetes, auto immune system,
                    hepatitis, HIV positive..? (if yes, please specify)
                </div>
                <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-center pt-5">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                        <label class="custom-control custom-radio ms-sm-2 md-md-2 ms-lg-2">
                            <input type="radio" class="custom-control-input" name="mhn_radio7" id="mhn_radio71" value="71">
                            <span class="custom-control-label"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-center pt-5">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                        <label class="custom-control custom-radio ms-sm-2 md-md-2 ms-lg-2">
                            <input type="radio" class="custom-control-input" name="mhn_radio7" id="mhn_radio72" value="72">
                            <span class="custom-control-label"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-5 border-light2 pt-1"> @Html.TextAreaFor(m => m.mhn_7, new { @class = "form-control mt-2", @id = "mhn_7", @maxlength = "250" })&nbsp;</div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-5 border-light2 font-weight-semibold text-justify pt-5">
                    Do you suffer from any cutaneous infection or
                    inflammatory problems? e.g. herpes/ acne. (if
                    yes, please specify)
                </div>
                <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-center pt-5">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                        <label class="custom-control custom-radio ms-sm-2 md-md-2 ms-lg-2">
                            <input type="radio" class="custom-control-input" name="mhn_radio8" id="mhn_radio81" value="81">
                            <span class="custom-control-label"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-center pt-5">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                        <label class="custom-control custom-radio ms-sm-2 md-md-2 ms-lg-2">
                            <input type="radio" class="custom-control-input" name="mhn_radio8" id="mhn_radio82" value="82">
                            <span class="custom-control-label"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-5 border-light2 pt-1"> @Html.TextAreaFor(m => m.mhn_8, new { @class = "form-control mt-2", @id = "mhn_8", @maxlength = "250" })&nbsp;</div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-5 border-light2 font-weight-semibold text-justify pt-5">
                    Are you currently taking aspirin, steroids or
                    anticoagulants (warfarin)? (if yes, please
                    specify)
                </div>
                <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-center pt-5">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                        <label class="custom-control custom-radio ms-sm-2 md-md-2 ms-lg-2">
                            <input type="radio" class="custom-control-input" name="mhn_radio9" id="mhn_radio91" value="91">
                            <span class="custom-control-label"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-center pt-5">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                        <label class="custom-control custom-radio ms-sm-2 md-md-2 ms-lg-2">
                            <input type="radio" class="custom-control-input" name="mhn_radio9" id="mhn_radio92" value="92">
                            <span class="custom-control-label"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-5 border-light2 pt-1"> @Html.TextAreaFor(m => m.mhn_9, new { @class = "form-control mt-2", @id = "mhn_9", @maxlength = "250" })&nbsp;</div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-5 border-light2 font-weight-semibold text-justify pt-5">
                    Have you recently undergone surgery? (if yes,
                    please specify)
                </div>
                <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-center pt-5">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                        <label class="custom-control custom-radio ms-sm-2 md-md-2 ms-lg-2">
                            <input type="radio" class="custom-control-input" name="mhn_radio10" id="mhn_radio101" value="101">
                            <span class="custom-control-label"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-center pt-5">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                        <label class="custom-control custom-radio ms-sm-2 md-md-2 ms-lg-2">
                            <input type="radio" class="custom-control-input" name="mhn_radio10" id="mhn_radio102" value="102">
                            <span class="custom-control-label"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-5 border-light2 pt-1"> @Html.TextAreaFor(m => m.mhn_10, new { @class = "form-control mt-2", @id = "mhn_10", @maxlength = "250" })&nbsp;</div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-5 border-light2 font-weight-semibold text-justify pt-5">
                    Do you suffer from high or low blood pressure?
                    (if yes, please specify)
                </div>
                <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-center pt-5">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                        <label class="custom-control custom-radio ms-sm-2 md-md-2 ms-lg-2">
                            <input type="radio" class="custom-control-input" name="mhn_radio11" id="mhn_radio111" value="111">
                            <span class="custom-control-label"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-center pt-5">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                        <label class="custom-control custom-radio ms-sm-2 md-md-2 ms-lg-2">
                            <input type="radio" class="custom-control-input" name="mhn_radio11" id="mhn_radio112" value="112">
                            <span class="custom-control-label"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-5 border-light2 pt-1"> @Html.TextAreaFor(m => m.mhn_11, new { @class = "form-control mt-2", @id = "mhn_11", @maxlength = "250" })&nbsp;</div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-5 border-light2 font-weight-semibold text-justify pt-5">
                    Are you prone to bruising?
                </div>
                <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-center pt-5">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                        <label class="custom-control custom-radio ms-sm-2 md-md-2 ms-lg-2">
                            <input type="radio" class="custom-control-input" name="mhn_radio12" id="mhn_radio121" value="121">
                            <span class="custom-control-label"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-1 border-light2 font-weight-semibold text-center pt-5">
                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-center">
                        <label class="custom-control custom-radio ms-sm-2 md-md-2 ms-lg-2">
                            <input type="radio" class="custom-control-input" name="mhn_radio12" id="mhn_radio122" value="122">
                            <span class="custom-control-label"></span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-5 border-light2 pt-1"> @Html.TextAreaFor(m => m.mhn_12, new { @class = "form-control mt-2", @id = "mhn_12", @maxlength = "250" })&nbsp;</div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 font-weight-semibold mt-3">
            Procedure
            @Html.TextAreaFor(m => m.mhn_13, new { @class = "form-control mt-2", @id = "mhn_13", @maxlength = "250" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 font-weight-semibold mt-3">
            A current medical history is important for the practitioner to carry out appropriate treatment
            procedures. I confirm that the information given is correct..
        </div>

    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="2" class="font-weight-bold text-danger fs-18" width="100%">
                        Sign here, only if all of your questions have been answered to your satisfaction
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <div id="pat_sign_box">
                            <img alt="Signature" src="" id="pat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize mt-1">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold"> Patient Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left mt-2" id="psb_date_patient" name="">&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize mt-2">@emr.doc_name&nbsp;</label>
                        <span class="font-weight-semibold">Doctor’s Name</span>
                        <br /><br /><br />
                        <label class="form-label text-red text-left mt-1" id="mhn_date_doctor"></label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue" width="33%">
                        Patient Signature
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center" width="33%">Doctor’s Signature</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-success btn-sm" id="btn_Insert">Save</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset_C">Reset</button>
                <button type="button" class="btn btn-danger btn-sm d-none" id="btn_Delete">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success d-none" id="btn_Print_C"> Download/Print </button>
            </div>
        </div>
    </div>

</form>

<script type="text/javascript">
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Insert").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Insert").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Insert").show();
                }
                else {
                    $("#btn_Insert").hide();
                }
            }
        }
        validate();
    });

    //#region Validation Initialization
    var validate = function () {
        $("#form_MedicalHistoryNew").validate({
            rules: {
                mhn_13: {
                    required: true
                },
            },
            messages: {
                mhn_13: {
                    required: "Please Enter Procedure"
                },
            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
    //#endregion

    //#region Add  Click
    $('#btn_Insert').on('click', function (e) {
        e.preventDefault();
        if ($("#form_MedicalHistoryNew").valid()) {
            $('#btn_Insert').removeClass("btn btn-sm btn-success");
            $('#btn_Insert').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Insert').html("Saving the Record....");

            var mhn_radio1 = "";
            if ($('#mhn_radio11').prop('checked')) {
                mhn_radio1 = "11";
            }
            else if ($('#mhn_radio12').prop('checked')) {
                mhn_radio1 = "12";
            }

            var mhn_radio2 = "";
            if ($('#mhn_radio21').prop('checked')) {
                mhn_radio2 = "21";
            }
            else if ($('#mhn_radio22').prop('checked')) {
                mhn_radio2 = "22";
            }

            var mhn_radio3 = "";
            if ($('#mhn_radio31').prop('checked')) {
                mhn_radio3 = "31";
            }
            else if ($('#mhn_radio32').prop('checked')) {
                mhn_radio3 = "32";
            }

            var mhn_radio4 = "";
            if ($('#mhn_radio41').prop('checked')) {
                mhn_radio4 = "41";
            }
            else if ($('#mhn_radio42').prop('checked')) {
                mhn_radio4 = "42";
            }

            var mhn_radio5 = "";
            if ($('#mhn_radio51').prop('checked')) {
                mhn_radio5 = "51";
            }
            else if ($('#mhn_radio52').prop('checked')) {
                mhn_radio5 = "52";
            }

            var mhn_radio6 = "";
            if ($('#mhn_radio61').prop('checked')) {
                mhn_radio6 = "61";
            }
            else if ($('#mhn_radio62').prop('checked')) {
                mhn_radio6 = "62";
            }

            var mhn_radio7 = "";
            if ($('#mhn_radio71').prop('checked')) {
                mhn_radio7 = "71";
            }
            else if ($('#mhn_radio72').prop('checked')) {
                mhn_radio7 = "72";
            }

            var mhn_radio8 = "";
            if ($('#mhn_radio81').prop('checked')) {
                mhn_radio8 = "81";
            }
            else if ($('#mhn_radio82').prop('checked')) {
                mhn_radio8 = "82";
            }

            var mhn_radio9 = "";
            if ($('#mhn_radio91').prop('checked')) {
                mhn_radio9 = "91";
            }
            else if ($('#mhn_radio92').prop('checked')) {
                mhn_radio9 = "92";
            }

            var mhn_radio10 = "";
            if ($('#mhn_radio101').prop('checked')) {
                mhn_radio10 = "101";
            }
            else if ($('#mhn_radio102').prop('checked')) {
                mhn_radio10 = "102";
            }

            var mhn_radio11 = "";
            if ($('#mhn_radio111').prop('checked')) {
                mhn_radio11 = "111";
            }
            else if ($('#mhn_radio112').prop('checked')) {
                mhn_radio11 = "112";
            }

            var mhn_radio12 = "";
            if ($('#mhn_radio121').prop('checked')) {
                mhn_radio12 = "121";
            }
            else if ($('#mhn_radio122').prop('checked')) {
                mhn_radio12 = "122";
            }

            var _dateInsert = {
                "mhnId": 0,
                "mhn_appId": @emr.appId,
                "mhn_1": $("#mhn_1").val(),
                "mhn_2": $("#mhn_2").val(),
                "mhn_3": $("#mhn_3").val(),
                "mhn_4": $("#mhn_4").val(),
                "mhn_5": $("#mhn_5").val(),
                "mhn_6": $("#mhn_6").val(),
                "mhn_7": $("#mhn_7").val(),
                "mhn_8": $("#mhn_8").val(),
                "mhn_9": $("#mhn_9").val(),
                "mhn_10": $("#mhn_10").val(),
                "mhn_11": $("#mhn_11").val(),
                "mhn_12": $("#mhn_12").val(),
                "mhn_13": $("#mhn_13").val(),

                "mhn_radio1": mhn_radio1,
                "mhn_radio2": mhn_radio2,
                "mhn_radio3": mhn_radio3,
                "mhn_radio4": mhn_radio4,
                "mhn_radio5": mhn_radio5,
                "mhn_radio6": mhn_radio6,
                "mhn_radio7": mhn_radio7,
                "mhn_radio8": mhn_radio8,
                "mhn_radio9": mhn_radio9,
                "mhn_radio10": mhn_radio10,
                "mhn_radio11": mhn_radio11,
                "mhn_radio12": mhn_radio12,


                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }
            console.log(_dateInsert);
            $.ajax({
                type: "Post",
                url: "@Url.Action("InsertMedicalHistoryNew", "MedicalHistoryNew", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-sm btn-success");
                    $('#btn_Insert').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isInserted) {
                            GetMedicalHistoryNewInfo();
                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>Medical History New Form Saved Successfully!", "success");
                            Timeout();
                            $("#btn_Delete").removeClass("d-none");
                            $("#btn_Print").removeClass("d-none");
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning..Medical History New Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-sm btn-warning");
                    $('#btn_Insert').html("Add");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion Add Click

    //#region Delete Click
    $('#btn_Delete').on('click', function (e) {
        e.preventDefault();
        $('#btn_Delete').removeClass("btn btn-success");
        $('#btn_Delete').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Delete').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteMedicalHistoryNew", "MedicalHistoryNew", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-warning");
                $('#btn_Delete').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i> Medical History New Form Deleted Successfully!", "success");
                        clearControls();
                        GetMedicalHistoryNew();

                        $('#btn_Delete').addClass("d-none");
                        $("#pat_sign_box").addClass("d-none");
                        $("#wit_sign_box").addClass("d-none");
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-Delete");
                $('#btn_Delete').html("Delete");
                Timeout();
            }
        })
    });
//#endregion

//#region Print
    $('#btn_Print_C').on('click', function (e) {
    e.preventDefault();
        $('#btn_Print_C').removeClass("btn btn-success");
        $('#btn_Print_C').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Print_C').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "MedicalHistoryNew", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=MedicalHistoryNew",
        dataType: 'JSON',
        success: function (data) {
            console.log(data);
            if (data.isAuthorized) {
                if (data.success) {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print

    //#region Reset
    $('#btn_Reset_C').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("#pat_sign,#wit_sign").attr("src", "");
        $("input[name='mhn_radio1']:radio").prop('checked', false);
        $("input[name='mhn_radio2']:radio").prop('checked', false);
        $("input[name='mhn_radio3']:radio").prop('checked', false);
        $("input[name='mhn_radio4']:radio").prop('checked', false);
        $("input[name='mhn_radio5']:radio").prop('checked', false);
        $("input[name='mhn_radio6']:radio").prop('checked', false);
        $("input[name='mhn_radio7']:radio").prop('checked', false);
        $("input[name='mhn_radio8']:radio").prop('checked', false);
        $("input[name='mhn_radio9']:radio").prop('checked', false);
        $("input[name='mhn_radio10']:radio").prop('checked', false);
        $("input[name='mhn_radio11']:radio").prop('checked', false);
        $("input[name='mhn_radio12']:radio").prop('checked', false);

    }
    //#endregion Clear Controls

    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "MedicalHistoryNew",
            "appId": @emr.appId,
            "formname":"Medical HistoryNew",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {

            GetSignaturename('patient');
            GetSignaturename('witness');
            localStorage.removeItem("sign");
        }
    });

    //#region Get Signature
    var GetSignaturename = function  (person) {
        $.ajax({
            url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=MedicalHistoryNew',
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                console.log(response);
                let sign = response[0].psb_sign;
                var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY");

                if (response[0].person == "patient") {
                    $("#pat_sign_box").removeClass("d-none");
                    $("#psb_date_patient").html(date);
                    $("#pat_sign").attr("src", sign);
                }
                if (response[0].person == "witness") {
                    $("#wit_sign_box").removeClass("d-none");
                    $("#wit_sign").attr("src", sign);
                    $("#psb_date_witness").html(date);
                }
            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr);
            }

        });
    };
    //#endregion Get Signature

        //#region Wacom Tab Signature
     var openWacomTabSignaturePad = function (id) {
             var _data = {
                 "patId": @emr.patId,
                 "person": id,
                 "form": "MedicalHistoryNew",
                 "appId": @emr.appId,
                 "formname":"Medical HistoryNew",
                 "formlink":"",
                 "eSign":""
             }
             $.ajax({
                 type: "GET",
                 url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                 contentType: "application/json",
                 dataType: "html",
                 data: _data,
                 success: function (response) {
                     $("#signature_pad_body").html(response);
                     $("#signature_pad").modal("show");
                 },
                 error: function (xhr) {
                     console.log("Error :" + xhr.statusText);
                 }
             });
         }
      //#endregion

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout

</script>
