@using BusinessEntities;
@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Medical History";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Medical History </h3>
            </div>
            <div class="card-body">
                <div id="MedicalHistoryNew_add" style="display:none">
                </div>
                <div id="MedicalHistoryNew_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="MedicalHistoryNew_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetMedicalHistoryNewInfo();
        MedicalHistoryNewPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetMedicalHistoryNewInfo
    var GetMedicalHistoryNewInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetMedicalHistoryNewData", "MedicalHistoryNew", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditMedicalHistoryNew();
                        $("#MedicalHistoryNew_add").hide();
                        $("#MedicalHistoryNew_edit").show();

                    }
                    else {
                        $("#MedicalHistoryNew_add").show();
                        $("#MedicalHistoryNew_edit").hide();
                        AddMedicalHistoryNew();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load MedicalHistoryNew

    //#region Add MedicalHistoryNew
    function AddMedicalHistoryNew() {
        var x = $("#MedicalHistoryNew_add");
        x.load("@Url.Action("CreateMedicalHistoryNew", "MedicalHistoryNew", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add MedicalHistoryNew

    //#region Update MedicalHistoryNew
    function EditMedicalHistoryNew() {
        var x = $("#MedicalHistoryNew_edit");
        x.load("@Url.Action("UpdateMedicalHistoryNew", "MedicalHistoryNew", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update MedicalHistoryNew

    //#region Histroy of MedicalHistoryNew
    function MedicalHistoryNewPreviousHistory() {
        var x = $("#MedicalHistoryNew_history");
        x.load("@Url.Action("MedicalHistoryNewPreviousHistory", "MedicalHistoryNew", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion 

</script>