@model BusinessEntities.EMR.GastroIntestinal
@using BusinessEntities;
@using System.Linq;
@using System.Security.Claims;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
    ViewBag.Title = "Index";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
}

<div class="row">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong>Error!&nbsp;</strong>@TempData["ErrorMessage"]
            </div>
        </div>
    }
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">

            <div class="card-body">
                <div>
                    <form id="form_GastoIn" autocomplete="off" name="gastrointestinal" ondrop="return false;" onpaste="return false;" oncut="return false;">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.giId, new { @id = "ugiId", @value = "@Model.giId" })
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 mb-4 font-weight-semibold">
                                <span class='badge bg-danger'>Required</span>
                                <span class="text-info" style="font-size:smaller">Please Fill atlest One Entry</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 mb-4 ">
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div>
                                            <h4 class="page-title mb-0 text-primary">
                                                Gastro Intestinal System
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1 col-md-1 col-lg-1">
                                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Abdomen:&nbsp;</label></div>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3">
                                            @Html.DropDownListFor(m => m.gi_1_type, new List<SelectListItem>
                                             {
                                                new SelectListItem{ Text="Normal", Value = "Normal" },
                                                new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                                                new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                                             }, "Select Type", new { @class = "form-select select2", @id = "ugi_1_type" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <div class="form-group mb-3">
                                            @Html.TextBoxFor(m => m.gi_1, new { @class = "form-control", @placeholder = "Enter Abdomen", @id = "ugi_1" })
                                        </div>
                                    </div>
                                    <div class="col-sm-1 col-md-1 col-lg-1">
                                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Epigastrium:&nbsp;</label></div>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3">
                                            @Html.DropDownListFor(m => m.gi_2_type, new List<SelectListItem>
                                             {
                                                new SelectListItem{ Text="Normal", Value = "Normal" },
                                                new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                                                new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                                             }, "Select Type", new { @class = "form-select select2", @id = "ugi_2_type" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <div class="form-group mb-3">
                                            @Html.TextBoxFor(m => m.gi_2, new { @class = "form-control", @placeholder = "Enter Epigastrium", @id = "ugi_2" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1 col-md-1 col-lg-1">
                                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Umbilicus:&nbsp;</label></div>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3">
                                            @Html.DropDownListFor(m => m.gi_3_type, new List<SelectListItem>
                                             {
                                                new SelectListItem{ Text="Normal", Value = "Normal" },
                                                new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                                                new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                                             }, "Select Type", new { @class = "form-select select2", @id = "ugi_3_type" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <div class="form-group mb-3">
                                            @Html.TextBoxFor(m => m.gi_3, new { @class = "form-control", @placeholder = "Enter Umbilicus", @id = "ugi_3" })
                                        </div>
                                    </div>
                                    <div class="col-sm-1 col-md-1 col-lg-1">
                                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Hypogastrium:&nbsp;</label></div>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3">
                                            @Html.DropDownListFor(m => m.gi_4_type, new List<SelectListItem>
                                             {
                                                new SelectListItem{ Text="Normal", Value = "Normal" },
                                                new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                                                new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                                             }, "Select Type", new { @class = "form-select select2", @id = "ugi_4_type" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <div class="form-group mb-3">
                                            @Html.TextBoxFor(m => m.gi_4, new { @class = "form-control", @placeholder = "Enter Hypogastrium", @id = "ugi_4" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1 col-md-1 col-lg-1">
                                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Liver:&nbsp;</label></div>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3">
                                            @Html.DropDownListFor(m => m.gi_5_type, new List<SelectListItem>
                                             {
                                                new SelectListItem{ Text="Normal", Value = "Normal" },
                                                new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                                                new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                                             }, "Select Type", new { @class = "form-select select2", @id = "ugi_5_type" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <div class="form-group mb-3">
                                            @Html.TextBoxFor(m => m.gi_5, new { @class = "form-control", @placeholder = "Enter Liver", @id = "ugi_5" })
                                        </div>
                                    </div>
                                    <div class="col-sm-1 col-md-1 col-lg-1">
                                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Spleen:&nbsp;</label></div>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3">
                                            @Html.DropDownListFor(m => m.gi_6_type, new List<SelectListItem>
                                             {
                                                new SelectListItem{ Text="Normal", Value = "Normal" },
                                                new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                                                new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                                             }, "Select Type", new { @class = "form-select select2", @id = "ugi_6_type" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <div class="form-group mb-3">
                                            @Html.TextBoxFor(m => m.gi_6, new { @class = "form-control", @placeholder = "Enter Spleen", @id = "ugi_6" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1 col-md-1 col-lg-1">
                                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Bowel Sounds:&nbsp;</label></div>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3">
                                            @Html.DropDownListFor(m => m.gi_7_type, new List<SelectListItem>
                                             {
                                                new SelectListItem{ Text="Normal", Value = "Normal" },
                                                new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                                                new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                                             }, "Select Type", new { @class = "form-select select2", @id = "ugi_7_type" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <div class="form-group mb-3">
                                            @Html.TextBoxFor(m => m.gi_7, new { @class = "form-control", @placeholder = "Enter Bowel Sounds", @id = "ugi_7" })
                                        </div>
                                    </div>
                                    <div class="col-sm-1 col-md-1 col-lg-1">
                                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Ascites:&nbsp;</label></div>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3">
                                            @Html.DropDownListFor(m => m.gi_8_type, new List<SelectListItem>
                                             {
                                                new SelectListItem{ Text="Normal", Value = "Normal" },
                                                new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                                                new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                                             }, "Select Type", new { @class = "form-select select2", @id = "ugi_8_type" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <div class="form-group mb-3">
                                            @Html.TextBoxFor(m => m.gi_8, new { @class = "form-control", @placeholder = "Enter Ascites", @id = "ugi_8" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1 col-md-1 col-lg-1">
                                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Delated Veins:&nbsp;</label></div>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3">
                                            @Html.DropDownListFor(m => m.gi_9_type, new List<SelectListItem>
                                             {
                                                new SelectListItem{ Text="Normal", Value = "Normal" },
                                                new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                                                new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                                             }, "Select Type", new { @class = "form-select select2", @id = "ugi_9_type" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <div class="form-group mb-3">
                                            @Html.TextBoxFor(m => m.gi_9, new { @class = "form-control", @placeholder = "Enter Delated Veins", @id = "ugi_9" })
                                        </div>
                                    </div>
                                    <div class="col-sm-1 col-md-1 col-lg-1">
                                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Stretch Marks:&nbsp;</label></div>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3">
                                            @Html.DropDownListFor(m => m.gi_10_type, new List<SelectListItem>
                                             {
                                                new SelectListItem{ Text="Normal", Value = "Normal" },
                                                new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                                                new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                                             }, "Select Type", new { @class = "form-select select2", @id = "ugi_10_type" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <div class="form-group mb-3">
                                            @Html.TextBoxFor(m => m.gi_10, new { @class = "form-control", @placeholder = "Enter Stretch Marks", @id = "ugi_10" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1 col-md-1 col-lg-1">
                                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Murmur:&nbsp;</label></div>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3">
                                            @Html.DropDownListFor(m => m.gi_11_type, new List<SelectListItem>
                                             {
                                                new SelectListItem{ Text="Normal", Value = "Normal" },
                                                new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                                                new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                                             }, "Select Type", new { @class = "form-select select2", @id = "ugi_11_type" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <div class="form-group mb-3">
                                            @Html.TextBoxFor(m => m.gi_11, new { @class = "form-control", @placeholder = "Enter Murmur", @id = "ugi_11" })
                                        </div>
                                    </div>
                                    <div class="col-sm-1 col-md-1 col-lg-1">
                                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Macburny's Point:&nbsp;</label></div>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3">
                                            @Html.DropDownListFor(m => m.gi_12_type, new List<SelectListItem>
                                             {
                                                new SelectListItem{ Text="Normal", Value = "Normal" },
                                                new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                                                new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                                             }, "Select Type", new { @class = "form-select select2", @id = "ugi_12_type" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <div class="form-group mb-3">
                                            @Html.TextBoxFor(m => m.gi_12, new { @class = "form-control", @placeholder = "Enter Macburny's Point", @id = "ugi_12" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1 col-md-1 col-lg-1">
                                        <div class="form-group mb-3"><label class="form-label text-black text-align-left">    Hernial Orifices:&nbsp;</label></div>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3">
                                            @Html.DropDownListFor(m => m.gi_13_type, new List<SelectListItem>
                                             {
                                                new SelectListItem{ Text="Normal", Value = "Normal" },
                                                new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                                                new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                                             }, "Select Type", new { @class = "form-select select2", @id = "ugi_13_type" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <div class="form-group mb-3">
                                            @Html.TextBoxFor(m => m.gi_13, new { @class = "form-control", @placeholder = "Enter Hernial Orifices", @id = "ugi_13" })
                                        </div>
                                    </div>
                                    <div class="col-sm-1 col-md-1 col-lg-1">
                                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Others:&nbsp;<span class="text-danger"> *</span></label></div>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3">
                                            @Html.DropDownListFor(m => m.gi_14_type, new List<SelectListItem>
                                             {
                                                new SelectListItem{ Text="Normal", Value = "Normal" },
                                                new SelectListItem{ Text="Abnormal", Value = "Abnormal" },
                                                new SelectListItem{ Text="Not-Indicated", Value = "Not-Indicated" },
                                             }, "Select Type", new { @class = "form-select select2", @id = "ugi_14_type" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-3 col-lg-3">
                                        <div class="form-group mb-3">
                                            @Html.TextBoxFor(m => m.gi_14, new { @class = "form-control", @placeholder = "Enter Others", @id = "ugi_14" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-lg-12 text-center">
                                        <div class="btn-list btn-animation">
                                            <button type="submit" class="btn btn-success" id="btn_Insert_GastoIn">Add</button>
                                            <button type="button" class="btn btn-outline-dark" id="btn_Reset_GastoIn">Reset</button>
                                            <button type="submit" class="btn btn-sm btn-outline-warning" id="btn_Update_GastoIn">Save Changes</button>
                                            <button type="submit" class="btn btn-sm btn-outline-danger" id="btn_Delete_GastoIn">Delete</button>
                                            <button type="submit" class="btn btn-sm btn-outline-light" id="btn_Print" value="Print" onclick="ViewGastoIn(this.giId)" style="display:none">
                                                @*<i class="fa fa-print">&nbsp;&nbsp;</i>Print*@
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div>
                    <h4 class="page-title mb-0 text-primary">
                        Previous History
                    </h4>
                </div>
                <div class="table-responsive">
                    <table id="tbl_PreGastroIntestinal" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #808080; border-color: #3C457D; ">
                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Date</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Doctor</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Abdomen</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Epigastrium</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Umblicus</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Hypo</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Liver</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Spleem</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Bowel Sounds</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Ascites</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Delated Veins</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Stretch Marks</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Murmur</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Macburny Point</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Hernial Orifices</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Others</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="gi_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" id="size">
        <div class="modal-content" id="gi_body">
        </div>
    </div>
</div>
@*@section myScripts{*@
<script>
    //#region Page Load
        $(function () {
            BindDataTableP(null);
            GetPreviousGastroIntestinal();
            GetGastroIntestinal();
            validate();
            BindSelect();
            if ("@emp_designation.ToString()" === "Super Administrator") {
                $("#btn_Reset_GastoIn").show();
               $("#btn_Insert_GastoIn").show();
            } else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Reset_GastoIn").show();
                    $("#btn_Insert_GastoIn").show();

                }
                else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Reset_GastoIn").show();
                        $("#btn_Insert_GastoIn").show();
                    }
                    else {
                        $("#btn_Reset_GastoIn").hide();
                        $("#btn_Insert_GastoIn").hide();
                    }
                }
            }

        });
    //#endregion Page Load

    //#region Reset
        $('#btn_Reset_GastoIn').on('click', function (e) {
            e.preventDefault();
            clearControls();
        });
    //#endregion Reset

    //#region Load GastroIntestinal
        var GetGastroIntestinal = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllGastroIntestinal", "GastroIntestinal", new { area = "EMR" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        var _data = response;
                        console.log(response);
                        if (_data.length > 0) {
                            console.log(response[0].giId);
                            $('#ugiId').val(response[0].giId);
                            //hide the Copy Data
                            var oTable = $('#tbl_PreGastroIntestinal').dataTable();
                            oTable.$('#btn_Copy_GastoIn').hide();

                            if ("@emp_designation.ToString()" === "Super Administrator") {
                                $("#btn_Update_GastoIn,#btn_Delete_GastoIn").show();
                            } else {
                                if ("@emr.set_emr_lock" == "NoLock") {
                                    $("#btn_Update_GastoIn,#btn_Delete_GastoIn").show();

                                }
                                else {
                                    if ("@emr.app_ae_date" >= "@emr.today") {
                                        $("#btn_Update_GastoIn,#btn_Delete_GastoIn").show();
                                    }
                                    else {
                                        $("#btn_Update_GastoIn,#btn_Delete_GastoIn").hide();
                                    }
                                }
                            }
                            $("#btn_Insert_GastoIn").hide();
                            $("#btn_Reset_GastoIn").hide();

                        }
                        else {
                            if ("@emp_designation.ToString()" === "Super Administrator") {
                                $("#btn_Insert_GastoIn").show();
                                $("#btn_Reset_GastoIn").show();
                            } else {
                                if ("@emr.set_emr_lock" == "NoLock") {
                                    $("#btn_Insert_GastoIn").show();
                                    $("#btn_Reset_GastoIn").show();

                                }
                                else {
                                    if ("@emr.app_ae_date" >= "@emr.today") {
                                        $("#btn_Insert_GastoIn").show();
                                        $("#btn_Reset_GastoIn").show();
                                    }
                                    else {
                                        $("#btn_Insert_GastoIn").hide();
                                        $("#btn_Reset_GastoIn").hide();
                                    }
                                }
                            }
                            $("#btn_Update_GastoIn,#btn_Delete_GastoIn").hide();

                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion Load GastroIntestinal

    //#region Load PreviousGastroIntestinal
        var GetPreviousGastroIntestinal = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllPreGastroIntestinal", "GastroIntestinal", new { area = "EMR" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.isAuthorized != false) {
                        var table;
                        if ($.fn.dataTable.isDataTable('#tbl_PreGastroIntestinal')) {
                            table = $('#tbl_PreGastroIntestinal').DataTable();
                            table.clear();
                            table.rows.add(response).draw();
                        }
                        else {
                            console.log(response);
                            BindDataTableP(response);
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion Load PreviousGastroIntestinal

    //#region Previous Bind Datatable
        var BindDataTableP = function (response) {
            var table = $("#tbl_PreGastroIntestinal").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                processing: true,
                "deferRender": true,
                "pageLength": 100,
                "retrieve": true,
                lengthChange: true,
                "aaData": response,
                "aoColumns": [
                    {
                        "mData": "giId",
                        "orderable": false,
                        "searchable": false,
                        "className": "text-center",
                        "render": function (data, type, row, meta) {
                            let _index = (meta.row) + 1;
                            if (_index >= 10) {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>" + _index + "</a>";
                            }
                            else {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>0" + _index + "</a>";
                            }
                        }
                    },

                    {
                        "mData": "app_fdate",
                        "className": "text-left",
                        "render": function (data) {
                            return moment(data).format('DD-MM-YYYY')
                        }
                    },
                    {
                        "mData": "doctor_name",
                        "className": 'text-justify text-wrap'
                    },
                    {
                        "mData": "gi_1_type",
                        "className": 'text-justify text-wrap'
                    },
                    {
                        "mData": "gi_2_type",
                        "className": 'text-justify text-wrap'

                    },
                    {
                        "mData": "gi_3_type",
                        "className": 'text-justify text-wrap'
                    },
                    {
                        "mData": "gi_4_type",
                        "className": 'text-justify text-wrap'
                    },
                    {
                        "mData": "gi_5_type",
                        "className": 'text-justify text-wrap'
                    },
                    {
                        "mData": "gi_6_type",
                        "className": 'text-justify text-wrap'
                    },
                    {
                        "mData": "gi_7_type",
                        "className": 'text-justify text-wrap'
                    },
                    {
                        "mData": "gi_8_type",
                        "className": 'text-justify text-wrap'
                    },
                    {
                        "mData": "gi_9_type",
                        "className": 'text-justify text-wrap'
                    },
                    {
                        "mData": "gi_10_type",
                        "className": 'text-justify text-wrap'
                    },
                    {
                        "mData": "gi_11_type",
                        "className": 'text-justify text-wrap'
                    },
                    {
                        "mData": "gi_12_type",
                        "className": 'text-justify text-wrap'
                    },
                    {
                        "mData": "gi_13_type",
                        "className": 'text-justify text-wrap'
                    },
                    {
                        "mData": "gi_14_type",
                        "className": 'text-justify text-wrap'
                    },
                    {
                        "mData": "giId",
                        "className": 'btn-view text-center',
                        "orderable": false,
                        "searchable": false,
                        "render": function (giId, type, full, meta) {
                            var Action = '';
                            //Copy Data
                            if ("@emp_designation.ToString()" === "Super Administrator") {
                                Action += '<a id=btn_Copy_GastoIn onclick="CopyPrevious(' + giId + ')"><i class="fa fa-lg fa-copy" ></i></a>';
                                }
                                else {
                                if ("@emr.set_emr_lock" == "NoLock") {
                                    Action += '<a id=btn_Copy_GastoIn onclick="CopyPrevious(' + giId + ')"><i class="fa fa-lg fa-copy" ></i></a>';


                                    }
                                else {
                                         if ("@emr.app_ae_date" >= "@emr.today") {
                                            Action += '<a id=btn_Copy_GastoIn onclick="CopyPrevious(' + giId + ')"><i class="fa fa-lg fa-copy" ></i></a>';
                                        }
                                        else {
                                            Action += ''
                                            }
                                    }
                                }

                                return Action;
                            }
                    },
                ],
                order: [[0, 'asc']],
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '<span class="text-primary font-weight-semi-bold">Search By Code/Tittle</span>',
                    lengthMenu: '_MENU_',
                    scrollX: "100%",
                },
                scrollX: true,
                scrollY: 500,
                scrollCollapse: true,
                buttons: [
                    {
                        extend: 'excel',
                        title: 'Previous Gastro Intestinal',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
                        }
                    },
                    {
                        extend: 'pdf',
                        title: 'Previous Gastro Intestinal',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
                        }
                    },
                    {
                        extend: 'csv',
                        title: 'Previous Gastro Intestinal',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
                        }
                    },
                    {
                        extend: 'print',
                        title: 'Previous Gastro Intestinal',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
                        }
                    }
                ]
            });
            table.buttons().container().appendTo('#tbl_PreGastroIntestinal_wrapper .col-md-6:eq(0)');
        };
    //#endregion Previous Bind Datatable

    //#region Copy Previous  GastoIn
        function CopyPrevious(giId) {
            var x = $("#btn_Copy_GastoIn");
                $.ajax({
                type: "GET",
                    url: "@Url.Action("CopyGastroIntestinal", "GastroIntestinal", new { area = "EMR" })?giId=" + giId,
                success: function (response) {
                    if (response.isAuthorized != false) {
                        var _data = response;
                        console.log(response);
                        if (_data.length > 0) {
                            console.log(response[0].gi_3_type);
                            $('#ugi_1').val(response[0].gi_1);
                            $('#ugi_2').val(response[0].gi_2);
                            $('#ugi_3').val(response[0].gi_3);
                            $('#ugi_4').val(response[0].gi_4);
                            $('#ugi_5').val(response[0].gi_5);
                            $('#ugi_6').val(response[0].gi_6);
                            $('#ugi_7').val(response[0].gi_7);
                            $('#ugi_8').val(response[0].gi_8);
                            $('#ugi_9').val(response[0].gi_9);
                            $('#ugi_10').val(response[0].gi_10);
                            $('#ugi_11').val(response[0].gi_11);
                            $('#ugi_12').val(response[0].gi_12);
                            $('#ugi_13').val(response[0].gi_13);
                            $('#ugi_14').val(response[0].gi_14);
                            $('#ugi_1_type').val(response[0].gi_1_type);
                            $('#ugi_2_type').val(response[0].gi_2_type);
                            $('#ugi_3_type').val(response[0].gi_3_type);
                            $('#ugi_4_type').val(response[0].gi_4_type);
                            $('#ugi_5_type').val(response[0].gi_5_type);
                            $('#ugi_6_type').val(response[0].gi_6_type);
                            $('#ugi_7_type').val(response[0].gi_7_type);
                            $('#ugi_8_type').val(response[0].gi_8_type);
                            $('#ugi_9_type').val(response[0].gi_9_type);
                            $('#ugi_10_type').val(response[0].gi_10_type);
                            $('#ugi_11_type').val(response[0].gi_11_type);
                            $('#ugi_12_type').val(response[0].gi_12_type);
                            $('#ugi_13_type').val(response[0].gi_13_type);
                            $('#ugi_14_type').val(response[0].gi_14_type);
                            BindSelect();
                        }

                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion Copy Previous  GastoIn

    //#region Add  Click
        $('#btn_Insert_GastoIn').on('click', function (e) {
            e.preventDefault();
            if ($("#form_GastoIn").valid()) {
                $('#btn_Insert_GastoIn').removeClass("btn btn-success");
                $('#btn_Insert_GastoIn').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Insert_GastoIn').html("Saving the Record....");
                var _dateInsert = {
                    "giId": 0,
                    "gi_appId": @emr.appId,
                    "gi_1": $("#ugi_1").val(),
                    "gi_2": $("#ugi_2").val(),
                    "gi_3": $("#ugi_3").val(),
                    "gi_4": $("#ugi_4").val(),
                    "gi_5": $("#ugi_5").val(),
                    "gi_6": $("#ugi_6").val(),
                    "gi_7": $("#ugi_7").val(),
                    "gi_8": $("#ugi_8").val(),
                    "gi_9": $("#ugi_9").val(),
                    "gi_10": $("#ugi_10").val(),
                    "gi_11": $("#ugi_11").val(),
                    "gi_12": $("#ugi_12").val(),
                    "gi_13": $("#ugi_13").val(),
                    "gi_14": $("#ugi_14").val(),
                    "gi_1_type": $("#ugi_1_type").val(),
                    "gi_2_type": $("#ugi_2_type").val(),
                    "gi_3_type": $("#ugi_3_type").val(),
                    "gi_4_type": $("#ugi_4_type").val(),
                    "gi_5_type": $("#ugi_5_type").val(),
                    "gi_6_type": $("#ugi_6_type").val(),
                    "gi_7_type": $("#ugi_7_type").val(),
                    "gi_8_type": $("#ugi_8_type").val(),
                    "gi_9_type": $("#ugi_9_type").val(),
                    "gi_10_type": $("#ugi_10_type").val(),
                    "gi_11_type": $("#ugi_11_type").val(),
                    "gi_12_type": $("#ugi_12_type").val(),
                    "gi_13_type": $("#ugi_13_type").val(),
                    "gi_14_type": $("#ugi_14_type").val(),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }

                $.ajax({
                    type: "Post",
                    url: "@Url.Action("InsertGastroIntestinal", "GastroIntestinal", new {area = "EMR" })",
                    dataType: 'JSON',
                    data: _dateInsert,
                    success: function (data) {
                        $('#btn_Insert_GastoIn').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Insert_GastoIn').addClass("btn btn-warning");
                        $('#btn_Insert_GastoIn').html("Add");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                console.log(data);
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i>  Gastro Intestinal Saved Successfully!", "success");
                                GetGastroIntestinal();
                                Timeout();
                            }
                            else {

                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. Gastro Intestinal Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#Alert").html(html);
                            }
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Insert_GastoIn').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Insert_GastoIn').addClass("btn btn-warning");
                        $('#btn_Insert_GastoIn').html("Add");
                        Timeout();
                    }
                });

            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion Add Click

    //#region Update  Click
        $('#btn_Update_GastoIn').on('click', function (e) {
            e.preventDefault();
            if ($("#form_GastoIn").valid()) {
                $('#btn_Update_GastoIn').removeClass("btn btn-success");
                $('#btn_Update_GastoIn').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Update_GastoIn').html("Updating the Record....");
                var _dateInsert = {
                    "giId": $("#ugiId").val(),
                    "gi_appId": @emr.appId,
                    "gi_1": $("#ugi_1").val(),
                    "gi_2": $("#ugi_2").val(),
                    "gi_3": $("#ugi_3").val(),
                    "gi_4": $("#ugi_4").val(),
                    "gi_5": $("#ugi_5").val(),
                    "gi_6": $("#ugi_6").val(),
                    "gi_7": $("#ugi_7").val(),
                    "gi_8": $("#ugi_8").val(),
                    "gi_9": $("#ugi_9").val(),
                    "gi_10": $("#ugi_10").val(),
                    "gi_11": $("#ugi_11").val(),
                    "gi_12": $("#ugi_12").val(),
                    "gi_13": $("#ugi_13").val(),
                    "gi_14": $("#ugi_14").val(),
                    "gi_1_type": $("#ugi_1_type").val(),
                    "gi_2_type": $("#ugi_2_type").val(),
                    "gi_3_type": $("#ugi_3_type").val(),
                    "gi_4_type": $("#ugi_4_type").val(),
                    "gi_5_type": $("#ugi_5_type").val(),
                    "gi_6_type": $("#ugi_6_type").val(),
                    "gi_7_type": $("#ugi_7_type").val(),
                    "gi_8_type": $("#ugi_8_type").val(),
                    "gi_9_type": $("#ugi_9_type").val(),
                    "gi_10_type": $("#ugi_10_type").val(),
                    "gi_11_type": $("#ugi_11_type").val(),
                    "gi_12_type": $("#ugi_12_type").val(),
                    "gi_13_type": $("#ugi_13_type").val(),
                    "gi_14_type": $("#ugi_14_type").val(),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dateInsert);
                $.ajax({
                        type: "Post",
                        url: "@Url.Action("UpdateGastroIntestinal", "GastroIntestinal", new {area = "EMR" })",
                        dataType: 'JSON',
                         data: _dateInsert,
                         success: function (data) {
                             $('#btn_Update_GastoIn').removeClass("btn btn-success btn-loaders btn-icon");
                             $('#btn_Update_GastoIn').addClass("btn btn-warning");
                             $('#btn_Update_GastoIn').html("Save Changes");
                             if (data.isSuccess) {
                                if (data.isInserted) {
                                    var alertPlaceholder = document.getElementById("Alert");
                                    function alert(e, t) {
                                        var l = document.createElement("div");
                                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                    }
                                    alert("<i class='fe fe-check-circle text-white'></i>  Gastro Intestinal Updated Successfully!", "success");
                                    GetGastroIntestinal();
                                    Timeout();
                                }
                                else {
                                    let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                        "<div class='alert alert-warning' role='alert'>" +
                                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                        "<strong>Warning..  Gastro Intestinal Alredy Exists..</strong><br/>" +
                                        "</div></div>";
                                    $('#tab12').click();
                                    $("#Alert").html(html);
                                }
                             }
                                else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                                $.each(data.message, function (index, value) {
                                    html += "<li><small>" + value + "</small><li>";
                                    var elem = $("#" + index);
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                    }
                                    else {
                                        $(elem).addClass(" is-invalid");
                                    }

                                    setTimeout(function () {
                                        if (elem.hasClass("select2-hidden-accessible")) {
                                            $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                        }
                                        else {
                                            $(elem).removeClass("is-invalid");
                                        }
                                    }, 5000);
                                });
                                html += "</ul></div></div>";
                                $("#error").html(html);
                            }
                        },
                        error: function (xhr) {
                            $('#btn_Update_GastoIn').removeClass("btn btn-success btn-loaders btn-icon");
                            $('#btn_Update_GastoIn').addClass("btn btn-warning");
                            $('#btn_Update_GastoIn').html("Save Changes");
                            Timeout();
                        }

                    })
            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion Update Click

    //#region Delete Click
        $('#btn_Delete_GastoIn').on('click', function (e) {
            e.preventDefault();
                $('#btn_Delete_GastoIn').removeClass("btn btn-success");
                $('#btn_Delete_GastoIn').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete_GastoIn').html("Deleting the Record....");

                $.ajax({
                    url: '@Url.Action("DeleteGastroIntestinal", "GastroIntestinal", new { area = "EMR" })?giId=' + $("#ugiId").val(),
                    type: "POST",
                    dataType: 'JSON',
                    success: function (data) {
                        $('#btn_Delete_GastoIn').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Delete_GastoIn').addClass("btn btn-warning");
                        $('#btn_Delete_GastoIn').html("Delete");
                        if (data.isAuthorized) {
                            if (data.success) {

                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Gastro Intestinal Deleted Successfully!", "success");
                                clearControls();
                                GetGastroIntestinal();
                                Timeout();
                            }
                            else {

                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Error!.. Failed to Delete..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Delete_GastoIn').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Delete_GastoIn').addClass("btn btn-Delete");
                        $('#btn_Delete_GastoIn').html("Delete");
                        Timeout();
                    }
                })
        });
    //#endregion Delete Click

    //#region View GastoIn
        function ViewGastoIn(giId) {
             var x = $("#gi_body");
            x.load("@Url.Action("ViewGastroIntestinal", "GastroIntestinal", new { area = "EMR" })?giId=" + giId, function () {
                    $("#gi_modal").modal("show");
            });
        }
    //#endregion View GastoIn

    //#region Bind Select Data
        var BindSelect = function () {
            $("#ugi_1_type,#ugi_2_type,#ugi_3_type,#ugi_4_type, #ugi_5_type, #ugi_6_type").select2({
                placeholder: 'Select Type',
                width: '100%',
                minimumResultsForSearch: '',
                dropdownParent: $('#form_GastoIn'),
                escapeMarkup: function (markup) {
                    return markup;
                }
            });
            $("#ugi_7_type, #ugi_8_type, #ugi_9_type, #ugi_10_type, #ugi_11_type, #ugi_12_type").select2({
                placeholder: 'Select Type',
                width: '100%',
                minimumResultsForSearch: '',
                dropdownParent: $('#form_GastoIn'),
                escapeMarkup: function (markup) {
                    return markup;
                }
            });
            $("#ugi_13_type, #ugi_14_type").select2({
                placeholder: 'Select Type',
                width: '100%',
                minimumResultsForSearch: '',
                dropdownParent: $('#form_GastoIn'),
                escapeMarkup: function (markup) {
                    return markup;
                }
            });
        }
    //#endregion Bind Select Data

    //#region Clear Controls
        var clearControls = function () {
            $("#ugiId").val(0);
            $("#ugi_1").val("");
            $("#ugi_2").val("");
            $("#ugi_3").val("");
            $("#ugi_4").val("");
            $("#ugi_5").val("");
            $("#ugi_6").val("");
            $("#ugi_7").val("");
            $("#ugi_8").val("");
            $("#ugi_9").val("");
            $("#ugi_10").val("");
            $("#ugi_11").val("");
            $("#ugi_12").val("");
            $("#ugi_13").val("");
            $("#ugi_14").val("");
            $("#ugi_1_type").val("").trigger("change");
            $("#ugi_2_type").val("").trigger("change");
            $("#ugi_3_type").val("").trigger("change");
            $("#ugi_4_type").val("").trigger("change");
            $("#ugi_5_type").val("").trigger("change");
            $("#ugi_6_type").val("").trigger("change");
            $("#ugi_7_type").val("").trigger("change");
            $("#ugi_8_type").val("").trigger("change");
            $("#ugi_9_type").val("").trigger("change");
            $("#ugi_10_type").val("").trigger("change");
            $("#ugi_11_type").val("").trigger("change");
            $("#ugi_12_type").val("").trigger("change");
            $("#ugi_13_type").val("").trigger("change");
            $("#ugi_14_type").val("").trigger("change");
        }
    //#endregion Clear Controls

    // #region Validation Initialization
        var validate = function () {
            $("#form_GastoIn").validate({
                rules: {
                    gi_14: {
                        required: true
                    },

                },
                messages: {
                    gi_14: {
                        required: "Please Enter Others!"
                    },

                },
                highlight: function (element) {
                    var elem = $(element);
                    $(element).parent().addClass('has-error');
                },
                unhighlight: function (element) {
                    var elem = $(element);
                    $(element).parent().removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'text-danger fw-bold',
                errorPlacement: function (error, element) {
                    var elem = $(element);
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

        }
    //#endregion Validation Initialization


    //#region Resize Datatable
        function resizedt() {
            setTimeout(function () {
                $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
            }, 350);
        }
    //#endregion Resize Datatable

    //#region Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
    //#endregion Alert Timeout
</script>
@*}*@

