
@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Dental Internal Form Consent Index";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title font-weight-semibold" dir="rtl">
                    Dental Internal Form Consent
                </h3>
            </div>
            <div class="card-body">
                <div id="DentalInternalFormConsent_add">
                </div>
                <div id="DentalInternalFormConsent_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="DentalInternalFormConsent_history">
                </div>
            </div>
        </div>
    </div>
</div>

@section myScripts{
    <script>
        //#region Page Load
        $(function () {
            GetDentalInternalFormConsentInfo();
            DentalInternalFormConsentPreviousHistory();
        });
        //#endregion Page Load

        //#region Load GetDentalInternalFormConsentInfo
        var GetDentalInternalFormConsentInfo = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetDentalInternalFormConsentData", "DentalInternalFormConsent", new { area = "ConsentForms" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        if (response.length > 0) {
                            EditDentalInternalFormConsent();
                        }
                        else {
                            AddDentalInternalFormConsent();
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
        //#endregion Load DentalInternalFormConsent

        //#region Add DentalInternalFormConsent
        function AddDentalInternalFormConsent() {
            $("#DentalInternalFormConsent_edit").html(null);
            $("#DentalInternalFormConsent_edit").hide();
            $("#DentalInternalFormConsent_add").show();
            var x = $("#DentalInternalFormConsent_add");
            let url = "@Url.Action("CreateDentalInternalFormConsent", "DentalInternalFormConsent", new { area = "ConsentForms" })";
            x.load(url, function () { });
        }
        //#endregion Add DentalInternalFormConsent

        // #region Update DentalInternalFormConsent
        function EditDentalInternalFormConsent() {
            $("#DentalInternalFormConsent_add").html(null);
            $("#DentalInternalFormConsent_add").hide();
            $("#DentalInternalFormConsent_edit").show();
            var x = $("#DentalInternalFormConsent_edit");
            let url = "@Url.Action("UpdateDentalInternalFormConsent", "DentalInternalFormConsent", new { area = "ConsentForms" })?appId=" + @emr.appId;
            x.load(url, function () { });
        }
        //#endregion Update DentalInternalFormConsent

        // #region Histroy of DentalInternalFormConsent
        function DentalInternalFormConsentPreviousHistory() {
            var x = $("#DentalInternalFormConsent_history");
            let url = "@Url.Action("DentalInternalFormConsentPreviousHistory", "DentalInternalFormConsent", new { area = "ConsentForms" })?appId=" + @emr.appId;
            x.load(url, function () { });
        }
        //#endregion History of DentalInternalFormConsent
    </script>
}