@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConsentForms.OperativeCheckList
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_OperativeCheckListEdit" autocomplete="off" name="OperativeCheckList" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5 mt-5 text-justify">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 mb-3 mt-0">
                <center>
                    <img src="~/images/ConsentForms/Ophthalmology/SurgeryData1.jpg" style="width:200px;height:150px" />
                </center>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 text-left font-weight-bold">
            Payment Received By
            @Html.TextBoxFor(m => m.ocn_1, new { @class = "form-control mb-2 mt-2", @id = "uocn_1" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 text-left font-weight-bold">
            Consent Secured
            @Html.TextBoxFor(m => m.ocn_2, new { @class = "form-control mb-2 mt-2", @id = "uocn_2" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 text-left font-weight-bold">
            Patient Prepared By
            @Html.TextBoxFor(m => m.ocn_3, new { @class = "form-control mb-2 mt-2", @id = "uocn_3" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 text-left font-weight-bold">
            Known Allergies
            @Html.TextBoxFor(m => m.ocn_4, new { @class = "form-control mb-2 mt-2", @id = "uocn_4" })
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 d-flex font-weight-semibold">
            <div class="col-sm-12 col-md-6 col-lg-2">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="uocn_29" id="uocn_291" value="1">
                    <span class="custom-control-label">No Make-up</span>
                </label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="uocn_29" id="uocn_292" value="2">
                    <span class="custom-control-label">No Valuables</span>
                </label>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 group d-flex font-weight-semibold mt-2">
            <p class="mt-1 ms-3 font-weight-semibold">Mark Surgical Site :</p>
            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3 d-flex">
                    <label class="custom-control custom-checkbox ms-3">
                        <input type="checkbox" class="custom-control-input" name="uocn_29" id="uocn_293" value="3">
                        <span class="custom-control-label">OD</span>
                    </label>
                    <label class="custom-control custom-checkbox ms-4">
                        <input type="checkbox" class="custom-control-input" name="uocn_29" id="uocn_294" value="4">
                        <span class="custom-control-label">OS</span>
                    </label>
                    <label class="custom-control custom-checkbox ms-4">
                        <input type="checkbox" class="custom-control-input" name="uocn_29" id="uocn_295" value="5">
                        <span class="custom-control-label">OU</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex mt-2 mb-0">
            <div class="w-400 col-lg-4 border-light2 font-weight-semibold text-center">TEST</div>
            <div class="col-lg-4 border-light2 font-weight-semibold text-center">ORDER BY</div>
            <div class="col-lg-4 border-light2 font-weight-semibold text-center">PERFORMED BY</div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex">
            <div class="w-400 col-lg-4 border-light2 font-weight-semibold text-left pt-4">
                DRY TEST
            </div>
            <div class="col-lg-4 border-light2 font-weight-semibold text-center">
                @Html.TextBoxFor(m => m.ocn_5, new { @class = "form-control mb-2 mt-2 text-center", @id = "uocn_5" })
            </div>
            <div class="col-lg-4 border-light2 font-weight-semibold text-center">
                @Html.TextBoxFor(m => m.ocn_6, new { @class = "form-control mb-2 mt-2 text-center", @id = "uocn_6" })
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex">
            <div class="w-400 col-lg-4 border-light2 font-weight-semibold text-left pt-4">
                TOPOGRAPHY
            </div>
            <div class="col-lg-4 border-light2 font-weight-semibold text-center">
                @Html.TextBoxFor(m => m.ocn_7, new { @class = "form-control mb-2 mt-2 text-center", @id = "uocn_7" })
            </div>
            <div class="col-lg-4 border-light2 font-weight-semibold text-center">
                @Html.TextBoxFor(m => m.ocn_8, new { @class = "form-control mb-2 mt-2 text-center", @id = "uocn_8" })
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex">
            <div class="w-400 col-lg-4 border-light2 font-weight-semibold text-left pt-4 w-100">
                TOPOLYZER
            </div>
            <div class="col-lg-4 border-light2 font-weight-semibold text-center">
                @Html.TextBoxFor(m => m.ocn_9, new { @class = "form-control mb-2 mt-2 text-center", @id = "uocn_9" })
            </div>
            <div class="col-lg-4 border-light2 font-weight-semibold text-center">
                @Html.TextBoxFor(m => m.ocn_10, new { @class = "form-control mb-2 mt-2 text-center", @id = "uocn_10" })
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex">
            <div class="w-400 col-lg-4 border-light2 font-weight-semibold text-left pt-4 w-100">
                ORA
            </div>
            <div class="col-lg-4 border-light2 font-weight-semibold text-center">
                @Html.TextBoxFor(m => m.ocn_11, new { @class = "form-control mb-2 mt-2 text-center", @id = "uocn_11" })
            </div>
            <div class="col-lg-4 border-light2 font-weight-semibold text-center">
                @Html.TextBoxFor(m => m.ocn_12, new { @class = "form-control mb-2 mt-2 text-center", @id = "uocn_12" })
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex">
            <div class="w-400 col-lg-4 border-light2 font-weight-semibold text-left pt-4 w-100">
                IOP
            </div>
            <div class="col-lg-4 border-light2 font-weight-semibold text-center">
                @Html.TextBoxFor(m => m.ocn_13, new { @class = "form-control mb-2 mt-2 text-center", @id = "uocn_13" })
            </div>
            <div class="col-lg-4 border-light2 font-weight-semibold text-center">
                @Html.TextBoxFor(m => m.ocn_14, new { @class = "form-control mb-2 mt-2 text-center", @id = "uocn_14" })
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex">
            <div class="w-400 col-lg-4 border-light2 font-weight-semibold text-left pt-4">
                PACHY METRY
            </div>
            <div class="col-lg-4 border-light2 font-weight-semibold text-center">
                @Html.TextBoxFor(m => m.ocn_15, new { @class = "form-control mb-2 mt-2 text-center", @id = "uocn_15" })
            </div>
            <div class="col-lg-4 border-light2 font-weight-semibold text-center">
                @Html.TextBoxFor(m => m.ocn_16, new { @class = "form-control mb-2 mt-2 text-center", @id = "uocn_16" })
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex">
            <div class="w-400 col-lg-4 border-light2 font-weight-semibold text-left pt-4">
                DOMINANT EYE
            </div>
            <div class="col-lg-4 border-light2 font-weight-semibold text-center">
                @Html.TextBoxFor(m => m.ocn_17, new { @class = "form-control mb-2 mt-2 text-center", @id = "uocn_17" })
            </div>
            <div class="col-lg-4 border-light2 font-weight-semibold text-center">
                @Html.TextBoxFor(m => m.ocn_18, new { @class = "form-control mb-2 mt-2 text-center", @id = "uocn_18" })
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex">
            <div class="col-lg-4 border-light2 font-weight-semibold text-left pt-4 d-flex flex-column">
                <span> MARK AXIS</span>
                <div class="d-flex">
                    <label class="custom-control custom-checkbox ms-1">
                        <input type="checkbox" class="custom-control-input" name="uocn_29" id="uocn_296" value="6">
                        <span class="custom-control-label">OD</span>
                    </label>
                    <label class="custom-control custom-checkbox ms-1">
                        <input type="checkbox" class="custom-control-input" name="uocn_29" id="uocn_297" value="7">
                        <span class="custom-control-label">OS</span>
                    </label>
                    <label class="custom-control custom-checkbox ms-1">
                        <input type="checkbox" class="custom-control-input" name="uocn_29" id="uocn_298" value="8">
                        <span class="custom-control-label">OU</span>
                    </label>
                </div>
            </div>

            <div class="col-lg-4 border-light2 font-weight-semibold text-center">
                @Html.TextBoxFor(m => m.ocn_19, new { @class = "form-control mb-2 mt-2 text-center", @id = "uocn_19" })
            </div>
            <div class="col-lg-4 border-light2 font-weight-semibold text-center">
                @Html.TextBoxFor(m => m.ocn_20, new { @class = "form-control mb-2 mt-2 text-center", @id = "uocn_20" })
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex">
            <div class="w-400 col-lg-4 border-light2 font-weight-semibold text-left pt-4">
                DILATED EXAM
            </div>
            <div class="col-lg-4 border-light2 font-weight-semibold text-center">
                @Html.TextBoxFor(m => m.ocn_21, new { @class = "form-control mb-2 mt-2 text-center", @id = "uocn_21" })
            </div>
            <div class="col-lg-4 border-light2 font-weight-semibold text-center">
                @Html.TextBoxFor(m => m.ocn_22, new { @class = "form-control mb-2 mt-2 text-center", @id = "uocn_22" })
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex">
            <div class="w-400 col-lg-4 border-light2 font-weight-semibold text-left pt-4">
                OTHERS :
            </div>
            <div class="col-lg-4 border-light2 font-weight-semibold text-center">
                @Html.TextBoxFor(m => m.ocn_23, new { @class = "form-control mb-2 mt-2 text-center", @id = "uocn_23" })
            </div>
            <div class="col-lg-4 border-light2 font-weight-semibold text-center">
                @Html.TextBoxFor(m => m.ocn_24, new { @class = "form-control mb-2 mt-2 text-center", @id = "uocn_24" })
            </div>
        </div>

        <p class="font-weight-semibold mt-2">TOPICAL ANESTHESIA</p>


        <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex mb-0">
            <div class="col-lg-12 border-light2 font-weight-semibold d-flex pt-1">
                <label class="custom-control custom-checkbox ms-1">
                    <input type="checkbox" class="custom-control-input" name="uocn_29" id="uocn_299" value="9">
                    <span class="custom-control-label">OD</span>
                </label>
                <label class="custom-control custom-checkbox ms-1">
                    <input type="checkbox" class="custom-control-input" name="uocn_29" id="uocn_2910" value="10">
                    <span class="custom-control-label">OS</span>
                </label>
                <label class="custom-control custom-checkbox ms-1">
                    <input type="checkbox" class="custom-control-input" name="uocn_29" id="uocn_2911" value="11">
                    <span class="custom-control-label">OU</span>
                </label>
            </div>

        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex mb-0">
            <div class="col-lg-3 border-light2 font-weight-semibold text-center">Topical Anesthesia</div>
            <div class="col-lg-3 border-light2 font-weight-semibold text-center">Administered By</div>
            <div class="col-lg-3 border-light2 font-weight-semibold text-center">Time</div>
            <div class="col-lg-3 border-light2 font-weight-semibold text-center">Time</div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex">
            <div class="col-lg-3 border-light2 font-weight-semibold text-left pt-4">
                ALCAIN 0.5%
            </div>
            <div class="col-lg-3 border-light2 font-weight-semibold text-center">
                @Html.TextBoxFor(m => m.ocn_25, new { @class = "form-control mb-2 mt-2 text-center", @id = "uocn_25" })
            </div>
            <div class="col-lg-3 border-light2 font-weight-semibold text-center">
                @Html.TextBoxFor(m => m.ocn_26, new { @class = "form-control mb-2 mt-2 text-center", @id = "uocn_26" })
            </div>
            <div class="col-lg-3 border-light2 font-weight-semibold text-center">
                @Html.TextBoxFor(m => m.ocn_27, new { @class = "form-control mb-2 mt-2 text-center", @id = "uocn_27" })
            </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 table-condensed d-flex">
            <div class="col-lg-1 border-light2 font-weight-semibold text-left pt-4">
                Note
            </div>
            <div class="col-lg-11 border-light2 font-weight-semibold text-center">
                @Html.TextBoxFor(m => m.ocn_28, new { @class = "form-control mb-2 mt-2", @id = "uocn_28" })
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="2" class="font-weight-bold text-danger fs-18" width="100%">
                        Sign here, only if all of your questions have been answered to your satisfaction
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <div id="upat_sign_box">
                            <img alt="Signature" src="" id="upat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize mt-1">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold"> Patient Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left mt-2" id="upsb_date_patient" name="">&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize mt-1">@emr.doc_name&nbsp;</label>
                        <span class="font-weight-semibold">Doctor’s Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left mt-2" id="uocn_date_doctor">@Model.ocn_date_modified&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue" width="33%">
                        Patient Signature
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center" width="33%">Doctor’s Signature</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update">Save Changes</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                <button type="button" class="btn btn-danger btn-sm" id="btn_DeleteForm">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print"> Download/Print </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Update").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Update").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Update").show();
                }
                else {
                    $("#btn_Update").hide();
                }
            }
        }
        validate();
        GetSignaturename('patient');
        GetCheckedValues();
    });

    //#region Validation Initialization
    var validate = function () {
        $("#form_OperativeCheckListEdit").validate({
            rules: {
                ocn_28: {
                    required: true
                },

            },
            messages: {
                ocn_28: {
                    required: "Please Enter Notes"
                },

            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
    //#endregion

    //#region Update  Click
    $('#btn_Update').on('click', function (e) {
        e.preventDefault();
        if ($("#form_OperativeCheckListEdit").valid()) {
            console.log($("#ocnId").val());
            $('#btn_Update').removeClass("btn btn-sm btn-success");
            $('#btn_Update').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Update').html("Updating the Record....");

            var uocn_29_ = $.map($(':checkbox[name=uocn_29]:checked'), function (n, i) {
                return n.value;
            }).join(',');

            var _dateInsert = {
                "ocnId": 0,
                "ocn_appId": @emr.appId,
                "ocn_1": $("#uocn_1").val(),
                "ocn_2": $("#uocn_2").val(),
                "ocn_3": $("#uocn_3").val(),
                "ocn_4": $("#uocn_4").val(),
                "ocn_5": $("#uocn_5").val(),
                "ocn_6": $("#uocn_6").val(),
                "ocn_7": $("#uocn_7").val(),
                "ocn_8": $("#uocn_8").val(),
                "ocn_9": $("#uocn_9").val(),
                "ocn_10": $("#uocn_10").val(),
                "ocn_11": $("#uocn_11").val(),
                "ocn_12": $("#uocn_12").val(),
                "ocn_13": $("#uocn_13").val(),
                "ocn_14": $("#uocn_14").val(),
                "ocn_15": $("#uocn_15").val(),
                "ocn_16": $("#uocn_16").val(),
                "ocn_17": $("#uocn_17").val(),
                "ocn_18": $("#uocn_18").val(),
                "ocn_19": $("#uocn_19").val(),
                "ocn_20": $("#uocn_20").val(),
                "ocn_21": $("#uocn_21").val(),
                "ocn_22": $("#uocn_22").val(),
                "ocn_23": $("#uocn_23").val(),
                "ocn_24": $("#uocn_24").val(),
                "ocn_25": $("#uocn_25").val(),
                "ocn_26": $("#uocn_26").val(),
                "ocn_27": $("#uocn_27").val(),
                "ocn_28": $("#uocn_28").val(),
                "ocn_29": uocn_29_,

                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

            console.log(_dateInsert);

            $.ajax({
                type: "Post",
                url: "@Url.Action("EditOperativeCheckList", "OperativeCheckList", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isEdited) {
                            GetOperativeCheckListInfo();
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>  Operative CheckList Form Updated Successfully!", "success");
                            Timeout();
                            $("#OperativeCheckList_edit").show();
                            $("#OperativeCheckList_add").hide();
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning..Operative CheckList Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion Update Click

        //#region Print
$('#btn_Print').on('click', function (e) {
    e.preventDefault();
    $('#btn_Print').removeClass("btn btn-success");
    $('#btn_Print').addClass("btn btn-success btn-loaders btn-icon");
    $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "OperativeCheckList", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=OperativeCheckList",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {

                if (data.success)
                    console.log(data);
                    console.log(data.message.pdfPath); {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print

    //#region Delete Click
    $('#btn_DeleteForm').on('click', function (e) {
        e.preventDefault();
        $('#btn_DeleteForm').removeClass("btn btn-success");
        $('#btn_DeleteForm').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_DeleteForm').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteOperativeCheckList", "OperativeCheckList", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-warning");
                $('#btn_DeleteForm').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i> Operative CheckList Form Deleted Successfully!", "success");
                        clearControls();

                        $("#OperativeCheckList_edit").hide();
                        $("#OperativeCheckList_add").show();
                        AddOperativeCheckList();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-Delete");
                $('#btn_DeleteForm').html("Delete");
                Timeout();
            }
        })
    });
//#endregion
    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("#upat_sign,#uwit_sign").attr("src", "");
        $("input[name='uocn_29']:checkbox").prop('checked', false);
    }
    //#endregion Clear Controls

    //#region Wacom Tab Signature
    var openWacomTabSignaturePad = function (id) {
       var _data = {
            "patId": @emr.patId,
            "person": id,
           "form": "OperativeCheckList",
            "appId": @emr.appId,
           "formname":"Operative CheckList",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
//#endregion


    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "OperativeCheckList",
            "appId": @emr.appId,
            "formname":"Operative CheckList",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            localStorage.removeItem("sign");
        }
    });

        // #region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=OperativeCheckList',
                type: "GET",
                dataType: "json",
                async: false,
                success: function (response) {
                    console.log(response);
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY");

                    if (response[0].person == "patient") {
                        $("#upat_sign_box").removeClass("d-none");
                        $("#upsb_date_patient").text(date);
                        $("#upat_sign").attr("src", sign);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
        //#endregion Get Signature

            //#region Get CheckedValues
     var GetCheckedValues = function (checknames) {
     var checknames = "@Model.ocn_29";

       if (checknames !== null) {

         if (checknames != "") {
          var str = "@Model.ocn_29";
          var myarray = str.split(',');
          for (var i = 0; i < myarray.length; i++) {
             $('.custom-control-input').each(function () {
                 if (myarray.includes($(this).val())) {
                     $(this).prop("checked", true);
                 }
             });
         }
         console.log(myarray)
     }
   }
 }
      //#endregion

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout

</script>


