@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Intimate Peel";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Intimate Peel Informed Consent</h3>
            </div>
            <div class="card-body">
                <div id="IntimatePeel_add" style="display:none">
                </div>
                <div id="IntimatePeel_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="IntimatePeel_history">
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    //#region Page Load
    $(function () {
        GetIntimatePeelInfo();
        IntimatePeelPreviousHistory();
    });

    //#endregion Page Load

    //#region Load GetIntimatePeelInfo
    var GetIntimatePeelInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetIntimatePeelData", "IntimatePeel", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    console.log(response.length);
                    if (response.length > 0) {
                        EditIntimatePeel();
                        $("#IntimatePeel_add").hide();
                        $("#IntimatePeel_edit").show();

                    }
                    else {
                        $("#IntimatePeel_add").show();
                        $("#IntimatePeel_edit").hide();
                        AddIntimatePeel();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load IntimatePeel

    //#region Add IntimatePeel
    function AddIntimatePeel() {
        var x = $("#IntimatePeel_add");
        x.load("@Url.Action("CreateIntimatePeel", "IntimatePeel", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add IntimatePeel

    //#region Update IntimatePeel
    function EditIntimatePeel() {
        var x = $("#IntimatePeel_edit");
        x.load("@Url.Action("UpdateIntimatePeel", "IntimatePeel", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update IntimatePeel

    //#region History of IntimatePeel
    function IntimatePeelPreviousHistory() {
        var x = $("#IntimatePeel_history");
        x.load("@Url.Action("IntimatePeelPreviousHistory", "IntimatePeel", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>