@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConsentForms.FillerInjection
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_FillerInjectionEdit" autocomplete="off" name="FillerInjection" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-right" dir="rtl">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> اسم المريض</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> الهوية الإماراتية</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">رقم الملف</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> تاريخ الميلاد</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> الجنسية</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">جنس</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">اسم الطبيب</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">تاريخ</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row col-sm-12 col-md-12 col-lg-12 mb-5 mt-5 text-justify" dir="rtl">
        <p class="font-weight-semibold">نموذج موافقة الحقن المؤقت للحشو بحمض الهيالورونيك (الوجه)</p>
        <p>هو جل خالٍ من الجراثيم يتألف من حمض الهيالورونيك المستقر والغير حيواني ومخدر موضعي يُسمى ليدوكايين. حمض الهيالورونيك هو جزيء سلسلة سكرية يحدث طبيعيا في الجلد وفي جميع أنحاء الجسم. يتم حقن الجل الخالي من الجراثيم في الجلد لتصحيح خطوط الوجه والتجاعيد والتجاعيد، لتحسين شكل الشفاه، وتحديد ملامح الوجه بما في ذلك الذقن والخدين وخط الفك والأنف وتجديد البشرة.</p>
        <p class="font-weight-semibold">	الآثار الجانبية الشائعة المرتبطة بالحقن:</p>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
            <ul class="list-group">
                <li class="listunorder" style="border: none;">ألم أو حرق عند إجراء الحقن</li>
                <li class="listunorder" style="border: none;">تورم محلي، أحمرار، أو حساسية</li>
                <li class="listunorder" style="border: none;">نزيف في مواقع الحقن</li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2">
            <ul class="list-group">
                <li class="listunorder" style="border: none;">كدمات. في بعض الحالات النادرة، قد تكون الكدمات شديدة وقد تستمر لعدة أسابيع</li>
                <li class="listunorder" style="border: none;">خدر أو حكة في المنطقة بعد الحقن</li>
            </ul>
        </div>
        <p>
            من المتوقع أن تتحسن الآثار الجانبية الشائعة تلقائيًا خلال أيام قليلة من العلاج. على الرغم من أنه لا يُتوقع، إلا أنه من الممكن أن تستمر الاستجابات الموصوفة لفترة أطول من المتوقع وقد تعيق ثقتك في الحضور إلى العمل أو الفعاليات الاجتماعية. يُنصح بتحديد مواعيد العلاج مع مراعاة ذلك، مما يتيح الوقت للتفاعلات الشائعة مثل الكدمات والتورم أن تتلاشى.
        </p>
        <p class="font-weight-semibold">	آثار جانبية نادرة:</p>
        <div class="col-sm-12 col-md-12 col-lg-3 mb-2 mt-2">
            <ul class="list-group">
                <li class="listunorder" style="border: none;">العدوى</li>
                <li class="listunorder" style="border: none;">	التهاب</li>
                <li class="listunorder" style="border: none;">تغيير لون الجلد</li>
                <li class="listunorder" style="border: none;">العدوى أو تغيير لون الجلد قد تحدث في غضون أيام أو أسابيع إلى أشهر بعد العلاج</li>

            </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
            <ul class="list-group">
                <li class="listunorder" style="border: none;">تورم مستمر قد يحدث في وقت مبكر أو يظهر بعد عدة أسابيع</li>
                <li class="listunorder" style="border: none;">تكون كتل ثابتة أو عقيدات أو بثور مستمرة</li>
                <li class="listunorder" style="border: none;">تكون شكل البثور مشابهة لحب الشباب</li>
                <li class="listunorder" style="border: none;">رد فعل جسم غريب يعرف بـ 'الجرانولوما' يظهر على شكل كتل أو عقيدات</li>

            </ul>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-5 mb-2 mt-2">
            <ul class="list-group">
                <li class="listunorder" style="border: none;">توقف إمداد الدم إلى الجلد قد يحدث بسبب الورم أو الحقن الغير مقصود في الأوعية، مما يسبب الألم وتلف الجلد وربما تشوهًا ممكنًا</li>
                <li class="listunorder" style="border: none;">على الرغم من أنها نادرة للغاية، تم الإبلاغ عن اضطراب بصري مؤقت أو فقدان دائم للبصر بعد علاج التجميل بالحقن</li>
                <li class="listunorder" style="border: none;">لا يمكن دائمًا تحقيق التماثل المثالي</li>

            </ul>
        </div>
        <p>يتوقع أن تدوم التصحيح لفترة تتراوح بين 6-12 شهرًا. يختلف النجاح بحسب الدرجة ومدى استمراره يختلف من شخص لآخر ولا يمكن ضمانه.</p>
        <p>أفهم أنه في حين تم تقديم لي توجيه حول النتيجة المحتملة، يجب أن لا يتم تفسير ذلك على أنه ضمان.</p>
        <p>أفهم أنه على الرغم من أن المضاعفات نادرة، إلا أنها قد تحدث في بعض الأحيان. قد يحدث أن تظهر آثار جانبية غير موصوفة وأن تحدث مضاعفة لم يتم الإبلاغ عنها سابقًا لأول مرة.</p>
        <p>أفهم إذا كنت أعاني من أي تفاعلات سلبية غير متوقعة أو تثير قلقي، يجب علي الاتصال بالعيادة. سيتم ترتيب موعد لرؤيتي. لا يمكن للعيادة أن تتحمل مسؤولية المضاعفات أو النتائج التي لم يتم الإبلاغ عنها أو تقييمها أو توثيقها وإدارتها في الوقت المناسب</p>
        <p>أفهم أن النتائج المرغوبة والمتوقعة تم مناقشتها، وتختلف النتائج بين الأفراد ولا يمكن ضمانها.</p>
        <p>أؤكد أن استمارة تاريخ الصحة الطبية قد تم ملؤها بصدق وأنني على دراية تامة بأن إخفاء المعلومات الطبية، بما في ذلك تاريخ العلاج السابق، قد يكون ضارًا بالنتيجة الآمنة والمثلى لأي علاج يتم إجراؤه. إذا كانت هناك أي تغييرات في تاريخي الطبي، يجب علي إبلاغ الطبيب</p>
        <p>أؤكد أنه تم تزويدي بمعلومات شفوية ومكتوبة حول هذا العلاج، والتي تتضمن رعاية ما بعد العلاج ونصائح المتابعة.</p>
        <p>أوافق على اتباع نصائح الرعاية ما بعد العلاج وأدرك أن هذا يقلل من خطر التفاعلات السلبية ويساعد في ضمان النتائج المثلى.</p>
        <p>أفهم أن المعلومات المتعلقة بي ستُعامل بسرية وسيتم تقييدها وفقًا لقانون حماية البيانات، ما لم يتم منح أذونات خاصة.</p>
        <p>أقر بموافقتي على مشاركة سجلاتي الطبية مع الأطباء المختصين المناسبين.</p>
        <p>أفهم أنه يتم التقاط الصور كجزء من سجلي الطبي.</p>
        <p>في بعض الأحيان، يكون من المفيد مشاركة صور نتائج العلاج الخاصة بنا. أوافق على نشر الصور للأغراض التالية:</p>
        <p>لأغراض التعليم والتدريب مع الأطباء المحترفين.</p>
        <p>لأغراض التعليم مع بعض المرضى المحددين خلال الاستشارة.</p>
        <p>لأغراض تعليمية/ترويجية في محفظة العيادة المعروضة لبعض أفراد الجمهور المحددين.</p>
        <p>لأغراض تعليمية/ترويجية على موقع العيادة على الإنترنت.</p>
        <p>لأغراض تعليمية في بعض الفعاليات العامة.</p>
        <p>أفهم أنه لا يتم دفع أي رسوم لي أو لأي شخص آخر عن هذه المواد سواء الآن أو في المستقبل.</p>
        <p>أؤكد أن الغرض الذي ستستخدم فيه المواد قد تم شرحه لي بطريقة فهمتها.</p>
        <p class="font-weight-semibold mt-3">لقد قمت بقراءة:</p>
        <div class="col-sm-12 col-md-12 col-lg-3 mt-2 mb-3">
            <div class="row d-flex">
                <ul class="list-group">
                    <li class="listunorder" style="border: none;">نموذج موافقة الحقن المؤقتة للحشو</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3 mt-2 mb-3">
            <div class="row d-flex">
                <ul class="list-group">
                    <li class="listunorder" style="border: none;">معلومات العلاج بحمض الهيالورونيك للحشو بالحقن</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3 mt-2 mb-3">
            <div class="row d-flex">
                <ul class="list-group">
                    <li class="listunorder" style="border: none;">شروط وأحكام العيادة</li>
                </ul>
            </div>
        </div>
        <p>أقبل شروط وأحكام العيادة.</p>
        <p>أنا راضٍ عن أن تم شرح علاج حقن الحشو بشكل شامل، وأنه تم مناقشة بشكل كامل وفهم الأخطار والآثار الجانبية المحتملة المرتبطة بالعلاج. لقد أخذت وقتًا كافيًا لمعالجة والتفكير في المعلومات المقدمة، وتمت الإجابة على أي أسئلة كانت لدي برضاي، قبل اتخاذ قرار بالمضي قدمًا في خطة العلاج المتفق عليها</p>
        <p class="d-flex"><span class="mt-2">تم تنبيهي بأن تكلفة العلاج ستكون</span> @Html.TextBoxFor(m => m.fif_1, new { @class = "form-control text-center col-md-3 mb-2 me-1", @id = "ufif_1" }) </p>
        <p>وأقبل بشروط الدفع وفقًا لسياسة العيادة (الشروط والأحكام).</p>
    </div>

    <div class="row mt-2" dir="rtl">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="2" class="font-weight-bold text-danger fs-18" width="100%">
                        قم بالتوقيع هنا فقط إذا تمت الموافقة على جميع الأسئلة
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <div id="upat_sign_box">
                            <img alt="Signature" src="" id="upat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize mt-1">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold"> اسم المريض</span>
                        <br /><br />
                        <label class="form-label text-red text-left mt-2" id="upsb_date_patient" name="">&nbsp;</label>
                        <span class="font-weight-semibold">تاريخ</span>
                    </td>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize mt-1">@emr.doc_name&nbsp;</label>
                        <span class="font-weight-semibold">اسم الطبيب</span>
                        <br /><br />
                        <label class="form-label text-red text-left mt-2" id="ufif_date_doctor">@Model.fif_date_modified&nbsp;</label>
                        <span class="font-weight-semibold">تاريخ</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue" width="33%">
                        توقيع المريض
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center" width="33%">توقيع الطبيب</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update">Save Changes</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                <button type="button" class="btn btn-danger btn-sm" id="btn_DeleteForm">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print"> Download/Print </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Update").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Update").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Update").show();
                }
                else {
                    $("#btn_Update").hide();
                }
            }
        }
        validate();
        GetSignaturename('patient');
    });

    //#region Validation Initialization
    var validate = function () {
        $("#form_FillerInjectionEdit").validate({
            rules: {
                fif_1: {
                    required: true
                },
            },
            messages: {
                fif_1: {
                    required: "Please Enter Treatment"
                },

            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
    //#endregion

    //#region Update  Click
    $('#btn_Update').on('click', function (e) {
        e.preventDefault();
        if ($("#form_FillerInjectionEdit").valid()) {
            console.log($("#fifId").val());
            $('#btn_Update').removeClass("btn btn-sm btn-success");
            $('#btn_Update').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Update').html("Updating the Record....");

            var _dateInsert = {
                "fifId": 0,
                "fif_appId": @emr.appId,
                "fif_1": $("#ufif_1").val(),

                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

            console.log(_dateInsert);

            $.ajax({
                type: "Post",
                url: "@Url.Action("EditFillerInjection", "FillerInjection", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isEdited) {
                            GetFillerInjectionInfo();
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> Filler Injection Form Updated Successfully!", "success");
                            Timeout();
                            $("#FillerInjection_edit").show();
                            $("#FillerInjection_add").hide();
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning..Filler Injection Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion Update Click

        //#region Print
$('#btn_Print').on('click', function (e) {
    e.preventDefault();
    $('#btn_Print').removeClass("btn btn-success");
    $('#btn_Print').addClass("btn btn-success btn-loaders btn-icon");
    $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "FillerInjection", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=FillerInjection",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {

                if (data.success)
                    console.log(data);
                    console.log(data.message.pdfPath); {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print

    //#region Delete Click
    $('#btn_DeleteForm').on('click', function (e) {
        e.preventDefault();
        $('#btn_DeleteForm').removeClass("btn btn-success");
        $('#btn_DeleteForm').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_DeleteForm').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteFillerInjection", "FillerInjection", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-warning");
                $('#btn_DeleteForm').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i> Filler Injection Form Deleted Successfully!", "success");
                        clearControls();

                        $("#FillerInjection_edit").hide();
                        $("#FillerInjection_add").show();
                        AddFillerInjection();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-Delete");
                $('#btn_DeleteForm').html("Delete");
                Timeout();
            }
        })
    });
//#endregion
    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("#upat_sign,#uwit_sign").attr("src", "");
    }
    //#endregion Clear Controls

    //#region Wacom Tab Signature
    var openWacomTabSignaturePad = function (id) {
       var _data = {
            "patId": @emr.patId,
            "person": id,
           "form": "FillerInjection",
            "appId": @emr.appId,
           "formname":"Filler Injection",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
//#endregion


    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "FillerInjection",
            "appId": @emr.appId,
            "formname":"Filler Injection",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            localStorage.removeItem("sign");
        }
    });

        // #region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=FillerInjection',
                type: "GET",
                dataType: "json",
                async: false,
                success: function (response) {
                    console.log(response);
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY");

                    if (response[0].person == "patient") {
                        $("#upat_sign_box").removeClass("d-none");
                        $("#upsb_date_patient").text(date);
                        $("#upat_sign").attr("src", sign);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
        //#endregion Get Signature

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout

</script>