@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.InsuranceForms.MedicalExpensesForm

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="modal-body p-4">
    <form id="form_MedicalExpensesForm" class="fs-14" autocomplete="off" name="MedicalExpensesForm" ondrop="return false;" onpaste="return false;" oncut="return false;">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.mefId, new { @id = "mefId", @value = "@Model.mefId" })
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-10 mt-2">
                <div class="row">
                    <div class="d-flex col-sm-12 col-md-6 col-lg-6">
                        <div class="col-sm-11 col-md-6 col-lg-3 ps-0">
                            <label class="text-black font-weight-semibold">
                                Date 
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.app_fdate&nbsp;</span>

                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                        <div class="col-sm-11 col-md-6 col-lg-3 ps-0">
                            <label class="text-black font-weight-semibold">
                                Clinic Name &nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.set_company&nbsp;</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                        <div class="col-sm-11 col-md-6 col-lg-3 ps-0">
                            <label class="text-black font-weight-semibold">
                                Emirates ID &nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            @if (@emr.pat_emirateid != "")
                            {
                                <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.pat_emirateid&nbsp;</span>
                            }
                            else
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                            }
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                        <div class="col-sm-11 col-md-6 col-lg-3 ps-0">
                            <label class="text-black font-weight-semibold">
                                Card Holder's Name &nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            @if (@emr.pat_name != "")
                            {
                                <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.pat_name&nbsp;</span>
                            }
                            else
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                        <div class="col-sm-11 col-md-6 col-lg-3 ps-0">
                            <label class="text-black font-weight-semibold">
                                Age
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            @if (@emr.pat_age != "")
                            {
                                <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.pat_age&nbsp;</span>
                            }
                            else
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                            }
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                        <div class="col-sm-11 col-md-6 col-lg-3 ps-0">
                            <label class="text-black font-weight-semibold">
                                Gender
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            @if (@emr.pat_gender != "")
                            {
                                <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.pat_gender&nbsp;</span>
                            }
                            else
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                        <div class="col-sm-11 col-md-6 col-lg-3 ps-0">
                            <label class="text-black font-weight-semibold">
                                Mobile No. 
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            @if (@emr.pat_mob != "")
                            {
                                <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.pat_mob&nbsp;</span>
                            }
                            else
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                            }
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                        <div class="col-sm-11 col-md-6 col-lg-3 ps-0">
                            <label class="text-black font-weight-semibold">
                                Ins Card No.
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            @if (@emr.pi_insno != "")
                            {
                                <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.pi_insno&nbsp;</span>
                            }
                            else
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                        <div class="col-sm-11 col-md-6 col-lg-3 ps-0">
                            <label class="text-black font-weight-semibold">
                                Valid Upto. 
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            @if (@emr.pi_edate != "")
                            {
                                <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.pi_edate&nbsp;</span>
                            }
                            else
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                            }
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                        <div class="col-sm-11 col-md-6 col-lg-3 ps-0">
                            <label class="text-black font-weight-semibold">
                                Company Name. &nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            @if (@emr.ic_name != "")
                            {
                                <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.ic_name&nbsp;</span>
                            }
                            else
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                        <div class="col-sm-11 col-md-6 col-lg-3 ps-0">
                            <label class="text-black font-weight-semibold">
                                Employee No. 
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            @if (@emr.emp_license != "")
                            {
                                <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.emp_license&nbsp;</span>
                            }
                            else
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                            }
                        </div>
                    </div>
                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                        <div class="col-sm-11 col-md-6 col-lg-3 ps-0">
                            <label class="text-black font-weight-semibold">
                                Nationality. &nbsp;
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            @if (@emr.pat_nationality != "")
                            {
                                <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.pat_nationality&nbsp;</span>
                            }
                            else
                            {
                                <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-2">
                    @if (!string.IsNullOrEmpty(emr.pi_image))
                    {
                        <img alt="Insurance Card" src="@emr.pi_image" id="pi_image" class="avatar avatar-xxl" />
                    }
                    else
                    {
                        <img src='~/images/no-photo-card.jpg' alt="Insurance Card" />
                    }
            </div>
        </div>
        <div class="row table-bordered border-light2 mb-2 mt-2">
            <div class="col-sm-12 col-md-12 col-lg-12 text-left">
                <div class="text-danger">
                    <h5>Clinical Details</h5>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <label class="form-label text-black">
                    Signs & Symptoms
                </label>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                <div class="col-sm-11 col-md-6 col-lg-1">
                    <label class="text-black">
                        BP&nbsp;
                    </label>
                </div>
                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <label class="form-label text-red text-left" id="sign_bp" name="">&nbsp;</label>
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                <div class="col-sm-11 col-md-6 col-lg-1">
                    <label class="text-black">
                        Temp&nbsp;
                    </label>
                </div>
                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <label class="form-label text-red text-left" id="sign_temp" name="">&nbsp;</label>
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                <div class="col-sm-11 col-md-6 col-lg-1">
                    <label class="text-black">
                        Pulse&nbsp;
                    </label>
                </div>
                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <label class="form-label text-red text-left" id="sign_pulse" name="">&nbsp;</label>
                </div>
            </div>
            <div class="d-flex col-sm-12 col-md-12 col-lg-12 ps-0">
                <div class="col-sm-11 col-md-6 col-lg-1">
                    <label class="text-black">
                        Notes&nbsp;
                    </label>
                </div>
                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <label class="form-label text-red text-left" id="sign_notes" name="">&nbsp;</label>
                </div>
            </div>
            <div class="d-flex align-items-start col-sm-12 col-md-12 col-lg-12 ps-0">
                <div class="col-sm-11 col-md-6 col-lg-1">
                    <label class="form-label text-black">
                        Date of Onset Illness
                    </label>
                </div>
                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    @if (@emr.app_fdate != "")
                    {
                        <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.app_fdate</span>
                    }
                    else
                    {
                        <span class="font-weight-normal1 text-capitalize text-left">N/A</span>
                    }
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
                <div class="row">
                    <div class="col-sm-11 col-md-6 col-lg-2">
                        <div class="form-radio">
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="mef_radio" id="mef_radio11" value="1">
                                <span class="custom-control-label">Emergency </span>
                            </label>&nbsp;
                        </div>
                    </div>
                    <div class="col-sm-11 col-md-6 col-lg-2">
                        <div class="form-radio">
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="mef_radio" id="mef_radio12" value="2">
                                <span class="custom-control-label">Work related</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-11 col-md-6 col-lg-2">
                        <div class="form-radio">
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="mef_radio" id="mef_radio13" value="3">
                                <span class="custom-control-label">New visit</span>
                            </label>&nbsp;
                        </div>
                    </div>
                    <div class="col-sm-11 col-md-6 col-lg-2">
                        <div class="form-radio">
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="mef_radio" id="mef_radio14" value="4">
                                <span class="custom-control-label">Follow up visit</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-start col-sm-12 col-md-12 col-lg-12 ps-0">
                <div class="col-sm-11 col-md-6 col-lg-1">
                    <label class="form-label text-black">
                        Diagnosis&nbsp;
                    </label>
                </div>
                <div class="d-flex align-items-center justify-content-center w-8  form-label">
                    :
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <label class="form-label text-red text-left" id="pat_Diagnosis" name=""></label>
                </div>
            </div>
        </div>
        <div class="row border border-1 border-bottom-0">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <label class="form-label text-black">
                    Management plan (Services inside the clinic including injections and investigations)
                </label>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                <label class="form-label text-red text-left" id="treat_details" name=""></label>
            </div>
        </div>
        <div class="row border border-1 border-top-1">
            <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
                <span class="text-capitalize text-left text-red">@emr.doc_name&nbsp;</span>
                <label class="form-label">
                    Doctor Name
                </label>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
                <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                <label class="form-label">
                    Signature & Stamp
                </label>
            </div>
        </div>
        <div class="row  border border-1 mt-2 mb-0 pt-2 pb-6">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <label class="form-label text-black">
                    Diagnostic Procedures referred outside
                    <span class="text-red">*</span>
                </label>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12">
                @Html.TextAreaFor(m => m.mef_diag, new { @class = "form-control", @placeholder = "Please specify", @id = "mef_diag" })
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mt-3">
            <p class="text-black text-justify">
                I hereby authorize the physician, Hospital or pharmacy to file a claim for medical services on my behalf and I confirm that the above-mentioned examination/Investigation/therapy is given to me by the doctor. I hereby authorize any Clinic, Physician, Pharmacy or any other person who has provided medical services to me to furnish any and all information with regard to any medical history, medical condition, or medical services and copies of all medical and Clinic records.
            </p>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 mt-3">
            <div id="pat_sign_box">
                <img alt="stamp" id="pat_sign" class="avatar avatar-xl bsquare" />
            </div>
            <label class="form-label mb-2 text-danger">
                Patient's Signature
            </label>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 mt-3">
            <label class="form-label text-red text-left" id="psb_date_patient" name="">&nbsp;</label>
            <label class="form-label mb-2 text-danger">
                Date
            </label>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 mt-3">
            <label class="form-label mb-2">
                Pharmaceuticals (to be filled by treating doctor only)
            </label>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="btn-list btn-animation">
                    <button type="submit" class="btn btn-success" id="btn_Insert">Save</button>
                    <button type="button" class="btn btn-outline-dark" id="btn_Reset_C">Reset</button>
                    <button type="button" class="btn btn-danger btn-sm d-none" id="btn_Delete">Delete</button>
                    <button type="button" class="btn btn-sm btn-outline-success d-none" id="btn_Print_C"> Download/Print </button>
                    <div class="btn-group mr-2">
                        <div class="dropdown">
                            <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    // region page load

    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Insert").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Insert").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Insert").show();
                }
                else {
                    $("#btn_Insert").hide();
                }
            }
        }
        validate();
        Get_Patient_signs();
        Get_PatientEMR();
    });


    //#region Validation Initialization
    var validate = function () {
        $("#form_MedicalExpensesForm").validate({
            rules: {
                mef_diag: {
                    required: true,
                },
            },
            messages: {
                mef_diag: {
                    required: "Please Enter Procedure"
                },
            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
 //#endregion

    //#region Add  Click
    $('#btn_Insert').on('click', function (e) {
        e.preventDefault();
        if ($("#form_MedicalExpensesForm").valid()) {
            $('#btn_Insert').removeClass("btn btn-sm btn-success");
            $('#btn_Insert').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Insert').html("Saving the Record....");

            var mef_radio = "";

            if ($('#mef_radio11').prop('checked')) {
                mef_radio = "1";
            }
            else if ($('#mef_radio12').prop('checked')) {
                mef_radio = "2";
            }
            else if ($('#mef_radio13').prop('checked')) {
                mef_radio = "3";
            }
            else if ($('#mef_radio14').prop('checked')) {
                mef_radio = "4";
            }
           var _dateInsert = {
                   "mefId": 0,
                    "mef_appId": @emr.appId,
                    "mef_radio": mef_radio,
                    "mef_diag": $("#mef_diag").val(),

                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

        console.log(_dateInsert);

            $.ajax({
                type: "Post",
                url: "@Url.Action("InsertMedicalExpensesForm", "MedicalExpensesForm", new {area = "InsuranceForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-sm btn-success");
                    $('#btn_Insert').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isInserted) {
                            GetMedicalExpensesFormInfo();
                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>MedicalExpensesForm Saved Successfully!", "success");


                            Timeout();
                            EditMedicalExpensesForm()

                            $("#btn_Delete").removeClass("d-none");
                            $("#btn_Print").removeClass("d-none");
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning.. MedicalExpensesForm already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-sm btn-warning");
                    $('#btn_Insert').html("Add");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }

    });
    //#endregion Add Click

   //#region Delete Click
    $('#btn_Delete').on('click', function (e) {
        e.preventDefault();
        $('#btn_Delete').removeClass("btn btn-success");
        $('#btn_Delete').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Delete').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteMedicalExpensesForm", "MedicalExpensesForm", new { area = "InsuranceForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-warning");
                $('#btn_Delete').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>MedicalExpensesForm Deleted Successfully!", "success");
                        clearControls();
                        Timeout();

                        $('#btn_Delete').addClass("d-none");
                        $("#pat_sign_box").addClass("d-none");


                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-Delete");
                $('#btn_Delete').html("Delete");
                Timeout();
            }
        })
    });
//#endregion

    //#region Reset
    $('#btn_Reset_C').on('click', function (e) {
        e.preventDefault();
        clearControls();

    });
    //#endregion Reset

        //#region Print
    $('#btn_Print_C').on('click', function (e) {
        e.preventDefault();
        $('#btn_Print_C').removeClass("btn btn-sm btn-success");
        $('#btn_Print_C').addClass("btn btn-sm btn-success btn-loaders btn-icon");
        $('#btn_Print_C').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "MedicalExpensesForm", new {area = "InsuranceForms" })?appId=" + @emr.appId + "&form=MedicalExpensesForm",
        dataType: 'JSON',
        success: function (data) {
            console.log(data)
            if (data.isAuthorized) {
                if (data.success)
                    console.log(data);
                    console.log(data.message.pdfPath); {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print


    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("#pat_sign").attr("src", "");
        $("input[name='mef_radio']:radio").prop('checked', false);
    }
    //#endregion Clear Controls

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                 "patId": @emr.patId,
                 "person": id,
                "form": "MedicalExpensesForm",
                 "appId": @emr.appId,
                "formname":"MedicalExpensesForm",
                 "formlink":"",
                 "eSign":""
             }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion
   //#region Signature
    var openSignaturePad = function (id) {
    var _data = {
        "patId": @emr.patId,
        "person": id,
        "form": "MedicalExpensesForm",
        "appId": @emr.appId,
        "formname":"MedicalExpensesForm",
        "formlink":"",
        "eSign":""
    }
    $.ajax({
        type: "GET",
        url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
        contentType: "application/json",
        dataType: "html",
        data: _data,
        success: function (response) {
            $("#signature_pad_body").html(response);
            $("#signature_pad").modal("show");
        },
        error: function (xhr) {
            console.log("Error :" + xhr.statusText);
        }
    });
}
//#endregion Signature

$('#signature_pad').on('hidden.bs.modal', function () {
    if (localStorage.getItem("sign") != null) {
        GetSignaturename('patient');
        localStorage.removeItem("sign");
    }
});


    //#region Get Signature
    var GetSignaturename = function  (person) {
        $.ajax({
            url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=MedicalExpensesForm',
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                console.log(response);
                let sign = response[0].psb_sign;
                var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY");

                if (response[0].person == "patient") {
                    $("#pat_sign_box").removeClass("d-none");
                    $("#psb_date_patient").html(date);
                    $("#pat_sign").attr("src", sign);
                }

            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr);
            }

        });
    };
    //#endregion Get Signature

//#region Alert Timeout
function Timeout() {
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4200);
}
    //#endregion Alert Timeout
 //#region Load Get_Patient_signs
        var Get_Patient_signs = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Get_Patient_Signs", "ReimbursementForms", new { area = "EMRForms" })?appId="+@emr.appId,
                success: function (response) {
                    if (response.length > 0) {
                        var str1 = response[0].sign_bp;
                        var str2 = response[0].sign_pulse;
                        var str3 = response[0].sign_temp;
                        var str4 = response[0].sign_notes;
                        var regex = /(|<([^>]+)>)/ig;
                        $("#sign_bp").text(str1.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_pulse").text(str2.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_temp").text(str3.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_notes").text(str4.replace(/(<p>|<\/p>)/g, ""));
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
    //#endregion

    // #region Chief Complaints,Treatments,Diagnosis  page load validation

    function Get_PatientEMR() {
        let complaints = false, treatments = false, diagnosis = false;

        $.ajax({
            url: "@Url.Action("GetAllPatientTreatments", "PatientTreatments", new { area = "EMR" })?appId=" + "@emr.appId" + "&pt_type=Insurance",
            method: "GET",
            async: false,
            success: function (response) {
                console.log(response)
                if (response.length > 0) {
                    let htmlTreat = '';
                    let count = 0;

                    response.forEach(t => {
                        if (t.pt_status === "Invoiced") {
                            count++;
                            htmlTreat += `<div>${count}. ${t.tr_name}</div>`;
                        }
                    });
                    htmlTreat += '</div>';

                    if (count > 0) {
                        $('#treat_details').append(htmlTreat);
                        treatments = true;
                    }
                    else {
                        $('#treat_details').text("Nil");
                        treatments = false;
                    }
                }
                else {
                    $('#treat_details').text("Nil");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        });

        $.ajax({
            url: "@Url.Action("GetAllPatientDiagnosis", "PatientDiagnosis", new { area = "EMR" })?appId=" + "@emr.appId",
            method: "GET",
            async: false,
            success: function (response) {
                if (response.message.length > 0) {
                    diagnosis = true;
                    let count = 1;
                    let htmlDiag = '<div class="d-flex flex-column gap-2">';

                    response.message.forEach(d => {
                        htmlDiag += `<div>${count}. ${d.diag_code} - ${d.diag_name}</div>`;
                        count++;
                    });

                    htmlDiag += '</div>';
                    $('#pat_Diagnosis').append(htmlDiag);
                }
                else {
                    $('#pat_Diagnosis').text("Nil");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })

        $.ajax({
            url: "@Url.Action("GetAllCheifComplaints", "CheifComplaints", new { area = "EMR" })?appId=" +@emr.appId,
            dataType: "json",
            method: "GET",
            async: false,
            success: function (response) {
                if (response.length > 0) {
                    complaints = true;
                }
            },
            error: function (xhr) {
                console.log(xhr)
            }
        });

        if (complaints && treatments && diagnosis) {
            $("#btn_Insert").show();
        }
        else {
            let missing = [];

            if (!complaints) {
                missing.push('Complaints');
            }

            if (!diagnosis) {
                missing.push('Diagnosis');
            }

            if (!treatments) {
                missing.push('Treatments');
            }

            let missingString = missing.join(", ");

            let htmlAlert = `
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>${missingString}</strong> have not been filled yet.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">&#10006;</button>
                </div>
            `;

            $("#alert_form").append(htmlAlert);
            $("#btn_Insert").hide();
        }
    }

    // #region Chief Complaints,Treatments,Diagnosis  page load validation
</script>