@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConcentForms.CrownArabic

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_CrownArabic" autocomplete="off" name="CrownArabic" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-right" dir="rtl">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> اسم المريض</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> الهوية الإماراتية</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">رقم الملف</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> تاريخ الميلاد</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> الجنسية</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">جنس</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">اسم الطبيب</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">تاريخ</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5 mt-5  text-justify font-weight-semibold" dir="rtl">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <span class="font-weight-semibold">#  السن:</span> @Html.TextBoxFor(m => m.icca_1, new { @class = "form-control", @id = "icca_1", @maxlength = "200" })
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <span class="font-weight-semibold"># الجسر:</span> @Html.TextBoxFor(m => m.icca_2, new { @class = "form-control", @id = "icca_2", @maxlength = "200" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">لقد تم إبلاغي وفهمت أن علاج الأسنان التي تتطلب التيجان و / أو الجسور الثابتة ينطوي على بعض المخاطر والنتائج المحتملة غير الناجحة، بما في ذلك إمكانية الفشل حتى عند تطبيق أفضل طرق العلاج الممكنة. لا توجد وعود أو ضمانات من النتائج المتوقعة أو طول الفترة الزمنية للتاج و/ أو الجسور الثابتة . أوافق على تحمل المخاطر المرتبطة بالتيجان و / أو الجسور الثابتة، والتي تشمل الآتي ولكن لا تقتصر عليه </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            <ol>
                <li>
                    <div>
                        <span>١.</span><span class="text-red me-2" dir="rtl"><u>:تخفيض هيكل الأسنان</u></span>
                        <p class="me-4">
                            لاستبدال الأسنان المتضررة أو المصابة من الضروري تعديل السن أو الأسنان بحيث يمكن وضع التاج (التلبيس) و / أو الجسور عليها. سيتم اعداد الأسنان بأكثر الطرق تحفظا وذلك للحفاظ عليها. ولكني افهم انه من الطبيعي على الأقل سيتم ازالة القليل من بنية الأسنان الموجودة
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <span>٢.</span> <span class="text-red me-2"><u>:الإصابة </u></span>
                        <p class="me-4">
                            خلال تخفيض هيكل الأسنان أو التعديلات التي أجريت على الحشوات المؤقتة، فمن الممكن للسان أو الخد أو أنسجة الفم الأخرى أن تصاب عن غير قصد بقطع أو تهتك
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <span>٣.</span><span class="text-red me-2"><u>: فقدان الحس بعد استخدام التخدير </u></span>
                        <p class="me-4">
                            من أجل تخفيض هيكل الأسنان دون التسبب في ألم أثناء الإجراء، فمن الضروري إعطاء مخدر موضعي. قد يسبب هذا في ردود فعل أو آثار جانبية، والتي تشمل، على سبيل المثال ولكن لا تنحصر عليها ، كدمات، ورم دموي، وتحفيز القلب، وخدر مؤقت أو نادرا ما يكون دائم للسان والشفتين والأسنان والفكين و / أو أنسجة الوجه ووجع العضلات.
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <span>٤.</span><span class="text-red me-2"><u>: حساسية الأسنان </u></span>
                        <p class="me-4">
                            في كثير من الأحيان، بعد إعداد الأسنان لاستقبال إما التيجان أو الجسور، قد تظهر حساسية الأسنان، والتي يمكن أن تتراوح من خفيفة إلى شديدة. قد تستمرالحساسية فقط لفترة قصيرة من الزمن أو قد تستمر لفترات أطول بكثير. إذا كان مستمرا، يجب اخبارنا حتى نتمكن من تحديد سبب الحساسية والسعي لعلاجه
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <span>٥.</span><span class="text-red me-2"><u>:بعد إعداد التاج ووضعة كسن فردي أو كدعامة للجسر فإن السن أو الأسنان المعنية قد تتطلب علاج العصب </u></span>
                        <p class="me-4">
                            بعد وضع التاج على الأسنان ، قد تتطور حالة تعرف باسم التهاب اللب أو تنكس اللب بشكل غير متوقع في كثير من الأحيان قد يصاب السن أو الأسنان بصدمة من حادث أو تسوس عميق أو لأسباب أخرى. وغالبا ما يكون من الضروري إجراء علاجات العصب في هذه الأسنان، وخاصة إذا ظلت الأسنان حساسة بشكل ملحوظ لفترة طويلة من الزمن بعد وضع التاج. في حالات نادرة جدا يؤدي التهاب اللب الى تكون خراج مما يؤدي للحاجة الى قلع السن في حالة فشل العلاج
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <span>٦.</span><span class="text-red me-2"><u>:الكسر </u></span>
                        <p class="me-4">
                            التاج والجسور يمكن أن تشظى أو أن تنكسر. العديد من العوامل يمكن أن تسهم في هذا الوضع مثل مضغ المواد الصلبة بشكل مفرط، وتغيرات في قوى اقفال الفك ، ضربات صادمة للفم الخ. قد تتطور الشقوق التي لا يمكن اكتشافها في التيجان من هذه الأسباب، ولكن التيجان / الجسور نفسها قد لا تنكسر فعلا حتى وقت لاحق. الكسر أو التقطيع بسبب مواد المعيبة غير شائع إلى حد ما. إذا حدث ذلك، فإنه يحدث عادة بعد وقت قصير من وضعه.
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <span>٧.</span><span class="text-red me-2"><u>:شعور غير مريح أو غريب</u></span>
                        <p class="me-4">
                            التاج والجسور هي اصطناعية وبالتالي فهي تختلف عن الأسنان الطبيعية. معظم المرضى يعتادون على هذا الشعور مع مرور الوقت. في حالات محدودة، وجع عضلات مفصل الفك قد تستمر لفترات غير محددة من الزمن، بعد وضع التيجان أو الجسور
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <span>٨.</span> <span class="text-red me-2"><u>: الجماليات أو المظهر </u></span>
                        <p class="me-4">
                            سيتم إعطاء المرضى الفرصة لمعاينة مظهر التيجان والجسور في مكانها قبل تلصيقها النهائي. إذا كانت النتيجة مرضية يجب تسجل ذلك في الملف الطبي الخاص بالمريض
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <span>٩.</span><span class="text-red me-2"><u>:طول عمرالتيجان والجسور </u></span>
                        <p class="me-4">
                            العديد من المتغيرات يمكن أن تحدد كم من الوقت يمكن للتيجان والجسور أن تبقى. ومن بين هذه العوامل المذكورة في الفقرات السابقة، بما في ذلك الصحة العامة للمريض، والنظافة الفموية، والفحوصات الدورية للأسنان والنظام الغذائي. ونتيجة لذلك، لا يمكن تقديم ضمانات أو افتراضها بشأن طول عمر التيجان والجسور
                        </p>
                    </div>
                </li>
                <li>
                    <div>
                        <span>١٠.</span> <span class="text-black me-2">.أوافق على التصوير الفوتوغرافي، التصوير، والتسجيل، والأشعة السينية الخاصة بالإجراء </span>
                        <p class="me-4">
                            ومن مسؤولية المريض أن يخطر الطبيب فورا في حالة حدوث أي مشاكل غير متوقعة. يجب على المريض اتباع جميع التعليمات، بما في ذلك جدولة وحضور جميع المواعيد. قد يؤدي عدم الحفاظ على المواعيد إلى فشل نهائي للتاج / الجسر لتتناسب بشكل صحيح
                        </p>
                    </div>
                </li>

            </ol>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            <span class="text-red text-decoration-underline"><u>: استمارة الموافقة المسبقة </u></span>
            <p class="me-4">
                لقد أتيحت لي الفرصة لطرح أي أسئلة بخصوص طبيعة والغرض من علاج التيجان والجسور وقد تلقيت إجابات مرضية. أنا طوعا اتحمل جميع المخاطر المحتملة ،بما في ذلك خطر حدوث ضرر كبير، إن وجد، والذي قد يرتبط بأي مرحلة من مراحل العلاج ، على أمل الحصول على النتائج المرجوة. الرسوم (إن وجدت) لهذه الخدمة لقد تم شرحها وهي مرضية. من خلال التوقيع على هذا النموذج أنا أعطي بحرية موافقتي للسماح للدكتور <label class="text-red">@emr.doc_name</label>أو/ و أحد مساعديه لتقديم العلاج لتقديم العلاج أو اي دواء و /أو التخدير الذي يعتبر ضروري للعلاج
            </p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            <span dir="rtl">
                <input type="radio" id="icca_41" value="Yes" name="icca_4" class="me-4" />&nbsp;  قد أتيحت لي الفرصة لطرح الأسئلة وقمت بالموافقة على العلاج المقترح كما هو موضح أعلاه
            </span>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            <span dir="rtl">
                <input type="radio" id="icca_42" value="No" name="icca_4" class="me-4" />&nbsp;
                قد قمت برفض إعطاء الموافقة للعلاج المقترج كما هو موضح أعلاه وقد تم شرح العواقب المحتملة المرتبطة بالرفض
            </span>
        </div>
    </div>

    <div class="row mt-2" dir="rtl">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr dir="rtl">
                    <td colspan="3" width="100%" class="font-weight-bold text-danger fs-18">
                        <u>قم بالتوقيع هنا فقط إذا تمت الموافقة على جميع الأسئلة </u>
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <div id="pat_sign_box" class="d-none">
                            <img alt="stamp" id="pat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="34%">
                        <div id="wit_sign_box" class="d-none">
                            <img alt="stamp" id="wit_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        سم المريض
                        <br />
                        <label class="form-label text-red">@emr.pat_name&nbsp;</label>
                        لتاريخ
                        <br />
                        <label class="form-label text-red">@emr.app_fdate&nbsp;</label>

                    </td>
                    <td width="34%">
                        هوية الشاهد
                        <br />
                        @Html.TextBoxFor(m => m.icca_3, new { @class = "form-control text-center", @id = "icca_3", @maxlength = "200" })

                        التاريخ
                        <br />
                        <label class="form-label text-red">@emr.app_fdate&nbsp;</label>
                    </td>
                    <td width="33%">
                        وقيع الطبيب
                        <br />
                        <label class="form-label text-red">@emr.doc_name&nbsp;</label>

                        التاريخ
                        <label class="form-label text-red">@emr.app_fdate&nbsp;</label>

                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue text-center" width="33%">
                        توقيع المريض/ الممثل المفوض قانونا
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue  text-center" width="34%">
                        توقيع الشاهد
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> witness
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('witness')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('witness')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center" width="33%">توقيع الطبيب </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-success btn-sm" id="btn_Insert">Save</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                <button type="button" class="btn btn-danger btn-sm d-none" id="btn_Delete">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success d-none" id="btn_Print"> Download/Print </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">


    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Insert").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Insert").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Insert").show();
                }
                else {
                    $("#btn_Insert").hide();
                }
            }
        }
        validate();
    });

    //#region Validation Initialization
    var validate = function () {
        $("#form_CrownArabic").validate({
            rules: {
                icca_1: {
                    required: true
                },
                icca_2: {
                    required: true
                },
                icca_3: {
                    required: true
                },

            },
            messages: {
                icca_1: {
                    required: "Please Enter Tooth!"
                },
                icca_2: {
                    required: "Please Enter Bridge!"
                },
                icca_3: {
                    required: "Please Enter Witness ID!"
                },

            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

    }
    //#endregion

    //#region Add  Click
    $('#btn_Insert').on('click', function (e) {
        e.preventDefault();
        if ($("#form_CrownArabic").valid()) {
            $('#btn_Insert').removeClass("btn btn-sm btn-success");
            $('#btn_Insert').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Insert').html("Saving the Record....");


            //var icca_4_ = $.map($(':checkbox[name=icca_4]:checked'), function (n, i) {
            //    return n.value;
            //}).join(',');
            var icca_4 = "";

            if ($('#icca_41').prop('checked')) {
                icca_4 = "Yes";
            }
            else if ($('#icca_42').prop('checked')) {
                icca_4 = "No";
            }

            var _dateInsert = {
                "iccaId": 0,
                "icca_appId": @emr.appId,
                "icca_1": $("#icca_1").val(),
                "icca_2": $("#icca_2").val(),
                "icca_3": $("#icca_3").val(),
                "icca_4": icca_4,
                //"pcd_status": "Active",
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

            $.ajax({
                type: "Post",
                url: "@Url.Action("InsertCrownArabic", "CrownArabic", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-sm btn-success");
                    $('#btn_Insert').html("Save changes");


                    if (data.isSuccess) {
                        if (data.isInserted) {
                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>CrownArabic Consent Form Saved Successfully!", "success");

                            Timeout();

                            $("#btn_Delete").removeClass("d-none");
                            $("#btn_Print").removeClass("d-none");
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning.. Crown Arabic Consent Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-sm btn-warning");
                    $('#btn_Insert').html("Add");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }

    });
    //#endregion Add Click

        //#region Delete Click
    $('#btn_Delete').on('click', function (e) {
        e.preventDefault();
        $('#btn_Delete').removeClass("btn btn-success");
        $('#btn_Delete').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Delete').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteCrownArabic", "CrownArabic", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-warning");
                $('#btn_Delete').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i> Crown Arabic Consent Form Deleted Successfully!", "success");
                        clearControls();
                        Timeout();

                        $('#btn_Delete').addClass("d-none");
                        $("#pat_sign_box").addClass("d-none");
                        $("#wit_sign_box").addClass("d-none");
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-Delete");
                $('#btn_Delete').html("Delete");
                Timeout();
            }
        })
    });
//#endregion

    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Print
$('#btn_Print').on('click', function (e) {
    e.preventDefault();
    $('#btn_Print').removeClass("btn btn-sm btn-success");
    $('#btn_Print').addClass("btn btn-sm btn-success btn-loaders btn-icon");
    $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "CrownArabic", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=CrownArabic",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {
                if (data.success) {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $("input[name='icca_4']:radio").prop('checked', false);
        $(".form-control-sm").val("");
        $("#pat_sign,#wit_sign").attr("src", "");
    }
    //#endregion Clear Controls
    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
             var _data = {
                 "patId": @emr.patId,
                 "person": id,
                 "form": "CrownArabic",
                 "appId": @emr.appId,
                 "formname":"Crown Arabic",
                 "formlink":"",
                 "eSign":""
             }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion
    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "CrownArabic",
            "appId": @emr.appId,
            "formname":"Crown Arabic",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            GetSignaturename('witness');
            localStorage.removeItem("sign");
        }
    });

    //#region Get Signature
    var GetSignaturename = function  (person) {
        $.ajax({
            url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=CrownArabic',
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                console.log(response);
                let sign = response[0].psb_sign;
                if (response[0].person == "patient") {
                    $("#pat_sign_box").removeClass("d-none");
                    $("#pat_sign").attr("src", sign);
                }
                if (response[0].person == "witness") {
                    $("#wit_sign_box").removeClass("d-none");
                    $("#wit_sign").attr("src", sign);
                }
            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr);
            }

        });
    };
    //#endregion Get Signature

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout
</script>

