@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Crown Bridge Arabic";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header" dir="rtl">
                <h3 class="card-title" dir="rtl">موافقة المريض على بدء علاج التيجان والجسور</h3>
            </div>
            <div class="card-body">
                <div id="CrownArabic_add" style="display:none">
                </div>
                <div id="CrownArabic_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="CrownArabic_history">
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    //#region Page Load
    $(function () {
        GetCrownArabicInfo();
        CrownArabicPreviousHistory();
    });

    //#endregion Page Load

    //#region Load GetCrownArabicInfo
    var GetCrownArabicInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetCrownArabicData", "CrownArabic", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditCrownArabic();
                        $("#CrownArabic_add").hide();
                        $("#CrownArabic_edit").show();

                    }
                    else {
                        $("#CrownArabic_add").show();
                        $("#CrownArabic_edit").hide();
                        AddCrownArabic();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load CrownArabic

    //#region Add CrownArabic
    function AddCrownArabic() {
        var x = $("#CrownArabic_add");
        x.load("@Url.Action("CreateCrownArabic", "CrownArabic", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add CrownArabic

    //#region Update CrownArabic

    function EditCrownArabic() {
        var x = $("#CrownArabic_edit");
        x.load("@Url.Action("UpdateCrownArabic", "CrownArabic", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update CrownArabic

    //#region Histroy of CrownArabic

    function CrownArabicPreviousHistory() {
        var x = $("#CrownArabic_history");
        x.load("@Url.Action("CrownArabicPreviousHistory", "CrownArabic", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Histroy of CrownArabic
</script>