@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Chemical Peeling";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Chemical Peeling Consent Form</h3>
            </div>
            <div class="card-body">
                <div id="ChemicalPeeling_add" style="display:none">
                </div>
                <div id="ChemicalPeeling_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="ChemicalPeeling_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetChemicalPeelingInfo();
        ChemicalPeelingPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetChemicalPeelingInfo
        var GetChemicalPeelingInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetChemicalPeelingData", "ChemicalPeeling", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditChemicalPeeling();
                        $("#ChemicalPeeling_add").hide();
                        $("#ChemicalPeeling_edit").show();

                    }
                    else {
                        $("#ChemicalPeeling_add").show();
                        $("#ChemicalPeeling_edit").hide();
                        AddChemicalPeeling();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load ChemicalPeeling

    //#region Add ChemicalPeeling
        function AddChemicalPeeling() {
            var x = $("#ChemicalPeeling_add");
        x.load("@Url.Action("CreateChemicalPeeling", "ChemicalPeeling", new { area = "ConsentForms" })", function () {
      });
    }
    //#endregion Add ChemicalPeeling

    //#region Update ChemicalPeeling
        function EditChemicalPeeling() {
            var x = $("#ChemicalPeeling_edit");
        x.load("@Url.Action("UpdateChemicalPeeling", "ChemicalPeeling", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
      });
    }
      //#endregion Update ChemicalPeeling

      //#region Histroy of ChemicalPeeling
        function ChemicalPeelingPreviousHistory() {
            var x = $("#ChemicalPeeling_history");
        x.load("@Url.Action("ChemicalPeelingPreviousHistory", "ChemicalPeeling", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
      });
    }
    //#endregion History of ChemicalPeeling
</script>