@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Orthodontics Consent";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Patient Consent To Begin Orthodontic Treatment</h3>
            </div>
            <div class="card-body">
                <div id="OrthodonticConsent_add" style="display:none">
                </div>
                <div id="OrthodonticConsent_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="OrthodonticConsent_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetOrthodonticConsentInfo();
        OrthodonticConsentPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetOrthodonticConsentInfo
        var GetOrthodonticConsentInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetOrthodonticConsentData", "OrthodonticConsent", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditOrthodonticConsent();
                        $("#OrthodonticConsent_add").hide();
                        $("#OrthodonticConsent_edit").show();

                    }
                    else {
                        $("#OrthodonticConsent_add").show();
                        $("#OrthodonticConsent_edit").hide();
                        AddOrthodonticConsent();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load OrthodonticConsent

    //#region Add OrthodonticConsent
        function AddOrthodonticConsent() {
            var x = $("#OrthodonticConsent_add");
        x.load("@Url.Action("CreateOrthodonticConsent", "OrthodonticConsent", new { area = "ConsentForms" })", function () {
      });
    }
    //#endregion Add OrthodonticConsent

    //#region Update OrthodonticConsent
        function EditOrthodonticConsent() {
            var x = $("#OrthodonticConsent_edit");
        x.load("@Url.Action("UpdateOrthodonticConsent", "OrthodonticConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
      });
    }
      //#endregion Update OrthodonticConsent

      //#region Histroy of OrthodonticConsent
        function OrthodonticConsentPreviousHistory() {
            var x = $("#OrthodonticConsent_history");
        x.load("@Url.Action("OrthodonticConsentPreviousHistory", "OrthodonticConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
      });
    }
    //#endregion History of OrthodonticConsent


</script>
