@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "NeuronDentalFormIndex";

        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }

}
<div id="alert_form">
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">DENTAL CLAIM FORM - PROVIDER DIRECT BILLING	</h3>
            </div>
            <div class="card-body">
                <div id="NeuronDentalForm_add" style="display:none">
                </div>
                <div id="NeuronDentalForm_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="NeuronDentalForm_history">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //#region Page Load
    $(function () {
        GetNeuronDentalFormInfo();
        NeuronDentalFormPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetNeuronDentalFormInfo
    var GetNeuronDentalFormInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetNeuronDentalFormData", "NeuronDentalForm", new { area = "InsuranceForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditNeuronDentalForm();
                        $("#NeuronDentalForm_add").hide();
                        $("#NeuronDentalForm_edit").show();

                    }
                    else {
                        $("#NeuronDentalForm_add").show();
                        $("#NeuronDentalForm_edit").hide();
                        AddNeuronDentalForm();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load NeuronDentalForm

    //#region Add NeuronDentalForm
    function AddNeuronDentalForm() {
        var x = $("#NeuronDentalForm_add");
        x.load("@Url.Action("CreateNeuronDentalForm", "NeuronDentalForm", new { area = "InsuranceForms" })", function () {
        });
    }
    //#endregion Add NeuronDentalForm

    // #region Update NeuronDentalForm
    function EditNeuronDentalForm() {
        var x = $("#NeuronDentalForm_edit");
        x.load("@Url.Action("UpdateNeuronDentalForm", "NeuronDentalForm", new { area = "InsuranceForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update NeuronDentalForm

    // #region Histroy of NeuronDentalForm
    function NeuronDentalFormPreviousHistory() {
        var x = $("#NeuronDentalForm_history");
        x.load("@Url.Action("NeuronDentalFormPreviousHistory", "NeuronDentalForm", new { area = "InsuranceForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>

