@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.InsuranceForms.NeuronDentalForm

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<style>
    .leftline {
        border: 1px solid #CDD5DC;
        border-right-width: 0px;
        border-top-width: 0px;
        border-bottom-width: 0px;
    }

    .bottomline {
        border: 1px solid #CDD5DC;
        border-right-width: 0px;
        border-top-width: 0px;
        border-left-width: 0px;
    }
</style>
<div class="modal-body p-4">
    <form id="form_NeuronDentalFormEdit" class="fs-14" autocomplete="off" name="NeuronDentalForm" ondrop="return false;" onpaste="return false;" oncut="return false;">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ncdId, new { @id = "ncdId", @value = "@Model.ncdId" })
        <div>
            <div class="font-weight-bold mb-5 text-center">
                DENTAL CLAIM FORM - PROVIDER DIRECT BILLING
            </div>
            <div class="font-weight-bold mb-2 text-left">
                Section A - Details of Member/Patient
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 mt-2 table-bordered border-light2">
                    <div class="row">
                        <div class="d-flex align-items-center col-sm-12 col-md-12 col-lg-6">
                            <div class="col-sm-11 col-md-6 col-lg-5 ps-0">
                                <label class="text-black font-weight-semibold">
                                    Patient Name and Address :
                                </label>
                            </div>
                            <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 border-left-1">
                                <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.pat_name @emr.pat_address&nbsp;</span>
                            </div>
                        </div>
                        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                            <div class="col-sm-11 col-md-6 col-lg-4 ps-0">
                                <label class="text-black font-weight-semibold">
                                    Member Neuron ID
                                </label>
                            </div>
                            <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.pi_insno</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-flex align-items-center col-sm-12 col-md-12 col-lg-6">
                        </div>
                        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                            <div class="col-sm-11 col-md-6 col-lg-4 ps-0">
                                <label class="text-black font-weight-semibold">
                                    Emirates ID
                                </label>
                            </div>
                            <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.pat_emirateid</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-flex align-items-center col-sm-12 col-md-12 col-lg-6">
                        </div>
                        <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                            <div class="col-sm-11 col-md-6 col-lg-4 ps-0">
                                <label class="text-black font-weight-semibold">
                                    Date of Birth
                                </label>
                            </div>
                            <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.pat_dob</span>
                            </div>
                        </div>
                    </div>
                    <div class="row border border-bottom-1">
                        <div class="d-flex align-items-start col-sm-12 col-md-12 col-lg-6">
                            <div class="col-sm-11 col-md-6 col-lg-5 ps-0">
                                <label class="text-black font-weight-semibold">
                                    Facility Name (In-Network Provider)
                                </label>
                            </div>
                            <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 boder border-left-1">
                                <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.set_company</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-start col-sm-12 col-md-12 col-lg-6">
                            <div class="col-sm-11 col-md-6 col-lg-4 ps-0">
                                <label class="text-black font-weight-semibold">
                                    Member Tel Number
                                </label>
                            </div>
                            <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.pat_mob</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="d-flex align-items-start col-sm-12 col-md-12 col-lg-6">
                            <div class="col-sm-11 col-md-6 col-lg-5 ps-0">
                                <label class="text-black font-weight-semibold">
                                    Insurence Name
                                </label>
                            </div>
                            <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.ic_name</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-start col-sm-12 col-md-12 col-lg-6">
                            <div class="col-sm-11 col-md-6 col-lg-4 ps-0">
                                <label class="text-black font-weight-semibold">
                                    Member Mobile
                                </label>
                            </div>
                            <div class="d-flex align-items-center justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.pat_mob</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-2 mt-3 font-weight-semibold">Section B -Medical Section</div>
            <div class="">( to be fully completed by treating dentist - involved tooth numbers must be marked on chart also )</div>
            <div class="row border border-light2 mb-2 mt-2 text-justify">
                <div class="d-flex border border-bottom-1">
                    <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
                        Diagnosis Requiring Treatment :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-8 leftline">
                        <label class="text-red" id="upat_Diagnosis"></label>
                    </div>
                </div>
                <div class="d-flex border border-bottom-1">
                    <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
                        Presenting Complaint/s :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-8 leftline">
                        <label class="text-red" id="ucomplaints"></label>
                    </div>
                </div>
                <div class="d-flex border border-bottom-1">
                    <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
                        History :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-8 leftline">
                        @Html.TextBoxFor(m => m.ncd_1, new { @class = "form-control mt-1 mb-1", @placeholder = "Please specify", @id = "uncd_1" })
                    </div>
                </div>
                <div class="d-flex border border-bottom-1">
                    <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
                        Clinical Details :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-8 leftline">
                        @Html.TextBoxFor(m => m.ncd_2, new { @class = "form-control mt-1 mb-1", @placeholder = "Please specify", @id = "uncd_2" })
                    </div>
                </div>
                <div class="d-flex border border-bottom-1">
                    <div class="col-sm-12 col-md-6 col-lg-4 mt-2">
                        Treatment Plan :
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-8 leftline">
                        <label class="text-red" id="utreat_details"></label>
                    </div>
                </div>
            </div>
            <div class="mb-2 mt-3 font-weight-semibold mb-4">Section C - Dental Treatment Details</div>

            <div class="row table-responsive">
                <div class="col-sm-12 col-md-10 col-lg-10">
                    <div class="row font-weight-semibold">
                        <div class="col-sm-12 col-md-2 col-lg-3 text-center">
                            DENTAL PROCEDURE
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-3 text-center">
                            TOOTH #(UNIVERSAL NUMBERING)
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2 text-center">
                            SURFACE
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2 text-center">
                            PROCEDURE CODE
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2 text-center">
                            COST AS PER AGREED TARIFF
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-2 col-lg-3 mt-2">
                            CONSULTATION
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-3 text-center">
                            @Html.TextBoxFor(m => m.ncd_3, new { @class = "form-control mt-1 mb-1", @id = "uncd_3" })
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2 text-center">
                            @Html.TextBoxFor(m => m.ncd_4, new { @class = "form-control mt-1 mb-1", @id = "uncd_4" })
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2 text-center">
                            @Html.TextBoxFor(m => m.ncd_5, new { @class = "form-control mt-1 mb-1", @id = "uncd_5" })
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2 text-center">
                            @Html.TextBoxFor(m => m.ncd_6, new { @class = "form-control mt-1 mb-1", @id = "uncd_6" })
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-2 col-lg-3 mt-2">
                            X-RAY
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-3 text-center">
                            @Html.TextBoxFor(m => m.ncd_7, new { @class = "form-control mt-1 mb-1", @id = "uncd_7" })
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2 text-center">
                            @Html.TextBoxFor(m => m.ncd_8, new { @class = "form-control mt-1 mb-1", @id = "uncd_8" })
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2 text-center">
                            @Html.TextBoxFor(m => m.ncd_9, new { @class = "form-control mt-1 mb-1", @id = "uncd_9" })
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2 text-center">
                            @Html.TextBoxFor(m => m.ncd_10, new { @class = "form-control mt-1 mb-1", @id = "uncd_10" })
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-2 col-lg-3 mt-2">
                            AMALGAM/COMPOSITE/TEMPORARY FILLING
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-3 text-center">
                            @Html.TextBoxFor(m => m.ncd_11, new { @class = "form-control mt-1 mb-1", @id = "uncd_11" })
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2 text-center">
                            @Html.TextBoxFor(m => m.ncd_12, new { @class = "form-control mt-1 mb-1", @id = "uncd_12" })
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2 text-center">
                            @Html.TextBoxFor(m => m.ncd_13, new { @class = "form-control mt-1 mb-1", @id = "uncd_13" })
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2 text-center">
                            @Html.TextBoxFor(m => m.ncd_14, new { @class = "form-control mt-1 mb-1", @id = "uncd_14" })
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-2 col-lg-3 mt-2">
                            EXTRACTION
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-3 text-center">
                            @Html.TextBoxFor(m => m.ncd_15, new { @class = "form-control mt-1 mb-1", @id = "uncd_15" })
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2 text-center">
                            @Html.TextBoxFor(m => m.ncd_16, new { @class = "form-control mt-1 mb-1", @id = "uncd_16" })
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2 text-center">
                            @Html.TextBoxFor(m => m.ncd_17, new { @class = "form-control mt-1 mb-1", @id = "uncd_17" })
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2 text-center">
                            @Html.TextBoxFor(m => m.ncd_18, new { @class = "form-control mt-1 mb-1", @id = "uncd_18" })
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-2 col-lg-3 mt-2">
                            SCALING/PROPHYLAXIS
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-3 text-center">
                            @Html.TextBoxFor(m => m.ncd_19, new { @class = "form-control mt-1 mb-1", @id = "uncd_19" })
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2 text-center">
                            @Html.TextBoxFor(m => m.ncd_20, new { @class = "form-control mt-1 mb-1", @id = "uncd_20" })
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2 text-center">
                            @Html.TextBoxFor(m => m.ncd_21, new { @class = "form-control mt-1 mb-1", @id = "uncd_21" })
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2 text-center">
                            @Html.TextBoxFor(m => m.ncd_22, new { @class = "form-control mt-1 mb-1", @id = "uncd_22" })
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-2 col-lg-3 mt-2">
                            OTHERS(PLS SPCIFY)
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-3 text-center">
                            @Html.TextBoxFor(m => m.ncd_23, new { @class = "form-control mt-1 mb-1", @id = "uncd_23" })
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2 text-center">
                            @Html.TextBoxFor(m => m.ncd_24, new { @class = "form-control mt-1 mb-1", @id = "uncd_24" })
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2 text-center">
                            @Html.TextBoxFor(m => m.ncd_25, new { @class = "form-control mt-1 mb-1", @id = "uncd_25" })
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2 text-center">
                            @Html.TextBoxFor(m => m.ncd_26, new { @class = "form-control mt-1 mb-1", @id = "uncd_26" })
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-2 col-lg-10 mt-2">
                            TOTAL COST(AS PER AGREED TARIFF)
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2 text-center">
                            @Html.TextBoxFor(m => m.ncd_27, new { @class = "form-control mt-1 mb-1", @id = "uncd_27" })
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2 text-left">
                    <img src="~/images/Insurance_Forms/Neuron/dental_chart.gif" style="height:400px;width:700px" />
                </div>
            </div>
            <div class="mt-2 mb-3">PLEASE MARK INVOLVED TOOTH CLEARLY IN THE CHART (CLAIM WILL DENIED IN CASE DISCREPANCY)</div>
            <div class="mt-5 font-weight-semibold mb-3">Section - D Treating Dentist</div>

            <div class="col-sm-12 col-md-12 col-lg-12 mt-2 table-bordered border-light2">
                <div class="row">
                    <div class="d-flex align-items-center col-sm-12 col-md-12 col-lg-6">
                        <div class="col-sm-11 col-md-6 col-lg-12 ps-0 font-weight-semibold mt-2">
                            I declare that I am the patient's treating Dentist, and that the particulars given are to the best of my knowledge true and correct
                        </div>
                    </div>
                    <div class="d-flex align-items-center col-sm-12 col-md-12 col-lg-6">
                        <div class="col-sm-11 col-md-6 col-lg-4 ps-0">
                            <label class="text-black font-weight-semibold">
                                Tel Number
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.set_tel</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex align-items-center col-sm-12 col-md-12 col-lg-6">
                    </div>
                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                        <div class="col-sm-11 col-md-6 col-lg-4 ps-0">
                            <label class="text-black font-weight-semibold">
                                Fax Numbrer
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <span class="font-weight-normal1 text-capitalize text-left text-red">@emr.set_fax</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="d-flex align-items-center col-sm-12 col-md-12 col-lg-6">
                    </div>
                    <div class="d-flex col-sm-12 col-md-12 col-lg-6">
                        <div class="col-sm-11 col-md-6 col-lg-4 ps-0">
                            <label class="text-black font-weight-semibold">
                                Treating Dentist Stamp
                            </label>
                        </div>
                        <div class="d-flex align-items-center justify-content-center w-8  form-label">
                            :
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="mt-5 font-weight-semibold mb-3">Patient Declaration and Consent</div>

            <div class="row border border-light2 mb-2 mt-2 text-justify">
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div>
                        I confirm I am the patient's or guardian (if the patient is under 16 years of age) and wish to claim benifits and declare that all the particulars given above are to the best of my knowledge true and correct.In respect of any medical claim. I hereby consent to and authorize the medical practitioner, health proffessional or other relevent medical establishment to provide and discuss any health/ treatment details, medical records or discharge arrangements(past and present) with and to the insurer and/or Third Party Administrator. I Agree thar a copy of this consent shall have the validity of the original.
                    </div>
                </div>
                <div class="row col-sm-12 col-md-12 col-lg-6 mt-3">
                    <div class="col-sm-12 col-md-12 col-lg-2 mt-5">
                        <label class="form-label text-black font-weight-semibold">
                            Signature :
                        </label>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-3">
                        <div id="upat_sign_box" class="d-none">
                            <img alt="stamp" id="upat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <div class="btn-list btn-animation">
                        <button type="submit" class="btn btn-warning btn-sm" id="btn_Update">Save Changes</button>
                        <button type="button" class="btn btn-danger btn-sm" id="btn_DeleteForm">Delete</button>
                        <button type="button" class="btn btn-outline-dark btn-sm d-none" id="btn_Reset">Reset</button>
                        <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print"> Download/Print </button>
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    // region page load
    var formName1 = $(form_NeuronDentalFormEdit).closest('form').attr('name');
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Update").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Update").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Update").show();
                }
                else {
                    $("#btn_Update").hide();
                }
            }
        }

        validate();
        GetSignaturename('patient');
        Get_Patient_signs();
        Get_PatientEMR();

    });
    // end region page load

    //#region Validation Initialization
    var validate = function () {
        $("#form_NeuronDentalFormEdit").validate({
            rules: {
                ncd_1: {
                    required: true
                },

            },
            messages: {
                ncd_1: {
                    required: "Please Enter History"
                },

            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

    }
   //#endregion

   //#region Load Get_Patient_signs
        var Get_Patient_signs = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("Get_Patient_Signs", "ReimbursementForms", new { area = "EMRForms" })?appId="+@emr.appId,
                success: function (response) {
                    if (response.length > 0) {
                        var str1 = response[0].sign_bp;
                        var str2 = response[0].sign_pulse;
                        var str3 = response[0].sign_temp;
                        var str4 = response[0].sign_notes;
                        var regex = /(|<([^>]+)>)/ig;
                        $("#sign_bp").text(str1.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_pulse").text(str2.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_temp").text(str3.replace(/(<p>|<\/p>)/g, ""));
                        $("#sign_notes").text(str4.replace(/(<p>|<\/p>)/g, ""));
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
    //#endregion

    // #region Chief Complaints,Treatments,Diagnosis  page load validation
    function Get_PatientEMR() {
        let complaints = false, treatments = false, diagnosis = false;

        $.ajax({
            url: "@Url.Action("GetAllPatientTreatments", "PatientTreatments", new { area = "EMR" })?appId=" + "@emr.appId" + "&pt_type=Insurance",
            method: "GET",
            async: false,
            success: function (response) {
                console.log(response)
                if (response.length > 0) {
                    let htmlTreat = '';
                    let count = 0;

                    response.forEach(t => {
                        if (t.pt_status === "Invoiced") {
                            count++;
                            htmlTreat += `<div>${count}. ${t.tr_name}</div>`;
                        }
                    });
                    htmlTreat += '</div>';

                    if (count > 0) {
                        $('#utreat_details').append(htmlTreat);
                        treatments = true;
                    }
                    else {
                        $('#utreat_details').text("Nil");
                        treatments = false;
                    }
                }
                else {
                    $('#utreat_details').text("Nil");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        });

        $.ajax({
            url: "@Url.Action("GetAllPatientDiagnosis", "PatientDiagnosis", new { area = "EMR" })?appId=" + "@emr.appId",
            method: "GET",
            async: false,
            success: function (response) {
                if (response.message.length > 0) {
                    diagnosis = true;
                    let count = 1;
                    let htmlDiag = '<div class="d-flex flex-column gap-2">';
                    let htmlDiag_code = '<div class="d-flex flex-column gap-2">';

                    response.message.forEach(d => {
                        htmlDiag += `<div>${count}. ${d.diag_name}</div>`;
                        htmlDiag_code += `<div>${count}. ${d.diag_code}</div>`;
                        count++;
                    });

                    htmlDiag += '</div>';
                    htmlDiag_code += '</div>';

                    $('#upat_Diagnosis').append(htmlDiag);
                    $('#upat_Diagnosis_code').append(htmlDiag_code);
                }
                else {
                    $('#upat_Diagnosis').text("Nil");
                    $('#upat_Diagnosis_code').text("Nil");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })

        $.ajax({
            url: "@Url.Action("GetAllCheifComplaints", "CheifComplaints", new { area = "EMR" })?appId=" +@emr.appId,
            dataType: "json",
            method: "GET",
            async: false,
            success: function (response) {
                console.log(response);
                if (response.length > 0) {
                    complaints = true;
                    let count = 1;
                    let htmlcomp = '<div class="d-flex flex-column gap-2">';


                    response.forEach(d => {
                        htmlcomp += `<div>${count}. ${d.complaint}</div>`;

                        count++;
                    });

                    htmlcomp += '</div>';

                    $('#ucomplaints').append(htmlcomp);
                }
                else {
                    $('#ucomplaints').text("Nil");
                }
            },
            error: function (xhr) {
                console.log(xhr)
            }
        });

        if (complaints && treatments && diagnosis) {
            $("#btn_Insert").show();
        }
        else {
            let missing = [];

            if (!complaints) {
                missing.push('Complaints');
            }

            if (!diagnosis) {
                missing.push('Diagnosis');
            }

            if (!treatments) {
                missing.push('Treatments');
            }

            let missingString = missing.join(", ");

            let htmlAlert = `
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>${missingString}</strong> have not been filled yet.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">&#10006;</button>
                </div>
            `;

            $("#alert_form").append(htmlAlert);
            $("#btn_Insert").hide();
        }
    }
    //#endregion

   //#region Update  Click
    $('#btn_Update').on('click', function (e) {
        e.preventDefault();
        if ($("#form_NeuronDentalFormEdit").valid()) {
            console.log($("#ncdId").val());
            $('#btn_Update').removeClass("btn btn-sm btn-success");
            $('#btn_Update').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Update').html("Updating the Record....");

            var _dateInsert = {
                "ncdId": @Model.ncdId,
                "ncd_appId": @emr.appId,
                "ncd_1": $("#uncd_1").val(),
                "ncd_2": $("#uncd_2").val(),
                "ncd_3": $("#uncd_3").val(),
                "ncd_4": $("#uncd_4").val(),
                "ncd_5": $("#uncd_5").val(),
                "ncd_6": $("#uncd_6").val(),
                "ncd_7": $("#uncd_7").val(),
                "ncd_8": $("#uncd_8").val(),
                "ncd_9": $("#uncd_9").val(),
                "ncd_10": $("#uncd_10").val(),
                "ncd_11": $("#uncd_11").val(),
                "ncd_12": $("#uncd_12").val(),
                "ncd_13": $("#uncd_13").val(),
                "ncd_14": $("#uncd_14").val(),
                "ncd_15": $("#uncd_15").val(),
                "ncd_16": $("#uncd_16").val(),
                "ncd_17": $("#uncd_17").val(),
                "ncd_18": $("#uncd_18").val(),
                "ncd_19": $("#uncd_19").val(),
                "ncd_20": $("#uncd_20").val(),
                "ncd_21": $("#uncd_21").val(),
                "ncd_22": $("#uncd_22").val(),
                "ncd_23": $("#uncd_23").val(),
                "ncd_24": $("#uncd_24").val(),
                "ncd_25": $("#uncd_25").val(),
                "ncd_26": $("#uncd_26").val(),
                "ncd_27": $("#uncd_27").val(),
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

            console.log(_dateInsert);

            $.ajax({
                type: "Post",
                url: "@Url.Action("EditNeuronDentalForm", "NeuronDentalForm", new {area = "InsuranceForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isEdited) {
                            GetNeuronDentalFormInfo();
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> Neuron Dental Form Updated Successfully!", "success");
                            Timeout();
                            $("#NeuronDentalForm_edit").show();
                            $("#NeuronDentalForm_add").hide();
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning.. Neuron Dental Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion Update Click

     //#region Print
$('#btn_Print').on('click', function (e) {
    e.preventDefault();
    $('#btn_Print').removeClass("btn btn-success");
    $('#btn_Print').addClass("btn btn-success btn-loaders btn-icon");
    $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "NeuronDentalForm", new {area = "InsuranceForms" })?appId=" + @emr.appId + "&form=NeuronDentalForm",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {

                if (data.success)
                    console.log(data);
                    console.log(data.message.pdfPath); {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print

    //#region Delete Click
    $('#btn_DeleteForm').on('click', function (e) {
        e.preventDefault();
        $('#btn_DeleteForm').removeClass("btn btn-success");
        $('#btn_DeleteForm').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_DeleteForm').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteNeuronDentalForm", "NeuronDentalForm", new { area = "InsuranceForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-warning");
                $('#btn_DeleteForm').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>Neuron Dental Form Deleted Successfully!", "success");
                        clearControls();

                        $("#NeuronDentalForm_edit").hide();
                        $("#NeuronDentalForm_add").show();
                        AddNeuronDentalForm();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-Delete");
                $('#btn_DeleteForm').html("Delete");
                Timeout();
            }
        })
    });
//#endregion
    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("#upat_sign").attr("src", "");

    }
    //#endregion Clear Controls

///#region Wacom Tab Signature
    var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "NeuronDentalForm",
                "appId": @emr.appId,
                "formname":"NeuronDentalForm",
                "formlink":"",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "NeuronDentalForm",
            "appId": @emr.appId,
            "formname":"NeuronDentalForm",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            localStorage.removeItem("sign");
        }
    });

        // #region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=NeuronDentalForm',
                type: "GET",
                dataType: "json",
                async: false,
                success: function (response) {
                    //console.log(response);
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY");

                    if (response[0].person == "patient") {
                        $("#upat_sign_box").removeClass("d-none");
                        $("#upsb_date_patient").text(date);
                        $("#upat_sign").attr("src", sign);
                    }

                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
        //#endregion Get Signature

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout
</script>
