@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Laser Hair Removal";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Laser Hair Removal Treatment Form</h3>
            </div>
            <div class="card-body">
                <div id="LaserHairRemoval_add" style="display:none">
                </div>
                <div id="LaserHairRemoval_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="LaserHairRemoval_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetLaserHairRemovalInfo();
        LaserHairRemovalPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetLaserHairRemovalInfo
    var GetLaserHairRemovalInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetLaserHairRemovalData", "LaserHairRemoval", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditLaserHairRemoval();
                        $("#LaserHairRemoval_add").hide();
                        $("#LaserHairRemoval_edit").show();

                    }
                    else {
                        $("#LaserHairRemoval_add").show();
                        $("#LaserHairRemoval_edit").hide();
                        AddLaserHairRemoval();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load LaserHairRemoval

    //#region Add LaserHairRemoval
    function AddLaserHairRemoval() {
        var x = $("#LaserHairRemoval_add");
        x.load("@Url.Action("CreateLaserHairRemoval", "LaserHairRemoval", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add LaserHairRemoval

    //#region Update LaserHairRemoval
    function EditLaserHairRemoval() {
        var x = $("#LaserHairRemoval_edit");
        x.load("@Url.Action("UpdateLaserHairRemoval", "LaserHairRemoval", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update LaserHairRemoval

    //#region Histroy of LaserHairRemoval
    function LaserHairRemovalPreviousHistory() {
        var x = $("#LaserHairRemoval_history");
        x.load("@Url.Action("LaserHairRemovalPreviousHistory", "LaserHairRemoval", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>
