@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Revision Request Form";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Revision Request Form
                </h3>
            </div>
            <div class="card-body">
                <div id="RevisionRequestForm_add" style="display:none">
                </div>
                <div id="RevisionRequestForm_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="RevisionRequestForm_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetRevisionRequestFormInfo();
        RevisionRequestFormPreviousHistory();
    });

    //#endregion Page Load

    //#region Load GetRevisionRequestFormInfo
    var GetRevisionRequestFormInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetRevisionRequestFormData", "RevisionRequestForm", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditRevisionRequestForm();
                        $("#RevisionRequestForm_add").hide();
                        $("#RevisionRequestForm_edit").show();

                    }
                    else {
                        $("#RevisionRequestForm_add").show();
                        $("#RevisionRequestForm_edit").hide();
                        AddRevisionRequestForm();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load RevisionRequestForm

    //#region Add RevisionRequestForm
    function AddRevisionRequestForm() {
        var x = $("#RevisionRequestForm_add");
        x.load("@Url.Action("CreateRevisionRequestForm", "RevisionRequestForm", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add RevisionRequestForm

    // #region Update RevisionRequestForm
    function EditRevisionRequestForm() {
        var x = $("#RevisionRequestForm_edit");
        x.load("@Url.Action("UpdateRevisionRequestForm", "RevisionRequestForm", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update RevisionRequestForm

    //#region Histroy of RevisionRequestForm
    function RevisionRequestFormPreviousHistory() {
        var x = $("#RevisionRequestForm_history");
        x.load("@Url.Action("RevisionRequestFormPreviousHistory", "RevisionRequestForm", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>