@model BusinessEntities.Accounts.MaterialManagement.PurchaseRequests

<div class="modal-header">
    <h5 class="modal-title text-primary font-weight-semibold">Create Purchase Request</h5>
    <button aria-label="Close" data-bs-dismiss="modal" class="btn-close" type="button"><span aria-hidden="true">×</span></button>
</div>

<div class="modal-body p-4">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mb-4 font-weight-semibold">
            <span class="text-danger" style="font-size:smaller">Required fields are marked with *</span>
        </div>
    </div>

    <form id="form_AddPurchaseRequest" >
        @Html.AntiForgeryToken()

        <div class="row mt-2">
            <div class="panel-group accordion-panel" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default active">
                    <div class="panel-heading bg-danger-1" role="tab" id="required-headingOne1">
                        <h4 class="panel-title">
                            <a role="button" data-bs-toggle="collapse" data-parent="#required-accordion1" href="#required-collapseOne1" aria-expanded="true" aria-controls="required-collapseOne1">
                                <span style="color:white; pointer-events:none;">Purchase Request Detail</span>
                                <span class="float-end" style="color:white;"><i class="fe fe-chevrons-down"></i></span>
                            </a>
                        </h4>
                    </div>
                    <div id="required-collapseOne1" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="required-headingOne1">
                        <div class="mt-5">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-col-sm-12 col-md-6 col-lg-3">
                                        <div class="form-group">
                                            <label class="form-label text-black">Branch&nbsp;<span class="text-danger">*</span></label>
                                            @Html.DropDownList("purq_branch", (IEnumerable<SelectListItem>)ViewData["BranchList"], "Please Select", new { @class = "form-select select2" })
                                        </div>
                                    </div>
                                    <div class="col-col-sm-12 col-md-6 col-lg-3">
                                        <div class="form-group mb-2">
                                            <label class="form-label text-black">Date&nbsp;<span class="text-danger">*</span></label>
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fe fe-calendar"></i>
                                                </div>
                                            </div>
                                            @Html.TextBoxFor(sup => sup.purq_odate, new { @class = "form-control", @placeholder = "DD-MMM-YYYY", maxlength = "18" })
                                        </div>
                                    </div>
                                    <div class="col-col-sm-12 col-md-6 col-lg-3">
                                        <div class="form-group">
                                            <label class="form-label text-black">Enq. No#</label>
                                            @Html.TextBoxFor(sup => sup.purq_enqno, new { @class = "form-control mb-4", @placeholder = "Enter Enquiry No.", @style = "width:100%;", maxlength = "20" })
                                        </div>
                                    </div>
                                    <div class="col-col-sm-12 col-md-6 col-lg-3 d-none">
                                        <div class="form-group">
                                            <label class="form-label text-black">Quotation No#</label>
                                            @Html.TextBoxFor(sup => sup.purq_quono, new { @class = "form-control mb-4", @placeholder = "Enter Quotation No.", @style = "width:100%;", maxlength = "20" })
                                        </div>
                                    </div>
                                    <div class="col-col-sm-12 col-md-6 col-lg-3 d-none">
                                        <div class="form-group">
                                            <label class="form-label text-black">Supplier Name&nbsp;<span class="text-danger">*</span></label>
                                            @Html.DropDownListFor(m => m.purq_supplier, new List<SelectListItem>
                                               { }, "Select Supplier", new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                    <div class="col-col-sm-12 col-md-6 col-lg-3">
                                        <div class="form-group">
                                            <label class="form-label text-black">Type&nbsp;<span class="text-danger">*</span></label>
                                            @Html.DropDownListFor(m => m.purq_type, new List<SelectListItem>
                                            {
                                                new SelectListItem{ Text="Purchase Request", Value = "Purchase Request", Selected=true }
                                            }, "Select Type", new { @class = "form-control select2", @disabled = "true" })
                                        </div>
                                    </div>
                                    <div class="col-col-sm-12 col-md-6 col-lg-3 d-none">
                                        <div class="form-group">
                                            <label class="form-label text-black">Quotation No#</label>
                                            @Html.TextBoxFor(sup => sup.purq_quono, new { @class = "form-control mb-4", @placeholder = "Enter Quotation No.", @style = "width:100%;", maxlength = "20" })
                                        </div>
                                    </div>
                                    <div class="col-col-sm-12 col-md-6 col-lg-3 d-none">
                                        <div class="form-group">
                                            <label class="form-label text-black">Validity (Days)</label>
                                            @Html.TextBoxFor(sup => sup.purq_validity, new { @class = "form-control", @placeholder = "Enter Validity of Request", @value = "0", maxlength = "3" })
                                        </div>
                                    </div>
                                    <div class="col-col-sm-12 col-md-6 col-lg-3 d-none">
                                        <div class="form-group">
                                            <label class="form-label text-black">Payment Terms (Days)</label>
                                            @Html.TextBoxFor(sup => sup.purq_pay_terms, new { @class = "form-control", @placeholder = "Enter Pay Terms Days", @value = "0", maxlength = "3" })
                                        </div>
                                    </div>
                                    <div class="col-col-sm-12 col-md-6 col-lg-3 d-none">
                                        <div class="form-group">
                                            <label class="form-label text-black">Quotation Date</label>
                                            @Html.TextBoxFor(sup => sup.purq_qdate, new { @class = "form-control", maxlength = "15", @placeholder = "DD-MMM-YYYY" })
                                        </div>
                                    </div>
                                    <div class="col-col-sm-12 col-md-6 col-lg-3" id="div_sup_invoice">
                                        <div class="form-group">
                                            <label class="form-label text-black">Supplier Invoice&nbsp;<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(sup => sup.purq_sup_invoice, new { @class = "form-control", maxlength = "15", @placeholder = "Enter Supplier Invoice No." })
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <label class="form-label text-black">Notes</label>
                                            @Html.TextAreaFor(sup => sup.purq_notes, new { @class = "form-control", maxlength = "998", @placeholder = "Enter Notes", @rows = "3" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default mt-2 d-none">
                    <div class="panel-heading" role="tab" id="required-headingTwo2">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#required-accordion1" href="#required-collapseTwo2" aria-expanded="false" aria-controls="required-collapseTwo2">
                                Shipping & Billing Information
                                <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                            </a>
                        </h4>
                    </div>
                    <div id="required-collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="required-headingTwo2">
                        <div class="mt-5">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-12 col-md-4 col-lg-4">
                                        <div class="expanel expanel-secondary">
                                            <div class="expanel-heading">
                                                <div class="expanel-title">Ship To</div>
                                            </div>
                                            <div class="expanel-body">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-2 col-lg-2">
                                                        <label class="form-label text-black">To</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(sup => sup.purq_ship_1, new { @class = "form-control", @placeholder = "Ex : Vision Technologies", maxlength = "74" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-2 col-lg-2">
                                                        <label class="form-label text-black">Address</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(sup => sup.purq_ship_2, new { @class = "form-control", @placeholder = "Ex : #349, 3rd Floor, Damas 2000, Rolla Sharja.", maxlength = "499" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-2 col-lg-2">
                                                        <label class="form-label text-black">Telephone</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(sup => sup.purq_ship_3, new { @class = "form-control", @placeholder = "Ex : 971065634883", maxlength = "49" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-2 col-lg-2">
                                                        <label class="form-label text-black">Email</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(sup => sup.purq_ship_4, new { @class = "form-control", @placeholder = "Ex : info@visionsoftwares.com", maxlength = "49" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4">
                                        <div class="expanel expanel-secondary">
                                            <div class="expanel-heading">
                                                <div class="expanel-title">Bill To</div>
                                            </div>
                                            <div class="expanel-body">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-2 col-lg-2">
                                                        <label class="form-label text-black">To</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(sup => sup.purq_bill_1, new { @class = "form-control", @placeholder = "Ex : Vision Technologies", maxlength = "74" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-2 col-lg-2">
                                                        <label class="form-label text-black">Address</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(sup => sup.purq_bill_2, new { @class = "form-control", @placeholder = "Ex : #347, 3rd Floor, Damas 2000, Rolla Sharja.", maxlength = "499" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-2 col-lg-2">
                                                        <label class="form-label text-black">Telephone</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(sup => sup.purq_bill_3, new { @class = "form-control", @placeholder = "Ex : 971065634883", maxlength = "49" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-2 col-lg-2">
                                                        <label class="form-label text-black">Email</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(sup => sup.purq_bill_4, new { @class = "form-control", @placeholder = "Ex : info@visionsoftwares.com", maxlength = "49" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4">
                                        <div class="expanel expanel-secondary">
                                            <div class="expanel-heading">
                                                <div class="expanel-title">Contact Info. of Buyer</div>
                                            </div>
                                            <div class="expanel-body">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-2 col-lg-2">
                                                        <label class="form-label text-black">To</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(sup => sup.purq_buy_1, new { @class = "form-control", @placeholder = "Ex : Vision Technologies", maxlength = "74" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-2 col-lg-2">
                                                        <label class="form-label text-black">Address</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(sup => sup.purq_buy_2, new { @class = "form-control", @placeholder = "Ex : #349, 3rd Floor, Damas 2000, Rolla Sharja.", maxlength = "499" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-2 col-lg-2">
                                                        <label class="form-label text-black">Telephone</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(sup => sup.purq_buy_3, new { @class = "form-control", @placeholder = "Ex : 971065634883", maxlength = "49" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-2 col-lg-2">
                                                        <label class="form-label text-black">Email</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(sup => sup.purq_buy_4, new { @class = "form-control", @placeholder = "Ex : info@visionsoftwares.com", maxlength = "49" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default mt-2">
                    <div class="panel-heading" role="tab" id="required-headingTwo3">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#required-accordion1" href="#required-collapseTwo3" aria-expanded="false" aria-controls="required-collapseTwo3">
                                Purchase Request Items
                                <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                            </a>
                        </h4>
                    </div>
                    <div id="required-collapseTwo3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="required-headingTwo3">
                        <div class="mt-5">
                            <div class="modal-body">
                                @Html.Action("PurchaseRequestItems", "PurchaseRequests", new { area = "MaterialManagement" })
                                <div class="table-responsive">
                                    <table id="tbl_purchaserequest_items" class="table table-striped table-bordered text-nowrap resize-table" style="width: 100%; cursor: pointer;">
                                        <thead>
                                            <tr class="text-white bg-secondary">
                                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Item</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Description</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white" style="display:none;">Batch No.</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white" style="display:none;">Expiry Date</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Qty-UoM</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white d-none">Free Qty-UoM</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white d-none">Unit Price</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white d-none">Total</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white d-none">Disc. / Type</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white d-none">Disc. Value</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white d-none">NET</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white d-none">VAT</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white d-none">NET + VAT</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white"></th>
                                                <th class="border-bottom-0 font-weight-semibold text-white" style="display:none;">ItemId</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white" style="display:none;">Qty</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white" style="display:none;">UoM</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white" style="display:none;">Free Qty</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white" style="display:none;">Free UoM</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white" style="display:none;">Free Batch</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white" style="display:none;">Free Expiry</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white" style="display:none;">Discount</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white" style="display:none;">Type</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white" style="display:none;">VAT % </th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="display:none;"></td>
                                                <td style="display:none;"></td>
                                                <td></td>
                                                <td class="table_footer_align d-none"><span class="text-right text-dark">Total : &nbsp;</span></td>
                                                <td class="table_footer_align d-none"><span id="subPrice"></span></td>
                                                <td class="table_footer_align d-none"><span id="subTotal"></span></td>
                                                <td class="table_footer_align d-none"></td>
                                                <td class="table_footer_align d-none"><span id="subDisc_value"></span></td>
                                                <td class="table_footer_align d-none"><span id="subNET"></span></td>
                                                <td class="table_footer_align d-none"><span id="subVAT"></span></td>
                                                <td class="table_footer_align d-none"><span id="subNETVAT"></span></td>
                                                <td></td>
                                                <td style="display:none;"></td>
                                                <td style="display:none;"></td>
                                                <td style="display:none;"></td>
                                                <td style="display:none;"></td>
                                                <td style="display:none;"></td>
                                                <td style="display:none;"></td>
                                                <td style="display:none;"></td>
                                                <td style="display:none;"><span id="subDisc"></span></td>
                                                <td style="display:none;"></td>
                                                <td style="display:none;"></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
                <div id="errorCreate" class="text-center" style="max-width:500px"></div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
                <div id="PurchaseInsertAlert"></div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="btn-list btn-animation">
                    <button type="submit" class="btn btn-success" id="btn_Insert"><i class="fe fe-check-circle"></i> Create Purchase Request</button>
                    <button type="button" class="btn btn-outline-primary" id="btnPrintPR" style="display:none"><i class="fe fe-printer"></i> Print Purchase Request</button>
                    <button type="button" class="btn btn-outline-danger me-1" data-bs-dismiss="modal"><i class="fe fe-x"></i> Close</button>
                    <label class="text-red" id="error_message"></label>
                    <input type="hidden" id="hi_purqId" value="0" />
                    <input type="hidden" id="hi_purq_code" value="" />
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    //#region Page Load
    $(function () {
        $('#div_sup_invoice').css('display', 'none');

        $('#purq_branch').select2({
            minimumResultsForSearch: '',
            dropdownParent: $('#form_AddPurchaseRequest'),
            width: '100%'
        });

        $('#purq_supplier').select2({
            dropdownParent: $('#form_AddPurchaseRequest'),
            placeholder: 'Select Supplier',
            minimumResultsForSearch: -1,
            width: '100%'
        });

        $('#purq_type').select2({
            minimumResultsForSearch: '',
            dropdownParent: $('#form_AddPurchaseRequest'),
            minimumResultsForSearch: -1,
            width: '100%'
        });

        $('#item_uom_free').select2({
            minimumResultsForSearch: '',
            dropdownParent: $('#form_AddPurchaseRequest'),
            placeholder: 'Select UoM',
            width: '100%'
        });

        $('#item_uom').select2({
            minimumResultsForSearch: '',
            dropdownParent: $('#form_AddPurchaseRequest'),
            placeholder: 'Select UoM',
            width: '100%'
        });

        $('#item_disc_type').select2({
            minimumResultsForSearch: '',
            dropdownParent: $('#form_AddPurchaseRequest'),
            placeholder: 'Select Type',
            width: '100%'
        });

        $('#item_vat_per').select2({
            minimumResultsForSearch: '',
            dropdownParent: $('#form_AddPurchaseRequest'),
            placeholder: 'Select Type',
            width: '100%'
        });

        $('#purq_odate').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-"
        });

        $('#purq_qdate').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-"
        });

        $('#item_expiry').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-"
        });

        $('#item_expiry_free').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-"
        });

        $("#purq_odate").bootstrapdatepicker("setDate", "today");

        validation();

        $("#btn_Insert").show();

        $("#btnPrintPR").hide();
    });
    //#endregion

    //#region On Branch Selecting Event
    $('#purq_branch').on('select2:selecting', function (e) {
        let branchId = $('#purq_branch').val();

        if (PurchaseRequestItems()) {
            Swal.fire({
                title: 'Do you wish to change the branch?',
                text: 'This action will delete any item(s) which are added in Purchase Request Items!',
                icon: 'question',
                showDenyButton: true,
                confirmButtonText: 'Change',
                confirmButtonClass: 'btn btn-success mt-2',
                denyButtonText: `Don't Change`,
                denyButtonClass: 'btn btn-danger ms-2 mt-2',
                buttonsStyling: !1
            }).then((result) => {
                if (result.isDenied) {
                    e.preventDefault();

                    $('#purq_branch').select2('close');
                    $('#purq_branch').val(branchId).trigger('change')
                }
                else {
                    clearDataTable();

                    GetSupplierAndBilling();
                }
            });
        }
    });
    //#endregion

    //#region Checking Purchase Items Table Has Record
    var PurchaseRequestItems = function () {
        var purq_type = $('#purq_type').val();
        var count = 0;

        if ($("#tbl_purchaserequest_items > tbody > tr").length <= 0) {
            count++;
        }
        else {
            var td_text = "";

            $("#tbl_purchaserequest_items tbody tr").each(function () {
                var row = $(this);
                td_text = row.find("td").eq(0).html();
            });

            if (td_text.trim() === "No Item(s) Added") {
                count++;
            }
        }

        if (count > 0)
            return false;
        else
            return true;
    }
    //#endregion

    //#region Load Suppliers Details & Billing Address on Branch Change
    $('#purq_branch').on('select2:select', function (e) {
        if (PurchaseRequestItems() == false) {
            GetSupplierAndBilling();
        }
    });

    var GetSupplierAndBilling = function () {
        $('#lbl_message').text('');
        $('#purq_ship_1').val("");
        $('#purq_ship_2').val("");
        $('#purq_ship_3').val("");
        $('#purq_ship_4').val("");
        $('#purq_bill_1').val("");
        $('#purq_bill_2').val("");
        $('#purq_bill_3').val("");
        $('#purq_bill_4').val("");
        $('#purq_supplier').empty();

        var branchId = $('#purq_branch').val();

        if (branchId.length > 0) {
            $.ajax({
                url: '@Url.Action("GetSupplierByBranches", "PurchaseRequests", new { area = "MaterialManagement" })?branchId=' + branchId,
                type: "GET",
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    if (response.length > 0) {
                        $.each(response, function (j) {
                            var newOption = new Option(response[j].Text, response[j].Value, (parseInt(response[j].Value) === 1) ? true : false, (parseInt(response[j].Value) === 1) ? true : false);
                            $('#purq_supplier').append(newOption).trigger('change');
                        });
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });

            $.ajax({
                url: '@Url.Action("GetShippingAddress", "PurchaseRequests", new { area = "MaterialManagement" })?branchId=' + branchId,
                type: "GET",
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    if (response.set_company.length > 0) {
                        $('#purq_ship_1').val(response.set_company);
                        $('#purq_ship_2').val(response.set_address);
                        $('#purq_ship_3').val(response.set_tel);
                        $('#purq_ship_4').val(response.set_email);
                        $('#purq_bill_1').val(response.set_company);
                        $('#purq_bill_2').val(response.set_address);
                        $('#purq_bill_3').val(response.set_tel);
                        $('#purq_bill_4').val(response.set_email);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        }
    };
    //#endregion

    //#region Purchase Type Change Event
    $('#purq_type').on('select2:select', function (e) {
        var purq_type = $('#purq_type').val();
        var _date = new Date();
        var d = _date.getDate();
        var m = (_date.getMonth() + 1);

        if (purq_type === "Purchase Invoice" || purq_type === "GRN Regular") {
            $('#div_sup_invoice').css('display', '');
            $('#div_item_batch').css('display', '');
            $('#div_item_batch_free').css('display', '');
            hide_show_column("th", 4, "");
            hide_show_column("th", 5, "");
            hide_show_column("td", 4, "");
            hide_show_column("td", 5, "");
            var y = (_date.getFullYear() + 1);
            $("#item_expiry").bootstrapdatepicker("setDate", (d + "-" + m +"-" + y));
        }
        else {
            $('#div_sup_invoice').css('display', 'none');
            $('#div_item_batch').css('display', 'none');
            $('#div_item_batch_free').css('display', 'none');
            hide_show_column("th", 4, "none");
            hide_show_column("th", 5, "none");
            hide_show_column("td", 4, "none");
            hide_show_column("td", 5, "none");
            var y = (_date.getFullYear() + 10);
            $("#item_expiry").bootstrapdatepicker("setDate", (d + "-" + m + "-" + y));
        }

        var y1 = (_date.getFullYear() + 10);
        $("#item_expiry_free").bootstrapdatepicker("setDate", (d + "-" + m + "-" + y1));
        $('#purq_sup_invoice').val('');
        $('#item_batch').val('');
        $('#item_batch_free').val('');
    });

    var hide_show_column = function (type, index, action) {
        $("#tbl_purchaserequest_items tr > " + type + ":nth-child(" + index + ")").css('display', action);
    }
    //#endregion

    //#region Validate Text Box with One Decimal and numeric only on Key Press
    function validateOneDecimalNumeric(el, evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        var number = el.value.split('.');
        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        //just one dot
        if (number.length > 1 && charCode == 46) {
            return false;
        }
        //get the Current position
        var caratPos = getSelectionStart(el);
        var dotPos = el.value.indexOf(".");
        if (caratPos > dotPos && dotPos > -1 && (number[1].length > 1)) {
            return false;
        }
        return true;
    }
    function validateOneDecimalNumeric2(el, evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        var number = el.value.split('.');
        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        //just one dot
        if (number.length > 1 && charCode == 46) {
            return false;
        }
        //get the Current position
        var caratPos = getSelectionStart(el);
        var dotPos = el.value.indexOf(".");
        if (caratPos > dotPos && dotPos > -1 && (number[1].length > 1)) {
            return false;
        }
        //if (el.value > 10)
        //    return false;

        return true;
    }
    function getSelectionStart(o) {
        if (o.createTextRange) {
            var r = document.selection.createRange().duplicate()
            r.moveEnd('character', o.value.length)
            if (r.text == '') return o.value.length
            return o.value.lastIndexOf(r.text)
        } else return o.selectionStart
    }
    //#endregion

    //#region Adding Validation on Main Form
    var validation = function () {
        $("#form_AddPurchaseRequest").validate({
            focusInvalid: true,
            rules:
            {
                purq_branch: {
                    required: true,
                },
                purq_supplier: {
                    required: true,
                },
                purq_type: {
                    required: true,
                },
                purq_odate: {
                    required: true,
                },
                purq_sup_invoice: {
                    required: function () {
                        var purq_type = $('#purq_type').val();
                        if (purq_type === "Purchase Invoice" || purq_type === "GRN Regular")
                            return true;
                        else
                            return false;
                    }
                },
                purq_ship_3: {
                    number: true,
                },
                purq_ship_4: {
                    email: true,
                },
                purq_bill_3: {
                    number: true,
                },
                purq_bill_4: {
                    email: true,
                },
                purq_buy_3: {
                    number: true,
                },
                purq_buy_4: {
                    email: true,
                }
            },
            messages: {
                purq_branch: {
                    required: "Select Branch",
                },
                purq_supplier: {
                    required: "Select Supplier",
                },
                purq_type: {
                    required: "Select Request Type",
                },
                purq_odate: {
                    required: "Select Request Date",
                },
                purq_sup_invoice: {
                    required: "Enter Supplier Invoice No#",
                },
                purq_ship_3: {
                    required: "Enter Numeric Only",
                },
                purq_ship_4: {
                    required: "Enter Valid Email Address",
                },
                purq_bill_3: {
                    required: "Enter Numeric Only",
                },
                purq_bill_4: {
                    required: "Enter Valid Email Address",
                },
                purq_buy_3: {
                    required: "Enter Numeric Only",
                },
                purq_buy_4: {
                    required: "Enter Valid Email Address",
                }
            },
            highlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                } else {
                    elem.parent().addClass('has-error');
                }
                $(element).parent().addClass('has-error');
                Error_Timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                } else {
                    elem.removeClass('has-error');
                }
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    element = $("#select2-" + elem.attr("id") + "-container").parent();
                    error.insertAfter(element);
                } else {
                    error.insertAfter(element);
                }
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

        $('#purq_odate').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode

            if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                return false;
            }
            else {
                if (e.target.value.length >= 18)
                    return false;
            }
        });

        $('#purq_qdate').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode

            if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                return false;
            }
            else {
                if (e.target.value.length >= 18)
                    return false;
            }
        });

        $('#item_expiry').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                return false;
            }
            else {
                if (e.target.value.length >= 18)
                    return false;
            }
        });

        $('#item_expiry_free').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                return false;
            }
            else {
                if (e.target.value.length >= 18)
                    return false;
            }
        });

        $('#purq_validity').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9+]/g))
                return false;
        });

        $('#purq_pay_terms').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9+]/g))
                return false;
        });

        $('#purq_ship_3').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9+]/g))
                return false;
        });

        $('#purq_bill_3').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9+]/g))
                return false;
        });

        $('#purq_buy_3').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9+]/g))
                return false;
        });
    }
    //#endregion

    //#region Insert Purchase Request on Button Click
    $('#btn_Insert').on('click', function (e) {
        e.preventDefault();

        if ($('#form_AddPurchaseRequest').valid() && ItemsValid()) {
            Swal.fire({
                title: "Save",
                text: "Are you sure you want to Save " + $('#purq_type').val().trim() +" ?",
                icon: "question",
                showCancelButton: !0,
                confirmButtonText: 'Yes! I Confirm',
                cancelButtonText: 'No! Cancel',
                confirmButtonClass: "btn btn-success mt-2",
                cancelButtonClass: "btn btn-danger ms-2 mt-2",
                buttonsStyling: !1
            }).then(function (t) {
                if (t.value) {
                    var purchaseRequests = {
                        "purqId": $('#hi_purqId').val(),
                        "purq_supplier": $('#purq_supplier').val(),
                        "purq_ocode": $('#hi_purq_code').val(),
                        "purq_odate": $('#purq_odate').val().trim(),
                        "purq_total": $('#subTotal').html().trim().replace(/[,]/g, ''),
                        "purq_disc": $('#subDisc').html().trim().replace(/[,]/g, ''),
                        "purq_disc_type": "Fixed",
                        "purq_disc_val": $('#subDisc_value').html().trim().replace(/[,]/g, ''),
                        "purq_net": $('#subNET').html().trim().replace(/[,]/g, ''),
                        "purq_vat": $('#subVAT').html().trim().replace(/[,]/g, ''),
                        "purq_notes": $('#purq_notes').val().trim(),
                        "purq_type": $('#purq_type').val().trim(),
                        "purq_enqno": $('#purq_enqno').val().trim(),
                        "purq_quono": $('#purq_quono').val().trim(),
                        "purq_validity": $('#purq_validity').val().trim(),
                        "purq_pay_terms": $('#purq_pay_terms').val().trim(),
                        "purq_qdate": $('#purq_qdate').val().trim(),
                        "purq_ship_1": $('#purq_ship_1').val().trim(),
                        "purq_ship_2": $('#purq_ship_2').val().trim(),
                        "purq_ship_3": $('#purq_ship_3').val().trim(),
                        "purq_ship_4": $('#purq_ship_4').val().trim(),
                        "purq_bill_1": $('#purq_bill_1').val().trim(),
                        "purq_bill_2": $('#purq_bill_2').val().trim(),
                        "purq_bill_3": $('#purq_bill_3').val().trim(),
                        "purq_bill_4": $('#purq_bill_4').val().trim(),
                        "purq_buy_1": $('#purq_buy_1').val().trim(),
                        "purq_buy_2": $('#purq_buy_2').val().trim(),
                        "purq_buy_3": $('#purq_buy_3').val().trim(),
                        "purq_buy_4": $('#purq_buy_4').val().trim(),
                        "purq_branch": $('#purq_branch').val(),
                        "purq_sup_invoice": $('#purq_sup_invoice').val(),
                        "purq_idisc": 0,
                        "purq_status": "New",
                    }

                    var PurchaseRequestItems = new Array();

                    $("#tbl_purchaserequest_items tbody tr").each(function () {
                        var row = $(this);

                        var PurchaseReqItems = {};
                        PurchaseReqItems.prqiId = 0;
                        PurchaseReqItems.prqi_purchase = 0;
                        PurchaseReqItems.prqi_mode = "create";
                        PurchaseReqItems.prqi_branch = $('#purq_branch').val();
                        PurchaseReqItems.prqi_item = row.find("td").eq(15).html();
                        PurchaseReqItems.prqi_desc = row.find("td").eq(2).html();
                        PurchaseReqItems.prqi_batch = row.find("td").eq(3).html();
                        PurchaseReqItems.prqi_edate = row.find("td").eq(4).html();
                        PurchaseReqItems.prqi_oqty = row.find("td").eq(16).html().replace(/[,]/g, '');
                        PurchaseReqItems.prqi_uom = row.find("td").eq(17).html();
                        PurchaseReqItems.prqi_total = row.find("td").eq(8).html().replace(/[,]/g, '');
                        PurchaseReqItems.prqi_uprice = row.find("td").eq(7).html().replace(/[,]/g, '');
                        PurchaseReqItems.prqi_disc = row.find("td").eq(22).html().replace(/[,]/g, '');
                        PurchaseReqItems.prqi_disc_type = row.find("td").eq(23).html();
                        PurchaseReqItems.prqi_disc_value = row.find("td").eq(10).html().replace(/[,]/g, '');
                        PurchaseReqItems.prqi_nprice = row.find("td").eq(7).html().replace(/[,]/g, '');
                        PurchaseReqItems.prqi_net = row.find("td").eq(11).html().replace(/[,]/g, '');
                        PurchaseReqItems.prqi_vat = row.find("td").eq(12).html().replace(/[,]/g, '');
                        PurchaseReqItems.prqi_freeQty = row.find("td").eq(18).html();
                        PurchaseReqItems.prqi_freeUOM = row.find("td").eq(19).html();
                        PurchaseReqItems.prqi_freeBatch = row.find("td").eq(20).html();
                        PurchaseReqItems.prqi_freeExprqiry = row.find("td").eq(21).html();
                        PurchaseReqItems.prqi_vat_per = row.find("td").eq(24).html();
                        PurchaseReqItems.prqi_status = "New";
                        PurchaseReqItems.prqi_bqty = row.find("td").eq(16).html();
                        PurchaseReqItems.prqi_bqty2 = row.find("td").eq(16).html();
                        PurchaseReqItems.prqi_bqty3 = row.find("td").eq(16).html();
                        PurchaseReqItems.prqi_bqty_uom = row.find("td").eq(17).html();
                        PurchaseReqItems.prqi_bqty2_uom = row.find("td").eq(17).html();
                        PurchaseReqItems.prqi_bqty3_uom = row.find("td").eq(17).html();
                        PurchaseReqItems.prqi_rqty = 0;
                        PurchaseReqItems.prqi_rqty2 = 0;
                        PurchaseReqItems.prqi_rqty3 = 0;

                        PurchaseRequestItems.push(PurchaseReqItems);
                    });

                    var _dataVal = {
                        purchaseRequests: purchaseRequests,
                        PurchaseRequestItems: PurchaseRequestItems,
                        __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
                    };

                    $.ajax({
                        url: '@Url.Action("InsertPurchaseRequest", "PurchaseRequests", new { area = "MaterialManagement" })',
                        type: 'POST',
                        dataType: "json",
                        data: _dataVal,
                        beforeSend: function () {
                            $('#btn_Insert').removeClass("btn btn-success");
                            $('#btn_Insert').addClass("btn btn-success btn-loaders btn-icon");
                            $('#btn_Insert').html("Saving....");
                        },
                        success: function (data) {
                            $('#btn_Insert').removeClass("btn btn-success btn-loaders btn-icon");
                            $('#btn_Insert').addClass("btn btn-success");
                            $('#btn_Insert').html("Confirm & Save");

                            if (data.isInserted) {
                                $('#hi_purqId').val(data.purqId);
                                $('#hi_purq_code').val(data.purqCode);

                                $('#btn_Insert').hide();

                                $("#btnPrintPR").show();

                                var alertPlaceholder = document.getElementById("PurchaseInsertAlert");

                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }

                                alert("<i class='fe fe-check-circle text-white'></i>&nbsp;Purchase Request Created Successfully!", "success");

                                getPurchaseRequests($('#purq_odate').val().trim(), $('#purq_odate').val().trim());

                                Timeout();
                            }
                            else {
                                $("#btn_Insert").show();
                                $("#btnPrintPR").hide();
                                $('#hi_purqId').val("0");
                                $('#hi_purq_code').val("");
                                $("#error").html('');
                                var error_message = data.message;

                                if (error_message == "Error While Creating Purchase Request!") {
                                    let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                        "<div class='alert alert-light-warning' role='alert' style=';color:#744f04'>" +
                                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                        "<strong><i class='fe fe-alert-triangle'></i>&nbsp;" + error_message + "&nbsp;</strong></div></div>";
                                    $("#error").html(html);
                                }
                                else {
                                    let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                        "<div class='alert alert-danger' role='alert'>" +
                                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                        "<strong><i class='fe fe-alert-circle text-white' ></i>&nbsp;Validation Error.. Please correct before you submit!&nbsp;</strong><br/><ul>";

                                    $.each(data.message, function (index, value) {
                                        html += "<li><small>" + value + "</small><li>";
                                        var elem = $("#" + index);
                                        if (elem.hasClass("select2-hidden-accessible")) {
                                            $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                        }
                                        else {
                                            $(elem).addClass(" is-invalid");
                                        }
                                        setTimeout(function () {
                                            if (elem.hasClass("select2-hidden-accessible")) {
                                                $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                            }
                                            else {
                                                $(elem).removeClass("is-invalid");
                                            }
                                        }, 5000);
                                    });

                                    html += "</ul></div></div>";

                                    $("#error").html(html);
                                }

                                Timeout();
                            }
                        },
                        error: function (xhr) {
                            clearData();

                            $('#btn_Insert').removeClass("btn btn-success btn-loaders btn-icon");
                            $('#btn_Insert').addClass("btn btn-success");
                            $('#btn_Insert').html("Confirm & Save");

                            var alertPlaceholder = document.getElementById("PurchaseRequestAlert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close text-white" data-bs-dismiss="alert" aria-hidden="true">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-x-circle text-white'></i>Error while Creating Purchase Request!", "danger");

                            Timeout();
                        }
                    });
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);

            var alertPlaceholder = document.getElementById("errorCreate");
            function alert(e, t) {
                var l = document.createElement("div");
                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>', alertPlaceholder.append(l)
            }

            alert("<i class='fa fa-exclamation-triangle text-white'></i> Please Make sure to Add Purchase Request Items & Fill Mandatory fields!", "warning");

            Timeout();
        }
    });
    //#endregion

    //#region Validate Purchase Items Table
    var ItemsValid = function () {
        var purq_type = $('#purq_type').val();
        var count = 0;

        if ($("#tbl_purchaserequest_items > tbody > tr").not(":has(td[colspan='13'])").length <= 0) {
            count++;
            $('#tbl_purchaserequest_items').parent().addClass('has-error');
            Error_Timeout("tbl_purchaserequest_items");
        }
        else {
            var td_text = "";
            $("#tbl_purchaserequest_items tbody tr").each(function () {
                var row = $(this);
                td_text = row.find("td").eq(0).html();
            });
            if (td_text.trim() === "No Items Added") {
                count++;
                $('#tbl_purchaserequest_items').parent().addClass('has-error');
                Error_Timeout("tbl_purchaserequest_items");
            }
        }

        if (count > 0)
            return false;
        else
            return true;
    }
    //#endregion

    //#region Clear Text Boxes Data
    var clearData = function () {
        $('#item_name').val('');
        $('#item_code').val('');
        $('#item_vat').val('0');
        $('#item_brand').val('');
        $('#item_dosage').val('');
        $('#item_strangth').val('');
        $('#item_desc').val('');
        $('#item_min_qty').val('');
        $('#item_max_qty').val('');
        $('#item_branch').val('0').trigger('change');
        $('#item_category').val('0').trigger('change');
        $('#item_location').val('0').trigger('change');
        $('#item_type').val('0').trigger('change');
        $('#item_cost').val('');
        $('#item_cost2').val('');
        $('#item_cost3').val('');
        $('#item_sprice').val('');
        $('#item_sprice2').val('');
        $('#item_sprice3').val('');
        $('#item_m_factor').val('1');
        $('#item_m_factor2').val('1');
        $('#item_uom').val('0').trigger('change');
        $('#item_uom2').val('0').trigger('change');
        $('#item_uom3').val('0').trigger('change');
    }
    //#endregion

    //#region Remove Comma from Numeric Values
    function comma(num) {
        return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
    }
    //#endregion

    //#region Clearing Data Table Rows
    var clearDataTable = function () {
        var emptyRow = "<tr><td colspan='13' class='text-center text-secondary'> No Item(s) Added</td></tr>"
        $("#tbl_purchaserequest_items tbody").empty();
        $("#tbl_purchaserequest_items tbody").append(emptyRow);
        $("#subTotal").html(0.00);
        $("#subPrice").html(0.00);
        $("#subDisc").html(0.00);
        $("#subNET").html(0.00);
        $("#subVAT").html(0.00);
        $("#subNETVAT").html(0.00);
        $("#subDisc_value").html(0.00);
    }
    //#endregion

    //#region Print Purchase Request
    $('#btnPrintPR').on('click', function (e) {
        e.preventDefault();

        window.open("@Url.Action("PrintPurchaseRequest", "PurchaseRequests", new { area = "MaterialManagement" })?purqId=" + $("#hi_purqId").val(), "Print Purchase Request");
    });
    //#endregion

    //#region Remove Valiate Error Class Timeout
    function Error_Timeout(_id) {
        setTimeout(function () {
            $(".has-error").removeClass("has-error");
            $(".error").removeClass("errorCreate");
            $("#" + _id + "-error").text("");
        }, 4200);
    }
    //#endregion

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion

    //#region Item Enquiry View
    $('#btnItemEnquiry').on('click', function (e) {
        e.preventDefault();
        $("#spinner2").show();
        $.ajax({
            type: "GET",
            url: "@Url.Action("StockItemEnquiry", "PurchaseOrders", new { area = "MaterialManagement" })",
            contentType: "application/json",
            dataType: "html",
            success: function (data) {

                $('#add_purchaseRequest_modal').modal('hide');
                $('#CentralStoreItems_modal').attr("data-modal-from", "central-store-enquiry-por");

                $("#CentralStoreItems_body").html(data);
                $("#CentralStoreItems_modal").modal("show");

            },
            error: function (xhr) {
                console.log(xhr);
                $("#spinner2").hide();
            },
            complete: function () {
                // Hide spinner when request is complete
                $("#spinner2").hide();
            }
        });
    });
    //#endregion
</script>