@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Laser Hair";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                        Hair Removal Consent Form
                    <br /><span dir="rtl">اقرار بالموافقة عاى العلاج بالليزر لازالة الشعر الغير مرغوب فيه </span>
                </h3>
            </div>
            <div class="card-body">
                <div id="LaserHair_add" style="display:none">
                </div>
                <div id="LaserHair_edit">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="LaserHair_history">
                </div>
            </div>
        </div>
    </div>
</div>

@*@section myScripts{*@
    <script>
        //#region Page Load
        $(function () {
            GetLaserHairInfo();
            LaserHairPreviousHistory();

        });

        //#endregion Page Load

        //#region Load GetLaserHairInfo
        var GetLaserHairInfo = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetLaserHairData", "LaserHair", new { area = "ConsentForms" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        if (response.length > 0) {
                            EditLaserHair();
                            $("#LaserHair_add").hide();
                            $("#LaserHair_edit").show();

                        }
                        else {
                            $("#LaserHair_add").show();
                            $("#LaserHair_edit").hide();
                            AddLaserHair();
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
        //#endregion Load LaserHair

        //#region Add LaserHair
        function AddLaserHair() {
            var x = $("#LaserHair_add");
            x.load("@Url.Action("CreateLaserHair", "LaserHair", new { area = "ConsentForms" })", function () {
          });
        }
        //#endregion Add LaserHair

        // #region Update LaserHair
        function EditLaserHair() {
            var x = $("#LaserHair_edit");
            x.load("@Url.Action("UpdateLaserHair", "LaserHair", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
          //#endregion Update LaserHair

          //#region Histroy of LaserHair
        function LaserHairPreviousHistory() {
            var x = $("#LaserHair_history");
            x.load("@Url.Action("LaserHairPreviousHistory", "LaserHair", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
        //#endregion History of LaserHair


    </script>

@*}*@

