@model IEnumerable<BusinessEntities.ConcentForms.ConcentPreviousHistroy>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        @if (Model.Any())
        {
            <div class="table-responsive">
                <table id="tbl_colors" class="table table-striped table-bordered text-nowrap resize-table" style="width: 100%; cursor: pointer;">
                    <thead>
                        <tr style="color: #fff !important; background-color: #808080; border-color: #3C457D; ">
                            <th class="border-bottom-0 font-weight-semibold text-white" style="width:10%">Appointment ID</th>
                            <th class="border-bottom-0 font-weight-semibold text-white" style="width:40%">Doctor</th>
                            <th class="border-bottom-0 font-weight-semibold text-white" style="width:40%">Appointment Date &amp; time</th>
                            <th class="border-bottom-0 font-weight-semibold text-white text-center" style="width:10%">Download/Print</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dr in Model)
                        {
                            <tr>
                                <td class="fs-13">@dr.appId</td>
                                <td class="fs-13">@dr.emp_name.ToString() (@dr.emp_license.ToString())<br />@dr.emp_dept_name.ToString()</td>
                                <td class="fs-13">@dr.app_fdate.ToString()</td>
                                <td class="fs-13 text-center">
                                    <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print" onclick="printPDF(@dr.appId)"> Download/Print </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
                <div class="alert alert-light-info alert-dismissiblefade show" role="alert">
                    <strong><i class="fa fa-exclamation-circle pt-2"></i> Info!&nbsp;</strong> Previous Histroy Not Available!
                </div>
            </div>
        }
    </div>
</div>

<script>
    var printPDF = function (appId) {
        $.ajax({
            type: "Get",
            url: "@Url.Action("PrintPDFConsent", "LaserHair", new {area = "ConsentForms" })?appId=" + appId + "&form=LaserHair",
            dataType: 'JSON',
            success: function (data) {
                if (data.isAuthorized) {
                    if (data.success) {
                        window.location.href = data.message.pdfPath
                    }
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        });
    }
</script>





