@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Drip Therapy";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    IV Drip Therapy consent Form<br /><span dir="rtl">نموذج الموافقة على العلاج بالتنقيط الوريدي</span>
                </h3>
            </div>
            <div class="card-body">
                <div id="DripTherapy_add" style="display:none">
                </div>
                <div id="DripTherapy_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="DripTherapy_history">
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    //#region Page Load
    $(function () {
        GetDripTherapyInfo();
        DripTherapyPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetDripTherapyInfo
    var GetDripTherapyInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetDripTherapyData", "DripTherapy", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditDripTherapy();
                        $("#DripTherapy_add").hide();
                        $("#DripTherapy_edit").show();

                    }
                    else {
                        $("#DripTherapy_add").show();
                        $("#DripTherapy_edit").hide();
                        AddDripTherapy();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load DripTherapy

    //#region Add DripTherapy
    function AddDripTherapy() {
        var x = $("#DripTherapy_add");
        x.load("@Url.Action("CreateDripTherapy", "DripTherapy", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add DripTherapy

    //#region Update DripTherapy
    function EditDripTherapy() {
        var x = $("#DripTherapy_edit");
        x.load("@Url.Action("UpdateDripTherapy", "DripTherapy", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update DripTherapy

    //#region Histroy of DripTherapy
    function DripTherapyPreviousHistory() {
        var x = $("#DripTherapy_history");
        x.load("@Url.Action("DripTherapyPreviousHistory", "DripTherapy", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>