@using BusinessEntities;
@using System.Linq;
@using System.Security.Claims;

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "OperativeOzurdexInjectionNewIndex";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }

}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Operative Report For Ozurdex Injection
                </h3>
            </div>
            <div class="card-body">
                <div id="OperativeOzurdexInjectionNew_add" style="display:none">
                </div>
                <div id="OperativeOzurdexInjectionNew_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="OperativeOzurdexInjectionNew_history">
                </div>
            </div>
        </div>
    </div>
</div>
@*@section myScripts{*@
    <script>
        //#region Page Load
        $(function () {
           GetOperativeOzurdexInjectionNewInfo();
           OperativeOzurdexInjectionNewPreviousHistory();

        });
        //#endregion Page Load

        //#region Load GetOperativeOzurdexInjectionNewInfo
        var GetOperativeOzurdexInjectionNewInfo = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetOperativeOzurdexInjectionNewData", "OperativeOzurdexInjectionNew", new { area = "ConsentForms" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        if (response.length > 0) {
                            EditOperativeOzurdexInjectionNew();
                            $("#OperativeOzurdexInjectionNew_add").hide();
                            $("#OperativeOzurdexInjectionNew_edit").show();

                        }
                        else {
                            $("#OperativeOzurdexInjectionNew_add").show();
                            $("#OperativeOzurdexInjectionNew_edit").hide();
                            AddOperativeOzurdexInjectionNew();
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
        //#endregion Load OperativeOzurdexInjectionNew

        //#region Add OperativeOzurdexInjectionNew
        function AddOperativeOzurdexInjectionNew() {
            var x = $("#OperativeOzurdexInjectionNew_add");
            x.load("@Url.Action("CreateOperativeOzurdexInjectionNew", "OperativeOzurdexInjectionNew", new { area = "ConsentForms" })", function () {
          });
        }
        //#endregion Add OperativeOzurdexInjectionNew

        //#region Update OperativeOzurdexInjectionNew
        function EditOperativeOzurdexInjectionNew() {
            var x = $("#OperativeOzurdexInjectionNew_edit");
            x.load("@Url.Action("UpdateOperativeOzurdexInjectionNew", "OperativeOzurdexInjectionNew", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
          //#endregion Update OperativeOzurdexInjectionNew

          //#region Histroy of OperativeOzurdexInjectionNew
        function OperativeOzurdexInjectionNewPreviousHistory() {
            var x = $("#OperativeOzurdexInjectionNew_history");
            x.load("@Url.Action("OperativeOzurdexInjectionNewPreviousHistory", "OperativeOzurdexInjectionNew", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
        //#endregion History of OperativeOzurdexInjectionNew


    </script>

@*}*@