@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "RootCanalArabic";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header" dir="rtl">
                <h3 class="card-title">موافقة المريض علىبدء علاج العصب</h3>
            </div>
            <div class="card-body">
                <div id="RootCanalArabic_add" style="display:none">
                </div>
                <div id="RootCanalArabic_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="RootCanalArabic_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetRootCanalArabicInfo();
        RootCanalArabicPreviousHistory();
    });

    //#endregion Page Load

    //#region Load GetRootCanalArabicInfo
    var GetRootCanalArabicInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetRootCanalArabicData", "RootCanalArabic", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditRootCanalArabic();
                        $("#RootCanalArabic_add").hide();
                        $("#RootCanalArabic_edit").show();

                    }
                    else {
                        $("#RootCanalArabic_add").show();
                        $("#RootCanalArabic_edit").hide();
                        AddRootCanalArabic();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load RootCanalArabic

    //#region Add RootCanalArabic
    function AddRootCanalArabic() {
        var x = $("#RootCanalArabic_add");
        x.load("@Url.Action("CreateRootCanalArabic", "RootCanalArabic", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add RootCanalArabic

    //#region Update RootCanalArabic

    function EditRootCanalArabic() {
        var x = $("#RootCanalArabic_edit");
        x.load("@Url.Action("UpdateRootCanalArabic", "RootCanalArabic", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update RootCanalArabic

    //#region Histroy of RootCanalArabic

    function RootCanalArabicPreviousHistory() {
        var x = $("#RootCanalArabic_history");
        x.load("@Url.Action("RootCanalArabicPreviousHistory", "RootCanalArabic", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Histroy of RootCanalArabic
</script>