@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConsentForms.RootCanalArabic

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<form id="form_RootCanalArabicEdit" autocomplete="off" name="RootCanalArabic" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-right" dir="rtl">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> اسم المريض</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> الهوية الإماراتية</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">رقم الملف</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> تاريخ الميلاد</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> الجنسية</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">جنس</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">اسم الطبيب</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">تاريخ</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5 mt-5 text-justify" dir="rtl">
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2">
            <b># السن:</b> @Html.TextBoxFor(m => m.crcta_1, new { @class = "form-control form-control-sm", @id = "ucrcta_1" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6 mb-2 mt-2">
            <b># التشخيص :</b> @Html.TextBoxFor(m => m.crcta_2, new { @class = "form-control form-control-sm", @id = "ucrcta_2" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            أوافق طوعا على علاج الأسنان (علاج العصب) الموصى به. وأنا أفهم أن الهدف من علاج العصب هو لإنقاذ الأسنان التي قد تتطلب من ناحية أخرى الى الخلع. على الرغم من أن علاج العصب لديه نسبة نجاح عالية جدا، فهو إجراء بيولوجي، والذي لا يمكن ضمان نتائجه. وعلاوة على ذلك، يتم تنفيذ علاج العصب لتصحيح مشكلة واضحة وأحيانا غير مشخصة أو تظهر مشاكل خفية. وأنا أفهم أن هذا الإجراء لن يمنع تسوس الأسنان في المستقبل أو إمكانية حدوث كسر ، وأنه في بعض الأحيان الأسنان التي لديها علاج العصب قد تتطلب إعادة العلاج، جراحة أو خلع الأسنان
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            وقد شرح لي العلاج تماما بما في ذلك المخاطر التي تنطوي عليها. وقد أبلغت أن المضاعفات قد تشمل التالي، ولكن لا تقتصر عليها :
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
                أ‌)	انثقابالقناةمعالأدوات،والتييمكنأنتؤديإلىالحاجةإلىجراحةالعصبأوخلعالأسنان.
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
                ب‌)	انكسارالأداةفيالقناة،والتيقدتتطلبإعادةالعلاج،جراحةالعصب أوالخلع.
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
                ت‌)	الشفاءغيرالكامل،والتيقدتتطلبإعادةالعلاجو / أوجراحةالعصبأوالخلع.
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
                ث‌)	عدوىمابعدالجراحة،والتيقدتتطلبعلاجإضافيو / أواستخدامالمضاداتالحيوية.
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
                ج‌)	كسرالأسنان،التيقدتتطلبعلاجإضافيأوخلعالأسنان.
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
                ح‌)	االتحويلإلىأخصائيإذاحدثتأيصعوباتغيرمتوقعةأثناءالعلاج.
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
                خ‌)	الشعور بعدم الارتياح بعدالعلاج.
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            وأنا أدرك أن حالة الأسنان سوف تزداد سوءا وأن المشاكل الطبية الأخرى يمكن أن تتطور إذا لم يتم تنفيذ الإجراء الموصى به
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 text-red mb-2 mt-2">خياراتأخرىللعلاج: </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            قدتكونخياراتالعلاجالأخرىممكنة كالتالي:
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
                أ‌)	عدم العلاج على الإطلاق.
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
                ب‌)	انتظارالمزيدمنالتطورللأعراض.
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 mb-2 mt-2">
                ت‌)	الخلع : ليحل محلة إما لا شىء ، طقم أسنان ، جسر أو زراعة أسنان.
            </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            بعد الانتهاء من علاج العصب، سيتم إحالتك إلى طبيب الأسنان الخاصة بالترميم للترميم الدائم (حشوات، تيجان، تلبيس). الفشل في الحصول على اسنان مرممة بشكل صحيح يزيد بشكل كبير من إمكانية الإصابة بالعدوى مرة أخرى،  فشل إجراء علاج العصب و / أو كسر الأسنان
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            أوافق على التقاط الصور الفوتوغرافية، التصوير والتسجيل و الأشعة السينية بشرط لا يتم الكشف عن هويتي
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            .وأنا أفهم أن جميع الأدوية محتمل أن يكون لديها مخاطر مصاحبة، وآثار جانبية وتفاعلات الأدوية. ولذلك فمن الأهمية أن أخبر طبيب الأسنان الخاص بي بجميع الأدوية التي استخدمها حالياً
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            في حالة أني  أود التوقف عن العلاج، فقد تم إبلاغي وفهمت المخاطر المرتبطة مع ترك حالتي بدون علاج، ادرك أن صحتي العامة قد تتأثر بقراري . لذا لن أقوم بتحميل الطبيب ، طاقم العمل أو أي شخص مرتبط بممارسة طب الأسنان المسؤؤلية للتغير الذي سيحصل لصحتي العامة الناتج عن هذا الوضع . لقد اتيحت لي الفرصة لطرح اسئلة حول حالتي، خيارات العلاج و رفض العلاج. لقد قام مزود الموقع ادناه الإجابة على جميع أسئلتي. لقد فهمت النطاق الكامل للوضع وانا اخذ قرار الموافقة
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 text-red mb-2 mt-2">
            استمارة الموافقة المسبقة :
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            لقد أتيحت لي الفرصة لطرح أي أسئلة بخصوص طبيعة والغرض من علاج العصب وقد تلقيت إجابات مرضية. أنا طوعا اتحمل جميع المخاطر المحتملة ،بما في ذلك خطر حدوث ضرر كبير، إن وجد، والذي قد يرتبط بأي مرحلة من مراحل العلاج ، على أمل الحصول على النتائج المرجوة، والتي من الممكن أو غير الممكن تحقيقها. الرسوم (إن وجدت) لهذه الخدمة لقد تم شرحها وهي مرضية. من خلال التوقيع على هذا النموذج أنا أعطي بحرية موافقتي للسماح للدكتور<label class="text-red">@emr.doc_name</label>أو/ و أحد مساعديه لتقديم العلاج أو اي دواء و /أو التخدير الذي يعتبر ضروري للعلاج
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            <span>
                <input type="radio" id="ucrcta_41" value="Yes" name="ucrcta_4"/>&nbsp;
                لقد أتيحت لي الفرصة لطرح الأسئلة وقمت بالموافقة على العلاج المقترح كما هو موضح أعلاه
            </span>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            <span>
                <input type="radio" id="ucrcta_42" value="No" name="ucrcta_4"/>&nbsp;
                لقد قمت برفض إعطاء الموافقة للعلاج المقترج كما هو موضح أعلاه وقد تم شرح العواقب المحتملة المرتبطة بالرفض
            </span>
        </div>
    </div>

    <div class="row mt-2" dir="rtl">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr dir="rtl">
                    <td colspan="3" class="font-weight-bold text-danger fs-18" width="100%">
                        قم بالتوقيع هنا فقط إذا تمت الموافقة على جميع الأسئلة 
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <div id="upat_sign_box">
                            <img alt="stamp" id="upat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="34%">
                        <div id="uwit_sign_box">
                            <img alt="stamp" id="uwit_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        سم المريض
                        <br />
                        <label class="form-label text-red">@emr.pat_name&nbsp;</label>
                        لتاريخ
                        <br />
                        <label class="form-label text-red">@emr.app_fdate&nbsp;</label>

                    </td>
                    <td width="34%">
                        هوية الشاهد
                        <br />
                        @Html.TextBoxFor(m => m.crcta_3, new { @class = "form-control text-center", @id = "ucrcta_3", @maxlength = "200" })

                        التاريخ
                        <br />
                        <label class="form-label text-red">@emr.app_fdate&nbsp;</label>
                    </td>
                    <td width="33%">
                        وقيع الطبيب
                        <br />
                        <label class="form-label text-red">@emr.doc_name&nbsp;</label>

                        التاريخ
                        <label class="form-label text-red">@emr.app_fdate&nbsp;</label>

                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue text-center" width="33%">
                        توقيع المريض/ الممثل المفوض قانونا
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue  text-center" width="34%">
                        توقيع الشاهد
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> witness
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('witness')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('witness')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center" width="33%">توقيع الطبيب </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update">Save Changes</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                <button type="button" class="btn btn-danger btn-sm" id="btn_DeleteForm">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print"> Download/Print </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Update").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Update").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Update").show();
                }
                else {
                    $("#btn_Update").hide();
                }
            }
        }
        validate();
        GetSignaturename('patient');
        GetSignaturename('witness');
        GetCheckedValues();
    });

    //#region Validation Initialization
    var validate = function () {
        $("#form_RootCanalArabicEdit").validate({
            rules: {
                crcta_1: {
                    required: true
                },
               crcta_2: {
                    required: true
                },
                crcta_3: {
                    required: true
                },

            },
            messages: {
                crcta_1: {
                    required: "Please Enter Age"
                },
               crcta_2: {
                   required: "Please Enter Diagnosis"
                },
                crcta_3: {
                    required: "Please Enter witness Id"
                },

            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
    //#endregion

    //#region Update  Click
    $('#btn_Update').on('click', function (e) {
        e.preventDefault();
        if ($("#form_RootCanalArabicEdit").valid()) {
            console.log($("#crctaId").val());
            $('#btn_Update').removeClass("btn btn-sm btn-success");
            $('#btn_Update').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Update').html("Updating the Record....");
            //var uicc_4_ = $.map($(':checkbox[name=uicc_4]:checked'), function (n, i) {
            //    return n.value;
            //}).join(',');

            var ucrcta_4 = "";

            if ($('#ucrcta_41').prop('checked')) {
                ucrcta_4 = "Yes";
            }
            else if ($('#ucrcta_42').prop('checked')) {
                ucrcta_4 = "No";
            }

            var _dateInsert = {
                "crctaId": 0,
                "crcta_appId": @emr.appId,
                "crcta_1": $("#ucrcta_1").val(),
                "crcta_2": $("#ucrcta_2").val(),
                "crcta_3": $("#ucrcta_3").val(),
                "crcta_4": ucrcta_4,
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

            console.log(_dateInsert);

            $.ajax({
                type: "Post",
                url: "@Url.Action("EditRootCanalArabic", "RootCanalArabic", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isEdited) {
                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>  RootCanal Arabic Consent Form Updated Successfully!", "success");
                            Timeout();
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning.. RootCanal Arabic Consent Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion Update Click

        //#region Print
$('#btn_Print').on('click', function (e) {
    e.preventDefault();
    $('#btn_Print').removeClass("btn btn-success");
    $('#btn_Print').addClass("btn btn-success btn-loaders btn-icon");
    $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "RootCanalArabic", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=RootCanalArabic",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {

                if (data.success)
                    console.log(data);
                    console.log(data.message.pdfPath); {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print

    //#region Delete Click
    $('#btn_DeleteForm').on('click', function (e) {
        e.preventDefault();
        $('#btn_DeleteForm').removeClass("btn btn-success");
        $('#btn_DeleteForm').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_DeleteForm').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteRootCanalArabic", "RootCanalArabic", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-warning");
                $('#btn_DeleteForm').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>RootCanal Arabic Consent Form Deleted Successfully!", "success");
                        clearControls();
                        Timeout();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-Delete");
                $('#btn_DeleteForm').html("Delete");
                Timeout();
            }
        })
    });
//#endregion


    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $("input[name='ucrcta_4']:radio").prop('checked', false);
        $(".form-control-sm").val("");
        $("#upat_sign,#uwit_sign").attr("src", "");
    }
    //#endregion Clear Controls
    //#region Wacom Tab Signature
    var openWacomTabSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "RootCanalArabic",
            "appId": @emr.appId,
            "formname":"RootCanal Arabic",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
//#endregion
    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "RootCanalArabic",
            "appId": @emr.appId,
            "formname":"RootCanal Arabic",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            GetSignaturename('witness');
            localStorage.removeItem("sign");
        }
    });

    //#region Get Signature
    var GetSignaturename = function  (person) {
        $.ajax({
            url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=RootCanalArabic',
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                console.log(response);
                let sign = response[0].psb_sign;
                if (response[0].person == "patient") {
                    $("#upat_sign_box").removeClass("d-none");
                    $("#upat_sign").attr("src", sign);
                }
                if (response[0].person == "witness") {
                    $("#uwit_sign_box").removeClass("d-none");
                    $("#uwit_sign").attr("src", sign);
                }
            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr);
            }

        });
    };
    //#endregion Get Signature

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout

    //#region Get CheckedValues
    var GetCheckedValues = function (checknames) {
        var checknames = "@Model.crcta_4";

        if (checknames !== null) {

            if (checknames != "") {
                if (checknames == "Yes") {
                    $('#ucrcta_41').attr('checked', 'checked');
                    $("#ucrcta_41").prop("checked", true);

                }
                if (checknames == "No") {
                    $('#ucrcta_42').attr('checked', 'checked');
                    $("#ucrcta_42").prop("checked", true);

                }

            }
        }
    }
//#endregion Get CheckedValues
</script>