
@model BusinessEntities.Accounts.Masters.Items

<div id="mainDiv">
    <div class="modal-header">
        <div class="text-center align-content-center">
            <span class="text-center text-primary font-weight-bold fs-17 p-5">Items Detail</span>
            <input type="hidden" value="@Html.DisplayFor(m => m.itemId)" id="item_id" />
        </div>
        <button aria-label="Close" data-bs-dismiss="modal" class="btn-close" type="button"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <form id="form_ViewItems">
            <div class="row">
                <div class="panel">
                    <div class="panel-body">
                        <div class="expanel expanel-default">
                            <div class="expanel-heading"><span>General Details</span></div>
                            <div class="expanel-body">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-4">
                                        <div class="list-group">
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@Html.DisplayFor(m => m.branch_name)</h5>
                                                </div>
                                                <p class="mb-1">Branch Name</p>
                                            </a>
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@Html.DisplayFor(m => m.item_type)</h5>
                                                </div>
                                                <p class="mb-1">Type</p>
                                            </a>
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@Html.DisplayFor(m => m.item_status)</h5>
                                                </div>
                                                <p class="mb-1">Status</p>
                                            </a>
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@Html.DisplayFor(m => m.item_strength)</h5>
                                                </div>
                                                <p class="mb-1">Strength</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-4">
                                        <div class="list-group">
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@Html.DisplayFor(m => m.item_code)</h5>
                                                </div>
                                                <p class="mb-1">Item Code</p>
                                            </a>
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@Html.DisplayFor(m => m.category_name)</h5>
                                                </div>
                                                <p class="mb-1">Group Name</p>
                                            </a>
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@Html.DisplayFor(m => m.item_brand)</h5>
                                                </div>
                                                <p class="mb-1">Brand</p>
                                            </a>
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@Html.DisplayFor(m => m.item_min_qty)</h5>
                                                </div>
                                                <p class="mb-1">Minimum Qty Alert</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-4">
                                        <div class="list-group">
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@Html.DisplayFor(m => m.item_name)</h5>
                                                </div>
                                                <p class="mb-1">Item Name</p>
                                            </a>
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@Html.DisplayFor(m => m.location_name)</h5>
                                                </div>
                                                <p class="mb-1">Location</p>
                                            </a>
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@Html.DisplayFor(m => m.item_dosage)</h5>
                                                </div>
                                                <p class="mb-1">Dosage</p>
                                            </a>
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@Html.DisplayFor(m => m.item_max_qty)</h5>
                                                </div>
                                                <p class="mb-1">Maximum Qty Alert</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                
                            </div>
                        </div>
                        
                        <div class="expanel expanel-default">
                            <div class="expanel-heading"><span>Current Stock Details</span></div>
                            <div class="expanel-body">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-2">
                                        <div class="list-group">
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">Level 0 Detail</h5>
                                                </div>
                                            </a>
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@Html.DisplayFor(m => m.item_qty)</h5>
                                                </div>
                                                <p class="mb-1">Qty</p>
                                            </a>
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@Html.DisplayFor(m => m.item_uom)</h5>
                                                </div>
                                                <p class="mb-1">UOM</p>
                                            </a>
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@Html.DisplayFor(m => m.item_cost)</h5>
                                                </div>
                                                <p class="mb-1">Cost Price</p>
                                            </a>
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@Html.DisplayFor(m => m.item_sprice)</h5>
                                                </div>
                                                <p class="mb-1">Sale Price</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-3">
                                        <div class="list-group">
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">Multiplication Factor 1</h5>
                                                </div>
                                            </a>
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@Html.DisplayFor(m => m.item_m_factor)</h5>
                                                </div>
                                                <p class="mb-1">Multiplication Factor</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-2">
                                        <div class="list-group">
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">Level 1 Detail</h5>
                                                </div>
                                            </a>
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@Html.DisplayFor(m => m.item_qty2)</h5>
                                                </div>
                                                <p class="mb-1">Qty</p>
                                            </a>
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@Html.DisplayFor(m => m.item_uom2)</h5>
                                                </div>
                                                <p class="mb-1">UOM</p>
                                            </a>
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@Html.DisplayFor(m => m.item_cost2)</h5>
                                                </div>
                                                <p class="mb-1">Cost Price</p>
                                            </a>
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@Html.DisplayFor(m => m.item_sprice2)</h5>
                                                </div>
                                                <p class="mb-1">Sale Price</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-3">
                                        <div class="list-group">
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">Multiplication Factor 2</h5>
                                                </div>
                                            </a>
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@Html.DisplayFor(m => m.item_m_factor2)</h5>
                                                </div>
                                                <p class="mb-1">Multiplication Factor</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-2">
                                        <div class="list-group">
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">Level 2 Detail</h5>
                                                </div>
                                            </a>
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@Html.DisplayFor(m => m.item_qty3)</h5>
                                                </div>
                                                <p class="mb-1">Qty</p>
                                            </a>
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@Html.DisplayFor(m => m.item_uom3)</h5>
                                                </div>
                                                <p class="mb-1">UOM</p>
                                            </a>
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@Html.DisplayFor(m => m.item_cost3)</h5>
                                                </div>
                                                <p class="mb-1">Cost Price</p>
                                            </a>
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@Html.DisplayFor(m => m.item_sprice3)</h5>
                                                </div>
                                                <p class="mb-1">Sale Price</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="expanel expanel-default">
                            <div class="expanel-heading"><span>Opening Stock Details</span></div>
                            <div class="expanel-body">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-3">
                                        <div class="list-group">
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@Html.DisplayFor(m => m.item_opening_date)</h5>
                                                </div>
                                                <p class="mb-1">Opening Stock Date</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-3">
                                        <div class="list-group">
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@Html.DisplayFor(m => m.item_opening_qty)</h5>
                                                </div>
                                                <p class="mb-1">Qty</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-3">
                                        <div class="list-group">
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@Html.DisplayFor(m => m.item_opening_qty2)</h5>
                                                </div>
                                                <p class="mb-1">Qty2</p>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-3">
                                        <div class="list-group">
                                            <a href="javascript:void(0);" class="list-group-item list-group-item-action flex-column align-items-left">
                                                <div class="d-flex w-100 justify-content-between">
                                                    <h5 class="mb-1">@Html.DisplayFor(m => m.item_opening_qty3)</h5>
                                                </div>
                                                <p class="mb-1">Qty3</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row mt-2">
                <div id="error"></div>
                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                    <button type="button" class="btn btn-primary" id="btn_Print" onclick="printContent()">Print</button>
                    <button type="button" id="btn_close" class="btn btn-outline-danger me-1" onclick="closeModel()">
                        Close
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">

    function printContent() {
        var itemId = $('#item_id').val().trim();
        var url = "@Url.Action("PrintItemDetail", "CentralStore", new { area = "MaterialManagement", itemId = "__id__" })"
        url = url.replace("__id__", itemId);
        var win = window.open(url, '_blank', 'location=yes,height=auto,width=auto,scrollbars=yes,status=yes');

        if (win) {
            win.focus();
        }
        else {
            $('#ItemsViewPrint_modal').modal('toggle');
            Swal.fire({
                title: "Warning!",
                text: "Please allow popups for this website!",
                icon: "warning",
                showCancelButton: 0,
                confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
            });
        }
    }
    function closeModel() {
        $('#ItemsViewPrint_modal').modal('hide');
    }
</script>