@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Gyn Exam Form";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Gyn Exam Form</h3>
            </div>
            <div class="card-body">
                <div id="GynExamForm_add" style="display:none">
                </div>
                <div id="GynExamForm_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="GynExamForm_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetGynExamFormInfo();
        GynExamFormPreviousHistory();
    });
    //#endregion

    //#region Load GetGynExamFormInfo
    var GetGynExamFormInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetGynExamFormData", "GynExamForm", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditGynExamForm();
                        $("#GynExamForm_add").hide();
                        $("#GynExamForm_edit").show();

                    }
                    else {
                        $("#GynExamForm_add").show();
                        $("#GynExamForm_edit").hide();
                        AddGynExamForm();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load GynExamForm

    //#region Add GynExamForm
    function AddGynExamForm() {
        var x = $("#GynExamForm_add");
        x.load("@Url.Action("CreateGynExamForm", "GynExamForm", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add GynExamForm

    //#region Update GynExamForm
    function EditGynExamForm() {
        var x = $("#GynExamForm_edit");
        x.load("@Url.Action("UpdateGynExamForm", "GynExamForm", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update GynExamForm

    //#region Histroy of GynExamForm
    function GynExamFormPreviousHistory() {
        var x = $("#GynExamForm_history");
        x.load("@Url.Action("GynExamFormPreviousHistory", "GynExamForm", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>