@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMR.CrownOrder
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<form id="form_CrownOder" autocomplete="off" name="SickLeave" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Premium Australian Made" id="1">
                        <span class="custom-control-label">Premium Australian Made</span>
                    </label>
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Standard" id="2">
                        <span class="custom-control-label">Standard</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-11 col-md-12 col-lg-4 d-inline-flex">
            <div class="form-group mb-3">
                <label class="form-label text-black">Order Number&nbsp;: @Model.c_Id&nbsp;</label>
            </div>
        </div>
    </div>
    <div class="border ">
        <div class="row">
            <div class=" col-sm-12 col-sm-6 col-lg-2">
                <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name&nbsp;</label></div>
            </div>
            <div class=" col-sm-12 col-sm-6 col-lg-2">
                <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
            </div>
            <div class=" col-sm-12 col-sm-6 col-lg-2">
                <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID&nbsp;</label></div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-2">
                <label class="form-label text-red text-left">@emr.pat_emirateid&nbsp;</label>
            </div>
            <div class=" col-sm-12 col-sm-6 col-lg-2">
                <div class="form-group mb-3"><label class="form-label text-black"> Email&nbsp;</label></div>
            </div>
            <div class=" col-sm-12 col-sm-6 col-lg-2">
                <label class="form-label text-red text-left">@emr.pat_email&nbsp;</label>
            </div>
        </div>
        <div class="row">
            <div class=" col-sm-12 col-sm-6 col-lg-2">
                <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No &nbsp;</label></div>

            </div>

            <div class=" col-sm-12 col-sm-6 col-lg-2">
                <label class="form-label text-red text-left">@emr.pat_code&nbsp;</label>
            </div>
            <div class=" col-sm-12 col-sm-6 col-lg-2">
                <div class="form-group mb-3"><label class="form-label text-black"> DOB&nbsp;</label></div>

            </div>
            <div class=" col-sm-12 col-sm-6 col-lg-2">
                <label class="form-label text-red text-left">@emr.pat_dob&nbsp;</label>
            </div>

            <div class=" col-sm-12 col-sm-6 col-lg-2">
                <div class="form-group mb-3"><label class="form-label text-black"> Nationality:&nbsp;</label></div>
            </div>
            <div class=" col-sm-12 col-sm-6 col-lg-2">
                <label class="form-label text-red text-left">@emr.pat_nationality&nbsp;</label>
            </div>

        </div>
        <div class="row">
            <div class=" col-sm-12 col-sm-6 col-lg-2">
                <div class="form-group mb-3"><label class="form-label text-black">Practice&nbsp;</label></div>

            </div>

            <div class=" col-sm-12 col-sm-6 col-lg-2">
                <label class="form-label text-red text-left">@emr.emp_speciality&nbsp;</label>
            </div>
            <div class=" col-sm-12 col-sm-6 col-lg-2">
                <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name	&nbsp;</label></div>

            </div>
            <div class=" col-sm-12 col-sm-6 col-lg-2">
                <label class="form-label text-red text-left">@emr.doc_name&nbsp;</label>
            </div>

            <div class=" col-sm-12 col-sm-6 col-lg-2">
                <div class="form-group mb-3"><label class="form-label text-black">Date&nbsp;</label></div>
            </div>
            <div class=" col-sm-12 col-sm-6 col-lg-2">
                <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
            </div>


        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-12">
            <div class="form-group mb-3">
                <label class="form-label">Work Required By&nbsp;</label>
                @Html.TextBoxFor(m => m.c_requiredBy, new { @class = "form-control", @placeholder = "Enter Work Required By:", @id = "c_requiredBy" })
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-12 ">
            <div class="d-flex flex-row justify-content-between bg-light mb-4 ">
                <label class="text-black p-3 align-items-center ">WE REQUIRE 10 WORKING DAYS FROM ARRIVAL IN LAB & 15 DAYS FOR ANTERIOR 6 UNIT + CASES (PREMIUM ONLY)&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label">Fast Track&nbsp;</label>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Reduction of Prep" id="3">
                        <span class="custom-control-label">Reduction of Prep</span>
                    </label>
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Metal Island" id="4">
                        <span class="custom-control-label">Metal Island</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label">If insufficient clearance&nbsp;</label>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Reduction of Opposing" id="5">
                        <span class="custom-control-label">Premium Australian Made</span>
                    </label>
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Email Dentist" id="6">
                        <span class="custom-control-label">Email Dentist</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label">Start Date&nbsp;</label>
                <div class="form-group mb-3 text-center">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fe fe-calendar"></i>
                            </div>
                        </div>
                        @Html.TextBoxFor(m => m.c_start_date, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "c_start_date" })
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <div class="form-group">
                <label class="form-label">Completion Date&nbsp;</label>
                <div class="form-group mb-3 text-center">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fe fe-calendar"></i>
                            </div>
                        </div>
                        @Html.TextBoxFor(m => m.c_Completion_date, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "c_Completion_date" })
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label">Number of Days&nbsp;</label>
                @Html.TextBoxFor(m => m.c_toothNo, new { @class = "form-control", @placeholder = "EX:2", @id = "c_toothNo" })
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-12">
            <div class="form-group mb-3">
                <label class="form-label text-black">Instructions&nbsp;</label>
                @Html.TextAreaFor(m => m.c_instrns, new { @class = "form-control", @placeholder = "Enter Tooth mobility", @row = "2" })
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="form-group mb-3">
                <label class="form-label">Restoration type&nbsp;</label>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Crown" id="3">
                        <span class="custom-control-label">Crown</span>
                    </label>
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Bridge" id="4">
                        <span class="custom-control-label">Bridge</span>
                    </label>

                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Maryland Bridge" id="4">
                        <span class="custom-control-label">Maryland Bridge</span>
                    </label>
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Temporary Crown PMMA" id="4">
                        <span class="custom-control-label">Temporary Crown PMMA</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">

                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Post and Core" id="4">
                        <span class="custom-control-label">Post and Core</span>
                    </label>
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Veneer" id="4">
                        <span class="custom-control-label">Veneer</span>
                    </label>

                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Suprinity Crown" id="4">
                        <span class="custom-control-label">Suprinity Crown</span>
                    </label>
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Inlay/Onlay" id="4">
                        <span class="custom-control-label">Inlay/Onlay</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label">All ceramic&nbsp;</label>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">

                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Empress Esthetic" id="4">
                        <span class="custom-control-label">Empress Esthetic</span>
                    </label>
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Zirconia Layered" id="4">
                        <span class="custom-control-label">Zirconia Layered</span>
                    </label>

                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Lava" id="4">
                        <span class="custom-control-label">Lava</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">

                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Monolithic Zirconia" id="4">
                        <span class="custom-control-label">Monolithic Zirconia</span>
                    </label>
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Procera" id="4">
                        <span class="custom-control-label">Procera</span>
                    </label>
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="e.Max" id="3">
                        <span class="custom-control-label">e.Max</span>
                    </label>
                </div>

            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-5">
            <div class="form-group mb-3">
                <label class="form-label">Abutment type&nbsp;</label>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">

                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Cares Cad/Cam" id="4">
                        <span class="custom-control-label">Cares Cad/Cam</span>
                    </label>
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Atlantis CAD/CAM" id="4">
                        <span class="custom-control-label">Atlantis CAD/CAM</span>
                    </label>
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Noble Biocare CAD/CAM" id="4">
                        <span class="custom-control-label">Noble Biocare CAD/CAM</span>
                    </label>
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Titanium" id="4">
                        <span class="custom-control-label">Titanium</span>
                    </label>
                </div>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">

                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Custom Gold Abutment" id="4">
                        <span class="custom-control-label">Custom Gold Abutment</span>
                    </label>
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Dynamic Abutment Angle Correction" id="4">
                        <span class="custom-control-label">Dynamic Abutment Angle Correction</span>
                    </label>

                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Zirconia" id="3">
                        <span class="custom-control-label">Zirconia</span>
                    </label>

                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-7">
            <div class="form-group mb-3">
                <label class="form-label">Implant crown&nbsp;</label>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Cement Retained" id="3">
                        <span class="custom-control-label">Cement Retained</span>
                    </label>
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Screw retained(Occusaly)" id="4">
                        <span class="custom-control-label">Screw retained(Occusaly)</span>
                    </label>

                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Cross pin(lingually)" id="4">
                        <span class="custom-control-label">Cross pin(lingually)</span>
                    </label>
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Temporary Crown PMMA" id="4">
                        <span class="custom-control-label">Temporary Crown PMMA</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label">Shade Procedure&nbsp;</label>
                @Html.TextBoxFor(m => m.c_system, new { @class = "form-control", @placeholder = "EX:2", @id = "c_system" })
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label">Stump Shade Diameter&nbsp;</label>
                @Html.TextBoxFor(m => m.c_diameter, new { @class = "form-control", @placeholder = "EX:2", @id = "c_diameter" })
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="form-group mb-3">
                <label class="form-label">Procelanin fused to metal&nbsp;</label>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Semi Precious" id="3">
                        <span class="custom-control-label">Semi Precious</span>
                    </label>
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="Non Precious" id="4">
                        <span class="custom-control-label">Non Precious</span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5 mt-5">
        <div class="col-sm-12 col-md-6 col-lg-12">
            <div class="text-justify fs-14">
                This is to certify that the above-named patient is suffering from &nbsp;
                @*@Html.TextBoxFor(m => m.sl_disease, new { @class = "form-control form-control-sm", @placeholder = "Enter Disease", @id = "sl_disease" }) &nbsp;
                    and he/she is getting treatment since &nbsp;

                    @Html.TextBoxFor(m => m.sl_date1, new { @class = "form-control form-control-sm", @placeholder = "DD-MMMM-YYYY", @id = "sl_date1" })
                    He/she is not fit for work and advised to take rest for &nbsp;
                    @Html.TextBoxFor(m => m.sl_rest, new { @class = "form-control form-control-sm", @placeholder = "Enter Days", @id = "sl_rest" }) &nbsp;
                    Days with effect from&nbsp;

                    @Html.TextBoxFor(m => m.sl_date2, new { @class = "form-control form-control-sm", @placeholder = "DD-MMMM-YYYY", @id = "sl_date2" })*@

            </div>


        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="form-group mb-3">
            <p style="text-align:justify">
                Sincerely Yours,
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11 col-md-12 col-lg-4">
            <span class="text-capitalize text-left text-red">@emr.doc_name&nbsp;</span>
            <span class="text-capitalize text-left text-red">@emr.emp_license&nbsp;</span>
            <label class="form-label mb-2">
                Doctor Name & Licence
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11 col-md-12 col-lg-4">
            <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
            <label class="form-label mb-2">
                Signature/Stamp
            </label>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-sm btn-success" id="btn_Insert_CrownOder">Add</button>
                <button type="button" class="btn btn-sm btn-outline-dark" id="btn_Reset_CrownOder">Reset</button>
            </div>
        </div>
    </div>
</form>