@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMR.MedicalHistory
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_EditMedHis" class="needs-validation" >

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.oeId)
    @Html.HiddenFor(m => m.oe_appId)
    @Html.HiddenFor(m => m.oeId, new { @id = "uoeId", @value = "@Model.oeId" })
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-12 mb-4 ">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-2">
                    <div>
                        <h4 class="page-title mb-0 text-primary">
                            Medical History
                        </h4>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="form-group mb-3">
                        <label class="form-label text-black">Infecious Disease&nbsp;</label>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="uoe_infecious" value="Yes" id="u1">
                                <span class="custom-control-label">Yes</span>
                            </label>
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="uoe_infecious" value="No" id="u2">
                                <span class="custom-control-label">No</span>
                            </label>

                        </div>
                        @Html.TextBoxFor(m => m.oe_infecious_other, new { @class = "form-control", @placeholder = "Enter Infecious Disease", @id = "uoe_infecious_other" })
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="form-group mb-3">
                        <label class="form-label text-black">Past Medication&nbsp;</label>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="uoe_past_med" value="Yes" id="u3">
                                <span class="custom-control-label">Yes</span>
                            </label>
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="uoe_past_med" value="No" id="u4">
                                <span class="custom-control-label">No</span>
                            </label>

                        </div>
                        @Html.TextBoxFor(m => m.oe_past_med_other, new { @class = "form-control", @placeholder = "Enter Past Medication", @id = "uoe_past_med_other" })
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="form-group mb-3">
                        <label class="form-label text-black">Fall Risk&nbsp;</label>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="uoe_fall_risk" value="Yes" id="u5">
                                <span class="custom-control-label">Yes</span>
                            </label>
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="uoe_fall_risk" value="No" id="u6">
                                <span class="custom-control-label">No</span>
                            </label>
                            <span class="ms-2 mb-2">
                                @Html.DropDownListFor(m => m.oe_fall_risk_type, new List<SelectListItem>
                               {
                                   new SelectListItem{ Text="No Risk", Value = "No Risk" },
                                   new SelectListItem{ Text="Low Risk", Value = "Low Risk" },
                                   new SelectListItem{ Text="High Risk", Value = "High Risk" },
                               }, "Select Type", new { @class = "form-select select2", @id = "uoe_fall_risk_type" })
                            </span>
                        </div>
                        @Html.TextBoxFor(m => m.oe_fall_risk_other, new { @class = "form-control", @placeholder = "Enter Past Medication", @id = "uoe_fall_risk_other" })

                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="form-group mb-3">
                        <label class="form-label text-black">Psychological History&nbsp;<span class="text-danger">*</span></label>
                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="uoe_systemic" value="Yes" id="u7">
                                <span class="custom-control-label">Yes</span>
                            </label>
                            <label class="custom-control custom-radio  ms-2">
                                <input type="radio" class="custom-control-input" name="uoe_systemic" value="No" id="u8">
                                <span class="custom-control-label">No</span>
                            </label>
                        </div>
                        @Html.TextBoxFor(m => m.oe_systemic_other, new { @class = "form-control", @placeholder = "Enter Psychological History", @id = "uoe_systemic_other" })
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-12">
                    <div class="form-group mb-3">
                        <label class="form-label text-black">Notes&nbsp;</label>
                        @Html.TextAreaFor(m => m.oe_notes, new { @class = "form-control", @placeholder = "Enter Med Notes", @row = "6", @id = "uoe_notes" })
                    </div>
                </div>

            </div>
            <div class="row mt-2">
                <div class="col-sm-12 col-md-6 col-lg-12 text-center">
                    <div class="btn-list btn-animation">
                        <button type="submit" class="btn btn-sm btn-warning" id="btn_Update_MedHis">Save Changes</button>
                        <button type="submit" class="btn btn-sm btn-outline-danger" id="btn_Delete_MedHis">Delete</button>
                        <button type="submit" class="btn btn-sm btn-outline-light" id="btn_Print_MedHis" onclick="PrintMedicalHistory(@Model.oeId)">
                            <i class="fa fa-print">&nbsp;&nbsp;</i>Print
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<script>
    //#region Page Load
        $(function () {
            validate();
            if ("@emp_designation.ToString()" === "Super Administrator") {
                $("#btn_Update_MedHis,#btn_Delete_MedHis").show();
            } else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Update_MedHis,#btn_Delete_MedHis").show();

                }
                else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Update_MedHis,#btn_Delete_MedHis").show();
                    }
                    else {
                        $("#btn_Update_MedHis,#btn_Delete_MedHis").hide();
                    }
                }
            }
            GetCheckedValues();
            $("#uoe_fall_risk_type").select2({
                placeholder: 'Select Type',
                width: '100%',
                minimumResultsForSearch: '',
                dropdownParent: $('#form_EditMedHis'),
                escapeMarkup: function (markup) {
                    return markup;
                }
            });


        });

    //#endregion Page Load

    //#region Get CheckedValues
    var GetCheckedValues = function () {
        var oe_1_ = "@Model.oe_infecious";
        if (oe_1_ !== "") {
            var uoe_1_ = $("input[name='uoe_infecious'][value='" + "@Model.oe_infecious" + "']").attr("id");
            $("#" + uoe_1_).attr('checked', 'checked');
            $("#" + uoe_1_).prop("checked", true);
        }
        var oe_2_ = "@Model.oe_past_med";
        if (oe_2_ !== "") {
            var uoe_2_ = $("input[name='uoe_past_med'][value='" + "@Model.oe_past_med" + "']").attr("id");
            $("#" + uoe_2_).attr('checked', 'checked');
            $("#" + uoe_2_).prop("checked", true);
        }

        var oe_3_ = "@Model.oe_fall_risk";
        if (oe_3_ !== "") {
            var uoe_3_ = $("input[name='uoe_fall_risk'][value='" + "@Model.oe_fall_risk" + "']").attr("id");
            $("#" + uoe_3_).attr('checked', 'checked');
            $("#" + uoe_3_).prop("checked", true);
        }
         var oe_4_ = "@Model.oe_systemic";
        if (oe_4_ !== "") {
            var uoe_4_ = $("input[name='uoe_systemic'][value='" + "@Model.oe_systemic" + "']").attr("id");
            $("#" + uoe_4_).attr('checked', 'checked');
            $("#" + uoe_4_).prop("checked", true);
        }
    }
    //#endregion Get CheckedValues

    //#region Update  Button Click
        $('#btn_Update_MedHis').on('click', function (e) {
             e.preventDefault();
            if ($("#form_EditMedHis").valid()) {
                $('#btn_Update_MedHis').removeClass("btn btn-sm btn-success");
                $('#btn_Update_MedHis').addClass("btn btn-sm btn-success btn-loaders btn-icon");
                $('#btn_Update_MedHis').html("Updating the Record....");

                var _dataInsert = {
                    "oeId": @Model.oeId,
                    "oe_appId": $("#oe_appId").val(),
                    "oe_infecious": $("input[name='uoe_infecious']:checked").val(),
                    "oe_past_med": $("input[name='uoe_past_med']:checked").val(),
                    "oe_fall_risk": $("input[name='uoe_fall_risk']:checked").val(),
                    "oe_systemic": $("input[name='uoe_systemic']:checked").val(),
                    "oe_fall_risk_other": $("#uoe_fall_risk_other").val(),
                    "oe_infecious_other": $("#uoe_infecious_other").val(),
                    "oe_past_med_other": $("#uoe_past_med_other").val(),
                    "oe_fall_risk_other": $("#uoe_fall_risk_other").val(),
                    "oe_systemic_other": $("#uoe_systemic_other").val(),
                    "oe_notes": $("#uoe_notes").val(),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dataInsert)
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateMedicalHistory", "DentalHistory", new { area = "EMR" })",
                    dataType: 'JSON',
                    data: _dataInsert,
                    success: function (data) {
                        $('#btn_Update_MedHis').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                        $('#btn_Update_MedHis').addClass("btn btn-sm btn-warning");
                        $('#btn_Update_MedHis').html("Save Changes");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> SoftTissue Updated Successfully!", "success");
                                Timeout();
                                GetMedicalHistory();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. SoftTissue Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Update_MedHis').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                        $('#btn_Update_MedHis').addClass("btn btn-sm btn-warning");
                        $('#btn_Update_MedHis').html("Save Changes");
                        Timeout();
                    }
                });
            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion Update  Button Click


    //#region Delete Click
        $('#btn_Delete_MedHis').on('click', function (e) {
            e.preventDefault();
            $('#btn_Delete_MedHis').removeClass("btn btn-sm btn-success");
            $('#btn_Delete_MedHis').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Delete_MedHis').html("Deleting the Record....");

                $.ajax({
                    url: '@Url.Action("DeleteMedicalHistory", "DentalHistory", new { area = "EMR" })?oeId=' + @Model.oeId,
                    type: "POST",
                    dataType: 'JSON',
                    success: function (data) {
                        $('#btn_Delete_MedHis').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                        $('#btn_Delete_MedHis').addClass("btn btn-sm btn-warning");
                        $('#btn_Delete_MedHis').html("Delete");
                        if (data.isAuthorized) {
                            if (data.success) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Past/Family History Deleted Successfully!", "success");
                                clearControls();
                                GetMedicalHistory();
                                GetPreviousMedicalHistory();
                                Timeout();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Error!.. Failed to Delete..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Delete_MedHis').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                        $('#btn_Delete_MedHis').addClass("btn btn-sm btn-Delete");
                        $('#btn_Delete_MedHis').html("Delete");
                        Timeout();
                    }
                })
        });
    //#endregion Delete Click

    //#region Validation Initialization
        var validate = function () {

            $("#form_EditMedHis").validate({
                rules: {
                    uoe_systemic_other: {
                        required: true
                    },

                },
                messages: {
                    uoe_systemic_other: {
                        required: "Please Other Past History!"
                    },

                },
                highlight: function (element) {
                    var elem = $(element);
                    $(element).parent().addClass('has-error');
                    error_timeout(elem.attr("id"));
                },
                unhighlight: function (element) {
                    var elem = $(element);
                    $(element).parent().removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'text-danger fw-bold',
                errorPlacement: function (error, element) {
                    var elem = $(element);
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

        }
    //#endregion Validation Initialization

    //#region Clear Controls
        var clearControls = function () {
            $(".form-control").val("");
            $(".custom-control-input").prop("checked", false);

        }
    //#endregion Clear Controls
</script>