
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMR.DentalHistory
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_EditDentHis" class="needs-validation" >

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.pdId)
    @Html.HiddenFor(m => m.pd_appId)
    @Html.HiddenFor(m => m.pdId, new { @id = "updId", @value = "@Model.pdId" })
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-12 mb-4 ">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-2">
                    <div>
                        <h4 class="page-title mb-0 text-primary">
                            Dental History
                        </h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-12">
                    <table class="table table-bordered card-table table-vcenter text-nowrap ">
                        <thead>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="form-label text-black" colspan="6">Dental History</td>
                            </tr>
                            <tr>
                                <td class="text-black w-10">1. Are you under medical treatment now ?</td>
                                <td class="text-black w-2">:</td>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-radio  ms-2">
                                            <input type="radio" class="custom-control-input" name="pd_medicaltreat" value="Yes" id="u1">
                                            <span class="custom-control-label">Yes</span>
                                        </label>
                                        <label class="custom-control custom-radio  ms-2">
                                            <input type="radio" class="custom-control-input" name="pd_medicaltreat" value="No" id="u2">
                                            <span class="custom-control-label">No</span>
                                        </label>
                                    </div>
                                </td>
                                <td class="text-black w-10">2. Have you ever been hospitalized for any surgical operation or serious illeness ?</td>
                                <td class="text-black w-2">:</td>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-radio  ms-2">
                                            <input type="radio" class="custom-control-input" name="pd_hospitalized" value="Yes" id="u3">
                                            <span class="custom-control-label">Yes</span>
                                        </label>
                                        <label class="custom-control custom-radio  ms-2">
                                            <input type="radio" class="custom-control-input" name="pd_hospitalized" value="No" id="u4">
                                            <span class="custom-control-label">No</span>
                                        </label>

                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-black w-10">
                                    3. Are you taking any medications including non-prescription medications?<br />
                                    If yes what medications are you taking ?
                                </td>
                                <td class="text-black w-2">:</td>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-radio  ms-2">
                                            <input type="radio" class="custom-control-input" name="pd_medications" value="Yes" id="u6">
                                            <span class="custom-control-label">Yes</span>
                                        </label>
                                        <label class="custom-control custom-radio  ms-2">
                                            <input type="radio" class="custom-control-input" name="pd_medications" value="No" id="u7">
                                            <span class="custom-control-label">No</span>
                                        </label>
                                        <span class="ms-2 mb-2"> @Html.TextBoxFor(m => m.pd_medicationsyes, new { @class = "form-control", @placeholder = "Enter text", @id = "pd_medicationsyes", @width = "10px" })</span>
                                    </div>
                                </td>
                                <td class="text-black w-10">4. Do you use tobacco ?</td>
                                <td class="text-black w-2">:</td>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-radio  ms-2">
                                                <input type="radio" class="custom-control-input" name="pd_tobacco" value="Yes" id="u8">
                                                <span class="custom-control-label">Yes</span>
                                            </label>
                                            <label class="custom-control custom-radio  ms-2">
                                                <input type="radio" class="custom-control-input" name="pd_tobacco" value="No" id="u9">
                                                <span class="custom-control-label">No</span>
                                            </label>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-black w-10">
                                    5. Do your gums bleed while brushing or flossing?
                                </td>
                                <td class="text-black w-2">:</td>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-radio  ms-2">
                                            <input type="radio" class="custom-control-input" name="pd_gums" value="Yes" id="u10">
                                            <span class="custom-control-label">Yes</span>
                                        </label>
                                        <label class="custom-control custom-radio  ms-2">
                                            <input type="radio" class="custom-control-input" name="pd_gums" value="No" id="u11">
                                            <span class="custom-control-label">No</span>
                                        </label>
                                    </div>
                                </td>
                                <td class="text-black w-10">6. Are your teeth sensitive to hot or cold liquids / foods?</td>
                                <td class="text-black w-2">:</td>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-radio  ms-2">
                                                <input type="radio" class="custom-control-input" name="pd_hotcold" value="Yes" id="u12">
                                                <span class="custom-control-label">Yes</span>
                                            </label>
                                            <label class="custom-control custom-radio  ms-2">
                                                <input type="radio" class="custom-control-input" name="pd_hotcold" value="No" id="u13">
                                                <span class="custom-control-label">No</span>
                                            </label>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-black w-10">
                                    7. Are your teeth sensitive to sweet or sour liquids / foods?
                                </td>
                                <td class="text-black w-2">:</td>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-radio  ms-2">
                                            <input type="radio" class="custom-control-input" name="pd_sweetsour" value="Yes" id="u14">
                                            <span class="custom-control-label">Yes</span>
                                        </label>
                                        <label class="custom-control custom-radio  ms-2">
                                            <input type="radio" class="custom-control-input" name="pd_sweetsour" value="No" id="u15">
                                            <span class="custom-control-label">No</span>
                                        </label>
                                    </div>
                                </td>
                                <td class="text-black w-10">8. Do you feel pain to any of your teeth ?</td>
                                <td class="text-black w-2">:</td>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-radio  ms-2">
                                                <input type="radio" class="custom-control-input" name="pd_teethpain" value="Yes" id="u16">
                                                <span class="custom-control-label">Yes</span>
                                            </label>
                                            <label class="custom-control custom-radio  ms-2">
                                                <input type="radio" class="custom-control-input" name="pd_teethpain" value="No" id="u17">
                                                <span class="custom-control-label">No</span>
                                            </label>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-black w-10">
                                    9. Do you have any sores or jumps in or near your mouth ?
                                </td>
                                <td class="text-black w-2">:</td>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-radio  ms-2">
                                            <input type="radio" class="custom-control-input" name="pd_soresjumps" value="Yes" id="u18">
                                            <span class="custom-control-label">Yes</span>
                                        </label>
                                        <label class="custom-control custom-radio  ms-2">
                                            <input type="radio" class="custom-control-input" name="pd_soresjumps" value="No" id="u19">
                                            <span class="custom-control-label">No</span>
                                        </label>
                                    </div>
                                </td>
                                <td class="text-black w-10">10. Have you had any head, neck or jaw injuries ?</td>
                                <td class="text-black w-2">:</td>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-radio  ms-2">
                                                <input type="radio" class="custom-control-input" name="pd_headinjuries" value="Yes" id="u20">
                                                <span class="custom-control-label">Yes</span>
                                            </label>
                                            <label class="custom-control custom-radio  ms-2">
                                                <input type="radio" class="custom-control-input" name="pd_headinjuries" value="No" id="u21">
                                                <span class="custom-control-label">No</span>
                                            </label>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-black w-10">
                                    10a). Clicking ?
                                </td>
                                <td class="text-black w-2">:</td>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-radio  ms-2">
                                            <input type="radio" class="custom-control-input" name="pd_clicking" value="Yes" id="u22">
                                            <span class="custom-control-label">Yes</span>
                                        </label>
                                        <label class="custom-control custom-radio  ms-2">
                                            <input type="radio" class="custom-control-input" name="pd_clicking" value="No" id="u23">
                                            <span class="custom-control-label">No</span>
                                        </label>
                                    </div>
                                </td>
                                <td class="text-black w-10">  10b). Pain (joint, ear, side of face)</td>
                                <td class="text-black w-2">:</td>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-radio  ms-2">
                                                <input type="radio" class="custom-control-input" name="pd_pain" value="Yes" id="u24">
                                                <span class="custom-control-label">Yes</span>
                                            </label>
                                            <label class="custom-control custom-radio  ms-2">
                                                <input type="radio" class="custom-control-input" name="pd_pain" value="No" id="u25">
                                                <span class="custom-control-label">No</span>
                                            </label>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-black w-10">
                                    10c). Difficulty in opening or closing
                                </td>
                                <td class="text-black w-2">:</td>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-radio  ms-2">
                                            <input type="radio" class="custom-control-input" name="pd_openingclosing" value="Yes" id="u26">
                                            <span class="custom-control-label">Yes</span>
                                        </label>
                                        <label class="custom-control custom-radio  ms-2">
                                            <input type="radio" class="custom-control-input" name="pd_openingclosing" value="No" id="u27">
                                            <span class="custom-control-label">No</span>
                                        </label>
                                    </div>
                                </td>
                                <td class="text-black w-10">  10d). Difficulty in chewing ?</td>
                                <td class="text-black w-2">:</td>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-radio  ms-2">
                                                <input type="radio" class="custom-control-input" name="pd_chewing" value="Yes" id="u28">
                                                <span class="custom-control-label">Yes</span>
                                            </label>
                                            <label class="custom-control custom-radio  ms-2">
                                                <input type="radio" class="custom-control-input" name="pd_chewing" value="No" id="u29">
                                                <span class="custom-control-label">No</span>
                                            </label>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-black w-10">
                                    11. Do you clench or grind your teeth ?
                                </td>
                                <td class="text-black w-2">:</td>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-radio  ms-2">
                                            <input type="radio" class="custom-control-input" name="pd_clench" value="Yes" id="u30">
                                            <span class="custom-control-label">Yes</span>
                                        </label>
                                        <label class="custom-control custom-radio  ms-2">
                                            <input type="radio" class="custom-control-input" name="pd_clench" value="No" id="u31">
                                            <span class="custom-control-label">No</span>
                                        </label>
                                    </div>
                                </td>
                                <td class="text-black w-10">  12. Do you bite your lips or cheecks frequently ?</td>
                                <td class="text-black w-2">:</td>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-radio  ms-2">
                                                <input type="radio" class="custom-control-input" name="pd_bitelips" value="Yes" id="u32">
                                                <span class="custom-control-label">Yes</span>
                                            </label>
                                            <label class="custom-control custom-radio  ms-2">
                                                <input type="radio" class="custom-control-input" name="pd_bitelips" value="No" id="u33">
                                                <span class="custom-control-label">No</span>
                                            </label>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-black w-10">
                                    13. Have you ever had any difficult extractions in the past ?
                                </td>
                                <td class="text-black w-2">:</td>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-radio  ms-2">
                                            <input type="radio" class="custom-control-input" name="pd_difficultextract" value="Yes" id="u34">
                                            <span class="custom-control-label">Yes</span>
                                        </label>
                                        <label class="custom-control custom-radio  ms-2">
                                            <input type="radio" class="custom-control-input" name="pd_difficultextract" value="No" id="u35">
                                            <span class="custom-control-label">No</span>
                                        </label>
                                    </div>
                                </td>
                                <td class="text-black w-10"> 14. Have you ever had prolonged bleeding following extractions ?</td>
                                <td class="text-black w-2">:</td>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-radio  ms-2">
                                                <input type="radio" class="custom-control-input" name="pd_prolonged" value="Yes" id="36">
                                                <span class="custom-control-label">Yes</span>
                                            </label>
                                            <label class="custom-control custom-radio  ms-2">
                                                <input type="radio" class="custom-control-input" name="pd_prolonged" value="No" id="u37">
                                                <span class="custom-control-label">No</span>
                                            </label>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-black w-10">
                                    15. Have you ever had instructions on the care of your gems ?
                                </td>
                                <td class="text-black w-2">:</td>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-radio  ms-2">
                                            <input type="radio" class="custom-control-input" name="pd_gems" value="Yes" id="u38">
                                            <span class="custom-control-label">Yes</span>
                                        </label>
                                        <label class="custom-control custom-radio  ms-2">
                                            <input type="radio" class="custom-control-input" name="pd_gems" value="No" id="u39">
                                            <span class="custom-control-label">No</span>
                                        </label>
                                    </div>
                                </td>
                                <td class="text-black w-10"> 16. Have you undergone any filling in the past ?</td>
                                <td class="text-black w-2">:</td>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-radio  ms-2">
                                                <input type="radio" class="custom-control-input" name="pd_filling" value="Yes" id="u40">
                                                <span class="custom-control-label">Yes</span>
                                            </label>
                                            <label class="custom-control custom-radio  ms-2">
                                                <input type="radio" class="custom-control-input" name="pd_filling" value="No" id="u41">
                                                <span class="custom-control-label">No</span>
                                            </label>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="form-label text-black" colspan="6">Women Only</td>
                            </tr>
                            <tr>
                                <td class="text-black w-10">
                                    a. Are you under medical treatment now ?
                                </td>
                                <td class="text-black w-2">:</td>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-radio  ms-2">
                                            <input type="radio" class="custom-control-input" name="pd_w_medicaltreat" value="Yes" id="u42">
                                            <span class="custom-control-label">Yes</span>
                                        </label>
                                        <label class="custom-control custom-radio  ms-2">
                                            <input type="radio" class="custom-control-input" name="pd_w_medicaltreat" value="No" id="u43">
                                            <span class="custom-control-label">No</span>
                                        </label>
                                    </div>
                                </td>
                                <td class="text-black w-10"> b. Have you ever been hospitalized for any surgical operation or serious illeness ?</td>
                                <td class="text-black w-2">:</td>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                            <label class="custom-control custom-radio  ms-2">
                                                <input type="radio" class="custom-control-input" name="pd_w_hospitalized" value="Yes" id="u44">
                                                <span class="custom-control-label">Yes</span>
                                            </label>
                                            <label class="custom-control custom-radio  ms-2">
                                                <input type="radio" class="custom-control-input" name="pd_w_hospitalized" value="No" id="u45">
                                                <span class="custom-control-label">No</span>
                                            </label>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-black w-10">
                                    c. Are you taking any medications including non-prescription medications?
                                </td>
                                <td class="text-black w-2">:</td>
                                <td>
                                    <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <label class="custom-control custom-radio  ms-2">
                                            <input type="radio" class="custom-control-input" name="pd_w_medications" value="Yes" id="u46">
                                            <span class="custom-control-label">Yes</span>
                                        </label>
                                        <label class="custom-control custom-radio  ms-2">
                                            <input type="radio" class="custom-control-input" name="pd_w_medications" value="No" id="u47">
                                            <span class="custom-control-label">No</span>
                                        </label>
                                    </div>
                                </td>
                                <td class="text-black w-10">d. H/o of Amenorrhoea, if yes, specify duration/H/o of location ?</td>
                                <td class="text-black w-2">:</td>
                                <td>
                                    <div class="input-group mb-3 text-center">
                                        <span class="ms-2 mb-2"> @Html.TextBoxFor(m => m.pd_w_amenorrhoea, new { @class = "form-control", @placeholder = "Enter text", @id = "upd_w_amenorrhoea", @width = "10px" })</span>

                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-black w-10">
                                    Date of Last Dental Exam
                                </td>
                                <td class="text-black w-2">:</td>
                                <td>
                                    <div class="form-group mb-3 text-center">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fe fe-calendar"></i>
                                                </div>
                                            </div>
                                            @Html.TextBoxFor(m => m.pd_last_dental_exam, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "upd_last_dental_exam" })
                                        </div>

                                    </div>
                                </td>
                                <td class="text-black w-10"></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm-12 col-md-6 col-lg-12 text-center">
                    <div class="btn-list btn-animation">
                        <button type="submit" class="btn btn-sm btn-warning" id="btn_Update_DentHis">Save Changes</button>
                        <button type="submit" class="btn btn-sm btn-outline-danger" id="btn_Delete_DentHis">Delete</button>
                        <button type="submit" class="btn btn-sm btn-outline-light" id="btn_Print_DentHis" onclick="PrintDentalHistory(@Model.pdId)">
                            <i class="fa fa-print">&nbsp;&nbsp;</i>Print
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>


<script>
    //#region Page Load
        $(function () {
           
            if ("@emp_designation.ToString()" === "Super Administrator") {
                $("#btn_Update_DentHis,#btn_Delete_DentHis").show();
            } else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Update_DentHis,#btn_Delete_DentHis").show();

                }
                else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Update_DentHis,#btn_Delete_DentHis").show();
                    }
                    else {
                        $("#btn_Update_DentHis,#btn_Delete_DentHis").hide();
                    }
                }
            }
            GetCheckedValues();
            $('#upd_last_dental_exam').bootstrapdatepicker({
                format: "dd-MM-yyyy",
                viewMode: "date",
                todayHighlight: true,
                autoclose: true,
                multidate: false,
                multidateSeparator: "-"
            });
            if ("@Model.pd_last_dental_exam" != "") {
                var x13 = "@Model.pd_last_dental_exam";
                if (x13 != "") {
                    $("#upd_last_dental_exam").bootstrapdatepicker("setDate", moment(new Date("@Model.pd_last_dental_exam")).format("DD-MMMM-YYYY"));
                }

            }

            else {
                $("#upd_last_dental_exam").bootstrapdatepicker("setDate", '');
            }
            validate();

        });

    //#endregion Page Load

    //#region Get CheckedValues
    var GetCheckedValues = function () {
        var pd_1_ = "@Model.pd_medicaltreat";
        if (pd_1_ !== "") {
            var upd_1_ = $("input[name='pd_medicaltreat'][value='" + "@Model.pd_medicaltreat" + "']").attr("id");
            $("#" + upd_1_).attr('checked', 'checked');
            $("#" + upd_1_).prop("checked", true);
        }
        var pd_2_ = "@Model.pd_hospitalized";
        if (pd_2_ !== "") {
            var upd_2_ = $("input[name='pd_hospitalized'][value='" + "@Model.pd_hospitalized" + "']").attr("id");
            $("#" + upd_2_).attr('checked', 'checked');
            $("#" + upd_2_).prop("checked", true);
        }

        var pd_3_ = "@Model.pd_medications";
        if (pd_3_ !== "") {
            var upd_3_ = $("input[name='pd_medications'][value='" + "@Model.pd_medications" + "']").attr("id");
            $("#" + upd_3_).attr('checked', 'checked');
            $("#" + upd_3_).prop("checked", true);
        }
         var pd_4_ = "@Model.pd_tobacco";
        if (pd_4_ !== "") {
            var upd_4_ = $("input[name='pd_tobacco'][value='" + "@Model.pd_tobacco" + "']").attr("id");
            $("#" + upd_4_).attr('checked', 'checked');
            $("#" + upd_4_).prop("checked", true);
        }
        var pd_5_ = "@Model.pd_gums";
        if (pd_5_ !== "") {
            var upd_5_ = $("input[name='pd_gums'][value='" + "@Model.pd_gums" + "']").attr("id");
            $("#" + upd_5_).attr('checked', 'checked');
            $("#" + upd_5_).prop("checked", true);
        }
        var pd_6_ = "@Model.pd_hotcold";
        if (pd_6_ !== "") {
            var upd_6_ = $("input[name='pd_hotcold'][value='" + "@Model.pd_hotcold" + "']").attr("id");
            $("#" + upd_6_).attr('checked', 'checked');
            $("#" + upd_6_).prop("checked", true);
        }
         var pd_7_ = "@Model.pd_sweetsour";
        if (pd_7_ !== "") {
            var upd_7_ = $("input[name='pd_sweetsour'][value='" + "@Model.pd_sweetsour" + "']").attr("id");
            $("#" + upd_7_).attr('checked', 'checked');
            $("#" + upd_7_).prop("checked", true);
        }
        var pd_8_ = "@Model.pd_teethpain";
        if (pd_8_ !== "") {
            var upd_8_ = $("input[name='pd_teethpain'][value='" + "@Model.pd_teethpain" + "']").attr("id");
            $("#" + upd_8_).attr('checked', 'checked');
            $("#" + upd_8_).prop("checked", true);
        }
         var pd_9_ = "@Model.pd_soresjumps";
        if (pd_9_ !== "") {
            var upd_9_ = $("input[name='pd_soresjumps'][value='" + "@Model.pd_soresjumps" + "']").attr("id");
            $("#" + upd_9_).attr('checked', 'checked');
            $("#" + upd_9_).prop("checked", true);
        }
        var pd_10_ = "@Model.pd_headinjuries";
        if (pd_10_ !== "") {
            var upd_10_ = $("input[name='pd_headinjuries'][value='" + "@Model.pd_headinjuries" + "']").attr("id");
            $("#" + upd_10_).attr('checked', 'checked');
            $("#" + upd_10_).prop("checked", true);
        }
         var pd_11_ = "@Model.pd_clicking";
        if (pd_11_ !== "") {
            var upd_11_ = $("input[name='pd_clicking'][value='" + "@Model.pd_clicking" + "']").attr("id");
            $("#" + upd_11_).attr('checked', 'checked');
            $("#" + upd_11_).prop("checked", true);
        }
        var pd_12_ = "@Model.pd_pain";
        if (pd_12_ !== "") {
            var upd_12_ = $("input[name='pd_pain'][value='" + "@Model.pd_pain" + "']").attr("id");
            $("#" + upd_12_).attr('checked', 'checked');
            $("#" + upd_12_).prop("checked", true);
        }
         var pd_13_ = "@Model.pd_openingclosing";
        if (pd_13_ !== "") {
            var upd_13_ = $("input[name='pd_openingclosing'][value='" + "@Model.pd_openingclosing" + "']").attr("id");
            $("#" + upd_13_).attr('checked', 'checked');
            $("#" + upd_13_).prop("checked", true);
        }
        var pd_14_ = "@Model.pd_chewing";
        if (pd_14_ !== "") {
            var upd_14_ = $("input[name='pd_chewing'][value='" + "@Model.pd_chewing" + "']").attr("id");
            $("#" + upd_14_).attr('checked', 'checked');
            $("#" + upd_14_).prop("checked", true);
        }
         var pd_15_ = "@Model.pd_clench";
        if (pd_15_ !== "") {
            var upd_15_ = $("input[name='pd_clench'][value='" + "@Model.pd_clench" + "']").attr("id");
            $("#" + upd_15_).attr('checked', 'checked');
            $("#" + upd_15_).prop("checked", true);
        }
         var pd_16_ = "@Model.pd_bitelips";
        if (pd_16_ !== "") {
            var upd_16_ = $("input[name='pd_bitelips'][value='" + "@Model.pd_bitelips" + "']").attr("id");
            $("#" + upd_16_).attr('checked', 'checked');
            $("#" + upd_16_).prop("checked", true);
        }
         var pd_17_ = "@Model.pd_difficultextract";
        if (pd_17_ !== "") {
            var upd_17_ = $("input[name='pd_difficultextract'][value='" + "@Model.pd_difficultextract" + "']").attr("id");
            $("#" + upd_17_).attr('checked', 'checked');
            $("#" + upd_17_).prop("checked", true);
        }
         var pd_18_ = "@Model.pd_prolonged";
        if (pd_18_ !== "") {
            var upd_18_ = $("input[name='pd_prolonged'][value='" + "@Model.pd_prolonged" + "']").attr("id");
            $("#" + upd_18_).attr('checked', 'checked');
            $("#" + upd_18_).prop("checked", true);
        }
        var pd_19_ = "@Model.pd_gems";
        if (pd_19_ !== "") {
            var upd_19_ = $("input[name='upd_19'][value='" + "@Model.pd_gems" + "']").attr("id");
            $("#" + upd_19_).attr('checked', 'checked');
            $("#" + upd_19_).prop("checked", true);
        }
        var pd_20_ = "@Model.pd_filling";
        if (pd_20_ !== "") {
            var upd_20_ = $("input[name='pd_filling'][value='" + "@Model.pd_filling" + "']").attr("id");
            $("#" + upd_20_).attr('checked', 'checked');
            $("#" + upd_20_).prop("checked", true);
        }
        var pd_21_ = "@Model.pd_w_medicaltreat";
        if (pd_21_ !== "") {
            var upd_21_ = $("input[name='pd_w_medicaltreat'][value='" + "@Model.pd_w_medicaltreat" + "']").attr("id");
            $("#" + upd_21_).attr('checked', 'checked');
            $("#" + upd_21_).prop("checked", true);
        }
        var pd_22_ = "@Model.pd_w_hospitalized";
        if (pd_22_ !== "") {
            var upd_22_ = $("input[name='pd_w_hospitalized'][value='" + "@Model.pd_w_hospitalized" + "']").attr("id");
            $("#" + upd_22_).attr('checked', 'checked');
            $("#" + upd_22_).prop("checked", true);
        }
         var pd_22_ = "@Model.pd_w_medications";
        if (pd_22_ !== "") {
            var upd_22_ = $("input[name='pd_w_medications'][value='" + "@Model.pd_w_medications" + "']").attr("id");
            $("#" + upd_22_).attr('checked', 'checked');
            $("#" + upd_22_).prop("checked", true);
        }
    }
    //#endregion Get CheckedValues

    //#region Update  Button Click
        $('#btn_Update_DentHis').on('click', function (e) {
             e.preventDefault();
            if ($("#form_EditDentHis").valid()) {
                $('#btn_Update_DentHis').removeClass("btn btn-sm btn-success");
                $('#btn_Update_DentHis').addClass("btn btn-sm btn-success btn-loaders btn-icon");
                $('#btn_Update_DentHis').html("Updating the Record....");
                
                var _dataInsert = {
                    "pdId": @Model.pdId,
                    "pd_appId": $("#pd_appId").val(),
                    "pd_medicaltreat": $("input[name='pd_medicaltreat']:checked").val(),
                    "pd_hospitalized": $("input[name='pd_hospitalized']:checked").val(),
                    "pd_medications": $("input[name='pd_medications']:checked").val(),
                    "pd_tobacco": $("input[name='pd_tobacco']:checked").val(),
                    "pd_gums": $("input[name='pd_gums']:checked").val(),
                    "pd_hotcold": $("input[name='pd_hotcold']:checked").val(),
                    "pd_sweetsour": $("input[name='pd_sweetsour']:checked").val(),
                    "pd_teethpain": $("input[name='pd_teethpain']:checked").val(),
                    "pd_soresjumps": $("input[name='pd_soresjumps']:checked").val(),
                    "pd_headinjuries": $("input[name='pd_headinjuries']:checked").val(),
                    "pd_clicking": $("input[name='pd_clicking']:checked").val(),
                    "pd_pain": $("input[name='pd_pain']:checked").val(),
                    "pd_openingclosing": $("input[name='pd_openingclosing']:checked").val(),
                    "pd_chewing": $("input[name='pd_chewing']:checked").val(),
                    "pd_clench": $("input[name='pd_clench']:checked").val(),
                    "pd_bitelips": $("input[name='pd_bitelips']:checked").val(),
                    "pd_difficultextract": $("input[name='pd_difficultextract']:checked").val(),
                    "pd_prolonged": $("input[name='pd_prolonged']:checked").val(),
                    "pd_gems": $("input[name='pd_gems']:checked").val(),
                    "pd_filling": $("input[name='pd_filling']:checked").val(),
                    "pd_w_medicaltreat": $("input[name='pd_w_medicaltreat']:checked").val(),
                    "pd_w_hospitalized": $("input[name='pd_w_hospitalized']:checked").val(),
                    "pd_w_medications": $("input[name='pd_w_medications']:checked").val(),
                    "pd_w_amenorrhoea": $("#pd_w_amenorrhoea").val(),
                    "pd_medicationsyes": $("#pd_medicationsyes").val(),
                    "pd_last_dental_exam": $("#pd_last_dental_exam").val(),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dataInsert)
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateDentalHistory", "DentalHistory", new { area = "EMR" })",
                    dataType: 'JSON',
                    data: _dataInsert,
                    success: function (data) {
                        $('#btn_Update_DentHis').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                        $('#btn_Update_DentHis').addClass("btn btn-sm btn-warning");
                        $('#btn_Update_DentHis').html("Save Changes");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> SoftTissue Updated Successfully!", "success");
                                Timeout();
                                GetDentalHistory();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. SoftTissue Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Update_DentHis').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                        $('#btn_Update_DentHis').addClass("btn btn-sm btn-warning");
                        $('#btn_Update_DentHis').html("Save Changes");
                        Timeout();
                    }
                });
            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion Update  Button Click


    //#region Delete Click
        $('#btn_Delete_DentHis').on('click', function (e) {
            e.preventDefault();
            $('#btn_Delete_DentHis').removeClass("btn btn-sm btn-success");
            $('#btn_Delete_DentHis').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Delete_DentHis').html("Deleting the Record....");

                $.ajax({
                    url: '@Url.Action("DeleteDentalHistory", "DentalHistory", new { area = "EMR" })?pdId=' + @Model.pdId,
                    type: "POST",
                    dataType: 'JSON',
                    success: function (data) {
                        $('#btn_Delete_DentHis').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                        $('#btn_Delete_DentHis').addClass("btn btn-sm btn-warning");
                        $('#btn_Delete_DentHis').html("Delete");
                        if (data.isAuthorized) {
                            if (data.success) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Past/Family History Deleted Successfully!", "success");
                                clearControls();
                                GetDentalHistory();
                                GetPreviousDentalHistory();
                                Timeout();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Error!.. Failed to Delete..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Delete_DentHis').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                        $('#btn_Delete_DentHis').addClass("btn btn-sm btn-Delete");
                        $('#btn_Delete_DentHis').html("Delete");
                        Timeout();
                    }
                })
        });
    //#endregion Delete Click

    //#region Validation Initialization
        var validate = function () {

            $("#form_EditDentHis").validate({
                rules: {
                    pd_medicaltreat: {
                        required: true
                    },

                },
                messages: {
                    pd_medicaltreat: {
                        required: "Please Other Past History!"
                    },

                },
                highlight: function (element) {
                    var elem = $(element);
                    $(element).parent().addClass('has-error');
                    error_timeout(elem.attr("id"));
                },
                unhighlight: function (element) {
                    var elem = $(element);
                    $(element).parent().removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'text-danger fw-bold',
                errorPlacement: function (error, element) {
                    var elem = $(element);
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

        }
    //#endregion Validation Initialization

    //#region Clear Controls
        var clearControls = function () {
            $(".form-control").val("");
            $(".custom-control-input").prop("checked", false);

        }
    //#endregion Clear Controls
</script>