
@model BusinessEntities.EMR.MedicalHistory
@{
    ViewBag.Title = "Print Invoice";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>
<div class="row" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-center">
                    <img src="@Model.set_header_image" />
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div>
                            <h4 class="page-title mb-0 text-primary">
                                Dental History
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black">Infecious Disease&nbsp;</label>
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" disabled name="uoe_infecious" value="Yes" id="u1">
                                    <span class="custom-control-label">Yes</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" disabled name="uoe_infecious" value="No" id="u2">
                                    <span class="custom-control-label">No</span>
                                </label>

                            </div>
                            <label class="form-label text-black text-left ms-2 mb-2">@Model.oe_infecious_other&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black">Past Medication&nbsp;</label>
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" disabled name="uoe_past_med" value="Yes" id="u3">
                                    <span class="custom-control-label">Yes</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" disabled name="uoe_past_med" value="No" id="u4">
                                    <span class="custom-control-label">No</span>
                                </label>

                            </div>
                            <label class="form-label text-black text-left ms-2 mb-2">@Model.oe_past_med_other&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black">Fall Risk&nbsp;</label>
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" disabled name="uoe_fall_risk" value="Yes" id="u5">
                                    <span class="custom-control-label">Yes</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" disabled name="uoe_fall_risk" value="No" id="u6">
                                    <span class="custom-control-label">No</span>
                                </label>
                                <span class="ms-2 mb-2">
                                    <label class="form-label text-black text-left ms-2 mb-2">@Model.oe_fall_risk_type&nbsp;</label>

                                </span>
                            </div>
                            <label class="form-label text-black text-left ms-2 mb-2">@Model.oe_fall_risk_other&nbsp;</label>

                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="form-group mb-3">
                            <label class="form-label text-black">Psychological History&nbsp;</label>
                            <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" disabled name="uoe_systemic" value="Yes" id="u7">
                                    <span class="custom-control-label">Yes</span>
                                </label>
                                <label class="custom-control custom-radio  ms-2">
                                    <input type="radio" class="custom-control-input" disabled name="uoe_systemic" value="No" id="u8">
                                    <span class="custom-control-label">No</span>
                                </label>
                            </div>
                            <label class="form-label text-black text-left ms-2 mb-2">@Model.oe_systemic_other&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-12">
                        <div class="form-group mb-3">
                            <label class="form-label text-black">Notes&nbsp;</label>
                            <label class="form-label text-black text-left ms-2 mb-2">@Model.oe_notes&nbsp;</label>
                        </div>
                    </div>

                </div>
                <div class="text-center">
                    <img src="@Model.set_footer_image" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
     //#region Page Load
        $(function () {


         GetCheckedValues();

        });

    //#endregion Page Load

    //#region Get CheckedValues
        var GetCheckedValues = function () {
            var oe_1_ = "@Model.oe_infecious";
            if (oe_1_ !== "") {
                var uoe_1_ = $("input[name='uoe_infecious'][value='" + "@Model.oe_infecious" + "']").attr("id");
                $("#" + uoe_1_).attr('checked', 'checked');
                $("#" + uoe_1_).prop("checked", true);
            }
            var oe_2_ = "@Model.oe_past_med";
            if (oe_2_ !== "") {
                var uoe_2_ = $("input[name='uoe_past_med'][value='" + "@Model.oe_past_med" + "']").attr("id");
                $("#" + uoe_2_).attr('checked', 'checked');
                $("#" + uoe_2_).prop("checked", true);
            }

            var oe_3_ = "@Model.oe_fall_risk";
            if (oe_3_ !== "") {
                var uoe_3_ = $("input[name='uoe_fall_risk'][value='" + "@Model.oe_fall_risk" + "']").attr("id");
                $("#" + uoe_3_).attr('checked', 'checked');
                $("#" + uoe_3_).prop("checked", true);
            }
             var oe_4_ = "@Model.oe_systemic";
            if (oe_4_ !== "") {
                var uoe_4_ = $("input[name='uoe_systemic'][value='" + "@Model.oe_systemic" + "']").attr("id");
                $("#" + uoe_4_).attr('checked', 'checked');
                $("#" + uoe_4_).prop("checked", true);
            }
        }
    //#endregion Get CheckedValues
</script>