
@model BusinessEntities.EMR.DMFIndex
@{
    ViewBag.Title = "Print Invoice";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>
<div class="row" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-center">
                    <img src="@Model.set_header_image" />
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div>
                            <h4 class="page-title mb-0 text-primary">
                                DMF Index
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-12">
                        <label class="form-label text-black">Permanent Dentition</label>
                        <table id="tbl_dmfpermant" class="table table-bordered card-table table-vcenter text-nowrap " width="100%">
                            <thead class="d-none">

                            </thead>
                            <tbody>
                                <!-- Data rows will be dynamically added here -->
                            </tbody>

                        </table>
                        <label class="form-label text-black">Deciduous Dentition</label>
                        <table id="tbl_dmfdeci" class="table table-bordered card-table table-vcenter text-nowrap " width="100%">
                            <thead class="d-none">

                            </thead>
                            <tbody>
                                <!-- Data rows will be dynamically added here -->
                            </tbody>

                        </table>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-12">
                        <div class="form-group mb-3">
                            <label class="form-label text-black">Treatment Plan&nbsp;</label>
                            <label class="form-label text-black text-left ms-2 mb-2">@Model.dmf_other&nbsp;</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-2 alig">
                    <div class="col-sm-12 col-md-6 col-lg-12 text-center">
                        <div class="form-group m-0">
                            <div class="row g-xs">
                                <div class="col-auto">
                                    <label class="colorinput">
                                        <span class="colorinput-color  bg-black dmfclr">D-DECAY</span>
                                    </label>
                                </div>
                                <div class="col-auto">
                                    <label class="colorinput">
                                        <span class="colorinput-color bg-orange dmfclr">M-MISSING</span>
                                    </label>
                                </div>
                                <div class="col-auto">
                                    <label class="colorinput">
                                        <span class="colorinput-color bg-green dmfclr"> F-FILLED</span>
                                    </label>
                                </div>
                                <div class="col-auto">
                                    <label class="colorinput">
                                        <span class="colorinput-color bg-red dmfclr">E-EXTRACTION</span>
                                    </label>
                                </div>
                                <div class="col-auto">
                                    <label class="colorinput">
                                        <span class="colorinput-color bg-blue dmfclr ">C-CROWN</span>
                                    </label>
                                </div>
                                <div class="col-auto">
                                    <label class="colorinput">
                                        <span class="colorinput-color bg-yellow dmfclr"> I-IMPLANT</span>
                                    </label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <img src="@Model.set_footer_image" />
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .dmfclr {
        display: inline-block;
        width: 6.75rem;
        height: 1rem;
    }
    /*    #tbl_dmfdeci:nth-child(1) tr:nth-child(12) {
        background-color: red;
    }*/
</style>
<script type="text/javascript">
    //#region Page Load
    $(function () {


        DeciduousDentition();
        PermanentDentition();

    });

    //#endregion Page Load

     //#region Permanent Dentition
    var PermanentDentition = function () {
        var numRows = 2;
        var numCols = 16;

        var data = [];
        for (let i = 1; i <= numRows; i++) {
            var rowData = { i };
            for (let j = 1; j <= numCols; j++) {
                rowData[j] = j;
            }
            data.push(rowData);
        }

        var table = document.getElementById('tbl_dmfpermant');
        var valuesToSelect = "@Model.dmf_index".split(",")
        for (let i = 0; i < numRows; i++) {
            var row = table.insertRow();
            for (let j = 0; j <= numCols; j++) {
                var cell = row.insertCell();

                var value = (i * numCols) + j;
                var selectElement = document.createElement('select');
                selectElement.className = 'form-control disabled select2 dmf_xcip';
                selectElement.id = 'dmf_xcip_' + (i + 1) + '_' + j;
                cell.appendChild(selectElement);

                var selectOptions = [
                    { id: value, text: value },
                    { id: value + "D", text: value + "D", class: "colorinput-color bg-black" },
                    { id: value + "M", text: value + "M", class: "colorinput-color bg-orange" },
                    { id: value + "F", text: value + "F", class: "colorinput-color bg-green" },
                    { id: value + "X", text: value + "X", class: "colorinput-color bg-red" },
                    { id: value + "C", text: value + "C", class: "colorinput-color bg-blue" },
                    { id: value + "I", text: value + "I", class: "colorinput-color bg-yellow" }
                ];

                for (var k = 0; k < selectOptions.length; k++) {
                    var option = document.createElement('option');
                    option.value = selectOptions[k].id;
                    option.textContent = selectOptions[k].text;
                    if (selectOptions[k].class) {
                        option.className = selectOptions[k].class;
                    }
                    if (valuesToSelect.includes(option.textContent)) {
                        option.selected = true;
                    }


                    selectElement.appendChild(option);
                    if (valuesToSelect.includes(option.textContent)) {
                        if (selectOptions[k].class) {
                            var classes = selectOptions[k].class.split(' ');
                            var newClasses = classes.filter(className => className !== 'colorinput-color');
                            var newClass = newClasses.join(' ');
                            $("#" + selectElement.id).addClass(newClass);
                        }
                        //$("#" + selectElement.id).addClass(selectOptions[k].class);
                    }
                }

            }
        }

    }

    //#endregion Permanent Dentition

    //#region Deciduous  Dentition
    var DeciduousDentition = function () {

        var table = document.getElementById('tbl_dmfdeci');
        var valuesToSelect = "@Model.dmf_index".split(",")
        var numRowsD = 2;  // Two rows
        var numColsD = 10; // Number of columns for each row

        var dataD = [];
        for (let i = 1; i <= numRowsD; i++) {
            var rowDataD = { i };
            var startCharCode = (i === 1) ? 65 : 75;  // 'A' or 'K' depending on the row

            if (i === 2) {
                startCharCode = 75;  // Always start from 'K' for the second row
            }

            for (let j = 0; j < numColsD; j++) {
                //const charCode = startCharCode + j + ((i - 1) * numColsD);
                const charCode = startCharCode + j;
                const char = String.fromCharCode(charCode);
                rowDataD[char] = char;
            }
            dataD.push(rowDataD);


            var row = table.insertRow();


            for (let j = 0; j < numColsD; j++) {
                var cell = row.insertCell();
                var selectElement = document.createElement('select');
                selectElement.className = 'form-control select2 disabled dmf_xcid';
                selectElement.id = 'dmf_xcid_' + i + '_' + j;

                var selectOptions = [
                    { id: dataD[i - 1][String.fromCharCode(startCharCode + j)], text: dataD[i - 1][String.fromCharCode(startCharCode + j)] },
                    { id: dataD[i - 1][String.fromCharCode(startCharCode + j)] + "D", text: dataD[i - 1][String.fromCharCode(startCharCode + j)] + "D", class: "colorinput-color bg-black" },
                    { id: dataD[i - 1][String.fromCharCode(startCharCode + j)] + "M", text: dataD[i - 1][String.fromCharCode(startCharCode + j)] + "M", class: "colorinput-color bg-orange" },
                    { id: dataD[i - 1][String.fromCharCode(startCharCode + j)] + "F", text: dataD[i - 1][String.fromCharCode(startCharCode + j)] + "F", class: "colorinput-color bg-green" },
                    { id: dataD[i - 1][String.fromCharCode(startCharCode + j)] + "X", text: dataD[i - 1][String.fromCharCode(startCharCode + j)] + "X", class: "colorinput-color bg-red" },
                    { id: dataD[i - 1][String.fromCharCode(startCharCode + j)] + "C", text: dataD[i - 1][String.fromCharCode(startCharCode + j)] + "C", class: "colorinput-color bg-blue" },
                    { id: dataD[i - 1][String.fromCharCode(startCharCode + j)] + "I", text: dataD[i - 1][String.fromCharCode(startCharCode + j)] + "I", class: "colorinput-color bg-yellow" }
                ];

                for (var k = 0; k < selectOptions.length; k++) {
                    var option = document.createElement('option');
                    option.value = selectOptions[k].id;
                    option.textContent = selectOptions[k].text;
                    if (selectOptions[k].class) {
                        option.className = selectOptions[k].class;
                    }
                    if (valuesToSelect.includes(option.textContent)) {
                        option.selected = true;
                    }
                    selectElement.appendChild(option);
                }

                cell.appendChild(selectElement);
                if (valuesToSelect.includes(option.textContent)) {
                    if (selectOptions[k].class) {
                        var classes1 = selectOptions[k].class.split(' ');
                        var newClasses1 = classes1.filter(className1 => className1 !== 'colorinput-color');
                        var newClass1 = newClasses1.join(' ');
                        console.log(newClass1);
                        $("#" + selectElement.id).addClass(newClass1);
                    }
                    //$("#" + selectElement.id).addClass(selectOptions[k].class);
                }
            }
        }

    }

    //#region Deciduous  Dentition
</script>