@using BusinessEntities;
@using System.Linq;
@using System.Security.Claims;

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "OperativeEyleaInjectionNewIndex";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }

}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Operative Report For Eylea Injection
                </h3>
            </div>
            <div class="card-body">
                <div id="OperativeEyleaInjectionNew_add" style="display:none">
                </div>
                <div id="OperativeEyleaInjectionNew_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="OperativeEyleaInjectionNew_history">
                </div>
            </div>
        </div>
    </div>
</div>
@*@section myScripts{*@
    <script>
        //#region Page Load
        $(function () {
           GetOperativeEyleaInjectionNewInfo();
           OperativeEyleaInjectionNewPreviousHistory();

        });
        //#endregion Page Load

        //#region Load GetOperativeEyleaInjectionNewInfo
        var GetOperativeEyleaInjectionNewInfo = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetOperativeEyleaInjectionNewData", "OperativeEyleaInjectionNew", new { area = "ConsentForms" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        if (response.length > 0) {
                            EditOperativeEyleaInjectionNew();
                            $("#OperativeEyleaInjectionNew_add").hide();
                            $("#OperativeEyleaInjectionNew_edit").show();

                        }
                        else {
                            $("#OperativeEyleaInjectionNew_add").show();
                            $("#OperativeEyleaInjectionNew_edit").hide();
                            AddOperativeEyleaInjectionNew();
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
        //#endregion Load OperativeEyleaInjectionNew

        //#region Add OperativeEyleaInjectionNew
        function AddOperativeEyleaInjectionNew() {
            var x = $("#OperativeEyleaInjectionNew_add");
            x.load("@Url.Action("CreateOperativeEyleaInjectionNew", "OperativeEyleaInjectionNew", new { area = "ConsentForms" })", function () {
          });
        }
        //#endregion Add OperativeEyleaInjectionNew

        //#region Update OperativeEyleaInjectionNew
        function EditOperativeEyleaInjectionNew() {
            var x = $("#OperativeEyleaInjectionNew_edit");
            x.load("@Url.Action("UpdateOperativeEyleaInjectionNew", "OperativeEyleaInjectionNew", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
          //#endregion Update OperativeEyleaInjectionNew

          //#region Histroy of OperativeEyleaInjectionNew
        function OperativeEyleaInjectionNewPreviousHistory() {
            var x = $("#OperativeEyleaInjectionNew_history");
            x.load("@Url.Action("OperativeEyleaInjectionNewPreviousHistory", "OperativeEyleaInjectionNew", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
        //#endregion History of OperativeEyleaInjectionNew


    </script>

@*}*@