@using BusinessEntities;
@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Temporary Dermal Fillers";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Temporary Dermal Fillers Consent Form </h3>
            </div>
            <div class="card-body">
                <div id="DermalFillers_add" style="display:none">
                </div>
                <div id="DermalFillers_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="DermalFillers_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetDermalFillersInfo();
        DermalFillersPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetDermalFillersInfo
    var GetDermalFillersInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetDermalFillersData", "DermalFillers", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditDermalFillers();
                        $("#DermalFillers_add").hide();
                        $("#DermalFillers_edit").show();

                    }
                    else {
                        $("#DermalFillers_add").show();
                        $("#DermalFillers_edit").hide();
                        AddDermalFillers();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load DermalFillers

    //#region Add DermalFillers
    function AddDermalFillers() {
        var x = $("#DermalFillers_add");
        x.load("@Url.Action("CreateDermalFillers", "DermalFillers", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add DermalFillers

    //#region Update DermalFillers
    function EditDermalFillers() {
        var x = $("#DermalFillers_edit");
        x.load("@Url.Action("UpdateDermalFillers", "DermalFillers", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update DermalFillers

    //#region Histroy of DermalFillers
    function DermalFillersPreviousHistory() {
        var x = $("#DermalFillers_history");
        x.load("@Url.Action("DermalFillersPreviousHistory", "DermalFillers", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion History of DermalFillers
</script>