@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Dental Implant Consent Arabic";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header" dir="rtl">
                <h3 class="card-title">موافقة المريض على بدء علاج جراحة الأسنان</h3>
            </div>
            <div class="card-body">
                <div id="DentalImplantConsentArabic_add" style="display:none">
                </div>
                <div id="DentalImplantConsentArabic_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="DentalImplantConsentArabic_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetDentalImplantConsentArabicInfo();
        DentalImplantConsentArabicPreviousHistory();
    });

    //#endregion Page Load

    //#region Load GetDentalImplantConsentArabicInfo
    var GetDentalImplantConsentArabicInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetDentalImplantConsentArabicData", "DentalImplantConsentArabic", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditDentalImplantConsentArabic();
                        $("#DentalImplantConsentArabic_add").hide();
                        $("#DentalImplantConsentArabic_edit").show();

                    }
                    else {
                        $("#DentalImplantConsentArabic_add").show();
                        $("#DentalImplantConsentArabic_edit").hide();
                        AddDentalImplantConsentArabic();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load DentalImplantConsentArabic

    //#region Add DentalImplantConsentArabic
    function AddDentalImplantConsentArabic() {
        var x = $("#DentalImplantConsentArabic_add");
        x.load("@Url.Action("CreateDentalImplantConsentArabic", "DentalImplantConsentArabic", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add DentalImplantConsentArabic

    //#region Update DentalImplantConsentArabic

    function EditDentalImplantConsentArabic() {
        var x = $("#DentalImplantConsentArabic_edit");
        x.load("@Url.Action("UpdateDentalImplantConsentArabic", "DentalImplantConsentArabic", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update DentalImplantConsentArabic

    //#region Histroy of DentalImplantConsentArabic

    function DentalImplantConsentArabicPreviousHistory() {
        var x = $("#DentalImplantConsentArabic_history");
x.load("@Url.Action("DentalImplantConsentArabicPreviousHistory", "DentalImplantConsentArabic", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
});
}
//#endregion Histroy of DentalImplantConsentArabic

</script>
