@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConsentForms.DentalImplantConsentArabic

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<form id="form_DentalImplantConsentArabicEdit" autocomplete="off" name="DentalImplantConsentArabic" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-right" dir="rtl">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> اسم المريض</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> الهوية الإماراتية</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">رقم الملف</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> تاريخ الميلاد</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> الجنسية</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">جنس</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">اسم الطبيب</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">تاريخ</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-mb-5 mt-5 text-justify" dir="rtl">
        <div class="row-mb-5 mt-5" dir="rtl">
            <p class="text-black text-center">
                نموذج الموافقة على جراحة زراعة األسنان
        </div>
        <div class="mb-2 mt-2">
            <span>
                العالج الموصى به:- العالج الموصى به: - بعد إجراء فحص دقيق وتقييم شعاعي ودراسة حالة أسناني ، نصحني طبيب األسنان بإمكانية استبدال أسناني / أسناني المفقودة بأسنان صناعية مدعومة بواحدة أو أكثر من زراعة األسنان. يتضمن اإلجراء وضع مسامير التيتانيوم لزراعة األسنان في عظم الفك. يتكون هذا اإلجر اء من ا( تليهامرحلة اصطناعية )تثبيت األسنان البديلة على الغرسة(. ً مرحلتين ، المرحلة الجراحية )وضع الغرسات وكشفها الحق
            </span>
        </div>
        <div class="mb-2 mt-2">
            <span>
                المرحلة الجراحية من ال جراء - سيتم استخدام مخدر موضعي أثناء جراحة الزرعة ا لكشف عظم الفك ، وسيتم حفر ثقب أو ثقوب . سيتم قطع أنسجة اللثة وسحبها بعيد في عظم الفك ، وسيتم وضع مسمار )براغي( األسنان المصنوعة من التيتانيوم. سيتم خياطة األنسجة الرخوة )اللثة( فوق الغرسة )الغرسات( أو حولها أو إغالقها . سيسمح باالستمرار في الشفاء لمدة أربعة إلى ستة أشهر. أفهم أنه ال يمكن ارتداء أطقم األسنان خالل أول أسبوع إلى أسبوعين من مرحلة الشفاء. بعد فترة الشفاء المطلوبة ، يجب كشف الغرسة. سيتم إعطاء مخدر موضعي ، وسيتم فتح األنسجة العلوية وسحبها ، وسيتم التحقق من ثبات الغرسة. إذا بدت الغرسة مرضية ، فسيتم توصيل أحد الملحقات بها. إذا سارت األموركما هو مخطط لها دون أي مضاعفات ، فقد تبدأ الخطط واإلجراءات إلنشاء غرسة صناعية أو جهاز أو تاج صناعي مع طبيب األسنان العام أو أخصائي التعويضات السنية
            </span>
        </div>
        <div class="mb-2 mt-2">
            <span>
                مرحلة العالج التعويضي – أفهم في هذه المرحلة أنه سيتم إحالتي مرة أخرى إلى طبيب األسنان العام أو أخصائي التعويضات السنية. هذه المرحلة ال تقل أهمية عن المرحلة الجراحية للنجاح طويل األمد إلعادة بناء الفم. خالل هذه المرحلة ، سيتم توصيل جهاز تعويضي للزرعة. يجب أن يقوم طبيب األسنان بإجراء هذا اإلجراء
            </span>
        </div>
        <div class="mb-2 mt-2">
            <span>
                لفوائد المتوقعة - الغرض من زراعة األسنان هو السماح لي بمزيد من األسنان االصطناعية الوظيفية و / أو تحسين المظهر. توفر الغرسات الدعم والتثبيت واالحتفاظ باألسنان االصطناعية أو التيجان.
            </span>
        </div>
        <div class="mb-2 mt-2">
            <span>
                المخاطر والمضاعفات الرئيسية - فقد الغرسة. قد ال تنجح جراحة الزرع في توفير أسنان ال يستجيب بعض المرضى بنجاح لزراعة األسنان ، وفي مثل هذه الحاالت ، قد ت اصطناعية. قد تنجم المضاعفات عن جراحة زرع األسنان التي تشمل اللثة وعظم الفك ، أو من األدوية أو التخدير. تشمل هذه المضاعفات ، على سبيل المثال ال الحصر ، ا( في الفك ، والشفة ، واللسان ً العدوى بعد الجراحة ، والنزيف ، والتورم ، واأللم ، وكدمات الوجه ، وخدر عابر )في حاالت نادرة دائم ، والذقن أو اللثة ، وآالم مفصل الفك أو تشنج العضالت ، تشقق أو كدمات في زوايا الفم ، القدرة المحدودة على فتح الفم لعدة أيام أو أسابيع ، التأثير على الكالم ، ردود الفعل التحسسية ، انثقاب ثقب الحفر في الجيوب األنفية إذا تم وضع غرسة علوية ، البلع العرضي للمواد الغريبة ، وزيادة عابرة )في حاالت نادرة دائمة( تلين األسنان ، حساسية األسنان لألطعمة الساخنة أو الباردة أو الحلوة أو الحمضية. ال يمكن تحديد المدة الدقيقة ألي مضاعفات ، وقد تكون ال رجعة فيها. أدرك أن تصميم وهيكل السن / األسنان االصطناعية ا في نجاح أو فشل الزر ً جوهري ً يمكن أن يكون عامال ا الحصول على غرسة قوية وناجحة وقد يفشل االتصال بين الغرسة و / أو اللثة و / أو العظام على ً ع. من الممكن دائم الفور ، أو حتى بعد شهور أو سنوات ، مما يستلزم إزالة الغرسة
            </span>
        </div>
        <div class="mb-2 mt-2">
            <span>
                ضرور ة المتابعة والعناية الذاتية - أدرك أنه من المهم بالنسبة لي أن أستمر في زيارة طبيب األسنان الخاص بي للعناية الروتينية باألسنان ، وكذلك الستعادة األسنان المزروعة بأسنان صناعية. لقد أخبرت طبيب األسنان و / أوطاقمه عن أي حاالت طبية ذات صلة لدي ، أوحساسيات أو أدوية موصوفة أتناولها ، بما في ذلك األدوية التي ال تستلزم وصفة طبية مثل األسبرين. أدرك أنني سأحتاج إلى الحضور لمواعيد ما بعد الجراحة بعد الجراحة حتى تتم مراقبة الشفاء ، وبالتالي قد يقوم طبيب األسنان بتقييم نتائج الجراحة وتقديم تقرير عنها إلى طبيب األسنان العام و / أو أخصائي التعويضات ا أن التدخين المفرط ً السنية. أفهم أيض او تناول الكحول أو عدم كفاية نظافة ا على الشفاء وقد يحد من النتيجة الناجحة لجراحي. ً الفم قد يؤثرسلب
            </span>
        </div>
        <div class="mb-2 mt-2">
            <span>
                : أعلم أنه من المهم
            </span>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12">
            <ol>
                <li>االلتزام بالوصفات والتعليمات المحددة المعطاة لي</li>
                <li>راجع طبيب األسنان للحصول على رعاية ما بعد الجراحة حسب الحاجة</li>
                <li> اإلقالع عن التدخين ، معدالت فشل الزرع أعلى عدة مرات لدى المدخنين</li>
                <li>  طلب منك ذلك ؛ عادة بعد أسبوع من إجراء الجراحة. ُ . أداء نظافة الفم الممتا</li>
                <li>
                    اطلب من طبيب األسنان العام أو أخصائي التعويضات السنية استعادة الغرسة )الغرسات( بمجرد شفاءها وتم إخباري أنني جاهز
                    لمرحلة األطراف االصطناعية
                </li>
            </ol>
        </div>
        <div class="mb-2 mt-2">
            <span>
                ترقيع العظام - ا ويتم إجراؤه في وقت وضع الزرع في بعض األحيان يكون التطعيم العظمي ضروري ة لبناء المزيد من العظام حول الغرسة ٍف للعظم بسبب فقدان العظام أو نمو العظام في الجزء السفلي من بعض غرسات األسنان الخلفية العلوية المسمار إذاكان هناك عرض غيركا من أجل "دفع" أرضية الجيوب األنفية ألعلى
            </span>
        </div>

        <div class="mb-2 mt-2">
            <span>
                لم يتم إعطائي أي ضمان أوضمان أو تأكيدات بأن العالج المقترح سيكون ناجح الفات المريض الفردية ، ال يمكن أن يكون هناك يقين من النجاح. هناك خطر من الفشل أو االنتكاس أو العالج اإلضافي أو حتى تدهور حالتي الحالية ، بما في ذلك احتمال فقدان األسنان على الرغم من أفضل رعاية
            </span>
        </div>
        <div class="mb-2 mt-2">
            <span>
                شروط الدفع:
            </span>
        </div>
        <div class="mb-2 mt-2">
            <span>
                التكلفة اإلجمالية   قيل لي وشرحت لي بوضوح أن طريقة الدفع ستكون على قبل بدء العالج.<br />
                @Html.TextBoxFor(m => m.dica_1, new { @class = "form-control", @id = "udica_1", @maxlength = "200" })
            </span>
        </div>
    </div>
    <div class="row mt-2" dir="rtl">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr dir="rtl">
                    <td colspan="3" class="font-weight-bold text-danger fs-18" width="100%">
                        <u>قم بالتوقيع هنا فقط إذا تمت الموافقة على جميع الأسئلة </u>
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <div id="upat_sign_box">
                            <img alt="stamp" id="upat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="34%">
                        <div id="uwit_sign_box">
                            <img alt="stamp" id="uwit_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        سم المريض
                        <br />
                        <label class="form-label text-red">@emr.pat_name&nbsp;</label>
                        الوصي، صلة القرابة
                        <br />
                        @Html.TextBoxFor(m => m.dica_2, new { @class = "form-control text-center", @id = "udica_2", @maxlength = "200" })

                    </td>
                    <td width="34%">
                        هوية الشاهد
                        <br />
                        @Html.TextBoxFor(m => m.dica_3, new { @class = "form-control text-center", @id = "udica_3", @maxlength = "200" })

                        التاريخ
                        <br />
                        <label class="form-label text-red">@emr.app_fdate&nbsp;</label>
                    </td>
                    <td width="33%">
                        سم جراح الأسنان
                        <br />
                        <label class="form-label text-red">@emr.doc_name&nbsp;</label>

                        التاريخ
                        <label class="form-label text-red">@emr.app_fdate&nbsp;</label>

                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue text-center" width="33%">
                        توقيع المريض/ الممثل المفوض قانونا
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue  text-center" width="34%">
                        توقيع الشاهد
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> witness
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('witness')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('witness')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center" width="33%">توقيع الطبيب </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update">Save Changes</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                <button type="button" class="btn btn-danger btn-sm" id="btn_Delete">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print"> Download/Print </button>
            </div>
        </div>
    </div>
</form>


<script type="text/javascript">


    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Update").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Update").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Update").show();
                }
                else {
                    $("#btn_Update").hide();
                }
            }
        }
        validate();
        GetSignaturename('patient');
        GetSignaturename('witness');
    });


    //#region Validation Initialization
    var validate = function () {
        $("#form_DentalImplantConsentArabicEdit").validate({
            rules: {
                dica_1: {
                    required: true
                },
               dica_2: {
                    required: true
                },
                dica_3: {
                    required: true
                },

            },
            messages: {
                dica_1: {
                    required: "Please Enter Procedures!"
                },
                dica_2: {
                    required: "Please Enter Guardian Name!"
                },
                dica_3: {
                    required: "Please Enter Witness ID!"
                },

            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });


    }
    //#endregion

    //#region Update  Click
    $('#btn_Update').on('click', function (e) {
        e.preventDefault();
        if ($("#form_DentalImplantConsentArabicEdit").valid()) {
            console.log($("#dicaId").val());
        $('#btn_Update').removeClass("btn btn-sm btn-success");
        $('#btn_Update').addClass("btn btn-sm btn-success btn-loaders btn-icon");
        $('#btn_Update').html("Updating the Record....");




            var _dateInsert = {
                "dicaId": 0,
                "dica_appId": @emr.appId,
                "dica_1": $("#udica_1").val(),
                "dica_2": $("#udica_2").val(),
                "dica_3": $("#udica_3").val(),

                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }
            console.log(_dateInsert);

            $.ajax({
                type: "Post",
                url: "@Url.Action("EditDentalImplantConsentArabic", "DentalImplantConsentArabic", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Update').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-success");
                    $('#btn_Update').html("Save Changes");



                    if (data.isSuccess) {
                        if (data.isEdited) {
                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>Dental Implant Consent Arabic Consent Form Updated Successfully!", "success");

                            Timeout();


                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning.. Dental Implant Consent Arabic Consent Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert1").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Update').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }

    });
    //#endregion Update Click

    //#region Delete Click
    $('#btn_Delete').on('click', function (e) {
        e.preventDefault();
        $('#btn_Delete').removeClass("btn btn-success");
        $('#btn_Delete').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Delete').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteDentalImplantConsentArabic", "DentalImplantConsentArabic", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-warning");
                $('#btn_Delete').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>Dental Implant Consent Arabic Consent Form Deleted Successfully!", "success");
                        clearControls();
                        Timeout();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-Delete");
                $('#btn_Delete').html("Delete");
                Timeout();
            }
        })
    });
//#endregion

    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("#upat_sign,#uwit_sign").attr("src", "");
    }
    //#endregion Clear Controls

    //#region Print
$('#btn_Print').on('click', function (e) {
    e.preventDefault();
    $('#btn_Print').removeClass("btn btn-sm btn-success");
    $('#btn_Print').addClass("btn btn-sm btn-success btn-loaders btn-icon");
    $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "DentalImplantConsentArabic", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=DentalImplantConsentArabic",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {
                if (data.success) {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print

    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "DentalImplantConsentArabic",
            "appId": @emr.appId,
            "formname":"DentalImplant ConsentArabic",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "DentalImplantConsentArabic",
                "appId": @emr.appId,
                "formname":"DentalImplant ConsentArabic",
                "formlink":"",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            GetSignaturename('witness');
            localStorage.removeItem("sign");
        }
    });

    //#region Get Signature
    var GetSignaturename = function  (person) {
        $.ajax({
            url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=DentalImplantConsentArabic',
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                console.log(response);
                let sign = response[0].psb_sign;
                if (response[0].person == "patient") {
                    $("#upat_sign_box").show();
                    $("#upat_sign").attr("src", sign);
                }
                if (response[0].person == "witness") {
                    $("#uwit_sign_box").show();
                    $("#uwit_sign").attr("src", sign);
                }
            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr);
            }

        });
    };
    //#endregion Get Signature

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout
</script>
