@using BusinessEntities;
@using System.Configuration;
@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<style>
    .emr-pat-info {
        padding-right: 2px;
        padding-left: 2px;
        font-weight: bold;
    }

    .alert1 {
        position: relative;
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 3px;
        font-size: 0.9375rem;
    }
</style>

<script>
    function openNewWindowAndCloseCurrent(url) {
        // Open the new window
        var newWindow = window.open(url, '_blank');

        // Close the current window
        window.close();
    }
</script>

<div class="mt-2">
    <div class="page-header">
        <div class="page-leftheader">
            <a class="btn btn-outline-primary" data-bs-toggle="collapse" href="#pat_emr_info" role="button" aria-expanded="false" aria-controls="pat_emr_info">
                Patient Appointment &amp; Medical Informations
            </a>
        </div>
        <div class="page-rightheader">
            <a class="btn btn-primary btn-pill" role="button" href="@Url.Action("PriorRequests", "PriorRequests", new { area="PriorRequests"})"><i class="fa fa-calendar me-2 fs-14"></i>Back To Prior Requests</a>
        </div>
    </div>

    <div class="collapse show mb-2" id="pat_emr_info" style="background:white;">
        <div class="border p-3">
            <div class="row">
                <div class="col-md-1">
                    <div class="widget-user-image mx-auto mt-2">
                        @if (!string.IsNullOrEmpty(emr.pat_photo))
                        {
                            string imgDataURL = ConfigurationManager.AppSettings["ClinicSoftEndPoint"].ToString() + "images/patient_images/" + emr.pat_photo;
                            <img src="@imgDataURL" alt="Patient Profile" class="rounded-circle" />
                        }
                        else
                        {
                            if (emr.pat_gender.ToLower().StartsWith("f"))
                            {
                                <img src='~/images/no-photo-female.jpg' alt="Patient Profile" class="rounded-circle" />
                            }
                            else
                            {
                                <img src='~/images/no-photo-male.jpg' alt="Patient Profile" class="rounded-circle" />
                            }
                        }
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="alert1 alert-dark" role="alert">
                        MRN : <span class="emr-pat-info">@emr.pat_code</span>  |
                        Name: <span class="emr-pat-info">  @emr.pat_name </span>  |
                        EMID: <span class="emr-pat-info">  @emr.pat_emirateid </span>  |
                        Age: <span class="emr-pat-info"> @emr.pat_age </span>  |
                        Gender: <span class="emr-pat-info"> @emr.pat_gender </span>  |
                        Nationality: <span class="emr-pat-info">  @emr.pat_nationality </span>  |
                        Status: <span class="emr-pat-info"> @emr.pat_ms </span>  |
                        TPA: <span class="emr-pat-info">@emr.app_ic_name (@emr.pi_insno) </span>  |
                        Scheme: <span class="emr-pat-info">@emr.is_title </span>  |
                        Payer: <span class="emr-pat-info">@emr.app_ip_code </span>
                    </div>
                    <div class="alert1 alert-light" role="alert">
                        Visit No : <span class="emr-pat-info">@emr.appId</span>  |
                        Category : <span class="emr-pat-info">  @emr.app_category </span>  |
                        <i class="fe fe-calendar"></i> <span class="emr-pat-info">  @emr.app_fdate_time </span>  |
                        <i class="fa fa-user-md"></i> <span class="emr-pat-info">  @emr.app_doctor_department </span>
                    </div>
                    @if (emr.isAlert)
                    {
                        <div class="alert1 alert-light-danger" role="alert">
                            @if (!string.IsNullOrEmpty(emr.vital_sign))
                            {
                                <span class="badge badge-gradient-success mt-2">Vitals Alert</span> @emr.vital_sign;
                            }
                            else
                            {
                                <span class="badge badge-gradient-danger mt-2">Vitals Alert</span> <span>No vital sign data found!</span>
                            }

                            @if (!string.IsNullOrEmpty(emr.allergy))
                            {
                                <span class="badge badge-gradient-info mt-2">Allergy Alert</span> @emr.allergy;
                            }
                            else
                            {
                                <span class="badge badge-gradient-danger mt-2">Allergy Alert</span> <span>Patient doesn't have any allergy!</span>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="alert1 alert-light-danger mb-0" role="alert">No vital sign data found & Patient doesn't have any allergy!</div>
                    }
                </div>
                <div class="col-md-1">
                    <div class="widget-user-image mx-auto mt-2">
                        @if (!string.IsNullOrEmpty(emr.emp_photo.ToString()))
                        {
                            if (emr.emp_photo.ToString().Contains(".") && !(emr.emp_photo.ToString().ToUpper().Equals("N/A") || emr.emp_photo.ToString().ToUpper().Equals("NA")))
                            {
                                string imgDataURL = ConfigurationManager.AppSettings["ClinicSoftEndPoint"].ToString() + "images/employee_photos/" + emr.emp_photo.ToString();
                                //string imgDataURL = "~/images/EMPLOYEE_PHOTOS/" + emr.emp_photo.ToString();
                                <img src="@imgDataURL" alt="Doctor Profile" class="rounded-circle" />
                            }
                            else
                            {
                                <img src="~/images/no-photo-doctor.jpg" alt="Doctor Profile" class="rounded-circle" />
                            }
                        }
                        else
                        {
                            <img src="~/images/no-photo-doctor.jpg" alt="Doctor Profile" class="rounded-circle" />
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="mb-2">
        <!-- Modal Signature Pad -->
        <div class="modal fade" id="signature_pad" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true" data-modal-from="EMR-list">
            <div class="modal-dialog modal-dialog-centered modal-lg ">
                <div class="modal-content" id="signature_pad_body">
                </div>
            </div>
        </div>
        <!-- End Modal Signature Pad -->
    </div>
    <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
        <div id="Alert"></div>
        <div id="error"></div>
    </div>

</div>
<script>
    //region Remove Error Class
    function error_timeout(_id) {
        setTimeout(function () {
            $(".has-error").removeClass("has-error");
            $(".error").removeClass("error");
            $("#" + _id + "-error").text("");
        }, 5200);
    }
    //#endregion

</script>



