<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta name="keywords" content="Clinic software, Home Care Software, HOMECARE Software, Home Care Management Software, medical software, medical center software, clinic management software, medical center management software, india, USA, dubai, sharjah, united arab emirates, abu dhabi, HAAD, DHA, MOH, DHCC, Dubai Health Care City, electronic prescription, ePrescription, electronic claims, eclaims, esignature, electronic signature, EMIRATESID integration" />
    <meta name="description" content="We Offers Custom Software Development, Website Designing & development, Domain Registration, Website Shared & Dedicated Hosting Service(Linux & Windows). We are offshore software development and software outsourcing experts. Our focus is application development, database design, Web design, ecommerce solutions and ecommerce Web site design." />
    <meta name="author" content="Vision Softwares">
    <meta name="distribution" content="Global" />
    <meta name="rating" content="General" />
    <meta name="subject" content="Computers/Software" />
    <meta name="page-type" content="Computers/Software" />
    <meta name="site-created" content="28-04-2005" />
    <meta name="revisit" content="6 days" />
    <meta name="revisit-after" content="6 days" />
    <meta name="content-language" content="english" />
    <meta name="resource-type" content="document" />
    <meta name="audience" content="all" />
    <meta name="robots" content="index,all" />
    <meta name="copyright" content="(c) 2005-2050 Vision Technologies " />
    <meta name="owner" content="Vision Technologies, Software Development, Website Design & Development, IT Infrastructure, Security Systems, Access Controls and IT Outsourcing Company" />
    <meta name="home_url" content="https://www.visionsoftwares.com/" />

    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta name="rating" content="General" />
    <meta name="copyright" content="
   -----------------------------------------------------
   Copyright; 2005-2050, Vision Technologies , All rights reserved.
   All graphics used in this document are copyrighted
   materials; 2005-2020, Vision Technologies , All rights reserved.
   -----------------------------------------------------
   Legal Notice: Information found on this website may not
   be published, broadcast, rewritten or redistributed in
   any form to any other websites or forums without prior
   written permission from VisionSoftwares.com.
   Copyrights; 2005-2020, Vision Technologies , All rights reserved.
   -----------------------------------------------------" />

    <meta name="robots" content="Index, Follow" />
    <meta http-equiv="Window-target" content="_top" />
    <meta http-equiv="Expires" content="0" />
    <meta name="WT.sp" content="_en_us_" />
    <meta name="DCSext.wt_ver" content="1.0" />
    <meta name="DCSext.wt_target" content="IE 7;Windows XP;Generic" />
    <meta name="Classification" content="E-Commerce, E-Business, Software development, Website, Hosting, Recruitment Software, Clinic Software, School Software, Property Software, Product Catalogue Software, Accounting Software, Retail Software, Jobs, Careers, Employment Opportunities" />

    <!-- Title -->
    <title>ClinicSoft 9.0 - Powered By Vision Technologies </title>

    <link rel="icon" href="~/assets/images/brand/favicon.ico" type="image/x-icon" />

    <!--Bootstrap css -->
    <link id="style" href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Style css -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/dark.css" rel="stylesheet" />
    <link href="~/assets/css/skin-modes.css" rel="stylesheet" />

    <!-- Animate css -->
    <link href="~/assets/css/animated.css" rel="stylesheet" />

    <!-- P-scroll bar css-->
    <link href="~/assets/plugins/p-scrollbar/p-scrollbar.css" rel="stylesheet" />

    <!---Icons css-->
    <link href="~/assets/css/icons.css" rel="stylesheet" />

    <!-- Simplebar css -->
    <link rel="stylesheet" href="~/assets/plugins/simplebar/css/simplebar.css">

    <!-- INTERNAL Morris Charts css -->
    <link href="~/assets/plugins/morris/morris.css" rel="stylesheet" />

    <!-- INTERNAL Select2 css -->
    <link href="~/assets/plugins/select2/select2.min.css" rel="stylesheet" />

    <!--Date Picker-->
    <link href="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet" />

    <!-- Data table css -->
    <link href="~/assets/plugins/datatables/DataTables/css/dataTables.bootstrap5.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatables/Buttons/css/buttons.bootstrap5.min.css" rel="stylesheet">
    <link href="~/assets/plugins/datatables/Responsive/css/responsive.bootstrap5.min.css" rel="stylesheet" />
    <!-- Color Skin css -->
    <link id="theme" href="~/assets/colors/color1.css" rel="stylesheet" type="text/css" />

    <!--- INTERNAL Sweetalert css-->
    <link href="~/assets/plugins/sweet-alert/jquery.sweet-modal.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/sweet-alert/sweetalert.css" rel="stylesheet" />
    <link href="~/assets/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <!-- INTERNAL Accordion Css -->
    <link href="~/assets/plugins/accordion/accordion.css" rel="stylesheet" />
    <!-- INTERNAL Sumoselect css-->
    <link rel="stylesheet" href="~/assets/plugins/sumoselect/sumoselect.css">
    <link href="~/assets/plugins/charts-c3/c3-chart.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatables/Select/css/select.dataTables.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatables/Checkbox/dataTables.checkboxes.css" rel="stylesheet" />
    <link href="~/assets/css/custom.css" rel="stylesheet" />

    <!-- INTERNAL  Tabs css-->
    <link href="~/assets/plugins/tabs/style.css" rel="stylesheet" />

    <!-- INTERNAl ion.rangeSlider css -->
    <link href="~/assets/plugins/ion-rangeslider/css/ion.rangeSlider.css" rel="stylesheet">
    <link href="~/assets/plugins/ion-rangeslider/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">

    <!-- INTERNAl Quill css -->
    <link href="~/assets/plugins/quill/quill.snow.css" rel="stylesheet">
    <link href="~/assets/plugins/quill/quill.bubble.css" rel="stylesheet">
    <!-- INTERNAL File Uploads css -->
    <link href="~/assets/plugins/fancyuploder/fancy_fileupload.css" rel="stylesheet" />

    <!-- INTERNAL Time picker css -->
    <link href="~/assets/plugins/time-picker/jquery.timepicker.css" rel="stylesheet" />
    <style>
        .modal-lg {
            max-width: 1500px;
        }
    </style>
    <!-- Jquery js-->
    <script src="~/assets/js/jquery.min.js"></script>

    <script type="text/javascript">
        function date_time(id) {
            date = new Date;
            year = date.getFullYear();
            month = date.getMonth();
            months = new Array('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December');
            d = date.getDate();
            day = date.getDay();
            days = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');


            h = date.getHours();
            if (h < 10) {
                h = "0" + h;
            }
            m = date.getMinutes();
            if (m < 10) {
                m = "0" + m;
            }
            s = date.getSeconds();
            if (s < 10) {
                s = "0" + s;
            }
            result = '' + days[day] + ' ' + months[month] + ' ' + d + ' ' + year + ' ' + h + ':' + m + ':' + s;
            document.getElementById(id).innerHTML = result;
            setTimeout('date_time("' + id + '");', '1000');
            return true;
        }

    </script>
    <style>
        .patient-profile-dropdown {
            padding: 0.95rem;
            border-left: 1px solid #e6ebf1 !important;
            border-right: 0px;
        }

        .connected-partners {
            height: 75px;
        }

        .dropdown-menu2 {
            left: unset;
        }
    </style>
</head>

<body class="app sidebar-mini">
    <!-- Page -->
    <div class="page">
        <div class="page-main">
            @Html.Partial("~/Areas/Documentation/Views/Shared/_Doc_Header.cshtml")
            @Html.Partial("~/Areas/Documentation/Views/Shared/_Doc_Menu.cshtml")

            <div class="app-content main-content">
                <div class="side-app">
                    @Html.Partial("~/Areas/Documentation/Views/Shared/_Doc_PatientInfo.cshtml")
                    @RenderBody()
                </div>
            </div>

            @Html.Partial("~/Areas/Documentation/Views/Shared/_Doc_Footer.cshtml")

        </div>
    </div>
    <!-- End Page -->
    <!-- Back to top -->
    <a href="#top" id="back-to-top"><i class="fe fe-chevron-up"></i></a>

    <!-- Bootstrap5 js-->
    <script src="~/assets/plugins/bootstrap/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!--Othercharts js-->
    <script src="~/assets/plugins/othercharts/jquery.sparkline.min.js"></script>

    <!-- Circle-progress js-->
    <script src="~/assets/js/circle-progress.min.js"></script>

    <!-- Jquery-rating js-->
    <script src="~/assets/plugins/rating/jquery.rating-stars.js"></script>

    <!--Sidemenu js-->
    <script src="~/assets/plugins/sidemenu/sidemenu.js"></script>

    <!-- P-scroll js-->
    <script src="~/assets/plugins/p-scrollbar/p-scrollbar.js"></script>
    <script src="~/assets/plugins/p-scrollbar/p-scroll1.js"></script>

    <!--INTERNAL Moment js-->
    <script src="~/assets/plugins/moment/moment.js"></script>

    <!-- INTERNAL Data tables -->
    <script src="~/assets/plugins/datatables/DataTables/js/jquery.dataTables.js"></script>
    <script src="~/assets/plugins/datatables/DataTables/js/dataTables.bootstrap5.js"></script>
    <script src="~/assets/plugins/datatables/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/plugins/datatables/Buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatables/JSZip/jszip.min.js"></script>
    <script src="~/assets/plugins/datatables/pdfmake/pdfmake.min.js"></script>
    <script src="~/assets/plugins/datatables/pdfmake/vfs_fonts.js"></script>
    <script src="~/assets/plugins/datatables/Buttons/js/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatables/Buttons/js/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatables/Buttons/js/buttons.colVis.min.js"></script>
    <script src="~/assets/plugins/datatables/Responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatables/Responsive/js/responsive.bootstrap5.min.js"></script>

    <!-- INTERNAL Select2 js -->
    <script src="~/assets/plugins/select2/select2.full.min.js" defer></script>

    <!-- Simplebar JS -->
    <script src="~/assets/plugins/simplebar/js/simplebar.min.js"></script>

    <!-- INTERNAL Sweet alert js -->
    <script src="~/assets/plugins/sweet-alert/jquery.sweet-modal.min.js"></script>
    <script src="~/assets/plugins/sweet-alert/sweetalert.min.js"></script>
    <script src="~/assets/plugins/sweetalert2/sweetalert2.min.js"></script>

    <!--Date Range Picker-->
    <script src="~/assets/plugins/date-picker/date-picker.js"></script>
    <script src="~/assets/plugins/date-picker/jquery-ui.js"></script>
    <script src="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>

    <!--INTERNAl Time Counter -->
    <script src="~/assets/plugins/counters/jquery.missofis-countdown.js"></script>

    <!--INTERNAl Counters -->
    <script src="~/assets/plugins/counters/counterup.min.js"></script>
    <script src="~/assets/plugins/counters/waypoints.min.js"></script>
    <script src="~/assets/plugins/countdown/moment.min.js"></script>
    <script src="~/assets/plugins/countdown/moment-timezone.min.js"></script>
    <script src="~/assets/plugins/countdown/moment-timezone-with-data.min.js"></script>
    <script src="~/assets/plugins/countdown/countdowntime.js"></script>

    <!--INTERNAL Accordion js-->
    <script src="~/assets/plugins/accordion/accordion.min.js"></script>

    <script src="~/assets/plugins/sumoselect/jquery.sumoselect.js"></script>

    <!--Othercharts js-->
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/assets/plugins/datatables/Select/js/dataTables.select.min.js"></script>
    <script src="~/assets/plugins/datatables/Checkbox/dataTables.checkboxes.min.js"></script>

    <!--INTERNAL Form Advanced Element -->
    <script src="~/assets/js/file-upload.js"></script>
    <!--- INTERNAL Tabs js-->
    <script src="~/assets/plugins/tabs/jquery.multipurpose_tabcontent.js"></script>

    <!-- Custom js-->
    <script src="~/assets/js/custom.js"></script>

    <!-- INTERNAL ion.rangeSlider.min js -->
    <script src="~/assets/plugins/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
    @*<script src="~/assets/js/rangeslider.js"></script>*@

    <!-- INTERNAL quill js -->
    <script src="~/assets/plugins/quill/quill.min.js"></script>

    <!-- INTERNAL Timepicker js -->
    <script src="~/assets/plugins/time-picker/jquery.timepicker.js"></script>
    <script src="~/assets/plugins/time-picker/toggles.min.js"></script>

    <!-- INTERNAL File-Uploads Js-->
    <script src="~/assets/plugins/fancyuploder/jquery.ui.widget.js"></script>
    <script src="~/assets/plugins/fancyuploder/jquery.fileupload.js"></script>
    <script src="~/assets/plugins/fancyuploder/jquery.iframe-transport.js"></script>
    <script src="~/assets/plugins/fancyuploder/jquery.fancy-fileupload.js"></script>
    <script src="~/assets/plugins/fancyuploder/fancy-uploader.js"></script>
    <script type="text/javascript">
        if (localStorage.getItem("type") == "NurseStation") {
            $('#NurseStation').removeClass("nurseStation d-none");
            $('#emrtabs').addClass("emrtabs d-none");
        }

        $('.open-toggle').click(function () {
            $('.dataTables_scrollHeadInner').css('width', '100%');

            var table = $('.resize-table').DataTable();
            setTimeout(function () {
                table.columns.adjust().draw();
            }, 450);
        });
    </script>

    @if (IsSectionDefined("myScripts"))
    {
        @RenderSection("myScripts", required: false);
    }
</body>
</html>
