@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Ozurdex Injection";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Informed Consent For Intravitreal Ozurdex Injection Procedure</h3>
            </div>
            <div class="card-body">
                <div id="OzurdexInjection_add" style="display:none">
                </div>
                <div id="OzurdexInjection_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="OzurdexInjection_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetOzurdexInjectionInfo();
        OzurdexInjectionPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetOzurdexInjectionInfo
    var GetOzurdexInjectionInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetOzurdexInjectionData", "OzurdexInjection", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditOzurdexInjection();
                        $("#OzurdexInjection_add").hide();
                        $("#OzurdexInjection_edit").show();

                    }
                    else {
                        $("#OzurdexInjection_add").show();
                        $("#OzurdexInjection_edit").hide();
                        AddOzurdexInjection();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load OzurdexInjection

    //#region Add OzurdexInjection
    function AddOzurdexInjection() {
        var x = $("#OzurdexInjection_add");
        x.load("@Url.Action("CreateOzurdexInjection", "OzurdexInjection", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add OzurdexInjection

    //#region Update OzurdexInjection
    function EditOzurdexInjection() {
        var x = $("#OzurdexInjection_edit");
        x.load("@Url.Action("UpdateOzurdexInjection", "OzurdexInjection", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update OzurdexInjection

    //#region Histroy of OzurdexInjection
    function OzurdexInjectionPreviousHistory() {
        var x = $("#OzurdexInjection_history");
        x.load("@Url.Action("OzurdexInjectionPreviousHistory", "OzurdexInjection", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>