@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Dmax Informed Consent";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">HYALURONIDASE FOR FILLER DISSOLVING CONSENT FORM</h3>
            </div>
            <div class="card-body">
                <div id="DmaxInformedConsent_add" style="display:none">
                </div>
                <div id="DmaxInformedConsent_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="DmaxInformedConsent_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetDmaxInformedConsentInfo();
        DmaxInformedConsentPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetDmaxInformedConsentInfo
    var GetDmaxInformedConsentInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetDmaxInformedConsentData", "DmaxInformedConsent", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditDmaxInformedConsent();
                        $("#DmaxInformedConsent_add").hide();
                        $("#DmaxInformedConsent_edit").show();

                    }
                    else {
                        $("#DmaxInformedConsent_add").show();
                        $("#DmaxInformedConsent_edit").hide();
                        AddDmaxInformedConsent();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load DmaxInformedConsent

    //#region Add DmaxInformedConsent
    function AddDmaxInformedConsent() {
        var x = $("#DmaxInformedConsent_add");
        x.load("@Url.Action("CreateDmaxInformedConsent", "DmaxInformedConsent", new { area = "ConsentForms" })", function () {
    });
    }
    //#endregion Add DmaxInformedConsent

    // #region Update DmaxInformedConsent
    function EditDmaxInformedConsent() {
        var x = $("#DmaxInformedConsent_edit");
        x.load("@Url.Action("UpdateDmaxInformedConsent", "DmaxInformedConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
    });
    }
    //#endregion Update DmaxInformedConsent

    // #region History of DmaxInformedConsent
    function DmaxInformedConsentPreviousHistory() {
        var x = $("#DmaxInformedConsent_history");
        x.load("@Url.Action("DmaxInformedConsentPreviousHistory", "DmaxInformedConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
    });
    }
    //#endregion
</script>
