@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Root Canal";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Informed Consent For Endodontic Treatment</h3>
            </div>
            <div class="card-body">
                <div id="RootCanal_add" style="display:none">
                </div>
                <div id="RootCanal_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="RootCanal_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        //#region Page Load
        $(function () {
            GetRootCanalInfo();
            RootCanalPreviousHistroy();
        });

        //#endregion Page Load

        //#region Load GetRootCanalInfo
        var GetRootCanalInfo = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetRootCanalData", "RootCanal", new { area = "ConsentForms" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        if (response.length > 0) {
                            EditRootCanal();
                            $("#RootCanal_add").hide();
                            $("#RootCanal_edit").show();

                        }
                        else {
                            $("#RootCanal_add").show();
                            $("#RootCanal_edit").hide();
                            AddRootCanal();
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
        //#endregion Load RootCanal

        //#region Add RootCanal
        function AddRootCanal() {
            var x = $("#RootCanal_add");
            x.load("@Url.Action("CreateRootCanal", "RootCanal", new { area = "ConsentForms" })", function () {
          });
        }
        //#endregion Add RootCanal


         //#region Update RootCanal
        function EditRootCanal() {
            var x = $("#RootCanal_edit");
            x.load("@Url.Action("UpdateRootCanal", "RootCanal", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
         });
        }
        //#endregion Update RootCanal

        //#region Histroy of RootCanal
        function RootCanalPreviousHistroy() {
            var x = $("#RootCanal_histroy");
           x.load("@Url.Action("RootCanalPreviousHistroy", "RootCanal", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
         });
        }
      //#endregion Histroy of RootCanal

</script>
