@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConcentForms.RootCanal

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_RootCanalEdit" autocomplete="off" name="RootCanal" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5 mt-5 text-justify">
        <div class="col-sm-12 col-md-12 col-lg-6">Tooth(s) #: @Html.TextBoxFor(m => m.crct_3, new { @class = "form-control mb-2", @id = "ucrct_3" })</div>
        <div class="col-sm-12 col-md-12 col-lg-6">Prognosis:@Html.TextBoxFor(m => m.crct_4, new { @class = "form-control mb-2", @id = "ucrct_4" })</div>
        <p>
            I voluntarily consent to endodontic (root canal) treatment that has been recommended. I understand that the goal of root canal treatment is to save a tooth that might otherwise require extraction. Although root canal treatment has a very high success rate, it is a dental-biological procedure, whose results cannot be guaranteed. Further, root canal treatment is performed to correct an apparent problem and occasionally undiagnosed or hidden problems arise. I understand that this procedure will not prevent future tooth decay or a possible fracture, and that occasionally a tooth that had root canal treatment may require re-treatment, surgery or tooth extraction.
        </p>
        <p>
            The treatment has been fully explained to me including the risks involved.I have been informed that complications might include, but are not limited to:
        </p>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <ol style="list-style:lower-alpha">
                <li class="mb-1">Perforation of the canal with instruments, which could result in the need for root canal surgery or the loss of the tooth.</li>
                <li class="mb-1">Instrument breakage in the canal, which may require re-treatment, root canal surgery or extraction.</li>
                <li class="mb-1">Incomplete healing, which may require re-treatment and/or root canal surgery or extraction.</li>
                <li class="mb-1">Post-operative infection, which may require additional treatment and/or the use of antibiotics</li>
                <li class="mb-1">Tooth fracture, that may require additional treatment or tooth extraction.</li>
                <li class="mb-1">Referral to a specialist if any unexpected difficulties occur during treatment.</li>
                <li>Post-treatment discomfort, altered feeling of the soft-tissues of the mouth.</li>
            </ol>
        </div>
        <p>I am aware that the condition of the tooth will worsen and that other systemic (medical) problems could possibly develop if the recommended procedure is not done. </p>
        <p class="text-red text-decoration-underline">Other Treatment choices:</p>
        <p>The following other treatment options might be possible:</p>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <ol style="list-style:lower-alpha">
                <li class="mb-1">No treatment at all;</li>
                <li class="mb-1">Waiting for more definitive development of symptoms</li>
                <li>Extraction: To be replaced with either nothing, a denture, a bridge or an implant.</li>
            </ol>
        </div>
        <p>
            After the completion of the root canal procedure, you will be referred back to your restorative dentist for the permanent restoration (filling, crown, onlay). Failure to have the tooth properly restored significantly increases the possibility of re-infection, failure of the root canal procedure and/or tooth fracture.
        </p>
        <p>I consent to photography, filming, recording, and x-rays of the procedure to be performed for the advancement of implant dentistry, provided my identity is not revealed</p>
        <p class="text-red">
            Patient’s Initials:
            @Html.TextBoxFor(m => m.crct_1, new { @class = "form-control form-control-sm", @id = "ucrct_1" })
        </p>
        <p>I understand that ALL medications have the potential for accompanying risks, side effects and drug interactions.  Therefore, it is critical that I tell my dentist of all medications I am currently taking.</p>
        <p>
            In the event I wish to discontinue the treatment, I have been informed of and understand the risks associated with leaving my condition untreated. I am aware that my overall health may be affected by my decision. I will not hold the dentist, dental staff,
            or anyone associated with the dental practice responsible for changes in my overall health stemming from this condition. I have had the chance to ask questions and express concerns about my dental condition, thetreatment options, and my refusal of treatment.
            The undersigned provider has answered all my questions and addressed all my concerns.
            I understand the full scope of the situation and am making an informed decision.
        </p>
        <p class="text-red"> <u>Informed Consent:</u></p>
        <p>
            I have been given the opportunity to ask any questions regarding the nature and purpose of root canal treatment and have received answers to my satisfaction.  I voluntarily assume any and all possible risks, including risk of substantial harm, if any, which may be associated with any phase of this treatment in hopes of obtaining the desired result, which may or may not be achieved. The fee (s) (if applicable),
            for this service have been explained to me and are satisfactory.
            By signing this form, I am freely giving my consent to allow and authorize Dr.<label class="text-red">@emr.doc_name</label> and / or his / her associates to render treatment and administering or any medications and / or anesthetics deemed necessary for my treatment.
        </p>
        <p>
            I have been given the opportunity to ask any questions regarding the nature and purpose of crown and / or bridge treatment and have received answers to my satisfaction.  I voluntarily assume any and all possible risks, including risk of substantial harm, if any, which may be associated with any phase of this treatment in hopes of obtaining the desired result, which may or may not be achieved. The fee (s) (if applicable), for this service have been explained to me and are satisfactory.  By signing this form, I am freely giving my consent to allow and authorize Dr.<label class="text-red">@emr.doc_name</label>
            and / or his associates to render treatment and administering or any medications and / or anesthetics deemed necessary for my treatment.
        </p>
        <p>
            <div class="custom-controls-stacked">
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="ucrct_2" id="ucrct_21" value="Yes">
                    <span class="custom-control-label">I have been given the opportunity to ask questions and give my consent for the proposed treatment as Described above.</span>
                </label>
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="ucrct_2" id="ucrct_22" value="No">
                    <span class="custom-control-label">I refuse to give my consent for the proposed treatment(s) as described above and have been explained the potential consequences associated with this refusal.</span>
                </label>
            </div>
        </p>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="3" class="font-weight-bold text-danger fs-18" width="100%">
                        Sign here, only if all of your questions have been answered to your satisfaction
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="upat_sign_box">
                            <img alt="stamp" src="" id="upat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td>
                        <div id="uwit_sign_box">
                            <img alt="stamp" src="" id="uwit_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td>
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold">Patient Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                    <td width="33%">
                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>

                    </td>
                    <td width="33%">
                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue text-center">
                        Patient Signature
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue  text-center">
                        Witness
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> witness
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('witness')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('witness')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center">Dentist’s Sign/Stamp</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update">Save Changes</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                <button type="button" class="btn btn-danger btn-sm" id="btn_DeleteForm">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print"> Download/Print </button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Update").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Update").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Update").show();
                }
                else {
                    $("#btn_Update").hide();
                }
            }
        }
        GetCheckedValues();
        validate();
        GetSignaturename('patient');
        GetSignaturename('witness');
    });
        //#region Get CheckedValues
    var GetCheckedValues = function (checknames) {
        var checknames = "@Model.crct_2";

        if (checknames !== null) {

            if (checknames != "") {
                if (checknames == "Yes") {
                    $('#ucrct_21').attr('checked', 'checked');
                    $("#ucrct_21").prop("checked", true);
                }
                if (checknames == "No") {
                    $('#ucrct_22').attr('checked', 'checked');
                    $("#ucrct_22").prop("checked", true);
                }


            }
        }


    }
//#endregion Get CheckedValues

    //#region Validation Initialization
    var validate = function () {
        $("#form_RootCanalEdit").validate({
            rules: {
                crct_1: {
                    required: true
                },
                crct_3: {
                    required: true
                },
                crct_4: {
                    required: true
                }

            },
            messages: {

                crct_1: {
                    required: "Please Enter Patient's Intials!"
                },
                crct_3: {
                    required: "Please Enter Tooth's!"
                },
                crct_4: {
                    required: "Please Enter Prognosis!"
                },

            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });


    }
    //#endregion

    //#region Update  Click
    $('#btn_Update').on('click', function (e) {
        e.preventDefault();
        if ($("#form_RootCanalEdit").valid()) {
            console.log($("#crctId").val());
            $('#btn_Update').removeClass("btn btn-sm btn-success");
            $('#btn_Update').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Update').html("Updating the Record....");


            var ucrct_2 = "";

            if ($('#ucrct_21').prop('checked')) {
                ucrct_2 = "Yes";
            }
            else if ($('#ucrct_22').prop('checked')) {
                ucrct_2 = "No";
            }

            var _dateInsert = {
                "crctId": 0,
                "crct_appId": @emr.appId,
                "crct_1": $("#ucrct_1").val(),
                "crct_2": ucrct_2,
                "crct_3": $("#ucrct_3").val(),
                "crct_4": $("#ucrct_4").val(),
                //"crct_status": "Active",
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }
            console.log(_dateInsert);


            $.ajax({
                type: "Post",
                url: "@Url.Action("EditRootCanal", "RootCanal", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Update').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-success");
                    $('#btn_Update').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isEdited) {
                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> RootCanal Consent Form Updated Successfully!", "success");

                            //GetSickLeaveGeneral();
                            Timeout();
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning.. RootCanal Consent Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert1").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Update').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion Update Click

   //#region Delete Click
    $('#btn_DeleteForm').on('click', function (e) {
        e.preventDefault();
        $('#btn_DeleteForm').removeClass("btn btn-success");
        $('#btn_DeleteForm').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_DeleteForm').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteRootCanal", "RootCanal", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-warning");
                $('#btn_DeleteForm').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>Root Canal Consent Form Deleted Successfully!", "success");
                        clearControls();
                        Timeout();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-Delete");
                $('#btn_DeleteForm').html("Delete");
                Timeout();
            }
        })
    });
//#endregion

    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

 //#region Print
    $('#btn_Print').on('click', function (e) {
        e.preventDefault();
        $('#btn_Print').removeClass("btn btn-sm btn-success");
        $('#btn_Print').addClass("btn btn-sm btn-success btn-loaders btn-icon");
        $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "RootCanal", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=RootCanal",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {
                if (data.success) {
                    console.log(data);
                    console.log(data.message.pdfPath);
                  window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $("input[name='ucrct_2']:radio").prop('checked', false);
        $(".form-control-sm").val("");
        $("#upat_sign,#uwit_sign").attr("src", "");
    }
    //#endregion Clear Controls
    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "RootCanal",
                "appId": @emr.appId,
                "formname":"Root Canal",
                "formlink":"",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion
     //#region Signature
 var openSignaturePad = function (id) {
     var _data = {
         "patId": @emr.patId,
         "person": id,
         "form": "RootCanal",
         "appId": @emr.appId,
         "formname":"Root Canal",
         "formlink":"",
         "eSign":""
     }
     $.ajax({
         type: "GET",
         url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
         contentType: "application/json",
         dataType: "html",
         data: _data,
         success: function (response) {
             $("#signature_pad_body").html(response);
             $("#signature_pad").modal("show");
         },
         error: function (xhr) {
             console.log("Error :" + xhr.statusText);
         }
     });
 }
 //#endregion Signature

 $('#signature_pad').on('hidden.bs.modal', function () {
     if (localStorage.getItem("sign") != null) {
         GetSignaturename('patient');
         GetSignaturename('witness');
         localStorage.removeItem("sign");
     }
 });

 //#region Get Signature
 var GetSignaturename = function  (person) {
     $.ajax({
         url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=RootCanal',
         type: "GET",
         dataType: "json",
         async: false,
         success: function (response) {
             console.log(response);
             let sign = response[0].psb_sign;
             if (response[0].person == "patient") {
                 $("#upatimg").show();
                 $("#upat_sign").attr("src", sign);
             }
             if (response[0].person == "witness") {
                 $("#uwitimg").show();
                 $("#uwit_sign").attr("src", sign);
             }
         },
         error: function (xhr) {
             console.log(xhr);
             alert(xhr);
         }

     });
 };
 //#endregion Get Signature

 //#region Alert Timeout
 function Timeout() {
     window.setTimeout(function () {
         $(".alert").fadeTo(500, 0).slideUp(500, function () {
             $(this).remove();
         });
     }, 4200);
 }
 //#endregion Alert Timeout
</script>
