@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Microneedling Consent";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Microneedling Consent Form
                    <br /><span dir="rtl" class="text-right">نموذج الموافقة على الوخز بالإبر الدقيقة</span>
                </h3>
            </div>
            <div class="card-body">
                <div id="MicroneedlingConsent_add" style="display:none">
                </div>
                <div id="MicroneedlingConsent_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="MicroneedlingConsent_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetMicroneedlingConsentInfo();
        MicroneedlingConsentPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetMicroneedlingConsentInfo
    var GetMicroneedlingConsentInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetMicroneedlingConsentData", "MicroneedlingConsent", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditMicroneedlingConsent();
                        $("#MicroneedlingConsent_add").hide();
                        $("#MicroneedlingConsent_edit").show();

                    }
                    else {
                        $("#MicroneedlingConsent_add").show();
                        $("#MicroneedlingConsent_edit").hide();
                        AddMicroneedlingConsent();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load MicroneedlingConsent

    //#region Add MicroneedlingConsent
    function AddMicroneedlingConsent() {
        var x = $("#MicroneedlingConsent_add");
        x.load("@Url.Action("CreateMicroneedlingConsent", "MicroneedlingConsent", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add MicroneedlingConsent

    // #region Update MicroneedlingConsent
    function EditMicroneedlingConsent() {
        var x = $("#MicroneedlingConsent_edit");
        x.load("@Url.Action("UpdateMicroneedlingConsent", "MicroneedlingConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update MicroneedlingConsent

    //#region History of MicroneedlingConsent
    function MicroneedlingConsentPreviousHistory() {
        var x = $("#MicroneedlingConsent_history");
        x.load("@Url.Action("MicroneedlingConsentPreviousHistory", "MicroneedlingConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>