@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMR.RevisionRequest
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<form id="form_ApprovalRequest" autocomplete="off" name="ApprovalRequest" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row mt-2">


        <div class="col-sm-12 col-sm-6 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black text-align-left"> Name&nbsp; </label>
                <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-6 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black text-align-left"> MRN&nbsp; </label>
                <label class="form-label text-red text-left text-capitalize">@emr.pat_code&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Date&nbsp;</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fe fe-calendar"></i>
                        </div>
                    </div>
                    @Html.TextBoxFor(m => m.carr_date, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "carr_date" })
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label">Card No.</label>
                @Html.TextBoxFor(m => m.carr_e1, new { @class = "form-control", @placeholder = "Ex : 549LI324", @maxlength = "10" })
            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Requested Date&nbsp;</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fe fe-calendar"></i>
                        </div>
                    </div>
                    @Html.TextBoxFor(m => m.carr_e3, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "carr_e3" })
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Auth Expiry&nbsp;</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fe fe-calendar"></i>
                        </div>
                    </div>
                    @Html.TextBoxFor(m => m.carr_e4, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "carr_e4" })
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label">Present Auth No<span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.carr_e2, new { @class = "form-control", @placeholder = "Ex : 549LI324", @maxlength = "10" })
            </div>
        </div>
        <div class="col-sm-6 col-md-2 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label">Approved Quantity</label>
                @Html.TextBoxFor(m => m.carr_e5, new { @class = "form-control", @placeholder = "Ex : 2", @maxlength = "10" })
            </div>
        </div>
        <div class="col-sm-6 col-md-2 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label">Utilized sessions</label>
                @Html.TextBoxFor(m => m.carr_e6, new { @class = "form-control", @placeholder = "Ex : 1", @maxlength = "10" })
            </div>
        </div>
        <div class="col-sm-6 col-md-2 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label">Required Quantity</label>
                @Html.TextBoxFor(m => m.carr_e7, new { @class = "form-control", @placeholder = "Ex : 5", @maxlength = "10" })
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4"></div>
        <div class="col-sm-12 col-md-6 col-lg-12">
            <div class="form-group mb-3">
                <label class="form-label text-black">Reason for revision&nbsp;</label>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input" name="carr_checkbox" value="Authorization Expired" id="1">
                        <span class="custom-control-label">Authorization Expired</span>
                    </label>
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input" name="carr_checkbox" value="Card Expired" id="2">
                        <span class="custom-control-label">Card Expired</span>
                    </label>
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input" name="carr_checkbox" value="Patient Discontinued and Resumed" id="2">
                        <span class="custom-control-label">Patient Discontinued and Resumed</span>
                    </label>
                    <label class="custom-control custom-radio  ms-2 me-2">
                        <input type="radio" class="custom-control-input" name="carr_checkbox" value="Other" id="2">
                        <span class="custom-control-label">Other</span>
                    </label>
                    @Html.TextBoxFor(m => m.carr_other, new { @class = "form-control", @placeholder = "Enter Other", @style = "width:55%;" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-11 col-md-12 col-lg-4">
                <label class="form-label mb-2">
                    Doctor Name & Licence
                </label>
                <span class="text-capitalize text-left text-red">@emr.doc_name&nbsp;</span>
                <span class="text-capitalize text-left text-red">@emr.emp_license&nbsp;</span>

            </div>
            <div class="col-sm-11 col-md-12 col-lg-4">
                <label class="form-label mb-2">
                    Signature/Stamp
                </label>
                <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />

            </div>

        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-sm btn-success" id="btn_Insert_Revision">Add Request</button>
                <button type="button" class="btn btn-sm btn-outline-dark" id="btn_Reset_Revision">Reset</button>

            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    //#region Partial View Onload
        $(function () {
            if ("@emp_designation.ToString()" === "Super Administrator") {
                    $("#btn_Insert_Revision").show();
            }
            else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Insert_Revision").show();

                }
                else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Insert_Revision").show();
                    }
                    else {
                        $("#btn_Insert_Revision").hide();
                    }
                }
            }
            $('#carr_date,#carr_e3,#carr_e4').bootstrapdatepicker({
                format: "dd-MM-yyyy",
                viewMode: "date",
                todayHighlight: true,
                autoclose: true,
                multidate: false,
                multidateSeparator: "-"
            });
            $("#carr_date,#carr_e3,#carr_e4").bootstrapdatepicker("setDate", moment(new Date("@emr.today")).format("DD-MMMM-YYYY"));
            validation();

        });
    //#endregion Partial View Onload

    //#region Validation Initialization
    var validation = function () {

        $("#form_ApprovalRequest").validate({
            focusInvalid: true,
            rules:
            {
                carr_e2: {
                    required: true
                },

            },
            messages: {
                carr_e2: {
                    required: "Please Enter Present Auth No"
                },

            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });


        $('#carr_e1').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9]/g)) {
                return false;
            }
            else {
                if (e.target.value.length >= 10)
                    return false;
            }
        });
        $('#carr_e5').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9]/g)) {
                return false;
            }
            else {
                if (e.target.value.length >= 10)
                    return false;
            }
        });
        $('#carr_e6').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9]/g)) {
                return false;
            }
            else {
                if (e.target.value.length >= 10)
                    return false;
            }
        });
        $('#carr_e7').keypress(function (e) {
            var charCode = (e.which) ? e.which : e.keyCode
            if (String.fromCharCode(charCode).match(/[^0-9]/g)) {
                return false;
            }
            else {
                if (e.target.value.length >= 10)
                    return false;
            }
        });


    }
    //#endregion


    //#region Add  Click
        $('#btn_Insert_Revision').on('click', function (e) {
            e.preventDefault();
            if ($("#form_ApprovalRequest").valid()) {
                $('#btn_Insert_Revision').removeClass("btn btn-sm btn-success");
                $('#btn_Insert_Revision').addClass("btn btn-sm btn-success btn-loaders btn-icon");
                $('#btn_Insert_Revision').html("Saving the Record....");
                var _dateInsert = {
                    "carr_Id": "0",
                    "carr_appId": @emr.appId,
                    "carr_date": $('#carr_date').val() ,
                    "carr_e1": $('#carr_e1').val() ,
                    "carr_e2": $('#carr_e2').val() ,
                    "carr_e3": $('#carr_e3').val(),
                    "carr_e4": $('#carr_e4').val(),
                    "carr_e5": $('#carr_e5').val() ,
                    "carr_e6": $('#carr_e6').val() ,
                    "carr_e7": $('#carr_e7').val() ,
                    "carr_other": $('#carr_other').val() ,
                    "carr_checkbox": $("input[name='carr_checkbox']:checked").val(),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                $.ajax({
                    type: "Post",
                    url: "@Url.Action("InsertApprovalRevisionRequest", "OccupationalTherapy", new {area = "EMR" })",
                    dataType: 'JSON',
                    data: _dateInsert,
                    success: function (response) {
                        $('#btn_Insert_Revision').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                        $('#btn_Insert_Revision').addClass("btn btn-sm btn-success");
                        $('#btn_Insert_Revision').html("Add Request");
                        if (response.isSuccess) {
                            if (response.isInserted) {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> Approval Revision Request Saved Successfully!", "success");
                            GetRevisionRequest();
                            Timeout();
                        }
                        else {

                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning..Approval Revision Request Alredy Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                        }
                        else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                                $.each(response.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                            }, 5000);
                        });
                        html += "</ul></div></div>";
                        $("#error").html(html);
                        }
                    },
                        error: function (xhr) {
                            $('#btn_Insert_Revision').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                            $('#btn_Insert_Revision').addClass("btn btn-sm btn-warning");
                            $('#btn_Insert_Revision').html("Add Request");
                        Timeout();
                    }
                });
            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }

        });
    //#endregion Add Click



    //#region Reset
    $('#btn_Reset_Revision').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $("#carr_date").bootstrapdatepicker("setDate", moment(new Date("@emr.today")).format("DD-MMMM-YYYY"));
    }
    //#endregion Clear Controls


</script>

