@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMR.FIMInstrument
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_EditFIM" name="FIMInstrument" class="needs-validation" >

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.cfim_Id)
    @Html.HiddenFor(m => m.cfim_appId)
    @Html.HiddenFor(m => m.cfim_Id, new { @id = "ucfim_Id", @value = "@Model.cfim_Id" })

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-12">
            <div class="row border ">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name:&nbsp;</label></div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID:&nbsp;</label></div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_emirateid&nbsp;</label>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Department:&nbsp;</label></div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-2">
                            <label class="form-label text-red text-left">@emr.emp_dept_name&nbsp;</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No :&nbsp;</label></div>

                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code&nbsp;</label>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB&nbsp;</label></div>

                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob&nbsp;</label>
                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality:&nbsp;</label></div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality&nbsp;</label>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender&nbsp;</label></div>

                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender&nbsp;</label>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name	:&nbsp;</label></div>

                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name&nbsp;</label>
                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date&nbsp;</label></div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-sm-6 col-lg-1">
            <div class="form-group mb-3">
                <label class="form-label text-black">Date&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-6 col-lg-1">
            <div class="form-group mb-3">
                <label class="form-label text-black">:&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2">
            <div class="form-group mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fe fe-calendar"></i>
                        </div>
                    </div>
                    @Html.TextBoxFor(m => m.cfim_date, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "ucfim_date" })
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-12">
            <table class="table table-bordered card-table table-vcenter text-nowrap ">
                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td class=" text-black font-weight-bold"></td>
                        <td class=" text-black font-weight-bold"></td>
                        <td class=" text-black font-weight-bold">Admisssion</td>
                        <td class=" text-black font-weight-bold">Discharge</td>
                        <td class=" text-black font-weight-bold">Follow-up</td>
                    </tr>
                    <tr>
                        <td class="form-label text-black">Self-Care</td>
                        <td class="text-black" colspan="4"></td>
                    </tr>
                    <tr>
                        <td class="text-black w-3">A. Eating</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_a1, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_a1" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_a2, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_a2" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_a3, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_a3" })
                            </div>

                        </td>

                    </tr>

                    <tr>
                        <td class="text-black w-3">B. Grooming</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_b1, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_b1" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_b2, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_b2" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_b3, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_b3" })
                            </div>

                        </td>

                    </tr>
                    <tr>
                        <td class="text-black w-3">C. Bathing</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_c1, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_c1" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_c2, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_c2" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_c3, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_c3" })
                            </div>

                        </td>

                    </tr>
                    <tr>
                        <td class="text-black w-3">D. Dressing - Upper Body</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_d1, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_d1" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_d2, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_d2" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_d3, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_d3" })
                            </div>

                        </td>

                    </tr>
                    <tr>
                        <td class="text-black w-3">E. Dressing - Lower Body</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_e1, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_e1" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_e2, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_e2" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_e3, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_e3" })
                            </div>

                        </td>

                    </tr>
                    <tr>
                        <td class="text-black w-3">F. Toileting</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_f1, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_f1" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_f2, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_f2" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_f3, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_f3" })
                            </div>

                        </td>

                    </tr>
                    <tr>
                        <td class="form-label text-black">Sphincter Control</td>
                        <td class="text-black" colspan="4"></td>
                    </tr>
                    <tr>
                        <td class="text-black w-3">G. Bladder Management</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_g1, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_g1" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_g2, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_g2" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_g3, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_g3" })
                            </div>

                        </td>

                    </tr>

                    <tr>
                        <td class="text-black w-3">H. Bowel Management</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_h1, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_h1" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_h2, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_h2" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_h3, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_h3" })
                            </div>

                        </td>

                    </tr>
                    <tr>
                        <td class="form-label text-black">Transfers</td>
                        <td class="text-black" colspan="4"></td>
                    </tr>
                    <tr>
                        <td class="text-black w-3">I. Bed, Chair, Wheelchair</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_i1, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_i1" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_i2, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_i2" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_i3, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_i3" })
                            </div>

                        </td>

                    </tr>

                    <tr>
                        <td class="text-black w-3">J. Toilet</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_j1, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_j1" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_j2, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_j2" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_j3, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_j3" })
                            </div>

                        </td>

                    </tr>
                    <tr>
                        <td class="text-black w-3">K. Tub, Shower</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_k1, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_k1" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_k2, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_k2" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_k3, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_k3" })
                            </div>

                        </td>

                    </tr>
                    <tr>
                        <td class="form-label text-black">Locomotion</td>
                        <td class="text-black" colspan="4"></td>
                    </tr>
                    <tr>
                        <td class="text-black w-3">L. Walk/Wheelchair</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_l1, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_l1" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_l2, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_l2" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_l3, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_l3" })
                            </div>

                        </td>

                    </tr>
                    <tr>
                        <td class="text-black w-3">M. Stairs</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_m1, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_m1" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_m2, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_m2" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_m3, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_m3" })
                            </div>

                        </td>

                    </tr>
                    <tr>
                        <td class="text-black w-3">Motor Subtotal Score</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_mss1, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_mss1", @readonly = true })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_mss2, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_mss2", @readonly = true })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_mss3, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_mss3", @readonly = true })
                            </div>

                        </td>

                    </tr>
                    <tr>
                        <td class="form-label text-black">Communication</td>
                        <td class="text-black" colspan="4"></td>
                    </tr>
                    <tr>
                        <td class="text-black w-3">N. Comprehension</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_n1, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_n1" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_n2, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_n2" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_n3, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_n3" })
                            </div>

                        </td>

                    </tr>
                    <tr>
                        <td class="text-black w-3">O. Expression</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_o1, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_o1" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_o2, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_o2" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_o3, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_o3" })
                            </div>

                        </td>

                    </tr>
                    <tr>
                        <td class="form-label text-black">Social Cognition</td>
                        <td class="text-black" colspan="4"></td>
                    </tr>
                    <tr>
                        <td class="text-black w-3">P. Social Interaction</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_p1, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_p1" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_p2, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_p2" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_p3, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_p3" })
                            </div>

                        </td>

                    </tr>
                    <tr>
                        <td class="text-black w-3">Q. Problem Solving</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_q1, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_q1" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_q2, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_q2" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_q3, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_q3" })
                            </div>

                        </td>

                    </tr>
                    <tr>
                        <td class="text-black w-3">R. Memory</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_r1, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_r1" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_r2, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_r2" })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_r3, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_r3" })
                            </div>

                        </td>

                    </tr>
                    <tr>
                        <td class="text-black w-3">Cognitive Subtotal Score</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_css1, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_css1", @readonly = true })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_css2, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_css2", @readonly = true })
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_css3, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_css3", @readonly = true })
                            </div>

                        </td>

                    </tr>
                    <tr>
                        <td class="form-label text-black">TOTAL FIM Score	</td>
                        <td class="text-black w-2">:</td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_tfs1, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_tfs1", @value = "0.00", @readonly = true})
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_tfs2, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_tfs2", @value = "0.00", @readonly = true})
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.cfim_tfs3, new { @class = "form-control cfim-textbox", @placeholder = "0", maxlength = "10", @oninput = "validate(this,1000)", @id = "ucfim_tfs3", @value = "0.00", @readonly = true })
                            </div>

                        </td>

                    </tr>
                    <tr>
                        <td class=" text-black font-weight-bold" rowspan="3">LEVELS	</td>
                        <td class="text-black w-2" rowspan="3">:</td>

                        <td colspan="2">
                            <div class="form-group mb-3">
                                <label class="form-label text-black text-left"> Independent  &nbsp;</label>
                                <label class=" form-label">7 Complete Independence (Timely, Safely)b&nbsp;</label>
                                <label class=" form-label">6 Modified Independence (Device)b&nbsp;</label>
                            </div>

                        </td>
                        <td>
                            <div class="form-group mb-3">
                                <label class="form-label text-black text-left"> NO HELPER  &nbsp;</label>
                            </div>

                        </td>

                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="form-group mb-3">
                                <label class="form-label text-black text-left"> Modified Dependence  &nbsp;</label>
                                <label class=" form-label">5 Supervision (Subject = 100%+)&nbsp;</label>
                                <label class=" form-label">4 Minimal Assist (Subject = 75%+)&nbsp;</label>
                                <label class=" form-label">3 Moderate Assist (Subject = 50%+)&nbsp;</label>
                            </div>

                        </td>
                        <td>
                            <div class=" text-black font-weight-bold">
                                <label> HELPER  &nbsp;</label>
                            </div>

                        </td>

                    </tr>
                    <tr>

                        <td colspan="2">
                            <div class="form-group mb-3">
                                <label class="form-label text-black text-left"> Complete Dependence &nbsp;</label>
                                <label class=" form-label font-weight-light">2 Maximal Assist (Subject = 25%+)&nbsp;</label>
                                <label class=" form-label text-left">1 Total Assist (Subject = less than 25%&nbsp;</label>
                            </div>

                        </td>

                    </tr>
                    <tr>
                        <td class="form-label text-black">Comments<span class="text-danger">*</span></td>
                        <td class="text-black w-2">:</td>
                        <td class="text-black" colspan="3">
                            <div class="form-group mb-3">
                                @Html.TextAreaFor(m => m.cfim_comments, new { @class = "form-control", @placeholder = "Enter Comments", maxlength = "500", @id = "ucfim_comments" })
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group mb-3"><label class="form-label text-black">Patient or Legal Guardian Name:&nbsp;</label></div>
            <div class="form-group mb-3"><label class="form-label text-red text-capitalize text-left">@emr.pat_name&nbsp;</label></div>
            <div class="form-group mb-3"><label class="form-label text-black">Signature:&nbsp;</label></div>
            <div class="form-group mb-3 " style="display:none" id="upatimg"><img alt="Signature" src="" id="upat_sign" class="avatar avatar-xl bsquare" /></div>
            <div class="form-group mb-3"><label class="form-label text-black">Date:&nbsp;</label></div>
            <div class="form-group mb-3"><label class="form-label text-red text-left" id="upsb_date_patient" name="">&nbsp;</label></div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group mb-3"><label class="form-label text-black">Witness or Interpreter’s Name:&nbsp;</label></div>
            <div class="form-group mb-3 col-sm-4 col-md-4 col-lg-4 ">
                @Html.TextBoxFor(m => m.cfim_witness, new { @class = "form-control", @placeholder = "Enter Witness", @id = "ucfim_witness", @width = "20px" })
            </div>
            <div class="form-group mb-3"><label class="form-label text-black">Signature:&nbsp;</label></div>
            <div class="form-group mb-3" style="display:none" id="uwitimg"><img alt="Signature" src="" id="uwit_sign" class="avatar avatar-xl bsquare" /></div>
            <div class="form-group mb-3"><label class="form-label text-black">Date:&nbsp;</label></div>
            <div class="form-group mb-3">
                <label class="form-label text-red text-left" id="upsb_date_witness" name="">&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <div class="form-group mb-3"><label class="form-label text-black">Physician’s name:&nbsp;</label></div>
            <div class="form-group mb-3"><label class="form-label text-red text-capitalize text-left">@emr.app_doctor_department&nbsp;</label> <span class="text-capitalize text-left text-red">@emr.emp_license&nbsp;</span></div>
            <div class="form-group mb-3"><label class="form-label text-black">Signature:&nbsp;</label></div>
            <div class="form-group mb-3 "  id="docsign">
                <img alt="Signature" src="@emr.doc_sign" id="udoc_sign" class="avatar avatar-xl bsquare" />
            </div>
            <div class="form-group mb-3"><label class="form-label text-black">Date:&nbsp;</label></div>
            <div class="form-group mb-3"><label class="form-label text-red text-left" id="urdrf_date_doctor">&nbsp;</label></div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-sm btn-warning" id="btn_Update_FIMI">Save Changes</button>
                <button type="submit" class="btn btn-sm btn-outline-danger" id="btn_Delete_FIMI">Delete</button>
                <button type="submit" class="btn btn-sm btn-outline-light" id="btn_Print_FIMI" onclick="PrintFIMInstrument(@Model.cfim_Id)">
                    <i class="fa fa-print">&nbsp;&nbsp;</i>Print
                </button>
                <div class="btn-group mr-2">
                    <div class="dropdown">
                        <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                            <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                        </div>
                    </div>
                </div>
                <div class="btn-group mr-2">
                    <div class="dropdown">
                        <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> witness
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" onclick="openSignaturePad('witness')">Tab</a>
                            <a class="dropdown-item" onclick="openWacomTabSignaturePad('witness')">Wacom Tab</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>


<script>
    var formName = $(form_EditFIM).closest('form').attr('name');
    //#region Page Load
        $(function () {

            if ("@emp_designation.ToString()" === "Super Administrator") {
                $("#btn_Update_FIMI,#btn_Delete_FIMI").show();
            } else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Update_FIMI,#btn_Delete_FIMI").show();

                }
                else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Update_FIMI,#btn_Delete_FIMI").show();
                    }
                    else {
                        $("#btn_Update_FIMI,#btn_Delete_FIMI").hide();
                    }
                }
            }
            $('#ucfim_date').bootstrapdatepicker({
                format: "dd-MM-yyyy",
                viewMode: "date",
                todayHighlight: true,
                autoclose: true,
                multidate: false,
                multidateSeparator: "-"
            });

            $("#ucfim_date").bootstrapdatepicker("setDate", moment(new Date("@Model.cfim_date")).format("DD-MMMM-YYYY"));
            GetSignaturename('patient');
            GetSignaturename('witness');
            validate();

        });

    //#endregion Page Load
     //#region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=' + formName,
                    type: "GET",
                    dataType: "json",
                    async: false,
                success: function (response) {
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY HH:mm");
                    if (response[0].person == "patient") {
                        $("#upatimg").show();
                        $("#upat_sign").attr("src", sign);
                        $("#upsb_date_patient").text(date);
                    }
                    if (response[0].person == "witness") {
                        $("#uwitimg").show();
                        $("#uwit_sign").attr("src", sign);
                        $("#upsb_date_witness").text(date);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
    //#endregion Get Signature
    //#region Wacom Tab Signature
    var openWacomTabSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": formName,
            "appId": @emr.appId,
            "formname":"FIM Instrument",
            "formlink":"PrintFIMInstrument",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion

    //#region Signature
        var openSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": formName,
                "appId": @emr.appId,
                "formname":"FIM Instrument",
                "formlink":"PrintFIMInstrument",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }

            });

        }
    //#endregion Signature

    //#region Focus In/Out Events
    $(".cfim-textbox").focusout(function () {
        calculation();
    });
    $(document).on('keypress', '.cfim-textbox', function (e) {
        var charCode = (e.which) ? e.which : event.keyCode;
        if (String.fromCharCode(charCode).match(/[^0-9.]/g))
            return false;
    });
    //#endregion Focus In/Out Events


    //#region Calculation
    var calculation = function () {

        var cfim_css1_ = (parseFloat($("#ucfim_p1").val()) + parseFloat($("#ucfim_q1").val()) + parseFloat($("#ucfim_r1").val()));
        $("#ucfim_css1").val(cfim_css1_);
        var cfim_css2_ = (parseFloat($("#ucfim_p2").val()) + parseFloat($("#ucfim_q2").val()) + parseFloat($("#ucfim_r2").val()));
        $("#ucfim_css2").val(cfim_css2_);
        var cfim_css3_ = (parseFloat($("#ucfim_p3").val()) + parseFloat($("#ucfim_q3").val()) + parseFloat($("#ucfim_r3").val()));
        $("#ucfim_css3").val(cfim_css3_);

        var cfim_mss1_ = (parseFloat($("#ucfim_l1").val()) + parseFloat($("#ucfim_m1").val()));
        $("#ucfim_mss1").val(cfim_mss1_);
        var cfim_mss2_ = (parseFloat($("#ucfim_l2").val()) + parseFloat($("#ucfim_m2").val()));
        $("#ucfim_mss2").val(cfim_mss2_);
        var cfim_mss_ = (parseFloat($("#ucfim_l3").val()) + parseFloat($("#ucfim_m3").val()));
        $("#ucfim_mss3").val(cfim_mss_);

        var pt_total_admision = (parseFloat($("#ucfim_a1").val()) + parseFloat($("#ucfim_b1").val()) + parseFloat($("#ucfim_c1").val()) + parseFloat($("#ucfim_d1").val()) + parseFloat($("#ucfim_e1").val()) + parseFloat($("#ucfim_f1").val()) + parseFloat($("#ucfim_g1").val()) + parseFloat($("#ucfim_h1").val()) + parseFloat($("#ucfim_i1").val()) + parseFloat($("#ucfim_j1").val()) + parseFloat($("#ucfim_k1").val()) + parseFloat($("#ucfim_l1").val()) + parseFloat($("#ucfim_m1").val()) + parseFloat($("#ucfim_o1").val()) + parseFloat($("#ucfim_p1").val()) + parseFloat($("#ucfim_q1").val()) + parseFloat($("#ucfim_r1").val()) + parseFloat($("#ucfim_n1").val()));
        $("#ucfim_tfs1").val(pt_total_admision);
        var pt_total_discharge = (parseFloat($("#ucfim_a2").val()) + parseFloat($("#ucfim_b2").val()) + parseFloat($("#ucfim_c2").val()) + parseFloat($("#ucfim_d2").val()) + parseFloat($("#ucfim_e2").val()) + parseFloat($("#ucfim_f2").val()) + parseFloat($("#ucfim_g2").val()) + parseFloat($("#ucfim_h2").val()) + parseFloat($("#ucfim_i2").val()) + parseFloat($("#ucfim_j2").val()) + parseFloat($("#ucfim_k2").val()) + parseFloat($("#ucfim_l2").val()) + parseFloat($("#ucfim_m2").val()) + parseFloat($("#ucfim_o2").val()) + parseFloat($("#ucfim_p2").val()) + parseFloat($("#ucfim_q2").val()) + parseFloat($("#ucfim_r2").val()) + parseFloat($("#ucfim_n2").val()));
        $("#ucfim_tfs2").val(pt_total_discharge);
        var pt_total_followup = (parseFloat($("#ucfim_a3").val()) + parseFloat($("#ucfim_b3").val()) + parseFloat($("#ucfim_c3").val()) + parseFloat($("#ucfim_d3").val()) + parseFloat($("#ucfim_e3").val()) + parseFloat($("#ucfim_f3").val()) + parseFloat($("#ucfim_g3").val()) + parseFloat($("#ucfim_h3").val()) + parseFloat($("#ucfim_i3").val()) + parseFloat($("#ucfim_j3").val()) + parseFloat($("#ucfim_k3").val()) + parseFloat($("#ucfim_l3").val()) + parseFloat($("#ucfim_m3").val()) + parseFloat($("#ucfim_o3").val()) + parseFloat($("#ucfim_p3").val()) + parseFloat($("#ucfim_q3").val()) + parseFloat($("#ucfim_r3").val()) + parseFloat($("#ucfim_n3").val()));
        $("#ucfim_tfs3").val(pt_total_followup);

    }
    //#endregion Calculation
    //#region Validation Initialization
    var validate = function () {

        $("#form_EditFIM").validate({
            rules: {
                cfim_comments: {
                    required: true
                },

            },
            messages: {
                cfim_comments: {
                    required: "Please Enter Comments "
                },

            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

    }
    //#endregion Validation Initialization
    //#region Update  Button Click
        $('#btn_Update_FIMI').on('click', function (e) {
             e.preventDefault();
            if ($("#form_EditFIM").valid()) {
                $('#btn_Update_FIMI').removeClass("btn btn-sm btn-success");
                $('#btn_Update_FIMI').addClass("btn btn-sm btn-success btn-loaders btn-icon");
                $('#btn_Update_FIMI').html("Updating the Record....");

                var _dataInsert = {
                    "cfim_Id": @Model.cfim_Id,
                    "cfim_appId": $("#cfim_appId").val(),
                    "cfim_a1": $("#ucfim_a1").val(),
                    "cfim_a2": $("#ucfim_a2").val(),
                    "cfim_a3": $("#ucfim_a3").val(),
                    "cfim_b1": $("#ucfim_b1").val(),
                    "cfim_b2": $("#ucfim_b2").val(),
                    "cfim_b3": $("#ucfim_b3").val(),
                    "cfim_c1": $("#ucfim_c1").val(),
                    "cfim_c2": $("#ucfim_c2").val(),
                    "cfim_c3": $("#ucfim_c3").val(),
                    "cfim_d1": $("#ucfim_d1").val(),
                    "cfim_d2": $("#ucfim_d2").val(),
                    "cfim_d3": $("#ucfim_d3").val(),
                    "cfim_e1": $("#ucfim_e1").val(),
                    "cfim_e2": $("#ucfim_e2").val(),
                    "cfim_e3": $("#ucfim_e3").val(),
                    "cfim_f1": $("#ucfim_f1").val(),
                    "cfim_f2": $("#ucfim_f2").val(),
                    "cfim_f3": $("#ucfim_f3").val(),
                    "cfim_g1": $("#ucfim_g1").val(),
                    "cfim_g2": $("#ucfim_g2").val(),
                    "cfim_g3": $("#ucfim_g3").val(),
                    "cfim_h1": $("#ucfim_h1").val(),
                    "cfim_h2": $("#ucfim_h2").val(),
                    "cfim_h3": $("#ucfim_h3").val(),
                    "cfim_i1": $("#ucfim_i1").val(),
                    "cfim_i2": $("#ucfim_i2").val(),
                    "cfim_i3": $("#ucfim_i3").val(),
                    "cfim_j1": $("#ucfim_j1").val(),
                    "cfim_j2": $("#ucfim_j2").val(),
                    "cfim_j3": $("#ucfim_j3").val(),
                    "cfim_k1": $("#ucfim_k1").val(),
                    "cfim_k2": $("#ucfim_k2").val(),
                    "cfim_k3": $("#ucfim_k3").val(),
                    "cfim_l1": $("#ucfim_l1").val(),
                    "cfim_l2": $("#ucfim_l2").val(),
                    "cfim_l3": $("#ucfim_l3").val(),
                    "cfim_m1": $("#ucfim_m1").val(),
                    "cfim_m2": $("#ucfim_m2").val(),
                    "cfim_m3": $("#ucfim_m3").val(),
                    "cfim_n1": $("#ucfim_n1").val(),
                    "cfim_n2": $("#ucfim_n2").val(),
                    "cfim_n3": $("#ucfim_n3").val(),
                    "cfim_o1": $("#ucfim_o1").val(),
                    "cfim_o2": $("#ucfim_o2").val(),
                    "cfim_o3": $("#ucfim_o3").val(),
                    "cfim_p1": $("#ucfim_p1").val(),
                    "cfim_p2": $("#ucfim_p2").val(),
                    "cfim_p3": $("#ucfim_p3").val(),
                    "cfim_q1": $("#ucfim_q1").val(),
                    "cfim_q2": $("#ucfim_q2").val(),
                    "cfim_q3": $("#ucfim_q3").val(),
                    "cfim_r1": $("#ucfim_r1").val(),
                    "cfim_r2": $("#ucfim_r2").val(),
                    "cfim_r3": $("#ucfim_r3").val(),
                    "cfim_mss1": $("#ucfim_mss1").val(),
                    "cfim_mss2": $("#ucfim_mss2").val(),
                    "cfim_mss3": $("#ucfim_mss3").val(),
                    "cfim_css1": $("#ucfim_css1").val(),
                    "cfim_css2": $("#ucfim_css2").val(),
                    "cfim_css3": $("#ucfim_css3").val(),
                    "cfim_tfs1": $("#ucfim_tfs1").val(),
                    "cfim_tfs2": $("#ucfim_tfs2").val(),
                    "cfim_tfs3": $("#ucfim_tfs3").val(),
                    "cfim_witness": $("#ucfim_witness").val(),
                    "cfim_comments": $("#ucfim_comments").val(),
                    "cfim_date": $("#ucfim_date").val(),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dataInsert)
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateFIMInstrument", "OccupationalTherapy", new { area = "EMR" })",
                    dataType: 'JSON',
                    data: _dataInsert,
                    success: function (data) {
                        $('#btn_Update_FIMI').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                        $('#btn_Update_FIMI').addClass("btn btn-sm btn-warning");
                        $('#btn_Update_FIMI').html("Save Changes");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> FIM Instrument Updated Successfully!", "success");
                                Timeout();
                                GetFIMInstrument();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. FIM Instrument Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Update_FIMI').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                        $('#btn_Update_FIMI').addClass("btn btn-sm btn-warning");
                        $('#btn_Update_FIMI').html("Save Changes");
                        Timeout();
                    }
                });
            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion Update  Button Click


    //#region Delete Click
        $('#btn_Delete_FIMI').on('click', function (e) {
            e.preventDefault();
            $('#btn_Delete_FIMI').removeClass("btn btn-sm btn-success");
            $('#btn_Delete_FIMI').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Delete_FIMI').html("Deleting the Record....");

                $.ajax({
                    url: '@Url.Action("DeleteFIMInstrument", "OccupationalTherapy", new { area = "EMR" })?cfim_Id=' + @Model.cfim_Id,
                    type: "POST",
                    dataType: 'JSON',
                    success: function (data) {
                        $('#btn_Delete_FIMI').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                        $('#btn_Delete_FIMI').addClass("btn btn-sm btn-warning");
                        $('#btn_Delete_FIMI').html("Delete");
                        if (data.isAuthorized) {
                            if (data.success) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> FIM Instrument Deleted Successfully!", "success");
                                clearControls();
                                GetFIMInstrument();
                                Timeout();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Error!.. Failed to Delete..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Delete_FIMI').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                        $('#btn_Delete_FIMI').addClass("btn btn-sm btn-Delete");
                        $('#btn_Delete_FIMI').html("Delete");
                        Timeout();
                    }
                })
        });
    //#endregion Delete Click



    //#region Clear Controls
    var clearControls = function () {
        $(".form-control cfim-textbox").val("0");
        $("#ucfim_comments,#ucfim_witness").val("");
        $(".custom-control-input").prop("checked", false);
    }
    //#endregion Clear Controls
</script>


