

@using BusinessEntities;
@model BusinessEntities.EMR.FIMInstrument
@{
    ViewBag.Title = "Print Botex Picture Men";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" onclick="printDiv('printDiv')" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>
<div class="row" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-center">
                    <img src="@Model.set_header_image" />
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                        <div>
                            <h4 class="page-title mb-0 text-primary">
                                Functional Independence Measure (FIM) Instrument
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-12 col-md-6 col-lg-12">
                        <div class="row border ">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name:&nbsp;</label></div>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID:&nbsp;</label></div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-2">
                                        <label class="form-label text-red text-left">@emr.pat_emirateid&nbsp;</label>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3"><label class="form-label text-black"> Department:&nbsp;</label></div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-2">
                                        <label class="form-label text-red text-left">@emr.emp_dept_name&nbsp;</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No :&nbsp;</label></div>

                                    </div>

                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <label class="form-label text-red text-left">@emr.pat_code&nbsp;</label>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3"><label class="form-label text-black"> DOB&nbsp;</label></div>

                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <label class="form-label text-red text-left">@emr.pat_dob&nbsp;</label>
                                    </div>

                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3"><label class="form-label text-black"> Nationality:&nbsp;</label></div>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <label class="form-label text-red text-left">@emr.pat_nationality&nbsp;</label>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3"><label class="form-label text-black">Gender&nbsp;</label></div>

                                    </div>

                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <label class="form-label text-red text-left">@emr.pat_gender&nbsp;</label>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name	:&nbsp;</label></div>

                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <label class="form-label text-red text-left">@emr.doc_name&nbsp;</label>
                                    </div>

                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <div class="form-group mb-3"><label class="form-label text-black">Date&nbsp;</label></div>
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-12 col-sm-6 col-lg-1">
                        <div class="form-group mb-3">
                            <label class="form-label text-black">Date&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-sm-6 col-lg-1">
                        <div class="form-group mb-3">
                            <label class="form-label text-black">:&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-2">
                        <div class="form-group mb-3">
                            <label class="form-label text-black text-left">@Model.cfim_date.ToString("DD-MMMM-YYYY")&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-12">
                        <table class="table table-bordered card-table table-vcenter text-nowrap ">
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class=" text-black font-weight-bold"></td>
                                    <td class=" text-black font-weight-bold"></td>
                                    <td class=" text-black font-weight-bold">Admisssion</td>
                                    <td class=" text-black font-weight-bold">Discharge</td>
                                    <td class=" text-black font-weight-bold">Follow-up</td>
                                </tr>
                                <tr>
                                    <td class="form-label text-black">Self-Care</td>
                                    <td class="text-black" colspan="4"></td>
                                </tr>
                                <tr>
                                    <td class="text-black w-3">A. Eating</td>
                                    <td class="text-black w-2">:</td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_a1&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_a2&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_a3&nbsp;</label>
                                        </div>

                                    </td>

                                </tr>

                                <tr>
                                    <td class="text-black w-3">B. Grooming</td>
                                    <td class="text-black w-2">:</td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_b1&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_b2&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_b3&nbsp;</label>
                                        </div>

                                    </td>

                                </tr>
                                <tr>
                                    <td class="text-black w-3">C. Bathing</td>
                                    <td class="text-black w-2">:</td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_c1&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_c2&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_c3&nbsp;</label>
                                        </div>

                                    </td>

                                </tr>
                                <tr>
                                    <td class="text-black w-3">D. Dressing - Upper Body</td>
                                    <td class="text-black w-2">:</td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_d1&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_d2&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_d3&nbsp;</label>
                                        </div>

                                    </td>

                                </tr>
                                <tr>
                                    <td class="text-black w-3">E. Dressing - Lower Body</td>
                                    <td class="text-black w-2">:</td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_e1&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_e2&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_e3&nbsp;</label>
                                        </div>

                                    </td>

                                </tr>
                                <tr>
                                    <td class="text-black w-3">F. Toileting</td>
                                    <td class="text-black w-2">:</td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_f1&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_f2&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_f3&nbsp;</label>
                                        </div>

                                    </td>

                                </tr>
                                <tr>
                                    <td class="form-label text-black">Sphincter Control</td>
                                    <td class="text-black" colspan="4"></td>
                                </tr>
                                <tr>
                                    <td class="text-black w-3">G. Bladder Management</td>
                                    <td class="text-black w-2">:</td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_g1&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_g2&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_g3&nbsp;</label>
                                        </div>

                                    </td>

                                </tr>

                                <tr>
                                    <td class="text-black w-3">H. Bowel Management</td>
                                    <td class="text-black w-2">:</td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_h1&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_h2&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_h3&nbsp;</label>
                                        </div>

                                    </td>

                                </tr>
                                <tr>
                                    <td class="form-label text-black">Transfers</td>
                                    <td class="text-black" colspan="4"></td>
                                </tr>
                                <tr>
                                    <td class="text-black w-3">I. Bed, Chair, Wheelchair</td>
                                    <td class="text-black w-2">:</td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_i1&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_i2&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_i3&nbsp;</label>
                                        </div>

                                    </td>

                                </tr>

                                <tr>
                                    <td class="text-black w-3">J. Toilet</td>
                                    <td class="text-black w-2">:</td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_j1&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_j2&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_j3&nbsp;</label>
                                        </div>

                                    </td>

                                </tr>
                                <tr>
                                    <td class="text-black w-3">K. Tub, Shower</td>
                                    <td class="text-black w-2">:</td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_k1&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_k2&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_k3&nbsp;</label>
                                        </div>

                                    </td>

                                </tr>
                                <tr>
                                    <td class="form-label text-black">Locomotion</td>
                                    <td class="text-black" colspan="4"></td>
                                </tr>
                                <tr>
                                    <td class="text-black w-3">L. Walk/Wheelchair</td>
                                    <td class="text-black w-2">:</td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_l1&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_l2&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_l3&nbsp;</label>
                                        </div>

                                    </td>

                                </tr>
                                <tr>
                                    <td class="text-black w-3">M. Stairs</td>
                                    <td class="text-black w-2">:</td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_m1&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_m2&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_m3&nbsp;</label>
                                        </div>

                                    </td>

                                </tr>
                                <tr>
                                    <td class="text-black w-3">Motor Subtotal Score</td>
                                    <td class="text-black w-2">:</td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_mss1&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_mss2&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_mss3&nbsp;</label>
                                        </div>

                                    </td>

                                </tr>
                                <tr>
                                    <td class="form-label text-black">Communication</td>
                                    <td class="text-black" colspan="4"></td>
                                </tr>
                                <tr>
                                    <td class="text-black w-3">N. Comprehension</td>
                                    <td class="text-black w-2">:</td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_n1&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_n2&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_n3&nbsp;</label>
                                        </div>

                                    </td>

                                </tr>
                                <tr>
                                    <td class="text-black w-3">O. Expression</td>
                                    <td class="text-black w-2">:</td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_o1&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_o2&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_o3&nbsp;</label>
                                        </div>

                                    </td>

                                </tr>
                                <tr>
                                    <td class="form-label text-black">Social Cognition</td>
                                    <td class="text-black" colspan="4"></td>
                                </tr>
                                <tr>
                                    <td class="text-black w-3">P. Social Interaction</td>
                                    <td class="text-black w-2">:</td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_p1&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_p2&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_p3&nbsp;</label>
                                        </div>

                                    </td>

                                </tr>
                                <tr>
                                    <td class="text-black w-3">Q. Problem Solving</td>
                                    <td class="text-black w-2">:</td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_q1&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_q2&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_q3&nbsp;</label>
                                        </div>

                                    </td>

                                </tr>
                                <tr>
                                    <td class="text-black w-3">R. Memory</td>
                                    <td class="text-black w-2">:</td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_r1&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_r2&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_r3&nbsp;</label>
                                        </div>

                                    </td>

                                </tr>
                                <tr>
                                    <td class="text-black w-3">Cognitive Subtotal Score</td>
                                    <td class="text-black w-2">:</td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_css1&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_css2&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_css3&nbsp;</label>
                                        </div>

                                    </td>

                                </tr>
                                <tr>
                                    <td class="form-label text-black">TOTAL FIM Score	</td>
                                    <td class="text-black w-2">:</td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_tfs1&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_tfs2&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_tfs3&nbsp;</label>
                                        </div>

                                    </td>

                                </tr>
                                <tr>
                                    <td class=" text-black font-weight-bold" rowspan="3">LEVELS	</td>
                                    <td class="text-black w-2" rowspan="3">:</td>

                                    <td colspan="2">
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left"> Independent  &nbsp;</label>
                                            <label class=" form-label">7 Complete Independence (Timely, Safely)b&nbsp;</label>
                                            <label class=" form-label">6 Modified Independence (Device)b&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left"> NO HELPER  &nbsp;</label>
                                        </div>

                                    </td>

                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left"> Modified Dependence  &nbsp;</label>
                                            <label class=" form-label">5 Supervision (Subject = 100%+)&nbsp;</label>
                                            <label class=" form-label">4 Minimal Assist (Subject = 75%+)&nbsp;</label>
                                            <label class=" form-label">3 Moderate Assist (Subject = 50%+)&nbsp;</label>
                                        </div>

                                    </td>
                                    <td>
                                        <div class=" text-black font-weight-bold">
                                            <label> HELPER  &nbsp;</label>
                                        </div>

                                    </td>

                                </tr>
                                <tr>

                                    <td colspan="2">
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left"> Complete Dependence &nbsp;</label>
                                            <label class=" form-label font-weight-light">2 Maximal Assist (Subject = 25%+)&nbsp;</label>
                                            <label class=" form-label text-left">1 Total Assist (Subject = less than 25%&nbsp;</label>
                                        </div>

                                    </td>

                                </tr>
                                <tr>
                                    <td class="form-label text-black">Comments</td>
                                    <td class="text-black w-2">:</td>
                                    <td class="text-black" colspan="3">
                                        <div class="form-group mb-3">
                                            <label class="form-label text-black text-left">@Model.cfim_comments&nbsp;</label>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group mb-3"><label class="form-label text-black">Patient or Legal Guardian Name:&nbsp;</label></div>
                        <div class="form-group mb-3"><label class="form-label text-red text-capitalize text-left">@emr.pat_name&nbsp;</label></div>
                        <div class="form-group mb-3"><label class="form-label text-black">Signature:&nbsp;</label></div>
                        <div class="form-group mb-3 " style="display:none" id="patimg"><img alt="Signature" src="" id="pat_sign" class="avatar avatar-xl bsquare" /></div>
                        <div class="form-group mb-3"><label class="form-label text-black">Date:&nbsp;</label></div>
                        <div class="form-group mb-3"><label class="form-label text-red text-left" id="upsb_date_patient" name="">&nbsp;</label></div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group mb-3"><label class="form-label text-black">Witness or Interpreter’s Name:&nbsp;</label></div>
                        <div class="form-group mb-3 col-sm-4 col-md-4 col-lg-4 ">
                            <label class="form-label text-red text-left">@Model.cfim_witness&nbsp;</label>
                        </div>
                        <div class="form-group mb-3"><label class="form-label text-black">Signature:&nbsp;</label></div>
                        <div class="form-group mb-3" style="display:none" id="witimg"><img alt="Signature" src="" id="wit_sign" class="avatar avatar-xl bsquare" /></div>
                        <div class="form-group mb-3"><label class="form-label text-black">Date:&nbsp;</label></div>
                        <div class="form-group mb-3">
                            <label class="form-label text-red text-left" id="upsb_date_witness" name="">&nbsp;</label>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <div class="form-group mb-3"><label class="form-label text-black">Physician’s name:&nbsp;</label></div>
                        <div class="form-group mb-3"><label class="form-label text-red text-capitalize text-left">@emr.app_doctor_department&nbsp;</label></div>
                        <div class="form-group mb-3"><label class="form-label text-black">Signature:&nbsp;</label></div>
                        <div class="form-group mb-3 " id="docsign">
                            <img alt="Signature" src="@emr.doc_sign" id="udoc_sign" class="avatar avatar-xl bsquare" />
                        </div>
                        <div class="form-group mb-3"><label class="form-label text-black">Date:&nbsp;</label></div>
                        <div class="form-group mb-3"><label class="form-label text-red text-left">@Model.cfim_date_created.ToString("DD-MMMM-YYYY")&nbsp;</label></div>
                    </div>
                </div>
                <div class="text-center">
                    <img src="@Model.set_footer_image" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //#region Page Load
    $(function () {
        GetSignaturename('patient');
        GetSignaturename('witness');
        
    });
    //#endregion Page Load
   
    
        //#region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=FIMInstrument',
                    type: "GET",
                    dataType: "json",
                    async: false,
                success: function (response) {
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY HH:mm");
                    if (response[0].person == "patient") {
                        $("#patimg").show();
                        $("#pat_sign").attr("src", sign);
                        $("#upsb_date_patient").text(date);
                    }
                    if (response[0].person == "witness") {
                        $("#witimg").show();
                        $("#wit_sign").attr("src", sign);
                        $("#upsb_date_witness").text(date);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
    //#endregion Get Signature
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>



