
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMR.SickLeaveGeneral
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<form id="form_SickLeave" autocomplete="off" name="SickLeave" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-12">
            <div class="row border ">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name:&nbsp;</label></div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID:&nbsp;</label></div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <label class="form-label text-red text-left">@emr.pat_emirateid&nbsp;</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No :&nbsp;</label></div>

                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code&nbsp;</label>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB&nbsp;</label></div>

                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob&nbsp;</label>
                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality:&nbsp;</label></div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality&nbsp;</label>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender&nbsp;</label></div>

                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender&nbsp;</label>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name	:&nbsp;</label></div>

                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name&nbsp;</label>
                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date&nbsp;</label></div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row mb-5 mt-5">
        <div class="col-sm-12 col-md-6 col-lg-12">
            <div class="text-justify fs-14">
                This is to certify that the above-named patient is suffering from 
                <label class="text-black text-left" id="pat_Diagnosis" name="">&nbsp;</label>
                and he/she is getting treatment since &nbsp;

                @Html.TextBoxFor(m => m.sl_date1, new { @class = "form-control form-control-sm", @placeholder = "DD-MMMM-YYYY", @id = "sl_date1" })
                He/she is not fit for work and advised to take rest for &nbsp;
                @Html.TextBoxFor(m => m.sl_rest, new { @class = "form-control form-control-sm", @placeholder = "Enter Days", @id = "sl_rest" }) &nbsp;
                Days with effect from&nbsp;

                @Html.TextBoxFor(m => m.sl_date2, new { @class = "form-control form-control-sm", @placeholder = "DD-MMMM-YYYY", @id = "sl_date2" })

            </div>


        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="form-group mb-3">
            <p style="text-align:justify">
                Sincerely Yours,
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11 col-md-12 col-lg-4">
            <span class="text-capitalize text-left text-red">@emr.doc_name&nbsp;</span>
            <span class="text-capitalize text-left text-red">@emr.emp_license&nbsp;</span>
            <label class="form-label mb-2">
                Doctor Name & Licence
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11 col-md-12 col-lg-4">
            <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
            <label class="form-label mb-2">
                Signature/Stamp
            </label>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-sm btn-success" id="btn_Insert_SickLeave">Add Sick Leave</button>
                <button type="button" class="btn btn-sm btn-outline-dark" id="btn_Reset_SickLeave">Reset</button>

            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    //#region Partial View Onload
        $(function () {
            if ("@emp_designation.ToString()" === "Super Administrator") {
                    $("#btn_Insert_SickLeave").show();
            }
            else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Insert_SickLeave").show();

                }
                else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Insert_SickLeave").show();
                    }
                    else {
                        $("#btn_Insert_SickLeave").hide();
                    }
                }
            }
            $('#sl_date1,#sl_date2').bootstrapdatepicker({
                format: "dd-MM-yyyy",
                viewMode: "date",
                todayHighlight: true,
                autoclose: true,
                multidate: false,
                multidateSeparator: "-"
            });
            $("#sl_date1,#sl_date2").bootstrapdatepicker("setDate", moment(new Date("@emr.today")).format("DD-MMMM-YYYY"));

            Get_AllPatientDiagnosis();
            validate();

        });
    //#endregion Partial View Onload

      //#region Load Get All Diagnosis
     var Get_AllPatientDiagnosis = function () {
         $.ajax({
             type: "GET",
             url: "@Url.Action("GetAllPatientDiagnosis", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
             success: function (response) {
                 if (response.length > 0) {
                     $('#pat_Diagnosis').text(response[0].Diagnosis);
                 }
             },
             error: function (xhr) {
                 console.log(xhr);
             }
         })
     }
 //#endregion

      // #region Validation Initialization
        var validate = function () {
            $("#form_SickLeave").validate({
                rules: {
                    sl_rest: {
                        required: true
                    },

                },
                messages: {
                    sl_rest: {
                        required: "Please Enter Days. !"
                    },

                },
                highlight: function (element) {
                    var elem = $(element);
                    $(element).parent().addClass('has-error');
                },
                unhighlight: function (element) {
                    var elem = $(element);
                    $(element).parent().removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'text-danger fw-bold',
                errorPlacement: function (error, element) {
                    var elem = $(element);
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

        }
    //#endregion Validation Initialization



    //#region Add  Click
        $('#btn_Insert_SickLeave').on('click', function (e) {
            e.preventDefault();
            if ($("#form_SickLeave").valid()) {
                $('#btn_Insert_SickLeave').removeClass("btn btn-sm btn-success");
                $('#btn_Insert_SickLeave').addClass("btn btn-sm btn-success btn-loaders btn-icon");
                $('#btn_Insert_SickLeave').html("Saving the Record....");

                var _dateInsert = {
                    "slId": 0,
                    "sl_appId": @emr.appId,
                    "sl_disease": $("#sl_disease").val(),
                    "sl_date1": $("#sl_date1").val(),
                    "sl_date2": $("#sl_date2").val(),
                    "sl_rest": $("#sl_rest").val(),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dateInsert);
                $.ajax({
                        type: "Post",
                        url: "@Url.Action("InsertSickLeaveGeneral", "SickLeave", new {area = "EMR" })",
                        dataType: 'JSON',
                        data: _dateInsert,
                        success: function (data) {
                            $('#btn_Insert_SickLeave').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                            $('#btn_Insert_SickLeave').addClass("btn btn-sm btn-success");
                            $('#btn_Insert_SickLeave').html("Add Sick Leave");
                            if (data.isSuccess) {
                                if (data.isInserted) {
                                    var alertPlaceholder = document.getElementById("Alert");
                                    function alert(e, t) {
                                        var l = document.createElement("div");
                                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                    }
                                    alert("<i class='fe fe-check-circle text-white'></i>  Sick Leave Saved Successfully!", "success");
                                    GetSickLeaveGeneral();
                                    Timeout();
                                }
                                else {

                                    let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                        "<div class='alert alert-warning' role='alert'>" +
                                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                        "<strong>Warning.. Sick Leave Alredy Exists..</strong><br/>" +
                                        "</div></div>";
                                    $("#Alert").html(html);
                                }
                            }
                            else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                            "<div class='alert alert-danger' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                        },
                            error: function (xhr) {
                                $('#btn_Insert_SickLeave').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                                $('#btn_Insert_SickLeave').addClass("btn btn-sm btn-warning");
                                $('#btn_Insert_SickLeave').html("Add Sick Leave");
                            Timeout();
                        }
                });

            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion Add Click

    //#region Reset
    $('#btn_Reset_SickLeave').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
    }
    //#endregion Clear Controls


</script>
