
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMR.SickLeaveDHA
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<form id="form_SickLeaveDHA" autocomplete="off" name="SickLeaveDHA" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-12">
            <div class="row border ">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name:&nbsp;<span class="text-danger"> *</span></label></div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-black text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID Number*/Passport No.&nbsp;<span class="text-danger"> *</span></label></div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-2">
                            <label class="form-label text-black text-left">@emr.pat_emirateid&nbsp;</label>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Place of Employement&nbsp;</label></div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-black text-left">@emr.pat_city&nbsp;</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">Medical Record Number&nbsp;<span class="text-danger"> *</span></label></div>

                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-black text-left">@emr.pat_code&nbsp;</label>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> 	Date of Birth&nbsp;<span class="text-danger"> *</span></label></div>

                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-black text-left">@emr.pat_dob&nbsp;</label>
                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date of Visit&nbsp;<span class="text-danger"> *</span></label></div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-black text-left">@emr.app_fdate&nbsp;</label>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="row mb-5 mt-5">
        <div class="expanel-heading mb-2">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-12">
                    <div class="form-group mb-3"><label class="form-label ">Information&nbsp;</label></div>
                </div>


            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-12">
            <div class="form-group">
                <label class="form-label">Type of work: (Tick Appropriate)&nbsp;</label>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="1" id="slm_11">
                        <span class="custom-control-label">Light/Moderate (office, sales, mild physical, etc.)</span>
                    </label>
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="2" id="slm_12">
                        <span class="custom-control-label">Moderate (Police, construction, moderate physical work, etc.)</span>
                    </label>
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="3" id="slm_13">
                        <span class="custom-control-label">Heavy (Army, Heavy physical work, airline pilot, etc)</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-12">
            <div class="form-group">
                <label class="form-label">Visit Type: (Tick Appropriate)&nbsp;</label>
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="4" id="slm_14">
                        <span class="custom-control-label">Outpatient</span>
                    </label>
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="5" id="slm_15">
                        <span class="custom-control-label">Inpatient</span>
                    </label>
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="6" id="slm_16">
                        <span class="custom-control-label">Medical</span>
                    </label>
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="7" id="slm_17">
                        <span class="custom-control-label">Surgical</span>
                    </label>
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="8" id="slm_18">
                        <span class="custom-control-label">Consultation</span>
                    </label>
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="9" id="slm_19">
                        <span class="custom-control-label">Procedure</span>
                    </label>
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="slm_1" value="10" id="slm_110">
                        <span class="custom-control-label">Follow Up</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-12">
            <div class="form-group">
                <label class="form-label">ICD 10 Code/Diagnosis&nbsp;<span class="text-danger"> *</span></label>
                <label class="form-label" id="pat_Diagnosis" name="">&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-12">
            <div class="form-group">
                <label class="form-label">CPT Code/Procedure&nbsp;<span class="text-danger"> *</span></label>
                <label class="form-label" id="treat_details" name="">&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="form-group mb-3">
                <label class="form-label">SIck Leave DHA From&nbsp;<span class="text-danger"> *</span></label>
                <div class="form-group mb-3 text-center">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fe fe-calendar"></i>
                            </div>
                        </div>
                        @Html.TextBoxFor(m => m.slm_2, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "slm_2" })
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label class="form-label">SIck Leave DHA To&nbsp;<span class="text-danger"> *</span></label>
                <div class="form-group mb-3 text-center">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fe fe-calendar"></i>
                            </div>
                        </div>
                        @Html.TextBoxFor(m => m.slm_3, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "slm_3" })
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="form-group mb-3">
                <label class="form-label">Number of Days&nbsp;<span class="text-danger"> *</span></label>
                @Html.TextBoxFor(m => m.slm_4, new { @class = "form-control", @placeholder = "Enter Treatment Plan:", @id = "slm_4" })
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="form-group mb-3">
                <label class="form-label">Physician's Name&nbsp;<span class="text-danger"> *</span></label>
                <span class="text-capitalize text-left text-black">@emr.doc_name&nbsp;</span>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="form-group">
                <label class="form-label">DHCC License Number&nbsp;<span class="text-danger"> *</span></label>
                <span class="text-capitalize text-left text-black">@emr.emp_license&nbsp;</span>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="form-group mb-3">
                <label class="form-label">Signature&Stamp&nbsp;<span class="text-danger"> *</span></label>
                <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 expanel-heading">
            <div class="form-group mb-3">
                <label class="form-label text-black">For CPQ Office Use:</label>
                <label class="form-label text-black"></label>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 expanel-heading">
            <div class="form-group mb-3">
                <label class="form-label text-black"> Place SIck Leave DHA token here:</label>
                <label class="form-label text-black">
                    Tokens are available from DHCC
                    Cashier Office
                </label>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-12">
            <div class="form-group mb-3">
                <label class="form-label text-black">This SIck Leave DHA certificate is to be attested by Dubai Healthcare City Authority at the offices of the Center for Healthcare Planning and Quality, ground floor, Block C, Building 27, Dubai Healthcare City.</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-12">
            <div class="form-group mb-3">
                <label class="form-label text-black">For Use in Dubai HealthCare City healthcare facilities only.</label>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-sm btn-success" id="btn_Insert_LeaveDHA">Add SIck Leave DHA</button>
                <button type="button" class="btn btn-sm btn-outline-dark" id="btn_Reset_LeaveDHA">Reset</button>

            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    //#region Partial View Onload
        $(function () {
            if ("@emp_designation.ToString()" === "Super Administrator") {
                    $("#btn_Insert_LeaveDHA").show();
            }
            else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Insert_LeaveDHA").show();

                }
                else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Insert_LeaveDHA").show();
                    }
                    else {
                        $("#btn_Insert_LeaveDHA").hide();
                    }
                }
            }
            $('#slm_2,#slm_3').bootstrapdatepicker({
                format: "dd-MM-yyyy",
                viewMode: "date",
                todayHighlight: true,
                autoclose: true,
                multidate: false,
                multidateSeparator: "-"
            });
            $("#slm_2,#slm_3").bootstrapdatepicker("setDate", moment(new Date("@emr.today")).format("DD-MMMM-YYYY"));
            validate();
            Get_AllPatientDiagnosis();
            Get_Patient_Treatments();
        });
    //#endregion Partial View Onload
    //#region Load Get All Diagnosis
        var Get_AllPatientDiagnosis = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllPatientDiagnosis", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#pat_Diagnosis').text(response[0].Diagnosis);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion

    //#region Load Get_Patient_Treatments
        var Get_Patient_Treatments = function () {
             $.ajax({
                type: "GET",
                url: "@Url.Action("Get_Patient_Treatment", "ReimbursementForms", new { area = "EMRForms" })?appId=" +@emr.appId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#treat_details').text(response[0].treatments);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
             });
         }
    //#endregion
      // #region Validation Initialization
        var validate = function () {
            $("#form_SickLeaveDHA").validate({
                rules: {
                    slm_4: {
                        required: true
                    },

                },
                messages: {
                    slm_4: {
                        required: "Please Enter Days. !"
                    },

                },
                highlight: function (element) {
                    var elem = $(element);
                    $(element).parent().addClass('has-error');
                },
                unhighlight: function (element) {
                    var elem = $(element);
                    $(element).parent().removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'text-danger fw-bold',
                errorPlacement: function (error, element) {
                    var elem = $(element);
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

        }
    //#endregion Validation Initialization



    //#region Add  Click
        $('#btn_Insert_LeaveDHA').on('click', function (e) {
            e.preventDefault();
            if ($("#form_SickLeaveDHA").valid()) {
                $('#btn_Insert_LeaveDHA').removeClass("btn btn-sm btn-success");
                $('#btn_Insert_LeaveDHA').addClass("btn btn-sm btn-success btn-loaders btn-icon");
                $('#btn_Insert_LeaveDHA').html("Saving the Record....");
                var slm_1_ = $.map($(':checkbox[name=slm_1]:checked'), function (n, i) {
                    return n.value;
                }).join(',');
                var _dataInsert = {
                    "slmId": 0,
                    "slm_appId": @emr.appId,
                    "slm_1": slm_1_,
                    "slm_2": $("#slm_2").val(),
                    "slm_3": $("#slm_3").val(),
                    "slm_4": $("#slm_4").val(),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dataInsert);
                $.ajax({
                        type: "Post",
                        url: "@Url.Action("InsertSickLeaveDHA", "SickLeave", new {area = "EMR" })",
                        dataType: 'JSON',
                        data: _dataInsert,
                        success: function (data) {
                            $('#btn_Insert_LeaveDHA').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                            $('#btn_Insert_LeaveDHA').addClass("btn btn-sm btn-success");
                            $('#btn_Insert_LeaveDHA').html("Add SIck Leave DHA");
                            if (data.isSuccess) {
                                if (data.isInserted) {
                                    var alertPlaceholder = document.getElementById("Alert");
                                    function alert(e, t) {
                                        var l = document.createElement("div");
                                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                    }
                                    alert("<i class='fe fe-check-circle text-white'></i>  SIck Leave DHA Saved Successfully!", "success");
                                    GetSickLeaveDHA();
                                    Timeout();
                                }
                                else {

                                    let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                        "<div class='alert alert-warning' role='alert'>" +
                                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                        "<strong>Warning.. SIck Leave DHA Alredy Exists..</strong><br/>" +
                                        "</div></div>";
                                    $("#Alert").html(html);
                                }
                            }
                            else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                            "<div class='alert alert-danger' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                        },
                            error: function (xhr) {
                                $('#btn_Insert_LeaveDHA').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                                $('#btn_Insert_LeaveDHA').addClass("btn btn-sm btn-warning");
                                $('#btn_Insert_LeaveDHA').html("Add SIck Leave DHA");
                            Timeout();
                        }
                });

            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion Add Click

    //#region Reset
    $('#btn_Reset_LeaveDHA').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
         $("#slm_2,#slm_3").bootstrapdatepicker("setDate", moment(new Date("@emr.today")).format("DD-MMMM-YYYY"));
    }
    //#endregion Clear Controls


</script>
