
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMR.SickLeaveMOH
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<form id="form_SickMOH" autocomplete="off" name="SickLeave" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()

    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group mb-3">
                    <h4 class="form-label text-black text-center">Sick Leave certificate</h4>
                    <h4 class="form-label text-black text-center" dir="rtl"> شهادة الإجازة المرضية </h4>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group mb-3"><label class="form-label text-black"> Date&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3">
                    <label class="form-label text-black text-center text-capitalize" id="date">@emr.today.ToString("dd/MM/yyyy")&nbsp;</label>
                </div>

            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group mb-3" dir="rtl"><label class="form-label text-black text-right">	تاريخ&nbsp;</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group mb-3"><label class="form-label text-black">Name of the patient&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3">
                    <label class="form-label text-black text-center" id="pat_code">@emr.pat_name&nbsp;</label>
                </div>

            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group mb-3" dir="rtl"><label class="form-label text-black text-right">   اسم المريض&nbsp;</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group mb-3"><label class="form-label text-black">Nationality&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3">
                    <label class="form-label text-black text-center" id="pat_code">@emr.pat_nationality&nbsp;</label>
                </div>

            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group mb-3" dir="rtl"><label class="form-label text-black text-right">  جنسية&nbsp;</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group mb-3"><label class="form-label text-black">Age &nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3">
                    <label class="form-label text-black text-center" id="pat_code">@emr.pat_age&nbsp;</label>
                </div>

            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group mb-3" dir="rtl"><label class="form-label text-black text-right">   عمر&nbsp;</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group mb-3"><label class="form-label text-black">Place of employment&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3">
                    @Html.TextBoxFor(m => m.pat_city, new { @type = "text", @class = "form-control mb-2", @placeholder = @emr.pat_city, @id = "pat_city" })
                </div>

            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group mb-3" dir="rtl"><label class="form-label text-black text-right">  موقع التوظيف&nbsp;</label></div>
            </div>
        </div>
        <div class="expanel-heading">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="form-group mb-3"><label class="form-label ">Medical information&nbsp;</label></div>
                </div>
                
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group mb-3">
                        <label class="form-label text-black text-center" id="pat_code">&nbsp;</label>
                    </div>

                </div>
               
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="form-group mb-3" dir="rtl"><label class="form-label text-right"> معلومات طبية&nbsp;</label></div>
                </div>
            </div>
        </div>

        <div class="row mt-2 mb-2">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group mb-3"><label class="form-label text-black">Diagnosis &nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3">
                    <label class="text-black text-left" id="pat_Diagnosis" name="">&nbsp;</label>
                </div>

            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group mb-3" dir="rtl"><label class="form-label text-black text-right">  تشخبص&nbsp;</label></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group mb-3"><label class="form-label text-black">Sick Leave MOH granted in words&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4" id="ResTel">
                <div class="input-group mb-3 text-center">
                    @Html.TextBoxFor(m => m.sl_words, new { @type = "text", @class = "form-control mb-2", @placeholder = "Two Days", @id = "sl_words" })
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group mb-3" dir="rtl"><label class="form-label text-black text-right">  الإجازة المرضية تُمنح بالكلمات&nbsp;</label></div>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12 col-md-6 col-lg-3">

                <div class="form-group mb-3"><label class="form-label text-black"> From	&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4" id="dob">
                <div class="form-group mb-3 text-center">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fe fe-calendar"></i>
                            </div>
                        </div>
                        @Html.TextBoxFor(m => m.sl_date1, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "sl_date1" })
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group mb-3" dir="rtl"><label class="form-label text-black text-right">   من &nbsp;</label></div>

            </div>
        </div>
        <div class="row ">
            <div class="col-sm-12 col-md-6 col-lg-3">

                <div class="form-group mb-3"><label class="form-label text-black"> To	&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4" id="dob">
                <div class="form-group mb-3 text-center">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fe fe-calendar"></i>
                            </div>
                        </div>
                        @Html.TextBoxFor(m => m.sl_date2, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "sl_date2" })
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group mb-3" dir="rtl"><label class="form-label text-black text-right">  ل &nbsp;</label></div>

            </div>
        </div>
        <div class="expanel-heading mb-2">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="form-group mb-3"><label class="form-label ">Other information&nbsp;</label></div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="form-group mb-3">
                        <label class="form-label text-black text-center" id="pat_code">&nbsp;</label>
                    </div>

                </div>

                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="form-group mb-3" dir="rtl"><label class="form-label text-right"> معلومات أخرى&nbsp;</label></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group mb-3"><label class="form-label text-black">Medical establishment name&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3">
                    <label class="form-label text-black text-center" id="pat_gender">@emr.set_company&nbsp;</label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group mb-3" dir="rtl"><label class="form-label text-black text-right"> اسم المؤسسة الطبية&nbsp;</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group mb-3"><label class="form-label text-black">Establishment no&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3">
                    <label class="form-label text-black text-center" id="pat_gender">@emr.emp_license&nbsp;</label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group mb-3" dir="rtl"><label class="form-label text-black text-right"> رقم المنشأة&nbsp;</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group mb-3"><label class="form-label text-black">Name of the doctor&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3">
                    <label class="form-label text-black text-center" id="pat_gender">@emr.doc_name&nbsp;</label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group mb-3" dir="rtl"><label class="form-label text-black text-right"> اسم الطبيب&nbsp;</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group mb-3"><label class="form-label text-black">Speciality as in medical permit&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3">
                      <label class="form-label text-black text-center" id="pat_gender">@emr.emp_speciality&nbsp;</label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group mb-3" dir="rtl"><label class="form-label text-black text-right">التخصص كما هو الحال في التصريح الطبي&nbsp;</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group mb-3"><label class="form-label text-black">Medical permit no&nbsp;</label></div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="form-group mb-3">
                    <label class="form-label text-black text-center" id="pat_gender">@emr.emp_license&nbsp;</label>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                :
            </div>
            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="form-group mb-3" dir="rtl"><label class="form-label text-black text-right">تصريح طبي رقم&nbsp;</label></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group mb-3">
                    <h4 class="form-label text-black text-center">
                        APPROVAL OF PRIVATE MEDICAL PRACTICE
                        DEPARTMENT IN MINISTRY OF HEALTH
                    </h4>
                    <h4 class="form-label text-black text-center" dir="rtl">
                        الموافقة على الممارسة الطبية الخاصة
                        قسم في وزارة الصحة
                    </h4>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12 col-md-6 col-lg-12 text-center">
                <div class="btn-list btn-animation">
                    <button type="submit" class="btn btn-sm btn-success" id="btn_Insert_SickMOH">Add Sick Leave MOH</button>
                    <button type="button" class="btn btn-sm btn-outline-dark" id="btn_Reset_SickMOH">Reset</button>

                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">

    //#region Partial View Onload
        $(function () {

            if ("@emp_designation.ToString()" === "Super Administrator") {
                    $("#btn_Insert_SickMOH").show();
            }
            else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Insert_SickMOH").show();

                }
                else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Insert_SickMOH").show();
                    }
                    else {
                        $("#btn_Insert_SickMOH").hide();
                    }
                }
            }
            $('#sl_date1,#sl_date2').bootstrapdatepicker({
                format: "dd-MM-yyyy",
                viewMode: "date",
                todayHighlight: true,
                autoclose: true,
                multidate: false,
                multidateSeparator: "-"
            });
            $("#sl_date1,#sl_date2").bootstrapdatepicker("setDate", moment(new Date("@emr.today")).format("DD-MMMM-YYYY"));
            
            Get_AllPatientDiagnosis();
            validate();

        });
    //#endregion


     //#region Load Get All Diagnosis
        var Get_AllPatientDiagnosis = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllPatientDiagnosis", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#pat_Diagnosis').text(response[0].Diagnosis);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion



      // #region Validation Initialization
    var validate = function () {

            $("#form_SickMOH").validate({
                rules: {
                    sl_words: {
                        required: true
                    },

                },
                messages: {
                    sl_words: {
                        required: "Please Enter Days. !"
                    },

                },
                highlight: function (element) {
                    var elem = $(element);
                    $(element).parent().addClass('has-error');
                },
                unhighlight: function (element) {
                    var elem = $(element);
                    $(element).parent().removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'text-danger fw-bold',
                errorPlacement: function (error, element) {
                    var elem = $(element);
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

        }
    //#endregion Validation Initialization



    //#region Add  Click
        $('#btn_Insert_SickMOH').on('click', function (e) {
            e.preventDefault();
            if ($("#form_SickMOH").valid()) {
                $('#btn_Insert_SickMOH').removeClass("btn btn-sm btn-success");
                $('#btn_Insert_SickMOH').addClass("btn btn-sm btn-success btn-loaders btn-icon");
                $('#btn_Insert_SickMOH').html("Saving the Record....");

                var _dateInsert = {
                    "slId": 0,
                    "sl_appId": @emr.appId,
                    "sl_words": $("#sl_words").val(),
                    "pat_city": $("#pat_city").val(),
                    "sl_date1": $("#sl_date1").val(),
                    "sl_date2": $("#sl_date2").val(),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dateInsert);
                $.ajax({
                        type: "Post",
                        url: "@Url.Action("InsertSickLeaveMOH", "SickLeave", new {area = "EMR" })",
                        dataType: 'JSON',
                        data: _dateInsert,
                        success: function (data) {
                            $('#btn_Insert_SickMOH').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                            $('#btn_Insert_SickMOH').addClass("btn btn-sm btn-success");
                            $('#btn_Insert_SickMOH').html("Add Sick Leave MOH");
                            if (data.isSuccess) {
                                if (data.isInserted) {
                                    var alertPlaceholder = document.getElementById("Alert");
                                    function alert(e, t) {
                                        var l = document.createElement("div");
                                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                    }
                                    alert("<i class='fe fe-check-circle text-white'></i>  Sick Leave MOH Saved Successfully!", "success");
                                    GetSickLeaveMOH();
                                    Timeout();
                                }
                                else {

                                    let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                        "<div class='alert alert-warning' role='alert'>" +
                                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                        "<strong>Warning.. Sick Leave MOH Alredy Exists..</strong><br/>" +
                                        "</div></div>";
                                    $("#Alert").html(html);
                                }
                            }
                            else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                            "<div class='alert alert-danger' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                        },
                            error: function (xhr) {
                                $('#btn_Insert_SickMOH').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                                $('#btn_Insert_SickMOH').addClass("btn btn-sm btn-warning");
                                $('#btn_Insert_SickMOH').html("Add Sick Leave MOH");
                            Timeout();
                        }
                });

            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion Add Click

    //#region Reset
    $('#btn_Reset_SickMOH').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
    }
    //#endregion Clear Controls
</script>

