@using BusinessEntities;
@model BusinessEntities.EMR.SickLeaveMOH
@{
    ViewBag.Title = "Print Invoice";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" onclick="printDiv('printDiv')" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>
<div class="row" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-center">
                    <img src="@Model.set_header_image" />
                </div>
                <div class="row ">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group mb-3">
                                    <h4 class="form-label text-black text-center">Sick Leave certificate</h4>
                                    <h4 class="form-label text-black text-center" dir="rtl"> شهادة الإجازة المرضية </h4>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-sm-3 col-md-6 col-lg-3">
                                <div class="form-group mb-3"><label class="form-label text-black"> Date&nbsp;</label></div>
                            </div>
                            <div class="col-sm-1 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-4 col-md-6 col-lg-4">
                                <div class="form-group mb-3">
                                    <label class="form-label text-black text-center text-capitalize" id="date">@emr.today.ToString("dd/MM/yyyy")&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-1 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-3">
                                <div class="form-group mb-3" dir="rtl"><label class="form-label text-black text-right">	تاريخ&nbsp;</label></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-6 col-lg-3">
                                <div class="form-group mb-3"><label class="form-label text-black">Name of the patient&nbsp;</label></div>
                            </div>
                            <div class="col-sm-1 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-4 col-md-6 col-lg-4">
                                <div class="form-group mb-3">
                                    <label class="form-label text-black text-center" id="pat_code">@emr.pat_name&nbsp;</label>
                                </div>

                            </div>
                            <div class="col-sm-1 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-3">
                                <div class="form-group mb-3" dir="rtl"><label class="form-label text-black text-right">   اسم المريض&nbsp;</label></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-6 col-lg-3">
                                <div class="form-group mb-3"><label class="form-label text-black">Nationality&nbsp;</label></div>
                            </div>
                            <div class="col-sm-1 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-4 col-md-6 col-lg-4">
                                <div class="form-group mb-3">
                                    <label class="form-label text-black text-center" id="pat_code">@emr.pat_nationality&nbsp;</label>
                                </div>

                            </div>
                            <div class="col-sm-1 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-3">
                                <div class="form-group mb-3" dir="rtl"><label class="form-label text-black text-right">  جنسية&nbsp;</label></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-6 col-lg-3">
                                <div class="form-group mb-3"><label class="form-label text-black">Age &nbsp;</label></div>
                            </div>
                            <div class="col-sm-1 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-4 col-md-6 col-lg-4">
                                <div class="form-group mb-3">
                                    <label class="form-label text-black text-center" id="pat_code">@emr.pat_age&nbsp;</label>
                                </div>

                            </div>
                            <div class="col-sm-1 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-3">
                                <div class="form-group mb-3" dir="rtl"><label class="form-label text-black text-right">   عمر&nbsp;</label></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-6 col-lg-3">
                                <div class="form-group mb-3"><label class="form-label text-black">Place of employment&nbsp;</label></div>
                            </div>
                            <div class="col-sm-1 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-4 col-md-6 col-lg-4">
                                <div class="form-group mb-3">
                                    <label class="form-label text-black text-center" id="pat_code">@emr.pat_city&nbsp;</label>
                                </div>

                            </div>
                            <div class="col-sm-1 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-3">
                                <div class="form-group mb-3" dir="rtl"><label class="form-label text-black text-right">  موقع التوظيف&nbsp;</label></div>
                            </div>
                        </div>
                        <div class="expanel-heading">
                            <div class="row">
                                <div class="col-sm-3 col-md-6 col-lg-3">
                                    <div class="form-group mb-3"><label class="form-label ">Medical information&nbsp;</label></div>
                                </div>

                                <div class="col-sm-4 col-md-6 col-lg-4">
                                    <div class="form-group mb-3">
                                        <label class="form-label text-black text-center" id="pat_code">&nbsp;</label>
                                    </div>

                                </div>

                                <div class="col-sm-4 col-md-6 col-lg-3">
                                    <div class="form-group mb-3" dir="rtl"><label class="form-label text-right"> معلومات طبية&nbsp;</label></div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-2 mb-2">
                            <div class="col-sm-3 col-md-6 col-lg-3">
                                <div class="form-group mb-3"><label class="form-label text-black">Diagnosis &nbsp;</label></div>
                            </div>
                            <div class="col-sm-1 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-4 col-md-6 col-lg-4">
                                <div class="form-group mb-3 text-center">
                                    <label class="text-black text-center" id="ppat_Diagnosis" name="">&nbsp;</label>
                                </div>

                            </div>
                            <div class="col-sm-1 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-3">
                                <div class="form-group mb-3" dir="rtl"><label class="form-label text-black text-right">  تشخبص&nbsp;</label></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-3 col-md-6 col-lg-3">
                                <div class="form-group mb-3"><label class="form-label text-black">Sick Leave MOH granted in words&nbsp;</label></div>
                            </div>
                            <div class="col-sm-1 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-4 col-md-6 col-lg-4" id="ResTel">
                                <div class="form-group mb-3 text-center">
                                    <label class="form-label text-black" id="pat_code">@Model.sl_words&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-1 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-3">
                                <div class="form-group mb-3" dir="rtl"><label class="form-label text-black text-right">  الإجازة المرضية تُمنح بالكلمات&nbsp;</label></div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-3 col-md-6 col-lg-3">

                                <div class="form-group mb-3"><label class="form-label text-black"> From	&nbsp;</label></div>
                            </div>
                            <div class="col-sm-1 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-4 col-md-6 col-lg-4">
                                <div class="form-group mb-3">
                                    <label class="form-label text-black text-center text-capitalize" id="date">@Model.sl_date1.ToString("dd/MM/yyyy")&nbsp;</label>
                                </div>

                            </div>
                            <div class="col-sm-1 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-3">
                                <div class="form-group mb-3" dir="rtl"><label class="form-label text-black text-right">   من &nbsp;</label></div>

                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-sm-3 col-md-6 col-lg-3">

                                <div class="form-group mb-3"><label class="form-label text-black"> To	&nbsp;</label></div>
                            </div>
                            <div class="col-sm-1 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-4 col-md-6 col-lg-4">
                                <div class="form-group mb-3">
                                    <label class="form-label text-black text-center text-capitalize" id="date">@Model.sl_date2.ToString("dd/MM/yyyy")&nbsp;</label>
                                </div>

                            </div>
                            <div class="col-sm-1 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-3">
                                <div class="form-group mb-3" dir="rtl"><label class="form-label text-black text-right">  ل &nbsp;</label></div>

                            </div>
                        </div>
                        <div class="expanel-heading mb-2">
                            <div class="row">
                                <div class="col-sm-3 col-md-6 col-lg-3">
                                    <div class="form-group mb-3"><label class="form-label ">Other information&nbsp;</label></div>
                                </div>

                                <div class="col-sm-4 col-md-6 col-lg-4">
                                    <div class="form-group mb-3">
                                        <label class="form-label text-black text-center" id="pat_code">&nbsp;</label>
                                    </div>

                                </div>

                                <div class="col-sm-4 col-md-6 col-lg-3">
                                    <div class="form-group mb-3" dir="rtl"><label class="form-label text-right"> معلومات أخرى&nbsp;</label></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-6 col-lg-3">
                                <div class="form-group mb-3"><label class="form-label text-black">Medical establishment name&nbsp;</label></div>
                            </div>
                            <div class="col-sm-1 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-4 col-md-6 col-lg-4">
                                <div class="form-group mb-3">
                                    <label class="form-label text-black text-center" id="pat_gender">@emr.set_company&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-1 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-3">
                                <div class="form-group mb-3" dir="rtl"><label class="form-label text-black text-right"> اسم المؤسسة الطبية&nbsp;</label></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-6 col-lg-3">
                                <div class="form-group mb-3"><label class="form-label text-black">Establishment no&nbsp;</label></div>
                            </div>
                            <div class="col-sm-1 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-4 col-md-6 col-lg-4">
                                <div class="form-group mb-3">
                                    <label class="form-label text-black text-center" id="pat_gender">@emr.emp_license&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-1 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-3">
                                <div class="form-group mb-3" dir="rtl"><label class="form-label text-black text-right"> رقم المنشأة&nbsp;</label></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-6 col-lg-3">
                                <div class="form-group mb-3"><label class="form-label text-black">Name of the doctor&nbsp;</label></div>
                            </div>
                            <div class="col-sm-1 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-4 col-md-6 col-lg-4">
                                <div class="form-group mb-3">
                                    <label class="form-label text-black text-center" id="pat_gender">@emr.doc_name&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-1 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-3">
                                <div class="form-group mb-3" dir="rtl"><label class="form-label text-black text-right"> اسم الطبيب&nbsp;</label></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-6 col-lg-3">
                                <div class="form-group mb-3"><label class="form-label text-black">Speciality as in medical permit&nbsp;</label></div>
                            </div>
                            <div class="col-sm-1 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-4 col-md-6 col-lg-4">
                                <div class="form-group mb-3">
                                    <label class="form-label text-black text-center" id="pat_gender">@emr.emp_speciality&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-1 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-3">
                                <div class="form-group mb-3" dir="rtl"><label class="form-label text-black text-right">التخصص كما هو الحال في التصريح الطبي&nbsp;</label></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 col-md-6 col-lg-3">
                                <div class="form-group mb-3"><label class="form-label text-black">Medical permit no&nbsp;</label></div>
                            </div>
                            <div class="col-sm-1 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-4 col-md-6 col-lg-4">
                                <div class="form-group mb-3">
                                    <label class="form-label text-black text-center" id="pat_gender">@emr.emp_license&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-1 col-md-6 col-lg-1 d-flex justify-content-center w-8  form-label">
                                :
                            </div>
                            <div class="col-sm-3 col-md-6 col-lg-3">
                                <div class="form-group mb-3" dir="rtl"><label class="form-label text-black text-right">تصريح طبي رقم&nbsp;</label></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group mb-3">
                                    <h4 class="form-label text-black text-center">
                                        APPROVAL OF PRIVATE MEDICAL PRACTICE
                                        DEPARTMENT IN MINISTRY OF HEALTH
                                    </h4>
                                    <h4 class="form-label text-black text-center" dir="rtl">
                                        الموافقة على الممارسة الطبية الخاصة
                                        قسم في وزارة الصحة
                                    </h4>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="text-center">
                    <img src="@Model.set_footer_image" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //#region Partial View Onload
    $(function () {
        Get_AllPatientDiagnosis();
    });
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
     //#region Load Get All Diagnosis
    var Get_AllPatientDiagnosis = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetAllPatientDiagnosis", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
            success: function (response) {
                if (response.length > 0) {
                    $('#ppat_Diagnosis').text(response[0].Diagnosis);
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
//#endregion
</script>

