
@using BusinessEntities;
@model BusinessEntities.EMR.SickLeaveDHA
@{
    ViewBag.Title = "Print Invoice";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" onclick="printDiv('printDiv')" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>
<div class="row" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-center">
                    <img src="@Model.set_header_image" />
                </div>
                        <div class="row">
                            <div class="col-sm-6 col-md-6 col-lg-12">
                                <div>
                                    <h4 class="page-title mb-0 text-primary">
                                        Manual sick leave certificate
                                    </h4>
                                </div>
                                <div><h6 class="mb-0 text-primary">Please type or write clearly. Illegible certificates will be returned.</h6></div>
                            </div>
                        </div>
                        <div class=" mt-2">
                            <div >
                                <div class= "border">
                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                        <div class="row">
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name:&nbsp;<span class="text-danger"> *</span></label></div>
                                            </div>
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <label class="form-label text-black text-left text-capitalize">@emr.pat_name&nbsp;</label>
                                            </div>
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID Number*/Passport No.&nbsp;<span class="text-danger"> *</span></label></div>
                                            </div>
                                            <div class="col-sm-2 col-md-6 col-lg-2">
                                                <label class="form-label text-black text-left">@emr.pat_emirateid&nbsp;</label>
                                            </div>
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <div class="form-group mb-3"><label class="form-label text-black">Place of Employement&nbsp;</label></div>
                                            </div>
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <label class="form-label text-black text-left">@emr.pat_city&nbsp;</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">Medical Record Number</label></div>
                                            </div>

                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <label class="form-label text-black text-left">@emr.pat_code&nbsp;</label>
                                            </div>
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <div class="form-group mb-3"><label class="form-label text-black"> 	Date of Birth&nbsp;<span class="text-danger"> *</span></label></div>

                                            </div>
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <label class="form-label text-black text-left">@emr.pat_dob&nbsp;</label>
                                            </div>

                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <div class="form-group mb-3"><label class="form-label text-black">Date of Visit&nbsp;<span class="text-danger"> *</span></label></div>
                                            </div>
                                            <div class="col-sm-2 col-md-2 col-lg-2">
                                                <label class="form-label text-black text-left">@emr.app_fdate&nbsp;</label>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row mb-5 mt-5">
                            <div class="expanel-heading mb-2">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-12">
                                        <div class="form-group mb-3"><label class="form-label ">Information&nbsp;</label></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-12">
                                <div class="form-group">
                                    <label class="form-label">Type of work: (Tick Appropriate)&nbsp;</label>
                                    <div class="row custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                                        <div class="col-sm-4 col-md-2 col-lg-4">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="pslm_1" value="1" id="pslm_11">
                                                <span class="custom-control-label">Light/Moderate (office, sales,mild physical, etc.)</span>
                                            </label>
                                        </div>
                                        <div class="col-sm-5 col-md-2 col-lg-4">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-4">
                                                <input type="checkbox" class="custom-control-input" name="pslm_1" value="2" id="pslm_12">
                                                <span class="custom-control-label">Moderate (Police, construction, moderate physical work, etc.)</span>
                                            </label>
                                        </div>
                                        <div class="col-sm-4 col-md-2 col-lg-4">
                                            <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                                <input type="checkbox" class="custom-control-input" name="pslm_1" value="3" id="pslm_13">
                                                <span class="custom-control-label">Heavy (Army, Heavy physical work, airline pilot, etc)</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-12">
                                <div class="row">
                                    <label class="form-label">Visit Type: (Tick Appropriate)&nbsp;</label>

                                    <div class="col-sm-3 col-md-2 col-lg-3">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="pslm_1" value="4" id="pslm_14">
                                            <span class="custom-control-label">Outpatient</span>
                                        </label>
                                    </div>
                                    <div class="col-sm-3 col-md-2 col-lg-3">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="pslm_1" value="5" id="pslm_15">
                                            <span class="custom-control-label">Inpatient</span>
                                        </label>
                                    </div>
                                    <div class="col-sm-3 col-md-2 col-lg-3">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="pslm_1" value="6" id="pslm_16">
                                            <span class="custom-control-label">Medical</span>
                                        </label>
                                    </div>
                                    <div class="col-sm-3 col-md-2 col-lg-3">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="pslm_1" value="7" id="pslm_17">
                                            <span class="custom-control-label">Surgical</span>
                                        </label>
                                    </div>
                                    <div class="col-sm-3 col-md-2 col-lg-3">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="pslm_1" value="8" id="pslm_18">
                                            <span class="custom-control-label">Consultation</span>
                                        </label>
                                    </div>
                                    <div class="col-sm-3 col-md-2 col-lg-3">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="pslm_1" value="9" id="pslm_19">
                                            <span class="custom-control-label">Procedure</span>
                                        </label>
                                    </div>
                                    <div class="col-sm-3 col-md-2 col-lg-3">
                                        <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                                            <input type="checkbox" class="custom-control-input" name="pslm_1" value="10" id="pslm_110">
                                            <span class="custom-control-label">Follow Up</span>
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-12">
                                <div class="form-group">
                                    <label class="form-label">ICD 10 Code/Diagnosis&nbsp;<span class="text-danger"> *</span></label>
                                    <label class="form-label" id="pat_Diagnosis" name="">&nbsp;</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-12">
                                <div class="form-group">
                                    <label class="form-label">CPT Code/Procedure&nbsp;<span class="text-danger"> *</span></label>
                                    <label class="form-label" id="treat_details" name="">&nbsp;</label>
                                </div>
                            </div>
                            <div class="row col-sm-12 col-md-6 col-lg-12 mt-3">
                                <div class="col-sm-4 col-md-6 col-lg-4">
                                    <label class="form-label">SIck Leave DHA From&nbsp;<span class="text-danger"> *</span></label>
                                    <label class="form-label">@Model.slm_2.ToString("dd/MM/yyyy")&nbsp;</label>
                                </div>
                                <div class="col-sm-4 col-md-6 col-lg-4">
                                    <label class="form-label">SIck Leave DHA To&nbsp;<span class="text-danger"> *</span></label>
                                    <label class="form-label">@Model.slm_3.ToString("dd/MM/yyyy")&nbsp;</label>
                                </div>
                                <div class="col-sm-4 col-md-6 col-lg-4">
                                    <label class="form-label">Number of Days&nbsp;<span class="text-danger"> *</span></label>
                                    <span class="text-capitalize text-left text-black">@Model.slm_4&nbsp;</span>
                                </div>

                            </div>

                            <div class="row col-sm-12 col-md-6 col-lg-12 mt-3">
                                <div class="col-sm-4 col-md-6 col-lg-4">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Physician's Name&nbsp;<span class="text-danger"> *</span></label>
                                        <span class="text-capitalize text-left text-black">@emr.doc_name&nbsp;</span>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label class="form-label">DHCC License Number&nbsp;<span class="text-danger"> *</span></label>
                                        <span class="text-capitalize text-left text-black">@emr.emp_license&nbsp;</span>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-6 col-lg-4">
                                    <div class="form-group mb-3">
                                        <label class="form-label">Signature&Stamp&nbsp;<span class="text-danger"> *</span></label>
                                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                                    </div>
                                </div>
                            </div>

                            <div class="row col-sm-12 col-md-6 col-lg-12">

                                <div class="col-sm-6 col-md-6 col-lg-6 expanel-heading">
                                    <div class="form-group mb-3">
                                        <label class="form-label text-black">For CPQ Office Use:</label>
                                        <label class="form-label text-black"></label>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6 expanel-heading">
                                    <div class="form-group mb-3">
                                        <label class="form-label text-black"> Place SIck Leave DHA token here:</label>
                                        <label class="form-label text-black">
                                            Tokens are available from DHCC
                                            Cashier Office
                                        </label>
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm-12 col-md-6 col-lg-12">
                                <div class="form-group mb-3">
                                    <label class="form-label text-black">This SIck Leave DHA certificate is to be attested by Dubai Healthcare City Authority at the offices of the Center for Healthcare Planning and Quality, ground floor, Block C, Building 27, Dubai Healthcare City.</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-12">
                                <div class="form-group mb-3">
                                    <label class="form-label text-black">For Use in Dubai HealthCare City healthcare facilities only.</label>
                                </div>
                            </div>
                        </div>

                   
                <div class="text-center">
                    <img src="@Model.set_footer_image" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
     $(function () {
         GetCheckedValues();
        Get_AllPatientDiagnosis();
        Get_Patient_Treatments();
        
         
     });

    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }

         //#region Get CheckedValues
         var GetCheckedValues = function (checknames) {
         var checknames = "@Model.slm_1";

           if (checknames !== null) {

            if (checknames != "") {
             var str = "@Model.slm_1";
             var myarray = str.split(',');
             for (var i = 0; i < myarray.length; i++) {
             $('.custom-control-input').each(function () {
                 if (myarray.includes($(this).val())) {
                     $(this).prop("checked", true);
                 }
             });
            }
              console.log(myarray)
            }
           }
          }
         //#endregion

      @*//#region Get CheckedValues
        var GetCheckedValues = function () {
        var slm_1_ = "@Model.slm_1";
        if (slm_1_ !== "") {
            var uslm_1_ = $("input[name='slm_1'][value='" + "@Model.slm_1" + "']").attr("id");
            $("#" + uslm_1_).attr('checked', 'checked');
            $("#" + uslm_1_).prop("checked", true);
        }
    }*@

    //#region Load Get All Diagnosis
        var Get_AllPatientDiagnosis = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllPatientDiagnosis", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#pat_Diagnosis').text(response[0].Diagnosis);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion

    //#region Load Get_Patient_Treatments
        var Get_Patient_Treatments = function () {
             $.ajax({
                type: "GET",
                url: "@Url.Action("Get_Patient_Treatment", "ReimbursementForms", new { area = "EMRForms" })?appId=" +@emr.appId,
                success: function (response) {
                    if (response.length > 0) {
                        $('#treat_details').text(response[0].treatments);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
             });
         }
    //#endregion

</script>
