
@model BusinessEntities.EMR.SickLeaveDHA
@using BusinessEntities;
@using System.Linq;
@using System.Security.Claims;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
    ViewBag.Title = "Index";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
}
<style>
    .form-control-sm {
        margin-left: 0.5em;
        display: inline-block;
        width: auto;
    }
</style>
<div class="row">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong>Error!&nbsp;</strong>@TempData["ErrorMessage"]
            </div>
        </div>
    }
    <div class="col-sm-12 col-md-6 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-4 font-weight-semibold">
                        <span class="text-danger" style="font-size:smaller">Please type or write clearly. Illegible certificates will be returned.*Mandatory information.</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-12">
                        <div>
                            <h4 class="page-title mb-0 text-primary">
                                Manual sick leave certificate
                            </h4>
                        </div>
                    </div>
                </div>
                <div id="LeaveDHA_add" style="display:none">

                </div>
                <div id="LeaveDHA_edit">
                </div>
                <div>
                    <h4 class="page-title mb-0 text-primary">
                        Previous History
                    </h4>
                </div>
                <div class="table-responsive">
                    <table id="tbl_PreSickLeaveDHA" class="table table-striped table-bordered text-nowrap" style="width: 100%; cursor: pointer;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #808080; border-color: #3C457D; ">
                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Date</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Doctor</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section myScripts{
    <script>
        //#region Page Load
        $(function () {

            GetPreviousSickLeaveDHA();
            GetSickLeaveDHA();
          
        });

    //#endregion Page Load

    //#region Load SickLeaveDHA
        var GetSickLeaveDHA = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllSickLeaveDHA", "SickLeave", new { area = "EMR" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        if (response.length > 0) {
                            EditSickLeaveDHA();
                            $("#LeaveDHA_add").hide();
                            $("#LeaveDHA_edit").show();

                        }
                        else {
                            $("#LeaveDHA_add").show();
                            $("#LeaveDHA_edit").hide();
                            AddSickLeaveDHA();

                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion Load SickLeaveDHA


    //#region Load PreviousSickLeaveDHA
        var GetPreviousSickLeaveDHA = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllPreSickLeaveDHA", "SickLeave", new { area = "EMR" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
                success: function (response) {
                    if (response.isAuthorized != false) {
                        var table;
                        if ($.fn.dataTable.isDataTable('#tbl_PreSickLeaveDHA')) {
                            table = $('#tbl_PreSickLeaveDHA').DataTable();
                            table.clear();
                            table.rows.add(response).draw();
                        }
                        else {
                            console.log(response);
                            BindDataTableP(response);
                        }

                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
    //#endregion Load PreviousSickLeaveDHA

   //#region Previous Bind Datatable
        var BindDataTableP = function (response) {
            var table = $("#tbl_PreSickLeaveDHA").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                processing: true,
                "deferRender": true,
                "pageLength": 100,
                "retrieve": true,
                lengthChange: true,
                "aaData": response,
                "aoColumns": [
                    {
                        "mData": "slmId",
                        "orderable": false,
                        "searchable": false,
                        "className": "text-center",
                        "render": function (data, type, row, meta) {
                            let _index = (meta.row) + 1;
                            if (_index >= 10) {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>" + _index + "</a>";
                            }
                            else {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>0" + _index + "</a>";
                            }
                        }
                    },
                    {
                        "mData": "app_fdate",
                        "className": "text-left",
                        "render": function (data, type, row, meta) {
                            if (type === 'display' || type === 'filter') {
                                return moment(data).format("DD-MM-YYYY");
                            }
                            return moment(data).format("YYYY-MM-DD");
                        }
                    },
                    {
                        "mData": "doctor_name",
                        "className": 'text-justify text-wrap'
                    },
                    {
                        "mData": "slmId",
                        "className": 'btn-view text-center',
                        "orderable": false,
                        "searchable": false,
                        "render": function (slmId, type, full, meta) {
                            var Action = '';
                                //View Details
                            Action += '<a id=btn_View_SickLeaveDHA onclick="PrintSickLeaveDHA(' + full.slmId + ')" ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#3C457D" class="fa fa-copy" viewBox="0 0 16 16">< path d = "M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" /><path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" /></svg ></a> ';

                                return Action;
                            }
                    },
                ],
                order: [[0, 'asc']],
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '<span class="text-primary font-weight-semi-bold">Search By Code/Tittle</span>',
                    lengthMenu: '_MENU_',
                    scrollX: "100%",
                },
                scrollX: true,
                scrollY: 500,
                scrollCollapse: true,
                buttons: [
                    {
                        extend: 'excel',
                        title: 'Previous  SickLeave DHA',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2]
                        }
                    },
                    {
                        extend: 'pdf',
                        title: 'Previous  SickLeave DHA',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2]
                        }
                    },
                    {
                        extend: 'csv',
                        title: 'Previous  SickLeave DHA',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2]
                        }
                    },
                    {
                        extend: 'print',
                        title: 'Previous  SickLeave DHA',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2]
                        }
                    }
                ]
            });
            table.buttons().container().appendTo('#tbl_PreLeaveDHA_wrapper .col-md-6:eq(0)');
        };
    //#endregion Previous Bind Datatable

    //#region Add SickLeaveDHA
        function AddSickLeaveDHA() {
            var x = $("#LeaveDHA_add");
            x.load("@Url.Action("CreateSickLeaveDHA", "SickLeave", new { area = "EMR" })", function () {
            });
        }
    //#endregion Add SickLeaveDHA


    //#region Edit SickLeaveDHA
        function EditSickLeaveDHA() {
            var x = $("#LeaveDHA_edit");
            x.load("@Url.Action("EditSickLeaveDHA", "SickLeave", new { area = "EMR" })?appId=" + @emr.appId, function () {
            });
        }
    //#endregion Edit SickLeaveDHA

    //#region Print SickLeaveDHA
        function PrintSickLeaveDHA(slmId) {
            window.open("@Url.Action("PrintSickLeaveDHA", "SickLeave", new { area = "EMR" })?slmId=" + slmId)
        }
    //#endregion Print SickLeaveDHA


    //#region Resize Datatable
        function resizedt() {
            setTimeout(function () {
                $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
            }, 350);
        }
    //#endregion Resize Datatable

    //#region Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slmIdeUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
    //#endregion Alert Timeout
    </script>
}