@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Prp Peeling Consent";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Prp- Peeling+Mesotherapy+Fiber Subsicion+Hair Filler Consent Form
                    <br /><span dir="rtl" class="text-right">استمارة موافقة Prp- تقشير + ميزوثيرابي + حقن الألياف + حشو الشعر </span>
                </h3>
            </div>
            <div class="card-body">
                <div id="PrpPeelingConsent_add" style="display:none">
                </div>
                <div id="PrpPeelingConsent_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="PrpPeelingConsent_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetPrpPeelingConsentInfo();
        PrpPeelingConsentPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetPrpPeelingConsentInfo
    var GetPrpPeelingConsentInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetPrpPeelingConsentData", "PrpPeelingConsent", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditPrpPeelingConsent();
                        $("#PrpPeelingConsent_add").hide();
                        $("#PrpPeelingConsent_edit").show();

                    }
                    else {
                        $("#PrpPeelingConsent_add").show();
                        $("#PrpPeelingConsent_edit").hide();
                        AddPrpPeelingConsent();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load PrpPeelingConsent

    //#region Add PrpPeelingConsent
    function AddPrpPeelingConsent() {
        var x = $("#PrpPeelingConsent_add");
        x.load("@Url.Action("CreatePrpPeelingConsent", "PrpPeelingConsent", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add PrpPeelingConsent

    // #region Update PrpPeelingConsent
    function EditPrpPeelingConsent() {
        var x = $("#PrpPeelingConsent_edit");
        x.load("@Url.Action("UpdatePrpPeelingConsent", "PrpPeelingConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update PrpPeelingConsent

    // #region Histroy of PrpPeelingConsent
    function PrpPeelingConsentPreviousHistory() {
        var x = $("#PrpPeelingConsent_history");
        x.load("@Url.Action("PrpPeelingConsentPreviousHistory", "PrpPeelingConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion History of PrpPeelingConsent
</script>