@model BusinessEntities.NurseStation.PhysicalExamination
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_EditPhyExam" class="needs-validation" autocomplete="off">

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mb-4 font-weight-semibold">
            <span class="text-danger" style="font-size:smaller">Required fields are marked with *</span>
        </div>
    </div>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.peId)
    @Html.HiddenFor(m => m.pe_appId)
    @Html.HiddenFor(m => m.peId, new { @id = "upeId", @value = "@Model.peId" })
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div>
                <h4 class="page-title mb-0 text-primary">
                    Edit Physical Examination
                </h4>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="panel-group accordion-panel" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default active">
                <div class="panel-heading " role="tab" id="headingOne1">
                    <h4 class="panel-title">
                        <a role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                            1. Constitutional
                            <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne1">
                    <div class="col mt-5">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <span style="font-size:smaller">Measurement of any three of the following seven vital signs:</span>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label class="form-label">Sitting or standing blood preasure&nbsp;</label>
                                    @Html.TextBoxFor(m => m.pe_1, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_1" })
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label class="form-label">Supine blood presure	&nbsp;</label>
                                    @Html.TextBoxFor(m => m.pe_2, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_2" })
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label class="form-label">Pulse rate and regularity</label>
                                    @Html.TextBoxFor(m => m.pe_3, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_3" })
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label class="form-label">Respiration</label>
                                    @Html.TextBoxFor(m => m.pe_4, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_4" })
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label class="form-label">Temperature&nbsp;</label>
                                    @Html.TextBoxFor(m => m.pe_5, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_5" })
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label class="form-label">Height&nbsp;</label>
                                    @Html.TextBoxFor(m => m.pe_6, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_6" })
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label class="form-label">Weight</label>
                                    @Html.TextBoxFor(m => m.pe_7, new { @class = "form-control", @placeholder = "(May be measured & recorded by ancillary staff)", @id = "upe_7" })
                                </div>
                            </div>
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label class="form-label"> General appearance of patient</label>
                                    @Html.TextBoxFor(m => m.pe_8, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_9" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default mt-2">
                    <div class="panel-heading" role="tab" id="headingTwo2">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                2. Eyes
                                <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo2">
                        <div class="panel-body ">
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">Inspection of conjuctivae and lids&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_9, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_9" })
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">Examination of pupils and irises&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_10, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_10" })
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">Ophthalmoscopic examination of optic discs</label>
                                        @Html.TextBoxFor(m => m.pe_11, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_11" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default mt-2">
                    <div class="panel-heading" role="tab" id="headingThree3">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                                3. Ears, Nose, Mouth and Throat&nbsp;
                                <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree3">
                        <div class="panel-body ">
                            <div class="row">

                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label">External inspection of ears and nose&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_12, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_12" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label">Otoscopic examination of external auditory canals and tympanic membranes	&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_13, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_13" })
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">Assessment of hearing</label>
                                        @Html.TextBoxFor(m => m.pe_14, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_14" })
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">Inspection of nasal mucosa, septum and turbinates</label>
                                        @Html.TextBoxFor(m => m.pe_15, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_15" })
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">Inspection of lips, teeth and gums&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_16, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_16" })
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">Examination of oropharynx&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_17, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_17" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default mt-2">
                    <div class="panel-heading" role="tab" id="headingThree4">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4">
                                4. Neck&nbsp;
                                <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree4">
                        <div class="panel-body ">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label">Examination of neck&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_18, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_18" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label">Examination of thyroid&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_19, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_19" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default mt-2">
                    <div class="panel-heading" role="tab" id="headingThree5">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseThree5" aria-expanded="false" aria-controls="collapseThree5">
                                5. Respiratory&nbsp;
                                <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree5">
                        <div class="panel-body ">
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">Assessment of respiratory effort&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_20, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_20" })
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">Percussion of chest&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_21, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_21" })
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">Palpation of chest</label>
                                        @Html.TextBoxFor(m => m.pe_22, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_22" })
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">Auscultation of lungs</label>
                                        @Html.TextBoxFor(m => m.pe_23, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_23" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default mt-2">
                    <div class="panel-heading" role="tab" id="headingThree6">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseThree6" aria-expanded="false" aria-controls="collapseThree6">
                                6. Cardiovascular&nbsp;
                                <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree6">
                        <div class="panel-body ">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label">Palpation of heart&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_24, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_24" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label">Auscultation of heart with nation of normal sounds and murmurs&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_25, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_25" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <span style="font-size: smaller">Examination of:</span>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">Carotid arteries</label>
                                        @Html.TextBoxFor(m => m.pe_26, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_26" })
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">Abdominal aorta</label>
                                        @Html.TextBoxFor(m => m.pe_27, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_27" })
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">Femoral arteries&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_28, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_28" })
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">Pedal pulses&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_29, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_29" })
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label class="form-label">Extremities for edema and/or varicosities</label>
                                        @Html.TextBoxFor(m => m.pe_30, new { @class = "form-control", @placeholder = "(May be measured & recorded by ancillary staff)", @id = "upe_30" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default mt-2">
                    <div class="panel-heading" role="tab" id="headingThree7">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseThree7" aria-expanded="false" aria-controls="collapseThree7">
                                7. Chest(Breasts)&nbsp;
                                <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree7">
                        <div class="panel-body ">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label">Inspection of breasts&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_31, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_31" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label">Palpation of breasts and axillae	&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_32, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_32" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default mt-2">
                    <div class="panel-heading" role="tab" id="headingThree8">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseThree8" aria-expanded="false" aria-controls="collapseThree8">
                                8. Gastrointestinal(Abdomen)&nbsp;
                                <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree8">
                        <div class="panel-body ">
                            <div class="row">

                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label">Examination of abdomen with notation of presence of masses or tenderness&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_33, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_33" })
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">Examination of liver and spleen&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_34, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_34" })
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">Examination for presence or absence of hernia</label>
                                        @Html.TextBoxFor(m => m.pe_35, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_35" })
                                    </div>
                                </div>
                                <div class="col-sm-8 col-md-8 col-lg-8">
                                    <div class="form-group">
                                        <label class="form-label">Examination(When indicated)of anus, perineum and rectum, including sphincter tone, presence of hemorrhoids, rectal masses</label>
                                        @Html.TextBoxFor(m => m.pe_36, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_36" })
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="form-label">Obtain stool sample for occult blood test when indicated&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_37, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_37" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default mt-2">
                    <div class="panel-heading" role="tab" id="headingThree9">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseThree9" aria-expanded="false" aria-controls="collapseThree9">
                                9. Genitourinary&nbsp;
                                <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree9">
                        <div class="panel-body ">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <span style="font-size:smaller">MALE:</span>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="form-label">Examination of the scrotal contents&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_38, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_38" })
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="form-label">Examination of the penis&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_39, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_39" })
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="form-label">Digital rectal examination of prostate gland</label>
                                        @Html.TextBoxFor(m => m.pe_40, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_40" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <span style="font-size:smaller">FEMALE:</span>
                                    <span style="font-size:smaller">Pelvic examination (with or without specimen collection for smears and cultures), including</span>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="form-label">Examination of external genitalia</label>
                                        @Html.TextBoxFor(m => m.pe_41, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_41" })
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="form-label">Examination of urethra&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_42, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_42" })
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="form-label">Examination of bladder&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_43, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_43" })
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="form-label">Cervix</label>
                                        @Html.TextBoxFor(m => m.pe_44, new { @class = "form-control", @placeholder = "(May be measured & recorded by ancillary staff)", @id = "upe_44" })
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="form-label"> Uterus</label>
                                        @Html.TextBoxFor(m => m.pe_45, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_45" })
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="form-label"> Adnexa/parametria</label>
                                        @Html.TextBoxFor(m => m.pe_46, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_46" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default mt-2">
                    <div class="panel-heading" role="tab" id="headingThree10">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseThree10" aria-expanded="false" aria-controls="collapseThree10">
                                10. Lymphatic&nbsp;
                                <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree10">
                        <div class="panel-body ">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <span style="font-size:smaller">Palpation of lymph nodes in two or three areas:</span>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">Palpation of lymph nodes in two or three areas:&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_47, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_47" })
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">Axillae&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_48, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_48" })
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">groin</label>
                                        @Html.TextBoxFor(m => m.pe_49, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_49" })
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">Other</label>
                                        @Html.TextBoxFor(m => m.pe_50, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_50" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default mt-2">
                    <div class="panel-heading" role="tab" id="headingThree11">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseThree11" aria-expanded="false" aria-controls="collapseThree11">
                                11. Musculoskeletal&nbsp;
                                <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree11">
                        <div class="panel-body ">
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label">Examination of gait and station&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_51, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_51" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label">Inspection and/or palpation of digits and nails&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_52, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_52" })
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <span style="font-size:smaller">Examination of joints, bones, and muscles of one or more of the following six areas:</span>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">1) Head and Neck</label>
                                        @Html.TextBoxFor(m => m.pe_53, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_53" })
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">2) Spine, ribs and pelvis</label>
                                        @Html.TextBoxFor(m => m.pe_54, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_54" })
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">3) Right upper extremity&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_55, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_55" })
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">4) Left upper extremity&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_56, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_56" })
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">5) Right lower extremity</label>
                                        @Html.TextBoxFor(m => m.pe_57, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_57" })
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label"> 6) Left lower extremity</label>
                                        @Html.TextBoxFor(m => m.pe_58, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_58" })
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label"> Assessment of muscle strength and tone</label>
                                        @Html.TextBoxFor(m => m.pe_62, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_62" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label"> Assessment of range of motion with notation of any pain, crepitation or contracture</label>
                                        @Html.TextBoxFor(m => m.pe_60, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_60" })
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label"> Assessment of stability with notation of any dislocation (luxation), subluxation or laxity</label>
                                        @Html.TextBoxFor(m => m.pe_61, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_61" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label"> Inspection and/or palpation with notation of presence of any misalignment, asymmetry, crepitation, defects, tenderness, masses, effusions</label>
                                        @Html.TextBoxFor(m => m.pe_59, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_59" })
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default mt-2">
                    <div class="panel-heading" role="tab" id="headingThree12">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseThree12" aria-expanded="false" aria-controls="collapseThree12">
                                12. Skin&nbsp;
                                <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree12">
                        <div class="panel-body ">
                            <div class="row">

                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label">Inspection of skin and subcutaneous tissue&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_63, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_63" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label">Palpation of skin and subcutaneous tissue&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_64, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_64" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default mt-2">
                    <div class="panel-heading" role="tab" id="headingThree13">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseThree13" aria-expanded="false" aria-controls="collapseThree13">
                                13. Neurologic&nbsp;
                                <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree13" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree13">
                        <div class="panel-body ">
                            <div class="row">
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">Test cranial nerves with notation of any deficits&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_65, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_65" })
                                    </div>
                                </div>
                                <div class="col-sm-3 col-md-3 col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label">Examination of sensation</label>
                                        @Html.TextBoxFor(m => m.pe_67, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_66" })
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label">Examination of deep tendon reflexes with notation of pathological reflexes	&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_66, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_67" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default mt-2">
                    <div class="panel-heading" role="tab" id="headingThree14">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseThree14" aria-expanded="false" aria-controls="collapseThree14">
                                14. Psychiatric&nbsp;
                                <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree14">
                        <div class="panel-body ">
                            <div class="row">

                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label class="form-label">Description of patient's judgment and insight&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_68, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_68" })
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <span style="font-size:smaller">Brief assessment of mental status including:</span>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="form-label">Orientation to time, place and person&nbsp;</label>
                                        @Html.TextBoxFor(m => m.pe_69, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_69" })
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="form-label">Recent and remote memory</label>
                                        @Html.TextBoxFor(m => m.pe_70, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_70" })
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <label class="form-label">Mood and affect</label>
                                        @Html.TextBoxFor(m => m.pe_71, new { @class = "form-control", @placeholder = "NORMAL", @id = "upe_71" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning" id="btn_Update_PhyExam">Save Changes</button>
                <button type="submit" class="btn btn-sm btn-outline-danger" id="btn_Delete_PhyExam">Delete</button>
                <button type="button" class="btn btn-outline-danger me-1" id="btn_Close_PhyExam" style="display:none" >
                    Close
                </button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    //#region Partial View Onload
         $(function () {
             $('#btn_Close_PhyExam').click(function () {
                $('#phyexam_edit').hide();
             });
             if ("@emp_designation.ToString()" === "Super Administrator") {
                 $("#btn_Update_PhyExam").show();
                 $("#btn_Delete_PhyExam").show();
             } else {
                 if ("@emr.set_emr_lock" == "NoLock") {
                     $("#btn_Update_PhyExam").show();
                     $("#btn_Delete_PhyExam").show();

                 }
                 else {
                     if ("@emr.app_ae_date" >= "@emr.today") {
                         $("#btn_Update_PhyExam").show();
                         $("#btn_Delete_PhyExam").show();
                     }
                     else {
                         $("#btn_Update_PhyExam").hide();
                         $("#btn_Delete_PhyExam").hide();
                     }

                 }
             }
             $('#btn_Close_PhysicalExamination').click(function () {
                 $('#phyexam_adit').hide();
             });
             validate();
        });
    //#endregion Partial View Onload

    //#region Clear Controls
        var clearControls = function () {
            $("#upe_1").val("NORMAL");
            $("#upe_2").val("NORMAL");
            $("#upe_3").val("NORMAL");
            $("#upe_4").val("NORMAL");
            $("#upe_5").val("NORMAL");
            $("#upe_6").val("NORMAL");
            $("#upe_7").val("NORMAL");
            $("#upe_8").val("NORMAL");
            $("#upe_9").val("NORMAL");
            $("#upe_10").val("NORMAL");
            $("#upe_11").val("NORMAL");
            $("#upe_12").val("NORMAL");
            $("#upe_13").val("NORMAL");
            $("#upe_14").val("NORMAL");
            $("#upe_15").val("NORMAL");
            $("#upe_16").val("NORMAL");
            $("#upe_17").val("NORMAL");
            $("#upe_18").val("NORMAL");
            $("#upe_19").val("NORMAL");
            $("#upe_20").val("NORMAL");
            $("#upe_21").val("NORMAL");
            $("#upe_22").val("NORMAL");
            $("#upe_23").val("NORMAL");
            $("#upe_24").val("NORMAL");
            $("#upe_25").val("NORMAL");
            $("#upe_26").val("NORMAL");
            $("#upe_27").val("NORMAL");
            $("#upe_28").val("NORMAL");
            $("#upe_29").val("NORMAL");
            $("#upe_30").val("NORMAL");
            $("#upe_31").val("NORMAL");
            $("#upe_32").val("NORMAL");
            $("#upe_33").val("NORMAL");
            $("#upe_34").val("NORMAL");
            $("#upe_35").val("NORMAL");
            $("#upe_36").val("NORMAL");
            $("#upe_37").val("NORMAL");
            $("#upe_38").val("NORMAL");
            $("#upe_39").val("NORMAL");
            $("#upe_40").val("NORMAL");
            $("#upe_41").val("NORMAL");
            $("#upe_42").val("NORMAL");
            $("#upe_43").val("NORMAL");
            $("#upe_44").val("NORMAL");
            $("#upe_45").val("NORMAL");
            $("#upe_46").val("NORMAL");
            $("#upe_47").val("NORMAL");
            $("#upe_48").val("NORMAL");
            $("#upe_49").val("NORMAL");
            $("#upe_50").val("NORMAL");
            $("#upe_51").val("NORMAL");
            $("#upe_52").val("NORMAL");
            $("#upe_53").val("NORMAL");
            $("#upe_54").val("NORMAL");
            $("#upe_55").val("NORMAL");
            $("#upe_56").val("NORMAL");
            $("#upe_57").val("NORMAL");
            $("#upe_58").val("NORMAL");
            $("#upe_59").val("NORMAL");
            $("#upe_60").val("NORMAL");
            $("#upe_61").val("NORMAL");
            $("#upe_62").val("NORMAL");
            $("#upe_63").val("NORMAL");
            $("#upe_64").val("NORMAL");
            $("#upe_65").val("NORMAL");
            $("#upe_66").val("NORMAL");
            $("#upe_67").val("NORMAL");
            $("#upe_68").val("NORMAL");
            $("#upe_69").val("NORMAL");
            $("#upe_70").val("NORMAL");
            $("#upe_71").val("NORMAL");
        }
    //#endregion Clear Controls

    //#region Update  Button Click
        $('#btn_Update_PhyExam').on('click', function (e) {
             e.preventDefault();
            if ($("#form_EditPhyExam").valid()) {
                $('#btn_Update_PhyExam').removeClass("btn btn-success");
                $('#btn_Update_PhyExam').addClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Update_PhyExam').html("Updating the Record....");

                var _dataInsert = {
                    "peId": $("#upeId").val(),
                    "pe_appId": $("#pe_appId").val(),
                    "pe_1": $("#upe_1").val(),
                    "pe_2": $("#upe_2").val(),
                    "pe_3": $("#upe_3").val(),
                    "pe_4": $("#upe_4").val(),
                    "pe_5": $("#upe_5").val(),
                    "pe_6": $("#upe_6").val(),
                    "pe_7": $("#upe_7").val(),
                    "pe_8": $("#upe_8").val(),
                    "pe_9": $("#upe_9").val(),
                    "pe_10": $("#upe_10").val(),
                    "pe_11": $("#upe_11").val(),
                    "pe_12": $("#upe_12").val(),
                    "pe_13": $("#upe_13").val(),
                    "pe_14": $("#upe_14").val(),
                    "pe_15": $("#upe_15").val(),
                    "pe_16": $("#upe_16").val(),
                    "pe_17": $("#upe_17").val(),
                    "pe_18": $("#upe_18").val(),
                    "pe_19": $("#upe_19").val(),
                    "pe_20": $("#upe_20").val(),
                    "pe_21": $("#upe_21").val(),
                    "pe_22": $("#upe_22").val(),
                    "pe_23": $("#upe_23").val(),
                    "pe_24": $("#upe_24").val(),
                    "pe_25": $("#upe_25").val(),
                    "pe_26": $("#upe_26").val(),
                    "pe_27": $("#upe_27").val(),
                    "pe_28": $("#upe_28").val(),
                    "pe_29": $("#upe_29").val(),
                    "pe_30": $("#upe_30").val(),
                    "pe_31": $("#upe_31").val(),
                    "pe_32": $("#upe_32").val(),
                    "pe_33": $("#upe_33").val(),
                    "pe_34": $("#upe_34").val(),
                    "pe_35": $("#upe_35").val(),
                    "pe_36": $("#upe_36").val(),
                    "pe_37": $("#upe_37").val(),
                    "pe_38": $("#upe_38").val(),
                    "pe_39": $("#upe_39").val(),
                    "pe_40": $("#upe_40").val(),
                    "pe_41": $("#upe_41").val(),
                    "pe_42": $("#upe_42").val(),
                    "pe_43": $("#upe_43").val(),
                    "pe_44": $("#upe_44").val(),
                    "pe_45": $("#upe_45").val(),
                    "pe_46": $("#upe_46").val(),
                    "pe_47": $("#upe_47").val(),
                    "pe_48": $("#upe_48").val(),
                    "pe_49": $("#upe_49").val(),
                    "pe_50": $("#upe_50").val(),
                    "pe_51": $("#upe_51").val(),
                    "pe_52": $("#upe_52").val(),
                    "pe_53": $("#upe_53").val(),
                    "pe_54": $("#upe_54").val(),
                    "pe_55": $("#upe_55").val(),
                    "pe_56": $("#upe_56").val(),
                    "pe_57": $("#upe_57").val(),
                    "pe_58": $("#upe_58").val(),
                    "pe_59": $("#upe_59").val(),
                    "pe_60": $("#upe_60").val(),
                    "pe_61": $("#upe_61").val(),
                    "pe_62": $("#upe_62").val(),
                    "pe_63": $("#upe_63").val(),
                    "pe_64": $("#upe_64").val(),
                    "pe_65": $("#upe_65").val(),
                    "pe_66": $("#upe_66").val(),
                    "pe_67": $("#upe_67").val(),
                    "pe_68": $("#upe_68").val(),
                    "pe_69": $("#upe_69").val(),
                    "pe_70": $("#upe_70").val(),
                    "pe_71": $("#upe_71").val(),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdatePhysicalExamination", "PhysicalExamination", new { area = "NurseStation" })",
                    dataType: 'JSON',
                    data: _dataInsert,
                    success: function (data) {
                        $('#phyexam_edit').hide();
                        $('#btn_Update_PhyExam').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Update_PhyExam').addClass("btn btn-success");
                        $('#btn_Update_PhyExam').html("Save Changes");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> PhysicalExamination Updated Successfully!", "success");
                                Timeout();
                                GetPhysicalExamination();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. PhysicalExamination Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Update_PhyExam').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Update_PhyExam').addClass("btn btn-success");
                        $('#btn_Update_PhyExam').html("Save Changes");
                        Timeout();
                    }
                });
            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion Update  Button Click

    //#region Validation Initialization
        var validate = function () {
            $("#form_EditPhyExam").validate({
                rules: {
                    pe_1: {
                        required: true
                    },

                },
                messages: {
                    pe_1: {
                        required: "Please Enter BP!"
                    },

                },
                highlight: function (element) {
                    var elem = $(element);
                    $(element).parent().addClass('has-error');
                },
                unhighlight: function (element) {
                    var elem = $(element);
                    $(element).parent().removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'text-danger fw-bold',
                errorPlacement: function (error, element) {
                    var elem = $(element);
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });

        }
    //#endregion Validation Initialization
    //#region Delete Click
        $('#btn_Delete_PhyExam').on('click', function (e) {
        e.preventDefault();
        $('#btn_Delete_PhyExam').removeClass("btn btn-success");
        $('#btn_Delete_PhyExam').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Delete_PhyExam').html("Deleting the Record....");

            $.ajax({
                url: '@Url.Action("DeletePhysicalExamination", "PhysicalExamination", new { area = "NurseStation" })?peId=' + $("#upeId").val() ,
                type: "POST",
                dataType: 'JSON',
                success: function (data) {
                    $('#btn_Delete_PhyExam').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Delete_PhyExam').addClass("btn btn-warning");
                    $('#btn_Delete_PhyExam').html("Delete");
                    if (data.isAuthorized) {
                        if (data.success) {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> Physical Examination Deleted Successfully!", "success");
                            GetPhysicalExamination();
                            clearControls();
                            Timeout();
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Error!.. Failed to Delete..</strong><br/>" +
                                "</div></div>";
                            $("#error").html(html);
                        }
                    }
                    else {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                    }
                },
                error: function (xhr) {
                    $('#btn_Delete_PhyExam').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Delete_PhyExam').addClass("btn btn-Delete");
                    $('#btn_Delete_PhyExam').html("Delete");
                    Timeout();
                }
            })
        });
    //#endregion Delete Click
</script>

