@model BusinessEntities.NurseStation.PhysicalExamination
@{
    ViewBag.Title = "Print Invoice";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
}
<div class="row mb-2 mt-2 text-center">
    <div class="col-md-12">
        <button id="btnPrint" type="button" class="btn btn-primary d-print-none"><i class="si si-printer"></i> Print</button>
    </div>
</div>
<div class="row" id="printDiv">
    <div class="col-md-12">
        <div class="card overflow-hidden">
            <div class="card-body">
                <div class="text-center">
                    <img src="@Model.set_header_image" />
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div>
                            <h4 class="page-title mb-0 text-primary">
                                Physical Examination
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="panel-group accordion-panel" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default active">
                            <div class="panel-heading " role="tab" id="headingOne1">
                                <h4 class="panel-title">
                                    <a role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
                                        1. Constitutional
                                        
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne1" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingOne1">
                                <div class="col mt-5">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <span style="font-size:smaller">Measurement of any three of the following seven vital signs:</span>
                                        </div>
                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                            <div class="form-group">
                                                <label class="form-label">Sitting or standing blood preasure&nbsp;</label>
                                                <label class="form-label text-black text-left">@Model.pe_1&nbsp;</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                            <div class="form-group">
                                                <label class="form-label">Supine blood presure	&nbsp;</label>
                                                <label class="form-label text-black text-left">@Model.pe_2&nbsp;</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                            <div class="form-group">
                                                <label class="form-label">Pulse rate and regularity</label>
                                                <label class="form-label text-black text-left">@Model.pe_3&nbsp;</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                            <div class="form-group">
                                                <label class="form-label">Respiration</label>
                                                <label class="form-label text-black text-left">@Model.pe_4&nbsp;</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                            <div class="form-group">
                                                <label class="form-label">Temperature&nbsp;</label>
                                                <label class="form-label text-black text-left">@Model.pe_5&nbsp;</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                            <div class="form-group">
                                                <label class="form-label">Height&nbsp;</label>
                                                <label class="form-label text-black text-left">@Model.pe_6&nbsp;</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                            <div class="form-group">
                                                <label class="form-label">Weight</label>
                                                <label class="form-label text-black text-left">@Model.pe_7&nbsp;</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-md-3 col-lg-3">
                                            <div class="form-group">
                                                <label class="form-label"> General appearance of patient</label>
                                                <label class="form-label text-black text-left">@Model.pe_8&nbsp;</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default mt-2">
                                <div class="panel-heading" role="tab" id="headingTwo2">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseTwo2" aria-expanded="true" aria-controls="collapseTwo2">
                                            2. Eyes
                                            
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo2" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingTwo2">
                                    <div class="panel-body ">
                                        <div class="row">
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">Inspection of conjuctivae and lids&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_9&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">Examination of pupils and irises&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_10&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">Ophthalmoscopic examination of optic discs</label>
                                                    <label class="form-label text-black text-left">@Model.pe_11&nbsp;</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default mt-2">
                                <div class="panel-heading" role="tab" id="headingThree3">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseThree3" aria-expanded="true" aria-controls="collapseThree3">
                                            3. Ears, Nose, Mouth and Throat&nbsp;
                                            
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree3" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingThree3">
                                    <div class="panel-body ">
                                        <div class="row">

                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-label">External inspection of ears and nose&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_12&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-label">Otoscopic examination of external auditory canals and tympanic membranes	&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_13&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">Assessment of hearing</label>
                                                    <label class="form-label text-black text-left">@Model.pe_14&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">Inspection of nasal mucosa, septum and turbinates</label>
                                                    <label class="form-label text-black text-left">@Model.pe_15&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">Inspection of lips, teeth and gums&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_16&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">Examination of oropharynx&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_17&nbsp;</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default mt-2">
                                <div class="panel-heading" role="tab" id="headingThree4">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseThree4" aria-expanded="true" aria-controls="collapseThree4">
                                            4. Neck&nbsp;
                                            
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree4" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingThree4">
                                    <div class="panel-body ">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-label">Examination of neck&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_18&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-label">Examination of thyroid&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_19&nbsp;</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default mt-2">
                                <div class="panel-heading" role="tab" id="headingThree5">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseThree5" aria-expanded="true" aria-controls="collapseThree5">
                                            5. Respiratory&nbsp;
                                            
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree5" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingThree5">
                                    <div class="panel-body ">
                                        <div class="row">
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">Assessment of respiratory effort&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_20&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">Percussion of chest&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_21&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">Palpation of chest</label>
                                                    <label class="form-label text-black text-left">@Model.pe_22&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">Auscultation of lungs</label>
                                                    <label class="form-label text-black text-left">@Model.pe_23&nbsp;</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default mt-2">
                                <div class="panel-heading" role="tab" id="headingThree6">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseThree6" aria-expanded="true" aria-controls="collapseThree6">
                                            6. Cardiovascular&nbsp;
                                            
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree6" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingThree6">
                                    <div class="panel-body ">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-label">Palpation of heart&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_24&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-label">Auscultation of heart with nation of normal sounds and murmurs&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_25&nbsp;</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <span style="font-size: smaller">Examination of:</span>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">Carotid arteries</label>
                                                    <label class="form-label text-black text-left">@Model.pe_26&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">Abdominal aorta</label>
                                                    <label class="form-label text-black text-left">@Model.pe_27&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">Femoral arteries&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_28&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">Pedal pulses&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_29&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group">
                                                    <label class="form-label">Extremities for edema and/or varicosities</label>
                                                    <label class="form-label text-black text-left">@Model.pe_30&nbsp;</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default mt-2">
                                <div class="panel-heading" role="tab" id="headingThree7">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseThree7" aria-expanded="true" aria-controls="collapseThree7">
                                            7. Chest(Breasts)&nbsp;
                                            
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree7" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingThree7">
                                    <div class="panel-body ">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-label">Inspection of breasts&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_31&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-label">Palpation of breasts and axillae	&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_32&nbsp;</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default mt-2">
                                <div class="panel-heading" role="tab" id="headingThree8">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseThree8" aria-expanded="true" aria-controls="collapseThree8">
                                            8. Gastrointestinal(Abdomen)&nbsp;
                                            
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree8" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingThree8">
                                    <div class="panel-body ">
                                        <div class="row">

                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-label">Examination of abdomen with notation of presence of masses or tenderness&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_33&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">Examination of liver and spleen&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_34&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">Examination for presence or absence of hernia</label>
                                                    <label class="form-label text-black text-left">@Model.pe_35&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-8 col-md-8 col-lg-8">
                                                <div class="form-group">
                                                    <label class="form-label">Examination(When indicated)of anus, perineum and rectum, including sphincter tone, presence of hemorrhoids, rectal masses</label>
                                                    <label class="form-label text-black text-left">@Model.pe_36&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4">
                                                <div class="form-group">
                                                    <label class="form-label">Obtain stool sample for occult blood test when indicated&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_37&nbsp;</label>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default mt-2">
                                <div class="panel-heading" role="tab" id="headingThree9">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseThree9" aria-expanded="true" aria-controls="collapseThree9">
                                            9. Genitourinary&nbsp;
                                            
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree9" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingThree9">
                                    <div class="panel-body ">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <span style="font-size:smaller">MALE:</span>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4">
                                                <div class="form-group">
                                                    <label class="form-label">Examination of the scrotal contents&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_38&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4">
                                                <div class="form-group">
                                                    <label class="form-label">Examination of the penis&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_39&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4">
                                                <div class="form-group">
                                                    <label class="form-label">Digital rectal examination of prostate gland</label>
                                                    <label class="form-label text-black text-left">@Model.pe_40&nbsp;</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <span style="font-size:smaller">FEMALE:</span>
                                                <span style="font-size:smaller">Pelvic examination (with or without specimen collection for smears and cultures), including</span>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4">
                                                <div class="form-group">
                                                    <label class="form-label">Examination of external genitalia</label>
                                                    <label class="form-label text-black text-left">@Model.pe_41&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4">
                                                <div class="form-group">
                                                    <label class="form-label">Examination of urethra&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_42&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4">
                                                <div class="form-group">
                                                    <label class="form-label">Examination of bladder&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_43&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4">
                                                <div class="form-group">
                                                    <label class="form-label">Cervix</label>
                                                    <label class="form-label text-black text-left">@Model.pe_44&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4">
                                                <div class="form-group">
                                                    <label class="form-label"> Uterus</label>
                                                    <label class="form-label text-black text-left">@Model.pe_45&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4">
                                                <div class="form-group">
                                                    <label class="form-label"> Adnexa/parametria</label>
                                                    <label class="form-label text-black text-left">@Model.pe_46&nbsp;</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default mt-2">
                                <div class="panel-heading" role="tab" id="headingThree10">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseThree10" aria-expanded="true" aria-controls="collapseThree10">
                                            10. Lymphatic&nbsp;
                                            
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree10" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingThree10">
                                    <div class="panel-body ">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <span style="font-size:smaller">Palpation of lymph nodes in two or three areas:</span>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">Palpation of lymph nodes in two or three areas:&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_47&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">Axillae&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_48&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">groin</label>
                                                    <label class="form-label text-black text-left">@Model.pe_49&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">Other</label>
                                                    <label class="form-label text-black text-left">@Model.pe_50&nbsp;</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default mt-2">
                                <div class="panel-heading" role="tab" id="headingThree11">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseThree11" aria-expanded="true" aria-controls="collapseThree11">
                                            11. Musculoskeletal&nbsp;
                                            
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree11" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingThree11">
                                    <div class="panel-body ">
                                        <div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-label">Examination of gait and station&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_51&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-label">Inspection and/or palpation of digits and nails&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_52&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <span style="font-size:smaller">Examination of joints, bones, and muscles of one or more of the following six areas:</span>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">1) Head and Neck</label>
                                                    <label class="form-label text-black text-left">@Model.pe_53&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">2) Spine, ribs and pelvis</label>
                                                    <label class="form-label text-black text-left">@Model.pe_54&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">3) Right upper extremity&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_55&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">4) Left upper extremity&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_56&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">5) Right lower extremity</label>
                                                    <label class="form-label text-black text-left">@Model.pe_57&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label"> 6) Left lower extremity</label>
                                                    <label class="form-label text-black text-left">@Model.pe_58&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label"> Assessment of muscle strength and tone</label>
                                                    <label class="form-label text-black text-left">@Model.pe_62&nbsp;</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label"> Assessment of range of motion with notation of any pain, crepitation or contracture</label>
                                                    <label class="form-label text-black text-left">@Model.pe_60&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label"> Assessment of stability with notation of any dislocation (luxation), subluxation or laxity</label>
                                                    <label class="form-label text-black text-left">@Model.pe_61&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-label"> Inspection and/or palpation with notation of presence of any misalignment, asymmetry, crepitation, defects, tenderness, masses, effusions</label>
                                                    <label class="form-label text-black text-left">@Model.pe_59&nbsp;</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default mt-2">
                                <div class="panel-heading" role="tab" id="headingThree12">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseThree12" aria-expanded="true" aria-controls="collapseThree12">
                                            12. Skin&nbsp;
                                            
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree12" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingThree12">
                                    <div class="panel-body ">
                                        <div class="row">

                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-label">Inspection of skin and subcutaneous tissue&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_63&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-label">Palpation of skin and subcutaneous tissue&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_64&nbsp;</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default mt-2">
                                <div class="panel-heading" role="tab" id="headingThree13">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseThree13" aria-expanded="true" aria-controls="collapseThree13">
                                            13. Neurologic&nbsp;
                                            
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree13" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingThree13">
                                    <div class="panel-body ">
                                        <div class="row">
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">Test cranial nerves with notation of any deficits&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_65&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <label class="form-label">Examination of sensation</label>
                                                    <label class="form-label text-black text-left">@Model.pe_67&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-label">Examination of deep tendon reflexes with notation of pathological reflexes	&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_66&nbsp;</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default mt-2">
                                <div class="panel-heading" role="tab" id="headingThree14">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#accordion1" href="#collapseThree14" aria-expanded="true" aria-controls="collapseThree14">
                                            14. Psychiatric&nbsp;
                                            
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree14" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="headingThree14">
                                    <div class="panel-body ">
                                        <div class="row">

                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="form-group">
                                                    <label class="form-label">Description of patient's judgment and insight&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_68&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <span style="font-size:smaller">Brief assessment of mental status including:</span>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4">
                                                <div class="form-group">
                                                    <label class="form-label">Orientation to time, place and person&nbsp;</label>
                                                    <label class="form-label text-black text-left">@Model.pe_69&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4">
                                                <div class="form-group">
                                                    <label class="form-label">Recent and remote memory</label>
                                                    <label class="form-label text-black text-left">@Model.pe_70&nbsp;</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4">
                                                <div class="form-group">
                                                    <label class="form-label">Mood and affect</label>
                                                    <label class="form-label text-black text-left">@Model.pe_71&nbsp;</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="text-center">
                    <img src="@Model.set_footer_image" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
</script>