@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Reimbursement Medical Expenses Index";

        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }

}

<div id="alert_form">
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Reimbursement Medical Expenses Claim Form</h3>
            </div>
            <div class="text-red p-2">Required fields are marked with *</div>
            <div class="card-body">
                <div id="ReimbursementMedicalExpenses_add" style="display:none">
                </div>
                <div id="ReimbursementMedicalExpenses_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="ReimbursementMedicalExpenses_history">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //#region Page Load
    $(function () {
        GetReimbursementMedicalExpensesInfo();
        ReimbursementMedicalExpensesPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetReimbursementMedicalExpensesInfo
    var GetReimbursementMedicalExpensesInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetReimbursementMedicalExpensesData", "ReimbursementMedicalExpenses", new { area = "InsuranceForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditReimbursementMedicalExpenses();
                        $("#ReimbursementMedicalExpenses_add").hide();
                        $("#ReimbursementMedicalExpenses_edit").show();

                    }
                    else {
                        $("#ReimbursementMedicalExpenses_add").show();
                        $("#ReimbursementMedicalExpenses_edit").hide();
                        AddReimbursementMedicalExpenses();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load ReimbursementMedicalExpenses

    //#region Add ReimbursementMedicalExpenses
    function AddReimbursementMedicalExpenses() {
        var x = $("#ReimbursementMedicalExpenses_add");
        x.load("@Url.Action("CreateReimbursementMedicalExpenses", "ReimbursementMedicalExpenses", new { area = "InsuranceForms" })", function () {
        });
    }
    //#endregion Add ReimbursementMedicalExpenses

    // #region Update ReimbursementMedicalExpenses
    function EditReimbursementMedicalExpenses() {
        var x = $("#ReimbursementMedicalExpenses_edit");
        x.load("@Url.Action("UpdateReimbursementMedicalExpenses", "ReimbursementMedicalExpenses", new { area = "InsuranceForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update ReimbursementMedicalExpenses

    // #region History of ReimbursementMedicalExpenses
    function ReimbursementMedicalExpensesPreviousHistory() {
        var x = $("#ReimbursementMedicalExpenses_history");
        x.load("@Url.Action("ReimbursementMedicalExpensesPreviousHistory", "ReimbursementMedicalExpenses", new { area = "InsuranceForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion of  History of ReimbursementMedicalExpenses
</script>