@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Adnic Member Consent";

        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-4 font-weight-semibold">
                        <span class="text-danger" style="font-size:smaller">Required fields are marked with *</span>
                    </div>
                </div>
                <div>&nbsp;</div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="font-weight-semibold text-blue">
                            <div>Adnic Member Consent</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row border-dark">
                            <img src="~/images/header_images/adnic.jpg" />
                        </div>
                    </div>
                </div>
                <div>&nbsp;</div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row border-dark">
                            <h4 class="page-title mb-0 text-primary text-center">
                                إقرار بالموافقة على الإفصاح عن معلومات طبية<br />
                                MEMBER CONSENT FOR RELEASE OF MEDICAL INFORMATION
                            </h4>
                        </div>
                    </div>
                </div>
                <div>&nbsp;</div>
                <div id="AdnicMemberConsent_add" style="display:none">
                </div>
                <div id="AdnicMemberConsent_edit">
                </div>
                <div id="AdnicMemberConsent_history">
                </div>
            </div>
        </div>
    </div>
</div>

@*@section myScripts{*@
<script>
        //#region Page Load
        $(function () {
            GetAdnicMemberConsentInfo();
            AdnicMemberConsentPreviousHistory();
        });

        //#endregion Page Load

        //#region Load GetAdnicMemberConsentInfo
        var GetAdnicMemberConsentInfo = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAdnicMemberConsentData", "AdnicMemberConsent", new { area = "InsuranceForms" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        console.log(response.length);
                        if (response.length > 0) {
                            EditAdnicMemberConsent();
                            $("#AdnicMemberConsent_add").hide();
                            $("#AdnicMemberConsent_edit").show();

                        }
                        else {
                            $("#AdnicMemberConsent_add").show();
                            $("#AdnicMemberConsent_edit").hide();
                            AddAdnicMemberConsent();
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
        //#endregion Load AdnicMemberConsent

        //#region Add AdnicMemberConsent
        function AddAdnicMemberConsent() {
            var x = $("#AdnicMemberConsent_add");
            x.load("@Url.Action("CreateAdnicMemberConsent", "AdnicMemberConsent", new { area = "InsuranceForms" })", function () {
          });
        }
        //#endregion Add AdnicMemberConsent

        //#region Update AdnicMemberConsent
        function EditAdnicMemberConsent() {
            var x = $("#AdnicMemberConsent_edit");
            x.load("@Url.Action("UpdateAdnicMemberConsent", "AdnicMemberConsent", new { area = "InsuranceForms" })?appId=" + @emr.appId, function () {
          });
        }
          //#endregion Update AdnicMemberConsent

        //#region History of AdnicMemberConsent
        function AdnicMemberConsentPreviousHistory() {
            var x = $("#AdnicMemberConsent_history");
            x.load("@Url.Action("AdnicMemberConsentPreviousHistory", "AdnicMemberConsent", new { area = "InsuranceForms" })?appId=" + @emr.appId, function () {
          });
        }
        //#endregion History of AdnicMemberConsent

</script>
@*}*@