@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMR.Referal
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_Evaluation" autocomplete="off" name="Referal" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-12">
            <div class="row border ">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name:&nbsp;</label></div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID:&nbsp;</label></div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_emirateid&nbsp;</label>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Department:&nbsp;</label></div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-2">
                            <label class="form-label text-red text-left">@emr.emp_dept_name&nbsp;</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No :&nbsp;</label></div>

                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code&nbsp;</label>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB&nbsp;</label></div>

                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob&nbsp;</label>
                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality:&nbsp;</label></div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality&nbsp;</label>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender&nbsp;</label></div>

                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender&nbsp;</label>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name	:&nbsp;</label></div>

                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name&nbsp;</label>
                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date&nbsp;</label></div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-sm-6 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Date&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-6 col-lg-1">
            <div class="form-group mb-3">
                <label class="form-label text-black">:&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fe fe-calendar"></i>
                        </div>
                    </div>
                    @Html.TextBoxFor(m => m.r_date, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "r_date" })
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-sm-6 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Referred to&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-6 col-lg-1">
            <div class="form-group mb-3">
                <label class="form-label text-black">:&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.r_to, new { @class = "form-control", @placeholder = "Referred to", maxlength = "15", @id = "r_to" })
            </div>
        </div>
        <div class="col-sm-12 col-sm-6 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Patient's Medical Record #&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-6 col-lg-1">
            <div class="form-group mb-3">
                <label class="form-label text-black">:&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.r_mrno, new { @class = "form-control", @placeholder = "MRN#", maxlength = "15", @id = "r_mrno" })
            </div>
        </div>
        <div class="col-sm-12 col-sm-6 col-lg-2">
            <div class="form-group mb-3">
                <label class="form-label text-black">Type&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-6 col-lg-1">
            <div class="form-group mb-3">
                <label class="form-label text-black">:&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3">
            <div class="form-group mb-3">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input" name="r_type" value="Emergent" id="u1">
                        <span class="custom-control-label">Emergent</span>
                    </label>
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input" name="r_type" value="Urgent" id="u2">
                        <span class="custom-control-label">Urgent</span>
                    </label>
                    <label class="custom-control custom-radio  ms-2">
                        <input type="radio" class="custom-control-input" name="r_type" value="Routine" id="u3">
                        <span class="custom-control-label">Routine</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-sm-12 col-lg-12">
            <div class="form-group mb-3">
                <label class="form-label text-black">Kindly find the attached medical documents to the form.&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-12 col-lg-12">
            <div class="form-group mb-3">
                <label class="form-label text-black">Reason for Referral.&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-12 col-lg-12">
            <div class="form-group mb-3">
                @Html.TextAreaFor(m => m.r_reason, new { @class = "form-control", @placeholder = "Enter Reason for Referrel", maxlength = "500", @id = "r_reason" })
            </div>
        </div>
        <div class="col-sm-12 col-sm-12 col-lg-12">
            <div class="form-group mb-3">
                <label class="form-label text-black">Summary of Presentation&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-12 col-lg-12">
            <div class="form-group mb-3">
                <label class="form-label text-black">History&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-12 col-lg-12">
            <div class="form-group mb-3">
                @Html.TextAreaFor(m => m.r_history, new { @class = "form-control", @placeholder = "Enter History", maxlength = "500", @id = "r_history" })
            </div>
        </div>
        <div class="col-sm-12 col-sm-12 col-lg-12">
            <div class="form-group mb-3">
                <label class="form-label text-black">Physical Examination&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-12 col-lg-12">
            <div class="form-group mb-3">
                @Html.TextAreaFor(m => m.r_phy, new { @class = "form-control", @placeholder = "Enter Physical Examination", maxlength = "500", @id = "r_phy" })
            </div>
        </div>

        <div class="col-sm-12 col-sm-12 col-lg-12">
            <div class="form-group mb-3">
                <label class="form-label text-black">Investigations&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-12 col-lg-12">
            <div class="form-group mb-3">
                @Html.TextAreaFor(m => m.r_inv, new { @class = "form-control", @placeholder = "Enter Investigations", maxlength = "500", @id = "r_inv" })
            </div>
        </div>
        <div class="col-sm-12 col-sm-12 col-lg-12">
            <div class="form-group mb-3">
                <label class="form-label text-black">Provisional Diagnosis&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-12 col-lg-12">
            <div class="form-group mb-3">
                @Html.TextAreaFor(m => m.r_pro, new { @class = "form-control", @placeholder = "Enter Provisional Diagnosis", maxlength = "500", @id = "r_pro" })
            </div>
        </div>
        <div class="col-sm-12 col-sm-12 col-lg-12">
            <div class="form-group mb-3">
                <label class="form-label text-black">Recommendations&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-12 col-lg-12">
            <div class="form-group mb-3">
                @Html.TextAreaFor(m => m.r_rec, new { @class = "form-control", @placeholder = "Enter Recommendations", maxlength = "500", @id = "r_rec" })
            </div>
        </div>
        <div class="col-sm-12 col-sm-12 col-lg-12">
            <div class="form-group mb-3">
                <label class="form-label text-black">Medications:(Patient need to bring all medications to the appointment)&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-12 col-lg-12">
            <div class="form-group mb-3">
                @Html.TextAreaFor(m => m.r_med, new { @class = "form-control", @placeholder = "Enter Medications", maxlength = "500", @id = "r_med" })
            </div>
        </div>
    </div>   

    <div class="row">
        <div class="col-sm-11 col-md-12 col-lg-4">
            <label class="form-label mb-2">
                Doctor Name & Licence
            </label>
            <span class="text-capitalize text-left text-red">@emr.doc_name&nbsp;</span>
            <span class="text-capitalize text-left text-red">@emr.emp_license&nbsp;</span>

        </div>
        <div class="col-sm-11 col-md-12 col-lg-4">
            <label class="form-label mb-2">
                Signature/Stamp
            </label>
            <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />

        </div>

    </div>


    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-12 text-center">
            <div class="btn-list btn-animation">

                <button type="submit" class="btn btn-sm btn-success" id="btn_Insert_Ref">Save</button>
                <button type="button" class="btn btn-sm btn-outline-dark" id="btn_Reset_Eval">Reset</button>

            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    //#region Partial View Onload
        var formName = $(form_Evaluation).closest('form').attr('name');
        $(function () {
            if ("@emp_designation.ToString()" === "Super Administrator") {
                    $("#btn_Insert_Ref").show();
            }
            else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Insert_Ref").show();

                }
                else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Insert_Ref").show();
                    }
                    else {
                        $("#btn_Insert_Ref").hide();
                    }
                }
            }
            validate();
            GetCheckedValues();
            $('#r_date').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-"
            });
            $("#r_date").bootstrapdatepicker("setDate", moment(new Date("@emr.today")).format("DD-MMMM-YYYY"));
        });
    //#endregion

     //#region Get CheckedValues
         var GetCheckedValues = function () {
             var oe_1_ = "@Model.r_type";
             if (oe_1_ !== "") {
                 var uoe_1_ = $("input[name='r_type'][value='" + "@Model.r_type" + "']").attr("id");
                 $("#" + uoe_1_).attr('checked', 'checked');
                 $("#" + uoe_1_).prop("checked", true);
             }
         }
    //#endregion

    // #region Validation Initialization
        var validate = function () {

            $("#form_Evaluation").validate({
                rules: {
                    r_date: {
                        required: true
                    },
                },
                messages: {
                    r_date: {
                        required: "Please Select Date !"
                    },
                },
                highlight: function (element) {
                    var elem = $(element);
                    $(element).parent().addClass('has-error');
                },
                unhighlight: function (element) {
                    var elem = $(element);
                    $(element).parent().removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'text-danger fw-bold',
                errorPlacement: function (error, element) {
                    var elem = $(element);
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });
            $('#r_date').keypress(function (e) {
                var charCode = (e.which) ? e.which : e.keyCode
                if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
                    return false;

                }
                else {
                    if (e.target.value.length >= 18)
                        return false;
                }
            });
        }
    //#endregion

    //#region Add  Click
        $('#btn_Insert_Ref').on('click', function (e) {
            e.preventDefault();
            if ($("#form_Evaluation").valid()) {
                $('#btn_Insert_Ref').removeClass("btn btn-sm btn-success");
                $('#btn_Insert_Ref').addClass("btn btn-sm btn-success btn-loaders btn-icon");
                $('#btn_Insert_Ref').html("Saving the Record....");
                var r_checkbox_ = "";
                $('.custom-control-input:checked').each(function (index) {
                    r_checkbox_ = r_checkbox_ + ',' + $(this).val();
                });
                var _dateInsert = {
                    "r_Id": 0,
                    "r_appId": @emr.appId,
                    "r_date": $("#r_date").val(),
                    "r_to": $("#r_to").val(),
                    "r_mrno": $("#r_mrno").val(),
                    "r_type": $("input[name='r_type']:checked").val(),
                    "r_reason": $("#r_reason").val(),
                    "r_history": $("#r_history").val(),
                    "r_phy": $("#r_phy").val(),
                    "r_inv": $("#r_inv").val(),
                    "r_pro": $("#r_pro").val(),
                    "r_rec": $("#r_rec").val(),
                    "r_med": $("#r_med").val(),
                    "r_checkbox": r_checkbox_,
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dateInsert);
                $.ajax({
                        type: "Post",
                        url: "@Url.Action("InsertReferal", "OtherForms", new {area = "EMR" })",
                        dataType: 'JSON',
                        data: _dateInsert,
                        success: function (data) {
                            $('#btn_Insert_Ref').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                            $('#btn_Insert_Ref').addClass("btn btn-sm btn-success");
                            $('#btn_Insert_Ref').html("Add SoftTissue");
                            if (data.isSuccess) {
                                if (data.isInserted) {
                                    var alertPlaceholder = document.getElementById("Alert");
                                    function alert(e, t) {
                                        var l = document.createElement("div");
                                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                    }
                                    alert("<i class='fe fe-check-circle text-white'></i>  Referal Form Saved Successfully!", "success");
                                    GetReferal();
                                    Timeout();
                                }
                                else {

                                    let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                        "<div class='alert alert-warning' role='alert'>" +
                                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                        "<strong>Warning.. Referal Form Alredy Exists..</strong><br/>" +
                                        "</div></div>";
                                    $("#Alert").html(html);
                                }
                            }
                            else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                            "<div class='alert alert-danger' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 100);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                        },
                            error: function (xhr) {
                                $('#btn_Insert_Ref').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                                $('#btn_Insert_Ref').addClass("btn btn-sm btn-warning");
                                $('#btn_Insert_Ref').html("Add Evaluation");
                            Timeout();
                        }
                });

            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion

    //#region Reset
        $('#btn_Reset_Eval').on('click', function (e) {
            e.preventDefault();
            clearControls();
        });
    //#endregion 

    //#region Clear Controls
        var clearControls = function () {
            $(".form-control").val("");
            $(".custom-control-input").prop("checked", false);
        }
    //#endregion
</script>

