@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Tooth Fillings";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Informed Consent For Tooth Fillings</h3>
            </div>
            <div class="card-body">
                <div id="ToothFillings_add" style="display:none">
                </div>
                <div id="ToothFillings_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="ToothFillings_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetToothFillingsInfo();
        ToothFillingsPreviousHistroy();
    });

    //#endregion Page Load

    //#region Load ToothFillingsInfo
    var GetToothFillingsInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetToothFillingsData", "ToothFillings", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditToothFillings();
                        $("#ToothFillings_add").hide();
                        $("#ToothFillings_edit").show();

                    }
                    else {
                        $("#ToothFillings_add").show();
                        $("#ToothFillings_edit").hide();
                        AddToothFillings();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load ToothFillings

    //#region Add ToothFillings
    function AddToothFillings() {
        var x = $("#ToothFillings_add");
        x.load("@Url.Action("CreateToothFillings", "ToothFillings", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add ToothFillings

    //#region Update ToothFillings
    function EditToothFillings() {
        var x = $("#ToothFillings_edit");
    x.load("@Url.Action("UpdateToothFillings", "ToothFillings", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
    });
    }
    //#endregion Update ToothFillings

    //#region Histroy of ToothFillings
    function ToothFillingsPreviousHistroy() {
        var x = $("#ToothFillings_histroy");
        x.load("@Url.Action("ToothFillingsPreviousHistroy", "ToothFillings", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Histroy of ToothFillings
</script>