@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConcentForms.ToothFillings

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<form id="form_ToothFillingsEdit" autocomplete="off" name="ToothFillings" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row mb-5 mt-5 text-justify">
        <p>I UNDERSTAND that the treatment of my dentition involving the placement of composite resin fillings which may be more aesthetic in appearance than some of the conventional materials [which have been traditionally used to fill front and back teeth], such as silver amalgam or gold, may entail certain risks. There is also the possibility of failure to achieve the results which may be desired or expected. I agree to assume those risks which may occur even though care and diligence will be exercised by my treating dentist in rendering this treatment. </p>
        <p class="font-weight-semibold text-decoration-underline">BENEFITS: </p>
        <p class="mb-2">Eliminate decay, relieve pain, fill in a hole or space in a tooth, cover eroded area, and protect a sensitive surface</p>
        <p class="font-weight-semibold text-decoration-underline">CONSEQUENCES OF NOT HAVING WORK DONE or POSTPONING : </p>
        <p class="mb-2">
            May loose the tooth, tooth may fracture, decay will get worse, may result in need for a root canal
        </p>
        <p class="font-weight-semibold text-decoration-underline">ALTERNATIVES: </p>
        <p class="mb-2"> Temporary filling</p>
        <p class="font-weight-semibold text-decoration-underline">POSSIBLE COMPLICATIONS:</p>
        <p class="mb-2">
            Tooth may abscess from the filing, may fracture the tooth, tooth can be sensitive to temperature change, or filling may fall out.
        </p>
        <p class="font-weight-semibold text-decoration-underline">Necessity for Root Canal Therapy:</p>
        <p>
            When any type of fillings are placed or replaced, the preparation of the teeth for fillings often necessitates the removal of tooth structure adequate to insure sound tooth structure for placement of the restoration. At times, this may lead to exposure or trauma to underlying pulp tissue.
        </p>
        <p class="mb-2">
            Should the pulp not heal, which oftentimes is exhibited by extreme sensitivity or possible abscess, root canal treatment or extraction may be required.
        </p>
        <p class="font-weight-semibold text-decoration-underline">Injury to the Nerves:</p>
        <p class="mb-2">
            There is a possibility of injury to the nerves of the lips, jaws, teeth, tongue, or other oral or facial tissues from any dental treatment, particularly those involving the administration of local anesthetics. The resulting numbness which could occur is usually temporary, but in rare instances could be permanent.
        </p>
        <p class="font-weight-semibold text-decoration-underline">Aesthetics or Appearance:</p>
        <p class="mb-2">
            Effort will be made to closely approximate the natural tooth color. However, due to the fact that there are many factors which affect the shades of teeth, it may not be possible to exactly match the tooth coloration. Also, over a period of time, the composite fillings, because of mouth fluids, different foods eaten, smoking, etc. may exhibit a change in shade.  The dentist has no control over these factors. Tooth lightening may also result in fillings in front teeth becoming relatively darker.
        </p>
        <p class="font-weight-semibold text-decoration-underline">Breakage, dislodgment or bond failure:</p>
        <p class="mb-2">
            Due to extreme chewing pressures or other traumatic forces, it is possible for composite resin fillings or esthetic restorations bonded with composite resins to be dislodged or fractured. The resin enamel bond may fail, resulting in leakage and recurrent decay. The dentist has no control over these factors.
        </p>

        <p class="text-decoration-underline ">
            Patient’s Initials:
            @Html.TextBoxFor(m => m.itf_1, new { @class = "form-control form-control-sm", @id = "uitf_1" })
        </p>
        <p>
            I understand that ALL medications have the potential for accompanying risks, side effects and drug interactions.  Therefore, it is critical that I tell my dentist of all medications I am currently taking.
        </p>
        <p>I consent to photography, filming, recording, and x-rays of the procedure to be performed for the advancement of dentistry, provided my identity is not revealed</p>
        <p>
            It is the patient’s responsibility to seek attention from the dentist should any undue or unexpected problems occur.  The patient must diligently follow any and all instructions, including the scheduling and attending all appointments. In the event I wish to discontinue the treatment, I have been informed of and understand the risks associated with leaving my condition untreated. I am aware that my overall health may be affected by my decision.
        </p>
        <p>
            I will not hold the dentist, dental staff, or anyone associated with the dental practice responsible for changes in My overall health stemming from this condition.
        </p>
        <p>
            I have had the chance to ask questions and express concerns about my dental condition, the treatment options, and my refusal of treatment. The undersigned provider has answered all my questions and addressed all my concerns. I understand the full scope of the situation and am making an informed decision.
        </p>
        <p class="text-decoration-underline text-red">Informed Consent:</p>
        <p>
            The fee (s) (if applicable), for this service have been explained to me and are satisfactory.  By signing this form, I am freely giving my consent to allow and authorize Dr. <label class="text-red">@emr.doc_name</label> and / or his associates to render treatment and administering or any medications and / or anesthetics deemed necessary for my treatment.
        </p>
        <p>
            <div class="custom-controls-stacked">
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="uitf_2" id="uitf_21" value="Yes">
                    <span class="custom-control-label">I have been given the opportunity to ask questions and give my consent for the proposed treatment as Described above.</span>
                </label>
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="uitf_2" id="uitf_22" value="No">
                    <span class="custom-control-label">I refuse to give my consent for the proposed treatment(s) as described above and have been explained the potential consequences associated with this refusal.</span>
                </label>
            </div>
        </p>

    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="3" class="font-weight-bold text-danger fs-18">
                        Sign here, only if all of your questions have been answered to your satisfaction
                    </td>
                </tr>
                <tr>
                    <td>
                        <div id="upat_sign_box">
                            <img alt="stamp" src="" id="upat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td>
                        <div id="uwit_sign_box">
                            <img alt="stamp" src="" id="uwit_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td>
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold">Patient Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                    <td width="33%">
                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>

                    </td>
                    <td width="33%">
                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue text-center">
                        Patient Signature
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue  text-center">
                        Witness
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> witness
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('witness')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('witness')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center">Dentist’s Sign/Stamp</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12 text-center">
        <div class="btn-list btn-animation">
            <button type="submit" class="btn btn-warning btn-sm" id="btn_Update">Save Changes</button>
            <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
            <button type="button" class="btn btn-danger btn-sm" id="btn_DeleteForm">Delete</button>
            <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print"> Download/Print </button>

        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Update").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Update").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Update").show();
                }
                else {
                    $("#btn_Update").hide();
                }
            }
        }
        GetCheckedValues();
        validate();
        GetSignaturename('patient');
        GetSignaturename('witness');
    });
    //#region Get CheckedValues
    var GetCheckedValues = function (checknames) {
        var checknames = "@Model.itf_2";

        if (checknames !== null) {

            if (checknames != "") {
                if (checknames == "Yes") {
                    $('#uitf_21').attr('checked', 'checked');
                    $("#uitf_21").prop("checked", true);
                }
                if (checknames == "No") {
                    $('#uitf_22').attr('checked', 'checked');
                    $("#uitf_22").prop("checked", true);
                }


            }
        }


    }
//#endregion Get CheckedValues

    //#region Validation Initialization
    var validate = function () {
        $("#form_ToothFillingsEdit").validate({
            rules: {
                itf_1: {
                    required: true
                },


            },
            messages: {

                itf_1: {
                    required: "Please Enter Patient's Intials!"
                },


            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });


    }
    //#endregion

    //#region Update  Click
    $('#btn_Update').on('click', function (e) {
        e.preventDefault();
        if ($("#form_ToothFillingsEdit").valid()) {
            console.log($("#itfId").val());
            $('#btn_Update').removeClass("btn btn-sm btn-success");
            $('#btn_Update').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Update').html("Updating the Record....");


            var uitf_2 = "";

            if ($('#uitf_21').prop('checked')) {
                uitf_2 = "Yes";
            }
            else if ($('#uitf_22').prop('checked')) {
                uitf_2 = "No";
            }

            var _dateInsert = {
                "itfId": 0,
                "itf_appId": @emr.appId,
                "itf_1": $("#uitf_1").val(),
                "itf_2": uitf_2,

                //"itf_status": "Active",
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

            console.log(_dateInsert);

            $.ajax({
                type: "Post",
                url: "@Url.Action("EditToothFillings", "ToothFillings", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Update').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-success");
                    $('#btn_Update').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isEdited) {
                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>  Tooth Fillings Consent Form Updated Successfully!", "success");

                            //GetSickLeaveGeneral();
                            Timeout();
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning.. Tooth Fillings Consent Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert1").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Update').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion Update Click


   //#region Delete Click
    $('#btn_DeleteForm').on('click', function (e) {
        e.preventDefault();
        $('#btn_DeleteForm').removeClass("btn btn-success");
        $('#btn_DeleteForm').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_DeleteForm').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteToothFillings", "ToothFillings", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-warning");
                $('#btn_DeleteForm').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i> Tooth Fillings Consent Form Deleted Successfully!", "success");
                        clearControls();
                        Timeout();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-Delete");
                $('#btn_DeleteForm').html("Delete");
                Timeout();
            }
        })
    });
//#endregion


    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();

    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $("input[name='uitf_2']:radio").prop('checked', false);
        $(".form-control-sm").val("");
        $("#upat_sign,#uwit_sign").attr("src", "");

    }
    //#endregion Clear Controls

//#region Print
$('#btn_Print').on('click', function (e) {
    e.preventDefault();
    $('#btn_Print').removeClass("btn btn-sm btn-success");
    $('#btn_Print').addClass("btn btn-sm btn-success btn-loaders btn-icon");
    $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "ToothFillings", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=ToothFillings",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {
                if (data.success) {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print
//#region Wacom Tab Signature
    var openWacomTabSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "ToothFillings",
            "appId": @emr.appId,
            "formname":"Tooth Fillings",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
//#endregion
     //#region Signature
 var openSignaturePad = function (id) {
     var _data = {
         "patId": @emr.patId,
         "person": id,
         "form": "ToothFillings",
         "appId": @emr.appId,
         "formname":"Tooth Fillings",
         "formlink":"",
         "eSign":""
     }
     $.ajax({
         type: "GET",
         url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
         contentType: "application/json",
         dataType: "html",
         data: _data,
         success: function (response) {
             $("#signature_pad_body").html(response);
             $("#signature_pad").modal("show");
         },
         error: function (xhr) {
             console.log("Error :" + xhr.statusText);
         }
     });
 }
 //#endregion Signature

 $('#signature_pad').on('hidden.bs.modal', function () {
     if (localStorage.getItem("sign") != null) {
         GetSignaturename('patient');
         GetSignaturename('witness');
         localStorage.removeItem("sign");
     }
 });

 //#region Get Signature
 var GetSignaturename = function  (person) {
     $.ajax({
         url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=ToothFillings',
         type: "GET",
         dataType: "json",
         async: false,
         success: function (response) {
             console.log(response);
             let sign = response[0].psb_sign;
             if (response[0].person == "patient") {
                 $("#upatimg").show();
                 $("#upat_sign").attr("src", sign);
             }
             if (response[0].person == "witness") {
                 $("#uwitimg").show();
                 $("#uwit_sign").attr("src", sign);
             }
         },
         error: function (xhr) {
             console.log(xhr);
             alert(xhr);
         }

     });
 };
 //#endregion Get Signature

 //#region Alert Timeout
 function Timeout() {
     window.setTimeout(function () {
         $(".alert").fadeTo(500, 0).slideUp(500, function () {
             $(this).remove();
         });
     }, 4200);
 }
 //#endregion Alert Timeout

</script>