@using BusinessEntities;
@using System.Linq;
@using System.Security.Claims;

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "OperativeCollagenCrossLinkingNewIndex";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }

}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Operative Report For Corneal Collagen Cross Linking + Fcat Treatment Procedure
                </h3>
            </div>
            <div class="card-body">
                <div id="OperativeCollagenCrossLinkingNew_add" style="display:none">
                </div>
                <div id="OperativeCollagenCrossLinkingNew_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="OperativeCollagenCrossLinkingNew_history">
                </div>
            </div>
        </div>
    </div>
</div>

@*@section myScripts{*@
    <script>
        //#region Page Load
        $(function () {
           GetOperativeCollagenCrossLinkingNewInfo();
           OperativeCollagenCrossLinkingNewPreviousHistory();

        });
        //#endregion Page Load

        //#region Load GetOperativeCollagenCrossLinkingNewInfo
        var GetOperativeCollagenCrossLinkingNewInfo = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetOperativeCollagenCrossLinkingNewData", "OperativeCollagenCrossLinkingNew", new { area = "ConsentForms" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        if (response.length > 0) {
                            EditOperativeCollagenCrossLinkingNew();
                            $("#OperativeCollagenCrossLinkingNew_add").hide();
                            $("#OperativeCollagenCrossLinkingNew_edit").show();

                        }
                        else {
                            $("#OperativeCollagenCrossLinkingNew_add").show();
                            $("#OperativeCollagenCrossLinkingNew_edit").hide();
                            AddOperativeCollagenCrossLinkingNew();
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
        //#endregion Load OperativeCollagenCrossLinkingNew

        //#region Add OperativeCollagenCrossLinkingNew
        function AddOperativeCollagenCrossLinkingNew() {
            var x = $("#OperativeCollagenCrossLinkingNew_add");
            x.load("@Url.Action("CreateOperativeCollagenCrossLinkingNew", "OperativeCollagenCrossLinkingNew", new { area = "ConsentForms" })", function () {
          });
        }
        //#endregion Add OperativeCollagenCrossLinkingNew

        //#region Update OperativeCollagenCrossLinkingNew
        function EditOperativeCollagenCrossLinkingNew() {
            var x = $("#OperativeCollagenCrossLinkingNew_edit");
            x.load("@Url.Action("UpdateOperativeCollagenCrossLinkingNew", "OperativeCollagenCrossLinkingNew", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
          //#endregion Update OperativeCollagenCrossLinkingNew

          //#region Histroy of OperativeCollagenCrossLinkingNew
        function OperativeCollagenCrossLinkingNewPreviousHistory() {
            var x = $("#OperativeCollagenCrossLinkingNew_history");
            x.load("@Url.Action("OperativeCollagenCrossLinkingNewPreviousHistory", "OperativeCollagenCrossLinkingNew", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
        //#endregion History of OperativeCollagenCrossLinkingNew


    </script>

@*}*@