@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Consent Botox Arabic";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header" dir="rtl">
                <h3 class="card-title">الموافقة على الحقن بالبوتوكسحقن البوتولينوم(Botox)</h3>
            </div>
            <div class="card-body">
                <div id="ConsentBotoxArb_add" style="display:none">
                </div>
                <div id="ConsentBotoxArb_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="ConsentBotoxArb_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetConsentBotoxArbInfo();
        ConsentBotoxArbPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetConsentBotoxArbInfo
        var GetConsentBotoxArbInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetConsentBotoxArbData", "ConsentBotoxArb", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditConsentBotoxArb();
                        $("#ConsentBotoxArb_add").hide();
                        $("#ConsentBotoxArb_edit").show();

                    }
                    else {
                        $("#ConsentBotoxArb_add").show();
                        $("#ConsentBotoxArb_edit").hide();
                        AddConsentBotoxArb();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load ConsentBotoxArb

    //#region Add ConsentBotoxArb
        function AddConsentBotoxArb() {
            var x = $("#ConsentBotoxArb_add");
        x.load("@Url.Action("CreateConsentBotoxArb", "ConsentBotoxArb", new { area = "ConsentForms" })", function () {
      });
    }
    //#endregion Add ConsentBotoxArb

    //#region Update ConsentBotoxArb
        function EditConsentBotoxArb() {
            var x = $("#ConsentBotoxArb_edit");
        x.load("@Url.Action("UpdateConsentBotoxArb", "ConsentBotoxArb", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
      });
    }
      //#endregion Update ConsentBotoxArb

    //#region Histroy of ConsentBotoxArb
        function ConsentBotoxArbPreviousHistory() {
            var x = $("#ConsentBotoxArb_history");
        x.load("@Url.Action("ConsentBotoxArbPreviousHistory", "ConsentBotoxArb", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
      });
    }
    //#endregion
</script>