@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
    ViewBag.Title = "General Prescriptions";
    Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card shadow-sm">
            <div class="card-header d-flex justify-content-between">
                <h3 class="card-title text-primary fs-16">General Prescription</h3>
                <span class="text-danger font-weight-semibold" style="font-size:smaller">Required fields are marked with *</span>
            </div>
            <div class="card-body">
                <div id="prescription_add" style="display:none;"></div>

                <div id="prescription_edit"></div>

                <div class="col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center mt-2 mb-2">
                    <div id="GPAlert"></div>
                </div>

                <div class="table-responsive">
                    <table id="tbl_gen_prescription" class="table table-striped table-bordered text-nowrap resize-table" style="width: 100%; cursor: pointer;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #3C457D; border-color: #3C457D;">
                                <th class="border-bottom-0 font-weight-semibold text-white text-center"></th>
                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">ID</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Prescription Details</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Edit</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Delete</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card shadow-sm">
            <div class="card-header">
                <h3 class="card-title fs-16 text-primary">Previous Appointment(s) History</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table id="tbl_gen_prev_prescription" class="table table-striped table-bordered text-nowrap resize-table" style="width: 100%; cursor: pointer;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #808080; border-color: #3C457D; ">
                                <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Date</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Doctor</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Prescrption Details</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        $("body").addClass("app sidebar-mini sidenav-toggled");

        addPrescription(0);

        getPrescriptions();

        getPreviousPrescriptions();
    });
    //#endregion

    //#region Load General Prescriptions
    var getPrescriptions = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetAllGeneralPrescription", "Prescription", new { area = "EMR" })?appId=" + "@emr.appId",
            success: function (response) {
                if (!response.isAuthorized) {
                    var table;

                    if ($.fn.dataTable.isDataTable('#tbl_gen_prescription')) {
                        table = $('#tbl_gen_prescription').DataTable();
                        table.clear();
                        table.rows.add(response).draw();
                    }
                    else {
                        BindDataTablePresc(response);
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        }).done(function () {
            resizedt();
        });
    }
    //#endregion

    //#region Load Previous General Prescription
    var getPreviousPrescriptions = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetPreGeneralPrescription", "Prescription", new { area = "EMR" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
            success: function (response) {
                if (!response.isAuthorized) {
                    var table;

                    if ($.fn.dataTable.isDataTable('#tbl_gen_prev_prescription')) {
                        table = $('#tbl_gen_prev_prescription').DataTable();
                        table.clear();
                        table.rows.add(response).draw();
                    }
                    else {
                        BindPrevDataTablePresc(response);
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        }).done(function () {
            resizedt();
        });
    }
    //#endregion

    //#region Bind General Prescription Datatable
    var BindDataTablePresc = function (response) {
        var table = $("#tbl_gen_prescription").DataTable({
            fixedHeader: {
                header: true,
                footer: true
            },
            processing: true,
            "deferRender": true,
            "pageLength": 100,
            "retrieve": true,
            lengthChange: true,
            "aaData": response,
            "aoColumns": [
                {
                    "mData": "gpreId",
                    "orderable": false,
                    "className": "select-checkbox text-center inbox-small-cells",
                    'checkboxes': {
                        'selectRow': true
                    }
                },
                {
                    "mData": "gpreId",
                    "orderable": false,
                    "searchable": false,
                    "className": "text-center",
                    "render": function (data, type, row, meta) {
                        let _index = (meta.row) + 1;

                        if (_index >= 10) {
                            return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>" + _index + "</a>";
                        }
                        else {
                            return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>0" + _index + "</a>";
                        }
                    }
                },
                { "mData": "gpreId" },
                {
                    "mData": "gpre_desc",
                    "render": function (gpre_desc, type, full, meta) {
                        if (type === 'display') {
                            return decodeURIComponent(gpre_desc);
                        }

                        return gpre_desc;
                    }
                },
                {
                    "mData": "gpreId",
                    "className": 'btn-edit text-center',
                    "orderable": false,
                    "searchable": false,
                    "render": function (gpreId, type, full, meta) {
                        var status = full.gpre_status;

                        if (status === "Active") {
                            if ("@emp_designation.ToString()" === "Super Administrator") {
                                return '<button type="button"  onclick="editPrescription(' + gpreId + ')" class="btn btn-sm btn-outline-primary">Edit</button>';
                            }
                            else {
                                if ("@emr.set_emr_lock" == "NoLock") {
                                    return '<button type="button"  onclick="editPrescription(' + gpreId + ')" class="btn btn-sm btn-outline-primary">Edit</button>';

                                }
                                else {
                                    if ("@emr.app_ae_date" >= "@emr.today") {
                                        return '<button type="button"  onclick="editPrescription(' + gpreId + ')" class="btn btn-sm btn-outline-primary">Edit</button>';
                                    }
                                    else {
                                        return '';
                                    }
                                }
                            }
                        }
                        else {
                            return ''
                        }
                    }
                },
                {
                    "mData": "gpreId",
                    "className": 'btn-delete text-center',
                    "orderable": false,
                    "searchable": false,
                    "render": function (gpreId, type, full, meta) {
                        var status = full.gpre_status;

                        if (status === "Active") {
                            if ("@emp_designation.ToString()" === "Super Administrator") {
                                return '<button type="button" onclick="deletePrescription(' + gpreId + ')" class="btn btn-sm btn-outline-danger">Delete</button>';
                            }
                            else {
                                if ("@emr.set_emr_lock" == "NoLock") {
                                    return '<button type="button" onclick="deletePrescription(' + gpreId + ')" class="btn btn-sm btn-outline-danger">Delete</button>';

                                }
                                else {
                                    if ("@emr.app_ae_date" >= "@emr.today") {
                                        return '<button type="button" onclick="deletePrescription(' + gpreId + ')" class="btn btn-sm btn-outline-danger">Delete</button>';
                                    }
                                    else {
                                        return '';
                                    }
                                }
                            }
                        }
                        else {
                            return '';
                        }
                    }
                }
            ],
            order: [[2, 'asc']],
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '<span class="text-primary font-weight-semi-bold">Search Prescription</span>',
                lengthMenu: '_MENU_',
                scrollX: "100%",
            },
            select: {
                style: 'multi',
                selector: 'td:first-child'
            },
            scrollX: true,
            scrollY: 500,
            scrollCollapse: true,
            buttons: [
                {
                    extend: 'excel',
                    title: 'General Prescription',
                    footer: 'true',
                    exportOptions: {
                        columns: [2, 3]
                    }
                },
                {
                    extend: 'pdf',
                    title: 'General Prescription',
                    footer: 'true',
                    exportOptions: {
                        columns: [2, 3]
                    }
                },
                {
                    extend: 'csv',
                    title: 'General Prescription',
                    footer: 'true',
                    exportOptions: {
                        columns: [2, 3]
                    }
                },
                {
                    extend: 'print',
                    title: 'Previous General Prescription',
                    footer: 'true',
                    className: 'btn btn-primary',
                    exportOptions: {
                        columns: [2, 3]
                    }
                },
                //{
                //    text: '<i class="fa fa-print"></i> Print Prescrption',
                //    className: 'btn btn-outline-success ms-2',
                //    action: function (e, dt, node, config) {
                //        printPrescription()
                //    }
                //},
            ]
        });

        table.buttons().container().appendTo('#tbl_gen_prescription_wrapper .col-md-6:eq(0)');
    };
    //#endregion

    //#region Bind Previous General Prescription Datatable
    var BindPrevDataTablePresc = function (response) {
        var table = $("#tbl_gen_prev_prescription").DataTable({
            fixedHeader: {
                header: true,
                footer: true
            },
            processing: true,
            "deferRender": true,
            "pageLength": 100,
            "retrieve": true,
            lengthChange: true,
            "aaData": response,
            "aoColumns": [
                {
                    "mData": "gpreId",
                    "orderable": false,
                    "searchable": false,
                    "className": "text-center",
                    "render": function (data, type, row, meta) {
                        let _index = (meta.row) + 1;

                        if (_index >= 10) {
                            return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>" + _index + "</a>";
                        }
                        else {
                            return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>0" + _index + "</a>";
                        }
                    }
                },
                {
                    "mData": "app_fdate",
                    "className": "text-left",
                    "render": function (app_fdate, type, full, meta) {
                        if (type === 'display' || type === 'filter') {
                            return moment(app_fdate).format('DD-MM-YYYY')
                        }

                        return moment(app_fdate).format("YYYY-MM-DD");
                    }
                },
                { "mData": "doctor_name" },
                {
                    "mData": "gpre_desc",
                    "className": "text-justify text-wrap"
                },
                {
                    "mData": "gpreId",
                    "className": 'btn-view text-center',
                    "orderable": false,
                    "searchable": false,
                    "render": function (gpreId, type, full, meta) {
                        var Action = '';

                        if ("@emp_designation.ToString()" === "Super Administrator") {
                            Action += '<a id=btn_Copy_Prescription onclick="addPrescription(' + gpreId + ')"><i class="fa fa-lg fa-copy"></i></a>';
                        }
                        else {
                            if ("@emr.set_emr_lock" == "NoLock") {
                                Action += '<a id=btn_Copy_Prescription onclick="addPrescription(' + gpreId + ')"><i class="fa fa-lg fa-copy"></i></a>';
                            }
                            else {
                                if ("@emr.app_ae_date" >= "@emr.today") {
                                    Action += '<a id=btn_Copy_Prescription onclick="addPrescription(' + gpreId + ')"><i class="fa fa-lg fa-copy"></i></a>';
                                }
                                else {
                                    Action += '';
                                }
                            }
                        }

                        return Action;
                    }
                },
            ],
            order: [[1, 'desc']],
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '<span class="text-primary font-weight-semi-bold">Search Previous Prescription</span>',
                lengthMenu: '_MENU_',
                scrollX: "100%",
            },
            scrollX: true,
            scrollY: 500,
            scrollCollapse: true,
            buttons: [
                {
                    extend: 'excel',
                    title: 'Previous General Prescription',
                    footer: 'true',
                    className: 'oldbutton',
                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                },
                {
                    extend: 'pdf',
                    title: 'Previous General Prescription',
                    footer: 'true',
                    className: 'oldbutton',
                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                },
                {
                    extend: 'csv',
                    title: 'Previous General Prescription',
                    footer: 'true',
                    className: 'oldbutton',
                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                },
                {
                    extend: 'print',
                    title: 'Previous General Prescription',
                    footer: 'true',
                    className: 'oldbutton',
                    exportOptions: {
                        columns: [0, 1, 2, 3]
                    }
                }
            ]
        });

        table.buttons().container().appendTo('#tbl_gen_prev_prescription_wrapper .col-md-6:eq(0)');
    };
    //#endregion

    //#region Add General Prescription
    function addPrescription(gpreId) {
        $('#prescription_edit').hide();

        $.ajax({
            type: "GET",
            url: "@Url.Action("CreateGeneralPrescription", "Prescription", new { area = "EMR" })?gpreId=" + gpreId,
            contentType: "application/json",
            dataType: "html",
            success: function (data) {
                $("#prescription_add").html(data);
                $("#prescription_add").show();
            },
            error: function (xhr) {
                console.log("Error while Adding General Prescription : " + xhr.statusText);
            }
        });
    }
    //#endregion

    //#region Edit General Prescription
    function editPrescription(gpreId) {
        $('#prescription_add').hide();

        $.ajax({
            type: "GET",
            url: "@Url.Action("EditGeneralPrescription", "Prescription", new { area = "EMR" })?gpreId=" + gpreId + "&appId=" + @emr.appId,
            contentType: "application/json",
            dataType: "html",
            success: function (data) {
                $("#prescription_edit").html(data);
                $("#prescription_edit").show();

                var dt = $('#tbl_gen_prev_prescription').DataTable();
                dt.columns([4]).visible(false);
            },
            error: function (xhr) {
                console.log("Error while Editing General Prescription : " + xhr.statusText);
            }
        });
    }
    //#endregion

    //#region Delete General Prescription
    var deletePrescription = function (gpreId) {
        Swal.fire({
            title: "Are you sure you want to delete this Prescription ?",
            text: "The selected Prescription will be permanently deleted!",
            icon: "question",
            showCancelButton: !0,
            confirmButtonText: 'Yes! I Confirm',
            cancelButtonText: 'No! Cancel Please',
            confirmButtonClass: "btn btn-success mt-2", cancelButtonClass: "btn btn-danger ms-2 mt-2", buttonsStyling: !1
        }).then(function (t) {
            if (t.value) {
                $.ajax({
                    url: '@Url.Action("DeleteGeneralPrescription", "Prescription", new { area = "EMR" })?gpreId=' + gpreId,
                    type: "POST",
                    dataType: 'json',
                    success: function (data) {
                        if (data.isAuthorized) {
                            if (data.success) {
                                getPrescriptions();

                                Swal.fire({
                                    title: "Success!",
                                    text: "Prescription General Deleted Successfully!",
                                    icon: "success",
                                    showCancelButton: 0,
                                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60"
                                });
                            }
                            else {
                                Swal.fire({
                                    title: "Error!",
                                    text: "Failed to Delete General Prescription!",
                                    icon: "error",
                                    showCancelButton: 0,
                                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                                });
                            }
                        }
                        else {
                            Swal.fire({
                                title: "Access Denied!",
                                text: "You do not have Enough Privileges to Delete this Prescription!",
                                icon: "error",
                                showCancelButton: 0,
                                confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                            });
                        }
                    },
                    error: function (xhr) {
                        Swal.fire({
                            title: "Error!",
                            text: "Failed to Delete Prescription! Please Refresh The Page & Try Again.",
                            icon: "error",
                            showCancelButton: 0,
                            confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                        });
                    }
                });
            }
        });
    }
    //#endregion

    //#region Resize Datatable
    function resizedt() {
        setTimeout(function () {
            $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
        }, 350);
    }
    //#endregion

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }

    function error_timeout_quill(id) {
        setTimeout(function () {
            id.attr("style", "border:1px solid black;color:black;");
        }, 3200);
    }
    //#endregion
</script>