@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@using System.Configuration;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<style>
    #size {
        max-width: 600px;
    }
</style>
<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold" id="exampleModalLongTitle">Create New Prescription</h5>
    <button type="button" class="btn-close btnCloseCreate" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body p-4">

    <div class="row">
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <strong>Error!&nbsp;</strong>@TempData["ErrorMessage"]
                </div>
            </div>
        }
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 mb-4 font-weight-semibold">
                            <span class="text-danger" style="font-size:smaller">Required fields are marked with *</span>
                        </div>
                    </div>
                    <div id="prescription_add" style="display:none;">

                    </div>
                    <div id="prescription_edit">
                    </div>
                    <div class="table-responsive">
                        <table id="tbl_prescription" class="table table-striped table-bordered text-nowrap resize-table" style="width: 100%; cursor: pointer;">
                            <thead>
                                <tr style="color: #fff !important; background-color: #3C457D; border-color: #3C457D; ">
                                    <th class="border-bottom-0 font-weight-semibold text-white text-center"></th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">ID</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Code</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Generic</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Brand</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Dosage</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Strength</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Use <br />(Units)</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Frequency<br /> Value</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Frequency</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Duration</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Quantity</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Route for Admin</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Instructions</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Edit</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Delete</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div>
                        <h4 class="page-title mb-0 text-primary ">
                            Previous History
                        </h4>
                    </div>
                    <div class="table-responsive">
                        <table id="tbl_Preprescription" class="table table-striped table-bordered text-nowrap resize-table" style="width: 100%; cursor: pointer;">
                            <thead>
                                <tr style="color: #fff !important; background-color: #808080; border-color: #3C457D; ">
                                    <th class="border-bottom-0 font-weight-semibold text-white">#</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Date</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Doctor</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Code</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Generic</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Brand</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Dosage</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Strength</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Use <br />(Units)</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Frequency<br /> Value</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Frequency</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Duration</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Quantity</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Route for Admin</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Instructions</th>
                                    <th class="border-bottom-0 font-weight-semibold text-white">Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
    //#region Page Load
        $(function () {
            $("body").addClass("app sidebar-mini sidenav-toggled");
            $("#prescription_add").show();
            AddPrescription(0);
            GetPrescription();
            GetPreviousPrescription();


        });
    //#endregion Page Load

    //#region Load Prescription
        var GetPrescription = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAllPrescription", "Prescription", new { area = "EMR" })?appId=" + "@emr.appId" + "&pre_med_type=CASH",
                success: function (response) {

                    if (response.isAuthorized != false) {
                        var table;
                        if ($.fn.dataTable.isDataTable('#tbl_prescription')) {
                            table = $('#tbl_prescription').DataTable();
                            table.clear();
                            table.rows.add(response).draw();
                        }
                        else {
                            console.log(response);
                            BindDataTablePresc(response);
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            }).done(function () {
                resizedt();
            });
        }
    //#endregion Load Prescription

    //#region Load PreviousPrescription
        var GetPreviousPrescription = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetPrePrescription", "Prescription", new { area = "EMR" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId + "&pre_med_type=CASH",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        var table;
                        if ($.fn.dataTable.isDataTable('#tbl_Preprescription')) {
                            table = $('#tbl_Preprescription').DataTable();
                            table.clear();
                            table.rows.add(response).draw();
                        }
                        else {
                            console.log(response);
                            BindDataTablePrescP(response);
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
             .done(function () {
                    resizedt();;
                });
        }
    //#endregion Load PreviousPrescription

    //#region Bind Datatable
        var BindDataTablePresc = function (response) {
            var table = $("#tbl_prescription").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                processing: true,
                "deferRender": true,
                "pageLength": 100,
                "retrieve": true,
                lengthChange: true,
                "aaData": response,
                "aoColumns": [
                    {
                        "mData": "preId",
                        "orderable": false,
                        "className": "select-checkbox text-center inbox-small-cells",
                        'checkboxes': {
                            'selectRow': true
                        }
                    },
                    {
                        "mData": "preId",
                        "orderable": false,
                        "searchable": false,
                        "className": "text-center",
                        "render": function (data, type, row, meta) {
                            let _index = (meta.row) + 1;
                            if (_index >= 10) {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>" + _index + "</a>";
                            }
                            else {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>0" + _index + "</a>";
                            }
                        }
                    },

                    {
                        "mData": "preId",
                        "className": 'text-left',

                    },
                    {
                        "mData": "item_code",
                        "className": 'text-left',

                    },
                    {
                        "mData": "item_name",
                        "className": 'text-justify text-wrap',

                    },
                    {
                        "mData": "item_brand",
                        "visible":false,
                        "className": 'text-justify text-wrap',

                    },
                    {
                        "mData": "item_dosage",
                        "className": 'text-justify text-wrap',

                    },{
                        "mData": "item_strength",
                        "className": 'text-left',

                    },{
                        "mData": "pre_temp3",
                        "className": 'text-left',

                    },{
                        "mData": "pre_temp4",
                        "className": 'text-left',

                    },{
                        "mData": "pre_temp5",
                        "className": 'text-left',

                    },{
                        "mData": "pre_duration",
                        "className": 'text-left',

                    },{
                        "mData": "pre_qty_type",
                        "className": 'text-left',

                    },{
                        "mData": "ra_code_desc",
                        "className": 'text-left',

                    },{
                        "mData": "pre_instr",
                        "className": 'text-justify text-wrap',

                    },

                    {
                        "mData": "preId",
                        "className": 'btn-edit text-center',
                        "orderable": false,
                        "searchable": false,
                        "render": function (preId, type, full, meta) {
                            var status = full.pre_status;
                            if (status === "Active") {
                                if ("@emp_designation.ToString()" === "Super Administrator") {
                                    return '<button type="button"  onclick="EditPrescription(' + preId + ')" class="btn btn-sm btn-outline-primary">Edit</button>';
                                }
                                else {
                                    if ("@emr.set_emr_lock" == "NoLock") {
                                        return '<button type="button"  onclick="EditPrescription(' + preId + ')" class="btn btn-sm btn-outline-primary">Edit</button>';

                                    }
                                    else {
                                        if ("@emr.app_ae_date" >= "@emr.today") {
                                            return '<button type="button"  onclick="EditPrescription(' + preId + ')" class="btn btn-sm btn-outline-primary">Edit</button>';
                                        }
                                        else {
                                                return ''
                                            }
                                    }
                                }
                            }
                            else {
                                return ''
                            }
                        }
                    },
                    {
                        "mData": "preId",
                        "className": 'btn-delete text-center',
                        "orderable": false,
                        "searchable": false,
                        "render": function (preId, type, full, meta) {
                            var status = full.pre_status;
                            if (status === "Active") {
                                if ("@emp_designation.ToString()" === "Super Administrator") {
                                    return '<button type="button" onclick="DeletePrescription(' + preId + ')" class="btn btn-sm btn-outline-danger">Delete</button>';
                                }
                                else {
                                    if ("@emr.set_emr_lock" == "NoLock") {
                                        return '<button type="button" onclick="DeletePrescription(' + preId + ')" class="btn btn-sm btn-outline-danger">Delete</button>';

                                        }
                                    else {
                                        if ("@emr.app_ae_date" >= "@emr.today") {
                                            return '<button type="button" onclick="DeletePrescription(' + preId + ')" class="btn btn-sm btn-outline-danger">Delete</button>';
                                        }
                                        else {
                                            return ''
                                            }
                                    }
                                }

                            }
                            else {
                                return ''
                            }
                        }
                    }
                ],
                order: [[2, 'asc']],
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '<span class="text-primary font-weight-semi-bold">Search By Prescription</span>',
                    lengthMenu: '_MENU_',
                    scrollX: "100%",
                },
                select: {
                    style: 'multi',
                    selector: 'td:first-child'
                },
                scrollX: true,
                scrollY: 500,
                scrollCollapse: true,
                buttons: [
                    {
                        extend: 'excel',
                        title: 'Prescription',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 3,4,5,6,7,8,9,10,11,12,13]
                        }
                    },
                    {
                        extend: 'pdf',
                        title: 'Prescription',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 3,4,5,6,7,8,9,10,11,12,13]
                        }
                    },
                    {
                        extend: 'csv',
                        title: 'Prescription',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 3,4,5,6,7,8,9,10,11,12,13]
                        }
                    },
                    {
                        extend: 'print',
                        title: 'Prescription',
                        footer: 'true',
                        exportOptions: {
                            columns: [0, 1, 2, 3,4,5,6,7,8,9,10,11,12,13]
                        }
                    },
                     {
                         text: '<i class="fa fa-print"></i> Print',
                        className: 'btn btn-outline-success ms-2',
                        action: function (e, dt, node, config) {
                            Print_Prescription()
                        }
                    },
                ]
            });
            table.buttons().container().appendTo('#tbl_prescription_wrapper .col-md-6:eq(0)');
        };
    //#endregion Bind Datatable

    //#region Previous Bind Datatable
        var BindDataTablePrescP = function (response) {
            var table = $("#tbl_Preprescription").DataTable({
                fixedHeader: {
                    header: true,
                    footer: true
                },
                processing: true,
                "deferRender": true,
                "pageLength": 100,
                "retrieve": true,
                lengthChange: true,
                "aaData": response,
                "aoColumns": [
                    {
                        "mData": "preId",
                        "orderable": false,
                        "searchable": false,
                        "className": "text-center",
                        "render": function (data, type, row, meta) {
                            let _index = (meta.row) + 1;
                            if (_index >= 10) {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>" + _index + "</a>";
                            }
                            else {
                                return "<a href='javascript:void(0)' class='fs-13 font-weight-bold'>0" + _index + "</a>";
                            }
                        }
                    },
                    {
                        "mData": "app_fdate",
                        "className": "text-left",
                        "render": function (data) {
                            return moment(data).format('DD-MM-YYYY')
                        }
                    },
                    {
                        "mData": "doctor_name",
                        "className": "text-left"
                    },
                    {
                        "mData": "item_code",
                        "className": 'text-left',

                    },
                    {
                        "mData": "item_name",
                        "className": 'text-justify text-wrap',

                    },
                    {
                        "mData": "item_brand",
                        "visible": false,
                        "className": 'text-justify text-wrap',

                    },
                    {
                        "mData": "item_dosage",
                        "className": 'text-justify text-wrap',

                    }, {
                        "mData": "item_strength",
                        "className": 'text-left',

                    }, {
                        "mData": "pre_temp3",
                        "className": 'text-left',

                    }, {
                        "mData": "pre_temp4",
                        "className": 'text-left',

                    }, {
                        "mData": "pre_temp5",
                        "className": 'text-left',

                    }, {
                        "mData": "pre_duration",
                        "className": 'text-left',

                    }, {
                        "mData": "pre_qty_type",
                        "className": 'text-left',

                    }, {
                        "mData": "ra_code_desc",
                        "className": 'text-left',

                    }, {
                        "mData": "pre_instr",
                        "className": 'text-justify text-wrap',

                    },

                    {
                        "mData": "preId",
                        "className": 'btn-view text-center',
                        "orderable": false,
                        "searchable": false,
                        "render": function (preId, type, full, meta) {
                            var Action = '';
                            //Copy Data
                            if ("@emp_designation.ToString()" === "Super Administrator") {
                                Action += '<a id=btn_Copy_Prescription  onclick="AddPrescription(' + preId + ')"><i class="fa fa-lg fa-copy" ></i></a>';
                                }
                                else {
                                if ("@emr.set_emr_lock" == "NoLock") {
                                    Action += '<a id=btn_Copy_Prescription  onclick="AddPrescription(' + preId + ')"><i class="fa fa-lg fa-copy" ></i></a>';

                                    }
                                else {
                                        if ("@emr.app_ae_date" >= "@emr.today") {
                                            Action += '<a id=btn_Copy_Prescription  onclick="AddPrescription(' + preId + ')"><i class="fa fa-lg fa-copy" ></i></a>';
                                        }
                                        else {
                                            Action += ''
                                            }
                                    }
                                }

                                return Action;
                            }
                    },
                ],
                order: [[0, 'asc']],
                language: {
                    searchPlaceholder: 'Search...',
                    sSearch: '<span class="text-primary font-weight-semi-bold">Search By Prescription</span>',
                    lengthMenu: '_MENU_',
                    scrollX: "100%",
                },
                scrollX: true,
                scrollY: 500,
                scrollCollapse: true,
                buttons: [
                    {
                        extend: 'excel',
                        title: 'Previous Prescription',
                        footer: 'true',
                        className:'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2, 3,4,5,6,7,8,9,10,11,12,13,14]
                        }
                    },
                    {
                        extend: 'pdf',
                        title: 'Previous Prescription',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2, 3,4,5,6,7,8,9,10,11,12,13,14]
                        }
                    },
                    {
                        extend: 'csv',
                        title: 'Previous Prescription',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2, 3,4,5,6,7,8,9,10,11,12,13,14]
                        }
                    },
                    {
                        extend: 'print',
                        title: 'Previous Prescription',
                        footer: 'true',
                        className: 'oldbutton',
                        exportOptions: {
                            columns: [0, 1, 2, 3,4,5,6,7,8,9,10,11,12,13,14]
                        }
                    }
                ]
            });
            table.buttons().container().appendTo('#tbl_Preprescription_wrapper .col-md-6:eq(0)');
        };
    //#endregion Previous Bind Datatable

    //#region Add Prescription
        function AddPrescription(preId) {
            $('#prescription_edit').hide();
            var x = $("#prescription_add");
            x.load("@Url.Action("CreatePrescription", "Prescription", new { area = "EMR" })?preId=" + preId, function () {
                $("#prescription_add").show();
            });
        }
    //#endregion Add Prescription
    //#region Edit Prescription
        function EditPrescription(preId) {
            $('#prescription_add').hide();
            var x = $("#prescription_edit");
            x.load("@Url.Action("EditPrescription", "Prescription", new { area = "EMR" })?preId=" + preId + "&appId=" + @emr.appId, function () {
                $("#prescription_edit").show();
            });
            //hide the Copy Data
            var dt = $('#tbl_Preprescription').DataTable();
            dt.columns([15]).visible(false);

        }
    //#endregion Edit Prescription

   //#region Print Prescription
    function Print_Prescription() {

        var table = $("#tbl_prescription").DataTable();
        var rows = $(table.$('input[type="checkbox"]').map(function () {
            return $(this).prop("checked") ? $(this).closest('tr') : null;
        }));
        var preIdArray = [];
        if (rows.length > 0) {
            $.each(rows, function (index, rowId) {
                var _data = table.row(rowId).data();
                preIdArray.push(_data.preId);
            });
            var preIds = preIdArray.join(", ");
                var _obj = {
                    "id": preIds,
                    "pre_appId": "@emr.appId",
                }

                $.ajax({
                    url: '@Url.Action("Print_Prescription", "Prescription", new { area = "EMR" })',
                    type: "POST",
                    dataType: "json",
                    data: _obj,
                    async: false,
                    success: function (response) {
                        if (response.isSuccess == true) {
                            window.open(response.message, '_blank');
                        }
                        else {
                            event.preventDefault();
                            event.stopPropagation();
                            return $.growl.error({
                                title: "Error",
                                message: response.message
                            });
                        }
                    },
                    error: function (xhr) {
                        console.log(xhr);
                    }
                })

        }
        else {
            Swal.fire({
                title: "Attention!",
                text: "Please Select atleast one Treatment in the list to Print Qutation",
                icon: "warning",
                showCancelButton: 0,
                confirmButtonColor: "#0bb197",
                cancelButtonColor: "#ff3d60",
            });
        }
    }

    //#endregion Print Qutation


     //#region Delete Prescription
        var DeletePrescription = function (preId) {
            Swal.fire({
                title: "Are you sure you want to delete this Prescription ?",
                text: "The selected Prescription will be deleted!",
                icon: "question",
                showCancelButton: !0,
                confirmButtonText: 'Yes! I Confirm',
                cancelButtonText: 'No! Cancel Please',
                confirmButtonClass: "btn btn-success mt-2", cancelButtonClass: "btn btn-danger ms-2 mt-2", buttonsStyling: !1
            }).then(function (t) {
                if (t.value) {
                    $.ajax({
                        url: '@Url.Action("DeletePrescription", "Prescription", new { area = "EMR" })?preId=' + preId,
                        type: "POST",
                        dataType: 'JSON',
                        success: function (data) {
                            if (data.isAuthorized) {
                                if (data.success) {
                                    Swal.fire({
                                        title: "Success!",
                                        text: "Prescription Deleted Successfully!",
                                        icon: "success",
                                        showCancelButton: 0,
                                        confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60"
                                    });
                                    GetPrescription();
                                }
                                else {
                                    Swal.fire({
                                        title: "Error!",
                                        text: "You Can't Change the status! Already exist an active Prescription",
                                        icon: "error",
                                        showCancelButton: 0,
                                        confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                                    });
                                }
                            }
                            else {
                                Swal.fire({
                                    title: "Access Denied!",
                                    text: "You do not have Enough Privileges to Delete this Prescription!",
                                    icon: "error",
                                    showCancelButton: 0,
                                    confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                                });
                            }

                        },
                        error: function (xhr) {
                            Swal.fire({
                                title: "Error!",
                                text: "Failed to Delete Prescription! Please Refresh The Page & Try Again.",
                                icon: "error",
                                showCancelButton: 0,
                                confirmButtonColor: "#0bb197", cancelButtonColor: "#ff3d60",
                            });
                            GetPatPrescription();
                        }
                    }).
                    done(function () {
                        resizedt();;
                    });
                }
            });
        }
    //#endregion Delete Prescription

    //#region Resize Datatable
    function resizedt() {
        setTimeout(function () {
            $.fn.dataTable.tables({ visible: true, api: true }).columns.adjust();
        }, 350);
    }
    //#endregion

    //#region Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
    //#endregion Alert Timeout

    </script>

</div>
