@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConcentForms.VeneersConsent

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<form id="form_VeneersConsentEdit" autocomplete="off" name="VeneersConsent" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-right" dir="rtl">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> اسم المريض</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> الهوية الإماراتية</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">رقم الملف</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> تاريخ الميلاد</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> الجنسية</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">جنس</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">اسم الطبيب</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">تاريخ</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5 mt-5 text-justify" dir="rtl">
        <div class="col-sm-12 col-md-6 col-lg-12 mt-2">
            <label class="form-label mb-2">
                <span class="text-decoration-underline  text-red">التشخيص:</span>
                <label class="form-label mb-2 text-danger" id="udiagnosis">
                </label>
            </label>
        </div>
        <p class="text-red">حقائق بعين الإعتبار</p>
        <p>القشور الخزفية ( العدسات ، هوليود سمايل ) هي قشور رقيقة تصنع بطريقة مخصصة من الخزف لتلصق على الجزء الأمامي من الأسنان لتغيير لونهم ، شكلهم ، حجمهم أو طولهم</p>
        <p>علاج الأسنان الأمامية بإستخدام القشور الخزفية يتطلب في أغلب الحالات إزالة طبقة رقيقة من مينا الأسنان لتوفير مساحة كافية للصق القشور. وهذه العملية لا رجعة فيها</p>
        <p>إعداد القشرة الخزفية يتطلب مرحلتين 1- اعداد الأسنان وأخذ طبعة رقيقة لإرسالها الى المختبر. 2- تعديل وتثبيت القشرة عندما يتم التحقق من شكلها ووظيفتها</p>
        <p class="text-red">وائد القشرة الخزفية ، لا تقتصر على ما يلي:</p>
        <p>
            وعادة ما تستخدم القشرة للأسنان التي يتغيير لونها، إما بسبب علاج قناة الجذر، والبقع من التتراسيكلين أو أدوية أخرى، والفلورايد الزائد أو وجود حشوات الكمبوزيت الضوئية الكبيرة و التي أحيانا ما تغير لون الأسنان. القشرة يمكن أن تحمي الأسنان المكسورة. و يمكن استخدامها لأغراض جمالية أخرى كإصلاح الأسنان المنحرفة، المتفاوتة أو غير منتظمة الشكل، وإغلاق المسافة بين الأسنان التي لديها فجوات بينهما
        </p>
        <p class="text-red"> مخاطر القشرة الخزفية ، لا تقتصر على ما يلي:</p>
        <p>نا أفهم أن إعداد الأسنان للقشرة سوف يتضمن إزالة المينا من سطح الأسنان المعنية. و قد يؤدي هذا التحضير إلى تهيج الأنسجة العصبية (تسمى اللب) في وسط السن، مما يجعل أسناني حساسة للحرارة أو البرد أو الضغط. قد تتطلب الأسنان الحساسة علاج إضافي بما في ذلك علاج (قناة الجذر)</p>
        <p>
            أنا أفهم أن ترك فمي مفتوح أثناء العلاج قد يترك شعور مؤقت بالتصلب والألم في مفصل وعضلات الفك وقد يجعل من الصعب بالنسبة لي فتح فمي بشكل واسع لعدة أيام. و أحيانا يمكن أن يكون ذلك مؤشرا على وجود مشكلة أخرى. يجب أن تبلغ العيادة الخاصة بك إذا حصل هذا أو غيرها
        </p>
        <p>أنا أفهم أن القشور عادة لا تكون قابلة للإصلاح في حالة التشقق أو الكسر. وقد يكون هناك ما يبرر الحاجة إلى استبدالها أو حتى اللجوء الى التاج الكامل للتغطية</p>
        <p>.أدرك أن القشرة قد لا تتطابق تماما مع لون أسناني الأخرى. أيضا، لا يمكن تغيير لون القشرة ما إن وظعت على السن</p>
        <p>وأنا افهم في حين أنة من غير المحتمل أن تتحرك القشرة من مكانها وتسقط .ولتقليل فرصة حدوث ذلك، لا ينبغي أن أعض أظافري، مضغ على أقلام الرصاص، الثلج أو غيرها من الأشياء الصلبة، الضغط الغير طبيعي على أسناني. كما أن طحن الأسنان أو كزمها قد يتسبب في انزلاق القشرة</p>
        <p>أنا أفهم أن القشرة سوف توضع بالقرب من خط اللثة، وهي في منطقة عرضة لتهيج اللثة، والعدوى. لذلك فإن تفريش الأسنان وإستخدام الخيط، والنظام الغذائي الصحي والتنظيف في العيادة المنتظم هي بعض التدابير الوقائية الضرورية للمساعدة في السيطرة على هذه المشاكل</p>
        <p>ناأفهمأنهناكخطرمنالشفط (الاستنشاق) أوبلعالقشرةأثناءالعلاج</p>
        <p>أنا أفهم أنني قد أتلقى مخدر موضعي و / أو أدوية أخرى. في حالات نادرة، قد يكون لدى المرضى رد فعل تجاه المخدر، والتي قد تتطلب الرعاية الطبية الطارئة، أو تجد أنه يقلل من قدرتها على السيطرة على البلع. هذا يزيد من فرصة طبيعية بلع الأجسام الغريبة أثناء العلاج. اعتمادا على التخدير والأدوية التي تعطى، قد أحتاج إلى سائق معين لأخذي إلى المنزل. نادرا، إصابة العصب تكون مؤقتة أو دائمة التي يمكن أن تنتج عن الحقن</p>
        <p>
            أنا أفهم أن جميع الأدوية محتمل أن يكون لديها مخاطر مصاحبة، وآثار جانبية وتفاعلات الأدوية. ولذلك فمن الأهمية أن أخبر طبيب الأسنان الخاص بي بجميع الأدوية التي استخدمها حالياً
        </p>
        <p>.وأناأفهمأنكلجهدسيبذللضماننجاحعلاجي</p>
        <p class="text-red">بدائلالقشرة الخزفية،لاتقتصرعلىمايلي:</p>
        <p>وأنا أفهم أني أقوم باختيار وضع القشرة اعتمادا على الأسباب ، قد توجد بدائل، بما في ذلك تقويم الأسنان لمحاذاة الأسنان. لقد أتيحت لي الفرصة لطرح أي أسئلة فيما يتعلق بالإجراءات ومخاطرها ومنافعها وتكاليفها وقد تلقيت إجابات مرضية</p>
        <p>.أوافق على التقاط الصور الفوتوغرافية، التصوير والتسجيل و الأشعة السينية بشرط لا يتم الكشف عن هويتي</p>
        <p>ومن مسؤولية المريض أن يلتمس الانتباه في حالة حدوث أي مشاكل غير ضرورية أو غير متوقعة. يجب على المريض اتباع جميع التعليمات، بما في ذلك جدولة وحضور جميع المواعيد.لقد اتيحت لي الفرصة لطرح اسئلة حول حالتي، خيارات العلاج و رفض العلاج. لقد قام مزود الموقع ادناه الإجابة على جميع أسئلتي. لقد فهمت النطاق الكامل للوضع وانا اخذ قرار الموافقة</p>
        <p class="text-red">استمارة الموافقة المسبقة:</p>
        <p>
            لقد أتيحت لي الفرصة لطرح أي أسئلة بخصوص طبيعة والغرض من علاج القشرة الخزفية وقد تلقيت إجابات مرضية. أنا طوعا اتحمل جميع المخاطر المحتملة ،بما في ذلك خطر حدوث ضرر كبير، إن وجد، والذي قد يرتبط بأي مرحلة من مراحل العلاج ، على أمل الحصول على النتائج المرجوة، والتي من الممكن أو غير الممكن تحقيقها. الرسوم (إن وجدت) لهذه الخدمة لقد تم شرحها وهي مرضية. من خلال التوقيع على هذا النموذج أنا أعطي بحرية موافقتي للسماح للدكتور <label class="text-red">@emr.doc_name&nbsp;</label>أو/ و أحد مساعديه لتقديم العلاج لتقديم العلاج أو اي دواء و /أو التخدير الذي يعتبر ضروري للعلاج
        </p>
        <p>
            <div class="custom-controls-stacked">
                <p class="text-right">
                    <span dir="rtl">
                        <input type="radio" name="ucvca_1" id="ucvca_11" value="Yes">&nbsp;&nbsp;&nbsp;لقد أتيحت لي الفرصة لطرح الأسئلة وقمت بالموافقة على العلاج المقترح كما هو موضح أعلاه
                    </span>
                </p>
                <p class="text-right">
                    <span dir="rtl">
                        <input type="radio" name="ucvca_1" id="ucvca_12" value="No">&nbsp;&nbsp;&nbsp;لقد قمت برفض إعطاء الموافقة للعلاج المقترج كما هو موضح أعلاه وقد تم شرح العواقب المحتملة المرتبطة بالرفض
                    </span>
                </p>
            </div>
        </p>

    </div>
    <div class="row mt-2" dir="rtl">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr dir="rtl">
                    <td colspan="3" class="font-weight-bold text-danger fs-18" width="100%">
                        قم بالتوقيع هنا فقط إذا تمت الموافقة على جميع الأسئلة
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <div id="upat_sign_box" class="d-none">
                            <img alt="stamp" id="upat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="34%">
                        <div id="uwit_sign_box" class="d-none">
                            <img alt="stamp" id="uwit_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold"> اسم المريض</span>
                        <br /><br />
                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">التاريخ	</span>
                    </td>
                    <td width="34%">
                        <label class="form-label text-red text-left text-capitalize">
                            @Html.TextBoxFor(m => m.cvca_2, new { @class = "form-control form-control-sm", style = "text-align:center", @id = "ucvca_2" })
                        </label>
                        <span class="font-weight-semibold"> هوية الشاهد</span>
                        <br /><br />
                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">التاريخ	</span>
                    </td>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize">@emr.doc_name&nbsp;</label>
                        <span class="font-weight-semibold"> اسم الطبيب</span>
                        <br /><br />
                        <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        <span class="font-weight-semibold">التاريخ	</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue" width="33%">
                        توقيع المريض/ الممثل المفوض قانونا
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue" width="34%">
                        توقيع الشاهد
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> witness
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('witness')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('witness')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center" width="33%">الطبيب </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update">Save Changes</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                <button type="button" class="btn btn-danger btn-sm" id="btn_DeleteForm">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print"> Download/Print </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Update").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Update").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Update").show();
                }
                else {
                    $("#btn_Update").hide();
                }
            }
        }
        validate();
        GetSignaturename('patient');
        GetSignaturename('witness');
        GetCheckedValues();
        Get_Patient_Diagnosis();
    });

    //#region Validation Initialization
    var validate = function () {
        $("#form_VeneersConsentEdit").validate({
            rules: {
                cvca_2: {
                    required: true
                },

            },
            messages: {
                cvca_2: {
                    required: "Please Enter Witness ID!"
                },

            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
    //#endregion

        //#endregion Get CheckedValues

        //#region Load Get_Patient_Diagnosis
          var Get_Patient_Diagnosis = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("Get_Patient_Diagnosis", "ReimbursementForms", new { area = "EMRForms" })?appId=" + "@emr.appId" + "&patId=" + @emr.patId,
            success: function (response) {
                if (response.length > 0) {
                    var str2 = response[0].diag_names;
                    var regex = /(|<([^>]+)>)/ig;
                    $("#udiagnosis").text(str2.replace(/(<p>|<\/p>)/g, ""));
                }
            },
            error: function (xhr) {
            console.log(xhr);
            }
        });
    }
//#endregion

    //#region Update  Click
    $('#btn_Update').on('click', function (e) {
        e.preventDefault();
        if ($("#form_VeneersConsentEdit").valid()) {
            console.log($("#cvcaId").val());
            $('#btn_Update').removeClass("btn btn-sm btn-success");
            $('#btn_Update').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Update').html("Updating the Record....");
            //var ucvca_1_ = $.map($(':checkbox[name=ucvca_1]:checked'), function (n, i) {
            //    return n.value;
            //}).join(',');

            var ucvca_1 = "";

            if ($('#ucvca_11').prop('checked')) {
                ucvca_1 = "Yes";
            }
            else if ($('#ucvca_12').prop('checked')) {
                ucvca_1 = "No";
            }

            var _dateInsert = {
                "cvcaId": 0,
                "cvca_appId": @emr.appId,
                "cvca_2": $("#ucvca_2").val(),
                "cvca_1": ucvca_1,
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

            console.log(_dateInsert);

            $.ajax({
                type: "Post",
                url: "@Url.Action("EditVeneersConsent", "VeneersConsent", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isEdited) {
                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>  Veneers Consent Consent Form Updated Successfully!", "success");
                            Timeout();
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning.. Veneers Consent Consent Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion Update Click

        //#region Print
$('#btn_Print').on('click', function (e) {
    e.preventDefault();
    $('#btn_Print').removeClass("btn btn-success");
    $('#btn_Print').addClass("btn btn-success btn-loaders btn-icon");
    $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "VeneersConsent", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=VeneersConsent",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {

                if (data.success)
                    console.log(data);
                    console.log(data.message.pdfPath); {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print

    //#region Delete Click
    $('#btn_DeleteForm').on('click', function (e) {
        e.preventDefault();
        $('#btn_DeleteForm').removeClass("btn btn-success");
        $('#btn_DeleteForm').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_DeleteForm').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteVeneersConsent", "VeneersConsent", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-warning");
                $('#btn_DeleteForm').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>Veneers Consent Consent Form Deleted Successfully!", "success");
                        clearControls();
                        Timeout();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-Delete");
                $('#btn_DeleteForm').html("Delete");
                Timeout();
            }
        })
    });
//#endregion


    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $("input[name='ucvca_1']:radio").prop('checked', false);
        $(".form-control-sm").val("");
        $("#upat_sign,#uwit_sign").attr("src", "");

    }
    //#endregion Clear Controls
    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
         var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "VeneersConsent",
            "appId": @emr.appId,
            "formname":"Veneers Consent",
            "formlink":"",
            "eSign":""
        }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion
    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "VeneersConsent",
            "appId": @emr.appId,
            "formname":"Veneers Consent",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            GetSignaturename('witness');
            localStorage.removeItem("sign");
        }
    });

    //#region Get Signature
    var GetSignaturename = function  (person) {
        $.ajax({
            url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=VeneersConsent',
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                console.log(response);
                let sign = response[0].psb_sign;
                if (response[0].person == "patient") {
                    $("#upat_sign_box").removeClass("d-none");
                    $("#upat_sign").attr("src", sign);
                }
                if (response[0].person == "witness") {
                    $("#uwit_sign_box").removeClass("d-none");
                    $("#uwit_sign").attr("src", sign);
                }
            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr);
            }

        });
    };
    //#endregion Get Signature

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout

    //#region Get CheckedValues
    var GetCheckedValues = function (checknames) {
        var checknames = "@Model.cvca_1";

        if (checknames !== null) {

            if (checknames != "") {
                if (checknames == "Yes") {
                    $('#ucvca_11').attr('checked', 'checked');
                    $("#ucvca_11").prop("checked", true);

                }
                if (checknames == "No") {
                    $('#ucvca_12').attr('checked', 'checked');
                    $("#ucvca_12").prop("checked", true);

                }

            }
        }
    }
//#endregion Get CheckedValues
</script>