@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Veneers Consent";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header" dir="rtl">
                <h3 class="card-title">موافقة المريض على بدء القشرة الخزفية</h3>
            </div>
            <div class="card-body">
                <div id="VeneersConsent_add" style="display:none">
                </div>
                <div id="VeneersConsent_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="VeneersConsent_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetVeneersConsentInfo();
        VeneersConsentPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetVeneersConsentInfo
        var GetVeneersConsentInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetVeneersConsentData", "VeneersConsent", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditVeneersConsent();
                        $("#VeneersConsent_add").hide();
                        $("#VeneersConsent_edit").show();

                    }
                    else {
                        $("#VeneersConsent_add").show();
                        $("#VeneersConsent_edit").hide();
                        AddVeneersConsent();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load VeneersConsent

    //#region Add VeneersConsent
        function AddVeneersConsent() {
            var x = $("#VeneersConsent_add");
        x.load("@Url.Action("CreateVeneersConsent", "VeneersConsent", new { area = "ConsentForms" })", function () {
      });
    }
    //#endregion Add VeneersConsent

    //#region Update VeneersConsent
        function EditVeneersConsent() {
            var x = $("#VeneersConsent_edit");
        x.load("@Url.Action("UpdateVeneersConsent", "VeneersConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
      });
    }
      //#endregion Update VeneersConsent

    //#region Histroy of VeneersConsent
        function VeneersConsentPreviousHistory() {
            var x = $("#VeneersConsent_history");
        x.load("@Url.Action("VeneersConsentPreviousHistory", "VeneersConsent", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
      });
    }
    //#endregion History of VeneersConsent
</script>