@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Laser Hair Arb Derma";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header" dir="rtl">
                <h3 class="card-title">نموذج الموافقة على إزالة الشعر بالليزر - باللغة العربية</h3>
            </div>
            <div class="card-body">
                <div id="LaserHairArbDerma_add" style="display:none">
                </div>
                <div id="LaserHairArbDerma_edit">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="LaserHairArbDerma_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetLaserHairArbDermaInfo();
        LaserHairArbDermaPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetLaserHairArbDermaInfo
    var GetLaserHairArbDermaInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetLaserHairArbDermaData", "LaserHairArbDerma", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditLaserHairArbDerma();
                        $("#LaserHairArbDerma_add").hide();
                        $("#LaserHairArbDerma_edit").show();

                    }
                    else {
                        $("#LaserHairArbDerma_add").show();
                        $("#LaserHairArbDerma_edit").hide();
                        AddLaserHairArbDerma();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load LaserHairArbDerma

    //#region Add LaserHairArbDerma
    function AddLaserHairArbDerma() {
        var x = $("#LaserHairArbDerma_add");
        x.load("@Url.Action("CreateLaserHairArbDerma", "LaserHairArbDerma", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add LaserHairArbDerma

    // #region Update LaserHairArbDerma
    function EditLaserHairArbDerma() {
        var x = $("#LaserHairArbDerma_edit");
        x.load("@Url.Action("UpdateLaserHairArbDerma", "LaserHairArbDerma", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update LaserHairArbDerma

    //#region Histroy of LaserHairArbDerma
    function LaserHairArbDermaPreviousHistory() {
        var x = $("#LaserHairArbDerma_history");
        x.load("@Url.Action("LaserHairArbDermaPreviousHistory", "LaserHairArbDerma", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>