<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta name="keywords" content="Clinic software, Home Care Software, HOMECARE Software, Home Care Management Software, medical software, medical center software, clinic management software, medical center management software, india, USA, dubai, sharjah, united arab emirates, abu dhabi, HAAD, DHA, MOH, DHCC, Dubai Health Care City, electronic prescription, ePrescription, electronic claims, eclaims, esignature, electronic signature, EMIRATESID integration" />
    <meta name="description" content="We Offers Custom Software Development, Website Designing & development, Domain Registration, Website Shared & Dedicated Hosting Service(Linux & Windows). We are offshore software development and software outsourcing experts. Our focus is application development, database design, Web design, ecommerce solutions and ecommerce Web site design." />
    <meta name="author" content="Vision Softwares">
    <meta name="distribution" content="Global" />
    <meta name="rating" content="General" />
    <meta name="subject" content="Computers/Software" />
    <meta name="page-type" content="Computers/Software" />
    <meta name="site-created" content="28-04-2005" />
    <meta name="revisit" content="6 days" />
    <meta name="revisit-after" content="6 days" />
    <meta name="content-language" content="english" />
    <meta name="resource-type" content="document" />
    <meta name="audience" content="all" />
    <meta name="robots" content="index,all" />
    <meta name="copyright" content="(c) 2005-2050 Vision Technologies " />
    <meta name="owner" content="Vision Technologies, Software Development, Website Design & Development, IT Infrastructure, Security Systems, Access Controls and IT Outsourcing Company" />
    <meta name="home_url" content="https://www.visionsoftwares.com/" />

    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta name="rating" content="General" />
    <meta name="copyright" content="
   -----------------------------------------------------
   Copyright; 2005-2050, Vision Technologies , All rights reserved.
   All graphics used in this document are copyrighted
   materials; 2005-2020, Vision Technologies , All rights reserved.
   -----------------------------------------------------
   Legal Notice: Information found on this website may not
   be published, broadcast, rewritten or redistributed in
   any form to any other websites or forums without prior
   written permission from visionsoftwares.com.
   Copyrights; 2005-2020, Vision Technologies , All rights reserved.
   -----------------------------------------------------" />

    <meta name="robots" content="Index, Follow" />
    <meta http-equiv="Window-target" content="_top" />
    <meta http-equiv="Expires" content="0" />
    <meta name="WT.sp" content="_en_us_" />
    <meta name="DCSext.wt_ver" content="1.0" />
    <meta name="DCSext.wt_target" content="IE 7;Windows XP;Generic" />
    <meta name="Classification" content="E-Commerce, E-Business, Software development, Website, Hosting, Recruitment Software, Clinic Software, School Software, Property Software, Product Catalogue Software, Accounting Software, Retail Software, Jobs, Careers, Employment Opportunities" />

    <!-- Title -->
    <title>ClinicSoft 9.0 - Powered By Vision Technologies | @ViewBag.Title</title>

    <link rel="icon" href="~/assets/images/brand/favicon.ico" type="image/x-icon" />

    <!--Bootstrap css -->
    <link id="style" href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link id="style" href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Style css -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/dark.css" rel="stylesheet" />
    <link href="~/assets/css/skin-modes.css" rel="stylesheet" />
    <!-- Animate css -->
    <link href="~/assets/css/animated.css" rel="stylesheet" />
    <!-- P-scroll bar css-->
    <link href="~/assets/plugins/p-scrollbar/p-scrollbar.css" rel="stylesheet" />
    <!---Icons css-->
    <link href="~/assets/css/icons.css" rel="stylesheet" />
    <!-- Simplebar css -->
    <link rel="stylesheet" href="~/assets/plugins/simplebar/css/simplebar.css">
    <!-- INTERNAL Morris Charts css -->
    <link href="~/assets/plugins/morris/morris.css" rel="stylesheet" />
    <!-- INTERNAL Select2 css -->
    <link href="~/assets/plugins/select2/select2.min.css" rel="stylesheet" />
    <!---Icons css-->
    <link href="~/assets/css/icons.css" rel="stylesheet" />
    <!-- INTERNAL Fullcalendar css-->
    <link href='~/assets/plugins/fullcalendar/fullcalendar.css' rel='stylesheet' />
    <link href='~/assets/plugins/fullcalendar/fullcalendar.print.min.css' rel='stylesheet' media='print' />
    <!--Date Picker-->
    <link href="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet" />
    <!-- Data table css -->
    <link href="~/assets/plugins/datatables/DataTables/css/dataTables.bootstrap5.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatables/Buttons/css/buttons.bootstrap5.min.css" rel="stylesheet">
    <link href="~/assets/plugins/datatables/Responsive/css/responsive.bootstrap5.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatables/Select/css/select.dataTables.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatables/Checkbox/dataTables.checkboxes.css" rel="stylesheet" />
    <!-- Color Skin css -->
    <link id="theme" href="~/assets/colors/color1.css" rel="stylesheet" type="text/css" />
    <!--- INTERNAL Sweetalert css-->
    <link href="~/assets/plugins/sweet-alert/jquery.sweet-modal.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/sweet-alert/sweetalert.css" rel="stylesheet" />
    <link href="~/assets/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <!-- INTERNAL Accordion Css -->
    <link href="~/assets/plugins/accordion/accordion.css" rel="stylesheet" />
    <!-- INTERNAL Sumoselect css-->
    <link rel="stylesheet" href="~/assets/plugins/sumoselect/sumoselect.css">
    <link href="~/assets/plugins/charts-c3/c3-chart.css" rel="stylesheet" />
    <link href="~/assets/plugins/notify/css/jquery.growl.css" rel="stylesheet" />
    <link href="~/assets/plugins/notify/css/notifIt.css" rel="stylesheet" />
    <link href="~/assets/plugins/prism/prism.css" rel="stylesheet" />
    <link href="~/assets/css/custom.css" rel="stylesheet" />
    <!-- INTERNAL  Tabs css-->
    <link href="~/assets/plugins/tabs/style.css" rel="stylesheet" />
    <link href="~/assets/plugins/date-picker/date-picker.css" rel="stylesheet" />
    <!-- Jquery js-->
    <script src="~/assets/js/jquery.min.js"></script>
    <!-- INTERNAl Quill css -->
    <link href="~/assets/plugins/quill/quill.snow.css" rel="stylesheet">
    <link href="~/assets/plugins/quill/quill.bubble.css" rel="stylesheet">

    <style type="text/css">
        .modal-lg {
            max-width: 1200px;
        }

        .slide-menu a.active {
            color: #ffffff !important;
            background: #664dc9 !important;
            font-weight: 600;
        }

        .menu-prefix {
            padding-right: 5px;
        }
    </style>
</head>

<body class="app sidebar-mini">
    <!---Global-loader-->
    <div id="global-loader">
        <img src="~/assets/images/svgs/loader1.svg" alt="loader">
    </div>
    <!--- End Global-loader-->
    <!-- Page -->
    <div class="page">
        <div class="page-main">
            @Html.Partial("_Tab_SideMenu")

            <!-- App-Content -->
            <div class="app-content main-content">
                <div class="side-app">
                    @Html.Partial("_Tab_Header")

                    <div id="spinner2" class="spinner-container2">
                        <div class="dimmer active">
                            <div class="sk-circle">
                                <div class="sk-circle1 sk-child"></div>
                                <div class="sk-circle2 sk-child"></div>
                                <div class="sk-circle3 sk-child"></div>
                                <div class="sk-circle4 sk-child"></div>
                                <div class="sk-circle5 sk-child"></div>
                                <div class="sk-circle6 sk-child"></div>
                                <div class="sk-circle7 sk-child"></div>
                                <div class="sk-circle8 sk-child"></div>
                                <div class="sk-circle9 sk-child"></div>
                                <div class="sk-circle10 sk-child"></div>
                                <div class="sk-circle11 sk-child"></div>
                                <div class="sk-circle12 sk-child"></div>
                            </div>
                        </div>
                    </div>

                    @RenderBody()
                </div>
            </div>
            <!-- End app-content-->

            @Html.Partial("_Tab_Footer")
        </div>
    </div>
    <!-- End Page -->
    <!-- Back to top -->
    <a href="#top" id="back-to-top"><i class="fe fe-chevron-up"></i></a>
    <!-- Bootstrap5 js-->
    <script src="~/assets/plugins/bootstrap/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- Circle-progress js-->
    <script src="~/assets/js/circle-progress.min.js"></script>
    <script src="~/assets/plugins/othercharts/jquery.knob.js"></script>
    <script src="~/assets/plugins/othercharts/jquery.sparkline.min.js"></script>
    <!-- Jquery-rating js-->
    <script src="~/assets/plugins/rating/jquery.barrating.js"></script>
    <script src="~/assets/plugins/rating/jquery.rating-stars.js"></script>
    <script src="~/assets/plugins/rating/jquery.rating-stars.min.js"></script>
    <!--Sidemenu js-->
    <script src="~/assets/plugins/sidemenu/sidemenu.js"></script>
    <!-- P-scroll js-->
    <script src="~/assets/plugins/p-scrollbar/p-scrollbar.js"></script>
    <script src="~/assets/plugins/p-scrollbar/p-scroll1.js"></script>
    <!--INTERNAL Moment js-->
    <script src="~/assets/plugins/moment/moment.js"></script>
    <!-- INTERNAL Data tables -->
    <script src="~/assets/plugins/datatables/DataTables/js/jquery.dataTables.js"></script>
    <script src="~/assets/plugins/datatables/DataTables/js/dataTables.bootstrap5.js"></script>
    <script src="~/assets/plugins/datatables/Buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/plugins/datatables/Buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/assets/plugins/datatables/JSZip/jszip.min.js"></script>
    <script src="~/assets/plugins/datatables/pdfmake/pdfmake.min.js"></script>
    <script src="~/assets/plugins/datatables/pdfmake/vfs_fonts.js"></script>
    <script src="~/assets/plugins/datatables/Buttons/js/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatables/Buttons/js/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatables/Buttons/js/buttons.colVis.min.js"></script>
    <script src="~/assets/plugins/datatables/Responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatables/Responsive/js/responsive.bootstrap5.min.js"></script>
    <script src="~/assets/plugins/datatables/Select/js/dataTables.select.min.js"></script>
    <script src="~/assets/plugins/datatables/Checkbox/dataTables.checkboxes.min.js"></script>
    <!-- INTERNAL Select2 js -->
    <script src="~/assets/plugins/select2/select2.full.min.js"></script>
    <!-- Simplebar JS -->
    <script src="~/assets/plugins/simplebar/js/simplebar.min.js"></script>
    <!-- INTERNAL Sweet alert js -->
    <script src="~/assets/plugins/sweet-alert/jquery.sweet-modal.min.js"></script>
    <script src="~/assets/plugins/sweet-alert/sweetalert.min.js"></script>
    <script src="~/assets/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!--Date Range Picker-->
    <script src="~/assets/plugins/date-picker/date-picker.js"></script>
    <script src="~/assets/plugins/date-picker/jquery-ui.js"></script>
    <script src="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <!--INTERNAl Time Counter -->
    <script src="~/assets/plugins/counters/jquery.missofis-countdown.js"></script>
    <!--INTERNAl Counters -->
    <script src="~/assets/plugins/counters/counterup.min.js"></script>
    <script src="~/assets/plugins/counters/waypoints.min.js"></script>
    <script src="~/assets/plugins/countdown/moment.min.js"></script>
    <script src="~/assets/plugins/countdown/moment-timezone.min.js"></script>
    <script src="~/assets/plugins/countdown/moment-timezone-with-data.min.js"></script>
    <script src="~/assets/plugins/countdown/countdowntime.js"></script>
    <!--INTERNAL Accordion js-->
    <script src="~/assets/plugins/accordion/accordion.min.js"></script>
    <script src="~/assets/plugins/sumoselect/jquery.sumoselect.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/assets/plugins/input-mask/jquery.mask.min.js"></script>
    <script src="~/assets/plugins/input-mask/jquery.maskedinput.js"></script>
    <!--INTERNAL Form Advanced Element -->
    <script src="~/assets/js/file-upload.js"></script>
    <!-- INTERNAL Notifications js -->
    <script src="~/assets/plugins/notify/js/rainbow.js"></script>
    <script src="~/assets/plugins/notify/js/jquery.growl.js"></script>
    <script src="~/assets/plugins/notify/js/notifIt.js"></script>
    <!--- INTERNAL Tabs js-->
    <script src="~/assets/plugins/tabs/jquery.multipurpose_tabcontent.js"></script>

    <script src="~/assets/plugins/spectrum-colorpicker/spectrum.js"></script>
    <!-- Custom js-->
    <script src="~/assets/js/custom.js"></script>
    <!-- INTERNAL quill js -->
    <script src="~/assets/plugins/quill/quill.min.js"></script>

    <script type="text/javascript">
        //#region Document Load
        $(function () {
            $('.open-toggle').click(function () {
                $('.dataTables_scrollHeadInner').css('width', '100%');

                var table = $('.resize-table').DataTable();
                setTimeout(function () {
                    table.columns.adjust().draw();
                }, 450);
            });

            $("body").addClass("app sidebar-mini sidenav-toggled");
        });
        //#endregion

        //#region LogOut Confirmation
        $('#btn_logout').on('click', function () {
            Swal.fire({
                title: "Sign Out",
                text: "Are you sure want to sign out ?",
                icon: "question",
                showCancelButton: !0,
                confirmButtonText: 'Yes! I Confirm',
                cancelButtonText: 'No! Cancel Please',
                confirmButtonClass: "btn btn-success mt-2", cancelButtonClass: "btn btn-danger ms-2 mt-2", buttonsStyling: !1
            }).then(function (t) {
                if (t.value) {
                    $.ajax({
                        url: "@Url.Action("LogOut", "Login", new { area = "Tab" })",
                        type: "GET",
                        contentType: "application/json",
                        dataType: "html",
                        success: function (data) {
                            window.location.href = "@Url.Action("PatientConsents", "PatientConsents", new { area = "Tab" })";
                        },
                        error: function (xhr) {
                            Swal.fire({
                                title: "Error!",
                                text: "Failed to Sign Out! Please refresh the Page and Try Again.",
                                icon: "error",
                                showCancelButton: 0,
                                confirmButtonColor: "#0bb197",
                                cancelButtonColor: "#ff3d60",
                            })
                        }
                    });
                }
            });
        });
        //#endregion

        //#region Go to ClinicSoft
        $('#btn_ClinicSoft').on('click', function () {
            Swal.fire({
                title: "Logout & Proceed to ClinicSoft",
                text: "Are you sure want to sign out ?",
                icon: "question",
                showCancelButton: !0,
                confirmButtonText: 'Yes! I Confirm',
                cancelButtonText: 'No! Cancel Please',
                confirmButtonClass: "btn btn-success mt-2", cancelButtonClass: "btn btn-danger ms-2 mt-2", buttonsStyling: !1
            }).then(function (t) {
                if (t.value) {
                    $.ajax({
                        url: "@Url.Action("LogOut", "Login", new { area = "Tab" })",
                        type: "GET",
                        contentType: "application/json",
                        dataType: "html",
                        success: function (data) {
                            window.location.href = "@Url.Action("Login", "Authentication", new { area = "Authentication" })";
                        },
                        error: function (xhr) {
                            Swal.fire({
                                title: "Error!",
                                text: "Failed to Sign Out! Please refresh the Page and Try Again.",
                                icon: "error",
                                showCancelButton: 0,
                                confirmButtonColor: "#0bb197",
                                cancelButtonColor: "#ff3d60",
                            })
                        }
                    });
                }
            });
        });
        //#endregion

        //#region UI Controls
        var resizedt_name = function (tbl_name) {
            setTimeout(function () {
                var tables = $.fn.dataTable.tables({ visible: true, api: true });
                if (tables) {
                    $('#' + tbl_name).DataTable().columns.adjust();
                }
            }, 450);
        }
        //#endregion
    </script>

    @if (IsSectionDefined("myScripts"))
    {
        @RenderSection("myScripts", required: false);
    }
</body>

</html>
