@using BusinessEntities;
@using System.Configuration;

@{
    EMRInfo tab = new EMRInfo();

    if (TempData["emr_data"] == null)
    {
        Response.Redirect("/Tab/PatientConsents/PatientConsents");
    }
    else
    {
        tab = (EMRInfo)TempData["emr_data"];

        TempData.Keep("emr_data");
    }
}

<style type="text/css">
    .emr-pat-info {
        padding-right: 2px;
        padding-left: 2px;
        font-weight: bold;
    }

    .alert1 {
        position: relative;
        padding: 0.75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: 3px;
        font-size: 0.9375rem;
    }
</style>

<div class="mt-2">
    <div class="page-header">
        <div class="page-leftheader d-flex">
            <span class="ms-2">
                <a class="btn btn-outline-primary" data-bs-toggle="collapse" href="#pat_emr_info" role="button" aria-expanded="false" aria-controls="pat_emr_info">
                    Patient Appointment &amp; Medical Information
                </a>
            </span>
        </div>
    </div>

    <div class="collapse mb-2" id="pat_emr_info" style="background:white;">
        <div class="border p-3">
            <div class="row">
                <div class="col-md-2 col-lg-1">
                    <div class="widget-user-image mx-auto mt-2" style="height: 80px; width: 80px;">
                        @if (!string.IsNullOrEmpty(tab.pat_photo))
                        {
                            string imgDataURL = string.Format("data:image/png;base64,{0}", tab.pat_photo.ToString());
                            <img src="@imgDataURL" alt="Patient Profile" class="rounded-circle" />
                        }
                        else
                        {
                            if (tab.pat_gender.ToLower().StartsWith("f"))
                            {
                                <img src='~/images/no-photo-female.jpg' alt="Patient Profile" class="rounded-circle" />
                            }
                            else
                            {
                                <img src='~/images/no-photo-male.jpg' alt="Patient Profile" class="rounded-circle" />
                            }
                        }
                    </div>
                </div>

                <div class="col-md-8 col-lg-10">
                    <div class="alert1 alert-dark" role="alert">
                        MRN : <span class="emr-pat-info">@tab.pat_code</span>  |
                        Name: <span class="emr-pat-info">  @tab.pat_name </span>  |
                        EMID: <span class="emr-pat-info">  @tab.pat_emirateid </span>  |
                        Age: <span class="emr-pat-info"> @tab.pat_age </span>  |
                        Gender: <span class="emr-pat-info"> @tab.pat_gender </span>  |
                        Nationality: <span class="emr-pat-info">  @tab.pat_nationality </span>  |
                        Status: <span class="emr-pat-info"> @tab.pat_ms </span>  |
                        TPA: <span class="emr-pat-info">@tab.app_ic_name (@tab.pi_insno) </span>  |
                        Scheme: <span class="emr-pat-info">@tab.is_title </span>  |
                        Payer: <span class="emr-pat-info">@tab.app_ip_code </span>
                    </div>
                    <div class="alert1 alert-light" role="alert">
                        Visit No : <span class="emr-pat-info">@tab.appId</span>  |
                        Category : <span class="emr-pat-info">  @tab.app_category </span>  |
                        <i class="fe fe-calendar"></i> <span class="emr-pat-info">  @tab.app_fdate_time </span>  |
                        <i class="fa fa-user-md"></i> <span class="emr-pat-info">  @tab.app_doctor_department </span>
                    </div>
                </div>

                <div class="col-md-2 col-lg-1">
                    <div class="widget-user-image mx-auto mt-2" style="height: 80px; width: 80px;">
                        @if (!string.IsNullOrEmpty(tab.emp_photo.ToString()))
                        {
                            if (tab.emp_photo.ToString().Contains(".") && !(tab.emp_photo.ToString().ToUpper().Equals("N/A") || tab.emp_photo.ToString().ToUpper().Equals("NA")))
                            {
                                string imgDataURL = ConfigurationManager.AppSettings["ClinicSoftEndPoint"].ToString() + "images/employee_photos/" + tab.emp_photo.ToString();
                                <img src="@imgDataURL" alt="Doctor Profile" class="rounded-circle" />
                            }
                            else
                            {
                                <img src="~/images/no-photo-doctor.jpg" alt="Doctor Profile" class="rounded-circle" />
                            }
                        }
                        else
                        {
                            <img src="~/images/no-photo-doctor.jpg" alt="Doctor Profile" class="rounded-circle" />
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>