@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Teeth Whitening Arabic";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header" dir="rtl">
                <h3 class="card-title">موافقة المريض على بدء علاج تبييض الأسنان</h3>
            </div>
            <div class="card-body">
                <div id="TeethWhiteningArb_add" style="display:none">
                </div>
                <div id="TeethWhiteningArb_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="TeethWhiteningArb_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetTeethWhiteningArbInfo();
        TeethWhiteningArbPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetTeethWhiteningArbInfo
        var GetTeethWhiteningArbInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetTeethWhiteningArbData", "TeethWhiteningArb", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditTeethWhiteningArb();
                        $("#TeethWhiteningArb_add").hide();
                        $("#TeethWhiteningArb_edit").show();

                    }
                    else {
                        $("#TeethWhiteningArb_add").show();
                        $("#TeethWhiteningArb_edit").hide();
                        AddTeethWhiteningArb();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load TeethWhiteningArb

    //#region Add TeethWhiteningArb
        function AddTeethWhiteningArb() {
            var x = $("#TeethWhiteningArb_add");
        x.load("@Url.Action("CreateTeethWhiteningArb", "TeethWhiteningArb", new { area = "ConsentForms" })", function () {
      });
    }
    //#endregion Add TeethWhiteningArb

    //#region Update TeethWhiteningArb
        function EditTeethWhiteningArb() {
            var x = $("#TeethWhiteningArb_edit");
        x.load("@Url.Action("UpdateTeethWhiteningArb", "TeethWhiteningArb", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
      });
    }
      //#endregion Update TeethWhiteningArb

      //#region Histroy of TeethWhiteningArb
        function TeethWhiteningArbPreviousHistory() {
            var x = $("#TeethWhiteningArb_history");
        x.load("@Url.Action("TeethWhiteningArbPreviousHistory", "TeethWhiteningArb", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
      });
    }
    //#endregion History of TeethWhiteningArb


</script>