@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Slip Lamp";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Consent Form For Removal Of Foreign Body Under Slip-Lamp</h3>
            </div>
            <div class="card-body">
                <div id="SlipLamp_add" style="display:none">
                </div>
                <div id="SlipLamp_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="SlipLamp_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetSlipLampInfo();
        SlipLampPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetSlipLampInfo
    var GetSlipLampInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetSlipLampData", "SlipLamp", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditSlipLamp();
                        $("#SlipLamp_add").hide();
                        $("#SlipLamp_edit").show();

                    }
                    else {
                        $("#SlipLamp_add").show();
                        $("#SlipLamp_edit").hide();
                        AddSlipLamp();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load SlipLamp

    //#region Add SlipLamp
    function AddSlipLamp() {
        var x = $("#SlipLamp_add");
        x.load("@Url.Action("CreateSlipLamp", "SlipLamp", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add SlipLamp

    //#region Update SlipLamp
    function EditSlipLamp() {
        var x = $("#SlipLamp_edit");
        x.load("@Url.Action("UpdateSlipLamp", "SlipLamp", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update SlipLamp

    //#region Histroy of SlipLamp
    function SlipLampPreviousHistory() {
        var x = $("#SlipLamp_history");
        x.load("@Url.Action("SlipLampPreviousHistory", "SlipLamp", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>