@model BusinessEntities.Accounts.MaterialManagement.DirectPayment

<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold" id="exampleModalLongTitle">Add Direct Payment</h5>
    <button aria-label="Close" data-bs-dismiss="modal" class="btn-close" type="button"><span aria-hidden="true">×</span></button>
</div>
<div class="modal-body p-4">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mb-4 font-weight-semibold">
            <span class="text-danger" style="font-size:smaller">Required fields are marked with *</span>
        </div>
    </div>
    <form id="form_EditDirectPayment" >
        @Html.AntiForgeryToken()
        <div class="card">
            <div class="card-group">
                <div class="card shadow-none border border-end-0 overflow-hidden">
                    <div class="row m-2">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="form-label text-black">Branch&nbsp;<span class="text-danger">*</span></label>
                                @Html.DropDownList("u_dp_branch", (IEnumerable<SelectListItem>)ViewData["BranchList"], "Please Select", new { @class = "form-select select2", @disabled = "true" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="form-label text-black">
                                    Debit A/C&nbsp;
                                    <span class="text-danger">*&nbsp;</span>
                                </label>
                                @Html.DropDownList("u_dp_debit", new List<SelectListItem>
                                                          { }, "Select Debit A/C", new { @class = "form-control select2" })
                            </div>
                        </div>
                        @*<div class="col-sm-12 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label class="form-label text-black">
                                        Credit A/C&nbsp;
                                        <span class="text-danger">*&nbsp;</span>
                                    </label>
                                    @Html.DropDownList("u_dp_credit", new List<SelectListItem>
                                                             { }, "Select Credit A/C", new { @class = "form-control select2" })
                                </div>
                            </div>*@
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="form-label text-black">Payment Date&nbsp;<span class="text-danger">*</span></label>
                                @Html.TextBox("u_dp_date", Model.dp_date, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", maxlength = "18" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="form-group">
                                <label class="form-label text-black">
                                    To&nbsp;
                                    <span class="text-danger">*&nbsp;</span>
                                </label>
                                @Html.TextBox("u_dp_to", Model.dp_to, new { @class = "form-control", maxlength = "100", @placeholder = "Enter Supplier Name." })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow-none border overflow-hidden">
                    <div class="row m-2">
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="form-group">
                                <label class="form-label text-black">Cash</label>
                                @Html.TextBox("u_dp_cash", Model.dp_cash, new { @class = "form-control", maxlength = "10", onkeypress = "return validateOneDecimalNumeric(this,event);", value = "0.00" })

                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="form-group">
                                <label class="form-label text-black">Credit Card</label>
                                @Html.TextBox("u_dp_cc", Model.dp_cash, new { @class = "form-control", maxlength = "10", onkeypress = "return validateOneDecimalNumeric(this,event);", value = "0.00" })

                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="form-group">
                                <label class="form-label text-black">Bank Transfer</label>
                                @Html.TextBox("u_dp_bt", Model.dp_bt, new { @class = "form-control", maxlength = "10", onkeypress = "return validateOneDecimalNumeric(this,event);", value = "0.00" })

                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label class="form-label text-black">Bank Transfer Bank&nbsp; <span id="spn_message3" class="text-danger"></span></label>
                                @Html.DropDownList("u_dp_bt_bank", new List<SelectListItem>
                { }, "Select Transfer Bank", new { @class = "form-control select2" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-3">
                            <div class="form-group">
                                <label class="form-label text-black">Cheque Amt</label>
                                @Html.TextBox("u_dp_chq", Model.dp_chq, new { @class = "form-control", maxlength = "10", onkeypress = "return validateOneDecimalNumeric(this,event);", value = "0.00" })

                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label class="form-label">Cheque No.</label>
                                @Html.TextBox("u_dp_chq_no", Model.dp_chq_no, new { @class = "form-control", @placeholder = "", maxlength = "15" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label class="form-label">Cheque Date</label>
                                @Html.TextBox("u_dp_chq_date", Model.dp_chq_date, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", maxlength = "18" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <div class="form-group">
                                <label class="form-label text-black">Cheque Bank</label>
                                @Html.DropDownList("u_dp_chq_bank", new List<SelectListItem>
                                                { }, "Select Cheque Bank", new { @class = "form-control select2" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <label class="form-label text-black">Notes</label>
                    @Html.TextArea("u_dp_notes", Model.dp_notes, new { @class = "form-control", maxlength = "998", @placeholder = "Enter Notes", @rows = "3" })
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <button type="submit" class="btn btn-warning" id="btn_Update">Save Changes</button>
                <button type="button" class="btn btn-outline-danger me-1" data-bs-dismiss="modal">Close</button>
                <label class="text-red" id="error_message"></label>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center text-center mt-4">
            <div id="edit_dpayment_error" class="text-center" style="max-width:800px"></div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center text-center mt-2">
            <div id="EditDirectPayment_Alert"></div>
        </div>
        @if (TempData["ErrorMessage_Update"] != null)
        {
            <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center text-center">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <strong>Error!&nbsp;</strong>@TempData["ErrorMessage_Update"]
                </div>
            </div>
        }
    </form>
</div>

<script>

    //#region Page Load
    $(function () {
        $('#u_dp_branch').select2({
            minimumResultsForSearch: '',
            dropdownParent: $('#edit_directpayment_body'),
            width: '100%'
        });
        $('#u_dp_debit').select2({
            dropdownParent: $('#edit_directpayment_body'),
            placeholder: 'Select Debit A/C',
            width: '100%'
        });
        $('#u_dp_chq_bank').select2({
            minimumResultsForSearch: '',
            dropdownParent: $('#edit_directpayment_body'),
            placeholder: 'Select Cheque Bank',
            width: '100%'
        });
        $('#u_dp_bt_bank').select2({
            minimumResultsForSearch: '',
            dropdownParent: $('#edit_directpayment_body'),
            placeholder: 'Select Cheque Bank',
            width: '100%'
        });

        // Get the current date
        var currentDate = new Date();
        // Get last year date
        var lastYearDate = new Date(currentDate.getFullYear() - 1, currentDate.getMonth(), currentDate.getDate());

        $('#u_dp_date').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-",
            startDate: lastYearDate,
            endDate: currentDate
        });

        $('#u_dp_chq_date').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-"
        });
        $("#u_dp_date").val(moment('@Model.dp_date', 'DD/MM/YYYY').format('DD-MMMM-YYYY'));
        var chq_amt = '@Model.dp_chq';
        if (chq_amt > 0) {
            $("#u_dp_chq_date").val(moment('@Model.dp_chq_date', 'DD/MM/YYYY').format('DD-MMMM-YYYY'));
        }
        $('#u_dp_branch').val('@Model.dp_branch').trigger("change");

        var f_period = "FY - " + moment('@Model.dp_date', 'DD/MM/YYYY').format('YYYY');

        LoadEditDetail('@Model.dp_debit', '@Model.dp_branch', "", f_period, "db");

        if (@Model.dp_bt > 0 && '@Model.dp_bt_bank' != null)
            LoadEditDetail('@Model.dp_bt_bank', '@Model.dp_branch', "B", f_period, "bt");

        if (@Model.dp_chq > 0 && '@Model.dp_chq_bank' != null) {
            f_period = "FY - " + moment('@Model.dp_chq_date', 'DD/MM/YYYY').format('YYYY');
            LoadEditDetail('@Model.dp_chq_bank', '@Model.dp_branch', "B", f_period, "cb");
        }

        validation();
    });
    //#endregion

    //#region load Debit, Credit and Cheque Bank Account on Branch Change
    $('#u_dp_branch').on('select2:select', function (e) {
        $('#u_dp_debit').empty();
        $('#u_dp_chq_bank').empty();
        var branchId = $('#u_dp_branch').val();
        if (branchId.length > 0) {
            LoadEditDetail("selected", branchId);
        }
    });

    var LoadEditDetail = function (code, branchId, group, f_period, type) {
        var _data = {
            "query": code,
            "branches": branchId,
            "period": f_period,
            "groups": group
        }
        $.ajax({
            url: '@Url.Action("GetDebitCreditBankByBranch", "DirectPayments", new { area = "MaterialManagement" })',
            type: "GET",
            contentType: "application/json",
            dataType: "json",
            data: _data,
            success: function (response) {
                if (type == "db") {
                    if ((response).length > 0) {
                        $('#u_dp_debit').empty();
                        $('#u_dp_debit').append('<option value="">Select Debit A/C</option>');
                        $('#u_dp_debit').val('-1');
                        $('#u_dp_debit').trigger('change');
                        $.each(response, function (j) {
                            var newOption = new Option(response[j].text, response[j].id, (response[j].id === -1) ? true : false, (response[j].id === -1) ? true : false);
                            $('#u_dp_debit').append(newOption).trigger('change');
                        });
                    }
                }
                if (type == "cb") {
                    if ((response).length > 0) {
                        $('#u_dp_chq_bank').empty();
                        $('#u_dp_chq_bank').append('<option value="">Select Cheque Bank</option>');
                        $('#u_dp_chq_bank').val('-1');
                        $('#u_dp_chq_bank').trigger('change');
                        $.each(response, function (j) {
                            var newOption = new Option(response[j].text, response[j].id, (response[j].id === -1) ? true : false, (response[j].id === -1) ? true : false);
                            $('#u_dp_chq_bank').append(newOption).trigger('change');
                        });
                    }
                }
                if (type == "bt") {
                    if ((response).length > 0) {
                        $('#u_dp_bt_bank').empty();
                        $('#u_dp_bt_bank').append('<option value="">Select Transfer Bank</option>');
                        $('#u_dp_bt_bank').val('-1');
                        $('#u_dp_bt_bank').trigger('change');
                        $.each(response, function (j) {
                            var newOption = new Option(response[j].text, response[j].id, (response[j].id === -1) ? true : false, (response[j].id === -1) ? true : false);
                            $('#u_dp_bt_bank').append(newOption).trigger('change');
                        });
                    }
                }

            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr);
            }
        }).done(function () {
            $('#u_dp_debit').val('@Model.dp_debit').trigger('change');
            $('#u_dp_chq_bank').val('@Model.dp_chq_bank').trigger('change');
            $('#u_dp_bt_bank').val('@Model.dp_bt_bank').trigger('change');
        });
    }
    //#endregion

    //#region Validate Text Box with One Decimal and numeric only on Key Press
    function validateOneDecimalNumeric(el, evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        var number = el.value.split('.');
        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        //just one dot
        if (number.length > 1 && charCode == 46) {
            return false;
        }
        //get the Current position
        var caratPos = getSelectionStart(el);
        var dotPos = el.value.indexOf(".");
        if (caratPos > dotPos && dotPos > -1 && (number[1].length > 1)) {
            return false;
        }
        return true;
    }
    function getSelectionStart(o) {
        if (o.createTextRange) {
            var r = document.selection.createRange().duplicate()
            r.moveEnd('character', o.value.length)
            if (r.text == '') return o.value.length
            return o.value.lastIndexOf(r.text)
        } else return o.selectionStart
    }
    //#endregion

    //#region Adding Validation
    var validation = function () {
        $("#form_EditDirectPayment").validate({
            focusInvalid: true,
            rules:
            {
                u_dp_branch: {
                    required: true,
                },
                u_dp_credit: {
                    required: true,
                },
                u_dp_debit: {
                    required: true,
                },
                u_dp_date: {
                    required: true,
                },
                u_dp_to: {
                    required: true,
                },
                u_dp_chq_no: {
                    required: function () {
                        var _dp_chq = $('#u_dp_chq').val();
                        if (_dp_chq != undefined && _dp_chq != "" && _dp_chq > 0)
                            return true;
                        else
                            return false;
                    }
                },
                u_dp_chq_date: {
                    required: function () {
                        var _dp_chq = $('#u_dp_chq').val();
                        if (_dp_chq != undefined && _dp_chq != "" && _dp_chq > 0)
                            return true;
                        else
                            return false;
                    }
                },
                u_dp_chq_bank: {
                    required: function () {
                        var _dp_chq = $('#u_dp_chq').val();
                        if (_dp_chq != undefined && _dp_chq != "" && _dp_chq > 0)
                            return true;
                        else
                            return false;
                    }
                },
            },
            messages: {
                u_dp_branch: {
                    required: "Select Branch",
                },
                u_dp_debit: {
                    required: "Select Debit Account",
                },
                u_dp_credit: {
                    required: "Select Credit Account",
                },
                u_dp_date: {
                    required: "Select Payment Date",
                },
                u_dp_to: {
                    required: "Enter Payment To",
                },
                u_dp_chq_no: {
                    required: "Enter Cheque No#",
                },
                u_dp_chq_date: {
                    required: "Enter Cheque Date",
                },
                u_dp_chq_bank: {
                    required: "select Cheque Bank",
                },
            },
            highlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                } else {
                    elem.parent().addClass('has-error');
                }
                $(element).parent().addClass('has-error');
                Error_Timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                } else {
                    elem.removeClass('has-error');
                }
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    element = $("#select2-" + elem.attr("id") + "-container").parent();
                    error.insertAfter(element);
                } else {
                    error.insertAfter(element);
                }
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
    $('#u_dp_date').keypress(function (e) {
        var charCode = (e.which) ? e.which : e.keyCode
        if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
            return false;

        }
        else {
            if (e.target.value.length >= 18)
                return false;
        }
    });
    $('#u_dp_chq_date').keypress(function (e) {
        var charCode = (e.which) ? e.which : e.keyCode
        if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
            return false;

        }
        else {
            if (e.target.value.length >= 18)
                return false;
        }
    });

    var AmountValid = function()
    {
        let count = 0;
        if ($("#u_dp_cash").val().length !== 0 && $("#u_dp_cash").val() !== "" && $("#u_dp_cash").val() !== null)
        {
            if ($("#u_dp_cash").val() > 0)
                count++;
        }
        if ($("#u_dp_cc").val().length !== 0 || $("#u_dp_cc").val() !== "" || $("#u_dp_cc").val() !== null)
        {
            if ($("#u_dp_cc").val() > 0)
                count++;
        }
        if ($("#u_dp_chq").val().length !== 0 || $("#u_dp_chq").val() !== "" || $("#u_dp_chq").val() !== null)
        {
            if ($("#u_dp_chq").val() > 0)
                count++;
        }
        if ($("#u_dp_bt").val().length !== 0 || $("#u_dp_bt").val() !== "" || $("#u_dp_bt").val() !== null)
        {
            if ($("#u_dp_bt").val() > 0)
                count++;
        }

        if (count > 0)
            return true;
        else
            return false;
    }

    //#endregion

    //#region TextBox on Focus Out Event
    $("#u_dp_cash").focusout('input', function () {
        if ($("#u_dp_cash").val().length ===0 || $("#u_dp_cash").val() === "" || $("#u_dp_cash").val() === null)
            $("#u_dp_cash").val("0.00");
    });
    $("#u_dp_cc").focusout('input', function () {
        if ($("#u_dp_cc").val().length === 0 || $("#u_dp_cc").val() === "" || $("#u_dp_cc").val() === null)
            $("#u_dp_cc").val("0.00");
    });
    $("#u_dp_chq").focusout('input', function () {
        if ($("#u_dp_chq").val().length === 0 || $("#u_dp_chq").val() === "" || $("#u_dp_chq").val() === null)
            $("#u_dp_chq").val("0.00");
    });
    $("#u_dp_bt").on('change', function () {
        if ($("#u_dp_bt").val().length === 0 || $("#u_dp_bt").val() === "" || $("#u_dp_bt").val() === null)
            $("#u_dp_bt").val("0.00");
    });
    //#endregion

    //#region Update Direct Payment on Button Click
    $('#btn_Update').on('click', function (e) {
        console.log('clicked')
        e.preventDefault();
        var t = 0;
        if ($('#form_EditDirectPayment').valid()) {
            if (AmountValid()) {
                Swal.fire({
                    title: "Update",
                    text: "Are you sure you want to Update Direct Payment!.",
                    icon: "question",
                    showCancelButton: !0,
                    confirmButtonText: 'Yes! I Confirm',
                    cancelButtonText: 'No! Cancel Please',
                    confirmButtonClass: "btn btn-success mt-2",
                    cancelButtonClass: "btn btn-danger ms-2 mt-2",
                    buttonsStyling: !1
                }).then(function (t) {
                    if (t.value) {
                        var _data = {
                            "dpId": '@Model.dpId',
                            "dp_code": '@Model.dp_code',
                            "dp_date": $('#u_dp_date').val().trim(),
                            "dp_to": $('#u_dp_to').val().trim(),
                            "dp_debit": $('#u_dp_debit').val(),
                            "dp_credit": $('#u_dp_credit').val(),
                            "dp_cash": $('#u_dp_cash').val().trim(),
                            "dp_cc": $('#u_dp_cc').val().trim(),
                            "dp_chq": $('#u_dp_chq').val().trim(),
                            "dp_chq_date": $('#u_dp_chq_date').val().trim(),
                            "dp_bt": $('#u_dp_bt').val(),
                            "dp_bt_bank": $('#dp_bt_bank').val(),
                            "dp_notes": $('#u_dp_notes').val().trim(),
                            "dp_chq_no": $('#u_dp_chq_no').val().trim(),
                            "dp_chq_bank": $('#u_dp_chq_bank').val(),
                            "dp_branch": $('#u_dp_branch').val(),
                            "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                        }
                        $.ajax({
                            url: '@Url.Action("InsertDirectPayment", "DirectPayments", new { area = "MaterialManagement" })',
                            type: "POST",
                            dataType: "json",
                            data: _data,
                            beforeSend: function () {
                                $('#btn_Update').removeClass("btn btn-warning");
                                $('#btn_Update').addClass("btn btn-warning btn-loaders btn-icon");
                                $('#btn_Update').parent().addClass("curdrop");
                                $('.btn-close').addClass("disabled");
                                $('#btn_Update').html("Saving.. Please Wait");
                            },
                            async: false,
                            success: function (data) {
                                $('#btn_Update').removeClass("btn btn-warning btn-loaders btn-icon");
                                $('#btn_Update').addClass("btn btn-warning");
                                $('#btn_Update').parent().removeClass("curdrop");
                                $('.btn-close').removeClass("disabled");
                                $('#btn_Update').html("Save Changes");
                                if (data.isInserted) {
                                    Get_DirectPayments($('#u_dp_date').val().trim(), $('#u_dp_date').val().trim());
                                    var alertPlaceholder = document.getElementById("EditDirectPayment_Alert");
                                    function alert(e, t) {
                                        var l = document.createElement("div");
                                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                    }
                                    alert("<i class='fe fe-check-circle text-white'></i>Direct Payment Updated Successfully!", "success");
                                    $('#edit_directpayment_modal').modal('toggle');
                                    Timeout();
                                }
                                else {
                                    $("#edit_dpayment_error").html('');
                                    var error_message = data.message;
                                    if (error_message == "Error While Updating Direct Payment!") {
                                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                            "<div class='alert alert-light-warning' role='alert' style=';color:#744f04'>" +
                                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                            "<strong><i class='fe fe-alert-triangle'></i>&nbsp;" + error_message + "&nbsp;</strong></div></div>";
                                        $("#edit_dpayment_error").html(html);
                                    }
                                    else {
                                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                            "<div class='alert alert-danger' role='alert'>" +
                                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                            "<strong><i class='fe fe-alert-circle text-white' ></i>&nbsp;Validation Error.. Please correct before you Update!&nbsp;</strong><br/><ul>";
                                        $.each(data.message, function (index, value) {
                                            html += "<li><small>" + value + "</small><li>";
                                            var elem = $("#" + index);
                                            if (elem.hasClass("select2-hidden-accessible")) {
                                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                            }
                                            else {
                                                $(elem).addClass(" is-invalid");
                                            }
                                            setTimeout(function () {
                                                if (elem.hasClass("select2-hidden-accessible")) {
                                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                                }
                                                else {
                                                    $(elem).removeClass("is-invalid");
                                                }
                                            }, 5000);
                                        });
                                        html += "</ul></div></div>";
                                        $("#edit_dpayment_error").html(html);
                                    }
                                    Timeout();
                                }
                            },
                            error: function (xhr) {
                                $('#btn_Update').removeClass("btn btn-warning btn-loaders btn-icon");
                                $('#btn_Update').addClass("btn btn-warning");
                                $('#btn_Update').parent().removeClass("curdrop");
                                $('.btn-close').removeClass("disabled");
                                $('#btn_Update').html("Save Changes");
                                var alertPlaceholder = document.getElementById("EditDirectPayment_Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close text-white" data-bs-dismiss="alert" aria-hidden="true">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-x-circle text-white'></i> Failed to Update Direct Payment!", "danger");
                                $('#edit_directpayment_modal').modal('toggle');
                                Timeout();
                            }
                        });
                    }
                });
            }
            else {
                var alertPlaceholder = document.getElementById("edit_dpayment_error");
                function alert(e, t) {
                    var l = document.createElement("div");
                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>', alertPlaceholder.append(l)
                }
                alert("<i class='fa fa-exclamation-triangle text-warning'></i>Please Fill Mandatory fields & Enter One Payment Mode At Least!", "warning");
                Timeout();
            }
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
            var alertPlaceholder = document.getElementById("edit_dpayment_error");
            function alert(e, t) {
                var l = document.createElement("div");
                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>', alertPlaceholder.append(l)
            }
            alert("<i class='fa fa-exclamation-triangle text-warning'></i>Please Fill Mandatory fields!", "warning");
            Timeout();
        }
    });
    //#endregion

    //#region Remove Valiate Error Class Timeout
    function Error_Timeout(_id) {
        setTimeout(function () {
            $(".has-error").removeClass("has-error");
            $(".error").removeClass("error");
            $("#" + _id + "-error").text("");
        }, 4200);
    }
    //#endregion

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion

</script>
