@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Ortho Instructions";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Ortho Instructions</h3>
            </div>
            <div class="card-body">
                <div id="OrthoInstructions_add" style="display:none">
                </div>
                <div id="OrthoInstructions_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="OrthoInstructions_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        //#region Page Load
        $(function () {
            GetOrthoInstructionsInfo();
            OrthoInstructionsPreviousHistory();
        });

        //#endregion Page Load

        //#region Load GetOrthoInstructionsInfo
        var GetOrthoInstructionsInfo = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetOrthoInstructionsData", "OrthoInstructions", new { area = "ConsentForms" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        console.log(response.length);
                        if (response.length > 0) {
                            EditOrthoInstructions();
                            $("#OrthoInstructions_add").hide();
                            $("#OrthoInstructions_edit").show();

                        }
                        else {
                            $("#OrthoInstructions_add").show();
                            $("#OrthoInstructions_edit").hide();
                            AddOrthoInstructions();
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
        //#endregion Load OrthoInstructions

        //#region Add OrthoInstructions
        function AddOrthoInstructions() {
            var x = $("#OrthoInstructions_add");
            x.load("@Url.Action("CreateOrthoInstructions", "OrthoInstructions", new { area = "ConsentForms" })", function () {
          });
        }
        //#endregion Add OrthoInstructions

        //#region Update OrthoInstructions
        function EditOrthoInstructions() {
            var x = $("#OrthoInstructions_edit");
            x.load("@Url.Action("UpdateOrthoInstructions", "OrthoInstructions", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
          //#endregion Update OrthoInstructions

        //#region History of OrthoInstructions
        function OrthoInstructionsPreviousHistory() {
            var x = $("#OrthoInstructions_history");
            x.load("@Url.Action("OrthoInstructionsPreviousHistory", "OrthoInstructions", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
        //#endregion History of OrthoInstructions

</script>