@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Consent Veneers";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Informed Consent For Veneers</h3>
            </div>
            <div class="card-body">
                <div id="ConsentVeneers_add" style="display:none">
                </div>
                <div id="ConsentVeneers_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="ConsentVeneers_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        //#region Page Load
        $(function () {
            GetConsentVeneersInfo();
            ConsentVeneersPreviousHistory();

        });
        //#endregion Page Load

        //#region Load GetConsentVeneersInfo
        var GetConsentVeneersInfo = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetConsentVeneersData", "ConsentVeneers", new { area = "ConsentForms" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        if (response.length > 0) {
                            EditConsentVeneers();
                            $("#ConsentVeneers_add").hide();
                            $("#ConsentVeneers_edit").show();

                        }
                        else {
                            $("#ConsentVeneers_add").show();
                            $("#ConsentVeneers_edit").hide();
                            AddConsentVeneers();
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
        //#endregion Load ConsentVeneers

        //#region Add ConsentVeneers
        function AddConsentVeneers() {
            var x = $("#ConsentVeneers_add");
            x.load("@Url.Action("CreateConsentVeneers", "ConsentVeneers", new { area = "ConsentForms" })", function () {
          });
        }
        //#endregion Add ConsentVeneers

         //#region Update ConsentVeneers

        function EditConsentVeneers() {
            var x = $("#ConsentVeneers_edit");
            x.load("@Url.Action("UpdateConsentVeneers", "ConsentVeneers", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
         });
        }
         //#endregion Update ConsentVeneers


     //#region History of ConsentVeneers

        function ConsentVeneersPreviousHistory() {
            var x = $("#ConsentVeneers_history");
              x.load("@Url.Action("ConsentVeneersPreviousHistory", "ConsentVeneers", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
         });
     }
    //#endregion History of ConsentVeneers


</script>
