@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Adnic Shifa Form";

        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 mb-4 font-weight-semibold">
                        <span class="text-danger" style="font-size:smaller">Required fields are marked with *</span>
                    </div>
                </div>
                <div>&nbsp;</div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="font-weight-semibold text-blue">
                            <div>Adnic Shifa</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row border-dark">
                            <img src="~/images/header_images/adnic.jpg" />
                        </div>
                    </div>
                </div>
                <div>&nbsp;</div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="row border-dark">
                            <h4 class="page-title mb-0 text-primary text-center">
                                REIMBURSEMENT MEDICAL CLAIM FORM
                            </h4>
                        </div>
                    </div>
                </div>
                <div id="AdnicShifa_add" style="display:none">
                </div>
                <div id="AdnicShifa_edit">
                </div>
                <div id="AdnicShifa_history">
                </div>
            </div>
        </div>
    </div>
</div>

@*@section myScripts{*@
<script>
        //#region Page Load
        $(function () {
            GetAdnicShifaInfo();
            AdnicShifaPreviousHistory();
        });

        //#endregion Page Load

        //#region Load GetAdnicShifaInfo
        var GetAdnicShifaInfo = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAdnicShifaData", "AdnicShifa", new { area = "InsuranceForms" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        if (response.length > 0) {
                            EditAdnicShifa();
                            $("#AdnicShifa_add").hide();
                            $("#AdnicShifa_edit").show();

                        }
                        else {
                            $("#AdnicShifa_add").show();
                            $("#AdnicShifa_edit").hide();
                            AddAdnicShifa();
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
        //#endregion Load AdnicShifa

        //#region Add AdnicShifa
        function AddAdnicShifa() {
            var x = $("#AdnicShifa_add");
            x.load("@Url.Action("CreateAdnicShifa", "AdnicShifa", new { area = "InsuranceForms" })", function () {
          });
        }
        //#endregion Add AdnicShifa

        //#region Update AdnicShifa
        function EditAdnicShifa() {
            var x = $("#AdnicShifa_edit");
            x.load("@Url.Action("UpdateAdnicShifa", "AdnicShifa", new { area = "InsuranceForms" })?appId=" + @emr.appId, function () {
          });
        }
          //#endregion Update AdnicShifa

        //#region History of AdnicShifa
        function AdnicShifaPreviousHistory() {
            var x = $("#AdnicShifa_history");
            x.load("@Url.Action("AdnicShifaPreviousHistory", "AdnicShifa", new { area = "InsuranceForms" })?appId=" + @emr.appId, function () {
          });
        }
        //#endregion History of AdnicShifa

</script>
@*}*@