@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.InsuranceForms.AdnicShifa

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<form id="form_AdnicShifa" autocomplete="off" name="AdnicShifa" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div>&nbsp;</div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="row border-dark">
                <div class="font-weight-semibold text-right">
                    <div class="text-right">
                        <div>&nbsp;</div>
                        <div class="form-group mb-3 text-right">Voucher No : @Html.TextBoxFor(m => m.ads_voucher, new { @class = "form-control-sm", @placeholder = "Enter Voucher No", @id = "ads_voucher" })&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
        <div>&nbsp;</div>
        <div class="row border-dark">
            <div>&nbsp;</div>
        </div>
        <div>&nbsp;</div>
        <div class="row border-dark">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="font-weight-bold text-center">
                    Please read the instructions & guidelines on overleaf before filling the form

                </div>
            </div>
        </div>
        <div>&nbsp;</div>
        <div class="row border-dark">
            <div class="row border-none">
                <div>&nbsp;</div>
                <dive class="mb-1 bg-blue-light text-dark">1.Patient Details</dive>
                <div class="row">
                    <div class="col-lg-3 mb-4">
                        Patient's Name:
                    </div>
                    <div class="col-lg-3 mb-4">
                        <label class="form-label text-green text-left">@emr.pat_name&nbsp;</label>
                    </div>
                    <div class="col-lg-3 mb-4">
                        Patient Health Card No:
                    </div>
                    <div class="col-lg-3 mb-4">
                        <label class="form-label text-green text-left">@emr.pi_polocyno&nbsp;</label>
                    </div>
                </div>

                <div class="row">

                    <div>&nbsp;</div>
                    <div class="row">
                        <div class="col-lg-3 mb-3">
                            Group Member's Name:
                        </div>
                        <div class="col-lg-3 mb-3">
                            @Html.TextBoxFor(m => m.ads_group_mem, new { @class = "form-control form-control-sm", @placeholder = "Enter Group Member Name", @id = "ads_group_mem" })&nbsp;

                        </div>
                        <div class="col-lg-3 mb-3">
                            Type of Plan:
                        </div>
                        <div class="col-lg-3 mb-3">
                            @Html.TextBoxFor(m => m.ads_type_plan, new { @class = "form-control form-control-sm", @placeholder = "Enter Type Plan", @id = "ads_type_plan" })

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 mb-3">
                            Employer's Name:
                        </div>
                        <div class="col-lg-3 mb-3">
                            <label class="form-label text-green text-left">@emr.doc_name &nbsp;</label>
                        </div>
                        <div class="col-lg-3 mb-3">
                            Telephone No:
                        </div>
                        <div class="col-lg-3 mb-3">
                            <label class="form-label text-green text-left">@emr.pat_mob &nbsp;</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 mb-3">
                            Email ID:
                        </div>
                        <div class="col-2 mb-3">
                            <label class="form-label text-green text-left">@emr.pat_email &nbsp;</label>
                        </div>
                        <div class="col-lg-2 mb-3">
                            Address:
                        </div>
                        <div class="col-lg-2 mb-3">
                            <label class="form-label text-green text-left">@emr.pat_address &nbsp;</label>
                        </div>
                        <div class="col-lg-2 mb-3">
                            Date of Birth:
                        </div>
                        <div class="col-lg-2 mb-3">
                            <label class="form-label text-green text-left">@emr.pat_dob &nbsp;</label>
                        </div>
                    </div>
                    <div class="mb-1 bg-blue-light text-dark">
                        2. Reason for not using listed helathcare facilities(Kindly indicate)
                    </div>
                    <div class="row">
                        <div class="col-lg-3 mb-4">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="ads_reason" id="ads_chk1" value="Emergency">
                                <span class="custom-control-label"> Emergency</span>
                            </label>

                        </div>
                        <div class="col-lg-3 mb-4">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="ads_reason" id="ads_chk2" value="Elective">
                                <span class="custom-control-label"> Elective</span>
                            </label>

                        </div>
                        <div class="col-lg-3 mb-4">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="ads_reason" id="ads_chk3" value="Service Not Available">
                                <span class="custom-control-label"> Service Not Available</span>
                            </label>

                        </div>
                        <div class="col-lg-3 mb-4">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="ads_reason" id="ads_chk4" value="On vacation/business trip outside UAE">
                                <span class="custom-control-label"> On vacation/business trip outside UAE</span>
                            </label>
                        </div>
                        <div class="col-lg-3 mb-4">
                            Other(s) please specify   @Html.TextBoxFor(m => m.ads_reason_other, new { @class = "form-control form-control-sm", @placeholder = "Enter other reason", @id = "ads_reason_other" })
                        </div>
                    </div>

                    <div class="mb-1 bg-blue-light text-dark">
                        3. Medical Information(To be filled by treating doctor for all outpatient for cases like hospitalization procedures surgeries-detailed medical report is required)
                    </div>
                    <div class="row text-justify">
                        <div class="col-lg-6 mb-4">
                            Condition Requiring treatment
                            <span>
                                @Html.TextBoxFor(m => m.ads_condition, new { @class = "form-control-sm p-6", @placeholder = "Enter condition", @id = "ads_condition" })
                            </span>
                        </div>
                        <div class="col-lg-6 mb-4">
                            Visit Date   @Html.TextBoxFor(m => m.ads_visit, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "ads_visit" })
                        </div>
                    </div>
                    <div>&nbsp;</div>
                    <div class="row">
                        <div class="text-dark">
                            Onset and duration of illness:
                        </div>
                        <div class="col-lg-3 mb-4">
                            @Html.TextBoxFor(m => m.ads_onset, new { @class = "form-control form-control-sm p-6", @placeholder = "Enter duration", @id = "ads_onset" })
                        </div>
                        <div>Treatment Details</div>
                        <div>
                            @Html.TextBoxFor(m => m.ads_treat_details, new { @class = "form-control-sm p-6", @placeholder = "Enter treatment details", @id = "ads_treat_details" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-12">

                            <div class="text-dark">
                                I declare that i have attended to this patient and that the particulars given are best of my knowledge true and correct.
                            </div>
                            <div class="row">
                                <div class="col-lg-4 mb-4">
                                    Name & Signature of the Doctor:<br /> <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                                </div>

                                <div class="col-lg-4 mb-4">
                                    Date :<label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                                </div>
                                <div class="col-lg-4 mb-4">
                                    Stamp :  <br /><img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="table table-bordered-dark table-condensed">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 bg-blue-light border-dark">
                                        <b>4. Name & Address of the Hospital/Clinic</b>
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg-8 text-dark bg-blue-light border-dark text-center">
                                        <b>Treatment Details</b>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4 border-dark">
                                        <b>Smile Care Medical Center</b>
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg-8 text-dark border-dark text-center">
                                        <div class="row">
                                            <div class="col-sm-2 col-md-2 col-lg-2 border-dark bg-blue-lightest">
                                                CPT Code
                                            </div>
                                            <div class="col-sm-2 col-md-2 col-lg-2 border-dark bg-blue-lightest">
                                                Treatment
                                            </div>
                                            <div class="col-sm-2 col-md-2 col-lg-1 border-dark bg-blue-lightest">
                                                Type
                                            </div>
                                            <div class="col-sm-2 col-md-2 col-lg-2 border-dark bg-blue-lightest">
                                                Price
                                            </div>
                                            <div class="col-sm-2 col-md-2 col-lg-2 border-dark bg-blue-lightest">
                                                Auth. Code
                                            </div>
                                            <div class="col-sm-2 col-md-2 col-lg-2 border-dark bg-blue-lightest">
                                                Auth. Date
                                            </div>
                                            <div class="col-sm-2 col-md-2 col-lg-1 border-dark bg-blue-lightest">
                                                Exp. Date
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12 text-left border-dark">
                                                    No Cash Treatments History Found
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12 bg-blue-dark border-dark">
                                                    &nbsp;
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 border-dark">
                                        @Html.TextBoxFor(m => m.ads_addr1, new { @class = "form-control form-control-sm", @placeholder = "Enter address1", @id = "ads_addr1" })
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-3 border-dark">
                                        @Html.TextBoxFor(m => m.ads_bill1, new { @class = "form-control form-control-sm", @placeholder = "Enter bill1", @id = "ads_bill1" })
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-3 border-dark">
                                        @Html.TextBoxFor(m => m.ads_tdate1, new { @class = "form-control form-control-sm", @placeholder = "Enter tdate1", @id = "ads_tdate1" })
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2 border-dark">
                                        @Html.TextBoxFor(m => m.ads_desc1, new { @class = "form-control form-control-sm", @placeholder = "Enter desc1", @id = "ads_desc1" })
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2 border-dark">
                                        @Html.TextBoxFor(m => m.ads_amt1, new { @class = "form-control form-control-sm", @placeholder = "Enter amt1", @id = "ads_amt1" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 border-dark">
                                        @Html.TextBoxFor(m => m.ads_addr2, new { @class = "form-control form-control-sm", @placeholder = "Enter address2", @id = "ads_addr2" })
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-3 border-dark">
                                        @Html.TextBoxFor(m => m.ads_bill2, new { @class = "form-control form-control-sm", @placeholder = "Enter bill2", @id = "ads_bill2" })
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-3 border-dark">
                                        @Html.TextBoxFor(m => m.ads_tdate2, new { @class = "form-control form-control-sm", @placeholder = "Enter tdate2", @id = "ads_tdate2" })
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2 border-dark">
                                        @Html.TextBoxFor(m => m.ads_desc2, new { @class = "form-control form-control-sm", @placeholder = "Enter desc2", @id = "ads_desc2" })
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2 border-dark">
                                        @Html.TextBoxFor(m => m.ads_amt2, new { @class = "form-control form-control-sm", @placeholder = "Enter amt2", @id = "ads_amt2" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 border-dark">
                                        @Html.TextBoxFor(m => m.ads_addr3, new { @class = "form-control form-control-sm", @placeholder = "Enter address3", @id = "ads_addr3" })
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-3 border-dark">
                                        @Html.TextBoxFor(m => m.ads_bill3, new { @class = "form-control form-control-sm", @placeholder = "Enter bill3", @id = "ads_bill3" })
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-3 border-dark">
                                        @Html.TextBoxFor(m => m.ads_tdate3, new { @class = "form-control form-control-sm", @placeholder = "Enter tdate3", @id = "ads_tdate3" })
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2 border-dark">
                                        @Html.TextBoxFor(m => m.ads_desc3, new { @class = "form-control form-control-sm", @placeholder = "Enter desc3", @id = "ads_desc3" })
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2 border-dark">
                                        @Html.TextBoxFor(m => m.ads_amt3, new { @class = "form-control form-control-sm", @placeholder = "Enter amt3", @id = "ads_amt3" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 border-dark">
                                        @Html.TextBoxFor(m => m.ads_addr4, new { @class = "form-control form-control-sm", @placeholder = "Enter address4", @id = "ads_addr4" })
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-3 border-dark">
                                        @Html.TextBoxFor(m => m.ads_bill4, new { @class = "form-control form-control-sm", @placeholder = "Enter bill4", @id = "ads_bill4" })
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-3 border-dark">
                                        @Html.TextBoxFor(m => m.ads_tdate4, new { @class = "form-control form-control-sm", @placeholder = "Enter tdate4", @id = "ads_tdate4" })
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2 border-dark">
                                        @Html.TextBoxFor(m => m.ads_desc4, new { @class = "form-control form-control-sm", @placeholder = "Enter desc4", @id = "ads_desc4" })
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2 border-dark">
                                        @Html.TextBoxFor(m => m.ads_amt4, new { @class = "form-control form-control-sm", @placeholder = "Enter amt4", @id = "ads_amt4" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2 col-md-2 col-lg-2 border-dark">
                                        @Html.TextBoxFor(m => m.ads_addr5, new { @class = "form-control form-control-sm", @placeholder = "Enter address5", @id = "ads_addr5" })
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-3 border-dark">
                                        @Html.TextBoxFor(m => m.ads_bill5, new { @class = "form-control form-control-sm", @placeholder = "Enter bill5", @id = "ads_bill5" })
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-3 border-dark">
                                        @Html.TextBoxFor(m => m.ads_tdate5, new { @class = "form-control form-control-sm", @placeholder = "Enter tdate5", @id = "ads_tdate5" })
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2 border-dark">
                                        @Html.TextBoxFor(m => m.ads_desc5, new { @class = "form-control form-control-sm", @placeholder = "Enter desc5", @id = "ads_desc5" })
                                    </div>
                                    <div class="col-sm-2 col-md-2 col-lg-2 border-dark">
                                        @Html.TextBoxFor(m => m.ads_amt5, new { @class = "form-control form-control-sm", @placeholder = "Enter amt5", @id = "ads_amt5" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 col-md-3 col-lg-6 border-dark">
                                        <b>Currency(If treatment availed outside UAE)</b>
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg-3 border-dark">
                                        <b>Total:</b>
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg-3 border-dark">
                                        @Html.TextBoxFor(m => m.ads_total, new { @class = "form-control form-control-sm", @placeholder = "Enter TOTAL", @id = "ads_total" })
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="table table-bordered-dark table-condensed">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12 bg-blue-light border-dark">
                                <b>5.Bank Details</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-6 border-dark">
                                <b>Bank Details(Compulsory):</b>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-6 border-dark">
                                @Html.TextBoxFor(m => m.ads_bank, new { @class = "form-control form-control-sm", @placeholder = "Enter Bank Details", @id = "ads_bank" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-6 border-dark">
                                <b>Account Holder Name:</b>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-6 border-dark">
                                @Html.TextBoxFor(m => m.ads_bname, new { @class = "form-control form-control-sm", @placeholder = "Enter Account Holder", @id = "ads_bname" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-6 border-dark">
                                <b>Bank Name:</b>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-6 border-dark">
                                @Html.TextBoxFor(m => m.ads_account, new { @class = "form-control form-control-sm", @placeholder = "Enter Bank Name", @id = "ads_account" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-6 border-dark">
                                <b>Bank Address:</b>
                            </div>
                            <div class="col-sm-4 col-md-4 col-lg-6 border-dark">
                                @Html.TextBoxFor(m => m.ads_baddress, new { @class = "form-control form-control-sm", @placeholder = "Enter Bank Address", @id = "ads_baddress" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-md-2 col-lg-3 border-dark">
                                <b>Currency:</b>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-3 border-dark">
                                @Html.TextBoxFor(m => m.ads_bcurrency, new { @class = "form-control form-control-sm", @placeholder = "Enter Currency", @id = "ads_bcurrency" })
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-3 border-dark">
                                <b>SWIFT Code:</b>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-3 border-dark">
                                @Html.TextBoxFor(m => m.ads_bswiftcode, new { @class = "form-control form-control-sm", @placeholder = "Enter SWIFT Code", @id = "ads_bswiftcode" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div>&nbsp;</div>
                    <div class="row text-justify">
                        <div class="font-weight-bold bg-blue-light">6.Other Information</div>
                        <div>&nbsp;</div>
                        <div class="col-3 mb-3">
                            Is the above case work related
                        </div>
                        <div class="col-3 mb-3">
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="ads_oth_above" id="ads_oth_above11" value="No">
                                <span class="custom-control-label">No</span>
                            </label>
                        </div>
                        <div class="col-lg-3 mb-3">
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="ads_oth_above" id="ads_oth_above12" value="Yes">
                                <span class="custom-control-label">Yes</span> <span class="font-weight-bold">(full details)</span>
                            </label>
                        </div>
                        <div class="col-lg-3 mb-3">
                            @Html.TextBoxFor(m => m.ads_oth_above_det, new { @class = "form-control form-control-sm", @placeholder = "Enter case work", @id = "ads_oth_above_det" })
                        </div>
                    </div>
                    <div class="row text-justify">
                        <div class="col-3 mb-3">
                            Is the claim covered by another insurance
                        </div>
                        <div class="col-3 mb-3">
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="ads_oth_claim" id="ads_oth_claim21" value="No">
                                <span class="custom-control-label">No</span>
                            </label>
                        </div>
                        <div class="col-lg-3 mb-3">
                            <label class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="ads_oth_claim" id="ads_oth_claim22" value="Yes">
                                <span class="custom-control-label"> Yes</span><span class="font-weight-bold">(Please specify the amount reimbursed and by which insurance company)</span>
                            </label>
                        </div>
                        <div class="col-lg-3 mb-3">
                            @Html.TextBoxFor(m => m.ads_oth_claim_det, new { @class = "form-control form-control-sm", @placeholder = "Enter another insurance", @id = "ads_oth_claim_det" })
                        </div>
                    </div>
                    <div>&nbsp;</div>
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">

                        <div class="font-weight-bold bg-blue-light">7.Declaration</div>
                        <div>I, the undersigned hereby declared that the information above is true and complete and that reimbursement requested is for expense paid by me for the treatment of my medical condition.</div>
                        <div>I agree to submit to ADNIC any requested document mandatory / deemed necessary to process my above claim . I hereby authorize ADNIC to approach ,and any doctor / Medical facility/ any Institution or any person who has any record / medical information about me or my family member to provide ADNIC with complete information including copies of the records when requested.</div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">

                        <div>&nbsp;</div>
                        <div class="row text-justify">
                            <div class="col-3 mb-3">
                                @Html.TextBoxFor(m => m.ads_witnessname, new { @class = "form-control form-control-sm", @placeholder = "Enter witness name", @id = "ads_witnessname" })

                            </div>
                            <div class="col-3 mb-3">
                                <div id="pat_sign_box" class="d-none">
                                    <img alt="stamp" id="pat_sign" class="avatar avatar-xl bsquare" />
                                </div>
                            </div>
                            <div class="col-lg-3 mb-3">
                                <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                            </div>
                            <div class="col-lg-3 mb-3">
                                @Html.TextBoxFor(m => m.ads_contact, new { @class = "form-control form-control-sm", @placeholder = "Enter Contact No.", @id = "ads_contact" })
                            </div>
                        </div>
                        <div class="row text-justify">
                            <div class="col-3 mb-3 font-weight-bold">
                                Name Relationship to the Card Holder
                            </div>
                            <div class="col-3 mb-3 font-weight-bold">
                                Signature
                            </div>
                            <div class="col-lg-3 mb-3 font-weight-bold">
                                Date
                            </div>
                            <div class="col-lg-3 mb-3 font-weight-bold">
                                Contact No.
                            </div>
                        </div>
                        <div>&nbsp;</div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">

                        <div class="text-dark bg-blue-light">
                            Instructions
                        </div>
                        <div>1.This form needs to be completed by the insured member (Card holder), only if the provider is not submitting the claim on his behalf.</div>
                        <div>2.Please read the form carefully and make sure to complete all pertinent information. ADNIC will not be able to process any incomplete Reimbursement Claim Form with lacking proper documentation.</div>
                        <div>3.Use a separate form for each Member.</div>
                        <div>4.All the documents including invoices and medical reports should be in either English or Arabic. Documents in other languages must be translated by an official public translator prior to submission.</div>
                        <div>
                            5.The following documents to be attached to your duly filled Reimbursement Claim Form.
                            <ul>
                                <li>• Copy of Card.</li>
                                <li>• Original itemized bill/Invoices (dated) and receipts of payment.</li>
                                <li>• Original prescription for medication given by the treating doctor ( except for controlled drugs) . Validity of the prescription is limited to 60 days and for controlled drugs is limited to 3 days in line with HAAD</li>
                                <li>• Investigation requests/reports like laboratory tests, x-rays, etc.</li>
                            </ul>
                        </div>
                        <div></div>
                        <div>Additional requirements to above:</div>
                        <div>For Inpatient (Hospitalization Cases)</div>
                        <div>• Medical Report/Discharge Summary stamped & signed by the treating Doctor.</div>
                        <div>
                            For treatment availed Outside the UAE
                            <ul>
                                <li>• Copy of passport showing Exit & Re-entry to UAE or any other similar documents (E.g.: E-gate)</li>
                                <li>• Elective treatment is subject to ADNIC prior approval at all times.</li>
                            </ul>
                        </div>
                        <div>6.Please retain copies of receipts and documents enclosed with your claim, as ADNIC will retain original documents.</div>
                        <div>7.All claims s ubject to reimbursement availed within or outside UAE should be submitted within 120 days of incurred treatment.</div>
                        <div>8. Please submit all the above required documents directly to MSH international - DIFC Liberty House Office No 304, Level - 3, P.O Box 506537, Dubai, United Arab Emirates</div>
                        <div>If you need assistance in filling this form please call MSH Toll Free (UAE): 800674823|+971 4 365 1350</div>


                    </div>
                </div>
                <div>&nbsp;</div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="text-dark bg-blue-light">Instructions to complete the Form</div>
                        <div>1.Please write your name & Card Number as mentioned in the Card</div>
                        <div>2.Medical Information – Request your treating doctor to fill up brief medical information about your condition and treatment.</div>
                        <div>3.Provider Name & Address – Kindly use more than one line if necessary to provide this information about each facility where  you were treated</div>
                        <div>4.Bill No. – Please write the serial number/reference number printed on the bill/receipt/invoice for each service separately.</div>
                        <div>5.Service Date – State date of treatment for each service against each bill.</div>
                        <div>6.Description of Services –State type of service like Consultation/Pharmacy/Investigations/Physiotherapy/Dental/ Hospitalization.</div>
                        <div>7.Amount – State the exact amount as appears on the invoices</div>
                        <div>8.Total – Total amount of all the invoices submitted with this form for reimbursement from ADNIC</div>
                        <div>9.Currency – Name of the currency in which actual payment was made.</div>
                        <div>10.If treatment due to road traffic accident a police report is required to be submitted with this form.</div>
                        <div>11.Declaration – Kindly write your name, signature, date, the contact number and relationship to the cardholder.</div>
                    </div>
                    <div>&nbsp;</div>
                    <div class="text-center">
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-12 col-md-6 col-lg-12 text-center">
                <div class="btn-list btn-animation">
                    <button type="submit" class="btn btn-success btn-sm" id="btn_Insert">Add</button>
                    <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                    <button type="button" class="btn btn-danger btn-sm d-none" id="btn_Delete">Delete</button>
                    <button type="button" class="btn btn-sm btn-outline-success d-none" id="btn_Print"> Download/Print </button>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
      //#region Partial View Onload
        $(function () {
            if ("@emp_designation.ToString()" === "Super Administrator") {
                $("#btn_Insert").show();
            }
            else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Insert").show();
                }
                else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Insert").show();
                    }
                    else {
                        $("#btn_Insert").hide();
                    }
                }
            }
            $("#ads_type_plan").val("@emr.ic_name");

           /* GetCheckedValues();*/
            $('#ads_visit').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-"
           });
            $("#ads_visit").bootstrapdatepicker("setDate", moment(new Date("@emr.today")).format("DD-MMMM-YYYY"));
            validate();

        });
      //#endregion Partial View Onload

        //#region Validation Initialization
        var validate = function () {
            $("#form_AdnicShifa").validate({
                rules: {
                    ads_voucher: {
                        required: true
                    },
                    ads_group_mem: {
                        required: true
                    },
                    ads_type_plan: {
                        required: true
                    },
                    ads_reason_other: {
                        required: true
                    },
                    ads_condition: {
                        required: true
                    },
                    ads_treat_details: {
                        required: true
                    },
                    ads_oth_above_det: {
                        required: true
                    },
                    ads_oth_claim_det: {
                        required: true
                    },
                    ads_onset: {
                        required: true
                    },
                    ads_account: {
                        required: true
                    },
                    ads_bname: {
                        required: true
                    },
                    ads_baddress: {
                        required: true
                    },
                    ads_bcurrency: {
                        required: true
                    },
                    ads_bswiftcode: {
                        required: true
                    },
                    ads_witnessname: {
                        required: true
                    },
                    ads_witnessname: {
                        required: true
                    },
                    ads_contact: {
                        required: true
                    },

                },
                messages: {
                    ads_voucher: {
                        required: "Please Enter Voucher No"
                    },
                    ads_group_mem: {
                        required: "Please Enter Group Member Name"
                    },
                    ads_type_plan: {
                        required: "Please Enter Type Plan"
                    },
                    ads_reason_other: {
                        required: "Please Enter other reason"
                    },
                    ads_condition: {
                        required: "Please Enter condition"
                    },
                    //ads_visit: {
                    //    required: "Please Enter Visit Date"
                    //},
                    ads_treat_details: {
                        required: "Please Enter treatment details"
                    },

                    //ads_oth_above: {
                    //    required: "Please Enter other above"
                    //},
                    ads_oth_above_det: {
                        required: "Please Enter case work"
                    },
                    //ads_oth_claim: {
                    //    required: "Please Enter other claim"
                    //},
                    ads_oth_claim_det: {
                        required: "Please Enter another insurance"
                    },
                    ads_onset: {
                        required: "Please Enter duration"
                    },
                    ads_account: {
                        required: "Please Enter Bank Name"
                    },
                    ads_bname: {
                        required: "Please Enter Account Holder"
                    },
                    ads_baddress: {
                        required: "Please Enter Bank Address"
                    },
                    ads_bcurrency: {
                        required: "Please Enter Currency"
                    },
                    ads_bswiftcode: {
                        required: "Please Enter SWIFT Code"
                    },
                    ads_witnessname: {
                        required: "Please Enter witness name"
                    },
                    ads_contact: {
                        required: "Please Enter contact"
                    },

                },
                highlight: function (element) {
                    var elem = $(element);
                    $(element).parent().addClass('has-error');
                    //error_timeout(elem.attr("id"));
                },
                unhighlight: function (element) {
                    var elem = $(element);
                    $(element).parent().removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'text-danger fw-bold',
                errorPlacement: function (error, element) {
                    var elem = $(element);
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });


        }
        //#endregion

        //#region Add  Click
        $('#btn_Insert').on('click', function (e) {
            e.preventDefault();
            if ($("#form_AdnicShifa").valid()) {
                $('#btn_Insert').removeClass("btn btn-sm btn-success");
                $('#btn_Insert').addClass("btn btn-sm btn-success btn-loaders btn-icon");
                $('#btn_Insert').html("Saving the Record....");

                var checkbox_new = $.map($(':checkbox[name=ads_reason]:checked'), function (n, i) {
                   return n.value;
               }).join(',');


                var ads_oth_above = "";

                if ($('#ads_oth_above11').prop('checked')) {
                    ads_oth_above = "No";
                }
                else if ($('#ads_oth_above12').prop('checked')) {
                    ads_oth_above = "Yes";
                }

                var ads_oth_claim = "";

                if ($('#ads_oth_claim21').prop('checked')) {
                    ads_oth_claim = "No";
                }
                else if ($('#ads_oth_claim22').prop('checked')) {
                    ads_oth_claim = "Yes";
                }
                console.log(checkbox_new);
                var _dateInsert = {
                    "adsId": 0,
                    "ads_appId": @emr.appId,
                    "ads_voucher": $("#ads_voucher").val(),
                    "ads_group_mem": $("#ads_group_mem").val(),
                    "ads_type_plan": $("#ads_type_plan").val(),
                    "ads_reason_other": $("#ads_reason_other").val(),
                    "ads_condition": $("#ads_condition").val(),
                    "ads_treat_details": $("#ads_treat_details").val(),
                    "ads_oth_above_det": $("#ads_oth_above_det").val(),
                    "ads_oth_claim_det": $("#ads_oth_claim_det").val(),
                    "ads_onset": $("#ads_onset").val(),
                    "ads_bank": $("#ads_bank").val(),
                    "ads_account": $("#ads_account").val(),
                    "ads_bname": $("#ads_bname").val(),
                    "ads_baddress": $("#ads_baddress").val(),
                    "ads_bcurrency": $("#ads_bcurrency").val(),
                    "ads_bswiftcode": $("#ads_bswiftcode").val(),
                    "ads_witnessname": $("#ads_witnessname").val(),
                    "ads_contact": $("#ads_contact").val(),
                    "ads_oth_above": ads_oth_above,
                    "ads_oth_claim": ads_oth_claim,
                    "ads_reason": checkbox_new,
                    "ads_visit": $("#ads_visit").val(),
                    //"ads_status": "Active",
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dateInsert);
                $.ajax({
                    type: "Post",
                    url: "@Url.Action("InsertAdnicShifa", "AdnicShifa", new {area = "InsuranceForms" })",
                    dataType: 'JSON',
                    data: _dateInsert,
                    success: function (data) {
                        $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                        $('#btn_Insert').addClass("btn btn-sm btn-success");
                        $('#btn_Insert').html("Save Changes");

                        if (data.isSuccess) {
                            if (data.isInserted) {
                                var alertPlaceholder = document.getElementById("Alert");

                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i>  Adnic Shifa Saved Successfully!", "success");
                                Timeout();
                                $("#btn_Delete").removeClass("d-none");
                                $("#btn_Print").removeClass("d-none");
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. Adnic Shifa already Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#Alert").html(html);
                            }
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                            "<div class='alert alert-danger' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                    }, 5000);
                            });

                            html += "</ul></div></div>";

                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                        $('#btn_Insert').addClass("btn btn-sm btn-warning");
                        $('#btn_Insert').html("Add");
                        Timeout();
                    }
                });
            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
        //#endregion Add Click

        //#region Delete Click
        $('#btn_Delete').on('click', function (e) {
            e.preventDefault();
            $('#btn_Delete').removeClass("btn btn-success");
            $('#btn_Delete').addClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Delete').html("Deleting the Record....");

            $.ajax({
                url: '@Url.Action("DeleteAdnicShifa", "AdnicShifa", new { area = "InsuranceForms" })?appId=' + @emr.appId,
                type: "POST",
                dataType: 'JSON',
                success: function (data) {
                    $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Delete').addClass("btn btn-warning");
                    $('#btn_Delete').html("Delete");
                    if (data.isAuthorized) {
                        if (data.success) {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> Adnic Shifa Deleted Successfully!", "success");
                            clearControls();
                            Timeout();

                            $('#btn_Delete').addClass("d-none");
                            $("#pat_sign_box").addClass("d-none");

                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Error!.. Failed to Delete..</strong><br/>" +
                                "</div></div>";
                            $("#error").html(html);
                        }
                    }
                    else {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                    }
                },
                error: function (xhr) {
                    $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Delete').addClass("btn btn-Delete");
                    $('#btn_Delete').html("Delete");
                    Timeout();
                }
            })
        });
    //#endregion

    //#region Print
    $('#btn_Print').on('click', function (e) {
        e.preventDefault();
        $('#btn_Print').removeClass("btn btn-success");
        $('#btn_Print').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Print').html("Printing the Record....");
        $.ajax({
            type: "Get",
            url: "@Url.Action("PrintPDFConsent", "AdnicShifa", new {area = "InsuranceForms" })?appId=" + @emr.appId + "&form=AdnicShifa",
            dataType: 'JSON',
            success: function (data) {
                if (data.isAuthorized) {
                    if (data.success) {
                        window.location.href = data.message.pdfPath
                    }
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        });
    });
    //#endregion Print

        //#region Reset
        $('#btn_Reset').on('click', function (e) {
            e.preventDefault();
            clearControls();
            clearControls1();
        });
        //#endregion Reset

        //#region Clear Controls
         var clearControls = function () {
             $(".form-control").val("");
             $("input[name='ads_reason']:checkbox").prop('checked', false);
         }
         var clearControls1 = function () {
            $(".form-control").val("");
             $("input[name='ads_oth_above']:radio").prop('checked', false);
             $("input[name='ads_oth_claim']:radio").prop('checked', false);
         }


        //#endregion Clear Controls
    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "AdnicShifa",
                "appId": @emr.appId,
                "formname":"Adnic Shifa",
                "formlink":"",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

        //#region Signature
        var openSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "AdnicShifa",
                "appId": @emr.appId,
                "formname":"Adnic Shifa",
                "formlink":"",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
        //#endregion Signature

        $('#signature_pad').on('hidden.bs.modal', function () {
            if (localStorage.getItem("sign") != null) {
                GetSignaturename('patient');
                localStorage.removeItem("sign");
            }
        });

        //#region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=AdnicShifa',
                type: "GET",
                dataType: "json",
                async: false,
                success: function (response) {
                    console.log(response);
                    let sign = response[0].psb_sign;
                    if (response[0].person == "patient") {
                        $("#pat_sign_box").removeClass("d-none");
                        $("#pat_sign").attr("src", sign);
                    }

                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
        //#endregion Get Signature

        //#region Alert Timeout
        function Timeout() {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 4200);
        }
        //#endregion Alert Timeout

</script>



