@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Punctal Plugs";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Closure Of Lacrimal Duct By Punctal Plugs</h3>
            </div>
            <div class="card-body">
                <div id="PunctalPlugs_add" style="display:none">
                </div>
                <div id="PunctalPlugs_edit">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="PunctalPlugs_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetPunctalPlugsInfo();
        PunctalPlugsPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetPunctalPlugsInfo
    var GetPunctalPlugsInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetPunctalPlugsData", "PunctalPlugs", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditPunctalPlugs();
                        $("#PunctalPlugs_add").hide();
                        $("#PunctalPlugs_edit").show();

                    }
                    else {
                        $("#PunctalPlugs_add").show();
                        $("#PunctalPlugs_edit").hide();
                        AddPunctalPlugs();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load PunctalPlugs

    //#region Add PunctalPlugs
    function AddPunctalPlugs() {
        var x = $("#PunctalPlugs_add");
        x.load("@Url.Action("CreatePunctalPlugs", "PunctalPlugs", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add PunctalPlugs

    //#region Update PunctalPlugs
    function EditPunctalPlugs() {
        var x = $("#PunctalPlugs_edit");
        x.load("@Url.Action("UpdatePunctalPlugs", "PunctalPlugs", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update PunctalPlugs

    //#region Histroy of PunctalPlugs
    function PunctalPlugsPreviousHistory() {
        var x = $("#PunctalPlugs_history");
        x.load("@Url.Action("PunctalPlugsPreviousHistory", "PunctalPlugs", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>