@using System.Configuration;
@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConsentForms.ColposcopyForm

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_ColposcopyFormEdit" autocomplete="off" name="ColposcopyForm" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5 mt-5 justify-content-center">
        <div class="row mb-0 mt-0 d-flex font-weight-semibold">
            <div class="col-lg-6 border-light2 mb-0 pt-6 pb-2">
                NURSE TRIAGE:
            </div>
            <div class="col-lg-1 border-light2 mb-0 pt-2 pb-2">
                H:&nbsp; @Html.TextBoxFor(m => m.ccf_1, new { @class = "form-control mb-2 mt-2", @id = "uccf_1" })
            </div>
            <div class="col-lg-1 border-light2 mb-0 pt-2 pb-2">
                W:&nbsp; @Html.TextBoxFor(m => m.ccf_2, new { @class = "form-control mb-2 mt-2", @id = "uccf_2" })
            </div>
            <div class="col-lg-1 border-light2 mb-0 pt-2 pb-2">
                BP:&nbsp; @Html.TextBoxFor(m => m.ccf_3, new { @class = "form-control mb-2 mt-2", @id = "uccf_3" })
            </div>
            <div class="col-lg-1 border-light2 mb-0 pt-2 pb-2">
                T:&nbsp; @Html.TextBoxFor(m => m.ccf_4, new { @class = "form-control mb-2 mt-2", @id = "uccf_4" })
            </div>
            <div class="col-lg-1 border-light2 mb-0 pt-2 pb-2">
                P:&nbsp; @Html.TextBoxFor(m => m.ccf_5, new { @class = "form-control mb-2 mt-2", @id = "uccf_5" })
            </div>
            <div class="col-lg-1 border-light2 mb-0 pt-2 pb-2">
                R:&nbsp; @Html.TextBoxFor(m => m.ccf_6, new { @class = "form-control mb-2 mt-2", @id = "uccf_6" })
            </div>
        </div>
        <div class="row mb-0 mt-0 d-flex font-weight-semibold">
            <div class="col-lg-3 border-light2 mb-0 pt-7 pb-2">
                Allergies:&nbsp;
            </div>
            <div class="col-lg-9 border-light2 mb-0 pt-2 pb-2">
                &nbsp;@Html.TextBoxFor(m => m.ccf_7, new { @class = "form-control mb-2 mt-2", @id = "uccf_7" })
            </div>
        </div>
        <div class="row mb-0 mt-0 d-flex font-weight-semibold">
            <div class="col-lg-4 border-light2 mb-0 pt-3 pb-2">
                Smoker?&nbsp;
            </div>
            <div class="col-lg-4 border-light2 mb-0 pt-2 pb-2">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uccf_radio1" id="uccf_radio11" value="1">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-4 border-light2 mb-0 pt-2 pb-2">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uccf_radio1" id="uccf_radio12" value="2">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row mb-0 mt-0 d-flex font-weight-semibold">
            <div class="col-lg-3 border-light2 mb-0 pt-7 pb-2">
                HISTORY:&nbsp;
            </div>
            <div class="col-lg-9 border-light2 mb-0 pt-2 pb-2">
                &nbsp;@Html.TextBoxFor(m => m.ccf_8, new { @class = "form-control mb-3 mt-2", @id = "uccf_8" })
            </div>
        </div>
        <div class="row mb-0 mt-0 d-flex font-weight-semibold">
            <div class="col-lg-3 border-light2 mb-0 pt-6 pb-2">
                Patient Age :&nbsp;<label class="text-red">@emr.pat_age</label>
            </div>
            <div class="col-lg-3 text-center border-light2 mb-0 pt-6 pb-2">
                Reason for Colposcopy &nbsp;
            </div>
            <div class="col-lg-6 border-light2 mb-0 pt-2 pb-2">@Html.TextBoxFor(m => m.ccf_9, new { @class = "form-control mb-3 mt-2", @id = "uccf_9" })</div>
        </div>
        <div class="row mb-0 mt-0 d-flex font-weight-semibold">
            <div class="col-lg-3 border-light2 mb-0 pt-5 pb-2">
                Date and results of last Pap&nbsp;
            </div>
            <div class="col-lg-9 border-light2 mb-0 pt-2 pb-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fe fe-calendar"></i>
                        </div>
                    </div>
                    <input id="uccf_date1" class="form-control" placeholder="DD-MMM-YYYY" type="text" autocomplete="off">
                </div>
            </div>
        </div>
        <div class="row mb-0 mt-0 d-flex font-weight-semibold">
            <div class="col-lg-3 border-light2 mb-0 pt-6 pb-2">
                Is Patient on: ASA?Coumadin?Other anticoagulant/antiplatelet med?&nbsp;
            </div>
            <div class="col-lg-9 border-light2 mb-0 pt-2 pb-2">
                &nbsp;@Html.TextBoxFor(m => m.ccf_10, new { @class = "form-control mb-2 mt-2", @id = "uccf_10" })
            </div>
        </div>
        <div class="row mb-0 mt-0 d-flex font-weight-semibold">
            <div class="col-lg-3 border-light2 mb-0 pt-4 pb-2">
                Allergic to:
            </div>
            <div class="col-lg-3 border-light2 mb-0 pt-2 pb-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uccf_chk1" id="uccf_chk11" value="1">
                        <span class="custom-control-label">Latex?</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-3 border-light2 mb-0 pt-2 pb-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uccf_chk1" id="uccf_chk12" value="2">
                        <span class="custom-control-label">Iodine?</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-3 border-light2 mb-0 pt-2 pb-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uccf_chk1" id="uccf_chk13" value="3">
                        <span class="custom-control-label">Aspirin or NSAIDs?</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row mb-0 mt-0 d-flex font-weight-semibold">
            <div class="col-lg-3 border-light2 mb-0 pt-5 pb-2">
                Date of Last Normal Menses&nbsp;
            </div>
            <div class="col-lg-3 border-light2 mb-0 pt-2 pb-2">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fe fe-calendar"></i>
                        </div>
                    </div>
                    <input id="uccf_date2" class="form-control" placeholder="DD-MMM-YYYY" type="text" autocomplete="off">
                </div>
            </div>
            <div class="col-lg-3 border-light2 mb-0 pt-5 pb-2">
                Method of contraception&nbsp;
            </div>
            <div class="col-lg-3 border-light2 mb-0 pb-2">
                &nbsp;@Html.TextBoxFor(m => m.ccf_11, new { @class = "form-control mb-2", @id = "uccf_11" })
            </div>
        </div>
        <div class="row mb-0 mt-0 d-flex font-weight-semibold">
            <div class="col-lg-2 border-light2 mb-0 pt-4 pb-2">
                G&nbsp; @Html.TextBoxFor(m => m.ccf_12, new { @class = "form-control mb-2 mt-2", @id = "uccf_12" })
            </div>
            <div class="col-lg-2 border-light2 mb-0 pt-4 pb-2">
                P&nbsp; @Html.TextBoxFor(m => m.ccf_13, new { @class = "form-control mb-2 mt-2", @id = "uccf_13" })
            </div>
            <div class="col-lg-2 border-light2 mb-0 pt-5 pb-2">
                Pregnant now?&nbsp;
            </div>
            <div class="col-lg-3 border-light2 mb-0 pt-5 pb-2">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uccf_radio2" id="uccf_radio21" value="3">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-3 border-light2 mb-0 pt-5 pb-2">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uccf_radio2" id="uccf_radio22" value="4">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row mb-0 mt-0 d-flex font-weight-semibold">
            <div class="col-lg-3 border-light2 mb-0 pt-7 pb-2">
                History of previous colposcopy?    Results?&nbsp;
            </div>
            <div class="col-lg-9 border-light2 mb-0 pt-2 pb-2">
                &nbsp;@Html.TextBoxFor(m => m.ccf_14, new { @class = "form-control mb-2 mt-2", @id = "uccf_14" })
            </div>
        </div>
        <div class="row mb-0 mt-0 d-flex font-weight-semibold">
            <div class="col-lg-3 border-light2 mb-0 pt-7 pb-2">
                Previous cervical cryotherapy, cone biopsy or LEEP?&nbsp;
            </div>
            <div class="col-lg-9 border-light2 mb-0 pt-2 pb-2">
                &nbsp;@Html.TextBoxFor(m => m.ccf_15, new { @class = "form-control mb-2 mt-2", @id = "uccf_15" })
            </div>
        </div>
        <div class="row mb-0 mt-0 d-flex font-weight-semibold">
            <div class="col-lg-4 border-light2 mb-0 pt-4 pb-2">
                History of (circle):
            </div>
            <div class="col-lg-2 border-light2 mb-0 pt-2 pb-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uccf_chk1" id="uccf_chk14" value="4">
                        <span class="custom-control-label">Genital warts?</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2 border-light2 mb-0 pt-2 pb-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uccf_chk1" id="uccf_chk15" value="5">
                        <span class="custom-control-label">HIV?</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2 border-light2 mb-0 pt-2 pb-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uccf_chk1" id="uccf_chk16" value="6">
                        <span class="custom-control-label">HPV?</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2 border-light2 mb-0 pt-2 pb-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uccf_chk1" id="uccf_chk17" value="7">
                        <span class="custom-control-label">Other STD?</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row mb-0 mt-0 d-flex font-weight-semibold">
            <div class="col-lg-4 border-light2 mb-0 pt-4 pb-2">
                Premedication(circle):
            </div>
            <div class="col-lg-2 border-light2 mb-0 pt-2 pb-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uccf_chk1" id="uccf_chk18" value="8">
                        <span class="custom-control-label">None</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2 border-light2 mb-0 pt-2 pb-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uccf_chk1" id="uccf_chk19" value="9">
                        <span class="custom-control-label">ibuprofen 800mg </span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2 border-light2 mb-0 pt-2 pb-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uccf_chk1" id="uccf_chk110" value="10">
                        <span class="custom-control-label">alprazolam 0.5mg </span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2 border-light2 mb-0 pt-2 pb-2 d-flex">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uccf_chk1" id="uccf_chk111" value="11">
                        <span class="custom-control-label">Other&nbsp;&nbsp;</span>
                    </label>
                    <span>@Html.TextBoxFor(m => m.ccf_16, new { @class = "form-control mb-2 mt-2", @id = "uccf_16" })</span>
                </div>
            </div>
        </div>
        <div class="row mb-0 mt-0 d-flex font-weight-semibold">
            <div class="col-lg-12 border-light2 mb-0 pt-4 pb-4">
                PROCEDURE:
            </div>
        </div>
        <div class="row mb-0 mt-0 d-flex font-weight-semibold">
            <div class="col-lg-3 border-light2 mb-0 pt-7 pb-2">
                Vulvar/Vaginal findings  &nbsp;
            </div>
            <div class="col-lg-9 border-light2 mb-0 pt-2 pb-2">
                &nbsp;@Html.TextBoxFor(m => m.ccf_17, new { @class = "form-control mb-3 mt-2", @id = "uccf_17" })
            </div>
        </div>
        <div class="row mb-0 mt-0 d-flex font-weight-semibold">
            <div class="col-lg-6 border-light2 mb-0 pt-2 pb-2">
                Satisfactory colposcopy?(entire TZ and extent of lesion visualized?)&nbsp;
            </div>
            <div class="col-lg-3 border-light2 mb-0 pt-2 pb-2">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uccf_radio3" id="uccf_radio31" value="5">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-3 border-light2 mb-0 pt-2 pb-2">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uccf_radio3" id="uccf_radio32" value="6">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row table-responsive">
            <div class="content" name="example">
                <div class="content-inner">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-12 border-light2 mb-0 pt-2 pb-2">
                            <div class="form-group mb-3">
                                <button id="udrawingdot" class="btn bg-dark-transparent btn-icon btn-svg udrawing-mode" data-mode="udot" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </button>
                                <button id="udrawingcheck" class="btn bg-dark-transparent btn-icon btn-svg udrawing-mode" data-mode="ucheck" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z" />
                                    </svg>
                                </button>
                                <button id="udrawingcircle" class="btn bg-dark-transparent btn-icon btn-svg udrawing-mode" data-mode="ucircle" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                                    </svg>
                                </button>
                                <button id="udrawingcupping" class="btn bg-dark-transparent btn-icon btn-svg udrawing-mode" data-mode="ucupping" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash2" viewBox="0 0 16 16">
                                        <path d="M14 3a.7.7 0 0 1-.037.225l-1.684 10.104A2 2 0 0 1 10.305 15H5.694a2 2 0 0 1-1.973-1.671L2.037 3.225A.7.7 0 0 1 2 3c0-1.105 2.686-2 6-2s6 .895 6 2M3.215 4.207l1.493 8.957a1 1 0 0 0 .986.836h4.612a1 1 0 0 0 .986-.836l1.493-8.957C11.69 4.689 9.954 5 8 5s-3.69-.311-4.785-.793" />
                                    </svg>
                                </button>
                                <button id="uundo_button" class="btn bg-dark-transparent btn-icon btn-svg" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z" />
                                        <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z" />
                                    </svg>
                                </button>
                                <button id="udrawingeraser" class="btn bg-dark-transparent btn-icon btn-svg udrawing-mode" data-mode="ueraser" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eraser-fill text-danger" viewBox="0 0 16 16">
                                        <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828zm.66 11.34L3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293z" />
                                    </svg>
                                </button>
                                <input id="ucolor_picker" type="text">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 mb-0 pt-2 pb-2 border-light2">
                            <div>
                                <canvas id="uimageCanvas" width="200" height="200"></canvas>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 mb-0 pt-2 pb-2 border-light2">
                            <p class="font-weight-semibold">Diagram Key:<br /><br /></p>
                            <p class="font-weight-semibold">Original squamous epithelium = S</p>
                            <p class="font-weight-semibold">Columnar epithelium = C</p>
                            <p class="font-weight-semibold">Squamocolumnar junction = SCJ</p>
                            <p class="font-weight-semibold">Nabothian cyst = N</p>
                            <p class="font-weight-semibold">Gland opening = G<br /><br /></p>
                            <p class="font-weight-semibold">Leukoplakia = L</p>
                            <p class="font-weight-semibold">Acetowhite epithelium = AW<br /><br /></p>
                            <p class="font-weight-semibold">Punctation = P</p>
                            <p class="font-weight-semibold">Mosaicism = M</p>
                            <p class="font-weight-semibold">Atypical vessels = Av</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 mb-0 pt-2 pb-2 border-light2">
                <p class="font-weight-semibold">Cervical lesions/Biopsy sites :<p>
                    <div class="row font-weight-semibold">
                        <div class="col-lg-2">Location</div>
                        <div class="col-lg-2">REID index</div>
                    </div>
                    <div class="row font-weight-semibold">
                        <div class="col-lg-2">(o’clock)</div>
                        <div class="col-lg-2">(see back of form)</div>
                    </div>
                <p class="font-weight-semibold">
                    A:&nbsp;@Html.TextBoxFor(m => m.ccf_18, new { @class = "form-control mb-3 mt-2", @id = "uccf_18" })
                </p>
                <p class="font-weight-semibold">
                    B:&nbsp;@Html.TextBoxFor(m => m.ccf_19, new { @class = "form-control mb-3 mt-2", @id = "uccf_19" })
                </p>
                <p class="font-weight-semibold">
                    C:&nbsp;@Html.TextBoxFor(m => m.ccf_20, new { @class = "form-control mb-3 mt-2", @id = "uccf_20" })
                </p>

            </div>
        </div>
        <div class="row mb-0 mt-0 d-flex font-weight-semibold">
            <div class="col-lg-4 border-light2 mb-0 pt-4 pb-2">
                Endocervical sampling?
            </div>
            <div class="col-lg-2 border-light2 mb-0 pt-2 pb-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uccf_chk1" id="uccf_chk112" value="12">
                        <span class="custom-control-label">  N/A </span>
                    </label>
                </div>
            </div>
            <div class="col-lg-3 border-light2 mb-0 pt-2 pb-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uccf_chk1" id="uccf_chk113" value="13">
                        <span class="custom-control-label">Cytobrush</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-3 border-light2 mb-0 pt-2 pb-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uccf_chk1" id="uccf_chk114" value="14">
                        <span class="custom-control-label">Curettage</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row mb-0 mt-0 d-flex font-weight-semibold">
            <div class="col-lg-4 border-light2 mb-0 pt-4 pb-2">
                COLPOSCOPIC IMPRESSION: (circle one - based on most severe lesion)
            </div>
            <div class="col-lg-2 border-light2 mb-0 pt-2 pb-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uccf_chk1" id="uccf_chk115" value="15">
                        <span class="custom-control-label">Normal</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2 border-light2 mb-0 pt-2 pb-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uccf_chk1" id="uccf_chk116" value="16">
                        <span class="custom-control-label">Low Grade (CIN 1)</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2 border-light2 mb-0 pt-2 pb-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uccf_chk1" id="uccf_chk117" value="17">
                        <span class="custom-control-label">High Grade (CIN 2 or 3)</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2 border-light2 mb-0 pt-2 pb-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uccf_chk1" id="uccf_chk118" value="18">
                        <span class="custom-control-label">Cancer</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row mb-0 mt-0 d-flex font-weight-semibold">
            <div class="col-lg-4 border-light2 mb-0 pt-4 pb-2">
                PATHOLOGY REPORT (Histology):  (circle most severe finding)
            </div>
            <div class="col-lg-2 border-light2 mb-0 pt-2 pb-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uccf_chk1" id="uccf_chk119" value="19">
                        <span class="custom-control-label">Normal</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2 border-light2 mb-0 pt-2 pb-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uccf_chk1" id="uccf_chk120" value="20">
                        <span class="custom-control-label">Low Grade (CIN 1)</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2 border-light2 mb-0 pt-2 pb-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uccf_chk1" id="uccf_chk121" value="21">
                        <span class="custom-control-label">High Grade (CIN 2 or 3)</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-2 border-light2 mb-0 pt-2 pb-2">
                <div class="custom-controls d-lg-flex d-md-flex flex-row justify-content-left">
                    <label class="custom-control custom-checkbox ms-sm-2 md-md-2 ms-lg-2">
                        <input type="checkbox" class="custom-control-input" name="uccf_chk1" id="uccf_chk122" value="22">
                        <span class="custom-control-label">Cancer</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row mb-0 mt-0 d-flex font-weight-semibold">
            <div class="col-lg-6 border-light2 mb-0 pt-2 pb-2">
                Do Pap results, colpo impression and path results all correlate within 1 CIN grade?
            </div>
            <div class="col-lg-3 border-light2 mb-0 pt-2 pb-2">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uccf_radio4" id="uccf_radio41" value="7">
                        <span class="custom-control-label">Yes</span>
                    </label>
                </div>
            </div>
            <div class="col-lg-3 border-light2 mb-0 pt-2 pb-2">
                <div class="form-radio">
                    <label class="custom-control custom-radio">
                        <input type="radio" class="custom-control-input" name="uccf_radio4" id="uccf_radio42" value="8">
                        <span class="custom-control-label">No</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row mb-0 mt-0 d-flex font-weight-semibold">
            <div class="col-lg-3 border-light2 mb-0 pt-7 pb-2">
                FOLLOW-UP PLAN:&nbsp;
            </div>
            <div class="col-lg-9 border-light2 mb-0 pt-2 pb-2">
                &nbsp;@Html.TextBoxFor(m => m.ccf_21, new { @class = "form-control mb-3 mt-2", @id = "uccf_21" })
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="3" class="font-weight-bold text-danger fs-18" width="100%">
                        Sign here, only if all of your questions have been answered to your satisfaction
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <div id="upat_sign_box" class="d-none">
                            <img alt="stamp" id="upat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <div id="uwit_sign_box" class="d-none">
                            <img alt="stamp" id="uwit_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold"> Patient Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="upsb_date_patient"></label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                    <td width="33%">
                        @Html.TextBoxFor(m => m.ccf_22, new { @class = "form-control text-center mb-3 mt-2", @id = "uccf_22" })
                        <span class="font-weight-semibold"> Witness Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="upsb_date_witness" name="">&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize">@emr.doc_name&nbsp;</label>
                        <span class="font-weight-semibold">Doctor’s Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="uccf_date_doctor">@Model.ccf_date_modified&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue" width="33%">
                        Patient Signature
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue" width="33%">
                        Witness Signature
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Witness
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('witness')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('witness')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center" width="33%">Doctor’s Signature</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update">Save Changes</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                <button type="button" class="btn btn-danger btn-sm" id="btn_DeleteForm">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print"> Download/Print </button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    // region page load
    var formName1 = $(form_ColposcopyFormEdit).closest('form').attr('name');
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Update").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Update").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Update").show();
                }
                else {
                    $("#btn_Update").hide();
                }
            }
        }

          $('#uccf_date1').bootstrapdatepicker({
                 format: "dd-MM-yyyy",
                 viewMode: "date",
                 todayHighlight: true,
                 autoclose: true,
                 multidate: false,
                 multidateSeparator: "-"
          });
        $("#uccf_date1").bootstrapdatepicker("setDate", moment(new Date("@Model.ccf_date1")).format("DD-MMMM-YYYY"));
    $('#uccf_date2').bootstrapdatepicker({
         format: "dd-MM-yyyy",
         viewMode: "date",
         todayHighlight: true,
         autoclose: true,
         multidate: false,
         multidateSeparator: "-"
    });
     $("#uccf_date2").bootstrapdatepicker("setDate", moment(new Date("@Model.ccf_date2")).format("DD-MMMM-YYYY"));

        validate();
        Loadimage();
        GetCheckedValues();
        GetRadioValues();
        GetSignaturename('patient');
        GetSignaturename('witness');


        $('#ucolor_picker').spectrum({
            type: "flat",
            showInput: true,
            preferredFormat: "hex",
            color: '#0061da'
        });

        const udrawingButtons = document.querySelectorAll('.udrawing-mode');
        udrawingButtons.forEach((button) => {
            button.addEventListener('click', function () {
                uDrawingMode = button.getAttribute('data-mode');
            });
        });

    });
    //#end region Page Load
       var uisErasing = false;

  //#region drawing
  var ucanvas = document.getElementById('uimageCanvas');
  var uctx = ucanvas.getContext('2d');
  var udrawingHistory = [];
  var uDrawingMode = 'udot';


  //#region Load an image
  var Loadimage = function () {
   /*console.log("323");*/
   var uimage = new Image();
   if ("@Model.ccf_doc" != "") {
       uimage.src = "@ConfigurationManager.AppSettings["ClinicSoftEndPoint"].ToString()" + "@Model.ccf_doc";
   }
   else {
       uimage.src = "@ConfigurationManager.AppSettings["ClinicSoftEndPoint"].ToString()" + "images/ConsentForms/MasterImages/Colposcopy Form.jpg";
   }
   uimage.onload = function () {
       // Draw the image onto the canvas
       uctx.drawImage(uimage, 0, 0, ucanvas.width, ucanvas.height);
   };
  }
  // Add drawing functionality
  var uisDrawing = false;
  var ulastX, ulastY;

  ucanvas.addEventListener('mousedown', function (e) {
      var rect = ucanvas.getBoundingClientRect();
      var x = e.clientX - rect.left;
      var y = e.clientY - rect.top;

      if (uisErasing) {
          uerase(x, y);
      } else {
          if (uDrawingMode === 'udot') {
              udrawDot(x, y);
          } else if (uDrawingMode === 'ucheck') {
              udrawcheckMark(x, y);
          }
          else if (uDrawingMode === 'ucircle') {
              udrawingCircle(x, y);
          }
          else if (uDrawingMode === 'ucupping') {
              udrawingCupping(x, y);
          }
          else if (uDrawingMode === 'ueraser') {
              udrawingEraser(x, y);
          }
      }
      uisDrawing = true;
      udrawingHistory.push(canvas.toDataURL());
  });



  ucanvas.addEventListener('mousemove', function (e) {

      if (uisErasing) {
          var x = e.clientX - ucanvas.getBoundingClientRect().left;
          var y = e.clientY - ucanvas.getBoundingClientRect().top;
          uerase(x, y);
      } else if (!uisDrawing) {
          return;
      }

      if (!uisDrawing) return;

      var x = e.offsetX - ucanvas.getBoundingClientRect().left;
      var y = e.offsetY - ucanvas.getBoundingClientRect().top;


      uisDrawing = true;
      udrawingHistory.push(ucanvas.toDataURL());
  });

  function udrawDot(x, y) {
      uctx.fillStyle = $("#ucolor_picker").val();
      uctx.beginPath();
      uctx.arc(x, y, 5, 0, Math.PI * 2);
      uctx.fill();
      udrawingHistory.push(ucanvas.toDataURL());
  }

  var udrawcheckMark = function (x, y) {
      uctx.strokeStyle = $("#ucolor_picker").val();
      uctx.lineWidth = 2;
      uctx.beginPath();
      uctx.moveTo(x - 20, y);
      uctx.lineTo(x - 10, y + 10);
      uctx.lineTo(x + 20, y - 20);
      uctx.stroke();
      udrawingHistory.push(ucanvas.toDataURL());
  }

  var udrawingCircle = function (x, y) {
      uctx.strokeStyle = $("#ucolor_picker").val();
      uctx.lineWidth = 2;
      uctx.beginPath();
      uctx.arc(x, y, 5, 0, Math.PI * 2); // Use the arc method to draw a circle
      uctx.stroke();
      udrawingHistory.push(ucanvas.toDataURL());
  }

  var udrawingCupping = function (x, y) {
      uctx.strokeStyle = $("#ucolor_picker").val(); // Set color for the trash icon
      uctx.lineWidth = 2;
      uctx.beginPath();
      uctx.moveTo(x - 8, y - 16);
      uctx.lineTo(x + 8, y - 16);
      uctx.lineTo(x + 4, y - 2);
      uctx.lineTo(x - 4, y - 2);
      uctx.closePath();
      uctx.stroke();
      udrawingHistory.push(ucanvas.toDataURL());
  }

  var udrawingEraser = function (x, y) {
      var squareSize = 20;
      uctx.fillStyle = "#ffffff";
      uctx.beginPath();
      uctx.rect(x - squareSize / 2, y - squareSize / 2, squareSize, squareSize);
      uctx.fill();
      udrawingHistory.push(ucanvas.toDataURL());
      $("#ucolor_picker").val("#000000");
  }

  function uerase(x, y) {
      uctx.fillStyle = '#ffffff';
      uctx.beginPath();
      uctx.arc(x, y, 10, 0, Math.PI * 2);
      uctx.fill();
      udrawingHistory.push(ucanvas.toDataURL());
  }

  ucanvas.addEventListener('mouseup', function () {
      uisDrawing = false;
  });

  //#region Undo
  $('#uundo_button').on('click', function (e) {
      if (udrawingHistory.length > 1) {
          udrawingHistory.pop(); // Remove the current state
          var uimg = new Image();
          uimg.src = udrawingHistory[udrawingHistory.length - 1];
          uimg.onload = function () {
              uctx.clearRect(0, 0, ucanvas.width, ucanvas.height);
              uctx.drawImage(uimg, 0, 0, ucanvas.width, ucanvas.height);
          };
      }
  });
  //#endregion Undo
    //#region Validation Initialization
    var validate = function () {
        $("#form_ColposcopyFormEdit").validate({
            rules: {
                ccf_21: {
                    required: true
                },
            },
            messages: {
                ccf_21: {
                    required: "Please Enter Follow Up Plans"
                },
            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });


    }
   //#endregion

    //#region Get CheckedValues
     var GetCheckedValues = function (checknames) {
     var checknames = "@Model.ccf_chk1";

       if (checknames !== null) {

         if (checknames != "") {
          var str = "@Model.ccf_chk1";
          var myarray = str.split(',');
          for (var i = 0; i < myarray.length; i++) {
             $('.custom-control-input').each(function () {
                 if (myarray.includes($(this).val())) {
                     $(this).prop("checked", true);
                 }
             });
         }
         console.log(myarray)
     }
   }
 }
//#endregion

    //#region Update  Click
    $('#btn_Update').on('click', function (e) {
        e.preventDefault();
        if ($("#form_ColposcopyFormEdit").valid()) {
            console.log($("#ccfId").val());
            $('#btn_Update').removeClass("btn btn-sm btn-success");
            $('#btn_Update').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Update').html("Updating the Record....");

            var uccf_chk1_ = $.map($(':checkbox[name=uccf_chk1]:checked'), function (n, i) {
                return n.value;
            }).join(',');



            var uccf_radio1 = "";

            if ($('#uccf_radio11').prop('checked')) {
                uccf_radio1 = "Yes";
            }
            else if ($('#uccf_radio12').prop('checked')) {
                uccf_radio1 = "No";
            }

            var uccf_radio2 = "";

            if ($('#uccf_radio21').prop('checked')) {
                uccf_radio2 = "Yes";
            }
            else if ($('#uccf_radio22').prop('checked')) {
                uccf_radio2 = "No";
            }

            var uccf_radio3 = "";

            if ($('#uccf_radio31').prop('checked')) {
                uccf_radio3 = "Yes";
            }
            else if ($('#uccf_radio32').prop('checked')) {
                uccf_radio3 = "No";
            }

            var uccf_radio4 = "";

            if ($('#uccf_radio41').prop('checked')) {
                uccf_radio4 = "Yes";
            }
            else if ($('#uccf_radio42').prop('checked')) {
                uccf_radio4 = "No";
            }


            var canvas = $("#uimageCanvas").get(0);
            var uimgData = canvas.toDataURL();
            console.log(uimgData);

           /* console.log(checkbox_new1);*/
            var _dateInsert = {
                  "ccfId": 0,
                  "ccf_appId": @emr.appId,
                  "ccf_1": $("#uccf_1").val(),
                  "ccf_2": $("#uccf_2").val(),
                  "ccf_3": $("#uccf_3").val(),
                  "ccf_4": $("#uccf_4").val(),
                  "ccf_5": $("#uccf_5").val(),
                  "ccf_6": $("#uccf_6").val(),
                  "ccf_7": $("#uccf_7").val(),
                  "ccf_8": $("#uccf_8").val(),
                  "ccf_9": $("#uccf_9").val(),
                  "ccf_10": $("#uccf_10").val(),
                  "ccf_11": $("#uccf_11").val(),
                  "ccf_12": $("#uccf_12").val(),
                  "ccf_13": $("#uccf_13").val(),
                  "ccf_14": $("#uccf_14").val(),
                  "ccf_15": $("#uccf_15").val(),
                  "ccf_16": $("#uccf_16").val(),
                  "ccf_17": $("#uccf_17").val(),
                  "ccf_18": $("#uccf_18").val(),
                  "ccf_19": $("#uccf_19").val(),
                  "ccf_20": $("#uccf_20").val(),
                  "ccf_21": $("#uccf_21").val(),
                  "ccf_22": $("#uccf_22").val(),
                  "ccf_date1": $("#uccf_date1").val(),
                  "ccf_date2": $("#uccf_date2").val(),
                  "ccf_chk1": uccf_chk1_,
                  "ccf_radio1": uccf_radio1,
                  "ccf_radio2": uccf_radio2,
                  "ccf_radio3": uccf_radio3,
                  "ccf_radio4": uccf_radio4,
                  "image": uimgData,
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
         }
            console.log(_dateInsert);

            $.ajax({
                type: "Post",
                url: "@Url.Action("EditColposcopyForm", "ColposcopyForm", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Update').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-success");
                    $('#btn_Update').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isEdited) {
                            GetColposcopyFormInfo();

                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>ColposcopyForm Updated Successfully!", "success");

                            Timeout();
                            $("#ColposcopyForm_edit").show();
                            $("#ColposcopyForm_add").hide();
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning..  ColposcopyForm Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert1").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Update').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }

    });
    //#endregion Update Click

    //#region Delete Click
    $('#btn_DeleteForm').on('click', function (e) {
        e.preventDefault();
        $('#btn_DeleteForm').removeClass("btn btn-success");
        $('#btn_DeleteForm').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_DeleteForm').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteColposcopyForm", "ColposcopyForm", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-warning");
                $('#btn_DeleteForm').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>ColposcopyForm Deleted Successfully!", "success");
                        clearControls();
                        $("#ColposcopyForm_edit").hide();
                        $("#ColposcopyForm_add").show();
                        AddColposcopyForm();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-Delete");
                $('#btn_DeleteForm').html("Delete");
                Timeout();
            }
        })
    });
//#endregion

    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        Loadimage();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $(".form-control-lg").val("");
        $("input[name='uccf_chk1']:checkbox").prop('checked', false);
        $("input[name='uccf_radio1']:radio").prop('checked', false);
        $("input[name='uccf_radio2']:radio").prop('checked', false);
        $("input[name='uccf_radio3']:radio").prop('checked', false);
        $("input[name='uccf_radio4']:radio").prop('checked', false);
        $("#upat_sign").attr("src", "");
        $("#uwit_sign").attr("src", "");
        Loadimage();
    }
    //#endregion Clear Controls

    //#region Print
$('#btn_Print').on('click', function (e) {
    e.preventDefault();
    $('#btn_Print').removeClass("btn btn-sm btn-success");
    $('#btn_Print').addClass("btn btn-sm btn-success btn-loaders btn-icon");
    $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "ColposcopyForm", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=ColposcopyForm",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {
                if (data.success) {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
    //#endregion Print

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "ColposcopyForm",
            "appId": @emr.appId,
            "formname":"ColposcopyForm",
            "formlink":"PrintColposcopyForm",
            "eSign":""
        }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "ColposcopyForm",
            "appId": @emr.appId,
            "formname":"ColposcopyForm",
            "formlink":"PrintColposcopyForm",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            GetSignaturename('witness');
           localStorage.removeItem("sign");
        }
    });

    //#region Get Signature
  var GetSignaturename = function  (person) {
      $.ajax({
          url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=ColposcopyForm',
          type: "GET",
          dataType: "json",
          async: false,
          success: function (response) {
              //console.log(response);
              let sign = response[0].psb_sign;
              var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY");

              if (response[0].person == "patient") {
                  $("#upat_sign_box").removeClass("d-none");
                  $("#upsb_date_patient").text(date);
                  $("#upat_sign").attr("src", sign);
              }
              if (response[0].person == "witness") {
                  $("#uwit_sign_box").removeClass("d-none");
                  $("#upsb_date_witness").text(date);
                  $("#uwit_sign").attr("src", sign);
              }

          },
          error: function (xhr) {
              console.log(xhr);
              alert(xhr);
          }

      });
  };
  //#endregion Get Signature

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout
       //#region Get GetRadioValues
    var GetRadioValues = function (checknames1, checknames2, checknames3, checknames4) {
    var checknames1 = "@Model.ccf_radio1";
    var checknames2 = "@Model.ccf_radio2";
    var checknames3 = "@Model.ccf_radio3";
    var checknames4 = "@Model.ccf_radio4";

    if (checknames1 !== null) {

        if (checknames1 != "") {
            if (checknames1 == "Yes") {
                $('#uccf_radio11').attr('checked', 'checked');
                $("#uccf_radio11").prop("checked", true);

            }
            if (checknames1 == "No") {
                $('#uccf_radio12').attr('checked', 'checked');
                $("#uccf_radio12").prop("checked", true);

            }


        }
        }

    if (checknames2 !== null) {

            if (checknames2 != "") {
                if (checknames2 == "Yes") {
                    $('#uccf_radio21').attr('checked', 'checked');
                    $("#uccf_radio21").prop("checked", true);

                }
                if (checknames2 == "No") {
                    $('#uccf_radio22').attr('checked', 'checked');
                    $("#uccf_radio22").prop("checked", true);

                }


            }
        }
    if (checknames3 !== null) {

            if (checknames3 != "") {
                if (checknames3 == "Yes") {
                    $('#uccf_radio31').attr('checked', 'checked');
                    $("#uccf_radio31").prop("checked", true);

                }
                if (checknames3 == "No") {
                    $('#uccf_radio32').attr('checked', 'checked');
                    $("#uccf_radio32").prop("checked", true);

                }


            }
        }
    if (checknames4 !== null) {

            if (checknames4 != "") {
                if (checknames4 == "Yes") {
                    $('#uccf_radio41').attr('checked', 'checked');
                    $("#uccf_radio41").prop("checked", true);

                }
                if (checknames4 == "No") {
                    $('#uccf_radio42').attr('checked', 'checked');
                    $("#uccf_radio42").prop("checked", true);

                }


            }
        }
}
  //#endregion Get GetRadioValues
</script>
