@using System.Linq;
@using System.Security.Claims;
@using System.Configuration;
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_name = claims.Where(c => c.Type == ClaimTypes.GivenName).Select(c => c.Value).SingleOrDefault();
    var emp_department = claims.Where(c => c.Type == ClaimTypes.Surname).Select(c => c.Value).SingleOrDefault();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    var company = claims.Where(c => c.Type == ClaimTypes.PrimarySid).Select(c => c.Value).SingleOrDefault();
    var photo = claims.Where(c => c.Type == ClaimTypes.Thumbprint).Select(c => c.Value).SingleOrDefault();
}

<!--app header-->
<div class="app-header header main-header1">
    <div class="container-fluid">
        <div class="d-flex">
            <a class="header-brand" href="@Url.Action("DashboardIndex", "MyDashboard", new { area="Dashboard"})">
                <img src="~/assets/images/brand/logo3.png" class="header-brand-img desktop-lgo" alt="ClinicSoft9 logo">
                <img src="~/assets/images/brand/logo1.png" class="header-brand-img dark-logo" alt="ClinicSoft9 logo">
                <img src="~/assets/images/brand/favicon.png" class="header-brand-img mobile-logo" alt="ClinicSoft9 logo">
                <img src="~/assets/images/brand/favicon1.png" class="header-brand-img darkmobile-logo" alt="ClinicSoft9 logo">
            </a>
            <div class="app-sidebar__toggle d-flex" data-bs-toggle="sidebar">
                <a class="open-toggle" href="javascript:void(0);">
                    <svg xmlns="http://www.w3.org/2000/svg" class="feather feather-align-left header-icon" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M4 6h16v2H4zm0 5h16v2H4zm0 5h16v2H4z" />
                    </svg>
                </a>
            </div>
            <div class="mt-1 d-md-block d-none">
                <form class="form-inline">
                    <div class="search-element">
                        @Html.DropDownList("search_journey", new List<SelectListItem> { }, "Search for", new { @class = "form-control header-search mobile-view-search" })
                    </div>
                </form>
            </div>
            <div class="mt-1 d-md-block d-none"> </div>
            <div class="d-flex order-lg-2 ms-auto main-header-end">
                <button class="navbar-toggler navresponsive-toggler d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="true" aria-label="Toggle navigation">
                    <i class="fe fe-more-vertical header-icons navbar-toggler-icon"></i>
                </button>
                <div class="navbar navbar-expand-lg navbar-collapse responsive-navbar p-0">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                        <div class="d-flex order-lg-2">
                            <div class="dropdown d-flex">
                                <div class="nav-link theme-layout">
                                    <div>
                                        <span class="fs-17 text-end">
                                            @if (!string.IsNullOrEmpty(company))
                                            {
                                                @company.ToString()
                                            }
                                        </span>
                                        @*<div class="small fs-13 text-end" id="date_time"></div>*@
                                        @*<script type="text/javascript">window.onload = date_time('date_time');</script>*@
                                    </div>
                                </div>
                            </div>

                            <div class="dropdown d-flex">
                                <a class="nav-link icon theme-layout nav-link-bg layout-setting">
                                    <span class="light-layout"><svg xmlns="http://www.w3.org/2000/svg" class="header-icon" width="24" height="24" viewBox="0 0 24 24"><path d="M20.742 13.045a8.088 8.088 0 0 1-2.077.271c-2.135 0-4.14-.83-5.646-2.336a8.025 8.025 0 0 1-2.064-7.723A1 1 0 0 0 9.73 2.034a10.014 10.014 0 0 0-4.489 2.582c-3.898 3.898-3.898 10.243 0 14.143a9.937 9.937 0 0 0 7.072 2.93 9.93 9.93 0 0 0 7.07-2.929 10.007 10.007 0 0 0 2.583-4.491 1.001 1.001 0 0 0-1.224-1.224zm-2.772 4.301a7.947 7.947 0 0 1-5.656 2.343 7.953 7.953 0 0 1-5.658-2.344c-3.118-3.119-3.118-8.195 0-11.314a7.923 7.923 0 0 1 2.06-1.483 10.027 10.027 0 0 0 2.89 7.848 9.972 9.972 0 0 0 7.848 2.891 8.036 8.036 0 0 1-1.484 2.059z" /></svg></span>
                                    <span class="dark-layout"><svg xmlns="http://www.w3.org/2000/svg" class="header-icon" width="24" height="24" viewBox="0 0 24 24"><path d="M6.993 12c0 2.761 2.246 5.007 5.007 5.007s5.007-2.246 5.007-5.007S14.761 6.993 12 6.993 6.993 9.239 6.993 12zM12 8.993c1.658 0 3.007 1.349 3.007 3.007S13.658 15.007 12 15.007 8.993 13.658 8.993 12 10.342 8.993 12 8.993zM10.998 19h2v3h-2zm0-17h2v3h-2zm-9 9h3v2h-3zm17 0h3v2h-3zM4.219 18.363l2.12-2.122 1.415 1.414-2.12 2.122zM16.24 6.344l2.122-2.122 1.414 1.414-2.122 2.122zM6.342 7.759 4.22 5.637l1.415-1.414 2.12 2.122zm13.434 10.605-1.414 1.414-2.122-2.122 1.414-1.414z" /></svg></span>
                                </a>
                            </div>

                            <div class="dropdown  header-fullscreen d-flex">
                                <a class="nav-link icon full-screen-link p-0" id="fullscreen-button">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="header-icon" width="24" height="24" viewBox="0 0 24 24">
                                        <path d="M5 5h5V3H3v7h2zm5 14H5v-5H3v7h7zm11-5h-2v5h-5v2h7zm-2-4h2V3h-7v2h5z" />
                                    </svg>
                                </a>
                            </div>

                            <div class="dropdown country-selector d-none">
                                <a href="javascript:void(0);" class="nav-link leading-none" data-bs-toggle="dropdown" onclick="switchLanguage()">
                                    <span class="header-avatar1">
                                        <img src="~/assets/images/us_flag.jpg" alt="img" class="me-2 country">
                                        <span class="fs-14 font-weight-semibold language"> EN</span>
                                    </span>
                                </a>
                            </div>

                            <div class="dropdown header-notify d-flex">
                                <a class="nav-link icon" data-bs-toggle="dropdown">
                                    <i class="ti-headphone-alt text-primary"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow  animated">
                                    <div class="dropdown-header">
                                        <h6 class="mb-0">Reach out to us</h6>
                                    </div>
                                    <div class="notify-menu">
                                        <a href="mailto:support@visionsoftwares.com" class="dropdown-item border-bottom d-flex ps-4">
                                            <div class="notifyimg text-primary"> <img src="~/assets/images/brand/mail.png" /> </div>
                                            <div>
                                                <span class="fs-13">E-Mail Us</span>
                                                <div class="small text-muted">Customer Support</div>
                                            </div>
                                        </a>
                                        <a href="https://clinicsoft.visionsoftwares.com" target="_blank" class="dropdown-item border-bottom d-flex ps-4">
                                            <div class="notifyimg text-success"> <img src="~/assets/images/brand/website.png" /> </div>
                                            <div>
                                                <span class="fs-13">Visit Website</span>
                                                <div class="small text-muted">clinicsoft.visionsoftwares.com</div>
                                            </div>
                                        </a>
                                        <a href="tel:+97165634883" class="dropdown-item border-bottom d-flex ps-4">
                                            <div class="notifyimg text-secondary"> <img src="~/assets/images/brand/call.png" /></div>
                                            <div>
                                                <span class="fs-13">Call Us</span>
                                                <div class="small text-muted">+97165634883</div>
                                            </div>
                                        </a>
                                        <a href="https://wa.me/971567777433" target="_blank" class="dropdown-item border-bottom d-flex ps-4">
                                            <div class="notifyimg text-success"> <img src="~/assets/images/brand/whatsapp.png" /> </div>
                                            <div>
                                                <span class="fs-13">WhatsApp Us</span>
                                                <div class="small text-muted">WhatsApp Support</div>
                                            </div>
                                        </a>
                                        <a href="@Url.Action("Tickets", "Ticket", new { area = "Tools" })" class="dropdown-item border-bottom d-flex ps-4">
                                            <div class="notifyimg text-success"> <img src="~/assets/images/brand/tickets.png" /> </div>
                                            <div>
                                                <span class="fs-13">Tickets</span>
                                                <div class="small text-muted">Raise Ticket for Technical Support</div>
                                            </div>
                                        </a>
                                        <a id="btn_tablet" class="dropdown-item border-bottom d-flex ps-4" style="cursor:pointer;">
                                            <div class="notifyimg text-success"> <img src="~/assets/images/brand/tablet.png" /> </div>
                                            <div>
                                                <span class="fs-13">Tablet</span>
                                                <div class="small text-muted">Experience Our Tablet Application</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="dropdown header-notify d-flex">
                                <a class="nav-link icon" data-bs-toggle="dropdown">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="text-success bi bi-broadcast" viewBox="0 0 16 16">
                                        <path d="M3.05 3.05a7 7 0 0 0 0 9.9.5.5 0 0 1-.707.707 8 8 0 0 1 0-11.314.5.5 0 0 1 .707.707zm2.122 2.122a4 4 0 0 0 0 5.656.5.5 0 1 1-.708.708 5 5 0 0 1 0-7.072.5.5 0 0 1 .708.708zm5.656-.708a.5.5 0 0 1 .708 0 5 5 0 0 1 0 7.072.5.5 0 1 1-.708-.708 4 4 0 0 0 0-5.656.5.5 0 0 1 0-.708zm2.122-2.12a.5.5 0 0 1 .707 0 8 8 0 0 1 0 11.313.5.5 0 0 1-.707-.707 7 7 0 0 0 0-9.9.5.5 0 0 1 0-.707zM10 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z" />
                                    </svg>
                                    <span class="pulse"></span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow animated">
                                    <div class="dropdown-header">
                                        <h6 class="mb-0">Connected To &amp; Approved By</h6>
                                    </div>
                                    <div class="notify-menu" style=" columns: 2; -webkit-columns: 2; -moz-columns: 2;">
                                        <a href="https://malaffi.ae/" target="_blank" class="dropdown-item border-bottom d-flex ps-4 connected-partners">
                                            <img src="~/assets/images/brand/connected_patforms/MALAFFI.png" alt="img">
                                        </a>
                                        <a href="https://www.nabidh.ae/" target="_blank" class="dropdown-item border-bottom d-flex ps-4 connected-partners">
                                            <img src="~/assets/images/brand/connected_patforms/NABIDH.png" alt="img">
                                        </a>
                                        <a href="https://riayati.mohap.gov.ae/" target="_blank" class="dropdown-item border-bottom d-flex ps-4 connected-partners">
                                            <img src="~/assets/images/brand/connected_patforms/RIAYATI.png" alt="img">
                                        </a>
                                        <a href="https://www.tasneef.ae/" target="_blank" class="dropdown-item border-bottom d-flex ps-4 connected-partners">
                                            <img src="~/assets/images/brand/connected_patforms/tasneef.png" alt="img">
                                        </a>
                                        <a href="https://www.doh.gov.ae/en/news/department-of-health-launches-abu-dhabi-healthcare-information-and-cyber-security" target="_blank" class="dropdown-item border-bottom d-flex ps-4 connected-partners">
                                            <img src="~/assets/images/brand/connected_patforms/adhics.png" alt="img">
                                        </a>
                                        <a href="https://www.doh.gov.ae/en/" target="_blank" class="dropdown-item border-bottom d-flex ps-4 connected-partners">
                                            <img src="~/assets/images/brand/connected_patforms/DOH.png" alt="img">
                                        </a>
                                        <a href="https://www.dha.gov.ae/en" target="_blank" class="dropdown-item border-bottom d-flex ps-4 connected-partners">
                                            <img src="~/assets/images/brand/connected_patforms/DHA.png" alt="img">
                                        </a>
                                        <a href="https://mohap.gov.ae/en/" target="_blank" class="dropdown-item border-bottom d-flex ps-4 connected-partners">
                                            <img src="~/assets/images/brand/connected_patforms/MOH.png" alt="img">
                                        </a>
                                        <a href="https://jawdah.qcc.abudhabi.ae/en/Pages/default.aspx" target="_blank" class="dropdown-item border-bottom d-flex ps-4 connected-partners">
                                            <img src="~/assets/images/brand/connected_patforms/jawdah.png" alt="img">
                                        </a>
                                    </div>
                                </div>
                            </div>

                            <div class="dropdown profile-dropdown d-flex">
                                <a href="javascript:void(0);" class="nav-link pe-0 leading-none" data-bs-toggle="dropdown">
                                    <span class="header-avatar1">
                                        @if (!string.IsNullOrEmpty(photo))
                                        {
                                            <img src="@ConfigurationManager.AppSettings["ClinicSoftEndPoint"].ToString()images/employee_photos/@photo" alt="" class="avatar avatar-md brround">
                                        }
                                        else
                                        {
                                            <img src="~/assets/images/users/1.png" alt="" class="avatar avatar-md brround">
                                        }
                                    </span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow animated">
                                    <div class="text-center">
                                        <div class="text-center user pb-0 font-weight-bold">
                                            @if (!string.IsNullOrEmpty(emp_name))
                                            {
                                                @emp_name.ToString()
                                            }
                                        </div>
                                        <span class="text-center user-semi-title">
                                            @if (!string.IsNullOrEmpty(emp_designation))
                                            {
                                                @emp_designation.ToString()
                                            }
                                        </span>
                                        <div class="dropdown-divider"></div>
                                    </div>
                                    @if (emp_designation == "Doctor" || emp_designation == "Therapist")
                                    {
                                        <a class="dropdown-item d-flex" href="@Url.Action("DoctorQueries", "Queries", new { area="Common"})">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="header-icon me-2 bi bi-inbox" viewBox="0 0 16 16">
                                                <path d="M4.98 4a.5.5 0 0 0-.39.188L1.54 8H6a.5.5 0 0 1 .5.5 1.5 1.5 0 1 0 3 0A.5.5 0 0 1 10 8h4.46l-3.05-3.812A.5.5 0 0 0 11.02 4zm9.954 5H10.45a2.5 2.5 0 0 1-4.9 0H1.066l.32 2.562a.5.5 0 0 0 .497.438h12.234a.5.5 0 0 0 .496-.438zM3.809 3.563A1.5 1.5 0 0 1 4.981 3h6.038a1.5 1.5 0 0 1 1.172.563l3.7 4.625a.5.5 0 0 1 .105.374l-.39 3.124A1.5 1.5 0 0 1 14.117 13H1.883a1.5 1.5 0 0 1-1.489-1.314l-.39-3.124a.5.5 0 0 1 .106-.374z" />
                                            </svg>
                                            <div class="fs-13">Inbox</div>
                                        </a>
                                    }
                                    <a class="dropdown-item d-flex" href="@Url.Action("Employees", "Employees", new { area="Masters"})">
                                        <svg class="header-icon me-2" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM7.07 18.28c.43-.9 3.05-1.78 4.93-1.78s4.51.88 4.93 1.78C15.57 19.36 13.86 20 12 20s-3.57-.64-4.93-1.72zm11.29-1.45c-1.43-1.74-4.9-2.33-6.36-2.33s-4.93.59-6.36 2.33C4.62 15.49 4 13.82 4 12c0-4.41 3.59-8 8-8s8 3.59 8 8c0 1.82-.62 3.49-1.64 4.83zM12 6c-1.94 0-3.5 1.56-3.5 3.5S10.06 13 12 13s3.5-1.56 3.5-3.5S13.94 6 12 6zm0 5c-.83 0-1.5-.67-1.5-1.5S11.17 8 12 8s1.5.67 1.5 1.5S12.83 11 12 11z"></path></svg>
                                        <div class="fs-13">Profile</div>
                                    </a>
                                    <a class="dropdown-item d-flex" style="cursor:pointer" id="btn_logout">
                                        <svg class="header-icon me-2" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24" viewBox="0 0 24 24" width="24"><g><rect fill="none" height="24" width="24" /></g><g><path d="M11,7L9.6,8.4l2.6,2.6H2v2h10.2l-2.6,2.6L11,17l5-5L11,7z M20,19h-8v2h8c1.1,0,2-0.9,2-2V5c0-1.1-0.9-2-2-2h-8v2h8V19z" /></g></svg>
                                        <div class="fs-13">Sign Out</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/app header-->