
@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "DentalExternalFormConsentIndex";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title font-weight-semibold" dir="rtl">
                    Dental External Referral Form
                </h3>
            </div>
            <div class="card-body">
                <div id="DentalExternalFormConsent_add">
                </div>
                <div id="DentalExternalFormConsent_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="DentalExternalFormConsent_history">
                </div>
            </div>
        </div>
    </div>
</div>

@section myScripts{
    <script>
        //#region Page Load
        $(function () {
            GetDentalExternalFormConsentInfo();
            DentalExternalFormConsentPreviousHistory();
        });
        //#endregion Page Load

        //#region Load GetDentalExternalFormConsentInfo
        var GetDentalExternalFormConsentInfo = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetDentalExternalFormConsentData", "DentalExternalFormConsent", new { area = "ConsentForms" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        if (response.length > 0) {
                            EditDentalExternalFormConsent();
                        }
                        else {
                             AddDentalExternalFormConsent();
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
        //#endregion Load DentalExternalFormConsent

        //#region Add DentalExternalFormConsent
        function AddDentalExternalFormConsent() {
            $("#DentalExternalFormConsent_edit").html(null);
            $("#DentalExternalFormConsent_edit").hide();
            $("#DentalExternalFormConsent_add").show();
            var x = $("#DentalExternalFormConsent_add");
            let url = "@Url.Action("CreateDentalExternalFormConsent", "DentalExternalFormConsent", new { area = "ConsentForms" })";
            x.load(url, function () { });
        }
        //#endregion Add DentalExternalFormConsent

        // #region Update DentalExternalFormConsent
        function EditDentalExternalFormConsent() {
            $("#DentalExternalFormConsent_add").html(null);
            $("#DentalExternalFormConsent_add").hide();
            $("#DentalExternalFormConsent_edit").show();
            var x = $("#DentalExternalFormConsent_edit");
            let url = "@Url.Action("UpdateDentalExternalFormConsent", "DentalExternalFormConsent", new { area = "ConsentForms" })?appId=" + @emr.appId;
            x.load(url, function () { });
        }
        //#endregion Update DentalExternalFormConsent

        // #region Histroy of DentalExternalFormConsent
        function DentalExternalFormConsentPreviousHistory() {
            var x = $("#DentalExternalFormConsent_history");
            let url = "@Url.Action("DentalExternalFormConsentPreviousHistory", "DentalExternalFormConsent", new { area = "ConsentForms" })?appId=" + @emr.appId;
            x.load(url, function () { });
        }
        //#endregion History of DentalExternalFormConsent
    </script>
}