@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.EMR.LaserTherapySheet
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_EditLaserTherapySheet" class="needs-validation" name="LaserTherapySheet" >

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ltsId)
    @Html.HiddenFor(m => m.lts_appId)
    @Html.HiddenFor(m => m.ltsId, new { @id = "ultsId", @value = "@Model.ltsId" })

    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-12">
            <div class="row border ">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name:&nbsp;</label></div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID:&nbsp;</label></div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_emirateid&nbsp;</label>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Department:&nbsp;</label></div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-2">
                            <label class="form-label text-red text-left">@emr.emp_dept_name&nbsp;</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No :&nbsp;</label></div>

                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code&nbsp;</label>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB&nbsp;</label></div>

                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob&nbsp;</label>
                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality:&nbsp;</label></div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality&nbsp;</label>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender&nbsp;</label></div>

                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender&nbsp;</label>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name	:&nbsp;</label></div>

                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name&nbsp;</label>
                        </div>

                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date&nbsp;</label></div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate&nbsp;</label>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row mt-2">

        <div class="col-sm-12 col-sm-12 col-lg-12">
            <div class="form-group mb-3">
                <label class="form-label text-black">RCMC/05/F.18&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">File No&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-6 col-lg-1">
            <div class="form-group mb-3">
                <label class="form-label text-black">:&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-8">
            <div class="form-group mb-3">
                <label class="form-label text-red text-left">@emr.pat_code&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">Date&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-6 col-lg-1">
            <div class="form-group mb-3">
                <label class="form-label text-black">:&nbsp;</label>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-8">
            <div class="form-group mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fe fe-calendar"></i>
                        </div>
                    </div>
                    @Html.TextBoxFor(m => m.lts_date, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", @id = "ults_date" })
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-sm-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">SESSION&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-6 col-lg-1">
            <div class="form-group mb-3">
                <label class="form-label text-black">:&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-8">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.lts_session, new { @class = "form-control", @placeholder = "Session", maxlength = "15", @id = "ults_session" })
            </div>
        </div>
        <div class="col-sm-12 col-sm-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">BODY PART(S) <span class="text-red bold">*</span>&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-6 col-lg-1">
            <div class="form-group mb-3">
                <label class="form-label text-black">:&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-8">
            <div class="form-group mb-3">
                @Html.TextBoxFor(m => m.lts_bodypart, new { @class = "form-control", @placeholder = "Body Part(s)",  @id = "ults_bodypart" })
            </div>
        </div>
        <div class="col-sm-12 col-sm-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">SKIN TYPE&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-6 col-lg-1">
            <div class="form-group mb-3">
                <label class="form-label text-black">:&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-12 col-lg-8">
            <div class="form-group mb-3">
                @Html.TextAreaFor(m => m.lts_skintype, new { @class = "form-control", @placeholder = "Enter Skin Type", maxlength = "500", @id = "ults_skintype" })
            </div>
        </div>
        <div class="col-sm-12 col-sm-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">FLUENCE Alex&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-6 col-lg-1">
            <div class="form-group mb-3">
                <label class="form-label text-black">:&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-12 col-lg-8">
            <div class="form-group mb-3">
                @Html.TextAreaFor(m => m.lts_flu_alex, new { @class = "form-control", @placeholder = "Enter FLUENCE Alex", maxlength = "500", @id = "ults_flu_alex" })
            </div>
        </div>
        <div class="col-sm-12 col-sm-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">FLUENCE ND:Yag&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-6 col-lg-1">
            <div class="form-group mb-3">
                <label class="form-label text-black">:&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-12 col-lg-8">
            <div class="form-group mb-3">
                @Html.TextAreaFor(m => m.lts_flu_nd, new { @class = "form-control", @placeholder = "Enter FLUENCE ND", maxlength = "500", @id = "ults_flu_nd" })
            </div>
        </div>

        <div class="col-sm-12 col-sm-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">REMARKS&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-6 col-lg-1">
            <div class="form-group mb-3">
                <label class="form-label text-black">:&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-12 col-lg-8">
            <div class="form-group mb-3">
                @Html.TextAreaFor(m => m.lts_remarks, new { @class = "form-control", @placeholder = "Enter Remarks", maxlength = "500", @id = "ults_remarks" })
            </div>
        </div>
        <div class="col-sm-12 col-sm-6 col-lg-3">
            <div class="form-group mb-3">
                <label class="form-label text-black">OFFERS(Promo/Package)&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-6 col-lg-1">
            <div class="form-group mb-3">
                <label class="form-label text-black">:&nbsp;</label>
            </div>
        </div>
        <div class="col-sm-12 col-sm-12 col-lg-8">
            <div class="form-group mb-3">
                @Html.TextAreaFor(m => m.lts_offer, new { @class = "form-control", @placeholder = "Enter Offer", maxlength = "500", @id = "ults_offer" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11 col-md-12 col-lg-4">
            <label class="form-label mb-2">
                Doctor Name & Licence
            </label>
            <span class="text-capitalize text-left text-red">@emr.doc_name&nbsp;</span>
            <span class="text-capitalize text-left text-red">@emr.emp_license&nbsp;</span>
        </div>
        <div class="col-sm-11 col-md-12 col-lg-4">
            <label class="form-label mb-2">
                Signature/Stamp
            </label>
            <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />

        </div>
        <div class="col-sm-11 col-md-12 col-lg-4">
            <label class="form-label mb-2">  Date & Time     </label>
            <span class="text-capitalize text-left text-red">@Model.lts_date_created&nbsp;</span>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-6 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-sm btn-warning" id="btn_Update_LaserTherapySheet">Save Changes</button>
                <button type="submit" class="btn btn-sm btn-outline-danger" id="btn_Delete_LaserTherapySheet">Delete</button>
                @*<button type="submit" class="btn btn-sm btn-outline-light" id="btn_Print_Eval" onclick="PrintLaserTherapySheet(@Model.ltsId)">
                        <i class="fa fa-print">&nbsp;&nbsp;</i>Print
                    </button>*@
                <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print"> Download/Print </button>
            </div>
        </div>
    </div>
</form>


<script>
    //#region Page Load
        $(function () {
            validate();
            if ("@emp_designation.ToString()" === "Super Administrator") {
                $("#btn_Update_LaserTherapySheet,#btn_Delete_LaserTherapySheet").show();
            } else {
                if ("@emr.set_emr_lock" == "NoLock") {
                    $("#btn_Update_LaserTherapySheet,#btn_Delete_LaserTherapySheet").show();

                }
                else {
                    if ("@emr.app_ae_date" >= "@emr.today") {
                        $("#btn_Update_LaserTherapySheet,#btn_Delete_LaserTherapySheet").show();
                    }
                    else {
                        $("#btn_Update_LaserTherapySheet,#btn_Delete_LaserTherapySheet").hide();
                    }
                }
            }
            $('#ults_date').bootstrapdatepicker({
                format: "dd-MM-yyyy",
                viewMode: "date",
                todayHighlight: true,
                autoclose: true,
                multidate: false,
                multidateSeparator: "-"
            });

            $("#ults_date").bootstrapdatepicker("setDate", moment(new Date("@Model.lts_date")).format("DD-MMMM-YYYY"));


        });

    //#endregion Page Load


    //#region Update  Button Click
        $('#btn_Update_LaserTherapySheet').on('click', function (e) {
             e.preventDefault();
            if ($("#form_EditLaserTherapySheet").valid()) {
                $('#btn_Update_LaserTherapySheet').removeClass("btn btn-sm btn-success");
                $('#btn_Update_LaserTherapySheet').addClass("btn btn-sm btn-success btn-loaders btn-icon");
                $('#btn_Update_LaserTherapySheet').html("Updating the Record....");
                var lts_checkbox_ = "";
                $('.custom-control-input:checked').each(function (index) {
                    lts_checkbox_ = lts_checkbox_ + ',' + $(this).val();
                });
                var _dataInsert = {
                    "ltsId": @Model.ltsId,
                    "lts_appId": @emr.appId,
                    "lts_date": $("#ults_date").val(),
                    "lts_session": $("#ults_session").val(),
                    "lts_bodypart": $("#ults_bodypart").val(),
                    "lts_skintype": $("#ults_skintype").val(),
                    "lts_flu_alex": $("#ults_flu_alex").val(),
                    "lts_flu_nd": $("#ults_flu_nd").val(),
                    "lts_remarks": $("#ults_remarks").val(),
                    "lts_offer": $("#ults_offer").val(),
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
                }
                console.log(_dataInsert)
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateLaserTherapySheet", "LaserTherapySheet", new { area = "EMR" })",
                    dataType: 'JSON',
                    data: _dataInsert,
                    success: function (data) {
                        $('#btn_Update_LaserTherapySheet').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                        $('#btn_Update_LaserTherapySheet').addClass("btn btn-sm btn-warning");
                        $('#btn_Update_LaserTherapySheet').html("Save Changes");
                        if (data.isSuccess) {
                            if (data.isInserted) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Laser Therapy Sheet Updated Successfully!", "success");
                                Timeout();
                                GetLaserTherapySheet();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning.. Laser Therapy Sheet Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }

                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#error").html(html);
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Update_LaserTherapySheet').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                        $('#btn_Update_LaserTherapySheet').addClass("btn btn-sm btn-warning");
                        $('#btn_Update_LaserTherapySheet').html("Save Changes");
                        Timeout();
                    }
                });
            }
            else {
                $('.modal-body').animate({
                    scrollTop: ($('.has-error').offset().top - 300)
                }, 2000);
            }
        });
    //#endregion Update  Button Click

    //#region Delete Click
        $('#btn_Delete_LaserTherapySheet').on('click', function (e) {
            e.preventDefault();
            $('#btn_Delete_LaserTherapySheet').removeClass("btn btn-sm btn-success");
            $('#btn_Delete_LaserTherapySheet').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Delete_LaserTherapySheet').html("Deleting the Record....");

                $.ajax({
                    url: '@Url.Action("DeleteLaserTherapySheet", "LaserTherapySheet", new { area = "EMR" })?ltsId=' + @Model.ltsId,
                    type: "POST",
                    dataType: 'JSON',
                    success: function (data) {
                        $('#btn_Delete_LaserTherapySheet').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                        $('#btn_Delete_LaserTherapySheet').addClass("btn btn-sm btn-warning");
                        $('#btn_Delete_LaserTherapySheet').html("Delete");
                        if (data.isAuthorized) {
                            if (data.success) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i> Laser Therapy Sheet Deleted Successfully!", "success");
                                clearControls();
                                GetLaserTherapySheet();
                                Timeout();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Error!.. Failed to Delete..</strong><br/>" +
                                    "</div></div>";
                                $("#error").html(html);
                            }
                        }
                        else {
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                        }
                    },
                    error: function (xhr) {
                        $('#btn_Delete_LaserTherapySheet').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                        $('#btn_Delete_LaserTherapySheet').addClass("btn btn-sm btn-Delete");
                        $('#btn_Delete_LaserTherapySheet').html("Delete");
                        Timeout();
                    }
                })
        });
    //#endregion Delete Click

    //#region Validation Initialization
        var validate = function () {

            $("#form_EditLaserTherapySheet").validate({
                rules: {
                    ults_Imp: {
                        required: true
                    },

                },
                messages: {
                    ults_Imp: {
                        required: "Please Enter Clinical Impression !"
                    },

                },
                highlight: function (element) {
                    var elem = $(element);
                    $(element).parent().addClass('has-error');
                    errolts_timeout(elem.attr("id"));
                },
                unhighlight: function (element) {
                    var elem = $(element);
                    $(element).parent().removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'text-danger fw-bold',
                errorPlacement: function (error, element) {
                    var elem = $(element);
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });


        }
    //#endregion Validation Initialization

    //#region Clear Controls
        var clearControls = function () {
            $(".form-control").val("");
            $(".custom-control-input").prop("checked", false);

        }
    //#endregion Clear Controls

    //#region Print
        $('#btn_Print').on('click', function (e) {
            e.preventDefault();
            $('#btn_Print').removeClass("btn btn-success");
            $('#btn_Print').addClass("btn btn-success btn-loaders btn-icon");
            $('#btn_Print').html("Printing the Record....");
            $.ajax({
                type: "Get",
                url: "@Url.Action("PrintPDFConsent", "LaserTherapySheet", new {area = "EMR" })?appId=" + @emr.appId + "&form=LaserTherapySheet",
                dataType: 'JSON',
                success: function (data) {
                    if (data.isAuthorized) {
                        if (data.success) {
                            window.location.href = data.message.pdfPath
                        }
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            });
        });
    //#endregion Print
</script>


