@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Eye Form New IV";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">EYE FORM TEMPLATE 4</h3>
            </div>
            <div class="card-body">
                <div id="EyeFormNew4_add" style="display:none">
                </div>
                <div id="EyeFormNew4_edit">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="EyeFormNew4_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetEyeFormNew4Info();
        EyeFormNew4PreviousHistory();
    });
    //#endregion

    //#region Load GetEyeFormNew4Info
    var GetEyeFormNew4Info = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetEyeFormNew4Data", "EyeFormNew4", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditEyeFormNew4();
                        $("#EyeFormNew4_add").hide();
                        $("#EyeFormNew4_edit").show();

                    }
                    else {
                        $("#EyeFormNew4_add").show();
                        $("#EyeFormNew4_edit").hide();
                        AddEyeFormNew4();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load EyeFormNew4

    //#region Add EyeFormNew4
    function AddEyeFormNew4() {
        var x = $("#EyeFormNew4_add");
        x.load("@Url.Action("CreateEyeFormNew4", "EyeFormNew4", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add EyeFormNew4

    // #region Update EyeFormNew4
    function EditEyeFormNew4() {
        var x = $("#EyeFormNew4_edit");
        x.load("@Url.Action("UpdateEyeFormNew4", "EyeFormNew4", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update EyeFormNew4

    //#region Histroy of EyeFormNew4
    function EyeFormNew4PreviousHistory() {
        var x = $("#EyeFormNew4_history");
        x.load("@Url.Action("EyeFormNew4PreviousHistory", "EyeFormNew4", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>