@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Monovision Residual";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Informed Consent For Lasik/Lasek (Monovision with Residual) Procedure</h3>
            </div>
            <div class="card-body">
                <div id="MonovisionResidual_add" style="display:none">
                </div>
                <div id="MonovisionResidual_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="MonovisionResidual_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetMonovisionResidualInfo();
        MonovisionResidualPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetMonovisionResidualInfo
    var GetMonovisionResidualInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetMonovisionResidualData", "MonovisionResidual", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditMonovisionResidual();
                        $("#MonovisionResidual_add").hide();
                        $("#MonovisionResidual_edit").show();

                    }
                    else {
                        $("#MonovisionResidual_add").show();
                        $("#MonovisionResidual_edit").hide();
                        AddMonovisionResidual();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load MonovisionResidual

    //#region Add MonovisionResidual
    function AddMonovisionResidual() {
        var x = $("#MonovisionResidual_add");
        x.load("@Url.Action("CreateMonovisionResidual", "MonovisionResidual", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add MonovisionResidual

    //#region Update MonovisionResidual
    function EditMonovisionResidual() {
        var x = $("#MonovisionResidual_edit");
        x.load("@Url.Action("UpdateMonovisionResidual", "MonovisionResidual", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update MonovisionResidual

        //#region Histroy of MonovisionResidual
    function MonovisionResidualPreviousHistory() {
        var x = $("#MonovisionResidual_history");
        x.load("@Url.Action("MonovisionResidualPreviousHistory", "MonovisionResidual", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion History of MonovisionResidual


</script>