@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Dental Surgery Arabic";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header" dir="rtl">
                <h3 class="card-title">موافقة المريض على بدء علاج جراحة الأسنان</h3>
            </div>
            <div class="card-body">
                <div id="DentalSurgeryArabic_add" style="display:none">
                </div>
                <div id="DentalSurgeryArabic_edit">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="DentalSurgeryArabic_history">
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    //#region Page Load
    $(function () {
        GetDentalSurgeryArabicInfo();
        DentalSurgeryArabicPreviousHistory();
    });

    //#endregion Page Load

    //#region Load GetDentalSurgeryArabicInfo
    var GetDentalSurgeryArabicInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetDentalSurgeryArabicData", "DentalSurgeryArabic", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditDentalSurgeryArabic();
                        $("#DentalSurgeryArabic_add").hide();
                        $("#DentalSurgeryArabic_edit").show();

                    }
                    else {
                        $("#DentalSurgeryArabic_add").show();
                        $("#DentalSurgeryArabic_edit").hide();
                        AddDentalSurgeryArabic();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load DentalSurgeryArabic

    //#region Add DentalSurgeryArabic
    function AddDentalSurgeryArabic() {
        var x = $("#DentalSurgeryArabic_add");
        x.load("@Url.Action("CreateDentalSurgeryArabic", "DentalSurgeryArabic", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add DentalSurgeryArabic

    //#region Update DentalSurgeryArabic

    function EditDentalSurgeryArabic() {
        var x = $("#DentalSurgeryArabic_edit");
        x.load("@Url.Action("UpdateDentalSurgeryArabic", "DentalSurgeryArabic", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update DentalSurgeryArabic

    //#region Histroy of DentalSurgeryArabic
    function DentalSurgeryArabicPreviousHistory() {
        var x = $("#DentalSurgeryArabic_history");
        x.load("@Url.Action("DentalSurgeryArabicPreviousHistory", "DentalSurgeryArabic", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Histroy of DentalSurgeryArabic

</script>