@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConcentForms.DentalSurgeryArabic

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<form id="form_DentalSurgeryArabicEdit" autocomplete="off" name="DentalSurgeryArabic" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-right" dir="rtl">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> اسم المريض</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> الهوية الإماراتية</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">رقم الملف</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> تاريخ الميلاد</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> الجنسية</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">جنس</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">اسم الطبيب</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">تاريخ</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5 mt-5 text-justify font-weight-semibold" dir="rtl">
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            أنا الموقع أدناه، وبموجبة أوافق للدكتور شيخ أنور حسين على تنفيذ الإجراءات التالية  :              <br />
            @Html.TextBoxFor(m => m.pdsa_1, new { @class = "form-control", @id = "updsa_1", @maxlength = "200" })
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <ol>
                <li>
                    <p>
                        وأقر بأن الإجراء (الإجراءات)، والآثار المترتبة عليها والمضاعفات المحتملة قد شرحت لي، إلى جانب البدائل بما في ذلك عدم اللجوء الى أي علاج
                    </p>
                </li>
                <li>
                    <p>
                        وقد أبلغت بالمضاعفات المحتملة لهذا الإجراء التي يمكن توقعها بشكل معقول، وهي
                        :
                    </p>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <ul style="list-style:disc">
                            <li>
                                <p>
                                    إصابة العصب، مما يؤدي إلى خدر أو وخز الذقن، والشفة، والخد، واللثة، و / أو اللسان في جانب الجراحة . قد يستمر هذا لعدة أسابيع، أشهر، أو، في حالات نادرة، بشكل دائم
                                </p>
                            </li>
                            <li>
                                <p>
                                    عدوى ما بعد الجراحة التي تتطلب معالجة إضافية.
                                </p>
                            </li>
                            <li>
                                <p>
                                    فتح الجيوب الأنفية (تجويف طبيعي يقع فوق الأسنان العلوية) يتطلب جراحة إضافية.
                                </p>
                            </li>
                            <li>
                                <p>
                                    القدرة المحددة لفتح الفم لعدة أيام أو أسابيع، مع احتمال حدوث رضة للمفصل الفكي الصدغي.
                                </p>
                            </li>
                            <li>
                                <p>
                                    إصابة الأسنان المجاورة والحشوات.
                                </p>
                            </li>
                            <li>
                                <p>
                                    في حالات نادرة، كسر الفك.
                                </p>
                            </li>
                            <li>
                                <p>
                                    عدم الراحة بعد العملية الجراحية، وتورم، والنزيف الذي قد يتطلب عدة أيام من الراحة.
                                </p>
                            </li>
                            <li>
                                <p>
                                    قرار ترك قطعة صغيرة من الجذر في الفك عندما تتطلب إزالتها جراحة واسعة النطاق.
                                </p>
                            </li>
                            <li>
                                <p>
                                    تمدد أركان الفم مما يؤدي إلى تكسير وكدمات
                                </p>
                            </li>
                        </ul>
                    </div>
                </li>
            </ol>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            اء المبين أعلاه. بناء على موافقتي، سوف أخول الطبيب وأي من الزمالء للقيام بهذه الإجراءات عندما يكون ذلك حسب تقديرهم المهني، ضروريا
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2 mt-2">
            درك أن الأدوية والتخدير والوصفات الطبية التي يتم اتخاذها لهذا الإجراء قد تسبب النعاس وعدم الوعي. وأنا أفهم أيضا أنني لا ينبغي أن استخدم الكحول أو المخدرات الأخرى لأنها يمكن أن تزيد من هذه الآثار. لقد نصحت بعدم العمل وعدم تشغيل أي سيارة أ أو أجهزة خطرة في حين أخذ مثل هذا الدواء حتى أن تعافى تماما من آثارها. كما نصحت بعدم التدخين لمدة أسبوعين بعد الجراحة. بالتوقيع أدناه، أعطي إذني لإجراء العمليات الجراحية والتخديرية عن طريق الفم التي وافقت عليها أنا والدكتور شيخ أنور حسين. وقد تم شرح الجراحة والمخاطر المقترحة بشكل كامل ومرضي وقد أتيحت لي الفرصة لطرح الأسئلة. أنا أيضا أؤكد أنني على حد علمي قدمت تقريرا دقيقا عن تاريخي الصحي البدنيي والعقلي. لقد أبلغت أيضا عن أي ردود فعل تحسسية أو غير عادية مسبقة على الأدوية أو الطعام أو لدغ الحشرات أو التخدير أو حبوب اللقاح أو الغبار أو الدم أو أمراض الجسم أو اللثة أو ردود فعل الجلد أو نزيف غير طبيعي أو أي شروط أخرى تتعلق بصحتي
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <ol start="3">
                <li>
                    <p>
                        أقر بأنني تلقيت نسخة من تعليمات ما بعد الجراحة، والتي تم شرحها لي. أنا أفهم كل النصائح التي قدمها لي جراح الأسنان. بعد خروجي، سوف أخبر طبيب الأسنان الخاص بي إذا كنت أعاني من أي ألم حاد، نزيف حاد في موقع الجراحة، مشاكل في الجهاز التنفسي، أو أي مشاكل أخرى بعد العملية
                    </p>
                </li>
                <li>
                    <p>
                        وأنا أفهم أنه لا يمكن ضمان أي نتيجة لنتائج الجراحة على جسم الإنسان، ولكن سيقوم الطبيب ومساعدية ببذل قصارى جهدهم لتحقيق نتائج ممتازة
                    </p>
                </li>
                <li>
                    <p>
                        أوافق على التقاط الصور الفوتوغرافية، التصوير والتسجيل و الأشعة السينية بشرط لا يتم الكشف عن هويتي
                    </p>
                </li>
                <li>
                    <p>
                        انا اطلب واصرح لعمل خدمات طب الأسنان لي بما في ذلك زرع الأسنان والجراحات الأخرى وانا افهم تماما انه خلال وبعد الاجراء، الجراحة أو العلاج قد تصبح الظروف واضحة مما يسمح للطبيب بالحكم لعمل اجراء اضافي او بديل لنجاح شامل للعلاج. كما أنني أوافق على أي تعديل في التصميم أو المواد أو الرعاية، إذا شعرت أن هذا هو لمصلحتي
                    </p>
                </li>
                <li>
                    <p>
                        أقر بأنني قد قرأت أو قُرأ لي محتويات هذا النموذج وسوف اتبع أي تعليمات متعلقة بهذا الإجراء. أنا أفهم المخاطر المحتملة والمضاعفات والآثار الجانبية التي قد تنطوي عليها أي علاج للأسنان أو الإجراء وقررت المضي قدما في هذا الإجراء بعد النظر في إمكانية كل من المخاطر المعروفة وغير المعروفة، والمضاعفات والآثار الجانبية وبدائل الإجراء. لقد اتيحت لي الفرصة لطرح اسئلة  ولقد تمت الإجابة على اسئلتي بشكل مرضي. لدیك الحق في رفض العلاج أو التوقف عنھ. سيتم إعلامك بنتيجة قرارك برفض أو إيقاف العلاج والرعاية المتاحة وبدائل العلاج.وأنا أفهم أن جميع الأدوية محتمل أن يكون لديها مخاطر مصاحبة، وآثار جانبية وتفاعلات الأدوية. ولذلك فمن الأهمية أن أخبر طبيب الأسنان الخاص بي بجميع الأدوية التي استخدمها حالياً
                    </p>
                </li>
            </ol>
        </div>
    </div>
    <div class="row mt-2" dir="rtl">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="3" class="font-weight-bold text-danger fs-18" width="100%">
                        <u>قم بالتوقيع هنا فقط إذا تمت الموافقة على جميع الأسئلة </u>
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <div id="upat_sign_box">
                            <img alt="stamp" id="upat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="34%">
                        <div id="uwit_sign_box">
                            <img alt="stamp" id="uwit_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        سم المريض
                        <br />
                        <label class="form-label text-red">@emr.pat_name&nbsp;</label>
                        الوصي، صلة القرابة
                        <br />
                        @Html.TextBoxFor(m => m.pdsa_2, new { @class = "form-control text-center", @id = "updsa_2", @maxlength = "200" })

                    </td>
                    <td width="34%">
                        هوية الشاهد
                        <br />
                        @Html.TextBoxFor(m => m.pdsa_3, new { @class = "form-control text-center", @id = "updsa_3", @maxlength = "200" })

                        التاريخ
                        <br />
                        <label class="form-label text-red">@emr.app_fdate&nbsp;</label>
                    </td>
                    <td width="33%">
                        سم جراح الأسنان
                        <br />
                        <label class="form-label text-red">@emr.doc_name&nbsp;</label>

                        التاريخ
                        <label class="form-label text-red">@emr.app_fdate&nbsp;</label>

                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue text-center" width="33%">
                        توقيع المريض/ الممثل المفوض قانونا
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue  text-center" width="34%">
                        توقيع الشاهد
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> witness
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('witness')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('witness')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center" width="33%">توقيع الطبيب </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update">Save Changes</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                <button type="button" class="btn btn-danger btn-sm" id="btn_Delete">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print"> Download/Print </button>
            </div>
        </div>
    </div>
</form>


<script type="text/javascript">


    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Update").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Update").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Update").show();
                }
                else {
                    $("#btn_Update").hide();
                }
            }
        }
        validate();
        GetSignaturename('patient');
        GetSignaturename('witness');
    });


    //#region Validation Initialization
    var validate = function () {
        $("#form_DentalSurgeryArabicEdit").validate({
            rules: {
                pdsa_1: {
                    required: true
                },
               pdsa_2: {
                    required: true
                },
                pdsa_3: {
                    required: true
                },

            },
            messages: {
                pdsa_1: {
                    required: "Please Enter Procedures!"
                },
                pdsa_2: {
                    required: "Please Enter Guardian Name!"
                },
                pdsa_3: {
                    required: "Please Enter Witness ID!"
                },

            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });


    }
    //#endregion

    //#region Update  Click
    $('#btn_Update').on('click', function (e) {
        e.preventDefault();
        if ($("#form_DentalSurgeryArabicEdit").valid()) {
            console.log($("#pdsaId").val());
        $('#btn_Update').removeClass("btn btn-sm btn-success");
        $('#btn_Update').addClass("btn btn-sm btn-success btn-loaders btn-icon");
        $('#btn_Update').html("Updating the Record....");




            var _dateInsert = {
                "pdsaId": 0,
                "pdsa_appId": @emr.appId,
                "pdsa_1": $("#updsa_1").val(),
                "pdsa_2": $("#updsa_2").val(),
                "pdsa_3": $("#updsa_3").val(),

                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }
            console.log(_dateInsert);

            $.ajax({
                type: "Post",
                url: "@Url.Action("EditDentalSurgeryArabic", "DentalSurgeryArabic", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Update').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-success");
                    $('#btn_Update').html("Save Changes");



                    if (data.isSuccess) {
                        if (data.isEdited) {
                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>DentalSurgery Arabic Consent Form Updated Successfully!", "success");

                            Timeout();


                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning.. DentalSurgery Arabic Consent Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert1").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Update').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }

    });
    //#endregion Update Click

            //#region Delete Click
    $('#btn_Delete').on('click', function (e) {
        e.preventDefault();
        $('#btn_Delete').removeClass("btn btn-success");
        $('#btn_Delete').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Delete').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteDentalSurgeryArabic", "DentalSurgeryArabic", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-warning");
                $('#btn_Delete').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>DentalSurgery Arabic Consent Form Deleted Successfully!", "success");
                        clearControls();
                        Timeout();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-Delete");
                $('#btn_Delete').html("Delete");
                Timeout();
            }
        })
    });
//#endregion

    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("#upat_sign,#uwit_sign").attr("src", "");

    }
    //#endregion Clear Controls

        //#region Print
$('#btn_Print').on('click', function (e) {
    e.preventDefault();
    $('#btn_Print').removeClass("btn btn-sm btn-success");
    $('#btn_Print').addClass("btn btn-sm btn-success btn-loaders btn-icon");
    $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "DentalSurgeryArabic", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=DentalSurgeryArabic",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {
                if (data.success) {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print
//#region Wacom Tab Signature
    var openWacomTabSignaturePad = function (id) {
         var _data = {
             "patId": @emr.patId,
             "person": id,
             "form": "DentalSurgeryArabic",
             "appId": @emr.appId,
             "formname":"DentalSurgery Arabic",
             "formlink":"",
             "eSign":""
         }
        $.ajax({
            type: "GET",
            url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
//#endregion
    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "DentalSurgeryArabic",
            "appId": @emr.appId,
            "formname":"DentalSurgery Arabic",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            GetSignaturename('witness');
            localStorage.removeItem("sign");
        }
    });

    //#region Get Signature
    var GetSignaturename = function  (person) {
        $.ajax({
            url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=DentalSurgeryArabic',
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                console.log(response);
                let sign = response[0].psb_sign;
                if (response[0].person == "patient") {
                    $("#upat_sign_box").show();
                    $("#upat_sign").attr("src", sign);
                }
                if (response[0].person == "witness") {
                    $("#uwit_sign_box").show();
                    $("#uwit_sign").attr("src", sign);
                }
            },
            error: function (xhr) {
                console.log(xhr);
                alert(xhr);
            }

        });
    };
    //#endregion Get Signature

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout
</script>
