@model IEnumerable<BusinessEntities.Masters.AuditLogs.TreatmentLogs>
<div class="modal-header py-3 px-4">
    <h5 class="modal-title text-primary font-weight-semibold" id="exampleModalLongTitle">
        Treatment Audit Logs
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body p-4">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            @if (Model.Any())
            {
                <div class="table-responsive" style="min-height:auto">
                    <table id="tbl_treat_logs" class="table table-bordered text-nowrap resize-table" style="width: 100%;">
                        <thead>
                            <tr style="color: #fff !important; background-color: #5b73e8; border-color: #5b73e8;">
                                <th class="border-bottom-0 font-weight-semibold text-white">Branch</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Insurance</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Treatment</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">CPT Code</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Class</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Lab Dept.</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">S/E Date</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">VAT</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Group</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Price</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Cost</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Discount</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Operation</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Log Date &amp; Time</th>
                                <th class="border-bottom-0 font-weight-semibold text-white">Made By</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var dr in Model)
                            {
                                <tr>
                                    <td>@dr.set_company</td>
                                    <td>@dr.ic_name</td>
                                    <td class="text-wrap text-justify">@dr.tra_name</td>
                                    @if (string.IsNullOrEmpty(dr.tra_code))
                                    {
                                        <td class="text-muted">N/A</td>
                                    }
                                    else
                                    {
                                        <td>@dr.tra_code</td>
                                    }
                                    <td>@dr.tra_class</td>
                                    @if (string.IsNullOrEmpty(dr.tra_lab_dept))
                                    {
                                        <td class="text-muted">N/A</td>
                                    }
                                    else
                                    {
                                        <td>@dr.tra_lab_dept</td>
                                    }
                                    <td>
                                        @dr.tra_start_date.ToString("dd-MM-yyyy")<br />
                                        @dr.tra_end_date.ToString("dd-MM-yyyy")
                                    </td>
                                    <td>@dr.tra_category</td>
                                    <td>@dr.tra_group</td>
                                    <td>@dr.tra_price.ToString("N2")</td>
                                    <td>@dr.tra_cost.ToString("N2")</td>
                                    <td>@dr.tra_disc.ToString("N2")</td>
                                    @if (dr.tra_operation == "Inserted")
                                    {
                                        <td class="fs-13 bg-success-transparent-2 font-weight-semibold">@dr.tra_operation</td>
                                        <td class="fs-13 bg-success-transparent-2 font-weight-semibold">@dr.tra_date_created.ToString("dd-MM-yyyy | hh:mm:ss")</td>
                                        <td class="fs-13 bg-success-transparent-2 font-weight-semibold">@dr.emp_name</td>

                                    }
                                    else if (dr.tra_operation == "Updated")
                                    {
                                        <td class="fs-13 bg-warning-transparent-2 font-weight-semibold">@dr.tra_operation</td>
                                        <td class="fs-13 bg-warning-transparent-2 font-weight-semibold">@dr.tra_date_modified.ToString("dd-MM-yyyy | hh:mm:ss")</td>
                                        <td class="fs-13 bg-warning-transparent-2 font-weight-semibold">@dr.emp_name</td>
                                    }
                                    else
                                    {
                                        <td class="fs-13 bg-danger-transparent-2 font-weight-semibold">@dr.tra_operation</td>
                                        <td class="fs-13 bg-danger-transparent-2 font-weight-semibold">@dr.tra_date_modified.ToString("dd-MM-yyyy | hh:mm:ss")</td>
                                        <td class="fs-13 bg-danger-transparent-2 font-weight-semibold">@dr.emp_name</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
                    <div class="alert alert-light-info alert-dismissiblefade show" role="alert">
                        <strong><i class="fa fa-exclamation-circle pt-2"></i> Info!&nbsp;</strong> Treatment Log(s) Not Available!
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    //#region Document Load
    $(function () {
        var table = $('#tbl_treat_logs').DataTable({
            lengthChange: true,
            buttons: [
                {
                    extend: 'excel',
                    className: 'btn-secondary',
                    title: 'Employee Audit Logs for Treatments and Tariffs',
                    action: function (e, dt, node, config) {
                        $.fn.dataTable.ext.buttons.excelHtml5.action.call(this, e, dt, node, config);
                        exportLogs("Employee Exported Treatament Logs to Excel!");
                    }
                },
                {
                    extend: 'pdf',
                    className: 'btn-secondary',
                    title: 'Employee Audit Logs for Treatments and Tariffs',
                    action: function (e, dt, node, config) {
                        $.fn.dataTable.ext.buttons.pdfHtml5.action.call(this, e, dt, node, config);
                        exportLogs("Employee Exported Treatament Logs to PDF!");
                    }
                },
                {
                    extend: 'csv',
                    className: 'btn-secondary',
                    title: 'Employee Audit Logs for Treatments and Tariffs',
                    action: function (e, dt, node, config) {
                        $.fn.dataTable.ext.buttons.csvHtml5.action.call(this, e, dt, node, config);
                        exportLogs("Employee Exported Treatament Logs to CSV!");
                    }
                },
                {
                    extend: 'print',
                    className: 'btn-secondary',
                    title: 'Employee Audit Logs for Treatments and Tariffs',
                    action: function (e, dt, node, config) {
                        $.fn.dataTable.ext.buttons.print.action.call(this, e, dt, node, config);
                        exportLogs("Employee Printed Treatament Logs!");
                    }
                }
            ],
            order: [[9, 'desc']],
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '<span class="text-primary font-weight-semi-bold">Search Logs</span>',
                lengthMenu: '_MENU_ ',
            }
        });
        table.buttons().container().appendTo('#tbl_treat_logs_wrapper .col-md-6:eq(0)');
    });
    //#endregion
</script>