@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConsentForms.DermatologyGeneral

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_DermatologyGeneral" autocomplete="off" name="DermatologyGeneral" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name <br />اسم المريض</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID <br />هويه الإمارات</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No <br />رقم الملف</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB <br />تاريخ الميلاد</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality <br />جنسية</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender <br />جنس</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name <br />اسم الطبيب</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date <br />تاريخ</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5 mt-5 text-justify">
        <div class="col-sm-12 col-md-12 col-lg-3">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="dgc_1" id="dgc_11" value="1">
                <span class="custom-control-label">Acne scar treatment</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="dgc_1" id="dgc_12" value="2">
                <span class="custom-control-label">Lipolysis injection</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="dgc_1" id="dgc_13" value="3">
                <span class="custom-control-label">Lip plumping(pinky lips)</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="dgc_1" id="dgc_14" value="4">
                <span class="custom-control-label">PRP(hair/derma)</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="dgc_1" id="dgc_15" value="5">
                <span class="custom-control-label">Botox</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="dgc_1" id="dgc_16" value="6">
                <span class="custom-control-label">Filler</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="dgc_1" id="dgc_17" value="7">
                <span class="custom-control-label">Texas</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="dgc_1" id="dgc_18" value="8">
                <span class="custom-control-label">Chemical peeling</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="dgc_1" id="dgc_19" value="9">
                <span class="custom-control-label">Mesotherapy</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="dgc_1" id="dgc_110" value="10">
                <span class="custom-control-label">Magic Threads</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="dgc_1" id="dgc_111" value="11">
                <span class="custom-control-label">Micro Filler</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="dgc_1" id="dgc_112" value="12">
                <span class="custom-control-label">Profound</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="dgc_1" id="dgc_113" value="13">
                <span class="custom-control-label">Royal Injection</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="dgc_1" id="dgc_114" value="14">
                <span class="custom-control-label">Visco Derm</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="dgc_1" id="dgc_115" value="15">
                <span class="custom-control-label">Prophilo</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="dgc_1" id="dgc_116" value="16">
                <span class="custom-control-label">IV Drip Therapy</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="dgc_1" id="dgc_117" value="17">
                <span class="custom-control-label">Buttocks Filler</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="dgc_1" id="dgc_118" value="18">
                <span class="custom-control-label">Threads</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="dgc_1" id="dgc_119" value="19">
                <span class="custom-control-label">Fiber Subsession </span>
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-3">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="dgc_1" id="dgc_120" value="20">
                <span class="custom-control-label">Cell Proliferation (Regenera Treatment)</span>
            </label>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" name="dgc_1" id="dgc_121" value="21">
                <span class="custom-control-label">
                    <span> Other</span><span>
                        @Html.TextBoxFor(m => m.dgc_2, new { @class = "form-control mb-2 mt-2", @id = "dgc_2", @maxlength = "250" })
                    </span>
                </span>
            </label>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="row text-justify">
                    <div class="col-lg-6 mb-4 text-justify mb-2 fs-14">
                        <ol>
                            <li>I hereby consent to allow myself to undertake the above-preferred treatment for the purpose of aesthetic enhancement</li>
                            <li>I have decided to have this treatment of my own accord with the sole intention and the potential benefits and possible risks associated with the procedure</li>
                            <li>I will provide accurate information of my medical history, including all known allergies or prescription drugs, or products I am currently ingesting or using topically</li>
                            <li>As with most of the medical procedures, I understand that any of the above procedures may have some allergic reactions or known and unknown side effects </li>
                            <li>I agree to follow all doctor’s advice, instruction, recommendations, and other alternative treatment options after the procedures</li>
                            <li>I understand that if I should have any questions or concerns regarding my treatment results. I will notify the clinic immediately so that timely follow-up and intervention can be provided</li>
                            <li>Top Life Physiotherapy and Hijjama Center is not responsible for any complications that may occur due to non-compliance with the doctor’s advice, instruction, and recommendations</li>
                            <li>I understand that this consent will be automatically withdrawn in case I refuse to do the treatment after the consultation due to some existing medical issues or personal reason</li>
                        </ol>
                    </div>
                    <div dir="rtl" class="col-lg-6  mb-4 text-right text-justify">
                        <ol class="mb-2 fs-16 text-justify" dir="rtl">
                            <li> أوافق بموجب هذا على السماح لنفسي بالقيام بالعلاج المفضل أعلاه بغرض التعزيز الجمالي</li>
                            <li>لقد قررت أن أحصل على هذا العلاج من تلقاء نفسي بقصد وحيد والفوائد المحتملة والمخاطر المحتملة المرتبطة بالإجراء</li>
                            <li>. سأقدم معلومات دقيقة عن سجلي الطبي ، بما في ذلك جميع أنواع الحساسية المعروفة أو الأدوية أو المنتجات التي أتناولها حاليًا أو أستخدمها موضعيًا</li>
                            <li>مثل معظم الإجراءات الطبية ، أفهم أن أيًا من الإجراءات المذكورة أعلاه قد يكون لها بعض الحساسية أو آثار جانبية معروفة وغير معروفة</li>
                            <li>أوافق على اتباع جميع نصائح الطبيب وتعليماته وتوصياته وخيارات العلاج البديل الأخرى بعد الإجراءات</li>
                            <li>أفهم أنه إذا كان لدي أي أسئلة أو مخاوف بشأن نتائج علاجي. سأقوم بإخطار العيادة على الفور حتى يمكن توفير المتابعة والتدخل في الوقت المناسب</li>
                            <li>مركز توب لايف للعلاج الطبيعي ومركز الحجامة غير مسؤول عن أي مضاعفات قد تحدث بسبب عدم الامتثال لتعليمات وتوصيات الطبيب</li>
                            <li>أفهم أنه سيتم سحب هذه الموافقة تلقائيًا في حالة رفضي إجراء العلاج بعد الاستشارة بسبب بعض المشكلات الطبية الحالية أو لأسباب شخصية</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="row text-justify">
                <div class="col-lg-6 mb-4 font-weight-semibold">
                    "I agree that healthcare provider(s) involved in my care at this facility will access my health information through the Health Information Exchange System(NABIDH) in accordance with the Laws of the United Arab Emirates, Emirate of Dubai Legislation and Dubai Health Authority Policies "
                </div>
                <div dir="rtl" class="col-lg-6  mb-4 text-justify font-weight-semibold">
                    اوافق بان يقوم مزاولي المهن الصحية المشرفين علي تقديم خدمات الرعاية الصحية لي في هذه المنشاة. بالاطلاع علي معلوماتي الصحية في نظام تبادل  المعلومات الصحية(نابض) وفقا للتشريعات السارية في دولة الامارات العربية المتحدة بشكل عام و امارة دبي بشكل خاص بمافيها القرارات الصادرة عن هيئة الصحة في دبي
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="3" class="font-weight-bold text-danger fs-18" width="100%">
                        Sign here, only if all of your questions have been answered to your satisfaction<br />قم بالتوقيع هنا، فقط إذا تمت الإجابة على جميع أسئلتك بما يرضيك
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <div id="pat_sign_box">
                            <img alt="Signature" src="" id="pat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <div id="wit_sign_box">
                            <img alt="stamp" id="wit_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold"> Patient Name<br />اسم المريض</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="psb_date_patient" name="">&nbsp;</label>
                        <span class="font-weight-semibold">Date<br />تاريخ</span>
                    </td>
                    <td width="33%">
                        @Html.TextBoxFor(m => m.dgc_3, new { @class = "form-control text-center", @id = "dgc_3", @width = "20px" })                            <span class="font-weight-semibold">Witness Name<br />اسم الشاهد</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="psb_date_witness" name="">&nbsp;</label>
                        <span class="font-weight-semibold">Date<br />تاريخ</span>
                    </td>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize">@emr.doc_name&nbsp;</label>
                        <span class="font-weight-semibold">Doctor’s Name<br />اسم الطبيب</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="atc_date_doctor"></label>
                        <span class="font-weight-semibold">Date<br />تاريخ</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue" width="33%">
                        Patient Signature<br />توقيع المريض
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue" width="33%">
                        Witness Signature<br />توقيع الشاهد
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> witness
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('witness')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('witness')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center" width="33%">Doctor’s Signature<br />توقيع الطبيب</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-success btn-sm" id="btn_Insert">Save</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset_C">Reset</button>
                <button type="button" class="btn btn-danger btn-sm d-none" id="btn_Delete">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success d-none" id="btn_Print_C"> Download/Print </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Insert").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Insert").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Insert").show();
                }
                else {
                    $("#btn_Insert").hide();
                }
            }
        }

        validate();
    });

    //#region Validation Initialization
    var validate = function () {
        $("#form_DermatologyGeneral").validate({
            rules: {
                dgc_3: {
                    required: true
                },

            },
            messages: {
                dgc_3: {
                    required: "Please Enter Witness Name"
                },

            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

    }
    //#endregion

    //#region Add  Click
    $('#btn_Insert').on('click', function (e) {
        e.preventDefault();
        if ($("#form_DermatologyGeneral").valid()) {
            $('#btn_Insert').removeClass("btn btn-sm btn-success");
            $('#btn_Insert').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Insert').html("Saving the Record....");

            var dgc_1_ = $.map($(':checkbox[name=dgc_1]:checked'), function (n, i) {
               return n.value;
            }).join(',');
            console.log(dgc_1_);


            var _dateInsert = {
                "dgcId": 0,
                "dgc_appId": @emr.appId,
                "dgc_2": $("#dgc_2").val(),
                "dgc_3": $("#dgc_3").val(),
                "dgc_1": dgc_1_,
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }
            console.log(_dateInsert);
            $.ajax({
                type: "Post",
                url: "@Url.Action("InsertDermatologyGeneral", "DermatologyGeneral", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-sm btn-success");
                    $('#btn_Insert').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isInserted) {
                            GetDermatologyGeneralInfo();
                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> Dermatology General Consent Form Saved Successfully!", "success");
                            Timeout();
                            $("#btn_Delete").removeClass("d-none");
                            $("#btn_Print").removeClass("d-none");
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning.. Dermatology General Consent Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Insert').removeClass("btn btn-sm btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-sm btn-warning");
                    $('#btn_Insert').html("Add");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion Add Click

    //#region Delete Click
    $('#btn_Delete').on('click', function (e) {
        e.preventDefault();
        $('#btn_Delete').removeClass("btn btn-success");
        $('#btn_Delete').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Delete').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteDermatologyGeneral", "DermatologyGeneral", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-warning");
                $('#btn_Delete').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i> Dermatology General Consent Form Deleted Successfully!", "success");
                        clearControls();
                        Timeout();

                        $('#btn_Delete').addClass("d-none");
                        $("#pat_sign_box").addClass("d-none");
                        $("#wit_sign_box").addClass("d-none");
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_Delete').addClass("btn btn-Delete");
                $('#btn_Delete').html("Delete");
                Timeout();
            }
        })
    });
//#endregion

//#region Print
    $('#btn_Print_C').on('click', function (e) {
    e.preventDefault();
        $('#btn_Print_C').removeClass("btn btn-success");
        $('#btn_Print_C').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_Print_C').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "DermatologyGeneral", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=DermatologyGeneral",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {
                if (data.success) {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print

    //#region Reset
    $('#btn_Reset_C').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $("input[name='dgc_1']:checkbox").prop('checked', false);
        $("#pat_sign,#wit_sign").attr("src", "");
    }
    //#endregion Clear Controls
    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": @emr.patId,
                "person": id,
                "form": "DermatologyGeneral",
                "appId": @emr.appId,
                "formname":"Dermatology General",
                "formlink":"",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion
    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "DermatologyGeneral",
            "appId": @emr.appId,
            "formname":"Dermatology General",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            GetSignaturename('witness');
            localStorage.removeItem("sign");
        }
    });

    //#region Get Signature
var GetSignaturename = function  (person) {
    $.ajax({
        url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=DermatologyGeneral',
        type: "GET",
        dataType: "json",
        async: false,
        success: function (response) {
            console.log(response);
            let sign = response[0].psb_sign;
            var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY HH:mm");

            if (response[0].person == "patient") {
                $("#pat_sign_box").removeClass("d-none");
                $("#psb_date_patient").html(date);
                $("#pat_sign").attr("src", sign);
            }
            if (response[0].person == "witness") {
                $("#wit_sign_box").removeClass("d-none");
                $("#wit_sign").attr("src", sign);
                $("#psb_date_witness").html(date);
            }
        },
        error: function (xhr) {
            console.log(xhr);
            alert(xhr);
        }

    });
};
//#endregion Get Signature

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout

</script>