@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Dermatology General";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Dermatology General consent Form<br /><span dir="rtl">نموذج الموافقة العامة للأمراض الجلدية</span>
                </h3>
            </div>
            <div class="card-body">
                <div id="DermatologyGeneral_add" style="display:none">
                </div>
                <div id="DermatologyGeneral_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="DermatologyGeneral_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetDermatologyGeneralInfo();
        DermatologyGeneralPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetDermatologyGeneralInfo
    var GetDermatologyGeneralInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetDermatologyGeneralData", "DermatologyGeneral", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditDermatologyGeneral();
                        $("#DermatologyGeneral_add").hide();
                        $("#DermatologyGeneral_edit").show();

                    }
                    else {
                        $("#DermatologyGeneral_add").show();
                        $("#DermatologyGeneral_edit").hide();
                        AddDermatologyGeneral();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load DermatologyGeneral

    //#region Add DermatologyGeneral
    function AddDermatologyGeneral() {
        var x = $("#DermatologyGeneral_add");
        x.load("@Url.Action("CreateDermatologyGeneral", "DermatologyGeneral", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add DermatologyGeneral

    //#region Update DermatologyGeneral
    function EditDermatologyGeneral() {
        var x = $("#DermatologyGeneral_edit");
        x.load("@Url.Action("UpdateDermatologyGeneral", "DermatologyGeneral", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update DermatologyGeneral

    //#region Histroy of DermatologyGeneral
    function DermatologyGeneralPreviousHistory() {
        var x = $("#DermatologyGeneral_history");
        x.load("@Url.Action("DermatologyGeneralPreviousHistory", "DermatologyGeneral", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>