@model BusinessEntities.FrontDesk.GeneralConsent

@{
    ViewBag.Title = "General Consent Form";
}

<div class="row">
    <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
        <div class="card">
            <form id="form_Addgc" autocomplete="off" name="GeneralConsent">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.appId)
                @Html.HiddenFor(m => m.patId)
                @Html.HiddenFor(m => m.gcfId, new { @id = "ugcfId", @value = "@Model.gcfId" })

                <div class="card-body" id="print_form">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group mb-3">
                                <h4 class="form-label text-black text-center">GENERAL CONSENT FORM</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                            <div class="form-group mb-3" style="display: none" id="headimg">
                                <h3 class="card-title ">
                                    <img alt="header" src=" " id="headerimg" />
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group mb-3">
                                <h5 class="form-label text-info">
                                    Patient details
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="row border ">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="row">
                                <div class="col-sm-2 col-md-3 col-lg-2">
                                    <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name:&nbsp;</label></div>
                                </div>
                                <div class="col-sm-2 col-md-3 col-lg-2">
                                    <label class="form-label text-red text-left text-capitalize">@Model.pat_name&nbsp;</label>
                                </div>
                                <div class="col-sm-2 col-md-3 col-lg-2">
                                    <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID:&nbsp;</label></div>
                                </div>
                                <div class="col-sm-6 col-md-3 col-lg-6">
                                    <label class="form-label text-red text-left">@Model.pat_emirateid&nbsp;</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 col-md-3 col-lg-2">
                                    <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No :&nbsp;</label></div>
                                </div>
                                <div class="col-sm-2 col-md-3 col-lg-2">
                                    <label class="form-label text-red text-left">@Model.pat_code&nbsp;</label>
                                </div>
                                <div class="col-sm-2 col-md-3 col-lg-2">
                                    <div class="form-group mb-3"><label class="form-label text-black"> DOB&nbsp;</label></div>
                                </div>
                                <div class="col-sm-2 col-md-3 col-lg-2">
                                    <label class="form-label text-red text-left">@Model.pat_dob&nbsp;</label>
                                </div>

                                <div class="col-sm-2 col-md-3 col-lg-2">
                                    <div class="form-group mb-3"><label class="form-label text-black"> Nationality:&nbsp;</label></div>
                                </div>
                                <div class="col-sm-2 col-md-3 col-lg-2">
                                    <label class="form-label text-red text-left">@Model.nationality&nbsp;</label>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-2 col-md-3 col-lg-2">
                                    <div class="form-group mb-3"><label class="form-label text-black">Gender&nbsp;</label></div>
                                </div>

                                <div class="col-sm-2 col-md-3 col-lg-2">
                                    <label class="form-label text-red text-left">@Model.pat_gender&nbsp;</label>
                                </div>
                                <div class="col-sm-2 col-md-3 col-lg-2">
                                    <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name	:&nbsp;</label></div>
                                </div>
                                <div class="col-sm-2 col-md-3 col-lg-2">
                                    <label class="form-label text-red text-left">@Model.doc_name&nbsp;</label>
                                </div>

                                <div class="col-sm-2 col-md-3 col-lg-2">
                                    <div class="form-group mb-3"><label class="form-label text-black">Date&nbsp;</label></div>
                                </div>
                                <div class="col-sm-2 col-md-3 col-lg-2">
                                    <label class="form-label text-red text-left">@Model.app_fdate&nbsp;</label>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row mb-5 mt-5">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group mb-3">
                                <p style="text-align:justify">
                                    I consent to the examination, tests, and treatments, which may be done by the physician and assistant staff during my course of therapy. I understand I have to inform my personal and medical details and have the right to be informed about my treatment. I understand that the Center is not responsible for my personal property, money, or valuable left unattended. I authorize the Center to release information about my treatment: a.) as required to process payment of claims and (b) to other facilities or providers for the continuity of my care. In consideration of the services provided at the centre, I agree to pay the centre for all services provided to me. If any health insurance programs cover my treatment, I authorize the centre to bill any such insurer for all medical services provided, and agreed to pay any co-payment or charges not covered by my health insurance. This consent form will be stored in the patient’s medical record at the clinic. I have read and understand the information on this sheet.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="form-group mb-3">

                                <p dir="rtl" style="text-align:justify">
                                    اوافق أنا الموقع ادناه على كل الفحوصات والاختبارات المعملية ، وعلى خطط العلاج التي يجريها لي الأطباء والأخصائيون والفريق الطبي
                                    المرافق بالمركز الطبي طوال فترة علاجي ، وأعلم جيداً أنني يجب أن أبلغ الأطباء والعاملين بالمركز كل التفاصيل الخاصة بي وأهمها التفاصيل
                                    الطبية ، كما أن من حقي معرفة اسلوب وخطة العلاج الخاصة بي،كما أعلم أن المركز الطبي ( العيادة ) ليست مسئولة عن حاجياتي الخاصة
                                    كالأموال وأي متعلقات خاصة بي لم اقم بحفظها ، وأنا أخول المركز ( العيادة ) بإبلاغ أي معلومات عن علاجي إلى الهيئات الخاصة بتغطية نفقات
                                    العلاج ، أو الجهات الطبية التي قد تتولى تكملة علاجي فيما بعد ، وذلك إذا طلب منا ذلك.
                                    اقر بالموافقة على تسديد جميع نفقات علاجي بالمركز إما بالدفع الفوري أو بتخويل المركز ( العيادة ) بإرسال فاتورة علاجي إلى التأمين الصحي
                                    التي انتمي اليها ، كما اتعهد بدفع أي مصاريف إضافية غير مغطاه من شركات التأمين ،هذا الإقرار سيتم حفظه في الملف الطبي الخاص
                                    بالمريض، اقر بأنني قد قرأت وفهمت كل ما جاء في هذا الإقرار.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group mb-3"><label class="form-label text-black">Patient or Legal Guardian Name:&nbsp;</label></div>
                            <div class="form-group mb-3"><label class="form-label text-red text-capitalize text-left">@Model.pat_name&nbsp;</label></div>
                            <div class="form-group mb-3"><label class="form-label text-black">Signature:&nbsp;</label></div>
                            <div class="form-group mb-3" id="genpatimg"><img alt="Signature" src="" id="genpat_sign" class="avatar avatar-xl bsquare text-center" /></div>

                            <div class="form-group mb-3"><label class="form-label text-black">Date:&nbsp;</label></div>
                            <div class="form-group mb-3"><label class="form-label text-red text-left" id="upsb_date_patient" name="">&nbsp;</label></div>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-6">
                            <div class="form-group mb-3"><label class="form-label text-black">Witness or Interpreter’s Name:&nbsp;</label></div>
                            <div class="form-group mb-3">
                                @Html.TextBoxFor(m => m.gcf_witness, new { @class = "form-control", @placeholder = "Enter Witness", @id = "ugcf_witness", @maxlength="50" })
                            </div>
                            <div class="form-group mb-3"><label class="form-label text-black">Signature:&nbsp;</label></div>
                            <div class="form-group mb-3" style="display:none" id="witimg"><img alt="Signature" src="" id="wit_sign" class="avatar avatar-xl bsquare" /></div>
                            <div class="form-group mb-3"><label class="form-label text-black">Date:&nbsp;</label></div>
                            <div class="form-group mb-3">
                                <label class="form-label text-red text-left" id="upsb_date_witness" name="">&nbsp;</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                            <div class="card-footer" style="display:none" id="footimg">
                                <h3 class="card-title">
                                    <img alt="footer" src=" " id="footerimg" />
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row mt-2">
                        <div id="error"></div>
                        <div class="col-sm-12 col-lg-12 text-right">
                            <div class="btn-list btn-animation">
                                <div class="btn-group mr-2">
                                    <div class="dropdown">
                                        <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                            <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                            <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="btn-group mr-2">
                                    <div class="dropdown">
                                        <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                            <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> witness
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" onclick="openSignaturePad('witness')">Tab</a>
                                            <a class="dropdown-item" onclick="openWacomTabSignaturePad('witness')">Wacom Tab</a>
                                        </div>
                                    </div>
                                </div>
                                &nbsp; &nbsp;
                                <button type="submit" class="btn btn-sm btn-success" id="GenCons_btn_Insert">Add</button>
                                <button type="submit" class="btn btn-sm btn-outline-warning" id="GenCons_btn_Update">Save Changes</button>
                                <button type="submit" class="btn btn-sm btn-outline-danger" id="GenCons_btn_Delete">Delete</button>
                                <button type="submit" class="btn btn-sm btn-outline-light" id="btn_Print">
                                    <i class="fa fa-print">&nbsp;&nbsp;</i>Print
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var appId = "@Model.appId";
    var formName1 = $(form_Addgc).closest('form').attr('name');

    //#region Page Load
    $(function () {
        GetGeneralConsentAll("@Model.appId");
        GetHeaderFooter("@Model.app_branch");
        GetSignaturename1(appId, 'patient', 'GeneralConsent');
        GetSignaturename1(appId, 'Witness', 'GeneralConsent');
    });
    //#endregion

    //#region Get GeneralConsent
    var GetGeneralConsentAll = function (appId) {
        $.ajax({
            url: "@Url.Action("GetGeneralConsentAll", "GeneralConsent", new { area= "FrontDesk" })?appId=" + "@Model.appId",
            type: "GET",
            dataType: "json",
            async: false,
            success: function (response) {
                if (response.length > 0) {
                    GetSignaturename1(appId, 'patient', 'GeneralConsent');

                    GetSignaturename1(appId, 'Witness', 'GeneralConsent');

                    $('#ugcfId').val(response[0].gcfId);
                    $('#ugcf_witness').val(response[0].gcf_witness);
                    $("#GenCons_btn_Insert").hide();

                    $("#GenCons_btn_Update,#GenCons_btn_Delete,#btn_Print").show();
                }
                else {
                    clearControls();
                }
            },
            error: function (xhr) {
                console.log(xhr)
            }
        });
    }
    //#endregion

    //#region Add Click
    $('#GenCons_btn_Insert').on('click', function (e) {
        e.preventDefault();

        $('#GenCons_btn_Insert').removeClass("btn btn-success");
        $('#GenCons_btn_Insert').addClass("btn btn-success btn-loaders btn-icon");
        $('#GenCons_btn_Insert').html("Saving the Record....");

        var _dataInsert = {
            "gcfId": 0,
            "gcf_appId": $("#appId").val(),
            "gcf_witness": $("#ugcf_witness").val(),
            "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
        }

        $.ajax({
            type: "Post",
            url: "@Url.Action("InsertGeneralConsent", "GeneralConsent", new {area = "FrontDesk" })",
            dataType: 'JSON',
            data: _dataInsert,
            success: function (data) {
                $('#GenCons_btn_Insert').removeClass("btn btn-success btn-loaders btn-icon");
                $('#GenCons_btn_Insert').addClass("btn btn-success");
                $('#GenCons_btn_Insert').html("Add");

                if (data.isInserted) {
                    console.log(data);
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i>  General Consent Saved Successfully!", "success");
                    GetGeneralConsentAll(appId);
                    Timeout();
                }
                else {
                    let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                        "<div class='alert alert-warning' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Warning.. General Consent Alredy Exists..</strong><br/>" +
                        "</div></div>";
                    $('#tab12').click();
                    $("#Alert").html(html);
                }
            },
            error: function (xhr) {
                $('#GenCons_btn_Insert').removeClass("btn btn-success btn-loaders btn-icon");
                $('#GenCons_btn_Insert').addClass("btn btn-success");
                $('#GenCons_btn_Insert').html("Add");
                console.log(xhr);
            }
        });
    });
    //#endregion

    //#region Update  Click
        $('#GenCons_btn_Update').on('click', function (e) {
            e.preventDefault();
            $('#GenCons_btn_Update').removeClass("btn btn-success");
            $('#GenCons_btn_Update').addClass("btn btn-success btn-loaders btn-icon");
            $('#GenCons_btn_Update').html("Updating the Record....");
            var _dateInsert = {
                "gcfId": $("#ugcfId").val(),
                "gcf_appId": $("#appId").val(),
                "gcf_witness": $("#ugcf_witness").val(),
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }
            $.ajax({
                    type: "Post",
                    url: "@Url.Action("UpdateGeneralConsent", "GeneralConsent", new {area = "FrontDesk" })",
                    dataType: 'JSON',
                     data: _dateInsert,
                     success: function (data) {
                         $('#GenCons_btn_Update').removeClass("btn btn-success btn-loaders btn-icon");
                         $('#GenCons_btn_Update').addClass("btn btn-warning");
                         $('#GenCons_btn_Update').html("Save Changes");
                            if (data.isInserted) {
                                var alertPlaceholder = document.getElementById("Alert");
                                function alert(e, t) {
                                    var l = document.createElement("div");
                                    l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                        '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                                }
                                alert("<i class='fe fe-check-circle text-white'></i>  General Consent Updated Successfully!", "success");
                                GetGeneralConsentAll(appId);
                               // $('#tab12').click();
                                Timeout();
                            }
                            else {
                                let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                    "<div class='alert alert-warning' role='alert'>" +
                                    "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                    "<strong>Warning..  General Consent Alredy Exists..</strong><br/>" +
                                    "</div></div>";
                                $('#tab12').click();
                                $("#Alert").html(html);
                            }

                    },
                    error: function (xhr) {
                        $('#GenCons_btn_Update').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#GenCons_btn_Update').addClass("btn btn-warning");
                        $('#GenCons_btn_Update').html("Save Changes");
                        Timeout();
                    }
               })
        });
    //#endregion Update Click
    //#region Delete Click
    $('#GenCons_btn_Delete').on('click', function (e) {
        e.preventDefault();
            $('#GenCons_btn_Delete').removeClass("btn btn-success");
            $('#GenCons_btn_Delete').addClass("btn btn-success btn-loaders btn-icon");
            $('#GenCons_btn_Delete').html("Deleting the Record....");

            $.ajax({
                url: '@Url.Action("DeleteGeneralConsent", "GeneralConsent", new { area = "FrontDesk" })?gcfId=' + $("#ugcfId").val() + '&gcf_status=Deleted',
                type: "POST",
                dataType: 'JSON',
                success: function (data) {
                    $('#GenCons_btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#GenCons_btn_Delete').addClass("btn btn-warning");
                    $('#GenCons_btn_Delete').html("Delete");
                    if (data.isAuthorized) {
                        if (data.success) {

                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i> General Consent Deleted Successfully!", "success");
                            GetGeneralConsentAll(appId);
                           // $('#tab12').click();
                            Timeout();
                        }
                        else {

                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Error!.. Failed to Delete..</strong><br/>" +
                                "</div></div>";
                            $("#error").html(html);
                        }
                    }
                    else {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                    }
                },
                error: function (xhr) {
                    $('#GenCons_btn_Delete').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#GenCons_btn_Delete').addClass("btn btn-Delete");
                    $('#GenCons_btn_Delete').html("Delete");
                    Timeout();
                }
            })
    });
    //#endregion Delete Click
    //#region Signature
        var openSignaturePad = function (id) {
            var _data = {
                "patId": patId,
                "person": id,
                "form": 'GeneralConsent',
                "appId": appId,
                "formname":"General Consent",
                "formlink":"General ConsentPrint",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion Signature
    //#region Wacom Signature
    var openWacomSignaturePad = function (id) {
            var _data = {
                "patId": patId,
                "person": id,
                "form": 'GeneralConsent',
                "appId": appId,
                "formname":"General Consent",
                "formlink":"General ConsentPrint",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomSignaturePad", "WacomSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    //#region Wacom Tab Signature
        var openWacomTabSignaturePad = function (id) {
            var _data = {
                "patId": patId,
                "person": id,
                "form": 'GeneralConsent',
                "appId": appId,
                "formname":"General Consent",
                "formlink":"General ConsentPrint",
                "eSign":""
            }
            $.ajax({
                type: "GET",
                url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
                contentType: "application/json",
                dataType: "html",
                data: _data,
                success: function (response) {
                    $("#signature_pad_body").html(response);
                    $("#signature_pad").modal("show");
                },
                error: function (xhr) {
                    console.log("Error :" + xhr.statusText);
                }
            });
        }
    //#endregion

    $(document).ready(function () {
        $('#signature_pad').on('hidden.bs.modal', function () {
            if (localStorage.getItem("sign") != null) {
                GetSignaturename1(appId, 'patient', 'GeneralConsent');
                GetSignaturename1(appId, 'Witness', 'GeneralConsent');
                localStorage.removeItem("sign");
            }
        });
    });
    //#region Get Signature
        var GetSignaturename1 = function (appId, person, formName1) {
                $.ajax({
                    url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + appId + '&person=' + person + '&form=' + formName1,
                        type: "GET",
                        dataType: "json",
                        async: false,
                    success: function (response) {
                        let sign = response[0].psb_sign;
                        var date = moment(response[0].psb_date_Created).format("DD-MM-YYYY HH:mm");

                        if (response[0].person == "patient") {
                            $("#genpatimg").show();
                            $("#genpat_sign").attr("src", sign);
                            $("#upsb_date_patient").text(date);
                        }
                        if (response[0].person == "witness") {
                            $("#witimg").show();
                            $("#wit_sign").attr("src", sign);
                            $("#upsb_date_witness").text(date);
                        }
                    },
                        error: function (xhr) {
                            console.log(xhr);
                            alert(xhr);
                        }

                });
            };
    //#endregion

    //#region Header/footer images
    var GetHeaderFooter = function (app_branch) {
            $.ajax({
                url: '@Url.Action("GetHeaderFooter", "ClinicSettings", new { area = "Masters" })?setId=' + app_branch,
                    type: "GET",
                    dataType: "json",
                    async: false,
                success: function (response) {
                    let header = response[0].set_header_image;
                    let footer = response[0].set_footer_image;
                        $("#headerimg").attr("src", header);
                        $("#footerimg").attr("src", footer);
                    },
                    error: function (xhr) {
                        console.log(xhr);
                        alert(xhr);
                    }

            });
        };
    //#endregion Header/footer images

    //#region Clear Controls
    var clearControls = function () {
        $("#ugcf_witness").val("");
        $("#upsb_date_patient,#upsb_date_witness").text("");
        $("#GenCons_btn_Insert").show();
        $("#genpatimg,#witimg").hide();
        $("#GenCons_btn_Update,#GenCons_btn_Delete,#btn_Print").hide();
    }
    //#endregion

    //#region Print Form
    $('#btn_Prints').on('click', function (e) {
        $('.form-control').not('#helpDialog').css('border', 'none');

        $('#headimg,#footimg').show();

        var printContents = document.getElementById("print_form").innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
        location.reload();
    });
    //#endregion

    //#region Print
    $('#btn_Print').on('click', function (e) {
        e.preventDefault();

        $('#btn_Print').removeClass("btn btn-sm btn-success");
        $('#btn_Print').addClass("btn btn-sm btn-success btn-loaders btn-icon");
        $('#btn_Print').html("Printing...");

        $.ajax({
            type: "Get",
            url: "@Url.Action("PrintPDFGeneralConsent", "GeneralConsent", new {area = "FrontDesk" })?appId=" + appId + "&form=GeneralConsent",
            dataType: 'JSON',
            success: function (data) {
                if (data.isAuthorized) {
                    if (data.success) {
                        $('#btn_Print').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btn_Print').addClass("btn btn-outline-light");
                        $('#btn_Print').html("Print");
                        window.open(data.message, '_blank');
                    }
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        });
    });
    //#endregion

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion
</script>