@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Hydra Facial";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Hydra Facial consent Form<br /><span dir="rtl">نموذج موافقة هيدرا فيشل</span>
                </h3>
            </div>
            <div class="card-body">
                <div id="HydraFacial_add" style="display:none">
                </div>
                <div id="HydraFacial_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="HydraFacial_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetHydraFacialInfo();
        HydraFacialPreviousHistory();
    });

    //#endregion Page Load

    //#region Load GetHydraFacialInfo
    var GetHydraFacialInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetHydraFacialData", "HydraFacial", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditHydraFacial();
                        $("#HydraFacial_add").hide();
                        $("#HydraFacial_edit").show();

                    }
                    else {
                        $("#HydraFacial_add").show();
                        $("#HydraFacial_edit").hide();
                        AddHydraFacial();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load HydraFacial

    //#region Add HydraFacial
    function AddHydraFacial() {
        var x = $("#HydraFacial_add");
        x.load("@Url.Action("CreateHydraFacial", "HydraFacial", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add HydraFacial

    //#region Update HydraFacial
    function EditHydraFacial() {
        var x = $("#HydraFacial_edit");
        x.load("@Url.Action("UpdateHydraFacial", "HydraFacial", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update HydraFacial

    //#region Histroy of HydraFacial
    function HydraFacialPreviousHistory() {
        var x = $("#HydraFacial_history");
        x.load("@Url.Action("HydraFacialPreviousHistory", "HydraFacial", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>