@model BusinessEntities.mResetPassword
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta name="keywords" content="Clinic software, Home Care Software, HOMECARE Software, Home Care Management Software, medical software, medical center software, clinic management software, medical center management software, india, USA, dubai, sharjah, united arab emirates, abu dhabi, HAAD, DHA, MOH, DHCC, Dubai Health Care City, electronic prescription, ePrescription, electronic claims, eclaims, esignature, electronic signature, EMIRATESID integration" />
    <meta name="description" content="We Offers Custom Software Development, Website Designing & development, Domain Registration, Website Shared & Dedicated Hosting Service(Linux & Windows). We are offshore software development and software outsourcing experts. Our focus is application development, database design, Web design, ecommerce solutions and ecommerce Web site design." />
    <meta name="author" content="Vision Softwares">
    <meta name="distribution" content="Global" />
    <meta name="rating" content="General" />
    <meta name="subject" content="Computers/Software" />
    <meta name="page-type" content="Computers/Software" />
    <meta name="site-created" content="28-04-2005" />
    <meta name="revisit" content="6 days" />
    <meta name="revisit-after" content="6 days" />
    <meta name="content-language" content="english" />
    <meta name="resource-type" content="document" />
    <meta name="audience" content="all" />
    <meta name="robots" content="index,all" />
    <meta name="copyright" content="(c) 2005-2050 Vision Technologies " />
    <meta name="owner" content="Vision Technologies, Software Development, Website Design & Development, IT Infrastructure, Security Systems, Access Controls and IT Outsourcing Company" />
    <meta name="home_url" content="https://www.visionsoftwares.com/" />

    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta name="rating" content="General" />
    <meta name="copyright" content="
   -----------------------------------------------------
   Copyright; 2005-2050, Vision Technologies , All rights reserved.
   All graphics used in this document are copyrighted
   materials; 2005-2020, Vision Technologies , All rights reserved.
   -----------------------------------------------------
   Legal Notice: Information found on this website may not
   be published, broadcast, rewritten or redistributed in
   any form to any other websites or forums without prior
   written permission from visionsoftwares.com.
   Copyrights; 2005-2020, Vision Technologies , All rights reserved.
   -----------------------------------------------------" />

    <meta name="robots" content="Index, Follow" />
    <meta http-equiv="Window-target" content="_top" />
    <meta http-equiv="Expires" content="0" />
    <meta name="WT.sp" content="_en_us_" />
    <meta name="DCSext.wt_ver" content="1.0" />
    <meta name="DCSext.wt_target" content="IE 7;Windows XP;Generic" />
    <meta name="Classification" content="E-Commerce, E-Business, Software development, Website, Hosting, Recruitment Software, Clinic Software, School Software, Property Software, Product Catalogue Software, Accounting Software, Retail Software, Jobs, Careers, Employment Opportunities" />

    <!-- Title -->
    <title>ClinicSoft 9.0 - Powered By Vision Technologies | Reset Password</title>

    <!--Favicon -->
    <link rel="icon" href="~/assets/images/brand/favicon.ico" type="image/x-icon" />

    <!--Bootstrap css -->
    <link id="style" href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Style css -->
    <link href="~/assets/css/style.css" rel="stylesheet" />
    <link href="~/assets/css/dark.css" rel="stylesheet" />
    <link href="~/assets/css/skin-modes.css" rel="stylesheet" />

    <!-- Animate css -->
    <link href="~/assets/css/animated.css" rel="stylesheet" />

    <!---Icons css-->
    <link href="~/assets/css/icons.css" rel="stylesheet" />

    <!-- Color Skin css -->
    <link id="theme" href="~/assets/colors/color1.css" rel="stylesheet" type="text/css" />

</head>
<body class="register-3">
    <div class="page">
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col mx-auto">
                        <div class="row justify-content-center">
                            <div class="col-md-4">
                                <div class="text-center mb-5">
                                    <img src="~/assets/images/brand/logo.png" class="header-brand-img desktop-lgo" alt="Clinic Soft 9.0 Logo" style="height: 8rem;">
                                </div>
                                <div class="card bg-primary text-white br-7 p-2" style="background-image: linear-gradient(to right, #191a54, #1f354e);">
                                    <div class="card-body">
                                        <div class="text-center mb-3">
                                            <a href="javascript:void(0);" class="text-white">A Clinic / Medical / Dental / Homecare Center Management Software</a>
                                            <h4 class="mb-2 mt-3 thide">Reset Password</h4>
                                        </div>
                                        @if (Model.empId == 0)
                                        {
                                            <h1 class="h5 mb-3 font-weight-semibold text-red text-center">Invalid Link or Your Link has expired! Please contact your administrator.</h1>
                                        }
                                        else
                                        {
                                            <form id="FormResetPassword" autocomplete="off">
                                                @Html.AntiForgeryToken()
                                                <div class="input-group mb-4 thide">
                                                    <div class="input-group" id="Password-toggle">
                                                        <a href="" class="input-group-text">
                                                            <i class="fe fe-eye" aria-hidden="true"></i>
                                                        </a>
                                                        <input class="form-control" type="password" placeholder="New Password" id="txtPassword" name="txtPassword">
                                                    </div>
                                                </div>
                                                <div class="input-group mb-4 thide">
                                                    <div class="input-group" id="Password-toggle">
                                                        <a href="" class="input-group-text">
                                                            <i class="fe fe-eye" aria-hidden="true"></i>
                                                        </a>
                                                        <input class="form-control" type="password" placeholder="Confirm Password" id="txtConPassword" name="txtConPassword">
                                                    </div>
                                                </div>
                                                <div class="form-group fs-14 text-center font-weight-semibold" id="spnErrorMessage">
                                                </div>
                                                <div class="form-group text-center mb-3 btn-animation">
                                                    <button class="btn btn-white btn-block text-primary d-grid px-4 font-weight-bold btn-md w-100 br-7" id="btnResetPassword">Reset Password</button>
                                                </div>
                                                <div class="form-group fs-12 text-center thide">
                                                    By Clicking Reset, You agree to our  <a href="javascript:void(0);" style="color: #49abc9" class="font-weight-bold">Terms & Conditions</a> and have read and acknowledged our <a href="javascript:void(0);" style="color: #49abc9" class="font-weight-bold">Privacy & Policy.</a>
                                                </div>
                                            </form>
                                        }
                                        <div class="form-group fs-13 text-center">
                                            <a href="@Url.Action("Login", "Authentication", new {area="Authentication"})" class="text-white text-decoration-underline font-weight-semibold">Login</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center register-icons">
                                    <div class="small text-dark font-weight-bold mb-4">
                                        <p>
                                            &copy; @DateTime.Now.Year - <a href="https://visionsoftwares.com" target="_blank" class="small text-dark font-weight-bold mb-4">Vision Technologies</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery js-->
    <script src="~/assets/js/jquery.min.js"></script>

    <!-- Bootstrap5 js-->
    <script src="~/assets/plugins/bootstrap/popper.min.js"></script>
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>

    <!--Othercharts js-->
    <script src="~/assets/plugins/othercharts/jquery.sparkline.min.js"></script>

    <!-- Circle-progress js-->
    <script src="~/assets/js/circle-progress.min.js"></script>

    <!-- Jquery-rating js-->
    <script src="~/assets/plugins/rating/jquery.rating-stars.js"></script>

    <!-- Show Password -->
    <script src="~/assets/js/bootstrap-show-password.min.js"></script>

    <!-- Custom js-->
    <script src="~/assets/js/custom.js"></script>

    <script src="~/Scripts/jquery.validate.min.js"></script>

    <style>
        #txtPassword-error, #txtConPassword-error {
            margin-top: 8px;
        }
    </style>
    <script>
        //#region Page Load
        $(function () {
            validation();
        });
        //#endregion

        //#region Validation Initialization
        var validation = function () {

            $.validator.addMethod("passwordComplexity", function(value) {
                var passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@$!%*?&])[A-Za-z\d@@$!%*?&]+$/;
                return passwordPattern.test(value);
            }, "Password must contain at least one uppercase letter, one lowercase letter, one digit, and one special character.");


            $("#FormResetPassword").validate({
                focusInvalid: true,
                rules:
                {
                    txtPassword: {
                        required: true,
                        passwordComplexity: true
                    },
                    txtConPassword: {
                        required: function () {
                            if ($("#txtPassword").val() != "") {
                                return true;
                            }
                            else {
                                return false
                            }
                        },
                        equalTo: "#txtPassword"
                    }
                },
                messages: {
                    txtPassword: {
                        required: "Please Enter Password"
                    },
                    txtConPassword: {
                        required: "Please Confirm Password",
                        equalTo: "Confirm Password do not match"
                    }
                },
                highlight: function (element) {
                    var elem = $(element);
                    if (elem.hasClass("select2-hidden-accessible")) {
                        $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                    } else {
                        elem.parent().addClass('has-error');
                    }
                    $(element).parent().addClass('has-error');
                },
                unhighlight: function (element) {
                    var elem = $(element);
                    if (elem.hasClass("select2-hidden-accessible")) {
                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                    } else {
                        elem.removeClass('has-error');
                    }
                    $(element).parent().removeClass('has-error');
                },
                errorElement: 'span',
                errorClass: 'text-danger fw-bold',
                errorPlacement: function (error, element) {
                    var elem = $(element);
                    if (elem.hasClass("select2-hidden-accessible")) {
                        element = $("#select2-" + elem.attr("id") + "-container").parent();
                        error.insertAfter(element);
                    } else {
                        error.insertAfter(element);
                    }
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                }
            });
        }
        //#endregion

        //#region Reset Password Button Click
        $("#btnResetPassword").click(function (e) {

            e.preventDefault();

            if ($("#FormResetPassword").valid()) {

                $('#btnResetPassword').removeClass("btn btn-white");
                $('#btnResetPassword').addClass("btn btn-success btn-loaders btn-icon");
                $('#btnResetPassword').addClass("curdrop");
                $('#btnResetPassword').addClass("disabled");
                $('#btnResetPassword').html("Resetting... Please wait");

                var _data = {
                    "empId":"@Model.empId",
                    "recoveryCode":"@Model.recoveryCode",
                    "emp_pass": $('#txtPassword').val().toString()
                }

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ResetPassword", "ResetPassword", new{ area = "Authentication" })',
                    dataType: 'json',
                    data: _data,
                    success: function (response) {
                        $('#btnResetPassword').removeClass("curdrop");
                        $('#btnResetPassword').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btnResetPassword').addClass("btn btn-white");
                        $('#btnResetPassword').removeClass("disabled");
                        $('#btnResetPassword').html("Reset Password");

                        if (response["status"].toString() == "error") {
                            $("#spnErrorMessage").removeClass("text-success");
                            $("#spnErrorMessage").addClass("text-danger");
                        }
                        else {
                            $("#spnErrorMessage").removeClass("text-danger");
                            $("#spnErrorMessage").addClass("text-success");
                            $('.thide').addClass("d-none");
                            $('#btnResetPassword').addClass("d-none");
                        }

                        $('#txtPassword').val('');
                        $('#txtConPassword').val('');
                        $("#spnErrorMessage").html(response["error_message"].toString());
                    },
                    error: function (xhr) {
                        $('#btnResetPassword').removeClass("curdrop");
                        $('#btnResetPassword').removeClass("btn btn-success btn-loaders btn-icon");
                        $('#btnResetPassword').addClass("btn btn-white");
                        $('#btnResetPassword').removeClass("disabled");
                        $('#btnResetPassword').html("Reset Password");
                        console.log(xhr);
                    }
                });
            }
        });
        //#endregion
    </script>
</body>
</html>