@model BusinessEntities.Accounts.MaterialManagement.PurchaseOrders

<div class="modal-header py-4 px-5">
    <h5 class="modal-title text-primary font-weight-semibold" id="exampleModalLongTitle">Add Purchase Order</h5>
    <button aria-label="Close" data-bs-dismiss="modal" class="btn-close" type="button"><span aria-hidden="true">×</span></button>
</div>

<div class="modal-body p-4">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mb-4 font-weight-semibold">
            <span class="text-danger" style="font-size:smaller">Required fields are marked with *</span>
        </div>
    </div>
    <form id="form_AddPurchaseOrder" >
        @Html.AntiForgeryToken()
        <div class="row mt-2">
            <div class="panel-group accordion-panel" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default active">
                    <div class="panel-heading bg-danger-1" role="tab" id="required-headingOne1">
                        <h4 class="panel-title">
                            <a role="button" data-bs-toggle="collapse" data-parent="#required-accordion1" href="#required-collapseOne1" aria-expanded="true" aria-controls="required-collapseOne1">
                                <span style="color:white; pointer-events:none;">Purchase Order Detail</span>
                                <span class="float-end" style="color:white;"><i class="fe fe-chevrons-down"></i></span>
                            </a>
                        </h4>
                    </div>
                    <div id="required-collapseOne1" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="required-headingOne1">
                        <div class="mt-5">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-12 col-md-6 col-lg-3">
                                        <div class="form-group">
                                            <label class="form-label text-black">Branch&nbsp;<span class="text-danger">*</span></label>
                                            @Html.DropDownList("pur_branch", (IEnumerable<SelectListItem>)ViewData["BranchList"], "Please Select", new { @class = "form-select select2" })
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-3">
                                        <div class="form-group">
                                            <label class="form-label text-black">Supplier Name&nbsp;<span class="text-danger">*</span> <a id="btnAddSupplier" style="cursor: pointer"><i class="fa fa-plus text-success"></i></a></label>
                                            @*<select id="pur_supplier" class="form-control select2 mb-4"></select>*@
                                            @Html.DropDownListFor(m => m.pur_supplier, new List<SelectListItem>
                                               { }, "Select Supplier", new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-3">
                                        <div class="form-group">
                                            <label class="form-label text-black">Type&nbsp;<span class="text-danger">*</span></label>
                                            @Html.DropDownListFor(m => m.pur_type, new List<SelectListItem>
                                               {
                                                  new SelectListItem{ Text="Purchase Order", Value = "Purchase Order" },
                                                  new SelectListItem{ Text="Purchase Invoice", Value = "Purchase Invoice" },
                                                  new SelectListItem{ Text="GRN Regular", Value = "GRN Regular" },
                                               }, "Select Type", new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-3">
                                        <div class="form-group">
                                            <label class="form-label text-black">Date&nbsp;<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(sup => sup.pur_odate, new { @class = "form-control", @placeholder = "DD-MMMM-YYYY", maxlength = "18" })
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-3">
                                        <div class="form-group">
                                            <label class="form-label text-black">Enq. No#</label>
                                            @Html.TextBoxFor(sup => sup.pur_enqno, new { @class = "form-control mb-4", @placeholder = "Enter Enquiry No.", @style = "width:100%;", maxlength = "20" })
                                        </div>
                                    </div>
                                    <div class="ccol-sm-12 col-md-6 col-lg-3">
                                        <div class="form-group">
                                            <label class="form-label text-black">Quotation No#</label>
                                            @Html.TextBoxFor(sup => sup.pur_quono, new { @class = "form-control mb-4", @placeholder = "Enter Quotation No.", @style = "width:100%;", maxlength = "20" })
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-3">
                                        <div class="form-group">
                                            <label class="form-label text-black">Validity (Days)</label>
                                            @Html.TextBoxFor(sup => sup.pur_validity, new { @class = "form-control", @placeholder = "Enter Validity of Order", @value = "0", maxlength = "3" })
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-3">
                                        <div class="form-group">
                                            <label class="form-label text-black">Payment Terms (Days)</label>
                                            @Html.TextBoxFor(sup => sup.pur_pay_terms, new { @class = "form-control", @placeholder = "Enter Pay Terms Days", @value = "0", maxlength = "3" })
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-3">
                                        <div class="form-group">
                                            <label class="form-label text-black">Quotation Date</label>
                                            @Html.TextBoxFor(sup => sup.pur_qdate, new { @class = "form-control", maxlength = "18", @placeholder = "DD-MMMM-YYYY" })
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-3" id="div_sup_invoice">
                                        <div class="form-group">
                                            <label class="form-label text-black">Supplier Invoice&nbsp;<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(sup => sup.pur_sup_invoice, new { @class = "form-control", maxlength = "15", @placeholder = "Enter Supplier Invoice No." })
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-3">
                                        <div class="form-group">
                                            <label class="form-label text-black">Notes</label>
                                            @Html.TextAreaFor(sup => sup.pur_notes, new { @class = "form-control", maxlength = "998", @placeholder = "Enter Notes", @rows = "3" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default mt-2">
                    <div class="panel-heading" role="tab" id="required-headingTwo2">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#required-accordion1" href="#required-collapseTwo2" aria-expanded="false" aria-controls="required-collapseTwo2">
                                Shipping & Billing Information
                                <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                            </a>
                        </h4>
                    </div>
                    <div id="required-collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="required-headingTwo2">
                        <div class="mt-5">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-12 col-md-4 col-lg-4">
                                        <div class="expanel expanel-secondary">
                                            <div class="expanel-heading">
                                                <div class="expanel-title">Ship To</div>
                                            </div>
                                            <div class="expanel-body">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-2 col-lg-2">
                                                        <label class="form-label text-black">To</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(sup => sup.pur_ship_1, new { @class = "form-control", @placeholder = "Ex : Vision Technologies", maxlength = "74" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-2 col-lg-2">
                                                        <label class="form-label text-black">Address</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(sup => sup.pur_ship_2, new { @class = "form-control", @placeholder = "Ex : #349, 3rd Floor, Damas 2000, Rolla Sharja.", maxlength = "499" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-2 col-lg-2">
                                                        <label class="form-label text-black">Telephone</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(sup => sup.pur_ship_3, new { @class = "form-control", @placeholder = "Ex : 971065634883", maxlength = "49" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-2 col-lg-2">
                                                        <label class="form-label text-black">Email</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(sup => sup.pur_ship_4, new { @class = "form-control", @placeholder = "Ex : info@visionsoftwares.com", maxlength = "49" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-4">
                                        <div class="expanel expanel-secondary">
                                            <div class="expanel-heading">
                                                <div class="expanel-title">Bill To</div>
                                            </div>
                                            <div class="expanel-body">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-2 col-lg-2">
                                                        <label class="form-label text-black">To</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(sup => sup.pur_bill_1, new { @class = "form-control", @placeholder = "Ex : Vision Technologies", maxlength = "74" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-2 col-lg-2">
                                                        <label class="form-label text-black">Address</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(sup => sup.pur_bill_2, new { @class = "form-control", @placeholder = "Ex : #347, 3rd Floor, Damas 2000, Rolla Sharja.", maxlength = "499" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-2 col-lg-2">
                                                        <label class="form-label text-black">Telephone</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(sup => sup.pur_bill_3, new { @class = "form-control", @placeholder = "Ex : 971065634883", maxlength = "49" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-2 col-lg-2">
                                                        <label class="form-label text-black">Email</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(sup => sup.pur_bill_4, new { @class = "form-control", @placeholder = "Ex : info@visionsoftwares.com", maxlength = "49" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-12 col-md-6 col-lg-4">
                                        <div class="expanel expanel-secondary">
                                            <div class="expanel-heading">
                                                <div class="expanel-title">Contact info. of Buyer</div>
                                            </div>
                                            <div class="expanel-body">
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-2 col-lg-2">
                                                        <label class="form-label text-black">To</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(sup => sup.pur_buy_1, new { @class = "form-control", @placeholder = "Ex : Vision Technologies", maxlength = "74" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-2 col-lg-2">
                                                        <label class="form-label text-black">Address</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(sup => sup.pur_buy_2, new { @class = "form-control", @placeholder = "Ex : #349, 3rd Floor, Damas 2000, Rolla Sharja.", maxlength = "499" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-2 col-lg-2">
                                                        <label class="form-label text-black">Telephone</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(sup => sup.pur_buy_3, new { @class = "form-control", @placeholder = "Ex : 971065634883", maxlength = "49" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-2 col-lg-2">
                                                        <label class="form-label text-black">Email</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-10 col-lg-10">
                                                        <div class="form-group">
                                                            @Html.TextBoxFor(sup => sup.pur_buy_4, new { @class = "form-control", @placeholder = "Ex : info@visionsoftwares.com", maxlength = "49" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default mt-2">
                    <div class="panel-heading" role="tab" id="required-headingTwo3">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-bs-toggle="collapse" data-parent="#required-accordion1" href="#required-collapseTwo3" aria-expanded="false" aria-controls="required-collapseTwo3">
                                Purchase Order Items
                                <span class="float-end"><i class="fe fe-chevrons-down"></i></span>
                            </a>
                        </h4>
                    </div>
                    <div id="required-collapseTwo3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="required-headingTwo3">
                        <div class="mt-5">
                            <div class="modal-body">
                                @Html.Action("PurchaseOrderItems", "PurchaseOrders", new { area = "MaterialManagement" })
                                <div class="table-responsive">
                                    <table id="tbl_purchaseorder_items" class="table table-striped table-bordered text-nowrap resize-table" style="width: 100%; cursor: pointer;">
                                        <thead>
                                            <tr style="color: #fff !important; background-color: #3C457D; border-color: #3C457D; ">
                                                <th class="border-bottom-0 font-weight-semibold text-white">Sl No</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Item</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Description</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white" style="display:none;">Batch No.</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white" style="display:none;">Expiry Date</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Qty-UoM</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Free Qty-UoM</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Unit Price</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Total</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Disc. / Type</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Disc. Value</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">Net</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">VAT</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white">NET + VAT</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white"></th>
                                                <th class="border-bottom-0 font-weight-semibold text-white" style="display:none;">ItemId</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white" style="display:none;">Qty</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white" style="display:none;">UoM</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white" style="display:none;">Free Qty</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white" style="display:none;">Free UoM</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white" style="display:none;">Free Batch</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white" style="display:none;">Free Expiry</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white" style="display:none;">Discount</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white" style="display:none;">Type</th>
                                                <th class="border-bottom-0 font-weight-semibold text-white" style="display:none;">VAT % </th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="display:none;"></td>
                                                <td style="display:none;"></td>
                                                <td></td>
                                                <td class="table_footer_align"><span class="text-right text-dark">Total : &nbsp;</span></td>
                                                <td class="table_footer_align"><span id="subPrice"></span></td>
                                                <td class="table_footer_align"><span id="subTotal"></span></td>
                                                <td></td>
                                                <td class="table_footer_align"><span id="subDisc_value"></span></td>
                                                <td class="table_footer_align"><span id="subNET"></span></td>
                                                <td class="table_footer_align"><span id="subVAT"></span></td>
                                                <td class="table_footer_align"><span id="subNETVAT"></span></td>
                                                <td></td>
                                                <td style="display:none;"></td>
                                                <td style="display:none;"></td>
                                                <td style="display:none;"></td>
                                                <td style="display:none;"></td>
                                                <td style="display:none;"></td>
                                                <td style="display:none;"></td>
                                                <td style="display:none;"></td>
                                                <td style="display:none;"><span id="subDisc"></span></td>
                                                <td style="display:none;"></td>
                                                <td style="display:none;"></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
                <div id="po_error" class="text-center" style="max-width:500px"></div>
            </div>
            <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
                <div id="PurchaseInsertAlert"></div>
            </div>
            @if (TempData["ErrorMessage_update"] != null)
            {
                <div class="col-12 col-sm-12 col-md-12 d-flex justify-content-center">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        <strong>Error!&nbsp;</strong>@TempData["ErrorMessage_update"]
                    </div>
                </div>
            }
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <button type="submit" class="btn btn-success" id="btn_Insert"><i class="fe fe-check-circle"></i> Generate Purchase Order</button>
                <button type="button" class="btn btn-cyan" id="btnPrintBarcode"><i class="fa fa-barcode"></i> Print Barcodes</button>
                <button type="button" class="btn btn-outline-primary" id="btnPrintPO"><i class="fe fe-printer"></i> Print Purchase Order</button>
                <button type="button" class="btn btn-outline-danger me-1" data-bs-dismiss="modal">
                    <i class="fe fe-x"></i> Close
                </button>
                <label class="text-red" id="error_message"></label>
                <input type="hidden" id="hi_purId" value="0" />
                <input type="hidden" id="hi_pur_code" value="" />
            </div>
        </div>
    </form>
</div>

<script>

    //#region Page Load
    $(function () {
        $('#div_sup_invoice').css('display', 'none');

        $('#pur_branch').select2({
            minimumResultsForSearch: '',
            dropdownParent: $('#purchaseOrder_body'),
            width: '100%'
        });

        $('#pur_supplier').select2({
            dropdownParent: $('#purchaseOrder_body'),
            placeholder: 'Select Supplier',
            width: '100%'
        });

        $('#pur_type').select2({
            minimumResultsForSearch: '',
            dropdownParent: $('#purchaseOrder_body'),
            width: '100%'
        });

        $('#item_uom_free').select2({
            minimumResultsForSearch: '',
            dropdownParent: $('#purchaseOrder_body'),
            placeholder: 'Select UoM',
            width: '100%'
        });

        $('#item_uom').select2({
            minimumResultsForSearch: '',
            dropdownParent: $('#purchaseOrder_body'),
            placeholder: 'Select UoM',
            width: '100%'
        });

        $('#item_disc_type').select2({
            minimumResultsForSearch: '',
            dropdownParent: $('#purchaseOrder_body'),
            placeholder: 'Select Type',
            width: '100%'
        });

        $('#item_vat_per').select2({
            minimumResultsForSearch: '',
            dropdownParent: $('#purchaseOrder_body'),
            placeholder: 'Select Type',
            width: '100%'
        });

        $('#pur_odate').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-",
            endDate: new Date()
        });

        $('#pur_qdate').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-",
            endDate: new Date()
        });

        $('#item_expiry').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-",
            startDate:new Date()
        });
        $('#item_expiry_free').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-",
            startDate: new Date()
        });
        $("#pur_odate").bootstrapdatepicker("setDate", "today");

        validation();
        $("#btn_Insert").show();
        $("#btnPrintBarcode").hide();
        $("#btnPrintPO").hide();
    });
    //#endregion

    //#region On Branch Selecting Event
    $('#pur_branch').on('select2:selecting', function (e) {
        let branchId = $('#pur_branch').val();
        if (PurchaseItems()) {
            Swal.fire({
                title: 'Do you wish to change the branch?',
                text: 'This action will delete any item(s) which are added in Purchase Order Items!',
                icon: 'question',
                showDenyButton: true,
                confirmButtonText: 'Change',
                confirmButtonClass: 'btn btn-success mt-2',
                denyButtonText: `Don't Change`,
                denyButtonClass: 'btn btn-danger ms-2 mt-2',
                buttonsStyling: !1
            }).then((result) => {
                if (result.isDenied) {
                    e.preventDefault();
                    $('#pur_branch').select2('close');
                    $('#pur_branch').val(branchId).trigger('change')
                }
                else {
                    clearDataTable();
                    GetSupplierAndBilling();
                }
            });
        }
    });
    //#endregion

    //#region Checking Purchase Items Table Has Record
    var PurchaseItems = function () {
        var pur_type = $('#pur_type').val();
        var count = 0;
        if ($("#tbl_purchaseorder_items > tbody > tr").length <= 0) {
            count++;
        }
        else {
            var td_text = "";
            $("#tbl_purchaseorder_items tbody tr").each(function () {
                var row = $(this);
                td_text = row.find("td").eq(0).html();
            });
            if (td_text.trim() === "No Items Added") {
                count++;
            }
        }
        if (count > 0)
            return false;
        else
            return true;
    }
    //#endregion

    //#region load Suppliers Detail & Billing Address on Branch Change
    $('#pur_branch').on('select2:select', function (e) {
        if (PurchaseItems() == false) {
            GetSupplierAndBilling();
        }
    });
    var GetSupplierAndBilling = function () {
        $('#lbl_message').text('');
        $('#pur_ship_1').val("");
        $('#pur_ship_2').val("");
        $('#pur_ship_3').val("");
        $('#pur_ship_4').val("");
        $('#pur_bill_1').val("");
        $('#pur_bill_2').val("");
        $('#pur_bill_3').val("");
        $('#pur_bill_4').val("");
        $('#pur_supplier').empty();
        var branchId = $('#pur_branch').val();
        if (branchId.length > 0) {
            $.ajax({
                url: '@Url.Action("GetSupplierByBranches", "PurchaseOrders", new { area = "MaterialManagement" })?branchId=' + branchId,
                type: "GET",
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    if (response.length > 0) {
                        $.each(response, function (j) {
                            var newOption = new Option(response[j].Text, response[j].Value, (parseInt(response[j].Value) === 1) ? true : false, (parseInt(response[j].Value) === 1) ? true : false);
                            $('#pur_supplier').append(newOption).trigger('change');
                        });
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }
            });
            $.ajax({
                url: '@Url.Action("GetShippingAddress", "PurchaseOrders", new { area = "MaterialManagement" })?branchId=' + branchId,
                type: "GET",
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    if (response.set_company.length > 0) {
                        $('#pur_ship_1').val(response.set_company);
                        $('#pur_ship_2').val(response.set_address);
                        $('#pur_ship_3').val(response.set_tel);
                        $('#pur_ship_4').val(response.set_email);
                        $('#pur_bill_1').val(response.set_company);
                        $('#pur_bill_2').val(response.set_address);
                        $('#pur_bill_3').val(response.set_tel);
                        $('#pur_bill_4').val(response.set_email);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }
            });
        }
    };
    //#endregion

    //#region Purchase Type Change Event
    $('#pur_type').on('select2:select', function (e) {
        var pur_type = $('#pur_type').val();
        var _date = new Date();
        var d = _date.getDate();
        var m = (_date.getMonth() + 1);
        if (pur_type === "Purchase Invoice" || pur_type === "GRN Regular") {
            $('#div_sup_invoice').css('display', '');
            $('#div_item_batch').css('display', '');
            $('#div_item_batch_free').css('display', '');
            hide_show_column("th", 4, "");
            hide_show_column("th", 5, "");
            hide_show_column("td", 4, "");
            hide_show_column("td", 5, "");
            var y = (_date.getFullYear() + 1);
            $("#item_expiry").bootstrapdatepicker("setDate", (d + "-" + m +"-" + y));
        }
        else {
            $('#div_sup_invoice').css('display', 'none');
            $('#div_item_batch').css('display', 'none');
            $('#div_item_batch_free').css('display', 'none');
            hide_show_column("th", 4, "none");
            hide_show_column("th", 5, "none");
            hide_show_column("td", 4, "none");
            hide_show_column("td", 5, "none");
            var y = (_date.getFullYear() + 10);
            $("#item_expiry").bootstrapdatepicker("setDate", (d + "-" + m + "-" + y));
        }
        var y1 = (_date.getFullYear() + 10);
        $("#item_expiry_free").bootstrapdatepicker("setDate", (d + "-" + m + "-" + y1));
        $('#pur_sup_invoice').val('');
        $('#item_batch').val('');
        $('#item_batch_free').val('');
    });

    var hide_show_column = function (type, index, action) {
        $("#tbl_purchaseorder_items tr > " + type + ":nth-child(" + index + ")").css('display', action);
    }

    //#endregion

    //#region Validate Text Box with One Decimal and numeric only on Key Press
    function validateOneDecimalNumeric(el, evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        var number = el.value.split('.');
        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        //just one dot
        if (number.length > 1 && charCode == 46) {
            return false;
        }
        //get the Current position
        var caratPos = getSelectionStart(el);
        var dotPos = el.value.indexOf(".");
        if (caratPos > dotPos && dotPos > -1 && (number[1].length > 1)) {
            return false;
        }
        return true;
    }
    function validateOneDecimalNumeric2(el, evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        var number = el.value.split('.');
        if (charCode != 46 && charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        //just one dot
        if (number.length > 1 && charCode == 46) {
            return false;
        }
        //get the Current position
        var caratPos = getSelectionStart(el);
        var dotPos = el.value.indexOf(".");
        if (caratPos > dotPos && dotPos > -1 && (number[1].length > 1)) {
            return false;
        }
        //if (el.value > 10)
        //    return false;

        return true;
    }
    function getSelectionStart(o) {
        if (o.createTextRange) {
            var r = document.selection.createRange().duplicate()
            r.moveEnd('character', o.value.length)
            if (r.text == '') return o.value.length
            return o.value.lastIndexOf(r.text)
        } else return o.selectionStart
    }
    //#endregion

    //#region Adding Validation on Main Form
    var validation = function () {
        $("#form_AddPurchaseOrder").validate({
            focusInvalid: true,
            rules:
            {
                pur_branch: {
                    required: true,
                },
                pur_supplier: {
                    required: true,
                },
                pur_type: {
                    required: true,
                },
                pur_odate: {
                    required: true,
                },
                pur_sup_invoice: {
                    required: function () {
                        var pur_type = $('#pur_type').val();
                        if (pur_type === "Purchase Invoice" || pur_type === "GRN Regular")
                            return true;
                        else
                            return false;
                    }
                },
                pur_ship_3: {
                    number: true,
                },
                pur_ship_4: {
                    email: true,
                },
                pur_bill_3: {
                    number: true,
                },
                pur_bill_4: {
                    email: true,
                },
                pur_buy_3: {
                    number: true,
                },
                pur_buy_4: {
                    email: true,
                },
            },
            messages: {
                pur_branch: {
                    required: "Select Branch",
                },
                pur_supplier: {
                    required: "Select Supplier",
                },
                pur_type: {
                    required: "Select Order Type",
                },
                pur_odate: {
                    required: "Select Order Date",
                },
                pur_sup_invoice: {
                    required: "Enter Supplier Invoice No#",
                },
                pur_ship_3: {
                    required: "Enter Numeric Only",
                },
                pur_ship_4: {
                    required: "Enter Valid Email Address",
                },
                pur_bill_3: {
                    required: "Enter Numeric Only",
                },
                pur_bill_4: {
                    required: "Enter Valid Email Address",
                },
                pur_buy_3: {
                    required: "Enter Numeric Only",
                },
                pur_buy_4: {
                    required: "Enter Valid Email Address",
                },
            },
            highlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                } else {
                    elem.parent().addClass('has-error');
                }
                $(element).parent().addClass('has-error');
                Error_Timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                } else {
                    elem.removeClass('has-error');
                }
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (elem.hasClass("select2-hidden-accessible")) {
                    element = $("#select2-" + elem.attr("id") + "-container").parent();
                    error.insertAfter(element);
                } else {
                    error.insertAfter(element);
                }
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
    $('#pur_odate').keypress(function (e) {
        var charCode = (e.which) ? e.which : event.keyCode
        if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
            return false;

        }
        else {
            if (e.target.value.length >= 18)
                return false;
        }
    });
    $('#pur_qdate').keypress(function (e) {
        var charCode = (e.which) ? e.which : event.keyCode
        if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
            return false;

        }
        else {
            if (e.target.value.length >= 18)
                return false;
        }
    });
    $('#item_expiry').keypress(function (e) {
        var charCode = (e.which) ? e.which : event.keyCode
        if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
            return false;

        }
        else {
            if (e.target.value.length >= 18)
                return false;
        }
    });
    $('#item_expiry_free').keypress(function (e) {
        var charCode = (e.which) ? e.which : event.keyCode
        if (String.fromCharCode(charCode).match(/[^0-9./-]/g)) {
            return false;

        }
        else {
            if (e.target.value.length >= 18)
                return false;
        }
    });
    $('#pur_validity').keypress(function (e) {
        var charCode = (e.which) ? e.which : e.keyCode
        if (String.fromCharCode(charCode).match(/[^0-9+]/g))
            return false;
    });
    $('#pur_pay_terms').keypress(function (e) {
        var charCode = (e.which) ? e.which : e.keyCode
        if (String.fromCharCode(charCode).match(/[^0-9+]/g))
            return false;
    });
    $('#pur_ship_3').keypress(function (e) {
        var charCode = (e.which) ? e.which : e.keyCode
        if (String.fromCharCode(charCode).match(/[^0-9+]/g))
            return false;
    });
    $('#pur_bill_3').keypress(function (e) {
        var charCode = (e.which) ? e.which : e.keyCode
        if (String.fromCharCode(charCode).match(/[^0-9+]/g))
            return false;
    });
    $('#pur_buy_3').keypress(function (e) {
        var charCode = (e.which) ? e.which : e.keyCode
        if (String.fromCharCode(charCode).match(/[^0-9+]/g))
            return false;
    });
    //#endregion

    //#region Insert Purchase Order on Button Click
    $('#btn_Insert').on('click', function (e) {
        e.preventDefault();
        if ($('#form_AddPurchaseOrder').valid() && ItemsValid()) {
            Swal.fire({
                title: "Save",
                text: "Are you sure you want to Save " + $('#pur_type').val().trim() +"!.",
                icon: "question",
                showCancelButton: !0,
                confirmButtonText: 'Yes! I Confirm',
                cancelButtonText: 'No! Cancel Please',
                confirmButtonClass: "btn btn-success mt-2",
                cancelButtonClass: "btn btn-danger ms-2 mt-2",
                buttonsStyling: !1
            }).then(function (t) {
                if (t.value) {
            var purchaseOrders = {
                "purId": $('#hi_purId').val(),
                "pur_supplier": $('#pur_supplier').val(),
                "pur_ocode": $('#hi_pur_code').val(),
                "pur_odate": $('#pur_odate').val().trim(),
                "pur_total": $('#subTotal').html().trim().replace(/[,]/g, ''),
                "pur_disc": $('#subDisc').html().trim().replace(/[,]/g, ''),
                "pur_disc_type": "Fixed",
                "pur_disc_val": $('#subDisc_value').html().trim().replace(/[,]/g, ''),
                "pur_net": $('#subNET').html().trim().replace(/[,]/g, ''),
                "pur_vat": $('#subVAT').html().trim().replace(/[,]/g, ''),
                "pur_notes": $('#pur_notes').val().trim(),
                "pur_type": $('#pur_type').val().trim(),
                "pur_enqno": $('#pur_enqno').val().trim(),
                "pur_quono": $('#pur_quono').val().trim(),
                "pur_validity": $('#pur_validity').val().trim(),
                "pur_pay_terms": $('#pur_pay_terms').val().trim(),
                "pur_qdate": $('#pur_qdate').val().trim(),
                "pur_ship_1": $('#pur_ship_1').val().trim(),
                "pur_ship_2": $('#pur_ship_2').val().trim(),
                "pur_ship_3": $('#pur_ship_3').val().trim(),
                "pur_ship_4": $('#pur_ship_4').val().trim(),
                "pur_bill_1": $('#pur_bill_1').val().trim(),
                "pur_bill_2": $('#pur_bill_2').val().trim(),
                "pur_bill_3": $('#pur_bill_3').val().trim(),
                "pur_bill_4": $('#pur_bill_4').val().trim(),
                "pur_buy_1": $('#pur_buy_1').val().trim(),
                "pur_buy_2": $('#pur_buy_2').val().trim(),
                "pur_buy_3": $('#pur_buy_3').val().trim(),
                "pur_buy_4": $('#pur_buy_4').val().trim(),
                "pur_branch": $('#pur_branch').val(),
                "pur_sup_invoice": $('#pur_sup_invoice').val(),
                "pur_idisc": 0,
                "pur_status": "New",

            }
            var purchaseItems = new Array();
            $("#tbl_purchaseorder_items tbody tr").each(function () {
                var row = $(this);
                var PurchaseOrderItems = {};
                PurchaseOrderItems.piId = 0;
                PurchaseOrderItems.pi_purchase = 0;
                PurchaseOrderItems.pi_mode = "create";
                PurchaseOrderItems.pi_branch = $('#pur_branch').val();
                PurchaseOrderItems.pi_item = row.find("td").eq(15).html();
                PurchaseOrderItems.pi_desc = row.find("td").eq(2).html();
                PurchaseOrderItems.pi_batch = row.find("td").eq(3).html();
                PurchaseOrderItems.pi_edate = row.find("td").eq(4).html();
                PurchaseOrderItems.pi_oqty = row.find("td").eq(16).html().replace(/[,]/g, '');
                PurchaseOrderItems.pi_uom = row.find("td").eq(17).html();
                PurchaseOrderItems.pi_total = row.find("td").eq(8).html().replace(/[,]/g, '');
                PurchaseOrderItems.pi_uprice = row.find("td").eq(7).html().replace(/[,]/g, '');
                PurchaseOrderItems.pi_disc = row.find("td").eq(22).html().replace(/[,]/g, '');
                PurchaseOrderItems.pi_disc_type = row.find("td").eq(23).html();
                PurchaseOrderItems.pi_disc_value = row.find("td").eq(10).html().replace(/[,]/g, '');
                PurchaseOrderItems.pi_nprice = row.find("td").eq(7).html().replace(/[,]/g, '');
                PurchaseOrderItems.pi_net = row.find("td").eq(11).html().replace(/[,]/g, '');
                PurchaseOrderItems.pi_vat = row.find("td").eq(12).html().replace(/[,]/g, '');
                PurchaseOrderItems.pi_freeQty = row.find("td").eq(18).html();
                PurchaseOrderItems.pi_freeUOM = row.find("td").eq(19).html();
                PurchaseOrderItems.pi_freeBatch = row.find("td").eq(20).html();
                PurchaseOrderItems.pi_freeExpiry = row.find("td").eq(21).html();
                PurchaseOrderItems.pi_vat_per = row.find("td").eq(24).html();
                PurchaseOrderItems.pi_status = "New";
                PurchaseOrderItems.pi_bqty = row.find("td").eq(16).html();
                PurchaseOrderItems.pi_bqty2 = row.find("td").eq(16).html();
                PurchaseOrderItems.pi_bqty3 = row.find("td").eq(16).html();
                PurchaseOrderItems.pi_bqty_uom = row.find("td").eq(17).html();
                PurchaseOrderItems.pi_bqty2_uom = row.find("td").eq(17).html();
                PurchaseOrderItems.pi_bqty3_uom = row.find("td").eq(17).html();
                PurchaseOrderItems.pi_rqty = 0;
                PurchaseOrderItems.pi_rqty2 = 0;
                PurchaseOrderItems.pi_rqty3 = 0;

                purchaseItems.push(PurchaseOrderItems);
            });
            var _dataVal = {
                purchaseOrders: purchaseOrders,
                purchaseItems: purchaseItems,
                __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
            };
            $.ajax({
                url: '@Url.Action("InsertPurchaseOrder", "PurchaseOrders", new { area = "MaterialManagement" })',
                type: 'POST',
                dataType: "json",
                data: _dataVal,
                beforeSend: function () {
                    $('#btn_Insert').removeClass("btn btn-success");
                    $('#btn_Insert').addClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Insert').html("Saving....");
                },
                success: function (data) {
                    $('#btn_Insert').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-success");
                    $('#btn_Insert').html("Confirm & Save");
                    if (data.isInserted) {
                        $('#hi_purId').val(data.purId);
                        $('#hi_pur_code').val(data.purCode);
                        GetPurchaseOrders($('#pur_odate').val().trim(), $('#pur_odate').val().trim());
                        $('#btn_Insert').hide();
                        if ($('#pur_type').val() === "Purchase Invoice" || $('#pur_type').val() === "GRN Regular") {
                            $("#btnPrintBarcode").show();
                        }
                        $("#btnPrintPO").show();
                        var alertPlaceholder = document.getElementById("PurchaseInsertAlert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>Purchase Order Added Successfully!", "success");
                      //  $('#purchaseOrder_modal').modal('toggle');
                        Timeout();
                    }
                    else {
                        $("#btn_Insert").show();
                        $("#btnPrintBarcode").hide();
                        $("#btnPrintPO").hide();
                        $('#hi_purId').val("0");
                        $('#hi_pur_code').val("");
                        $("#po_error").html('');
                        var error_message = data.message;
                        if (error_message == "Error While Creating Purchase Order!") {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-light-warning' role='alert' style=';color:#744f04'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong><i class='fe fe-alert-triangle'></i>&nbsp;" + error_message + "&nbsp;</strong></div></div>";
                            $("#po_error").html(html);
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                                "<div class='alert alert-danger' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong><i class='fe fe-alert-circle text-white' ></i>&nbsp;Validation Error.. Please correct before you submit!&nbsp;</strong><br/><ul>";
                            $.each(data.message, function (index, value) {
                                html += "<li><small>" + value + "</small><li>";
                                var elem = $("#" + index);
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                                }
                                else {
                                    $(elem).addClass(" is-invalid");
                                }
                                setTimeout(function () {
                                    if (elem.hasClass("select2-hidden-accessible")) {
                                        $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                    }
                                    else {
                                        $(elem).removeClass("is-invalid");
                                    }
                                }, 5000);
                            });
                            html += "</ul></div></div>";
                            $("#po_error").html(html);
                        }
                        Timeout();
                    }
                },
                error: function (xhr) {
                    clearData();
                    $('#btn_Insert').removeClass("btn btn-success btn-loaders btn-icon");
                    $('#btn_Insert').addClass("btn btn-success");
                    $('#btn_Insert').html("Confirm & Save");
                    var alertPlaceholder = document.getElementById("PurchaseInsertAlert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                            '<button type="button" class="btn-close text-white" data-bs-dismiss="alert" aria-hidden="true">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-x-circle text-white'></i> Failed to Add Purchase Order!", "danger");
                    Timeout();
                }
            });
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
            var alertPlaceholder = document.getElementById("po_error");
            function alert(e, t) {
                var l = document.createElement("div");
                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>', alertPlaceholder.append(l)
            }
            alert("<i class='fa fa-exclamation-triangle text-warning'></i>Please Make sure to Add Purchase Items & Fill Mandatory fields!", "warning");
            Timeout();
        }
    });
    //#endregion

    //#region Validate Purchase Items Table
    var ItemsValid = function () {
        var count = 0;
        if ($("#tbl_purchaseorder_items > tbody > tr").length <= 0) {
            count++;
            $('#tbl_purchaseorder_items').parent().addClass('has-error');
            Error_Timeout("tbl_purchaseorder_items");
        }
        else {
            var td_text = "";
            $("#tbl_purchaseorder_items tbody tr").each(function () {
                var row = $(this);
                td_text = row.find("td").eq(0).html();
            });
            if (td_text.trim() === "No Items Added") {
                count++;
                $('#tbl_purchaseorder_items').parent().addClass('has-error');
                Error_Timeout("tbl_purchaseorder_items");
            }
        }
        if (count > 0)
            return false;
        else
            return true;
    }
    //#endregion

    //#region Clear Text Boxes Data
    var clearData = function () {
        $('#item_name').val('');
        $('#item_code').val('');
        $('#item_vat').val('0');
        $('#item_brand').val('');
        $('#item_dosage').val('');
        $('#item_strangth').val('');
        $('#item_desc').val('');
        $('#item_min_qty').val('');
        $('#item_max_qty').val('');
        $('#item_branch').val('0').trigger('change');
        $('#item_category').val('0').trigger('change');
        $('#item_location').val('0').trigger('change');
        $('#item_type').val('0').trigger('change');
        $('#item_cost').val('');
        $('#item_cost2').val('');
        $('#item_cost3').val('');
        $('#item_sprice').val('');
        $('#item_sprice2').val('');
        $('#item_sprice3').val('');
        $('#item_m_factor').val('1');
        $('#item_m_factor2').val('1');
        $('#item_uom').val('0').trigger('change');
        $('#item_uom2').val('0').trigger('change');
        $('#item_uom3').val('0').trigger('change');
    }
    //#endregion

    //#region Remove Valiate Error Class Timeout
    function Error_Timeout(_id) {
        setTimeout(function () {
            $(".has-error").removeClass("has-error");
            $(".error").removeClass("error");
            $("#" + _id + "-error").text("");
        }, 4200);
    }
    //#endregion

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion

    //#region Remove Comma from Numeric Values
    function comma(num) {
        return num.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
    }
    //#endregion

    //#region Clearing Data Table Rows
    var clearDataTable = function () {
        var emptyRow = "<tr><td colspan='13' class='text-center text-secondary'> No Items Added</td></tr>"
        $("#tbl_purchaseorder_items tbody").empty();
        $("#tbl_purchaseorder_items tbody").append(emptyRow);
        $("#subTotal").html(0.00);
        $("#subPrice").html(0.00);
        $("#subDisc").html(0.00);
        $("#subNET").html(0.00);
        $("#subVAT").html(0.00);
        $("#subNETVAT").html(0.00);
        $("#subDisc_value").html(0.00);
    }


    //#endregion

    //#region print Purchase Order
    $('#btnPrintPO').on('click', function (e) {
        //$("#hiInvId").val("18380");
        e.preventDefault();
        window.open("@Url.Action("PrintPurchaseOrder", "PurchaseOrders", new { area = "MaterialManagement" })?purId=" + $("#hi_purId").val(), "Purchase Order Print");

    });
    //#endregion

    //#region Print Purchase Order Barcode
    var print_barcode = function (purId) {
            if (purId > 0) {
                Swal.fire({
                    title: "Barcode Print",
                    text: "Are you sure you want to Print Item's Barcode",
                    icon: "question",
                    showCancelButton: !0,
                    confirmButtonText: 'Yes! I Confirm',
                    cancelButtonText: 'No! Cancel Please',
                    confirmButtonClass: "btn btn-success mt-2",
                    cancelButtonClass: "btn btn-danger ms-2 mt-2",
                    buttonsStyling: !1
                }).then(function (t) {
                    if (t.value) {
                        $.ajax({
                            url: '@Url.Action("PrintBarcodeService", "PurchaseOrders", new { area = "MaterialManagement" })?purId=' + purId,
                            type: "POST",
                            dataType: "json",
                            async: false,
                            success: function (response) {
                                if (response.isSuccess == true) {
                                    if (response.data["status"] == "success") {
                                        event.preventDefault();
                                        event.stopPropagation();
                                        return $.growl.notice({
                                            title: "Success",
                                            message: response.message
                                        });
                                    }
                                    else {
                                        event.preventDefault();
                                        event.stopPropagation();
                                        return $.growl.warning({
                                            title: "Pending",
                                            message: response.message
                                        });
                                    }
                                }
                                else {
                                    event.preventDefault();
                                    event.stopPropagation();
                                    return $.growl.error({
                                        title: "Error",
                                        message: response.message
                                    });
                                }
                            },
                            error: function (xhr) {
                                console.log("Error : " + xhr.statusText);
                            }
                        });

                    }
                });

            }
        }
    //#endregion

    //#region Create Supplier
    $('#btnAddSupplier').on('click', function (e) {
        e.preventDefault();

        $.ajax({
            type: "GET",
            url: "@Url.Action("CreateSupplier", "Supplier", new { area = "MaterialManagement" })",
            contentType: "application/json",
            dataType: "html",
            success: function (data) {
                $('#purchaseOrder_modal').modal('hide');
                $('#Supplier_modal').attr("data-modal-from", "create-purchase-order");

                $("#Supplier_body").html(data);
                $('#Supplier_modal').modal('show');
            },
            error: function (xhr) {
                console.log(xhr);
            }
        });
    });

    $('#Supplier_modal').on('hidden.bs.modal', function () {
        if (localStorage.getItem("newSupplierId") != null) {
            var supplierId = localStorage.getItem("newSupplierId");

            set_supplier(supplierId);

            localStorage.removeItem("newSupplierId");
        }
    });

    var set_supplier = function (supplierId) {
        var branchId = $('#pur_branch').val();
        if (branchId.length > 0) {
            $.ajax({
                url: '@Url.Action("GetSupplierByBranches", "PurchaseOrders", new { area = "MaterialManagement" })?branchId=' + branchId,
                type: "GET",
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    if (response.length > 0) {
                        $.each(response, function (j) {
                            var newOption = new Option(response[j].Text, response[j].Value, (parseInt(response[j].Value) === supplierId) ? true : false, (parseInt(response[j].Value) === supplierId) ? true : false);
                            $('#pur_supplier').append(newOption).trigger('change');
                        });
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }
            }).done(function () {
                $('#pur_supplier').val(supplierId).trigger('change');
            });
        }
    }
    //#endregion

    //#region Create Stock Items
    $('#btnCreateItem').on('click', function (e) {
        e.preventDefault();

        $.ajax({
            type: "GET",
            url: "@Url.Action("CreateItem", "CentralStore", new { area = "MaterialManagement" })",
            contentType: "application/json",
            dataType: "html",
            success: function (data) {
                $('#purchaseOrder_modal').modal('hide');
                $('#items_modal').attr("data-modal-from", "create-purchase-order");

                $("#Items_body").html(data);
                $('#items_modal').modal('show');
            },
            error: function (xhr) {
                console.log(xhr);
            }
        });
    });

    $('#items_modal').on('hidden.bs.modal', function () {
        if (localStorage.getItem("newItemId") != null) {
            var supplierId = localStorage.getItem("newItemId");

            localStorage.removeItem("newItemId");
        }
    });

    //#endregion

    //#region Item Enquiry View
    $('#btnItemEnquiry').on('click', function (e) {
        e.preventDefault();
        $("#spinner2").show();
        $.ajax({
            type: "GET",
            url: "@Url.Action("StockItemEnquiry", "PurchaseOrders", new { area = "MaterialManagement" })",
            contentType: "application/json",
            dataType: "html",
            success: function (data) {

                $('#purchaseOrder_modal').modal('hide');
                $('#CentralStoreItems_modal').attr("data-modal-from", "central-store-enquiry");

                $("#CentralStoreItems_body").html(data);
                $("#CentralStoreItems_modal").modal("show");
            },
            error: function (xhr) {
                console.log(xhr);
                $("#spinner2").hide();
            },
            complete: function () {
                // Hide spinner when request is complete
                $("#spinner2").hide();
            }
        });
    });

    //#endregion


</script>