@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Prp Consent Derma";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"> Prp Consent Form</h3>
            </div>
            <div class="card-body">
                <div id="PrpConsentDerma_add" style="display:none">
                </div>
                <div id="PrpConsentDerma_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="PrpConsentDerma_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetPrpConsentDermaInfo();
        PrpConsentDermaPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetPrpConsentDermaInfo
    var GetPrpConsentDermaInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetPrpConsentDermaData", "PrpConsentDerma", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditPrpConsentDerma();
                        $("#PrpConsentDerma_add").hide();
                        $("#PrpConsentDerma_edit").show();

                    }
                    else {
                        $("#PrpConsentDerma_add").show();
                        $("#PrpConsentDerma_edit").hide();
                        AddPrpConsentDerma();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load PrpConsentDerma

    //#region Add PrpConsentDerma
    function AddPrpConsentDerma() {
        var x = $("#PrpConsentDerma_add");
        x.load("@Url.Action("CreatePrpConsentDerma", "PrpConsentDerma", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add PrpConsentDerma

    // #region Update PrpConsentDerma
    function EditPrpConsentDerma() {
        var x = $("#PrpConsentDerma_edit");
        x.load("@Url.Action("UpdatePrpConsentDerma", "PrpConsentDerma", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update PrpConsentDerma

        // #region Histroy of PrpConsentDerma
    function PrpConsentDermaPreviousHistory() {
        var x = $("#PrpConsentDerma_history");
        x.load("@Url.Action("PrpConsentDermaPreviousHistory", "PrpConsentDerma", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion History of PrpConsentDerma


</script>
