@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Implant Post";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Instruction After Implant Surgery</h3>
            </div>
            <div class="card-body">
                <div id="ImplantPost_add" style="display:none">
                </div>
                <div id="ImplantPost_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="ImplantPost_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        //#region Page Load
        $(function () {
            GetImplantPostInfo();
            ImplantPostPreviousHistory();
        });

        //#endregion Page Load

        //#region Load GetImplantPostInfo
        var GetImplantPostInfo = function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetImplantPostData", "ImplantPost", new { area = "ConsentForms" })?appId=" + "@emr.appId",
                success: function (response) {
                    if (response.isAuthorized != false) {
                        console.log(response.length);
                        if (response.length > 0) {
                            EditImplantPost();
                            $("#ImplantPost_add").hide();
                            $("#ImplantPost_edit").show();

                        }
                        else {
                            $("#ImplantPost_add").show();
                            $("#ImplantPost_edit").hide();
                            AddImplantPost();
                        }
                    }
                    else {
                        console.log("You are not Authorized!");
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                }
            })
        }
        //#endregion Load ImplantPost

        //#region Add ImplantPost
        function AddImplantPost() {
            var x = $("#ImplantPost_add");
            x.load("@Url.Action("CreateImplantPost", "ImplantPost", new { area = "ConsentForms" })", function () {
          });
        }
        //#endregion Add ImplantPost

        //#region Update ImplantPost
        function EditImplantPost() {
            var x = $("#ImplantPost_edit");
            x.load("@Url.Action("UpdateImplantPost", "ImplantPost", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
          //#endregion Update ImplantPost

        //#region History of ImplantPost
        function ImplantPostPreviousHistory() {
            var x = $("#ImplantPost_history");
            x.load("@Url.Action("ImplantPostPreviousHistory", "ImplantPost", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
          });
        }
        //#endregion History of ImplantPost

</script>
