@using BusinessEntities;

@{
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Colposcopy Referral";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Colposcopy Referral Form</h3>
            </div>
            <div class="card-body">
                <div id="ColposcopyReferral_add" style="display:none">
                </div>
                <div id="ColposcopyReferral_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="ColposcopyReferral_history">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //#region Page Load
    $(function () {
        GetColposcopyReferralInfo();
        ColposcopyReferralPreviousHistory();
    });
    //#endregion

    //#region Load GetColposcopyReferralInfo
    var GetColposcopyReferralInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetColposcopyReferralData", "ColposcopyReferral", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditColposcopyReferral();
                        $("#ColposcopyReferral_add").hide();
                        $("#ColposcopyReferral_edit").show();

                    }
                    else {
                        $("#ColposcopyReferral_add").show();
                        $("#ColposcopyReferral_edit").hide();
                        AddColposcopyReferral();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load ColposcopyReferral

    //#region Add ColposcopyReferral
    function AddColposcopyReferral() {
        var x = $("#ColposcopyReferral_add");
        x.load("@Url.Action("CreateColposcopyReferral", "ColposcopyReferral", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add ColposcopyReferral

    //#region Update ColposcopyReferral
    function EditColposcopyReferral() {
        var x = $("#ColposcopyReferral_edit");
        x.load("@Url.Action("UpdateColposcopyReferral", "ColposcopyReferral", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
        //#endregion Update ColposcopyReferral

        //#region Histroy of ColposcopyReferral
    function ColposcopyReferralPreviousHistory() {
        var x = $("#ColposcopyReferral_history");
        x.load("@Url.Action("ColposcopyReferralPreviousHistory", "ColposcopyReferral", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion History of ColposcopyReferral
</script>
