@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConsentForms.ColposcopyReferral
@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}
<form id="form_ColposcopyReferralEdit" autocomplete="off" name="ColposcopyReferral" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5 mt-5 text-justify">

        <div class="row">
            <div class="col-sm-4 col-md-6 col-lg-6 text-left">
                Primary Provider :   <span class="ms-3">
                    @Html.TextBoxFor(m => m.crn_1, new { @class = "form-control mb-2", @id = "ucrn_1" })
                </span>
            </div>
            <div class="col-sm-4 col-md-6 col-lg-6 text-left">
                Date Submitted :   <span class="ms-3">
                </span>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fe fe-calendar"></i>
                        </div>
                    </div>
                    <input id="ucrn_date1" class="form-control" placeholder="DD-MMM-YYYY" type="text" autocomplete="off">
                </div>

            </div>
        </div>
        <p class="mb-3 font-weight-semibold">Reason for Colposcopy (check one):</p>
        <p>ASC-US with high risk HPV</p>
        <p>LSIL (if adolescent or postmenopausal may not need colpo, see ASCCP algorithm)</p>
        <p>HSIL</p>
        <p>ASC-H (Atypical squamous cells, cannot exclude high grade)</p>
        <p>AGC (Atypical glandular cells)</p>
        <p>Abnormal finding on pelvic exam, please explain below:</p>
        <p class="mt-3 font-weight-semibold">Please attach form to patient chart and submit to Colposcopy Preceptor for approval.</p>
        <p class="font-weight-semibold">If patient from outside office, please attach copy of most recent Pap report.</p>
        <p class="font-weight-semibold mt-5">
            For Office Manager/Nursing:
        </p>

        <div class="row mt-2">
            <span>Date Patient contacted</span>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fe fe-calendar"></i>
                    </div>
                </div>
                <input id="ucrn_date2" class="form-control" placeholder="DD-MMM-YYYY" type="text" autocomplete="off">
            </div>
        </div>
        <div class="row mt-2">
            <span>  Date Colposcopy Patient Information packet sent  :</span>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fe fe-calendar"></i>
                    </div>
                </div>
                <input id="ucrn_date3" class="form-control" placeholder="DD-MMM-YYYY" type="text" autocomplete="off">
            </div>
        </div>
        <div class="row mt-2">
            <span> Colposcopy Appointment Date/Time :</span>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fe fe-calendar"></i>
                    </div>
                </div>
                <input id="ucrn_date4" class="form-control" placeholder="DD-MMM-YYYY" type="text" autocomplete="off">
            </div>
        </div>
        <div class="row mt-2">
            <span>@Html.TextBoxFor(m => m.crn_time1, new { @class = "form-control mb-2", @placeholder = "HH:mm", @id = "ucrn_time1" })</span>
        </div>
        <div class="row mt-2">
            <span>
                Resident/provider to assist with procedure :
                @Html.TextBoxFor(m => m.crn_2, new { @class = "form-control mb-2 mt-2", @id = "ucrn_2" })
            </span>
        </div>
        <p class="font-weight-semibold mt-2">If patient postmenopausal, needs Estrace vaginal cream 4g PV qhs x 3wks to stop 24hrs prior to colposcopy</p>
        <div class="row mt-2">
            <span>  Date prescribed  :</span>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fe fe-calendar"></i>
                    </div>
                </div>
                <input id="ucrn_date5" class="form-control" placeholder="DD-MMM-YYYY" type="text" autocomplete="off">
            </div>
        </div>
        <div class="font-weight-semibold mt-3">Does patient want medication for anxiety prior to procedure? (needs to have someone drive her to and from our office for procedure)</div>
        <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-1">
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="ucrn_radio1" id="ucrn_radio11" value="1">
                    <span class="custom-control-label">Yes</span>
                </label>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-1">
                <label class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" name="ucrn_radio1" id="ucrn_radio12" value="2">
                    <span class="custom-control-label">NO</span>
                </label>
            </div>
        </div>
        <div class="font-weight-semibold mb-3">Alprazolam 0.5mg 1 tab po 1hr before procedure Disp #1 No refills</div>
        <div class="font-weight-semibold mb-2">Complete one below:</div>

        <div class="row mb-3">
            <div class="col-sm-4 col-md-4 col-lg-4 text-left">
                <span> Date written Rx given :</span>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fe fe-calendar"></i>
                        </div>
                    </div>
                    <input id="ucrn_date6" class="form-control" placeholder="DD-MMM-YYYY" type="text" autocomplete="off">
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 text-left">
                <span>Date called in to pharmacy :</span>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fe fe-calendar"></i>
                        </div>
                    </div>
                    <input id="ucrn_date7" class="form-control" placeholder="DD-MMM-YYYY" type="text" autocomplete="off">
                </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 text-left">
                <span>
                    Pharmacy name/number  :
                    @Html.TextBoxFor(m => m.crn_3, new { @class = "form-control mb-2", @id = "ucrn_3" })
                </span>
            </div>
        </div>
        <div class="font-weight-semibold">
            Follow-up:
        </div>
        <div class="row mt-2">
            <span> Date Pathology report received or normal colposcopy confirmed</span>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fe fe-calendar"></i>
                    </div>
                </div>
                <input id="ucrn_date8" class="form-control" placeholder="DD-MMM-YYYY" type="text" autocomplete="off">
            </div>
        </div>
        <div class="row mt-2">
            <span>Date patient entered into Pap recall or appropriate referral made :</span>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fe fe-calendar"></i>
                    </div>
                </div>
                <input id="ucrn_date9" class="form-control" placeholder="DD-MMM-YYYY" type="text" autocomplete="off">
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="3" class="font-weight-bold text-danger fs-18" width="100%">
                        Sign here, only if all of your questions have been answered to your satisfaction
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <div id="upat_sign_box">
                            <img alt="Signature" src="" id="upat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="34%">
                        <div id="uwit_sign_box">
                            <img alt="Signature" id="uwit_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize mt-1">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold"> Patient Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left mt-2" id="upsb_date_patient" name="">&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                    <td width="34%">
                        <span class="font-weight-semibold"> Approved for colposcopy:</span>
                        <br /><br />
                        <label class="form-label text-red text-left mt-2" id="upsb_date_witness" name="">&nbsp;</label>
                        <span class="font-weight-semibold">Date approved</span>
                    </td>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize mt-1">@emr.doc_name&nbsp;</label>
                        <span class="font-weight-semibold">Doctor’s Name</span>
                        <br /><br />
                        <label class="form-label text-red text-left mt-2" id="ucrn_date_doctor">@Model.crn_date_modified&nbsp;</label>
                        <span class="font-weight-semibold">Date</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue" width="33%">
                        Patient Signature
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue" width="34%">
                        Colposcopy Preceptor signature
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> ColposcopyPreceptor
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('witness')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('witness')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center" width="33%">Doctor’s Signature</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update">Save Changes</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                <button type="button" class="btn btn-danger btn-sm" id="btn_DeleteForm">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print"> Download/Print </button>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Update").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Update").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Update").show();
                }
                else {
                    $("#btn_Update").hide();
                }
            }
        }
        validate();
        GetRadioValues();
        GetSignaturename('patient');
        GetSignaturename('witness');



             $('#ucrn_date1').bootstrapdatepicker({
             format: "dd-MM-yyyy",
             viewMode: "date",
             todayHighlight: true,
             autoclose: true,
             multidate: false,
             multidateSeparator: "-"
             });
             $("#ucrn_date1").bootstrapdatepicker("setDate", moment(new Date("@Model.crn_date1")).format("DD-MMMM-YYYY"));

            $('#ucrn_date2').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-"
            });
            $("#ucrn_date2").bootstrapdatepicker("setDate", moment(new Date("@Model.crn_date2")).format("DD-MMMM-YYYY"));

            $('#ucrn_date3').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-"
            });
            $("#ucrn_date3").bootstrapdatepicker("setDate", moment(new Date("@Model.crn_date3")).format("DD-MMMM-YYYY"));

            $('#ucrn_date4').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-"
            });
            $("#ucrn_date4").bootstrapdatepicker("setDate", moment(new Date("@Model.crn_date4")).format("DD-MMMM-YYYY"));

            $('#ucrn_date5').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-"
            });
            $("#ucrn_date5").bootstrapdatepicker("setDate", moment(new Date("@Model.crn_date5")).format("DD-MMMM-YYYY"));

            $('#ucrn_date6').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-"
            });
            $("#ucrn_date6").bootstrapdatepicker("setDate", moment(new Date("@Model.crn_date6")).format("DD-MMMM-YYYY"));

            $('#ucrn_date7').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-"
            });
            $("#ucrn_date7").bootstrapdatepicker("setDate", moment(new Date("@Model.crn_date7")).format("DD-MMMM-YYYY"));

            $('#ucrn_date8').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-"
            });
            $("#ucrn_date8").bootstrapdatepicker("setDate", moment(new Date("@Model.crn_date8")).format("DD-MMMM-YYYY"));

            $('#ucrn_date9').bootstrapdatepicker({
            format: "dd-MM-yyyy",
            viewMode: "date",
            todayHighlight: true,
            autoclose: true,
            multidate: false,
            multidateSeparator: "-"
            });
            $("#ucrn_date9").bootstrapdatepicker("setDate", moment(new Date("@Model.crn_date9")).format("DD-MMMM-YYYY"));

            $('#ucrn_time1').timepicker();
    });

    //#region Validation Initialization
    var validate = function () {
        $("#form_ColposcopyReferralEdit").validate({
            rules: {
                crn_2: {
                    required: true
                },

            },
            messages: {
                crn_2: {
                    required: "Please Enter Procedure"
                },

            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
    //#endregion

    //#region Update  Click
    $('#btn_Update').on('click', function (e) {
        e.preventDefault();
        if ($("#form_ColposcopyReferralEdit").valid()) {
            console.log($("#crnId").val());
            $('#btn_Update').removeClass("btn btn-sm btn-success");
            $('#btn_Update').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Update').html("Updating the Record....");

            var ucrn_radio1 = "";
            if ($('#ucrn_radio11').prop('checked')) {
                ucrn_radio1 = "1";
            }
            else if ($('#ucrn_radio12').prop('checked')) {
                ucrn_radio1 = "2";
            }

            var _dateInsert = {
               "crnId": 0,
                "crn_appId": @emr.appId,
                "crn_1": $("#ucrn_1").val(),
                "crn_2": $("#ucrn_2").val(),
                "crn_3": $("#ucrn_3").val(),
                "crn_radio1": ucrn_radio1,
                "crn_date1": $("#ucrn_date1").val(),
                "crn_date2": $("#ucrn_date2").val(),
                "crn_date3": $("#ucrn_date3").val(),
                "crn_date4": $("#ucrn_date4").val(),
                "crn_date5": $("#ucrn_date5").val(),
                "crn_date6": $("#ucrn_date6").val(),
                "crn_date7": $("#ucrn_date7").val(),
                "crn_date8": $("#ucrn_date8").val(),
                "crn_date9": $("#ucrn_date9").val(),
                "crn_time1": $("#ucrn_time1").val(),

                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

            console.log(_dateInsert);

            $.ajax({
                type: "Post",
                url: "@Url.Action("EditColposcopyReferral", "ColposcopyReferral", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isEdited) {
                            GetColposcopyReferralInfo();
                            var alertPlaceholder = document.getElementById("Alert");
                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>  Colposcopy Referral Form Updated Successfully!", "success");
                            Timeout();
                            $("#ColposcopyReferral_edit").show();
                            $("#ColposcopyReferral_add").hide();
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning..Colposcopy Referral Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion Update Click

        //#region Print
$('#btn_Print').on('click', function (e) {
    e.preventDefault();
    $('#btn_Print').removeClass("btn btn-success");
    $('#btn_Print').addClass("btn btn-success btn-loaders btn-icon");
    $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "ColposcopyReferral", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=ColposcopyReferral",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {

                if (data.success)
                    console.log(data);
                    console.log(data.message.pdfPath); {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print

    //#region Delete Click
    $('#btn_DeleteForm').on('click', function (e) {
        e.preventDefault();
        $('#btn_DeleteForm').removeClass("btn btn-success");
        $('#btn_DeleteForm').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_DeleteForm').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteColposcopyReferral", "ColposcopyReferral", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-warning");
                $('#btn_DeleteForm').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>Colposcopy Referral Form Deleted Successfully!", "success");
                        clearControls();

                        $("#ColposcopyReferral_edit").hide();
                        $("#ColposcopyReferral_add").show();
                        AddColposcopyReferral();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-Delete");
                $('#btn_DeleteForm').html("Delete");
                Timeout();
            }
        })
    });
//#endregion
    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("#upat_sign,#uwit_sign").attr("src", "");
        $("input[name='ucrn_radio1']:radio").prop('checked', false);
        $("#ucrn_date1").bootstrapdatepicker("setDate", '');
        $("#ucrn_date2").bootstrapdatepicker("setDate", '');
        $("#ucrn_date3").bootstrapdatepicker("setDate", '');
        $("#ucrn_date4").bootstrapdatepicker("setDate", '');
        $("#ucrn_date5").bootstrapdatepicker("setDate", '');
        $("#ucrn_date6").bootstrapdatepicker("setDate", '');
        $("#ucrn_date7").bootstrapdatepicker("setDate", '');
        $("#ucrn_date8").bootstrapdatepicker("setDate", '');
        $("#ucrn_date9").bootstrapdatepicker("setDate", '');
        $("#ucrn_time1").bootstrapdatepicker("setDate", '');
    }
    //#endregion Clear Controls

    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "ColposcopyReferral",
            "appId": @emr.appId,
            "formname":"Colposcopy Referral",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            GetSignaturename('witness');
            localStorage.removeItem("sign");
        }
    });

        // #region Get Signature
        var GetSignaturename = function  (person) {
            $.ajax({
                url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=ColposcopyReferral',
                type: "GET",
                dataType: "json",
                async: false,
                success: function (response) {
                    console.log(response);
                    let sign = response[0].psb_sign;
                    var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY");

                    if (response[0].person == "patient") {
                        $("#upat_sign_box").removeClass("d-none");
                        $("#upsb_date_patient").text(date);
                        $("#upat_sign").attr("src", sign);
                    }
                    if (response[0].person == "witness") {
                        $("#uwit_sign_box").removeClass("d-none");
                        $("#upsb_date_witness").text(date);
                        $("#uwit_sign").attr("src", sign);
                    }
                },
                error: function (xhr) {
                    console.log(xhr);
                    alert(xhr);
                }

            });
        };
        //#endregion Get Signature

       //#region Get RadioValues
           var GetRadioValues = function (checknames) {
            var checknames = "@Model.crn_radio1";

            if (checknames !== null) {
                if (checknames != "") {
                    if (checknames == "1") {
                        $('#ucrn_radio11').attr('checked', 'checked');
                        $("#ucrn_radio_11").prop("checked", true);
                    }
                    if (checknames == "2") {
                        $('#ucrn_radio12').attr('checked', 'checked');
                        $("#ucrn_radio12").prop("checked", true);
                    }
                }
            }

        }
       //#endregion Get CheckedValues

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout

</script>
