@using BusinessEntities;

@{

    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");

    if (ViewBag.Tab == "0")
    {
        ViewBag.Title = "Sculptra Consent Form";
        Layout = "~/Areas/EMR/Views/Shared/_EMR_Layout.cshtml";
    }
}

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">
                    Sculptra Consent Form 
                    <br /><span dir="rtl">نموذج موافقة سكلبترا</span>
                </h3>
            </div>
            <div class="card-body">
                <div id="SculptraConsentForm_add" style="display:none">
                </div>
                <div id="SculptraConsentForm_edit">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">PREVIOUS HISTORY</h3>
            </div>
            <div class="card-body">
                <div id="SculptraConsentForm_history">
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //#region Page Load
    $(function () {
        GetSculptraConsentFormInfo();
        SculptraConsentFormPreviousHistory();

    });

    //#endregion Page Load

    //#region Load GetSculptraConsentFormInfo
    var GetSculptraConsentFormInfo = function () {
        $.ajax({
            type: "GET",
            url: "@Url.Action("GetSculptraConsentFormData", "SculptraConsentForm", new { area = "ConsentForms" })?appId=" + "@emr.appId",
            success: function (response) {
                if (response.isAuthorized != false) {
                    if (response.length > 0) {
                        EditSculptraConsentForm();
                        $("#SculptraConsentForm_add").hide();
                        $("#SculptraConsentForm_edit").show();

                    }
                    else {
                        $("#SculptraConsentForm_add").show();
                        $("#SculptraConsentForm_edit").hide();
                        AddSculptraConsentForm();
                    }
                }
                else {
                    console.log("You are not Authorized!");
                }
            },
            error: function (xhr) {
                console.log(xhr);
            }
        })
    }
    //#endregion Load SculptraConsentForm

    //#region Add SculptraConsentForm
    function AddSculptraConsentForm() {
        var x = $("#SculptraConsentForm_add");
        x.load("@Url.Action("CreateSculptraConsentForm", "SculptraConsentForm", new { area = "ConsentForms" })", function () {
        });
    }
    //#endregion Add SculptraConsentForm

    //#region Update SculptraConsentForm
    function EditSculptraConsentForm() {
        var x = $("#SculptraConsentForm_edit");
        x.load("@Url.Action("UpdateSculptraConsentForm", "SculptraConsentForm", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion Update SculptraConsentForm

    //#region Histroy of SculptraConsentForm
    function SculptraConsentFormPreviousHistory() {
        var x = $("#SculptraConsentForm_history");
        x.load("@Url.Action("SculptraConsentFormPreviousHistory", "SculptraConsentForm", new { area = "ConsentForms" })?appId=" + @emr.appId, function () {
        });
    }
    //#endregion
</script>
