@using System.Linq;
@using System.Security.Claims;
@using BusinessEntities;
@model BusinessEntities.ConsentForms.SculptraConsentForm

@{
    var claims = ClaimsPrincipal.Current.Identities.First().Claims.ToList();
    var emp_designation = claims.Where(c => c.Type == ClaimTypes.Role).Select(c => c.Value).SingleOrDefault();
    EMRInfo emr = (EMRInfo)TempData["emr_data"];
    TempData.Keep("emr_data");
}

<form id="form_SculptraConsentFormEdit" autocomplete="off" name="SculptraConsentForm" ondrop="return false;" onpaste="return false;" oncut="return false;">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="border">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="row mt-2">
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black text-align-left"> Patient Name <br />اسم المريض</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left text-capitalize">@emr.pat_name</label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Emirates ID <br />هويه الإمارات</label></div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <label class="form-label text-red text-left">@emr.pat_emirateid</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3 text-align-left"><label class="form-label text-black ">File No <br />رقم الملف</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_code</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> DOB <br />تاريخ الميلاد</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_dob</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2 mb-2">
                            <div class="form-group mb-3"><label class="form-label text-black"> Nationality <br />جنسية</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_nationality</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Gender <br />جنس</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.pat_gender</label>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Doctor's Name <br />اسم الطبيب</label></div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-2">
                            <label class="form-label text-red text-left">@emr.doc_name</label>
                        </div>
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <div class="form-group mb-3"><label class="form-label text-black">Date <br />تاريخ</label></div>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <label class="form-label text-red text-left">@emr.app_fdate</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="row text-justify">
            <div class="col-lg-6 my-2">
                I, the undersigned hereby consent to allow myself to undertake Sculptra procedures discussed during our consultation for the purpose of aesthetic enhancement ; to increase the volume of depressed areas, particularly to correct skin depressions, such as in skin creases, wrinkles, folds, scars and for skin aging.
            </div>
            <div dir="rtl" class="col-lg-6 my-2">
                أنا الموقع أدناه أوافق على السماح لنفسي بإجراء إجراءات التي تمت مناقشتها خلال مشاورتنا لغرض التحسين الجمالي؛ لزيادة حجم المناطق المنضغطة، خاصة لتصحيح انخفاضات الجلد، مثل تجاعيد الجلد والتجاعيد  والندبات وشيخوخة الجلد.
            </div>
        </div>
        <div class="row text-justify">
            <div class="col-lg-6 my-2">
                <ul class="listunorder" style="border:none;">
                    <li class="listunorder" style="border:none;">My treating practitioner has explained how and when Sculptra is used. I have been given the opportunity to ask questions and have received satisfactory answers to my questions. In particular, I have received information regarding when treatment with Sculptra should not take place and have also been informed of precautions, warnings for use with these products and common injection related reactions. These reactions include bruising, itching, pain, transient bleeding, redness or swelling in the treatment area. These reactions are usually resolved within a few days to one week. In some cases more serious adverse events have been reported, but these are rare. These reported reactions include papules/nodules, swelling/oedema, pain, granuloma, symptoms of visual disturbance, infection/abscess, mass/induration, erythema, inflammation, bruising/hematoma, discoloration, scarring/atrophy, hypersensitivity, pruritus, rash and ischemia/ necrosis. </li>
                    <li class="listunorder" style="border:none;">My practitioner has also informed me that topical anaesthetic cream might be used to provide pain relief. I have received information regarding when and what topical anesthetics will be used, and information regarding contraindications, warnings/ precautions of use of these products and potential side effects.</li>
                    <li class="listunorder" style="border:none;">My treating practitioner has also informed me that, depending on the treated area and injection technique, effects from the Sculptra treatment can last for more than 2 years, but this period may vary, either longer or shorter. Follow-up treatment can help maintain the desired correction. </li>
                    <li class="listunorder" style="border:none;">I have responded to questions pertaining to any hypersensitivity to anaesthetic agents, to Sculptra, to any of the constituents, and to my medical history honestly. I understand the importance of following the advice indicated in the checklist. I have informed my practitioner of all my previous aesthetic treatments, including injections, surgeries, chemical peels etc. </li>
                    <li class="listunorder" style="border:none;">I understand that the results of this treatment cannot be accurately estimated in advance or to be assurance, as it may vary from patient to another.</li>
                    <li class="listunorder" style="border:none;">I agree that if I should have any questions or concerns regarding my treatment results. I will notify the clinic immediately so that timely follow-up and intervention can be provided</li>
                    <li class="listunorder" style="border:none;"><span class="text-red">@emr.set_company</span> is not responsible for any complications that may occur due to non-compliance with the instruction required for this procedure</li>
                    <li class="listunorder" style="border:none;">
                        I hereby give my voluntary consent to undergo Sculptra and release <span class="text-red">@emr.set_company</span>, its medical staff, and administrations from any liability associated with the procedure
                    </li>
                </ul>
            </div>
            <div dir="rtl" class="col-lg-6 my-2 fs-15">
                <ul class="listunorder" style="border:none;">
                    <li class="listunorder" style="border:none;">لقد شرح لي الطبيب المعالج كيف ومتى يتم استخدام الاسكلبترا. لقد أتيحت لي الفرصة لطرح الأسئلة وتلقيت إجابات مرضية على أسئلتي. على وجه الخصوص، تلقيت معلومات تتعلق بالوقت الذي لا ينبغي فيه العلاج باستخدام وتم إبلاغي أيضًا بالاحتياطات والتحذيرات للاستخدام مع هذه المنتجات والتفاعلات الشائعة المتعلقة بالحقن. تشمل هذه التفاعلات كدمات أو حكة أو ألم أو احمرار أو تورم في منطقة العلاج. عادة ما يتم حل ردود الفعل هذه في غضون بضعة أيام إلى أسبوع واحد. في بعض الحالات تم الإبلاغ عن أحداث سلبية أكثر خطورة، ولكنها نادرة. تشمل هذه التفاعلات المبلغ عنها ، تورم ، ألم، ورم عدوى/خراج، كتلة/تصلب، التهاب، كدمات/ورم دموي، تغير اللون، تندب/ضمور، فرط الحساسية، حكة، طفح جلدي.</li>
                    <li class="listunorder" style="border:none;"> أخبرني أيضًا أنه يمكن استخدام كريم مخدر موضعي لتخفيف الألم. لقد تلقيت معلومات بشأن متى وما هي أنواع التخدير الموضعي التي سيتم استخدامها، ومعلومات بشأن موانع الاستعمال والتحذيرات/الاحتياطات لاستخدام هذه المنتجات والآثار الجانبية المحتملة.</li>
                    <li class="listunorder" style="border:none;"> أخبرني طبيبي المعالج أيضًا أنه، اعتمادًا على المنطقة المعالجة وتقنية الحقن يمكن أن تستمر تأثيرات علاج لأكثر من عامين، ولكن هذه الفترة قد تختلف، إما لفترة أطول أو أقصر. متابعة العلاج يمكن أن تساعد في الحفاظ على التصحيح المطلوب.</li>
                    <li class="listunorder" style="border:none;">لقد أجبت بصراحة على الأسئلة المتعلقة بأي فرط حساسية تجاه عوامل التخدير، أو أي من مكوناته، أو تاريخي الطبي. أدرك أهمية اتباع النصائح الموضحة في القائمة المرجعية. لقد أبلغت طبيبي بجميع علاجاتي التجميلية السابقة، بما في ذلك الحقن والعمليات الجراحية والتقشير الكيميائي وما إلى ذلك.</li>
                    <li class="listunorder" style="border:none;">أدرك أن نتائج هذا العلاج لا يمكن تقديرها بدقة مسبقاً أو ضمانها، لأنها قد تختلف من مريض إلى آخر.</li>
                    <li class="listunorder" style="border:none;">أوافق على أنه إذا كان لدي أي أسئلة أو مخاوف بشأن نتائج علاجي. سأقوم بإخطار العيادة على الفور حتى يمكن توفير المتابعة والتدخل في الوقت المنا</li>
                    <li class="listunorder" style="border:none;"><span class="text-red">@emr.set_company</span> غير مسؤول عن أي مضاعفات قد تحدث بسبب عدم الالتزام بالتعليمات المطلوبة لهذا الإجراء</li>
                    <li class="listunorder" style="border:none;">أمنح بموجب هذا موافقتي الطوعية للخضوع لـ سكلبترا وأعفي <span class="text-red">@emr.set_company</span> وطاقمها الطبي والإدارات من أي مسؤولية مرتبطة بهذا الإجراء</li>
                </ul>
            </div>
        </div>
        <div class="row text-justify fw-bold">
            <div class="col-lg-6 my-2">
                "I agree that healthcare provider(s) involved in my care at this facility will access my health information through the Health Information Exchange System (NABIDH) in accordance with the Laws of the United Arab Emirates, Emirate of Dubai Legislation and Dubai Health Authority Policies”
            </div>
            <div dir="rtl" class="col-lg-6 my-4">
                "اوافق بان يقوم مزاولي المهن الصحية المشرفين علي تقديم خدمات الرعاية الصحية لي في هذه المنشاة. بالاطلاع علي معلوماتي الصحية في نظام تبادل  المعلومات الصحية(نابض) وفقا للتشريعات السارية في دولة الامارات العربية المتحدة بشكل عام و امارة دبي بشكل خاص بمافيها القرارات الصادرة عن هيئة الصحة في دبي"
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center table-responsive">
            <table class="table table-bordered table-condensed">
                <tr>
                    <td colspan="3" class="font-weight-bold text-danger fs-18" width="100%">
                        Sign here, only if all of your questions have been answered to your satisfaction<br />قم بالتوقيع هنا، فقط إذا تمت الإجابة على جميع أسئلتك بما يرضيك
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <div id="upat_sign_box">
                            <img alt="Signature" src="" id="upat_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <div id="uwit_sign_box">
                            <img alt="stamp" id="uwit_sign" class="avatar avatar-xl bsquare" />
                        </div>
                    </td>
                    <td width="33%">
                        <img alt="stamp" src="@emr.doc_sign" id="doc_sign" class="avatar avatar-xl bsquare" />
                    </td>
                </tr>
                <tr>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize">@emr.pat_name&nbsp;</label>
                        <span class="font-weight-semibold"> Patient Name<br />اسم المريض</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="upsb_date_patient" name="">&nbsp;</label>
                        <span class="font-weight-semibold">Date<br />تاريخ</span>
                    </td>
                    <td width="33%">
                        @Html.TextBoxFor(m => m.scf_witness, new { @class = "form-control text-center", @id = "uscf_witness", @width = "20px" })
                        <span class="font-weight-semibold">Witness Name<br />اسم الشاهد</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="upsb_date_witness" name="">&nbsp;</label>
                        <span class="font-weight-semibold">Date<br />تاريخ</span>
                    </td>
                    <td width="33%">
                        <label class="form-label text-red text-left text-capitalize">@emr.doc_name&nbsp;</label>
                        <span class="font-weight-semibold">Doctor’s Name<br />اسم الطبيب</span>
                        <br /><br />
                        <label class="form-label text-red text-left" id="uscf_date_doctor">&nbsp;@Model.scf_date_modified</label>
                        <span class="font-weight-semibold">Date<br />تاريخ</span>
                    </td>
                </tr>
                <tr>
                    <td class="font-weight-semibold text-blue" width="33%">
                        Patient Signature<br />توقيع المريض
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> Patient
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('patient')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('patient')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue" width="33%">
                        Witness Signature<br />توقيع الشاهد
                        <br />
                        <div class="btn-group mr-2">
                            <div class="dropdown">
                                <button type="button" class="btn-sm btn-secondary me-2 mb-2 dropdown-toggle" data-bs-toggle="dropdown">
                                    <i class="fa fa-paint-brush">&nbsp;&nbsp;</i> witness
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" onclick="openSignaturePad('witness')">Tab</a>
                                    <a class="dropdown-item" onclick="openWacomTabSignaturePad('witness')">Wacom Tab</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="font-weight-semibold text-blue text-center" width="33%">Doctor’s Signature<br />توقيع الطبيب</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <div class="btn-list btn-animation">
                <button type="submit" class="btn btn-warning btn-sm" id="btn_Update">Save Changes</button>
                <button type="button" class="btn btn-outline-dark btn-sm" id="btn_Reset">Reset</button>
                <button type="button" class="btn btn-danger btn-sm" id="btn_DeleteForm">Delete</button>
                <button type="button" class="btn btn-sm btn-outline-success" id="btn_Print"> Download/Print </button>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(function () {
        if ("@emp_designation.ToString()" === "Super Administrator") {
            $("#btn_Update").show();
        }
        else {
            if ("@emr.set_emr_lock" == "NoLock") {
                $("#btn_Update").show();
            }
            else {
                if ("@emr.app_ae_date" >= "@emr.today") {
                    $("#btn_Update").show();
                }
                else {
                    $("#btn_Update").hide();
                }
            }
        }
        validate();
        GetSignaturename('patient');
        GetSignaturename('witness');
    });

    //#region Validation Initialization
    var validate = function () {
        $("#form_SculptraConsentFormEdit").validate({
            rules: {
                scf_witness: {
                    required: true
                },

            },
            messages: {
                scf_witness: {
                    required: "Please Enter Witness Name"
                },

            },
            highlight: function (element) {
                var elem = $(element);
                $(element).parent().addClass('has-error');
                //error_timeout(elem.attr("id"));
            },
            unhighlight: function (element) {
                var elem = $(element);
                $(element).parent().removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'text-danger fw-bold',
            errorPlacement: function (error, element) {
                var elem = $(element);
                if (element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    }
    //#endregion

    //#region Update  Click
    $('#btn_Update').on('click', function (e) {
        e.preventDefault();
        if ($("#form_SculptraConsentFormEdit").valid()) {
            console.log($("#scfId").val());
            $('#btn_Update').removeClass("btn btn-sm btn-success");
            $('#btn_Update').addClass("btn btn-sm btn-success btn-loaders btn-icon");
            $('#btn_Update').html("Updating the Record....");


            var _dateInsert = {
                "scfId": 0,
                "scf_appId": @emr.appId,
                "scf_witness": $("#uscf_witness").val(),
                "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val()
            }

            console.log(_dateInsert);

            $.ajax({
                type: "Post",
                url: "@Url.Action("EditSculptraConsentForm", "SculptraConsentForm", new {area = "ConsentForms" })",
                dataType: 'JSON',
                data: _dateInsert,
                success: function (data) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");

                    if (data.isSuccess) {
                        if (data.isEdited) {
                            GetSculptraConsentFormInfo();
                            var alertPlaceholder = document.getElementById("Alert");

                            function alert(e, t) {
                                var l = document.createElement("div");
                                l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" role="alert">' + e +
                                    '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                            }
                            alert("<i class='fe fe-check-circle text-white'></i>Sculptra Consent Form Updated Successfully!", "success");
                            Timeout();
                            $("#SculptraConsentForm_edit").show();
                            $("#SculptraConsentForm_add").hide();
                        }
                        else {
                            let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                                "<div class='alert alert-warning' role='alert'>" +
                                "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                                "<strong>Warning.. Sculptra Consent Form already Exists..</strong><br/>" +
                                "</div></div>";
                            $("#Alert").html(html);
                        }
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-6 d-flex justify-content-center'>" +
                        "<div class='alert alert-danger' role='alert'>" +
                        "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                        "<strong>Validation Error.. Please correct before you submit the form!&nbsp;</strong><br/><ul>";

                        $.each(data.message, function (index, value) {
                            html += "<li><small>" + value + "</small><li>";
                            var elem = $("#" + index);
                            if (elem.hasClass("select2-hidden-accessible")) {
                                $("#select2-" + elem.attr("id") + "-container").parent().addClass('error');
                            }
                            else {
                                $(elem).addClass(" is-invalid");
                            }

                            setTimeout(function () {
                                if (elem.hasClass("select2-hidden-accessible")) {
                                    $("#select2-" + elem.attr("id") + "-container").parent().removeClass('error');
                                }
                                else {
                                    $(elem).removeClass("is-invalid");
                                }
                                }, 5000);
                        });

                        html += "</ul></div></div>";

                        $("#error").html(html);
                    }
                },
                error: function (xhr) {
                    $('#btn_Update').removeClass("btn btn-sm btn-warning btn-loaders btn-icon");
                    $('#btn_Update').addClass("btn btn-sm btn-warning");
                    $('#btn_Update').html("Save Changes");
                    Timeout();
                }
            });
        }
        else {
            $('.modal-body').animate({
                scrollTop: ($('.has-error').offset().top - 300)
            }, 2000);
        }
    });
    //#endregion Update Click

        //#region Print
$('#btn_Print').on('click', function (e) {
    e.preventDefault();
    $('#btn_Print').removeClass("btn btn-success");
    $('#btn_Print').addClass("btn btn-success btn-loaders btn-icon");
    $('#btn_Print').html("Printing the Record....");
    $.ajax({
        type: "Get",
        url: "@Url.Action("PrintPDFConsent", "SculptraConsentForm", new {area = "ConsentForms" })?appId=" + @emr.appId + "&form=SculptraConsentForm",
        dataType: 'JSON',
        success: function (data) {
            if (data.isAuthorized) {

                if (data.success)
                    console.log(data);
                    console.log(data.message.pdfPath); {
                    window.location.href = data.message.pdfPath
                }
            }
        },
        error: function (xhr) {
            console.log(xhr);
        }
    });
});
//#endregion Print

    //#region Delete Click
    $('#btn_DeleteForm').on('click', function (e) {
        e.preventDefault();
        $('#btn_DeleteForm').removeClass("btn btn-success");
        $('#btn_DeleteForm').addClass("btn btn-success btn-loaders btn-icon");
        $('#btn_DeleteForm').html("Deleting the Record....");

        $.ajax({
            url: '@Url.Action("DeleteSculptraConsentForm", "SculptraConsentForm", new { area = "ConsentForms" })?appId=' + @emr.appId,
            type: "POST",
            dataType: 'JSON',
            success: function (data) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-warning");
                $('#btn_DeleteForm').html("Delete");
                if (data.isAuthorized) {
                    if (data.success) {
                        var alertPlaceholder = document.getElementById("Alert");
                        function alert(e, t) {
                            var l = document.createElement("div");
                            l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                                '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                        }
                        alert("<i class='fe fe-check-circle text-white'></i>Sculptra Consent Form Deleted Successfully!", "success");
                        clearControls();

                        $("#SculptraConsentForm_edit").hide();
                        $("#SculptraConsentForm_add").show();
                        AddSculptraConsentForm();
                    }
                    else {
                        let html = "<div class='col-12 col-sm-12 col-md-12 d-flex justify-content-center'>" +
                            "<div class='alert alert-warning' role='alert'>" +
                            "<button type='button' class='btn-close mr-negative-16' data-bs-dismiss='alert' aria-hidden='true' aria-label='Close'>×</button>" +
                            "<strong>Error!.. Failed to Delete..</strong><br/>" +
                            "</div></div>";
                        $("#error").html(html);
                    }
                }
                else {
                    var alertPlaceholder = document.getElementById("Alert");
                    function alert(e, t) {
                        var l = document.createElement("div");
                        l.innerHTML = '<div class="alert alert-' + t + ' alert-dismissible" >' + e +
                            '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="Close">x</button></div>', alertPlaceholder.append(l)
                    }
                    alert("<i class='fe fe-check-circle text-white'></i> You do not have Enough Privileges to Delete this Designation!", "Access Denied!");
                }
            },
            error: function (xhr) {
                $('#btn_DeleteForm').removeClass("btn btn-success btn-loaders btn-icon");
                $('#btn_DeleteForm').addClass("btn btn-Delete");
                $('#btn_DeleteForm').html("Delete");
                Timeout();
            }
        })
    });
//#endregion


    //#region Reset
    $('#btn_Reset').on('click', function (e) {
        e.preventDefault();
        clearControls();
    });
    //#endregion Reset

    //#region Clear Controls
    var clearControls = function () {
        $(".form-control").val("");
        $(".form-control-sm").val("");
        $("#upat_sign,#uwit_sign").attr("src", "");

    }
    //#endregion Clear Controls

      //#region Wacom Tab Signature
  var openWacomTabSignaturePad = function (id) {
          var _data = {
              "patId": @emr.patId,
              "person": id,
              "form": "SculptraConsentForm",
              "appId": @emr.appId,
              "formname":"SculptraConsentForm",
              "formlink":"",
              "eSign":""
          }
          $.ajax({
              type: "GET",
              url: "@Url.Action("WacomTabSignaturePad", "WacomTabSignaturePad", new { area = "Common" })",
              contentType: "application/json",
              dataType: "html",
              data: _data,
              success: function (response) {
                  $("#signature_pad_body").html(response);
                  $("#signature_pad").modal("show");
              },
              error: function (xhr) {
                  console.log("Error :" + xhr.statusText);
              }
          });
      }
  //#endregion
    //#region Signature
    var openSignaturePad = function (id) {
        var _data = {
            "patId": @emr.patId,
            "person": id,
            "form": "SculptraConsentForm",
            "appId": @emr.appId,
            "formname":"SculptraConsentForm",
            "formlink":"",
            "eSign":""
        }
        $.ajax({
            type: "GET",
            url: "@Url.Action("SignaturePad", "SignaturePad", new { area = "Common" })",
            contentType: "application/json",
            dataType: "html",
            data: _data,
            success: function (response) {
                $("#signature_pad_body").html(response);
                $("#signature_pad").modal("show");
            },
            error: function (xhr) {
                console.log("Error :" + xhr.statusText);
            }
        });
    }
    //#endregion Signature

    $('#signature_pad').on('hidden.bs.modal', function () {
        if (localStorage.getItem("sign") != null) {
            GetSignaturename('patient');
            GetSignaturename('witness');
            localStorage.removeItem("sign");
        }
    });

   //#region Get Signature
var GetSignaturename = function  (person) {
    $.ajax({
        url: '@Url.Action("GetSignature", "SignaturePad", new { area = "Common" })?appId=' + @emr.appId + '&person=' + person + '&form=SculptraConsentForm',
        type: "GET",
        dataType: "json",
        async: false,
        success: function (response) {
            console.log(response);
            let sign = response[0].psb_sign;
            var date = moment(response[0].psb_date_modified).format("DD-MM-YYYY HH:mm");

            if (response[0].person == "patient") {
                $("#upat_sign_box").removeClass("d-none");
                $("#upsb_date_patient").text(date);
                $("#upat_sign").attr("src", sign);
            }
            if (response[0].person == "witness") {
                $("#uwit_sign_box").removeClass("d-none");
                $("#upsb_date_witness").text(date);
                $("#uwit_sign").attr("src", sign);
            }
        },
        error: function (xhr) {
            console.log(xhr);
            alert(xhr);
        }

    });
};
//#endregion Get Signature

    //#region Alert Timeout
    function Timeout() {
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4200);
    }
    //#endregion Alert Timeout

</script>