
@model BusinessEntities.Accounts.Accounting.AccountVAT

@{
    ViewBag.Title = "Print Account VAT Report";
}

<title>ClinicSoft 9.0 - Powered By Vision Technologies | @ViewBag.Title</title>

<link rel="icon" href="~/assets/images/brand/favicon.ico" type="image/x-icon" />

<!--Bootstrap css -->
<link id="style" href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
@*<link id="style" href="@Url.Content("~/assets/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet">*@

<link id="style" href="~/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
@*<link id="style" href="@Url.Content("~/assets/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet">*@
<!-- Style css -->
<link href="~/assets/css/style.css" rel="stylesheet" />
<link href="~/assets/css/dark.css" rel="stylesheet" />
<link href="~/assets/css/skin-modes.css" rel="stylesheet" />

<!-- Animate css -->
<link href="~/assets/css/animated.css" rel="stylesheet" />

<!-- P-scroll bar css-->
<link href="~/assets/plugins/p-scrollbar/p-scrollbar.css" rel="stylesheet" />

<!---Icons css-->
<link href="~/assets/css/icons.css" rel="stylesheet" />

<!-- Simplebar css -->
<link rel="stylesheet" href="~/assets/plugins/simplebar/css/simplebar.css">

<!-- INTERNAL Morris Charts css -->
<link href="~/assets/plugins/morris/morris.css" rel="stylesheet" />

<!-- INTERNAL Select2 css -->
<link href="~/assets/plugins/select2/select2.min.css" rel="stylesheet" />

<!---Icons css-->
<link href="~/assets/css/icons.css" rel="stylesheet" />

<!-- INTERNAL Fullcalendar css-->
<link href='~/assets/plugins/fullcalendar/fullcalendar.css' rel='stylesheet' />
<link href='~/assets/plugins/fullcalendar/fullcalendar.print.min.css' rel='stylesheet' media='print' />

<!--Date Picker-->
<link href="~/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet" />

<!-- Data table css -->
@*<link href="~/assets/plugins/datatables/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatables/Responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />*@
<link href="~/assets/plugins/datatables/DataTables/css/dataTables.bootstrap5.css" rel="stylesheet" />
<link href="~/assets/plugins/datatables/Buttons/css/buttons.bootstrap5.min.css" rel="stylesheet">
<link href="~/assets/plugins/datatables/Responsive/css/responsive.bootstrap5.min.css" rel="stylesheet" />
<link href="~/assets/plugins/datatables/Select/css/select.dataTables.min.css" rel="stylesheet" />
<link href="~/assets/plugins/datatables/Checkbox/dataTables.checkboxes.css" rel="stylesheet" />

<!-- Color Skin css -->
<link id="theme" href="~/assets/colors/color1.css" rel="stylesheet" type="text/css" />

<!--- INTERNAL Sweetalert css-->
<link href="~/assets/plugins/sweet-alert/jquery.sweet-modal.min.css" rel="stylesheet" />
<link href="~/assets/plugins/sweet-alert/sweetalert.css" rel="stylesheet" />
<link href="~/assets/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
<!-- INTERNAL Accordion Css -->
<link href="~/assets/plugins/accordion/accordion.css" rel="stylesheet" />
<!-- INTERNAL Mutipleselect css-->
<!--<link rel="stylesheet" href="~/assets/plugins/multipleselect/multiple-select.css">-->
<!-- INTERNAL multi css-->
<!--<link rel="stylesheet" href="~/assets/plugins/multi/multi.min.css">-->
<!-- INTERNAL Sumoselect css-->
<link rel="stylesheet" href="~/assets/plugins/sumoselect/sumoselect.css">
<link href="~/assets/plugins/charts-c3/c3-chart.css" rel="stylesheet" />
<link href="~/assets/plugins/notify/css/jquery.growl.css" rel="stylesheet" />
<link href="~/assets/plugins/notify/css/notifIt.css" rel="stylesheet" />
<link href="~/assets/plugins/prism/prism.css" rel="stylesheet" />
<link href="~/assets/css/custom.css" rel="stylesheet" />
<!-- INTERNAL  Tabs css-->
<link href="~/assets/plugins/tabs/style.css" rel="stylesheet" />
<!-- Jquery js-->
<script src="~/assets/js/jquery.min.js"></script>


<!-- INTERNAl Quill css -->
<link href="~/assets/plugins/quill/quill.snow.css" rel="stylesheet">
<link href="~/assets/plugins/quill/quill.bubble.css" rel="stylesheet">


<!-- Row-->
<div class="row p-4" id="printDiv">
    <div class="page-header">
        <div class="page-leftheader">
            <h4 class="page-title mb-0 text-primary">Account VAT Report</h4>
        </div>
    </div>

    <div class="row">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered mb-0">
                    <tr>
                        <td>
                            <h3 class="card-title">Taxable Person Details</h3>
                        </td>
                        <td>
                            <h3 class="card-title">VAT On Sales & All Other Outputs</h3>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <table class="table table-bordered mb-0">
                                <tbody>
                                    <tr>
                                        <td class="">
                                            <span class="font-weight-semibold w-50">TRN </span>
                                        </td>
                                        <td class="" id="trn">@Model.set_vat_regno </td>
                                    </tr>
                                    <tr>
                                        <td class="">
                                            <span class="font-weight-semibold w-50">Taxable Person Name (English) </span>
                                        </td>
                                        <td class="" id="taxPerson">@Model.branch_name </td>
                                    </tr>
                                    <tr>
                                        <td class="">
                                            <span class="font-weight-semibold w-50">Taxable Person Address </span>
                                        </td>
                                        <td class="" id="taxAdd">@Model.set_address </td>
                                    </tr>
                                    <tr>
                                        <td class="">
                                            <span class="font-weight-semibold w-50">VAT Return Period<span class="text-dark">*</span> </span>
                                        </td>
                                        <td class="" id="returnPeriod">@Model.avr_date_from.ToString("dd MMM yyyy") TO @Model.avr_date_to.ToString("dd MMM yyyy")</td>
                                    </tr>
                                    <tr>
                                        <td class="">
                                            <span class="font-weight-semibold w-50">VAT Return Due Date</span>
                                        </td>
                                        <td class="" id="duePeriod">@Model.avr_date_to.AddDays(30).ToString("dd MMM yyyy")  </td>
                                    </tr>
                                    <tr>
                                        <td class="">
                                            <span class="font-weight-semibold w-50">Tax Year End<span class="text-dark">*</span> </span>
                                        </td>
                                        <td class="" id="taxYear">@Model.avr_date_from.ToString("yyyy")</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <table class="table table-bordered border text-nowrap mb-0">
                                <thead>
                                    <tr>
                                        <th class="wd-20p font-weight-bold text-center"></th>
                                        <th class="tx-center font-weight-bold">AMOUNT</th>
                                        <th class="tx-right font-weight-bold">VAT AMOUNT</th>
                                        <th class="tx-right font-weight-bold">TOTAL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-info font-weight-semibold">
                                        <td class="text-center" id="sales_date">@Model.avr_date_from.ToString("dd MMM yyyy") - @Model.avr_date_to.ToString("dd MMM yyyy")</td>
                                        <td class="tx-center text-end" id="sales_amt">@Model.avr_sales_amount </td>
                                        <td class="tx-right text-end" id="sales_vat">@Model.avr_sales_vat </td>
                                        <td class="tx-right text-end" id="sales_total"> @(Model.avr_sales_amount + Model.avr_sales_vat)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h3 class="card-title">Export</h3>
                        </td>
                        <td>
                            <h3 class="card-title">Import</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="table table-bordered border text-nowrap mb-0">
                                <thead>
                                    <tr>
                                        <th class="wd-20p font-weight-bold text-center"></th>
                                        <th class="tx-center font-weight-bold">AMOUNT</th>
                                        <th class="tx-right font-weight-bold">SALES + EXPORT</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-info font-weight-semibold">
                                        <td class="text-center" id="sales_date1">@Model.avr_date_from.ToString("dd MMM yyyy") - @Model.avr_date_to.ToString("dd MMM yyyy")</td>
                                        <td class="tx-center text-end">0.00</td>
                                        <td class="tx-right text-end">0.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <table class="table table-bordered border text-nowrap mb-0">
                                <thead>
                                    <tr>
                                        <th class="wd-20p font-weight-bold text-center"></th>
                                        <th class="tx-center font-weight-bold">AMOUNT</th>
                                        <th class="tx-right font-weight-bold">VAT AMOUNT</th>
                                        <th class="tx-right font-weight-bold">TOTAL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-info font-weight-semibold">
                                        <td class="text-center" id="sales_date3">@Model.avr_date_from.ToString("dd MMM yyyy") - @Model.avr_date_to.ToString("dd MMM yyyy")</td>
                                        <td class="tx-center text-end">0.00</td>
                                        <td class="tx-center text-end">0.00</td>
                                        <td class="tx-right text-end">0.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h3 class="card-title">VAT On Purchases &amp; All Other Inputs</h3>
                        </td>
                        <td>
                            <h3 class="card-title">Import</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="table table-bordered border text-nowrap mb-0">
                                <thead>
                                    <tr>
                                        <th class="wd-20p font-weight-bold text-center"></th>
                                        <th class="tx-center font-weight-bold">AMOUNT</th>
                                        <th class="tx-right font-weight-bold">VAT AMOUNT</th>
                                        <th class="tx-right font-weight-bold">TOTAL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-info font-weight-semibold">
                                        <td class="text-center" id="sales_date2">@Model.avr_date_from.ToString("dd MMM yyyy") - @Model.avr_date_to.ToString("dd MMM yyyy")</td>
                                        <td class="tx-center text-end" id="pinv_net">@Model.avr_purchase_amount</td>
                                        <td class="tx-right text-end" id="pinv_vat">@Model.avr_purchase_vat</td>
                                        <td class="tx-right text-end" id="pinv_net_vat">@(Model.avr_purchase_amount + Model.avr_purchase_vat)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <table class="table table-bordered border text-nowrap mb-0">
                                <thead>
                                    <tr>
                                        <th class="wd-20p font-weight-bold text-center"></th>
                                        <th class="tx-center font-weight-bold">PUR NET + EXP NET</th>
                                        <th class="tx-right font-weight-bold">PUR VAT + EXP VAT</th>
                                        <th class="tx-right font-weight-bold">PUR TTL + EXP TTL</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-info font-weight-semibold">
                                        <td class="text-center">@Model.avr_date_from.ToString("dd MMM yyyy") - @Model.avr_date_to.ToString("dd MMM yyyy")</td>
                                        <td class="tx-center text-end" id="purchase_net">0.00</td>
                                        <td class="tx-center text-end" id="purchase_vat">0.00</td>
                                        <td class="tx-right text-end" id="purchase_net_vat">0.00</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="2">
                            <h3 class="card-title">
                                Net VAT Due
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <table class="table table-bordered border text-nowrap mb-0">
                                <thead>
                                    <tr>
                                        <th class="tx-center font-weight-bold">Description</th>
                                        <th class="tx-right font-weight-bold">AMOUNT</th>
                                        <th class="tx-right font-weight-bold">VAT AMOUNT</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-info font-weight-semibold">
                                        <td class="tx-center">Total Value of due Tax for the Period</td>
                                        <td class="tx-center text-end" id="total_value_due_tax">@Model.avr_sales_amount </td>
                                        <td class="tx-right text-end" id="total_value_vat_due_tax">@Model.avr_sales_vat</td>
                                    </tr>
                                    <tr class="text-info font-weight-semibold">
                                        <td class="tx-center">Total Value of Recoverable Tax for the period</td>
                                        <td class="tx-center text-end" id="total_recoverable_tax">@Model.avr_purchase_amount</td>
                                        <td class="tx-right text-end" id="total_recoverable_vat_tax">@Model.avr_purchase_vat</td>
                                    </tr>
                                    <tr class="text-info font-weight-semibold">
                                        <td class="tx-center">Reverse Charge Provisions</td>
                                        <td class="tx-center text-end" id="purchase_vat">0.00</td>
                                        <td class="tx-right text-end" id="purchase_net_vat">0.00</td>
                                    </tr>
                                    <tr class="text-info font-weight-semibold text-danger">
                                        <td class="tx-center">Payable Tax for the Period</td>
                                        <td class="tx-center text-end"></td>
                                        <td class="tx-right text-end" id="final_vat">@(Model.avr_sales_vat + Model.avr_purchase_vat)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="text-wrap d-none" id="toastVAT">
        <div class="toast-main p-5">
            <div class="demo-static-toast">
                <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
                    <div id="vatToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="toast-header text-dark">
                            <img src="~/assets/images/brand/favicon.ico" class="rounded me-2" alt="img" height="16">
                            <strong class="me-auto">VAT Report</strong>
                            <small>Just Now</small>
                            <button type="button" class="btn-close btn-close" data-bs-dismiss="toast" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="toast-body" id="toastBody">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    //#region Page Load & Initialization
    $(function () {
        var elem = 'printDiv';
        var header_str = '<html><head><title>' + document.title + '</title></head><body>';
        var footer_str = '</body></html>';
        var new_str = document.getElementById(elem).innerHTML;
        var old_str = document.body.innerHTML;
        document.body.innerHTML = header_str + new_str + footer_str;
        window.print();
        document.body.innerHTML = old_str;
        return false;
    });
    //#endregion Page Load & Initialization
</script>






